---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:10:\"2018-04-01\";s:5:\"title\";s:12:\"iotHubClient\";s:11:\"description\";s:63:\"Use
  this API to manage the IoT hubs in your Azure subscription.\";s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:6:\"header\";s:24:\"MICROSOFT_MIT_NO_VERSION\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.Devices/operations:
    get:
      tags:
      - Operations
      x-ms-examples:
        Operations_List:
          $ref: ./examples/iothub_operations.json
      operationId: Operations_List
      description: Lists all of the available IoT Hub REST API operations.
      parameters:
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}:
    get:
      tags:
      - GET
      summary: Get the non-security related metadata of an IoT hub
      description: Get the non-security related metadata of an IoT hub.
      operationId: IotHubResource_Get
      x-ms-examples:
        IotHubResource_Get:
          $ref: ./examples/iothub_get.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      responses:
        200:
          description: The body contains all the non-security properties of the IoT
            hub. Security-related properties are set to null.
          schema:
            $ref: '#/definitions/IotHubDescription'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
    put:
      tags:
      - PUT
      summary: Create or update the metadata of an IoT hub.
      description: Create or update the metadata of an Iot hub. The usual pattern
        to modify a property is to retrieve the IoT hub metadata and security metadata,
        and then combine them with the modified values in a new body to update the
        IoT hub.
      operationId: IotHubResource_CreateOrUpdate
      x-ms-examples:
        IotHubResource_CreateOrUpdate:
          $ref: ./examples/iothub_createOrUpdate.json
      x-ms-long-running-operation: true
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      - name: iotHubDescription
        in: body
        description: The IoT hub metadata and security metadata.
        required: true
        schema:
          $ref: '#/definitions/IotHubDescription'
      - name: If-Match
        in: header
        required: false
        type: string
        description: ETag of the IoT Hub. Do not specify for creating a brand new
          IoT Hub. Required to update an existing IoT Hub.
      responses:
        201:
          description: This is a long running operation. The operation returns a 201
            if the validation is complete. The response includes an Azure-AsyncOperation
            header that contains a status URL. Clients are expected to poll the status
            URL for the status of the operation. If successful, the operation returns
            HTTP status code of 201 (OK).
          schema:
            $ref: '#/definitions/IotHubDescription'
        200:
          description: This is returned as a response to the status polling request
            for the create or update operation. The body contains the resource representation
            that indicates a transitional provisioning state.
          schema:
            $ref: '#/definitions/IotHubDescription'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
    patch:
      tags:
      - PATCH
      summary: Update an existing IoT Hubs tags.
      description: Update an existing IoT Hub tags. to update other fields use the
        CreateOrUpdate method
      x-ms-long-running-operation: true
      operationId: IotHubResource_Update
      x-ms-examples:
        IotHubResource_Update:
          $ref: ./examples/iothub_patch.json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: Resource group identifier.
      - name: resourceName
        in: path
        required: true
        type: string
        description: Name of iot hub to update.
      - name: IotHubTags
        in: body
        required: true
        description: Updated tag information to set into the iot hub instance.
        schema:
          $ref: '#/definitions/TagsResource'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: Iot Hub was successfully updated
          schema:
            $ref: '#/definitions/IotHubDescription'
      produces:
      - application/json
      consumes:
      - application/json
    delete:
      tags:
      - DELETE
      summary: Delete an IoT hub
      description: Delete an IoT hub.
      operationId: IotHubResource_Delete
      x-ms-examples:
        IotHubResource_Delete:
          $ref: ./examples/iothub_delete.json
      x-ms-long-running-operation: true
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      responses:
        202:
          description: The Iot Hub resource provider always returns a 202 Accepted
            status code with valid Location and Retry-After headers. The resource
            provider also sets the Azure-AsyncOperation header with a URL that points
            to the operation resource for this operation. Subsequent GET attempts
            on the resource after a DELETE operation return a resource representation
            that indicates a transitional provisioning state (such as Terminating).
            To retrieve the status of the operation, a client can either poll the
            URL returned in the Location header after the Retry-After interval, get
            the IoT Hub service status directly, or query the operation resource.
          schema:
            $ref: '#/definitions/IotHubDescription'
        200:
          description: This is returned as a response to the status polling request
            for the delete operation. The body contains the resource representation
            that indicates a transitional provisioning state.
          schema:
            $ref: '#/definitions/IotHubDescription'
        204:
          description: Once the long running delete operation completes successfully,
            a 204 No Content status code is returned when the status polling request
            finds the Iot hub metadata in the service and the status of the delete
            operation is set to a completed state.
        404:
          description: After the long running delete operation completes successfully,
            a 404 Not Found is returned when the status polling request no longer
            finds the Iot hub metadata in the service.
          schema:
            $ref: '#/definitions/ErrorDetails'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/IotHubs:
    get:
      tags:
      - GET
      summary: Get all the IoT hubs in a subscription
      description: Get all the IoT hubs in a subscription.
      operationId: IotHubResource_ListBySubscription
      x-ms-examples:
        IotHubResource_ListBySubscription:
          $ref: ./examples/iothub_listbysubscription.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      responses:
        200:
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the IoT hubs in the subscription.
          schema:
            $ref: '#/definitions/IotHubDescriptionListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs:
    get:
      tags:
      - GET
      summary: Get all the IoT hubs in a resource group
      description: Get all the IoT hubs in a resource group.
      operationId: IotHubResource_ListByResourceGroup
      x-ms-examples:
        IotHubResource_ListByResourceGroup:
          $ref: ./examples/iothub_listbyrg.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      responses:
        200:
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the metadata from all the IoT hubs in the resource group.
          schema:
            $ref: '#/definitions/IotHubDescriptionListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubStats
  : get:
      tags:
      - GET
      summary: Get the statistics from an IoT hub
      description: Get the statistics from an IoT hub.
      operationId: IotHubResource_GetStats
      x-ms-examples:
        IotHubResource_GetStats:
          $ref: ./examples/iothub_stats.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      responses:
        200:
          description: This is a synchronous operation. The body contains JSON-serialized
            statistics from the identity registry in the IoT hub.
          schema:
            $ref: '#/definitions/RegistryStatistics'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/skus:
    get:
      tags:
      - GET
      summary: Get the list of valid SKUs for an IoT hub
      description: Get the list of valid SKUs for an IoT hub.
      operationId: IotHubResource_GetValidSkus
      x-ms-examples:
        IotHubResource_GetValidSkus:
          $ref: ./examples/iothub_getskus.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      responses:
        200:
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of the valid SKUs for this IoT hub.
          schema:
            $ref: '#/definitions/IotHubSkuDescriptionListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups
  : get:
      tags:
      - GET
      summary: Get a list of the consumer groups in the Event Hub-compatible device-to-cloud
        endpoint in an IoT hub
      description: Get a list of the consumer groups in the Event Hub-compatible device-to-cloud
        endpoint in an IoT hub.
      operationId: IotHubResource_ListEventHubConsumerGroups
      x-ms-examples:
        IotHubResource_ListEventHubConsumerGroups:
          $ref: ./examples/iothub_listehgroups.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      - name: eventHubEndpointName
        in: path
        description: The name of the Event Hub-compatible endpoint.
        required: true
        type: string
      responses:
        200:
          description: This is a synchronous operation. The body contains a JSON-serialized
            list of the consumer groups in the Event Hub-compatible endpoint in this
            IoT hub
          schema:
            $ref: '#/definitions/EventHubConsumerGroupsListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups/{name}
  : get:
      tags:
      - GET
      summary: Get a consumer group from the Event Hub-compatible device-to-cloud
        endpoint for an IoT hub
      description: Get a consumer group from the Event Hub-compatible device-to-cloud
        endpoint for an IoT hub.
      operationId: IotHubResource_GetEventHubConsumerGroup
      x-ms-examples:
        IotHubResource_ListEventHubConsumerGroups:
          $ref: ./examples/iothub_getconsumergroup.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      - name: eventHubEndpointName
        in: path
        description: The name of the Event Hub-compatible endpoint in the IoT hub.
        required: true
        type: string
      - name: name
        in: path
        description: The name of the consumer group to retrieve.
        required: true
        type: string
      responses:
        200:
          description: This is a synchronous operation. The body contains a JSON-serialized
            consumer group.
          schema:
            $ref: '#/definitions/EventHubConsumerGroupInfo'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
    put:
      tags:
      - PUT
      summary: Add a consumer group to an Event Hub-compatible endpoint in an IoT
        hub
      description: Add a consumer group to an Event Hub-compatible endpoint in an
        IoT hub.
      operationId: IotHubResource_CreateEventHubConsumerGroup
      x-ms-examples:
        IotHubResource_CreateEventHubConsumerGroup:
          $ref: ./examples/iothub_createconsumergroup.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      - name: eventHubEndpointName
        in: path
        description: The name of the Event Hub-compatible endpoint in the IoT hub.
        required: true
        type: string
      - name: name
        in: path
        description: The name of the consumer group to add.
        required: true
        type: string
      responses:
        200:
          description: This is a synchronous operation.
          schema:
            $ref: '#/definitions/EventHubConsumerGroupInfo'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
    delete:
      tags:
      - DELETE
      summary: Delete a consumer group from an Event Hub-compatible endpoint in an
        IoT hub
      description: Delete a consumer group from an Event Hub-compatible endpoint in
        an IoT hub.
      operationId: IotHubResource_DeleteEventHubConsumerGroup
      x-ms-examples:
        IotHubResource_DeleteEventHubConsumerGroup:
          $ref: ./examples/iothub_deleteconsumergroup.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      - name: eventHubEndpointName
        in: path
        description: The name of the Event Hub-compatible endpoint in the IoT hub.
        required: true
        type: string
      - name: name
        in: path
        description: The name of the consumer group to delete.
        required: true
        type: string
      responses:
        200:
          description: This is a synchronous operation.
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/jobs:
    get:
      tags:
      - GET
      summary: 'Get a list of all the jobs in an IoT hub. For more information, see:
        https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry'
      description: 'Get a list of all the jobs in an IoT hub. For more information,
        see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry.'
      operationId: IotHubResource_ListJobs
      x-ms-examples:
        IotHubResource_ListJobs:
          $ref: ./examples/iothub_listjobs.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      responses:
        200:
          description: This is a synchronous operation. The response contains a JSON-serialized
            array of all the jobs in the IoT hub.
          schema:
            $ref: '#/definitions/JobResponseListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/jobs/{jobId}
  : get:
      tags:
      - GET
      summary: 'Get the details of a job from an IoT hub. For more information, see:
        https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry'
      description: 'Get the details of a job from an IoT hub. For more information,
        see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry.'
      operationId: IotHubResource_GetJob
      x-ms-examples:
        IotHubResource_GetJob:
          $ref: ./examples/iothub_getjob.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      - name: jobId
        in: path
        description: The job identifier.
        required: true
        type: string
      responses:
        200:
          description: This is a synchronous operation. The response contains a JSON-serialized
            description of the job in the IoT hub.
          schema:
            $ref: '#/definitions/JobResponse'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/quotaMetrics
  : get:
      tags:
      - GET
      summary: Get the quota metrics for an IoT hub
      description: Get the quota metrics for an IoT hub.
      operationId: IotHubResource_GetQuotaMetrics
      x-ms-examples:
        IotHubResource_GetQuotaMetrics:
          $ref: ./examples/iothub_quotametrics.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      responses:
        200:
          description: This is a synchronous operation. The response contains a JSON-serialized
            array of the quota metrics for the IoT hub.
          schema:
            $ref: '#/definitions/IotHubQuotaMetricInfoListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{iotHubName}/routingEndpointsHealth
  : get:
      tags:
      - GET
      operationId: IotHubResource_GetEndpointHealth
      summary: Get the health for routing endpoints
      description: Get the health for routing endpoints.
      x-ms-examples:
        IotHubResource_GetEndpointHealth:
          $ref: ./examples/iothub_routingendpointhealth.json
      consumes: []
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        in: path
        required: true
        type: string
      - name: iotHubName
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EndpointHealthDataListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/checkNameAvailability:
    post:
      tags:
      - POST
      summary: Check if an IoT hub name is available
      description: Check if an IoT hub name is available.
      operationId: IotHubResource_CheckNameAvailability
      x-ms-examples:
        IotHubResource_CheckNameAvailability:
          $ref: ./examples/checkNameAvailability.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - name: operationInputs
        in: body
        description: Set the name parameter in the OperationInputs structure to the
          name of the IoT hub to check.
        required: true
        schema:
          $ref: '#/definitions/OperationInputs'
      responses:
        200:
          description: This is a synchronous operation. The body contains a JSON-serialized
            response that specifies whether the IoT hub name is available. If the
            name is not available, the body contains the reason.
          schema:
            $ref: '#/definitions/IotHubNameAvailabilityInfo'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
  /subscriptions/{subscriptionId}/providers/Microsoft.Devices/usages:
    get:
      tags:
      - GET
      summary: Get the number of iot hubs in the subscription
      description: Get the number of free and paid iot hubs in the subscription
      operationId: ResourceProviderCommon_GetSubscriptionQuota
      x-ms-examples:
        ResourceProviderCommon_GetSubscriptionQuota:
          $ref: ./examples/iothub_usages.json
      consumes: []
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/UserSubscriptionQuotaListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{iotHubName}/routing/routes/$testall
  : post:
      tags:
      - POST
      operationId: IotHubResource_TestAllRoutes
      summary: Test all routes
      description: Test all routes configured in this Iot Hub
      x-ms-examples:
        IotHubResource_TestAllRoutes:
          $ref: ./examples/iothub_testallroutes.json
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: input
        description: Input for testing all routes
        in: body
        required: true
        schema:
          $ref: '#/definitions/TestAllRoutesInput'
      - name: iotHubName
        description: IotHub to be tested
        in: path
        required: true
        type: string
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: resource group which Iot Hub belongs to
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TestAllRoutesResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{iotHubName}/routing/routes/$testnew
  : post:
      tags:
      - POST
      operationId: IotHubResource_TestRoute
      summary: Test the new route
      description: Test the new route for this Iot Hub
      x-ms-examples:
        IotHubResource_TestRoute:
          $ref: ./examples/iothub_testnewroute.json
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: input
        description: Route that needs to be tested
        in: body
        required: true
        schema:
          $ref: '#/definitions/TestRouteInput'
      - name: iotHubName
        description: IotHub to be tested
        in: path
        required: true
        type: string
      - $ref: '#/parameters/subscriptionId'
      - name: resourceGroupName
        description: resource group which Iot Hub belongs to
        in: path
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TestRouteResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/listkeys:
    post:
      tags:
      - POST
      summary: 'Get the security metadata for an IoT hub. For more information, see:
        https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security'
      description: 'Get the security metadata for an IoT hub. For more information,
        see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security.'
      operationId: IotHubResource_ListKeys
      x-ms-examples:
        IotHubResource_ListKeys:
          $ref: ./examples/iothub_listkeys.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      responses:
        200:
          description: This is a synchronous operation. The body contains a JSON-serialized
            array of shared access policies, including keys, that you can use to access
            the IoT hub endpoints.
          schema:
            $ref: '#/definitions/SharedAccessSignatureAuthorizationRuleListResult'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubKeys/{keyName}/listkeys
  : post:
      tags:
      - POST
      summary: 'Get a shared access policy by name from an IoT hub. For more information,
        see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security'
      description: 'Get a shared access policy by name from an IoT hub. For more information,
        see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security.'
      operationId: IotHubResource_GetKeysForKeyName
      x-ms-examples:
        IotHubResource_GetKeysForKeyName:
          $ref: ./examples/iothub_getkey.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      - name: keyName
        in: path
        description: The name of the shared access policy.
        required: true
        type: string
      responses:
        200:
          description: This is a synchronous operation. The body contains a JSON-serialized
            shared access policy, including keys, that you can use to access one or
            more IoT hub endpoints.
          schema:
            $ref: '#/definitions/SharedAccessSignatureAuthorizationRule'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/exportDevices
  : post:
      tags:
      - POST
      summary: 'Exports all the device identities in the IoT hub identity registry
        to an Azure Storage blob container. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities'
      description: 'Exports all the device identities in the IoT hub identity registry
        to an Azure Storage blob container. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities.'
      operationId: IotHubResource_ExportDevices
      x-ms-examples:
        IotHubResource_ExportDevices:
          $ref: ./examples/iothub_exportdevices.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      - name: exportDevicesParameters
        in: body
        description: The parameters that specify the export devices operation.
        required: true
        schema:
          $ref: '#/definitions/ExportDevicesRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobResponse'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/importDevices
  : post:
      tags:
      - POST
      summary: 'Import, update, or delete device identities in the IoT hub identity
        registry from a blob. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities'
      description: 'Import, update, or delete device identities in the IoT hub identity
        registry from a blob. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities.'
      operationId: IotHubResource_ImportDevices
      x-ms-examples:
        IotHubResource_ImportDevices:
          $ref: ./examples/iothub_importdevices.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      - name: importDevicesParameters
        in: body
        description: The parameters that specify the import devices operation.
        required: true
        schema:
          $ref: '#/definitions/ImportDevicesRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobResponse'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates
  : get:
      tags:
      - Certificates
      summary: Get the certificate list.
      description: Returns the list of certificates.
      operationId: Certificates_ListByIotHub
      x-ms-examples:
        Certificates_ListByIotHub:
          $ref: ./examples/iothub_listcertificates.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      responses:
        200:
          description: The body contains all the certificate list.
          schema:
            $ref: '#/definitions/CertificateListDescription'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}
  : get:
      tags:
      - Certificates
      summary: Get the certificate.
      description: Returns the certificate.
      operationId: Certificates_Get
      x-ms-examples:
        Certificates_Get:
          $ref: ./examples/iothub_getcertificate.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      - $ref: '#/parameters/certificateName'
      responses:
        200:
          description: The body contains the certificate.
          schema:
            $ref: '#/definitions/CertificateDescription'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
    put:
      tags:
      - Certificates
      summary: Upload the certificate to the IoT hub.
      description: Adds new or replaces existing certificate.
      operationId: Certificates_CreateOrUpdate
      x-ms-examples:
        Certificates_CreateOrUpdate:
          $ref: ./examples/iothub_certificatescreateorupdate.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      - $ref: '#/parameters/certificateName'
      - name: certificateDescription
        in: body
        description: The certificate body.
        required: true
        schema:
          $ref: '#/definitions/CertificateBodyDescription'
      - name: If-Match
        in: header
        required: false
        type: string
        description: ETag of the Certificate. Do not specify for creating a brand
          new certificate. Required to update an existing certificate.
      responses:
        201:
          description: If certificate didn't exist creation was successful, the operation
            returns HTTP status code of 201 (OK).
          schema:
            $ref: '#/definitions/CertificateDescription'
        200:
          description: If certificate already exist and update was successful, the
            operation returns HTTP status code of 201 (OK).
          schema:
            $ref: '#/definitions/CertificateDescription'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
    delete:
      tags:
      - Certificates
      summary: Delete an X509 certificate.
      description: Deletes an existing X509 certificate or does nothing if it does
        not exist.
      operationId: Certificates_Delete
      x-ms-examples:
        Certificates_Delete:
          $ref: ./examples/iothub_certificatesdelete.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      - $ref: '#/parameters/certificateName'
      - name: If-Match
        in: header
        required: true
        type: string
        description: ETag of the Certificate.
      responses:
        200:
          description: Certificate has been deleted.
        204:
          description: Certificate does not exist.
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}/generateVerificationCode
  : post:
      tags:
      - Certificates
      summary: Generate verification code for proof of possession flow.
      description: Generates verification code for proof of possession flow. The verification
        code will be used to generate a leaf certificate.
      operationId: Certificates_GenerateVerificationCode
      x-ms-examples:
        Certificates_GenerateVerificationCode:
          $ref: ./examples/iothub_generateverificationcode.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      - $ref: '#/parameters/certificateName'
      - name: If-Match
        in: header
        required: true
        type: string
        description: ETag of the Certificate.
      responses:
        200:
          description: The body contains the certificate.
          schema:
            $ref: '#/definitions/CertificateWithNonceDescription'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}/verify
  : post:
      tags:
      - Certificates
      summary: Verify certificate's private key possession.
      description: Verifies the certificate's private key possession by providing
        the leaf cert issued by the verifying pre uploaded certificate.
      operationId: Certificates_Verify
      x-ms-examples:
        Certificates_Verify:
          $ref: ./examples/iothub_certverify.json
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/resourceName'
      - $ref: '#/parameters/certificateName'
      - name: certificateVerificationBody
        in: body
        description: The name of the certificate
        required: true
        schema:
          $ref: '#/definitions/CertificateVerificationDescription'
      - name: If-Match
        in: header
        required: true
        type: string
        description: ETag of the Certificate.
      responses:
        200:
          description: The body contains the certificate.
          schema:
            $ref: '#/definitions/CertificateDescription'
        default:
          description: DefaultErrorResponse
          schema:
            $ref: '#/definitions/ErrorDetails'
      deprecated: false
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":63:{s:34:\"CertificateVerificationDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  JSON-serialized leaf certificate\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"certificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"base-64
  representation of X509 certificate .cer file or just .pem file content.\";s:4:\"type\";s:6:\"string\";}}}s:26:\"CertificateListDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  JSON-serialized array of Certificate objects.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  array of Certificate objects.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/CertificateDescription\";}}}}s:26:\"CertificateBodyDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  JSON-serialized X509 Certificate.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"certificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"base-64
  representation of the X509 leaf certificate .cer file or just .pem file content.\";s:4:\"type\";s:6:\"string\";}}}s:22:\"CertificateDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"The
  X509 Certificate.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CertificateProperties\";}s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  resource identifier.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  name of the certificate.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  entity tag.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  resource type.\";}}s:19:\"x-ms-azure-resource\";b:1;}s:31:\"CertificateWithNonceDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"The
  X509 Certificate.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/CertificatePropertiesWithNonce\";}s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  resource identifier.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  name of the certificate.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  entity tag.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  resource type.\";}}s:19:\"x-ms-azure-resource\";b:1;}s:38:\"SharedAccessSignatureAuthorizationRule\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  properties of an IoT hub shared access policy.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"keyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  name of the shared access policy.\";s:4:\"type\";s:6:\"string\";}s:10:\"primaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  primary key.\";s:4:\"type\";s:6:\"string\";}s:12:\"secondaryKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  secondary key.\";s:4:\"type\";s:6:\"string\";}s:6:\"rights\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"The
  permissions assigned to the shared access policy.\";s:4:\"enum\";a:15:{i:0;s:12:\"RegistryRead\";i:1;s:13:\"RegistryWrite\";i:2;s:14:\"ServiceConnect\";i:3;s:13:\"DeviceConnect\";i:4;s:27:\"RegistryRead,
  RegistryWrite\";i:5;s:28:\"RegistryRead, ServiceConnect\";i:6;s:27:\"RegistryRead,
  DeviceConnect\";i:7;s:29:\"RegistryWrite, ServiceConnect\";i:8;s:28:\"RegistryWrite,
  DeviceConnect\";i:9;s:29:\"ServiceConnect, DeviceConnect\";i:10;s:43:\"RegistryRead,
  RegistryWrite, ServiceConnect\";i:11;s:42:\"RegistryRead, RegistryWrite, DeviceConnect\";i:12;s:43:\"RegistryRead,
  ServiceConnect, DeviceConnect\";i:13;s:44:\"RegistryWrite, ServiceConnect, DeviceConnect\";i:14;s:58:\"RegistryRead,
  RegistryWrite, ServiceConnect, DeviceConnect\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"AccessRights\";s:13:\"modelAsString\";b:0;}}}s:8:\"required\";a:2:{i:0;s:7:\"keyName\";i:1;s:6:\"rights\";}}s:21:\"CertificateProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  description of an X509 CA Certificate.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  certificate's subject name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:6:\"expiry\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  certificate's expiration date and time.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:17:\"date-time-rfc1123\";s:8:\"readOnly\";b:1;}s:10:\"thumbprint\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  certificate's thumbprint.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"isVerified\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Determines
  whether certificate has been verified.\";s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:7:\"created\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  certificate's create date and time.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:17:\"date-time-rfc1123\";s:8:\"readOnly\";b:1;}s:7:\"updated\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"The
  certificate's last update date and time.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:17:\"date-time-rfc1123\";s:8:\"readOnly\";b:1;}s:11:\"certificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  certificate content\";s:4:\"type\";s:6:\"string\";}}}s:30:\"CertificatePropertiesWithNonce\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"The
  description of an X509 CA Certificate including the challenge nonce issued for the
  Proof-Of-Possession flow.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  certificate's subject name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:6:\"expiry\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  certificate's expiration date and time.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:17:\"date-time-rfc1123\";s:8:\"readOnly\";b:1;}s:10:\"thumbprint\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  certificate's thumbprint.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"isVerified\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Determines
  whether certificate has been verified.\";s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:7:\"created\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  certificate's create date and time.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:17:\"date-time-rfc1123\";s:8:\"readOnly\";b:1;}s:7:\"updated\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"The
  certificate's last update date and time.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:17:\"date-time-rfc1123\";s:8:\"readOnly\";b:1;}s:16:\"verificationCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  certificate's verification code that will be used for proof of possession.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"certificate\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  certificate content\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:16:\"IotHubProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  properties of an IoT hub.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:21:\"authorizationPolicies\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  shared access policies you can use to secure a connection to the IoT hub.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/SharedAccessSignatureAuthorizationRule\";}}s:13:\"ipFilterRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  IP filter rules.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/IpFilterRule\";}}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  provisioning state.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  hub state.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"hostName\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  name of the host.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"eventHubEndpoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:234:\"The
  Event Hub-compatible endpoint properties. The possible keys to this dictionary are
  events and operationsMonitoringEvents. Both of these keys have to be present in
  the dictionary while making create or update calls for the IoT hub.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/EventHubProperties\";}}s:7:\"routing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/RoutingProperties\";}s:16:\"storageEndpoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:368:\"The
  list of Azure Storage endpoints where you can upload files. Currently you can configure
  only one Azure Storage account and that MUST have its key as $default. Specifying
  more than one storage account causes an error to be thrown. Not specifying a value
  for this property when the enableFileUploadNotifications property is set to True,
  causes an error to be thrown.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/StorageEndpointProperties\";}}s:18:\"messagingEndpoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  messaging endpoint properties for the file upload notification queue.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/MessagingEndpointProperties\";}}s:29:\"enableFileUploadNotifications\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"If
  True, file upload notifications are enabled.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"cloudToDevice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CloudToDeviceProperties\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"IoT
  hub comments.\";s:4:\"type\";s:6:\"string\";}s:30:\"operationsMonitoringProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/OperationsMonitoringProperties\";}s:8:\"features\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  capabilities and features enabled for the IoT hub.\";s:4:\"enum\";a:2:{i:0;s:4:\"None\";i:1;s:16:\"DeviceManagement\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"Capabilities\";s:13:\"modelAsString\";b:1;}}}}s:13:\"IotHubSkuInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Information
  about the SKU of the IoT hub.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  name of the SKU.\";s:4:\"enum\";a:7:{i:0;s:2:\"F1\";i:1;s:2:\"S1\";i:2;s:2:\"S2\";i:3;s:2:\"S3\";i:4;s:2:\"B1\";i:5;s:2:\"B2\";i:6;s:2:\"B3\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"IotHubSku\";s:13:\"modelAsString\";b:1;}}s:4:\"tier\";O:8:\"stdClass\":5:{s:11:\"description\";s:33:\"The
  billing tier for the IoT hub.\";s:4:\"enum\";a:3:{i:0;s:4:\"Free\";i:1;s:8:\"Standard\";i:2;s:5:\"Basic\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"IotHubSkuTier\";s:13:\"modelAsString\";b:0;}}s:8:\"capacity\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:128:\"The
  number of provisioned IoT Hub units. See: https://docs.microsoft.com/azure/azure-subscription-service-limits#iot-hub-limits.\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:18:\"EventHubProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  properties of the provisioned Event Hub-compatible endpoint used by the IoT hub.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"retentionTimeInDays\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:154:\"The
  retention time for device-to-cloud messages in days. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#device-to-cloud-messages\";s:4:\"type\";s:7:\"integer\";}s:14:\"partitionCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:200:\"The
  number of partitions for receiving device-to-cloud messages in the Event Hub-compatible
  endpoint. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#device-to-cloud-messages.\";s:4:\"type\";s:7:\"integer\";}s:12:\"partitionIds\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  partition ids in the Event Hub-compatible endpoint.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"path\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  Event Hub-compatible name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"endpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  Event Hub-compatible endpoint.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:25:\"StorageEndpointProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  properties of the Azure Storage endpoint for file upload.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"sasTtlAsIso8601\";O:8:\"stdClass\":3:{s:11:\"description\";s:210:\"The
  period of time for which the SAS URI generated by IoT Hub for file upload is valid.
  See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload#file-upload-notification-configuration-options.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";}s:16:\"connectionString\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  connection string for the Azure Storage account to which files are uploaded.\";s:4:\"type\";s:6:\"string\";}s:13:\"containerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"The
  name of the root container where you upload files. The container need not exist
  but should be creatable using the connectionString specified.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:16:\"connectionString\";i:1;s:13:\"containerName\";}}s:27:\"MessagingEndpointProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  properties of the messaging endpoints used by this IoT hub.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"lockDurationAsIso8601\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  lock duration. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";}s:12:\"ttlAsIso8601\";O:8:\"stdClass\":3:{s:11:\"description\";s:175:\"The
  period of time for which a message is available to consume before it is expired
  by the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";}s:16:\"maxDeliveryCount\";O:8:\"stdClass\":5:{s:11:\"description\";s:138:\"The
  number of times the IoT hub attempts to deliver a message. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:100;}}}s:23:\"CloudToDeviceProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  IoT hub cloud-to-device messaging properties.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"maxDeliveryCount\";O:8:\"stdClass\":5:{s:11:\"description\";s:171:\"The
  max delivery count for cloud-to-device messages in the device queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:100;}s:19:\"defaultTtlAsIso8601\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"The
  default time to live for cloud-to-device messages in the device queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";}s:8:\"feedback\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FeedbackProperties\";}}}s:30:\"OperationsMonitoringProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:274:\"The
  operations monitoring properties for the IoT hub. The possible keys to the dictionary
  are Connections, DeviceTelemetry, C2DCommands, DeviceIdentityOperations, FileUploadOperations,
  Routes, D2CTwinOperations, C2DTwinOperations, TwinQueries, JobsOperations, DirectMethods.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"events\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":4:{s:4:\"enum\";a:4:{i:0;s:4:\"None\";i:1;s:5:\"Error\";i:2;s:11:\"Information\";i:3;s:18:\"Error,
  Information\";}s:11:\"description\";s:32:\"The operations monitoring level.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"OperationMonitoringLevel\";s:13:\"modelAsString\";b:1;}}}}}s:12:\"IpFilterRule\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  IP filter rules for the IoT hub.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"filterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  name of the IP filter rule.\";s:4:\"type\";s:6:\"string\";}s:6:\"action\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  desired action for requests captured by this rule.\";s:4:\"enum\";a:2:{i:0;s:6:\"Accept\";i:1;s:6:\"Reject\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"IpFilterActionType\";s:13:\"modelAsString\";b:0;}}s:6:\"ipMask\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"A
  string that contains the IP address range in CIDR notation for the rule.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:10:\"filterName\";i:1;s:6:\"action\";i:2;s:6:\"ipMask\";}}s:18:\"FeedbackProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  properties of the feedback queue for cloud-to-device messages.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"lockDurationAsIso8601\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"The
  lock duration for the feedback queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";}s:12:\"ttlAsIso8601\";O:8:\"stdClass\":3:{s:11:\"description\";s:198:\"The
  period of time for which a message is available to consume before it is expired
  by the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";}s:16:\"maxDeliveryCount\";O:8:\"stdClass\":5:{s:11:\"description\";s:183:\"The
  number of times the IoT hub attempts to deliver a message on the feedback queue.
  See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:100;}}}s:17:\"RoutingProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"The
  routing related properties of the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"endpoints\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RoutingEndpoints\";}s:6:\"routes\";O:8:\"stdClass\":3:{s:11:\"description\";s:230:\"The
  list of user-provided routing rules that the IoT hub uses to route messages to built-in
  and custom endpoints. A maximum of 100 routing rules are allowed for paid hubs and
  a maximum of 5 routing rules are allowed for free hubs.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RouteProperties\";}}s:13:\"fallbackRoute\";O:8:\"stdClass\":2:{s:11:\"description\";s:327:\"The
  properties of the route that is used as a fall-back route when none of the conditions
  specified in the 'routes' section are met. This is an optional parameter. When this
  property is not set, the messages which do not meet any of the conditions specified
  in the 'routes' section get routed to the built-in eventhub endpoint.\";s:4:\"$ref\";s:37:\"#/definitions/FallbackRouteProperties\";}}}s:16:\"RoutingEndpoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:276:\"The
  properties related to the custom endpoints to which your IoT hub routes messages
  based on the routing rules. A maximum of 10 custom endpoints are allowed across
  all endpoint types for paid hubs and only 1 custom endpoint is allowed across all
  endpoint types for free hubs.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"serviceBusQueues\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  list of Service Bus queue endpoints that IoT hub routes the messages to, based on
  the routing rules.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/RoutingServiceBusQueueEndpointProperties\";}}s:16:\"serviceBusTopics\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  list of Service Bus topic endpoints that the IoT hub routes the messages to, based
  on the routing rules.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/RoutingServiceBusTopicEndpointProperties\";}}s:9:\"eventHubs\";O:8:\"stdClass\":3:{s:11:\"description\";s:154:\"The
  list of Event Hubs endpoints that IoT hub routes messages to, based on the routing
  rules. This list does not include the built-in Event Hubs endpoint.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/RoutingEventHubProperties\";}}s:17:\"storageContainers\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  list of storage container endpoints that IoT hub routes messages to, based on the
  routing rules.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/RoutingStorageContainerProperties\";}}}}s:40:\"RoutingServiceBusQueueEndpointProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  properties related to service bus queue endpoint types.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"connectionString\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  connection string of the service bus queue endpoint.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:372:\"The
  name that identifies this endpoint. The name can only include alphanumeric characters,
  periods, underscores, hyphens and has a maximum length of 64 characters. The following
  names are reserved:  events, operationsMonitoringEvents, fileNotifications, $default.
  Endpoint names must be unique across endpoint types. The name need not be the same
  as the actual queue name.\";s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:22:\"^[A-Za-z0-9-._]{1,64}$\";}s:14:\"subscriptionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  subscription identifier of the service bus queue endpoint.\";s:4:\"type\";s:6:\"string\";}s:13:\"resourceGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  name of the resource group of the service bus queue endpoint.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:16:\"connectionString\";}}s:40:\"RoutingServiceBusTopicEndpointProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  properties related to service bus topic endpoint types.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"connectionString\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  connection string of the service bus topic endpoint.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:373:\"The
  name that identifies this endpoint. The name can only include alphanumeric characters,
  periods, underscores, hyphens and has a maximum length of 64 characters. The following
  names are reserved:  events, operationsMonitoringEvents, fileNotifications, $default.
  Endpoint names must be unique across endpoint types.  The name need not be the same
  as the actual topic name.\";s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:22:\"^[A-Za-z0-9-._]{1,64}$\";}s:14:\"subscriptionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  subscription identifier of the service bus topic endpoint.\";s:4:\"type\";s:6:\"string\";}s:13:\"resourceGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  name of the resource group of the service bus topic endpoint.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:16:\"connectionString\";}}s:25:\"RoutingEventHubProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  properties related to an event hub endpoint.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"connectionString\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  connection string of the event hub endpoint. \";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:316:\"The
  name that identifies this endpoint. The name can only include alphanumeric characters,
  periods, underscores, hyphens and has a maximum length of 64 characters. The following
  names are reserved:  events, operationsMonitoringEvents, fileNotifications, $default.
  Endpoint names must be unique across endpoint types.\";s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:22:\"^[A-Za-z0-9-._]{1,64}$\";}s:14:\"subscriptionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  subscription identifier of the event hub endpoint.\";s:4:\"type\";s:6:\"string\";}s:13:\"resourceGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  name of the resource group of the event hub endpoint.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:16:\"connectionString\";}}s:33:\"RoutingStorageContainerProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  properties related to a storage container endpoint.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:16:\"connectionString\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  connection string of the storage account.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:316:\"The
  name that identifies this endpoint. The name can only include alphanumeric characters,
  periods, underscores, hyphens and has a maximum length of 64 characters. The following
  names are reserved:  events, operationsMonitoringEvents, fileNotifications, $default.
  Endpoint names must be unique across endpoint types.\";s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:22:\"^[A-Za-z0-9-._]{1,64}$\";}s:14:\"subscriptionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  subscription identifier of the storage account.\";s:4:\"type\";s:6:\"string\";}s:13:\"resourceGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  name of the resource group of the storage account.\";s:4:\"type\";s:6:\"string\";}s:13:\"containerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  name of storage container in the storage account.\";s:4:\"type\";s:6:\"string\";}s:14:\"fileNameFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"File
  name format for the blob. Default format is {iothub}/{partition}/{YYYY}/{MM}/{DD}/{HH}/{mm}.
  All parameters are mandatory but can be reordered.\";s:4:\"type\";s:6:\"string\";}s:23:\"batchFrequencyInSeconds\";O:8:\"stdClass\":5:{s:11:\"description\";s:126:\"Time
  interval at which blobs are written to storage. Value should be between 60 and 720
  seconds. Default value is 300 seconds.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:7:\"maximum\";i:720;s:7:\"minimum\";i:60;}s:19:\"maxChunkSizeInBytes\";O:8:\"stdClass\":5:{s:11:\"description\";s:153:\"Maximum
  number of bytes for each blob written to storage. Value should be between 10485760(10MB)
  and 524288000(500MB). Default value is 314572800(300MB).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:7:\"maximum\";i:524288000;s:7:\"minimum\";i:10485760;}s:8:\"encoding\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"Encoding
  that is used to serialize messages to blobs. Supported values are 'avro' and 'avroDeflate'.
  Default value is 'avro'.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:16:\"connectionString\";i:2;s:13:\"containerName\";}}s:15:\"RouteProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"The
  properties of a routing rule that your IoT hub uses to route messages to endpoints.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:163:\"The
  name of the route. The name can only include alphanumeric characters, periods, underscores,
  hyphens, has a maximum length of 64 characters, and must be unique.\";s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:22:\"^[A-Za-z0-9-._]{1,64}$\";}s:6:\"source\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"The
  source that the routing rule is to be applied to, such as DeviceMessages.\";s:4:\"enum\";a:5:{i:0;s:7:\"Invalid\";i:1;s:14:\"DeviceMessages\";i:2;s:16:\"TwinChangeEvents\";i:3;s:21:\"DeviceLifecycleEvents\";i:4;s:24:\"DeviceJobLifecycleEvents\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"RoutingSource\";s:13:\"modelAsString\";b:1;}}s:9:\"condition\";O:8:\"stdClass\":2:{s:11:\"description\";s:211:\"The
  condition that is evaluated to apply the routing rule. If no condition is provided,
  it evaluates to true by default. For grammar, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-query-language\";s:4:\"type\";s:6:\"string\";}s:13:\"endpointNames\";O:8:\"stdClass\":5:{s:11:\"description\";s:118:\"The
  list of endpoints to which messages that satisfy the condition are routed. Currently
  only one endpoint is allowed.\";s:8:\"minItems\";i:1;s:8:\"maxItems\";i:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"isEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Used
  to specify whether a route is enabled.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:13:\"endpointNames\";i:2;s:6:\"source\";i:3;s:9:\"isEnabled\";}}s:23:\"FallbackRouteProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"The
  properties of the fallback route. IoT Hub uses these properties when it routes messages
  to the fallback endpoint.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:163:\"The
  name of the route. The name can only include alphanumeric characters, periods, underscores,
  hyphens, has a maximum length of 64 characters, and must be unique.\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"The
  source to which the routing rule is to be applied to. For example, DeviceMessages\";s:4:\"enum\";a:1:{i:0;s:14:\"DeviceMessages\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"RoutingSource\";s:13:\"modelAsString\";b:1;}}s:9:\"condition\";O:8:\"stdClass\":2:{s:11:\"description\";s:231:\"The
  condition which is evaluated in order to apply the fallback route. If the condition
  is not provided it will evaluate to true by default. For grammar, See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-query-language\";s:4:\"type\";s:6:\"string\";}s:13:\"endpointNames\";O:8:\"stdClass\":5:{s:11:\"description\";s:123:\"The
  list of endpoints to which the messages that satisfy the condition are routed to.
  Currently only 1 endpoint is allowed.\";s:8:\"minItems\";i:1;s:8:\"maxItems\";i:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"isEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Used
  to specify whether the fallback route is enabled.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:3:{i:0;s:13:\"endpointNames\";i:1;s:6:\"source\";i:2;s:9:\"isEnabled\";}}s:17:\"IotHubDescription\";O:8:\"stdClass\":5:{s:11:\"description\";s:31:\"The
  description of the IoT hub.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"The
  Etag field is *not* required. If it is provided in the response body, it must also
  be provided as a header per the normal ETag convention.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"IotHub
  properties\";s:4:\"$ref\";s:30:\"#/definitions/IotHubProperties\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"IotHub
  SKU info\";s:4:\"$ref\";s:27:\"#/definitions/IotHubSkuInfo\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:8:\"required\";a:1:{i:0;s:3:\"sku\";}}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  common properties of an Azure resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  resource identifier.\";}s:4:\"name\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  resource name.\";s:7:\"pattern\";s:47:\"^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  resource type.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  resource location.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"The
  resource tags.\";}}s:19:\"x-ms-azure-resource\";b:1;s:8:\"required\";a:1:{i:0;s:8:\"location\";}}s:48:\"SharedAccessSignatureAuthorizationRuleListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  list of shared access policies with a next link.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  list of shared access policies.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/SharedAccessSignatureAuthorizationRule\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  next link.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"Result
  of the request to list IoT Hub operations. It contains a list of operations and
  a URL link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"List
  of IoT Hub operations supported by the Microsoft.Devices resource provider.\";s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"IoT
  Hub REST API operation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"Operation
  name: {provider}/{resource}/{read | write | action | delete}\";}s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  object that represents the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"provider\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Service
  provider: Microsoft Devices\";}s:8:\"resource\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Resource
  Type: IotHubs\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Name
  of the operation\";}}}}}s:12:\"ErrorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Error
  details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  error code.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:14:\"httpStatusCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  HTTP status code.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  error message.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  error details.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:31:\"IotHubQuotaMetricInfoListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  JSON-serialized array of IotHubQuotaMetricInfo objects with a next link.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  array of quota metrics objects.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/IotHubQuotaMetricInfo\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  next link.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:28:\"EndpointHealthDataListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  JSON-serialized array of EndpointHealthData objects with a next link.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"JSON-serialized
  array of Endpoint health data\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/EndpointHealthData\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Link
  to more results\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:18:\"EndpointHealthData\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  health data for an endpoint\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"endpointId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Id
  of the endpoint\";s:4:\"type\";s:6:\"string\";}s:12:\"healthStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  health status code of the endpoint\";s:4:\"enum\";a:4:{i:0;s:7:\"unknown\";i:1;s:7:\"healthy\";i:2;s:9:\"unhealthy\";i:3;s:4:\"dead\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"EndpointHealthStatus\";s:13:\"modelAsString\";b:1;}}}}s:18:\"RegistryStatistics\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Identity
  registry statistics.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"totalDeviceCount\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:52:\"The
  total count of devices in the identity registry.\";s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}s:18:\"enabledDeviceCount\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:54:\"The
  count of enabled devices in the identity registry.\";s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}s:19:\"disabledDeviceCount\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:55:\"The
  count of disabled devices in the identity registry.\";s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}}}s:21:\"JobResponseListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  JSON-serialized array of JobResponse objects with a next link.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  array of JobResponse objects.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/JobResponse\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  next link.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:20:\"IotHubSkuDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"SKU
  properties.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"resourceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the resource.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  type of the resource.\";s:4:\"$ref\";s:27:\"#/definitions/IotHubSkuInfo\";}s:8:\"capacity\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"IotHub
  capacity\";s:4:\"$ref\";s:28:\"#/definitions/IotHubCapacity\";}}s:8:\"required\";a:2:{i:0;s:3:\"sku\";i:1;s:8:\"capacity\";}}s:12:\"TagsResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}}s:11:\"description\";s:110:\"A container holding only the Tags for a resource,
  allowing the user to update the tags on an IoT Hub instance.\";}s:14:\"IotHubCapacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"IoT
  Hub capacity information.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"minimum\";O:8:\"stdClass\":6:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:28:\"The
  minimum number of units.\";s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:1;s:8:\"readOnly\";b:1;}s:7:\"maximum\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:28:\"The
  maximum number of units.\";s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}s:7:\"default\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:28:\"The
  default number of units.\";s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}s:9:\"scaleType\";O:8:\"stdClass\":5:{s:11:\"description\";s:32:\"The
  type of the scaling enabled.\";s:4:\"enum\";a:3:{i:0;s:9:\"Automatic\";i:1;s:6:\"Manual\";i:2;s:4:\"None\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"IotHubScaleType\";s:13:\"modelAsString\";b:0;}}}}s:32:\"EventHubConsumerGroupsListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  JSON-serialized array of Event Hub-compatible consumer group names with a next link.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"List
  of consumer groups objects\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/EventHubConsumerGroupInfo\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  next link.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:25:\"EventHubConsumerGroupInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  properties of the EventHubConsumerGroupInfo object.\";s:19:\"x-ms-azure-resource\";b:1;s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"The
  tags.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  Event Hub-compatible consumer group identifier.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  Event Hub-compatible consumer group name.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"the
  resource type.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"The
  etag.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:30:\"IotHubSkuDescriptionListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  JSON-serialized array of IotHubSkuDescription objects with a next link.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  array of IotHubSkuDescription.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/IotHubSkuDescription\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  next link.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:11:\"JobResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  properties of the Job Response object.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"jobId\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  job identifier.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:12:\"startTimeUtc\";O:8:\"stdClass\":4:{s:6:\"format\";s:17:\"date-time-rfc1123\";s:11:\"description\";s:26:\"The
  start time of the job.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"endTimeUtc\";O:8:\"stdClass\":4:{s:6:\"format\";s:17:\"date-time-rfc1123\";s:11:\"description\";s:36:\"The
  time the job stopped processing.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":5:{s:11:\"description\";s:20:\"The
  type of the job.\";s:4:\"enum\";a:10:{i:0;s:7:\"unknown\";i:1;s:6:\"export\";i:2;s:6:\"import\";i:3;s:6:\"backup\";i:4;s:20:\"readDeviceProperties\";i:5;s:21:\"writeDeviceProperties\";i:6;s:25:\"updateDeviceConfiguration\";i:7;s:12:\"rebootDevice\";i:8;s:18:\"factoryResetDevice\";i:9;s:14:\"firmwareUpdate\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"JobType\";s:13:\"modelAsString\";b:1;}}s:6:\"status\";O:8:\"stdClass\":5:{s:11:\"description\";s:22:\"The
  status of the job.\";s:4:\"enum\";a:6:{i:0;s:7:\"unknown\";i:1;s:8:\"enqueued\";i:2;s:7:\"running\";i:3;s:9:\"completed\";i:4;s:6:\"failed\";i:5;s:9:\"cancelled\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"JobStatus\";s:13:\"modelAsString\";b:0;}}s:13:\"failureReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"If
  status == failed, this string containing the reason for the failure.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:13:\"statusMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  status message for the job.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"parentJobId\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  job identifier of the parent job, if any.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:27:\"IotHubDescriptionListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  JSON-serialized array of IotHubDescription objects with a next link.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  array of IotHubDescription objects.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/IotHubDescription\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  next link.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:21:\"IotHubQuotaMetricInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Quota
  metrics properties.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  name of the quota metric.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:12:\"currentValue\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:39:\"The
  current value for the quota metric.\";s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}s:8:\"maxValue\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"The
  maximum value of the quota metric.\";s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}}}s:15:\"OperationInputs\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Input
  values.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  name of the IoT hub to check.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:26:\"IotHubNameAvailabilityInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  properties indicating whether a given IoT hub name is available.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"nameAvailable\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  value which indicates whether the provided name is available.\";s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:6:\"reason\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"The
  reason for unavailability.\";s:4:\"enum\";a:2:{i:0;s:7:\"Invalid\";i:1;s:13:\"AlreadyExists\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:30:\"IotHubNameUnavailabilityReason\";s:13:\"modelAsString\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  detailed reason message.\";s:4:\"type\";s:6:\"string\";}}}s:31:\"UserSubscriptionQuotaListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:57:\"Json-serialized
  array of User subscription quota response\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/UserSubscriptionQuota\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:21:\"UserSubscriptionQuota\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"User
  subscription quota response\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"IotHub
  type id\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Response
  type\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Unit
  of IotHub type\";s:4:\"type\";s:6:\"string\";}s:12:\"currentValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Current
  number of IotHub type\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Numerical
  limit on IotHub type\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"IotHub
  type\";s:4:\"$ref\";s:18:\"#/definitions/Name\";}}}s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Name
  of Iot Hub type\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"IotHub
  type\";s:4:\"type\";s:6:\"string\";}s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Localized
  value of name\";s:4:\"type\";s:6:\"string\";}}}s:18:\"TestAllRoutesInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Input
  for testing all routes\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"routingSource\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Routing
  source\";s:4:\"enum\";a:5:{i:0;s:7:\"Invalid\";i:1;s:14:\"DeviceMessages\";i:2;s:16:\"TwinChangeEvents\";i:3;s:21:\"DeviceLifecycleEvents\";i:4;s:24:\"DeviceJobLifecycleEvents\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"RoutingSource\";s:13:\"modelAsString\";b:1;}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Routing
  message\";s:4:\"$ref\";s:28:\"#/definitions/RoutingMessage\";}s:4:\"twin\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Routing
  Twin Reference\";s:4:\"$ref\";s:25:\"#/definitions/RoutingTwin\";}}}s:11:\"RoutingTwin\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Twin
  reference input parameter. This is an optional parameter\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"tags\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Twin
  Tags\";s:4:\"type\";s:6:\"object\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"desiredProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Twin
  desired properties\";s:4:\"type\";s:6:\"object\";}s:18:\"reportedProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Twin
  desired properties\";s:4:\"type\";s:6:\"object\";}}}}}s:14:\"RoutingMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Routing
  message\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Body
  of routing message\";s:4:\"type\";s:6:\"string\";}s:13:\"appProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"App
  properties\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:16:\"systemProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"System
  properties\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:19:\"TestAllRoutesResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Result
  of testing all routes\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"routes\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"JSON-serialized
  array of matched routes\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MatchedRoute\";}}}}s:12:\"MatchedRoute\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Routes
  that matched\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Properties
  of routes that matched\";s:4:\"$ref\";s:29:\"#/definitions/RouteProperties\";}}}s:14:\"TestRouteInput\";O:8:\"stdClass\":4:{s:8:\"required\";a:1:{i:0;s:5:\"route\";}s:11:\"description\";s:23:\"Input
  for testing route\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Routing
  message\";s:4:\"$ref\";s:28:\"#/definitions/RoutingMessage\";}s:5:\"route\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Route
  properties\";s:4:\"$ref\";s:29:\"#/definitions/RouteProperties\";}s:4:\"twin\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Routing
  Twin Reference\";s:4:\"$ref\";s:25:\"#/definitions/RoutingTwin\";}}}s:15:\"TestRouteResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Result
  of testing one route\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"result\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Result
  of testing route\";s:4:\"enum\";a:3:{i:0;s:9:\"undefined\";i:1;s:5:\"false\";i:2;s:4:\"true\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"TestResultStatus\";s:13:\"modelAsString\";b:1;}}s:7:\"details\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Detailed
  result of testing route\";s:4:\"$ref\";s:36:\"#/definitions/TestRouteResultDetails\";}}}s:22:\"TestRouteResultDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Detailed
  result of testing a route\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"compilationErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"JSON-serialized
  list of route compilation errors\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/RouteCompilationError\";}}}}s:21:\"RouteCompilationError\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Compilation
  error when evaluating route\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Route
  error message\";s:4:\"type\";s:6:\"string\";}s:8:\"severity\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Severity
  of the route error\";s:4:\"enum\";a:2:{i:0;s:5:\"error\";i:1;s:7:\"warning\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"RouteErrorSeverity\";s:13:\"modelAsString\";b:1;}}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Location
  where the route error happened\";s:4:\"$ref\";s:29:\"#/definitions/RouteErrorRange\";}}}s:15:\"RouteErrorRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Range
  of route errors\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"start\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Start
  where the route error happened\";s:4:\"$ref\";s:32:\"#/definitions/RouteErrorPosition\";}s:3:\"end\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"End
  where the route error happened\";s:4:\"$ref\";s:32:\"#/definitions/RouteErrorPosition\";}}}s:18:\"RouteErrorPosition\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Position
  where the route error happened\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"line\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Line
  where the route error happened\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"column\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Column
  where the route error happened\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:20:\"ExportDevicesRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"Use
  to provide parameters when requesting an export of all devices in the IoT hub.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"exportBlobContainerUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  export blob container URI.\";s:4:\"type\";s:6:\"string\";}s:11:\"excludeKeys\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  value indicating whether keys should be excluded during export.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:2:{i:0;s:22:\"exportBlobContainerUri\";i:1;s:11:\"excludeKeys\";}}s:20:\"ImportDevicesRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"Use
  to provide parameters when requesting an import of all devices in the hub.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"inputBlobContainerUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  input blob container URI.\";s:4:\"type\";s:6:\"string\";}s:22:\"outputBlobContainerUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  output blob container URI.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:21:\"inputBlobContainerUri\";i:1;s:22:\"outputBlobContainerUri\";}}}"
...
