---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:64:\"The Microsoft
  Azure Storage Import/Export Resource Provider API.\";s:5:\"title\";s:19:\"StorageImportExport\";s:7:\"version\";s:10:\"2016-11-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"storage\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:97:\"https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:135:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-storageimportexport/2016-11-01/swagger/storageimportexport.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:23:\"arm-storageimportexport\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.ImportExport/locations:
    get:
      description: Returns a list of locations to which you can ship the disks associated
        with an import or export job. A location is a Microsoft data center region.
      operationId: ListLocations
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: The locations were successfully retrieved and are in the response.
          schema:
            $ref: '#/definitions/LocationsListResult'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - StorageImportExport
  /providers/Microsoft.ImportExport/locations/{locationName}:
    get:
      description: Gets a location to which you can ship the disks associated with
        an import or export job. A location is an Azure region.
      operationId: GetLocation
      parameters:
      - description: The name of the location. For example, 'West US' or 'westus'.
        in: path
        name: locationName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: The location was successfully retrieved and is in the response.
          schema:
            $ref: '#/definitions/Location'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - StorageImportExport
  /providers/Microsoft.ImportExport/operations:
    get:
      description: Returns the list of operations supported by the import/export resource
        provider.
      operationId: ListSupportedOperations
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: The supported operations were successfully retrieved and are
            in the response.
          schema:
            $ref: '#/definitions/SupportedOperationsListResult'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - StorageImportExport
  /subscriptions/{subscriptionId}/providers/Microsoft.ImportExport/jobs:
    get:
      description: Gets all the active and completed import/export jobs in a subscription.
      operationId: Jobs_List
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      - description: An integer value that specifies how many jobs at most should
          be returned. The value cannot exceed 100.
        in: query
        maximum: 100
        minimum: 1
        name: $top
        required: false
        type: integer
      - description: 'Can be used to restrict the results to certain conditions. The
          following possible values can be used with $filter: 1) $filter=type eq ''{type}'';
          2) $filter=trackingnumber eq ''{trackingnumber}''; 3) $filter=state eq ''{state}'';
          4) Logical and combination of the above, for example: $filter=type eq ''Import''
          and state eq ''Transferring''. Valid values for type are Import and Export.
          Valid values for state are Creating, Shipping, Received, Transferring, Packaging,
          Closed, and Completed.'
        in: query
        name: $filter
        required: false
        type: string
      responses:
        200:
          description: The jobs were successfully retrieved and are in the response.
          schema:
            $ref: '#/definitions/JobListResult'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - StorageImportExport
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs:
    get:
      description: Returns all active and completed import/export jobs in a resource
        group.
      operationId: Jobs_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      - description: An integer value that specifies how many jobs at most should
          be returned. The value cannot exceed 100.
        in: query
        maximum: 100
        minimum: 1
        name: $top
        required: false
        type: integer
      - description: 'Can be used to restrict the results to certain conditions. The
          following possible values can be used with $filter: 1) $filter=type eq ''{type}'';
          2) $filter=trackingnumber eq ''{trackingnumber}''; 3) $filter=state eq ''{state}'';
          4) Logical and combination of the above, for example: $filter=type eq ''Import''
          and state eq ''Transferring''. Valid values for type are Import and Export.
          Valid values for state are Creating, Shipping, Received, Transferring, Packaging,
          Closed, and Completed.'
        in: query
        name: $filter
        required: false
        type: string
      responses:
        200:
          description: The jobs were successfully retrieved and are in the response.
          schema:
            $ref: '#/definitions/JobListResult'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - StorageImportExport
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}:
    delete:
      description: Deletes an existing import/export job. Only import/export jobs
        in the Creating or Completed states can be deleted.
      operationId: Jobs_Delete
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the import/export job.
        in: path
        name: jobName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: The job was successfully deleted.
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - StorageImportExport
    get:
      description: Gets information about an existing import/export job.
      operationId: Jobs_Get
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the import/export job.
        in: path
        name: jobName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: The job was successfully retrieved and is in the response.
          schema:
            $ref: '#/definitions/Job'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - StorageImportExport
    patch:
      description: Updates specific properties of the import/export job. You can call
        this operation to notify the Import/Export service that the hard drives comprising
        the import or export job have been shipped to the Microsoft data center. It
        can also be used to cancel an existing job.
      operationId: Jobs_Update
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the import/export job.
        in: path
        name: jobName
        required: true
        type: string
      - description: Import/export job properties that need to be updated.
        in: body
        name: jobProperties
        required: true
        schema:
          $ref: '#/definitions/MutableJob'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: The job was successfully updated.
          schema:
            $ref: '#/definitions/Job'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - StorageImportExport
    put:
      description: Creates a new import/export job or updates an existing import/export
        job in the specified subscription.
      operationId: Jobs_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the import/export job.
        in: path
        name: jobName
        required: true
        type: string
      - description: Properties of the import/export job that need to be specified
          during creation.
        in: body
        name: jobProperties
        required: true
        schema:
          $ref: '#/definitions/Job'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: The job was successfully updated.
          schema:
            $ref: '#/definitions/Job'
        201:
          description: The job was successfully created.
          schema:
            $ref: '#/definitions/Job'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - StorageImportExport
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}/listBitLockerKeys
  : get:
      description: Lists the BitLocker keys for all drives in the specified import/export
        job.
      operationId: Jobs_ListBitLockerKeys
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: The name of the import/export job.
        in: path
        name: jobName
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: The BitLocker keys were successfully retrieved and are in the
            response.
          schema:
            $ref: '#/definitions/BitLockerKeysListResult'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - StorageImportExport
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/moveResources:
    post:
      description: Moves the specified import/export jobs from the resource group
        to a target resource group. The target resource group may be in a different
        subscription.
      operationId: Jobs_Move
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - description: Parameters to be provided to move a job from one resource group
          to another.
        in: body
        name: MoveJobsParameters
        required: true
        schema:
          $ref: '#/definitions/MoveJobParameters'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: The job was successfully moved to the specified resource group.
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - StorageImportExport
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":24:{s:23:\"BitLockerKeysListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"List
  of BitLocker keys for the specified import/export job.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"List
  of BitLocker keys for the specified import/export job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DriveStatus\";}s:4:\"type\";s:5:\"array\";}}}s:5:\"Drive\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Provides
  information about the drive that contains information about the import/export jobs.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"bitLockerKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  BitLocker key used to encrypt the drive.\";s:4:\"type\";s:6:\"string\";}s:7:\"driveId\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  drive's hardware serial number, without spaces.\";s:4:\"type\";s:6:\"string\";}s:12:\"manifestFile\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  relative path of the manifest file on the drive.\";s:4:\"type\";s:6:\"string\";}s:12:\"manifestHash\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  Base16-encoded MD5 hash of the manifest file on the drive.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:7:\"driveId\";i:1;s:12:\"bitLockerKey\";i:2;s:12:\"manifestFile\";i:3;s:12:\"manifestHash\";}}s:11:\"DriveStatus\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Drive\";}}s:11:\"description\";s:46:\"Provides
  information about the drive's status.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"copyStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Detailed
  status about the data transfer process. This field is not returned in the response
  until the drive is in the Transferring state.\";s:4:\"type\";s:6:\"string\";}s:11:\"errorLogUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"A
  URI that points to the blob containing the error log for the data transfer operation.\";s:4:\"type\";s:6:\"string\";}s:11:\"manifestUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"A
  URI that points to the blob containing the drive manifest file.\";s:4:\"type\";s:6:\"string\";}s:15:\"percentComplete\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Percentage
  completed for the drive.\";s:4:\"type\";s:7:\"integer\";}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"The
  drive's current state.\";s:4:\"enum\";a:7:{i:0;s:9:\"Specified\";i:1;s:8:\"Received\";i:2;s:13:\"NeverReceived\";i:3;s:12:\"Transferring\";i:4;s:9:\"Completed\";i:5;s:17:\"CompletedMoreInfo\";i:6;s:11:\"ShippedBack\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"DriveState\";}}s:13:\"verboseLogUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"A
  URI that points to the blob containing the verbose log for the data transfer operation.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"ErrorBase\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Describes
  the common properties of the Error object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Provides
  information about the error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Provides
  information about the error message.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Provides
  information about the error target.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"ErrorInfo\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorBase\";}}s:11:\"description\";s:32:\"Describes
  the error information.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the error details if present.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorBase\";}s:4:\"type\";s:5:\"array\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Describes
  the model for Error Response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ErrorInfo\";s:11:\"description\";s:31:\"Describes
  the error information\";}}}s:6:\"Export\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"A
  property containing information about the blobs to be exported for an export job.
  This property is required for export jobs, but must not be specified for import
  jobs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"blobList\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"A
  list of the blobs to be exported.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"blobPath\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"A
  collection of blob-path strings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"blobPathPrefix\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"A
  collection of blob-prefix strings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:19:\"x-ms-client-flatten\";b:1;}s:16:\"blobListblobPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:215:\"The
  relative URI to the block blob that contains the list of blob paths or blob path
  prefixes as defined above, beginning with the container name. If the blob is in
  the root container, the URI must begin with $root.\";s:4:\"type\";s:6:\"string\";}}}s:3:\"Job\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:31:\"Describes
  an import/export job.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/JobProperties\";s:11:\"description\";s:29:\"Import/export
  job properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:13:\"JobListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  of import/export jobs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:13:\"JobProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Import/export
  job specific properties.\";s:10:\"properties\";O:8:\"stdClass\":18:{s:19:\"backupDriveManifest\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:107:\"Default
  value is false. Indicates whether the manifest files on the drives should be copied
  to block blobs.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"cancelRequested\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Indicates
  whether a request has been submitted to cancel the job.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"containerSas\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"The
  container shared access signature (SAS) to be used to import or export data to or
  from the storage account.\";s:4:\"type\";s:6:\"string\";}s:15:\"deliveryPackage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PackageInfomation\";s:11:\"description\";s:98:\"Contains
  information about the package being shipped by the customer to the Microsoft data
  center.\";}s:15:\"diagnosticsPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  virtual blob directory to which the copy logs and backups of drive manifest files
  (if enabled) will be stored.\";s:4:\"type\";s:6:\"string\";}s:9:\"driveList\";O:8:\"stdClass\":5:{s:11:\"description\";s:140:\"List
  of up to ten drives that comprise the job. The drive list is a required element
  for an import job; it is not specified for export jobs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DriveStatus\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:6:\"export\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Export\";s:11:\"description\";s:131:\"A
  property containing information about the blobs to be exported for an export job.
  This property is included for export jobs only.\";}s:21:\"incompleteBlobListUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:219:\"A
  blob path that points to a block blob containing a list of blob names that were
  not exported due to insufficient drive space. If all blobs were exported successfully,
  then this element is not included in the response.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"jobType\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  type of job: Import or Export.\";s:4:\"enum\";a:2:{i:0;s:6:\"Import\";i:1;s:6:\"Export\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:7:\"JobType\";}}s:8:\"logLevel\";O:8:\"stdClass\":5:{s:7:\"default\";s:5:\"Error\";s:11:\"description\";s:91:\"Default
  value is Error. Indicates whether error logging or verbose logging will be enabled.\";s:4:\"enum\";a:2:{i:0;s:5:\"Error\";i:1;s:7:\"Verbose\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:8:\"LogLevel\";}}s:15:\"percentComplete\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Overall
  percentage completed for the job.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Specifies
  the provisioning state of the job.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"returnAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ReturnAddress\";s:11:\"description\";s:53:\"Specifies
  the return address information for the job.\";}s:13:\"returnPackage\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/PackageInfomation\";s:11:\"description\";s:255:\"Contains
  information about the package being shipped from the Microsoft data center to the
  customer to return the drives. The format is the same as the deliveryPackage property
  above. This property is not included if the drives have not yet been returned.\";s:8:\"readOnly\";b:1;}s:14:\"returnShipping\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ReturnShipping\";s:11:\"description\";s:69:\"Specifies
  the return carrier and customer's account with the carrier.\";}s:19:\"shippingInformation\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/ShippingInformation\";s:11:\"description\";s:90:\"Contains
  information about the Microsoft datacenter to which the drives should be shipped.\";s:8:\"readOnly\";b:1;}s:5:\"state\";O:8:\"stdClass\":5:{s:11:\"description\";s:25:\"Current
  state of the job.\";s:4:\"enum\";a:7:{i:0;s:8:\"Creating\";i:1;s:8:\"Shipping\";i:2;s:8:\"Received\";i:3;s:12:\"Transferring\";i:4;s:9:\"Packaging\";i:5;s:6:\"Closed\";i:6;s:9:\"Completed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:8:\"JobState\";}}s:16:\"storageAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  resource identifier of the storage account where data will be imported to or exported
  from.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:16:\"storageAccountId\";i:1;s:7:\"jobType\";i:2;s:13:\"returnAddress\";i:3;s:14:\"returnShipping\";i:4;s:15:\"diagnosticsPath\";}}s:8:\"Location\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Provides
  information about an Azure data center location.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Specifies
  the resource identifier of the location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Specifies
  the name of the location. Use List Locations to get all supported locations.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/LocationProperties\";s:11:\"description\";s:39:\"Describes
  the properties of a location.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Specifies
  the resource type of the location.\";s:4:\"type\";s:6:\"string\";}}}s:18:\"LocationProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Describes
  the properties of a location.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:18:\"alternateLocations\";O:8:\"stdClass\":3:{s:11:\"description\";s:267:\"A
  list of location IDs that should be used to ship shipping drives to for jobs created
  against the current location. If the current location is active, it will be part
  of the list. If it is temporarily closed due to maintenance, this list may contain
  other locations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  city name to use when shipping the drives to the Azure data center.\";s:4:\"type\";s:6:\"string\";}s:15:\"countryOrRegion\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  country or region to use when shipping the drives to the Azure data center.\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  phone number for the Azure data center.\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  postal code to use when shipping the drives to the Azure data center.\";s:4:\"type\";s:6:\"string\";}s:13:\"recipientName\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  recipient name to use when shipping the drives to the Azure data center.\";s:4:\"type\";s:6:\"string\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  state or province to use when shipping the drives to the Azure data center.\";s:4:\"type\";s:6:\"string\";}s:14:\"streetAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  first line of the street address to use when shipping the drives to the Azure data
  center.\";s:4:\"type\";s:6:\"string\";}s:14:\"streetAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  second line of the street address to use when shipping the drives to the Azure data
  center.\";s:4:\"type\";s:6:\"string\";}s:17:\"supportedCarriers\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  list of carriers that are supported at this location.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:19:\"LocationsListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of locations.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of locations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:17:\"MoveJobParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"Defines
  the parameters that need to be provided for moving an import/export job from one
  reesource group to another.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"resources\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"Specifies
  the list of jobs to move to the target resource group. The jobs must be from the
  current resource group from the request URL.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"targetResourceGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Specifies
  the target resource group ID to move the jobs to.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:19:\"targetResourceGroup\";i:1;s:9:\"resources\";}}s:10:\"MutableJob\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Describes
  the updatable properties of the job\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:34:\"#/definitions/MutableJobProperties\";s:11:\"description\";s:41:\"Specifies
  the properties of an UpdateJob.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:20:\"MutableJobProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Properties
  of the job that can be updated.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:19:\"backupDriveManifest\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Indicates
  whether the manifest files on the drives should be copied to block blobs.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"cancelRequested\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"If
  specified, the value must be true. The service will attempt to cancel the job.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"deliveryPackage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PackageInfomation\";s:11:\"description\";s:98:\"Contains
  information about the package being shipped by the customer to the Microsoft data
  center.\";}s:8:\"logLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Indicates
  whether error logging or verbose logging is enabled.\";s:4:\"type\";s:6:\"string\";}s:13:\"returnAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ReturnAddress\";s:11:\"description\";s:53:\"Specifies
  the return address information for the job.\";}s:14:\"returnShipping\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ReturnShipping\";s:11:\"description\";s:69:\"Specifies
  the return carrier and customer's account with the carrier.\";}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:276:\"If
  specified, the value must be Shipping, which tells the Import/Export service that
  the package for the job has been shipped. The ReturnAddress and DeliveryPackage
  properties must have been set either in this request or in a previous request, otherwise
  the request will fail.\";s:4:\"enum\";a:1:{i:0;s:8:\"Shipping\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"MutableJobState\";}}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Describes
  a supported operation by the Storage Import/Export job API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:41:\"#/definitions/OperationDisplayInformation\";s:11:\"description\";s:40:\"Display
  information about the operation.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of the operation.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:7:\"display\";}}s:27:\"OperationDisplayInformation\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Display
  information about the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Short
  description of the operation.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  display name of the operation.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  resource provider name to which the operation belongs.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  name of the resource to which the operation belongs.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"PackageInfomation\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Provides
  information about the package being shipped by the customer to the Microsoft data
  center.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"carrierName\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  name of the carrier that is used to ship the import or export drives.\";s:4:\"type\";s:6:\"string\";}s:10:\"driveCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  number of drives included in the package.\";s:4:\"type\";s:7:\"integer\";}s:8:\"shipDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  date the package is shipped.\";s:4:\"type\";s:6:\"string\";}s:14:\"trackingNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  tracking number of the package.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:11:\"carrierName\";i:1;s:14:\"trackingNumber\";i:2;s:10:\"driveCount\";i:3;s:8:\"shipDate\";}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  Resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Specifies
  the resource identifier of the job.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Specifies
  the Azure location where the job is created.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Specifies
  the name of the job.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Specifies
  the tags that are assigned to the job.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Specifies
  the type of the job resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}}s:13:\"ReturnAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Specifies
  the return address information for the job.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  city name to use when returning the drives.\";s:4:\"type\";s:6:\"string\";}s:15:\"countryOrRegion\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  country or region to use when returning the drives.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Email
  address of the recipient of the returned drives.\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Phone
  number of the recipient of the returned drives.\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  postal code to use when returning the drives.\";s:4:\"type\";s:6:\"string\";}s:13:\"recipientName\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"The
  name of the recipient who will receive the hard drives when they are returned.\";s:4:\"type\";s:6:\"string\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  state or province to use when returning the drives.\";s:4:\"type\";s:6:\"string\";}s:14:\"streetAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  first line of the street address to use when returning the drives.\";s:4:\"type\";s:6:\"string\";}s:14:\"streetAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  second line of the street address to use when returning the drives.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:13:\"recipientName\";i:1;s:14:\"streetAddress1\";i:2;s:4:\"city\";i:3;s:10:\"postalCode\";i:4;s:15:\"countryOrRegion\";i:5;s:5:\"phone\";i:6;s:5:\"email\";}}s:14:\"ReturnShipping\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Specifies
  the return carrier and customer's account with the carrier.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"carrierAccountNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  customer's account number with the carrier.\";s:4:\"type\";s:6:\"string\";}s:11:\"carrierName\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  carrier's name.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"carrierName\";i:1;s:20:\"carrierAccountNumber\";}}s:19:\"ShippingInformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Provides
  information about the Microsoft datacenter to which the drives should be shipped.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  address of the datacenter.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  name of the recipient at the datacenter.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:7:\"address\";}}s:29:\"SupportedOperationsListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"List
  of supported operations by the import/export resource provider.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"List
  of supported operations by the import/export resource provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}}}"
...
