---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:27:\"VirtualMachineImageTemplate\";s:11:\"description\";s:30:\"Virtual
  Machine Image Template\";s:7:\"version\";s:18:\"2019-05-01-preview\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.VirtualMachineImages/imageTemplates:
    get:
      tags:
      - VirtualMachineImageTemplate
      operationId: VirtualMachineImageTemplates_List
      description: Gets information about the VM image templates associated with the
        subscription.
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ImageTemplateListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ApiError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List images by subscription.:
          $ref: ./examples/ListImageTemplates.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates:
    get:
      tags:
      - VirtualMachineImageTemplate
      operationId: VirtualMachineImageTemplates_ListByResourceGroup
      description: Gets information about the VM image templates associated with the
        specified resource group.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ImageTemplateListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ApiError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List images by resource group:
          $ref: ./examples/ListImageTemplatesByRg.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates/{imageTemplateName}
  : put:
      tags:
      - VirtualMachineImageTemplate
      operationId: VirtualMachineImageTemplates_CreateOrUpdate
      description: Create or update a virtual machine image template
      parameters:
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ImageTemplate'
        description: Parameters supplied to the CreateImageTemplate operation
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ImageTemplateNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ImageTemplate'
        201:
          description: Created
          schema:
            $ref: '#/definitions/ImageTemplate'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ApiError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Create an Image Template.:
          $ref: ./examples/CreateImageTemplate.json
        Create an Image Template with a user assigned identity configured:
          $ref: ./examples/CreateImageTemplateWithUserAssignedIdentity.json
    patch:
      tags:
      - VirtualMachineImageTemplate
      operationId: VirtualMachineImageTemplates_Update
      description: Update the tags for this Virtual Machine Image Template
      parameters:
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ImageTemplateUpdateParameters'
        description: Additional parameters for Image Template update.
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ImageTemplateNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ImageTemplate'
        202:
          description: The operation will be completed asynchronously.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ApiError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Update the tags for an Image Template.:
          $ref: ./examples/UpdateImageTemplateTags.json
        Remove identities for an Image Template.:
          $ref: ./examples/UpdateImageTemplateToRemoveIdentities.json
    get:
      tags:
      - VirtualMachineImageTemplate
      operationId: VirtualMachineImageTemplates_Get
      description: Get information about a virtual machine image template
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ImageTemplateNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ImageTemplate'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ApiError'
      x-ms-examples:
        Retrieve an Image Template.:
          $ref: ./examples/GetImageTemplate.json
    delete:
      tags:
      - VirtualMachineImageTemplate
      operationId: VirtualMachineImageTemplates_Delete
      description: Delete a virtual machine image template
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ImageTemplateNameParameter'
      responses:
        200:
          description: The operation was successful.
        202:
          description: The operation will be completed asynchronously.
        204:
          description: NoContent -- VM image template does not exist in the subscription.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ApiError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Delete an Image Template.:
          $ref: ./examples/DeleteImageTemplate.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates/{imageTemplateName}/run
  : post:
      tags:
      - VirtualMachineImageTemplate
      operationId: VirtualMachineImageTemplates_Run
      description: Create artifacts from a existing image template
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ImageTemplateNameParameter'
      responses:
        204:
          description: The operation was successful.
        202:
          description: The operation will be completed asynchronously.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ApiError'
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Create image(s) from existing imageTemplate.:
          $ref: ./examples/RunImageTemplate.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates/{imageTemplateName}/runOutputs
  : get:
      tags:
      - VirtualMachineImageTemplate
      operationId: VirtualMachineImageTemplates_ListRunOutputs
      description: List all run outputs for the specified Image Template resource
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ImageTemplateNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RunOutputCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ApiError'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Retrieve a list of all outputs created by the last run of an Image Template:
          $ref: ./examples/ListRunOutputs.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates/{imageTemplateName}/runOutputs/{runOutputName}
  : get:
      tags:
      - VirtualMachineImageTemplate
      operationId: VirtualMachineImageTemplates_GetRunOutput
      description: Get the specified run output for the specified image template resource
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ImageTemplateNameParameter'
      - $ref: '#/parameters/RunOutputNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RunOutput'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ApiError'
      x-ms-examples:
        Retrieve single runOutput:
          $ref: ./examples/GetRunOutput.json
  /providers/Microsoft.VirtualMachineImages/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: Lists available operations for the Microsoft.VirtualMachineImages
        provider
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: The operation was successful. The response contains the list
            of available operations.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ApiError'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":32:{s:23:\"ImageTemplateListResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ImageTemplate\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  continuation token.\";}}}s:19:\"ImageTemplateSource\";O:8:\"stdClass\":3:{s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Specifies
  the type of source image you want to start with.\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}}s:22:\"ImageTemplateIsoSource\";O:8:\"stdClass\":5:{s:11:\"description\";s:118:\"Describes
  an image source that is an installation ISO. Currently only supports Red Hat Enterprise
  Linux 7.2-7.5 ISO's.\";s:24:\"x-ms-discriminator-value\";s:3:\"ISO\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ImageTemplateSource\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"sourceUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:124:\"URI
  to get the ISO image. This URI has to be accessible to the resource provider at
  the time of the image template creation.\";}s:14:\"sha256Checksum\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"SHA256
  Checksum of the ISO image.\";}}s:8:\"required\";a:2:{i:0;s:9:\"sourceUri\";i:1;s:14:\"sha256Checksum\";}}s:32:\"ImageTemplatePlatformImageSource\";O:8:\"stdClass\":4:{s:11:\"description\";s:126:\"Describes
  an image source from [Azure Gallery Images](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages).\";s:24:\"x-ms-discriminator-value\";s:13:\"PlatformImage\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ImageTemplateSource\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"publisher\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"Image
  Publisher in [Azure Gallery Images](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages).\";}s:5:\"offer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:116:\"Image
  offer from the [Azure Gallery Images](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages).\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"Image
  sku from the [Azure Gallery Images](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages).\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"Image
  version from the [Azure Gallery Images](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages).\";}}}s:31:\"ImageTemplateManagedImageSource\";O:8:\"stdClass\":5:{s:11:\"description\";s:75:\"Describes
  an image source that is a managed image in customer subscription.\";s:24:\"x-ms-discriminator-value\";s:12:\"ManagedImage\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ImageTemplateSource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"imageId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"ARM
  resource id of the managed image in customer subscription\";}}s:8:\"required\";a:1:{i:0;s:7:\"imageId\";}}s:37:\"ImageTemplateSharedImageVersionSource\";O:8:\"stdClass\":5:{s:11:\"description\";s:77:\"Describes
  an image source that is an image version in a shared image gallery.\";s:24:\"x-ms-discriminator-value\";s:18:\"SharedImageVersion\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ImageTemplateSource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"imageVersionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"ARM
  resource id of the image version in the shared image gallery\";}}s:8:\"required\";a:1:{i:0;s:14:\"imageVersionId\";}}s:23:\"ImageTemplateCustomizer\";O:8:\"stdClass\":3:{s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"The
  type of customization tool you want to use on the Image. For example, \"Shell\"
  can be shell customizer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"Friendly
  Name to provide context on what this customization step does\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}}s:28:\"ImageTemplateShellCustomizer\";O:8:\"stdClass\":4:{s:11:\"description\";s:157:\"Runs
  a shell script during the customization phase (Linux). Corresponds to Packer shell
  provisioner. Exactly one of 'scriptUri' or 'inline' can be specified.\";s:24:\"x-ms-discriminator-value\";s:5:\"Shell\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ImageTemplateCustomizer\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"scriptUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"URI
  of the shell script to be run for customizing. It can be a github link, SAS URI
  for Azure Storage, etc\";}s:6:\"inline\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:34:\"Array
  of shell commands to execute\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:30:\"ImageTemplateRestartCustomizer\";O:8:\"stdClass\":4:{s:11:\"description\";s:110:\"Reboots
  a VM and waits for it to come back online (Windows). Corresponds to Packer windows-restart
  provisioner\";s:24:\"x-ms-discriminator-value\";s:14:\"WindowsRestart\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ImageTemplateCustomizer\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"restartCommand\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"Command
  to execute the restart [Default: 'shutdown /r /f /t 0 /c \"packer restart\"']\";}s:19:\"restartCheckCommand\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Command
  to check if restart succeeded [Default: '']\";}s:14:\"restartTimeout\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:116:\"Restart
  timeout specified as a string of magnitude and unit, e.g. '5m' (5 minutes) or '2h'
  (2 hours) [Default: '5m']\";}}}s:33:\"ImageTemplatePowerShellCustomizer\";O:8:\"stdClass\":4:{s:11:\"description\";s:153:\"Runs
  the specified PowerShell on the VM (Windows). Corresponds to Packer powershell provisioner.
  Exactly one of 'scriptUri' or 'inline' can be specified.\";s:24:\"x-ms-discriminator-value\";s:10:\"PowerShell\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ImageTemplateCustomizer\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"scriptUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"URI
  of the PowerShell script to be run for customizing. It can be a github link, SAS
  URI for Azure Storage, etc\";}s:6:\"inline\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:39:\"Array
  of PowerShell commands to execute\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"validExitCodes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:56:\"Valid
  exit codes for the PowerShell script. [Default: 0]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}s:27:\"ImageTemplateFileCustomizer\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"Uploads
  files to VMs (Linux, Windows). Corresponds to Packer file provisioner\";s:24:\"x-ms-discriminator-value\";s:4:\"File\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ImageTemplateCustomizer\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"sourceUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"The
  URI of the file to be uploaded for customizing the VM. It can be a github link,
  SAS URI for Azure Storage, etc\";}s:11:\"destination\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"The
  absolute path (with existing directory structure) where the file will be uploaded
  to in the VM\";}}}s:24:\"ImageTemplateDistributor\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"Generic
  distribution object\";s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Type
  of distribution.\";}s:13:\"runOutputName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  name to be used for the associated RunOutput.\";s:7:\"pattern\";s:21:\"^[A-Za-z0-9-_]{1,64}$\";}s:12:\"artifactTags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:94:\"Tags
  that will be applied to the artifact once it has been created/updated by the distributor.\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:13:\"runOutputName\";}}s:36:\"ImageTemplateManagedImageDistributor\";O:8:\"stdClass\":6:{s:24:\"x-ms-discriminator-value\";s:12:\"ManagedImage\";s:11:\"description\";s:35:\"Distribute
  as a Managed Disk Image.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ImageTemplateDistributor\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"imageId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Resource
  Id of the Managed Disk Image\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Azure
  location for the image, should match if image already exists\";}}s:8:\"required\";a:2:{i:0;s:7:\"imageId\";i:1;s:8:\"location\";}}s:35:\"ImageTemplateSharedImageDistributor\";O:8:\"stdClass\":6:{s:24:\"x-ms-discriminator-value\";s:11:\"SharedImage\";s:11:\"description\";s:36:\"Distribute
  via Shared Image Gallery.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ImageTemplateDistributor\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"galleryImageId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Resource
  Id of the Shared Image Gallery image\";}s:18:\"replicationRegions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:2:{i:0;s:14:\"galleryImageId\";i:1;s:18:\"replicationRegions\";}}s:27:\"ImageTemplateVhdDistributor\";O:8:\"stdClass\":4:{s:24:\"x-ms-discriminator-value\";s:3:\"VHD\";s:11:\"description\";s:40:\"Distribute
  via VHD in a storage account.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ImageTemplateDistributor\";}}}s:17:\"ProvisioningState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:8:\"Creating\";i:1;s:8:\"Updating\";i:2;s:9:\"Succeeded\";i:3;s:6:\"Failed\";i:4;s:8:\"Deleting\";}s:11:\"description\";s:34:\"Provisioning
  state of the resource\";}s:17:\"ProvisioningError\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"provisioningErrorCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:12:{i:0;s:13:\"BadSourceType\";i:1;s:12:\"BadPIRSource\";i:2;s:12:\"BadISOSource\";i:3;s:21:\"BadManagedImageSource\";i:4;s:27:\"BadSharedImageVersionSource\";i:5;s:17:\"BadCustomizerType\";i:6;s:25:\"UnsupportedCustomizerType\";i:7;s:18:\"NoCustomizerScript\";i:8;s:17:\"BadDistributeType\";i:9;s:24:\"BadSharedImageDistribute\";i:10;s:11:\"ServerError\";i:11;s:5:\"Other\";}s:11:\"description\";s:38:\"Error
  code of the provisioning failure\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Verbose
  error message about the provisioning failure\";}}}s:26:\"ImageTemplateLastRunStatus\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:32:\"Start
  time of the last run (UTC)\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:30:\"End
  time of the last run (UTC)\";}s:8:\"runState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"Running\";i:1;s:9:\"Succeeded\";i:2;s:18:\"PartiallySucceeded\";i:3;s:6:\"Failed\";}s:11:\"description\";s:21:\"State
  of the last run\";}s:11:\"runSubState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:6:\"Queued\";i:1;s:8:\"Building\";i:2;s:11:\"Customizing\";i:3;s:12:\"Distributing\";}s:11:\"description\";s:25:\"Sub-state
  of the last run\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Verbose
  information about the last run state\";}}}s:23:\"ImageTemplateProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ImageTemplateSource\";s:11:\"description\";s:59:\"Specifies
  the properties used to describe the source image.\";}s:9:\"customize\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ImageTemplateCustomizer\";}s:11:\"description\";s:101:\"Specifies
  the properties used to describe the customization steps of the image, like Image
  source etc\";}s:10:\"distribute\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ImageTemplateDistributor\";}s:11:\"description\";s:63:\"The
  distribution targets where the image output needs to go to.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ProvisioningState\";s:11:\"description\";s:34:\"Provisioning
  state of the resource\";s:8:\"readOnly\";b:1;}s:17:\"provisioningError\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ProvisioningError\";s:11:\"description\";s:26:\"Provisioning
  error, if any\";s:8:\"readOnly\";b:1;}s:13:\"lastRunStatus\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:40:\"#/definitions/ImageTemplateLastRunStatus\";s:11:\"description\";s:64:\"State
  of 'run' that is currently executing or was last executed.\";s:8:\"readOnly\";b:1;}s:21:\"buildTimeoutInMinutes\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:82:\"Maximum
  duration to wait while building the image template. Default is 60 minutes.\";}}s:8:\"required\";a:2:{i:0;s:6:\"source\";i:1;s:10:\"distribute\";}}s:21:\"ImageTemplateIdentity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:117:\"The
  type of identity used for the image template. The type 'None' will remove any identities
  from the image template.\";s:4:\"enum\";a:2:{i:0;s:12:\"UserAssigned\";i:1;s:4:\"None\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"ResourceIdentityType\";s:13:\"modelAsString\";b:0;}}s:22:\"userAssignedIdentities\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"principalId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  principal id of user assigned identity.\";}s:8:\"clientId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  client id of user assigned identity.\";}}}s:11:\"description\";s:289:\"The list
  of user identities associated with the image template. The user identity dictionary
  key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.\";}}s:11:\"description\";s:32:\"Identity
  for the image template.\";}s:19:\"RunOutputProperties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"artifactId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  resource id of the artifact.\";}s:11:\"artifactUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  location URI of the artifact.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ProvisioningState\";s:11:\"description\";s:34:\"Provisioning
  state of the resource\";s:8:\"readOnly\";b:1;}}}s:13:\"ImageTemplate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:37:\"#/definitions/ImageTemplateProperties\";}s:8:\"identity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ImageTemplateIdentity\";s:11:\"description\";s:50:\"The
  identity of the image template, if configured.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}}s:29:\"ImageTemplateUpdateParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"identity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ImageTemplateIdentity\";s:11:\"description\";s:50:\"The
  identity of the image template, if configured.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:59:\"The
  user-specified tags associated with the image template.\";}}s:11:\"description\";s:42:\"Parameters
  for updating an image template.\";}s:9:\"RunOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Represents
  an output that was created by running an image template.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/RunOutputProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:19:\"RunOutputCollection\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RunOutput\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  continuation token.\";}}}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  Resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Resource
  Id\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Resource
  name\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Resource
  type\";}s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Resource
  location\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:11:\"SubResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  Sub Resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Resource
  Id\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Resource
  name\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Resource
  type\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:5:\"title\";s:20:\"A
  REST API operation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"The
  operation name.\";s:11:\"description\";s:55:\"This is of the format {provider}/{resource}/{operation}\";s:4:\"type\";s:6:\"string\";}s:7:\"display\";O:8:\"stdClass\":2:{s:5:\"title\";s:40:\"The
  object that describes the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"provider\";O:8:\"stdClass\":2:{s:5:\"title\";s:39:\"Friendly
  name of the resource provider.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"The
  operation type.\";s:11:\"description\";s:52:\"For example: read, write, delete,
  or listKeys/action\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:5:\"title\";s:54:\"The
  resource type on which the operation is performed.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:5:\"title\";s:34:\"The
  friendly name of the operation\";s:4:\"type\";s:6:\"string\";}}}s:6:\"origin\";O:8:\"stdClass\":2:{s:5:\"title\";s:39:\"The
  intended executor of the operation.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"title\";s:28:\"Properties
  of the operation.\";s:4:\"type\";s:6:\"object\";}}}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:5:\"title\";s:134:\"Result
  of the request to list REST API operations. It contains a list of operations and
  a URL nextLink to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:5:\"title\";s:58:\"The
  list of operations supported by the resource provider.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:71:\"The
  URL to get the next set of operation list results if there are any.\";}}}s:12:\"ApiErrorBase\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  error code.\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  target of the particular error.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  error message.\";}}s:11:\"description\";s:15:\"Api error base.\";}s:10:\"InnerError\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"exceptionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  exception type.\";}s:11:\"errorDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  internal error message or exception dump.\";}}s:11:\"description\";s:20:\"Inner
  error details.\";}s:8:\"ApiError\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ApiErrorBase\";}s:11:\"description\";s:21:\"The
  Api error details\";}s:10:\"innerError\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/InnerError\";s:11:\"description\";s:19:\"The
  Api inner error\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  error code.\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  target of the particular error.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  error message.\";}}s:11:\"description\";s:10:\"Api error.\";}}"
...
