---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:66:\"Azure Application
  Insights client for Annotations for a component.\";s:5:\"title\";s:35:\"ApplicationInsightsManagementClient\";s:7:\"version\";s:10:\"2015-05-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:185:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/microsoft.insights/stable/2015-05-01/componentAnnotations_API.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:44:\"applicationinsights-componentAnnotations_API\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:50:\"azure_applicationinsights_componentannotations_api\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:10:\"Annotation\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Annotation
  associated with an application insights resource.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"AnnotationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of annotation\";s:4:\"type\";s:6:\"string\";}s:8:\"Category\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Category
  of annotation, free form\";s:4:\"type\";s:6:\"string\";}s:9:\"EventTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Time
  when event occurred\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Unique
  Id for annotation\";s:4:\"type\";s:6:\"string\";}s:10:\"Properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Serialized
  JSON object for detailed properties\";s:4:\"type\";s:6:\"string\";}s:17:\"RelatedAnnotation\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"null\";s:11:\"description\";s:32:\"Related
  parent annotation if any\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AnnotationError\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Error
  associated with trying to create annotation with Id that already exist\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Error
  detail code and explanation\";s:4:\"type\";s:6:\"string\";}s:10:\"innererror\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/InnerError\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Error
  message\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"InnerError\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Inner
  error\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"diagnosticcontext\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Provides
  correlation for request\";s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Request
  time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
