---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2017-10-01\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationSecurityGroups/{applicationSecurityGroupName}
  : delete:
      tags:
      - ApplicationSecurityGroups
      operationId: ApplicationSecurityGroups_Delete
      description: Deletes the specified application security group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: applicationSecurityGroupName
        in: path
        required: true
        type: string
        description: The name of the application security group.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: Request successful. Resource does not exist.
        202:
          description: Accepted and the operation will complete asynchronously.
        200:
          description: Delete successful.
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete application security group:
          $ref: ./examples/ApplicationSecurityGroupDelete.json
    get:
      tags:
      - ApplicationSecurityGroups
      operationId: ApplicationSecurityGroups_Get
      description: Gets information about the specified application security group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: applicationSecurityGroupName
        in: path
        required: true
        type: string
        description: The name of the application security group.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the specified application
            security group resource.
          schema:
            $ref: '#/definitions/ApplicationSecurityGroup'
      x-ms-examples:
        Get application security group:
          $ref: ./examples/ApplicationSecurityGroupGet.json
    put:
      tags:
      - ApplicationSecurityGroups
      operationId: ApplicationSecurityGroups_CreateOrUpdate
      description: Creates or updates an application security group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: applicationSecurityGroupName
        in: path
        required: true
        type: string
        description: The name of the application security group.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ApplicationSecurityGroup'
        description: Parameters supplied to the create or update ApplicationSecurityGroup
          operation.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        201:
          description: Create successful. The operation returns the resulting application
            security group resource.
          schema:
            $ref: '#/definitions/ApplicationSecurityGroup'
        200:
          description: Update successful. The operation returns the resulting application
            security group resource.
          schema:
            $ref: '#/definitions/ApplicationSecurityGroup'
      x-ms-long-running-operation: true
      x-ms-examples:
        Create application security group:
          $ref: ./examples/ApplicationSecurityGroupCreate.json
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationSecurityGroups:
    get:
      tags:
      - ApplicationSecurityGroups
      operationId: ApplicationSecurityGroups_ListAll
      description: Gets all application security groups in a subscription.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of application
            security group resources.
          schema:
            $ref: '#/definitions/ApplicationSecurityGroupListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List all application security groups:
          $ref: ./examples/ApplicationSecurityGroupListAll.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationSecurityGroups:
    get:
      tags:
      - ApplicationSecurityGroups
      operationId: ApplicationSecurityGroups_List
      description: Gets all the application security groups in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of application
            security group resources.
          schema:
            $ref: '#/definitions/ApplicationSecurityGroupListResult'
      x-ms-examples:
        List load balancers in resource group:
          $ref: ./examples/ApplicationSecurityGroupList.json
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:24:\"ApplicationSecurityGroup\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:54:\"#/definitions/ApplicationSecurityGroupPropertiesFormat\";s:11:\"description\";s:45:\"Properties
  of the application security group.\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"./network.json#/definitions/Resource\";}}s:11:\"description\";s:50:\"An
  application security group in a resource group.\";}s:40:\"ApplicationSecurityGroupPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"resourceGuid\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:204:\"The
  resource GUID property of the application security group resource. It uniquely identifies
  a resource, even if the user changes its name or migrate the resource across subscriptions
  or resource groups.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:138:\"The
  provisioning state of the application security group resource. Possible values are:
  'Succeeded', 'Updating', 'Deleting', and 'Failed'.\";}}s:11:\"description\";s:38:\"Application
  security group properties.\";}s:34:\"ApplicationSecurityGroupListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ApplicationSecurityGroup\";}s:11:\"description\";s:38:\"A
  list of application security groups.\";}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:38:\"A list of application
  security groups.\";}}"
...
