---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:28:\"RecoveryServicesBackupClient\";s:7:\"version\";s:10:\"2016-08-10\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:182:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-08-10/operations.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:33:\"recoveryservicesbackup-operations\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:39:\"azure_recoveryservicesbackup_operations\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.RecoveryServices/operations:
    get:
      deprecated: false
      description: Returns the list of available operations.
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/ApiVersion'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ClientDiscoveryResponse'
      tags:
      - Operations
      x-ms-examples:
        ListOperations:
          parameters:
            api-version: "2016-08-10"
          responses:
            200:
              body:
                value:
                - display:
                    description: Returns usage details for a Recovery Services Vault.
                    operation: Recovery Services Vault usage details.
                    provider: microsoft.recoveryservices
                    resource: Vault Usage
                  name: microsoft.recoveryservices/vaults/usages/read
                  origin: user
                - display:
                    description: Returns summaries for Protected Items and Protected
                      Servers for a Recovery Services .
                    operation: Recovery Services Protected Items and Protected Servers
                      usage summaries details.
                    provider: microsoft.recoveryservices
                    resource: Backup Usages Summaries
                  name: microsoft.recoveryservices/vaults/backupUsageSummaries/read
                  origin: user
                - display:
                    description: Returns Storage Configuration for Recovery Services
                      Vault.
                    operation: Get Resource Storage Config
                    provider: microsoft.recoveryservices
                    resource: Vault Storage Config
                  name: microsoft.recoveryservices/vaults/storageConfig/read
                  origin: user
                - display:
                    description: Updates Storage Configuration for Recovery Services
                      Vault.
                    operation: Write Resource Storage Config
                    provider: microsoft.recoveryservices
                    resource: Vault Storage Config
                  name: microsoft.recoveryservices/vaults/storageConfig/write
                  origin: user
                - display:
                    description: Returns Configuration for Recovery Services Vault.
                    operation: Get Resource Config
                    provider: microsoft.recoveryservices
                    resource: Vault Config
                  name: microsoft.recoveryservices/vaults/backupconfig/vaultconfig/read
                  origin: user
                - display:
                    description: Updates Configuration for Recovery Services Vault.
                    operation: Update Resource Config
                    provider: microsoft.recoveryservices
                    resource: Vault Config
                  name: microsoft.recoveryservices/vaults/backupconfig/vaultconfig/write
                  origin: user
                - display:
                    description: Returns token information for Recovery Services Vault.
                    operation: Get Vault Token Info
                    provider: microsoft.recoveryservices
                    resource: Token Info
                  name: microsoft.recoveryservices/vaults/tokenInfo/read
                  origin: user
                - display:
                    description: Returns Security PIN Information for Recovery Services
                      Vault.
                    operation: Get Security PIN Info
                    provider: microsoft.recoveryservices
                    resource: SecurityPINInfo
                  name: microsoft.recoveryservices/vaults/backupSecurityPIN/read
                  origin: user
                - display:
                    description: Returns Backup Management Metadata for Recovery Services
                      Vault.
                    operation: Get Backup Management Metadata
                    provider: microsoft.recoveryservices
                    resource: Backup Management Metadata
                  name: microsoft.recoveryservices/vaults/backupManagementMetaData/read
                  origin: user
                - display:
                    description: Returns Backup Operation Result for Recovery Services
                      Vault.
                    operation: Get Backup Operation Result
                    provider: microsoft.recoveryservices
                    resource: Backup Operation Results
                  name: microsoft.recoveryservices/vaults/backupOperationResults/read
                  origin: user
                - display:
                    description: Returns Backup Operation Status for Recovery Services
                      Vault.
                    operation: Get Backup Operation Status
                    provider: microsoft.recoveryservices
                    resource: Backup Operation Status
                  name: microsoft.recoveryservices/vaults/backupOperations/read
                  origin: user
                - display:
                    description: Returns all Job Objects
                    operation: Get Jobs
                    provider: microsoft.recoveryservices
                    resource: Backup Jobs
                  name: microsoft.recoveryservices/vaults/backupJobs/read
                  origin: user
                - display:
                    description: Cancel the Job
                    operation: Cancel Jobs
                    provider: microsoft.recoveryservices
                    resource: Backup Jobs
                  name: microsoft.recoveryservices/vaults/backupJobs/cancel/action
                  origin: user
                - display:
                    description: Export Jobs
                    operation: Export Jobs
                    provider: microsoft.recoveryservices
                    resource: Export Backup Jobs
                  name: microsoft.recoveryservices/vaults/backupJobsExport/action
                  origin: user
                - display:
                    description: Returns the Result of Job Operation.
                    operation: Get Job Operation Result
                    provider: microsoft.recoveryservices
                    resource: Backup Jobs Operation Results
                  name: microsoft.recoveryservices/vaults/backupJobs/operationResults/read
                  origin: user
                - display:
                    description: Returns the Result of Export Job Operation.
                    operation: Get Export Job Operation Result
                    provider: microsoft.recoveryservices
                    resource: Export Backup Jobs Operation Results
                  name: microsoft.recoveryservices/vaults/backupJobsExport/operationResults/read
                  origin: user
                - display:
                    description: Get Recovery Points for Protected Items.
                    operation: Get Recovery Points
                    provider: microsoft.recoveryservices
                    resource: Recovery Points
                  name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints/read
                  origin: user
                - display:
                    description: Restore Recovery Points for Protected Items.
                    operation: Restore Recovery Points
                    provider: microsoft.recoveryservices
                    resource: Recovery Points
                  name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints/restore/action
                  origin: user
                - display:
                    description: Provision Instant Item Recovery for Protected Item
                    operation: Provision Instant Item Recovery for Protected Item
                    provider: microsoft.recoveryservices
                    resource: Recovery Points
                  name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints/provisionInstantItemRecovery/action
                  origin: user
                - display:
                    description: Revoke Instant Item Recovery for Protected Item
                    operation: Revoke Instant Item Recovery for Protected Item
                    provider: microsoft.recoveryservices
                    resource: Recovery Points
                  name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints/revokeInstantItemRecovery/action
                  origin: user
                - display:
                    description: Returns all Protection Policies
                    operation: Get Protection Policy
                    provider: microsoft.recoveryservices
                    resource: Backup Policies
                  name: microsoft.recoveryservices/vaults/backupPolicies/read
                  origin: user
                - display:
                    description: Creates Protection Policy
                    operation: Create Protection Policy
                    provider: microsoft.recoveryservices
                    resource: Backup Policies
                  name: microsoft.recoveryservices/vaults/backupPolicies/write
                  origin: user
                - display:
                    description: Delete a Protection Policy
                    operation: Delete Protection Policy
                    provider: microsoft.recoveryservices
                    resource: Backup Policies
                  name: microsoft.recoveryservices/vaults/backupPolicies/delete
                  origin: user
                - display:
                    description: Get Results of Policy Operation.
                    operation: Get Policy Operation Results
                    provider: microsoft.recoveryservices
                    resource: Backup Policy Operation Results
                  name: microsoft.recoveryservices/vaults/backupPolicies/operationResults/read
                  origin: user
                - display:
                    description: Get Status of Policy Operation.
                    operation: Get Policy Operation Status
                    provider: microsoft.recoveryservices
                    resource: Backup Policy Operation Status
                  name: microsoft.recoveryservices/vaults/backupPolicies/operationsStatus/read
                  origin: user
                - display:
                    description: Returns object details of the Protected Item
                    operation: Get Protected Item Details
                    provider: microsoft.recoveryservices
                    resource: Protected Items
                  name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/read
                  origin: user
                - display:
                    description: Returns the list of all Protected Items.
                    operation: Get All Protected Items
                    provider: microsoft.recoveryservices
                    resource: Protected Items
                  name: microsoft.recoveryservices/vaults/backupProtectedItems/read
                  origin: user
                - display:
                    description: Create a backup Protected Item
                    operation: Create Backup Protected Item
                    provider: microsoft.recoveryservices
                    resource: Protected Items
                  name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/write
                  origin: user
                - display:
                    description: Deletes Protected Item
                    operation: Delete Protected Items
                    provider: microsoft.recoveryservices
                    resource: Protected Items
                  name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/delete
                  origin: user
                - display:
                    description: Gets Result of Operation Performed on Protected Items.
                    operation: Get Protected Items Operation Results
                    provider: microsoft.recoveryservices
                    resource: Protected Item Operation Results
                  name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/operationResults/read
                  origin: user
                - display:
                    description: Returns the status of Operation performed on Protected
                      Items.
                    operation: Get Protected Items operation status
                    provider: microsoft.recoveryservices
                    resource: Protected Item Operation Status
                  name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/operationsStatus/read
                  origin: user
                - display:
                    description: Performs Backup for Protected Item.
                    operation: Backup Protected Item
                    provider: microsoft.recoveryservices
                    resource: Protected Items
                  name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/backup/action
                  origin: user
                - display:
                    description: Returns list of all Protectable Items.
                    operation: Get Protectable Items
                    provider: microsoft.recoveryservices
                    resource: Backup Protectable Items
                  name: microsoft.recoveryservices/vaults/backupProtectableItems/read
                  origin: user
                - display:
                    description: Refreshes the container list
                    operation: Refresh container
                    provider: microsoft.recoveryservices
                    resource: Refresh Containers
                  name: microsoft.recoveryservices/vaults/refreshContainers/read
                  origin: user
                - display:
                    description: Returns status of the operation
                    operation: Get Operation Results
                    provider: microsoft.recoveryservices
                    resource: Refresh Containers Operation Results
                  name: microsoft.recoveryservices/vaults/backupFabrics/operationResults/read
                  origin: user
                - display:
                    description: Returns all containers belonging to the subscription
                    operation: Get Containers In Subscription
                    provider: microsoft.recoveryservices
                    resource: Backup Protection Containers
                  name: microsoft.recoveryservices/vaults/backupProtectionContainers/read
                  origin: user
                - display:
                    description: Returns all registered containers
                    operation: Get Registered Container
                    provider: microsoft.recoveryservices
                    resource: Protection Containers
                  name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/read
                  origin: user
                - display:
                    description: Gets result of Operation performed on Protection
                      Container.
                    operation: Get Container Operation Results
                    provider: microsoft.recoveryservices
                    resource: Protection Containers Operation Results
                  name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/operationResults/read
                  origin: user
                - display:
                    description: Returns all the backup management servers registered
                      with vault.
                    operation: List of backup management servers.
                    provider: microsoft.recoveryservices
                    resource: Backup Engines
                  name: microsoft.recoveryservices/vaults/backupEngines
                  origin: user
                - display:
                    description: Check Backup Status for Recovery Services Vaults
                    operation: Check Backup Status for Vault
                    provider: microsoft.recoveryservices
                    resource: Backup Status
                  name: microsoft.recoveryservices/vaults/backupStatus
                  origin: user
                - display:
                    description: ""
                    operation: Pre Validate Enable Protection
                    provider: microsoft.recoveryservices
                    resource: PreValidate Protection
                  name: microsoft.recoveryservices/vaults/backupPreValidateProtection
                  origin: user
                - display:
                    description: Validate Features
                    operation: Validate Features
                    provider: microsoft.recoveryservices
                    resource: Validate Features
                  name: microsoft.recoveryservices/vaults/backupValidateFeatures
                  origin: user
                - display:
                    description: Create a backup Protection Intent
                    operation: Create backup Protection Intent
                    provider: microsoft.recoveryservices
                    resource: Protection Intent
                  name: microsoft.recoveryservices/vaults/backupFabrics/backupProtectionIntent/write
                  origin: user
                - display:
                    description: Get all items in a container
                    operation: Get all items in a container
                    provider: microsoft.recoveryservices
                    resource: Workload Items
                  name: microsoft.recoveryservices/vaults/backupFabrics/{fabricName}/protectionContainers/{containerName}/items/read
                  origin: user
                - display:
                    description: Get all items in a container
                    operation: Get all items in a container
                    provider: microsoft.recoveryservices
                    resource: Protection Containers Inquire
                  name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/inquire/action
                  origin: user
      x-ms-pageable:
        itemName: value
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:22:\"ClientDiscoveryDisplay\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Localized
  display information of an operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Description
  of the operation having details of what operation is about.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Operations
  Name itself.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Name
  of the provider for display purposes\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"ResourceType
  for which this Operation can be performed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"ClientDiscoveryForLogSpecification\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Class
  to represent shoebox log specification in json client discovery.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"blobDuration\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"blob
  duration of shoebox log specification\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Localized
  display name\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Name
  for shoebox log specification.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ClientDiscoveryForProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Class
  to represent shoebox properties in json client discovery.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"serviceSpecification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:52:\"#/definitions/ClientDiscoveryForServiceSpecification\";s:11:\"description\";s:21:\"Operation
  properties.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"ClientDiscoveryForServiceSpecification\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Class
  to represent shoebox service specification in json client discovery.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"logSpecifications\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"List
  of log specifications of this operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/ClientDiscoveryForLogSpecification\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ClientDiscoveryResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Operations
  List response which contains list of available APIs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Link
  to the next chunk of Response.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"List
  of available operationss.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ClientDiscoveryValueForSingleApi\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ClientDiscoveryValueForSingleApi\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Available
  operation details.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"display\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ClientDiscoveryDisplay\";s:11:\"description\";s:72:\"Contains
  the localized display information for this particular operation\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of the Operation.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"The
  intended executor of the operation;governs the display of the operation in the RBAC
  UX and the audit logs UX\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ClientDiscoveryForProperties\";s:11:\"description\";s:43:\"ShoeBox
  properties for the given operation.\";}}s:4:\"type\";s:6:\"object\";}}"
...
