---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:147:\"Use these REST
  APIs for performing operations on entities like API, Product, and Subscription associated
  with your Azure API Management deployment.\";s:5:\"title\";s:19:\"ApiManagementClient\";s:7:\"version\";s:10:\"2018-01-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:174:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/apimanagement.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:13:\"apimanagement\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"azure_apimanagement\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:18:\"ErrorFieldContract\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Error
  Field contract.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Property
  level error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Human-readable
  representation of property-level error.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Property
  name.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Error
  Response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Error
  Body contract.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Service-defined
  error code. This code serves as a sub-status for the HTTP error code specified in
  the response.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  list of invalid fields send in request, in case of validation error.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Error
  Field contract.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Property
  level error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Human-readable
  representation of property-level error.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Property
  name.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Human-readable
  representation of the error.\";s:4:\"type\";s:6:\"string\";}}}}}s:17:\"ErrorResponseBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Error
  Body contract.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Service-defined
  error code. This code serves as a sub-status for the HTTP error code specified in
  the response.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  list of invalid fields send in request, in case of validation error.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Error
  Field contract.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Property
  level error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Human-readable
  representation of property-level error.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Property
  name.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Human-readable
  representation of the error.\";s:4:\"type\";s:6:\"string\";}}}s:16:\"PolicyCollection\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  response of the list policy operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Next
  page link if any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Policy
  Contract value.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PolicyContract\";}s:4:\"type\";s:5:\"array\";}}}s:14:\"PolicyContract\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:24:\"Policy
  Contract details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:38:\"#/definitions/PolicyContractProperties\";s:11:\"description\";s:25:\"Properties
  of the Policy.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:24:\"PolicyContractProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Policy
  contract Properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"contentFormat\";O:8:\"stdClass\":5:{s:7:\"default\";s:3:\"xml\";s:11:\"description\";s:28:\"Format
  of the policyContent.\";s:4:\"enum\";a:4:{i:0;s:3:\"xml\";i:1;s:8:\"xml-link\";i:2;s:6:\"rawxml\";i:3;s:11:\"rawxml-link\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:19:\"PolicyContentFormat\";s:6:\"values\";a:4:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  contents are inline and Content type is an XML document.\";s:5:\"value\";s:3:\"xml\";}i:1;O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  policy XML document is hosted on a http endpoint accessible from the API Management
  service.\";s:5:\"value\";s:8:\"xml-link\";}i:2;O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  contents are inline and Content type is a non XML encoded policy document.\";s:5:\"value\";s:6:\"rawxml\";}i:3;O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"The
  policy document is not Xml encoded and is hosted on a http endpoint accessible from
  the API Management service.\";s:5:\"value\";s:11:\"rawxml-link\";}}}}s:13:\"policyContent\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Json
  escaped Xml Encoded contents of the Policy.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:13:\"policyContent\";}}s:21:\"PolicySnippetContract\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Policy
  snippet.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"content\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Snippet
  content.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Snippet
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"scope\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Binary
  OR value of the Snippet scope.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:7:\"toolTip\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Snippet
  toolTip.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:24:\"PolicySnippetsCollection\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  response of the list policy snippets operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Policy
  snippet value.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PolicySnippetContract\";}s:4:\"type\";s:5:\"array\";}}}s:14:\"RegionContract\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Region
  profile.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"isDeleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"whether
  Region is deleted.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"isMasterRegion\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"whether
  Region is the master region.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Region
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:16:\"RegionListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Lists
  Regions operation response details.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Total
  record count number across all pages.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Next
  page link if any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Lists
  of Regions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RegionContract\";}s:4:\"type\";s:5:\"array\";}}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  Resource definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Resource
  type for API Management resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}"
...
