---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:5:\"title\";s:22:\"RecoveryServicesClient\";s:7:\"version\";s:10:\"2016-06-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:186:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2016-06-01/registeredidentities.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:37:\"recoveryservices-registeredidentities\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/certificates/{certificateName}
  : put:
      deprecated: false
      description: Uploads a certificate for a resource.
      operationId: VaultCertificates_Create
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      - description: Certificate friendly name.
        in: path
        name: certificateName
        required: true
        type: string
      - description: Input parameters for uploading the vault certificate.
        in: body
        name: certificateRequest
        required: true
        schema:
          $ref: '#/definitions/CertificateRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/VaultCertificateResponse'
      tags:
      - VaultCertificates
      x-ms-examples:
        Download vault credential file:
          parameters:
            api-version: "2016-06-01"
            certificateName: BCDRIbzVault77777777-d41f-4550-9f70-7708a3a2283b-12-18-2017-vaultcredentials
            certificateRequest:
              properties:
                authType: AAD
                certificate: MTTC3TCCAcWgAwIBAgIQEj9h+ZLlXK9KrqZX9UkAnzANBgkqhkiG9w0BAQUFADAeMRwwGgYDVQQDExNXaW5kb3dzIEF6dXJlIFRvb2xzMB4XDTE3MTIxODA5MTc1M1oXDTE3MTIyMzA5Mjc1M1owHjEcMBoGA1UEAxMTV2luZG93cyBBenVyZSBUb29sczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAK773/eZZ69RbZZAT05r9MjUxu9y1L1Pn1EgPk62IPJyHlO3OZA922eSBahhP4bgmFljN4LVReqQ5eT/wqO0Zhc+yFkUy4U4RdbQLeUZt2W7yy9XLXgVvqeYDgsjg/QhHetgHArQBW+tlQq5+zPdU7zchI4rbShSJrWhLrZFWiOyFPsuAE4joUQHNlRifdCTsBGKk8HRCY3j1S3c4bfEn3zxlrvrXXssRuW5mJM95rMk0tskoRxXSCi6i9bnlki2Cs9mpVMmBFeofs41KwzlWU0TgpdD8s1QEdvfGB5NbByfetPX7MfJaTBeHZEGbv/Iq8l72u8sPBoOhcaH7qDE/mECAwEAAaMXMBUwEwYDVR0lBAwwCgYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEBAILfgHluye1Q+WelhgWhpBBdIq2C0btfV8eFsZaTlBUrM0fwpxQSlAWc2oYHVMQI4A5iUjbDOY35O4yc+TnWKDBKf+laqDP+yos4aiUPuadGUZfvDk7kuw7xeECs64JpHAIEKdRHFW9rD3gwG+nIWaDnEL/7rTyhL3kXrRW2MSUAL8g3GX8Z45c+MQY0jmASIqWdhGn1vpAGyA9mKkzsqg7FXjg8GZb24tGl5Ky85+ip4dkBfXinDD8WwaGyjhGGK97ErvNmN36qly/H0H1Qngiovg1FbHDmkcFO5QclnEJsFFmcO2CcHp5Fqh2wXn5O1cQaxCIRTpQ/uXRpDjl2wKs=
            resourceGroupName: BCDRIbzRG
            subscriptionId: 77777777-d41f-4550-9f70-7708a3a2283b
            vaultName: BCDRIbzVault
          responses:
            200:
              body:
                id: /Subscriptions/77777777-d41f-4550-9f70-7708a3a2283b/resourceGroups/BCDRIbzRG/providers/Microsoft.RecoveryServices/vaults/BCDRIbzVault/certificates/BCDRIbzVault77777777-d41f-4550-9f70-7708a3a2283b-12-18-2017-vaultcredentials
                name: BCDRIbzVault77777777-d41f-4550-9f70-7708a3a2283b-12-18-2017-vaultcredentials
                properties:
                  aadAuthority: https://login.windows.net
                  aadTenantId: 9b0c2069-2eba-489f-95f4-eca15cb602ab
                  authType: AzureActiveDirectory
                  azureManagementEndpointAudience: https://ppe1-id1.wus.wabppe.obs-test.com/restapi/
                  certificate: MTTC3TCCAcWgAwIBAgIQEj9h+ZLlXK9KrqZX9UkAnzANBgkqhkiG9w0BAQUFADAeMRwwGgYDVQQDExNXaW5kb3dzIEF6dXJlIFRvb2xzMB4XDTE3MTIxODA5MTc1M1oXDTE3MTIyMzA5Mjc1M1owHjEcMBoGA1UEAxMTV2luZG93cyBBenVyZSBUb29sczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAK773/eZZ69RbZZAT05r9MjUxu9y1L1Pn1EgPk62IPJyHlO3OZA922eSBahhP4bgmFljN4LVReqQ5eT/wqO0Zhc+yFkUy4U4RdbQLeUZt2W7yy9XLXgVvqeYDgsjg/QhHetgHArQBW+tlQq5+zPdU7zchI4rbShSJrWhLrZFWiOyFPsuAE4joUQHNlRifdCTsBGKk8HRCY3j1S3c4bfEn3zxlrvrXXssRuW5mJM95rMk0tskoRxXSCi6i9bnlki2Cs9mpVMmBFeofs41KwzlWU0TgpdD8s1QEdvfGB5NbByfetPX7Mf                JaTBeHZEGbv/Iq8l72u8sPBoOhcaH7qDE/mECAwEAAaMXMBUwEwYDVR0lBAwwCgYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEBAILfgHluye1Q+WelhgWhpBBdIq2C0btfV8eFsZaTlBUrM0fwpxQSlAWc2oYHVMQI4A5iUjbDOY35O4yc+TnWKDBKf+laqDP+yos4aiUPuadGUZfvDk7kuw7xeECs64JpHAIEKdRHFW9rD3gwG+nIWaDnEL/7rTyhL3kXrRW2MSUAL8g3GX8Z45c+MQY0jmASIqWdhGn1vpAGyA9mKkzsqg7FXjg8GZb24tGl5Ky85+ip4dkBfXinDD8WwaGyjhGGK97ErvNmN36qly/H0H1Qngiovg1FbHDmkcFO5QclnEJsFFmcO2CcHp5Fqh2wXn5O1cQaxCIRTpQ/uXRpDjl2wKs=
                  friendlyName: ""
                  issuer: CN=Windows Azure Tools
                  resourceId: 8726350008099341000
                  servicePrincipalClientId: 4932d0bd-b5f9-4659-94a0-7ab02d918933
                  servicePrincipalObjectId: 2d60221e-cef5-4e13-ba66-b33701a533bb
                  subject: CN=Windows Azure Tools
                  thumbprint: 019FE9BAD18A5A09A5CA53B593AF66331F3054AF
                  validFrom: "2017-12-18T14:47:53+05:30"
                  validTo: "2017-12-23T14:57:53+05:30"
                type: Microsoft.RecoveryServices/vaults/certificates
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/registeredIdentities/{identityName}
  : delete:
      deprecated: false
      description: Unregisters the given container from your Recovery Services vault.
      operationId: RegisteredIdentities_Delete
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      - description: Name of the protection container to unregister.
        in: path
        name: identityName
        required: true
        type: string
      responses:
        204:
          description: NoContent
      tags:
      - RegisteredIdentities
      x-ms-examples:
        Delete registered Identity:
          parameters:
            api-version: "2016-06-01"
            identityName: dpmcontainer01
            resourceGroupName: BCDRIbzRG
            subscriptionId: 77777777-d41f-4550-9f70-7708a3a2283b
            vaultName: BCDRIbzVault
          responses:
            204:
              body: ""
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:18:\"CertificateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Details
  of the certificate to be uploaded to the vault.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RawCertificateData\";}}s:4:\"type\";s:6:\"object\";}s:18:\"RawCertificateData\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Raw
  certificate data.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"authType\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Specifies
  the authentication type.\";s:4:\"enum\";a:5:{i:0;s:7:\"Invalid\";i:1;s:3:\"ACS\";i:2;s:3:\"AAD\";i:3;s:20:\"AccessControlService\";i:4;s:20:\"AzureActiveDirectory\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:8:\"AuthType\";}}s:11:\"certificate\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  base64 encoded certificate raw data string\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ResourceCertificateAndAadDetails\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ResourceCertificateDetails\";}}s:11:\"description\";s:63:\"Certificate
  details representing the Vault credentials for AAD.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"aadAuthority\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"AAD
  tenant authority.\";s:4:\"type\";s:6:\"string\";}s:11:\"aadTenantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"AAD
  tenant Id.\";s:4:\"type\";s:6:\"string\";}s:31:\"azureManagementEndpointAudience\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Azure
  Management Endpoint Audience.\";s:4:\"type\";s:6:\"string\";}s:24:\"servicePrincipalClientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"AAD
  service principal clientId.\";s:4:\"type\";s:6:\"string\";}s:24:\"servicePrincipalObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"AAD
  service principal ObjectId.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:13:{i:0;s:11:\"certificate\";i:1;s:10:\"resourceId\";i:2;s:12:\"aadAuthority\";i:3;s:11:\"aadTenantId\";i:4;s:24:\"servicePrincipalClientId\";i:5;s:24:\"servicePrincipalObjectId\";i:6;s:31:\"azureManagementEndpointAudience\";i:7;s:7:\"subject\";i:8;s:9:\"validFrom\";i:9;s:7:\"validTo\";i:10;s:10:\"thumbprint\";i:11;s:12:\"friendlyName\";i:12;s:6:\"issuer\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:20:\"AzureActiveDirectory\";}s:32:\"ResourceCertificateAndAcsDetails\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ResourceCertificateDetails\";}}s:11:\"description\";s:63:\"Certificate
  details representing the Vault credentials for ACS.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"globalAcsHostName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Acs
  mgmt host name to connect to.\";s:4:\"type\";s:6:\"string\";}s:18:\"globalAcsNamespace\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"ACS
  namespace name - tenant for our service.\";s:4:\"type\";s:6:\"string\";}s:16:\"globalAcsRPRealm\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Global
  ACS namespace RP realm.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:11:{i:0;s:11:\"certificate\";i:1;s:10:\"resourceId\";i:2;s:18:\"globalAcsNamespace\";i:3;s:17:\"globalAcsHostName\";i:4;s:16:\"globalAcsRPRealm\";i:5;s:7:\"subject\";i:6;s:9:\"validFrom\";i:7;s:7:\"validTo\";i:8;s:10:\"thumbprint\";i:9;s:12:\"friendlyName\";i:10;s:6:\"issuer\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:20:\"AccessControlService\";}s:26:\"ResourceCertificateDetails\";O:8:\"stdClass\":5:{s:11:\"description\";s:55:\"Certificate
  details representing the Vault credentials.\";s:13:\"discriminator\";s:8:\"authType\";s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"authType\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"This
  property will be used as the discriminator for deciding the specific types in the
  polymorhpic chain of types.\";s:4:\"type\";s:6:\"string\";}s:11:\"certificate\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  base64 encoded certificate raw data string.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Certificate
  friendlyname.\";s:4:\"type\";s:6:\"string\";}s:6:\"issuer\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Certificate
  issuer.\";s:4:\"type\";s:6:\"string\";}s:10:\"resourceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Resource
  ID of the vault.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Certificate
  Subject Name.\";s:4:\"type\";s:6:\"string\";}s:10:\"thumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Certificate
  thumbprint.\";s:4:\"type\";s:6:\"string\";}s:9:\"validFrom\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Certificate
  Validity start Date time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"validTo\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Certificate
  Validity End Date time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"authType\";}s:4:\"type\";s:6:\"object\";}s:24:\"VaultCertificateResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:103:\"Certificate
  corresponding to a vault that can be used by clients to register themselves with
  the vault.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Resource
  Id represents the complete path to the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Resource
  name associated with the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ResourceCertificateDetails\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Resource
  type represents the complete path of the form Namespace/ResourceType/ResourceType/...\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}"
...
