---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2016-06-01\";s:5:\"title\";s:22:\"RecoveryServicesClient\";s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:20:\"internalConstructors\";b:0;}}"
host: management.azure.com
paths:
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/usages
  : get:
      tags:
      - VaultUsages
      description: Fetches the usages of the vault.
      operationId: Usages_ListByVaults
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/VaultUsageList'
      deprecated: false
      x-ms-pageable:
        nextLinkName: ~
      x-ms-examples:
        Gets vault usages:
          $ref: ./examples/ListUsages.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:10:\"VaultUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Usages
  of a vault.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"unit\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Unit
  of the usage.\";s:4:\"enum\";a:6:{i:0;s:5:\"Count\";i:1;s:5:\"Bytes\";i:2;s:7:\"Seconds\";i:3;s:7:\"Percent\";i:4;s:14:\"CountPerSecond\";i:5;s:14:\"BytesPerSecond\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"UsagesUnit\";s:13:\"modelAsString\";b:1;}}s:11:\"quotaPeriod\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Quota
  period of usage.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextResetTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:25:\"Next
  reset time of usage.\";s:4:\"type\";s:6:\"string\";}s:12:\"currentValue\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:23:\"Current
  value of usage.\";s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:15:\"Limit
  of usage.\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/NameInfo\";s:11:\"description\";s:14:\"Name
  of usage.\";}}}s:14:\"VaultUsageList\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Usage
  for vault.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  list of usages for the given vault.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/VaultUsage\";}}}}s:8:\"NameInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  name of usage.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Value
  of usage.\";s:4:\"type\";s:6:\"string\";}s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Localized
  value of usage.\";s:4:\"type\";s:6:\"string\";}}}}"
...
