---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2017-09-01\";s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/virtualNetworkAvailableEndpointServices:
    get:
      operationId: AvailableEndpointServices_List
      description: List what values of endpoint services are available for use.
      parameters:
      - name: location
        in: path
        required: true
        type: string
        description: The location to check available endpoint services.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. Returns list of available endpoint services.
          schema:
            $ref: '#/definitions/EndpointServicesListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        EndpointServicesList:
          parameters:
            location: westus
            api-version: "2017-09-01"
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - name: Microsoft.Storage
                  id: /subscriptions/subid/providers/Microsoft.Network/virtualNetworkEndpointServices/Microsoft.Storage
                  type: Microsoft.Network/virtualNetworkEndpointServices
                - name: Microsoft.Sql
                  id: /subscriptions/subid/providers/Microsoft.Network/virtualNetworkEndpointServices/Microsoft.Sql
                  type: Microsoft.Network/virtualNetworkEndpointServices
                - name: Microsoft.AzureActiveDirectory
                  id: /subscriptions/subid/providers/Microsoft.Network/virtualNetworkEndpointServices/Microsoft.AzureActiveDirectory
                  type: Microsoft.Network/virtualNetworkEndpointServices
      produces:
      - application/json
      consumes:
      - application/json
      x-internal-toc-name: List
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:26:\"EndpointServicesListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/EndpointServiceResult\";}s:11:\"description\";s:48:\"List
  of available endpoint services in a region.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:64:\"Response for
  the ListAvailableEndpointServices API service call.\";}s:21:\"EndpointServiceResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Name
  of the endpoint service.\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Type
  of the endpoint service.\";s:8:\"readOnly\";b:1;}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SubResourceReadOnly\";}}s:11:\"description\";s:17:\"Endpoint
  service.\";}s:19:\"SubResourceReadOnly\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:11:\"description\";s:11:\"Resource
  ID\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}"
...
