---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:247:\"The Azure SQL
  Database management API provides a RESTful set of web APIs that interact with Azure
  SQL Database services to manage your databases. The API enables users to create,
  retrieve, update, and delete databases, servers, and other entities.\";s:5:\"title\";s:19:\"SqlManagementClient\";s:7:\"version\";s:18:\"2017-10-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:165:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/cancelOperations.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:20:\"sql-cancelOperations\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"azure_sql_canceloperations\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/operations
  : get:
      description: Gets a list of operations performed on the database.
      operationId: DatabaseOperations_ListByDatabase
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: The request for getting database operations has been executed
            successfully.
          schema:
            $ref: '#/definitions/DatabaseOperationListResult'
        default:
          description: '*** Error Responses: ***nn * 400 TierChangeUnsupportedDueToMemoryOptimizedObject
            - The database cannot update its sku because it has memory-optimized objects.nn
            * 400 SourceServerNotFound - The server part of a source database id provided
            in a CreateDatabaseAsCopy API call doesn''t map to an existing server.nn
            * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database
            when the storage limit of the elastic pool has been reached.nn * 400 InvalidAddSecondaryPermission
            - User does not have sufficient permission to add secondary on the specified
            server.nn * 400 UnsupportedServiceName - The specified name is an invalid
            name because it contains one or more unsupported unicode characters.nn
            * 400 CurrentDatabaseLogSizeExceedsMaxSize - User attempted to change
            the database to a sku with lower max log size than the current usage.nn
            * 400 CannotUpdateToFreeDatabase - Updating a database to the free sku
            is not supported.nn * 400 InvalidSku - The user specified an invalid sku.nn
            * 400 InvalidTierSkuCombination - The specified tier does not support
            the specified sku.nn * 400 ServerNotFound - The requested server was not
            found.nn * 400 TokenTooLong - The provided token is too long.nn * 400
            FeatureDisabledOnSelectedEdition - User attempted to use a feature which
            is disabled on current database edition.nn * 400 OfferDisabledOnSubscription
            - Subscription offer type is restricted from provisioning the requested
            resource.nn * 400 InvalidTargetSubregion - The target server of a non-readable
            secondary is not in a DR paired Azure region.nn * 400 PartnerServerNotCompetible
            - The user is attempting to copy a database from a SAWA V1 server to a
            Sterling server or vice versa.nn * 400 IncorrectReplicationLinkState -
            The operation expects the database to be in an expected state on the replication
            link.nn * 400 ResourcePoolNotFound - Specified elastic pool does not exist
            in the specified logical server.nn * 400 ElasticPoolSkuCombinationInvalid
            - Elastic pool and sku can be specified together only if sku is specified
            as ''ElasticPool''.nn * 400 ElasticPoolTierCombinationInvalid - The database
            tier is different than the elastic pool service tier.nn * 400 ElasticPoolDatabaseCountOverLimit
            - Attempting to create or add database to elastic pool when the database
            count limit of the elastic pool has been reached.nn * 400 CannotChangeToOrFromDataWarehouseTier
            - User attempted to change the sku of a database from DataWarehouse tier
            to non DataWarehouse tiers or vice versa.nn * 400 CurrentDatabaseSizeExceedsMaxSize
            - User attempted to reduce the max size for a database to a size smaller
            than the current usage.nn * 400 ElasticPoolDecreaseStorageLimitBelowUsage
            - Attempting to decrease the storage limit of the elastic pool below its
            storage usage.nn * 400 UpdateNotAllowedOnPausedDatabase - User attempted
            to perform an update on a paused database.nn * 400 InvalidMaxSizeTierCombination
            - The specified tier does not support the specified database max size.nn
            * 400 RegionDoesNotSupportVersion - A user attempted to create a server
            of a specified version in a location where that server version isn''t
            supported.nn * 400 InvalidTier - The user specified an invalid tier.nn
            * 400 CannotUseReservedDatabaseName - Cannot use reserved database name
            in this operation.nn * 400 SubscriptionNotFound - The requested subscription
            was not found.nn * 400 InvalidServerName - Invalid server name specified.nn
            * 400 CannotUseTrailingWhitespacesInDatabaseName - The database name validation
            failed.nn * 400 UpdateNotAllowedIfGeoDrOperationInProgress - The operation
            is disallowed because copy or failover operation for database ''{0}''
            on server ''{1}'' is currrently in progress.nn * 400 InvalidCollation
            - Collation is not recognized by the server.nn * 400 ElasticPoolOverFileSpace
            - Insufficient file space in the elastic pool.nn * 400 UpdateNotAllowedInCurrentReplicationState
            - The operation is disallowed on the database in its current replication
            state.nn * 400 GeoReplicaLimitReached - The per-replica replication limit
            was reached.nn * 400 ProvisioningDisabled - Displays error message from
            resources operation authorizer as is, without changesnn * 400 ReplicationSourceAndTargetMustHaveSameName
            - The replication source and target databases must have the same name.nn
            * 400 ReplicationSourceAndTargetMustBeInDifferentServers - The replication
            source and target databases must be in different logical servers.nn *
            400 UnableToResolveRemoteServer - The remote partner server name could
            not be resolved due to an invalid server name or DNS connectivity issues.nn
            * 400 RemoteDatabaseCopyPermission - User does not have sufficient permission
            to create a database copy on the specified server.nn * 400 CannotMoveOrDropSyncMetadataDatabase
            - Cannot drop database used as sync metadata database.nn * 400 CannotMoveOrDropJobAccountDatabase
            - Cannot drop database associated with job account.nn * 400 JobAgentDatabaseEditionUnsupported
            - The specified database''s service level objective is not supported for
            use as a job agent database.nn * 400 SourceDatabaseNotFound - The source
            database does not exist.nn * 400 ChangeUnsupportedOnEntity - User attempted
            an unsupported create/update/delete operation on a given entity.nn * 400
            CannotMoveOrDropJobAccountDatabase - Cannot drop database associated with
            job account.nn * 400 CannotUseReservedDatabaseName - Cannot use reserved
            database name in this operation.nn * 400 CannotMoveOrDropSyncMetadataDatabase
            - Cannot drop database used as sync metadata database.nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 OperationIdNotFound - The
            operation with Id does not exist.nn * 404 OperationIdNotFound - The operation
            with Id does not exist.nn * 404 ServerNotInSubscriptionResourceGroup -
            Specified server does not exist in the specified resource group and subscription.nn
            * 404 ServerNotInSubscription - Specified server does not exist on the
            specified subscription.nn * 404 CannotFindObject - Cannot find the object
            because it does not exist or you do not have permissionsnn * 404 ServerNotInSubscriptionResourceGroup
            - Specified server does not exist in the specified resource group and
            subscription.nn * 404 ServerNotInSubscription - Specified server does
            not exist on the specified subscription.nn * 405 UnsupportedReplicationOperation
            - An unsupported replication operation was initiated on the database.nn
            * 409 OperationCancelled - The operation has been cancelled by user.nn
            * 409 OperationInterrupted - The operation on the resource could not be
            completed because it was interrupted by another operation on the same
            resource.nn * 409 SubscriptionDisabled - Subscription is disabled.nn *
            409 ConflictingSystemOperationInProgress - A system maintenance operation
            is in progress on the database and further operations need to wait until
            it is completed.nn * 409 SkuAssignmentInProgress - The current assignment
            request cannot be processed because a previous request has not completed.nn
            * 409 ServerDtuQuotaExceeded - Could not perform the operation because
            server would exceed the allowed Database Throughput Unit quota.nn * 409
            UnableToAlterDatabaseInReplication - User altered edition on a database
            in a replication relationship.nn * 409 CurrentMemoryUsageExceedsSkuQuota
            - User attempted an sku update operation that cannot be completed due
            to the higher resource consumption.nn * 409 UpdateSloInProgress - User
            tried to initiate an incompatible operation while a SLO update was in
            progress.nn * 409 ConflictingDatabaseOperation - There is already some
            operation on the database and the current operation should wait till it
            is done.nn * 409 SimultaneousSkuChangeNotAllowed - Service objective change
            operations cannot run on both databases of a replication relationship
            at the same time.nn * 409 InvalidOperationForDatabaseNotInReplicationRelationship
            - A replication seeding operation was performed on a database that is
            already in a replication relationship.nn * 409 InvalidOperationForDatabaseInReplicationRelationship
            - A replication seeding operation was performed on a database that is
            already in a replication relationship.nn * 409 DuplicateGeoDrRelation
            - The databases are already in a replication relation. This is a duplicate
            request.nn * 409 RemoteDatabaseExists - The destination database name
            already exists on the destination server.nn * 429 SubscriptionTooManyCreateUpdateRequests
            - Requests beyond max requests that can be processed by available resources.nn
            * 429 SubscriptionTooManyRequests - Requests beyond max requests that
            can be processed by available resources.nn * 500 OperationTimedOut - The
            operation timed out and automatically rolled back. Please retry the operation.nn
            * 500 ActivateOrDeactivateWorkflowThrottling - Activation or deactivation
            workflow failed because there are too many concurrent workflowsnn * 503
            TooManyRequests - Requests beyond max requests that can be processed by
            available resources.nn * 503 TooManyRequests - Requests beyond max requests
            that can be processed by available resources.nn * 504 RequestTimeout -
            Service request exceeded the allowed timeout.'
      tags:
      - Databases
      x-ms-examples:
        List the database management operations:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdb
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/databases/testdb/operations/11111111-1111-1111-1111-111111111111
                  name: 11111111-1111-1111-1111-111111111111
                  properties:
                    databaseName: testdb
                    description: UpdateLogicalDatabase on 'testdb', target ServiceLevelObjective
                      S3
                    estimatedCompletionTime: "2017-06-01T13:10:10Z"
                    isCancellable: false
                    operation: UpdateLogicalDatabase
                    operationFriendlyName: ALTER DATABASE
                    percentComplete: 100
                    serverName: sqlcrudtest-4645
                    startTime: "2017-06-01T09:10:08.10Z"
                    state: Succeeded
                  type: Microsoft.Sql/servers/databases/operations
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/databases/testdb/operations/55555555-5555-5555-5555-555555555555
                  name: 55555555-5555-5555-5555-555555555555
                  properties:
                    databaseName: testdb
                    description: UpdateLogicalDatabase on 'testdb', target ServiceLevelObjective
                      S3
                    estimatedCompletionTime: "2017-06-01T13:10:10Z"
                    isCancellable: true
                    operation: UpdateLogicalDatabase
                    operationFriendlyName: ALTER DATABASE
                    percentComplete: 19
                    serverName: sqlcrudtest-4645
                    startTime: "2017-06-01T10:10:08.10Z"
                    state: InProgress
                  type: Microsoft.Sql/servers/databases/operations
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/operations/{operationId}/cancel
  : post:
      description: Cancels the asynchronous operation on the database.
      operationId: DatabaseOperations_Cancel
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - description: The operation identifier.
        format: uuid
        in: path
        name: operationId
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: The request for cancel has been executed successfully.
        default:
          description: '*** Error Responses: ***nn * 400 TierChangeUnsupportedDueToMemoryOptimizedObject
            - The database cannot update its sku because it has memory-optimized objects.nn
            * 400 SourceServerNotFound - The server part of a source database id provided
            in a CreateDatabaseAsCopy API call doesn''t map to an existing server.nn
            * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database
            when the storage limit of the elastic pool has been reached.nn * 400 InvalidAddSecondaryPermission
            - User does not have sufficient permission to add secondary on the specified
            server.nn * 400 UnsupportedServiceName - The specified name is an invalid
            name because it contains one or more unsupported unicode characters.nn
            * 400 CurrentDatabaseLogSizeExceedsMaxSize - User attempted to change
            the database to a sku with lower max log size than the current usage.nn
            * 400 CannotUpdateToFreeDatabase - Updating a database to the free sku
            is not supported.nn * 400 InvalidSku - The user specified an invalid sku.nn
            * 400 InvalidTierSkuCombination - The specified tier does not support
            the specified sku.nn * 400 ServerNotFound - The requested server was not
            found.nn * 400 TokenTooLong - The provided token is too long.nn * 400
            FeatureDisabledOnSelectedEdition - User attempted to use a feature which
            is disabled on current database edition.nn * 400 OfferDisabledOnSubscription
            - Subscription offer type is restricted from provisioning the requested
            resource.nn * 400 InvalidTargetSubregion - The target server of a non-readable
            secondary is not in a DR paired Azure region.nn * 400 PartnerServerNotCompetible
            - The user is attempting to copy a database from a SAWA V1 server to a
            Sterling server or vice versa.nn * 400 IncorrectReplicationLinkState -
            The operation expects the database to be in an expected state on the replication
            link.nn * 400 ResourcePoolNotFound - Specified elastic pool does not exist
            in the specified logical server.nn * 400 ElasticPoolSkuCombinationInvalid
            - Elastic pool and sku can be specified together only if sku is specified
            as ''ElasticPool''.nn * 400 ElasticPoolTierCombinationInvalid - The database
            tier is different than the elastic pool service tier.nn * 400 ElasticPoolDatabaseCountOverLimit
            - Attempting to create or add database to elastic pool when the database
            count limit of the elastic pool has been reached.nn * 400 CannotChangeToOrFromDataWarehouseTier
            - User attempted to change the sku of a database from DataWarehouse tier
            to non DataWarehouse tiers or vice versa.nn * 400 CurrentDatabaseSizeExceedsMaxSize
            - User attempted to reduce the max size for a database to a size smaller
            than the current usage.nn * 400 ElasticPoolDecreaseStorageLimitBelowUsage
            - Attempting to decrease the storage limit of the elastic pool below its
            storage usage.nn * 400 UpdateNotAllowedOnPausedDatabase - User attempted
            to perform an update on a paused database.nn * 400 InvalidMaxSizeTierCombination
            - The specified tier does not support the specified database max size.nn
            * 400 RegionDoesNotSupportVersion - A user attempted to create a server
            of a specified version in a location where that server version isn''t
            supported.nn * 400 InvalidTier - The user specified an invalid tier.nn
            * 400 CannotUseReservedDatabaseName - Cannot use reserved database name
            in this operation.nn * 400 SubscriptionNotFound - The requested subscription
            was not found.nn * 400 InvalidServerName - Invalid server name specified.nn
            * 400 CannotUseTrailingWhitespacesInDatabaseName - The database name validation
            failed.nn * 400 UpdateNotAllowedIfGeoDrOperationInProgress - The operation
            is disallowed because copy or failover operation for database ''{0}''
            on server ''{1}'' is currrently in progress.nn * 400 InvalidCollation
            - Collation is not recognized by the server.nn * 400 ElasticPoolOverFileSpace
            - Insufficient file space in the elastic pool.nn * 400 UpdateNotAllowedInCurrentReplicationState
            - The operation is disallowed on the database in its current replication
            state.nn * 400 GeoReplicaLimitReached - The per-replica replication limit
            was reached.nn * 400 ProvisioningDisabled - Displays error message from
            resources operation authorizer as is, without changesnn * 400 ReplicationSourceAndTargetMustHaveSameName
            - The replication source and target databases must have the same name.nn
            * 400 ReplicationSourceAndTargetMustBeInDifferentServers - The replication
            source and target databases must be in different logical servers.nn *
            400 UnableToResolveRemoteServer - The remote partner server name could
            not be resolved due to an invalid server name or DNS connectivity issues.nn
            * 400 RemoteDatabaseCopyPermission - User does not have sufficient permission
            to create a database copy on the specified server.nn * 400 CannotMoveOrDropSyncMetadataDatabase
            - Cannot drop database used as sync metadata database.nn * 400 CannotMoveOrDropJobAccountDatabase
            - Cannot drop database associated with job account.nn * 400 JobAgentDatabaseEditionUnsupported
            - The specified database''s service level objective is not supported for
            use as a job agent database.nn * 400 SourceDatabaseNotFound - The source
            database does not exist.nn * 400 ChangeUnsupportedOnEntity - User attempted
            an unsupported create/update/delete operation on a given entity.nn * 400
            CannotMoveOrDropJobAccountDatabase - Cannot drop database associated with
            job account.nn * 400 CannotUseReservedDatabaseName - Cannot use reserved
            database name in this operation.nn * 400 CannotMoveOrDropSyncMetadataDatabase
            - Cannot drop database used as sync metadata database.nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 OperationIdNotFound - The
            operation with Id does not exist.nn * 404 OperationIdNotFound - The operation
            with Id does not exist.nn * 404 ServerNotInSubscriptionResourceGroup -
            Specified server does not exist in the specified resource group and subscription.nn
            * 404 ServerNotInSubscription - Specified server does not exist on the
            specified subscription.nn * 404 CannotFindObject - Cannot find the object
            because it does not exist or you do not have permissionsnn * 404 ServerNotInSubscriptionResourceGroup
            - Specified server does not exist in the specified resource group and
            subscription.nn * 404 ServerNotInSubscription - Specified server does
            not exist on the specified subscription.nn * 405 UnsupportedReplicationOperation
            - An unsupported replication operation was initiated on the database.nn
            * 409 OperationCancelled - The operation has been cancelled by user.nn
            * 409 OperationInterrupted - The operation on the resource could not be
            completed because it was interrupted by another operation on the same
            resource.nn * 409 SubscriptionDisabled - Subscription is disabled.nn *
            409 ConflictingSystemOperationInProgress - A system maintenance operation
            is in progress on the database and further operations need to wait until
            it is completed.nn * 409 SkuAssignmentInProgress - The current assignment
            request cannot be processed because a previous request has not completed.nn
            * 409 ServerDtuQuotaExceeded - Could not perform the operation because
            server would exceed the allowed Database Throughput Unit quota.nn * 409
            UnableToAlterDatabaseInReplication - User altered edition on a database
            in a replication relationship.nn * 409 CurrentMemoryUsageExceedsSkuQuota
            - User attempted an sku update operation that cannot be completed due
            to the higher resource consumption.nn * 409 UpdateSloInProgress - User
            tried to initiate an incompatible operation while a SLO update was in
            progress.nn * 409 ConflictingDatabaseOperation - There is already some
            operation on the database and the current operation should wait till it
            is done.nn * 409 SimultaneousSkuChangeNotAllowed - Service objective change
            operations cannot run on both databases of a replication relationship
            at the same time.nn * 409 InvalidOperationForDatabaseNotInReplicationRelationship
            - A replication seeding operation was performed on a database that is
            already in a replication relationship.nn * 409 InvalidOperationForDatabaseInReplicationRelationship
            - A replication seeding operation was performed on a database that is
            already in a replication relationship.nn * 409 DuplicateGeoDrRelation
            - The databases are already in a replication relation. This is a duplicate
            request.nn * 409 RemoteDatabaseExists - The destination database name
            already exists on the destination server.nn * 409 CannotCancelOperation
            - The management operation is in a state that cannot be cancelled.nn *
            429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests
            that can be processed by available resources.nn * 429 SubscriptionTooManyRequests
            - Requests beyond max requests that can be processed by available resources.nn
            * 500 OperationTimedOut - The operation timed out and automatically rolled
            back. Please retry the operation.nn * 500 ActivateOrDeactivateWorkflowThrottling
            - Activation or deactivation workflow failed because there are too many
            concurrent workflowsnn * 503 TooManyRequests - Requests beyond max requests
            that can be processed by available resources.nn * 503 TooManyRequests
            - Requests beyond max requests that can be processed by available resources.nn
            * 504 RequestTimeout - Service request exceeded the allowed timeout.'
      tags:
      - Databases
      x-ms-examples:
        Cancel the database management operation:
          parameters:
            api-version: 2017-03-01-preview
            databaseName: testdb
            operationId: f779414b-e748-4925-8cfe-c8598f7660ae
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-6661
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body: ""
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:17:\"DatabaseOperation\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:19:\"ARM
  proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:21:\"A
  database operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:41:\"#/definitions/DatabaseOperationProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:27:\"DatabaseOperationListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  response to a list database operations request\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Array
  of results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DatabaseOperation\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DatabaseOperationProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  properties of a database operation.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:12:\"databaseName\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  name of the database the operation is being performed on.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  operation description.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"errorCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  operation error code.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:16:\"errorDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  operation error description.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"errorSeverity\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"The
  operation error severity.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:23:\"estimatedCompletionTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  estimated completion time of the operation.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"isCancellable\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Whether
  the operation can be cancelled.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:11:\"isUserError\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Whether
  or not the error is a user error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  name of operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:21:\"operationFriendlyName\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  friendly name of operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"percentComplete\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  percentage of the operation completed.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:10:\"serverName\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  name of the server.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  operation start time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":5:{s:11:\"description\";s:20:\"The
  operation state.\";s:4:\"enum\";a:6:{i:0;s:7:\"Pending\";i:1;s:10:\"InProgress\";i:2;s:9:\"Succeeded\";i:3;s:6:\"Failed\";i:4;s:16:\"CancelInProgress\";i:5;s:9:\"Cancelled\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:24:\"ManagementOperationState\";}}}s:4:\"type\";s:6:\"object\";}}"
...
