---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:111:\"Azure resources
  can be locked to prevent other users in your organization from deleting or modifying
  resources.\";s:5:\"title\";s:20:\"ManagementLockClient\";s:7:\"version\";s:10:\"2016-09-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:161:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Authorization/stable/2016-09-01/locks.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:15:\"resources-locks\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:24:\"ManagementLockListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  list of locks.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  URL to use for getting the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  list of locks.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ManagementLockObject\";}s:4:\"type\";s:5:\"array\";}}}s:20:\"ManagementLockObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"The
  lock information.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  resource ID of the lock.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the lock.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:38:\"#/definitions/ManagementLockProperties\";s:11:\"description\";s:27:\"The
  properties of the lock.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  resource type of the lock - Microsoft.Authorization/locks.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:19:\"x-ms-azure-resource\";b:1;}s:19:\"ManagementLockOwner\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Lock
  owner properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"applicationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  application ID of the lock owner.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"ManagementLockProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  lock properties.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"level\";O:8:\"stdClass\":4:{s:11:\"description\";s:275:\"The
  level of the lock. Possible values are: NotSpecified, CanNotDelete, ReadOnly. CanNotDelete
  means authorized users are able to read and modify the resources, but not delete.
  ReadOnly means authorized users can only read from a resource, but they can't modify
  or delete it.\";s:4:\"enum\";a:3:{i:0;s:12:\"NotSpecified\";i:1;s:12:\"CanNotDelete\";i:2;s:8:\"ReadOnly\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"LockLevel\";}}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Notes
  about the lock. Maximum of 512 characters.\";s:4:\"type\";s:6:\"string\";}s:6:\"owners\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  owners of the lock.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ManagementLockOwner\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"level\";}}}"
...
