---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2018-04-01\";}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:9:\"UsageName\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"A
  string describing the resource name.\";}s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"A
  localized string describing the resource name.\";}}s:11:\"description\";s:16:\"The
  usage names.\";}s:5:\"Usage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:20:\"Resource
  identifier.\";}s:4:\"unit\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"An
  enum describing the unit of measurement.\";s:4:\"enum\";a:1:{i:0;s:5:\"Count\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"UsageUnit\";s:13:\"modelAsString\";b:1;}}s:12:\"currentValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:31:\"The
  current value of the usage.\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:19:\"The
  limit of usage.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/UsageName\";s:11:\"description\";s:30:\"The
  name of the type of usage.\";}}s:8:\"required\";a:4:{i:0;s:4:\"unit\";i:1;s:12:\"currentValue\";i:2;s:5:\"limit\";i:3;s:4:\"name\";}s:11:\"description\";s:33:\"Describes
  network resource usage.\";}s:16:\"UsagesListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Usage\";}s:11:\"description\";s:33:\"The
  list network resource usages.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"URL
  to get the next set of results.\";}}s:11:\"description\";s:35:\"The list usages
  operation response.\";}}"
...
