---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:21:\"KustoManagementClient\";s:7:\"version\";s:18:\"2018-09-07-preview\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}:
    get:
      tags:
      - Clusters
      operationId: Clusters_Get
      x-ms-examples:
        KustoClustersGet:
          $ref: ./examples/KustoClustersGet.json
      description: Gets a Kusto cluster.
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: The Kusto cluster.
          schema:
            $ref: '#/definitions/Cluster'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
    put:
      tags:
      - Clusters
      operationId: Clusters_CreateOrUpdate
      x-ms-examples:
        KustoClustersCreateOrUpdate:
          $ref: ./examples/KustoClustersCreateOrUpdate.json
      x-ms-long-running-operation: true
      description: Create or update a Kusto cluster.
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Cluster'
        description: The Kusto cluster parameters supplied to the CreateOrUpdate operation.
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the Cluster.
          schema:
            $ref: '#/definitions/Cluster'
        201:
          description: Successfully created the cluster.
          schema:
            $ref: '#/definitions/Cluster'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
    patch:
      tags:
      - Clusters
      operationId: Clusters_Update
      x-ms-examples:
        KustoClustersUpdate:
          $ref: ./examples/KustoClustersUpdate.json
      x-ms-long-running-operation: true
      description: Update a Kusto cluster.
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ClusterUpdate'
        description: The Kusto cluster parameters supplied to the Update operation.
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the Cluster.
          schema:
            $ref: '#/definitions/Cluster'
        201:
          description: Successfully updated the cluster.
          schema:
            $ref: '#/definitions/Cluster'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
    delete:
      tags:
      - Clusters
      operationId: Clusters_Delete
      x-ms-examples:
        KustoClustersDelete:
          $ref: ./examples/KustoClustersDelete.json
      x-ms-long-running-operation: true
      description: Deletes a Kusto cluster.
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK -- cluster deleted successfully.
        202:
          description: Accepted the delete cluster request.
        204:
          description: NoContent -- cluster does not exist in the subscription.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/stop:
    post:
      tags:
      - Clusters
      operationId: Clusters_Stop
      x-ms-examples:
        KustoClustersStop:
          $ref: ./examples/KustoClustersStop.json
      x-ms-long-running-operation: true
      description: Stops a Kusto cluster.
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK.
        202:
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/start:
    post:
      tags:
      - Clusters
      operationId: Clusters_Start
      x-ms-examples:
        KustoClustersStart:
          $ref: ./examples/KustoClustersStart.json
      x-ms-long-running-operation: true
      description: Starts a Kusto cluster.
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK.
        202:
          description: Accepted.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters:
    get:
      tags:
      - Clusters
      operationId: Clusters_ListByResourceGroup
      x-ms-examples:
        KustoClustersListByResourceGroup:
          $ref: ./examples/KustoClustersListByResourceGroup.json
      description: Lists all Kusto clusters within a resource group.
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/ClusterListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/providers/Microsoft.Kusto/clusters:
    get:
      tags:
      - Clusters
      operationId: Clusters_List
      x-ms-examples:
        KustoClustersList:
          $ref: ./examples/KustoClustersList.json
      description: Lists all Kusto clusters within a subscription.
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/ClusterListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/providers/Microsoft.Kusto/skus:
    get:
      description: Lists eligible SKUs for Kusto resource provider.
      x-ms-examples:
        KustoClustersListSkus:
          $ref: ./examples/KustoClustersListSkus.json
      operationId: Clusters_ListSkus
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/ListSkusResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/providers/Microsoft.Kusto/locations/{location}/checkNameAvailability:
    post:
      tags:
      - Clusters
      operationId: Clusters_CheckNameAvailability
      x-ms-examples:
        KustoClustersCheckNameAvailability:
          $ref: ./examples/KustoClustersCheckNameAvailability.json
      description: Checks that the cluster name is valid and is not already in use.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - name: location
        in: path
        description: Azure location.
        required: true
        type: string
      - name: clusterName
        in: body
        required: true
        schema:
          $ref: '#/definitions/ClusterCheckNameRequest'
        description: The name of the cluster.
      responses:
        200:
          description: OK -- Operation to check the kusto resource name availability
            was successful.
          schema:
            $ref: '#/definitions/CheckNameResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/checkNameAvailability
  : post:
      tags:
      - Databases
      operationId: Databases_CheckNameAvailability
      x-ms-examples:
        KustoDatabaseCheckNameAvailability:
          $ref: ./examples/KustoDatabasesCheckNameAvailability.json
      description: Checks that the database name is valid and is not already in use.
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - name: databaseName
        in: body
        required: true
        schema:
          $ref: '#/definitions/DatabaseCheckNameRequest'
        description: The name of the database.
      responses:
        200:
          description: OK -- Operation to check the kusto resource name availability
            was successful.
          schema:
            $ref: '#/definitions/CheckNameResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/skus:
    get:
      tags:
      - Clusters
      operationId: Clusters_ListSkusByResource
      x-ms-examples:
        KustoClustersListResourceSkus:
          $ref: ./examples/KustoClustersListResourceSkus.json
      description: Returns the SKUs available for the provided resource.
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/ListResourceSkusResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases:
    get:
      tags:
      - Databases
      description: Returns the list of databases of the given Kusto cluster.
      operationId: Databases_ListByCluster
      x-ms-examples:
        KustoDatabasesListByCluster:
          $ref: ./examples/KustoDatabasesListByCluster.json
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the list of databases.
          schema:
            $ref: '#/definitions/DatabaseListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}
  : get:
      tags:
      - Databases
      description: Returns a database.
      operationId: Databases_Get
      x-ms-examples:
        KustoDatabasesGet:
          $ref: ./examples/KustoDatabasesGet.json
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the specified database.
          schema:
            $ref: '#/definitions/Database'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
    put:
      tags:
      - Databases
      description: Creates or updates a database.
      operationId: Databases_CreateOrUpdate
      x-ms-examples:
        KustoDatabasesCreateOrUpdate:
          $ref: ./examples/KustoDatabasesCreateOrUpdate.json
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Database'
        description: The database parameters supplied to the CreateOrUpdate operation.
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the database.
          schema:
            $ref: '#/definitions/Database'
        201:
          description: Successfully created the database.
          schema:
            $ref: '#/definitions/Database'
        202:
          description: Accepted the create database request.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-long-running-operation: true
    patch:
      tags:
      - Databases
      description: Updates a database.
      operationId: Databases_Update
      x-ms-examples:
        KustoDatabasesUpdate:
          $ref: ./examples/KustoDatabasesUpdate.json
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/DatabaseUpdate'
        description: The database parameters supplied to the Update operation.
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the database.
          schema:
            $ref: '#/definitions/Database'
        201:
          description: Successfully updated the database.
          schema:
            $ref: '#/definitions/Database'
        202:
          description: Accepted the update database request.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-long-running-operation: true
    delete:
      tags:
      - Databases
      description: Deletes the database with the given name.
      operationId: Databases_Delete
      x-ms-examples:
        KustoDatabasesDelete:
          $ref: ./examples/KustoDatabasesDelete.json
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully deleted the database.
        202:
          description: Accepted.
        204:
          description: The specified database does not exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/listPrincipals
  : post:
      tags:
      - Databases
      description: Returns a list of database principals of the given Kusto cluster
        and database.
      operationId: Databases_ListPrincipals
      x-ms-examples:
        KustoDatabaseListPrincipals:
          $ref: ./examples/KustoDatabaseListPrincipals.json
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the list of database principals.
          schema:
            $ref: '#/definitions/DatabasePrincipalListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/addPrincipals
  : post:
      tags:
      - Databases
      operationId: Databases_AddPrincipals
      x-ms-examples:
        KustoDatabaseAddPrincipals:
          $ref: ./examples/KustoDatabaseAddPrincipals.json
      description: Add Database principals permissions.
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: databasePrincipalsToAdd
        in: body
        required: true
        schema:
          $ref: '#/definitions/DatabasePrincipalListRequest'
        description: List of database principals to add.
      responses:
        200:
          description: OK -- Successfully added the list of database principals. Returns
            the updated list of principals.
          schema:
            $ref: '#/definitions/DatabasePrincipalListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/removePrincipals
  : post:
      tags:
      - Databases
      operationId: Databases_RemovePrincipals
      x-ms-examples:
        KustoDatabaseRemovePrincipals:
          $ref: ./examples/KustoDatabaseRemovePrincipals.json
      description: Remove Database principals permissions.
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: databasePrincipalsToRemove
        in: body
        required: true
        schema:
          $ref: '#/definitions/DatabasePrincipalListRequest'
        description: List of database principals to remove.
      responses:
        200:
          description: OK -- Successfully removed the list of database principals.
            Returns the updated list of principals.
          schema:
            $ref: '#/definitions/DatabasePrincipalListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/eventhubconnections
  : get:
      tags:
      - EventHubConnections
      description: Returns the list of Event Hub connections of the given Kusto database.
      operationId: EventHubConnections_ListByDatabase
      x-ms-examples:
        KustoDatabasesListByCluster:
          $ref: ./examples/KustoEventHubConnectionsListByDatabase.json
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the list of Event Hub connections.
          schema:
            $ref: '#/definitions/EventHubConnectionListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/eventhubConnectionValidation
  : post:
      tags:
      - EventHubConnections
      operationId: EventHubConnections_eventhubConnectionValidation
      x-ms-examples:
        KustoDataConnectionValidation:
          $ref: ./examples/KustoDataConnectionValidation.json
      description: Checks that the Event Hub data connection parameters are valid.
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/EventHubConnectionValidation'
        description: The Event Hub connection parameters supplied to the CreateOrUpdate
          operation.
      responses:
        200:
          description: OK -- Operation to check the kusto resource name availability
            was successful.
          schema:
            $ref: '#/definitions/EventHubConnectionValidationListResult'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/eventhubconnections/{eventHubConnectionName}
  : get:
      tags:
      - EventHubConnections
      description: Returns an Event Hub connection.
      operationId: EventHubConnections_Get
      x-ms-examples:
        KustoEventHubConnectionsGet:
          $ref: ./examples/KustoEventHubConnectionsGet.json
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/EventHubConnectionNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the specified Event Hub connection.
          schema:
            $ref: '#/definitions/EventHubConnection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
    put:
      tags:
      - EventHubConnections
      description: Creates or updates a Event Hub connection.
      operationId: EventHubConnections_CreateOrUpdate
      x-ms-examples:
        KustoEventHubConnectionsCreateOrUpdate:
          $ref: ./examples/KustoEventHubConnectionsCreateOrUpdate.json
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/EventHubConnectionNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/EventHubConnection'
        description: The Event Hub connection parameters supplied to the CreateOrUpdate
          operation.
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the Event Hub connection.
          schema:
            $ref: '#/definitions/EventHubConnection'
        201:
          description: Successfully created the Event Hub connection.
          schema:
            $ref: '#/definitions/EventHubConnection'
        202:
          description: Accepted the create Event Hub connection request.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-long-running-operation: true
    patch:
      tags:
      - EventHubConnections
      description: Updates a Event Hub connection.
      operationId: EventHubConnections_Update
      x-ms-examples:
        KustoEventHubConnectionsUpdate:
          $ref: ./examples/KustoEventHubConnectionsUpdate.json
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/EventHubConnectionNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/EventHubConnectionUpdate'
        description: The Event Hub connection parameters supplied to the Update operation.
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the Event Hub connection.
          schema:
            $ref: '#/definitions/EventHubConnection'
        201:
          description: Successfully updated the Event Hub connection.
          schema:
            $ref: '#/definitions/EventHubConnection'
        202:
          description: Accepted the update Event Hub connection request.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-long-running-operation: true
    delete:
      tags:
      - EventHubConnections
      description: Deletes the Event Hub connection with the given name.
      operationId: EventHubConnections_Delete
      x-ms-examples:
        KustoEventHubConnectionsDelete:
          $ref: ./examples/KustoEventHubConnectionsDelete.json
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/EventHubConnectionNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully deleted the Event Hub connection.
        202:
          description: Accepted.
        204:
          description: The specified Event Hub connection does not exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-long-running-operation: true
  /providers/Microsoft.Kusto/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      x-ms-examples:
        KustoOperationsList:
          $ref: ./examples/KustoOperationsList.json
      description: Lists available operations for the Microsoft.Kusto provider.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: The operation was successful. The response contains the list
            of available operations.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":32:{s:17:\"ClusterProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"state\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:26:\"The
  state of the resource.\";s:4:\"enum\";a:8:{i:0;s:8:\"Creating\";i:1;s:11:\"Unavailable\";i:2;s:7:\"Running\";i:3;s:8:\"Deleting\";i:4;s:7:\"Deleted\";i:5;s:8:\"Stopping\";i:6;s:7:\"Stopped\";i:7;s:8:\"Starting\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:5:\"State\";s:13:\"modelAsString\";b:1;}}s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:38:\"The
  provisioned state of the resource.\";s:4:\"enum\";a:5:{i:0;s:7:\"Running\";i:1;s:8:\"Creating\";i:2;s:8:\"Deleting\";i:3;s:9:\"Succeeded\";i:4;s:6:\"Failed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"ProvisioningState\";s:13:\"modelAsString\";b:1;}}s:3:\"uri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:16:\"The
  cluster URI.\";}s:16:\"dataIngestionUri\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"The
  cluster data ingestion URI.\";}s:22:\"trustedExternalTenants\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/TrustedExternalTenant\";}s:11:\"description\";s:31:\"The
  cluster's external tenants.\";}}s:11:\"description\";s:48:\"Class representing the
  Kusto cluster properties.\";}s:21:\"TrustedExternalTenant\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"GUID
  representing an external tenant.\";}}}s:16:\"AzureResourceSku\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"resourceType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Resource
  Namespace and Type.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/AzureSku\";s:11:\"description\";s:16:\"The
  SKU details.\";}s:8:\"capacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AzureCapacity\";s:11:\"description\";s:17:\"The
  SKU capacity.\";}}}s:13:\"AzureCapacity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:7:\"minimum\";i:1;s:7:\"maximum\";i:2;s:7:\"default\";i:3;s:9:\"scaleType\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"scaleType\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Scale
  type.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:9:\"automatic\";i:1;s:6:\"manual\";i:2;s:4:\"none\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"AzureScaleType\";s:13:\"modelAsString\";b:1;}}s:7:\"minimum\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Minimum
  allowed capacity.\";s:4:\"type\";s:7:\"integer\";}s:7:\"maximum\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Maximum
  allowed capacity.\";s:4:\"type\";s:7:\"integer\";}s:7:\"default\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  default capacity that would be used.\";s:4:\"type\";s:7:\"integer\";}}}s:8:\"AzureSku\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"tier\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:9:\"SKU
  name.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:3:\"KC8\";i:1;s:4:\"KC16\";i:2;s:3:\"KS8\";i:3;s:4:\"KS16\";i:4;s:6:\"D13_v2\";i:5;s:6:\"D14_v2\";i:6;s:2:\"L8\";i:7;s:3:\"L16\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"AzureSkuName\";s:13:\"modelAsString\";b:1;}}s:8:\"capacity\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"SKU
  capacity.\";s:4:\"type\";s:7:\"integer\";}s:4:\"tier\";O:8:\"stdClass\":4:{s:11:\"description\";s:9:\"SKU
  tier.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:8:\"Standard\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"AzureSkuTier\";s:13:\"modelAsString\";b:1;}}}}s:18:\"DatabaseStatistics\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"readOnly\";b:1;s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:73:\"The
  database size - the total size of compressed data and index in bytes.\";}}}s:18:\"DatabaseProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:38:\"The
  provisioned state of the resource.\";s:4:\"enum\";a:5:{i:0;s:7:\"Running\";i:1;s:8:\"Creating\";i:2;s:8:\"Deleting\";i:3;s:9:\"Succeeded\";i:4;s:6:\"Failed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"ProvisioningState\";s:13:\"modelAsString\";b:1;}}s:22:\"softDeletePeriodInDays\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:83:\"The
  number of days data should be kept before it stops being accessible to queries.\";}s:20:\"hotCachePeriodInDays\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:73:\"The
  number of days of data that should be kept in cache for fast queries.\";}s:10:\"statistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DatabaseStatistics\";s:11:\"description\";s:31:\"The
  statistics of the database.\";}}s:8:\"required\";a:1:{i:0;s:22:\"softDeletePeriodInDays\";}s:11:\"description\";s:49:\"Class
  representing the Kusto database properties.\";}s:28:\"EventHubConnectionValidation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"eventhubConnectionName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  name of the event hub connection.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:42:\"#/definitions/EventHubConnectionProperties\";}}s:11:\"description\";s:54:\"Class
  representing an event hub connection validation.\";}s:28:\"EventHubConnectionProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"eventHubResourceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"The
  resource ID of the event hub to be used to create a data connection.\";}s:13:\"consumerGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  event hub consumer group.\";}s:9:\"tableName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"The
  table where the data should be ingested. Optionally the table information can be
  added to each message.\";}s:15:\"mappingRuleName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"The
  mapping rule to be used to ingest the data. Optionally the mapping information can
  be added to each message.\";}s:10:\"dataFormat\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"The
  data format of the message. Optionally the data format can be added to each message.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:9:\"MULTIJSON\";i:1;s:4:\"JSON\";i:2;s:3:\"CSV\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"dataFormat\";s:13:\"modelAsString\";b:1;}}}s:8:\"required\";a:2:{i:0;s:18:\"eventHubResourceId\";i:1;s:13:\"consumerGroup\";}s:11:\"description\";s:61:\"Class
  representing the Kusto event hub connection properties.\";}s:7:\"Cluster\";O:8:\"stdClass\":4:{s:8:\"required\";a:1:{i:0;s:3:\"sku\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"An
  ETag of the resource created.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/AzureSku\";s:11:\"description\";s:23:\"The
  SKU of the cluster.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:31:\"#/definitions/ClusterProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:90:\"../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource\";}}s:11:\"description\";s:35:\"Class
  representing a Kusto cluster.\";}s:13:\"ClusterUpdate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"tags\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"x-ms-mutability\";a:3:{i:0;s:4:\"read\";i:1;s:6:\"create\";i:2;s:6:\"update\";}s:11:\"description\";s:14:\"Resource
  tags.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Resource
  location.\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"An
  ETag of the resource updated.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/AzureSku\";s:11:\"description\";s:23:\"The
  SKU of the cluster.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:31:\"#/definitions/ClusterProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:83:\"../../../../../common-types/resource-management/v1/types.json#/definitions/Resource\";}}s:11:\"description\";s:48:\"Class
  representing an update to a Kusto cluster.\";}s:8:\"Database\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"An
  ETag of the resource created.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:32:\"#/definitions/DatabaseProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:90:\"../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource\";}}s:11:\"description\";s:36:\"Class
  representing a Kusto database.\";}s:14:\"DatabaseUpdate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Resource
  location.\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"An
  ETag of the resource updated.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:32:\"#/definitions/DatabaseProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:83:\"../../../../../common-types/resource-management/v1/types.json#/definitions/Resource\";}}s:11:\"description\";s:49:\"Class
  representing an update to a Kusto database.\";}s:17:\"DatabasePrincipal\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:4:\"role\";i:2;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"role\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Database
  principal role.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:5:\"Admin\";i:1;s:8:\"Ingestor\";i:2;s:7:\"Monitor\";i:3;s:4:\"User\";i:4;s:19:\"UnrestrictedViewers\";i:5;s:6:\"Viewer\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"DatabasePrincipalRole\";s:13:\"modelAsString\";b:1;}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Database
  principal name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Database
  principal type.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:3:\"App\";i:1;s:5:\"Group\";i:2;s:4:\"User\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"DatabasePrincipalType\";s:13:\"modelAsString\";b:1;}}s:3:\"fqn\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Database
  principal fully qualified name.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Database
  principal email if exists.\";s:4:\"type\";s:6:\"string\";}s:5:\"appId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Application
  id - relevant only for application principal type.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"EventHubConnectionUpdate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Resource
  location.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:42:\"#/definitions/EventHubConnectionProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:88:\"../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource\";}}s:11:\"description\";s:53:\"Class
  representing an update to event hub connection.\";}s:18:\"EventHubConnection\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Resource
  location.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:42:\"#/definitions/EventHubConnectionProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:88:\"../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource\";}}s:11:\"description\";s:43:\"Class
  representing an event hub connection.\";}s:34:\"EventHubConnectionValidationResult\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"A
  message which indicates a problem in event hub connection validation.\";}}}s:17:\"ClusterListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";}s:11:\"description\";s:27:\"The
  list of Kusto clusters.\";}}s:11:\"description\";s:43:\"The list Kusto clusters
  operation response.\";}s:18:\"DatabaseListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Database\";}s:11:\"description\";s:28:\"The
  list of Kusto databases.\";}}s:11:\"description\";s:44:\"The list Kusto databases
  operation response.\";}s:27:\"DatabasePrincipalListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DatabasePrincipal\";}s:11:\"description\";s:38:\"The
  list of Kusto database principals.\";}}s:11:\"description\";s:54:\"The list Kusto
  database principals operation response.\";}s:28:\"DatabasePrincipalListRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DatabasePrincipal\";}s:11:\"description\";s:38:\"The
  list of Kusto database principals.\";}}s:11:\"description\";s:53:\"The list Kusto
  database principals operation request.\";}s:38:\"EventHubConnectionValidationListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/EventHubConnectionValidationResult\";}s:11:\"description\";s:57:\"The
  list of Kusto event hub connection validation errors.\";}}s:11:\"description\";s:54:\"The
  list Kusto event hub connection validation result.\";}s:28:\"EventHubConnectionListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/EventHubConnection\";}s:11:\"description\";s:40:\"The
  list of Kusto event hub connections.\";}}s:11:\"description\";s:56:\"The list Kusto
  event hub connections operation response.\";}s:10:\"CloudError\";O:8:\"stdClass\":3:{s:13:\"x-ms-external\";b:1;s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CloudErrorBody\";}}s:11:\"description\";s:29:\"An
  error response from Kusto.\";}s:23:\"ClusterCheckNameRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Cluster
  name.\";}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:24:\"Microsoft.Kusto/clusters\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"Type\";s:13:\"modelAsString\";b:0;}s:11:\"description\";s:47:\"The
  type of resource, Microsoft.Kusto/clusters.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}}s:24:\"DatabaseCheckNameRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Database
  name.\";}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:34:\"Microsoft.Kusto/clusters/databases\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"Type\";s:13:\"modelAsString\";b:0;}s:11:\"description\";s:57:\"The
  type of resource, Microsoft.Kusto/clusters/databases.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}}s:15:\"CheckNameResult\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"nameAvailable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:66:\"Specifies
  a Boolean value that indicates if the name is available.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  name that was checked.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"Message
  indicating an unavailable name due to a conflict, or a description of the naming
  rules that are violated.\";}}}s:22:\"ListResourceSkusResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"List
  of available SKUs for an existing Kusto Cluster.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AzureResourceSku\";}s:11:\"description\";s:58:\"The
  collection of available SKUs for an existing resource.\";}}}s:14:\"ListSkusResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"List
  of available SKUs for a new Kusto Cluster.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/AzureSku\";}s:11:\"description\";s:51:\"The
  collection of available SKUs for new resources.\";}}}s:14:\"CloudErrorBody\";O:8:\"stdClass\":3:{s:13:\"x-ms-external\";b:1;s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"An
  identifier for the error. Codes are invariant and are intended to be consumed programmatically.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"A
  message describing the error, intended to be suitable for displaying in a user interface.\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"The
  target of the particular error. For example, the name of the property in error.\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CloudErrorBody\";}s:11:\"description\";s:45:\"A
  list of additional details about the error.\";}}s:11:\"description\";s:29:\"An error
  response from Kusto.\";}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:5:\"title\";s:134:\"Result
  of the request to list REST API operations. It contains a list of operations and
  a URL nextLink to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:5:\"title\";s:58:\"The
  list of operations supported by the resource provider.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:5:\"title\";s:71:\"The
  URL to get the next set of operation list results if there are any.\";}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:5:\"title\";s:20:\"A
  REST API operation\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"The
  operation name.\";s:11:\"description\";s:56:\"This is of the format {provider}/{resource}/{operation}.\";s:4:\"type\";s:6:\"string\";}s:7:\"display\";O:8:\"stdClass\":2:{s:5:\"title\";s:40:\"The
  object that describes the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"provider\";O:8:\"stdClass\":2:{s:5:\"title\";s:39:\"Friendly
  name of the resource provider.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"The
  operation type.\";s:11:\"description\";s:33:\"For example: read, write, delete.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:5:\"title\";s:54:\"The
  resource type on which the operation is performed.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:5:\"title\";s:35:\"The
  friendly name of the operation.\";s:4:\"type\";s:6:\"string\";}}}s:6:\"origin\";O:8:\"stdClass\":2:{s:5:\"title\";s:39:\"The
  intended executor of the operation.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"title\";s:28:\"Properties
  of the operation.\";s:4:\"type\";s:6:\"object\";}}}}"
...
