---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2017-03-30\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces
  : get:
      tags:
      - NetworkInterfaces
      operationId: NetworkInterfaces_ListVirtualMachineScaleSetVMNetworkInterfaces
      description: Gets information about all network interfaces in a virtual machine
        in a virtual machine scale set.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualMachineScaleSetName
        in: path
        required: true
        type: string
        description: The name of the virtual machine scale set.
      - name: virtualmachineIndex
        in: path
        required: true
        type: string
        description: The virtual machine index.
      - name: api-version
        in: query
        required: true
        type: string
        enum:
        - "2017-03-30"
        x-ms-enum:
          name: ApiVersion
          modelAsString: true
        description: Client API version.
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of NetworkInterface
            resources.
          schema:
            $ref: ./networkInterface.json#/definitions/NetworkInterfaceListResult
      x-ms-examples:
        List virtual machine scale set vm network interfaces:
          $ref: ./examples/VmssVmNetworkInterfaceList.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/networkInterfaces
  : get:
      tags:
      - NetworkInterfaces
      operationId: NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces
      description: Gets all network interfaces in a virtual machine scale set.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualMachineScaleSetName
        in: path
        required: true
        type: string
        description: The name of the virtual machine scale set.
      - name: api-version
        in: query
        required: true
        type: string
        enum:
        - "2017-03-30"
        x-ms-enum:
          name: ApiVersion
          modelAsString: true
        description: Client API version.
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of NetworkInterface
            resources.
          schema:
            $ref: ./networkInterface.json#/definitions/NetworkInterfaceListResult
      x-ms-examples:
        List virtual machine scale set network interfaces:
          $ref: ./examples/VmssNetworkInterfaceList.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}
  : get:
      tags:
      - NetworkInterfaces
      operationId: NetworkInterfaces_GetVirtualMachineScaleSetNetworkInterface
      description: Get the specified network interface in a virtual machine scale
        set.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualMachineScaleSetName
        in: path
        required: true
        type: string
        description: The name of the virtual machine scale set.
      - name: virtualmachineIndex
        in: path
        required: true
        type: string
        description: The virtual machine index.
      - name: networkInterfaceName
        in: path
        required: true
        type: string
        description: The name of the network interface.
      - name: api-version
        in: query
        required: true
        type: string
        enum:
        - "2017-03-30"
        x-ms-enum:
          name: ApiVersion
          modelAsString: true
        description: Client API version.
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: $expand
        in: query
        required: false
        type: string
        description: Expands referenced resources.
      responses:
        200:
          description: Request successful. The operation returns the resulting NetworkInterface
            resource.
          schema:
            $ref: ./networkInterface.json#/definitions/NetworkInterface
      x-ms-examples:
        Get virtual machine scale set network interface:
          $ref: ./examples/VmssNetworkInterfaceGet.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipConfigurations
  : get:
      tags:
      - NetworkInterfaces
      operationId: NetworkInterfaces_ListVirtualMachineScaleSetIpConfigurations
      description: Get the specified network interface ip configuration in a virtual
        machine scale set.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualMachineScaleSetName
        in: path
        required: true
        type: string
        description: The name of the virtual machine scale set.
      - name: virtualmachineIndex
        in: path
        required: true
        type: string
        description: The virtual machine index.
      - name: networkInterfaceName
        in: path
        required: true
        type: string
        description: The name of the network interface.
      - name: api-version
        in: query
        required: true
        type: string
        enum:
        - "2017-03-30"
        x-ms-enum:
          name: ApiVersion
          modelAsString: true
        description: Client API version.
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: $expand
        in: query
        required: false
        type: string
        description: Expands referenced resources.
      responses:
        200:
          description: Request successful. The operation returns the list of resulting
            NetworkInterfaceIPConfigurations resources.
          schema:
            $ref: ./networkInterface.json#/definitions/NetworkInterfaceIPConfigurationListResult
      x-ms-examples:
        List virtual machine scale set network interface ip configurations:
          $ref: ./examples/VmssNetworkInterfaceIpConfigList.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipConfigurations/{ipConfigurationName}
  : get:
      tags:
      - NetworkInterfaces
      operationId: NetworkInterfaces_GetVirtualMachineScaleSetIpConfiguration
      description: Get the specified network interface ip configuration in a virtual
        machine scale set.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualMachineScaleSetName
        in: path
        required: true
        type: string
        description: The name of the virtual machine scale set.
      - name: virtualmachineIndex
        in: path
        required: true
        type: string
        description: The virtual machine index.
      - name: networkInterfaceName
        in: path
        required: true
        type: string
        description: The name of the network interface.
      - name: ipConfigurationName
        in: path
        required: true
        type: string
        description: The name of the ip configuration.
      - name: api-version
        in: query
        required: true
        type: string
        enum:
        - "2017-03-30"
        x-ms-enum:
          name: ApiVersion
          modelAsString: true
        description: Client API version.
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: $expand
        in: query
        required: false
        type: string
        description: Expands referenced resources.
      responses:
        200:
          description: Request successful. The operation returns the resulting NetworkInterfaceIPConfiguration
            resource.
          schema:
            $ref: ./networkInterface.json#/definitions/NetworkInterfaceIPConfiguration
      x-ms-examples:
        Get virtual machine scale set network interface:
          $ref: ./examples/VmssNetworkInterfaceIpConfigGet.json
produces:
- application/json
schemes:
- https
...
