---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:36:\"Cognitive Services
  Management Client\";s:5:\"title\";s:33:\"CognitiveServicesManagementClient\";s:7:\"version\";s:10:\"2017-04-18\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:185:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/cognitiveservices.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:17:\"cognitiveservices\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"azure_cognitiveservices\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":28:{s:29:\"CheckSkuAvailabilityParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Check
  SKU availability parameter.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/CognitiveServicesAccountKind\";s:11:\"description\";s:25:\"The
  Kind of the resource.\";}s:4:\"skus\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  SKU of the resource.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/SkuName\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  Type of the resource.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"skus\";i:1;s:4:\"kind\";i:2;s:4:\"type\";}}s:26:\"CheckSkuAvailabilityResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Check
  SKU availability result.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"kind\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/CognitiveServicesAccountKind\";s:11:\"description\";s:25:\"The
  Kind of the resource.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Additional
  error message.\";s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Reason
  why the SKU is not available.\";s:4:\"type\";s:6:\"string\";}s:12:\"skuAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Indicates
  the given SKU is available or not.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"skuName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/SkuName\";s:11:\"description\";s:38:\"The
  SKU of Cognitive Services account.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  Type of the resource.\";s:4:\"type\";s:6:\"string\";}}}s:30:\"CheckSkuAvailabilityResultList\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Check
  SKU availability result list.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Check
  SKU availability result list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CheckSkuAvailabilityResult\";}s:4:\"type\";s:5:\"array\";}}}s:24:\"CognitiveServicesAccount\";O:8:\"stdClass\":4:{s:11:\"description\";s:113:\"Cognitive
  Services Account is an Azure resource representing the provisioned account, its
  type, location and SKU.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Entity
  Tag\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  id of the created account\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Type
  of cognitive service account.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  location of the resource\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  name of the created account\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:48:\"#/definitions/CognitiveServicesAccountProperties\";s:11:\"description\";s:41:\"Properties
  of Cognitive Services account.\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:38:\"The
  SKU of Cognitive Services account.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:304:\"Gets
  or sets a list of key value pairs that describe the resource. These tags can be
  used in viewing and grouping this resource (across resource groups). A maximum of
  15 tags can be provided for a resource. Each tag must have a key no greater than
  128 characters and value no greater than 256 characters.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:40:\"CognitiveServicesAccountCreateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  parameters to provide for the account.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"kind\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/CognitiveServicesAccountKind\";s:11:\"description\";s:48:\"Required.
  Gets or sets the Kind of the resource.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:313:\"Required.
  Gets or sets the location of the resource. This will be one of the supported and
  registered Azure Geo Regions (e.g. West US, East US, Southeast Asia, etc.). The
  geo region of a resource cannot be changed once it is created, but if an identical
  geo region is specified on update the request will succeed.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Must
  exist in the request. Must be an empty object. Must not be null.\";s:4:\"type\";s:6:\"object\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:47:\"Required.
  Gets or sets the SKU of the resource.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:304:\"Gets
  or sets a list of key value pairs that describe the resource. These tags can be
  used in viewing and grouping this resource (across resource groups). A maximum of
  15 tags can be provided for a resource. Each tag must have a key no greater than
  128 characters and value no greater than 256 characters.\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:4:{i:0;s:3:\"sku\";i:1;s:4:\"kind\";i:2;s:8:\"location\";i:3;s:10:\"properties\";}}s:43:\"CognitiveServicesAccountEnumerateSkusResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  list of cognitive services accounts operation response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Gets
  the list of Cognitive Services accounts and their properties.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/CognitiveServicesResourceAndSku\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:28:\"CognitiveServicesAccountKeys\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  access keys for the cognitive services account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"key1\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  the value of key 1.\";s:4:\"type\";s:6:\"string\";}s:4:\"key2\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  the value of key 2.\";s:4:\"type\";s:6:\"string\";}}}s:28:\"CognitiveServicesAccountKind\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"Required.
  Indicates the type of cognitive service account.\";s:4:\"enum\";a:19:{i:0;s:19:\"Bing.Autosuggest.v7\";i:1;s:17:\"Bing.CustomSearch\";i:2;s:14:\"Bing.Search.v7\";i:3;s:11:\"Bing.Speech\";i:4;s:18:\"Bing.SpellCheck.v7\";i:5;s:14:\"ComputerVision\";i:6;s:16:\"ContentModerator\";i:7;s:12:\"CustomSpeech\";i:8;s:23:\"CustomVision.Prediction\";i:9;s:21:\"CustomVision.Training\";i:10;s:7:\"Emotion\";i:11;s:4:\"Face\";i:12;s:4:\"LUIS\";i:13;s:8:\"QnAMaker\";i:14;s:18:\"SpeakerRecognition\";i:15;s:17:\"SpeechTranslation\";i:16;s:13:\"TextAnalytics\";i:17;s:15:\"TextTranslation\";i:18;s:5:\"WebLM\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:4:\"Kind\";}}s:34:\"CognitiveServicesAccountListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  list of cognitive services accounts operation response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  link used to get the next page of accounts.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Gets
  the list of Cognitive Services accounts and their properties.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CognitiveServicesAccount\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:34:\"CognitiveServicesAccountProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Properties
  of Cognitive Services account.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"endpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Endpoint
  of the created account.\";s:4:\"type\";s:6:\"string\";}s:10:\"internalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  internal identifier.\";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:87:\"Gets
  the status of the cognitive services account at the time the operation was called.\";s:4:\"enum\";a:6:{i:0;s:8:\"Creating\";i:1;s:12:\"ResolvingDNS\";i:2;s:6:\"Moving\";i:3;s:8:\"Deleting\";i:4;s:9:\"Succeeded\";i:5;s:6:\"Failed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"ProvisioningState\";}}}}s:40:\"CognitiveServicesAccountUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  parameters to provide for the account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:37:\"Gets
  or sets the SKU of the resource.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:304:\"Gets
  or sets a list of key value pairs that describe the resource. These tags can be
  used in viewing and grouping this resource (across resource groups). A maximum of
  15 tags can be provided for a resource. Each tag must have a key no greater than
  128 characters and value no greater than 256 characters.\";s:4:\"type\";s:6:\"object\";}}}s:31:\"CognitiveServicesResourceAndSku\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Cognitive
  Services resource type and SKU.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"resourceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Resource
  Namespace and Type\";s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:38:\"The
  SKU of Cognitive Services account.\";}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Cognitive
  Services error object.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ErrorBody\";s:11:\"description\";s:15:\"The
  error body.\";}}}s:9:\"ErrorBody\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Cognitive
  Services error body.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"error
  message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}}s:10:\"MetricName\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"A
  metric name.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"localizedValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  friendly name of the metric.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  name of the metric.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:20:\"OperationDisplayInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  operation supported by Cognitive Services.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  description of the operation.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  action that users can perform, based on their permission level.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Service
  provider: Microsoft Cognitive Services.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Resource
  on which the operation is performed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"OperationEntity\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  operation supported by Cognitive Services.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"display\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/OperationDisplayInfo\";s:11:\"description\";s:46:\"The
  operation supported by Cognitive Services.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Operation
  name: {provider}/{resource}/{operation}.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  origin of the operation.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Additional
  properties.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:25:\"OperationEntityListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  list of cognitive services accounts operation response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  link used to get the next page of operations.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  list of operations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/OperationEntity\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"RegenerateKeyParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Regenerate
  key parameters.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"keyName\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"key
  name to generate (Key1|Key2)\";s:4:\"enum\";a:2:{i:0;s:4:\"Key1\";i:1;s:4:\"Key2\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:7:\"KeyName\";}}}s:8:\"required\";a:1:{i:0;s:7:\"keyName\";}}s:11:\"ResourceSku\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Describes
  an available Cognitive Services SKU.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  Kind of resources that are supported in this SKU.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"locations\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  set of locations that the SKU is available.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  name of SKU.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"resourceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  type of resource the SKU applies to.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"restrictions\";O:8:\"stdClass\":4:{s:11:\"description\";s:97:\"The
  restrictions because of which SKU cannot be used. This is empty if there are no
  restrictions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ResourceSkuRestrictions\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"tier\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Specifies
  the tier of Cognitive Services account.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:26:\"ResourceSkuRestrictionInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"locations\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Locations
  where the SKU is restricted\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:5:\"zones\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"List
  of availability zones where the SKU is restricted.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:23:\"ResourceSkuRestrictions\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Describes
  restrictions of a SKU.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"reasonCode\";O:8:\"stdClass\":5:{s:11:\"description\";s:27:\"The
  reason for restriction.\";s:4:\"enum\";a:2:{i:0;s:7:\"QuotaId\";i:1;s:27:\"NotAvailableForSubscription\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:33:\"ResourceSkuRestrictionsReasonCode\";}}s:15:\"restrictionInfo\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:40:\"#/definitions/ResourceSkuRestrictionInfo\";s:11:\"description\";s:67:\"The
  information about the restriction where the SKU cannot be used.\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":5:{s:11:\"description\";s:25:\"The
  type of restrictions.\";s:4:\"enum\";a:2:{i:0;s:8:\"Location\";i:1;s:4:\"Zone\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:27:\"ResourceSkuRestrictionsType\";}}s:6:\"values\";O:8:\"stdClass\":4:{s:11:\"description\";s:133:\"The
  value of restrictions. If the restriction type is set to location. This would be
  different locations where the SKU is restricted.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:18:\"ResourceSkusResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  Get Skus operation response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  uri to fetch the next page of Skus.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  list of skus available for the subscription.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceSku\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:3:\"Sku\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  SKU of the cognitive services account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/SkuName\";s:11:\"description\";s:78:\"Gets
  or sets the sku name. Required for account creation, optional for update.\";}s:4:\"tier\";O:8:\"stdClass\":5:{s:11:\"description\";s:49:\"Gets
  the sku tier. This is based on the SKU name.\";s:4:\"enum\";a:3:{i:0;s:4:\"Free\";i:1;s:8:\"Standard\";i:2;s:7:\"Premium\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:7:\"SkuTier\";}}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:7:\"SkuName\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"The
  name of SKU.\";s:4:\"enum\";a:11:{i:0;s:2:\"F0\";i:1;s:2:\"P0\";i:2;s:2:\"P1\";i:3;s:2:\"P2\";i:4;s:2:\"S0\";i:5;s:2:\"S1\";i:6;s:2:\"S2\";i:7;s:2:\"S3\";i:8;s:2:\"S4\";i:9;s:2:\"S5\";i:10;s:2:\"S6\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:7:\"SkuName\";}}s:8:\"UnitType\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"The
  unit of the metric.\";s:4:\"enum\";a:7:{i:0;s:5:\"Count\";i:1;s:5:\"Bytes\";i:2;s:7:\"Seconds\";i:3;s:7:\"Percent\";i:4;s:14:\"CountPerSecond\";i:5;s:14:\"BytesPerSecond\";i:6;s:12:\"Milliseconds\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:8:\"UnitType\";}}s:5:\"Usage\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  usage data for a usage request.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"currentValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Current
  value for this metric.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:5:\"limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Maximum
  value for this metric.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:36:\"The
  name information for the metric.\";s:8:\"readOnly\";b:1;}s:13:\"nextResetTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Next
  reset time for current quota.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"quotaPeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  quota period used to summarize the usage values.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Cognitive
  Services account quota usage status.\";s:4:\"enum\";a:4:{i:0;s:8:\"Included\";i:1;s:7:\"Blocked\";i:2;s:9:\"InOverage\";i:3;s:7:\"Unknown\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"QuotaUsageStatus\";}}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UnitType\";s:11:\"description\";s:23:\"The
  unit of the metric.\";}}}s:12:\"UsagesResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  response to a list usage request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  list of usages for Cognitive Service account.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Usage\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}}"
...
