---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:5:\"title\";s:22:\"Diagnostics API Client\";s:7:\"version\";s:10:\"2016-03-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:151:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/Diagnostics.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:15:\"web-Diagnostics\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/detectors:
    get:
      description: List Hosting Environment Detector Responses
      operationId: Diagnostics_ListHostingEnvironmentDetectorResponses
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: name
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DetectorResponseCollection'
      summary: List Hosting Environment Detector Responses
      tags:
      - Diagnostics
      x-ms-examples:
        List App Service Environment Detector Responses:
          parameters:
            api-version: "2016-03-01"
            name: SampleAppServiceEnvironment
            resourceGroupName: Sample-WestUSResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            200:
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/hostingEnvironments/SampleAppServiceEnvironment/detectors/runtimeavailability
                  name: runtimeavailability
                  properties:
                    dataset: []
                    metadata:
                      category: Availability and Performance
                      description: This detector analyzes all the requests to all
                        applications running on this app service environment.
                      subCategory: App Availability
                      supportTopicId: ""
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/detectors/{detectorName}
  : get:
      description: Get Hosting Environment Detector Response
      operationId: Diagnostics_GetHostingEnvironmentDetectorResponse
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: App Service Environment Name
        in: path
        name: name
        required: true
        type: string
      - description: Detector Resource Name
        in: path
        name: detectorName
        required: true
        type: string
      - description: Start Time
        format: date-time
        in: query
        name: startTime
        type: string
      - description: End Time
        format: date-time
        in: query
        name: endTime
        type: string
      - description: Time Grain
        in: query
        name: timeGrain
        pattern: PT[1-9][0-9]+[SMH]
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DetectorResponse'
      summary: Get Hosting Environment Detector Response
      tags:
      - Diagnostics
      x-ms-examples:
        Get App Service Environment Detector Response:
          parameters:
            api-version: "2016-03-01"
            detectorName: runtimeavailability
            name: SampleAppServiceEnvironment
            resourceGroupName: Sample-WestUSResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            200:
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/hostingEnvironments/SampleAppServiceEnvironment/detectors/runtimeavailability
                name: runtimeavailability
                properties:
                  dataset:
                  - renderingProperties:
                      description: This detector breaks down the number of requests
                        that your apps on this app service environment received for
                        each status code.
                      renderingType: TimeSeries
                      title: Requests by Status Code
                    table:
                      columns:
                      - columnName: PreciseTimeStamp
                        columnType: datetime
                        dataType: DateTime
                      - columnName: count_Http2xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http3xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http4xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http5xx
                        columnType: long
                        dataType: Int64
                      rows:
                      - - "2018-03-27T00:25:00Z"
                        - "772705"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T00:30:00Z"
                        - "787069"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T00:35:00Z"
                        - "781627"
                        - "0"
                        - "1"
                        - "0"
                      - - "2018-03-27T00:40:00Z"
                        - "785017"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T00:45:00Z"
                        - "783518"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T00:50:00Z"
                        - "785783"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T00:55:00Z"
                        - "772874"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T01:00:00Z"
                        - "787162"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T01:05:00Z"
                        - "782036"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T01:10:00Z"
                        - "784642"
                        - "0"
                        - "0"
                        - "0"
                      tableName: Table_0
                  metadata:
                    category: Availability and Performance
                    description: This detector analyzes all the requests to all applications
                      running on this app service environment.
                    subCategory: App Availability
                    supportTopicId: ""
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/detectors:
    get:
      description: List Site Detector Responses
      operationId: Diagnostics_ListSiteDetectorResponses
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DetectorResponseCollection'
      summary: List Site Detector Responses
      tags:
      - Diagnostics
      x-ms-examples:
        List App Detector Responses:
          parameters:
            api-version: "2016-03-01"
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            200:
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/detectors/runtimeavailability
                  name: runtimeavailability
                  properties:
                    dataset: []
                    metadata:
                      category: Availability and Performance
                      description: This detector analyzes the requests to your application.
                      subCategory: App Availability
                      supportTopicId: ""
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/detectors/{detectorName}
  : get:
      description: Get site detector response
      operationId: Diagnostics_GetSiteDetectorResponse
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Detector Resource Name
        in: path
        name: detectorName
        required: true
        type: string
      - description: Start Time
        format: date-time
        in: query
        name: startTime
        type: string
      - description: End Time
        format: date-time
        in: query
        name: endTime
        type: string
      - description: Time Grain
        in: query
        name: timeGrain
        pattern: PT[1-9][0-9]+[SMH]
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DetectorResponse'
      summary: Get site detector response
      tags:
      - Diagnostics
      x-ms-examples:
        Get App Detector Response:
          parameters:
            api-version: "2016-03-01"
            detectorName: runtimeavailability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            200:
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/detectors/runtimeavailability
                name: runtimeavailability
                properties:
                  dataset:
                  - renderingProperties:
                      description: This detector breaks down the number of requests
                        that your app received for each status code.
                      renderingType: TimeSeries
                      title: Requests by Status Code
                    table:
                      columns:
                      - columnName: PreciseTimeStamp
                        columnType: datetime
                        dataType: DateTime
                      - columnName: count_Http2xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http3xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http4xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http5xx
                        columnType: long
                        dataType: Int64
                      rows:
                      - - "2018-03-27T00:25:00Z"
                        - "772705"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T00:30:00Z"
                        - "787069"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T00:35:00Z"
                        - "781627"
                        - "0"
                        - "1"
                        - "0"
                      - - "2018-03-27T00:40:00Z"
                        - "785017"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T00:45:00Z"
                        - "783518"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T00:50:00Z"
                        - "785783"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T00:55:00Z"
                        - "772874"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T01:00:00Z"
                        - "787162"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T01:05:00Z"
                        - "782036"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T01:10:00Z"
                        - "784642"
                        - "0"
                        - "0"
                        - "0"
                      tableName: Table_0
                  metadata:
                    category: Availability and Performance
                    description: This detector analyzes the requests to your application.
                    subCategory: Web App Down
                    supportTopicId: ""
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics:
    get:
      description: Get Diagnostics Categories
      operationId: Diagnostics_ListSiteDiagnosticCategories
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticCategoryCollection'
      summary: Get Diagnostics Categories
      tags:
      - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}
  : get:
      description: Get Diagnostics Category
      operationId: Diagnostics_GetSiteDiagnosticCategory
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticCategory'
      summary: Get Diagnostics Category
      tags:
      - Diagnostics
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses
  : get:
      description: Get Site Analyses
      operationId: Diagnostics_ListSiteAnalyses
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticAnalysisCollection'
      summary: Get Site Analyses
      tags:
      - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}
  : get:
      description: Get Site Analysis
      operationId: Diagnostics_GetSiteAnalysis
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        type: string
      - description: Analysis Name
        in: path
        name: analysisName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticAnalysis'
      summary: Get Site Analysis
      tags:
      - Diagnostics
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}/execute
  : post:
      description: Execute Analysis
      operationId: Diagnostics_ExecuteSiteAnalysis
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Category Name
        in: path
        name: diagnosticCategory
        required: true
        type: string
      - description: Analysis Resource Name
        in: path
        name: analysisName
        required: true
        type: string
      - description: Start Time
        format: date-time
        in: query
        name: startTime
        type: string
      - description: End Time
        format: date-time
        in: query
        name: endTime
        type: string
      - description: Time Grain
        in: query
        name: timeGrain
        pattern: PT[1-9][0-9]+[SMH]
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticAnalysis'
      summary: Execute Analysis
      tags:
      - Diagnostics
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors
  : get:
      description: Get Detectors
      operationId: Diagnostics_ListSiteDetectors
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticDetectorCollection'
      summary: Get Detectors
      tags:
      - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}
  : get:
      description: Get Detector
      operationId: Diagnostics_GetSiteDetector
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        type: string
      - description: Detector Name
        in: path
        name: detectorName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticDetectorCollection'
      summary: Get Detector
      tags:
      - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}/execute
  : post:
      description: Execute Detector
      operationId: Diagnostics_ExecuteSiteDetector
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Detector Resource Name
        in: path
        name: detectorName
        required: true
        type: string
      - description: Category Name
        in: path
        name: diagnosticCategory
        required: true
        type: string
      - description: Start Time
        format: date-time
        in: query
        name: startTime
        type: string
      - description: End Time
        format: date-time
        in: query
        name: endTime
        type: string
      - description: Time Grain
        in: query
        name: timeGrain
        pattern: PT[1-9][0-9]+[SMH]
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticDetectorResponse'
      summary: Execute Detector
      tags:
      - Diagnostics
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/detectors
  : get:
      description: List Site Detector Responses
      operationId: Diagnostics_ListSiteDetectorResponsesSlot
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DetectorResponseCollection'
      summary: List Site Detector Responses
      tags:
      - Diagnostics
      x-ms-examples:
        List App Slot Detector Responses:
          parameters:
            api-version: "2016-03-01"
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            200:
              body:
                value:
                - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/detectors/runtimeavailability
                  name: runtimeavailability
                  properties:
                    dataset: []
                    metadata:
                      category: Availability and Performance
                      description: This detector analyzes the requests to your application.
                      subCategory: App Availability
                      supportTopicId: ""
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/detectors/{detectorName}
  : get:
      description: Get site detector response
      operationId: Diagnostics_GetSiteDetectorResponseSlot
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Detector Resource Name
        in: path
        name: detectorName
        required: true
        type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        type: string
      - description: Start Time
        format: date-time
        in: query
        name: startTime
        type: string
      - description: End Time
        format: date-time
        in: query
        name: endTime
        type: string
      - description: Time Grain
        in: query
        name: timeGrain
        pattern: PT[1-9][0-9]+[SMH]
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DetectorResponse'
      summary: Get site detector response
      tags:
      - Diagnostics
      x-ms-examples:
        Get App Slot Detector Response:
          parameters:
            api-version: "2016-03-01"
            detectorName: runtimeavailability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            200:
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/slots/staging/detectors/runtimeavailability
                name: runtimeavailability
                properties:
                  dataset:
                  - renderingProperties:
                      description: This detector breaks down the number of requests
                        that your app received for each status code.
                      renderingType: TimeSeries
                      title: Requests by Status Code
                    table:
                      columns:
                      - columnName: PreciseTimeStamp
                        columnType: datetime
                        dataType: DateTime
                      - columnName: count_Http2xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http3xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http4xx
                        columnType: long
                        dataType: Int64
                      - columnName: count_Http5xx
                        columnType: long
                        dataType: Int64
                      rows:
                      - - "2018-03-27T00:25:00Z"
                        - "772705"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T00:30:00Z"
                        - "787069"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T00:35:00Z"
                        - "781627"
                        - "0"
                        - "1"
                        - "0"
                      - - "2018-03-27T00:40:00Z"
                        - "785017"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T00:45:00Z"
                        - "783518"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T00:50:00Z"
                        - "785783"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T00:55:00Z"
                        - "772874"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T01:00:00Z"
                        - "787162"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T01:05:00Z"
                        - "782036"
                        - "0"
                        - "0"
                        - "0"
                      - - "2018-03-27T01:10:00Z"
                        - "784642"
                        - "0"
                        - "0"
                        - "0"
                      tableName: Table_0
                  metadata:
                    category: Availability and Performance
                    description: This detector analyzes the requests to your application.
                    subCategory: Web App Down
                    supportTopicId: ""
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics
  : get:
      description: Get Diagnostics Categories
      operationId: Diagnostics_ListSiteDiagnosticCategoriesSlot
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticCategoryCollection'
      summary: Get Diagnostics Categories
      tags:
      - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}
  : get:
      description: Get Diagnostics Category
      operationId: Diagnostics_GetSiteDiagnosticCategorySlot
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticCategory'
      summary: Get Diagnostics Category
      tags:
      - Diagnostics
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses
  : get:
      description: Get Site Analyses
      operationId: Diagnostics_ListSiteAnalysesSlot
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticAnalysisCollection'
      summary: Get Site Analyses
      tags:
      - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses/{analysisName}
  : get:
      description: Get Site Analysis
      operationId: Diagnostics_GetSiteAnalysisSlot
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        type: string
      - description: Analysis Name
        in: path
        name: analysisName
        required: true
        type: string
      - description: Slot - optional
        in: path
        name: slot
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticAnalysis'
      summary: Get Site Analysis
      tags:
      - Diagnostics
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses/{analysisName}/execute
  : post:
      description: Execute Analysis
      operationId: Diagnostics_ExecuteSiteAnalysisSlot
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Category Name
        in: path
        name: diagnosticCategory
        required: true
        type: string
      - description: Analysis Resource Name
        in: path
        name: analysisName
        required: true
        type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        type: string
      - description: Start Time
        format: date-time
        in: query
        name: startTime
        type: string
      - description: End Time
        format: date-time
        in: query
        name: endTime
        type: string
      - description: Time Grain
        in: query
        name: timeGrain
        pattern: PT[1-9][0-9]+[SMH]
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticAnalysis'
      summary: Execute Analysis
      tags:
      - Diagnostics
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors
  : get:
      description: Get Detectors
      operationId: Diagnostics_ListSiteDetectorsSlot
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticDetectorCollection'
      summary: Get Detectors
      tags:
      - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors/{detectorName}
  : get:
      description: Get Detector
      operationId: Diagnostics_GetSiteDetectorSlot
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Diagnostic Category
        in: path
        name: diagnosticCategory
        required: true
        type: string
      - description: Detector Name
        in: path
        name: detectorName
        required: true
        type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticDetectorCollection'
      summary: Get Detector
      tags:
      - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors/{detectorName}/execute
  : post:
      description: Execute Detector
      operationId: Diagnostics_ExecuteSiteDetectorSlot
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Site Name
        in: path
        name: siteName
        required: true
        type: string
      - description: Detector Resource Name
        in: path
        name: detectorName
        required: true
        type: string
      - description: Category Name
        in: path
        name: diagnosticCategory
        required: true
        type: string
      - description: Slot Name
        in: path
        name: slot
        required: true
        type: string
      - description: Start Time
        format: date-time
        in: query
        name: startTime
        type: string
      - description: End Time
        format: date-time
        in: query
        name: endTime
        type: string
      - description: Time Grain
        in: query
        name: timeGrain
        pattern: PT[1-9][0-9]+[SMH]
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticDetectorResponse'
      summary: Execute Detector
      tags:
      - Diagnostics
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":23:{s:18:\"AbnormalTimePeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Class
  representing Abnormal Time Period identified in diagnosis\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"End
  time of the downtime\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"events\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"List
  of Possible Cause of downtime\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/DetectorAbnormalTimePeriod\";}s:4:\"type\";s:5:\"array\";}s:9:\"solutions\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of proposed solutions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Solution\";}s:4:\"type\";s:5:\"array\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Start
  time of the downtime\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"AnalysisData\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Class
  Representing Detector Evidence used for analysis\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Additional
  Source Data\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Name
  value pair.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Pair
  name.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Pair
  value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:18:\"detectorDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DetectorDefinition\";s:11:\"description\";s:19:\"Detector
  Definition\";}s:16:\"detectorMetaData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResponseMetaData\";s:11:\"description\";s:18:\"Detector
  Meta Data\";}s:7:\"metrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Source
  Metrics\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DiagnosticMetricSet\";}s:4:\"type\";s:5:\"array\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the Detector\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AnalysisDefinition\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:22:\"Definition
  of Analysis\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"AnalysisDefinition
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Description
  of the Analysis\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:10:\"DataSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Class
  representing data source used by the detectors\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"dataSourceUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Datasource
  Uri Links\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Name value
  pair.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Pair
  name.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Pair
  value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"instructions\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Instrunctions
  if any for the data source\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DataTableResponseColumn\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Column
  definition\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"columnName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the column\";s:4:\"type\";s:6:\"string\";}s:10:\"columnType\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Column
  Type\";s:4:\"type\";s:6:\"string\";}s:8:\"dataType\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Data
  type which looks like 'String' or 'Int32'.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DataTableResponseObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Data
  Table which defines columns and raw row values\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"columns\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"List
  of columns with data types\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/DataTableResponseColumn\";}s:4:\"type\";s:5:\"array\";}s:4:\"rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Raw
  row values\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:9:\"tableName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  of the table\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DetectorAbnormalTimePeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Class
  representing Abnormal Time Period detected.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"End
  time of the corelated event\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Message
  describing the event\";s:4:\"type\";s:6:\"string\";}s:8:\"metaData\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Downtime
  metadata\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Name
  value pair.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Pair
  name.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Pair
  value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Represents
  the rank of the Detector\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"solutions\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of proposed solutions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Solution\";}s:4:\"type\";s:5:\"array\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Represents
  the name of the Detector\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Start
  time of the corelated event\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Represents
  the type of the Detector\";s:4:\"enum\";a:8:{i:0;s:15:\"ServiceIncident\";i:1;s:13:\"AppDeployment\";i:2;s:8:\"AppCrash\";i:3;s:20:\"RuntimeIssueDetected\";i:4;s:13:\"AseDeployment\";i:5;s:9:\"UserIssue\";i:6;s:13:\"PlatformIssue\";i:7;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:9:\"IssueType\";}}}s:4:\"type\";s:6:\"object\";}s:18:\"DetectorDefinition\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:38:\"Class
  representing detector definition\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"DetectorDefinition
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Description
  of the detector\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Display
  name of the detector\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"isEnabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Flag
  representing whether detector is enabled or not.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:4:\"rank\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Detector
  Rank\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:12:\"DetectorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Definition
  of Detector\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"category\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Support
  Category\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Short
  description of the detector and its purpose\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"subCategory\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Support
  Sub Category\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"supportTopicId\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Support
  Topic Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DetectorResponse\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:41:\"Class
  representing Response from Detector\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"DetectorResponse
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"dataset\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Data
  Set\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DiagnosticData\";}s:4:\"type\";s:5:\"array\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DetectorInfo\";s:11:\"description\";s:25:\"metadata
  for the detector\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:26:\"DetectorResponseCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Collection
  of detector responses\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DetectorResponse\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:18:\"DiagnosticAnalysis\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:63:\"Class
  representing a diagnostic analysis done on an application\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"DiagnosticAnalysis
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"abnormalTimePeriods\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"List
  of time periods.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AbnormalTimePeriod\";}s:4:\"type\";s:5:\"array\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"End
  time of the period\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:22:\"nonCorrelatedDetectors\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Data
  by each detector for detectors that did not corelate\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DetectorDefinition\";}s:4:\"type\";s:5:\"array\";}s:7:\"payload\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Data
  by each detector\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AnalysisData\";}s:4:\"type\";s:5:\"array\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Start
  time of the period\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:28:\"DiagnosticAnalysisCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Collection
  of Diagnostic Analyses\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AnalysisDefinition\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:18:\"DiagnosticCategory\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:38:\"Class
  representing detector definition\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"DiagnosticCategory
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Description
  of the diagnostic category\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:28:\"DiagnosticCategoryCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Collection
  of Diagnostic Categories\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DiagnosticCategory\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:14:\"DiagnosticData\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Set
  of data with rendering instructions\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"renderingProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Rendering\";s:11:\"description\";s:57:\"Properties
  that describe how the table should be rendered\";}s:5:\"table\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/DataTableResponseObject\";s:11:\"description\";s:18:\"Data
  in table form\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DiagnosticDetectorCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Collection
  of Diagnostic Detectors\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Link
  to next page of resources.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DetectorDefinition\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:26:\"DiagnosticDetectorResponse\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Azure
  proxy only resource. This resource is not tracked by Azure Resource Manager.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Kind
  of resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:52:\"Class
  representing Reponse from Diagnostic Detectors\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"DiagnosticDetectorResponse
  resource specific properties\";s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"abnormalTimePeriods\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"List
  of Correlated events found by the detector\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/DetectorAbnormalTimePeriod\";}s:4:\"type\";s:5:\"array\";}s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Additional
  Data that detector wants to send.\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Name
  value pair.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Pair
  name.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Pair
  value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:18:\"detectorDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DetectorDefinition\";s:11:\"description\";s:21:\"Detector's
  definition\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"End
  time of the period\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"issueDetected\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Flag
  representing Issue was detected.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"metrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Metrics
  provided by the detector\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DiagnosticMetricSet\";}s:4:\"type\";s:5:\"array\";}s:16:\"responseMetaData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResponseMetaData\";s:11:\"description\";s:9:\"Meta
  Data\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Start
  time of the period\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:22:\"DiagnosticMetricSample\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Class
  representing Diagnostic Metric\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"isAggregated\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Whether
  the values are aggregates across all workers or not\";s:4:\"type\";s:7:\"boolean\";}s:7:\"maximum\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Maximum
  of the metric sampled during the time period\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"minimum\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Minimum
  of the metric sampled during the time period\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"roleInstance\";O:8:\"stdClass\":2:{s:11:\"description\";s:274:\"Role
  Instance. Null if this counter is not per instance \nThis is returned and should
  be whichever instance name we desire to be returned\ni.e. CPU and Memory return
  RDWORKERNAME (LargeDed..._IN_0) \nwhere RDWORKERNAME is Machine name below and RoleInstance
  name in parenthesis\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Time
  at which metric is measured\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Total
  value of the metric. If multiple measurements are made this will have sum of all.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DiagnosticMetricSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Class
  representing Diagnostic Metric information\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"End
  time of the period\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the metric\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Start
  time of the period\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"timeGrain\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Presented
  time grain. Supported grains at the moment are PT1M, PT1H, P1D\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Metric's
  unit\";s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Collection
  of metric values for the selected period based on the {Microsoft.Web.Hosting.Administration.DiagnosticMetricSet.TimeGrain}\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DiagnosticMetricSample\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Rendering\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Instructions
  for rendering the data\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Description
  of the data that will help it be interpreted\";s:4:\"type\";s:6:\"string\";}s:13:\"renderingType\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Rendering
  Type\";s:4:\"enum\";a:4:{i:0;s:7:\"NoGraph\";i:1;s:5:\"Table\";i:2;s:10:\"TimeSeries\";i:3;s:21:\"TimeSeriesPerInstance\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"RenderingType\";}}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Title
  of data\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ResponseMetaData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"dataSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DataSource\";s:11:\"description\";s:18:\"Source
  of the Data\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Solution\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Class
  Representing Solution for problems detected.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Solution
  Data.\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Name
  value pair.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Pair
  name.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Pair
  value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Description
  of the solution\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Display
  Name of the solution\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Solution
  Id.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Solution
  Metadata.\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Name
  value pair.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Pair
  name.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Pair
  value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:5:\"order\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Order
  of the solution.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Type
  of Solution\";s:4:\"enum\";a:3:{i:0;s:13:\"QuickSolution\";i:1;s:17:\"DeepInvestigation\";i:2;s:13:\"BestPractices\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:12:\"SolutionType\";}}}s:4:\"type\";s:6:\"object\";}}"
...
