---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:28:\"RecoveryServicesBackupClient\";s:7:\"version\";s:10:\"2016-12-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:172:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/stable/2016-12-01/backup.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:23:\"recoveryservices-backup\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:29:\"azure_recoveryservices_backup\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupconfig/vaultconfig
  : get:
      deprecated: false
      description: Fetches vault config.
      operationId: BackupVaultConfigs_Get
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupVaultConfig'
      tags:
      - BackupVaultConfigs
    patch:
      deprecated: false
      description: Updates vault config model type.
      operationId: BackupVaultConfigs_Update
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      - description: Backup vault config.
        in: body
        name: backupVaultConfig
        required: true
        schema:
          $ref: '#/definitions/BackupVaultConfig'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupVaultConfig'
      tags:
      - BackupVaultConfigs
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig
  : get:
      deprecated: false
      description: Fetches resource storage config.
      operationId: BackupStorageConfigs_Get
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupStorageConfig'
      tags:
      - BackupStorageConfigs
    patch:
      deprecated: false
      description: Updates vault storage model type.
      operationId: BackupStorageConfigs_Update
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      - description: Backup storage config.
        in: body
        name: backupStorageConfig
        required: true
        schema:
          $ref: '#/definitions/BackupStorageConfig'
      responses:
        204:
          description: NoContent
      tags:
      - BackupStorageConfigs
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:19:\"BackupStorageConfig\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  Resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"eTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Optional
  ETag.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Resource
  Id represents the complete path to the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Resource
  name associated with the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Resource
  type represents the complete path of the form Namespace/ResourceType/ResourceType/...\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:26:\"The
  backup storage config.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/BackupStorageConfigProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:29:\"BackupStorageConfigProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  backup storage config.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"storageModelType\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Storage
  model type.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:12:\"GeoRedundant\";i:2;s:16:\"LocallyRedundant\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"StorageModelType\";}}s:11:\"storageType\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Storage
  type.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:12:\"GeoRedundant\";i:2;s:16:\"LocallyRedundant\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:11:\"StorageType\";}}s:16:\"storageTypeState\";O:8:\"stdClass\":4:{s:11:\"description\";s:107:\"Locked
  or Unlocked. Once a machine is registered against a resource, the storageTypeState
  is always Locked.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:6:\"Locked\";i:2;s:8:\"Unlocked\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"StorageTypeState\";}}}s:4:\"type\";s:6:\"object\";}s:17:\"BackupVaultConfig\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  Resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"eTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Optional
  ETag.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Resource
  Id represents the complete path to the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Resource
  name associated with the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Resource
  type represents the complete path of the form Namespace/ResourceType/ResourceType/...\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:28:\"Backup
  vault config details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/BackupVaultConfigProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:27:\"BackupVaultConfigProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Backup
  vault config details.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"enhancedSecurityState\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Enabled
  or Disabled.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:7:\"Enabled\";i:2;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:21:\"EnhancedSecurityState\";}}s:11:\"storageType\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Storage
  type.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:12:\"GeoRedundant\";i:2;s:16:\"LocallyRedundant\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:11:\"StorageType\";}}s:16:\"storageTypeState\";O:8:\"stdClass\":4:{s:11:\"description\";s:107:\"Locked
  or Unlocked. Once a machine is registered against a resource, the storageTypeState
  is always Locked.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:6:\"Locked\";i:2;s:8:\"Unlocked\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"StorageTypeState\";}}}s:4:\"type\";s:6:\"object\";}}"
...
