---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:377:\"Use these REST
  APIs for performing operations on Quota entity associated with your Azure API Management
  deployment. To configure call rate limit and quota policies refer to [how to configure
  call rate limit and quota](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-product-with-rules#a-namepolicies-ato-configure-call-rate-limit-and-quota-policies).\";s:5:\"title\";s:19:\"ApiManagementClient\";s:7:\"version\";s:10:\"2018-01-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:171:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/apimquotas.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:24:\"apimanagement-apimquotas\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:30:\"azure_apimanagement_apimquotas\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/quotas/{quotaCounterKey}
  : get:
      description: Lists a collection of current quota counter periods associated
        with the counter-key configured in the policy on the specified service instance.
        The api does not support paging yet.
      externalDocs:
        description: Document describing how to configure the quota policies.
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-product-with-rules#a-namepolicies-ato-configure-call-rate-limit-and-quota-policies
      operationId: QuotaByCounterKeys_ListByService
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/QuotaCounterKeyParameter'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Lists a collection of the quota counter values.
          schema:
            $ref: '#/definitions/QuotaCounterCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - QuotaByCounterKeys
      x-ms-examples:
        ApiManagementGetQuotaCounteryKeys:
          parameters:
            api-version: "2018-01-01"
            quotaCounterKey: ba
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                count: 1
                nextLink: ""
                value:
                - counterKey: ba
                  periodEndTime: "2018-02-08T16:54:40Z"
                  periodKey: 0_P3Y6M4DT12H30M5S
                  periodStartTime: "2014-08-04T04:24:35Z"
                  value:
                    callsCount: 5
                    kbTransferred: 2.583008
    patch:
      description: Updates all the quota counter values specified with the existing
        quota counter key to a value in the specified service instance. This should
        be used for reset of the quota counter values.
      operationId: QuotaByCounterKeys_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/QuotaCounterKeyParameter'
      - description: The value of the quota counter to be applied to all quota counter
          periods.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/QuotaCounterValueContractProperties'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        204:
          description: Quota counter period was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - QuotaByCounterKeys
      x-ms-examples:
        ApiManagementUpdateQuotaCounterKey:
          parameters:
            api-version: "2018-01-01"
            parameters:
              callsCount: 0
              kbTransferred: 2.563008
            quotaCounterKey: ba
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            204: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/quotas/{quotaCounterKey}/periods/{quotaPeriodKey}
  : get:
      description: Gets the value of the quota counter associated with the counter-key
        in the policy for the specific period in service instance.
      externalDocs:
        description: Document describing how to configure the quota policies.
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-product-with-rules#a-namepolicies-ato-configure-call-rate-limit-and-quota-policies
      operationId: QuotaByPeriodKeys_Get
      parameters:
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/QuotaCounterKeyParameter'
      - $ref: '#/parameters/QuotaPeriodKeyParameter'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: The response body contains the Quota counter details for the
            specified period.
          schema:
            $ref: '#/definitions/QuotaCounterContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - QuotaByPeriodKeys
      x-ms-examples:
        ApiManagementGetQuotaCounteryKeysByQuotaPeriod:
          parameters:
            api-version: "2018-01-01"
            quotaCounterKey: ba
            quotaPeriodKey: 0_P3Y6M4DT12H30M5S
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                counterKey: ba
                periodEndTime: "2018-02-08T16:54:40Z"
                periodKey: 0_P3Y6M4DT12H30M5S
                periodStartTime: "2014-08-04T04:24:35Z"
                value:
                  callsCount: 0
                  kbTransferred: 2.562500
    patch:
      description: Updates an existing quota counter value in the specified service
        instance.
      operationId: QuotaByPeriodKeys_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/QuotaCounterKeyParameter'
      - $ref: '#/parameters/QuotaPeriodKeyParameter'
      - description: The value of the Quota counter to be applied on the specified
          period.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/QuotaCounterValueContractProperties'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        204:
          description: The quota counter value was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - QuotaByPeriodKeys
      x-ms-examples:
        ApiManagementUpdateQuotaCounterKeyByQuotaPeriod:
          parameters:
            api-version: "2018-01-01"
            parameters:
              callsCount: 0
              kbTransferred: 0
            quotaCounterKey: ba
            quotaPeriodKey: 0_P3Y6M4DT12H30M5S
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            204: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:22:\"QuotaCounterCollection\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Paged
  Quota Counter list representation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Total
  record count number across all pages.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Next
  page link if any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Quota
  counter values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/QuotaCounterContract\";}s:4:\"type\";s:5:\"array\";}}}s:20:\"QuotaCounterContract\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Quota
  counter details.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"counterKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  Key value of the Counter. Must not be empty.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"periodEndTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"The
  date of the end of Counter Period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"periodKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Identifier
  of the Period for which the counter was collected. Must not be empty.\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"periodStartTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"The
  date of the start of Counter Period. The date conforms to the following format:
  `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/QuotaCounterValueContractProperties\";s:11:\"description\";s:22:\"Quota
  Value Properties\";}}s:8:\"required\";a:4:{i:0;s:10:\"counterKey\";i:1;s:9:\"periodKey\";i:2;s:15:\"periodStartTime\";i:3;s:13:\"periodEndTime\";}}s:25:\"QuotaCounterValueContract\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Quota
  counter value details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:49:\"#/definitions/QuotaCounterValueContractProperties\";s:11:\"description\";s:31:\"Quota
  counter Value Properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:35:\"QuotaCounterValueContractProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Quota
  counter value details.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"callsCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Number
  of times Counter was called.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"kbTransferred\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Data
  Transferred in KiloBytes.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}}}"
...
