---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:92:\"Provides read
  and update functionality for Azure SQL Server backup long term retention vault\";s:5:\"title\";s:49:\"Azure
  SQL Server Backup Long Term Retention Vault\";s:7:\"version\";s:10:\"2014-04-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:169:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/backupLongTermRetentionVaults.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:33:\"sql-backupLongTermRetentionVaults\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/backupLongTermRetentionVaults
  : get:
      description: Gets server backup long term retention vaults in a server
      operationId: BackupLongTermRetentionVaults_ListByServer
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupLongTermRetentionVaultListResult'
      tags:
      - BackupLongTermRetentionVaults
      x-ms-examples:
        Get backup long term retention vault:
          parameters:
            api-version: "2014-04-01"
            resourceGroupName: longtermretentiontest-1234
            serverName: longtermretentiontest-5678
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/backupLongTermRetentionVaults/RegisteredVault
                  location: Japan East
                  name: RegisteredVault
                  properties:
                    recoveryServicesVaultResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc
                  type: Microsoft.Sql/servers/backupLongTermRetentionVaults
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/backupLongTermRetentionVaults/{backupLongTermRetentionVaultName}
  : get:
      description: Gets a server backup long term retention vault
      operationId: BackupLongTermRetentionVaults_Get
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the Azure SQL Server backup LongTermRetention vault
        enum:
        - RegisteredVault
        in: path
        name: backupLongTermRetentionVaultName
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: BackupLongTermRetentionVaultName
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupLongTermRetentionVault'
      tags:
      - BackupLongTermRetentionVaults
      x-ms-examples:
        Get backup long term retention vault:
          parameters:
            api-version: "2014-04-01"
            backupLongTermRetentionVaultName: RegisteredVault
            resourceGroupName: longtermretentiontest-1234
            serverName: longtermretentiontest-5678
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/backupLongTermRetentionVaults/RegisteredVault
                location: Japan East
                name: RegisteredVault
                properties:
                  recoveryServicesVaultResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc
                type: Microsoft.Sql/servers/backupLongTermRetentionVaults
    put:
      description: Updates a server backup long term retention vault
      operationId: BackupLongTermRetentionVaults_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the backup long term retention vault
        enum:
        - RegisteredVault
        in: path
        name: backupLongTermRetentionVaultName
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: BackupLongTermRetentionVaultName
      - description: The required parameters to update a backup long term retention
          vault
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/BackupLongTermRetentionVault'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupLongTermRetentionVault'
        201:
          description: Created
          schema:
            $ref: '#/definitions/BackupLongTermRetentionVault'
        202:
          description: Accepted
      tags:
      - BackupLongTermRetentionVaults
      x-ms-examples:
        Update backup long term retention vault:
          parameters:
            api-version: "2014-04-01"
            backupLongTermRetentionVaultName: RegisteredVault
            parameters:
              location: Japan East
              properties:
                recoveryServicesVaultResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-5678/providers/Microsoft.RecoveryServices/vaults/testVaultabc
            resourceGroupName: longtermretentiontest-1234
            serverName: longtermretentiontest-5678
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/backupLongTermRetentionVaults/RegisteredVault
                location: Japan East
                name: RegisteredVault
                properties:
                  recoveryServicesVaultResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc
                type: Microsoft.Sql/servers/backupLongTermRetentionVaults
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/backupLongTermRetentionVaults/RegisteredVault
                location: Japan East
                name: RegisteredVault
                properties:
                  recoveryServicesVaultResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc
                type: Microsoft.Sql/servers/backupLongTermRetentionVaults
            202: []
      x-ms-long-running-operation: true
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:28:\"BackupLongTermRetentionVault\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:19:\"ARM
  proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:34:\"A
  backup long term retention vault\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  geo-location where the resource lives\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:52:\"#/definitions/BackupLongTermRetentionVaultProperties\";s:11:\"description\";s:54:\"The
  properties of the backup long term retention vault\";s:19:\"x-ms-client-flatten\";b:1;}}}s:38:\"BackupLongTermRetentionVaultListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Represents
  the response to a list vaults request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  list of vaults in the server.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/BackupLongTermRetentionVault\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:38:\"BackupLongTermRetentionVaultProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  properties of a backup long term retention vault.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:31:\"recoveryServicesVaultResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  azure recovery services vault resource id\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:31:\"recoveryServicesVaultResourceId\";}}}"
...
