---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:34:\"The Disk Resource
  Provider Client.\";s:5:\"title\";s:26:\"DiskResourceProviderClient\";s:7:\"version\";s:10:\"2017-03-30\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:152:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/resource-manager/Microsoft.Compute/stable/2017-03-30/disk.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:12:\"compute-disk\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"azure_compute_disk\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/disks:
    get:
      description: Lists all the disks under a subscription.
      operationId: Disks_List
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiskList'
      tags:
      - Disks
      x-ms-examples:
        List all managed disks in a subscription.:
          parameters:
            api-version: "2017-03-30"
            subscriptionId: '{subscription-id}'
          responses:
            200:
              body:
                nextLink: http://disksvchost:99/subscriptions/{subscriptionId}/providers/Microsoft.Compute/disks?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/Disks/myManagedDisk
                value:
                - id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1
                  location: westus
                  name: myManagedDisk1
                  properties:
                    creationData:
                      createOption: Copy
                      sourceResourceId: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: https://myvmvault.vault-int.azure-int.net/secrets/{secret}
                        sourceVault:
                          id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: https://myvmvault.vault-int.azure-int.net/keys/{key}
                        sourceVault:
                          id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: "2016-12-28T04:41:35.9278721+00:00"
                  tags:
                    department: Development
                    project: ManagedDisks
                  type: Microsoft.Compute/disks
                - id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2
                  location: westus
                  name: myManagedDisk2
                  properties:
                    creationData:
                      createOption: Empty
                    diskSizeGB: 10
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: "2016-12-28T04:41:36.872242+00:00"
                  type: Microsoft.Compute/disks
                - id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk3
                  location: westus
                  name: myManagedDisk3
                  properties:
                    creationData:
                      createOption: FromImage
                      imageReference:
                        id: /Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: https://myvmvault.vault-int.azure-int.net/secrets/{secret}
                        sourceVault:
                          id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: https://myvmvault.vault-int.azure-int.net/keys/{key}
                        sourceVault:
                          id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: "2016-12-28T04:41:36.3973934+00:00"
                  tags:
                    department: Development
                    project: ManagedDisks
                  type: Microsoft.Compute/disks
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Compute/snapshots:
    get:
      description: Lists snapshots under a subscription.
      operationId: Snapshots_List
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SnapshotList'
      tags:
      - Snapshots
      x-ms-examples:
        List all snapshots in a subscription.:
          parameters:
            api-version: "2017-03-30"
            subscriptionId: '{subscription-id}'
          responses:
            200:
              body:
                value:
                - id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1
                  location: westus
                  name: mySnapshot1
                  properties:
                    creationData:
                      createOption: Copy
                      sourceResourceId: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: https://myvmvault.vault-int.azure-int.net/secrets/{secret}
                        sourceVault:
                          id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: https://myvmvault.vault-int.azure-int.net/keys/{key}
                        sourceVault:
                          id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: "2016-12-28T04:47:30.6630569+00:00"
                  tags:
                    department: Development
                    project: Snapshots
                  type: Microsoft.Compute/snapshots
                - id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2
                  location: westus
                  name: mySnapshot2
                  properties:
                    creationData:
                      createOption: Import
                      sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      storageAccountId: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: https://myvmvault.vault-int.azure-int.net/secrets/{secret}
                        sourceVault:
                          id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: https://myvmvault.vault-int.azure-int.net/keys/{key}
                        sourceVault:
                          id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: "2016-12-28T04:47:30.3247198+00:00"
                  tags:
                    department: Development
                    project: Snapshots
                  type: Microsoft.Compute/snapshots
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks:
    get:
      description: Lists all the disks under a resource group.
      operationId: Disks_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DiskList'
      tags:
      - Disks
      x-ms-examples:
        List all managed disks in a resource group.:
          parameters:
            api-version: "2017-03-30"
            resourceGroupName: myResourceGroup
            subscriptionId: '{subscription-id}'
          responses:
            200:
              body:
                nextLink: http://disksvchost:99/subscriptions/{subscriptionId}/providers/Microsoft.Compute/disks?$skiptoken={token}/Subscriptions/{subscriptionId}/ResourceGroups/myResourceGroup/Disks/myManagedDisk
                value:
                - id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk
                  location: westus
                  name: myManagedDisk
                  properties:
                    creationData:
                      createOption: Copy
                      sourceResourceId: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: https://myvmvault.vault-int.azure-int.net/secrets/{secret}
                        sourceVault:
                          id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: https://myvmvault.vault-int.azure-int.net/keys/{key}
                        sourceVault:
                          id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: "2016-12-28T04:41:35.9278721+00:00"
                  tags:
                    department: Development
                    project: ManagedDisks
                  type: Microsoft.Compute/disks
                - id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk
                  location: westus
                  name: myManagedDisk
                  properties:
                    creationData:
                      createOption: Empty
                    diskSizeGB: 10
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: "2016-12-28T04:41:36.872242+00:00"
                  type: Microsoft.Compute/disks
                - id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk
                  location: westus
                  name: myManagedDisk
                  properties:
                    creationData:
                      createOption: FromImage
                      imageReference:
                        id: /Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: https://myvmvault.vault-int.azure-int.net/secrets/{secret}
                        sourceVault:
                          id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: https://myvmvault.vault-int.azure-int.net/keys/{key}
                        sourceVault:
                          id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: "2016-12-28T04:41:36.3973934+00:00"
                  tags:
                    department: Development
                    project: ManagedDisks
                  type: Microsoft.Compute/disks
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks/{diskName}:
    delete:
      description: Deletes a disk.
      operationId: Disks_Delete
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/DiskNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationStatusResponse'
        202:
          description: Accepted
        204:
          description: If the disk is deleted, this is an expected error code.
      tags:
      - Disks
      x-ms-long-running-operation: true
    get:
      description: Gets information about a disk.
      operationId: Disks_Get
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/DiskNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Disk'
      tags:
      - Disks
      x-ms-examples:
        Get information about a managed disk.:
          parameters:
            api-version: "2017-03-30"
            diskName: myManagedDisk
            resourceGroupName: myResourceGroup
            subscriptionId: '{subscription-id}'
          responses:
            200:
              body:
                id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk
                location: westus
                managedBy: /subscriptions/123caaa-123v-v211-a49f-f88ccac5bf88/resourceGroups/ResourceGroupName/providers/Microsoft.Compute/virtualMachines/TestVM414689371c88843d65ec
                name: myManagedDisk
                properties:
                  creationData:
                    createOption: Empty
                  diskSizeGB: 10
                  encryptionSettings:
                    diskEncryptionKey:
                      secretUrl: https://myvmvault.vault-int.azure-int.net/secrets/{secret}
                      sourceVault:
                        id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                    enabled: true
                    keyEncryptionKey:
                      keyUrl: https://myvmvault.vault-int.azure-int.net/keys/{key}
                      sourceVault:
                        id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                  osType: Windows
                  provisioningState: Succeeded
                  timeCreated: "2016-12-28T04:41:35.079872+00:00"
                sku:
                  name: Standard_LRS
                tags:
                  department: Development
                  project: ManagedDisks
                type: Microsoft.Compute/disks
    patch:
      description: Updates (patches) a disk.
      operationId: Disks_Update
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/DiskNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Disk object supplied in the body of the Patch disk operation.
        in: body
        name: disk
        required: true
        schema:
          $ref: '#/definitions/DiskUpdate'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Disk'
        202:
          description: Accepted
          schema:
            $ref: '#/definitions/Disk'
      tags:
      - Disks
      x-ms-long-running-operation: true
    put:
      description: Creates or updates a disk.
      operationId: Disks_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/DiskNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Disk object supplied in the body of the Put disk operation.
        in: body
        name: disk
        required: true
        schema:
          $ref: '#/definitions/Disk'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Disk'
        202:
          description: Accepted
          schema:
            $ref: '#/definitions/Disk'
      tags:
      - Disks
      x-ms-examples:
        Create a managed disk by copying a snapshot.:
          parameters:
            api-version: "2017-03-30"
            disk:
              location: West US
              name: myDisk
              properties:
                creationData:
                  createOption: Copy
                  sourceResourceId: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot
            diskName: myDisk
            resourceGroupName: myResourceGroup
            subscriptionId: '{subscription-id}'
          responses:
            202:
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: Copy
                    sourceResourceId: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot
                  provisioningState: Updating
        Create a managed disk by importing an unmanaged blob from a different subscription.:
          parameters:
            api-version: "2017-03-30"
            disk:
              location: West US
              name: myDisk
              properties:
                creationData:
                  createOption: Import
                  sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                  storageAccountId: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount
            diskName: myDisk
            resourceGroupName: myResourceGroup
            subscriptionId: '{subscription-id}'
          responses:
            202:
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: Import
                    sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                    storageAccountId: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount
                  provisioningState: Updating
        Create a managed disk by importing an unmanaged blob from the same subscription.:
          parameters:
            api-version: "2017-03-30"
            disk:
              location: West US
              name: myDisk
              properties:
                creationData:
                  createOption: Import
                  sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
            diskName: myDisk
            resourceGroupName: myResourceGroup
            subscriptionId: '{subscription-id}'
          responses:
            202:
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: Import
                    sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                  provisioningState: Updating
        Create a managed disk from a platform image.:
          parameters:
            api-version: "2017-03-30"
            disk:
              location: West US
              name: myDisk
              properties:
                creationData:
                  createOption: FromImage
                  imageReference:
                    id: /Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}
                osType: Windows
            diskName: myDisk
            resourceGroupName: myResourceGroup
            subscriptionId: '{subscription-id}'
          responses:
            202:
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: FromImage
                    imageReference:
                      id: /Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}
                  osType: Windows
                  provisioningState: Updating
        Create a managed disk from an existing managed disk in the same or different subscription.:
          parameters:
            api-version: "2017-03-30"
            disk:
              location: West US
              name: myDisk2
              properties:
                creationData:
                  createOption: Copy
                  sourceResourceId: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk1
            diskName: myDisk2
            resourceGroupName: myResourceGroup
            subscriptionId: '{subscription-id}'
          responses:
            202:
              body:
                location: West US
                name: myDisk2
                properties:
                  creationData:
                    createOption: Copy
                    sourceResourceId: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk1
                  provisioningState: Updating
        Create an empty managed disk.:
          parameters:
            api-version: "2017-03-30"
            disk:
              location: West US
              name: myDisk
              properties:
                creationData:
                  createOption: Empty
                diskSizeGB: 200
            diskName: myDisk
            resourceGroupName: myResourceGroup
            subscriptionId: '{subscription-id}'
          responses:
            202:
              body:
                location: West US
                name: myDisk
                properties:
                  creationData:
                    createOption: Empty
                  diskSizeGB: 200
                  provisioningState: Updating
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks/{diskName}/beginGetAccess:
    post:
      description: Grants access to a disk.
      operationId: Disks_GrantAccess
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/DiskNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Access data object supplied in the body of the get disk access
          operation.
        in: body
        name: grantAccessData
        required: true
        schema:
          $ref: '#/definitions/GrantAccessData'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AccessUri'
        202:
          description: Accepted
      tags:
      - Disks
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/disks/{diskName}/endGetAccess:
    post:
      description: Revokes access to a disk.
      operationId: Disks_RevokeAccess
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/DiskNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationStatusResponse'
        202:
          description: Accepted
      tags:
      - Disks
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots:
    get:
      description: Lists snapshots under a resource group.
      operationId: Snapshots_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SnapshotList'
      tags:
      - Snapshots
      x-ms-examples:
        List all snapshots in a resource group.:
          parameters:
            api-version: "2017-03-30"
            resourceGroupName: myResourceGroup
            subscriptionId: '{subscription-id}'
          responses:
            200:
              body:
                value:
                - id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot
                  location: westus
                  name: mySnapshot
                  properties:
                    creationData:
                      createOption: Copy
                      sourceResourceId: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot
                    diskSizeGB: 200
                    encryptionSettings:
                      diskEncryptionKey:
                        secretUrl: https://myvmvault.vault-int.azure-int.net/secrets/{secret}
                        sourceVault:
                          id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                      enabled: true
                      keyEncryptionKey:
                        keyUrl: https://myvmvault.vault-int.azure-int.net/keys/{key}
                        sourceVault:
                          id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                    osType: Windows
                    provisioningState: Succeeded
                    timeCreated: "2016-12-28T04:41:35.9278721+00:00"
                  tags:
                    department: Development
                    project: Snapshots
                  type: Microsoft.Compute/snapshots
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}:
    delete:
      description: Deletes a snapshot.
      operationId: Snapshots_Delete
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/SnapshotNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationStatusResponse'
        202:
          description: Accepted
        204:
          description: If the snapshot is deleted, this is an expected error code.
      tags:
      - Snapshots
      x-ms-long-running-operation: true
    get:
      description: Gets information about a snapshot.
      operationId: Snapshots_Get
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/SnapshotNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Snapshot'
      tags:
      - Snapshots
      x-ms-examples:
        Get information about a snapshot.:
          parameters:
            api-version: "2017-03-30"
            resourceGroupName: myResourceGroup
            snapshotName: mySnapshot
            subscriptionId: '{subscription-id}'
          responses:
            200:
              body:
                id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot
                location: westus
                name: mySnapshot
                properties:
                  creationData:
                    createOption: Empty
                  diskSizeGB: 100
                  encryptionSettings:
                    diskEncryptionKey:
                      secretUrl: https://myvmvault.vault-int.azure-int.net/secrets/{secret}
                      sourceVault:
                        id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                    enabled: true
                    keyEncryptionKey:
                      keyUrl: https://myvmvault.vault-int.azure-int.net/keys/{key}
                      sourceVault:
                        id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault
                  osType: Windows
                  provisioningState: Succeeded
                  timeCreated: "2016-12-28T04:41:35.079872+00:00"
                tags:
                  department: Development
                  project: Snapshots
                type: Microsoft.Compute/snapshots
    patch:
      description: Updates (patches) a snapshot.
      operationId: Snapshots_Update
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/SnapshotNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Snapshot object supplied in the body of the Patch snapshot operation.
        in: body
        name: snapshot
        required: true
        schema:
          $ref: '#/definitions/SnapshotUpdate'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Snapshot'
        202:
          description: Accepted
          schema:
            $ref: '#/definitions/Snapshot'
      tags:
      - Snapshots
      x-ms-long-running-operation: true
    put:
      description: Creates or updates a snapshot.
      operationId: Snapshots_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/SnapshotNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Snapshot object supplied in the body of the Put disk operation.
        in: body
        name: snapshot
        required: true
        schema:
          $ref: '#/definitions/Snapshot'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Snapshot'
        202:
          description: Accepted
          schema:
            $ref: '#/definitions/Snapshot'
      tags:
      - Snapshots
      x-ms-examples:
        Create a snapshot by importing an unmanaged blob from a different subscription.:
          parameters:
            api-version: "2017-03-30"
            resourceGroupName: myResourceGroup
            snapshot:
              location: West US
              name: mySnapshot1
              properties:
                creationData:
                  createOption: Import
                  sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                  storageAccountId: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount
            snapshotName: mySnapshot1
            subscriptionId: '{subscription-id}'
          responses:
            202:
              body:
                location: West US
                name: mySnapshot1
                properties:
                  creationData:
                    createOption: Import
                    sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                    storageAccountId: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount
                  provisioningState: Updating
        Create a snapshot by importing an unmanaged blob from the same subscription.:
          parameters:
            api-version: "2017-03-30"
            resourceGroupName: myResourceGroup
            snapshot:
              location: West US
              name: mySnapshot1
              properties:
                creationData:
                  createOption: Import
                  sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
            snapshotName: mySnapshot1
            subscriptionId: '{subscription-id}'
          responses:
            202:
              body:
                location: West US
                name: mySnapshot1
                properties:
                  creationData:
                    createOption: Import
                    sourceUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                  provisioningState: Updating
        Create a snapshot from an existing snapshot in the same or a different subscription.:
          parameters:
            api-version: "2017-03-30"
            resourceGroupName: myResourceGroup
            snapshot:
              location: West US
              name: mySnapshot2
              properties:
                creationData:
                  createOption: Copy
                  sourceResourceId: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1
            snapshotName: mySnapshot2
            subscriptionId: '{subscription-id}'
          responses:
            202:
              body:
                location: West US
                name: mySnapshot2
                properties:
                  creationData:
                    createOption: Copy
                    sourceResourceId: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1
                  provisioningState: Updating
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}/beginGetAccess
  : post:
      description: Grants access to a snapshot.
      operationId: Snapshots_GrantAccess
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/SnapshotNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Access data object supplied in the body of the get snapshot access
          operation.
        in: body
        name: grantAccessData
        required: true
        schema:
          $ref: '#/definitions/GrantAccessData'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AccessUri'
        202:
          description: Accepted
      tags:
      - Snapshots
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/snapshots/{snapshotName}/endGetAccess
  : post:
      description: Revokes access to a snapshot.
      operationId: Snapshots_RevokeAccess
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/SnapshotNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationStatusResponse'
        202:
          description: Accepted
      tags:
      - Snapshots
      x-ms-long-running-operation: true
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":25:{s:9:\"AccessUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"A
  disk access SAS uri.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:29:\"#/definitions/AccessUriOutput\";s:11:\"description\";s:32:\"Operation
  output data (raw JSON)\";s:19:\"x-ms-client-flatten\";b:1;}}}s:15:\"AccessUriOutput\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Azure
  properties, including output.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"output\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/AccessUriRaw\";s:11:\"description\";s:32:\"Operation
  output data (raw JSON)\";s:19:\"x-ms-client-flatten\";b:1;}}}s:12:\"AccessUriRaw\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"This
  object gets 'bubbled up' through flattening.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"accessSAS\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  SAS uri for accessing a disk.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:8:\"ApiError\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Api
  error.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  Api error details\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ApiErrorBase\";}s:4:\"type\";s:5:\"array\";}s:10:\"innererror\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/InnerError\";s:11:\"description\";s:19:\"The
  Api inner error\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  error message.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  target of the particular error.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"ApiErrorBase\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Api
  error base.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  error message.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  target of the particular error.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"CreationData\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Data
  used when creating a disk.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"createOption\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"This
  enumerates the possible sources of a disk's creation.\";s:4:\"enum\";a:5:{i:0;s:5:\"Empty\";i:1;s:6:\"Attach\";i:2;s:9:\"FromImage\";i:3;s:6:\"Import\";i:4;s:4:\"Copy\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:16:\"DiskCreateOption\";}}s:14:\"imageReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ImageDiskReference\";s:11:\"description\";s:24:\"Disk
  source information.\";}s:16:\"sourceResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"If
  createOption is Copy, this is the ARM id of the source snapshot or disk.\";s:4:\"type\";s:6:\"string\";}s:9:\"sourceUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"If
  createOption is Import, this is the URI of a blob to be imported into a managed
  disk.\";s:4:\"type\";s:6:\"string\";}s:16:\"storageAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"If
  createOption is Import, the Azure Resource Manager identifier of the storage account
  containing the blob to import as a disk. Required only if the blob is in a different
  subscription\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"createOption\";}}s:4:\"Disk\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:14:\"Disk
  resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"managedBy\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  relative URI containing the ID of the VM that has the disk attached.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DiskProperties\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/DiskSku\";}s:5:\"zones\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  Logical zone list for Disk.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:8:\"DiskList\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  List Disks operation response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"The
  uri to fetch the next page of disks. Call ListNext() with this to fetch the next
  page of disks.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"A
  list of disks.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Disk\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:14:\"DiskProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Disk
  resource properties.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"creationData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CreationData\";s:11:\"description\";s:100:\"Disk
  source information. CreationData information cannot be changed after the disk has
  been created.\";}s:10:\"diskSizeGB\";O:8:\"stdClass\":3:{s:11:\"description\";s:311:\"If
  creationData.createOption is Empty, this field is mandatory and it indicates the
  size of the VHD to create. If this field is present for updates or creation with
  other options, it indicates a resize. Resizes are only allowed if the disk is not
  attached to a running VM, and can only increase the disk's size.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"encryptionSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/EncryptionSettings\";s:11:\"description\";s:40:\"Encryption
  settings for disk or snapshot\";}s:6:\"osType\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"The
  Operating System type.\";s:4:\"enum\";a:2:{i:0;s:7:\"Windows\";i:1;s:5:\"Linux\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:20:\"OperatingSystemTypes\";}}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  disk provisioning state.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"timeCreated\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  time when the disk was created.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"creationData\";}}s:7:\"DiskSku\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  disks and snapshots sku name. Can be Standard_LRS or Premium_LRS.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"The
  sku name.\";s:4:\"enum\";a:2:{i:0;s:12:\"Standard_LRS\";i:1;s:11:\"Premium_LRS\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"StorageAccountTypes\";}}s:4:\"tier\";O:8:\"stdClass\":4:{s:7:\"default\";s:8:\"Standard\";s:11:\"description\";s:13:\"The
  sku tier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:10:\"DiskUpdate\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResourceUpdate\";}}s:11:\"description\";s:21:\"Disk
  update resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DiskUpdateProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:20:\"DiskUpdateProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Disk
  resource update properties.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"diskSizeGB\";O:8:\"stdClass\":3:{s:11:\"description\";s:311:\"If
  creationData.createOption is Empty, this field is mandatory and it indicates the
  size of the VHD to create. If this field is present for updates or creation with
  other options, it indicates a resize. Resizes are only allowed if the disk is not
  attached to a running VM, and can only increase the disk's size.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"encryptionSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/EncryptionSettings\";s:11:\"description\";s:40:\"Encryption
  settings for disk or snapshot\";}s:6:\"osType\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"the
  Operating System type.\";s:4:\"enum\";a:2:{i:0;s:7:\"Windows\";i:1;s:5:\"Linux\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:20:\"OperatingSystemTypes\";}}}}s:18:\"EncryptionSettings\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Encryption
  settings for disk or snapshot\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"diskEncryptionKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/KeyVaultAndSecretReference\";s:11:\"description\";s:60:\"Key
  Vault Secret Url and vault id of the disk encryption key\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:292:\"Set
  this flag to true and provide DiskEncryptionKey and optional KeyEncryptionKey to
  enable encryption. Set this flag to false and remove DiskEncryptionKey and KeyEncryptionKey
  to disable encryption. If EncryptionSettings is null in the request object, the
  existing settings remain unchanged.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"keyEncryptionKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/KeyVaultAndKeyReference\";s:11:\"description\";s:56:\"Key
  Vault Key Url and vault id of the key encryption key\";}}}s:15:\"GrantAccessData\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Data
  used for requesting a SAS.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"access\";O:8:\"stdClass\":3:{s:4:\"enum\";a:2:{i:0;s:4:\"None\";i:1;s:4:\"Read\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:11:\"AccessLevel\";}}s:17:\"durationInSeconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Time
  duration in seconds until the SAS access expires.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:6:\"access\";i:1;s:17:\"durationInSeconds\";}}s:18:\"ImageDiskReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  source image used for creating the disk.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"A
  relative uri containing either a Platform Imgage Repository or user image reference.\";s:4:\"type\";s:6:\"string\";}s:3:\"lun\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"If
  the disk is created from an image's data disk, this is an index that indicates which
  of the data disks in the image to use. For OS disks, this field is null.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:10:\"InnerError\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Inner
  error details.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"errordetail\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  internal error message or exception dump.\";s:4:\"type\";s:6:\"string\";}s:13:\"exceptiontype\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  exception type.\";s:4:\"type\";s:6:\"string\";}}}s:23:\"KeyVaultAndKeyReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"Key
  Vault Key Url and vault id of KeK, KeK is optional and when provided is used to
  unwrap the encryptionKey\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"keyUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Url
  pointing to a key or secret in KeyVault\";s:4:\"type\";s:6:\"string\";}s:11:\"sourceVault\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SourceVault\";s:11:\"description\";s:56:\"Resource
  id of the KeyVault containing the key or secret\";}}s:8:\"required\";a:2:{i:0;s:6:\"keyUrl\";i:1;s:11:\"sourceVault\";}}s:26:\"KeyVaultAndSecretReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Key
  Vault Secret Url and vault id of the encryption key \";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"secretUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Url
  pointing to a key or secret in KeyVault\";s:4:\"type\";s:6:\"string\";}s:11:\"sourceVault\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SourceVault\";s:11:\"description\";s:56:\"Resource
  id of the KeyVault containing the key or secret\";}}s:8:\"required\";a:2:{i:0;s:9:\"secretUrl\";i:1;s:11:\"sourceVault\";}}s:23:\"OperationStatusResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Operation
  status response\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"endTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"End
  time of the operation\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:22:\"#/definitions/ApiError\";s:11:\"description\";s:9:\"Api
  error\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Operation
  ID\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Start
  time of the operation\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Operation
  status\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  Resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Resource
  Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Resource
  location\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:14:\"ResourceUpdate\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  Resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/DiskSku\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";s:4:\"type\";s:6:\"object\";}}}s:8:\"Snapshot\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:18:\"Snapshot
  resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"managedBy\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Unused.
  Always Null.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DiskProperties\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/DiskSku\";}}}s:12:\"SnapshotList\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  List Snapshots operation response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"The
  uri to fetch the next page of snapshots. Call ListNext() with this to fetch the
  next page of snapshots.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  list of snapshots.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Snapshot\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:14:\"SnapshotUpdate\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResourceUpdate\";}}s:11:\"description\";s:25:\"Snapshot
  update resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DiskUpdateProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:11:\"SourceVault\";O:8:\"stdClass\":2:{s:11:\"description\";s:179:\"The
  vault id is an Azure Resource Manager Resoure id in the form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Resource
  Id\";s:4:\"type\";s:6:\"string\";}}}}"
...
