---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:5:\"title\";s:28:\"RecoveryServicesBackupClient\";s:7:\"version\";s:10:\"2016-06-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:192:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-06-01/registeredIdentities.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:43:\"recoveryservicesbackup-registeredIdentities\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/registeredIdentities/{identityName}
  : delete:
      deprecated: false
      description: Unregisters the given container from your Recovery Services vault.
      operationId: ProtectionContainers_Unregister
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ApiVersion'
      - description: Name of the protection container to unregister.
        in: path
        name: identityName
        required: true
        type: string
      responses:
        204:
          description: NoContent
      tags:
      - ProtectionContainers
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
