---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2016-12-01\";s:5:\"title\";s:28:\"RecoveryServicesBackupClient\";s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:20:\"internalConstructors\";b:0;}}"
host: management.azure.com
paths:
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupconfig/vaultconfig
  : get:
      tags:
      - BackupResourceVaultConfigs
      description: Fetches resource vault config.
      operationId: BackupResourceVaultConfigs_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupResourceVaultConfigResource'
      deprecated: false
      x-ms-examples:
        Get Vault Security Config:
          $ref: ./examples/Common/BackupResourceVaultConfigs_Get.json
    patch:
      tags:
      - BackupResourceVaultConfigs
      description: Updates vault security config.
      operationId: BackupResourceVaultConfigs_Update
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: parameters
        in: body
        description: resource config request
        required: true
        schema:
          $ref: '#/definitions/BackupResourceVaultConfigResource'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupResourceVaultConfigResource'
      deprecated: false
      x-ms-examples:
        Update Vault Security Config:
          $ref: ./examples/Common/BackupResourceVaultConfigs_Patch.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupEngines
  : get:
      tags:
      - BackupEngines
      description: Backup management servers registered to Recovery Services Vault.
        Returns a pageable list of servers.
      operationId: BackupEngines_List
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: $filter
        in: query
        description: OData filter options.
        required: false
        type: string
      - name: $skipToken
        in: query
        description: skipToken Filter.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupEngineBaseResourceList'
      deprecated: false
      x-ms-odata: '#/definitions/BMSBackupEnginesQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List Dpm/AzureBackupServer/Lajolla Backup Engines:
          $ref: ./examples/Dpm/BackupEngines_List.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupEngines/{backupEngineName}
  : get:
      tags:
      - BackupEngines
      description: Returns backup management server registered to Recovery Services
        Vault.
      operationId: BackupEngines_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: backupEngineName
        in: path
        description: Name of the backup management server.
        required: true
        type: string
      - name: $filter
        in: query
        description: OData filter options.
        required: false
        type: string
      - name: $skipToken
        in: query
        description: skipToken Filter.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupEngineBaseResource'
      deprecated: false
      x-ms-odata: '#/definitions/BMSBackupEngineQueryObject'
      x-ms-examples:
        Get Dpm/AzureBackupServer/Lajolla Backup Engine Details:
          $ref: ./examples/Dpm/BackupEngines_Get.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/operationResults/{operationId}
  : get:
      tags:
      - ProtectionContainerRefreshOperationResults
      description: Provides the result of the refresh operation triggered by the BeginRefresh
        operation.
      operationId: ProtectionContainerRefreshOperationResults_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the container.
        required: true
        type: string
      - name: operationId
        in: path
        description: Operation ID associated with the operation whose result needs
          to be fetched.
        required: true
        type: string
      responses:
        202:
          description: Accepted
        204:
          description: NoContent
      deprecated: false
      x-ms-examples:
        Azure Vm Discovery Operation Result:
          $ref: ./examples/Common/RefreshContainers_OperationResults.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectableContainers
  : get:
      tags:
      - ProtectableContainers
      description: Lists the containers registered to Recovery Services Vault.
      operationId: ProtectableContainers_List
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the container.
        required: true
        type: string
      - name: $filter
        in: query
        description: OData filter options.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectableContainerResourceList'
      deprecated: false
      x-ms-odata: '#/definitions/BMSContainerQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List protectable items with backupManagementType filter as AzureStorage:
          $ref: ./examples/AzureStorage/ProtectableContainers_List.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}
  : get:
      tags:
      - ProtectionContainers
      description: Gets details of the specific container registered to your Recovery
        Services Vault.
      operationId: ProtectionContainers_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Name of the fabric where the container belongs.
        required: true
        type: string
      - name: containerName
        in: path
        description: Name of the container whose details need to be fetched.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectionContainerResource'
      deprecated: false
      x-ms-examples:
        Get Protection Container Details:
          $ref: ./examples/AzureWorkload/ProtectionContainers_Get.json
    put:
      tags:
      - ProtectionContainers
      description: Registers the container with Recovery Services vault.rn            This
        is an asynchronous operation. To track the operation status, use location
        header to call get latest status of the operation.
      operationId: ProtectionContainers_Register
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the container.
        required: true
        type: string
      - name: containerName
        in: path
        description: Name of the container to be registered.
        required: true
        type: string
      - name: parameters
        in: body
        description: Request body for operation
        required: true
        schema:
          $ref: '#/definitions/ProtectionContainerResource'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectionContainerResource'
        202:
          description: Accepted
      deprecated: false
      x-ms-examples:
        RegisterAzure Storage ProtectionContainers:
          $ref: ./examples/AzureStorage/ProtectionContainers_Register.json
    delete:
      tags:
      - ProtectionContainers
      description: Unregisters the given container from your Recovery Services Vault.rn            This
        is an asynchronous operation. To determine whether the backend service has
        finished processing the request, call Get Container Operation Result API.
      operationId: ProtectionContainers_Unregister
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Name of the fabric where the container belongs.
        required: true
        type: string
      - name: containerName
        in: path
        description: Name of the container which needs to be unregistered from the
          Recovery Services Vault.
        required: true
        type: string
      responses:
        202:
          description: Accepted
        204:
          description: NoContent
      deprecated: false
      x-ms-examples:
        Unregister Protection Container:
          $ref: ./examples/AzureWorkload/ProtectionContainers_Unregister.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/inquire
  : post:
      tags:
      - ProtectionContainers
      summary: Inquires all the protectable item in the given container that can be
        protected.
      description: Inquires all the protectable items that are protectable under the
        given container.
      operationId: ProtectionContainers_Inquire
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric Name associated with the container.
        required: true
        type: string
      - name: containerName
        in: path
        description: Name of the container in which inquiry needs to be triggered.
        required: true
        type: string
      responses:
        202:
          description: Accepted
      deprecated: false
      x-ms-examples:
        Inquire Azure Storage Protection Containers:
          $ref: ./examples/AzureStorage/ProtectionContainers_Inquire.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/items
  : get:
      tags:
      - BackupWorkloadItems
      description: Provides a pageable list of workload item of a specific container
        according to the query filter and the pagination parameters.
      operationId: BackupWorkloadItems_List
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the container.
        required: true
        type: string
      - name: containerName
        in: path
        description: Name of the container.
        required: true
        type: string
      - name: $filter
        in: query
        description: OData filter options.
        required: false
        type: string
      - name: $skipToken
        in: query
        description: skipToken Filter.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkloadItemResourceList'
      deprecated: false
      x-ms-odata: '#/definitions/BMSWorkloadItemQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List Workload Items in Container:
          $ref: ./examples/AzureWorkload/BackupWorkloadItems_List.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/operationResults/{operationId}
  : get:
      tags:
      - ProtectionContainerOperationResults
      description: Fetches the result of any operation on the container.
      operationId: ProtectionContainerOperationResults_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the container.
        required: true
        type: string
      - name: containerName
        in: path
        description: Container name whose information should be fetched.
        required: true
        type: string
      - name: operationId
        in: path
        description: Operation ID which represents the operation whose result needs
          to be fetched.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectionContainerResource'
        202:
          description: Accepted
        204:
          description: NoContent
      deprecated: false
      x-ms-examples:
        Get Azure Storage Protection Container Operation Result:
          $ref: ./examples/AzureStorage/ProtectionContainers_Inquire_Result.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}
  : get:
      tags:
      - ProtectedItems
      description: Provides the details of the backed up item. This is an asynchronous
        operation. To know the status of the operation, call the GetItemOperationResult
        API.
      operationId: ProtectedItems_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the backed up item.
        required: true
        type: string
      - name: containerName
        in: path
        description: Container name associated with the backed up item.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: Backed up item name whose details are to be fetched.
        required: true
        type: string
      - name: $filter
        in: query
        description: OData filter options.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectedItemResource'
      deprecated: false
      x-ms-odata: '#/definitions/GetProtectedItemQueryObject'
      x-ms-examples:
        Get Protected Classic Virtual Machine Details:
          $ref: ./examples/AzureIaasVm/ClassicCompute_ProtectedItem_Get.json
        Get Protected Virtual Machine Details:
          $ref: ./examples/AzureIaasVm/Compute_ProtectedItem_Get.json
    put:
      tags:
      - ProtectedItems
      description: Enables backup of an item or to modifies the backup policy information
        of an already backed up item. This is an asynchronous operation. To know the
        status of the operation, call the GetItemOperationResult API.
      operationId: ProtectedItems_CreateOrUpdate
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the backup item.
        required: true
        type: string
      - name: containerName
        in: path
        description: Container name associated with the backup item.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: Item name to be backed up.
        required: true
        type: string
      - name: parameters
        in: body
        description: resource backed up item
        required: true
        schema:
          $ref: '#/definitions/ProtectedItemResource'
      responses:
        202:
          description: Accepted
      deprecated: false
      x-ms-examples:
        Enable Protection on Azure IaasVm:
          $ref: ./examples/AzureIaasVm/ConfigureProtection.json
    delete:
      tags:
      - ProtectedItems
      description: Used to disable backup of an item within a container. This is an
        asynchronous operation. To know the status of the request, call the GetItemOperationResult
        API.
      operationId: ProtectedItems_Delete
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the backed up item.
        required: true
        type: string
      - name: containerName
        in: path
        description: Container name associated with the backed up item.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: Backed up item to be deleted.
        required: true
        type: string
      responses:
        202:
          description: Accepted
        204:
          description: NoContent
      deprecated: false
      x-ms-examples:
        Delete Protection from Azure Virtual Machine:
          $ref: ./examples/Common/ProtectedItem_Delete.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/backup
  : post:
      tags:
      - Backups
      description: Triggers backup for specified backed up item. This is an asynchronous
        operation. To know the status of the operation, call GetProtectedItemOperationResult
        API.
      operationId: Backups_Trigger
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the backup item.
        required: true
        type: string
      - name: containerName
        in: path
        description: Container name associated with the backup item.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: Backup item for which backup needs to be triggered.
        required: true
        type: string
      - name: parameters
        in: body
        description: resource backup request
        required: true
        schema:
          $ref: '#/definitions/BackupRequestResource'
      responses:
        202:
          description: Accepted
      deprecated: false
      x-ms-examples:
        Trigger Backup:
          $ref: ./examples/Common/TriggerBackup_Post.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationResults/{operationId}
  : get:
      tags:
      - ProtectedItemOperationResults
      description: Fetches the result of any operation on the backup item.
      operationId: ProtectedItemOperationResults_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the backup item.
        required: true
        type: string
      - name: containerName
        in: path
        description: Container name associated with the backup item.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: Backup item name whose details are to be fetched.
        required: true
        type: string
      - name: operationId
        in: path
        description: OperationID which represents the operation whose result needs
          to be fetched.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectedItemResource'
        202:
          description: Accepted
        204:
          description: NoContent
      deprecated: false
      x-ms-examples:
        Get Operation Results of Protected Vm:
          $ref: ./examples/AzureIaasVm/ProtectedItemOperationResults.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationsStatus/{operationId}
  : get:
      tags:
      - ProtectedItemOperationStatuses
      description: Fetches the status of an operation such as triggering a backup,
        restore. The status can be in progress, completed or failed. You can refer
        to the OperationStatus enum for all the possible states of the operation.
        Some operations create jobs. This method returns the list of jobs associated
        with the operation.
      operationId: ProtectedItemOperationStatuses_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the backup item.
        required: true
        type: string
      - name: containerName
        in: path
        description: Container name associated with the backup item.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: Backup item name whose details are to be fetched.
        required: true
        type: string
      - name: operationId
        in: path
        description: OperationID represents the operation whose status needs to be
          fetched.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationStatus'
      deprecated: false
      x-ms-examples:
        Get Operation Status of Protected Vm:
          $ref: ./examples/AzureIaasVm/ProtectedItemOperationStatus.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints
  : get:
      tags:
      - RecoveryPoints
      description: Lists the backup copies for the backed up item.
      operationId: RecoveryPoints_List
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the backed up item.
        required: true
        type: string
      - name: containerName
        in: path
        description: Container name associated with the backed up item.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: Backed up item whose backup copies are to be fetched.
        required: true
        type: string
      - name: $filter
        in: query
        description: OData filter options.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RecoveryPointResourceList'
      deprecated: false
      x-ms-odata: '#/definitions/BMSRPQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Get Protected Azure Vm Recovery Points:
          $ref: ./examples/AzureIaasVm/RecoveryPoints_List.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}
  : get:
      tags:
      - RecoveryPoints
      description: Provides the information of the backed up data identified using
        RecoveryPointID. This is an asynchronous operation. To know the status of
        the operation, call the GetProtectedItemOperationResult API.
      operationId: RecoveryPoints_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with backed up item.
        required: true
        type: string
      - name: containerName
        in: path
        description: Container name associated with backed up item.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: Backed up item name whose backup data needs to be fetched.
        required: true
        type: string
      - name: recoveryPointId
        in: path
        description: RecoveryPointID represents the backed up data to be fetched.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RecoveryPointResource'
      deprecated: false
      x-ms-examples:
        Get Azure Vm Recovery Point Details:
          $ref: ./examples/AzureIaasVm/RecoveryPoints_Get.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/provisionInstantItemRecovery
  : post:
      tags:
      - ItemLevelRecoveryConnections
      description: Provisions a script which invokes an iSCSI connection to the backup
        data. Executing this script opens a file explorer displaying all the recoverable
        files and folders. This is an asynchronous operation. To know the status of
        provisioning, call GetProtectedItemOperationResult API.
      operationId: ItemLevelRecoveryConnections_Provision
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the backed up items.
        required: true
        type: string
      - name: containerName
        in: path
        description: Container name associated with the backed up items.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: Backed up item name whose files/folders are to be restored.
        required: true
        type: string
      - name: recoveryPointId
        in: path
        description: Recovery point ID which represents backed up data. iSCSI connection
          will be provisioned for this backed up data.
        required: true
        type: string
      - name: parameters
        in: body
        description: resource ILR request
        required: true
        schema:
          $ref: '#/definitions/ILRRequestResource'
      responses:
        202:
          description: Accepted
      deprecated: false
      x-ms-examples:
        Provision Instant Item Level Recovery for Azure Vm:
          $ref: ./examples/AzureIaasVm/Provision_Ilr.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/restore
  : post:
      tags:
      - Restores
      description: Restores the specified backed up data. This is an asynchronous
        operation. To know the status of this API call, use GetProtectedItemOperationResult
        API.
      operationId: Restores_Trigger
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the backed up items.
        required: true
        type: string
      - name: containerName
        in: path
        description: Container name associated with the backed up items.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: Backed up item to be restored.
        required: true
        type: string
      - name: recoveryPointId
        in: path
        description: Recovery point ID which represents the backed up data to be restored.
        required: true
        type: string
      - name: parameters
        in: body
        description: resource restore request
        required: true
        schema:
          $ref: '#/definitions/RestoreRequestResource'
      responses:
        202:
          description: Accepted
      deprecated: false
      x-ms-examples:
        Restore to New Azure IaasVm:
          $ref: ./examples/AzureIaasVm/TriggerRestore_ALR.json
        Restore Disks:
          $ref: ./examples/AzureIaasVm/TriggerRestore_RestoreDisks.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/revokeInstantItemRecovery
  : post:
      tags:
      - ItemLevelRecoveryConnections
      description: Revokes an iSCSI connection which can be used to download a script.
        Executing this script opens a file explorer displaying all recoverable files
        and folders. This is an asynchronous operation.
      operationId: ItemLevelRecoveryConnections_Revoke
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated with the backed up items.
        required: true
        type: string
      - name: containerName
        in: path
        description: Container name associated with the backed up items.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: Backed up item name whose files/folders are to be restored.
        required: true
        type: string
      - name: recoveryPointId
        in: path
        description: Recovery point ID which represents backed up data. iSCSI connection
          will be revoked for this backed up data.
        required: true
        type: string
      responses:
        202:
          description: Accepted
      deprecated: false
      x-ms-examples:
        Revoke Instant Item Level Recovery for Azure Vm:
          $ref: ./examples/AzureIaasVm/Revoke_Ilr.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/refreshContainers
  : post:
      tags:
      - ProtectionContainers
      description: Discovers all the containers in the subscription that can be backed
        up to Recovery Services Vault. This is an asynchronous operation. To know
        the status of the operation, call GetRefreshOperationResult API.
      operationId: ProtectionContainers_Refresh
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: Fabric name associated the container.
        required: true
        type: string
      - name: $filter
        in: query
        description: OData filter options.
        required: false
        type: string
      responses:
        202:
          description: Accepted
      deprecated: false
      x-ms-odata: '#/definitions/BMSRefreshContainersQueryObject'
      x-ms-examples:
        Trigger Azure Vm Discovery:
          $ref: ./examples/Common/RefreshContainers.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/cancel
  : post:
      tags:
      - JobCancellations
      description: Cancels a job. This is an asynchronous operation. To know the status
        of the cancellation, call GetCancelOperationResult API.
      operationId: JobCancellations_Trigger
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: jobName
        in: path
        description: Name of the job to cancel.
        required: true
        type: string
      responses:
        202:
          description: Accepted
      deprecated: false
      x-ms-examples:
        Cancel Job:
          $ref: ./examples/Common/TriggerCancelJob.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/operationResults/{operationId}
  : get:
      tags:
      - JobOperationResults
      description: Fetches the result of any operation.rn            the operation.
      operationId: JobOperationResults_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: jobName
        in: path
        description: Job name whose operation result has to be fetched.
        required: true
        type: string
      - name: operationId
        in: path
        description: OperationID which represents the operation whose result has to
          be fetched.
        required: true
        type: string
      responses:
        200:
          description: OK
        202:
          description: Accepted
        204:
          description: NoContent
      deprecated: false
      x-ms-examples:
        Cancel Job Operation Result:
          $ref: ./examples/Common/CancelJobOperationResult.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupOperationResults/{operationId}
  : get:
      tags:
      - BackupOperationResults
      description: Provides the status of the delete operations such as deleting backed
        up item. Once the operation has started, the status code in the response would
        be Accepted. It will continue to be in this state till it reaches completion.
        On successful completion, the status code will be OK. This method expects
        OperationID as an argument. OperationID is part of the Location header of
        the operation response.
      operationId: BackupOperationResults_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: operationId
        in: path
        description: OperationID which represents the operation.
        required: true
        type: string
      responses:
        200:
          description: OK
        202:
          description: Accepted
        204:
          description: NoContent
      deprecated: false
      x-ms-examples:
        Get Result for Protected Item Delete Operation:
          $ref: ./examples/Common/ProtectedItem_Delete_OperationResult.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupOperations/{operationId}
  : get:
      tags:
      - BackupOperationStatuses
      description: Fetches the status of an operation such as triggering a backup,
        restore. The status can be in progress, completed or failed. You can refer
        to the OperationStatus enum for all the possible states of an operation. Some
        operations create jobs. This method returns the list of jobs when the operation
        is complete.
      operationId: BackupOperationStatuses_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: operationId
        in: path
        description: OperationID which represents the operation.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationStatus'
      deprecated: false
      x-ms-examples:
        Get Protected Item Delete Operation Status:
          $ref: ./examples/Common/ProtectedItem_Delete_OperationStatus.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}
  : get:
      tags:
      - ProtectionPolicies
      description: Provides the details of the backup policies associated to Recovery
        Services Vault. This is an asynchronous operation. Status of the operation
        can be fetched using GetPolicyOperationResult API.
      operationId: ProtectionPolicies_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: policyName
        in: path
        description: Backup policy information to be fetched.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectionPolicyResource'
      deprecated: false
      x-ms-examples:
        Get Azure IaasVm Protection Policy Details:
          $ref: ./examples/AzureIaasVm/ProtectionPolicies_Get.json
    put:
      tags:
      - ProtectionPolicies
      description: Creates or modifies a backup policy. This is an asynchronous operation.
        Status of the operation can be fetched using GetPolicyOperationResult API.
      operationId: ProtectionPolicies_CreateOrUpdate
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: policyName
        in: path
        description: Backup policy to be created.
        required: true
        type: string
      - name: parameters
        in: body
        description: resource backup policy
        required: true
        schema:
          $ref: '#/definitions/ProtectionPolicyResource'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectionPolicyResource'
        202:
          description: Accepted
      deprecated: false
      x-ms-examples:
        Create or Update Simple Azure Vm Protection Policy:
          $ref: ./examples/AzureIaasVm/ProtectionPolicies_CreateOrUpdate_Simple.json
        Create or Update Full Azure Vm Protection Policy:
          $ref: ./examples/AzureIaasVm/ProtectionPolicies_CreateOrUpdate_Complex.json
        Create or Update Full Azure Workload Protection Policy:
          $ref: ./examples/AzureWorkload/ProtectionPolicies_CreateOrUpdate_Complex.json
    delete:
      tags:
      - ProtectionPolicies
      description: Deletes specified backup policy from your Recovery Services Vault.
        This is an asynchronous operation. Status of the operation can be fetched
        using GetPolicyOperationResult API.
      operationId: ProtectionPolicies_Delete
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: policyName
        in: path
        description: Backup policy to be deleted.
        required: true
        type: string
      responses:
        200:
          description: OK
        204:
          description: NoContent
      deprecated: false
      x-ms-examples:
        Delete Azure Vm Protection Policy:
          $ref: ./examples/AzureIaasVm/ProtectionPolicies_Delete.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operationResults/{operationId}
  : get:
      tags:
      - ProtectionPolicyOperationResults
      description: Provides the result of an operation.
      operationId: ProtectionPolicyOperationResults_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: policyName
        in: path
        description: Backup policy name whose operation's result needs to be fetched.
        required: true
        type: string
      - name: operationId
        in: path
        description: Operation ID which represents the operation whose result needs
          to be fetched.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectionPolicyResource'
      deprecated: false
      x-ms-examples:
        Get Protection Policy Operation Results:
          $ref: ./examples/AzureIaasVm/ProtectionPolicyOperationResults_Get.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operations/{operationId}
  : get:
      tags:
      - ProtectionPolicyOperationStatuses
      description: Provides the status of the asynchronous operations like backup,
        restore. The status can be in progress, completed or failed. You can refer
        to the Operation Status enum for all the possible states of an operation.
        Some operations create jobs. This method returns the list of jobs associated
        with operation.
      operationId: ProtectionPolicyOperationStatuses_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: policyName
        in: path
        description: Backup policy name whose operation's status needs to be fetched.
        required: true
        type: string
      - name: operationId
        in: path
        description: Operation ID which represents an operation whose status needs
          to be fetched.
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationStatus'
      deprecated: false
      x-ms-examples:
        Get Protection Policy Operation Status:
          $ref: ./examples/AzureIaasVm/ProtectionPolicyOperationStatuses_Get.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectableItems
  : get:
      tags:
      - BackupProtectableItems
      description: Provides a pageable list of protectable objects within your subscription
        according to the query filter and the pagination parameters.
      operationId: BackupProtectableItems_List
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: $filter
        in: query
        description: OData filter options.
        required: false
        type: string
      - name: $skipToken
        in: query
        description: skipToken Filter.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkloadProtectableItemResourceList'
      deprecated: false
      x-ms-odata: '#/definitions/BMSPOQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List protectable items with backupManagementType filter as AzureIaasVm:
          $ref: ./examples/AzureIaasVm/BackupProtectableItems_List.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectionContainers
  : get:
      tags:
      - BackupProtectionContainers
      description: Lists the containers registered to Recovery Services Vault.
      operationId: BackupProtectionContainers_List
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: $filter
        in: query
        description: OData filter options.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProtectionContainerResourceList'
      deprecated: false
      x-ms-odata: '#/definitions/BMSContainerQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List Backup Protection Containers:
          $ref: ./examples/AzureWorkload/ProtectionContainers_List.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupSecurityPIN
  : post:
      tags:
      - SecurityPINs
      description: Get the security PIN.
      operationId: SecurityPINs_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TokenInformation'
      deprecated: false
      x-ms-examples:
        Get Vault Security Pin:
          $ref: ./examples/Common/BackupSecurityPin_Get.json
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig
  : get:
      tags:
      - BackupResourceStorageConfigs
      description: Fetches resource storage config.
      operationId: BackupResourceStorageConfigs_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupResourceConfigResource'
      deprecated: false
      x-ms-examples:
        Get Vault Storage Configuration:
          $ref: ./examples/Common/BackupStorageConfig_Get.json
    patch:
      tags:
      - BackupResourceStorageConfigs
      description: Updates vault storage model type.
      operationId: BackupResourceStorageConfigs_Update
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: parameters
        in: body
        description: Vault storage config request
        required: true
        schema:
          $ref: '#/definitions/BackupResourceConfigResource'
      responses:
        204:
          description: NoContent
      deprecated: false
      x-ms-examples:
        Update Vault Storage Configuration:
          $ref: ./examples/Common/BackupStorageConfig_Patch.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":158:{s:26:\"AzureBackupServerContainer\";O:8:\"stdClass\":5:{s:11:\"description\";s:68:\"AzureBackupServer
  (DPMVenus) workload-specific protection container.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProtectionContainer\";}}s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"canReRegister\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Specifies
  whether the container is re-registrable.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"containerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"ID
  of container.\";s:4:\"type\";s:6:\"string\";}s:18:\"protectedItemCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:45:\"Number
  of protected items in the BackupEngine\";s:4:\"type\";s:7:\"integer\";}s:15:\"dpmAgentVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Backup
  engine Agent version\";s:4:\"type\";s:6:\"string\";}s:10:\"dpmServers\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"List
  of BackupEngines protecting the container\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:16:\"upgradeAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"To
  check if upgrade available\";s:4:\"type\";s:7:\"boolean\";}s:16:\"protectionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Protection
  status of the container.\";s:4:\"type\";s:6:\"string\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/DPMContainerExtendedInfo\";s:11:\"description\";s:31:\"Extended
  Info of the container.\";}}s:24:\"x-ms-discriminator-value\";s:26:\"AzureBackupServerContainer\";}s:23:\"AzureBackupServerEngine\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Backup
  engine type when Azure Backup Server is used to manage the backups.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BackupEngineBase\";}}s:24:\"x-ms-discriminator-value\";s:23:\"AzureBackupServerEngine\";}s:27:\"AzureFileShareBackupRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:48:\"AzureFileShare
  workload-specific backup request.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BackupRequest\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:28:\"recoveryPointExpiryTimeInUTC\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:55:\"Backup
  copy will expire after the time specified (UTC).\";s:4:\"type\";s:6:\"string\";}}s:24:\"x-ms-discriminator-value\";s:27:\"AzureFileShareBackupRequest\";}s:29:\"AzureFileShareProtectableItem\";O:8:\"stdClass\":5:{s:11:\"description\";s:47:\"Protectable
  item for Azure Fileshare workloads.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/WorkloadProtectableItem\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"parentContainerFabricId\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"Full
  Fabric ID of container to which this protectable item belongs. For example, ARM
  ID.\";s:4:\"type\";s:6:\"string\";}s:27:\"parentContainerFriendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Friendly
  name of container to which this protectable item belongs.\";s:4:\"type\";s:6:\"string\";}s:18:\"azureFileShareType\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"File
  Share type XSync or XSMB.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:4:\"XSMB\";i:2;s:5:\"XSync\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"AzureFileShareType\";s:13:\"modelAsString\";b:1;}}}s:24:\"x-ms-discriminator-value\";s:14:\"AzureFileShare\";}s:27:\"AzureFileshareProtectedItem\";O:8:\"stdClass\":5:{s:11:\"description\";s:47:\"Azure
  File Share workload-specific backup item.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Friendly
  name of the fileshare represented by this backup item.\";s:4:\"type\";s:6:\"string\";}s:16:\"protectionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Backup
  status of this backup item.\";s:4:\"type\";s:6:\"string\";}s:15:\"protectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Backup
  state of this backup item.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:9:\"IRPending\";i:2;s:9:\"Protected\";i:3;s:15:\"ProtectionError\";i:4;s:17:\"ProtectionStopped\";i:5;s:16:\"ProtectionPaused\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"ProtectionState\";s:13:\"modelAsString\";b:1;}}s:12:\"healthStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"backups
  running status for this backup item.\";s:4:\"enum\";a:4:{i:0;s:6:\"Passed\";i:1;s:14:\"ActionRequired\";i:2;s:15:\"ActionSuggested\";i:3;s:7:\"Invalid\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"HealthStatus\";s:13:\"modelAsString\";b:1;}}s:16:\"lastBackupStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Last
  backup operation status. Possible values: Healthy, Unhealthy.\";s:4:\"type\";s:6:\"string\";}s:14:\"lastBackupTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:59:\"Timestamp
  of the last backup operation on this backup item.\";s:4:\"type\";s:6:\"string\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/AzureFileshareProtectedItemExtendedInfo\";s:11:\"description\";s:45:\"Additional
  information with this backup item.\";}}s:24:\"x-ms-discriminator-value\";s:27:\"AzureFileShareProtectedItem\";}s:39:\"AzureFileshareProtectedItemExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Additional
  information about Azure File Share backup item.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"oldestRecoveryPoint\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:62:\"The
  oldest backup copy available for this item in the service.\";s:4:\"type\";s:6:\"string\";}s:18:\"recoveryPointCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:67:\"Number
  of available backup copies associated with this backup item.\";s:4:\"type\";s:7:\"integer\";}s:11:\"policyState\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Indicates
  consistency of policy object and policy applied to this backup item.\";s:4:\"type\";s:6:\"string\";}}}s:30:\"AzureFileShareProtectionPolicy\";O:8:\"stdClass\":5:{s:11:\"description\";s:27:\"AzureStorage
  backup policy.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionPolicy\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"workLoadType\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Type
  of workload for the backup management\";s:4:\"type\";s:6:\"string\";}s:14:\"schedulePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SchedulePolicy\";s:11:\"description\";s:51:\"Backup
  schedule specified as part of backup policy.\";}s:15:\"retentionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";s:11:\"description\";s:66:\"Retention
  policy with the details on backup copy retention ranges.\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"TimeZone
  optional input as string. For example: TimeZone = \"Pacific Standard Time\".\";s:4:\"type\";s:6:\"string\";}}s:24:\"x-ms-discriminator-value\";s:12:\"AzureStorage\";}s:27:\"AzureFileShareRecoveryPoint\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Azure
  File Share workload specific backup copy.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RecoveryPoint\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"recoveryPointType\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Type
  of the backup copy. Specifies whether it is a crash consistent backup or app consistent.\";s:4:\"type\";s:6:\"string\";}s:17:\"recoveryPointTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:43:\"Time
  at which this backup copy was created.\";s:4:\"type\";s:6:\"string\";}s:20:\"fileShareSnapshotUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Contains
  Url to the snapshot of fileshare, if applicable\";s:4:\"type\";s:6:\"string\";}}}s:28:\"AzureFileShareRestoreRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"AzureFileShare
  Restore Request\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RestoreRequest\";}}s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"recoveryType\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Type
  of this recovery.\";s:4:\"enum\";a:4:{i:0;s:7:\"Invalid\";i:1;s:16:\"OriginalLocation\";i:2;s:17:\"AlternateLocation\";i:3;s:12:\"RestoreDisks\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"RecoveryType\";s:13:\"modelAsString\";b:1;}}s:16:\"sourceResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Source
  storage account ARM Id\";s:4:\"type\";s:6:\"string\";}s:11:\"copyOptions\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Options
  to resolve copy conflicts.\";s:4:\"enum\";a:5:{i:0;s:7:\"Invalid\";i:1;s:10:\"CreateCopy\";i:2;s:4:\"Skip\";i:3;s:9:\"Overwrite\";i:4;s:14:\"FailOnConflict\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"CopyOptions\";s:13:\"modelAsString\";b:1;}}s:18:\"restoreRequestType\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Restore
  Type (FullShareRestore or ItemLevelRestore)\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:16:\"FullShareRestore\";i:2;s:16:\"ItemLevelRestore\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"RestoreRequestType\";s:13:\"modelAsString\";b:1;}}s:16:\"restoreFileSpecs\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"List
  of Source Files/Folders(which need to recover) and TargetFolderPath details\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RestoreFileSpecs\";}}s:13:\"targetDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TargetAFSRestoreInfo\";s:11:\"description\";s:25:\"Target
  File Share Details\";}}s:24:\"x-ms-discriminator-value\";s:28:\"AzureFileShareRestoreRequest\";}s:34:\"AzureIaaSClassicComputeVMContainer\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"IaaS
  VM workload-specific backup item representing a classic virtual machine.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/IaaSVMContainer\";}}s:24:\"x-ms-discriminator-value\";s:40:\"Microsoft.ClassicCompute/virtualMachines\";}s:40:\"AzureIaaSClassicComputeVMProtectableItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"IaaS
  VM workload-specific backup item representing the Classic Compute VM.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/IaaSVMProtectableItem\";}}s:24:\"x-ms-discriminator-value\";s:40:\"Microsoft.ClassicCompute/virtualMachines\";}s:38:\"AzureIaaSClassicComputeVMProtectedItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"IaaS
  VM workload-specific backup item representing the Classic Compute VM.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AzureIaaSVMProtectedItem\";}}s:24:\"x-ms-discriminator-value\";s:40:\"Microsoft.ClassicCompute/virtualMachines\";}s:27:\"AzureIaaSComputeVMContainer\";O:8:\"stdClass\":4:{s:11:\"description\";s:93:\"IaaS
  VM workload-specific backup item representing an Azure Resource Manager virtual
  machine.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/IaaSVMContainer\";}}s:24:\"x-ms-discriminator-value\";s:33:\"Microsoft.Compute/virtualMachines\";}s:33:\"AzureIaaSComputeVMProtectableItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"IaaS
  VM workload-specific backup item representing the Azure Resource Manager VM.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/IaaSVMProtectableItem\";}}s:24:\"x-ms-discriminator-value\";s:33:\"Microsoft.Compute/virtualMachines\";}s:31:\"AzureIaaSComputeVMProtectedItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"IaaS
  VM workload-specific backup item representing the Azure Resource Manager VM.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AzureIaaSVMProtectedItem\";}}s:24:\"x-ms-discriminator-value\";s:33:\"Microsoft.Compute/virtualMachines\";}s:24:\"AzureIaaSVMHealthDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Azure
  IaaS VM workload-specific Health Details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:11:\"Health
  Code\";s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Health
  Title\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Health
  Message\";s:4:\"type\";s:6:\"string\";}s:15:\"recommendations\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Health
  Recommended Actions\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:24:\"AzureIaaSVMProtectedItem\";O:8:\"stdClass\":5:{s:11:\"description\";s:38:\"IaaS
  VM workload-specific backup item.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Friendly
  name of the VM represented by this backup item.\";s:4:\"type\";s:6:\"string\";}s:16:\"virtualMachineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Fully
  qualified ARM ID of the virtual machine represented by this item.\";s:4:\"type\";s:6:\"string\";}s:16:\"protectionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Backup
  status of this backup item.\";s:4:\"type\";s:6:\"string\";}s:15:\"protectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Backup
  state of this backup item.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:9:\"IRPending\";i:2;s:9:\"Protected\";i:3;s:15:\"ProtectionError\";i:4;s:17:\"ProtectionStopped\";i:5;s:16:\"ProtectionPaused\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"ProtectionState\";s:13:\"modelAsString\";b:1;}}s:12:\"healthStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Health
  status of protected item\";s:4:\"enum\";a:4:{i:0;s:6:\"Passed\";i:1;s:14:\"ActionRequired\";i:2;s:15:\"ActionSuggested\";i:3;s:7:\"Invalid\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"HealthStatus\";s:13:\"modelAsString\";b:1;}}s:13:\"healthDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Health
  details on this backup item.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AzureIaaSVMHealthDetails\";}}s:16:\"lastBackupStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Last
  backup operation status.\";s:4:\"type\";s:6:\"string\";}s:14:\"lastBackupTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:59:\"Timestamp
  of the last backup operation on this backup item.\";s:4:\"type\";s:6:\"string\";}s:19:\"protectedItemDataId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Data
  ID of the protected item.\";s:4:\"type\";s:6:\"string\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/AzureIaaSVMProtectedItemExtendedInfo\";s:11:\"description\";s:44:\"Additional
  information for this backup item.\";}}s:24:\"x-ms-discriminator-value\";s:24:\"AzureIaaSVMProtectedItem\";}s:36:\"AzureIaaSVMProtectedItemExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Additional
  information on Azure IaaS VM specific backup item.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"oldestRecoveryPoint\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:54:\"The
  oldest backup copy available for this backup item.\";s:4:\"type\";s:6:\"string\";}s:18:\"recoveryPointCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:55:\"Number
  of backup copies available for this backup item.\";s:4:\"type\";s:7:\"integer\";}s:18:\"policyInconsistent\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Specifies
  if backup policy associated with the backup item is inconsistent.\";s:4:\"type\";s:7:\"boolean\";}}}s:27:\"AzureIaaSVMProtectionPolicy\";O:8:\"stdClass\":5:{s:11:\"description\";s:40:\"IaaS
  VM workload-specific backup policy.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionPolicy\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"schedulePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SchedulePolicy\";s:11:\"description\";s:51:\"Backup
  schedule specified as part of backup policy.\";}s:15:\"retentionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";s:11:\"description\";s:66:\"Retention
  policy with the details on backup copy retention ranges.\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"TimeZone
  optional input as string. For example: TimeZone = \"Pacific Standard Time\".\";s:4:\"type\";s:6:\"string\";}}s:24:\"x-ms-discriminator-value\";s:11:\"AzureIaasVM\";}s:46:\"AzureSQLAGWorkloadContainerProtectionContainer\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Container
  for SQL workloads under SQL Availability Group.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AzureWorkloadContainer\";}}s:24:\"x-ms-discriminator-value\";s:22:\"SQLAGWorkLoadContainer\";}s:17:\"AzureSqlContainer\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Azure
  Sql workload-specific container.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProtectionContainer\";}}s:24:\"x-ms-discriminator-value\";s:17:\"AzureSqlContainer\";}s:21:\"AzureSqlProtectedItem\";O:8:\"stdClass\":5:{s:11:\"description\";s:40:\"Azure
  SQL workload-specific backup item.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"protectedItemDataId\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Internal
  ID of a backup item. Used by Azure SQL Backup engine to contact Recovery Services.\";s:4:\"type\";s:6:\"string\";}s:15:\"protectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Backup
  state of the backed up item.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:9:\"IRPending\";i:2;s:9:\"Protected\";i:3;s:15:\"ProtectionError\";i:4;s:17:\"ProtectionStopped\";i:5;s:16:\"ProtectionPaused\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"ProtectedItemState\";s:13:\"modelAsString\";b:1;}}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/AzureSqlProtectedItemExtendedInfo\";s:11:\"description\";s:44:\"Additional
  information for this backup item.\";}}s:24:\"x-ms-discriminator-value\";s:31:\"Microsoft.Sql/servers/databases\";}s:33:\"AzureSqlProtectedItemExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Additional
  information on Azure Sql specific protected item.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"oldestRecoveryPoint\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:62:\"The
  oldest backup copy available for this item in the service.\";s:4:\"type\";s:6:\"string\";}s:18:\"recoveryPointCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:67:\"Number
  of available backup copies associated with this backup item.\";s:4:\"type\";s:7:\"integer\";}s:11:\"policyState\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"State
  of the backup policy associated with this backup item.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"AzureSqlProtectionPolicy\";O:8:\"stdClass\":5:{s:11:\"description\";s:42:\"Azure
  SQL workload-specific backup policy.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionPolicy\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"retentionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";s:11:\"description\";s:25:\"Retention
  policy details.\";}}s:24:\"x-ms-discriminator-value\";s:8:\"AzureSql\";}s:21:\"AzureStorageContainer\";O:8:\"stdClass\":5:{s:11:\"description\";s:50:\"Azure
  Storage Account workload-specific container.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProtectionContainer\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"sourceResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Fully
  qualified ARM url.\";s:4:\"type\";s:6:\"string\";}s:21:\"storageAccountVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Storage
  account version.\";s:4:\"type\";s:6:\"string\";}s:13:\"resourceGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Resource
  group name of Recovery Services Vault.\";s:4:\"type\";s:6:\"string\";}s:18:\"protectedItemCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"Number
  of items backed up in this container.\";s:4:\"type\";s:7:\"integer\";}}s:24:\"x-ms-discriminator-value\";s:16:\"StorageContainer\";}s:32:\"AzureStorageProtectableContainer\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Azure
  Storage-specific protectable containers\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProtectableContainer\";}}s:24:\"x-ms-discriminator-value\";s:16:\"StorageContainer\";}s:39:\"AzureVMAppContainerProtectableContainer\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Azure
  workload-specific container\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProtectableContainer\";}}s:24:\"x-ms-discriminator-value\";s:14:\"VMAppContainer\";}s:38:\"AzureVMAppContainerProtectionContainer\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Container
  for SQL workloads under Azure Virtual Machines.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AzureWorkloadContainer\";}}s:24:\"x-ms-discriminator-value\";s:14:\"VMAppContainer\";}s:19:\"AzureVmWorkloadItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Azure
  VM workload-specific workload item.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/WorkloadItem\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"parentName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Name
  for instance or AG\";s:4:\"type\";s:6:\"string\";}s:10:\"serverName\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Host/Cluster
  Name for instance or AG\";s:4:\"type\";s:6:\"string\";}s:17:\"isAutoProtectable\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Indicates
  if workload item is auto-protectable\";s:4:\"type\";s:7:\"boolean\";}s:20:\"subinquireditemcount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:52:\"For
  instance or AG, indicates number of DB's present\";s:4:\"type\";s:7:\"integer\";}s:20:\"subWorkloadItemCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:60:\"For
  instance or AG, indicates number of DB's to be protected\";s:4:\"type\";s:7:\"integer\";}}}s:30:\"AzureVmWorkloadProtectableItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Azure
  VM workload-specific protectable item.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/WorkloadProtectableItem\";}}s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"parentName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Name
  for instance or AG\";s:4:\"type\";s:6:\"string\";}s:16:\"parentUniqueName\";O:8:\"stdClass\":2:{s:11:\"description\";s:183:\"Parent
  Unique Name is added to provide the service formatted URI Name of the Parent \r\n
  \           Only Applicable for data bases where the parent would be either Instance
  or a SQL AG.\";s:4:\"type\";s:6:\"string\";}s:10:\"serverName\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Host/Cluster
  Name for instance or AG\";s:4:\"type\";s:6:\"string\";}s:17:\"isAutoProtectable\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Indicates
  if protectable item is auto-protectable\";s:4:\"type\";s:7:\"boolean\";}s:20:\"subinquireditemcount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:52:\"For
  instance or AG, indicates number of DB's present\";s:4:\"type\";s:7:\"integer\";}s:23:\"subprotectableitemcount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:60:\"For
  instance or AG, indicates number of DB's to be protected\";s:4:\"type\";s:7:\"integer\";}s:19:\"prebackupvalidation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PreBackupValidation\";s:11:\"description\";s:45:\"Pre-backup
  validation for protectable objects\";}}}s:40:\"AzureVmWorkloadProtectedItemExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Additional
  information on Azure Workload for SQL specific backup item.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"oldestRecoveryPoint\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:54:\"The
  oldest backup copy available for this backup item.\";s:4:\"type\";s:6:\"string\";}s:18:\"recoveryPointCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:55:\"Number
  of backup copies available for this backup item.\";s:4:\"type\";s:7:\"integer\";}s:11:\"policyState\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Indicates
  consistency of policy object and policy applied to this backup item.\";s:4:\"type\";s:6:\"string\";}}}s:31:\"AzureVmWorkloadProtectionPolicy\";O:8:\"stdClass\":5:{s:11:\"description\";s:51:\"Azure
  VM (Mercury) workload-specific backup policy.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionPolicy\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"workLoadType\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Type
  of workload for the backup management\";s:4:\"type\";s:6:\"string\";}s:8:\"settings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Settings\";s:11:\"description\";s:41:\"Common
  settings for the backup management\";}s:19:\"subProtectionPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"List
  of sub-protection policies which includes schedule and retention\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SubProtectionPolicy\";}}}s:24:\"x-ms-discriminator-value\";s:13:\"AzureWorkload\";}s:50:\"AzureVmWorkloadSQLAvailabilityGroupProtectableItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Azure
  VM workload-specific protectable item representing SQL Availability Group.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/AzureVmWorkloadProtectableItem\";}}s:24:\"x-ms-discriminator-value\";s:29:\"SQLAvailabilityGroupContainer\";}s:41:\"AzureVmWorkloadSQLDatabaseProtectableItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"Azure
  VM workload-specific protectable item representing SQL Database.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/AzureVmWorkloadProtectableItem\";}}s:24:\"x-ms-discriminator-value\";s:11:\"SQLDataBase\";}s:39:\"AzureVmWorkloadSQLDatabaseProtectedItem\";O:8:\"stdClass\":5:{s:11:\"description\";s:68:\"Azure
  VM workload-specific protected item representing SQL Database.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Friendly
  name of the DB represented by this backup item.\";s:4:\"type\";s:6:\"string\";}s:10:\"serverName\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Host/Cluster
  Name for instance or AG\";s:4:\"type\";s:6:\"string\";}s:10:\"parentName\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Parent
  name of the DB such as Instance or Availability Group.\";s:4:\"type\";s:6:\"string\";}s:10:\"parentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Parent
  type of DB, SQLAG or StandAlone\";s:4:\"type\";s:6:\"string\";}s:16:\"protectionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Backup
  status of this backup item.\";s:4:\"type\";s:6:\"string\";}s:15:\"protectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Backup
  state of this backup item.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:9:\"IRPending\";i:2;s:9:\"Protected\";i:3;s:15:\"ProtectionError\";i:4;s:17:\"ProtectionStopped\";i:5;s:16:\"ProtectionPaused\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"ProtectionState\";s:13:\"modelAsString\";b:1;}}s:16:\"lastBackupStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Last
  backup operation status. Possible values: Healthy, Unhealthy.\";s:4:\"enum\";a:4:{i:0;s:7:\"Invalid\";i:1;s:7:\"Healthy\";i:2;s:9:\"Unhealthy\";i:3;s:9:\"IRPending\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"LastBackupStatus\";s:13:\"modelAsString\";b:1;}}s:14:\"lastBackupTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:59:\"Timestamp
  of the last backup operation on this backup item.\";s:4:\"type\";s:6:\"string\";}s:21:\"lastBackupErrorDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ErrorDetail\";s:11:\"description\";s:28:\"Error
  details in last backup\";}s:25:\"protectedItemDataSourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Data
  ID of the protected item.\";s:4:\"type\";s:6:\"string\";}s:25:\"protectedItemHealthStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Health
  status of the backup item, evaluated based on last heartbeat received\";s:4:\"enum\";a:5:{i:0;s:7:\"Invalid\";i:1;s:7:\"Healthy\";i:2;s:9:\"Unhealthy\";i:3;s:12:\"NotReachable\";i:4;s:9:\"IRPending\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"ProtectedItemHealthStatus\";s:13:\"modelAsString\";b:1;}}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:54:\"#/definitions/AzureVmWorkloadProtectedItemExtendedInfo\";s:11:\"description\";s:44:\"Additional
  information for this backup item.\";}}s:24:\"x-ms-discriminator-value\";s:26:\"AzureVmWorkloadSQLDatabase\";}s:38:\"AzureVmWorkloadSQLDatabaseWorkloadItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"Azure
  VM workload-specific workload item representing SQL Database.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AzureVmWorkloadItem\";}}s:24:\"x-ms-discriminator-value\";s:11:\"SQLDataBase\";}s:41:\"AzureVmWorkloadSQLInstanceProtectableItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"Azure
  VM workload-specific protectable item representing SQL Instance.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/AzureVmWorkloadProtectableItem\";}}s:24:\"x-ms-discriminator-value\";s:11:\"SQLInstance\";}s:38:\"AzureVmWorkloadSQLInstanceWorkloadItem\";O:8:\"stdClass\":5:{s:11:\"description\";s:67:\"Azure
  VM workload-specific workload item representing SQL Instance.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AzureVmWorkloadItem\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"dataDirectoryPaths\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Data
  Directory Paths for default directories\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/SQLDataDirectory\";}}}s:24:\"x-ms-discriminator-value\";s:11:\"SQLInstance\";}s:26:\"AzureWorkloadBackupRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:47:\"AzureWorkload
  workload-specific backup request.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BackupRequest\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"backupType\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Type
  of backup, viz. Full, Differential, Log or CopyOnlyFull\";s:4:\"enum\";a:5:{i:0;s:7:\"Invalid\";i:1;s:4:\"Full\";i:2;s:12:\"Differential\";i:3;s:3:\"Log\";i:4;s:12:\"CopyOnlyFull\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"backupType\";s:13:\"modelAsString\";b:1;}}s:17:\"enableCompression\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Bool
  for Compression setting\";s:4:\"type\";s:7:\"boolean\";}s:28:\"recoveryPointExpiryTimeInUTC\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:55:\"Backup
  copy will expire after the time specified (UTC).\";s:4:\"type\";s:6:\"string\";}}s:24:\"x-ms-discriminator-value\";s:26:\"AzureWorkloadBackupRequest\";}s:22:\"AzureWorkloadContainer\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Container
  for the workloads running inside Azure Compute or Classic Compute.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProtectionContainer\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"sourceResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"ARM
  ID of the virtual machine represented by this Azure Workload Container\";s:4:\"type\";s:6:\"string\";}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:43:\"Time
  stamp when this container was updated.\";s:4:\"type\";s:6:\"string\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/AzureWorkloadContainerExtendedInfo\";s:11:\"description\";s:43:\"Additional
  details of a workload container.\";}}}s:34:\"AzureWorkloadContainerExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Extended
  information of the container.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"hostServerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Host
  Os Name in case of Stand Alone and \r\n            Cluster Name in case of distributed
  container.\";s:4:\"type\";s:6:\"string\";}s:11:\"inquiryInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/InquiryInfo\";s:11:\"description\";s:33:\"Inquiry
  Status for the container.\";}s:9:\"nodesList\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"List
  of the nodes in case of distributed container.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DistributedNodesInfo\";}}}}s:26:\"AzureWorkloadRecoveryPoint\";O:8:\"stdClass\":5:{s:11:\"description\";s:81:\"Workload
  specific recoverypoint, specifcally encaspulates full/diff recoverypoint\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RecoveryPoint\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"recoveryPointTimeInUTC\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:43:\"UTC
  time at which recoverypoint was created\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Type
  of restore point\";s:4:\"enum\";a:4:{i:0;s:7:\"Invalid\";i:1;s:4:\"Full\";i:2;s:3:\"Log\";i:3;s:12:\"Differential\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"RestorePointType\";s:13:\"modelAsString\";b:1;}}}s:24:\"x-ms-discriminator-value\";s:26:\"AzureWorkloadRecoveryPoint\";}s:27:\"AzureWorkloadRestoreRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:31:\"AzureWorkload-specific
  restore.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RestoreRequest\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"recoveryType\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"OLR/ALR,
  RestoreDisks is invalid option\";s:4:\"enum\";a:4:{i:0;s:7:\"Invalid\";i:1;s:16:\"OriginalLocation\";i:2;s:17:\"AlternateLocation\";i:3;s:12:\"RestoreDisks\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"RecoveryType\";s:13:\"modelAsString\";b:1;}}s:16:\"sourceResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Fully
  qualified ARM ID of the VM on which workload that was running is being recovered.\";s:4:\"type\";s:6:\"string\";}s:11:\"propertyBag\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Workload
  specific property bag.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"x-ms-discriminator-value\";s:27:\"AzureWorkloadRestoreRequest\";}s:40:\"AzureWorkloadSQLPointInTimeRecoveryPoint\";O:8:\"stdClass\":5:{s:11:\"description\";s:38:\"Recovery
  point specific to PointInTime\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/AzureWorkloadSQLRecoveryPoint\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"timeRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of log ranges\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PointInTimeRange\";}}}s:24:\"x-ms-discriminator-value\";s:40:\"AzureWorkloadSQLPointInTimeRecoveryPoint\";}s:41:\"AzureWorkloadSQLPointInTimeRestoreRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:77:\"AzureWorkload
  SQL -specific restore. Specifically for PointInTime/Log restore\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/AzureWorkloadSQLRestoreRequest\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"pointInTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:17:\"PointInTime
  value\";s:4:\"type\";s:6:\"string\";}}s:24:\"x-ms-discriminator-value\";s:41:\"AzureWorkloadSQLPointInTimeRestoreRequest\";}s:29:\"AzureWorkloadSQLRecoveryPoint\";O:8:\"stdClass\":5:{s:11:\"description\";s:100:\"SQL
  specific recoverypoint, specifcally encaspulates full/diff recoverypoint alongwith
  extended info\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/AzureWorkloadRecoveryPoint\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:55:\"#/definitions/AzureWorkloadSQLRecoveryPointExtendedInfo\";s:11:\"description\";s:259:\"Extended
  Info that provides data directory details. Will be populated in two cases:\r\n            When
  a specific recovery point is accessed using GetRecoveryPoint\r\n            Or when
  ListRecoveryPoints is called for Log RP only with ExtendedInfo query filter\";}}s:24:\"x-ms-discriminator-value\";s:29:\"AzureWorkloadSQLRecoveryPoint\";}s:41:\"AzureWorkloadSQLRecoveryPointExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Extended
  info class details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"dataDirectoryTimeInUTC\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"UTC
  time at which data directory info was captured\";s:4:\"type\";s:6:\"string\";}s:18:\"dataDirectoryPaths\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"List
  of data directory paths during restore operation.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/SQLDataDirectory\";}}}}s:30:\"AzureWorkloadSQLRestoreRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:71:\"AzureWorkload
  SQL -specific restore. Specifically for full/diff restore\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/AzureWorkloadRestoreRequest\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:32:\"shouldUseAlternateTargetLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Default
  option set to true. If this is set to false, alternate data directory must be provided\";s:4:\"type\";s:7:\"boolean\";}s:16:\"isNonRecoverable\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"SQL
  specific property where user can chose to set no-recovery when restore operation
  is tried\";s:4:\"type\";s:7:\"boolean\";}s:10:\"targetInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TargetRestoreInfo\";s:11:\"description\";s:26:\"Details
  of target database\";}s:23:\"alternateDirectoryPaths\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Data
  directory details\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/SQLDataDirectoryMapping\";}}}s:24:\"x-ms-discriminator-value\";s:30:\"AzureWorkloadSQLRestoreRequest\";}s:16:\"BackupEngineBase\";O:8:\"stdClass\":4:{s:11:\"description\";s:90:\"The
  base backup engine class. All workload specific backup engines derive from this
  class.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Friendly
  name of the backup engine.\";s:4:\"type\";s:6:\"string\";}s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Type
  of backup management for the backup engine.\";s:4:\"enum\";a:9:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";i:6;s:12:\"AzureStorage\";i:7;s:13:\"AzureWorkload\";i:8;s:13:\"DefaultBackup\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"BackupManagementType\";s:13:\"modelAsString\";b:1;}}s:18:\"registrationStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Registration
  status of the backup engine with the Recovery Services Vault.\";s:4:\"type\";s:6:\"string\";}s:17:\"backupEngineState\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Status
  of the backup engine with the Recovery Services Vault. = {Active/Deleting/DeleteFailed}\";s:4:\"type\";s:6:\"string\";}s:12:\"healthStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Backup
  status of the backup engine.\";s:4:\"type\";s:6:\"string\";}s:16:\"backupEngineType\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Type
  of the backup engine.\";s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:15:\"DpmBackupEngine\";i:2;s:23:\"AzureBackupServerEngine\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"BackupEngineType\";s:13:\"modelAsString\";b:1;}}s:13:\"canReRegister\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Flag
  indicating if the backup engine be registered, once already registered.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"backupEngineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"ID
  of the backup engine.\";s:4:\"type\";s:6:\"string\";}s:10:\"dpmVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Backup
  engine version\";s:4:\"type\";s:6:\"string\";}s:23:\"azureBackupAgentVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Backup
  agent version\";s:4:\"type\";s:6:\"string\";}s:34:\"isAzureBackupAgentUpgradeAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"To
  check if backup agent upgrade available\";s:4:\"type\";s:7:\"boolean\";}s:21:\"isDpmUpgradeAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"To
  check if backup engine upgrade available\";s:4:\"type\";s:7:\"boolean\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/BackupEngineExtendedInfo\";s:11:\"description\";s:33:\"Extended
  info of the backupengine\";}}s:13:\"discriminator\";s:16:\"backupEngineType\";}s:24:\"BackupEngineBaseResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"The
  base backup engine class. All workload specific backup engines derive from this
  class.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BackupEngineBase\";s:11:\"description\";s:35:\"BackupEngineBaseResource
  properties\";}}}s:28:\"BackupEngineBaseResourceList\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"List
  of BackupEngineBase resources\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of resources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/BackupEngineBaseResource\";}}}}s:24:\"BackupEngineExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Additional
  information on backup engine.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"databaseName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Database
  name of backup engine.\";s:4:\"type\";s:6:\"string\";}s:19:\"protectedItemsCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:47:\"Number
  of protected items in the backup engine.\";s:4:\"type\";s:7:\"integer\";}s:21:\"protectedServersCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:49:\"Number
  of protected servers in the backup engine.\";s:4:\"type\";s:7:\"integer\";}s:9:\"diskCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:37:\"Number
  of disks in the backup engine.\";s:4:\"type\";s:7:\"integer\";}s:13:\"usedDiskSpace\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:36:\"Diskspace
  used in the backup engine.\";s:4:\"type\";s:6:\"number\";}s:18:\"availableDiskSpace\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:51:\"Diskspace
  currently available in the backup engine.\";s:4:\"type\";s:6:\"number\";}s:11:\"refreshedAt\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:39:\"Last
  refresh time in the backup engine.\";s:4:\"type\";s:6:\"string\";}s:23:\"azureProtectedInstances\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:41:\"Protected
  instances in the backup engine.\";s:4:\"type\";s:7:\"integer\";}}}s:13:\"BackupRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:93:\"Base
  class for backup request. Workload-specific backup requests are derived from this
  class.\";s:8:\"required\";a:1:{i:0;s:10:\"objectType\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"This
  property will be used as the discriminator for deciding the specific types in the
  polymorhpic chain of types.\";s:4:\"type\";s:6:\"string\";}}s:13:\"discriminator\";s:10:\"objectType\";}s:21:\"BackupRequestResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Base
  class for backup request. Workload-specific backup requests are derived from this
  class.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BackupRequest\";s:11:\"description\";s:32:\"BackupRequestResource
  properties\";}}}s:20:\"BackupResourceConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  resource storage details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"storageModelType\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Storage
[...]
