---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:29:\"The Container
  Service Client.\";s:5:\"title\";s:22:\"ContainerServiceClient\";s:7:\"version\";s:10:\"2017-08-31\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:182:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerservices/resource-manager/Microsoft.ContainerService/stable/2017-08-31/managedClusters.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:33:\"containerservices-managedClusters\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:39:\"azure_containerservices_managedclusters\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/managedClusters:
    get:
      description: Gets a list of managed clusters in the specified subscription.
        The operation returns properties of each managed cluster.
      operationId: ManagedClusters_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ManagedClusterListResult'
      summary: Gets a list of managed clusters in the specified subscription.
      tags:
      - ManagedClusters
      x-ms-examples:
        List Managed Clusters:
          parameters:
            api-version: "2017-08-31"
            subscriptionId: subid1
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid1/providers/Microsoft.ContainerService/managedClusters
                  location: location1
                  name: mycluster1
                  properties:
                    agentPoolProfiles:
                    - count: 1
                      dnsPrefix: agentpool1dnsPrefix
                      fqdn: agentpool1fqdn
                      name: agentpool1
                      osType: Linux
                      ports:
                      - 1
                      storageProfile: ManagedDisks
                      vmSize: Standard_D2_v2
                    dnsPrefix: dnsprefix1
                    fqdn: dnsprefix1-123456.abc.location1.azmk8s.io
                    kubernetesVersion: 1.7.7
                    linuxProfile:
                      adminUsername: azureuser
                      ssh:
                        publicKeys:
                        - keyData: keydata
                    provisioningState: Succeeded
                    servicePrincipalProfile:
                      clientId: clientid
                      keyVaultSecretRef: ~
                      secret: secret
                  tags: managed-cluster
                  type: Microsoft.ContainerService/ManagedClusters
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters:
    get:
      description: Lists managed clusters in the specified subscription and resource
        group. The operation returns properties of each managed cluster.
      operationId: ManagedClusters_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ManagedClusterListResult'
      summary: Lists managed clusters in the specified subscription and resource group.
      tags:
      - ManagedClusters
      x-ms-examples:
        Get Managed Clusters by Resource Group:
          parameters:
            api-version: "2017-08-31"
            resourceGroupName: rg1
            subscriptionId: subid1
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.ContainerService/managedClusters
                  location: location1
                  name: mycluster1
                  properties:
                    agentPoolProfiles:
                    - count: 1
                      dnsPrefix: agentpool1dnsPrefix
                      fqdn: agentpool1fqdn
                      name: agentpool1
                      osType: Linux
                      ports:
                      - 1
                      storageProfile: ManagedDisks
                      vmSize: Standard_D2_v2
                    dnsPrefix: dnsprefix1
                    fqdn: dnsprefix1-123456.abc.location1.azmk8s.io
                    kubernetesVersion: 1.7.7
                    linuxProfile:
                      adminUsername: azureuser
                      ssh:
                        publicKeys:
                        - keyData: keydata
                    provisioningState: Succeeded
                    servicePrincipalProfile:
                      clientId: clientid
                      keyVaultSecretRef: ~
                      secret: secret
                  tags: managed-cluster
                  type: Microsoft.ContainerService/ManagedClusters
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}
  : delete:
      description: Deletes the managed cluster with a specified resource group and
        name.
      operationId: ManagedClusters_Delete
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the managed cluster resource.
        in: path
        name: resourceName
        required: true
        type: string
      responses:
        202:
          description: Accepted
        204:
          description: NoContent
      summary: Deletes a managed cluster.
      tags:
      - ManagedClusters
      x-ms-examples:
        Delete Managed Cluster:
          parameters:
            api-version: "2017-08-31"
            resourceGroupName: rg1
            resourceName: clustername1
            subscriptionId: subid1
          responses:
            202: []
            204: []
      x-ms-long-running-operation: true
    get:
      description: Gets the details of the managed cluster with a specified resource
        group and name.
      operationId: ManagedClusters_Get
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the managed cluster resource.
        in: path
        name: resourceName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ManagedCluster'
      summary: Gets a managed cluster.
      tags:
      - ManagedClusters
      x-ms-examples:
        Get Managed Cluster:
          parameters:
            api-version: "2017-08-31"
            resourceGroupName: rg1
            resourceName: clustername1
            subscriptionId: subid1
          responses:
            200:
              body:
                id: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/managedClusters/clustername1
                location: location1
                name: mycluster1
                properties:
                  agentPoolProfiles:
                  - count: 1
                    dnsPrefix: agentpool1dnsPrefix
                    fqdn: agentpool1fqdn
                    name: agentpool1
                    osType: Linux
                    ports:
                    - 1
                    storageProfile: ManagedDisks
                    vmSize: Standard_D2_v2
                  dnsPrefix: dnsprefix1
                  fqdn: dnsprefix1-123456.abc.location1.azmk8s.io
                  kubernetesVersion: 1.7.7
                  linuxProfile:
                    adminUsername: azureuser
                    ssh:
                      publicKeys:
                      - keyData: keydata
                  provisioningState: Succeeded
                  servicePrincipalProfile:
                    clientId: clientid
                    keyVaultSecretRef: ~
                    secret: secret
                tags: managed-cluster
                type: Microsoft.ContainerService/ManagedClusters
    put:
      description: Creates or updates a managed cluster with the specified configuration
        for agents and Kubernetes version.
      operationId: ManagedClusters_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the managed cluster resource.
        in: path
        name: resourceName
        required: true
        type: string
      - description: Parameters supplied to the Create or Update a Managed Cluster
          operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ManagedCluster'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ManagedCluster'
        201:
          description: Created
          schema:
            $ref: '#/definitions/ManagedCluster'
      summary: Creates or updates a managed cluster.
      tags:
      - ManagedClusters
      x-ms-examples:
        Create/Update Managed Cluster:
          parameters:
            api-version: "2017-08-31"
            parameters:
              location: location1
              properties:
                agentPoolProfiles:
                - count: 1
                  name: agentpool1
                  vmSize: Standard_D2_v2
                dnsPrefix: dnsprefix1
                kubernetesVersion: 1.7.7
            resourceGroupName: rg1
            resourceName: clustername1
            subscriptionId: subid1
          responses:
            200:
              body:
                id: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/managedClusters/clustername1
                location: location1
                name: mycluster1
                properties:
                  agentPoolProfiles:
                  - count: 1
                    dnsPrefix: agentpool1dnsPrefix
                    fqdn: agentpool1fqdn
                    name: agentpool1
                    osType: Linux
                    ports:
                    - 1
                    storageProfile: ManagedDisks
                    vmSize: Standard_D2_v2
                  dnsPrefix: dnsprefix1
                  fqdn: dnsprefix1-123456.abc.location1.azmk8s.io
                  kubernetesVersion: 1.7.7
                  linuxProfile:
                    adminUsername: azureuser
                    ssh:
                      publicKeys:
                      - keyData: keydata
                  provisioningState: Succeeded
                  servicePrincipalProfile:
                    clientId: clientid
                    keyVaultSecretRef: ~
                    secret: secret
                tags: managedcluster
                type: Microsoft.ContainerService/ManagedClusters
            201:
              body:
                id: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/managedClusters/clustername1
                location: location1
                name: mycluster1
                properties:
                  agentPoolProfiles:
                  - count: 1
                    dnsPrefix: agentpool1dnsPrefix
                    fqdn: agentpool1fqdn
                    name: agentpool1
                    osType: Linux
                    ports:
                    - 1
                    storageProfile: ManagedDisks
                    vmSize: Standard_D2_v2
                  dnsPrefix: dnsprefix1
                  fqdn: dnsprefix1-123456.abc.location1.azmk8s.io
                  kubernetesVersion: 1.7.7
                  linuxProfile:
                    adminUsername: azureuser
                    ssh:
                      publicKeys:
                      - keyData: keydata
                  provisioningState: Succeeded
                  servicePrincipalProfile:
                    clientId: clientid
                    keyVaultSecretRef: ~
                    secret: secret
                tags: managedcluster
                type: Microsoft.ContainerService/ManagedClusters
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/accessProfiles/{roleName}
  : get:
      deprecated: true
      description: Use ManagedClusters_GetAccessProfile instead.
      operationId: ManagedClusters_GetAccessProfiles
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the managed cluster resource.
        in: path
        name: resourceName
        required: true
        type: string
      - description: The name of the role for managed cluster accessProfile resource.
        in: path
        name: roleName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ManagedClusterAccessProfile'
      summary: Gets access profile of a managed cluster.
      tags:
      - ManagedClusters
      x-ms-examples:
        Get Managed Cluster:
          parameters:
            api-version: "2017-08-31"
            resourceGroupName: rg1
            resourceName: clustername1
            roleName: clusterUser
            subscriptionId: subid1
          responses:
            200:
              body:
                id: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/managedClusters/clustername1/accessProfiles/clusterUser
                location: location1
                name: clusterUser
                properties:
                  kubeConfig: kubeConfig1
                type: Microsoft.ContainerService/ManagedClusters/AccessProfiles
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/accessProfiles/{roleName}/listCredential
  : post:
      description: Gets the accessProfile for the specified role name of the managed
        cluster with a specified resource group and name.
      operationId: ManagedClusters_GetAccessProfile
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the managed cluster resource.
        in: path
        name: resourceName
        required: true
        type: string
      - description: The name of the role for managed cluster accessProfile resource.
        in: path
        name: roleName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ManagedClusterAccessProfile'
      summary: Gets an access profile of a managed cluster.
      tags:
      - ManagedClusters
      x-ms-examples:
        Get Managed Cluster:
          parameters:
            api-version: "2017-08-31"
            resourceGroupName: rg1
            resourceName: clustername1
            roleName: clusterUser
            subscriptionId: subid1
          responses:
            200:
              body:
                id: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/managedClusters/clustername1/accessProfiles/clusterUser
                location: location1
                name: clusterUser
                properties:
                  kubeConfig: kubeConfig1
                type: Microsoft.ContainerService/ManagedClusters/AccessProfiles
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/upgradeProfiles/default
  : get:
      description: Gets the details of the upgrade profile for a managed cluster with
        a specified resource group and name.
      operationId: ManagedClusters_GetUpgradeProfile
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the managed cluster resource.
        in: path
        name: resourceName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ManagedClusterUpgradeProfile'
      summary: Gets upgrade profile for a managed cluster.
      tags:
      - ManagedClusters
      x-ms-examples:
        Get Upgrade Profile for Managed Cluster:
          parameters:
            api-version: "2017-08-31"
            resourceGroupName: rg1
            resourceName: clustername1
            subscriptionId: subid1
          responses:
            200:
              body:
                id: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/managedClusters/clustername1/upgradeprofiles/default
                name: default
                properties:
                  agentPoolProfiles:
                  - kubernetesVersion: 1.7.7
                    name: agent
                    osType: Linux
                    upgrades:
                    - 1.8.1
                  controlPlaneProfile:
                    kubernetesVersion: 1.7.7
                    name: master
                    osType: Linux
                    upgrades:
                    - 1.8.1
                type: Microsoft.ContainerService/managedClusters/upgradeprofiles
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":25:{s:13:\"AccessProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Profile
  for enabling a user to access a managed cluster.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"kubeConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Base64-encoded
  Kubernetes configuration file.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ContainerServiceAgentPoolProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Profile
  for the container service agent pool.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:5:\"count\";O:8:\"stdClass\":6:{s:7:\"default\";i:1;s:11:\"description\";s:135:\"Number
  of agents (VMs) to host docker containers. Allowed values must be in the range of
  1 to 100 (inclusive). The default value is 1. \";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:9:\"dnsPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"DNS
  prefix to be used to create the FQDN for the agent pool.\";s:4:\"type\";s:6:\"string\";}s:4:\"fqdn\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"FDQN
  for the agent pool.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Unique
  name of the agent pool profile in the context of the subscription and resource group.\";s:4:\"type\";s:6:\"string\";}s:12:\"osDiskSizeGB\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ContainerServiceOSDisk\";s:11:\"description\";s:190:\"OS
  Disk Size in GB to be used to specify the disk size for every machine in this master/agent
  pool. If you specify 0, it will apply the default osDisk size according to the vmSize
  specified.\";}s:6:\"osType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/OSType\";s:11:\"description\";s:86:\"OsType
  to be used to specify os type. Choose from Linux and Windows. Default to Linux.\";}s:5:\"ports\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"Ports
  number array used to expose on this agent pool. The default opened ports are different
  based on your choice of orchestrator.\";s:5:\"items\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:65535;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:14:\"storageProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ContainerServiceStorageProfile\";s:11:\"description\";s:170:\"Storage
  profile specifies what kind of storage used. Choose from StorageAccount and ManagedDisks.
  Leave it empty, we will choose for you based on the orchestrator choice.\";}s:6:\"vmSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ContainerServiceVMSize\";s:11:\"description\";s:18:\"Size
  of agent VMs.\";}s:12:\"vnetSubnetID\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ContainerServiceVnetSubnetID\";s:11:\"description\";s:181:\"VNet
  SubnetID specifies the vnet's subnet identifier. If you specify either master VNet
  Subnet, or agent VNet Subnet, you need to specify both. And they have to be in the
  same VNet.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:6:\"vmSize\";}}s:34:\"ContainerServiceDiagnosticsProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Profile
  for diagnostics on the container service cluster.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"vmDiagnostics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/ContainerServiceVMDiagnostics\";s:11:\"description\";s:53:\"Profile
  for diagnostics on the container service VMs.\";}}s:8:\"required\";a:1:{i:0;s:13:\"vmDiagnostics\";}}s:28:\"ContainerServiceLinuxProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Profile
  for Linux VMs in the container service cluster.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"adminUsername\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  administrator username to use for Linux VMs.\";s:7:\"pattern\";s:18:\"^[a-z][a-z0-9_-]*$\";s:4:\"type\";s:6:\"string\";}s:3:\"ssh\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/ContainerServiceSshConfiguration\";s:11:\"description\";s:55:\"SSH
  configuration for Linux-based VMs running on Azure.\";}}s:8:\"required\";a:2:{i:0;s:13:\"adminUsername\";i:1;s:3:\"ssh\";}}s:29:\"ContainerServiceMasterProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Profile
  for the container service master.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"count\";O:8:\"stdClass\":6:{s:7:\"default\";i:1;s:11:\"description\";s:113:\"Number
  of masters (VMs) in the container service cluster. Allowed values are 1, 3, and
  5. The default value is 1.\";s:4:\"enum\";a:3:{i:0;i:1;i:1;i:3;i:2;i:5;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:5:\"Count\";}}s:9:\"dnsPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"DNS
  prefix to be used to create the FQDN for the master pool.\";s:4:\"type\";s:6:\"string\";}s:24:\"firstConsecutiveStaticIP\";O:8:\"stdClass\":3:{s:7:\"default\";s:12:\"10.240.255.5\";s:11:\"description\";s:72:\"FirstConsecutiveStaticIP
  used to specify the first static ip of masters.\";s:4:\"type\";s:6:\"string\";}s:4:\"fqdn\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"FDQN
  for the master pool.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"osDiskSizeGB\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ContainerServiceOSDisk\";s:11:\"description\";s:190:\"OS
  Disk Size in GB to be used to specify the disk size for every machine in this master/agent
  pool. If you specify 0, it will apply the default osDisk size according to the vmSize
  specified.\";}s:14:\"storageProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ContainerServiceStorageProfile\";s:11:\"description\";s:170:\"Storage
  profile specifies what kind of storage used. Choose from StorageAccount and ManagedDisks.
  Leave it empty, we will choose for you based on the orchestrator choice.\";}s:6:\"vmSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ContainerServiceVMSize\";s:11:\"description\";s:18:\"Size
  of agent VMs.\";}s:12:\"vnetSubnetID\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ContainerServiceVnetSubnetID\";s:11:\"description\";s:181:\"VNet
  SubnetID specifies the vnet's subnet identifier. If you specify either master VNet
  Subnet, or agent VNet Subnet, you need to specify both. And they have to be in the
  same VNet.\";}}s:8:\"required\";a:2:{i:0;s:9:\"dnsPrefix\";i:1;s:6:\"vmSize\";}}s:22:\"ContainerServiceOSDisk\";O:8:\"stdClass\":5:{s:11:\"description\";s:190:\"OS
  Disk Size in GB to be used to specify the disk size for every machine in this master/agent
  pool. If you specify 0, it will apply the default osDisk size according to the vmSize
  specified.\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:1023;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:39:\"ContainerServiceServicePrincipalProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:152:\"Information
  about a service principal identity for the cluster to use for manipulating Azure
  APIs. Either secret or keyVaultSecretRef must be specified.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  ID for the service principal.\";s:4:\"type\";s:6:\"string\";}s:17:\"keyVaultSecretRef\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/KeyVaultSecretRef\";s:11:\"description\";s:48:\"Reference
  to a secret stored in Azure Key Vault.\";}s:6:\"secret\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  secret password associated with the service principal in plain text.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"clientId\";}}s:32:\"ContainerServiceSshConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"SSH
  configuration for Linux-based VMs running on Azure.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"publicKeys\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"The
  list of SSH public keys used to authenticate with Linux-based VMs. Only expect one
  key specified.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ContainerServiceSshPublicKey\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:10:\"publicKeys\";}}s:28:\"ContainerServiceSshPublicKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Contains
  information about SSH certificate public key data.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"keyData\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Certificate
  public key used to authenticate with VMs through SSH. The certificate must be in
  PEM format with or without headers.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"keyData\";}}s:30:\"ContainerServiceStorageProfile\";O:8:\"stdClass\":4:{s:11:\"description\";s:170:\"Storage
  profile specifies what kind of storage used. Choose from StorageAccount and ManagedDisks.
  Leave it empty, we will choose for you based on the orchestrator choice.\";s:4:\"enum\";a:2:{i:0;s:14:\"StorageAccount\";i:1;s:12:\"ManagedDisks\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:35:\"ContainerServiceStorageProfileTypes\";}}s:29:\"ContainerServiceVMDiagnostics\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Profile
  for diagnostics on the container service VMs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Whether
  the VM diagnostic agent is provisioned on the VM.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"storageUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  URI of the storage account where diagnostics are stored.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"enabled\";}}s:22:\"ContainerServiceVMSize\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Size
  of agent VMs.\";s:4:\"enum\";a:174:{i:0;s:11:\"Standard_A1\";i:1;s:12:\"Standard_A10\";i:2;s:12:\"Standard_A11\";i:3;s:14:\"Standard_A1_v2\";i:4;s:11:\"Standard_A2\";i:5;s:14:\"Standard_A2_v2\";i:6;s:15:\"Standard_A2m_v2\";i:7;s:11:\"Standard_A3\";i:8;s:11:\"Standard_A4\";i:9;s:14:\"Standard_A4_v2\";i:10;s:15:\"Standard_A4m_v2\";i:11;s:11:\"Standard_A5\";i:12;s:11:\"Standard_A6\";i:13;s:11:\"Standard_A7\";i:14;s:11:\"Standard_A8\";i:15;s:14:\"Standard_A8_v2\";i:16;s:15:\"Standard_A8m_v2\";i:17;s:11:\"Standard_A9\";i:18;s:13:\"Standard_B2ms\";i:19;s:12:\"Standard_B2s\";i:20;s:13:\"Standard_B4ms\";i:21;s:13:\"Standard_B8ms\";i:22;s:11:\"Standard_D1\";i:23;s:12:\"Standard_D11\";i:24;s:15:\"Standard_D11_v2\";i:25;s:21:\"Standard_D11_v2_Promo\";i:26;s:12:\"Standard_D12\";i:27;s:15:\"Standard_D12_v2\";i:28;s:21:\"Standard_D12_v2_Promo\";i:29;s:12:\"Standard_D13\";i:30;s:15:\"Standard_D13_v2\";i:31;s:21:\"Standard_D13_v2_Promo\";i:32;s:12:\"Standard_D14\";i:33;s:15:\"Standard_D14_v2\";i:34;s:21:\"Standard_D14_v2_Promo\";i:35;s:15:\"Standard_D15_v2\";i:36;s:15:\"Standard_D16_v3\";i:37;s:16:\"Standard_D16s_v3\";i:38;s:14:\"Standard_D1_v2\";i:39;s:11:\"Standard_D2\";i:40;s:14:\"Standard_D2_v2\";i:41;s:20:\"Standard_D2_v2_Promo\";i:42;s:14:\"Standard_D2_v3\";i:43;s:15:\"Standard_D2s_v3\";i:44;s:11:\"Standard_D3\";i:45;s:15:\"Standard_D32_v3\";i:46;s:16:\"Standard_D32s_v3\";i:47;s:14:\"Standard_D3_v2\";i:48;s:20:\"Standard_D3_v2_Promo\";i:49;s:11:\"Standard_D4\";i:50;s:14:\"Standard_D4_v2\";i:51;s:20:\"Standard_D4_v2_Promo\";i:52;s:14:\"Standard_D4_v3\";i:53;s:15:\"Standard_D4s_v3\";i:54;s:14:\"Standard_D5_v2\";i:55;s:20:\"Standard_D5_v2_Promo\";i:56;s:15:\"Standard_D64_v3\";i:57;s:16:\"Standard_D64s_v3\";i:58;s:14:\"Standard_D8_v3\";i:59;s:15:\"Standard_D8s_v3\";i:60;s:12:\"Standard_DS1\";i:61;s:13:\"Standard_DS11\";i:62;s:16:\"Standard_DS11_v2\";i:63;s:22:\"Standard_DS11_v2_Promo\";i:64;s:13:\"Standard_DS12\";i:65;s:16:\"Standard_DS12_v2\";i:66;s:22:\"Standard_DS12_v2_Promo\";i:67;s:13:\"Standard_DS13\";i:68;s:18:\"Standard_DS13-2_v2\";i:69;s:18:\"Standard_DS13-4_v2\";i:70;s:16:\"Standard_DS13_v2\";i:71;s:22:\"Standard_DS13_v2_Promo\";i:72;s:13:\"Standard_DS14\";i:73;s:18:\"Standard_DS14-4_v2\";i:74;s:18:\"Standard_DS14-8_v2\";i:75;s:16:\"Standard_DS14_v2\";i:76;s:22:\"Standard_DS14_v2_Promo\";i:77;s:16:\"Standard_DS15_v2\";i:78;s:15:\"Standard_DS1_v2\";i:79;s:12:\"Standard_DS2\";i:80;s:15:\"Standard_DS2_v2\";i:81;s:21:\"Standard_DS2_v2_Promo\";i:82;s:12:\"Standard_DS3\";i:83;s:15:\"Standard_DS3_v2\";i:84;s:21:\"Standard_DS3_v2_Promo\";i:85;s:12:\"Standard_DS4\";i:86;s:15:\"Standard_DS4_v2\";i:87;s:21:\"Standard_DS4_v2_Promo\";i:88;s:15:\"Standard_DS5_v2\";i:89;s:21:\"Standard_DS5_v2_Promo\";i:90;s:15:\"Standard_E16_v3\";i:91;s:16:\"Standard_E16s_v3\";i:92;s:14:\"Standard_E2_v3\";i:93;s:15:\"Standard_E2s_v3\";i:94;s:19:\"Standard_E32-16s_v3\";i:95;s:18:\"Standard_E32-8s_v3\";i:96;s:15:\"Standard_E32_v3\";i:97;s:16:\"Standard_E32s_v3\";i:98;s:14:\"Standard_E4_v3\";i:99;s:15:\"Standard_E4s_v3\";i:100;s:19:\"Standard_E64-16s_v3\";i:101;s:19:\"Standard_E64-32s_v3\";i:102;s:15:\"Standard_E64_v3\";i:103;s:16:\"Standard_E64s_v3\";i:104;s:14:\"Standard_E8_v3\";i:105;s:15:\"Standard_E8s_v3\";i:106;s:11:\"Standard_F1\";i:107;s:12:\"Standard_F16\";i:108;s:13:\"Standard_F16s\";i:109;s:16:\"Standard_F16s_v2\";i:110;s:12:\"Standard_F1s\";i:111;s:11:\"Standard_F2\";i:112;s:12:\"Standard_F2s\";i:113;s:15:\"Standard_F2s_v2\";i:114;s:16:\"Standard_F32s_v2\";i:115;s:11:\"Standard_F4\";i:116;s:12:\"Standard_F4s\";i:117;s:15:\"Standard_F4s_v2\";i:118;s:16:\"Standard_F64s_v2\";i:119;s:16:\"Standard_F72s_v2\";i:120;s:11:\"Standard_F8\";i:121;s:12:\"Standard_F8s\";i:122;s:15:\"Standard_F8s_v2\";i:123;s:11:\"Standard_G1\";i:124;s:11:\"Standard_G2\";i:125;s:11:\"Standard_G3\";i:126;s:11:\"Standard_G4\";i:127;s:11:\"Standard_G5\";i:128;s:12:\"Standard_GS1\";i:129;s:12:\"Standard_GS2\";i:130;s:12:\"Standard_GS3\";i:131;s:12:\"Standard_GS4\";i:132;s:14:\"Standard_GS4-4\";i:133;s:14:\"Standard_GS4-8\";i:134;s:12:\"Standard_GS5\";i:135;s:15:\"Standard_GS5-16\";i:136;s:14:\"Standard_GS5-8\";i:137;s:12:\"Standard_H16\";i:138;s:13:\"Standard_H16m\";i:139;s:14:\"Standard_H16mr\";i:140;s:13:\"Standard_H16r\";i:141;s:11:\"Standard_H8\";i:142;s:12:\"Standard_H8m\";i:143;s:13:\"Standard_L16s\";i:144;s:13:\"Standard_L32s\";i:145;s:12:\"Standard_L4s\";i:146;s:12:\"Standard_L8s\";i:147;s:18:\"Standard_M128-32ms\";i:148;s:18:\"Standard_M128-64ms\";i:149;s:15:\"Standard_M128ms\";i:150;s:14:\"Standard_M128s\";i:151;s:17:\"Standard_M64-16ms\";i:152;s:17:\"Standard_M64-32ms\";i:153;s:14:\"Standard_M64ms\";i:154;s:13:\"Standard_M64s\";i:155;s:13:\"Standard_NC12\";i:156;s:17:\"Standard_NC12s_v2\";i:157;s:17:\"Standard_NC12s_v3\";i:158;s:13:\"Standard_NC24\";i:159;s:14:\"Standard_NC24r\";i:160;s:18:\"Standard_NC24rs_v2\";i:161;s:18:\"Standard_NC24rs_v3\";i:162;s:17:\"Standard_NC24s_v2\";i:163;s:17:\"Standard_NC24s_v3\";i:164;s:12:\"Standard_NC6\";i:165;s:16:\"Standard_NC6s_v2\";i:166;s:16:\"Standard_NC6s_v3\";i:167;s:14:\"Standard_ND12s\";i:168;s:15:\"Standard_ND24rs\";i:169;s:14:\"Standard_ND24s\";i:170;s:13:\"Standard_ND6s\";i:171;s:13:\"Standard_NV12\";i:172;s:13:\"Standard_NV24\";i:173;s:12:\"Standard_NV6\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:27:\"ContainerServiceVMSizeTypes\";}}s:28:\"ContainerServiceVnetSubnetID\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"VNet
  SubnetID specifies the vnet's subnet identifier. If you specify either master VNet
  Subnet, or agent VNet Subnet, you need to specify both. And they have to be in the
  same VNet.\";s:4:\"type\";s:6:\"string\";}s:30:\"ContainerServiceWindowsProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Profile
  for Windows VMs in the container service cluster.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"adminPassword\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  administrator password to use for Windows VMs.\";s:7:\"pattern\";s:78:\"^(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%\\^&\\*\\(\\)])[a-zA-Z\\d!@#$%\\^&\\*\\(\\)]{12,123}$\";s:4:\"type\";s:6:\"string\";}s:13:\"adminUsername\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  administrator username to use for Windows VMs.\";s:7:\"pattern\";s:34:\"^[a-zA-Z0-9]+([._]?[a-zA-Z0-9]+)*$\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:13:\"adminUsername\";i:1;s:13:\"adminPassword\";}}s:17:\"KeyVaultSecretRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Reference
  to a secret stored in Azure Key Vault.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"secretName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  secret name.\";s:4:\"type\";s:6:\"string\";}s:7:\"vaultID\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Key
  vault identifier.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  secret version.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:7:\"vaultID\";i:1;s:10:\"secretName\";}}s:14:\"ManagedCluster\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:38:\"#/definitions/ManagedClusterProperties\";s:11:\"description\";s:32:\"Properties
  of a managed cluster.\";s:19:\"x-ms-client-flatten\";b:1;}}}}s:11:\"description\";s:16:\"Managed
  cluster.\";}s:27:\"ManagedClusterAccessProfile\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/AccessProfile\";s:11:\"description\";s:35:\"AccessProfile
  of a managed cluster.\";s:19:\"x-ms-client-flatten\";b:1;}}}}s:11:\"description\";s:31:\"Managed
  cluster Access Profile.\";}s:24:\"ManagedClusterListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  response from the List Managed Clusters operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  URL to get the next set of managed cluster results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  list of managed clusters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ManagedCluster\";}s:4:\"type\";s:5:\"array\";}}}s:32:\"ManagedClusterPoolUpgradeProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  list of available upgrade versions.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"kubernetesVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Kubernetes
  version (major, minor, patch).\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Pool
  name.\";s:4:\"type\";s:6:\"string\";}s:6:\"osType\";O:8:\"stdClass\":4:{s:4:\"$ref\";s:20:\"#/definitions/OSType\";s:11:\"description\";s:86:\"OsType
  to be used to specify os type. Choose from Linux and Windows. Default to Linux.\";s:4:\"enum\";a:2:{i:0;s:5:\"Linux\";i:1;s:7:\"Windows\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:23:\"ContainerServiceOSTypes\";}}s:8:\"upgrades\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"List
  of orchestrator types and versions available for upgrade.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:17:\"kubernetesVersion\";i:1;s:6:\"osType\";}}s:24:\"ManagedClusterProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Properties
  of the managed cluster.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"agentPoolProfiles\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Properties
  of the agent pool.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ContainerServiceAgentPoolProfile\";}s:4:\"type\";s:5:\"array\";}s:9:\"dnsPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"DNS
  prefix specified when creating the managed cluster.\";s:4:\"type\";s:6:\"string\";}s:4:\"fqdn\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"FDQN
  for the master pool.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"kubernetesVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Version
  of Kubernetes specified when creating the managed cluster.\";s:4:\"type\";s:6:\"string\";}s:12:\"linuxProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ContainerServiceLinuxProfile\";s:11:\"description\";s:55:\"Profile
  for Linux VMs in the container service cluster.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  current deployment or provisioning state, which only appears in the response.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:23:\"servicePrincipalProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/ContainerServiceServicePrincipalProfile\";s:11:\"description\";s:152:\"Information
  about a service principal identity for the cluster to use for manipulating Azure
  APIs. Either secret or keyVaultSecretRef must be specified.\";}}}s:28:\"ManagedClusterUpgradeProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  list of available upgrades for compute pools.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Id
  of upgrade profile.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Name
  of upgrade profile.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:52:\"#/definitions/ManagedClusterUpgradeProfileProperties\";s:11:\"description\";s:30:\"Properties
  of upgrade profile.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Type
  of upgrade profile.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:38:\"ManagedClusterUpgradeProfileProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Control
  plane and agent pool upgrade profiles.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"agentPoolProfiles\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  list of available upgrade versions for agent pools.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ManagedClusterPoolUpgradeProfile\";}s:4:\"type\";s:5:\"array\";}s:19:\"controlPlaneProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/ManagedClusterPoolUpgradeProfile\";s:11:\"description\";s:61:\"The
  list of available upgrade versions for the control plane.\";}}s:8:\"required\";a:2:{i:0;s:19:\"controlPlaneProfile\";i:1;s:17:\"agentPoolProfiles\";}}s:6:\"OSType\";O:8:\"stdClass\":5:{s:7:\"default\";s:5:\"Linux\";s:11:\"description\";s:86:\"OsType
  to be used to specify os type. Choose from Linux and Windows. Default to Linux.\";s:4:\"enum\";a:2:{i:0;s:5:\"Linux\";i:1;s:7:\"Windows\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:6:\"OSType\";}}s:19:\"OrchestratorProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Contains
  information about orchestrator.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"orchestratorType\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Orchestrator
  type.\";s:4:\"type\";s:6:\"string\";}s:19:\"orchestratorVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Orchestrator
  version (major, minor, patch).\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:16:\"orchestratorType\";i:1;s:19:\"orchestratorVersion\";}}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  Resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Resource
  Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Resource
  location\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}}"
...
