---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:33:\"Azure EventGrid
  Management Client\";s:5:\"title\";s:25:\"EventGridManagementClient\";s:7:\"version\";s:18:\"2017-09-15-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:170:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2017-09-15-preview/EventGrid.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:19:\"eventgrid-EventGrid\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"azure_eventgrid_eventgrid\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.EventGrid/operations:
    get:
      consumes: []
      description: List the available operations supported by the Microsoft.EventGrid
        resource provider
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationsListResult'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: List available operations
      tags:
      - Operations
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2017-09-15-preview
          responses:
            200:
              body:
                value:
                - display:
                    description: Registers the eventSubscription for the EventGrid
                      resource provider and enables the creation of Event Grid subscriptions.
                    operation: Registers the EventGrid Resource Provider
                    provider: Microsoft Event Grid
                    resource: EventGrid Resource Provider
                  name: Microsoft.EventGrid/register/action
                  origin: UserAndSystem
                - display:
                    description: Create or update a eventSubscription
                    operation: Write EventSubscription
                    provider: Microsoft Event Grid
                    resource: eventSubscriptions
                  name: Microsoft.EventGrid/eventSubscriptions/write
                  origin: UserAndSystem
                - display:
                    description: Read a eventSubscription
                    operation: Read EventSubscription
                    provider: Microsoft Event Grid
                    resource: eventSubscriptions
                  name: Microsoft.EventGrid/eventSubscriptions/read
                  origin: UserAndSystem
                - display:
                    description: Delete a eventSubscription
                    operation: Delete EventSubscription
                    provider: Microsoft Event Grid
                    resource: eventSubscriptions
                  name: Microsoft.EventGrid/eventSubscriptions/delete
                  origin: UserAndSystem
                - display:
                    description: Create or update a topic
                    operation: Write Topic
                    provider: Microsoft Event Grid
                    resource: topics
                  name: Microsoft.EventGrid/topics/write
                  origin: UserAndSystem
                - display:
                    description: Read a topic
                    operation: Read Topic
                    provider: Microsoft Event Grid
                    resource: topics
                  name: Microsoft.EventGrid/topics/read
                  origin: UserAndSystem
                - display:
                    description: Delete a topic
                    operation: Delete Topic
                    provider: Microsoft Event Grid
                    resource: topics
                  name: Microsoft.EventGrid/topics/delete
                  origin: UserAndSystem
      x-ms-pageable: []
  /providers/Microsoft.EventGrid/topicTypes:
    get:
      consumes: []
      description: List all registered topic types
      operationId: TopicTypes_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TopicTypesListResult'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 404 Not
            Found.nn * 500 Internal Server Error.'
      summary: List topic types
      tags:
      - TopicTypes
      x-ms-examples:
        TopicTypes_List:
          parameters:
            api-version: 2017-09-15-preview
          responses:
            200:
              body:
                value:
                - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Eventhub.Namespaces
                  name: Microsoft.Eventhub.Namespaces
                  properties:
                    description: Microsoft EventHubs service events.
                    displayName: EventHubs Namespace
                    provider: Microsoft.Eventhub
                    provisioningState: Succeeded
                    resourceRegionType: RegionalResource
                  type: Microsoft.EventGrid/topicTypes
                - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts
                  name: Microsoft.Storage.StorageAccounts
                  properties:
                    description: Microsoft Storage service events.
                    displayName: Storage Accounts
                    provider: Microsoft.Storage
                    provisioningState: Succeeded
                    resourceRegionType: RegionalResource
                  type: Microsoft.EventGrid/topicTypes
      x-ms-pageable: []
  /providers/Microsoft.EventGrid/topicTypes/{topicTypeName}:
    get:
      consumes: []
      description: Get information about a topic type
      operationId: TopicTypes_Get
      parameters:
      - description: Name of the topic type
        in: path
        name: topicTypeName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TopicTypeInfo'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 404 Not
            Found.nn * 500 Internal Server Error.'
      summary: Get a topic type
      tags:
      - TopicTypes
      x-ms-examples:
        TopicTypes_Get:
          parameters:
            api-version: 2017-09-15-preview
            topicTypeName: Microsoft.Storage.StorageAccounts
          responses:
            200:
              body:
                id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts
                name: Microsoft.Storage.StorageAccounts
                properties:
                  description: Microsoft Storage service events.
                  displayName: Storage Accounts
                  provider: Microsoft.Storage
                  provisioningState: Succeeded
                  resourceRegionType: RegionalResource
                type: Microsoft.EventGrid/topicTypes
  /providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventTypes:
    get:
      consumes: []
      description: List event types for a topic type
      operationId: TopicTypes_ListEventTypes
      parameters:
      - description: Name of the topic type
        in: path
        name: topicTypeName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventTypesListResult'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 404 Not
            Found.nn * 500 Internal Server Error.'
      summary: List event types
      tags:
      - TopicTypes
      x-ms-examples:
        TopicTypes_ListEventTypes:
          parameters:
            api-version: 2017-09-15-preview
            topicTypeName: Microsoft.Storage.StorageAccounts
          responses:
            200:
              body:
                value:
                - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts/eventTypes/Microsoft.Storage.BlobCreated
                  name: Microsoft.Storage.BlobCreated
                  properties:
                    description: Raised when a blob is created.
                    displayName: Blob Created
                    schemaUrl: tbd
                  type: Microsoft.EventGrid/topicTypes/eventTypes
                - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts/eventTypes/Microsoft.Storage.BlobDeleted
                  name: Microsoft.Storage.BlobDeleted
                  properties:
                    description: Raised when a blob is deleted.
                    displayName: Blob Deleted
                    schemaUrl: tbd
                  type: Microsoft.EventGrid/topicTypes/eventTypes
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/eventSubscriptions:
    get:
      consumes: []
      description: List all aggregated global event subscriptions under a specific
        Azure subscription
      operationId: EventSubscriptions_ListGlobalBySubscription
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventSubscriptionsListResult'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: Get an aggregated list of all global event subscriptions under an Azure
        subscription
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListGlobalBySubscription:
          parameters:
            api-version: 2017-09-15-preview
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            200:
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                  name: examplesubscription2
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription4
                  name: examplesubscription4
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/locations/{location}/eventSubscriptions:
    get:
      consumes: []
      description: List all event subscriptions from the given location under a specific
        Azure subscription
      operationId: EventSubscriptions_ListRegionalBySubscription
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: Name of the location
        in: path
        name: location
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventSubscriptionsListResult'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: List all regional event subscriptions under an Azure subscription
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListRegionalBySubscription:
          parameters:
            api-version: 2017-09-15-preview
            location: westus2
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            200:
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                  name: examplesubscription10
                  properties:
                    destination:
                      endpointType: EventHub
                      properties:
                        resourceId: /subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/TestRG/providers/Microsoft.EventHub/namespaces/ContosoNamespace/eventhubs/EH1
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription11
                  name: examplesubscription11
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/locations/{location}/topicTypes/{topicTypeName}/eventSubscriptions:
    get:
      consumes: []
      description: List all event subscriptions from the given location under a specific
        Azure subscription and topic type.
      operationId: EventSubscriptions_ListRegionalBySubscriptionForTopicType
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: Name of the location
        in: path
        name: location
        required: true
        type: string
      - description: Name of the topic type
        in: path
        name: topicTypeName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventSubscriptionsListResult'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: List all regional event subscriptions under an Azure subscription for
        a topic type
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListRegionalBySubscriptionForTopicType:
          parameters:
            api-version: 2017-09-15-preview
            location: westus2
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicTypeName: Microsoft.EventHub.namespaces
          responses:
            200:
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                  name: examplesubscription10
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription11
                  name: examplesubscription11
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventSubscriptions:
    get:
      consumes: []
      description: List all global event subscriptions under an Azure subscription
        for a topic type.
      operationId: EventSubscriptions_ListGlobalBySubscriptionForTopicType
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: Name of the topic type
        in: path
        name: topicTypeName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventSubscriptionsListResult'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: List all global event subscriptions for a topic type
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListGlobalBySubscriptionForTopicType:
          parameters:
            api-version: 2017-09-15-preview
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicTypeName: Microsoft.Resources.Subscriptions
          responses:
            200:
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                  name: examplesubscription3
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/topics:
    get:
      consumes: []
      description: List all the topics under an Azure subscription
      operationId: Topics_ListBySubscription
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TopicsListResult'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: List topics under an Azure subscription
      tags:
      - Topics
      x-ms-examples:
        Topics_ListBySubscription:
          parameters:
            api-version: 2017-09-15-preview
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            200:
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
                  location: westus2
                  name: exampletopic1
                  properties:
                    endpoint: https://exampletopic1.westus2-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/topics
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2
                  location: westcentralus
                  name: exampletopic2
                  properties:
                    endpoint: https://exampletopic2.westcentralus-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/topics
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/eventSubscriptions:
    get:
      consumes: []
      description: List all global event subscriptions under a specific Azure subscription
        and resource group
      operationId: EventSubscriptions_ListGlobalByResourceGroup
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventSubscriptionsListResult'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: List all global event subscriptions under an Azure subscription and
        resource group
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListGlobalByResourceGroup:
          parameters:
            api-version: 2017-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            200:
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                  name: examplesubscription2
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription4
                  name: examplesubscription4
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/locations/{location}/eventSubscriptions
  : get:
      consumes: []
      description: List all event subscriptions from the given location under a specific
        Azure subscription and resource group
      operationId: EventSubscriptions_ListRegionalByResourceGroup
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: Name of the location
        in: path
        name: location
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventSubscriptionsListResult'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: List all regional event subscriptions under an Azure subscription and
        resource group
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListRegionalByResourceGroup:
          parameters:
            api-version: 2017-09-15-preview
            location: westus2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            200:
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                  name: examplesubscription10
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription11
                  name: examplesubscription11
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/locations/{location}/topicTypes/{topicTypeName}/eventSubscriptions
  : get:
      consumes: []
      description: List all event subscriptions from the given location under a specific
        Azure subscription and resource group and topic type
      operationId: EventSubscriptions_ListRegionalByResourceGroupForTopicType
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: Name of the location
        in: path
        name: location
        required: true
        type: string
      - description: Name of the topic type
        in: path
        name: topicTypeName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventSubscriptionsListResult'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: List all regional event subscriptions under an Azure subscription and
        resource group for a topic type
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListRegionalByResourceGroupForTopicType:
          parameters:
            api-version: 2017-09-15-preview
            location: westus2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicTypeName: Microsoft.EventHub.namespaces
          responses:
            200:
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                  name: examplesubscription10
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription11
                  name: examplesubscription11
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventSubscriptions
  : get:
      consumes: []
      description: List all global event subscriptions under a resource group for
        a specific topic type.
      operationId: EventSubscriptions_ListGlobalByResourceGroupForTopicType
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: Name of the topic type
        in: path
        name: topicTypeName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventSubscriptionsListResult'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: List all global event subscriptions under a resource group for a topic
        type
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListGlobalByResourceGroupForTopicType:
          parameters:
            api-version: 2017-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicTypeName: Microsoft.Resources.ResourceGroups
          responses:
            200:
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                  name: examplesubscription3
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ExamplePrefix
                      subjectEndsWith: ExampleSuffix
                    labels:
                    - Finance
                    - HR
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics:
    get:
      consumes: []
      description: List all the topics under a resource group
      operationId: Topics_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TopicsListResult'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: List topics under a resource group
      tags:
      - Topics
      x-ms-examples:
        Topics_ListByResourceGroup:
          parameters:
            api-version: 2017-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            200:
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
                  location: westus2
                  name: exampletopic1
                  properties:
                    endpoint: https://exampletopic1.westus2-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/topics
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2
                  location: westcentralus
                  name: exampletopic2
                  properties:
                    endpoint: https://exampletopic2.westcentralus-1.eventgrid.azure.net/api/events
                    provisioningState: Succeeded
                  tags:
                    tag1: value1
                    tag2: value2
                  type: Microsoft.EventGrid/topics
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}:
    delete:
      consumes: []
      description: Delete existing topic
      operationId: Topics_Delete
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: Name of the topic
        in: path
        name: topicName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        202:
          description: Accepted
        204:
          description: NoContent
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 404 Not
            Found.nn * 500 Internal Server Error.'
      summary: Delete a topic
      tags:
      - Topics
      x-ms-examples:
        Topics_Delete:
          parameters:
            api-version: 2017-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic1
          responses:
            202: []
            204: []
      x-ms-long-running-operation: true
    get:
      consumes: []
      description: Get properties of a topic
      operationId: Topics_Get
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: Name of the topic
        in: path
        name: topicName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Topic'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: Get a topic
      tags:
      - Topics
      x-ms-examples:
        Topics_Get:
          parameters:
            api-version: 2017-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic2
          responses:
            200:
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2
                location: westcentralus
                name: exampletopic2
                properties:
                  endpoint: https://exampletopic2.westcentralus-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/topics
    patch:
      description: Asynchronously updates a topic with the specified parameters.
      operationId: Topics_Update
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: Name of the topic
        in: path
        name: topicName
        required: true
        type: string
      - description: Topic update information
        in: body
        name: topicUpdateParameters
        required: true
        schema:
          $ref: '#/definitions/TopicUpdateParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        201:
          description: Topic update request accepted.
          schema:
            $ref: '#/definitions/Topic'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: Update a topic
      tags:
      - Topics
      x-ms-examples:
        Topics_Update:
          parameters:
            api-version: 2017-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic1
            topicUpdateParameters:
              tags:
                tag1: value1
                tag2: value2
          responses:
            201:
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
                location: westus2
                name: exampletopic1
                properties:
                  endpoint: https://exampletopic1.westus2-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/topics
      x-ms-long-running-operation: true
    put:
      description: Asynchronously creates a new topic with the specified parameters.
      operationId: Topics_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: Name of the topic
        in: path
        name: topicName
        required: true
        type: string
      - description: Topic information
        in: body
        name: topicInfo
        required: true
        schema:
          $ref: '#/definitions/Topic'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/Topic'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: Create a topic
      tags:
      - Topics
      x-ms-examples:
        Topics_CreateOrUpdate:
          parameters:
            api-version: 2017-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicInfo:
              location: westus2
              tags:
                tag1: value1
                tag2: value2
            topicName: exampletopic1
          responses:
            201:
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
                location: westus2
                name: exampletopic1
                properties:
                  endpoint: https://exampletopic1.westus2-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/topics
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}/listKeys:
    post:
      consumes: []
      description: List the two keys used to publish to a topic
      operationId: Topics_ListSharedAccessKeys
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: Name of the topic
        in: path
        name: topicName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TopicSharedAccessKeys'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: List keys for a topic
      tags:
      - Topics
      x-ms-examples:
        Topics_ListSharedAccessKeys:
          parameters:
            api-version: 2017-09-15-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic2
          responses:
            200:
              body:
                key1: Rqfq5wWxtQnIQJyswP0Uh/hqQfDDMUOYyQSYEpx5e5g=
                key2: sesymbkIXMtZVqXEFHarJmdGmZjjnY+BZC8yRD/FeuA=
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}/regenerateKey
  : post:
      description: Regenerate a shared access key for a topic
      operationId: Topics_RegenerateKey
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: Name of the topic
        in: path
        name: topicName
        required: true
        type: string
      - description: Request body to regenerate key
        in: body
        name: regenerateKeyRequest
        required: true
        schema:
          $ref: '#/definitions/TopicRegenerateKeyRequest'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TopicSharedAccessKeys'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: Regenerate key for a topic
      tags:
      - Topics
      x-ms-examples:
        Topics_RegenerateKey:
          parameters:
            api-version: 2017-09-15-preview
            regenerateKeyRequest:
              keyName: key1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic2
          responses:
            200:
              body:
                key1: Rqfq5wWxtQnIQJyswP0Uh/hqQfDDMUOYyQSYEpx5e5g=
                key2: sesymbkIXMtZVqXEFHarJmdGmZjjnY+BZC8yRD/FeuA=
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{resourceTypeName}/{resourceName}/providers/Microsoft.EventGrid/eventSubscriptions
  : get:
      consumes: []
      description: List all event subscriptions that have been created for a specific
        topic
      operationId: EventSubscriptions_ListByResource
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: Namespace of the provider of the topic
        in: path
        name: providerNamespace
        required: true
        type: string
      - description: Name of the resource type
        in: path
        name: resourceTypeName
        required: true
        type: string
      - description: Name of the resource
        in: path
        name: resourceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventSubscriptionsListResult'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: List all event subscriptions for a specific topic
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListByResource:
          parameters:
            api-version: 2017-09-15-preview
            providerNamespace: Microsoft.EventGrid
            resourceGroupName: examplerg
            resourceName: exampletopic2
            resourceTypeName: topics
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            200:
              body:
                value:
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription1
                  name: examplesubscription1
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/topics/exampletopic2
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                  name: examplesubscription2
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/topics/exampletopic2
                  type: Microsoft.EventGrid/eventSubscriptions
                - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                  name: examplesubscription3
                  properties:
                    destination:
                      endpointType: WebHook
                      properties:
                        endpointBaseUrl: https://requestb.in/15ksip71
                    filter:
                      includedEventTypes:
                      - All
                      isSubjectCaseSensitive: false
                      subjectBeginsWith: ""
                      subjectEndsWith: ""
                    labels: []
                    provisioningState: Succeeded
                    topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/topics/exampletopic2
                  type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{resourceTypeName}/{resourceName}/providers/Microsoft.EventGrid/eventTypes
  : get:
      consumes: []
      description: List event types for a topic
      operationId: Topics_ListEventTypes
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: The name of the resource group within the user's subscription.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: Namespace of the provider of the topic
        in: path
        name: providerNamespace
        required: true
        type: string
      - description: Name of the topic type
        in: path
        name: resourceTypeName
        required: true
        type: string
      - description: Name of the topic
        in: path
        name: resourceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventTypesListResult'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: List topic event types
      tags:
      - Topics
      x-ms-examples:
        Topics_ListEventTypes:
          parameters:
            api-version: 2017-09-15-preview
            providerNamespace: Microsoft.Storage
            resourceGroupName: examplerg
            resourceName: ExampleStorageAccount
            resourceTypeName: storageAccounts
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            200:
              body:
                value:
                - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts/eventTypes/Microsoft.Storage.BlobCreated
                  name: Microsoft.Storage.BlobCreated
                  properties:
                    description: Raised when a blob is created.
                    displayName: Blob Created
                    schemaUrl: tbd
                  type: Microsoft.EventGrid/topicTypes/eventTypes
                - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts/eventTypes/Microsoft.Storage.BlobDeleted
                  name: Microsoft.Storage.BlobDeleted
                  properties:
                    description: Raised when a blob is deleted.
                    displayName: Blob Deleted
                    schemaUrl: tbd
                  type: Microsoft.EventGrid/topicTypes/eventTypes
      x-ms-pageable: []
  /{scope}/providers/Microsoft.EventGrid/eventSubscriptions/{eventSubscriptionName}:
    delete:
      consumes: []
      description: Delete an existing event subscription
      operationId: EventSubscriptions_Delete
      parameters:
      - description: The scope of the event subscription. The scope can be a subscription,
          or a resource group, or a top level resource belonging to a resource provider
          namespace, or an EventGrid topic. For example, use '/subscriptions/{subscriptionId}/'
          for a subscription, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
          for a resource group, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}'
          for a resource, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}'
          for an EventGrid topic.
        in: path
        name: scope
        required: true
        type: string
        x-ms-skip-url-encoding: true
      - description: Name of the event subscription
        in: path
        name: eventSubscriptionName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        204:
          description: NoContent
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 404 Not
            Found.nn * 500 Internal Server Error.'
      summary: Delete an event subscription
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_DeleteForCustomTopic:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionName: examplesubscription1
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
          responses:
            200: []
            202: []
            204: []
        EventSubscriptions_DeleteForResource:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionName: examplesubscription10
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1
          responses:
            200: []
            202: []
            204: []
        EventSubscriptions_DeleteForResourceGroup:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionName: examplesubscription2
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
          responses:
            200: []
            202: []
            204: []
        EventSubscriptions_DeleteForSubscription:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionName: examplesubscription3
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            200: []
            202: []
            204: []
      x-ms-long-running-operation: true
    get:
      consumes: []
      description: Get properties of an event subscription
      operationId: EventSubscriptions_Get
      parameters:
      - description: The scope of the event subscription. The scope can be a subscription,
          or a resource group, or a top level resource belonging to a resource provider
          namespace, or an EventGrid topic. For example, use '/subscriptions/{subscriptionId}/'
          for a subscription, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
          for a resource group, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}'
          for a resource, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}'
          for an EventGrid topic.
        in: path
        name: scope
        required: true
        type: string
        x-ms-skip-url-encoding: true
      - description: Name of the event subscription
        in: path
        name: eventSubscriptionName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventSubscription'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: Get an event subscription
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_GetForCustomTopic:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionName: examplesubscription1
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2
          responses:
            200:
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription1
                name: examplesubscription1
                properties:
                  destination:
                    endpointType: WebHook
                    properties:
                      endpointBaseUrl: https://requestb.in/15ksip71
                  filter:
                    includedEventTypes:
                    - All
                    isSubjectCaseSensitive: false
                    subjectBeginsWith: ExamplePrefix
                    subjectEndsWith: ExampleSuffix
                  labels:
                  - label1
                  - label2
                  provisioningState: Succeeded
                  topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/topics/exampletopic2
                type: Microsoft.EventGrid/eventSubscriptions
        EventSubscriptions_GetForResource:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionName: examplesubscription1
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1
          responses:
            200:
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription1
                name: examplesubscription1
                properties:
                  destination:
                    endpointType: EventHub
                    properties:
                      resourceId: /subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/TestRG/providers/Microsoft.EventHub/namespaces/ContosoNamespace/eventhubs/EH1
                  filter:
                    includedEventTypes:
                    - All
                    isSubjectCaseSensitive: false
                    subjectBeginsWith: ExamplePrefix
                    subjectEndsWith: ExampleSuffix
                  labels:
                  - label1
                  - label2
                  provisioningState: Succeeded
                  topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1
                type: Microsoft.EventGrid/eventSubscriptions
        EventSubscriptions_GetForResourceGroup:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionName: examplesubscription2
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
          responses:
            200:
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                name: examplesubscription2
                properties:
                  destination:
                    endpointType: WebHook
                    properties:
                      endpointBaseUrl: https://requestb.in/15ksip71
                  filter:
                    includedEventTypes:
                    - All
                    isSubjectCaseSensitive: false
                    subjectBeginsWith: ExamplePrefix
                    subjectEndsWith: ExampleSuffix
                  labels:
                  - label1
                  - label2
                  provisioningState: Succeeded
                  topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                type: Microsoft.EventGrid/eventSubscriptions
        EventSubscriptions_GetForSubscription:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionName: examplesubscription3
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            200:
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                name: examplesubscription3
                properties:
                  destination:
                    endpointType: WebHook
                    properties:
                      endpointBaseUrl: https://requestb.in/15ksip71
                  filter:
                    includedEventTypes:
                    - All
                    isSubjectCaseSensitive: false
                    subjectBeginsWith: ExamplePrefix
                    subjectEndsWith: ExampleSuffix
                  labels:
                  - label1
                  - label2
                  provisioningState: Succeeded
                  topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4
                type: Microsoft.EventGrid/eventSubscriptions
    patch:
      description: Asynchronously updates an existing event subscription.
      operationId: EventSubscriptions_Update
      parameters:
      - description: The scope of existing event subscription. The scope can be a
          subscription, or a resource group, or a top level resource belonging to
          a resource provider namespace, or an EventGrid topic. For example, use '/subscriptions/{subscriptionId}/'
          for a subscription, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
          for a resource group, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}'
          for a resource, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}'
          for an EventGrid topic.
        in: path
        name: scope
        required: true
        type: string
        x-ms-skip-url-encoding: true
      - description: Name of the event subscription to be created
        in: path
        name: eventSubscriptionName
        required: true
        type: string
      - description: Updated event subscription information
        in: body
        name: eventSubscriptionUpdateParameters
        required: true
        schema:
          $ref: '#/definitions/EventSubscriptionUpdateParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/EventSubscription'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: Update an event subscription
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_UpdateForCustomTopic:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionName: examplesubscription1
            eventSubscriptionUpdateParameters:
              destination:
                endpointType: WebHook
                properties:
                  endpointUrl: https://requestb.in/15ksip71
              filter:
                isSubjectCaseSensitive: true
                subjectBeginsWith: existingPrefix
                subjectEndsWith: newSuffix
              labels:
              - label1
              - label2
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2
          responses:
            201:
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription1
                name: examplesubscription1
                properties:
                  destination:
                    endpointType: WebHook
                    properties:
                      endpointBaseUrl: https://requestb.in/15ksip71
                  filter:
                    includedEventTypes:
                    - All
                    isSubjectCaseSensitive: true
                    subjectBeginsWith: existingPrefix
                    subjectEndsWith: newSuffix
                  labels:
                  - label1
                  - label2
                  provisioningState: Succeeded
                  topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/topics/exampletopic2
                type: Microsoft.EventGrid/eventSubscriptions
        EventSubscriptions_UpdateForResource:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionName: examplesubscription1
            eventSubscriptionUpdateParameters:
              destination:
                endpointType: WebHook
                properties:
                  endpointUrl: https://requestb.in/15ksip71
              filter:
                isSubjectCaseSensitive: true
                subjectBeginsWith: existingPrefix
                subjectEndsWith: newSuffix
              labels:
              - label1
              - label2
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1
          responses:
            201:
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription1
                name: examplesubscription1
                properties:
                  destination:
                    endpointType: WebHook
                    properties:
                      endpointBaseUrl: https://requestb.in/15ksip71
                  filter:
                    includedEventTypes:
                    - All
                    isSubjectCaseSensitive: true
                    subjectBeginsWith: existingPrefix
                    subjectEndsWith: newSuffix
                  labels: []
                  provisioningState: Succeeded
                  topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1
                type: Microsoft.EventGrid/eventSubscriptions
        EventSubscriptions_UpdateForResourceGroup:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionName: examplesubscription2
            eventSubscriptionUpdateParameters:
              destination:
                endpointType: EventHub
                properties:
                  resourceId: /subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/TestRG/providers/Microsoft.EventHub/namespaces/ContosoNamespace/eventhubs/EH1
              filter:
                isSubjectCaseSensitive: true
                subjectBeginsWith: existingPrefix
                subjectEndsWith: newSuffix
              labels:
              - label1
              - label2
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
          responses:
            201:
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                name: examplesubscription2
                properties:
                  destination:
                    endpointType: WebHook
                    properties:
                      endpointBaseUrl: https://requestb.in/15ksip71
                  filter:
                    includedEventTypes:
                    - All
                    isSubjectCaseSensitive: true
                    subjectBeginsWith: existingPrefix
                    subjectEndsWith: newSuffix
                  labels: []
                  provisioningState: Succeeded
                  topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                type: Microsoft.EventGrid/eventSubscriptions
        EventSubscriptions_UpdateForSubscription:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionName: examplesubscription3
            eventSubscriptionUpdateParameters:
              destination:
                endpointType: WebHook
                properties:
                  endpointUrl: https://requestb.in/15ksip71
              filter:
                isSubjectCaseSensitive: true
                subjectBeginsWith: existingPrefix
                subjectEndsWith: newSuffix
              labels:
              - label1
              - label2
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            201:
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/topics/exampletopic2/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                name: examplesubscription3
                properties:
                  destination:
                    endpointType: WebHook
                    properties:
                      endpointBaseUrl: https://requestb.in/15ksip71
                  filter:
                    includedEventTypes:
                    - All
                    isSubjectCaseSensitive: true
                    subjectBeginsWith: existingPrefix
                    subjectEndsWith: newSuffix
                  labels: []
                  provisioningState: Succeeded
                  topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4
                type: Microsoft.EventGrid/eventSubscriptions
      x-ms-long-running-operation: true
    put:
      description: Asynchronously creates a new event subscription to the specified
        scope. Existing event subscriptions cannot be updated with this API and should
        instead use the Update event subscription API.
      operationId: EventSubscriptions_Create
      parameters:
      - description: The scope of the resource to which the event subscription needs
          to be created. The scope can be a subscription, or a resource group, or
          a top level resource belonging to a resource provider namespace, or an EventGrid
          topic. For example, use '/subscriptions/{subscriptionId}/' for a subscription,
          '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for
          a resource group, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}'
          for a resource, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}'
          for an EventGrid topic.
        in: path
        name: scope
        required: true
        type: string
        x-ms-skip-url-encoding: true
      - description: Name of the event subscription to be created. Event subscription
          names must be between 3 and 64 characters in length and use alphanumeric
          letters only.
        in: path
        name: eventSubscriptionName
        required: true
        type: string
      - description: Event subscription properties containing the destination and
          filter information
        in: body
        name: eventSubscriptionInfo
        required: true
        schema:
          $ref: '#/definitions/EventSubscription'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/EventSubscription'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: Create an event subscription
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_CreateForCustomTopic:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionInfo:
              properties:
                destination:
                  endpointType: EventHub
                  properties:
                    resourceId: /subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/TestRG/providers/Microsoft.EventHub/namespaces/ContosoNamespace/eventhubs/EH1
                filter:
                  isSubjectCaseSensitive: false
                  subjectBeginsWith: ExamplePrefix
                  subjectEndsWith: ExampleSuffix
            eventSubscriptionName: examplesubscription1
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
          responses:
            201:
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription1
                name: examplesubscription1
                properties:
                  destination:
                    endpointType: WebHook
                    properties:
                      endpointBaseUrl: https://requestb.in/15ksip71
                  filter:
                    includedEventTypes:
                    - All
                    isSubjectCaseSensitive: false
                    subjectBeginsWith: ExamplePrefix
                    subjectEndsWith: ExampleSuffix
                  provisioningState: Succeeded
                  topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/topics/exampletopic1
                type: Microsoft.EventGrid/eventSubscriptions
        EventSubscriptions_CreateForResource:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionInfo:
              properties:
                destination:
                  endpointType: WebHook
                  properties:
                    endpointUrl: https://requestb.in/15ksip71
                filter:
                  isSubjectCaseSensitive: false
                  subjectBeginsWith: ExamplePrefix
                  subjectEndsWith: ExampleSuffix
            eventSubscriptionName: examplesubscription10
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1
          responses:
            201:
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                name: examplesubscription10
                properties:
                  destination:
                    endpointType: WebHook
                    properties:
                      endpointBaseUrl: https://requestb.in/15ksip71
                  filter:
                    includedEventTypes:
                    - All
                    isSubjectCaseSensitive: false
                    subjectBeginsWith: ExamplePrefix
                    subjectEndsWith: ExampleSuffix
                  provisioningState: Succeeded
                  topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1
                type: Microsoft.EventGrid/eventSubscriptions
        EventSubscriptions_CreateForResourceGroup:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionInfo:
              properties:
                destination:
                  endpointType: WebHook
                  properties:
                    endpointUrl: https://requestb.in/15ksip71
                filter:
                  isSubjectCaseSensitive: false
                  subjectBeginsWith: ExamplePrefix
                  subjectEndsWith: ExampleSuffix
            eventSubscriptionName: examplesubscription2
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
          responses:
            201:
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                name: examplesubscription2
                properties:
                  destination:
                    endpointType: WebHook
                    properties:
                      endpointBaseUrl: https://requestb.in/15ksip71
                  filter:
                    includedEventTypes:
                    - All
                    isSubjectCaseSensitive: false
                    subjectBeginsWith: ExamplePrefix
                    subjectEndsWith: ExampleSuffix
                  provisioningState: Succeeded
                  topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                type: Microsoft.EventGrid/eventSubscriptions
        EventSubscriptions_CreateForSubscription:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionInfo:
              properties:
                destination:
                  endpointType: WebHook
                  properties:
                    endpointUrl: https://requestb.in/15ksip71
                filter:
                  isSubjectCaseSensitive: false
            eventSubscriptionName: examplesubscription3
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            201:
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                name: examplesubscription3
                properties:
                  destination:
                    endpointType: WebHook
                    properties:
                      endpointBaseUrl: https://requestb.in/15ksip71
                  filter:
                    includedEventTypes:
                    - All
                    isSubjectCaseSensitive: false
                    subjectBeginsWith: ""
                    subjectEndsWith: ""
                  provisioningState: Succeeded
                  topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4
                type: Microsoft.EventGrid/eventSubscriptions
      x-ms-long-running-operation: true
  /{scope}/providers/Microsoft.EventGrid/eventSubscriptions/{eventSubscriptionName}/getFullUrl:
    post:
      consumes: []
      description: Get the full endpoint URL for an event subscription
      operationId: EventSubscriptions_GetFullUrl
      parameters:
      - description: The scope of the event subscription. The scope can be a subscription,
          or a resource group, or a top level resource belonging to a resource provider
          namespace, or an EventGrid topic. For example, use '/subscriptions/{subscriptionId}/'
          for a subscription, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'
          for a resource group, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}'
          for a resource, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}'
          for an EventGrid topic.
        in: path
        name: scope
        required: true
        type: string
        x-ms-skip-url-encoding: true
      - description: Name of the event subscription
        in: path
        name: eventSubscriptionName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventSubscriptionFullUrl'
        default:
          description: '*** Error Responses: ***nn * 400 Bad Request.nn * 500 Internal
            Server Error.'
      summary: Get full URL of an event subscription
      tags:
      - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_GetFullUrlForCustomTopic:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionName: examplesubscription1
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2
          responses:
            200:
              body:
                endpointUrl: https://requestb.in/15ksip71
        EventSubscriptions_GetFullUrlForResource:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionName: examplesubscription1
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1
          responses:
            200:
              body:
                endpointUrl: https://requestb.in/15ksip71
        EventSubscriptions_GetFullUrlForResourceGroup:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionName: examplesubscription2
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
          responses:
            200:
              body:
                endpointUrl: https://requestb.in/15ksip71
        EventSubscriptions_GetFullUrlForSubscription:
          parameters:
            api-version: 2017-09-15-preview
            eventSubscriptionName: examplesubscription3
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            200:
              body:
                endpointUrl: https://requestb.in/15ksip71
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":28:{s:36:\"EventHubEventSubscriptionDestination\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/EventSubscriptionDestination\";}}s:11:\"description\";s:69:\"Information
  about the event hub destination for an event subscription\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:60:\"#/definitions/EventHubEventSubscriptionDestinationProperties\";s:11:\"description\";s:58:\"Event
  Hub Properties of the event subscription destination\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:8:\"EventHub\";}s:46:\"EventHubEventSubscriptionDestinationProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  properties for a event hub destination.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  Azure Resource Id that represents the endpoint of an Event Hub destination of an
  event subscription.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"EventSubscription\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:18:\"Event
  Subscription\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:41:\"#/definitions/EventSubscriptionProperties\";s:11:\"description\";s:36:\"Properties
  of the event subscription\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:28:\"EventSubscriptionDestination\";O:8:\"stdClass\":5:{s:11:\"description\";s:59:\"Information
  about the destination for an event subscription\";s:13:\"discriminator\";s:12:\"endpointType\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"endpointType\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Type
  of the endpoint for the event subscription destination\";s:4:\"enum\";a:2:{i:0;s:7:\"WebHook\";i:1;s:8:\"EventHub\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"EndpointType\";}}}s:8:\"required\";a:1:{i:0;s:12:\"endpointType\";}s:4:\"type\";s:6:\"object\";}s:23:\"EventSubscriptionFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Filter
  for the Event Subscription\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"includedEventTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:199:\"A
  list of applicable event types that need to be part of the event subscription. \r\nIf
  it is desired to subscribe to all event types, the string \"all\" needs to be specified
  as an element in this list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:22:\"isSubjectCaseSensitive\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:128:\"Specifies
  if the SubjectBeginsWith and SubjectEndsWith properties of the filter \r\nshould
  be compared in a case sensitive manner.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"subjectBeginsWith\";O:8:\"stdClass\":2:{s:11:\"description\";s:208:\"An
  optional string to filter events for an event subscription based on a resource path
  prefix.\r\nThe format of this depends on the publisher of the events. \r\nWildcard
  characters are not supported in this path.\";s:4:\"type\";s:6:\"string\";}s:15:\"subjectEndsWith\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"An
  optional string to filter events for an event subscription based on a resource path
  suffix.\r\nWildcard characters are not supported in this path.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"EventSubscriptionFullUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Full
  endpoint url of an event subscription\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"endpointUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"The
  URL that represents the endpoint of the destination of an event subscription.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"EventSubscriptionProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Properties
  of the Event Subscription\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/EventSubscriptionDestination\";s:11:\"description\";s:95:\"Information
  about the destination where events have to be delivered for the event subscription.\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EventSubscriptionFilter\";s:11:\"description\";s:56:\"Information
  about the filter for the event subscription.\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"List
  of user defined labels.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:45:\"Provisioning
  state of the event subscription.\";s:4:\"enum\";a:6:{i:0;s:8:\"Creating\";i:1;s:8:\"Updating\";i:2;s:8:\"Deleting\";i:3;s:9:\"Succeeded\";i:4;s:8:\"Canceled\";i:5;s:6:\"Failed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:34:\"EventSubscriptionProvisioningState\";}}s:5:\"topic\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Name
  of the topic of the event subscription.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"EventSubscriptionUpdateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Properties
  of the Event Subscription update\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/EventSubscriptionDestination\";s:11:\"description\";s:95:\"Information
  about the destination where events have to be delivered for the event subscription.\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EventSubscriptionFilter\";s:11:\"description\";s:56:\"Information
  about the filter for the event subscription.\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"List
  of user defined labels.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:28:\"EventSubscriptionsListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Result
  of the List EventSubscriptions operation\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"A
  collection of EventSubscriptions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/EventSubscription\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"EventType\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:38:\"Event
  Type for a subject under a topic\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/EventTypeProperties\";s:11:\"description\";s:29:\"Properties
  of the event type.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:19:\"EventTypeProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Properties
  of the event type\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Description
  of the event type.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Display
  name of the event type.\";s:4:\"type\";s:6:\"string\";}s:9:\"schemaUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Url
  of the schema for this event type.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"EventTypesListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Result
  of the List Event Types operation\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  collection of event types\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EventType\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Represents
  an operation returned by the GetOperations request\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"display\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationInfo\";s:11:\"description\";s:29:\"Display
  name of the operation\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of the operation\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Origin
  of the operation\";s:4:\"enum\";a:3:{i:0;s:4:\"User\";i:1;s:6:\"System\";i:2;s:13:\"UserAndSystem\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"OperationOrigin\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Properties
  of the operation\";s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:13:\"OperationInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Information
  about an operation\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Description
  of the operation\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of the operation\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the provider\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Name
  of the resource type\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"OperationsListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Result
  of the List Operations operation\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"A
  collection of operations\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Definition
  of a Resource\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Fully
  qualified identifier of the resource\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Name
  of the resource\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Type
  of the resource\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:5:\"Topic\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:11:\"description\";s:15:\"EventGrid
[...]
