---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:23:\"MonitorManagementClient\";s:7:\"version\";s:18:\"2017-12-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:23:\"MonitorManagementClient\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:178:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/microsoft.insights/preview/2017-12-01-preview/metricNamespaces_API.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:28:\"monitor-metricNamespaces_API\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /{resourceUri}/providers/microsoft.insights/metricNamespaces:
    get:
      description: Lists the metric namespaces for the resource.
      operationId: MetricNamespaces_List
      parameters:
      - $ref: '#/parameters/ResourceUriParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/StartTimeParameter'
      responses:
        200:
          description: Successful request to get the list of metric namespaces
          schema:
            $ref: '#/definitions/MetricNamespaceCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - metricNamespaces
      x-ms-examples:
        Get Metric Namespaces without filter:
          parameters:
            api-version: 2017-12-01-preview
            resourceUri: subscriptions/a252e87d-ec06-45b1-8901-57e613be91b0/resourceGroups/larrytest/providers/Microsoft.DocumentDB/databaseAccounts/larrytestdocdb
            startTime: "2018-08-31T15:53:00Z"
          responses:
            200:
              body:
                value:
                - id: /subscriptions/a252e87d-ec06-45b1-8901-57e613be91b0/resourceGroups/larrytest/providers/Microsoft.DocumentDB/databaseAccounts/larrytestdocdb/providers/microsoft.insights/metricNamespaces/Microsoft.DocumentDB-databaseAccounts
                  name: Microsoft.DocumentDB-databaseAccounts
                  properties:
                    metricNamespaceName: Microsoft.DocumentDB/databaseAccounts
                  type: Microsoft.Insights/metricNamespaces
      x-ms-pageable: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the format of Error response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"MetricNamespace\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Metric
  namespace class specifies the metadata for a metric namespace.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  ID of the metricNamespace.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the namespace.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MetricNamespaceName\";s:11:\"description\";s:60:\"Properties
  which include the fully qualified namespace name.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  type of the namespace.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"MetricNamespaceCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Represents
  collection of metric namespaces.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  values for the metric namespaces.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MetricNamespace\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:19:\"MetricNamespaceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  fully qualified metric namespace name.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"metricNamespaceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  metric namespace name.\";s:4:\"type\";s:6:\"string\";}}}}"
...
