---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:280:\"The Microsoft
  Azure Network management API provides a RESTful set of web services that interact
  with Microsoft Azure Networks service to manage your network resources. The API
  has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:5:\"title\";s:23:\"NetworkManagementClient\";s:7:\"version\";s:10:\"2018-01-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:158:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-01-01/routeTable.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:18:\"network-routeTable\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"azure_network_routetable\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/routeTables:
    get:
      description: Gets all route tables in a subscription.
      operationId: RouteTables_ListAll
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of RouteTable
            resources.
          schema:
            $ref: '#/definitions/RouteTableListResult'
      tags:
      - RouteTables
      x-ms-examples:
        List all route tables:
          parameters:
            api-version: "2018-01-01"
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt
                  location: westus
                  name: testrt
                  properties:
                    provisioningState: Succeeded
                    routes:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt/routes/route1
                      name: route1
                      properties:
                        addressPrefix: 10.0.3.0/24
                        nextHopType: VirtualNetworkGateway
                        provisioningState: Succeeded
                  type: Microsoft.Network/routeTables
                - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/routeTables/testrt3
                  location: westus
                  name: testrt3
                  properties:
                    provisioningState: Succeeded
                    routes: []
                  type: Microsoft.Network/routeTables
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables:
    get:
      description: Gets all route tables in a resource group.
      operationId: RouteTables_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of RouteTable
            resources.
          schema:
            $ref: '#/definitions/RouteTableListResult'
      tags:
      - RouteTables
      x-ms-examples:
        List route tables in resource group:
          parameters:
            api-version: "2018-01-01"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt
                  location: westus
                  name: testrt
                  properties:
                    disableBgpRoutePropagation: true
                    provisioningState: Succeeded
                    routes:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt/routes/route1
                      name: route1
                      properties:
                        addressPrefix: 10.0.3.0/24
                        nextHopType: VirtualNetworkGateway
                        provisioningState: Succeeded
                  type: Microsoft.Network/routeTables
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt2
                  location: westus
                  name: testrt2
                  properties:
                    disableBgpRoutePropagation: true
                    provisioningState: Succeeded
                    routes: []
                  type: Microsoft.Network/routeTables
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}:
    delete:
      description: Deletes the specified route table.
      operationId: RouteTables_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the route table.
        in: path
        name: routeTableName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. Operation to delete was accepted.
        202:
          description: Accepted. If route table not found returned synchronously,
            otherwise if found returned asynchronously.
        204:
          description: Request successful. Resource does not exist.
      tags:
      - RouteTables
      x-ms-examples:
        Delete route table:
          parameters:
            api-version: "2018-01-01"
            resourceGroupName: rg1
            routeTableName: testrt
            subscriptionId: subid
          responses:
            200: []
            202: []
            204: []
      x-ms-long-running-operation: true
    get:
      description: Gets the specified route table.
      operationId: RouteTables_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the route table.
        in: path
        name: routeTableName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - description: Expands referenced resources.
        in: query
        name: $expand
        required: false
        type: string
      responses:
        200:
          description: Request successful. The operation returns the resulting RouteTable
            resource.
          schema:
            $ref: '#/definitions/RouteTable'
      tags:
      - RouteTables
      x-ms-examples:
        Get route table:
          parameters:
            api-version: "2018-01-01"
            resourceGroupName: rg1
            routeTableName: testrt
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt
                location: westus
                name: testrt
                properties:
                  disableBgpRoutePropagation: false
                  provisioningState: Succeeded
                  routes:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt/routes/route1
                    name: route1
                    properties:
                      addressPrefix: 10.0.3.0/24
                      nextHopType: VirtualNetworkGateway
                      provisioningState: Succeeded
                type: Microsoft.Network/routeTables
    patch:
      description: Updates a route table tags.
      operationId: RouteTables_UpdateTags
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the route table.
        in: path
        name: routeTableName
        required: true
        type: string
      - description: Parameters supplied to update route table tags.
        in: body
        name: parameters
        required: true
        schema:
          description: Tags object for patch operations.
          properties:
            tags:
              additionalProperties:
                type: string
              description: Resource tags.
              type: object
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the resulting RouteTable
            resource.
          schema:
            $ref: '#/definitions/RouteTable'
      tags:
      - RouteTables
      x-ms-examples:
        Update route table tags:
          parameters:
            api-version: "2018-01-01"
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            routeTableName: testrt
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt
                location: westus
                name: testrt
                properties:
                  provisioningState: Succeeded
                  routes: []
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/routeTables
      x-ms-long-running-operation: true
    put:
      description: Create or updates a route table in a specified resource group.
      operationId: RouteTables_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the route table.
        in: path
        name: routeTableName
        required: true
        type: string
      - description: Parameters supplied to the create or update route table operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/RouteTable'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the resulting RouteTable
            resource.
          schema:
            $ref: '#/definitions/RouteTable'
        201:
          description: Create successful. The operation returns the resulting RouteTable
            resource.
          schema:
            $ref: '#/definitions/RouteTable'
      tags:
      - RouteTables
      x-ms-examples:
        Create route table:
          parameters:
            api-version: "2018-01-01"
            parameters: []
            resourceGroupName: rg1
            routeTableName: testrt
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt
                location: westus
                name: testrt
                properties:
                  disableBgpRoutePropagation: true
                  provisioningState: Succeeded
                  routes: []
                type: Microsoft.Network/routeTables
            201:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt
                location: westus
                name: testrt
                properties:
                  disableBgpRoutePropagation: true
                  provisioningState: Succeeded
                  routes: []
                type: Microsoft.Network/routeTables
        Create route table with route:
          parameters:
            api-version: "2018-01-01"
            parameters:
              properties:
                disableBgpRoutePropagation: true
                routes:
                - name: route1
                  properties:
                    addressPrefix: 10.0.3.0/24
                    nextHopType: VirtualNetworkGateway
            resourceGroupName: rg1
            routeTableName: testrt
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt
                location: westus
                name: testrt
                properties:
                  disableBgpRoutePropagation: true
                  provisioningState: Succeeded
                  routes:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt/routes/route1
                    name: route1
                    properties:
                      addressPrefix: 10.0.3.0/24
                      nextHopType: VirtualNetworkGateway
                      provisioningState: Succeeded
                type: Microsoft.Network/routeTables
            201:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt
                location: westus
                name: testrt
                properties:
                  provisioningState: Succeeded
                  routes:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt/routes/route1
                    name: route1
                    properties:
                      addressPrefix: 10.0.3.0/24
                      nextHopType: VirtualNetworkGateway
                      provisioningState: Succeeded
                type: Microsoft.Network/routeTables
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}/routes
  : get:
      description: Gets all routes in a route table.
      operationId: Routes_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the route table.
        in: path
        name: routeTableName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of Route resources.
          schema:
            $ref: '#/definitions/RouteListResult'
      tags:
      - Routes
      x-ms-examples:
        List routes:
          parameters:
            api-version: "2018-01-01"
            resourceGroupName: rg1
            routeTableName: testrt
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt/routes/route1
                  name: route1
                  properties:
                    addressPrefix: 10.0.3.0/24
                    nextHopType: Internet
                    provisioningState: Succeeded
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt/routes/route2
                  name: route2
                  properties:
                    addressPrefix: 10.0.2.0/24
                    nextHopType: VirtualNetworkGateway
                    provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}/routes/{routeName}
  : delete:
      description: Deletes the specified route from a route table.
      operationId: Routes_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the route table.
        in: path
        name: routeTableName
        required: true
        type: string
      - description: The name of the route.
        in: path
        name: routeName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Accepted.
        202:
          description: Accepted and the operation will complete asynchronously.
        204:
          description: Route was deleted or not found.
      tags:
      - Routes
      x-ms-examples:
        Delete route:
          parameters:
            api-version: "2018-01-01"
            resourceGroupName: rg1
            routeName: route1
            routeTableName: testrt
            subscriptionId: subid
          responses:
            200: []
            202: []
            204: []
      x-ms-long-running-operation: true
    get:
      description: Gets the specified route from a route table.
      operationId: Routes_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the route table.
        in: path
        name: routeTableName
        required: true
        type: string
      - description: The name of the route.
        in: path
        name: routeName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the resulting Route
            resource.
          schema:
            $ref: '#/definitions/Route'
      tags:
      - Routes
      x-ms-examples:
        Get route:
          parameters:
            api-version: "2018-01-01"
            resourceGroupName: rg1
            routeName: route1
            routeTableName: testrt
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt/routes/route1
                name: route1
                properties:
                  addressPrefix: 10.0.3.0/24
                  nextHopType: Internet
                  provisioningState: Succeeded
    put:
      description: Creates or updates a route in the specified route table.
      operationId: Routes_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the route table.
        in: path
        name: routeTableName
        required: true
        type: string
      - description: The name of the route.
        in: path
        name: routeName
        required: true
        type: string
      - description: Parameters supplied to the create or update route operation.
        in: body
        name: routeParameters
        required: true
        schema:
          $ref: '#/definitions/Route'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Update successful. The operation returns the resulting Route
            resource.
          schema:
            $ref: '#/definitions/Route'
        201:
          description: Create successful. The operation returns the resulting Route
            resource.
          schema:
            $ref: '#/definitions/Route'
      tags:
      - Routes
      x-ms-examples:
        Create route:
          parameters:
            api-version: "2018-01-01"
            resourceGroupName: rg1
            routeName: route1
            routeParameters:
              properties:
                addressPrefix: 10.0.3.0/24
                nextHopType: VirtualNetworkGateway
            routeTableName: testrt
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt/routes/route1
                name: route1
                properties:
                  addressPrefix: 10.0.3.0/24
                  nextHopType: VirtualNetworkGateway
                  provisioningState: Succeeded
            201:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/routeTables/testrt/routes/route1
                name: route1
                properties:
                  addressPrefix: 10.0.3.0/24
                  nextHopType: VirtualNetworkGateway
                  provisioningState: Succeeded
      x-ms-long-running-operation: true
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:5:\"Route\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:14:\"Route
  resource\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Route
  resource\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"addressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  destination CIDR to which the route applies.\";s:4:\"type\";s:6:\"string\";}s:16:\"nextHopIpAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"The
  IP address packets should be forwarded to. Next hop values are only allowed in routes
  where the next hop type is VirtualAppliance.\";s:4:\"type\";s:6:\"string\";}s:11:\"nextHopType\";O:8:\"stdClass\":4:{s:11:\"description\";s:153:\"The
  type of Azure hop the packet should be sent to. Possible values are: 'VirtualNetworkGateway',
  'VnetLocal', 'Internet', 'VirtualAppliance', and 'None'\";s:4:\"enum\";a:5:{i:0;s:21:\"VirtualNetworkGateway\";i:1;s:9:\"VnetLocal\";i:2;s:8:\"Internet\";i:3;s:16:\"VirtualAppliance\";i:4;s:4:\"None\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"RouteNextHopType\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  provisioning state of the resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"nextHopType\";}}}}s:15:\"RouteListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Response
  for the ListRoute API service call\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Gets
  a list of routes in a resource group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Route\";}s:4:\"type\";s:5:\"array\";}}}s:21:\"RoutePropertiesFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Route
  resource\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"addressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  destination CIDR to which the route applies.\";s:4:\"type\";s:6:\"string\";}s:16:\"nextHopIpAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"The
  IP address packets should be forwarded to. Next hop values are only allowed in routes
  where the next hop type is VirtualAppliance.\";s:4:\"type\";s:6:\"string\";}s:11:\"nextHopType\";O:8:\"stdClass\":4:{s:11:\"description\";s:153:\"The
  type of Azure hop the packet should be sent to. Possible values are: 'VirtualNetworkGateway',
  'VnetLocal', 'Internet', 'VirtualAppliance', and 'None'\";s:4:\"enum\";a:5:{i:0;s:21:\"VirtualNetworkGateway\";i:1;s:9:\"VnetLocal\";i:2;s:8:\"Internet\";i:3;s:16:\"VirtualAppliance\";i:4;s:4:\"None\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"RouteNextHopType\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  provisioning state of the resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"nextHopType\";}}s:10:\"RouteTable\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Common
  resource representation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:21:\"Route
  table resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Gets
  a unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:40:\"#/definitions/RouteTablePropertiesFormat\";s:11:\"description\";s:30:\"Properties
  of the route table.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:20:\"RouteTableListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Response
  for the ListRouteTable API service call.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Gets
  a list of route tables in a resource group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/RouteTable\";}s:4:\"type\";s:5:\"array\";}}}s:26:\"RouteTablePropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Route
  Table resource\";s:10:\"properties\";O:8:\"stdClass\":4:{s:26:\"disableBgpRoutePropagation\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Gets
  or sets whether to disable the routes learned by BGP on that route table. True means
  disable.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  provisioning state of the resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";s:4:\"type\";s:6:\"string\";}s:6:\"routes\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Collection
  of routes contained within a route table.\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reference
  to another subresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:14:\"Route
  resource\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Route
  resource\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"addressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  destination CIDR to which the route applies.\";s:4:\"type\";s:6:\"string\";}s:16:\"nextHopIpAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"The
  IP address packets should be forwarded to. Next hop values are only allowed in routes
  where the next hop type is VirtualAppliance.\";s:4:\"type\";s:6:\"string\";}s:11:\"nextHopType\";O:8:\"stdClass\":4:{s:11:\"description\";s:153:\"The
  type of Azure hop the packet should be sent to. Possible values are: 'VirtualNetworkGateway',
  'VnetLocal', 'Internet', 'VirtualAppliance', and 'None'\";s:4:\"enum\";a:5:{i:0;s:21:\"VirtualNetworkGateway\";i:1;s:9:\"VnetLocal\";i:2;s:8:\"Internet\";i:3;s:16:\"VirtualAppliance\";i:4;s:4:\"None\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"RouteNextHopType\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  provisioning state of the resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"nextHopType\";}}}}s:4:\"type\";s:5:\"array\";}s:7:\"subnets\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"A
  collection of references to subnets.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"./virtualNetwork.json#/definitions/Subnet\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}}"
...
