---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:109:\"Provides create,
  read, update and delete functionality for Azure SQL Database datamasking policies
  and rules.\";s:5:\"title\";s:49:\"Azure SQL Database Datamasking Policies and Rules\";s:7:\"version\";s:10:\"2014-04-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:151:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/dataMasking.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:15:\"sql-dataMasking\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"azure_sql_datamasking\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/{dataMaskingPolicyName}
  : get:
      description: Gets a database data masking policy.
      operationId: DataMaskingPolicies_Get
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/DataMaskingPolicyNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DataMaskingPolicy'
      tags:
      - DataMaskingPolicies
      x-ms-examples:
        Get data masking policy:
          parameters:
            api-version: "2014-04-01"
            dataMaskingPolicyName: Default
            databaseName: sqlcrudtest-331
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-331/dataMaskingPolicies/Default
                kind: ~
                location: Central US
                name: Default
                properties:
                  applicationPrincipals: ""
                  dataMaskingState: Enabled
                  exemptPrincipals: ""
                  maskingLevel: ""
                type: Microsoft.Sql/servers/databases/dataMaskingPolicies
    put:
      description: Creates or updates a database data masking policy
      operationId: DataMaskingPolicies_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/DataMaskingPolicyNameParameter'
      - description: Parameters for creating or updating a data masking policy.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/DataMaskingPolicy'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DataMaskingPolicy'
      tags:
      - DataMaskingPolicies
      x-ms-examples:
        Create or update data masking policy max:
          parameters:
            api-version: "2014-04-01"
            dataMaskingPolicyName: Default
            databaseName: sqlcrudtest-331
            parameters:
              properties:
                dataMaskingState: Enabled
                exemptPrincipals: testuser;
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-331/dataMaskingPolicies/Default
                kind: ~
                location: Central US
                name: Default
                properties:
                  applicationPrincipals: ""
                  dataMaskingState: Enabled
                  exemptPrincipals: testuser;
                  maskingLevel: ""
                type: Microsoft.Sql/servers/databases/dataMaskingPolicies
        Create or update data masking policy min:
          parameters:
            api-version: "2014-04-01"
            dataMaskingPolicyName: Default
            databaseName: sqlcrudtest-331
            parameters:
              properties:
                dataMaskingState: Enabled
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-331/dataMaskingPolicies/Default
                kind: ~
                location: Central US
                name: Default
                properties:
                  applicationPrincipals: ""
                  dataMaskingState: Enabled
                  exemptPrincipals: ""
                  maskingLevel: ""
                type: Microsoft.Sql/servers/databases/dataMaskingPolicies
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/{dataMaskingPolicyName}/rules
  : get:
      description: Gets a list of database data masking rules.
      operationId: DataMaskingRules_ListByDatabase
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/DataMaskingPolicyNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DataMaskingRuleListResult'
      tags:
      - DataMaskingRules
      x-ms-examples:
        List data masking rules:
          parameters:
            api-version: "2014-04-01"
            dataMaskingPolicyName: Default
            databaseName: sqlcrudtest-331
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-6852/databases/sqlcrudtest-331/dataMaskingPolicies/Default/rules/
                  kind: ~
                  location: Central US
                  name: ~
                  properties:
                    aliasName: ~
                    columnName: test1
                    id: dbo_Table_1_test1
                    maskingFunction: Text
                    numberFrom: ~
                    numberTo: ~
                    prefixSize: "1"
                    replacementString: asdf
                    ruleState: Enabled
                    schemaName: dbo
                    suffixSize: "0"
                    tableName: Table_1
                  type: Microsoft.Sql/servers/databases/dataMaskingPolicies/rules
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-6852/databases/sqlcrudtest-331/dataMaskingPolicies/Default/rules/
                  kind: ~
                  location: Central US
                  name: ~
                  properties:
                    aliasName: ~
                    columnName: test1
                    id: dbo_Table_1_test1
                    maskingFunction: Number
                    numberFrom: "0"
                    numberTo: "2"
                    prefixSize: ~
                    replacementString: ~
                    ruleState: Enabled
                    schemaName: dbo
                    suffixSize: ~
                    tableName: Table_1
                  type: Microsoft.Sql/servers/databases/dataMaskingPolicies/rules
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/{dataMaskingPolicyName}/rules/{dataMaskingRuleName}
  : put:
      description: Creates or updates a database data masking rule.
      operationId: DataMaskingRules_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/DataMaskingPolicyNameParameter'
      - description: The name of the data masking rule.
        in: path
        name: dataMaskingRuleName
        required: true
        type: string
      - description: The required parameters for creating or updating a data masking
          rule.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/DataMaskingRule'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DataMaskingRule'
        201:
          description: Created
          schema:
            $ref: '#/definitions/DataMaskingRule'
      tags:
      - DataMaskingRules
      x-ms-examples:
        Create/Update data masking rule for default max:
          parameters:
            api-version: "2014-04-01"
            dataMaskingPolicyName: Default
            dataMaskingRuleName: rule1
            databaseName: sqlcrudtest-331
            parameters:
              properties:
                aliasName: nickname
                columnName: test1
                maskingFunction: Default
                ruleState: Enabled
                schemaName: dbo
                tableName: Table_1
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-6852/databases/sqlcrudtest-331/dataMaskingPolicies/Default/rules/
                kind: ~
                location: Central US
                name: ~
                properties:
                  aliasName: nickname
                  columnName: test1
                  id: dbo_Table_1_test1
                  maskingFunction: Default
                  numberFrom: ~
                  numberTo: ~
                  prefixSize: ~
                  replacementString: ~
                  ruleState: Enabled
                  schemaName: dbo
                  suffixSize: ~
                  tableName: Table_1
                type: Microsoft.Sql/servers/databases/dataMaskingPolicies/rules
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-6852/databases/sqlcrudtest-331/dataMaskingPolicies/Default/rules/
                kind: ~
                location: Central US
                name: ~
                properties:
                  aliasName: nickname
                  columnName: test1
                  id: dbo_Table_1_test1
                  maskingFunction: Default
                  numberFrom: ~
                  numberTo: ~
                  prefixSize: ~
                  replacementString: ~
                  ruleState: Enabled
                  schemaName: dbo
                  suffixSize: ~
                  tableName: Table_1
                type: Microsoft.Sql/servers/databases/dataMaskingPolicies/rules
        Create/Update data masking rule for default min:
          parameters:
            api-version: "2014-04-01"
            dataMaskingPolicyName: Default
            dataMaskingRuleName: rule1
            databaseName: sqlcrudtest-331
            parameters:
              properties:
                columnName: test1
                maskingFunction: Default
                schemaName: dbo
                tableName: Table_1
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-6852/databases/sqlcrudtest-331/dataMaskingPolicies/Default/rules/
                kind: ~
                location: Central US
                name: ~
                properties:
                  aliasName: ~
                  columnName: test1
                  id: dbo_Table_1_test1
                  maskingFunction: Default
                  numberFrom: ~
                  numberTo: ~
                  prefixSize: ~
                  replacementString: ~
                  ruleState: Enabled
                  schemaName: dbo
                  suffixSize: ~
                  tableName: Table_1
                type: Microsoft.Sql/servers/databases/dataMaskingPolicies/rules
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-6852/databases/sqlcrudtest-331/dataMaskingPolicies/Default/rules/
                kind: ~
                location: Central US
                name: ~
                properties:
                  aliasName: ~
                  columnName: test1
                  id: dbo_Table_1_test1
                  maskingFunction: Default
                  numberFrom: ~
                  numberTo: ~
                  prefixSize: ~
                  replacementString: ~
                  ruleState: Enabled
                  schemaName: dbo
                  suffixSize: ~
                  tableName: Table_1
                type: Microsoft.Sql/servers/databases/dataMaskingPolicies/rules
        Create/Update data masking rule for numbers:
          parameters:
            api-version: "2014-04-01"
            dataMaskingPolicyName: Default
            dataMaskingRuleName: rule1
            databaseName: sqlcrudtest-331
            parameters:
              properties:
                columnName: test1
                maskingFunction: Number
                numberFrom: "0"
                numberTo: "2"
                schemaName: dbo
                tableName: Table_1
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-6852/databases/sqlcrudtest-331/dataMaskingPolicies/Default/rules/
                kind: ~
                location: Central US
                name: ~
                properties:
                  aliasName: ~
                  columnName: test1
                  id: dbo_Table_1_test1
                  maskingFunction: Number
                  numberFrom: "0"
                  numberTo: "2"
                  prefixSize: ~
                  replacementString: ~
                  ruleState: Enabled
                  schemaName: dbo
                  suffixSize: ~
                  tableName: Table_1
                type: Microsoft.Sql/servers/databases/dataMaskingPolicies/rules
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-6852/databases/sqlcrudtest-331/dataMaskingPolicies/Default/rules/
                kind: ~
                location: Central US
                name: ~
                properties:
                  aliasName: ~
                  columnName: test1
                  id: dbo_Table_1_test1
                  maskingFunction: Number
                  numberFrom: "0"
                  numberTo: "2"
                  prefixSize: ~
                  replacementString: ~
                  ruleState: Enabled
                  schemaName: dbo
                  suffixSize: ~
                  tableName: Table_1
                type: Microsoft.Sql/servers/databases/dataMaskingPolicies/rules
        Create/Update data masking rule for text:
          parameters:
            api-version: "2014-04-01"
            dataMaskingPolicyName: Default
            dataMaskingRuleName: rule1
            databaseName: sqlcrudtest-331
            parameters:
              properties:
                columnName: test1
                maskingFunction: Text
                prefixSize: "1"
                replacementString: asdf
                schemaName: dbo
                suffixSize: "0"
                tableName: Table_1
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-6852/databases/sqlcrudtest-331/dataMaskingPolicies/Default/rules/
                kind: ~
                location: Central US
                name: ~
                properties:
                  aliasName: ~
                  columnName: test1
                  id: dbo_Table_1_test1
                  maskingFunction: Text
                  numberFrom: ~
                  numberTo: ~
                  prefixSize: "1"
                  replacementString: asdf
                  ruleState: Enabled
                  schemaName: dbo
                  suffixSize: "0"
                  tableName: Table_1
                type: Microsoft.Sql/servers/databases/dataMaskingPolicies/rules
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-6852/databases/sqlcrudtest-331/dataMaskingPolicies/Default/rules/
                kind: ~
                location: Central US
                name: ~
                properties:
                  aliasName: ~
                  columnName: test1
                  id: dbo_Table_1_test1
                  maskingFunction: Text
                  numberFrom: ~
                  numberTo: ~
                  prefixSize: "1"
                  replacementString: asdf
                  ruleState: Enabled
                  schemaName: dbo
                  suffixSize: "0"
                  tableName: Table_1
                type: Microsoft.Sql/servers/databases/dataMaskingPolicies/rules
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:17:\"DataMaskingPolicy\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:19:\"ARM
  proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:42:\"Represents
  a database data masking policy.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  kind of data masking policy. Metadata, used for Azure portal.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  location of the data masking policy.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:41:\"#/definitions/DataMaskingPolicyProperties\";s:11:\"description\";s:42:\"The
  properties of the data masking policy.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:27:\"DataMaskingPolicyProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  properties of a database data masking policy.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"applicationPrincipals\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"The
  list of the application principals. This is a legacy parameter and is no longer
  used.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"dataMaskingState\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"The
  state of the data masking policy.\";s:4:\"enum\";a:2:{i:0;s:8:\"Disabled\";i:1;s:7:\"Enabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:16:\"DataMaskingState\";}}s:16:\"exemptPrincipals\";O:8:\"stdClass\":2:{s:11:\"description\";s:231:\"The
  list of the exempt principals. Specifies the semicolon-separated list of database
  users for which the data masking policy does not apply. The specified users receive
  data results without masking for all of the database queries.\";s:4:\"type\";s:6:\"string\";}s:12:\"maskingLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  masking level. This is a legacy parameter and is no longer used.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:16:\"dataMaskingState\";}}s:15:\"DataMaskingRule\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:19:\"ARM
  proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:40:\"Represents
  a database data masking rule.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  kind of Data Masking Rule. Metadata, used for Azure portal.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  location of the data masking rule.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/DataMaskingRuleProperties\";s:11:\"description\";s:31:\"The
  properties of the resource.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:25:\"DataMaskingRuleListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  response to a list data masking rules request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  list of database data masking rules.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DataMaskingRule\";}s:4:\"type\";s:5:\"array\";}}}s:25:\"DataMaskingRuleProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  properties of a database data masking rule.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:9:\"aliasName\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  alias name. This is a legacy parameter and is no longer used.\";s:4:\"type\";s:6:\"string\";}s:10:\"columnName\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  column name on which the data masking rule is applied.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  rule Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"maskingFunction\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"The
  masking function that is used for the data masking rule.\";s:4:\"enum\";a:6:{i:0;s:7:\"Default\";i:1;s:3:\"CCN\";i:2;s:5:\"Email\";i:3;s:6:\"Number\";i:4;s:3:\"SSN\";i:5;s:4:\"Text\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"DataMaskingFunction\";}}s:10:\"numberFrom\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"The
  numberFrom property of the masking rule. Required if maskingFunction is set to Number,
  otherwise this parameter will be ignored.\";s:4:\"type\";s:6:\"string\";}s:8:\"numberTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"The
  numberTo property of the data masking rule. Required if maskingFunction is set to
  Number, otherwise this parameter will be ignored.\";s:4:\"type\";s:6:\"string\";}s:10:\"prefixSize\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"If
  maskingFunction is set to Text, the number of characters to show unmasked in the
  beginning of the string. Otherwise, this parameter will be ignored.\";s:4:\"type\";s:6:\"string\";}s:17:\"replacementString\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"If
  maskingFunction is set to Text, the character to use for masking the unexposed part
  of the string. Otherwise, this parameter will be ignored.\";s:4:\"type\";s:6:\"string\";}s:9:\"ruleState\";O:8:\"stdClass\":4:{s:11:\"description\";s:312:\"The
  rule state. Used to delete a rule. To delete an existing rule, specify the schemaName,
  tableName, columnName, maskingFunction, and specify ruleState as disabled. However,
  if the rule doesn't already exist, the rule will be created with ruleState set to
  enabled, regardless of the provided value of ruleState.\";s:4:\"enum\";a:2:{i:0;s:8:\"Disabled\";i:1;s:7:\"Enabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:20:\"DataMaskingRuleState\";}}s:10:\"schemaName\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  schema name on which the data masking rule is applied.\";s:4:\"type\";s:6:\"string\";}s:10:\"suffixSize\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"If
  maskingFunction is set to Text, the number of characters to show unmasked at the
  end of the string. Otherwise, this parameter will be ignored.\";s:4:\"type\";s:6:\"string\";}s:9:\"tableName\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  table name on which the data masking rule is applied.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:15:\"maskingFunction\";i:1;s:10:\"schemaName\";i:2;s:9:\"tableName\";i:3;s:10:\"columnName\";}}}"
...
