---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"ApiManagementClient\";s:11:\"description\";s:377:\"Use
  these REST APIs for performing operations on Quota entity associated with your Azure
  API Management deployment. To configure call rate limit and quota policies refer
  to [how to configure call rate limit and quota](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-product-with-rules#a-namepolicies-ato-configure-call-rate-limit-and-quota-policies).\";s:7:\"version\";s:10:\"2018-01-01\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/quotas/{quotaCounterKey}
  : get:
      tags:
      - QuotaByCounterKeys
      operationId: QuotaByCounterKeys_ListByService
      description: Lists a collection of current quota counter periods associated
        with the counter-key configured in the policy on the specified service instance.
        The api does not support paging yet.
      externalDocs:
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-product-with-rules#a-namepolicies-ato-configure-call-rate-limit-and-quota-policies
        description: Document describing how to configure the quota policies.
      x-ms-examples:
        ApiManagementGetQuotaCounteryKeys:
          $ref: ./examples/ApiManagementGetQuotaCounteryKeys.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/QuotaCounterKeyParameter'
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: Lists a collection of the quota counter values.
          schema:
            $ref: '#/definitions/QuotaCounterCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    patch:
      tags:
      - QuotaByCounterKeys
      operationId: QuotaByCounterKeys_Update
      description: Updates all the quota counter values specified with the existing
        quota counter key to a value in the specified service instance. This should
        be used for reset of the quota counter values.
      x-ms-examples:
        ApiManagementUpdateQuotaCounterKey:
          $ref: ./examples/ApiManagementUpdateQuotaCounterKey.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/QuotaCounterKeyParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/QuotaCounterValueContractProperties'
        description: The value of the quota counter to be applied to all quota counter
          periods.
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: Quota counter period was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/quotas/{quotaCounterKey}/periods/{quotaPeriodKey}
  : get:
      tags:
      - QuotaByPeriodKeys
      operationId: QuotaByPeriodKeys_Get
      description: Gets the value of the quota counter associated with the counter-key
        in the policy for the specific period in service instance.
      externalDocs:
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-product-with-rules#a-namepolicies-ato-configure-call-rate-limit-and-quota-policies
        description: Document describing how to configure the quota policies.
      x-ms-examples:
        ApiManagementGetQuotaCounteryKeysByQuotaPeriod:
          $ref: ./examples/ApiManagementGetQuotaCounteryKeysByQuotaPeriod.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/QuotaCounterKeyParameter'
      - $ref: '#/parameters/QuotaPeriodKeyParameter'
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      responses:
        200:
          description: The response body contains the Quota counter details for the
            specified period.
          schema:
            $ref: '#/definitions/QuotaCounterContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    patch:
      tags:
      - QuotaByPeriodKeys
      operationId: QuotaByPeriodKeys_Update
      description: Updates an existing quota counter value in the specified service
        instance.
      x-ms-examples:
        ApiManagementUpdateQuotaCounterKeyByQuotaPeriod:
          $ref: ./examples/ApiManagementUpdateQuotaCounterKeyByQuotaPeriod.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: '#/parameters/QuotaCounterKeyParameter'
      - $ref: '#/parameters/QuotaPeriodKeyParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/QuotaCounterValueContractProperties'
        description: The value of the Quota counter to be applied on the specified
          period.
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        204:
          description: The quota counter value was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:22:\"QuotaCounterCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/QuotaCounterContract\";}s:11:\"description\";s:21:\"Quota
  counter values.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:43:\"Total
  record count number across all pages.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:40:\"Paged Quota Counter list representation.\";}s:20:\"QuotaCounterContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"counterKey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  Key value of the Counter. Must not be empty.\";s:9:\"minLength\";i:1;}s:9:\"periodKey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Identifier
  of the Period for which the counter was collected. Must not be empty.\";s:9:\"minLength\";i:1;}s:15:\"periodStartTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:146:\"The
  date of the start of Counter Period. The date conforms to the following format:
  `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n\";}s:13:\"periodEndTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:144:\"The
  date of the end of Counter Period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ`
  as specified by the ISO 8601 standard.\n\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/QuotaCounterValueContractProperties\";s:11:\"description\";s:22:\"Quota
  Value Properties\";}}s:8:\"required\";a:4:{i:0;s:10:\"counterKey\";i:1;s:9:\"periodKey\";i:2;s:15:\"periodStartTime\";i:3;s:13:\"periodEndTime\";}s:11:\"description\";s:22:\"Quota
  counter details.\";}s:25:\"QuotaCounterValueContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:49:\"#/definitions/QuotaCounterValueContractProperties\";s:11:\"description\";s:31:\"Quota
  counter Value Properties.\";}}s:11:\"description\";s:28:\"Quota counter value details.\";}s:35:\"QuotaCounterValueContractProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"callsCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:35:\"Number
  of times Counter was called.\";}s:13:\"kbTransferred\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:30:\"Data
  Transferred in KiloBytes.\";}}s:11:\"description\";s:28:\"Quota counter value details.\";}}"
...
