---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:118:\"Use these REST
  APIs for performing operations on Email Templates associated with your Azure API
  Management deployment.\";s:5:\"title\";s:19:\"ApiManagementClient\";s:7:\"version\";s:10:\"2018-01-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:178:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/apimemailtemplate.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:31:\"apimanagement-apimemailtemplate\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:37:\"azure_apimanagement_apimemailtemplate\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:23:\"EmailTemplateCollection\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Paged
  email template list representation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Next
  page link if any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Page
  values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/EmailTemplateContract\";}s:4:\"type\";s:5:\"array\";}}}s:21:\"EmailTemplateContract\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  Resource definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Resource
  type for API Management resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:23:\"Email
  Template details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:45:\"#/definitions/EmailTemplateContractProperties\";s:11:\"description\";s:42:\"Email
  Template entity contract properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:31:\"EmailTemplateContractProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Email
  Template Contract properties.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"body\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Email
  Template Body. This should be a valid XDocument\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Description
  of the Email Template.\";s:4:\"type\";s:6:\"string\";}s:9:\"isDefault\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Whether
  the template is the default template provided by Api Management or has been edited.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Email
  Template Parameter values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/EmailTemplateParametersContractProperties\";}s:4:\"type\";s:5:\"array\";}s:7:\"subject\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Subject
  of the Template.\";s:9:\"maxLength\";i:1000;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Title
  of the Template.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"body\";i:1;s:7:\"subject\";}}s:41:\"EmailTemplateParametersContractProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Email
  Template Parameter contract.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":5:{s:11:\"description\";s:31:\"Template
  parameter description.\";s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:7:\"pattern\";s:17:\"^[A-Za-z0-9-._]+$\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":5:{s:11:\"description\";s:24:\"Template
  parameter name.\";s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:7:\"pattern\";s:17:\"^[A-Za-z0-9-._]+$\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Template
  parameter title.\";s:9:\"maxLength\";i:4096;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}}s:38:\"EmailTemplateUpdateParameterProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Email
  Template Update Contract properties.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"body\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Email
  Template Body. This should be a valid XDocument\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Description
  of the Email Template.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Email
  Template Parameter values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/EmailTemplateParametersContractProperties\";}s:4:\"type\";s:5:\"array\";}s:7:\"subject\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Subject
  of the Template.\";s:9:\"maxLength\";i:1000;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Title
  of the Template.\";s:4:\"type\";s:6:\"string\";}}}s:29:\"EmailTemplateUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Email
  Template update Parameters.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:52:\"#/definitions/EmailTemplateUpdateParameterProperties\";s:11:\"description\";s:42:\"Email
  Template Update contract properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}}"
...
