---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"Azure Log Analytics\";s:11:\"description\";s:33:\"Azure
  Log Analytics API reference\";s:7:\"version\";s:18:\"2015-11-01-preview\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/linkedServices/{linkedServiceName}
  : put:
      tags:
      - LinkedServices
      x-ms-examples:
        LinkedServicesCreate:
          $ref: ./examples/LinkedServicesCreate.json
      operationId: LinkedServices_CreateOrUpdate
      description: Create or update a linked service.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: workspaceName
        in: path
        required: true
        type: string
        description: Name of the Log Analytics Workspace that will contain the linkedServices
          resource
      - name: linkedServiceName
        in: path
        required: true
        type: string
        description: Name of the linkedServices resource
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/LinkedService'
        description: The parameters required to create or update a linked service.
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/LinkedService'
        201:
          description: Created response definition.
          schema:
            $ref: '#/definitions/LinkedService'
    delete:
      tags:
      - LinkedServices
      x-ms-examples:
        LinkedServicesDelete:
          $ref: ./examples/LinkedServicesDelete.json
      operationId: LinkedServices_Delete
      description: Deletes a linked service instance.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: workspaceName
        in: path
        required: true
        type: string
        description: Name of the Log Analytics Workspace that contains the linkedServices
          resource
      - name: linkedServiceName
        in: path
        required: true
        type: string
        description: Name of the linked service.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
        204:
          description: NoContent response definition.
    get:
      tags:
      - LinkedServices
      x-ms-examples:
        LinkedServicesGet:
          $ref: ./examples/LinkedServicesGet.json
      operationId: LinkedServices_Get
      description: Gets a linked service instance.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: workspaceName
        in: path
        required: true
        type: string
        description: Name of the Log Analytics Workspace that contains the linkedServices
          resource
      - name: linkedServiceName
        in: path
        required: true
        type: string
        description: Name of the linked service.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/LinkedService'
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/linkedServices
  : get:
      tags:
      - LinkedServices
      x-ms-examples:
        LinkedServicesListByWorkspace:
          $ref: ./examples/LinkedServicesListByWorkspace.json
      operationId: LinkedServices_ListByWorkspace
      description: Gets the linked services instances in a workspace.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: workspaceName
        in: path
        required: true
        type: string
        description: Name of the Log Analytics Workspace that contains the linked
          services.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/LinkedServiceListResult'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/dataSources/{dataSourceName}
  : put:
      tags:
      - DataSources
      x-ms-examples:
        DataSourcesCreate:
          $ref: ./examples/DataSourcesCreate.json
      operationId: DataSources_CreateOrUpdate
      description: Create or update a data source.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: workspaceName
        in: path
        required: true
        type: string
        description: Name of the Log Analytics Workspace that will contain the datasource
      - name: dataSourceName
        in: path
        required: true
        type: string
        description: The name of the datasource resource.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/DataSource'
        description: The parameters required to create or update a datasource.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/DataSource'
        201:
          description: Created response definition.
          schema:
            $ref: '#/definitions/DataSource'
    delete:
      tags:
      - DataSources
      x-ms-examples:
        DataSourcesDelete:
          $ref: ./examples/DataSourcesDelete.json
      operationId: DataSources_Delete
      description: Deletes a data source instance.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: workspaceName
        in: path
        required: true
        type: string
        description: Name of the Log Analytics Workspace that contains the datasource.
      - name: dataSourceName
        in: path
        required: true
        type: string
        description: Name of the datasource.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
        204:
          description: NoContent response definition.
    get:
      tags:
      - DataSources
      x-ms-examples:
        DataSourcesGet:
          $ref: ./examples/DataSourcesGet.json
      operationId: DataSources_Get
      description: Gets a datasource instance.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: workspaceName
        in: path
        required: true
        type: string
        description: Name of the Log Analytics Workspace that contains the datasource.
      - name: dataSourceName
        in: path
        required: true
        type: string
        description: Name of the datasource
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/DataSource'
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/dataSources
  : get:
      tags:
      - DataSources
      x-ms-examples:
        DataSourcesListByWorkspace:
          $ref: ./examples/DataSourcesListByWorkspace.json
      operationId: DataSources_ListByWorkspace
      description: Gets the first page of data source instances in a workspace with
        the link to the next page.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: workspaceName
        in: path
        required: true
        type: string
        description: The workspace that contains the data sources.
      - name: $filter
        in: query
        required: true
        type: string
        description: The filter to apply on the operation.
      - name: $skiptoken
        in: query
        required: false
        type: string
        description: Starting point of the collection of data source instances.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/DataSourceListResult'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: '#/definitions/DataSourceFilter'
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/intelligencePacks/{intelligencePackName}/Disable
  : post:
      tags:
      - Workspaces
      x-ms-examples:
        IntelligencePacksDisable:
          $ref: ./examples/WorkspacesDisableIntelligencePack.json
      operationId: Workspaces_DisableIntelligencePack
      description: Disables an intelligence pack for a given workspace.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: workspaceName
        in: path
        required: true
        type: string
        description: Name of the Log Analytics Workspace.
      - name: intelligencePackName
        in: path
        required: true
        type: string
        description: The name of the intelligence pack to be disabled.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/intelligencePacks/{intelligencePackName}/Enable
  : post:
      tags:
      - Workspaces
      x-ms-examples:
        IntelligencePacksEnable:
          $ref: ./examples/WorkspacesEnableIntelligencePack.json
      operationId: Workspaces_EnableIntelligencePack
      description: Enables an intelligence pack for a given workspace.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: workspaceName
        in: path
        required: true
        type: string
        description: Name of the Log Analytics Workspace.
      - name: intelligencePackName
        in: path
        required: true
        type: string
        description: The name of the intelligence pack to be enabled.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/intelligencePacks
  : get:
      tags:
      - Workspaces
      x-ms-examples:
        IntelligencePacksList:
          $ref: ./examples/WorkspacesListIntelligencePacks.json
      operationId: Workspaces_ListIntelligencePacks
      description: Lists all the intelligence packs possible and whether they are
        enabled or disabled for a given workspace.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: workspaceName
        in: path
        required: true
        type: string
        description: Name of the Log Analytics Workspace.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            type: array
            items:
              $ref: '#/definitions/IntelligencePack'
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/sharedKeys
  : post:
      tags:
      - Workspaces
      x-ms-examples:
        SharedKeysList:
          $ref: ./examples/WorkspacesGetSharedKeys.json
      operationId: Workspaces_GetSharedKeys
      description: Gets the shared keys for a workspace.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: workspaceName
        in: path
        required: true
        type: string
        description: Name of the Log Analytics Workspace.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/SharedKeys'
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/usages
  : get:
      tags:
      - Workspaces
      x-ms-examples:
        UsagesList:
          $ref: ./examples/WorkspacesListUsages.json
      operationId: Workspaces_ListUsages
      description: Gets a list of usage metrics for a workspace.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: workspaceName
        in: path
        required: true
        type: string
        description: The name of the workspace.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/WorkspaceListUsagesResult'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/managementGroups
  : get:
      tags:
      - Workspaces
      x-ms-examples:
        WorkspacesListManagementGroups:
          $ref: ./examples/WorkspacesListManagementGroups.json
      operationId: Workspaces_ListManagementGroups
      description: Gets a list of management groups connected to a workspace.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - name: workspaceName
        in: path
        required: true
        type: string
        description: The name of the workspace.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/WorkspaceListManagementGroupsResult'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces:
    get:
      tags:
      - Workspaces
      x-ms-examples:
        WorkspacesGet:
          $ref: ./examples/WorkspacesListByResourceGroup.json
      operationId: Workspaces_ListByResourceGroup
      description: Gets workspaces in a resource group.
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/WorkspaceListResult'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/providers/Microsoft.OperationalInsights/workspaces:
    get:
      tags:
      - Workspaces
      x-ms-examples:
        WorkspacesSubscriptionList:
          $ref: ./examples/WorkspacesSubscriptionList.json
      operationId: Workspaces_List
      description: Gets the workspaces in a subscription.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/WorkspaceListResult'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}
  : put:
      tags:
      - Workspaces
      x-ms-examples:
        WorkspacesCreate:
          $ref: ./examples/WorkspacesCreate.json
      operationId: Workspaces_CreateOrUpdate
      description: Create or update a workspace.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The resource group name of the workspace.
      - name: workspaceName
        in: path
        required: true
        type: string
        pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
        minLength: 4
        maxLength: 63
        description: The name of the workspace.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Workspace'
        description: The parameters required to create or update a workspace.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/Workspace'
        201:
          description: Created response definition.
          schema:
            $ref: '#/definitions/Workspace'
      x-ms-long-running-operation: true
    delete:
      tags:
      - Workspaces
      x-ms-examples:
        WorkspacesDelete:
          $ref: ./examples/WorkspacesDelete.json
      operationId: Workspaces_Delete
      description: Deletes a workspace instance.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The resource group name of the workspace.
      - name: workspaceName
        in: path
        required: true
        type: string
        description: Name of the Log Analytics Workspace.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
        204:
          description: NoContent response definition.
    get:
      tags:
      - Workspaces
      x-ms-examples:
        WorkspaceGet:
          $ref: ./examples/WorkspacesGet.json
      operationId: Workspaces_Get
      description: Gets a workspace instance.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The resource group name of the workspace.
      - name: workspaceName
        in: path
        required: true
        type: string
        description: Name of the Log Analytics Workspace.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/Workspace'
    patch:
      tags:
      - Workspaces
      x-ms-examples:
        WorkspacesPatch:
          $ref: ./examples/WorkspacesUpdate.json
      operationId: Workspaces_Update
      description: Updates a workspace.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The resource group name of the workspace.
      - name: workspaceName
        in: path
        required: true
        type: string
        pattern: ^[A-Za-z0-9][A-Za-z0-9-]+[A-Za-z0-9]$
        minLength: 4
        maxLength: 63
        description: The name of the workspace.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Workspace'
        description: The parameters required to patch a workspace.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The existing workspace was successfully updated. Check provisioningStatus
            to see detailed status.
          schema:
            $ref: '#/definitions/Workspace'
  /providers/Microsoft.OperationalInsights/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      description: Lists all of the available OperationalInsights Rest API operations.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/OperationListResult'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":24:{s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Result
  of the request to list solution operations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:11:\"description\";s:84:\"List
  of solution operations supported by the OperationsManagement resource provider.\";}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";}}}s:9:\"Operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Supported
  operation of OperationalInsights resource provider.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Operation
  name: {provider}/{resource}/{operation}\";s:4:\"type\";s:6:\"string\";}s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Display
  metadata associated with the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Service
  provider: Microsoft OperationsManagement.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Resource
  on which the operation is performed etc.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Type
  of operation: get, read, delete, etc.\";s:4:\"type\";s:6:\"string\";}}}}}s:23:\"LinkedServiceProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"resourceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"The
  resource id of the resource that will be linked to the workspace.\";}}s:8:\"required\";a:1:{i:0;s:10:\"resourceId\";}s:11:\"description\";s:26:\"Linked
  service properties.\";}s:13:\"LinkedService\";O:8:\"stdClass\":5:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:37:\"#/definitions/LinkedServiceProperties\";s:11:\"description\";s:37:\"The
  properties of the linked service.\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:48:\"The
  top level Linked service resource container.\";s:19:\"x-ms-azure-resource\";b:1;}s:23:\"LinkedServiceListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LinkedService\";}s:11:\"description\";s:48:\"Gets
  or sets a list of linked service instances.\";}}s:11:\"description\";s:43:\"The
  list linked service operation response.\";}s:14:\"DataSourceKind\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:15:{i:0;s:16:\"AzureActivityLog\";i:1;s:18:\"ChangeTrackingPath\";i:2;s:25:\"ChangeTrackingDefaultPath\";i:3;s:29:\"ChangeTrackingDefaultRegistry\";i:4;s:28:\"ChangeTrackingCustomRegistry\";i:5;s:9:\"CustomLog\";i:6;s:19:\"CustomLogCollection\";i:7;s:17:\"GenericDataSource\";i:8;s:7:\"IISLogs\";i:9;s:22:\"LinuxPerformanceObject\";i:10;s:26:\"LinuxPerformanceCollection\";i:11;s:11:\"LinuxSyslog\";i:12;s:21:\"LinuxSyslogCollection\";i:13;s:12:\"WindowsEvent\";i:14;s:25:\"WindowsPerformanceCounter\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"DataSourceKind\";s:13:\"modelAsString\";b:1;}s:11:\"description\";s:27:\"The
  kind of the DataSource.\";}s:10:\"DataSource\";O:8:\"stdClass\":5:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:93:\"The
  data source properties in raw json format, each kind of data source have it's own
  schema.\";}s:4:\"eTag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  ETag of the data source.\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DataSourceKind\";}}s:8:\"required\";a:2:{i:0;s:4:\"kind\";i:1;s:10:\"properties\";}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:32:\"Datasources
  under OMS Workspace.\";s:19:\"x-ms-azure-resource\";b:1;}s:16:\"DataSourceFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DataSourceKind\";}}s:11:\"description\";s:63:\"DataSource
  filter. Right now, only filter by kind is supported.\";}s:20:\"DataSourceListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DataSource\";}s:11:\"description\";s:22:\"A
  list of datasources.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  link (url) to the next page of datasources.\";}}s:11:\"description\";s:53:\"The
  list data source by workspace operation response.\";}s:16:\"IntelligencePack\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name of the intelligence pack.\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:46:\"The
  enabled boolean for the intelligence pack.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  display name of the intelligence pack.\";}}s:11:\"description\";s:82:\"Intelligence
  Pack containing a string name and boolean indicating if it's enabled.\";}s:10:\"SharedKeys\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"primarySharedKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  primary shared key of a workspace.\";}s:18:\"secondarySharedKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  secondary shared key of a workspace.\";}}s:11:\"description\";s:32:\"The shared
  keys for a workspace.\";}s:10:\"MetricName\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  system name of the metric.\";}s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  localized name of the metric.\";}}s:11:\"description\";s:21:\"The name of a metric.\";}s:11:\"UsageMetric\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:23:\"The
  name of the metric.\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  units used for the metric.\";}s:12:\"currentValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:32:\"The
  current value of the metric.\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:31:\"The
  quota limit for the metric.\";}s:13:\"nextResetTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:44:\"The
  time that the metric's value will reset.\";}s:11:\"quotaPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"The
  quota period that determines the length of time between value resets.\";}}s:11:\"description\";s:44:\"A
  metric describing the usage of a resource.\";}s:25:\"WorkspaceListUsagesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UsageMetric\";}s:11:\"description\";s:53:\"Gets
  or sets a list of usage metrics for a workspace.\";}}s:11:\"description\";s:45:\"The
  list workspace usages operation response.\";}s:25:\"ManagementGroupProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"serverCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:56:\"The
  number of servers connected to the management group.\";}s:9:\"isGateway\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:74:\"Gets
  or sets a value indicating whether the management group is a gateway.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  name of the management group.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  unique ID of the management group.\";}s:7:\"created\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"The
  datetime that the management group was created.\";}s:12:\"dataReceived\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:58:\"The
  last datetime that the management group received data.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  version of System Center that is managing the management group.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  SKU of System Center that is managing the management group.\";}}s:11:\"description\";s:28:\"Management
  group properties.\";}s:15:\"ManagementGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:39:\"#/definitions/ManagementGroupProperties\";s:11:\"description\";s:39:\"The
  properties of the management group.\";}}s:11:\"description\";s:51:\"A management
  group that is connected to a workspace\";}s:35:\"WorkspaceListManagementGroupsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ManagementGroup\";}s:11:\"description\";s:67:\"Gets
  or sets a list of management groups attached to the workspace.\";}}s:11:\"description\";s:56:\"The
  list workspace management groups operation response.\";}s:3:\"Sku\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  name of the SKU.\";s:4:\"enum\";a:7:{i:0;s:4:\"Free\";i:1;s:8:\"Standard\";i:2;s:7:\"Premium\";i:3;s:9:\"Unlimited\";i:4;s:7:\"PerNode\";i:5;s:9:\"PerGB2018\";i:6;s:10:\"Standalone\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"SkuNameEnum\";s:13:\"modelAsString\";b:1;}}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:11:\"description\";s:30:\"The
  SKU (tier) of a workspace.\";}s:19:\"WorkspaceProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"provisioningState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  provisioning state of the workspace.\";s:4:\"enum\";a:6:{i:0;s:8:\"Creating\";i:1;s:9:\"Succeeded\";i:2;s:6:\"Failed\";i:3;s:8:\"Canceled\";i:4;s:8:\"Deleting\";i:5;s:19:\"ProvisioningAccount\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"EntityStatus\";s:13:\"modelAsString\";b:1;}}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:262:\"The
  source of the workspace.  Source defines where the workspace was created. 'Azure'
  implies it was created in Azure.  'External' implies it was created via the Operational
  Insights Portal. This value is set on the service side and read-only on the client
  side.\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:148:\"The
  ID associated with the workspace.  Setting this value at creation time allows the
  workspace being created to be linked to an existing workspace.\";}s:9:\"portalUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:135:\"The
  URL of the Operational Insights portal for this workspace.  This value is set on
  the service side and read-only on the client side.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:25:\"The
  SKU of the workspace.\";}s:15:\"retentionInDays\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:-1;s:7:\"maximum\";i:730;s:11:\"description\";s:142:\"The
  workspace data retention in days. -1 means Unlimited retention for the Unlimited
  Sku. 730 days is the maximum allowed for all other Skus. \";}}s:11:\"description\";s:21:\"Workspace
  properties.\";}s:9:\"Workspace\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:33:\"#/definitions/WorkspaceProperties\";s:11:\"description\";s:21:\"Workspace
  properties.\";}s:4:\"eTag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  ETag of the workspace.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:43:\"The
  top level Workspace resource container.\";s:19:\"x-ms-azure-resource\";b:1;}s:19:\"WorkspaceListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Workspace\";}s:11:\"description\";s:21:\"A
  list of workspaces.\";}}s:11:\"description\";s:39:\"The list workspaces operation
  response.\";}s:6:\"Object\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:11:\"JSON
  object\";}s:8:\"Resource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Resource
  Id\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Resource
  name\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Resource
  type\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Resource
  location\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}}s:11:\"description\";s:24:\"The resource definition.\";s:19:\"x-ms-azure-resource\";b:1;}s:13:\"ProxyResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  ID.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  type.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}}s:11:\"description\";s:36:\"Common properties of proxy resource.\";}}"
...
