---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:91:\"Azure Log Analytics
  API reference for LinkTargets, StorageInsightConfigs and SavedSearches.\";s:5:\"title\";s:19:\"Azure
  Log Analytics\";s:7:\"version\";s:10:\"2015-03-20\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"analytics\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:135:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-operationalinsights/2015-03-20/swagger/OperationalInsights.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:23:\"arm-operationalinsights\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:29:\"azure_arm_operationalinsights\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.OperationalInsights/linkTargets:
    get:
      description: Get a list of workspaces which the current user has administrator
        privileges and are not associated with an Azure Subscription. The subscriptionId
        parameter in the Url is ignored.
      operationId: Workspaces_ListLinkTargets
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            items:
              $ref: '#/definitions/LinkTarget'
            type: array
      tags:
      - Workspaces
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/savedSearches
  : get:
      description: Gets the saved searches for a given Log Analytics Workspace
      operationId: SavedSearches_ListByWorkspace
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: Log Analytics workspace name
        in: path
        name: workspaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/SavedSearchesListResult'
      tags:
      - SavedSearches
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/savedSearches/{savedSearchName}
  : delete:
      description: Deletes the specified saved search in a given workspace.
      operationId: SavedSearches_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: Log Analytics workspace name
        in: path
        name: workspaceName
        required: true
        type: string
      - description: Name of the saved search.
        in: path
        name: savedSearchName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
      tags:
      - SavedSearches
    get:
      description: Gets the specified saved search for a given workspace.
      operationId: SavedSearches_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: Log Analytics workspace name
        in: path
        name: workspaceName
        required: true
        type: string
      - description: The id of the saved search.
        in: path
        name: savedSearchName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/SavedSearch'
      tags:
      - SavedSearches
    put:
      description: Creates or updates a saved search for a given workspace.
      operationId: SavedSearches_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: Log Analytics workspace name
        in: path
        name: workspaceName
        required: true
        type: string
      - description: The id of the saved search.
        in: path
        name: savedSearchName
        required: true
        type: string
      - description: The parameters required to save a search.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/SavedSearch'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/SavedSearch'
      tags:
      - SavedSearches
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/savedSearches/{savedSearchName}/results
  : get:
      description: Gets the results from a saved search for a given workspace.
      operationId: SavedSearches_GetResults
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: Log Analytics workspace name
        in: path
        name: workspaceName
        required: true
        type: string
      - description: The name of the saved search.
        in: path
        name: savedSearchName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/SearchResultsResponse'
      tags:
      - SavedSearches
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/schema
  : post:
      description: Gets the schema for a given workspace.
      operationId: Workspaces_GetSchema
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: Log Analytics workspace name
        in: path
        name: workspaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/SearchGetSchemaResponse'
      tags:
      - Workspaces
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/search
  : post:
      description: 'Submit a search for a given workspace. The response will contain
        an id to track the search. User can use the id to poll the search status and
        get the full search result later if the search takes long time to finish. '
      operationId: Workspaces_GetSearchResults
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: Log Analytics workspace name
        in: path
        name: workspaceName
        required: true
        type: string
      - description: The parameters required to execute a search query.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/SearchParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/SearchResultsResponse'
        202:
          description: Accepted response definition
      tags:
      - Workspaces
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/search/{id}
  : post:
      description: Gets updated search results for a given search query.
      operationId: Workspaces_UpdateSearchResults
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: Log Analytics workspace name
        in: path
        name: workspaceName
        required: true
        type: string
      - description: The id of the search that will have results updated. You can
          get the id from the response of the GetResults call.
        in: path
        name: id
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/SearchResultsResponse'
      tags:
      - Workspaces
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/storageInsightConfigs
  : get:
      description: Lists the storage insight instances within a workspace
      operationId: StorageInsights_ListByWorkspace
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: Log Analytics Workspace name that will contain the storageInsightsConfigs
          resource
        in: path
        name: workspaceName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/StorageInsightListResult'
      tags:
      - StorageInsights
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/storageInsightConfigs/{storageInsightName}
  : delete:
      description: Deletes a storageInsightsConfigs resource
      operationId: StorageInsights_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: Log Analytics Workspace name that contains the storageInsightsConfigs
          resource
        in: path
        name: workspaceName
        required: true
        type: string
      - description: Name of the storageInsightsConfigs resource
        in: path
        name: storageInsightName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
        204:
          description: NoContent response definition.
      tags:
      - StorageInsights
    get:
      description: Gets a storage insight instance.
      operationId: StorageInsights_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: Log Analytics Workspace name that contains the storageInsightsConfigs
          resource
        in: path
        name: workspaceName
        required: true
        type: string
      - description: Name of the storageInsightsConfigs resource
        in: path
        name: storageInsightName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/StorageInsight'
      tags:
      - StorageInsights
    put:
      description: Create or update a storage insight.
      operationId: StorageInsights_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: Log Analytics Workspace name that will contain the storageInsightsConfigs
          resource
        in: path
        name: workspaceName
        required: true
        type: string
      - description: Name of the storageInsightsConfigs resource
        in: path
        name: storageInsightName
        required: true
        type: string
      - description: The parameters required to create or update a storage insight.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/StorageInsight'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/StorageInsight'
        201:
          description: Created response definition.
          schema:
            $ref: '#/definitions/StorageInsight'
      tags:
      - StorageInsights
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":22:{s:11:\"CoreSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  core summary of a search.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"NumberOfDocuments\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  number of documents of a core summary.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  status of a core summary.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:17:\"NumberOfDocuments\";}}s:10:\"LinkTarget\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Metadata
  for a workspace that isn't linked to an Azure subscription.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"accountName\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  display name of the workspace.\";s:4:\"type\";s:6:\"string\";s:16:\"x-ms-client-name\";s:11:\"DisplayName\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  GUID that uniquely identifies the workspace. \";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  location of the workspace.\";s:4:\"type\";s:6:\"string\";}s:13:\"workspaceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  DNS valid workspace name.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"ProxyResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Common
  properties of proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  resource definition.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Resource
  Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Resource
  location\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:11:\"SavedSearch\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Value
  object for saved search results.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  etag of the saved search.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  id of the saved search.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/SavedSearchProperties\";s:11:\"description\";s:44:\"Gets
  or sets properties of the saved search.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:21:\"SavedSearchProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Value
  object for saved search results.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"Category\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"The
  category of the saved search. This helps the user to find a saved search faster.
  \";s:4:\"type\";s:6:\"string\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Saved
  search display name.\";s:4:\"type\";s:6:\"string\";}s:5:\"Query\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"The
  query expression for the saved search. Please see https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-search-reference
  for reference.\";s:4:\"type\";s:6:\"string\";}s:4:\"Tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  tags attached to the saved search.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:4:\"type\";s:5:\"array\";}s:7:\"Version\";O:8:\"stdClass\":5:{s:11:\"description\";s:71:\"The
  version number of the query lanuage. Only verion 1 is allowed here.\";s:6:\"format\";s:5:\"int64\";s:7:\"maximum\";i:1;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:4:{i:0;s:8:\"Category\";i:1;s:11:\"DisplayName\";i:2;s:5:\"Query\";i:3;s:7:\"Version\";}}s:23:\"SavedSearchesListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  saved search operation response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"__metadata\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/SearchMetadata\";s:11:\"description\";s:33:\"The
  metadata from search results.\";s:16:\"x-ms-client-name\";s:8:\"Metadata\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  array of result values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SavedSearch\";}s:4:\"type\";s:5:\"array\";}}}s:11:\"SearchError\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Details
  for a search error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  error message.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  error type.\";s:4:\"type\";s:6:\"string\";}}}s:23:\"SearchGetSchemaResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  get schema operation response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"__metadata\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/SearchMetadata\";s:11:\"description\";s:33:\"The
  metadata from search results.\";s:16:\"x-ms-client-name\";s:8:\"Metadata\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  array of result values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SearchSchemaValue\";}s:4:\"type\";s:5:\"array\";}}}s:15:\"SearchHighlight\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Highlight
  details.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"post\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  string that is put after a matched result.\";s:4:\"type\";s:6:\"string\";}s:3:\"pre\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  string that is put before a matched result.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"SearchMetadata\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Metadata
  for search results.\";s:10:\"properties\";O:8:\"stdClass\":17:{s:13:\"CoreSummaries\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  core summaries.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CoreSummary\";}s:4:\"type\";s:5:\"array\";}s:4:\"ETag\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  ETag of the search results.\";s:4:\"type\";s:6:\"string\";}s:11:\"LastUpdated\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  time of last update.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"RequestId\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  request id of the search.\";s:4:\"type\";s:6:\"string\";s:16:\"x-ms-client-name\";s:8:\"SearchId\";}s:9:\"StartTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  start time for the search.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  status of the search results.\";s:4:\"type\";s:6:\"string\";}s:24:\"aggregatedGroupingFields\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  aggregated grouping fields.\";s:4:\"type\";s:6:\"string\";}s:20:\"aggregatedValueField\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  aggregated value field.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  id of the search results request.\";s:4:\"type\";s:6:\"string\";}s:3:\"max\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  max of all aggregates returned in the result set.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"requestTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  request time.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"resultType\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  search result type.\";s:4:\"type\";s:6:\"string\";}s:6:\"schema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/SearchMetadataSchema\";s:11:\"description\";s:11:\"The
  schema.\";}s:4:\"sort\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"How the
  results are sorted.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SearchSort\";}s:4:\"type\";s:5:\"array\";}s:3:\"sum\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  sum of all aggregates returned in the result set.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"top\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  number of top search results.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  total number of search results.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:20:\"SearchMetadataSchema\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Schema
  metadata for search.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  name of the metadata schema.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  version of the metadata schema.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:16:\"SearchParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Parameters
  specifying the search query and range.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  end date filter, so the only query results returned are before this date.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"highlight\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SearchHighlight\";s:11:\"description\";s:56:\"The
  highlight that looks for all occurences of a string.\";}s:5:\"query\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  query to search.\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  start date filter, so the only query results returned are after this date.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"top\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  number to get from the top.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:5:\"query\";}}s:21:\"SearchResultsResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  get search result operation response.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"__metadata\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/SearchMetadata\";s:11:\"description\";s:33:\"The
  metadata from search results.\";s:16:\"x-ms-client-name\";s:8:\"Metadata\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SearchError\";s:11:\"description\";s:10:\"The
  error.\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The id of the
  search, which includes the full url.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  array of result values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"SearchSchemaValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Value
  object for schema results.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  display name of the schema.\";s:4:\"type\";s:6:\"string\";}s:5:\"facet\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  boolean that indicates whether or not the field is a facet.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"indexed\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  boolean that indicates the field is searchable as free text.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the schema.\";s:4:\"type\";s:6:\"string\";}s:9:\"ownerType\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  array of workflows containing the field.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"stored\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  boolean that indicates whether or not the field is stored.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"The
  type.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"facet\";i:1;s:6:\"stored\";i:2;s:7:\"indexed\";}}s:10:\"SearchSort\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  sort parameters for search.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  name of the field the search query is sorted on.\";s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"The
  sort order of the search.\";s:4:\"enum\";a:2:{i:0;s:3:\"asc\";i:1;s:4:\"desc\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:14:\"SearchSortEnum\";}}}}s:14:\"StorageAccount\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  a storage account connection.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  Azure Resource Manager ID of the storage account resource.\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  storage account key.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:3:\"key\";}}s:14:\"StorageInsight\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:49:\"The
  top level storage insight resource container.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"eTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  ETag of the storage insight.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:38:\"#/definitions/StorageInsightProperties\";s:11:\"description\";s:27:\"Storage
  insight properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:24:\"StorageInsightListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  list storage insights operation response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"@odata.nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:4:\"type\";s:6:\"string\";s:16:\"x-ms-client-name\";s:13:\"odataNextLink\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Gets
  or sets a list of storage insight instances.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/StorageInsight\";}s:4:\"type\";s:5:\"array\";}}}s:24:\"StorageInsightProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Storage
  insight properties.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"containers\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  names of the blob containers that the workspace should read\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:34:\"#/definitions/StorageInsightStatus\";s:11:\"description\";s:33:\"The
  status of the storage insight\";s:8:\"readOnly\";b:1;}s:14:\"storageAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StorageAccount\";s:11:\"description\";s:38:\"The
  storage account connection details\";}s:6:\"tables\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  names of the Azure tables that the workspace should read\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:14:\"storageAccount\";}}s:20:\"StorageInsightStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  status of the storage insight.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Description
  of the state of the storage insight.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"The
  state of the storage insight connection to the workspace\";s:4:\"enum\";a:2:{i:0;s:2:\"OK\";i:1;s:5:\"ERROR\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:19:\"StorageInsightState\";}}}s:8:\"required\";a:1:{i:0;s:5:\"state\";}}s:3:\"Tag\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  tag of a saved search.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  tag name.\";s:4:\"type\";s:6:\"string\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  tag value.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:5:\"Value\";}}}"
...
