---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:106:\"Consumption management
  client provides access to consumption resources for Azure Enterprise Subscriptions.\";s:5:\"title\";s:27:\"ConsumptionManagementClient\";s:7:\"version\";s:10:\"2018-01-31\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:167:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-01-31/consumption.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:11:\"consumption\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"azure_consumption\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":29:{s:6:\"Budget\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:18:\"A
  budget resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/BudgetProperties\";s:5:\"title\";s:17:\"Budget
  properties\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:16:\"BudgetProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  properties of the budget.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  total amount of cost to track with the budget\";s:6:\"format\";s:7:\"decimal\";s:4:\"type\";s:6:\"number\";}s:8:\"category\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"The
  category of the budget, whether the budget tracks cost or usage.\";s:4:\"enum\";a:2:{i:0;s:4:\"Cost\";i:1;s:5:\"Usage\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"CategoryType\";}}s:12:\"currentSpend\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/CurrentSpend\";s:11:\"description\";s:63:\"The
  current amount of cost which is being tracked for a budget.\";s:8:\"readOnly\";b:1;}s:7:\"filters\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:21:\"#/definitions/Filters\";s:11:\"description\";s:68:\"May
  be used to filter budgets by resource group, resource, or meter.\";s:4:\"type\";s:6:\"object\";}s:13:\"notifications\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Notification\";s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:97:\"Dictionary
  of notifications associated with the budget. Budget can have up to five notifications.\";s:8:\"maxItems\";i:5;s:4:\"type\";s:6:\"object\";}s:9:\"timeGrain\";O:8:\"stdClass\":4:{s:11:\"description\";s:91:\"The
  time covered by a budget. Tracking of the amount will be reset based on the time
  grain.\";s:4:\"enum\";a:3:{i:0;s:7:\"Monthly\";i:1;s:9:\"Quarterly\";i:2;s:8:\"Annually\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"TimeGrainType\";}}s:10:\"timePeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BudgetTimePeriod\";s:11:\"description\";s:333:\"Has
  start and end date of the budget. The start date must be first of the month and
  should be less than the end date. Budget start date must be on or after June 1,
  2017. Future start date should not be more than three months. Past start date should
  \ be selected within the timegrain preiod. There are no restrictions on the end
  date.\";}}s:8:\"required\";a:4:{i:0;s:8:\"category\";i:1;s:6:\"amount\";i:2;s:9:\"timeGrain\";i:3;s:10:\"timePeriod\";}}s:16:\"BudgetTimePeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  start and end date for a budget.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"endDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  end date for the budget. If not provided, we default this to 10 years from the start
  date.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  start date for the budget.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:9:\"startDate\";}}s:17:\"BudgetsListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Result
  of listing budgets. It contains a list of available budgets in the scope provided.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  list of budgets.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Budget\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:12:\"CurrentSpend\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  current amount of cost which is being tracked for a budget.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  total amount of cost which is being tracked by the budget.\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:4:\"unit\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  unit of measure for the budget amount.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:12:\"ErrorDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  details of the error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Error
  code.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Error
  response indicates that the service is not able to process the incoming request.
  The reason is provided in the error message.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorDetails\";s:11:\"description\";s:25:\"The
  details of the error.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Filters\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"May
  be used to filter budgets by resource group, resource, or meter.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"meters\";O:8:\"stdClass\":5:{s:11:\"description\";s:72:\"The
  list of filters on meters, mandatory for budgets of usage category. \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:14:\"resourceGroups\";O:8:\"stdClass\":5:{s:11:\"description\";s:75:\"The
  list of filters on resource groups, allowed at subscription level only.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:9:\"resources\";O:8:\"stdClass\":5:{s:11:\"description\";s:33:\"The
  list of filters on resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}}}s:11:\"Marketplace\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:24:\"An
  marketplace resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/MarketplaceProperties\";s:5:\"title\";s:22:\"Marketplace
  properties\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:21:\"MarketplaceProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  properties of the marketplace usage detail.\";s:10:\"properties\";O:8:\"stdClass\":24:{s:11:\"accountName\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Account
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:20:\"additionalProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Additional
  details of this usage item. By default this is not populated, unless it's specified
  in $expand.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"billingPeriodId\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  id of the billing period resource that the usage belongs to.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"consumedQuantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  quantity of usage.\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:15:\"consumedService\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Consumed
  service name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"costCenter\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  cost center of this department if it is a department and a costcenter exists\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  ISO currency in which the meter is charged, for example, USD.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"departmentName\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Department
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"instanceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  uri of the resource instance that the usage is about.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"instanceName\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  name of the resource instance that the usage is about.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"isEstimated\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  estimated usage is subject to change.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:7:\"meterId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  meter id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"offerName\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  type of offer.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"orderNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  order number.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"planName\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  name of plan.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"pretaxCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  amount of cost before tax.\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:13:\"publisherName\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  name of publisher.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"resourceGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  name of resource group.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"resourceRate\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  marketplace resource rate.\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:16:\"subscriptionGuid\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Subscription
  guid.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"subscriptionName\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Subscription
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"unitOfMeasure\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  unit of measure.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"usageEnd\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  end of the date time range covered by the usage detail.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"usageStart\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  start of the date time range covered by the usage detail.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"MarketplacesListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"Result
  of listing marketplaces. It contains a list of available marketplaces in reverse
  chronological order by billing period.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  list of marketplaces.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Marketplace\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"MeterDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  properties of the meter detail.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"meterCategory\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  category of the meter, for example, 'Cloud services', 'Networking', etc..\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"meterLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  location in which the Azure service is available.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"meterName\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  name of the meter, within the given meter category\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"meterSubCategory\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  subcategory of the meter, for example, 'A6 Cloud services', 'ExpressRoute (IXP)',
  etc..\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"pretaxStandardRate\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  pretax listing price.\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:21:\"totalIncludedQuantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  total included quantity associated with the offer.\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:4:\"unit\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  unit in which the meter consumption is charged, for example, 'Hours', 'GB', etc.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:12:\"Notification\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  notification associated with a budget.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"contactEmails\";O:8:\"stdClass\":5:{s:11:\"description\";s:82:\"Email
  addresses to send the budget notification to when the threshold is exceeded.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:13:\"contactGroups\";O:8:\"stdClass\":5:{s:11:\"description\";s:80:\"Action
  groups to send the budget notification to when the threshold is exceeded.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:12:\"contactRoles\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Contact
  roles to send the budget notification to when the threshold is exceeded.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  notification is enabled or not.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  comparison operator.\";s:4:\"enum\";a:3:{i:0;s:7:\"EqualTo\";i:1;s:11:\"GreaterThan\";i:2;s:20:\"GreaterThanOrEqualTo\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"OperatorType\";}}s:9:\"threshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"Threshold
  value associated with a notification. Notification is sent when the cost exceeded
  the threshold. It is always percent and has to be between 0 and 1000.\";s:6:\"format\";s:7:\"decimal\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:4:{i:0;s:7:\"enabled\";i:1;s:8:\"operator\";i:2;s:9:\"threshold\";i:3;s:13:\"contactEmails\";}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  Consumption REST API operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  object that represents the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Operation
  type: Read, write, delete, etc.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Service
  provider: Microsoft.Consumption.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Resource
  on which the operation is performed: UsageDetail, etc.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Operation
  name: {provider}/{resource}/{operation}.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"Result
  of listing consumption operations. It contains a list of operations and a URL link
  to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"List
  of consumption operations supported by the Microsoft.Consumption resource provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:15:\"PriceSheetModel\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"price
  sheet result. It contains the pricesheet associated with billing period\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"pricesheets\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Price
  sheet\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PriceSheetProperties\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:20:\"PriceSheetProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  properties of the price sheet.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"billingPeriodId\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  id of the billing period resource that the usage belongs to.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"currencyCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Currency
  Code\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"includedQuantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Included
  quality for an offer\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:12:\"meterDetails\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/MeterDetails\";s:11:\"description\";s:96:\"The
  details about the meter. By default this is not populated, unless it's specified
  in $expand.\";s:8:\"readOnly\";b:1;}s:7:\"meterId\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  meter id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"partNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Part
  Number\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"unitOfMeasure\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Unit
  of measure\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"unitPrice\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"Unit
  Price\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}}s:16:\"PriceSheetResult\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:23:\"An
  pricesheet resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:29:\"#/definitions/PriceSheetModel\";s:5:\"title\";s:22:\"Price
  sheet properties\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:13:\"ProxyResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  Resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"eTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:153:\"eTag
  of the resource. To handle concurrent update scenarion, this field will be used
  to determine whether the user is updating the latest version or not.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:18:\"ReservationDetails\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:29:\"reservation
  details resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:42:\"#/definitions/ReservationDetailsProperties\";s:5:\"title\";s:30:\"Reservation
  Details properties\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:28:\"ReservationDetailsListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Result
  of listing reservation details.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  list of reservation details.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ReservationDetails\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:28:\"ReservationDetailsProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  properties of the reservation details.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"instanceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"This
  identifier is the name of the resource or the fully qualified Resource ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"reservationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:240:\"The
  reservation ID is the identifier of a reservation within a reservation order. Each
  reservation is the grouping for applying the benefit scope and also specifies the
  number of instances to which the reservation benefit can be applied to.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"reservationOrderId\";O:8:\"stdClass\":3:{s:11:\"description\";s:258:\"The
  reservation order ID is the identifier for a reservation purchase. Each reservation
  order ID represents a single purchase transaction. A reservation order contains
  reservations. The reservation order specifies the VM size and region for the reservations.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"reservedHours\";O:8:\"stdClass\":4:{s:11:\"description\";s:168:\"This
  is the total hours reserved for the day. E.g. if reservation for 1 instance was
  made on 1 PM, this will be 11 hours for that day and 24 hours from subsequent days.\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:7:\"skuName\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"This
  is the ARM Sku name. It can be used to join with the servicetype field in additoinalinfo
  in usage records.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:21:\"totalReservedQuantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"This
  is the total count of instances that are reserved for the reservationid.\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:9:\"usageDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  date on which consumption occurred.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"usedHours\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"This
  is the total hours used by the instance.\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}}s:20:\"ReservationSummaries\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:31:\"reservation
  summaries resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:44:\"#/definitions/ReservationSummariesProperties\";s:5:\"title\";s:32:\"Reservation
  Summaries properties\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:30:\"ReservationSummariesListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Result
  of listing reservation summaries.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  list of reservation summaries.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ReservationSummaries\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:30:\"ReservationSummariesProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  properties of the reservation summaries.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:24:\"avgUtilizationPercentage\";O:8:\"stdClass\":4:{s:11:\"description\";s:92:\"This
  is average utilization for the entire time range. (day or month depending on the
  grain)\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:24:\"maxUtilizationPercentage\";O:8:\"stdClass\":4:{s:11:\"description\";s:213:\"This
  is the maximum hourly utilization in the usage time (day or month). E.g. if usage
  record corresponds to 12/10/2017 and on that for hour 4 and 5, utilization was 100%,
  this field will return 100% for that day.\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:24:\"minUtilizationPercentage\";O:8:\"stdClass\":4:{s:11:\"description\";s:210:\"This
  is the minimum hourly utilization in the usage time (day or month). E.g. if usage
  record corresponds to 12/10/2017 and on that for hour 4 and 5, utilization was 10%,
  this field will return 10% for that day\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:13:\"reservationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:240:\"The
  reservation ID is the identifier of a reservation within a reservation order. Each
  reservation is the grouping for applying the benefit scope and also specifies the
  number of instances to which the reservation benefit can be applied to.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"reservationOrderId\";O:8:\"stdClass\":3:{s:11:\"description\";s:258:\"The
  reservation order ID is the identifier for a reservation purchase. Each reservation
  order ID represents a single purchase transaction. A reservation order contains
  reservations. The reservation order specifies the VM size and region for the reservations.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"reservedHours\";O:8:\"stdClass\":4:{s:11:\"description\";s:155:\"This
  is the total hours reserved. E.g. if reservation for 1 instance was made on 1 PM,
  this will be 11 hours for that day and 24 hours from subsequent days\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:7:\"skuName\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"This
  is the ARM Sku name. It can be used to join with the servicetype field in additoinalinfo
  in usage records.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"usageDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:109:\"Data
  corresponding to the utilization record. If the grain of data is monthly, it will
  be first day of month.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"usedHours\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Total
  used hours by the reservation\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  Resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:11:\"UsageDetail\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:25:\"An
  usage detail resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/UsageDetailProperties\";s:5:\"title\";s:23:\"Usage
  detail properties\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:21:\"UsageDetailProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  properties of the usage detail.\";s:10:\"properties\";O:8:\"stdClass\":22:{s:11:\"accountName\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Account
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:20:\"additionalProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Additional
  details of this usage item. By default this is not populated, unless it's specified
  in $expand.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"billableQuantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"The
  billable usage quantity.\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:15:\"billingPeriodId\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  id of the billing period resource that the usage belongs to.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"consumedService\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Consumed
  service name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"costCenter\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  cost center of this department if it is a department and a costcenter exists\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  ISO currency in which the meter is charged, for example, USD.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"departmentName\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Department
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"instanceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  uri of the resource instance that the usage is about.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"instanceLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  location of the resource instance that the usage is about.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"instanceName\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  name of the resource instance that the usage is about.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"invoiceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  id of the invoice resource that the usage belongs to.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"isEstimated\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  estimated usage is subject to change.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:12:\"meterDetails\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/MeterDetails\";s:11:\"description\";s:96:\"The
  details about the meter. By default this is not populated, unless it's specified
  in $expand.\";s:8:\"readOnly\";b:1;}s:7:\"meterId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  meter id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"pretaxCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  amount of cost before tax.\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:7:\"product\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Product
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"subscriptionGuid\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Subscription
  guid.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"subscriptionName\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Subscription
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"usageEnd\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  end of the date time range covered by the usage detail.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"usageQuantity\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  quantity of usage.\";s:6:\"format\";s:7:\"decimal\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:10:\"usageStart\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  start of the date time range covered by the usage detail.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:22:\"UsageDetailsListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Result
  of listing usage details. It contains a list of available usage details in reverse
  chronological order by billing period.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"The
  list of usage details.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UsageDetail\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}}"
...
