---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:247:\"The Azure SQL
  Database management API provides a RESTful set of web APIs that interact with Azure
  SQL Database services to manage your databases. The API enables users to create,
  retrieve, update, and delete databases, servers, and other entities.\";s:5:\"title\";s:19:\"SqlManagementClient\";s:7:\"version\";s:18:\"2017-10-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:161:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-10-01-preview/elasticPools.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:16:\"sql-elasticPools\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools:
    get:
      description: Gets all elastic pools in a server.
      operationId: ElasticPools_ListByServer
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The number of elements in the collection to skip.
        in: query
        name: $skip
        required: false
        type: integer
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Succeeded
          schema:
            $ref: '#/definitions/ElasticPoolListResult'
        default:
          description: '*** Error Responses: ***nn * 400 ElasticPoolStorageBelowLimitMB
            - Attempting to set the elastic pool storage limit below the supported
            limit.nn * 400 ProvisioningDisabled - Displays error message from resources
            operation authorizer as is, without changesnn * 400 ElasticPoolStorageNotAllowedMB
            - Attempting to set the elastic pool storage limit in mb which doesn''t
            match the allowed values.nn * 400 ElasticPoolStorageAboveLimitMB - Attempting
            to set the elastic pool storage limit below the supported limit.nn * 400
            ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service
            tier from Premium to Standard or Basic since one or more of its databases
            use memory-optimized objects.nn * 400 ElasticPoolOverFileSpace - Insufficient
            file space in the elastic pool.nn * 400 InvalidTier - The user specified
            an invalid tier.nn * 400 ServerQuotaExceeded - Server cannot be added
            to a subscription because it will exceed quota.nn * 400 ElasticPoolAlreadyExists
            - The server already contains an elastic pool with the specified name.nn
            * 400 InvalidInputValueForEdition - Specified edition is not supported
            for elastic pool provisioning.nn * 400 ElasticPoolDtuBelowLimit - The
            requested DTU value is too low for the requested elastic pool service
            tier.nn * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too
            high for the requested elastic pool service tier.nn * 400 ElasticPoolDbDtuMaxBelowLimit
            - The requested per database DTU max is too low for the requested elastic
            pool service tier.nn * 400 ElasticPoolDbDtuMaxAboveLimit - The requested
            per database DTU max is too high for the requested elastic pool service
            tier.nn * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the
            DTU max per database for the Resource Pool which doesn''t match the allowed
            values.nn * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min
            per database is too high for the requested service tier.nn * 400 InvalidInputValueForDatabaseDtuMin
            - Attempting to set the DTU min per database for the Resource Pool which
            doesn''t match the allowed values.nn * 400 ElasticPoolStorageAboveLimitGB
            - Attempting to set the elastic pool storage limit below the supported
            limit.nn * 400 ElasticPoolOverStorageUsage - Attempting to write data
            to a database when the storage limit of the elastic pool has been reached.nn
            * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in
            this region.nn * 400 ElasticPoolNotEmpty - Request to delete an elastic
            pool that is not empty.nn * 400 ElasticPoolStorageBelowLimitGB - Attempting
            to set the elastic pool storage limit below the supported limit.nn * 400
            ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage
            limit in gb which doesn''t match the allowed values.nn * 400 ElasticPoolDatabaseLimit
            - The elastic pool has reached its limit for number of databases.nn *
            400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease
            the storage limit of the elastic pool below its storage usage.nn * 400
            ElasticPoolBusy - A management operation was attempted on an elastic pool
            which is busy.nn * 400 InvalidInputValueDatabaseDtuMinLargerThanMax -
            Attempting to set the DTU min per database higher than the DTU max per
            database.nn * 404 SubscriptionDoesNotHaveServer - The requested server
            was not foundnn * 404 ElasticPoolNotFound - The specified elastic pool
            does not exist for the specified server.nn * 404 OperationIdNotFound -
            The operation with Id does not exist.nn * 405 NotSupported - This functionality
            is not supported.nn * 409 ServerDisabled - Server is disabled.nn * 409
            OperationCancelled - The operation has been cancelled by user.nn * 409
            OperationInterrupted - The operation on the resource could not be completed
            because it was interrupted by another operation on the same resource.nn
            * 500 OperationTimedOut - The operation timed out and automatically rolled
            back. Please retry the operation.nn * 503 ServiceTemporarilyUnavailable
            - Feature temporarily unavailable.'
      tags:
      - ElasticPools
      x-ms-examples:
        Get all elastic pools in a server:
          parameters:
            api-version: "2017-10-01"
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-2729
                  kind: ~
                  location: Japan East
                  name: sqlcrudtest-2729
                  properties:
                    creationDate: "2017-02-10T01:27:21.32Z"
                    licenseType: LicenseIncluded
                    maxSizeBytes: 5242880000
                    perDatabaseSettings:
                      maxCapacity: 1
                      minCapacity: 0.250000
                    state: Ready
                    zoneRedundant: true
                  sku:
                    capacity: 2
                    name: GP_Gen4_2
                    tier: GeneralPurpose
                  type: Microsoft.Sql/servers/elasticPools
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-3191
                  kind: ~
                  location: Japan East
                  name: sqlcrudtest-3191
                  properties:
                    creationDate: "2017-02-10T01:26:26.45Z"
                    maxSizeBytes: 5242880000
                    perDatabaseSettings:
                      maxCapacity: 5
                      minCapacity: 0
                    state: Ready
                  sku:
                    capacity: 50
                    name: BasicPool
                    tier: Basic
                  type: Microsoft.Sql/servers/elasticPools
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                  kind: ~
                  location: Japan East
                  name: sqlcrudtest-8102
                  properties:
                    creationDate: "2017-02-10T01:25:25.033Z"
                    maxSizeBytes: 5242880000
                    perDatabaseSettings:
                      maxCapacity: 5
                      minCapacity: 0
                    state: Ready
                  sku:
                    capacity: 50
                    name: BasicPool
                    tier: Basic
                  type: Microsoft.Sql/servers/elasticPools
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}
  : delete:
      description: Deletes an elastic pool.
      operationId: ElasticPools_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the elastic pool.
        in: path
        name: elasticPoolName
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Deleted the elastic pool
        202:
          description: Accepted
        204:
          description: Elastic pool did not exist
        default:
          description: '*** Error Responses: ***nn * 400 ElasticPoolStorageBelowLimitMB
            - Attempting to set the elastic pool storage limit below the supported
            limit.nn * 400 ProvisioningDisabled - Displays error message from resources
            operation authorizer as is, without changesnn * 400 ElasticPoolStorageNotAllowedMB
            - Attempting to set the elastic pool storage limit in mb which doesn''t
            match the allowed values.nn * 400 ElasticPoolStorageAboveLimitMB - Attempting
            to set the elastic pool storage limit below the supported limit.nn * 400
            ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service
            tier from Premium to Standard or Basic since one or more of its databases
            use memory-optimized objects.nn * 400 ElasticPoolOverFileSpace - Insufficient
            file space in the elastic pool.nn * 400 InvalidTier - The user specified
            an invalid tier.nn * 400 ServerQuotaExceeded - Server cannot be added
            to a subscription because it will exceed quota.nn * 400 ElasticPoolAlreadyExists
            - The server already contains an elastic pool with the specified name.nn
            * 400 InvalidInputValueForEdition - Specified edition is not supported
            for elastic pool provisioning.nn * 400 ElasticPoolDtuBelowLimit - The
            requested DTU value is too low for the requested elastic pool service
            tier.nn * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too
            high for the requested elastic pool service tier.nn * 400 ElasticPoolDbDtuMaxBelowLimit
            - The requested per database DTU max is too low for the requested elastic
            pool service tier.nn * 400 ElasticPoolDbDtuMaxAboveLimit - The requested
            per database DTU max is too high for the requested elastic pool service
            tier.nn * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the
            DTU max per database for the Resource Pool which doesn''t match the allowed
            values.nn * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min
            per database is too high for the requested service tier.nn * 400 InvalidInputValueForDatabaseDtuMin
            - Attempting to set the DTU min per database for the Resource Pool which
            doesn''t match the allowed values.nn * 400 ElasticPoolStorageAboveLimitGB
            - Attempting to set the elastic pool storage limit below the supported
            limit.nn * 400 ElasticPoolOverStorageUsage - Attempting to write data
            to a database when the storage limit of the elastic pool has been reached.nn
            * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in
            this region.nn * 400 ElasticPoolNotEmpty - Request to delete an elastic
            pool that is not empty.nn * 400 ElasticPoolStorageBelowLimitGB - Attempting
            to set the elastic pool storage limit below the supported limit.nn * 400
            ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage
            limit in gb which doesn''t match the allowed values.nn * 400 ElasticPoolDatabaseLimit
            - The elastic pool has reached its limit for number of databases.nn *
            400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease
            the storage limit of the elastic pool below its storage usage.nn * 400
            ElasticPoolBusy - A management operation was attempted on an elastic pool
            which is busy.nn * 400 InvalidInputValueDatabaseDtuMinLargerThanMax -
            Attempting to set the DTU min per database higher than the DTU max per
            database.nn * 404 SubscriptionDoesNotHaveServer - The requested server
            was not foundnn * 404 ElasticPoolNotFound - The specified elastic pool
            does not exist for the specified server.nn * 404 OperationIdNotFound -
            The operation with Id does not exist.nn * 405 NotSupported - This functionality
            is not supported.nn * 409 ServerDisabled - Server is disabled.nn * 409
            OperationCancelled - The operation has been cancelled by user.nn * 409
            OperationInterrupted - The operation on the resource could not be completed
            because it was interrupted by another operation on the same resource.nn
            * 500 OperationTimedOut - The operation timed out and automatically rolled
            back. Please retry the operation.nn * 503 ServiceTemporarilyUnavailable
            - Feature temporarily unavailable.'
      tags:
      - ElasticPools
      x-ms-examples:
        Delete an elastic pool:
          parameters:
            api-version: "2017-10-01"
            elasticPoolName: sqlcrudtest-3851
            resourceGroupName: sqlcrudtest-3129
            serverName: sqlcrudtest-228
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body: ""
            202: []
            204:
              body: ""
      x-ms-long-running-operation: true
    get:
      description: Gets an elastic pool.
      operationId: ElasticPools_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the elastic pool.
        in: path
        name: elasticPoolName
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Succeeded
          schema:
            $ref: '#/definitions/ElasticPool'
        default:
          description: '*** Error Responses: ***nn * 400 ElasticPoolStorageBelowLimitMB
            - Attempting to set the elastic pool storage limit below the supported
            limit.nn * 400 ProvisioningDisabled - Displays error message from resources
            operation authorizer as is, without changesnn * 400 ElasticPoolStorageNotAllowedMB
            - Attempting to set the elastic pool storage limit in mb which doesn''t
            match the allowed values.nn * 400 ElasticPoolStorageAboveLimitMB - Attempting
            to set the elastic pool storage limit below the supported limit.nn * 400
            ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service
            tier from Premium to Standard or Basic since one or more of its databases
            use memory-optimized objects.nn * 400 ElasticPoolOverFileSpace - Insufficient
            file space in the elastic pool.nn * 400 InvalidTier - The user specified
            an invalid tier.nn * 400 ServerQuotaExceeded - Server cannot be added
            to a subscription because it will exceed quota.nn * 400 ElasticPoolAlreadyExists
            - The server already contains an elastic pool with the specified name.nn
            * 400 InvalidInputValueForEdition - Specified edition is not supported
            for elastic pool provisioning.nn * 400 ElasticPoolDtuBelowLimit - The
            requested DTU value is too low for the requested elastic pool service
            tier.nn * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too
            high for the requested elastic pool service tier.nn * 400 ElasticPoolDbDtuMaxBelowLimit
            - The requested per database DTU max is too low for the requested elastic
            pool service tier.nn * 400 ElasticPoolDbDtuMaxAboveLimit - The requested
            per database DTU max is too high for the requested elastic pool service
            tier.nn * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the
            DTU max per database for the Resource Pool which doesn''t match the allowed
            values.nn * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min
            per database is too high for the requested service tier.nn * 400 InvalidInputValueForDatabaseDtuMin
            - Attempting to set the DTU min per database for the Resource Pool which
            doesn''t match the allowed values.nn * 400 ElasticPoolStorageAboveLimitGB
            - Attempting to set the elastic pool storage limit below the supported
            limit.nn * 400 ElasticPoolOverStorageUsage - Attempting to write data
            to a database when the storage limit of the elastic pool has been reached.nn
            * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in
            this region.nn * 400 ElasticPoolNotEmpty - Request to delete an elastic
            pool that is not empty.nn * 400 ElasticPoolStorageBelowLimitGB - Attempting
            to set the elastic pool storage limit below the supported limit.nn * 400
            ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage
            limit in gb which doesn''t match the allowed values.nn * 400 ElasticPoolDatabaseLimit
            - The elastic pool has reached its limit for number of databases.nn *
            400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease
            the storage limit of the elastic pool below its storage usage.nn * 400
            ElasticPoolBusy - A management operation was attempted on an elastic pool
            which is busy.nn * 400 InvalidInputValueDatabaseDtuMinLargerThanMax -
            Attempting to set the DTU min per database higher than the DTU max per
            database.nn * 404 SubscriptionDoesNotHaveServer - The requested server
            was not foundnn * 404 ElasticPoolNotFound - The specified elastic pool
            does not exist for the specified server.nn * 404 OperationIdNotFound -
            The operation with Id does not exist.nn * 404 ResourceNotFound - The requested
            resource was not found.nn * 405 NotSupported - This functionality is not
            supported.nn * 409 ServerDisabled - Server is disabled.nn * 409 OperationCancelled
            - The operation has been cancelled by user.nn * 409 OperationInterrupted
            - The operation on the resource could not be completed because it was
            interrupted by another operation on the same resource.nn * 500 OperationTimedOut
            - The operation timed out and automatically rolled back. Please retry
            the operation.nn * 503 ServiceTemporarilyUnavailable - Feature temporarily
            unavailable.'
      tags:
      - ElasticPools
      x-ms-examples:
        Get an elastic pool:
          parameters:
            api-version: "2017-10-01"
            elasticPoolName: sqlcrudtest-8102
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                kind: ~
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: "2017-10-10T01:25:25.033Z"
                  licenseType: LicenseIncluded
                  maxSizeBytes: 5242880000
                  perDatabaseSettings:
                    maxCapacity: 1
                    minCapacity: 0.250000
                  state: Ready
                  zoneRedundant: true
                sku:
                  capacity: 2
                  name: GP_Gen4_2
                  tier: GeneralPurpose
                type: Microsoft.Sql/servers/elasticPools
    patch:
      description: Updates an elastic pool.
      operationId: ElasticPools_Update
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the elastic pool.
        in: path
        name: elasticPoolName
        required: true
        type: string
      - description: The elastic pool update parameters.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ElasticPoolUpdate'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Updated the elastic pool
          schema:
            $ref: '#/definitions/ElasticPool'
        202:
          description: Accepted
        default:
          description: '*** Error Responses: ***nn * 400 ElasticPoolStorageBelowLimitMB
            - Attempting to set the elastic pool storage limit below the supported
            limit.nn * 400 ProvisioningDisabled - Displays error message from resources
            operation authorizer as is, without changesnn * 400 ElasticPoolStorageNotAllowedMB
            - Attempting to set the elastic pool storage limit in mb which doesn''t
            match the allowed values.nn * 400 ElasticPoolStorageAboveLimitMB - Attempting
            to set the elastic pool storage limit below the supported limit.nn * 400
            ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service
            tier from Premium to Standard or Basic since one or more of its databases
            use memory-optimized objects.nn * 400 ElasticPoolOverFileSpace - Insufficient
            file space in the elastic pool.nn * 400 InvalidTier - The user specified
            an invalid tier.nn * 400 ServerQuotaExceeded - Server cannot be added
            to a subscription because it will exceed quota.nn * 400 ElasticPoolAlreadyExists
            - The server already contains an elastic pool with the specified name.nn
            * 400 InvalidInputValueForEdition - Specified edition is not supported
            for elastic pool provisioning.nn * 400 ElasticPoolDtuBelowLimit - The
            requested DTU value is too low for the requested elastic pool service
            tier.nn * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too
            high for the requested elastic pool service tier.nn * 400 ElasticPoolDbDtuMaxBelowLimit
            - The requested per database DTU max is too low for the requested elastic
            pool service tier.nn * 400 ElasticPoolDbDtuMaxAboveLimit - The requested
            per database DTU max is too high for the requested elastic pool service
            tier.nn * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the
            DTU max per database for the Resource Pool which doesn''t match the allowed
            values.nn * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min
            per database is too high for the requested service tier.nn * 400 InvalidInputValueForDatabaseDtuMin
            - Attempting to set the DTU min per database for the Resource Pool which
            doesn''t match the allowed values.nn * 400 ElasticPoolStorageAboveLimitGB
            - Attempting to set the elastic pool storage limit below the supported
            limit.nn * 400 ElasticPoolOverStorageUsage - Attempting to write data
            to a database when the storage limit of the elastic pool has been reached.nn
            * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in
            this region.nn * 400 ElasticPoolNotEmpty - Request to delete an elastic
            pool that is not empty.nn * 400 ElasticPoolStorageBelowLimitGB - Attempting
            to set the elastic pool storage limit below the supported limit.nn * 400
            ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage
            limit in gb which doesn''t match the allowed values.nn * 400 ElasticPoolDatabaseLimit
            - The elastic pool has reached its limit for number of databases.nn *
            400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease
            the storage limit of the elastic pool below its storage usage.nn * 400
            ElasticPoolBusy - A management operation was attempted on an elastic pool
            which is busy.nn * 400 InvalidInputValueDatabaseDtuMinLargerThanMax -
            Attempting to set the DTU min per database higher than the DTU max per
            database.nn * 400 InvalidResourceRequestBody - The resource or resource
            properties in the request body is empty or invalid.nn * 400 InvalidSkuName
            - Invalid SKU name.nn * 400 MismatchedSkuNameAndCapacity - Mismatch between
            SKU name and capacity.nn * 400 MismatchedSkuNameAndTier - Mismatch between
            SKU name and tier.nn * 400 MismatchedSkuNameAndFamily - Mismatch between
            SKU name and family.nn * 400 ElasticPoolStorageBelowLimitMB - Attempting
            to set the elastic pool storage limit below the supported limit.nn * 400
            ProvisioningDisabled - Displays error message from resources operation
            authorizer as is, without changesnn * 400 ElasticPoolStorageNotAllowedMB
            - Attempting to set the elastic pool storage limit in mb which doesn''t
            match the allowed values.nn * 400 ElasticPoolStorageAboveLimitMB - Attempting
            to set the elastic pool storage limit below the supported limit.nn * 400
            ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service
            tier from Premium to Standard or Basic since one or more of its databases
            use memory-optimized objects.nn * 400 ElasticPoolOverFileSpace - Insufficient
            file space in the elastic pool.nn * 400 InvalidTier - The user specified
            an invalid tier.nn * 400 ServerQuotaExceeded - Server cannot be added
            to a subscription because it will exceed quota.nn * 400 ElasticPoolAlreadyExists
            - The server already contains an elastic pool with the specified name.nn
            * 400 InvalidInputValueForEdition - Specified edition is not supported
            for elastic pool provisioning.nn * 400 ElasticPoolDtuBelowLimit - The
            requested DTU value is too low for the requested elastic pool service
            tier.nn * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too
            high for the requested elastic pool service tier.nn * 400 ElasticPoolDbDtuMaxBelowLimit
            - The requested per database DTU max is too low for the requested elastic
            pool service tier.nn * 400 ElasticPoolDbDtuMaxAboveLimit - The requested
            per database DTU max is too high for the requested elastic pool service
            tier.nn * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the
            DTU max per database for the Resource Pool which doesn''t match the allowed
            values.nn * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min
            per database is too high for the requested service tier.nn * 400 InvalidInputValueForDatabaseDtuMin
            - Attempting to set the DTU min per database for the Resource Pool which
            doesn''t match the allowed values.nn * 400 ElasticPoolStorageAboveLimitGB
            - Attempting to set the elastic pool storage limit below the supported
            limit.nn * 400 ElasticPoolOverStorageUsage - Attempting to write data
            to a database when the storage limit of the elastic pool has been reached.nn
            * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in
            this region.nn * 400 ElasticPoolNotEmpty - Request to delete an elastic
            pool that is not empty.nn * 400 ElasticPoolStorageBelowLimitGB - Attempting
            to set the elastic pool storage limit below the supported limit.nn * 400
            ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage
            limit in gb which doesn''t match the allowed values.nn * 400 ElasticPoolDatabaseLimit
            - The elastic pool has reached its limit for number of databases.nn *
            400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease
            the storage limit of the elastic pool below its storage usage.nn * 400
            ElasticPoolBusy - A management operation was attempted on an elastic pool
            which is busy.nn * 400 InvalidInputValueDatabaseDtuMinLargerThanMax -
            Attempting to set the DTU min per database higher than the DTU max per
            database.nn * 404 SubscriptionDoesNotHaveServer - The requested server
            was not foundnn * 404 ElasticPoolNotFound - The specified elastic pool
            does not exist for the specified server.nn * 404 OperationIdNotFound -
            The operation with Id does not exist.nn * 404 ElasticPoolNotFound - The
            specified elastic pool does not exist for the specified server.nn * 405
            NotSupported - This functionality is not supported.nn * 405 NotSupported
            - This functionality is not supported.nn * 409 ServerDisabled - Server
            is disabled.nn * 409 OperationCancelled - The operation has been cancelled
            by user.nn * 409 OperationInterrupted - The operation on the resource
            could not be completed because it was interrupted by another operation
            on the same resource.nn * 409 ServerDisabled - Server is disabled.nn *
            500 OperationTimedOut - The operation timed out and automatically rolled
            back. Please retry the operation.nn * 503 ServiceTemporarilyUnavailable
            - Feature temporarily unavailable.nn * 503 ServiceTemporarilyUnavailable
            - Feature temporarily unavailable.'
      tags:
      - ElasticPools
      x-ms-examples:
        Update an elastic pool with all parameter:
          parameters:
            api-version: "2017-10-01"
            elasticPoolName: sqlcrudtest-8102
            parameters:
              properties:
                licenseType: LicenseIncluded
                perDatabaseSettings:
                  maxCapacity: 1
                  minCapacity: 0.250000
                zoneRedundant: true
              sku:
                capacity: 2
                name: BC_Gen4_2
                tier: BusinessCritical
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                kind: ~
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: "2017-02-10T01:27:21.32Z"
                  licenseType: LicenseIncluded
                  maxSizeBytes: 5242880000
                  perDatabaseSettings:
                    maxCapacity: 1
                    minCapacity: 0.250000
                  state: Ready
                  zoneRedundant: true
                sku:
                  capacity: 2
                  name: BC_Gen4_2
                  tier: BusinessCritical
                type: Microsoft.Sql/servers/elasticPools
            202: []
        Update an elastic pool with mininum parameters:
          parameters:
            api-version: "2017-10-01"
            elasticPoolName: sqlcrudtest-8102
            parameters: []
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                kind: ~
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: "2017-02-10T01:25:25.033Z"
                  maxSizeBytes: 5242880000
                  perDatabaseSettings:
                    maxCapacity: 5
                    minCapacity: 0
                  state: Ready
                sku:
                  capacity: 50
                  name: BasicPool
                  tier: Basic
                type: Microsoft.Sql/servers/elasticPools
            202: []
      x-ms-long-running-operation: true
    put:
      description: Creates or updates an elastic pool.
      operationId: ElasticPools_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the elastic pool.
        in: path
        name: elasticPoolName
        required: true
        type: string
      - description: The elastic pool parameters.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ElasticPool'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Updated the elastic pool
          schema:
            $ref: '#/definitions/ElasticPool'
        201:
          description: Created the elastic pool
          schema:
            $ref: '#/definitions/ElasticPool'
        202:
          description: Accepted
        default:
          description: '*** Error Responses: ***nn * 400 ElasticPoolStorageBelowLimitMB
            - Attempting to set the elastic pool storage limit below the supported
            limit.nn * 400 ProvisioningDisabled - Displays error message from resources
            operation authorizer as is, without changesnn * 400 ElasticPoolStorageNotAllowedMB
            - Attempting to set the elastic pool storage limit in mb which doesn''t
            match the allowed values.nn * 400 ElasticPoolStorageAboveLimitMB - Attempting
            to set the elastic pool storage limit below the supported limit.nn * 400
            ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service
            tier from Premium to Standard or Basic since one or more of its databases
            use memory-optimized objects.nn * 400 ElasticPoolOverFileSpace - Insufficient
            file space in the elastic pool.nn * 400 InvalidTier - The user specified
            an invalid tier.nn * 400 ServerQuotaExceeded - Server cannot be added
            to a subscription because it will exceed quota.nn * 400 ElasticPoolAlreadyExists
            - The server already contains an elastic pool with the specified name.nn
            * 400 InvalidInputValueForEdition - Specified edition is not supported
            for elastic pool provisioning.nn * 400 ElasticPoolDtuBelowLimit - The
            requested DTU value is too low for the requested elastic pool service
            tier.nn * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too
            high for the requested elastic pool service tier.nn * 400 ElasticPoolDbDtuMaxBelowLimit
            - The requested per database DTU max is too low for the requested elastic
            pool service tier.nn * 400 ElasticPoolDbDtuMaxAboveLimit - The requested
            per database DTU max is too high for the requested elastic pool service
            tier.nn * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the
            DTU max per database for the Resource Pool which doesn''t match the allowed
            values.nn * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min
            per database is too high for the requested service tier.nn * 400 InvalidInputValueForDatabaseDtuMin
            - Attempting to set the DTU min per database for the Resource Pool which
            doesn''t match the allowed values.nn * 400 ElasticPoolStorageAboveLimitGB
            - Attempting to set the elastic pool storage limit below the supported
            limit.nn * 400 ElasticPoolOverStorageUsage - Attempting to write data
            to a database when the storage limit of the elastic pool has been reached.nn
            * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in
            this region.nn * 400 ElasticPoolNotEmpty - Request to delete an elastic
            pool that is not empty.nn * 400 ElasticPoolStorageBelowLimitGB - Attempting
            to set the elastic pool storage limit below the supported limit.nn * 400
            ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage
            limit in gb which doesn''t match the allowed values.nn * 400 ElasticPoolDatabaseLimit
            - The elastic pool has reached its limit for number of databases.nn *
            400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease
            the storage limit of the elastic pool below its storage usage.nn * 400
            ElasticPoolBusy - A management operation was attempted on an elastic pool
            which is busy.nn * 400 InvalidInputValueDatabaseDtuMinLargerThanMax -
            Attempting to set the DTU min per database higher than the DTU max per
            database.nn * 400 InvalidResourceRequestBody - The resource or resource
            properties in the request body is empty or invalid.nn * 400 InvalidSkuName
            - Invalid SKU name.nn * 400 MismatchedSkuNameAndCapacity - Mismatch between
            SKU name and capacity.nn * 400 MismatchedSkuNameAndTier - Mismatch between
            SKU name and tier.nn * 400 MismatchedSkuNameAndFamily - Mismatch between
            SKU name and family.nn * 400 ElasticPoolStorageBelowLimitMB - Attempting
            to set the elastic pool storage limit below the supported limit.nn * 400
            ProvisioningDisabled - Displays error message from resources operation
            authorizer as is, without changesnn * 400 ElasticPoolStorageNotAllowedMB
            - Attempting to set the elastic pool storage limit in mb which doesn''t
            match the allowed values.nn * 400 ElasticPoolStorageAboveLimitMB - Attempting
            to set the elastic pool storage limit below the supported limit.nn * 400
            ElasticPoolUpdateHkNotAllowed - The elastic pool cannot lower its service
            tier from Premium to Standard or Basic since one or more of its databases
            use memory-optimized objects.nn * 400 ElasticPoolOverFileSpace - Insufficient
            file space in the elastic pool.nn * 400 InvalidTier - The user specified
            an invalid tier.nn * 400 ServerQuotaExceeded - Server cannot be added
            to a subscription because it will exceed quota.nn * 400 ElasticPoolAlreadyExists
            - The server already contains an elastic pool with the specified name.nn
            * 400 InvalidInputValueForEdition - Specified edition is not supported
            for elastic pool provisioning.nn * 400 ElasticPoolDtuBelowLimit - The
            requested DTU value is too low for the requested elastic pool service
            tier.nn * 400 ElasticPoolDtuAboveLimit - The requested DTU value is too
            high for the requested elastic pool service tier.nn * 400 ElasticPoolDbDtuMaxBelowLimit
            - The requested per database DTU max is too low for the requested elastic
            pool service tier.nn * 400 ElasticPoolDbDtuMaxAboveLimit - The requested
            per database DTU max is too high for the requested elastic pool service
            tier.nn * 400 InvalidInputValueForDatabaseDtuMax - Attempting to set the
            DTU max per database for the Resource Pool which doesn''t match the allowed
            values.nn * 400 ElasticPoolDbDtuMinAboveLimit - The requested DTU min
            per database is too high for the requested service tier.nn * 400 InvalidInputValueForDatabaseDtuMin
            - Attempting to set the DTU min per database for the Resource Pool which
            doesn''t match the allowed values.nn * 400 ElasticPoolStorageAboveLimitGB
            - Attempting to set the elastic pool storage limit below the supported
            limit.nn * 400 ElasticPoolOverStorageUsage - Attempting to write data
            to a database when the storage limit of the elastic pool has been reached.nn
            * 400 ElasticPoolsNotEnabled - Elastic pools have not been enabled in
            this region.nn * 400 ElasticPoolNotEmpty - Request to delete an elastic
            pool that is not empty.nn * 400 ElasticPoolStorageBelowLimitGB - Attempting
            to set the elastic pool storage limit below the supported limit.nn * 400
            ElasticPoolStorageNotAllowedGB - Attempting to set the elastic pool storage
            limit in gb which doesn''t match the allowed values.nn * 400 ElasticPoolDatabaseLimit
            - The elastic pool has reached its limit for number of databases.nn *
            400 ElasticPoolStorageDecreasePrecondition - There was an attempt to decrease
            the storage limit of the elastic pool below its storage usage.nn * 400
            ElasticPoolBusy - A management operation was attempted on an elastic pool
            which is busy.nn * 400 InvalidInputValueDatabaseDtuMinLargerThanMax -
            Attempting to set the DTU min per database higher than the DTU max per
            database.nn * 404 SubscriptionDoesNotHaveServer - The requested server
            was not foundnn * 404 ElasticPoolNotFound - The specified elastic pool
            does not exist for the specified server.nn * 404 OperationIdNotFound -
            The operation with Id does not exist.nn * 404 ElasticPoolNotFound - The
            specified elastic pool does not exist for the specified server.nn * 405
            NotSupported - This functionality is not supported.nn * 405 NotSupported
            - This functionality is not supported.nn * 409 ServerDisabled - Server
            is disabled.nn * 409 OperationCancelled - The operation has been cancelled
            by user.nn * 409 OperationInterrupted - The operation on the resource
            could not be completed because it was interrupted by another operation
            on the same resource.nn * 409 ServerDisabled - Server is disabled.nn *
            500 OperationTimedOut - The operation timed out and automatically rolled
            back. Please retry the operation.nn * 503 ServiceTemporarilyUnavailable
            - Feature temporarily unavailable.nn * 503 ServiceTemporarilyUnavailable
            - Feature temporarily unavailable.'
      tags:
      - ElasticPools
      x-ms-examples:
        Create or update elastic pool with all parameter:
          parameters:
            api-version: "2017-10-01"
            elasticPoolName: sqlcrudtest-8102
            parameters:
              location: Japan East
              properties:
                perDatabaseSettings:
                  maxCapacity: 2
                  minCapacity: 0.250000
              sku:
                capacity: 2
                name: GP_Gen4_2
                tier: GeneralPurpose
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                kind: ~
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: "2017-02-10T01:25:25.033Z"
                  maxSizeBytes: 5242880000
                  perDatabaseSettings:
                    maxCapacity: 2
                    minCapacity: 0.250000
                  state: Ready
                sku:
                  capacity: 2
                  name: GP_Gen4_2
                  tier: GeneralPurpose
                type: Microsoft.Sql/servers/elasticPools
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                kind: ~
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: "2017-02-10T01:25:25.033Z"
                  maxSizeBytes: 5242880000
                  perDatabaseSettings:
                    maxCapacity: 2
                    minCapacity: 0.250000
                  state: Ready
                sku:
                  capacity: 2
                  name: GP_Gen4_2
                  tier: GeneralPurpose
                type: Microsoft.Sql/servers/elasticPools
            202: []
        Create or update elastic pool with mininum parameters:
          parameters:
            api-version: "2017-10-01"
            elasticPoolName: sqlcrudtest-8102
            parameters:
              location: Japan East
            resourceGroupName: sqlcrudtest-2369
            serverName: sqlcrudtest-8069
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                kind: ~
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: "2017-02-10T01:25:25.033Z"
                  maxSizeBytes: 102400
                  perDatabaseSettings:
                    maxCapacity: 100
                    minCapacity: 0
                  state: Ready
                sku:
                  capacity: 100
                  name: StandardPool
                  tier: Standard
                type: Microsoft.Sql/servers/elasticPools
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-2369/providers/Microsoft.Sql/servers/sqlcrudtest-8069/elasticPools/sqlcrudtest-8102
                kind: ~
                location: Japan East
                name: sqlcrudtest-8102
                properties:
                  creationDate: "2017-02-10T01:25:25.033Z"
                  maxSizeBytes: 102400
                  perDatabaseSettings:
                    maxCapacity: 100
                    minCapacity: 0
                  state: Ready
                sku:
                  capacity: 100
                  name: StandardPool
                  tier: Standard
                type: Microsoft.Sql/servers/elasticPools
            202: []
      x-ms-long-running-operation: true
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:11:\"ElasticPool\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:31:\"ARM
  tracked top level resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:16:\"An
  elastic pool.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Kind
  of elastic pool. This is metadata used for the Azure portal experience.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/ElasticPoolProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  resource model definition representing SKU\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"capacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"If
  the SKU supports scale out/in then the capacity integer should be included. If scale
  out/in is not possible for the resource this may be omitted.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"family\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"If
  the service has different generations of hardware, for the same SKU, then that can
  be captured here.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  name of the SKU. Ex - P3. It is typically a letter+number code\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  SKU size. When the name field is the combination of tier and some other value, this
  would be the standalone code. \";s:4:\"type\";s:6:\"string\";}s:4:\"tier\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"This
  field is required to be implemented by the Resource Provider if the service has
  more than one tier, but is not required on a PUT.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:4:\"type\";s:6:\"object\";}s:21:\"ElasticPoolListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  result of an elastic pool list request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Array
  of results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ElasticPool\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ElasticPoolPerDatabaseSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Per
  database settings of an elastic pool.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"maxCapacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  maximum capacity any one database can consume.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"minCapacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  minimum capacity all databases are guaranteed.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ElasticPoolProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Properties
  of an elastic pool\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"creationDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  creation date of the elastic pool (ISO8601 format).\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"licenseType\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  license type to apply for this elastic pool.\";s:4:\"enum\";a:2:{i:0;s:15:\"LicenseIncluded\";i:1;s:9:\"BasePrice\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:22:\"ElasticPoolLicenseType\";}}s:12:\"maxSizeBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  storage limit for the database elastic pool in bytes.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:19:\"perDatabaseSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ElasticPoolPerDatabaseSettings\";s:11:\"description\";s:47:\"The
  per database settings for the elastic pool.\";}s:5:\"state\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"The
  state of the elastic pool.\";s:4:\"enum\";a:3:{i:0;s:8:\"Creating\";i:1;s:5:\"Ready\";i:2;s:8:\"Disabled\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"ElasticPoolState\";}}s:13:\"zoneRedundant\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"Whether
  or not this elastic pool is zone redundant, which means the replicas of this elastic
  pool will be spread across multiple availability zones.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ElasticPoolUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"An
  elastic pool update.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:41:\"#/definitions/ElasticPoolUpdateProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  resource model definition representing SKU\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"capacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"If
  the SKU supports scale out/in then the capacity integer should be included. If scale
  out/in is not possible for the resource this may be omitted.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"family\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"If
  the service has different generations of hardware, for the same SKU, then that can
  be captured here.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  name of the SKU. Ex - P3. It is typically a letter+number code\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  SKU size. When the name field is the combination of tier and some other value, this
  would be the standalone code. \";s:4:\"type\";s:6:\"string\";}s:4:\"tier\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"This
  field is required to be implemented by the Resource Provider if the service has
  more than one tier, but is not required on a PUT.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ElasticPoolUpdateProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Properties
  of an elastic pool\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"licenseType\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  license type to apply for this elastic pool.\";s:4:\"enum\";a:2:{i:0;s:15:\"LicenseIncluded\";i:1;s:9:\"BasePrice\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:22:\"ElasticPoolLicenseType\";}}s:12:\"maxSizeBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  storage limit for the database elastic pool in bytes.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:19:\"perDatabaseSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ElasticPoolPerDatabaseSettings\";s:11:\"description\";s:47:\"The
  per database settings for the elastic pool.\";}s:13:\"zoneRedundant\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"Whether
  or not this elastic pool is zone redundant, which means the replicas of this elastic
  pool will be spread across multiple availability zones.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}"
...
