---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:280:\"The Microsoft
  Azure Network management API provides a RESTful set of web services that interact
  with Microsoft Azure Networks service to manage your network resources. The API
  has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:5:\"title\";s:23:\"NetworkManagementClient\";s:7:\"version\";s:10:\"2016-09-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:167:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2016-09-01/expressRouteCircuit.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:27:\"network-expressRouteCircuit\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:33:\"azure_network_expressroutecircuit\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCircuits:
    get:
      description: Gets all the express route circuits in a subscription.
      operationId: ExpressRouteCircuits_ListAll
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of ExpressRouteCircuit
            resources.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitListResult'
      tags:
      - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteServiceProviders:
    get:
      description: Gets all the available express route service providers.
      operationId: ExpressRouteServiceProviders_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of ExpressRouteServiceProdiver
            resources.
          schema:
            $ref: '#/definitions/ExpressRouteServiceProviderListResult'
      tags:
      - ExpressRouteServiceProviders
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits:
    get:
      description: Gets all the express route circuits in a resource group.
      operationId: ExpressRouteCircuits_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the resulting ExpressRouteCircuitAuthorization
            resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitListResult'
      tags:
      - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}
  : delete:
      description: Deletes the specified express route circuit.
      operationId: ExpressRouteCircuits_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Delete successful.
        202:
          description: Accepted. Sets 'Disabling' provisioningState until the operation
            completes. Returns an operation URI that can be queried to find the current
            state of the operation.
        204:
          description: Delete successful.
      tags:
      - ExpressRouteCircuits
      x-ms-long-running-operation: true
    get:
      description: Gets information about the specified express route circuit.
      operationId: ExpressRouteCircuits_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of express route circuit.
        in: path
        name: circuitName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the resulting ExpressRouteCircuit
            resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuit'
      tags:
      - ExpressRouteCircuits
    put:
      description: Creates or updates an express route circuit.
      operationId: ExpressRouteCircuits_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the circuit.
        in: path
        name: circuitName
        required: true
        type: string
      - description: Parameters supplied to the create or update express route circuit
          operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ExpressRouteCircuit'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Update successful. The operation returns the resulting ExpressRouteCircuit
            resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuit'
        201:
          description: Create successful. The operation returns the resulting ExpressRouteCircuit
            resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuit'
      tags:
      - ExpressRouteCircuits
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations
  : get:
      description: Gets all authorizations in an express route circuit.
      operationId: ExpressRouteCircuitAuthorizations_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the circuit.
        in: path
        name: circuitName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of ExpressRouteCircuitAuthorization
            resources.
          schema:
            $ref: '#/definitions/AuthorizationListResult'
      tags:
      - ExpressRouteCircuitAuthorizations
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations/{authorizationName}
  : delete:
      description: Deletes the specified authorization from the specified express
        route circuit.
      operationId: ExpressRouteCircuitAuthorizations_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        type: string
      - description: The name of the authorization.
        in: path
        name: authorizationName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Delete successful.
        202:
          description: Accepted and the operation will complete asynchronously.
        204:
          description: Delete successful.
      tags:
      - ExpressRouteCircuitAuthorizations
      x-ms-long-running-operation: true
    get:
      description: Gets the specified authorization from the specified express route
        circuit.
      operationId: ExpressRouteCircuitAuthorizations_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        type: string
      - description: The name of the authorization.
        in: path
        name: authorizationName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the ExpressRouteCircuitAuthorization
            resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitAuthorization'
      tags:
      - ExpressRouteCircuitAuthorizations
    put:
      description: Creates or updates an authorization in the specified express route
        circuit.
      operationId: ExpressRouteCircuitAuthorizations_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        type: string
      - description: The name of the authorization.
        in: path
        name: authorizationName
        required: true
        type: string
      - description: Parameters supplied to the create or update express route circuit
          authorization operation.
        in: body
        name: authorizationParameters
        required: true
        schema:
          $ref: '#/definitions/ExpressRouteCircuitAuthorization'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Update successful. The operation returns the resulting ExpressRouteCircuitAuthorization
            resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitAuthorization'
        201:
          description: Create successful. The operation returns the resulting ExpressRouteCircuitAuthorization
            resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitAuthorization'
      tags:
      - ExpressRouteCircuitAuthorizations
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings
  : get:
      description: Gets all peerings in a specified express route circuit.
      operationId: ExpressRouteCircuitPeerings_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of ExpressRouteCircuitPeering
            resources.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitPeeringListResult'
      tags:
      - ExpressRouteCircuitPeerings
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}
  : delete:
      description: Deletes the specified peering from the specified express route
        circuit.
      operationId: ExpressRouteCircuitPeerings_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Delete successful.
        202:
          description: Accepted and the operation will complete asynchronously.
        204:
          description: Delete successful.
      tags:
      - ExpressRouteCircuitPeerings
      x-ms-long-running-operation: true
    get:
      description: Gets the specified authorization from the specified express route
        circuit.
      operationId: ExpressRouteCircuitPeerings_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the resulting ExpressRouteCircuitPeering
            resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitPeering'
      tags:
      - ExpressRouteCircuitPeerings
    put:
      description: Creates or updates a peering in the specified express route circuits.
      operationId: ExpressRouteCircuitPeerings_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        type: string
      - description: Parameters supplied to the create or update express route circuit
          peering operation.
        in: body
        name: peeringParameters
        required: true
        schema:
          $ref: '#/definitions/ExpressRouteCircuitPeering'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Update successful. The operation returns the resulting ExpressRouteCircuitPeering
            resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitPeering'
        201:
          description: Create successful. The operation returns the resulting ExpressRouteCircuitPeering
            resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitPeering'
      tags:
      - ExpressRouteCircuitPeerings
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/arpTables/{devicePath}
  : post:
      description: Gets the currently advertised ARP table associated with the express
        route circuit in a resource group.
      operationId: ExpressRouteCircuits_ListArpTable
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        type: string
      - description: The path of the device.
        in: path
        name: devicePath
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the resulting ExpressRouteCircuitsArpTable
            resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitsArpTableListResult'
        202:
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ExpressRouteCircuitArpTable
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/routeTables/{devicePath}
  : post:
      description: Gets the currently advertised routes table associated with the
        express route circuit in a resource group.
      operationId: ExpressRouteCircuits_ListRoutesTable
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        type: string
      - description: The path of the device.
        in: path
        name: devicePath
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the resulting ExpressRouteCircuitsRouteTable
            resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitsRoutesTableListResult'
        202:
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ExpressRouteCircuitRoutesTable
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/routeTablesSummary/{devicePath}
  : post:
      description: Gets the currently advertised routes table summary associated with
        the express route circuit in a resource group.
      operationId: ExpressRouteCircuits_ListRoutesTableSummary
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        type: string
      - description: The path of the device.
        in: path
        name: devicePath
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the resulting ExpressRouteCircuitsRoutesTableSummary
            resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitsRoutesTableSummaryListResult'
        202:
          description: Accepted and the operation will complete asynchronously.
      tags:
      - ExpressRouteCircuitRoutesTableSummary
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/stats
  : get:
      description: Gets all stats from an express route circuit in a resource group.
      operationId: ExpressRouteCircuits_GetPeeringStats
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        type: string
      - description: The name of the peering.
        in: path
        name: peeringName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the resulting ExpressRouteCircuitStats
            resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitStats'
      tags:
      - ExpressRouteCircuitStats
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/stats
  : get:
      description: Gets all the stats from an express route circuit in a resource
        group.
      operationId: ExpressRouteCircuits_GetStats
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the express route circuit.
        in: path
        name: circuitName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns the resulting ExpressRouteCircuitStats
            resource.
          schema:
            $ref: '#/definitions/ExpressRouteCircuitStats'
      tags:
      - ExpressRouteCircuitStats
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":23:{s:23:\"AuthorizationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"Response
  for ListAuthorizations API service call retrieves all authorizations that belongs
  to an ExpressRouteCircuit.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  authorizations in an ExpressRoute Circuit.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ExpressRouteCircuitAuthorization\";}s:4:\"type\";s:5:\"array\";}}}s:29:\"AuthorizationPropertiesFormat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"authorizationKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  authorization key.\";s:4:\"type\";s:6:\"string\";}s:22:\"authorizationUseStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"AuthorizationUseStatus.
  Possible values are: 'Available' and 'InUse'.\";s:4:\"enum\";a:2:{i:0;s:9:\"Available\";i:1;s:5:\"InUse\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:22:\"AuthorizationUseStatus\";}}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Gets
  the provisioning state of the public IP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";s:4:\"type\";s:6:\"string\";}}}s:19:\"ExpressRouteCircuit\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:28:\"ExpressRouteCircuit
  resource\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Gets
  a unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/ExpressRouteCircuitPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ExpressRouteCircuitSku\";s:11:\"description\";s:8:\"The
  SKU.\";}}}s:27:\"ExpressRouteCircuitArpTable\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  ARP table associated with the ExpressRouteCircuit.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"age\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"Age\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"interface\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Interface\";s:4:\"type\";s:6:\"string\";}s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  IP address.\";s:4:\"type\";s:6:\"string\";}s:10:\"macAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  MAC address.\";s:4:\"type\";s:6:\"string\";}}}s:32:\"ExpressRouteCircuitAuthorization\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:49:\"Authorization
  in an ExpressRouteCircuit resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/AuthorizationPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:29:\"ExpressRouteCircuitListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Response
  for ListExpressRouteCircuit API service call.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"A
  list of ExpressRouteCircuits in a resource group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ExpressRouteCircuit\";}s:4:\"type\";s:5:\"array\";}}}s:26:\"ExpressRouteCircuitPeering\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:43:\"Peering
  in an ExpressRouteCircuit resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Gets
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:56:\"#/definitions/ExpressRouteCircuitPeeringPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:32:\"ExpressRouteCircuitPeeringConfig\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Specifies
  the peering configuration.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:24:\"advertisedPublicPrefixes\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  reference of AdvertisedPublicPrefixes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:29:\"advertisedPublicPrefixesState\";O:8:\"stdClass\":4:{s:11:\"description\";s:142:\"AdvertisedPublicPrefixState
  of the Peering resource. Possible values are 'NotConfigured', 'Configuring', 'Configured',
  and 'ValidationNeeded'.\";s:4:\"enum\";a:4:{i:0;s:13:\"NotConfigured\";i:1;s:11:\"Configuring\";i:2;s:10:\"Configured\";i:3;s:16:\"ValidationNeeded\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:53:\"ExpressRouteCircuitPeeringAdvertisedPublicPrefixState\";}}s:11:\"customerASN\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  CustomerASN of the peering.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"routingRegistryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  RoutingRegistryName of the configuration.\";s:4:\"type\";s:6:\"string\";}}}s:36:\"ExpressRouteCircuitPeeringListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Response
  for ListPeering API service call retrieves all peerings that belong to an ExpressRouteCircuit.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  peerings in an express route circuit.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ExpressRouteCircuitPeering\";}s:4:\"type\";s:5:\"array\";}}}s:42:\"ExpressRouteCircuitPeeringPropertiesFormat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:8:\"azureASN\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  Azure ASN.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"gatewayManagerEtag\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  GatewayManager Etag.\";s:4:\"type\";s:6:\"string\";}s:14:\"lastModifiedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Gets
  whether the provider or the customer last modified the peering.\";s:4:\"type\";s:6:\"string\";}s:22:\"microsoftPeeringConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/ExpressRouteCircuitPeeringConfig\";s:11:\"description\";s:36:\"The
  Microsoft peering configuration.\";}s:7:\"peerASN\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  peer ASN.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"peeringType\";O:8:\"stdClass\":4:{s:11:\"description\";s:106:\"The
  PeeringType. Possible values are: 'AzurePublicPeering', 'AzurePrivatePeering', and
  'MicrosoftPeering'.\";s:4:\"enum\";a:3:{i:0;s:18:\"AzurePublicPeering\";i:1;s:19:\"AzurePrivatePeering\";i:2;s:16:\"MicrosoftPeering\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:30:\"ExpressRouteCircuitPeeringType\";}}s:16:\"primaryAzurePort\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  primary port.\";s:4:\"type\";s:6:\"string\";}s:24:\"primaryPeerAddressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  primary address prefix.\";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Gets
  the provisioning state of the public IP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";s:4:\"type\";s:6:\"string\";}s:18:\"secondaryAzurePort\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  secondary port.\";s:4:\"type\";s:6:\"string\";}s:26:\"secondaryPeerAddressPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  secondary address prefix.\";s:4:\"type\";s:6:\"string\";}s:9:\"sharedKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  shared key.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"The
  state of peering. Possible values are: 'Disabled' and 'Enabled'\";s:4:\"enum\";a:2:{i:0;s:8:\"Disabled\";i:1;s:7:\"Enabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:31:\"ExpressRouteCircuitPeeringState\";}}s:5:\"stats\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ExpressRouteCircuitStats\";s:11:\"description\";s:19:\"Gets
  peering stats.\";}s:6:\"vlanId\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  VLAN ID.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:35:\"ExpressRouteCircuitPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Properties
  of ExpressRouteCircuit.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:22:\"allowClassicOperations\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Allow
  classic operations\";s:4:\"type\";s:7:\"boolean\";}s:14:\"authorizations\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  list of authorizations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ExpressRouteCircuitAuthorization\";}s:4:\"type\";s:5:\"array\";}s:24:\"circuitProvisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  CircuitProvisioningState state of the resource.\";s:4:\"type\";s:6:\"string\";}s:18:\"gatewayManagerEtag\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  GatewayManager Etag.\";s:4:\"type\";s:6:\"string\";}s:8:\"peerings\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  list of peerings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ExpressRouteCircuitPeering\";}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Gets
  the provisioning state of the public IP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";s:4:\"type\";s:6:\"string\";}s:10:\"serviceKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  ServiceKey.\";s:4:\"type\";s:6:\"string\";}s:20:\"serviceProviderNotes\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  ServiceProviderNotes.\";s:4:\"type\";s:6:\"string\";}s:25:\"serviceProviderProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:58:\"#/definitions/ExpressRouteCircuitServiceProviderProperties\";s:11:\"description\";s:30:\"The
  ServiceProviderProperties.\";}s:32:\"serviceProviderProvisioningState\";O:8:\"stdClass\":4:{s:11:\"description\";s:150:\"The
  ServiceProviderProvisioningState state of the resource. Possible values are 'NotProvisioned',
  'Provisioning', 'Provisioned', and 'Deprovisioning'.\";s:4:\"enum\";a:4:{i:0;s:14:\"NotProvisioned\";i:1;s:12:\"Provisioning\";i:2;s:11:\"Provisioned\";i:3;s:14:\"Deprovisioning\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:32:\"ServiceProviderProvisioningState\";}}}}s:30:\"ExpressRouteCircuitRoutesTable\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  routes table associated with the ExpressRouteCircuit\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"locPrf\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"locPrf\";s:4:\"type\";s:6:\"string\";}s:7:\"network\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"network\";s:4:\"type\";s:6:\"string\";}s:7:\"nextHop\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"nextHop\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"path\";s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"weight.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:37:\"ExpressRouteCircuitRoutesTableSummary\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  routes table associated with the ExpressRouteCircuit.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"as\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Autonomous
  system number.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"neighbor\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Neighbor\";s:4:\"type\";s:6:\"string\";}s:11:\"statePfxRcd\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"Current
  state of the BGP session, and the number of prefixes that have been received from
  a neighbor or peer group.\";s:4:\"type\";s:6:\"string\";}s:6:\"upDown\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"The
  length of time that the BGP session has been in the Established state, or the current
  status if not in the Established state.\";s:4:\"type\";s:6:\"string\";}s:1:\"v\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"BGP
  version number spoken to the neighbor.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:44:\"ExpressRouteCircuitServiceProviderProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Contains
  ServiceProviderProperties in an ExpressRouteCircuit.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"bandwidthInMbps\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  BandwidthInMbps.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"peeringLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  peering location.\";s:4:\"type\";s:6:\"string\";}s:19:\"serviceProviderName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  serviceProviderName.\";s:4:\"type\";s:6:\"string\";}}}s:22:\"ExpressRouteCircuitSku\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Contains
  SKU in an ExpressRouteCircuit.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"family\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"The
  family of the SKU. Possible values are: 'UnlimitedData' and 'MeteredData'.\";s:4:\"enum\";a:2:{i:0;s:13:\"UnlimitedData\";i:1;s:11:\"MeteredData\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:28:\"ExpressRouteCircuitSkuFamily\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  name of the SKU.\";s:4:\"type\";s:6:\"string\";}s:4:\"tier\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"The
  tier of the SKU. Possible values are 'Standard' and 'Premium'.\";s:4:\"enum\";a:2:{i:0;s:8:\"Standard\";i:1;s:7:\"Premium\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:26:\"ExpressRouteCircuitSkuTier\";}}}}s:24:\"ExpressRouteCircuitStats\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Contains
  stats associated with the peering.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"primarybytesIn\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Gets
  BytesIn of the peering.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"primarybytesOut\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Gets
  BytesOut of the peering.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:16:\"secondarybytesIn\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Gets
  BytesIn of the peering.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"secondarybytesOut\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Gets
  BytesOut of the peering.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:38:\"ExpressRouteCircuitsArpTableListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Response
  for ListArpTable associated with the Express Route Circuits API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Gets
  list of the ARP table.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ExpressRouteCircuitArpTable\";}s:4:\"type\";s:5:\"array\";}}}s:41:\"ExpressRouteCircuitsRoutesTableListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Response
  for ListRoutesTable associated with the Express Route Circuits API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  list of routes table.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/ExpressRouteCircuitRoutesTable\";}s:4:\"type\";s:5:\"array\";}}}s:48:\"ExpressRouteCircuitsRoutesTableSummaryListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Response
  for ListRoutesTable associated with the Express Route Circuits API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  list of the routes table.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/ExpressRouteCircuitRoutesTableSummary\";}s:4:\"type\";s:5:\"array\";}}}s:27:\"ExpressRouteServiceProvider\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Resource
  ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:38:\"A
  ExpressRouteResourceProvider object.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:57:\"#/definitions/ExpressRouteServiceProviderPropertiesFormat\";s:19:\"x-ms-client-flatten\";b:1;}}}s:44:\"ExpressRouteServiceProviderBandwidthsOffered\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Contains
  bandwidths offered in ExpressRouteServiceProvider resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"offerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  OfferName.\";s:4:\"type\";s:6:\"string\";}s:11:\"valueInMbps\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  ValueInMbps.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:37:\"ExpressRouteServiceProviderListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Response
  for the ListExpressRouteServiceProvider API service call.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  list of ExpressRouteResourceProvider resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ExpressRouteServiceProvider\";}s:4:\"type\";s:5:\"array\";}}}s:43:\"ExpressRouteServiceProviderPropertiesFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Properties
  of ExpressRouteServiceProvider.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"bandwidthsOffered\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Gets
  bandwidths offered.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/ExpressRouteServiceProviderBandwidthsOffered\";}s:4:\"type\";s:5:\"array\";}s:16:\"peeringLocations\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Get
  a list of peering locations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  the provisioning state of the resource.\";s:4:\"type\";s:6:\"string\";}}}}"
...
