---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"ApiManagementClient\";s:11:\"description\";s:122:\"Use
  these REST APIs for performing retrieve a collection of Apis associated with a tag
  in Azure API Management deployment.\";s:7:\"version\";s:18:\"2018-06-01-preview\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apisByTags
  : get:
      tags:
      - ApisByTags
      operationId: Api_ListByTags
      description: Lists a collection of apis associated with tags.
      x-ms-examples:
        ApiManagementListApisByTags:
          $ref: ./examples/ApiManagementListApisByTags.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - name: $filter
        in: query
        required: false
        type: string
        description: '| Field       | Supported operators    | Supported functions               |n|-------------|------------------------|-----------------------------------|nrn|name
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|displayName
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|apiRevision
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|path
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|description
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|serviceUrl
          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|n|isCurrent
          | eq |    |n'
      - $ref: ./apimanagement.json#/parameters/TopQueryParameter
      - $ref: ./apimanagement.json#/parameters/SkipQueryParameter
      - name: includeNotTaggedApis
        in: query
        required: false
        type: boolean
        description: Include not tagged APIs.
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Lists a collection of TagResource entities.
          schema:
            $ref: ./definitions.json#/definitions/TagResourceCollection
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-odata: ./definitions.json#/definitions/TagResourceContract
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
