---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:20:\"Azure Media Services\";s:11:\"description\";s:48:\"This
  Swagger was generated by the API Framework.\";s:7:\"version\";s:18:\"2018-06-01-preview\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/transforms
  : get:
      summary: List Transforms
      description: Lists the Transforms in the account.
      operationId: Transforms_List
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TransformCollection'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/MediaServicesAccountName'
      - $ref: '#/parameters/ApiVersion'
      - name: $filter
        in: query
        required: false
        type: string
        description: Restricts the set of items returned.
      - name: $top
        in: query
        required: false
        type: integer
        description: Specifies a non-negative integer n that limits the number of
          items returned from a collection. The service returns the number of available
          items up to but not greater than the specified value n.
      - name: $skip
        in: query
        required: false
        type: integer
        description: Specifies a non-negative integer n that excludes the first n
          items of the queried collection from the result. The service returns items
          starting at position n+1.
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-ms-odata: '#/definitions/Transform'
      x-ms-examples:
        Lists the Transforms:
          $ref: examples/transforms-list-all.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/transforms/{transformName}
  : get:
      summary: Get Transform
      description: Gets a Transform.
      operationId: Transforms_Get
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Transform'
        404:
          description: NotFound
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/MediaServicesAccountName'
      - name: transformName
        in: path
        required: true
        type: string
        description: The Transform name.
      - $ref: '#/parameters/ApiVersion'
      x-ms-examples:
        Get a Transform by name:
          $ref: examples/transforms-get-by-name.json
    put:
      summary: Create or Update Transform
      description: Creates or updates a new Transform.
      operationId: Transforms_CreateOrUpdate
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Transform'
        201:
          description: Created
          schema:
            $ref: '#/definitions/Transform'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/MediaServicesAccountName'
      - name: transformName
        in: path
        required: true
        type: string
        description: The Transform name.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Transform'
        description: The request parameters
      - $ref: '#/parameters/ApiVersion'
      x-ms-examples:
        Create or update a Transform:
          $ref: examples/transforms-create.json
    delete:
      summary: Delete Transform
      description: Deletes a Transform.
      operationId: Transforms_Delete
      responses:
        200:
          description: OK
        204:
          description: NoContent
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/MediaServicesAccountName'
      - name: transformName
        in: path
        required: true
        type: string
        description: The Transform name.
      - $ref: '#/parameters/ApiVersion'
      x-ms-examples:
        Delete a Transform:
          $ref: examples/transforms-delete.json
    patch:
      summary: Update Transform
      description: Updates a Transform.
      operationId: Transforms_Update
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Transform'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/MediaServicesAccountName'
      - name: transformName
        in: path
        required: true
        type: string
        description: The Transform name.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Transform'
        description: The request parameters
      - $ref: '#/parameters/ApiVersion'
      x-ms-examples:
        Update a Transform.:
          $ref: examples/transforms-update.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/transforms/{transformName}/jobs
  : get:
      summary: List Jobs
      description: Lists all of the Jobs for the Transform.
      operationId: Jobs_List
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobCollection'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/MediaServicesAccountName'
      - name: transformName
        in: path
        required: true
        type: string
        description: The Transform name.
      - $ref: '#/parameters/ApiVersion'
      - name: $filter
        in: query
        required: false
        type: string
        description: Restricts the set of items returned.
      - name: $top
        in: query
        required: false
        type: integer
        description: Specifies a non-negative integer n that limits the number of
          items returned from a collection. The service returns the number of available
          items up to but not greater than the specified value n.
      - name: $skip
        in: query
        required: false
        type: integer
        description: Specifies a non-negative integer n that excludes the first n
          items of the queried collection from the result. The service returns items
          starting at position n+1.
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
      x-ms-odata: '#/definitions/Job'
      x-ms-examples:
        Lists all of the Jobs for the Transform.:
          $ref: examples/jobs-list-all.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/transforms/{transformName}/jobs/{jobName}
  : get:
      summary: Get Job
      description: Gets a Job.
      operationId: Jobs_Get
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Job'
        404:
          description: NotFound
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/MediaServicesAccountName'
      - name: transformName
        in: path
        required: true
        type: string
        description: The Transform name.
      - name: jobName
        in: path
        required: true
        type: string
        description: The Job name.
      - $ref: '#/parameters/ApiVersion'
      x-ms-examples:
        Get a Job by name:
          $ref: examples/jobs-get-by-name.json
    put:
      summary: Create Job
      description: Creates a Job.
      operationId: Jobs_Create
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/Job'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/MediaServicesAccountName'
      - name: transformName
        in: path
        required: true
        type: string
        description: The Transform name.
      - name: jobName
        in: path
        required: true
        type: string
        description: The Job name.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Job'
        description: The request parameters
      - $ref: '#/parameters/ApiVersion'
      x-ms-examples:
        Create a Job:
          $ref: examples/jobs-create.json
    delete:
      summary: Delete Job
      description: Deletes a Job.
      operationId: Jobs_Delete
      responses:
        200:
          description: OK
        204:
          description: NoContent
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/MediaServicesAccountName'
      - name: transformName
        in: path
        required: true
        type: string
        description: The Transform name.
      - name: jobName
        in: path
        required: true
        type: string
        description: The Job name.
      - $ref: '#/parameters/ApiVersion'
      x-ms-examples:
        Delete a Job:
          $ref: examples/jobs-delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/transforms/{transformName}/jobs/{jobName}/cancelJob
  : post:
      summary: Cancel Job
      description: Cancel a Job.
      operationId: Jobs_CancelJob
      responses:
        200:
          description: OK
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/MediaServicesAccountName'
      - name: transformName
        in: path
        required: true
        type: string
        description: The Transform name.
      - name: jobName
        in: path
        required: true
        type: string
        description: The Job name.
      - $ref: '#/parameters/ApiVersion'
      x-ms-examples:
        Cancel a Job:
          $ref: examples/jobs-cancel.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":52:{s:6:\"Preset\";O:8:\"stdClass\":5:{s:13:\"discriminator\";s:11:\"@odata.type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  discriminator for derived types.\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"@odata.type\";}s:11:\"description\";s:116:\"Base
  type for all Presets, which define the recipe or instructions on how the input media
  files should be processed.\";}s:5:\"Codec\";O:8:\"stdClass\":5:{s:13:\"discriminator\";s:11:\"@odata.type\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  discriminator for derived types.\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"An
  optional label for the codec. The label can be used to control muxing behavior.\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"@odata.type\";}s:11:\"description\";s:45:\"Describes
  the basic properties of all codecs.\";}s:5:\"Audio\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:22:\"#Microsoft.Media.Audio\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Codec\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"channels\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"The
  number of channels in the audio.\";}s:12:\"samplingRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:47:\"The
  sampling rate to use for encoding in hertz.\";}s:7:\"bitrate\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:61:\"The
  bitrate, in bits per second, of the output encoded audio.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:51:\"Defines
  the common properties for all audio codecs.\";}s:8:\"AacAudio\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:25:\"#Microsoft.Media.AacAudio\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Audio\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"profile\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:5:\"AacLc\";i:1;s:7:\"HeAacV1\";i:2;s:7:\"HeAacV2\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:15:\"AacAudioProfile\";s:6:\"values\";a:3:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:5:\"AacLc\";s:11:\"description\";s:90:\"Specifies
  that the output audio is to be encoded into AAC Low Complexity profile (AAC-LC).\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:7:\"HeAacV1\";s:11:\"description\";s:72:\"Specifies
  that the output audio is to be encoded into HE-AAC v1 profile.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:7:\"HeAacV2\";s:11:\"description\";s:72:\"Specifies
  that the output audio is to be encoded into HE-AAC v2 profile.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:61:\"The
  encoding profile to be used when encoding audio with AAC.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:61:\"Describes
  Advanced Audio Codec (AAC) audio encoding settings.\";}s:19:\"AudioAnalyzerPreset\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:36:\"#Microsoft.Media.AudioAnalyzerPreset\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Preset\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"audioLanguage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:230:\"The
  language for the audio payload in the input using the BCP-47 format of 'language
  tag-region' (e.g: 'en-US'). The list of supported languages are, 'en-US', 'en-GB',
  'es-ES', 'es-MX', 'fr-FR', 'it-IT', 'ja-JP', 'pt-BR', 'zh-CN'.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:196:\"The
  Audio Analyzer preset applies a pre-defined set of AI-based analysis operations,
  including speech transcription. Currently, the preset supports processing of content
  with a single audio track.\";}s:7:\"Overlay\";O:8:\"stdClass\":5:{s:13:\"discriminator\";s:11:\"@odata.type\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  discriminator for derived types.\";}s:10:\"inputLabel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:323:\"The
  label of the job input which is to be used as an overlay. The Input must specify
  exactly one file. You can specify an image file in JPG or PNG formats, or an audio
  file (such as a WAV, MP3, WMA or M4A file), or a video file. See https://aka.ms/mesformats
  for the complete list of supported audio and video file formats.\";}s:5:\"start\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:274:\"The
  start position, with reference to the input video, at which the overlay starts.
  The value should be in ISO 8601 format. For example, PT05S to start the overlay
  at 5 seconds in to the input video. If not specified the overlay starts from the
  beginning of the input video.\";}s:3:\"end\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:380:\"The
  position in the input video at which the overlay ends. The value should be in ISO
  8601 duration format. For example, PT30S to end the overlay at 30 seconds in to
  the input video. If not specified the overlay will be applied until the end of the
  input video if inputLoop is true. Else, if inputLoop is false, then overlay will
  last as long as the duration of the overlay media.\";}s:14:\"fadeInDuration\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:191:\"The
  duration over which the overlay fades in onto the input video. The value should
  be in ISO 8601 duration format. If not specified the default behavior is to have
  no fade in (same as PT0S).\";}s:15:\"fadeOutDuration\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:191:\"The
  duration over which the overlay fades out of the input video. The value should be
  in ISO 8601 duration format. If not specified the default behavior is to have no
  fade out (same as PT0S).\";}s:14:\"audioGainLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:102:\"The
  gain level of audio in the overlay. The value should be in the range [0, 1.0]. The
  default is 1.0.\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"@odata.type\";}s:11:\"description\";s:51:\"Base
  type for all overlays - image, audio or video.\";}s:12:\"AudioOverlay\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:29:\"#Microsoft.Media.AudioOverlay\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Overlay\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:45:\"Describes
  the properties of an audio overlay.\";}s:9:\"CopyVideo\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:26:\"#Microsoft.Media.CopyVideo\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Codec\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:92:\"A
  codec flag, which tells the encoder to copy the input video bitstream without re-encoding.\";}s:5:\"Video\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:22:\"#Microsoft.Media.Video\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Codec\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"keyFrameInterval\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:212:\"The
  distance between two key frames, thereby defining a group of pictures (GOP). The
  value should be a non-zero integer in the range [1, 30] seconds, specified in ISO
  8601 format. The default is 2 seconds (PT2S).\";}s:11:\"stretchMode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:8:\"AutoSize\";i:2;s:7:\"AutoFit\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"StretchMode\";s:6:\"values\";a:3:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:4:\"None\";s:11:\"description\";s:125:\"Strictly
  respect the output resolution without considering the pixel aspect ratio or display
  aspect ratio of the input video.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:8:\"AutoSize\";s:11:\"description\";s:321:\"Override
  the output resolution, and change it to match the display aspect ratio of the input,
  without padding. For example, if the input is 1920x1080 and the encoding preset
  asks for 1280x1280, then the value in the preset is overridden, and the output will
  be at 1280x720, which maintains the input aspect ratio of 16:9.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:7:\"AutoFit\";s:11:\"description\";s:436:\"Pad
  the output (with either letterbox or pillar box) to honor the output resolution,
  while ensuring that the active video region in the output has the same aspect ratio
  as the input. For example, if the input is 1920x1080 and the encoding preset asks
  for 1280x1280, then the output will be at 1280x1280, which contains an inner rectangle
  of 1280x720 at aspect ratio of 16:9, and pillar box regions 280 pixels wide at the
  left and right.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:116:\"The
  resizing mode - how the input video will be resized to fit the desired output resolution(s).
  Default is AutoSize\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:60:\"Describes
  the basic properties for encoding the input video.\";}s:5:\"Image\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:22:\"#Microsoft.Media.Image\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Video\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"start\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:355:\"The
  position in the input video from where to start generating thumbnails. The value
  can be in absolute timestamp (ISO 8601, e.g: PT05S), or a frame count (For example,
  10 for the 10th frame), or a relative value (For example, 1%). Also supports a macro
  {Best}, which tells the encoder to select the best thumbnail from the first few
  seconds of the video.\";}s:4:\"step\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:236:\"The
  intervals at which thumbnails are generated. The value can be in absolute timestamp
  (ISO 8601, e.g: PT05S for one image every 5 seconds), or a frame count (For example,
  30 for every 30 frames), or a relative value (For example, 1%).\";}s:5:\"range\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:277:\"The
  position in the input video at which to stop generating thumbnails. The value can
  be in absolute timestamp (ISO 8601, e.g: PT5M30S to stop at 5 minutes and 30 seconds),
  or a frame count (For example, 300 to stop at the 300th frame), or a relative value
  (For example, 100%).\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:77:\"Describes
  the basic properties for generating thumbnails from the input video\";}s:6:\"Format\";O:8:\"stdClass\":5:{s:13:\"discriminator\";s:11:\"@odata.type\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  discriminator for derived types.\";}s:15:\"filenamePattern\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:524:\"The
  pattern of the file names for the generated output files. The following macros are
  supported in the file name: {Basename} - The base name of the input video {Extension}
  - The appropriate extension for this format. {Label} - The label assigned to the
  codec/layer. {Index} - A unique index for thumbnails. Only applicable to thumbnails.
  {Bitrate} - The audio/video bitrate. Not applicable to thumbnails. {Codec} - The
  type of the audio/video codec. Any unsubstituted macros will be collapsed and removed
  from the filename.\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"@odata.type\";}s:11:\"description\";s:22:\"Base
  class for output.\";}s:11:\"ImageFormat\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:28:\"#Microsoft.Media.ImageFormat\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Format\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:50:\"Describes
  the properties for an output image file.\";}s:9:\"JpgFormat\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:26:\"#Microsoft.Media.JpgFormat\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageFormat\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:53:\"Describes
  the settings for producing JPEG thumbnails.\";}s:9:\"PngFormat\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:26:\"#Microsoft.Media.PngFormat\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageFormat\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:52:\"Describes
  the settings for producing PNG thumbnails.\";}s:9:\"CopyAudio\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:26:\"#Microsoft.Media.CopyAudio\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Codec\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:72:\"A
  codec flag, which tells the encoder to copy the input audio bitstream.\";}s:11:\"Deinterlace\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"parity\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:4:\"Auto\";i:1;s:13:\"TopFieldFirst\";i:2;s:16:\"BottomFieldFirst\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:17:\"DeinterlaceParity\";s:6:\"values\";a:3:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:4:\"Auto\";s:11:\"description\";s:40:\"Automatically
  detect the order of fields\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:13:\"TopFieldFirst\";s:11:\"description\";s:48:\"Apply
  top field first processing of input video.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:16:\"BottomFieldFirst\";s:11:\"description\";s:51:\"Apply
  bottom field first processing of input video.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:54:\"The
  field parity for de-interlacing, defaults to Auto.\";}s:4:\"mode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"Off\";i:1;s:17:\"AutoPixelAdaptive\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:15:\"DeinterlaceMode\";s:6:\"values\";a:2:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:3:\"Off\";s:11:\"description\";s:44:\"Disables
  de-interlacing of the source video.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:17:\"AutoPixelAdaptive\";s:11:\"description\";s:79:\"Apply
  automatic pixel adaptive de-interlacing on each frame in the input video.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:54:\"The
  deinterlacing mode. Defaults to AutoPixelAdaptive.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:38:\"Describes
  the de-interlacing settings.\";}s:9:\"Rectangle\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"left\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:143:\"The
  number of pixels from the left-margin. This can be absolute pixel value (e.g 100),
  or relative to the size of the video (For example, 50%).\";}s:3:\"top\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:142:\"The
  number of pixels from the top-margin. This can be absolute pixel value (e.g 100),
  or relative to the size of the video (For example, 50%).\";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:147:\"The
  width of the rectangular region in pixels. This can be absolute pixel value (e.g
  100), or relative to the size of the video (For example, 50%).\";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:148:\"The
  height of the rectangular region in pixels. This can be absolute pixel value (e.g
  100), or relative to the size of the video (For example, 50%).\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:97:\"Describes
  the properties of a rectangular window applied to the input media before processing
  it.\";}s:7:\"Filters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"deinterlace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Deinterlace\";s:11:\"description\";s:28:\"The
  de-interlacing settings.\";}s:8:\"rotation\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:4:\"Auto\";i:1;s:4:\"None\";i:2;s:7:\"Rotate0\";i:3;s:8:\"Rotate90\";i:4;s:9:\"Rotate180\";i:5;s:9:\"Rotate270\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"Rotation\";s:6:\"values\";a:6:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:4:\"Auto\";s:11:\"description\";s:42:\"Automatically
  detect and rotate as needed.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:4:\"None\";s:11:\"description\";s:103:\"Do
  not rotate the video.  If the output format supports it, any metadata about rotation
  is kept intact.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:7:\"Rotate0\";s:11:\"description\";s:67:\"Do
  not rotate the video but remove any metadata about the rotation.\";}i:3;O:8:\"stdClass\":2:{s:5:\"value\";s:8:\"Rotate90\";s:11:\"description\";s:28:\"Rotate
  90 degrees clockwise.\";}i:4;O:8:\"stdClass\":2:{s:5:\"value\";s:9:\"Rotate180\";s:11:\"description\";s:29:\"Rotate
  180 degrees clockwise.\";}i:5;O:8:\"stdClass\":2:{s:5:\"value\";s:9:\"Rotate270\";s:11:\"description\";s:29:\"Rotate
  270 degrees clockwise.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:93:\"The
  rotation, if any, to be applied to the input video, before it is encoded. Default
  is Auto\";}s:4:\"crop\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Rectangle\";s:11:\"description\";s:77:\"The
  parameters for the rectangular window with which to crop the input video.\";}s:8:\"overlays\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Overlay\";}s:11:\"description\";s:107:\"The
  properties of overlays to be applied to the input video. These could be audio, image
  or video overlays.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:136:\"Describes
  all the filtering operations, such as de-interlacing, rotation etc. that are to
  be applied to the input media before encoding.\";}s:5:\"Layer\";O:8:\"stdClass\":5:{s:13:\"discriminator\";s:11:\"@odata.type\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  discriminator for derived types.\";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:198:\"The
  width of the output video for this layer. The value can be absolute (in pixels)
  or relative (in percentage). For example 50% means the output video has half as
  many pixels in width as the input.\";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:200:\"The
  height of the output video for this layer. The value can be absolute (in pixels)
  or relative (in percentage). For example 50% means the output video has half as
  many pixels in height as the input.\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:136:\"The
  alphanumeric label for this layer, which can be used in multiplexing different video
  and audio layers, or in naming the output file.\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"@odata.type\";}s:11:\"description\";s:224:\"The
  encoder can be configured to produce video and/or images (thumbnails) at different
  resolutions, by specifying a layer for each desired resolution. A layer represents
  the properties for the video or image at a resolution.\";}s:10:\"VideoLayer\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:27:\"#Microsoft.Media.VideoLayer\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Layer\";}}s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"bitrate\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:127:\"The
  average bitrate in bits per second at which to encode the input video when generating
  this layer. This is a required field.\";}s:10:\"maxBitrate\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:151:\"The
  maximum bitrate (in bits per second), at which the VBV buffer should be assumed
  to refill. If not specified, defaults to the same value as bitrate.\";}s:7:\"bFrames\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:158:\"The
  number of B-frames to be used when encoding this layer.  If not specified, the encoder
  chooses an appropriate number based on the video profile and level.\";}s:9:\"frameRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:387:\"The
  frame rate (in frames per second) at which to encode this layer. The value can be
  in the form of M/N where M and N are integers (For example, 30000/1001), or in the
  form of a number (For example, 30, or 29.97). The encoder enforces constraints on
  allowed frame rates based on the profile and level. If it is not specified, the
  encoder will use the same frame rate as the input video.\";}s:6:\"slices\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:157:\"The
  number of slices to be used when encoding this layer. If not specified, default
  is zero, which means that encoder will use a single slice for each frame.\";}s:14:\"adaptiveBFrame\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:163:\"Whether
  or not adaptive B-frames are to be used when encoding this layer. If not specified,
  the encoder will turn it on whenever the video profile permits its use.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:100:\"Describes
  the settings to be used when encoding the input video into a desired output bitrate
  layer.\";}s:9:\"H264Layer\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:26:\"#Microsoft.Media.H264Layer\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/VideoLayer\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"profile\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:4:\"Auto\";i:1;s:8:\"Baseline\";i:2;s:4:\"Main\";i:3;s:4:\"High\";i:4;s:7:\"High422\";i:5;s:7:\"High444\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:16:\"H264VideoProfile\";s:6:\"values\";a:6:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:4:\"Auto\";s:11:\"description\";s:75:\"Tells
  the encoder to automatically determine the appropriate H.264 profile.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:8:\"Baseline\";s:11:\"description\";s:16:\"Baseline
  profile\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:4:\"Main\";s:11:\"description\";s:12:\"Main
  profile\";}i:3;O:8:\"stdClass\":2:{s:5:\"value\";s:4:\"High\";s:11:\"description\";s:13:\"High
  profile.\";}i:4;O:8:\"stdClass\":2:{s:5:\"value\";s:7:\"High422\";s:11:\"description\";s:19:\"High
  4:2:2 profile.\";}i:5;O:8:\"stdClass\":2:{s:5:\"value\";s:7:\"High444\";s:11:\"description\";s:30:\"High
  4:4:4 predictive profile.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:93:\"Which
  profile of the H.264 standard should be used when encoding this layer. Default is
  Auto.\";}s:5:\"level\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:256:\"Which
  level of the H.264 standard should be used when encoding this layer. The value can
  be Auto, or a number that matches the H.264 profile. If not specified, the default
  is Auto, which lets the encoder choose the Level that is appropriate for this layer.\";}s:12:\"bufferWindow\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";s:11:\"description\";s:167:\"The
  VBV buffer window length. The value should be in ISO 8601 format. The value should
  be in the range [0.1-100] seconds. The default is 5 seconds (for example, PT5S).\";}s:15:\"referenceFrames\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:171:\"The
  number of reference frames to be used when encoding this layer. If not specified,
  the encoder determines an appropriate number based on the encoder complexity setting.\";}s:11:\"entropyMode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Cabac\";i:1;s:5:\"Cavlc\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"EntropyMode\";s:6:\"values\";a:2:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:5:\"Cabac\";s:11:\"description\";s:66:\"Context
  Adaptive Binary Arithmetic Coder (CABAC) entropy encoding.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:5:\"Cavlc\";s:11:\"description\";s:64:\"Context
  Adaptive Variable Length Coder (CAVLC) entropy encoding.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:137:\"The
  entropy mode to be used for this layer. If not specified, the encoder chooses the
  mode that is appropriate for the profile and level.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:127:\"Describes
  the settings to be used when encoding the input video into a desired output bitrate
  layer with the H.264 video codec.\";}s:9:\"H264Video\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:26:\"#Microsoft.Media.H264Video\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Video\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"sceneChangeDetection\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:217:\"Whether
  or not the encoder should insert key frames at scene changes. If not specified,
  the default is false. This flag should be set to true only when the encoder is being
  configured to produce a single output video.\";}s:10:\"complexity\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:5:\"Speed\";i:1;s:8:\"Balanced\";i:2;s:7:\"Quality\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:14:\"H264Complexity\";s:6:\"values\";a:3:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:5:\"Speed\";s:11:\"description\";s:122:\"Tells
  the encoder to use settings that are optimized for faster encoding. Quality is sacrificed
  to decrease encoding time.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:8:\"Balanced\";s:11:\"description\";s:83:\"Tells
  the encoder to use settings that achieve a balance between speed and quality.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:7:\"Quality\";s:11:\"description\";s:131:\"Tells
  the encoder to use settings that are optimized to produce higher quality output
  at the expense of slower overall encode time.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:85:\"Tells
  the encoder how to choose its encoding settings. The default value is Balanced.\";}s:6:\"layers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/H264Layer\";}s:11:\"description\";s:68:\"The
  collection of output H.264 layers to be produced by the encoder.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:71:\"Describes
  all the properties for encoding a video with the H.264 codec.\";}s:8:\"JpgImage\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:25:\"#Microsoft.Media.JpgImage\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"layers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/JpgLayer\";}s:11:\"description\";s:71:\"A
  collection of output JPEG image layers to be produced by the encoder.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:84:\"Describes
  the properties for producing a series of JPEG images from the input video.\";}s:8:\"JpgLayer\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:25:\"#Microsoft.Media.JpgLayer\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Layer\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"quality\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:86:\"The
  compression quality of the JPEG output. Range is from 0-100 and the default is 70.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:68:\"Describes
  the settings to produce a JPEG image from the input video.\";}s:10:\"OutputFile\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"labels\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:370:\"The
  list of labels that describe how the encoder should multiplex video and audio into
  an output file. For example, if the encoder is producing two video layers with labels
  v1 and v2, and one audio layer with label a1, then an array like '[v1, a1]' tells
  the encoder to produce an output file with the video track represented by v1 and
  the audio track represented by a1.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:35:\"Represents
  an output file produced.\";}s:18:\"MultiBitrateFormat\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:35:\"#Microsoft.Media.MultiBitrateFormat\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Format\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"outputFiles\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/OutputFile\";}s:11:\"description\";s:124:\"The
  list of output files to produce.  Each entry in the list is a set of audio and video
  layer labels to be muxed together .\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:296:\"Describes
  the properties for producing a collection of GOP aligned multi-bitrate files. The
  default behavior is to produce one output file for each video layer which is muxed
  together with all the audios. The exact output files produced can be controlled
  by specifying the outputFiles collection.\";}s:9:\"Mp4Format\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:26:\"#Microsoft.Media.Mp4Format\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/MultiBitrateFormat\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:52:\"Describes
  the properties for an output ISO MP4 file.\";}s:8:\"PngImage\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:25:\"#Microsoft.Media.PngImage\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"layers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/PngLayer\";}s:11:\"description\";s:70:\"A
  collection of output PNG image layers to be produced by the encoder.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:83:\"Describes
  the properties for producing a series of PNG images from the input video.\";}s:8:\"PngLayer\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:25:\"#Microsoft.Media.PngLayer\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Layer\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:67:\"Describes
  the settings to produce a PNG image from the input video.\";}s:28:\"BuiltInStandardEncoderPreset\";O:8:\"stdClass\":6:{s:24:\"x-ms-discriminator-value\";s:45:\"#Microsoft.Media.BuiltInStandardEncoderPreset\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Preset\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"presetName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:17:\"AdaptiveStreaming\";i:1;s:19:\"AACGoodQualityAudio\";i:2;s:24:\"H264MultipleBitrate1080p\";i:3;s:23:\"H264MultipleBitrate720p\";i:4;s:21:\"H264MultipleBitrateSD\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:18:\"EncoderNamedPreset\";s:6:\"values\";a:5:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:17:\"AdaptiveStreaming\";s:11:\"description\";s:458:\"Produces
  a set of GOP aligned MP4 files with H.264 video and stereo AAC audio. Auto-generates
  a bitrate ladder based on the input resolution and bitrate. The auto-generated preset
  will never exceed the input resolution and bitrate. For example, if the input is
  720p at 3 Mbps, output will remain 720p at best, and will start at rates lower than
  3 Mbps. The output will will have video and audio in separate MP4 files, which is
  optimal for adaptive streaming.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:19:\"AACGoodQualityAudio\";s:11:\"description\";s:76:\"Produces
  a single MP4 file containing only stereo audio encoded at 192 kbps.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:24:\"H264MultipleBitrate1080p\";s:11:\"description\";s:150:\"Produces
  a set of 8 GOP-aligned MP4 files, ranging from 6000 kbps to 400 kbps, and stereo
  AAC audio. Resolution starts at 1080p and goes down to 360p.\";}i:3;O:8:\"stdClass\":2:{s:5:\"value\";s:23:\"H264MultipleBitrate720p\";s:11:\"description\";s:149:\"Produces
  a set of 6 GOP-aligned MP4 files, ranging from 3400 kbps to 400 kbps, and stereo
  AAC audio. Resolution starts at 720p and goes down to 360p.\";}i:4;O:8:\"stdClass\":2:{s:5:\"value\";s:21:\"H264MultipleBitrateSD\";s:11:\"description\";s:148:\"Produces
  a set of 5 GOP-aligned MP4 files, ranging from 1600kbps to 400 kbps, and stereo
  AAC audio. Resolution starts at 480p and goes down to 360p.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:51:\"The
  built-in preset to be used for encoding videos.\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"presetName\";}s:11:\"description\";s:83:\"Describes
  a built-in preset for encoding the input video with the Standard Encoder.\";}s:21:\"StandardEncoderPreset\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:38:\"#Microsoft.Media.StandardEncoderPreset\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Preset\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Filters\";s:11:\"description\";s:85:\"One
  or more filtering operations that are applied to the input media before encoding.\";}s:6:\"codecs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Codec\";}s:11:\"description\";s:60:\"The
  list of codecs to be used when encoding the input video.\";}s:7:\"formats\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Format\";}s:11:\"description\";s:50:\"The
  list of outputs to be produced by the encoder.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:94:\"Describes
  all the settings to be used when encoding the input video with the Standard Encoder.\";}s:19:\"VideoAnalyzerPreset\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:36:\"#Microsoft.Media.VideoAnalyzerPreset\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AudioAnalyzerPreset\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"audioInsightsOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:68:\"Whether
  to only extract audio insights when processing a video file.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:121:\"A
  video analyzer preset that extracts insights (rich metadata) from both audio and
  video, and outputs a JSON format file.\";}s:21:\"TransportStreamFormat\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:38:\"#Microsoft.Media.TransportStreamFormat\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/MultiBitrateFormat\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:106:\"Describes
  the properties for generating an MPEG-2 Transport Stream (ISO/IEC 13818-1) output
  video file(s).\";}s:12:\"VideoOverlay\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:29:\"#Microsoft.Media.VideoOverlay\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Overlay\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"position\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Rectangle\";s:11:\"description\";s:61:\"The
  location in the input video where the overlay is applied.\";}s:7:\"opacity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:116:\"The
  opacity of the overlay. This is a value in the range [0 - 1.0]. Default is 1.0 which
  mean the overlay is opaque.\";}s:13:\"cropRectangle\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Rectangle\";s:11:\"description\";s:71:\"An
  optional rectangular window used to crop the overlay image or video.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:44:\"Describes
  the properties of a video overlay.\";}s:15:\"TransformOutput\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"onError\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:17:\"StopProcessingJob\";i:1;s:11:\"ContinueJob\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"OnErrorType\";s:6:\"values\";a:2:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:17:\"StopProcessingJob\";s:11:\"description\";s:112:\"Tells
  the service that if this TransformOutput fails, then any other incomplete TransformOutputs
  can be stopped.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:11:\"ContinueJob\";s:11:\"description\";s:103:\"Tells
  the service that if this TransformOutput fails, then allow any other TransformOutput
  to continue.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:209:\"A
  Transform can define more than one outputs. This property defines what the service
  should do when one output fails - either continue to produce other outputs, or,
  stop the other outputs. The default is stop.\";}s:16:\"relativePriority\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:3:\"Low\";i:1;s:6:\"Normal\";i:2;s:4:\"High\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"Priority\";s:6:\"values\";a:3:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:3:\"Low\";s:11:\"description\";s:96:\"Used
  for TransformOutputs that can be generated after Normal and High priority TransformOutputs.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:6:\"Normal\";s:11:\"description\";s:67:\"Used
  for TransformOutputs that can be generated at Normal priority.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:4:\"High\";s:11:\"description\";s:66:\"Used
  for TransformOutputs that should take precedence over others.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:180:\"Sets
  the relative priority of the TransformOutputs within a Transform. This sets the
  priority that the service uses for processing TransformOutputs. The default priority
  is Normal.\";}s:6:\"preset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Preset\";s:11:\"description\";s:141:\"Preset
  that describes the operations that will be used to modify, transcode, or extract
  insights from the source file to generate the output.\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"preset\";}s:11:\"description\";s:117:\"Describes
  the properties of a TransformOutput, which are the rules to be applied while generating
  the desired output.\";}s:19:\"TransformProperties\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"created\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:87:\"The
  UTC date and time when the Transform was created, in 'YYYY-MM-DDThh:mm:ssZ' format.\";s:8:\"readOnly\";b:1;s:10:\"x-nullable\";b:0;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"An
  optional verbose description of the Transform.\";}s:12:\"lastModified\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:92:\"The
  UTC date and time when the Transform was last updated, in 'YYYY-MM-DDThh:mm:ssZ'
  format.\";s:8:\"readOnly\";b:1;s:10:\"x-nullable\";b:0;}s:7:\"outputs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TransformOutput\";}s:11:\"description\";s:76:\"An
  array of one or more TransformOutputs that the Transform should generate.\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"outputs\";}s:11:\"description\";s:12:\"A
  Transform.\";}s:9:\"Transform\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"./Common.json#/definitions/ProxyResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/TransformProperties\";s:11:\"description\";s:24:\"The
  resource properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:232:\"A
  Transform encapsulates the rules or instructions for generating desired outputs
  from input media, such as by transcoding or by extracting insights. After the Transform
  is created, it can be applied to input media by creating Jobs.\";}s:8:\"JobInput\";O:8:\"stdClass\":5:{s:13:\"discriminator\";s:11:\"@odata.type\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  discriminator for derived types.\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:372:\"A
  label that is assigned to a JobInput, that is used to satisfy a reference used in
  the Transform. For example, a Transform can be authored so as to take an image file
  with the label 'xyz' and apply it as an overlay onto the input video before it is
  encoded. When submitting a Job, exactly one of the JobInputs should be the image
  file, and it should have the label 'xyz'.\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"@odata.type\";}s:11:\"description\";s:31:\"Base
  class for inputs to a Job.\";}s:12:\"JobInputClip\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:29:\"#Microsoft.Media.JobInputClip\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/JobInput\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"files\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:41:\"List
  of files. Required for JobInputHttp.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:33:\"Represents
  input files for a Job.\";}s:9:\"JobInputs\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:26:\"#Microsoft.Media.JobInputs\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/JobInput\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"inputs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/JobInput\";}s:11:\"description\";s:24:\"List
  of inputs to a Job.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:39:\"Describes
  a list of of inputs to a Job.\";}s:13:\"JobInputAsset\";O:8:\"stdClass\":6:{s:24:\"x-ms-discriminator-value\";s:30:\"#Microsoft.Media.JobInputAsset\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/JobInputClip\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"assetName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  name of the input Asset.\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:9:\"assetName\";}s:11:\"description\";s:41:\"Represents
  an Asset for input into a Job.\";}s:12:\"JobInputHttp\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:29:\"#Microsoft.Media.JobInputHttp\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/JobInputClip\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"baseUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:173:\"Base
  URI for HTTPS job input. It will be concatenated with provided file names.   If
  no base uri is given, then the provided file list is assumed to be fully qualified
  uris.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"Represents HTTPS
  job input.\";}s:9:\"JobOutput\";O:8:\"stdClass\":5:{s:13:\"discriminator\";s:11:\"@odata.type\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"@odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  discriminator for derived types.\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:22:\"#/definitions/JobError\";s:11:\"description\";s:77:\"If
  the JobOutput is in the Error state, it contains the details of the error.\";s:8:\"readOnly\";b:1;}s:5:\"state\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:8:\"Canceled\";i:1;s:9:\"Canceling\";i:2;s:5:\"Error\";i:3;s:8:\"Finished\";i:4;s:10:\"Processing\";i:5;s:6:\"Queued\";i:6;s:9:\"Scheduled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"JobState\";s:6:\"values\";a:7:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:8:\"Canceled\";s:11:\"description\";s:56:\"The
  job was canceled. This is a final state for the job.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:9:\"Canceling\";s:11:\"description\";s:83:\"The
  job is in the process of being canceled. This is a transient state for the job.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:5:\"Error\";s:11:\"description\";s:68:\"The
  job has encountered an error. This is a final state for the job.\";}i:3;O:8:\"stdClass\":2:{s:5:\"value\";s:8:\"Finished\";s:11:\"description\";s:55:\"The
  job is finished. This is a final state for the job.\";}i:4;O:8:\"stdClass\":2:{s:5:\"value\";s:10:\"Processing\";s:11:\"description\";s:61:\"The
  job is processing. This is a transient state for the job.\";}i:5;O:8:\"stdClass\":2:{s:5:\"value\";s:6:\"Queued\";s:11:\"description\";s:99:\"The
  job is in a queued state, waiting for resources to become available. This is a transient
  state.\";}i:6;O:8:\"stdClass\":2:{s:5:\"value\";s:9:\"Scheduled\";s:11:\"description\";s:124:\"The
  job is being scheduled to run on an available resource. This is a transient state,
  between queued and processing states.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:37:\"Describes
  the state of the JobOutput.\";s:8:\"readOnly\";b:1;s:10:\"x-nullable\";b:0;}s:8:\"progress\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:241:\"If
  the JobOutput is in a Processing state, this contains the job completion percentage.
  \ The value is an estimate and not intended to be used to predict job completion
  times. To determine if the JobOutput is complete, use the State property.\";s:8:\"readOnly\";b:1;s:10:\"x-nullable\";b:0;}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"@odata.type\";}s:11:\"description\";s:44:\"Describes
  all the properties of a JobOutput.\";}s:8:\"JobError\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:12:\"ServiceError\";i:1;s:21:\"ServiceTransientError\";i:2;s:21:\"DownloadNotAccessible\";i:3;s:22:\"DownloadTransientError\";i:4;s:19:\"UploadNotAccessible\";i:5;s:20:\"UploadTransientError\";i:6;s:24:\"ConfigurationUnsupported\";i:7;s:16:\"ContentMalformed\";i:8;s:18:\"ContentUnsupported\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:12:\"JobErrorCode\";s:6:\"values\";a:9:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:12:\"ServiceError\";s:11:\"description\";s:44:\"Fatal
  service error, please contact support.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:21:\"ServiceTransientError\";s:11:\"description\";s:80:\"Transient
  error, please retry, if retry is unsuccessful, please contact support.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:21:\"DownloadNotAccessible\";s:11:\"description\";s:117:\"While
  trying to download the input files, the files were not accessible, please check
  the availability of the source.\";}i:3;O:8:\"stdClass\":2:{s:5:\"value\";s:22:\"DownloadTransientError\";s:11:\"description\";s:146:\"While
  trying to download the input files, there was an issue during transfer (storage
  service, network errors), see details and check your source.\";}i:4;O:8:\"stdClass\":2:{s:5:\"value\";s:19:\"UploadNotAccessible\";s:11:\"description\";s:125:\"While
  trying to upload the output files, the destination was not reachable, please check
  the availability of the destination.\";}i:5;O:8:\"stdClass\":2:{s:5:\"value\";s:20:\"UploadTransientError\";s:11:\"description\";s:150:\"While
  trying to upload the output files, there was an issue during transfer (storage service,
  network errors), see details and check your destination.\";}i:6;O:8:\"stdClass\":2:{s:5:\"value\";s:24:\"ConfigurationUnsupported\";s:11:\"description\";s:201:\"There
  was a problem with the combination of input files and the configuration settings
  applied, fix the configuration settings and retry with the same input, or change
  input to match the configuration.\";}i:7;O:8:\"stdClass\":2:{s:5:\"value\";s:16:\"ContentMalformed\";s:11:\"description\";s:129:\"There
  was a problem with the input content (for example: zero byte files, or corrupt/non-decodable
  files), check the input files.\";}i:8;O:8:\"stdClass\":2:{s:5:\"value\";s:18:\"ContentUnsupported\";s:11:\"description\";s:141:\"There
  was a problem with the format of the input (not valid media file, or an unsupported
  file/codec), check the validity of the input files.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:32:\"Error
  code describing the error.\";s:8:\"readOnly\";b:1;s:10:\"x-nullable\";b:0;}s:7:\"message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"A
  human-readable language-dependent representation of the error.\";s:8:\"readOnly\";b:1;}s:8:\"category\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:7:\"Service\";i:1;s:8:\"Download\";i:2;s:6:\"Upload\";i:3;s:13:\"Configuration\";i:4;s:7:\"Content\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:16:\"JobErrorCategory\";s:6:\"values\";a:5:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:7:\"Service\";s:11:\"description\";s:29:\"The
  error is service related.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:8:\"Download\";s:11:\"description\";s:30:\"The
  error is download related.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:6:\"Upload\";s:11:\"description\";s:28:\"The
  error is upload related.\";}i:3;O:8:\"stdClass\":2:{s:5:\"value\";s:13:\"Configuration\";s:11:\"description\";s:35:\"The
  error is configuration related.\";}i:4;O:8:\"stdClass\":2:{s:5:\"value\";s:7:\"Content\";s:11:\"description\";s:48:\"The
  error is related to data in the input files.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:36:\"Helps
  with categorization of errors.\";s:8:\"readOnly\";b:1;s:10:\"x-nullable\";b:0;}s:5:\"retry\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:10:\"DoNotRetry\";i:1;s:8:\"MayRetry\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"JobRetry\";s:6:\"values\";a:2:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:10:\"DoNotRetry\";s:11:\"description\";s:133:\"Issue
  needs to be investigated and then the job resubmitted with corrections or retried
  once the underlying issue has been corrected.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:8:\"MayRetry\";s:11:\"description\";s:87:\"Issue
  may be resolved after waiting for a period of time and resubmitting the same Job.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:124:\"Indicates
  that it may be possible to retry the Job. If retry is unsuccessful, please contact
  Azure support via Azure Portal.\";s:8:\"readOnly\";b:1;s:10:\"x-nullable\";b:0;}s:7:\"details\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/JobErrorDetail\";}s:11:\"description\";s:74:\"An
  array of details about specific errors that led to this reported error.\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"Details
  of JobOutput errors.\";}s:14:\"JobOutputAsset\";O:8:\"stdClass\":6:{s:24:\"x-ms-discriminator-value\";s:31:\"#Microsoft.Media.JobOutputAsset\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/JobOutput\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"assetName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  name of the output Asset.\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:9:\"assetName\";}s:11:\"description\";s:40:\"Represents
  an Asset used as a JobOutput.\";}s:14:\"JobErrorDetail\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Code
  describing the error detail.\";s:8:\"readOnly\";b:1;}s:7:\"message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"A
  human-readable representation of the error.\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"Details
  of JobOutput errors.\";}s:13:\"JobProperties\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"created\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:81:\"The
  UTC date and time when the Job was created, in 'YYYY-MM-DDThh:mm:ssZ' format.\";s:8:\"readOnly\";b:1;s:10:\"x-nullable\";b:0;}s:5:\"state\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:8:\"Canceled\";i:1;s:9:\"Canceling\";i:2;s:5:\"Error\";i:3;s:8:\"Finished\";i:4;s:10:\"Processing\";i:5;s:6:\"Queued\";i:6;s:9:\"Scheduled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"JobState\";s:6:\"values\";a:7:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:8:\"Canceled\";s:11:\"description\";s:56:\"The
  job was canceled. This is a final state for the job.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:9:\"Canceling\";s:11:\"description\";s:83:\"The
  job is in the process of being canceled. This is a transient state for the job.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:5:\"Error\";s:11:\"description\";s:68:\"The
  job has encountered an error. This is a final state for the job.\";}i:3;O:8:\"stdClass\":2:{s:5:\"value\";s:8:\"Finished\";s:11:\"description\";s:55:\"The
  job is finished. This is a final state for the job.\";}i:4;O:8:\"stdClass\":2:{s:5:\"value\";s:10:\"Processing\";s:11:\"description\";s:61:\"The
  job is processing. This is a transient state for the job.\";}i:5;O:8:\"stdClass\":2:{s:5:\"value\";s:6:\"Queued\";s:11:\"description\";s:99:\"The
  job is in a queued state, waiting for resources to become available. This is a transient
  state.\";}i:6;O:8:\"stdClass\":2:{s:5:\"value\";s:9:\"Scheduled\";s:11:\"description\";s:124:\"The
  job is being scheduled to run on an available resource. This is a transient state,
  between queued and processing states.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:29:\"The
  current state of the job.\";s:8:\"readOnly\";b:1;s:10:\"x-nullable\";b:0;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Optional
  customer supplied description of the Job.\";}s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/JobInput\";s:11:\"description\";s:23:\"The
  inputs for the Job.\";}s:12:\"lastModified\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:86:\"The
  UTC date and time when the Job was last updated, in 'YYYY-MM-DDThh:mm:ssZ' format.\";s:8:\"readOnly\";b:1;s:10:\"x-nullable\";b:0;}s:7:\"outputs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/JobOutput\";}s:11:\"description\";s:24:\"The
  outputs for the Job.\";}s:8:\"priority\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:3:\"Low\";i:1;s:6:\"Normal\";i:2;s:4:\"High\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"Priority\";s:6:\"values\";a:3:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:3:\"Low\";s:11:\"description\";s:96:\"Used
  for TransformOutputs that can be generated after Normal and High priority TransformOutputs.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:6:\"Normal\";s:11:\"description\";s:67:\"Used
  for TransformOutputs that can be generated at Normal priority.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:4:\"High\";s:11:\"description\";s:66:\"Used
  for TransformOutputs that should take precedence over others.\";}}s:17:\"modelAsExtensible\";b:1;}s:11:\"description\";s:146:\"Priority
  with which the job should be processed. Higher priority jobs are processed before
  lower priority jobs. If not set, the default is normal.\";}s:15:\"correlationData\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:81:\"Customer
  provided correlation data that will be returned in Job completed events.\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"input\";i:1;s:7:\"outputs\";}s:11:\"description\";s:22:\"Properties
  of the Job.\";}s:3:\"Job\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"./Common.json#/definitions/ProxyResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/JobProperties\";s:11:\"description\";s:24:\"The
  resource properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:118:\"A
  Job resource type. The progress and state can be obtained by polling a Job or subscribing
  to events using EventGrid.\";}s:10:\"ODataError\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"A
  language-independent error name.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  error message.\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"The
  target of the error (for example, the name of the property in error).\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ODataError\";}s:11:\"description\";s:18:\"The
  error details.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"Information
  about an error.\";}s:8:\"ApiError\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ODataError\";s:11:\"description\";s:21:\"The
  error properties.\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:14:\"The
  API error.\";}s:19:\"TransformCollection\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Transform\";}s:11:\"description\";s:32:\"A
  collection of Transform items.\";}s:15:\"@odata.nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:116:\"A
  link to the next page of the collection (when the collection contains too many results
  to return in one response).\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:32:\"A
  collection of Transform items.\";}s:13:\"JobCollection\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}s:11:\"description\";s:26:\"A
  collection of Job items.\";}s:15:\"@odata.nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:116:\"A
  link to the next page of the collection (when the collection contains too many results
  to return in one response).\";}}s:4:\"type\";s:6:\"object\";s:11:\"description\";s:26:\"A
  collection of Job items.\";}}"
...
