---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:49:\"Azure Application
  Insights client for Components.\";s:5:\"title\";s:35:\"ApplicationInsightsManagementClient\";s:7:\"version\";s:10:\"2015-05-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:175:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/components_API.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:34:\"applicationinsights-components_API\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Insights/components:
    get:
      description: Gets a list of all Application Insights components within a subscription.
      operationId: Components_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: A list containing 0 or more Application Insights component
            definitions.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponentListResult'
      x-ms-examples:
        ComponentsList.json:
          parameters:
            api-version: "2015-05-01"
            subscriptionId: subid
          responses:
            200:
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component
                  kind: web
                  location: South Central US
                  name: my-component
                  properties:
                    AppId: 16526d1a-dfba-4362-a9e9-123456789abc
                    ApplicationId: my-component
                    Application_Type: web
                    CreationDate: "2017-02-14T12:24:05.0041213+00:00"
                    Flow_Type: Bluefield
                    HockeyAppId: ""
                    HockeyAppToken: ""
                    InstrumentationKey: dc5931c7-a7ad-4ad0-89d6-123456789abc
                    Request_Source: rest
                    SamplingPercentage: 75
                    TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                    provisioningState: Succeeded
                  tags: ""
                  type: Microsoft.Insights/components
                - id: /subscriptions/subid/resourceGroups/my-other-resource-group/providers/Microsoft.Insights/components/my-other-component
                  kind: web
                  location: South Central US
                  name: my-other-component
                  properties:
                    AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                    ApplicationId: my-other-component
                    Application_Type: web
                    CreationDate: "2017-01-24T01:05:38.5934061+00:00"
                    Flow_Type: Bluefield
                    HockeyAppId: ""
                    HockeyAppToken: ""
                    InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                    Request_Source: rest
                    SamplingPercentage: 30
                    TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                    provisioningState: Succeeded
                  tags: ""
                  type: Microsoft.Insights/components
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components:
    get:
      description: Gets a list of Application Insights components within a resource
        group.
      operationId: Components_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: A list containing 0 or more Application Insights component
            definitions.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponentListResult'
      x-ms-examples:
        ComponentListByResourceGroup:
          parameters:
            api-version: "2015-05-01"
            resourceGroupName: my-resource-group
            subscriptionId: subid
          responses:
            200:
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component
                  kind: web
                  location: South Central US
                  name: my-component
                  properties:
                    AppId: 16526d1a-dfba-4362-a9e9-123456789abc
                    ApplicationId: my-component
                    Application_Type: web
                    CreationDate: "2017-02-14T12:24:05.0041213+00:00"
                    Flow_Type: Bluefield
                    HockeyAppId: ""
                    HockeyAppToken: ""
                    InstrumentationKey: dc5931c7-a7ad-4ad0-89d6-123456789abc
                    Request_Source: rest
                    SamplingPercentage: 100
                    TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                    provisioningState: Succeeded
                  tags: ""
                  type: Microsoft.Insights/components
                - id: /subscriptions/subid/resourceGroups/my-other-resource-group/providers/Microsoft.Insights/components/my-other-component
                  kind: web
                  location: South Central US
                  name: my-other-component
                  properties:
                    AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                    ApplicationId: my-other-component
                    Application_Type: web
                    CreationDate: "2017-01-24T01:05:38.5934061+00:00"
                    Flow_Type: Bluefield
                    HockeyAppId: ""
                    HockeyAppToken: ""
                    InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                    Request_Source: rest
                    SamplingPercentage: 50
                    TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                    provisioningState: Succeeded
                  tags: ""
                  type: Microsoft.Insights/components
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}:
    delete:
      description: Deletes an Application Insights component.
      operationId: Components_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceNameParameter'
      responses:
        200:
          description: Successful request when deleting an Application Insights component.
        204:
          description: The specified component does not exist.
      x-ms-examples:
        ComponentsDelete:
          parameters:
            api-version: "2015-05-01"
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            200: []
            204: []
    get:
      description: Returns an Application Insights component.
      operationId: Components_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceNameParameter'
      responses:
        200:
          description: An Application Insights Component definition.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponent'
      x-ms-examples:
        ComponentGet:
          parameters:
            api-version: "2015-05-01"
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component
                kind: web
                location: South Central US
                name: my-component
                properties:
                  AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                  ApplicationId: my-component
                  Application_Type: web
                  CreationDate: "2017-01-24T01:05:38.5934061+00:00"
                  Flow_Type: Bluefield
                  HockeyAppId: ""
                  HockeyAppToken: ""
                  InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                  Request_Source: rest
                  SamplingPercentage: 100
                  TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                  provisioningState: Succeeded
                tags: ""
                type: Microsoft.Insights/components
    patch:
      description: Updates an existing component's tags. To update other fields use
        the CreateOrUpdate method.
      operationId: Components_UpdateTags
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceNameParameter'
      - description: Updated tag information to set into the component instance.
        in: body
        name: ComponentTags
        required: true
        schema:
          $ref: '#/definitions/TagsResource'
      responses:
        200:
          description: Updating the Application Insights component's tags was successful.
            Component tags are updated and returned with the rest of the Component's
            object properties.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponent'
      x-ms-examples:
        ComponentUpdateTagsOnly:
          parameters:
            ComponentTags:
              tags:
                ApplicationGatewayType: Internal-Only
                BillingEntity: Self
                Color: AzureBlue
                CustomField_01: Custom text in some random field named randomly
                NodeType: Edge
            api-version: "2015-05-01"
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component
                kind: web
                location: South Central US
                name: my-component
                properties:
                  AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                  ApplicationId: my-component
                  Application_Type: web
                  CreationDate: "2017-01-24T01:05:38.5934061+00:00"
                  Flow_Type: Bluefield
                  HockeyAppId: ""
                  HockeyAppToken: ""
                  InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                  Request_Source: rest
                  SamplingPercentage: 100
                  TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                  provisioningState: Succeeded
                tags:
                  ApplicationGatewayType: Internal-Only
                  BillingEntity: Self
                  Color: AzureBlue
                  CustomField_01: Custom text in some random field named randomly
                  NodeType: Edge
                type: Microsoft.Insights/components
    put:
      description: 'Creates (or updates) an Application Insights component. Note:
        You cannot specify a different value for InstrumentationKey nor AppId in the
        Put operation.'
      operationId: Components_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceNameParameter'
      - description: Properties that need to be specified to create an Application
          Insights component.
        in: body
        name: InsightProperties
        required: true
        schema:
          $ref: '#/definitions/ApplicationInsightsComponent'
      responses:
        200:
          description: Successful request when creating or updating an Application
            Insights component. The updated component is returned.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponent'
      x-ms-examples:
        ComponentCreate:
          parameters:
            InsightProperties:
              kind: web
              location: South Central US
              name: my-component
              properties:
                ApplicationId: my-component
                Application_Type: web
                Flow_Type: Bluefield
                Request_Source: rest
            api-version: "2015-05-01"
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component
                kind: web
                location: South Central US
                name: my-component
                properties:
                  AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                  ApplicationId: my-component
                  Application_Type: web
                  CreationDate: "2017-01-24T01:05:38.5934061+00:00"
                  Flow_Type: Bluefield
                  HockeyAppId: ""
                  HockeyAppToken: ""
                  InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                  Request_Source: rest
                  SamplingPercentage: 100
                  TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                  provisioningState: Succeeded
                tags: ""
                type: Microsoft.Insights/components
        ComponentUpdate:
          parameters:
            InsightProperties:
              kind: web
              location: South Central US
              name: my-component
              tags:
                ApplicationGatewayType: Internal-Only
                BillingEntity: Self
            api-version: "2015-05-01"
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component
                kind: web
                location: South Central US
                name: my-component
                properties:
                  AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                  ApplicationId: my-component
                  Application_Type: web
                  CreationDate: "2017-01-24T01:05:38.5934061+00:00"
                  Flow_Type: Bluefield
                  HockeyAppId: ""
                  HockeyAppToken: ""
                  InstrumentationKey: bc095013-3cf2-45ac-ab47-123456789abc
                  Request_Source: rest
                  SamplingPercentage: 100
                  TenantId: f438d567-7177-4fe1-a5e3-123456789abc
                  provisioningState: Succeeded
                tags:
                  ApplicationGatewayType: Internal-Only
                  BillingEntity: Self
                type: Microsoft.Insights/components
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/operations/{purgeId}
  : get:
      description: Get status for an ongoing purge operation.
      operationId: Components_GetPurgeStatus
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceNameParameter'
      - $ref: '#/parameters/ComponentPurgeIdParameter'
      responses:
        200:
          description: 'Returns status of purge operation in body of response. e.g.:  running,
            completed.'
          schema:
            $ref: '#/definitions/ComponentPurgeStatusResponse'
      x-ms-examples:
        ComponentPurge:
          parameters:
            api-version: "2015-05-01"
            purgeId: purge-970318e7-b859-4edb-8903-83b1b54d0b74
            resourceGroupName: OIAutoRest5123
            resourceName: aztest5048
            subscriptionId: 00000000-0000-0000-0000-00000000000
          responses:
            200:
              body:
                status: completed
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/purge:
    post:
      description: Purges data in an Application Insights component by a set of user-defined
        filters.
      operationId: Components_Purge
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceNameParameter'
      - $ref: '#/parameters/ComponentPurgeParameter'
      responses:
        202:
          description: Accepted request for purging an Application Insights component.
          schema:
            $ref: '#/definitions/ComponentPurgeResponse'
      x-ms-examples:
        ComponentPurge:
          parameters:
            api-version: "2015-03-20"
            body:
              filters:
              - column: TimeGenerated
                operator: '>'
                value: "2017-09-01T00:00:00"
              table: Heartbeat
            resourceGroupName: OIAutoRest5123
            resourceName: aztest5048
            subscriptionId: 00000000-0000-0000-0000-00000000000
          responses:
            202:
              body:
                operationId: 7d7cf277-9113-4ab3-8359-d0364b74d01d
              headers:
                x-ms-status-location: https://management.azure.com/subscriptions/b96161de-b34a-480f-7343-59b099299283/resourceGroups/example/providers/microsoft.insights/components/test/operations/purge-970318e7-b859-4edb-8903-83b1b54d0b74?api-version=2015-05-01
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:28:\"ApplicationInsightsComponent\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ComponentsResource\";}}s:11:\"description\";s:45:\"An
  Application Insights component definition.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:195:\"The
  kind of application that this component refers to, used to customize UI. This value
  is a freeform string, values should typically be one of the following: web, ios,
  other, store, java, phone.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:52:\"#/definitions/ApplicationInsightsComponentProperties\";s:11:\"description\";s:66:\"Properties
  that define an Application Insights component resource.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:4:\"kind\";}}s:38:\"ApplicationInsightsComponentListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Describes
  the list of Application Insights Resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"The
  URI to get the next set of Application Insights component defintions if too many
  components where returned in the result set.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"List
  of Application Insights component definitions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ApplicationInsightsComponent\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:38:\"ApplicationInsightsComponentProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Properties
  that define an Application Insights component resource.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:5:\"AppId\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Application
  Insights Unique ID for your Application.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"ApplicationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  unique ID of your application. This field mirrors the 'Name' field and cannot be
  changed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"Application_Type\";O:8:\"stdClass\":6:{s:7:\"default\";s:3:\"web\";s:11:\"description\";s:36:\"Type
  of application being monitored.\";s:4:\"enum\";a:2:{i:0;s:3:\"web\";i:1;s:5:\"other\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"ApplicationType\";}s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:12:\"CreationDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"Creation
  Date for the Application Insights component, in ISO 8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"Flow_Type\";O:8:\"stdClass\":5:{s:7:\"default\";s:9:\"Bluefield\";s:11:\"description\";s:187:\"Used
  by the Application Insights system to determine what kind of flow this component
  was created by. This is to be set to 'Bluefield' when creating/updating a component
  via the REST API.\";s:4:\"enum\";a:1:{i:0;s:9:\"Bluefield\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:8:\"FlowType\";}}s:11:\"HockeyAppId\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"The
  unique application ID created when a new application is added to HockeyApp, used
  for communications with HockeyApp.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:21:\"https://aka.ms/ewjuel\";}s:4:\"type\";s:6:\"string\";}s:14:\"HockeyAppToken\";O:8:\"stdClass\":4:{s:11:\"description\";s:90:\"Token
  used to authenticate communications with between Application Insights and HockeyApp.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:21:\"https://aka.ms/sls76s\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"InstrumentationKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:257:\"Application
  Insights Instrumentation key. A read-only value that applications can use to identify
  the destination for all telemetry sent to Azure Application Insights. This value
  will be supplied upon construction of each new Application Insights component.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"Request_Source\";O:8:\"stdClass\":5:{s:7:\"default\";s:4:\"rest\";s:11:\"description\";s:128:\"Describes
  what tool created this Application Insights component. Customers using this API
  should set this to the default 'rest'.\";s:4:\"enum\";a:1:{i:0;s:4:\"rest\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"RequestSource\";}}s:18:\"SamplingPercentage\";O:8:\"stdClass\":4:{s:11:\"description\";s:124:\"Percentage
  of the data produced by the application being monitored that is being sampled for
  Application Insights telemetry.\";s:12:\"externalDocs\";O:8:\"stdClass\":1:{s:3:\"url\";s:21:\"https://aka.ms/sl0yqd\";}s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"TenantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Azure
  Tenant Id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:237:\"Current
  state of this component: whether or not is has been provisioned within the resource
  group it is defined. Users cannot change this value but are able to read from it.
  Values will include Succeeded, Deploying, Canceled, and Failed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:16:\"Application_Type\";}}s:18:\"ComponentPurgeBody\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Describes
  the body of a purge request for an App Insights component\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"filters\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  set of columns and filters (queries) to run over them to purge the resulting data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ComponentPurgeBodyFilters\";}s:4:\"type\";s:5:\"array\";}s:5:\"table\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Table
  from which to purge data.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"table\";i:1;s:7:\"filters\";}}s:25:\"ComponentPurgeBodyFilters\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"User-defined
  filters to return data which will be purged from the table.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"column\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  column of the table over which the given query should run\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"When
  filtering over custom dimensions, this key will be used as the name of the custom
  dimension.\";s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"A
  query operator to evaluate over the provided column and value(s).\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:11:\"description\";s:137:\"the
  value for the operator to function over. This can be a number (e.g., > 100), a string
  (timestamp >= '2017-09-01') or array of values.\";}}}s:22:\"ComponentPurgeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Response
  containing operationId for a specific purge action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"operationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Id
  to use when querying for status for a particular purge operation.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"operationId\";}}s:28:\"ComponentPurgeStatusResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Response
  containing status for a specific purge operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Status
  of the operation represented by the requested Id.\";s:4:\"enum\";a:2:{i:0;s:7:\"pending\";i:1;s:9:\"completed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"PurgeState\";}}}s:8:\"required\";a:1:{i:0;s:6:\"status\";}}s:18:\"ComponentsResource\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"An
  azure resource object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Azure
  resource Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Resource
  location\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Azure
  resource name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Azure resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:12:\"TagsResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"A
  container holding only the Tags for a resource, allowing the user to update the
  tags on a WebTest instance.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}}}}"
...
