---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:21:\"UsageManagementClient\";s:7:\"version\";s:18:\"2015-06-01-preview\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:9:\"ecommerce\";i:1;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:121:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-commerce/2015-06-01-preview/swagger/commerce.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:12:\"arm-commerce\";s:6:\"x-tags\";a:5:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";i:2;s:25:\"commerce
  usage aggregates\";i:3;s:9:\"eCommerce\";i:4;s:10:\"statistics\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"azure_arm_commerce\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Commerce/RateCard:
    get:
      description: 'Enables you to query for the resource/meter metadata and related
        prices used in a given subscription by Offer ID, Currency, Locale and Region.
        The metadata associated with the billing meters, including but not limited
        to service names, types, resources, units of measure, and regions, is subject
        to change at any time and without notice. If you intend to use this billing
        data in an automated fashion, please use the billing meter GUID to uniquely
        identify each billable item. If the billing meter GUID is scheduled to change
        due to a new billing model, you will be notified in advance of the change. '
      externalDocs:
        url: https://docs.microsoft.com/rest/api/commerce/ratecard
      operationId: RateCard_Get
      parameters:
      - description: The filter to apply on the operation. It ONLY supports the 'eq'
          and 'and' logical operators at this time. All the 4 query parameters 'OfferDurableId',  'Currency',
          'Locale', 'Region' are required to be a part of the $filter.
        in: query
        name: $filter
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Normal response for a successful query. The response body will
            contain the data that matches the filters specified in the query parameters.
          schema:
            $ref: '#/definitions/ResourceRateCardInfo'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - RateCard
      x-ms-examples:
        GetRateCard:
          parameters:
            $filter: OfferDurableId eq 'MS-AZR-0003P' and Currency eq 'USD' and Locale
              eq 'en-US' and RegionInfo eq 'US'
            api-version: 2015-06-01-preview
            subscriptionId: 6d61cc05-8f8f-4916-b1b9-f1d9c25aae27
          responses:
            200:
              body:
                Meters:
                - EffectiveDate: "2017-09-01T00:00:00Z"
                  IncludedQuantity: 0
                  MeterCategory: Test Category
                  MeterId: 1d7518e5-bc2f-4a93-9057-1b3047856645
                  MeterName: Test Meter
                  MeterRates:
                    0: 1.990000
                    100: 0.990000
                  MeterRegion: US West
                  MeterSubCategory: Test Subcategory
                  MeterTags:
                  - Third Party
                  Unit: Hours
                OfferTerms: []
          title: Get RateCard
      x-ms-odata: '#/definitions/RateCardQueryParameters'
  /subscriptions/{subscriptionId}/providers/Microsoft.Commerce/UsageAggregates:
    get:
      description: Query aggregated Azure subscription consumption data for a date
        range.
      externalDocs:
        url: https://docs.microsoft.com/rest/api/commerce/usageaggregates
      operationId: UsageAggregates_List
      parameters:
      - description: The start of the time range to retrieve data for.
        format: date-time
        in: query
        name: reportedStartTime
        required: true
        type: string
      - description: The end of the time range to retrieve data for.
        format: date-time
        in: query
        name: reportedEndTime
        required: true
        type: string
      - description: '`True` returns usage data in instance-level detail, `false`
          causes server-side aggregation with fewer details. For example, if you have
          3 website instances, by default you will get 3 line items for website consumption.
          If you specify showDetails = false, the data will be aggregated as a single
          line item for website consumption within the time period (for the given
          subscriptionId, meterId, usageStartTime and usageEndTime).'
        in: query
        name: showDetails
        required: false
        type: boolean
      - default: Daily
        description: '`Daily` (default) returns the data in daily granularity, `Hourly`
          returns the data in hourly granularity.'
        enum:
        - Daily
        - Hourly
        in: query
        name: aggregationGranularity
        required: false
        type: string
        x-ms-enum:
          modelAsString: false
          name: AggregationGranularity
      - description: 'Used when a continuation token string is provided in the response
          body of the previous call, enabling paging through a large result set. If
          not present, the data is retrieved from the beginning of the day/hour (based
          on the granularity) passed in. '
        in: query
        name: continuationToken
        required: false
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Normal response for a successful query. The response body will
            contain the data that matches the filters specified in the query parameters.
          schema:
            $ref: '#/definitions/UsageAggregationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - UsageAggregates
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":12:{s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the format of Error response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"InfoField\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Key-value
  pairs of instance details in the legacy format.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"project\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Identifies
  the name of the instance provisioned by the user.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"MeterInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Detailed
  information about the meter.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"EffectiveDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Indicates
  the date from which the meter rate is effective.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"IncludedQuantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"The
  resource quantity that is included in the offer at no cost. Consumption beyond this
  quantity will be charged.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:13:\"MeterCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  category of the meter, e.g., 'Cloud services', 'Networking', etc..\";s:4:\"type\";s:6:\"string\";}s:7:\"MeterId\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  unique identifier of the resource.\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:9:\"MeterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  name of the meter, within the given meter category\";s:4:\"type\";s:6:\"string\";}s:10:\"MeterRates\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:11:\"description\";s:144:\"The
  list of key/value pairs for the meter rates, in the format 'key':'value' where key
  = the meter quantity, and value = the corresponding price\";s:4:\"type\";s:6:\"object\";}s:11:\"MeterRegion\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  region in which the Azure service is available.\";s:4:\"type\";s:6:\"string\";}s:16:\"MeterSubCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"The
  subcategory of the meter, e.g., 'A6 Cloud services', 'ExpressRoute (IXP)', etc..\";s:4:\"type\";s:6:\"string\";}s:9:\"MeterTags\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Provides
  additional meter data. 'Third Party' indicates a meter with no discount. Blanks
  indicate First Party.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"Unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  unit in which the meter consumption is charged, e.g., 'Hours', 'GB', etc.\";s:4:\"type\";s:6:\"string\";}}}s:18:\"MonetaryCommitment\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/OfferTermInfo\";}}s:11:\"description\";s:63:\"Indicates
  that a monetary commitment is required for this offer\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"ExcludedMeterIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"An
  array of meter ids that are excluded from the given offer terms.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"TieredDiscount\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"decimal\";s:4:\"type\";s:6:\"number\";}s:11:\"description\";s:223:\"The
  list of key/value pairs for the tiered meter rates, in the format 'key':'value'
  where key = price, and value = the corresponding discount percentage. This field
  is used only by offer terms of type 'Monetary Commitment'.\";s:4:\"type\";s:6:\"object\";}}s:24:\"x-ms-discriminator-value\";s:19:\"Monetary
  Commitment\";}s:14:\"MonetaryCredit\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/OfferTermInfo\";}}s:11:\"description\";s:47:\"Indicates
  that this is a monetary credit offer.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Credit\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  amount of credit provided under the terms of the given offer level.\";s:6:\"format\";s:7:\"decimal\";s:4:\"type\";s:6:\"number\";}s:16:\"ExcludedMeterIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"An
  array of meter ids that are excluded from the given offer terms.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:24:\"x-ms-discriminator-value\";s:15:\"Monetary
  Credit\";}s:13:\"OfferTermInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Describes
  the offer term.\";s:13:\"discriminator\";s:4:\"Name\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"EffectiveDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Indicates
  the date from which the offer term is effective.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Name
  of the offer term\";s:4:\"enum\";a:3:{i:0;s:16:\"Recurring Charge\";i:1;s:19:\"Monetary
  Commitment\";i:2;s:15:\"Monetary Credit\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"OfferTermInfo\";}}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}}s:23:\"RateCardQueryParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Parameters
  that are used in the odata $filter query parameter for providing RateCard information.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"Currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  currency in which the rates need to be provided.\";s:4:\"type\";s:6:\"string\";}s:6:\"Locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  culture in which the resource metadata needs to be localized.\";s:4:\"type\";s:6:\"string\";}s:14:\"OfferDurableId\";O:8:\"stdClass\":3:{s:11:\"description\";s:278:\"The
  Offer ID parameter consists of the 'MS-AZR-' prefix, plus the Offer ID number (e.g.,
  MS-AZR-0026P). See https://azure.microsoft.com/en-us/support/legal/offer-details/
  for more information on the list of available Offer IDs, country/region availability,
  and billing currency.\";s:7:\"pattern\";s:25:\"^MS-AZR-\\d{4}P(-\\d{4}P)*$\";s:4:\"type\";s:6:\"string\";}s:10:\"RegionInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"2
  letter ISO code where the offer was purchased.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:14:\"OfferDurableId\";i:1;s:8:\"Currency\";i:2;s:6:\"Locale\";i:3;s:10:\"RegionInfo\";}}s:15:\"RecurringCharge\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/OfferTermInfo\";}}s:11:\"description\";s:55:\"Indicates
  a recurring charge is present for this offer.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"RecurringCharge\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  amount of recurring charge as per the offer term.\";s:4:\"type\";s:7:\"integer\";}}s:24:\"x-ms-discriminator-value\";s:16:\"Recurring
  Charge\";}s:20:\"ResourceRateCardInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Price
  and Metadata information for resources\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"Currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  currency in which the rates are provided.\";s:4:\"type\";s:6:\"string\";}s:13:\"IsTaxIncluded\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"All
  rates are pretax, so this will always be returned as 'false'.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"Locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  culture in which the resource information is localized.\";s:4:\"type\";s:6:\"string\";}s:6:\"Meters\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"A
  list of meters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/MeterInfo\";}s:4:\"type\";s:5:\"array\";}s:10:\"OfferTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  list of offer terms.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/OfferTermInfo\";}s:4:\"type\";s:5:\"array\";}}}s:16:\"UsageAggregation\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Describes
  the usageAggregation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Unique
  Id for the usage aggregate.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Name
  of the usage aggregate.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/UsageSample\";s:11:\"description\";s:11:\"Usage
  data.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Type
  of the resource being returned.\";s:4:\"type\";s:6:\"string\";}}}s:26:\"UsageAggregationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  Get UsageAggregates operation response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Gets
  or sets the link to the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Gets
  or sets details for the requested aggregation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/UsageAggregation\";}s:4:\"type\";s:5:\"array\";}}}s:11:\"UsageSample\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Describes
  a sample of the usageAggregation.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"infoFields\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/InfoField\";s:11:\"description\";s:52:\"Key-value
  pairs of instance details (legacy format).\";}s:12:\"instanceData\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Key-value
  pairs of instance details represented as a string.\";s:4:\"type\";s:6:\"string\";}s:13:\"meterCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Category
  of the consumed resource.\";s:4:\"type\";s:6:\"string\";}s:7:\"meterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Unique
  ID for the resource that was consumed (aka ResourceID).\";s:4:\"type\";s:6:\"string\";}s:9:\"meterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Friendly
  name of the resource being consumed.\";s:4:\"type\";s:6:\"string\";}s:11:\"meterRegion\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Region
  of the meterId used for billing purposes\";s:4:\"type\";s:6:\"string\";}s:16:\"meterSubCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Sub-category
  of the consumed resource.\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:11:\"description\";s:72:\"The
  amount of the resource consumption that occurred in this time frame.\";}s:14:\"subscriptionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  subscription identifier for the Azure user.\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  unit in which the usage for this resource is being counted, e.g. Hours, GB.\";s:4:\"type\";s:6:\"string\";}s:12:\"usageEndTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"UTC
  end time for the usage bucket to which this usage aggregate belongs.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"usageStartTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"UTC
  start time for the usage bucket to which this usage aggregate belongs.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}}"
...
