---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:95:\"Provides read
  and update functionality for Azure SQL Database backup long term retention policy\";s:5:\"title\";s:52:\"Azure
  SQL Database Backup Long Term Retention Policy\";s:7:\"version\";s:10:\"2014-04-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:171:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/backupLongTermRetentionPolicies.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:35:\"sql-backupLongTermRetentionPolicies\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/backupLongTermRetentionPolicies
  : get:
      description: Returns a database backup long term retention policy
      operationId: BackupLongTermRetentionPolicies_ListByDatabase
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the database.
        in: path
        name: databaseName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupLongTermRetentionPolicyListResult'
      tags:
      - BackupLongTermRetentionPolicies
      x-ms-examples:
        Get backup long term retention policy:
          parameters:
            api-version: "2014-04-01"
            backupLongTermRetentionPolicyName: Default
            databaseName: longtermretentiontest-9012
            resourceGroupName: longtermretentiontest-1234
            serverName: longtermretentiontest-5678
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/databases/longtermretentiontest-9012/backupLongTermRetentionPolicies/Default
                  location: Japan East
                  name: Default
                  properties:
                    recoveryServicesBackupPolicyResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc/backupPolicies/testPolicyxyz
                    state: Enabled
                  type: Microsoft.Sql/servers/databases/backupLongTermRetentionPolicies
      x-ms-pageable: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/backupLongTermRetentionPolicies/{backupLongTermRetentionPolicyName}
  : get:
      description: Returns a database backup long term retention policy
      operationId: BackupLongTermRetentionPolicies_Get
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the database.
        in: path
        name: databaseName
        required: true
        type: string
      - description: The name of the backup long term retention policy
        enum:
        - Default
        in: path
        name: backupLongTermRetentionPolicyName
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: BackupLongTermRetentionPolicyName
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupLongTermRetentionPolicy'
      tags:
      - BackupLongTermRetentionPolicies
      x-ms-examples:
        Get backup long term retention policy:
          parameters:
            api-version: "2014-04-01"
            backupLongTermRetentionPolicyName: Default
            databaseName: longtermretentiontest-9012
            resourceGroupName: longtermretentiontest-1234
            serverName: longtermretentiontest-5678
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/databases/longtermretentiontest-9012/backupLongTermRetentionPolicies/Default
                location: Japan East
                name: Default
                properties:
                  recoveryServicesBackupPolicyResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc/backupPolicies/testPolicyxyz
                  state: Enabled
                type: Microsoft.Sql/servers/databases/backupLongTermRetentionPolicies
    put:
      description: Creates or updates a database backup long term retention policy
      operationId: BackupLongTermRetentionPolicies_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the database
        in: path
        name: databaseName
        required: true
        type: string
      - description: The name of the backup long term retention policy
        enum:
        - Default
        in: path
        name: backupLongTermRetentionPolicyName
        required: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: BackupLongTermRetentionPolicyName
      - description: The required parameters to update a backup long term retention
          policy
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/BackupLongTermRetentionPolicy'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BackupLongTermRetentionPolicy'
        201:
          description: Created
          schema:
            $ref: '#/definitions/BackupLongTermRetentionPolicy'
        202:
          description: Accepted
      tags:
      - BackupLongTermRetentionPolicies
      x-ms-examples:
        Update backup long term retention policy:
          parameters:
            api-version: "2014-04-01"
            backupLongTermRetentionPolicyName: Default
            databaseName: longtermretentiontest-9012
            parameters:
              location: Japan East
              properties:
                recoveryServicesBackupPolicyResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc/backupPolicies/testPolicyxyz
                state: Enabled
            resourceGroupName: longtermretentiontest-1234
            serverName: longtermretentiontest-5678
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/databases/longtermretentiontest-9012/backupLongTermRetentionPolicies/Default
                location: Japan East
                name: Default
                properties:
                  recoveryServicesBackupPolicyResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc/backupPolicies/testPolicyxyz
                  state: Enabled
                type: Microsoft.Sql/servers/databases/backupLongTermRetentionPolicies
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/databases/longtermretentiontest-9012/backupLongTermRetentionPolicies/Default
                location: Japan East
                name: Default
                properties:
                  recoveryServicesBackupPolicyResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc/backupPolicies/testPolicyxyz
                  state: Enabled
                type: Microsoft.Sql/servers/databases/backupLongTermRetentionPolicies
            202: []
      x-ms-long-running-operation: true
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:29:\"BackupLongTermRetentionPolicy\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:19:\"ARM
  proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:35:\"A
  backup long term retention policy\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  geo-location where the resource lives\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:53:\"#/definitions/BackupLongTermRetentionPolicyProperties\";s:11:\"description\";s:55:\"The
  properties of the backup long term retention policy\";s:19:\"x-ms-client-flatten\";b:1;}}}s:39:\"BackupLongTermRetentionPolicyListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Represents
  the response to a list long-term retention policies request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  list of long-term retention policies in the database.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/BackupLongTermRetentionPolicy\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:39:\"BackupLongTermRetentionPolicyProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  properties of a backup long term retention policy\";s:10:\"properties\";O:8:\"stdClass\":2:{s:38:\"recoveryServicesBackupPolicyResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  azure recovery services backup protection policy resource id\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  status of the backup long term retention policy\";s:4:\"enum\";a:2:{i:0;s:8:\"Disabled\";i:1;s:7:\"Enabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:34:\"BackupLongTermRetentionPolicyState\";}}}s:8:\"required\";a:2:{i:0;s:5:\"state\";i:1;s:38:\"recoveryServicesBackupPolicyResourceId\";}}}"
...
