---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:42:\"Operations schemes has
  non-http/https type\";s:11:\"description\";s:19:\"Some documentation.\";s:7:\"version\";s:18:\"2014-04-01-preview\";}"
host: management.azure.com
basePath: /
paths:
  /ResourceGroups/{resourceGroupName}/Subscriptions/{subscriptionId}/providers/Microsoft.TestProvider/{testnamespace}/CloudDocuDB:
    get:
      operationId: CloudDocuDB_ListByMicrosoftTestProvider1
      summary: Foo path
      description: Foo operation
      responses:
        default:
          description: Unexpected error
        200:
          description: OK
          schema:
            $ref: '#/definitions/Models'
      produces:
      - application/json
      consumes:
      - application/json
      schemes:
      - https
  msdn/internal/Subscriptions/{subscriptionId}/ResourceGroups/{resourceGroupName}/myresource:
    get:
      operationId: myresource_ListByResourceGroup1
      summary: Foo path
      description: Foo operation
      responses:
        default:
          description: Unexpected error
        200:
          description: OK
          schema:
            $ref: '#/definitions/Models'
      produces:
      - application/json
      consumes:
      - application/json
      schemes:
      - https
  /operations:
    get:
      summary: Lists all foo.
      description: foo
      operationId: Operations_List
      parameters:
      - name: limit
        type: string
        description: foo
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationsListResult'
  msdn/internal/Subscriptions/{subscriptionId}/myresource:
    get:
      operationId: myresource1_List
      summary: Foo path
      description: Foo operation
      responses:
        default:
          description: Unexpected error
        200:
          description: OK
          schema:
            $ref: '#/definitions/Models'
      produces:
      - application/json
      consumes:
      - application/json
      schemes:
      - https
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:6:\"Models\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"the
  models to return\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"mymodels\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Model\";}}}}s:5:\"Model\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"the
  model returned\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"prop0\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"some
  property\";s:4:\"type\";s:6:\"string\";}}}s:20:\"OperationsListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"List
  of operations\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"List
  of Operations\";}}}}"
...
