---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"ApiManagementClient\";s:11:\"description\";s:134:\"Use
  these REST APIs for performing operations on API entity and their Operations associated
  with your Azure API Management deployment.\";s:7:\"version\";s:10:\"2017-03-01\";}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":42:{s:15:\"ApiExportResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"Link
  to the Storage Blob containing the result of the export operation. The Blob Uri
  is only valid for 5 minutes.\";}}s:11:\"description\";s:27:\"API Export result Blob
  Uri.\";}s:13:\"ApiCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ApiContract\";}s:11:\"description\";s:12:\"Page
  values.\";s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";s:8:\"readOnly\";b:1;}}s:11:\"description\";s:30:\"Paged Api
  list representation.\";}s:11:\"ApiContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:35:\"#/definitions/ApiContractProperties\";s:11:\"description\";s:31:\"Api
  entity contract properties.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"./apimanagement.json#/definitions/Resource\";}}s:11:\"description\";s:12:\"API
  details.\";}s:26:\"ApiCreateOrUpdateParameter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:41:\"#/definitions/ApiCreateOrUpdateProperties\";s:11:\"description\";s:39:\"Api
  entity create of update properties.\";}}s:11:\"description\";s:32:\"API Create or
  Update Parameters.\";}s:27:\"ApiCreateOrUpdateProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"contentValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Content
  value when Importing an API.\";}s:13:\"contentFormat\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Format
  of the Content in which the API is getting imported.\";s:4:\"enum\";a:6:{i:0;s:8:\"wadl-xml\";i:1;s:14:\"wadl-link-json\";i:2;s:12:\"swagger-json\";i:3;s:17:\"swagger-link-json\";i:4;s:4:\"wsdl\";i:5;s:9:\"wsdl-link\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"ContentFormat\";s:13:\"modelAsString\";b:1;s:6:\"values\";a:6:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:8:\"wadl-xml\";s:11:\"description\";s:60:\"The
  contents are inline and Content type is a WADL document.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:14:\"wadl-link-json\";s:11:\"description\";s:70:\"The
  WADL document is hosted on a publicly accessible internet address.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:12:\"swagger-json\";s:11:\"description\";s:67:\"The
  contents are inline and Content Type is a OpenApi 2.0 Document.\";}i:3;O:8:\"stdClass\":2:{s:5:\"value\";s:17:\"swagger-link-json\";s:11:\"description\";s:78:\"The
  Open Api 2.0 document is hosted on a publicly accessible internet address.\";}i:4;O:8:\"stdClass\":2:{s:5:\"value\";s:4:\"wsdl\";s:11:\"description\";s:65:\"The
  contents are inline and the document is a WSDL/Soap document.\";}i:5;O:8:\"stdClass\":2:{s:5:\"value\";s:9:\"wsdl-link\";s:11:\"description\";s:70:\"The
  WSDL document is hosted on a publicly accessible internet address.\";}}}}s:12:\"wsdlSelector\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Criteria
  to limit import of WSDL to a subset of the document.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"wsdlServiceName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Name
  of service to import from WSDL\";}s:16:\"wsdlEndpointName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Name
  of endpoint(port) to import from WSDL\";}}}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ApiContractProperties\";}}s:11:\"description\";s:32:\"Api
  Create or Update Properties.\";}s:21:\"ApiContractProperties\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"API
  name.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:300;}s:10:\"serviceUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Absolute
  URL of the backend service implementing this API.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:2000;}s:4:\"path\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:242:\"Relative
  URL uniquely identifying this API and all of its resource paths within the API Management
  service instance. It is appended to the API endpoint base URL specified during the
  service instance creation to form a public URL for this API.\";s:9:\"minLength\";i:0;s:9:\"maxLength\";i:400;}s:9:\"protocols\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"http\";i:1;s:5:\"https\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"Protocol\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";s:71:\"Describes
  on which protocols the operations in this API can be invoked.\";}s:13:\"apiVersionSet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"./apimversionsets.json#/definitions/ApiVersionSetContract\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ApiEntityBaseContract\";}}s:8:\"required\";a:1:{i:0;s:4:\"path\";}s:11:\"description\";s:21:\"Api
  Entity Properties\";}s:17:\"ApiUpdateContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:41:\"#/definitions/ApiContractUpdateProperties\";s:11:\"description\";s:49:\"Properties
  of the API entity that can be updated.\";}}s:11:\"description\";s:28:\"API update
  contract details.\";}s:27:\"ApiContractUpdateProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"API
  name.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:300;}s:10:\"serviceUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Absolute
  URL of the backend service implementing this API.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:2000;}s:4:\"path\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:242:\"Relative
  URL uniquely identifying this API and all of its resource paths within the API Management
  service instance. It is appended to the API endpoint base URL specified during the
  service instance creation to form a public URL for this API.\";s:9:\"minLength\";i:0;s:9:\"maxLength\";i:400;}s:9:\"protocols\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"http\";i:1;s:5:\"https\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"Protocol\";s:13:\"modelAsString\";b:0;}}s:11:\"description\";s:71:\"Describes
  on which protocols the operations in this API can be invoked.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ApiEntityBaseContract\";}}s:11:\"description\";s:31:\"API
  update contract properties.\";}s:21:\"ApiEntityBaseContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Description
  of the API. May include HTML formatting tags.\";}s:22:\"authenticationSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/AuthenticationSettingsContract\";s:11:\"description\";s:61:\"Collection
  of authentication settings included into this API.\";}s:29:\"subscriptionKeyParameterNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/SubscriptionKeyParameterNamesContract\";s:11:\"description\";s:43:\"Protocols
  over which API is made available.\";}s:4:\"type\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Type
  of API.\";s:4:\"enum\";a:2:{i:0;s:4:\"http\";i:1;s:4:\"soap\";}s:16:\"x-ms-client-name\";s:7:\"ApiType\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"ApiType\";s:13:\"modelAsString\";b:1;}}s:11:\"apiRevision\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:89:\"Describes
  the Revision of the Api. If no value is provided, default revision 1 is created\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:100;}s:10:\"apiVersion\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Indicates
  the Version identifier of the API if the API is versioned\";s:9:\"maxLength\";i:100;}s:9:\"isCurrent\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:50:\"Indicates
  if API revision is current api revision.\";s:8:\"readOnly\";b:1;}s:8:\"isOnline\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:56:\"Indicates
  if API revision is accessible via the gateway.\";s:8:\"readOnly\";b:1;}s:15:\"apiVersionSetId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"A
  resource identifier for the related ApiVersionSet.\";}}s:11:\"description\";s:26:\"API
  base contract details.\";}s:21:\"ApiRevisionCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ApiRevisionContract\";}s:11:\"description\";s:12:\"Page
  values.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:39:\"Paged Api Revision list representation.\";}s:19:\"ApiRevisionContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:43:\"#/definitions/ApiRevisionContractProperties\";s:11:\"description\";s:40:\"Properties
  of the Api Revision Contract.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"./apimanagement.json#/definitions/Resource\";}}s:11:\"description\";s:21:\"Api
  Revision details.\";}s:29:\"ApiRevisionContractProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"apiId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"Identifier
  of the API Revision.\";}s:11:\"apiRevision\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:100;s:8:\"readOnly\";b:1;s:11:\"description\";s:23:\"Revision
  number of API.\";}s:15:\"createdDateTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:141:\"The
  time the API Revision was created. The date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ
  as specified by the ISO 8601 standard.\";}s:15:\"updatedDateTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:142:\"The
  time the API Revision were updated. The date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ
  as specified by the ISO 8601 standard.\";}s:11:\"description\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"maxLength\";i:256;s:11:\"description\";s:32:\"Description
  of the API Revision.\";}s:10:\"privateUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:55:\"Gateway
  URL for accessing the non-current API Revision.\";}s:8:\"isOnline\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:54:\"Indicates
  if API revision is the current api revision.\";}s:9:\"isCurrent\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;s:11:\"description\";s:56:\"Indicates
  if API revision is accessible via the gateway.\";}}s:11:\"description\";s:29:\"Summary
  of revision metadata.\";}s:23:\"ApiRevisionInfoContract\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Object
  used to create an API Revision or Version based on an existing API Revision\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"sourceApiId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Resource
  identifier of API to be used to create the revision from.\";}s:14:\"apiVersionName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:100;s:11:\"description\";s:43:\"Version
  identifier for the new API Version.\";}s:22:\"apiRevisionDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:256;s:11:\"description\";s:32:\"Description
  of new API Revision.\";}s:13:\"apiVersionSet\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Version
  set details\";s:4:\"$ref\";s:67:\"./apimversionsets.json#/definitions/ApiVersionSetContractProperties\";}}}s:20:\"ApiReleaseCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ApiReleaseContract\";}s:11:\"description\";s:12:\"Page
  values.\";s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";s:8:\"readOnly\";b:1;}}s:11:\"description\";s:39:\"Paged Api
  Revision list representation.\";}s:18:\"ApiReleaseContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:42:\"#/definitions/ApiReleaseContractProperties\";s:11:\"description\";s:39:\"Properties
  of the Api Release Contract.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"./apimanagement.json#/definitions/Resource\";}}s:11:\"description\";s:20:\"Api
  Release details.\";}s:28:\"ApiReleaseContractProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"API
  Release details\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"apiId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Identifier
  of the API the release belongs to.\";}s:15:\"createdDateTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:133:\"The
  time the API was released. The date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ
  as specified by the ISO 8601 standard.\";}s:15:\"updatedDateTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:37:\"The
  time the API release was updated.\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Release
  Notes\";}}}s:30:\"AuthenticationSettingsContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"oAuth2\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/OAuth2AuthenticationSettingsContract\";s:11:\"description\";s:30:\"OAuth2
  Authentication settings\";}}s:11:\"description\";s:28:\"API Authentication Settings.\";}s:36:\"OAuth2AuthenticationSettingsContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"authorizationServerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"OAuth
  authorization server identifier.\";}s:5:\"scope\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"operations
  scope.\";}}s:11:\"description\";s:43:\"API OAuth2 Authentication settings details.\";}s:19:\"OperationCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OperationContract\";}s:11:\"description\";s:12:\"Page
  values.\";s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";s:8:\"readOnly\";b:1;}}s:11:\"description\";s:36:\"Paged Operation
  list representation.\";}s:17:\"OperationContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:41:\"#/definitions/OperationContractProperties\";s:11:\"description\";s:37:\"Properties
  of the Operation Contract.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"./apimanagement.json#/definitions/Resource\";}}s:11:\"description\";s:22:\"Api
  Operation details.\";}s:27:\"OperationContractProperties\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Operation
  Name.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:300;}s:6:\"method\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"A
  Valid HTTP Operation Method. Typical Http Methods like GET, PUT, POST but not limited
  by only them.\";s:12:\"externalDocs\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"As
  defined by RFC.\";s:3:\"url\";s:41:\"http://www.rfc-editor.org/rfc/rfc7230.txt\";}}s:11:\"urlTemplate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:149:\"Relative
  URL template identifying the target resource for this operation. May include parameters.
  Example: /customers/{cid}/orders/{oid}/?date={date}\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:1000;}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/OperationEntityBaseContract\";}}s:8:\"required\";a:3:{i:0;s:11:\"displayName\";i:1;s:6:\"method\";i:2;s:11:\"urlTemplate\";}s:11:\"description\";s:29:\"Operation
  Contract Properties\";}s:33:\"OperationUpdateContractProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Operation
  Name.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:300;}s:6:\"method\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"A
  Valid HTTP Operation Method. Typical Http Methods like GET, PUT, POST but not limited
  by only them.\";s:12:\"externalDocs\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"As
  defined by RFC.\";s:3:\"url\";s:41:\"http://www.rfc-editor.org/rfc/rfc7230.txt\";}}s:11:\"urlTemplate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:149:\"Relative
  URL template identifying the target resource for this operation. May include parameters.
  Example: /customers/{cid}/orders/{oid}/?date={date}\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:1000;}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/OperationEntityBaseContract\";}}s:11:\"description\";s:37:\"Operation
  Update Contract Properties.\";}s:27:\"OperationEntityBaseContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"templateParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ParameterContract\";}s:11:\"description\";s:38:\"Collection
  of URL template parameters.\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Description
  of the operation. May include HTML formatting tags.\";s:9:\"maxLength\";i:1000;}s:7:\"request\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RequestContract\";s:11:\"description\";s:37:\"An
  entity containing request details.\";}s:9:\"responses\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ResponseContract\";}s:11:\"description\";s:29:\"Array
  of Operation responses.\";}s:8:\"policies\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Operation
  Policies\";}}s:11:\"description\";s:43:\"Api Operation Entity Base Contract details.\";}s:23:\"OperationUpdateContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:47:\"#/definitions/OperationUpdateContractProperties\";s:11:\"description\";s:59:\"Properties
  of the API Operation entity that can be updated.\";}}s:11:\"description\";s:38:\"Api
  Operation Update Contract details.\";}s:17:\"ParameterContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Parameter
  name.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Parameter
  description.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Parameter
  type.\";}s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Default
  parameter value.\";}s:8:\"required\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:37:\"whether
  parameter is required or not.\";}s:6:\"values\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:17:\"Parameter
  values.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}s:11:\"description\";s:29:\"Operation
  parameters details.\";}s:22:\"RepresentationContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"Specifies
  a registered or custom content type for this representation, e.g. application/xml.\";}s:6:\"sample\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"An
  example of the representation.\";}s:8:\"schemaId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:131:\"Schema
  identifier. Applicable only if 'contentType' value is neither 'application/x-www-form-urlencoded'
  nor 'multipart/form-data'.\";}s:8:\"typeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:145:\"Type
  name defined by the schema. Applicable only if 'contentType' value is neither 'application/x-www-form-urlencoded'
  nor 'multipart/form-data'.\";}s:14:\"formParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ParameterContract\";}s:11:\"description\";s:135:\"Collection
  of form parameters. Required if 'contentType' value is either 'application/x-www-form-urlencoded'
  or 'multipart/form-data'..\";}}s:8:\"required\";a:1:{i:0;s:11:\"contentType\";}s:11:\"description\";s:50:\"Operation
  request/response representation details.\";}s:15:\"RequestContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Operation
  request description.\";}s:15:\"queryParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ParameterContract\";}s:11:\"description\";s:49:\"Collection
  of operation request query parameters.\";}s:7:\"headers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ParameterContract\";}s:11:\"description\";s:40:\"Collection
  of operation request headers.\";}s:15:\"representations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/RepresentationContract\";}s:11:\"description\";s:48:\"Collection
  of operation request representations.\";}}s:11:\"description\";s:26:\"Operation
  request details.\";}s:16:\"ResponseContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"statusCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"Operation
  response HTTP status code.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Operation
  response description.\";}s:15:\"representations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/RepresentationContract\";}s:11:\"description\";s:49:\"Collection
  of operation response representations.\";}s:7:\"headers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ParameterContract\";}s:11:\"description\";s:41:\"Collection
  of operation response headers.\";}}s:8:\"required\";a:1:{i:0;s:10:\"statusCode\";}s:11:\"description\";s:27:\"Operation
  response details.\";}s:37:\"SubscriptionKeyParameterNamesContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Subscription
  key header name.\";}s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Subscription
  key query string parameter name.\";}}s:11:\"description\";s:41:\"Subscription key
  parameter names details.\";s:7:\"example\";O:8:\"stdClass\":1:{s:29:\"subscriptionKeyParameterNames\";O:8:\"stdClass\":2:{s:5:\"query\";s:24:\"customQueryParameterName\";s:6:\"header\";s:25:\"customHeaderParameterName\";}}}s:16:\"SchemaCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SchemaContract\";}s:11:\"description\";s:26:\"Api
  Schema Contract value.\";s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";s:8:\"readOnly\";b:1;}}s:11:\"description\";s:42:\"The response
  of the list schema operation.\";}s:14:\"SchemaContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:38:\"#/definitions/SchemaContractProperties\";s:11:\"description\";s:25:\"Properties
  of the Schema.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"./apimanagement.json#/definitions/Resource\";}}s:11:\"description\";s:24:\"Schema
  Contract details.\";}s:24:\"SchemaContractProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:162:\"Must
  be a valid a media type used in a Content-Type header as defined in the RFC 2616.
  Media type of the schema document (e.g. application/json, application/xml).\";}s:8:\"document\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:38:\"#/definitions/SchemaDocumentProperties\";s:11:\"description\";s:34:\"Properties
  of the Schema Document.\";}}s:8:\"required\";a:1:{i:0;s:11:\"contentType\";}s:11:\"description\";s:27:\"Schema
  contract Properties.\";}s:24:\"SchemaDocumentProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Json
  escaped string defining the document representing the Schema.\";}}s:11:\"description\";s:27:\"Schema
  Document Properties.\";}s:15:\"IssueCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/IssueContract\";}s:11:\"description\";s:13:\"Issue
  values.\";s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";s:8:\"readOnly\";b:1;}}s:11:\"description\";s:32:\"Paged Issue
  list representation.\";}s:13:\"IssueContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:37:\"#/definitions/IssueContractProperties\";s:11:\"description\";s:24:\"Properties
  of the Issue.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"./apimanagement.json#/definitions/Resource\";}}s:11:\"description\";s:23:\"Issue
  Contract details.\";}s:23:\"IssueContractProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  issue title.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Text
  describing the issue.\";}s:11:\"createdDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:41:\"Date
  and time when the issue was created.\";}s:5:\"state\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Status
  of the issue.\";s:4:\"enum\";a:5:{i:0;s:8:\"proposed\";i:1;s:4:\"open\";i:2;s:7:\"removed\";i:3;s:8:\"resolved\";i:4;s:6:\"closed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"State\";s:13:\"modelAsString\";b:1;s:6:\"values\";a:5:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:8:\"proposed\";s:11:\"description\";s:22:\"The
  issue is proposed.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:4:\"open\";s:11:\"description\";s:20:\"The
  issue is opened.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:7:\"removed\";s:11:\"description\";s:22:\"The
  issue was removed.\";}i:3;O:8:\"stdClass\":2:{s:5:\"value\";s:8:\"resolved\";s:11:\"description\";s:26:\"The
  issue is now resolved.\";}i:4;O:8:\"stdClass\":2:{s:5:\"value\";s:6:\"closed\";s:11:\"description\";s:21:\"The
  issue was closed.\";}}}}s:6:\"userId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"A
  resource identifier for the user created the issue.\";}s:5:\"apiId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"A
  resource identifier for the API the issue was created for.\";}}s:8:\"required\";a:3:{i:0;s:5:\"title\";i:1;s:11:\"description\";i:2;s:6:\"userId\";}s:11:\"description\";s:26:\"Issue
  contract Properties.\";}s:22:\"IssueCommentCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/IssueCommentContract\";}s:11:\"description\";s:21:\"Issue
  Comment values.\";s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";s:8:\"readOnly\";b:1;}}s:11:\"description\";s:40:\"Paged Issue
  Comment list representation.\";}s:20:\"IssueCommentContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:44:\"#/definitions/IssueCommentContractProperties\";s:11:\"description\";s:32:\"Properties
  of the Issue Comment.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"./apimanagement.json#/definitions/Resource\";}}s:11:\"description\";s:31:\"Issue
  Comment Contract details.\";}s:30:\"IssueCommentContractProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Comment
  text.\";}s:11:\"createdDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:43:\"Date
  and time when the comment was created.\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"A
  resource identifier for the user who left the comment.\";}}s:8:\"required\";a:2:{i:0;s:4:\"text\";i:1;s:6:\"userId\";}s:11:\"description\";s:34:\"Issue
  Comment contract Properties.\";}s:25:\"IssueAttachmentCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/IssueAttachmentContract\";}s:11:\"description\";s:24:\"Issue
  Attachment values.\";s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";s:8:\"readOnly\";b:1;}}s:11:\"description\";s:43:\"Paged Issue
  Attachment list representation.\";}s:23:\"IssueAttachmentContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:47:\"#/definitions/IssueAttachmentContractProperties\";s:11:\"description\";s:35:\"Properties
  of the Issue Attachment.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"./apimanagement.json#/definitions/Resource\";}}s:11:\"description\";s:34:\"Issue
  Attachment Contract details.\";}s:33:\"IssueAttachmentContractProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Filename
  by which the binary data will be saved.\";}s:13:\"contentFormat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:140:\"Either
  'link' if content is provided via an HTTP link or the MIME type of the Base64-encoded
  binary data provided in the 'content' property.\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"An
  HTTP link or Base64-encoded binary data.\";}}s:8:\"required\";a:3:{i:0;s:5:\"title\";i:1;s:13:\"contentFormat\";i:2;s:7:\"content\";}s:11:\"description\";s:37:\"Issue
  Attachment contract Properties.\";}}"
...
