---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:15:\"BlueprintClient\";s:11:\"description\";s:23:\"Azure
  Blueprint Client.\";s:7:\"version\";s:18:\"2017-11-11-preview\";}"
host: management.azure.com
paths:
  /providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Blueprint/blueprints/{blueprintName}:
    put:
      tags:
      - Blueprint
      operationId: Blueprints_CreateOrUpdate
      description: Create or update Blueprint definition.
      x-ms-examples:
        Blueprint:
          $ref: ./examples/Blueprint_Create.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ManagementGroupNameParameter'
      - $ref: '#/parameters/BlueprintNameParameter'
      - name: blueprint
        in: body
        required: true
        schema:
          $ref: '#/definitions/Blueprint'
        description: Blueprint definition.
      responses:
        201:
          description: Created -- Blueprint definition saved.
          schema:
            $ref: '#/definitions/Blueprint'
    get:
      tags:
      - Blueprint
      operationId: Blueprints_Get
      description: Get a blueprint definition.
      x-ms-examples:
        Blueprint:
          $ref: ./examples/Blueprint_Get.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ManagementGroupNameParameter'
      - $ref: '#/parameters/BlueprintNameParameter'
      responses:
        200:
          description: OK -- blueprint definition retrieved.
          schema:
            $ref: '#/definitions/Blueprint'
    delete:
      tags:
      - Blueprint
      operationId: Blueprints_Delete
      description: Delete a blueprint definition.
      x-ms-examples:
        Blueprint_Delete:
          $ref: ./examples/Blueprint_Delete.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ManagementGroupNameParameter'
      - $ref: '#/parameters/BlueprintNameParameter'
      responses:
        200:
          description: OK -- blueprint definition deleted
          schema:
            $ref: '#/definitions/Blueprint'
        204:
          description: no content
  /providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Blueprint/blueprints:
    get:
      tags:
      - Blueprint
      operationId: Blueprints_List
      description: List Blueprint definitions within a Management Group.
      x-ms-examples:
        Blueprint:
          $ref: ./examples/Blueprint_List.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ManagementGroupNameParameter'
      responses:
        200:
          description: OK -- retrieved Blueprints in this ManagementGroup.
          schema:
            $ref: '#/definitions/BlueprintList'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts/{artifactName}
  : put:
      tags:
      - Artifact
      operationId: Artifacts_CreateOrUpdate
      description: Create or update Blueprint artifact.
      x-ms-examples:
        ARMTemplateArtifact:
          $ref: ./examples/ARMTemplateArtifact_Create.json
        PolicyAssignmentArtifact:
          $ref: ./examples/PolicyAssignmentArtifact_Create.json
        RoleAssignmentArtifact:
          $ref: ./examples/RoleAssignmentArtifact_Create.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ManagementGroupNameParameter'
      - $ref: '#/parameters/BlueprintNameParameter'
      - $ref: '#/parameters/ArtifactNameParameter'
      - name: artifact
        in: body
        required: true
        schema:
          $ref: '#/definitions/Artifact'
        description: Blueprint artifact to save.
      responses:
        201:
          description: Created -- Blueprint artifact created/updated.
          schema:
            $ref: '#/definitions/Artifact'
    get:
      tags:
      - Artifact
      operationId: Artifacts_Get
      description: Get a Blueprint artifact.
      x-ms-examples:
        ARMTemplateArtifact:
          $ref: ./examples/ARMTemplateArtifact_Get.json
        PolicyAssignmentArtifact:
          $ref: ./examples/PolicyAssignmentArtifact_Get.json
        RoleAssignmentArtifact:
          $ref: ./examples/RoleAssignmentArtifact_Get.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ManagementGroupNameParameter'
      - $ref: '#/parameters/BlueprintNameParameter'
      - $ref: '#/parameters/ArtifactNameParameter'
      responses:
        200:
          description: OK -- Blueprint artifact retrieved.
          schema:
            $ref: '#/definitions/Artifact'
    delete:
      tags:
      - Artifact
      operationId: Artifacts_Delete
      description: Delete a Blueprint artifact.
      x-ms-examples:
        ARMTemplateArtifact_Delete:
          $ref: ./examples/ARMTemplateArtifact_Delete.json
        PolicyAssignmentArtifact_Delete:
          $ref: ./examples/PolicyAssignmentArtifact_Delete.json
        RoleAssignmentArtifact_Delete:
          $ref: ./examples/RoleAssignmentArtifact_Delete.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ManagementGroupNameParameter'
      - $ref: '#/parameters/BlueprintNameParameter'
      - $ref: '#/parameters/ArtifactNameParameter'
      responses:
        200:
          description: OK -- Blueprint artifact deleted.
          schema:
            $ref: '#/definitions/Artifact'
        204:
          description: No Content
  ? /providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/artifacts
  : get:
      tags:
      - Artifact
      operationId: Artifacts_List
      description: List artifacts for a given Blueprint.
      x-ms-examples:
        ArtifactList:
          $ref: ./examples/Artifact_List.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ManagementGroupNameParameter'
      - $ref: '#/parameters/BlueprintNameParameter'
      responses:
        200:
          description: OK -- Blueprint artifacts retrieved.
          schema:
            $ref: '#/definitions/ArtifactList'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}
  : put:
      tags:
      - PublishedBlueprint
      operationId: PublishedBlueprints_Create
      description: Publish a new version of the Blueprint with the latest artifacts.
        Published Blueprints are immutable.
      x-ms-examples:
        PublishedBlueprint_Publish:
          $ref: ./examples/SealedBlueprint_Publish.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ManagementGroupNameParameter'
      - $ref: '#/parameters/BlueprintNameParameter'
      - $ref: '#/parameters/PublishedBlueprintVersionIdParameter'
      responses:
        201:
          description: Created -- published Blueprint.
          schema:
            $ref: '#/definitions/PublishedBlueprint'
    get:
      tags:
      - PublishedBlueprint
      operationId: PublishedBlueprints_Get
      description: Get a published Blueprint.
      x-ms-examples:
        PublishedBlueprint_Get:
          $ref: ./examples/SealedBlueprint_Get.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ManagementGroupNameParameter'
      - $ref: '#/parameters/BlueprintNameParameter'
      - $ref: '#/parameters/PublishedBlueprintVersionIdParameter'
      responses:
        200:
          description: OK -- published Blueprint retrieved.
          schema:
            $ref: '#/definitions/PublishedBlueprint'
    delete:
      tags:
      - PublishedBlueprint
      operationId: PublishedBlueprints_Delete
      description: Delete a published Blueprint.
      x-ms-examples:
        PublishedBlueprint_Delete:
          $ref: ./examples/SealedBlueprint_Delete.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ManagementGroupNameParameter'
      - $ref: '#/parameters/BlueprintNameParameter'
      - $ref: '#/parameters/PublishedBlueprintVersionIdParameter'
      responses:
        200:
          description: OK -- published Blueprint deleted.
          schema:
            $ref: '#/definitions/PublishedBlueprint'
        204:
          description: No Content
  ? /providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions
  : get:
      tags:
      - PublishedBlueprint
      operationId: PublishedBlueprints_List
      description: List published versions of given Blueprint.
      x-ms-examples:
        PublishedBlueprintList:
          $ref: ./examples/SealedBlueprint_List.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ManagementGroupNameParameter'
      - $ref: '#/parameters/BlueprintNameParameter'
      responses:
        200:
          description: OK -- all published Blueprint retrieved.
          schema:
            $ref: '#/definitions/PublishedBlueprintList'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}/artifacts/{artifactName}
  : get:
      tags:
      - PublishedArtifact
      operationId: PublishedArtifacts_Get
      description: Get an artifact for a published Blueprint.
      x-ms-examples:
        ARMTemplateArtifact:
          $ref: ./examples/SealedARMTemplateArtifact_Get.json
        PolicyAssignmentArtifact:
          $ref: ./examples/SealedPolicyAssignmentArtifact_Get.json
        RoleAssignmentArtifact:
          $ref: ./examples/SealedRoleAssignmentArtifact_Get.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ManagementGroupNameParameter'
      - $ref: '#/parameters/BlueprintNameParameter'
      - $ref: '#/parameters/PublishedBlueprintVersionIdParameter'
      - $ref: '#/parameters/ArtifactNameParameter'
      responses:
        200:
          description: OK -- published artifact retrieved.
          schema:
            $ref: '#/definitions/Artifact'
  ? /providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Blueprint/blueprints/{blueprintName}/versions/{versionId}/artifacts
  : get:
      tags:
      - PublishedArtifact
      operationId: PublishedArtifacts_List
      description: List artifacts for a published Blueprint.
      x-ms-examples:
        ArtifactList:
          $ref: ./examples/SealedArtifact_List.json
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ManagementGroupNameParameter'
      - $ref: '#/parameters/BlueprintNameParameter'
      - $ref: '#/parameters/PublishedBlueprintVersionIdParameter'
      responses:
        200:
          description: OK -- all published artifact retrieved.
          schema:
            $ref: '#/definitions/ArtifactList'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Blueprint/operations:
    get:
      tags:
      - Operations
      x-ms-examples:
        OperationsList:
          $ref: ./examples/OperationsList.json
      operationId: Operations_List
      description: List all of the available operations the Blueprint resource provider
        supports.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/ResourceProviderOperationList'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":35:{s:9:\"Blueprint\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:34:\"Represents
  a Blueprint definition.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AzureResourceBase\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Detailed
  properties for blueprint\";s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:33:\"#/definitions/BlueprintProperties\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:8:\"Artifact\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"object\";s:13:\"discriminator\";s:4:\"kind\";s:11:\"description\";s:32:\"Represents
  a Blueprint artifact.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AzureResourceBase\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"kind\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Specifies
  the kind of Blueprint artifact.\";s:4:\"enum\";a:3:{i:0;s:8:\"template\";i:1;s:14:\"roleAssignment\";i:2;s:16:\"policyAssignment\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"ArtifactKind\";s:13:\"modelAsString\";b:1;}}}s:8:\"required\";a:1:{i:0;s:4:\"kind\";}}s:18:\"PublishedBlueprint\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:33:\"Represents
  a published Blueprint.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AzureResourceBase\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Detailed
  properties for published Blueprint\";s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:42:\"#/definitions/PublishedBlueprintProperties\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:13:\"BlueprintList\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:13:\"BlueprintList\";s:11:\"description\";s:30:\"List
  of Blueprint definitions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:30:\"List
  of Blueprint definitions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Blueprint\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:33:\"Link
  to the next page of results.\";}}}s:22:\"PublishedBlueprintList\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:13:\"BlueprintList\";s:11:\"description\";s:28:\"List
  of published Blueprints\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:29:\"List
  of published Blueprints.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PublishedBlueprint\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:33:\"Link
  to the next page of results.\";}}}s:12:\"ArtifactList\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"List
  of Blueprint artifacts\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:28:\"List
  of Blueprint artifacts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Artifact\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:33:\"Link
  to the next page of results.\";}}}s:29:\"ResourceProviderOperationList\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Result
  of the request to list operations.\";s:8:\"readOnly\";b:1;s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ResourceProviderOperation\";}s:11:\"description\";s:55:\"List
  of operations supported by this resource provider.\";}}}s:25:\"ResourceProviderOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Supported
  operation of this resource provider.\";s:8:\"readOnly\";b:1;s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Operation
  name, in format of {provider}/{resource}/{operation}\";s:4:\"type\";s:6:\"string\";}s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Display
  metadata associated with the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Resource
  provider: Microsoft Blueprint.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Resource
  on which the operation is performed.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Type
  of operation: get, read, delete, etc.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Description
  of this operation.\";s:4:\"type\";s:6:\"string\";}}}}}s:25:\"SharedBlueprintProperties\";O:8:\"stdClass\":5:{s:11:\"description\";s:76:\"Shared
  Schema for both blueprintProperties and publishedBlueprintProperties.\";s:4:\"type\";s:6:\"object\";s:13:\"x-ms-external\";b:1;s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Status
  of the Blueprint. This field is readonly.\";s:8:\"readOnly\";b:1;s:4:\"$ref\";s:29:\"#/definitions/BlueprintStatus\";}s:11:\"targetScope\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  scope where this Blueprint can be applied.\";s:4:\"enum\";a:2:{i:0;s:12:\"subscription\";i:1;s:15:\"managementGroup\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"BlueprintTargetScope\";s:13:\"modelAsString\";b:1;}}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Parameters
  required by this Blueprint definition.\";s:4:\"$ref\";s:43:\"#/definitions/ParameterDefinitionCollection\";}s:14:\"resourceGroups\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Resource
  group placeholders defined by this Blueprint definition.\";s:4:\"$ref\";s:47:\"#/definitions/ResourceGroupDefinitionCollection\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/BlueprintResourcePropertiesBase\";}}}s:19:\"BlueprintProperties\";O:8:\"stdClass\":6:{s:11:\"description\";s:32:\"Schema
  for Blueprint properties.\";s:4:\"type\";s:6:\"object\";s:13:\"x-ms-external\";b:1;s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/SharedBlueprintProperties\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"versions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:37:\"Published
  versions of this blueprint.\";}s:6:\"layout\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:47:\"Layout
  view of the blueprint, for UI reference.\";}}s:8:\"required\";a:1:{i:0;s:11:\"targetScope\";}}s:28:\"PublishedBlueprintProperties\";O:8:\"stdClass\":5:{s:11:\"description\";s:42:\"Schema
  for published Blueprint properties.\";s:4:\"type\";s:6:\"object\";s:13:\"x-ms-external\";b:1;s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/SharedBlueprintProperties\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"blueprintName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Name
  of the Blueprint definition.\";s:4:\"type\";s:6:\"string\";}s:11:\"changeNotes\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Version-specific
  change notes\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:500;}}}s:15:\"BlueprintStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  status of the blueprint. This field is readonly.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/BlueprintResourceStatusBase\";}}}s:26:\"TemplateArtifactProperties\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:34:\"Properties
  of a Template Artifact.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"template\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:41:\"The
  Azure Resource Manager template body.\";}s:13:\"resourceGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"If
  applicable, the name of the resource group placeholder to which the template will
  be deployed.\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Template
  parameter values.\";s:4:\"$ref\";s:38:\"#/definitions/ParameterValueCollection\";}}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/BlueprintResourcePropertiesBase\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ArtifactPropertiesBase\";}}s:8:\"required\";a:2:{i:0;s:8:\"template\";i:1;s:10:\"parameters\";}}s:16:\"TemplateArtifact\";O:8:\"stdClass\":6:{s:11:\"description\";s:59:\"Blueprint
  artifact deploys Azure resource manager template.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:8:\"template\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Properties
  for template artifact\";s:4:\"$ref\";s:40:\"#/definitions/TemplateArtifactProperties\";s:19:\"x-ms-client-flatten\";b:1;}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Artifact\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:32:\"RoleAssignmentArtifactProperties\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:43:\"Properties
  of the Role assignment artifact.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"roleDefinitionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Azure
  resource ID of the RoleDefinition.\";}s:12:\"principalIds\";O:8:\"stdClass\":1:{s:11:\"description\";s:109:\"Array
  of user or group identities in Azure Active Directory. The roleDefinition will apply
  to these identity.\";}s:13:\"resourceGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:102:\"RoleAssignment
  will be scope to this resourceGroup, if left empty, it would scope to the subscription.\";}}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/BlueprintResourcePropertiesBase\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ArtifactPropertiesBase\";}}s:8:\"required\";a:2:{i:0;s:16:\"roleDefinitionId\";i:1;s:12:\"principalIds\";}}s:22:\"RoleAssignmentArtifact\";O:8:\"stdClass\":6:{s:11:\"description\";s:49:\"Blueprint
  artifact applies Azure role assignment.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:14:\"roleAssignment\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Properties
  for roleAssignment artifact.\";s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:46:\"#/definitions/RoleAssignmentArtifactProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Artifact\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:34:\"PolicyAssignmentArtifactProperties\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"PolicyAssignment
  properties\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"policyDefinitionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Azure
  resource ID of the policy definition.\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Parameter
  values for the policy definition.\";s:4:\"$ref\";s:38:\"#/definitions/ParameterValueCollection\";}s:13:\"resourceGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"Name
  of the resource group placeholder to which the policy will be assigned.\";}}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/BlueprintResourcePropertiesBase\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ArtifactPropertiesBase\";}}s:8:\"required\";a:2:{i:0;s:18:\"policyDefinitionId\";i:1;s:10:\"parameters\";}}s:24:\"PolicyAssignmentArtifact\";O:8:\"stdClass\":6:{s:11:\"description\";s:46:\"Blueprint
  artifact applies Policy assignments.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:16:\"policyAssignment\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"properties
  for policyAssignment Artifact\";s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:48:\"#/definitions/PolicyAssignmentArtifactProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Artifact\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:24:\"ParameterValueCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"A
  dictionary for parameters and their corresponding values.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"keyValue
  pair of parameter fulfillment.\";s:4:\"$ref\";s:32:\"#/definitions/ParameterValueBase\";}}s:18:\"ParameterValueBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Base
  class for ParameterValue.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Optional
  property, just to establish ParameterValueBase as a BaseClass.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"ParameterValue\";O:8:\"stdClass\":5:{s:11:\"description\";s:34:\"Value
  for the specified parameter.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":1:{s:11:\"description\";s:13:\"actual
  value.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ParameterValueBase\";}}}s:29:\"SecretReferenceParameterValue\";O:8:\"stdClass\":5:{s:11:\"description\";s:64:\"The
  reference to a secret, if the parameter should be protected.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"reference\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Specifies
  the reference.\";s:4:\"$ref\";s:34:\"#/definitions/SecretValueReference\";}}s:8:\"required\";a:1:{i:0;s:9:\"reference\";}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ParameterValueBase\";}}}s:20:\"SecretValueReference\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Reference
  to a KeyVault secret.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"keyVault\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Specifies
  the reference to a given Azure KeyVault.\";s:4:\"$ref\";s:31:\"#/definitions/keyVaultReference\";}s:10:\"secretName\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Name
  of the secret.\";s:4:\"type\";s:6:\"string\";}s:13:\"secretVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Version
  of the secret, (if there are multiple versions)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"keyVault\";i:1;s:10:\"secretName\";}}s:17:\"keyVaultReference\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Specifies
  the link to a KeyVault.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Azure
  resource ID of the KeyVault.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:29:\"ParameterDefinitionCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"A
  dictionary hold parameter name and it's metadata.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"named
  collection of parameter metadata.\";s:4:\"$ref\";s:33:\"#/definitions/ParameterDefinition\";}}s:19:\"ParameterDefinition\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Represent
  a parameter with constrains and metadata.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Allowed
  data types for Azure Resource Manager template parameters.\";s:4:\"enum\";a:7:{i:0;s:6:\"string\";i:1;s:5:\"array\";i:2;s:4:\"bool\";i:3;s:3:\"int\";i:4;s:6:\"object\";i:5;s:12:\"secureObject\";i:6;s:12:\"secureString\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"TemplateParameterType\";s:13:\"modelAsString\";b:1;}}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"User-friendly
  properties for this parameter.\";s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:41:\"#/definitions/ParameterDefinitionMetadata\";}s:12:\"defaultValue\";O:8:\"stdClass\":1:{s:11:\"description\";s:33:\"Default
  Value for this parameter.\";}s:13:\"allowedValues\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:43:\"Array
  of allowed values for this parameter.\";s:5:\"items\";O:8:\"stdClass\":1:{s:11:\"description\";s:14:\"Allowed
  value.\";}}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}}s:33:\"ResourceGroupDefinitionCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:97:\"A
  dictionary which maps resource group placeholders to the resource groups which will
  be created.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"named
  collection for resourceGroupDefinition\";s:4:\"$ref\";s:37:\"#/definitions/ResourceGroupDefinition\";}}s:23:\"ResourceGroupDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Represents
  an Azure resource group in a Blueprint definition.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:117:\"Name
  of this resourceGroup, leave empty if the resource group name will be specified
  during the Blueprint assignment.\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:90;}s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:125:\"Location
  of this resourceGroup, leave empty if the resource group location will be specified
  during the Blueprint assignment.\";s:9:\"maxLength\";i:90;}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"User-friendly
  properties for this resource group.\";s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:41:\"#/definitions/ParameterDefinitionMetadata\";}s:9:\"dependsOn\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:63:\"Artifacts
  which need to be deployed before this resource group.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Name
  of peer artifact.\";}}}}s:27:\"ParameterDefinitionMetadata\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:44:\"User-friendly
  properties for this parameter.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"DisplayName
  of this parameter/resourceGroup.\";s:9:\"maxLength\";i:256;}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Description
  of this parameter/resourceGroup.\";s:9:\"maxLength\";i:500;}s:10:\"strongType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"StrongType
  for UI to render rich experience during assignment time.\";s:9:\"maxLength\";i:64;}}}s:28:\"ResourceGroupValueCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:97:\"A
  dictionary which maps resource group placeholders to the resource groups which will
  be created.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceGroupValue\";}}s:18:\"ResourceGroupValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Represents
  an Azure resource group.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Name
  of the resource group\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:90;}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Location
  of the resource group\";}}}s:17:\"AzureResourceBase\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Common
  properties for all Azure resources.\";s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"String
  Id used to locate any resource on Azure.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Type
  of this resource.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Name
  of this resource.\";}}}s:22:\"ArtifactPropertiesBase\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Common
  properties shared by different artifacts.\";s:4:\"type\";s:6:\"object\";s:13:\"x-ms-external\";b:1;s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"dependsOn\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:66:\"Artifacts
  which need to be deployed before the specified artifact.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"ID
  of peer artifact.\";}}}}s:31:\"BlueprintResourcePropertiesBase\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Shared
  properties between all Blueprint resources.\";s:4:\"type\";s:6:\"object\";s:13:\"x-ms-external\";b:1;s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"displayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"One-liner
  string explain this resource.\";s:9:\"maxLength\";i:256;}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Multi-line
  explain this resource.\";s:9:\"maxLength\";i:500;}}}s:27:\"BlueprintResourceStatusBase\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Shared
  status properties between all Blueprint resources.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"timeCreated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:32:\"Creation
  time of this blueprint.\";}s:12:\"lastModified\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:37:\"Last
  modified time of this blueprint.\";}}}}"
...
