---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:5:\"title\";s:20:\"AutomationManagement\";s:7:\"version\";s:10:\"2015-10-31\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:168:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/connectionType.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:25:\"automation-connectionType\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:14:\"ConnectionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Definition
  of the connection type.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Gets
  the id of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Gets
  the name of the connection type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:38:\"#/definitions/ConnectionTypeProperties\";s:11:\"description\";s:51:\"Gets
  or sets the properties of the connection type.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:38:\"ConnectionTypeCreateOrUpdateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  parameters supplied to the create or update connection type operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Gets
  or sets the name of the connection type.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:52:\"#/definitions/ConnectionTypeCreateOrUpdateProperties\";s:11:\"description\";s:46:\"Gets
  or sets the value of the connection type.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:10:\"properties\";}}s:38:\"ConnectionTypeCreateOrUpdateProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  properties of the create connection type.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"fieldDefinitions\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/FieldDefinition\";}s:11:\"description\";s:58:\"Gets
  or sets the field definitions of the connection type.\";s:4:\"type\";s:6:\"object\";}s:8:\"isGlobal\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Gets
  or sets a Boolean value to indicate if the connection type is global.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:16:\"fieldDefinitions\";}}s:24:\"ConnectionTypeListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  response model for the list connection type operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Gets
  or sets the next link.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Gets
  or sets a list of connection types.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ConnectionType\";}s:4:\"type\";s:5:\"array\";}}}s:24:\"ConnectionTypeProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Properties
  of the connection type.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"creationTime\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"Gets
  the creation time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:0;}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets the description.\";s:4:\"type\";s:6:\"string\";}s:16:\"fieldDefinitions\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/FieldDefinition\";}s:11:\"description\";s:50:\"Gets
  the field definitions of the connection type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:8:\"isGlobal\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Gets
  or sets a Boolean value to indicate if the connection type is global.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Gets
  or sets the last modified time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:0;}}}s:15:\"FieldDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Definition
  of the connection fields.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"isEncrypted\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Gets
  or sets the isEncrypted flag of the connection field definition.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"isOptional\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Gets
  or sets the isOptional flag of the connection field definition.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Gets
  or sets the type of the connection field definition.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}}}"
...
