---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:23:\"MonitorManagementClient\";s:7:\"version\";s:10:\"2015-04-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:117:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-monitor/2015-04-01/swagger/autoscale_API.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:11:\"arm-monitor\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"azure_arm_monitor\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/autoscalesettings:
    get:
      description: Lists the autoscale settings for a resource group
      operationId: AutoscaleSettings_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request for a list of autoscale settings
          examples:
            application/json:
              nextLink: https://management.azure.com/########-####-####-####-############$skiptoken=######
              value:
              - id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/microsoft.insights/autoscalesettings/MySetting
                location: West US
                name: MySetting
                properties:
                  enabled: true
                  name: MySetting
                  notifications:
                  - email:
                      customEmails:
                      - gu@ms.com
                      - ge@ns.net
                      sendToSubscriptionAdministrator: true
                      sendToSubscriptionCoAdministrators: true
                    operation: Scale
                    webhooks:
                    - properties: []
                      serviceUri: http://myservice.com
                  profiles:
                  - capacity:
                      default: "1"
                      maximum: "10"
                      minimum: "1"
                    fixedDate:
                      end: "2015-03-05T14:30:00Z"
                      start: "2015-03-05T14:00:00Z"
                      timeZone: UTC
                    name: adios
                    rules:
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 10
                        timeAggregation: Average
                        timeGrain: PT1M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT5M
                        direction: Increase
                        type: ChangeCount
                        value: "1"
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 15
                        timeAggregation: Average
                        timeGrain: PT2M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT6M
                        direction: Decrease
                        type: ChangeCount
                        value: "2"
                  - capacity:
                      default: "1"
                      maximum: "10"
                      minimum: "1"
                    name: saludos
                    recurrence:
                      frequency: Week
                      schedule:
                        days:
                        - "1"
                        hours:
                        - 5
                        minutes:
                        - 15
                        timeZone: UTC
                    rules:
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 10
                        timeAggregation: Average
                        timeGrain: PT1M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT5M
                        direction: Increase
                        type: ChangeCount
                        value: "1"
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 15
                        timeAggregation: Average
                        timeGrain: PT2M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT6M
                        direction: Decrease
                        type: ChangeCount
                        value: "2"
                  targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                tags:
                  $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                    Microsoft.WindowsAzure.Management.Common.Storage
                type: Microsoft.Insights/autoscaleSettings
          schema:
            $ref: '#/definitions/AutoscaleSettingResourceCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - AutoscaleSettings
      x-ms-examples:
        List autoscale settings:
          parameters:
            api-version: "2015-04-01"
            resourceGroupName: TestingMetricsScaleSet
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            200:
              body:
                nextLink: https://management.azure.com/########-####-####-####-############$skiptoken=######
                value:
                - id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/microsoft.insights/autoscalesettings/MySetting
                  location: West US
                  name: MySetting
                  properties:
                    enabled: true
                    name: MySetting
                    notifications:
                    - email:
                        customEmails:
                        - gu@ms.com
                        - ge@ns.net
                        sendToSubscriptionAdministrator: true
                        sendToSubscriptionCoAdministrators: true
                      operation: Scale
                      webhooks:
                      - properties: []
                        serviceUri: http://myservice.com
                    profiles:
                    - capacity:
                        default: "1"
                        maximum: "10"
                        minimum: "1"
                      fixedDate:
                        end: "2015-03-05T14:30:00Z"
                        start: "2015-03-05T14:00:00Z"
                        timeZone: UTC
                      name: adios
                      rules:
                      - metricTrigger:
                          metricName: Percentage CPU
                          metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                          operator: GreaterThan
                          statistic: Average
                          threshold: 10
                          timeAggregation: Average
                          timeGrain: PT1M
                          timeWindow: PT5M
                        scaleAction:
                          cooldown: PT5M
                          direction: Increase
                          type: ChangeCount
                          value: "1"
                      - metricTrigger:
                          metricName: Percentage CPU
                          metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                          operator: GreaterThan
                          statistic: Average
                          threshold: 15
                          timeAggregation: Average
                          timeGrain: PT2M
                          timeWindow: PT5M
                        scaleAction:
                          cooldown: PT6M
                          direction: Decrease
                          type: ChangeCount
                          value: "2"
                    - capacity:
                        default: "1"
                        maximum: "10"
                        minimum: "1"
                      name: saludos
                      recurrence:
                        frequency: Week
                        schedule:
                          days:
                          - "1"
                          hours:
                          - 5
                          minutes:
                          - 15
                          timeZone: UTC
                      rules:
                      - metricTrigger:
                          metricName: Percentage CPU
                          metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                          operator: GreaterThan
                          statistic: Average
                          threshold: 10
                          timeAggregation: Average
                          timeGrain: PT1M
                          timeWindow: PT5M
                        scaleAction:
                          cooldown: PT5M
                          direction: Increase
                          type: ChangeCount
                          value: "1"
                      - metricTrigger:
                          metricName: Percentage CPU
                          metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                          operator: GreaterThan
                          statistic: Average
                          threshold: 15
                          timeAggregation: Average
                          timeGrain: PT2M
                          timeWindow: PT5M
                        scaleAction:
                          cooldown: PT6M
                          direction: Decrease
                          type: ChangeCount
                          value: "2"
                    targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                  tags:
                    $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                      Microsoft.WindowsAzure.Management.Common.Storage
                  type: Microsoft.Insights/autoscaleSettings
              headers: []
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/autoscalesettings/{autoscaleSettingName}
  : delete:
      description: Deletes and autoscale setting
      operationId: AutoscaleSettings_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AutoscaleSettingNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request to delete an autoscale setting
        204:
          description: 'No content: Successful request to delete an autoscale setting,
            but the response is intentionally empty'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - AutoscaleSettings
      x-ms-examples:
        Delete an autoscale setting:
          parameters:
            api-version: "2015-04-01"
            autoscaleSettingName: MySetting
            resourceGroupName: TestingMetricsScaleSet
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            200:
              body: ~
              headers: []
            204:
              body: ~
              headers: []
    get:
      description: Gets an autoscale setting
      operationId: AutoscaleSettings_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AutoscaleSettingNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request to get one autoscale setting
          examples:
            application/json:
              id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/microsoft.insights/autoscalesettings/MySetting
              location: West US
              name: MySetting
              properties:
                enabled: true
                name: MySetting
                notifications:
                - email:
                    customEmails:
                    - gu@ms.com
                    - ge@ns.net
                    sendToSubscriptionAdministrator: true
                    sendToSubscriptionCoAdministrators: true
                  operation: Scale
                  webhooks:
                  - properties: []
                    serviceUri: http://myservice.com
                profiles:
                - capacity:
                    default: "1"
                    maximum: "10"
                    minimum: "1"
                  fixedDate:
                    end: "2015-03-05T14:30:00Z"
                    start: "2015-03-05T14:00:00Z"
                    timeZone: UTC
                  name: adios
                  rules:
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 10
                      timeAggregation: Average
                      timeGrain: PT1M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT5M
                      direction: Increase
                      type: ChangeCount
                      value: "1"
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 15
                      timeAggregation: Average
                      timeGrain: PT2M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT6M
                      direction: Decrease
                      type: ChangeCount
                      value: "2"
                - capacity:
                    default: "1"
                    maximum: "10"
                    minimum: "1"
                  name: saludos
                  recurrence:
                    frequency: Week
                    schedule:
                      days:
                      - "1"
                      hours:
                      - 5
                      minutes:
                      - 15
                      timeZone: UTC
                  rules:
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 10
                      timeAggregation: Average
                      timeGrain: PT1M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT5M
                      direction: Increase
                      type: ChangeCount
                      value: "1"
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 15
                      timeAggregation: Average
                      timeGrain: PT2M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT6M
                      direction: Decrease
                      type: ChangeCount
                      value: "2"
                targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
              tags:
                $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                  Microsoft.WindowsAzure.Management.Common.Storage
              type: Microsoft.Insights/autoscaleSettings
          schema:
            $ref: '#/definitions/AutoscaleSettingResource'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - AutoscaleSettings
      x-ms-examples:
        Get an autoscale setting:
          parameters:
            api-version: "2015-04-01"
            autoscaleSettingName: MySetting
            resourceGroupName: TestingMetricsScaleSet
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            200:
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/microsoft.insights/autoscalesettings/MySetting
                location: West US
                name: MySetting
                properties:
                  enabled: true
                  name: MySetting
                  notifications:
                  - email:
                      customEmails:
                      - gu@ms.com
                      - ge@ns.net
                      sendToSubscriptionAdministrator: true
                      sendToSubscriptionCoAdministrators: true
                    operation: Scale
                    webhooks:
                    - properties: []
                      serviceUri: http://myservice.com
                  profiles:
                  - capacity:
                      default: "1"
                      maximum: "10"
                      minimum: "1"
                    fixedDate:
                      end: "2015-03-05T14:30:00Z"
                      start: "2015-03-05T14:00:00Z"
                      timeZone: UTC
                    name: adios
                    rules:
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 10
                        timeAggregation: Average
                        timeGrain: PT1M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT5M
                        direction: Increase
                        type: ChangeCount
                        value: "1"
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 15
                        timeAggregation: Average
                        timeGrain: PT2M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT6M
                        direction: Decrease
                        type: ChangeCount
                        value: "2"
                  - capacity:
                      default: "1"
                      maximum: "10"
                      minimum: "1"
                    name: saludos
                    recurrence:
                      frequency: Week
                      schedule:
                        days:
                        - "1"
                        hours:
                        - 5
                        minutes:
                        - 15
                        timeZone: UTC
                    rules:
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 10
                        timeAggregation: Average
                        timeGrain: PT1M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT5M
                        direction: Increase
                        type: ChangeCount
                        value: "1"
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 15
                        timeAggregation: Average
                        timeGrain: PT2M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT6M
                        direction: Decrease
                        type: ChangeCount
                        value: "2"
                  targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                tags:
                  $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                    Microsoft.WindowsAzure.Management.Common.Storage
                type: Microsoft.Insights/autoscaleSettings
              headers: []
    patch:
      description: Updates an existing AutoscaleSettingsResource. To update other
        fields use the CreateOrUpdate method.
      operationId: AutoscaleSettings_Update
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AutoscaleSettingNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Parameters supplied to the operation.
        in: body
        name: autoscaleSettingResource
        required: true
        schema:
          $ref: '#/definitions/AutoscaleSettingResourcePatch'
      responses:
        200:
          description: An existing autoscale setting resource was successfully updated.
          schema:
            $ref: '#/definitions/AutoscaleSettingResource'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      description: Creates or updates an autoscale setting.
      operationId: AutoscaleSettings_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/AutoscaleSettingNameParameter'
      - description: Parameters supplied to the operation.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/AutoscaleSettingResource'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request to create or update an autoscale setting
          examples:
            application/json:
              id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/microsoft.insights/autoscalesettings/MySetting
              location: West US
              name: MySetting
              properties:
                enabled: true
                name: MySetting
                notifications:
                - email:
                    customEmails:
                    - gu@ms.com
                    - ge@ns.net
                    sendToSubscriptionAdministrator: true
                    sendToSubscriptionCoAdministrators: true
                  operation: Scale
                  webhooks:
                  - properties: []
                    serviceUri: http://myservice.com
                profiles:
                - capacity:
                    default: "1"
                    maximum: "10"
                    minimum: "1"
                  fixedDate:
                    end: "2015-03-05T14:30:00Z"
                    start: "2015-03-05T14:00:00Z"
                    timeZone: UTC
                  name: adios
                  rules:
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 10
                      timeAggregation: Average
                      timeGrain: PT1M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT5M
                      direction: Increase
                      type: ChangeCount
                      value: "1"
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 15
                      timeAggregation: Average
                      timeGrain: PT2M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT6M
                      direction: Decrease
                      type: ChangeCount
                      value: "2"
                - capacity:
                    default: "1"
                    maximum: "10"
                    minimum: "1"
                  name: saludos
                  recurrence:
                    frequency: Week
                    schedule:
                      days:
                      - "1"
                      hours:
                      - 5
                      minutes:
                      - 15
                      timeZone: UTC
                  rules:
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 10
                      timeAggregation: Average
                      timeGrain: PT1M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT5M
                      direction: Increase
                      type: ChangeCount
                      value: "1"
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 15
                      timeAggregation: Average
                      timeGrain: PT2M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT6M
                      direction: Decrease
                      type: ChangeCount
                      value: "2"
                targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
              tags:
                $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                  Microsoft.WindowsAzure.Management.Common.Storage
              type: Microsoft.Insights/autoscaleSettings
          schema:
            $ref: '#/definitions/AutoscaleSettingResource'
        201:
          description: Created autoscale setting
          examples:
            application/json:
              id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/microsoft.insights/autoscalesettings/MySetting
              location: West US
              name: MySetting
              properties:
                enabled: true
                name: MySetting
                notifications:
                - email:
                    customEmails:
                    - gu@ms.com
                    - ge@ns.net
                    sendToSubscriptionAdministrator: true
                    sendToSubscriptionCoAdministrators: true
                  operation: Scale
                  webhooks:
                  - properties: []
                    serviceUri: http://myservice.com
                profiles:
                - capacity:
                    default: "1"
                    maximum: "10"
                    minimum: "1"
                  fixedDate:
                    end: "2015-03-05T14:30:00Z"
                    start: "2015-03-05T14:00:00Z"
                    timeZone: UTC
                  name: adios
                  rules:
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 10
                      timeAggregation: Average
                      timeGrain: PT1M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT5M
                      direction: Increase
                      type: ChangeCount
                      value: "1"
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 15
                      timeAggregation: Average
                      timeGrain: PT2M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT6M
                      direction: Decrease
                      type: ChangeCount
                      value: "2"
                - capacity:
                    default: "1"
                    maximum: "10"
                    minimum: "1"
                  name: saludos
                  recurrence:
                    frequency: Week
                    schedule:
                      days:
                      - "1"
                      hours:
                      - 5
                      minutes:
                      - 15
                      timeZone: UTC
                  rules:
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 10
                      timeAggregation: Average
                      timeGrain: PT1M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT5M
                      direction: Increase
                      type: ChangeCount
                      value: "1"
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 15
                      timeAggregation: Average
                      timeGrain: PT2M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT6M
                      direction: Decrease
                      type: ChangeCount
                      value: "2"
                targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
              tags:
                $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                  Microsoft.WindowsAzure.Management.Common.Storage
              type: Microsoft.Insights/autoscaleSettings
          schema:
            $ref: '#/definitions/AutoscaleSettingResource'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - AutoscaleSettings
      x-ms-examples:
        Create or update an autoscale setting:
          parameters:
            api-version: "2015-04-01"
            autoscaleSettingName: MySetting
            parameters:
              location: West US
              properties:
                enabled: true
                notifications:
                - email:
                    customEmails:
                    - gu@ms.com
                    - ge@ns.net
                    sendToSubscriptionAdministrator: true
                    sendToSubscriptionCoAdministrators: true
                  operation: Scale
                  webhooks:
                  - properties: []
                    serviceUri: http://myservice.com
                profiles:
                - capacity:
                    default: "1"
                    maximum: "10"
                    minimum: "1"
                  fixedDate:
                    end: "2015-03-05T14:30:00Z"
                    start: "2015-03-05T14:00:00Z"
                    timeZone: UTC
                  name: adios
                  rules:
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 10
                      timeAggregation: Average
                      timeGrain: PT1M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT5M
                      direction: Increase
                      type: ChangeCount
                      value: "1"
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 15
                      timeAggregation: Average
                      timeGrain: PT2M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT6M
                      direction: Decrease
                      type: ChangeCount
                      value: "2"
                - capacity:
                    default: "1"
                    maximum: "10"
                    minimum: "1"
                  name: saludos
                  recurrence:
                    frequency: Week
                    schedule:
                      days:
                      - "1"
                      hours:
                      - 5
                      minutes:
                      - 15
                      timeZone: UTC
                  rules:
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 10
                      timeAggregation: Average
                      timeGrain: PT1M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT5M
                      direction: Increase
                      type: ChangeCount
                      value: "1"
                  - metricTrigger:
                      metricName: Percentage CPU
                      metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                      operator: GreaterThan
                      statistic: Average
                      threshold: 15
                      timeAggregation: Average
                      timeGrain: PT2M
                      timeWindow: PT5M
                    scaleAction:
                      cooldown: PT6M
                      direction: Decrease
                      type: ChangeCount
                      value: "2"
                targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
              tags: []
            resourceGroupName: TestingMetricsScaleSet
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            200:
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/microsoft.insights/autoscalesettings/MySetting
                location: West US
                name: MySetting
                properties:
                  enabled: true
                  name: MySetting
                  notifications:
                  - email:
                      customEmails:
                      - gu@ms.com
                      - ge@ns.net
                      sendToSubscriptionAdministrator: true
                      sendToSubscriptionCoAdministrators: true
                    operation: Scale
                    webhooks:
                    - properties: []
                      serviceUri: http://myservice.com
                  profiles:
                  - capacity:
                      default: "1"
                      maximum: "10"
                      minimum: "1"
                    fixedDate:
                      end: "2015-03-05T14:30:00Z"
                      start: "2015-03-05T14:00:00Z"
                      timeZone: UTC
                    name: adios
                    rules:
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 10
                        timeAggregation: Average
                        timeGrain: PT1M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT5M
                        direction: Increase
                        type: ChangeCount
                        value: "1"
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 15
                        timeAggregation: Average
                        timeGrain: PT2M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT6M
                        direction: Decrease
                        type: ChangeCount
                        value: "2"
                  - capacity:
                      default: "1"
                      maximum: "10"
                      minimum: "1"
                    name: saludos
                    recurrence:
                      frequency: Week
                      schedule:
                        days:
                        - "1"
                        hours:
                        - 5
                        minutes:
                        - 15
                        timeZone: UTC
                    rules:
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 10
                        timeAggregation: Average
                        timeGrain: PT1M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT5M
                        direction: Increase
                        type: ChangeCount
                        value: "1"
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 15
                        timeAggregation: Average
                        timeGrain: PT2M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT6M
                        direction: Decrease
                        type: ChangeCount
                        value: "2"
                  targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                tags:
                  $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                    Microsoft.WindowsAzure.Management.Common.Storage
                type: Microsoft.Insights/autoscaleSettings
              headers: []
            201:
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/microsoft.insights/autoscalesettings/MySetting
                location: West US
                name: MySetting
                properties:
                  enabled: true
                  name: MySetting
                  notifications:
                  - email:
                      customEmails:
                      - gu@ms.com
                      - ge@ns.net
                      sendToSubscriptionAdministrator: true
                      sendToSubscriptionCoAdministrators: true
                    operation: Scale
                    webhooks:
                    - properties: []
                      serviceUri: http://myservice.com
                  profiles:
                  - capacity:
                      default: "1"
                      maximum: "10"
                      minimum: "1"
                    fixedDate:
                      end: "2015-03-05T14:30:00Z"
                      start: "2015-03-05T14:00:00Z"
                      timeZone: UTC
                    name: adios
                    rules:
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 10
                        timeAggregation: Average
                        timeGrain: PT1M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT5M
                        direction: Increase
                        type: ChangeCount
                        value: "1"
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 15
                        timeAggregation: Average
                        timeGrain: PT2M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT6M
                        direction: Decrease
                        type: ChangeCount
                        value: "2"
                  - capacity:
                      default: "1"
                      maximum: "10"
                      minimum: "1"
                    name: saludos
                    recurrence:
                      frequency: Week
                      schedule:
                        days:
                        - "1"
                        hours:
                        - 5
                        minutes:
                        - 15
                        timeZone: UTC
                    rules:
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 10
                        timeAggregation: Average
                        timeGrain: PT1M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT5M
                        direction: Increase
                        type: ChangeCount
                        value: "1"
                    - metricTrigger:
                        metricName: Percentage CPU
                        metricResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                        operator: GreaterThan
                        statistic: Average
                        threshold: 15
                        timeAggregation: Average
                        timeGrain: PT2M
                        timeWindow: PT5M
                      scaleAction:
                        cooldown: PT6M
                        direction: Decrease
                        type: ChangeCount
                        value: "2"
                  targetResourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/TestingMetricsScaleSet/providers/Microsoft.Compute/virtualMachineScaleSets/testingsc
                tags:
                  $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                    Microsoft.WindowsAzure.Management.Common.Storage
                type: Microsoft.Insights/autoscaleSettings
              headers: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":17:{s:21:\"AutoscaleNotification\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Autoscale
  notification.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EmailNotification\";s:11:\"description\";s:23:\"the
  email notification.\";}s:9:\"operation\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"the
  operation associated with the notification and its value must be \"scale\"\";s:4:\"enum\";a:1:{i:0;s:5:\"Scale\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"OperationType\";}}s:8:\"webhooks\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"the
  collection of webhook notifications.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/WebhookNotification\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:9:\"operation\";}}s:16:\"AutoscaleProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Autoscale
  profile.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"capacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ScaleCapacity\";s:11:\"description\";s:61:\"the
  number of instances that can be used during this profile.\";}s:9:\"fixedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimeWindow\";s:11:\"description\";s:99:\"the
  specific date-time for the profile. This element is not used if the Recurrence element
  is used.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"the name
  of the profile.\";s:4:\"type\";s:6:\"string\";}s:10:\"recurrence\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Recurrence\";s:11:\"description\";s:108:\"the
  repeating times at which this profile begins. This element is not used if the FixedDate
  element is used.\";}s:5:\"rules\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"the
  collection of rules that provide the triggers and parameters for the scaling action.
  A maximum of 10 rules can be specified.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ScaleRule\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:5:\"rules\";i:1;s:4:\"name\";i:2;s:8:\"capacity\";}}s:16:\"AutoscaleSetting\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"A
  setting that contains all of the configuration for the automatic scaling of a resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"enabled\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:111:\"the
  enabled flag. Specifies whether automatic scaling is enabled for the resource. The
  default value is 'true'.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"the
  name of the autoscale setting.\";s:4:\"type\";s:6:\"string\";}s:13:\"notifications\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"the
  collection of notifications.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AutoscaleNotification\";}s:4:\"type\";s:5:\"array\";}s:8:\"profiles\";O:8:\"stdClass\":4:{s:11:\"description\";s:157:\"the
  collection of automatic scaling profiles that specify different scaling parameters
  for different time periods. A maximum of 20 profiles can be specified.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AutoscaleProfile\";}s:8:\"maxItems\";i:20;s:4:\"type\";s:5:\"array\";}s:17:\"targetResourceUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"the
  resource identifier of the resource that the autoscale setting should be added to.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"profiles\";}}s:24:\"AutoscaleSettingResource\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:31:\"The
  autoscale setting resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AutoscaleSetting\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";}s:34:\"AutoscaleSettingResourceCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Represents
  a collection of autoscale setting resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"URL
  to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"the
  values for the autoscale setting resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AutoscaleSettingResource\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:29:\"AutoscaleSettingResourcePatch\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  autoscale setting object for patch operations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AutoscaleSetting\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}}}s:17:\"EmailNotification\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Email
  notification of an autoscale event.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"customEmails\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"the
  custom e-mails list. This value can be null or empty, in which case this attribute
  will be ignored.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:31:\"sendToSubscriptionAdministrator\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"a
  value indicating whether to send email to subscription administrator.\";s:4:\"type\";s:7:\"boolean\";}s:34:\"sendToSubscriptionCoAdministrators\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"a
  value indicating whether to send email to subscription co-administrators.\";s:4:\"type\";s:7:\"boolean\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the format of Error response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"MetricTrigger\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  trigger that results in a scaling action.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"metricName\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"the
  name of the metric that defines what the rule monitors.\";s:4:\"type\";s:6:\"string\";}s:17:\"metricResourceUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"the
  resource identifier of the resource the rule monitors.\";s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"the
  operator that is used to compare the metric data and the threshold.\";s:4:\"enum\";a:6:{i:0;s:6:\"Equals\";i:1;s:9:\"NotEquals\";i:2;s:11:\"GreaterThan\";i:3;s:18:\"GreaterThanOrEqual\";i:4;s:8:\"LessThan\";i:5;s:15:\"LessThanOrEqual\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:23:\"ComparisonOperationType\";}}s:9:\"statistic\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"the
  metric statistic type. How the metrics from multiple instances are combined.\";s:4:\"enum\";a:4:{i:0;s:7:\"Average\";i:1;s:3:\"Min\";i:2;s:3:\"Max\";i:3;s:3:\"Sum\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"MetricStatisticType\";}}s:9:\"threshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"the
  threshold of the metric that triggers the scale action.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"timeAggregation\";O:8:\"stdClass\":4:{s:11:\"description\";s:113:\"time
  aggregation type. How the data that is collected should be combined over time. The
  default value is Average.\";s:4:\"enum\";a:5:{i:0;s:7:\"Average\";i:1;s:7:\"Minimum\";i:2;s:7:\"Maximum\";i:3;s:5:\"Total\";i:4;s:5:\"Count\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"TimeAggregationType\";}}s:9:\"timeGrain\";O:8:\"stdClass\":3:{s:11:\"description\";s:170:\"the
  granularity of metrics the rule monitors. Must be one of the predefined values returned
  from metric definitions for the metric. Must be between 12 hours and 1 minute.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:10:\"timeWindow\";O:8:\"stdClass\":3:{s:11:\"description\";s:200:\"the
  range of time in which instance data is collected. This value must be greater than
  the delay in metric collection, which can vary from resource-to-resource. Must be
  between 12 hours and 5 minutes.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:10:\"metricName\";i:1;s:17:\"metricResourceUri\";i:2;s:9:\"timeGrain\";i:3;s:9:\"statistic\";i:4;s:10:\"timeWindow\";i:5;s:15:\"timeAggregation\";i:6;s:8:\"operator\";i:7;s:9:\"threshold\";}}s:10:\"Recurrence\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  repeating times at which this profile begins. This element is not used if the FixedDate
  element is used.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"frequency\";O:8:\"stdClass\":4:{s:11:\"description\";s:155:\"the
  recurrence frequency. How often the schedule profile should take effect. This value
  must be Week, meaning each week will have the same set of profiles.\";s:4:\"enum\";a:8:{i:0;s:4:\"None\";i:1;s:6:\"Second\";i:2;s:6:\"Minute\";i:3;s:4:\"Hour\";i:4;s:3:\"Day\";i:5;s:4:\"Week\";i:6;s:5:\"Month\";i:7;s:4:\"Year\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"RecurrenceFrequency\";}}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RecurrentSchedule\";s:11:\"description\";s:55:\"the
  scheduling constraints for when the profile begins.\";}}s:8:\"required\";a:2:{i:0;s:9:\"frequency\";i:1;s:8:\"schedule\";}}s:17:\"RecurrentSchedule\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  scheduling constraints for when the profile begins.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"days\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"the
  collection of days that the profile takes effect on. Possible values are Sunday
  through Saturday.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"hours\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"A
  collection of hours that the profile takes effect on. Values supported are 0 to
  23 on the 24-hour clock (AM/PM times are not supported).\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:7:\"minutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  collection of minutes at which the profile takes effect at.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:2684:\"the
  timezone for the hours of the profile. Some examples of valid timezones are: Dateline
  Standard Time, UTC-11, Hawaiian Standard Time, Alaskan Standard Time, Pacific Standard
  Time (Mexico), Pacific Standard Time, US Mountain Standard Time, Mountain Standard
  Time (Mexico), Mountain Standard Time, Central America Standard Time, Central Standard
  Time, Central Standard Time (Mexico), Canada Central Standard Time, SA Pacific Standard
  Time, Eastern Standard Time, US Eastern Standard Time, Venezuela Standard Time,
  Paraguay Standard Time, Atlantic Standard Time, Central Brazilian Standard Time,
  SA Western Standard Time, Pacific SA Standard Time, Newfoundland Standard Time,
  E. South America Standard Time, Argentina Standard Time, SA Eastern Standard Time,
  Greenland Standard Time, Montevideo Standard Time, Bahia Standard Time, UTC-02,
  Mid-Atlantic Standard Time, Azores Standard Time, Cape Verde Standard Time, Morocco
  Standard Time, UTC, GMT Standard Time, Greenwich Standard Time, W. Europe Standard
  Time, Central Europe Standard Time, Romance Standard Time, Central European Standard
  Time, W. Central Africa Standard Time, Namibia Standard Time, Jordan Standard Time,
  GTB Standard Time, Middle East Standard Time, Egypt Standard Time, Syria Standard
  Time, E. Europe Standard Time, South Africa Standard Time, FLE Standard Time, Turkey
  Standard Time, Israel Standard Time, Kaliningrad Standard Time, Libya Standard Time,
  Arabic Standard Time, Arab Standard Time, Belarus Standard Time, Russian Standard
  Time, E. Africa Standard Time, Iran Standard Time, Arabian Standard Time, Azerbaijan
  Standard Time, Russia Time Zone 3, Mauritius Standard Time, Georgian Standard Time,
  Caucasus Standard Time, Afghanistan Standard Time, West Asia Standard Time, Ekaterinburg
  Standard Time, Pakistan Standard Time, India Standard Time, Sri Lanka Standard Time,
  Nepal Standard Time, Central Asia Standard Time, Bangladesh Standard Time, N. Central
  Asia Standard Time, Myanmar Standard Time, SE Asia Standard Time, North Asia Standard
  Time, China Standard Time, North Asia East Standard Time, Singapore Standard Time,
  W. Australia Standard Time, Taipei Standard Time, Ulaanbaatar Standard Time, Tokyo
  Standard Time, Korea Standard Time, Yakutsk Standard Time, Cen. Australia Standard
  Time, AUS Central Standard Time, E. Australia Standard Time, AUS Eastern Standard
  Time, West Pacific Standard Time, Tasmania Standard Time, Magadan Standard Time,
  Vladivostok Standard Time, Russia Time Zone 10, Central Pacific Standard Time, Russia
  Time Zone 11, New Zealand Standard Time, UTC+12, Fiji Standard Time, Kamchatka Standard
  Time, Tonga Standard Time, Samoa Standard Time, Line Islands Standard Time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:8:\"timeZone\";i:1;s:4:\"days\";i:2;s:5:\"hours\";i:3;s:7:\"minutes\";}}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"An
  azure resource object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Azure
  resource Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Resource
  location\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Azure
  resource name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Azure resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:11:\"ScaleAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  parameters for the scaling action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"cooldown\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"the
  amount of time to wait since the last scaling action before this action occurs.
  It must be between 1 week and 1 minute in ISO 8601 format.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"the
  scale direction. Whether the scaling action increases or decreases the number of
  instances.\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:8:\"Increase\";i:2;s:8:\"Decrease\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:14:\"ScaleDirection\";}}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"the
  type of action that should occur when the scale rule fires.\";s:4:\"enum\";a:3:{i:0;s:11:\"ChangeCount\";i:1;s:18:\"PercentChangeCount\";i:2;s:10:\"ExactCount\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:9:\"ScaleType\";}}s:5:\"value\";O:8:\"stdClass\":3:{s:7:\"default\";s:1:\"1\";s:11:\"description\";s:121:\"the
  number of instances that are involved in the scaling action. This value must be
  1 or greater. The default value is 1.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:9:\"direction\";i:1;s:4:\"type\";i:2;s:8:\"cooldown\";}}s:13:\"ScaleCapacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  number of instances that can be used during this profile.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"default\";O:8:\"stdClass\":2:{s:11:\"description\";s:167:\"the
  number of instances that will be set if metrics are not available for evaluation.
  The default is only used if the current instance count is lower than the default.\";s:4:\"type\";s:6:\"string\";}s:7:\"maximum\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"the
  maximum number of instances for the resource. The actual maximum number of instances
  is limited by the cores that are available in the subscription.\";s:4:\"type\";s:6:\"string\";}s:7:\"minimum\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"the
  minimum number of instances for the resource.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:7:\"minimum\";i:1;s:7:\"maximum\";i:2;s:7:\"default\";}}s:9:\"ScaleRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"A
  rule that provide the triggers and parameters for the scaling action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"metricTrigger\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MetricTrigger\";s:11:\"description\";s:45:\"the
  trigger that results in a scaling action.\";}s:11:\"scaleAction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ScaleAction\";s:11:\"description\";s:38:\"the
  parameters for the scaling action.\";}}s:8:\"required\";a:2:{i:0;s:11:\"scaleAction\";i:1;s:13:\"metricTrigger\";}}s:10:\"TimeWindow\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"A
  specific date-time for the profile.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"the
  end time for the profile in ISO 8601 format.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"the
  start time for the profile in ISO 8601 format.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:2698:\"the
  timezone of the start and end times for the profile. Some examples of valid timezones
  are: Dateline Standard Time, UTC-11, Hawaiian Standard Time, Alaskan Standard Time,
  Pacific Standard Time (Mexico), Pacific Standard Time, US Mountain Standard Time,
  Mountain Standard Time (Mexico), Mountain Standard Time, Central America Standard
  Time, Central Standard Time, Central Standard Time (Mexico), Canada Central Standard
  Time, SA Pacific Standard Time, Eastern Standard Time, US Eastern Standard Time,
  Venezuela Standard Time, Paraguay Standard Time, Atlantic Standard Time, Central
  Brazilian Standard Time, SA Western Standard Time, Pacific SA Standard Time, Newfoundland
  Standard Time, E. South America Standard Time, Argentina Standard Time, SA Eastern
  Standard Time, Greenland Standard Time, Montevideo Standard Time, Bahia Standard
  Time, UTC-02, Mid-Atlantic Standard Time, Azores Standard Time, Cape Verde Standard
  Time, Morocco Standard Time, UTC, GMT Standard Time, Greenwich Standard Time, W.
  Europe Standard Time, Central Europe Standard Time, Romance Standard Time, Central
  European Standard Time, W. Central Africa Standard Time, Namibia Standard Time,
  Jordan Standard Time, GTB Standard Time, Middle East Standard Time, Egypt Standard
  Time, Syria Standard Time, E. Europe Standard Time, South Africa Standard Time,
  FLE Standard Time, Turkey Standard Time, Israel Standard Time, Kaliningrad Standard
  Time, Libya Standard Time, Arabic Standard Time, Arab Standard Time, Belarus Standard
  Time, Russian Standard Time, E. Africa Standard Time, Iran Standard Time, Arabian
  Standard Time, Azerbaijan Standard Time, Russia Time Zone 3, Mauritius Standard
  Time, Georgian Standard Time, Caucasus Standard Time, Afghanistan Standard Time,
  West Asia Standard Time, Ekaterinburg Standard Time, Pakistan Standard Time, India
  Standard Time, Sri Lanka Standard Time, Nepal Standard Time, Central Asia Standard
  Time, Bangladesh Standard Time, N. Central Asia Standard Time, Myanmar Standard
  Time, SE Asia Standard Time, North Asia Standard Time, China Standard Time, North
  Asia East Standard Time, Singapore Standard Time, W. Australia Standard Time, Taipei
  Standard Time, Ulaanbaatar Standard Time, Tokyo Standard Time, Korea Standard Time,
  Yakutsk Standard Time, Cen. Australia Standard Time, AUS Central Standard Time,
  E. Australia Standard Time, AUS Eastern Standard Time, West Pacific Standard Time,
  Tasmania Standard Time, Magadan Standard Time, Vladivostok Standard Time, Russia
  Time Zone 10, Central Pacific Standard Time, Russia Time Zone 11, New Zealand Standard
  Time, UTC+12, Fiji Standard Time, Kamchatka Standard Time, Tonga Standard Time,
  Samoa Standard Time, Line Islands Standard Time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"start\";i:1;s:3:\"end\";}}s:19:\"WebhookNotification\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Webhook
  notification of an autoscale event.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:52:\"a
  property bag of settings. This value can be empty.\";s:4:\"type\";s:6:\"object\";}s:10:\"serviceUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"the
  service address to receive the notification.\";s:4:\"type\";s:6:\"string\";}}}}"
...
