---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:18:\"2018-09-01-preview\";s:5:\"title\";s:17:\"Azure
  Migrate Hub\";s:11:\"description\";s:32:\"Migrate your workloads to Azure.\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"Microsoft\";s:5:\"email\";s:29:\"azuremigratehub@microsoft.com\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databaseInstances
  : get:
      tags:
      - DatabaseInstances
      summary: Gets a list of database instances in the migrate project.
      operationId: DatabaseInstances_EnumerateDatabaseInstances
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/continuationToken'
      - $ref: '#/parameters/pageSize'
      - $ref: '#/parameters/acceptLanguage'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DatabaseInstanceCollection'
      deprecated: false
      x-ms-examples:
        DatabaseInstances_List:
          $ref: ./examples/DatabaseInstances_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databaseInstances/{databaseInstanceName}
  : get:
      tags:
      - DatabaseInstances
      summary: Gets a database instance in the migrate project.
      operationId: DatabaseInstances_GetDatabaseInstance
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/databaseInstanceName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/acceptLanguage'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DatabaseInstance'
      deprecated: false
      x-ms-examples:
        DatabaseInstances_Get:
          $ref: ./examples/DatabaseInstances_Get.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databases
  : get:
      tags:
      - Databases
      summary: Gets a list of databases in the migrate project.
      operationId: Databases_EnumerateDatabases
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/continuationToken'
      - $ref: '#/parameters/pageSize'
      - $ref: '#/parameters/acceptLanguage'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DatabaseCollection'
      deprecated: false
      x-ms-examples:
        Databases_List:
          $ref: ./examples/Databases_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databases/{databaseName}
  : get:
      tags:
      - Databases
      summary: Gets a database in the migrate project.
      operationId: Databases_GetDatabase
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/databaseName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/acceptLanguage'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Database'
      deprecated: false
      x-ms-examples:
        Databases_Get:
          $ref: ./examples/Databases_Get.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/migrateEvents
  : get:
      tags:
      - Events
      summary: Gets a list of events in the migrate project.
      operationId: Events_EnumerateEvents
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/continuationToken'
      - $ref: '#/parameters/pageSize'
      - $ref: '#/parameters/acceptLanguage'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventCollection'
      deprecated: false
      x-ms-examples:
        MigrateEvents_List:
          $ref: ./examples/MigrateEvents_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/migrateEvents/{eventName}
  : get:
      tags:
      - Events
      summary: Gets an event in the migrate project.
      operationId: Events_GetEvent
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/eventName'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MigrateEvent'
      deprecated: false
      x-ms-examples:
        MigrateEvents_Get:
          $ref: ./examples/MigrateEvents_Get.json
    delete:
      tags:
      - Events
      summary: Delete the migrate event
      description: Delete the migrate event. Deleting non-existent migrate event is
        a no-operation.
      operationId: Events_DeleteEvent
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/eventName'
      responses:
        200:
          description: OK
      deprecated: false
      x-ms-examples:
        MigrateEvents_Delete:
          $ref: ./examples/MigrateEvents_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/machines
  : get:
      tags:
      - Machines
      summary: Gets a list of machines in the migrate project.
      operationId: Machines_EnumerateMachines
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/continuationToken'
      - $ref: '#/parameters/pageSize'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MachineCollection'
      deprecated: false
      x-ms-examples:
        Machines_List:
          $ref: ./examples/Machines_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/machines/{machineName}
  : get:
      tags:
      - Machines
      summary: Gets a machine in the migrate project.
      operationId: Machines_GetMachine
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/machineName'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Machine'
      deprecated: false
      x-ms-examples:
        Machines_Get:
          $ref: ./examples/Machines_Get.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}
  : get:
      tags:
      - MigrateProjects
      summary: Method to get a migrate project.
      operationId: MigrateProjects_GetMigrateProject
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MigrateProject'
      deprecated: false
      x-ms-examples:
        MigrateProjects_Get:
          $ref: ./examples/MigrateProjects_Get.json
    put:
      tags:
      - MigrateProjects
      summary: Method to create or update a migrate project.
      operationId: MigrateProjects_PutMigrateProject
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/api-version'
      - name: body
        in: body
        description: Body with migrate project details.
        required: true
        schema:
          $ref: '#/definitions/MigrateProject'
      - $ref: '#/parameters/acceptLanguage'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MigrateProject'
        201:
          description: Created
          schema:
            $ref: '#/definitions/MigrateProject'
      deprecated: false
      x-ms-examples:
        MigrateProjects_Put:
          $ref: ./examples/MigrateProjects_Put.json
    patch:
      tags:
      - MigrateProjects
      summary: Update migrate project.
      description: Update a migrate project with specified name. Supports partial
        updates, for example only tags can be provided.
      operationId: MigrateProjects_PatchMigrateProject
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/api-version'
      - name: body
        in: body
        description: Body with migrate project details.
        required: true
        schema:
          $ref: '#/definitions/MigrateProject'
      - $ref: '#/parameters/acceptLanguage'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MigrateProject'
      deprecated: false
      x-ms-examples:
        MigrateProjects_Patch:
          $ref: ./examples/MigrateProjects_Patch.json
    delete:
      tags:
      - MigrateProjects
      summary: Delete the migrate project
      description: Delete the migrate project. Deleting non-existent project is a
        no-operation.
      operationId: MigrateProjects_DeleteMigrateProject
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/acceptLanguage'
      responses:
        200:
          description: OK
      deprecated: false
      x-ms-examples:
        MigrateProjects_Delete:
          $ref: ./examples/MigrateProjects_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/registerTool
  : post:
      tags:
      - MigrateProjects
      summary: Registers a tool with the migrate project.
      operationId: MigrateProjects_RegisterTool
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/api-version'
      - name: input
        in: body
        description: Input containing the name of the tool to be registered.
        required: true
        schema:
          $ref: '#/definitions/RegisterToolInput'
      - $ref: '#/parameters/acceptLanguage'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RegistrationResult'
      deprecated: false
      x-ms-examples:
        MigrateProjects_RegisterTool:
          $ref: ./examples/MigrateProjects_RegisterTool.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/refreshSummary
  : post:
      tags:
      - MigrateProjects
      summary: Refresh the summary of the migrate project.
      operationId: MigrateProjects_RefreshMigrateProjectSummary
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/api-version'
      - name: input
        in: body
        description: The goal input which needs to be refreshed.
        required: true
        schema:
          $ref: '#/definitions/RefreshSummaryInput'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RefreshSummaryResult'
      deprecated: false
      x-ms-examples:
        MigrateProjects_RefreshSummary:
          $ref: ./examples/MigrateProjects_RefreshSummary.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/solutions/{solutionName}
  : get:
      tags:
      - Solutions
      summary: Gets a solution in the migrate project.
      operationId: Solutions_GetSolution
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/solutionName'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Solution'
      deprecated: false
      x-ms-examples:
        Solutions_Get:
          $ref: ./examples/Solutions_Get.json
    put:
      tags:
      - Solutions
      summary: Creates a solution in the migrate project.
      operationId: Solutions_PutSolution
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/solutionName'
      - name: solutionInput
        in: body
        description: The input for the solution.
        required: true
        schema:
          $ref: '#/definitions/Solution'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Solution'
        201:
          description: Created
          schema:
            $ref: '#/definitions/Solution'
      deprecated: false
      x-ms-examples:
        Solutions_Put:
          $ref: ./examples/Solutions_Put.json
    patch:
      tags:
      - Solutions
      summary: Update solution.
      description: Update a solution with specified name. Supports partial updates,
        for example only tags can be provided.
      operationId: Solutions_PatchSolution
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/solutionName'
      - name: solutionInput
        in: body
        description: The input for the solution.
        required: true
        schema:
          $ref: '#/definitions/Solution'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Solution'
      deprecated: false
      x-ms-examples:
        Solutions_Patch:
          $ref: ./examples/Solutions_Patch.json
    delete:
      tags:
      - Solutions
      summary: Delete the solution
      description: Delete the solution. Deleting non-existent project is a no-operation.
      operationId: Solutions_DeleteSolution
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/solutionName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/acceptLanguage'
      responses:
        200:
          description: OK
      deprecated: false
      x-ms-examples:
        Solutions_Delete:
          $ref: ./examples/Solutions_Delete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/solutions
  : get:
      tags:
      - Solutions
      summary: Gets the list of solutions in the migrate project.
      operationId: Solutions_EnumerateSolutions
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SolutionsCollection'
      deprecated: false
      x-ms-examples:
        Solutions_List:
          $ref: ./examples/Solutions_List.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/solutions/{solutionName}/getConfig
  : post:
      tags:
      - Solutions
      summary: Gets the config for the solution in the migrate project.
      operationId: Solutions_GetConfig
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/solutionName'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SolutionConfig'
      deprecated: false
      x-ms-examples:
        Solutions_GetConfig:
          $ref: ./examples/Solutions_GetConfig.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/solutions/{solutionName}/cleanupData
  : post:
      tags:
      - Solutions
      summary: Cleanup the solution data in the migrate project.
      operationId: Solutions_CleanupSolutionData
      parameters:
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/migrateProjectName'
      - $ref: '#/parameters/solutionName'
      - $ref: '#/parameters/api-version'
      responses:
        200:
          description: OK
      deprecated: false
      x-ms-examples:
        Solutions_CleanupData:
          $ref: ./examples/Solutions_CleanupData.json
  /providers/Microsoft.Migrate/operations:
    get:
      summary: Get list of operations supported in the API.
      description: Get a list of REST API supported by Microsoft.Migrate provider.
      operationId: Operations_List
      responses:
        200:
          description: OK. Returns list of operations.
          schema:
            $ref: '#/definitions/OperationResultList'
      x-ms-pageable:
        nextLinkName: ~
      x-ms-examples:
        Operations_List:
          $ref: ./examples/Operations_List.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":79:{s:6:\"Object\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:26:\"DatabaseInstanceCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Collection
  of database instances.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Gets
  or sets the database instances.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DatabaseInstance\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Gets
  or sets the value of nextLink.\";s:4:\"type\";s:6:\"string\";}}}s:16:\"DatabaseInstance\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"DatabaseInstance
  REST resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Gets
  or sets the relative URL to get to this REST resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  or sets the name of this REST resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Gets
  the type of this REST resource.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/DatabaseInstanceProperties\";s:11:\"description\";s:43:\"Gets
  or sets the properties of the machine.\";}}}s:26:\"DatabaseInstanceProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Properties
  of the database instance resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"discoveryData\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Gets
  or sets the assessment details of the database instance published by various sources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/DatabaseInstanceDiscoveryDetails\";}}s:7:\"summary\";O:8:\"stdClass\":3:{s:11:\"description\";s:165:\"Gets
  or sets the database instances summary per solution. The key of dictionary is the
  solution name and value is the corresponding database instance summary object.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/DatabaseInstanceSummary\";}}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:63:\"Gets
  or sets the time of the last modification of the database.\";s:4:\"type\";s:6:\"string\";}}}s:32:\"DatabaseInstanceDiscoveryDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Discovery
  properties that can be shared by various publishers.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:15:\"lastUpdatedTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:80:\"Gets
  or sets the time of the last modification of the database instance details.\";s:4:\"type\";s:6:\"string\";}s:10:\"instanceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Gets
  or sets the database instance Id.\";s:4:\"type\";s:6:\"string\";}s:11:\"enqueueTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Gets
  or sets the time the message was enqueued.\";s:4:\"type\";s:6:\"string\";}s:12:\"solutionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Gets
  or sets the name of the solution that sent the data.\";s:4:\"type\";s:6:\"string\";}s:12:\"instanceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Gets
  or sets the database instance name.\";s:4:\"type\";s:6:\"string\";}s:15:\"instanceVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Gets
  or sets the database instance version.\";s:4:\"type\";s:6:\"string\";}s:12:\"instanceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Gets
  or sets the database instance type.\";s:4:\"type\";s:6:\"string\";}s:8:\"hostName\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Gets
  or sets the host name of the database server.\";s:4:\"type\";s:6:\"string\";}s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Gets
  or sets the IP addresses of the database server. IP addresses could be IP V4 or
  IP V6.\";s:4:\"type\";s:6:\"string\";}s:10:\"portNumber\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:52:\"Gets
  or sets the port number of the database server.\";s:4:\"type\";s:7:\"integer\";}s:12:\"extendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Gets
  or sets the extended properties of the database server.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:23:\"DatabaseInstanceSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Class
  representing the database instance summary object.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"databasesAssessedCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:45:\"Gets
  or sets the count of databases assessed.\";s:4:\"type\";s:7:\"integer\";}s:19:\"migrationReadyCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:56:\"Gets
  or sets the count of databases ready for migration.\";s:4:\"type\";s:7:\"integer\";}}}s:18:\"DatabaseCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of databases.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Gets
  or sets the databases.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Database\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Gets
  or sets the value of nextLink.\";s:4:\"type\";s:6:\"string\";}}}s:8:\"Database\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Database
  REST resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Gets
  or sets the relative URL to get to this REST resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  or sets the name of this REST resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Gets
  the type of this REST resource.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DatabaseProperties\";s:11:\"description\";s:44:\"Gets
  or sets the properties of the database.\";}}}s:18:\"DatabaseProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Properties
  of the database resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"assessmentData\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Gets
  or sets the assessment details of the database published by various sources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/DatabaseAssessmentDetails\";}}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:63:\"Gets
  or sets the time of the last modification of the database.\";s:4:\"type\";s:6:\"string\";}}}s:25:\"DatabaseAssessmentDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Assessment
  properties that can be shared by various publishers.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:12:\"assessmentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Gets
  or sets the database assessment scope/Id.\";s:4:\"type\";s:6:\"string\";}s:22:\"migrationBlockersCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:50:\"Gets
  or sets the number of blocking changes found.\";s:4:\"type\";s:7:\"integer\";}s:20:\"breakingChangesCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:50:\"Gets
  or sets the number of breaking changes found.\";s:4:\"type\";s:7:\"integer\";}s:19:\"isReadyForMigration\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Gets
  or sets a value indicating whether the database is ready for migration.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"assessmentTargetType\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Gets
  or sets the assessed target database type.\";s:4:\"type\";s:6:\"string\";}s:16:\"lastAssessedTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:58:\"Gets
  or sets the time when the database was last assessed.\";s:4:\"type\";s:6:\"string\";}s:18:\"compatibilityLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Gets
  or sets the compatibility level of the database.\";s:4:\"type\";s:6:\"string\";}s:16:\"databaseSizeInMB\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Gets
  or sets the database size.\";s:4:\"type\";s:6:\"string\";}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:71:\"Gets
  or sets the time of the last modification of the database details.\";s:4:\"type\";s:6:\"string\";}s:11:\"enqueueTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Gets
  or sets the time the message was enqueued.\";s:4:\"type\";s:6:\"string\";}s:12:\"solutionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Gets
  or sets the name of the solution that sent the data.\";s:4:\"type\";s:6:\"string\";}s:10:\"instanceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Gets
  or sets the database server instance Id.\";s:4:\"type\";s:6:\"string\";}s:12:\"databaseName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Gets
  or sets the database name.\";s:4:\"type\";s:6:\"string\";}s:12:\"extendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Gets
  or sets the extended properties of the database.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:15:\"EventCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Collection
  of events.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Gets
  or sets the machines.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MigrateEvent\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Gets
  or sets the value of nextLink.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"MigrateEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"MigrateEvent
  REST resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Gets
  or sets the relative URL to get to this REST resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  or sets the name of this REST resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Gets
  the type of this REST resource.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/MigrateEventProperties\";s:11:\"description\";s:41:\"Gets
  or sets the properties of the event.\";}}}s:22:\"MigrateEventProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Properties
  of the error resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"instanceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Gets
  the Instance type.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Gets
  or sets the error code.\";s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Gets
  or sets the error message.\";s:4:\"type\";s:6:\"string\";}s:14:\"recommendation\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Gets
  or sets the recommendation for the error.\";s:4:\"type\";s:6:\"string\";}s:14:\"possibleCauses\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Gets
  or sets the possible causes for the error.\";s:4:\"type\";s:6:\"string\";}s:8:\"solution\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Gets
  or sets the solution for which the error is being reported.\";s:4:\"type\";s:6:\"string\";}s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"Gets
  or sets the client request Id of the payload for which the event is being reported.\";s:4:\"type\";s:6:\"string\";}}s:13:\"discriminator\";s:12:\"instanceType\";}s:19:\"ODataQueryOptions`1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/FilterQueryOption\";s:8:\"readOnly\";b:1;}}}s:17:\"ODataQueryContext\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:20:\"defaultQuerySettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DefaultQuerySettings\";s:8:\"readOnly\";b:1;}s:5:\"model\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IEdmModel\";s:8:\"readOnly\";b:1;}s:11:\"elementType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/IEdmType\";s:8:\"readOnly\";b:1;}s:16:\"navigationSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/IEdmNavigationSource\";s:8:\"readOnly\";b:1;}s:14:\"elementClrType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ODataPath\";s:8:\"readOnly\";b:1;}s:16:\"requestContainer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IServiceProvider\";s:8:\"readOnly\";b:1;}}}s:20:\"ODataRawQueryOptions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:17:\"FilterQueryOption\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"context\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ODataQueryContext\";s:8:\"readOnly\";b:1;}s:9:\"validator\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/FilterQueryValidator\";}s:12:\"filterClause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FilterClause\";s:8:\"readOnly\";b:1;}s:8:\"rawValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:19:\"ODataQueryValidator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:20:\"DefaultQuerySettings\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"enableExpand\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"enableSelect\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"enableCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"enableOrderBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"enableFilter\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"maxTop\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:9:\"IEdmModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"schemaElements\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/IEdmSchemaElement\";}s:8:\"readOnly\";b:1;}s:21:\"vocabularyAnnotations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/IEdmVocabularyAnnotation\";}s:8:\"readOnly\";b:1;}s:16:\"referencedModels\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/IEdmModel\";}s:8:\"readOnly\";b:1;}s:18:\"declaredNamespaces\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;}s:29:\"directValueAnnotationsManager\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/IEdmDirectValueAnnotationsManager\";s:8:\"readOnly\";b:1;}s:15:\"entityContainer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/IEdmEntityContainer\";s:8:\"readOnly\";b:1;}}}s:8:\"IEdmType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"typeKind\";O:8:\"stdClass\":3:{s:4:\"enum\";a:10:{i:0;s:4:\"None\";i:1;s:9:\"Primitive\";i:2;s:6:\"Entity\";i:3;s:7:\"Complex\";i:4;s:10:\"Collection\";i:5;s:15:\"EntityReference\";i:6;s:4:\"Enum\";i:7;s:14:\"TypeDefinition\";i:8;s:7:\"Untyped\";i:9;s:4:\"Path\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:20:\"IEdmNavigationSource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:26:\"navigationPropertyBindings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/IEdmNavigationPropertyBinding\";}s:8:\"readOnly\";b:1;}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/IEdmPathExpression\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/IEdmType\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:9:\"ODataPath\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"edmType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/IEdmType\";s:8:\"readOnly\";b:1;}s:16:\"navigationSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/IEdmNavigationSource\";s:8:\"readOnly\";b:1;}s:8:\"segments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ODataPathSegment\";}s:8:\"readOnly\";b:1;}s:12:\"pathTemplate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"path\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ODataPathSegment\";}s:8:\"readOnly\";b:1;}}}s:16:\"IServiceProvider\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:26:\"SelectExpandQueryValidator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:18:\"SelectExpandClause\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"selectedItems\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SelectItem\";}s:8:\"readOnly\";b:1;}s:11:\"allSelected\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}}}s:11:\"ApplyClause\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"transformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TransformationNode\";}s:8:\"readOnly\";b:1;}}}s:20:\"FilterQueryValidator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:12:\"FilterClause\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"expression\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SingleValueNode\";s:8:\"readOnly\";b:1;}s:13:\"rangeVariable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RangeVariable\";s:8:\"readOnly\";b:1;}s:8:\"itemType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/IEdmTypeReference\";s:8:\"readOnly\";b:1;}}}s:17:\"IEdmSchemaElement\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"schemaElementKind\";O:8:\"stdClass\":3:{s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:14:\"TypeDefinition\";i:2;s:4:\"Term\";i:3;s:6:\"Action\";i:4;s:15:\"EntityContainer\";i:5;s:8:\"Function\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"namespace\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:24:\"IEdmVocabularyAnnotation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"qualifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"term\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/IEdmTerm\";s:8:\"readOnly\";b:1;}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/IEdmVocabularyAnnotatable\";s:8:\"readOnly\";b:1;}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/IEdmExpression\";s:8:\"readOnly\";b:1;}}}s:33:\"IEdmDirectValueAnnotationsManager\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:19:\"IEdmEntityContainer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"elements\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/IEdmEntityContainerElement\";}s:8:\"readOnly\";b:1;}s:17:\"schemaElementKind\";O:8:\"stdClass\":3:{s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:14:\"TypeDefinition\";i:2;s:4:\"Term\";i:3;s:6:\"Action\";i:4;s:15:\"EntityContainer\";i:5;s:8:\"Function\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"namespace\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:29:\"IEdmNavigationPropertyBinding\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"navigationProperty\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/IEdmNavigationProperty\";s:8:\"readOnly\";b:1;}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/IEdmNavigationSource\";s:8:\"readOnly\";b:1;}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/IEdmPathExpression\";s:8:\"readOnly\";b:1;}}}s:18:\"IEdmPathExpression\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"pathSegments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:14:\"expressionKind\";O:8:\"stdClass\":3:{s:4:\"enum\";a:26:{i:0;s:4:\"None\";i:1;s:14:\"BinaryConstant\";i:2;s:15:\"BooleanConstant\";i:3;s:22:\"DateTimeOffsetConstant\";i:4;s:15:\"DecimalConstant\";i:5;s:16:\"FloatingConstant\";i:6;s:12:\"GuidConstant\";i:7;s:15:\"IntegerConstant\";i:8;s:14:\"StringConstant\";i:9;s:16:\"DurationConstant\";i:10;s:4:\"Null\";i:11;s:6:\"Record\";i:12;s:10:\"Collection\";i:13;s:4:\"Path\";i:14;s:2:\"If\";i:15;s:4:\"Cast\";i:16;s:6:\"IsType\";i:17;s:19:\"FunctionApplication\";i:18;s:26:\"LabeledExpressionReference\";i:19;s:7:\"Labeled\";i:20;s:12:\"PropertyPath\";i:21;s:22:\"NavigationPropertyPath\";i:22;s:12:\"DateConstant\";i:23;s:17:\"TimeOfDayConstant\";i:24;s:10:\"EnumMember\";i:25;s:14:\"AnnotationPath\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:16:\"ODataPathSegment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"edmType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/IEdmType\";s:8:\"readOnly\";b:1;}s:10:\"identifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"SelectItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:18:\"TransformationNode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"kind\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:9:\"Aggregate\";i:1;s:7:\"GroupBy\";i:2;s:6:\"Filter\";i:3;s:7:\"Compute\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:15:\"SingleValueNode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"typeReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/IEdmTypeReference\";s:8:\"readOnly\";b:1;}s:4:\"kind\";O:8:\"stdClass\":3:{s:4:\"enum\";a:34:{i:0;s:4:\"None\";i:1;s:8:\"Constant\";i:2;s:7:\"Convert\";i:3;s:33:\"NonResourceRangeVariableReference\";i:4;s:14:\"BinaryOperator\";i:5;s:13:\"UnaryOperator\";i:6;s:25:\"SingleValuePropertyAccess\";i:7;s:24:\"CollectionPropertyAccess\";i:8;s:23:\"SingleValueFunctionCall\";i:9;s:3:\"Any\";i:10;s:24:\"CollectionNavigationNode\";i:11;s:20:\"SingleNavigationNode\";i:12;s:29:\"SingleValueOpenPropertyAccess\";i:13;s:18:\"SingleResourceCast\";i:14;s:3:\"All\";i:15;s:22:\"CollectionResourceCast\";i:16;s:30:\"ResourceRangeVariableReference\";i:17;s:26:\"SingleResourceFunctionCall\";i:18;s:22:\"CollectionFunctionCall\";i:19;s:30:\"CollectionResourceFunctionCall\";i:20;s:22:\"NamedFunctionParameter\";i:21;s:14:\"ParameterAlias\";i:22;s:9:\"EntitySet\";i:23;s:9:\"KeyLookup\";i:24;s:10:\"SearchTerm\";i:25;s:28:\"CollectionOpenPropertyAccess\";i:26;s:21:\"CollectionComplexNode\";i:27;s:17:\"SingleComplexNode\";i:28;s:5:\"Count\";i:29;s:15:\"SingleValueCast\";i:30;s:22:\"CollectionPropertyNode\";i:31;s:32:\"AggregatedCollectionPropertyNode\";i:32;s:2:\"In\";i:33;s:18:\"CollectionConstant\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:13:\"RangeVariable\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:13:\"typeReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/IEdmTypeReference\";s:8:\"readOnly\";b:1;}s:4:\"kind\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}}}s:17:\"IEdmTypeReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"isNullable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:10:\"definition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/IEdmType\";s:8:\"readOnly\";b:1;}}}s:8:\"IEdmTerm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/IEdmTypeReference\";s:8:\"readOnly\";b:1;}s:9:\"appliesTo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"schemaElementKind\";O:8:\"stdClass\":3:{s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:14:\"TypeDefinition\";i:2;s:4:\"Term\";i:3;s:6:\"Action\";i:4;s:15:\"EntityContainer\";i:5;s:8:\"Function\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"namespace\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:25:\"IEdmVocabularyAnnotatable\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:14:\"IEdmExpression\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"expressionKind\";O:8:\"stdClass\":3:{s:4:\"enum\";a:26:{i:0;s:4:\"None\";i:1;s:14:\"BinaryConstant\";i:2;s:15:\"BooleanConstant\";i:3;s:22:\"DateTimeOffsetConstant\";i:4;s:15:\"DecimalConstant\";i:5;s:16:\"FloatingConstant\";i:6;s:12:\"GuidConstant\";i:7;s:15:\"IntegerConstant\";i:8;s:14:\"StringConstant\";i:9;s:16:\"DurationConstant\";i:10;s:4:\"Null\";i:11;s:6:\"Record\";i:12;s:10:\"Collection\";i:13;s:4:\"Path\";i:14;s:2:\"If\";i:15;s:4:\"Cast\";i:16;s:6:\"IsType\";i:17;s:19:\"FunctionApplication\";i:18;s:26:\"LabeledExpressionReference\";i:19;s:7:\"Labeled\";i:20;s:12:\"PropertyPath\";i:21;s:22:\"NavigationPropertyPath\";i:22;s:12:\"DateConstant\";i:23;s:17:\"TimeOfDayConstant\";i:24;s:10:\"EnumMember\";i:25;s:14:\"AnnotationPath\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:26:\"IEdmEntityContainerElement\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"containerElementKind\";O:8:\"stdClass\":3:{s:4:\"enum\";a:5:{i:0;s:4:\"None\";i:1;s:9:\"EntitySet\";i:2;s:12:\"ActionImport\";i:3;s:14:\"FunctionImport\";i:4;s:9:\"Singleton\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"container\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/IEdmEntityContainer\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:22:\"IEdmNavigationProperty\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"partner\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/IEdmNavigationProperty\";s:8:\"readOnly\";b:1;}s:8:\"onDelete\";O:8:\"stdClass\":3:{s:4:\"enum\";a:2:{i:0;s:4:\"None\";i:1;s:7:\"Cascade\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:14:\"containsTarget\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:21:\"referentialConstraint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/IEdmReferentialConstraint\";s:8:\"readOnly\";b:1;}s:12:\"propertyKind\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:10:\"Structural\";i:2;s:10:\"Navigation\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/IEdmTypeReference\";s:8:\"readOnly\";b:1;}s:13:\"declaringType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/IEdmStructuredType\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:25:\"IEdmReferentialConstraint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"propertyPairs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/EdmReferentialConstraintPropertyPair\";}s:8:\"readOnly\";b:1;}}}s:18:\"IEdmStructuredType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"isAbstract\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:6:\"isOpen\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:8:\"baseType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/IEdmStructuredType\";s:8:\"readOnly\";b:1;}s:18:\"declaredProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/IEdmProperty\";}s:8:\"readOnly\";b:1;}s:8:\"typeKind\";O:8:\"stdClass\":3:{s:4:\"enum\";a:10:{i:0;s:4:\"None\";i:1;s:9:\"Primitive\";i:2;s:6:\"Entity\";i:3;s:7:\"Complex\";i:4;s:10:\"Collection\";i:5;s:15:\"EntityReference\";i:6;s:4:\"Enum\";i:7;s:14:\"TypeDefinition\";i:8;s:7:\"Untyped\";i:9;s:4:\"Path\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:36:\"EdmReferentialConstraintPropertyPair\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"dependentProperty\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/IEdmStructuralProperty\";s:8:\"readOnly\";b:1;}s:17:\"principalProperty\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/IEdmStructuralProperty\";s:8:\"readOnly\";b:1;}}}s:12:\"IEdmProperty\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"propertyKind\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:10:\"Structural\";i:2;s:10:\"Navigation\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/IEdmTypeReference\";s:8:\"readOnly\";b:1;}s:13:\"declaringType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/IEdmStructuredType\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:22:\"IEdmStructuralProperty\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"defaultValueString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:12:\"propertyKind\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:10:\"Structural\";i:2;s:10:\"Navigation\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/IEdmTypeReference\";s:8:\"readOnly\";b:1;}s:13:\"declaringType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/IEdmStructuredType\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:17:\"MachineCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Collection
  of machines.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Gets
  or sets the machines.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Machine\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Gets
  or sets the value of nextLink.\";s:4:\"type\";s:6:\"string\";}}}s:7:\"Machine\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Machine
  REST resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Gets
  or sets the relative URL to get to this REST resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  or sets the name of this REST resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Gets
  the type of this REST resource.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MachineProperties\";s:11:\"description\";s:43:\"Gets
  or sets the properties of the machine.\";}}}s:17:\"MachineProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Properties
  of the machine resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"discoveryData\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Gets
  or sets the discovery details of the machine published by various sources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DiscoveryDetails\";}}s:14:\"assessmentData\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Gets
  or sets the assessment details of the machine published by various sources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AssessmentDetails\";}}s:13:\"migrationData\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Gets
  or sets the migration details of the machine published by various sources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/MigrationDetails\";}}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:62:\"Gets
  or sets the time of the last modification of the machine.\";s:4:\"type\";s:6:\"string\";}}}s:16:\"DiscoveryDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Discovery
  properties that can be published by various ISVs.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:6:\"osType\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or sets the OS type.\";s:4:\"type\";s:6:\"string\";}s:6:\"osName\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or sets the OS name.\";s:4:\"type\";s:6:\"string\";}s:9:\"osVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Gets
  or sets the OS version.\";s:4:\"type\";s:6:\"string\";}s:11:\"enqueueTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Gets
  or sets the time the message was enqueued.\";s:4:\"type\";s:6:\"string\";}s:12:\"solutionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Gets
  or sets the name of the solution that sent the data.\";s:4:\"type\";s:6:\"string\";}s:9:\"machineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Gets
  or sets the unique identifier of the machine.\";s:4:\"type\";s:6:\"string\";}s:16:\"machineManagerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Gets
  or sets the unique identifier of the virtual machine manager(vCenter/VMM).\";s:4:\"type\";s:6:\"string\";}s:10:\"fabricType\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets the fabric type.\";s:4:\"type\";s:6:\"string\";}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:70:\"Gets
  or sets the time of the last modification of the machine details.\";s:4:\"type\";s:6:\"string\";}s:11:\"machineName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Gets
  or sets the name of the machine.\";s:4:\"type\";s:6:\"string\";}s:11:\"ipAddresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Gets
  or sets the list of IP addresses of the machine. IP addresses could be IP V4 or
  IP V6.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"fqdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Gets
  or sets the FQDN of the machine.\";s:4:\"type\";s:6:\"string\";}s:6:\"biosId\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Gets
  or sets the BIOS ID of the machine.\";s:4:\"type\";s:6:\"string\";}s:12:\"macAddresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Gets
  or sets the list of MAC addresses of the machine.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"extendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Gets
  or sets the ISV specific extended information.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:17:\"AssessmentDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Assessment
  properties that can be shared by various publishers.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:12:\"assessmentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Gets
  or sets the id of the assessment done on the machine.\";s:4:\"type\";s:6:\"string\";}s:12:\"targetVMSize\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Gets
  or sets the target VM size.\";s:4:\"type\";s:6:\"string\";}s:16:\"targetVMLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Gets
  or sets the target VM location.\";s:4:\"type\";s:6:\"string\";}s:17:\"targetStorageType\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Gets
  or sets the target storage type.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"enqueueTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Gets
  or sets the time the message was enqueued.\";s:4:\"type\";s:6:\"string\";}s:12:\"solutionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Gets
  or sets the name of the solution that sent the data.\";s:4:\"type\";s:6:\"string\";}s:9:\"machineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Gets
  or sets the unique identifier of the machine.\";s:4:\"type\";s:6:\"string\";}s:16:\"machineManagerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Gets
  or sets the unique identifier of the virtual machine manager(vCenter/VMM).\";s:4:\"type\";s:6:\"string\";}s:10:\"fabricType\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets the fabric type.\";s:4:\"type\";s:6:\"string\";}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:70:\"Gets
  or sets the time of the last modification of the machine details.\";s:4:\"type\";s:6:\"string\";}s:11:\"machineName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Gets
  or sets the name of the machine.\";s:4:\"type\";s:6:\"string\";}s:11:\"ipAddresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Gets
  or sets the list of IP addresses of the machine. IP addresses could be IP V4 or
  IP V6.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"fqdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Gets
  or sets the FQDN of the machine.\";s:4:\"type\";s:6:\"string\";}s:6:\"biosId\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Gets
  or sets the BIOS ID of the machine.\";s:4:\"type\";s:6:\"string\";}s:12:\"macAddresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Gets
  or sets the list of MAC addresses of the machine.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"extendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Gets
  or sets the ISV specific extended information.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:16:\"MigrationDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Migration
  properties that can be shared by various publishers.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:14:\"migrationPhase\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Gets
  or sets the phase of migration of the machine.\";s:4:\"type\";s:6:\"string\";}s:15:\"migrationTested\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Gets
  or sets a value indicating whether migration was tested on the machine.\";s:4:\"type\";s:7:\"boolean\";}s:29:\"replicationProgressPercentage\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:65:\"Gets
  or sets the progress percentage of migration on the machine.\";s:4:\"type\";s:7:\"integer\";}s:13:\"targetVMArmId\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Gets
  or sets the ARM id the migrated VM.\";s:4:\"type\";s:6:\"string\";}s:11:\"enqueueTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Gets
  or sets the time the message was enqueued.\";s:4:\"type\";s:6:\"string\";}s:12:\"solutionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Gets
  or sets the name of the solution that sent the data.\";s:4:\"type\";s:6:\"string\";}s:9:\"machineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Gets
  or sets the unique identifier of the machine.\";s:4:\"type\";s:6:\"string\";}s:16:\"machineManagerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Gets
  or sets the unique identifier of the virtual machine manager(vCenter/VMM).\";s:4:\"type\";s:6:\"string\";}s:10:\"fabricType\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets the fabric type.\";s:4:\"type\";s:6:\"string\";}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:70:\"Gets
  or sets the time of the last modification of the machine details.\";s:4:\"type\";s:6:\"string\";}s:11:\"machineName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Gets
  or sets the name of the machine.\";s:4:\"type\";s:6:\"string\";}s:11:\"ipAddresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Gets
  or sets the list of IP addresses of the machine. IP addresses could be IP V4 or
  IP V6.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"fqdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Gets
  or sets the FQDN of the machine.\";s:4:\"type\";s:6:\"string\";}s:6:\"biosId\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Gets
  or sets the BIOS ID of the machine.\";s:4:\"type\";s:6:\"string\";}s:12:\"macAddresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Gets
  or sets the list of MAC addresses of the machine.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"extendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Gets
  or sets the ISV specific extended information.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:14:\"MigrateProject\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Migrate
  Project REST Resource.\";s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"eTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Gets
  or sets the eTag for concurrency control.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Gets
  or sets the Azure location in which migrate project is created.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/MigrateProjectProperties\";s:11:\"description\";s:35:\"Gets
  or sets the nested properties.\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Gets
  the relative URL to get this migrate project.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Gets
  the name of the migrate project.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Handled
  by resource provider. Type = Microsoft.Migrate/MigrateProject.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Gets
  or sets the tags.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:24:\"MigrateProjectProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Class
  for migrate project properties.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"registeredTools\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Gets
  or sets the list of tools registered with the migrate project.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:12:{i:0;s:15:\"ServerDiscovery\";i:1;s:16:\"ServerAssessment\";i:2;s:15:\"ServerMigration\";i:3;s:10:\"Cloudamize\";i:4;s:10:\"Turbonomic\";i:5;s:5:\"Zerto\";i:6;s:10:\"CorentTech\";i:7;s:18:\"ServerAssessmentV1\";i:8;s:27:\"ServerMigration_Replication\";i:9;s:9:\"Carbonite\";i:10;s:22:\"DataMigrationAssistant\";i:11;s:24:\"DatabaseMigrationService\";}s:4:\"type\";s:6:\"string\";}}s:7:\"summary\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Gets
  the summary of the migrate project.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ProjectSummary\";}s:8:\"readOnly\";b:1;}s:24:\"lastSummaryRefreshedTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:53:\"Gets
  the last time the project summary was refreshed.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:19:\"refreshSummaryState\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Gets
  the refresh summary state.\";s:4:\"enum\";a:4:{i:0;s:7:\"Started\";i:1;s:10:\"InProgress\";i:2;s:9:\"Completed\";i:3;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"provisioningState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:8:\"Accepted\";i:1;s:8:\"Creating\";i:2;s:8:\"Deleting\";i:3;s:6:\"Failed\";i:4;s:6:\"Moving\";i:5;s:9:\"Succeeded\";}s:11:\"description\";s:42:\"Provisioning
  state of the migrate project.\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"ProvisioningState\";s:13:\"modelAsString\";b:1;}}}}s:14:\"ProjectSummary\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"The
  project summary class.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"instanceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Gets
  the Instance type.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:19:\"refreshSummaryState\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Gets
  or sets the state of refresh summary.\";s:4:\"enum\";a:4:{i:0;s:7:\"Started\";i:1;s:10:\"InProgress\";i:2;s:9:\"Completed\";i:3;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}s:24:\"lastSummaryRefreshedTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:54:\"Gets
  or sets the time when summary was last refreshed.\";s:4:\"type\";s:6:\"string\";}s:15:\"extendedSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Gets
  or sets the extended summary.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"discriminator\";s:12:\"instanceType\";}s:17:\"RegisterToolInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Class
  representing the register tool input.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"tool\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Gets
  or sets the tool to be registered.\";s:4:\"enum\";a:12:{i:0;s:15:\"ServerDiscovery\";i:1;s:16:\"ServerAssessment\";i:2;s:15:\"ServerMigration\";i:3;s:10:\"Cloudamize\";i:4;s:10:\"Turbonomic\";i:5;s:5:\"Zerto\";i:6;s:10:\"CorentTech\";i:7;s:18:\"ServerAssessmentV1\";i:8;s:27:\"ServerMigration_Replication\";i:9;s:9:\"Carbonite\";i:10;s:22:\"DataMigrationAssistant\";i:11;s:24:\"DatabaseMigrationService\";}s:4:\"type\";s:6:\"string\";}}}s:18:\"RegistrationResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Class
  representing the registration status of a tool with the migrate project.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"isRegistered\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Gets
  or sets a value indicating whether the tool is registered or not.\";s:4:\"type\";s:7:\"boolean\";}}}s:20:\"RefreshSummaryResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Class
  representing the refresh summary status of the migrate project.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"isRefreshed\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Gets
  or sets a value indicating whether the migrate project summary is refreshed.\";s:4:\"type\";s:7:\"boolean\";}}}s:19:\"RefreshSummaryInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Class
  representing the refresh summary input.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"goal\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Gets
  or sets the goal for which summary needs to be refreshed.\";s:4:\"enum\";a:2:{i:0;s:7:\"Servers\";i:1;s:9:\"Databases\";}s:4:\"type\";s:6:\"string\";}}}s:8:\"Solution\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Solution
  REST Resource.\";s:19:\"x-ms-azure-resource\";b:1;s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Gets
  the relative URL to get to this REST resource.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Gets
  the name of this REST resource.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Gets
  the type of this REST resource.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Gets
  or sets the ETAG for optimistic concurrency control.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SolutionProperties\";s:11:\"description\";s:44:\"Gets
  or sets the properties of the solution.\";}}}s:18:\"SolutionProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Class
  for solution properties.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"tool\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Gets
  or sets the tool being used in the solution.\";s:4:\"enum\";a:12:{i:0;s:15:\"ServerDiscovery\";i:1;s:16:\"ServerAssessment\";i:2;s:15:\"ServerMigration\";i:3;s:10:\"Cloudamize\";i:4;s:10:\"Turbonomic\";i:5;s:5:\"Zerto\";i:6;s:10:\"CorentTech\";i:7;s:18:\"ServerAssessmentV1\";i:8;s:27:\"ServerMigration_Replication\";i:9;s:9:\"Carbonite\";i:10;s:22:\"DataMigrationAssistant\";i:11;s:24:\"DatabaseMigrationService\";}s:4:\"type\";s:6:\"string\";}s:7:\"purpose\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Gets
  or sets the purpose of the solution.\";s:4:\"enum\";a:3:{i:0;s:9:\"Discovery\";i:1;s:10:\"Assessment\";i:2;s:9:\"Migration\";}s:4:\"type\";s:6:\"string\";}s:4:\"goal\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Gets
  or sets the goal of the solution.\";s:4:\"enum\";a:2:{i:0;s:7:\"Servers\";i:1;s:9:\"Databases\";}s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Gets
  or sets the current status of the solution.\";s:4:\"enum\";a:2:{i:0;s:8:\"Inactive\";i:1;s:6:\"Active\";}s:4:\"type\";s:6:\"string\";}s:12:\"cleanupState\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Gets
  or sets the cleanup state of the solution.\";s:4:\"enum\";a:5:{i:0;s:4:\"None\";i:1;s:7:\"Started\";i:2;s:10:\"InProgress\";i:3;s:9:\"Completed\";i:4;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SolutionSummary\";s:11:\"description\";s:41:\"Gets
  or sets the summary of the solution.\";}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SolutionDetails\";s:11:\"description\";s:41:\"Gets
  or sets the details of the solution.\";}}}s:15:\"SolutionSummary\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"The
  solution summary class.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"instanceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Gets
  the Instance type.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}s:13:\"discriminator\";s:12:\"instanceType\";}s:15:\"SolutionDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Class
  representing the details of the solution.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"groupCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:58:\"Gets
  or sets the count of groups reported by the solution.\";s:4:\"type\";s:7:\"integer\";}s:15:\"assessmentCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:63:\"Gets
  or sets the count of assessments reported by the solution.\";s:4:\"type\";s:7:\"integer\";}s:15:\"extendedDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Gets
  or sets the extended details reported by the solution.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:19:\"SolutionsCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Collection
  of solutions.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Gets
  or sets the list of solutions.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Solution\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Gets
  or sets the value of next link.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"SolutionConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Class
  representing the config for the solution in the migrate project.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"publisherSasUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Gets
  or sets the publisher sas uri for the solution.\";s:4:\"type\";s:6:\"string\";}}}s:21:\"ServersProjectSummary\";O:8:\"stdClass\":5:{s:11:\"description\";s:47:\"Class
  representing the servers project summary.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ProjectSummary\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"discoveredCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:46:\"Gets
  or sets the count of entities discovered.\";s:4:\"type\";s:7:\"integer\";}s:13:\"assessedCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:44:\"Gets
  or sets the count of entities assessed.\";s:4:\"type\";s:7:\"integer\";}s:16:\"replicatingCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:52:\"Gets
  or sets the count of entities being replicated.\";s:4:\"type\";s:7:\"integer\";}s:17:\"testMigratedCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:49:\"Gets
  or sets the count of entities test migrated.\";s:4:\"type\";s:7:\"integer\";}s:13:\"migratedCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:44:\"Gets
  or sets the count of entities migrated.\";s:4:\"type\";s:7:\"integer\";}}s:24:\"x-ms-discriminator-value\";s:7:\"Servers\";}s:22:\"DatabaseProjectSummary\";O:8:\"stdClass\":5:{s:11:\"description\";s:35:\"The
  database project summary class.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ProjectSummary\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}s:24:\"x-ms-discriminator-value\";s:9:\"Databases\";}s:22:\"ServersSolutionSummary\";O:8:\"stdClass\":5:{s:11:\"description\";s:48:\"Class
  representing the servers solution summary.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SolutionSummary\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"discoveredCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:45:\"Gets
  or sets the count of servers discovered.\";s:4:\"type\";s:7:\"integer\";}s:13:\"assessedCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:43:\"Gets
  or sets the count of servers assessed.\";s:4:\"type\";s:7:\"integer\";}s:16:\"replicatingCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:51:\"Gets
  or sets the count of servers being replicated.\";s:4:\"type\";s:7:\"integer\";}s:17:\"testMigratedCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:48:\"Gets
  or sets the count of servers test migrated.\";s:4:\"type\";s:7:\"integer\";}s:13:\"migratedCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:43:\"Gets
  or sets the count of servers migrated.\";s:4:\"type\";s:7:\"integer\";}}s:24:\"x-ms-discriminator-value\";s:7:\"Servers\";}s:24:\"DatabasesSolutionSummary\";O:8:\"stdClass\":5:{s:11:\"description\";s:50:\"Class
  representing the databases solution summary.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SolutionSummary\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"databasesAssessedCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:45:\"Gets
  or sets the count of databases assessed.\";s:4:\"type\";s:7:\"integer\";}s:30:\"databaseInstancesAssessedCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"Gets
  or sets the count of database instances assessed.\";s:4:\"type\";s:7:\"integer\";}s:19:\"migrationReadyCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:56:\"Gets
  or sets the count of databases ready for migration.\";s:4:\"type\";s:7:\"integer\";}}s:24:\"x-ms-discriminator-value\";s:9:\"Databases\";}s:29:\"MachineMigrateEventProperties\";O:8:\"stdClass\":5:{s:11:\"description\";s:41:\"Properties
  of the machine error resource.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/MigrateEventProperties\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"machine\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Gets
  or sets the machine for which the error is being reported.\";s:4:\"type\";s:6:\"string\";}}s:24:\"x-ms-discriminator-value\";s:7:\"Servers\";}s:30:\"DatabaseMigrateEventProperties\";O:8:\"stdClass\":5:{s:11:\"description\";s:42:\"Properties
  of the database error resource.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/MigrateEventProperties\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"database\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Gets
  or sets the database for which the error is being reported.\";s:4:\"type\";s:6:\"string\";}s:18:\"databaseInstanceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Gets
  or sets the database instance for which the error is being reported.\";s:4:\"type\";s:6:\"string\";}}s:24:\"x-ms-discriminator-value\";s:9:\"Databases\";}s:19:\"OperationResultList\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:23:\"List
  of API operations.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:19:\"List
  of operations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:47:\"A
  REST API operation supported by the provider.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Name
  of the operation.\";s:8:\"readOnly\";b:1;}s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Displayable
  properties of the operation.\";s:4:\"$ref\";s:30:\"#/definitions/OperationDisplay\";}s:6:\"origin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Origin
  of the operation.\";s:8:\"readOnly\";b:1;}}}s:16:\"OperationDisplay\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:40:\"Displayable
  properties of the operation.\";s:8:\"readOnly\";b:1;s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"provider\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Provider
  of the operation.\";s:8:\"readOnly\";b:1;}s:8:\"resource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Resource
  operated on by the operation.\";s:8:\"readOnly\";b:1;}s:9:\"operation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Operation
  Type.\";s:8:\"readOnly\";b:1;}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Description
  of the operation.\";s:8:\"readOnly\";b:1;}}}}"
...
