---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2018-04-01\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/bgpServiceCommunities:
    get:
      tags:
      - BgpServiceCommunities
      operationId: BgpServiceCommunities_List
      x-ms-examples:
        ServiceCommunityList:
          $ref: ./examples/ServiceCommunityList.json
      description: Gets all the available bgp service communities.
      parameters:
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Request successful. The operation returns a list of BgpServiceCommunity
            resources.
          schema:
            $ref: '#/definitions/BgpServiceCommunityListResult'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:12:\"BGPCommunity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:22:\"serviceSupportedRegion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"The
  region which the service support. e.g. For O365, region is Global.\";}s:13:\"communityName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  name of the bgp community. e.g. Skype.\";}s:14:\"communityValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:127:\"The
  value of the bgp community. For more information: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing.\";}s:17:\"communityPrefixes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:45:\"The
  prefixes that the bgp community contains.\";}s:17:\"isAuthorizedToUse\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:51:\"Customer
  is authorized to use bgp community or not.\";}s:12:\"serviceGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  service group of the bgp community contains.\";}}s:11:\"description\";s:74:\"Contains
  bgp community information offered in Service Community resources.\";}s:35:\"BgpServiceCommunityPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"serviceName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  name of the bgp community. e.g. Skype.\";}s:14:\"bgpCommunities\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BGPCommunity\";}s:11:\"description\";s:30:\"Get
  a list of bgp communities.\";}}s:11:\"description\";s:32:\"Properties of Service
  Community.\";}s:19:\"BgpServiceCommunity\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:49:\"#/definitions/BgpServiceCommunityPropertiesFormat\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"./network.json#/definitions/Resource\";}}s:11:\"description\";s:29:\"Service
  Community Properties.\";}s:29:\"BgpServiceCommunityListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BgpServiceCommunity\";}s:11:\"description\";s:38:\"A
  list of service community resources.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:55:\"Response for
  the ListServiceCommunity API service call.\";}}"
...
