---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:5:\"title\";s:18:\"GuestConfiguration\";s:7:\"version\";s:18:\"2018-06-30-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:197:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/preview/2018-06-30-preview/guestconfiguration.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:18:\"guestconfiguration\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":15:{s:14:\"AssignmentInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Information
  about the guest configuration assignment.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ConfigurationInfo\";s:11:\"description\";s:36:\"Information
  about the configuration.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Name
  of the guest configuration assignment.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:23:\"AssignmentReportDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Details
  of the guest configuration assignment report.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"complianceStatus\";O:8:\"stdClass\":5:{s:11:\"description\";s:97:\"A
  value indicating compliance status of the virtual machine for the assigned guest
  configuration.\";s:4:\"enum\";a:3:{i:0;s:9:\"Compliant\";i:1;s:12:\"NonCompliant\";i:2;s:7:\"Pending\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"complianceStatus\";}}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"End
  date and time of the guest configuration assignment compliance status check.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"jobId\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"GUID
  of the report.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"operationType\";O:8:\"stdClass\":5:{s:11:\"description\";s:38:\"Type
  of report, Consistency or Initial\";s:4:\"enum\";a:2:{i:0;s:11:\"Consistency\";i:1;s:7:\"Initial\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:4:\"type\";}}s:9:\"resources\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  list of resources for which guest configuration assignment compliance is checked.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AssignmentReportResource\";}s:4:\"type\";s:5:\"array\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Start
  date and time of the guest configuration assignment compliance status check.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:24:\"AssignmentReportResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  guest configuration assignment resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"complianceStatus\";O:8:\"stdClass\":5:{s:11:\"description\";s:97:\"A
  value indicating compliance status of the virtual machine for the assigned guest
  configuration.\";s:4:\"enum\";a:3:{i:0;s:9:\"Compliant\";i:1;s:12:\"NonCompliant\";i:2;s:7:\"Pending\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"complianceStatus\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Properties
  of a guest configuation assignment resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:7:\"reasons\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Compliance
  reason and reason code for a resource.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/AssignmentReportResourceComplianceReason\";}s:4:\"type\";s:5:\"array\";}}}s:40:\"AssignmentReportResourceComplianceReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Reason
  and code for the compliance of the guest configuration assignment resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Code
  for the compliance of the guest configuration assignment resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"phrase\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Reason
  for the compliance of the guest configuration assignment resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:17:\"ConfigurationInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Information
  about the configuration.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Name
  of the configuration.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:22:\"ConfigurationParameter\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Represents
  a configuration parameter.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Name
  of the configuration parameter.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Value
  of the configuration parameter.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:20:\"ConfigurationSetting\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Configuration
  setting of LCM (Local Configuration Manager).\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"actionAfterReboot\";O:8:\"stdClass\":5:{s:11:\"description\";s:148:\"Specifies
  what happens after a reboot during the application of a configuration. The possible
  values are ContinueConfiguration and StopConfiguration\";s:4:\"enum\";a:2:{i:0;s:21:\"ContinueConfiguration\";i:1;s:17:\"StopConfiguration\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"actionAfterReboot\";}}s:20:\"allowModuleOverwrite\";O:8:\"stdClass\":4:{s:11:\"description\";s:136:\"If
  true - new configurations downloaded from the pull service are allowed to overwrite
  the old ones on the target node. Otherwise, false\";s:4:\"enum\";a:2:{i:0;s:4:\"True\";i:1;s:5:\"False\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"allowModuleOverwrite\";}}s:17:\"configurationMode\";O:8:\"stdClass\":5:{s:11:\"description\";s:179:\"Specifies
  how the LCM(Local Configuration Manager) actually applies the configuration to the
  target nodes. Possible values are ApplyOnly, ApplyAndMonitor, and ApplyAndAutoCorrect.\";s:4:\"enum\";a:3:{i:0;s:9:\"ApplyOnly\";i:1;s:15:\"ApplyAndMonitor\";i:2;s:19:\"ApplyAndAutoCorrect\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"configurationMode\";}}s:30:\"configurationModeFrequencyMins\";O:8:\"stdClass\":4:{s:7:\"default\";i:15;s:11:\"description\";s:177:\"How
  often, in minutes, the current configuration is checked and applied. This property
  is ignored if the ConfigurationMode property is set to ApplyOnly. The default value
  is 15.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:14:\"rebootIfNeeded\";O:8:\"stdClass\":6:{s:7:\"default\";s:5:\"False\";s:11:\"description\";s:390:\"Set
  this to true to automatically reboot the node after a configuration that requires
  reboot is applied. Otherwise, you will have to manually reboot the node for any
  configuration that requires it. The default value is false. To use this setting
  when a reboot condition is enacted by something other than DSC (such as Windows
  Installer), combine this setting with the xPendingReboot module.\";s:4:\"enum\";a:2:{i:0;s:4:\"True\";i:1;s:5:\"False\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:14:\"rebootIfNeeded\";}}s:20:\"refreshFrequencyMins\";O:8:\"stdClass\":4:{s:7:\"default\";i:30;s:11:\"description\";s:190:\"The
  time interval, in minutes, at which the LCM checks a pull service to get updated
  configurations. This value is ignored if the LCM is not configured in pull mode.
  The default value is 30.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}}s:28:\"GuestConfigurationAssignment\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  core properties of ARM resources\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"ARM
  resource id of the guest configuration assignment.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Region
  where the VM is located.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Name
  of the guest configuration assignment.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:19:\"ARM
  proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:86:\"Guest
  configuration assignment is an association between a VM and guest configuration.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:52:\"#/definitions/GuestConfigurationAssignmentProperties\";s:11:\"description\";s:49:\"Properties
  of the Guest configuration assignment.\";s:19:\"x-ms-client-flatten\";b:0;}}}s:32:\"GuestConfigurationAssignmentList\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  response of the list guest configuration assignment operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Result
  of the list guest configuration assignment operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/GuestConfigurationAssignment\";}s:4:\"type\";s:5:\"array\";}}}s:38:\"GuestConfigurationAssignmentProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Guest
  configuration assignment properties.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"assignmentHash\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"Combined
  hash of the configuration package and parameters.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:16:\"complianceStatus\";O:8:\"stdClass\":5:{s:11:\"description\";s:97:\"A
  value indicating compliance status of the virtual machine for the assigned guest
  configuration.\";s:4:\"enum\";a:3:{i:0;s:9:\"Compliant\";i:1;s:12:\"NonCompliant\";i:2;s:7:\"Pending\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"complianceStatus\";}}s:7:\"context\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  source which initiated the guest configuration assignment. Ex: Azure Policy\";s:4:\"type\";s:6:\"string\";}s:18:\"guestConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/GuestConfigurationNavigation\";s:11:\"description\";s:34:\"The
  guest configuration to assign.\";}s:27:\"lastComplianceStatusChecked\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Date
  and time when last compliance status was checked.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:14:\"latestReportId\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Id
  of the latest report for the guest configuration assignment. \";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:17:\"provisioningState\";O:8:\"stdClass\":6:{s:11:\"description\";s:59:\"The
  provisioning state, which only appears in the response.\";s:4:\"enum\";a:1:{i:0;s:9:\"Succeeded\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"provisioningState\";}s:10:\"x-nullable\";b:1;}}}s:34:\"GuestConfigurationAssignmentReport\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"Report
  for the guest configuration assignment. Report contains information such as compliance
  status, reason, and more.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"ARM
  resource id of the report for the guest configuration assignment.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"GUID
  that identifies the guest configuration assignment report under a subscription,
  resource group.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:58:\"#/definitions/GuestConfigurationAssignmentReportProperties\";s:11:\"description\";s:45:\"Properties
  of the guest configuration report.\";}}}s:38:\"GuestConfigurationAssignmentReportList\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"List
  of guest configuration assignment reports.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"List
  of reports for the guest configuration. Report contains information such as compliance
  status, reason and more.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/GuestConfigurationAssignmentReport\";}s:4:\"type\";s:5:\"array\";}}}s:44:\"GuestConfigurationAssignmentReportProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"Report
  for the guest configuration assignment. Report contains information such as compliance
  status, reason, and more.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"assignment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AssignmentInfo\";s:11:\"description\";s:60:\"Configuration
  details of the guest configuration assignment.\";}s:16:\"complianceStatus\";O:8:\"stdClass\":5:{s:11:\"description\";s:97:\"A
  value indicating compliance status of the virtual machine for the assigned guest
  configuration.\";s:4:\"enum\";a:3:{i:0;s:9:\"Compliant\";i:1;s:12:\"NonCompliant\";i:2;s:7:\"Pending\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"complianceStatus\";}}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/AssignmentReportDetails\";s:11:\"description\";s:33:\"Details
  of the assignment report.\";}s:8:\"reportId\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"GUID
  that identifies the guest configuration assignment report under a subscription,
  resource group.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"vm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/VMInfo\";s:11:\"description\";s:25:\"Information
  about the VM.\";}}}s:28:\"GuestConfigurationNavigation\";O:8:\"stdClass\":2:{s:11:\"description\";s:218:\"Guest
  configuration is an artifact that encapsulates DSC configuration and its dependencies.
  The artifact is a zip file containing DSC configuration (as MOF) and dependent resources
  and other dependencies like modules.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:22:\"configurationParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  configuration parameters for the guest configuration.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ConfigurationParameter\";}s:4:\"type\";s:5:\"array\";}s:20:\"configurationSetting\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConfigurationSetting\";s:11:\"description\";s:54:\"The
  configuration setting for the guest configuration.\";}s:11:\"contentHash\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Combined
  hash of the guest configuration package and configuration parameters.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"contentUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Uri
  of the storage where guest configuration package is uploaded.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Kind
  of the guest configuration. For example:DSC\";s:4:\"enum\";a:1:{i:0;s:3:\"DSC\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:4:\"kind\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Name
  of the guest configuration.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Version
  of the guest configuration.\";s:4:\"type\";s:6:\"string\";}}}s:6:\"VMInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Information
  about the VM.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Azure
  resource Id of the VM.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"uuid\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"UUID(Universally
  Unique Identifier) of the VM.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}}"
...
