---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:5:\"title\";s:15:\"BatchManagement\";s:7:\"version\";s:10:\"2017-09-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:21:\"BatchManagementClient\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:159:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/batch/resource-manager/Microsoft.Batch/stable/2017-09-01/BatchManagement.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:21:\"batch-BatchManagement\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:27:\"azure_batch_batchmanagement\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":71:{s:36:\"ActivateApplicationPackageParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Parameters
  for an activating an application package.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"format\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  format of the application package binary file.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"format\";}}s:11:\"Application\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Contains
  information about an application in a Batch account.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"allowUpdates\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"A
  value indicating whether packages within the application may be overwritten using
  the same version string.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"defaultVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  package to use if a client requests the application but does not specify a version.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  display name for the application.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  string that uniquely identifies the application within the account.\";s:4:\"type\";s:6:\"string\";}s:8:\"packages\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  list of packages under this application.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ApplicationPackage\";}s:4:\"type\";s:5:\"array\";}}}s:27:\"ApplicationCreateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Parameters
  for adding an Application.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"allowUpdates\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"A
  value indicating whether packages within the application may be overwritten using
  the same version string.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  display name for the application.\";s:4:\"type\";s:6:\"string\";}}}s:18:\"ApplicationPackage\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"An
  application package which represents a particular version of an application.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"format\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  format of the application package, if the package is active.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  ID of the application.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"lastActivationTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"The
  time at which the package was last activated, if the package is active.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":5:{s:11:\"description\";s:45:\"The
  current state of the application package.\";s:4:\"enum\";a:3:{i:0;s:7:\"Pending\";i:1;s:6:\"Active\";i:2;s:8:\"Unmapped\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:12:\"PackageState\";}}s:10:\"storageUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  URL for the application package in Azure Storage.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"storageUrlExpiry\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  UTC time at which the Azure Storage URL will expire.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  version of the application package.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:27:\"ApplicationPackageReference\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:5:\"title\";s:192:\"The
  ID of the application package to install. This must be inside the same batch account
  as the pool. This can either be a reference to a specific version or the default
  version if one exists.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:223:\"If
  this is omitted, and no default version is specified for this application, the request
  fails with the error code InvalidApplicationPackageReferences. If you are calling
  the REST API directly, the HTTP status code is 409.\";s:5:\"title\";s:86:\"The version
  of the application to deploy. If omitted, the default version is deployed.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:5:\"title\";s:55:\"Link
  to an application package inside the batch account\";}s:27:\"ApplicationUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Parameters
  for an update application request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"allowUpdates\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"A
  value indicating whether packages within the application may be overwritten using
  the same version string.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"defaultVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  package to use if a client requests the application but does not specify a version.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  display name for the application.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"AutoScaleRun\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AutoScaleRunError\";s:5:\"title\";s:114:\"Details
  of the error encountered evaluating the autoscale formula on the pool, if the evaluation
  was unsuccessful.\";}s:14:\"evaluationTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:5:\"title\";s:59:\"The
  time at which the autoscale formula was last evaluated.\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Each
  variable value is returned in the form $variable=value, and variables are separated
  by semicolons.\";s:5:\"title\";s:82:\"The final values of all variables used in
  the evaluation of the autoscale formula.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:14:\"evaluationTime\";}s:5:\"title\";s:69:\"The
  results and errors from an execution of a pool autoscale formula.\";}s:17:\"AutoScaleRunError\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"An
  identifier for the error. Codes are invariant and are intended to be consumed programmatically.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AutoScaleRunError\";}s:5:\"title\";s:35:\"Additional
  details about the error.\";s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"A
  message describing the error, intended to be suitable for display in a user interface.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:5:\"title\";s:47:\"An
  error that occurred when autoscaling a pool.\";}s:17:\"AutoScaleSettings\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"evaluationInterval\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"If
  omitted, the default value is 15 minutes (PT15M).\";s:6:\"format\";s:8:\"duration\";s:5:\"title\";s:100:\"The
  time interval at which to automatically adjust the pool size according to the autoscale
  formula.\";s:4:\"type\";s:6:\"string\";}s:7:\"formula\";O:8:\"stdClass\":3:{s:12:\"externalDocs\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Create
  an automatic scaling formula for scaling compute nodes in a Batch pool\";s:3:\"url\";s:68:\"https://docs.microsoft.com/en-us/azure/batch/batch-automatic-scaling\";}s:5:\"title\";s:62:\"A
  formula for the desired number of compute nodes in the pool.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"formula\";}s:5:\"title\";s:32:\"AutoScale
  settings for the pool.\";}s:25:\"AutoStorageBaseProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  properties related to the auto-storage account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"storageAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"The
  resource ID of the storage account to be used for auto-storage account.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:16:\"storageAccountId\";}}s:21:\"AutoStorageProperties\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AutoStorageBaseProperties\";}}s:11:\"description\";s:84:\"Contains
  information about the auto-storage account associated with a Batch account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"lastKeySync\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  UTC time at which storage keys were last synchronized with the Batch account.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"lastKeySync\";}}s:21:\"AutoUserSpecification\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"elevationLevel\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/ElevationLevel\";s:11:\"description\";s:202:\"nonAdmin
  - The auto user is a standard user without elevated access. admin - The auto user
  is a user with elevated access and operates with full Administrator permissions.
  The default value is nonAdmin.\";s:5:\"title\";s:37:\"The elevation level of the
  auto user.\";}s:5:\"scope\";O:8:\"stdClass\":5:{s:11:\"description\";s:209:\"pool
  - specifies that the task runs as the common auto user account which is created
  on every node in a pool. task - specifies that the service should create a new user
  for the task. The default value is task.\";s:4:\"enum\";a:2:{i:0;s:4:\"Task\";i:1;s:4:\"Pool\";}s:5:\"title\";s:27:\"The
  scope for the auto user\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"AutoUserScope\";}}}s:5:\"title\";s:81:\"Specifies
  the parameters for the auto user that runs a task on the Batch service.\";}s:12:\"BatchAccount\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:50:\"Contains
  information about an Azure Batch account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/BatchAccountProperties\";s:11:\"description\";s:43:\"The
  properties associated with the account.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:28:\"BatchAccountCreateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Parameters
  supplied to the Create operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  region in which to create the account.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:42:\"#/definitions/BatchAccountCreateProperties\";s:11:\"description\";s:36:\"The
  properties of the Batch account.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:52:\"The
  user-specified tags associated with the account.\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}}s:28:\"BatchAccountCreateProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  properties of a Batch account.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"autoStorage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/AutoStorageBaseProperties\";s:11:\"description\";s:51:\"The
  properties related to the auto-storage account.\";}s:17:\"keyVaultReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/KeyVaultReference\";s:11:\"description\";s:69:\"A
  reference to the Azure key vault associated with the Batch account.\";}s:18:\"poolAllocationMode\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/PoolAllocationMode\";s:11:\"description\";s:294:\"The
  pool allocation mode also affects how clients may authenticate to the Batch Service
  API. If the mode is BatchService, clients may authenticate using access keys or
  Azure Active Directory. If the mode is UserSubscription, clients must use Azure
  Active Directory. The default is BatchService.\";s:5:\"title\";s:67:\"The allocation
  mode to use for creating pools in the Batch account.\";}}}s:16:\"BatchAccountKeys\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"A
  set of Azure Batch account keys.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"accountName\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  Batch account name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"primary\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  primary key associated with the account.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"secondary\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  secondary key associated with the account.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:22:\"BatchAccountListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Values
  returned by the List operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  continuation token.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  collection of Batch accounts returned by the listing operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BatchAccount\";}s:4:\"type\";s:5:\"array\";}}}s:22:\"BatchAccountProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Account
  specific properties.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:15:\"accountEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  account endpoint used to interact with the Batch service.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:28:\"activeJobAndJobScheduleQuota\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:5:\"title\";s:61:\"The
  active job and job schedule quota for this Batch account.\";s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:0;}s:11:\"autoStorage\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/AutoStorageProperties\";s:8:\"readOnly\";b:1;s:5:\"title\";s:88:\"The
  properties and status of any auto-storage account associated with the Batch account.\";}s:18:\"dedicatedCoreQuota\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:5:\"title\";s:48:\"The
  dedicated core quota for this Batch account.\";s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:0;}s:17:\"keyVaultReference\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/KeyVaultReference\";s:8:\"readOnly\";b:1;s:5:\"title\";s:69:\"A
  reference to the Azure key vault associated with the Batch account.\";}s:20:\"lowPriorityCoreQuota\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:5:\"title\";s:51:\"The
  low-priority core quota for this Batch account.\";s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:0;}s:18:\"poolAllocationMode\";O:8:\"stdClass\":4:{s:4:\"$ref\";s:32:\"#/definitions/PoolAllocationMode\";s:8:\"readOnly\";b:1;s:5:\"title\";s:67:\"The
  allocation mode to use for creating pools in the Batch account.\";s:10:\"x-nullable\";b:0;}s:9:\"poolQuota\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:5:\"title\";s:38:\"The
  pool quota for this Batch account.\";s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:0;}s:17:\"provisioningState\";O:8:\"stdClass\":6:{s:11:\"description\";s:37:\"The
  provisioned state of the resource\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:8:\"Creating\";i:2;s:8:\"Deleting\";i:3;s:9:\"Succeeded\";i:4;s:6:\"Failed\";i:5;s:9:\"Cancelled\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"ProvisioningState\";}s:10:\"x-nullable\";b:0;}}}s:35:\"BatchAccountRegenerateKeyParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Parameters
  supplied to the RegenerateKey operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"keyName\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  type of account key to regenerate.\";s:4:\"enum\";a:2:{i:0;s:7:\"Primary\";i:1;s:9:\"Secondary\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:14:\"AccountKeyType\";}}}s:8:\"required\";a:1:{i:0;s:7:\"keyName\";}}s:28:\"BatchAccountUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Parameters
  for updating an Azure Batch account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:42:\"#/definitions/BatchAccountUpdateProperties\";s:11:\"description\";s:30:\"The
  properties of the account.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:52:\"The
  user-specified tags associated with the account.\";s:4:\"type\";s:6:\"object\";}}}s:28:\"BatchAccountUpdateProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  properties of a Batch account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"autoStorage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/AutoStorageBaseProperties\";s:11:\"description\";s:51:\"The
  properties related to the auto-storage account.\";}}}s:18:\"BatchLocationQuota\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Quotas
  associated with a Batch region for a particular subscription.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"accountQuota\";O:8:\"stdClass\":4:{s:11:\"description\";s:96:\"The
  number of Batch accounts that may be created under the subscription in the specified
  region.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}}s:11:\"CachingType\";O:8:\"stdClass\":5:{s:11:\"description\";s:345:\"Values
  are:\n\n None - The caching mode for the disk is not enabled.\n ReadOnly - The caching
  mode for the disk is read only.\n ReadWrite - The caching mode for the disk is read
  and write. For information about the caching options see: https://blogs.msdn.microsoft.com/windowsazurestorage/2012/06/27/exploring-windows-azure-drives-disks-and-images/.\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:8:\"ReadOnly\";i:2;s:9:\"ReadWrite\";}s:5:\"title\";s:43:\"The
  type of caching to enable for the disk.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:11:\"CachingType\";}}s:11:\"Certificate\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:41:\"Contains
  information about a certificate.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/CertificateProperties\";s:11:\"description\";s:47:\"The
  properties associated with the certificate.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:25:\"CertificateBaseProperties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"format\";O:8:\"stdClass\":5:{s:11:\"description\";s:82:\"The
  format of the certificate - either Pfx or Cer. If omitted, the default is Pfx.\";s:4:\"enum\";a:2:{i:0;s:3:\"Pfx\";i:1;s:3:\"Cer\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"CertificateFormat\";}s:10:\"x-nullable\";b:0;}s:10:\"thumbprint\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"This
  must match the thumbprint from the name.\";s:5:\"title\";s:33:\"The thumbprint of
  the certificate\";s:4:\"type\";s:6:\"string\";}s:19:\"thumbprintAlgorithm\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"This
  must match the first portion of the certificate name. Currently required to be 'SHA1'.\";s:5:\"title\";s:43:\"The
  algorithm of the certificate thumbprint\";s:4:\"type\";s:6:\"string\";}}}s:35:\"CertificateCreateOrUpdateParameters\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:41:\"Contains
  information about a certificate.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:49:\"#/definitions/CertificateCreateOrUpdateProperties\";s:11:\"description\";s:47:\"The
  properties associated with the certificate.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:35:\"CertificateCreateOrUpdateProperties\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/CertificateBaseProperties\";}}s:11:\"description\";s:44:\"Certificate
  properties for create operations\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  maximum size is 10KB.\";s:5:\"title\";s:47:\"The base64-encoded contents of the
  certificate.\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"This
  is required if the certificate format is pfx and must be omitted if the certificate
  format is cer.\";s:5:\"title\";s:53:\"The password to access the certificate's private
  key.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:21:\"CertificateProperties\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/CertificateBaseProperties\";}}s:11:\"description\";s:23:\"Certificate
  properties.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:22:\"deleteCertificateError\";O:8:\"stdClass\":4:{s:4:\"$ref\";s:36:\"#/definitions/DeleteCertificateError\";s:11:\"description\";s:73:\"This
  is only returned when the certificate provisioningState is 'Failed'.\";s:8:\"readOnly\";b:1;s:5:\"title\";s:55:\"The
  error which occurred while deleting the certificate\";}s:25:\"previousProvisioningState\";O:8:\"stdClass\":6:{s:11:\"description\";s:46:\"The
  previous provisioned state of the resource\";s:4:\"enum\";a:3:{i:0;s:9:\"Succeeded\";i:1;s:8:\"Deleting\";i:2;s:6:\"Failed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:28:\"CertificateProvisioningState\";}s:10:\"x-nullable\";b:0;}s:39:\"previousProvisioningStateTransitionTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:5:\"title\";s:61:\"The
  time at which the certificate entered its previous state.\";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":7:{s:11:\"description\";s:741:\"Values
  are:\n\n Succeeded - The certificate is available for use in pools.\n Deleting -
  The user has requested that the certificate be deleted, but the delete operation
  has not yet completed. You may not reference the certificate when creating or updating
  pools.\n Failed - The user requested that the certificate be deleted, but there
  are pools that still have references to the certificate, or it is still installed
  on one or more compute nodes. (The latter can occur if the certificate has been
  removed from the pool, but the node has not yet restarted. Nodes refresh their certificates
  only when they restart.) You may use the cancel certificate delete operation to
  cancel the delete, or the delete certificate operation to retry the delete.\";s:4:\"enum\";a:3:{i:0;s:9:\"Succeeded\";i:1;s:8:\"Deleting\";i:2;s:6:\"Failed\";}s:8:\"readOnly\";b:1;s:5:\"title\";s:37:\"The
  provisioned state of the resource\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:28:\"CertificateProvisioningState\";}s:10:\"x-nullable\";b:0;}s:31:\"provisioningStateTransitionTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:5:\"title\";s:60:\"The
  time at which the certificate entered its current state.\";s:4:\"type\";s:6:\"string\";}s:10:\"publicData\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  public key of the certificate.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:20:\"CertificateReference\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:5:\"title\";s:121:\"The
  fully qualified ID of the certificate to install on the pool. This must be inside
  the same batch account as the pool.\";s:4:\"type\";s:6:\"string\";}s:13:\"storeLocation\";O:8:\"stdClass\":5:{s:11:\"description\";s:623:\"The
  default value is currentUser. This property is applicable only for pools configured
  with Windows nodes (that is, created with cloudServiceConfiguration, or with virtualMachineConfiguration
  using a Windows image reference). For Linux compute nodes, the certificates are
  stored in a directory inside the task working directory and an environment variable
  AZ_BATCH_CERTIFICATES_DIR is supplied to the task to query for this location. For
  certificates with visibility of 'remoteUser', a 'certs' directory is created in
  the user's home directory (e.g., /home/{user-name}/certs) and certificates are placed
  in that directory.\";s:4:\"enum\";a:2:{i:0;s:11:\"CurrentUser\";i:1;s:12:\"LocalMachine\";}s:5:\"title\";s:96:\"The
  location of the certificate store on the compute node into which to install the
  certificate.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:24:\"CertificateStoreLocation\";}}s:9:\"storeName\";O:8:\"stdClass\":3:{s:11:\"description\";s:378:\"This
  property is applicable only for pools configured with Windows nodes (that is, created
  with cloudServiceConfiguration, or with virtualMachineConfiguration using a Windows
  image reference). Common store names include: My, Root, CA, Trust, Disallowed, TrustedPeople,
  TrustedPublisher, AuthRoot, AddressBook, but any custom store name can also be used.
  The default value is My.\";s:5:\"title\";s:92:\"The name of the certificate store
  on the compute node into which to install the certificate.\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":4:{s:11:\"description\";s:292:\"Values
  are:\n\n starttask - The user account under which the start task is run.\n task
  - The accounts under which job tasks are run.\n remoteuser - The accounts under
  which users remotely access the node.\n\n You can specify more than one visibility
  in this collection. The default is all accounts.\";s:5:\"items\";O:8:\"stdClass\":4:{s:4:\"enum\";a:3:{i:0;s:9:\"StartTask\";i:1;s:4:\"Task\";i:2;s:10:\"RemoteUser\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:21:\"CertificateVisibility\";}s:10:\"x-nullable\";b:0;}s:5:\"title\";s:98:\"Which
  user accounts on the compute node should have access to the private data of the
  certificate.\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:5:\"title\";s:125:\"A
  reference to a certificate to be installed on compute nodes in a pool. This must
  exist inside the same account as the pool.\";}s:31:\"CheckNameAvailabilityParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Parameters
  for a check name availability request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  name to check for availability\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"The
  resource type. Must be set to Microsoft.Batch/batchAccounts\";s:4:\"enum\";a:1:{i:0;s:29:\"Microsoft.Batch/batchAccounts\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:4:\"Type\";}}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}}s:27:\"CheckNameAvailabilityResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  CheckNameAvailability operation response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Gets
  an error message explaining the Reason value in more detail.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"nameAvailable\";O:8:\"stdClass\":3:{s:11:\"description\";s:186:\"Gets
  a boolean value that indicates whether the name is available for you to use. If
  true, the name is available. If false, the name has already been taken or invalid
  and cannot be used.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:6:\"reason\";O:8:\"stdClass\":5:{s:11:\"description\";s:123:\"Gets
  the reason that a Batch account name could not be used. The Reason element is only
  returned if NameAvailable is false.\";s:4:\"enum\";a:2:{i:0;s:7:\"Invalid\";i:1;s:13:\"AlreadyExists\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:22:\"NameAvailabilityReason\";}}}}s:10:\"CloudError\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  error response from the Batch service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CloudErrorBody\";}}s:13:\"x-ms-external\";b:1;}s:14:\"CloudErrorBody\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  error response from the Batch service.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"An
  identifier for the error. Codes are invariant and are intended to be consumed programmatically.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  list of additional details about the error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CloudErrorBody\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"A
  message describing the error, intended to be suitable for display in a user interface.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  target of the particular error. For example, the name of the property in error.\";s:4:\"type\";s:6:\"string\";}}s:13:\"x-ms-external\";b:1;}s:25:\"CloudServiceConfiguration\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"currentOSVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:305:\"This
  may differ from targetOSVersion if the pool state is Upgrading. In this case some
  virtual machines may be on the targetOSVersion and some may be on the currentOSVersion
  during the upgrade process. Once all virtual machines have upgraded, currentOSVersion
  is updated to be the same as targetOSVersion.\";s:5:\"title\";s:83:\"The Azure Guest
  OS Version currently installed on the virtual machines in the pool.\";s:4:\"type\";s:6:\"string\";}s:8:\"osFamily\";O:8:\"stdClass\":3:{s:11:\"description\";s:389:\"Possible
  values are: 2 - OS Family 2, equivalent to Windows Server 2008 R2 SP1. 3 - OS Family
  3, equivalent to Windows Server 2012. 4 - OS Family 4, equivalent to Windows Server
  2012 R2. 5 - OS Family 5, equivalent to Windows Server 2016. For more information,
  see Azure Guest OS Releases (https://azure.microsoft.com/documentation/articles/cloud-services-guestos-update-matrix/#releases).\";s:5:\"title\";s:78:\"The
  Azure Guest OS family to be installed on the virtual machines in the pool.\";s:4:\"type\";s:6:\"string\";}s:15:\"targetOSVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  default value is * which specifies the latest operating system version for the specified
  OS family.\";s:5:\"title\";s:79:\"The Azure Guest OS version to be installed on
  the virtual machines in the pool.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"osFamily\";}s:5:\"title\";s:81:\"The
  configuration for nodes in a pool based on the Azure Cloud Services platform.\";}s:29:\"ComputeNodeDeallocationOption\";O:8:\"stdClass\":5:{s:11:\"description\";s:641:\"Values
  are:\n\n Requeue - Terminate running tasks and requeue them. The tasks will run
  again when the job is enabled. Remove nodes as soon as tasks have been terminated.\n
  Terminate - Terminate running tasks. The tasks will not run again. Remove nodes
  as soon as tasks have been terminated.\n TaskCompletion - Allow currently running
  tasks to complete. Schedule no new tasks while waiting. Remove nodes when all tasks
  have completed.\n RetainedData - Allow currently running tasks to complete, then
  wait for all task data retention periods to expire. Schedule no new tasks while
  waiting. Remove nodes when all task retention periods have expired.\";s:4:\"enum\";a:4:{i:0;s:7:\"Requeue\";i:1;s:9:\"Terminate\";i:2;s:14:\"TaskCompletion\";i:3;s:12:\"RetainedData\";}s:5:\"title\";s:102:\"Determines
  what to do with a node and its running task(s) after it has been selected for deallocation.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:29:\"ComputeNodeDeallocationOption\";}}s:8:\"DataDisk\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Data
  Disk settings which will be used by the data disks associated to Compute Nodes in
  the pool.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"caching\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/CachingType\";s:11:\"description\";s:386:\"Values
  are:\n\n none - The caching mode for the disk is not enabled.\n readOnly - The caching
  mode for the disk is read only.\n readWrite - The caching mode for the disk is read
  and write.\n\n The default value for caching is none. For information about the
  caching options see: https://blogs.msdn.microsoft.com/windowsazurestorage/2012/06/27/exploring-windows-azure-drives-disks-and-images/.\";s:5:\"title\";s:53:\"The
  type of caching to be enabled for the data disks.\";}s:10:\"diskSizeGB\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:56:\"The
  initial disk size in GB when creating new data disk.\";s:4:\"type\";s:7:\"integer\";}s:3:\"lun\";O:8:\"stdClass\":4:{s:11:\"description\";s:114:\"The
  lun is used to uniquely identify each data disk. If attaching multiple disks, each
  should have a distinct lun.\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:24:\"The
  logical unit number.\";s:4:\"type\";s:7:\"integer\";}s:18:\"storageAccountType\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/StorageAccountType\";s:11:\"description\";s:207:\"If
  omitted, the default is \"Standard_LRS\". Values are:\n\n Standard_LRS - The data
  disk should use standard locally redundant storage.\n Premium_LRS - The data disk
  should use premium locally redundant storage.\";s:5:\"title\";s:54:\"The storage
  account type to be used for the data disk.\";}}s:8:\"required\";a:2:{i:0;s:3:\"lun\";i:1;s:10:\"diskSizeGB\";}}s:22:\"DeleteCertificateError\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  error response from the Batch service.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"An
  identifier for the error. Codes are invariant and are intended to be consumed programmatically.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  list of additional details about the error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DeleteCertificateError\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"A
  message describing the error, intended to be suitable for display in a user interface.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  target of the particular error. For example, the name of the property in error.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}}s:23:\"DeploymentConfiguration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:25:\"cloudServiceConfiguration\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/CloudServiceConfiguration\";s:11:\"description\";s:244:\"This
  property and virtualMachineConfiguration are mutually exclusive and one of the properties
  must be specified. This property cannot be specified if the Batch account was created
  with its poolAllocationMode property set to 'UserSubscription'.\";s:5:\"title\";s:45:\"The
  cloud service configuration for the pool.\";}s:27:\"virtualMachineConfiguration\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:41:\"#/definitions/VirtualMachineConfiguration\";s:11:\"description\";s:111:\"This
  property and cloudServiceConfiguration are mutually exclusive and one of the properties
  must be specified.\";s:5:\"title\";s:47:\"The virtual machine configuration for
  the pool.\";}}s:5:\"title\";s:36:\"Deployment configuration properties.\";}s:14:\"ElevationLevel\";O:8:\"stdClass\":5:{s:11:\"description\";s:176:\"Values
  are:\n\n NonAdmin - The user is a standard user without elevated access.\n Admin
  - The user is a user with elevated access and operates with full Administrator permissions.\";s:4:\"enum\";a:2:{i:0;s:8:\"NonAdmin\";i:1;s:5:\"Admin\";}s:5:\"title\";s:32:\"The
  elevation level of the user.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:14:\"ElevationLevel\";}}s:18:\"EnvironmentSetting\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:5:\"title\";s:37:\"The
  name of the environment variable.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"title\";s:38:\"The
  value of the environment variable.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:5:\"title\";s:52:\"An
  environment variable to be set on a task process.\";}s:18:\"FixedScaleSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"nodeDeallocationOption\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:43:\"#/definitions/ComputeNodeDeallocationOption\";s:11:\"description\";s:41:\"If
  omitted, the default value is Requeue.\";s:5:\"title\";s:89:\"Determines what to
  do with a node and its running task(s) if the pool size is decreasing.\";}s:13:\"resizeTimeout\";O:8:\"stdClass\":4:{s:11:\"description\";s:321:\"The
  default value is 15 minutes. Timeout values use ISO 8601 format. For example, use
  PT10M for 10 minutes. The minimum value is 5 minutes. If you specify a value less
  than 5 minutes, the Batch service rejects the request with an error; if you are
  calling the REST API directly, the HTTP status code is 400 (Bad Request).\";s:6:\"format\";s:8:\"duration\";s:5:\"title\";s:56:\"The
  timeout for allocation of compute nodes to the pool.\";s:4:\"type\";s:6:\"string\";}s:20:\"targetDedicatedNodes\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"At
  least one of targetDedicatedNodes, targetLowPriority nodes must be set.\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:58:\"The
  desired number of dedicated compute nodes in the pool.\";s:4:\"type\";s:7:\"integer\";}s:22:\"targetLowPriorityNodes\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"At
  least one of targetDedicatedNodes, targetLowPriority nodes must be set.\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:61:\"The
  desired number of low-priority compute nodes in the pool.\";s:4:\"type\";s:7:\"integer\";}}s:5:\"title\";s:34:\"Fixed
  scale settings for the pool.\";}s:14:\"ImageReference\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:371:\"This
  property is mutually exclusive with other properties. The virtual machine image
  must be in the same region and subscription as the Azure Batch account. For information
  about the firewall settings for Batch node agent to communicate with Batch service
  see https://docs.microsoft.com/en-us/azure/batch/batch-api-basics#virtual-network-vnet-and-firewall-configuration
  .\";s:5:\"title\";s:255:\"The ARM resource identifier of the virtual machine image.
  Computes nodes of the pool will be created using this custom image. This is of the
  form /subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/images/{imageName}\";s:4:\"type\";s:6:\"string\";}s:5:\"offer\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"For
  example, UbuntuServer or WindowsServer.\";s:5:\"title\";s:63:\"The offer type of
  the Azure Virtual Machines Marketplace image.\";s:4:\"type\";s:6:\"string\";}s:9:\"publisher\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"For
  example, Canonical or MicrosoftWindowsServer.\";s:5:\"title\";s:62:\"The publisher
  of the Azure Virtual Machines Marketplace image.\";s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"For
  example, 14.04.0-LTS or 2012-R2-Datacenter.\";s:5:\"title\";s:56:\"The SKU of the
  Azure Virtual Machines Marketplace image.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"A
  value of 'latest' can be specified to select the latest version of an image. If
  omitted, the default is 'latest'.\";s:5:\"title\";s:60:\"The version of the Azure
  Virtual Machines Marketplace image.\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:231:\"A
  reference to an Azure Virtual Machines Marketplace image or the Azure Image resource
  of a custom Virtual Machine. To get the list of all imageReferences verified by
  Azure Batch, see the 'List supported node agent SKUs' operation.\";}s:14:\"InboundNatPool\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"backendPort\";O:8:\"stdClass\":4:{s:11:\"description\";s:223:\"This
  must be unique within a Batch pool. Acceptable values are between 1 and 65535 except
  for 22, 3389, 29876 and 29877 as these are reserved. If any reserved values are
  provided the request fails with HTTP status code 400.\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:36:\"The
  port number on the compute node.\";s:4:\"type\";s:7:\"integer\";}s:20:\"frontendPortRangeEnd\";O:8:\"stdClass\":4:{s:11:\"description\";s:275:\"Acceptable
  values range between 1 and 65534 except ports from 50000 to 55000 which are reserved
  by the Batch service. All ranges within a pool must be distinct and cannot overlap.
  If any reserved or overlapping values are provided the request fails with HTTP status
  code 400.\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:143:\"The last port number
  in the range of external ports that will be used to provide inbound access to the
  backendPort on individual compute nodes.\";s:4:\"type\";s:7:\"integer\";}s:22:\"frontendPortRangeStart\";O:8:\"stdClass\":4:{s:11:\"description\";s:254:\"Acceptable
  values range between 1 and 65534 except ports from 50000 to 55000 which are reserved.
  All ranges within a pool must be distinct and cannot overlap. If any reserved or
  overlapping values are provided the request fails with HTTP status code 400.\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:144:\"The
  first port number in the range of external ports that will be used to provide inbound
  access to the backendPort on individual compute nodes.\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:312:\"The
  name must be unique within a Batch pool, can contain letters, numbers, underscores,
  periods, and hyphens. Names must start with a letter or number, must end with a
  letter, number, or underscore, and cannot exceed 77 characters.  If any invalid
  values are provided the request fails with HTTP status code 400.\";s:5:\"title\";s:25:\"The
  name of the endpoint.\";s:4:\"type\";s:6:\"string\";}s:25:\"networkSecurityGroupRules\";O:8:\"stdClass\":4:{s:11:\"description\";s:343:\"The
  maximum number of rules that can be specified across all the endpoints on a Batch
  pool is 25. If no network security group rules are specified, a default rule will
  be created to allow inbound access to the specified backendPort. If the maximum
  number of network security group rules is exceeded the request fails with HTTP status
  code 400.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/NetworkSecurityGroupRule\";}s:5:\"title\";s:76:\"A
  list of network security group rules that will be applied to the endpoint.\";s:4:\"type\";s:5:\"array\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:4:\"enum\";a:2:{i:0;s:3:\"TCP\";i:1;s:3:\"UDP\";}s:5:\"title\";s:29:\"The
  protocol of the endpoint.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:23:\"InboundEndpointProtocol\";}}}s:8:\"required\";a:5:{i:0;s:4:\"name\";i:1;s:8:\"protocol\";i:2;s:11:\"backendPort\";i:3;s:22:\"frontendPortRangeStart\";i:4;s:20:\"frontendPortRangeEnd\";}s:5:\"title\";s:106:\"A
  inbound NAT pool that can be used to address specific ports on compute nodes in
  a Batch pool externally.\";}s:17:\"KeyVaultReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Identifies
  the Azure key vault associated with a Batch account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  resource ID of the Azure key vault associated with the Batch account.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  URL of the Azure key vault associated with the Batch account.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:3:\"url\";}}s:22:\"LinuxUserConfiguration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"gid\";O:8:\"stdClass\":4:{s:11:\"description\";s:132:\"The
  uid and gid properties must be specified together or not at all. If not specified
  the underlying operating system picks the gid.\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:34:\"The
  group ID for the user account.\";s:4:\"type\";s:7:\"integer\";}s:13:\"sshPrivateKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:485:\"The
  private key must not be password protected. The private key is used to automatically
  configure asymmetric-key based authentication for SSH between nodes in a Linux pool
  when the pool's enableInterNodeCommunication property is true (it is ignored if
  enableInterNodeCommunication is false). It does this by placing the key pair into
  the user's .ssh directory. If not specified, password-less SSH is not configured
  between nodes (no modification of the user's .ssh directory is done).\";s:5:\"title\";s:41:\"The
  SSH private key for the user account.\";s:4:\"type\";s:6:\"string\";}s:3:\"uid\";O:8:\"stdClass\":4:{s:11:\"description\";s:132:\"The
  uid and gid properties must be specified together or not at all. If not specified
  the underlying operating system picks the uid.\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:32:\"The
  user ID of the user account.\";s:4:\"type\";s:7:\"integer\";}}s:5:\"title\";s:57:\"Properties
  used to create a user account on a Linux node.\";}s:22:\"ListApplicationsResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  result of performing list applications.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  list of applications.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Application\";}s:4:\"type\";s:5:\"array\";}}}s:22:\"ListCertificatesResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Values
  returned by the List operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  continuation token.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  collection of returned certificates.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Certificate\";}s:4:\"type\";s:5:\"array\";}}}s:15:\"ListPoolsResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Values
  returned by the List operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  continuation token.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  collection of returned pools.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Pool\";}s:4:\"type\";s:5:\"array\";}}}s:12:\"MetadataItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:102:\"The
  Batch service does not assign any meaning to this metadata; it is solely for the
  use of user code.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:5:\"title\";s:30:\"The
  name of the metadata item.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"title\";s:31:\"The
  value of the metadata item.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"value\";}s:5:\"title\";s:59:\"A
  name-value pair associated with a Batch service resource.\";}s:20:\"NetworkConfiguration\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  network configuration for a pool.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"endpointConfiguration\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/PoolEndpointConfiguration\";s:11:\"description\";s:101:\"Pool
  endpoint configuration is only supported on pools with the virtualMachineConfiguration
  property.\";s:5:\"title\";s:67:\"The configuration for endpoints on compute nodes
  in the Batch pool.\";}s:8:\"subnetId\";O:8:\"stdClass\":4:{s:11:\"description\";s:1592:\"The
  virtual network must be in the same region and subscription as the Azure Batch account.
  The specified subnet should have enough free IP addresses to accommodate the number
  of nodes in the pool. If the subnet doesn't have enough free IP addresses, the pool
  will partially allocate compute nodes, and a resize error will occur. The 'MicrosoftAzureBatch'
  service principal must have the 'Classic Virtual Machine Contributor' Role-Based
  Access Control (RBAC) role for the specified VNet. The specified subnet must allow
  communication from the Azure Batch service to be able to schedule tasks on the compute
  nodes. This can be verified by checking if the specified VNet has any associated
  Network Security Groups (NSG). If communication to the compute nodes in the specified
  subnet is denied by an NSG, then the Batch service will set the state of the compute
  nodes to unusable. For pools created via virtualMachineConfiguration the Batch account
  must have poolAllocationMode userSubscription in order to use a VNet. If the specified
  VNet has any associated Network Security Groups (NSG), then a few reserved system
  ports must be enabled for inbound communication. For pools created with a virtual
  machine configuration, enable ports 29876 and 29877, as well as port 22 for Linux
  and port 3389 for Windows. For pools created with a cloud service configuration,
  enable ports 10100, 20100, and 30100. Also enable outbound connections to Azure
  Storage on port 443. For more details see: https://docs.microsoft.com/en-us/azure/batch/batch-api-basics#virtual-network-vnet-and-firewall-configuration\";s:12:\"externalDocs\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Setting
  up RBAC for Azure Batch VNETs\";s:3:\"url\";s:126:\"https://azure.microsoft.com/en-us/documentation/articles/role-based-access-built-in-roles/#classic-virtual-machine-contributor\";}s:5:\"title\";s:242:\"The
  ARM resource identifier of the virtual network subnet which the compute nodes of
  the pool will join. This is of the form /subscriptions/{subscription}/resourceGroups/{group}/providers/{provider}/virtualNetworks/{network}/subnets/{subnet}.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"NetworkSecurityGroupRule\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"access\";O:8:\"stdClass\":4:{s:4:\"enum\";a:2:{i:0;s:5:\"Allow\";i:1;s:4:\"Deny\";}s:5:\"title\";s:80:\"The
  action that should be taken for a specified IP address, subnet range or tag.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:30:\"NetworkSecurityGroupRuleAccess\";}}s:8:\"priority\";O:8:\"stdClass\":4:{s:11:\"description\";s:429:\"Priorities
  within a pool must be unique and are evaluated in order of priority. The lower the
  number the higher the priority. For example, rules could be specified with order
  numbers of 150, 250, and 350. The rule with the order number of 150 takes precedence
  over the rule that has an order of 250. Allowed priorities are 150 to 3500. If any
  reserved or duplicate values are provided the request fails with HTTP status code
  400.\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:27:\"The priority for this rule.\";s:4:\"type\";s:7:\"integer\";}s:19:\"sourceAddressPrefix\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"Valid
  values are a single IP address (i.e. 10.10.10.10), IP subnet (i.e. 192.168.1.0/24),
  default tag, or * (for all addresses).  If any other values are provided the request
  fails with HTTP status code 400.\";s:5:\"title\";s:55:\"The source address prefix
  or tag to match for the rule.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:8:\"priority\";i:1;s:6:\"access\";i:2;s:19:\"sourceAddressPrefix\";}s:5:\"title\";s:62:\"A
  network security group rule to apply to an inbound endpoint.\";}s:6:\"OSDisk\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"caching\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/CachingType\";s:11:\"description\";s:22:\"Default
  value is none.\";s:5:\"title\";s:222:\"The type of caching to be enabled for the
  data disks. none - The caching mode for the disk is not enabled. readOnly - The
  caching mode for the disk is read only. readWrite - The caching mode for the disk
  is read and write.\";}}s:5:\"title\";s:62:\"Settings for the operating system disk
  of the virtual machine.\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"display\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:5:\"title\";s:34:\"The
  friendly name of the operation\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"For
  example: read, write, delete, or listKeys/action\";s:5:\"title\";s:19:\"The operation
  type.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:5:\"title\";s:39:\"Friendly
  name of the resource provider.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:5:\"title\";s:54:\"The
  resource type on which the operation is performed.\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:40:\"The
  object that describes the operation.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"This
  is of the format {provider}/{resource}/{operation}\";s:5:\"title\";s:19:\"The operation
  name.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:5:\"title\";s:39:\"The
  intended executor of the operation.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"title\";s:28:\"Properties
  of the operation.\";s:4:\"type\";s:6:\"object\";}}s:5:\"title\";s:20:\"A REST API
  operation\";s:4:\"type\";s:6:\"object\";}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:5:\"title\";s:71:\"The
  URL to get the next set of operation list results if there are any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:5:\"title\";s:58:\"The
  list of operations supported by the resource provider.\";s:4:\"type\";s:5:\"array\";}}s:5:\"title\";s:134:\"Result
  of the request to list REST API operations. It contains a list of operations and
  a URL nextLink to get the next set of results.\";}s:4:\"Pool\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:34:\"Contains
  information about a pool.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/PoolProperties\";s:11:\"description\";s:40:\"The
  properties associated with the pool.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:18:\"PoolAllocationMode\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"The
  allocation mode for creating pools in the Batch account.\";s:4:\"enum\";a:2:{i:0;s:12:\"BatchService\";i:1;s:16:\"UserSubscription\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"PoolAllocationMode\";}}s:25:\"PoolEndpointConfiguration\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"inboundNatPools\";O:8:\"stdClass\":4:{s:11:\"description\";s:160:\"The
  maximum number of inbound NAT pools per Batch pool is 5. If the maximum number of
  inbound NAT pools is exceeded the request fails with HTTP status code 400.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/InboundNatPool\";}s:5:\"title\";s:112:\"A
  list of inbound NAT pools that can be used to address specific ports on an individual
  compute node externally.\";s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:15:\"inboundNatPools\";}s:5:\"title\";s:38:\"The
  endpoint configuration for a pool.\";}s:14:\"PoolProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Pool
  properties.\";s:10:\"properties\";O:8:\"stdClass\":24:{s:15:\"allocationState\";O:8:\"stdClass\":6:{s:11:\"description\";s:498:\"Values
  are:\n\n Steady - The pool is not resizing. There are no changes to the number of
  nodes in the pool in progress. A pool enters this state when it is created and when
  no operations are being performed on the pool to change the number of dedicated
  nodes.\n Resizing - The pool is resizing; that is, compute nodes are being added
  to or removed from the pool.\n Stopping - The pool was resizing, but the user has
  requested that the resize be stopped, but the stop request has not yet been completed.\";s:4:\"enum\";a:3:{i:0;s:6:\"Steady\";i:1;s:8:\"Resizing\";i:2;s:8:\"Stopping\";}s:8:\"readOnly\";b:1;s:5:\"title\";s:29:\"Whether
  the pool is resizing.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:15:\"AllocationState\";}}s:29:\"allocationStateTransitionTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:5:\"title\";s:64:\"The
  time at which the pool entered its current allocation state.\";s:4:\"type\";s:6:\"string\";}s:19:\"applicationLicenses\";O:8:\"stdClass\":4:{s:11:\"description\";s:173:\"The
  list of application licenses must be a subset of available Batch service application
  licenses. If a license is requested which is not supported, pool creation will fail.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";s:104:\"The
  list of application licenses the Batch service will make available on each compute
  node in the pool.\";s:4:\"type\";s:5:\"array\";}s:19:\"applicationPackages\";O:8:\"stdClass\":4:{s:11:\"description\";s:176:\"Changes
  to application packages affect all new compute nodes joining the pool, but do not
  affect compute nodes that are already in the pool until they are rebooted or reimaged.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ApplicationPackageReference\";}s:5:\"title\";s:82:\"The
  list of application packages to be installed on each compute node in the pool.\";s:4:\"type\";s:5:\"array\";}s:12:\"autoScaleRun\";O:8:\"stdClass\":4:{s:4:\"$ref\";s:26:\"#/definitions/AutoScaleRun\";s:11:\"description\";s:92:\"This
  property is set only if the pool automatically scales, i.e. autoScaleSettings are
  used.\";s:8:\"readOnly\";b:1;s:5:\"title\";s:72:\"The results and errors from the
  last execution of the autoscale formula.\";}s:12:\"certificates\";O:8:\"stdClass\":4:{s:11:\"description\";s:516:\"For
  Windows compute nodes, the Batch service installs the certificates to the specified
  certificate store and location. For Linux compute nodes, the certificates are stored
  in a directory inside the task working directory and an environment variable AZ_BATCH_CERTIFICATES_DIR
  is supplied to the task to query for this location. For certificates with visibility
  of 'remoteUser', a 'certs' directory is created in the user's home directory (e.g.,
  /home/{user-name}/certs) and certificates are placed in that directory.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CertificateReference\";}s:5:\"title\";s:74:\"The
  list of certificates to be installed on each compute node in the pool.\";s:4:\"type\";s:5:\"array\";}s:12:\"creationTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:5:\"title\";s:30:\"The
  creation time of the pool.\";s:4:\"type\";s:6:\"string\";}s:21:\"currentDedicatedNodes\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:5:\"title\";s:50:\"The
  number of compute nodes currently in the pool.\";s:4:\"type\";s:7:\"integer\";}s:23:\"currentLowPriorityNodes\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:5:\"title\";s:63:\"The
  number of low priority compute nodes currently in the pool.\";s:4:\"type\";s:7:\"integer\";}s:23:\"deploymentConfiguration\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/DeploymentConfiguration\";s:11:\"description\";s:180:\"Using
  CloudServiceConfiguration specifies that the nodes should be creating using Azure
  Cloud Services (PaaS), while VirtualMachineConfiguration uses Azure Virtual Machines
  (IaaS).\";s:5:\"title\";s:103:\"This property describes how the pool nodes will
  be deployed - using Cloud Services or Virtual Machines.\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  display name need not be unique and can contain any Unicode characters up to a maximum
  length of 1024.\";s:5:\"title\";s:30:\"The display name for the pool.\";s:4:\"type\";s:6:\"string\";}s:22:\"interNodeCommunication\";O:8:\"stdClass\":5:{s:11:\"description\";s:226:\"This
  imposes restrictions on which nodes can be assigned to the pool. Enabling this value
  can reduce the chance of the requested number of nodes to be allocated in the pool.
  If not specified, this value defaults to 'Disabled'.\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:5:\"title\";s:60:\"Whether
  the pool permits direct communication between nodes.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:27:\"InterNodeCommunicationState\";}}s:12:\"lastModified\";O:8:\"stdClass\":5:{s:11:\"description\";s:195:\"This
  is the last time at which the pool level data, such as the targetDedicatedNodes
  or autoScaleSettings, changed. It does not factor in node-level changes such as
  a compute node changing state.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:5:\"title\";s:35:\"The
  last modified time of the pool.\";s:4:\"type\";s:6:\"string\";}s:15:\"maxTasksPerNode\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:91:\"The
  maximum number of tasks that can run concurrently on a single compute node in the
  pool.\";s:4:\"type\";s:7:\"integer\";}s:8:\"metadata\";O:8:\"stdClass\":4:{s:11:\"description\";s:97:\"The
  Batch service does not assign any meaning to metadata; it is solely for the use
  of user code.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MetadataItem\";}s:5:\"title\";s:64:\"A
  list of name-value pairs associated with the pool as metadata.\";s:4:\"type\";s:5:\"array\";}s:20:\"networkConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/NetworkConfiguration\";s:5:\"title\";s:39:\"The
  network configuration for the pool.\";}s:17:\"provisioningState\";O:8:\"stdClass\":6:{s:11:\"description\";s:215:\"Values
  are:\n\n Succeeded - The pool is available to run tasks subject to the availability
  of compute nodes.\n Deleting - The user has requested that the pool be deleted,
  but the delete operation has not yet completed.\";s:4:\"enum\";a:2:{i:0;s:9:\"Succeeded\";i:1;s:8:\"Deleting\";}s:8:\"readOnly\";b:1;s:5:\"title\";s:30:\"The
  current state of the pool.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:21:\"PoolProvisioningState\";}}s:31:\"provisioningStateTransitionTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:5:\"title\";s:53:\"The
  time at which the pool entered its current state.\";s:4:\"type\";s:6:\"string\";}s:21:\"resizeOperationStatus\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/ResizeOperationStatus\";s:8:\"readOnly\";b:1;s:5:\"title\";s:70:\"Contains
  details about the current or last completed resize operation.\";}s:13:\"scaleSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ScaleSettings\";s:5:\"title\";s:57:\"Settings
  which configure the number of nodes in the pool.\";}s:9:\"startTask\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:23:\"#/definitions/StartTask\";s:11:\"description\";s:115:\"In
  an PATCH (update) operation, this property can be set to an empty object to remove
  the start task from the pool.\";s:5:\"title\";s:66:\"A task specified to run on
  each compute node as it joins the pool.\";}s:20:\"taskSchedulingPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TaskSchedulingPolicy\";s:5:\"title\";s:57:\"How
  tasks are distributed across compute nodes in a pool.\";}s:12:\"userAccounts\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UserAccount\";}s:5:\"title\";s:65:\"The
  list of user accounts to be created on each node in the pool.\";s:4:\"type\";s:5:\"array\";}s:6:\"vmSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:839:\"For
  information about available sizes of virtual machines for Cloud Services pools (pools
  created with cloudServiceConfiguration), see Sizes for Cloud Services (http://azure.microsoft.com/documentation/articles/cloud-services-sizes-specs/).
  Batch supports all Cloud Services VM sizes except ExtraSmall. For information about
  available VM sizes for pools using images from the Virtual Machines Marketplace
  (pools created with virtualMachineConfiguration) see Sizes for Virtual Machines
  (Linux) (https://azure.microsoft.com/documentation/articles/virtual-machines-linux-sizes/)
  or Sizes for Virtual Machines (Windows) (https://azure.microsoft.com/documentation/articles/virtual-machines-windows-sizes/).
  Batch supports all Azure VM sizes except STANDARD_A0 and those with premium storage
  (STANDARD_GS, STANDARD_DS, and STANDARD_DSV2 series).\";s:5:\"title\";s:78:\"The
  size of virtual machines in the pool. All VMs in a pool are the same size.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"ProxyResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"A
  definition of an Azure resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  ETag of the resource, used for concurrency statements.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  ID of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  name of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:11:\"ResizeError\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"An
  identifier for the error. Codes are invariant and are intended to be consumed programmatically.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResizeError\";}s:5:\"title\";s:35:\"Additional
  details about the error.\";s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"A
  message describing the error, intended to be suitable for display in a user interface.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:5:\"title\";s:44:\"An
  error that occurred when resizing a pool.\";}s:21:\"ResizeOperationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:154:\"Describes
  either the current operation (if the pool AllocationState is Resizing) or the previously
  completed operation (if the AllocationState is Steady).\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"errors\";O:8:\"stdClass\":4:{s:11:\"description\";s:125:\"This
  property is set only if an error occurred during the last pool resize, and only
  when the pool allocationState is Steady.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResizeError\";}s:5:\"title\";s:79:\"Details
  of any errors encountered while performing the last resize on the pool.\";s:4:\"type\";s:5:\"array\";}s:22:\"nodeDeallocationOption\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:43:\"#/definitions/ComputeNodeDeallocationOption\";s:11:\"description\";s:29:\"The
  default value is requeue.\";s:5:\"title\";s:89:\"Determines what to do with a node
  and its running task(s) if the pool size is decreasing.\";}s:13:\"resizeTimeout\";O:8:\"stdClass\":4:{s:11:\"description\";s:229:\"The
  default value is 15 minutes. The minimum value is 5 minutes. If you specify a value
  less than 5 minutes, the Batch service returns an error; if you are calling the
  REST API directly, the HTTP status code is 400 (Bad Request).\";s:6:\"format\";s:8:\"duration\";s:5:\"title\";s:98:\"The
  timeout for allocation of compute nodes to the pool or removal of compute nodes
  from the pool.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:5:\"title\";s:48:\"The
  time when this resize operation was started.\";s:4:\"type\";s:6:\"string\";}s:20:\"targetDedicatedNodes\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:58:\"The
  desired number of dedicated compute nodes in the pool.\";s:4:\"type\";s:7:\"integer\";}s:22:\"targetLowPriorityNodes\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:61:\"The
  desired number of low-priority compute nodes in the pool.\";s:4:\"type\";s:7:\"integer\";}}s:5:\"title\";s:61:\"Details
  about the current or last completed resize operation.\";}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"A
  definition of an Azure resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  ID of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  location of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  name of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:25:\"The
  tags of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:12:\"ResourceFile\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"blobSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:350:\"This
  URL must be readable using anonymous access; that is, the Batch service does not
  present any credentials when downloading the blob. There are two ways to get such
  a URL for a blob in Azure storage: include a Shared Access Signature (SAS) granting
  read permissions on the blob, or set the ACL for the blob or its container to allow
  public access.\";s:5:\"title\";s:46:\"The URL of the file within Azure Blob Storage.\";s:4:\"type\";s:6:\"string\";}s:8:\"fileMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:282:\"This
  property applies only to files being downloaded to Linux compute nodes. It will
  be ignored if it is specified for a resourceFile which will be downloaded to a Windows
  node. If this property is not specified for a Linux node, then a default value of
  0770 is applied to the file.\";s:5:\"title\";s:51:\"The file permission mode attribute
  in octal format.\";s:4:\"type\";s:6:\"string\";}s:8:\"filePath\";O:8:\"stdClass\":2:{s:5:\"title\";s:105:\"The
  location on the compute node to which to download the file, relative to the task's
  working directory.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"blobSource\";i:1;s:8:\"filePath\";}s:5:\"title\";s:66:\"A
  file to be downloaded from Azure blob storage to a compute node.\";}s:13:\"ScaleSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:295:\"Defines
  the desired size of the pool. This can either be 'fixedScale' where the requested
  targetDedicatedNodes is specified, or 'autoScale' which defines a formula which
  is periodically reevaluated. If this property is not specified, the pool will have
  a fixed scale with 0 targetDedicatedNodes.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"autoScale\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/AutoScaleSettings\";s:11:\"description\";s:96:\"This
  property and fixedScale are mutually exclusive and one of the properties must be
  specified.\";s:5:\"title\";s:32:\"AutoScale settings for the pool.\";}s:10:\"fixedScale\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/FixedScaleSettings\";s:11:\"description\";s:95:\"This
  property and autoScale are mutually exclusive and one of the properties must be
  specified.\";s:5:\"title\";s:34:\"Fixed scale settings for the pool.\";}}s:5:\"title\";s:27:\"Scale
  settings for the pool\";}s:9:\"StartTask\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"commandLine\";O:8:\"stdClass\":3:{s:11:\"description\";s:384:\"The
  command line does not run under a shell, and therefore cannot take advantage of
  shell features such as environment variable expansion. If you want to take advantage
  of such features, you should invoke the shell in the command line, for example using
  \"cmd /c MyCommand\" in Windows or \"/bin/sh -c MyCommand\" in Linux. Required if
  any other properties of the startTask are specified.\";s:5:\"title\";s:35:\"The
  command line of the start task.\";s:4:\"type\";s:6:\"string\";}s:19:\"environmentSettings\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/EnvironmentSetting\";}s:5:\"title\";s:59:\"A
  list of environment variable settings for the start task.\";s:4:\"type\";s:5:\"array\";}s:17:\"maxTaskRetryCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:480:\"The
  Batch service retries a task if its exit code is nonzero. Note that this value specifically
  controls the number of retries. The Batch service will try the task once, and may
  then retry up to this limit. For example, if the maximum retry count is 3, Batch
  tries the task up to 4 times (one initial try and 3 retries). If the maximum retry
  count is 0, the Batch service does not retry the task. If the maximum retry count
  is -1, the Batch service retries the task without limit.\";s:6:\"format\";s:5:\"int32\";s:5:\"title\";s:52:\"The
  maximum number of times the task may be retried.\";s:4:\"type\";s:7:\"integer\";}s:13:\"resourceFiles\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceFile\";}s:5:\"title\";s:105:\"A
  list of files that the Batch service will download to the compute node before running
  the command line.\";s:4:\"type\";s:5:\"array\";}s:12:\"userIdentity\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/UserIdentity\";s:11:\"description\";s:74:\"If
  omitted, the task runs as a non-administrative user unique to the task.\";s:5:\"title\";s:50:\"The
  user identity under which the start task runs.\";}s:14:\"waitForSuccess\";O:8:\"stdClass\":3:{s:11:\"description\";s:669:\"If
  true and the start task fails on a compute node, the Batch service retries the start
  task up to its maximum retry count (maxTaskRetryCount). If the task has still not
  completed successfully after all retries, then the Batch service marks the compute
  node unusable, and will not schedule tasks to it. This condition can be detected
  via the node state and scheduling error detail. If false, the Batch service will
  not wait for the start task to complete. In this case, other tasks can start executing
  on the compute node while the start task is still running; and even if the start
  task fails, new tasks will continue to be scheduled on the node. The default is
  false.\";s:5:\"title\";s:166:\"Whether the Batch service should wait for the start
  task to complete successfully (that is, to exit with exit code 0) before scheduling
  any tasks on the compute node.\";s:4:\"type\";s:7:\"boolean\";}}s:5:\"title\";s:130:\"A
  task which is run when a compute node joins a pool in the Azure Batch service, or
  when the compute node is rebooted or reimaged.\";}s:18:\"StorageAccountType\";O:8:\"stdClass\":4:{s:4:\"enum\";a:2:{i:0;s:12:\"Standard_LRS\";i:1;s:11:\"Premium_LRS\";}s:5:\"title\";s:56:\"The
  storage account type for use in creating data disks.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"StorageAccountType\";}}s:20:\"TaskSchedulingPolicy\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"nodeFillType\";O:8:\"stdClass\":4:{s:4:\"enum\";a:2:{i:0;s:6:\"Spread\";i:1;s:4:\"Pack\";}s:5:\"title\";s:53:\"How
  tasks should be distributed across compute nodes.\";s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"ComputeNodeFillType\";}}}s:8:\"required\";a:1:{i:0;s:12:\"nodeFillType\";}s:5:\"title\";s:63:\"Specifies
  how tasks should be distributed across compute nodes.\";}s:11:\"UserAccount\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"elevationLevel\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/ElevationLevel\";s:11:\"description\";s:202:\"nonAdmin
  - The auto user is a standard user without elevated access. admin - The auto user
  is a user with elevated access and operates with full Administrator permissions.
  The default value is nonAdmin.\";s:5:\"title\";s:40:\"The elevation level of the
  user account.\";}s:22:\"linuxUserConfiguration\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/LinuxUserConfiguration\";s:11:\"description\";s:120:\"This
  property is ignored if specified on a Windows pool. If not specified, the user is
  created with the default options.\";s:5:\"title\";s:59:\"The Linux-specific user
  configuration for the user account.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:5:\"title\";s:29:\"The
  name of the user account.\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:5:\"title\";s:34:\"The
  password for the user account.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:8:\"password\";}s:5:\"title\";s:56:\"Properties
  used to create a user on an Azure Batch node.\";}s:12:\"UserIdentity\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Specify
  either the userName or autoUser property, but not both.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"autoUser\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/AutoUserSpecification\";s:11:\"description\";s:95:\"The
  userName and autoUser properties are mutually exclusive; you must specify one but
  not both.\";s:5:\"title\";s:42:\"The auto user under which the task is run.\";}s:8:\"userName\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"The
  userName and autoUser properties are mutually exclusive; you must specify one but
  not both.\";s:5:\"title\";s:58:\"The name of the user identity under which the task
  is run.\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:64:\"The definition of the
  user identity under which the task is run.\";}s:27:\"VirtualMachineConfiguration\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"dataDisks\";O:8:\"stdClass\":4:{s:11:\"description\";s:112:\"This
  property must be specified if the compute nodes in the pool need to have empty data
  disks attached to them.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DataDisk\";}s:5:\"title\";s:75:\"The
  configuration for data disks attached to the comptue nodes in the pool.\";s:4:\"type\";s:5:\"array\";}s:14:\"imageReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ImageReference\";s:5:\"title\";s:103:\"A
  reference to the Azure Virtual Machines Marketplace Image or the custom Virtual
  Machine Image to use.\";}s:11:\"licenseType\";O:8:\"stdClass\":3:{s:11:\"description\";s:375:\"This
  only applies to images that contain the Windows operating system, and should only
  be used when you hold valid on-premises licenses for the nodes which will be deployed.
  If omitted, no on-premises licensing discount is applied. Values are:\n\n Windows_Server
  - The on-premises license is for Windows Server.\n Windows_Client - The on-premises
  license is for Windows Client.\n\";s:5:\"title\";s:79:\"The type of on-premises
  license to be used when deploying the operating system.\";s:4:\"type\";s:6:\"string\";}s:14:\"nodeAgentSkuId\";O:8:\"stdClass\":3:{s:11:\"description\";s:486:\"The
  Batch node agent is a program that runs on each node in the pool, and provides the
  command-and-control interface between the node and the Batch service. There are
  different implementations of the node agent, known as SKUs, for different operating
  systems. You must specify a node agent SKU which matches the selected image reference.
  To get the list of supported node agent SKUs along with their list of verified image
  references, see the 'List supported node agent SKUs' operation.\";s:5:\"title\";s:79:\"The
  SKU of the Batch node agent to be provisioned on compute nodes in the pool.\";s:4:\"type\";s:6:\"string\";}s:6:\"osDisk\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/OSDisk\";s:5:\"title\";s:62:\"Settings
  for the operating system disk of the Virtual Machine.\";}s:20:\"windowsConfiguration\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:34:\"#/definitions/WindowsConfiguration\";s:11:\"description\";s:85:\"This
  property must not be specified if the imageReference specifies a Linux OS image.\";s:5:\"title\";s:57:\"Windows
  operating system settings on the virtual machine.\";}}s:8:\"required\";a:2:{i:0;s:14:\"imageReference\";i:1;s:14:\"nodeAgentSkuId\";}s:5:\"title\";s:97:\"The
  configuration for compute nodes in a pool based on the Azure Virtual Machines infrastructure.\";}s:20:\"WindowsConfiguration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"enableAutomaticUpdates\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"If
  omitted, the default value is true.\";s:5:\"title\";s:61:\"Whether automatic updates
  are enabled on the virtual machine.\";s:4:\"type\";s:7:\"boolean\";}}s:5:\"title\";s:66:\"Windows
  operating system settings to apply to the virtual machine.\";}}"
...
