---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:31:\"StreamAnalyticsManagementClient\";s:7:\"version\";s:10:\"2016-03-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:179:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2016-03-01/transformations.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:31:\"streamanalytics-transformations\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:37:\"azure_streamanalytics_transformations\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/transformations/{transformationName}
  : get:
      description: Gets details about the specified transformation.
      operationId: Transformations_Get
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/StreamingJobNameParameter'
      - $ref: '#/parameters/TransformationNameParameter'
      responses:
        200:
          description: Successfully retrieved the specified transformation.
          headers:
            ETag:
              description: The current entity tag for the transformation. This is
                an opaque string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              type: string
          schema:
            $ref: '#/definitions/Transformation'
      tags:
      - Transformations
      x-ms-examples:
        Get a transformation:
          parameters:
            api-version: "2016-03-01"
            jobName: sj8374
            resourceGroupName: sjrg4423
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
            transformationName: transformation952
          responses:
            200:
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg4423/providers/Microsoft.StreamAnalytics/streamingjobs/sj8374/transformations/transformation952
                name: transformation952
                properties:
                  query: Select Id, Name from inputtest
                  streamingUnits: 6
                type: Microsoft.StreamAnalytics/streamingjobs/transformations
              headers:
                ETag: be3cfaa2-3d02-4624-92d7-a26766306c8b
    patch:
      description: Updates an existing transformation under an existing streaming
        job. This can be used to partially update (ie. update one or two properties)
        a transformation without affecting the rest the job or transformation definition.
      operationId: Transformations_Update
      parameters:
      - description: A Transformation object. The properties specified here will overwrite
          the corresponding properties in the existing transformation (ie. Those properties
          will be updated). Any properties that are set to null here will mean that
          the corresponding property in the existing transformation will remain the
          same and not change as a result of this PATCH operation.
        in: body
        name: transformation
        required: true
        schema:
          $ref: '#/definitions/Transformation'
      - description: The ETag of the transformation. Omit this value to always overwrite
          the current transformation. Specify the last-seen ETag value to prevent
          accidentally overwritting concurrent changes.
        in: header
        name: If-Match
        required: false
        type: string
        x-ms-client-name: IfMatch
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/StreamingJobNameParameter'
      - $ref: '#/parameters/TransformationNameParameter'
      responses:
        200:
          description: The transformation was successfully updated.
          headers:
            ETag:
              description: The current entity tag for the transformation. This is
                an opaque string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              type: string
          schema:
            $ref: '#/definitions/Transformation'
      tags:
      - Transformations
      x-ms-examples:
        Update a transformation:
          parameters:
            api-version: "2016-03-01"
            jobName: sj8374
            resourceGroupName: sjrg4423
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
            transformation:
              properties:
                query: New query
            transformationName: transformation952
          responses:
            200:
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg4423/providers/Microsoft.StreamAnalytics/streamingjobs/sj8374/transformations/transformation952
                name: transformation952
                properties:
                  query: New query
                  streamingUnits: 6
                type: Microsoft.StreamAnalytics/streamingjobs/transformations
              headers:
                ETag: fc6f7a9b-3eea-4589-8265-cc854ec25f5a
    put:
      description: Creates a transformation or replaces an already existing transformation
        under an existing streaming job.
      operationId: Transformations_CreateOrReplace
      parameters:
      - description: The definition of the transformation that will be used to create
          a new transformation or replace the existing one under the streaming job.
        in: body
        name: transformation
        required: true
        schema:
          $ref: '#/definitions/Transformation'
      - description: The ETag of the transformation. Omit this value to always overwrite
          the current transformation. Specify the last-seen ETag value to prevent
          accidentally overwritting concurrent changes.
        in: header
        name: If-Match
        required: false
        type: string
        x-ms-client-name: IfMatch
      - description: Set to '*' to allow a new transformation to be created, but to
          prevent updating an existing transformation. Other values will result in
          a 412 Pre-condition Failed response.
        in: header
        name: If-None-Match
        required: false
        type: string
        x-ms-client-name: IfNoneMatch
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/StreamingJobNameParameter'
      - $ref: '#/parameters/TransformationNameParameter'
      responses:
        200:
          description: The transformation was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the transformation. This is
                an opaque string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              type: string
          schema:
            $ref: '#/definitions/Transformation'
        201:
          description: The transformation was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the transformation. This is
                an opaque string. You can use it to detect whether the resource has
                changed between requests. You can also use it in the If-Match or If-None-Match
                headers for write operations for optimistic concurrency.
              type: string
          schema:
            $ref: '#/definitions/Transformation'
      tags:
      - Transformations
      x-ms-examples:
        Create a transformation:
          parameters:
            api-version: "2016-03-01"
            jobName: sj8374
            resourceGroupName: sjrg4423
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
            transformation:
              properties:
                query: Select Id, Name from inputtest
                streamingUnits: 6
            transformationName: transformation952
          responses:
            200:
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg4423/providers/Microsoft.StreamAnalytics/streamingjobs/sj8374/transformations/transformation952
                name: transformation952
                properties:
                  query: Select Id, Name from inputtest
                  streamingUnits: 6
                type: Microsoft.StreamAnalytics/streamingjobs/transformations
              headers:
                ETag: be3cfaa2-3d02-4624-92d7-a26766306c8b
            201:
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg4423/providers/Microsoft.StreamAnalytics/streamingjobs/sj8374/transformations/transformation952
                name: transformation952
                properties:
                  query: Select Id, Name from inputtest
                  streamingUnits: 6
                type: Microsoft.StreamAnalytics/streamingjobs/transformations
              headers:
                ETag: be3cfaa2-3d02-4624-92d7-a26766306c8b
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:11:\"SubResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  base sub-resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Resource
  Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Resource
  name\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:14:\"Transformation\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:150:\"A
  transformation object, containing all information associated with the named transformation.
  All transformations are contained under a streaming job.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:38:\"#/definitions/TransformationProperties\";s:11:\"description\";s:101:\"The
  properties that are associated with a transformation. Required on PUT (CreateOrReplace)
  requests.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:24:\"TransformationProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  properties that are associated with a transformation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:258:\"The
  current entity tag for the transformation. This is an opaque string. You can use
  it to detect whether the resource has changed between requests. You can also use
  it in the If-Match or If-None-Match headers for write operations for optimistic
  concurrency.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":2:{s:11:\"description\";s:228:\"Specifies
  the query that will be run in the streaming job. You can learn more about the Stream
  Analytics Query Language (SAQL) here: https://msdn.microsoft.com/library/azure/dn834998
  . Required on PUT (CreateOrReplace) requests.\";s:4:\"type\";s:6:\"string\";}s:14:\"streamingUnits\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Specifies
  the number of streaming units that the streaming job uses.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}}"
...
