---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"StorageImportExport\";s:11:\"description\";s:48:\"The
  Storage Import/Export Resource Provider API.\";s:7:\"version\";s:10:\"2016-11-01\";}"
host: management.azure.com
paths:
  /providers/Microsoft.ImportExport/locations:
    get:
      tags:
      - StorageImportExport
      operationId: Locations_List
      description: Returns a list of locations to which you can ship the disks associated
        with an import or export job. A location is a Microsoft data center region.
      x-ms-examples:
        List locations:
          $ref: examples/ListLocations.json
      externalDocs:
        url: ""
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LocationsResponse'
        default:
          description: An error occurs.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.ImportExport/locations/{locationName}:
    get:
      tags:
      - StorageImportExport
      operationId: Locations_Get
      description: Returns the details about a location to which you can ship the
        disks associated with an import or export job. A location is an Azure region.
      x-ms-examples:
        Get locations:
          $ref: examples/GetLocation.json
      externalDocs:
        url: ""
      parameters:
      - name: locationName
        in: path
        description: The name of the location. For example, West US or westus.
        required: true
        type: string
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Location'
        default:
          description: An error occurs.
          schema:
            $ref: '#/definitions/ErrorResponse'
  /subscriptions/{subscriptionId}/providers/Microsoft.ImportExport/jobs:
    get:
      tags:
      - StorageImportExport
      operationId: Jobs_ListBySubscription
      description: Returns all active and completed jobs in a subscription.
      x-ms-examples:
        List jobs in a subscription:
          $ref: examples/ListJobsInSubscription.json
      externalDocs:
        url: ""
      parameters:
      - name: $top
        in: query
        description: An integer value that specifies how many jobs at most should
          be returned. The value cannot exceed 100.
        required: false
        type: integer
      - name: $filter
        in: query
        description: Can be used to restrict the results to certain conditions.
        required: false
        type: string
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListJobsResponse'
        default:
          description: An error occurs.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs:
    get:
      tags:
      - StorageImportExport
      operationId: Jobs_ListByResourceGroup
      description: Returns all active and completed jobs in a resource group.
      x-ms-examples:
        List jobs in a resource group:
          $ref: examples/ListJobsInResourceGroup.json
      externalDocs:
        url: ""
      parameters:
      - name: $top
        in: query
        description: An integer value that specifies how many jobs at most should
          be returned. The value cannot exceed 100.
        required: false
        type: integer
      - name: $filter
        in: query
        description: Can be used to restrict the results to certain conditions.
        required: false
        type: string
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListJobsResponse'
        default:
          description: An error occurs.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}:
    get:
      tags:
      - StorageImportExport
      operationId: Jobs_Get
      description: Gets information about an existing job.
      x-ms-examples:
        Get job:
          $ref: examples/GetJob.json
      externalDocs:
        url: ""
      parameters:
      - name: jobName
        in: path
        description: The name of the import/export job.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobResponse'
        default:
          description: An error occurs.
          schema:
            $ref: '#/definitions/ErrorResponse'
    patch:
      tags:
      - StorageImportExport
      operationId: Jobs_Update
      description: Updates specific properties of a job. You can call this operation
        to notify the Import/Export service that the hard drives comprising the import
        or export job have been shipped to the Microsoft data center. It can also
        be used to cancel an existing job.
      x-ms-examples:
        Update job:
          $ref: examples/UpdateJob.json
      externalDocs:
        url: ""
      parameters:
      - name: jobName
        in: path
        description: The name of the import/export job.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      - name: body
        in: body
        required: true
        description: The parameters to update in the job
        schema:
          $ref: '#/definitions/UpdateJobParameters'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobResponse'
        default:
          description: An error occurs.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
      - StorageImportExport
      operationId: Jobs_Create
      description: Creates a new job or updates an existing job in the specified subscription.
      x-ms-examples:
        Create job:
          $ref: examples/CreateJob.json
      externalDocs:
        url: ""
      parameters:
      - name: jobName
        in: path
        description: The name of the import/export job.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      - $ref: '#/parameters/x-ms-client-tenant-id'
      - name: body
        in: body
        description: The parameters used for creating the job
        required: true
        schema:
          $ref: '#/definitions/PutJobParameters'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobResponse'
        201:
          description: Created
          schema:
            $ref: '#/definitions/JobResponse'
        default:
          description: An error occurs.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - StorageImportExport
      operationId: Jobs_Delete
      description: Deletes an existing job. Only jobs in the Creating or Completed
        states can be deleted.
      x-ms-examples:
        Delete job:
          $ref: examples/DeleteJob.json
      externalDocs:
        url: ""
      parameters:
      - name: jobName
        in: path
        description: The name of the import/export job.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: OK
        default:
          description: An error occurs.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}/listBitLockerKeys
  : post:
      tags:
      - StorageImportExport
      operationId: BitLockerKeys_List
      description: Returns the BitLocker Keys for all drives in the specified job.
      x-ms-examples:
        List BitLocker Keys for drives in a job:
          $ref: examples/ListBitLockerKeys.json
      externalDocs:
        url: ""
      parameters:
      - name: jobName
        in: path
        description: The name of the import/export job.
        required: true
        type: string
      - $ref: '#/parameters/subscriptionId'
      - $ref: '#/parameters/resourceGroupName'
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GetBitLockerKeysResponse'
        default:
          description: An error occurs.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.ImportExport/operations:
    get:
      tags:
      - StorageImportExport
      operationId: Operations_List
      description: Returns the list of operations supported by the import/export resource
        provider.
      x-ms-examples:
        List available operations:
          $ref: examples/ListOperations.json
      externalDocs:
        url: ""
      parameters:
      - $ref: '#/parameters/api-version'
      - $ref: '#/parameters/Accept-Language'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListOperationsResponse'
        default:
          description: An error occurs.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-pageable:
        nextLinkName: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":18:{s:13:\"ErrorResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Response
  when errors occurred\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:32:\"Describes
  the error information.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Provides
  information about the error code.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Provides
  information about the error message.\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Provides
  information about the error target.\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:39:\"Describes
  the error details if present.\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Provides
  information about the error code.\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Provides
  information about the error target.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Provides
  information about the error message.\";}}}}s:10:\"innererror\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:30:\"Inner
  error object if present.\";}}}}}s:16:\"PutJobParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Put
  Job parameters\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"Specifies
  the supported Azure location where the job should be created\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:52:\"Specifies
  the tags that will be assigned to the job.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JobDetails\";s:11:\"description\";s:28:\"Specifies
  the job properties\";}}}s:10:\"JobDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Specifies
  the job properties\";s:10:\"properties\";O:8:\"stdClass\":17:{s:16:\"storageAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"The
  resource identifier of the storage account where data will be imported to or exported
  from.\";}s:7:\"jobType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  type of job\";}s:13:\"returnAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Specifies
  the return address information for the job. \";s:4:\"$ref\";s:27:\"#/definitions/ReturnAddress\";}s:14:\"returnShipping\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Specifies
  the return carrier and customer's account with the carrier. \";s:4:\"$ref\";s:28:\"#/definitions/ReturnShipping\";}s:19:\"shippingInformation\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Contains
  information about the Microsoft datacenter to which the drives should be shipped.
  \";s:4:\"$ref\";s:33:\"#/definitions/ShippingInformation\";}s:15:\"deliveryPackage\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Contains
  information about the package being shipped by the customer to the Microsoft data
  center. \";s:4:\"$ref\";s:31:\"#/definitions/PackageInfomation\";}s:13:\"returnPackage\";O:8:\"stdClass\":2:{s:11:\"description\";s:256:\"Contains
  information about the package being shipped from the Microsoft data center to the
  customer to return the drives. The format is the same as the deliveryPackage property
  above. This property is not included if the drives have not yet been returned. \";s:4:\"$ref\";s:31:\"#/definitions/PackageInfomation\";}s:15:\"diagnosticsPath\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"The
  virtual blob directory to which the copy logs and backups of drive manifest files
  (if enabled) will be stored.\";}s:8:\"logLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Default
  value is Error. Indicates whether error logging or verbose logging will be enabled.\";}s:19:\"backupDriveManifest\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:107:\"Default
  value is false. Indicates whether the manifest files on the drives should be copied
  to block blobs.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Current
  state of the job.\";}s:15:\"cancelRequested\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:65:\"Indicates
  whether a request has been submitted to cancel the job.\";}s:15:\"percentComplete\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"Overall
  percentage completed for the job.\";}s:21:\"incompleteBlobListUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:219:\"A
  blob path that points to a block blob containing a list of blob names that were
  not exported due to insufficient drive space. If all blobs were exported successfully,
  then this element is not included in the response.\";}s:9:\"driveList\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"List
  of up to ten drives that comprise the job. The drive list is a required element
  for an import job; it is not specified for export jobs.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DriveStatus\";}}s:6:\"export\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"A
  property containing information about the blobs to be exported for an export job.
  This property is included for export jobs only.\";s:4:\"$ref\";s:20:\"#/definitions/Export\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Specifies
  the provisioning state of the job.\";}}}s:19:\"UpdateJobParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Update
  Job parameters\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:51:\"Specifies
  the tags that will be assigned to the job\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"cancelRequested\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:82:\"If
  specified, the value must be true. The service will attempt to cancel the job. \";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:277:\"If
  specified, the value must be Shipping, which tells the Import/Export service that
  the package for the job has been shipped. The ReturnAddress and DeliveryPackage
  properties must have been set either in this request or in a previous request, otherwise
  the request will fail. \";}s:13:\"returnAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Specifies
  the return address information for the job.\";s:4:\"$ref\";s:27:\"#/definitions/ReturnAddress\";}s:14:\"returnShipping\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Specifies
  the return carrier and customer's account with the carrier.\";s:4:\"$ref\";s:28:\"#/definitions/ReturnShipping\";}s:15:\"deliveryPackage\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Contains
  information about the package being shipped by the customer to the Microsoft data
  center.\";s:4:\"$ref\";s:31:\"#/definitions/PackageInfomation\";}s:8:\"logLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Indicates
  whether error logging or verbose logging is enabled.\";}s:19:\"backupDriveManifest\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:83:\"Indicates
  whether the manifest files on the drives should be copied to block blobs.\";}s:9:\"driveList\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"List
  of drives that comprise the job.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DriveStatus\";}}}s:11:\"description\";s:40:\"Specifies
  the properties of a UpdateJob.\";}}}s:16:\"ListJobsResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"List
  jobs response\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"link
  to next batch of jobs\";}s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:8:\"Job
  list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/JobResponse\";}}}}s:11:\"JobResponse\";O:8:\"stdClass\":3:{s:19:\"x-ms-azure-resource\";b:1;s:11:\"description\";s:29:\"Contains
  the job information.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Specifies
  the resource identifier of the job.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Specifies
  the name of the job.\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Specifies
  the type of the job resource.\";s:8:\"readOnly\";b:1;}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Specifies
  the Azure location where the job is created.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:48:\"Specifies
  the tags that are assigned to the job.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JobDetails\";s:11:\"description\";s:28:\"Specifies
  the job properties\";}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Describes
  a supported operation by the Storage Import/Export job API.\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:7:\"display\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Name
  of the operation.\";}s:7:\"display\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:28:\"operation
  display properties\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"provider\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  resource provider name to which the operation belongs.\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  name of the resource to which the operation belongs.\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  display name of the operation.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Short
  description of the operation.\";}}}}}s:8:\"Location\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Provides
  information about an Azure data center location.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Specifies
  the resource identifier of the location. \";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Specifies
  the name of the location. Use List Locations to get all supported locations. \";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Specifies
  the type of the location. \";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:19:\"location
  properties\";s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"recipientName\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  recipient name to use when shipping the drives to the Azure data center. \";s:4:\"type\";s:6:\"string\";}s:14:\"streetAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  first line of the street address to use when shipping the drives to the Azure data
  center. \";s:4:\"type\";s:6:\"string\";}s:14:\"streetAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  second line of the street address to use when shipping the drives to the Azure data
  center. \";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  city name to use when shipping the drives to the Azure data center. \";s:4:\"type\";s:6:\"string\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  state or province to use when shipping the drives to the Azure data center. \";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  postal code to use when shipping the drives to the Azure data center. \";s:4:\"type\";s:6:\"string\";}s:15:\"countryOrRegion\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  country or region to use when shipping the drives to the Azure data center. \";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  phone number for the Azure data center. \";s:4:\"type\";s:6:\"string\";}s:17:\"supportedCarriers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:56:\"A
  list of carriers that are supported at this location. \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:18:\"alternateLocations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:268:\"A
  list of location IDs that should be used to ship shipping drives to for jobs created
  against the current location. If the current location is active, it will be part
  of the list. If it is temporarily closed due to maintenance, this list may contain
  other locations. \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:13:\"ReturnAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Specifies
  the return address information for the job.\";s:8:\"required\";a:7:{i:0;s:13:\"recipientName\";i:1;s:14:\"streetAddress1\";i:2;s:4:\"city\";i:3;s:10:\"postalCode\";i:4;s:15:\"countryOrRegion\";i:5;s:5:\"phone\";i:6;s:5:\"email\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"recipientName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"The
  name of the recipient who will receive the hard drives when they are returned. \";}s:14:\"streetAddress1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"The
  first line of the street address to use when returning the drives. \";}s:14:\"streetAddress2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"The
  second line of the street address to use when returning the drives. \";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  city name to use when returning the drives.\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  state or province to use when returning the drives.\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  postal code to use when returning the drives.\";}s:15:\"countryOrRegion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  country or region to use when returning the drives. \";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Phone
  number of the recipient of the returned drives.\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Email
  address of the recipient of the returned drives.\";}}}s:14:\"ReturnShipping\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Specifies
  the return carrier and customer's account with the carrier.\";s:8:\"required\";a:2:{i:0;s:11:\"carrierName\";i:1;s:20:\"carrierAccountNumber\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"carrierName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  carrier's name.\";}s:20:\"carrierAccountNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  customer's account number with the carrier.\";}}}s:19:\"ShippingInformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Contains
  information about the Microsoft datacenter to which the drives should be shipped.\";s:8:\"required\";a:6:{i:0;s:13:\"recipientName\";i:1;s:14:\"streetAddress1\";i:2;s:4:\"city\";i:3;s:15:\"stateOrProvince\";i:4;s:10:\"postalCode\";i:5;s:15:\"countryOrRegion\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"recipientName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"The
  name of the recipient who will receive the hard drives when they are returned. \";}s:14:\"streetAddress1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"The
  first line of the street address to use when returning the drives. \";}s:14:\"streetAddress2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"The
  second line of the street address to use when returning the drives. \";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  city name to use when returning the drives.\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  state or province to use when returning the drives.\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  postal code to use when returning the drives.\";}s:15:\"countryOrRegion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  country or region to use when returning the drives. \";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Phone
  number of the recipient of the returned drives.\";}}}s:17:\"PackageInfomation\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Contains
  information about the package being shipped by the customer to the Microsoft data
  center.\";s:8:\"required\";a:4:{i:0;s:11:\"carrierName\";i:1;s:14:\"trackingNumber\";i:2;s:10:\"driveCount\";i:3;s:8:\"shipDate\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"carrierName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"The
  name of the carrier that is used to ship the import or export drives.\";}s:14:\"trackingNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  tracking number of the package.\";}s:10:\"driveCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:45:\"The
  number of drives included in the package.\";}s:8:\"shipDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  date when the package is shipped.\";}}}s:11:\"DriveStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Provides
  information about the drive's status\";s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"driveId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  drive's hardware serial number, without spaces.\";}s:12:\"bitLockerKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  BitLocker key used to encrypt the drive.\";}s:12:\"manifestFile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  relative path of the manifest file on the drive. \";}s:12:\"manifestHash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"The
  Base16-encoded MD5 hash of the manifest file on the drive.\";}s:15:\"driveHeaderHash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  drive header hash value.\";}s:5:\"state\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  drive's current state. \";s:4:\"enum\";a:7:{i:0;s:9:\"Specified\";i:1;s:8:\"Received\";i:2;s:13:\"NeverReceived\";i:3;s:12:\"Transferring\";i:4;s:9:\"Completed\";i:5;s:17:\"CompletedMoreInfo\";i:6;s:11:\"ShippedBack\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"DriveState\";s:13:\"modelAsString\";b:1;}}s:10:\"copyStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:137:\"Detailed
  status about the data transfer process. This field is not returned in the response
  until the drive is in the Transferring state.\";}s:15:\"percentComplete\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:36:\"Percentage
  completed for the drive. \";}s:13:\"verboseLogUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"A
  URI that points to the blob containing the verbose log for the data transfer operation.
  \";}s:11:\"errorLogUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"A
  URI that points to the blob containing the error log for the data transfer operation.\";}s:11:\"manifestUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"A
  URI that points to the blob containing the drive manifest file. \";}s:14:\"bytesSucceeded\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:45:\"Bytes
  successfully transferred for the drive.\";}}}s:6:\"Export\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"A
  property containing information about the blobs to be exported for an export job.
  This property is required for export jobs, but must not be specified for import
  jobs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"blobList\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"A
  list of the blobs to be exported.\";s:19:\"x-ms-client-flatten\";b:1;s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"blobPath\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:34:\"A
  collection of blob-path strings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"blobPathPrefix\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:36:\"A
  collection of blob-prefix strings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:16:\"blobListblobPath\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:212:\"The
  relative URI to the block blob that contains the list of blob paths or blob path
  prefixes as defined above, beginning with the container name. If the blob is in
  root container, the URI must begin with $root. \";}}}s:17:\"LocationsResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Locations
  response\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:9:\"locations\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}}}}s:24:\"GetBitLockerKeysResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"GetBitLockerKeys
  response\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"drive
  status\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DriveBitLockerKey\";}}}}s:17:\"DriveBitLockerKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"BitLocker
  recovery key or password to the specified drive\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"bitLockerKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"BitLocker
  recovery key or password\";}s:7:\"driveId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Drive
  ID\";}}}s:22:\"ListOperationsResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"List
  operations response\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:10:\"operations\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}}}}}"
...
