---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2017-03-30\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/publicipaddresses
  : get:
      operationId: PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses
      description: Gets information about all public IP addresses on a virtual machine
        scale set level.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualMachineScaleSetName
        in: path
        required: true
        type: string
        description: The name of the virtual machine scale set.
      - name: api-version
        in: query
        required: true
        type: string
        enum:
        - "2017-03-30"
        x-ms-enum:
          name: ApiVersion
          modelAsString: true
        description: Client API version.
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of PublicIPInterface
            resources.
          schema:
            $ref: ./publicIpAddress.json#/definitions/PublicIPAddressListResult
      x-ms-examples:
        ListVMSSPublicIP:
          $ref: ./examples/VmssPublicIpListAll.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses
  : get:
      operationId: PublicIPAddresses_ListVirtualMachineScaleSetVMPublicIPAddresses
      description: Gets information about all public IP addresses in a virtual machine
        IP configuration in a virtual machine scale set.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualMachineScaleSetName
        in: path
        required: true
        type: string
        description: The name of the virtual machine scale set.
      - name: virtualmachineIndex
        in: path
        required: true
        type: string
        description: The virtual machine index.
      - name: networkInterfaceName
        in: path
        required: true
        type: string
        description: The network interface name.
      - name: ipConfigurationName
        in: path
        required: true
        type: string
        description: The IP configuration name.
      - name: api-version
        in: query
        required: true
        type: string
        enum:
        - "2017-03-30"
        x-ms-enum:
          name: ApiVersion
          modelAsString: true
        description: Client API version.
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of PublicIPAddress
            resources.
          schema:
            $ref: ./publicIpAddress.json#/definitions/PublicIPAddressListResult
      x-ms-examples:
        ListVMSSVMPublicIP:
          $ref: ./examples/VmssVmPublicIpList.json
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses/{publicIpAddressName}
  : get:
      operationId: PublicIPAddresses_GetVirtualMachineScaleSetPublicIPAddress
      description: Get the specified public IP address in a virtual machine scale
        set.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: virtualMachineScaleSetName
        in: path
        required: true
        type: string
        description: The name of the virtual machine scale set.
      - name: virtualmachineIndex
        in: path
        required: true
        type: string
        description: The virtual machine index.
      - name: networkInterfaceName
        in: path
        required: true
        type: string
        description: The name of the network interface.
      - name: ipConfigurationName
        in: path
        required: true
        type: string
        description: The name of the IP configuration.
      - name: publicIpAddressName
        in: path
        required: true
        type: string
        description: The name of the public IP Address.
      - name: api-version
        in: query
        required: true
        type: string
        enum:
        - "2017-03-30"
        x-ms-enum:
          name: ApiVersion
          modelAsString: true
        description: Client API version.
      - $ref: '#/parameters/SubscriptionIdParameter'
      - name: $expand
        in: query
        required: false
        type: string
        description: Expands referenced resources.
      x-ms-examples:
        GetVMSSPublicIP:
          $ref: ./examples/VmssPublicIpGet.json
      responses:
        200:
          description: Request successful. The operation returns the resulting PublicIPAddress
            resource.
          schema:
            $ref: ./publicIpAddress.json#/definitions/PublicIPAddress
produces:
- application/json
- text/json
schemes:
- https
...
