---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"ApiManagementClient\";s:11:\"description\";s:81:\"Use
  these REST APIs for performing operations in Azure API Management deployment.\";s:7:\"version\";s:18:\"2018-06-01-preview\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/regions
  : get:
      tags:
      - Region
      operationId: Region_ListByService
      description: Lists all azure regions in which the service exists.
      x-ms-examples:
        ApiManagementListRegions:
          $ref: ./examples/ApiManagementListRegions.json
      parameters:
      - $ref: ./apimanagement.json#/parameters/ResourceGroupNameParameter
      - $ref: ./apimanagement.json#/parameters/ServiceNameParameter
      - $ref: ./apimanagement.json#/parameters/ApiVersionParameter
      - $ref: ./apimanagement.json#/parameters/SubscriptionIdParameter
      responses:
        200:
          description: Lists of Regions in which the service is deployed.
          schema:
            $ref: ./apimanagement.json#/definitions/RegionListResult
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
