---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"HDInsightManagementClient\";s:11:\"description\";s:32:\"The
  HDInsight Management Client.\";s:7:\"version\";s:18:\"2015-03-01-preview\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}:
    put:
      tags:
      - Clusters
      operationId: Clusters_Create
      description: Creates a new HDInsight cluster with the specified parameters.
      x-ms-examples:
        Create Hadoop on Linux cluster with SSH password:
          $ref: ./examples/CreateLinuxHadoopSshPassword.json
        Create Hadoop on Linux cluster with SSH public key:
          $ref: ./examples/CreateLinuxHadoopSshPublicKey.json
        Create Spark on Linux Cluster with SSH password:
          $ref: ./examples/CreateLinuxSparkSshPassword.json
        Create Secure Hadoop cluster:
          $ref: ./examples/CreateLinuxHadoopSecureHadoop.json
        Create Hadoop cluster with Azure Data Lake Storage Gen 2:
          $ref: ./examples/CreateLinuxHadoopAdlsGen2.json
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ClusterCreateParametersExtended'
        description: The cluster create request.
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./operations.json#/definitions/ErrorResponse
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/Cluster'
      x-ms-long-running-operation: true
    patch:
      tags:
      - Clusters
      operationId: Clusters_Update
      description: Patch HDInsight cluster with the specified parameters.
      x-ms-examples:
        Patch HDInsight Linux clusters:
          $ref: ./examples/PatchLinuxHadoopCluster.json
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ClusterPatchParameters'
        description: The cluster patch request.
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./operations.json#/definitions/ErrorResponse
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/Cluster'
    delete:
      tags:
      - Clusters
      operationId: Clusters_Delete
      description: Deletes the specified HDInsight cluster.
      x-ms-examples:
        Delete Hadoop on Linux cluster:
          $ref: ./examples/DeleteLinuxHadoopCluster.json
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./operations.json#/definitions/ErrorResponse
        202:
          description: Accepted response definition.
        200:
          description: Ok response definition.
      x-ms-long-running-operation: true
    get:
      tags:
      - Clusters
      operationId: Clusters_Get
      description: Gets the specified cluster.
      x-ms-examples:
        Get Hadoop on Linux cluster:
          $ref: ./examples/GetLinuxHadoopCluster.json
        Get Spark on Linux cluster:
          $ref: ./examples/GetLinuxSparkCluster.json
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./operations.json#/definitions/ErrorResponse
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/Cluster'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters:
    get:
      tags:
      - Clusters
      operationId: Clusters_ListByResourceGroup
      description: Lists the HDInsight clusters in a resource group.
      x-ms-examples:
        Get All Hadoop on Linux clusters in a resource group:
          $ref: ./examples/GetLinuxHadoopAllClustersInResourceGroup.json
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./operations.json#/definitions/ErrorResponse
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/ClusterListResult'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/roles/{roleName}/resize
  : post:
      tags:
      - Clusters
      operationId: Clusters_Resize
      description: Resizes the specified HDInsight cluster to the specified size.
      x-ms-examples:
        Resize the worker nodes for a Hadoop on Linux cluster:
          $ref: ./examples/ResizeLinuxHadoopCluster.json
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - name: roleName
        in: path
        required: true
        type: string
        description: The constant value for the roleName
        enum:
        - workernode
        x-ms-enum:
          name: RoleName
          modelAsString: true
      - $ref: '#/parameters/ApiVersionParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ClusterResizeParameters'
        description: The parameters for the resize operation.
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./operations.json#/definitions/ErrorResponse
        200:
          description: OK response definition.
        202:
          description: Accepted response definition.
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/clusters:
    get:
      tags:
      - Clusters
      operationId: Clusters_List
      x-ms-examples:
        Get All Hadoop on Linux clusters:
          $ref: ./examples/GetLinuxHadoopAllClusters.json
      description: Lists all the HDInsight clusters under the subscription.
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./operations.json#/definitions/ErrorResponse
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/ClusterListResult'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/rotatediskencryptionkey
  : post:
      tags:
      - Clusters
      operationId: Clusters_RotateDiskEncryptionKey
      x-ms-examples:
        Rotate disk encryption key of the specified HDInsight cluster:
          $ref: ./examples/RotateLinuxHadoopClusterDiskEncryptionKey.json
      description: Rotate disk encryption key of the specified HDInsight cluster.
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ClusterDiskEncryptionParameters'
        description: The parameters for the disk encryption operation.
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./operations.json#/definitions/ErrorResponse
        200:
          description: OK response definition.
        202:
          description: Accepted response definition.
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/getGatewaySettings
  : post:
      tags:
      - Clusters
      operationId: Clusters_GetGatewaySettings
      description: Gets the gateway settings for the specified cluster.
      x-ms-examples:
        Get HTTP settings:
          $ref: ./examples/HDI_Clusters_GetGatewaySettings.json
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./operations.json#/definitions/ErrorResponse
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/GatewaySettings'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/updateGatewaySettings
  : post:
      tags:
      - Clusters
      operationId: Clusters_UpdateGatewaySettings
      description: Configures the gateway settings on the specified cluster.
      x-ms-examples:
        Enable HTTP connectivity:
          $ref: ./examples/HDI_Clusters_UpdateGatewaySettings_Enable.json
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ClusterNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/UpdateGatewaySettingsParameters'
        description: The cluster configurations.
      responses:
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./operations.json#/definitions/ErrorResponse
        200:
          description: OK response definition.
        202:
          description: Accepted response definition
      x-ms-long-running-operation: true
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":38:{s:17:\"ClusterDefinition\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  cluster definition.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"blueprint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  link to the blueprint.\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  type of cluster.\";}s:16:\"componentVersion\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:50:\"The
  versions of different services in the cluster.\";}s:14:\"configurations\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"The
  cluster configurations.\";}}}s:15:\"SecurityProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  security profile which contains Ssh public key for the HDInsight cluster.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"directoryType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  directory type.\";s:4:\"enum\";a:1:{i:0;s:15:\"ActiveDirectory\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"DirectoryType\";s:13:\"modelAsString\";b:0;}}s:6:\"domain\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  organization's active directory domain.\";}s:20:\"organizationalUnitDN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:94:\"The
  organizational unit within the Active Directory to place the cluster and service
  accounts.\";}s:9:\"ldapsUrls\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:65:\"The
  LDAPS protocol URLs to communicate with the Active Directory.\";}s:14:\"domainUsername\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"The
  domain user account that will have admin privileges on the cluster.\";}s:18:\"domainUserPassword\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"password\";s:11:\"description\";s:26:\"The
  domain admin password.\";}s:20:\"clusterUsersGroupDNs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:57:\"Optional.
  The Distinguished Names for cluster user groups\";}s:15:\"aaddsResourceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  resource ID of the user's Azure Active Directory Domain Service.\";}s:13:\"msiResourceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"User
  assigned identity that has permissions to read and create cluster-related artifacts
  in the user's AADDS.\";}}}s:15:\"HardwareProfile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"vmSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  size of the VM\";}}s:11:\"description\";s:21:\"The hardware profile.\";}s:21:\"VirtualNetworkProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  virtual network properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  ID of the virtual network.\";}s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  name of the subnet.\";}}}s:15:\"DataDisksGroups\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  data disks groups for the role.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"disksPerNode\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"The
  number of disks per node.\";}s:18:\"storageAccountType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"ReadOnly.
  The storage account type. Do not set this value.\";s:8:\"readOnly\";b:1;}s:10:\"diskSizeGB\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:52:\"ReadOnly.
  The DiskSize in GB. Do not set this value.\";s:8:\"readOnly\";b:1;}}}s:12:\"SshPublicKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  SSH public key for the cluster nodes.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"certificateData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  certificate for SSH.\";}}}s:10:\"SshProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  list of SSH public keys.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"publicKeys\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SshPublicKey\";}s:11:\"description\";s:28:\"The
  list of SSH public keys.\";}}}s:27:\"LinuxOperatingSystemProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  ssh username, password, and ssh public key.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"The
  username.\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"The
  password.\";}s:10:\"sshProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SshProfile\";s:11:\"description\";s:16:\"The
  SSH profile.\";}}}s:9:\"OsProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  Linux operation systems profile.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:27:\"linuxOperatingSystemProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/LinuxOperatingSystemProfile\";s:11:\"description\";s:21:\"The
  Linux OS profile.\";}}}s:4:\"Role\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  name of the role.\";}s:16:\"minInstanceCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:42:\"The
  minimum instance count of the cluster.\";}s:19:\"targetInstanceCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:34:\"The
  instance count of the cluster.\";}s:15:\"hardwareProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/HardwareProfile\";s:11:\"description\";s:21:\"The
  hardware profile.\";}s:9:\"osProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/OsProfile\";s:11:\"description\";s:29:\"The
  operating system profile.\";}s:21:\"virtualNetworkProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/VirtualNetworkProfile\";s:11:\"description\";s:28:\"The
  virtual network profile.\";}s:15:\"dataDisksGroups\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DataDisksGroups\";}s:11:\"description\";s:35:\"The
  data disks groups for the role.\";}s:13:\"scriptActions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"./scriptActions.json#/definitions/ScriptAction\";}s:11:\"description\";s:39:\"The
  list of script actions on the role.\";}}s:11:\"description\";s:32:\"Describes a
  role on the cluster.\";}s:14:\"ComputeProfile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"roles\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Role\";}s:11:\"description\";s:33:\"The
  list of roles in the cluster.\";}}s:11:\"description\";s:30:\"Describes the compute
  profile.\";}s:14:\"StorageAccount\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  name of the storage account.\";}s:9:\"isDefault\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:66:\"Whether
  or not the storage account is the default storage account.\";}s:9:\"container\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"The
  container in the storage account, only to be specified for WASB storage accounts.\";}s:10:\"fileSystem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"The
  filesystem, only to be specified for Azure Data Lake Storage Gen 2.\";}s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  storage account access key.\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"The
  resource ID of storage account, only to be specified for Azure Data Lake Storage
  Gen 2.\";}s:13:\"msiResourceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:129:\"The
  managed identity (MSI) that is allowed to access the storage account, only to be
  specified for Azure Data Lake Storage Gen 2.\";}}s:11:\"description\";s:20:\"The
  storage Account.\";}s:14:\"StorageProfile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"storageaccounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/StorageAccount\";}s:11:\"description\";s:44:\"The
  list of storage accounts in the cluster.\";}}s:11:\"description\";s:20:\"The storage
  profile.\";}s:23:\"ClusterCreateProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  cluster create parameters.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:14:\"clusterVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  version of the cluster.\";}s:6:\"osType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  type of operating system.\";s:4:\"enum\";a:2:{i:0;s:7:\"Windows\";i:1;s:5:\"Linux\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"OSType\";s:13:\"modelAsString\";b:0;}}s:4:\"tier\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  cluster tier.\";s:4:\"enum\";a:2:{i:0;s:8:\"Standard\";i:1;s:7:\"Premium\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"Tier\";s:13:\"modelAsString\";b:0;}}s:17:\"clusterDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ClusterDefinition\";s:11:\"description\";s:23:\"The
  cluster definition.\";}s:15:\"securityProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SecurityProfile\";s:11:\"description\";s:21:\"The
  security profile.\";}s:14:\"computeProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ComputeProfile\";s:11:\"description\";s:20:\"The
  compute profile.\";}s:14:\"storageProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StorageProfile\";s:11:\"description\";s:20:\"The
  storage profile.\";}s:24:\"diskEncryptionProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/DiskEncryptionProperties\";s:11:\"description\";s:31:\"The
  disk encryption properties.\";}}}s:31:\"ClusterCreateParametersExtended\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  location of the cluster.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"The
  resource tags.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ClusterCreateProperties\";s:11:\"description\";s:30:\"The
  cluster create parameters.\";}s:8:\"identity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ClusterIdentity\";s:11:\"description\";s:43:\"The
  identity of the cluster, if configured.\";}}s:11:\"description\";s:37:\"The CreateCluster
  request parameters.\";}s:22:\"ClusterPatchParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"tags\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"x-nullable\";b:1;s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"The
  resource tags.\";}}s:11:\"description\";s:35:\"The PatchCluster request parameters\";}s:9:\"QuotaInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  quota properties for the cluster.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"coresUsed\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:30:\"The
  cores used by the cluster.\";}}}s:6:\"Errors\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  error message associated with the cluster creation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  error code.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  error message.\";}}}s:20:\"ConnectivityEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  connectivity properties\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  name of the endpoint.\";}s:8:\"protocol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  protocol of the endpoint.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  location of the endpoint.\";}s:4:\"port\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:23:\"The
  port to connect to.\";}}}s:20:\"ClusterGetProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  properties of cluster.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:14:\"clusterVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  version of the cluster.\";}s:6:\"osType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  type of operating system.\";s:4:\"enum\";a:2:{i:0;s:7:\"Windows\";i:1;s:5:\"Linux\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"OSType\";s:13:\"modelAsString\";b:0;}}s:4:\"tier\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  cluster tier.\";s:4:\"enum\";a:2:{i:0;s:8:\"Standard\";i:1;s:7:\"Premium\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"Tier\";s:13:\"modelAsString\";b:0;}}s:17:\"clusterDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ClusterDefinition\";s:11:\"description\";s:23:\"The
  cluster definition.\";}s:15:\"securityProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SecurityProfile\";s:11:\"description\";s:21:\"The
  security profile.\";}s:14:\"computeProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ComputeProfile\";s:11:\"description\";s:20:\"The
  compute profile.\";}s:17:\"provisioningState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"The
  provisioning state, which only appears in the response.\";s:4:\"enum\";a:5:{i:0;s:10:\"InProgress\";i:1;s:6:\"Failed\";i:2;s:9:\"Succeeded\";i:3;s:8:\"Canceled\";i:4;s:8:\"Deleting\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:33:\"HDInsightClusterProvisioningState\";s:13:\"modelAsString\";b:0;}}s:11:\"createdDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  date on which the cluster was created.\";}s:12:\"clusterState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  state of the cluster.\";}s:9:\"quotaInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/QuotaInfo\";s:11:\"description\";s:22:\"The
  quota information.\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Errors\";}s:11:\"description\";s:19:\"The
  list of errors.\";}s:21:\"connectivityEndpoints\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ConnectivityEndpoint\";}s:11:\"description\";s:35:\"The
  list of connectivity endpoints.\";}s:24:\"diskEncryptionProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/DiskEncryptionProperties\";s:11:\"description\";s:31:\"The
  disk encryption properties.\";}}s:8:\"required\";a:1:{i:0;s:17:\"clusterDefinition\";}}s:7:\"Cluster\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  ETag for the resource\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ClusterGetProperties\";s:11:\"description\";s:30:\"The
  properties of the cluster.\";}s:8:\"identity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ClusterIdentity\";s:11:\"description\";s:43:\"The
  identity of the cluster, if configured.\";}}s:11:\"description\";s:22:\"The HDInsight
  cluster.\";}s:19:\"RuntimeScriptAction\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  name of the script action.\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  URI to the script.\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  parameters for the script\";}s:5:\"roles\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:48:\"The
  list of roles where script will be executed.\";}s:15:\"applicationName\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  application name of the script action, if any.\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:3:\"uri\";i:2;s:5:\"roles\";}s:11:\"description\";s:47:\"Describes
  a script action on a running cluster.\";}s:29:\"ExecuteScriptActionParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"scriptActions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/RuntimeScriptAction\";}s:11:\"description\";s:36:\"The
  list of run time script actions.\";}s:16:\"persistOnSuccess\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:50:\"Gets
  or sets if the scripts needs to be persisted.\";}}s:8:\"required\";a:1:{i:0;s:16:\"persistOnSuccess\";}s:11:\"description\";s:70:\"The
  parameters for the script actions to execute on a running cluster.\";}s:39:\"ClusterListPersistedScriptActionsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  list of Persisted Script Actions.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/RuntimeScriptAction\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";}}s:11:\"description\";s:50:\"The ListPersistedScriptActions
  operation response.\";}s:28:\"ScriptActionExecutionSummary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  status of script action execution.\";}s:13:\"instanceCount\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:62:\"The
  instance count for a given script action execution status.\";}}s:11:\"description\";s:41:\"The
  execution summary of a script action.\";}s:25:\"RuntimeScriptActionDetail\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/RuntimeScriptAction\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"scriptExecutionId\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:38:\"The
  execution id of the script action.\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  start time of script action execution.\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  end time of script action execution.\";}s:6:\"status\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  current execution status of the script action.\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  reason why the script action was executed.\";}s:16:\"executionSummary\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ScriptActionExecutionSummary\";}s:11:\"description\";s:46:\"The
  summary of script action execution result.\";}s:16:\"debugInformation\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  script action execution debug information.\";}}}}s:11:\"description\";s:41:\"The
  execution details of a script action.\";}s:42:\"ClusterListRuntimeScriptActionDetailResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/RuntimeScriptActionDetail\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";}}s:11:\"description\";s:47:\"The list
  runtime script action detail response.\";}s:15:\"ClusterIdentity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"principalId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"The
  principal id of cluster identity. This property will only be provided for a system
  assigned identity.\";}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  tenant id associated with the cluster. This property will only be provided for a
  system assigned identity.\";}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:166:\"The
  type of identity used for the cluster. The type 'SystemAssigned, UserAssigned' includes
  both an implicitly created identity and a set of user assigned identities.\";s:4:\"enum\";a:4:{i:0;s:14:\"SystemAssigned\";i:1;s:12:\"UserAssigned\";i:2;s:28:\"SystemAssigned,
  UserAssigned\";i:3;s:4:\"None\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"ResourceIdentityType\";s:13:\"modelAsString\";b:0;}}s:22:\"userAssignedIdentities\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"principalId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  principal id of user assigned identity.\";}s:8:\"clientId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  client id of user assigned identity.\";}}}s:11:\"description\";s:282:\"The list
  of user identities associated with the cluster. The user identity dictionary key
  references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.\";}}s:11:\"description\";s:25:\"Identity
  for the cluster.\";}s:17:\"ClusterListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  list of Clusters.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";}}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";}}s:11:\"description\";s:36:\"The List
  Cluster operation response.\";}s:23:\"ClusterResizeParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"targetInstanceCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:44:\"The
  target instance count for the operation.\";}}s:11:\"description\";s:38:\"The Resize
  Cluster request parameters.\";}s:31:\"ClusterDiskEncryptionParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"vaultUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:89:\"Base
  key vault URI where the customers key is located eg. https://myvault.vault.azure.net\";}s:7:\"keyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Key
  name that is used for enabling disk encryption.\";}s:10:\"keyVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Specific
  key version that is used for enabling disk encryption.\";}}s:11:\"description\";s:47:\"The
  Disk Encryption Cluster request parameters.\";}s:24:\"DiskEncryptionProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  disk encryption properties\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"vaultUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:89:\"Base
  key vault URI where the customers key is located eg. https://myvault.vault.azure.net\";}s:7:\"keyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Key
  name that is used for enabling disk encryption.\";}s:10:\"keyVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Specific
  key version that is used for enabling disk encryption.\";}s:19:\"encryptionAlgorithm\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Algorithm
  identifier for encryption, default RSA-OAEP.\";s:4:\"enum\";a:3:{i:0;s:8:\"RSA-OAEP\";i:1;s:12:\"RSA-OAEP-256\";i:2;s:6:\"RSA1_5\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:29:\"JsonWebKeyEncryptionAlgorithm\";s:13:\"modelAsString\";b:1;}}s:13:\"msiResourceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"Resource
  ID of Managed Identity that is used to access the key vault.\";}}}s:31:\"UpdateGatewaySettingsParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:28:\"restAuthCredential.isEnabled\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;s:16:\"x-ms-client-name\";s:19:\"isCredentialEnabled\";s:11:\"description\";s:77:\"Indicates
  whether or not the gateway settings based authorization is enabled.\";}s:27:\"restAuthCredential.username\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:16:\"x-ms-client-name\";s:8:\"userName\";s:11:\"description\";s:31:\"The
  gateway settings user name.\";}s:27:\"restAuthCredential.password\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:16:\"x-ms-client-name\";s:8:\"password\";s:11:\"description\";s:35:\"The
  gateway settings user password.\";}}s:11:\"description\";s:47:\"The update gateway
  settings request parameters.\";}s:15:\"GatewaySettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:28:\"restAuthCredential.isEnabled\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:16:\"x-ms-client-name\";s:19:\"isCredentialEnabled\";s:11:\"description\";s:77:\"Indicates
  whether or not the gateway settings based authorization is enabled.\";s:8:\"readOnly\";b:1;}s:27:\"restAuthCredential.username\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:16:\"x-ms-client-name\";s:8:\"userName\";s:11:\"description\";s:31:\"The
  gateway settings user name.\";s:8:\"readOnly\";b:1;}s:27:\"restAuthCredential.password\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:16:\"x-ms-client-name\";s:8:\"password\";s:11:\"description\";s:35:\"The
  gateway settings user password.\";s:8:\"readOnly\";b:1;}}s:11:\"description\";s:17:\"Gateway
  settings.\";}s:17:\"OperationResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  async operation state.\";s:4:\"enum\";a:3:{i:0;s:10:\"InProgress\";i:1;s:9:\"Succeeded\";i:2;s:6:\"Failed\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"AsyncOperationState\";s:13:\"modelAsString\";b:0;}}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Errors\";s:11:\"description\";s:32:\"The
  operation error information.\";}}s:11:\"description\";s:35:\"The azure async operation
  response.\";}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  core properties of ARM resources\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Fully
  qualified resource Id for the resource.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  name of the resource\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  type of the resource.\";}}s:19:\"x-ms-azure-resource\";b:1;}s:15:\"TrackedResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  resource model definition for a ARM tracked top level resource\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}s:11:\"description\";s:41:\"The
  Azure Region where the resource lives\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"x-ms-mutability\";a:3:{i:0;s:4:\"read\";i:1;s:6:\"create\";i:2;s:6:\"update\";}s:11:\"description\";s:14:\"Resource
  tags.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}}s:13:\"ProxyResource\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"The
  resource model definition for a ARM proxy resource. It will have everything other
  than required location and tags\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}}}"
...
