---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:32:\"The HDInsight
  Management Client.\";s:5:\"title\";s:25:\"HDInsightManagementClient\";s:7:\"version\";s:18:\"2015-03-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:174:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/scriptActions.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:23:\"hdinsight-scriptActions\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:29:\"azure_hdinsight_scriptactions\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/executeScriptActions
  : post:
      description: Executes script actions on the specified HDInsight cluster.
      operationId: Clusters_ExecuteScriptActions
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        type: string
      - description: The parameters for executing script actions.
        in: body
        name: parameters
        required: true
        schema:
          description: The parameters for the script actions to execute on a running
            cluster.
          properties:
            persistOnSuccess:
              description: Gets or sets if the scripts needs to be persisted.
              type: boolean
            scriptActions:
              description: The list of run time script actions.
              items:
                description: Describes a script action on a running cluster.
                properties:
                  applicationName:
                    description: The application name of the script action, if any.
                    readOnly: true
                    type: string
                  name:
                    description: The name of the script action.
                    type: string
                  parameters:
                    description: The parameters for the script
                    type: string
                  roles:
                    description: The list of roles where script will be executed.
                    items:
                      type: string
                    type: array
                  uri:
                    description: The URI to the script.
                    type: string
                required:
                - name
                - uri
                - roles
              type: array
          required:
          - persistOnSuccess
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Accepted response definition.
        202:
          description: OK response definition.
      tags:
      - Clusters
      x-ms-examples:
        Execute script action on HDInsight cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            parameters:
              persistOnSuccess: false
              scriptActions:
              - name: Test
                parameters: ""
                roles:
                - headnode
                - workernode
                uri: http://testurl.com/install.ssh
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200: []
            202:
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptActions
  : get:
      description: Lists all the persisted script actions for the specified cluster.
      operationId: ScriptActions_ListPersistedScripts
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/ScriptActionsList'
      tags:
      - ScriptActions
      x-ms-examples:
        List all persisted script actions for the given cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - applicationName: app
                  name: app-Install
                  parameters: ""
                  roles:
                  - edgenode
                  uri: https://app.com/azure/app_install.sh
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptActions/{scriptName}
  : delete:
      description: Deletes a specified persisted script action of the cluster.
      operationId: ScriptActions_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        type: string
      - description: The name of the script.
        in: path
        name: scriptName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
      tags:
      - ScriptActions
      x-ms-examples:
        Delete a script action on HDInsight cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            scriptName: scriptName
            subscriptionId: subid
          responses:
            200: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptExecutionHistory
  : get:
      description: Lists all scripts' execution history for the specified cluster.
      operationId: ScriptExecutionHistory_List
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            $ref: '#/definitions/ScriptActionExecutionHistoryList'
      tags:
      - ScriptExecutionHistory
      x-ms-examples:
        Get Script Execution History List:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            scriptExecutionId: "391145124054712"
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - applicationName: app1
                  endTime: "2017-03-22T21:34:39.293"
                  executionSummary: []
                  name: Test
                  operation: PostClusterCreateScriptActionRequest
                  parameters: ""
                  roles:
                  - headnode
                  - workernode
                  scriptExecutionId: 391145124054712
                  startTime: "2017-03-22T21:34:39.293"
                  status: ValidationFailed
                  uri: http://testurl.com/install.ssh
                - applicationName: app2
                  endTime: "2017-03-22T21:34:39.293"
                  executionSummary: []
                  name: Test
                  operation: PostClusterCreateScriptActionRequest
                  parameters: ""
                  roles:
                  - headnode
                  - workernode
                  scriptExecutionId: 391144597342127
                  startTime: "2017-03-22T21:34:39.293"
                  status: ValidationFailed
                  uri: http://testurl.com/install-script.ssh
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptExecutionHistory/{scriptExecutionId}
  : get:
      description: Gets the script execution detail for the given script execution
        ID.
      operationId: ScriptActions_GetExecutionDetail
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        type: string
      - description: The script execution Id
        in: path
        name: scriptExecutionId
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
          schema:
            allOf:
            - description: Describes a script action on a running cluster.
              properties:
                applicationName:
                  description: The application name of the script action, if any.
                  readOnly: true
                  type: string
                name:
                  description: The name of the script action.
                  type: string
                parameters:
                  description: The parameters for the script
                  type: string
                roles:
                  description: The list of roles where script will be executed.
                  items:
                    type: string
                  type: array
                uri:
                  description: The URI to the script.
                  type: string
              required:
              - name
              - uri
              - roles
            - properties:
                debugInformation:
                  description: The script action execution debug information.
                  readOnly: true
                  type: string
                endTime:
                  description: The end time of script action execution.
                  readOnly: true
                  type: string
                executionSummary:
                  description: The summary of script action execution result.
                  items:
                    description: The execution summary of a script action.
                    properties:
                      instanceCount:
                        description: The instance count for a given script action
                          execution status.
                        format: int32
                        readOnly: true
                        type: integer
                      status:
                        description: The status of script action execution.
                        readOnly: true
                        type: string
                  readOnly: true
                  type: array
                operation:
                  description: The reason why the script action was executed.
                  readOnly: true
                  type: string
                scriptExecutionId:
                  description: The execution id of the script action.
                  format: int64
                  readOnly: true
                  type: integer
                startTime:
                  description: The start time of script action execution.
                  readOnly: true
                  type: string
                status:
                  description: The current execution status of the script action.
                  readOnly: true
                  type: string
            description: The execution details of a script action.
      tags:
      - ScriptExecutionHistory
      x-ms-examples:
        Get script execution history by script id:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            scriptExecutionId: "391145124054712"
            subscriptionId: subid
          responses:
            200:
              body:
                applicationName: app1
                debugInformation: ""
                endTime: "2017-03-22T21:34:39.293"
                executionSummary: []
                name: Test
                operation: PostClusterCreateScriptActionRequest
                parameters: ""
                roles:
                - headnode
                - workernode
                scriptExecutionId: 391145124054712
                startTime: "2017-03-22T21:34:39.293"
                status: ValidationFailed
                uri: http://testurl.com/install.ssh
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/scriptExecutionHistory/{scriptExecutionId}/promote
  : post:
      description: Promotes the specified ad-hoc script execution to a persisted script.
      operationId: ScriptExecutionHistory_Promote
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The name of the cluster.
        in: path
        name: clusterName
        required: true
        type: string
      - description: The script execution ID.
        format: int64
        in: path
        name: scriptExecutionId
        required: true
        type: integer
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK response definition.
      tags:
      - Promote
      x-ms-examples:
        Promote a script action on HDInsight cluster:
          parameters:
            api-version: 2015-03-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            scriptExecutionId: "391145124054712"
            subscriptionId: subid
          responses:
            200: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:42:\"ClusterListRuntimeScriptActionDetailResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  list runtime script action detail response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"The
  list of persisted script action details for the cluster.\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Describes
  a script action on a running cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"applicationName\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  application name of the script action, if any.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the script action.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  parameters for the script\";s:4:\"type\";s:6:\"string\";}s:5:\"roles\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  list of roles where script will be executed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  URI to the script.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:3:\"uri\";i:2;s:5:\"roles\";}}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"debugInformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  script action execution debug information.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  end time of script action execution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"executionSummary\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  summary of script action execution result.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  execution summary of a script action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"instanceCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  instance count for a given script action execution status.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  status of script action execution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  reason why the script action was executed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"scriptExecutionId\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  execution id of the script action.\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  start time of script action execution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  current execution status of the script action.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:41:\"The
  execution details of a script action.\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:12:\"ScriptAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Describes
  a script action on role on the cluster.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the script action.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  parameters for the script provided.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  URI to the script.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:3:\"uri\";i:2;s:10:\"parameters\";}}s:32:\"ScriptActionExecutionHistoryList\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  list script execution history response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"The
  list of persisted script action details for the cluster.\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Describes
  a script action on a running cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"applicationName\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  application name of the script action, if any.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the script action.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  parameters for the script\";s:4:\"type\";s:6:\"string\";}s:5:\"roles\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  list of roles where script will be executed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  URI to the script.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:3:\"uri\";i:2;s:5:\"roles\";}}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"debugInformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  script action execution debug information.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  end time of script action execution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"executionSummary\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  summary of script action execution result.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  execution summary of a script action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"instanceCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  instance count for a given script action execution status.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  status of script action execution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  reason why the script action was executed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"scriptExecutionId\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  execution id of the script action.\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  start time of script action execution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  current execution status of the script action.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:41:\"The
  execution details of a script action.\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:36:\"ScriptActionPersistedGetResponseSpec\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  persisted script action for cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"applicationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  application name for the script action.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of script action.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  parameters for the script provided.\";s:4:\"type\";s:6:\"string\";}s:5:\"roles\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  list of roles where script will be executed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  URI to the script.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"ScriptActionsList\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  persisted script action for the cluster.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  link (url) to the next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  list of persisted script action details for the cluster.\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Describes
  a script action on a running cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"applicationName\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  application name of the script action, if any.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the script action.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  parameters for the script\";s:4:\"type\";s:6:\"string\";}s:5:\"roles\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  list of roles where script will be executed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  URI to the script.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:3:\"uri\";i:2;s:5:\"roles\";}}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"debugInformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  script action execution debug information.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  end time of script action execution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"executionSummary\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  summary of script action execution result.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  execution summary of a script action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"instanceCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  instance count for a given script action execution status.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  status of script action execution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  reason why the script action was executed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"scriptExecutionId\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  execution id of the script action.\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  start time of script action execution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  current execution status of the script action.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:41:\"The
  execution details of a script action.\";}s:4:\"type\";s:5:\"array\";}}}}"
...
