---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:42:\"Microsoft Azure Redis
  Cache Management API\";s:11:\"description\";s:24:\"Some cool documentation.\";s:7:\"version\";s:18:\"2014-04-01-preview\";}"
host: management.azure.com
basePath: /
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}/Res:
    get:
      tags:
      - Redis
      operationId: Redis_get
      description: gets a Redis cache.
      parameters:
      - name: name
        type: string
        required: true
        description: redis cache to get
        in: path
      responses:
        200:
          description: the resource
          schema:
            $ref: '#/definitions/TempResource'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}:
    patch:
      tags:
      - Redis
      operationId: Redis_update
      description: gets a Redis cache.
      parameters:
      - name: tag
        type: string
        required: true
        description: tag to update
      responses:
        200:
          description: the resource patched
          schema:
            $ref: '#/definitions/TempResource'
  /operations:
    get:
      summary: Lists all foo.
      description: foo
      operationId: Operations_List
      parameters:
      - name: limit
        type: string
        description: foo
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationsListResult'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  Resource model definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Resource
  Id\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Resource
  name\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Resource
  type\";}}s:19:\"x-ms-azure-resource\";b:1;}s:12:\"TempResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:18:\"temporary
  resource\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"prop0\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"OperationsListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"List
  of operations\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"List
  of Operations\";}}}}"
...
