---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:296:\"Use these REST
  APIs for performing operations on OpenId Connect Provider entity associated with
  your Azure API Management deployment. API Management allows you to access APIs secured
  with token from [OpenID Connect Provider ](http://openid.net/connect/) to be accessed
  from the Developer Console.\";s:5:\"title\";s:19:\"ApiManagementClient\";s:7:\"version\";s:10:\"2018-01-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:187:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/apimopenidconnectproviders.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:40:\"apimanagement-apimopenidconnectproviders\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:46:\"azure_apimanagement_apimopenidconnectproviders\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/openidConnectProviders
  : get:
      description: Lists all OpenID Connect Providers.
      operationId: OpenIdConnectProvider_ListByService
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - description: '| Field | Supported operators    | Supported functions                         |n|-------|------------------------|---------------------------------------------|n|
          id    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith
          |n| name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith,
          endswith |'
        in: query
        name: $filter
        required: false
        type: string
      - description: Number of records to return.
        format: int32
        in: query
        minimum: 1
        name: $top
        required: false
        type: integer
        x-ms-parameter-location: method
      - description: Number of records to skip.
        format: int32
        in: query
        minimum: 0
        name: $skip
        required: false
        type: integer
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: Lists of all the OpenId Connect Providers.
          schema:
            $ref: '#/definitions/OpenIdConnectProviderCollection'
      tags:
      - OpenIdConnectProviders
      x-ms-examples:
        ApiManagementListOpenIdConnectProviders:
          parameters:
            api-version: "2018-01-01"
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                nextLink: ""
                value:
                - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/openidConnectProviders/templateOpenIdConnect2
                  name: templateOpenIdConnect2
                  properties:
                    clientId: oidprovidertemplate2
                    clientSecret: oidsecretproviderTemplate2
                    description: open id provider template2
                    displayName: templateoidprovider2
                    metadataEndpoint: https://oidprovider-template2.net
                  type: Microsoft.ApiManagement/service/openidconnectproviders
      x-ms-odata: '#/definitions/OpenidConnectProviderContract'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/openidConnectProviders/{opid}
  : delete:
      description: Deletes specific OpenID Connect Provider of the API Management
        service instance.
      operationId: OpenIdConnectProvider_Delete
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/OpenIdConnectIdParameter'
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: OpenId Connect Provider was successfully deleted.
        204:
          description: OpenId Connect Provider was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - OpenIdConnectProviders
      x-ms-examples:
        ApiManagementDeleteOpenIdConnectProvider:
          parameters:
            If-Match: '*'
            api-version: "2018-01-01"
            opid: templateOpenIdConnect3
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200: []
            204: []
    get:
      description: Gets specific OpenID Connect Provider.
      operationId: OpenIdConnectProvider_Get
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/OpenIdConnectIdParameter'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: The response body contains the specified OpenId Connect Provider
            entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: '#/definitions/OpenidConnectProviderContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - OpenIdConnectProviders
      x-ms-examples:
        ApiManagementGetOpenIdConnectProvider:
          parameters:
            api-version: "2018-01-01"
            opid: templateOpenIdConnect2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/openidConnectProviders/templateOpenIdConnect2
                name: templateOpenIdConnect2
                properties:
                  clientId: oidprovidertemplate2
                  clientSecret: oidsecretproviderTemplate2
                  description: open id provider template2
                  displayName: templateoidprovider2
                  metadataEndpoint: https://oidprovider-template2.net
                type: Microsoft.ApiManagement/service/openidconnectproviders
    head:
      description: Gets the entity state (Etag) version of the openIdConnectProvider
        specified by its identifier.
      operationId: OpenIdConnectProvider_GetEntityTag
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/OpenIdConnectIdParameter'
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: Specified openidConnectProvider entity exists and current entity
            state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - OpenIdConnectProviders
      x-ms-examples:
        ApiManagementHeadOpenIdConnectProvider:
          parameters:
            api-version: "2018-01-01"
            opid: templateOpenIdConnect2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              headers:
                etag: AAAAAAAAAAa=
    patch:
      description: Updates the specific OpenID Connect Provider.
      operationId: OpenIdConnectProvider_Update
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/OpenIdConnectIdParameter'
      - description: Update parameters.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/OpenidConnectProviderUpdateContract'
      - description: ETag of the Entity. ETag should match the current entity state
          from the header response of the GET request or it should be * for unconditional
          update.
        in: header
        name: If-Match
        required: true
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        204:
          description: OpenId Connect Provider was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - OpenIdConnectProviders
      x-ms-examples:
        ApiManagementUpdateOpenIdConnectProvider:
          parameters:
            If-Match: '*'
            api-version: "2018-01-01"
            opid: templateOpenIdConnect2
            parameters:
              properties:
                clientSecret: updatedsecret
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            204: []
    put:
      description: Creates or updates the OpenID Connect Provider.
      operationId: OpenIdConnectProvider_CreateOrUpdate
      parameters:
      - description: The name of the resource group.
        in: path
        name: resourceGroupName
        required: true
        type: string
        x-ms-parameter-location: method
      - description: The name of the API Management service.
        in: path
        maxLength: 50
        minLength: 1
        name: serviceName
        pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
        required: true
        type: string
        x-ms-parameter-location: method
      - $ref: '#/parameters/OpenIdConnectIdParameter'
      - description: Create parameters.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/OpenidConnectProviderContract'
      - description: ETag of the Entity. Not required when creating an entity, but
          required when updating an entity.
        in: header
        name: If-Match
        required: false
        type: string
        x-ms-parameter-location: method
      - description: Version of the API to be used with the client request.
        in: query
        name: api-version
        required: true
        type: string
      - description: Subscription credentials which uniquely identify Microsoft Azure
          subscription. The subscription ID forms part of the URI for every service
          call.
        in: path
        name: subscriptionId
        required: true
        type: string
      responses:
        200:
          description: OpenIdConnect Provider was successfully updated.
          schema:
            $ref: '#/definitions/OpenidConnectProviderContract'
        201:
          description: OpenIdConnect Provider was successfully created.
          schema:
            $ref: '#/definitions/OpenidConnectProviderContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a
                      sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case
                      of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level
                            error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
      - OpenIdConnectProviders
      x-ms-examples:
        ApiManagementCreateOpenIdConnectProvider:
          parameters:
            api-version: "2018-01-01"
            opid: templateOpenIdConnect3
            parameters:
              properties:
                clientId: oidprovidertemplate3
                displayName: templateoidprovider3
                metadataEndpoint: https://oidprovider-template3.net
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/openidConnectProviders/templateOpenIdConnect3
                name: templateOpenIdConnect3
                properties:
                  clientId: oidprovidertemplate3
                  displayName: templateoidprovider3
                  metadataEndpoint: https://oidprovider-template3.net
                type: Microsoft.ApiManagement/service/openidconnectproviders
            201:
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/openidConnectProviders/templateOpenIdConnect3
                name: templateOpenIdConnect3
                properties:
                  clientId: oidprovidertemplate3
                  displayName: templateoidprovider3
                  metadataEndpoint: https://oidprovider-template3.net
                type: Microsoft.ApiManagement/service/openidconnectproviders
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:31:\"OpenIdConnectProviderCollection\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Paged
  OpenIdProviders list representation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Next
  page link if any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Page
  values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/OpenidConnectProviderContract\";}s:4:\"type\";s:5:\"array\";}}}s:29:\"OpenidConnectProviderContract\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  Resource definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Resource
  type for API Management resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:32:\"OpenId
  Connect Provider details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:53:\"#/definitions/OpenidConnectProviderContractProperties\";s:11:\"description\";s:44:\"OpenId
  Connect Provider contract properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:39:\"OpenidConnectProviderContractProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"OpenID
  Connect Providers Contract.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Client
  ID of developer console which is the client application.\";s:4:\"type\";s:6:\"string\";}s:12:\"clientSecret\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Client
  Secret of developer console which is the client application.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"User-friendly
  description of OpenID Connect Provider.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"User-friendly
  OpenID Connect Provider name.\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:16:\"metadataEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Metadata
  endpoint URI.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:11:\"displayName\";i:1;s:16:\"metadataEndpoint\";i:2;s:8:\"clientId\";}}s:35:\"OpenidConnectProviderUpdateContract\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Parameters
  supplied to the Update OpenID Connect Provider operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:59:\"#/definitions/OpenidConnectProviderUpdateContractProperties\";s:11:\"description\";s:51:\"OpenId
  Connect Provider Update contract properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:45:\"OpenidConnectProviderUpdateContractProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Parameters
  supplied to the Update OpenID Connect Provider operation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Client
  ID of developer console which is the client application.\";s:4:\"type\";s:6:\"string\";}s:12:\"clientSecret\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Client
  Secret of developer console which is the client application.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"User-friendly
  description of OpenID Connect Provider.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"User-friendly
  OpenID Connect Provider name.\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";}s:16:\"metadataEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Metadata
  endpoint URI.\";s:4:\"type\";s:6:\"string\";}}}}"
...
