---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:384:\"These APIs allow
  end users to operate on Azure Machine Learning Web Services resources. They support
  the following operations:<ul><li>Create or update a web service</li><li>Get a web
  service</li><li>Patch a web service</li><li>Delete a web service</li><li>Get All
  Web Services in a Resource Group </li><li>Get All Web Services in a Subscription</li><li>Get
  Web Services Keys</li></ul>\";s:5:\"title\";s:39:\"Azure ML Web Services Management
  Client\";s:7:\"version\";s:10:\"2017-01-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:175:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearning/resource-manager/Microsoft.MachineLearning/stable/2017-01-01/webservices.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:27:\"machinelearning-webservices\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:33:\"azure_machinelearning_webservices\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.MachineLearning/operations:
    get:
      description: Lists all the available REST API operations.
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/APIVersionParameter'
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/OperationEntityListResult'
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/providers/Microsoft.MachineLearning/webServices:
    get:
      description: Gets the web services in the specified subscription.
      operationId: WebServices_ListBySubscriptionId
      parameters:
      - description: Continuation token for pagination.
        in: query
        name: $skiptoken
        required: false
        type: string
      - $ref: '#/parameters/APIVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Success. The response includes a paginated array of web service
            objects and a URI to the next set of results, if any. Note that the web
            service objects are sparsely populated to conserve space in the response
            content. To get the full web service object, call the GET operation on
            the web service.
          schema:
            $ref: '#/definitions/PaginatedWebServicesList'
      tags:
      - WebServices
      x-ms-examples:
        GET WebServices by Subscription Id:
          parameters:
            api-version: "2017-01-01"
            subscriptionId: subscription-id
          responses:
            200:
              body:
                nextLink: https://the.next/link
                value:
                - id: TheWebServiceId
                  location: West US
                  properties:
                    commitmentPlan:
                      id: /subscriptions/subscriptionId/resourceGroups/resourceGroupName/providers/Microsoft.MachineLearning/commitmentPlans/commitmentPlanName
                    createdOn: "2017-01-01T01:01:01Z"
                    description: New Web Service Description
                    diagnostics:
                      level: None
                    exposeSampleData: true
                    modifiedOn: "2017-01-01T02:02:02Z"
                    packageType: Graph
                    payloadsInBlobStorage: false
                    provisioningState: Provisioning
                    readOnly: false
                    realtimeConfiguration:
                      maxConcurrentCalls: 4
                    storageAccount:
                      name: Storage_Name
                    swaggerLocation: https://ussouthcentral.services.azureml.net/subscriptions/subscriptionId/services/serviceId/swagger.json
                    title: New Web Service Title
                  tags:
                    tag1: value1
                    tag2: value2
                - id: TheWebServiceId2
                  location: West US
                  properties:
                    commitmentPlan:
                      id: /subscriptions/subscriptionId/resourceGroups/resourceGroupName/providers/Microsoft.MachineLearning/commitmentPlans/commitmentPlanName
                    createdOn: "2017-01-01T01:01:01Z"
                    description: New Web Service Description2
                    diagnostics:
                      level: None
                    exposeSampleData: true
                    modifiedOn: "2017-01-01T02:02:02Z"
                    packageType: Graph
                    payloadsInBlobStorage: false
                    provisioningState: Provisioning
                    readOnly: false
                    realtimeConfiguration:
                      maxConcurrentCalls: 4
                    storageAccount:
                      name: Storage_Name
                    swaggerLocation: https://ussouthcentral.services.azureml.net/subscriptions/subscriptionId/services/serviceId/swagger.json
                    title: New Web Service Title2
                  tags:
                    tag1: value1
                    tag2: value2
              headers:
                azure-asyncoperation: http://azure.async.operation/status
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/webServices:
    get:
      description: Gets the web services in the specified resource group.
      operationId: WebServices_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: Continuation token for pagination.
        in: query
        name: $skiptoken
        required: false
        type: string
      - $ref: '#/parameters/APIVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Success. The response includes a paginated array of web service
            objects and a URI to the next set of results, if any. For the more information
            the limits of the number of items in a resource group, see https://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/.
            Note that the web service objects are sparsely populated to conserve space
            in the response content. To get the full web service object, call the
            GET operation on the web service.
          schema:
            $ref: '#/definitions/PaginatedWebServicesList'
      tags:
      - WebServices
      x-ms-examples:
        GET WebServices by Resource Group:
          parameters:
            api-version: "2017-01-01"
            resourceGroupName: OneResourceGroupName
            subscriptionId: subscription-id
          responses:
            200:
              body:
                nextLink: https://the.next/link
                value:
                - id: TheWebServiceId
                  location: West US
                  properties:
                    commitmentPlan:
                      id: /subscriptions/subscriptionId/resourceGroups/resourceGroupName/providers/Microsoft.MachineLearning/commitmentPlans/commitmentPlanName
                    createdOn: "2017-01-01T01:01:01Z"
                    description: New Web Service Description
                    diagnostics:
                      level: None
                    exposeSampleData: true
                    modifiedOn: "2017-01-01T02:02:02Z"
                    packageType: Graph
                    payloadsInBlobStorage: false
                    provisioningState: Provisioning
                    readOnly: false
                    realtimeConfiguration:
                      maxConcurrentCalls: 4
                    storageAccount:
                      name: Storage_Name
                    swaggerLocation: https://ussouthcentral.services.azureml.net/subscriptions/subscriptionId/services/serviceId/swagger.json
                    title: New Web Service Title
                  tags:
                    tag1: value1
                    tag2: value2
                - id: TheWebServiceId2
                  location: West US
                  properties:
                    commitmentPlan:
                      id: /subscriptions/subscriptionId/resourceGroups/resourceGroupName/providers/Microsoft.MachineLearning/commitmentPlans/commitmentPlanName
                    createdOn: "2017-01-01T01:01:01Z"
                    description: New Web Service Description2
                    diagnostics:
                      level: None
                    exposeSampleData: true
                    modifiedOn: "2017-01-01T02:02:02Z"
                    packageType: Graph
                    payloadsInBlobStorage: false
                    provisioningState: Provisioning
                    readOnly: false
                    realtimeConfiguration:
                      maxConcurrentCalls: 4
                    storageAccount:
                      name: Storage_Name
                    swaggerLocation: https://ussouthcentral.services.azureml.net/subscriptions/subscriptionId/services/serviceId/swagger.json
                    title: New Web Service Title2
                  tags:
                    tag1: value1
                    tag2: value2
              headers:
                azure-asyncoperation: http://azure.async.operation/status
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/webServices/{webServiceName}
  : delete:
      description: Deletes the specified web service.
      operationId: WebServices_Remove
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WebServiceNameParameter'
      - $ref: '#/parameters/APIVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        202:
          description: Accepted. Note that a 202 status is returned even if the service
            did not exist.
        204:
          description: No Content.
      tags:
      - WebServices
      x-ms-examples:
        Delete WebService:
          parameters:
            api-version: "2017-01-01"
            resourceGroupName: OneResourceGroupName
            subscriptionId: subscription-id
            webServiceName: TargetWebServiceName
          responses:
            202:
              headers:
                azure-asyncoperation: http://azure.async.operation/status
            204:
              headers:
                azure-asyncoperation: http://azure.async.operation/status
      x-ms-long-running-operation: true
    get:
      description: Gets the Web Service Definition as specified by a subscription,
        resource group, and name. Note that the storage credentials and web service
        keys are not returned by this call. To get the web service access keys, call
        List Keys.
      operationId: WebServices_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WebServiceNameParameter'
      - description: The region for which encrypted credential parameters are valid.
        in: query
        name: region
        required: false
        type: string
      - $ref: '#/parameters/APIVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Success.  The response includes the Provisioning State and
            the Azure-AsyncOperation header. To get the progress of the operation,
            call GET operation on the URL in Azure-AsyncOperation header field. For
            more informationFor more information about Asynchronous Operations, see
            https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations.
          schema:
            $ref: '#/definitions/WebService'
      tags:
      - WebServices
      x-ms-examples:
        GET WebService:
          parameters:
            api-version: "2017-01-01"
            resourceGroupName: OneResourceGroupName
            subscriptionId: subscription-id
            webServiceName: TargetWebServiceName
          responses:
            200:
              body:
                id: TheWebServiceId
                location: West US
                properties:
                  assets:
                    asset1:
                      locationInfo:
                        credentials: ""
                        uri: aml://module/moduleId-1
                      name: Execute R Script
                      type: Module
                    asset2:
                      locationInfo:
                        credentials: ""
                        uri: aml://module/moduleId-2
                      name: Import Data
                      type: Module
                  commitmentPlan:
                    id: /subscriptions/subscriptionId/resourceGroups/resourceGroupName/providers/Microsoft.MachineLearning/commitmentPlans/commitmentPlanName
                  createdOn: "2017-01-01T01:01:01Z"
                  description: Web Service Description
                  diagnostics:
                    level: None
                  exampleRequest:
                    inputs:
                      input1:
                      - - age
                      - - workclass
                      - - fnlwgt
                      - - education
                      - - education-num
                  exposeSampleData: true
                  input:
                    description: ""
                    properties:
                      input1:
                        description: ""
                        properties:
                          column_name:
                            type: String
                            x-ms-isnullable: false
                        title: ""
                        type: object
                    title: ""
                    type: object
                  machineLearningWorkspace:
                    id: workspaceId
                  modifiedOn: "2017-01-01T02:02:02Z"
                  output:
                    description: ""
                    properties:
                      output1:
                        description: ""
                        properties:
                          age:
                            format: Int32
                            type: Integer
                            x-ms-isnullable: true
                          workclass:
                            type: String
                            x-ms-isnullable: false
                        title: ""
                        type: object
                    title: ""
                    type: object
                  package:
                    Edges:
                    - SourceNodeId: node2
                      SourcePortId: Results dataset
                      TargetNodeId: node1
                      TargetPortId: Dataset2
                    - SourceNodeId: node3
                      TargetNodeId: node1
                      TargetPortId: Dataset1
                    - SourceNodeId: node1
                      SourcePortId: Result Dataset
                      TargetNodeId: node4
                    GraphParameters: []
                    Nodes:
                      node1:
                        AssetId: asset1
                        Parameters:
                          R Script:
                            CertificateThumbprint: ""
                            Value: The R Script
                          R Version:
                            CertificateThumbprint: ""
                            Value: CRAN R 3.1.0
                      node2:
                        AssetId: asset2
                        Parameters:
                          Account Key:
                            CertificateThumbprint: TheThumbprint
                            Value: Encrypted Key
                          Account Name:
                            CertificateThumbprint: ""
                            Value: accountName
                          Please Specify Authentication Type:
                            CertificateThumbprint: ""
                            Value: Account
                          Please Specify Data Source:
                            CertificateThumbprint: ""
                            Value: AzureBlobStorage
                      node3:
                        InputId: input1
                      node4:
                        OutputId: output1
                  packageType: Graph
                  parameters: []
                  payloadsInBlobStorage: false
                  provisioningState: Provisioning
                  readOnly: false
                  realtimeConfiguration:
                    maxConcurrentCalls: 4
                  storageAccount:
                    name: Storage_Name
                  swaggerLocation: https://ussouthcentral.services.azureml.net/subscriptions/subscriptionId/services/serviceId/swagger.json
                  title: Web Service Title
                tags:
                  tag1: value1
                  tag2: value2
              headers: []
    patch:
      description: Modifies an existing web service resource. The PATCH API call is
        an asynchronous operation. To determine whether it has completed successfully,
        you must perform a Get operation.
      operationId: WebServices_Patch
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WebServiceNameParameter'
      - description: The payload to use to patch the web service.
        in: body
        name: patchPayload
        required: true
        schema:
          $ref: '#/definitions/WebService'
      - $ref: '#/parameters/APIVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Success. The response payload is identical to the response
            payload that is returned by the GET operation. The response includes the
            Provisioning State and the Azure-AsyncOperation header. To get the progress
            of the operation, call GET operation on the URL in Azure-AsyncOperation
            header field. For more information about Asynchronous Operations, see
            https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations.
          schema:
            $ref: '#/definitions/WebService'
      tags:
      - WebServices
      x-ms-examples:
        Patch WebService:
          parameters:
            api-version: "2017-01-01"
            patchPayload:
              location: West US
              properties:
                description: New Web Service Description
                packageType: Graph
                title: New Web Service Title
            resourceGroupName: OneResourceGroupName
            subscriptionId: subscription-id
            webServiceName: TargetWebServiceName
          responses:
            200:
              body:
                id: TheWebServiceId
                location: West US
                properties:
                  assets:
                    asset1:
                      locationInfo:
                        credentials: ""
                        uri: aml://module/moduleId-1
                      name: Execute R Script
                      type: Module
                    asset2:
                      locationInfo:
                        credentials: ""
                        uri: aml://module/moduleId-2
                      name: Import Data
                      type: Module
                  commitmentPlan:
                    id: /subscriptions/subscriptionId/resourceGroups/resourceGroupName/providers/Microsoft.MachineLearning/commitmentPlans/commitmentPlanName
                  createdOn: "2017-01-01T01:01:01Z"
                  description: New Web Service Description
                  diagnostics:
                    level: None
                  exampleRequest:
                    inputs:
                      input1:
                      - - age
                      - - workclass
                      - - fnlwgt
                      - - education
                      - - education-num
                  exposeSampleData: true
                  input:
                    description: ""
                    properties:
                      input1:
                        description: ""
                        properties:
                          column_name:
                            type: String
                            x-ms-isnullable: false
                        title: ""
                        type: object
                    title: ""
                    type: object
                  machineLearningWorkspace:
                    id: workspaceId
                  modifiedOn: "2017-01-01T02:02:02Z"
                  output:
                    description: ""
                    properties:
                      output1:
                        description: ""
                        properties:
                          age:
                            format: Int32
                            type: Integer
                            x-ms-isnullable: true
                          workclass:
                            type: String
                            x-ms-isnullable: false
                        title: ""
                        type: object
                    title: ""
                    type: object
                  package:
                    Edges:
                    - SourceNodeId: node2
                      SourcePortId: Results dataset
                      TargetNodeId: node1
                      TargetPortId: Dataset2
                    - SourceNodeId: node3
                      TargetNodeId: node1
                      TargetPortId: Dataset1
                    - SourceNodeId: node1
                      SourcePortId: Result Dataset
                      TargetNodeId: node4
                    GraphParameters: []
                    Nodes:
                      node1:
                        AssetId: asset1
                        Parameters:
                          R Script:
                            CertificateThumbprint: ""
                            Value: The R Script
                          R Version:
                            CertificateThumbprint: ""
                            Value: CRAN R 3.1.0
                      node2:
                        AssetId: asset2
                        Parameters:
                          Account Key:
                            CertificateThumbprint: TheThumbprint
                            Value: Encrypted Key
                          Account Name:
                            CertificateThumbprint: ""
                            Value: accountName
                          Please Specify Authentication Type:
                            CertificateThumbprint: ""
                            Value: Account
                          Please Specify Data Source:
                            CertificateThumbprint: ""
                            Value: AzureBlobStorage
                      node3:
                        InputId: input1
                      node4:
                        OutputId: output1
                  packageType: Graph
                  parameters: []
                  payloadsInBlobStorage: false
                  provisioningState: Provisioning
                  readOnly: false
                  realtimeConfiguration:
                    maxConcurrentCalls: 4
                  storageAccount:
                    name: Storage_Name
                  swaggerLocation: https://ussouthcentral.services.azureml.net/subscriptions/subscriptionId/services/serviceId/swagger.json
                  title: New Web Service Title
                tags:
                  tag1: value1
                  tag2: value2
              headers:
                azure-asyncoperation: http://azure.async.operation/status
      x-ms-long-running-operation: true
    put:
      description: Create or update a web service. This call will overwrite an existing
        web service. Note that there is no warning or confirmation. This is a nonrecoverable
        operation. If your intent is to create a new web service, call the Get operation
        first to verify that it does not exist.
      operationId: WebServices_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WebServiceNameParameter'
      - description: The payload that is used to create or update the web service.
        in: body
        name: createOrUpdatePayload
        required: true
        schema:
          $ref: '#/definitions/WebService'
      - $ref: '#/parameters/APIVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Success. This response is returned for an update web service
            operation. The response payload is identical to the response payload that
            is returned by the GET operation. The response includes the Provisioning
            State and the Azure-AsyncOperation header. To get the progress of the
            operation, call GET operation on the URL in Azure-AsyncOperation header
            field. For more information about Asynchronous Operations, see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations.
          schema:
            $ref: '#/definitions/WebService'
        201:
          description: Created. This response is returned for a create web service
            operation. The response includes the Provisioning State and the Azure-AsyncOperation
            header. To get the progress of the operation, call GET operation on the
            URL in Azure-AsyncOperation header field. For more information about Asynchronous
            Operations, see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations.
          schema:
            $ref: '#/definitions/WebService'
      tags:
      - WebServices
      x-ms-examples:
        PUT WebService:
          parameters:
            api-version: "2017-01-01"
            createOrUpdatePayload:
              location: West US
              properties:
                assets:
                  asset1:
                    locationInfo:
                      credentials: ""
                      uri: aml://module/moduleId-1
                    name: Execute R Script
                    type: Module
                  asset2:
                    locationInfo:
                      credentials: ""
                      uri: aml://module/moduleId-2
                    name: Import Data
                    type: Module
                commitmentPlan:
                  id: /subscriptions/subscriptionId/resourceGroups/resourceGroupName/providers/Microsoft.MachineLearning/commitmentPlans/commitmentPlanName
                description: Web Service Description
                diagnostics:
                  level: None
                exampleRequest:
                  inputs:
                    input1:
                    - - age
                    - - workclass
                    - - fnlwgt
                    - - education
                    - - education-num
                exposeSampleData: true
                input:
                  description: ""
                  properties:
                    input1:
                      description: ""
                      properties:
                        column_name:
                          type: String
                          x-ms-isnullable: false
                      title: ""
                      type: object
                  title: ""
                  type: object
                machineLearningWorkspace:
                  id: workspaceId
                output:
                  description: ""
                  properties:
                    output1:
                      description: ""
                      properties:
                        age:
                          format: Int32
                          type: Integer
                          x-ms-isnullable: true
                        workclass:
                          type: String
                          x-ms-isnullable: false
                      title: ""
                      type: object
                  title: ""
                  type: object
                package:
                  Edges:
                  - SourceNodeId: node2
                    SourcePortId: Results dataset
                    TargetNodeId: node1
                    TargetPortId: Dataset2
                  - SourceNodeId: node3
                    TargetNodeId: node1
                    TargetPortId: Dataset1
                  - SourceNodeId: node1
                    SourcePortId: Result Dataset
                    TargetNodeId: node4
                  GraphParameters: []
                  Nodes:
                    node1:
                      AssetId: asset1
                      Parameters:
                        R Script:
                          CertificateThumbprint: ""
                          Value: The R Script
                        R Version:
                          CertificateThumbprint: ""
                          Value: CRAN R 3.1.0
                    node2:
                      AssetId: asset2
                      Parameters:
                        Account Key:
                          CertificateThumbprint: TheThumbprint
                          Value: Encrypted Key
                        Account Name:
                          CertificateThumbprint: ""
                          Value: accountName
                        Please Specify Authentication Type:
                          CertificateThumbprint: ""
                          Value: Account
                        Please Specify Data Source:
                          CertificateThumbprint: ""
                          Value: AzureBlobStorage
                    node3:
                      InputId: input1
                    node4:
                      OutputId: output1
                packageType: Graph
                parameters: []
                payloadsInBlobStorage: false
                readOnly: false
                realtimeConfiguration:
                  maxConcurrentCalls: 4
                storageAccount:
                  key: Storage_Key
                  name: Storage_Name
                title: Web Service Title
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: OneResourceGroupName
            subscriptionId: subscription-id
            webServiceName: TargetWebServiceName
          responses:
            200:
              body:
                id: TheWebServiceId
                location: West US
                properties:
                  assets:
                    asset1:
                      locationInfo:
                        credentials: ""
                        uri: aml://module/moduleId-1
                      name: Execute R Script
                      type: Module
                    asset2:
                      locationInfo:
                        credentials: ""
                        uri: aml://module/moduleId-2
                      name: Import Data
                      type: Module
                  commitmentPlan:
                    id: /subscriptions/subscriptionId/resourceGroups/resourceGroupName/providers/Microsoft.MachineLearning/commitmentPlans/commitmentPlanName
                  createdOn: "2017-01-01T01:01:01Z"
                  description: Web Service Description
                  diagnostics:
                    level: None
                  exampleRequest:
                    inputs:
                      input1:
                      - - age
                      - - workclass
                      - - fnlwgt
                      - - education
                      - - education-num
                  exposeSampleData: true
                  input:
                    description: ""
                    properties:
                      input1:
                        description: ""
                        properties:
                          column_name:
                            type: String
                            x-ms-isnullable: false
                        title: ""
                        type: object
                    title: ""
                    type: object
                  machineLearningWorkspace:
                    id: workspaceId
                  modifiedOn: "2017-01-01T02:02:02Z"
                  output:
                    description: ""
                    properties:
                      output1:
                        description: ""
                        properties:
                          age:
                            format: Int32
                            type: Integer
                            x-ms-isnullable: true
                          workclass:
                            type: String
                            x-ms-isnullable: false
                        title: ""
                        type: object
                    title: ""
                    type: object
                  package:
                    Edges:
                    - SourceNodeId: node2
                      SourcePortId: Results dataset
                      TargetNodeId: node1
                      TargetPortId: Dataset2
                    - SourceNodeId: node3
                      TargetNodeId: node1
                      TargetPortId: Dataset1
                    - SourceNodeId: node1
                      SourcePortId: Result Dataset
                      TargetNodeId: node4
                    GraphParameters: []
                    Nodes:
                      node1:
                        AssetId: asset1
                        Parameters:
                          R Script:
                            CertificateThumbprint: ""
                            Value: The R Script
                          R Version:
                            CertificateThumbprint: ""
                            Value: CRAN R 3.1.0
                      node2:
                        AssetId: asset2
                        Parameters:
                          Account Key:
                            CertificateThumbprint: TheThumbprint
                            Value: Encrypted Key
                          Account Name:
                            CertificateThumbprint: ""
                            Value: accountName
                          Please Specify Authentication Type:
                            CertificateThumbprint: ""
                            Value: Account
                          Please Specify Data Source:
                            CertificateThumbprint: ""
                            Value: AzureBlobStorage
                      node3:
                        InputId: input1
                      node4:
                        OutputId: output1
                  packageType: Graph
                  parameters: []
                  payloadsInBlobStorage: false
                  provisioningState: Provisioning
                  readOnly: false
                  realtimeConfiguration:
                    maxConcurrentCalls: 4
                  storageAccount:
                    name: Storage_Name
                  swaggerLocation: https://ussouthcentral.services.azureml.net/subscriptions/subscriptionId/services/serviceId/swagger.json
                  title: Web Service Title
                tags:
                  tag1: value1
                  tag2: value2
              headers:
                azure-asyncoperation: http://azure.async.operation/status
            201:
              body:
                id: TheWebServiceId
                location: West US
                properties:
                  assets:
                    asset1:
                      locationInfo:
                        credentials: ""
                        uri: aml://module/moduleId-1
                      name: Execute R Script
                      type: Module
                    asset2:
                      locationInfo:
                        credentials: ""
                        uri: aml://module/moduleId-2
                      name: Import Data
                      type: Module
                  commitmentPlan:
                    id: /subscriptions/subscriptionId/resourceGroups/resourceGroupName/providers/Microsoft.MachineLearning/commitmentPlans/commitmentPlanName
                  createdOn: "2017-01-01T01:01:01Z"
                  description: Web Service Description
                  diagnostics:
                    level: None
                  exampleRequest:
                    inputs:
                      input1:
                      - - age
                      - - workclass
                      - - fnlwgt
                      - - education
                      - - education-num
                  exposeSampleData: true
                  input:
                    description: ""
                    properties:
                      input1:
                        description: ""
                        properties:
                          column_name:
                            type: String
                            x-ms-isnullable: false
                        title: ""
                        type: object
                    title: ""
                    type: object
                  machineLearningWorkspace:
                    id: workspaceId
                  modifiedOn: "2017-01-01T01:01:01Z"
                  output:
                    description: ""
                    properties:
                      output1:
                        description: ""
                        properties:
                          age:
                            format: Int32
                            type: Integer
                            x-ms-isnullable: true
                          workclass:
                            type: String
                            x-ms-isnullable: false
                        title: ""
                        type: object
                    title: ""
                    type: object
                  package:
                    Edges:
                    - SourceNodeId: node2
                      SourcePortId: Results dataset
                      TargetNodeId: node1
                      TargetPortId: Dataset2
                    - SourceNodeId: node3
                      TargetNodeId: node1
                      TargetPortId: Dataset1
                    - SourceNodeId: node1
                      SourcePortId: Result Dataset
                      TargetNodeId: node4
                    GraphParameters: []
                    Nodes:
                      node1:
                        AssetId: asset1
                        Parameters:
                          R Script:
                            CertificateThumbprint: ""
                            Value: The R Script
                          R Version:
                            CertificateThumbprint: ""
                            Value: CRAN R 3.1.0
                      node2:
                        AssetId: asset2
                        Parameters:
                          Account Key:
                            CertificateThumbprint: TheThumbprint
                            Value: Encrypted Key
                          Account Name:
                            CertificateThumbprint: ""
                            Value: accountName
                          Please Specify Authentication Type:
                            CertificateThumbprint: ""
                            Value: Account
                          Please Specify Data Source:
                            CertificateThumbprint: ""
                            Value: AzureBlobStorage
                      node3:
                        InputId: input1
                      node4:
                        OutputId: output1
                  packageType: Graph
                  parameters: []
                  payloadsInBlobStorage: false
                  provisioningState: Provisioning
                  readOnly: false
                  realtimeConfiguration:
                    maxConcurrentCalls: 4
                  storageAccount:
                    name: Storage_Name
                  swaggerLocation: https://ussouthcentral.services.azureml.net/subscriptions/subscriptionId/services/serviceId/swagger.json
                  title: Web Service Title
                tags:
                  tag1: value1
                  tag2: value2
              headers:
                azure-asyncoperation: http://azure.async.operation/status
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/webServices/{webServiceName}/CreateRegionalBlob
  : post:
      description: Creates an encrypted credentials parameter blob for the specified
        region. To get the web service from a region other than the region in which
        it has been created, you must first call Create Regional Web Services Properties
        to create a copy of the encrypted credential parameter blob in that region.
        You only need to do this before the first time that you get the web service
        in the new region.
      operationId: WebServices_CreateRegionalProperties
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WebServiceNameParameter'
      - description: The region for which encrypted credential parameters are created.
        in: query
        name: region
        required: true
        type: string
      - $ref: '#/parameters/APIVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK. Internal use only. Used for SDK return values.
          schema:
            $ref: '#/definitions/AsyncOperationStatus'
        202:
          description: Accepted.  The response includes the Azure-AsyncOperation header.
            To get the progress of the operation, call the GET operation on the URL
            in the Azure-AsyncOperation header field. For more information about Asynchronous
            Operations, see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations.
      tags:
      - WebServices
      x-ms-examples:
        Create Regional Properties:
          parameters:
            api-version: "2017-01-01"
            region: Southeast Asia
            resourceGroupName: OneResourceGroupName
            subscriptionId: subscription-id
            webServiceName: TargetWebServiceName
          responses:
            202:
              headers:
                azure-asyncoperation: http://azure.async.operation/status
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/webServices/{webServiceName}/listKeys
  : get:
      description: Gets the access keys for the specified web service.
      operationId: WebServices_ListKeys
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WebServiceNameParameter'
      - $ref: '#/parameters/APIVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/WebServiceKeys'
      tags:
      - WebServices
      x-ms-examples:
        GET WebService Keys:
          parameters:
            api-version: "2017-01-01"
            resourceGroupName: OneResourceGroupName
            subscriptionId: subscription-id
            webServiceName: TargetWebServiceName
          responses:
            200:
              body:
                primary: The Primary key
                secondary: The Secondary key
              headers: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":32:{s:9:\"AssetItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Information
  about an asset associated with the web service.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Asset's
  Id.\";s:4:\"type\";s:6:\"string\";}s:10:\"inputPorts\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/InputPort\";}s:11:\"description\";s:42:\"Information
  about the asset's input ports.\";s:4:\"type\";s:6:\"object\";}s:12:\"locationInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BlobLocation\";s:11:\"description\";s:33:\"Access
  information for the asset.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:66:\"If
  the asset is a custom module, this holds the module's metadata.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Asset's
  friendly name.\";s:4:\"type\";s:6:\"string\";}s:11:\"outputPorts\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/OutputPort\";}s:11:\"description\";s:43:\"Information
  about the asset's output ports.\";s:4:\"type\";s:6:\"object\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"If
  the asset is a custom module, this holds the module's parameters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ModuleAssetParameter\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Asset's
  type.\";s:4:\"enum\";a:2:{i:0;s:6:\"Module\";i:1;s:8:\"Resource\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"AssetType\";}}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:12:\"locationInfo\";}s:4:\"type\";s:6:\"object\";}s:23:\"AsyncOperationErrorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  error detail information for async operation\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  error code.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"An
  array containing error information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/AsyncOperationErrorInfo\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  error message.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  error target.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AsyncOperationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Azure
  async operation status.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"endTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  date time that the async operation finished.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"errorInfo\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/AsyncOperationErrorInfo\";s:11:\"description\";s:72:\"If
  the async operation fails, this structure contains the error details.\";s:8:\"readOnly\";b:1;}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Async
  operation id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Async
  operation name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"percentComplete\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Async
  operation progress.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:116:\"Read
  Only: The provisioning state of the web service. Valid values are Unknown, Provisioning,
  Succeeded, and Failed.\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:12:\"Provisioning\";i:2;s:9:\"Succeeded\";i:3;s:6:\"Failed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"ProvisioningState\";}}s:9:\"startTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  date time that the async operation started.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"BlobLocation\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Describes
  the access location for a blob.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"credentials\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Access
  credentials for the blob, if applicable (e.g. blob specified by storage account
  connection string + blob URI)\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"The
  URI from which the blob is accessible from. For example, aml://abc for system assets
  or https://xyz for user assets or payload.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:3:\"uri\";}s:4:\"type\";s:6:\"object\";}s:19:\"ColumnSpecification\";O:8:\"stdClass\":4:{s:11:\"description\";s:157:\"Swagger
  2.0 schema for a column within the data table representing a web service input or
  output. See Swagger specification: http://swagger.io/specification/\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"enum\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"If
  the data type is categorical, this provides the list of accepted categories.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"format\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Additional
  format information for the data type.\";s:4:\"enum\";a:17:{i:0;s:4:\"Byte\";i:1;s:4:\"Char\";i:2;s:9:\"Complex64\";i:3;s:10:\"Complex128\";i:4;s:9:\"Date-time\";i:5;s:15:\"Date-timeOffset\";i:6;s:6:\"Double\";i:7;s:8:\"Duration\";i:8;s:5:\"Float\";i:9;s:4:\"Int8\";i:10;s:5:\"Int16\";i:11;s:5:\"Int32\";i:12;s:5:\"Int64\";i:13;s:5:\"Uint8\";i:14;s:6:\"Uint16\";i:15;s:6:\"Uint32\";i:16;s:6:\"Uint64\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"ColumnFormat\";}}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Data
  type of the column.\";s:4:\"enum\";a:4:{i:0;s:7:\"Boolean\";i:1;s:7:\"Integer\";i:2;s:6:\"Number\";i:3;s:6:\"String\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"ColumnType\";}}s:15:\"x-ms-isnullable\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Flag
  indicating if the type supports null values or not.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"x-ms-isordered\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Flag
  indicating whether the categories are treated as an ordered set or not, if this
  is a categorical column.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:14:\"CommitmentPlan\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"Information
  about the machine learning commitment plan associated with the web service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Specifies
  the Azure Resource Manager ID of the commitment plan associated with the web service.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:24:\"DiagnosticsConfiguration\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Diagnostics
  settings for an Azure ML web service.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"expiry\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"Specifies
  the date and time when the logging will cease. If null, diagnostic collection is
  not time limited.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"level\";O:8:\"stdClass\":4:{s:11:\"description\";s:184:\"Specifies
  the verbosity of the diagnostic output. Valid values are: None - disables tracing;
  Error - collects only error (stderr) traces; All - collects all traces (stdout and
  stderr).\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:5:\"Error\";i:2;s:3:\"All\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"DiagnosticsLevel\";}}}s:8:\"required\";a:1:{i:0;s:5:\"level\";}s:4:\"type\";s:6:\"object\";}s:14:\"ExampleRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Sample
  input data for the service's input(s).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"globalParameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:57:\"Sample
  input data for the web service's global parameters\";s:4:\"type\";s:6:\"object\";}s:6:\"inputs\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";s:106:\"Sample
  input data for the web service's input(s) given as an input name to sample input
  values matrix map.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:9:\"GraphEdge\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Defines
  an edge within the web service's graph.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"sourceNodeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  source graph node's identifier.\";s:4:\"type\";s:6:\"string\";}s:12:\"sourcePortId\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  identifier of the source node's port that the edge connects from.\";s:4:\"type\";s:6:\"string\";}s:12:\"targetNodeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  destination graph node's identifier.\";s:4:\"type\";s:6:\"string\";}s:12:\"targetPortId\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  identifier of the destination node's port that the edge connects into.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"GraphNode\";O:8:\"stdClass\":3:{s:11:\"description\";s:176:\"Specifies
  a node in the web service graph. The node can either be an input, output or asset
  node, so only one of the corresponding id properties is populated at any given time.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"assetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  id of the asset represented by this node.\";s:4:\"type\";s:6:\"string\";}s:7:\"inputId\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  id of the input element represented by this node.\";s:4:\"type\";s:6:\"string\";}s:8:\"outputId\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  id of the output element represented by this node.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/WebServiceParameter\";}s:11:\"description\";s:106:\"If
  applicable, parameters of the node. Global graph parameters map into these, with
  values set at runtime.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:12:\"GraphPackage\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Defines
  the graph of modules making up the machine learning solution.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"edges\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  list of edges making up the graph.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GraphEdge\";}s:4:\"type\";s:5:\"array\";}s:15:\"graphParameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/GraphParameter\";}s:11:\"description\";s:224:\"The
  collection of global parameters for the graph, given as a global parameter name
  to GraphParameter map. Each parameter here has a 1:1 match with the global parameters
  values map declared at the WebServiceProperties level.\";s:4:\"type\";s:6:\"object\";}s:5:\"nodes\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GraphNode\";}s:11:\"description\";s:75:\"The
  set of nodes making up the graph, provided as a nodeId to GraphNode map\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:14:\"GraphParameter\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Defines
  a global parameter in the graph.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Description
  of this graph parameter.\";s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Association
  links for this parameter to nodes in the graph.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/GraphParameterLink\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Graph
  parameter's type.\";s:4:\"enum\";a:12:{i:0;s:6:\"String\";i:1;s:3:\"Int\";i:2;s:5:\"Float\";i:3;s:10:\"Enumerated\";i:4;s:6:\"Script\";i:5;s:4:\"Mode\";i:6;s:10:\"Credential\";i:7;s:7:\"Boolean\";i:8;s:6:\"Double\";i:9;s:12:\"ColumnPicker\";i:10;s:14:\"ParameterRange\";i:11;s:15:\"DataGatewayName\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"ParameterType\";}}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:5:\"links\";}s:4:\"type\";s:6:\"object\";}s:18:\"GraphParameterLink\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"Association
  link for a graph global parameter to a node in the graph.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"nodeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  graph node's identifier\";s:4:\"type\";s:6:\"string\";}s:12:\"parameterKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  identifier of the node parameter that the global parameter maps to.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:6:\"nodeId\";i:1;s:12:\"parameterKey\";}s:4:\"type\";s:6:\"object\";}s:9:\"InputPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Asset
  input port\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":5:{s:7:\"default\";s:7:\"Dataset\";s:11:\"description\";s:15:\"Port
  data type.\";s:4:\"enum\";a:1:{i:0;s:7:\"Dataset\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"InputPortType\";}}}s:4:\"type\";s:6:\"object\";}s:24:\"MachineLearningWorkspace\";O:8:\"stdClass\":4:{s:11:\"description\";s:110:\"Information
  about the machine learning workspace containing the experiment that is source for
  the web service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Specifies
  the workspace ID of the machine learning workspace associated with the web service\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:13:\"ModeValueInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Nested
  parameter definition.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"interfaceString\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  interface string name for the nested parameter.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  definition of the parameter.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ModuleAssetParameter\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ModuleAssetParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Parameter
  definition for a module asset.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"modeValuesInfo\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ModeValueInfo\";}s:11:\"description\";s:82:\"Definitions
  for nested interface parameters if this is a complex module parameter.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Parameter
  name.\";s:4:\"type\";s:6:\"string\";}s:13:\"parameterType\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Parameter
  type.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"OperationDisplayInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  API operation info.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  description of the operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  action that users can perform, based on their permission level.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  service provider.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  resource on which the operation is performed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"OperationEntity\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"An
  API operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/OperationDisplayInfo\";s:11:\"description\";s:23:\"The
  API operation info.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Operation
  name: {provider}/{resource}/{operation}.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"OperationEntityListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  list of REST API operations.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  list of operations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/OperationEntity\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"OutputPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Asset
  output port\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":5:{s:7:\"default\";s:7:\"Dataset\";s:11:\"description\";s:15:\"Port
  data type.\";s:4:\"enum\";a:1:{i:0;s:7:\"Dataset\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:14:\"OutputPortType\";}}}s:4:\"type\";s:6:\"object\";}s:24:\"PaginatedWebServicesList\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Paginated
  list of web services.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"A
  continuation link (absolute URI) to the next page of results in the list.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"An
  array of web service objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/WebService\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"RealtimeConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Holds
  the available configuration options for an Azure ML web service endpoint.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"maxConcurrentCalls\";O:8:\"stdClass\":4:{s:11:\"description\";s:113:\"Specifies
  the maximum concurrent calls that can be made to the web service. Minimum value:
  4, Maximum value: 200.\";s:7:\"maximum\";i:200;s:7:\"minimum\";i:4;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Azure
  resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Specifies
  the resource ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Specifies
  the location of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Specifies
  the name of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:50:\"Contains
  resource tags defined as key/value pairs.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Specifies
  the type of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:31:\"ServiceInputOutputSpecification\";O:8:\"stdClass\":4:{s:11:\"description\";s:126:\"The
  swagger 2.0 schema describing the service's inputs or outputs. See Swagger specification:
  http://swagger.io/specification/\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  description of the Swagger schema.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TableSpecification\";}s:11:\"description\";s:152:\"Specifies
  a collection that contains the column schema for each input or output of the web
  service. For more information, see the Swagger specification.\";s:4:\"type\";s:6:\"object\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  title of your Swagger schema.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:7:\"default\";s:6:\"object\";s:11:\"description\";s:61:\"The
  type of the entity described in swagger. Always 'object'.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";}s:14:\"StorageAccount\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Access
  information for a storage account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Specifies
  the key used to access the storage account.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Specifies
  the name of the storage account.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"TableSpecification\";O:8:\"stdClass\":4:{s:11:\"description\";s:127:\"The
  swagger 2.0 schema describing a single service input or output. See Swagger specification:
  http://swagger.io/specification/\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Swagger
  schema description.\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  format, if 'type' is not 'object'\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ColumnSpecification\";}s:11:\"description\";s:41:\"The
  set of columns within the data table.\";s:4:\"type\";s:6:\"object\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Swagger
  schema title.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:7:\"default\";s:6:\"object\";s:11:\"description\";s:44:\"The
  type of the entity described in swagger.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:10:\"WebService\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:45:\"Instance
  of an Azure ML web service resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/WebServiceProperties\";s:11:\"description\";s:61:\"Contains
  the property payload that describes the web service.\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";}s:14:\"WebServiceKeys\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Access
  keys for the web service calls.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  primary access key.\";s:4:\"type\";s:6:\"string\";}s:9:\"secondary\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  secondary access key.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"WebServiceParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Web
  Service Parameter object for node and global parameter\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"certificateThumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"If
  the parameter value in 'value' field is encrypted, the thumbprint of the certificate
  should be put here.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  parameter value\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:20:\"WebServiceProperties\";O:8:\"stdClass\":5:{s:11:\"description\";s:68:\"The
  set of properties specific to the Azure ML web service resource.\";s:13:\"discriminator\";s:11:\"packageType\";s:10:\"properties\";O:8:\"stdClass\":22:{s:6:\"assets\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AssetItem\";}s:11:\"description\";s:108:\"Contains
  user defined properties describing web service assets. Properties are expressed
  as Key/Value pairs.\";s:4:\"type\";s:6:\"object\";}s:14:\"commitmentPlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CommitmentPlan\";s:11:\"description\";s:196:\"Contains
  the commitment plan associated with this web service. Set at creation time. Once
  set, this value cannot be changed. Note: The commitment plan is not returned from
  calls to GET operations.\";}s:9:\"createdOn\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Read
  Only: The date and time when the web service was created.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  description of the web service.\";s:4:\"type\";s:6:\"string\";}s:11:\"diagnostics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/DiagnosticsConfiguration\";s:11:\"description\";s:75:\"Settings
  controlling the diagnostics traces collection for the web service.\";}s:14:\"exampleRequest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ExampleRequest\";s:11:\"description\";s:66:\"Defines
  sample input data for one or more of the service's inputs.\";}s:16:\"exposeSampleData\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"When
  set to true, sample data is included in the web service's swagger definition. The
  default value is true.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ServiceInputOutputSpecification\";s:11:\"description\";s:136:\"Contains
  the Swagger 2.0 schema describing one or more of the web service's inputs. For more
  information, see the Swagger specification.\";}s:4:\"keys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/WebServiceKeys\";s:11:\"description\";s:204:\"Contains
  the web service provisioning keys. If you do not specify provisioning keys, the
  Azure Machine Learning system generates them for you. Note: The keys are not returned
  from calls to GET operations.\";}s:24:\"machineLearningWorkspace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/MachineLearningWorkspace\";s:11:\"description\";s:102:\"Specifies
  the Machine Learning workspace containing the experiment that is source for the
  web service.\";}s:10:\"modifiedOn\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Read
  Only: The date and time when the web service was last modified.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ServiceInputOutputSpecification\";s:11:\"description\";s:137:\"Contains
  the Swagger 2.0 schema describing one or more of the web service's outputs. For
  more information, see the Swagger specification.\";}s:11:\"packageType\";O:8:\"stdClass\":3:{s:11:\"description\";s:236:\"Specifies
  the package type. Valid values are Graph (Specifies a web service published through
  the Machine Learning Studio) and Code (Specifies a web service published using code
  such as Python). Note: Code is not supported at this time.\";s:4:\"enum\";a:1:{i:0;s:5:\"Graph\";}s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/WebServiceParameter\";}s:11:\"description\";s:197:\"The
  set of global parameters values defined for the web service, given as a global parameter
  name to default value map. If no default value is specified, the parameter is considered
  to be required.\";s:4:\"type\";s:6:\"object\";}s:21:\"payloadsInBlobStorage\";O:8:\"stdClass\":2:{s:11:\"description\";s:455:\"When
  set to true, indicates that the payload size is larger than 3 MB. Otherwise false.
  If the payload size exceed 3 MB, the payload is stored in a blob and the PayloadsLocation
  parameter contains the URI of the blob. Otherwise, this will be set to false and
  Assets, Input, Output, Package, Parameters, ExampleRequest are inline. The Payload
  sizes is determined by adding the size of the Assets, Input, Output, Package, Parameters,
  and the ExampleRequest.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"payloadsLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BlobLocation\";s:11:\"description\";s:146:\"The
  URI of the payload blob. This paramater contains a value only if the payloadsInBlobStorage
  parameter is set to true. Otherwise is set to null.\";}s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:113:\"Read
  Only: The provision state of the web service. Valid values are Unknown, Provisioning,
  Succeeded, and Failed.\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:12:\"Provisioning\";i:2;s:9:\"Succeeded\";i:3;s:6:\"Failed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"ProvisioningState\";}}s:8:\"readOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"When
  set to true, indicates that the web service is read-only and can no longer be updated
  or patched, only removed. Default, is false. Note: Once set to true, you cannot
  change its value.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"realtimeConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/RealtimeConfiguration\";s:11:\"description\";s:65:\"Contains
  the configuration settings for the web service endpoint.\";}s:14:\"storageAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StorageAccount\";s:11:\"description\";s:355:\"Specifies
  the storage account that Azure Machine Learning uses to store information about
  the web service. Only the name of the storage account is returned from calls to
  GET operations. When updating the storage account information, you must ensure that
  all necessary assets are available in the new storage account or calls to your web
  service will fail.\";}s:15:\"swaggerLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Read
  Only: Contains the URI of the swagger spec associated with this web service.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  title of the web service.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"packageType\";}s:4:\"type\";s:6:\"object\";}s:28:\"WebServicePropertiesForGraph\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/WebServiceProperties\";}}s:11:\"description\";s:49:\"Properties
  specific to a Graph based web service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"package\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/GraphPackage\";s:11:\"description\";s:63:\"The
  definition of the graph package making up this web service.\";}}s:24:\"x-ms-discriminator-value\";s:5:\"Graph\";}}"
...
