---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:23:\"MonitorManagementClient\";s:7:\"version\";s:10:\"2015-04-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:23:\"MonitorManagementClient\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:168:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/microsoft.insights/stable/2015-04-01/eventCategories_API.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:27:\"monitor-eventCategories_API\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /providers/microsoft.insights/eventcategories:
    get:
      description: 'Get the list of available event categories supported in the Activity
        Logs Service.<br>The current list includes the following: Administrative,
        Security, ServiceHealth, Alert, Recommendation, Policy.'
      operationId: EventCategories_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successful request to get the list of event categories
          schema:
            $ref: '#/definitions/EventCategoryCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - EventCategories
      x-ms-examples:
        Get event categories:
          parameters:
            api-version: "2015-04-01"
          responses:
            200:
              body:
                value:
                - localizedValue: category1
                  value: category1
                - localizedValue: category2
                  value: category2
      x-ms-pageable: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the format of Error response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"EventCategoryCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"A
  collection of event categories. Currently possible values are: Administrative, Security,
  ServiceHealth, Alert, Recommendation, Policy.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"the
  list that includes the Azure event categories.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LocalizableString\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:17:\"LocalizableString\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  localizable string class.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"the
  locale specific value.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"the
  invariant value.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}}"
...
