---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"ApiManagementClient\";s:11:\"description\";s:147:\"Use
  these REST APIs for performing operations on entities like API, Product, and Subscription
  associated with your Azure API Management deployment.\";s:7:\"version\";s:18:\"2018-06-01-preview\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policies
  : get:
      tags:
      - Policy
      operationId: Policy_ListByService
      description: Lists all the Global Policy definitions of the Api Management service.
      x-ms-examples:
        ApiManagementListPolicies:
          $ref: ./examples/ApiManagementListPolicies.json
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ServiceNameParameter'
      - name: scope
        in: query
        required: false
        type: string
        description: Policy scope.
        enum:
        - Tenant
        - Product
        - Api
        - Operation
        - All
        x-ms-enum:
          name: PolicyScopeContract
          modelAsString: false
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Returns an array of Policy Contracts.
          schema:
            $ref: '#/definitions/PolicyCollection'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policies/{policyId}
  : head:
      tags:
      - Policy
      operationId: Policy_GetEntityTag
      description: Gets the entity state (Etag) version of the Global policy definition
        in the Api Management service.
      x-ms-examples:
        ApiManagementHeadPolicy:
          $ref: ./examples/ApiManagementHeadPolicy.json
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ServiceNameParameter'
      - $ref: '#/parameters/PolicyIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The current entity state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: ./apimanagement.json#/definitions/ErrorResponse
    get:
      tags:
      - Policy
      operationId: Policy_Get
      description: Get the Global policy definition of the Api Management service.
      x-ms-examples:
        ApiManagementGetPolicy:
          $ref: ./examples/ApiManagementGetPolicy.json
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ServiceNameParameter'
      - $ref: '#/parameters/PolicyIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Returns the Policy Contracts.
          schema:
            $ref: '#/definitions/PolicyContract'
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque
                and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      tags:
      - Policy
      operationId: Policy_CreateOrUpdate
      description: Creates or updates the global policy configuration of the Api Management
        service.
      x-ms-examples:
        ApiManagementCreatePolicy:
          $ref: ./examples/ApiManagementCreatePolicy.json
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ServiceNameParameter'
      - $ref: '#/parameters/PolicyIdParameter'
      - name: parameters
        in: body
        schema:
          $ref: '#/definitions/PolicyContract'
        required: true
        description: The policy contents to apply.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        201:
          description: Global policy configuration was successfully created.
          schema:
            $ref: '#/definitions/PolicyContract'
        200:
          description: Global policy configuration of the Api Management service was
            successfully updated.
          schema:
            $ref: '#/definitions/PolicyContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
    delete:
      tags:
      - Policy
      operationId: Policy_Delete
      description: Deletes the global policy configuration of the Api Management Service.
      x-ms-examples:
        ApiManagementDeletePolicy:
          $ref: ./examples/ApiManagementDeletePolicy.json
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ServiceNameParameter'
      - $ref: '#/parameters/PolicyIdParameter'
      - $ref: '#/parameters/IfMatchRequiredParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successfully deleted the policy configuration at the Global
            level.
        204:
          description: Successfully deleted the policy configuration at the Global
            level.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policySnippets
  : get:
      tags:
      - PolicySnippets
      operationId: PolicySnippets_ListByService
      description: Lists all policy snippets.
      x-ms-examples:
        ApiManagementListPolicySnippets:
          $ref: ./examples/ApiManagementListPolicySnippets.json
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ServiceNameParameter'
      - name: scope
        in: query
        required: false
        type: string
        description: Policy scope.
        enum:
        - Tenant
        - Product
        - Api
        - Operation
        - All
        x-ms-enum:
          name: PolicyScopeContract
          modelAsString: false
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Returns an array of Policy Contracts.
          schema:
            $ref: '#/definitions/PolicySnippetsCollection'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/regions
  : get:
      tags:
      - Regions
      operationId: Regions_ListByService
      description: Lists all azure regions in which the service exists.
      x-ms-examples:
        ApiManagementListRegions:
          $ref: ./examples/ApiManagementListRegions.json
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ServiceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Lists of Regions in which the service is deployed.
          schema:
            $ref: '#/definitions/RegionListResult'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:18:\"ErrorFieldContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Property
  level error code.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Human-readable
  representation of property-level error.\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Property
  name.\";}}s:11:\"description\";s:21:\"Error Field contract.\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:31:\"#/definitions/ErrorResponseBody\";s:11:\"description\";s:33:\"Properties
  of the Error Response.\";}}s:11:\"description\";s:15:\"Error Response.\";}s:17:\"ErrorResponseBody\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Service-defined
  error code. This code serves as a sub-status for the HTTP error code specified in
  the response.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Human-readable
  representation of the error.\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ErrorFieldContract\";}s:11:\"description\";s:72:\"The
  list of invalid fields send in request, in case of validation error.\";}}s:11:\"description\";s:20:\"Error
  Body contract.\";}s:16:\"PolicyCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PolicyContract\";}s:11:\"description\";s:22:\"Policy
  Contract value.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:42:\"The response of the list policy
  operation.\";}s:14:\"PolicyContract\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:38:\"#/definitions/PolicyContractProperties\";s:11:\"description\";s:25:\"Properties
  of the Policy.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:24:\"Policy
  Contract details.\";}s:24:\"PolicyContractProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"policyContent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Json
  escaped Xml Encoded contents of the Policy.\";}s:13:\"contentFormat\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Format
  of the policyContent.\";s:4:\"enum\";a:4:{i:0;s:3:\"xml\";i:1;s:8:\"xml-link\";i:2;s:6:\"rawxml\";i:3;s:11:\"rawxml-link\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:4:\"name\";s:19:\"PolicyContentFormat\";s:13:\"modelAsString\";b:1;s:6:\"values\";a:4:{i:0;O:8:\"stdClass\":2:{s:5:\"value\";s:3:\"xml\";s:11:\"description\";s:60:\"The
  contents are inline and Content type is an XML document.\";}i:1;O:8:\"stdClass\":2:{s:5:\"value\";s:8:\"xml-link\";s:11:\"description\";s:96:\"The
  policy XML document is hosted on a http endpoint accessible from the API Management
  service.\";}i:2;O:8:\"stdClass\":2:{s:5:\"value\";s:6:\"rawxml\";s:11:\"description\";s:78:\"The
  contents are inline and Content type is a non XML encoded policy document.\";}i:3;O:8:\"stdClass\":2:{s:5:\"value\";s:11:\"rawxml-link\";s:11:\"description\";s:115:\"The
  policy document is not Xml encoded and is hosted on a http endpoint accessible from
  the API Management service.\";}}}s:7:\"default\";s:3:\"xml\";}}s:8:\"required\";a:1:{i:0;s:13:\"policyContent\";}s:11:\"description\";s:27:\"Policy
  contract Properties.\";}s:24:\"PolicySnippetsCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PolicySnippetContract\";}s:11:\"description\";s:21:\"Policy
  snippet value.\";}}s:11:\"description\";s:51:\"The response of the list policy snippets
  operation.\";}s:21:\"PolicySnippetContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Snippet
  name.\";s:8:\"readOnly\";b:1;}s:7:\"content\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Snippet
  content.\";s:8:\"readOnly\";b:1;}s:7:\"toolTip\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Snippet
  toolTip.\";s:8:\"readOnly\";b:1;}s:5:\"scope\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:37:\"Binary
  OR value of the Snippet scope.\";s:8:\"readOnly\";b:1;}}s:11:\"description\";s:15:\"Policy
  snippet.\";}s:14:\"RegionContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Region
  name.\";s:8:\"readOnly\";b:1;}s:14:\"isMasterRegion\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"whether
  Region is the master region.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"isDeleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"whether
  Region is deleted.\";s:4:\"type\";s:7:\"boolean\";}}s:11:\"description\";s:15:\"Region
  profile.\";}s:16:\"RegionListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RegionContract\";}s:11:\"description\";s:17:\"Lists
  of Regions.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:43:\"Total
  record count number across all pages.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Next
  page link if any.\";}}s:11:\"description\";s:41:\"Lists Regions operation response
  details.\";}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  Resource definition.\";s:19:\"x-ms-azure-resource\";b:1;s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Resource
  ID.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Resource
  type for API Management resource.\";}}}}"
...
