---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:27:\"Azure SQL Database API
  spec\";s:11:\"description\";s:170:\"The Azure SQL Database management API provides
  a RESTful set of web services that interact with Azure SQL Database services to
  manage your external server administrators.\";s:7:\"version\";s:10:\"2014-04-01\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/administrators/{administratorName}
  : put:
      tags:
      - ServerAdministrators
      operationId: ServerAzureADAdministrators_CreateOrUpdate
      description: Creates a new Server Active Directory Administrator or updates
        an existing server Active Directory Administrator.
      x-ms-examples:
        Create/Update a server administrator:
          $ref: ./examples/ServerAdminCreateUpdate.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/AdministratorNameParameter'
      - name: properties
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServerAzureADAdministrator'
        description: The required parameters for creating or updating an Active Directory
          Administrator.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServerAzureADAdministrator'
        201:
          description: Created
          schema:
            $ref: '#/definitions/ServerAzureADAdministrator'
        202:
          description: Accepted
          schema:
            $ref: '#/definitions/ServerAzureADAdministrator'
      x-ms-long-running-operation: true
    delete:
      tags:
      - ServerAdministrators
      operationId: ServerAzureADAdministrators_Delete
      description: Deletes an existing server Active Directory Administrator.
      x-ms-examples:
        Delete a server administrator:
          $ref: ./examples/ServerAdminDelete.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/AdministratorNameParameter'
      responses:
        202:
          description: Accepted
          schema:
            $ref: '#/definitions/ServerAzureADAdministrator'
        204:
          description: No Content
          schema:
            $ref: '#/definitions/ServerAzureADAdministrator'
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServerAzureADAdministrator'
      x-ms-long-running-operation: true
    get:
      tags:
      - ServerAdministrators
      operationId: ServerAzureADAdministrators_Get
      description: Returns an server Administrator.
      x-ms-examples:
        Get the Active Directory Administrator:
          $ref: ./examples/ServerAdminGet.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/AdministratorNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServerAzureADAdministrator'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/administrators:
    get:
      tags:
      - ServerAdministrators
      operationId: ServerAzureADAdministrators_ListByServer
      description: Returns a list of server Administrators.
      x-ms-examples:
        get a list of server administrators:
          $ref: ./examples/ServerAdminList.json
      parameters:
      - $ref: ../../../common/v1/types.json#/parameters/ApiVersionParameter
      - $ref: ../../../common/v1/types.json#/parameters/SubscriptionIdParameter
      - $ref: ../../../common/v1/types.json#/parameters/ResourceGroupParameter
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServerAdministratorListResult'
      x-ms-pageable:
        nextLinkName: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:29:\"ServerAdministratorProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"administratorType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  type of administrator.\";s:4:\"enum\";a:1:{i:0;s:15:\"ActiveDirectory\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:17:\"AdministratorType\";}}s:5:\"login\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  server administrator login value.\";}s:3:\"sid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  server administrator Sid (Secure ID).\";s:6:\"format\";s:4:\"uuid\";}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  server Active Directory Administrator tenant id.\";s:6:\"format\";s:4:\"uuid\";}}s:8:\"required\";a:4:{i:0;s:8:\"tenantId\";i:1;s:17:\"administratorType\";i:2;s:5:\"login\";i:3;s:3:\"sid\";}s:11:\"description\";s:42:\"The
  properties of an server Administrator.\";}s:26:\"ServerAzureADAdministrator\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:43:\"#/definitions/ServerAdministratorProperties\";s:11:\"description\";s:31:\"The
  properties of the resource.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"../../../common/v1/types.json#/definitions/ProxyResource\";}}s:11:\"description\";s:41:\"An
  server Active Directory Administrator.\";}s:29:\"ServerAdministratorListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ServerAzureADAdministrator\";}s:11:\"description\";s:66:\"The
  list of server Active Directory Administrators for the server.\";}}s:11:\"description\";s:63:\"The
  response to a list Active Directory Administrators request.\";}}"
...
