---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:149:\"Use these APIs
  to manage Azure CDN resources through the Azure Resource Manager. You must make
  sure that requests made to these resources are secure.\";s:5:\"title\";s:19:\"CdnManagementClient\";s:7:\"version\";s:10:\"2017-04-02\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:143:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cdn/resource-manager/Microsoft.Cdn/stable/2017-04-02/cdn.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:3:\"cdn\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"azure_cdn\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.Cdn/checkNameAvailability:
    post:
      description: Check the availability of a resource name. This is needed for resources
        where name is globally unique, such as a CDN endpoint.
      operationId: CheckNameAvailability
      parameters:
      - description: Input to check.
        in: body
        name: checkNameAvailabilityInput
        required: true
        schema:
          $ref: '#/definitions/CheckNameAvailabilityInput'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/CheckNameAvailabilityOutput'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - CheckNameAvailability
      x-ms-examples:
        CheckNameAvailability:
          parameters:
            api-version: "2017-04-02"
            checkNameAvailabilityInput:
              name: sampleName
              type: Microsoft.Cdn/Profiles/Endpoints
          responses:
            200:
              body:
                message: Name not available
                nameAvailable: false
                reason: Name is already in use
  /providers/Microsoft.Cdn/edgenodes:
    get:
      description: Edgenodes are the global Point of Presence (POP) locations used
        to deliver CDN content to end users.
      operationId: EdgeNodes_List
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/EdgenodeResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Edgenodes
      x-ms-examples:
        EdgeNodes_List:
          parameters:
            api-version: "2017-04-02"
          responses:
            200:
              body:
                value:
                - id: /providers/Microsoft.Cdn/edgenodes/Standard_Verizon
                  name: Standard_Verizon
                  properties:
                    ipAddressGroups:
                    - deliveryRegion: All
                      ipv4Addresses:
                      - baseIpAddress: 192.229.176.0
                        prefixLength: 24
                      - baseIpAddress: 180.240.184.128
                        prefixLength: 25
                      - baseIpAddress: 152.195.27.0
                        prefixLength: 24
                      ipv6Addresses:
                      - baseIpAddress: '2606:2800:60f2::'
                        prefixLength: 48
                      - baseIpAddress: '2606:2800:700c::'
                        prefixLength: 48
                  type: Microsoft.Cdn/edgenodes
                - id: /providers/Microsoft.Cdn/edgenodes/Premium_Verizon
                  name: Premium_Verizon
                  properties:
                    ipAddressGroups:
                    - deliveryRegion: All
                      ipv4Addresses:
                      - baseIpAddress: 192.229.176.0
                        prefixLength: 24
                      - baseIpAddress: 152.195.27.0
                        prefixLength: 24
                      ipv6Addresses:
                      - baseIpAddress: '2606:2800:60f2::'
                        prefixLength: 48
                      - baseIpAddress: '2606:2800:700c::'
                        prefixLength: 48
                  type: Microsoft.Cdn/edgenodes
                - id: /providers/Microsoft.Cdn/edgenodes/Custom_Verizon
                  name: Custom_Verizon
                  properties:
                    ipAddressGroups:
                    - deliveryRegion: All
                      ipv4Addresses:
                      - baseIpAddress: 192.229.176.0
                        prefixLength: 24
                      - baseIpAddress: '2606:2800:420b::'
                        prefixLength: 48
                      - baseIpAddress: '2606:2800:700c::'
                        prefixLength: 48
                  type: Microsoft.Cdn/edgenodes
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Cdn/operations:
    get:
      description: Lists all of the available CDN REST API operations.
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationsListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Operations
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: "2017-04-02"
          responses:
            200:
              body:
                value:
                - display:
                    description: Registers the subscription for the CDN resource provider
                      and enables the creation of CDN profiles.
                    operation: Registers the Microsoft.Cdn Resource Provider
                    provider: Microsoft.Cdn
                    resource: Microsoft.Cdn Resource Provider
                  name: Microsoft.Cdn/register/action
                - display:
                    operation: read
                    provider: Microsoft.Cdn
                    resource: EdgeNode
                  name: Microsoft.Cdn/edgenodes/read
                - display:
                    operation: write
                    provider: Microsoft.Cdn
                    resource: EdgeNode
                  name: Microsoft.Cdn/edgenodes/write
                - display:
                    operation: delete
                    provider: Microsoft.Cdn
                    resource: EdgeNode
                  name: Microsoft.Cdn/edgenodes/delete
                - display:
                    operation: read
                    provider: Microsoft.Cdn
                    resource: Profile
                  name: Microsoft.Cdn/profiles/read
                - display:
                    operation: write
                    provider: Microsoft.Cdn
                    resource: Profile
                  name: Microsoft.Cdn/profiles/write
                - display:
                    operation: write
                    provider: Microsoft.Cdn
                    resource: Profile
                  name: Microsoft.Cdn/operationresults/profileresults/write
                - display:
                    operation: delete
                    provider: Microsoft.Cdn
                    resource: Profile
                  name: Microsoft.Cdn/operationresults/profileresults/delete
                - display:
                    operation: CheckResourceUsage
                    provider: Microsoft.Cdn
                    resource: Profile
                  name: Microsoft.Cdn/operationresults/profileresults/CheckResourceUsage/action
                - display:
                    operation: GenerateSsoUri
                    provider: Microsoft.Cdn
                    resource: Profile
                  name: Microsoft.Cdn/operationresults/profileresults/GenerateSsoUri/action
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Cdn/checkResourceUsage:
    post:
      description: Check the quota and actual usage of the CDN profiles under the
        given subscription.
      operationId: ResourceUsage_List
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ResourceUsageListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - CheckResourceUsage
      x-ms-examples:
        ResourceUsage_List:
          parameters:
            api-version: "2017-04-02"
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - currentValue: 31
                  limit: 200
                  resourceType: profile
                  unit: count
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Cdn/profiles:
    get:
      description: Lists all of the CDN profiles within an Azure subscription.
      operationId: Profiles_List
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ProfileListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Profiles
      x-ms-examples:
        Profiles_List:
          parameters:
            api-version: "2017-04-02"
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid/resourcegroups/RG1/providers/Microsoft.Cdn/profiles/profile1
                  location: WestCentralUs
                  name: profile1
                  properties:
                    provisioningState: Succeeded
                    resourceState: Active
                  sku:
                    name: Standard_Akamai
                  tags: []
                  type: Microsoft.Cdn/profiles
                - id: /subscriptions/subid/resourcegroups/RG1/providers/Microsoft.Cdn/profiles/profile2
                  location: WestCentralUs
                  name: profile2
                  properties:
                    provisioningState: Succeeded
                    resourceState: Active
                  sku:
                    name: Standard_Akamai
                  tags: []
                  type: Microsoft.Cdn/profiles
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Cdn/validateProbe:
    post:
      description: Check if the probe path is a valid path and the file can be accessed.
        Probe path is the path to a file hosted on the origin server to help accelerate
        the delivery of dynamic content via the CDN endpoint. This path is relative
        to the origin path specified in the endpoint configuration.
      operationId: ValidateProbe
      parameters:
      - description: Input to check.
        in: body
        name: validateProbeInput
        required: true
        schema:
          $ref: '#/definitions/ValidateProbeInput'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ValidateProbeOutput'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - ValidateProbe
      x-ms-examples:
        ValidateProbe:
          parameters:
            api-version: "2017-04-02"
            validateProbeInput:
              probeURL: https://www.bing.com/image
          responses:
            200:
              body:
                errorCode: None
                isValid: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles:
    get:
      description: Lists all of the CDN profiles within a resource group.
      operationId: Profiles_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ProfileListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Profiles
      x-ms-examples:
        Profiles_ListByResourceGroup:
          parameters:
            api-version: "2017-04-02"
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1
                  location: WestCentralUs
                  name: profile1
                  properties:
                    provisioningState: Succeeded
                    resourceState: Active
                  sku:
                    name: Standard_Akamai
                  tags: []
                  type: Microsoft.Cdn/profiles
                - id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile2
                  location: WestCentralUs
                  name: profile2
                  properties:
                    provisioningState: Succeeded
                    resourceState: Active
                  sku:
                    name: Standard_Akamai
                  tags: []
                  type: Microsoft.Cdn/profiles
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}:
    delete:
      description: Deletes an existing CDN profile with the specified parameters.
        Deleting a profile will result in the deletion of all of the sub-resources
        including endpoints, origins and custom domains.
      operationId: Profiles_Delete
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        202:
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
        204:
          description: No Content. The request has been accepted but the profile was
            not found.
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Profiles
      x-ms-examples:
        Profiles_Delete:
          parameters:
            api-version: "2017-04-02"
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            202:
              body: []
      x-ms-long-running-operation: true
    get:
      description: Gets a CDN profile with the specified profile name under the specified
        subscription and resource group.
      operationId: Profiles_Get
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Profile'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Profiles
      x-ms-examples:
        Profiles_Get:
          parameters:
            api-version: "2017-04-02"
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1
                  location: WestCentralUs
                  name: profile1
                  properties:
                    provisioningState: Succeeded
                    resourceState: Active
                  sku:
                    name: Standard_Akamai
                  tags: []
                  type: Microsoft.Cdn/profiles
    patch:
      description: Updates an existing CDN profile with the specified profile name
        under the specified subscription and resource group.
      operationId: Profiles_Update
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Profile properties needed to update an existing profile.
        in: body
        name: profileUpdateParameters
        required: true
        schema:
          $ref: '#/definitions/ProfileUpdateParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Profile'
        202:
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/Profile'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Profiles
      x-ms-examples:
        Profiles_Update:
          parameters:
            api-version: "2017-04-02"
            profileName: profile1
            profileUpdateParameters:
              tags:
                additionalProperties: Tag1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            201:
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1
                location: WestCentralUs
                name: profile1
                properties:
                  provisioningState: Succeeded
                  resourceState: Active
                sku:
                  name: Standard_Verizon
                tags:
                  additionalProperties: Tag1
                type: Microsoft.Cdn/profiles
      x-ms-long-running-operation: true
    put:
      description: Creates a new CDN profile with a profile name under the specified
        subscription and resource group.
      operationId: Profiles_Create
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Profile properties needed to create a new profile.
        in: body
        name: profile
        required: true
        schema:
          $ref: '#/definitions/Profile'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Profile'
        201:
          description: Created. The request has been fulfilled and a new profile has
            been created.
          schema:
            $ref: '#/definitions/Profile'
        202:
          description: Accepted. The request has been accepted for processing and
            the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/Profile'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Profiles
      x-ms-examples:
        Profiles_Create:
          parameters:
            api-version: "2017-04-02"
            profile:
              location: WestCentralUs
              sku:
                name: Standard_Verizon
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            201:
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1
                location: WestCentralUs
                name: profile1
                properties:
                  provisioningState: Creating
                  resourceState: Creating
                sku:
                  name: Standard_Verizon
                tags: []
                type: Microsoft.Cdn/profiles
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/checkResourceUsage
  : post:
      description: Checks the quota and actual usage of endpoints under the given
        CDN profile.
      operationId: Profiles_ListResourceUsage
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ResourceUsageListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Profiles
      x-ms-examples:
        Profiles_ListResourceUsage:
          parameters:
            api-version: "2017-04-02"
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - currentValue: 0
                  limit: 25
                  resourceType: endpoint
                  unit: count
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints:
    get:
      description: Lists existing CDN endpoints.
      operationId: Endpoints_ListByProfile
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/EndpointListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Endpoints
      x-ms-examples:
        Endpoints_ListByProfile:
          parameters:
            api-version: "2017-04-02"
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1
                  location: CentralUs
                  name: endpoint1
                  properties:
                    contentTypesToCompress: []
                    customDomains: []
                    geoFilters: []
                    hostName: endpoint1.azureedge.net
                    isCompressionEnabled: false
                    isHttpAllowed: true
                    isHttpsAllowed: true
                    optimizationType: DynamicSiteAcceleration
                    originHostHeader: www.bing.com
                    origins:
                    - name: www-bing-com
                      properties:
                        hostName: www.bing.com
                        httpPort: 80
                        httpsPort: 443
                    probePath: /image
                    provisioningState: Succeeded
                    queryStringCachingBehavior: NotSet
                    resourceState: Running
                  tags: []
                  type: Microsoft.Cdn/profiles/endpoints
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}
  : delete:
      description: Deletes an existing CDN endpoint with the specified endpoint name
        under the specified subscription, resource group and profile.
      operationId: Endpoints_Delete
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        202:
          description: Accepted and the operation will complete asynchronously.
        204:
          description: No Content. The request has been accepted but the endpoint
            was not found.
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Endpoints
      x-ms-examples:
        Endpoints_Delete:
          parameters:
            api-version: "2017-04-02"
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            202:
              body: []
      x-ms-long-running-operation: true
    get:
      description: Gets an existing CDN endpoint with the specified endpoint name
        under the specified subscription, resource group and profile.
      operationId: Endpoints_Get
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Endpoint'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Endpoints
      x-ms-examples:
        Endpoints_Get:
          parameters:
            api-version: "2017-04-02"
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1
                location: CentralUs
                name: endpoint1
                properties:
                  contentTypesToCompress: []
                  customDomains: []
                  geoFilters: []
                  hostName: endpoint1.azureedge.net
                  isCompressionEnabled: false
                  isHttpAllowed: true
                  isHttpsAllowed: true
                  optimizationType: DynamicSiteAcceleration
                  originHostHeader: www.bing.com
                  origins:
                  - name: www-bing-com
                    properties:
                      hostName: www.bing.com
                      httpPort: 80
                      httpsPort: 443
                  probePath: /image
                  provisioningState: Succeeded
                  queryStringCachingBehavior: NotSet
                  resourceState: Running
                tags: []
                type: Microsoft.Cdn/profiles/endpoints
    patch:
      description: Updates an existing CDN endpoint with the specified endpoint name
        under the specified subscription, resource group and profile. Only tags and
        Origin HostHeader can be updated after creating an endpoint. To update origins,
        use the Update Origin operation. To update custom domains, use the Update
        Custom Domain operation.
      operationId: Endpoints_Update
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - description: Endpoint update properties
        in: body
        name: endpointUpdateProperties
        required: true
        schema:
          $ref: '#/definitions/EndpointUpdateParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Endpoint'
        202:
          description: Accepted and  the operation will complete asynchronously
          schema:
            $ref: '#/definitions/Endpoint'
        default:
          description: CDN error response describing why the operation failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Endpoints
      x-ms-examples:
        Endpoints_Update:
          parameters:
            api-version: "2017-04-02"
            endpointName: endpoint1
            endpointUpdateProperties:
              tags:
                additionalProperties: Tag1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1
                location: WestCentralUs
                name: endpoint1
                properties:
                  contentTypesToCompress: []
                  customDomains: []
                  geoFilters: []
                  hostName: endpoint1.azureedge.net
                  isCompressionEnabled: false
                  isHttpAllowed: true
                  isHttpsAllowed: true
                  origins:
                  - name: www-bing-com
                    properties:
                      hostName: www.bing.com
                      httpPort: 80
                      httpsPort: 443
                  provisioningState: Creating
                  queryStringCachingBehavior: IgnoreQueryString
                  resourceState: Creating
                tags:
                  additionalProperties: Tag1
                type: Microsoft.Cdn/profiles/endpoints
      x-ms-long-running-operation: true
    put:
      description: Creates a new CDN endpoint with the specified endpoint name under
        the specified subscription, resource group and profile.
      operationId: Endpoints_Create
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - description: Endpoint properties
        in: body
        name: endpoint
        required: true
        schema:
          $ref: '#/definitions/Endpoint'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Endpoint'
        201:
          description: Created. The request has been fulfilled and a new endpoint
            has been created.
          schema:
            $ref: '#/definitions/Endpoint'
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/Endpoint'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Endpoints
      x-ms-examples:
        Endpoints_Create:
          parameters:
            api-version: "2017-04-02"
            endpoint:
              location: WestCentralUs
              properties:
                origins:
                - name: www-bing-com
                  properties:
                    hostName: www.bing.com
                    httpPort: 80
                    httpsPort: 443
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            201:
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1
                location: WestCentralUs
                name: endpoint1
                properties:
                  contentTypesToCompress: []
                  customDomains: []
                  geoFilters: []
                  hostName: endpoint1.azureedge.net
                  isCompressionEnabled: false
                  isHttpAllowed: true
                  isHttpsAllowed: true
                  origins:
                  - name: www-bing-com
                    properties:
                      hostName: www.bing.com
                      httpPort: 80
                      httpsPort: 443
                  provisioningState: Creating
                  queryStringCachingBehavior: IgnoreQueryString
                  resourceState: Creating
                tags: []
                type: Microsoft.Cdn/profiles/endpoints
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/checkResourceUsage
  : post:
      description: Checks the quota and usage of geo filters and custom domains under
        the given endpoint.
      operationId: Endpoints_ListResourceUsage
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ResourceUsageListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Endpoints
      x-ms-examples:
        Endpoints_ListResourceUsage:
          parameters:
            api-version: "2017-04-02"
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            202:
              body:
                value:
                - currentValue: 1
                  limit: 20
                  resourceType: customdomain
                  unit: count
                - currentValue: 0
                  limit: 25
                  resourceType: geofilter
                  unit: count
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains
  : get:
      description: Lists all of the existing custom domains within an endpoint.
      operationId: CustomDomains_ListByEndpoint
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/CustomDomainListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - CustomDomains
      x-ms-examples:
        CustomDomains_ListByEndpoint:
          parameters:
            api-version: "2017-04-02"
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/customdomains/www-someDomain-net
                  name: www-someDomain-net
                  properties:
                    customHttpsProvisioningState: Disabled
                    customHttpsProvisioningSubstate: None
                    hostName: www.someDomain.net
                    provisioningState: Succeeded
                    resourceState: Active
                  type: Microsoft.Cdn/profiles/endpoints/customdomains
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}
  : delete:
      description: Deletes an existing custom domain within an endpoint.
      operationId: CustomDomains_Delete
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - description: Name of the custom domain within an endpoint.
        in: path
        name: customDomainName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/CustomDomain'
        204:
          description: No Content. The request has been accepted but the custom domain
            was not found
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - CustomDomains
      x-ms-examples:
        CustomDomains_Delete:
          parameters:
            api-version: "2017-04-02"
            customDomainName: www-someDomain-net
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body: []
      x-ms-long-running-operation: true
    get:
      description: Gets an exisitng custom domain within an endpoint.
      operationId: CustomDomains_Get
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - description: Name of the custom domain within an endpoint.
        in: path
        name: customDomainName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/CustomDomain'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - CustomDomains
      x-ms-examples:
        CustomDomains_Get:
          parameters:
            api-version: "2017-04-02"
            customDomainName: www-someDomain-net
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/customdomains/www-someDomain-net
                name: www-someDomain-net
                properties:
                  customHttpsProvisioningState: Disabled
                  customHttpsProvisioningSubstate: None
                  hostName: www.someDomain.net
                  provisioningState: Succeeded
                  resourceState: Active
                type: Microsoft.Cdn/profiles/endpoints/customdomains
    put:
      description: Creates a new custom domain within an endpoint.
      operationId: CustomDomains_Create
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - description: Name of the custom domain within an endpoint.
        in: path
        name: customDomainName
        required: true
        type: string
      - description: Properties required to create a new custom domain.
        in: body
        name: customDomainProperties
        required: true
        schema:
          $ref: '#/definitions/CustomDomainParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/CustomDomain'
        201:
          description: Created. The request has been fulfilled and a new custom domain
            has been created.
          schema:
            $ref: '#/definitions/CustomDomain'
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/CustomDomain'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - CustomDomains
      x-ms-examples:
        CustomDomains_Create:
          parameters:
            api-version: "2017-04-02"
            customDomainName: www-someDomain-net
            customDomainProperties:
              hostName: www.someDomain.net
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/customdomains/www-someDomain-net
                name: www-someDomain-net
                properties:
                  customHttpsProvisioningState: Enabling
                  customHttpsProvisioningSubstate: PendingDomainControlValidationRequestApproval
                  hostName: www.someDomain.net
                  provisioningState: Succeeded
                  resourceState: Active
                type: Microsoft.Cdn/profiles/endpoints/customdomains
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}/disableCustomHttps
  : post:
      description: Disable https delivery of the custom domain.
      operationId: CustomDomains_DisableCustomHttps
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - description: Name of the custom domain within an endpoint.
        in: path
        name: customDomainName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/CustomDomain'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - CustomDomains
      x-ms-examples:
        CustomDomains_DisableCustomHttps:
          parameters:
            api-version: "2017-04-02"
            customDomainName: www-someDomain-net
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}/enableCustomHttps
  : post:
      description: Enable https delivery of the custom domain.
      operationId: CustomDomains_EnableCustomHttps
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - description: Name of the custom domain within an endpoint.
        in: path
        name: customDomainName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/CustomDomain'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - CustomDomains
      x-ms-examples:
        CustomDomains_EnableCustomHttps:
          parameters:
            api-version: "2017-04-02"
            customDomainName: www-someDomain-net
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/load
  : post:
      description: Pre-loads a content to CDN. Available for Verizon Profiles.
      operationId: Endpoints_LoadContent
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - description: 'The path to the content to be loaded. Path should be a full
          URL, e.g. u2018/pictires/city.png'' which loads a single file '
        in: body
        name: contentFilePaths
        required: true
        schema:
          $ref: '#/definitions/LoadParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
        202:
          description: Accepted and the operation will complete asynchronously.
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Endpoints
      x-ms-examples:
        Endpoints_LoadContent:
          parameters:
            api-version: "2017-04-02"
            contentFilePaths:
              contentPaths:
              - /folder1
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            202:
              body: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/origins
  : get:
      description: Lists all of the existing origins within an endpoint.
      operationId: Origins_ListByEndpoint
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OriginListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Origins
      x-ms-examples:
        Origins_ListByEndpoint:
          parameters:
            api-version: "2017-04-02"
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body:
                value:
                - id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/www-someDomain-net
                  name: www-someDomain-net
                  properties:
                    hostName: www.someDomain.net
                    provisioningState: Succeeded
                    resourceState: Active
                  type: Microsoft.Cdn/profiles/endpoints/origins
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/origins/{originName}
  : get:
      description: Gets an existing origin within an endpoint.
      operationId: Origins_Get
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - description: Name of the origin which is unique within the endpoint.
        in: path
        name: originName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Origin'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Origins
      x-ms-examples:
        Origins_Get:
          parameters:
            api-version: "2017-04-02"
            endpointName: endpoint1
            originName: www-someDomain-net
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/www-someDomain-net
                name: www-someDomain-net
                properties:
                  hostName: www.someDomain.net
                  provisioningState: Succeeded
                  resourceState: Active
                type: Microsoft.Cdn/profiles/endpoints/origins
    patch:
      description: Updates an existing origin within an endpoint.
      operationId: Origins_Update
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - description: Name of the origin which is unique within the endpoint.
        in: path
        name: originName
        required: true
        type: string
      - description: Origin properties
        in: body
        name: originUpdateProperties
        required: true
        schema:
          $ref: '#/definitions/OriginUpdateParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Origin'
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/Origin'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Origins
      x-ms-examples:
        Origins_Update:
          parameters:
            api-version: "2017-04-02"
            endpointName: endpoint1
            originName: www-someDomain-net
            originUpdateProperties:
              httpPort: 42
              httpsPort: 43
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            202:
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/www-someDomain-net
                name: www-someDomain-net
                properties:
                  hostName: www.someDomain.net
                  httpPort: 42
                  httpsPort: 43
                  provisioningState: Succeeded
                  resourceState: Active
                type: Microsoft.Cdn/profiles/endpoints/origins
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/purge
  : post:
      description: Removes a content from CDN.
      operationId: Endpoints_PurgeContent
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - description: The path to the content to be purged. Path can be a full URL,
          e.g. '/pictures/city.png' which removes a single file, or a directory with
          a wildcard, e.g. '/pictures/*' which removes all folders and files in the
          directory.
        in: body
        name: contentFilePaths
        required: true
        schema:
          $ref: '#/definitions/PurgeParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
        202:
          description: Accepted and the operation will complete asynchronously.
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Endpoints
      x-ms-examples:
        Endpoints_PurgeContent:
          parameters:
            api-version: "2017-04-02"
            contentFilePaths:
              contentPaths:
              - /folder1
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            202:
              body: []
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/start
  : post:
      description: Starts an existing CDN endpoint that is on a stopped state.
      operationId: Endpoints_Start
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Endpoint'
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/Endpoint'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Endpoints
      x-ms-examples:
        Endpoints_Start:
          parameters:
            api-version: "2017-04-02"
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            202:
              body:
                contentTypesToCompress: []
                customDomains: []
                geoFilters: []
                hostName: endpoint1.azureedge.net
                isCompressionEnabled: false
                isHttpAllowed: true
                isHttpsAllowed: true
                optimizationType: DynamicSiteAcceleration
                originHostHeader: www.bing.com
                origins:
                - name: www-bing-com
                  properties:
                    hostName: www.bing.com
                    httpPort: 80
                    httpsPort: 443
                probePath: /image
                provisioningState: Succeeded
                queryStringCachingBehavior: NotSet
                resourceState: Starting
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/stop
  : post:
      description: Stops an existing running CDN endpoint.
      operationId: Endpoints_Stop
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/Endpoint'
        202:
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: '#/definitions/Endpoint'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Endpoints
      x-ms-examples:
        Endpoints_Stop:
          parameters:
            api-version: "2017-04-02"
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            202:
              body:
                contentTypesToCompress: []
                customDomains: []
                geoFilters: []
                hostName: endpoint1.azureedge.net
                isCompressionEnabled: false
                isHttpAllowed: true
                isHttpsAllowed: true
                optimizationType: DynamicSiteAcceleration
                originHostHeader: www.bing.com
                origins:
                - name: www-bing-com
                  properties:
                    hostName: www.bing.com
                    httpPort: 80
                    httpsPort: 443
                probePath: /image
                provisioningState: Succeeded
                queryStringCachingBehavior: NotSet
                resourceState: Stopping
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/validateCustomDomain
  : post:
      description: Validates the custom domain mapping to ensure it maps to the correct
        CDN endpoint in DNS.
      operationId: Endpoints_ValidateCustomDomain
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - description: Name of the endpoint under the profile which is unique globally.
        in: path
        name: endpointName
        required: true
        type: string
      - description: Custom domain to be validated.
        in: body
        name: customDomainProperties
        required: true
        schema:
          $ref: '#/definitions/ValidateCustomDomainInput'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/ValidateCustomDomainOutput'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Endpoints
      x-ms-examples:
        Endpoints_ValidateCustomDomain:
          parameters:
            api-version: "2017-04-02"
            customDomainProperties:
              hostname: www.someDomain.com
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body:
                customDomainValidated: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/generateSsoUri:
    post:
      description: Generates a dynamic SSO URI used to sign in to the CDN supplemental
        portal. Supplemnetal portal is used to configure advanced feature capabilities
        that are not yet available in the Azure portal, such as core reports in a
        standard profile; rules engine, advanced HTTP reports, and real-time stats
        and alerts in a premium profile. The SSO URI changes approximately every 10
        minutes.
      operationId: Profiles_GenerateSsoUri
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/SsoUri'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Profiles
      x-ms-examples:
        Profiles_GenerateSsoUri:
          parameters:
            api-version: "2017-04-02"
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body:
                ssoUriValue: https://someuri.com
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getSupportedOptimizationTypes
  : post:
      description: Gets the supported optimization types for the current profile.
        A user can create an endpoint with an optimization type from the listed values.
      operationId: Profiles_ListSupportedOptimizationTypes
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - description: Name of the CDN profile which is unique within the resource group.
        in: path
        name: profileName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/SupportedOptimizationTypesListResult'
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Profiles
      x-ms-examples:
        Profiles_ListSupportedOptimizationTypes:
          parameters:
            api-version: "2017-04-02"
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            200:
              body:
                supportedOptimizationTypes:
                - GeneralWebDelivery
                - DynamicSiteAcceleration
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":49:{s:26:\"CheckNameAvailabilityInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Input
  of CheckNameAvailability API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  resource name to validate.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceType\";s:11:\"description\";s:55:\"The
  type of the resource whose name is to be validated.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:27:\"CheckNameAvailabilityOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Output
  of check name availability API.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  detailed error message describing why the name is not available.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"nameAvailable\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Indicates
  whether the name is available.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:6:\"reason\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  reason why the name is not available.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CustomDomain\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:125:\"Friendly
  domain name mapping to the endpoint hostname that the customer provides for branding
  purposes, e.g. www.consoto.com.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/CustomDomainProperties\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:22:\"CustomDomainListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Result
  of the request to list custom domains. It contains a list of custom domain objects
  and a URL link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"URL
  to get the next set of custom domain objects if there are any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"List
  of CDN CustomDomains within an endpoint.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CustomDomain\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:22:\"CustomDomainParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  customDomain JSON object required for custom domain creation or update.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/CustomDomainPropertiesParameters\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:22:\"CustomDomainProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  JSON object that contains the properties of the custom domain to create.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:28:\"customHttpsProvisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:57:\"Provisioning
  status of Custom Https of the custom domain.\";s:4:\"enum\";a:5:{i:0;s:8:\"Enabling\";i:1;s:7:\"Enabled\";i:2;s:9:\"Disabling\";i:3;s:8:\"Disabled\";i:4;s:6:\"Failed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:28:\"CustomHttpsProvisioningState\";}}s:31:\"customHttpsProvisioningSubstate\";O:8:\"stdClass\":5:{s:11:\"description\";s:97:\"Provisioning
  substate shows the progress of custom HTTPS enabling/disabling process step by step.\";s:4:\"enum\";a:10:{i:0;s:40:\"SubmittingDomainControlValidationRequest\";i:1;s:45:\"PendingDomainControlValidationREquestApproval\";i:2;s:38:\"DomainControlValidationRequestApproved\";i:3;s:38:\"DomainControlValidationRequestRejected\";i:4;s:38:\"DomainControlValidationRequestTimedOut\";i:5;s:18:\"IssuingCertificate\";i:6;s:20:\"DeployingCertificate\";i:7;s:19:\"CertificateDeployed\";i:8;s:19:\"DeletingCertificate\";i:9;s:18:\"CertificateDeleted\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:31:\"CustomHttpsProvisioningSubstate\";}}s:8:\"hostName\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  host name of the custom domain. Must be a domain name.\";s:4:\"type\";s:6:\"string\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Provisioning
  status of the custom domain.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"resourceState\";O:8:\"stdClass\":5:{s:11:\"description\";s:37:\"Resource
  status of the custom domain.\";s:4:\"enum\";a:3:{i:0;s:8:\"Creating\";i:1;s:6:\"Active\";i:2;s:8:\"Deleting\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:25:\"CustomDomainResourceState\";}}s:14:\"validationData\";O:8:\"stdClass\":2:{s:11:\"description\";s:195:\"Special
  validation or data may be required when delivering CDN to some regions due to local
  compliance reasons. E.g. ICP license number of a custom domain is required to deliver
  content in China.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"hostName\";}}s:32:\"CustomDomainPropertiesParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  JSON object that contains the properties of the custom domain to create.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"hostName\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  host name of the custom domain. Must be a domain name.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"hostName\";}}s:17:\"DeepCreatedOrigin\";O:8:\"stdClass\":5:{s:11:\"description\";s:75:\"The
  main origin of CDN content which is added when creating a CDN endpoint.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Origin
  name\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/DeepCreatedOriginProperties\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:27:\"DeepCreatedOriginProperties\";O:8:\"stdClass\":5:{s:11:\"description\";s:53:\"Properties
  of the origin created on the CDN endpoint.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"hostName\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"The
  address of the origin. It can be a domain name, IPv4 address, or IPv6 address.\";s:4:\"type\";s:6:\"string\";}s:8:\"httpPort\";O:8:\"stdClass\":6:{s:11:\"description\";s:55:\"The
  value of the HTTP port. Must be between 1 and 65535\";s:16:\"exclusiveMaximum\";b:0;s:16:\"exclusiveMinimum\";b:0;s:7:\"maximum\";i:65535;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:9:\"httpsPort\";O:8:\"stdClass\":6:{s:11:\"description\";s:56:\"The
  value of the HTTPS port. Must be between 1 and 65535\";s:16:\"exclusiveMaximum\";b:0;s:16:\"exclusiveMinimum\";b:0;s:7:\"maximum\";i:65535;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:8:\"hostName\";}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:8:\"EdgeNode\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:95:\"Edgenode
  is a global Point of Presence (POP) location used to deliver CDN content to end
  users.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/EdgeNodeProperties\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:18:\"EdgeNodeProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  JSON object that contains the properties required to create an edgenode.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"ipAddressGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of ip address groups.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/IpAddressGroup\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:15:\"ipAddressGroups\";}}s:14:\"EdgenodeResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"Result
  of the request to list CDN edgenodes. It contains a list of ip address group and
  a URL link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"URL
  to get the next set of edgenode list results if there are any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Edge
  node of CDN service.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/EdgeNode\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:8:\"Endpoint\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:11:\"description\";s:216:\"CDN
  endpoint is the entity within a CDN profile containing configuration information
  such as origin, protocol, content caching and delivery behavior. The CDN endpoint
  uses the URL format <endpointname>.azureedge.net.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/EndpointProperties\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:18:\"EndpointListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"Result
  of the request to list endpoints. It contains a list of endpoint objects and a URL
  link to get the the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"URL
  to get the next set of endpoint objects if there is any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"List
  of CDN endpoints within a profile\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Endpoint\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:18:\"EndpointProperties\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/EndpointPropertiesUpdateParameters\";}}s:11:\"description\";s:76:\"The
  JSON object that contains the properties required to create an endpoint.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"hostName\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  host name of the endpoint structured as {endpointName}.{DNSZone}, e.g. consoto.azureedge.net\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"origins\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  source of the content being delivered via CDN.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DeepCreatedOrigin\";}s:4:\"type\";s:5:\"array\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Provisioning
  status of the endpoint.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"resourceState\";O:8:\"stdClass\":5:{s:11:\"description\";s:32:\"Resource
  status of the endpoint.\";s:4:\"enum\";a:6:{i:0;s:8:\"Creating\";i:1;s:8:\"Deleting\";i:2;s:7:\"Running\";i:3;s:8:\"Starting\";i:4;s:7:\"Stopped\";i:5;s:8:\"Stopping\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:21:\"EndpointResourceState\";}}}s:8:\"required\";a:1:{i:0;s:7:\"origins\";}}s:34:\"EndpointPropertiesUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  JSON object containing endpoint update parameters.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:22:\"contentTypesToCompress\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"List
  of content types on which compression applies. The value should be a valid MIME
  type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"geoFilters\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"List
  of rules defining the user's geo access within a CDN endpoint. Each geo filter defines
  an acess rule to a specified path or content, e.g. block APAC for path /pictures/\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GeoFilter\";}s:4:\"type\";s:5:\"array\";}s:20:\"isCompressionEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:289:\"Indicates
  whether content compression is enabled on CDN. Default value is false. If compression
  is enabled, content will be served as compressed if user requests for a compressed
  version. Content won't be compressed on CDN when requested content is smaller than
  1 byte or larger than 1 MB.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"isHttpAllowed\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Indicates
  whether HTTP traffic is allowed on the endpoint. Default value is true. At least
  one protocol (HTTP or HTTPS) must be allowed.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"isHttpsAllowed\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Indicates
  whether HTTPS traffic is allowed on the endpoint. Default value is true. At least
  one protocol (HTTP or HTTPS) must be allowed.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"optimizationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OptimizationType\";s:11:\"description\";s:175:\"Specifies
  what scenario the customer wants this CDN endpoint to optimize for, e.g. Download,
  Media services. With this information, CDN can apply scenario driven optimization.\";}s:16:\"originHostHeader\";O:8:\"stdClass\":2:{s:11:\"description\";s:270:\"The
  host header value sent to the origin with each request. If you leave this blank,
  the request hostname determines this value. Azure CDN origins, such as Web Apps,
  Blob Storage, and Cloud Services require this host header value to match the origin
  hostname by default.\";s:4:\"type\";s:6:\"string\";}s:10:\"originPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"A
  directory path on the origin that CDN can use to retreive content from, e.g. contoso.cloudapp.net/originpath.\";s:4:\"type\";s:6:\"string\";}s:9:\"probePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:178:\"Path
  to a file hosted on the origin which helps accelerate delivery of the dynamic content
  and calculate the most optimal routes for the CDN. This is relative to the origin
  path.\";s:4:\"type\";s:6:\"string\";}s:26:\"queryStringCachingBehavior\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/QueryStringCachingBehavior\";s:11:\"description\";s:229:\"Defines
  how CDN caches requests that include query strings. You can ignore any query strings
  when caching, bypass caching to prevent requests that contain query strings from
  being cached, or cache every request with a unique URL.\";}}}s:24:\"EndpointUpdateParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Properties
  required to create or update an endpoint.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/EndpointPropertiesUpdateParameters\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Endpoint
  tags.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"Error
  reponse indicates CDN service is not able to process the incoming request. The reason
  is provided in the error message.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Error
  code.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"GeoFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"Rules
  defining user's geo access within a CDN endpoint.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"action\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Action
  of the geo filter, i.e. allow or block access.\";s:4:\"enum\";a:2:{i:0;s:5:\"Block\";i:1;s:5:\"Allow\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:16:\"GeoFilterActions\";}}s:12:\"countryCodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Two
  letter country codes defining user country access in a geo filter, e.g. AU, MX,
  US.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"relativePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Relative
  path applicable to geo filter. (e.g. '/mypictures', '/mypicture/kitty.jpg', and
  etc.)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:12:\"relativePath\";i:1;s:6:\"action\";i:2;s:12:\"countryCodes\";}s:4:\"type\";s:6:\"object\";}s:14:\"IpAddressGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"CDN
  Ip address group\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"deliveryRegion\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  delivery region of the ip address group\";s:4:\"type\";s:6:\"string\";}s:13:\"ipv4Addresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  list of ip v4 addresses.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/cidrIpAddress\";}s:4:\"type\";s:5:\"array\";}s:13:\"ipv6Addresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  list of ip v6 addresses.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/cidrIpAddress\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"LoadParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Parameters
  required for content load.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"contentPaths\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  path to the content to be loaded. Path should be a relative file URL of the origin.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:12:\"contentPaths\";}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"CDN
  REST API operation\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  object that represents the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Operation
  type: Read, write, delete, etc.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Service
  provider: Microsoft.Cdn\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Resource
  on which the operation is performed: Profile, endpoint, etc.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Operation
  name: {provider}/{resource}/{operation}\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"OperationsListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"Result
  of the request to list CDN operations. It contains a list of operations and a URL
  link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"List
  of CDN operations supported by the CDN resource provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:16:\"OptimizationType\";O:8:\"stdClass\":4:{s:11:\"description\";s:169:\"Specifies
  what scenario the customer wants this CDN endpoint to optimize, e.g. Download, Media
  services. With this information we can apply scenario driven optimization.\";s:4:\"enum\";a:5:{i:0;s:18:\"GeneralWebDelivery\";i:1;s:21:\"GeneralMediaStreaming\";i:2;s:27:\"VideoOnDemandMediaStreaming\";i:3;s:17:\"LargeFileDownload\";i:4;s:23:\"DynamicSiteAcceleration\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"OptimizationType\";}}s:6:\"Origin\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:11:\"description\";s:222:\"CDN
  origin is the source of the content being delivered via CDN. When the edge nodes
  represented by an endpoint do not have the requested content cached, they attempt
  to fetch it from one or more of the configured origins.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OriginProperties\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:16:\"OriginListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"Result
  of the request to list origins. It contains a list of origin objects and a URL link
  to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"URL
  to get the next set of origin objects if there are any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"List
  of CDN origins within an endpoint\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Origin\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:16:\"OriginProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  JSON object that contains the properties of the origin.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"hostName\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported.\";s:4:\"type\";s:6:\"string\";}s:8:\"httpPort\";O:8:\"stdClass\":6:{s:11:\"description\";s:56:\"The
  value of the HTTP port. Must be between 1 and 65535.\";s:16:\"exclusiveMaximum\";b:0;s:16:\"exclusiveMinimum\";b:0;s:7:\"maximum\";i:65535;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:9:\"httpsPort\";O:8:\"stdClass\":6:{s:11:\"description\";s:57:\"The
  value of the https port. Must be between 1 and 65535.\";s:16:\"exclusiveMaximum\";b:0;s:16:\"exclusiveMinimum\";b:0;s:7:\"maximum\";i:65535;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Provisioning
  status of the origin.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"resourceState\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"Resource
  status of the origin.\";s:4:\"enum\";a:3:{i:0;s:8:\"Creating\";i:1;s:6:\"Active\";i:2;s:8:\"Deleting\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:19:\"OriginResourceState\";}}}s:8:\"required\";a:1:{i:0;s:8:\"hostName\";}}s:26:\"OriginPropertiesParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  JSON object that contains the properties of the origin.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"hostName\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported.\";s:4:\"type\";s:6:\"string\";}s:8:\"httpPort\";O:8:\"stdClass\":6:{s:11:\"description\";s:56:\"The
  value of the HTTP port. Must be between 1 and 65535.\";s:16:\"exclusiveMaximum\";b:0;s:16:\"exclusiveMinimum\";b:0;s:7:\"maximum\";i:65535;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:9:\"httpsPort\";O:8:\"stdClass\":6:{s:11:\"description\";s:57:\"The
  value of the HTTPS port. Must be between 1 and 65535.\";s:16:\"exclusiveMaximum\";b:0;s:16:\"exclusiveMinimum\";b:0;s:7:\"maximum\";i:65535;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}}}s:22:\"OriginUpdateParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"Origin
  properties needed for origin creation or update.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/OriginPropertiesParameters\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:7:\"Profile\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:11:\"description\";s:115:\"CDN
  profile is a logical grouping of endpoints that share the same settings, such as
  CDN provider and pricing tier.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ProfileProperties\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:84:\"The
  pricing tier (defines a CDN provider, feature list and rate) of the CDN profile.\";}}s:8:\"required\";a:1:{i:0;s:3:\"sku\";}s:4:\"type\";s:6:\"object\";}s:17:\"ProfileListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Result
  of the request to list profiles. It contains a list of profile objects and a URL
  link to get the the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"URL
  to get the next set of profile objects if there are any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"List
  of CDN profiles within a resource group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Profile\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}}s:17:\"ProfileProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  JSON object that contains the properties required to create a profile.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Provisioning
  status of the profile.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"resourceState\";O:8:\"stdClass\":5:{s:11:\"description\";s:31:\"Resource
  status of the profile.\";s:4:\"enum\";a:4:{i:0;s:8:\"Creating\";i:1;s:6:\"Active\";i:2;s:8:\"Deleting\";i:3;s:8:\"Disabled\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"ProfileResourceState\";}}}}s:23:\"ProfileUpdateParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Properties
  required to update a profile.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:12:\"Profile
  tags\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:13:\"ProxyResource\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:117:\"The
  resource model definition for a ARM proxy resource. It will have everything other
  than required location and tags\";}s:15:\"PurgeParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Parameters
  required for content purge.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"contentPaths\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  path to the content to be purged. Can describe a file path or a wild card directory.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:12:\"contentPaths\";}s:4:\"type\";s:6:\"object\";}s:26:\"QueryStringCachingBehavior\";O:8:\"stdClass\":4:{s:11:\"description\";s:229:\"Defines
  how CDN caches requests that include query strings. You can ignore any query strings
  when caching, bypass caching to prevent requests that contain query strings from
  being cached, or cache every request with a unique URL.\";s:4:\"enum\";a:4:{i:0;s:17:\"IgnoreQueryString\";i:1;s:13:\"BypassCaching\";i:2;s:14:\"UseQueryString\";i:3;s:6:\"NotSet\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:26:\"QueryStringCachingBehavior\";}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  core properties of ARM resources\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
[...]
