---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:18:\"2017-10-01-preview\";s:5:\"title\";s:19:\"SqlManagementClient\";s:11:\"description\";s:247:\"The
  Azure SQL Database management API provides a RESTful set of web APIs that interact
  with Azure SQL Database services to manage your databases. The API enables users
  to create, retrieve, update, and delete databases, servers, and other entities.\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/upgradeDataWarehouse
  : post:
      tags:
      - Databases
      description: Upgrades a data warehouse.
      operationId: Databases_UpgradeDataWarehouse
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        description: The name of the database to be upgraded.
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully upgraded the data warehouse.
        default:
          description: '*** Error Responses: ***nn * 400 ProvisioningDisabled - Displays
            error message from resources operation authorizer as is, without changesnn
            * 400 CurrentDatabaseSizeExceedsMaxSize - User attempted to reduce the
            max size for a database to a size smaller than the current usage.nn *
            400 CannotUpdateToFreeDatabase - Updating a database to the free sku is
            not supported.nn * 400 RegionDoesNotSupportVersion - A user attempted
            to create a server of a specified version in a location where that server
            version isn''t supported.nn * 400 AzureKeyVaultInvalidExpirationDate -
            The operation could not be completed because the Azure Key Vault key expiration
            date is invalid.nn * 400 SecurityAzureKeyVaultUrlNullOrEmpty - The operation
            could not be completed because the Azure Key Vault Uri is null or empty.nn
            * 400 UnableToResolveRemoteServer - The remote partner server name could
            not be resolved due to an invalid server name or DNS connectivity issues.nn
            * 400 AzureKeyVaultInvalidUri - An invalid response from Azure Key Vault.
            Please use a valid Azure Key Vault URI.nn * 400 RemoteDatabaseCopyPermission
            - User does not have sufficient permission to create a database copy on
            the specified server.nn * 400 ServerNotFound - The requested server was
            not found.nn * 400 SourceDatabaseNotFound - The source database does not
            exist.nn * 400 SecurityAzureKeyVaultInvalidKeyName - The operation could
            not be completed because of an invalid Server Key name.nn * 400 ChangeUnsupportedOnEntity
            - User attempted an unsupported create/update/delete operation on a given
            entity.nn * 400 AzureKeyVaultMalformedVaultUri - The provided Key Vault
            uri is not valid.nn * 400 UpdateNotAllowedIfGeoDrOperationInProgress -
            The operation is disallowed because copy or failover operation for database
            ''{0}'' on server ''{1}'' is currently in progress.nn * 400 CannotUseTrailingWhitespacesInDatabaseName
            - The database name validation failed.nn * 400 SecurityAdalPrincipalCertExpiredError
            - The operation could not be completed because the Azure Key Vault principal
            certificate has expired.nn * 400 CannotMoveOrDropJobAccountDatabase -
            Cannot drop database associated with job account.nn * 400 JobAgentDatabaseEditionUnsupported
            - The specified database''s service level objective is not supported for
            use as a job agent database.nn * 400 SourceServerNotFound - The server
            part of a source database id provided in a CreateDatabaseAsCopy API call
            doesn''t map to an existing server.nn * 400 ElasticPoolOverFileSpace -
            Insufficient file space in the elastic pool.nn * 400 SecurityInvalidAzureKeyVaultRecoveryLevel
            - The provided Key Vault uri is not valid.nn * 400 InvalidAddSecondaryPermission
            - User does not have sufficient permission to add secondary on the specified
            server.nn * 400 UnsupportedServiceName - The specified name is an invalid
            name because it contains one or more unsupported unicode characters.nn
            * 400 KeyMaterialNotFoundOnRemoteServer - Remote server does not have
            access to key material used as a TDE protector.nn * 400 AzureKeyVaultMismatchError
            - Unexpected Key Vault region found in the http response.nn * 400 AzureKeyVaultRsaKeyNotSupported
            - The provided key vault uses unsupported RSA Key Size or Key Type. The
            supported RSA key size is 2048 and Key Type is RSA.nn * 400 CurrentDatabaseLogSizeExceedsMaxSize
            - User attempted to change the database to a sku with lower max log size
            than the current usage.nn * 400 CannotMoveOrDropSyncMetadataDatabase -
            Cannot drop database used as sync metadata database.nn * 400 InvalidSku
            - The user specified an invalid sku.nn * 400 TokenTooLong - The provided
            token is too long.nn * 400 InvalidTierSkuCombination - The specified tier
            does not support the specified sku.nn * 400 InvalidMaxSizeTierCombination
            - The specified tier does not support the specified database max size.nn
            * 400 FeatureDisabledOnSelectedEdition - User attempted to use a feature
            which is disabled on current database edition.nn * 400 InvalidTier - The
            user specified an invalid tier.nn * 400 OfferDisabledOnSubscription -
            Subscription offer type is restricted from provisioning the requested
            resource.nn * 400 CannotUseReservedDatabaseName - Cannot use reserved
            database name in this operation.nn * 400 SubscriptionNotFound - The requested
            subscription was not found.nn * 400 InvalidServerName - Invalid server
            name specified.nn * 400 InvalidTargetSubregion - The target server of
            a non-readable secondary is not in a DR paired Azure region.nn * 400 PartnerServerNotCompatible
            - The user is attempting to copy a database from a SAWA V1 server to a
            Sterling server or vice versa.nn * 400 IncorrectReplicationLinkState -
            The operation expects the database to be in an expected state on the replication
            link.nn * 400 ResourcePoolNotFound - Specified elastic pool does not exist
            in the specified logical server.nn * 400 InvalidCollation - Collation
            is not recognized by the server.nn * 400 ElasticPoolSkuCombinationInvalid
            - Elastic pool and sku can be specified together only if sku is specified
            as ''ElasticPool''.nn * 400 ElasticPoolTierCombinationInvalid - The database
            tier is different than the elastic pool service tier.nn * 400 TierChangeUnsupportedDueToMemoryOptimizedObject
            - The database cannot update its sku because it has memory-optimized objects.nn
            * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database
            when the storage limit of the elastic pool has been reached.nn * 400 UpdateNotAllowedInCurrentReplicationState
            - The operation is disallowed on the database in its current replication
            state.nn * 400 GeoReplicaLimitReached - The per-replica replication limit
            was reached.nn * 400 ElasticPoolDatabaseCountOverLimit - Attempting to
            create or add database to elastic pool when the database count limit of
            the elastic pool has been reached.nn * 400 ReplicationSourceAndTargetMustHaveSameName
            - The replication source and target databases must have the same name.nn
            * 400 CannotChangeToOrFromDataWarehouseTier - User attempted to change
            the sku of a database from DataWarehouse tier to non DataWarehouse tiers
            or vice versa.nn * 400 ReplicationSourceAndTargetMustBeInDifferentServers
            - The replication source and target databases must be in different logical
            servers.nn * 400 ElasticPoolDecreaseStorageLimitBelowUsage - Attempting
            to decrease the storage limit of the elastic pool below its storage usage.nn
            * 400 UpdateNotAllowedOnPausedDatabase - User attempted to perform an
            update on a paused database.nn * 400 UpgradeOnlyAllowedOnDataWarehouseInstances
            - User attempted to upgrade non-datawarehouse instance.nn * 401 AzureKeyVaultKeyDisabled
            - The operation could not be completed on the server because the Azure
            Key Vault key is disabled.nn * 401 AzureKeyVaultNoServerIdentity - The
            server identity is not correctly configured on server. Please contact
            support.nn * 401 AzureKeyVaultMissingPermissions - The server is missing
            required permissions on the Azure Key Vault. nn * 401 AdalGenericError
            - The operation could not be completed because an Azure Active Directory
            error was encountered.nn * 401 AdalServicePrincipalNotFound - The operation
            could not be completed because an Azure Active Directory library Service
            Principal not found error was encountered.nn * 404 OperationIdNotFound
            - The operation with Id does not exist.nn * 404 ServerNotInSubscriptionResourceGroup
            - Specified server does not exist in the specified resource group and
            subscription.nn * 404 CannotFindObject - Cannot find the object because
            it does not exist or you do not have permissionsnn * 404 ServerNotInSubscription
            - Specified server does not exist on the specified subscription.nn * 405
            UnsupportedReplicationOperation - An unsupported replication operation
            was initiated on the database.nn * 409 OperationCancelled - The operation
            has been cancelled by user.nn * 409 OperationInterrupted - The operation
            on the resource could not be completed because it was interrupted by another
            operation on the same resource.nn * 409 ServerKeyUriAlreadyExists - The
            server key URI already exists on the server.nn * 409 ServerKeyDoesNotExists
            - The server key does not exist.nn * 409 UpdateSloInProgress - User tried
            to initiate an incompatible operation while a SLO update was in progress.nn
            * 409 SimultaneousSkuChangeNotAllowed - Service objective change operations
            cannot run on both databases of a replication relationship at the same
            time.nn * 409 AzureKeyVaultKeyNameNotFound - The operation could not be
            completed because the Azure Key Vault Key name does not exist.nn * 409
            AzureKeyVaultKeyInUse - The key is currently being used by the server.nn
            * 409 RemoteDatabaseExists - The destination database name already exists
            on the destination server.nn * 409 SubscriptionDisabled - Subscription
            is disabled.nn * 409 ConflictingSystemOperationInProgress - A system maintenance
            operation is in progress on the database and further operations need to
            wait until it is completed.nn * 409 SkuAssignmentInProgress - The current
            assignment request cannot be processed because a previous request has
            not completed.nn * 409 ServerDisabled - Server is disabled.nn * 409 ConflictingDatabaseOperation
            - There is already some operation on the database and the current operation
            should wait till it is done.nn * 409 ServerDtuQuotaExceeded - Could not
            perform the operation because server would exceed the allowed Database
            Throughput Unit quota.nn * 409 UnableToAlterDatabaseInReplication - User
            altered edition on a database in a replication relationship.nn * 409 InvalidOperationForDatabaseNotInReplicationRelationship
            - A replication seeding operation was performed on a database that is
            already in a replication relationship.nn * 409 InvalidOperationForDatabaseInReplicationRelationship
            - A replication seeding operation was performed on a database that is
            already in a replication relationship.nn * 409 DuplicateGeoDrRelation
            - The databases are already in a replication relation. This is a duplicate
            request.nn * 409 CurrentMemoryUsageExceedsSkuQuota - User attempted an
            sku update operation that cannot be completed due to the higher resource
            consumption.nn * 409 ServerKeyNameAlreadyExists - The server key already
            exists on the server.nn * 429 SubscriptionTooManyRequests - Requests beyond
            max requests that can be processed by available resources.nn * 429 SubscriptionTooManyCreateUpdateRequests
            - Requests beyond max requests that can be processed by available resources.nn
            * 500 OperationTimedOut - The operation timed out and automatically rolled
            back. Please retry the operation.nn * 500 ActivateOrDeactivateWorkflowThrottling
            - Activation or deactivation workflow failed because there are too many
            concurrent workflowsnn * 503 AzureKeyVaultConnectionFailed - The operation
            could not be completed on the server because attempts to connect to Azure
            Key Vault have failednn * 503 AzureKeyVaultGenericConnectionError - The
            operation could not be completed because an error was encountered when
            attempting to retrieve Key Vault information .nn * 503 TooManyRequests
            - Requests beyond max requests that can be processed by available resources.nn
            * 504 RequestTimeout - Service request exceeded the allowed timeout.'
        202:
          description: Upgrading the data warehouse is in progress.
      x-ms-long-running-operation: true
      x-ms-examples:
        Upgrades a data warehouse.:
          $ref: ./examples/UpgradeDataWarehouse.json
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases:
    get:
      tags:
      - Databases
      description: Gets a list of databases.
      operationId: Databases_ListByServer
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the list of databases.
          schema:
            $ref: '#/definitions/DatabaseListResult'
        default:
          description: '*** Error Responses: ***nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not found'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets a list of databases.:
          $ref: ./examples/ListVCoreDatabasesByServer.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}
  : get:
      tags:
      - Databases
      description: Gets a database.
      operationId: Databases_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the specified database.
          schema:
            $ref: '#/definitions/Database'
        default:
          description: '*** Error Responses: ***nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 ResourceNotFound - The requested
            resource was not found.'
      x-ms-examples:
        Gets a database.:
          $ref: ./examples/GetVCoreDatabase.json
    put:
      tags:
      - Databases
      description: Creates a new database or updates an existing database.
      operationId: Databases_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: parameters
        in: body
        description: The requested database resource state.
        required: true
        schema:
          $ref: '#/definitions/Database'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the database.
          schema:
            $ref: '#/definitions/Database'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidDatabaseCreateOrUpdateRequest
            - The request body for the create or update database operation is invalid.nn
            * 400 InvalidResourceId - Invalid resource identifier.nn * 400 InvalidSourceDatabaseId
            - Invalid source database identifier.nn * 400 MismatchingResourceGroupNameWithUrl
            - The provided resource group name did not match the name in the Url.nn
            * 400 MismatchingServerNameWithUrl - The provided server name did not
            match the name in the Url.nn * 400 MismatchingSubscriptionWithUrl - The
            provided subscription did not match the subscription in the Url.nn * 400
            MissingCollation - Collation is required.nn * 400 MissingMaxSizeBytes
            - MaxSizeBytes is required.nn * 400 MissingSkuName - Sku name is required.nn
            * 400 MissingSourceDatabaseId - Missing source database identifier.nn
            * 400 InvalidSkuName - Invalid SKU name.nn * 400 MismatchedSkuNameAndCapacity
            - Mismatch between SKU name and capacity.nn * 400 MismatchedSkuNameAndTier
            - Mismatch between SKU name and tier.nn * 400 MismatchedSkuNameAndFamily
            - Mismatch between SKU name and family.nn * 400 DatabaseNameDoesNotMatchSourceDatabaseId
            - The database name specified doesnu2019t match the database name in sourceDatabaseId.nn
            * 400 ElasticPoolNotSupportedForExternalBackupRestore - Elastic pool is
            not supported for external backup restorenn * 400 InvalidRecoverableDatabaseId
            - Invalid recoverable database identifier.nn * 400 InvalidRecoveryServicesRecoveryPointId
            - Invalid recovery services recovery point identifier.nn * 400 InvalidRestorableDroppedDatabaseDeletionDate
            - The restorable dropped database deletion date given is invalidnn * 400
            InvalidRestorableDroppedDatabaseId - Invalid restorable dropped database
            identifiernn * 400 MissingRecoverableDatabaseId - Missing recoverable
            database identifier.nn * 400 MissingRecoveryServicesRecoveryPointId -
            Missing recovery services recovery point Id.nn * 400 MissingRestorableDroppedDatabaseId
            - Missing restorableDroppedDatabaseIdnn * 400 MissingRestorePointInTime
            - Missing restore point in timenn * 400 MissingSourceDatabaseDeletionDate
            - Missing source database deletion datenn * 400 MissingStorageContainerSasToken
            - Missing storage container SAS tokennn * 400 MissingStorageContainerUri
            - Missing storage container URInn * 400 RestorableDroppedDatabaseIdGivenForRestoreWithSourceDatabaseId
            - Cannot specify restorableDroppedDatabaseId when sourceDatabaseId is
            already given in restore create modenn * 400 ProvisioningDisabled - Displays
            error message from resources operation authorizer as is, without changesnn
            * 400 CurrentDatabaseSizeExceedsMaxSize - User attempted to reduce the
            max size for a database to a size smaller than the current usage.nn *
            400 CannotUpdateToFreeDatabase - Updating a database to the free sku is
            not supported.nn * 400 RegionDoesNotSupportVersion - A user attempted
            to create a server of a specified version in a location where that server
            version isn''t supported.nn * 400 AzureKeyVaultInvalidExpirationDate -
            The operation could not be completed because the Azure Key Vault key expiration
            date is invalid.nn * 400 SecurityAzureKeyVaultUrlNullOrEmpty - The operation
            could not be completed because the Azure Key Vault Uri is null or empty.nn
            * 400 UnableToResolveRemoteServer - The remote partner server name could
            not be resolved due to an invalid server name or DNS connectivity issues.nn
            * 400 AzureKeyVaultInvalidUri - An invalid response from Azure Key Vault.
            Please use a valid Azure Key Vault URI.nn * 400 RemoteDatabaseCopyPermission
            - User does not have sufficient permission to create a database copy on
            the specified server.nn * 400 ServerNotFound - The requested server was
            not found.nn * 400 SourceDatabaseNotFound - The source database does not
            exist.nn * 400 SecurityAzureKeyVaultInvalidKeyName - The operation could
            not be completed because of an invalid Server Key name.nn * 400 ChangeUnsupportedOnEntity
            - User attempted an unsupported create/update/delete operation on a given
            entity.nn * 400 AzureKeyVaultMalformedVaultUri - The provided Key Vault
            uri is not valid.nn * 400 UpdateNotAllowedIfGeoDrOperationInProgress -
            The operation is disallowed because copy or failover operation for database
            ''{0}'' on server ''{1}'' is currently in progress.nn * 400 CannotUseTrailingWhitespacesInDatabaseName
            - The database name validation failed.nn * 400 SecurityAdalPrincipalCertExpiredError
            - The operation could not be completed because the Azure Key Vault principal
            certificate has expired.nn * 400 CannotMoveOrDropJobAccountDatabase -
            Cannot drop database associated with job account.nn * 400 JobAgentDatabaseEditionUnsupported
            - The specified database''s service level objective is not supported for
            use as a job agent database.nn * 400 SourceServerNotFound - The server
            part of a source database id provided in a CreateDatabaseAsCopy API call
            doesn''t map to an existing server.nn * 400 ElasticPoolOverFileSpace -
            Insufficient file space in the elastic pool.nn * 400 SecurityInvalidAzureKeyVaultRecoveryLevel
            - The provided Key Vault uri is not valid.nn * 400 InvalidAddSecondaryPermission
            - User does not have sufficient permission to add secondary on the specified
            server.nn * 400 UnsupportedServiceName - The specified name is an invalid
            name because it contains one or more unsupported unicode characters.nn
            * 400 KeyMaterialNotFoundOnRemoteServer - Remote server does not have
            access to key material used as a TDE protector.nn * 400 AzureKeyVaultMismatchError
            - Unexpected Key Vault region found in the http response.nn * 400 AzureKeyVaultRsaKeyNotSupported
            - The provided key vault uses unsupported RSA Key Size or Key Type. The
            supported RSA key size is 2048 and Key Type is RSA.nn * 400 CurrentDatabaseLogSizeExceedsMaxSize
            - User attempted to change the database to a sku with lower max log size
            than the current usage.nn * 400 CannotMoveOrDropSyncMetadataDatabase -
            Cannot drop database used as sync metadata database.nn * 400 InvalidSku
            - The user specified an invalid sku.nn * 400 TokenTooLong - The provided
            token is too long.nn * 400 InvalidTierSkuCombination - The specified tier
            does not support the specified sku.nn * 400 InvalidMaxSizeTierCombination
            - The specified tier does not support the specified database max size.nn
            * 400 FeatureDisabledOnSelectedEdition - User attempted to use a feature
            which is disabled on current database edition.nn * 400 InvalidTier - The
            user specified an invalid tier.nn * 400 OfferDisabledOnSubscription -
            Subscription offer type is restricted from provisioning the requested
            resource.nn * 400 CannotUseReservedDatabaseName - Cannot use reserved
            database name in this operation.nn * 400 SubscriptionNotFound - The requested
            subscription was not found.nn * 400 InvalidServerName - Invalid server
            name specified.nn * 400 InvalidTargetSubregion - The target server of
            a non-readable secondary is not in a DR paired Azure region.nn * 400 PartnerServerNotCompatible
            - The user is attempting to copy a database from a SAWA V1 server to a
            Sterling server or vice versa.nn * 400 IncorrectReplicationLinkState -
            The operation expects the database to be in an expected state on the replication
            link.nn * 400 ResourcePoolNotFound - Specified elastic pool does not exist
            in the specified logical server.nn * 400 InvalidCollation - Collation
            is not recognized by the server.nn * 400 ElasticPoolSkuCombinationInvalid
            - Elastic pool and sku can be specified together only if sku is specified
            as ''ElasticPool''.nn * 400 ElasticPoolTierCombinationInvalid - The database
            tier is different than the elastic pool service tier.nn * 400 TierChangeUnsupportedDueToMemoryOptimizedObject
            - The database cannot update its sku because it has memory-optimized objects.nn
            * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database
            when the storage limit of the elastic pool has been reached.nn * 400 UpdateNotAllowedInCurrentReplicationState
            - The operation is disallowed on the database in its current replication
            state.nn * 400 GeoReplicaLimitReached - The per-replica replication limit
            was reached.nn * 400 ElasticPoolDatabaseCountOverLimit - Attempting to
            create or add database to elastic pool when the database count limit of
            the elastic pool has been reached.nn * 400 ReplicationSourceAndTargetMustHaveSameName
            - The replication source and target databases must have the same name.nn
            * 400 CannotChangeToOrFromDataWarehouseTier - User attempted to change
            the sku of a database from DataWarehouse tier to non DataWarehouse tiers
            or vice versa.nn * 400 ReplicationSourceAndTargetMustBeInDifferentServers
            - The replication source and target databases must be in different logical
            servers.nn * 400 ElasticPoolDecreaseStorageLimitBelowUsage - Attempting
            to decrease the storage limit of the elastic pool below its storage usage.nn
            * 400 UpdateNotAllowedOnPausedDatabase - User attempted to perform an
            update on a paused database.nn * 401 AzureKeyVaultKeyDisabled - The operation
            could not be completed on the server because the Azure Key Vault key is
            disabled.nn * 401 AzureKeyVaultNoServerIdentity - The server identity
            is not correctly configured on server. Please contact support.nn * 401
            AzureKeyVaultMissingPermissions - The server is missing required permissions
            on the Azure Key Vault. nn * 401 AdalGenericError - The operation could
            not be completed because an Azure Active Directory error was encountered.nn
            * 401 AdalServicePrincipalNotFound - The operation could not be completed
            because an Azure Active Directory library Service Principal not found
            error was encountered.nn * 404 OperationIdNotFound - The operation with
            Id does not exist.nn * 404 SubscriptionDoesNotHaveServer - The requested
            server was not foundnn * 404 ServerNotInSubscriptionResourceGroup - Specified
            server does not exist in the specified resource group and subscription.nn
            * 404 CannotFindObject - Cannot find the object because it does not exist
            or you do not have permissionsnn * 404 ServerNotInSubscription - Specified
            server does not exist on the specified subscription.nn * 405 UnsupportedReplicationOperation
            - An unsupported replication operation was initiated on the database.nn
            * 409 OperationCancelled - The operation has been cancelled by user.nn
            * 409 OperationInterrupted - The operation on the resource could not be
            completed because it was interrupted by another operation on the same
            resource.nn * 409 ServerKeyUriAlreadyExists - The server key URI already
            exists on the server.nn * 409 ServerKeyDoesNotExists - The server key
            does not exist.nn * 409 UpdateSloInProgress - User tried to initiate an
            incompatible operation while a SLO update was in progress.nn * 409 SimultaneousSkuChangeNotAllowed
            - Service objective change operations cannot run on both databases of
            a replication relationship at the same time.nn * 409 AzureKeyVaultKeyNameNotFound
            - The operation could not be completed because the Azure Key Vault Key
            name does not exist.nn * 409 AzureKeyVaultKeyInUse - The key is currently
            being used by the server.nn * 409 RemoteDatabaseExists - The destination
            database name already exists on the destination server.nn * 409 SubscriptionDisabled
            - Subscription is disabled.nn * 409 ConflictingSystemOperationInProgress
            - A system maintenance operation is in progress on the database and further
            operations need to wait until it is completed.nn * 409 SkuAssignmentInProgress
            - The current assignment request cannot be processed because a previous
            request has not completed.nn * 409 ServerDisabled - Server is disabled.nn
            * 409 ConflictingDatabaseOperation - There is already some operation on
            the database and the current operation should wait till it is done.nn
            * 409 ServerDtuQuotaExceeded - Could not perform the operation because
            server would exceed the allowed Database Throughput Unit quota.nn * 409
            UnableToAlterDatabaseInReplication - User altered edition on a database
            in a replication relationship.nn * 409 InvalidOperationForDatabaseNotInReplicationRelationship
            - A replication seeding operation was performed on a database that is
            already in a replication relationship.nn * 409 InvalidOperationForDatabaseInReplicationRelationship
            - A replication seeding operation was performed on a database that is
            already in a replication relationship.nn * 409 DuplicateGeoDrRelation
            - The databases are already in a replication relation. This is a duplicate
            request.nn * 409 CurrentMemoryUsageExceedsSkuQuota - User attempted an
            sku update operation that cannot be completed due to the higher resource
            consumption.nn * 409 ServerKeyNameAlreadyExists - The server key already
            exists on the server.nn * 429 SubscriptionTooManyRequests - Requests beyond
            max requests that can be processed by available resources.nn * 429 SubscriptionTooManyCreateUpdateRequests
            - Requests beyond max requests that can be processed by available resources.nn
            * 500 OperationTimedOut - The operation timed out and automatically rolled
            back. Please retry the operation.nn * 500 ActivateOrDeactivateWorkflowThrottling
            - Activation or deactivation workflow failed because there are too many
            concurrent workflowsnn * 503 AzureKeyVaultConnectionFailed - The operation
            could not be completed on the server because attempts to connect to Azure
            Key Vault have failednn * 503 AzureKeyVaultGenericConnectionError - The
            operation could not be completed because an error was encountered when
            attempting to retrieve Key Vault information .nn * 503 TooManyRequests
            - Requests beyond max requests that can be processed by available resources.nn
            * 504 RequestTimeout - Service request exceeded the allowed timeout.'
        202:
          description: Creating or updating the database is in progress.
        201:
          description: Successfully created the database.
          schema:
            $ref: '#/definitions/Database'
      x-ms-long-running-operation: true
      x-ms-examples:
        Creates a database with minimum number of parameters.:
          $ref: ./examples/CreateDatabaseMin.json
        Creates a VCore database with minimum number of parameters.:
          $ref: ./examples/CreateVCoreDatabase.json
        Creates a database from restore with database deletion time.:
          $ref: ./examples/CreateDatabaseRestoreMode.json
        Creates a database with default mode.:
          $ref: ./examples/CreateDatabaseDefaultMode.json
        Creates a database as a copy.:
          $ref: ./examples/CreateDatabaseCopyMode.json
        Creates a database from restore with restorableDroppedDatabaseId.:
          $ref: ./examples/CreateDatabaseRestoreMode2.json
        Creates a database from PointInTimeRestore.:
          $ref: ./examples/CreateDatabasePITRMode.json
        Creates a database as an on-line secondary.:
          $ref: ./examples/CreateDatabaseSecondaryMode.json
        Creates a database from recoverableDatabaseId.:
          $ref: ./examples/CreateDatabaseRecoveryMode.json
    delete:
      tags:
      - Databases
      description: Deletes the database.
      operationId: Databases_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully deleted the database.
        default:
          description: '*** Error Responses: ***nn * 400 CannotMoveOrDropJobAccountDatabase
            - Cannot drop database associated with job account.nn * 400 CannotMoveOrDropSyncMetadataDatabase
            - Cannot drop database used as sync metadata database.nn * 400 CannotUseReservedDatabaseName
            - Cannot use reserved database name in this operation.nn * 404 OperationIdNotFound
            - The operation with Id does not exist.nn * 404 ServerNotInSubscriptionResourceGroup
            - Specified server does not exist in the specified resource group and
            subscription.nn * 404 ServerNotInSubscription - Specified server does
            not exist on the specified subscription.nn * 409 OperationCancelled -
            The operation has been cancelled by user.nn * 409 OperationInterrupted
            - The operation on the resource could not be completed because it was
            interrupted by another operation on the same resource.nn * 409 ServerDisabled
            - Server is disabled.nn * 500 OperationTimedOut - The operation timed
            out and automatically rolled back. Please retry the operation.nn * 503
            TooManyRequests - Requests beyond max requests that can be processed by
            available resources.'
        202:
          description: Deleting the database is in progress.
        204:
          description: The specified database does not exist.
      x-ms-long-running-operation: true
      x-ms-examples:
        Deletes a database.:
          $ref: ./examples/DeleteDatabase.json
    patch:
      tags:
      - Databases
      description: Updates an existing database.
      operationId: Databases_Update
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: parameters
        in: body
        description: The requested database resource state.
        required: true
        schema:
          $ref: '#/definitions/DatabaseUpdate'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the database.
          schema:
            $ref: '#/definitions/Database'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidDatabaseCreateOrUpdateRequest
            - The request body for the create or update database operation is invalid.nn
            * 400 InvalidResourceId - Invalid resource identifier.nn * 400 InvalidSourceDatabaseId
            - Invalid source database identifier.nn * 400 MismatchingResourceGroupNameWithUrl
            - The provided resource group name did not match the name in the Url.nn
            * 400 MismatchingServerNameWithUrl - The provided server name did not
            match the name in the Url.nn * 400 MismatchingSubscriptionWithUrl - The
            provided subscription did not match the subscription in the Url.nn * 400
            MissingCollation - Collation is required.nn * 400 MissingMaxSizeBytes
            - MaxSizeBytes is required.nn * 400 MissingSkuName - Sku name is required.nn
            * 400 MissingSourceDatabaseId - Missing source database identifier.nn
            * 400 InvalidSkuName - Invalid SKU name.nn * 400 MismatchedSkuNameAndCapacity
            - Mismatch between SKU name and capacity.nn * 400 MismatchedSkuNameAndTier
            - Mismatch between SKU name and tier.nn * 400 MismatchedSkuNameAndFamily
            - Mismatch between SKU name and family.nn * 400 DatabaseNameDoesNotMatchSourceDatabaseId
            - The database name specified doesnu2019t match the database name in sourceDatabaseId.nn
            * 400 ElasticPoolNotSupportedForExternalBackupRestore - Elastic pool is
            not supported for external backup restorenn * 400 InvalidRecoverableDatabaseId
            - Invalid recoverable database identifier.nn * 400 InvalidRecoveryServicesRecoveryPointId
            - Invalid recovery services recovery point identifier.nn * 400 InvalidRestorableDroppedDatabaseDeletionDate
            - The restorable dropped database deletion date given is invalidnn * 400
            InvalidRestorableDroppedDatabaseId - Invalid restorable dropped database
            identifiernn * 400 MissingRecoverableDatabaseId - Missing recoverable
            database identifier.nn * 400 MissingRecoveryServicesRecoveryPointId -
            Missing recovery services recovery point Id.nn * 400 MissingRestorableDroppedDatabaseId
            - Missing restorableDroppedDatabaseIdnn * 400 MissingRestorePointInTime
            - Missing restore point in timenn * 400 MissingSourceDatabaseDeletionDate
            - Missing source database deletion datenn * 400 MissingStorageContainerSasToken
            - Missing storage container SAS tokennn * 400 MissingStorageContainerUri
            - Missing storage container URInn * 400 RestorableDroppedDatabaseIdGivenForRestoreWithSourceDatabaseId
            - Cannot specify restorableDroppedDatabaseId when sourceDatabaseId is
            already given in restore create modenn * 400 ProvisioningDisabled - Displays
            error message from resources operation authorizer as is, without changesnn
            * 400 CurrentDatabaseSizeExceedsMaxSize - User attempted to reduce the
            max size for a database to a size smaller than the current usage.nn *
            400 CannotUpdateToFreeDatabase - Updating a database to the free sku is
            not supported.nn * 400 RegionDoesNotSupportVersion - A user attempted
            to create a server of a specified version in a location where that server
            version isn''t supported.nn * 400 AzureKeyVaultInvalidExpirationDate -
            The operation could not be completed because the Azure Key Vault key expiration
            date is invalid.nn * 400 SecurityAzureKeyVaultUrlNullOrEmpty - The operation
            could not be completed because the Azure Key Vault Uri is null or empty.nn
            * 400 UnableToResolveRemoteServer - The remote partner server name could
            not be resolved due to an invalid server name or DNS connectivity issues.nn
            * 400 AzureKeyVaultInvalidUri - An invalid response from Azure Key Vault.
            Please use a valid Azure Key Vault URI.nn * 400 RemoteDatabaseCopyPermission
            - User does not have sufficient permission to create a database copy on
            the specified server.nn * 400 ServerNotFound - The requested server was
            not found.nn * 400 SourceDatabaseNotFound - The source database does not
            exist.nn * 400 SecurityAzureKeyVaultInvalidKeyName - The operation could
            not be completed because of an invalid Server Key name.nn * 400 ChangeUnsupportedOnEntity
            - User attempted an unsupported create/update/delete operation on a given
            entity.nn * 400 AzureKeyVaultMalformedVaultUri - The provided Key Vault
            uri is not valid.nn * 400 UpdateNotAllowedIfGeoDrOperationInProgress -
            The operation is disallowed because copy or failover operation for database
            ''{0}'' on server ''{1}'' is currently in progress.nn * 400 CannotUseTrailingWhitespacesInDatabaseName
            - The database name validation failed.nn * 400 SecurityAdalPrincipalCertExpiredError
            - The operation could not be completed because the Azure Key Vault principal
            certificate has expired.nn * 400 CannotMoveOrDropJobAccountDatabase -
            Cannot drop database associated with job account.nn * 400 JobAgentDatabaseEditionUnsupported
            - The specified database''s service level objective is not supported for
            use as a job agent database.nn * 400 SourceServerNotFound - The server
            part of a source database id provided in a CreateDatabaseAsCopy API call
            doesn''t map to an existing server.nn * 400 ElasticPoolOverFileSpace -
            Insufficient file space in the elastic pool.nn * 400 SecurityInvalidAzureKeyVaultRecoveryLevel
            - The provided Key Vault uri is not valid.nn * 400 InvalidAddSecondaryPermission
            - User does not have sufficient permission to add secondary on the specified
            server.nn * 400 UnsupportedServiceName - The specified name is an invalid
            name because it contains one or more unsupported unicode characters.nn
            * 400 KeyMaterialNotFoundOnRemoteServer - Remote server does not have
            access to key material used as a TDE protector.nn * 400 AzureKeyVaultMismatchError
            - Unexpected Key Vault region found in the http response.nn * 400 AzureKeyVaultRsaKeyNotSupported
            - The provided key vault uses unsupported RSA Key Size or Key Type. The
            supported RSA key size is 2048 and Key Type is RSA.nn * 400 CurrentDatabaseLogSizeExceedsMaxSize
            - User attempted to change the database to a sku with lower max log size
            than the current usage.nn * 400 CannotMoveOrDropSyncMetadataDatabase -
            Cannot drop database used as sync metadata database.nn * 400 InvalidSku
            - The user specified an invalid sku.nn * 400 TokenTooLong - The provided
            token is too long.nn * 400 InvalidTierSkuCombination - The specified tier
            does not support the specified sku.nn * 400 InvalidMaxSizeTierCombination
            - The specified tier does not support the specified database max size.nn
            * 400 FeatureDisabledOnSelectedEdition - User attempted to use a feature
            which is disabled on current database edition.nn * 400 InvalidTier - The
            user specified an invalid tier.nn * 400 OfferDisabledOnSubscription -
            Subscription offer type is restricted from provisioning the requested
            resource.nn * 400 CannotUseReservedDatabaseName - Cannot use reserved
            database name in this operation.nn * 400 SubscriptionNotFound - The requested
            subscription was not found.nn * 400 InvalidServerName - Invalid server
            name specified.nn * 400 InvalidTargetSubregion - The target server of
            a non-readable secondary is not in a DR paired Azure region.nn * 400 PartnerServerNotCompatible
            - The user is attempting to copy a database from a SAWA V1 server to a
            Sterling server or vice versa.nn * 400 IncorrectReplicationLinkState -
            The operation expects the database to be in an expected state on the replication
            link.nn * 400 ResourcePoolNotFound - Specified elastic pool does not exist
            in the specified logical server.nn * 400 InvalidCollation - Collation
            is not recognized by the server.nn * 400 ElasticPoolSkuCombinationInvalid
            - Elastic pool and sku can be specified together only if sku is specified
            as ''ElasticPool''.nn * 400 ElasticPoolTierCombinationInvalid - The database
            tier is different than the elastic pool service tier.nn * 400 TierChangeUnsupportedDueToMemoryOptimizedObject
            - The database cannot update its sku because it has memory-optimized objects.nn
            * 400 ElasticPoolOverStorageUsage - Attempting to write data to a database
            when the storage limit of the elastic pool has been reached.nn * 400 UpdateNotAllowedInCurrentReplicationState
            - The operation is disallowed on the database in its current replication
            state.nn * 400 GeoReplicaLimitReached - The per-replica replication limit
            was reached.nn * 400 ElasticPoolDatabaseCountOverLimit - Attempting to
            create or add database to elastic pool when the database count limit of
            the elastic pool has been reached.nn * 400 ReplicationSourceAndTargetMustHaveSameName
            - The replication source and target databases must have the same name.nn
            * 400 CannotChangeToOrFromDataWarehouseTier - User attempted to change
            the sku of a database from DataWarehouse tier to non DataWarehouse tiers
            or vice versa.nn * 400 ReplicationSourceAndTargetMustBeInDifferentServers
            - The replication source and target databases must be in different logical
            servers.nn * 400 ElasticPoolDecreaseStorageLimitBelowUsage - Attempting
            to decrease the storage limit of the elastic pool below its storage usage.nn
            * 400 UpdateNotAllowedOnPausedDatabase - User attempted to perform an
            update on a paused database.nn * 401 AzureKeyVaultKeyDisabled - The operation
            could not be completed on the server because the Azure Key Vault key is
            disabled.nn * 401 AzureKeyVaultNoServerIdentity - The server identity
            is not correctly configured on server. Please contact support.nn * 401
            AzureKeyVaultMissingPermissions - The server is missing required permissions
            on the Azure Key Vault. nn * 401 AdalGenericError - The operation could
            not be completed because an Azure Active Directory error was encountered.nn
            * 401 AdalServicePrincipalNotFound - The operation could not be completed
            because an Azure Active Directory library Service Principal not found
            error was encountered.nn * 404 OperationIdNotFound - The operation with
            Id does not exist.nn * 404 SubscriptionDoesNotHaveServer - The requested
            server was not foundnn * 404 ServerNotInSubscriptionResourceGroup - Specified
            server does not exist in the specified resource group and subscription.nn
            * 404 CannotFindObject - Cannot find the object because it does not exist
            or you do not have permissionsnn * 404 ServerNotInSubscription - Specified
            server does not exist on the specified subscription.nn * 405 UnsupportedReplicationOperation
            - An unsupported replication operation was initiated on the database.nn
            * 409 OperationCancelled - The operation has been cancelled by user.nn
            * 409 OperationInterrupted - The operation on the resource could not be
            completed because it was interrupted by another operation on the same
            resource.nn * 409 ServerKeyUriAlreadyExists - The server key URI already
            exists on the server.nn * 409 ServerKeyDoesNotExists - The server key
            does not exist.nn * 409 UpdateSloInProgress - User tried to initiate an
            incompatible operation while a SLO update was in progress.nn * 409 SimultaneousSkuChangeNotAllowed
            - Service objective change operations cannot run on both databases of
            a replication relationship at the same time.nn * 409 AzureKeyVaultKeyNameNotFound
            - The operation could not be completed because the Azure Key Vault Key
            name does not exist.nn * 409 AzureKeyVaultKeyInUse - The key is currently
            being used by the server.nn * 409 RemoteDatabaseExists - The destination
            database name already exists on the destination server.nn * 409 SubscriptionDisabled
            - Subscription is disabled.nn * 409 ConflictingSystemOperationInProgress
            - A system maintenance operation is in progress on the database and further
            operations need to wait until it is completed.nn * 409 SkuAssignmentInProgress
            - The current assignment request cannot be processed because a previous
            request has not completed.nn * 409 ServerDisabled - Server is disabled.nn
            * 409 ConflictingDatabaseOperation - There is already some operation on
            the database and the current operation should wait till it is done.nn
            * 409 ServerDtuQuotaExceeded - Could not perform the operation because
            server would exceed the allowed Database Throughput Unit quota.nn * 409
            UnableToAlterDatabaseInReplication - User altered edition on a database
            in a replication relationship.nn * 409 InvalidOperationForDatabaseNotInReplicationRelationship
            - A replication seeding operation was performed on a database that is
            already in a replication relationship.nn * 409 InvalidOperationForDatabaseInReplicationRelationship
            - A replication seeding operation was performed on a database that is
            already in a replication relationship.nn * 409 DuplicateGeoDrRelation
            - The databases are already in a replication relation. This is a duplicate
            request.nn * 409 CurrentMemoryUsageExceedsSkuQuota - User attempted an
            sku update operation that cannot be completed due to the higher resource
            consumption.nn * 409 ServerKeyNameAlreadyExists - The server key already
            exists on the server.nn * 429 SubscriptionTooManyRequests - Requests beyond
            max requests that can be processed by available resources.nn * 429 SubscriptionTooManyCreateUpdateRequests
            - Requests beyond max requests that can be processed by available resources.nn
            * 500 OperationTimedOut - The operation timed out and automatically rolled
            back. Please retry the operation.nn * 500 ActivateOrDeactivateWorkflowThrottling
            - Activation or deactivation workflow failed because there are too many
            concurrent workflowsnn * 503 AzureKeyVaultConnectionFailed - The operation
            could not be completed on the server because attempts to connect to Azure
            Key Vault have failednn * 503 AzureKeyVaultGenericConnectionError - The
            operation could not be completed because an error was encountered when
            attempting to retrieve Key Vault information .nn * 503 TooManyRequests
            - Requests beyond max requests that can be processed by available resources.nn
            * 504 RequestTimeout - Service request exceeded the allowed timeout.'
        202:
          description: Updating the database is in progress.
      x-ms-long-running-operation: true
      x-ms-examples:
        Updates a database.:
          $ref: ./examples/PatchDatabase.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases
  : get:
      tags:
      - Databases
      description: Gets a list of databases in an elastic pool.
      operationId: Databases_ListByElasticPool
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: elasticPoolName
        in: path
        description: The name of the elastic pool.
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved a list of databases in an elastic pool.
          schema:
            $ref: '#/definitions/DatabaseListResult'
        default:
          description: '*** Error Responses: ***nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 ServerNotInSubscriptionResourceGroup
            - Specified server does not exist in the specified resource group and
            subscription.nn * 404 CannotFindObject - Cannot find the object because
            it does not exist or you do not have permissionsnn * 404 ServerNotInSubscription
            - Specified server does not exist on the specified subscription.nn * 429
            SubscriptionTooManyRequests - Requests beyond max requests that can be
            processed by available resources.nn * 429 SubscriptionTooManyCreateUpdateRequests
            - Requests beyond max requests that can be processed by available resources.nn
            * 503 TooManyRequests - Requests beyond max requests that can be processed
            by available resources.nn * 504 RequestTimeout - Service request exceeded
            the allowed timeout.'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        Gets a list of databases in an elastic pool.:
          $ref: ./examples/ListDatabasesByElasticPool.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/pause
  : post:
      tags:
      - Databases
      description: Pauses a database.
      operationId: Databases_Pause
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        description: The name of the database to be paused.
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully paused the database.
          schema:
            $ref: '#/definitions/Database'
        default:
          description: '*** Error Responses: ***nn * 400 CannotDeactivateWhenDeactivatingInProgress
            - Deactivation workflow failed because there is a deactivate workflow
            already running.nn * 400 FeatureDisabledOnSelectedEdition - User attempted
            to use a feature which is disabled on current database edition.nn * 404
            SourceDatabaseNotFound - The source database does not exist.nn * 500 ActivateOrDeactivateWorkflowThrottling
            - Activation or deactivation workflow failed because there are too many
            concurrent workflows'
        202:
          description: Pausing the database is in progress.
      x-ms-long-running-operation: true
      x-ms-examples:
        Pauses a database.:
          $ref: ./examples/PauseDatabase.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/resume
  : post:
      tags:
      - Databases
      description: Resumes a database.
      operationId: Databases_Resume
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        description: The name of the database to be resumed.
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully resumed the database.
          schema:
            $ref: '#/definitions/Database'
        default:
          description: '*** Error Responses: ***nn * 400 FeatureDisabledOnSelectedEdition
            - User attempted to use a feature which is disabled on current database
            edition.nn * 404 SourceDatabaseNotFound - The source database does not
            exist.nn * 404 ServerNotInSubscription - Specified server does not exist
            on the specified subscription.nn * 500 ActivateOrDeactivateWorkflowThrottling
            - Activation or deactivation workflow failed because there are too many
            concurrent workflows'
        202:
          description: Resuming the database is in progress.
      x-ms-long-running-operation: true
      x-ms-examples:
        Resumes a database.:
          $ref: ./examples/ResumeDatabase.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/move
  : post:
      tags:
      - Databases
      description: Renames a database.
      operationId: Databases_Rename
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: databaseName
        in: path
        description: The name of the database to rename.
        required: true
        type: string
      - name: parameters
        in: body
        description: The resource move definition for renaming this database.
        required: true
        schema:
          $ref: '#/definitions/ResourceMoveDefinition'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully renamed the database.
        default:
          description: '*** Error Responses: ***nn * 400 InvalidResourceMoveRequest
            - The resource move request is invalid.nn * 400 InvalidMoveTargetResourceId
            - The target resource identifier in move request is invalid.nn * 400 MismatchingSubscriptionWithUrl
            - The provided subscription did not match the subscription in the Url.nn
            * 400 MismatchingResourceGroupNameWithUrl - The provided resource group
            name did not match the name in the Url.nn * 400 MismatchingServerNameWithUrl
            - The provided server name did not match the name in the Url.nn * 400
            CannotMoveOrDropJobAccountDatabase - Cannot drop database associated with
            job account.nn * 400 UnsupportedServiceName - The specified name is an
            invalid name because it contains one or more unsupported unicode characters.nn
            * 400 CannotMoveOrDropSyncMetadataDatabase - Cannot drop database used
            as sync metadata database.nn * 400 InvalidIdentifier - The identifier
            contains NULL or an invalid unicode character.nn * 400 TokenTooLong -
            The provided token is too long.nn * 400 CannotUseReservedDatabaseName
            - Cannot use reserved database name in this operation.nn * 404 SourceDatabaseNotFound
            - The source database does not exist.'
      x-ms-examples:
        Renames a database.:
          $ref: ./examples/RenameDatabase.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:18:\"DatabaseListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  list of databases.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Array
  of results.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Database\";}s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:18:\"DatabaseProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  database's properties.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":26:{s:10:\"createMode\";O:8:\"stdClass\":5:{s:11:\"description\";s:1493:\"Specifies
  the mode of database creation.\r\n\r\nDefault: regular database creation.\r\n\r\nCopy:
  creates a database as a copy of an existing database. sourceDatabaseId must be specified
  as the resource ID of the source database.\r\n\r\nSecondary: creates a database
  as a secondary replica of an existing database. sourceDatabaseId must be specified
  as the resource ID of the existing primary database.\r\n\r\nPointInTimeRestore:
  Creates a database by restoring a point in time backup of an existing database.
  sourceDatabaseId must be specified as the resource ID of the existing database,
  and restorePointInTime must be specified.\r\n\r\nRecovery: Creates a database by
  restoring a geo-replicated backup. sourceDatabaseId must be specified as the recoverable
  database resource ID to restore.\r\n\r\nRestore: Creates a database by restoring
  a backup of a deleted database. sourceDatabaseId must be specified. If sourceDatabaseId
  is the database's original resource ID, then sourceDatabaseDeletionDate must be
  specified. Otherwise sourceDatabaseId must be the restorable dropped database resource
  ID and sourceDatabaseDeletionDate is ignored. restorePointInTime may also be specified
  to restore from an earlier point in time.\r\n\r\nRestoreLongTermRetentionBackup:
  Creates a database by restoring from a long term retention vault. recoveryServicesRecoveryPointResourceId
  must be specified as the recovery point resource ID.\r\n\r\nCopy, Secondary, and
  RestoreLongTermRetentionBackup are not supported for DataWarehouse edition.\";s:4:\"enum\";a:10:{i:0;s:7:\"Default\";i:1;s:4:\"Copy\";i:2;s:9:\"Secondary\";i:3;s:18:\"PointInTimeRestore\";i:4;s:7:\"Restore\";i:5;s:8:\"Recovery\";i:6;s:21:\"RestoreExternalBackup\";i:7;s:30:\"RestoreExternalBackupSecondary\";i:8;s:30:\"RestoreLongTermRetentionBackup\";i:9;s:15:\"OnlineSecondary\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"CreateMode\";s:13:\"modelAsString\";b:1;}s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:9:\"collation\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  collation of the database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}}s:12:\"maxSizeBytes\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:48:\"The
  max size of the database expressed in bytes.\";s:4:\"type\";s:7:\"integer\";}s:10:\"sampleName\";O:8:\"stdClass\":5:{s:11:\"description\";s:67:\"The
  name of the sample schema to apply when creating this database.\";s:4:\"enum\";a:3:{i:0;s:16:\"AdventureWorksLT\";i:1;s:21:\"WideWorldImportersStd\";i:2;s:22:\"WideWorldImportersFull\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"SampleName\";s:13:\"modelAsString\";b:1;}s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:13:\"elasticPoolId\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  resource identifier of the elastic pool containing this database.\";s:4:\"type\";s:6:\"string\";}s:16:\"sourceDatabaseId\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"The
  resource identifier of the source database associated with create operation of this
  database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:6:\"status\";O:8:\"stdClass\":5:{s:11:\"description\";s:27:\"The
  status of the database.\";s:4:\"enum\";a:18:{i:0;s:6:\"Online\";i:1;s:9:\"Restoring\";i:2;s:15:\"RecoveryPending\";i:3;s:10:\"Recovering\";i:4;s:7:\"Suspect\";i:5;s:7:\"Offline\";i:6;s:7:\"Standby\";i:7;s:8:\"Shutdown\";i:8;s:13:\"EmergencyMode\";i:9;s:10:\"AutoClosed\";i:10;s:7:\"Copying\";i:11;s:8:\"Creating\";i:12;s:12:\"Inaccessible\";i:13;s:16:\"OfflineSecondary\";i:14;s:7:\"Pausing\";i:15;s:6:\"Paused\";i:16;s:8:\"Resuming\";i:17;s:7:\"Scaling\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"DatabaseStatus\";s:13:\"modelAsString\";b:1;}}s:10:\"databaseId\";O:8:\"stdClass\":4:{s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:23:\"The
  ID of the database.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:12:\"creationDate\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"The
  creation date of the database (ISO8601 format).\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:27:\"currentServiceObjectiveName\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  current service level objective name of the database.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:29:\"requestedServiceObjectiveName\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  requested service level objective name of the database.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:24:\"defaultSecondaryLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  default secondary region for this database.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:15:\"failoverGroupId\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Failover
  Group resource identifier that this database belongs to.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:18:\"restorePointInTime\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:117:\"Specifies
  the point in time (ISO8601 format) of the source database that will be restored
  to create the new database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:26:\"sourceDatabaseDeletionDate\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:49:\"Specifies
  the time that the database was deleted.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:31:\"recoveryServicesRecoveryPointId\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  resource identifier of the recovery point associated with create operation of this
  database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:33:\"longTermRetentionBackupResourceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  resource identifier of the long term retention backup associated with create operation
  of this database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:21:\"recoverableDatabaseId\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"The
  resource identifier of the recoverable database associated with create operation
  of this database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:27:\"restorableDroppedDatabaseId\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"The
  resource identifier of the restorable dropped database associated with create operation
  of this database.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:1:{i:0;s:6:\"create\";}}s:16:\"catalogCollation\";O:8:\"stdClass\":5:{s:11:\"description\";s:34:\"Collation
  of the metadata catalog.\";s:4:\"enum\";a:2:{i:0;s:16:\"DATABASE_DEFAULT\";i:1;s:28:\"SQL_Latin1_General_CP1_CI_AS\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"CatalogCollationType\";s:13:\"modelAsString\";b:1;}s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}}s:13:\"zoneRedundant\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"Whether
  or not this database is zone redundant, which means the replicas of this database
  will be spread across multiple availability zones.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"licenseType\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"The
  license type to apply for this database.\";s:4:\"enum\";a:2:{i:0;s:15:\"LicenseIncluded\";i:1;s:9:\"BasePrice\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"DatabaseLicenseType\";s:13:\"modelAsString\";b:1;}}s:15:\"maxLogSizeBytes\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:35:\"The
  max log size for this database.\";s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}s:19:\"earliestRestoreDate\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:107:\"This
  records the earliest start date and time that restore is available for this database
  (ISO8601 format).\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"readScale\";O:8:\"stdClass\":5:{s:11:\"description\";s:193:\"The
  state of read-only routing. If enabled, connections that have application intent
  set to readonly in their connection string may be routed to a readonly secondary
  replica in the same region.\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"DatabaseReadScale\";s:13:\"modelAsString\";b:1;}s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"update\";}}s:10:\"currentSku\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:46:\"../../../common/v1/types.json#/definitions/Sku\";s:11:\"description\";s:29:\"The
  name and tier of the SKU.\";s:8:\"readOnly\";b:1;}}}s:8:\"Database\";O:8:\"stdClass\":5:{s:11:\"description\";s:20:\"A
  database resource.\";s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"../../../common/v1/types.json#/definitions/TrackedResource\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"../../../common/v1/types.json#/definitions/Sku\";s:11:\"description\";s:29:\"The
  name and tier of the SKU.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Kind
  of database. This is metadata used for the Azure portal experience.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"managedBy\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Resource
  that manages the database.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/DatabaseProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:14:\"DatabaseUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  database resource.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"../../../common/v1/types.json#/definitions/Sku\";s:11:\"description\";s:29:\"The
  name and tier of the SKU.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/DatabaseProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:22:\"ResourceMoveDefinition\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"Contains
  the information necessary to perform a resource move (rename).\";s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  target ID for the resource\";s:4:\"type\";s:6:\"string\";}}}}"
...
