---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:45:\"REST API for Azure
  Server Management Service.\";s:5:\"title\";s:16:\"ServerManagement\";s:7:\"version\";s:18:\"2016-07-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:15:\"developer_tools\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:137:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-servermanagement/2016-07-01-preview/swagger/servermanagement.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:20:\"arm-servermanagement\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ServerManagement/gateways:
    get:
      description: Returns gateways in a subscription.
      operationId: Gateway_List
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/GatewayResources'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Gateways
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.ServerManagement/nodes:
    get:
      description: Lists nodes in a subscription.
      operationId: Node_List
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/NodeResources'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Nodes
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/gateways:
    get:
      description: Returns gateways in a resource group.
      operationId: Gateway_ListForResourceGroup
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/GatewayResources'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Gateways
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/gateways/{gatewayName}:
    delete:
      description: Deletes a gateway from a resource group.
      operationId: Gateway_Delete
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The gateway name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: gatewayName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      responses:
        200:
          description: The object exists and was deleted successfully.
        204:
          description: The request is well formed but the resource does not exist.
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Gateways
    get:
      description: Gets a gateway.
      operationId: Gateway_Get
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The gateway name (256 characters maximum)
        in: path
        maxLength: 256
        minLength: 1
        name: gatewayName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      - description: Gets subscription credentials which uniquely identify Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        enum:
        - status
        - download
        in: query
        name: $expand
        required: false
        type: string
        x-ms-enum:
          modelAsString: false
          name: GatewayExpandOption
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/GatewayResource'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Gateways
    patch:
      description: Updates a gateway belonging to a resource group.
      operationId: Gateway_Update
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The gateway name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: gatewayName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      - description: Parameters supplied to the Update operation.
        in: body
        name: GatewayParameters
        required: true
        schema:
          $ref: '#/definitions/GatewayParameters'
        x-ms-client-flatten: true
      responses:
        200:
          description: Update completed successfully.
          schema:
            $ref: '#/definitions/GatewayResource'
        202:
          description: 'Accepted: The location header contains the URL where the status
            of the long running operation can be checked.'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      x-ms-long-running-operation: true
    put:
      description: Creates or updates a ManagementService gateway.
      operationId: Gateway_Create
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The gateway name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: gatewayName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      - description: Parameters supplied to the CreateOrUpdate operation.
        in: body
        name: GatewayParameters
        required: true
        schema:
          $ref: '#/definitions/GatewayParameters'
        x-ms-client-flatten: true
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/GatewayResource'
        201:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/GatewayResource'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Gateways
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/gateways/{gatewayName}/profile
  : post:
      description: Gets a gateway profile.
      operationId: Gateway_GetProfile
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The gateway name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: gatewayName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/GatewayProfile'
        202:
          description: 'Accepted: Location header contains the URL where the status
            of the long running operation can be checked.'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Gateways
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/gateways/{gatewayName}/regenerateprofile
  : post:
      description: Regenerate a gateway's profile
      operationId: Gateway_RegenerateProfile
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The gateway name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: gatewayName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      responses:
        200:
          description: The operation completed successfully.
        202:
          description: 'Accepted: Location header contains the URL where the status
            of the long running operation can be checked.'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Gateways
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/gateways/{gatewayName}/upgradetolatest
  : post:
      description: Upgrades a gateway.
      operationId: Gateway_Upgrade
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The gateway name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: gatewayName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      responses:
        200:
          description: The operation completed successfully.
        202:
          description: 'Accepted: Location header contains the URL where the status
            of the long running operation can be checked.'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Gateways
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/nodes:
    get:
      description: Lists nodes in a resource group.
      operationId: Node_ListForResourceGroup
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/NodeResources'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Nodes
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/nodes/{nodeName}:
    delete:
      description: deletes a management node
      operationId: Node_Delete
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The node name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: nodeName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      responses:
        200:
          description: The object exists and was deleted successfully.
        204:
          description: The request is well formed but the resource does not exist.
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Nodes
    get:
      description: Gets a management node.
      operationId: Node_Get
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The node name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: nodeName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      responses:
        200:
          description: The object exists and was deleted successfully.
          schema:
            $ref: '#/definitions/NodeResource'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Nodes
    patch:
      description: Updates a management node.
      operationId: Node_Update
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The node name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: nodeName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      - description: Parameters supplied to the CreateOrUpdate operation.
        in: body
        name: NodeParameters
        required: true
        schema:
          $ref: '#/definitions/NodeParameters'
        x-ms-client-flatten: true
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/NodeResource'
        202:
          description: 'Accepted: Location header contains the URL where the status
            of the long running operation can be checked.'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Nodes
      x-ms-long-running-operation: true
    put:
      description: Creates or updates a management node.
      operationId: Node_Create
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The node name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: nodeName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      - description: Parameters supplied to the CreateOrUpdate operation.
        in: body
        name: GatewayParameters
        required: true
        schema:
          $ref: '#/definitions/NodeParameters'
        x-ms-client-flatten: true
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/NodeResource'
        201:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/NodeResource'
        202:
          description: 'Accepted: Location header contains the URL where the status
            of the long running operation can be checked.'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Nodes
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/nodes/{nodeName}/sessions/{session}
  : delete:
      description: Deletes a session for a node.
      operationId: Session_Delete
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The node name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: nodeName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      - description: The sessionId from the user.
        in: path
        name: session
        required: true
        type: string
      responses:
        200:
          description: The operation completed successfully.
        204:
          description: The request is well formed but the resource does not exist.
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Sessions
    get:
      description: Gets a session for a node.
      operationId: Session_Get
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The node name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: nodeName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      - description: The sessionId from the user.
        in: path
        name: session
        required: true
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/SessionResource'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Sessions
    put:
      description: Creates a session for a node.
      operationId: Session_Create
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The node name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: nodeName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      - description: The sessionId from the user.
        in: path
        name: session
        required: true
        type: string
      - description: Parameters supplied to the CreateOrUpdate operation.
        in: body
        name: SessionParameters
        required: true
        schema:
          $ref: '#/definitions/SessionParameters'
        x-ms-client-flatten: true
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/SessionResource'
        201:
          description: 'Created: the session was created.'
          schema:
            $ref: '#/definitions/SessionResource'
        202:
          description: 'Accepted: Location header contains the URL where the status
            of the long running operation can be checked.'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - Sessions
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/nodes/{nodeName}/sessions/{session}/features/powerShellConsole/pssessions
  : get:
      description: Gets a list of the active sessions.
      operationId: PowerShell_ListSession
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The node name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: nodeName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      - description: The sessionId from the user.
        in: path
        name: session
        required: true
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/PowerShellSessionResources'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - PowerShell
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/nodes/{nodeName}/sessions/{session}/features/powerShellConsole/pssessions/{pssession}
  : get:
      description: Gets the status of a command.
      operationId: PowerShell_GetCommandStatus
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The node name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: nodeName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      - description: The sessionId from the user.
        in: path
        name: session
        required: true
        type: string
      - description: The PowerShell sessionId from the user.
        in: path
        name: pssession
        required: true
        type: string
      - description: Gets current output from an ongoing call.
        enum:
        - output
        in: query
        name: $expand
        required: false
        type: string
        x-ms-enum:
          modelAsString: false
          name: PowerShellExpandOption
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/PowerShellCommandStatus'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - PowerShell
    patch:
      description: Updates a running PowerShell command with more data.
      operationId: PowerShell_UpdateCommand
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The node name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: nodeName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      - description: The sessionId from the user.
        in: path
        name: session
        required: true
        type: string
      - description: The PowerShell sessionId from the user.
        in: path
        name: pssession
        required: true
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/PowerShellCommandResults'
        202:
          description: 'Accepted: Location header contains the URL where the status
            of the long running operation can be checked.'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - PowerShell
      x-ms-long-running-operation: true
    put:
      description: Creates a PowerShell session.
      operationId: PowerShell_CreateSession
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The node name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: nodeName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      - description: The sessionId from the user.
        in: path
        name: session
        required: true
        type: string
      - description: The PowerShell sessionId from the user.
        in: path
        name: pssession
        required: true
        type: string
      responses:
        200:
          description: The operation completed succesfully.
          schema:
            $ref: '#/definitions/PowerShellSessionResource'
        202:
          description: 'Accepted: Location header contains the URL where the status
            of the long running operation can be checked.'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - PowerShell
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/nodes/{nodeName}/sessions/{session}/features/powerShellConsole/pssessions/{pssession}/cancel
  : post:
      description: Cancels a PowerShell command.
      operationId: PowerShell_CancelCommand
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The node name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: nodeName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      - description: The sessionId from the user.
        in: path
        name: session
        required: true
        type: string
      - description: The PowerShell sessionId from the user.
        in: path
        name: pssession
        required: true
        type: string
      responses:
        200:
          description: The cancellation was completed successfully.
          schema:
            $ref: '#/definitions/PowerShellCommandResults'
        202:
          description: 'Accepted: Location header contains the URL where the status
            of the long running operation can be checked.'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - PowerShell
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/nodes/{nodeName}/sessions/{session}/features/powerShellConsole/pssessions/{pssession}/invokeCommand
  : post:
      description: Creates a PowerShell script and invokes it.
      operationId: PowerShell_InvokeCommand
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The node name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: nodeName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      - description: The sessionId from the user.
        in: path
        name: session
        required: true
        type: string
      - description: The PowerShell sessionId from the user.
        in: path
        name: pssession
        required: true
        type: string
      - description: Parameters supplied to the Invoke PowerShell Command operation.
        in: body
        name: PowerShellCommandParameters
        required: true
        schema:
          $ref: '#/definitions/PowerShellCommandParameters'
        x-ms-client-flatten: true
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/PowerShellCommandResults'
        202:
          description: 'Accepted: Location header contains the URL where the status
            of the long running operation can be checked.'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - PowerShell
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServerManagement/nodes/{nodeName}/sessions/{session}/features/powerShellConsole/pssessions/{pssession}/tab
  : post:
      description: Gets tab completion values for a command.
      operationId: PowerShell_TabCompletion
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The resource group name uniquely identifies the resource group
          within the user subscriptionId.
        in: path
        minLength: 3
        name: resourceGroupName
        pattern: '[a-zA-Z0-9]+'
        required: true
        type: string
      - description: The node name (256 characters maximum).
        in: path
        maxLength: 256
        minLength: 1
        name: nodeName
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
        required: true
        type: string
      - description: The sessionId from the user.
        in: path
        name: session
        required: true
        type: string
      - description: The PowerShell sessionId from the user.
        in: path
        name: pssession
        required: true
        type: string
      - description: Parameters supplied to the tab completion call.
        in: body
        name: PowerShellTabCompletionParamters
        required: true
        schema:
          $ref: '#/definitions/PowerShellTabCompletionParameters'
        x-ms-client-flatten: true
      responses:
        200:
          description: The request was succesfully completed.
          schema:
            $ref: '#/definitions/PowerShellTabCompletionResults'
        default:
          description: Default Response. It will be deserialized as per the error
            definition specified in the schema, and an exception will be thrown.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - PowerShell
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":24:{s:21:\"EncryptionJwkResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  public key of the gateway.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"alg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"e\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"kty\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"n\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Error
  message.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"GatewayParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Collection
  of parameters for operations on a gateway resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Location
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Collection
  of properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"upgradeMode\";O:8:\"stdClass\":4:{s:11:\"description\";s:156:\"The
  upgradeMode property gives the flexibility to gateway to auto upgrade itself. If
  properties value not specified, then we assume upgradeMode = Automatic.\";s:4:\"enum\";a:2:{i:0;s:6:\"Manual\";i:1;s:9:\"Automatic\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:11:\"upgradeMode\";}}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}}}s:14:\"GatewayProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"JSON
  properties that the gateway service uses know how to communicate with the resource.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:27:\"dataPlaneServiceBaseAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  Dataplane connection URL.\";s:4:\"type\";s:6:\"string\";}s:11:\"environment\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  environment for the gateway (DEV, DogFood, or Production).\";s:4:\"type\";s:6:\"string\";}s:9:\"gatewayId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  ID of the gateway.\";s:4:\"type\";s:6:\"string\";}s:16:\"messagingAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Messaging
  Account.\";s:4:\"type\";s:6:\"string\";}s:12:\"messagingKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Messaging
  Key.\";s:4:\"type\";s:6:\"string\";}s:18:\"messagingNamespace\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Messaging
  namespace.\";s:4:\"type\";s:6:\"string\";}s:12:\"requestQueue\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Request
  queue name.\";s:4:\"type\";s:6:\"string\";}s:13:\"responseTopic\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Response
  topic name.\";s:4:\"type\";s:6:\"string\";}s:19:\"statusBlobSignature\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  gateway status blob SAS URL.\";s:4:\"type\";s:6:\"string\";}s:18:\"upgradeManifestUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gateway
  upgrade manifest URL.\";s:4:\"type\";s:6:\"string\";}}}s:15:\"GatewayResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:39:\"Data
  model for an arm gateway resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Collection
  of properties.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:18:\"activeMessageCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Number
  of active messages.\";s:4:\"type\";s:7:\"integer\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"UTC
  date and time when gateway was first added to management service.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"desiredVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Latest
  available MSI version.\";s:4:\"type\";s:6:\"string\";}s:17:\"installerDownload\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Installer
  download uri.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"instances\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Names
  of the nodes in the gateway.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GatewayStatus\";}s:4:\"type\";s:5:\"array\";}s:25:\"latestPublishedMsiVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Last
  published MSI version.\";s:4:\"type\";s:6:\"string\";}s:14:\"minimumVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Minimum
  gateway version.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"publishedTimeUtc\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  date/time of the last published gateway.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"UTC
  date and time when node was last updated.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"upgradeMode\";O:8:\"stdClass\":4:{s:11:\"description\";s:156:\"The
  upgradeMode property gives the flexibility to gateway to auto upgrade itself. If
  properties value not specified, then we assume upgradeMode = Automatic.\";s:4:\"enum\";a:2:{i:0;s:6:\"Manual\";i:1;s:9:\"Automatic\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:11:\"upgradeMode\";}}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}}s:16:\"GatewayResources\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Collection
  of Gateway Resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  URL to the next set of resources.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Collection
  of Gateway Resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/GatewayResource\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"GatewayStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Expanded
  gateway status information.\";s:10:\"properties\";O:8:\"stdClass\":21:{s:18:\"activeMessageCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Active
  message count.\";s:4:\"type\";s:7:\"integer\";}s:29:\"allowGatewayGroupPolicyStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Status
  of the allowGatewayGroupPolicy setting.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"availableMemoryMByte\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  available memory on the gateway host machine in megabytes.\";s:4:\"type\";s:6:\"number\";}s:31:\"encryptionCertificateThumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Thumbprint
  of the encryption certificate.\";s:4:\"type\";s:6:\"string\";}s:13:\"encryptionJwk\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/EncryptionJwkResource\";s:11:\"description\";s:31:\"The
  encryption certificate key.\";}s:14:\"friendlyOsName\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  Plaintext description of the OS on the gateway.\";s:4:\"type\";s:6:\"string\";}s:28:\"gatewayCpuUtilizationPercent\";O:8:\"stdClass\":5:{s:11:\"description\";s:77:\"The
  CPU utilization of the gateway process (numeric value between 0 and 100).\";s:6:\"format\";s:5:\"float\";s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:9:\"gatewayId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  gateway resource ID.\";s:4:\"type\";s:6:\"string\";}s:14:\"gatewayVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  version of the gateway that is installed on the system.\";s:4:\"type\";s:6:\"string\";}s:22:\"gatewayWorkingSetMByte\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  working set size of the gateway process in megabytes.\";s:4:\"type\";s:6:\"number\";}s:16:\"groupPolicyError\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  group policy error.\";s:4:\"type\";s:6:\"string\";}s:13:\"installedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  date the gateway was installed.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:25:\"latestPublishedMsiVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Latest
  published version of the gateway install MSI.\";s:4:\"type\";s:6:\"string\";}s:21:\"logicalProcessorCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Number
  of logical processors in the gateway system.\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  computer name of the gateway system.\";s:4:\"type\";s:6:\"string\";}s:16:\"publishedTimeUtc\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Gateway
  install MSI published time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:27:\"requireMfaGroupPolicyStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Status
  of the requireMfaGroupPolicy setting.\";s:4:\"type\";s:7:\"boolean\";}s:40:\"secondaryEncryptionCertificateThumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Secondary
  thumbprint of the encryption certificate.\";s:4:\"type\";s:6:\"string\";}s:22:\"secondaryEncryptionJwk\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/EncryptionJwkResource\";s:11:\"description\";s:41:\"The
  secondary encryption certificate key.\";}s:13:\"statusUpdated\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"UTC
  date and time when gateway status was last updated.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:26:\"totalCpuUtilizationPercent\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"CPU
  Utilization of the whole system.\";s:4:\"type\";s:6:\"number\";}}}s:14:\"NodeParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Parameter
  collection for operations on arm node resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Location
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Collection
  of properties.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"connectionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"myhost.domain.com\";s:4:\"type\";s:6:\"string\";}s:9:\"gatewayId\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Gateway
  ID which will manage this node.\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Password
  associated with user name.\";s:6:\"format\";s:8:\"password\";s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"User
  name to be used to connect to node.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}}}s:12:\"NodeResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:16:\"A
  Node Resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Collection
  of properties.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"connectionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"myhost.domain.com\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"UTC
  date and time when node was first added to management service.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"gatewayId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"ID
  of the gateway.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"UTC
  date and time when node was last updated.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}}s:13:\"NodeResources\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"A
  collection of node resource objects.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  URL to the next set of resources.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Collection
  of Node Resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/NodeResource\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"PowerShellCommandParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  parameters to a PowerShell script execution command.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Collection
  of properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"command\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Script
  to execute.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}}s:23:\"PowerShellCommandResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Results
  from invoking a PowerShell command.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:15:\"backgroundColor\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  HTML color string representing the background color.\";s:4:\"type\";s:6:\"string\";}s:7:\"caption\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Text
  that precedes the prompt.\";s:4:\"type\";s:6:\"string\";}s:12:\"descriptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Collection
  of PromptFieldDescription objects that contains the user input.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/PromptFieldDescription\";}s:4:\"type\";s:5:\"array\";}s:8:\"exitCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  exit code from a executable that was called from PowerShell.\";s:4:\"type\";s:7:\"integer\";}s:15:\"foregroundColor\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  HTML color string representing the foreground color.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"ID
  of the prompt message.\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Text
  of the prompt.\";s:4:\"type\";s:6:\"string\";}s:11:\"messageType\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  type of message.\";s:4:\"type\";s:7:\"integer\";}s:6:\"prompt\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  interactive prompt message.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Actual
  result text from the PowerShell Command.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"PowerShellCommandResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"A
  collection of results from a PowerShell command.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"command\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"completed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"pssession\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/PowerShellCommandResult\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"PowerShellCommandStatus\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:49:\"Result
  status from invoking a PowerShell command.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/PowerShellCommandResults\";s:19:\"x-ms-client-flatten\";b:1;}}}s:25:\"PowerShellSessionResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:78:\"A
  PowerShell session resource (practically equivalent to a runspace instance).\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Collection
  of properties.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"disconnectedOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Timestamp
  of last time the service disconnected from the runspace.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"expiresOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Timestamp
  when the runspace expires.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of the runspace.\";s:4:\"type\";s:6:\"string\";}s:20:\"runspaceAvailability\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  availability of the runspace.\";s:4:\"type\";s:6:\"string\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  PowerShell Session ID.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  runspace state.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Version\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}}s:26:\"PowerShellSessionResources\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"A
  collection of PowerShell session resources\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  URL to the next set of resources.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Collection
  of PowerShell session resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/PowerShellSessionResource\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:33:\"PowerShellTabCompletionParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Collection
  of parameters for PowerShell tab completion.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"command\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Command
  to get tab completion for.\";s:4:\"type\";s:6:\"string\";}}}s:30:\"PowerShellTabCompletionResults\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"An
  array of strings representing the different values that can be selected through.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:22:\"PromptFieldDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Field
  description for the implementation of PSHostUserInterface.Prompt\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"helpMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  help message of the prompt.\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  label text of the prompt.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the prompt.\";s:4:\"type\";s:6:\"string\";}s:15:\"promptFieldType\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:6:\"String\";i:1;s:12:\"SecureString\";i:2;s:10:\"Credential\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:15:\"PromptFieldType\";}}s:21:\"promptFieldTypeIsList\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"When
  set to 'true' the prompt field type is a list of values.\";s:4:\"type\";s:7:\"boolean\";}}}s:21:\"PromptMessageResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  response to a prompt message.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"response\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  list of responses a cmdlet expects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Resource
  Manager Resource Information.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"etag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Resource
  Manager Resource ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Resource
  Manager Resource Location.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Resource
  Manager Resource Name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:31:\"Resource
  Manager Resource Tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Resource
  Manager Resource Type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:17:\"SessionParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Parameter
  collection for creation and other operations on sessions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Collection
  of properties\";s:10:\"properties\";O:8:\"stdClass\":5:{s:31:\"EncryptionCertificateThumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Encryption
  certificate thumbprint.\";s:4:\"type\";s:6:\"string\";}s:20:\"credentialDataFormat\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Credential
  data format.\";s:4:\"enum\";a:1:{i:0;s:12:\"RsaEncrypted\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:20:\"credentialDataFormat\";}}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Encrypted
  Password associated with user name.\";s:4:\"type\";s:6:\"string\";}s:15:\"retentionPeriod\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Session
  retention period.\";s:4:\"enum\";a:2:{i:0;s:7:\"Session\";i:1;s:10:\"Persistent\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:15:\"retentionPeriod\";}}s:8:\"userName\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Encrypted
  User name to be used to connect to node.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}}s:15:\"SessionResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:19:\"The
  session object.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Collection
  of properties.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"UTC
  date and time when node was first added to management service.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"UTC
  date and time when node was last updated.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  username connecting to the session.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}}s:7:\"Version\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"A
  multipart-numeric version number.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"build\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  third number of the version.\";s:4:\"type\";s:7:\"integer\";}s:5:\"major\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  leftmost number of the version.\";s:4:\"type\";s:7:\"integer\";}s:13:\"majorRevision\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  MSW of the fourth part.\";s:4:\"type\";s:7:\"integer\";}s:5:\"minor\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  second leftmost number of the version.\";s:4:\"type\";s:7:\"integer\";}s:13:\"minorRevision\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  LSW of the fourth part.\";s:4:\"type\";s:7:\"integer\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  fourth number of the version.\";s:4:\"type\";s:7:\"integer\";}}}}"
...
