---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:5:\"email\";s:26:\"azuremigrate@microsoft.com\";s:4:\"name\";s:9:\"Microsoft\";}s:11:\"description\";s:29:\"Move
  your workloads to Azure.\";s:5:\"title\";s:13:\"Azure Migrate\";s:7:\"version\";s:10:\"2018-02-02\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:148:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/migrate/resource-manager/Microsoft.Migrate/2018-02-02/migrate.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:7:\"migrate\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"azure_migrate\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":24:{s:12:\"AssessedDisk\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"A
  disk assessed for an assessment.\";s:10:\"properties\";O:8:\"stdClass\":21:{s:17:\"gigabytesConsumed\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Gigabytes
  of storage consumed by this disk.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:31:\"gigabytesForRecommendedDiskSize\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Gigabytes
  of storage provided by the recommended Azure disk size.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:20:\"gigabytesProvisioned\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Gigabytes
  of storage provisioned for this disk.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:24:\"megabytesPerSecondOfRead\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Disk
  throughput in MegaBytes per second.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:42:\"megabytesPerSecondOfReadDataPointsExpected\";O:8:\"stdClass\":5:{s:11:\"description\";s:54:\"Expected
  data points for MegaBytes per second of read.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:1;}s:42:\"megabytesPerSecondOfReadDataPointsReceived\";O:8:\"stdClass\":5:{s:11:\"description\";s:54:\"Received
  data points for MegaBytes per second of read.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:1;}s:25:\"megabytesPerSecondOfWrite\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Disk
  throughput in MegaBytes per second.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:43:\"megabytesPerSecondOfWriteDataPointsExpected\";O:8:\"stdClass\":5:{s:11:\"description\";s:55:\"Expected
  data points for MegaBytes per second of write.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:1;}s:43:\"megabytesPerSecondOfWriteDataPointsReceived\";O:8:\"stdClass\":5:{s:11:\"description\";s:55:\"Received
  data points for MegaBytes per second of write.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:1;}s:18:\"monthlyStorageCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Estimated
  aggregate storage cost for a 31-day month for this disk.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Name
  of the assessed disk.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:31:\"numberOfReadOperationsPerSecond\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Number
  of read operations per second for the disk.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:49:\"numberOfReadOperationsPerSecondDataPointsExpected\";O:8:\"stdClass\":5:{s:11:\"description\";s:62:\"Expected
  number of data points for read operations per second.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:1;}s:49:\"numberOfReadOperationsPerSecondDataPointsReceived\";O:8:\"stdClass\":5:{s:11:\"description\";s:62:\"Received
  number of data points for read operations per second.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:1;}s:32:\"numberOfWriteOperationsPerSecond\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Number
  of read and write operations per second for the disk.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:50:\"numberOfWriteOperationsPerSecondDataPointsExpected\";O:8:\"stdClass\":5:{s:11:\"description\";s:63:\"Expected
  number of data points for write operations per second.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:1;}s:50:\"numberOfWriteOperationsPerSecondDataPointsReceived\";O:8:\"stdClass\":5:{s:11:\"description\";s:63:\"Received
  number of data points for write operations per second.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:1;}s:19:\"recommendedDiskSize\";O:8:\"stdClass\":5:{s:11:\"description\";s:94:\"Recommended
  Azure size for the disk, given utilization data and preferences set on Assessment.\";s:4:\"enum\";a:15:{i:0;s:7:\"Unknown\";i:1;s:11:\"Standard_S4\";i:2;s:11:\"Standard_S6\";i:3;s:12:\"Standard_S10\";i:4;s:12:\"Standard_S20\";i:5;s:12:\"Standard_S30\";i:6;s:12:\"Standard_S40\";i:7;s:12:\"Standard_S50\";i:8;s:10:\"Premium_P4\";i:9;s:10:\"Premium_P6\";i:10;s:11:\"Premium_P10\";i:11;s:11:\"Premium_P20\";i:12;s:11:\"Premium_P30\";i:13;s:11:\"Premium_P40\";i:14;s:11:\"Premium_P50\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"AzureDiskSize\";}}s:19:\"recommendedDiskType\";O:8:\"stdClass\":5:{s:11:\"description\";s:36:\"Storage
  type selected for this disk.\";s:4:\"enum\";a:3:{i:0;s:7:\"Unknown\";i:1;s:8:\"Standard\";i:2;s:7:\"Premium\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"AzureDiskType\";}}s:11:\"suitability\";O:8:\"stdClass\":5:{s:11:\"description\";s:40:\"Whether
  this disk is suitable for Azure.\";s:4:\"enum\";a:5:{i:0;s:7:\"Unknown\";i:1;s:11:\"NotSuitable\";i:2;s:8:\"Suitable\";i:3;s:21:\"ConditionallySuitable\";i:4;s:16:\"ReadinessUnknown\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"CloudSuitability\";}}s:22:\"suitabilityExplanation\";O:8:\"stdClass\":5:{s:11:\"description\";s:68:\"If
  disk is suitable, this explains the reasons and mitigation steps.\";s:4:\"enum\";a:8:{i:0;s:7:\"Unknown\";i:1;s:13:\"NotApplicable\";i:2;s:28:\"DiskSizeGreaterThanSupported\";i:3;s:25:\"NoSuitableDiskSizeForIops\";i:4;s:31:\"NoSuitableDiskSizeForThroughput\";i:5;s:33:\"NoDiskSizeFoundInSelectedLocation\";i:6;s:36:\"NoDiskSizeFoundForSelectedRedundancy\";i:7;s:38:\"InternalErrorOccurredForDiskEvaluation\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:31:\"AzureDiskSuitabilityExplanation\";}}}s:4:\"type\";s:6:\"object\";}s:15:\"AssessedMachine\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"A
  machine evaluated as part of an assessment.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"eTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"For
  optimistic concurrency control.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:245:\"Path
  reference to this assessed machine. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines/{assessedMachineName}\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Name
  of the machine.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/AssessedMachineProperties\";s:11:\"description\";s:34:\"Properties
  of an assessed machine.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Type
  of the object = [Microsoft.Migrate/projects/groups/assessments/assessedMachines].\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:25:\"AssessedMachineProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Properties
  of an assessed machine.\";s:10:\"properties\";O:8:\"stdClass\":30:{s:8:\"bootType\";O:8:\"stdClass\":5:{s:11:\"description\";s:25:\"Boot
  type of the machine.\";s:4:\"enum\";a:3:{i:0;s:7:\"Unknown\";i:1;s:3:\"EFI\";i:2;s:4:\"BIOS\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"MachineBootType\";}}s:16:\"createdTimestamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"Time
  when this machine was created. Date-Time represented in ISO-8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"datacenterContainer\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Container
  defined in the management solution that this machine is part of in the datacenter.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"datacenterMachineId\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"ID
  of the machine as tracked by the datacenter management solution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:26:\"datacenterManagementServer\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Name
  of the server hosting the datacenter management solution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:28:\"datacenterManagementServerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"ID
  of the server hosting the datacenter management solution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Description
  of the machine\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"discoveredTimestamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:103:\"Time
  when this machine was discovered by Azure Migrate agent. Date-Time represented in
  ISO-8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"disks\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AssessedDisk\";}s:11:\"description\";s:87:\"Dictionary
  of disks attached to the machine. Key is ID of disk. Value is a disk object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"User
  readable name of the machine as defined by the user in their private datacenter.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"groups\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"List
  of references to the groups that the machine is member of.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:189:\"Reference
  to a group that this machine is member of. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:17:\"megabytesOfMemory\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Memory
  in Megabytes.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:35:\"megabytesOfMemoryForRecommendedSize\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Megabytes
  of memory in the Recommended Azure VM Size.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:20:\"monthlyBandwidthCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:120:\"Monthly
  network cost estimate for the network adapters that are attached to this machine
  as a group, for a 31-day month.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:36:\"monthlyComputeCostForRecommendedSize\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"Compute
  Cost for a 31-day month, if the machine is migrated to Azure with the Recommended
  Size.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:18:\"monthlyStorageCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:109:\"Monthly
  storage cost estimate for the disks that are attached to this machine as a group,
  for a 31-day month.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:15:\"networkAdapters\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AssessedNetworkAdapter\";}s:11:\"description\";s:118:\"Dictionary
  of network adapters attached to the machine. Key is name of the adapter. Value is
  a network adapter object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:13:\"numberOfCores\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Processor
  count.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:31:\"numberOfCoresForRecommendedSize\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Number
  of CPU cores in the Recommended Azure VM Size.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:15:\"operatingSystem\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Operating
  System of the machine.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:26:\"percentageCoresUtilization\";O:8:\"stdClass\":4:{s:11:\"description\";s:214:\"Utilization
  percentage of the processor core as observed in the private data center, in the
  Time Range selected on Assessment, reported as the Percentile value based on the
  percentile number selected in assessment.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:44:\"percentageCoresUtilizationDataPointsExpected\";O:8:\"stdClass\":5:{s:11:\"description\";s:57:\"Expected
  data points for percentage of cores utilization.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:1;}s:44:\"percentageCoresUtilizationDataPointsReceived\";O:8:\"stdClass\":5:{s:11:\"description\";s:57:\"Received
  data points for percentage of cores utilization.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:1;}s:27:\"percentageMemoryUtilization\";O:8:\"stdClass\":4:{s:11:\"description\";s:206:\"Utilization
  percentage of the memory as observed in the private data center, in the Time Range
  selected on Assessment, reported as the Percentile value based on the percentile
  number selected in assessment.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:45:\"percentageMemoryUtilizationDataPointsExpected\";O:8:\"stdClass\":5:{s:11:\"description\";s:58:\"Expected
  data points for percentage of memory utilization.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:1;}s:45:\"percentageMemoryUtilizationDataPointsReceived\";O:8:\"stdClass\":5:{s:11:\"description\";s:58:\"Received
  data points for percentage of memory utilization.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:1;}s:15:\"recommendedSize\";O:8:\"stdClass\":5:{s:11:\"description\";s:40:\"Recommended
  Azure size for this machine.\";s:4:\"enum\";a:91:{i:0;s:7:\"Unknown\";i:1;s:8:\"Basic_A0\";i:2;s:8:\"Basic_A1\";i:3;s:8:\"Basic_A2\";i:4;s:8:\"Basic_A3\";i:5;s:8:\"Basic_A4\";i:6;s:11:\"Standard_A0\";i:7;s:11:\"Standard_A1\";i:8;s:11:\"Standard_A2\";i:9;s:11:\"Standard_A3\";i:10;s:11:\"Standard_A4\";i:11;s:11:\"Standard_A5\";i:12;s:11:\"Standard_A6\";i:13;s:11:\"Standard_A7\";i:14;s:11:\"Standard_A8\";i:15;s:11:\"Standard_A9\";i:16;s:12:\"Standard_A10\";i:17;s:12:\"Standard_A11\";i:18;s:14:\"Standard_A1_v2\";i:19;s:14:\"Standard_A2_v2\";i:20;s:14:\"Standard_A4_v2\";i:21;s:14:\"Standard_A8_v2\";i:22;s:15:\"Standard_A2m_v2\";i:23;s:15:\"Standard_A4m_v2\";i:24;s:15:\"Standard_A8m_v2\";i:25;s:11:\"Standard_D1\";i:26;s:11:\"Standard_D2\";i:27;s:11:\"Standard_D3\";i:28;s:11:\"Standard_D4\";i:29;s:12:\"Standard_D11\";i:30;s:12:\"Standard_D12\";i:31;s:12:\"Standard_D13\";i:32;s:12:\"Standard_D14\";i:33;s:14:\"Standard_D1_v2\";i:34;s:14:\"Standard_D2_v2\";i:35;s:14:\"Standard_D3_v2\";i:36;s:14:\"Standard_D4_v2\";i:37;s:14:\"Standard_D5_v2\";i:38;s:15:\"Standard_D11_v2\";i:39;s:15:\"Standard_D12_v2\";i:40;s:15:\"Standard_D13_v2\";i:41;s:15:\"Standard_D14_v2\";i:42;s:15:\"Standard_D15_v2\";i:43;s:12:\"Standard_DS1\";i:44;s:12:\"Standard_DS2\";i:45;s:12:\"Standard_DS3\";i:46;s:12:\"Standard_DS4\";i:47;s:13:\"Standard_DS11\";i:48;s:13:\"Standard_DS12\";i:49;s:13:\"Standard_DS13\";i:50;s:13:\"Standard_DS14\";i:51;s:15:\"Standard_DS1_v2\";i:52;s:15:\"Standard_DS2_v2\";i:53;s:15:\"Standard_DS3_v2\";i:54;s:15:\"Standard_DS4_v2\";i:55;s:15:\"Standard_DS5_v2\";i:56;s:16:\"Standard_DS11_v2\";i:57;s:16:\"Standard_DS12_v2\";i:58;s:16:\"Standard_DS13_v2\";i:59;s:16:\"Standard_DS14_v2\";i:60;s:16:\"Standard_DS15_v2\";i:61;s:11:\"Standard_F1\";i:62;s:11:\"Standard_F2\";i:63;s:11:\"Standard_F4\";i:64;s:11:\"Standard_F8\";i:65;s:12:\"Standard_F16\";i:66;s:12:\"Standard_F1s\";i:67;s:12:\"Standard_F2s\";i:68;s:12:\"Standard_F4s\";i:69;s:12:\"Standard_F8s\";i:70;s:13:\"Standard_F16s\";i:71;s:11:\"Standard_G1\";i:72;s:11:\"Standard_G2\";i:73;s:11:\"Standard_G3\";i:74;s:11:\"Standard_G4\";i:75;s:11:\"Standard_G5\";i:76;s:12:\"Standard_GS1\";i:77;s:12:\"Standard_GS2\";i:78;s:12:\"Standard_GS3\";i:79;s:12:\"Standard_GS4\";i:80;s:12:\"Standard_GS5\";i:81;s:11:\"Standard_H8\";i:82;s:12:\"Standard_H16\";i:83;s:12:\"Standard_H8m\";i:84;s:13:\"Standard_H16m\";i:85;s:13:\"Standard_H16r\";i:86;s:14:\"Standard_H16mr\";i:87;s:12:\"Standard_L4s\";i:88;s:12:\"Standard_L8s\";i:89;s:13:\"Standard_L16s\";i:90;s:13:\"Standard_L32s\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:11:\"AzureVmSize\";}}s:11:\"suitability\";O:8:\"stdClass\":5:{s:11:\"description\";s:51:\"Whether
  machine is suitable for migration to Azure.\";s:4:\"enum\";a:5:{i:0;s:7:\"Unknown\";i:1;s:11:\"NotSuitable\";i:2;s:8:\"Suitable\";i:3;s:21:\"ConditionallySuitable\";i:4;s:16:\"ReadinessUnknown\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"CloudSuitability\";}}s:22:\"suitabilityExplanation\";O:8:\"stdClass\":5:{s:11:\"description\";s:87:\"If
  machine is not ready to be migrated, this explains the reasons and mitigation steps.\";s:4:\"enum\";a:36:{i:0;s:7:\"Unknown\";i:1;s:13:\"NotApplicable\";i:2;s:44:\"GuestOperatingSystemArchitectureNotSupported\";i:3;s:32:\"GuestOperatingSystemNotSupported\";i:4;s:20:\"BootTypeNotSupported\";i:5;s:22:\"MoreDisksThanSupported\";i:6;s:21:\"NoSuitableVmSizeFound\";i:7;s:25:\"OneOrMoreDisksNotSuitable\";i:8;s:28:\"OneOrMoreAdaptersNotSuitable\";i:9;s:43:\"InternalErrorOccuredDuringComputeEvaluation\";i:10;s:43:\"InternalErrorOccuredDuringStorageEvaluation\";i:11;s:43:\"InternalErrorOccuredDuringNetworkEvaluation\";i:12;s:34:\"NoVmSizeSupportsStoragePerformance\";i:13;s:34:\"NoVmSizeSupportsNetworkPerformance\";i:14;s:30:\"NoVmSizeForSelectedPricingTier\";i:15;s:32:\"NoVmSizeForSelectedAzureLocation\";i:16;s:23:\"CheckRedHatLinuxVersion\";i:17;s:25:\"CheckOpenSuseLinuxVersion\";i:18;s:31:\"CheckWindowsServer2008R2Version\";i:19;s:18:\"CheckCentOsVersion\";i:20;s:23:\"CheckDebianLinuxVersion\";i:21;s:21:\"CheckSuseLinuxVersion\";i:22;s:23:\"CheckOracleLinuxVersion\";i:23;s:23:\"CheckUbuntuLinuxVersion\";i:24;s:23:\"CheckCoreOsLinuxVersion\";i:25;s:42:\"WindowsServerVersionConditionallySupported\";i:26;s:44:\"NoGuestOperatingSystemConditionallySupported\";i:27;s:43:\"WindowsClientVersionsConditionallySupported\";i:28;s:15:\"BootTypeUnknown\";i:29;s:27:\"GuestOperatingSystemUnknown\";i:30;s:40:\"WindowsServerVersionsSupportedWithCaveat\";i:31;s:31:\"WindowsOSNoLongerUnderMSSupport\";i:32;s:40:\"EndorsedWithConditionsLinuxDistributions\";i:33;s:28:\"UnendorsedLinuxDistributions\";i:34;s:30:\"NoVmSizeForStandardPricingTier\";i:35;s:27:\"NoVmSizeForBasicPricingTier\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:29:\"AzureVmSuitabilityExplanation\";}}s:16:\"updatedTimestamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"Time
  when this machine was last updated. Date-Time represented in ISO-8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"AssessedMachineResultList\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of assessed machines.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of assessed machines.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AssessedMachine\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"AssessedNetworkAdapter\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  network adapter assessed for an assessment.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"ipAddresses\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"List
  of IP Addresses on the network adapter.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"IP
  Address of the network adapter.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:10:\"macAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"MAC
  Address of the network adapter.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:42:\"megabytesPerSecondOfReadDataPointsReceived\";O:8:\"stdClass\":5:{s:11:\"description\";s:66:\"Received
  data points for incoming traffic in MegaBytes per second.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:1;}s:26:\"megabytesPerSecondReceived\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Adapter
  throughput for incoming traffic in MegaBytes per second.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:44:\"megabytesPerSecondReceivedDataPointsExpected\";O:8:\"stdClass\":5:{s:11:\"description\";s:66:\"Expected
  data points for incoming traffic in MegaBytes per second.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:1;}s:29:\"megabytesPerSecondTransmitted\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Adapter
  throughput for outgoing traffic in MegaBytes per second.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:47:\"megabytesPerSecondTransmittedDataPointsExpected\";O:8:\"stdClass\":5:{s:11:\"description\";s:66:\"Expected
  data points for outgoing traffic in MegaBytes per second.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:1;}s:47:\"megabytesPerSecondTransmittedDataPointsReceived\";O:8:\"stdClass\":5:{s:11:\"description\";s:66:\"Received
  data points for outgoing traffic in MegaBytes per second.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:1;}s:21:\"monthlyBandwidthCosts\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"Monthly
  cost estimate for network bandwidth used by this network adapter.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:31:\"netGigabytesTransmittedPerMonth\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Gigabytes
  transmitted through this adapter each month.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"suitability\";O:8:\"stdClass\":5:{s:11:\"description\";s:43:\"Whether
  this adapter is suitable for Azure.\";s:4:\"enum\";a:5:{i:0;s:7:\"Unknown\";i:1;s:11:\"NotSuitable\";i:2;s:8:\"Suitable\";i:3;s:21:\"ConditionallySuitable\";i:4;s:16:\"ReadinessUnknown\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"CloudSuitability\";}}s:22:\"suitabilityExplanation\";O:8:\"stdClass\":5:{s:11:\"description\";s:79:\"If
  network adapter is suitable, this explains the reasons and mitigation steps.\";s:4:\"enum\";a:3:{i:0;s:7:\"Unknown\";i:1;s:13:\"NotApplicable\";i:2;s:20:\"InternalErrorOccured\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:41:\"AzureNetworkAdapterSuitabilityExplanation\";}}}s:4:\"type\";s:6:\"object\";}s:10:\"Assessment\";O:8:\"stdClass\":5:{s:11:\"description\";s:59:\"An
  assessment created for a group in the Migration project.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"eTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"For
  optimistic concurrency control.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:199:\"Path
  reference to this assessment. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessment/{assessmentName}\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Unique
  name of an assessment.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:34:\"#/definitions/AssessmentProperties\";s:11:\"description\";s:29:\"Properties
  of the assessment.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Type
  of the object = [Microsoft.Migrate/projects/groups/assessments].\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:20:\"AssessmentProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Properties
  of an assessment.\";s:10:\"properties\";O:8:\"stdClass\":21:{s:21:\"azureHybridUseBenefit\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"AHUB
  discount on windows virtual machines.\";s:4:\"enum\";a:3:{i:0;s:7:\"Unknown\";i:1;s:3:\"Yes\";i:2;s:2:\"No\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:21:\"AzureHybridUseBenefit\";}}s:13:\"azureLocation\";O:8:\"stdClass\":4:{s:11:\"description\";s:113:\"Target
  Azure location for which the machines should be assessed. These enums are the same
  as used by Compute API.\";s:4:\"enum\";a:31:{i:0;s:7:\"Unknown\";i:1;s:8:\"EastAsia\";i:2;s:13:\"SoutheastAsia\";i:3;s:13:\"AustraliaEast\";i:4;s:18:\"AustraliaSoutheast\";i:5;s:11:\"BrazilSouth\";i:6;s:13:\"CanadaCentral\";i:7;s:10:\"CanadaEast\";i:8;s:10:\"WestEurope\";i:9;s:11:\"NorthEurope\";i:10;s:12:\"CentralIndia\";i:11;s:10:\"SouthIndia\";i:12;s:9:\"WestIndia\";i:13;s:9:\"JapanEast\";i:14;s:9:\"JapanWest\";i:15;s:12:\"KoreaCentral\";i:16;s:10:\"KoreaSouth\";i:17;s:6:\"UkWest\";i:18;s:7:\"UkSouth\";i:19;s:14:\"NorthCentralUs\";i:20;s:6:\"EastUs\";i:21;s:7:\"WestUs2\";i:22;s:14:\"SouthCentralUs\";i:23;s:9:\"CentralUs\";i:24;s:7:\"EastUs2\";i:25;s:6:\"WestUs\";i:26;s:13:\"WestCentralUs\";i:27;s:14:\"GermanyCentral\";i:28;s:16:\"GermanyNortheast\";i:29;s:10:\"ChinaNorth\";i:30;s:9:\"ChinaEast\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"AzureLocation\";}}s:14:\"azureOfferCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Offer
  code according to which cost estimation is done.\";s:4:\"enum\";a:38:{i:0;s:7:\"Unknown\";i:1;s:10:\"MSAZR0003P\";i:2;s:10:\"MSAZR0044P\";i:3;s:10:\"MSAZR0059P\";i:4;s:10:\"MSAZR0060P\";i:5;s:10:\"MSAZR0062P\";i:6;s:10:\"MSAZR0063P\";i:7;s:10:\"MSAZR0064P\";i:8;s:10:\"MSAZR0029P\";i:9;s:10:\"MSAZR0022P\";i:10;s:10:\"MSAZR0023P\";i:11;s:10:\"MSAZR0148P\";i:12;s:10:\"MSAZR0025P\";i:13;s:10:\"MSAZR0036P\";i:14;s:10:\"MSAZR0120P\";i:15;s:10:\"MSAZR0121P\";i:16;s:10:\"MSAZR0122P\";i:17;s:10:\"MSAZR0123P\";i:18;s:10:\"MSAZR0124P\";i:19;s:10:\"MSAZR0125P\";i:20;s:10:\"MSAZR0126P\";i:21;s:10:\"MSAZR0127P\";i:22;s:10:\"MSAZR0128P\";i:23;s:10:\"MSAZR0129P\";i:24;s:10:\"MSAZR0130P\";i:25;s:10:\"MSAZR0111P\";i:26;s:10:\"MSAZR0144P\";i:27;s:10:\"MSAZR0149P\";i:28;s:12:\"MSMCAZR0044P\";i:29;s:12:\"MSMCAZR0059P\";i:30;s:12:\"MSMCAZR0060P\";i:31;s:12:\"MSMCAZR0063P\";i:32;s:12:\"MSMCAZR0120P\";i:33;s:12:\"MSMCAZR0121P\";i:34;s:12:\"MSMCAZR0125P\";i:35;s:12:\"MSMCAZR0128P\";i:36;s:12:\"MSAZRDE0003P\";i:37;s:12:\"MSAZRDE0044P\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:14:\"AzureOfferCode\";}}s:16:\"azurePricingTier\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Pricing
  tier for Size evaluation.\";s:4:\"enum\";a:2:{i:0;s:8:\"Standard\";i:1;s:5:\"Basic\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"AzurePricingTier\";}}s:22:\"azureStorageRedundancy\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Storage
  Redundancy type offered by Azure.\";s:4:\"enum\";a:5:{i:0;s:7:\"Unknown\";i:1;s:16:\"LocallyRedundant\";i:2;s:13:\"ZoneRedundant\";i:3;s:12:\"GeoRedundant\";i:4;s:22:\"ReadAccessGeoRedundant\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:22:\"AzureStorageRedundancy\";}}s:28:\"confidenceRatingInPercentage\";O:8:\"stdClass\":5:{s:11:\"description\";s:74:\"Confidence
  rating percentage for assessment. Can be in the range [0, 100].\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:10:\"x-nullable\";b:1;}s:16:\"createdTimestamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"Time
  when this project was created. Date-Time represented in ISO-8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Currency
  to report prices in.\";s:4:\"enum\";a:26:{i:0;s:7:\"Unknown\";i:1;s:3:\"USD\";i:2;s:3:\"DKK\";i:3;s:3:\"CAD\";i:4;s:3:\"IDR\";i:5;s:3:\"JPY\";i:6;s:3:\"KRW\";i:7;s:3:\"NZD\";i:8;s:3:\"NOK\";i:9;s:3:\"RUB\";i:10;s:3:\"SAR\";i:11;s:3:\"ZAR\";i:12;s:3:\"SEK\";i:13;s:3:\"TRY\";i:14;s:3:\"GBP\";i:15;s:3:\"MXN\";i:16;s:3:\"MYR\";i:17;s:3:\"INR\";i:18;s:3:\"HKD\";i:19;s:3:\"BRL\";i:20;s:3:\"TWD\";i:21;s:3:\"EUR\";i:22;s:3:\"CHF\";i:23;s:3:\"ARS\";i:24;s:3:\"AUD\";i:25;s:3:\"CNY\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:8:\"Currency\";}}s:18:\"discountPercentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Custom
  discount percentage to be applied on final costs. Can be in the range [0, 100].\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:20:\"monthlyBandwidthCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:111:\"Monthly
  network cost estimate for the machines that are part of this assessment as a group,
  for a 31-day month.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:18:\"monthlyComputeCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:111:\"Monthly
  compute cost estimate for the machines that are part of this assessment as a group,
  for a 31-day month.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:18:\"monthlyStorageCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:111:\"Monthly
  storage cost estimate for the machines that are part of this assessment as a group,
  for a 31-day month.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:16:\"numberOfMachines\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Number
  of assessed machines part of this assessment.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:10:\"percentile\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Percentile
  of performance data used to recommend Azure size.\";s:4:\"enum\";a:4:{i:0;s:12:\"Percentile50\";i:1;s:12:\"Percentile90\";i:2;s:12:\"Percentile95\";i:3;s:12:\"Percentile99\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"Percentile\";}}s:15:\"pricesTimestamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"Time
  when the Azure Prices were queried. Date-Time represented in ISO-8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"scalingFactor\";O:8:\"stdClass\":3:{s:11:\"description\";s:159:\"Scaling
  factor used over utilization data to add a performance buffer for new machines to
  be created in Azure. Min Value = 1.0, Max value = 1.9, Default = 1.3.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"sizingCriterion\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Assessment
  sizing criterion.\";s:4:\"enum\";a:2:{i:0;s:16:\"PerformanceBased\";i:1;s:12:\"AsOnPremises\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:25:\"AssessmentSizingCriterion\";}}s:5:\"stage\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"User
  configurable setting that describes the status of the assessment.\";s:4:\"enum\";a:3:{i:0;s:10:\"InProgress\";i:1;s:11:\"UnderReview\";i:2;s:8:\"Approved\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"AssessmentStage\";}}s:6:\"status\";O:8:\"stdClass\":5:{s:11:\"description\";s:52:\"Wheter
  the assessment has been created and is valid.\";s:4:\"enum\";a:5:{i:0;s:7:\"Created\";i:1;s:7:\"Updated\";i:2;s:7:\"Running\";i:3;s:9:\"Completed\";i:4;s:7:\"Invalid\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"AssessmentStatus\";}}s:9:\"timeRange\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Time
  range of performance data used to recommend a size.\";s:4:\"enum\";a:3:{i:0;s:3:\"Day\";i:1;s:4:\"Week\";i:2;s:5:\"Month\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"TimeRange\";}}s:16:\"updatedTimestamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"Time
  when this project was last updated. Date-Time represented in ISO-8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:12:{i:0;s:5:\"stage\";i:1;s:14:\"azureOfferCode\";i:2;s:9:\"timeRange\";i:3;s:10:\"percentile\";i:4;s:13:\"azureLocation\";i:5;s:22:\"azureStorageRedundancy\";i:6;s:13:\"scalingFactor\";i:7;s:16:\"azurePricingTier\";i:8;s:8:\"currency\";i:9;s:21:\"azureHybridUseBenefit\";i:10;s:18:\"discountPercentage\";i:11;s:15:\"sizingCriterion\";}s:4:\"type\";s:6:\"object\";}s:20:\"AssessmentResultList\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"List
  of assessments.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"List
  of assessments.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Assessment\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Disk\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  disk discovered on a machine.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"gigabytesAllocated\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Gigabytes
  of storage provisioned for this disk.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:17:\"gigabytesConsumed\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Gigabytes
  of storage consumed by this disk.\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:11:\"DownloadUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Download
  URL for assessment report.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"assessmentReportUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Hyperlink
  to download report.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"expirationTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Expiry
  date of download url.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Group\";O:8:\"stdClass\":5:{s:11:\"description\";s:39:\"A
  group created in a Migration project.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"eTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"For
  optimistic concurrency control.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"Path
  reference to this group. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Name
  of the group.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:29:\"#/definitions/GroupProperties\";s:11:\"description\";s:24:\"Properties
  of the group.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Type
  of the object = [Microsoft.Migrate/projects/groups].\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:15:\"GroupProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Properties
  of group resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"assessments\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"List
  of References to Assessments created on this group.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:193:\"Reference
  to an Assessment. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments/{assessmentName}\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:16:\"createdTimestamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"Time
  when this project was created. Date-Time represented in ISO-8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"machines\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"List
  of machine names that are part of this group.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"Reference
  to a machine. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/machines/{machineName}\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"updatedTimestamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"Time
  when this project was last updated. Date-Time represented in ISO-8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"machines\";}s:4:\"type\";s:6:\"object\";}s:15:\"GroupResultList\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"List
  of groups.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"List
  of groups.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Machine\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"A
  machine in a migration project.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"eTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"For
  optimistic concurrency control.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"Path
  reference to this machine. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/machines/{machineName}\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"Name
  of the machine. It is a GUID which is unique identifier of machine in private data
  center. For user-readable name, we have a displayName property on this machine.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/MachineProperties\";s:11:\"description\";s:26:\"Properties
  of the machine.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Type
  of the object = [Microsoft.Migrate/projects/machines].\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:17:\"MachineProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Properties
  of a machine.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:8:\"bootType\";O:8:\"stdClass\":5:{s:11:\"description\";s:25:\"Boot
  type of the machine.\";s:4:\"enum\";a:3:{i:0;s:7:\"Unknown\";i:1;s:3:\"EFI\";i:2;s:4:\"BIOS\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"MachineBootType\";}}s:16:\"createdTimestamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"Time
  when this machine was created. Date-Time represented in ISO-8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"datacenterContainer\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Container
  defined in the management solution that this machine is part of in the datacenter.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"datacenterMachineId\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"ID
  of the machine as tracked by the datacenter management solution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:26:\"datacenterManagementServer\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Name
  of the server hosting the datacenter management solution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:28:\"datacenterManagementServerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"ID
  of the server hosting the datacenter management solution.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Description
  of the machine\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"discoveredTimestamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:103:\"Time
  when this machine was discovered by Azure Migrate agent. Date-Time represented in
  ISO-8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"disks\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Disk\";}s:11:\"description\";s:86:\"Dictionary
  of disks attached to the machine. Key is ID of disk. Value is a disk object\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"User
  readable name of the machine as defined by the user in their private datacenter.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"groups\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"List
  of references to the groups that the machine is member of.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:189:\"Reference
  to a group that this machine is member of. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:17:\"megabytesOfMemory\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Memory
  in Megabytes.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:15:\"networkAdapters\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NetworkAdapter\";}s:11:\"description\";s:119:\"Dictionary
  of network adapters attached to the machine. Key is ID of network adapter. Value
  is a network adapter object\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:13:\"numberOfCores\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Processor
  count.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:15:\"operatingSystem\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Operating
  System of the machine.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"updatedTimestamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"Time
  when this machine was last updated. Date-Time represented in ISO-8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MachineResultList\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"List
  of machines.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"List
  of machines.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Machine\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"NetworkAdapter\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  network adapter discovered on a machine.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ipAddresses\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"List
  of IP Addresses on the network adapter.\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"IP
  Address of the network adapter.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:10:\"macAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"MAC
  Address of the network adapter.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  REST API operation supported by the provider.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"display\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OperationDisplay\";s:11:\"description\";s:40:\"Displayable
  properties of the operation.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Name
  of the operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Origin
  of the operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"OperationDisplay\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Displayable
  properties of the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Description
  of the operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Operation
  Type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Provider
  of the operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Resource
  operated on by the operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:19:\"OperationResultList\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"List
  of API operations.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"List
  of operations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Project\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Azure
  Migrate Project.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"eTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"For
  optimistic concurrency control.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"Path
  reference to this project /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Azure
  location in which project is created.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Name
  of the project.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ProjectProperties\";s:11:\"description\";s:26:\"Properties
  of the project.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Tags
  provided by Azure Tagging service.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Type
  of the object = [Microsoft.Migrate/projects].\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:10:\"ProjectKey\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"ID
  and Key for Migration Project.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"workspaceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"ID
  of Migration Project.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"workspaceKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Key
  of Migration Project.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:17:\"ProjectProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Properties
  of a project.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:16:\"createdTimestamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"Time
  when this project was created. Date-Time represented in ISO-8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"customerWorkspaceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"ARM
  ID of the Service Map workspace created by user.\";s:4:\"type\";s:6:\"string\";}s:25:\"customerWorkspaceLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Location
  of the Service Map workspace created by user.\";s:4:\"type\";s:6:\"string\";}s:15:\"discoveryStatus\";O:8:\"stdClass\":5:{s:11:\"description\";s:43:\"Reports
  whether project is under discovery.\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:10:\"NotStarted\";i:2;s:10:\"InProgress\";i:3;s:9:\"Completed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"DiscoveryStatus\";}}s:23:\"lastAssessmentTimestamp\";O:8:\"stdClass\":5:{s:11:\"description\";s:133:\"Time
  when last assessment was created. Date-Time represented in ISO-8601 format. This
  value will be null until assessment is created.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:22:\"lastDiscoverySessionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Session
  id of the last discovery.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:22:\"lastDiscoveryTimestamp\";O:8:\"stdClass\":5:{s:11:\"description\";s:130:\"Time
  when this project was created. Date-Time represented in ISO-8601 format. This value
  will be null until discovery is complete.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:19:\"numberOfAssessments\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Number
  of assessments created in the project.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:14:\"numberOfGroups\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Number
  of groups created in the project.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:16:\"numberOfMachines\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Number
  of machines in the project.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:17:\"provisioningState\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Provisioning
  state of the project.\";s:4:\"enum\";a:6:{i:0;s:8:\"Accepted\";i:1;s:8:\"Creating\";i:2;s:8:\"Deleting\";i:3;s:6:\"Failed\";i:4;s:6:\"Moving\";i:5;s:9:\"Succeeded\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"ProvisioningState\";}}s:16:\"updatedTimestamp\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"Time
  when this project was last updated. Date-Time represented in ISO-8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ProjectResultList\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"List
  of projects.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"List
  of projects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
