---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:25:\"Service Map API
  Reference\";s:5:\"title\";s:11:\"Service Map\";s:7:\"version\";s:18:\"2015-11-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:131:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-service-map/2015-11-01-preview/swagger/arm-service-map.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:15:\"arm-service-map\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"azure_arm_service_map\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/clientGroups/{clientGroupName}
  : get:
      description: Retrieves the specified client group
      operationId: ClientGroups_Get
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ClientGroupNameParameter'
      - description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        format: date-time
        in: query
        name: startTime
        required: false
        type: string
      - description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        format: date-time
        in: query
        name: endTime
        required: false
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/ClientGroup'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Client Groups
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/clientGroups/{clientGroupName}/members
  : get:
      description: Returns the members of the client group during the specified time
        interval.
      operationId: ClientGroups_ListMembers
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ClientGroupNameParameter'
      - description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        format: date-time
        in: query
        name: startTime
        required: false
        type: string
      - description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        format: date-time
        in: query
        name: endTime
        required: false
        type: string
      - description: Page size to use. When not specified, the default page size is
          100 records.
        format: int32
        in: query
        maximum: 200
        minimum: 1
        name: $top
        required: false
        type: integer
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/ClientGroupMembersCollection'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Client Groups
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/clientGroups/{clientGroupName}/membersCount
  : get:
      description: Returns the approximate number of members in the client group.
      operationId: ClientGroups_GetMembersCount
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/ClientGroupNameParameter'
      - description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        format: date-time
        in: query
        name: startTime
        required: false
        type: string
      - description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        format: date-time
        in: query
        name: endTime
        required: false
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/ClientGroupMembersCount'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Client Groups
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/generateMap
  : post:
      description: Generates the specified map.
      operationId: Maps_Generate
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Request options.
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/MapRequest'
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/MapResponse'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Maps
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machineGroups
  : get:
      description: Returns all machine groups.
      operationId: MachineGroups_ListByWorkspace
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/MachineGroupCollection'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - MachineGroups
      x-ms-pageable:
        nextLinkName: nextLink
    post:
      description: Creates a new machine group.
      operationId: MachineGroups_Create
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Machine Group resource to create.
        in: body
        name: machineGroup
        required: true
        schema:
          $ref: '#/definitions/MachineGroup'
      responses:
        201:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/MachineGroup'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - MachineGroups
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machineGroups/{machineGroupName}
  : delete:
      description: Deletes the specified Machine Group.
      operationId: MachineGroups_Delete
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineGroupNameParameter'
      responses:
        204:
          description: The operation completed successfully.
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - MachineGroups
    get:
      description: Returns the specified machine group.
      operationId: MachineGroups_Get
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineGroupNameParameter'
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/MachineGroup'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - MachineGroups
    put:
      description: Updates a machine group.
      operationId: MachineGroups_Update
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineGroupNameParameter'
      - description: Machine Group resource to update.
        in: body
        name: machineGroup
        required: true
        schema:
          $ref: '#/definitions/MachineGroup'
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/MachineGroup'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - MachineGroups
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines
  : get:
      description: Returns a collection of machines matching the specified conditions.  The
        returned collection represents either machines that are active/live during
        the specified interval  of time (`live=true` and `startTime`/`endTime` are
        specified) or that are known to have existed at or  some time prior to the
        specified point in time (`live=false` and `timestamp` is specified).
      operationId: Machines_ListByWorkspace
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - default: true
        description: Specifies whether to return live resources (true) or inventory
          resources (false). Defaults to **true**. When retrieving live resources,
          the start time (`startTime`) and end time (`endTime`) of the desired interval
          should be included. When retrieving inventory resources, an optional timestamp
          (`timestamp`) parameter can be specified to return the version of each resource
          closest (not-after) that timestamp.
        in: query
        name: live
        required: false
        type: boolean
      - description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        format: date-time
        in: query
        name: startTime
        required: false
        type: string
      - description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        format: date-time
        in: query
        name: endTime
        required: false
        type: string
      - description: UTC date and time specifying a time instance relative to which
          to evaluate each machine resource. Only applies when `live=false`. When
          not specified, the service uses DateTime.UtcNow.
        format: date-time
        in: query
        name: timestamp
        required: false
        type: string
      - description: Page size to use. When not specified, the default page size is
          100 records.
        format: int32
        in: query
        maximum: 200
        minimum: 1
        name: $top
        required: false
        type: integer
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/MachineCollection'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Machines
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}
  : get:
      description: Returns the specified machine.
      operationId: Machines_Get
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineNameParameter'
      - description: UTC date and time specifying a time instance relative to which
          to evaluate the machine resource. When not specified, the service uses DateTime.UtcNow.
        format: date-time
        in: query
        name: timestamp
        required: false
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/Machine'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Machines
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/connections
  : get:
      description: Returns a collection of connections terminating or originating
        at the specified machine
      operationId: Machines_ListConnections
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineNameParameter'
      - description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        format: date-time
        in: query
        name: startTime
        required: false
        type: string
      - description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        format: date-time
        in: query
        name: endTime
        required: false
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/ConnectionCollection'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Machines
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/liveness
  : get:
      description: Obtains the liveness status of the machine during the specified
        time interval.
      operationId: Machines_GetLiveness
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineNameParameter'
      - description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        format: date-time
        in: query
        name: startTime
        required: false
        type: string
      - description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        format: date-time
        in: query
        name: endTime
        required: false
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/Liveness'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Machines
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/machineGroups
  : get:
      description: Returns a collection of machine groups this machine belongs to.
      operationId: Machines_ListMachineGroupMembership
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineNameParameter'
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/MachineGroupCollection'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Machines
      - MachineGroups
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/ports
  : get:
      description: Returns a collection of live ports on the specified machine during
        the specified time interval.
      operationId: Machines_ListPorts
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineNameParameter'
      - description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        format: date-time
        in: query
        name: startTime
        required: false
        type: string
      - description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        format: date-time
        in: query
        name: endTime
        required: false
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/PortCollection'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Machines
      - Ports
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/ports/{portName}
  : get:
      description: Returns the specified port. The port must be live during the specified
        time interval. If the port is not live during the interval, status 404 (Not
        Found) is returned.
      operationId: Ports_Get
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineNameParameter'
      - $ref: '#/parameters/PortNameParameter'
      - description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        format: date-time
        in: query
        name: startTime
        required: false
        type: string
      - description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        format: date-time
        in: query
        name: endTime
        required: false
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/Port'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Ports
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/ports/{portName}/acceptingProcesses
  : get:
      description: Returns a collection of processes accepting on the specified port
      operationId: Ports_ListAcceptingProcesses
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineNameParameter'
      - $ref: '#/parameters/PortNameParameter'
      - description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        format: date-time
        in: query
        name: startTime
        required: false
        type: string
      - description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        format: date-time
        in: query
        name: endTime
        required: false
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/ProcessCollection'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Ports
      - Processes
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/ports/{portName}/connections
  : get:
      description: Returns a collection of connections established via the specified
        port.
      operationId: Ports_ListConnections
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineNameParameter'
      - $ref: '#/parameters/PortNameParameter'
      - description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        format: date-time
        in: query
        name: startTime
        required: false
        type: string
      - description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        format: date-time
        in: query
        name: endTime
        required: false
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/ConnectionCollection'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Ports
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/ports/{portName}/liveness
  : get:
      description: Obtains the liveness status of the port during the specified time
        interval.
      operationId: Ports_GetLiveness
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineNameParameter'
      - $ref: '#/parameters/PortNameParameter'
      - description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        format: date-time
        in: query
        name: startTime
        required: false
        type: string
      - description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        format: date-time
        in: query
        name: endTime
        required: false
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/Liveness'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Ports
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/processes
  : get:
      description: 'Returns a collection of processes on the specified machine matching
        the specified conditions. The returned collection represents either processes
        that are active/live during the specified interval  of time (`live=true` and
        `startTime`/`endTime` are specified) or that are known to have existed at
        or  some time prior to the specified point in time (`live=false` and `timestamp`
        is specified).        '
      operationId: Machines_ListProcesses
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineNameParameter'
      - default: true
        description: Specifies whether to return live resources (true) or inventory
          resources (false). Defaults to **true**. When retrieving live resources,
          the start time (`startTime`) and end time (`endTime`) of the desired interval
          should be included. When retrieving inventory resources, an optional timestamp
          (`timestamp`) parameter can be specified to return the version of each resource
          closest (not-after) that timestamp.
        in: query
        name: live
        required: false
        type: boolean
      - description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        format: date-time
        in: query
        name: startTime
        required: false
        type: string
      - description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        format: date-time
        in: query
        name: endTime
        required: false
        type: string
      - description: UTC date and time specifying a time instance relative to which
          to evaluate all process resource. Only applies when `live=false`. When not
          specified, the service uses DateTime.UtcNow.
        format: date-time
        in: query
        name: timestamp
        required: false
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/ProcessCollection'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Processes
      - Machines
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/processes/{processName}
  : get:
      description: Returns the specified process.
      operationId: Processes_Get
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineNameParameter'
      - $ref: '#/parameters/ProcessNameParameter'
      - description: UTC date and time specifying a time instance relative to which
          to evaluate a resource. When not specified, the service uses DateTime.UtcNow.
        format: date-time
        in: query
        name: timestamp
        required: false
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/Process'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Processes
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/processes/{processName}/acceptingPorts
  : get:
      description: Returns a collection of ports on which this process is accepting
      operationId: Processes_ListAcceptingPorts
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineNameParameter'
      - $ref: '#/parameters/ProcessNameParameter'
      - description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        format: date-time
        in: query
        name: startTime
        required: false
        type: string
      - description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        format: date-time
        in: query
        name: endTime
        required: false
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/PortCollection'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Processes
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/processes/{processName}/connections
  : get:
      description: Returns a collection of connections terminating or originating
        at the specified process
      operationId: Processes_ListConnections
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineNameParameter'
      - $ref: '#/parameters/ProcessNameParameter'
      - description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        format: date-time
        in: query
        name: startTime
        required: false
        type: string
      - description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        format: date-time
        in: query
        name: endTime
        required: false
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/ConnectionCollection'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Processes
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/machines/{machineName}/processes/{processName}/liveness
  : get:
      description: Obtains the liveness status of the process during the specified
        time interval.
      operationId: Processes_GetLiveness
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/MachineNameParameter'
      - $ref: '#/parameters/ProcessNameParameter'
      - description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        format: date-time
        in: query
        name: startTime
        required: false
        type: string
      - description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        format: date-time
        in: query
        name: endTime
        required: false
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/Liveness'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Processes
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/summaries/machines
  : get:
      description: Returns summary information about the machines in the workspace.
      operationId: Summaries_GetMachines
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/WorkspaceNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: UTC date and time specifying the start time of an interval. When
          not specified the service uses DateTime.UtcNow - 10m
        format: date-time
        in: query
        name: startTime
        required: false
        type: string
      - description: UTC date and time specifying the end time of an interval. When
          not specified the service uses DateTime.UtcNow
        format: date-time
        in: query
        name: endTime
        required: false
        type: string
      responses:
        200:
          description: The operation completed successfully.
          schema:
            $ref: '#/definitions/MachinesSummary'
        default:
          description: An error occurred while processing the request. See the error.code
            parameter to identify the specific error.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - Summaries
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":61:{s:8:\"Acceptor\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Relationship\";}}s:11:\"description\";s:30:\"A
  process accepting on a port.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AcceptorProperties\";s:19:\"x-ms-client-flatten\";b:1;}}s:24:\"x-ms-discriminator-value\";s:12:\"rel:acceptor\";}s:18:\"AcceptorProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Properties
  for an acceptor relationship.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ProcessReference\";s:11:\"description\";s:18:\"Accepting
  process.\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Relationship
  end time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PortReference\";s:11:\"description\";s:20:\"Port
  being accepted.\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Relationship
  start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:6:\"source\";i:1;s:11:\"destination\";}}s:8:\"Accuracy\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Specifies
  the accuracy of a computation.\";s:4:\"enum\";a:2:{i:0;s:6:\"actual\";i:1;s:9:\"estimated\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:8:\"Accuracy\";}}s:18:\"AgentConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Describes
  the configuration of the Dependency Agent installed on a machine.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"agentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Health
  Service Agent unique identifier.\";s:4:\"type\";s:6:\"string\";}s:16:\"clockGranularity\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Machine
  clock granularity in milliseconds.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"dependencyAgentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Dependency
  Agent unique identifier.\";s:4:\"type\";s:6:\"string\";}s:23:\"dependencyAgentRevision\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Dependency
  Agent revision number.\";s:4:\"type\";s:6:\"string\";}s:22:\"dependencyAgentVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Dependency
  Agent version number.\";s:4:\"type\";s:6:\"string\";}s:12:\"rebootStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MachineRebootStatus\";s:11:\"description\";s:88:\"Specifies
  whether the machine has been rebooted since the Dependency Agent installation.\";}}s:8:\"required\";a:1:{i:0;s:7:\"agentId\";}}s:7:\"Bitness\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Specifies
  the bitness of a machine or process.\";s:4:\"enum\";a:2:{i:0;s:5:\"32bit\";i:1;s:5:\"64bit\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:7:\"Bitness\";}}s:11:\"ClientGroup\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CoreResource\";}}s:11:\"description\";s:124:\"Represents
  a collection of clients of a resource. A client group can represent the clients
  of a port, process, or a machine.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";s:20:\"Resource
  properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"clientsOf\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";s:11:\"description\";s:70:\"Reference
  to the resource whose clients are represented by this group.\";}}s:8:\"required\";a:1:{i:0;s:9:\"clientsOf\";}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}s:24:\"x-ms-discriminator-value\";s:11:\"clientGroup\";}s:17:\"ClientGroupMember\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:37:\"Represents
  a member of a client group\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Resource
  properties.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"IP
  address.\";s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PortReference\";s:11:\"description\";s:37:\"Port
  into which this client connected\";}s:9:\"processes\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Processes
  accepting on the above port that received connections from this client.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProcessReference\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}}s:28:\"ClientGroupMembersCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Collection
  of ClientGroupMember resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  URL to the next set of resources.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Collection
  of ClientGroupMember resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ClientGroupMember\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ClientGroupMembersCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Specifies
  the number of members in a client group.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"accuracy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Accuracy\";s:11:\"description\";s:31:\"Accuracy
  of the reported count.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:288:\"Number
  of members in the client group. Use this value together with the value of ```accuracy```.
  If accuracy is `exact` then the value represents the actual number of members in
  the cloud. When accuracy is `estimated`, the actual number of members is larger
  than the value of ```count```.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Membership
  interval start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"groupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Client
  Group URI.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Membership
  interval start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:9:\"startTime\";i:1;s:7:\"endTime\";i:2;s:7:\"groupId\";i:3;s:5:\"count\";i:4;s:8:\"accuracy\";}s:4:\"type\";s:6:\"object\";}s:10:\"Connection\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Relationship\";}}s:11:\"description\";s:21:\"A
  network connection.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConnectionProperties\";s:19:\"x-ms-client-flatten\";b:1;}}s:24:\"x-ms-discriminator-value\";s:14:\"rel:connection\";}s:20:\"ConnectionCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Collection
  of Connection resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  URL to the next set of resources.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Collection
  of Connection resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Connection\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ConnectionFailureState\";O:8:\"stdClass\":4:{s:11:\"description\";s:152:\"Connection
  failure state:\n * ```ok``` indicates no failures\n * ```failed``` indicates only
  failures\n * ```mixed``` indicates both failures and successes\";s:4:\"enum\";a:3:{i:0;s:2:\"ok\";i:1;s:6:\"failed\";i:2;s:5:\"mixed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:22:\"ConnectionFailureState\";}}s:20:\"ConnectionProperties\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/RelationshipProperties\";}}s:11:\"description\";s:37:\"Properties
  for a connection resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"failureState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ConnectionFailureState\";s:11:\"description\";s:114:\"Specifies
  whether there are only successful, failed or a mixture of both connections represented
  by this resource.\";}s:10:\"serverPort\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PortReference\";s:11:\"description\";s:76:\"Reference
  to the server port via which this connection has been established.\";}}}s:12:\"CoreResource\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:50:\"Marker
  resource for the core Service Map resources\";s:13:\"discriminator\";s:4:\"kind\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Resource
  ETAG.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Additional
  resource type qualifier.\";s:4:\"enum\";a:5:{i:0;s:7:\"machine\";i:1;s:7:\"process\";i:2;s:4:\"port\";i:3;s:11:\"clientGroup\";i:4;s:12:\"machineGroup\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"kind\";}}s:5:\"Error\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Error
  details.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Error
  code identifying the specific error.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Error
  message in the caller's locale.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"code\";}s:4:\"type\";s:6:\"object\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"An
  error response from the API.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:18:\"Error
  information.\";}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:4:\"type\";s:6:\"object\";}s:23:\"HypervisorConfiguration\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Describes
  the hypervisor configuration of a machine.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"hypervisorType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/HypervisorType\";s:11:\"description\";s:85:\"Specifies
  the virtualization technology used by the hypervisor (hyperv, vmware, etc.)\";}s:19:\"nativeHostMachineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"The
  unique identifier of the hypervisor machine as reported by the underlying virtualization
  system.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"HypervisorType\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Specifies
  the hypervisor type of a machine.\";s:4:\"enum\";a:2:{i:0;s:7:\"unknown\";i:1;s:6:\"hyperv\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:14:\"HypervisorType\";}}s:20:\"Ipv4NetworkInterface\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Describes
  an IPv4 network interface.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"IPv4
  address.\";s:4:\"type\";s:6:\"string\";}s:10:\"subnetMask\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"255.255.255.255\";s:11:\"description\";s:17:\"IPv4
  subnet mask.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:9:\"ipAddress\";}}s:20:\"Ipv6NetworkInterface\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Describes
  an IPv6 network interface.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"IPv6
  address.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:9:\"ipAddress\";}}s:8:\"Liveness\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Specifies
  the contents of a check liveness response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Liveness
  interval end time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"live\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"`true`
  if the resource is live during [startTime, endTime], `false` otherwise\";s:4:\"type\";s:7:\"boolean\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Liveness
  interval start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:9:\"startTime\";i:1;s:7:\"endTime\";i:2;s:4:\"live\";}s:4:\"type\";s:6:\"object\";}s:7:\"Machine\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CoreResource\";}}s:11:\"description\";s:555:\"A
  machine resource represents a discovered computer system. It can be *monitored*,
  i.e., a Dependency Agent is running on it, or *discovered*, i.e., its existence
  was inferred by observing the data stream from monitored machines. As machines change,
  prior versions of the machine resource are preserved and available for access. A
  machine is live during an interval of time, if either its Dependency Agent has reported
  data during (parts) of that interval, or a Dependency agent running on other machines
  has reported activity associated with the machine.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Resource
  properties.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:5:\"agent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AgentConfiguration\";s:11:\"description\";s:31:\"Dependency
  Agent configuration.\";}s:8:\"bootTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"UTC
  date and time when the machine last booted\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"computerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Name
  of the machine, e.g., server\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Name
  to use for display purposes\";s:4:\"type\";s:6:\"string\";}s:24:\"fullyQualifiedDomainName\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Fully-qualified
  name of the machine, e.g., server.company.com\";s:4:\"type\";s:6:\"string\";}s:10:\"hypervisor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/HypervisorConfiguration\";s:11:\"description\";s:90:\"Hypervisor-related
  configuration. Present only when 'virtualizationState' is `hypervisor`.\";}s:15:\"monitoringState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MonitoringState\";s:11:\"description\";s:66:\"Specifies
  whether the machine is actively monitored or discovered.\";}s:10:\"networking\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/NetworkConfiguration\";s:11:\"description\";s:48:\"Network
  configuration (ips, gateways, dns, etc.)\";}s:15:\"operatingSystem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/OperatingSystemConfiguration\";s:11:\"description\";s:29:\"Operating
  system information.\";}s:9:\"resources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/MachineResourcesConfiguration\";s:11:\"description\";s:38:\"Machine
  resources (memory, cpu, etc.).\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"UTC
  date and time when this resource was updated in the system.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Timezone\";s:11:\"description\";s:24:\"Timezone
  of the machine.\";}s:14:\"virtualMachine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/VirtualMachineConfiguration\";s:11:\"description\";s:91:\"Virtualization-related
  configuration. Present only when `virtualizationState` is `virtual`.\";}s:19:\"virtualizationState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/VirtualizationState\";s:11:\"description\";s:45:\"Specifies
  whether the machine is virtualized.\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}s:24:\"x-ms-discriminator-value\";s:7:\"machine\";}s:17:\"MachineCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Collection
  of Machine resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  URL to the next set of resources.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Collection
  of Machine resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Machine\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:30:\"MachineCountsByOperatingSystem\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Machines
  by operating system.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"linux\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Number
  of live Linux machines.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"windows\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Number
  of live Windows machines.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:7:\"windows\";i:1;s:5:\"linux\";}s:4:\"type\";s:6:\"object\";}s:12:\"MachineGroup\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CoreResource\";}}s:11:\"description\";s:44:\"A
  user-defined logical grouping of machines.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Resource
  ETAG.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";s:20:\"Resource
  properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"displayName\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"User
  defined name for the group\";s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:8:\"machines\";O:8:\"stdClass\":3:{s:11:\"description\";s:218:\"References
  of the machines in this group. The hints within each reference do not represent
  the current value of  the corresponding fields. They are a snapshot created during
  the last time the machine group was updated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/MachineReferenceWithHints\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:11:\"displayName\";}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}s:24:\"x-ms-discriminator-value\";s:12:\"machineGroup\";}s:22:\"MachineGroupCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Collection
  of Machine Group resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  URL to the next set of resources.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Collection
  of Machine Group resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MachineGroup\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"MachineGroupMapRequest\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MapRequest\";}}s:11:\"description\";s:148:\"Specifies
  the computation of a machine group dependency map. A machine group dependency map
  includes all direct dependencies of a group of machines.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"filterProcesses\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"If
  true, only processes between grouped machines will be included. Any connections
  in or out of those processes will be included.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"machineGroupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"URI
  of machine group resource for which to generate the map.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:14:\"machineGroupId\";}s:24:\"x-ms-discriminator-value\";s:28:\"map:machine-group-dependency\";}s:19:\"MachineRebootStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:90:\"Specifies
  if the machine has been rebooted since the installation of the dependency agent.\";s:4:\"enum\";a:3:{i:0;s:7:\"unknown\";i:1;s:8:\"rebooted\";i:2;s:11:\"notRebooted\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"MachineRebootStatus\";}}s:16:\"MachineReference\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";}}s:11:\"description\";s:23:\"Reference
  to a machine.\";s:24:\"x-ms-discriminator-value\";s:11:\"ref:machine\";}s:25:\"MachineReferenceWithHints\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";}}s:11:\"description\";s:75:\"A
  machine reference with a hint of the machine's name and operating system.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Machine
  reference with name and os hints.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"displayNameHint\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Last
  known display name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"osFamilyHint\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/OperatingSystemFamily\";s:11:\"description\";s:35:\"Last
  known operating system family.\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}s:24:\"x-ms-discriminator-value\";s:20:\"ref:machinewithhints\";}s:29:\"MachineResourcesConfiguration\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Describes
  the resources of a machine.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"cpuSpeed\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"CPU
  speed in megahertz (Mhz).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"cpuSpeedAccuracy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Accuracy\";s:11:\"description\";s:45:\"Describes
  the accuracy of the cpuSpeed field.\";}s:4:\"cpus\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Number
  of CPUs.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"physicalMemory\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Physical
  memory in megabytes (MB).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:15:\"MachinesSummary\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Summary\";}}s:11:\"description\";s:43:\"A
  summary of the machines in the workspace.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/MachinesSummaryProperties\";s:19:\"x-ms-client-flatten\";b:1;}}}s:25:\"MachinesSummaryProperties\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SummaryProperties\";}}s:11:\"description\";s:37:\"Summarizes
  machines in the workspace.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"live\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Number
  of live machines.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"os\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/MachineCountsByOperatingSystem\";s:11:\"description\";s:35:\"Machine
  counts by operating system.\";}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Total
  number of machines.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:5:\"total\";i:1;s:4:\"live\";i:2;s:2:\"os\";}s:4:\"type\";s:6:\"object\";}s:3:\"Map\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"A
  map of resources and relationships between them.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"edges\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/MapEdges\";}s:5:\"nodes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/MapNodes\";}}s:8:\"required\";a:2:{i:0;s:5:\"nodes\";i:1;s:5:\"edges\";}s:4:\"type\";s:6:\"object\";}s:8:\"MapEdges\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  edges (relationships) of a map.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"acceptors\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Processes
  accepting on a port.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Acceptor\";}s:4:\"type\";s:5:\"array\";}s:11:\"connections\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Network
  connections.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Connection\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"MapNodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  nodes (entities) of a map.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"ClientGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Client
  Group resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ClientGroup\";}s:4:\"type\";s:5:\"array\";}s:5:\"Ports\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Port
  resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Port\";}s:4:\"type\";s:5:\"array\";}s:8:\"machines\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Machine
  resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Machine\";}s:4:\"type\";s:5:\"array\";}s:9:\"processes\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Process
  resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Process\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MapRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:52:\"Specifies
  the contents of request to generate a map.\";s:13:\"discriminator\";s:4:\"kind\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Map
  interval end time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  type of map to create.\";s:4:\"enum\";a:2:{i:0;s:29:\"map:single-machine-dependency\";i:1;s:28:\"map:machine-group-dependency\";}s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Map
  interval start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"kind\";}s:4:\"type\";s:6:\"object\";}s:11:\"MapResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Specified
  the contents of a map response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Map
  interval end time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"map\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Map\";s:11:\"description\";s:18:\"The
  generated map.\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Map
  interval start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:9:\"startTime\";i:1;s:7:\"endTime\";i:2;s:3:\"map\";}s:4:\"type\";s:6:\"object\";}s:15:\"MonitoringState\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"Used
  to specify if a resources is monitored or discovered.\";s:4:\"enum\";a:2:{i:0;s:9:\"monitored\";i:1;s:10:\"discovered\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:15:\"MonitoringState\";}}s:20:\"NetworkConfiguration\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Describes
  the network configuration of a machine.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"defaultIpv4Gateways\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Default
  IPv4 gateways.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"IPv4
  address.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"dnsNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"DNS
  names associated with the machine.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"DNS
  name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"ipv4Interfaces\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"IPv4
  interfaces.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Ipv4NetworkInterface\";}s:4:\"type\";s:5:\"array\";}s:14:\"ipv6Interfaces\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"IPv6
  interfaces.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Ipv6NetworkInterface\";}s:4:\"type\";s:5:\"array\";}s:12:\"macAddresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"MAC
  addresses of all active network interfaces.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"MAC
  address.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:28:\"OperatingSystemConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Describes
  the configuration of the operating system of a machine.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"bitness\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Bitness\";s:11:\"description\";s:44:\"Operating
  system bitness (32-bit or 64-bit).\";}s:6:\"family\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/OperatingSystemFamily\";s:11:\"description\";s:20:\"Windows,
  Linux, etc.\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Operating
  system full name.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:6:\"family\";i:1;s:8:\"fullName\";i:2;s:7:\"bitness\";}}s:21:\"OperatingSystemFamily\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Specifies
  the operating system family, e.g., Linux, Windows, etc.\";s:4:\"enum\";a:5:{i:0;s:7:\"unknown\";i:1;s:7:\"windows\";i:2;s:5:\"linux\";i:3;s:7:\"solaris\";i:4;s:3:\"aix\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:21:\"OperatingSystemFamily\";}}s:4:\"Port\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CoreResource\";}}s:11:\"description\";s:361:\"A
  port resource represents a server port on a machine. The port may be actively *monitored*,
  i.e., a Dependency Agent is running on its machine, or *discovered*, i.e., its existence
  was inferred by observing the data stream from monitored machines. A port is live
  during an interval of time, if that port had associated activity during (parts)
  of that interval.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Resource
  properties.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Name
  to use for display purposes.\";s:4:\"type\";s:6:\"string\";}s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"IP
  address associated with the port. At present only IPv4 addresses are supported.\";s:4:\"type\";s:6:\"string\";}s:7:\"machine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";s:11:\"description\";s:26:\"Machine
  hosting this port.\";}s:15:\"monitoringState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MonitoringState\";s:11:\"description\";s:63:\"Specifies
  whether the port is actively monitored or discovered.\";}s:10:\"portNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Port
  number.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}s:24:\"x-ms-discriminator-value\";s:4:\"port\";}s:14:\"PortCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Collection
  of Port resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  URL to the next set of resources.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Collection
  of Port resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Port\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"PortReference\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";}}s:11:\"description\";s:20:\"Reference
  to a port.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Resource
  properties.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ipAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"IP
  address of the port.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"machine\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/MachineReference\";s:11:\"description\";s:25:\"Machine
  hosting the port.\";s:8:\"readOnly\";b:1;}s:10:\"portNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Port
  number.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}s:24:\"x-ms-discriminator-value\";s:8:\"ref:port\";}s:7:\"Process\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CoreResource\";}}s:11:\"description\";s:596:\"A
  process resource represents a process running on a machine. The process may be actively
  *monitored*, i.e., a Dependency Agent is running on its machine, or *discovered*,
  i.e., its existence was inferred by observing the data stream from monitored machines.
  A process resource represents a pool of actual operating system resources that share
  command lines and metadata. As the process pool evolves over time, prior versions
  of the process resource are preserved and available for access. A process is live
  during an interval of time, if that process is executing during (parts) of that
  interval\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Resource
  properties.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"acceptorOf\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";s:11:\"description\";s:123:\"Present
  only for a discovered process acting as a server. References the port on which the
  discovered process is accepting.\";}s:8:\"clientOf\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";s:11:\"description\";s:173:\"Present
  only for a discovered process acting as a client of a monitored process/machine/port.
  References the monitored process/machine/port that this process is a client of.\";}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ProcessDetails\";s:11:\"description\";s:52:\"Process
  metadata (command line, product name, etc.).\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Name
  to use for display purposes\";s:4:\"type\";s:6:\"string\";}s:14:\"executableName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  name of the process executable\";s:4:\"type\";s:6:\"string\";}s:7:\"machine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";s:11:\"description\";s:29:\"Machine
  hosting this process.\";}s:15:\"monitoringState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MonitoringState\";s:11:\"description\";s:66:\"Specifies
  whether the process is actively monitored or discovered.\";}s:4:\"role\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"The
  inferred role of this process based on its name, command line, etc.\";s:4:\"enum\";a:5:{i:0;s:9:\"webServer\";i:1;s:9:\"appServer\";i:2;s:14:\"databaseServer\";i:3;s:10:\"ldapServer\";i:4;s:9:\"smbServer\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:11:\"ProcessRole\";}}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"UTC
  date and time when the process started\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"UTC
  date and time when this process resource was updated in the system\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProcessUser\";s:11:\"description\";s:67:\"Information
  about the account under which the process is executing.\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}s:24:\"x-ms-discriminator-value\";s:7:\"process\";}s:17:\"ProcessCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Collection
  of Process resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  URL to the next set of resources.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Collection
  of Process resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Process\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ProcessDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Describes
  process metadata.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"commandLine\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Process
  command line.\";s:4:\"type\";s:6:\"string\";}s:11:\"companyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Name
  of company that created the process executable.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Process
  description.\";s:4:\"type\";s:6:\"string\";}s:14:\"executablePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Process
  executable path.\";s:4:\"type\";s:6:\"string\";}s:11:\"fileVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"File
  version.\";s:4:\"type\";s:6:\"string\";}s:8:\"firstPid\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  Operating System Process Idendifier (PID) of the first process in this process pool.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"internalName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Internal
  process name.\";s:4:\"type\";s:6:\"string\";}s:13:\"persistentKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"A
  unique indentifier for a process, generally resilient to process restart, computed
  by Service Map.\";s:4:\"type\";s:6:\"string\";}s:6:\"poolId\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Represents
  the identity of the process pool assigned to the process by Dependency Agent. \";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"productName\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Product
  name.\";s:4:\"type\";s:6:\"string\";}s:14:\"productVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Product
  version.\";s:4:\"type\";s:6:\"string\";}s:16:\"workingDirectory\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Process
  workingDirectory.\";s:4:\"type\";s:6:\"string\";}}}s:16:\"ProcessReference\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";}}s:11:\"description\";s:23:\"Reference
  to a process.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Resource
  properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"machine\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/MachineReference\";s:11:\"description\";s:28:\"Machine
  hosting the process.\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}s:24:\"x-ms-discriminator-value\";s:11:\"ref:process\";}s:11:\"ProcessUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Describes
  the user under which a process is running.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"userDomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Domain
  name for the user.\";s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"User
  name under which the process is running.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"Relationship\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:42:\"A
  typed relationship between two entities.\";s:13:\"discriminator\";s:4:\"kind\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Additional
  resource type qualifier.\";s:4:\"enum\";a:2:{i:0;s:14:\"rel:connection\";i:1;s:12:\"rel:acceptor\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"kind\";}}s:22:\"RelationshipProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Relationship
  properties.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";s:11:\"description\";s:41:\"Destination
  resource of the relationship.\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Relationship
  end time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";s:11:\"description\";s:36:\"Source
  resource of the relationship.\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Relationship
  start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:6:\"source\";i:1;s:11:\"destination\";}}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Resource
  model definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Resource
  identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:17:\"ResourceReference\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Represents
  a reference to another resource.\";s:13:\"discriminator\";s:4:\"kind\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Resource
  URI.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Specifies
  the sub-class of the reference.\";s:4:\"enum\";a:5:{i:0;s:11:\"ref:machine\";i:1;s:20:\"ref:machinewithhints\";i:2;s:11:\"ref:process\";i:3;s:8:\"ref:port\";i:4;s:13:\"ref:onmachine\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Resource
  type qualifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"kind\";}}s:33:\"SingleMachineDependencyMapRequest\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MapRequest\";}}s:11:\"description\";s:144:\"Specifies
  the computation of a single server dependency map. A single server dependency map
  includes all direct dependencies of a given machine.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"machineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"URI
  of machine resource for which to generate the map.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:9:\"machineId\";}s:24:\"x-ms-discriminator-value\";s:29:\"map:single-machine-dependency\";}s:7:\"Summary\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:32:\"Base
  for all resource summaries.\";}s:17:\"SummaryProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Base
  for all summaries.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Summary
  interval end time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Summary
  interval start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"startTime\";i:1;s:7:\"endTime\";}s:4:\"type\";s:6:\"object\";}s:8:\"Timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Describes
  a timezone.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"fullName\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Timezone
  full name.\";s:4:\"type\";s:6:\"string\";}}}s:27:\"VirtualMachineConfiguration\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Describes
  the virtualizaton-related configuration of a machine.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"nativeHostMachineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  unique identifier of the host of this virtual machine as reported by the underlying
  virtualization system.\";s:4:\"type\";s:6:\"string\";}s:15:\"nativeMachineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  unique identifier of the virtual machine as reported by the underlying virtualization
  sytem.\";s:4:\"type\";s:6:\"string\";}s:18:\"virtualMachineName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  Name of the virtual machine.\";s:4:\"type\";s:6:\"string\";}s:18:\"virtualMachineType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/VirtualMachineType\";s:11:\"description\";s:82:\"Specifies
  the virtualization technology used by the machine (hyperv, vmware, etc.)\";}}}s:18:\"VirtualMachineType\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Specifies
  the virtualization type of a machine.\";s:4:\"enum\";a:7:{i:0;s:7:\"unknown\";i:1;s:6:\"hyperv\";i:2;s:4:\"ldom\";i:3;s:4:\"lpar\";i:4;s:6:\"vmware\";i:5;s:9:\"virtualPc\";i:6;s:3:\"xen\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"VirtualMachineType\";}}s:19:\"VirtualizationState\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"Specifies
  if the machine is physical, virtual, hypervisor, or unknown.\";s:4:\"enum\";a:4:{i:0;s:7:\"unknown\";i:1;s:8:\"physical\";i:2;s:7:\"virtual\";i:3;s:10:\"hypervisor\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"VirtualizationState\";}}}"
...
