---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2016-06-01\";s:5:\"title\";s:22:\"RecoveryServicesClient\";s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:20:\"internalConstructors\";b:0;}}"
host: management.azure.com
paths:
  /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/operations:
    get:
      tags:
      - Operations
      description: Returns the list of available operations.
      operationId: Operations_List
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      responses:
        200:
          description: OK
          schema:
            $ref: ./vaults.json#/definitions/ClientDiscoveryResponse
      deprecated: false
      x-ms-pageable:
        nextLinkName: NextLink
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/certificates/{certificateName}
  : put:
      tags:
      - VaultCertificates
      description: Upload a certificate for a resource.
      operationId: VaultCertificates_Create
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      - name: certificateName
        in: path
        description: Certificate friendly name.
        required: true
        type: string
      - name: certificateRequest
        in: body
        description: Input parameters for uploading the vault certificate.
        required: true
        schema:
          $ref: '#/definitions/CertificateRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/VaultCertificateResponse'
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/registeredIdentities/{identityName}
  : delete:
      tags:
      - RegisteredIdentities
      description: Unregisters the given container from your Recovery Services vault.
      operationId: RegisteredIdentities_Delete
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/VaultName'
      - name: identityName
        in: path
        description: Name of the protection container to unregister.
        required: true
        type: string
      responses:
        204:
          description: NoContent
      deprecated: false
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:18:\"CertificateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Details
  of the certificate to be uploaded to the vault.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RawCertificateData\";}}}s:18:\"RawCertificateData\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Raw
  certificate data.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"authType\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Specifies
  the authentication type.\";s:4:\"enum\";a:5:{i:0;s:7:\"Invalid\";i:1;s:3:\"ACS\";i:2;s:3:\"AAD\";i:3;s:20:\"AccessControlService\";i:4;s:20:\"AzureActiveDirectory\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"AuthType\";s:13:\"modelAsString\";b:1;}}s:11:\"certificate\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"byte\";s:11:\"description\";s:46:\"The
  base64 encoded certificate raw data string\";s:4:\"type\";s:6:\"string\";}}}s:32:\"ResourceCertificateAndAadDetails\";O:8:\"stdClass\":6:{s:11:\"description\";s:63:\"Certificate
  details representing the Vault credentials for AAD.\";s:8:\"required\";a:13:{i:0;s:11:\"certificate\";i:1;s:10:\"resourceId\";i:2;s:12:\"aadAuthority\";i:3;s:11:\"aadTenantId\";i:4;s:24:\"servicePrincipalClientId\";i:5;s:24:\"servicePrincipalObjectId\";i:6;s:31:\"azureManagementEndpointAudience\";i:7;s:7:\"subject\";i:8;s:9:\"validFrom\";i:9;s:7:\"validTo\";i:10;s:10:\"thumbprint\";i:11;s:12:\"friendlyName\";i:12;s:6:\"issuer\";}s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ResourceCertificateDetails\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"aadAuthority\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"AAD
  tenant authority.\";s:4:\"type\";s:6:\"string\";}s:11:\"aadTenantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"AAD
  tenant Id.\";s:4:\"type\";s:6:\"string\";}s:24:\"servicePrincipalClientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"AAD
  service principal clientId.\";s:4:\"type\";s:6:\"string\";}s:24:\"servicePrincipalObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"AAD
  service principal ObjectId.\";s:4:\"type\";s:6:\"string\";}s:31:\"azureManagementEndpointAudience\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Azure
  Management Endpoint Audience.\";s:4:\"type\";s:6:\"string\";}}s:24:\"x-ms-discriminator-value\";s:20:\"AzureActiveDirectory\";}s:32:\"ResourceCertificateAndAcsDetails\";O:8:\"stdClass\":6:{s:11:\"description\";s:63:\"Certificate
  details representing the Vault credentials for ACS.\";s:8:\"required\";a:11:{i:0;s:11:\"certificate\";i:1;s:10:\"resourceId\";i:2;s:18:\"globalAcsNamespace\";i:3;s:17:\"globalAcsHostName\";i:4;s:16:\"globalAcsRPRealm\";i:5;s:7:\"subject\";i:6;s:9:\"validFrom\";i:7;s:7:\"validTo\";i:8;s:10:\"thumbprint\";i:9;s:12:\"friendlyName\";i:10;s:6:\"issuer\";}s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ResourceCertificateDetails\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"globalAcsNamespace\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"ACS
  namespace name - tenant for our service.\";s:4:\"type\";s:6:\"string\";}s:17:\"globalAcsHostName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Acs
  mgmt host name to connect to.\";s:4:\"type\";s:6:\"string\";}s:16:\"globalAcsRPRealm\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Global
  ACS namespace RP realm.\";s:4:\"type\";s:6:\"string\";}}s:24:\"x-ms-discriminator-value\";s:20:\"AccessControlService\";}s:26:\"ResourceCertificateDetails\";O:8:\"stdClass\":5:{s:11:\"description\";s:55:\"Certificate
  details representing the Vault credentials.\";s:8:\"required\";a:1:{i:0;s:8:\"authType\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"authType\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"This
  property will be used as the discriminator for deciding the specific types in the
  polymorhpic chain of types.\";s:4:\"type\";s:6:\"string\";}s:11:\"certificate\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"byte\";s:11:\"description\";s:47:\"The
  base64 encoded certificate raw data string.\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Certificate
  friendlyname.\";s:4:\"type\";s:6:\"string\";}s:6:\"issuer\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Certificate
  issuer.\";s:4:\"type\";s:6:\"string\";}s:10:\"resourceId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:25:\"Resource
  ID of the vault.\";s:4:\"type\";s:7:\"integer\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Certificate
  Subject Name.\";s:4:\"type\";s:6:\"string\";}s:10:\"thumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Certificate
  thumbprint.\";s:4:\"type\";s:6:\"string\";}s:9:\"validFrom\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:37:\"Certificate
  Validity start Date time.\";s:4:\"type\";s:6:\"string\";}s:7:\"validTo\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:35:\"Certificate
  Validity End Date time.\";s:4:\"type\";s:6:\"string\";}}s:13:\"discriminator\";s:8:\"authType\";}s:24:\"VaultCertificateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Certificate
  corresponding to a vault that can be used by clients to register themselves with
  the vault.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ResourceCertificateDetails\";}}}}"
...
