---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2014-01-01\";s:5:\"title\";s:21:\"ADHybridHealthService\";s:11:\"description\";s:51:\"REST
  APIs for Azure Active Directory Connect Health\";}"
host: management.azure.com
paths:
  /providers/Microsoft.ADHybridHealthService/addsservices:
    get:
      tags:
      - Adds
      description: Gets the details of Active Directory Domain Service, for a tenant,
        that are onboarded to Azure Active Directory Connect Health.
      operationId: addsServices_list
      x-ms-examples:
        addsServices_list:
          $ref: ./examples/Services.json
      parameters:
      - name: $filter
        in: query
        description: The service property filter to apply.
        required: false
        type: string
      - name: serviceType
        in: query
        description: The service type for the services onboarded to Azure Active Directory
          Connect Health. Depending on whether the service is monitoring, ADFS, Sync
          or ADDS roles, the service type can either be AdFederationService or AadSyncService
          or AdDomainService.
        required: false
        type: string
      - name: skipCount
        in: query
        description: The skip count, which specifies the number of elements that can
          be bypassed from a sequence and then return the remaining elements.
        required: false
        type: integer
      - name: takeCount
        in: query
        description: The take count , which specifies the number of elements that
          can be returned from a sequence.
        required: false
        type: integer
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: ' The list of Active Directory Domain Controller services.'
          schema:
            $ref: '#/definitions/Services'
      x-ms-pageable:
        nextLinkName: nextLink
    post:
      tags:
      - Adds
      description: Onboards a service for a given tenant in Azure Active Directory
        Connect Health.
      operationId: addsServices_add
      x-ms-examples:
        addsServices_add:
          $ref: ./examples/AddService.json
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - name: service
        in: body
        description: The service object.
        required: true
        schema:
          $ref: '#/definitions/ServiceProperties'
      responses:
        200:
          description: Adds the Active Directory Domain Controller Services.
          schema:
            $ref: '#/definitions/ServiceProperties'
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}:
    get:
      tags:
      - Services
      description: Gets the details of an Active Directory Domain Service for a tenant
        having Azure AD Premium license and is onboarded to Azure Active Directory
        Connect Health.
      x-ms-examples:
        addsServices_get:
          $ref: ./examples/Service.json
      operationId: addsServices_get
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: 'The Active Directory Domain Controller service as specified
            by the serviceName property. '
          schema:
            $ref: '#/definitions/ServiceProperties'
    delete:
      tags:
      - Services
      description: Deletes an Active Directory Domain Service which is onboarded to
        Azure Active Directory Connect Health.
      x-ms-examples:
        addsServices_delete:
          $ref: ./examples/DeleteService.json
      operationId: addsServices_delete
      parameters:
      - name: serviceName
        in: path
        description: The name of the service which needs to be deleted.
        required: true
        type: string
      - name: confirm
        in: query
        description: Indicates if the service will be permanently deleted or disabled.
          True indicates that the service will be permanently deleted and False indicates
          that the service will be marked disabled and then deleted after 30 days,
          if it is not re-registered.
        required: false
        type: boolean
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        204:
          description: Successfully deleted the service.
    patch:
      tags:
      - Services
      description: Updates an Active Directory Domain Service properties of an onboarded
        service.
      x-ms-examples:
        addsServices_update:
          $ref: ./examples/UpdateService.json
      operationId: addsServices_update
      parameters:
      - name: serviceName
        in: path
        description: The name of the service which needs to be deleted.
        required: true
        type: string
      - name: service
        in: body
        description: The service object.
        required: true
        schema:
          $ref: '#/definitions/ServiceProperties'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Sucessfully updated service.
          schema:
            $ref: '#/definitions/ServiceProperties'
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/alerts:
    get:
      tags:
      - Adds
      description: Gets the alerts for a given Active Directory Domain Service.
      x-ms-examples:
        alerts_listAddsAlerts:
          $ref: ./examples/Alerts.json
      operationId: alerts_listAddsAlerts
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: $filter
        in: query
        description: The alert property filter to apply.
        required: false
        type: string
      - name: state
        in: query
        description: The alert state to query for.
        required: false
        type: string
      - name: from
        in: query
        description: The start date to query for.
        required: false
        type: string
        format: date-time
      - name: to
        in: query
        description: The end date till when to query for.
        required: false
        type: string
        format: date-time
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of alerts for the given service.
          schema:
            $ref: '#/definitions/Alerts'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/configuration:
    get:
      tags:
      - Adds
      description: Gets the service configurations.
      x-ms-examples:
        configuration_listAddsConfigurations:
          $ref: ./examples/AddsConfiguration.json
      operationId: configuration_listAddsConfigurations
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: grouping
        in: query
        description: The grouping for configurations.
        required: false
        type: string
      responses:
        200:
          description: 'The Active Directory Domain Controller service configuration. '
          schema:
            $ref: '#/definitions/AddsConfiguration'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/dimensions/{dimension}:
    get:
      tags:
      - Adds
      description: Gets the dimensions for a given dimension type in a server.
      x-ms-examples:
        dimensions_listAddsDimensions:
          $ref: ./examples/Dimensions.json
      operationId: dimensions_listAddsDimensions
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: dimension
        in: path
        description: The dimension type.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: 'The list of dimensions for a server. '
          schema:
            $ref: '#/definitions/Dimensions'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/addsservicemembers:
    get:
      tags:
      - Adds
      description: Gets the details of the Active Directory Domain servers, for a
        given Active Directory Domain Service, that are onboarded to Azure Active
        Directory Connect Health.
      x-ms-examples:
        addsServiceMembers_list:
          $ref: ./examples/AddsServiceMembers.json
      operationId: addsServiceMembers_list
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: $filter
        in: query
        description: The server property filter to apply.
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: 'The list of Active Directory Domain Servers. '
          schema:
            $ref: '#/definitions/AddsServiceMembers'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/addomainservicemembers:
    get:
      tags:
      - Adds
      description: Gets the details of the servers, for a given Active Directory Domain
        Service, that are onboarded to Azure Active Directory Connect Health.
      x-ms-examples:
        adDomainServiceMembers_list:
          $ref: ./examples/AddomainServiceMembers.json
      operationId: adDomainServiceMembers_list
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: $filter
        in: query
        description: The server property filter to apply.
        required: false
        type: string
      - name: isGroupbySite
        in: query
        description: Indicates if the result should be grouped by site or not.
        required: true
        type: boolean
      - name: query
        in: query
        description: The custom query.
        required: false
        type: string
      - name: nextPartitionKey
        in: query
        description: The next partition key to query for.
        required: true
        type: string
        enum:
        - ' '
        x-ms-enum:
          name: nextPartitionKey
          modelAsString: true
      - name: nextRowKey
        in: query
        description: The next row key to query for.
        required: true
        type: string
        enum:
        - ' '
        x-ms-enum:
          name: nextRowKey
          modelAsString: true
      - name: takeCount
        in: query
        description: The take count , which specifies the number of elements that
          can be returned from a sequence.
        required: false
        type: integer
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of Active Directory Domain Servers.
          schema:
            $ref: '#/definitions/AddsServiceMembers'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/features/{featureName}/userpreference:
    get:
      tags:
      - Adds
      description: Gets the user preferences for a given feature.
      x-ms-examples:
        addsServicesUserPreference_get:
          $ref: ./examples/UserPreference.json
      operationId: addsServicesUserPreference_get
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: featureName
        in: path
        description: The name of the feature.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: 'The user preference settings. '
          schema:
            $ref: '#/definitions/UserPreference'
    delete:
      tags:
      - Adds
      description: Deletes the user preferences for a given feature.
      x-ms-examples:
        addsServicesUserPreference_delete:
          $ref: ./examples/DeleteUserPreference.json
      operationId: addsServicesUserPreference_delete
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: featureName
        in: path
        description: The name of the feature.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: 'Successfully deleted the user preference settings. '
    post:
      tags:
      - Adds
      description: Adds the user preferences for a given feature.
      x-ms-examples:
        addsServicesUserPreference_add:
          $ref: ./examples/AddUserPreference.json
      operationId: addsServicesUserPreference_add
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: featureName
        in: path
        description: The name of the feature.
        required: true
        type: string
      - name: setting
        in: body
        description: The user preference setting.
        required: true
        schema:
          $ref: '#/definitions/UserPreference'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: ' Successfully added the user preference settings. '
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/forestsummary:
    get:
      tags:
      - Adds
      description: Gets the forest summary for a given Active Directory Domain Service,
        that is onboarded to Azure Active Directory Connect Health.
      x-ms-examples:
        addsServices_getForestSummary:
          $ref: ./examples/ForestSummary.json
      operationId: addsServices_getForestSummary
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: 'The list of forest summary for the service. '
          schema:
            $ref: '#/definitions/ForestSummary'
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metrics/{metricName}/groups/{groupName}:
    get:
      tags:
      - Adds
      description: Gets the server related metrics for a given metric and group combination.
      x-ms-examples:
        addsService_getMetrics:
          $ref: ./examples/Service_MetricSets.json
      operationId: addsService_getMetrics
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: metricName
        in: path
        description: The metric name
        required: true
        type: string
      - name: groupName
        in: path
        description: The group name
        required: true
        type: string
      - name: groupKey
        in: query
        description: The group key
        required: false
        type: string
      - name: fromDate
        in: query
        description: The start date.
        required: false
        type: string
        format: date-time
      - name: toDate
        in: query
        description: The end date.
        required: false
        type: string
        format: date-time
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: 'The metric sets for the service. '
          schema:
            $ref: '#/definitions/MetricSets'
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metrics/{metricName}/groups/{groupName}/average:
    get:
      tags:
      - Adds
      description: Gets the average of the metric values for a given metric and group
        combination.
      x-ms-examples:
        addsServices_listMetricsAverage:
          $ref: ./examples/Metrics.json
      operationId: addsServices_listMetricsAverage
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: metricName
        in: path
        description: The metric name
        required: true
        type: string
      - name: groupName
        in: path
        description: The group name
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: 'The list of metrics. '
          schema:
            $ref: '#/definitions/Metrics'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metrics/{metricName}/groups/{groupName}/sum:
    get:
      tags:
      - Adds
      description: Gets the sum of the metric values for a given metric and group
        combination.
      x-ms-examples:
        addsServices_listMetricsSum:
          $ref: ./examples/Metrics.json
      operationId: addsServices_listMetricsSum
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: metricName
        in: path
        description: The metric name
        required: true
        type: string
      - name: groupName
        in: path
        description: The group name
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: 'The list of aum of the metric values for a given service. '
          schema:
            $ref: '#/definitions/Metrics'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metricmetadata:
    get:
      tags:
      - Adds
      description: Gets the service related metrics information.
      x-ms-examples:
        addsServices_listMetricMetadata:
          $ref: ./examples/MetricMetadataList.json
      operationId: addsServices_listMetricMetadata
      parameters:
      - name: $filter
        in: query
        description: The metric metadata property filter to apply.
        required: false
        type: string
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: perfCounter
        in: query
        description: Indicates if only performance counter metrics are requested.
        required: false
        type: boolean
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: 'The list of metric metadata for a service. '
          schema:
            $ref: '#/definitions/MetricMetadataList'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metricmetadata/{metricName}:
    get:
      tags:
      - Adds
      description: Gets the service related metric information.
      x-ms-examples:
        addsServices_getMetricMetadata:
          $ref: ./examples/MetricMetadata.json
      operationId: addsServices_getMetricMetadata
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: metricName
        in: path
        description: The metric name
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: ' The metric metadata for the service.'
          schema:
            $ref: '#/definitions/MetricMetadata'
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metricmetadata/{metricName}/groups/{groupName}:
    get:
      tags:
      - Adds
      description: Gets the service related metrics for a given metric and group combination.
      x-ms-examples:
        addsServices_getMetricMetadataForGroup:
          $ref: ./examples/MetricSets.json
      operationId: addsServices_getMetricMetadataForGroup
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: metricName
        in: path
        description: The metric name
        required: true
        type: string
      - name: groupName
        in: path
        description: The group name
        required: true
        type: string
      - name: groupKey
        in: query
        description: The group key
        required: false
        type: string
      - name: fromDate
        in: query
        description: The start date.
        required: false
        type: string
        format: date-time
      - name: toDate
        in: query
        description: The end date.
        required: false
        type: string
        format: date-time
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: 'The metric sets for a given service and group. '
          schema:
            $ref: '#/definitions/MetricSets'
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/replicationdetails:
    get:
      tags:
      - Adds
      description: Gets complete domain controller list along with replication details
        for a given Active Directory Domain Service, that is onboarded to Azure Active
        Directory Connect Health.
      x-ms-examples:
        addsServices_listReplicationDetails:
          $ref: ./examples/ReplicationDetails.json
      operationId: addsServices_listReplicationDetails
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: $filter
        in: query
        description: The server property filter to apply.
        required: false
        type: string
      - name: withDetails
        in: query
        description: Indicates if InboundReplicationNeighbor details are required
          or not.
        required: false
        type: boolean
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: 'The list of replication details for a service. '
          schema:
            $ref: '#/definitions/ReplicationDetailsList'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/replicationstatus:
    get:
      tags:
      - Adds
      description: Gets Replication status for a given Active Directory Domain Service,
        that is onboarded to Azure Active Directory Connect Health.
      x-ms-examples:
        addsServicesReplicationStatus_get:
          $ref: ./examples/ReplicationStatus.json
      operationId: addsServicesReplicationStatus_get
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: 'The replication status for a service. '
          schema:
            $ref: '#/definitions/ReplicationStatus'
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/replicationsummary:
    get:
      tags:
      - Adds
      description: Gets complete domain controller list along with replication details
        for a given Active Directory Domain Service, that is onboarded to Azure Active
        Directory Connect Health.
      x-ms-examples:
        addsServices_listReplicationSummary:
          $ref: ./examples/ReplicationSummary.json
      operationId: addsServices_listReplicationSummary
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: $filter
        in: query
        description: The server property filter to apply.
        required: false
        type: string
      - name: isGroupbySite
        in: query
        description: Indicates if the result should be grouped by site or not.
        required: true
        type: boolean
      - name: query
        in: query
        description: The custom query.
        required: true
        type: string
      - name: nextPartitionKey
        in: query
        description: The next partition key to query for.
        required: true
        type: string
        enum:
        - ' '
        x-ms-enum:
          name: nextPartitionKey
          modelAsString: true
      - name: nextRowKey
        in: query
        description: The next row key to query for.
        required: true
        type: string
        enum:
        - ' '
        x-ms-enum:
          name: nextRowKey
          modelAsString: true
      - name: takeCount
        in: query
        description: The take count , which specifies the number of elements that
          can be returned from a sequence.
        required: false
        type: integer
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: 'The list of replication summary for a service. '
          schema:
            $ref: '#/definitions/ReplicationSummaryList'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/servicemembers:
    get:
      tags:
      - Adds
      description: Gets the details of the servers, for a given Active Directory Domain
        Controller service, that are onboarded to Azure Active Directory Connect Health
        Service.
      x-ms-examples:
        addsServicesServiceMembers_list:
          $ref: ./examples/ServiceMembers.json
      operationId: addsServicesServiceMembers_list
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: $filter
        in: query
        description: The server property filter to apply.
        required: false
        type: string
      - name: dimensionType
        in: query
        description: The server specific dimension.
        required: false
        type: string
      - name: dimensionSignature
        in: query
        description: The value of the dimension.
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of service members for a given service.
          schema:
            $ref: '#/definitions/ServiceMembers'
      x-ms-pageable:
        nextLinkName: nextLink
    post:
      tags:
      - Adds
      description: Onboards  a server, for a given Active Directory Domain Controller
        service, to Azure Active Directory Connect Health Service.
      x-ms-examples:
        addsServicesServiceMembers_add:
          $ref: ./examples/AddServiceMembers.json
      operationId: addsServicesServiceMembers_add
      parameters:
      - name: serviceName
        in: path
        description: The name of the service under which the server is to be onboarded.
        required: true
        type: string
      - name: serviceMember
        in: body
        description: The server object.
        required: true
        schema:
          $ref: '#/definitions/ServiceMember'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Successfully added the service member.
          schema:
            $ref: '#/definitions/ServiceMember'
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/servicemembers/{serviceMemberId}:
    get:
      tags:
      - Adds
      description: Gets the details of a server, for a given Active Directory Domain
        Controller service, that are onboarded to Azure Active Directory Connect Health
        Service.
      x-ms-examples:
        addsServiceMembers_get:
          $ref: ./examples/ServiceMember.json
      operationId: addsServiceMembers_get
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: serviceMemberId
        in: path
        description: The server Id.
        required: true
        type: string
        format: uuid
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: 'The service member details for a given service. '
          schema:
            $ref: '#/definitions/ServiceMember'
    delete:
      tags:
      - Adds
      description: Deletes a Active Directory Domain Controller server that has been
        onboarded to Azure Active Directory Connect Health Service.
      x-ms-examples:
        addsServiceMembers_delete:
          $ref: ./examples/DeleteServer.json
      operationId: addsServiceMembers_delete
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: serviceMemberId
        in: path
        description: The server Id.
        required: true
        type: string
        format: uuid
      - name: confirm
        in: query
        description: Indicates if the server will be permanently deleted or disabled.
          True indicates that the server will be permanently deleted and False indicates
          that the server will be marked disabled and then deleted after 30 days,
          if it is not re-registered.
        required: false
        type: boolean
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Successfully deleted the service member.
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/servicemembers/{serviceMemberId}/alerts:
    get:
      tags:
      - Adds
      description: Gets the details of an alert for a given Active Directory Domain
        Controller service and server combination.
      x-ms-examples:
        addsServices_listServerAlerts:
          $ref: ./examples/Server_Alerts.json
      operationId: addsServices_listServerAlerts
      parameters:
      - name: serviceMemberId
        in: path
        description: The server Id for which the alert details needs to be queried.
        required: true
        type: string
        format: uuid
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: $filter
        in: query
        description: The alert property filter to apply.
        required: false
        type: string
      - name: state
        in: query
        description: The alert state to query for.
        required: false
        type: string
      - name: from
        in: query
        description: The start date to query for.
        required: false
        type: string
        format: date-time
      - name: to
        in: query
        description: The end date till when to query for.
        required: false
        type: string
        format: date-time
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of server alerts.
          schema:
            $ref: '#/definitions/Alerts'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/servicemembers/{serviceMemberId}/credentials:
    get:
      tags:
      - Adds
      description: Gets the credentials of the server which is needed by the agent
        to connect to Azure Active Directory Connect Health Service.
      x-ms-examples:
        addsServiceMembers_listCredentials:
          $ref: ./examples/Credentials.json
      operationId: addsServiceMembers_listCredentials
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: $filter
        in: query
        description: The property filter to apply.
        required: false
        type: string
      - name: serviceMemberId
        in: path
        description: The server Id.
        required: true
        type: string
        format: uuid
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of server credentials.
          schema:
            $ref: '#/definitions/Credentials'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.ADHybridHealthService/addsservices/premiumCheck:
    get:
      tags:
      - Services
      description: Gets the details of Active Directory Domain Services for a tenant
        having Azure AD Premium license and is onboarded to Azure Active Directory
        Connect Health.
      x-ms-examples:
        addsServices_listPremiumServices:
          $ref: ./examples/Services.json
      operationId: addsServices_listPremiumServices
      parameters:
      - name: $filter
        in: query
        description: The service property filter to apply.
        required: false
        type: string
      - name: serviceType
        in: query
        description: The service type for the services onboarded to Azure Active Directory
          Connect Health. Depending on whether the service is monitoring, ADFS, Sync
          or ADDS roles, the service type can either be AdFederationService or AadSyncService
          or AdDomainService.
        required: false
        type: string
      - name: skipCount
        in: query
        description: The skip count, which specifies the number of elements that can
          be bypassed from a sequence and then return the remaining elements.
        required: false
        type: integer
      - name: takeCount
        in: query
        description: The take count , which specifies the number of elements that
          can be returned from a sequence.
        required: false
        type: integer
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of premium services.
          schema:
            $ref: '#/definitions/Services'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/operations:
    get:
      tags:
      - operations
      x-ms-examples:
        operations_list:
          $ref: ./examples/OperationList.json
      operationId: operations_list
      description: Lists the available Azure Data Factory API operations.
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of operations.
          schema:
            $ref: '#/definitions/OperationListResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/configuration:
    post:
      tags:
      - Configuration
      description: Onboards a tenant in Azure Active Directory Connect Health.
      x-ms-examples:
        configuration_add:
          $ref: ./examples/Tenant.json
      operationId: configuration_add
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Successfully added the tenant.
          schema:
            $ref: '#/definitions/Tenant'
    get:
      tags:
      - Configuration
      description: Gets the details of a tenant onboarded to Azure Active Directory
        Connect Health.
      x-ms-examples:
        configuration_get:
          $ref: ./examples/Tenant.json
      operationId: configuration_get
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The tenant details.
          schema:
            $ref: '#/definitions/Tenant'
    patch:
      tags:
      - Configuration
      description: Updates tenant properties for tenants onboarded to Azure Active
        Directory Connect Health.
      x-ms-examples:
        configuration_update:
          $ref: ./examples/PatchTenant.json
      operationId: configuration_update
      parameters:
      - name: tenant
        in: body
        required: true
        schema:
          $ref: '#/definitions/Tenant'
        description: The tenant object with the properties set to the updated value.
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Successfully updated the tenant.
          schema:
            $ref: '#/definitions/Tenant'
  /providers/Microsoft.ADHybridHealthService/reports/DevOps/IsDevOps:
    get:
      tags:
      - DevOps
      description: Checks if the user is enabled for Dev Ops access.
      x-ms-examples:
        reports_getDevOps:
          $ref: ./examples/DevOps.json
      operationId: reports_getDevOps
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Indicates if the user is Dev Ops or not.
          schema:
            $ref: '#/definitions/Result'
  /providers/Microsoft.ADHybridHealthService/services:
    get:
      tags:
      - Services
      description: Gets the details of services, for a tenant, that are onboarded
        to Azure Active Directory Connect Health.
      x-ms-examples:
        services_list:
          $ref: ./examples/Services.json
      operationId: services_list
      parameters:
      - name: $filter
        in: query
        description: The service property filter to apply.
        required: false
        type: string
      - name: serviceType
        in: query
        description: The service type for the services onboarded to Azure Active Directory
          Connect Health. Depending on whether the service is monitoring, ADFS, Sync
          or ADDS roles, the service type can either be AdFederationService or AadSyncService
          or AdDomainService.
        required: false
        type: string
      - name: skipCount
        in: query
        description: The skip count, which specifies the number of elements that can
          be bypassed from a sequence and then return the remaining elements.
        required: false
        type: integer
      - name: takeCount
        in: query
        description: The take count , which specifies the number of elements that
          can be returned from a sequence.
        required: false
        type: integer
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of services.
          schema:
            $ref: '#/definitions/Services'
      x-ms-pageable:
        nextLinkName: nextLink
    post:
      tags:
      - Services
      description: Onboards a service for a given tenant in Azure Active Directory
        Connect Health.
      x-ms-examples:
        services_add:
          $ref: ./examples/AddService.json
      operationId: services_add
      parameters:
      - $ref: '#/parameters/apiVersionParameter'
      - name: service
        in: body
        description: The service object.
        required: true
        schema:
          $ref: '#/definitions/ServiceProperties'
      responses:
        200:
          description: Successfully added the service.
          schema:
            $ref: '#/definitions/ServiceProperties'
  /providers/Microsoft.ADHybridHealthService/services/premiumCheck:
    get:
      tags:
      - Services
      description: Gets the details of services for a tenant having Azure AD Premium
        license and is onboarded to Azure Active Directory Connect Health.
      x-ms-examples:
        services_listPremium:
          $ref: ./examples/Services.json
      operationId: services_listPremium
      parameters:
      - name: $filter
        in: query
        description: The service property filter to apply.
        required: false
        type: string
      - name: serviceType
        in: query
        description: The service type for the services onboarded to Azure Active Directory
          Connect Health. Depending on whether the service is monitoring, ADFS, Sync
          or ADDS roles, the service type can either be AdFederationService or AadSyncService
          or AdDomainService.
        required: false
        type: string
      - name: skipCount
        in: query
        description: The skip count, which specifies the number of elements that can
          be bypassed from a sequence and then return the remaining elements.
        required: false
        type: integer
      - name: takeCount
        in: query
        description: The take count , which specifies the number of elements that
          can be returned from a sequence.
        required: false
        type: integer
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of premium services.
          schema:
            $ref: '#/definitions/Services'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}:
    get:
      tags:
      - Services
      description: Gets the details of a service for a tenant having Azure AD Premium
        license and is onboarded to Azure Active Directory Connect Health.
      x-ms-examples:
        services_get:
          $ref: ./examples/Service.json
      operationId: services_get
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of services.
          schema:
            $ref: '#/definitions/ServiceProperties'
    delete:
      tags:
      - Services
      description: Deletes a service which is onboarded to Azure Active Directory
        Connect Health.
      x-ms-examples:
        services_delete:
          $ref: ./examples/DeleteService.json
      operationId: services_delete
      parameters:
      - name: serviceName
        in: path
        description: The name of the service which needs to be deleted.
        required: true
        type: string
      - name: confirm
        in: query
        description: Indicates if the service will be permanently deleted or disabled.
          True indicates that the service will be permanently deleted and False indicates
          that the service will be marked disabled and then deleted after 30 days,
          if it is not re-registered.
        required: false
        type: boolean
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        204:
          description: Successfully deleted the service.
    patch:
      tags:
      - Services
      description: Updates the service properties of an onboarded service.
      x-ms-examples:
        services_update:
          $ref: ./examples/UpdateService.json
      operationId: services_update
      parameters:
      - name: serviceName
        in: path
        description: The name of the service which needs to be deleted.
        required: true
        type: string
      - name: service
        in: body
        description: The service object.
        required: true
        schema:
          $ref: '#/definitions/ServiceProperties'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Successfully updated the service.
          schema:
            $ref: '#/definitions/ServiceProperties'
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/alerts:
    get:
      tags:
      - Alerts
      description: Gets the alerts for a given service.
      x-ms-examples:
        services_listAlerts:
          $ref: ./examples/Alerts.json
      operationId: services_listAlerts
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: $filter
        in: query
        description: The alert property filter to apply.
        required: false
        type: string
      - name: state
        in: query
        description: The alert state to query for.
        required: false
        type: string
      - name: from
        in: query
        description: The start date to query for.
        required: false
        type: string
        format: date-time
      - name: to
        in: query
        description: The end date till when to query for.
        required: false
        type: string
        format: date-time
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of alerts.
          schema:
            $ref: '#/definitions/Alerts'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/checkServiceFeatureAvailibility/{featureName}:
    get:
      tags:
      - Services
      description: Checks if the service has all the pre-requisites met to use a feature.
      x-ms-examples:
        services_getFeatureAvailibility:
          $ref: ./examples/CheckFeatureAvailibility.json
      operationId: services_getFeatureAvailibility
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: featureName
        in: path
        description: The name of the feature.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Indicates if the feature is available or not.
          schema:
            $ref: '#/definitions/Result'
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/exporterrors/counts:
    get:
      tags:
      - Services
      description: Gets the count of latest AAD export errors.
      x-ms-examples:
        services_listExportErrors:
          $ref: ./examples/ErrorCounts.json
      operationId: services_listExportErrors
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of export errors.
          schema:
            $ref: '#/definitions/ErrorCounts'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/exporterrors/listV2:
    get:
      tags:
      - Services
      description: ' Gets the categorized export errors.'
      x-ms-examples:
        services_listExportErrorsV2:
          $ref: ./examples/MergedExportErrors.json
      operationId: services_listExportErrorsV2
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: errorBucket
        in: query
        description: The error category to query for.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of merged export errors.
          schema:
            $ref: '#/definitions/MergedExportErrors'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/exportstatus:
    get:
      tags:
      - Services
      description: Gets the export status.
      x-ms-examples:
        services_listExportStatus:
          $ref: ./examples/ExportStatus.json
      operationId: services_listExportStatus
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of export statuses.
          schema:
            $ref: '#/definitions/ExportStatuses'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/feedbacktype/alerts/feedback:
    post:
      tags:
      - Feedback
      description: Adds an alert feedback submitted by customer.
      x-ms-examples:
        services_addAlertFeedback:
          $ref: ./examples/AddAlertFeedback.json
      operationId: services_addAlertFeedback
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: alertFeedback
        in: body
        description: The alert feedback.
        required: true
        schema:
          $ref: '#/definitions/AlertFeedback'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Successfully added alert feedback.
          schema:
            $ref: '#/definitions/AlertFeedback'
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/feedbacktype/alerts/{shortName}/alertfeedback:
    get:
      tags:
      - Feedback
      description: Gets a list of all alert feedback for a given tenant and alert
        type.
      x-ms-examples:
        services_listAlertFeedback:
          $ref: ./examples/GetAlertFeedback.json
      operationId: services_listAlertFeedback
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: shortName
        in: path
        description: The name of the alert.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of alert feedback.
          schema:
            $ref: '#/definitions/AlertFeedbacks'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/metrics/{metricName}/groups/{groupName}:
    get:
      tags:
      - Metrics
      description: Gets the server related metrics for a given metric and group combination.
      x-ms-examples:
        service_getMetrics:
          $ref: ./examples/Service_MetricSets.json
      operationId: service_getMetrics
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: metricName
        in: path
        description: The metric name
        required: true
        type: string
      - name: groupName
        in: path
        description: The group name
        required: true
        type: string
      - name: groupKey
        in: query
        description: The group key
        required: false
        type: string
      - name: fromDate
        in: query
        description: The start date.
        required: false
        type: string
        format: date-time
      - name: toDate
        in: query
        description: The end date.
        required: false
        type: string
        format: date-time
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The metric sets for a given service.
          schema:
            $ref: '#/definitions/MetricSets'
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/metrics/{metricName}/groups/{groupName}/average:
    get:
      tags:
      - Metrics
      description: Gets the average of the metric values for a given metric and group
        combination.
      x-ms-examples:
        services_listMetricsAverage:
          $ref: ./examples/Metrics.json
      operationId: services_listMetricsAverage
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: metricName
        in: path
        description: The metric name
        required: true
        type: string
      - name: groupName
        in: path
        description: The group name
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of average metrics for a given service.
          schema:
            $ref: '#/definitions/Metrics'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/metrics/{metricName}/groups/{groupName}/sum:
    get:
      tags:
      - Metrics
      description: Gets the sum of the metric values for a given metric and group
        combination.
      x-ms-examples:
        services_listMetricsSum:
          $ref: ./examples/Metrics.json
      operationId: services_listMetricsSum
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: metricName
        in: path
        description: The metric name
        required: true
        type: string
      - name: groupName
        in: path
        description: The group name
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of metrics for a given service.
          schema:
            $ref: '#/definitions/Metrics'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/metricmetadata:
    get:
      tags:
      - Metrics
      description: Gets the service related metrics information.
      x-ms-examples:
        services_listMetricMetadata:
          $ref: ./examples/MetricMetadataList.json
      operationId: services_listMetricMetadata
      parameters:
      - name: $filter
        in: query
        description: The metric metadata property filter to apply.
        required: false
        type: string
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: perfCounter
        in: query
        description: Indicates if only performance counter metrics are requested.
        required: false
        type: boolean
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of metric metadata for a given service.
          schema:
            $ref: '#/definitions/MetricMetadataList'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/metricmetadata/{metricName}:
    get:
      tags:
      - Metrics
      description: Gets the service related metrics information.
      x-ms-examples:
        services_getMetricMetadata:
          $ref: ./examples/MetricMetadata.json
      operationId: services_getMetricMetadata
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: metricName
        in: path
        description: The metric name
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The metric metadata for a given metric.
          schema:
            $ref: '#/definitions/MetricMetadata'
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/metricmetadata/{metricName}/groups/{groupName}:
    get:
      tags:
      - Metrics
      description: Gets the service related metrics for a given metric and group combination.
      x-ms-examples:
        services_getMetricMetadataForGroup:
          $ref: ./examples/MetricSets.json
      operationId: services_getMetricMetadataForGroup
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: metricName
        in: path
        description: The metric name
        required: true
        type: string
      - name: groupName
        in: path
        description: The group name
        required: true
        type: string
      - name: groupKey
        in: query
        description: The group key
        required: false
        type: string
      - name: fromDate
        in: query
        description: The start date.
        required: false
        type: string
        format: date-time
      - name: toDate
        in: query
        description: The end date.
        required: false
        type: string
        format: date-time
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The metric sets for a given service and group.
          schema:
            $ref: '#/definitions/MetricSets'
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/monitoringconfiguration:
    patch:
      tags:
      - Services
      description: Updates the service level monitoring configuration.
      x-ms-examples:
        services_updateMonitoringConfiguration:
          $ref: ./examples/PatchMonitoringConfiguration.json
      operationId: services_updateMonitoringConfiguration
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: configurationSetting
        in: body
        description: The monitoring configuration to update
        required: true
        schema:
          $ref: '#/definitions/Item'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Successfully updated the monitoring configuration.
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/monitoringconfigurations:
    get:
      tags:
      - Services
      description: Gets the service level monitoring configurations.
      x-ms-examples:
        services_listMonitoringConfigurations:
          $ref: ./examples/MonitoringConfigurations.json
      operationId: services_listMonitoringConfigurations
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of monitoring configurations.
          schema:
            $ref: '#/definitions/Items'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/reports/badpassword/details/user:
    get:
      tags:
      - Reports
      description: Gets the bad password login attempt report for an user
      x-ms-examples:
        services_listUserBadPasswordReport:
          $ref: ./examples/BadPasswordDetails.json
      operationId: services_listUserBadPasswordReport
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: dataSource
        in: query
        description: The source of data, if its test data or customer data.
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of bad password login attempts.
          schema:
            $ref: '#/definitions/ErrorReportUsersEntries'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers:
    get:
      tags:
      - ServiceMembers
      description: Gets the details of the servers, for a given service, that are
        onboarded to Azure Active Directory Connect Health Service.
      x-ms-examples:
        serviceMembers_list:
          $ref: ./examples/ServiceMembers.json
      operationId: serviceMembers_list
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: $filter
        in: query
        description: The server property filter to apply.
        required: false
        type: string
      - name: dimensionType
        in: query
        description: The server specific dimension.
        required: false
        type: string
      - name: dimensionSignature
        in: query
        description: The value of the dimension.
        required: false
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of service members.
          schema:
            $ref: '#/definitions/ServiceMembers'
      x-ms-pageable:
        nextLinkName: nextLink
    post:
      tags:
      - ServiceMembers
      description: Onboards  a server, for a given service, to Azure Active Directory
        Connect Health Service.
      x-ms-examples:
        serviceMembers_add:
          $ref: ./examples/AddServiceMembers.json
      operationId: serviceMembers_add
      parameters:
      - name: serviceName
        in: path
        description: The name of the service under which the server is to be onboarded.
        required: true
        type: string
      - name: serviceMember
        in: body
        description: The server object.
        required: true
        schema:
          $ref: '#/definitions/ServiceMember'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Successfully added the service member.
          schema:
            $ref: '#/definitions/ServiceMember'
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}:
    get:
      tags:
      - ServiceMembers
      description: Gets the details of a server, for a given service, that are onboarded
        to Azure Active Directory Connect Health Service.
      x-ms-examples:
        serviceMembers_get:
          $ref: ./examples/ServiceMember.json
      operationId: serviceMembers_get
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: serviceMemberId
        in: path
        description: The server Id.
        required: true
        type: string
        format: uuid
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The specific service member.
          schema:
            $ref: '#/definitions/ServiceMember'
    delete:
      tags:
      - ServiceMembers
      description: Deletes a server that has been onboarded to Azure Active Directory
        Connect Health Service.
      x-ms-examples:
        serviceMembers_delete:
          $ref: ./examples/DeleteServer.json
      operationId: serviceMembers_delete
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: serviceMemberId
        in: path
        description: The server Id.
        required: true
        type: string
        format: uuid
      - name: confirm
        in: query
        description: Indicates if the server will be permanently deleted or disabled.
          True indicates that the server will be permanently deleted and False indicates
          that the server will be marked disabled and then deleted after 30 days,
          if it is not re-registered.
        required: false
        type: boolean
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Successfully deleted the service member.
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/alerts:
    get:
      tags:
      - Alerts
      description: Gets the details of an alert for a given service and server combination.
      x-ms-examples:
        serviceMembers_listAlerts:
          $ref: ./examples/Server_Alerts.json
      operationId: serviceMembers_listAlerts
      parameters:
      - name: serviceMemberId
        in: path
        description: The server Id for which the laert details needs to be queried.
        required: true
        type: string
        format: uuid
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: $filter
        in: query
        description: The alert property filter to apply.
        required: false
        type: string
      - name: state
        in: query
        description: The alert state to query for.
        required: false
        type: string
      - name: from
        in: query
        description: The start date to query for.
        required: false
        type: string
        format: date-time
      - name: to
        in: query
        description: The end date till when to query for.
        required: false
        type: string
        format: date-time
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of alerts.
          schema:
            $ref: '#/definitions/Alerts'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/service/{serviceName}/servicemembers/{serviceMemberId}/connectors:
    get:
      tags:
      - ServiceMembers
      description: Gets the connector details for a service.
      x-ms-examples:
        serviceMembers_listConnectors:
          $ref: ./examples/Connectors.json
      operationId: serviceMembers_listConnectors
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: serviceMemberId
        in: path
        description: The server Id.
        required: true
        type: string
        format: uuid
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of connector details.
          schema:
            $ref: '#/definitions/Connectors'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/credentials:
    get:
      tags:
      - ServiceMembers
      description: Gets the credentials of the server which is needed by the agent
        to connect to Azure Active Directory Connect Health Service.
      x-ms-examples:
        serviceMembers_listCredentials:
          $ref: ./examples/Credentials.json
      operationId: serviceMembers_listCredentials
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: $filter
        in: query
        description: The property filter to apply.
        required: false
        type: string
      - name: serviceMemberId
        in: path
        description: The server Id.
        required: true
        type: string
        format: uuid
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of service member credentials.
          schema:
            $ref: '#/definitions/Credentials'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/data:
    delete:
      tags:
      - ServiceMembers
      description: Deletes the data uploaded by the server to Azure Active Directory
        Connect Health Service.
      x-ms-examples:
        serviceMembers_deleteData:
          $ref: ./examples/DeleteServer.json
      operationId: serviceMembers_deleteData
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: serviceMemberId
        in: path
        description: The server Id.
        required: true
        type: string
        format: uuid
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Successfully deleted the service member.
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/datafreshness:
    get:
      tags:
      - ServiceMembers
      description: Gets the last time when the server uploaded data to Azure Active
        Directory Connect Health Service.
      x-ms-examples:
        serviceMembers_listDataFreshness:
          $ref: ./examples/Datafreshness.json
      operationId: serviceMembers_listDataFreshness
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: serviceMemberId
        in: path
        description: The server Id.
        required: true
        type: string
        format: uuid
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of datafreshness details for a server.
          schema:
            $ref: '#/definitions/DataFreshnessDetails'
      x-ms-pageable:
        nextLinkName: ~
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/exportstatus:
    get:
      tags:
      - ServiceMembers
      description: Gets the export status.
      x-ms-examples:
        serviceMembers_listExportStatus:
          $ref: ./examples/Server_ExportStatus.json
      operationId: serviceMembers_listExportStatus
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: serviceMemberId
        in: path
        description: The server Id.
        required: true
        type: string
        format: uuid
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of export statuses.
          schema:
            $ref: '#/definitions/ExportStatuses'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/globalconfiguration:
    get:
      tags:
      - ServiceMembers
      description: Gets the global configuration.
      x-ms-examples:
        serviceMembers_listGlobalConfiguration:
          $ref: ./examples/GlobalConfiguration.json
      operationId: serviceMembers_listGlobalConfiguration
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: serviceMemberId
        in: path
        description: The server id.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of global configurations.
          schema:
            $ref: '#/definitions/GlobalConfigurations'
      x-ms-pageable:
        nextLinkName: ~
  ? /providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/metrics/{metricName}/groups/{groupName}
  : get:
      tags:
      - Metrics
      description: Gets the server related metrics for a given metric and group combination.
      x-ms-examples:
        serviceMembers_getMetrics:
          $ref: ./examples/Server_MetricSets.json
      operationId: serviceMembers_getMetrics
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: metricName
        in: path
        description: The metric name
        required: true
        type: string
      - name: groupName
        in: path
        description: The group name
        required: true
        type: string
      - name: serviceMemberId
        in: path
        description: The server id.
        required: true
        type: string
        format: uuid
      - name: groupKey
        in: query
        description: The group key
        required: false
        type: string
      - name: fromDate
        in: query
        description: The start date.
        required: false
        type: string
        format: date-time
      - name: toDate
        in: query
        description: The end date.
        required: false
        type: string
        format: date-time
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The list of metric sets for a given metric.
          schema:
            $ref: '#/definitions/MetricSets'
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/servicemembers/{serviceMemberId}/serviceconfiguration:
    get:
      tags:
      - ServiceMembers
      description: Gets the service configuration.
      x-ms-examples:
        serviceMembers_getServiceConfiguration:
          $ref: ./examples/ServiceConfiguration.json
      operationId: serviceMembers_getServiceConfiguration
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: serviceMemberId
        in: path
        description: The server Id.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The service configuration.
          schema:
            $ref: '#/definitions/ServiceConfiguration'
  /providers/Microsoft.ADHybridHealthService/services/{serviceName}/TenantWhitelisting/{featureName}:
    get:
      tags:
      - Services
      description: Checks if the tenant, to which a service is registered, is whitelisted
        to use a feature.
      x-ms-examples:
        services_getTenantWhitelisting:
          $ref: ./examples/TenantWhitelisting.json
      operationId: services_getTenantWhitelisting
      parameters:
      - name: serviceName
        in: path
        description: The name of the service.
        required: true
        type: string
      - name: featureName
        in: path
        description: The name of the feature.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: Indicates if a tenant is whitelisted for a feature or not.
          schema:
            $ref: '#/definitions/Result'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":86:{s:17:\"AddsConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  list of key value properties.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  link used to get the next page of operations.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  value returned by the operation.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  total count of configuration.\";s:4:\"type\";s:7:\"integer\";}s:17:\"continuationToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  continuation token for paginated calls.\";s:4:\"type\";s:6:\"string\";}}}s:21:\"AdditionalInformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  addtional information for a property.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"titleName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  title name for the property.\";s:4:\"type\";s:6:\"string\";}s:10:\"titleValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  title value for the property.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  list of properties which are included in the additional information.\";s:4:\"type\";s:6:\"object\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}}s:13:\"hasProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Indicates
  if properties are present or not.\";s:4:\"type\";s:7:\"boolean\";}}}s:17:\"AddsServiceMember\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  server details for ADDS service.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":34:{s:10:\"domainName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  domain name.\";s:4:\"type\";s:6:\"string\";}s:8:\"siteName\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  site name.\";s:4:\"type\";s:6:\"string\";}s:9:\"addsRoles\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  list of ADDS roles.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"gcReachable\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Indicates
  if the global catalog for this domain is reachable or not.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"isAdvertising\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Indicates
  if the Dc is advertising or not.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"pdcReachable\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Indicates
  if the primary domain controller is reachable or not.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"sysvolState\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Indicates
  if the SYSVOL state is healthy or not.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"dcTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  list of domain controller types.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"serviceMemberId\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  id of the server.\";s:4:\"type\";s:6:\"string\";}s:9:\"serviceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  service id to whom this server belongs.\";s:4:\"type\";s:6:\"string\";}s:8:\"tenantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  tenant id to whom this server belongs.\";s:4:\"type\";s:6:\"string\";}s:12:\"activeAlerts\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  total number of alerts that are currently active for the server.\";s:4:\"type\";s:7:\"integer\";}s:21:\"additionalInformation\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  additional information, if any, for the server.\";s:4:\"type\";s:6:\"string\";}s:11:\"createdDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  date time , in UTC, when the server was onboaraded to Azure Active Directory Connect
  Health.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"dimensions\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  server specific configuration related dimensions.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}}s:8:\"disabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Indicates
  if the server is disabled or not. \";s:4:\"type\";s:7:\"boolean\";}s:14:\"disabledReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  reason for disabling the server.\";s:4:\"type\";s:7:\"integer\";}s:13:\"installedQfes\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  list of installed QFEs for the server.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Hotfix\";}}s:12:\"lastDisabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  date and time , in UTC, when the server was last disabled.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"lastReboot\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  date and time, in UTC, when the server was last rebooted.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:39:\"lastServerReportedMonitoringLevelChange\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"The
  date and time, in UTC, when the server's data monitoring configuration was last
  changed.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"lastUpdated\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  date and time, in UTC, when the server proeprties were last updated.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"machineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  id of the machine.\";s:4:\"type\";s:6:\"string\";}s:11:\"machineName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the server.\";s:4:\"type\";s:6:\"string\";}s:32:\"monitoringConfigurationsComputed\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"The
  monitoring configuration of the server which determines what activities are monitored
  by Azure Active Directory Connect Health.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}}s:34:\"monitoringConfigurationsCustomized\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"The
  customized monitoring configuration of the server which determines what activities
  are monitored by Azure Active Directory Connect Health.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}}s:6:\"osName\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  name of the operating system installed in the machine.\";s:4:\"type\";s:6:\"string\";}s:9:\"osVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  version of the operating system installed in the machine.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Server
  specific properties.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}}s:15:\"recommendedQfes\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  list of recommended hotfixes for the server.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Hotfix\";}}s:14:\"resolvedAlerts\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  total count of alerts that are resolved for this server.\";s:4:\"type\";s:7:\"integer\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  service role that is being monitored in the server.\";s:4:\"type\";s:6:\"string\";}s:29:\"serverReportedMonitoringLevel\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"The
  monitoring level reported by the server.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"Partial\";i:1;s:4:\"Full\";i:2;s:3:\"Off\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"MonitoringLevel\";s:13:\"modelAsString\";b:0;}}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  health status of the server.\";s:4:\"type\";s:6:\"string\";}}}s:18:\"AddsServiceMembers\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  list of  ADDS service members.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  link used to get the next page of operations.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  value returned by the operation.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AddsServiceMember\";}}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  total count of service members.\";s:4:\"type\";s:7:\"integer\";}s:17:\"continuationToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  continuation token for paginated calls.\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Agent\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  agent details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"tenantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  tenant Id.\";s:4:\"type\";s:6:\"string\";}s:9:\"machineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  machine Id.\";s:4:\"type\";s:6:\"string\";}s:10:\"credential\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  agent credential details.\";s:4:\"type\";s:6:\"object\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Credential\";}}s:11:\"machineName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  machine name.\";s:4:\"type\";s:6:\"string\";}s:12:\"agentVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  agent version.\";s:4:\"type\";s:6:\"string\";}s:11:\"createdDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  date and time, in UTC, when the agent was created.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"
  The connector hash key.\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Alert\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"
  The alert details indicating an issue with service or server.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:7:\"alertId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  alert Id.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:5:\"level\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"The
  alert level which indicates the severity of the alert.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"Warning\";i:1;s:5:\"Error\";i:2;s:10:\"PreWarning\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:5:\"Level\";s:13:\"modelAsString\";b:1;}}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"The
  alert state which can be either active or resolved with multile resolution types.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:6:\"Active\";i:1;s:24:\"ResolvedByPositiveResult\";i:2;s:16:\"ResolvedManually\";i:3;s:15:\"ResolvedByTimer\";i:4;s:21:\"ResolvedByStateChange\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:5:\"State\";s:13:\"modelAsString\";b:1;}}s:9:\"shortName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  alert short name.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  display name for the alert.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  alert description.\";s:4:\"type\";s:6:\"string\";}s:11:\"remediation\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  alert remediation.\";s:4:\"type\";s:6:\"string\";}s:12:\"relatedLinks\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  help links to get more information related to the alert.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/HelpLink\";}}s:5:\"scope\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  scope of the alert. Indicates if it is a service or a server related alert.\";s:4:\"type\";s:6:\"string\";}s:21:\"additionalInformation\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Additional
  information related to the alert.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AdditionalInformation\";}}s:11:\"createdDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  date and time,in UTC,when the alert was created.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:12:\"resolvedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  date and time, in UTC, when the alert was resolved.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"lastUpdated\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  date and time, in UTC, when the alert was last updated.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"monitorRoleType\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  monitoring role type for which the alert was raised.\";s:4:\"type\";s:6:\"string\";}s:21:\"activeAlertProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  active alert properties.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}}s:23:\"resolvedAlertProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  resolved alert properties.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  tenant Id.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:9:\"serviceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  service Id.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:15:\"serviceMemberId\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  server Id.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:13:\"AlertFeedback\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  alert feedback details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"level\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  alert level which indicates the severity of the alert.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"The
  alert state which can be either active or resolved with multile resolution types.\";s:4:\"type\";s:6:\"string\";}s:9:\"shortName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  alert short name.\";s:4:\"type\";s:6:\"string\";}s:8:\"feedback\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  feedback for the alert which indicates if the customer likes or dislikes the alert.\";s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Additional
  comments related to the alert.\";s:4:\"type\";s:6:\"string\";}s:16:\"consentedToShare\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Indicates
  if the alert feedback can be shared from product team.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"serviceMemberId\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  server Id of the alert.\";s:4:\"type\";s:6:\"string\";}s:11:\"createdDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  date and time,in UTC,when the alert was created.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:14:\"AlertFeedbacks\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  list of alert feedback.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:36:\"The
  value returned by the operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AlertFeedback\";}}}}s:6:\"Alerts\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  list of alerts for a service.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  value returned by the operation.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Alert\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  link used to get the next page of operations.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  total count of alert elements.\";s:4:\"type\";s:7:\"integer\";}s:17:\"continuationToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  continuation token for paginated calls.\";s:4:\"type\";s:6:\"string\";}}}s:16:\"AssociatedObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Object
  that hold sync object details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  display name of the object.\";s:4:\"type\";s:6:\"string\";}s:17:\"distinguishedName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  distinguished name of the object.\";s:4:\"type\";s:6:\"string\";}s:15:\"lastDirSyncTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  last dirSync time.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"mail\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  email of the object.\";s:4:\"type\";s:6:\"string\";}s:10:\"objectGuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  object guid.\";s:4:\"type\";s:6:\"string\";}s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  object type.\";s:4:\"type\";s:6:\"string\";}s:27:\"onpremisesUserPrincipalName\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  On-premises UPN.\";s:4:\"type\";s:6:\"string\";}s:14:\"proxyAddresses\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  proxy addresses.\";s:4:\"type\";s:6:\"string\";}s:12:\"sourceAnchor\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  source anchor.\";s:4:\"type\";s:6:\"string\";}s:17:\"sourceOfAuthority\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  source of authority.\";s:4:\"type\";s:6:\"string\";}s:12:\"timeOccurred\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"
  The time of the error.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:17:\"userPrincipalName\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"
  The UPN.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"AttributeDelta\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  delta attributes.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  delta values.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ValueDelta\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  name of the attribute delta.\";s:4:\"type\";s:6:\"string\";}s:13:\"operationType\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  attribute delta operation type.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:9:\"Undefined\";i:1;s:3:\"Add\";i:2;s:7:\"Replace\";i:3;s:6:\"Update\";i:4;s:6:\"Delete\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:27:\"AttributeDeltaOperationType\";s:13:\"modelAsString\";b:1;}}s:9:\"valueType\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"The
  value type.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:9:\"Undefined\";i:1;s:2:\"Dn\";i:2;s:6:\"Binary\";i:3;s:6:\"String\";i:4;s:7:\"Integer\";i:5;s:7:\"Boolean\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"ValueType\";s:13:\"modelAsString\";b:1;}}s:11:\"multiValued\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Indicates
  if the attribute delta is multivalued or not.\";s:4:\"type\";s:7:\"boolean\";}}}s:16:\"AttributeMapping\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  attribute mapping details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"mappingSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  mapping source.\";s:4:\"$ref\";s:35:\"#/definitions/AttributeMppingSource\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"The
  attribute mapping type.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:8:\"Constant\";i:1;s:6:\"Direct\";i:2;s:6:\"DnPart\";i:3;s:6:\"Script\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"AttributeMappingType\";s:13:\"modelAsString\";b:1;}}s:20:\"destinationAttribute\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  destination attribute.\";s:4:\"type\";s:6:\"string\";}s:9:\"contextId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  context Id.\";s:4:\"type\";s:6:\"string\";}}}s:21:\"AttributeMppingSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  attribute mapping source.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"sourceAttribute\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  source attribute.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"dnPart\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  value for dn part.\";s:4:\"type\";s:7:\"integer\";}s:13:\"scriptContext\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  script context.\";s:4:\"type\";s:6:\"string\";}s:13:\"constantValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  constant value.\";s:4:\"type\";s:6:\"string\";}}}s:19:\"ChangeNotReimported\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  changes which are not re-imported.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"delta\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  delta changes that is not re-imported.\";s:4:\"$ref\";s:38:\"#/definitions/ChangeNotReimportedDelta\";}s:5:\"entry\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  object entry in a change that is not re-imported.\";s:4:\"$ref\";s:38:\"#/definitions/ChangeNotReimportedEntry\";}}}s:24:\"ChangeNotReimportedDelta\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  delta in a change that is not re-imported.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"anchor\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"The
  anchor.\";s:4:\"type\";s:6:\"string\";}s:12:\"dnAttributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  delta attributes for distinguished names.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AttributeDelta\";}}s:10:\"attributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  attributes.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AttributeDelta\";}}s:13:\"operationType\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"The
  operation type.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:9:\"Undefined\";i:1;s:4:\"None\";i:2;s:3:\"Add\";i:3;s:7:\"Replace\";i:4;s:6:\"Update\";i:5;s:6:\"Delete\";i:6;s:8:\"Obsolete\";i:7;s:8:\"DeletAdd\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"DeltaOperationType\";s:13:\"modelAsString\";b:1;}}}}s:24:\"ChangeNotReimportedEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  object entry in a change that is not re-imported.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"anchor\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"The
  anchor.\";s:4:\"type\";s:6:\"string\";}s:12:\"parentAnchor\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  parent anchor.\";s:4:\"type\";s:6:\"string\";}s:18:\"primaryObjectClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  primary object class.\";s:4:\"type\";s:6:\"string\";}s:13:\"objectClasses\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  olist of object classes.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"dnAttributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  delta attributes for distinguished names.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AttributeDelta\";}}s:10:\"attributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  attributes.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AttributeDelta\";}}s:2:\"dn\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  distinguished name.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"Connector\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  connect details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:11:\"connectorId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  connector Id.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  connector Id.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  connector name.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  connector version\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  connector type.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
[...]
