---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:140:\"Use these REST
  APIs for performing operations on who is going to receive notifications associated
  with your Azure API Management deployment.\";s:5:\"title\";s:19:\"ApiManagementClient\";s:7:\"version\";s:10:\"2018-01-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:178:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/apimnotifications.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:31:\"apimanagement-apimnotifications\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:37:\"azure_apimanagement_apimnotifications\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:22:\"NotificationCollection\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Paged
  Notification list representation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Next
  page link if any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Page
  values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/NotificationContract\";}s:4:\"type\";s:5:\"array\";}}}s:20:\"NotificationContract\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  Resource definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Resource
  type for API Management resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:21:\"Notification
  details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:44:\"#/definitions/NotificationContractProperties\";s:11:\"description\";s:40:\"Notification
  entity contract properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:30:\"NotificationContractProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Notification
  Contract properties.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Description
  of the Notification.\";s:4:\"type\";s:6:\"string\";}s:10:\"recipients\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/RecipientsContractProperties\";s:11:\"description\";s:27:\"Recipient
  Parameter values.\";}s:5:\"title\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Title
  of the Notification.\";s:9:\"maxLength\";i:1000;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"title\";}}s:24:\"RecipientEmailCollection\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Paged
  Recipient User list representation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Next
  page link if any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Page
  values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/RecipientEmailContract\";}s:4:\"type\";s:5:\"array\";}}}s:22:\"RecipientEmailContract\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  Resource definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Resource
  type for API Management resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:24:\"Recipient
  Email details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:46:\"#/definitions/RecipientEmailContractProperties\";s:11:\"description\";s:36:\"Recipient
  Email contract properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:32:\"RecipientEmailContractProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Recipient
  Email Contract Properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"User
  Email subscribed to notification.\";s:4:\"type\";s:6:\"string\";}}}s:23:\"RecipientUserCollection\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Paged
  Recipient User list representation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Next
  page link if any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Page
  values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/RecipientUserContract\";}s:4:\"type\";s:5:\"array\";}}}s:21:\"RecipientUserContract\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  Resource definition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Resource
  type for API Management resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:23:\"Recipient
  User details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:46:\"#/definitions/RecipientUsersContractProperties\";s:11:\"description\";s:42:\"Recipient
  User entity contract properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:32:\"RecipientUsersContractProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Recipient
  User Contract Properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"API
  Management UserId subscribed to notification.\";s:4:\"type\";s:6:\"string\";}}}s:28:\"RecipientsContractProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Notification
  Parameter contract.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"emails\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"List
  of Emails subscribed for the notification.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"users\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"List
  of Users subscribed for the notification.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}}"
...
