---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:10:\"2016-06-01\";s:5:\"title\";s:28:\"RecoveryServicesBackupClient\";s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:20:\"internalConstructors\";b:0;}}"
host: management.azure.com
paths:
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/revokeInstantItemRecovery
  : post:
      tags:
      - ItemLevelRecoveryConnections
      description: Revokes an iSCSI connection which can be used to download a script.
        Executing this script opens a file explorer displaying all recoverable files
        and folders. This is an asynchronous operation.
      operationId: ItemLevelRecoveryConnections_Revoke
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: The fabric name associated with the backup items. The value allowed
          is Azure.
        required: true
        type: string
      - name: containerName
        in: path
        description: The container name associated with the backup items.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: The name of the backup items whose files or folders will be restored.
        required: true
        type: string
      - name: recoveryPointId
        in: path
        description: The string that identifies the recovery point. The iSCSI connection
          will be revoked for this protected data.
        required: true
        type: string
      responses:
        202:
          description: The revocation was accepted.
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/provisionInstantItemRecovery
  : post:
      tags:
      - ItemLevelRecoveryConnections
      description: Provisions a script which invokes an iSCSI connection to the backup
        data. Executing this script opens File Explorer which displays the recoverable
        files and folders. This is an asynchronous operation. To get the provisioning
        status, call GetProtectedItemOperationResult API.
      operationId: ItemLevelRecoveryConnections_Provision
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: The fabric name associated with the backup items.
        required: true
        type: string
      - name: containerName
        in: path
        description: The container name associated with the backup items.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: The name of the backup item whose files or folders are to be
          restored.
        required: true
        type: string
      - name: recoveryPointId
        in: path
        description: The recovery point ID for backup data. The iSCSI connection will
          be provisioned for this backup data.
        required: true
        type: string
      - name: resourceILRRequest
        in: body
        description: The resource Item Level Recovery (ILR) request.
        required: true
        schema:
          $ref: '#/definitions/ILRRequestResource'
      responses:
        202:
          description: Accepted.
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/restore
  : post:
      tags:
      - Restores
      description: Restores the specified backup data. This is an asynchronous operation.
        To know the status of this API call, use GetProtectedItemOperationResult API.
      operationId: Restores_Trigger
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: The fabric name associated with the backup items.
        required: true
        type: string
      - name: containerName
        in: path
        description: The container name associated with the backup items.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: The backup item to be restored.
        required: true
        type: string
      - name: recoveryPointId
        in: path
        description: The recovery point ID for the backup data to be restored.
        required: true
        type: string
      - name: resourceRestoreRequest
        in: body
        description: The resource restore request.
        required: true
        schema:
          $ref: '#/definitions/RestoreRequestResource'
      responses:
        202:
          description: The data restore operation was accepted.
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operations/{operationId}
  : get:
      tags:
      - ProtectionPolicyOperationStatuses
      description: 'Provides the status of the asynchronous operations like backup
        or restore. The status can be: in progress, completed, or failed. You can
        refer to the Operation Status enumeration for the possible states of an operation.
        Some operations create jobs. This method returns the list of jobs associated
        with the operation.'
      operationId: ProtectionPolicyOperationStatuses_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: policyName
        in: path
        description: The backup policy name used in this GET operation.
        required: true
        type: string
      - name: operationId
        in: path
        description: The ID associated with this GET operation.
        required: true
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/OperationStatus'
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operationResults/{operationId}
  : get:
      tags:
      - ProtectionPolicyOperationResults
      description: Provides the result of an operation.
      operationId: ProtectionPolicyOperationResults_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: policyName
        in: path
        description: The backup policy name used in this GET operation.
        required: true
        type: string
      - name: operationId
        in: path
        description: The ID associated with this GET operation.
        required: true
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/ProtectionPolicyResource'
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}
  : get:
      tags:
      - ProtectionPolicies
      description: Gets the details of the backup policy associated with the Recovery
        Services vault. This is an asynchronous operation. Use the GetPolicyOperationResult
        API to Get the operation status.
      operationId: ProtectionPolicies_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: policyName
        in: path
        description: The backup policy name used in this GET operation.
        required: true
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/ProtectionPolicyResource'
      deprecated: false
    put:
      tags:
      - ProtectionPolicies
      description: Creates or modifies a backup policy. This is an asynchronous operation.
        Use the GetPolicyOperationResult API to Get the operation status.
      operationId: ProtectionPolicies_CreateOrUpdate
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: policyName
        in: path
        description: The backup policy to be created.
        required: true
        type: string
      - name: resourceProtectionPolicy
        in: body
        description: The resource backup policy.
        required: true
        schema:
          $ref: '#/definitions/ProtectionPolicyResource'
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/ProtectionPolicyResource'
        202:
          description: Accepted.
      deprecated: false
    delete:
      tags:
      - ProtectionPolicies
      description: Deletes the specified backup policy from your Recovery Services
        vault. This is an asynchronous operation. Use the GetPolicyOperationResult
        API to Get the operation status.
      operationId: ProtectionPolicies_Delete
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: policyName
        in: path
        description: The name of the backup policy to be deleted.
        required: true
        type: string
      responses:
        200:
          description: OK.
        204:
          description: No content.
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies
  : get:
      tags:
      - ProtectionPolicies
      description: Lists the backup policies associated with the Recovery Services
        vault. The API provides parameters to Get scoped results.
      operationId: ProtectionPolicies_List
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: $filter
        in: query
        description: The following equation can be used to filter the list of backup
          policies. backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer,
          AzureSql}.
        required: false
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/ProtectionPolicyResourceList'
      deprecated: false
      x-ms-odata: '#/definitions/ProtectionPolicyQueryObject'
      x-ms-pageable:
        nextLinkName: "null"
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/operationResults/{operationId}
  : get:
      tags:
      - ProtectionContainerOperationResults
      description: Gets the result of any operation on the container.
      operationId: ProtectionContainerOperationResults_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: The fabric name associated with the container.
        required: true
        type: string
      - name: containerName
        in: path
        description: The container name used for this GET operation.
        required: true
        type: string
      - name: operationId
        in: path
        description: The operation ID used for this GET operation.
        required: true
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/ProtectionContainerResource'
        202:
          description: Accepted.
        204:
          description: No content.
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/operationResults/{operationId}
  : get:
      tags:
      - ProtectionContainerRefreshOperationResults
      description: Provides the result of the refresh operation triggered by the BeginRefresh
        operation.
      operationId: ProtectionContainerRefreshOperationResults_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: The fabric name associated with the container.
        required: true
        type: string
      - name: operationId
        in: path
        description: The operation ID used for this GET operation.
        required: true
        type: string
      responses:
        202:
          description: Accepted.
        204:
          description: No content.
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}
  : get:
      tags:
      - ProtectionContainers
      description: Gets details of the specific container registered to your Recovery
        Services vault.
      operationId: ProtectionContainers_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: The fabric name associated with the container.
        required: true
        type: string
      - name: containerName
        in: path
        description: The container name used for this GET operation.
        required: true
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/ProtectionContainerResource'
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectionContainers
  : get:
      tags:
      - ProtectionContainers
      description: Lists the containers registered to the Recovery Services vault.
      operationId: ProtectionContainers_List
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: $filter
        in: query
        description: The following equation is used to sort or filter the containers
          registered to the vault. providerType eq {AzureIaasVM, MAB, DPM, AzureBackupServer,
          AzureSql} and status eq {Unknown, NotRegistered, Registered, Registering}
          and friendlyName eq {containername} and backupManagementType eq {AzureIaasVM,
          MAB, DPM, AzureBackupServer, AzureSql}.
        required: false
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/ProtectionContainerResourceList'
      deprecated: false
      x-ms-odata: '#/definitions/BMSContainerQueryObject'
      x-ms-pageable:
        nextLinkName: "null"
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/refreshContainers
  : post:
      tags:
      - ProtectionContainers
      description: Discovers the containers in the subscription that can be protected
        in a Recovery Services vault. This is an asynchronous operation. To learn
        the status of the operation, use the GetRefreshOperationResult API.
      operationId: ProtectionContainers_Refresh
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: The fabric name associated with the container.
        required: true
        type: string
      responses:
        202:
          description: Accepted.
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}
  : get:
      tags:
      - RecoveryPoints
      description: Provides the backup data for the RecoveryPointID. This is an asynchronous
        operation. To learn the status of the operation, call the GetProtectedItemOperationResult
        API.
      operationId: RecoveryPoints_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: The fabric name associated with backup item.
        required: true
        type: string
      - name: containerName
        in: path
        description: The container name associated with backup item.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: The name of the backup item used in this GET operation.
        required: true
        type: string
      - name: recoveryPointId
        in: path
        description: The RecoveryPointID associated with this GET operation.
        required: true
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/RecoveryPointResource'
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints
  : get:
      tags:
      - RecoveryPoints
      description: Lists the recovery points, or backup copies, for the specified
        backup item.
      operationId: RecoveryPoints_List
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: The fabric name associated with the backup item.
        required: true
        type: string
      - name: containerName
        in: path
        description: The container name associated with the backup item.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: The name of backup item used in this GET operation.
        required: true
        type: string
      - name: $filter
        in: query
        description: startDate eq {yyyy-mm-dd hh:mm:ss PM} and endDate { yyyy-mm-dd
          hh:mm:ss PM}.
        required: false
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/RecoveryPointResourceList'
      deprecated: false
      x-ms-odata: '#/definitions/BMSRPQueryObject'
      x-ms-pageable:
        nextLinkName: "null"
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/backup
  : post:
      tags:
      - Backups
      description: Triggers the backup job for the specified backup item. This is
        an asynchronous operation. To know the status of the operation, call GetProtectedItemOperationResult
        API.
      operationId: Backups_Trigger
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: The fabric name associated with the backup item.
        required: true
        type: string
      - name: containerName
        in: path
        description: The container name associated with the backup item.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: The name of backup item used in this POST operation.
        required: true
        type: string
      - name: resourceBackupRequest
        in: body
        description: The resource backup request.
        required: true
        schema:
          $ref: '#/definitions/BackupRequestResource'
      responses:
        202:
          description: Accepted
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationsStatus/{operationId}
  : get:
      tags:
      - ProtectedItemOperationStatuses
      description: 'Gets the status of an operation such as triggering a backup or
        restore. The status can be: In progress, Completed, or Failed. You can refer
        to the OperationStatus enum for all the possible states of the operation.
        Some operations create jobs. This method returns the list of jobs associated
        with the operation.'
      operationId: ProtectedItemOperationStatuses_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: The fabric name associated with the backup item.
        required: true
        type: string
      - name: containerName
        in: path
        description: The container name associated with the backup item.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: The name of backup item used in this GET operation.
        required: true
        type: string
      - name: operationId
        in: path
        description: The OperationID used in this GET operation.
        required: true
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/OperationStatus'
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationResults/{operationId}
  : get:
      tags:
      - ProtectedItemOperationResults
      description: Gets the result of any operation on the backup item.
      operationId: ProtectedItemOperationResults_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: The fabric name associated with the backup item.
        required: true
        type: string
      - name: containerName
        in: path
        description: The container name associated with the backup item.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: The name of backup item used in this GET operation.
        required: true
        type: string
      - name: operationId
        in: path
        description: The OperationID used in this GET operation.
        required: true
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/ProtectedItemResource'
        202:
          description: Accepted.
        204:
          description: No content.
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectedItems
  : get:
      tags:
      - ProtectedItems
      description: Provides a pageable list of all items in a subscription, that can
        be protected.
      operationId: ProtectedItems_List
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: $filter
        in: query
        description: ' itemType eq { VM , FileFolder , AzureSqlDb , SQLDB , Exchange
          , Sharepoint , DPMUnknown } and providerType eq { AzureIaasVM, MAB, DPM,
          AzureBackupServer, AzureSql } and policyName eq {policyname} and containerName
          eq {containername} and backupManagementType eq { AzureIaasVM, MAB, DPM,
          AzureBackupServer, AzureSql }.'
        required: false
        type: string
      - name: $skipToken
        in: query
        description: ' The Skip Token filter.'
        required: false
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/ProtectedItemResourceList'
      deprecated: false
      x-ms-odata: '#/definitions/ProtectedItemQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}
  : get:
      tags:
      - ProtectedItems
      description: Provides the details of the backup item. This is an asynchronous
        operation. To know the status of the operation, call the GetItemOperationResult
        API.
      operationId: ProtectedItems_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: The fabric name associated with the backup item.
        required: true
        type: string
      - name: containerName
        in: path
        description: The container name associated with the backup item.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: The backup item name used in this GET operation.
        required: true
        type: string
      - name: $filter
        in: query
        description: expand eq {extendedinfo}. This filter enables you to choose (or
          filter) specific items in the list of backup items.
        required: false
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/ProtectedItemResource'
      deprecated: false
      x-ms-odata: '#/definitions/GetProtectedItemQueryObject'
    put:
      tags:
      - ProtectedItems
      description: This operation enables an item to be backed up, or modifies the
        existing backup policy information for an item that has been backed up. This
        is an asynchronous operation. To learn the status of the operation, call the
        GetItemOperationResult API.
      operationId: ProtectedItems_CreateOrUpdate
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: The fabric name associated with the backup item.
        required: true
        type: string
      - name: containerName
        in: path
        description: The container name associated with the backup item.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: The name of the backup item.
        required: true
        type: string
      - name: resourceProtectedItem
        in: body
        description: The resource backup item.
        required: true
        schema:
          $ref: '#/definitions/ProtectedItemResource'
      responses:
        202:
          description: Accepted.
      deprecated: false
    delete:
      tags:
      - ProtectedItems
      description: Used to disable the backup job for an item within a container.
        This is an asynchronous operation. To learn the status of the request, call
        the GetItemOperationResult API.
      operationId: ProtectedItems_Delete
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: fabricName
        in: path
        description: ' The fabric name associated with the backup item.'
        required: true
        type: string
      - name: containerName
        in: path
        description: The container name associated with the backup item.
        required: true
        type: string
      - name: protectedItemName
        in: path
        description: The backup item to be deleted.
        required: true
        type: string
      responses:
        202:
          description: Accepted.
        204:
          description: No content.
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectableItems
  : get:
      tags:
      - ProtectableItems
      description: Based on the query filter and the pagination parameters, this operation
        provides a pageable list of objects within the subscription that can be protected.
      operationId: ProtectableItems_List
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: $filter
        in: query
        description: 'Using the following query filters, you can sort a specific backup
          item based on: type of backup item, status, name of the item, and more.  providerType
          eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and status eq
          { NotProtected , Protecting , Protected } and friendlyName {name} and skipToken
          eq {string which provides the next set of list} and topToken eq {int} and
          backupManagementType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql
          }.'
        required: false
        type: string
      - name: $skipToken
        in: query
        description: The Skip Token filter.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkloadProtectableItemResourceList'
      deprecated: false
      x-ms-odata: '#/definitions/BMSPOQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/operationResults/{operationId}
  : get:
      tags:
      - ExportJobsOperationResults
      description: Gets the result of the operation triggered by the ExportJob API.
      operationId: ExportJobsOperationResults_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: operationId
        in: path
        description: The ID associated with the export job.
        required: true
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/OperationResultInfoBaseResource'
        202:
          description: Accepted
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/operationResults/{operationId}
  : get:
      tags:
      - JobOperationResults
      description: Gets the result of the operation.
      operationId: JobOperationResults_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: jobName
        in: path
        description: Job name associated with this GET operation.
        required: true
        type: string
      - name: operationId
        in: path
        description: OperationID associated with this GET operation.
        required: true
        type: string
      responses:
        200:
          description: OK.
        202:
          description: Accepted.
        204:
          description: No content.
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobsExport
  : post:
      tags:
      - Jobs
      description: Exports all jobs for a given Shared Access Signatures (SAS) URL.
        The SAS URL expires within 15 minutes of its creation.
      operationId: Jobs_Export
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: $filter
        in: query
        description: The OData filter options. status eq { InProgress , Completed
          , Failed , CompletedWithWarnings , Cancelled , Cancelling } and backupManagementType
          eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and operation eq
          { ConfigureBackup , Backup , Restore , DisableBackup , DeleteBackupData
          } and jobId eq {guid} and startTime eq { yyyy-mm-dd hh:mm:ss PM } and endTime
          eq { yyyy-mm-dd hh:mm:ss PM }.
        required: false
        type: string
      responses:
        202:
          description: Accepted.
      deprecated: false
      x-ms-odata: '#/definitions/JobQueryObject'
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/cancel
  : post:
      tags:
      - JobCancellations
      description: Cancels the job. This is an asynchronous operation. To know the
        status of the cancellation, call the GetCancelOperationResult API.
      operationId: JobCancellations_Trigger
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: jobName
        in: path
        description: Name of the job to cancel.
        required: true
        type: string
      responses:
        202:
          description: Accepted.
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}
  : get:
      tags:
      - JobDetails
      description: Gets extended information associated with the job.
      operationId: JobDetails_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: jobName
        in: path
        description: Name of the job associated with this GET operation.
        required: true
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/JobResource'
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs
  : get:
      tags:
      - Jobs
      description: Provides a pageable list of jobs.
      operationId: Jobs_List
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: $filter
        in: query
        description: The following equation can be used to filter the list of jobs
          based on status, type, start date, and end date. status eq { InProgress
          , Completed , Failed , CompletedWithWarnings , Cancelled , Cancelling }
          and backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql
          } and operation eq { ConfigureBackup , Backup , Restore , DisableBackup
          , DeleteBackupData } and jobId eq {guid} and startTime eq { yyyy-mm-dd hh:mm:ss
          PM } and endTime eq { yyyy-mm-dd hh:mm:ss PM }.
        required: false
        type: string
      - name: $skipToken
        in: query
        description: The Skip Token filter.
        required: false
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/JobResourceList'
      deprecated: false
      x-ms-odata: '#/definitions/JobQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupOperations/{operationId}
  : get:
      tags:
      - BackupOperationStatuses
      description: Gets the status of an operation such as triggering a backup or
        restore. The status can be In progress, Completed or Failed. You can refer
        to the OperationStatus enum for all the possible states of an operation. Some
        operations create jobs. This method returns the list of jobs when the operation
        is complete.
      operationId: BackupOperationStatuses_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: operationId
        in: path
        description: The ID of the operation.
        required: true
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/OperationStatus'
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupOperationResults/{operationId}
  : get:
      tags:
      - BackupOperationResults
      description: Provides the status of the delete operations, for example, deleting
        a backup item. Once the operation starts, the response status code is Accepted.
        The response status code remains in this state until the operation reaches
        completion. On successful completion, the status code changes to OK. This
        method expects OperationID as an argument. OperationID is part of the Location
        header of the operation response.
      operationId: BackupOperationResults_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: operationId
        in: path
        description: The ID of the operation.
        required: true
        type: string
      responses:
        200:
          description: OK.
        202:
          description: Accepted.
        204:
          description: No content.
      deprecated: false
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupEngines
  : get:
      tags:
      - BackupEngines
      description: The backup management servers registered to a Recovery Services
        vault. This returns a pageable list of servers.
      operationId: BackupEngines_Get
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - name: $filter
        in: query
        description: Use this filter to choose the specific backup management server.
          backupManagementType { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql
          }.
        required: false
        type: string
      - name: $skipToken
        in: query
        description: The Skip Token filter.
        required: false
        type: string
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/BackupEngineBaseResourceList'
      deprecated: false
      x-ms-odata: '#/definitions/BMSBackupEngineQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":108:{s:6:\"Object\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Base
  of all objects.\";s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Base
  for all resources.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Resource
  ID represents the complete path to the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Resource
  name associated with the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Resource
  type represents the complete path of the form Namespace/ResourceType/ResourceType/...\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"eTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Optional
  ETag.\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:15:\"JobResourceList\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"List
  of Job resources.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of resources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/JobResource\";}}}}s:16:\"BackupEngineBase\";O:8:\"stdClass\":4:{s:11:\"description\";s:90:\"The
  base backup engine class. All workload-specific backup engines derive from this
  class.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  friendly name of the backup engine.\";s:4:\"type\";s:6:\"string\";}s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"The
  type of backup management associated with the backup engine.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"BackupManagementType\";s:13:\"modelAsString\";b:0;}}s:18:\"registrationStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  status of the backup engine registration with the Recovery Services vault.\";s:4:\"type\";s:6:\"string\";}s:12:\"healthStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  backup status of the backup engine.\";s:4:\"type\";s:6:\"string\";}s:16:\"backupEngineType\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  type of the backup engine.\";s:4:\"type\";s:6:\"string\";}s:13:\"canReRegister\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"The
  flag indicating whether the backup engine be registered again, once the engine has
  been initially registered.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"backupEngineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  ID of the backup engine.\";s:4:\"type\";s:6:\"string\";}}s:13:\"discriminator\";s:16:\"backupEngineType\";}s:26:\"BMSBackupEngineQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  query parameters used to GET the list of backup engines.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  backup management type associated with the backup engine.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"BackupManagementType\";s:13:\"modelAsString\";b:0;}}}}s:15:\"OperationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Operation
  status.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"ID
  of the operation.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of the operation.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Operation
  status.\";s:4:\"enum\";a:5:{i:0;s:7:\"Invalid\";i:1;s:10:\"InProgress\";i:2;s:9:\"Succeeded\";i:3;s:6:\"Failed\";i:4;s:8:\"Canceled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"OperationStatusValues\";s:13:\"modelAsString\";b:0;}}s:9:\"startTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:61:\"The
  operation start time. The format of the time is ISO-8601.\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:59:\"The
  operation end time. The format of the time is ISO-8601.\";s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/OperationStatusError\";s:11:\"description\";s:44:\"Error
  information related to this operation.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/OperationStatusExtendedInfo\";s:11:\"description\";s:54:\"Additional
  information associated with this operation.\";}}}s:20:\"OperationStatusError\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Error
  information associated with the operation status call.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  error code for the failed operation.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  error message for the failed operation.\";s:4:\"type\";s:6:\"string\";}}}s:27:\"OperationStatusExtendedInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"The
  base class for additional information about the operation status.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"This
  property is used as the discriminator for deciding between types, in the polymorhpic
  chain of types.\";s:4:\"type\";s:6:\"string\";}}s:13:\"discriminator\";s:10:\"objectType\";}s:11:\"JobResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Defines
  the workload-agnostic properties for a job.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}}}s:23:\"OperationWorkerResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  base class for operation result responses.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"statusCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  HTTP status code of the operation.\";s:4:\"enum\";a:47:{i:0;s:8:\"Continue\";i:1;s:18:\"SwitchingProtocols\";i:2;s:2:\"OK\";i:3;s:7:\"Created\";i:4;s:8:\"Accepted\";i:5;s:27:\"NonAuthoritativeInformation\";i:6;s:9:\"NoContent\";i:7;s:12:\"ResetContent\";i:8;s:14:\"PartialContent\";i:9;s:15:\"MultipleChoices\";i:10;s:9:\"Ambiguous\";i:11;s:16:\"MovedPermanently\";i:12;s:5:\"Moved\";i:13;s:5:\"Found\";i:14;s:8:\"Redirect\";i:15;s:8:\"SeeOther\";i:16;s:14:\"RedirectMethod\";i:17;s:11:\"NotModified\";i:18;s:8:\"UseProxy\";i:19;s:6:\"Unused\";i:20;s:17:\"TemporaryRedirect\";i:21;s:16:\"RedirectKeepVerb\";i:22;s:10:\"BadRequest\";i:23;s:12:\"Unauthorized\";i:24;s:15:\"PaymentRequired\";i:25;s:9:\"Forbidden\";i:26;s:8:\"NotFound\";i:27;s:16:\"MethodNotAllowed\";i:28;s:13:\"NotAcceptable\";i:29;s:27:\"ProxyAuthenticationRequired\";i:30;s:14:\"RequestTimeout\";i:31;s:8:\"Conflict\";i:32;s:4:\"Gone\";i:33;s:14:\"LengthRequired\";i:34;s:18:\"PreconditionFailed\";i:35;s:21:\"RequestEntityTooLarge\";i:36;s:17:\"RequestUriTooLong\";i:37;s:20:\"UnsupportedMediaType\";i:38;s:28:\"RequestedRangeNotSatisfiable\";i:39;s:17:\"ExpectationFailed\";i:40;s:15:\"UpgradeRequired\";i:41;s:19:\"InternalServerError\";i:42;s:14:\"NotImplemented\";i:43;s:10:\"BadGateway\";i:44;s:18:\"ServiceUnavailable\";i:45;s:14:\"GatewayTimeout\";i:46;s:23:\"HttpVersionNotSupported\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"HttpStatusCode\";s:13:\"modelAsString\";b:0;}}s:7:\"Headers\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  HTTP headers associated with this operation.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:3:\"Job\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Defines
  workload-agnostic properties for a job.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:18:\"entityFriendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  friendly name of the entity on which the current job is executing.\";s:4:\"type\";s:6:\"string\";}s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  backup management type for the current job.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"BackupManagementType\";s:13:\"modelAsString\";b:0;}}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  operation name.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  job status.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"The
  start time.\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:13:\"The
  end time.\";s:4:\"type\";s:6:\"string\";}s:10:\"activityId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"ActivityId
  of job.\";s:4:\"type\";s:6:\"string\";}s:7:\"jobType\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"This
  property is the discriminator for deciding between the specific types in the polymorhpic
  chain of types.\";s:4:\"type\";s:6:\"string\";}}s:13:\"discriminator\";s:7:\"jobType\";}s:14:\"JobQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  filters to list the jobs.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Status
  of the job.\";s:4:\"enum\";a:7:{i:0;s:7:\"Invalid\";i:1;s:10:\"InProgress\";i:2;s:9:\"Completed\";i:3;s:6:\"Failed\";i:4;s:21:\"CompletedWithWarnings\";i:5;s:9:\"Cancelled\";i:6;s:10:\"Cancelling\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"JobStatus\";s:13:\"modelAsString\";b:0;}}s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Type
  of backup managmenent for the job.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"BackupManagementType\";s:13:\"modelAsString\";b:0;}}s:9:\"operation\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  type of operation.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:15:\"ConfigureBackup\";i:2;s:6:\"Backup\";i:3;s:7:\"Restore\";i:4;s:13:\"DisableBackup\";i:5;s:16:\"DeleteBackupData\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"JobOperationType\";s:13:\"modelAsString\";b:0;}}s:5:\"jobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  ID of the job. Each jobID is unique.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"The
  time when the job starts. The value is in UTC.\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:48:\"The
  time when the job ends. The value is in UTC.\";s:4:\"type\";s:6:\"string\";}}}s:35:\"WorkloadProtectableItemResourceList\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  list of WorkloadProtectableItem resources.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of resources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/WorkloadProtectableItemResource\";}}}}s:23:\"OperationResultInfoBase\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  base class for operation result information.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"This
  property is the discriminator for deciding between the specific types in the polymorhpic
  chain of types.\";s:4:\"type\";s:6:\"string\";}}s:13:\"discriminator\";s:10:\"objectType\";}s:31:\"WorkloadProtectableItemResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"The
  base class for the backup item. Workload-specific backup items are derived from
  this class.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/WorkloadProtectableItem\";}}}s:21:\"ProtectedItemResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  base class for backup items.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}}s:23:\"WorkloadProtectableItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:91:\"The
  base class for backup item. Workload-specific backup items are derived from this
  class.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"backupManagementType\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  backup managemenent type.\";s:4:\"type\";s:6:\"string\";}s:19:\"protectableItemType\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  type of the backup item.\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  friendly name of the backup item.\";s:4:\"type\";s:6:\"string\";}s:15:\"protectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  state of the back up item.\";s:4:\"enum\";a:4:{i:0;s:7:\"Invalid\";i:1;s:12:\"NotProtected\";i:2;s:10:\"Protecting\";i:3;s:9:\"Protected\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"ProtectionStatus\";s:13:\"modelAsString\";b:0;}}}s:13:\"discriminator\";s:19:\"protectableItemType\";}s:16:\"BMSPOQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Filters
  the list of backup items.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"The
  backup management type.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"BackupManagementType\";s:13:\"modelAsString\";b:0;}}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  backup status query parameter.\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  friendly name for the item.\";s:4:\"type\";s:6:\"string\";}}}s:25:\"ProtectedItemResourceList\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  list of ProtectedItem resources.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  list of resources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ProtectedItemResource\";}}}}s:13:\"ProtectedItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  base class for backup items.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"protectedItemType\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  backup item type.\";s:4:\"type\";s:6:\"string\";}s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  backup managemenent type associated with the backup item.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"BackupManagementType\";s:13:\"modelAsString\";b:0;}}s:12:\"workloadType\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  workload type for this item.\";s:4:\"enum\";a:8:{i:0;s:7:\"Invalid\";i:1;s:2:\"VM\";i:2;s:10:\"FileFolder\";i:3;s:10:\"AzureSqlDb\";i:4;s:5:\"SQLDB\";i:5;s:8:\"Exchange\";i:6;s:10:\"Sharepoint\";i:7;s:10:\"DPMUnknown\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"DataSourceType\";s:13:\"modelAsString\";b:0;}}s:16:\"sourceResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  ID of the resource to be backed up.\";s:4:\"type\";s:6:\"string\";}s:8:\"policyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  ID of the backup policy associated with this backup item.\";s:4:\"type\";s:6:\"string\";}s:17:\"lastRecoveryPoint\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:80:\"The
  timestamp when the most recent backup copy was created for this backup item.\";s:4:\"type\";s:6:\"string\";}}s:13:\"discriminator\";s:17:\"protectedItemType\";}s:27:\"GetProtectedItemQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"This
  object filters the list of backup items.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"expand\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Specifies
  if the additional information should be provided for this item.\";s:4:\"type\";s:6:\"string\";}}}s:21:\"BackupRequestResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Base
  class for the backup request. Workload-specific backup requests are derived from
  this class.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BackupRequest\";}}}s:24:\"ProtectedItemQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Filters
  the list of backup items.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  backup management type associated with an item.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"BackupManagementType\";s:13:\"modelAsString\";b:0;}}s:8:\"itemType\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  workload type associated with an item.\";s:4:\"enum\";a:8:{i:0;s:7:\"Invalid\";i:1;s:2:\"VM\";i:2;s:10:\"FileFolder\";i:3;s:10:\"AzureSqlDb\";i:4;s:5:\"SQLDB\";i:5;s:8:\"Exchange\";i:6;s:10:\"Sharepoint\";i:7;s:10:\"DPMUnknown\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"DataSourceType\";s:13:\"modelAsString\";b:0;}}s:10:\"policyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  name of the backup policy associated with the item.\";s:4:\"type\";s:6:\"string\";}s:13:\"containerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the container.\";s:4:\"type\";s:6:\"string\";}}}s:25:\"RecoveryPointResourceList\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  list of RecoveryPoint resources.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  list of resources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/RecoveryPointResource\";}}}}s:13:\"BackupRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:99:\"The
  base class for a backup request. Workload-specific backup requests are derived from
  this class.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"This
  property is used as the discriminator for deciding the specific types in the polymorhpic
  chain of types.\";s:4:\"type\";s:6:\"string\";}}s:13:\"discriminator\";s:10:\"objectType\";}s:21:\"RecoveryPointResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  base class for backup copies. Workload-specific backup copies are derived from this
  class.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RecoveryPoint\";}}}s:31:\"ProtectionContainerResourceList\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  list of ProtectionContainer resources.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  list of resources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ProtectionContainerResource\";}}}}s:13:\"RecoveryPoint\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"The
  base class for backup copies. Workload-specific backup copies are derived from this
  class.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"This
  property is used as the discriminator for deciding the specific types in the polymorhpic
  chain of types.\";s:4:\"type\";s:6:\"string\";}}s:13:\"discriminator\";s:10:\"objectType\";}s:16:\"BMSRPQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Filters
  the list of backup copies based on the property.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"startDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:42:\"Use
  backup copies created after this time.\";s:4:\"type\";s:6:\"string\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:43:\"Use
  backup copies created before this time.\";s:4:\"type\";s:6:\"string\";}}}s:27:\"ProtectionContainerResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"Base
  class for a container with backup items. Containers with specific workloads are
  derived from this class.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProtectionContainer\";}}}s:28:\"ProtectionPolicyResourceList\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  list of ProtectionPolicy resources.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  list of resources.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ProtectionPolicyResource\";}}}}s:19:\"ProtectionContainer\";O:8:\"stdClass\":4:{s:11:\"description\";s:113:\"The
  base class for a container with backup items. Containers with specific workloads
  are derived from this class.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Friendly
  name of the container.\";s:4:\"type\";s:6:\"string\";}s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  backup managemenent type for the container.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"BackupManagementType\";s:13:\"modelAsString\";b:0;}}s:18:\"registrationStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  container's registration status with the Recovery Services vault.\";s:4:\"type\";s:6:\"string\";}s:12:\"healthStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  status of the container's health.\";s:4:\"type\";s:6:\"string\";}s:13:\"containerType\";O:8:\"stdClass\":3:{s:11:\"description\";s:345:\"The
  type assigned to the container. The values to use for each of these propertes are:<br/>
  1. Compute Azure VM is Microsoft.Compute/virtualMachines<br/> 2. Classic Compute
  Azure VM is Microsoft.ClassicCompute/virtualMachines<br/> 3. Windows machines (like
  Azure Backup Server and DPM) is Windows<br/> 4. Azure SQL instance is AzureSqlContainer.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:21:\"protectableObjectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  protectable object type associated with the container.\";s:4:\"type\";s:6:\"string\";}}s:13:\"discriminator\";s:21:\"protectableObjectType\";}s:23:\"BMSContainerQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  query filters that can be used with the list containers API.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  backup management type for this container.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"BackupManagementType\";s:13:\"modelAsString\";b:0;}}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  status of the container's registration with the Recovery Services vault.\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  friendly name of the container.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"ProtectionPolicyResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  base class for backup policy. Workload-specific backup policies are derived from
  this class.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionPolicy\";}}}s:22:\"RestoreRequestResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"The
  base class for a restore request. Workload-specific restore requests are derived
  from this class.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RestoreRequest\";}}}s:16:\"ProtectionPolicy\";O:8:\"stdClass\":4:{s:11:\"description\";s:98:\"The
  base class for a backup policy. Workload-specific backup policies are derived from
  this class.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"protectedItemsCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:48:\"The
  number of items associated with this policy.\";s:4:\"type\";s:7:\"integer\";}s:20:\"backupManagementType\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"This
  property is used as the discriminator for deciding the specific types in the polymorhpic
  chain of types.\";s:4:\"type\";s:6:\"string\";}}s:13:\"discriminator\";s:20:\"backupManagementType\";}s:27:\"ProtectionPolicyQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"This
  object filters the list of backup policies.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  backup management type associated with the backup policy.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"BackupManagementType\";s:13:\"modelAsString\";b:0;}}}}s:18:\"ILRRequestResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  parameters to restore files or folders.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ILRRequest\";}}}s:14:\"RestoreRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:100:\"The
  base class for restore requests. Workload-specific restore requests are derived
  from this class.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"This
  property is used as the discriminator for deciding the specific types in the polymorhpic
  chain of types.\";s:4:\"type\";s:6:\"string\";}}s:13:\"discriminator\";s:10:\"objectType\";}s:10:\"ILRRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Parameters
  to restore file or folders API.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"This
  property is used as the discriminator for deciding the specific types in the polymorhpic
  chain of types.\";s:4:\"type\";s:6:\"string\";}}s:13:\"discriminator\";s:10:\"objectType\";}s:23:\"AzureBackupServerEngine\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"The
  backup engine type when Azure Backup Server is used to manage the backups.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BackupEngineBase\";}}s:24:\"x-ms-discriminator-value\";s:23:\"AzureBackupServerEngine\";}s:15:\"DpmBackupEngine\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"The
  backup engine type when Data Protection Manager (DPM) is used to manage backups.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BackupEngineBase\";}}s:24:\"x-ms-discriminator-value\";s:15:\"DpmBackupEngine\";}s:17:\"AzureSqlContainer\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Azure
  SQL workload-specific container.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProtectionContainer\";}}s:24:\"x-ms-discriminator-value\";s:17:\"AzureSqlContainer\";}s:15:\"IaaSVMContainer\";O:8:\"stdClass\":5:{s:11:\"description\";s:36:\"IaaS
  VM workload-specific container.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProtectionContainer\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"virtualMachineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  fully qualified Resource Manager URL of the virtual machine represented by this
  Azure IaaS VM container.\";s:4:\"type\";s:6:\"string\";}s:21:\"virtualMachineVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Specifies
  whether the container represents a classic or a Resource Manager-deployed virtual
  machine.\";s:4:\"type\";s:6:\"string\";}s:13:\"resourceGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  resource group name associated with the Recovery Services vault.\";s:4:\"type\";s:6:\"string\";}}s:24:\"x-ms-discriminator-value\";s:15:\"IaaSVMContainer\";}s:12:\"MabContainer\";O:8:\"stdClass\":5:{s:11:\"description\";s:72:\"The
  container associated with items backed up using Azure Backup Server.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProtectionContainer\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"canReRegister\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  container can be registered one more time.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"containerId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:25:\"The
  ID for the container.\";s:4:\"type\";s:7:\"integer\";}s:18:\"protectedItemCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"The
  number of backup items in the container.\";s:4:\"type\";s:7:\"integer\";}s:12:\"agentVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  version of the agent used with this container.\";s:4:\"type\";s:6:\"string\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/MabContainerExtendedInfo\";s:11:\"description\";s:41:\"Additional
  information for the container.\";}}s:24:\"x-ms-discriminator-value\";s:19:\"MABWindowsContainer\";}s:24:\"MabContainerExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Additional
  information for the container.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"lastRefreshedAt\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:49:\"The
  time stamp when this container was refreshed.\";s:4:\"type\";s:6:\"string\";}s:14:\"backupItemType\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  type of backup items associated with this container.\";s:4:\"enum\";a:8:{i:0;s:7:\"Invalid\";i:1;s:2:\"VM\";i:2;s:10:\"FileFolder\";i:3;s:10:\"AzureSqlDb\";i:4;s:5:\"SQLDB\";i:5;s:8:\"Exchange\";i:6;s:10:\"Sharepoint\";i:7;s:10:\"DPMUnknown\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"BackupItemType\";s:13:\"modelAsString\";b:0;}}s:11:\"backupItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  list of backup items associated with this container.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"policyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  backup policy associated with this container.\";s:4:\"type\";s:6:\"string\";}s:16:\"lastBackupStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  latest backup status of this container.\";s:4:\"type\";s:6:\"string\";}}}s:21:\"IaaSVMProtectableItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:103:\"This
  Azure VM workload-specific (also known as IaaS VM workload-specific) backup item
  can be backed up.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/WorkloadProtectableItem\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"virtualMachineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  fully qualified Resource Manager ID of the virtual machine.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"AzureIaaSVMProtectedItem\";O:8:\"stdClass\":5:{s:11:\"description\";s:105:\"This
  Azure VM workload-specific (also known as IaaS VM workload-specific) backup item
  has been backed up.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  friendly name of the VM represented by this backup item.\";s:4:\"type\";s:6:\"string\";}s:16:\"virtualMachineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  fully qualified Resource Manager ID of the virtual machine represented by this item.\";s:4:\"type\";s:6:\"string\";}s:16:\"protectionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  backup status of this backup item.\";s:4:\"type\";s:6:\"string\";}s:15:\"protectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"The
  backup state of this backup item.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:9:\"IRPending\";i:2;s:9:\"Protected\";i:3;s:15:\"ProtectionError\";i:4;s:17:\"ProtectionStopped\";i:5;s:16:\"ProtectionPaused\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"ProtectionState\";s:13:\"modelAsString\";b:0;}}s:16:\"lastBackupStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  last backup operation status. The possible values are: Healthy or Unhealthy.\";s:4:\"type\";s:6:\"string\";}s:14:\"lastBackupTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:64:\"The
  timestamp of the last backup operation for this backup item.\";s:4:\"type\";s:6:\"string\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/AzureIaaSVMProtectedItemExtendedInfo\";s:11:\"description\";s:44:\"Additional
  information for this backup item.\";}}s:24:\"x-ms-discriminator-value\";s:24:\"AzureIaaSVMProtectedItem\";}s:36:\"AzureIaaSVMProtectedItemExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Additional
  information for the Azure VM (also known as IaaS VM)-specific backup item.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"oldestRecoveryPoint\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:54:\"The
  oldest backup copy available for this backup item.\";s:4:\"type\";s:6:\"string\";}s:18:\"recoveryPointCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:59:\"The
  number of backup copies available for this backup item.\";s:4:\"type\";s:7:\"integer\";}s:18:\"policyInconsistent\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Specifies
  if the backup policy associated with the backup item is inconsistent.\";s:4:\"type\";s:7:\"boolean\";}}}s:26:\"MabFileFolderProtectedItem\";O:8:\"stdClass\":5:{s:11:\"description\";s:55:\"This
  is a file or folder workload-specific backup item.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  friendly name of this backup item.\";s:4:\"type\";s:6:\"string\";}s:12:\"computerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  name of the computer associated with this backup item.\";s:4:\"type\";s:6:\"string\";}s:16:\"lastBackupStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  status of last backup operation.\";s:4:\"type\";s:6:\"string\";}s:15:\"protectionState\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  states for this property are: Protected, ProtectionStopped, IRPending, or ProtectionError.\";s:4:\"type\";s:6:\"string\";}s:28:\"isScheduledForDeferredDelete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:52:\"#/definitions/MabFileFolderProtectedItemExtendedInfo\";s:11:\"description\";s:44:\"Additional
  information for this backup item.\";}}s:24:\"x-ms-discriminator-value\";s:26:\"MabFileFolderProtectedItem\";}s:38:\"MabFileFolderProtectedItemExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Additional
  information for the backup item.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"lastRefreshedAt\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:56:\"The
  last day and time the agent synced with the service.\";s:4:\"type\";s:6:\"string\";}s:19:\"oldestRecoveryPoint\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:33:\"The
  oldest backup copy available.\";s:4:\"type\";s:6:\"string\";}s:18:\"recoveryPointCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:60:\"The
  number of backup copies associated with the backup item.\";s:4:\"type\";s:7:\"integer\";}}}s:21:\"AzureSqlProtectedItem\";O:8:\"stdClass\":5:{s:11:\"description\";s:51:\"This
  is an Azure SQL workload-specific backup item.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProtectedItem\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"protectedItemDataId\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  internal ID of a backup item. The internal ID is used by the Azure SQL Backup engine
  to contact Recovery Services.\";s:4:\"type\";s:6:\"string\";}s:15:\"protectionState\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  backup state of the backup item.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:9:\"IRPending\";i:2;s:9:\"Protected\";i:3;s:15:\"ProtectionError\";i:4;s:17:\"ProtectionStopped\";i:5;s:16:\"ProtectionPaused\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"ProtectedItemState\";s:13:\"modelAsString\";b:0;}}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/AzureSqlProtectedItemExtendedInfo\";s:11:\"description\";s:44:\"Additional
  information for this backup item.\";}}s:24:\"x-ms-discriminator-value\";s:31:\"Microsoft.Sql/servers/databases\";}s:33:\"AzureSqlProtectedItemExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Additional
  information for the Azure SQL specific backup item.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"oldestRecoveryPoint\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:62:\"The
  oldest backup copy available for this item in the service.\";s:4:\"type\";s:6:\"string\";}s:18:\"recoveryPointCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:59:\"The
  number of available backup copies for this backup item.\";s:4:\"type\";s:7:\"integer\";}s:11:\"policyState\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  state of the backup policy associated with this backup item.\";s:4:\"type\";s:6:\"string\";}}}s:19:\"IaasVMBackupRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:77:\"This
  is an Azure VM (also known as IaaS VM) workload-specific backup request.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BackupRequest\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:28:\"recoveryPointExpiryTimeInUTC\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:80:\"The
  backup copy will expire after the time specified. The time is in UTC format.\";s:4:\"type\";s:6:\"string\";}}s:24:\"x-ms-discriminator-value\";s:19:\"IaasVMBackupRequest\";}s:27:\"AzureIaaSVMProtectionPolicy\";O:8:\"stdClass\":5:{s:11:\"description\";s:65:\"Azure
  VM (also known as IaaS VM) workload-specific backup policy.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionPolicy\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"schedulePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SchedulePolicy\";s:11:\"description\";s:55:\"The
  backup schedule specified as part of backup policy.\";}s:15:\"retentionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";s:11:\"description\";s:70:\"The
  retention policy with the details on backup copy retention ranges.\";}}s:24:\"x-ms-discriminator-value\";s:11:\"AzureIaasVM\";}s:14:\"SchedulePolicy\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  base class for backup schedules.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"schedulePolicyType\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"This
  property is used as the discriminator for deciding the specific types in the polymorhpic
  chain of types.\";s:4:\"type\";s:6:\"string\";}}s:13:\"discriminator\";s:18:\"schedulePolicyType\";}s:15:\"RetentionPolicy\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  base class for retention policy.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"retentionPolicyType\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"This
  property is used as the discriminator for deciding the specific types in the polymorhpic
  chain of types.\";s:4:\"type\";s:6:\"string\";}}s:13:\"discriminator\";s:19:\"retentionPolicyType\";}s:19:\"MabProtectionPolicy\";O:8:\"stdClass\":5:{s:11:\"description\";s:51:\"The
  backup policy for the file or folder container.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionPolicy\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"schedulePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SchedulePolicy\";s:11:\"description\";s:44:\"The
  schedule specified in the backup policy.\";}s:15:\"retentionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";s:11:\"description\";s:46:\"The
  details specified in the Retention policy.\";}}s:24:\"x-ms-discriminator-value\";s:3:\"MAB\";}s:24:\"AzureSqlProtectionPolicy\";O:8:\"stdClass\":5:{s:11:\"description\";s:47:\"
  The Azure SQL workload-specific backup policy.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProtectionPolicy\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"retentionPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";s:11:\"description\";s:29:\"The
  retention policy details.\";}}s:24:\"x-ms-discriminator-value\";s:8:\"AzureSql\";}s:19:\"IaasVMRecoveryPoint\";O:8:\"stdClass\":5:{s:11:\"description\";s:63:\"Azure
  VM (also known as IaaS VM) workload-specific backup copy.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RecoveryPoint\";}}s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"recoveryPointType\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Type
  of the backup copy.\";s:4:\"type\";s:6:\"string\";}s:17:\"recoveryPointTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"The
  date and time when the backup copy was created.\";s:4:\"type\";s:6:\"string\";}s:27:\"recoveryPointAdditionalInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Additional
  information associated with this backup copy.\";s:4:\"type\";s:6:\"string\";}s:19:\"sourceVMStorageType\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  storage type for the VM whose backup copy was created.\";s:4:\"type\";s:6:\"string\";}s:19:\"isSourceVMEncrypted\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Identifies
  whether the VM was encrypted when the backup copy is created.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"keyAndSecret\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/KeyAndSecretDetails\";s:11:\"description\";s:98:\"Required
  details for recovering an encrypted VM. Applicable only when IsSourceVMEncrypted
  is true.\";}s:25:\"isInstantILRSessionActive\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Answer
  to the question - Is the session to recover items from this backup copy still active.\";s:4:\"type\";s:7:\"boolean\";}}s:24:\"x-ms-discriminator-value\";s:19:\"IaasVMRecoveryPoint\";}s:19:\"KeyAndSecretDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:389:\"BEK
  stands for Bitlocker Encryption Key.\r\n KEK stands for Key Encryption Key. KEK
  is the encryption key used to protect the Secret for the BEK\r\n  If the VM is encrypted,
  then the service stores the following details :\r\n  1. Secret(BEK) - Url + Backup
  Data + vaultID.\r\n            2. Key(KEK) - Url + Backup Data + vaultID.\r\n   It
  is possible for the BEK and KEK to have different vaultIDs.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"kekDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/KEKDetails\";s:11:\"description\";s:90:\"The
  Key Encryption Key (KEK) is the encryption key for the Bitlocker Encryption Key
  (BEK).\";}s:10:\"bekDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BEKDetails\";s:11:\"description\";s:32:\"BEK
  is Bitlocker Encrpytion Key.\";}}}s:10:\"KEKDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"The
  Key Encryption Key (KEK) is the encryption key for the Bitlocker Encryption Key
  (BEK).\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"keyUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Key
  refers to the Key Encryption Key (KEK). The KEK is the Key to unlock the Secret.\";s:4:\"type\";s:6:\"string\";}s:10:\"keyVaultId\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Key
  Vault ID identifies where the KEK is stored.\";s:4:\"type\";s:6:\"string\";}s:13:\"keyBackupData\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Key
  Backup Data refers to Key Encryption Key (KEK) data.\";s:4:\"type\";s:6:\"string\";}}}s:10:\"BEKDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"BEK
  is Bitlocker Encrpytion Key.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"secretUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Secret
  refers to Bitlocker Encryption Key (BEK). The Secret can be unlocked by the key
  (or KEK).\";s:4:\"type\";s:6:\"string\";}s:13:\"secretVaultId\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"ID
  of the Key Vault where this Secret is stored.\";s:4:\"type\";s:6:\"string\";}s:10:\"secretData\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Bitlocker
  Encryption Key (BEK) data.\";s:4:\"type\";s:6:\"string\";}}}s:20:\"GenericRecoveryPoint\";O:8:\"stdClass\":5:{s:11:\"description\";s:20:\"Generic
  backup copy.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RecoveryPoint\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Friendly
  name of the backup copy.\";s:4:\"type\";s:6:\"string\";}s:17:\"recoveryPointType\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Type
  of the backup copy.\";s:4:\"type\";s:6:\"string\";}s:17:\"recoveryPointTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:43:\"The
  time when this backup copy was created.\";s:4:\"type\";s:6:\"string\";}s:27:\"recoveryPointAdditionalInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Additional
  information associated with this backup copy.\";s:4:\"type\";s:6:\"string\";}}s:24:\"x-ms-discriminator-value\";s:20:\"GenericRecoveryPoint\";}s:20:\"IaasVMRestoreRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:34:\"IaaS
  VM workload-specific restore.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RestoreRequest\";}}s:10:\"properties\";O:8:\"stdClass\":13:{s:15:\"recoveryPointId\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  ID of the backup copy to be recovered.\";s:4:\"type\";s:6:\"string\";}s:12:\"recoveryType\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"The
  type of this recovery.\";s:4:\"enum\";a:4:{i:0;s:7:\"Invalid\";i:1;s:16:\"OriginalLocation\";i:2;s:17:\"AlternateLocation\";i:3;s:12:\"RestoreDisks\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"RecoveryType\";s:13:\"modelAsString\";b:0;}}s:16:\"sourceResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  fully qualified Resource Manager ID of the VM being recovered.\";s:4:\"type\";s:6:\"string\";}s:22:\"targetVirtualMachineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"The
  complete Resource Manager ID of the VM that will be created.\r\n            For
  example: /subscriptions/{subId}/resourcegroups/{rg}/provider/Microsoft.Compute/virtualmachines/{vm}\";s:4:\"type\";s:6:\"string\";}s:21:\"targetResourceGroupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"The
  Resource Manager ID of the resource group you're creating for this VM and other
  artifacts.\r\n    For example: /subscriptions/{subId}/resourcegroups/{rg}\";s:4:\"type\";s:6:\"string\";}s:16:\"storageAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"The
  fully qualified Resource Manager ID of the storage account where the VM will be
  restored.\";s:4:\"type\";s:6:\"string\";}s:16:\"virtualNetworkId\";O:8:\"stdClass\":2:{s:11:\"description\";s:165:\"This
  is the virtual network ID of the vnet that is attached to the virtual machine.\r\n
  \           Your join action permissions are validated during the linked access.\";s:4:\"type\";s:6:\"string\";}s:8:\"subnetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:243:\"Subnet
  ID is the identifier for the VM to be restored. For Classic VMs the subnet ID would
  be {VnetID}/Subnet/{SubnetName}, and for the Resource Manager VMs, the subnet ID
  would be the Resource Manager resource ID used to represent the subnet.\";s:4:\"type\";s:6:\"string\";}s:18:\"targetDomainNameId\";O:8:\"stdClass\":2:{s:11:\"description\";s:199:\"The
  fully qualified Resource Manager ID of the domain name to be associated with the
  VM being restored. Use the Resource Manager ID to identify the domain, only for
  Classic-deployed virtual machines.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  region where the virtual machine is restored.\";s:4:\"type\";s:6:\"string\";}s:13:\"affinityGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"The
  affinity group associated with the VM to be restored. Affinity groups are used only
  for Classic-deployed virtual machines.\";s:4:\"type\";s:6:\"string\";}s:21:\"createNewCloudService\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"Asks
  the question if a new cloud service should be created while restoring the VM. If
  the answer is false, the VM is restored to the same cloud service.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"encryptionDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EncryptionDetails\";s:11:\"description\";s:72:\"If
  the VM was encrypted at the time of backup, these details are needed.\";}}s:24:\"x-ms-discriminator-value\";s:20:\"IaasVMRestoreRequest\";}s:17:\"EncryptionDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Details
  needed if the VM was encrypted at the time of backup.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"encryptionEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Identifies
  whether the backup copy represents an encrypted VM at the time of backup.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"kekUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"URL
  of the Key Encryption Key (KEK).\";s:4:\"type\";s:6:\"string\";}s:12:\"secretKeyUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"URL
  of the Bitlocker Encryption Key (BEK).\";s:4:\"type\";s:6:\"string\";}s:10:\"kekVaultId\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  ID of Key Vault where the Key Encryption Key (KEK) is stored.\";s:4:\"type\";s:6:\"string\";}s:16:\"secretKeyVaultId\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  ID of Key Vault where the Bitlocker Encryption Key (BEK), or Secret, is stored.\";s:4:\"type\";s:6:\"string\";}}}s:28:\"IaasVMILRRegistrationRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:89:\"Restore
  files or folders from a backup copy, or recovery point, of an IaaS (or Azure) VM.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ILRRequest\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"recoveryPointId\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  ID of the IaaS VM recovery point used to restore the files or folders.\";s:4:\"type\";s:6:\"string\";}s:16:\"virtualMachineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  fully qualified Resource Manager ID of the VM used to restore the files or folders.\";s:4:\"type\";s:6:\"string\";}s:13:\"initiatorName\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
[...]
