---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:221:\"The Microsoft
  Azure management API provides create, read, update, and delete functionality for
  Azure PostgreSQL resources including servers, databases, firewall rules, log files
  and configurations with new business model.\";s:5:\"title\";s:26:\"PostgreSQLManagementClient\";s:7:\"version\";s:18:\"2017-12-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:178:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/postgresql/resource-manager/Microsoft.DBforPostgreSQL/preview/2017-12-01-preview/postgresql.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:10:\"postgresql\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"azure_postgresql\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":34:{s:13:\"Configuration\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:27:\"Represents
  a Configuration.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/ConfigurationProperties\";s:11:\"description\";s:34:\"The
  properties of a configuration.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:23:\"ConfigurationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"A
  list of server configurations.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  list of server configurations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Configuration\";}s:4:\"type\";s:5:\"array\";}}}s:23:\"ConfigurationProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  properties of a configuration.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"allowedValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Allowed
  values of the configuration.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"dataType\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Data
  type of the configuration.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"defaultValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Default
  value of the configuration.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Description
  of the configuration.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Source
  of the configuration.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Value
  of the configuration.\";s:4:\"type\";s:6:\"string\";}}}s:8:\"Database\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:22:\"Represents
  a Database.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/DatabaseProperties\";s:11:\"description\";s:29:\"The
  properties of a database.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:18:\"DatabaseListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"A
  List of databases.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  list of databases housed in a server\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Database\";}s:4:\"type\";s:5:\"array\";}}}s:18:\"DatabaseProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  properties of a database.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"charset\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  charset of the database.\";s:4:\"type\";s:6:\"string\";}s:9:\"collation\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  collation of the database.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"FirewallRule\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:34:\"Represents
  a server firewall rule.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/FirewallRuleProperties\";s:11:\"description\";s:34:\"The
  properties of a firewall rule.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}}s:22:\"FirewallRuleListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"A
  list of firewall rules.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  list of firewall rules in a server.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FirewallRule\";}s:4:\"type\";s:5:\"array\";}}}s:22:\"FirewallRuleProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  properties of a server firewall rule.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"endIpAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  end IP address of the server firewall rule. Must be IPv4 format.\";s:7:\"pattern\";s:105:\"^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$\";s:4:\"type\";s:6:\"string\";}s:14:\"startIpAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  start IP address of the server firewall rule. Must be IPv4 format.\";s:7:\"pattern\";s:105:\"^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:14:\"startIpAddress\";i:1;s:12:\"endIpAddress\";}}s:7:\"LogFile\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:22:\"Represents
  a log file.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the log file.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/LogFileProperties\";s:11:\"description\";s:31:\"The
  properties of the log file.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:17:\"LogFileListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"A
  list of log files.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  list of log files.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/LogFile\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"LogFileProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  properties of a log file.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"createdTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Creation
  timestamp of the log file.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Last
  modified timestamp of the log file.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Log
  file name.\";s:4:\"type\";s:6:\"string\";}s:8:\"sizeInKB\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Size
  of the log file.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Type
  of the log file.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  url to download the log file from.\";s:4:\"type\";s:6:\"string\";}}}s:16:\"NameAvailability\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Represents
  a resource name availability.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Error
  Message.\";s:4:\"type\";s:6:\"string\";}s:13:\"nameAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Indicates
  whether the resource name is available.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Reason
  for name being unavailable.\";s:4:\"type\";s:6:\"string\";}}}s:23:\"NameAvailabilityRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Request
  from client to check resource name availability.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Resource
  name to verify.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Resource
  type used for verification.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:9:\"Operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"REST
  API operation definition.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"display\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/OperationDisplay\";s:11:\"description\";s:74:\"The
  localized display information for this particular operation or action.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  name of the operation being performed on this particular object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":5:{s:11:\"description\";s:39:\"The
  intended executor of the operation.\";s:4:\"enum\";a:3:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"user\";i:2;s:6:\"system\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"OperationOrigin\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:42:\"Additional
  descriptions for the operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:0;}}}s:16:\"OperationDisplay\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Display
  metadata associated with the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Operation
  description.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Localized
  friendly name for the operation.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Operation
  resource provider name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Resource
  on which the operation is performed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"A
  list of resource provider operations.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  list of resource provider operations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}}s:25:\"PerformanceTierListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"A
  list of performance tiers.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  list of performance tiers\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/PerformanceTierProperties\";}s:4:\"type\";s:5:\"array\";}}}s:25:\"PerformanceTierProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Performance
  tier properties\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"ID
  of the performance tier.\";s:4:\"type\";s:6:\"string\";}s:22:\"maxBackupRetentionDays\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Maximum
  Backup retention in days for the performance tier edition\";s:4:\"type\";s:7:\"integer\";}s:12:\"maxStorageMB\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Max
  storage allowed for a server.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:22:\"minBackupRetentionDays\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Minimum
  Backup retention in days for the performance tier edition\";s:4:\"type\";s:7:\"integer\";}s:12:\"minStorageMB\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Max
  storage allowed for a server.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:22:\"serviceLevelObjectives\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Service
  level objectives associated with the performance tier\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/PerformanceTierServiceLevelObjectives\";}s:4:\"type\";s:5:\"array\";}}}s:37:\"PerformanceTierServiceLevelObjectives\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Service
  level objectives for performance tier.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"edition\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Edition
  of the performance tier.\";s:4:\"type\";s:6:\"string\";}s:18:\"hardwareGeneration\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Hardware
  generation associated with the service level objective\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"ID
  for the service level objective.\";s:4:\"type\";s:6:\"string\";}s:5:\"vCore\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"vCore
  associated with the service level objective\";s:4:\"type\";s:7:\"integer\";}}}s:13:\"ProxyResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Resource
  properties.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Resource
  ID\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:6:\"Server\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:11:\"description\";s:20:\"Represents
  a server.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/ServerProperties\";s:11:\"description\";s:25:\"Properties
  of the server.\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:37:\"The
  SKU (pricing tier) of the server.\";}}}s:15:\"ServerForCreate\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Represents
  a server to be created.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  location the resource resides in.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/ServerPropertiesForCreate\";s:11:\"description\";s:25:\"Properties
  of the server.\";s:19:\"x-ms-client-flatten\";b:0;}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:37:\"The
  SKU (pricing tier) of the server.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:61:\"Application-specific
  metadata in the form of key-value pairs.\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:10:\"properties\";i:1;s:8:\"location\";}}s:16:\"ServerListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"A
  list of servers.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  list of servers\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Server\";}s:4:\"type\";s:5:\"array\";}}}s:16:\"ServerProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  properties of a server.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"administratorLogin\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"The
  administrator's login name of a server. Can only be specified when the server is
  being created (and is required for creation).\";s:4:\"type\";s:6:\"string\";}s:19:\"earliestRestoreDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Earliest
  restore point creation time (ISO8601 format)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:24:\"fullyQualifiedDomainName\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  fully qualified domain name of a server.\";s:4:\"type\";s:6:\"string\";}s:14:\"sslEnforcement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SslEnforcement\";s:11:\"description\";s:53:\"Enable
  ssl enforcement or not when connect to server.\";}s:14:\"storageProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StorageProfile\";s:11:\"description\";s:28:\"Storage
  profile of a server.\";}s:16:\"userVisibleState\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"A
  state of a server that is visible to user.\";s:4:\"enum\";a:3:{i:0;s:5:\"Ready\";i:1;s:8:\"Dropping\";i:2;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:11:\"ServerState\";}}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ServerVersion\";s:11:\"description\";s:15:\"Server
  version.\";}}}s:25:\"ServerPropertiesForCreate\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  properties used to create a new server.\";s:13:\"discriminator\";s:10:\"createMode\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"createMode\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  mode to create a new server.\";s:4:\"enum\";a:2:{i:0;s:7:\"Default\";i:1;s:18:\"PointInTimeRestore\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"CreateMode\";}}s:14:\"sslEnforcement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SslEnforcement\";s:11:\"description\";s:53:\"Enable
  ssl enforcement or not when connect to server.\";}s:14:\"storageProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StorageProfile\";s:11:\"description\";s:28:\"Storage
  profile of a server.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ServerVersion\";s:11:\"description\";s:15:\"Server
  version.\";}}s:8:\"required\";a:1:{i:0;s:10:\"createMode\";}}s:32:\"ServerPropertiesForDefaultCreate\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ServerPropertiesForCreate\";}}s:11:\"description\";s:43:\"The
  properties used to create a new server.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"administratorLogin\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"The
  administrator's login name of a server. Can only be specified when the server is
  being created (and is required for creation).\";s:4:\"type\";s:6:\"string\";}s:26:\"administratorLoginPassword\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  password of the administrator login.\";s:6:\"format\";s:8:\"password\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:18:\"administratorLogin\";i:1;s:26:\"administratorLoginPassword\";}s:24:\"x-ms-discriminator-value\";s:7:\"Default\";}s:26:\"ServerPropertiesForRestore\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ServerPropertiesForCreate\";}}s:11:\"description\";s:58:\"The
  properties to a new server by restoring from a backup.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"restorePointInTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Restore
  point creation time (ISO8601 format), specifying the time to restore from.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"sourceServerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  source server id to restore from.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:14:\"sourceServerId\";i:1;s:18:\"restorePointInTime\";}s:24:\"x-ms-discriminator-value\";s:18:\"PointInTimeRestore\";}s:22:\"ServerUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Parameters
  allowd to update for a server.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  properties that can be updated for a server.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:26:\"administratorLoginPassword\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  password of the administrator login.\";s:6:\"format\";s:8:\"password\";s:4:\"type\";s:6:\"string\";}s:14:\"sslEnforcement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SslEnforcement\";s:11:\"description\";s:53:\"Enable
  ssl enforcement or not when connect to server.\";}s:14:\"storageProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StorageProfile\";s:11:\"description\";s:28:\"Storage
  profile of a server.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ServerVersion\";s:11:\"description\";s:24:\"The
  version of a server.\";}}s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:37:\"The
  SKU (pricing tier) of the server.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:61:\"Application-specific
  metadata in the form of key-value pairs.\";s:4:\"type\";s:6:\"object\";}}}s:13:\"ServerVersion\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  version of a server.\";s:4:\"enum\";a:2:{i:0;s:3:\"9.5\";i:1;s:3:\"9.6\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"ServerVersion\";}}s:3:\"Sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Billing
  information related properties of a server.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"capacity\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"The
  scale up/out capacity, representing server's compute units.\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:6:\"family\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  family of hardware.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  name of the sku, typically, tier + family + cores, e.g. B_Gen4_1, GP_Gen5_8.\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  size code, to be interpreted by resource as appropriate.\";s:4:\"type\";s:6:\"string\";}s:4:\"tier\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  tier of the particular SKU, e.g. Basic.\";s:4:\"enum\";a:3:{i:0;s:5:\"Basic\";i:1;s:14:\"GeneralPurpose\";i:2;s:15:\"MemoryOptimized\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:7:\"SkuTier\";}}}}s:14:\"SslEnforcement\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Enable
  ssl enforcement or not when connect to server.\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"SslEnforcementEnum\";}}s:14:\"StorageProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Storage
  Profile properties of a server\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"backupRetentionDays\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Backup
  retention days for the server.\";s:4:\"type\";s:7:\"integer\";}s:18:\"geoRedundantBackup\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Enable
  Geo-redundant or not for server backup.\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"GeoRedundantBackup\";}}s:9:\"storageMB\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Max
  storage allowed for a server.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:15:\"TrackedResource\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:68:\"Resource
  properties including location and tags for track resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  location the resource resides in.\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:61:\"Application-specific
  metadata in the form of key-value pairs.\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}}}"
...
