---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"ComputeManagementClient\";s:11:\"description\";s:30:\"The
  Compute Management Client.\";s:7:\"version\";s:10:\"2017-03-30\";}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":145:{s:18:\"InstanceViewStatus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  status code.\";}s:5:\"level\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  level code.\";s:4:\"enum\";a:3:{i:0;s:4:\"Info\";i:1;s:7:\"Warning\";i:2;s:5:\"Error\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"StatusLevelTypes\";s:13:\"modelAsString\";b:0;}}s:13:\"displayStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  short localizable label for the status.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"The
  detailed status message, including for alerts and error messages.\";}s:4:\"time\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:23:\"The
  time of the status.\";}}s:11:\"description\";s:21:\"Instance view status.\";}s:25:\"AvailabilitySetProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:25:\"platformUpdateDomainCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:20:\"Update
  Domain count.\";}s:24:\"platformFaultDomainCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:19:\"Fault
  Domain count.\";}s:15:\"virtualMachines\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}s:11:\"description\";s:69:\"A
  list of references to all virtual machines in the availability set.\";}s:8:\"statuses\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/InstanceViewStatus\";}s:11:\"description\";s:32:\"The
  resource status information.\";}}s:11:\"description\";s:32:\"The instance view of
  a resource.\";}s:15:\"AvailabilitySet\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:39:\"#/definitions/AvailabilitySetProperties\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:27:\"Sku
  of the availability set\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:858:\"Specifies
  information about the availability set that the virtual machine should be assigned
  to. Virtual machines specified in the same availability set are allocated to different
  nodes to maximize availability. For more information about availability sets, see
  [Manage the availability of virtual machines](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-manage-availability?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json).
  <br><br> For more information on Azure planned maintenance, see [Planned maintenance
  for virtual machines in Azure](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-planned-maintenance?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json)
  <br><br> Currently, a VM can only be added to availability set at creation time.
  An existing VM cannot be added to an availability set.\";}s:25:\"AvailabilitySetListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AvailabilitySet\";}s:11:\"description\";s:29:\"The
  list of availability sets\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:125:\"The
  URI to fetch the next page of AvailabilitySets. Call ListNext() with this URI to
  fetch the next page of AvailabilitySets.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:45:\"The
  List Availability Set operation response.\";}s:18:\"VirtualMachineSize\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  name of the virtual machine size.\";}s:13:\"numberOfCores\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:58:\"The
  number of cores supported by the virtual machine size.\";}s:14:\"osDiskSizeInMB\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:61:\"The
  OS disk size, in MB, allowed by the virtual machine size.\";}s:20:\"resourceDiskSizeInMB\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:67:\"The
  resource disk size, in MB, allowed by the virtual machine size.\";}s:10:\"memoryInMB\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:67:\"The
  amount of memory, in MB, supported by the virtual machine size.\";}s:16:\"maxDataDiskCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:82:\"The
  maximum number of data disks that can be attached to the virtual machine size.\";}}s:11:\"description\";s:38:\"Describes
  the properties of a VM size.\";}s:28:\"VirtualMachineSizeListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/VirtualMachineSize\";}s:11:\"description\";s:34:\"The
  list of virtual machine sizes.\";}}s:11:\"description\";s:44:\"The List Virtual
  Machine operation response.\";}s:38:\"VirtualMachineExtensionImageProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"operatingSystem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  operating system this extension supports.\";}s:11:\"computeRole\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  type of role (IaaS or PaaS) this extension supports.\";}s:13:\"handlerSchema\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:104:\"The
  schema defined by publisher, where extension consumers should provide settings in
  a matching schema.\";}s:17:\"vmScaleSetEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:237:\"Whether
  the extension can be used on xRP VMScaleSets. By default existing extensions are
  usable on scalesets, but there might be cases where a publisher wants to explicitly
  indicate the extension is only enabled for CRP VMs but not VMSS.\";}s:26:\"supportsMultipleExtensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:52:\"Whether
  the handler can support multiple extensions.\";}}s:8:\"required\";a:3:{i:0;s:15:\"operatingSystem\";i:1;s:11:\"computeRole\";i:2;s:13:\"handlerSchema\";}s:11:\"description\";s:62:\"Describes
  the properties of a Virtual Machine Extension Image.\";}s:28:\"VirtualMachineExtensionImage\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:52:\"#/definitions/VirtualMachineExtensionImageProperties\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:8:\"location\";}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:44:\"Describes
  a Virtual Machine Extension Image.\";}s:27:\"VirtualMachineImageResource\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  name of the resource.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  supported Azure location of the resource.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:236:\"Specifies
  the tags that are assigned to the virtual machine. For more information about using
  tags, see [Using tags to organize your Azure resources](https://docs.microsoft.com/azure/azure-resource-manager/resource-group-using-tags.md).\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:8:\"location\";}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:43:\"Virtual
  machine image resource information.\";}s:35:\"VirtualMachineExtensionInstanceView\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  virtual machine extension name.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Specifies
  the type of the extension; an example is \"CustomScriptExtension\".\";}s:18:\"typeHandlerVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Specifies
  the version of the script handler.\";}s:11:\"substatuses\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/InstanceViewStatus\";}s:11:\"description\";s:32:\"The
  resource status information.\";}s:8:\"statuses\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/InstanceViewStatus\";}s:11:\"description\";s:32:\"The
  resource status information.\";}}s:11:\"description\";s:49:\"The instance view of
  a virtual machine extension.\";}s:33:\"VirtualMachineExtensionProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"forceUpdateTag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"How
  the extension handler should be forced to update even if the extension configuration
  has not changed.\";}s:9:\"publisher\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  name of the extension handler publisher.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Specifies
  the type of the extension; an example is \"CustomScriptExtension\".\";}s:18:\"typeHandlerVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Specifies
  the version of the script handler.\";}s:23:\"autoUpgradeMinorVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:230:\"Indicates
  whether the extension should use a newer minor version if one is available at deployment
  time. Once deployed, however, the extension will not upgrade minor versions unless
  redeployed, even with this property set to true.\";}s:8:\"settings\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:49:\"Json
  formatted public settings for the extension.\";}s:17:\"protectedSettings\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:116:\"The
  extension can contain either protectedSettings or protectedSettingsFromKeyVault
  or no protected settings at all.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"The
  provisioning state, which only appears in the response.\";}s:12:\"instanceView\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/VirtualMachineExtensionInstanceView\";s:11:\"description\";s:44:\"The
  virtual machine extension instance view.\";}}s:11:\"description\";s:56:\"Describes
  the properties of a Virtual Machine Extension.\";}s:39:\"VirtualMachineExtensionUpdateProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"forceUpdateTag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"How
  the extension handler should be forced to update even if the extension configuration
  has not changed.\";}s:9:\"publisher\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  name of the extension handler publisher.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Specifies
  the type of the extension; an example is \"CustomScriptExtension\".\";}s:18:\"typeHandlerVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Specifies
  the version of the script handler.\";}s:23:\"autoUpgradeMinorVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:230:\"Indicates
  whether the extension should use a newer minor version if one is available at deployment
  time. Once deployed, however, the extension will not upgrade minor versions unless
  redeployed, even with this property set to true.\";}s:8:\"settings\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:49:\"Json
  formatted public settings for the extension.\";}s:17:\"protectedSettings\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:116:\"The
  extension can contain either protectedSettings or protectedSettingsFromKeyVault
  or no protected settings at all.\";}}s:11:\"description\";s:56:\"Describes the properties
  of a Virtual Machine Extension.\";}s:23:\"VirtualMachineExtension\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:47:\"#/definitions/VirtualMachineExtensionProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:38:\"Describes
  a Virtual Machine Extension.\";}s:29:\"VirtualMachineExtensionUpdate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:53:\"#/definitions/VirtualMachineExtensionUpdateProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/UpdateResource\";}}s:11:\"description\";s:38:\"Describes
  a Virtual Machine Extension.\";}s:34:\"VirtualMachineExtensionsListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/VirtualMachineExtension\";}s:11:\"description\";s:22:\"The
  list of extensions\";}}s:11:\"description\";s:37:\"The List Extension operation
  response\";}s:12:\"PurchasePlan\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"publisher\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  publisher ID.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"The
  plan ID.\";}s:7:\"product\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:122:\"Specifies
  the product of the image from the marketplace. This is the same value as Offer under
  the imageReference element.\";}}s:8:\"required\";a:3:{i:0;s:9:\"publisher\";i:1;s:4:\"name\";i:2;s:7:\"product\";}s:11:\"description\";s:89:\"Used
  for establishing the purchase context of any 3rd Party artifact through MarketPlace.\";}s:11:\"OSDiskImage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"operatingSystem\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  operating system of the osDiskImage.\";s:4:\"enum\";a:2:{i:0;s:7:\"Windows\";i:1;s:5:\"Linux\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"OperatingSystemTypes\";s:13:\"modelAsString\";b:0;}}}s:8:\"required\";a:1:{i:0;s:15:\"operatingSystem\";}s:11:\"description\";s:39:\"Contains
  the os disk image information.\";}s:13:\"DataDiskImage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"lun\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:173:\"Specifies
  the logical unit number of the data disk. This value is used to identify data disks
  within the VM and therefore must be unique for each data disk attached to a VM.\";}}s:11:\"description\";s:42:\"Contains
  the data disk images information.\";}s:29:\"VirtualMachineImageProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PurchasePlan\";}s:11:\"osDiskImage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OSDiskImage\";}s:14:\"dataDiskImages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataDiskImage\";}}}s:11:\"description\";s:52:\"Describes
  the properties of a Virtual Machine Image.\";}s:19:\"VirtualMachineImage\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:43:\"#/definitions/VirtualMachineImageProperties\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:8:\"location\";}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/VirtualMachineImageResource\";}}s:11:\"description\";s:34:\"Describes
  a Virtual Machine Image.\";}s:9:\"UsageName\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  name of the resource.\";}s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  localized name of the resource.\";}}s:11:\"description\";s:16:\"The Usage Names.\";}s:5:\"Usage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"unit\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"An
  enum describing the unit of usage measurement.\";s:4:\"enum\";a:1:{i:0;s:5:\"Count\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"UsageUnit\";s:13:\"modelAsString\";b:0;}}s:12:\"currentValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:34:\"The
  current usage of the resource.\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"The
  maximum permitted usage of the resource.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/UsageName\";s:11:\"description\";s:30:\"The
  name of the type of usage.\";}}s:8:\"required\";a:4:{i:0;s:4:\"unit\";i:1;s:12:\"currentValue\";i:2;s:5:\"limit\";i:3;s:4:\"name\";}s:11:\"description\";s:33:\"Describes
  Compute Resource Usage.\";}s:16:\"ListUsagesResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Usage\";}s:11:\"description\";s:36:\"The
  list of compute resource usages.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:157:\"The
  URI to fetch the next page of compute resource usage information. Call ListNext()
  with this to fetch the next page of compute resource usage information.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:35:\"The
  List Usages operation response.\";}s:31:\"VirtualMachineCaptureParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"vhdPrefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  captured virtual hard disk's name prefix.\";}s:24:\"destinationContainerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  destination container name.\";}s:13:\"overwriteVhds\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:86:\"Specifies
  whether to overwrite the destination virtual hard disk, in case of conflict.\";}}s:8:\"required\";a:3:{i:0;s:9:\"vhdPrefix\";i:1;s:24:\"destinationContainerName\";i:2;s:13:\"overwriteVhds\";}s:11:\"description\";s:35:\"Capture
  Virtual Machine parameters.\";}s:37:\"VirtualMachineCaptureResultProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:32:\"Operation
  output data (raw JSON)\";}}s:11:\"description\";s:55:\"Compute-specific operation
  properties, including output\";}s:27:\"VirtualMachineCaptureResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:51:\"#/definitions/VirtualMachineCaptureResultProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:12:\"Resource
  Id.\";}s:4:\"Plan\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"The
  plan ID.\";}s:9:\"publisher\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  publisher ID.\";}s:7:\"product\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:122:\"Specifies
  the product of the image from the marketplace. This is the same value as Offer under
  the imageReference element.\";}s:13:\"promotionCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  promotion code.\";}}s:11:\"description\";s:429:\"Specifies information about the
  marketplace image used to create the virtual machine. This element is only used
  for marketplace images. Before you can use a marketplace image from an API, you
  must enable the image for programmatic use.  In the Azure portal, find the marketplace
  image that you want to use and then click **Want to deploy programmatically, Get
  Started ->**. Enter any required information and then click **Save**.\";}s:15:\"HardwareProfile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"vmSize\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:814:\"Specifies
  the size of the virtual machine. For more information about virtual machine sizes,
  see [Sizes for virtual machines](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-sizes?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json).
  <br><br> The available VM sizes depend on region and availability set. For a list
  of available sizes use these APIs:  <br><br> [List all available virtual machine
  sizes in an availability set](https://docs.microsoft.com/rest/api/compute/availabilitysets/listavailablesizes)
  <br><br> [List all available virtual machine sizes in a region](https://docs.microsoft.com/rest/api/compute/virtualmachinesizes/list)
  <br><br> [List all available virtual machine sizes for resizing](https://docs.microsoft.com/rest/api/compute/virtualmachines/listavailablesizes)\";s:4:\"enum\";a:97:{i:0;s:8:\"Basic_A0\";i:1;s:8:\"Basic_A1\";i:2;s:8:\"Basic_A2\";i:3;s:8:\"Basic_A3\";i:4;s:8:\"Basic_A4\";i:5;s:11:\"Standard_A0\";i:6;s:11:\"Standard_A1\";i:7;s:11:\"Standard_A2\";i:8;s:11:\"Standard_A3\";i:9;s:11:\"Standard_A4\";i:10;s:11:\"Standard_A5\";i:11;s:11:\"Standard_A6\";i:12;s:11:\"Standard_A7\";i:13;s:11:\"Standard_A8\";i:14;s:11:\"Standard_A9\";i:15;s:12:\"Standard_A10\";i:16;s:12:\"Standard_A11\";i:17;s:14:\"Standard_A1_v2\";i:18;s:14:\"Standard_A2_v2\";i:19;s:14:\"Standard_A4_v2\";i:20;s:14:\"Standard_A8_v2\";i:21;s:15:\"Standard_A2m_v2\";i:22;s:15:\"Standard_A4m_v2\";i:23;s:15:\"Standard_A8m_v2\";i:24;s:11:\"Standard_D1\";i:25;s:11:\"Standard_D2\";i:26;s:11:\"Standard_D3\";i:27;s:11:\"Standard_D4\";i:28;s:12:\"Standard_D11\";i:29;s:12:\"Standard_D12\";i:30;s:12:\"Standard_D13\";i:31;s:12:\"Standard_D14\";i:32;s:14:\"Standard_D1_v2\";i:33;s:14:\"Standard_D2_v2\";i:34;s:14:\"Standard_D3_v2\";i:35;s:14:\"Standard_D4_v2\";i:36;s:14:\"Standard_D5_v2\";i:37;s:15:\"Standard_D11_v2\";i:38;s:15:\"Standard_D12_v2\";i:39;s:15:\"Standard_D13_v2\";i:40;s:15:\"Standard_D14_v2\";i:41;s:15:\"Standard_D15_v2\";i:42;s:12:\"Standard_DS1\";i:43;s:12:\"Standard_DS2\";i:44;s:12:\"Standard_DS3\";i:45;s:12:\"Standard_DS4\";i:46;s:13:\"Standard_DS11\";i:47;s:13:\"Standard_DS12\";i:48;s:13:\"Standard_DS13\";i:49;s:13:\"Standard_DS14\";i:50;s:15:\"Standard_DS1_v2\";i:51;s:15:\"Standard_DS2_v2\";i:52;s:15:\"Standard_DS3_v2\";i:53;s:15:\"Standard_DS4_v2\";i:54;s:15:\"Standard_DS5_v2\";i:55;s:16:\"Standard_DS11_v2\";i:56;s:16:\"Standard_DS12_v2\";i:57;s:16:\"Standard_DS13_v2\";i:58;s:16:\"Standard_DS14_v2\";i:59;s:16:\"Standard_DS15_v2\";i:60;s:11:\"Standard_F1\";i:61;s:11:\"Standard_F2\";i:62;s:11:\"Standard_F4\";i:63;s:11:\"Standard_F8\";i:64;s:12:\"Standard_F16\";i:65;s:12:\"Standard_F1s\";i:66;s:12:\"Standard_F2s\";i:67;s:12:\"Standard_F4s\";i:68;s:12:\"Standard_F8s\";i:69;s:13:\"Standard_F16s\";i:70;s:11:\"Standard_G1\";i:71;s:11:\"Standard_G2\";i:72;s:11:\"Standard_G3\";i:73;s:11:\"Standard_G4\";i:74;s:11:\"Standard_G5\";i:75;s:12:\"Standard_GS1\";i:76;s:12:\"Standard_GS2\";i:77;s:12:\"Standard_GS3\";i:78;s:12:\"Standard_GS4\";i:79;s:12:\"Standard_GS5\";i:80;s:11:\"Standard_H8\";i:81;s:12:\"Standard_H16\";i:82;s:12:\"Standard_H8m\";i:83;s:13:\"Standard_H16m\";i:84;s:13:\"Standard_H16r\";i:85;s:14:\"Standard_H16mr\";i:86;s:12:\"Standard_L4s\";i:87;s:12:\"Standard_L8s\";i:88;s:13:\"Standard_L16s\";i:89;s:13:\"Standard_L32s\";i:90;s:12:\"Standard_NC6\";i:91;s:13:\"Standard_NC12\";i:92;s:13:\"Standard_NC24\";i:93;s:14:\"Standard_NC24r\";i:94;s:12:\"Standard_NV6\";i:95;s:13:\"Standard_NV12\";i:96;s:13:\"Standard_NV24\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"VirtualMachineSizeTypes\";s:13:\"modelAsString\";b:1;}}}s:11:\"description\";s:56:\"Specifies
  the hardware settings for the virtual machine.\";}s:14:\"ImageReference\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"publisher\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  image publisher.\";}s:5:\"offer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"Specifies
  the offer of the platform image or marketplace image used to create the virtual
  machine.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  image SKU.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:409:\"Specifies
  the version of the platform image or marketplace image used to create the virtual
  machine. The allowed formats are Major.Minor.Build or 'latest'. Major, Minor, and
  Build are decimal numbers. Specify 'latest' to use the latest version of an image
  available at deploy time. Even if you use 'latest', the VM image will not automatically
  update after deploy time even if a new version becomes available.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:298:\"Specifies
  information about the image to use. You can specify information about platform images,
  marketplace images, or virtual machine images. This element is required when you
  want to use a platform image, marketplace image, or virtual machine image, but is
  not used in other creation operations.\";}s:23:\"KeyVaultSecretReference\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"secretUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URL referencing a secret in a Key Vault.\";}s:11:\"sourceVault\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:56:\"The
  relative URL of the Key Vault containing the secret.\";}}s:8:\"required\";a:2:{i:0;s:9:\"secretUrl\";i:1;s:11:\"sourceVault\";}s:11:\"description\";s:41:\"Describes
  a reference to Key Vault Secret\";}s:20:\"KeyVaultKeyReference\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"keyUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  URL referencing a key encryption key in Key Vault.\";}s:11:\"sourceVault\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:53:\"The
  relative URL of the Key Vault containing the key.\";}}s:8:\"required\";a:2:{i:0;s:6:\"keyUrl\";i:1;s:11:\"sourceVault\";}s:11:\"description\";s:38:\"Describes
  a reference to Key Vault Key\";}s:22:\"DiskEncryptionSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"diskEncryptionKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/KeyVaultSecretReference\";s:11:\"description\";s:79:\"Specifies
  the location of the disk encryption key, which is a Key Vault Secret.\";}s:16:\"keyEncryptionKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/KeyVaultKeyReference\";s:11:\"description\";s:62:\"Specifies
  the location of the key encryption key in Key Vault.\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:75:\"Specifies
  whether disk encryption should be enabled on the virtual machine.\";}}s:11:\"description\";s:42:\"Describes
  a Encryption Settings for a Disk\";}s:15:\"VirtualHardDisk\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Specifies
  the virtual hard disk's uri.\";}}s:11:\"description\";s:28:\"Describes the uri of
  a disk.\";}s:7:\"Caching\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:206:\"Specifies
  the caching requirements. <br><br> Possible values are: <br><br> **None** <br><br>
  **ReadOnly** <br><br> **ReadWrite** <br><br> Default: **None for Standard storage.
  ReadOnly for Premium storage**\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:8:\"ReadOnly\";i:2;s:9:\"ReadWrite\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"CachingTypes\";s:13:\"modelAsString\";b:0;}}s:12:\"CreateOption\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:485:\"Specifies
  how the virtual machine should be created.<br><br> Possible values are:<br><br>
  **Attach** \\u2013 This value is used when you are using a specialized disk to create
  the virtual machine.<br><br> **FromImage** \\u2013 This value is used when you are
  using an image to create the virtual machine. If you are using a platform image,
  you also use the imageReference element described above. If you are using a marketplace
  image, you  also use the plan element previously described.\";s:4:\"enum\";a:3:{i:0;s:9:\"FromImage\";i:1;s:5:\"Empty\";i:2;s:6:\"Attach\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"DiskCreateOptionTypes\";s:13:\"modelAsString\";b:0;}}s:18:\"StorageAccountType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Specifies
  the storage account type for the managed disk. Possible values are: Standard_LRS
  or Premium_LRS.\";s:4:\"enum\";a:2:{i:0;s:12:\"Standard_LRS\";i:1;s:11:\"Premium_LRS\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"StorageAccountTypes\";s:13:\"modelAsString\";b:0;}}s:21:\"ManagedDiskParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"storageAccountType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/StorageAccountType\";s:11:\"description\";s:106:\"Specifies
  the storage account type for the managed disk. Possible values are: Standard_LRS
  or Premium_LRS.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:33:\"The
  parameters of a managed disk.\";}s:6:\"OSDisk\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"osType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:208:\"This
  property allows you to specify the type of the OS that is included in the disk if
  creating a VM from user-image or a specialized VHD. <br><br> Possible values are:
  <br><br> **Windows** <br><br> **Linux**\";s:4:\"enum\";a:2:{i:0;s:7:\"Windows\";i:1;s:5:\"Linux\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"OperatingSystemTypes\";s:13:\"modelAsString\";b:0;}}s:18:\"encryptionSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/DiskEncryptionSettings\";s:11:\"description\";s:91:\"Specifies
  the encryption settings for the OS Disk. <br><br> Minimum api-version: 2015-06-15\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  disk name.\";}s:3:\"vhd\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VirtualHardDisk\";s:11:\"description\";s:22:\"The
  virtual hard disk.\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VirtualHardDisk\";s:11:\"description\";s:202:\"The
  source user image virtual hard disk. The virtual hard disk will be copied before
  being attached to the virtual machine. If SourceImage is provided, the destination
  virtual hard drive must not exist.\";}s:7:\"caching\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Caching\";s:11:\"description\";s:206:\"Specifies
  the caching requirements. <br><br> Possible values are: <br><br> **None** <br><br>
  **ReadOnly** <br><br> **ReadWrite** <br><br> Default: **None for Standard storage.
  ReadOnly for Premium storage**\";}s:12:\"createOption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CreateOption\";s:11:\"description\";s:485:\"Specifies
  how the virtual machine should be created.<br><br> Possible values are:<br><br>
  **Attach** \\u2013 This value is used when you are using a specialized disk to create
  the virtual machine.<br><br> **FromImage** \\u2013 This value is used when you are
  using an image to create the virtual machine. If you are using a platform image,
  you also use the imageReference element described above. If you are using a marketplace
  image, you  also use the plan element previously described.\";}s:10:\"diskSizeGB\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:191:\"Specifies
  the size of an empty data disk in gigabytes. This element can be used to overwrite
  the size of the disk in a virtual machine image. <br><br> This value cannot be larger
  than 1023 GB\";}s:11:\"managedDisk\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  managed disk parameters.\";s:4:\"$ref\";s:35:\"#/definitions/ManagedDiskParameters\";}}s:8:\"required\";a:1:{i:0;s:12:\"createOption\";}s:11:\"description\";s:326:\"Specifies
  information about the operating system disk used by the virtual machine. <br><br>
  For more information about disks, see [About disks and VHDs for Azure virtual machines](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-about-disks-vhds?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json).\";}s:8:\"DataDisk\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"lun\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:173:\"Specifies
  the logical unit number of the data disk. This value is used to identify data disks
  within the VM and therefore must be unique for each data disk attached to a VM.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  disk name.\";}s:3:\"vhd\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VirtualHardDisk\";s:11:\"description\";s:22:\"The
  virtual hard disk.\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VirtualHardDisk\";s:11:\"description\";s:202:\"The
  source user image virtual hard disk. The virtual hard disk will be copied before
  being attached to the virtual machine. If SourceImage is provided, the destination
  virtual hard drive must not exist.\";}s:7:\"caching\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Caching\";s:11:\"description\";s:206:\"Specifies
  the caching requirements. <br><br> Possible values are: <br><br> **None** <br><br>
  **ReadOnly** <br><br> **ReadWrite** <br><br> Default: **None for Standard storage.
  ReadOnly for Premium storage**\";}s:12:\"createOption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CreateOption\";s:11:\"description\";s:485:\"Specifies
  how the virtual machine should be created.<br><br> Possible values are:<br><br>
  **Attach** \\u2013 This value is used when you are using a specialized disk to create
  the virtual machine.<br><br> **FromImage** \\u2013 This value is used when you are
  using an image to create the virtual machine. If you are using a platform image,
  you also use the imageReference element described above. If you are using a marketplace
  image, you  also use the plan element previously described.\";}s:10:\"diskSizeGB\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:191:\"Specifies
  the size of an empty data disk in gigabytes. This element can be used to overwrite
  the size of the disk in a virtual machine image. <br><br> This value cannot be larger
  than 1023 GB\";}s:11:\"managedDisk\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  managed disk parameters.\";s:4:\"$ref\";s:35:\"#/definitions/ManagedDiskParameters\";}}s:8:\"required\";a:2:{i:0;s:3:\"lun\";i:1;s:12:\"createOption\";}s:11:\"description\";s:22:\"Describes
  a data disk.\";}s:14:\"StorageProfile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"imageReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ImageReference\";s:11:\"description\";s:298:\"Specifies
  information about the image to use. You can specify information about platform images,
  marketplace images, or virtual machine images. This element is required when you
  want to use a platform image, marketplace image, or virtual machine image, but is
  not used in other creation operations.\";}s:6:\"osDisk\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/OSDisk\";s:11:\"description\";s:326:\"Specifies
  information about the operating system disk used by the virtual machine. <br><br>
  For more information about disks, see [About disks and VHDs for Azure virtual machines](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-about-disks-vhds?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json).\";}s:9:\"dataDisks\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DataDisk\";}s:11:\"description\";s:323:\"Specifies
  the parameters that are used to add a data disk to a virtual machine. <br><br> For
  more information about disks, see [About disks and VHDs for Azure virtual machines](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-about-disks-vhds?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json).\";}}s:11:\"description\";s:61:\"Specifies
  the storage settings for the virtual machine disks.\";}s:25:\"AdditionalUnattendContent\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"passName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"The
  pass name. Currently, the only allowable value is OobeSystem.\";s:4:\"enum\";a:1:{i:0;s:10:\"OobeSystem\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"PassNames\";s:13:\"modelAsString\";b:0;}}s:13:\"componentName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:89:\"The
  component name. Currently, the only allowable value is Microsoft-Windows-Shell-Setup.\";s:4:\"enum\";a:1:{i:0;s:29:\"Microsoft-Windows-Shell-Setup\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"ComponentNames\";s:13:\"modelAsString\";b:0;}}s:11:\"settingName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"Specifies
  the name of the setting to which the content applies. Possible values are: FirstLogonCommands
  and AutoLogon.\";s:4:\"enum\";a:2:{i:0;s:9:\"AutoLogon\";i:1;s:18:\"FirstLogonCommands\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"SettingNames\";s:13:\"modelAsString\";b:0;}}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:227:\"Specifies
  the XML formatted content that is added to the unattend.xml file for the specified
  path and component. The XML must be less than 4KB and must include the root element
  for the setting or feature that is being inserted.\";}}s:11:\"description\";s:225:\"Specifies
  additional XML formatted information that can be included in the Unattend.xml file,
  which is used by Windows Setup. Contents are defined by setting name, component
  name, and the pass in which the content is applied.\";}s:13:\"WinRMListener\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"protocol\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"Specifies
  the protocol of listener. <br><br> Possible values are: <br>**http** <br><br> **https**\";s:4:\"enum\";a:2:{i:0;s:4:\"Http\";i:1;s:5:\"Https\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"ProtocolTypes\";s:13:\"modelAsString\";b:0;}}s:14:\"certificateUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:480:\"This
  is the URL of a certificate that has been uploaded to Key Vault as a secret. For
  adding a secret to the Key Vault, see [Add a key or secret to the key vault](https://docs.microsoft.com/azure/key-vault/key-vault-get-started/#add).
  In this case, your certificate needs to be It is the Base64 encoding of the following
  JSON Object which is encoded in UTF-8: <br><br> {<br>  \"data\":\"<Base64-encoded-certificate>\",<br>
  \ \"dataType\":\"pfx\",<br>  \"password\":\"<pfx-file-password>\"<br>}\";}}s:11:\"description\";s:71:\"Describes
  Protocol and thumbprint of Windows Remote Management listener\";}s:18:\"WinRMConfiguration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"listeners\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/WinRMListener\";}s:11:\"description\";s:47:\"The
  list of Windows Remote Management listeners\";}}s:11:\"description\";s:59:\"Describes
  Windows Remote Management configuration of the VM\";}s:20:\"WindowsConfiguration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"provisionVMAgent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:294:\"Indicates
  whether virtual machine agent should be provisioned on the virtual machine. <br><br>
  When this property is not specified in the request body, default behavior is to
  set it to true.  This will ensure that VM Agent is installed on the VM so that extensions
  can be added to the VM later.\";}s:22:\"enableAutomaticUpdates\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:67:\"Indicates
  whether virtual machine is enabled for automatic updates.\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"Specifies
  the time zone of the virtual machine. e.g. \"Pacific Standard Time\"\";}s:25:\"additionalUnattendContent\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AdditionalUnattendContent\";}s:11:\"description\";s:141:\"Specifies
  additional base-64 encoded XML formatted information that can be included in the
  Unattend.xml file, which is used by Windows Setup.\";}s:5:\"winRM\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WinRMConfiguration\";s:11:\"description\";s:90:\"Specifies
  the Windows Remote Management listeners. This enables remote Windows PowerShell.\";}}s:11:\"description\";s:67:\"Specifies
  Windows operating system settings on the virtual machine.\";}s:12:\"SshPublicKey\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:185:\"Specifies
  the full path on the created VM where ssh public key is stored. If the file already
  exists, the specified key is appended to the file. Example: /home/user/.ssh/authorized_keys\";}s:7:\"keyData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:373:\"SSH
  public key certificate used to authenticate with the VM through ssh. The key needs
  to be at least 2048-bit and in ssh-rsa format. <br><br> For creating ssh keys, see
  [Create SSH keys on Linux and Mac for Linux VMs in Azure](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-mac-create-ssh-keys?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json).\";}}s:11:\"description\";s:114:\"Contains
  information about SSH certificate public key and the path on the Linux VM where
  the public key is placed.\";}s:16:\"SshConfiguration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"publicKeys\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SshPublicKey\";}s:11:\"description\";s:70:\"The
  list of SSH public keys used to authenticate with linux based VMs.\";}}s:11:\"description\";s:54:\"SSH
  configuration for Linux based VMs running on Azure\";}s:18:\"LinuxConfiguration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:29:\"disablePasswordAuthentication\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:61:\"Specifies
  whether password authentication should be disabled.\";}s:3:\"ssh\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SshConfiguration\";s:11:\"description\";s:51:\"Specifies
  the ssh key configuration for a Linux OS.\";}}s:11:\"description\";s:554:\"Specifies
  the Linux operating system settings on the virtual machine. <br><br>For a list of
  supported Linux distributions, see [Linux on Azure-Endorsed Distributions](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-endorsed-distros?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)
  <br><br> For running non-endorsed distributions, see [Information for Non-Endorsed
  Distributions](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-create-upload-generic?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json).\";}s:16:\"VaultCertificate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"certificateUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:480:\"This
  is the URL of a certificate that has been uploaded to Key Vault as a secret. For
  adding a secret to the Key Vault, see [Add a key or secret to the key vault](https://docs.microsoft.com/azure/key-vault/key-vault-get-started/#add).
  In this case, your certificate needs to be It is the Base64 encoding of the following
  JSON Object which is encoded in UTF-8: <br><br> {<br>  \"data\":\"<Base64-encoded-certificate>\",<br>
  \ \"dataType\":\"pfx\",<br>  \"password\":\"<pfx-file-password>\"<br>}\";}s:16:\"certificateStore\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:454:\"For
  Windows VMs, specifies the certificate store on the Virtual Machine to which the
  certificate should be added. The specified certificate store is implicitly in the
  LocalMachine account. <br><br>For Linux VMs, the certificate file is placed under
  the /var/lib/waagent directory, with the file name &lt;UppercaseThumbprint&gt;.crt
  for the X509 certificate file and &lt;UppercaseThumbprint&gt;.prv for private key.
  Both of these files are .pem formatted.\";}}s:11:\"description\";s:107:\"Describes
  a single certificate reference in a Key Vault, and where the certificate should
  reside on the VM.\";}s:16:\"VaultSecretGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"sourceVault\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:90:\"The
  relative URL of the Key Vault containing all of the certificates in VaultCertificates.\";}s:17:\"vaultCertificates\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/VaultCertificate\";}s:11:\"description\";s:75:\"The
  list of key vault references in SourceVault which contain certificates.\";}}s:11:\"description\";s:68:\"Describes
  a set of certificates which are all in the same Key Vault.\";}s:9:\"OSProfile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"computerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:515:\"Specifies
  the host OS name of the virtual machine. <br><br> This name cannot be updated after
  the VM is created. <br><br> **Max-length (Windows):** 15 characters <br><br> **Max-length
  (Linux):** 64 characters. <br><br> For naming conventions and restrictions see [Azure
  infrastructure services implementation guidelines](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-infrastructure-subscription-accounts-guidelines?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json#1-naming-conventions).\";}s:13:\"adminUsername\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:1109:\"Specifies
  the name of the administrator account. <br><br> **Windows-only restriction:** Cannot
  end in \".\" <br><br> **Disallowed values:** \"administrator\", \"admin\", \"user\",
  \"user1\", \"test\", \"user2\", \"test1\", \"user3\", \"admin1\", \"1\", \"123\",
  \"a\", \"actuser\", \"adm\", \"admin2\", \"aspnet\", \"backup\", \"console\", \"david\",
  \"guest\", \"john\", \"owner\", \"root\", \"server\", \"sql\", \"support\", \"support_388945a0\",
  \"sys\", \"test2\", \"test3\", \"user4\", \"user5\". <br><br> **Minimum-length (Linux):**
  1  character <br><br> **Max-length (Linux):** 64 characters <br><br> **Max-length
  (Windows):** 20 characters  <br><br><li> For root access to the Linux VM, see [Using
  root privileges on Linux virtual machines in Azure](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-use-root-privileges?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)<br><li>
  For a list of built-in system users on Linux that should not be used in this field,
  see [Selecting User Names for Linux on Azure](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-usernames?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)\";}s:13:\"adminPassword\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:1182:\"Specifies
  the password of the administrator account. <br><br> **Minimum-length (Windows):**
  8 characters <br><br> **Minimum-length (Linux):** 6 characters <br><br> **Max-length
  (Windows):** 123 characters <br><br> **Max-length (Linux):** 72 characters <br><br>
  **Complexity requirements:** 3 out of 4 conditions below need to be fulfilled <br>
  Has lower characters <br>Has upper characters <br> Has a digit <br> Has a special
  character (Regex match [\\W_]) <br><br> **Disallowed values:** \"abc@123\", \"P@$$w0rd\",
  \"P@ssw0rd\", \"P@ssword123\", \"Pa$$word\", \"pass@word1\", \"Password!\", \"Password1\",
  \"Password22\", \"iloveyou!\" <br><br> For resetting the password, see [How to reset
  the Remote Desktop service or its login password in a Windows VM](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-reset-rdp?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json)
  <br><br> For resetting root password, see [Manage users, SSH, and check or repair
  disks on Azure Linux VMs using the VMAccess Extension](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-using-vmaccess-extension?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json#reset-root-password)\";}s:10:\"customData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:457:\"Specifies
  a base-64 encoded string of custom data. The base-64 encoded string is decoded to
  a binary array that is saved as a file on the Virtual Machine. The maximum length
  of the binary array is 65535 bytes. <br><br> For using cloud-init for your VM, see
  [Using cloud-init to customize a Linux VM during creation](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-using-cloud-init?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)\";}s:20:\"windowsConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/WindowsConfiguration\";s:11:\"description\";s:67:\"Specifies
  Windows operating system settings on the virtual machine.\";}s:18:\"linuxConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/LinuxConfiguration\";s:11:\"description\";s:554:\"Specifies
  the Linux operating system settings on the virtual machine. <br><br>For a list of
  supported Linux distributions, see [Linux on Azure-Endorsed Distributions](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-endorsed-distros?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)
  <br><br> For running non-endorsed distributions, see [Information for Non-Endorsed
  Distributions](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-create-upload-generic?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json).\";}s:7:\"secrets\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/VaultSecretGroup\";}s:11:\"description\";s:80:\"Specifies
  set of certificates that should be installed onto the virtual machine.\";}}s:11:\"description\";s:64:\"Specifies
  the operating system settings for the virtual machine.\";}s:35:\"NetworkInterfaceReferenceProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"primary\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:102:\"Specifies
  the primary network interface in case the virtual machine has more than 1 network
  interface.\";}}s:11:\"description\";s:51:\"Describes a network interface reference
  properties.\";}s:25:\"NetworkInterfaceReference\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:49:\"#/definitions/NetworkInterfaceReferenceProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:40:\"Describes
  a network interface reference.\";}s:14:\"NetworkProfile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"networkInterfaces\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/NetworkInterfaceReference\";}s:11:\"description\";s:98:\"Specifies
  the list of resource Ids for the network interfaces associated with the virtual
  machine.\";}}s:11:\"description\";s:56:\"Specifies the network interfaces of the
  virtual machine.\";}s:15:\"BootDiagnostics\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:66:\"Whether
  boot diagnostics should be enabled on the Virtual Machine.\";}s:10:\"storageUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Uri
  of the storage account to use for placing the console output and screenshot.\";}}s:11:\"description\";s:261:\"Boot
  Diagnostics is a debugging feature which allows you to view Console Output and Screenshot
  to diagnose VM status. <br><br> You can easily view the output of your console log.
  <br><br> Azure also enables you to see a screenshot of the VM from the hypervisor.\";}s:18:\"DiagnosticsProfile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"bootDiagnostics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BootDiagnostics\";s:11:\"description\";s:261:\"Boot
  Diagnostics is a debugging feature which allows you to view Console Output and Screenshot
  to diagnose VM status. <br><br> You can easily view the output of your console log.
  <br><br> Azure also enables you to see a screenshot of the VM from the hypervisor.\";}}s:11:\"description\";s:86:\"Specifies
  the boot diagnostic settings state. <br><br>Minimum api-version: 2015-06-15.\";}s:42:\"VirtualMachineExtensionHandlerInstanceView\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Specifies
  the type of the extension; an example is \"CustomScriptExtension\".\";}s:18:\"typeHandlerVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Specifies
  the version of the script handler.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/InstanceViewStatus\";s:11:\"description\";s:29:\"The
  extension handler status.\";}}s:11:\"description\";s:57:\"The instance view of a
  virtual machine extension handler.\";}s:31:\"VirtualMachineAgentInstanceView\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"vmAgentVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  VM Agent full version.\";}s:17:\"extensionHandlers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/VirtualMachineExtensionHandlerInstanceView\";}s:11:\"description\";s:52:\"The
  virtual machine extension handler instance view.\";}s:8:\"statuses\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/InstanceViewStatus\";}s:11:\"description\";s:32:\"The
  resource status information.\";}}s:11:\"description\";s:65:\"The instance view of
  the VM Agent running on the virtual machine.\";}s:16:\"DiskInstanceView\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  disk name.\";}s:18:\"encryptionSettings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DiskEncryptionSettings\";}s:11:\"description\";s:91:\"Specifies
  the encryption settings for the OS Disk. <br><br> Minimum api-version: 2015-06-15\";}s:8:\"statuses\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/InstanceViewStatus\";}s:11:\"description\";s:32:\"The
  resource status information.\";}}s:11:\"description\";s:30:\"The instance view of
  the disk.\";}s:27:\"BootDiagnosticsInstanceView\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"consoleScreenshotBlobUri\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  console screenshot blob URI.\";}s:23:\"serialConsoleLogBlobUri\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  Linux serial console log blob Uri.\";}}s:11:\"description\";s:56:\"The instance
  view of a virtual machine boot diagnostics.\";}s:22:\"VirtualMachineIdentity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"principalId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  principal id of virtual machine identity.\";}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  tenant id associated with the virtual machine.\";}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:144:\"The
  type of identity used for the virtual machine. Currently, the only supported type
  is 'SystemAssigned', which implicitly creates an identity.\";s:4:\"enum\";a:1:{i:0;s:14:\"SystemAssigned\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"ResourceIdentityType\";s:13:\"modelAsString\";b:0;}}}s:11:\"description\";s:33:\"Identity
  for the virtual machine.\";}s:25:\"MaintenanceRedeployStatus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:37:\"isCustomerInitiatedMaintenanceAllowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:52:\"True,
  if customer is allowed to perform Maintenance.\";}s:29:\"preMaintenanceWindowStartTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:42:\"Start
  Time for the Pre Maintenance Window.\";}s:27:\"preMaintenanceWindowEndTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:40:\"End
  Time for the Pre Maintenance Window.\";}s:26:\"maintenanceWindowStartTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:38:\"Start
  Time for the Maintenance Window.\";}s:24:\"maintenanceWindowEndTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:36:\"End
  Time for the Maintenance Window.\";}s:23:\"lastOperationResultCode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  Last Maintenance Operation Result Code.\";s:4:\"enum\";a:4:{i:0;s:4:\"None\";i:1;s:10:\"RetryLater\";i:2;s:18:\"MaintenanceAborted\";i:3;s:20:\"MaintenanceCompleted\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:35:\"MaintenanceOperationResultCodeTypes\";s:13:\"modelAsString\";b:0;}}s:20:\"lastOperationMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Message
  returned for the last Maintenance Operation.\";}}s:11:\"description\";s:29:\"Maintenance
  Operation Status.\";}s:26:\"VirtualMachineInstanceView\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:20:\"platformUpdateDomain\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:51:\"Specifies
  the update domain of the virtual machine.\";}s:19:\"platformFaultDomain\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:50:\"Specifies
  the fault domain of the virtual machine.\";}s:13:\"rdpThumbPrint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  Remote desktop certificate thumbprint.\";}s:7:\"vmAgent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/VirtualMachineAgentInstanceView\";s:11:\"description\";s:44:\"The
  VM Agent running on the virtual machine.\";}s:25:\"maintenanceRedeployStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/MaintenanceRedeployStatus\";s:11:\"description\";s:56:\"The
  Maintenance Operation status on the virtual machine.\";}s:5:\"disks\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DiskInstanceView\";}s:11:\"description\";s:37:\"The
  virtual machine disk information.\";}s:10:\"extensions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/VirtualMachineExtensionInstanceView\";}s:11:\"description\";s:27:\"The
  extensions information.\";}s:15:\"bootDiagnostics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/BootDiagnosticsInstanceView\";s:11:\"description\";s:261:\"Boot
  Diagnostics is a debugging feature which allows you to view Console Output and Screenshot
  to diagnose VM status. <br><br> You can easily view the output of your console log.
  <br><br> Azure also enables you to see a screenshot of the VM from the hypervisor.\";}s:8:\"statuses\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/InstanceViewStatus\";}s:11:\"description\";s:32:\"The
  resource status information.\";}}s:11:\"description\";s:39:\"The instance view of
  a virtual machine.\";}s:24:\"VirtualMachineProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:15:\"hardwareProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/HardwareProfile\";s:11:\"description\";s:56:\"Specifies
  the hardware settings for the virtual machine.\";}s:14:\"storageProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StorageProfile\";s:11:\"description\";s:61:\"Specifies
  the storage settings for the virtual machine disks.\";}s:9:\"osProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/OSProfile\";s:11:\"description\";s:64:\"Specifies
  the operating system settings for the virtual machine.\";}s:14:\"networkProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NetworkProfile\";s:11:\"description\";s:56:\"Specifies
  the network interfaces of the virtual machine.\";}s:18:\"diagnosticsProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DiagnosticsProfile\";s:11:\"description\";s:86:\"Specifies
  the boot diagnostic settings state. <br><br>Minimum api-version: 2015-06-15.\";}s:15:\"availabilitySet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:858:\"Specifies
  information about the availability set that the virtual machine should be assigned
  to. Virtual machines specified in the same availability set are allocated to different
  nodes to maximize availability. For more information about availability sets, see
  [Manage the availability of virtual machines](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-manage-availability?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json).
  <br><br> For more information on Azure planned maintenance, see [Planned maintenance
  for virtual machines in Azure](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-planned-maintenance?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json)
  <br><br> Currently, a VM can only be added to availability set at creation time.
  An existing VM cannot be added to an availability set.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"The
  provisioning state, which only appears in the response.\";}s:12:\"instanceView\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:40:\"#/definitions/VirtualMachineInstanceView\";s:8:\"readOnly\";b:1;s:11:\"description\";s:34:\"The
  virtual machine instance view.\";}s:11:\"licenseType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:657:\"Specifies
  that the image or disk that is being used was licensed on-premises. This element
  is only used for images that contain the Windows Server operating system. <br><br>
  Possible values are: <br><br> Windows_Client <br><br> Windows_Server <br><br> If
  this element is included in a request for an update, the value must match the initial
  value. This value cannot be updated. <br><br> For more information, see [Azure Hybrid
  Use Benefit for Windows Server](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-hybrid-use-benefit-licensing?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json)
  <br><br> Minimum api-version: 2015-06-15\";}s:4:\"vmId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:159:\"Specifies
  the VM unique ID which is a 128-bits identifier that is encoded and stored in all
  Azure IaaS VMs SMBIOS and can be read using platform BIOS commands.\";}}s:11:\"description\";s:46:\"Describes
  the properties of a Virtual Machine.\";}s:14:\"VirtualMachine\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"plan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Plan\";s:11:\"description\";s:429:\"Specifies
  information about the marketplace image used to create the virtual machine. This
  element is only used for marketplace images. Before you can use a marketplace image
  from an API, you must enable the image for programmatic use.  In the Azure portal,
  find the marketplace image that you want to use and then click **Want to deploy
  programmatically, Get Started ->**. Enter any required information and then click
  **Save**.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:38:\"#/definitions/VirtualMachineProperties\";}s:9:\"resources\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/VirtualMachineExtension\";}s:11:\"description\";s:46:\"The
  virtual machine child extension resources.\";}s:8:\"identity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/VirtualMachineIdentity\";s:11:\"description\";s:51:\"The
  identity of the virtual machine, if configured.\";}s:5:\"zones\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:26:\"The
  virtual machine zones.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:28:\"Describes
  a Virtual Machine.\";}s:24:\"VirtualMachineListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/VirtualMachine\";}s:11:\"description\";s:29:\"The
  list of virtual machines.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"The
  URI to fetch the next page of VMs. Call ListNext() with this URI to fetch the next
  page of Virtual Machines.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:44:\"The
  List Virtual Machine operation response.\";}s:3:\"Sku\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"The
  sku name.\";}s:4:\"tier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:130:\"Specifies
  the tier of virtual machines in a scale set.<br /><br /> Possible Values:<br /><br
  /> **Standard**<br /><br /> **Basic**\";}s:8:\"capacity\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:58:\"Specifies
  the number of virtual machines in the scale set.\";}}s:11:\"description\";s:42:\"Describes
  a virtual machine scale set sku.\";}s:13:\"UpgradePolicy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"mode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:364:\"Specifies
  the mode of an upgrade to virtual machines in the scale set.<br /><br /> Possible
  values are:<br /><br /> **Manual** - You  control the application of updates to
  virtual machines in the scale set. You do this by using the manualUpgrade action.<br
  /><br /> **Automatic** - All virtual machines in the scale set are  automatically
  updated at the same time.\";s:4:\"enum\";a:3:{i:0;s:9:\"Automatic\";i:1;s:6:\"Manual\";i:2;s:7:\"Rolling\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"UpgradeMode\";s:13:\"modelAsString\";b:0;}}s:20:\"rollingUpgradePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RollingUpgradePolicy\";s:11:\"description\";s:69:\"The
  configuration parameters used while performing a rolling upgrade.\";}s:18:\"automaticOSUpgrade\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:148:\"Whether
  OS upgrades should automatically be applied to scale set instances in a rolling
  fashion when a newer version of the image becomes available.\";}}s:11:\"description\";s:60:\"Describes
  an upgrade policy - automatic, manual, or rolling.\";}s:20:\"RollingUpgradePolicy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:23:\"maxBatchInstancePercent\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:5;s:7:\"maximum\";i:100;s:11:\"description\";s:336:\"The
  maximum percent of total virtual machine instances that will be upgraded simultaneously
  by the rolling upgrade in one batch. As this is a maximum, unhealthy instances in
  previous or future batches can cause the percentage of instances in a batch to decrease
  to ensure higher reliability. The default value for this parameter is 20%.\";}s:27:\"maxUnhealthyInstancePercent\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:5;s:7:\"maximum\";i:100;s:11:\"description\";s:372:\"The
  maximum percentage of the total virtual machine instances in the scale set that
  can be simultaneously unhealthy, either as a result of being upgraded, or by being
  found in an unhealthy state by the virtual machine health checks before the rolling
  upgrade aborts. This constraint will be checked prior to starting any batch. The
  default value for this parameter is 20%.\";}s:35:\"maxUnhealthyUpgradedInstancePercent\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:0;s:7:\"maximum\";i:100;s:11:\"description\";s:269:\"The
  maximum percentage of upgraded virtual machine instances that can be found to be
  in an unhealthy state. This check will happen after each batch is upgraded. If this
  percentage is ever exceeded, the rolling update aborts. The default value for this
  parameter is 20%.\";}s:23:\"pauseTimeBetweenBatches\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:207:\"The
  wait time between completing the update for all virtual machines in one batch and
  starting the next batch. The time duration should be specified in ISO 8601 format.
  The default value is 0 seconds (PT0S).\";}}s:11:\"description\";s:69:\"The configuration
  parameters used while performing a rolling upgrade.\";}s:11:\"ImageOSDisk\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"osType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:191:\"This
  property allows you to specify the type of the OS that is included in the disk if
  creating a VM from a custom image. <br><br> Possible values are: <br><br> **Windows**
  <br><br> **Linux**\";s:4:\"enum\";a:2:{i:0;s:7:\"Windows\";i:1;s:5:\"Linux\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"OperatingSystemTypes\";s:13:\"modelAsString\";b:0;}}s:7:\"osState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"The
  OS State.\";s:4:\"enum\";a:2:{i:0;s:11:\"Generalized\";i:1;s:11:\"Specialized\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"OperatingSystemStateTypes\";s:13:\"modelAsString\";b:0;}}s:8:\"snapshot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:13:\"The
  snapshot.\";}s:11:\"managedDisk\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:16:\"The
  managedDisk.\";}s:7:\"blobUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  Virtual Hard Disk.\";}s:7:\"caching\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:206:\"Specifies
  the caching requirements. <br><br> Possible values are: <br><br> **None** <br><br>
  **ReadOnly** <br><br> **ReadWrite** <br><br> Default: **None for Standard storage.
  ReadOnly for Premium storage**\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:8:\"ReadOnly\";i:2;s:9:\"ReadWrite\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"CachingTypes\";s:13:\"modelAsString\";b:0;}}s:10:\"diskSizeGB\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:189:\"Specifies
  the size of empty data disks in gigabytes. This element can be used to overwrite
  the name of the disk in a virtual machine image. <br><br> This value cannot be larger
  than 1023 GB\";}s:18:\"storageAccountType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/StorageAccountType\";s:11:\"description\";s:106:\"Specifies
  the storage account type for the managed disk. Possible values are: Standard_LRS
  or Premium_LRS.\";}}s:8:\"required\";a:2:{i:0;s:6:\"osType\";i:1;s:7:\"osState\";}s:11:\"description\";s:35:\"Describes
  an Operating System disk.\";}s:13:\"ImageDataDisk\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"lun\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:173:\"Specifies
  the logical unit number of the data disk. This value is used to identify data disks
  within the VM and therefore must be unique for each data disk attached to a VM.\";}s:8:\"snapshot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:13:\"The
  snapshot.\";}s:11:\"managedDisk\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:16:\"The
  managedDisk.\";}s:7:\"blobUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  Virtual Hard Disk.\";}s:7:\"caching\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:206:\"Specifies
  the caching requirements. <br><br> Possible values are: <br><br> **None** <br><br>
  **ReadOnly** <br><br> **ReadWrite** <br><br> Default: **None for Standard storage.
  ReadOnly for Premium storage**\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:8:\"ReadOnly\";i:2;s:9:\"ReadWrite\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"CachingTypes\";s:13:\"modelAsString\";b:0;}}s:10:\"diskSizeGB\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:189:\"Specifies
  the size of empty data disks in gigabytes. This element can be used to overwrite
  the name of the disk in a virtual machine image. <br><br> This value cannot be larger
  than 1023 GB\";}s:18:\"storageAccountType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/StorageAccountType\";s:11:\"description\";s:106:\"Specifies
  the storage account type for the managed disk. Possible values are: Standard_LRS
  or Premium_LRS.\";}}s:8:\"required\";a:1:{i:0;s:3:\"lun\";}s:11:\"description\";s:22:\"Describes
  a data disk.\";}s:19:\"ImageStorageProfile\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"osDisk\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageOSDisk\";s:11:\"description\";s:326:\"Specifies
  information about the operating system disk used by the virtual machine. <br><br>
  For more information about disks, see [About disks and VHDs for Azure virtual machines](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-about-disks-vhds?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json).\";}s:9:\"dataDisks\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ImageDataDisk\";}s:11:\"description\";s:323:\"Specifies
  the parameters that are used to add a data disk to a virtual machine. <br><br> For
  more information about disks, see [About disks and VHDs for Azure virtual machines](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-about-disks-vhds?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json).\";}}s:8:\"required\";a:1:{i:0;s:6:\"osDisk\";}s:11:\"description\";s:28:\"Describes
  a storage profile.\";}s:15:\"ImageProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"sourceVirtualMachine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";s:11:\"description\";s:55:\"The
  source virtual machine from which Image is created.\";}s:14:\"storageProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ImageStorageProfile\";s:11:\"description\";s:61:\"Specifies
  the storage settings for the virtual machine disks.\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  provisioning state.\";}}s:11:\"description\";s:37:\"Describes the properties of
  an Image.\";}s:5:\"Image\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:29:\"#/definitions/ImageProperties\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:202:\"The
  source user image virtual hard disk. The virtual hard disk will be copied before
  being attached to the virtual machine. If SourceImage is provided, the destination
  virtual hard drive must not exist.\";}s:15:\"ImageListResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:11:\"description\";s:19:\"The
  list of Images.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"The
  uri to fetch the next page of Images. Call ListNext() with this to fetch the next
  page of Images.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:34:\"The
  List Image operation response.\";}s:30:\"VirtualMachineScaleSetIdentity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"principalId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  principal id of virtual machine scale set identity.\";}s:8:\"tenantId\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"The
  tenant id associated with the virtual machine scale set.\";}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"The
  type of identity used for the virtual machine scale set. Currently, the only supported
  type is 'SystemAssigned', which implicitly creates an identity.\";s:4:\"enum\";a:1:{i:0;s:14:\"SystemAssigned\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"ResourceIdentityType\";s:13:\"modelAsString\";b:0;}}}s:11:\"description\";s:43:\"Identity
  for the virtual machine scale set.\";}s:19:\"ResourceSkuCapacity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"minimum\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:21:\"The
  minimum capacity.\";}s:7:\"maximum\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:37:\"The
  maximum capacity that can be set.\";}s:7:\"default\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:21:\"The
  default capacity.\";}s:9:\"scaleType\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:37:\"The
  scale type applicable to the sku.\";s:4:\"enum\";a:3:{i:0;s:9:\"Automatic\";i:1;s:6:\"Manual\";i:2;s:4:\"None\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:28:\"ResourceSkuCapacityScaleType\";s:13:\"modelAsString\";b:0;}}}s:11:\"description\";s:39:\"Describes
  scaling information of a SKU.\";}s:16:\"ResourceSkuCosts\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"meterID\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:38:\"Used
  for querying price from commerce.\";}s:8:\"quantity\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:57:\"The
  multiplier is needed to extend the base metered cost.\";}s:12:\"extendedUnit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:39:\"An
  invariant to show the extended unit.\";}}s:11:\"description\";s:45:\"Describes metadata
  for retrieving price info.\";}s:23:\"ResourceSkuCapabilities\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:37:\"An
  invariant to describe the feature.\";}s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:52:\"An
  invariant if the feature is measured by quantity.\";}}s:11:\"description\";s:38:\"Describes
  The SKU capabilities object.\";}s:23:\"ResourceSkuRestrictions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:25:\"The
  type of restrictions.\";s:4:\"enum\";a:1:{i:0;s:8:\"Location\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:27:\"ResourceSkuRestrictionsType\";s:13:\"modelAsString\";b:0;}}s:6:\"values\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:133:\"The
  value of restrictions. If the restriction type is set to location. This would be
  different locations where the SKU is restricted.\";}s:10:\"reasonCode\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:27:\"The
  reason for restriction.\";s:4:\"enum\";a:2:{i:0;s:7:\"QuotaId\";i:1;s:27:\"NotAvailableForSubscription\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:33:\"ResourceSkuRestrictionsReasonCode\";s:13:\"modelAsString\";b:0;}}}s:11:\"description\";s:39:\"Describes
  scaling information of a SKU.\";}s:11:\"ResourceSku\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"resourceType\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  type of resource the SKU applies to.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  name of SKU.\";}s:4:\"tier\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:130:\"Specifies
  the tier of virtual machines in a scale set.<br /><br /> Possible Values:<br /><br
  /> **Standard**<br /><br /> **Basic**\";}s:4:\"size\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  Size of the SKU.\";}s:6:\"family\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  Family of this particular SKU.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  Kind of resources that are supported in this SKU.\";}s:8:\"capacity\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/ResourceSkuCapacity\";s:8:\"readOnly\";b:1;s:11:\"description\";s:58:\"Specifies
  the number of virtual machines in the scale set.\";}s:9:\"locations\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:47:\"The
  set of locations that the SKU is available.\";}s:11:\"apiVersions\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:39:\"The
  api versions that support this SKU.\";}s:5:\"costs\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ResourceSkuCosts\";}s:11:\"description\";s:35:\"Metadata
  for retrieving price info.\";}s:12:\"capabilities\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ResourceSkuCapabilities\";}s:11:\"description\";s:45:\"A
  name value pair to describe the capability.\";}s:12:\"restrictions\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:8:\"readOnly\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ResourceSkuRestrictions\";}s:11:\"description\";s:97:\"The
  restrictions because of which SKU cannot be used. This is empty if there are no
  restrictions.\";}}s:11:\"description\";s:35:\"Describes an available Compute SKU.\";}s:18:\"ResourceSkusResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceSku\";}s:11:\"description\";s:48:\"The
  list of skus available for the subscription.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  uri to fetch the next page of Compute Skus. Call ListNext() with this to fetch the
  next page of VMSS Skus.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:41:\"The
  Compute List Skus operation response.\";}s:31:\"VirtualMachineScaleSetOSProfile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"computerNamePrefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:140:\"Specifies
  the computer name prefix for all of the virtual machines in the scale set. Computer
  name prefixes must be 1 to 15 characters long.\";}s:13:\"adminUsername\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:1109:\"Specifies
  the name of the administrator account. <br><br> **Windows-only restriction:** Cannot
  end in \".\" <br><br> **Disallowed values:** \"administrator\", \"admin\", \"user\",
  \"user1\", \"test\", \"user2\", \"test1\", \"user3\", \"admin1\", \"1\", \"123\",
  \"a\", \"actuser\", \"adm\", \"admin2\", \"aspnet\", \"backup\", \"console\", \"david\",
  \"guest\", \"john\", \"owner\", \"root\", \"server\", \"sql\", \"support\", \"support_388945a0\",
  \"sys\", \"test2\", \"test3\", \"user4\", \"user5\". <br><br> **Minimum-length (Linux):**
  1  character <br><br> **Max-length (Linux):** 64 characters <br><br> **Max-length
  (Windows):** 20 characters  <br><br><li> For root access to the Linux VM, see [Using
  root privileges on Linux virtual machines in Azure](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-use-root-privileges?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)<br><li>
  For a list of built-in system users on Linux that should not be used in this field,
  see [Selecting User Names for Linux on Azure](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-usernames?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)\";}s:13:\"adminPassword\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:1182:\"Specifies
  the password of the administrator account. <br><br> **Minimum-length (Windows):**
  8 characters <br><br> **Minimum-length (Linux):** 6 characters <br><br> **Max-length
  (Windows):** 123 characters <br><br> **Max-length (Linux):** 72 characters <br><br>
  **Complexity requirements:** 3 out of 4 conditions below need to be fulfilled <br>
  Has lower characters <br>Has upper characters <br> Has a digit <br> Has a special
  character (Regex match [\\W_]) <br><br> **Disallowed values:** \"abc@123\", \"P@$$w0rd\",
  \"P@ssw0rd\", \"P@ssword123\", \"Pa$$word\", \"pass@word1\", \"Password!\", \"Password1\",
  \"Password22\", \"iloveyou!\" <br><br> For resetting the password, see [How to reset
  the Remote Desktop service or its login password in a Windows VM](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-windows-reset-rdp?toc=%2fazure%2fvirtual-machines%2fwindows%2ftoc.json)
  <br><br> For resetting root password, see [Manage users, SSH, and check or repair
  disks on Azure Linux VMs using the VMAccess Extension](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-using-vmaccess-extension?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json#reset-root-password)\";}s:10:\"customData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:457:\"Specifies
  a base-64 encoded string of custom data. The base-64 encoded string is decoded to
  a binary array that is saved as a file on the Virtual Machine. The maximum length
  of the binary array is 65535 bytes. <br><br> For using cloud-init for your VM, see
  [Using cloud-init to customize a Linux VM during creation](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-using-cloud-init?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)\";}s:20:\"windowsConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/WindowsConfiguration\";s:11:\"description\";s:67:\"Specifies
  Windows operating system settings on the virtual machine.\";}s:18:\"linuxConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/LinuxConfiguration\";s:11:\"description\";s:554:\"Specifies
  the Linux operating system settings on the virtual machine. <br><br>For a list of
  supported Linux distributions, see [Linux on Azure-Endorsed Distributions](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-endorsed-distros?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)
  <br><br> For running non-endorsed distributions, see [Information for Non-Endorsed
  Distributions](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-create-upload-generic?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json).\";}s:7:\"secrets\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/VaultSecretGroup\";}s:11:\"description\";s:98:\"Specifies
  set of certificates that should be installed onto the virtual machines in the scale
  set.\";}}s:11:\"description\";s:49:\"Describes a virtual machine scale set OS profile.\";}s:37:\"VirtualMachineScaleSetUpdateOSProfile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"customData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"A
  base-64 encoded string of custom data.\";}s:20:\"windowsConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/WindowsConfiguration\";s:11:\"description\";s:44:\"The
  Windows Configuration of the OS profile.\";}s:18:\"linuxConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/LinuxConfiguration\";s:11:\"description\";s:42:\"The
  Linux Configuration of the OS profile.\";}s:7:\"secrets\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/VaultSecretGroup\";}s:11:\"description\";s:48:\"The
  List of certificates for addition to the VM.\";}}s:11:\"description\";s:49:\"Describes
  a virtual machine scale set OS profile.\";}s:43:\"VirtualMachineScaleSetManagedDiskParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"storageAccountType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/StorageAccountType\";s:11:\"description\";s:106:\"Specifies
  the storage account type for the managed disk. Possible values are: Standard_LRS
  or Premium_LRS.\";}}s:11:\"description\";s:52:\"Describes the parameters of a ScaleSet
  managed disk.\";}s:28:\"VirtualMachineScaleSetOSDisk\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  disk name.\";}s:7:\"caching\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Caching\";s:11:\"description\";s:206:\"Specifies
  the caching requirements. <br><br> Possible values are: <br><br> **None** <br><br>
  **ReadOnly** <br><br> **ReadWrite** <br><br> Default: **None for Standard storage.
  ReadOnly for Premium storage**\";}s:12:\"createOption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CreateOption\";s:11:\"description\";s:387:\"Specifies
  how the virtual machines in the scale set should be created.<br><br> The only allowed
  value is: **FromImage** \\u2013 This value is used when you are using an image to
  create the virtual machine. If you are using a platform image, you also use the
  imageReference element described above. If you are using a marketplace image, you
  \ also use the plan element previously described.\";}s:6:\"osType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:208:\"This
  property allows you to specify the type of the OS that is included in the disk if
  creating a VM from user-image or a specialized VHD. <br><br> Possible values are:
  <br><br> **Windows** <br><br> **Linux**\";s:4:\"enum\";a:2:{i:0;s:7:\"Windows\";i:1;s:5:\"Linux\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"OperatingSystemTypes\";s:13:\"modelAsString\";b:0;}}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VirtualHardDisk\";s:11:\"description\";s:78:\"Specifies
  information about the unmanaged user image to base the scale set on.\";}s:13:\"vhdContainers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:93:\"Specifies
  the container urls that are used to store operating system disks for the scale set.\";}s:11:\"managedDisk\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  managed disk parameters.\";s:4:\"$ref\";s:57:\"#/definitions/VirtualMachineScaleSetManagedDiskParameters\";}}s:8:\"required\";a:1:{i:0;s:12:\"createOption\";}s:11:\"description\";s:60:\"Describes
  a virtual machine scale set operating system disk.\";}s:34:\"VirtualMachineScaleSetUpdateOSDisk\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"caching\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Caching\";s:11:\"description\";s:17:\"The
  caching type.\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VirtualHardDisk\";s:11:\"description\";s:202:\"The
  Source User Image VirtualHardDisk. This VirtualHardDisk will be copied before using
  it to attach to the Virtual Machine. If SourceImage is provided, the destination
  VirtualHardDisk should not exist.\";}s:13:\"vhdContainers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:45:\"The
  list of virtual hard disk container uris.\";}s:11:\"managedDisk\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  managed disk parameters.\";s:4:\"$ref\";s:57:\"#/definitions/VirtualMachineScaleSetManagedDiskParameters\";}}s:11:\"description\";s:119:\"Describes
  virtual machine scale set operating system disk Update Object. This should be used
  for Updating VMSS OS Disk.\";}s:30:\"VirtualMachineScaleSetDataDisk\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  disk name.\";}s:3:\"lun\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:173:\"Specifies
  the logical unit number of the data disk. This value is used to identify data disks
  within the VM and therefore must be unique for each data disk attached to a VM.\";}s:7:\"caching\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Caching\";s:11:\"description\";s:206:\"Specifies
  the caching requirements. <br><br> Possible values are: <br><br> **None** <br><br>
  **ReadOnly** <br><br> **ReadWrite** <br><br> Default: **None for Standard storage.
  ReadOnly for Premium storage**\";}s:12:\"createOption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CreateOption\";s:11:\"description\";s:18:\"The
  create option.\";}s:10:\"diskSizeGB\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:191:\"Specifies
  the size of an empty data disk in gigabytes. This element can be used to overwrite
  the size of the disk in a virtual machine image. <br><br> This value cannot be larger
  than 1023 GB\";}s:11:\"managedDisk\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  managed disk parameters.\";s:4:\"$ref\";s:57:\"#/definitions/VirtualMachineScaleSetManagedDiskParameters\";}}s:8:\"required\";a:2:{i:0;s:3:\"lun\";i:1;s:12:\"createOption\";}s:11:\"description\";s:48:\"Describes
[...]
