---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:7:\"version\";s:18:\"2016-06-27-preview\";s:5:\"title\";s:33:\"ContainerRegistryManagementClient\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerRegistry/checkNameAvailability:
    post:
      tags:
      - Operation
      description: Checks whether the container registry name is available for use.
        The name must contain only alphanumeric characters, be globally unique, and
        between 5 and 60 characters in length.
      operationId: Registries_CheckNameAvailability
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - name: registryNameCheckRequest
        in: body
        description: The object containing information for the availability request.
        required: true
        schema:
          $ref: '#/definitions/RegistryNameCheckRequest'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/RegistryNameStatus'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}
  : get:
      tags:
      - Registries
      description: Gets the properties of the specified container registry.
      operationId: Registries_GetProperties
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/RegistryNameParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/Registry'
    put:
      tags:
      - Registries
      description: Creates or updates a container registry with the specified parameters.
      operationId: Registries_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/RegistryNameParameter'
      - name: registry
        in: body
        description: The parameters for creating or updating a container registry.
        required: true
        schema:
          $ref: '#/definitions/Registry'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/Registry'
        202:
          description: The request was successful; the operation will complete asynchronously.
    delete:
      tags:
      - Registries
      description: Deletes a container registry.
      operationId: Registries_Delete
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/RegistryNameParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
        204:
          description: The container registry does not exist in the subscription.
    patch:
      tags:
      - Registries
      description: Updates a container registry with the specified parameters.
      operationId: Registries_Update
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/RegistryNameParameter'
      - name: registryUpdateParameters
        in: body
        description: The parameters for updating a container registry.
        required: true
        schema:
          $ref: '#/definitions/RegistryUpdateParameters'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/Registry'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries:
    get:
      tags:
      - Registries
      description: Lists all the available container registries under the specified
        resource group.
      operationId: Registries_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/RegistryListResult'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.ContainerRegistry/registries:
    get:
      tags:
      - Registries
      description: Lists all the available container registries under the specified
        subscription.
      operationId: Registries_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/RegistryListResult'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/getCredentials
  : post:
      tags:
      - Registries
      description: Gets the administrator login credentials for the specified container
        registry.
      operationId: Registries_GetCredentials
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/RegistryNameParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/RegistryCredentials'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/regenerateCredentials
  : post:
      tags:
      - Registries
      description: Regenerates the administrator login credentials for the specified
        container registry.
      operationId: Registries_RegenerateCredentials
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/RegistryNameParameter'
      responses:
        200:
          description: The request was successful; the request was well-formed and
            received properly.
          schema:
            $ref: '#/definitions/RegistryCredentials'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:24:\"RegistryNameCheckRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"A
  request to check whether the container registry name is available.\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  name of the container registry.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:112:\"The
  resource type of the container registry. This field must be set to \"Microsoft.ContainerRegistry/registries\".\";s:4:\"enum\";a:1:{i:0;s:38:\"Microsoft.ContainerRegistry/registries\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:29:\"ContainerRegistryResourceType\";s:13:\"modelAsString\";b:0;}}}}s:18:\"RegistryNameStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  result of a request to check the availability of a container registry name.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"nameAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  value that indicates whether the name is available.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"If
  any, the reason that the name is not available.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"If
  any, the error message that provides more detail for the reason that the name is
  not available.\";s:4:\"type\";s:6:\"string\";}}}s:8:\"Registry\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"An
  object that represents a container registry.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/RegistryProperties\";s:11:\"description\";s:41:\"The
  properties of the container registry.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:18:\"RegistryProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  properties of a container registry.\";s:8:\"required\";a:1:{i:0;s:14:\"storageAccount\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"loginServer\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  URL that can be used to log into the container registry.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:12:\"creationDate\";O:8:\"stdClass\":4:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:62:\"The
  creation date of the container registry in ISO8601 format.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:16:\"adminUserEnabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  value that indicates whether the admin user is enabled. This value is false by default.\";s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:14:\"storageAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/StorageAccountProperties\";s:11:\"description\";s:164:\"The
  properties of the storage account for the container registry. If specified, the
  storage account must be in the same physical location as the container registry.\";}}}s:24:\"StorageAccountProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  properties of a storage account for a container registry.\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:9:\"accessKey\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  name of the storage account.\";s:4:\"type\";s:6:\"string\";}s:9:\"accessKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  access key to the storage account.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"RegistryUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  parameters for updating a container registry.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  resource tags for the container registry.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:48:\"#/definitions/RegistryPropertiesUpdateParameters\";s:11:\"description\";s:64:\"The
  properties that the container registry will be updated with.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:34:\"RegistryPropertiesUpdateParameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  parameters for updating the properties of a container registry.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"adminUserEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"The
  value that indicates whether the admin user is enabled. This value is false by default.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"storageAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/StorageAccountProperties\";s:11:\"description\";s:162:\"The
  properties of a storage account for the container registry. If specified, the storage
  account must be in the same physical location as the container registry.\";}}}s:18:\"RegistryListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  result of a request to list container registries.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:152:\"The
  list of container registries. Since this list may be incomplete, the nextLink field
  should be used to request the next list of container registries.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Registry\";}}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  URI that can be used to request the next list of container registries.\";s:4:\"type\";s:6:\"string\";}}}s:19:\"RegistryCredentials\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"The
  result of a request to get the administrator login credentials for a container registry.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  administrator username.\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  administrator password.\";s:4:\"type\";s:6:\"string\";}}}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"An
  Azure resource.\";s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  resource ID.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  name of the resource.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the resource.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  location of the resource. This cannot be changed after the resource is created.\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  tags of the resource.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"x-ms-azure-resource\";b:1;}}"
...
