---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:28:\"RecoveryServicesBackupClient\";s:7:\"version\";s:10:\"2017-07-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:176:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2017-07-01/jobs.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:27:\"recoveryservicesbackup-jobs\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:33:\"azure_recoveryservicesbackup_jobs\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs
  : get:
      deprecated: false
      description: Provides a pageable list of jobs.
      operationId: BackupJobs_List
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: OData filter options.
        in: query
        name: $filter
        required: false
        type: string
      - description: skipToken Filter.
        in: query
        name: $skipToken
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobResourceList'
      tags:
      - BackupJobs
      x-ms-examples:
        ListJobs:
          parameters:
            api-version: "2017-07-01"
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            200:
              body:
                value:
                - id: /Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/cb7120f5-a787-4c2a-a793-19ad03776ad1
                  name: cb7120f5-a787-4c2a-a793-19ad03776ad1
                  properties:
                    activityId: 5417abaf-8cb7-41d8-a497-dee2ff4b930b
                    backupManagementType: AzureIaasVM
                    duration: PT12.4272909S
                    entityFriendlyName: iaasvmtestv2vm1
                    jobType: AzureIaaSVMJob
                    operation: Backup
                    startTime: "2017-08-03T05:31:07.014604Z"
                    status: InProgress
                    virtualMachineVersion: Compute
                  type: Microsoft.RecoveryServices/vaults/backupJobs
                - id: /Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/947d792d-e27f-4139-af05-d3c598dc5cc6
                  name: 947d792d-e27f-4139-af05-d3c598dc5cc6
                  properties:
                    activityId: e202d134-0286-4fdc-83ce-9426a213bd81
                    backupManagementType: AzureIaasVM
                    duration: PT31.3066291S
                    endTime: "2017-08-03T05:31:03.7553376Z"
                    entityFriendlyName: iaasvmtestv2vm1
                    jobType: AzureIaaSVMJob
                    operation: ConfigureBackup
                    startTime: "2017-08-03T05:30:32.4487085Z"
                    status: Completed
                    virtualMachineVersion: Compute
                  type: Microsoft.RecoveryServices/vaults/backupJobs
      x-ms-odata: '#/definitions/JobQueryObject'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}
  : get:
      deprecated: false
      description: Gets exteded information associated with the job.
      operationId: JobDetails_Get
      parameters:
      - $ref: '#/parameters/ApiVersion'
      - $ref: '#/parameters/VaultName'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/SubscriptionId'
      - description: Name of the job whose details are to be fetched.
        in: path
        name: jobName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/JobResource'
      tags:
      - JobDetails
      x-ms-examples:
        GetJobDetails:
          parameters:
            api-version: "2017-07-01"
            jobName: cb7120f5-a787-4c2a-a793-19ad03776ad1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            200:
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/cb7120f5-a787-4c2a-a793-19ad03776ad1
                name: cb7120f5-a787-4c2a-a793-19ad03776ad1
                properties:
                  activityId: 5417abaf-8cb7-41d8-a497-dee2ff4b930b
                  backupManagementType: AzureIaasVM
                  duration: PT9.8782791S
                  entityFriendlyName: iaasvmtestv2vm1
                  extendedInfo:
                    propertyBag:
                      VM Name: iaasvmtestv2vm1
                    tasksList:
                    - duration: PT0S
                      status: InProgress
                      taskId: Take Snapshot
                    - duration: PT0S
                      status: NotStarted
                      taskId: Transfer data to vault
                  jobType: AzureIaaSVMJob
                  operation: Backup
                  startTime: "2017-08-03T05:31:07.014604Z"
                  status: InProgress
                  virtualMachineVersion: Compute
                type: Microsoft.RecoveryServices/vaults/backupJobs
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":19:{s:20:\"AzureIaaSVMErrorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Azure
  IaaS VM workload-specific error information.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"errorCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Error
  code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"errorString\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Localized
  error string.\";s:4:\"type\";s:6:\"string\";}s:10:\"errorTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Title:
  Typically, the entity that the error pertains to.\";s:4:\"type\";s:6:\"string\";}s:15:\"recommendations\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"List
  of localized recommendations for above error code.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AzureIaaSVMJob\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}}s:11:\"description\";s:42:\"Azure
  IaaS VM workload-specifc job object.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"actionsInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Gets
  or sets the state/actions applicable on this job like cancel/retry.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:11:\"Cancellable\";i:2;s:9:\"Retriable\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"JobSupportedAction\";}}s:4:\"type\";s:5:\"array\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Time
  elapsed during the execution of this job.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:12:\"errorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Error
  details on execution of this job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AzureIaaSVMErrorInfo\";}s:4:\"type\";s:5:\"array\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/AzureIaaSVMJobExtendedInfo\";s:11:\"description\";s:36:\"Additional
  information for this job.\";}s:21:\"virtualMachineVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Specifies
  whether the backup item is a Classic or an Azure Resource Manager VM.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:14:\"AzureIaaSVMJob\";}s:26:\"AzureIaaSVMJobExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Azure
  IaaS VM workload-specific additional information for job.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"dynamicErrorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Non
  localized error message on job execution.\";s:4:\"type\";s:6:\"string\";}s:18:\"progressPercentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Indicates
  progress of the job. Null if it has not started or completed.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"propertyBag\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:15:\"Job
  properties.\";s:4:\"type\";s:6:\"object\";}s:9:\"tasksList\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"List
  of tasks associated with this job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AzureIaaSVMJobTaskDetails\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"AzureIaaSVMJobTaskDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Azure
  IaaS VM workload-specific job task details.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Time
  elapsed for task.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  end time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"instanceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  instanceId.\";s:4:\"type\";s:6:\"string\";}s:18:\"progressPercentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Progress
  of the task.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"The
  status.\";s:4:\"type\";s:6:\"string\";}s:6:\"taskId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  task display name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DpmErrorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"DPM
  workload-specific error information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"errorString\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Localized
  error string.\";s:4:\"type\";s:6:\"string\";}s:15:\"recommendations\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"List
  of localized recommendations for above error code.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"DpmJob\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}}s:11:\"description\";s:32:\"DPM
  workload-specifc job object.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"actionsInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  state/actions applicable on this job like cancel/retry.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:11:\"Cancellable\";i:2;s:9:\"Retriable\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"JobSupportedAction\";}}s:4:\"type\";s:5:\"array\";}s:13:\"containerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Name
  of cluster/server protecting current backup item, if any.\";s:4:\"type\";s:6:\"string\";}s:13:\"containerType\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Type
  of container.\";s:4:\"type\";s:6:\"string\";}s:13:\"dpmServerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"DPM
  server name managing the backup item or backup job.\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Time
  elapsed for job.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:12:\"errorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  errors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DpmErrorInfo\";}s:4:\"type\";s:5:\"array\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DpmJobExtendedInfo\";s:11:\"description\";s:36:\"Additional
  information for this job.\";}s:12:\"workloadType\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Type
  of backup item.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:6:\"DpmJob\";}s:18:\"DpmJobExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Additional
  information on the DPM workload-specific job.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"dynamicErrorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Non
  localized error message on job execution.\";s:4:\"type\";s:6:\"string\";}s:11:\"propertyBag\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:19:\"The
  job properties.\";s:4:\"type\";s:6:\"object\";}s:9:\"tasksList\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"List
  of tasks associated with this job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DpmJobTaskDetails\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DpmJobTaskDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"DPM
  workload-specific job task details.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Time
  elapsed for task.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  end time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"The
  status.\";s:4:\"type\";s:6:\"string\";}s:6:\"taskId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  task display name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Job\";O:8:\"stdClass\":5:{s:11:\"description\";s:47:\"Defines
  workload agnostic properties for a job.\";s:13:\"discriminator\";s:7:\"jobType\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"activityId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"ActivityId
  of job.\";s:4:\"type\";s:6:\"string\";}s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Backup
  management type to execute the current job.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"BackupManagementType\";}}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  end time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"entityFriendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Friendly
  name of the entity on which the current job is executing.\";s:4:\"type\";s:6:\"string\";}s:7:\"jobType\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"This
  property will be used as the discriminator for deciding the specific types in the
  polymorhpic chain of types.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  operation name.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Job
  status.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"jobType\";}s:4:\"type\";s:6:\"object\";}s:14:\"JobQueryObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Filters
  to list the jobs.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"backupManagementType\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Type
  of backup managmenent for the job.\";s:4:\"enum\";a:6:{i:0;s:7:\"Invalid\";i:1;s:11:\"AzureIaasVM\";i:2;s:3:\"MAB\";i:3;s:3:\"DPM\";i:4;s:17:\"AzureBackupServer\";i:5;s:8:\"AzureSql\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"BackupManagementType\";}}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Job
  has ended at this time. Value is in UTC.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"JobID
  represents the job uniquely.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Type
  of operation.\";s:4:\"enum\";a:8:{i:0;s:7:\"Invalid\";i:1;s:8:\"Register\";i:2;s:10:\"UnRegister\";i:3;s:15:\"ConfigureBackup\";i:4;s:6:\"Backup\";i:5;s:7:\"Restore\";i:6;s:13:\"DisableBackup\";i:7;s:16:\"DeleteBackupData\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"JobOperationType\";}}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Job
  has started at this time. Value is in UTC.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Status
  of the job.\";s:4:\"enum\";a:7:{i:0;s:7:\"Invalid\";i:1;s:10:\"InProgress\";i:2;s:9:\"Completed\";i:3;s:6:\"Failed\";i:4;s:21:\"CompletedWithWarnings\";i:5;s:9:\"Cancelled\";i:6;s:10:\"Cancelling\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"JobStatus\";}}}s:4:\"type\";s:6:\"object\";}s:11:\"JobResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:47:\"Defines
  workload agnostic properties for a job.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Job\";s:11:\"description\";s:22:\"JobResource
  properties\";}}}s:15:\"JobResourceList\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceList\";}}s:11:\"description\";s:21:\"List
  of Job resources\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/JobResource\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"MabErrorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"MAB
  workload-specific error information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"errorString\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Localized
  error string.\";s:4:\"type\";s:6:\"string\";}s:15:\"recommendations\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"List
  of localized recommendations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"MabJob\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}}s:11:\"description\";s:26:\"MAB
  workload-specific job.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"actionsInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  state/actions applicable on jobs like cancel/retry.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:7:\"Invalid\";i:1;s:11:\"Cancellable\";i:2;s:9:\"Retriable\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"JobSupportedAction\";}}s:4:\"type\";s:5:\"array\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Time
  taken by job to run.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:12:\"errorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  errors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MabErrorInfo\";}s:4:\"type\";s:5:\"array\";}s:12:\"extendedInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/MabJobExtendedInfo\";s:11:\"description\";s:34:\"Additional
  information on the job.\";}s:13:\"mabServerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Name
  of server protecting the DS.\";s:4:\"type\";s:6:\"string\";}s:13:\"mabServerType\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Server
  type of MAB container.\";s:4:\"enum\";a:11:{i:0;s:7:\"Invalid\";i:1;s:7:\"Unknown\";i:2;s:15:\"IaasVMContainer\";i:3;s:22:\"IaasVMServiceContainer\";i:4;s:12:\"DPMContainer\";i:5;s:26:\"AzureBackupServerContainer\";i:6;s:12:\"MABContainer\";i:7;s:7:\"Cluster\";i:8;s:17:\"AzureSqlContainer\";i:9;s:7:\"Windows\";i:10;s:7:\"VCenter\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"MabServerType\";}}s:12:\"workloadType\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Workload
  type of backup item.\";s:4:\"enum\";a:11:{i:0;s:7:\"Invalid\";i:1;s:2:\"VM\";i:2;s:10:\"FileFolder\";i:3;s:10:\"AzureSqlDb\";i:4;s:5:\"SQLDB\";i:5;s:8:\"Exchange\";i:6;s:10:\"Sharepoint\";i:7;s:8:\"VMwareVM\";i:8;s:11:\"SystemState\";i:9;s:6:\"Client\";i:10;s:17:\"GenericDataSource\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"WorkloadType\";}}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:6:\"MabJob\";}s:18:\"MabJobExtendedInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Additional
  information for the MAB workload-specific job.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"dynamicErrorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Non
  localized error message specific to this job.\";s:4:\"type\";s:6:\"string\";}s:11:\"propertyBag\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:19:\"The
  job properties.\";s:4:\"type\";s:6:\"object\";}s:9:\"tasksList\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  of tasks for this job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/MabJobTaskDetails\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MabJobTaskDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"MAB
  workload-specific job task details.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Time
  elapsed for task.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  end time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"The
  status.\";s:4:\"type\";s:6:\"string\";}s:6:\"taskId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  task display name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Object\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Base
  of all objects.\";s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  Resource.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"eTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Optional
  ETag.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Resource
  Id represents the complete path to the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Resource
  name associated with the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Resource
  type represents the complete path of the form Namespace/ResourceType/ResourceType/...\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:12:\"ResourceList\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Base
  for all lists of resources.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"The
  uri to fetch the next page of resources. Call ListNext() fetches next page of resources.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
