---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:5:\"title\";s:13:\"MonitorClient\";s:7:\"version\";s:10:\"2014-04-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:97:\"https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:116:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/monitor/2014-04-01/swagger/usageMetrics_API.json\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:7:\"monitor\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:11:\"x-preferred\";b:1;}"
host: management.azure.com
paths:
  /{resourceUri}/usages:
    get:
      description: 'The List operation lists the usage metrics for the resource.<br>**WARNING**:
        This operation will be *deprecated* in the next release.'
      operationId: UsageMetrics_List
      parameters:
      - $ref: '#/parameters/ResourceUriParameter'
      - description: 'Client Api Version. NOTE: This is not a client property, it
          must be explicit in the call and there is no default value.'
        in: query
        name: api-version
        required: true
        type: string
      - description: 'The filter to apply on the operation.<br>**WARNING**: $filter
          not documented since the operation will be deprecated in the next release.'
        in: query
        name: $filter
        required: false
        type: string
      responses:
        200:
          description: Successful request to get the list of usage metric values
          schema:
            $ref: '#/definitions/UsageMetricCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - UsageMetrics
      x-ms-odata: '#/definitions/UsageMetric'
      x-ms-pageable: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the format of Error response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"LocalizableString\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  localizable string class.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"the
  locale specific value.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"the
  invariant value.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}s:11:\"UsageMetric\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Usage
  Metric data.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"currentValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"the
  current value for the usage metric.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"the
  id for the usage metric.\";s:4:\"type\";s:6:\"string\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"the
  quota limit the usage metric.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/LocalizableString\";s:11:\"description\";s:39:\"the
  usage metric name and display name.\";}s:13:\"nextResetTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"the
  next reset time for the current value.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"quotaPeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"the
  amount of time it takes to reset the value.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"the
  unit for the usage metric.\";s:4:\"type\";s:6:\"string\";}}}s:21:\"UsageMetricCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Represents
  collection of usage metrics.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"the
  usage values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UsageMetric\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}}"
...
