---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:11:\"description\";s:159:\"The Azure Analysis
  Services Web API provides a RESTful set of web services that enables users to create,
  retrieve, update, and delete Analysis Services servers\";s:5:\"title\";s:21:\"AzureAnalysisServices\";s:7:\"version\";s:10:\"2017-07-14\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:32:\"AnalysisServicesManagementClient\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:182:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-07-14/analysisservices.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:16:\"analysisservices\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"azure_analysisservices\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/checkNameAvailability:
    post:
      description: Check the name availability in the target location.
      operationId: Servers_CheckNameAvailability
      parameters:
      - description: The region name which the operation will lookup into.
        in: path
        name: location
        required: true
        type: string
      - description: Contains the information used to provision the Analysis Services
          server.
        in: body
        name: serverParameters
        required: true
        schema:
          $ref: '#/definitions/CheckServerNameAvailabilityParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/CheckServerNameAvailabilityResult'
      tags:
      - Servers
      x-ms-examples:
        Get details of a server:
          parameters:
            api-version: "2017-07-14"
            location: West US
            serverParameters:
              name: azsdktest
              type: Microsoft.AnalysisServices/servers
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            200:
              body:
                nameAvailable: true
              headers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/operationresults/{operationId}:
    get:
      description: List the result of the specified operation.
      operationId: Servers_ListOperationResults
      parameters:
      - description: The region name which the operation will lookup into.
        in: path
        name: location
        required: true
        type: string
      - description: The target operation Id.
        in: path
        name: operationId
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK. The operation completed.
        202:
          description: Accepted. The operation is ongoing.
      tags:
      - Servers
      x-ms-examples:
        Get details of a server:
          parameters:
            api-version: "2017-07-14"
            location: West US
            operationId: "00000000000000000000000000000000"
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            200:
              headers: []
            202:
              headers: []
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/operationstatuses/{operationId}:
    get:
      description: List the status of operation.
      operationId: Servers_ListOperationStatuses
      parameters:
      - description: The region name which the operation will lookup into.
        in: path
        name: location
        required: true
        type: string
      - description: The target operation Id.
        in: path
        name: operationId
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK. The operation completed.
          schema:
            $ref: '#/definitions/OperationStatus'
        202:
          description: Accepted. The operation is ongoing.
          schema:
            $ref: '#/definitions/OperationStatus'
      tags:
      - Servers
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/servers:
    get:
      description: Lists all the Analysis Services servers for the given subscription.
      operationId: Servers_List
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AnalysisServicesServers'
      tags:
      - Servers
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/skus:
    get:
      description: Lists eligible SKUs for Analysis Services resource provider.
      operationId: Servers_ListSkusForNew
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SkuEnumerationForNewResourceResult'
      x-ms-examples:
        List eligible SKUs for a new server:
          parameters:
            api-version: "2017-07-14"
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            200:
              body:
                value:
                - name: B1
                - name: B2
                - name: D1
                - name: S0
                - name: S1
                - name: S2
                - name: S3
                - name: S4
              headers: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers:
    get:
      description: Gets all the Analysis Services servers for the given resource group.
      operationId: Servers_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AnalysisServicesServers'
      tags:
      - Servers
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}:
    delete:
      description: Deletes the specified Analysis Services server.
      operationId: Servers_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
        in: path
        maxLength: 63
        minLength: 3
        name: serverName
        pattern: ^[a-z][a-z0-9]*$
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK.
        202:
          description: Accepted.
        204:
          description: No Content.
      tags:
      - Servers
      x-ms-long-running-operation: true
    get:
      description: Gets details about the specified Analysis Services server.
      operationId: Servers_GetDetails
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: The name of the Analysis Services server. It must be a minimum
          of 3 characters, and a maximum of 63.
        in: path
        maxLength: 63
        minLength: 3
        name: serverName
        pattern: ^[a-z][a-z0-9]*$
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/AnalysisServicesServer'
      tags:
      - Servers
    patch:
      description: Updates the current state of the specified Analysis Services server.
      operationId: Servers_Update
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
        in: path
        maxLength: 63
        minLength: 3
        name: serverName
        pattern: ^[a-z][a-z0-9]*$
        required: true
        type: string
      - description: Request object that contains the updated information for the
          server.
        in: body
        name: serverUpdateParameters
        required: true
        schema:
          $ref: '#/definitions/AnalysisServicesServerUpdateParameters'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AnalysisServicesServer'
        202:
          description: Accepted
          schema:
            $ref: '#/definitions/AnalysisServicesServer'
      tags:
      - Servers
      x-ms-long-running-operation: true
    put:
      description: Provisions the specified Analysis Services server based on the
        configuration specified in the request.
      operationId: Servers_Create
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: The name of the Analysis Services server. It must be a minimum
          of 3 characters, and a maximum of 63.
        in: path
        maxLength: 63
        minLength: 3
        name: serverName
        pattern: ^[a-z][a-z0-9]*$
        required: true
        type: string
      - description: Contains the information used to provision the Analysis Services
          server.
        in: body
        name: serverParameters
        required: true
        schema:
          $ref: '#/definitions/AnalysisServicesServer'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK. The operation completed successfully.
          schema:
            $ref: '#/definitions/AnalysisServicesServer'
        201:
          description: InProgress. The operation is still completing.
          schema:
            $ref: '#/definitions/AnalysisServicesServer'
      tags:
      - Servers
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/dissociateGateway
  : post:
      description: Dissociates a Unified Gateway associated with the server.
      operationId: Servers_DissociateGateway
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
        in: path
        maxLength: 63
        minLength: 3
        name: serverName
        pattern: ^[a-z][a-z0-9]*$
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK.
      tags:
      - Servers
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/listGatewayStatus
  : post:
      description: Return the gateway status of the specified Analysis Services server
        instance.
      operationId: Servers_ListGatewayStatus
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
        in: path
        maxLength: 63
        minLength: 3
        name: serverName
        pattern: ^[a-z][a-z0-9]*$
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/GatewayListStatusLive'
        default:
          description: Default response as an error
          schema:
            $ref: '#/definitions/GatewayListStatusError'
      tags:
      - Servers
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/resume
  : post:
      description: Resumes operation of the specified Analysis Services server instance.
      operationId: Servers_Resume
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
        in: path
        maxLength: 63
        minLength: 3
        name: serverName
        pattern: ^[a-z][a-z0-9]*$
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK
        202:
          description: Accepted
      tags:
      - Servers
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/skus
  : get:
      description: Lists eligible SKUs for an Analysis Services resource.
      operationId: Servers_ListSkusForExisting
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
        in: path
        maxLength: 63
        minLength: 3
        name: serverName
        pattern: ^[a-z][a-z0-9]*$
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SkuEnumerationForExistingResourceResult'
      tags:
      - Servers
      x-ms-examples:
        List eligible SKUs for an existing server:
          parameters:
            api-version: "2017-07-14"
            resourceGroupName: TestRG
            serverName: azsdktest
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            200:
              body:
                value:
                - sku:
                    name: B1
                    tier: Basic
                - sku:
                    name: B2
                    tier: Basic
                - sku:
                    name: S0
                    tier: Standard
                - sku:
                    name: S1
                    tier: Standard
                - sku:
                    name: S2
                    tier: Standard
                - sku:
                    name: S3
                    tier: Standard
                - sku:
                    name: S4
                    tier: Standard
              headers: []
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/suspend
  : post:
      description: Supends operation of the specified Analysis Services server instance.
      operationId: Servers_Suspend
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - description: The name of the Analysis Services server. It must be at least
          3 characters in length, and no more than 63.
        in: path
        maxLength: 63
        minLength: 3
        name: serverName
        pattern: ^[a-z][a-z0-9]*$
        required: true
        type: string
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK.
        202:
          description: Accepted.
      tags:
      - Servers
      x-ms-long-running-operation: true
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":19:{s:22:\"AnalysisServicesServer\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:56:\"Represents
  an instance of an Analysis Services resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:46:\"#/definitions/AnalysisServicesServerProperties\";s:11:\"description\";s:46:\"Properties
  of the provision operation request.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:39:\"AnalysisServicesServerMutableProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"An
  object that represents a set of mutable Analysis Services resource properties.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"asAdministrators\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ServerAdministrators\";s:11:\"description\";s:40:\"A
  collection of AS server administrators\";}s:22:\"backupBlobContainerUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  SAS container URI to the backup container.\";s:4:\"type\";s:6:\"string\";}s:14:\"gatewayDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GatewayDetails\";s:11:\"description\";s:49:\"The
  gateway details configured for the AS server.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"AnalysisServicesServerProperties\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/AnalysisServicesServerMutableProperties\";}}s:11:\"description\";s:41:\"Properties
  of Analysis Services resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"provisioningState\";O:8:\"stdClass\":5:{s:11:\"description\";s:130:\"The
  current deployment state of Analysis Services resource. The provisioningState is
  to indicate states for resource provisioning.\";s:4:\"enum\";a:12:{i:0;s:8:\"Deleting\";i:1;s:9:\"Succeeded\";i:2;s:6:\"Failed\";i:3;s:6:\"Paused\";i:4;s:9:\"Suspended\";i:5;s:12:\"Provisioning\";i:6;s:8:\"Updating\";i:7;s:10:\"Suspending\";i:8;s:7:\"Pausing\";i:9;s:8:\"Resuming\";i:10;s:9:\"Preparing\";i:11;s:7:\"Scaling\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"ProvisioningState\";}}s:14:\"serverFullName\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  full name of the Analysis Services resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":5:{s:11:\"description\";s:119:\"The
  current state of Analysis Services resource. The state is to indicate more states
  outside of resource provisioning.\";s:4:\"enum\";a:12:{i:0;s:8:\"Deleting\";i:1;s:9:\"Succeeded\";i:2;s:6:\"Failed\";i:3;s:6:\"Paused\";i:4;s:9:\"Suspended\";i:5;s:12:\"Provisioning\";i:6;s:8:\"Updating\";i:7;s:10:\"Suspending\";i:8;s:7:\"Pausing\";i:9;s:8:\"Resuming\";i:10;s:9:\"Preparing\";i:11;s:7:\"Scaling\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:5:\"State\";}}}s:4:\"type\";s:6:\"object\";}s:38:\"AnalysisServicesServerUpdateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Provision
  request specification\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:53:\"#/definitions/AnalysisServicesServerMutableProperties\";s:11:\"description\";s:46:\"Properties
  of the provision operation request.\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceSku\";s:11:\"description\";s:42:\"The
  SKU of the Analysis Services resource.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:54:\"Key-value
  pairs of additional provisioning properties.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:23:\"AnalysisServicesServers\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"An
  array of Analysis Services resources.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"An
  array of Analysis Services resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AnalysisServicesServer\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:37:\"CheckServerNameAvailabilityParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Details
  of server name request body.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":5:{s:11:\"description\";s:31:\"Name
  for checking availability.\";s:9:\"maxLength\";i:63;s:9:\"minLength\";i:3;s:7:\"pattern\";s:16:\"^[a-z][a-z0-9]*$\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:7:\"default\";s:34:\"Microsoft.AnalysisServices/servers\";s:11:\"description\";s:45:\"The
  resource type of azure analysis services.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"CheckServerNameAvailabilityResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  checking result of server name availibility.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  detailed message of the request unavailability.\";s:4:\"type\";s:6:\"string\";}s:13:\"nameAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Indicator
  of available of the server name.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  reason of unavailability.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the format of Error response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"GatewayDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  gateway details.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"dmtsClusterUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Uri
  of the DMTS cluster.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"gatewayObjectId\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Gateway
  object id from in the DMTS cluster for the gateway resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"gatewayResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Gateway
  resource to be associated with the server.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"GatewayError\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Detail
  of gateway errors\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Error
  code of list gateway.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Error
  message of list gateway.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GatewayListStatusError\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Status
  of gateway is error\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/GatewayError\";s:11:\"description\";s:33:\"Error
  of the list gateway status.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"GatewayListStatusLive\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Status
  of gateway is live\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Live
  message of list gateway.\";s:4:\"enum\";a:1:{i:0;s:4:\"Live\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:6:\"Status\";}}}s:4:\"type\";s:6:\"object\";}s:15:\"OperationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  status of operation.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"endTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  end time of the operation.\";s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/ErrorResponse\";s:11:\"description\";s:41:\"The
  error detail of the operation if any.\";s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  operation Id.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  operation name.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  start time of the operation.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  status of the operation.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"Represents
  an instance of an Analysis Services resource.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"An
  identifier that represents the Analysis Services resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Location
  of the Analysis Services resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  name of the Analysis Services resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceSku\";s:11:\"description\";s:42:\"The
  SKU of the Analysis Services resource.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:63:\"Key-value
  pairs of additional resource provisioning properties.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  type of the Analysis Services resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"location\";i:1;s:3:\"sku\";}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:11:\"ResourceSku\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"Represents
  the SKU name and Azure pricing tier for Analysis Services resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of the SKU level.\";s:4:\"type\";s:6:\"string\";}s:4:\"tier\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"The
  name of the Azure pricing tier to which the SKU applies.\";s:4:\"enum\";a:3:{i:0;s:11:\"Development\";i:1;s:5:\"Basic\";i:2;s:8:\"Standard\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:7:\"SkuTier\";}}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:20:\"ServerAdministrators\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  array of administrator user identities\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"An
  array of administrator user identities.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  UPN of the user. For example: johnsmith@contoso.com.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"SkuDetailsForExistingResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"An
  object that represents SKU details for existing resources\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceSku\";s:11:\"description\";s:46:\"The
  SKU in SKU details for existing resources.\";}}s:4:\"type\";s:6:\"object\";}s:39:\"SkuEnumerationForExistingResourceResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"An
  object that represents enumerating SKUs for existing resources\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  collection of available SKUs for existing resources\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/SkuDetailsForExistingResource\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:34:\"SkuEnumerationForNewResourceResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"An
  object that represents enumerating SKUs for new resources\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  collection of available SKUs for new resources\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceSku\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
