---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:21:\"MySQLManagementClient\";s:11:\"description\";s:228:\"The
  Microsoft Azure management API provides create, read, update, and delete functionality
  for Azure MySQL resources including servers, databases, firewall rules, VNET rules,
  log files and configurations with new business model.\";s:7:\"version\";s:10:\"2017-12-01\";}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}:
    put:
      tags:
      - Servers
      operationId: Servers_Create
      x-ms-examples:
        Create a new server:
          $ref: ./examples/ServerCreate.json
        Create a database as a point in time restore:
          $ref: ./examples/ServerCreatePointInTimeRestore.json
        'Create a server as a geo restore ':
          $ref: ./examples/ServerCreateGeoRestoreMode.json
        Create a replica server:
          $ref: ./examples/ServerCreateReplicaMode.json
      description: Creates a new server or updates an existing server. The update
        action will overwrite the existing server.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServerForCreate'
        description: The required parameters for creating or updating a server.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Server'
        201:
          description: Created
          schema:
            $ref: '#/definitions/Server'
        202:
          description: Accepted
      x-ms-long-running-operation: true
    patch:
      tags:
      - Servers
      operationId: Servers_Update
      x-ms-examples:
        ServerUpdate:
          $ref: ./examples/ServerUpdate.json
      description: Updates an existing server. The request body can contain one to
        many of the properties present in the normal server definition.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServerUpdateParameters'
        description: The required parameters for updating a server.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Server'
        202:
          description: Accepted
      x-ms-long-running-operation: true
    delete:
      tags:
      - Servers
      operationId: Servers_Delete
      x-ms-examples:
        ServerDelete:
          $ref: ./examples/ServerDelete.json
      description: Deletes a server.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        204:
          description: NoContent
      x-ms-long-running-operation: true
    get:
      tags:
      - Servers
      operationId: Servers_Get
      x-ms-examples:
        ServerGet:
          $ref: ./examples/ServerGet.json
      description: Gets information about a server.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Server'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers:
    get:
      tags:
      - Servers
      operationId: Servers_ListByResourceGroup
      x-ms-examples:
        ServerListByResourceGroup:
          $ref: ./examples/ServerListByResourceGroup.json
      description: List all the servers in a given resource group.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServerListResult'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/servers:
    get:
      tags:
      - Servers
      operationId: Servers_List
      x-ms-examples:
        ServerList:
          $ref: ./examples/ServerList.json
      description: List all the servers in a given subscription.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServerListResult'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/restart:
    post:
      tags:
      - ServerRestart
      operationId: Servers_Restart
      x-ms-examples:
        ServerRestart:
          $ref: ./examples/ServerRestart.json
      description: Restarts a server.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/CloudError'
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/replicas:
    get:
      tags:
      - Replicas
      operationId: Replicas_ListByServer
      x-ms-examples:
        ReplicasListByServer:
          $ref: ./examples/ReplicasListByServer.json
      description: List all the replicas for a given server.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ServerListResult'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/firewallRules/{firewallRuleName}
  : put:
      tags:
      - FirewallRules
      operationId: FirewallRules_CreateOrUpdate
      x-ms-examples:
        FirewallRuleCreate:
          $ref: ./examples/FirewallRuleCreate.json
      description: Creates a new firewall rule or updates an existing firewall rule.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/FirewallRuleNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/FirewallRule'
        description: The required parameters for creating or updating a firewall rule.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FirewallRule'
        201:
          description: Created
          schema:
            $ref: '#/definitions/FirewallRule'
        202:
          description: Accepted
      x-ms-long-running-operation: true
    delete:
      tags:
      - FirewallRules
      operationId: FirewallRules_Delete
      x-ms-examples:
        FirewallRuleDelete:
          $ref: ./examples/FirewallRuleDelete.json
      description: Deletes a server firewall rule.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/FirewallRuleNameParameter'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        204:
          description: NoContent
      x-ms-long-running-operation: true
    get:
      tags:
      - FirewallRules
      operationId: FirewallRules_Get
      x-ms-examples:
        FirewallRuleGet:
          $ref: ./examples/FirewallRuleGet.json
      description: Gets information about a server firewall rule.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/FirewallRuleNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FirewallRule'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/firewallRules
  : get:
      tags:
      - FirewallRules
      operationId: FirewallRules_ListByServer
      x-ms-examples:
        FirewallRuleList:
          $ref: ./examples/FirewallRuleListByServer.json
      description: List all the firewall rules in a given server.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FirewallRuleListResult'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/virtualNetworkRules/{virtualNetworkRuleName}
  : get:
      tags:
      - VirtualNetworkRules
      description: Gets a virtual network rule.
      operationId: VirtualNetworkRules_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/virtualNetworkRuleNameParameter'
      responses:
        200:
          description: Successfully retrieved a specified virtual network rule.
          schema:
            $ref: '#/definitions/VirtualNetworkRule'
        default:
          description: '*** Error Responses: ***nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 ResourceNotFound - The requested
            resource was not found.'
      x-ms-examples:
        Gets a virtual network rule:
          $ref: ./examples/VirtualNetworkRulesGet.json
    put:
      tags:
      - VirtualNetworkRules
      description: Creates or updates an existing virtual network rule.
      operationId: VirtualNetworkRules_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/virtualNetworkRuleNameParameter'
      - name: parameters
        in: body
        description: The requested virtual Network Rule Resource state.
        required: true
        schema:
          $ref: '#/definitions/VirtualNetworkRule'
      responses:
        200:
          description: Successfully updated a virtual network rule.
          schema:
            $ref: '#/definitions/VirtualNetworkRule'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidResourceId - Invalid
            resource identifier.nn * 400 MismatchingSubscriptionWithUrl - The provided
            subscription did not match the subscription in the Url.nn * 400 MismatchingResourceGroupNameWithUrl
            - The provided resource group name did not match the name in the Url.nn
            * 400 MismatchingServerNameWithUrl - The provided server name did not
            match the name in the Url.nn * 400 NullVirtualNetworkRequest - Virtual
            Network Request is Nullnn * 400 NullVirtualNetworkRequestParameters -
            Virtual Network Request Parameters are Nullnn * 400 NullVirtualNetworkSubnetId
            - The Virtual Network Subnet Id is nullnn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 VirtualNetworkRuleNotEnabled
            - Azure SQL Server Virtual Network Rule feature is not enablednn * 404
            OperationIdNotFound - The operation with Id does not exist.nn * 409 OperationCancelled
            - The operation has been cancelled by user.nn * 409 OperationInterrupted
            - The operation on the resource could not be completed because it was
            interrupted by another operation on the same resource.nn * 500 OperationTimedOut
            - The operation timed out and automatically rolled back. Please retry
            the operation.'
        202:
          description: Accepted
        201:
          description: Successfully created a virtual network rule.
          schema:
            $ref: '#/definitions/VirtualNetworkRule'
      x-ms-long-running-operation: true
      x-ms-examples:
        Create or update a virtual network rule:
          $ref: ./examples/VirtualNetworkRulesCreateOrUpdate.json
    delete:
      tags:
      - VirtualNetworkRules
      description: Deletes the virtual network rule with the given name.
      operationId: VirtualNetworkRules_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/virtualNetworkRuleNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully deleted the virtual network rule.
        default:
          description: '*** Error Responses: ***nn * 400 InvalidResourceId - Invalid
            resource identifier.nn * 400 MismatchingSubscriptionWithUrl - The provided
            subscription did not match the subscription in the Url.nn * 400 MismatchingResourceGroupNameWithUrl
            - The provided resource group name did not match the name in the Url.nn
            * 400 MismatchingServerNameWithUrl - The provided server name did not
            match the name in the Url.nn * 400 NullVirtualNetworkRequest - Virtual
            Network Request is Nullnn * 400 NullVirtualNetworkRequestParameters -
            Virtual Network Request Parameters are Nullnn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 OperationIdNotFound - The
            operation with Id does not exist.nn * 409 OperationCancelled - The operation
            has been cancelled by user.nn * 409 OperationInterrupted - The operation
            on the resource could not be completed because it was interrupted by another
            operation on the same resource.nn * 500 OperationTimedOut - The operation
            timed out and automatically rolled back. Please retry the operation.'
        202:
          description: Accepted
        204:
          description: The specified virtual network rule does not exist.
      x-ms-long-running-operation: true
      x-ms-examples:
        Delete a virtual network rule:
          $ref: ./examples/VirtualNetworkRulesDelete.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/virtualNetworkRules
  : get:
      tags:
      - VirtualNetworkRules
      description: Gets a list of virtual network rules in a server.
      operationId: VirtualNetworkRules_ListByServer
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the list of virtual network rules.
          schema:
            $ref: '#/definitions/VirtualNetworkRuleListResult'
        default:
          description: '*** Error Responses: ***nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 ResourceNotFound - The requested
            resource was not found.'
      x-ms-pageable:
        nextLinkName: nextLink
      x-ms-examples:
        List virtual network rules:
          $ref: ./examples/VirtualNetworkRulesList.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/databases/{databaseName}
  : put:
      tags:
      - Databases
      operationId: Databases_CreateOrUpdate
      x-ms-examples:
        DatabaseCreate:
          $ref: ./examples/DatabaseCreate.json
      description: Creates a new database or updates an existing database.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Database'
        description: The required parameters for creating or updating a database.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Database'
        201:
          description: Created
          schema:
            $ref: '#/definitions/Database'
        202:
          description: Accepted
      x-ms-long-running-operation: true
    delete:
      tags:
      - Databases
      operationId: Databases_Delete
      x-ms-examples:
        DatabaseDelete:
          $ref: ./examples/DatabaseDelete.json
      description: Deletes a database.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      responses:
        200:
          description: OK
        202:
          description: Accepted
        204:
          description: NoContent
      x-ms-long-running-operation: true
    get:
      tags:
      - Databases
      operationId: Databases_Get
      x-ms-examples:
        DatabaseGet:
          $ref: ./examples/DatabaseGet.json
      description: Gets information about a database.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/DatabaseNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Database'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/databases:
    get:
      tags:
      - Databases
      operationId: Databases_ListByServer
      x-ms-examples:
        DatabaseList:
          $ref: ./examples/DatabaseListByServer.json
      description: List all the databases in a given server.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DatabaseListResult'
      x-ms-pageable:
        nextLinkName: ~
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/configurations/{configurationName}
  : put:
      tags:
      - Configurations
      operationId: Configurations_CreateOrUpdate
      x-ms-examples:
        ConfigurationCreateOrUpdate:
          $ref: ./examples/ConfigurationCreateOrUpdate.json
      description: Updates a configuration of a server.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/ConfigurationNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/Configuration'
        description: The required parameters for updating a server configuration.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Configuration'
        202:
          description: Accepted
      x-ms-long-running-operation: true
    get:
      tags:
      - Configurations
      operationId: Configurations_Get
      x-ms-examples:
        ConfigurationGet:
          $ref: ./examples/ConfigurationGet.json
      description: Gets information about a configuration of server.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/ConfigurationNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Configuration'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/configurations
  : get:
      tags:
      - Configurations
      operationId: Configurations_ListByServer
      x-ms-examples:
        ConfigurationList:
          $ref: ./examples/ConfigurationListByServer.json
      description: List all the configurations in a given server.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ConfigurationListResult'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/logFiles:
    get:
      tags:
      - LogFiles
      operationId: LogFiles_ListByServer
      x-ms-examples:
        LogFileList:
          $ref: ./examples/LogFileListByServer.json
      description: List all the log files in a given server.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LogFileListResult'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/locations/{locationName}/performanceTiers:
    get:
      tags:
      - LocationBasedPerformanceTier
      operationId: LocationBasedPerformanceTier_List
      x-ms-examples:
        PerformanceTiersList:
          $ref: ./examples/PerformanceTiersListByLocation.json
      description: List all the performance tiers at specified location in a given
        subscription.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/LocationNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PerformanceTierListResult'
      x-ms-pageable:
        nextLinkName: ~
  /subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/checkNameAvailability:
    post:
      tags:
      - CheckNameAvailability
      operationId: CheckNameAvailability_Execute
      x-ms-examples:
        NameAvailability:
          $ref: ./examples/CheckNameAvailability.json
      description: Check the availability of name for resource
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - name: nameAvailabilityRequest
        in: body
        required: true
        schema:
          $ref: '#/definitions/NameAvailabilityRequest'
        description: The required parameters for checking if resource name is available.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/NameAvailability'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/securityAlertPolicies/{securityAlertPolicyName}
  : get:
      tags:
      - ServerSecurityAlertPolicies
      description: Get a server's security alert policy.
      operationId: ServerSecurityAlertPolicies_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: securityAlertPolicyName
        in: path
        description: The name of the security alert policy.
        required: true
        type: string
        enum:
        - Default
        x-ms-enum:
          name: SecurityAlertPolicyName
          modelAsString: true
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the server threat detection policy.
          schema:
            $ref: '#/definitions/ServerSecurityAlertPolicy'
        default:
          description: Error response describing why the operation of getting security
            alert policies failed.
      x-ms-examples:
        Get a server's threat detection policy:
          $ref: ./examples/ServerSecurityAlertsGet.json
    put:
      tags:
      - ServerSecurityAlertPolicies
      description: Creates or updates a threat detection policy.
      operationId: ServerSecurityAlertPolicies_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: securityAlertPolicyName
        in: path
        description: The name of the threat detection policy.
        required: true
        type: string
        enum:
        - Default
        x-ms-enum:
          name: SecurityAlertPolicyName
          modelAsString: true
      - name: parameters
        in: body
        description: The server security alert policy.
        required: true
        schema:
          $ref: '#/definitions/ServerSecurityAlertPolicy'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the threat detection policy.
          schema:
            $ref: '#/definitions/ServerSecurityAlertPolicy'
        default:
          description: Error response describing why the operation of setting security
            alert policies failed.
        202:
          description: Created request to set the server threat detection policy.
      x-ms-long-running-operation: true
      x-ms-examples:
        Update a server's threat detection policy with all parameters:
          $ref: ./examples/ServerSecurityAlertsCreateMax.json
        Update a server's threat detection policy with minimal parameters:
          $ref: ./examples/ServerSecurityAlertsCreateMin.json
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/queryTexts/{queryId}
  : get:
      tags:
      - QueryTexts
      operationId: QueryTexts_Get
      x-ms-examples:
        QueryTextsGet:
          $ref: ./examples/QueryTextsGet.json
      description: Retrieve the Query-Store query texts for the queryId.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/QueryIdParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/QueryText'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/queryTexts
  : get:
      tags:
      - QueryTexts
      operationId: QueryTexts_ListByServer
      x-ms-examples:
        QueryTextsListByServer:
          $ref: ./examples/QueryTextsListByServer.json
      description: Retrieve the Query-Store query texts for specified queryIds.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: queryIds
        in: query
        required: true
        type: array
        collectionFormat: multi
        items:
          type: string
        description: The query identifiers
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/QueryTextsResultList'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/topQueryStatistics/{queryStatisticId}
  : get:
      tags:
      - TopQueryStatistics
      operationId: TopQueryStatistics_Get
      x-ms-examples:
        TopQueryStatisticsGet:
          $ref: ./examples/TopQueryStatisticsGet.json
      description: Retrieve the query statistic for specified identifier.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/QueryStatisticIdParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/QueryStatistic'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/topQueryStatistics
  : get:
      tags:
      - TopQueryStatistics
      operationId: TopQueryStatistics_ListByServer
      x-ms-examples:
        TopQueryStatisticsListByServer:
          $ref: ./examples/TopQueryStatisticsListByServer.json
      description: Retrieve the Query-Store top queries for specified metric and aggregation.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/TopQueryStatisticsInput'
        description: The required parameters for retrieving top query statistics.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TopQueryStatisticsResultList'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/waitStatistics/{waitStatisticsId}
  : get:
      tags:
      - WaitStatistics
      operationId: WaitStatistics_Get
      x-ms-examples:
        WaitStatisticsGet:
          $ref: ./examples/WaitStatisticsGet.json
      description: Retrieve wait statistics for specified identifier.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/WaitStatisticsIdParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaitStatistic'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/waitStatistics
  : get:
      tags:
      - WaitStatistics
      operationId: WaitStatistics_ListByServer
      x-ms-examples:
        WaitStatisticsListByServer:
          $ref: ./examples/WaitStatisticsListByServer.json
      description: Retrieve wait statistics for specified aggregation window.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/WaitStatisticsInput'
        description: The required parameters for retrieving wait statistics.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WaitStatisticsResultList'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/advisors/{advisorName}
  : get:
      tags:
      - Advisors
      operationId: Advisors_Get
      x-ms-examples:
        AdvisorsGet:
          $ref: ./examples/AdvisorsGet.json
      description: Get a recommendation action advisor.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/AdvisorNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Advisor'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/advisors:
    get:
      tags:
      - Advisors
      operationId: Advisors_ListByServer
      x-ms-examples:
        AdvisorsListByServer:
          $ref: ./examples/AdvisorsListByServer.json
      description: List recommendation action advisors.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AdvisorsResultList'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/advisors/{advisorName}/createRecommendedActionSession
  : post:
      tags:
      - RecommendedActionSessions
      operationId: CreateRecommendedActionSession
      x-ms-examples:
        RecommendedActionSessionCreate:
          $ref: ./examples/RecommendedActionSessionCreate.json
      description: Create recommendation action session for the advisor.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/AdvisorNameParameter'
      - name: databaseName
        in: query
        required: true
        type: string
        description: The name of the database.
      responses:
        200:
          description: OK
        202:
          description: Accepted
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/advisors/{advisorName}/recommendedActions/{recommendedActionName}
  : get:
      tags:
      - RecommendedActions
      operationId: RecommendedActions_Get
      x-ms-examples:
        RecommendedActionsGet:
          $ref: ./examples/RecommendedActionsGet.json
      description: Retrieve recommended actions from the advisor.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/AdvisorNameParameter'
      - $ref: '#/parameters/RecommendedActionNameParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RecommendationAction'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/advisors/{advisorName}/recommendedActions
  : get:
      tags:
      - RecommendedActions
      operationId: RecommendedActions_ListByServer
      x-ms-examples:
        RecommendedActionsListByServer:
          $ref: ./examples/RecommendedActionsListByServer.json
      description: Retrieve recommended actions from the advisor.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/AdvisorNameParameter'
      - name: sessionId
        in: query
        required: false
        type: string
        description: The recommendation action session identifier.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RecommendationActionsResultList'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/locations/{locationName}/recommendedActionSessionsAzureAsyncOperation/{operationId}
  : get:
      tags:
      - LocationBasedRecommendedActionSessionsOperationStatus
      operationId: LocationBasedRecommendedActionSessionsOperationStatus_Get
      x-ms-examples:
        RecommendedActionSessionOperationStatus:
          $ref: ./examples/RecommendedActionSessionOperationStatus.json
      description: Recommendation action session operation status.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/LocationNameParameter'
      - $ref: '#/parameters/OperationIdParameter'
      responses:
        200:
          description: OK.
          schema:
            $ref: '#/definitions/RecommendedActionSessionsOperationStatus'
  ? /subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/locations/{locationName}/recommendedActionSessionsOperationResults/{operationId}
  : get:
      tags:
      - LocationBasedRecommendedActionSessionsResult
      operationId: LocationBasedRecommendedActionSessionsResult_List
      x-ms-examples:
        RecommendedActionSessionResult:
          $ref: ./examples/RecommendedActionSessionResult.json
      description: Recommendation action session operation result.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/LocationNameParameter'
      - $ref: '#/parameters/OperationIdParameter'
      responses:
        200:
          description: Created
          schema:
            $ref: '#/definitions/RecommendationActionsResultList'
        201:
          description: Created
          schema:
            $ref: '#/definitions/RecommendationActionsResultList'
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.DBforMySQL/operations:
    get:
      tags:
      - Operations
      operationId: Operations_List
      x-ms-examples:
        OperationList:
          $ref: ./examples/OperationList.json
      description: Lists all of the available REST API operations.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationListResult'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":63:{s:13:\"ServerVersion\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  version of a server.\";s:4:\"enum\";a:2:{i:0;s:3:\"5.6\";i:1;s:3:\"5.7\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"ServerVersion\";s:13:\"modelAsString\";b:1;}}s:14:\"SslEnforcement\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Enable
  ssl enforcement or not when connect to server.\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"SslEnforcementEnum\";s:13:\"modelAsString\";b:0;}}s:13:\"ProxyResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Resource
  properties.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Resource
  ID\";}s:4:\"name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  name.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Resource
  type.\";}}s:19:\"x-ms-azure-resource\";b:1;}s:15:\"TrackedResource\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Resource
  properties including location and tags for track resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  location the resource resides in.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:61:\"Application-specific
  metadata in the form of key-value pairs.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}}s:16:\"ServerProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:18:\"administratorLogin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:130:\"The
  administrator's login name of a server. Can only be specified when the server is
  being created (and is required for creation).\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ServerVersion\";s:11:\"description\";s:15:\"Server
  version.\";}s:14:\"sslEnforcement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SslEnforcement\";s:11:\"description\";s:53:\"Enable
  ssl enforcement or not when connect to server.\";}s:16:\"userVisibleState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"A
  state of a server that is visible to user.\";s:4:\"enum\";a:3:{i:0;s:5:\"Ready\";i:1;s:8:\"Dropping\";i:2;s:8:\"Disabled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"ServerState\";s:13:\"modelAsString\";b:1;}}s:24:\"fullyQualifiedDomainName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  fully qualified domain name of a server.\";}s:19:\"earliestRestoreDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:53:\"Earliest
  restore point creation time (ISO8601 format)\";}s:14:\"storageProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StorageProfile\";s:11:\"description\";s:28:\"Storage
  profile of a server.\";}s:15:\"replicationRole\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  replication role of the server.\";}s:14:\"masterServerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  master server id of a replica server.\";}s:15:\"replicaCapacity\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:0;s:11:\"description\";s:61:\"The
  maximum number of replicas that a master server can have.\";}}s:11:\"description\";s:27:\"The
  properties of a server.\";}s:14:\"StorageProfile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"backupRetentionDays\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:37:\"Backup
  retention days for the server.\";}s:18:\"geoRedundantBackup\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Enable
  Geo-redundant or not for server backup.\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"GeoRedundantBackup\";s:13:\"modelAsString\";b:1;}}s:9:\"storageMB\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:33:\"Max
  storage allowed for a server.\";}s:15:\"storageAutogrow\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Enable
  Storage Auto Grow.\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"StorageAutogrow\";s:13:\"modelAsString\";b:1;}}}s:11:\"description\";s:38:\"Storage
  Profile properties of a server\";}s:25:\"ServerPropertiesForCreate\";O:8:\"stdClass\":4:{s:13:\"discriminator\";s:10:\"createMode\";s:8:\"required\";a:1:{i:0;s:10:\"createMode\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ServerVersion\";s:11:\"description\";s:15:\"Server
  version.\";}s:14:\"sslEnforcement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SslEnforcement\";s:11:\"description\";s:53:\"Enable
  ssl enforcement or not when connect to server.\";}s:14:\"storageProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StorageProfile\";s:11:\"description\";s:28:\"Storage
  profile of a server.\";}s:10:\"createMode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  mode to create a new server.\";s:4:\"enum\";a:4:{i:0;s:7:\"Default\";i:1;s:18:\"PointInTimeRestore\";i:2;s:10:\"GeoRestore\";i:3;s:7:\"Replica\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"CreateMode\";s:13:\"modelAsString\";b:1;}}}s:11:\"description\";s:43:\"The
  properties used to create a new server.\";}s:32:\"ServerPropertiesForDefaultCreate\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:7:\"Default\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ServerPropertiesForCreate\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"administratorLogin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:130:\"The
  administrator's login name of a server. Can only be specified when the server is
  being created (and is required for creation).\";}s:26:\"administratorLoginPassword\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"password\";s:11:\"description\";s:40:\"The
  password of the administrator login.\";}}s:8:\"required\";a:2:{i:0;s:18:\"administratorLogin\";i:1;s:26:\"administratorLoginPassword\";}s:11:\"description\";s:43:\"The
  properties used to create a new server.\";}s:26:\"ServerPropertiesForRestore\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:18:\"PointInTimeRestore\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ServerPropertiesForCreate\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"sourceServerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  source server id to restore from.\";}s:18:\"restorePointInTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:82:\"Restore
  point creation time (ISO8601 format), specifying the time to restore from.\";}}s:8:\"required\";a:2:{i:0;s:14:\"sourceServerId\";i:1;s:18:\"restorePointInTime\";}s:11:\"description\";s:70:\"The
  properties used to create a new server by restoring from a backup.\";}s:29:\"ServerPropertiesForGeoRestore\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:10:\"GeoRestore\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ServerPropertiesForCreate\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"sourceServerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  source server id to restore from.\";}}s:8:\"required\";a:1:{i:0;s:14:\"sourceServerId\";}s:11:\"description\";s:107:\"The
  properties used to create a new server by restoring to a different region from a
  geo replicated backup.\";}s:26:\"ServerPropertiesForReplica\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:7:\"Replica\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ServerPropertiesForCreate\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"sourceServerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  master server id to create replica from.\";}}s:8:\"required\";a:1:{i:0;s:14:\"sourceServerId\";}s:11:\"description\";s:39:\"The
  properties to create a new replica.\";}s:3:\"Sku\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"The
  name of the sku, typically, tier + family + cores, e.g. B_Gen4_1, GP_Gen5_8.\";}s:4:\"tier\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  tier of the particular SKU, e.g. Basic.\";s:4:\"enum\";a:3:{i:0;s:5:\"Basic\";i:1;s:14:\"GeneralPurpose\";i:2;s:15:\"MemoryOptimized\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"SkuTier\";s:13:\"modelAsString\";b:1;}}s:8:\"capacity\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:0;s:11:\"description\";s:63:\"The
  scale up/out capacity, representing server's compute units.\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"The
  size code, to be interpreted by resource as appropriate.\";}s:6:\"family\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  family of hardware.\";}}s:11:\"description\";s:51:\"Billing information related
  properties of a server.\";}s:6:\"Server\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:37:\"The
  SKU (pricing tier) of the server.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/ServerProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:25:\"Properties
  of the server.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TrackedResource\";}}s:11:\"description\";s:20:\"Represents
  a server.\";}s:15:\"ServerForCreate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:37:\"The
  SKU (pricing tier) of the server.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/ServerPropertiesForCreate\";s:19:\"x-ms-client-flatten\";b:0;s:11:\"description\";s:25:\"Properties
  of the server.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  location the resource resides in.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:61:\"Application-specific
  metadata in the form of key-value pairs.\";}}s:8:\"required\";a:2:{i:0;s:10:\"properties\";i:1;s:8:\"location\";}s:11:\"description\";s:34:\"Represents
  a server to be created.\";}s:22:\"ServerUpdateParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:37:\"The
  SKU (pricing tier) of the server.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"storageProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StorageProfile\";s:11:\"description\";s:28:\"Storage
  profile of a server.\";}s:26:\"administratorLoginPassword\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"password\";s:11:\"description\";s:40:\"The
  password of the administrator login.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ServerVersion\";s:11:\"description\";s:24:\"The
  version of a server.\";}s:14:\"sslEnforcement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SslEnforcement\";s:11:\"description\";s:53:\"Enable
  ssl enforcement or not when connect to server.\";}s:15:\"replicationRole\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  replication role of the server.\";}}s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:48:\"The
  properties that can be updated for a server.\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:61:\"Application-specific
  metadata in the form of key-value pairs.\";}}s:11:\"description\";s:42:\"Parameters
  allowed to update for a server.\";}s:16:\"ServerListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Server\";}s:11:\"description\";s:19:\"The
  list of servers\";}}s:11:\"description\";s:18:\"A list of servers.\";}s:22:\"FirewallRuleProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"startIpAddress\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:105:\"^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$\";s:11:\"description\";s:70:\"The
  start IP address of the server firewall rule. Must be IPv4 format.\";}s:12:\"endIpAddress\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:105:\"^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$\";s:11:\"description\";s:68:\"The
  end IP address of the server firewall rule. Must be IPv4 format.\";}}s:8:\"required\";a:2:{i:0;s:14:\"startIpAddress\";i:1;s:12:\"endIpAddress\";}s:11:\"description\";s:41:\"The
  properties of a server firewall rule.\";}s:12:\"FirewallRule\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/FirewallRuleProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:34:\"The
  properties of a firewall rule.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:11:\"description\";s:34:\"Represents
  a server firewall rule.\";}s:22:\"FirewallRuleListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FirewallRule\";}s:11:\"description\";s:39:\"The
  list of firewall rules in a server.\";}}s:11:\"description\";s:25:\"A list of firewall
  rules.\";}s:28:\"VirtualNetworkRuleProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Properties
  of a virtual network rule.\";s:8:\"required\";a:1:{i:0;s:22:\"virtualNetworkSubnetId\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"virtualNetworkSubnetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  ARM resource id of the virtual network subnet.\";s:4:\"type\";s:6:\"string\";}s:32:\"ignoreMissingVnetServiceEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Create
  firewall rule before the virtual network has vnet service endpoint enabled.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"state\";O:8:\"stdClass\":5:{s:11:\"description\";s:26:\"Virtual
  Network Rule State\";s:4:\"enum\";a:5:{i:0;s:12:\"Initializing\";i:1;s:10:\"InProgress\";i:2;s:5:\"Ready\";i:3;s:8:\"Deleting\";i:4;s:7:\"Unknown\";}s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"VirtualNetworkRuleState\";s:13:\"modelAsString\";b:1;}}}}s:18:\"VirtualNetworkRule\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"A
  virtual network rule.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:42:\"#/definitions/VirtualNetworkRuleProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:28:\"VirtualNetworkRuleListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  list of virtual network rules.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Array
  of results.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/VirtualNetworkRule\";}s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:18:\"DatabaseProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"charset\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  charset of the database.\";}s:9:\"collation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  collation of the database.\";}}s:11:\"description\";s:29:\"The properties of a database.\";}s:8:\"Database\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/DatabaseProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:29:\"The
  properties of a database.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:22:\"Represents
  a Database.\";}s:18:\"DatabaseListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Database\";}s:11:\"description\";s:40:\"The
  list of databases housed in a server\";}}s:11:\"description\";s:20:\"A List of databases.\";}s:23:\"ConfigurationProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Value
  of the configuration.\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:33:\"Description
  of the configuration.\";}s:12:\"defaultValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:35:\"Default
  value of the configuration.\";}s:8:\"dataType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:31:\"Data
  type of the configuration.\";}s:13:\"allowedValues\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:36:\"Allowed
  values of the configuration.\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Source
  of the configuration.\";}}s:11:\"description\";s:34:\"The properties of a configuration.\";}s:13:\"Configuration\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/ConfigurationProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:34:\"The
  properties of a configuration.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:27:\"Represents
  a Configuration.\";}s:23:\"ConfigurationListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Configuration\";}s:11:\"description\";s:34:\"The
  list of server configurations.\";}}s:11:\"description\";s:32:\"A list of server
  configurations.\";}s:16:\"OperationDisplay\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"provider\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:33:\"Operation
  resource provider name.\";}s:8:\"resource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:45:\"Resource
  on which the operation is performed.\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:42:\"Localized
  friendly name for the operation.\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:22:\"Operation
  description.\";}}s:11:\"description\";s:47:\"Display metadata associated with the
  operation.\";}s:9:\"Operation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:68:\"The
  name of the operation being performed on this particular object.\";}s:7:\"display\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/OperationDisplay\";s:8:\"readOnly\";b:1;s:11:\"description\";s:74:\"The
  localized display information for this particular operation or action.\";}s:6:\"origin\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:11:\"description\";s:39:\"The
  intended executor of the operation.\";s:4:\"enum\";a:3:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"user\";i:2;s:6:\"system\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"OperationOrigin\";s:13:\"modelAsString\";b:1;}}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"readOnly\";b:1;s:19:\"x-ms-client-flatten\";b:0;s:11:\"description\";s:42:\"Additional
  descriptions for the operation.\";}}s:11:\"description\";s:30:\"REST API operation
  definition.\";}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:11:\"description\";s:41:\"The
  list of resource provider operations.\";}}s:11:\"description\";s:39:\"A list of
  resource provider operations.\";}s:17:\"LogFileProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"sizeInKB\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:21:\"Size
  of the log file.\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:35:\"Creation
  timestamp of the log file.\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:40:\"Last
  modified timestamp of the log file.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Type
  of the log file.\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  url to download the log file from.\";}}s:11:\"description\";s:29:\"The properties
  of a log file.\";}s:7:\"LogFile\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  name of the log file.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/LogFileProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:31:\"The
  properties of the log file.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:22:\"Represents
  a log file.\";}s:17:\"LogFileListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/LogFile\";}s:11:\"description\";s:22:\"The
  list of log files.\";}}s:11:\"description\";s:20:\"A list of log files.\";}s:37:\"PerformanceTierServiceLevelObjectives\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"ID
  for the service level objective.\";}s:7:\"edition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Edition
  of the performance tier.\";}s:5:\"vCore\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:49:\"vCore
  associated with the service level objective\";}s:18:\"hardwareGeneration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Hardware
  generation associated with the service level objective\";}s:22:\"maxBackupRetentionDays\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:65:\"Maximum
  Backup retention in days for the performance tier edition\";}s:22:\"minBackupRetentionDays\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:65:\"Minimum
  Backup retention in days for the performance tier edition\";}s:12:\"maxStorageMB\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:33:\"Max
  storage allowed for a server.\";}s:12:\"minStorageMB\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:33:\"Max
  storage allowed for a server.\";}}s:11:\"description\";s:46:\"Service level objectives
  for performance tier.\";}s:25:\"PerformanceTierProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"ID
  of the performance tier.\";}s:22:\"serviceLevelObjectives\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/PerformanceTierServiceLevelObjectives\";}s:11:\"description\";s:61:\"Service
  level objectives associated with the performance tier\";}}s:11:\"description\";s:27:\"Performance
  tier properties\";}s:25:\"PerformanceTierListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/PerformanceTierProperties\";}s:11:\"description\";s:29:\"The
  list of performance tiers\";}}s:11:\"description\";s:28:\"A list of performance
  tiers.\";}s:23:\"NameAvailabilityRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Resource
  name to verify.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Resource
  type used for verification.\";}}s:11:\"description\";s:56:\"Request from client
  to check resource name availability.\";}s:16:\"NameAvailability\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Error
  Message.\";}s:13:\"nameAvailable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:49:\"Indicates
  whether the resource name is available.\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Reason
  for name being unavailable.\";}}s:11:\"description\";s:40:\"Represents a resource
  name availability.\";}s:29:\"SecurityAlertPolicyProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Properties
  of a security alert policy.\";s:8:\"required\";a:1:{i:0;s:5:\"state\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"Specifies
  the state of the policy, whether it is enabled or disabled.\";s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:30:\"ServerSecurityAlertPolicyState\";s:13:\"modelAsString\";b:0;}}s:14:\"disabledAlerts\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"Specifies
  an array of alerts that are disabled. Allowed values are: Sql_Injection, Sql_Injection_Vulnerability,
  Access_Anomaly\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"emailAddresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Specifies
  an array of e-mail addresses to which the alert is sent.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:18:\"emailAccountAdmins\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Specifies
  that the alert is sent to the account administrators.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"storageEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"Specifies
  the blob storage endpoint (e.g. https://MyAccount.blob.core.windows.net). This blob
  storage will hold all Threat Detection audit logs.\";s:4:\"type\";s:6:\"string\";}s:23:\"storageAccountAccessKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Specifies
  the identifier key of the Threat Detection audit storage account.\";s:4:\"type\";s:6:\"string\";}s:13:\"retentionDays\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:72:\"Specifies
  the number of days to keep in the Threat Detection audit logs.\";s:4:\"type\";s:7:\"integer\";}}}s:25:\"ServerSecurityAlertPolicy\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"A
  server security alert policy.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:43:\"#/definitions/SecurityAlertPolicyProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:10:\"CloudError\";O:8:\"stdClass\":3:{s:13:\"x-ms-external\";b:1;s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CloudErrorBody\";}}s:11:\"description\";s:41:\"An
  error response from the Batch service.\";}s:14:\"CloudErrorBody\";O:8:\"stdClass\":3:{s:13:\"x-ms-external\";b:1;s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"An
  identifier for the error. Codes are invariant and are intended to be consumed programmatically.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"A
  message describing the error, intended to be suitable for display in a user interface.\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"The
  target of the particular error. For example, the name of the property in error.\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CloudErrorBody\";}s:11:\"description\";s:45:\"A
  list of additional details about the error.\";}}s:11:\"description\";s:41:\"An error
  response from the Batch service.\";}s:19:\"QueryTextProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"queryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Query
  identifier unique to the server.\";}s:9:\"queryText\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Query
  text.\";}}s:11:\"description\";s:31:\"The properties of a query text.\";}s:9:\"QueryText\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/QueryTextProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:31:\"The
  properties of a query text.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:24:\"Represents
  a Query Text.\";}s:20:\"QueryTextsResultList\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  list of query texts.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  list of query texts.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/QueryText\";}s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:33:\"TopQueryStatisticsInputProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"numberOfTopQueries\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"Max
  number of top queries to return.\";}s:19:\"aggregationFunction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Aggregation
  function name.\";}s:14:\"observedMetric\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Observed
  metric name.\";}s:20:\"observationStartTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:23:\"Observation
  start time.\";}s:18:\"observationEndTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:21:\"Observation
  end time.\";}s:17:\"aggregationWindow\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Aggregation
  interval type in ISO 8601 format.\";}}s:8:\"required\";a:6:{i:0;s:18:\"numberOfTopQueries\";i:1;s:19:\"aggregationFunction\";i:2;s:14:\"observedMetric\";i:3;s:20:\"observationStartTime\";i:4;s:18:\"observationEndTime\";i:5;s:17:\"aggregationWindow\";}s:11:\"description\";s:52:\"The
  properties for input to get top query statistics\";}s:23:\"TopQueryStatisticsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:47:\"#/definitions/TopQueryStatisticsInputProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:42:\"The
  properties of a wait statistics input.\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:11:\"description\";s:33:\"Input
  to get top query statistics\";}s:24:\"QueryStatisticProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"queryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Database
  query identifier.\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:23:\"Observation
  start time.\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:21:\"Observation
  end time.\";}s:19:\"aggregationFunction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Aggregation
  function name.\";}s:13:\"databaseNames\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:27:\"The
  list of database names.\";}s:19:\"queryExecutionCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:49:\"Number
  of query executions in this time interval.\";}s:10:\"metricName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Metric
  name.\";}s:17:\"metricDisplayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Metric
  display name.\";}s:11:\"metricValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:13:\"Metric
  value.\";}s:15:\"metricValueUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Metric
  value unit.\";}}s:11:\"description\";s:36:\"The properties of a query statistic.\";}s:14:\"QueryStatistic\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:38:\"#/definitions/QueryStatisticProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:36:\"The
  properties of a query statistic.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:29:\"Represents
  a Query Statistic.\";}s:28:\"TopQueryStatisticsResultList\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  list of query statistics.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"The
  list of top query statistics.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/QueryStatistic\";}s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:29:\"WaitStatisticsInputProperties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"observationStartTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:23:\"Observation
  start time.\";}s:18:\"observationEndTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:21:\"Observation
  end time.\";}s:17:\"aggregationWindow\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Aggregation
  interval type in ISO 8601 format.\";}}s:8:\"required\";a:3:{i:0;s:20:\"observationStartTime\";i:1;s:18:\"observationEndTime\";i:2;s:17:\"aggregationWindow\";}s:11:\"description\";s:47:\"The
  properties for input to get wait statistics\";}s:19:\"WaitStatisticsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:43:\"#/definitions/WaitStatisticsInputProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:42:\"The
  properties of a wait statistics input.\";}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:11:\"description\";s:28:\"Input
  to get wait statistics\";}s:23:\"WaitStatisticProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:23:\"Observation
  start time.\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:21:\"Observation
  end time.\";}s:9:\"eventName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Wait
  event name.\";}s:13:\"eventTypeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Wait
  event type name.\";}s:7:\"queryId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:26:\"Database
  query identifier.\";}s:12:\"databaseName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Database
  Name.\";}s:6:\"userId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:25:\"Database
  user identifier.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:48:\"Wait
  event count observed in this time interval.\";}s:13:\"totalTimeInMs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:57:\"Total
  time of wait in milliseconds in this time interval.\";}}s:11:\"description\";s:35:\"The
  properties of a wait statistic.\";}s:13:\"WaitStatistic\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/WaitStatisticProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:35:\"The
  properties of a wait statistic.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:28:\"Represents
  a Wait Statistic.\";}s:24:\"WaitStatisticsResultList\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"A
  list of wait statistics.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"The
  list of wait statistics.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/WaitStatistic\";}s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:17:\"AdvisorProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:50:\"The
  properties of a recommendation action advisor.\";}s:7:\"Advisor\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/AdvisorProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:50:\"The
  properties of a recommendation action advisor.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:43:\"Represents
  a recommendation action advisor.\";}s:18:\"AdvisorsResultList\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  list of query statistics.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  list of recommendation action advisors.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Advisor\";}s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:30:\"RecommendationActionProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"advisorName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Advisor
  name.\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Recommendation
  action session identifier.\";}s:8:\"actionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:33:\"Recommendation
  action identifier.\";}s:11:\"createdTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:36:\"Recommendation
  action creation time.\";}s:14:\"expirationTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:38:\"Recommendation
  action expiration time.\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Recommendation
  action reason.\";}s:18:\"recommendationType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Recommendation
  action type.\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:30:\"Recommendation
  action details.\";}}s:11:\"description\";s:42:\"The properties of a recommendation
  action.\";}s:20:\"RecommendationAction\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:44:\"#/definitions/RecommendationActionProperties\";s:19:\"x-ms-client-flatten\";b:1;s:11:\"description\";s:42:\"The
  properties of a recommendation action.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProxyResource\";}}s:11:\"description\";s:35:\"Represents
  a Recommendation Action.\";}s:31:\"RecommendationActionsResultList\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  list of recommendation actions.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  list of recommendation action advisors.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/RecommendationAction\";}s:8:\"readOnly\";b:1;}s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:40:\"RecommendedActionSessionsOperationStatus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Operation
  identifier.\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:21:\"Operation
  start time.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Operation
  status.\";}}s:11:\"description\";s:47:\"Recommendation action session operation
  status.\";}}"
...
