---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:48:\"This Swagger was
  generated by the API Framework.\";s:5:\"title\";s:20:\"Azure Media Services\";s:7:\"version\";s:10:\"2018-07-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:160:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mediaservices/resource-manager/Microsoft.Media/stable/2018-07-01/Accounts.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:22:\"mediaservices-Accounts\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  /providers/Microsoft.Media/operations:
    get:
      description: Lists all the Media Services operations.
      operationId: Operations_List
      parameters:
      - $ref: '#/parameters/ApiVersion'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OperationCollection'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      summary: List Operations
      x-ms-examples:
        List Operations:
          parameters:
            api-version: "2018-07-01"
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                value:
                - display:
                    description: Registers the subscription for the Media Services
                      resource provider and enables the creation of Media Services
                      accounts
                    operation: Registers the Media Services Resource Provider
                    provider: Microsoft Media Services
                    resource: Microsoft Media Services
                  name: Microsoft.Media/register/action
                - display:
                    description: Unregisters the subscription for the Media Services
                      resource provider
                    operation: Unregisters the Media Services Resource Provider
                    provider: Microsoft Media Services
                    resource: Microsoft Media Services
                  name: Microsoft.Media/unregister/action
                - display:
                    description: Checks if a Media Services account name is available
                    operation: Check Name Availability
                    provider: Microsoft Media Services
                    resource: Microsoft Media Services
                  name: Microsoft.Media/checknameavailability/action
                - display:
                    description: Get Available Operations
                    operation: Get Available Operations
                    provider: Microsoft Media Services
                    resource: Available Operations
                  name: Microsoft.Media/operations/read
                - display:
                    description: Read any Media Services Account
                    operation: Read Media Services Account
                    provider: Microsoft Media Services
                    resource: Media Services Account
                  name: Microsoft.Media/mediaservices/read
                - display:
                    description: Create or Update any Media Services Account
                    operation: Create or Update Media Services Account
                    provider: Microsoft Media Services
                    resource: Media Services Account
                  name: Microsoft.Media/mediaservices/write
                - display:
                    description: Delete any Media Services Account
                    operation: Delete Media Services Account
                    provider: Microsoft Media Services
                    resource: Media Services Account
                  name: Microsoft.Media/mediaservices/delete
                - display:
                    description: Synchronize the Storage Keys for an attached Azure
                      Storage account
                    operation: Synchronize Storage Keys
                    provider: Microsoft Media Services
                    resource: Media Services Account
                  name: Microsoft.Media/mediaservices/syncStorageKeys/action
                - display:
                    description: Read any Event Grid Filter
                    operation: Read Event Grid Filter
                    provider: Microsoft Media Services
                    resource: Event Grid Filter
                  name: Microsoft.Media/mediaservices/eventGridFilters/read
                - display:
                    description: Create or Update any Event Grid Filter
                    operation: Create or Update Event Grid Filter
                    provider: Microsoft Media Services
                    resource: Event Grid Filter
                  name: Microsoft.Media/mediaservices/eventGridFilters/write
                - display:
                    description: Delete any Event Grid Filter
                    operation: Delete Event Grid Filter
                    provider: Microsoft Media Services
                    resource: Event Grid Filter
                  name: Microsoft.Media/mediaservices/eventGridFilters/delete
                - display:
                    description: Read any Asset
                    operation: Read Asset
                    provider: Microsoft Media Services
                    resource: Asset
                  name: Microsoft.Media/mediaservices/assets/read
                - display:
                    description: Create or Update any Asset
                    operation: Create or Update Asset
                    provider: Microsoft Media Services
                    resource: Asset
                  name: Microsoft.Media/mediaservices/assets/write
                - display:
                    description: Delete any Asset
                    operation: Delete Asset
                    provider: Microsoft Media Services
                    resource: Asset
                  name: Microsoft.Media/mediaservices/assets/delete
                - display:
                    description: List Asset Container SAS URLs
                    operation: List Asset Container SAS URLs
                    provider: Microsoft Media Services
                    resource: Asset
                  name: Microsoft.Media/mediaservices/assets/listContainerSas/action
                - display:
                    description: Get Asset Encryption Key
                    operation: Get Asset Encryption Key
                    provider: Microsoft Media Services
                    resource: Asset
                  name: Microsoft.Media/mediaservices/assets/getEncryptionKey/action
                - display:
                    description: Read any Streaming Policy
                    operation: Read Streaming Policy
                    provider: Microsoft Media Services
                    resource: Streaming Policy
                  name: Microsoft.Media/mediaservices/streamingPolicies/read
                - display:
                    description: Create or Update any Streaming Policy
                    operation: Create or Update Streaming Policy
                    provider: Microsoft Media Services
                    resource: Streaming Policy
                  name: Microsoft.Media/mediaservices/streamingPolicies/write
                - display:
                    description: Delete any Streaming Policy
                    operation: Delete Streaming Policy
                    provider: Microsoft Media Services
                    resource: Streaming Policy
                  name: Microsoft.Media/mediaservices/streamingPolicies/delete
                - display:
                    description: Read any Streaming Locator
                    operation: Read Streaming Locator
                    provider: Microsoft Media Services
                    resource: Streaming Locator
                  name: Microsoft.Media/mediaservices/streamingLocators/read
                - display:
                    description: Create or Update any Streaming Locator
                    operation: Create or Update Streaming Locator
                    provider: Microsoft Media Services
                    resource: Streaming Locator
                  name: Microsoft.Media/mediaservices/streamingLocators/write
                - display:
                    description: Delete any Streaming Locator
                    operation: Delete Streaming Locator
                    provider: Microsoft Media Services
                    resource: Streaming Locator
                  name: Microsoft.Media/mediaservices/streamingLocators/delete
                - display:
                    description: List Content Keys
                    operation: List Content Keys
                    provider: Microsoft Media Services
                    resource: Streaming Locator
                  name: Microsoft.Media/mediaservices/streamingLocators/listContentKeys/action
                - display:
                    description: List Paths
                    operation: List Paths
                    provider: Microsoft Media Services
                    resource: Streaming Locator
                  name: Microsoft.Media/mediaservices/streamingLocators/listPaths/action
                - display:
                    description: Read any Content Key Policy
                    operation: Read Content Key Policy
                    provider: Microsoft Media Services
                    resource: Content Key Policy
                  name: Microsoft.Media/mediaservices/contentKeyPolicies/read
                - display:
                    description: Create or Update any Content Key Policy
                    operation: Create or Update Content Key Policy
                    provider: Microsoft Media Services
                    resource: Content Key Policy
                  name: Microsoft.Media/mediaservices/contentKeyPolicies/write
                - display:
                    description: Delete any Content Key Policy
                    operation: Delete Content Key Policy
                    provider: Microsoft Media Services
                    resource: Content Key Policy
                  name: Microsoft.Media/mediaservices/contentKeyPolicies/delete
                - display:
                    description: Get Policy Properties With Secrets
                    operation: Get Policy Properties With Secrets
                    provider: Microsoft Media Services
                    resource: Content Key Policy
                  name: Microsoft.Media/mediaservices/contentKeyPolicies/getPolicyPropertiesWithSecrets/action
                - display:
                    description: Read any Transform
                    operation: Read Transform
                    provider: Microsoft Media Services
                    resource: Transform
                  name: Microsoft.Media/mediaservices/transforms/read
                - display:
                    description: Create or Update any Transform
                    operation: Create or Update Transform
                    provider: Microsoft Media Services
                    resource: Transform
                  name: Microsoft.Media/mediaservices/transforms/write
                - display:
                    description: Delete any Transform
                    operation: Delete Transform
                    provider: Microsoft Media Services
                    resource: Transform
                  name: Microsoft.Media/mediaservices/transforms/delete
                - display:
                    description: Read any Job
                    operation: Read Job
                    provider: Microsoft Media Services
                    resource: Job
                  name: Microsoft.Media/mediaservices/transforms/jobs/read
                - display:
                    description: Create or Update any Job
                    operation: Create or Update Job
                    provider: Microsoft Media Services
                    resource: Job
                  name: Microsoft.Media/mediaservices/transforms/jobs/write
                - display:
                    description: Delete any Job
                    operation: Delete Job
                    provider: Microsoft Media Services
                    resource: Job
                  name: Microsoft.Media/mediaservices/transforms/jobs/delete
                - display:
                    description: Cancel Job
                    operation: Cancel Job
                    provider: Microsoft Media Services
                    resource: Job
                  name: Microsoft.Media/mediaservices/transforms/jobs/cancelJob/action
                - display:
                    description: Read any Streaming Endpoint
                    operation: Read Streaming Endpoint
                    provider: Microsoft Media Services
                    resource: Streaming Endpoint
                  name: Microsoft.Media/mediaservices/streamingEndpoints/read
                - display:
                    description: Create or Update any Streaming Endpoint
                    operation: Create or Update Streaming Endpoint
                    provider: Microsoft Media Services
                    resource: Streaming Endpoint
                  name: Microsoft.Media/mediaservices/streamingEndpoints/write
                - display:
                    description: Delete any Streaming Endpoint
                    operation: Delete Streaming Endpoint
                    provider: Microsoft Media Services
                    resource: Streaming Endpoint
                  name: Microsoft.Media/mediaservices/streamingEndpoints/delete
                - display:
                    description: Start any Streaming Endpoint Operation
                    operation: Start Streaming Endpoint Operation
                    provider: Microsoft Media Services
                    resource: Streaming Endpoint
                  name: Microsoft.Media/mediaservices/streamingEndpoints/start/action
                - display:
                    description: Stop any Streaming Endpoint Operation
                    operation: Stop Streaming Endpoint Operation
                    provider: Microsoft Media Services
                    resource: Streaming Endpoint
                  name: Microsoft.Media/mediaservices/streamingEndpoints/stop/action
                - display:
                    description: Scale any Streaming Endpoint Operation
                    operation: Scale Streaming Endpoint Operation
                    provider: Microsoft Media Services
                    resource: Streaming Endpoint
                  name: Microsoft.Media/mediaservices/streamingEndpoints/scale/action
                - display:
                    description: Gets the diagnostic setting for the resource.
                    operation: Read diagnostic setting
                    provider: Microsoft Media Services
                    resource: Streaming Endpoints
                  name: Microsoft.Media/mediaservices/streamingEndpoints/providers/Microsoft.Insights/diagnosticSettings/read
                  origin: system
                - display:
                    description: Creates or updates the diagnostic setting for the
                      resource.
                    operation: Write diagnostic setting
                    provider: Microsoft Media Services
                    resource: Streaming Endpoints
                  name: Microsoft.Media/mediaservices/streamingEndpoints/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: system
                - display:
                    description: Get list of Media Services Streaming Endpoint Metrics
                      definitions.
                    operation: Get list of Media Services Streaming Endpoint Metrics
                      definitions.
                    provider: Microsoft Media Services
                    resource: Streaming Endpoints
                  name: Microsoft.Media/mediaservices/streamingEndpoints/providers/Microsoft.Insights/metricDefinitions/read
                  origin: system
                  properties:
                    serviceSpecification:
                      metricSpecifications:
                      - aggregationType: Total
                        dimensions:
                        - displayName: Output Format
                          name: OutputFormat
                          toBeExportedForShoebox: true
                        displayDescription: The amount of Egress data, in bytes.
                        displayName: Egress
                        name: Egress
                        unit: Bytes
                      - aggregationType: Average
                        dimensions:
                        - displayName: Output Format
                          name: OutputFormat
                          toBeExportedForShoebox: true
                        displayDescription: The average latency for successful requests
                          in milliseconds.
                        displayName: Success end to end Latency
                        name: SuccessE2ELatency
                        unit: Milliseconds
                      - aggregationType: Count
                        dimensions:
                        - displayName: Output Format
                          name: OutputFormat
                          toBeExportedForShoebox: true
                        - displayName: HTTP Status Code
                          name: HttpStatusCode
                          toBeExportedForShoebox: true
                        - displayName: Error Code
                          name: ErrorCode
                          toBeExportedForShoebox: false
                        displayDescription: Requests to a Streaming Endpoint.
                        displayName: Requests
                        name: Requests
                        unit: Count
                - display:
                    description: Read any Live Event
                    operation: Read Live Event
                    provider: Microsoft Media Services
                    resource: Live Event
                  name: Microsoft.Media/mediaservices/liveEvents/read
                - display:
                    description: Create or Update any Live Event
                    operation: Create or Update Live Event
                    provider: Microsoft Media Services
                    resource: Live Event
                  name: Microsoft.Media/mediaservices/liveEvents/write
                - display:
                    description: Delete any Live Event
                    operation: Delete Live Event
                    provider: Microsoft Media Services
                    resource: Live Event
                  name: Microsoft.Media/mediaservices/liveEvents/delete
                - display:
                    description: Start any Live Event Operation
                    operation: Start Live Event Operation
                    provider: Microsoft Media Services
                    resource: Live Event
                  name: Microsoft.Media/mediaservices/liveEvents/start/action
                - display:
                    description: Stop any Live Event Operation
                    operation: Stop Live Event Operation
                    provider: Microsoft Media Services
                    resource: Live Event
                  name: Microsoft.Media/mediaservices/liveEvents/stop/action
                - display:
                    description: Reset any Live Event Operation
                    operation: Reset Live Event Operation
                    provider: Microsoft Media Services
                    resource: Live Event
                  name: Microsoft.Media/mediaservices/liveEvents/reset/action
                - display:
                    description: Read any Live Output
                    operation: Read Live Output
                    provider: Microsoft Media Services
                    resource: Live Output
                  name: Microsoft.Media/mediaservices/liveEvents/liveOutputs/read
                - display:
                    description: Create or Update any Live Output
                    operation: Create or Update Live Output
                    provider: Microsoft Media Services
                    resource: Live Output
                  name: Microsoft.Media/mediaservices/liveEvents/liveOutputs/write
                - display:
                    description: Delete any Live Output
                    operation: Delete Live Output
                    provider: Microsoft Media Services
                    resource: Live Output
                  name: Microsoft.Media/mediaservices/liveEvents/liveOutputs/delete
                - display:
                    description: Read any Streaming Endpoint Operation
                    operation: Read Streaming Endpoint Operation
                    provider: Microsoft Media Services
                    resource: Streaming Endpoint Operation
                  name: Microsoft.Media/mediaservices/streamingEndpointOperations/read
                - display:
                    description: Read any Live Event Operation
                    operation: Read Live Event Operation
                    provider: Microsoft Media Services
                    resource: Live Event Operation
                  name: Microsoft.Media/mediaservices/liveEventOperations/read
                - display:
                    description: Read any Live Output Operation
                    operation: Read Live Output Operation
                    provider: Microsoft Media Services
                    resource: Live Output Operation
                  name: Microsoft.Media/mediaservices/liveOutputOperations/read
                - display:
                    description: Checks if a Media Services account name is available
                    operation: Check Name Availability
                    provider: Microsoft Media Services
                    resource: Microsoft Media Services
                  name: Microsoft.Media/locations/checkNameAvailability/action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
  /subscriptions/{subscriptionId}/providers/Microsoft.Media/locations/{locationName}/checkNameAvailability:
    post:
      description: Checks whether the Media Service resource name is available.
      operationId: Locations_CheckNameAvailability
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - description: The name of the location
        in: path
        name: locationName
        required: true
        type: string
      - description: The request parameters
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/CheckNameAvailabilityInput'
      - $ref: '#/parameters/ApiVersion'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EntityNameAvailabilityCheckOutput'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      summary: Check Name Availability
      x-ms-examples:
        Check Name Availability:
          parameters:
            api-version: "2018-07-01"
            locationName: japaneast
            parameters:
              name: contosonew
              type: Microsoft.Media/MediaService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                message: ""
                nameAvailable: true
                reason: None
  /subscriptions/{subscriptionId}/providers/Microsoft.Media/mediaservices:
    get:
      description: List Media Services accounts in the subscription.
      operationId: Mediaservices_ListBySubscription
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ApiVersion'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SubscriptionMediaServiceCollection'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      summary: List Media Services accounts
      x-ms-examples:
        List all Media Services accounts:
          parameters:
            api-version: "2018-07-01"
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosotv
                  location: South Central US
                  name: contosotv
                  properties:
                    mediaServiceId: 6ac94f91-283c-4492-85a7-57976928c17d
                    storageAccounts:
                    - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contosotvstore
                      type: Primary
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Media/mediaservices
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomovies
                  location: South Central US
                  name: contosomovies
                  properties:
                    mediaServiceId: 72681c0f-9dd1-4f1c-95c9-8a8d7d31c4ee
                    storageAccounts:
                    - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contosomoviesstore
                      type: Primary
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Media/mediaservices
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/fabrikamnews
                  location: East US
                  name: fabrikamnews
                  properties:
                    mediaServiceId: d96036f9-4e37-491d-8c29-5bc53a29dfcd
                    storageAccounts:
                    - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/fabrikam/providers/Microsoft.Storage/storageAccounts/fabrikamnewsstore
                      type: Primary
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Media/mediaservices
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
  /subscriptions/{subscriptionId}/providers/Microsoft.Media/mediaservices/{accountName}:
    get:
      description: Get the details of a Media Services account
      operationId: Mediaservices_GetBySubscription
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersion'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SubscriptionMediaService'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      summary: Get a Media Services account
      x-ms-examples:
        Get a Media Services account by name:
          parameters:
            accountName: contososports
            api-version: "2018-07-01"
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contososports
                location: South Central US
                name: contososports
                properties:
                  mediaServiceId: 42bea25f-1aa9-4f7a-82af-5a417592f22d
                  storageAccounts:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contososportsstore
                    type: Primary
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Media/mediaservices
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices:
    get:
      description: List Media Services accounts in the resource group
      operationId: Mediaservices_List
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - $ref: '#/parameters/ApiVersion'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MediaServiceCollection'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      summary: List Media Services accounts
      x-ms-examples:
        List all Media Services accounts:
          parameters:
            api-version: "2018-07-01"
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosotv
                  location: South Central US
                  name: contosotv
                  properties:
                    mediaServiceId: 6ac94f91-283c-4492-85a7-57976928c17d
                    storageAccounts:
                    - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contosotvstore
                      type: Primary
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Media/mediaservices
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomovies
                  location: South Central US
                  name: contosomovies
                  properties:
                    mediaServiceId: 72681c0f-9dd1-4f1c-95c9-8a8d7d31c4ee
                    storageAccounts:
                    - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contosomoviesstore
                      type: Primary
                  tags:
                    key1: value1
                    key2: value2
                  type: Microsoft.Media/mediaservices
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}:
    delete:
      description: Deletes a Media Services account
      operationId: Mediaservices_Delete
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersion'
      responses:
        200:
          description: OK
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      summary: Delete a Media Services account.
      x-ms-examples:
        Delete a Media Services account:
          parameters:
            accountName: contososports
            api-version: "2018-07-01"
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200: []
    get:
      description: Get the details of a Media Services account
      operationId: Mediaservices_Get
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        type: string
      - $ref: '#/parameters/ApiVersion'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MediaService'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      summary: Get a Media Services account
      x-ms-examples:
        Get a Media Services account by name:
          parameters:
            accountName: contosotv
            api-version: "2018-07-01"
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosotv
                location: South Central US
                name: contosotv
                properties:
                  mediaServiceId: 6ac94f91-283c-4492-85a7-57976928c17d
                  storageAccounts:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contosotvstore
                    type: Primary
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Media/mediaservices
    patch:
      description: Updates an existing Media Services account
      operationId: Mediaservices_Update
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        type: string
      - description: The request parameters
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/MediaService'
      - $ref: '#/parameters/ApiVersion'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MediaService'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      summary: Update a Media Services account
      x-ms-examples:
        Update a Media Services accounts:
          parameters:
            accountName: contososports
            api-version: "2018-07-01"
            parameters:
              tags:
                key1: value3
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contososports
                location: South Central US
                name: contososports
                properties:
                  mediaServiceId: 42bea25f-1aa9-4f7a-82af-5a417592f22d
                  storageAccounts:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contososportsstore
                    type: Primary
                tags:
                  key1: value3
                type: Microsoft.Media/mediaservices
    put:
      description: Creates or updates a Media Services account
      operationId: Mediaservices_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        type: string
      - description: The request parameters
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/MediaService'
      - $ref: '#/parameters/ApiVersion'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MediaService'
        201:
          description: Created
          schema:
            $ref: '#/definitions/MediaService'
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      summary: Create or update a Media Services account
      x-ms-examples:
        Create a Media Services account:
          parameters:
            accountName: contososports
            api-version: "2018-07-01"
            parameters:
              location: South Central US
              properties:
                storageAccounts:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contososportsstore
                  type: Primary
              tags:
                key1: value1
                key2: value2
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contososports
                location: South Central US
                name: contososports
                properties:
                  mediaServiceId: 42bea25f-1aa9-4f7a-82af-5a417592f22d
                  storageAccounts:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contososportsstore
                    type: Primary
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Media/mediaservices
            201:
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contososports
                location: South Central US
                name: contososports
                properties:
                  mediaServiceId: 42bea25f-1aa9-4f7a-82af-5a417592f22d
                  storageAccounts:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Storage/storageAccounts/contososportsstore
                    type: Primary
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Media/mediaservices
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/syncStorageKeys
  : post:
      description: Synchronizes storage account keys for a storage account associated
        with the Media Service account.
      operationId: Mediaservices_SyncStorageKeys
      parameters:
      - $ref: '#/parameters/SubscriptionId'
      - $ref: '#/parameters/ResourceGroupName'
      - description: The Media Services account name.
        in: path
        name: accountName
        required: true
        type: string
      - description: The request parameters
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/SyncStorageKeysInput'
      - $ref: '#/parameters/ApiVersion'
      responses:
        200:
          description: OK
        default:
          description: Detailed error information.
          schema:
            $ref: '#/definitions/ApiError'
      summary: Synchronizes Storage Account Keys
      x-ms-examples:
        Synchronizes Storage Account Keys:
          parameters:
            accountName: contososports
            api-version: "2018-07-01"
            parameters:
              id: contososportsstore
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            200: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":20:{s:8:\"ApiError\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  API error.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ODataError\";s:11:\"description\";s:21:\"The
  error properties.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"CheckNameAvailabilityInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  input to the check name availability request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  account name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  account type. For a Media Services account, this should be 'MediaServices'.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"EntityNameAvailabilityCheckOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  response from the check name availability request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Specifies
  the detailed reason if the name is not available.\";s:4:\"type\";s:6:\"string\";}s:13:\"nameAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Specifies
  if the name is available.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Specifies
  the reason if the name is not available.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:13:\"nameAvailable\";}s:4:\"type\";s:6:\"object\";}s:8:\"Location\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:12:\"MediaService\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  core properties of ARM resources.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Fully
  qualified resource ID for the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  name of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:57:\"The
  resource model definition for a ARM tracked resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  Azure Region of the resource.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}}s:4:\"tags\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";s:15:\"x-ms-mutability\";a:3:{i:0;s:4:\"read\";i:1;s:6:\"create\";i:2;s:6:\"update\";}}}}}s:11:\"description\";s:25:\"A
  Media Services account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/MediaServiceProperties\";s:11:\"description\";s:24:\"The
  resource properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:22:\"MediaServiceCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"A
  collection of MediaService items.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"@odata.nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"A
  link to the next page of the collection (when the collection contains too many results
  to return in one response).\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"A
  collection of MediaService items.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MediaService\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"MediaServiceProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Properties
  of the Media Services account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"mediaServiceId\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"The
  Media Services account ID.\";s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:0;}s:15:\"storageAccounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  storage accounts for this resource.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/StorageAccount\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Metric\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"A
  metric emitted by service.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"aggregationType\";O:8:\"stdClass\":6:{s:11:\"description\";s:27:\"The
  metric aggregation type\";s:4:\"enum\";a:3:{i:0;s:7:\"Average\";i:1;s:5:\"Count\";i:2;s:5:\"Total\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:17:\"modelAsExtensible\";b:1;s:4:\"name\";s:21:\"MetricAggregationType\";s:6:\"values\";a:3:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"The
  average.\";s:5:\"value\";s:7:\"Average\";}i:1;O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  count of a number of items, usually requests.\";s:5:\"value\";s:5:\"Count\";}i:2;O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"The
  sum.\";s:5:\"value\";s:5:\"Total\";}}}s:10:\"x-nullable\";b:0;}s:10:\"dimensions\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  metric dimensions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MetricDimension\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:18:\"displayDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  metric display description.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  metric display name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  metric name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":6:{s:11:\"description\";s:15:\"The
  metric unit\";s:4:\"enum\";a:3:{i:0;s:5:\"Bytes\";i:1;s:5:\"Count\";i:2;s:12:\"Milliseconds\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:17:\"modelAsExtensible\";b:1;s:4:\"name\";s:10:\"MetricUnit\";s:6:\"values\";a:3:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  number of bytes.\";s:5:\"value\";s:5:\"Bytes\";}i:1;O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"The
  count.\";s:5:\"value\";s:5:\"Count\";}i:2;O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  number of milliseconds.\";s:5:\"value\";s:12:\"Milliseconds\";}}}s:10:\"x-nullable\";b:0;}}s:4:\"type\";s:6:\"object\";}s:15:\"MetricDimension\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"A
  metric dimension.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  display name for the dimension.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  metric dimension name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:22:\"toBeExportedForShoebox\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Whether
  to export metric to shoebox.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";s:10:\"x-nullable\";b:0;}}s:4:\"type\";s:6:\"object\";}s:16:\"MetricProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Metric
  properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"serviceSpecification\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:34:\"#/definitions/ServiceSpecification\";s:11:\"description\";s:27:\"The
  service specifications.\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}s:10:\"ODataError\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Information
  about an error.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"A
  language-independent error name.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  error details.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ODataError\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  error message.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  target of the error (for example, the name of the property in error).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"An
  operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"display\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OperationDisplay\";s:11:\"description\";s:27:\"The
  operation display name.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  operation name.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Origin
  of the operation.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/MetricProperties\";s:11:\"description\";s:28:\"Operation
  properties format.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:19:\"OperationCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  collection of Operation items.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"@odata.nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"A
  link to the next page of the collection (when the collection contains too many results
  to return in one response).\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  collection of Operation items.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"OperationDisplay\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Operation
  details.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  operation description.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  operation type.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  service provider.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Resource
  on which the operation is performed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Provider\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"A
  resource provider.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"providerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  provider name.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"providerName\";}s:4:\"type\";s:6:\"object\";}s:20:\"ServiceSpecification\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  service metric specifications.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"metricSpecifications\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"List
  of metric specifications.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Metric\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"StorageAccount\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"The
  storage account details.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:293:\"The
  ID of the storage account resource. Media Services relies on tables and queues as
  well as blobs, so the primary storage account must be a Standard Storage account
  (either Microsoft.ClassicStorage or Microsoft.Storage). Blob only storage accounts
  can be added as secondary storage accounts.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  type of the storage account.\";s:4:\"enum\";a:2:{i:0;s:7:\"Primary\";i:1;s:9:\"Secondary\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":3:{s:17:\"modelAsExtensible\";b:1;s:4:\"name\";s:18:\"StorageAccountType\";s:6:\"values\";a:2:{i:0;O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  primary storage account for the Media Services account.\";s:5:\"value\";s:7:\"Primary\";}i:1;O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"A
  secondary storage account for the Media Services account.\";s:5:\"value\";s:9:\"Secondary\";}}}}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:24:\"SubscriptionMediaService\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  core properties of ARM resources.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Fully
  qualified resource ID for the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  name of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:57:\"The
  resource model definition for a ARM tracked resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  Azure Region of the resource.\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:4:\"read\";i:1;s:6:\"create\";}}s:4:\"tags\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";s:15:\"x-ms-mutability\";a:3:{i:0;s:4:\"read\";i:1;s:6:\"create\";i:2;s:6:\"update\";}}}}}s:11:\"description\";s:25:\"A
  Media Services account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/MediaServiceProperties\";s:11:\"description\";s:24:\"The
  resource properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:34:\"SubscriptionMediaServiceCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  collection of SubscriptionMediaService items.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"@odata.nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"A
  link to the next page of the collection (when the collection contains too many results
  to return in one response).\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  collection of SubscriptionMediaService items.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/SubscriptionMediaService\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"SyncStorageKeysInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  input to the sync storage keys request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  ID of the storage account resource.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
