---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:247:\"The Azure SQL
  Database management API provides a RESTful set of web APIs that interact with Azure
  SQL Database services to manage your databases. The API enables users to create,
  retrieve, update, and delete databases, servers, and other entities.\";s:5:\"title\";s:19:\"SqlManagementClient\";s:7:\"version\";s:18:\"2015-05-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:159:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/serverKeys.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:14:\"sql-serverKeys\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"azure_sql_serverkeys\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/keys:
    get:
      description: Gets a list of server keys.
      operationId: ServerKeys_ListByServer
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the list of server keys.
          schema:
            $ref: '#/definitions/ServerKeyListResult'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidKeyName - An invalid
            value was given for the server key name.nn * 400 InvalidKeyType - The
            create server key type is not supported.nn * 400 InvalidKeyUpsertRequest
            - The create server key request does not exist or has no properties object.nn
            * 404 SubscriptionDoesNotHaveServer - The requested server was not found'
      tags:
      - ServerKeys
      x-ms-examples:
        List the server keys by server:
          parameters:
            api-version: 2015-05-01-preview
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                value:
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/keys/someVault_someKey_01234567890123456789012345678901
                  kind: azurekeyvault
                  location: Japan East
                  name: someVault_someKey_01234567890123456789012345678901
                  properties:
                    creationDate: "2017-05-01T00:00:00.0Z"
                    serverKeyType: AzureKeyVault
                    thumbprint: 00112233445566778899AABBCCDDEEFFAABBCCDD
                    uri: https://someVault.vault.azure.net/keys/someKey/01234567890123456789012345678901
                  type: Microsoft.Sql/servers/keys
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/keys/myVault_myKey_11111111111111111111111111111111
                  kind: azurekeyvault
                  location: Japan East
                  name: myVault_myKey_11111111111111111111111111111111
                  properties:
                    creationDate: "2017-05-01T00:00:00.0Z"
                    serverKeyType: AzureKeyVault
                    thumbprint: AAAAAAAAAAAAAAABBBBBBBBBBBBBBBBBBBBBBBBB
                    uri: https://myVault.vault.azure.net/keys/myKey/11111111111111111111111111111111
                  type: Microsoft.Sql/servers/keys
                - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/keys/ServiceManaged
                  kind: servicemanaged
                  location: Japan East
                  name: ServiceManaged
                  properties:
                    serverKeyType: ServiceManaged
                  type: Microsoft.Sql/servers/keys
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/keys/{keyName}:
    delete:
      description: Deletes the server key with the given name.
      operationId: ServerKeys_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the server key to be deleted.
        in: path
        name: keyName
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully deleted the server key.
        202:
          description: Accepted
        204:
          description: The specified server key does not exist.
        default:
          description: '*** Error Responses: ***nn * 400 InvalidKeyName - An invalid
            value was given for the server key name.nn * 400 InvalidKeyType - The
            create server key type is not supported.nn * 400 InvalidKeyUpsertRequest
            - The create server key request does not exist or has no properties object.nn
            * 400 AzureKeyVaultInvalidExpirationDate - The operation could not be
            completed because the Azure Key Vault key expiration date is invalid.nn
            * 400 AzureKeyVaultInvalidUri - An invalid response from Azure Key Vault.
            Please use a valid Azure Key Vault URI.nn * 400 AzureKeyVaultMalformedVaultUri
            - The provided Key Vault uri is not valid.nn * 401 AzureKeyVaultKeyDisabled
            - The operation could not be completed on the server because the Azure
            Key Vault key is disabled.nn * 401 AzureKeyVaultNoServerIdentity - The
            server identity is not correctly configured on server. Please contact
            support.nn * 401 AzureKeyVaultMissingPermissions - The server is mising
            required permissions on the Azure Key Vault. nn * 401 AdalGenericError
            - The operation could not be completed because an Azure Active Directory
            error was encountered.nn * 401 AdalServicePrincipalNotFound - The operation
            could not be completed because an Azure Active Directory library Serivce
            Principal not found error was encountered.nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 ResourceNotFound - The requested
            resource was not found.nn * 409 ServerKeyUriAlreadyExists - The server
            key URI already exists on the server.nn * 409 ServerKeyDoesNotExists -
            The server key does not exist.nn * 409 AzureKeyVaultKeyNameNotFound -
            The operation could not be completed because the Azure Key Vault Key name
            does not exist.nn * 409 AzureKeyVaultKeyInUse - The key is currently being
            used by the server.nn * 409 ServerKeyNameAlreadyExists - The server key
            already exists on the server.nn * 503 AzureKeyVaultConnectionFailed -
            The operation could not be completed on the server because attempts to
            connect to Azure Key Vault have failednn * 503 AzureKeyVaultGenericConnectionError
            - The operation could not be completed because an error was encountered
            when attempting to retrieve Key Vault information .'
      tags:
      - ServerKeys
      x-ms-examples:
        Delete the server key:
          parameters:
            api-version: 2015-05-01-preview
            keyName: someVault_someKey_01234567890123456789012345678901
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body: ""
            202: []
            204:
              body: ""
      x-ms-long-running-operation: true
    get:
      description: Gets a server key.
      operationId: ServerKeys_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: The name of the server key to be retrieved.
        in: path
        name: keyName
        required: true
        type: string
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully retrieved the specified server key.
          schema:
            $ref: '#/definitions/ServerKey'
        default:
          description: '*** Error Responses: ***nn * 400 InvalidKeyName - An invalid
            value was given for the server key name.nn * 400 InvalidKeyType - The
            create server key type is not supported.nn * 400 InvalidKeyUpsertRequest
            - The create server key request does not exist or has no properties object.nn
            * 404 SubscriptionDoesNotHaveServer - The requested server was not foundnn
            * 404 ResourceNotFound - The requested resource was not found.'
      tags:
      - ServerKeys
      x-ms-examples:
        Get the server key:
          parameters:
            api-version: 2015-05-01-preview
            keyName: someVault_someKey_01234567890123456789012345678901
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/keys/someVault_someKey_01234567890123456789012345678901
                kind: azurekeyvault
                location: Japan East
                name: sqlcrudtest-4645
                properties:
                  creationDate: "2017-05-01T00:00:00.0Z"
                  serverKeyType: AzureKeyVault
                  thumbprint: 00112233445566778899AABBCCDDEEFFAABBCCDD
                  uri: https://someVault.vault.azure.net/keys/someKey/01234567890123456789012345678901
                type: Microsoft.Sql/servers/keys
    put:
      description: Creates or updates a server key.
      operationId: ServerKeys_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ResourceGroupParameter'
      - $ref: '#/parameters/ServerNameParameter'
      - description: 'The name of the server key to be operated on (updated or created).
          The key name is required to be in the format of ''vault_key_version''. For
          example, if the keyId is https://YourVaultName.vault.azure.net/keys/YourKeyName/01234567890123456789012345678901,
          then the server key name should be formatted as: YourVaultName_YourKeyName_01234567890123456789012345678901'
        in: path
        name: keyName
        required: true
        type: string
      - description: The requested server key resource state.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/ServerKey'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      responses:
        200:
          description: Successfully updated the server key.
          schema:
            $ref: '#/definitions/ServerKey'
        201:
          description: Successfully created the server key.
          schema:
            $ref: '#/definitions/ServerKey'
        202:
          description: Accepted
        default:
          description: '*** Error Responses: ***nn * 400 InvalidKeyName - An invalid
            value was given for the server key name.nn * 400 InvalidKeyType - The
            create server key type is not supported.nn * 400 InvalidKeyUpsertRequest
            - The create server key request does not exist or has no properties object.nn
            * 400 AzureKeyVaultInvalidExpirationDate - The operation could not be
            completed because the Azure Key Vault key expiration date is invalid.nn
            * 400 AzureKeyVaultInvalidUri - An invalid response from Azure Key Vault.
            Please use a valid Azure Key Vault URI.nn * 400 AzureKeyVaultMalformedVaultUri
            - The provided Key Vault uri is not valid.nn * 400 AzureKeyVaultInvalidExpirationDate
            - The operation could not be completed because the Azure Key Vault key
            expiration date is invalid.nn * 400 AzureKeyVaultInvalidUri - An invalid
            response from Azure Key Vault. Please use a valid Azure Key Vault URI.nn
            * 400 AzureKeyVaultMalformedVaultUri - The provided Key Vault uri is not
            valid.nn * 401 AzureKeyVaultKeyDisabled - The operation could not be completed
            on the server because the Azure Key Vault key is disabled.nn * 401 AzureKeyVaultNoServerIdentity
            - The server identity is not correctly configured on server. Please contact
            support.nn * 401 AzureKeyVaultMissingPermissions - The server is mising
            required permissions on the Azure Key Vault. nn * 401 AdalGenericError
            - The operation could not be completed because an Azure Active Directory
            error was encountered.nn * 401 AdalServicePrincipalNotFound - The operation
            could not be completed because an Azure Active Directory library Serivce
            Principal not found error was encountered.nn * 401 AzureKeyVaultKeyDisabled
            - The operation could not be completed on the server because the Azure
            Key Vault key is disabled.nn * 401 AzureKeyVaultNoServerIdentity - The
            server identity is not correctly configured on server. Please contact
            support.nn * 401 AzureKeyVaultMissingPermissions - The server is mising
            required permissions on the Azure Key Vault. nn * 401 AdalGenericError
            - The operation could not be completed because an Azure Active Directory
            error was encountered.nn * 401 AdalServicePrincipalNotFound - The operation
            could not be completed because an Azure Active Directory library Serivce
            Principal not found error was encountered.nn * 404 SubscriptionDoesNotHaveServer
            - The requested server was not foundnn * 404 ResourceNotFound - The requested
            resource was not found.nn * 409 ServerKeyUriAlreadyExists - The server
            key URI already exists on the server.nn * 409 ServerKeyDoesNotExists -
            The server key does not exist.nn * 409 AzureKeyVaultKeyNameNotFound -
            The operation could not be completed because the Azure Key Vault Key name
            does not exist.nn * 409 AzureKeyVaultKeyInUse - The key is currently being
            used by the server.nn * 409 ServerKeyNameAlreadyExists - The server key
            already exists on the server.nn * 409 ServerKeyUriAlreadyExists - The
            server key URI already exists on the server.nn * 409 ServerKeyDoesNotExists
            - The server key does not exist.nn * 409 AzureKeyVaultKeyNameNotFound
            - The operation could not be completed because the Azure Key Vault Key
            name does not exist.nn * 409 AzureKeyVaultKeyInUse - The key is currently
            being used by the server.nn * 409 ServerKeyNameAlreadyExists - The server
            key already exists on the server.nn * 503 AzureKeyVaultConnectionFailed
            - The operation could not be completed on the server because attempts
            to connect to Azure Key Vault have failednn * 503 AzureKeyVaultGenericConnectionError
            - The operation could not be completed because an error was encountered
            when attempting to retrieve Key Vault information .nn * 503 AzureKeyVaultConnectionFailed
            - The operation could not be completed on the server because attempts
            to connect to Azure Key Vault have failednn * 503 AzureKeyVaultGenericConnectionError
            - The operation could not be completed because an error was encountered
            when attempting to retrieve Key Vault information .'
      tags:
      - ServerKeys
      x-ms-examples:
        Creates or updates a server key:
          parameters:
            api-version: 2015-05-01-preview
            keyName: someVault_someKey_01234567890123456789012345678901
            parameters:
              properties:
                serverKeyType: AzureKeyVault
                uri: https://someVault.vault.azure.net/keys/someKey/01234567890123456789012345678901
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            200:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/keys/someVault_someKey_01234567890123456789012345678901
                kind: azurekeyvault
                location: Japan East
                name: sqlcrudtest-4645
                properties:
                  creationDate: "2017-05-01T00:00:00.0Z"
                  serverKeyType: AzureKeyVault
                  thumbprint: 00112233445566778899AABBCCDDEEFFAABBCCDD
                  uri: https://someVault.vault.azure.net/keys/someKey/01234567890123456789012345678901
                type: Microsoft.Sql/servers/keys
            201:
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/keys/someVault_someKey_01234567890123456789012345678901
                kind: azurekeyvault
                location: Japan East
                name: sqlcrudtest-4645
                properties:
                  creationDate: "2017-05-01T00:00:00.0Z"
                  serverKeyType: AzureKeyVault
                  thumbprint: 00112233445566778899AABBCCDDEEFFAABBCCDD
                  uri: https://someVault.vault.azure.net/keys/someKey/01234567890123456789012345678901
                type: Microsoft.Sql/servers/keys
            202: []
      x-ms-long-running-operation: true
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:9:\"ServerKey\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"ARM
  resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Resource
  ID.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}}s:11:\"description\";s:19:\"ARM
  proxy resource.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:13:\"A
  server key.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Kind
  of encryption protector. This is metadata used for the Azure portal experience.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Resource
  location.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/ServerKeyProperties\";s:11:\"description\";s:20:\"Resource
  properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:19:\"ServerKeyListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  list of server keys.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Link
  to retrieve next page of results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Array
  of results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ServerKey\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ServerKeyProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Properties
  for a server key execution.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  server key creation date.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"serverKeyType\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"The
  server key type like 'ServiceManaged', 'AzureKeyVault'.\";s:4:\"enum\";a:2:{i:0;s:14:\"ServiceManaged\";i:1;s:13:\"AzureKeyVault\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:13:\"ServerKeyType\";}}s:9:\"subregion\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Subregion
  of the server key.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"thumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Thumbprint
  of the server key.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  URI of the server key.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:13:\"serverKeyType\";}s:4:\"type\";s:6:\"object\";}}"
...
