---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:30:\"REST API for Azure
  Logic Apps.\";s:5:\"title\";s:21:\"LogicManagementClient\";s:7:\"version\";s:10:\"2016-06-01\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:15:\"developer_tools\";i:1;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:107:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-logic/2016-06-01/swagger/logic.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:9:\"arm-logic\";s:6:\"x-tags\";a:5:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";i:2;s:12:\"applications\";i:3;s:10:\"automation\";i:4;s:12:\"integrations\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"azure_arm_logic\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":145:{s:36:\"AS2AcknowledgementConnectionSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  AS2 agreement acknowledegment connection settings.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:29:\"ignoreCertificateNameMismatch\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  value indicating whether to ignore mismatch in certificate name.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"keepHttpConnectionAlive\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  value indicating whether to keep the connection alive.\";s:4:\"type\";s:7:\"boolean\";}s:29:\"supportHttpStatusCodeContinue\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  value indicating whether to support HTTP status code 'CONTINUE'.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"unfoldHttpHeaders\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  value indicating whether to unfold the HTTP headers.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:4:{i:0;s:29:\"ignoreCertificateNameMismatch\";i:1;s:29:\"supportHttpStatusCodeContinue\";i:2;s:23:\"keepHttpConnectionAlive\";i:3;s:17:\"unfoldHttpHeaders\";}s:4:\"type\";s:6:\"object\";}s:19:\"AS2AgreementContent\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  integration account AS2 agreement content.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"receiveAgreement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AS2OneWayAgreement\";s:11:\"description\";s:34:\"The
  AS2 one-way receive agreement.\";}s:13:\"sendAgreement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AS2OneWayAgreement\";s:11:\"description\";s:31:\"The
  AS2 one-way send agreement.\";}}s:8:\"required\";a:2:{i:0;s:16:\"receiveAgreement\";i:1;s:13:\"sendAgreement\";}s:4:\"type\";s:6:\"object\";}s:19:\"AS2EnvelopeSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  AS2 agreement envelope settings.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"autogenerateFileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  value indicating whether to auto generate file name.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"fileNameTemplate\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  template for file name.\";s:4:\"type\";s:6:\"string\";}s:18:\"messageContentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  message content type.\";s:4:\"type\";s:6:\"string\";}s:39:\"suspendMessageOnFileNameGenerationError\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  value indicating whether to suspend message on file name generation error.\";s:4:\"type\";s:7:\"boolean\";}s:28:\"transmitFileNameInMimeHeader\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  value indicating whether to transmit file name in mime header.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:5:{i:0;s:18:\"messageContentType\";i:1;s:28:\"transmitFileNameInMimeHeader\";i:2;s:16:\"fileNameTemplate\";i:3;s:39:\"suspendMessageOnFileNameGenerationError\";i:4;s:20:\"autogenerateFileName\";}s:4:\"type\";s:6:\"object\";}s:16:\"AS2ErrorSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"The
  AS2 agreement error settings.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"resendIfMdnNotReceived\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  value indicating whether to resend message If MDN is not received.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"suspendDuplicateMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  value indicating whether to suspend duplicate message.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:2:{i:0;s:23:\"suspendDuplicateMessage\";i:1;s:22:\"resendIfMdnNotReceived\";}s:4:\"type\";s:6:\"object\";}s:14:\"AS2MdnSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"The
  AS2 agreement mdn settings.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:25:\"dispositionNotificationTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  disposition notification to header value.\";s:4:\"type\";s:6:\"string\";}s:7:\"mdnText\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  MDN text.\";s:4:\"type\";s:6:\"string\";}s:19:\"micHashingAlgorithm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/HashingAlgorithm\";s:11:\"description\";s:33:\"The
  signing or hashing algorithm.\";}s:7:\"needMdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  value indicating whether to send or request a MDN.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"receiptDeliveryUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  receipt delivery URL.\";s:4:\"type\";s:6:\"string\";}s:26:\"sendInboundMdnToMessageBox\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  value indicating whether to send inbound MDN to message box.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"sendMdnAsynchronously\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  value indicating whether to send the asynchronous MDN.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"signMdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  value indicating whether the MDN needs to be signed or not.\";s:4:\"type\";s:7:\"boolean\";}s:25:\"signOutboundMdnIfOptional\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  value indicating whether to sign the outbound MDN if optional.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:6:{i:0;s:7:\"needMdn\";i:1;s:7:\"signMdn\";i:2;s:21:\"sendMdnAsynchronously\";i:3;s:25:\"signOutboundMdnIfOptional\";i:4;s:26:\"sendInboundMdnToMessageBox\";i:5;s:19:\"micHashingAlgorithm\";}s:4:\"type\";s:6:\"object\";}s:28:\"AS2MessageConnectionSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  AS2 agreement message connection settings.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:29:\"ignoreCertificateNameMismatch\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  value indicating whether to ignore mismatch in certificate name.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"keepHttpConnectionAlive\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  value indicating whether to keep the connection alive.\";s:4:\"type\";s:7:\"boolean\";}s:29:\"supportHttpStatusCodeContinue\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  value indicating whether to support HTTP status code 'CONTINUE'.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"unfoldHttpHeaders\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  value indicating whether to unfold the HTTP headers.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:4:{i:0;s:29:\"ignoreCertificateNameMismatch\";i:1;s:29:\"supportHttpStatusCodeContinue\";i:2;s:23:\"keepHttpConnectionAlive\";i:3;s:17:\"unfoldHttpHeaders\";}s:4:\"type\";s:6:\"object\";}s:18:\"AS2OneWayAgreement\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  integration account AS2 oneway agreement.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"protocolSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AS2ProtocolSettings\";s:11:\"description\";s:26:\"The
  AS2 protocol settings.\";}s:24:\"receiverBusinessIdentity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BusinessIdentity\";s:11:\"description\";s:30:\"The
  receiver business identity\";}s:22:\"senderBusinessIdentity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BusinessIdentity\";s:11:\"description\";s:28:\"The
  sender business identity\";}}s:8:\"required\";a:3:{i:0;s:22:\"senderBusinessIdentity\";i:1;s:24:\"receiverBusinessIdentity\";i:2;s:16:\"protocolSettings\";}s:4:\"type\";s:6:\"object\";}s:19:\"AS2ProtocolSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  AS2 agreement protocol settings.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:33:\"acknowledgementConnectionSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/AS2AcknowledgementConnectionSettings\";s:11:\"description\";s:40:\"The
  acknowledgement connection settings.\";}s:16:\"envelopeSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AS2EnvelopeSettings\";s:11:\"description\";s:22:\"The
  envelope settings.\";}s:13:\"errorSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AS2ErrorSettings\";s:11:\"description\";s:19:\"The
  error settings.\";}s:11:\"mdnSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AS2MdnSettings\";s:11:\"description\";s:17:\"The
  MDN settings.\";}s:25:\"messageConnectionSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/AS2MessageConnectionSettings\";s:11:\"description\";s:32:\"The
  message connection settings.\";}s:16:\"securitySettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AS2SecuritySettings\";s:11:\"description\";s:22:\"The
  security settings.\";}s:18:\"validationSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AS2ValidationSettings\";s:11:\"description\";s:24:\"The
  validation settings.\";}}s:8:\"required\";a:7:{i:0;s:25:\"messageConnectionSettings\";i:1;s:33:\"acknowledgementConnectionSettings\";i:2;s:11:\"mdnSettings\";i:3;s:16:\"securitySettings\";i:4;s:18:\"validationSettings\";i:5;s:16:\"envelopeSettings\";i:6;s:13:\"errorSettings\";}s:4:\"type\";s:6:\"object\";}s:19:\"AS2SecuritySettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  AS2 agreement security settings.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:34:\"enableNrrForInboundDecodedMessages\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  value indicating whether to enable NRR for inbound decoded messages.\";s:4:\"type\";s:7:\"boolean\";}s:34:\"enableNrrForInboundEncodedMessages\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  value indicating whether to enable NRR for inbound encoded messages.\";s:4:\"type\";s:7:\"boolean\";}s:22:\"enableNrrForInboundMdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  value indicating whether to enable NRR for inbound MDN.\";s:4:\"type\";s:7:\"boolean\";}s:35:\"enableNrrForOutboundDecodedMessages\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  value indicating whether to enable NRR for outbound decoded messages.\";s:4:\"type\";s:7:\"boolean\";}s:35:\"enableNrrForOutboundEncodedMessages\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  value indicating whether to enable NRR for outbound encoded messages.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"enableNrrForOutboundMdn\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  value indicating whether to enable NRR for outbound MDN.\";s:4:\"type\";s:7:\"boolean\";}s:25:\"encryptionCertificateName\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  name of the encryption certificate.\";s:4:\"type\";s:6:\"string\";}s:31:\"overrideGroupSigningCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  value indicating whether to send or request a MDN.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"sha2AlgorithmFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"The
  Sha2 algorithm format. Valid values are Sha2, ShaHashSize, ShaHyphenHashSize, Sha2UnderscoreHashSize.\";s:4:\"type\";s:6:\"string\";}s:22:\"signingCertificateName\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  name of the signing certificate.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:31:\"overrideGroupSigningCertificate\";i:1;s:34:\"enableNrrForInboundEncodedMessages\";i:2;s:34:\"enableNrrForInboundDecodedMessages\";i:3;s:23:\"enableNrrForOutboundMdn\";i:4;s:35:\"enableNrrForOutboundEncodedMessages\";i:5;s:35:\"enableNrrForOutboundDecodedMessages\";i:6;s:22:\"enableNrrForInboundMdn\";}s:4:\"type\";s:6:\"object\";}s:21:\"AS2ValidationSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  AS2 agreement validation settings.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:39:\"checkCertificateRevocationListOnReceive\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"The
  value indicating whether to check for certificate revocation list on receive.\";s:4:\"type\";s:7:\"boolean\";}s:36:\"checkCertificateRevocationListOnSend\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  value indicating whether to check for certificate revocation list on send.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"checkDuplicateMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  value indicating whether to check for duplicate message.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"compressMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  value indicating whether the message has to be compressed.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"encryptMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  value indicating whether the message has to be encrypted.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"encryptionAlgorithm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EncryptionAlgorithm\";s:11:\"description\";s:25:\"The
  encryption algorithm.\";}s:33:\"interchangeDuplicatesValidityDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  number of days to look back for duplicate interchange.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"overrideMessageProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"The
  value indicating whether to override incoming message properties with those in agreement.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"signMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  value indicating whether the message has to be signed.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"signingAlgorithm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SigningAlgorithm\";s:11:\"description\";s:22:\"The
  signing algorithm.\";}}s:8:\"required\";a:9:{i:0;s:25:\"overrideMessageProperties\";i:1;s:14:\"encryptMessage\";i:2;s:11:\"signMessage\";i:3;s:15:\"compressMessage\";i:4;s:21:\"checkDuplicateMessage\";i:5;s:33:\"interchangeDuplicatesValidityDays\";i:6;s:36:\"checkCertificateRevocationListOnSend\";i:7;s:39:\"checkCertificateRevocationListOnReceive\";i:8;s:19:\"encryptionAlgorithm\";}s:4:\"type\";s:6:\"object\";}s:16:\"AgreementContent\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  integration account agreement content.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"aS2\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AS2AgreementContent\";s:11:\"description\";s:26:\"The
  AS2 agreement content.\";}s:7:\"edifact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EdifactAgreementContent\";s:11:\"description\";s:30:\"The
  EDIFACT agreement content.\";}s:3:\"x12\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/X12AgreementContent\";s:11:\"description\";s:26:\"The
  X12 agreement content.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AgreementType\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:12:\"NotSpecified\";i:1;s:3:\"AS2\";i:2;s:3:\"X12\";i:3;s:7:\"Edifact\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"AgreementType\";}}s:17:\"B2BPartnerContent\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  B2B partner content.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"businessIdentities\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  list of partner business identities.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BusinessIdentity\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"BusinessIdentity\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  integration account partner's business identity.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"qualifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  business identity qualifier e.g. as2identity, ZZ, ZZZ, 31, 32\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  user defined business identity value.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"qualifier\";i:1;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:11:\"CallbackUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  callback url.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  URL value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ContentHash\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  content hash.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"algorithm\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  algorithm of the content hash.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  value of the content hash.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ContentLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  content link.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"contentHash\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ContentHash\";s:11:\"description\";s:17:\"The
  content hash.\";}s:11:\"contentSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  content size.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"contentVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  content version.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:13:\"The
  metadata.\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The content
  link URI.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Correlation\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  correlation property.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"clientTrackingId\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  client tracking id.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"DayOfWeek\";O:8:\"stdClass\":3:{s:4:\"enum\";a:7:{i:0;s:6:\"Sunday\";i:1;s:6:\"Monday\";i:2;s:7:\"Tuesday\";i:3;s:9:\"Wednesday\";i:4;s:8:\"Thursday\";i:5;s:6:\"Friday\";i:6;s:8:\"Saturday\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:9:\"DayOfWeek\";}}s:30:\"EdifactAcknowledgementSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  Edifact agreement acknowledgement settings.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:38:\"acknowledgementControlNumberLowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  acknowledgement control number lower bound.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:34:\"acknowledgementControlNumberPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  acknowledgement control number prefix.\";s:4:\"type\";s:6:\"string\";}s:34:\"acknowledgementControlNumberSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  acknowledgement control number suffix.\";s:4:\"type\";s:6:\"string\";}s:38:\"acknowledgementControlNumberUpperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  acknowledgement control number upper bound.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:31:\"batchFunctionalAcknowledgements\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  value indicating whether to batch functional acknowledgements.\";s:4:\"type\";s:7:\"boolean\";}s:30:\"batchTechnicalAcknowledgements\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  value indicating whether to batch the technical acknowledgements.\";s:4:\"type\";s:7:\"boolean\";}s:29:\"needFunctionalAcknowledgement\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  value indicating whether functional acknowledgement is needed.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"needLoopForValidMessages\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  value indicating whether a loop is needed for valid messages.\";s:4:\"type\";s:7:\"boolean\";}s:28:\"needTechnicalAcknowledgement\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  value indicating whether technical acknowledgement is needed.\";s:4:\"type\";s:7:\"boolean\";}s:36:\"rolloverAcknowledgementControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  value indicating whether to rollover acknowledgement control number.\";s:4:\"type\";s:7:\"boolean\";}s:30:\"sendSynchronousAcknowledgement\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  value indicating whether to send synchronous acknowledgement.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:9:{i:0;s:28:\"needTechnicalAcknowledgement\";i:1;s:30:\"batchTechnicalAcknowledgements\";i:2;s:29:\"needFunctionalAcknowledgement\";i:3;s:31:\"batchFunctionalAcknowledgements\";i:4;s:24:\"needLoopForValidMessages\";i:5;s:30:\"sendSynchronousAcknowledgement\";i:6;s:38:\"acknowledgementControlNumberLowerBound\";i:7;s:38:\"acknowledgementControlNumberUpperBound\";i:8;s:36:\"rolloverAcknowledgementControlNumber\";}s:4:\"type\";s:6:\"object\";}s:23:\"EdifactAgreementContent\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  Edifact agreement content.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"receiveAgreement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/EdifactOneWayAgreement\";s:11:\"description\";s:38:\"The
  EDIFACT one-way receive agreement.\";}s:13:\"sendAgreement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/EdifactOneWayAgreement\";s:11:\"description\";s:35:\"The
  EDIFACT one-way send agreement.\";}}s:8:\"required\";a:2:{i:0;s:16:\"receiveAgreement\";i:1;s:13:\"sendAgreement\";}s:4:\"type\";s:6:\"object\";}s:19:\"EdifactCharacterSet\";O:8:\"stdClass\":3:{s:4:\"enum\";a:15:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"UNOB\";i:2;s:4:\"UNOA\";i:3;s:4:\"UNOC\";i:4;s:4:\"UNOD\";i:5;s:4:\"UNOE\";i:6;s:4:\"UNOF\";i:7;s:4:\"UNOG\";i:8;s:4:\"UNOH\";i:9;s:4:\"UNOI\";i:10;s:4:\"UNOJ\";i:11;s:4:\"UNOK\";i:12;s:4:\"UNOX\";i:13;s:4:\"UNOY\";i:14;s:4:\"KECA\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"EdifactCharacterSet\";}}s:23:\"EdifactDecimalIndicator\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:12:\"NotSpecified\";i:1;s:5:\"Comma\";i:2;s:7:\"Decimal\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:23:\"EdifactDecimalIndicator\";}}s:24:\"EdifactDelimiterOverride\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  Edifact delimiter override settings.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"componentSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  component separator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"dataElementSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  data element separator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"decimalPointIndicator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EdifactDecimalIndicator\";s:11:\"description\";s:28:\"The
  decimal point indicator.\";}s:30:\"messageAssociationAssignedCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  message association assigned code.\";s:4:\"type\";s:6:\"string\";}s:9:\"messageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  message id.\";s:4:\"type\";s:6:\"string\";}s:14:\"messageRelease\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  message releaseversion.\";s:4:\"type\";s:6:\"string\";}s:14:\"messageVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  message version.\";s:4:\"type\";s:6:\"string\";}s:16:\"releaseIndicator\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  release indicator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"repetitionSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  repetition separator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"segmentTerminator\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  segment terminator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:23:\"segmentTerminatorSuffix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/SegmentTerminatorSuffix\";s:11:\"description\";s:30:\"The
  segment terminator suffix.\";}s:15:\"targetNamespace\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  target namespace on which this delimiter settings has to be applied.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:20:\"dataElementSeparator\";i:1;s:18:\"componentSeparator\";i:2;s:17:\"segmentTerminator\";i:3;s:19:\"repetitionSeparator\";i:4;s:23:\"segmentTerminatorSuffix\";i:5;s:21:\"decimalPointIndicator\";i:6;s:16:\"releaseIndicator\";}s:4:\"type\";s:6:\"object\";}s:23:\"EdifactEnvelopeOverride\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  Edifact enevlope override settings.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:19:\"applicationPassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  application password.\";s:4:\"type\";s:6:\"string\";}s:23:\"associationAssignedCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  association assigned code.\";s:4:\"type\";s:6:\"string\";}s:21:\"controllingAgencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  controlling agency code.\";s:4:\"type\";s:6:\"string\";}s:17:\"functionalGroupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  functional group id.\";s:4:\"type\";s:6:\"string\";}s:25:\"groupHeaderMessageRelease\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  group header message release.\";s:4:\"type\";s:6:\"string\";}s:25:\"groupHeaderMessageVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  group header message version.\";s:4:\"type\";s:6:\"string\";}s:30:\"messageAssociationAssignedCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  message association assigned code.\";s:4:\"type\";s:6:\"string\";}s:9:\"messageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  message id on which this envelope settings has to be applied.\";s:4:\"type\";s:6:\"string\";}s:14:\"messageRelease\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  message release version on which this envelope settings has to be applied.\";s:4:\"type\";s:6:\"string\";}s:14:\"messageVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  message version on which this envelope settings has to be applied.\";s:4:\"type\";s:6:\"string\";}s:21:\"receiverApplicationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  receiver application id.\";s:4:\"type\";s:6:\"string\";}s:28:\"receiverApplicationQualifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  receiver application qualifier.\";s:4:\"type\";s:6:\"string\";}s:19:\"senderApplicationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  sender application id.\";s:4:\"type\";s:6:\"string\";}s:26:\"senderApplicationQualifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  sender application qualifier.\";s:4:\"type\";s:6:\"string\";}s:15:\"targetNamespace\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  target namespace on which this envelope settings has to be applied.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"EdifactEnvelopeSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  Edifact agreement envelope settings.\";s:10:\"properties\";O:8:\"stdClass\":41:{s:22:\"applicationReferenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  application reference id.\";s:4:\"type\";s:6:\"string\";}s:26:\"applyDelimiterStringAdvice\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  value indicating whether to apply delimiter string advice.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"communicationAgreementId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  communication agreement id.\";s:4:\"type\";s:6:\"string\";}s:22:\"createGroupingSegments\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  value indicating whether to create grouping segments.\";s:4:\"type\";s:7:\"boolean\";}s:25:\"enableDefaultGroupHeaders\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  value indicating whether to enable default group headers.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"functionalGroupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  functional group id.\";s:4:\"type\";s:6:\"string\";}s:24:\"groupApplicationPassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  group application password.\";s:4:\"type\";s:6:\"string\";}s:26:\"groupApplicationReceiverId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  group application receiver id.\";s:4:\"type\";s:6:\"string\";}s:33:\"groupApplicationReceiverQualifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  group application receiver qualifier.\";s:4:\"type\";s:6:\"string\";}s:24:\"groupApplicationSenderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  group application sender id.\";s:4:\"type\";s:6:\"string\";}s:31:\"groupApplicationSenderQualifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  group application sender qualifier.\";s:4:\"type\";s:6:\"string\";}s:28:\"groupAssociationAssignedCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  group association assigned code.\";s:4:\"type\";s:6:\"string\";}s:28:\"groupControlNumberLowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  group control number lower bound.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:24:\"groupControlNumberPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  group control number prefix.\";s:4:\"type\";s:6:\"string\";}s:24:\"groupControlNumberSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  group control number suffix.\";s:4:\"type\";s:6:\"string\";}s:28:\"groupControlNumberUpperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  group control number upper bound.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:26:\"groupControllingAgencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  group controlling agency code.\";s:4:\"type\";s:6:\"string\";}s:19:\"groupMessageRelease\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  group message release.\";s:4:\"type\";s:6:\"string\";}s:19:\"groupMessageVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  group message version.\";s:4:\"type\";s:6:\"string\";}s:34:\"interchangeControlNumberLowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  interchange control number lower bound.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:30:\"interchangeControlNumberPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  interchange control number prefix.\";s:4:\"type\";s:6:\"string\";}s:30:\"interchangeControlNumberSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  interchange control number suffix.\";s:4:\"type\";s:6:\"string\";}s:34:\"interchangeControlNumberUpperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  interchange control number upper bound.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"isTestInterchange\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  value indicating whether the message is a test interchange.\";s:4:\"type\";s:7:\"boolean\";}s:44:\"overwriteExistingTransactionSetControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"The
  value indicating whether to overwrite existing transaction set control number.\";s:4:\"type\";s:7:\"boolean\";}s:22:\"processingPriorityCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  processing priority code.\";s:4:\"type\";s:6:\"string\";}s:30:\"receiverInternalIdentification\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  receiver internal identification.\";s:4:\"type\";s:6:\"string\";}s:33:\"receiverInternalSubIdentification\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  receiver internal sub identification.\";s:4:\"type\";s:6:\"string\";}s:29:\"receiverReverseRoutingAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  receiver reverse routing address.\";s:4:\"type\";s:6:\"string\";}s:35:\"recipientReferencePasswordQualifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  recipient reference password qualifier.\";s:4:\"type\";s:6:\"string\";}s:31:\"recipientReferencePasswordValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  recipient reference password value.\";s:4:\"type\";s:6:\"string\";}s:26:\"rolloverGroupControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  value indicating whether to rollover group control number.\";s:4:\"type\";s:7:\"boolean\";}s:32:\"rolloverInterchangeControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  value indicating whether to rollover interchange control number.\";s:4:\"type\";s:7:\"boolean\";}s:35:\"rolloverTransactionSetControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  value indicating whether to rollover transaction set control number.\";s:4:\"type\";s:7:\"boolean\";}s:28:\"senderInternalIdentification\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  sender internal identification.\";s:4:\"type\";s:6:\"string\";}s:31:\"senderInternalSubIdentification\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  sender internal sub identification.\";s:4:\"type\";s:6:\"string\";}s:27:\"senderReverseRoutingAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  sender reverse routing address.\";s:4:\"type\";s:6:\"string\";}s:37:\"transactionSetControlNumberLowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  transaction set control number lower bound.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:33:\"transactionSetControlNumberPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  transaction set control number prefix.\";s:4:\"type\";s:6:\"string\";}s:33:\"transactionSetControlNumberSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  transaction set control number suffix.\";s:4:\"type\";s:6:\"string\";}s:37:\"transactionSetControlNumberUpperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  transaction set control number upper bound.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:14:{i:0;s:26:\"applyDelimiterStringAdvice\";i:1;s:22:\"createGroupingSegments\";i:2;s:25:\"enableDefaultGroupHeaders\";i:3;s:34:\"interchangeControlNumberLowerBound\";i:4;s:34:\"interchangeControlNumberUpperBound\";i:5;s:32:\"rolloverInterchangeControlNumber\";i:6;s:28:\"groupControlNumberLowerBound\";i:7;s:28:\"groupControlNumberUpperBound\";i:8;s:26:\"rolloverGroupControlNumber\";i:9;s:44:\"overwriteExistingTransactionSetControlNumber\";i:10;s:37:\"transactionSetControlNumberLowerBound\";i:11;s:37:\"transactionSetControlNumberUpperBound\";i:12;s:35:\"rolloverTransactionSetControlNumber\";i:13;s:17:\"isTestInterchange\";}s:4:\"type\";s:6:\"object\";}s:22:\"EdifactFramingSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  Edifact agreement framing settings.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:17:\"characterEncoding\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  character encoding.\";s:4:\"type\";s:6:\"string\";}s:12:\"characterSet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EdifactCharacterSet\";s:11:\"description\";s:39:\"The
  EDIFACT frame setting characterSet.\";}s:18:\"componentSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  component separator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"dataElementSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  data element separator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"decimalPointIndicator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EdifactDecimalIndicator\";s:11:\"description\";s:44:\"The
  EDIFACT frame setting decimal indicator.\";}s:15:\"protocolVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  protocol version.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"releaseIndicator\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  release indicator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"repetitionSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  repetition separator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"segmentTerminator\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  segment terminator.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:23:\"segmentTerminatorSuffix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/SegmentTerminatorSuffix\";s:11:\"description\";s:52:\"The
  EDIFACT frame setting segment terminator suffix.\";}s:31:\"serviceCodeListDirectoryVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  service code list directory version.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:9:{i:0;s:15:\"protocolVersion\";i:1;s:20:\"dataElementSeparator\";i:2;s:18:\"componentSeparator\";i:3;s:17:\"segmentTerminator\";i:4;s:16:\"releaseIndicator\";i:5;s:19:\"repetitionSeparator\";i:6;s:12:\"characterSet\";i:7;s:21:\"decimalPointIndicator\";i:8;s:23:\"segmentTerminatorSuffix\";}s:4:\"type\";s:6:\"object\";}s:20:\"EdifactMessageFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  Edifact message filter for odata query.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"messageFilterType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MessageFilterType\";s:11:\"description\";s:24:\"The
  message filter type.\";}}s:8:\"required\";a:1:{i:0;s:17:\"messageFilterType\";}s:4:\"type\";s:6:\"object\";}s:24:\"EdifactMessageIdentifier\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"The
  Edifact message identifier.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"messageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  message id on which this envelope settings has to be applied.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:9:\"messageId\";}s:4:\"type\";s:6:\"object\";}s:22:\"EdifactOneWayAgreement\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  Edifact one way agreement.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"protocolSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EdifactProtocolSettings\";s:11:\"description\";s:30:\"The
  EDIFACT protocol settings.\";}s:24:\"receiverBusinessIdentity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BusinessIdentity\";s:11:\"description\";s:30:\"The
  receiver business identity\";}s:22:\"senderBusinessIdentity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BusinessIdentity\";s:11:\"description\";s:28:\"The
  sender business identity\";}}s:8:\"required\";a:3:{i:0;s:22:\"senderBusinessIdentity\";i:1;s:24:\"receiverBusinessIdentity\";i:2;s:16:\"protocolSettings\";}s:4:\"type\";s:6:\"object\";}s:25:\"EdifactProcessingSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  Edifact agreement protocol settings.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:39:\"createEmptyXmlTagsForTrailingSeparators\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  value indicating whether to create empty xml tags for trailing separators.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"maskSecurityInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  value indicating whether to mask security information.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"preserveInterchange\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  value indicating whether to preserve interchange.\";s:4:\"type\";s:7:\"boolean\";}s:25:\"suspendInterchangeOnError\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  value indicating whether to suspend interchange on error.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"useDotAsDecimalSeparator\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  value indicating whether to use dot as decimal separator.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:5:{i:0;s:16:\"maskSecurityInfo\";i:1;s:19:\"preserveInterchange\";i:2;s:25:\"suspendInterchangeOnError\";i:3;s:39:\"createEmptyXmlTagsForTrailingSeparators\";i:4;s:24:\"useDotAsDecimalSeparator\";}s:4:\"type\";s:6:\"object\";}s:23:\"EdifactProtocolSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  Edifact agreement protocol settings.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:23:\"acknowledgementSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/EdifactAcknowledgementSettings\";s:11:\"description\";s:37:\"The
  EDIFACT acknowledgement settings.\";}s:25:\"edifactDelimiterOverrides\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  EDIFACT delimiter override settings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/EdifactDelimiterOverride\";}s:4:\"type\";s:5:\"array\";}s:17:\"envelopeOverrides\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  EDIFACT envelope override settings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/EdifactEnvelopeOverride\";}s:4:\"type\";s:5:\"array\";}s:16:\"envelopeSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EdifactEnvelopeSettings\";s:11:\"description\";s:30:\"The
  EDIFACT envelope settings.\";}s:15:\"framingSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/EdifactFramingSettings\";s:11:\"description\";s:29:\"The
  EDIFACT framing settings.\";}s:13:\"messageFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EdifactMessageFilter\";s:11:\"description\";s:27:\"The
  EDIFACT message filter.\";}s:17:\"messageFilterList\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  EDIFACT message filter list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/EdifactMessageIdentifier\";}s:4:\"type\";s:5:\"array\";}s:18:\"processingSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/EdifactProcessingSettings\";s:11:\"description\";s:32:\"The
  EDIFACT processing Settings.\";}s:16:\"schemaReferences\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  EDIFACT schema references.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/EdifactSchemaReference\";}s:4:\"type\";s:5:\"array\";}s:19:\"validationOverrides\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  EDIFACT validation override settings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/EdifactValidationOverride\";}s:4:\"type\";s:5:\"array\";}s:18:\"validationSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/EdifactValidationSettings\";s:11:\"description\";s:32:\"The
  EDIFACT validation settings.\";}}s:8:\"required\";a:7:{i:0;s:18:\"validationSettings\";i:1;s:15:\"framingSettings\";i:2;s:16:\"envelopeSettings\";i:3;s:23:\"acknowledgementSettings\";i:4;s:13:\"messageFilter\";i:5;s:18:\"processingSettings\";i:6;s:16:\"schemaReferences\";}s:4:\"type\";s:6:\"object\";}s:22:\"EdifactSchemaReference\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"The
  Edifact schema reference.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:23:\"associationAssignedCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  association assigned code.\";s:4:\"type\";s:6:\"string\";}s:9:\"messageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  message id.\";s:4:\"type\";s:6:\"string\";}s:14:\"messageRelease\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  message release version.\";s:4:\"type\";s:6:\"string\";}s:14:\"messageVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  message version.\";s:4:\"type\";s:6:\"string\";}s:10:\"schemaName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  schema name.\";s:4:\"type\";s:6:\"string\";}s:19:\"senderApplicationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  sender application id.\";s:4:\"type\";s:6:\"string\";}s:26:\"senderApplicationQualifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  sender application qualifier.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:9:\"messageId\";i:1;s:14:\"messageVersion\";i:2;s:14:\"messageRelease\";i:3;s:10:\"schemaName\";}s:4:\"type\";s:6:\"object\";}s:25:\"EdifactValidationOverride\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  Edifact validation override settings.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:38:\"allowLeadingAndTrailingSpacesAndZeroes\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  value indicating whether to allow leading and trailing spaces and zeroes.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"enforceCharacterSet\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  value indicating whether to validate character Set.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"messageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  message id on which the validation settings has to be applied.\";s:4:\"type\";s:6:\"string\";}s:23:\"trailingSeparatorPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/TrailingSeparatorPolicy\";s:11:\"description\";s:30:\"The
  trailing separator policy.\";}s:37:\"trimLeadingAndTrailingSpacesAndZeroes\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  value indicating whether to trim leading and trailing spaces and zeroes.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"validateEdiTypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  value indicating whether to validate EDI types.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"validateXsdTypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  value indicating whether to validate XSD types.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:7:{i:0;s:9:\"messageId\";i:1;s:19:\"enforceCharacterSet\";i:2;s:16:\"validateEdiTypes\";i:3;s:16:\"validateXsdTypes\";i:4;s:38:\"allowLeadingAndTrailingSpacesAndZeroes\";i:5;s:23:\"trailingSeparatorPolicy\";i:6;s:37:\"trimLeadingAndTrailingSpacesAndZeroes\";}s:4:\"type\";s:6:\"object\";}s:25:\"EdifactValidationSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  Edifact agreement validation settings.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:38:\"allowLeadingAndTrailingSpacesAndZeroes\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  value indicating whether to allow leading and trailing spaces and zeroes.\";s:4:\"type\";s:7:\"boolean\";}s:32:\"checkDuplicateGroupControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  value indicating whether to check for duplicate group control number.\";s:4:\"type\";s:7:\"boolean\";}s:38:\"checkDuplicateInterchangeControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  value indicating whether to check for duplicate interchange control number.\";s:4:\"type\";s:7:\"boolean\";}s:41:\"checkDuplicateTransactionSetControlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  value indicating whether to check for duplicate transaction set control number.\";s:4:\"type\";s:7:\"boolean\";}s:36:\"interchangeControlNumberValidityDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  validity period of interchange control number.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:23:\"trailingSeparatorPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/TrailingSeparatorPolicy\";s:11:\"description\";s:30:\"The
  trailing separator policy.\";}s:37:\"trimLeadingAndTrailingSpacesAndZeroes\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  value indicating whether to trim leading and trailing spaces and zeroes.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"validateCharacterSet\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  value indicating whether to validate character set in the message.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"validateEdiTypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  value indicating whether to Whether to validate EDI types.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"validateXsdTypes\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  value indicating whether to Whether to validate XSD types.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:10:{i:0;s:20:\"validateCharacterSet\";i:1;s:38:\"checkDuplicateInterchangeControlNumber\";i:2;s:36:\"interchangeControlNumberValidityDays\";i:3;s:32:\"checkDuplicateGroupControlNumber\";i:4;s:41:\"checkDuplicateTransactionSetControlNumber\";i:5;s:16:\"validateEdiTypes\";i:6;s:16:\"validateXsdTypes\";i:7;s:38:\"allowLeadingAndTrailingSpacesAndZeroes\";i:8;s:37:\"trimLeadingAndTrailingSpacesAndZeroes\";i:9;s:23:\"trailingSeparatorPolicy\";}s:4:\"type\";s:6:\"object\";}s:19:\"EncryptionAlgorithm\";O:8:\"stdClass\":3:{s:4:\"enum\";a:7:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"None\";i:2;s:4:\"DES3\";i:3;s:3:\"RC2\";i:4;s:6:\"AES128\";i:5;s:6:\"AES192\";i:6;s:6:\"AES256\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"EncryptionAlgorithm\";}}s:15:\"ErrorProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"Error
  properties indicate why the Logic service was not able to process the incoming request.
  The reason is provided in the error message.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Error
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"Error
  reponse indicates Logic service is not able to process the incoming request. The
  error property contains the error details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ErrorProperties\";s:11:\"description\";s:21:\"The
  error properties.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GenerateUpgradedDefinitionParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  parameters to generate upgraded definition.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"targetSchemaVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  target schema version.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetCallbackUrlParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  callback url parameters.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"keyType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/KeyType\";s:11:\"description\";s:13:\"The
  key type.\";}s:8:\"notAfter\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  expiry time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"HashingAlgorithm\";O:8:\"stdClass\":3:{s:4:\"enum\";a:7:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"None\";i:2;s:3:\"MD5\";i:3;s:4:\"SHA1\";i:4;s:7:\"SHA2256\";i:5;s:7:\"SHA2384\";i:6;s:7:\"SHA2512\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:16:\"HashingAlgorithm\";}}s:18:\"IntegrationAccount\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:24:\"The
  integration account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:42:\"#/definitions/IntegrationAccountProperties\";s:11:\"description\";s:35:\"The
  integration account properties.\";s:19:\"x-ms-client-flatten\";b:1;}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/IntegrationAccountSku\";s:11:\"description\";s:8:\"The
  sku.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"IntegrationAccountAgreement\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:34:\"The
  integration account agreement.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:51:\"#/definitions/IntegrationAccountAgreementProperties\";s:11:\"description\";s:45:\"The
  integration account agreement properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";}s:33:\"IntegrationAccountAgreementFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  integration account agreement filter for odata query.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"agreementType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AgreementType\";s:11:\"description\";s:52:\"The
  agreement type of integration account agreement.\";}}s:8:\"required\";a:1:{i:0;s:13:\"agreementType\";}s:4:\"type\";s:6:\"object\";}s:37:\"IntegrationAccountAgreementListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  list of integration account agreements.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  list of integration account agreements.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/IntegrationAccountAgreement\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:37:\"IntegrationAccountAgreementProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  integration account agreement properties.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"agreementType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AgreementType\";s:11:\"description\";s:19:\"The
  agreement type.\";}s:11:\"changedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  changed time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AgreementContent\";s:11:\"description\";s:22:\"The
  agreement content.\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  created time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"guestIdentity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BusinessIdentity\";s:11:\"description\";s:43:\"The
  business identity of the guest partner.\";}s:12:\"guestPartner\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  integration account partner that is set as guest partner for this agreement.\";s:4:\"type\";s:6:\"string\";}s:12:\"hostIdentity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BusinessIdentity\";s:11:\"description\";s:42:\"The
  business identity of the host partner.\";}s:11:\"hostPartner\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  integration account partner that is set as host partner for this agreement.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  metadata.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:6:{i:0;s:11:\"hostPartner\";i:1;s:12:\"guestPartner\";i:2;s:12:\"hostIdentity\";i:3;s:13:\"guestIdentity\";i:4;s:13:\"agreementType\";i:5;s:7:\"content\";}s:4:\"type\";s:6:\"object\";}s:29:\"IntegrationAccountCertificate\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:36:\"The
  integration account certificate.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:53:\"#/definitions/IntegrationAccountCertificateProperties\";s:11:\"description\";s:47:\"The
  integration account certificate properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";}s:39:\"IntegrationAccountCertificateListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  list of integration account certificates.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  list of integration account certificates.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/IntegrationAccountCertificate\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:39:\"IntegrationAccountCertificateProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  integration account certificate properties.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"changedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  changed time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  created time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/KeyVaultKeyReference\";s:11:\"description\";s:33:\"The
  key details in the key vault.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  metadata.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"publicCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  public certificate.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"IntegrationAccountListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  list of integration accounts.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  list of integration accounts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/IntegrationAccount\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"IntegrationAccountMap\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:28:\"The
  integration account map.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:45:\"#/definitions/IntegrationAccountMapProperties\";s:11:\"description\";s:39:\"The
  integration account map properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";}s:27:\"IntegrationAccountMapFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  integration account map filter for odata query.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"mapType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/MapType\";s:11:\"description\";s:40:\"The
  map type of integration account map.\";}}s:8:\"required\";a:1:{i:0;s:7:\"mapType\";}s:4:\"type\";s:6:\"object\";}s:31:\"IntegrationAccountMapListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  list of integration account maps.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  list of integration account maps.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/IntegrationAccountMap\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:31:\"IntegrationAccountMapProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"The
  integration account map.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"changedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  changed time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  content.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"string\";}s:11:\"contentLink\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ContentLink\";s:11:\"description\";s:17:\"The
  content link.\";s:8:\"readOnly\";b:1;}s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  content type.\";s:4:\"type\";s:6:\"string\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  created time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"mapType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/MapType\";s:11:\"description\";s:13:\"The
  map type.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  metadata.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"parametersSchema\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  parameters schema of integration account map.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"ref\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  reference name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:7:\"mapType\";}s:4:\"type\";s:6:\"object\";}s:25:\"IntegrationAccountPartner\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:32:\"The
  integration account partner.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:49:\"#/definitions/IntegrationAccountPartnerProperties\";s:11:\"description\";s:43:\"The
  integration account partner properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";}s:31:\"IntegrationAccountPartnerFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  integration account partner filter for odata query.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"partnerType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PartnerType\";s:11:\"description\";s:48:\"The
  partner type of integration account partner.\";}}s:8:\"required\";a:1:{i:0;s:11:\"partnerType\";}s:4:\"type\";s:6:\"object\";}s:35:\"IntegrationAccountPartnerListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  list of integration account partners.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  list of integration account partners.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/IntegrationAccountPartner\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:35:\"IntegrationAccountPartnerProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  integration account partner properties.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"changedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  changed time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PartnerContent\";s:11:\"description\";s:20:\"The
  partner content.\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  created time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  metadata.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"partnerType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PartnerType\";s:11:\"description\";s:17:\"The
  partner type.\";}}s:8:\"required\";a:2:{i:0;s:11:\"partnerType\";i:1;s:7:\"content\";}s:4:\"type\";s:6:\"object\";}s:28:\"IntegrationAccountProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"IntegrationAccountSchema\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:31:\"The
  integration account schema.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:48:\"#/definitions/IntegrationAccountSchemaProperties\";s:11:\"description\";s:42:\"The
  integration account schema properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";}s:30:\"IntegrationAccountSchemaFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  integration account schema filter for odata query.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"schemaType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SchemaType\";s:11:\"description\";s:46:\"The
  schema type of integration account schema.\";}}s:8:\"required\";a:1:{i:0;s:10:\"schemaType\";}s:4:\"type\";s:6:\"object\";}s:34:\"IntegrationAccountSchemaListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  list of integration account schemas.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  list of integration account schemas.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/IntegrationAccountSchema\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:34:\"IntegrationAccountSchemaProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  integration account schema properties.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"changedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  changed time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  content.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"string\";}s:11:\"contentLink\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ContentLink\";s:11:\"description\";s:17:\"The
  content link.\";s:8:\"readOnly\";b:1;}s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  content type.\";s:4:\"type\";s:6:\"string\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  created time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"documentName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  document name.\";s:4:\"type\";s:6:\"string\";}s:8:\"fileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  file name.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  metadata.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"schemaType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SchemaType\";s:11:\"description\";s:16:\"The
  schema type.\";}s:15:\"targetNamespace\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  target namespace of the schema.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"schemaType\";}s:4:\"type\";s:6:\"object\";}s:25:\"IntegrationAccountSession\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:32:\"The
  integration account session.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:49:\"#/definitions/IntegrationAccountSessionProperties\";s:11:\"description\";s:43:\"The
  integration account session properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";}s:31:\"IntegrationAccountSessionFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  integration account session filter.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"changedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  changed time of integration account sessions.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"changedTime\";}s:4:\"type\";s:6:\"object\";}s:35:\"IntegrationAccountSessionListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  list of integration account sessions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  list of integration account sessions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/IntegrationAccountSession\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:35:\"IntegrationAccountSessionProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  integration account session properties.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"changedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  changed time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:20:\"The
  session content.\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  created time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"IntegrationAccountSku\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"The
  integration account sku.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/IntegrationAccountSkuName\";s:11:\"description\";s:13:\"The
  sku name.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:25:\"IntegrationAccountSkuName\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"Free\";i:2;s:8:\"Standard\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:25:\"IntegrationAccountSkuName\";}}s:7:\"KeyType\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:12:\"NotSpecified\";i:1;s:7:\"Primary\";i:2;s:9:\"Secondary\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:7:\"KeyType\";}}s:20:\"KeyVaultKeyReference\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  reference to the key vault key.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"keyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  private key name in key vault.\";s:4:\"type\";s:6:\"string\";}s:8:\"keyVault\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  key vault reference.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  resource id.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  resource name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  resource type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"keyVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  private key version in key vault.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"keyVault\";i:1;s:7:\"keyName\";}s:4:\"type\";s:6:\"object\";}s:7:\"MapType\";O:8:\"stdClass\":3:{s:4:\"enum\";a:2:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"Xslt\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:7:\"MapType\";}}s:17:\"MessageFilterType\";O:8:\"stdClass\":3:{s:4:\"enum\";a:3:{i:0;s:12:\"NotSpecified\";i:1;s:7:\"Include\";i:2;s:7:\"Exclude\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"MessageFilterType\";}}s:6:\"Object\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Logic
  REST API operation\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  object that represents the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Operation
  type: Read, write, delete, etc.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Service
  provider: Microsoft.Logic\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Resource
  on which the operation is performed: Profile, endpoint, etc.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Operation
  name: {provider}/{resource}/{operation}\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OperationListResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"Result
  of the request to list Logic operations. It contains a list of operations and a
  URL link to get the next set of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"URL
  to get the next set of operation list results if there are any.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"List
  of Logic operations supported by the Logic resource provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}}s:13:\"ParameterType\";O:8:\"stdClass\":3:{s:4:\"enum\";a:9:{i:0;s:12:\"NotSpecified\";i:1;s:6:\"String\";i:2;s:12:\"SecureString\";i:3;s:3:\"Int\";i:4;s:5:\"Float\";i:5;s:4:\"Bool\";i:6;s:5:\"Array\";i:7;s:6:\"Object\";i:8;s:12:\"SecureObject\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"ParameterType\";}}s:14:\"PartnerContent\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  integration account partner content.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"b2b\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/B2BPartnerContent\";s:11:\"description\";s:24:\"The
  B2B partner content.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PartnerType\";O:8:\"stdClass\":3:{s:4:\"enum\";a:2:{i:0;s:12:\"NotSpecified\";i:1;s:3:\"B2B\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:11:\"PartnerType\";}}s:19:\"RecurrenceFrequency\";O:8:\"stdClass\":3:{s:4:\"enum\";a:8:{i:0;s:12:\"NotSpecified\";i:1;s:6:\"Second\";i:2;s:6:\"Minute\";i:3;s:4:\"Hour\";i:4;s:3:\"Day\";i:5;s:4:\"Week\";i:6;s:5:\"Month\";i:7;s:4:\"Year\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:19:\"RecurrenceFrequency\";}}s:18:\"RecurrenceSchedule\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  recurrence schedule.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"hours\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"The
  hours.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:7:\"minutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  minutes.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:9:\"monthDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  month days.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:18:\"monthlyOccurrences\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  monthly occurrences.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/RecurrenceScheduleOccurrence\";}s:4:\"type\";s:5:\"array\";}s:8:\"weekDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  days of the week.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:7:{i:0;s:6:\"Sunday\";i:1;s:6:\"Monday\";i:2;s:7:\"Tuesday\";i:3;s:9:\"Wednesday\";i:4;s:8:\"Thursday\";i:5;s:6:\"Friday\";i:6;s:8:\"Saturday\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:10:\"DaysOfWeek\";}}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:28:\"RecurrenceScheduleOccurrence\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  recurrence schedule occurence.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"day\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DayOfWeek\";s:11:\"description\";s:20:\"The
  day of the week.\";}s:10:\"occurrence\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  occurrence.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:25:\"RegenerateActionParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  access key regenerate action content.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"keyType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/KeyType\";s:11:\"description\";s:13:\"The
  key type.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  base resource type.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  resource id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  resource location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Gets
  the resource name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"The
  resource tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Gets
  the resource type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:17:\"ResourceReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  resource reference.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  resource id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Gets
  the resource name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Gets
  the resource type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"RetryHistory\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  retry history.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Gets
  the client request Id.\";s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Gets
  the status code.\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Gets
  the end time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ErrorResponse\";s:11:\"description\";s:24:\"Gets
  the error response.\";}s:16:\"serviceRequestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Gets
  the service request Id.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Gets
  the start time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"SchemaType\";O:8:\"stdClass\":3:{s:4:\"enum\";a:2:{i:0;s:12:\"NotSpecified\";i:1;s:3:\"Xml\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:10:\"SchemaType\";}}s:23:\"SegmentTerminatorSuffix\";O:8:\"stdClass\":3:{s:4:\"enum\";a:5:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"None\";i:2;s:2:\"CR\";i:3;s:2:\"LF\";i:4;s:4:\"CRLF\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:23:\"SegmentTerminatorSuffix\";}}s:16:\"SigningAlgorithm\";O:8:\"stdClass\":3:{s:4:\"enum\";a:6:{i:0;s:12:\"NotSpecified\";i:1;s:7:\"Default\";i:2;s:4:\"SHA1\";i:3;s:7:\"SHA2256\";i:4;s:7:\"SHA2384\";i:5;s:7:\"SHA2512\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:16:\"SigningAlgorithm\";}}s:3:\"Sku\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"The
  sku type.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/SkuName\";s:11:\"description\";s:9:\"The
  name.\";}s:4:\"plan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";s:11:\"description\";s:22:\"The
  reference to plan.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:7:\"SkuName\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"The
  sku name.\";s:4:\"enum\";a:6:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"Free\";i:2;s:6:\"Shared\";i:3;s:5:\"Basic\";i:4;s:8:\"Standard\";i:5;s:7:\"Premium\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:7:\"SkuName\";}}s:11:\"SubResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  sub resource type.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  resource id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-azure-resource\";b:1;}s:23:\"TrailingSeparatorPolicy\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:12:\"NotSpecified\";i:1;s:10:\"NotAllowed\";i:2;s:8:\"Optional\";i:3;s:9:\"Mandatory\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:23:\"TrailingSeparatorPolicy\";}}s:14:\"UsageIndicator\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:12:\"NotSpecified\";i:1;s:4:\"Test\";i:2;s:11:\"Information\";i:3;s:10:\"Production\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:14:\"UsageIndicator\";}}s:8:\"Workflow\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:18:\"The
  workflow type.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/WorkflowProperties\";s:11:\"description\";s:24:\"The
  workflow properties.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:14:\"WorkflowFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  workflow filter.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/WorkflowState\";s:11:\"description\";s:23:\"The
  state of workflows.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"WorkflowListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  list of workflows.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  list of workflows.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Workflow\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"WorkflowOutputParameter\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WorkflowParameter\";}}s:11:\"description\";s:30:\"The
  workflow output parameter.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:15:\"Gets
  the error.\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}s:17:\"WorkflowParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  workflow parameters.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  description.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:13:\"The
  metadata.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ParameterType\";s:11:\"description\";s:9:\"The
  type.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:10:\"The
  value.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"WorkflowProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  workflow properties.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"accessEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Gets
  the access endpoint.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"changedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Gets
  the changed time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"createdTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Gets
  the created time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"definition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:15:\"The
  definition.\";}s:18:\"integrationAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";s:11:\"description\";s:24:\"The
  integration account.\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WorkflowParameter\";}s:11:\"description\";s:15:\"The
  parameters.\";s:4:\"type\";s:6:\"object\";}s:17:\"provisioningState\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/WorkflowProvisioningState\";s:11:\"description\";s:28:\"Gets
  the provisioning state.\";s:8:\"readOnly\";b:1;}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";s:11:\"description\";s:8:\"The
  sku.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/WorkflowState\";s:11:\"description\";s:10:\"The
  state.\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Gets the
  version.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"WorkflowProvisioningState\";O:8:\"stdClass\":3:{s:4:\"enum\";a:18:{i:0;s:12:\"NotSpecified\";i:1;s:8:\"Accepted\";i:2;s:7:\"Running\";i:3;s:5:\"Ready\";i:4;s:8:\"Creating\";i:5;s:7:\"Created\";i:6;s:8:\"Deleting\";i:7;s:7:\"Deleted\";i:8;s:8:\"Canceled\";i:9;s:6:\"Failed\";i:10;s:9:\"Succeeded\";i:11;s:6:\"Moving\";i:12;s:8:\"Updating\";i:13;s:11:\"Registering\";i:14;s:10:\"Registered\";i:15;s:13:\"Unregistering\";i:16;s:12:\"Unregistered\";i:17;s:9:\"Completed\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:25:\"WorkflowProvisioningState\";}}s:11:\"WorkflowRun\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:17:\"The
  workflow run.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Gets
  the workflow run name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/WorkflowRunProperties\";s:11:\"description\";s:28:\"The
  workflow run properties.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Gets
  the workflow run type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"WorkflowRunAction\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:24:\"The
  workflow run action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Gets
  the workflow run action name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:41:\"#/definitions/WorkflowRunActionProperties\";s:11:\"description\";s:35:\"The
  workflow run action properties.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Gets
  the workflow run action type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"WorkflowRunActionFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  workflow run action filter.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/WorkflowStatus\";s:11:\"description\";s:34:\"The
  status of workflow run action.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"WorkflowRunActionListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  list of workflow run actions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  list of workflow run actions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WorkflowRunAction\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"WorkflowRunActionProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  workflow run action properties.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Gets
  the code.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"correlation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Correlation\";s:11:\"description\";s:27:\"The
  correlation properties.\";}s:7:\"endTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Gets
  the end time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:15:\"Gets
  the error.\";s:8:\"readOnly\";b:1;}s:10:\"inputsLink\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ContentLink\";s:11:\"description\";s:24:\"Gets
  the link to inputs.\";s:8:\"readOnly\";b:1;}s:11:\"outputsLink\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ContentLink\";s:11:\"description\";s:25:\"Gets
  the link to outputs.\";s:8:\"readOnly\";b:1;}s:12:\"retryHistory\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Gets
  the retry histories.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/RetryHistory\";}s:4:\"type\";s:5:\"array\";}s:9:\"startTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Gets
  the start time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/WorkflowStatus\";s:11:\"description\";s:16:\"Gets
  the status.\";s:8:\"readOnly\";b:1;}s:17:\"trackedProperties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:28:\"Gets
  the tracked properties.\";s:8:\"readOnly\";b:1;}s:10:\"trackingId\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Gets
  the tracking id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"WorkflowRunFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  workflow run filter.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/WorkflowStatus\";s:11:\"description\";s:27:\"The
  status of workflow run.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"WorkflowRunListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  list of workflow runs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  list of workflow runs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/WorkflowRun\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"WorkflowRunProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  workflow run properties.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Gets
  the code.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"correlation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Correlation\";s:11:\"description\";s:20:\"The
  run correlation.\";}s:13:\"correlationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Gets
  the correlation id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Gets
  the end time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:15:\"Gets
  the error.\";s:8:\"readOnly\";b:1;}s:7:\"outputs\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/WorkflowOutputParameter\";}s:11:\"description\";s:17:\"Gets
  the outputs.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:8:\"response\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/WorkflowRunTrigger\";s:11:\"description\";s:34:\"Gets
  the response of the flow run.\";s:8:\"readOnly\";b:1;}s:9:\"startTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Gets
  the start time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/WorkflowStatus\";s:11:\"description\";s:16:\"Gets
  the status.\";s:8:\"readOnly\";b:1;}s:7:\"trigger\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/WorkflowRunTrigger\";s:11:\"description\";s:23:\"Gets
  the fired trigger.\";s:8:\"readOnly\";b:1;}s:8:\"workflow\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/ResourceReference\";s:11:\"description\";s:39:\"Gets
  the reference to workflow version.\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}s:18:\"WorkflowRunTrigger\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  workflow run trigger.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Gets
  the code.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"correlation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Correlation\";s:11:\"description\";s:20:\"The
  run correlation.\";}s:7:\"endTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Gets
  the end time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:15:\"Gets
  the error.\";s:8:\"readOnly\";b:1;}s:6:\"inputs\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:16:\"Gets
  the inputs.\";s:8:\"readOnly\";b:1;}s:10:\"inputsLink\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ContentLink\";s:11:\"description\";s:24:\"Gets
  the link to inputs.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Gets
  the name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"outputs\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:17:\"Gets
  the outputs.\";s:8:\"readOnly\";b:1;}s:11:\"outputsLink\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ContentLink\";s:11:\"description\";s:25:\"Gets
  the link to outputs.\";s:8:\"readOnly\";b:1;}s:9:\"startTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Gets
  the start time.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/WorkflowStatus\";s:11:\"description\";s:16:\"Gets
  the status.\";s:8:\"readOnly\";b:1;}s:17:\"trackedProperties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:28:\"Gets
  the tracked properties.\";s:8:\"readOnly\";b:1;}s:10:\"trackingId\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Gets
  the tracking id.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"WorkflowState\";O:8:\"stdClass\":3:{s:4:\"enum\";a:6:{i:0;s:12:\"NotSpecified\";i:1;s:9:\"Completed\";i:2;s:7:\"Enabled\";i:3;s:8:\"Disabled\";i:4;s:7:\"Deleted\";i:5;s:9:\"Suspended\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"WorkflowState\";}}s:14:\"WorkflowStatus\";O:8:\"stdClass\":3:{s:4:\"enum\";a:13:{i:0;s:12:\"NotSpecified\";i:1;s:6:\"Paused\";i:2;s:7:\"Running\";i:3;s:7:\"Waiting\";i:4;s:9:\"Succeeded\";i:5;s:7:\"Skipped\";i:6;s:9:\"Suspended\";i:7;s:9:\"Cancelled\";i:8;s:6:\"Failed\";i:9;s:7:\"Faulted\";i:10;s:8:\"TimedOut\";i:11;s:7:\"Aborted\";i:12;s:7:\"Ignored\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:14:\"WorkflowStatus\";}}s:15:\"WorkflowTrigger\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:21:\"The
  workflow trigger.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Gets
  the workflow trigger name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/WorkflowTriggerProperties\";s:11:\"description\";s:32:\"The
  workflow trigger properties.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Gets
  the workflow trigger type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"WorkflowTriggerCallbackUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  workflow trigger callback URL.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"basePath\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Gets
  the workflow trigger callback URL base path.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Gets
  the workflow trigger callback URL HTTP method.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"queries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/WorkflowTriggerListCallbackUrlQueries\";s:11:\"description\";s:56:\"Gets
  the workflow trigger callback URL query parameters.\";}s:12:\"relativePath\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Gets
  the workflow trigger callback URL relative path.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:22:\"relativePathParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Gets
  the workflow trigger callback URL relative path parameters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Gets
  the workflow trigger callback URL.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"WorkflowTriggerFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  workflow trigger filter.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/WorkflowState\";s:11:\"description\";s:30:\"The
  state of workflow trigger.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"WorkflowTriggerHistory\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubResource\";}}s:11:\"description\";s:29:\"The
[...]
