---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:25:\"LogicAppsManagementClient\";s:7:\"version\";s:18:\"2015-08-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:174:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/preview/2015-08-01-preview/logicAppsManagementClient.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:29:\"web-logicAppsManagementClient\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:35:\"azure_web_logicappsmanagementclient\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/managedApis:
    get:
      deprecated: false
      description: Gets a list of managed APIs.
      operationId: ManagedApis_List
      parameters:
      - description: The location.
        in: path
        name: location
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApisCollection'
      summary: List managed Apis
      tags:
      - Managed Apis
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/managedApis/{apiName}:
    get:
      deprecated: false
      description: Gets a managed API.
      operationId: ManagedApis_Get
      parameters:
      - description: The location.
        in: path
        name: location
        required: true
        type: string
      - description: The managed API name.
        in: path
        name: apiName
        required: true
        type: string
      - description: flag showing whether to export API definition in format specified
          by Accept header.
        in: query
        name: export
        type: boolean
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApiEntity'
      summary: Get managed Api
      tags:
      - Managed Apis
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections:
    get:
      description: Gets a list of connections.
      operationId: Connections_List
      parameters:
      - description: Resource Group Name
        in: path
        name: resourceGroupName
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: The number of items to be included in the result.
        format: int32
        in: query
        name: $top
        required: false
        type: integer
      - description: The filter to apply on the operation.
        in: query
        name: $filter
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ConnectionCollection'
      summary: Get Connections
      tags:
      - Connections
      x-ms-odata: '#/definitions/Connection'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}:
    delete:
      description: Deletes a connection.
      operationId: Connections_Delete
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The connection name.
        in: path
        name: connectionName
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
        204:
          description: No Content
      tags:
      - Connections
    get:
      description: Gets a connection.
      operationId: Connections_Get
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The connection name.
        in: path
        name: connectionName
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Connection'
      tags:
      - Connections
    put:
      description: Creates or updates a connection.
      operationId: Connections_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The connection name.
        in: path
        name: connectionName
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - description: The connection.
        in: body
        name: connection
        required: true
        schema:
          $ref: '#/definitions/Connection'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Connection'
        201:
          description: Created
          schema:
            $ref: '#/definitions/Connection'
      tags:
      - Connections
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}/confirmConsentCode
  : post:
      description: Confirms consent code of a connection.
      operationId: Connections_ConfirmConsentCode
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The connection name.
        in: path
        name: connectionName
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - description: The content.
        in: body
        name: content
        required: true
        schema:
          $ref: '#/definitions/ConfirmConsentCodeInput'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Connection'
      tags:
      - Connections
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}/listConnectionKeys
  : post:
      description: Lists connection keys.
      operationId: Connections_ListConnectionKeys
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The connection name.
        in: path
        name: connectionName
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - description: The content.
        in: body
        name: content
        required: true
        schema:
          $ref: '#/definitions/ListConnectionKeysInput'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ConnectionSecrets'
      tags:
      - Connections
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}/listConsentLinks
  : post:
      description: Lists consent links of a connection.
      operationId: Connections_ListConsentLinks
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - description: The resource group name.
        in: path
        name: resourceGroupName
        required: true
        type: string
      - description: The connection name.
        in: path
        name: connectionName
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - description: The content.
        in: body
        name: content
        required: true
        schema:
          $ref: '#/definitions/ConsentLinkInput'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ConsentLinkPayload'
      tags:
      - Connections
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":28:{s:9:\"ApiEntity\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:14:\"API
  Management\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:16:\"apiDefinitionUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Api
  definition Url - url where the swagger can be downloaded from\";s:4:\"type\";s:6:\"string\";}s:14:\"backendService\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/BackendServiceDefinition\";s:11:\"description\";s:26:\"Backend
  service definition\";}s:12:\"capabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Capabilities\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"changedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Timestamp
  of last connection change.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:20:\"connectionParameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ConnectionParameter\";}s:11:\"description\";s:21:\"Connection
  parameters\";s:4:\"type\";s:6:\"object\";}s:11:\"createdTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Timestamp
  of the connection creation\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"generalInformation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/GeneralApiInformation\";s:11:\"description\";s:46:\"the
  URL path of this API when exposed via APIM\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:51:\"Free
  form object for the data caller wants to store\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Name
  of the API\r\n            the URL path of this API when exposed via APIM\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"the
  URL path of this API when exposed via APIM\";s:4:\"type\";s:6:\"string\";}s:8:\"policies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ApiPolicies\";s:11:\"description\";s:11:\"Api
  polcies\";}s:9:\"protocols\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Protocols
  supported by the front end - http/https\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"runtimeUrls\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Read
  only property returning the runtime endpoints where the API can be called\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:16:\"ApiOAuthSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"OAuth
  settings for the conenction provider\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Resource
  provider client id\";s:4:\"type\";s:6:\"string\";}s:12:\"clientSecret\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Client
  Secret needed for OAuth\";s:4:\"type\";s:6:\"string\";}s:16:\"customParameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ApiOAuthSettingsParameter\";}s:11:\"description\";s:45:\"OAuth
  parameters key is the name of parameter\";s:4:\"type\";s:6:\"object\";}s:16:\"identityProvider\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Identity
  provider\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:44:\"Read
  only properties for this oauth setting.\";}s:11:\"redirectUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:3:\"Url\";s:4:\"type\";s:6:\"string\";}s:6:\"scopes\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"OAuth
  scopes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ApiOAuthSettingsParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"OAuth
  Settings Parameter\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:46:\"Read
  only: Options available to this parameter\";}s:12:\"uiDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:60:\"UI
  definitions per culture as caller can specify the culture\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Value\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ApiPolicies\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:12:\"Api
  policies\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Content
  of xml policy\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:14:\"ApisCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Collection
  of Apis\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Link
  to next page of resources\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Collection
  of resources\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ApiEntity\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"ArmPlan\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  plan object in an ARM, represents a marketplace plan\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"The
  name\";s:4:\"type\";s:6:\"string\";}s:7:\"product\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"The
  product\";s:4:\"type\";s:6:\"string\";}s:13:\"promotionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  promotion code\";s:4:\"type\";s:6:\"string\";}s:9:\"publisher\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  publisher\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Version
  of product\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BackendServiceDefinition\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:33:\"API
  definitions with backend urls\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:29:\"hostingEnvironmentServiceUrls\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Service
  Urls per Hosting environment\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/HostingEnvironmentServiceDescriptions\";}s:4:\"type\";s:5:\"array\";}s:10:\"serviceUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Url
  from which the swagger payload will be fetched\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:23:\"ConfirmConsentCodeInput\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:34:\"Confirm
  Consent Code Input payload\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Code
  that was returned during consent flow\";s:4:\"type\";s:6:\"string\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"AAD
  object ID. This is userId\";s:4:\"type\";s:6:\"string\";}s:13:\"principalType\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Principal
  type\";s:4:\"enum\";a:3:{i:0;s:15:\"ActiveDirectory\";i:1;s:10:\"Connection\";i:2;s:16:\"MicrosoftAccount\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"PrincipalType\";}}s:8:\"tenantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Tenant
  Id\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:10:\"Connection\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:14:\"Api
  Connection\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"api\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ExpandedParent[ApiEntity]\";s:11:\"description\";s:33:\"expanded
  connection provider name\";}s:11:\"changedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Timestamp
  of last connection change.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"createdTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Timestamp
  of the connection creation\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:21:\"customParameterValues\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/ParameterCustomLoginSettingValues\";}s:11:\"description\";s:28:\"Custom
  login setting values.\";s:4:\"type\";s:6:\"object\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"display
  name\";s:4:\"type\";s:6:\"string\";}s:19:\"firstExpirationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Time
  in UTC when the first expiration of OAuth tokens\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"List
  of Keywords that tag the acl\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:0:\"\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"connection
  name\";s:4:\"type\";s:6:\"string\";}s:24:\"nonSecretParameterValues\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Object\";}s:11:\"description\";s:12:\"Tokens/Claim\";s:4:\"type\";s:6:\"object\";}s:15:\"parameterValues\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Object\";}s:11:\"description\";s:12:\"Tokens/Claim\";s:4:\"type\";s:6:\"object\";}s:8:\"statuses\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Status
  of the connection\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ConnectionStatus\";}s:4:\"type\";s:5:\"array\";}s:8:\"tenantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:20:\"ConnectionCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Collection
  of conenctions\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Link
  to next page of resources\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Collection
  of resources\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Connection\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ConnectionError\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:16:\"Connection
  error\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"code
  of the status\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Description
  of the status\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:19:\"ConnectionParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"connection
  provider parameters\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:23:\"Default
  parameter value\";}s:13:\"oAuthSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ApiOAuthSettings\";s:11:\"description\";s:54:\"Settings
  defining OAuth flow for the back end provider\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Type
  of the parameter\";s:4:\"enum\";a:9:{i:0;s:6:\"string\";i:1;s:12:\"securestring\";i:2;s:12:\"secureobject\";i:3;s:3:\"int\";i:4;s:4:\"bool\";i:5;s:6:\"object\";i:6;s:5:\"array\";i:7;s:12:\"oauthSetting\";i:8;s:10:\"connection\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:23:\"ConnectionParameterType\";}}s:12:\"uiDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:14:\"UI
  definitions\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ConnectionSecrets\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"connectionKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Connection
  Key\";s:4:\"type\";s:6:\"string\";}s:15:\"parameterValues\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Object\";}s:11:\"description\";s:12:\"Tokens/Claim\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ConnectionStatus\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:17:\"Connection
  status\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConnectionError\";s:11:\"description\";s:13:\"Error
  details\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Status\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Target
  of the error\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:11:\"ConsentLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Display
  Name of the parameter in the connection provider's oauthSettings\";s:4:\"type\";s:6:\"string\";}s:18:\"firstPartyLoginUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Uri
  for first party login\";s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Uri
  for the consent link\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Status
  of the link\";s:4:\"enum\";a:3:{i:0;s:15:\"Unauthenticated\";i:1;s:13:\"Authenticated\";i:2;s:5:\"Error\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:9:\"LinkState\";}}}s:4:\"type\";s:6:\"object\";}s:16:\"ConsentLinkInput\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:32:\"Connection
  Constent Link payload\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Array
  of links\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ConsentLinkInputParameter\";}s:4:\"type\";s:5:\"array\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:25:\"ConsentLinkInputParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"AAD
  OID (user or group) if the principal type is ActiveDirectory.\r\n            MSA
  PUID if the principal type is MicrosoftAccount.\";s:4:\"type\";s:6:\"string\";}s:13:\"parameterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Name
  of the parameter in the connection provider's oauthSettings\";s:4:\"type\";s:6:\"string\";}s:13:\"principalType\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Principal
  type\";s:4:\"enum\";a:3:{i:0;s:15:\"ActiveDirectory\";i:1;s:10:\"Connection\";i:2;s:16:\"MicrosoftAccount\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:13:\"PrincipalType\";}}s:11:\"redirectUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Name
  of the parameter in the connection provider's oauthSettings\";s:4:\"type\";s:6:\"string\";}s:8:\"tenantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Tenant
  Id\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ConsentLinkPayload\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Collection
  of consent links\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Collection
  of resources\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ConsentLink\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CustomLoginSettingValue\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:28:\"Custom
  logging setting value\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"option\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Option
  selected for this custom login setting value\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:25:\"ExpandedParent[ApiEntity]\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:36:\"expanded
  parent object for expansion\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"entity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/ResponseMessageEnvelope[ApiEntity]\";s:11:\"description\";s:25:\"Id
  of connection provider\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Id
  of connection provider\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:21:\"GeneralApiInformation\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:23:\"General
  API information\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:21:\"connectionDisplayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"DefaultConnectionNameTemplate\";s:4:\"type\";s:6:\"string\";}s:19:\"connectionPortalUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Object\";s:11:\"description\";s:19:\"ConnectionPortalUrl\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Description\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Display
  Name\";s:4:\"type\";s:6:\"string\";}s:7:\"iconUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Icon
  Url\";s:4:\"type\";s:6:\"string\";}s:13:\"termsOfUseUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"a
  public accessible url of the Terms Of Use Url of this API\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:37:\"HostingEnvironmentServiceDescriptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Back
  end service per ASE\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"hostId\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Host
  Id\";s:4:\"type\";s:6:\"string\";}s:20:\"hostingEnvironmentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Hosting
  environment Id\";s:4:\"type\";s:6:\"string\";}s:10:\"serviceUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"service
  url to use\";s:4:\"type\";s:6:\"string\";}s:18:\"useInternalRouting\";O:8:\"stdClass\":2:{s:11:\"description\";s:325:\"When
  the backend url is in same ASE, for performance reason this flag can be set to true\r\n
  \           If WebApp.DisableHostNames is also set it improves the security by making
  the back end accesible only \r\n            via API calls\r\n            Note: calls
  will fail if this option is used but back end is not on the same ASE\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListConnectionKeysInput\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:34:\"List
  Connection Keys Input payload\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"validityTimeSpan\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"time
  span for how long the keys will be valid\";s:4:\"type\";s:6:\"string\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:6:\"Object\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"ParameterCustomLoginSettingValues\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:29:\"Custom
  logging setting values\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"customParameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CustomLoginSettingValue\";}s:11:\"description\";s:18:\"Custom
  parameters.\";s:4:\"type\";s:6:\"object\";}}s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Resource
  Id\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Kind
  of resource\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Resource
  Location\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Resource
  Name\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Resource
  type\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:34:\"ResponseMessageEnvelope[ApiEntity]\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"Message
  envelope that contains the common Azure resource manager properties and the resource
  provider specific content\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:290:\"Resource
  Id. Typically id is populated only for responses to GET requests. Caller is responsible
  for passing in this\r\n            value for GET requests only.\r\n            For
  example: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupId}/providers/Microsoft.Web/sites/{sitename}\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Geo
  region resource belongs to e.g. SouthCentralUS, SouthEastAsia\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Name
  of resource\";s:4:\"type\";s:6:\"string\";}s:4:\"plan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/ArmPlan\";s:11:\"description\";s:27:\"Azure
  resource manager plan\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ApiEntity\";s:11:\"description\";s:28:\"Resource
  specific properties\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SkuDescription\";s:11:\"description\";s:31:\"Sku
  description of the resource\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:29:\"Tags
  associated with resource\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Type
  of resource e.g Microsoft.Web/sites\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SkuDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  a sku for a scalable resource\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"capacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Current
  number of instances assigned to the resource\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"family\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Family
  code of the resource sku\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Name
  of the resource sku\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Size
  specifier of the resource sku\";s:4:\"type\";s:6:\"string\";}s:4:\"tier\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Service
  Tier of the resource sku\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
