---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"NetworkManagementClient\";s:11:\"description\";s:280:\"The
  Microsoft Azure Network management API provides a RESTful set of web services that
  interact with Microsoft Azure Networks service to manage your network resources.
  The API has entities that capture the relationship between an end user and the Microsoft
  Azure Networks service.\";s:7:\"version\";s:10:\"2017-03-01\";}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}
  : delete:
      tags:
      - NetworkInterfaces
      operationId: NetworkInterfaces_Delete
      description: Deletes the specified network interface.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkInterfaceName
        in: path
        required: true
        type: string
        description: The name of the network interface.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        204:
          description: Request successful. Resource does not exist.
        202:
          description: Accepted and the operation will complete asynchronously.
        200:
          description: Delete successful.
      x-ms-long-running-operation: true
    get:
      tags:
      - NetworkInterfaces
      operationId: NetworkInterfaces_Get
      description: Gets information about the specified network interface.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkInterfaceName
        in: path
        required: true
        type: string
        description: The name of the network interface.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - name: $expand
        in: query
        required: false
        type: string
        description: Expands referenced resources.
      responses:
        200:
          description: Request successful. The operation returns the resulting NetworkInterface
            resource.
          schema:
            $ref: '#/definitions/NetworkInterface'
    put:
      tags:
      - NetworkInterfaces
      operationId: NetworkInterfaces_CreateOrUpdate
      description: Creates or updates a network interface.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkInterfaceName
        in: path
        required: true
        type: string
        description: The name of the network interface.
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/NetworkInterface'
        description: Parameters supplied to the create or update network interface
          operation.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        201:
          description: Create successful. The operation returns the resulting NetworkInterface
            resource.
          schema:
            $ref: '#/definitions/NetworkInterface'
        200:
          description: Update successful. The operation returns the resulting NetworkInterface
            resource.
          schema:
            $ref: '#/definitions/NetworkInterface'
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/networkInterfaces:
    get:
      tags:
      - NetworkInterfaces
      operationId: NetworkInterfaces_ListAll
      description: Gets all network interfaces in a subscription.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of NetworkInterface
            resources.
          schema:
            $ref: '#/definitions/NetworkInterfaceListResult'
      x-ms-pageable:
        nextLinkName: nextLink
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces:
    get:
      tags:
      - NetworkInterfaces
      operationId: NetworkInterfaces_List
      description: Gets all network interfaces in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of NetworkInterface
            resources.
          schema:
            $ref: '#/definitions/NetworkInterfaceListResult'
      x-ms-pageable:
        nextLinkName: nextLink
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/effectiveRouteTable
  : post:
      tags:
      - NetworkInterfaces
      operationId: NetworkInterfaces_GetEffectiveRouteTable
      description: Gets all route tables applied to a network interface.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkInterfaceName
        in: path
        required: true
        type: string
        description: The name of the network interface.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of EffectRoute
            resources.
          schema:
            $ref: '#/definitions/EffectiveRouteListResult'
        202:
          description: Accepted and the operation will complete asynchronously.
      x-ms-long-running-operation: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/effectiveNetworkSecurityGroups
  : post:
      tags:
      - NetworkInterfaces
      operationId: NetworkInterfaces_ListEffectiveNetworkSecurityGroups
      description: Gets all network security groups applied to a network interface.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        type: string
        description: The name of the resource group.
      - name: networkInterfaceName
        in: path
        required: true
        type: string
        description: The name of the network interface.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Request successful. The operation returns a list of NetworkSecurityGroup
            resources.
          schema:
            $ref: '#/definitions/EffectiveNetworkSecurityGroupListResult'
        202:
          description: Accepted and the operation will complete asynchronously.
      x-ms-long-running-operation: true
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":14:{s:47:\"NetworkInterfaceIPConfigurationPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:37:\"applicationGatewayBackendAddressPools\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:75:\"./applicationGateway.json#/definitions/ApplicationGatewayBackendAddressPool\";}s:11:\"description\";s:63:\"The
  reference of ApplicationGatewayBackendAddressPool resource.\";}s:31:\"loadBalancerBackendAddressPools\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"./loadBalancer.json#/definitions/BackendAddressPool\";}s:11:\"description\";s:57:\"The
  reference of LoadBalancerBackendAddressPool resource.\";}s:27:\"loadBalancerInboundNatRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"./loadBalancer.json#/definitions/InboundNatRule\";}s:11:\"description\";s:52:\"A
  list of references of LoadBalancerInboundNatRules.\";}s:16:\"privateIPAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"privateIPAllocationMethod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"Defines
  how a private IP address is assigned. Possible values are: 'Static' and 'Dynamic'.\";s:4:\"enum\";a:2:{i:0;s:6:\"Static\";i:1;s:7:\"Dynamic\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"IPAllocationMethod\";s:13:\"modelAsString\";b:1;}}s:23:\"privateIPAddressVersion\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:181:\"Available
  from Api-Version 2016-03-30 onwards, it represents whether the specific ipconfiguration
  is IPv4 or IPv6. Default is taken as IPv4.  Possible values are: 'IPv4' and 'IPv6'.\";s:4:\"enum\";a:2:{i:0;s:4:\"IPv4\";i:1;s:4:\"IPv6\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"IPVersion\";s:13:\"modelAsString\";b:1;}}s:6:\"subnet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"./virtualNetwork.json#/definitions/Subnet\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:73:\"Gets
  whether this is a primary customer address on the network interface.\";}s:15:\"publicIPAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"./publicIpAddress.json#/definitions/PublicIPAddress\";}s:17:\"provisioningState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:31:\"Properties
  of IP configuration.\";}s:31:\"NetworkInterfaceIPConfiguration\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:61:\"#/definitions/NetworkInterfaceIPConfigurationPropertiesFormat\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}}s:11:\"description\";s:39:\"IPConfiguration
  in a network interface.\";}s:27:\"NetworkInterfaceDnsSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"dnsServers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:212:\"List
  of DNS servers IP addresses. Use 'AzureProvidedDNS' to switch to azure provided
  DNS resolution. 'AzureProvidedDNS' value cannot be combined with other IPs, it must
  be the only value in dnsServers collection.\";}s:17:\"appliedDnsServers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:225:\"If
  the VM that uses this NIC is part of an Availability Set, then this list will have
  the union of all DNS servers from all NICs that are part of the Availability Set.
  This property is what is configured on each of those VMs.\";}s:20:\"internalDnsNameLabel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:104:\"Relative
  DNS name for this NIC used for internal communications between VMs in the same virtual
  network.\";}s:12:\"internalFqdn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"Fully
  qualified DNS name supporting internal communications between VMs in the same virtual
  network.\";}s:24:\"internalDomainNameSuffix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:206:\"Even
  if internalDnsNameLabel is not specified, a DNS entry is created for the primary
  NIC of the VM. This DNS name can be constructed by concatenating the VM name with
  the value of internalDomainNameSuffix.\";}}s:11:\"description\";s:36:\"DNS settings
  of a network interface.\";}s:32:\"NetworkInterfacePropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"virtualMachine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:35:\"The
  reference of a virtual machine.\";}s:20:\"networkSecurityGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:61:\"./networkSecurityGroup.json#/definitions/NetworkSecurityGroup\";s:11:\"description\";s:51:\"The
  reference of the NetworkSecurityGroup resource.\";}s:16:\"ipConfigurations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/NetworkInterfaceIPConfiguration\";}s:11:\"description\";s:52:\"A
  list of IPConfigurations of the network interface.\";}s:11:\"dnsSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/NetworkInterfaceDnsSettings\";s:11:\"description\";s:38:\"The
  DNS settings in network interface.\";}s:10:\"macAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  MAC address of the network interface.\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:70:\"Gets
  whether this is a primary network interface on a virtual machine.\";}s:27:\"enableAcceleratedNetworking\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:59:\"If
  the network interface is accelerated networking enabled.\";}s:18:\"enableIPForwarding\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:69:\"Indicates
  whether IP forwarding is enabled on this network interface.\";}s:12:\"resourceGuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  resource GUID property of the network interface resource.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting',
  and 'Failed'.\";}}s:11:\"description\";s:29:\"NetworkInterface properties. \";}s:16:\"NetworkInterface\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:46:\"#/definitions/NetworkInterfacePropertiesFormat\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"./network.json#/definitions/Resource\";}}s:11:\"description\";s:40:\"A
  network interface in a resource group.\";}s:26:\"NetworkInterfaceListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NetworkInterface\";}s:11:\"description\";s:49:\"A
  list of network interfaces in a resource group.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:55:\"Response for
  the ListNetworkInterface API service call.\";}s:29:\"EffectiveNetworkSecurityGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"networkSecurityGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:49:\"The
  ID of network security group that is applied.\";}s:11:\"association\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/EffectiveNetworkSecurityGroupAssociation\";}s:22:\"effectiveSecurityRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/EffectiveNetworkSecurityRule\";}s:11:\"description\";s:41:\"A
  collection of effective security rules.\";}}s:11:\"description\";s:33:\"Effective
  network security group.\";}s:40:\"EffectiveNetworkSecurityGroupAssociation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:33:\"The
  ID of the subnet if assigned.\";}s:16:\"networkInterface\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";s:11:\"description\";s:44:\"The
  ID of the network interface if assigned.\";}}s:11:\"description\";s:49:\"The effective
  network security group association.\";}s:28:\"EffectiveNetworkSecurityRule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"The
  name of the security rule specified by the user (if created by the user).\";}s:8:\"protocol\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"The
  network protocol this rule applies to. Possible values are: 'Tcp', 'Udp', and '*'.\";s:4:\"enum\";a:3:{i:0;s:3:\"Tcp\";i:1;s:3:\"Udp\";i:2;s:1:\"*\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"SecurityRuleProtocol\";s:13:\"modelAsString\";b:1;}}s:15:\"sourcePortRange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  source port or range.\";}s:20:\"destinationPortRange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  destination port or range.\";}s:19:\"sourceAddressPrefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  source address prefix.\";}s:24:\"destinationAddressPrefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  destination address prefix.\";}s:27:\"expandedSourceAddressPrefix\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:35:\"The
  expanded source address prefix.\";}s:32:\"expandedDestinationAddressPrefix\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:36:\"Expanded
  destination address prefix.\";}s:6:\"access\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"Whether
  network traffic is allowed or denied. Possible values are: 'Allow' and 'Deny'.\";s:4:\"enum\";a:2:{i:0;s:5:\"Allow\";i:1;s:4:\"Deny\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"SecurityRuleAccess\";s:13:\"modelAsString\";b:1;}}s:8:\"priority\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:25:\"The
  priority of the rule.\";}s:9:\"direction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"The
  direction of the rule. Possible values are: 'Inbound and Outbound'.\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"SecurityRuleDirection\";s:13:\"modelAsString\";b:1;}}}s:11:\"description\";s:33:\"Effective
  network security rules.\";}s:39:\"EffectiveNetworkSecurityGroupListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/EffectiveNetworkSecurityGroup\";}s:11:\"description\";s:44:\"A
  list of effective network security groups.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:69:\"Response for
  list effective network security groups API service call.\";}s:14:\"EffectiveRoute\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  name of the user defined route. This is optional.\";}s:6:\"source\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:102:\"Who
  created the route. Possible values are: 'Unknown', 'User', 'VirtualNetworkGateway',
  and 'Default'.\";s:4:\"enum\";a:4:{i:0;s:7:\"Unknown\";i:1;s:4:\"User\";i:2;s:21:\"VirtualNetworkGateway\";i:3;s:7:\"Default\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"EffectiveRouteSource\";s:13:\"modelAsString\";b:1;}}s:5:\"state\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"The
  value of effective route. Possible values are: 'Active' and 'Invalid'.\";s:4:\"enum\";a:2:{i:0;s:6:\"Active\";i:1;s:7:\"Invalid\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"EffectiveRouteState\";s:13:\"modelAsString\";b:1;}}s:13:\"addressPrefix\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:62:\"The
  address prefixes of the effective routes in CIDR notation.\";}s:16:\"nextHopIpAddress\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:54:\"The
  IP address of the next hop of the effective route.\";}s:11:\"nextHopType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"The
  type of Azure hop the packet should be sent to. Possible values are: 'VirtualNetworkGateway',
  'VnetLocal', 'Internet', 'VirtualAppliance', and 'None'.\";s:4:\"enum\";a:5:{i:0;s:21:\"VirtualNetworkGateway\";i:1;s:9:\"VnetLocal\";i:2;s:8:\"Internet\";i:3;s:16:\"VirtualAppliance\";i:4;s:4:\"None\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"RouteNextHopType\";s:13:\"modelAsString\";b:1;}}}s:11:\"description\";s:15:\"Effective
  Route\";}s:24:\"EffectiveRouteListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EffectiveRoute\";}s:11:\"description\";s:27:\"A
  list of effective routes.\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:51:\"Response for
  list effective route API service call.\";}s:31:\"IPConfigurationPropertiesFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"privateIPAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  private IP address of the IP configuration.\";}s:25:\"privateIPAllocationMethod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"The
  private IP allocation method. Possible values are 'Static' and 'Dynamic'.\";s:4:\"enum\";a:2:{i:0;s:6:\"Static\";i:1;s:7:\"Dynamic\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"IPAllocationMethod\";s:13:\"modelAsString\";b:1;}}s:6:\"subnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"./virtualNetwork.json#/definitions/Subnet\";s:11:\"description\";s:37:\"The
  reference of the subnet resource.\";}s:15:\"publicIPAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"./publicIpAddress.json#/definitions/PublicIPAddress\";s:11:\"description\";s:40:\"The
  reference of the public IP resource.\";}s:17:\"provisioningState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"Gets
  the provisioning state of the public IP resource. Possible values are: 'Updating',
  'Deleting', and 'Failed'.\";}}s:11:\"description\";s:31:\"Properties of IP configuration.\";}s:15:\"IPConfiguration\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:45:\"#/definitions/IPConfigurationPropertiesFormat\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the resource that is unique within a resource group. This name can be used
  to access the resource.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"A
  unique read-only string that changes whenever the resource is updated.\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"./network.json#/definitions/SubResource\";}}s:11:\"description\";s:15:\"IPConfiguration\";}}"
...
