---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:5:\"title\";s:19:\"Azure Action Groups\";s:7:\"version\";s:10:\"2018-03-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:23:\"MonitorManagementClient\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:165:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/microsoft.insights/stable/2018-03-01/actionGroups_API.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:24:\"monitor-actionGroups_API\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":18:{s:11:\"ActionGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"An
  Azure action group.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:26:\"automationRunbookReceivers\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  list of AutomationRunbook receivers that are part of this action group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AutomationRunbookReceiver\";}s:4:\"type\";s:5:\"array\";}s:21:\"azureAppPushReceivers\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  list of AzureAppPush receivers that are part of this action group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AzureAppPushReceiver\";}s:4:\"type\";s:5:\"array\";}s:22:\"azureFunctionReceivers\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  list of azure function receivers that are part of this action group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AzureFunctionReceiver\";}s:4:\"type\";s:5:\"array\";}s:14:\"emailReceivers\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  list of email receivers that are part of this action group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/EmailReceiver\";}s:4:\"type\";s:5:\"array\";}s:7:\"enabled\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:138:\"Indicates
  whether this action group is enabled. If an action group is not enabled, then none
  of its receivers will receive communications.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"groupShortName\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  short name of the action group. This will be used in SMS messages.\";s:9:\"maxLength\";i:12;s:4:\"type\";s:6:\"string\";}s:13:\"itsmReceivers\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  list of ITSM receivers that are part of this action group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ItsmReceiver\";}s:4:\"type\";s:5:\"array\";}s:17:\"logicAppReceivers\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  list of logic app receivers that are part of this action group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/LogicAppReceiver\";}s:4:\"type\";s:5:\"array\";}s:12:\"smsReceivers\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  list of SMS receivers that are part of this action group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SmsReceiver\";}s:4:\"type\";s:5:\"array\";}s:14:\"voiceReceivers\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  list of voice receivers that are part of this action group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/VoiceReceiver\";}s:4:\"type\";s:5:\"array\";}s:16:\"webhookReceivers\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  list of webhook receivers that are part of this action group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/WebhookReceiver\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:14:\"groupShortName\";i:1;s:7:\"enabled\";}}s:15:\"ActionGroupList\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"A
  list of action groups.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Provides
  the link to retrieve the next set of elements.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  list of action groups.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ActionGroupResource\";}s:4:\"type\";s:5:\"array\";}}}s:16:\"ActionGroupPatch\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"An
  Azure action group for patch operations.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"enabled\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:126:\"Indicates
  whether this action group is enabled. If an action group is not enabled, then none
  of its actions will be activated.\";s:4:\"type\";s:7:\"boolean\";}}}s:20:\"ActionGroupPatchBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"An
  action group object for the body of patch operations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/ActionGroupPatch\";s:11:\"description\";s:50:\"The
  action group settings for an update operation.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}}}s:19:\"ActionGroupResource\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:25:\"An
  action group resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ActionGroup\";s:11:\"description\";s:45:\"The
  action groups properties of the resource.\";s:19:\"x-ms-client-flatten\";b:1;}}}s:25:\"AutomationRunbookReceiver\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  Azure Automation Runbook notification receiver.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:19:\"automationAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"The
  Azure automation account Id which holds this runbook and authenticate to Azure resource.\";s:4:\"type\";s:6:\"string\";}s:15:\"isGlobalRunbook\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Indicates
  whether this instance is global runbook.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Indicates
  name of the webhook.\";s:4:\"type\";s:6:\"string\";}s:11:\"runbookName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name for this runbook.\";s:4:\"type\";s:6:\"string\";}s:10:\"serviceUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  URI where webhooks should be sent.\";s:4:\"type\";s:6:\"string\";}s:17:\"webhookResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  resource id for webhook linked to this runbook.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:19:\"automationAccountId\";i:1;s:11:\"runbookName\";i:2;s:17:\"webhookResourceId\";i:3;s:15:\"isGlobalRunbook\";}}s:20:\"AzureAppPushReceiver\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  Azure mobile App push notification receiver.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  email address registered for the Azure mobile app.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"The
  name of the Azure mobile app push receiver. Names must be unique across all receivers
  within an action group.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:12:\"emailAddress\";}}s:21:\"AzureFunctionReceiver\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"An
  azure function receiver.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"functionAppResourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  azure resource id of the function app.\";s:4:\"type\";s:6:\"string\";}s:12:\"functionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  function name in the function app.\";s:4:\"type\";s:6:\"string\";}s:14:\"httpTriggerUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  http trigger url where http request sent to.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"The
  name of the azure function receiver. Names must be unique across all receivers within
  an action group.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:21:\"functionAppResourceId\";i:2;s:12:\"functionName\";i:3;s:14:\"httpTriggerUrl\";}}s:13:\"EmailReceiver\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"An
  email receiver.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  email address of this receiver.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"The
  name of the email receiver. Names must be unique across all receivers within an
  action group.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/ReceiverStatus\";s:11:\"description\";s:34:\"The
  receiver status of the e-mail.\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:12:\"emailAddress\";}}s:13:\"EnableRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Describes
  a receiver that should be resubscribed.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"receiverName\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  name of the receiver to resubscribe.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"receiverName\";}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the format of Error response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ItsmReceiver\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"An
  Itsm receiver.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"connectionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Unique
  identification of ITSM connection among multiple defined in above workspace.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  name of the Itsm receiver. Names must be unique across all receivers within an action
  group.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:179:\"Region
  in which workspace resides. Supported values:'centralindia','japaneast','southeastasia','australiasoutheast','uksouth','westcentralus','canadacentral','eastus','westeurope'\";s:4:\"type\";s:6:\"string\";}s:19:\"ticketConfiguration\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"JSON
  blob for the configurations of the ITSM action. CreateMultipleWorkItems option will
  be part of this blob as well.\";s:4:\"type\";s:6:\"string\";}s:11:\"workspaceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"OMS
  LA instance identifier.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:4:\"name\";i:1;s:11:\"workspaceId\";i:2;s:12:\"connectionId\";i:3;s:19:\"ticketConfiguration\";i:4;s:6:\"region\";}}s:16:\"LogicAppReceiver\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"A
  logic app receiver.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"callbackUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  callback url where http request sent to.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"The
  name of the logic app receiver. Names must be unique across all receivers within
  an action group.\";s:4:\"type\";s:6:\"string\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  azure resource id of the logic app receiver.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:10:\"resourceId\";i:2;s:11:\"callbackUrl\";}}s:14:\"ReceiverStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:105:\"Indicates
  the status of the receiver. Receivers that are not Enabled will not receive any
  communications.\";s:4:\"enum\";a:3:{i:0;s:12:\"NotSpecified\";i:1;s:7:\"Enabled\";i:2;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:14:\"ReceiverStatus\";}}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"An
  azure resource object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Azure
  resource Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Resource
  location\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Azure
  resource name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Azure resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:11:\"SmsReceiver\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"An
  SMS receiver.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  country code of the SMS receiver.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  name of the SMS receiver. Names must be unique across all receivers within an action
  group.\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  phone number of the SMS receiver.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/ReceiverStatus\";s:11:\"description\";s:27:\"The
  status of the receiver.\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:11:\"countryCode\";i:2;s:11:\"phoneNumber\";}}s:13:\"VoiceReceiver\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"A
  voice receiver.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  country code of the voice receiver.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"The
  name of the voice receiver. Names must be unique across all receivers within an
  action group.\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  phone number of the voice receiver.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:11:\"countryCode\";i:2;s:11:\"phoneNumber\";}}s:15:\"WebhookReceiver\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"A
  webhook receiver.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"The
  name of the webhook receiver. Names must be unique across all receivers within an
  action group.\";s:4:\"type\";s:6:\"string\";}s:10:\"serviceUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  URI where webhooks should be sent.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:10:\"serviceUri\";}}}"
...
