---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:5:\"title\";s:23:\"MonitorManagementClient\";s:7:\"version\";s:10:\"2016-03-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:29:\"x-ms-code-generation-settings\";O:8:\"stdClass\":1:{s:4:\"name\";s:23:\"MonitorManagementClient\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:163:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/microsoft.insights/stable/2016-03-01/alertRules_API.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:22:\"monitor-alertRules_API\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:28:\"azure_monitor_alertrules_api\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules:
    get:
      description: List the alert rules within a resource group.
      operationId: AlertRules_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request for a list of alert rules
          examples:
            application/json:
              value:
              - id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/{ruleName}
                location: West US
                name: '{ruleName}'
                properties:
                  actions:
                  - customEmails:
                    - gu@ms.com
                    - su@ms.net
                    odata.type: Microsoft.Azure.Management.Insights.Models.RuleEmailAction
                    sendToServiceOwners: true
                  condition:
                    dataSource:
                      metricName: Requests
                      odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                      resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                    odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                    operator: GreaterThan
                    threshold: 2
                    timeAggregation: Total
                    windowSize: PT5M
                  description: Pura Vida
                  isEnabled: true
                  lastUpdatedTime: "2016-11-10T21:04:39.0005255Z"
                  name: '{ruleName}'
                tags:
                  $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                    Microsoft.WindowsAzure.Management.Common.Storage
                  ? hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                  : Resource
                type: Microsoft.Insights/alertRules
              - id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin0
                location: West US
                name: chiricutin0
                properties:
                  actions: []
                  condition:
                    dataSource:
                      metricName: Requests
                      odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                      resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                    odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                    operator: GreaterThan
                    threshold: 2
                    timeAggregation: Total
                    windowSize: PT5M
                  description: Pura Vida 0
                  isEnabled: true
                  lastUpdatedTime: "2016-11-10T21:04:39.1082596Z"
                  name: chiricutin0
                tags:
                  $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                    Microsoft.WindowsAzure.Management.Common.Storage
                  ? hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                  : Resource
                type: Microsoft.Insights/alertRules
          schema:
            $ref: '#/definitions/AlertRuleResourceCollection'
      tags:
      - AlertRules
      x-ms-examples:
        List alert rules:
          parameters:
            api-version: "2016-03-01"
            resourceGroupName: Rac46PostSwapRG
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            200:
              body:
                value:
                - id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/myRuleName
                  location: West US
                  name: myRuleName
                  properties:
                    actions:
                    - customEmails:
                      - gu@ms.com
                      - su@ms.net
                      odata.type: Microsoft.Azure.Management.Insights.Models.RuleEmailAction
                      sendToServiceOwners: true
                    condition:
                      dataSource:
                        metricName: Requests
                        odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                        resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                      odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                      operator: GreaterThan
                      threshold: 2
                      timeAggregation: Total
                      windowSize: PT5M
                    description: Pura Vida
                    isEnabled: true
                    lastUpdatedTime: "2016-11-10T21:04:39.0005255Z"
                    name: myRuleName
                  tags:
                    $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                      Microsoft.WindowsAzure.Management.Common.Storage
                    ? hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                    : Resource
                  type: Microsoft.Insights/alertRules
                - id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin0
                  location: West US
                  name: chiricutin0
                  properties:
                    actions: []
                    condition:
                      dataSource:
                        metricName: Requests
                        odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                        resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                      odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                      operator: GreaterThan
                      threshold: 2
                      timeAggregation: Total
                      windowSize: PT5M
                    description: Pura Vida 0
                    isEnabled: true
                    lastUpdatedTime: "2016-11-10T21:04:39.1082596Z"
                    name: chiricutin0
                  tags:
                    $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                      Microsoft.WindowsAzure.Management.Common.Storage
                    ? hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                    : Resource
                  type: Microsoft.Insights/alertRules
              headers: []
      x-ms-pageable: []
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/alertrules/{ruleName}:
    delete:
      description: Deletes an alert rule
      operationId: AlertRules_Delete
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/RuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request to delete an alert rule
        204:
          description: 'No content: the request was successful, but the response is
            empty'
      tags:
      - AlertRules
      x-ms-examples:
        Delete an alert rule:
          parameters:
            api-version: "2016-03-01"
            resourceGroupName: Rac46PostSwapRG
            ruleName: chiricutin
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            200:
              headers: []
            204:
              headers: []
    get:
      description: Gets an alert rule
      operationId: AlertRules_Get
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/RuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request to get an alert rule
          examples:
            application/json:
              id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin0
              location: West US
              name: chiricutin0
              properties:
                actions: []
                condition:
                  dataSource:
                    metricName: Requests
                    odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                    resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                  odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                  operator: GreaterThan
                  threshold: 2
                  timeAggregation: Total
                  windowSize: PT5M
                description: Pura Vida 0
                isEnabled: true
                lastUpdatedTime: "2016-11-10T21:04:39.1082596Z"
                name: chiricutin0
              tags:
                $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                  Microsoft.WindowsAzure.Management.Common.Storage
                ? hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                : Resource
              type: Microsoft.Insights/alertRules
          schema:
            $ref: '#/definitions/AlertRuleResource'
      tags:
      - AlertRules
      x-ms-examples:
        Get an alert rule:
          parameters:
            api-version: "2016-03-01"
            resourceGroupName: Rac46PostSwapRG
            ruleName: chiricutin
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            200:
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin
                location: West US
                name: chiricutin
                properties:
                  actions: []
                  condition:
                    dataSource:
                      metricName: Requests
                      odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                      resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                    odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                    operator: GreaterThan
                    threshold: 3
                    timeAggregation: Total
                    windowSize: PT5M
                  description: Pura Vida
                  isEnabled: true
                  lastUpdatedTime: "2016-11-23T21:23:52.0221265Z"
                  name: chiricutin
                tags:
                  $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                    Microsoft.WindowsAzure.Management.Common.Storage
                  ? hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                  : Resource
                type: Microsoft.Insights/alertRules
              headers: []
    patch:
      description: Updates an existing AlertRuleResource. To update other fields use
        the CreateOrUpdate method.
      operationId: AlertRules_Update
      parameters:
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/RuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: Parameters supplied to the operation.
        in: body
        name: alertRulesResource
        required: true
        schema:
          $ref: '#/definitions/AlertRuleResourcePatch'
      responses:
        200:
          description: Successful request to update an alert rule
          examples:
            application/json:
              id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin
              location: West US
              name: chiricutin
              properties:
                actions: []
                condition:
                  dataSource:
                    metricName: Requests
                    odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                    resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                  odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                  operator: GreaterThan
                  threshold: 3
                  timeAggregation: Total
                  windowSize: PT5M
                description: Pura Vida
                isEnabled: false
                lastUpdatedTime: "2016-11-23T21:23:52.0221265Z"
                name: chiricutin
              tags:
                $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                  Microsoft.WindowsAzure.Management.Common.Storage
                ? hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest2
                : Resource
              type: Microsoft.Insights/alertRules
          schema:
            $ref: '#/definitions/AlertRuleResource'
        201:
          description: Successful request to update an alert rule that resulted in
            a creation of the alert rule
          examples:
            application/json:
              id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin
              location: West US
              name: chiricutin
              properties:
                actions: []
                condition:
                  dataSource:
                    metricName: Requests
                    odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                    resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                  odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                  operator: GreaterThan
                  threshold: 3
                  timeAggregation: Total
                  windowSize: PT5M
                description: Pura Vida
                isEnabled: false
                lastUpdatedTime: "2016-11-23T21:23:52.0221265Z"
                name: chiricutin
              tags:
                $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                  Microsoft.WindowsAzure.Management.Common.Storage
                ? hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest2
                : Resource
              type: Microsoft.Insights/alertRules
          schema:
            $ref: '#/definitions/AlertRuleResource'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        Patch an alert rule:
          parameters:
            alertRulesResource:
              properties:
                actions: []
                condition:
                  dataSource:
                    metricName: Requests
                    odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                    resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                  odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                  operator: GreaterThan
                  threshold: 3
                  timeAggregation: Total
                  windowSize: PT5M
                description: Pura Vida
                isEnabled: true
                lastUpdatedTime: "2016-11-23T21:23:52.0221265Z"
                name: chiricutin
              tags:
                $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary
            api-version: "2016-03-01"
            resourceGroupName: Rac46PostSwapRG
            ruleName: chiricutin
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            200:
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin
                location: West US
                name: chiricutin
                properties:
                  actions: []
                  condition:
                    dataSource:
                      metricName: Requests
                      odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                      resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                    odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                    operator: GreaterThan
                    threshold: 3
                    timeAggregation: Total
                    windowSize: PT5M
                  description: Pura Vida
                  isEnabled: true
                  lastUpdatedTime: "2016-11-23T21:23:52.0221265Z"
                  name: chiricutin
                tags:
                  $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary
                type: Microsoft.Insights/alertRules
              headers: []
            201:
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin
                location: West US
                name: chiricutin
                properties:
                  actions: []
                  condition:
                    dataSource:
                      metricName: Requests
                      odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                      resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                    odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                    operator: GreaterThan
                    threshold: 3
                    timeAggregation: Total
                    windowSize: PT5M
                  description: Pura Vida
                  isEnabled: true
                  lastUpdatedTime: "2016-11-23T21:23:52.0221265Z"
                  name: chiricutin
                tags:
                  $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary
                type: Microsoft.Insights/alertRules
              headers: []
    put:
      description: Creates or updates an alert rule.
      operationId: AlertRules_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/RuleNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - description: The parameters of the rule to create or update.
        in: body
        name: parameters
        required: true
        schema:
          $ref: '#/definitions/AlertRuleResource'
      - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        200:
          description: Successful request to update an alert rule
          examples:
            application/json:
              id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin
              location: West US
              name: chiricutin
              properties:
                actions: []
                condition:
                  dataSource:
                    metricName: Requests
                    odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                    resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                  odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                  operator: GreaterThan
                  threshold: 3
                  timeAggregation: Total
                  windowSize: PT5M
                description: Pura Vida
                isEnabled: true
                lastUpdatedTime: "2016-11-23T21:23:52.0221265Z"
                name: chiricutin
              tags:
                $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                  Microsoft.WindowsAzure.Management.Common.Storage
                ? hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                : Resource
              type: Microsoft.Insights/alertRules
          schema:
            $ref: '#/definitions/AlertRuleResource'
        201:
          description: Created alert rule
          examples:
            application/json:
              id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin
              location: West US
              name: chiricutin
              properties:
                actions: []
                condition:
                  dataSource:
                    metricName: Requests
                    odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                    resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                  odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                  operator: GreaterThan
                  threshold: 2
                  timeAggregation: Total
                  windowSize: PT5M
                description: Pura Vida
                isEnabled: true
                lastUpdatedTime: "2016-11-23T21:21:40.3097118Z"
                name: chiricutin
              tags:
                $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                  Microsoft.WindowsAzure.Management.Common.Storage
                ? hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                : Resource
              type: Microsoft.Insights/alertRules
          schema:
            $ref: '#/definitions/AlertRuleResource'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
      - AlertRules
      x-ms-examples:
        Create or update an alert rule:
          parameters:
            api-version: "2016-03-01"
            parameters:
              location: West US
              properties:
                actions: []
                condition:
                  dataSource:
                    metricName: Requests
                    odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                    resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                  odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                  operator: GreaterThan
                  threshold: 3
                  timeAggregation: Total
                  windowSize: PT5M
                description: Pura Vida
                isEnabled: true
                lastUpdatedTime: "2016-11-23T21:23:52.0221265Z"
                name: chiricutin
              tags: []
            resourceGroupName: Rac46PostSwapRG
            ruleName: chiricutin
            subscriptionId: b67f7fec-69fc-4974-9099-a26bd6ffeda3
          responses:
            200:
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin
                location: West US
                name: chiricutin
                properties:
                  actions: []
                  condition:
                    dataSource:
                      metricName: Requests
                      odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                      resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                    odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                    operator: GreaterThan
                    threshold: 3
                    timeAggregation: Total
                    windowSize: PT5M
                  description: Pura Vida
                  isEnabled: true
                  lastUpdatedTime: "2016-11-23T21:23:52.0221265Z"
                  name: chiricutin
                tags:
                  $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                    Microsoft.WindowsAzure.Management.Common.Storage
                  ? hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                  : Resource
                type: Microsoft.Insights/alertRules
              headers: []
            201:
              body:
                id: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/microsoft.insights/alertrules/chiricutin
                location: West US
                name: chiricutin
                properties:
                  actions: []
                  condition:
                    dataSource:
                      metricName: Requests
                      odata.type: Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource
                      resourceUri: /subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                    odata.type: Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition
                    operator: GreaterThan
                    threshold: 3
                    timeAggregation: Total
                    windowSize: PT5M
                  description: Pura Vida
                  isEnabled: true
                  lastUpdatedTime: "2016-11-23T21:23:52.0221265Z"
                  name: chiricutin
                tags:
                  $type: Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
                    Microsoft.WindowsAzure.Management.Common.Storage
                  ? hidden-link:/subscriptions/b67f7fec-69fc-4974-9099-a26bd6ffeda3/resourceGroups/Rac46PostSwapRG/providers/Microsoft.Web/sites/leoalerttest
                  : Resource
                type: Microsoft.Insights/alertRules
              headers: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":20:{s:9:\"AlertRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"An
  alert rule.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"actions\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"the
  array of actions that are performed when the alert rule becomes active, and when
  an alert condition is resolved.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/RuleAction\";}s:4:\"type\";s:5:\"array\";}s:9:\"condition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RuleCondition\";s:11:\"description\";s:61:\"the
  condition that results in the alert rule being activated.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"the
  description of the alert rule that will be included in the alert email.\";s:4:\"type\";s:6:\"string\";}s:9:\"isEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"the
  flag that indicates whether the alert rule is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Last
  time the rule was updated in ISO8601 format.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"the
  name of the alert rule.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:9:\"isEnabled\";i:2;s:9:\"condition\";}}s:17:\"AlertRuleResource\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:24:\"The
  alert rule resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:23:\"#/definitions/AlertRule\";s:11:\"description\";s:42:\"The
  alert rule properties of the resource.\";s:19:\"x-ms-client-flatten\";b:1;}}s:8:\"required\";a:1:{i:0;s:10:\"properties\";}s:4:\"type\";s:6:\"object\";}s:27:\"AlertRuleResourceCollection\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Represents
  a collection of alert rule resources.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"the
  values for the alert rule resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AlertRuleResource\";}s:4:\"type\";s:5:\"array\";}}}s:22:\"AlertRuleResourcePatch\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  alert rule object for patch operations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:23:\"#/definitions/AlertRule\";s:11:\"description\";s:32:\"The
  properties of an alert rule.\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}}}s:17:\"ConditionOperator\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Operators
  allowed in the rule condition.\";s:4:\"enum\";a:4:{i:0;s:11:\"GreaterThan\";i:1;s:18:\"GreaterThanOrEqual\";i:2;s:8:\"LessThan\";i:3;s:15:\"LessThanOrEqual\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:17:\"ConditionOperator\";}}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  the format of Error response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message indicating why the operation failed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"LocationThresholdRuleCondition\";O:8:\"stdClass\":7:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RuleCondition\";}}s:11:\"description\";s:64:\"A
  rule condition based on a certain number of locations failing.\";s:7:\"example\";s:457:\"{\r\n\t\"odata.type\":
  \"Microsoft.Azure.Management.Insights.Models.LocationThresholdRuleCondition\",\r\n\t\"dataSource\":
  {\r\n\t\t\"odata.type\": \"Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource\",\r\n\t\t\"resourceUri\":
  \"/subscriptions/089bd33f-d4ec-47fe-8ba5-0753aa5c5b33/resourcegroups/Default-Web-CentralUS/providers/microsoft.insights/webtests/homepagetest-newrelapp2\",r\n\t\t\"metricName\":
  \"GSMT_AvRaW\"\r\n\t},\r\n\t\"windowSize\": \"PT5M\",\r\n\t\"failedLocationCount\":
  1\r\n}\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"failedLocationCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"the
  number of locations that must fail to activate the alert.\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:10:\"windowSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:169:\"the
  period of time (in ISO 8601 duration format) that is used to monitor alert activity
  based on the threshold. If specified then it must be between 5 minutes and 1 day.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:19:\"failedLocationCount\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:73:\"Microsoft.Azure.Management.Insights.Models.LocationThresholdRuleCondition\";}s:35:\"ManagementEventAggregationCondition\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"How
  the data that is collected should be combined over time.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"operator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ConditionOperator\";s:11:\"description\";s:23:\"the
  condition operator.\";}s:9:\"threshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  threshold value that activates the alert.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"windowSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:169:\"the
  period of time (in ISO 8601 duration format) that is used to monitor alert activity
  based on the threshold. If specified then it must be between 5 minutes and 1 day.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}}}s:28:\"ManagementEventRuleCondition\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RuleCondition\";}}s:11:\"description\";s:34:\"A
  management event rule condition.\";s:7:\"example\";s:499:\"{\r\n\t\"odata.type\":
  \"Microsoft.Azure.Management.Insights.Models.ManagementEventRuleCondition\",\r\n\t\"dataSource\":
  {\r\n\t\t\"odata.type\": \"Microsoft.Azure.Management.Insights.Models.RuleManagementEventDataSource\",\r\n\t\t\"operationName\":
  \"\",\r\n\t\t\"resourceUri\": \"/subscriptions/089bd33f-d4ec-47fe-8ba5-0753aa5c5b33/resourceGroups/Default-Web-CentralUS/providers/Microsoft.Web/sites/TestLatestWebsite\",\r\n\t\t\"status\":
  \"failed\",\r\n\t\t\"claims\": { }\r\n\t},\r\n\t\"aggregation\": {\r\n\t\t\"threshold\":
  1,\r\n\t\t\"windowSize\": \"PT5M\"\r\n\t}\r\n}\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"aggregation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/ManagementEventAggregationCondition\";s:11:\"description\";s:229:\"How
  the data that is collected should be combined over time and when the alert is activated.
  Note that for management event alerts aggregation is optional \u2013 if it is not
  provided then any event will cause the alert to activate.\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:71:\"Microsoft.Azure.Management.Insights.Models.ManagementEventRuleCondition\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"An
  azure resource object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Azure
  resource Id\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Resource
  location\";s:4:\"type\";s:6:\"string\";s:15:\"x-ms-mutability\";a:2:{i:0;s:6:\"create\";i:1;s:4:\"read\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Azure
  resource name\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:13:\"Resource
  tags\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Azure resource
  type\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"location\";}s:19:\"x-ms-azure-resource\";b:1;}s:10:\"RuleAction\";O:8:\"stdClass\":5:{s:11:\"description\";s:105:\"The
  action that is performed when the alert rule becomes active, and when an alert condition
  is resolved.\";s:13:\"discriminator\";s:10:\"odata.type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"odata.type\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"specifies
  the type of the action. There are two types of actions: RuleEmailAction and RuleWebhookAction.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"odata.type\";}s:4:\"type\";s:6:\"object\";}s:13:\"RuleCondition\";O:8:\"stdClass\":5:{s:11:\"description\";s:61:\"The
  condition that results in the alert rule being activated.\";s:13:\"discriminator\";s:10:\"odata.type\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"dataSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RuleDataSource\";s:11:\"description\";s:121:\"the
  resource from which the rule collects its data. For this type dataSource will always
  be of type RuleMetricDataSource.\";}s:10:\"odata.type\";O:8:\"stdClass\":2:{s:11:\"description\";s:274:\"specifies
  the type of condition. This can be one of three types: ManagementEventRuleCondition
  (occurrences of management events), LocationThresholdRuleCondition (based on the
  number of failures of a web test), and ThresholdRuleCondition (based on the threshold
  of a metric).\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"odata.type\";}s:4:\"type\";s:6:\"object\";}s:14:\"RuleDataSource\";O:8:\"stdClass\":5:{s:11:\"description\";s:51:\"The
  resource from which the rule collects its data.\";s:13:\"discriminator\";s:10:\"odata.type\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"odata.type\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"specifies
  the type of data source. There are two types of rule data sources: RuleMetricDataSource
  and RuleManagementEventDataSource\";s:4:\"type\";s:6:\"string\";}s:11:\"resourceUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"the
  resource identifier of the resource the rule monitors. **NOTE**: this property cannot
  be updated for an existing rule.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"odata.type\";}s:4:\"type\";s:6:\"object\";}s:15:\"RuleEmailAction\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/RuleAction\";}}s:11:\"description\";s:130:\"Specifies
  the action to send email when the rule condition is evaluated. The discriminator
  is always RuleEmailAction in this case.\";s:7:\"example\";s:176:\"{\r\n\t\"odata.type\":
  \"Microsoft.Azure.Management.Insights.Models.RuleEmailAction\",\r\n\t\"sendToServiceOwners\":
  true,\r\n\t\"customEmails\": [\"email1@contoso.com\",\"email2@contoso.com\" ]\r\n}\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"customEmails\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"the
  list of administrator's custom email addresses to notify of the activation of the
  alert.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"sendToServiceOwners\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"Whether
  the administrators (service and co-administrators) of the service should be notified
  when the alert is activated.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:58:\"Microsoft.Azure.Management.Insights.Models.RuleEmailAction\";}s:35:\"RuleManagementEventClaimsDataSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  claims for a rule management event data source.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"the
  email address.\";s:4:\"type\";s:6:\"string\";}}}s:29:\"RuleManagementEventDataSource\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RuleDataSource\";}}s:11:\"description\";s:115:\"A
  rule management event data source. The discriminator fields is always RuleManagementEventDataSource
  in this case.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"claims\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/RuleManagementEventClaimsDataSource\";s:11:\"description\";s:11:\"the
  claims.\";}s:9:\"eventName\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"the
  event name.\";s:4:\"type\";s:6:\"string\";}s:11:\"eventSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"the
  event source.\";s:4:\"type\";s:6:\"string\";}s:5:\"level\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"the
  level.\";s:4:\"type\";s:6:\"string\";}s:13:\"operationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"The
  name of the operation that should be checked for. If no name is provided, any operation
  will match.\";s:4:\"type\";s:6:\"string\";}s:17:\"resourceGroupName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"the
  resource group name.\";s:4:\"type\";s:6:\"string\";}s:20:\"resourceProviderName\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"the
  resource provider name.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  status of the operation that should be checked for. If no status is provided, any
  status will match.\";s:4:\"type\";s:6:\"string\";}s:9:\"subStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"the
  substatus.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:72:\"Microsoft.Azure.Management.Insights.Models.RuleManagementEventDataSource\";}s:20:\"RuleMetricDataSource\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RuleDataSource\";}}s:11:\"description\";s:95:\"A
  rule metric data source. The discriminator value is always RuleMetricDataSource
  in this case.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"metricName\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"the
  name of the metric that defines what the rule monitors.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:63:\"Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource\";}s:17:\"RuleWebhookAction\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/RuleAction\";}}s:11:\"description\";s:137:\"Specifies
  the action to post to service when the rule condition is evaluated. The discriminator
  is always RuleWebhookAction in this case.\";s:7:\"example\";s:143:\"{\r\n\t\"odata.type\":
  \"Microsoft.Azure.Management.Insights.Models.RuleWebhookAction\",\r\n\t\"serviceUri\":
  \"http://contoso.com/\",\r\n\t\"properties\": { }\r\n}\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:119:\"the
  dictionary of custom properties to include with the post operation. These data are
  appended to the webhook payload.\";s:4:\"type\";s:6:\"object\";}s:10:\"serviceUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"the
  service uri to Post the notification when the alert activates or resolves.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:60:\"Microsoft.Azure.Management.Insights.Models.RuleWebhookAction\";}s:22:\"ThresholdRuleCondition\";O:8:\"stdClass\":7:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RuleCondition\";}}s:11:\"description\";s:56:\"A
  rule condition based on a metric crossing a threshold.\";s:7:\"example\";s:503:\"\"condition\":
  {\r\n\t\"odata.type\": \"Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition\",\r\n\t\"dataSource\":
  {\r\n\t\"odata.type\": \"Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource\",\r\n\t\"resourceUri\":\r\n\t\"/subscriptions/089bd33f-d4ec-47fe-8ba5-0753aa5c5b33/resourceGroups/Default-Storage-NorthCentralUS/providers/Microsoft.Web/serverfarms/Plan\",\r\n\t\"metricName\":
  \"CpuPercentage\",\r\n\t\"operator\": \"GreaterThan\"\r\n\t},\r\n\t\"threshold\":
  90,\r\n\t\"windowSize\": \"PT15M\",\r\n\t\"timeAggregation\": \"Average\"}\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"operator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ConditionOperator\";s:11:\"description\";s:56:\"the
  operator used to compare the data and the threshold.\";}s:9:\"threshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"the
  threshold value that activates the alert.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"timeAggregation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/TimeAggregationOperator\";s:11:\"description\";s:155:\"the
  time aggregation operator. How the data that are collected should be combined over
  time. The default value is the PrimaryAggregationType of the Metric.\";}s:10:\"windowSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:169:\"the
  period of time (in ISO 8601 duration format) that is used to monitor alert activity
  based on the threshold. If specified then it must be between 5 minutes and 1 day.\";s:6:\"format\";s:8:\"duration\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"threshold\";i:1;s:8:\"operator\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:65:\"Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition\";}s:23:\"TimeAggregationOperator\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Aggregation
  operators allowed in a rule.\";s:4:\"enum\";a:5:{i:0;s:7:\"Average\";i:1;s:7:\"Minimum\";i:2;s:7:\"Maximum\";i:3;s:5:\"Total\";i:4;s:4:\"Last\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:23:\"TimeAggregationOperator\";}}}"
...
