---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:420:\"Use these APIs
  to manage Visual Studio Team Services resources through the Azure Resource Manager.
  All task operations conform to the HTTP/1.1 protocol specification and each operation
  returns an x-ms-request-id header that can be used to obtain information about the
  request. You must make sure that requests made to these resources are secure. For
  more information, see https://docs.microsoft.com/en-us/rest/api/index.\";s:5:\"title\";s:38:\"Visual
  Studio Resource Provider Client\";s:7:\"version\";s:18:\"2017-11-01-preview\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:170:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/visualstudio/resource-manager/Microsoft.VisualStudio/preview/2017-11-01-preview/Csm.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:16:\"visualstudio-Csm\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"azure_visualstudio_csm\";s:4:\"type\";s:7:\"openapi\";}}"
host: management.azure.com
paths:
  /providers/microsoft.visualstudio/operations:
    get:
      description: Gets the details of all operations possible on the Microsoft.VisualStudio
        resource provider.
      operationId: Operations_List
      responses:
        200:
          description: The operation succeeded. The response contains the possible
            operations on the Microsoft.VisualStudio resource provider.
          schema:
            $ref: '#/definitions/OperationListResult'
      summary: Operations_List
      tags:
      - Operations
      x-ms-examples:
        Get a list of operations for this resource provider:
          parameters:
            api-version: 2014-04-01-preview
          responses:
            200:
              body:
                value:
                - display:
                    description: Set Account
                    operation: Creates or updates the Account
                    provider: Visual Studio
                    resource: Account
                  name: Microsoft.VisualStudio/Account/Write
                - display:
                    description: Delete Account
                    operation: Deletes the Account
                    provider: Visual Studio
                    resource: Account
                  name: Microsoft.VisualStudio/Account/Delete
                - display:
                    description: Read Account
                    operation: Reads the Account
                    provider: Visual Studio
                    resource: Account
                  name: Microsoft.VisualStudio/Account/Read
                - display:
                    description: Set Project
                    operation: Creates or updates the Project
                    provider: Visual Studio
                    resource: Project
                  name: Microsoft.VisualStudio/Project/Write
                - display:
                    description: Delete Project
                    operation: Deletes the Project
                    provider: Visual Studio
                    resource: Project
                  name: Microsoft.VisualStudio/Project/Delete
                - display:
                    description: Read Project
                    operation: Reads the Project
                    provider: Visual Studio
                    resource: Project
                  name: Microsoft.VisualStudio/Project/Read
                - display:
                    description: Set Extension
                    operation: Creates or updates the Extension
                    provider: Visual Studio
                    resource: Extension
                  name: Microsoft.VisualStudio/Extension/Write
                - display:
                    description: Delete Extension
                    operation: Deletes the Extension
                    provider: Visual Studio
                    resource: Extension
                  name: Microsoft.VisualStudio/Extension/Delete
                - display:
                    description: Read Extension
                    operation: Reads the Extension
                    provider: Visual Studio
                    resource: Extension
                  name: Microsoft.VisualStudio/Extension/Read
  /subscriptions/{subscriptionId}/providers/microsoft.visualstudio/checkNameAvailability:
    post:
      description: Checks if the specified Visual Studio Team Services account name
        is available. Resource name can be either an account name or an account name
        and PUID.
      operationId: Accounts_CheckNameAvailability
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: Parameters describing the name to check availability for.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CheckNameAvailabilityParameter'
      responses:
        200:
          description: The operation succeeded. The response contains the result of
            the name availability check.
          schema:
            $ref: '#/definitions/CheckNameAvailabilityResult'
      summary: Accounts_CheckNameAvailability
      tags:
      - Accounts
      x-ms-examples:
        Check availability of an account name:
          parameters:
            api-version: 2014-04-01-preview
            body:
              resourceName: ExampleName
              resourceType: Account
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            200:
              body:
                nameAvailable: true
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{rootResourceName}/project
  : get:
      description: Gets all Visual Studio Team Services project resources created
        in the specified Team Services account.
      operationId: Project_ListByAccountResource
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: Name of the Team Services account.
        in: path
        name: rootResourceName
        required: true
        type: string
      responses:
        200:
          description: The operation succeeded. The response contains the details
            of the Visual Studio Team Services project resources created in the specified
            Team Services account.
          schema:
            $ref: '#/definitions/ProjectResourceListResult'
      summary: Projects_ListByAccountResource
      tags:
      - Projects
      x-ms-examples:
        Get a list of project resources in the Team Services account:
          parameters:
            api-version: 2017-11-01-preview
            resourceGroupName: VS-Example-Group
            rootResourceName: ExampleAccount
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            200:
              body:
                value:
                - id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/ExampleAccount/project/ExampleProject
                  kind: bootstrappedProject
                  location: Central US
                  name: ExampleProject
                  properties:
                    bootstrapPipelineTemplate:
                      applicationSource:
                        applicationConfiguration:
                          nodeJsVersion: 8.5.0
                        applicationType: NodeJs
                        sourceType: CodeTemplate
                      applicationTarget:
                        resources:
                        - id: /subscriptions/ea99dfc9-1597-48ed-85f6-9bf922591395/resourceGroups/testrg/providers/Microsoft.Web/sites/MyWebSite
                          role: AppService
                        targetType: WindowsAppService
                      authorizationDetails: []
                    processTemplateId: Scrum
                    tfsUniqueIdentifier: vstfs:///Classification/TeamProject/d921d601-0600-4e45-8600-3914ffc8811a
                    versionControlOption: Git
                  tags: []
                  type: Microsoft.VisualStudio/account/project
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{rootResourceName}/project/{resourceName}
  : get:
      description: Gets the details of a Team Services project resource.
      operationId: Projects_Get
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: Name of the Team Services account.
        in: path
        name: rootResourceName
        required: true
        type: string
      - description: Name of the Team Services project.
        in: path
        name: resourceName
        required: true
        type: string
      responses:
        200:
          description: The operation succeeded. The response contains the details
            of the updated team project resource.
          schema:
            $ref: '#/definitions/ProjectResource'
        404:
          description: The project or Azure subscription was not found.
      summary: Projects_Get
      tags:
      - Projects
      x-ms-examples:
        Get a project resource:
          parameters:
            api-version: 2017-11-01-preview
            resourceGroupName: VS-Example-Group
            resourceName: ExampleProject
            rootResourceName: ExampleAccount
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            200:
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/microsoft.visualstudio/account/ExampleAccount/project/ExampleProject
                kind: bootstrappedProject
                location: North Central US
                name: ExampleProject
                properties:
                  bootstrapPipelineTemplate:
                    applicationSource:
                      applicationConfiguration:
                        nodeJsVersion: 8.5.0
                      applicationType: NodeJs
                      sourceType: CodeTemplate
                    applicationTarget:
                      resources:
                      - id: /subscriptions/ea99dfc9-1597-48ed-85f6-9bf922591395/resourceGroups/testrg/providers/Microsoft.Web/sites/MyWebSite
                        role: AppService
                      targetType: WindowsAppService
                    authorizationDetails: []
                  processTemplateId: Scrum
                  tfsUniqueIdentifier: vstfs:///Classification/TeamProject/7a4e6ba5-35bf-4667-86a4-9b598a88fa25
                  versionControlOption: Git
                tags: []
                type: microsoft.visualstudio/account/project
            404: []
    patch:
      description: Updates the tags of the specified Team Services project.
      operationId: Projects_Update
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: The request data.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ProjectResourceUpdateParameters'
      - description: Name of the Team Services account.
        in: path
        name: rootResourceName
        required: true
        type: string
      - description: Name of the Team Services project.
        in: path
        name: resourceName
        required: true
        type: string
      responses:
        200:
          description: The operation succeeded. The response contains the details
            of the updated team project resource.
          schema:
            $ref: '#/definitions/ProjectResource'
      summary: Projects_Update
      tags:
      - Projects
      x-ms-examples:
        Update a project resource:
          parameters:
            api-version: 2017-11-01-preview
            body:
              tags:
                NewTag: NewTagValue
            resourceGroupName: VS-Example-Group
            resourceName: ExampleProject
            rootResourceName: ExampleAccount
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            200:
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/microsoft.visualstudio/account/ExampleAccount/project/ExampleProject
                kind: bootstrappedProject
                location: North Central US
                name: ExampleProject
                properties:
                  bootstrapPipelineTemplate:
                    applicationSource:
                      applicationConfiguration:
                        nodeJsVersion: 8.5.0
                      applicationType: NodeJs
                      sourceType: CodeTemplate
                    applicationTarget:
                      resources:
                      - id: /subscriptions/ea99dfc9-1597-48ed-85f6-9bf922591395/resourceGroups/testrg/providers/Microsoft.Web/sites/MyWebSite
                        role: AppService
                      targetType: WindowsAppService
                    authorizationDetails: []
                  processTemplateId: Scrum
                  tfsUniqueIdentifier: vstfs:///Classification/TeamProject/7a4e6ba5-35bf-4667-86a4-9b598a88fa25
                  versionControlOption: Git
                tags:
                  NewTag: NewTagValue
                type: microsoft.visualstudio/account/project
    put:
      description: 'Creates a Team Services project in the collection with the specified
        name. ''VersionControlOption'' and ''ProcessTemplateId'' must be specified
        in the resource properties. Valid values for VersionControlOption: Git, Tfvc.
        Valid values for ProcessTemplateId: 6B724908-EF14-45CF-84F8-768B5384DA45,
        ADCC42AB-9882-485E-A3ED-7678F01F66BC, 27450541-8E31-4150-9947-DC59F998FC01
        (these IDs correspond to Scrum, Agile, and CMMI process templates).'
      operationId: Projects_Create
      parameters:
      - description: The request data.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ProjectResource'
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: Name of the Team Services account.
        in: path
        name: rootResourceName
        required: true
        type: string
      - description: Name of the Team Services project.
        in: path
        name: resourceName
        required: true
        type: string
      - description: This parameter is ignored and should be set to an empty string.
        in: query
        name: validating
        required: false
        type: string
      responses:
        200:
          description: The operation succeeded. The response contains the details
            of the created or updated team project resource.
          schema:
            $ref: '#/definitions/ProjectResource'
        202:
          description: The operation succeeded. A job to create the team project resource
            has been queued. The URI to monitor the status of the job is provided
            in the 'location' header.
      summary: Projects_Create
      tags:
      - Projects
      x-ms-examples:
        Create a project resource:
          parameters:
            api-version: 2017-11-01-preview
            body:
              id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/ExampleAccount/project/ExampleProject
              location: Central US
              name: ExampleProject
              properties:
                bootstrapPipelineTemplate:
                  applicationSource:
                    applicationConfiguration:
                      nodeJsVersion: 8.5.0
                    applicationType: NodeJs
                    sourceType: CodeTemplate
                  applicationTarget:
                    resources:
                    - id: /subscriptions/ea99dfc9-1597-48ed-85f6-9bf922591395/resourceGroups/testrg/providers/Microsoft.Web/sites/MyWebSite
                      role: AppService
                    targetType: WindowsAppService
                  authorizationDetails:
                    azure:
                      authorizationType: authorizationToken
                      parameters:
                        token: AAD_Access_Token_For_VSTS_Resource
                processTemplateId: Scrum
                versionControlOption: Git
              tags: []
              type: Microsoft.VisualStudio/account/project
            resourceGroupName: VS-Example-Group
            resourceName: ExampleProject
            rootResourceName: ExampleAccount
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            200:
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/microsoft.visualstudio/account/ExampleAccount/project/ExampleProject
                kind: bootstrappedProject
                location: North Central US
                name: ExampleProject
                properties:
                  bootstrapPipelineTemplate:
                    applicationSource:
                      applicationConfiguration:
                        nodeJsVersion: 8.5.0
                      applicationType: NodeJs
                      sourceType: CodeTemplate
                    applicationTarget:
                      resources:
                      - id: /subscriptions/ea99dfc9-1597-48ed-85f6-9bf922591395/resourceGroups/testrg/providers/Microsoft.Web/sites/MyWebSite
                        role: AppService
                      targetType: WindowsAppService
                    authorizationDetails: []
                  processTemplateId: Scrum
                  tfsUniqueIdentifier: vstfs:///Classification/TeamProject/7a4e6ba5-35bf-4667-86a4-9b598a88fa25
                  versionControlOption: Git
                tags: []
                type: microsoft.visualstudio/account/project
            202:
              headers:
                location: https://management.azure.com/subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/microsoft.visualstudio/account/ExampleAccount/project/ExampleProject/subContainers/ExampleProject/status/?api-version=2017-11-01-preview&jobId=126167d2-d710-4b5d-80a8-a1d58717142d&operation=put
                retry-after: "5"
      x-ms-long-running-operation: true
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account:
    get:
      description: Gets all Visual Studio Team Services account resources under the
        resource group linked to the specified Azure subscription.
      operationId: Accounts_ListByResourceGroup
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        200:
          description: The operation succeeded. The response contains the details
            of the Visual Studio Team Services account resources linked to the Azure
            subscription.
          schema:
            $ref: '#/definitions/AccountResourceListResult'
      summary: Accounts_ListByResourceGroup
      tags:
      - Accounts
      x-ms-examples:
        Get a list of account resources in the resource group:
          parameters:
            api-version: 2014-04-01-preview
            resourceGroupName: VS-Example-Group
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            200:
              body:
                value:
                - id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/Example
                  location: Central US
                  name: VS-Example-Group
                  properties:
                    AccountURL: ""
                  tags: []
                  type: Microsoft.VisualStudio/account
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{accountResourceName}/extension
  : get:
      description: Gets the details of the extension resources created within the
        resource group.
      operationId: Extensions_ListByAccount
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: The name of the Visual Studio Team Services account resource.
        in: path
        name: accountResourceName
        required: true
        type: string
      responses:
        200:
          description: The operation succeeded. The response contains all extension
            resource details for the specified account.
          schema:
            $ref: '#/definitions/ExtensionResourceListResult'
      summary: Extensions_ListByAccount
      tags:
      - Extensions
      x-ms-examples:
        Get a list of extension resources within the resource group:
          parameters:
            accountResourceName: ExampleAccount
            api-version: 2014-04-01-preview
            resourceGroupName: VS-Example-Group
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            200:
              body:
                value:
                - id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/ExampleAccount/extension/ms.example
                  location: Central US
                  name: ms.example
                  plan:
                    name: ExamplePlan
                    product: ExampleExtensionName
                    promotionCode: ""
                    publisher: ExampleExtensionPublisher
                    version: "1.0"
                  properties: []
                  tags: []
                  type: Microsoft.VisualStudio/account/extension
  ? /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{accountResourceName}/extension/{extensionResourceName}
  : delete:
      description: Removes an extension resource registration for a Visual Studio
        Team Services account.
      operationId: Extensions_Delete
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: The name of the Visual Studio Team Services account resource.
        in: path
        name: accountResourceName
        required: true
        type: string
      - description: The name of the extension.
        in: path
        name: extensionResourceName
        required: true
        type: string
      responses:
        200:
          description: The operation succeeded. The extension resource has been deleted
            for the specified account.
      summary: Extensions_Delete
      tags:
      - Extensions
      x-ms-examples:
        Delete an extension resource:
          parameters:
            accountResourceName: Example
            api-version: 2014-04-01-preview
            extensionResourceName: ms.example
            resourceGroupName: VS-Example-Group
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            200: []
    get:
      description: Gets the details of an extension associated with a Visual Studio
        Team Services account resource.
      operationId: Extensions_Get
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: The name of the Visual Studio Team Services account resource.
        in: path
        name: accountResourceName
        required: true
        type: string
      - description: The name of the extension.
        in: path
        name: extensionResourceName
        required: true
        type: string
      responses:
        200:
          description: The operation succeeded. The response contains the extension
            resource details for the specified account.
          schema:
            $ref: '#/definitions/ExtensionResource'
        404:
          description: The specified extension has no plans defined.
      summary: Extensions_Get
      tags:
      - Extensions
      x-ms-examples:
        Get an extension resource:
          parameters:
            accountResourceName: ExampleAccount
            api-version: 2014-04-01-preview
            extensionResourceName: ms.example
            resourceGroupName: VS-Example-Group
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            200:
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/ExampleAccount/extension/ms.example
                location: Central US
                name: ms.example
                plan:
                  name: ExamplePlan
                  product: ExampleExtensionName
                  promotionCode: ""
                  publisher: ExampleExtensionPublisher
                  version: "1.0"
                properties: []
                tags: []
                type: Microsoft.VisualStudio/account/extension
            404: []
    patch:
      description: Updates an existing extension registration for the Visual Studio
        Team Services account.
      operationId: Extensions_Update
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: An object containing additional information related to the extension
          request.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ExtensionResourceRequest'
      - description: The name of the Visual Studio Team Services account resource.
        in: path
        name: accountResourceName
        required: true
        type: string
      - description: The name of the extension.
        in: path
        name: extensionResourceName
        required: true
        type: string
      responses:
        200:
          description: The operation succeeded. The extension resource was updated
            for the specified account.
          schema:
            $ref: '#/definitions/ExtensionResource'
      summary: Extensions_Update
      tags:
      - Extensions
      x-ms-examples:
        Update an extension resource:
          parameters:
            accountResourceName: ExampleAccount
            api-version: 2014-04-01-preview
            body:
              location: Central US
              plan:
                name: ExamplePlan
                product: ExampleExtensionName
                promotionCode: ""
                publisher: ExampleExtensionPublisher
                version: "1.0"
              properties: []
              tags: []
            extensionResourceName: Example
            resourceGroupName: VS-Example-Group
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            200:
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/ExampleAccount/extension/ms.example
                location: Central US
                name: ms.example
                plan:
                  name: ExamplePlan
                  product: ExampleExtensionName
                  promotionCode: ""
                  publisher: ExampleExtensionPublisher
                  version: "1.0"
                properties: []
                tags: []
                type: Microsoft.VisualStudio/account/extension
    put:
      description: Registers the extension with a Visual Studio Team Services account.
      operationId: Extensions_Create
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: An object containing additional information related to the extension
          request.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ExtensionResourceRequest'
      - description: The name of the Visual Studio Team Services account resource.
        in: path
        name: accountResourceName
        required: true
        type: string
      - description: The name of the extension.
        in: path
        name: extensionResourceName
        required: true
        type: string
      responses:
        200:
          description: The operation succeeded. The extension resource was created
            for the specified account.
          schema:
            $ref: '#/definitions/ExtensionResource'
      summary: Extensions_Create
      tags:
      - Extensions
      x-ms-examples:
        Create an extension resource:
          parameters:
            accountResourceName: ExampleAccount
            api-version: 2014-04-01-preview
            body:
              location: Central US
              plan:
                name: ExamplePlan
                product: ExampleExtensionName
                promotionCode: ""
                publisher: ExampleExtensionPublisher
                version: "1.0"
              properties: []
              tags: []
            extensionResourceName: ms.example
            resourceGroupName: VS-Example-Group
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            200:
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/ExampleAccount/extension/ms.example
                location: Central US
                name: ms.example
                plan:
                  name: ExamplePlan
                  product: ExampleExtensionName
                  promotionCode: ""
                  publisher: ExampleExtensionPublisher
                  version: "1.0"
                properties: []
                tags: []
                type: Microsoft.VisualStudio/account/extension
  /subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.visualstudio/account/{resourceName}:
    delete:
      description: Deletes a Visual Studio Team Services account resource.
      operationId: Accounts_Delete
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: Name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      responses:
        200:
          description: The operation succeeded. The Visual Studio Team Services account
            resource was deleted.
      summary: Accounts_Delete
      tags:
      - Accounts
      x-ms-examples:
        Delete an account resource:
          parameters:
            api-version: 2014-04-01-preview
            resourceGroupName: VS-Example-Group
            resourceName: Example
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            200: []
    get:
      description: Gets the Visual Studio Team Services account resource details.
      operationId: Accounts_Get
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: Name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      responses:
        200:
          description: The operation succeeded. The response contains the details
            of the Visual Studio Team Services account resource.
          schema:
            $ref: '#/definitions/AccountResource'
        404:
          description: The Visual Studio Team Services account does not exist.
      summary: Accounts_Get
      tags:
      - Accounts
      x-ms-examples:
        Get an account resource:
          parameters:
            api-version: 2014-04-01-preview
            resourceGroupName: VS-Example-Group
            resourceName: Example
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            200:
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/Example
                location: Central US
                name: VS-Example-Group
                properties:
                  AccountURL: ""
                tags: []
                type: Microsoft.VisualStudio/account
            404: []
    put:
      description: Creates or updates a Visual Studio Team Services account resource.
      operationId: Accounts_CreateOrUpdate
      parameters:
      - $ref: '#/parameters/resourceGroupNameParameter'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - description: The request data.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AccountResourceRequest'
      - description: Name of the resource.
        in: path
        name: resourceName
        required: true
        type: string
      responses:
        200:
          description: The operation succeeded. The Visual Studio Team Services account
            resource was created or updated.
          schema:
            $ref: '#/definitions/AccountResource'
        404:
          description: The Visual Studio Team Services account does not exist.
      summary: Accounts_CreateOrUpdate
      tags:
      - Accounts
      x-ms-examples:
        Create an account resource:
          parameters:
            api-version: 2014-04-01-preview
            body:
              accountName: Example
              location: Central US
              operationType: create
              properties: []
              tags: []
            resourceGroupName: VS-Example-Group
            resourceName: Example
            subscriptionId: 0de7f055-dbea-498d-8e9e-da287eedca90
          responses:
            200:
              body:
                id: /subscriptions/0de7f055-dbea-498d-8e9e-da287eedca90/resourceGroups/VS-Example-Group/providers/Microsoft.VisualStudio/account/Example
                location: Central US
                name: VS-Example-Group
                properties:
                  AccountURL: ""
                tags: []
                type: Microsoft.VisualStudio/account
            404: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":25:{s:15:\"AccountResource\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:48:\"The
  response to an account resource GET request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:20:\"Resource
  properties.\";s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:25:\"AccountResourceListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  response to an account resource list GET request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Array
  of resource details.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AccountResource\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"AccountResourceRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  body of a PUT request to modify a Visual Studio account resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"accountName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  account name.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  Azure instance location.\";s:4:\"type\";s:6:\"string\";}s:13:\"operationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  type of the operation.\";s:4:\"enum\";a:4:{i:0;s:7:\"unknown\";i:1;s:6:\"create\";i:2;s:6:\"update\";i:3;s:4:\"link\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:35:\"AccountResourceRequestOperationType\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:38:\"The
  custom properties of the resource.\";s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:32:\"The
  custom tags of the resource.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ApplicationSource\";O:8:\"stdClass\":5:{s:11:\"description\";s:51:\"Defines
  the source application for a VSTS pipeline.\";s:13:\"discriminator\";s:10:\"sourceType\";s:10:\"properties\";O:8:\"stdClass\":3:{s:24:\"applicationConfiguration\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:32:\"Application
  specific properties.\";s:4:\"type\";s:6:\"object\";}s:15:\"applicationType\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Type
  of application.\";s:4:\"enum\";a:3:{i:0;s:9:\"AspDotNet\";i:1;s:13:\"AspDotNetCore\";i:2;s:6:\"NodeJs\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"ApplicationType\";}}s:10:\"sourceType\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Type
  of application source.\";s:4:\"enum\";a:2:{i:0;s:12:\"CodeTemplate\";i:1;s:14:\"CodeRepository\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:21:\"ApplicationSourceType\";}}}s:8:\"required\";a:2:{i:0;s:10:\"sourceType\";i:1;s:15:\"applicationType\";}s:4:\"type\";s:6:\"object\";}s:17:\"ApplicationTarget\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Defines
  the target resources for a VSTS pipeline.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"resources\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"List
  of target resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TargetResource\";}s:4:\"type\";s:5:\"array\";}s:10:\"targetType\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Type
  of target.\";s:4:\"enum\";a:1:{i:0;s:17:\"WindowsAppService\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:21:\"ApplicationTargetType\";}}}s:8:\"required\";a:2:{i:0;s:10:\"targetType\";i:1;s:9:\"resources\";}s:4:\"type\";s:6:\"object\";}s:13:\"Authorization\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Defines
  the authorization type and its parameters.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"authorizationType\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Type
  of authorization.\";s:4:\"enum\";a:2:{i:0;s:18:\"authorizationToken\";i:1;s:19:\"personalAccessToken\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:17:\"AuthorizationType\";}}s:10:\"parameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:65:\"Authorization
  parameters corresponding to the authorization type.\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:17:\"authorizationType\";}s:4:\"type\";s:6:\"object\";}s:30:\"CheckNameAvailabilityParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  body of a POST request to check name availability.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"resourceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  name of the resource to check availability for.\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  type of resource to check availability for.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CheckNameAvailabilityResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  response to a name availability request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  message describing the detailed reason.\";s:4:\"type\";s:6:\"string\";}s:13:\"nameAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  value which indicates whether the provided name is available.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CodeRepository\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Defines
  a code repository.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:22:\"authorizationReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"Reference
  to the authorization info used to access the code repository. This value is used
  as a key into the global authorization details dictionary.\";s:4:\"type\";s:6:\"string\";}s:13:\"defaultBranch\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"Default
  branch for which continuous integration should be configured in the VSTS pipeline.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Unique
  identifier of the code repository.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:31:\"Repository-specific
  properties.\";s:4:\"type\";s:6:\"object\";}s:14:\"repositoryType\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Type
  of code repository.\";s:4:\"enum\";a:2:{i:0;s:6:\"gitHub\";i:1;s:7:\"vstsGit\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:18:\"CodeRepositoryType\";}}}s:8:\"required\";a:3:{i:0;s:14:\"repositoryType\";i:1;s:2:\"id\";i:2;s:13:\"defaultBranch\";}s:4:\"type\";s:6:\"object\";}s:31:\"CodeRepositoryApplicationSource\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ApplicationSource\";}}s:11:\"description\";s:69:\"Defines
  the source application, when it resides in a code repository.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"repository\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CodeRepository\";s:11:\"description\";s:53:\"Code
  repository where the application source resides.\";}}s:8:\"required\";a:1:{i:0;s:10:\"repository\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:14:\"CodeRepository\";}s:29:\"CodeTemplateApplicationSource\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ApplicationSource\";}}s:11:\"description\";s:40:\"Defines
  the source application template.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:12:\"CodeTemplate\";}s:17:\"ExtensionResource\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:50:\"The
  response to an extension resource GET request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"plan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ExtensionResourcePlan\";s:11:\"description\";s:38:\"The
  extension plan that was purchased.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:20:\"Resource
  properties.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ExtensionResourceListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  response to an extension resource list GET request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Array
  of extension resource details.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ExtensionResource\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ExtensionResourcePlan\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Plan
  data for an extension resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  of the plan.\";s:4:\"type\";s:6:\"string\";}s:7:\"product\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Product
  name.\";s:4:\"type\";s:6:\"string\";}s:13:\"promotionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Optional:
  the promotion code associated with the plan.\";s:4:\"type\";s:6:\"string\";}s:9:\"publisher\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Name
  of the extension publisher.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"A
  string that uniquely identifies the plan version.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ExtensionResourceRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  body of an extension resource PUT request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  Azure region of the Visual Studio account associated with this request (i.e 'southcentralus'.)\";s:4:\"type\";s:6:\"string\";}s:4:\"plan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ExtensionResourcePlan\";s:11:\"description\";s:80:\"Extended
  information about the plan being purchased for this extension resource.\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:71:\"A
  dictionary of extended properties. This property is currently unused.\";s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:75:\"A
  dictionary of user-defined tags to be stored with the extension resource.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Properties
  of an operation supported by the resource provider.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"display\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/OperationProperties\";s:11:\"description\";s:41:\"The
  properties of the resource operation.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  name of the resource operation.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OperationListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Container
  for a list of operations supported by a resource provider.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"A
  list of operations supported by a resource provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OperationProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Properties
  of an operation supported by the resource provider.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  description of the resource operation.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  operation name.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  provider name.\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  resource name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"PipelineTemplate\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Defines
  a VSTS pipeline template.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"applicationSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ApplicationSource\";s:11:\"description\";s:41:\"Source
  application for the VSTS pipeline.\";}s:17:\"applicationTarget\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ApplicationTarget\";s:11:\"description\";s:39:\"Target
  resources for the VSTS pipeline.\";}s:20:\"authorizationDetails\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Authorization\";}s:11:\"description\";s:201:\"Global
  dictionary of authorization details used by the pipeline, with a friendly name as
  key. Individual resource in the pipeline can reference to a specific authorization
  info using the friendly name.\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:3:{i:0;s:17:\"applicationSource\";i:1;s:17:\"applicationTarget\";i:2;s:20:\"authorizationDetails\";}s:4:\"type\";s:6:\"object\";}s:15:\"ProjectResource\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}}s:11:\"description\";s:47:\"A
  Visual Studio Team Services project resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Kind
  of project resource\";s:4:\"enum\";a:2:{i:0;s:7:\"project\";i:1;s:19:\"bootstrappedProject\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:19:\"ProjectResourceKind\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/ProjectResourceProperties\";s:11:\"description\";s:38:\"Custom
  properties of project resource.\";s:19:\"x-ms-client-flatten\";b:1;}}s:4:\"type\";s:6:\"object\";}s:25:\"ProjectResourceListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  response to a request to list Team Services project resources in a resource group/account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"List
  of project resource details.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ProjectResource\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ProjectResourceProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Defines
  the custom properties of project resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:25:\"bootstrapPipelineTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/PipelineTemplate\";s:11:\"description\";s:68:\"Template
  used to configure a bootstrap pipeline in the VSTS project.\";}s:8:\"ownerUpn\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Optional
  UPN of the owner, on-behalf-of whom the project is being created.\";s:4:\"type\";s:6:\"string\";}s:17:\"processTemplateId\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Process
  template to use in the project.\";s:4:\"enum\";a:3:{i:0;s:5:\"Scrum\";i:1;s:5:\"Agile\";i:2;s:4:\"Cmmi\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:15:\"ProcessTemplate\";}}s:19:\"tfsUniqueIdentifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Unique
  identifier of the VSTS project.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:20:\"versionControlOption\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"Version
  control to use for the default repo created in the project.\";s:4:\"enum\";a:2:{i:0;s:3:\"Git\";i:1;s:4:\"Tfvc\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:20:\"VersionControlOption\";}}}s:4:\"type\";s:6:\"object\";}s:31:\"ProjectResourceUpdateParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  parameters to update a project resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:42:\"The
  custom tags to be set on the resource.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"A
  generic Azure Resource Manager resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Unique
  identifier of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  location.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  name.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:14:\"Resource
  tags.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Resource
  type.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:19:\"x-ms-azure-resource\";b:1;}s:14:\"TargetResource\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Defines
  a single resource used as target for a VSTS pipeline.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"authorizationReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"Reference
  to the authorization info used to access the target resource. This value is used
  as a key into the global authorization details dictionary.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Unique
  identifier of the target resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Role
  of the target resource.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"role\";}s:4:\"type\";s:6:\"object\";}}"
...
