---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:57:\"Azure Application
  Insights client for web test locations.\";s:5:\"title\";s:35:\"ApplicationInsightsManagementClient\";s:7:\"version\";s:10:\"2015-05-01\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:131:\"https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:181:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/webTestLocations_API.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"azure.com\";s:13:\"x-serviceName\";s:40:\"applicationinsights-webTestLocations_API\";s:6:\"x-tags\";a:2:{i:0;s:5:\"Azure\";i:1;s:9:\"Microsoft\";}}"
host: management.azure.com
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/syntheticmonitorlocations
  : get:
      description: Gets a list of web test locations available to this Application
        Insights component.
      operationId: webTestLocations_List
      parameters:
      - $ref: '#/parameters/ResourceGroupNameParameter'
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/SubscriptionIdParameter'
      - $ref: '#/parameters/ResourceNameParameter'
      responses:
        200:
          description: A list containing 0 or more web test location names available
            to the Application Insights component.
          schema:
            $ref: '#/definitions/ApplicationInsightsWebTestLocationsListResult'
      x-ms-examples:
        WebTestLocationsList:
          parameters:
            api-version: "2015-05-01"
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            200:
              body:
              - DisplayName: 'US : IL-Chicago'
                Tag: us-il-ch1-azr
              - DisplayName: 'NL : Amsterdam'
                Tag: emea-nl-ams-azr
              - DisplayName: 'SG : Singapore'
                Tag: apac-sg-sin-azr
              - DisplayName: 'US : CA-San Jose'
                Tag: us-ca-sjc-azr
              - DisplayName: 'US : TX-San Antonio'
                Tag: us-tx-sn1-azr
              - DisplayName: 'US : VA-Ashburn'
                Tag: us-va-ash-azr
              - DisplayName: 'HK : Hong Kong'
                Tag: apac-hk-hkn-azr
              - DisplayName: 'IE : Dublin'
                Tag: emea-gb-db3-azr
              - DisplayName: 'JP : Kawaguchi'
                Tag: apac-jp-kaw-edge
              - DisplayName: 'AU : Sydney'
                Tag: emea-au-syd-edge
              - DisplayName: 'CH : Zurich'
                Tag: emea-ch-zrh-edge
              - DisplayName: 'FR : Paris'
                Tag: emea-fr-pra-edge
              - DisplayName: 'RU : Moscow'
                Tag: emea-ru-msa-edge
              - DisplayName: 'SE : Stockholm'
                Tag: emea-se-sto-edge
              - DisplayName: 'BR : Sao Paulo'
                Tag: latam-br-gru-edge
              - DisplayName: 'US : FL-Miami'
                Tag: us-fl-mia-edge
      x-ms-pageable: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:43:\"ApplicationInsightsComponentWebTestLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Properties
  that define a web test location available to an Application Insights Component.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DisplayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  display name of the web test location.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"Tag\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Internally
  defined geographic location tag.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:45:\"ApplicationInsightsWebTestLocationsListResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"Describes
  the list of web test locations available to an Application Insights Component.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  of web test locations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/ApplicationInsightsComponentWebTestLocation\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}}}"
...
