---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:2:\"v1\";s:5:\"title\";s:7:\"Axonize\";s:11:\"description\";s:263:\"This
  is the axonize api, welcome! \r\n We have both OData and WebApi controllers. To
  start trying out endpoints first run the login method in the Auth controller and
  then paste the token that is returned inside the textbox that says api_key on the
  top of this page.\";}"
host: api.axonize.com
paths:
  /api/featureSet:
    get:
      tags:
      - FeatureSet
      summary: Get featureSets
      operationId: FeatureSet_Get
      consumes: []
      produces:
      - application/json
      - text/json
      - text/xml
      responses:
        200:
          description: OK
          schema:
            type: object
    post:
      tags:
      - FeatureSet
      summary: Create featureSet
      operationId: FeatureSet_Post
      consumes:
      - application/json
      - text/json
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: entity
        in: body
        description: ""
        required: true
        schema:
          $ref: '#/definitions/FeatureSet'
      responses:
        200:
          description: OK
          schema:
            type: object
  /api/dashboards:
    post:
      tags:
      - Dashboards
      summary: Create dashboard
      operationId: Dashboards_Post
      consumes:
      - application/json
      - text/json
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: entity
        in: body
        description: ""
        required: true
        schema:
          $ref: '#/definitions/Dashboard'
      responses:
        200:
          description: OK
          schema:
            type: object
  /api/dashboards/{id}:
    get:
      tags:
      - Dashboards
      summary: Get dashboard by id
      operationId: Dashboards_GetDashboardById
      consumes: []
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: id
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
    put:
      tags:
      - Dashboards
      summary: Put dashboard by id
      operationId: Dashboards_PutById
      consumes:
      - application/json
      - text/json
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: id
        in: path
        description: ""
        required: true
        type: string
      - name: entity
        in: body
        description: ""
        required: true
        schema:
          $ref: '#/definitions/Dashboard'
      responses:
        200:
          description: OK
          schema:
            type: object
    delete:
      tags:
      - Dashboards
      summary: Delete dashboard by id
      operationId: Dashboards_DeleteById
      consumes: []
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: id
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
    patch:
      tags:
      - Dashboards
      summary: Update dashboard by id
      operationId: Dashboards_PatchById
      consumes:
      - application/json
      - text/json
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: id
        in: path
        description: ""
        required: true
        type: string
      - name: delta
        in: body
        description: ""
        required: true
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
  /api/auth/roles:
    get:
      tags:
      - Auth
      summary: Gets the user's roles
      operationId: Auth_Roles
      consumes: []
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: deleteCache
        in: query
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            type: object
  /api/auth/login:
    post:
      tags:
      - Auth
      summary: Log in to the system, returns a token that can be used for authenticating
        calls
      operationId: Auth_Login
      consumes:
      - application/json
      - text/json
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: loginDetails
        in: body
        description: The login details.
        required: true
        schema:
          $ref: '#/definitions/UserLogin'
      responses:
        200:
          description: OK
          schema:
            type: object
  /api/locales/{locale}:
    get:
      tags:
      - Locales
      summary: Get all locales
      operationId: Locales_GetLanguageDictionaryServiceByLocale
      consumes: []
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: locale
        in: path
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
  /api/charts/createChart:
    post:
      tags:
      - Charts
      summary: Execute a dynamic create chart request and return data points
      operationId: Charts_CreateChart
      consumes:
      - application/json
      - text/json
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: chart
        in: body
        description: The chart definition object
        required: true
        schema:
          $ref: '#/definitions/Chart'
      responses:
        200:
          description: OK
          schema:
            type: object
  /api/auth/validateToken:
    get:
      tags:
      - Auth
      summary: Validates token sent in header request
      operationId: Auth_ValidateToken
      consumes: []
      produces:
      - application/json
      - text/json
      - text/xml
      responses:
        200:
          description: OK
          schema:
            type: object
  /api/commands/sendCommand:
    post:
      tags:
      - Commands
      summary: Sends a command
      operationId: Commands_SendCommand
      consumes:
      - application/json
      - text/json
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: commandRequest
        in: body
        description: ""
        required: true
        schema:
          $ref: '#/definitions/CommandRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CommandResponse'
  /api/charts/exportChartToCSV:
    post:
      tags:
      - Charts
      summary: Execute a dynamic create chart request and return a csv file
      operationId: Charts_ExportChartToCSV
      consumes:
      - application/json
      - text/json
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: chart
        in: body
        description: The chart definition object
        required: true
        schema:
          $ref: '#/definitions/Chart'
      responses:
        200:
          description: OK
          schema:
            type: object
  /api/analytics/getGpsHistory:
    post:
      tags:
      - Analytics
      summary: Gets the GPS history
      operationId: Analytics_GetGPSHistory
      consumes:
      - application/json
      - text/json
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: request
        in: body
        description: The request.
        required: true
        schema:
          $ref: '#/definitions/GPSHistoryRequest'
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GPSReadingDTO'
  /api/featureSet/appId/{appId}:
    get:
      tags:
      - FeatureSet
      summary: Get featureSet by app id
      operationId: FeatureSet_GetByAppId
      consumes: []
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: appId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
  /api/locales/supportedLanguages:
    get:
      tags:
      - Locales
      summary: Return supported locales
      operationId: Locales_GetSupportedLanguages
      consumes: []
      produces:
      - application/json
      - text/json
      - text/xml
      responses:
        200:
          description: OK
          schema:
            type: object
  /api/dashboards/getByAppId/{appId}:
    get:
      tags:
      - Dashboards
      summary: Get dashboard by appId
      operationId: Dashboards_GetDashboardByAppId
      consumes: []
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: appId
        in: path
        description: ""
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
  /api/auth/resendmultifactorbindingcode:
    post:
      tags:
      - Auth
      summary: Resend the multifactor binding code to the user
      operationId: Auth_ResendMultifactorBindingCode
      consumes:
      - application/json
      - text/json
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: resendDetails
        in: body
        description: ""
        required: true
        schema:
          $ref: '#/definitions/ResendMultifactorBindingRequest'
      responses:
        200:
          description: OK
          schema:
            type: object
  /api/auth/verifymultifactorbindingcode:
    post:
      tags:
      - Auth
      summary: Log in to the system using Multifactor Authentication parameters, returns
        a token that can be used for authenticating calls
      operationId: Auth_VerifyMultifactorBindingCode
      consumes:
      - application/json
      - text/json
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: loginDetails
        in: body
        description: The login details.
        required: true
        schema:
          $ref: '#/definitions/VerifyMultifactorBindingRequest'
      responses:
        200:
          description: OK
          schema:
            type: object
  /api/featureSet/unlock/{featureSetId}/{featureId}:
    post:
      tags:
      - FeatureSet
      summary: Unlock feature from featureSet
      operationId: FeatureSet_UnlockByFeaturesetidAndFeatureid
      consumes: []
      produces:
      - application/json
      - text/json
      - text/xml
      parameters:
      - name: featureSetId
        in: path
        required: true
        type: string
      - name: featureId
        in: path
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
  /odata/users:
    get:
      tags:
      - Users
      summary: Get all users
      operationId: Users_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filters the results, based on a Boolean condition.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Sorts the results.
        required: false
        type: string
      - name: $top
        in: query
        description: Returns only the first n results.
        required: false
        type: integer
        format: int32
      - name: $skip
        in: query
        description: Skips the first n results.
        required: false
        type: integer
        format: int32
      - name: $count
        in: query
        description: Includes a count of the matching results in the response.
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ODataResponse[List[UserEntity]]'
      deprecated: false
    post:
      tags:
      - Users
      summary: Create a new user
      operationId: Users_Post
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: userEntity
        in: body
        description: The entity to post
        required: true
        schema:
          $ref: '#/definitions/UserEntity'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/rules:
    get:
      tags:
      - Rules
      summary: Get all rules
      operationId: Rules_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filters the results, based on a Boolean condition.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Sorts the results.
        required: false
        type: string
      - name: $top
        in: query
        description: Returns only the first n results.
        required: false
        type: integer
        format: int32
      - name: $skip
        in: query
        description: Skips the first n results.
        required: false
        type: integer
        format: int32
      - name: $count
        in: query
        description: Includes a count of the matching results in the response.
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ODataResponse[List[Rule]]'
      deprecated: false
    post:
      tags:
      - Rules
      summary: Create a new rule
      operationId: Rules_Post
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: rule
        in: body
        description: The entity to post
        required: true
        schema:
          $ref: '#/definitions/Rule'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/groups:
    get:
      tags:
      - Groups
      summary: Get all groups
      operationId: Groups_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filters the results, based on a Boolean condition.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Sorts the results.
        required: false
        type: string
      - name: $top
        in: query
        description: Returns only the first n results.
        required: false
        type: integer
        format: int32
      - name: $skip
        in: query
        description: Skips the first n results.
        required: false
        type: integer
        format: int32
      - name: $count
        in: query
        description: Includes a count of the matching results in the response.
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ODataResponse[List[Group]]'
      deprecated: false
    post:
      tags:
      - Groups
      summary: Create a new group
      operationId: Groups_Post
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: Group
        in: body
        description: The entity to post
        required: true
        schema:
          $ref: '#/definitions/Group'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/audits:
    get:
      tags:
      - Audits
      summary: Get all audit entries
      operationId: Audits_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filters the results, based on a Boolean condition.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Sorts the results.
        required: false
        type: string
      - name: $top
        in: query
        description: Returns only the first n results.
        required: false
        type: integer
        format: int32
      - name: $skip
        in: query
        description: Skips the first n results.
        required: false
        type: integer
        format: int32
      - name: $count
        in: query
        description: Includes a count of the matching results in the response.
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ODataResponse[List[Audit]]'
      deprecated: false
    post:
      tags:
      - Audits
      summary: Create a new audit entry
      operationId: Audits_Post
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: audit
        in: body
        description: The entity to post
        required: true
        schema:
          $ref: '#/definitions/Audit'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Audit'
      deprecated: false
  /odata/tenants:
    get:
      tags:
      - Tenants
      summary: Get all tenants
      operationId: Tenants_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filters the results, based on a Boolean condition.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Sorts the results.
        required: false
        type: string
      - name: $top
        in: query
        description: Returns only the first n results.
        required: false
        type: integer
        format: int32
      - name: $skip
        in: query
        description: Skips the first n results.
        required: false
        type: integer
        format: int32
      - name: $count
        in: query
        description: Includes a count of the matching results in the response.
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ODataResponse[List[Tenant]]'
      deprecated: false
    post:
      tags:
      - Tenants
      summary: Create a new tenant
      operationId: Tenants_Post
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: tenant
        in: body
        description: The entity to post
        required: true
        schema:
          $ref: '#/definitions/Tenant'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/reports:
    get:
      tags:
      - Reports
      summary: Get all reports
      operationId: Reports_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filters the results, based on a Boolean condition.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Sorts the results.
        required: false
        type: string
      - name: $top
        in: query
        description: Returns only the first n results.
        required: false
        type: integer
        format: int32
      - name: $skip
        in: query
        description: Skips the first n results.
        required: false
        type: integer
        format: int32
      - name: $count
        in: query
        description: Includes a count of the matching results in the response.
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ODataResponse[List[Report]]'
      deprecated: false
    post:
      tags:
      - Reports
      summary: Create a new report
      operationId: Reports_Post
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: report
        in: body
        description: The entity to post
        required: true
        schema:
          $ref: '#/definitions/Report'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Report'
      deprecated: false
  /odata/devices:
    get:
      tags:
      - Devices
      summary: Get all devices
      operationId: Devices_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filters the results, based on a Boolean condition.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Sorts the results.
        required: false
        type: string
      - name: $top
        in: query
        description: Returns only the first n results.
        required: false
        type: integer
        format: int32
      - name: $skip
        in: query
        description: Skips the first n results.
        required: false
        type: integer
        format: int32
      - name: $count
        in: query
        description: Includes a count of the matching results in the response.
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ODataResponse[List[Device]]'
      deprecated: false
    post:
      tags:
      - Devices
      summary: Create a device
      operationId: Devices_Post
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: device
        in: body
        description: The entity to post
        required: true
        schema:
          $ref: '#/definitions/Device'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Device'
      deprecated: false
  /odata/products:
    get:
      tags:
      - Products
      summary: Get all products
      operationId: Products_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filters the results, based on a Boolean condition.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Sorts the results.
        required: false
        type: string
      - name: $top
        in: query
        description: Returns only the first n results.
        required: false
        type: integer
        format: int32
      - name: $skip
        in: query
        description: Skips the first n results.
        required: false
        type: integer
        format: int32
      - name: $count
        in: query
        description: Includes a count of the matching results in the response.
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ODataResponse[List[Product]]'
      deprecated: false
    post:
      tags:
      - Products
      summary: Create a new product
      operationId: Products_Post
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: product
        in: body
        description: The entity to post
        required: true
        schema:
          $ref: '#/definitions/Product'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/rules/{id}:
    get:
      tags:
      - Rules
      summary: Get rule by id
      operationId: Rules_GetById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Rule'
      deprecated: false
    put:
      tags:
      - Rules
      summary: Update rule
      operationId: Rules_PutById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: rule
        in: body
        description: The entity to put
        required: true
        schema:
          $ref: '#/definitions/Rule'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    delete:
      tags:
      - Rules
      summary: Delete a rule
      operationId: Rules_DeleteById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: If-Match
        in: header
        description: If-Match header
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    patch:
      tags:
      - Rules
      summary: Patch a rule
      operationId: Rules_PatchById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: rule
        in: body
        description: The entity to patch
        required: true
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/users/{id}:
    get:
      tags:
      - Users
      summary: Get user by id
      operationId: Users_GetById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/UserEntity'
      deprecated: false
    put:
      tags:
      - Users
      summary: Update an user
      operationId: Users_PutById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: userEntity
        in: body
        description: The entity to put
        required: true
        schema:
          $ref: '#/definitions/UserEntity'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    delete:
      tags:
      - Users
      summary: Delete an user
      operationId: Users_DeleteById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: If-Match
        in: header
        description: If-Match header
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    patch:
      tags:
      - Users
      summary: Patch an user
      operationId: Users_PatchById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: userEntity
        in: body
        description: The entity to patch
        required: true
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/audits/{id}:
    get:
      tags:
      - Audits
      summary: Get audit entry by id
      operationId: Audits_GetById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Audit'
      deprecated: false
    put:
      tags:
      - Audits
      summary: Update an audit entry
      operationId: Audits_PutById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: audit
        in: body
        description: The entity to put
        required: true
        schema:
          $ref: '#/definitions/Audit'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    delete:
      tags:
      - Audits
      summary: Delete an audit entry
      operationId: Audits_DeleteById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: If-Match
        in: header
        description: If-Match header
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    patch:
      tags:
      - Audits
      summary: Patch an audit entry
      operationId: Audits_PatchById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: audit
        in: body
        description: The entity to patch
        required: true
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/groups/{id}:
    get:
      tags:
      - Groups
      summary: Get group by id
      operationId: Groups_GetById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Group'
      deprecated: false
    put:
      tags:
      - Groups
      summary: Update a group
      operationId: Groups_PutById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: Group
        in: body
        description: The entity to put
        required: true
        schema:
          $ref: '#/definitions/Group'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    delete:
      tags:
      - Groups
      summary: Delete a group
      operationId: Groups_DeleteById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: If-Match
        in: header
        description: If-Match header
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    patch:
      tags:
      - Groups
      summary: Patch a group
      operationId: Groups_PatchById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: Group
        in: body
        description: The entity to patch
        required: true
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/devices/{id}:
    get:
      tags:
      - Devices
      summary: Get device by id
      operationId: Devices_GetById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Device'
      deprecated: false
    put:
      tags:
      - Devices
      summary: Update a device
      operationId: Devices_PutById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: device
        in: body
        description: The entity to put
        required: true
        schema:
          $ref: '#/definitions/Device'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    delete:
      tags:
      - Devices
      summary: Delete a device
      operationId: Devices_DeleteById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: If-Match
        in: header
        description: If-Match header
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    patch:
      tags:
      - Devices
      summary: Patch a device
      operationId: Devices_PatchById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: device
        in: body
        description: The entity to patch
        required: true
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/reports/{id}:
    get:
      tags:
      - Reports
      summary: Get report by id
      operationId: Reports_GetById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Report'
      deprecated: false
    put:
      tags:
      - Reports
      summary: Update a report
      operationId: Reports_PutById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: report
        in: body
        description: The entity to put
        required: true
        schema:
          $ref: '#/definitions/Report'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    delete:
      tags:
      - Reports
      summary: Delete a report
      operationId: Reports_DeleteById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: If-Match
        in: header
        description: If-Match header
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    patch:
      tags:
      - Reports
      summary: Patch a report
      operationId: Reports_PatchById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: report
        in: body
        description: The entity to patch
        required: true
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/tenants/{id}:
    get:
      tags:
      - Tenants
      summary: Get tenant by id
      operationId: Tenants_GetById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Tenant'
      deprecated: false
    put:
      tags:
      - Tenants
      summary: Update a tenant
      operationId: Tenants_PutById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: tenant
        in: body
        description: The entity to put
        required: true
        schema:
          $ref: '#/definitions/Tenant'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    delete:
      tags:
      - Tenants
      summary: Delete a tenant
      operationId: Tenants_DeleteById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: If-Match
        in: header
        description: If-Match header
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    patch:
      tags:
      - Tenants
      summary: Patch a tenant
      operationId: Tenants_PatchById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: tenant
        in: body
        description: The entity to patch
        required: true
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/applications:
    get:
      tags:
      - Applications
      summary: Get all applications
      operationId: Applications_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filters the results, based on a Boolean condition.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Sorts the results.
        required: false
        type: string
      - name: $top
        in: query
        description: Returns only the first n results.
        required: false
        type: integer
        format: int32
      - name: $skip
        in: query
        description: Skips the first n results.
        required: false
        type: integer
        format: int32
      - name: $count
        in: query
        description: Includes a count of the matching results in the response.
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ODataResponse[List[Application]]'
      deprecated: false
    post:
      tags:
      - Applications
      summary: Create a new application
      operationId: Applications_Post
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: application
        in: body
        description: The entity to post
        required: true
        schema:
          $ref: '#/definitions/Application'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Application'
      deprecated: false
  /odata/notifications:
    get:
      tags:
      - Notifications
      summary: Get all notifications
      operationId: Notifications_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filters the results, based on a Boolean condition.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Sorts the results.
        required: false
        type: string
      - name: $top
        in: query
        description: Returns only the first n results.
        required: false
        type: integer
        format: int32
      - name: $skip
        in: query
        description: Skips the first n results.
        required: false
        type: integer
        format: int32
      - name: $count
        in: query
        description: Includes a count of the matching results in the response.
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ODataResponse[List[Notification]]'
      deprecated: false
    post:
      tags:
      - Notifications
      summary: Create new notification (Not allowed)
      operationId: Notifications_Post
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: Notification
        in: body
        description: The entity to post
        required: true
        schema:
          $ref: '#/definitions/Notification'
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/products/{id}:
    get:
      tags:
      - Products
      summary: Get product by id
      operationId: Products_GetById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Product'
      deprecated: false
    put:
      tags:
      - Products
      summary: Update a product
      operationId: Products_PutById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: product
        in: body
        description: The entity to put
        required: true
        schema:
          $ref: '#/definitions/Product'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    delete:
      tags:
      - Products
      summary: Delete a product
      operationId: Products_DeleteById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: If-Match
        in: header
        description: If-Match header
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    patch:
      tags:
      - Products
      summary: Patch a product
      operationId: Products_PatchById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: product
        in: body
        description: The entity to patch
        required: true
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/alarmInstances:
    get:
      tags:
      - AlarmInstances
      summary: Get all alarm instances
      operationId: AlarmInstances_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filters the results, based on a Boolean condition.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Sorts the results.
        required: false
        type: string
      - name: $top
        in: query
        description: Returns only the first n results.
        required: false
        type: integer
        format: int32
      - name: $skip
        in: query
        description: Skips the first n results.
        required: false
        type: integer
        format: int32
      - name: $count
        in: query
        description: Includes a count of the matching results in the response.
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ODataResponse[List[AlarmInstance]]'
      deprecated: false
    post:
      tags:
      - AlarmInstances
      summary: Create a new alarm instance
      operationId: AlarmInstances_Post
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: alarmInstances
        in: body
        description: The entity to post
        required: true
        schema:
          $ref: '#/definitions/AlarmInstance'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/tenantTemplates:
    get:
      tags:
      - TenantTemplates
      summary: Get all templates
      operationId: TenantTemplates_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filters the results, based on a Boolean condition.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Sorts the results.
        required: false
        type: string
      - name: $top
        in: query
        description: Returns only the first n results.
        required: false
        type: integer
        format: int32
      - name: $skip
        in: query
        description: Skips the first n results.
        required: false
        type: integer
        format: int32
      - name: $count
        in: query
        description: Includes a count of the matching results in the response.
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ODataResponse[List[TenantTemplate]]'
      deprecated: false
    post:
      tags:
      - TenantTemplates
      summary: Create a new template
      operationId: TenantTemplates_Post
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: tenantTemplates
        in: body
        description: The entity to post
        required: true
        schema:
          $ref: '#/definitions/TenantTemplate'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TenantTemplate'
      deprecated: false
  /odata/eventLogEntries:
    get:
      tags:
      - EventLogEntries
      summary: Get all event log entries
      operationId: EventLogEntries_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filters the results, based on a Boolean condition.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Sorts the results.
        required: false
        type: string
      - name: $top
        in: query
        description: Returns only the first n results.
        required: false
        type: integer
        format: int32
      - name: $skip
        in: query
        description: Skips the first n results.
        required: false
        type: integer
        format: int32
      - name: $count
        in: query
        description: Includes a count of the matching results in the response.
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ODataResponse[List[EventLogEntry]]'
      deprecated: false
    post:
      tags:
      - EventLogEntries
      summary: Create a new event log entry
      operationId: EventLogEntries_Post
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: eventLogEntry
        in: body
        description: The entity to post
        required: true
        schema:
          $ref: '#/definitions/EventLogEntry'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/applications/{id}:
    get:
      tags:
      - Applications
      summary: Get application by id
      operationId: Applications_GetById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Application'
      deprecated: false
    put:
      tags:
      - Applications
      summary: Update an application
      operationId: Applications_PutById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: application
        in: body
        description: The entity to put
        required: true
        schema:
          $ref: '#/definitions/Application'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    delete:
      tags:
      - Applications
      summary: Delete an application
      operationId: Applications_DeleteById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: If-Match
        in: header
        description: If-Match header
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    patch:
      tags:
      - Applications
      summary: Patch an application
      operationId: Applications_PatchById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: application
        in: body
        description: The entity to patch
        required: true
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/notifications/{id}:
    get:
      tags:
      - Notifications
      summary: Get notification by id
      operationId: Notifications_GetById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Notification'
      deprecated: false
    put:
      tags:
      - Notifications
      summary: Update a notification (Not allowed)
      operationId: Notifications_PutById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: Notification
        in: body
        description: The entity to put
        required: true
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    delete:
      tags:
      - Notifications
      summary: Delete a notification (Not allowed)
      operationId: Notifications_DeleteById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: If-Match
        in: header
        description: If-Match header
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    patch:
      tags:
      - Notifications
      summary: Patch a notification (Not allowed)
      operationId: Notifications_PatchById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: Notification
        in: body
        description: The entity to patch
        required: true
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/alarmInstances/{id}:
    get:
      tags:
      - AlarmInstances
      summary: Get alarm instance by id
      operationId: AlarmInstances_GetById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AlarmInstance'
      deprecated: false
    put:
      tags:
      - AlarmInstances
      summary: Update an alarm instance
      operationId: AlarmInstances_PutById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: alarmInstances
        in: body
        description: The entity to put
        required: true
        schema:
          $ref: '#/definitions/AlarmInstance'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    delete:
      tags:
      - AlarmInstances
      summary: Delete an alarm instance
      operationId: AlarmInstances_DeleteById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: If-Match
        in: header
        description: If-Match header
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    patch:
      tags:
      - AlarmInstances
      summary: Patch an alarm instance
      operationId: AlarmInstances_PatchById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: alarmInstances
        in: body
        description: The entity to patch
        required: true
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/eventLogEntries/{id}:
    get:
      tags:
      - EventLogEntries
      summary: Get event log entry by id
      operationId: EventLogEntries_GetById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EventLogEntry'
      deprecated: false
    put:
      tags:
      - EventLogEntries
      summary: Update an event log entry
      operationId: EventLogEntries_PutById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: eventLogEntry
        in: body
        description: The entity to put
        required: true
        schema:
          $ref: '#/definitions/EventLogEntry'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    delete:
      tags:
      - EventLogEntries
      summary: Delete an event log entry
      operationId: EventLogEntries_DeleteById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: If-Match
        in: header
        description: If-Match header
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    patch:
      tags:
      - EventLogEntries
      summary: Patch an event log entry
      operationId: EventLogEntries_PatchById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: eventLogEntry
        in: body
        description: The entity to patch
        required: true
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/tenantTemplates/{id}:
    get:
      tags:
      - TenantTemplates
      summary: Get template by id
      operationId: TenantTemplates_GetById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TenantTemplate'
      deprecated: false
    put:
      tags:
      - TenantTemplates
      summary: Update an template
      operationId: TenantTemplates_PutById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: tenantTemplates
        in: body
        description: The entity to put
        required: true
        schema:
          $ref: '#/definitions/TenantTemplate'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    delete:
      tags:
      - TenantTemplates
      summary: Delete an template
      operationId: TenantTemplates_DeleteById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: If-Match
        in: header
        description: If-Match header
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    patch:
      tags:
      - TenantTemplates
      summary: Patch an template
      operationId: TenantTemplates_PatchById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: tenantTemplates
        in: body
        description: The entity to patch
        required: true
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/applicationTemplates:
    get:
      tags:
      - ApplicationTemplates
      summary: Get all templates
      operationId: ApplicationTemplates_Get
      consumes: []
      produces:
      - application/json
      parameters:
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $filter
        in: query
        description: Filters the results, based on a Boolean condition.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      - name: $orderby
        in: query
        description: Sorts the results.
        required: false
        type: string
      - name: $top
        in: query
        description: Returns only the first n results.
        required: false
        type: integer
        format: int32
      - name: $skip
        in: query
        description: Skips the first n results.
        required: false
        type: integer
        format: int32
      - name: $count
        in: query
        description: Includes a count of the matching results in the response.
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ODataResponse[List[ApplicationTemplate]]'
      deprecated: false
    post:
      tags:
      - ApplicationTemplates
      summary: Create a new template
      operationId: ApplicationTemplates_Post
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: ApplicationTemplate
        in: body
        description: The entity to post
        required: true
        schema:
          $ref: '#/definitions/ApplicationTemplate'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApplicationTemplate'
      deprecated: false
  /odata/applicationTemplates/{id}:
    get:
      tags:
      - ApplicationTemplates
      summary: Get template by id
      operationId: ApplicationTemplates_GetById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: $expand
        in: query
        description: Expands related entities inline.
        required: false
        type: string
      - name: $select
        in: query
        description: Selects which properties to include in the response.
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApplicationTemplate'
      deprecated: false
    put:
      tags:
      - ApplicationTemplates
      summary: Update an template
      operationId: ApplicationTemplates_PutById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: ApplicationTemplate
        in: body
        description: The entity to put
        required: true
        schema:
          $ref: '#/definitions/ApplicationTemplate'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    delete:
      tags:
      - ApplicationTemplates
      summary: Delete an template
      operationId: ApplicationTemplates_DeleteById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: If-Match
        in: header
        description: If-Match header
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
    patch:
      tags:
      - ApplicationTemplates
      summary: Patch an template
      operationId: ApplicationTemplates_PatchById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: ApplicationTemplate
        in: body
        description: The entity to patch
        required: true
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/users/me:
    get:
      tags:
      - Users
      summary: Returns current user
      operationId: Users_Me
      consumes: []
      produces:
      - application/json
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/users/invite:
    post:
      tags:
      - Users
      summary: Create user with invite mail
      operationId: Users_Invite
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: invite action parameters
        required: false
        schema:
          type: object
          properties:
            user:
              $ref: '#/definitions/UserEntity'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/applications/url:
    post:
      tags:
      - Applications
      summary: Validates token sent in header request
      operationId: Applications_url
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: url action parameters
        required: false
        schema:
          type: object
          properties:
            url:
              type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/users/unblockUser:
    post:
      tags:
      - Users
      summary: Unblocks a user
      operationId: Users_UnblockUser
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            userId:
              type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/reports/{id}/share:
    post:
      tags:
      - Reports
      summary: Share report between applications and tenants
      operationId: Reports_ShareById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            applicationIds:
              type: array
              items:
                type: string
            tenantIds:
              type: array
              items:
                type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/users/validateEmail:
    post:
      tags:
      - Users
      summary: Validates user email
      operationId: Users_validateEmail
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            email:
              type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/users/resetPassword:
    post:
      tags:
      - Users
      summary: Reset password by admin
      operationId: Users_ResetPassword
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            userId:
              type: string
            url:
              type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/alarmInstances/clear:
    post:
      tags:
      - AlarmInstances
      summary: Clears (deletes) the selected alarm instances
      operationId: AlarmInstances_Clear
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: The parameters.
        required: false
        schema:
          type: object
          properties:
            ids:
              type: array
              items:
                type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/reports/{id}/unShare:
    post:
      tags:
      - Reports
      summary: Un-share report between applications and tenants
      operationId: Reports_UnShareById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            applicationIds:
              type: array
              items:
                type: string
            tenantIds:
              type: array
              items:
                type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/users/changePassword:
    post:
      tags:
      - Users
      summary: Change Password
      operationId: Users_ChangePassword
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            password:
              type: string
            invite:
              type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ChangePasswordResponse'
      deprecated: false
  /odata/users/forgotPassword:
    post:
      tags:
      - Users
      summary: User Forgot the password
      operationId: Users_ForgotPassword
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            email:
              type: string
            url:
              type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/users/updatePassword:
    post:
      tags:
      - Users
      summary: Update the password by the user itself
      operationId: Users_UpdatePassword
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            oldPassword:
              type: string
            newPassword:
              type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/alarmInstances/snooze:
    post:
      tags:
      - AlarmInstances
      summary: Snooze the selected alarm instances
      operationId: AlarmInstances_Snooze
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: The parameters.
        required: true
        schema:
          required:
          - snoozeTimeInMinutes
          type: object
          properties:
            snoozeTimeInMinutes:
              format: int32
              type: integer
            ids:
              type: array
              items:
                type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/alarmInstances/dismiss:
    post:
      tags:
      - AlarmInstances
      summary: Dismisses (closes) the selected alarm instances
      operationId: AlarmInstances_Dismiss
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: The parameters.
        required: false
        schema:
          type: object
          properties:
            ids:
              type: array
              items:
                type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/reports/{id}/subscribe:
    post:
      tags:
      - Reports
      summary: subscribe user to report
      operationId: Reports_SubscribeById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            subscriber:
              $ref: '#/definitions/Subscriber'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/alarmInstances/deleteAll:
    post:
      tags:
      - AlarmInstances
      summary: Deletes all alarm instance for current application
      operationId: AlarmInstances_deleteAll
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties: []
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/reports/{id}/unsubscribe:
    post:
      tags:
      - Reports
      summary: unsubscribe
      operationId: Reports_UnSubscribeById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            subscriber:
              $ref: '#/definitions/Subscriber'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/devices/{id}/sendCommand:
    post:
      tags:
      - Devices
      summary: Send a command to the device
      operationId: Devices_SendCommandById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: parameters
        in: body
        description: The parameters.
        required: false
        schema:
          type: object
          properties:
            message:
              type: string
            commandId:
              type: string
            commandArgument:
              $ref: '#/definitions/CommandArgument'
            deviceIds:
              type: array
              items:
                type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/alarmInstances/dismissAll:
    post:
      tags:
      - AlarmInstances
      summary: Dismisses all alarm instances for current application
      operationId: AlarmInstances_dismissAll
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties: []
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/eventLogEntries/deleteAll:
    post:
      tags:
      - EventLogEntries
      summary: Delete all event log entries
      operationId: EventLogEntries_deleteAll
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties: []
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/devices/{id}/removesetting:
    post:
      tags:
      - Devices
      summary: Remove setting from device
      operationId: Devices_RemoveSettingById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            settingName:
              type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/devices/createVirtualDevice:
    post:
      tags:
      - Devices
      summary: Create a new virtual device
      operationId: Devices_createVirtualDevice
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: The virtual Device
        required: false
        schema:
          type: object
          properties:
            virtualDevice:
              $ref: '#/definitions/VirtualDeviceDTO'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/devices/{id}/updatesettings:
    post:
      tags:
      - Devices
      summary: Update settings for device
      operationId: Devices_UpdateSettingsById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            settings:
              type: array
              items:
                $ref: '#/definitions/Setting'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/devices/{id}/getFullReading:
    post:
      tags:
      - Devices
      summary: Returns all the readings for a specific device by time range and event
        types
      operationId: Devices_GetFullReadingById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: parameters
        in: body
        description: The parameters.
        required: true
        schema:
          required:
          - startDate
          - endDate
          type: object
          properties:
            startDate:
              format: date-time
              type: string
            endDate:
              format: date-time
              type: string
            events:
              type: array
              items:
                $ref: '#/definitions/EventDesc'
            timezone:
              type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/reports/{id}/sendReportEmail:
    post:
      tags:
      - Reports
      summary: Sends a report email
      operationId: Reports_SendReportEmailById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            subscriberUserId:
              type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/devices/getNextReadingScroll:
    post:
      tags:
      - Devices
      summary: Returns all the readings for a specific device by the last scrollId
        and scrollId for the next page
      operationId: Devices_GetNextReadingScroll
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: The parameters.
        required: false
        schema:
          type: object
          properties:
            scrollId:
              type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/reports/{id}/editSubscription:
    post:
      tags:
      - Reports
      summary: Edit subscription
      operationId: Reports_EditSubscriptionById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            subscriber:
              $ref: '#/definitions/Subscriber'
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/devices/{id}/generateSASToken:
    post:
      tags:
      - Devices
      summary: Generate SAS token for device
      operationId: Devices_GenerateSASTokenById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: parameters
        in: body
        description: The parameters.
        required: true
        schema:
          required:
          - daysTTL
          type: object
          properties:
            daysTTL:
              format: int32
              type: integer
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/devices/{id}/stopVirtualDevice:
    post:
      tags:
      - Devices
      summary: Stop virtual device
      operationId: Devices_StopVirtualDeviceById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: StopVirtualDeviceActionParameters
        in: body
        description: StopVirtualDevice action parameters
        required: false
        schema:
          type: object
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/applications/{id}/getAppSecret:
    get:
      tags:
      - Applications
      summary: Returns the app secret
      operationId: Applications_getAppSecretById
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/reports/{id}/generateReportFile:
    post:
      tags:
      - Reports
      summary: Generate report file
      operationId: Reports_GenerateReportFileById
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: 'key: id'
        required: true
        type: string
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            key:
              type: string
            type:
              type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/devices/getFullReadingWithScroll:
    post:
      tags:
      - Devices
      summary: Returns all the readings for a specific device by time range and event
        types and scrollId for the next page
      operationId: Devices_GetFullReadingWithScroll
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: The parameters.
        required: true
        schema:
          required:
          - startDate
          - endDate
          type: object
          properties:
            startDate:
              format: date-time
              type: string
            endDate:
              format: date-time
              type: string
            events:
              type: array
              items:
                $ref: '#/definitions/EventDesc'
            timezone:
              type: string
            deviceIds:
              type: array
              items:
                type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/reports/generateUnSavedReportFile:
    post:
      tags:
      - Reports
      summary: Generates an ad hoc report file
      operationId: Reports_GenerateUnSavedReportFile
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: ""
        required: false
        schema:
          type: object
          properties:
            report:
              $ref: '#/definitions/Report'
            type:
              type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/devices/sendCommandToMultipleDevices:
    post:
      tags:
      - Devices
      summary: Send a command to multiple devices
      operationId: Devices_SendCommandToMultipleDevices
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: The parameters.
        required: false
        schema:
          type: object
          properties:
            message:
              type: string
            commandId:
              type: string
            commandArgument:
              $ref: '#/definitions/CommandArgument'
            deviceIds:
              type: array
              items:
                type: string
            value:
              type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/applications/setDefaultPhoneCountryCode:
    post:
      tags:
      - Applications
      summary: Sets the default phone country code
      operationId: Applications_setDefaultPhoneCountryCode
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: The parameters.
        required: false
        schema:
          type: object
          properties:
            masterAppId:
              type: string
            phoneCountryCode:
              type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/devices/getFullReadingForMultipleDevices:
    post:
      tags:
      - Devices
      summary: Returns all the readings for multiple devices by time range and event
        types
      operationId: Devices_GetFullReadingForMultipleDevices
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: parameters
        in: body
        description: The parameters.
        required: true
        schema:
          required:
          - startDate
          - endDate
          type: object
          properties:
            startDate:
              format: date-time
              type: string
            endDate:
              format: date-time
              type: string
            events:
              type: array
              items:
                $ref: '#/definitions/EventDesc'
            timezone:
              type: string
            keys:
              type: array
              items:
                type: string
      responses:
        200:
          description: OK
          schema:
            type: object
      deprecated: false
  /odata/devices/sendCommandWithMultipleArguments:
    post:
      tags:
      - Devices
      summary: Send a command to multiple devices
      operationId: Devices_SendCommandWithMultipleArguments
      consumes:
      - application/json
      produces:
[...]
