---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1867:\"<fullname>AWS
  Health</fullname> <p>The AWS Health API provides programmatic access to the AWS
  Health information that is presented in the <a href=\"https://phd.aws.amazon.com/phd/home#/\">AWS
  Personal Health Dashboard</a>. You can get information about events that affect
  your AWS resources:</p> <ul> <li> <p> <a>DescribeEvents</a>: Summary information
  about events.</p> </li> <li> <p> <a>DescribeEventDetails</a>: Detailed information
  about one or more events.</p> </li> <li> <p> <a>DescribeAffectedEntities</a>: Information
  about AWS resources that are affected by one or more events.</p> </li> </ul> <p>In
  addition, these operations provide information about event types and summary counts
  of events or affected entities:</p> <ul> <li> <p> <a>DescribeEventTypes</a>: Information
  about the kinds of events that AWS Health tracks.</p> </li> <li> <p> <a>DescribeEventAggregates</a>:
  A count of the number of events that meet specified criteria.</p> </li> <li> <p>
  <a>DescribeEntityAggregates</a>: A count of the number of affected entities that
  meet specified criteria.</p> </li> </ul> <p>The Health API requires a Business or
  Enterprise support plan from <a href=\"http://aws.amazon.com/premiumsupport/\">AWS
  Support</a>. Calling the Health API from an account that does not have a Business
  or Enterprise support plan causes a <code>SubscriptionRequiredException</code>.
  </p> <p>For authentication of requests, AWS Health uses the <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature
  Version 4 Signing Process</a>.</p> <p>See the <a href=\"http://docs.aws.amazon.com/health/latest/ug/what-is-aws-health.html\">AWS
  Health User Guide</a> for information about how to use the API.</p> <p> <b>Service
  Endpoint</b> </p> <p>The HTTP endpoint for the AWS Health API is:</p> <ul> <li>
  <p>https://health.us-east-1.amazonaws.com </p> </li> </ul>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:33:\"AWS
  Health APIs and Notifications\";s:7:\"version\";s:10:\"2016-08-04\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:90:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/health-2016-08-04.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:6:\"health\";}"
host: health.amazonaws.com
basePath: /
paths:
  /:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Returns a list of entities that have been affected by the specified
        events, based on the specified filter criteria. Entities can refer to individual
        customer resources, groups of customer resources, or any other construct,
        depending on the AWS service. Events that have impact beyond that of the affected
        entities, or where the extent of impact is unknown, include at least one entity
        indicating this.</p> <p>At least one event ARN is required. Results are sorted
        by the <code>lastUpdatedTime</code> of the entity, starting with the most
        recent.</p>
      operationId: DescribeAffectedEntities
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeAffectedEntitiesRequest'
      - description: Pagination limit
        in: query
        name: maxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: nextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeAffectedEntitiesResponse'
        480:
          description: InvalidPaginationToken
          schema:
            $ref: '#/definitions/InvalidPaginationToken'
        481:
          description: UnsupportedLocale
          schema:
            $ref: '#/definitions/UnsupportedLocale'
  /#DescribeEntityAggregates:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the number of entities that are affected by each of the
        specified events. If no events are specified, the counts of all affected entities
        are returned.
      operationId: DescribeEntityAggregates
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeEntityAggregatesRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeEntityAggregatesResponse'
  /#DescribeEventAggregates:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the number of events of each event type (issue, scheduled
        change, and account notification). If no filter is specified, the counts of
        all events in each category are returned.
      operationId: DescribeEventAggregates
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeEventAggregatesRequest'
      - description: Pagination limit
        in: query
        name: maxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: nextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventAggregatesResponse'
        480:
          description: InvalidPaginationToken
          schema:
            $ref: '#/definitions/InvalidPaginationToken'
  /#DescribeEventDetails:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Returns detailed information about one or more specified events.
        Information includes standard event data (region, service, etc., as returned
        by <a>DescribeEvents</a>), a detailed event description, and possible additional
        metadata that depends upon the nature of the event. Affected entities are
        not included; to retrieve those, use the <a>DescribeAffectedEntities</a> operation.</p>
        <p>If a specified event cannot be retrieved, an error message is returned
        for that event.</p>
      operationId: DescribeEventDetails
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeEventDetailsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventDetailsResponse'
        480:
          description: UnsupportedLocale
          schema:
            $ref: '#/definitions/UnsupportedLocale'
  /#DescribeEventTypes:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the event types that meet the specified filter criteria.
        If no filter criteria are specified, all event types are returned, in no particular
        order.
      operationId: DescribeEventTypes
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeEventTypesRequest'
      - description: Pagination limit
        in: query
        name: maxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: nextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventTypesResponse'
        480:
          description: InvalidPaginationToken
          schema:
            $ref: '#/definitions/InvalidPaginationToken'
        481:
          description: UnsupportedLocale
          schema:
            $ref: '#/definitions/UnsupportedLocale'
  /#DescribeEvents:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Returns information about events that meet the specified filter
        criteria. Events are returned in a summary form and do not include the detailed
        description, any additional metadata that depends on the event type, or any
        affected resources. To retrieve that information, use the <a>DescribeEventDetails</a>
        and <a>DescribeAffectedEntities</a> operations.</p> <p>If no filter criteria
        are specified, all events are returned. Results are sorted by <code>lastModifiedTime</code>,
        starting with the most recent.</p>
      operationId: DescribeEvents
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeEventsRequest'
      - description: Pagination limit
        in: query
        name: maxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: nextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventsResponse'
        480:
          description: InvalidPaginationToken
          schema:
            $ref: '#/definitions/InvalidPaginationToken'
        481:
          description: UnsupportedLocale
          schema:
            $ref: '#/definitions/UnsupportedLocale'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":75:{s:14:\"AffectedEntity\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Information
  about an entity that is affected by a Health event.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"awsAccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/accountId\";s:11:\"description\";s:66:\"The
  12-digit AWS account number that contains the affected entity.\";}s:9:\"entityArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/entityArn\";s:11:\"description\";s:228:\"The
  unique identifier for the entity. Format: <code>arn:aws:health:<i>entity-region</i>:<i>aws-account</i>:entity/<i>entity-id</i>
  </code>. Example: <code>arn:aws:health:us-east-1:111222333444:entity/AVh5GGT7ul1arKr1sE1K</code>
  \";}s:11:\"entityValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/entityValue\";s:11:\"description\";s:30:\"The
  ID of the affected entity.\";}s:8:\"eventArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/eventArn\";s:11:\"description\";s:315:\"The
  unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>
  </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>
  \";}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/timestamp\";s:11:\"description\";s:49:\"The
  most recent time that the entity was updated.\";}s:10:\"statusCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/entityStatusCode\";s:11:\"description\";s:157:\"The
  most recent status of the entity affected by the event. The possible values are
  <code>IMPAIRED</code>, <code>UNIMPAIRED</code>, and <code>UNKNOWN</code>.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/tagSet\";s:11:\"description\";s:53:\"A
  map of entity tags attached to the affected entity.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DateTimeRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:601:\"A
  range of dates and times that is used by the <a>EventFilter</a> and <a>EntityFilter</a>
  objects. If <code>from</code> is set and <code>to</code> is set: match items where
  the timestamp (<code>startTime</code>, <code>endTime</code>, or <code>lastUpdatedTime</code>)
  is between <code>from</code> and <code>to</code> inclusive. If <code>from</code>
  is set and <code>to</code> is not set: match items where the timestamp value is
  equal to or after <code>from</code>. If <code>from</code> is not set and <code>to</code>
  is set: match items where the timestamp value is equal to or before <code>to</code>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/timestamp\";s:11:\"description\";s:43:\"The
  starting date and time of a time range.\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/timestamp\";s:11:\"description\";s:41:\"The
  ending date and time of a time range.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeAffectedEntitiesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EntityFilter\";s:11:\"description\";s:75:\"Values
  to narrow the results returned. At least one event ARN is required. \";}s:6:\"locale\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/locale\";s:11:\"description\";s:118:\"The
  locale (language) to return information in. English (en) is the default and the
  only supported value at this time.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/maxResults\";s:11:\"description\";s:82:\"The
  maximum number of items to return in one batch, between 10 and 100, inclusive.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/nextToken\";s:11:\"description\";s:347:\"If
  the results of a search are large, only a portion of the results are returned, and
  a <code>nextToken</code> pagination token is returned in the response. To retrieve
  the next batch of results, reissue the search request and include the returned token.
  When all results have been returned, the response does not contain a pagination
  token value.\";}}s:8:\"required\";a:1:{i:0;s:6:\"filter\";}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeAffectedEntitiesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"entities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EntityList\";s:11:\"description\";s:44:\"The
  entities that match the filter criteria.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/nextToken\";s:11:\"description\";s:347:\"If
  the results of a search are large, only a portion of the results are returned, and
  a <code>nextToken</code> pagination token is returned in the response. To retrieve
  the next batch of results, reissue the search request and include the returned token.
  When all results have been returned, the response does not contain a pagination
  token value.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeEntityAggregatesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"eventArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EventArnsList\";s:11:\"description\";s:282:\"A
  list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\",
  \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>
  \";}}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeEntityAggregatesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"entityAggregates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EntityAggregateList\";s:11:\"description\";s:73:\"The
  number of entities that are affected by each of the specified events.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeEventAggregatesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"aggregateField\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/eventAggregateField\";s:11:\"description\";s:69:\"The
  only currently supported value is <code>eventTypeCategory</code>.\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/EventFilter\";s:11:\"description\";s:38:\"Values
  to narrow the results returned.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/maxResults\";s:11:\"description\";s:82:\"The
  maximum number of items to return in one batch, between 10 and 100, inclusive.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/nextToken\";s:11:\"description\";s:347:\"If
  the results of a search are large, only a portion of the results are returned, and
  a <code>nextToken</code> pagination token is returned in the response. To retrieve
  the next batch of results, reissue the search request and include the returned token.
  When all results have been returned, the response does not contain a pagination
  token value.\";}}s:8:\"required\";a:1:{i:0;s:14:\"aggregateField\";}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeEventAggregatesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"eventAggregates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/EventAggregateList\";s:11:\"description\";s:77:\"The
  number of events in each category that meet the optional filter criteria.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/nextToken\";s:11:\"description\";s:347:\"If
  the results of a search are large, only a portion of the results are returned, and
  a <code>nextToken</code> pagination token is returned in the response. To retrieve
  the next batch of results, reissue the search request and include the returned token.
  When all results have been returned, the response does not contain a pagination
  token value.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeEventDetailsFailedSet\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/EventDetailsErrorItem\";}s:4:\"type\";s:5:\"array\";}s:27:\"DescribeEventDetailsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"eventArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/eventArnList\";s:11:\"description\";s:282:\"A
  list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\",
  \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>
  \";}s:6:\"locale\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/locale\";s:11:\"description\";s:118:\"The
  locale (language) to return information in. English (en) is the default and the
  only supported value at this time.\";}}s:8:\"required\";a:1:{i:0;s:9:\"eventArns\";}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeEventDetailsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"failedSet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/DescribeEventDetailsFailedSet\";s:11:\"description\";s:58:\"Error
  messages for any events that could not be retrieved.\";}s:13:\"successfulSet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/DescribeEventDetailsSuccessfulSet\";s:11:\"description\";s:53:\"Information
  about the events that could be retrieved.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DescribeEventDetailsSuccessfulSet\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/EventDetails\";}s:4:\"type\";s:5:\"array\";}s:25:\"DescribeEventTypesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/EventTypeFilter\";s:11:\"description\";s:38:\"Values
  to narrow the results returned.\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/locale\";s:11:\"description\";s:118:\"The
  locale (language) to return information in. English (en) is the default and the
  only supported value at this time.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/maxResults\";s:11:\"description\";s:82:\"The
  maximum number of items to return in one batch, between 10 and 100, inclusive.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/nextToken\";s:11:\"description\";s:347:\"If
  the results of a search are large, only a portion of the results are returned, and
  a <code>nextToken</code> pagination token is returned in the response. To retrieve
  the next batch of results, reissue the search request and include the returned token.
  When all results have been returned, the response does not contain a pagination
  token value.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeEventTypesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"eventTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EventTypeList\";s:11:\"description\";s:420:\"A
  list of event types that match the filter criteria. Event types have a category
  (<code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>),
  a service (for example, <code>EC2</code>, <code>RDS</code>, <code>DATAPIPELINE</code>,
  <code>BILLING</code>), and a code (in the format <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i>
  </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>).\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/nextToken\";s:11:\"description\";s:347:\"If
  the results of a search are large, only a portion of the results are returned, and
  a <code>nextToken</code> pagination token is returned in the response. To retrieve
  the next batch of results, reissue the search request and include the returned token.
  When all results have been returned, the response does not contain a pagination
  token value.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeEventsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/EventFilter\";s:11:\"description\";s:38:\"Values
  to narrow the results returned.\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/locale\";s:11:\"description\";s:118:\"The
  locale (language) to return information in. English (en) is the default and the
  only supported value at this time.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/maxResults\";s:11:\"description\";s:82:\"The
  maximum number of items to return in one batch, between 10 and 100, inclusive.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/nextToken\";s:11:\"description\";s:347:\"If
  the results of a search are large, only a portion of the results are returned, and
  a <code>nextToken</code> pagination token is returned in the response. To retrieve
  the next batch of results, reissue the search request and include the returned token.
  When all results have been returned, the response does not contain a pagination
  token value.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeEventsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"events\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EventList\";s:11:\"description\";s:52:\"The
  events that match the specified filter criteria.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/nextToken\";s:11:\"description\";s:347:\"If
  the results of a search are large, only a portion of the results are returned, and
  a <code>nextToken</code> pagination token is returned in the response. To retrieve
  the next batch of results, reissue the search request and include the returned token.
  When all results have been returned, the response does not contain a pagination
  token value.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"EntityAggregate\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"The
  number of entities that are affected by one or more events. Returned by the <a>DescribeEntityAggregates</a>
  operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/count\";s:11:\"description\";s:69:\"The
  number entities that match the criteria for the specified events.\";}s:8:\"eventArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/eventArn\";s:11:\"description\";s:315:\"The
  unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>
  </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>
  \";}}s:4:\"type\";s:6:\"object\";}s:19:\"EntityAggregateList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EntityAggregate\";}s:4:\"type\";s:5:\"array\";}s:12:\"EntityFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"The
  values to use to filter results from the <a>DescribeAffectedEntities</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"entityArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/entityArnList\";s:11:\"description\";s:43:\"A
  list of entity ARNs (unique identifiers).\";}s:12:\"entityValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/entityValueList\";s:11:\"description\";s:36:\"A
  list of IDs for affected entities.\";}s:9:\"eventArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/eventArnList\";s:11:\"description\";s:282:\"A
  list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\",
  \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>
  \";}s:16:\"lastUpdatedTimes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/dateTimeRangeList\";s:11:\"description\";s:70:\"A
  list of the most recent dates and times that the entity was updated.\";}s:11:\"statusCodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/entityStatusCodeList\";s:11:\"description\";s:104:\"A
  list of entity status codes (<code>IMPAIRED</code>, <code>UNIMPAIRED</code>, or
  <code>UNKNOWN</code>).\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/tagFilter\";s:11:\"description\";s:53:\"A
  map of entity tags attached to the affected entity.\";}}s:8:\"required\";a:1:{i:0;s:9:\"eventArns\";}s:4:\"type\";s:6:\"object\";}s:10:\"EntityList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AffectedEntity\";}s:4:\"type\";s:5:\"array\";}s:5:\"Event\";O:8:\"stdClass\":3:{s:11:\"description\";s:227:\"Summary
  information about an event, returned by the <a>DescribeEvents</a> operation. The
  <a>DescribeEventDetails</a> operation also returns this information, as well as
  the <a>EventDescription</a> and additional event metadata.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/eventArn\";s:11:\"description\";s:315:\"The
  unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>
  </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>
  \";}s:16:\"availabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/availabilityZone\";s:11:\"description\";s:64:\"The
  AWS Availability Zone of the event. For example, us-east-1a.\";}s:7:\"endTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/timestamp\";s:11:\"description\";s:39:\"The
  date and time that the event ended.\";}s:17:\"eventTypeCategory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/eventTypeCategory\";s:11:\"description\";s:134:\"The
  category of the event. Possible values are <code>issue</code>, <code>scheduledChange</code>,
  and <code>accountNotification</code>.\";}s:13:\"eventTypeCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/eventTypeCode\";s:11:\"description\";s:168:\"The
  unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i>
  </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.\";}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/timestamp\";s:11:\"description\";s:57:\"The
  most recent date and time that the event was updated.\";}s:6:\"region\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/region\";s:11:\"description\";s:33:\"The
  AWS region name of the event.\";}s:7:\"service\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/service\";s:11:\"description\";s:95:\"The
  AWS service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>.\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/timestamp\";s:11:\"description\";s:39:\"The
  date and time that the event began.\";}s:10:\"statusCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/eventStatusCode\";s:11:\"description\";s:123:\"The
  most recent status of the event. Possible values are <code>open</code>, <code>closed</code>,
  and <code>upcoming</code>.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"EventAggregate\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  number of events of each issue type. Returned by the <a>DescribeEventAggregates</a>
  operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"aggregateValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/aggregateValue\";s:11:\"description\";s:40:\"The
  issue type for the associated count.\";}s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/count\";s:11:\"description\";s:50:\"The
  number of events of the associated issue type.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"EventAggregateList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EventAggregate\";}s:4:\"type\";s:5:\"array\";}s:13:\"EventArnsList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/eventArn\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:16:\"EventDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"The
  detailed description of the event. Included in the information returned by the <a>DescribeEventDetails</a>
  operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"latestDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/eventDescription\";s:11:\"description\";s:41:\"The
  most recent description of the event.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"EventDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:208:\"Detailed
  information about an event. A combination of an <a>Event</a> object, an <a>EventDescription</a>
  object, and additional metadata about the event. Returned by the <a>DescribeEventDetails</a>
  operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"event\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Event\";s:11:\"description\";s:36:\"Summary
  information about the event.\";}s:16:\"eventDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EventDescription\";s:11:\"description\";s:41:\"The
  most recent description of the event.\";}s:13:\"eventMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/eventMetadata\";s:11:\"description\";s:36:\"Additional
  metadata about the event.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"EventDetailsErrorItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"Error
  information returned when a <a>DescribeEventDetails</a> operation cannot find a
  specified event.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:35:\"A
  message that describes the error.\";}s:9:\"errorName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:22:\"The
  name of the error.\";}s:8:\"eventArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/eventArn\";s:11:\"description\";s:315:\"The
  unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>
  </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>
  \";}}s:4:\"type\";s:6:\"object\";}s:11:\"EventFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"The
  values to use to filter results from the <a>DescribeEvents</a> and <a>DescribeEventAggregates</a>
  operations.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:17:\"availabilityZones\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/availabilityZones\";s:11:\"description\";s:33:\"A
  list of AWS availability zones.\";}s:8:\"endTimes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/dateTimeRangeList\";s:11:\"description\";s:47:\"A
  list of dates and times that the event ended.\";}s:10:\"entityArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/entityArnList\";s:11:\"description\";s:43:\"A
  list of entity ARNs (unique identifiers).\";}s:12:\"entityValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/entityValueList\";s:11:\"description\";s:124:\"A
  list of entity identifiers, such as EC2 instance IDs (<code>i-34ab692e</code>) or
  EBS volumes (<code>vol-426ab23e</code>).\";}s:9:\"eventArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/eventArnList\";s:11:\"description\";s:282:\"A
  list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\",
  \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>
  \";}s:16:\"eventStatusCodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/eventStatusCodeList\";s:11:\"description\";s:29:\"A
  list of event status codes.\";}s:19:\"eventTypeCategories\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/eventTypeCategoryList\";s:11:\"description\";s:124:\"A
  list of event type category codes (<code>issue</code>, <code>scheduledChange</code>,
  or <code>accountNotification</code>).\";}s:14:\"eventTypeCodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/eventTypeList\";s:11:\"description\";s:139:\"A
  list of unique identifiers for event types. For example, <code>\"AWS_EC2_SYSTEM_MAINTENANCE_EVENT\",\"AWS_RDS_MAINTENANCE_SCHEDULED\"</code>
  \";}s:16:\"lastUpdatedTimes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/dateTimeRangeList\";s:11:\"description\";s:58:\"A
  list of dates and times that the event was last updated.\";}s:7:\"regions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/regionList\";s:11:\"description\";s:22:\"A
  list of AWS regions.\";}s:8:\"services\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/serviceList\";s:11:\"description\";s:92:\"The
  AWS services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.\";}s:10:\"startTimes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/dateTimeRangeList\";s:11:\"description\";s:47:\"A
  list of dates and times that the event began.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/tagFilter\";s:11:\"description\";s:53:\"A
  map of entity tags attached to the affected entity.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"EventList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}s:4:\"type\";s:5:\"array\";}s:9:\"EventType\";O:8:\"stdClass\":3:{s:11:\"description\";s:258:\"Metadata
  about a type of event that is reported by AWS Health. Data consists of the category
  (for example, <code>issue</code>), the service (for example, <code>EC2</code>),
  and the event type code (for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/eventTypeCategory\";s:11:\"description\";s:124:\"A
  list of event type category codes (<code>issue</code>, <code>scheduledChange</code>,
  or <code>accountNotification</code>).\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/eventTypeCode\";s:11:\"description\";s:168:\"The
  unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i>
  </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.\";}s:7:\"service\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/service\";s:11:\"description\";s:95:\"The
  AWS service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"EventTypeCategoryList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/eventTypeCategory\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:17:\"EventTypeCodeList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/eventTypeCode\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:15:\"EventTypeFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  values to use to filter results from the <a>DescribeEventTypes</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"eventTypeCategories\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/EventTypeCategoryList\";s:11:\"description\";s:124:\"A
  list of event type category codes (<code>issue</code>, <code>scheduledChange</code>,
  or <code>accountNotification</code>).\";}s:14:\"eventTypeCodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EventTypeCodeList\";s:11:\"description\";s:27:\"A
  list of event type codes.\";}s:8:\"services\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/serviceList\";s:11:\"description\";s:92:\"The
  AWS services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"EventTypeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EventType\";}s:4:\"type\";s:5:\"array\";}s:22:\"InvalidPaginationToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  specified pagination token (<code>nextToken</code>) is not valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"UnsupportedLocale\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  specified locale is not supported.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"accountId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:9:\"[0-9]{12}\";s:4:\"type\";s:6:\"string\";}s:14:\"aggregateValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"availabilityZone\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:26:\"[a-z]{2}\\-[0-9a-z\\-]{4,16}\";s:4:\"type\";s:6:\"string\";}s:17:\"availabilityZones\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/availabilityZone\";}s:4:\"type\";s:5:\"array\";}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"dateTimeRangeList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DateTimeRange\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:9:\"entityArn\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:1600;s:4:\"type\";s:6:\"string\";}s:13:\"entityArnList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/entityArn\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:16:\"entityStatusCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:8:\"IMPAIRED\";i:1;s:10:\"UNIMPAIRED\";i:2;s:7:\"UNKNOWN\";}s:4:\"type\";s:6:\"string\";}s:20:\"entityStatusCodeList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/entityStatusCode\";}s:8:\"maxItems\";i:3;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:11:\"entityValue\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:256;s:4:\"type\";s:6:\"string\";}s:15:\"entityValueList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/entityValue\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:19:\"eventAggregateField\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:17:\"eventTypeCategory\";}s:4:\"type\";s:6:\"string\";}s:8:\"eventArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1600;s:7:\"pattern\";s:63:\"arn:aws:health:[^:]*:[^:]*:event(?:/[\\w-]+){1}((?:/[\\w-]+){2})?\";s:4:\"type\";s:6:\"string\";}s:12:\"eventArnList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/eventArn\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:16:\"eventDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"eventMetadata\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/metadataKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/metadataValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:15:\"eventStatusCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"open\";i:1;s:6:\"closed\";i:2;s:8:\"upcoming\";}s:4:\"type\";s:6:\"string\";}s:19:\"eventStatusCodeList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/eventStatusCode\";}s:8:\"maxItems\";i:6;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:9:\"eventType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:3;s:4:\"type\";s:6:\"string\";}s:17:\"eventTypeCategory\";O:8:\"stdClass\":4:{s:4:\"enum\";a:3:{i:0;s:5:\"issue\";i:1;s:19:\"accountNotification\";i:2;s:15:\"scheduledChange\";}s:9:\"maxLength\";i:255;s:9:\"minLength\";i:3;s:4:\"type\";s:6:\"string\";}s:21:\"eventTypeCategoryList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/eventTypeCategory\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:13:\"eventTypeCode\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:3;s:4:\"type\";s:6:\"string\";}s:13:\"eventTypeList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/eventType\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:6:\"locale\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:2;s:4:\"type\";s:6:\"string\";}s:10:\"maxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:10;s:4:\"type\";s:7:\"integer\";}s:11:\"metadataKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"metadataValue\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:10240;s:4:\"type\";s:6:\"string\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:24:\"[a-zA-Z0-9=/+_.-]{4,512}\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:11:\"[^:/]{2,25}\";s:4:\"type\";s:6:\"string\";}s:10:\"regionList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/region\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:7:\"service\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:30;s:9:\"minLength\";i:2;s:4:\"type\";s:6:\"string\";}s:11:\"serviceList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/service\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:6:\"string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tagFilter\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/tagSet\";}s:8:\"maxItems\";i:50;s:4:\"type\";s:5:\"array\";}s:6:\"tagKey\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:127;s:4:\"type\";s:6:\"string\";}s:6:\"tagSet\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/tagKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/tagValue\";}}s:4:\"type\";s:6:\"object\";}s:8:\"maxItems\";i:50;s:4:\"type\";s:5:\"array\";}s:8:\"tagValue\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}"
...
