---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:5:\"email\";s:26:\"integrations@salesloft.com\";s:9:\"x-twitter\";s:9:\"SalesLoft\";}s:11:\"description\";s:128:\"SalesLoft
  helps transform sales teams into modern sales organizations  - converting more target
  accounts into customer accounts\n\";s:5:\"title\";s:18:\"SalesLoft Platform\";s:7:\"version\";s:2:\"v2\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:17:\"customer_relation\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_SalesLoft_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:48:\"https://developers.salesloft.com/v2_api_def.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"salesloft.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"salesloft\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.salesloft.com
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":32:{s:7:\"Account\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":38:{s:11:\"archived_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Datetime
  of when the Account was archived, if archived\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.396392-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"City\";s:7:\"example\";s:8:\"Dufftown\";s:4:\"type\";s:6:\"string\";}s:13:\"company_stage\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:39:\"Company
  Stage that this Account has set\";s:7:\"example\";O:8:\"stdClass\":1:{s:2:\"id\";i:1;}}s:12:\"company_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Type
  of the Account's company\";s:7:\"example\";s:7:\"Private\";s:4:\"type\";s:6:\"string\";}s:19:\"conversational_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Conversational
  name of the Account\";s:7:\"example\";s:8:\"Hogwarts\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Country\";s:7:\"example\";s:8:\"Scotland\";s:4:\"type\";s:6:\"string\";}s:6:\"counts\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/AccountCounts\";s:11:\"description\";s:31:\"Various
  counts for this Account\";s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"people\";i:15;}}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Datetime
  of when the Account was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.396254-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:7:\"creator\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:30:\"User
  that created this Account\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/1\";s:2:\"id\";i:1;}}s:6:\"crm_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"CRM
  ID, currently Salesforce.com only\";s:7:\"example\";s:15:\"003i000001mnhpD\";s:4:\"type\";s:6:\"string\";}s:15:\"crm_object_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"CRM
  object type, currently Salesforce.com only\";s:7:\"example\";s:7:\"account\";s:4:\"type\";s:6:\"string\";}s:7:\"crm_url\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"CRM
  url, currently Salesforce.com only\";s:7:\"example\";s:43:\"https://na15.salesforce.com/003i000001mnhpD\";s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Custom
  fields are defined by the user's team. Only fields with values are presented in
  the API.\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"MyField\";s:7:\"A Value\";s:5:\"Other\";s:5:\"Field\";}s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Description\";s:7:\"example\";s:36:\"British
  school of magic for students\";s:4:\"type\";s:6:\"string\";}s:14:\"do_not_contact\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"Whether
  this company has opted out of communications. Do not contact someone at this company
  when this is set to true\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:6:\"domain\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Website
  domain, not a fully qualified URI\";s:7:\"example\";s:13:\"salesloft.com\";s:4:\"type\";s:6:\"string\";}s:7:\"founded\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Date
  or year of founding\";s:7:\"example\";s:15:\"March 1st, 1820\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"ID
  of Account\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:8:\"industry\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Industry\";s:7:\"example\";s:9:\"Education\";s:4:\"type\";s:6:\"string\";}s:17:\"last_contacted_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Datetime
  this Account was last contacted\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.397020-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:17:\"last_contacted_by\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:37:\"User
  that last contacted this Account\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/1\";s:2:\"id\";i:1;}}s:21:\"last_contacted_person\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:45:\"Person
  who was last contacted at this Account\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:37:\"https://api.salesloft.com/v2/people/1\";s:2:\"id\";i:1;}}s:19:\"last_contacted_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  type of the last touch to this Account. Can be call, email, other\";s:7:\"example\";s:4:\"call\";s:4:\"type\";s:6:\"string\";}s:12:\"linkedin_url\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Full
  LinkedIn url\";s:7:\"example\";s:41:\"https://www.linkedin.com/company/2296178/\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Time
  locale\";s:7:\"example\";s:13:\"Europe/London\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Account
  Full Name\";s:7:\"example\";s:42:\"Hogwarts School of Witchcraft and Wizardry\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:48:\"User
  that is marked as the owner of this Account\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/1\";s:2:\"id\";i:1;}}s:12:\"owner_crm_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Mapped
  owner field from the CRM, currently Salesforce.com only\";s:7:\"example\";s:15:\"003i000001mnhpD\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Phone
  number without formatting\";s:7:\"example\";s:15:\"+1 444 555 6666\";s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Postal
  code\";s:7:\"example\";s:5:\"55555\";s:4:\"type\";s:6:\"string\";}s:13:\"revenue_range\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Estimated
  revenue range\";s:7:\"example\";s:19:\"1,000,000-2,000,000\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Estimated
  number of people in employment\";s:7:\"example\";s:4:\"1500\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"State\";s:7:\"example\";s:8:\"Mortlach\";s:4:\"type\";s:6:\"string\";}s:6:\"street\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Street
  name and number\";s:7:\"example\";s:14:\"4 Picket Drive\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"All
  tags applied to this Account\";s:7:\"example\";a:2:{i:0;s:9:\"7-23-2017\";i:1;s:10:\"dreamforce\";}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"twitter_handle\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Twitter
  handle, with @\";s:7:\"example\";s:11:\"@kyleporter\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Datetime
  of when the Account was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.396329-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Website\";s:7:\"example\";s:21:\"https://salesloft.com\";s:4:\"type\";s:6:\"string\";}}}s:13:\"AccountCounts\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"people\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Number
  of people in SalesLoft associated with this Account\";s:7:\"example\";i:15;s:4:\"type\";s:7:\"integer\";}}}s:6:\"Action\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"action_details\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:32:\"The
  type specific action details\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:63:\"https://api.salesloft.com/v2/action_details/call_instructions/1\";s:2:\"id\";i:1;}}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Datetime
  of when the Action was created\";s:7:\"example\";s:32:\"2018-02-01T00:00:00.000000-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:3:\"due\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Whether
  this step is due\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:6:\"due_on\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"When
  action is due\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.560063-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"ID
  of Action\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:6:\"person\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:24:\"The
  subject of an action\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:37:\"https://api.salesloft.com/v2/people/1\";s:2:\"id\";i:1;}}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:279:\"The
  current state of the person on the cadence. Possible values are:\n\nin_progress:
  this action has not been completed\n\npending_activity: this action has been acted
  upon, but the action has not been completed.\n(i.e. the email is scheduled to send,
  but has not been delivered yet)\n\";s:7:\"example\";s:11:\"in_progress\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"The
  type of this action. Valid types are: email, phone, other. New types may be added
  in the future.\n\";s:7:\"example\";s:5:\"phone\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Datetime
  of when the Action was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.559930-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:23:\"User
  assigned to action\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/1\";s:2:\"id\";i:1;}}}}s:7:\"Cadence\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":18:{s:11:\"added_stage\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:41:\"Stage
  set when person is added to cadence\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:44:\"https://api.salesloft.com/v2/person_stages/3\";s:2:\"id\";i:3;}}s:11:\"archived_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Datetime
  of when the cadence was archived, if archived\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.419122-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:13:\"bounced_stage\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:40:\"Stage
  set when person on cadence bounces\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:44:\"https://api.salesloft.com/v2/person_stages/1\";s:2:\"id\";i:1;}}s:6:\"counts\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/CadenceCounts\";s:11:\"description\";s:31:\"Various
  counts for this cadence\";s:7:\"example\";O:8:\"stdClass\":2:{s:14:\"cadence_people\";i:59;s:19:\"target_daily_people\";i:10;}}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Datetime
  of when the cadence was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.419014-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:7:\"creator\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:30:\"User
  that created this cadence\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/1\";s:2:\"id\";i:1;}}s:14:\"finished_stage\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:46:\"Stage
  set when person is finished with cadence\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:44:\"https://api.salesloft.com/v2/person_stages/3\";s:2:\"id\";i:3;}}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"ID
  of cadence\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Cadence
  name\";s:7:\"example\";s:25:\"Prospecting - VP of Sales\";s:4:\"type\";s:6:\"string\";}s:21:\"opt_out_link_included\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Whether
  this cadence is configured to include an opt-out link by default\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:5:\"owner\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:48:\"User
  that is marked as the owner of this cadence\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/1\";s:2:\"id\";i:1;}}s:22:\"remove_bounces_enabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Whether
  this cadence is configured to automatically remove people who have bounced\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:22:\"remove_replies_enabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Whether
  this cadence is configured to automatically remove people who have replied\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:13:\"replied_stage\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:40:\"Stage
  set when person on cadence replies\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:44:\"https://api.salesloft.com/v2/person_stages/2\";s:2:\"id\";i:2;}}s:6:\"shared\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Whether
  this cadence is visible to team members (shared)\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"All
  tags applied to this cadence\";s:7:\"example\";a:2:{i:0;s:9:\"7-23-2017\";i:1;s:10:\"dreamforce\";}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"team_cadence\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Whether
  this cadence is a team cadence.  A team cadence is created by an admin and can be
  run by all users\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Datetime
  of when the cadence was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.419082-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}}}s:13:\"CadenceCounts\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"cadence_people\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  number of people that have ever been added to the cadence\";s:7:\"example\";i:59;s:4:\"type\";s:7:\"integer\";}s:19:\"target_daily_people\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  user defined target for number of people to add to the cadence each day\";s:7:\"example\";i:10;s:4:\"type\";s:7:\"integer\";}}}s:17:\"CadenceMembership\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"added_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"Datetime
  of when the person was last added to this cadence\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.409933-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:7:\"cadence\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:33:\"The
  cadence that the person is on\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:39:\"https://api.salesloft.com/v2/cadences/1\";s:2:\"id\";i:1;}}s:6:\"counts\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:37:\"#/definitions/CadenceMembershipCounts\";s:11:\"description\";s:29:\"Various
  counts for the record\";s:7:\"example\";O:8:\"stdClass\":6:{s:7:\"bounces\";i:0;s:5:\"calls\";i:2;s:6:\"clicks\";i:5;s:7:\"replies\";i:2;s:11:\"sent_emails\";i:4;s:5:\"views\";i:10;}}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Datetime
  of when the person was first added to this cadence\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.409985-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:13:\"current_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:691:\"The
  current state of the person on the cadence. Possible values are:\n\nstaged: The
  person is waiting for the first step in the cadence to occur\n\nactive: The cadence
  has begun processing this person and is still in the process, but idle\n\nscheduled:
  The cadence has begun processing this person and is still in the process, with an
  activity scheduled to occur\n\ncompleted: The cadence has been completed for this
  person\n\nremoved: The person was manually or automatically removed from the cadence\n\nremoved_no_action:
  The person was removed from the cadence before any action occurred\n\nreassigned:
  The person's cadence execution was transferred to a different user, ending this
  user's interaction\n\";s:7:\"example\";s:6:\"staged\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Cadence
  membership ID\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:13:\"latest_action\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:49:\"The
  most recent action associated with the record\";s:7:\"example\";O:8:\"stdClass\":1:{s:2:\"id\";i:4;}}s:6:\"person\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:33:\"The
  person that is on the cadence\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:37:\"https://api.salesloft.com/v2/people/2\";s:2:\"id\";i:2;}}s:14:\"person_deleted\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Whether
  the associated person has since been deleted\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Datetime
  of when the record was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.410015-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:52:\"The
  user that is acting on the person in the cadence\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/3\";s:2:\"id\";i:3;}}}}s:23:\"CadenceMembershipCounts\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"bounces\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  number of times emails sent from the cadence to the person bounced\";s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";}s:5:\"calls\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  number of times a call was logged from the cadence to the person\";s:7:\"example\";i:2;s:4:\"type\";s:7:\"integer\";}s:6:\"clicks\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  number of times emails sent from the cadence to the person were clicked\";s:7:\"example\";i:5;s:4:\"type\";s:7:\"integer\";}s:7:\"replies\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  number of times emails sent from the cadence to the person were replied to\";s:7:\"example\";i:2;s:4:\"type\";s:7:\"integer\";}s:11:\"sent_emails\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  number of times emails were sent from the cadence to the person\";s:7:\"example\";i:4;s:4:\"type\";s:7:\"integer\";}s:5:\"views\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  number of times emails sent from the cadence to the person were opened\";s:7:\"example\";i:10;s:4:\"type\";s:7:\"integer\";}}}s:4:\"Call\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:29:\"Action
  associated to the call\";s:7:\"example\";O:8:\"stdClass\":1:{s:2:\"id\";i:1;}}s:13:\"called_person\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:17:\"The
  person called\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:37:\"https://api.salesloft.com/v2/people/1\";s:2:\"id\";i:1;}}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Datetime
  of when the call was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.523939-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:12:\"crm_activity\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:37:\"CRM
  Activity associated with the call\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:45:\"https://api.salesloft.com/v2/crm_activities/1\";s:2:\"id\";i:1;}}s:11:\"disposition\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Result
  of the call\";s:7:\"example\";s:9:\"Connected\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Length
  of the call in seconds\";s:7:\"example\";i:60;s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"ID
  of Call\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:4:\"note\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:18:\"Note
  for this call\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/notes/1\";s:2:\"id\";i:1;}}s:10:\"recordings\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  recordings for this this call and their status\";s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":2:{s:6:\"status\";s:9:\"completed\";s:3:\"url\";s:30:\"https://example.com/recording1\";}}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/EmbeddedRecordingResource\";}s:4:\"type\";s:5:\"array\";}s:9:\"sentiment\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Outcome
  of the conversation\";s:7:\"example\";s:14:\"Demo Scheduled\";s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Phone
  number that received the call\";s:7:\"example\";s:10:\"7705551234\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Datetime
  of when the call was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.524003-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:23:\"User
  that made the call\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/1\";s:2:\"id\";i:1;}}}}s:14:\"CallDataRecord\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"call\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:56:\"Call
  that this record was logged to, if logged to a call\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:47:\"https://api.salesloft.com/v2/activities/calls/1\";s:2:\"id\";i:1;}}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Datetime
  of when the call was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.425319-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Direction
  of the call. Can be one of: inbound, outbound\";s:7:\"example\";s:8:\"outbound\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Length
  of the call in seconds\";s:7:\"example\";i:60;s:4:\"type\";s:7:\"integer\";}s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Phone
  number that placed the call\";s:7:\"example\";s:10:\"7705551234\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"ID
  of CallDataRecord\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:9:\"recording\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:39:\"#/definitions/EmbeddedRecordingResource\";s:11:\"description\";s:59:\"The
  recording for this this call data record, with a status\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"status\";s:9:\"completed\";s:3:\"url\";s:30:\"http://example.com/recording/1\";}}s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Phone
  number that received the call\";s:7:\"example\";s:10:\"7705551234\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Datetime
  of when the call was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.425365-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:62:\"User
  that made or received the call, if the call was to a user\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/2\";s:2:\"id\";i:2;}}}}s:15:\"CallInstruction\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Datetime
  of when the call instructions were created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.571365-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"ID
  of call instructions\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:12:\"instructions\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  instructions\";s:7:\"example\";s:68:\"Call once, leave voicemail if not answered.
  Conference conversation.\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Datetime
  of when the call instructions were last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.571468-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}}}s:8:\"CallerId\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"account_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  account of the person calling\";s:7:\"example\";s:18:\"Bunty Soap Company\";s:4:\"type\";s:6:\"string\";}s:12:\"display_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  name of the person calling\";s:7:\"example\";s:17:\"Frank Galikanokus\";s:4:\"type\";s:6:\"string\";}s:6:\"person\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:18:\"The
  person calling\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:37:\"https://api.salesloft.com/v2/people/1\";s:2:\"id\";i:1;}}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  title of the person calling\";s:7:\"example\";s:26:\"Transportation Coordinator\";s:4:\"type\";s:6:\"string\";}}}s:11:\"CrmActivity\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:13:\"activity_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"The
  type of activity that is being recorded, if available. The values can change over
  time, but could be one of: email, phone, email reminder, inmail\";s:7:\"example\";s:5:\"phone\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Datetime
  of when the crm activity was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.431249-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:6:\"crm_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  ID of the activity in Salesforce, if written to Salesforce\";s:7:\"example\";s:18:\"00T0H00003w2FBhUAM\";s:4:\"type\";s:6:\"string\";}s:17:\"custom_crm_fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Additional
  fields that are logged to Salesforce, if mapped by the team at the time of writing
  to Salesforce\";s:7:\"example\";O:8:\"stdClass\":1:{s:19:\"ecorp__Call_Type__c\";s:17:\"inbound
  follow up\";}s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  description field of the activity in Salesforce\";s:7:\"example\";s:43:\"Timeline
  is 2 weeks for demo, set with Kate\";s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:167:\"Information
  about why this crm activity failed to sync, if it did fail to sync. Failed activities
  will be automatically retried and may become successful in the future\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"CrmActivity
  ID\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:6:\"person\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:36:\"Person
  that this crm activity is for\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:37:\"https://api.salesloft.com/v2/people/1\";s:2:\"id\";i:1;}}s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  subject field of the activity in Salesforce\";s:7:\"example\";s:28:\"Call: Connected
  | Interested\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Datetime
  of when the crm activity was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.431293-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:37:\"User
  that triggered this crm activity\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/2\";s:2:\"id\";i:2;}}}}s:11:\"CustomField\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Datetime
  of when the Custom Field was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.436288-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:10:\"field_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Type
  of the Custom Field. Value must be one of: person, company, opportunity.\";s:7:\"example\";s:6:\"person\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"ID
  of Custom Field\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Name
  of the Custom Field\";s:7:\"example\";s:15:\"My Custom Field\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Datetime
  of when the Custom Field was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.436326-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Email\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":17:{s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:75:\"Action
  that this email was sent from, or null if not sent through a cadence\";s:7:\"example\";O:8:\"stdClass\":1:{s:2:\"id\";i:1;}}s:7:\"bounced\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Whether
  this email bounced\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:14:\"click_tracking\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Whether
  this email had click tracking enabled\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:6:\"counts\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/EmailCounts\";s:11:\"description\";s:29:\"Various
  counts for this email\";s:7:\"example\";O:8:\"stdClass\":6:{s:11:\"attachments\";i:0;s:6:\"clicks\";i:2;s:7:\"replies\";i:1;s:14:\"unique_devices\";i:4;s:16:\"unique_locations\";i:3;s:5:\"views\";i:3;}}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Datetime
  of when the email was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.530887-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:12:\"crm_activity\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:39:\"CRM
  Activity associated with this email\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:45:\"https://api.salesloft.com/v2/crm_activities/1\";s:2:\"id\";i:1;}}s:7:\"headers\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Selected
  headers that are included if this email used them. Available keys are: cc, bcc\";s:7:\"example\";O:8:\"stdClass\":2:{s:3:\"bcc\";s:20:\"track@salesforce.com\";s:2:\"cc\";s:16:\"sb@salesloft.com\";}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"ID
  of Email\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:7:\"mailing\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:41:\"The
  mailing that this email was a part of\";s:7:\"example\";O:8:\"stdClass\":1:{s:2:\"id\";i:1;}}s:9:\"recipient\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:35:\"The
  person whom received this email\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:37:\"https://api.salesloft.com/v2/people/1\";s:2:\"id\";i:1;}}s:23:\"recipient_email_address\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Email
  address of the recipient\";s:7:\"example\";s:21:\"bob.smith@example.com\";s:4:\"type\";s:6:\"string\";}s:10:\"send_after\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"When
  this email will be sent, or null if already sent\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.543784-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:7:\"sent_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"When
  this email was sent, or null if it was not sent\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.543843-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:242:\"Status
  of this email through the sending process. Possible values are: sent, sent_from_gmail,
  sent_from_external, pending, pending_reply_check, scheduled, sending, delivering,
  failed, cancelled, pending_through_gmail, pending_through_external\";s:7:\"example\";s:4:\"sent\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Datetime
  of when the email was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.530975-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:25:\"User
  that sent this email\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/1\";s:2:\"id\";i:1;}}s:13:\"view_tracking\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Whether
  this email had view tracking enabled\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}}}s:11:\"EmailCounts\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  number of attachments on the email\";s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";}s:6:\"clicks\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  number of times links in the email were clicked\";s:7:\"example\";i:2;s:4:\"type\";s:7:\"integer\";}s:7:\"replies\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  number of replies the email received\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:14:\"unique_devices\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  number of unique devices that opened the email\";s:7:\"example\";i:4;s:4:\"type\";s:7:\"integer\";}s:16:\"unique_locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  number of unique locations that opened the email\";s:7:\"example\";i:3;s:4:\"type\";s:7:\"integer\";}s:5:\"views\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  number of times the email was opened\";s:7:\"example\";i:3;s:4:\"type\";s:7:\"integer\";}}}s:13:\"EmailTemplate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:11:\"archived_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Datetime
  of when the email template was archived, if archived\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.443876-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:4:\"body\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Sanitized
  body of the email template without email signature\";s:7:\"example\";s:375:\"<div><div>Welcome
  to the SalesLoft family! My name is Sarah and I\u2019m your implementation consultant.
  I\u2019m here to get you up and running. It's my job to help you configure your
  team's SalesLoft access, provide customized training for your specific goals, and
  make sure that you and your team are ready to crush your goals.</div><div dir=\"ltr\"><br></div>Thank
  you,<br></div>\";s:4:\"type\";s:6:\"string\";}s:16:\"cadence_template\";O:8:\"stdClass\":3:{s:11:\"description\";s:274:\"Whether
  this email template is only used on a cadence step. These templates are not visible
  in the SalesLoft application template list. If false, this email template is visible
  in the SalesLoft application, and may be used when composing an email or creating
  a cadence step.\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:22:\"click_tracking_enabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Whether
  click tracking is enabled for this email template\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:6:\"counts\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/EmailTemplateCounts\";s:11:\"description\";s:37:\"Various
  counts for this team template\";s:7:\"example\";O:8:\"stdClass\":5:{s:7:\"bounces\";i:10;s:6:\"clicks\";i:20;s:7:\"replies\";i:1;s:11:\"sent_emails\";i:59;s:5:\"views\";i:3;}}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Datetime
  of when the email template was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.443757-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"ID
  of email template\";s:7:\"example\";i:5;s:4:\"type\";s:7:\"integer\";}s:12:\"last_used_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Datetime
  of when the email template was last used\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.443850-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:21:\"open_tracking_enabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Whether
  open tracking is enabled for this email template\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:6:\"shared\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Whether
  this email template is visible to team members (shared)\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Subject
  of the email template\";s:7:\"example\";s:21:\"Welcome to SalesLoft!\";s:4:\"type\";s:6:\"string\";}s:13:\"team_template\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:32:\"Associated
  team template, if any\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:80:\"https://api.salesloft.com/v2/team_templates/00000000-0000-0000-0000-000000000000\";s:2:\"id\";s:36:\"00000000-0000-0000-0000-000000000000\";}}s:14:\"template_owner\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:34:\"User
  that owns this email template\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/1\";s:2:\"id\";i:1;}}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Title
  of the email template\";s:7:\"example\";s:13:\"Welcome email\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Datetime
  of when the email template was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.443798-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}}}s:19:\"EmailTemplateCounts\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"bounces\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  number of bounces the email template received\";s:7:\"example\";i:10;s:4:\"type\";s:7:\"integer\";}s:6:\"clicks\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  number of times links in the email template were clicked\";s:7:\"example\";i:20;s:4:\"type\";s:7:\"integer\";}s:7:\"replies\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  number of replies the email template received\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:11:\"sent_emails\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  number of times the email template was sent out\";s:7:\"example\";i:59;s:4:\"type\";s:7:\"integer\";}s:5:\"views\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  number of times the email template was opened\";s:7:\"example\";i:3;s:4:\"type\";s:7:\"integer\";}}}s:25:\"EmbeddedRecordingResource\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"The
  processing status of the recording. A completed status means that the recording
  is fully available\";s:7:\"example\";s:9:\"completed\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  url of the recording\";s:7:\"example\";s:30:\"http://example.com/recording/1\";s:4:\"type\";s:6:\"string\";}}}s:16:\"EmbeddedResource\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"_href\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Resource
  URL, pointed at your API version, present if this resource is available in the API\";s:7:\"example\";s:39:\"https://api.salesloft.com/v2/widgets/10\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"ID
  of the resource\";s:7:\"example\";i:10;s:4:\"type\";s:7:\"integer\";}}}s:6:\"Import\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Datetime
  of when the import was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.450608-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:20:\"current_people_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Count
  of People that have not been deleted\";s:7:\"example\";i:5;s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Import
  ID\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:21:\"imported_people_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Count
  of People that have ever been on this Import\";s:7:\"example\";i:7;s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Name
  of Import\";s:7:\"example\";s:32:\"DataProvider -> SalesLoft 9/1/17\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"Datetime
  of when the import was last updated, ignoring relationship changes\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.450663-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}}}s:4:\"Note\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"associated_with\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:31:\"Item
  on which the note was made\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:37:\"https://api.salesloft.com/v2/people/1\";s:2:\"id\";i:1;}}s:4:\"call\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:23:\"Call
  linked to the note\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:47:\"https://api.salesloft.com/v2/activities/calls/1\";s:2:\"id\";i:1;}}s:7:\"content\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  content of the note\";s:7:\"example\";s:45:\"Was very interested in a demo at a
  later time\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Datetime
  of when the note was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.465679-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Note
  ID\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Datetime
  of when the note was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.465758-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:25:\"User
  that wrote this note\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/1\";s:2:\"id\";i:1;}}}}s:6:\"Person\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":44:{s:7:\"account\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:41:\"Account
  that this person is associated to\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:39:\"https://api.salesloft.com/v2/accounts/1\";s:2:\"id\";i:1;}}s:8:\"bouncing\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Whether
  this person's current email address has bounced\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:4:\"city\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"City\";s:7:\"example\";s:7:\"Atlanta\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Country\";s:7:\"example\";s:13:\"United
  States\";s:4:\"type\";s:6:\"string\";}s:6:\"counts\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/PersonCounts\";s:11:\"description\";s:30:\"Various
  counts for this person\";s:7:\"example\";O:8:\"stdClass\":6:{s:5:\"calls\";i:4;s:14:\"emails_bounced\";i:0;s:14:\"emails_clicked\";i:1;s:17:\"emails_replied_to\";i:0;s:11:\"emails_sent\";i:3;s:13:\"emails_viewed\";i:2;}}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Datetime
  of when the person was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.476041-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:6:\"crm_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"CRM
  ID, currently Salesforce.com only\";s:7:\"example\";s:15:\"003i000001mnhpD\";s:4:\"type\";s:6:\"string\";}s:15:\"crm_object_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"CRM
  object type, currently Salesforce.com only\";s:7:\"example\";s:4:\"Lead\";s:4:\"type\";s:6:\"string\";}s:7:\"crm_url\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"CRM
  url, currently Salesforce.com only\";s:7:\"example\";s:43:\"https://na15.salesforce.com/003i000001mnhpD\";s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Custom
  fields are defined by the user's team. Only fields with values are presented in
  the API.\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"MyField\";s:7:\"A Value\";s:5:\"Other\";s:5:\"Field\";}s:4:\"type\";s:6:\"object\";}s:12:\"display_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Either
  the full name or the email address. Use this when showing a person's name\";s:7:\"example\";s:11:\"Pat
  Johnson\";s:4:\"type\";s:6:\"string\";}s:14:\"do_not_contact\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Whether
  or not this person has opted out of communications. Do not contact someone when
  this is set to true\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:13:\"email_address\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Email
  address\";s:7:\"example\";s:23:\"pat.johnson@example.com\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"First
  name\";s:7:\"example\";s:3:\"Pat\";s:4:\"type\";s:6:\"string\";}s:10:\"home_phone\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Home
  phone without formatting\";s:7:\"example\";s:15:\"+1 444 555 6666\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Person
  ID\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:6:\"import\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:37:\"Import
  that this person was a part of\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:38:\"https://api.salesloft.com/v2/imports/1\";s:2:\"id\";i:1;}}s:17:\"last_contacted_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Last
  datetime this person was contacted\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.476168-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:17:\"last_contacted_by\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:36:\"User
  that last contacted this person\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/1\";s:2:\"id\";i:1;}}s:19:\"last_contacted_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  type of the last touch to this person. Can be call, email, other\";s:7:\"example\";s:4:\"call\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Last
  name\";s:7:\"example\";s:7:\"Johnson\";s:4:\"type\";s:6:\"string\";}s:15:\"last_replied_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Last
  datetime this person replied to an email\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.476192-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:12:\"linkedin_url\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Linkedin
  URL\";s:7:\"example\";s:36:\"https://www.linkedin.com/in/username\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Time
  locale of the person\";s:7:\"example\";s:10:\"US/Eastern\";s:4:\"type\";s:6:\"string\";}s:12:\"mobile_phone\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Mobile
  phone without formatting\";s:7:\"example\";s:15:\"+1 444 555 6666\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:47:\"User
  that is marked as the owner of this person\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/1\";s:2:\"id\";i:1;}}s:12:\"owner_crm_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Mapped
  owner field from the CRM, currently Salesforce.com only\";s:7:\"example\";s:15:\"003i000001mnhpD\";s:4:\"type\";s:6:\"string\";}s:23:\"person_company_industry\";O:8:\"stdClass\":3:{s:11:\"description\";s:163:\"Company
  industry. This property is specific to this person, unrelated to the company object.
  Updating the company object associated with this person is recommended\";s:7:\"example\";s:22:\"Information
  Technology\";s:4:\"type\";s:6:\"string\";}s:19:\"person_company_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:159:\"Company
  name. This property is specific to this person, unrelated to the company object.
  Updating the company object associated with this person is recommended\";s:7:\"example\";s:9:\"SalesLoft\";s:4:\"type\";s:6:\"string\";}s:22:\"person_company_website\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"Company
  website. This property is specific to this person, unrelated to the company object.
  Updating the company object associated with this person is recommended\";s:7:\"example\";s:21:\"https://salesloft.com\";s:4:\"type\";s:6:\"string\";}s:12:\"person_stage\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:37:\"Person
  stage that this person has set\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:44:\"https://api.salesloft.com/v2/person_stages/1\";s:2:\"id\";i:1;}}s:22:\"personal_email_address\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Personal
  email address\";s:7:\"example\";s:23:\"pat.johnson@example.com\";s:4:\"type\";s:6:\"string\";}s:16:\"personal_website\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  website of this person\";s:7:\"example\";s:21:\"https://salesloft.com\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Phone
  without formatting\";s:7:\"example\";s:15:\"+1 444 555 6666\";s:4:\"type\";s:6:\"string\";}s:15:\"phone_extension\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Phone
  extension without formatting\";s:7:\"example\";s:4:\"x123\";s:4:\"type\";s:6:\"string\";}s:23:\"secondary_email_address\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Alternate
  email address\";s:7:\"example\";s:23:\"pat.johnson@example.com\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"State\";s:7:\"example\";s:7:\"Georgia\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"All
  tags applied to this person\";s:7:\"example\";a:2:{i:0;s:9:\"7-23-2017\";i:1;s:10:\"dreamforce\";}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Job
  title\";s:7:\"example\";s:32:\"Sales Development Representative\";s:4:\"type\";s:6:\"string\";}s:14:\"twitter_handle\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  twitter handle of this person\";s:7:\"example\";s:11:\"@kyleporter\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Datetime
  of when the person was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.476136-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:9:\"work_city\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Work
  location - city\";s:7:\"example\";s:7:\"Atlanta\";s:4:\"type\";s:6:\"string\";}s:12:\"work_country\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Work
  location - country\";s:7:\"example\";s:13:\"United States\";s:4:\"type\";s:6:\"string\";}s:10:\"work_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Work
  location - state\";s:7:\"example\";s:7:\"Georgia\";s:4:\"type\";s:6:\"string\";}}}s:12:\"PersonCounts\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"calls\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  number of calls logged to this person\";s:7:\"example\";i:4;s:4:\"type\";s:7:\"integer\";}s:14:\"emails_bounced\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  number of unique emails sent to this person that bounced\";s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";}s:14:\"emails_clicked\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  number of unique emails clicked by this person\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:17:\"emails_replied_to\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  number of unique emails replied to by this person\";s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";}s:11:\"emails_sent\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  number of emails sent to this person\";s:7:\"example\";i:3;s:4:\"type\";s:7:\"integer\";}s:13:\"emails_viewed\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  number of unique emails viewed by this person\";s:7:\"example\";i:2;s:4:\"type\";s:7:\"integer\";}}}s:11:\"PersonStage\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Datetime
  of when the Person Stage was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.490199-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"ID
  of Person Stage\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Name
  of Person Stage\";s:7:\"example\";s:11:\"Entry Stage\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Datetime
  of when the Person Stage was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.490254-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}}}s:16:\"RecordingSetting\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"recording_default\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Whether
  this phone number should record by default\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}}}s:4:\"Step\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"cadence\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:23:\"The
  cadence of the step\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:39:\"https://api.salesloft.com/v2/cadences/1\";s:2:\"id\";i:1;}}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Datetime
  of when the Step was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.565505-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:3:\"day\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Day
  this step is associated with up\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:44:\"Details
  pertaining to the specific step type\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:63:\"https://api.salesloft.com/v2/action_details/call_instructions/1\";s:2:\"id\";i:1;}}s:8:\"disabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Whether
  this step is currently active\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:12:\"display_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Display
  name of the step\";s:7:\"example\";s:21:\"Day 1: Step 2 - Phone\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"ID
  of Step\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:11:\"step_number\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  number of the step for this day\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"The
  type of the action scheduled by this step. Valid types are: email, phone, other.
  New types may be added in the future.\n\";s:7:\"example\";s:5:\"phone\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Datetime
  of when the Step was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.565572-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}}}s:7:\"Success\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"counts\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/SuccessCounts\";s:11:\"description\";s:31:\"Various
  counts for this success\";s:7:\"example\";O:8:\"stdClass\":3:{s:11:\"total_calls\";i:5;s:12:\"total_emails\";i:2;s:19:\"total_other_touches\";i:3;}}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Datetime
  of when the success was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.500168-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"ID
  of success\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:13:\"latest_action\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:77:\"The
  action that was most recently completed on this person before the success\";s:7:\"example\";O:8:\"stdClass\":1:{s:2:\"id\";i:3;}}s:11:\"latest_call\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:70:\"The
  call that was most recently made to this person before the success\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:47:\"https://api.salesloft.com/v2/activities/calls/2\";s:2:\"id\";i:2;}}s:12:\"latest_email\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:71:\"The
  email that was most recently sent to this person before the success\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:48:\"https://api.salesloft.com/v2/activities/emails/1\";s:2:\"id\";i:1;}}s:6:\"person\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:36:\"The
  person who a success occurred on\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:37:\"https://api.salesloft.com/v2/people/1\";s:2:\"id\";i:1;}}s:12:\"succeeded_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Datetime
  of when the success was recorded\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.500274-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:25:\"success_window_started_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"Datetime
  of when this person was first worked, leading up to the success\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.500302-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Datetime
  of when the success was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.500224-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:30:\"User
  that created this success\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/1\";s:2:\"id\";i:1;}}}}s:13:\"SuccessCounts\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"total_calls\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  total number of calls made in this success window\";s:7:\"example\";i:5;s:4:\"type\";s:7:\"integer\";}s:12:\"total_emails\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  total number of emails made in this success window\";s:7:\"example\";i:2;s:4:\"type\";s:7:\"integer\";}s:19:\"total_other_touches\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  total number of other touches made in this success window\";s:7:\"example\";i:3;s:4:\"type\";s:7:\"integer\";}}}s:4:\"Team\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":17:{s:27:\"allow_automated_email_steps\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Whether
  team members are allowed to have automated email steps\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:23:\"call_recording_disabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Whether
  all call recording is disabled\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:22:\"click_tracking_default\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  team default for click tracking when composing emails\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Datetime
  of when the team was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.506235-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:22:\"custom_tracking_domain\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  domain click and open tracking will be proxied through\";s:7:\"example\";s:18:\"examplecompany.com\";s:4:\"type\";s:6:\"string\";}s:21:\"dispositions_required\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Whether
  team members are required to mark disposition at the end of calls\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:17:\"email_daily_limit\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Daily
  email limit for each member on the team\";s:7:\"example\";i:1000;s:4:\"type\";s:7:\"integer\";}s:21:\"group_privacy_setting\";O:8:\"stdClass\":3:{s:11:\"description\";s:281:\"Visibility
  setting for resources across the team. Possible values are: group_public, all_public.\nWhen
  the value is group_public, certain resources will only be visible to members of
  the same group.\nWhen the value is all_public, all resources are visible to all
  users on this team.\n\";s:7:\"example\";s:10:\"all_public\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Team
  ID\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:13:\"license_limit\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Count
  of seats that this team has licensed\";s:7:\"example\";i:100;s:4:\"type\";s:7:\"integer\";}s:18:\"local_dial_enabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Whether
  this team has local dial enabled\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Team
  name\";s:7:\"example\";s:10:\"The A-Team\";s:4:\"type\";s:6:\"string\";}s:4:\"plan\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Plan
  type of the team, Possible values are: group, professional, enterprise\";s:7:\"example\";s:12:\"professional\";s:4:\"type\";s:6:\"string\";}s:17:\"record_by_default\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Whether
  calls will record by default\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:19:\"sentiments_required\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Whether
  team members are required to log sentiments\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:23:\"team_visibility_default\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"The
  default visibility of resources on the team, in the UI only. The API does not utilize
  this default.\nPossible values are: public, private.\n\";s:7:\"example\";s:6:\"public\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Datetime
  of when the team was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.506288-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}}}s:12:\"TeamTemplate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"archived_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Datetime
  of when the team template was archived, if archived\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.511488-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:4:\"body\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Body
  of the team template\";s:7:\"example\";s:188:\"<div>Do you know about birds?</div><div>You
  can find them here:\_<a href=\"https://www.allaboutbirds.org/guide/search/\" target=\"_blank\">https://www.allaboutbirds.org/guide/search/</a></div>\";s:4:\"type\";s:6:\"string\";}s:22:\"click_tracking_enabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Whether
  click tracking is enabled for this team template\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:6:\"counts\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:32:\"#/definitions/TeamTemplateCounts\";s:11:\"description\";s:133:\"Various
  counts for this team template. Counts will update over time but will not affect
  the 'updated at' field for the team template.\";s:7:\"example\";O:8:\"stdClass\":5:{s:7:\"bounces\";i:10;s:6:\"clicks\";i:20;s:7:\"replies\";i:1;s:11:\"sent_emails\";i:59;s:5:\"views\";i:3;}}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Datetime
  of when the team template was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.511362-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"ID
  of team template\";s:7:\"example\";s:36:\"51226150-3108-4dea-883b-0c0d7388f456\";s:4:\"type\";s:6:\"string\";}s:16:\"last_modified_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Datetime
  of when the team template was last modified\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.511548-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:18:\"last_modified_user\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:42:\"User
  that last modified this team template\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:36:\"https://api.salesloft.com/v2/users/1\";s:2:\"id\";i:1;}}s:12:\"last_used_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Datetime
  of when the team template was last used\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.511464-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:21:\"open_tracking_enabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Whether
  open tracking is enabled for this team template\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Subject
  of the team template\";s:7:\"example\";s:26:\"It\u2019s time to say goodbye\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Title
  of the team template\";s:7:\"example\";s:16:\"VP Breakup Email\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Datetime
  of when the team template was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.511438-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}}}s:18:\"TeamTemplateCounts\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"bounces\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  number of bounces the team template received\";s:7:\"example\";i:10;s:4:\"type\";s:7:\"integer\";}s:6:\"clicks\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  number of times links in the team template were clicked\";s:7:\"example\";i:20;s:4:\"type\";s:7:\"integer\";}s:7:\"replies\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  number of replies the team template received\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:11:\"sent_emails\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  number of times the team template was sent out\";s:7:\"example\";i:59;s:4:\"type\";s:7:\"integer\";}s:5:\"views\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  number of times the team template was opened\";s:7:\"example\";i:3;s:4:\"type\";s:7:\"integer\";}}}s:4:\"User\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":28:{s:6:\"active\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Whether
  an user is currently active in SalesLoft\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:17:\"bcc_email_address\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Address
  that will be BBC'd on all emails from this user\";s:7:\"example\";s:18:\"fake@salesloft.com\";s:4:\"type\";s:6:\"string\";}s:21:\"click_to_call_enabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Whether
  this user has click to call enabled\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Datetime
  of when the user was created\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.460736-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:13:\"crm_connected\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Whether
  the user has a crm connected\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Email
  address provided to accounts.salesloft.com\";s:7:\"example\";s:18:\"fake@salesloft.com\";s:4:\"type\";s:6:\"string\";}s:23:\"email_client_configured\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Whether
  this user has a email client configured\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:26:\"email_client_email_address\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Email
  address associated with the email client of the user\";s:7:\"example\";s:18:\"fake@salesloft.com\";s:4:\"type\";s:6:\"string\";}s:15:\"email_signature\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Email
  signature\";s:7:\"example\";s:39:\"Benjamin Franklin<div></div><div></div>\";s:4:\"type\";s:6:\"string\";}s:39:\"email_signature_click_tracking_disabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Whether
  this user has click tracking disabled in email signature\";s:7:\"example\";b:0;s:4:\"type\";s:7:\"boolean\";}s:20:\"email_signature_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Email
  signature type\";s:7:\"example\";s:4:\"html\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"First
  name of user\";s:7:\"example\";s:8:\"Benjamin\";s:4:\"type\";s:6:\"string\";}s:12:\"from_address\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  from address of this user\";s:7:\"example\";s:18:\"fake@salesloft.com\";s:4:\"type\";s:6:\"string\";}s:18:\"full_email_address\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"RFC
  5322 compliant email address\";s:7:\"example\";s:44:\"\"Benjamin Franklin\" <Benjamin@salesloft.com>\";s:4:\"type\";s:6:\"string\";}s:5:\"group\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:13:\"Group
  of user\";s:7:\"example\";O:8:\"stdClass\":1:{s:2:\"id\";i:1;}}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"User
  ID\";s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Last
  name of user\";s:7:\"example\";s:8:\"Franklin\";s:4:\"type\";s:6:\"string\";}s:18:\"local_dial_enabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Whether
  this user has Local Dial enabled\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Display
  name of user\";s:7:\"example\";s:17:\"Benjamin Franklin\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_client\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:20:\"Phone
  Client of user\";s:7:\"example\";O:8:\"stdClass\":1:{s:2:\"id\";i:1;}}s:23:\"phone_number_assignment\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:31:\"Phone
  number assignment of user\";s:7:\"example\";O:8:\"stdClass\":1:{s:2:\"id\";i:1;}}s:21:\"sending_email_address\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"The
  email address that email of the user will be sent from, resolved in the following
  resolution order: from_user, email_client_email_address, email\";s:7:\"example\";s:18:\"fake@salesloft.com\";s:4:\"type\";s:6:\"string\";}s:14:\"slack_username\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Slack
  username\";s:7:\"example\";s:17:\"benjamin-franklin\";s:4:\"type\";s:6:\"string\";}s:4:\"team\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:30:\"#/definitions/EmbeddedResource\";s:11:\"description\";s:12:\"Team
  of user\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"_href\";s:33:\"https://api.salesloft.com/v2/team\";s:2:\"id\";i:1;}}s:10:\"team_admin\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Team
  Admin\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:9:\"time_zone\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"User
  Time Zone\";s:7:\"example\";s:10:\"US/Eastern\";s:4:\"type\";s:6:\"string\";}s:14:\"twitter_handle\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Twitter
  handle\";s:7:\"example\";s:18:\"@benjamin-franklin\";s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Datetime
  of when the user was last updated\";s:7:\"example\";s:32:\"2018-02-01T15:02:39.460810-05:00\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}}}}"
...
