---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:3114:\"<fullname>AWS
  CodeBuild</fullname> <p>AWS CodeBuild is a fully managed build service in the cloud.
  AWS CodeBuild compiles your source code, runs unit tests, and produces artifacts
  that are ready to deploy. AWS CodeBuild eliminates the need to provision, manage,
  and scale your own build servers. It provides prepackaged build environments for
  the most popular programming languages and build tools, such as Apache Maven, Gradle,
  and more. You can also fully customize build environments in AWS CodeBuild to use
  your own build tools. AWS CodeBuild scales automatically to meet peak build requests,
  and you pay only for the build time you consume. For more information about AWS
  CodeBuild, see the <i>AWS CodeBuild User Guide</i>.</p> <p>AWS CodeBuild supports
  these operations:</p> <ul> <li> <p> <code>BatchDeleteBuilds</code>: Deletes one
  or more builds.</p> </li> <li> <p> <code>BatchGetProjects</code>: Gets information
  about one or more build projects. A <i>build project</i> defines how AWS CodeBuild
  will run a build. This includes information such as where to get the source code
  to build, the build environment to use, the build commands to run, and where to
  store the build output. A <i>build environment</i> represents a combination of operating
  system, programming language runtime, and tools that AWS CodeBuild will use to run
  a build. Also, you can add tags to build projects to help manage your resources
  and costs.</p> </li> <li> <p> <code>CreateProject</code>: Creates a build project.</p>
  </li> <li> <p> <code>CreateWebhook</code>: For an existing AWS CodeBuild build project
  that has its source code stored in a GitHub repository, enables AWS CodeBuild to
  begin automatically rebuilding the source code every time a code change is pushed
  to the repository.</p> </li> <li> <p> <code>UpdateWebhook</code>: Changes the settings
  of an existing webhook.</p> </li> <li> <p> <code>DeleteProject</code>: Deletes a
  build project.</p> </li> <li> <p> <code>DeleteWebhook</code>: For an existing AWS
  CodeBuild build project that has its source code stored in a GitHub repository,
  stops AWS CodeBuild from automatically rebuilding the source code every time a code
  change is pushed to the repository.</p> </li> <li> <p> <code>ListProjects</code>:
  Gets a list of build project names, with each build project name representing a
  single build project.</p> </li> <li> <p> <code>UpdateProject</code>: Changes the
  settings of an existing build project.</p> </li> <li> <p> <code>BatchGetBuilds</code>:
  Gets information about one or more builds.</p> </li> <li> <p> <code>ListBuilds</code>:
  Gets a list of build IDs, with each build ID representing a single build.</p> </li>
  <li> <p> <code>ListBuildsForProject</code>: Gets a list of build IDs for the specified
  build project, with each build ID representing a single build.</p> </li> <li> <p>
  <code>StartBuild</code>: Starts running a build.</p> </li> <li> <p> <code>StopBuild</code>:
  Attempts to stop running a build.</p> </li> <li> <p> <code>ListCuratedEnvironmentImages</code>:
  Gets information about Docker images that are managed by AWS CodeBuild.</p> </li>
  </ul>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache 2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:13:\"AWS
  CodeBuild\";s:7:\"version\";s:10:\"2016-10-06\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:93:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codebuild-2016-10-06.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:9:\"codebuild\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"amazonaws_codebuild\";s:4:\"type\";s:7:\"openapi\";}}"
host: codebuild.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":101:{s:29:\"AccountLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"An
  AWS service limit was exceeded for the calling AWS account.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"ArtifactNamespace\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"NONE\";i:1;s:8:\"BUILD_ID\";}s:4:\"type\";s:6:\"string\";}s:17:\"ArtifactPackaging\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"NONE\";i:1;s:3:\"ZIP\";}s:4:\"type\";s:6:\"string\";}s:13:\"ArtifactsType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:12:\"CODEPIPELINE\";i:1;s:2:\"S3\";i:2;s:12:\"NO_ARTIFACTS\";}s:4:\"type\";s:6:\"string\";}s:22:\"BatchDeleteBuildsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"ids\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BuildIds\";s:11:\"description\";s:32:\"The
  IDs of the builds to delete.\";}}s:8:\"required\";a:1:{i:0;s:3:\"ids\";}s:4:\"type\";s:6:\"object\";}s:23:\"BatchDeleteBuildsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"buildsDeleted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BuildIds\";s:11:\"description\";s:53:\"The
  IDs of the builds that were successfully deleted.\";}s:16:\"buildsNotDeleted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BuildsNotDeleted\";s:11:\"description\";s:68:\"Information
  about any builds that could not be successfully deleted.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"BatchGetBuildsInput\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:3:\"ids\";a:2:{i:0;s:59:\"codebuild-demo-project:9b0ac37f-d19e-4254-9079-f47e9a389eEX\";i:1;s:59:\"codebuild-demo-project:b79a46f7-1473-4636-a23f-da9c45c208EX\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"ids\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BuildIds\";s:11:\"description\";s:22:\"The
  IDs of the builds.\";}}s:8:\"required\";a:1:{i:0;s:3:\"ids\";}s:4:\"type\";s:6:\"object\";}s:20:\"BatchGetBuildsOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"builds\";a:2:{i:0;O:8:\"stdClass\":15:{s:3:\"arn\";s:106:\"arn:aws:codebuild:us-east-1:123456789012:build/codebuild-demo-project:9b0ac37f-d19e-4254-9079-f47e9a389eEX\";s:9:\"artifacts\";O:8:\"stdClass\":1:{s:8:\"location\";s:72:\"arn:aws:s3:::codebuild-123456789012-output-bucket/codebuild-demo-project\";}s:13:\"buildComplete\";b:1;s:11:\"buildStatus\";s:9:\"SUCCEEDED\";s:12:\"currentPhase\";s:9:\"COMPLETED\";s:7:\"endTime\";d:1479832474.7639999;s:11:\"environment\";O:8:\"stdClass\":5:{s:11:\"computeType\";s:20:\"BUILD_GENERAL1_SMALL\";s:20:\"environmentVariables\";a:0:{}s:5:\"image\";s:28:\"aws/codebuild/java:openjdk-8\";s:14:\"privilegedMode\";b:0;s:4:\"type\";s:15:\"LINUX_CONTAINER\";}s:2:\"id\";s:59:\"codebuild-demo-project:9b0ac37f-d19e-4254-9079-f47e9a389eEX\";s:9:\"initiator\";s:10:\"MyDemoUser\";s:4:\"logs\";O:8:\"stdClass\":3:{s:8:\"deepLink\";s:160:\"https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logEvent:group=/aws/codebuild/codebuild-demo-project;stream=9b0ac37f-d19e-4254-9079-f47e9a389eEX\";s:9:\"groupName\";s:37:\"/aws/codebuild/codebuild-demo-project\";s:10:\"streamName\";s:36:\"9b0ac37f-d19e-4254-9079-f47e9a389eEX\";}s:6:\"phases\";a:10:{i:0;O:8:\"stdClass\":5:{s:17:\"durationInSeconds\";i:0;s:7:\"endTime\";d:1479832342.23;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:9:\"SUBMITTED\";s:9:\"startTime\";d:1479832341.8540001;}i:1;O:8:\"stdClass\":6:{s:8:\"contexts\";a:0:{}s:17:\"durationInSeconds\";i:72;s:7:\"endTime\";d:1479832415.0639999;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:12:\"PROVISIONING\";s:9:\"startTime\";d:1479832342.23;}i:2;O:8:\"stdClass\":6:{s:8:\"contexts\";a:0:{}s:17:\"durationInSeconds\";i:46;s:7:\"endTime\";d:1479832461.2609999;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:15:\"DOWNLOAD_SOURCE\";s:9:\"startTime\";d:1479832415.0639999;}i:3;O:8:\"stdClass\":6:{s:8:\"contexts\";a:0:{}s:17:\"durationInSeconds\";i:0;s:7:\"endTime\";d:1479832461.3540001;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:7:\"INSTALL\";s:9:\"startTime\";d:1479832461.2609999;}i:4;O:8:\"stdClass\":6:{s:8:\"contexts\";a:0:{}s:17:\"durationInSeconds\";i:0;s:7:\"endTime\";d:1479832461.448;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:9:\"PRE_BUILD\";s:9:\"startTime\";d:1479832461.3540001;}i:5;O:8:\"stdClass\":6:{s:8:\"contexts\";a:0:{}s:17:\"durationInSeconds\";i:9;s:7:\"endTime\";d:1479832471.115;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:5:\"BUILD\";s:9:\"startTime\";d:1479832461.448;}i:6;O:8:\"stdClass\":6:{s:8:\"contexts\";a:0:{}s:17:\"durationInSeconds\";i:0;s:7:\"endTime\";d:1479832471.224;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:10:\"POST_BUILD\";s:9:\"startTime\";d:1479832471.115;}i:7;O:8:\"stdClass\":6:{s:8:\"contexts\";a:0:{}s:17:\"durationInSeconds\";i:0;s:7:\"endTime\";d:1479832471.7909999;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:16:\"UPLOAD_ARTIFACTS\";s:9:\"startTime\";d:1479832471.224;}i:8;O:8:\"stdClass\":6:{s:8:\"contexts\";a:0:{}s:17:\"durationInSeconds\";i:2;s:7:\"endTime\";d:1479832474.7639999;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:10:\"FINALIZING\";s:9:\"startTime\";d:1479832471.7909999;}i:9;O:8:\"stdClass\":2:{s:9:\"phaseType\";s:9:\"COMPLETED\";s:9:\"startTime\";d:1479832474.7639999;}}s:11:\"projectName\";s:22:\"codebuild-demo-project\";s:6:\"source\";O:8:\"stdClass\":3:{s:9:\"buildspec\";s:0:\"\";s:8:\"location\";s:64:\"arn:aws:s3:::codebuild-123456789012-input-bucket/MessageUtil.zip\";s:4:\"type\";s:2:\"S3\";}s:9:\"startTime\";d:1479832341.8540001;s:16:\"timeoutInMinutes\";i:60;}i:1;O:8:\"stdClass\":15:{s:3:\"arn\";s:106:\"arn:aws:codebuild:us-east-1:123456789012:build/codebuild-demo-project:b79a46f7-1473-4636-a23f-da9c45c208EX\";s:9:\"artifacts\";O:8:\"stdClass\":1:{s:8:\"location\";s:72:\"arn:aws:s3:::codebuild-123456789012-output-bucket/codebuild-demo-project\";}s:13:\"buildComplete\";b:1;s:11:\"buildStatus\";s:9:\"SUCCEEDED\";s:12:\"currentPhase\";s:9:\"COMPLETED\";s:7:\"endTime\";d:1479401214.2390001;s:11:\"environment\";O:8:\"stdClass\":5:{s:11:\"computeType\";s:20:\"BUILD_GENERAL1_SMALL\";s:20:\"environmentVariables\";a:0:{}s:5:\"image\";s:28:\"aws/codebuild/java:openjdk-8\";s:14:\"privilegedMode\";b:0;s:4:\"type\";s:15:\"LINUX_CONTAINER\";}s:2:\"id\";s:59:\"codebuild-demo-project:b79a46f7-1473-4636-a23f-da9c45c208EX\";s:9:\"initiator\";s:10:\"MyDemoUser\";s:4:\"logs\";O:8:\"stdClass\":3:{s:8:\"deepLink\";s:160:\"https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logEvent:group=/aws/codebuild/codebuild-demo-project;stream=b79a46f7-1473-4636-a23f-da9c45c208EX\";s:9:\"groupName\";s:37:\"/aws/codebuild/codebuild-demo-project\";s:10:\"streamName\";s:36:\"b79a46f7-1473-4636-a23f-da9c45c208EX\";}s:6:\"phases\";a:10:{i:0;O:8:\"stdClass\":5:{s:17:\"durationInSeconds\";i:0;s:7:\"endTime\";d:1479401082.342;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:9:\"SUBMITTED\";s:9:\"startTime\";d:1479401081.869;}i:1;O:8:\"stdClass\":6:{s:8:\"contexts\";a:0:{}s:17:\"durationInSeconds\";i:71;s:7:\"endTime\";d:1479401154.1289999;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:12:\"PROVISIONING\";s:9:\"startTime\";d:1479401082.342;}i:2;O:8:\"stdClass\":6:{s:8:\"contexts\";a:0:{}s:17:\"durationInSeconds\";i:45;s:7:\"endTime\";d:1479401199.1359999;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:15:\"DOWNLOAD_SOURCE\";s:9:\"startTime\";d:1479401154.1289999;}i:3;O:8:\"stdClass\":6:{s:8:\"contexts\";a:0:{}s:17:\"durationInSeconds\";i:0;s:7:\"endTime\";d:1479401199.2360001;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:7:\"INSTALL\";s:9:\"startTime\";d:1479401199.1359999;}i:4;O:8:\"stdClass\":6:{s:8:\"contexts\";a:0:{}s:17:\"durationInSeconds\";i:0;s:7:\"endTime\";d:1479401199.345;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:9:\"PRE_BUILD\";s:9:\"startTime\";d:1479401199.2360001;}i:5;O:8:\"stdClass\":6:{s:8:\"contexts\";a:0:{}s:17:\"durationInSeconds\";i:9;s:7:\"endTime\";d:1479401208.6800001;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:5:\"BUILD\";s:9:\"startTime\";d:1479401199.345;}i:6;O:8:\"stdClass\":6:{s:8:\"contexts\";a:0:{}s:17:\"durationInSeconds\";i:0;s:7:\"endTime\";d:1479401208.783;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:10:\"POST_BUILD\";s:9:\"startTime\";d:1479401208.6800001;}i:7;O:8:\"stdClass\":6:{s:8:\"contexts\";a:0:{}s:17:\"durationInSeconds\";i:0;s:7:\"endTime\";d:1479401209.4630001;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:16:\"UPLOAD_ARTIFACTS\";s:9:\"startTime\";d:1479401208.783;}i:8;O:8:\"stdClass\":6:{s:8:\"contexts\";a:0:{}s:17:\"durationInSeconds\";i:4;s:7:\"endTime\";d:1479401214.2390001;s:11:\"phaseStatus\";s:9:\"SUCCEEDED\";s:9:\"phaseType\";s:10:\"FINALIZING\";s:9:\"startTime\";d:1479401209.4630001;}i:9;O:8:\"stdClass\":2:{s:9:\"phaseType\";s:9:\"COMPLETED\";s:9:\"startTime\";d:1479401214.2390001;}}s:11:\"projectName\";s:22:\"codebuild-demo-project\";s:6:\"source\";O:8:\"stdClass\":2:{s:8:\"location\";s:64:\"arn:aws:s3:::codebuild-123456789012-input-bucket/MessageUtil.zip\";s:4:\"type\";s:2:\"S3\";}s:9:\"startTime\";d:1479401081.869;s:16:\"timeoutInMinutes\";i:60;}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"builds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Builds\";s:11:\"description\";s:39:\"Information
  about the requested builds.\";}s:14:\"buildsNotFound\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BuildIds\";s:11:\"description\";s:59:\"The
  IDs of builds for which information could not be found.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"BatchGetProjectsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"names\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ProjectNames\";s:11:\"description\";s:32:\"The
  names of the build projects.\";}}s:8:\"required\";a:1:{i:0;s:5:\"names\";}s:4:\"type\";s:6:\"object\";}s:22:\"BatchGetProjectsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"projects\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Projects\";s:11:\"description\";s:47:\"Information
  about the requested build projects.\";}s:16:\"projectsNotFound\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ProjectNames\";s:11:\"description\";s:69:\"The
  names of build projects for which information could not be found.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"Build\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Information
  about a build.\";s:10:\"properties\";O:8:\"stdClass\":20:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:44:\"The
  Amazon Resource Name (ARN) of the build.\";}s:9:\"artifacts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BuildArtifacts\";s:11:\"description\";s:53:\"Information
  about the output artifacts for the build.\";}s:13:\"buildComplete\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:68:\"Whether
  the build has finished. True if completed; otherwise, false.\";}s:11:\"buildStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StatusType\";s:11:\"description\";s:453:\"<p>The
  current status of the build. Valid values include:</p> <ul> <li> <p> <code>FAILED</code>:
  The build failed.</p> </li> <li> <p> <code>FAULT</code>: The build faulted.</p>
  </li> <li> <p> <code>IN_PROGRESS</code>: The build is still in progress.</p> </li>
  <li> <p> <code>STOPPED</code>: The build stopped.</p> </li> <li> <p> <code>SUCCEEDED</code>:
  The build succeeded.</p> </li> <li> <p> <code>TIMED_OUT</code>: The build timed
  out.</p> </li> </ul>\";}s:5:\"cache\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ProjectCache\";s:11:\"description\";s:42:\"Information
  about the cache for the build.\";}s:12:\"currentPhase\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:24:\"The
  current build phase.\";}s:7:\"endTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:60:\"When
  the build process ended, expressed in Unix time format.\";}s:11:\"environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ProjectEnvironment\";s:11:\"description\";s:55:\"Information
  about the build environment for this build.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:28:\"The
  unique ID for the build.\";}s:9:\"initiator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:481:\"<p>The
  entity that started the build. Valid values include:</p> <ul> <li> <p>If AWS CodePipeline
  started the build, the pipeline's name (for example, <code>codepipeline/my-demo-pipeline</code>).</p>
  </li> <li> <p>If an AWS Identity and Access Management (IAM) user started the build,
  the user's name (for example <code>MyUserName</code>).</p> </li> <li> <p>If the
  Jenkins plugin for AWS CodeBuild started the build, the string <code>CodeBuild-Jenkins-Plugin</code>.</p>
  </li> </ul>\";}s:4:\"logs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogsLocation\";s:11:\"description\";s:61:\"Information
  about the build's logs in Amazon CloudWatch Logs.\";}s:16:\"networkInterface\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/NetworkInterface\";s:11:\"description\";s:30:\"Describes
  a network interface.\";}s:6:\"phases\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BuildPhases\";s:11:\"description\";s:134:\"Information
  about all previous build phases that are completed and information about any current
  build phase that is not yet complete.\";}s:11:\"projectName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:38:\"The
  name of the AWS CodeBuild project.\";}s:11:\"serviceRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:47:\"The
  name of a service role used for this build.\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ProjectSource\";s:11:\"description\";s:46:\"Information
  about the source code to be built.\";}s:13:\"sourceVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:70:\"Any
  version identifier for the version of the source code to be built.\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:62:\"When
  the build process started, expressed in Unix time format.\";}s:16:\"timeoutInMinutes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/WrapperInt\";s:11:\"description\";s:116:\"How
  long, in minutes, for AWS CodeBuild to wait before timing out this build if it does
  not get marked as completed.\";}s:9:\"vpcConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VpcConfig\";s:11:\"description\";s:296:\"If
  your AWS CodeBuild project accesses resources in an Amazon VPC, you provide this
  parameter that identifies the VPC ID and the list of security group IDs and subnet
  IDs. The security groups and subnets must belong to the same VPC. You must provide
  at least one security group and one subnet ID.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"BuildArtifacts\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Information
  about build output artifacts.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:54:\"Information
  about the location of the build artifacts.\";}s:6:\"md5sum\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:278:\"<p>The
  MD5 hash of the build artifact.</p> <p>You can use this hash along with a checksum
  tool to confirm both file integrity and authenticity.</p> <note> <p>This value is
  available only if the build project's <code>packaging</code> value is set to <code>ZIP</code>.</p>
  </note>\";}s:9:\"sha256sum\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:282:\"<p>The
  SHA-256 hash of the build artifact.</p> <p>You can use this hash along with a checksum
  tool to confirm both file integrity and authenticity.</p> <note> <p>This value is
  available only if the build project's <code>packaging</code> value is set to <code>ZIP</code>.</p>
  </note>\";}}s:4:\"type\";s:6:\"object\";}s:8:\"BuildIds\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:15:\"BuildNotDeleted\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Information
  about a build that could not be successfully deleted.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:59:\"The
  ID of the build that could not be successfully deleted.\";}s:10:\"statusCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:78:\"Additional
  information about the build that could not be successfully deleted.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"BuildPhase\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Information
  about a stage for a build.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"contexts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PhaseContexts\";s:11:\"description\";s:91:\"Additional
  information about a build phase, especially to help troubleshoot a failed build.\";}s:17:\"durationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WrapperLong\";s:11:\"description\";s:81:\"How
  long, in seconds, between the starting and ending times of the build's phase.\";}s:7:\"endTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:58:\"When
  the build phase ended, expressed in Unix time format.\";}s:11:\"phaseStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StatusType\";s:11:\"description\";s:495:\"<p>The
  current status of the build phase. Valid values include:</p> <ul> <li> <p> <code>FAILED</code>:
  The build phase failed.</p> </li> <li> <p> <code>FAULT</code>: The build phase faulted.</p>
  </li> <li> <p> <code>IN_PROGRESS</code>: The build phase is still in progress.</p>
  </li> <li> <p> <code>STOPPED</code>: The build phase stopped.</p> </li> <li> <p>
  <code>SUCCEEDED</code>: The build phase succeeded.</p> </li> <li> <p> <code>TIMED_OUT</code>:
  The build phase timed out.</p> </li> </ul>\";}s:9:\"phaseType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BuildPhaseType\";s:11:\"description\";s:1018:\"<p>The
  name of the build phase. Valid values include:</p> <ul> <li> <p> <code>BUILD</code>:
  Core build activities typically occur in this build phase.</p> </li> <li> <p> <code>COMPLETED</code>:
  The build has been completed.</p> </li> <li> <p> <code>DOWNLOAD_SOURCE</code>: Source
  code is being downloaded in this build phase.</p> </li> <li> <p> <code>FINALIZING</code>:
  The build process is completing in this build phase.</p> </li> <li> <p> <code>INSTALL</code>:
  Installation activities typically occur in this build phase.</p> </li> <li> <p>
  <code>POST_BUILD</code>: Post-build activities typically occur in this build phase.</p>
  </li> <li> <p> <code>PRE_BUILD</code>: Pre-build activities typically occur in this
  build phase.</p> </li> <li> <p> <code>PROVISIONING</code>: The build environment
  is being set up.</p> </li> <li> <p> <code>SUBMITTED</code>: The build has been submitted.</p>
  </li> <li> <p> <code>UPLOAD_ARTIFACTS</code>: Build output artifacts are being uploaded
  to the output location.</p> </li> </ul>\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:60:\"When
  the build phase started, expressed in Unix time format.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"BuildPhaseType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:9:\"SUBMITTED\";i:1;s:12:\"PROVISIONING\";i:2;s:15:\"DOWNLOAD_SOURCE\";i:3;s:7:\"INSTALL\";i:4;s:9:\"PRE_BUILD\";i:5;s:5:\"BUILD\";i:6;s:10:\"POST_BUILD\";i:7;s:16:\"UPLOAD_ARTIFACTS\";i:8;s:10:\"FINALIZING\";i:9;s:9:\"COMPLETED\";}s:4:\"type\";s:6:\"string\";}s:11:\"BuildPhases\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/BuildPhase\";}s:4:\"type\";s:5:\"array\";}s:6:\"Builds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}s:4:\"type\";s:5:\"array\";}s:16:\"BuildsNotDeleted\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BuildNotDeleted\";}s:4:\"type\";s:5:\"array\";}s:9:\"CacheType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:8:\"NO_CACHE\";i:1;s:2:\"S3\";}s:4:\"type\";s:6:\"string\";}s:11:\"ComputeType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:20:\"BUILD_GENERAL1_SMALL\";i:1;s:21:\"BUILD_GENERAL1_MEDIUM\";i:2;s:20:\"BUILD_GENERAL1_LARGE\";}s:4:\"type\";s:6:\"string\";}s:18:\"CreateProjectInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:9:\"artifacts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ProjectArtifacts\";s:11:\"description\";s:67:\"Information
  about the build output artifacts for the build project.\";}s:12:\"badgeEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/WrapperBoolean\";s:11:\"description\";s:86:\"Set
  this to true to generate a publicly-accessible URL for your project's build badge.\";}s:5:\"cache\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ProjectCache\";s:11:\"description\";s:84:\"Stores
  recently used information so that it can be quickly accessed at a later time.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ProjectDescription\";s:11:\"description\";s:60:\"A
  description that makes the build project easy to identify.\";}s:13:\"encryptionKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:286:\"<p>The
  AWS Key Management Service (AWS KMS) customer master key (CMK) to be used for encrypting
  the build output artifacts.</p> <p>You can specify either the CMK's Amazon Resource
  Name (ARN) or, if available, the CMK's alias (using the format <code>alias/<i>alias-name</i>
  </code>).</p>\";}s:11:\"environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ProjectEnvironment\";s:11:\"description\";s:62:\"Information
  about the build environment for the build project.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProjectName\";s:11:\"description\";s:30:\"The
  name of the build project.\";}s:11:\"serviceRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:157:\"The
  ARN of the AWS Identity and Access Management (IAM) role that enables AWS CodeBuild
  to interact with dependent AWS services on behalf of the AWS account.\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ProjectSource\";s:11:\"description\";s:68:\"Information
  about the build input source code for the build project.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:147:\"<p>A
  set of tags for this build project.</p> <p>These tags are available for use by AWS
  services that support AWS CodeBuild build project tags.</p>\";}s:16:\"timeoutInMinutes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TimeOut\";s:11:\"description\";s:165:\"How
  long, in minutes, from 5 to 480 (8 hours), for AWS CodeBuild to wait until timing
  out any build that has not been marked as completed. The default is 60 minutes.\";}s:9:\"vpcConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VpcConfig\";s:11:\"description\";s:69:\"VpcConfig
  enables AWS CodeBuild to access resources in an Amazon VPC.\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:6:\"source\";i:2;s:9:\"artifacts\";i:3;s:11:\"environment\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateProjectOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"project\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Project\";s:11:\"description\";s:53:\"Information
  about the build project that was created.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateWebhookInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"branchFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:274:\"A
  regular expression used to determine which branches in a repository are built when
  a webhook is triggered. If the name of a branch matches the regular expression,
  then it is built. If it doesn't match, then it is not. If branchFilter is empty,
  then all branches are built.\";}s:11:\"projectName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProjectName\";s:11:\"description\";s:38:\"The
  name of the AWS CodeBuild project.\";}}s:8:\"required\";a:1:{i:0;s:11:\"projectName\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateWebhookOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"webhook\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Webhook\";s:11:\"description\";s:106:\"Information
  about a webhook in GitHub that connects repository events to a build project in
  AWS CodeBuild.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteProjectInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:30:\"The
  name of the build project.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteProjectOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteWebhookInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"projectName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProjectName\";s:11:\"description\";s:38:\"The
  name of the AWS CodeBuild project.\";}}s:8:\"required\";a:1:{i:0;s:11:\"projectName\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteWebhookOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"EnvironmentImage\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Information
  about a Docker image that is managed by AWS CodeBuild.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:36:\"The
  description of the Docker image.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:29:\"The
  name of the Docker image.\";}s:8:\"versions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ImageVersions\";s:11:\"description\";s:37:\"A
  list of environment image versions.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"EnvironmentImages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EnvironmentImage\";}s:4:\"type\";s:5:\"array\";}s:19:\"EnvironmentLanguage\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"A
  set of Docker images that are related by programming language and are managed by
  AWS CodeBuild.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"images\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EnvironmentImages\";s:11:\"description\";s:81:\"The
  list of Docker images that are related by the specified programming language.\";}s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageType\";s:11:\"description\";s:47:\"The
  programming language for the Docker images.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"EnvironmentLanguages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/EnvironmentLanguage\";}s:4:\"type\";s:5:\"array\";}s:19:\"EnvironmentPlatform\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"A
  set of Docker images that are related by platform and are managed by AWS CodeBuild.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"languages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EnvironmentLanguages\";s:11:\"description\";s:80:\"The
  list of programming languages that are available for the specified platform.\";}s:8:\"platform\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PlatformType\";s:11:\"description\";s:20:\"The
  platform's name.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"EnvironmentPlatforms\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/EnvironmentPlatform\";}s:4:\"type\";s:5:\"array\";}s:15:\"EnvironmentType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:17:\"WINDOWS_CONTAINER\";i:1;s:15:\"LINUX_CONTAINER\";}s:4:\"type\";s:6:\"string\";}s:19:\"EnvironmentVariable\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"Information
  about an environment variable for a build project or a build.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:44:\"The
  name or key of the environment variable.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EnvironmentVariableType\";s:11:\"description\";s:288:\"<p>The
  type of environment variable. Valid values include:</p> <ul> <li> <p> <code>PARAMETER_STORE</code>:
  An environment variable stored in Amazon EC2 Systems Manager Parameter Store.</p>
  </li> <li> <p> <code>PLAINTEXT</code>: An environment variable in plaintext format.</p>
  </li> </ul>\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:354:\"<p>The
  value of the environment variable.</p> <important> <p>We strongly discourage using
  environment variables to store sensitive values, especially AWS secret key IDs and
  secret access keys. Environment variables can be displayed in plain text using tools
  such as the AWS CodeBuild console and the AWS Command Line Interface (AWS CLI).</p>
  </important>\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:23:\"EnvironmentVariableType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"PLAINTEXT\";i:1;s:15:\"PARAMETER_STORE\";}s:4:\"type\";s:6:\"string\";}s:20:\"EnvironmentVariables\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/EnvironmentVariable\";}s:4:\"type\";s:5:\"array\";}s:13:\"GitCloneDepth\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:13:\"ImageVersions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:21:\"InvalidInputException\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  input value that was provided is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"InvalidateProjectCacheInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"projectName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:77:\"The
  name of the AWS CodeBuild build project that the cache will be reset for.\";}}s:8:\"required\";a:1:{i:0;s:11:\"projectName\";}s:4:\"type\";s:6:\"object\";}s:28:\"InvalidateProjectCacheOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"KeyInput\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:127;s:9:\"minLength\";i:1;s:7:\"pattern\";s:35:\"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=@+\\\\-]*)$\";s:4:\"type\";s:6:\"string\";}s:12:\"LanguageType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:4:\"JAVA\";i:1;s:6:\"PYTHON\";i:2;s:7:\"NODE_JS\";i:3;s:4:\"RUBY\";i:4;s:6:\"GOLANG\";i:5;s:6:\"DOCKER\";i:6;s:7:\"ANDROID\";i:7;s:6:\"DOTNET\";i:8;s:4:\"BASE\";}s:4:\"type\";s:6:\"string\";}s:25:\"ListBuildsForProjectInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:424:\"During
  a previous call, if there are more than 100 items in the list, only the first 100
  items are returned, along with a unique string called a <i>next token</i>. To get
  the next batch of items in the list, call this operation again, adding the next
  token to the call. To get all of the items in the list, keep calling this operation
  with each subsequent next token that is returned, until no more next tokens are
  returned.\";}s:11:\"projectName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:38:\"The
  name of the AWS CodeBuild project.\";}s:9:\"sortOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SortOrderType\";s:11:\"description\";s:258:\"<p>The
  order to list build IDs. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>:
  List the build IDs in ascending order by build ID.</p> </li> <li> <p> <code>DESCENDING</code>:
  List the build IDs in descending order by build ID.</p> </li> </ul>\";}}s:8:\"required\";a:1:{i:0;s:11:\"projectName\";}s:4:\"type\";s:6:\"object\";}s:26:\"ListBuildsForProjectOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"ids\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BuildIds\";s:11:\"description\";s:100:\"A
  list of build IDs for the specified build project, with each build ID representing
  a single build.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:245:\"If
  there are more than 100 items in the list, only the first 100 items are returned,
  along with a unique string called a <i>next token</i>. To get the next batch of
  items in the list, call this operation again, adding the next token to the call.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ListBuildsInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:424:\"During
  a previous call, if there are more than 100 items in the list, only the first 100
  items are returned, along with a unique string called a <i>next token</i>. To get
  the next batch of items in the list, call this operation again, adding the next
  token to the call. To get all of the items in the list, keep calling this operation
  with each subsequent next token that is returned, until no more next tokens are
  returned.\";}s:9:\"sortOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SortOrderType\";s:11:\"description\";s:258:\"<p>The
  order to list build IDs. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>:
  List the build IDs in ascending order by build ID.</p> </li> <li> <p> <code>DESCENDING</code>:
  List the build IDs in descending order by build ID.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListBuildsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"ids\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BuildIds\";s:11:\"description\";s:68:\"A
  list of build IDs, with each build ID representing a single build.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:245:\"If
  there are more than 100 items in the list, only the first 100 items are returned,
  along with a unique string called a <i>next token</i>. To get the next batch of
  items in the list, call this operation again, adding the next token to the call.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ListCuratedEnvironmentImagesInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"ListCuratedEnvironmentImagesOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"platforms\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EnvironmentPlatforms\";s:11:\"description\";s:90:\"Information
  about supported platforms for Docker images that are managed by AWS CodeBuild.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListProjectsInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:424:\"During
  a previous call, if there are more than 100 items in the list, only the first 100
  items are returned, along with a unique string called a <i>next token</i>. To get
  the next batch of items in the list, call this operation again, adding the next
  token to the call. To get all of the items in the list, keep calling this operation
  with each subsequent next token that is returned, until no more next tokens are
  returned.\";}s:6:\"sortBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ProjectSortByType\";s:11:\"description\";s:591:\"<p>The
  criterion to be used to list build project names. Valid values include:</p> <ul>
  <li> <p> <code>CREATED_TIME</code>: List the build project names based on when each
  build project was created.</p> </li> <li> <p> <code>LAST_MODIFIED_TIME</code>: List
  the build project names based on when information about each build project was last
  changed.</p> </li> <li> <p> <code>NAME</code>: List the build project names based
  on each build project's name.</p> </li> </ul> <p>Use <code>sortOrder</code> to specify
  in what order to list the build project names based on the preceding criteria.</p>\";}s:9:\"sortOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SortOrderType\";s:11:\"description\";s:364:\"<p>The
  order in which to list build projects. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>:
  List the build project names in ascending order.</p> </li> <li> <p> <code>DESCENDING</code>:
  List the build project names in descending order.</p> </li> </ul> <p>Use <code>sortBy</code>
  to specify the criterion to be used to list build project names.</p>\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListProjectsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:245:\"If
  there are more than 100 items in the list, only the first 100 items are returned,
  along with a unique string called a <i>next token</i>. To get the next batch of
  items in the list, call this operation again, adding the next token to the call.\";}s:8:\"projects\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ProjectNames\";s:11:\"description\";s:98:\"The
  list of build project names, with each build project name representing a single
  build project.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"LogsLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Information
  about build logs in Amazon CloudWatch Logs.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"deepLink\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:61:\"The
  URL to an individual build log in Amazon CloudWatch Logs.\";}s:9:\"groupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:64:\"The
  name of the Amazon CloudWatch Logs group for the build logs.\";}s:10:\"streamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:65:\"The
  name of the Amazon CloudWatch Logs stream for the build logs.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"NetworkInterface\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Describes
  a network interface.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"networkInterfaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:32:\"The
  ID of the network interface.\";}s:8:\"subnetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:21:\"The
  ID of the subnet.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"NonEmptyString\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:22:\"OAuthProviderException\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"There
  was a problem with the underlying OAuth provider.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"PhaseContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"Additional
  information about a build phase that has an error. You can use this information
  to help troubleshoot a failed build.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:106:\"An
  explanation of the build phase's context. This explanation might include a command
  ID and an exit code.\";}s:10:\"statusCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:51:\"The
  status code for the context of the build phase.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"PhaseContexts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PhaseContext\";}s:4:\"type\";s:5:\"array\";}s:12:\"PlatformType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:6:\"DEBIAN\";i:1;s:12:\"AMAZON_LINUX\";i:2;s:6:\"UBUNTU\";i:3;s:14:\"WINDOWS_SERVER\";}s:4:\"type\";s:6:\"string\";}s:7:\"Project\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Information
  about a build project.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"The
  Amazon Resource Name (ARN) of the build project.\";}s:9:\"artifacts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ProjectArtifacts\";s:11:\"description\";s:67:\"Information
  about the build output artifacts for the build project.\";}s:5:\"badge\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ProjectBadge\";s:11:\"description\";s:56:\"Information
  about the build badge for the build project.\";}s:5:\"cache\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ProjectCache\";s:11:\"description\";s:50:\"Information
  about the cache for the build project.\";}s:7:\"created\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:66:\"When
  the build project was created, expressed in Unix time format.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ProjectDescription\";s:11:\"description\";s:60:\"A
  description that makes the build project easy to identify.\";}s:13:\"encryptionKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:291:\"<p>The
  AWS Key Management Service (AWS KMS) customer master key (CMK) to be used for encrypting
  the build output artifacts.</p> <p>This is expressed either as the CMK's Amazon
  Resource Name (ARN) or, if specified, the CMK's alias (using the format <code>alias/<i>alias-name</i>
  </code>).</p>\";}s:11:\"environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ProjectEnvironment\";s:11:\"description\";s:63:\"Information
  about the build environment for this build project.\";}s:12:\"lastModified\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:84:\"When
  the build project's settings were last modified, expressed in Unix time format.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProjectName\";s:11:\"description\";s:30:\"The
  name of the build project.\";}s:11:\"serviceRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:157:\"The
  ARN of the AWS Identity and Access Management (IAM) role that enables AWS CodeBuild
  to interact with dependent AWS services on behalf of the AWS account.\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ProjectSource\";s:11:\"description\";s:69:\"Information
  about the build input source code for this build project.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:142:\"<p>The
  tags for this build project.</p> <p>These tags are available for use by AWS services
  that support AWS CodeBuild build project tags.</p>\";}s:16:\"timeoutInMinutes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TimeOut\";s:11:\"description\";s:173:\"How
  long, in minutes, from 5 to 480 (8 hours), for AWS CodeBuild to wait before timing
  out any related build that did not get marked as completed. The default is 60 minutes.\";}s:9:\"vpcConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VpcConfig\";s:11:\"description\";s:71:\"Information
  about the VPC configuration that AWS CodeBuild will access.\";}s:7:\"webhook\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Webhook\";s:11:\"description\";s:106:\"Information
  about a webhook in GitHub that connects repository events to a build project in
  AWS CodeBuild.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ProjectArtifacts\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"Information
  about the build output artifacts for the build project.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:581:\"<p>Information
  about the build output artifact location, as follows:</p> <ul> <li> <p>If <code>type</code>
  is set to <code>CODEPIPELINE</code>, then AWS CodePipeline will ignore this value
  if specified. This is because AWS CodePipeline manages its build output locations
  instead of AWS CodeBuild.</p> </li> <li> <p>If <code>type</code> is set to <code>NO_ARTIFACTS</code>,
  then this value will be ignored if specified, because no build output will be produced.</p>
  </li> <li> <p>If <code>type</code> is set to <code>S3</code>, this is the name of
  the output bucket.</p> </li> </ul>\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1619:\"<p>Along
  with <code>path</code> and <code>namespaceType</code>, the pattern that AWS CodeBuild
  will use to name and store the output artifact, as follows:</p> <ul> <li> <p>If
  <code>type</code> is set to <code>CODEPIPELINE</code>, then AWS CodePipeline will
  ignore this value if specified. This is because AWS CodePipeline manages its build
  output names instead of AWS CodeBuild.</p> </li> <li> <p>If <code>type</code> is
  set to <code>NO_ARTIFACTS</code>, then this value will be ignored if specified,
  because no build output will be produced.</p> </li> <li> <p>If <code>type</code>
  is set to <code>S3</code>, this is the name of the output artifact object. If you
  set the name to be a forward slash (\"/\"), then the artifact is stored in the root
  of the output bucket.</p> </li> </ul> <p>For example:</p> <ul> <li> <p> If <code>path</code>
  is set to <code>MyArtifacts</code>, <code>namespaceType</code> is set to <code>BUILD_ID</code>,
  and <code>name</code> is set to <code>MyArtifact.zip</code>, then the output artifact
  would be stored in <code>MyArtifacts/<i>build-ID</i>/MyArtifact.zip</code>. </p>
  </li> <li> <p> If <code>path</code> is empty, <code>namespaceType</code> is set
  to <code>NONE</code>, and <code>name</code> is set to \"<code>/</code>\", then the
  output artifact would be stored in the root of the output bucket. </p> </li> <li>
  <p> If <code>path</code> is set to <code>MyArtifacts</code>, <code>namespaceType</code>
  is set to <code>BUILD_ID</code>, and <code>name</code> is set to \"<code>/</code>\",
  then the output artifact would be stored in <code>MyArtifacts/<i>build-ID</i> </code>.
  </p> </li> </ul>\";}s:13:\"namespaceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ArtifactNamespace\";s:11:\"description\";s:1222:\"<p>Along
  with <code>path</code> and <code>name</code>, the pattern that AWS CodeBuild will
  use to determine the name and location to store the output artifact, as follows:</p>
  <ul> <li> <p>If <code>type</code> is set to <code>CODEPIPELINE</code>, then AWS
  CodePipeline will ignore this value if specified. This is because AWS CodePipeline
  manages its build output names instead of AWS CodeBuild.</p> </li> <li> <p>If <code>type</code>
  is set to <code>NO_ARTIFACTS</code>, then this value will be ignored if specified,
  because no build output will be produced.</p> </li> <li> <p>If <code>type</code>
  is set to <code>S3</code>, then valid values include:</p> <ul> <li> <p> <code>BUILD_ID</code>:
  Include the build ID in the location of the build output artifact.</p> </li> <li>
  <p> <code>NONE</code>: Do not include the build ID. This is the default if <code>namespaceType</code>
  is not specified.</p> </li> </ul> </li> </ul> <p>For example, if <code>path</code>
  is set to <code>MyArtifacts</code>, <code>namespaceType</code> is set to <code>BUILD_ID</code>,
  and <code>name</code> is set to <code>MyArtifact.zip</code>, then the output artifact
  would be stored in <code>MyArtifacts/<i>build-ID</i>/MyArtifact.zip</code>.</p>\";}s:9:\"packaging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ArtifactPackaging\";s:11:\"description\";s:877:\"<p>The
  type of build output artifact to create, as follows:</p> <ul> <li> <p>If <code>type</code>
  is set to <code>CODEPIPELINE</code>, then AWS CodePipeline will ignore this value
  if specified. This is because AWS CodePipeline manages its build output artifacts
  instead of AWS CodeBuild.</p> </li> <li> <p>If <code>type</code> is set to <code>NO_ARTIFACTS</code>,
  then this value will be ignored if specified, because no build output will be produced.</p>
  </li> <li> <p>If <code>type</code> is set to <code>S3</code>, valid values include:</p>
  <ul> <li> <p> <code>NONE</code>: AWS CodeBuild will create in the output bucket
  a folder containing the build output. This is the default if <code>packaging</code>
  is not specified.</p> </li> <li> <p> <code>ZIP</code>: AWS CodeBuild will create
  in the output bucket a ZIP file containing the build output.</p> </li> </ul> </li>
  </ul>\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1045:\"<p>Along
  with <code>namespaceType</code> and <code>name</code>, the pattern that AWS CodeBuild
  will use to name and store the output artifact, as follows:</p> <ul> <li> <p>If
  <code>type</code> is set to <code>CODEPIPELINE</code>, then AWS CodePipeline will
  ignore this value if specified. This is because AWS CodePipeline manages its build
  output names instead of AWS CodeBuild.</p> </li> <li> <p>If <code>type</code> is
  set to <code>NO_ARTIFACTS</code>, then this value will be ignored if specified,
  because no build output will be produced.</p> </li> <li> <p>If <code>type</code>
  is set to <code>S3</code>, this is the path to the output artifact. If <code>path</code>
  is not specified, then <code>path</code> will not be used.</p> </li> </ul> <p>For
  example, if <code>path</code> is set to <code>MyArtifacts</code>, <code>namespaceType</code>
  is set to <code>NONE</code>, and <code>name</code> is set to <code>MyArtifact.zip</code>,
  then the output artifact would be stored in the output bucket at <code>MyArtifacts/MyArtifact.zip</code>.</p>\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ArtifactsType\";s:11:\"description\";s:420:\"<p>The
  type of build output artifact. Valid values include:</p> <ul> <li> <p> <code>CODEPIPELINE</code>:
  The build project will have build output generated through AWS CodePipeline.</p>
  </li> <li> <p> <code>NO_ARTIFACTS</code>: The build project will not produce any
  build output.</p> </li> <li> <p> <code>S3</code>: The build project will store build
  output in Amazon Simple Storage Service (Amazon S3).</p> </li> </ul>\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:12:\"ProjectBadge\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Information
  about the build badge for the build project.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"badgeEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:86:\"Set
  this to true to generate a publicly-accessible URL for your project's build badge.\";}s:15:\"badgeRequestUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:91:\"The
  publicly-accessible URL through which you can access the build badge for your project.
  \";}}s:4:\"type\";s:6:\"object\";}s:12:\"ProjectCache\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Information
  about the cache for the build project.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:209:\"<p>Information
  about the cache location, as follows: </p> <ul> <li> <p> <code>NO_CACHE</code>:
  This value will be ignored.</p> </li> <li> <p> <code>S3</code>: This is the S3 bucket
  name/prefix.</p> </li> </ul>\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/CacheType\";s:11:\"description\";s:254:\"<p>The
  type of cache used by the build project. Valid values include:</p> <ul> <li> <p>
  <code>NO_CACHE</code>: The build project will not use any cache.</p> </li> <li>
  <p> <code>S3</code>: The build project will read and write from/to S3.</p> </li>
  </ul>\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:18:\"ProjectDescription\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:18:\"ProjectEnvironment\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Information
  about the build environment of the build project.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"certificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:47:\"The
  certificate to use with this build project.\";}s:11:\"computeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ComputeType\";s:11:\"description\";s:413:\"<p>Information
  about the compute resources the build project will use. Available values include:</p>
  <ul> <li> <p> <code>BUILD_GENERAL1_SMALL</code>: Use up to 3 GB memory and 2 vCPUs
  for builds.</p> </li> <li> <p> <code>BUILD_GENERAL1_MEDIUM</code>: Use up to 7 GB
  memory and 4 vCPUs for builds.</p> </li> <li> <p> <code>BUILD_GENERAL1_LARGE</code>:
  Use up to 15 GB memory and 8 vCPUs for builds.</p> </li> </ul>\";}s:20:\"environmentVariables\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EnvironmentVariables\";s:11:\"description\";s:82:\"A
  set of environment variables to make available to builds for this build project.\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:57:\"The
  ID of the Docker image to use for this build project.\";}s:14:\"privilegedMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/WrapperBoolean\";s:11:\"description\";s:897:\"<p>Enables
  running the Docker daemon inside a Docker container. Set to true only if the build
  project is be used to build Docker images, and the specified build environment image
  is not provided by AWS CodeBuild with Docker support. Otherwise, all associated
  builds that attempt to interact with the Docker daemon will fail. Note that you
  must also start the Docker daemon so that builds can interact with it. One way to
  do this is to initialize the Docker daemon during the install phase of your build
  spec by running the following build commands. (Do not run the following build commands
  if the specified build environment image is provided by AWS CodeBuild with Docker
  support.)</p> <p> <code>- nohup /usr/local/bin/dockerd --host=unix:///var/run/docker.sock
  --host=tcp://0.0.0.0:2375 --storage-driver=overlay&amp; - timeout -t 15 sh -c \"until
  docker info; do echo .; sleep 1; done\"</code> </p>\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/EnvironmentType\";s:11:\"description\";s:56:\"The
  type of build environment to use for related builds.\";}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:5:\"image\";i:2;s:11:\"computeType\";}s:4:\"type\";s:6:\"object\";}s:11:\"ProjectName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:2;s:7:\"pattern\";s:32:\"[A-Za-z0-9][A-Za-z0-9\\-_]{1,254}\";s:4:\"type\";s:6:\"string\";}s:12:\"ProjectNames\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:17:\"ProjectSortByType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"NAME\";i:1;s:12:\"CREATED_TIME\";i:2;s:18:\"LAST_MODIFIED_TIME\";}s:4:\"type\";s:6:\"string\";}s:13:\"ProjectSource\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Information
  about the build input source code for the build project.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"auth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SourceAuth\";s:11:\"description\";s:345:\"<p>Information
  about the authorization settings for AWS CodeBuild to access the source code to
  be built.</p> <p>This information is for the AWS CodeBuild console's use only. Your
  code should not get or set this information directly (unless the build project's
  source <code>type</code> value is <code>BITBUCKET</code> or <code>GITHUB</code>).</p>\";}s:9:\"buildspec\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:187:\"<p>The
  build spec declaration to use for the builds in this build project.</p> <p>If this
  value is not specified, a build spec must be included along with the source code
  to be built.</p>\";}s:13:\"gitCloneDepth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GitCloneDepth\";s:11:\"description\";s:60:\"Information
  about the git clone depth for the build project.\";}s:11:\"insecureSsl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/WrapperBoolean\";s:11:\"description\";s:84:\"Enable
  this flag to ignore SSL warnings while connecting to the project source code.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:2634:\"<p>Information
  about the location of the source code to be built. Valid values include:</p> <ul>
  <li> <p>For source code settings that are specified in the source action of a pipeline
  in AWS CodePipeline, <code>location</code> should not be specified. If it is specified,
  AWS CodePipeline will ignore it. This is because AWS CodePipeline uses the settings
  in a pipeline's source action instead of this value.</p> </li> <li> <p>For source
  code in an AWS CodeCommit repository, the HTTPS clone URL to the repository that
  contains the source code and the build spec (for example, <code>https://git-codecommit.<i>region-ID</i>.amazonaws.com/v1/repos/<i>repo-name</i>
  </code>).</p> </li> <li> <p>For source code in an Amazon Simple Storage Service
  (Amazon S3) input bucket, the path to the ZIP file that contains the source code
  (for example, <code> <i>bucket-name</i>/<i>path</i>/<i>to</i>/<i>object-name</i>.zip</code>)</p>
  </li> <li> <p>For source code in a GitHub repository, the HTTPS clone URL to the
  repository that contains the source and the build spec. Also, you must connect your
  AWS account to your GitHub account. To do this, use the AWS CodeBuild console to
  begin creating a build project. When you use the console to connect (or reconnect)
  with GitHub, on the GitHub <b>Authorize application</b> page that displays, for
  <b>Organization access</b>, choose <b>Request access</b> next to each repository
  you want to allow AWS CodeBuild to have access to. Then choose <b>Authorize application</b>.
  (After you have connected to your GitHub account, you do not need to finish creating
  the build project, and you may then leave the AWS CodeBuild console.) To instruct
  AWS CodeBuild to then use this connection, in the <code>source</code> object, set
  the <code>auth</code> object's <code>type</code> value to <code>OAUTH</code>.</p>
  </li> <li> <p>For source code in a Bitbucket repository, the HTTPS clone URL to
  the repository that contains the source and the build spec. Also, you must connect
  your AWS account to your Bitbucket account. To do this, use the AWS CodeBuild console
  to begin creating a build project. When you use the console to connect (or reconnect)
  with Bitbucket, on the Bitbucket <b>Confirm access to your account</b> page that
  displays, choose <b>Grant access</b>. (After you have connected to your Bitbucket
  account, you do not need to finish creating the build project, and you may then
  leave the AWS CodeBuild console.) To instruct AWS CodeBuild to then use this connection,
  in the <code>source</code> object, set the <code>auth</code> object's <code>type</code>
  value to <code>OAUTH</code>.</p> </li> </ul>\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SourceType\";s:11:\"description\";s:631:\"<p>The
  type of repository that contains the source code to be built. Valid values include:</p>
  <ul> <li> <p> <code>BITBUCKET</code>: The source code is in a Bitbucket repository.</p>
  </li> <li> <p> <code>CODECOMMIT</code>: The source code is in an AWS CodeCommit
  repository.</p> </li> <li> <p> <code>CODEPIPELINE</code>: The source code settings
  are specified in the source action of a pipeline in AWS CodePipeline.</p> </li>
  <li> <p> <code>GITHUB</code>: The source code is in a GitHub repository.</p> </li>
  <li> <p> <code>S3</code>: The source code is in an Amazon Simple Storage Service
  (Amazon S3) input bucket.</p> </li> </ul>\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:8:\"Projects\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}s:4:\"type\";s:5:\"array\";}s:30:\"ResourceAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  specified AWS resource cannot be created, because an AWS resource with the same
  settings already exists.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  specified AWS resource cannot be found.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"SecurityGroupIds\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";}s:8:\"maxItems\";i:5;s:4:\"type\";s:5:\"array\";}s:13:\"SortOrderType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"ASCENDING\";i:1;s:10:\"DESCENDING\";}s:4:\"type\";s:6:\"string\";}s:10:\"SourceAuth\";O:8:\"stdClass\":4:{s:11:\"description\";s:345:\"<p>Information
  about the authorization settings for AWS CodeBuild to access the source code to
  be built.</p> <p>This information is for the AWS CodeBuild console's use only. Your
  code should not get or set this information directly (unless the build project's
  source <code>type</code> value is <code>BITBUCKET</code> or <code>GITHUB</code>).</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:68:\"The
  resource value that applies to the specified authorization type.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SourceAuthType\";s:11:\"description\";s:121:\"The
  authorization type to use. The only valid value is <code>OAUTH</code>, which represents
  the OAuth authorization type.\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:14:\"SourceAuthType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:5:\"OAUTH\";}s:4:\"type\";s:6:\"string\";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:10:\"CODECOMMIT\";i:1;s:12:\"CODEPIPELINE\";i:2;s:6:\"GITHUB\";i:3;s:2:\"S3\";i:4;s:9:\"BITBUCKET\";i:5;s:17:\"GITHUB_ENTERPRISE\";}s:4:\"type\";s:6:\"string\";}s:15:\"StartBuildInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":18:{s:17:\"artifactsOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ProjectArtifacts\";s:11:\"description\";s:120:\"Build
  output artifact settings that override, for this build only, the latest ones already
  defined in the build project.\";}s:17:\"buildspecOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:114:\"A
  build spec declaration that overrides, for this build only, the latest one already
  defined in the build project.\";}s:13:\"cacheOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ProjectCache\";s:11:\"description\";s:99:\"A
  ProjectCache object specified for this build that overrides the one defined in the
  build project.\";}s:19:\"certificateOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:95:\"The
  name of a certificate for this build that overrides the one specified in the build
  project.\";}s:19:\"computeTypeOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ComputeType\";s:11:\"description\";s:96:\"The
  name of a compute type for this build that overrides the one specified in the build
  project.\";}s:23:\"environmentTypeOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/EnvironmentType\";s:11:\"description\";s:86:\"A
  container type for this build that overrides the one specified in the build project.\";}s:28:\"environmentVariablesOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EnvironmentVariables\";s:11:\"description\";s:121:\"A
  set of environment variables that overrides, for this build only, the latest ones
  already defined in the build project.\";}s:21:\"gitCloneDepthOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GitCloneDepth\";s:11:\"description\";s:158:\"The
  user-defined depth of history, with a minimum value of 0, that overrides, for this
  build only, any previous depth of history defined in the build project.\";}s:13:\"imageOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:90:\"The
  name of an image for this build that overrides the one specified in the build project.\";}s:19:\"insecureSslOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/WrapperBoolean\";s:11:\"description\";s:276:\"Enable
  this flag to override the insecure SSL setting that is specified in the build project.
  The insecure SSL setting determines whether to ignore SSL warnings while connecting
  to the project source code. This override applies only if the build's source is
  GitHub Enterprise.\";}s:22:\"privilegedModeOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/WrapperBoolean\";s:11:\"description\";s:66:\"Enable
  this flag to override privileged mode in the build project.\";}s:11:\"projectName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:69:\"The
  name of the AWS CodeBuild build project to start running a build.\";}s:19:\"serviceRoleOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:96:\"The
  name of a service role for this build that overrides the one specified in the build
  project.\";}s:18:\"sourceAuthOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SourceAuth\";s:11:\"description\";s:170:\"An
  authorization type for this build that overrides the one defined in the build project.
  This override applies only if the build project's source is BitBucket or GitHub.\";}s:22:\"sourceLocationOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:102:\"A
  location that overrides for this build the source location for the one defined in
  the build project.\";}s:18:\"sourceTypeOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SourceType\";s:11:\"description\";s:95:\"A
  source input type for this build that overrides the source input defined in the
  build project\";}s:13:\"sourceVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1067:\"<p>A
  version of the build input to be built, for this build only. If not specified, the
  latest version will be used. If specified, must be one of:</p> <ul> <li> <p>For
  AWS CodeCommit: the commit ID to use.</p> </li> <li> <p>For GitHub: the commit ID,
  pull request ID, branch name, or tag name that corresponds to the version of the
  source code you want to build. If a pull request ID is specified, it must use the
  format <code>pr/pull-request-ID</code> (for example <code>pr/25</code>). If a branch
  name is specified, the branch's HEAD commit ID will be used. If not specified, the
  default branch's HEAD commit ID will be used.</p> </li> <li> <p>For Bitbucket: the
  commit ID, branch name, or tag name that corresponds to the version of the source
  code you want to build. If a branch name is specified, the branch's HEAD commit
  ID will be used. If not specified, the default branch's HEAD commit ID will be used.</p>
  </li> <li> <p>For Amazon Simple Storage Service (Amazon S3): the version ID of the
  object representing the build input ZIP file to use.</p> </li> </ul>\";}s:24:\"timeoutInMinutesOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TimeOut\";s:11:\"description\";s:155:\"The
  number of build timeout minutes, from 5 to 480 (8 hours), that overrides, for this
  build only, the latest setting already defined in the build project.\";}}s:8:\"required\";a:1:{i:0;s:11:\"projectName\";}s:4:\"type\";s:6:\"object\";}s:16:\"StartBuildOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"build\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Build\";s:11:\"description\";s:38:\"Information
  about the build to be run.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"StatusType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:9:\"SUCCEEDED\";i:1;s:6:\"FAILED\";i:2;s:5:\"FAULT\";i:3;s:9:\"TIMED_OUT\";i:4;s:11:\"IN_PROGRESS\";i:5;s:7:\"STOPPED\";}s:4:\"type\";s:6:\"string\";}s:14:\"StopBuildInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:20:\"The
  ID of the build.\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:15:\"StopBuildOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"build\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Build\";s:11:\"description\";s:28:\"Information
  about the build.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Subnets\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";}s:8:\"maxItems\";i:16;s:4:\"type\";s:5:\"array\";}s:3:\"Tag\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"<p>A
  tag, consisting of a key and a value.</p> <p>This tag is available for use by AWS
  services that support tags in AWS CodeBuild.</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/KeyInput\";s:11:\"description\";s:14:\"The
  tag's key.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ValueInput\";s:11:\"description\";s:16:\"The
  tag's value.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"TagList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:7:\"TimeOut\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:480;s:7:\"minimum\";i:5;s:4:\"type\";s:7:\"integer\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"UpdateProjectInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:9:\"artifacts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ProjectArtifacts\";s:11:\"description\";s:81:\"Information
  to be changed about the build output artifacts for the build project.\";}s:12:\"badgeEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/WrapperBoolean\";s:11:\"description\";s:86:\"Set
  this to true to generate a publicly-accessible URL for your project's build badge.\";}s:5:\"cache\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ProjectCache\";s:11:\"description\";s:84:\"Stores
  recently used information so that it can be quickly accessed at a later time.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ProjectDescription\";s:11:\"description\";s:54:\"A
  new or replacement description of the build project.\";}s:13:\"encryptionKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:298:\"<p>The
  replacement AWS Key Management Service (AWS KMS) customer master key (CMK) to be
  used for encrypting the build output artifacts.</p> <p>You can specify either the
  CMK's Amazon Resource Name (ARN) or, if available, the CMK's alias (using the format
  <code>alias/<i>alias-name</i> </code>).</p>\";}s:11:\"environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ProjectEnvironment\";s:11:\"description\";s:76:\"Information
  to be changed about the build environment for the build project.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:101:\"<p>The
  name of the build project.</p> <note> <p>You cannot change a build project's name.</p>
  </note>\";}s:11:\"serviceRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:169:\"The
  replacement ARN of the AWS Identity and Access Management (IAM) role that enables
  AWS CodeBuild to interact with dependent AWS services on behalf of the AWS account.\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ProjectSource\";s:11:\"description\";s:82:\"Information
  to be changed about the build input source code for the build project.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:161:\"<p>The
  replacement set of tags for this build project.</p> <p>These tags are available
  for use by AWS services that support AWS CodeBuild build project tags.</p>\";}s:16:\"timeoutInMinutes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TimeOut\";s:11:\"description\";s:158:\"The
  replacement value in minutes, from 5 to 480 (8 hours), for AWS CodeBuild to wait
  before timing out any related build that did not get marked as completed.\";}s:9:\"vpcConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VpcConfig\";s:11:\"description\";s:69:\"VpcConfig
  enables AWS CodeBuild to access resources in an Amazon VPC.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:19:\"UpdateProjectOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"project\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Project\";s:11:\"description\";s:53:\"Information
  about the build project that was changed.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"UpdateWebhookInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"branchFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:274:\"A
  regular expression used to determine which branches in a repository are built when
  a webhook is triggered. If the name of a branch matches the regular expression,
  then it is built. If it doesn't match, then it is not. If branchFilter is empty,
  then all branches are built.\";}s:11:\"projectName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProjectName\";s:11:\"description\";s:38:\"The
  name of the AWS CodeBuild project.\";}s:12:\"rotateSecret\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:100:\"
  A boolean value that specifies whether the associated repository's secret token
  should be updated. \";}}s:8:\"required\";a:1:{i:0;s:11:\"projectName\";}s:4:\"type\";s:6:\"object\";}s:19:\"UpdateWebhookOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"webhook\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Webhook\";s:11:\"description\";s:94:\"
  Information about a repository's webhook that is associated with a project in AWS
  CodeBuild. \";}}s:4:\"type\";s:6:\"object\";}s:10:\"ValueInput\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:7:\"pattern\";s:35:\"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=@+\\\\-]*)$\";s:4:\"type\";s:6:\"string\";}s:9:\"VpcConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Information
  about the VPC configuration that AWS CodeBuild will access.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"securityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SecurityGroupIds\";s:11:\"description\";s:61:\"A
  list of one or more security groups IDs in your Amazon VPC.\";}s:7:\"subnets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Subnets\";s:11:\"description\";s:52:\"A
  list of one or more subnet IDs in your Amazon VPC.\";}s:5:\"vpcId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:25:\"The
  ID of the Amazon VPC.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Webhook\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Information
  about a webhook in GitHub that connects repository events to a build project in
  AWS CodeBuild.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"branchFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:274:\"A
  regular expression used to determine which branches in a repository are built when
  a webhook is triggered. If the name of a branch matches the regular expression,
  then it is built. If it doesn't match, then it is not. If branchFilter is empty,
  then all branches are built.\";}s:18:\"lastModifiedSecret\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:80:\"
  A timestamp indicating the last time a repository's secret token was modified. \";}s:10:\"payloadUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:54:\"
  The CodeBuild endpoint where webhook events are sent.\";}s:6:\"secret\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:48:\"
  The secret token of the associated repository. \";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:23:\"The
  URL to the webhook.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"WrapperBoolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"WrapperInt\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"WrapperLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}"
...
