---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:11:\"description\";s:28:\"The world's greatest
  SMS API\";s:5:\"title\";s:12:\"Zoom Connect\";s:7:\"version\";s:1:\"1\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:38:\"http://zoomconnect.com/assets/logo.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:41:\"https://www.zoomconnect.com/zoom/api-docs\";s:7:\"version\";s:3:\"1.2\";}s:14:\"x-providerName\";s:15:\"zoomconnect.com\";}"
host: www.zoomconnect.com
basePath: /app
paths:
  /api/rest/v1/account/balance:
    get:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Returns your account's credit balance
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/WebServiceAccount'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: balance
      tags:
      - balance
  /api/rest/v1/contacts/{contactId}:
    delete:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Deletes a  contact
      parameters:
      - description: contactId
        format: int64
        in: path
        name: contactId
        required: true
        type: integer
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: Description was not specified
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
      summary: delete
      tags:
      - contacts
    get:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Returns details for a single contact
      parameters:
      - description: contactId
        format: int64
        in: path
        name: contactId
        required: true
        type: integer
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WebServiceContact'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: get
      tags:
      - contacts
  /api/rest/v1/contacts/all:
    get:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Returns all contacts
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WebServiceContacts'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: all
      tags:
      - contacts
  /api/rest/v1/context/lookup:
    get:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Returns context information for a single provided
      parameters:
      - description: number
        in: body
        name: body
        required: false
        schema:
          type: string
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/WebServiceNumberContextLookupResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: lookup
      tags:
      - lookup
    post:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Returns context information for a single provided
      parameters:
      - description: number
        in: body
        name: body
        required: false
        schema:
          type: string
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/WebServiceNumberContextLookupResponse'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: lookup
      tags:
      - lookup
  /api/rest/v1/groups/{groupId}:
    delete:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Deletes a  group
      parameters:
      - description: groupId
        format: int64
        in: path
        name: groupId
        required: true
        type: integer
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: Description was not specified
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
      summary: delete
      tags:
      - groups
    get:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Returns details for a single group
      parameters:
      - description: groupId
        format: int64
        in: path
        name: groupId
        required: true
        type: integer
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WebServiceGroup'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: get
      tags:
      - groups
  /api/rest/v1/groups/all:
    get:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Returns all groups
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WebServiceGroups'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: all
      tags:
      - groups
  /api/rest/v1/messages/{messageId}:
    delete:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Deletes a  message
      parameters:
      - description: messageId
        format: int64
        in: path
        name: messageId
        required: true
        type: integer
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: Description was not specified
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
      summary: delete
      tags:
      - messages
    get:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Returns details for a single message
      parameters:
      - description: messageId
        format: int64
        in: path
        name: messageId
        required: true
        type: integer
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WebServiceMessage'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: get
      tags:
      - messages
  /api/rest/v1/messages/all:
    get:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Returns all messages
      parameters:
      - default: 100
        description: number of elements to return at a time
        format: int32
        in: query
        name: pageSize
        required: false
        type: integer
      - default: 1
        description: page number
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: filter by message type
        enum:
        - OUTBOUND
        - INBOUND
        in: query
        name: type
        required: false
        type: string
      - description: filter by message status
        enum:
        - SCHEDULED
        - UNKNOWN
        - SENT
        - FAILED
        - FAILED_REFUNDED
        - FAILED_OPTOUT
        - DELIVERED
        - RECEIVED
        in: query
        name: status
        required: false
        type: string
      - description: 'date format: yyyyMMdd'
        format: date-time
        in: query
        name: fromDateTimeSent
        required: false
        type: string
      - description: 'date format: yyyyMMdd'
        format: date-time
        in: query
        name: toDateTimeSent
        required: false
        type: string
      - description: 'date format: yyyyMMdd'
        format: date-time
        in: query
        name: fromDateTimeReceived
        required: false
        type: string
      - description: 'date format: yyyyMMdd'
        format: date-time
        in: query
        name: toDateTimeReceived
        required: false
        type: string
      - description: phone number the message was sent from
        in: query
        name: fromNumber
        required: false
        type: string
      - description: phone number the message was sent to
        in: query
        name: toNumber
        required: false
        type: string
      - description: search matching message text
        in: query
        name: message
        required: false
        type: string
      - description: search by campaign
        in: query
        name: campaign
        required: false
        type: string
      - description: search by data field
        in: query
        name: dataField
        required: false
        type: string
      - description: return only deleted / not deleted messages
        in: query
        name: deleted
        required: false
        type: boolean
      - description: return only read / unread messages (inbox messages only)
        in: query
        name: read
        required: false
        type: boolean
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WebServiceMessages'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: all
      tags:
      - messages
  /api/rest/v1/sms/send:
    get:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Returns an example of the data to POST to send a single message.
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WebServiceSendSmsRequest'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: send
      tags:
      - sms
    post:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Sends a single message. The <i>recipientNumber</i> and <i>message</i>
        fields are required. All other fields are optional.
      parameters:
      - description: request
        in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/WebServiceSendSmsRequest'
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: Description was not specified
          schema:
            $ref: '#/definitions/WebServiceSendSmsResponse'
        201:
          description: Created
        400:
          description: Validation error</br></br>Code and message:<ul><li>2 - Invalid
            mobile number</li><li>3 - Message cannot be empty</li></ul>
          schema:
            $ref: '#/definitions/RestErrorDTO'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: send
      tags:
      - sms
  /api/rest/v1/sms/send-bulk:
    get:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Returns an example of the data to POST to send multiple messages
        in one transaction.
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WebServiceSendSmsRequests'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: send-bulk
      tags:
      - sms
    post:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Send multiple messages in one transaction.
      parameters:
      - description: requests
        in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/WebServiceSendSmsRequests'
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: Description was not specified
          schema:
            $ref: '#/definitions/WebServiceSendSmsResponses'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: send-bulk
      tags:
      - sms
  /api/rest/v1/sms/send-url-parameters:
    get:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Send a single message using URL parameters.The <i>recipientNumber</i>
        and <i>message</i> parameters are required. All other parameters are optional.
      parameters:
      - description: the phone number of the recipient to send to
        in: query
        name: recipientNumber
        required: true
        type: string
      - description: the message to send
        in: query
        name: message
        required: true
        type: string
      - description: 'date format: yyyyMMddHHmm'
        format: date-time
        in: query
        name: dateToSend
        required: false
        type: string
      - description: optional campaign name
        in: query
        name: campaign
        required: false
        type: string
      - description: optional extra data
        in: query
        name: dataField
        required: false
        type: string
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: OK
          schema:
            format: int64
            type: integer
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: send-url-parameters
      tags:
      - sms
    post:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Send a single message using URL parameters.The <i>recipientNumber</i>
        and <i>message</i> parameters are required. All other parameters are optional.
      parameters:
      - description: the phone number of the recipient to send to
        in: query
        name: recipientNumber
        required: true
        type: string
      - description: the message to send
        in: query
        name: message
        required: true
        type: string
      - description: 'date format: yyyyMMddHHmm'
        format: date-time
        in: query
        name: dateToSend
        required: false
        type: string
      - description: optional campaign name
        in: query
        name: campaign
        required: false
        type: string
      - description: optional extra data
        in: query
        name: dataField
        required: false
        type: string
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: Description was not specified
          schema:
            format: int64
            type: integer
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: send-url-parameters
      tags:
      - sms
  /api/rest/v1/templates/{templateId}:
    delete:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Deletes a  template
      parameters:
      - description: templateId
        format: int64
        in: path
        name: templateId
        required: true
        type: integer
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: Description was not specified
        204:
          description: No Content
        401:
          description: Unauthorized
        403:
          description: Forbidden
      summary: delete
      tags:
      - templates
    get:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Returns details for a single template
      parameters:
      - description: templateId
        format: int64
        in: path
        name: templateId
        required: true
        type: integer
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WebServiceTemplate'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: get
      tags:
      - templates
  /api/rest/v1/templates/all:
    get:
      consumes:
      - application/json
      - application/xml
      deprecated: false
      description: Returns all templates
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WebServiceTemplates'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: all
      tags:
      - templates
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":19:{s:4:\"Link\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"rel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"templated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:12:\"RestErrorDTO\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"RestErrorDTO\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"developerMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"moreInfoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Void\";O:8:\"stdClass\":0:{}s:17:\"WebServiceAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"WebServiceAccount\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"creditBalance\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"WebServiceContact\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"WebServiceContact\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"contactId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"contactNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"WebServiceContactLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"WebServiceContactLink\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"contactId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";}}}s:18:\"WebServiceContacts\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"WebServiceContacts\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";}s:18:\"webServiceContacts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WebServiceContact\";}s:4:\"type\";s:5:\"array\";}}}s:15:\"WebServiceGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"WebServiceGroup\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"groupId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"WebServiceGroups\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"WebServiceGroups\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";}s:16:\"webServiceGroups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/WebServiceGroup\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"WebServiceMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"WebServiceMessage\";s:10:\"properties\";O:8:\"stdClass\":17:{s:8:\"campaign\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/WebServiceContactLink\";}s:10:\"creditCost\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:16:\"dateTimeReceived\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"dateTimeScheduled\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"dateTimeSent\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"fromNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"messageId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"messageStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"messageType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"numberOfMessages\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"read\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"toNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"userDataField\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"WebServiceMessages\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"WebServiceMessages\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"elements\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";}s:4:\"page\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"pageSize\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"totalElements\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"totalPages\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"webServiceMessages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WebServiceMessage\";}s:4:\"type\";s:5:\"array\";}}}s:36:\"WebServiceNumberContextLookupRequest\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"WebServiceNumberContextLookupRequest\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";}s:7:\"numbers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:37:\"WebServiceNumberContextLookupResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"WebServiceNumberContextLookupResponse\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";}s:6:\"number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"numberValid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:24:\"WebServiceSendSmsRequest\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"WebServiceSendSmsRequest\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"campaign\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"dataField\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"dateToSend\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"recipientNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:25:\"WebServiceSendSmsRequests\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"WebServiceSendSmsRequests\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"defaultDateToSend\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"messagesPerMinute\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"sendSmsRequests\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/WebServiceSendSmsRequest\";}s:4:\"type\";s:5:\"array\";}}}s:25:\"WebServiceSendSmsResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"WebServiceSendSmsResponse\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"messageId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"WebServiceSendSmsResponses\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"WebServiceSendSmsResponses\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"sendSmsResponses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/WebServiceSendSmsResponse\";}s:4:\"type\";s:5:\"array\";}}}s:18:\"WebServiceTemplate\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"WebServiceTemplate\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"templateId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:19:\"WebServiceTemplates\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"WebServiceTemplates\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";}s:19:\"webServiceTemplates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/WebServiceTemplate\";}s:4:\"type\";s:5:\"array\";}}}}"
...
