---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:3:\"API\";s:11:\"description\";s:287:\"This
  is my API for working with the APIs I track on. I use this API to add, update, and
  delete the APIs, their details, an I am working to create as many API focused endpoints,
  which let me manage even more APIs, whether they are mine or other publicly available
  APIs I am interested in.\";s:14:\"termsOfService\";s:40:\"http://kinlane.com/terms-of-service.html\";s:7:\"version\";s:2:\"v1\";}"
host: api.api.kinlane.com
basePath: /
paths:
  /api/:
    get:
      summary: Get APIs
      description: retrieves all apis
      operationId: getAPIs
      parameters:
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      - in: query
        name: query
        description: a text query to search across APIs
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - API
      security: []
    post:
      summary: Add API
      description: add api
      operationId: addAPI
      parameters:
      - in: query
        name: about
        description: details about the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      - in: query
        name: name
        description: name of the API
        type: string
        format: string
      - in: query
        name: organization_id
        description: organization ID for the API
        type: string
        format: string
      - in: query
        name: rank
        description: ranking of API
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - API
      security: []
  /api/{api_id}/:
    delete:
      summary: Delete API
      description: delete an API
      operationId: deleteAPI
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - API
      security: []
    get:
      summary: Get API
      description: retrieve an API
      operationId: getAPI
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - API
      security: []
    put:
      summary: Update API
      description: update an API
      operationId: updateAPI
      parameters:
      - in: query
        name: about
        description: details about the API
        type: string
        format: string
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      - in: query
        name: name
        description: name of the API
        type: string
        format: string
      - in: query
        name: organization_id
        description: organization ID for the API
        type: string
        format: string
      - in: query
        name: rank
        description: ranking of API
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - API
      security: []
  /api/{api_id}/buildingblocks/:
    get:
      summary: Get Building Blocks for API
      description: retrieve an APIs building blocks
      operationId: getAPIBuildingBlocks
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Building Blocks
      security: []
    post:
      summary: Add Building Block for API
      description: add an API building block
      operationId: addAPIBuildingBlock
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      - in: query
        name: building_block_api
        description: id for the building block
        type: string
        format: string
      - in: query
        name: building_block_id
        description: id for the building block
      - in: query
        name: organization_id
        description: id for the organization
        type: string
        format: string
      - in: query
        name: tool_id
        description: id for the tool
        type: string
        format: string
      - in: query
        name: url
        description: the url for the building block
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Building Blocks
      security: []
  /api/{api_id}/buildingblocks/{buildingblock_id}:
    delete:
      summary: Delete Building Block for API
      description: delete an API building block
      operationId: deleteAPIBuildingBlocks
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      - in: path
        name: buildingblock_id
        description: id for the building block
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Building Blocks
      security: []
  /api/{api_id}/definitions/code/php/generate/definition/parameters/:
    get:
      summary: Generate Definition Parameters for API
      description: generate php array parameters
      operationId: generatePHPArrayParameters
      parameters:
      - in: path
        name: api_id
        description: id for the api
      - in: query
        name: appid
        description: your appid for accessing the API
      - in: query
        name: appkey
        description: your appkey for accessing the API
      - in: query
        name: filterobject
        description: the api definition object to filter by
      responses:
        200:
          description: OK
      tags:
      - Code
      security: []
  /api/{api_id}/definitions/code/php/generate/path/parameters/:
    get:
      summary: Generate Path Parameters for API
      description: generate php array parameters
      operationId: generatePHPArrayParameters
      parameters:
      - in: path
        name: api_id
        description: id for the api
      - in: query
        name: appid
        description: your appid for accessing the API
      - in: query
        name: appkey
        description: your appkey for accessing the API
      - in: query
        name: filterpath
        description: the api path to filter by
      - in: query
        name: filterverb
        description: the api verb to filter by
      responses:
        200:
          description: OK
      tags:
      - Code
      security: []
  /api/{api_id}/definitions/export/apisjson/.14/:
    get:
      summary: Export APIs.json 1.4 Definition
      description: export an apis.json definition
      operationId: exportAPIsJSON
      parameters:
      - in: path
        name: api_id
        description: id for the api
      - in: query
        name: appid
        description: your appid for accessing the API
      - in: query
        name: appkey
        description: your appkey for accessing the API
      responses:
        200:
          description: OK
      tags:
      - Definitions
      security: []
  /api/{api_id}/definitions/export/apisjson/.14/master/:
    get:
      summary: Export APIs.json Master Definition
      description: export an apis.json master definition
      operationId: exportAPIsJSONMaster
      parameters:
      - in: path
        name: api_id
        description: id for the api
      - in: query
        name: appid
        description: your appid for accessing the API
      - in: query
        name: appkey
        description: your appkey for accessing the API
      responses:
        200:
          description: OK
      tags:
      - Definitions
      security: []
  /api/{api_id}/definitions/export/swagger/1.2/:
    get:
      summary: Export OpenAPI Spec 1.2 Definition
      description: export a Swagger 1.2 definition
      operationId: exportSwagger12Definition
      parameters:
      - in: path
        name: api_id
        description: id for the api item
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Definitions
      security: []
  /api/{api_id}/definitions/export/swagger/2.0/:
    get:
      summary: Export OpenAPI Spec 2.0 Definition
      description: exports a Swagger 2.0 definition
      operationId: exportSwagger20Definition
      parameters:
      - in: path
        name: api_id
        description: id for the api item
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Definitions
      security: []
  /api/{api_id}/definitions/import/swagger/1.2/:
    post:
      summary: Import OpenAPI Spec 1.2 Definition
      description: imports a Swagger 1.2 definition
      operationId: importSwagger12Definition
      parameters:
      - in: path
        name: api_id
        description: id for the api item
        type: string
        format: string
      - in: formData
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: formData
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      - in: formData
        name: url
        description: url of the Swagger definition
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Definitions
      security: []
  /api/{api_id}/definitions/import/swagger/2.0/:
    post:
      summary: Import OpenAPI Spec 2.0 Definition
      description: import a Swagger 2.0 definition
      operationId: importSwagger20Definition
      parameters:
      - in: path
        name: api_id
        description: id for the api item
        type: string
        format: string
      - in: formData
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: formData
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      - in: formData
        name: url
        description: url of the Swagger definition
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Definitions
      security: []
  /api/{api_id}/images/:
    get:
      summary: Get Images for API
      description: retrieve an APIs images
      operationId: getAPIImages
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Images
      security: []
    post:
      summary: Add Image for API
      description: add an API image
      operationId: addAPIImage
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      - in: query
        name: name
        description: name of the image
        type: string
        format: string
      - in: query
        name: path
        description: path of the image
        type: string
        format: string
      - in: query
        name: type
        description: type of image
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Images
      security: []
  /api/{api_id}/images/{image_id}:
    delete:
      summary: Delete Image for API
      description: delete an API image
      operationId: deleteAPIImage
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      - in: path
        name: image_id
        description: id for the image
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Images
      security: []
  /api/{api_id}/logs/:
    get:
      summary: Get Logs for API
      description: retrieve an APIs logs
      operationId: getAPILogs
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Logs
      security: []
    post:
      summary: Add Log for API
      description: add an API log
      operationId: addAPILog
      parameters:
      - in: path
        name: api_id
        description: id for the api item
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      - in: query
        name: details
        description: log details
        type: string
        format: string
      - in: query
        name: log_date
        description: date of the log entry
        type: string
        format: string
      - in: query
        name: type
        description: type of log entry
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Logs
      security: []
  /api/{api_id}/logs/{log_id}/:
    delete:
      summary: Delete Log for API
      description: delete an API log
      operationId: deleteAPILog
      parameters:
      - in: path
        name: api_id
        description: id for the api
      - in: query
        name: appid
        description: your appid for accessing the API
      - in: query
        name: appkey
        description: your appkey for accessing the API
      - in: path
        name: log_id
        description: id for the log
      responses:
        200:
          description: OK
      tags:
      - Logs
      security: []
  /api/{api_id}/notes/:
    get:
      summary: Get Notes for API
      description: retrieve an APIs notes
      operationId: getAPINotes
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Notes
      security: []
    post:
      summary: Add Note for API
      description: add an API note
      operationId: addAPINote
      parameters:
      - in: path
        name: api_id
        description: id for the api item
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      - in: query
        name: note
        description: the full text of note
        type: string
        format: string
      - in: query
        name: type
        description: type of the note
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Notes
      security: []
  /api/{api_id}/notes/{note_id}/:
    delete:
      summary: Delete Note for API
      description: delete an API note
      operationId: deleteAPINote
      parameters:
      - in: path
        name: api_id
        description: id for the API
      - in: query
        name: appid
        description: your appid for accessing the API
      - in: query
        name: appkey
        description: your appkey for accessing the API
      - in: path
        name: note_id
        description: id for the note
      responses:
        200:
          description: OK
      tags:
      - Notes
      security: []
  /api/{api_id}/screenshots/:
    get:
      summary: Get Screenshots for API
      description: retrieve API screenshots
      operationId: getAPIScreenshots
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Screenshots
      security: []
    post:
      summary: Add Screenshot for API
      description: add an API screenshot
      operationId: addAPIScreenshot
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      - in: query
        name: name
        description: name of the screenshot
        type: string
        format: string
      - in: query
        name: path
        description: path of the screenshot
        type: string
        format: string
      - in: query
        name: type
        description: type of screenshot
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Screenshots
      security: []
  /api/{api_id}/screenshots/{screenshot_id}:
    delete:
      summary: Delete Screenshot for API
      description: delete an API screenshot
      operationId: deleteAPIScreenshot
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      - in: path
        name: screenshot_id
        description: id for the screenshot
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Screenshots
      security: []
  /api/{api_id}/tags/:
    get:
      summary: Get Tags for API
      description: retrieve API tags
      operationId: getAPITags
      parameters:
      - in: path
        name: api_id
        description: id for API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Tags
      security: []
    post:
      summary: Add Tag for API
      description: add tag to API
      operationId: addAPITag
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      - in: query
        name: tag
        description: tag name
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Tags
      security: []
  /api/{api_id}/tags/{tag}:
    delete:
      summary: Delete Tag for API
      description: delete an API tag
      operationId: deleteAPITag
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      - in: path
        name: tag
        description: tag to remove from API
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Tags
      security: []
  /api/{api_id}/urls/:
    get:
      summary: Get URLs for API
      description: retrieve an APIs URLs
      operationId: getAPIURLs
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - URLs
      security: []
    post:
      summary: Add URL for API
      description: add an API URL
      operationId: addAPIURL
      parameters:
      - in: path
        name: api_id
        description: id for the API
        type: string
        format: string
      - in: query
        name: appid
        description: your appid for accessing the API
        type: string
        format: string
      - in: query
        name: appkey
        description: your appkey for accessing the API
        type: string
        format: string
      - in: query
        name: name
        description: a name for the url
        type: string
        format: string
      - in: query
        name: type
        description: type of url
        type: string
        format: string
      - in: query
        name: url
        description: the url
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - URLs
      security: []
  /api/{api_id}/urls/{url_id}/:
    delete:
      summary: Delete URL for API
      description: delete an API URL
      operationId: deleteAPIURL
      parameters:
      - in: path
        name: api_id
        description: id for the api
      - in: query
        name: appid
        description: your appid for accessing the API
      - in: query
        name: appkey
        description: your appkey for accessing the API
      - in: path
        name: url_id
        description: id for the url
      responses:
        200:
          description: OK
      tags:
      - URLs
      security: []
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":11:{s:3:\"api\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:6:\"api_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:9:\"item_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:7:\"details\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:14:\"public_comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:13:\"original_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:6:\"author\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:9:\"processed\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:14:\"screenshot_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:12:\"resolved_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:14:\"weekly_summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:14:\"weekly_roundup\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}}}s:3:\"tag\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"tag_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:3:\"tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:9:\"api_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}}}s:4:\"note\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"note_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}}}s:7:\"snippet\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}}}s:3:\"url\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"note_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}}}s:5:\"image\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"api_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:8:\"image_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}}}s:10:\"screenshot\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"api_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:13:\"screenshot_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}}}s:13:\"buildingblock\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"api_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:17:\"building_block_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:15:\"organization_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:7:\"tool_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}}}s:3:\"log\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"api_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:7:\"details\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:8:\"log_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}}}s:10:\"definition\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}}}s:10:\"parameters\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}}}}"
...
