---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:650:\"<p>The
  Cost Explorer API allows you to programmatically query your cost and usage data.
  You can query for aggregated data such as total monthly costs or total daily usage.
  You can also query for granular data, such as the number of daily write operations
  for Amazon DynamoDB database tables in your production environment. </p> <p>Service
  Endpoint</p> <p>The Cost Explorer API provides the following endpoint:</p> <ul>
  <li> <p>https://ce.us-east-1.amazonaws.com</p> </li> </ul> <p>For information about
  costs associated with the Cost Explorer API, see <a href=\"https://aws.amazon.com/aws-cost-management/pricing/\">AWS
  Cost Management Pricing</a>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:25:\"AWS
  Cost Explorer Service\";s:7:\"version\";s:10:\"2017-10-25\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:86:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ce-2017-10-25.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:2:\"ce\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"amazonaws_ce\";s:4:\"type\";s:7:\"openapi\";}}"
host: ce.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":103:{s:12:\"AccountScope\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:5:\"PAYER\";}s:4:\"type\";s:6:\"string\";}s:21:\"AmortizedRecurringFee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"AmortizedUpfrontFee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"AttributeType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"AttributeValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Attributes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeType\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AttributeValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:23:\"BillExpirationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  requested report expired. Update the date interval and try again.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Context\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:14:\"COST_AND_USAGE\";i:1;s:12:\"RESERVATIONS\";}s:4:\"type\";s:6:\"string\";}s:8:\"Coverage\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  amount of instance usage that a reservation covered.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"CoverageHours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CoverageHours\";s:11:\"description\";s:66:\"The
  amount of instance usage that a reservation covered, in hours.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CoverageByTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Reservation
  coverage for a specified period, in hours.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Groups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ReservationCoverageGroups\";s:11:\"description\";s:58:\"The
  groups of instances that are covered by a reservation.\";}s:10:\"TimePeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DateInterval\";s:11:\"description\";s:45:\"The
  period over which this coverage was used.\";}s:5:\"Total\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Coverage\";s:11:\"description\";s:41:\"The
  total reservation coverage, in hours.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CoverageHours\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"How
  long a running instance either used a reservation or was On-Demand.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:23:\"CoverageHoursPercentage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/CoverageHoursPercentage\";s:11:\"description\";s:67:\"The
  percentage of instance hours that are covered by a reservation.\";}s:13:\"OnDemandHours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OnDemandHours\";s:11:\"description\";s:77:\"The
  number of instance running hours that are covered by On-Demand Instances.\";}s:13:\"ReservedHours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ReservedHours\";s:11:\"description\";s:70:\"The
  number of instance running hours that are covered by reservations.\";}s:17:\"TotalRunningHours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TotalRunningHours\";s:11:\"description\";s:35:\"The
  total instance usage, in hours.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CoverageHoursPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"CoveragesByTime\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CoverageByTime\";}s:4:\"type\";s:5:\"array\";}s:24:\"DataUnavailableException\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  requested data is unavailable.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DateInterval\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  time period that you want the usage and costs for. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"End\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/YearMonthDay\";s:11:\"description\";s:258:\"The
  end of the time period that you want the usage and costs for. The end date is exclusive.
  For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost
  and usage data from the start date up to, but not including, <code>2017-05-01</code>.\";}s:5:\"Start\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/YearMonthDay\";s:11:\"description\";s:253:\"The
  beginning of the time period that you want the usage and costs for. The start date
  is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS
  retrieves cost and usage data starting at <code>2017-01-01</code> up to the end
  date.\";}}s:8:\"required\";a:2:{i:0;s:5:\"Start\";i:1;s:3:\"End\";}s:4:\"type\";s:6:\"object\";}s:9:\"Dimension\";O:8:\"stdClass\":2:{s:4:\"enum\";a:20:{i:0;s:2:\"AZ\";i:1;s:13:\"INSTANCE_TYPE\";i:2;s:14:\"LINKED_ACCOUNT\";i:3;s:9:\"OPERATION\";i:4;s:13:\"PURCHASE_TYPE\";i:5;s:6:\"REGION\";i:6;s:7:\"SERVICE\";i:7;s:10:\"USAGE_TYPE\";i:8;s:16:\"USAGE_TYPE_GROUP\";i:9;s:11:\"RECORD_TYPE\";i:10;s:16:\"OPERATING_SYSTEM\";i:11;s:7:\"TENANCY\";i:12;s:5:\"SCOPE\";i:13;s:8:\"PLATFORM\";i:14;s:15:\"SUBSCRIPTION_ID\";i:15;s:17:\"LEGAL_ENTITY_NAME\";i:16;s:17:\"DEPLOYMENT_OPTION\";i:17;s:15:\"DATABASE_ENGINE\";i:18;s:12:\"CACHE_ENGINE\";i:19;s:20:\"INSTANCE_TYPE_FAMILY\";}s:4:\"type\";s:6:\"string\";}s:15:\"DimensionValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"The
  metadata that you can use to filter and group your results. You can use <code>GetDimensionValues</code>
  to find specific values.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Dimension\";s:11:\"description\";s:149:\"The
  names of the metadata types that you can use to filter and group your results. For
  example, <code>AZ</code> returns a list of Availability Zones.\";}s:6:\"Values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Values\";s:11:\"description\";s:139:\"The
  metadata values that you can use to filter and group your results. You can use <code>GetDimensionValues</code>
  to find specific values.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DimensionValuesWithAttributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"The
  metadata of a specific type that you can use to filter and group your results. You
  can use <code>GetDimensionValues</code> to find specific values.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:64:\"The
  attribute that applies to a specific <code>Dimension</code>.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Value\";s:11:\"description\";s:51:\"The
  value of a dimension with a specific attribute.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DimensionValuesWithAttributesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/DimensionValuesWithAttributes\";}s:4:\"type\";s:5:\"array\";}s:18:\"EC2InstanceDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Details
  about the EC2 instances that AWS recommends that you purchase.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:53:\"The
  Availability Zone of the recommended reservation.\";}s:17:\"CurrentGeneration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GenericBoolean\";s:11:\"description\";s:65:\"Whether
  the recommendation is for a current generation instance. \";}s:6:\"Family\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:51:\"The
  instance family of the recommended reservation.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:41:\"The
  type of instance that AWS recommends.\";}s:8:\"Platform\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:150:\"The
  platform of the recommended reservation. The platform is the specific combination
  of operating system, license model, and software on an instance.\";}s:6:\"Region\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:46:\"The
  AWS Region of the recommended reservation.\";}s:16:\"SizeFlexEligible\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GenericBoolean\";s:11:\"description\";s:53:\"Whether
  the recommended reservation is size flexible.\";}s:7:\"Tenancy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:59:\"Whether
  the recommended reservation is dedicated or shared.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"EC2Specification\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  EC2 hardware specifications that you want AWS to provide recommendations for.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"OfferingClass\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OfferingClass\";s:11:\"description\";s:75:\"Whether
  you want a recommendation for standard or convertible reservations.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Entity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Estimated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"Expression\";O:8:\"stdClass\":3:{s:11:\"description\";s:1865:\"<p>Use
  <code>Expression</code> to filter by cost or by usage. There are two patterns: </p>
  <ul> <li> <p>Simple dimension values - You can set the dimension name and values
  for the filters that you plan to use. For example, you can filter for <code>INSTANCE_TYPE==m4.xlarge
  OR INSTANCE_TYPE==c4.large</code>. The <code>Expression</code> for that looks like
  this:</p> <p> <code>{ \"Dimensions\": { \"Key\": \"INSTANCE_TYPE\", \"Values\":
  [ \"m4.xlarge\", \u201Cc4.large\u201D ] } }</code> </p> <p>The list of dimension
  values are OR'd together to retrieve cost or usage data. You can create <code>Expression</code>
  and <code>DimensionValues</code> objects using either <code>with*</code> methods
  or <code>set*</code> methods in multiple lines. </p> </li> <li> <p>Compound dimension
  values with logical operations - You can use multiple <code>Expression</code> types
  and the logical operators <code>AND/OR/NOT</code> to create a list of one or more
  <code>Expression</code> objects. This allows you to filter on more advanced options.
  For example, you can filter on <code>((INSTANCE_TYPE == m4.large OR INSTANCE_TYPE
  == m3.large) OR (TAG.Type == Type1)) AND (USAGE_TYPE != DataTransfer)</code>. The
  <code>Expression</code> for that looks like this:</p> <p> <code>{ \"And\": [ {\"Or\":
  [ {\"Dimensions\": { \"Key\": \"INSTANCE_TYPE\", \"Values\": [ \"m4.x.large\", \"c4.large\"
  ] }}, {\"Tags\": { \"Key\": \"TagName\", \"Values\": [\"Value1\"] } } ]}, {\"Not\":
  {\"Dimensions\": { \"Key\": \"USAGE_TYPE\", \"Values\": [\"DataTransfer\"] }}} ]
  } </code> </p> <note> <p>Because each <code>Expression</code> can have only one
  operator, the service returns an error if more than one is specified. The following
  example shows an <code>Expression</code> object that creates an error.</p> </note>
  <p> <code> { \"And\": [ ... ], \"DimensionValues\": { \"Dimension\": \"USAGE_TYPE\",
  \"Values\": [ \"DataTransfer\" ] } } </code> </p> </li> </ul>\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"And\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Expressions\";s:11:\"description\";s:62:\"Return
  results that match both <code>Dimension</code> objects.\";}s:10:\"Dimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DimensionValues\";s:11:\"description\";s:71:\"The
  specific <code>Dimension</code> to use for <code>Expression</code>.\";}s:3:\"Not\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Expression\";s:11:\"description\";s:64:\"Return
  results that don't match a <code>Dimension</code> object.\";}s:2:\"Or\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Expressions\";s:11:\"description\";s:63:\"Return
  results that match either <code>Dimension</code> object.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TagValues\";s:11:\"description\";s:65:\"The
  specific <code>Tag</code> to use for <code>Expression</code>.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Expressions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Expression\";}s:4:\"type\";s:5:\"array\";}s:14:\"GenericBoolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"GenericString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"GetCostAndUsageRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"Filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Expression\";s:11:\"description\";s:438:\"Filters
  AWS costs by different dimensions. For example, you can specify <code>SERVICE</code>
  and <code>LINKED_ACCOUNT</code> and get the costs that are associated with that
  account's usage of that service. You can nest <code>Expression</code> objects to
  define any combination of dimension filters. For more information, see <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>.
  \";}s:11:\"Granularity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Granularity\";s:11:\"description\";s:233:\"Sets
  the AWS cost granularity to <code>MONTHLY</code> or <code>DAILY</code>. If <code>Granularity</code>
  isn't set, the response object doesn't include the <code>Granularity</code>, either
  <code>MONTHLY</code> or <code>DAILY</code>. \";}s:7:\"GroupBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/GroupDefinitions\";s:11:\"description\";s:482:\"<p>You
  can group AWS costs using up to two different groups, either dimensions, tag keys,
  or both.</p> <p>When you group by tag key, you get all tag values, including empty
  strings.</p> <p>Valid values are <code>AZ</code>, <code>INSTANCE_TYPE</code>, <code>LEGAL_ENTITY_NAME</code>,
  <code>LINKED_ACCOUNT</code>, <code>OPERATION</code>, <code>PLATFORM</code>, <code>PURCHASE_TYPE</code>,
  <code>SERVICE</code>, <code>TAGS</code>, <code>TENANCY</code>, and <code>USAGE_TYPE</code>.</p>\";}s:7:\"Metrics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricNames\";s:11:\"description\";s:957:\"<p>Which
  metrics are returned in the query. For more information about blended and unblended
  rates, see <a href=\"https://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/\">Why
  does the \"blended\" annotation appear on some line items in my bill?</a>. </p>
  <p>Valid values are <code>BlendedCost</code>, <code>UnblendedCost</code>, and <code>UsageQuantity</code>.</p>
  <note> <p>If you return the <code>UsageQuantity</code> metric, the service aggregates
  all usage numbers without taking into account the units. For example, if you aggregate
  <code>usageQuantity</code> across all of EC2, the results aren't meaningful because
  EC2 compute hours and data transfer are measured in different units (for example,
  hours vs. GB). To get more meaningful <code>UsageQuantity</code> metrics, filter
  by <code>UsageType</code> or <code>UsageTypeGroups</code>. </p> </note> <p> <code>Metrics</code>
  is required for <code>GetCostAndUsage</code> requests.</p>\";}s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NextPageToken\";s:11:\"description\";s:153:\"The
  token to retrieve the next set of results. AWS provides the token when the response
  from a previous call has more results than the maximum page size.\";}s:10:\"TimePeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DateInterval\";s:11:\"description\";s:383:\"Sets
  the start and end dates for retrieving AWS costs. The start date is inclusive, but
  the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code>
  and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is
  retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code>
  but not including <code>2017-05-01</code>.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"GetCostAndUsageResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"GroupDefinitions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/GroupDefinitions\";s:11:\"description\";s:107:\"The
  groups that are specified by the <code>Filter</code> or <code>GroupBy</code> parameters
  in the request.\";}s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NextPageToken\";s:11:\"description\";s:157:\"The
  token for the next set of retrievable results. AWS provides the token when the response
  from a previous call has more results than the maximum page size.\";}s:13:\"ResultsByTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResultsByTime\";s:11:\"description\";s:63:\"The
  time period that is covered by the results in the response.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GetDimensionValuesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"Context\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Context\";s:11:\"description\";s:3464:\"<p>The
  context for the call to <code>GetDimensionValues</code>. This can be <code>RESERVATIONS</code>
  or <code>COST_AND_USAGE</code>. The default value is <code>COST_AND_USAGE</code>.
  If the context is set to <code>RESERVATIONS</code>, the resulting dimension values
  can be used in the <code>GetReservationUtilization</code> operation. If the context
  is set to <code>COST_AND_USAGE</code> the resulting dimension values can be used
  in the <code>GetCostAndUsage</code> operation.</p> <p>If you set the context to
  <code>COST_AND_USAGE</code>, you can use the following dimensions for searching:</p>
  <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p>
  </li> <li> <p>DATABASE_ENGINE - The Amazon Relational Database Service database.
  Examples are Aurora or MySQL.</p> </li> <li> <p>INSTANCE_TYPE - The type of EC2
  instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LEGAL_ENTITY_NAME
  - The name of the organization that sells you AWS services, such as Amazon Web Services.</p>
  </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes
  the full name of the member account. The value field contains the AWS ID of the
  member account.</p> </li> <li> <p>OPERATING_SYSTEM - The operating system. Examples
  are Windows or Linux.</p> </li> <li> <p>OPERATION - The action performed. Examples
  include <code>RunInstance</code> and <code>CreateBucket</code>.</p> </li> <li> <p>PLATFORM
  - The EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>PURCHASE_TYPE
  - The reservation type of the purchase to which this usage is related. Examples
  include On-Demand Instances and Standard Reserved Instances.</p> </li> <li> <p>SERVICE
  - The AWS service such as Amazon DynamoDB.</p> </li> <li> <p>USAGE_TYPE - The type
  of usage. An example is DataTransfer-In-Bytes. The response for the <code>GetDimensionValues</code>
  operation includes a unit attribute. Examples include GB and Hrs.</p> </li> <li>
  <p>USAGE_TYPE_GROUP - The grouping of common usage types. An example is EC2: CloudWatch
  \u2013 Alarms. The response for this operation includes a unit attribute.</p> </li>
  <li> <p>RECORD_TYPE - The different types of charges such as RI fees, usage costs,
  tax refunds, and credits.</p> </li> </ul> <p>If you set the context to <code>RESERVATIONS</code>,
  you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability
  Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>CACHE_ENGINE - The
  Amazon ElastiCache operating system. Examples are Windows or Linux.</p> </li> <li>
  <p>DEPLOYMENT_OPTION - The scope of Amazon Relational Database Service deployments.
  Valid values are <code>SingleAZ</code> and <code>MultiAZ</code>.</p> </li> <li>
  <p>INSTANCE_TYPE - The type of EC2 instance. An example is <code>m4.xlarge</code>.</p>
  </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes
  the full name of the member account. The value field contains the AWS ID of the
  member account.</p> </li> <li> <p>PLATFORM - The EC2 operating system. Examples
  are Windows or Linux.</p> </li> <li> <p>REGION - The AWS Region.</p> </li> <li>
  <p>SCOPE (Utilization only) - The scope of a Reserved Instance (RI). Values are
  regional or a single Availability Zone.</p> </li> <li> <p>TAG (Coverage only) -
  The tags that are associated with a Reserved Instance (RI).</p> </li> <li> <p>TENANCY
  - The tenancy of a resource. Examples are shared or dedicated.</p> </li> </ul>\";}s:9:\"Dimension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Dimension\";s:11:\"description\";s:153:\"The
  name of the dimension. Each <code>Dimension</code> is available for different a
  <code>Context</code>. For more information, see <code>Context</code>.\";}s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NextPageToken\";s:11:\"description\";s:153:\"The
  token to retrieve the next set of results. AWS provides the token when the response
  from a previous call has more results than the maximum page size.\";}s:12:\"SearchString\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SearchString\";s:11:\"description\";s:56:\"The
  value that you want to search the filter values for.\";}s:10:\"TimePeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DateInterval\";s:11:\"description\";s:389:\"The
  start and end dates for retrieving the dimension values. The start date is inclusive,
  but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code>
  and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is
  retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code>
  but not including <code>2017-05-01</code>.\";}}s:8:\"required\";a:2:{i:0;s:10:\"TimePeriod\";i:1;s:9:\"Dimension\";}s:4:\"type\";s:6:\"object\";}s:26:\"GetDimensionValuesResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"DimensionValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/DimensionValuesWithAttributesList\";s:11:\"description\";s:3097:\"<p>The
  filters that you used to filter your request. Some dimensions are available only
  for a specific context:</p> <p>If you set the context to <code>COST_AND_USAGE</code>,
  you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability
  Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>DATABASE_ENGINE -
  The Amazon Relational Database Service database. Examples are Aurora or MySQL.</p>
  </li> <li> <p>INSTANCE_TYPE - The type of EC2 instance. An example is <code>m4.xlarge</code>.</p>
  </li> <li> <p>LEGAL_ENTITY_NAME - The name of the organization that sells you AWS
  services, such as Amazon Web Services.</p> </li> <li> <p>LINKED_ACCOUNT - The description
  in the attribute map that includes the full name of the member account. The value
  field contains the AWS ID of the member account.</p> </li> <li> <p>OPERATING_SYSTEM
  - The operating system. Examples are Windows or Linux.</p> </li> <li> <p>OPERATION
  - The action performed. Examples include <code>RunInstance</code> and <code>CreateBucket</code>.</p>
  </li> <li> <p>PLATFORM - The EC2 operating system. Examples are Windows or Linux.</p>
  </li> <li> <p>PURCHASE_TYPE - The reservation type of the purchase to which this
  usage is related. Examples include On-Demand Instances and Standard Reserved Instances.</p>
  </li> <li> <p>SERVICE - The AWS service such as Amazon DynamoDB.</p> </li> <li>
  <p>USAGE_TYPE - The type of usage. An example is DataTransfer-In-Bytes. The response
  for the <code>GetDimensionValues</code> operation includes a unit attribute. Examples
  include GB and Hrs.</p> </li> <li> <p>USAGE_TYPE_GROUP - The grouping of common
  usage types. An example is EC2: CloudWatch \u2013 Alarms. The response for this
  operation includes a unit attribute.</p> </li> <li> <p>RECORD_TYPE - The different
  types of charges such as RI fees, usage costs, tax refunds, and credits.</p> </li>
  </ul> <p>If you set the context to <code>RESERVATIONS</code>, you can use the following
  dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example
  is <code>us-east-1a</code>.</p> </li> <li> <p>CACHE_ENGINE - The Amazon ElastiCache
  operating system. Examples are Windows or Linux.</p> </li> <li> <p>DEPLOYMENT_OPTION
  - The scope of Amazon Relational Database Service deployments. Valid values are
  <code>SingleAZ</code> and <code>MultiAZ</code>.</p> </li> <li> <p>INSTANCE_TYPE
  - The type of EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li>
  <p>LINKED_ACCOUNT - The description in the attribute map that includes the full
  name of the member account. The value field contains the AWS ID of the member account.</p>
  </li> <li> <p>PLATFORM - The EC2 operating system. Examples are Windows or Linux.</p>
  </li> <li> <p>REGION - The AWS Region.</p> </li> <li> <p>SCOPE (Utilization only)
  - The scope of a Reserved Instance (RI). Values are regional or a single Availability
  Zone.</p> </li> <li> <p>TAG (Coverage only) - The tags that are associated with
  a Reserved Instance (RI).</p> </li> <li> <p>TENANCY - The tenancy of a resource.
  Examples are shared or dedicated.</p> </li> </ul>\";}s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NextPageToken\";s:11:\"description\";s:157:\"The
  token for the next set of retrievable results. AWS provides the token when the response
  from a previous call has more results than the maximum page size.\";}s:10:\"ReturnSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:52:\"The
  number of results that AWS returned at one time.\";}s:9:\"TotalSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:35:\"The
  total number of search results.\";}}s:8:\"required\";a:3:{i:0;s:15:\"DimensionValues\";i:1;s:10:\"ReturnSize\";i:2;s:9:\"TotalSize\";}s:4:\"type\";s:6:\"object\";}s:29:\"GetReservationCoverageRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:118:\"You
  can use the following request parameters to query for how much of your instance
  usage is covered by a reservation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"Filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Expression\";s:11:\"description\";s:831:\"<p>Filters
  utilization data by dimensions. You can filter by the following dimensions:</p>
  <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p>
  </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p>
  </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p>
  </li> <li> <p>SERVICE</p> </li> <li> <p>TAG</p> </li> <li> <p>TENANCY</p> </li>
  </ul> <p> <code>GetReservationCoverage</code> uses the same <code> <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>
  </code> object as the other operations, but only <code>AND</code> is supported among
  each dimension. You can nest only one level deep. If there are multiple values for
  a dimension, they are OR'd together.</p>\";}s:11:\"Granularity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Granularity\";s:11:\"description\";s:356:\"<p>The
  granularity of the AWS cost data for the reservation. Valid values are <code>MONTHLY</code>
  and <code>DAILY</code>.</p> <p>If <code>GroupBy</code> is set, <code>Granularity</code>
  can't be set. If <code>Granularity</code> isn't set, the response object doesn't
  include <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>.</p>\";}s:7:\"GroupBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/GroupDefinitions\";s:11:\"description\";s:391:\"<p>You
  can group the data by the following attributes:</p> <ul> <li> <p>AZ</p> </li> <li>
  <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p>
  </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p>
  </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>TAG</p> </li>
  <li> <p>TENANCY</p> </li> </ul>\";}s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NextPageToken\";s:11:\"description\";s:153:\"The
  token to retrieve the next set of results. AWS provides the token when the response
  from a previous call has more results than the maximum page size.\";}s:10:\"TimePeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DateInterval\";s:11:\"description\";s:523:\"The
  start and end dates of the period for which you want to retrieve data about reservation
  coverage. You can retrieve data for a maximum of 13 months: the last 12 months and
  the current month. The start date is inclusive, but the end date is exclusive. For
  example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is
  <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code>
  up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.
  \";}}s:8:\"required\";a:1:{i:0;s:10:\"TimePeriod\";}s:4:\"type\";s:6:\"object\";}s:30:\"GetReservationCoverageResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"CoveragesByTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CoveragesByTime\";s:11:\"description\";s:50:\"The
  amount of time that your reservations covered.\";}s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NextPageToken\";s:11:\"description\";s:157:\"The
  token for the next set of retrievable results. AWS provides the token when the response
  from a previous call has more results than the maximum page size.\";}s:5:\"Total\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Coverage\";s:11:\"description\";s:68:\"The
  total amount of instance usage that is covered by a reservation.\";}}s:8:\"required\";a:1:{i:0;s:15:\"CoveragesByTime\";}s:4:\"type\";s:6:\"object\";}s:43:\"GetReservationPurchaseRecommendationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"AccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:59:\"The
  account ID that is associated with the recommendation. \";}s:12:\"AccountScope\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AccountScope\";s:11:\"description\";s:208:\"The
  account scope that you want recommendations for. The only valid value is <code>Payer</code>.
  This means that AWS includes the master account and any member accounts when it
  calculates its recommendations.\";}s:20:\"LookbackPeriodInDays\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LookbackPeriodInDays\";s:11:\"description\";s:98:\"The
  number of previous days that you want AWS to consider when it calculates your recommendations.\";}s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NextPageToken\";s:11:\"description\";s:86:\"The
  pagination token that indicates the next set of results that you want to retrieve.\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NonNegativeInteger\";s:11:\"description\";s:81:\"The
  number of recommendations that you want returned in a single response object.\";}s:13:\"PaymentOption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PaymentOption\";s:11:\"description\";s:66:\"The
  reservation purchase option that you want recommendations for.\";}s:7:\"Service\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:55:\"The
  specific service that you want recommendations for.\";}s:20:\"ServiceSpecification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ServiceSpecification\";s:11:\"description\";s:135:\"The
  hardware specifications for the service instances that you want recommendations
  for, such as standard or convertible EC2 instances.\";}s:11:\"TermInYears\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TermInYears\";s:11:\"description\";s:55:\"The
  reservation term that you want recommendations for.\";}}s:8:\"required\";a:1:{i:0;s:7:\"Service\";}s:4:\"type\";s:6:\"object\";}s:44:\"GetReservationPurchaseRecommendationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:55:\"#/definitions/ReservationPurchaseRecommendationMetadata\";s:11:\"description\";s:129:\"Information
  about this specific recommendation call, such as the time stamp for when Cost Explorer
  generated this recommendation.\";}s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NextPageToken\";s:11:\"description\";s:61:\"The
  pagination token for the next set of retrievable results.\";}s:15:\"Recommendations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/ReservationPurchaseRecommendations\";s:11:\"description\";s:45:\"Recommendations
  for reservations to purchase.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"GetReservationUtilizationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"Filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Expression\";s:11:\"description\";s:854:\"<p>Filters
  utilization data by dimensions. You can filter by the following dimensions:</p>
  <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p>
  </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p>
  </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p>
  </li> <li> <p>SERVICE</p> </li> <li> <p>SCOPE</p> </li> <li> <p>TENANCY</p> </li>
  </ul> <p> <code>GetReservationUtilization</code> uses the same <code> <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>
  </code> object as the other operations, but only <code>AND</code> is supported among
  each dimension, and nesting is supported up to only one level deep. If there are
  multiple values for a dimension, they are OR'd together.</p>\";}s:11:\"Granularity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Granularity\";s:11:\"description\";s:363:\"If
  <code>GroupBy</code> is set, <code>Granularity</code> can't be set. If <code>Granularity</code>
  isn't set, the response object doesn't include <code>Granularity</code>, either
  <code>MONTHLY</code> or <code>DAILY</code>. If both <code>GroupBy</code> and <code>Granularity</code>
  aren't set, <code>GetReservationUtilization</code> defaults to <code>DAILY</code>.\";}s:7:\"GroupBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/GroupDefinitions\";s:11:\"description\";s:66:\"Groups
  only by <code>SUBSCRIPTION_ID</code>. Metadata is included.\";}s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NextPageToken\";s:11:\"description\";s:153:\"The
  token to retrieve the next set of results. AWS provides the token when the response
  from a previous call has more results than the maximum page size.\";}s:10:\"TimePeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DateInterval\";s:11:\"description\";s:409:\"Sets
  the start and end dates for retrieving Reserved Instance (RI) utilization. The start
  date is inclusive, but the end date is exclusive. For example, if <code>start</code>
  is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then
  the cost and usage data is retrieved from <code>2017-01-01</code> up to and including
  <code>2017-04-30</code> but not including <code>2017-05-01</code>. \";}}s:8:\"required\";a:1:{i:0;s:10:\"TimePeriod\";}s:4:\"type\";s:6:\"object\";}s:33:\"GetReservationUtilizationResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NextPageToken\";s:11:\"description\";s:157:\"The
  token for the next set of retrievable results. AWS provides the token when the response
  from a previous call has more results than the maximum page size.\";}s:5:\"Total\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ReservationAggregates\";s:11:\"description\";s:52:\"The
  total amount of time that you utilized your RIs.\";}s:18:\"UtilizationsByTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/UtilizationsByTime\";s:11:\"description\";s:46:\"The
  amount of time that you utilized your RIs.\";}}s:8:\"required\";a:1:{i:0;s:18:\"UtilizationsByTime\";}s:4:\"type\";s:6:\"object\";}s:14:\"GetTagsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NextPageToken\";s:11:\"description\";s:153:\"The
  token to retrieve the next set of results. AWS provides the token when the response
  from a previous call has more results than the maximum page size.\";}s:12:\"SearchString\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SearchString\";s:11:\"description\";s:38:\"The
  value that you want to search for.\";}s:6:\"TagKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";s:11:\"description\";s:54:\"The
  key of the tag that you want to return values for.\";}s:10:\"TimePeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DateInterval\";s:11:\"description\";s:389:\"The
  start and end dates for retrieving the dimension values. The start date is inclusive,
  but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code>
  and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is
  retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code>
  but not including <code>2017-05-01</code>.\";}}s:8:\"required\";a:1:{i:0;s:10:\"TimePeriod\";}s:4:\"type\";s:6:\"object\";}s:15:\"GetTagsResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"NextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NextPageToken\";s:11:\"description\";s:157:\"The
  token for the next set of retrievable results. AWS provides the token when the response
  from a previous call has more results than the maximum page size.\";}s:10:\"ReturnSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:55:\"The
  number of query results that AWS returns at a time.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:33:\"The
  tags that match your request.\";}s:9:\"TotalSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:34:\"The
  total number of query results.\";}}s:8:\"required\";a:3:{i:0;s:4:\"Tags\";i:1;s:10:\"ReturnSize\";i:2;s:9:\"TotalSize\";}s:4:\"type\";s:6:\"object\";}s:11:\"Granularity\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:5:\"DAILY\";i:1;s:7:\"MONTHLY\";}s:4:\"type\";s:6:\"string\";}s:5:\"Group\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"One
  level of grouped data within the results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Keys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Keys\";s:11:\"description\";s:41:\"The
  keys that are included in this group.\";}s:7:\"Metrics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Metrics\";s:11:\"description\";s:44:\"The
  metrics that are included in this group.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"GroupDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"Represents
  a group when you specify a group by criteria, or in the response to a query with
  a specific grouping.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/GroupDefinitionKey\";s:11:\"description\";s:55:\"The
  string that represents a key for a specified group.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/GroupDefinitionType\";s:11:\"description\";s:45:\"The
  string that represents the type of group.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GroupDefinitionKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"GroupDefinitionType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"DIMENSION\";i:1;s:3:\"TAG\";}s:4:\"type\";s:6:\"string\";}s:16:\"GroupDefinitions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/GroupDefinition\";}s:4:\"type\";s:5:\"array\";}s:6:\"Groups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:4:\"type\";s:5:\"array\";}s:15:\"InstanceDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Details
  about the instances that AWS recommends that you purchase.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"EC2InstanceDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/EC2InstanceDetails\";s:11:\"description\";s:56:\"The
  EC2 instances that AWS recommends that you purchase.\";}s:18:\"RDSInstanceDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/RDSInstanceDetails\";s:11:\"description\";s:56:\"The
  RDS instances that AWS recommends that you purchase.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidNextTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  pagination token is invalid. Try again without a pagination token.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Keys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Key\";}s:4:\"type\";s:5:\"array\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"You
  made too many calls in a short period of time. Try again later.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:20:\"LookbackPeriodInDays\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:10:\"SEVEN_DAYS\";i:1;s:11:\"THIRTY_DAYS\";i:2;s:10:\"SIXTY_DAYS\";}s:4:\"type\";s:6:\"string\";}s:12:\"MetricAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"MetricName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"MetricNames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";}s:4:\"type\";s:5:\"array\";}s:10:\"MetricUnit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"MetricValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  aggregated value for a metric.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Amount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/MetricAmount\";s:11:\"description\";s:45:\"The
  actual number that represents the metric.\";}s:4:\"Unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricUnit\";s:11:\"description\";s:37:\"The
  unit that the metric is given in.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Metrics\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"NetRISavings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"NextPageToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"NonNegativeInteger\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:13:\"OfferingClass\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:8:\"STANDARD\";i:1;s:11:\"CONVERTIBLE\";}s:4:\"type\";s:6:\"string\";}s:25:\"OnDemandCostOfRIHoursUsed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"OnDemandHours\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"PageSize\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"PaymentOption\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:10:\"NO_UPFRONT\";i:1;s:15:\"PARTIAL_UPFRONT\";i:2;s:11:\"ALL_UPFRONT\";}s:4:\"type\";s:6:\"string\";}s:14:\"PurchasedHours\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"RDSInstanceDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Details
  about the RDS instances that AWS recommends that you purchase.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:17:\"CurrentGeneration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GenericBoolean\";s:11:\"description\";s:65:\"Whether
  the recommendation is for a current generation instance. \";}s:14:\"DatabaseEngine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:62:\"The
  database engine that the recommended reservation supports.\";}s:16:\"DeploymentOption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:139:\"Whether
  the recommendation is for a reservation in a single availability zone or a reservation
  with a backup in a second availability zone.\";}s:6:\"Family\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:51:\"The
  instance family of the recommended reservation.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:41:\"The
  type of instance that AWS recommends.\";}s:12:\"LicenseModel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:60:\"The
  license model that the recommended reservation supports.\";}s:6:\"Region\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:46:\"The
  AWS Region of the recommended reservation.\";}s:16:\"SizeFlexEligible\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GenericBoolean\";s:11:\"description\";s:53:\"Whether
  the recommended reservation is size flexible.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"RequestChangedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"Your
  request parameters changed between pages. Try again with the old parameters or without
  a pagination token.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ReservationAggregates\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  aggregated numbers for your RI usage.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:21:\"AmortizedRecurringFee\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AmortizedRecurringFee\";s:11:\"description\";s:58:\"The
  monthly cost of your RI, amortized over the RI period.\";}s:19:\"AmortizedUpfrontFee\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AmortizedUpfrontFee\";s:11:\"description\";s:58:\"The
  upfront cost of your RI, amortized over the RI period.\";}s:12:\"NetRISavings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NetRISavings\";s:11:\"description\";s:173:\"How
  much you saved due to purchasing and utilizing RIs. This is calculated by subtracting
  the <code>TotalAmortizedFee</code> from the <code>OnDemandCostOfRIHoursUsed</code>.\";}s:25:\"OnDemandCostOfRIHoursUsed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/OnDemandCostOfRIHoursUsed\";s:11:\"description\";s:56:\"How
  much your RIs would cost if charged On-Demand rates.\";}s:14:\"PurchasedHours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PurchasedHours\";s:11:\"description\";s:37:\"How
  many RI hours that you purchased.\";}s:16:\"TotalActualHours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TotalActualHours\";s:11:\"description\";s:43:\"The
  total number of RI hours that you used.\";}s:17:\"TotalAmortizedFee\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TotalAmortizedFee\";s:11:\"description\";s:56:\"The
  total cost of your RI, amortized over the RI period.\";}s:23:\"TotalPotentialRISavings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/TotalPotentialRISavings\";s:11:\"description\";s:59:\"How
  much you could save if you use your entire reservation.\";}s:11:\"UnusedHours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/UnusedHours\";s:11:\"description\";s:43:\"The
  number of RI hours that you didn't use.\";}s:21:\"UtilizationPercentage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/UtilizationPercentage\";s:11:\"description\";s:40:\"The
  percentage of RI time that you used.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ReservationCoverageGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  group of reservations that share a set of attributes.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:46:\"The
  attributes for this group of reservations.\";}s:8:\"Coverage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Coverage\";s:11:\"description\";s:59:\"How
  much instance usage this group of reservations covered.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ReservationCoverageGroups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ReservationCoverageGroup\";}s:4:\"type\";s:5:\"array\";}s:19:\"ReservationGroupKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"ReservationGroupValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:33:\"ReservationPurchaseRecommendation\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  specific reservation that AWS recommends for purchase.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"AccountScope\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AccountScope\";s:11:\"description\";s:170:\"The
  account scope that AWS recommends that you purchase this instance for. For example,
  you can purchase this reservation for an entire organization in AWS Organizations.\";}s:20:\"LookbackPeriodInDays\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LookbackPeriodInDays\";s:11:\"description\";s:98:\"How
  many days of previous usage that AWS takes into consideration when making this recommendation.\";}s:13:\"PaymentOption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PaymentOption\";s:11:\"description\";s:103:\"The
  payment option for the reservation. For example, <code>AllUpfront</code> or <code>NoUpfront</code>.\";}s:21:\"RecommendationDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:54:\"#/definitions/ReservationPurchaseRecommendationDetails\";s:11:\"description\";s:40:\"Details
  about the recommended purchases.\";}s:21:\"RecommendationSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:54:\"#/definitions/ReservationPurchaseRecommendationSummary\";s:11:\"description\";s:41:\"A
  summary about the recommended purchase.\";}s:20:\"ServiceSpecification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ServiceSpecification\";s:11:\"description\";s:74:\"Hardware
  specifications for the service that you want recommendations for.\";}s:11:\"TermInYears\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TermInYears\";s:11:\"description\";s:72:\"The
  term of the reservation that you want recommendations for, in years.\";}}s:4:\"type\";s:6:\"object\";}s:39:\"ReservationPurchaseRecommendationDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Details
  about your recommended reservation purchase.\";s:10:\"properties\";O:8:\"stdClass\":18:{s:33:\"AverageNormalizedUnitsUsedPerHour\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:160:\"The
  average number of normalized units that you used in an hour during the historical
  period. AWS uses this to calculate your recommended reservation purchases.\";}s:35:\"AverageNumberOfInstancesUsedPerHour\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:153:\"The
  average number of instances that you used in an hour during the historical period.
  AWS uses this to calculate your recommended reservation purchases.\";}s:18:\"AverageUtilization\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:109:\"The
  average utilization of your instances. AWS uses this to calculate your recommended
  reservation purchases.\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:73:\"The
  currency code that AWS used to calculate the costs for this instance.\";}s:26:\"EstimatedBreakEvenInMonths\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:92:\"How
  long AWS estimates that it takes for this instance to start saving you money, in
  months.\";}s:28:\"EstimatedMonthlyOnDemandCost\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:72:\"How
  much AWS estimates that you spend on On-Demand Instances in a month.\";}s:29:\"EstimatedMonthlySavingsAmount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:83:\"How
  much AWS estimates that this specific recommendation could save you in a month.\";}s:33:\"EstimatedMonthlySavingsPercentage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:122:\"How
  much AWS estimates that this specific recommendation could save you in a month,
  as a percentage of your overall costs.\";}s:41:\"EstimatedReservationCostForLookbackPeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:131:\"How
  much AWS estimates that you would have spent for all usage during the specified
  historical period if you had had a reservation.\";}s:15:\"InstanceDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InstanceDetails\";s:11:\"description\";s:66:\"Details
  about the instances that AWS recommends that you purchase.\";}s:33:\"MaximumNormalizedUnitsUsedPerHour\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:160:\"The
  maximum number of normalized units that you used in an hour during the historical
  period. AWS uses this to calculate your recommended reservation purchases.\";}s:35:\"MaximumNumberOfInstancesUsedPerHour\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:153:\"The
  maximum number of instances that you used in an hour during the historical period.
  AWS uses this to calculate your recommended reservation purchases.\";}s:33:\"MinimumNormalizedUnitsUsedPerHour\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:149:\"The
  minimum number of hours that you used in an hour during the historical period. AWS
  uses this to calculate your recommended reservation purchases.\";}s:35:\"MinimumNumberOfInstancesUsedPerHour\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:153:\"The
  minimum number of instances that you used in an hour during the historical period.
  AWS uses this to calculate your recommended reservation purchases.\";}s:36:\"RecommendedNormalizedUnitsToPurchase\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:69:\"The
  number of normalized units that AWS recommends that you purchase.\";}s:38:\"RecommendedNumberOfInstancesToPurchase\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:62:\"The
  number of instances that AWS recommends that you purchase.\";}s:28:\"RecurringStandardMonthlyCost\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:63:\"How
  much purchasing this instance costs you on a monthly basis.\";}s:11:\"UpfrontCost\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:52:\"How
  much purchasing this instance costs you upfront.\";}}s:4:\"type\";s:6:\"object\";}s:40:\"ReservationPurchaseRecommendationDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/ReservationPurchaseRecommendationDetail\";}s:4:\"type\";s:5:\"array\";}s:41:\"ReservationPurchaseRecommendationMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Information
  about this specific recommendation, such as the time stamp for when AWS made a specific
  recommendation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"GenerationTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:53:\"The
  time stamp for when AWS made this recommendation.\";}s:16:\"RecommendationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:40:\"The
  ID for this specific recommendation.\";}}s:4:\"type\";s:6:\"object\";}s:40:\"ReservationPurchaseRecommendationSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:158:\"A
  summary about this recommendation, such as the currency code, the amount that AWS
  estimates you could save, and the total amount of reservation to purchase.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:47:\"The
  currency code used for this recommendation.\";}s:34:\"TotalEstimatedMonthlySavingsAmount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:87:\"The
  total amount that AWS estimates that this recommendation could save you in a month.\";}s:38:\"TotalEstimatedMonthlySavingsPercentage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:118:\"The
  total amount that AWS estimates that this recommendation could save you in a month,
  as a percentage of your costs.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"ReservationPurchaseRecommendations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/ReservationPurchaseRecommendation\";}s:4:\"type\";s:5:\"array\";}s:27:\"ReservationUtilizationGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"A
  group of RIs that share a set of attributes.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:37:\"The
  attributes for this group of RIs.\";}s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ReservationGroupKey\";s:11:\"description\";s:36:\"The
  key for a specific RI attribute.\";}s:11:\"Utilization\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ReservationAggregates\";s:11:\"description\";s:36:\"How
  much you used this group of RIs.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ReservationGroupValue\";s:11:\"description\";s:37:\"The
  value of a specific RI attribute.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ReservationUtilizationGroups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ReservationUtilizationGroup\";}s:4:\"type\";s:5:\"array\";}s:13:\"ReservedHours\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ResultByTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  result that is associated with a time period.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"Estimated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Estimated\";s:11:\"description\";s:33:\"Whether
  this result is estimated.\";}s:6:\"Groups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Groups\";s:11:\"description\";s:49:\"The
  groups that are included in this time period.\";}s:10:\"TimePeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DateInterval\";s:11:\"description\";s:36:\"The
  time period covered by a result.\";}s:5:\"Total\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Metrics\";s:11:\"description\";s:65:\"The
  total amount of cost or usage accrued during the time period.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ResultsByTime\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResultByTime\";}s:4:\"type\";s:5:\"array\";}s:12:\"SearchString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"ServiceSpecification\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Hardware
  specifications for the service that you want recommendations for.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"EC2Specification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EC2Specification\";s:11:\"description\";s:81:\"The
  EC2 hardware specifications that you want AWS to provide recommendations for.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"TagKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"TagList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Entity\";}s:4:\"type\";s:5:\"array\";}s:9:\"TagValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  values that are available for a tag.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";s:11:\"description\";s:18:\"The
  key for a tag.\";}s:6:\"Values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Values\";s:11:\"description\";s:28:\"The
  specific value of a tag.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"TermInYears\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:8:\"ONE_YEAR\";i:1;s:11:\"THREE_YEARS\";}s:4:\"type\";s:6:\"string\";}s:16:\"TotalActualHours\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"TotalAmortizedFee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"TotalPotentialRISavings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"TotalRunningHours\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"UnusedHours\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"UtilizationByTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  amount of utilization, in hours.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Groups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ReservationUtilizationGroups\";s:11:\"description\";s:56:\"The
  groups that are included in this utilization result.\";}s:10:\"TimePeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DateInterval\";s:11:\"description\";s:56:\"The
  period of time over which this utilization was used.\";}s:5:\"Total\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ReservationAggregates\";s:11:\"description\";s:44:\"The
  total number of RI hours that were used.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"UtilizationPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"UtilizationsByTime\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/UtilizationByTime\";}s:4:\"type\";s:5:\"array\";}s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Values\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Value\";}s:4:\"type\";s:5:\"array\";}s:12:\"YearMonthDay\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:17:\"\\d{4}-\\d{2}-\\d{2}\";s:4:\"type\";s:6:\"string\";}}"
...
