---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:7:\"preview\";s:5:\"title\";s:20:\"Mobile
  Center Client\";s:11:\"description\";s:41:\"Microsoft Visual Studio Mobile Center
  API\";}"
host: api.mobile.azure.com
basePath: /
paths:
  /v0.1/users/{user_id}/devices/register:
    post:
      description: Registers a user for an existing device
      parameters:
      - name: user_id
        type: string
        in: path
        description: The ID of the user
        required: true
      - name: body
        description: The device info.
        in: body
        required: true
        schema:
          $ref: '#/definitions/DeviceInfoRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeviceInfoResponse'
        404:
          description: '<b>not_found</b>: The user or the device can''t be found.n'
          schema:
            $ref: '#/definitions/ErrorDetails'
        500:
          description: An internal error.
          schema:
            $ref: '#/definitions/ErrorDetails'
      security:
      - APIToken: []
      tags:
      - distribute
  /v0.1/user/invitations/orgs/{invitation_token}/reject:
    post:
      description: Rejects a pending organization invitation
      parameters:
      - $ref: '#/parameters/invitation_token'
      responses:
        204:
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: orgInvitations_reject
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/user/invitations/orgs/{invitation_token}/accept:
    post:
      description: Accepts a pending organization invitation for the specified user
      parameters:
      - $ref: '#/parameters/invitation_token'
      responses:
        204:
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: orgInvitations_accept
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/user/invitations/distribution_groups/accept:
    post:
      description: Accepts all pending invitations to distribution groups for the
        specified user
      parameters: []
      responses:
        204:
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: distributionGroupInvitations_acceptAll
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/user/invitations/apps/{invitation_token}/reject:
    post:
      description: Rejects a pending invitation for the specified user
      parameters:
      - $ref: '#/parameters/invitation_token'
      responses:
        204:
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: appInvitations_reject
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/user/invitations/apps/{invitation_token}/accept:
    post:
      description: Accepts a pending invitation for the specified user
      parameters:
      - $ref: '#/parameters/invitation_token'
      responses:
        204:
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: appInvitations_accept
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/user:
    get:
      description: Returns the user profile data
      parameters: []
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UserProfileResponse'
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: users_get
      security:
      - APIToken: []
      tags:
      - account
    patch:
      description: Updates the user profile and returns the updated user data
      parameters:
      - name: user
        in: body
        description: The data for the created user
        required: true
        schema:
          $ref: '#/definitions/UserUpdateRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UserProfileResponse'
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: Conflict
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: users_update
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/sdk/apps/{app_secret}/releases/{release_hash}:
    get:
      description: Get a release with hash `release_hash`. If multiple releases matches
        the release_hash, return the latest one. If `release_hash` is `latest`, return
        the latest release that was distributed to the current user (from all the
        distribution groups).
      operationId: releases_getLatestByHash
      parameters:
      - name: app_secret
        type: string
        in: path
        description: The secret of the target application
        required: true
      - name: release_hash
        type: string
        in: path
        description: The hash of the release, or `latest` to get the latest release
          from all the distribution groups assigned to the current user.
        required: true
      - name: internal-app-id
        type: string
        in: header
        description: The app ID
        required: true
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ReleaseDetails'
        404:
          description: <b>not_found</b> - A release or an app can't be found.n<b>no_releases_for_user</b>
            - No releases available for that user (can only return when `release_hash`
            is `latest`)n
          schema:
            $ref: '#/definitions/ErrorDetails'
        500:
          description: An internal error.n
          schema:
            $ref: '#/definitions/ErrorDetails'
      security:
      - APIToken: []
      tags:
      - distribute
  /v0.1/public/devices/register/complete: []
  /v 0.1/public/devices/register: []
  /v0.1/private/apps/{owner_name}/{app_name}/distribution_groups/{distribution_group_id}/devices: []
  /v0.1/orgs/{org_name}/users/{user_name}:
    patch:
      description: Updates the given organization user
      parameters:
      - $ref: '#/parameters/organization_name'
      - $ref: '#/parameters/user_name'
      - name: organization_user
        in: body
        required: true
        schema:
          $ref: '#/definitions/OrganizationUserPatchRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/OrganizationUserResponse'
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: users_updateOrgRole
      security:
      - APIToken: []
      tags:
      - account
    delete:
      description: Updates the given organization user
      parameters:
      - $ref: '#/parameters/organization_name'
      - $ref: '#/parameters/user_name'
      responses:
        204:
          description: Success
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: users_removeFromOrg
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/orgs/{org_name}/users:
    get:
      description: Returns a list of users that belong to an organization
      parameters:
      - $ref: '#/parameters/organization_name'
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/OrganizationUserResponse'
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: users_listForOrg
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/orgs/{org_name}/invitations/resend:
    post:
      description: Cancels an existing organization for the user and sends a new one
      parameters:
      - $ref: '#/parameters/organization_name'
      - name: user_email
        in: body
        description: The email of the user for which to resend the invitation
        schema:
          $ref: '#/definitions/UserEmailRequest'
      responses:
        204:
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: Conflict
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: orgInvitations_sendNewInvitation
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/orgs/{org_name}/invitations:
    post:
      description: Invites a new or existing user to an organization
      parameters:
      - $ref: '#/parameters/organization_name'
      - name: user_email
        in: body
        description: The email of the user to invite
        schema:
          $ref: '#/definitions/UserEmailRequest'
      responses:
        204:
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: Conflict
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: orgInvitations_create
      security:
      - APIToken: []
      tags:
      - account
    delete:
      description: Removes a user's invitation to an organization
      parameters:
      - $ref: '#/parameters/organization_name'
      - name: user_email
        in: body
        description: The email of the user whose invitation should be removed
        schema:
          $ref: '#/definitions/UserEmailRequest'
      responses:
        204:
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: orgInvitations_delete
      security:
      - APIToken: []
      tags:
      - account
    get:
      description: Gets the pending invitations for the organization
      parameters:
      - $ref: '#/parameters/organization_name'
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/OrganizationInvitationSimpleDetailResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: orgInvitations_listPending
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/orgs/{org_name}/apps:
    post:
      description: Creates a new app for the organizatiion and returns it to the caller
      parameters:
      - $ref: '#/parameters/organization_name'
      - $ref: '#/parameters/app'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AppResponse'
        201:
          description: Success
          schema:
            $ref: '#/definitions/AppResponse'
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: Conflict
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: apps_createForOrg
      security:
      - APIToken: []
      tags:
      - account
    get:
      description: Returns a list of apps for the organization
      parameters:
      - $ref: '#/parameters/organization_name'
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/AppResponse'
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: apps_listForOrg
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/orgs/{org_name}:
    get:
      description: Returns the details of a single organization
      parameters:
      - $ref: '#/parameters/organization_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/OrganizationResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: organizations_get
      security:
      - APIToken: []
      tags:
      - account
    patch:
      description: Returns a list of organizations the requesting user has access
        to
      parameters:
      - $ref: '#/parameters/organization_name'
      - name: org
        in: body
        description: The data for the org
        required: true
        schema:
          $ref: '#/definitions/OrganizationPatchRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/OrganizationResponse'
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: Conflict
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: organizations_update
      security:
      - APIToken: []
      tags:
      - account
    delete:
      description: Deletes a single organization
      parameters:
      - $ref: '#/parameters/organization_name'
      responses:
        204:
          description: Success
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: organizations_delete
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/orgs:
    post:
      description: Creates a new organization and returns it to the caller
      parameters:
      - name: organization
        in: body
        description: The organization data
        required: true
        schema:
          $ref: '#/definitions/OrganizationRequest'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/OrganizationResponse'
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: organization_createOrUpdate
      security:
      - APIToken: []
      tags:
      - account
    get:
      description: Returns a list of organizations the requesting user has access
        to
      parameters: []
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              properties:
                display_name:
                  description: The display name of the organization
                  type: string
                name:
                  description: The slug name of the organization
                  type: string
                collaborator_role:
                  description: The role the current user has within the organization
                  type: string
                collaborators_count:
                  description: The number of users that are part of this organization
              required:
              - collaborator_role
              - collaborators_count
              - display_name
              - name
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: organizations_list
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/devices/register:
    get:
      description: Serve a .mobileconfig to request a UDID from a device
      parameters:
      - name: original_url
        type: string
        in: query
        description: The url which should be called after device registration finished
        required: true
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeviceConfigurationResponse'
        500:
          description: An internal error.
          schema:
            $ref: '#/definitions/ErrorDetails'
      security:
      - APIToken: []
      tags:
      - distribute
  /v0.1/apps/{owner_name}/{app_name}/xcode_versions:
    get:
      description: Gets the Xcode versions available to this app
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/XcodeVersions'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ValidationErrorResponse'
      operationId: builds_listXcodeVersions
      security:
      - APIToken: []
      tags:
      - build
  /v0.1/apps/{owner_name}/{app_name}/versions:
    get:
      description: Gets a list of application versions
      summary: Gets a list of application versions
      operationId: Crashes_getAppVersions
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/AppVersion'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - crash
  /v0.1/apps/{owner_name}/{app_name}/users/{user_email}:
    delete:
      description: Removes the user from the app
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      - name: user_email
        type: string
        in: path
        description: The user email of the user to delete
        required: true
      responses:
        204:
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: apps_removeUser
      security:
      - APIToken: []
      tags:
      - account
    patch:
      description: Update user permission for the app
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      - name: user_email
        type: string
        in: path
        description: The user email of the user to patch
        required: true
      - name: user_app_permissions_data
        in: body
        description: The value to update the user permission for the app.
        schema:
          $ref: '#/definitions/UserAppPermissionsUpdateRequest'
      responses:
        204:
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: apps_updateUserPermissions
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/apps/{owner_name}/{app_name}/users:
    get:
      description: Returns the users associated with the app specified with the given
        app name which belongs to the given owner.
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/UserProfileResponse'
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: users_list
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/apps/{owner_name}/{app_name}/user/device_sets/{id}:
    get:
      description: Gets a device set belonging to the user
      operationId: test_getDeviceSetOfUser
      parameters:
      - name: id
        type: string
        in: path
        description: The ID of the device set
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeviceSet'
        404:
          description: Device set with the given ID was not found
      security:
      - APIToken: []
      tags:
      - test
    put:
      description: Updates a device set belonging to the user
      operationId: test_updateDeviceSetOfUser
      parameters:
      - name: id
        type: string
        in: path
        description: The ID of the device set
        required: true
      - name: devices
        type: array
        items:
          type: string
        in: formData
        description: List of device IDs
        required: true
      - name: name
        type: string
        in: formData
        description: The name of the device set
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeviceSet'
        400:
          description: Invalid list of device IDs or conflicting name
          schema:
            $ref: '#/definitions/TestCloudErrorDetails'
        404:
          description: Device set with the given ID was not found
      security:
      - APIToken: []
      tags:
      - test
    delete:
      description: Deletes a device set belonging to the user
      operationId: test_deleteDeviceSetOfUser
      parameters:
      - name: id
        type: string
        in: path
        description: The ID of the device set
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
        404:
          description: Device set with the given ID was not found
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/user/device_sets:
    get:
      description: Lists device sets belonging to the user
      operationId: test_listDeviceSetsOfUser
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DeviceSet'
      security:
      - APIToken: []
      tags:
      - test
    post:
      description: Creates a device set belonging to the user
      operationId: test_createDeviceSetOfUser
      parameters:
      - name: devices
        type: array
        items:
          type: string
        in: formData
        description: List of device IDs
        required: true
      - name: name
        type: string
        in: formData
        description: The name of the device set
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        201:
          description: OK
          schema:
            $ref: '#/definitions/DeviceSet'
        400:
          description: Invalid list of device IDs or conflicting name
          schema:
            $ref: '#/definitions/TestCloudErrorDetails'
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/testers:
    get:
      description: Returns the testers associated with the app specified with the
        given app name which belongs to the given owner.
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/UserProfileResponse'
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: apps_listTesters
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/apps/{owner_name}/{app_name}/test_series/{test_series_slug}/test_runs:
    get:
      description: Returns list of all test runs for a given test series
      operationId: test_getAllTestRunsForSeries
      parameters:
      - name: test_series_slug
        type: string
        in: path
        description: The slug of the test series
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TestRun'
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/test_series/{test_series_slug}:
    delete:
      description: Deletes a single test series
      operationId: test_deleteTestSeries
      parameters:
      - name: test_series_slug
        type: string
        in: path
        description: The slug of the test series
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Test series was successfully removed
        404:
          description: The test series was not found
      security:
      - APIToken: []
      tags:
      - test
    patch:
      description: Updates name and slug of a test series
      operationId: test_patchTestSeries
      parameters:
      - name: test_series_slug
        type: string
        in: path
        description: The slug of the test series
        required: true
      - name: name
        type: string
        in: formData
        description: New name of the new test series
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Test series was successfully patched
          schema:
            $ref: '#/definitions/TestSeries'
        400:
          description: The new test series name is incorrect
        404:
          description: Test series with the given slug name was not found
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/test_series:
    get:
      description: Returns list of all test series for an application
      operationId: test_getAllTestSeries
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TestSeries'
      security:
      - APIToken: []
      tags:
      - test
    post:
      description: Creates new test series for an application
      operationId: test_createTestSeries
      parameters:
      - name: name
        type: string
        in: formData
        description: Name of the new test series
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TestSeries'
        400:
          description: Invalid test series name
          schema:
            $ref: '#/definitions/TestCloudErrorDetails'
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/test_runs/{test_run_id}/state:
    get:
      description: Gets state of the test run
      operationId: test_getTestRunState
      parameters:
      - name: test_run_id
        type: string
        in: path
        description: The ID of the test run
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TestRunState'
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/test_runs/{test_run_id}/start:
    post:
      description: Starts test run
      operationId: test_startTestRun
      parameters:
      - name: test_run_id
        type: string
        in: path
        description: The ID of the test run
        required: true
      - name: startOptions
        schema:
          $ref: '#/definitions/TestCloudStartTestRunOptions'
        in: body
        description: Option required to start the test run
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TestCloudStartTestRunResult'
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/test_runs/{test_run_id}/report:
    get:
      description: Returns a single test report
      operationId: test_getTestReport
      parameters:
      - name: test_run_id
        type: string
        format: uuid
        in: path
        description: The ID of the test run
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TestReport'
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/test_runs/{test_run_id}/hashes/batch:
    post:
      description: Adds file with the given hash to a test run
      operationId: test_uploadHashesBatch
      consumes:
      - application/json
      parameters:
      - name: test_run_id
        type: string
        in: path
        description: The ID of the test run
        required: true
      - name: file_info
        schema:
          type: array
          items:
            $ref: '#/definitions/TestCloudFileHash'
        in: body
        description: File hash information
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TestCloudFileHashResponse'
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/test_runs/{test_run_id}/hashes:
    post:
      description: Adds file with the given hash to a test run
      operationId: test_uploadHash
      consumes:
      - application/json
      parameters:
      - name: test_run_id
        type: string
        in: path
        description: The ID of the test run
        required: true
      - name: file_info
        schema:
          $ref: '#/definitions/TestCloudFileHashDeprecated'
        in: body
        description: File hash information
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        201:
          description: OK
        401:
          description: Byte range verification required for given SHA256 hash
          headers:
            X-Challenge-Bytes:
              description: Byte range required to authenticate the request
              type: string
        412:
          description: File with given SHA256 hash doesn't exist and must be uploaded
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/test_runs/{test_run_id}/files:
    post:
      description: Uploads file for a test run
      operationId: test_startUploadingFile
      consumes:
      - application/json
      parameters:
      - name: test_run_id
        type: string
        in: path
        description: The ID of the test run
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: File was created and can be uploaded
          headers:
            Location:
              description: Relative URL that points to the upload endpoint
              type: string
        400:
          description: Bad request
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/test_runs/{test_run_id}:
    get:
      description: Returns a single test runs
      operationId: test_getTestRun
      parameters:
      - name: test_run_id
        type: string
        format: uuid
        in: path
        description: The ID of the test run
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TestRun'
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/test_runs:
    get:
      description: Returns a list of test runs
      operationId: test_getTestRuns
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TestRun'
      security:
      - APIToken: []
      tags:
      - test
    post:
      description: Creates a new test run
      operationId: test_createTestRun
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        201:
          description: OK
          headers:
            Location:
              description: Relative URL that points to the test run
              type: string
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/symbols/{symbol_id}/ignore:
    post:
      description: Marks a symbol by id (uuid) as ignored
      operationId: Symbols_postIgnoreSymbol
      parameters:
      - $ref: '#/parameters/path_symbol_id'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Symbol'
        403:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Failure'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Failure'
        500:
          description: Internal error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - crash
  /v0.1/apps/{owner_name}/{app_name}/symbols/{symbol_id}:
    get:
      description: Returns a particular symbol by id (uuid) for the provided application
      operationId: Symbols_getSymbol
      parameters:
      - $ref: '#/parameters/path_symbol_id'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Symbol'
        403:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Failure'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Failure'
        500:
          description: Internal error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - crash
  /v0.1/apps/{owner_name}/{app_name}/symbols:
    get:
      description: Returns the list of all symbols for the provided application
      operationId: Symbols_getSymbols
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Symbols'
        403:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Failure'
        500:
          description: Internal error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - crash
  /v0.1/apps/{owner_name}/{app_name}/symbol_uploads/{symbol_upload_id}:
    get:
      description: Gets a symbol upload by id for the specified application
      operationId: Symbols_getSymbolUpload
      parameters:
      - $ref: '#/parameters/path_symbol_upload_id'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SymbolUpload'
        403:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Failure'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Failure'
        500:
          description: Internal error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - crash
    patch:
      description: Commits or aborts the symbol upload process for a new set of symbols
        for the specified application
      operationId: Symbols_patchSymbolUpload
      parameters:
      - $ref: '#/parameters/path_symbol_upload_id'
      - name: body
        in: body
        description: The symbol information
        required: true
        schema:
          $ref: '#/definitions/SymbolUploadEndRequest'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SymbolUpload'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Failure'
        403:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Failure'
        500:
          description: Internal error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - crash
    delete:
      description: Deletes a symbol upload by id for the specified application
      operationId: Symbols_deleteSymbolUpload
      parameters:
      - $ref: '#/parameters/path_symbol_upload_id'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SymbolUpload'
        403:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Failure'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/Failure'
        500:
          description: Internal error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - crash
  /v0.1/apps/{owner_name}/{app_name}/symbol_uploads:
    get:
      description: Gets a list of all uploads for the specified application
      operationId: Symbols_getSymbolUploads
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SymbolUploads'
        403:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Failure'
        500:
          description: Internal error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - crash
    post:
      description: Begins the symbol upload process for a new set of symbols for the
        specified application
      operationId: Symbols_postSymbolUpload
      parameters:
      - name: body
        in: body
        description: The symbol information
        required: true
        schema:
          $ref: '#/definitions/SymbolUploadBeginRequest'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SymbolUploadBeginResponse'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/Failure'
        403:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Failure'
        500:
          description: Internal error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - crash
  /v0.1/apps/{owner_name}/{app_name}/symbol_groups/{symbol_group_id}:
    get:
      description: Gets missing symbol crash group by its id
      summary: Gets missing symbol crash group by its id
      operationId: missingSymbolGroups_get
      parameters:
      - $ref: '#/parameters/path_symbol_group_id'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/MissingSymbolCrashGroupsResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/FailureResponse'
      security:
      - APIToken: []
      tags:
      - crash
  /v0.1/apps/{owner_name}/{app_name}/symbol_groups:
    get:
      description: Gets top N (ordered by crash count) of crash groups by missing
        symbol
      summary: Gets top N (ordered by crash count) of crash groups by missing symbol
      operationId: missingSymbolGroups_list
      parameters:
      - $ref: '#/parameters/query_top'
      - $ref: '#/parameters/query_filter'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/MissingSymbolCrashGroupsResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/FailureResponse'
      security:
      - APIToken: []
      tags:
      - crash
  /v0.1/apps/{owner_name}/{app_name}/subscriptions/{subscription_id}/tables/{tableName}/data/{id}:
    get:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: tableName
        in: path
        required: true
        type: string
      - name: id
        in: path
        required: true
        type: string
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: tables_getTableRow
      security:
      - APIToken: []
      tags:
      - data
    delete:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: tableName
        in: path
        required: true
        type: string
      - name: id
        in: path
        required: true
        type: string
      - name: permanent
        in: query
        required: false
        type: boolean
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: tables_deleteTableRow
      security:
      - APIToken: []
      tags:
      - data
  /v0.1/apps/{owner_name}/{app_name}/subscriptions/{subscription_id}/tables/{tableName}/data:
    get:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: tableName
        in: path
        required: true
        type: string
      - name: skip
        in: query
        required: false
        type: integer
        format: int32
      - name: take
        in: query
        required: false
        type: integer
        format: int32
      - name: sort
        in: query
        required: false
        type: string
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: tables_getTableData
      security:
      - APIToken: []
      tags:
      - data
    post:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: tableName
        in: path
        required: true
        type: string
      - name: import
        in: body
        required: true
        schema:
          $ref: '#/definitions/ImportDataContainer'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: tables_importTableData
      security:
      - APIToken: []
      tags:
      - data
    delete:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: tableName
        in: path
        required: true
        type: string
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: tables_clearTableData
      security:
      - APIToken: []
      tags:
      - data
  /v0.1/apps/{owner_name}/{app_name}/subscriptions/{subscription_id}/tables/{tableName}/columns/{columnName}:
    get:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: tableName
        in: path
        required: true
        type: string
      - name: columnName
        in: path
        required: true
        type: string
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: tables_getColumn
      security:
      - APIToken: []
      tags:
      - data
    put:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: tableName
        in: path
        required: true
        type: string
      - name: columnName
        in: path
        required: true
        type: string
      - name: column
        in: body
        required: true
        schema:
          $ref: '#/definitions/TableColumn'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: tables_updateColumn
      security:
      - APIToken: []
      tags:
      - data
    delete:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: tableName
        in: path
        required: true
        type: string
      - name: columnName
        in: path
        required: true
        type: string
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: tables_deleteColumn
      security:
      - APIToken: []
      tags:
      - data
  /v0.1/apps/{owner_name}/{app_name}/subscriptions/{subscription_id}/tables/{tableName}/columns:
    get:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: tableName
        in: path
        required: true
        type: string
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: tables_getColumnList
      security:
      - APIToken: []
      tags:
      - data
    post:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: tableName
        in: path
        required: true
        type: string
      - name: column
        in: body
        required: true
        schema:
          $ref: '#/definitions/TableColumn'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: tables_updateColumnList
      security:
      - APIToken: []
      tags:
      - data
  /v0.1/apps/{owner_name}/{app_name}/subscriptions/{subscription_id}/tables/{tableName}:
    get:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: tableName
        in: path
        required: true
        type: string
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: tables_getTable
      security:
      - APIToken: []
      tags:
      - data
    put:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: tableName
        in: path
        required: true
        type: string
      - name: table
        in: body
        required: true
        schema:
          $ref: '#/definitions/Table'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: tables_updateTable
      security:
      - APIToken: []
      tags:
      - data
    delete:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: tableName
        in: path
        required: true
        type: string
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: tables_deleteTable
      security:
      - APIToken: []
      tags:
      - data
  /v0.1/apps/{owner_name}/{app_name}/subscriptions/{subscription_id}/tables:
    get:
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      operationId: tables_getTableList
      security:
      - APIToken: []
      tags:
      - data
    post:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: table
        in: body
        required: true
        schema:
          $ref: '#/definitions/Table'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: tables_createTable
      security:
      - APIToken: []
      tags:
      - data
  /v0.1/apps/{owner_name}/{app_name}/subscriptions/{subscription_id}/resourceGroups:
    delete:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: azure_deleteResourceGroup
      security:
      - APIToken: []
      tags:
      - data
    get:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: azure_getResourceGroup
      security:
      - APIToken: []
      tags:
      - data
  /v0.1/apps/{owner_name}/{app_name}/subscriptions/{subscription_id}/ping/:
    get:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: azure_ping
      security:
      - APIToken: []
      tags:
      - data
  /v0.1/apps/{owner_name}/{app_name}/subscriptions/{subscription_id}/identity:
    get:
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      operationId: identity_getConfiguration
      security:
      - APIToken: []
      tags:
      - data
    post:
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      operationId: identity_setConfiguration
      security:
      - APIToken: []
      tags:
      - data
  /v0.1/apps/{owner_name}/{app_name}/subscriptions/{subscription_id}/deployments/{type}/operations:
    get:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: type
        in: path
        required: true
        type: string
        enum:
        - appsvc
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: azure_getDeploymentOperations
      security:
      - APIToken: []
      tags:
      - data
  /v0.1/apps/{owner_name}/{app_name}/subscriptions/{subscription_id}/deployments/{type}/:
    post:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: type
        in: path
        required: true
        type: string
        enum:
        - appsvc
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: azure_submitDeployment
      security:
      - APIToken: []
      tags:
      - data
    get:
      parameters:
      - name: subscription_id
        in: path
        required: true
        type: string
      - name: type
        in: path
        required: true
        type: string
        enum:
        - appsvc
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: object
        400:
          description: Invalid request
          schema:
            type: object
      operationId: azure_getDeployment
      security:
      - APIToken: []
      tags:
      - data
  /v0.1/apps/{owner_name}/{app_name}/subscriptions:
    get:
      description: Get information about the currently active subscriptions, if any
      operationId: test_getSubscriptions
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Subscription'
      security:
      - APIToken: []
      tags:
      - test
    post:
      description: Accept a free trial subscription
      operationId: test_createSubscription
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        201:
          description: OK
          schema:
            $ref: '#/definitions/Subscription'
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/source_hosts/{source_host}/repositories:
    get:
      description: Gets the repositories available from the source code host
      parameters:
      - name: source_host
        type: string
        in: path
        description: The source host
        required: true
        enum:
        - github
        - bitbucket
        - vsts
      - $ref: '#/parameters/form'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SourceRepositories'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ValidationErrorResponse'
      operationId: repositories_list
      security:
      - APIToken: []
      tags:
      - build
  /v0.1/apps/{owner_name}/{app_name}/repo_config:
    get:
      description: Returns the repository build configuration status of the app
      parameters:
      - name: includeInactive
        type: boolean
        in: query
        description: Include inactive configurations if none are active
        required: false
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: List of repository configurations
          schema:
            $ref: '#/definitions/RepoConfigs'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ValidationErrorResponse'
      operationId: repositoryConfigurations_list
      security:
      - APIToken: []
      tags:
      - build
    post:
      description: Configures the repository for build
      parameters:
      - name: repo
        in: body
        description: The repository information
        required: true
        schema:
          $ref: '#/definitions/RepoInfo'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SuccessResponse'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ValidationErrorResponse'
      operationId: repositoryConfigurations_update
      security:
      - APIToken: []
      tags:
      - build
    delete:
      description: Removes the configuration for the respository
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SuccessResponse'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ValidationErrorResponse'
      operationId: repositoryConfigurations_remove
      security:
      - APIToken: []
      tags:
      - build
  /v0.1/apps/{owner_name}/{app_name}/releases/{release_id}:
    get:
      description: Get a release with id `release_id`. if `release_id` is `latest`,
        return the latest release that was distributed to the current user (from all
        the distribution groups).
      operationId: releases_getLatestByUser
      parameters:
      - name: release_id
        type: string
        in: path
        description: The ID of the release, or `latest` to get the latest release
          from all the distribution groups assigned to the current user.
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ReleaseDetails'
        400:
          description: '<b>bad_request</b>: `release_id` is not a number or the string
            `latest`.n'
          schema:
            $ref: '#/definitions/ErrorDetails'
        404:
          description: <b>not_found</b> - A release or an app can't be found.n<b>no_releases_for_user</b>
            - No releases available for that user (can only return when `release_id`
            is `latest`)n
          schema:
            $ref: '#/definitions/ErrorDetails'
      security:
      - APIToken: []
      tags:
      - distribute
    patch:
      description: Updates a release.
      parameters:
      - name: release_id
        type: number
        in: path
        description: The ID of the release
        required: true
      - name: body
        in: body
        description: The release information.
        required: true
        schema:
          $ref: '#/definitions/ReleaseUpdateRequest'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ReleaseDetails'
        400:
          description: '<b>not_supported</b>: Trying to change a distribution group.
            Currently this operation is not supported.   n'
          schema:
            $ref: '#/definitions/ErrorDetails'
      operationId: releases_update
      security:
      - APIToken: []
      tags:
      - distribute
    delete:
      description: Deletes a release.
      parameters:
      - name: release_id
        type: string
        in: path
        description: The ID of the release
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
        404:
          description: '<b>not_found</b>: An app or a release couldn''t be foundn'
          schema:
            $ref: '#/definitions/ErrorDetails'
        500:
          description: 'An internal error. Delete can partially fail. If that happens
            partially_deleted error_code is returned.<br>n<b>partially_deleted</b>:
            Release was removed from all distribution groups, but couldn''t be deleted
            from Mobile Center.n'
          schema:
            $ref: '#/definitions/ErrorDetails'
      operationId: releases_delete
      security:
      - APIToken: []
      tags:
      - distribute
  /v0.1/apps/{owner_name}/{app_name}/releases:
    get:
      description: Return detailed information about releases.
      parameters:
      - name: published_only
        type: boolean
        in: query
        description: when true, filters out releases that were uplaoded but were never
          distributed. Releases that under deleted distribution groups will not be
          filtered out.
        required: false
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/BasicReleaseDetails'
      operationId: releases_list
      security:
      - APIToken: []
      tags:
      - distribute
  /v0.1/apps/{owner_name}/{app_name}/release_uploads/{upload_id}:
    patch:
      description: Commits or aborts the upload process for a release for the specified
        application
      parameters:
      - name: upload_id
        type: string
        in: path
        description: The ID of the upload
        required: true
      - name: body
        in: body
        description: The release information
        required: true
        schema:
          $ref: '#/definitions/ReleaseUploadEndRequest'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ReleaseUploadEndResponse'
        400:
          description: Unknown upload_id or status was committed but the upload hasn't
            finished.
      operationId: releaseUploads_complete
      security:
      - APIToken: []
      tags:
      - distribute
  /v0.1/apps/{owner_name}/{app_name}/release_uploads:
    post:
      description: Begins the upload process for a new release for the specified application.
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/ReleaseUploadBeginResponse'
      operationId: releaseUploads_create
      security:
      - APIToken: []
      tags:
      - distribute
  /v0.1/apps/{owner_name}/{app_name}/recent_releases:
    get:
      description: Get the latest release from every distribution group associated
        with an application.
      operationId: releases_listLatest
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/BasicReleaseDetails'
      security:
      - APIToken: []
      tags:
      - distribute
  /v0.1/apps/{owner_name}/{app_name}/owner/device_sets/{id}:
    get:
      description: Gets a device set belonging to the owner
      operationId: test_getDeviceSetOfOwner
      parameters:
      - name: id
        type: string
        in: path
        description: The ID of the device set
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeviceSet'
        404:
          description: Device set with the given ID was not found
      security:
      - APIToken: []
      tags:
      - test
    put:
      description: Updates a device set belonging to the owner
      operationId: test_updateDeviceSetOfOwner
      parameters:
      - name: id
        type: string
        in: path
        description: The ID of the device set
        required: true
      - name: devices
        type: array
        items:
          type: string
        in: formData
        description: List of device IDs
        required: true
      - name: name
        type: string
        in: formData
        description: The name of the device set
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeviceSet'
        400:
          description: Invalid list of device IDs or conflicting name
          schema:
            $ref: '#/definitions/TestCloudErrorDetails'
        404:
          description: Device set with the given ID was not found
      security:
      - APIToken: []
      tags:
      - test
    delete:
      description: Deletes a device set belonging to the owner
      operationId: test_deleteDeviceSetOfOwner
      parameters:
      - name: id
        type: string
        in: path
        description: The ID of the device set
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
        404:
          description: Device set with the given ID was not found
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/owner/device_sets:
    get:
      description: Lists device sets belonging to the owner
      operationId: test_listDeviceSetsOfOwner
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DeviceSet'
      security:
      - APIToken: []
      tags:
      - test
    post:
      description: Creates a device set belonging to the owner
      operationId: test_createDeviceSetOfOwner
      parameters:
      - name: devices
        type: array
        items:
          type: string
        in: formData
        description: List of device IDs
        required: true
      - name: name
        type: string
        in: formData
        description: The name of the device set
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        201:
          description: OK
          schema:
            $ref: '#/definitions/DeviceSet'
        400:
          description: Invalid list of device IDs or conflicting name
          schema:
            $ref: '#/definitions/TestCloudErrorDetails'
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/invitations/{user_email}:
    post:
      deprecated: true
      description: Invites a new or existing user to an app
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      - name: user_email
        type: string
        in: path
        description: The email of the user to invite
        required: true
      responses:
        204:
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: Conflict
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: appInvitations_createByEmail
      security:
      - APIToken: []
      tags:
      - account
    patch:
      description: Update pending invitation permission
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      - name: user_email
        type: string
        in: path
        description: The email of the user to invite
        required: true
      - name: user_invitation_permissions_data
        in: body
        description: The value to update the user permission in the invite.
        schema:
          $ref: '#/definitions/UserInvitationPermissionsUpdateRequest'
      responses:
        204:
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: appInvitations_updatePermissions
      security:
      - APIToken: []
      tags:
      - account
    delete:
      description: Removes a user's invitation to an app
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      - name: user_email
        type: string
        in: path
        description: The email of the user to invite
        required: true
      responses:
        204:
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: appInvitations_delete
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/apps/{owner_name}/{app_name}/invitations:
    post:
      description: Invites a new or existing user to an app
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      - name: user_email
        in: body
        description: The email of the user to invite
        schema:
          $ref: '#/definitions/UserEmailRequest'
      responses:
        204:
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: Conflict
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: appInvitations_create
      security:
      - APIToken: []
      tags:
      - account
    get:
      description: Gets the pending invitations for the app
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AppInvitationDetailResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: appInvitations_list
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/apps/{owner_name}/{app_name}/hockeyapp/app: []
  /v0.1/apps/{owner_name}/{app_name}/distribution_groups/{distribution_group_name}/releases/{release_id}:
    get:
      operationId: releases_getLatestByDistributionGroup
      description: Return detailed information about a distributed release in a given
        distribution group.
      parameters:
      - name: distribution_group_name
        type: string
        in: path
        description: The name of the distribution group.
        required: true
      - name: release_id
        type: string
        in: path
        description: Must be `latest`, a specific `release_id` is not supported at
          this time.
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ReleaseDetails'
        404:
          description: 1. error code - not_found - Distribution group or the app doesn't
            exist.<br>  n2. error code - no_releases_for_app - App has no releases.n
          schema:
            $ref: '#/definitions/ErrorDetails'
        501:
          description: <b>not_implemented</b> - Cannot request a specific release_id.n
          schema:
            $ref: '#/definitions/ErrorDetails'
      security:
      - APIToken: []
      tags:
      - distribute
    delete:
      operationId: releases_deleteWithDistributionGroupId
      description: Deletes a release with id 'release_id' in a given distribution
        group.
      parameters:
      - name: distribution_group_name
        type: string
        in: path
        description: The name of the distribution group.
        required: true
      - name: release_id
        type: string
        in: path
        description: The ID identifying the unique release.
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ReleaseDeleteResponse'
        403:
          description: error code - forbidden - A release from a legacy HockeyApp
            distribution group canu2019t be deleted with Mobile Center API. To delete
            a legacy HockeyApp release, please use the HockeyApp API. https://support.hockeyapp.net/kb/api/api-versions#delete-single-version
          schema:
            $ref: '#/definitions/ErrorDetails'
        404:
          description: 1. error code - distribution_group_not_found - Distribution
            group or the app doesn't exist.<br>  n2. error code - not_found - Not
            found.n
          schema:
            $ref: '#/definitions/ErrorDetails'
      security:
      - APIToken: []
      tags:
      - distribute
  /v0.1/apps/{owner_name}/{app_name}/distribution_groups/{distribution_group_name}/releases:
    get:
      operationId: releases_listByDistributionGroup
      description: Return detailed information about distributed releases in a given
        distribution group.
      parameters:
      - name: distribution_group_name
        type: string
        in: path
        description: The name of the distribution group.
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/BasicReleaseDetails'
        404:
          description: '<b>not_found</b>: A distribution group can''t be found.n'
          schema:
            $ref: '#/definitions/ErrorDetails'
      security:
      - APIToken: []
      tags:
      - distribute
  /v0.1/apps/{owner_name}/{app_name}/distribution_groups/{distribution_group_name}/members:
    get:
      description: Returns a list of member details in the distribution group specified
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      - name: distribution_group_name
        type: string
        in: path
        description: The name of the distribution group
        required: true
      - name: exclude_pending_invitations
        type: boolean
        in: query
        description: Whether to exclude pending invitations in the response
        required: false
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/DistributionGroupUserGetResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: distributionGroups_listUsers
      security:
      - APIToken: []
      tags:
      - account
    post:
      description: Adds the members to the specified distribution group
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      - name: distribution_group_name
        type: string
        in: path
        description: The name of the distribution group
        required: true
      - name: members
        in: body
        description: The list of members to add
        required: true
        schema:
          $ref: '#/definitions/DistributionGroupUserRequest'
      responses:
        200:
          schema:
            type: array
            items:
              $ref: '#/definitions/DistributionGroupUserPostResponse'
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: distributionGroups_addUser
      security:
      - APIToken: []
      tags:
      - account
    delete:
      description: Remove the users from the distribution group
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      - name: distribution_group_name
        type: string
        in: path
        description: The name of the distribution group
        required: true
      - name: members
        in: body
        description: The list of members to delete
        required: true
        schema:
          $ref: '#/definitions/DistributionGroupUserRequest'
      responses:
        200:
          schema:
            type: array
            items:
              $ref: '#/definitions/DistributionGroupUserDeleteResponse'
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: distributionGroups_removeUser
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/apps/{owner_name}/{app_name}/distribution_groups/{distribution_group_name}/devices/download_devices_list:
    get:
      operationId: getDeviceListForDistributionGroup
      description: Returns all devices associated with the given distribution group.
      parameters:
      - name: distribution_group_name
        type: string
        in: path
        description: The name of the distribution group.
        required: true
      - name: unprovisioned_only
        type: boolean
        in: query
        description: when true, filters out provisioned devices
        default: false
      - name: udids
        type: array
        in: query
        description: multiple UDIDs which should be part of the resulting CSV.
        items:
          type: string
        collectionFormat: csv
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      produces:
      - text/csv
      responses:
        200:
          description: Success
        404:
          description: '<b>not_found</b>: A distribution group can''t be found.n'
          schema:
            $ref: '#/definitions/ErrorDetails'
        500:
          description: An internal error.
          schema:
            $ref: '#/definitions/ErrorDetails'
      security:
      - APIToken: []
      tags:
      - distribute
  /v0.1/apps/{owner_name}/{app_name}/distribution_groups/{distribution_group_name}/devices:
    get:
      operationId: getDevicesForDistributionGroup
      description: Returns all devices associated with the given distribution group
      parameters:
      - name: distribution_group_name
        type: string
        in: path
        description: The name of the distribution group.
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/DeviceInfoResponse'
        404:
          description: '<b>not_found</b>: A distribution group can''t be found.n'
          schema:
            $ref: '#/definitions/ErrorDetails'
        500:
          description: An internal error.
          schema:
            $ref: '#/definitions/ErrorDetails'
      security:
      - APIToken: []
      tags:
      - distribute
  /v0.1/apps/{owner_name}/{app_name}/distribution_groups/{distribution_group_name}:
    get:
      description: Returns a single distribution group for a given distribution group
        name
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      - name: distribution_group_name
        type: string
        in: path
        description: The name of the distribution group
        required: true
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DistributionGroupResponse'
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: distributionGroups_get
      security:
      - APIToken: []
      tags:
      - account
    patch:
      description: Updates the attributes of distribution group
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      - name: distribution_group_name
        type: string
        in: path
        description: The name of the distribution group
        required: true
      - name: distribution_group
        in: body
        description: The attributes to update for the distribution group
        required: true
        schema:
          $ref: '#/definitions/DistributionGroupPatchRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DistributionGroupResponse'
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: distributionGroups_update
      security:
      - APIToken: []
      tags:
      - account
    delete:
      description: Deletes a distribution group
      parameters:
      - $ref: '#/parameters/app_name'
      - $ref: '#/parameters/owner_name'
      - name: distribution_group_name
        type: string
        in: path
        description: The name of the distribution group
        required: true
      responses:
        204:
          description: Success
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: distributionGroups_delete
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/apps/{owner_name}/{app_name}/distribution_groups:
    get:
      description: Returns a list of distribution groups in the app specified
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/DistributionGroupResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: distributionGroups_list
      security:
      - APIToken: []
      tags:
      - account
    post:
      description: Creates a new distribution group and returns it to the caller
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      - name: distribution_group
        in: body
        description: The data for the distribution group
        required: true
        schema:
          $ref: '#/definitions/DistributionGroupRequest'
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/DistributionGroupResponse'
        400:
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: NotFound
          schema:
            $ref: '#/definitions/ErrorResponse'
        409:
          description: Conflict
          schema:
            $ref: '#/definitions/ErrorResponse'
      operationId: distributionGroups_create
      security:
      - APIToken: []
      tags:
      - account
  /v0.1/apps/{owner_name}/{app_name}/device_selection:
    post:
      description: Creates a short ID for a list of devices
      operationId: test_createDeviceSelection
      parameters:
      - name: devices
        type: array
        items:
          type: string
        in: formData
        description: List of device IDs
        required: true
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        201:
          description: OK
          schema:
            $ref: '#/definitions/DeviceSelection'
        400:
          description: Invalid list of device IDs
          schema:
            $ref: '#/definitions/TestCloudErrorDetails'
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/device_configurations:
    get:
      description: Returns a list of available devices
      operationId: test_getDeviceConfigurations
      parameters:
      - name: app_upload_id
        type: string
        format: uuid
        in: query
        description: The ID of the test run
        required: false
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/DeviceConfiguration'
      security:
      - APIToken: []
      tags:
      - test
  /v0.1/apps/{owner_name}/{app_name}/deployments/{deployment_name}/releases/{release_label}: []
  /v0.1/apps/{owner_name}/{app_name}/deployments/{deployment_name}/releases:
    get:
      description: Gets the history of releases on a Deployment
      operationId: getReleases
      parameters:
      - $ref: '#/parameters/path_deployment_name'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/LiveUpdateRelease'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - codepush
  /v0.1/apps/{owner_name}/{app_name}/deployments/{deployment_name}/metrics:
    get:
      description: Gets all releases metrics for specified Deployment
      operationId: getDeploymentMetrics
      parameters:
      - $ref: '#/parameters/path_deployment_name'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/LiveUpdateReleaseMetric'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - codepush
  /v0.1/apps/{owner_name}/{app_name}/deployments/{deployment_name}:
    get:
      description: Gets a CodePush Deployment (e.g. 'Staging') for the given app
      operationId: getDeployment
      parameters:
      - $ref: '#/parameters/path_deployment_name'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Deployment'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - codepush
  /v0.1/apps/{owner_name}/{app_name}/deployments/by_key/{deployment_key}/report_status/download: []
  /v0.1/apps/{owner_name}/{app_name}/deployments:
    get:
      description: Gets a list of CodePush deployments (e.g. 'Staging', 'Production')
        for the given app
      operationId: getDeployments
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Deployment'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - codepush
  /v0.1/apps/{owner_name}/{app_name}/crashes_info:
    get:
      description: Gets whether the application has any crashes
      summary: Gets whether the application has any crashes
      operationId: Crashes_getCrashInfo
      parameters:
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AppCrashesInfo'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - crash
  /v0.1/apps/{owner_name}/{app_name}/crashes/{crash_id}/attachments/{attachment_id}/url:
    get:
      description: Gets url to download attachment
      operationId: crashes_getCrashAttachmentUrl
      parameters:
      - $ref: '#/parameters/path_crash_id'
      - $ref: '#/parameters/path_attachment_id'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            type: string
        default:
          description: Error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - crash
  /v0.1/apps/{owner_name}/{app_name}/crashes/{crash_id}/attachments/{attachment_id}/text:
    get:
      description: Gets content of the text attachment
      operationId: crashes_getCrashTextAttachmentContent
      parameters:
      - $ref: '#/parameters/path_crash_id'
      - $ref: '#/parameters/path_attachment_id'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            type: string
        default:
          description: Error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - crash
  /v0.1/apps/{owner_name}/{app_name}/crashes/{crash_id}/attachments:
    get:
      description: Gets all attachments for a specific error
      operationId: Crashes_getCrashAttachments
      parameters:
      - $ref: '#/parameters/path_crash_id'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/CrashAttachment'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Failure'
      security:
      - APIToken: []
      tags:
      - crash
  /v0.1/apps/{owner_name}/{app_name}/crash_groups/{crash_group_id}/stacktrace:
    get:
      description: Gets a stacktrace for a specific error
      operationId: Crashes_getGroupStacktrace
      parameters:
      - $ref: '#/parameters/path_crash_group_id'
      - $ref: '#/parameters/grouping_only'
      - $ref: '#/parameters/owner_name'
      - $ref: '#/parameters/app_name'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Stacktrace'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Failure'
      security:
[...]
