---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:9:\"envoicein\";}s:11:\"description\";s:3485:\"[![Run
  in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/1d39bbcddaf694d81100)\r\n<span
  style='margin-left: 0.5em;'>or</span>\r\n<a href='https://documenter.getpostman.com/view/3559821/envoice-api/RW1XL1mf'
  class='openapi-button' _ngcontent-c6>View Postman docs</a>\r\n\r\n# Quickstart\r\n\r\nVisit
  [github](https://github.com/EmitKnowledge/Envoice) to view the quickstart tutorial.\r\n\r\n<div
  class='postman-tutorial'>\r\n\r\n# Tutorial for running the API in postman\r\n\r\nClick
  on \"\"Run in Postman\"\" button\r\n<br /><br />\r\n![postman - tutorial - 1](/Assets/images/api/postman-tutorial/postman-tutorial-1.png)\r\n\r\n
  --- \r\n\r\nA new page will open.\r\nClick the \"\"Postman for windows\"\" to run
  postman as a desktop app.\r\nMake sure you have already [installed](https://www.getpostman.com/docs/postman/launching_postman/installation_and_updates)
  Postman.\r\n<br /><br />\r\n![postman - tutorial - 2](/Assets/images/api/postman-tutorial/postman-tutorial-2.png)\r\n\r\n
  --- \r\n\r\nIn chrome an alert might show up to set a default app for opening postman
  links. Click on \"\"Open Postman\"\".\r\n<br /><br />\r\n![postman - tutorial -
  3](/Assets/images/api/postman-tutorial/postman-tutorial-3.png)\r\n\r\n --- \r\n\r\nThe
  OpenAPI specification will be imported in Postman as a new collection named \"\"Envoice
  api\"\"\r\n<br /><br />\r\n![postman - tutorial - 4](/Assets/images/api/postman-tutorial/postman-tutorial-4.png)\r\n\r\n
  --- \r\n\r\nWhen testing be sure to check and modify the environment variables to
  suit your api key and secret. The domain is set to envoice's endpoint so you don't
  really need to change that.  \r\n<sub>\\*Eye button in top right corner </sub>\r\n<br
  /><br /> \r\n![postman - tutorial - 5](/Assets/images/api/postman-tutorial/postman-tutorial-5.png)\r\n<br
  /><br /> \r\n![postman - tutorial - 6](/Assets/images/api/postman-tutorial/postman-tutorial-6.png)\r\n\r\n
  --- \r\n\r\nYou don't need to change the values of the header parameters, because
  they will be replaced automatically when you send a request with real values from
  the environment configured in the previous step.\r\n<br /><br />\r\n![postman -
  tutorial - 7](/Assets/images/api/postman-tutorial/postman-tutorial-7.png)\r\n\r\n
  --- \r\n\r\nModify the example data to suit your needs and send a request.\r\n<br
  /><br />\r\n![postman - tutorial - 8](/Assets/images/api/postman-tutorial/postman-tutorial-8.png)\r\n</div>\r\n\r\n#
  Webhooks\r\n\r\nWebhooks allow you to build or set up Envoice Apps which subscribe
  to invoice activities. \r\nWhen one of those events is triggered, we'll send a HTTP
  POST payload to the webhook's configured URL. \r\nWebhooks can be used to update
  an external invoice data storage.\r\n\r\nIn order to use webhooks visit [this link](/account/settings#api-tab)
  and add upto 10 webhook urls that will return status `200` in order to signal that
  the webhook is working.\r\nAll nonworking webhooks will be ignored after a certain
  period of time and several retry attempts.\r\nIf after several attempts the webhook
  starts to work, we will send you all activities, both past and present, in chronological
  order.\r\n\r\nThe payload of the webhook is in format:\r\n```\r\n{\r\n    Signature:
  \"\"sha256 string\"\",\r\n    Timestamp: \"\"YYYY-MM-DDTHH:mm:ss.FFFFFFFZ\"\",\r\n
  \   Activity: {\r\n        Message: \"string\",\r\n        Link: \"share url\",\r\n
  \       Type: int,        \r\n        InvoiceNumber: \"string\",\r\n        InvoiceId:
  int,        \r\n        OrderNumber: \"string\",\r\n        OrderId: int,\r\n        Id:
  int,\r\n        CreatedOn: \"YYYY-MM-DDTHH:mm:ss.FFFFFFFZ\"\r\n    }\r\n}\r\n```
  \           \";s:5:\"title\";s:10:\"API v1.0.0\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"financial\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_envoicein_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:48:\"https://www.envoice.in/docs/api/v1/specification\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"envoice.in\";}"
host: www.envoice.in
paths:
  /api/client/all:
    get:
      consumes: []
      operationId: ClientApi_All
      parameters:
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/ClientDetailsApiModel'
            type: array
      summary: Return all clients for the account
      tags:
      - Client
  /api/client/candelete:
    get:
      consumes: []
      operationId: ClientApi_CanDelete
      parameters:
      - format: int32
        in: query
        name: id
        required: true
        type: integer
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            type: boolean
      summary: Check if the provided client can be deleted
      tags:
      - Client
  /api/client/delete:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: ClientApi_Delete
      parameters:
      - in: body
        name: deleteModel
        required: true
        schema:
          $ref: '#/definitions/ClientDeleteApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            format: int32
            type: integer
      summary: Delete an existing client
      tags:
      - Client
  /api/client/details:
    get:
      consumes: []
      operationId: ClientApi_Details
      parameters:
      - format: int32
        in: query
        name: id
        required: true
        type: integer
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ClientDetailsApiModel'
      summary: Return client details. Activities and invoices included.
      tags:
      - Client
  /api/client/new:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: ClientApi_New
      parameters:
      - in: body
        name: client
        required: true
        schema:
          $ref: '#/definitions/ClientCreateApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            format: int32
            type: integer
      summary: Create a client
      tags:
      - Client
  /api/client/update:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: ClientApi_Update
      parameters:
      - in: body
        name: client
        required: true
        schema:
          $ref: '#/definitions/ClientUpdateApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces: []
      responses:
        204:
          description: No Content
      summary: Update an existing client
      tags:
      - Client
  /api/general/countries:
    get:
      consumes: []
      operationId: GeneralApi_Countries
      parameters:
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/CountryDetailsApiModel'
            type: array
      summary: Return all of the platform supported countries
      tags:
      - General
  /api/general/currencies:
    get:
      consumes: []
      operationId: GeneralApi_Currencies
      parameters:
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/CurrencyDetailsApiModel'
            type: array
      summary: Return all of the platform supported currencies
      tags:
      - General
  /api/general/dateformats:
    get:
      consumes: []
      operationId: GeneralApi_DateFormats
      parameters:
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Return all of the platform supported Date Formats
      tags:
      - General
  /api/general/uilanguages:
    get:
      consumes: []
      operationId: GeneralApi_UiLanguages
      parameters:
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/UILanguageDetailsApiModel'
            type: array
      summary: Return all of the platform supported UI languages
      tags:
      - General
  /api/invoice/all:
    get:
      consumes: []
      operationId: InvoiceApi_All
      parameters:
      - format: int32
        in: query
        name: queryOptions.page
        required: false
        type: integer
      - format: int32
        in: query
        name: queryOptions.pageSize
        required: false
        type: integer
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListResult[InvoiceDetailsApiModel]'
      summary: Return all invoices for the account
      tags:
      - Invoice
  /api/invoice/changestatus:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: InvoiceApi_ChangeStatus
      parameters:
      - in: body
        name: statusModel
        required: true
        schema:
          $ref: '#/definitions/ChangeStatusApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            type: boolean
      summary: Change invoice status
      tags:
      - Invoice
  /api/invoice/delete:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: InvoiceApi_Delete
      parameters:
      - in: body
        name: deleteModel
        required: true
        schema:
          $ref: '#/definitions/InvoiceDeleteApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            format: int32
            type: integer
      summary: Delete an existing invoice
      tags:
      - Invoice
  /api/invoice/details:
    get:
      consumes: []
      operationId: InvoiceApi_Details
      parameters:
      - description: ""
        format: int32
        in: query
        name: id
        required: true
        type: integer
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/InvoiceFullDetailsApiModel'
      summary: Return invoice data
      tags:
      - Invoice
  /api/invoice/new:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: InvoiceApi_New
      parameters:
      - in: body
        name: invoice
        required: true
        schema:
          $ref: '#/definitions/InvoiceCreateApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/InvoiceFullDetailsApiModel'
      summary: Create an invoice
      tags:
      - Invoice
  /api/invoice/sendtoaccountant:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: InvoiceApi_SendToAccountant
      parameters:
      - in: body
        name: invoice
        required: true
        schema:
          $ref: '#/definitions/SendInvoiceToAccountantApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            format: int32
            type: integer
      summary: Send the provided invoice to the accountant
      tags:
      - Invoice
  /api/invoice/sendtoclient:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: InvoiceApi_SendToClient
      parameters:
      - in: body
        name: deliveryOptions
        required: true
        schema:
          $ref: '#/definitions/SendInvoiceToClientApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            format: int32
            type: integer
      summary: Send the provided invoice to the client
      tags:
      - Invoice
  /api/invoice/status:
    get:
      consumes: []
      operationId: InvoiceApi_Status
      parameters:
      - format: int32
        in: query
        name: id
        required: true
        type: integer
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            enum:
            - Draft
            - Paid
            - Unpaid
            - Overdue
            type: string
      summary: Retrieve the status of the invoice
      tags:
      - Invoice
  /api/invoice/update:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: InvoiceApi_Update
      parameters:
      - in: body
        name: invoice
        required: true
        schema:
          $ref: '#/definitions/InvoiceUpdateApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/InvoiceFullDetailsApiModel'
      summary: Update an existing invoice
      tags:
      - Invoice
  /api/invoice/uri:
    get:
      consumes: []
      operationId: InvoiceApi_Uri
      parameters:
      - description: ""
        format: int32
        in: query
        name: id
        required: true
        type: integer
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/InvoiceUriApiModel'
      summary: Return the unique url to the client's invoice
      tags:
      - Invoice
  /api/order/all:
    get:
      consumes: []
      operationId: OrderApi_All
      parameters:
      - format: int32
        in: query
        name: queryOptions.page
        required: false
        type: integer
      - format: int32
        in: query
        name: queryOptions.pageSize
        required: false
        type: integer
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListResult[OrderDetailsApiModel]'
      summary: Return all orders for the account
      tags:
      - Order
  /api/order/changeshippingdetails:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: OrderApi_ChangeShippingDetails
      parameters:
      - format: int32
        in: query
        name: orderId
        required: true
        type: integer
      - in: body
        name: shippingDetails
        required: true
        schema:
          $ref: '#/definitions/OrderShippingDetailsApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces: []
      responses:
        204:
          description: No Content
      summary: Change order shipping details
      tags:
      - Order
  /api/order/changestatus:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: OrderApi_ChangeStatus
      parameters:
      - in: body
        name: status
        required: true
        schema:
          $ref: '#/definitions/ChangeOrderStatusApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces: []
      responses:
        204:
          description: No Content
      summary: Change order status
      tags:
      - Order
  /api/order/delete:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: OrderApi_Delete
      parameters:
      - in: body
        name: order
        required: true
        schema:
          $ref: '#/definitions/OrderDeleteApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            format: int32
            type: integer
      summary: Delete an existing order
      tags:
      - Order
  /api/order/details:
    get:
      consumes: []
      operationId: OrderApi_Details
      parameters:
      - format: int32
        in: query
        name: id
        required: true
        type: integer
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OrderFullDetailsApiModel'
      summary: Return order details
      tags:
      - Order
  /api/order/new:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: OrderApi_New
      parameters:
      - in: body
        name: order
        required: true
        schema:
          $ref: '#/definitions/OrderCreateApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            format: int32
            type: integer
      summary: Create an order
      tags:
      - Order
  /api/payment/supported:
    get:
      consumes: []
      operationId: PaymentApi_Supported
      parameters:
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/PaymentGatewayDetailsApiModel'
            type: array
      summary: Return all supported payment gateways (no currencies means all are
        supported)
      tags:
      - Payment
  /api/product/all:
    get:
      consumes: []
      operationId: ProductApi_All
      parameters:
      - format: int32
        in: query
        name: queryOptions.page
        required: false
        type: integer
      - format: int32
        in: query
        name: queryOptions.pageSize
        required: false
        type: integer
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ListResult[ProductDetailsApiModel]'
      summary: Return all products for the account
      tags:
      - Product
  /api/product/delete:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: ProductApi_Delete
      parameters:
      - in: body
        name: product
        required: true
        schema:
          $ref: '#/definitions/ProductDeleteApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            format: int32
            type: integer
      summary: Delete an existing product
      tags:
      - Product
  /api/product/details:
    get:
      consumes: []
      operationId: ProductApi_Details
      parameters:
      - format: int32
        in: query
        name: id
        required: true
        type: integer
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductFullDetailsApiModel'
      summary: Return product details
      tags:
      - Product
  /api/product/new:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: ProductApi_New
      parameters:
      - in: body
        name: product
        required: true
        schema:
          $ref: '#/definitions/ProductCreateApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            format: int32
            type: integer
      summary: Create a product
      tags:
      - Product
  /api/product/update:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: ProductApi_Update
      parameters:
      - in: body
        name: product
        required: true
        schema:
          $ref: '#/definitions/ProductUpdateApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces: []
      responses:
        204:
          description: No Content
      summary: Update an existing product
      tags:
      - Product
  /api/tax/all:
    get:
      consumes: []
      operationId: TaxApi_All
      parameters:
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/TaxDetailsApiModel'
            type: array
      summary: Return all taxes for the account
      tags:
      - Tax
  /api/tax/delete:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: TaxApi_Delete
      parameters:
      - in: body
        name: deleteModel
        required: true
        schema:
          $ref: '#/definitions/TaxDeleteApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            format: int32
            type: integer
      summary: Delete an existing tax
      tags:
      - Tax
  /api/tax/new:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: TaxApi_New
      parameters:
      - in: body
        name: tax
        required: true
        schema:
          $ref: '#/definitions/TaxCreateApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            format: int32
            type: integer
      summary: Create a tax
      tags:
      - Tax
  /api/tax/update:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: TaxApi_Update
      parameters:
      - in: body
        name: tax
        required: true
        schema:
          $ref: '#/definitions/TaxUpdateApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces: []
      responses:
        204:
          description: No Content
      summary: Update an existing tax
      tags:
      - Tax
  /api/worktype/all:
    get:
      consumes: []
      operationId: WorkTypeApi_All
      parameters:
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/WorkTypeDetailsApiModel'
            type: array
      summary: Return all work types for the account
      tags:
      - WorkType
  /api/worktype/delete:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: WorkTypeApi_Delete
      parameters:
      - in: body
        name: deleteModel
        required: true
        schema:
          $ref: '#/definitions/WorkTypeDeleteApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            format: int32
            type: integer
      summary: Delete an existing work type
      tags:
      - WorkType
  /api/worktype/details:
    get:
      consumes: []
      operationId: WorkTypeApi_Details
      parameters:
      - format: int32
        in: query
        name: workTypeId
        required: true
        type: integer
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WorkTypeDetailsApiModel'
      summary: Return work type details
      tags:
      - WorkType
  /api/worktype/new:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: WorkTypeApi_New
      parameters:
      - in: body
        name: workType
        required: true
        schema:
          $ref: '#/definitions/WorkTypeCreateApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            format: int32
            type: integer
      summary: Create a work type
      tags:
      - WorkType
  /api/worktype/search:
    get:
      consumes: []
      operationId: WorkTypeApi_Search
      parameters:
      - in: query
        name: queryOptions.query
        required: false
        type: string
      - in: query
        name: queryOptions.orderBy
        required: false
        type: string
      - enum:
        - None
        - Asc
        - Desc
        in: query
        name: queryOptions.order
        required: false
        type: string
      - format: int32
        in: query
        name: queryOptions.page
        required: false
        type: integer
      - format: int32
        in: query
        name: queryOptions.pageSize
        required: false
        type: integer
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/WorkTypeDetailsApiModel'
            type: array
      summary: Return all work types for the account that match the query param
      tags:
      - WorkType
  /api/worktype/update:
    post:
      consumes:
      - application/json
      - text/json
      - text/html
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: WorkTypeApi_Update
      parameters:
      - in: body
        name: workType
        required: true
        schema:
          $ref: '#/definitions/WorkTypeUpdateApiModel'
      - default: '[authentication key]'
        description: ""
        in: header
        name: x-auth-key
        required: true
        type: string
      - default: '[authentication secret]'
        description: ""
        in: header
        name: x-auth-secret
        required: true
        type: string
      produces: []
      responses:
        204:
          description: No Content
      summary: Update an existing work type
      tags:
      - WorkType
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":61:{s:25:\"ChangeOrderStatusApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Order
  Id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"Reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Reason
  for status change\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"New
  status of the order\";s:4:\"enum\";a:8:{i:0;s:14:\"PendingPayment\";i:1;s:10:\"Processing\";i:2;s:7:\"Shipped\";i:3;s:9:\"Completed\";i:4;s:6:\"OnHold\";i:5;s:9:\"Cancelled\";i:6;s:8:\"Refunded\";i:7;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ChangeStatusApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Invoice
  Id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"New
  status of the invoice\";s:4:\"enum\";a:4:{i:0;s:5:\"Draft\";i:1;s:4:\"Paid\";i:2;s:6:\"Unpaid\";i:3;s:7:\"Overdue\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ClientCreateApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"Address\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Client
  business address\";s:4:\"type\";s:6:\"string\";}s:2:\"CC\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Client
  additional email contact for CC\";s:4:\"type\";s:6:\"string\";}s:15:\"ClientCountryId\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Indicates
  the country where the clients is from\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"ClientCurrencyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Indicates
  the default system currency used by the user for the client\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"CompanyRegistrationNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Client's
  Company Registration Number\";s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Client
  email\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the client\";s:4:\"type\";s:6:\"string\";}s:11:\"PhoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Client
  phone numer\";s:4:\"type\";s:6:\"string\";}s:12:\"UiLanguageId\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Hold
  a value of the language in which the invoice will be sent\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"Vat\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Client's
  VAT number\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ClientDeleteApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Id
  of client to be deleted\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ClientDetailsApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"Address\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Client
  business address\";s:4:\"type\";s:6:\"string\";}s:2:\"CC\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Client
  additional email contact for CC\";s:4:\"type\";s:6:\"string\";}s:15:\"ClientCountryId\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Indicates
  the country where the clients is from\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"ClientCurrencyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Indicates
  the default system currency used by the user for the client\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"CompanyRegistrationNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Client's
  Company Registration Number\";s:4:\"type\";s:6:\"string\";}s:9:\"CreatedOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Date
  of creation\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Client
  email\";s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Entity
  id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the client\";s:4:\"type\";s:6:\"string\";}s:11:\"PhoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Client
  phone numer\";s:4:\"type\";s:6:\"string\";}s:12:\"UiLanguageId\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Hold
  a value of the language in which the invoice will be sent\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"Vat\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Client's
  VAT number\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ClientUpdateApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"Address\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Client
  business address\";s:4:\"type\";s:6:\"string\";}s:2:\"CC\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Client
  additional email contact for CC\";s:4:\"type\";s:6:\"string\";}s:15:\"ClientCountryId\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Indicates
  the country where the clients is from\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"ClientCurrencyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Indicates
  the default system currency used by the user for the client\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"CompanyRegistrationNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Client's
  Company Registration Number\";s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Client
  email\";s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Entity
  id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the client\";s:4:\"type\";s:6:\"string\";}s:11:\"PhoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Client
  phone numer\";s:4:\"type\";s:6:\"string\";}s:12:\"UiLanguageId\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Hold
  a value of the language in which the invoice will be sent\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"Vat\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Client's
  VAT number\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CountryDetailsApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Entity
  id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Name
  of the country\";s:4:\"type\";s:6:\"string\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Country
  short code\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CurrencyApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the currency\";s:4:\"type\";s:6:\"string\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Currency
  short code\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CurrencyDetailsApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"Code\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Currency
  short numeric code\";s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Entity
  id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Name
  of the country\";s:4:\"type\";s:6:\"string\";}s:6:\"Symbol\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Currency
  symbol\";s:4:\"type\";s:6:\"string\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Currency
  short alpha code\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"IErrorInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Code\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"FaultMessage\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"Group\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"UserVisibleMessage\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InvoiceActivityApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Id
  of invoice activity\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"InvoiceNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Indicates
  to which invoice this activity refers to\";s:4:\"type\";s:6:\"string\";}s:4:\"Link\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Url
  which point out to a certain activity action. Ex: Click to view the payment\";s:4:\"type\";s:6:\"string\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Message
  associated with the activity\";s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Type
  of the activity\";s:4:\"enum\";a:32:{i:0;s:7:\"Created\";i:1;s:5:\"Draft\";i:2;s:6:\"Cloned\";i:3;s:12:\"SentViaEmail\";i:4;s:10:\"SentViaSms\";i:5;s:20:\"SentReminderViaEmail\";i:6;s:18:\"SentReminderViaSms\";i:7;s:6:\"Opened\";i:8;s:6:\"Viewed\";i:9;s:8:\"Rejected\";i:10;s:7:\"Updated\";i:11;s:4:\"Paid\";i:12;s:6:\"Unpaid\";i:13;s:7:\"Overdue\";i:14;s:16:\"NewManualPayment\";i:15;s:20:\"NewPaymentWithPaypal\";i:16;s:20:\"NewPaymentWithStripe\";i:17;s:22:\"NewPaymentWithPayoneer\";i:18;s:16:\"SentToAccountant\";i:19;s:15:\"DownloadedAsPdf\";i:20;s:21:\"MarkAsPaidByTheClient\";i:21;s:16:\"OpenedAttachment\";i:22;s:20:\"NewPaymentWithSquare\";i:23;s:24:\"NewPaymentWithKlikAndPay\";i:24;s:22:\"NewPaymentWithRazorpay\";i:25;s:19:\"NewPaymentWithWepay\";i:26;s:22:\"NewPaymentWithHalkbank\";i:27;s:12:\"ChangeStatus\";i:28;s:12:\"OrderUpdated\";i:29;s:12:\"OrderCreated\";i:30;s:25:\"NewPaymentWithTwoCheckout\";i:31;s:25:\"NewPaymentWithPaymentWall\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvoiceAttachmentApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Id
  of invoice attachment\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Link\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Link
  to the file\";s:4:\"type\";s:6:\"string\";}s:18:\"ObfuscatedFileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Hashed
  file name to avoid url wildguessing\";s:4:\"type\";s:6:\"string\";}s:16:\"OriginalFileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Name
  of the file\";s:4:\"type\";s:6:\"string\";}s:4:\"Size\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"File
  size number in bytes\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Type
  of the link (Attached or external)\";s:4:\"enum\";a:2:{i:0;s:8:\"External\";i:1;s:8:\"Uploaded\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InvoiceCreateApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:11:\"Attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  of invoice attachments\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/InvoiceCreateAttachmentApiModel\";}s:4:\"type\";s:5:\"array\";}s:8:\"ClientId\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  client to whom this invoice is assigned\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ClonedFromId\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Indicate
  from which invoice this invoice has been cloned from\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"CurrencyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Id
  of the currency for the invoice amounts\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"Duedate\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Indicates
  when the invoice will be proclamed as due\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"IssuedOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Indicates
  when the invoice was issued\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Items\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"List
  of invoice items\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/InvoiceCreateItemApiModel\";}s:4:\"type\";s:5:\"array\";}s:5:\"Notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Internal
  note regarding the invoice\";s:4:\"type\";s:6:\"string\";}s:6:\"Number\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Unique
  invoice number\";s:4:\"type\";s:6:\"string\";}s:15:\"PaymentGateways\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"List
  of enabled payment gateways for this invoice\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/InvoiceGatewayApiModel\";}s:4:\"type\";s:5:\"array\";}s:8:\"PoNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Unique
  number generated by the buyer\";s:4:\"type\";s:6:\"string\";}s:16:\"RecurringProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/InvoiceRecurringApiModel\";s:11:\"description\";s:26:\"Hold
  the recurring profile\";}s:18:\"RecurringProfileId\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Hold
  the id of the recurring profile\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Indicate
  the status of the invoice (paid/unpaid/overdue)\";s:4:\"enum\";a:4:{i:0;s:5:\"Draft\";i:1;s:4:\"Paid\";i:2;s:6:\"Unpaid\";i:3;s:7:\"Overdue\";}s:4:\"type\";s:6:\"string\";}s:5:\"Terms\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Terms
  of agreement\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"InvoiceCreateAttachmentApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"Link\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Link
  to the file\";s:4:\"type\";s:6:\"string\";}s:18:\"ObfuscatedFileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Hashed
  file name to avoid url wildguessing\";s:4:\"type\";s:6:\"string\";}s:16:\"OriginalFileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Name
  of the file\";s:4:\"type\";s:6:\"string\";}s:4:\"Size\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"File
  size number in bytes\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Type
  of the link (Attached or external)\";s:4:\"enum\";a:2:{i:0;s:8:\"External\";i:1;s:8:\"Uploaded\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvoiceCreateItemApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"Cost\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Amount
  per unit\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Additional
  description attached to the invoice item\";s:4:\"type\";s:6:\"string\";}s:18:\"DiscountPercentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Discount
  percentage for the overall amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"Quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Quantity
  in total used for the work type\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"TaxId\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Tax
  applied on the item\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"TaxPercentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Task
  percentage. Ex: 18%\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"WorkTypeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Work
  type (Name of the service)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InvoiceDeleteApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Id
  of invoice to be deleted\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InvoiceDetailsApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:11:\"AccessToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Security
  access token used for accessing the invoice anonymously\";s:4:\"type\";s:6:\"string\";}s:6:\"Client\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ClientDetailsApiModel\";s:11:\"description\";s:37:\"Client
  data referened to this invoice\";}s:12:\"ClonedFromId\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Indicate
  from which invoice this invoice has been cloned from\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Currency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/CurrencyDetailsApiModel\";s:11:\"description\";s:36:\"The
  currency related to this invoice\";}s:14:\"DiscountAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Amount
  that goes as a discount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"Duedate\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Indicates
  when the invoice will be proclamed as due\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:21:\"EnablePartialPayments\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Indicate
  that the invoice allows the user to pay the invoice partially\";s:4:\"type\";s:7:\"boolean\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Invoice
  id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"IssuedOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Indicates
  when the invoice was issued\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Internal
  note regarding the invoice\";s:4:\"type\";s:6:\"string\";}s:6:\"Number\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Unique
  invoice number\";s:4:\"type\";s:6:\"string\";}s:8:\"PoNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Unique
  number generated by the buyer\";s:4:\"type\";s:6:\"string\";}s:16:\"RecurringProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/InvoiceRecurringApiModel\";s:11:\"description\";s:26:\"Hold
  the recurring profile\";}s:18:\"RecurringProfileId\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Hold
  the id of the recurring profile\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Indicate
  the status of the invoice (paid/unpaid/overdue)\";s:4:\"enum\";a:4:{i:0;s:5:\"Draft\";i:1;s:4:\"Paid\";i:2;s:6:\"Unpaid\";i:3;s:7:\"Overdue\";}s:4:\"type\";s:6:\"string\";}s:14:\"SubTotalAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Total
  amount of the invoice without tax\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"TaxAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Amount
  that goes to the tax\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"Terms\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Terms
  of agreement\";s:4:\"type\";s:6:\"string\";}s:11:\"TotalAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Total
  amount of the invoice with tax\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:26:\"InvoiceFullDetailsApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":24:{s:11:\"AccessToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Security
  access token used for accessing the invoice anonymously\";s:4:\"type\";s:6:\"string\";}s:10:\"Activities\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"List
  of invoice activities. Invoice audit log\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/InvoiceActivityApiModel\";}s:4:\"type\";s:5:\"array\";}s:11:\"Attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  of invoice attachments\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/InvoiceAttachmentApiModel\";}s:4:\"type\";s:5:\"array\";}s:6:\"Client\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ClientDetailsApiModel\";s:11:\"description\";s:37:\"Client
  data referened to this invoice\";}s:12:\"ClonedFromId\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Indicate
  from which invoice this invoice has been cloned from\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Currency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/CurrencyDetailsApiModel\";s:11:\"description\";s:36:\"The
  currency related to this invoice\";}s:14:\"DiscountAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Amount
  that goes as a discount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"Duedate\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Indicates
  when the invoice will be proclamed as due\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:21:\"EnablePartialPayments\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Indicate
  that the invoice allows the user to pay the invoice partially\";s:4:\"type\";s:7:\"boolean\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Invoice
  id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"IssuedOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Indicates
  when the invoice was issued\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Items\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"List
  of invoice items\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/InvoiceItemApiModel\";}s:4:\"type\";s:5:\"array\";}s:5:\"Notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Internal
  note regarding the invoice\";s:4:\"type\";s:6:\"string\";}s:6:\"Number\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Unique
  invoice number\";s:4:\"type\";s:6:\"string\";}s:15:\"PaymentGateways\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"List
  of enabled payment gateways for this invoice\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/InvoiceGatewayApiModel\";}s:4:\"type\";s:5:\"array\";}s:8:\"Payments\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"List
  of invoice payments\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/InvoicePaymentApiModel\";}s:4:\"type\";s:5:\"array\";}s:8:\"PoNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Unique
  number generated by the buyer\";s:4:\"type\";s:6:\"string\";}s:16:\"RecurringProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/InvoiceRecurringApiModel\";s:11:\"description\";s:26:\"Hold
  the recurring profile\";}s:18:\"RecurringProfileId\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Hold
  the id of the recurring profile\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Indicate
  the status of the invoice (paid/unpaid/overdue)\";s:4:\"enum\";a:4:{i:0;s:5:\"Draft\";i:1;s:4:\"Paid\";i:2;s:6:\"Unpaid\";i:3;s:7:\"Overdue\";}s:4:\"type\";s:6:\"string\";}s:14:\"SubTotalAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Total
  amount of the invoice without tax\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"TaxAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Amount
  that goes to the tax\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"Terms\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Terms
  of agreement\";s:4:\"type\";s:6:\"string\";}s:11:\"TotalAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Total
  amount of the invoice with tax\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InvoiceGatewayApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Name
  of the payment gateway\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"InvoiceItemApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"Cost\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Amount
  per unit\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Additional
  description attached to the invoice item\";s:4:\"type\";s:6:\"string\";}s:14:\"DiscountAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Amount
  that goes as a discount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:18:\"DiscountPercentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Discount
  percentage for the overall amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Id
  of invoice item\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Quantity
  in total used for the work type\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:14:\"SubTotalAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Sub-Total
  amount of the invoice item (Amount without tax)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"TaxAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Amount
  that goes to the tax\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"TaxId\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Tax
  applied on the item\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"TaxPercentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Task
  percentage. Ex: 18%\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"TotalAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Total
  amount of the invoice item\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"WorkTypeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Work
  type (Name of the service)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InvoicePaymentApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Total
  amount of the payment\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Id
  of invoice payment\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"IsAutomatic\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Indicate
  if the payment is automatic or manual\";s:4:\"type\";s:7:\"boolean\";}s:4:\"Note\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Internal
  payment note\";s:4:\"type\";s:6:\"string\";}s:6:\"PaidOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"When
  the payment was done by the client\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"ReferenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Id
  of the payment\";s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Type
  of payment\";s:4:\"enum\";a:16:{i:0;s:5:\"Other\";i:1;s:6:\"Paypal\";i:2;s:6:\"Stripe\";i:3;s:8:\"Payoneer\";i:4;s:4:\"Bank\";i:5;s:4:\"Cash\";i:6;s:6:\"Cheque\";i:7;s:3:\"Ach\";i:8;s:4:\"Sepa\";i:9;s:6:\"Square\";i:10;s:10:\"KlikAndPay\";i:11;s:8:\"Razorpay\";i:12;s:5:\"Wepay\";i:13;s:8:\"Halkbank\";i:14;s:11:\"TwoCheckout\";i:15;s:11:\"PaymentWall\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"InvoiceRecurringApiModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Definition
  of invoice recurring profile\";s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"DayOfMonth\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Day
  of month when the recurrance should happen\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"DayOfWeek\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Day
  when the recurrance should happen\";s:4:\"enum\";a:7:{i:0;s:6:\"Sunday\";i:1;s:6:\"Monday\";i:2;s:7:\"Tuesday\";i:3;s:9:\"Wednesday\";i:4;s:8:\"Thursday\";i:5;s:6:\"Friday\";i:6;s:8:\"Saturday\";}s:4:\"type\";s:6:\"string\";}s:13:\"DueDateInDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Total
  number of days for the client to pay the invoice after issuing it\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"EndOfRecurrance\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Indcate
  the date when the recurrance should stop\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Month\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Month
  when the recurrance should happen\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"RecurrancePattern\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"How
  often the recurrance occurs\";s:4:\"enum\";a:4:{i:0;s:5:\"Daily\";i:1;s:6:\"Weekly\";i:2;s:7:\"Monthly\";i:3;s:6:\"Yearly\";}s:4:\"type\";s:6:\"string\";}s:15:\"RecurranceValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Recurring
  every [value] RecurrancePattern\r\nEx: Recur every 1 week\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"StartOfRecurrance\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Indcate
  the date when the recurrance has started\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  status of the recurrance\";s:4:\"enum\";a:4:{i:0;s:7:\"Pending\";i:1;s:6:\"Active\";i:2;s:9:\"Cancelled\";i:3;s:8:\"Finished\";}s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Title
  of the recurring profile. \r\nEx: BRAND PACKAGE - 2017-08-16 - 2018-08-16\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InvoiceUpdateApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:11:\"Attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  of invoice attachments\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/InvoiceUpdateAttachmentApiModel\";}s:4:\"type\";s:5:\"array\";}s:8:\"ClientId\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  client to whom this invoice is assigned\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ClonedFromId\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Indicate
  from which invoice this invoice has been cloned from\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"CurrencyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Id
  of the currency for the invoice amounts\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"Duedate\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Indicates
  when the invoice will be proclamed as due\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Invoice
  id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"IssuedOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Indicates
  when the invoice was issued\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Items\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"List
  of invoice items\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/InvoiceUpdateItemApiModel\";}s:4:\"type\";s:5:\"array\";}s:5:\"Notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Internal
  note regarding the invoice\";s:4:\"type\";s:6:\"string\";}s:6:\"Number\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Unique
  invoice number\";s:4:\"type\";s:6:\"string\";}s:15:\"PaymentGateways\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"List
  of enabled payment gateways for this invoice\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/InvoiceGatewayApiModel\";}s:4:\"type\";s:5:\"array\";}s:8:\"PoNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Unique
  number generated by the buyer\";s:4:\"type\";s:6:\"string\";}s:16:\"RecurringProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/InvoiceRecurringApiModel\";s:11:\"description\";s:26:\"Hold
  the recurring profile\";}s:18:\"RecurringProfileId\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Hold
  the id of the recurring profile\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Indicate
  the status of the invoice (paid/unpaid/overdue)\";s:4:\"enum\";a:4:{i:0;s:5:\"Draft\";i:1;s:4:\"Paid\";i:2;s:6:\"Unpaid\";i:3;s:7:\"Overdue\";}s:4:\"type\";s:6:\"string\";}s:5:\"Terms\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Terms
  of agreement\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"InvoiceUpdateAttachmentApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Id
  of invoice attachment\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Link\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Link
  to the file\";s:4:\"type\";s:6:\"string\";}s:18:\"ObfuscatedFileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Hashed
  file name to avoid url wildguessing\";s:4:\"type\";s:6:\"string\";}s:16:\"OriginalFileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Name
  of the file\";s:4:\"type\";s:6:\"string\";}s:4:\"Size\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"File
  size number in bytes\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Type
  of the link (Attached or external)\";s:4:\"enum\";a:2:{i:0;s:8:\"External\";i:1;s:8:\"Uploaded\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvoiceUpdateItemApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"Cost\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Amount
  per unit\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Additional
  description attached to the invoice item\";s:4:\"type\";s:6:\"string\";}s:18:\"DiscountPercentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Discount
  percentage for the overall amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Id
  of invoice item\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Quantity
  in total used for the work type\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"TaxId\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Tax
  applied on the item\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"TaxPercentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Task
  percentage. Ex: 18%\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"WorkTypeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Work
  type (Name of the service)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"InvoiceUriApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Link\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Unique
  link to the invoice\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"ListResult[InvoiceDetailsApiModel]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"Count\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:13:\"ErrorMessages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/IErrorInfo\";}s:4:\"type\";s:5:\"array\";}s:9:\"IsFaulted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"Result\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/InvoiceDetailsApiModel\";}s:4:\"type\";s:5:\"array\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ListResult[OrderDetailsApiModel]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"Count\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:13:\"ErrorMessages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/IErrorInfo\";}s:4:\"type\";s:5:\"array\";}s:9:\"IsFaulted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"Result\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/OrderDetailsApiModel\";}s:4:\"type\";s:5:\"array\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:34:\"ListResult[ProductDetailsApiModel]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"Count\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:13:\"ErrorMessages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/IErrorInfo\";}s:4:\"type\";s:5:\"array\";}s:9:\"IsFaulted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"Result\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ProductDetailsApiModel\";}s:4:\"type\";s:5:\"array\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:23:\"OrderAttachmentApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"Link\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Link
  to the file\";s:4:\"type\";s:6:\"string\";}s:18:\"ObfuscatedFileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Hashed
  file name to avoid url wildguessing\";s:4:\"type\";s:6:\"string\";}s:16:\"OriginalFileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Name
  of the file\";s:4:\"type\";s:6:\"string\";}s:4:\"Size\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"File
  size number in bytes\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Type
  of the link (Attached or external)\";s:4:\"enum\";a:2:{i:0;s:8:\"External\";i:1;s:8:\"Uploaded\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"OrderBillingDetailsApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"Address\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Client
  street and number\";s:4:\"type\";s:6:\"string\";}s:9:\"CountryId\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Client
  country id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Client
  email\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Client
  name\";s:4:\"type\";s:6:\"string\";}s:11:\"PhoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Client
  phone number\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OrderCreateApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:23:\"AfterPaymentDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"After
  payment description\";s:4:\"type\";s:6:\"string\";}s:11:\"Attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"List
  of Order attachments\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/OrderAttachmentApiModel\";}s:4:\"type\";s:5:\"array\";}s:10:\"CouponCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Coupon
  to apply in order to get the discount\";s:4:\"type\";s:6:\"string\";}s:10:\"CurrencyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Foreign
  key Currency\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Product
  description\";s:4:\"type\";s:6:\"string\";}s:14:\"DiscountAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Discount
  amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"Items\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"List
  of Order items\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OrderItemApiModel\";}s:4:\"type\";s:5:\"array\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Product
  alias\";s:4:\"type\";s:6:\"string\";}s:4:\"Note\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Customer
  note to seller\";s:4:\"type\";s:6:\"string\";}s:19:\"OrderBillingDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/OrderBillingDetailsApiModel\";s:11:\"description\";s:21:\"Order
  billing details\";}s:20:\"OrderShippingDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/OrderShippingDetailsApiModel\";s:11:\"description\";s:23:\"Order
  sshipping details\";}s:9:\"ProductId\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Product
  id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Referral\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Represent
  the referral for this order\";s:4:\"type\";s:6:\"string\";}s:14:\"ShippingAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Cost
  for shipping the product\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:19:\"ShippingDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Client
  instructions for shipping\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Order
  status\";s:4:\"enum\";a:8:{i:0;s:14:\"PendingPayment\";i:1;s:10:\"Processing\";i:2;s:7:\"Shipped\";i:3;s:9:\"Completed\";i:4;s:6:\"OnHold\";i:5;s:9:\"Cancelled\";i:6;s:8:\"Refunded\";i:7;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}s:14:\"SubTotalAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Sub
  total amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"TaxAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Tax
  amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"TotalAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Total
  amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:26:\"WhatHappensNextDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"What
  happens next description\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OrderDeleteApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Id
  of order to be deleted\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:20:\"OrderDetailsApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":22:{s:11:\"AccessToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Product
  short link\";s:4:\"type\";s:6:\"string\";}s:23:\"AfterPaymentDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"After
  payment description\";s:4:\"type\";s:6:\"string\";}s:10:\"CouponCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Coupon
  to apply in order to get the discount\";s:4:\"type\";s:6:\"string\";}s:8:\"Currency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/CurrencyDetailsApiModel\";s:11:\"description\";s:34:\"The
  currency related to this order\";}s:10:\"CurrencyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Foreign
  key Currency\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Product
  description\";s:4:\"type\";s:6:\"string\";}s:14:\"DiscountAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Discount
  amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Order
  id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Product
  alias\";s:4:\"type\";s:6:\"string\";}s:4:\"Note\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Customer
  note to seller\";s:4:\"type\";s:6:\"string\";}s:19:\"OrderBillingDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/OrderBillingDetailsApiModel\";s:11:\"description\";s:21:\"Order
  billing details\";}s:20:\"OrderShippingDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/OrderShippingDetailsApiModel\";s:11:\"description\";s:23:\"Order
  sshipping details\";}s:9:\"ProductId\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Product
  id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Referral\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Represent
  the referral for this order\";s:4:\"type\";s:6:\"string\";}s:14:\"ShippingAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Cost
  for shipping the product\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:19:\"ShippingDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Client
  instructions for shipping\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Order
  status\";s:4:\"enum\";a:8:{i:0;s:14:\"PendingPayment\";i:1;s:10:\"Processing\";i:2;s:7:\"Shipped\";i:3;s:9:\"Completed\";i:4;s:6:\"OnHold\";i:5;s:9:\"Cancelled\";i:6;s:8:\"Refunded\";i:7;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}s:14:\"SubTotalAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Sub
  total amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"TaxAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Tax
  amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"TotalAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Total
  amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:17:\"TotalWithShipping\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Total
  amount with shipping\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:26:\"WhatHappensNextDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"What
  happens next description\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"OrderFullDetailsApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":24:{s:11:\"AccessToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Product
  short link\";s:4:\"type\";s:6:\"string\";}s:23:\"AfterPaymentDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"After
  payment description\";s:4:\"type\";s:6:\"string\";}s:11:\"Attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"List
  of Order attachments\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/OrderAttachmentApiModel\";}s:4:\"type\";s:5:\"array\";}s:10:\"CouponCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Coupon
  to apply in order to get the discount\";s:4:\"type\";s:6:\"string\";}s:8:\"Currency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/CurrencyDetailsApiModel\";s:11:\"description\";s:34:\"The
  currency related to this order\";}s:10:\"CurrencyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Foreign
  key Currency\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Product
  description\";s:4:\"type\";s:6:\"string\";}s:14:\"DiscountAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Discount
  amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Order
  id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"Items\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"List
  of Order items\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OrderItemApiModel\";}s:4:\"type\";s:5:\"array\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Product
  alias\";s:4:\"type\";s:6:\"string\";}s:4:\"Note\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Customer
  note to seller\";s:4:\"type\";s:6:\"string\";}s:19:\"OrderBillingDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/OrderBillingDetailsApiModel\";s:11:\"description\";s:21:\"Order
  billing details\";}s:20:\"OrderShippingDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/OrderShippingDetailsApiModel\";s:11:\"description\";s:23:\"Order
  sshipping details\";}s:9:\"ProductId\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Product
  id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Referral\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Represent
  the referral for this order\";s:4:\"type\";s:6:\"string\";}s:14:\"ShippingAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Cost
  for shipping the product\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:19:\"ShippingDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Client
  instructions for shipping\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Order
  status\";s:4:\"enum\";a:8:{i:0;s:14:\"PendingPayment\";i:1;s:10:\"Processing\";i:2;s:7:\"Shipped\";i:3;s:9:\"Completed\";i:4;s:6:\"OnHold\";i:5;s:9:\"Cancelled\";i:6;s:8:\"Refunded\";i:7;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}s:14:\"SubTotalAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Sub
  total amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"TaxAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Tax
  amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"TotalAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Total
  amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:17:\"TotalWithShipping\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Total
  amount with shipping\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:26:\"WhatHappensNextDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"What
  happens next description\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"OrderItemApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"Cost\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Work
  item cost\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"General
  description\";s:4:\"type\";s:6:\"string\";}s:13:\"ProductItemId\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Foreign
  key product item id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Work
  item quantity\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"ReferenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Order
  SKU\";s:4:\"type\";s:6:\"string\";}s:14:\"SubTotalAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Subtotal
  amount of product\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"TaxAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Tax
  amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"TaxId\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Foreign
  key Tax id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"TaxPercentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Tax
  percentage\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"TotalAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Total
  amount of product\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"WorkTypeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Foreign
  key work type id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:28:\"OrderShippingDetailsApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"Address\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Client
  street and number\";s:4:\"type\";s:6:\"string\";}s:9:\"CountryId\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Client
  country id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Client
  email\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Client
  name\";s:4:\"type\";s:6:\"string\";}s:11:\"PhoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Client
  phone number\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"PaymentGatewayDetailsApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Name
  of the payment gateway\";s:4:\"type\";s:6:\"string\";}s:19:\"SupportedCurrencies\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"List
  of supported currencies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CurrencyApiModel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ProductAttachmentApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Product
  attachment id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Link\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Link
  to the file\";s:4:\"type\";s:6:\"string\";}s:18:\"ObfuscatedFileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Hashed
  file name to avoid url wildguessing\";s:4:\"type\";s:6:\"string\";}s:16:\"OriginalFileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Name
  of the file\";s:4:\"type\";s:6:\"string\";}s:4:\"Size\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"File
  size number in bytes\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Type
  of the link (Attached or external)\";s:4:\"enum\";a:2:{i:0;s:8:\"External\";i:1;s:8:\"Uploaded\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ProductCouponApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"Code\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Coupon
  to apply in order to get the discount\";s:4:\"type\";s:6:\"string\";}s:14:\"DiscountAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Discount
  amount\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:18:\"DiscountPercentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Discount
  percentage\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Product
  coupon id\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"ValidUntil\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Coupon
  expiration date\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ProductCreateApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:23:\"AfterPaymentDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"After
  payment description\";s:4:\"type\";s:6:\"string\";}s:11:\"Attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  of product attachments\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ProductAttachmentApiModel\";}s:4:\"type\";s:5:\"array\";}s:7:\"Coupons\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"List
  of product coupons\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ProductCouponApiModel\";}s:4:\"type\";s:5:\"array\";}s:10:\"CurrencyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Foreign
  key Currency\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Product
  description\";s:4:\"type\";s:6:\"string\";}s:9:\"Discounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"List
  of product discounts\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ProductDiscountApiModel\";}s:4:\"type\";s:5:\"array\";}s:5:\"Items\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"List
  of product items\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProductItemApiModel\";}s:4:\"type\";s:5:\"array\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Product
[...]
