---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:11:\"description\";s:252:\"The Winning Email
  API allows you to access our services from your applications. Contact us if you
  need help with anything, or require access to something we don't yet offer. The
  API overview is available <a href='/api/v1/docs' target='_blank'>here</a>.\";s:14:\"termsOfService\";s:28:\"https://winning.email/terms/\";s:5:\"title\";s:13:\"Winning
  Email\";s:7:\"version\";s:5:\"1.0.0\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:50:\"https://winning.email/media/winning-email-logo.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:38:\"https://winning.email/api/v1/spec.json\";s:7:\"version\";s:3:\"2.0\";}s:14:\"x-providerName\";s:13:\"winning.email\";}"
host: winning.email
basePath: /api/v1
paths:
  /email-booster:
    post:
      description: With our API, you can access the same results available through
        the Winning Email website, but in a raw, JSON, format, that you can use however
        you wish in your application. Read more about Email Booster <a href='/email-booster/'
        target='_blank'>here</a>.<br><br><strong>Input Parameters</strong><br>If <strong>source</strong>
        provided, then all other inputs are ignored. Otherwise, <strong>subject</strong>
        AND one or both of <strong>html</strong> and <strong>text</strong> are required.
      operationId: emailBooster
      parameters:
      - description: email subject
        in: formData
        name: subject
        required: false
        type: string
      - description: html body
        in: formData
        name: html
        required: false
        type: string
      - description: plain text body
        in: formData
        name: text
        required: false
        type: string
      - description: raw source
        in: formData
        name: source
        required: false
        type: string
      produces:
      - application/json
      responses:
        200:
          description: email booster report
          schema:
            properties:
              message:
                type: string
              report:
                $ref: '#/definitions/Report'
              status:
                type: integer
            type: object
        400:
          description: bad request error
          schema:
            properties:
              errors:
                items:
                  properties:
                    msg:
                      type: string
                    param:
                      type: string
                  type: object
                type: array
              message:
                type: string
              status:
                type: integer
            type: object
        default:
          description: error
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - internalApiKey: []
      summary: The Email Booster service will scan your email subjects and bodies
        (both HTML and plain text), and give you recommendations on what to change
        to improve your open and click-through rates.<br><br>
      tags:
      - email-booster
  /rate-limit-status:
    get:
      description: Check how many API queries you've used, and what your limit is.
      operationId: rateLimitStatus
      produces:
      - application/json
      responses:
        200:
          description: rate limit
          schema:
            properties:
              message:
                type: string
              services:
                items:
                  $ref: '#/definitions/Service'
                type: array
              status:
                type: integer
            type: object
        default:
          description: error
          schema:
            $ref: '#/definitions/ErrorModel'
      security:
      - internalApiKey: []
      summary: Rate Limit Status of Services
  /status:
    get:
      description: Check the status of the Winning Email API.
      operationId: status
      produces:
      - application/json
      responses:
        200:
          description: status
          schema:
            properties:
              message:
                type: string
              status:
                type: integer
              uptime:
                format: double
                type: number
            type: object
        default:
          description: error
          schema:
            $ref: '#/definitions/ErrorModel'
      summary: API Server Status
produces:
- application/json
schemes: []
definitions: !php/object "O:8:\"stdClass\":3:{s:10:\"ErrorModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:7:\"message\";}}s:6:\"Report\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"baseScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"report\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"bodyReport\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"hasForm\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"hasJS\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"htmlLength\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"score\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:10:\"textLength\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"imageReport\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"imagesNeedOptimization\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"imagesNoAlt\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:12:\"optimization\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:5:\"score\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:10:\"linkReport\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:5:\"score\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:12:\"markupReport\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"errors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:13:\"groupedErrors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:10:\"tripleTree\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:8:\"warnings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"score\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:18:\"spamassassinReport\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"baseSpamScore\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:6:\"isSpam\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"responseCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"responseMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"spamScore\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"tests\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"desc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"spellReport\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"html\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:5:\"score\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:4:\"text\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"subjectReport\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"openrates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:15:\"overallOpenRate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"subjectLength\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"validateHTML\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"lastColumn\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"lastLine\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"type\";s:5:\"array\";}s:5:\"score\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:5:\"score\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Service\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"used\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}"
...
