---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:901:\"<p>Amazon
  Lightsail is the easiest way to get started with AWS for developers who just need
  virtual private servers. Lightsail includes everything you need to launch your project
  quickly - a virtual machine, SSD-based storage, data transfer, DNS management, and
  a static IP - for a low, predictable price. You manage those Lightsail servers through
  the Lightsail console or by using the API or command-line interface (CLI).</p> <p>For
  more information about Lightsail concepts and tasks, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/all\">Lightsail
  Dev Guide</a>.</p> <p>To use the Lightsail API or the CLI, you will need to use
  AWS Identity and Access Management (IAM) to generate access keys. For details about
  how to set this up, see the <a href=\"http://lightsail.aws.amazon.com/ls/docs/how-to/article/lightsail-how-to-set-up-access-keys-to-use-sdk-api-cli\">Lightsail
  Dev Guide</a>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:16:\"Amazon
  Lightsail\";s:7:\"version\";s:10:\"2016-11-28\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:93:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/lightsail-2016-11-28.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:9:\"lightsail\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"amazonaws_lightsail\";s:4:\"type\";s:7:\"openapi\";}}"
host: lightsail.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":260:{s:21:\"AccessDeniedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"Lightsail
  throws this exception when the user cannot be authenticated or uses invalid credentials
  to access a resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}s:4:\"docs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}s:3:\"tip\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AccessDirection\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"inbound\";i:1;s:8:\"outbound\";}s:4:\"type\";s:6:\"string\";}s:31:\"AccountSetupInProgressException\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"Lightsail
  throws this exception when an account is still in the setup in progress state.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}s:4:\"docs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}s:3:\"tip\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"AllocateStaticIpRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"staticIpName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:34:\"The
  name of the static IP address.\";}}s:8:\"required\";a:1:{i:0;s:12:\"staticIpName\";}s:4:\"type\";s:6:\"object\";}s:22:\"AllocateStaticIpResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:93:\"An
  array of key-value pairs containing information about the static IP address you
  allocated.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"AttachDiskRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"diskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:60:\"The
  unique Lightsail disk name (e.g., <code>my-disk</code>).\";}s:8:\"diskPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:71:\"The
  disk path to expose to the instance (e.g., <code>/dev/xvdf</code>).\";}s:12:\"instanceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:78:\"The
  name of the Lightsail instance where you want to utilize the storage disk.\";}}s:8:\"required\";a:3:{i:0;s:8:\"diskName\";i:1;s:12:\"instanceName\";i:2;s:8:\"diskPath\";}s:4:\"type\";s:6:\"object\";}s:16:\"AttachDiskResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:40:\"An
  object describing the API operations.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"AttachInstancesToLoadBalancerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"instanceNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResourceNameList\";s:11:\"description\";s:382:\"<p>An
  array of strings representing the instance name(s) you want to attach to your load
  balancer.</p> <p>An instance must be <code>running</code> before you can attach
  it to your load balancer.</p> <p>There are no additional limits on the number of
  instances you can attach to your load balancer, aside from the limit of Lightsail
  instances you can create in your account (20).</p>\";}s:16:\"loadBalancerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:30:\"The
  name of the load balancer.\";}}s:8:\"required\";a:2:{i:0;s:16:\"loadBalancerName\";i:1;s:13:\"instanceNames\";}s:4:\"type\";s:6:\"object\";}s:35:\"AttachInstancesToLoadBalancerResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:42:\"An
  object representing the API operations.\";}}s:4:\"type\";s:6:\"object\";}s:39:\"AttachLoadBalancerTlsCertificateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"certificateName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:37:\"The
  name of your SSL/TLS certificate.\";}s:16:\"loadBalancerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:85:\"The
  name of the load balancer to which you want to associate the SSL/TLS certificate.\";}}s:8:\"required\";a:2:{i:0;s:16:\"loadBalancerName\";i:1;s:15:\"certificateName\";}s:4:\"type\";s:6:\"object\";}s:38:\"AttachLoadBalancerTlsCertificateResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:190:\"<p>An
  object representing the API operations.</p> <p>These SSL/TLS certificates are only
  usable by Lightsail load balancers. You can't get the certificate and use it for
  another purpose.</p>\";}}s:4:\"type\";s:6:\"object\";}s:21:\"AttachStaticIpRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"instanceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:68:\"The
  instance name to which you want to attach the static IP address.\";}s:12:\"staticIpName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:26:\"The
  name of the static IP.\";}}s:8:\"required\";a:2:{i:0;s:12:\"staticIpName\";i:1;s:12:\"instanceName\";}s:4:\"type\";s:6:\"object\";}s:20:\"AttachStaticIpResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:77:\"An
  array of key-value pairs containing information about your API operations.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AttachedDiskMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DiskMapList\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:16:\"AvailabilityZone\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Describes
  an Availability Zone.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:35:\"The
  state of the Availability Zone.\";}s:8:\"zoneName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:90:\"The
  name of the Availability Zone. The format is <code>us-east-2a</code> (case-sensitive).\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AvailabilityZoneList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AvailabilityZone\";}s:4:\"type\";s:5:\"array\";}s:6:\"Base64\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Blueprint\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Describes
  a blueprint (a virtual private server image).\";s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"blueprintId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:112:\"The
  ID for the virtual private server image (e.g., <code>app_wordpress_4_4</code> or
  <code>app_lamp_7_0</code>).\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:33:\"The
  description of the blueprint.\";}s:5:\"group\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:66:\"The
  group name of the blueprint (e.g., <code>amazon-linux</code>).\";}s:8:\"isActive\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:169:\"A
  Boolean value indicating whether the blueprint is active. When you update your blueprints,
  you will inactivate old blueprints and keep the most recent versions active.\";}s:10:\"licenseUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:62:\"The
  end-user license agreement URL for the image or blueprint.\";}s:8:\"minPower\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/integer\";s:11:\"description\";s:273:\"The
  minimum bundle power required to run this blueprint. For example, you need a bundle
  with a power value of 500 or more to create an instance that uses a blueprint with
  a minimum power value of 500. <code>0</code> indicates that the blueprint runs on
  all instance sizes. \";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:69:\"The
  friendly name of the blueprint (e.g., <code>Amazon Linux</code>).\";}s:8:\"platform\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InstancePlatform\";s:11:\"description\";s:97:\"The
  operating system platform (either Linux/Unix-based or Windows Server-based) of the
  blueprint.\";}s:10:\"productUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:59:\"The
  product URL to learn more about the image or blueprint.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BlueprintType\";s:11:\"description\";s:70:\"The
  type of the blueprint (e.g., <code>os</code> or <code>app</code>).\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:97:\"The
  version number of the operating system, application, or stack (e.g., <code>2016.03.0</code>).\";}s:11:\"versionCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:17:\"The
  version code.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"BlueprintList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Blueprint\";}s:4:\"type\";s:5:\"array\";}s:13:\"BlueprintType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:2:\"os\";i:1;s:3:\"app\";}s:4:\"type\";s:6:\"string\";}s:6:\"Bundle\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"Describes
  a bundle, which is a set of specs describing your virtual private server (or <i>instance</i>).\";s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"bundleId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:45:\"The
  bundle ID (e.g., <code>micro_1_0</code>).\";}s:8:\"cpuCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/integer\";s:11:\"description\";s:66:\"The
  number of vCPUs included in the bundle (e.g., <code>2</code>).\";}s:12:\"diskSizeInGb\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/integer\";s:11:\"description\";s:44:\"The
  size of the SSD (e.g., <code>30</code>).\";}s:12:\"instanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:59:\"The
  Amazon EC2 instance type (e.g., <code>t2.micro</code>).\";}s:8:\"isActive\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:56:\"A
  Boolean value indicating whether the bundle is active.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:58:\"A
  friendly name for the bundle (e.g., <code>Micro</code>).\";}s:5:\"power\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/integer\";s:11:\"description\";s:375:\"A
  numeric value that represents the power of the bundle (e.g., <code>500</code>).
  You can use the bundle's power value in conjunction with a blueprint's minimum power
  value to determine whether the blueprint will run on the bundle. For example, you
  need a bundle with a power value of 500 or more to create an instance that uses
  a blueprint with a minimum power value of 500.\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/float\";s:11:\"description\";s:49:\"The
  price in US dollars (e.g., <code>5.0</code>).\";}s:11:\"ramSizeInGb\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/float\";s:11:\"description\";s:49:\"The
  amount of RAM in GB (e.g., <code>2.0</code>).\";}s:18:\"supportedPlatforms\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/InstancePlatformList\";s:11:\"description\";s:289:\"The
  operating system platform (Linux/Unix-based or Windows Server-based) that the bundle
  supports. You can only launch a <code>WINDOWS</code> bundle on a blueprint that
  supports the <code>WINDOWS</code> platform. <code>LINUX_UNIX</code> blueprints require
  a <code>LINUX_UNIX</code> bundle.\";}s:20:\"transferPerMonthInGb\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/integer\";s:11:\"description\";s:65:\"The
  data transfer rate per month in GB (e.g., <code>2000</code>).\";}}s:4:\"type\";s:6:\"object\";}s:10:\"BundleList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Bundle\";}s:4:\"type\";s:5:\"array\";}s:31:\"CloseInstancePublicPortsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"instanceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:78:\"The
  name of the instance on which you're attempting to close the public ports.\";}s:8:\"portInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PortInfo\";s:11:\"description\";s:58:\"Information
  about the public port you are trying to close.\";}}s:8:\"required\";a:2:{i:0;s:8:\"portInfo\";i:1;s:12:\"instanceName\";}s:4:\"type\";s:6:\"object\";}s:30:\"CloseInstancePublicPortsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";s:11:\"description\";s:74:\"An
  array of key-value pairs that contains information about the operation.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"CreateDiskFromSnapshotRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"availabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:297:\"<p>The
  Availability Zone where you want to create the disk (e.g., <code>us-east-2a</code>).
  Choose the same Availability Zone as the Lightsail instance where you want to create
  the disk.</p> <p>Use the GetRegions operation to list the Availability Zones where
  Lightsail is currently available.</p>\";}s:8:\"diskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:60:\"The
  unique Lightsail disk name (e.g., <code>my-disk</code>).\";}s:16:\"diskSnapshotName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:105:\"The
  name of the disk snapshot (e.g., <code>my-snapshot</code>) from which to create
  the new storage disk.\";}s:8:\"sizeInGb\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/integer\";s:11:\"description\";s:51:\"The
  size of the disk in GB (e.g., <code>32</code>).\";}}s:8:\"required\";a:4:{i:0;s:8:\"diskName\";i:1;s:16:\"diskSnapshotName\";i:2;s:16:\"availabilityZone\";i:3;s:8:\"sizeInGb\";}s:4:\"type\";s:6:\"object\";}s:28:\"CreateDiskFromSnapshotResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:40:\"An
  object describing the API operations.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CreateDiskRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"availabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:297:\"<p>The
  Availability Zone where you want to create the disk (e.g., <code>us-east-2a</code>).
  Choose the same Availability Zone as the Lightsail instance where you want to create
  the disk.</p> <p>Use the GetRegions operation to list the Availability Zones where
  Lightsail is currently available.</p>\";}s:8:\"diskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:60:\"The
  unique Lightsail disk name (e.g., <code>my-disk</code>).\";}s:8:\"sizeInGb\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/integer\";s:11:\"description\";s:51:\"The
  size of the disk in GB (e.g., <code>32</code>).\";}}s:8:\"required\";a:3:{i:0;s:8:\"diskName\";i:1;s:16:\"availabilityZone\";i:2;s:8:\"sizeInGb\";}s:4:\"type\";s:6:\"object\";}s:16:\"CreateDiskResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:40:\"An
  object describing the API operations.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CreateDiskSnapshotRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"diskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:71:\"The
  unique name of the source disk (e.g., <code>my-source-disk</code>).\";}s:16:\"diskSnapshotName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:105:\"The
  name of the destination disk snapshot (e.g., <code>my-disk-snapshot</code>) based
  on the source disk.\";}}s:8:\"required\";a:2:{i:0;s:8:\"diskName\";i:1;s:16:\"diskSnapshotName\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateDiskSnapshotResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:40:\"An
  object describing the API operations.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CreateDomainEntryRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"domainEntry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DomainEntry\";s:11:\"description\";s:82:\"An
  array of key-value pairs containing information about the domain entry request.\";}s:10:\"domainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:95:\"The
  domain name (e.g., <code>example.com</code>) for which you want to create the domain
  entry.\";}}s:8:\"required\";a:2:{i:0;s:10:\"domainName\";i:1;s:11:\"domainEntry\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreateDomainEntryResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";s:11:\"description\";s:71:\"An
  array of key-value pairs containing information about the operation.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateDomainRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"domainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:359:\"<p>The
  domain name to manage (e.g., <code>example.com</code>).</p> <note> <p>You cannot
  register a new domain name using Lightsail. You must register a domain name using
  Amazon Route 53 or another domain name registrar. If you have already registered
  your domain, you can enter its name in this parameter to manage the DNS records
  for that domain.</p> </note>\";}}s:8:\"required\";a:1:{i:0;s:10:\"domainName\";}s:4:\"type\";s:6:\"object\";}s:18:\"CreateDomainResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";s:11:\"description\";s:89:\"An
  array of key-value pairs containing information about the domain resource you created.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"CreateInstanceSnapshotRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"instanceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:54:\"The
  Lightsail instance on which to base your snapshot.\";}s:20:\"instanceSnapshotName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:31:\"The
  name for your new snapshot.\";}}s:8:\"required\";a:2:{i:0;s:20:\"instanceSnapshotName\";i:1;s:12:\"instanceName\";}s:4:\"type\";s:6:\"object\";}s:28:\"CreateInstanceSnapshotResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:111:\"An
  array of key-value pairs containing information about the results of your create
  instances snapshot request.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"CreateInstancesFromSnapshotRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:19:\"attachedDiskMapping\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AttachedDiskMap\";s:11:\"description\";s:65:\"An
  object containing information about one or more disk mappings.\";}s:16:\"availabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:393:\"The
  Availability Zone where you want to create your instances. Use the following formatting:
  <code>us-east-2a</code> (case sensitive). You can get a list of availability zones
  by using the <a href=\"http://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/API_GetRegions.html\">get
  regions</a> operation. Be sure to add the <code>include availability zones</code>
  parameter to your request.\";}s:8:\"bundleId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:152:\"The
  bundle of specification information for your virtual private server (or <i>instance</i>),
  including the pricing plan (e.g., <code>micro_1_0</code>).\";}s:13:\"instanceNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:33:\"The
  names for your new instances.\";}s:20:\"instanceSnapshotName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:171:\"The
  name of the instance snapshot on which you are basing your new instances. Use the
  get instance snapshots operation to return information about your existing snapshots.\";}s:11:\"keyPairName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:27:\"The
  name for your key pair.\";}s:8:\"userData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:515:\"<p>You
  can create a launch script that configures a server with additional user data. For
  example, <code>apt-get -y update</code>.</p> <note> <p>Depending on the machine
  image you choose, the command to get software on your instance varies. Amazon Linux
  and CentOS use <code>yum</code>, Debian and Ubuntu use <code>apt-get</code>, and
  FreeBSD uses <code>pkg</code>. For a complete list, see the <a href=\"http://lightsail.aws.amazon.com/ls/docs/getting-started/articles/pre-installed-apps\">Dev
  Guide</a>.</p> </note>\";}}s:8:\"required\";a:4:{i:0;s:13:\"instanceNames\";i:1;s:16:\"availabilityZone\";i:2;s:20:\"instanceSnapshotName\";i:3;s:8:\"bundleId\";}s:4:\"type\";s:6:\"object\";}s:33:\"CreateInstancesFromSnapshotResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:116:\"An
  array of key-value pairs containing information about the results of your create
  instances from snapshot request.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CreateInstancesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"availabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:382:\"The
  Availability Zone in which to create your instance. Use the following format: <code>us-east-2a</code>
  (case sensitive). You can get a list of availability zones by using the <a href=\"http://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/API_GetRegions.html\">get
  regions</a> operation. Be sure to add the <code>include availability zones</code>
  parameter to your request.\";}s:11:\"blueprintId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:204:\"The
  ID for a virtual private server image (e.g., <code>app_wordpress_4_4</code> or <code>app_lamp_7_0</code>).
  Use the get blueprints operation to return a list of available images (or <i>blueprints</i>).\";}s:8:\"bundleId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:152:\"The
  bundle of specification information for your virtual private server (or <i>instance</i>),
  including the pricing plan (e.g., <code>micro_1_0</code>).\";}s:15:\"customImageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:170:\"<p>(Deprecated)
  The name for your custom image.</p> <note> <p>In releases prior to June 12, 2017,
  this parameter was ignored by the API. It is now deprecated.</p> </note>\";}s:13:\"instanceNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:175:\"The
  names to use for your new Lightsail instances. Separate multiple values using quotation
  marks and commas, for example: <code>[\"MyFirstInstance\",\"MySecondInstance\"]</code>
  \";}s:11:\"keyPairName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:26:\"The
  name of your key pair.\";}s:8:\"userData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:566:\"<p>A
  launch script you can create that configures a server with additional user data.
  For example, you might want to run <code>apt-get -y update</code>.</p> <note> <p>Depending
  on the machine image you choose, the command to get software on your instance varies.
  Amazon Linux and CentOS use <code>yum</code>, Debian and Ubuntu use <code>apt-get</code>,
  and FreeBSD uses <code>pkg</code>. For a complete list, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/getting-started/article/compare-options-choose-lightsail-instance-image\">Dev
  Guide</a>.</p> </note>\";}}s:8:\"required\";a:4:{i:0;s:13:\"instanceNames\";i:1;s:16:\"availabilityZone\";i:2;s:11:\"blueprintId\";i:3;s:8:\"bundleId\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreateInstancesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:102:\"An
  array of key-value pairs containing information about the results of your create
  instances request.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CreateKeyPairRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"keyPairName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:31:\"The
  name for your new key pair.\";}}s:8:\"required\";a:1:{i:0;s:11:\"keyPairName\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateKeyPairResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"keyPair\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/KeyPair\";s:11:\"description\";s:91:\"An
  array of key-value pairs containing information about the new key pair you just
  created.\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";s:11:\"description\";s:101:\"An
  array of key-value pairs containing information about the results of your create
  key pair request.\";}s:16:\"privateKeyBase64\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Base64\";s:11:\"description\";s:33:\"A
  base64-encoded RSA private key.\";}s:15:\"publicKeyBase64\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Base64\";s:11:\"description\";s:61:\"A
  base64-encoded public key of the <code>ssh-rsa</code> type.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CreateLoadBalancerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:27:\"certificateAlternativeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DomainNameList\";s:11:\"description\";s:207:\"The
  optional alternative domains and subdomains to use with your SSL/TLS certificate
  (e.g., <code>www.example.com</code>, <code>example.com</code>, <code>m.example.com</code>,
  <code>blog.example.com</code>).\";}s:21:\"certificateDomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:220:\"<p>The
  domain name with which your certificate is associated (e.g., <code>example.com</code>).</p>
  <p>If you specify <code>certificateDomainName</code>, then <code>certificateName</code>
  is required (and vice-versa).</p>\";}s:15:\"certificateName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:165:\"<p>The
  name of the SSL/TLS certificate.</p> <p>If you specify <code>certificateName</code>,
  then <code>certificateDomainName</code> is required (and vice-versa).</p>\";}s:15:\"healthCheckPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:356:\"<p>The
  path you provided to perform the load balancer health check. If you didn't specify
  a health check path, Lightsail uses the root path of your website (e.g., <code>\"/\"</code>).</p>
  <p>You may want to specify a custom health check path other than the root of your
  application if your home page loads slowly or has a lot of media or scripting on
  it.</p>\";}s:12:\"instancePort\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Port\";s:11:\"description\";s:59:\"The
  instance port where you're creating your load balancer.\";}s:16:\"loadBalancerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:31:\"The
  name of your load balancer.\";}}s:8:\"required\";a:2:{i:0;s:16:\"loadBalancerName\";i:1;s:12:\"instancePort\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateLoadBalancerResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:58:\"An
  object containing information about the API operations.\";}}s:4:\"type\";s:6:\"object\";}s:39:\"CreateLoadBalancerTlsCertificateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:27:\"certificateAlternativeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DomainNameList\";s:11:\"description\";s:283:\"An
  array of strings listing alternative domains and subdomains for your SSL/TLS certificate.
  Lightsail will de-dupe the names for you. You can have a maximum of 9 alternative
  names (in addition to the 1 primary domain). We do not support wildcards (e.g.,
  <code>*.example.com</code>).\";}s:21:\"certificateDomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:78:\"The
  domain name (e.g., <code>example.com</code>) for your SSL/TLS certificate.\";}s:15:\"certificateName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:410:\"<p>The
  SSL/TLS certificate name.</p> <p>You can have up to 10 certificates in your account
  at one time. Each Lightsail load balancer can have up to 2 certificates associated
  with it at one time. There is also an overall limit to the number of certificates
  that can be issue in a 365-day period. For more information, see <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/acm-limits.html\">Limits</a>.</p>\";}s:16:\"loadBalancerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:72:\"The
  load balancer name where you want to create the SSL/TLS certificate.\";}}s:8:\"required\";a:3:{i:0;s:16:\"loadBalancerName\";i:1;s:15:\"certificateName\";i:2;s:21:\"certificateDomainName\";}s:4:\"type\";s:6:\"object\";}s:38:\"CreateLoadBalancerTlsCertificateResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:58:\"An
  object containing information about the API operations.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteDiskRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"diskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:76:\"The
  unique name of the disk you want to delete (e.g., <code>my-disk</code>).\";}}s:8:\"required\";a:1:{i:0;s:8:\"diskName\";}s:4:\"type\";s:6:\"object\";}s:16:\"DeleteDiskResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:40:\"An
  object describing the API operations.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteDiskSnapshotRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"diskSnapshotName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:87:\"The
  name of the disk snapshot you want to delete (e.g., <code>my-disk-snapshot</code>).\";}}s:8:\"required\";a:1:{i:0;s:16:\"diskSnapshotName\";}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteDiskSnapshotResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:40:\"An
  object describing the API operations.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteDomainEntryRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"domainEntry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DomainEntry\";s:11:\"description\";s:77:\"An
  array of key-value pairs containing information about your domain entries.\";}s:10:\"domainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:39:\"The
  name of the domain entry to delete.\";}}s:8:\"required\";a:2:{i:0;s:10:\"domainName\";i:1;s:11:\"domainEntry\";}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteDomainEntryResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";s:11:\"description\";s:105:\"An
  array of key-value pairs containing information about the results of your delete
  domain entry request.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteDomainRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"domainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:35:\"The
  specific domain name to delete.\";}}s:8:\"required\";a:1:{i:0;s:10:\"domainName\";}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteDomainResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";s:11:\"description\";s:99:\"An
  array of key-value pairs containing information about the results of your delete
  domain request.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteInstanceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"instanceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the instance to delete.\";}}s:8:\"required\";a:1:{i:0;s:12:\"instanceName\";}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteInstanceResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:101:\"An
  array of key-value pairs containing information about the results of your delete
  instance request.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteInstanceSnapshotRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"instanceSnapshotName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the snapshot to delete.\";}}s:8:\"required\";a:1:{i:0;s:20:\"instanceSnapshotName\";}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteInstanceSnapshotResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:110:\"An
  array of key-value pairs containing information about the results of your delete
  instance snapshot request.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteKeyPairRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"keyPairName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the key pair to delete.\";}}s:8:\"required\";a:1:{i:0;s:11:\"keyPairName\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteKeyPairResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";s:11:\"description\";s:101:\"An
  array of key-value pairs containing information about the results of your delete
  key pair request.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteLoadBalancerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"loadBalancerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:49:\"The
  name of the load balancer you want to delete.\";}}s:8:\"required\";a:1:{i:0;s:16:\"loadBalancerName\";}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteLoadBalancerResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:40:\"An
  object describing the API operations.\";}}s:4:\"type\";s:6:\"object\";}s:39:\"DeleteLoadBalancerTlsCertificateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"certificateName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:29:\"The
  SSL/TLS certificate name.\";}s:5:\"force\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:310:\"<p>When
  <code>true</code>, forces the deletion of an SSL/TLS certificate.</p> <p>There can
  be two certificates associated with a Lightsail load balancer: the primary and the
  backup. The force parameter is required when the primary SSL/TLS certificate is
  in use by an instance attached to the load balancer.</p>\";}s:16:\"loadBalancerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:23:\"The
  load balancer name.\";}}s:8:\"required\";a:2:{i:0;s:16:\"loadBalancerName\";i:1;s:15:\"certificateName\";}s:4:\"type\";s:6:\"object\";}s:38:\"DeleteLoadBalancerTlsCertificateResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:40:\"An
  object describing the API operations.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DetachDiskRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"diskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:95:\"The
  unique name of the disk you want to detach from your instance (e.g., <code>my-disk</code>).\";}}s:8:\"required\";a:1:{i:0;s:8:\"diskName\";}s:4:\"type\";s:6:\"object\";}s:16:\"DetachDiskResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:40:\"An
  object describing the API operations.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"DetachInstancesFromLoadBalancerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"instanceNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResourceNameList\";s:11:\"description\";s:100:\"An
  array of strings containing the names of the instances you want to detach from the
  load balancer.\";}s:16:\"loadBalancerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:40:\"The
  name of the Lightsail load balancer.\";}}s:8:\"required\";a:2:{i:0;s:16:\"loadBalancerName\";i:1;s:13:\"instanceNames\";}s:4:\"type\";s:6:\"object\";}s:37:\"DetachInstancesFromLoadBalancerResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:40:\"An
  object describing the API operations.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DetachStaticIpRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"staticIpName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:54:\"The
  name of the static IP to detach from the instance.\";}}s:8:\"required\";a:1:{i:0;s:12:\"staticIpName\";}s:4:\"type\";s:6:\"object\";}s:20:\"DetachStaticIpResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:102:\"An
  array of key-value pairs containing information about the results of your detach
  static IP request.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Disk\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Describes
  a system disk or an block storage disk.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:43:\"The
  Amazon Resource Name (ARN) of the disk.\";}s:10:\"attachedTo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:44:\"The
  resources to which the disk is attached.\";}s:15:\"attachmentState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:294:\"<p>(Deprecated)
  The attachment state of the disk.</p> <note> <p>In releases prior to November 14,
  2017, this parameter returned <code>attached</code> for system disks in the API
  response. It is now deprecated, but still included in the response. Use <code>isAttached</code>
  instead.</p> </note>\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/IsoDate\";s:11:\"description\";s:35:\"The
  date when the disk was created.\";}s:7:\"gbInUse\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/integer\";s:11:\"description\";s:193:\"<p>(Deprecated)
  The number of GB in use by the disk.</p> <note> <p>In releases prior to November
  14, 2017, this parameter was not included in the API response. It is now deprecated.</p>
  </note>\";}s:4:\"iops\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/integer\";s:11:\"description\";s:58:\"The
  input/output operations per second (IOPS) of the disk.\";}s:10:\"isAttached\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:56:\"A
  Boolean value indicating whether the disk is attached.\";}s:12:\"isSystemDisk\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:101:\"A
  Boolean value indicating whether this disk is a system disk (has an operating system
  loaded on it).\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResourceLocation\";s:11:\"description\";s:63:\"The
  AWS Region and Availability Zone where the disk is located.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:28:\"The
  unique name of the disk.\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:14:\"The
  disk path.\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceType\";s:11:\"description\";s:54:\"The
  Lightsail resource type (e.g., <code>Disk</code>).\";}s:8:\"sizeInGb\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/integer\";s:11:\"description\";s:27:\"The
  size of the disk in GB.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DiskState\";s:11:\"description\";s:33:\"Describes
  the status of the disk.\";}s:11:\"supportCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:222:\"The
  support code. Include this code in your email to support when you have questions
  about an instance or another resource in Lightsail. This code enables our support
  team to look up your Lightsail information more easily.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"DiskList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Disk\";}s:4:\"type\";s:5:\"array\";}s:7:\"DiskMap\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Describes
  a block storage disk mapping.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"newDiskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:51:\"The
  new disk name (e.g., <code>my-new-disk</code>).\";}s:16:\"originalDiskPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:84:\"The
  original disk path exposed to the instance (for example, <code>/dev/sdh</code>).\";}}s:4:\"type\";s:6:\"object\";}s:11:\"DiskMapList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/DiskMap\";}s:4:\"type\";s:5:\"array\";}s:12:\"DiskSnapshot\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Describes
  a block storage disk snapshot.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:52:\"The
  Amazon Resource Name (ARN) of the disk snapshot.\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/IsoDate\";s:11:\"description\";s:44:\"The
  date when the disk snapshot was created.\";}s:11:\"fromDiskArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:96:\"The
  Amazon Resource Name (ARN) of the source disk from which you are creating the disk
  snapshot.\";}s:12:\"fromDiskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:81:\"The
  unique name of the source disk from which you are creating the disk snapshot.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResourceLocation\";s:11:\"description\";s:73:\"The
  AWS Region and Availability Zone where the disk snapshot was created.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:68:\"The
  name of the disk snapshot (e.g., <code>my-disk-snapshot</code>).\";}s:8:\"progress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:44:\"The
  progress of the disk snapshot operation.\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceType\";s:11:\"description\";s:62:\"The
  Lightsail resource type (e.g., <code>DiskSnapshot</code>).\";}s:8:\"sizeInGb\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/integer\";s:11:\"description\";s:27:\"The
  size of the disk in GB.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DiskSnapshotState\";s:11:\"description\";s:42:\"The
  status of the disk snapshot operation.\";}s:11:\"supportCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:222:\"The
  support code. Include this code in your email to support when you have questions
  about an instance or another resource in Lightsail. This code enables our support
  team to look up your Lightsail information more easily.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DiskSnapshotList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DiskSnapshot\";}s:4:\"type\";s:5:\"array\";}s:17:\"DiskSnapshotState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:7:\"pending\";i:1;s:9:\"completed\";i:2;s:5:\"error\";i:3;s:7:\"unknown\";}s:4:\"type\";s:6:\"string\";}s:9:\"DiskState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:7:\"pending\";i:1;s:5:\"error\";i:2;s:9:\"available\";i:3;s:6:\"in-use\";i:4;s:7:\"unknown\";}s:4:\"type\";s:6:\"string\";}s:6:\"Domain\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Describes
  a domain where you are storing recordsets in Lightsail.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:158:\"The
  Amazon Resource Name (ARN) of the domain recordset (e.g., <code>arn:aws:lightsail:global:123456789101:Domain/824cede0-abc7-4f84-8dbc-12345EXAMPLE</code>).\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/IsoDate\";s:11:\"description\";s:47:\"The
  date when the domain recordset was created.\";}s:13:\"domainEntries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DomainEntryList\";s:11:\"description\";s:76:\"An
  array of key-value pairs containing information about the domain entries.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResourceLocation\";s:11:\"description\";s:77:\"The
  AWS Region and Availability Zones where the domain recordset was created.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:23:\"The
  name of the domain.\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceType\";s:11:\"description\";s:19:\"The
  resource type. \";}s:11:\"supportCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:222:\"The
  support code. Include this code in your email to support when you have questions
  about an instance or another resource in Lightsail. This code enables our support
  team to look up your Lightsail information more easily.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"DomainEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Describes
  a domain recordset entry.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:37:\"The
  ID of the domain recordset entry.\";}s:7:\"isAlias\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:247:\"When
  <code>true</code>, specifies whether the domain entry is an alias used by the Lightsail
  load balancer. You can include an alias (A type) record in your request, which points
  to a load balancer DNS name and routes traffic to your load balancer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:23:\"The
  name of the domain.\";}s:7:\"options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DomainEntryOptions\";s:11:\"description\";s:190:\"<p>(Deprecated)
  The options for the domain entry.</p> <note> <p>In releases prior to November 29,
  2017, this parameter was not included in the API response. It is now deprecated.</p>
  </note>\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:331:\"<p>The
  target AWS name server (e.g., <code>ns-111.awsdns-22.com.</code>).</p> <p>For Lightsail
  load balancers, the value looks like <code>ab1234c56789c6b86aba6fb203d443bc-123456789.us-east-2.elb.amazonaws.com</code>.
  Be sure to also set <code>isAlias</code> to <code>true</code> when setting up an
  A record for a load balancer.</p>\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DomainEntryType\";s:11:\"description\";s:69:\"The
  type of domain entry (e.g., <code>SOA</code> or <code>NS</code>).\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DomainEntryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DomainEntry\";}s:4:\"type\";s:5:\"array\";}s:18:\"DomainEntryOptions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DomainEntryOptionsKeys\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:22:\"DomainEntryOptionsKeys\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"DomainEntryType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"DomainList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Domain\";}s:4:\"type\";s:5:\"array\";}s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"DomainNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}s:4:\"type\";s:5:\"array\";}s:29:\"DownloadDefaultKeyPairRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"DownloadDefaultKeyPairResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"privateKeyBase64\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Base64\";s:11:\"description\";s:33:\"A
  base64-encoded RSA private key.\";}s:15:\"publicKeyBase64\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Base64\";s:11:\"description\";s:61:\"A
  base64-encoded public key of the <code>ssh-rsa</code> type.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"GetActiveNamesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"pageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:71:\"A
  token used for paginating results from your get active names request.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GetActiveNamesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"activeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:66:\"The
  list of active names returned by the get active names request.\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:90:\"A
  token used for advancing to the next page of results from your get active names
  request.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GetBlueprintsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"includeInactive\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:79:\"A
  Boolean value indicating whether to include inactive results in your request.\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:88:\"A
  token used for advancing to the next page of results from your get blueprints request.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetBlueprintsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"blueprints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BlueprintList\";s:11:\"description\";s:85:\"An
  array of key-value pairs that contains information about the available blueprints.\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:88:\"A
  token used for advancing to the next page of results from your get blueprints request.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GetBundlesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"includeInactive\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:90:\"A
  Boolean value that indicates whether to include inactive bundle results in your
  request.\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:85:\"A
  token used for advancing to the next page of results from your get bundles request.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GetBundlesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"bundles\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BundleList\";s:11:\"description\";s:82:\"An
  array of key-value pairs that contains information about the available bundles.\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:90:\"A
  token used for advancing to the next page of results from your get active names
  request.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"GetDiskRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"diskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:50:\"The
  name of the disk (e.g., <code>my-disk</code>).\";}}s:8:\"required\";a:1:{i:0;s:8:\"diskName\";}s:4:\"type\";s:6:\"object\";}s:13:\"GetDiskResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"disk\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Disk\";s:11:\"description\";s:48:\"An
  object containing information about the disk.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GetDiskSnapshotRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"diskSnapshotName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:68:\"The
  name of the disk snapshot (e.g., <code>my-disk-snapshot</code>).\";}}s:8:\"required\";a:1:{i:0;s:16:\"diskSnapshotName\";}s:4:\"type\";s:6:\"object\";}s:21:\"GetDiskSnapshotResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"diskSnapshot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DiskSnapshot\";s:11:\"description\";s:57:\"An
  object containing information about the disk snapshot.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"GetDiskSnapshotsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"pageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:90:\"A
  token used for advancing to the next page of results from your GetDiskSnapshots
  request.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GetDiskSnapshotsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"diskSnapshots\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DiskSnapshotList\";s:11:\"description\";s:82:\"An
  array of objects containing information about all block storage disk snapshots.\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:90:\"A
  token used for advancing to the next page of results from your GetDiskSnapshots
  request.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"GetDisksRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"pageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:82:\"A
  token used for advancing to the next page of results from your GetDisks request.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"GetDisksResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"disks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DiskList\";s:11:\"description\";s:73:\"An
  array of objects containing information about all block storage disks.\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:82:\"A
  token used for advancing to the next page of results from your GetDisks request.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GetDomainRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"domainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:64:\"The
  domain name for which your want to return information about.\";}}s:8:\"required\";a:1:{i:0;s:10:\"domainName\";}s:4:\"type\";s:6:\"object\";}s:15:\"GetDomainResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"domain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Domain\";s:11:\"description\";s:81:\"An
  array of key-value pairs containing information about your get domain request.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GetDomainsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"pageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:85:\"A
  token used for advancing to the next page of results from your get domains request.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GetDomainsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"domains\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainList\";s:11:\"description\";s:106:\"An
  array of key-value pairs containing information about each of the domain entries
  in the user's account.\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:90:\"A
  token used for advancing to the next page of results from your get active names
  request.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"GetInstanceAccessDetailsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"instanceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the instance to access.\";}s:8:\"protocol\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/InstanceAccessProtocol\";s:11:\"description\";s:78:\"The
  protocol to use to connect to your instance. Defaults to <code>ssh</code>.\";}}s:8:\"required\";a:1:{i:0;s:12:\"instanceName\";}s:4:\"type\";s:6:\"object\";}s:30:\"GetInstanceAccessDetailsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"accessDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/InstanceAccessDetails\";s:11:\"description\";s:87:\"An
  array of key-value pairs containing information about a get instance access request.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"GetInstanceMetricDataRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"endTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/timestamp\";s:11:\"description\";s:32:\"The
  end time of the time period.\";}s:12:\"instanceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:64:\"The
  name of the instance for which you want to get metrics data.\";}s:10:\"metricName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/InstanceMetricName\";s:11:\"description\";s:35:\"The
  metric name to get data about. \";}s:6:\"period\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/MetricPeriod\";s:11:\"description\";s:50:\"The
  time period for which you are requesting data.\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/timestamp\";s:11:\"description\";s:34:\"The
  start time of the time period.\";}s:10:\"statistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MetricStatisticList\";s:11:\"description\";s:25:\"The
  instance statistics. \";}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricUnit\";s:11:\"description\";s:44:\"The
  unit. The list of valid values is below.\";}}s:8:\"required\";a:7:{i:0;s:12:\"instanceName\";i:1;s:10:\"metricName\";i:2;s:6:\"period\";i:3;s:9:\"startTime\";i:4;s:7:\"endTime\";i:5;s:4:\"unit\";i:6;s:10:\"statistics\";}s:4:\"type\";s:6:\"object\";}s:27:\"GetInstanceMetricDataResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"metricData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MetricDatapointList\";s:11:\"description\";s:110:\"An
  array of key-value pairs containing information about the results of your get instance
  metric data request.\";}s:10:\"metricName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/InstanceMetricName\";s:11:\"description\";s:35:\"The
  metric name to return data for.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"GetInstancePortStatesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"instanceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:25:\"The
  name of the instance.\";}}s:8:\"required\";a:1:{i:0;s:12:\"instanceName\";}s:4:\"type\";s:6:\"object\";}s:27:\"GetInstancePortStatesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"portStates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/InstancePortStateList\";s:11:\"description\";s:62:\"Information
  about the port states resulting from your request.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetInstanceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"instanceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:25:\"The
  name of the instance.\";}}s:8:\"required\";a:1:{i:0;s:12:\"instanceName\";}s:4:\"type\";s:6:\"object\";}s:17:\"GetInstanceResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"instance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Instance\";s:11:\"description\";s:80:\"An
  array of key-value pairs containing information about the specified instance.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"GetInstanceSnapshotRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"instanceSnapshotName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:66:\"The
  name of the snapshot for which you are requesting information.\";}}s:8:\"required\";a:1:{i:0;s:20:\"instanceSnapshotName\";}s:4:\"type\";s:6:\"object\";}s:25:\"GetInstanceSnapshotResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"instanceSnapshot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InstanceSnapshot\";s:11:\"description\";s:107:\"An
  array of key-value pairs containing information about the results of your get instance
  snapshot request.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"GetInstanceSnapshotsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"pageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:96:\"A
  token used for advancing to the next page of results from your get instance snapshots
  request.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"GetInstanceSnapshotsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"instanceSnapshots\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/InstanceSnapshotList\";s:11:\"description\";s:108:\"An
  array of key-value pairs containing information about the results of your get instance
  snapshots request.\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:96:\"A
  token used for advancing to the next page of results from your get instance snapshots
  request.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"GetInstanceStateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"instanceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:56:\"The
  name of the instance to get state information about.\";}}s:8:\"required\";a:1:{i:0;s:12:\"instanceName\";}s:4:\"type\";s:6:\"object\";}s:22:\"GetInstanceStateResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/InstanceState\";s:11:\"description\";s:26:\"The
  state of the instance.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetInstancesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"pageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:87:\"A
  token used for advancing to the next page of results from your get instances request.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetInstancesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"instances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/InstanceList\";s:11:\"description\";s:72:\"An
  array of key-value pairs containing information about your instances.\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:87:\"A
  token used for advancing to the next page of results from your get instances request.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GetKeyPairRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"keyPairName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:66:\"The
  name of the key pair for which you are requesting information.\";}}s:8:\"required\";a:1:{i:0;s:11:\"keyPairName\";}s:4:\"type\";s:6:\"object\";}s:16:\"GetKeyPairResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"keyPair\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/KeyPair\";s:11:\"description\";s:70:\"An
  array of key-value pairs containing information about the key pair.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetKeyPairsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"pageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:87:\"A
  token used for advancing to the next page of results from your get key pairs request.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GetKeyPairsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"keyPairs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/KeyPairList\";s:11:\"description\";s:71:\"An
  array of key-value pairs containing information about the key pairs.\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:87:\"A
  token used for advancing to the next page of results from your get key pairs request.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"GetLoadBalancerMetricDataRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"endTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/timestamp\";s:11:\"description\";s:27:\"The
  end time of the period.\";}s:16:\"loadBalancerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:30:\"The
  name of the load balancer.\";}s:10:\"metricName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/LoadBalancerMetricName\";s:11:\"description\";s:4615:\"<p>The
  metric about which you want to return information. Valid values are listed below,
  along with the most useful <code>statistics</code> to include in your request.</p>
  <ul> <li> <p> <b> <code>ClientTLSNegotiationErrorCount</code> </b> - The number
  of TLS connections initiated by the client that did not establish a session with
  the load balancer. Possible causes include a mismatch of ciphers or protocols.</p>
  <p> <code>Statistics</code>: The most useful statistic is <code>Sum</code>.</p>
  </li> <li> <p> <b> <code>HealthyHostCount</code> </b> - The number of target instances
  that are considered healthy.</p> <p> <code>Statistics</code>: The most useful statistic
  are <code>Average</code>, <code>Minimum</code>, and <code>Maximum</code>.</p> </li>
  <li> <p> <b> <code>UnhealthyHostCount</code> </b> - The number of target instances
  that are considered unhealthy.</p> <p> <code>Statistics</code>: The most useful
  statistic are <code>Average</code>, <code>Minimum</code>, and <code>Maximum</code>.</p>
  </li> <li> <p> <b> <code>HTTPCode_LB_4XX_Count</code> </b> - The number of HTTP
  4XX client error codes that originate from the load balancer. Client errors are
  generated when requests are malformed or incomplete. These requests have not been
  received by the target instance. This count does not include any response codes
  generated by the target instances.</p> <p> <code>Statistics</code>: The most useful
  statistic is <code>Sum</code>. Note that <code>Minimum</code>, <code>Maximum</code>,
  and <code>Average</code> all return <code>1</code>.</p> </li> <li> <p> <b> <code>HTTPCode_LB_5XX_Count</code>
  </b> - The number of HTTP 5XX server error codes that originate from the load balancer.
  This count does not include any response codes generated by the target instances.</p>
  <p> <code>Statistics</code>: The most useful statistic is <code>Sum</code>. Note
  that <code>Minimum</code>, <code>Maximum</code>, and <code>Average</code> all return
  <code>1</code>. Note that <code>Minimum</code>, <code>Maximum</code>, and <code>Average</code>
  all return <code>1</code>.</p> </li> <li> <p> <b> <code>HTTPCode_Instance_2XX_Count</code>
  </b> - The number of HTTP response codes generated by the target instances. This
  does not include any response codes generated by the load balancer.</p> <p> <code>Statistics</code>:
  The most useful statistic is <code>Sum</code>. Note that <code>Minimum</code>, <code>Maximum</code>,
  and <code>Average</code> all return <code>1</code>.</p> </li> <li> <p> <b> <code>HTTPCode_Instance_3XX_Count</code>
  </b> - The number of HTTP response codes generated by the target instances. This
  does not include any response codes generated by the load balancer. </p> <p> <code>Statistics</code>:
  The most useful statistic is <code>Sum</code>. Note that <code>Minimum</code>, <code>Maximum</code>,
  and <code>Average</code> all return <code>1</code>.</p> </li> <li> <p> <b> <code>HTTPCode_Instance_4XX_Count</code>
  </b> - The number of HTTP response codes generated by the target instances. This
  does not include any response codes generated by the load balancer.</p> <p> <code>Statistics</code>:
  The most useful statistic is <code>Sum</code>. Note that <code>Minimum</code>, <code>Maximum</code>,
  and <code>Average</code> all return <code>1</code>.</p> </li> <li> <p> <b> <code>HTTPCode_Instance_5XX_Count</code>
  </b> - The number of HTTP response codes generated by the target instances. This
  does not include any response codes generated by the load balancer.</p> <p> <code>Statistics</code>:
  The most useful statistic is <code>Sum</code>. Note that <code>Minimum</code>, <code>Maximum</code>,
  and <code>Average</code> all return <code>1</code>.</p> </li> <li> <p> <b> <code>InstanceResponseTime</code>
  </b> - The time elapsed, in seconds, after the request leaves the load balancer
  until a response from the target instance is received.</p> <p> <code>Statistics</code>:
  The most useful statistic is <code>Average</code>.</p> </li> <li> <p> <b> <code>RejectedConnectionCount</code>
  </b> - The number of connections that were rejected because the load balancer had
  reached its maximum number of connections.</p> <p> <code>Statistics</code>: The
  most useful statistic is <code>Sum</code>.</p> </li> <li> <p> <b> <code>RequestCount</code>
  </b> - The number of requests processed over IPv4. This count includes only the
  requests with a response generated by a target instance of the load balancer.</p>
  <p> <code>Statistics</code>: The most useful statistic is <code>Sum</code>. Note
  that <code>Minimum</code>, <code>Maximum</code>, and <code>Average</code> all return
  <code>1</code>.</p> </li> </ul>\";}s:6:\"period\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/MetricPeriod\";s:11:\"description\";s:54:\"The
  time period duration for your health data request.\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/timestamp\";s:11:\"description\";s:29:\"The
  start time of the period.\";}s:10:\"statistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MetricStatisticList\";s:11:\"description\";s:1161:\"<p>An
  array of statistics that you want to request metrics for. Valid values are listed
  below.</p> <ul> <li> <p> <b> <code>SampleCount</code> </b> - The count (number)
  of data points used for the statistical calculation.</p> </li> <li> <p> <b> <code>Average</code>
  </b> - The value of Sum / SampleCount during the specified period. By comparing
  this statistic with the Minimum and Maximum, you can determine the full scope of
  a metric and how close the average use is to the Minimum and Maximum. This comparison
  helps you to know when to increase or decrease your resources as needed.</p> </li>
  <li> <p> <b> <code>Sum</code> </b> - All values submitted for the matching metric
  added together. This statistic can be useful for determining the total volume of
  a metric.</p> </li> <li> <p> <b> <code>Minimum</code> </b> - The lowest value observed
  during the specified period. You can use this value to determine low volumes of
  activity for your application.</p> </li> <li> <p> <b> <code>Maximum</code> </b>
  - The highest value observed during the specified period. You can use this value
  to determine high volumes of activity for your application.</p> </li> </ul>\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricUnit\";s:11:\"description\";s:68:\"The
  unit for the time period request. Valid values are listed below.\";}}s:8:\"required\";a:7:{i:0;s:16:\"loadBalancerName\";i:1;s:10:\"metricName\";i:2;s:6:\"period\";i:3;s:9:\"startTime\";i:4;s:7:\"endTime\";i:5;s:4:\"unit\";i:6;s:10:\"statistics\";}s:4:\"type\";s:6:\"object\";}s:31:\"GetLoadBalancerMetricDataResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"metricData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MetricDatapointList\";s:11:\"description\";s:37:\"An
  array of metric datapoint objects.\";}s:10:\"metricName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/LoadBalancerMetricName\";s:11:\"description\";s:4614:\"<p>The
  metric about which you are receiving information. Valid values are listed below,
  along with the most useful <code>statistics</code> to include in your request.</p>
  <ul> <li> <p> <b> <code>ClientTLSNegotiationErrorCount</code> </b> - The number
  of TLS connections initiated by the client that did not establish a session with
  the load balancer. Possible causes include a mismatch of ciphers or protocols.</p>
  <p> <code>Statistics</code>: The most useful statistic is <code>Sum</code>.</p>
  </li> <li> <p> <b> <code>HealthyHostCount</code> </b> - The number of target instances
  that are considered healthy.</p> <p> <code>Statistics</code>: The most useful statistic
  are <code>Average</code>, <code>Minimum</code>, and <code>Maximum</code>.</p> </li>
  <li> <p> <b> <code>UnhealthyHostCount</code> </b> - The number of target instances
  that are considered unhealthy.</p> <p> <code>Statistics</code>: The most useful
  statistic are <code>Average</code>, <code>Minimum</code>, and <code>Maximum</code>.</p>
  </li> <li> <p> <b> <code>HTTPCode_LB_4XX_Count</code> </b> - The number of HTTP
  4XX client error codes that originate from the load balancer. Client errors are
  generated when requests are malformed or incomplete. These requests have not been
  received by the target instance. This count does not include any response codes
  generated by the target instances.</p> <p> <code>Statistics</code>: The most useful
  statistic is <code>Sum</code>. Note that <code>Minimum</code>, <code>Maximum</code>,
  and <code>Average</code> all return <code>1</code>.</p> </li> <li> <p> <b> <code>HTTPCode_LB_5XX_Count</code>
  </b> - The number of HTTP 5XX server error codes that originate from the load balancer.
  This count does not include any response codes generated by the target instances.</p>
  <p> <code>Statistics</code>: The most useful statistic is <code>Sum</code>. Note
  that <code>Minimum</code>, <code>Maximum</code>, and <code>Average</code> all return
  <code>1</code>. Note that <code>Minimum</code>, <code>Maximum</code>, and <code>Average</code>
  all return <code>1</code>.</p> </li> <li> <p> <b> <code>HTTPCode_Instance_2XX_Count</code>
  </b> - The number of HTTP response codes generated by the target instances. This
  does not include any response codes generated by the load balancer.</p> <p> <code>Statistics</code>:
  The most useful statistic is <code>Sum</code>. Note that <code>Minimum</code>, <code>Maximum</code>,
  and <code>Average</code> all return <code>1</code>.</p> </li> <li> <p> <b> <code>HTTPCode_Instance_3XX_Count</code>
  </b> - The number of HTTP response codes generated by the target instances. This
  does not include any response codes generated by the load balancer. </p> <p> <code>Statistics</code>:
  The most useful statistic is <code>Sum</code>. Note that <code>Minimum</code>, <code>Maximum</code>,
  and <code>Average</code> all return <code>1</code>.</p> </li> <li> <p> <b> <code>HTTPCode_Instance_4XX_Count</code>
  </b> - The number of HTTP response codes generated by the target instances. This
  does not include any response codes generated by the load balancer.</p> <p> <code>Statistics</code>:
  The most useful statistic is <code>Sum</code>. Note that <code>Minimum</code>, <code>Maximum</code>,
  and <code>Average</code> all return <code>1</code>.</p> </li> <li> <p> <b> <code>HTTPCode_Instance_5XX_Count</code>
  </b> - The number of HTTP response codes generated by the target instances. This
  does not include any response codes generated by the load balancer.</p> <p> <code>Statistics</code>:
  The most useful statistic is <code>Sum</code>. Note that <code>Minimum</code>, <code>Maximum</code>,
  and <code>Average</code> all return <code>1</code>.</p> </li> <li> <p> <b> <code>InstanceResponseTime</code>
  </b> - The time elapsed, in seconds, after the request leaves the load balancer
  until a response from the target instance is received.</p> <p> <code>Statistics</code>:
  The most useful statistic is <code>Average</code>.</p> </li> <li> <p> <b> <code>RejectedConnectionCount</code>
  </b> - The number of connections that were rejected because the load balancer had
  reached its maximum number of connections.</p> <p> <code>Statistics</code>: The
  most useful statistic is <code>Sum</code>.</p> </li> <li> <p> <b> <code>RequestCount</code>
  </b> - The number of requests processed over IPv4. This count includes only the
  requests with a response generated by a target instance of the load balancer.</p>
  <p> <code>Statistics</code>: The most useful statistic is <code>Sum</code>. Note
  that <code>Minimum</code>, <code>Maximum</code>, and <code>Average</code> all return
  <code>1</code>.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GetLoadBalancerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"loadBalancerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:30:\"The
  name of the load balancer.\";}}s:8:\"required\";a:1:{i:0;s:16:\"loadBalancerName\";}s:4:\"type\";s:6:\"object\";}s:21:\"GetLoadBalancerResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"loadBalancer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LoadBalancer\";s:11:\"description\";s:58:\"An
  object containing information about your load balancer.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"GetLoadBalancerTlsCertificatesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"loadBalancerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:75:\"The
  name of the load balancer you associated with your SSL/TLS certificate.\";}}s:8:\"required\";a:1:{i:0;s:16:\"loadBalancerName\";}s:4:\"type\";s:6:\"object\";}s:36:\"GetLoadBalancerTlsCertificatesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"tlsCertificates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/LoadBalancerTlsCertificateList\";s:11:\"description\";s:84:\"An
  array of LoadBalancerTlsCertificate objects describing your SSL/TLS certificates.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"GetLoadBalancersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"pageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:75:\"A
  token used for paginating the results from your GetLoadBalancers request.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GetLoadBalancersResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"loadBalancers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/LoadBalancerList\";s:11:\"description\";s:64:\"An
  array of LoadBalancer objects describing your load balancers.\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:90:\"A
  token used for advancing to the next page of results from your GetLoadBalancers
  request.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetOperationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"operationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:38:\"A
  GUID used to identify the operation.\";}}s:8:\"required\";a:1:{i:0;s:11:\"operationId\";}s:4:\"type\";s:6:\"object\";}s:18:\"GetOperationResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";s:11:\"description\";s:99:\"An
  array of key-value pairs containing information about the results of your get operation
  request.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"GetOperationsForResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"pageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:101:\"A
  token used for advancing to the next page of results from your get operations for
  resource request.\";}s:12:\"resourceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:66:\"The
  name of the resource for which you are requesting information.\";}}s:8:\"required\";a:1:{i:0;s:12:\"resourceName\";}s:4:\"type\";s:6:\"object\";}s:30:\"GetOperationsForResourceResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"nextPageCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:275:\"<p>(Deprecated)
  Returns the number of pages of results that remain.</p> <note> <p>In releases prior
  to June 12, 2017, this parameter returned <code>null</code> by the API. It is now
  deprecated, and the API returns the <code>nextPageToken</code> parameter instead.</p>
  </note>\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:113:\"An
  array of key-value pairs containing information about the results of your get operations
  for resource request.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GetOperationsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"pageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:88:\"A
  token used for advancing to the next page of results from your get operations request.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetOperationsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:88:\"A
  token used for advancing to the next page of results from your get operations request.\";}s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OperationList\";s:11:\"description\";s:100:\"An
  array of key-value pairs containing information about the results of your get operations
  request.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GetRegionsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"includeAvailabilityZones\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:177:\"A
  Boolean value indicating whether to also include Availability Zones in your get
  regions request. Availability Zones are indicated with a letter: e.g., <code>us-east-2a</code>.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GetRegionsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"regions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegionList\";s:11:\"description\";s:82:\"An
  array of key-value pairs containing information about your get regions request.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetStaticIpRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"staticIpName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:39:\"The
  name of the static IP in Lightsail.\";}}s:8:\"required\";a:1:{i:0;s:12:\"staticIpName\";}s:4:\"type\";s:6:\"object\";}s:17:\"GetStaticIpResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"staticIp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/StaticIp\";s:11:\"description\";s:81:\"An
  array of key-value pairs containing information about the requested static IP.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetStaticIpsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"pageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:88:\"A
  token used for advancing to the next page of results from your get static IPs request.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetStaticIpsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:88:\"A
  token used for advancing to the next page of results from your get static IPs request.\";}s:9:\"staticIps\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StaticIpList\";s:11:\"description\";s:85:\"An
  array of key-value pairs containing information about your get static IPs request.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ImportKeyPairRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"keyPairName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:69:\"The
  name of the key pair for which you want to import the public key.\";}s:15:\"publicKeyBase64\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Base64\";s:11:\"description\";s:61:\"A
  base64-encoded public key of the <code>ssh-rsa</code> type.\";}}s:8:\"required\";a:2:{i:0;s:11:\"keyPairName\";i:1;s:15:\"publicKeyBase64\";}s:4:\"type\";s:6:\"object\";}s:19:\"ImportKeyPairResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";s:11:\"description\";s:79:\"An
  array of key-value pairs containing information about the request operation.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Instance\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Describes
  an instance (a virtual private server).\";s:10:\"properties\";O:8:\"stdClass\":18:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:155:\"The
  Amazon Resource Name (ARN) of the instance (e.g., <code>arn:aws:lightsail:us-east-2:123456789101:Instance/244ad76f-8aad-4741-809f-12345EXAMPLE</code>).\";}s:11:\"blueprintId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:57:\"The
  blueprint ID (e.g., <code>os_amlinux_2016_03</code>).\";}s:13:\"blueprintName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:69:\"The
  friendly name of the blueprint (e.g., <code>Amazon Linux</code>).\";}s:8:\"bundleId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:59:\"The
  bundle for the instance (e.g., <code>micro_1_0</code>).\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/IsoDate\";s:11:\"description\";s:79:\"The
  timestamp when the instance was created (e.g., <code>1479734909.17</code>).\";}s:8:\"hardware\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InstanceHardware\";s:11:\"description\";s:60:\"The
  size of the vCPU and the amount of RAM for the instance.\";}s:11:\"ipv6Address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/IpV6Address\";s:11:\"description\";s:33:\"The
  IPv6 address of the instance.\";}s:10:\"isStaticIp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:80:\"A
  Boolean value indicating whether this instance has a static IP assigned to it.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResourceLocation\";s:11:\"description\";s:68:\"The
  region name and availability zone where the instance is located.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:81:\"The
  name the user gave the instance (e.g., <code>Amazon_Linux-1GB-Ohio-1</code>).\";}s:10:\"networking\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/InstanceNetworking\";s:11:\"description\";s:84:\"Information
  about the public ports and monthly data transfer rates for the instance.\";}s:16:\"privateIpAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IpAddress\";s:11:\"description\";s:39:\"The
  private IP address of the instance.\";}s:15:\"publicIpAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IpAddress\";s:11:\"description\";s:38:\"The
  public IP address of the instance.\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceType\";s:11:\"description\";s:53:\"The
  type of resource (usually <code>Instance</code>).\";}s:10:\"sshKeyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:107:\"The
  name of the SSH key being used to connect to the instance (e.g., <code>LightsailDefaultKeyPair</code>).\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/InstanceState\";s:11:\"description\";s:76:\"The
  status code and the state (e.g., <code>running</code>) for the instance.\";}s:11:\"supportCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:222:\"The
  support code. Include this code in your email to support when you have questions
  about an instance or another resource in Lightsail. This code enables our support
  team to look up your Lightsail information more easily.\";}s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NonEmptyString\";s:11:\"description\";s:75:\"The
  user name for connecting to the instance (e.g., <code>ec2-user</code>).\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InstanceAccessDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  parameters for gaining temporary access to one of your Amazon Lightsail instances.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"certKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:173:\"For
  SSH access, the public key to use when accessing your instance For OpenSSH clients
  (e.g., command line SSH), you should save this value to <code>tempkey-cert.pub</code>.\";}s:9:\"expiresAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/IsoDate\";s:11:\"description\";s:60:\"For
  SSH access, the date on which the temporary keys expire.\";}s:12:\"instanceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:43:\"The
  name of this Amazon Lightsail instance.\";}s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IpAddress\";s:11:\"description\";s:55:\"The
  public IP address of the Amazon Lightsail instance.\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:689:\"<p>For
  RDP access, the password for your Amazon Lightsail instance. Password will be an
  empty string if the password for your new instance is not ready yet. When you create
  an instance, it can take up to 15 minutes for the instance to be ready.</p> <note>
  <p>If you create an instance using any key pair other than the default (<code>LightsailDefaultKeyPair</code>),
  <code>password</code> will always be an empty string.</p> <p>If you change the Administrator
  password on the instance, Lightsail will continue to return the original password
  value. When accessing the instance using RDP, you need to manually enter the Administrator
  password after changing it from the default.</p> </note>\";}s:12:\"passwordData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PasswordData\";s:11:\"description\";s:316:\"For
  a Windows Server-based instance, an object with the data you can use to retrieve
  your password. This is only needed if <code>password</code> is empty and the instance
  is not new (and therefore the password is not ready yet). When you create an instance,
  it can take up to 15 minutes for the instance to be ready.\";}s:10:\"privateKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:141:\"For
  SSH access, the temporary private key. For OpenSSH clients (e.g., command line SSH),
  you should save this value to <code>tempkey</code>).\";}s:8:\"protocol\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/InstanceAccessProtocol\";s:11:\"description\";s:64:\"The
  protocol for these Amazon Lightsail instance access details.\";}s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:70:\"The
[...]
