---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:31:\"Reads
  and writes Google Sheets.\";s:5:\"title\";s:13:\"Google Sheets\";s:7:\"version\";s:2:\"v4\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:56:\"https://sheets.googleapis.com/$discovery/rest?version=v4\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:6:\"sheets\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"google_sheets\";s:4:\"type\";s:7:\"openapi\";}}"
host: sheets.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":186:{s:17:\"AddBandingRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Adds
  a new banded range to the spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"bandedRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BandedRange\";s:11:\"description\";s:181:\"The
  banded range to add. The bandedRangeId\nfield is optional; if one is not set, an
  id will be randomly generated. (It\nis an error to specify the ID of a range that
  already exists.)\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AddBandingResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  result of adding a banded range.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"bandedRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BandedRange\";s:11:\"description\";s:32:\"The
  banded range that was added.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AddChartRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Adds
  a chart to a sheet in the spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"chart\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EmbeddedChart\";s:11:\"description\";s:251:\"The
  chart that should be added to the spreadsheet, including the position\nwhere it
  should be placed. The chartId\nfield is optional; if one is not set, an id will
  be randomly generated. (It\nis an error to specify the ID of a chart that already
  exists.)\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AddChartResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  result of adding a chart to a spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"chart\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EmbeddedChart\";s:11:\"description\";s:22:\"The
  newly added chart.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"AddConditionalFormatRuleRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Adds
  a new conditional format rule at the given index.\nAll subsequent rules' indexes
  are incremented.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"index\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  zero-based index where the rule should be inserted.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"rule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ConditionalFormatRule\";s:11:\"description\";s:16:\"The
  rule to add.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AddDimensionGroupRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:942:\"Creates
  a group over the specified range.\n\nIf the requested range is a superset of the
  range of an existing group G,\nthen the depth of G is incremented and this new group
  G' has the\ndepth of that group. For example, a group [C:D, depth 1] + [B:E] results
  in\ngroups [B:E, depth 1] and [C:D, depth 2].\nIf the requested range is a subset
  of the range of an existing group G,\nthen the depth of the new group G' becomes
  one greater than the depth of G.\nFor example, a group [B:E, depth 1] + [C:D] results
  in groups [B:E, depth 1]\nand [C:D, depth 2].\nIf the requested range starts before
  and ends within, or starts within and\nends after, the range of an existing group
  G, then the range of the existing\ngroup G becomes the union of the ranges, and
  the new group G' has\ndepth one greater than the depth of G and range as the intersection
  of the\nranges. For example, a group [B:D, depth 1] + [C:E] results in groups [B:E,\ndepth
  1] and [C:D, depth 2].\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"range\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DimensionRange\";s:11:\"description\";s:39:\"The
  range over which to create a group.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"AddDimensionGroupResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  result of adding a group.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"dimensionGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"All
  groups of a dimension after adding a group to that dimension.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DimensionGroup\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AddFilterViewRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Adds
  a filter view.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterView\";s:11:\"description\";s:175:\"The
  filter to add. The filterViewId\nfield is optional; if one is not set, an id will
  be randomly generated. (It\nis an error to specify the ID of a filter that already
  exists.)\";}}s:4:\"type\";s:6:\"object\";}s:21:\"AddFilterViewResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  result of adding a filter view.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterView\";s:11:\"description\";s:28:\"The
  newly added filter view.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AddNamedRangeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Adds
  a named range to the spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"namedRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NamedRange\";s:11:\"description\";s:179:\"The
  named range to add. The namedRangeId\nfield is optional; if one is not set, an id
  will be randomly generated. (It\nis an error to specify the ID of a range that already
  exists.)\";}}s:4:\"type\";s:6:\"object\";}s:21:\"AddNamedRangeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  result of adding a named range.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"namedRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NamedRange\";s:11:\"description\";s:23:\"The
  named range to add.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AddProtectedRangeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Adds
  a new protected range.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"protectedRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ProtectedRange\";s:11:\"description\";s:192:\"The
  protected range to be added. The\nprotectedRangeId field is optional; if\none is
  not set, an id will be randomly generated. (It is an error to\nspecify the ID of
  a range that already exists.)\";}}s:4:\"type\";s:6:\"object\";}s:25:\"AddProtectedRangeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  result of adding a new protected range.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"protectedRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ProtectedRange\";s:11:\"description\";s:32:\"The
  newly added protected range.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AddSheetRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:236:\"Adds
  a new sheet.\nWhen a sheet is added at a given index,\nall subsequent sheets' indexes
  are incremented.\nTo add an object sheet, use AddChartRequest instead and specify\nEmbeddedObjectPosition.sheetId
  or\nEmbeddedObjectPosition.newSheet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SheetProperties\";s:11:\"description\";s:221:\"The
  properties the new sheet should have.\nAll properties are optional.\nThe sheetId
  field is optional; if one is not\nset, an id will be randomly generated. (It is
  an error to specify the ID\nof a sheet that already exists.)\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AddSheetResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  result of adding a sheet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SheetProperties\";s:11:\"description\";s:40:\"The
  properties of the newly added sheet.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AppendCellsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Adds
  new cells after the last row with data in a sheet,\ninserting new rows into the
  sheet if necessary.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:215:\"The
  fields of CellData that should be updated.\nAt least one field must be specified.\nThe
  root is the CellData; 'row.values.' should not be specified.\nA single `\"*\"` can
  be used as short-hand for listing every field.\";s:6:\"format\";s:16:\"google-fieldmask\";s:4:\"type\";s:6:\"string\";}s:4:\"rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  data to append.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/RowData\";}s:4:\"type\";s:5:\"array\";}s:7:\"sheetId\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  sheet ID to append the data to.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:22:\"AppendDimensionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Appends
  rows or columns to the end of a sheet.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"dimension\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Whether
  rows or columns should be appended.\";s:4:\"enum\";a:3:{i:0;s:21:\"DIMENSION_UNSPECIFIED\";i:1;s:4:\"ROWS\";i:2;s:7:\"COLUMNS\";}s:4:\"type\";s:6:\"string\";}s:6:\"length\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  number of rows or columns to append.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"sheetId\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  sheet to append rows or columns to.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AppendValuesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  response when updating a range of values in a spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"spreadsheetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  spreadsheet the updates were applied to.\";s:4:\"type\";s:6:\"string\";}s:10:\"tableRange\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"The
  range (in A1 notation) of the table that values are being appended to\n(before the
  values were appended).\nEmpty if no table was found.\";s:4:\"type\";s:6:\"string\";}s:7:\"updates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/UpdateValuesResponse\";s:11:\"description\";s:48:\"Information
  about the updates that were applied.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AutoFillRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Fills
  in more data based on existing data.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"range\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GridRange\";s:11:\"description\";s:150:\"The
  range to autofill. This will examine the range and detect\nthe location that has
  data and automatically fill that data\nin to the rest of the range.\";}s:20:\"sourceAndDestination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/SourceAndDestination\";s:11:\"description\";s:125:\"The
  source and destination areas to autofill.\nThis explicitly lists the source of the
  autofill and where to\nextend that data.\";}s:18:\"useAlternateSeries\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"True
  if we should generate data with the \"alternate\" series.\nThis differs based on
  the type and amount of source data.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:27:\"AutoResizeDimensionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Automatically
  resizes one or more dimensions based on the contents\nof the cells in that dimension.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"dimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DimensionRange\";s:11:\"description\";s:39:\"The
  dimensions to automatically resize.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"BandedRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  banded (alternating colors) range in a sheet.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"bandedRangeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  id of the banded range.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"columnProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/BandingProperties\";s:11:\"description\";s:198:\"Properties
  for column bands. These properties are applied on a column-\nby-column basis throughout
  all the columns in the range. At least one of\nrow_properties or column_properties
  must be specified.\";}s:5:\"range\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GridRange\";s:11:\"description\";s:50:\"The
  range over which these properties are applied.\";}s:13:\"rowProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/BandingProperties\";s:11:\"description\";s:185:\"Properties
  for row bands. These properties are applied on a row-by-row\nbasis throughout all
  the rows in the range. At least one of\nrow_properties or column_properties must
  be specified.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"BandingProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:716:\"Properties
  referring a single dimension (either row or column). If both\nBandedRange.row_properties
  and BandedRange.column_properties are\nset, the fill colors are applied to cells
  according to the following rules:\n\n* header_color and footer_color take priority
  over band colors.\n* first_band_color takes priority over second_band_color.\n*
  row_properties takes priority over column_properties.\n\nFor example, the first
  row color takes priority over the first column\ncolor, but the first column color
  takes priority over the second row color.\nSimilarly, the row header takes priority
  over the column header in the\ntop left cell, but the column header takes priority
  over the first row\ncolor if the row header is not set.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"firstBandColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Color\";s:11:\"description\";s:47:\"The
  first color that is alternating. (Required)\";}s:11:\"footerColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Color\";s:11:\"description\";s:205:\"The
  color of the last row or column. If this field is not set, the last\nrow or column
  will be filled with either first_band_color or\nsecond_band_color, depending on
  the color of the previous row or\ncolumn.\";}s:11:\"headerColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Color\";s:11:\"description\";s:368:\"The
  color of the first row or column. If this field is set, the first\nrow or column
  will be filled with this color and the colors will\nalternate between first_band_color
  and second_band_color starting\nfrom the second row or column. Otherwise, the first
  row or column will be\nfilled with first_band_color and the colors will proceed
  to alternate\nas they normally would.\";}s:15:\"secondBandColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Color\";s:11:\"description\";s:48:\"The
  second color that is alternating. (Required)\";}}s:4:\"type\";s:6:\"object\";}s:14:\"BasicChartAxis\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"An
  axis of the chart.\nA chart may not have more than one axis per\naxis position.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"format\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TextFormat\";s:11:\"description\";s:82:\"The
  format of the title.\nOnly valid if the axis is not associated with the domain.\";}s:8:\"position\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  position of this axis.\";s:4:\"enum\";a:4:{i:0;s:37:\"BASIC_CHART_AXIS_POSITION_UNSPECIFIED\";i:1;s:11:\"BOTTOM_AXIS\";i:2;s:9:\"LEFT_AXIS\";i:3;s:10:\"RIGHT_AXIS\";}s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"The
  title of this axis. If set, this overrides any title inferred\nfrom headers of the
  data.\";s:4:\"type\";s:6:\"string\";}s:17:\"titleTextPosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TextPosition\";s:11:\"description\";s:29:\"The
  axis title text position.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"BasicChartDomain\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"The
  domain of a chart.\nFor example, if charting stock prices over time, this would
  be the date.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"domain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ChartData\";s:11:\"description\";s:113:\"The
  data of the domain. For example, if charting stock prices over time,\nthis is the
  data representing the dates.\";}s:8:\"reversed\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"True
  to reverse the order of the domain values (horizontal axis).\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:16:\"BasicChartSeries\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"A
  single series of data in a chart.\nFor example, if charting stock prices over time,
  multiple series may exist,\none for the \"Open Price\", \"High Price\", \"Low Price\"
  and \"Close Price\".\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"color\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Color\";s:11:\"description\";s:114:\"The
  color for elements (i.e. bars, lines, points) associated with this\nseries.  If
  empty, a default color is used.\";}s:9:\"lineStyle\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LineStyle\";s:11:\"description\";s:159:\"The
  line style of this series. Valid only if the\nchartType is AREA,\nLINE, or SCATTER.\nCOMBO
  charts are also supported if the\nseries chart type is\nAREA or LINE.\";}s:6:\"series\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ChartData\";s:11:\"description\";s:47:\"The
  data being visualized in this chart series.\";}s:10:\"targetAxis\";O:8:\"stdClass\":3:{s:11:\"description\";s:364:\"The
  minor axis that will specify the range of values for this series.\nFor example,
  if charting stocks over time, the \"Volume\" series\nmay want to be pinned to the
  right with the prices pinned to the left,\nbecause the scale of trading volume is
  different than the scale of\nprices.\nIt is an error to specify an axis that isn't
  a valid minor axis\nfor the chart's type.\";s:4:\"enum\";a:4:{i:0;s:37:\"BASIC_CHART_AXIS_POSITION_UNSPECIFIED\";i:1;s:11:\"BOTTOM_AXIS\";i:2;s:9:\"LEFT_AXIS\";i:3;s:10:\"RIGHT_AXIS\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"The
  type of this series. Valid only if the\nchartType is\nCOMBO.\nDifferent types will
  change the way the series is visualized.\nOnly LINE, AREA,\nand COLUMN are supported.\";s:4:\"enum\";a:8:{i:0;s:28:\"BASIC_CHART_TYPE_UNSPECIFIED\";i:1;s:3:\"BAR\";i:2;s:4:\"LINE\";i:3;s:4:\"AREA\";i:4;s:6:\"COLUMN\";i:5;s:7:\"SCATTER\";i:6;s:5:\"COMBO\";i:7;s:12:\"STEPPED_AREA\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"BasicChartSpec\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  specification for a basic chart.  See BasicChartType for the list\nof charts this
  supports.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"axis\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  axis on the chart.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BasicChartAxis\";}s:4:\"type\";s:5:\"array\";}s:9:\"chartType\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  type of the chart.\";s:4:\"enum\";a:8:{i:0;s:28:\"BASIC_CHART_TYPE_UNSPECIFIED\";i:1;s:3:\"BAR\";i:2;s:4:\"LINE\";i:3;s:4:\"AREA\";i:4;s:6:\"COLUMN\";i:5;s:7:\"SCATTER\";i:6;s:5:\"COMBO\";i:7;s:12:\"STEPPED_AREA\";}s:4:\"type\";s:6:\"string\";}s:11:\"compareMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  behavior of tooltips and data highlighting when hovering on data and\nchart area.\";s:4:\"enum\";a:3:{i:0;s:36:\"BASIC_CHART_COMPARE_MODE_UNSPECIFIED\";i:1;s:5:\"DATUM\";i:2;s:8:\"CATEGORY\";}s:4:\"type\";s:6:\"string\";}s:7:\"domains\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  domain of data this is charting.\nOnly a single domain is supported.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BasicChartDomain\";}s:4:\"type\";s:5:\"array\";}s:11:\"headerCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:239:\"The
  number of rows or columns in the data that are \"headers\".\nIf not set, Google
  Sheets will guess how many rows are headers based\non the data.\n\n(Note that BasicChartAxis.title
  may override the axis title\n inferred from the header values.)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"interpolateNulls\";O:8:\"stdClass\":2:{s:11:\"description\";s:210:\"If
  some values in a series are missing, gaps may appear in the chart (e.g,\nsegments
  of lines in a line chart will be missing).  To eliminate these\ngaps set this to
  true.\nApplies to Line, Area, and Combo charts.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"legendPosition\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  position of the chart legend.\";s:4:\"enum\";a:6:{i:0;s:39:\"BASIC_CHART_LEGEND_POSITION_UNSPECIFIED\";i:1;s:13:\"BOTTOM_LEGEND\";i:2;s:11:\"LEFT_LEGEND\";i:3;s:12:\"RIGHT_LEGEND\";i:4;s:10:\"TOP_LEGEND\";i:5;s:9:\"NO_LEGEND\";}s:4:\"type\";s:6:\"string\";}s:13:\"lineSmoothing\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Gets
  whether all lines should be rendered smooth or straight by default.\nApplies to
  Line charts.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"series\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  data this chart is visualizing.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BasicChartSeries\";}s:4:\"type\";s:5:\"array\";}s:11:\"stackedType\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"The
  stacked type for charts that support vertical stacking.\nApplies to Area, Bar, Column,
  Combo, and Stepped Area charts.\";s:4:\"enum\";a:4:{i:0;s:36:\"BASIC_CHART_STACKED_TYPE_UNSPECIFIED\";i:1;s:11:\"NOT_STACKED\";i:2;s:7:\"STACKED\";i:3;s:15:\"PERCENT_STACKED\";}s:4:\"type\";s:6:\"string\";}s:16:\"threeDimensional\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"True
  to make the chart 3D.\nApplies to Bar and Column charts.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"BasicFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  default filter associated with a sheet.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"criteria\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FilterCriteria\";}s:11:\"description\";s:132:\"The
  criteria for showing/hiding values per column.\nThe map's key is the column index,
  and the value is the criteria for\nthat column.\";s:4:\"type\";s:6:\"object\";}s:5:\"range\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GridRange\";s:11:\"description\";s:28:\"The
  range the filter covers.\";}s:9:\"sortSpecs\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"The
  sort order per column. Later specifications are used when values\nare equal in the
  earlier specifications.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/SortSpec\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:35:\"BatchClearValuesByDataFilterRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  request for clearing more than one range selected by a\nDataFilter in a spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"dataFilters\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  DataFilters used to determine which ranges to clear.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DataFilter\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:36:\"BatchClearValuesByDataFilterResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  response when clearing a range of values selected with\nDataFilters in a spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"clearedRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:223:\"The
  ranges that were cleared, in A1 notation.\n(If the requests were for an unbounded
  range or a ranger larger\n than the bounds of the sheet, this will be the actual
  ranges\n that were cleared, bounded to the sheet's limits.)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"spreadsheetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  spreadsheet the updates were applied to.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"BatchClearValuesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  request for clearing more than one range of values in a spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"ranges\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  ranges to clear, in A1 notation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BatchClearValuesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  response when clearing a range of values in a spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"clearedRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:223:\"The
  ranges that were cleared, in A1 notation.\n(If the requests were for an unbounded
  range or a ranger larger\n than the bounds of the sheet, this will be the actual
  ranges\n that were cleared, bounded to the sheet's limits.)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"spreadsheetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  spreadsheet the updates were applied to.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"BatchGetValuesByDataFilterRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"The
  request for retrieving a range of values in a spreadsheet selected by a\nset of
  DataFilters.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"dataFilters\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"The
  data filters used to match the ranges of values to retrieve.  Ranges\nthat match
  any of the specified data filters will be included in the\nresponse.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DataFilter\";}s:4:\"type\";s:5:\"array\";}s:20:\"dateTimeRenderOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:203:\"How
  dates, times, and durations should be represented in the output.\nThis is ignored
  if value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render option
  is [DateTimeRenderOption.SERIAL_NUMBER].\";s:4:\"enum\";a:2:{i:0;s:13:\"SERIAL_NUMBER\";i:1;s:16:\"FORMATTED_STRING\";}s:4:\"type\";s:6:\"string\";}s:14:\"majorDimension\";O:8:\"stdClass\":3:{s:11:\"description\";s:290:\"The
  major dimension that results should use.\n\nFor example, if the spreadsheet data
  is: `A1=1,B1=2,A2=3,B2=4`,\nthen a request that selects that range and sets `majorDimension=ROWS`
  will\nreturn `[[1,2],[3,4]]`,\nwhereas a request that sets `majorDimension=COLUMNS`
  will return\n`[[1,3],[2,4]]`.\";s:4:\"enum\";a:3:{i:0;s:21:\"DIMENSION_UNSPECIFIED\";i:1;s:4:\"ROWS\";i:2;s:7:\"COLUMNS\";}s:4:\"type\";s:6:\"string\";}s:17:\"valueRenderOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"How
  values should be represented in the output.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.\";s:4:\"enum\";a:3:{i:0;s:15:\"FORMATTED_VALUE\";i:1;s:17:\"UNFORMATTED_VALUE\";i:2;s:7:\"FORMULA\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"BatchGetValuesByDataFilterResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  response when retrieving more than one range of values in a spreadsheet\nselected
  by DataFilters.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"spreadsheetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  ID of the spreadsheet the data was retrieved from.\";s:4:\"type\";s:6:\"string\";}s:11:\"valueRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  requested values with the list of data filters that matched them.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/MatchedValueRange\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"BatchGetValuesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  response when retrieving more than one range of values in a spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"spreadsheetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  ID of the spreadsheet the data was retrieved from.\";s:4:\"type\";s:6:\"string\";}s:11:\"valueRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  requested values. The order of the ValueRanges is the same as the\norder of the
  requested ranges.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ValueRange\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"BatchUpdateSpreadsheetRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  request for updating any aspect of a spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:28:\"includeSpreadsheetInResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Determines
  if the update response should include the spreadsheet\nresource.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"requests\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"A
  list of updates to apply to the spreadsheet.\nRequests will be applied in the order
  they are specified.\nIf any request is not valid, no requests will be applied.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Request\";}s:4:\"type\";s:5:\"array\";}s:23:\"responseIncludeGridData\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"True
  if grid data should be returned. Meaningful only if\nif include_spreadsheet_in_response
  is 'true'.\nThis parameter is ignored if a field mask was set in the request.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"responseRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"Limits
  the ranges included in the response spreadsheet.\nMeaningful only if include_spreadsheet_response
  is 'true'.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:30:\"BatchUpdateSpreadsheetResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  reply for batch updating a spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"replies\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  reply of the updates.  This maps 1:1 with the updates, although\nreplies to some
  requests may be empty.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}s:4:\"type\";s:5:\"array\";}s:13:\"spreadsheetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  spreadsheet the updates were applied to.\";s:4:\"type\";s:6:\"string\";}s:18:\"updatedSpreadsheet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Spreadsheet\";s:11:\"description\";s:138:\"The
  spreadsheet after updates were applied. This is only set if\n[BatchUpdateSpreadsheetRequest.include_spreadsheet_in_response]
  is `true`.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"BatchUpdateValuesByDataFilterRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  request for updating more than one range of values in a spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"The
  new values to apply to the spreadsheet.  If more than one range is\nmatched by the
  specified DataFilter the specified values will be\napplied to all of those ranges.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DataFilterValueRange\";}s:4:\"type\";s:5:\"array\";}s:23:\"includeValuesInResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:436:\"Determines
  if the update response should include the values\nof the cells that were updated.
  By default, responses\ndo not include the updated values. The `updatedData` field
  within\neach of the BatchUpdateValuesResponse.responses will contain\nthe updated
  values. If the range to write was larger than than the range\nactually written,
  the response will include all values in the requested\nrange (excluding trailing
  empty rows and columns).\";s:4:\"type\";s:7:\"boolean\";}s:28:\"responseDateTimeRenderOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:220:\"Determines
  how dates, times, and durations in the response should be\nrendered. This is ignored
  if response_value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render
  option is\nDateTimeRenderOption.SERIAL_NUMBER.\";s:4:\"enum\";a:2:{i:0;s:13:\"SERIAL_NUMBER\";i:1;s:16:\"FORMATTED_STRING\";}s:4:\"type\";s:6:\"string\";}s:25:\"responseValueRenderOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"Determines
  how values in the response should be rendered.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.\";s:4:\"enum\";a:3:{i:0;s:15:\"FORMATTED_VALUE\";i:1;s:17:\"UNFORMATTED_VALUE\";i:2;s:7:\"FORMULA\";}s:4:\"type\";s:6:\"string\";}s:16:\"valueInputOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"How
  the input data should be interpreted.\";s:4:\"enum\";a:3:{i:0;s:30:\"INPUT_VALUE_OPTION_UNSPECIFIED\";i:1;s:3:\"RAW\";i:2;s:12:\"USER_ENTERED\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:37:\"BatchUpdateValuesByDataFilterResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  response when updating a range of values in a spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"responses\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  response for each range updated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/UpdateValuesByDataFilterResponse\";}s:4:\"type\";s:5:\"array\";}s:13:\"spreadsheetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  spreadsheet the updates were applied to.\";s:4:\"type\";s:6:\"string\";}s:17:\"totalUpdatedCells\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  total number of cells updated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"totalUpdatedColumns\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  total number of columns where at least one cell in the column was\nupdated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"totalUpdatedRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  total number of rows where at least one cell in the row was updated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"totalUpdatedSheets\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  total number of sheets where at least one cell in the sheet was\nupdated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BatchUpdateValuesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  request for updating more than one range of values in a spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  new values to apply to the spreadsheet.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ValueRange\";}s:4:\"type\";s:5:\"array\";}s:23:\"includeValuesInResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:436:\"Determines
  if the update response should include the values\nof the cells that were updated.
  By default, responses\ndo not include the updated values. The `updatedData` field
  within\neach of the BatchUpdateValuesResponse.responses will contain\nthe updated
  values. If the range to write was larger than than the range\nactually written,
  the response will include all values in the requested\nrange (excluding trailing
  empty rows and columns).\";s:4:\"type\";s:7:\"boolean\";}s:28:\"responseDateTimeRenderOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:220:\"Determines
  how dates, times, and durations in the response should be\nrendered. This is ignored
  if response_value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render
  option is\nDateTimeRenderOption.SERIAL_NUMBER.\";s:4:\"enum\";a:2:{i:0;s:13:\"SERIAL_NUMBER\";i:1;s:16:\"FORMATTED_STRING\";}s:4:\"type\";s:6:\"string\";}s:25:\"responseValueRenderOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"Determines
  how values in the response should be rendered.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.\";s:4:\"enum\";a:3:{i:0;s:15:\"FORMATTED_VALUE\";i:1;s:17:\"UNFORMATTED_VALUE\";i:2;s:7:\"FORMULA\";}s:4:\"type\";s:6:\"string\";}s:16:\"valueInputOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"How
  the input data should be interpreted.\";s:4:\"enum\";a:3:{i:0;s:30:\"INPUT_VALUE_OPTION_UNSPECIFIED\";i:1;s:3:\"RAW\";i:2;s:12:\"USER_ENTERED\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"BatchUpdateValuesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  response when updating a range of values in a spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"responses\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"One
  UpdateValuesResponse per requested range, in the same order as\nthe requests appeared.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/UpdateValuesResponse\";}s:4:\"type\";s:5:\"array\";}s:13:\"spreadsheetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  spreadsheet the updates were applied to.\";s:4:\"type\";s:6:\"string\";}s:17:\"totalUpdatedCells\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  total number of cells updated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"totalUpdatedColumns\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  total number of columns where at least one cell in the column was\nupdated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"totalUpdatedRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  total number of rows where at least one cell in the row was updated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"totalUpdatedSheets\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  total number of sheets where at least one cell in the sheet was\nupdated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:16:\"BooleanCondition\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"A
  condition that can evaluate to true or false.\nBooleanConditions are used by conditional
  formatting,\ndata validation, and the criteria in filters.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  type of condition.\";s:4:\"enum\";a:30:{i:0;s:26:\"CONDITION_TYPE_UNSPECIFIED\";i:1;s:14:\"NUMBER_GREATER\";i:2;s:22:\"NUMBER_GREATER_THAN_EQ\";i:3;s:11:\"NUMBER_LESS\";i:4;s:19:\"NUMBER_LESS_THAN_EQ\";i:5;s:9:\"NUMBER_EQ\";i:6;s:13:\"NUMBER_NOT_EQ\";i:7;s:14:\"NUMBER_BETWEEN\";i:8;s:18:\"NUMBER_NOT_BETWEEN\";i:9;s:13:\"TEXT_CONTAINS\";i:10;s:17:\"TEXT_NOT_CONTAINS\";i:11;s:16:\"TEXT_STARTS_WITH\";i:12;s:14:\"TEXT_ENDS_WITH\";i:13;s:7:\"TEXT_EQ\";i:14;s:13:\"TEXT_IS_EMAIL\";i:15;s:11:\"TEXT_IS_URL\";i:16;s:7:\"DATE_EQ\";i:17;s:11:\"DATE_BEFORE\";i:18;s:10:\"DATE_AFTER\";i:19;s:17:\"DATE_ON_OR_BEFORE\";i:20;s:16:\"DATE_ON_OR_AFTER\";i:21;s:12:\"DATE_BETWEEN\";i:22;s:16:\"DATE_NOT_BETWEEN\";i:23;s:13:\"DATE_IS_VALID\";i:24;s:12:\"ONE_OF_RANGE\";i:25;s:11:\"ONE_OF_LIST\";i:26;s:5:\"BLANK\";i:27;s:9:\"NOT_BLANK\";i:28;s:14:\"CUSTOM_FORMULA\";i:29;s:7:\"BOOLEAN\";}s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:213:\"The
  values of the condition. The number of supported values depends\non the condition
  type.  Some support zero values,\nothers one or two values,\nand ConditionType.ONE_OF_LIST
  supports an arbitrary number of values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ConditionValue\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"BooleanRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  rule that may or may not match, depending on the condition.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"condition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BooleanCondition\";s:11:\"description\";s:85:\"The
  condition of the rule. If the condition evaluates to true,\nthe format is applied.\";}s:6:\"format\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CellFormat\";s:11:\"description\";s:148:\"The
  format to apply.\nConditional formatting can only apply a subset of formatting:\nbold,
  italic,\nstrikethrough,\nforeground color &\nbackground color.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Border\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  border along a cell.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"color\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Color\";s:11:\"description\";s:24:\"The
  color of the border.\";}s:5:\"style\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  style of the border.\";s:4:\"enum\";a:8:{i:0;s:17:\"STYLE_UNSPECIFIED\";i:1;s:6:\"DOTTED\";i:2;s:6:\"DASHED\";i:3;s:5:\"SOLID\";i:4;s:12:\"SOLID_MEDIUM\";i:5;s:11:\"SOLID_THICK\";i:6;s:4:\"NONE\";i:7;s:6:\"DOUBLE\";}s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  width of the border, in pixels.\nDeprecated; the width is determined by the \"style\"
  field.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Borders\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  borders of the cell.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"bottom\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Border\";s:11:\"description\";s:30:\"The
  bottom border of the cell.\";}s:4:\"left\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Border\";s:11:\"description\";s:28:\"The
  left border of the cell.\";}s:5:\"right\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Border\";s:11:\"description\";s:29:\"The
  right border of the cell.\";}s:3:\"top\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Border\";s:11:\"description\";s:27:\"The
  top border of the cell.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"BubbleChartSpec\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"A
  <a href=\"/chart/interactive/docs/gallery/bubblechart\">bubble chart</a>.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:17:\"bubbleBorderColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Color\";s:11:\"description\";s:24:\"The
  bubble border color.\";}s:12:\"bubbleLabels\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ChartData\";s:11:\"description\";s:71:\"The
  data containing the bubble labels.  These do not need to be unique.\";}s:19:\"bubbleMaxRadiusSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  max radius size of the bubbles, in pixels.\nIf specified, the field must be a positive
  value.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"bubbleMinRadiusSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  minimum radius size of the bubbles, in pixels.\nIf specific, the field must be a
  positive value.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"bubbleOpacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  opacity of the bubbles between 0 and 1.0.\n0 is fully transparent and 1 is fully
  opaque.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:11:\"bubbleSizes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ChartData\";s:11:\"description\";s:196:\"The
  data contianing the bubble sizes.  Bubble sizes are used to draw\nthe bubbles at
  different sizes relative to each other.\nIf specified, group_ids must also be specified.
  \ This field is\noptional.\";}s:15:\"bubbleTextStyle\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TextFormat\";s:11:\"description\";s:89:\"The
  format of the text inside the bubbles.\nUnderline and Strikethrough are not supported.\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ChartData\";s:11:\"description\";s:100:\"The
  data containing the bubble x-values.  These values locate the bubbles\nin the chart
  horizontally.\";}s:8:\"groupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ChartData\";s:11:\"description\";s:227:\"The
  data containing the bubble group IDs. All bubbles with the same group\nID are drawn
  in the same color. If bubble_sizes is specified then\nthis field must also be specified
  but may contain blank values.\nThis field is optional.\";}s:14:\"legendPosition\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Where
  the legend of the chart should be drawn.\";s:4:\"enum\";a:7:{i:0;s:40:\"BUBBLE_CHART_LEGEND_POSITION_UNSPECIFIED\";i:1;s:13:\"BOTTOM_LEGEND\";i:2;s:11:\"LEFT_LEGEND\";i:3;s:12:\"RIGHT_LEGEND\";i:4;s:10:\"TOP_LEGEND\";i:5;s:9:\"NO_LEGEND\";i:6;s:13:\"INSIDE_LEGEND\";}s:4:\"type\";s:6:\"string\";}s:6:\"series\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ChartData\";s:11:\"description\";s:98:\"The
  data contianing the bubble y-values.  These values locate the bubbles\nin the chart
  vertically.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CandlestickChartSpec\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"A
  <a href=\"/chart/interactive/docs/gallery/candlestickchart\">candlestick chart</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  Candlestick chart data.\nOnly one CandlestickData is supported.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CandlestickData\";}s:4:\"type\";s:5:\"array\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CandlestickDomain\";s:11:\"description\";s:158:\"The
  domain data (horizontal axis) for the candlestick chart.  String data\nwill be treated
  as discrete labels, other data will be treated as\ncontinuous values.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CandlestickData\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"The
  Candlestick chart data, each containing the low, open, close, and high\nvalues for
  a series.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"closeSeries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CandlestickSeries\";s:11:\"description\";s:206:\"The
  range data (vertical axis) for the close/final value for each candle.\nThis is the
  top of the candle body.  If greater than the open value the\ncandle will be filled.
  \ Otherwise the candle will be hollow.\";}s:10:\"highSeries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CandlestickSeries\";s:11:\"description\";s:119:\"The
  range data (vertical axis) for the high/maximum value for each\ncandle. This is
  the top of the candle's center line.\";}s:9:\"lowSeries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CandlestickSeries\";s:11:\"description\";s:121:\"The
  range data (vertical axis) for the low/minimum value for each candle.\nThis is the
  bottom of the candle's center line.\";}s:10:\"openSeries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CandlestickSeries\";s:11:\"description\";s:208:\"The
  range data (vertical axis) for the open/initial value for each\ncandle. This is
  the bottom of the candle body.  If less than the close\nvalue the candle will be
  filled.  Otherwise the candle will be hollow.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CandlestickDomain\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  domain of a CandlestickChart.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ChartData\";s:11:\"description\";s:34:\"The
  data of the CandlestickDomain.\";}s:8:\"reversed\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"True
  to reverse the order of the domain values (horizontal axis).\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CandlestickSeries\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  series of a CandlestickData.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ChartData\";s:11:\"description\";s:34:\"The
  data of the CandlestickSeries.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"CellData\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Data
  about a specific cell.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"dataValidation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DataValidationRule\";s:11:\"description\";s:118:\"A
  data validation rule on the cell, if any.\n\nWhen writing, the new data validation
  rule will overwrite any prior rule.\";}s:15:\"effectiveFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CellFormat\";s:11:\"description\";s:284:\"The
  effective format being used by the cell.\nThis includes the results of applying
  any conditional formatting and,\nif the cell contains a formula, the computed number
  format.\nIf the effective format is the default format, effective format will\nnot
  be written.\nThis field is read-only.\";}s:14:\"effectiveValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ExtendedValue\";s:11:\"description\";s:182:\"The
  effective value of the cell. For cells with formulas, this is\nthe calculated value.
  \ For cells with literals, this is\nthe same as the user_entered_value.\nThis field
  is read-only.\";}s:14:\"formattedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"The
  formatted value of the cell.\nThis is the value as it's shown to the user.\nThis
  field is read-only.\";s:4:\"type\";s:6:\"string\";}s:9:\"hyperlink\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"A
  hyperlink this cell points to, if any.\nThis field is read-only.  (To set it, use
  a `=HYPERLINK` formula\nin the userEnteredValue.formulaValue\nfield.)\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Any
  note on the cell.\";s:4:\"type\";s:6:\"string\";}s:10:\"pivotTable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PivotTable\";s:11:\"description\";s:333:\"A
  pivot table anchored at this cell. The size of pivot table itself\nis computed dynamically
  based on its data, grouping, filters, values,\netc. Only the top-left cell of the
  pivot table contains the pivot table\ndefinition. The other cells will contain the
  calculated values of the\nresults of the pivot in their effective_value fields.\";}s:14:\"textFormatRuns\";O:8:\"stdClass\":3:{s:11:\"description\";s:515:\"Runs
  of rich text applied to subsections of the cell.  Runs are only valid\non user entered
  strings, not formulas, bools, or numbers.\nRuns start at specific indexes in the
  text and continue until the next\nrun. Properties of a run will continue unless
  explicitly changed\nin a subsequent run (and properties of the first run will continue\nthe
  properties of the cell unless explicitly changed).\n\nWhen writing, the new runs
  will overwrite any prior runs.  When writing a\nnew user_entered_value, previous
  runs are erased.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TextFormatRun\";}s:4:\"type\";s:5:\"array\";}s:17:\"userEnteredFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CellFormat\";s:11:\"description\";s:112:\"The
  format the user entered for the cell.\n\nWhen writing, the new format will be merged
  with the existing format.\";}s:16:\"userEnteredValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ExtendedValue\";s:11:\"description\";s:160:\"The
  value the user entered in the cell. e.g, `1234`, `'Hello'`, or `=NOW()`\nNote: Dates,
  Times and DateTimes are represented as doubles in\nserial number format.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CellFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  format of a cell.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:15:\"backgroundColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Color\";s:11:\"description\";s:33:\"The
  background color of the cell.\";}s:7:\"borders\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Borders\";s:11:\"description\";s:24:\"The
  borders of the cell.\";}s:19:\"horizontalAlignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  horizontal alignment of the value in the cell.\";s:4:\"enum\";a:4:{i:0;s:28:\"HORIZONTAL_ALIGN_UNSPECIFIED\";i:1;s:4:\"LEFT\";i:2;s:6:\"CENTER\";i:3;s:5:\"RIGHT\";}s:4:\"type\";s:6:\"string\";}s:20:\"hyperlinkDisplayType\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"How
  a hyperlink, if it exists, should be displayed in the cell.\";s:4:\"enum\";a:3:{i:0;s:34:\"HYPERLINK_DISPLAY_TYPE_UNSPECIFIED\";i:1;s:6:\"LINKED\";i:2;s:10:\"PLAIN_TEXT\";}s:4:\"type\";s:6:\"string\";}s:12:\"numberFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NumberFormat\";s:11:\"description\";s:72:\"A
  format describing how number values should be represented to the user.\";}s:7:\"padding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Padding\";s:11:\"description\";s:24:\"The
  padding of the cell.\";}s:13:\"textDirection\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  direction of the text in the cell.\";s:4:\"enum\";a:3:{i:0;s:26:\"TEXT_DIRECTION_UNSPECIFIED\";i:1;s:13:\"LEFT_TO_RIGHT\";i:2;s:13:\"RIGHT_TO_LEFT\";}s:4:\"type\";s:6:\"string\";}s:10:\"textFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TextFormat\";s:11:\"description\";s:71:\"The
  format of the text in the cell (unless overridden by a format run).\";}s:12:\"textRotation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TextRotation\";s:11:\"description\";s:38:\"The
  rotation applied to text in a cell\";}s:17:\"verticalAlignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  vertical alignment of the value in the cell.\";s:4:\"enum\";a:4:{i:0;s:26:\"VERTICAL_ALIGN_UNSPECIFIED\";i:1;s:3:\"TOP\";i:2;s:6:\"MIDDLE\";i:3;s:6:\"BOTTOM\";}s:4:\"type\";s:6:\"string\";}s:12:\"wrapStrategy\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  wrap strategy for the value in the cell.\";s:4:\"enum\";a:5:{i:0;s:25:\"WRAP_STRATEGY_UNSPECIFIED\";i:1;s:13:\"OVERFLOW_CELL\";i:2;s:11:\"LEGACY_WRAP\";i:3;s:4:\"CLIP\";i:4;s:4:\"WRAP\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ChartData\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  data included in a domain or series.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"sourceRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ChartSourceRange\";s:11:\"description\";s:30:\"The
  source ranges of the data.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ChartSourceRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Source
  ranges for a chart.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"sources\";O:8:\"stdClass\":3:{s:11:\"description\";s:619:\"The
  ranges of data for a series or domain.\nExactly one dimension must have a length
  of 1,\nand all sources in the list must have the same dimension\nwith length 1.\nThe
  domain (if it exists) & all series must have the same number\nof source ranges.
  If using more than one source range, then the source\nrange at a given offset must
  be in order and contiguous across the domain\nand series.\n\nFor example, these
  are valid configurations:\n\n    domain sources: A1:A5\n    series1 sources: B1:B5\n
  \   series2 sources: D6:D10\n\n    domain sources: A1:A5, C10:C12\n    series1 sources:
  B1:B5, D10:D12\n    series2 sources: C1:C5, E10:E12\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GridRange\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ChartSpec\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  specifications of a chart.\";s:10:\"properties\";O:8:\"stdClass\":19:{s:7:\"altText\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"The
  alternative text that describes the chart.  This is often used\nfor accessibility.\";s:4:\"type\";s:6:\"string\";}s:15:\"backgroundColor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Color\";s:11:\"description\";s:71:\"The
  background color of the entire chart.\nNot applicable to Org charts.\";}s:10:\"basicChart\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BasicChartSpec\";s:11:\"description\";s:125:\"A
  basic chart specification, can be one of many kinds of charts.\nSee BasicChartType
  for the list of all\ncharts this supports.\";}s:11:\"bubbleChart\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BubbleChartSpec\";s:11:\"description\";s:29:\"A
  bubble chart specification.\";}s:16:\"candlestickChart\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/CandlestickChartSpec\";s:11:\"description\";s:34:\"A
  candlestick chart specification.\";}s:8:\"fontName\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"The
  name of the font to use by default for all chart text (e.g. title,\naxis labels,
  legend).  If a font is specified for a specific part of the\nchart it will override
  this font name.\";s:4:\"type\";s:6:\"string\";}s:23:\"hiddenDimensionStrategy\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Determines
  how the charts will use hidden rows or columns.\";s:4:\"enum\";a:5:{i:0;s:43:\"CHART_HIDDEN_DIMENSION_STRATEGY_UNSPECIFIED\";i:1;s:28:\"SKIP_HIDDEN_ROWS_AND_COLUMNS\";i:2;s:16:\"SKIP_HIDDEN_ROWS\";i:3;s:19:\"SKIP_HIDDEN_COLUMNS\";i:4;s:8:\"SHOW_ALL\";}s:4:\"type\";s:6:\"string\";}s:14:\"histogramChart\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/HistogramChartSpec\";s:11:\"description\";s:32:\"A
  histogram chart specification.\";}s:9:\"maximized\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"True
  to make a chart fill the entire space in which it's rendered with\nminimum padding.
  \ False to use the default padding.\n(Not applicable to Geo and Org charts.)\";s:4:\"type\";s:7:\"boolean\";}s:8:\"orgChart\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OrgChartSpec\";s:11:\"description\";s:27:\"An
  org chart specification.\";}s:8:\"pieChart\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PieChartSpec\";s:11:\"description\";s:26:\"A
  pie chart specification.\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  subtitle of the chart.\";s:4:\"type\";s:6:\"string\";}s:18:\"subtitleTextFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TextFormat\";s:11:\"description\";s:72:\"The
  subtitle text format.\nStrikethrough and underline are not supported.\";}s:20:\"subtitleTextPosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TextPosition\";s:11:\"description\";s:51:\"The
  subtitle text position.\nThis field is optional.\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  title of the chart.\";s:4:\"type\";s:6:\"string\";}s:15:\"titleTextFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TextFormat\";s:11:\"description\";s:69:\"The
  title text format.\nStrikethrough and underline are not supported.\";}s:17:\"titleTextPosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TextPosition\";s:11:\"description\";s:48:\"The
  title text position.\nThis field is optional.\";}s:12:\"treemapChart\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TreemapChartSpec\";s:11:\"description\";s:30:\"A
  treemap chart specification.\";}s:14:\"waterfallChart\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WaterfallChartSpec\";s:11:\"description\";s:32:\"A
  waterfall chart specification.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ClearBasicFilterRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Clears
  the basic filter, if any exists on the sheet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"sheetId\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  sheet ID on which the basic filter should be cleared.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ClearValuesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  request for clearing a range of values in a spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"ClearValuesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  response when clearing a range of values in a spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"clearedRange\";O:8:\"stdClass\":2:{s:11:\"description\";s:218:\"The
  range (in A1 notation) that was cleared.\n(If the request was for an unbounded range
  or a ranger larger\n than the bounds of the sheet, this will be the actual range\n
  that was cleared, bounded to the sheet's limits.)\";s:4:\"type\";s:6:\"string\";}s:13:\"spreadsheetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  spreadsheet the updates were applied to.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Color\";O:8:\"stdClass\":3:{s:11:\"description\";s:3701:\"Represents
  a color in the RGBA color space. This representation is designed\nfor simplicity
  of conversion to/from color representations in various\nlanguages over compactness;
  for example, the fields of this representation\ncan be trivially provided to the
  constructor of \"java.awt.Color\" in Java; it\ncan also be trivially provided to
  UIColor's \"+colorWithRed:green:blue:alpha\"\nmethod in iOS; and, with just a little
  work, it can be easily formatted into\na CSS \"rgba()\" string in JavaScript, as
  well. Here are some examples:\n\nExample (Java):\n\n     import com.google.type.Color;\n\n
  \    // ...\n     public static java.awt.Color fromProto(Color protocolor) {\n       float
  alpha = protocolor.hasAlpha()\n           ? protocolor.getAlpha().getValue()\n           :
  1.0;\n\n       return new java.awt.Color(\n           protocolor.getRed(),\n           protocolor.getGreen(),\n
  \          protocolor.getBlue(),\n           alpha);\n     }\n\n     public static
  Color toProto(java.awt.Color color) {\n       float red = (float) color.getRed();\n
  \      float green = (float) color.getGreen();\n       float blue = (float) color.getBlue();\n
  \      float denominator = 255.0;\n       Color.Builder resultBuilder =\n           Color\n
  \              .newBuilder()\n               .setRed(red / denominator)\n               .setGreen(green
  / denominator)\n               .setBlue(blue / denominator);\n       int alpha =
  color.getAlpha();\n       if (alpha != 255) {\n         result.setAlpha(\n             FloatValue\n
  \                .newBuilder()\n                 .setValue(((float) alpha) / denominator)\n
  \                .build());\n       }\n       return resultBuilder.build();\n     }\n
  \    // ...\n\nExample (iOS / Obj-C):\n\n     // ...\n     static UIColor* fromProto(Color*
  protocolor) {\n        float red = [protocolor red];\n        float green = [protocolor
  green];\n        float blue = [protocolor blue];\n        FloatValue* alpha_wrapper
  = [protocolor alpha];\n        float alpha = 1.0;\n        if (alpha_wrapper !=
  nil) {\n          alpha = [alpha_wrapper value];\n        }\n        return [UIColor
  colorWithRed:red green:green blue:blue alpha:alpha];\n     }\n\n     static Color*
  toProto(UIColor* color) {\n         CGFloat red, green, blue, alpha;\n         if
  (![color getRed:&red green:&green blue:&blue alpha:&alpha]) {\n           return
  nil;\n         }\n         Color* result = [Color alloc] init];\n         [result
  setRed:red];\n         [result setGreen:green];\n         [result setBlue:blue];\n
  \        if (alpha <= 0.9999) {\n           [result setAlpha:floatWrapperWithValue(alpha)];\n
  \        }\n         [result autorelease];\n         return result;\n    }\n    //
  ...\n\n Example (JavaScript):\n\n    // ...\n\n    var protoToCssColor = function(rgb_color)
  {\n       var redFrac = rgb_color.red || 0.0;\n       var greenFrac = rgb_color.green
  || 0.0;\n       var blueFrac = rgb_color.blue || 0.0;\n       var red = Math.floor(redFrac
  * 255);\n       var green = Math.floor(greenFrac * 255);\n       var blue = Math.floor(blueFrac
  * 255);\n\n       if (!('alpha' in rgb_color)) {\n          return rgbToCssColor_(red,
  green, blue);\n       }\n\n       var alphaFrac = rgb_color.alpha.value || 0.0;\n
  \      var rgbParams = [red, green, blue].join(',');\n       return ['rgba(', rgbParams,
  ',', alphaFrac, ')'].join('');\n    };\n\n    var rgbToCssColor_ = function(red,
  green, blue) {\n      var rgbNumber = new Number((red << 16) | (green << 8) | blue);\n
  \     var hexString = rgbNumber.toString(16);\n      var missingZeros = 6 - hexString.length;\n
  \     var resultBuilder = ['#'];\n      for (var i = 0; i < missingZeros; i++) {\n
  \        resultBuilder.push('0');\n      }\n      resultBuilder.push(hexString);\n
  \     return resultBuilder.join('');\n    };\n\n    // ...\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"alpha\";O:8:\"stdClass\":3:{s:11:\"description\";s:616:\"The
  fraction of this color that should be applied to the pixel. That is,\nthe final
  pixel color is defined by the equation:\n\n  pixel color = alpha * (this color)
  + (1.0 - alpha) * (background color)\n\nThis means that a value of 1.0 corresponds
  to a solid color, whereas\na value of 0.0 corresponds to a completely transparent
  color. This\nuses a wrapper message rather than a simple float scalar so that it
  is\npossible to distinguish between a default value and the value being unset.\nIf
  omitted, this color object is to be rendered as a solid color\n(as if the alpha
  value had been explicitly given with a value of 1.0).\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"blue\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  amount of blue in the color as a value in the interval [0, 1].\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"green\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  amount of green in the color as a value in the interval [0, 1].\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:3:\"red\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  amount of red in the color as a value in the interval [0, 1].\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ConditionValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  value of the condition.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"relativeDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:263:\"A
  relative date (based on the current date).\nValid only if the type is\nDATE_BEFORE,\nDATE_AFTER,\nDATE_ON_OR_BEFORE
  or\nDATE_ON_OR_AFTER.\n\nRelative dates are not supported in data validation.\nThey
  are supported only in conditional formatting and\nconditional filters.\";s:4:\"enum\";a:7:{i:0;s:25:\"RELATIVE_DATE_UNSPECIFIED\";i:1;s:9:\"PAST_YEAR\";i:2;s:10:\"PAST_MONTH\";i:3;s:9:\"PAST_WEEK\";i:4;s:9:\"YESTERDAY\";i:5;s:5:\"TODAY\";i:6;s:8:\"TOMORROW\";}s:4:\"type\";s:6:\"string\";}s:16:\"userEnteredValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"A
  value the condition is based on.\nThe value is parsed as if the user typed into
  a cell.\nFormulas are supported (and must begin with an `=` or a '+').\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ConditionalFormatRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"A
  rule describing a conditional format.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"booleanRule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanRule\";s:11:\"description\";s:61:\"The
  formatting is either \"on\" or \"off\" according to the rule.\";}s:12:\"gradientRule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/GradientRule\";s:11:\"description\";s:60:\"The
  formatting will vary based on the gradients in the rule.\";}s:6:\"ranges\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  ranges that are formatted if the condition is true.\nAll the ranges must be on the
  same grid.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GridRange\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CopyPasteRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Copies
  data from the source to the destination.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GridRange\";s:11:\"description\";s:302:\"The
  location to paste to. If the range covers a span that's\na multiple of the source's
  height or width, then the\ndata will be repeated to fill in the destination range.\nIf
  the range is smaller than the source range, the entire\nsource data will still be
  copied (beyond the end of the destination range).\";}s:16:\"pasteOrientation\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"How
  that data should be oriented when pasting.\";s:4:\"enum\";a:2:{i:0;s:6:\"NORMAL\";i:1;s:9:\"TRANSPOSE\";}s:4:\"type\";s:6:\"string\";}s:9:\"pasteType\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"What
  kind of data to paste.\";s:4:\"enum\";a:7:{i:0;s:12:\"PASTE_NORMAL\";i:1;s:12:\"PASTE_VALUES\";i:2;s:12:\"PASTE_FORMAT\";i:3;s:16:\"PASTE_NO_BORDERS\";i:4;s:13:\"PASTE_FORMULA\";i:5;s:21:\"PASTE_DATA_VALIDATION\";i:6;s:28:\"PASTE_CONDITIONAL_FORMATTING\";}s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GridRange\";s:11:\"description\";s:25:\"The
  source range to copy.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"CopySheetToAnotherSpreadsheetRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  request to copy a sheet across spreadsheets.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"destinationSpreadsheetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  ID of the spreadsheet to copy the sheet to.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CreateDeveloperMetadataRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"A
  request to create developer metadata.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"developerMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DeveloperMetadata\";s:11:\"description\";s:33:\"The
  developer metadata to create.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CreateDeveloperMetadataResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  response from creating developer metadata.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"developerMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DeveloperMetadata\";s:11:\"description\";s:40:\"The
  developer metadata that was created.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CutPasteRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Moves
  data from the source to the destination.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GridCoordinate\";s:11:\"description\";s:56:\"The
  top-left coordinate where the data should be pasted.\";}s:9:\"pasteType\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"What
  kind of data to paste.  All the source data will be cut, regardless\nof what is
  pasted.\";s:4:\"enum\";a:7:{i:0;s:12:\"PASTE_NORMAL\";i:1;s:12:\"PASTE_VALUES\";i:2;s:12:\"PASTE_FORMAT\";i:3;s:16:\"PASTE_NO_BORDERS\";i:4;s:13:\"PASTE_FORMULA\";i:5;s:21:\"PASTE_DATA_VALIDATION\";i:6;s:28:\"PASTE_CONDITIONAL_FORMATTING\";}s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GridRange\";s:11:\"description\";s:23:\"The
  source data to cut.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"DataFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Filter
  that describes what data should be selected or returned from a\nrequest.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"a1Range\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Selects
  data that matches the specified A1 range.\";s:4:\"type\";s:6:\"string\";}s:23:\"developerMetadataLookup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/DeveloperMetadataLookup\";s:11:\"description\";s:116:\"Selects
  data associated with the developer metadata matching the criteria\ndescribed by
  this DeveloperMetadataLookup.\";}s:9:\"gridRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GridRange\";s:11:\"description\";s:63:\"Selects
  data that matches the range described by the GridRange.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DataFilterValueRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  range of values whose location is specified by a DataFilter.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"dataFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DataFilter\";s:11:\"description\";s:73:\"The
  data filter describing the location of the values in the spreadsheet.\";}s:14:\"majorDimension\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  major dimension of the values.\";s:4:\"enum\";a:3:{i:0;s:21:\"DIMENSION_UNSPECIFIED\";i:1;s:4:\"ROWS\";i:2;s:7:\"COLUMNS\";}s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:289:\"The
  data to be written.  If the provided values exceed any of the ranges\nmatched by
  the data filter then the request will fail.  If the provided\nvalues are less than
  the matched ranges only the specified values will be\nwritten, existing values in
  the matched ranges will remain unaffected.\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DataValidationRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"A
  data validation rule.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"condition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BooleanCondition\";s:11:\"description\";s:47:\"The
  condition that data in the cell must match.\";}s:12:\"inputMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"A
  message to show the user when adding data to the cell.\";s:4:\"type\";s:6:\"string\";}s:12:\"showCustomUi\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"True
  if the UI should be customized based on the kind of condition.\nIf true, \"List\"
  conditions will show a dropdown.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"strict\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"True
  if invalid data should be rejected.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DateTimeRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:808:\"Allows
  you to organize the date-time values in a source data column into\nbuckets based
  on selected parts of their date or time values. For example,\nconsider a pivot table
  showing sales transactions by date:\n\n    +----------+--------------+\n    | Date
  \    | SUM of Sales |\n    +----------+--------------+\n    | 1/1/2017 |      $621.14
  |\n    | 2/3/2017 |      $708.84 |\n    | 5/8/2017 |      $326.84 |\n    ...\n    +----------+--------------+\nApplying
  a date-time group rule with a DateTimeRuleType of YEAR_MONTH\nresults in the following
  pivot table.\n\n    +--------------+--------------+\n    | Grouped Date | SUM of
  Sales |\n    +--------------+--------------+\n    | 2017-Jan     |   $53,731.78
  |\n    | 2017-Feb     |   $83,475.32 |\n    | 2017-Mar     |   $94,385.05 |\n    ...\n
  \   +--------------+--------------+\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  type of date-time grouping to apply.\";s:4:\"enum\";a:16:{i:0;s:31:\"DATE_TIME_RULE_TYPE_UNSPECIFIED\";i:1;s:6:\"SECOND\";i:2;s:6:\"MINUTE\";i:3;s:4:\"HOUR\";i:4;s:11:\"HOUR_MINUTE\";i:5;s:16:\"HOUR_MINUTE_AMPM\";i:6;s:11:\"DAY_OF_WEEK\";i:7;s:11:\"DAY_OF_YEAR\";i:8;s:12:\"DAY_OF_MONTH\";i:9;s:9:\"DAY_MONTH\";i:10;s:5:\"MONTH\";i:11;s:7:\"QUARTER\";i:12;s:4:\"YEAR\";i:13;s:10:\"YEAR_MONTH\";i:14;s:12:\"YEAR_QUARTER\";i:15;s:14:\"YEAR_MONTH_DAY\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteBandingRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Removes
  the banded range with the given ID from the spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"bandedRangeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  ID of the banded range to delete.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:34:\"DeleteConditionalFormatRuleRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Deletes
  a conditional format rule at the given index.\nAll subsequent rules' indexes are
  decremented.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"index\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  zero-based index of the rule to be deleted.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"sheetId\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  sheet the rule is being deleted from.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DeleteConditionalFormatRuleResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  result of deleting a conditional format rule.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ConditionalFormatRule\";s:11:\"description\";s:26:\"The
  rule that was deleted.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DeleteDeveloperMetadataRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"A
  request to delete developer metadata.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"dataFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DataFilter\";s:11:\"description\";s:96:\"The
  data filter describing the criteria used to select which developer\nmetadata entry
  to delete.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DeleteDeveloperMetadataResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  response from deleting developer metadata.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"deletedDeveloperMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  metadata that was deleted.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DeveloperMetadata\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteDimensionGroupRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:291:\"Deletes
  a group over the specified range by decrementing the depth of the\ndimensions in
  the range.\n\nFor example, assume the sheet has a depth-1 group over B:E and a depth-2\ngroup
  over C:D. Deleting a group over D:E leaves the sheet with a\ndepth-1 group over
  B:D and a depth-2 group over C:C.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"range\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DimensionRange\";s:11:\"description\";s:37:\"The
  range of the group to be deleted.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteDimensionGroupResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  result of deleting a group.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"dimensionGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"All
  groups of a dimension after deleting a group from that dimension.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DimensionGroup\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteDimensionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Deletes
  the dimensions from the sheet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"range\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DimensionRange\";s:11:\"description\";s:40:\"The
  dimensions to delete from the sheet.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteEmbeddedObjectRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Deletes
  the embedded object with the given ID.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"objectId\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  ID of the embedded object to delete.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteFilterViewRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Deletes
  a particular filter view.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"filterId\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  ID of the filter to delete.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteNamedRangeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Removes
  the named range with the given ID from the spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"namedRangeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  ID of the named range to delete.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteProtectedRangeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Deletes
  the protected range with the given ID.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"protectedRangeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  ID of the protected range to delete.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteRangeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Deletes
  a range of cells, shifting other cells into the deleted area.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"range\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GridRange\";s:11:\"description\";s:29:\"The
  range of cells to delete.\";}s:14:\"shiftDimension\";O:8:\"stdClass\":3:{s:11:\"description\";s:216:\"The
  dimension from which deleted cells will be replaced with.\nIf ROWS, existing cells
  will be shifted upward to\nreplace the deleted cells. If COLUMNS, existing cells\nwill
  be shifted left to replace the deleted cells.\";s:4:\"enum\";a:3:{i:0;s:21:\"DIMENSION_UNSPECIFIED\";i:1;s:4:\"ROWS\";i:2;s:7:\"COLUMNS\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteSheetRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Deletes
  the requested sheet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"sheetId\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  ID of the sheet to delete.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DeveloperMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:561:\"Developer
  metadata associated with a location or object in a spreadsheet.\nDeveloper metadata
  may be used to associate arbitrary data with various\nparts of a spreadsheet and
  will remain associated at those locations as they\nmove around and the spreadsheet
  is edited.  For example, if developer\nmetadata is associated with row 5 and another
  row is then subsequently\ninserted above row 5, that original metadata will still
  be associated with\nthe row it was first associated with (what is now row 6). If
  the associated\nobject is deleted its metadata is deleted too.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/DeveloperMetadataLocation\";s:11:\"description\";s:46:\"The
  location where the metadata is associated.\";}s:10:\"metadataId\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"The
  spreadsheet-scoped unique ID that identifies the metadata. IDs may be\nspecified
  when metadata is created, otherwise one will be randomly\ngenerated and assigned.
  Must be positive.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"metadataKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"The
  metadata key. There may be multiple metadata in a spreadsheet with the\nsame key.
  \ Developer metadata must always have a key specified.\";s:4:\"type\";s:6:\"string\";}s:13:\"metadataValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Data
  associated with the metadata's key.\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  metadata visibility.  Developer metadata must always have a visibility\nspecified.\";s:4:\"enum\";a:3:{i:0;s:41:\"DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED\";i:1;s:8:\"DOCUMENT\";i:2;s:7:\"PROJECT\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DeveloperMetadataLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  location where metadata may be associated in a spreadsheet.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"dimensionRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DimensionRange\";s:11:\"description\";s:199:\"Represents
  the row or column when metadata is associated with\na dimension. The specified DimensionRange
  must represent a single row\nor column; it cannot be unbounded or span multiple
  rows or columns.\";}s:12:\"locationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  type of location this object represents.  This field is read-only.\";s:4:\"enum\";a:5:{i:0;s:44:\"DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED\";i:1;s:3:\"ROW\";i:2;s:6:\"COLUMN\";i:3;s:5:\"SHEET\";i:4;s:11:\"SPREADSHEET\";}s:4:\"type\";s:6:\"string\";}s:7:\"sheetId\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  ID of the sheet when metadata is associated with an entire sheet.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"spreadsheet\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"True
  when metadata is associated with an entire spreadsheet.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DeveloperMetadataLookup\";O:8:\"stdClass\":3:{s:11:\"description\";s:607:\"Selects
  DeveloperMetadata that matches all of the specified fields.  For\nexample, if only
  a metadata ID is specified this considers the\nDeveloperMetadata with that particular
  unique ID. If a metadata key is\nspecified, this considers all developer metadata
  with that key.  If a\nkey, visibility, and location type are all specified, this
  considers all\ndeveloper metadata with that key and visibility that are associated
  with a\nlocation of that type.  In general, this\nselects all DeveloperMetadata
  that matches the intersection of all the\nspecified fields; any field or combination
  of fields may be specified.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:24:\"locationMatchingStrategy\";O:8:\"stdClass\":3:{s:11:\"description\";s:428:\"Determines
  how this lookup matches the location.  If this field is\nspecified as EXACT, only
  developer metadata associated on the exact\nlocation specified is matched.  If this
  field is specified to INTERSECTING,\ndeveloper metadata associated on intersecting
  locations is also\nmatched.  If left unspecified, this field assumes a default value
  of\nINTERSECTING.\nIf this field is specified, a metadataLocation\nmust also be
  specified.\";s:4:\"enum\";a:3:{i:0;s:57:\"DEVELOPER_METADATA_LOCATION_MATCHING_STRATEGY_UNSPECIFIED\";i:1;s:14:\"EXACT_LOCATION\";i:2;s:21:\"INTERSECTING_LOCATION\";}s:4:\"type\";s:6:\"string\";}s:12:\"locationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:659:\"Limits
  the selected developer metadata to those entries which are\nassociated with locations
  of the specified type.  For example, when this\nfield is specified as ROW this lookup\nonly
  considers developer metadata associated on rows.  If the field is left\nunspecified,
  all location types are considered.  This field cannot be\nspecified as SPREADSHEET
  when\nthe locationMatchingStrategy\nis specified as INTERSECTING or when the\nmetadataLocation
  is specified as a\nnon-spreadsheet location: spreadsheet metadata cannot intersect
  any other\ndeveloper metadata location.  This field also must be left unspecified
  when\nthe locationMatchingStrategy\nis specified as EXACT.\";s:4:\"enum\";a:5:{i:0;s:44:\"DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED\";i:1;s:3:\"ROW\";i:2;s:6:\"COLUMN\";i:3;s:5:\"SHEET\";i:4;s:11:\"SPREADSHEET\";}s:4:\"type\";s:6:\"string\";}s:10:\"metadataId\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Limits
  the selected developer metadata to that which has a matching\nDeveloperMetadata.metadata_id.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"metadataKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Limits
  the selected developer metadata to that which has a matching\nDeveloperMetadata.metadata_key.\";s:4:\"type\";s:6:\"string\";}s:16:\"metadataLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/DeveloperMetadataLocation\";s:11:\"description\";s:218:\"Limits
  the selected developer metadata to those entries associated with\nthe specified
  location.  This field either matches exact locations or all\nintersecting locations
  according the specified\nlocationMatchingStrategy.\";}s:13:\"metadataValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Limits
  the selected developer metadata to that which has a matching\nDeveloperMetadata.metadata_value.\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:192:\"Limits
  the selected developer metadata to that which has a matching\nDeveloperMetadata.visibility.
  \ If left unspecified, all developer\nmetadata visibile to the requesting project
  is considered.\";s:4:\"enum\";a:3:{i:0;s:41:\"DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED\";i:1;s:8:\"DOCUMENT\";i:2;s:7:\"PROJECT\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DimensionGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"A
  group over an interval of rows or columns on a sheet, which can contain or\nbe contained
  within other groups. A group can be collapsed or expanded as a\nunit on the sheet.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"collapsed\";O:8:\"stdClass\":2:{s:11:\"description\";s:448:\"This
  field is true if this group is collapsed. A collapsed group remains\ncollapsed if
  an overlapping group at a shallower depth is expanded.\n\nA true value does not
  imply that all dimensions within the group are\nhidden, since a dimension's visibility
  can change independently from this\ngroup property. However, when this property
  is updated, all dimensions\nwithin it are set to hidden if this field is true, or
  set to visible if\nthis field is false.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"depth\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  depth of the group, representing how many groups have a range that\nwholly contains
  the range of this group.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"range\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DimensionRange\";s:11:\"description\";s:39:\"The
  range over which this group exists.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DimensionProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Properties
  about a dimension.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"developerMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  developer metadata associated with a single row or column.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DeveloperMetadata\";}s:4:\"type\";s:5:\"array\";}s:14:\"hiddenByFilter\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"True
  if this dimension is being filtered.\nThis field is read-only.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"hiddenByUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"True
  if this dimension is explicitly hidden.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"pixelSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  height (if a row) or width (if a column) of the dimension in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DimensionRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:218:\"A
  range along a single dimension on a sheet.\nAll indexes are zero-based.\nIndexes
  are half open: the start index is inclusive\nand the end index is exclusive.\nMissing
  indexes indicate the range is unbounded on that side.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"dimension\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  dimension of the span.\";s:4:\"enum\";a:3:{i:0;s:21:\"DIMENSION_UNSPECIFIED\";i:1;s:4:\"ROWS\";i:2;s:7:\"COLUMNS\";}s:4:\"type\";s:6:\"string\";}s:8:\"endIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  end (exclusive) of the span, or not set if unbounded.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"sheetId\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  sheet this span is on.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"startIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  start (inclusive) of the span, or not set if unbounded.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DuplicateFilterViewRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Duplicates
  a particular filter view.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"filterId\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  ID of the filter being duplicated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DuplicateFilterViewResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  result of a filter view being duplicated.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterView\";s:11:\"description\";s:25:\"The
  newly created filter.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DuplicateSheetRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Duplicates
  the contents of a sheet.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"insertSheetIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"The
  zero-based index where the new sheet should be inserted.\nThe index of all sheets
  after this are incremented.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"newSheetId\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"If
  set, the ID of the new sheet. If not set, an ID is chosen.\nIf set, the ID must
  not conflict with any existing sheet ID.\nIf set, it must be non-negative.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"newSheetName\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  name of the new sheet.  If empty, a new name is chosen for you.\";s:4:\"type\";s:6:\"string\";}s:13:\"sourceSheetId\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  sheet to duplicate.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DuplicateSheetResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  result of duplicating a sheet.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SheetProperties\";s:11:\"description\";s:38:\"The
  properties of the duplicate sheet.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Editors\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  editors of a protected range.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"domainUsersCanEdit\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"True
  if anyone in the document's domain has edit access to the protected\nrange.  Domain
  protection is only supported on documents within a domain.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"groups\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  email addresses of groups with edit access to the protected range.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"users\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  email addresses of users with edit access to the protected range.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"EmbeddedChart\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"A
  chart embedded in a sheet.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"chartId\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  ID of the chart.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"position\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/EmbeddedObjectPosition\";s:11:\"description\";s:26:\"The
  position of the chart.\";}s:4:\"spec\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ChartSpec\";s:11:\"description\";s:31:\"The
  specification of the chart.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"EmbeddedObjectPosition\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  position of an embedded object such as a chart.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"newSheet\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"If
  true, the embedded object is put on a new sheet whose ID\nis chosen for you. Used
  only when writing.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"overlayPosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/OverlayPosition\";s:11:\"description\";s:62:\"The
  position at which the object is overlaid on top of a grid.\";}s:7:\"sheetId\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  sheet this is on. Set only if the embedded object\nis on its own sheet. Must be
  non-negative.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ErrorValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"An
  error in a cell.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"A
  message with more information about the error\n(in the spreadsheet's locale).\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  type of error.\";s:4:\"enum\";a:10:{i:0;s:22:\"ERROR_TYPE_UNSPECIFIED\";i:1;s:5:\"ERROR\";i:2;s:10:\"NULL_VALUE\";i:3;s:14:\"DIVIDE_BY_ZERO\";i:4;s:5:\"VALUE\";i:5;s:3:\"REF\";i:6;s:4:\"NAME\";i:7;s:3:\"NUM\";i:8;s:3:\"N_A\";i:9;s:7:\"LOADING\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ExtendedValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  kinds of value that a cell in a spreadsheet can have.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"boolValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Represents
  a boolean value.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"errorValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ErrorValue\";s:11:\"description\";s:45:\"Represents
  an error.\nThis field is read-only.\";}s:12:\"formulaValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Represents
  a formula.\";s:4:\"type\";s:6:\"string\";}s:11:\"numberValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"Represents
  a double value.\nNote: Dates, Times and DateTimes are represented as doubles in\n\"serial
  number\" format.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"stringValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"Represents
  a string value.\nLeading single quotes are not included. For example, if the user
  typed\n`'123` into the UI, this would be represented as a `stringValue` of\n`\"123\"`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"FilterCriteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Criteria
  for showing/hiding rows in a filter or filter view.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"condition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/BooleanCondition\";s:11:\"description\";s:148:\"A
[...]
