---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"NASA\";s:3:\"url\";s:24:\"https://images.nasa.gov/\";}s:11:\"description\";s:184:\"Welcome
  to the NASA API portal. The objective of this site is to make NASA data, including
  imagery, eminently accessible to application developers. The api.nasa.gov catalog
  is growing.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:34:\"Creative Commons
  CC0 1.0 Universal\";s:3:\"url\";s:50:\"https://creativecommons.org/publicdomain/zero/1.0/\";}s:14:\"termsOfService\";s:53:\"https://www.nasa.gov/about/highlights/HP_Privacy.html\";s:5:\"title\";s:24:\"NASA
  Image and Video API\";s:7:\"version\";s:2:\"v1\";}"
host: images-api.nasa.gov
basePath: /
paths: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:12:\"MediaDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"media_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"nasa_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"center\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"type\";s:6:\"object\";}s:5:\"Links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"rel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"prompt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"total_hits\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}s:4:\"type\";s:6:\"object\";}s:9:\"MediaItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MediaDetails\";}}}s:4:\"type\";s:6:\"object\";}s:10:\"Collection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}s:8:\"metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Metadata\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/MediaItem\";}}}s:4:\"type\";s:6:\"object\";}s:9:\"MediaList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"collection\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Collection\";}}s:4:\"type\";s:6:\"object\";}}"
...
