---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1173:\"<p>AWS
  Batch enables you to run batch computing workloads on the AWS Cloud. Batch computing
  is a common way for developers, scientists, and engineers to access large amounts
  of compute resources, and AWS Batch removes the undifferentiated heavy lifting of
  configuring and managing the required infrastructure. AWS Batch will be familiar
  to users of traditional batch computing software. This service can efficiently provision
  resources in response to jobs submitted in order to eliminate capacity constraints,
  reduce compute costs, and deliver results quickly.</p> <p>As a fully managed service,
  AWS Batch enables developers, scientists, and engineers to run batch computing workloads
  of any scale. AWS Batch automatically provisions compute resources and optimizes
  the workload distribution based on the quantity and scale of the workloads. With
  AWS Batch, there is no need to install or manage batch computing software, which
  allows you to focus on analyzing results and solving problems. AWS Batch reduces
  operational complexities, saves time, and reduces costs, which makes it easy for
  developers, scientists, and engineers to run their batch jobs in the AWS Cloud.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:9:\"AWS
  Batch\";s:7:\"version\";s:10:\"2016-08-10\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:89:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/batch-2016-08-10.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:5:\"batch\";}"
host: batch.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":88:{s:18:\"ArrayJobDependency\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"N_TO_N\";i:1;s:10:\"SEQUENTIAL\";}s:4:\"type\";s:6:\"string\";}s:21:\"ArrayJobStatusSummary\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:15:\"ArrayProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"An
  object representing an AWS Batch array job.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:26:\"The
  size of the array job.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ArrayPropertiesDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"An
  object representing the array properties of a job.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"index\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:115:\"The
  job index within the array that is associated with this job. This parameter is returned
  for array job children.\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:76:\"The
  size of the array job. This parameter is returned for parent array jobs.\";}s:13:\"statusSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ArrayJobStatusSummary\";s:11:\"description\";s:125:\"A
  summary of the number of array job children in each available job status. This parameter
  is returned for parent array jobs.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ArrayPropertiesSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"An
  object representing the array properties of a job.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"index\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:119:\"The
  job index within the array that is associated with this job. This parameter is returned
  for children of array jobs.\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:76:\"The
  size of the array job. This parameter is returned for parent array jobs.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"AttemptContainerDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"An
  object representing the details of a container that is part of a job attempt.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"containerInstanceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:95:\"The
  Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job
  attempt.\";}s:8:\"exitCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:80:\"The
  exit code for the job attempt. A non-zero exit code is considered a failure.\";}s:13:\"logStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:237:\"The
  name of the CloudWatch Logs log stream associated with the container. The log group
  for AWS Batch jobs is <code>/aws/batch/job</code>. Each container attempt receives
  a log stream name when they reach the <code>RUNNING</code> status.\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:118:\"A
  short (255 max characters) human-readable string to provide additional details about
  a running or stopped container.\";}s:7:\"taskArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:187:\"The
  Amazon Resource Name (ARN) of the Amazon ECS task that is associated with the job
  attempt. Each container attempt receives a task ARN when they reach the <code>STARTING</code>
  status.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AttemptDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"An
  object representing a job attempt.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"container\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/AttemptContainerDetail\";s:11:\"description\";s:48:\"Details
  about the container in this job attempt.\";}s:9:\"startedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:186:\"The
  Unix time stamp (in seconds and milliseconds) for when the attempt was started (when
  the attempt transitioned from the <code>STARTING</code> state to the <code>RUNNING</code>
  state).\";}s:12:\"statusReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:105:\"A
  short, human-readable string to provide additional details about the current status
  of the job attempt.\";}s:9:\"stoppedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:226:\"The
  Unix time stamp (in seconds and milliseconds) for when the attempt was stopped (when
  the attempt transitioned from the <code>RUNNING</code> state to a terminal state,
  such as <code>SUCCEEDED</code> or <code>FAILED</code>).\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AttemptDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttemptDetail\";}s:4:\"type\";s:5:\"array\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"CEState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"ENABLED\";i:1;s:8:\"DISABLED\";}s:4:\"type\";s:6:\"string\";}s:8:\"CEStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:8:\"CREATING\";i:1;s:8:\"UPDATING\";i:2;s:8:\"DELETING\";i:3;s:7:\"DELETED\";i:4;s:5:\"VALID\";i:5;s:7:\"INVALID\";}s:4:\"type\";s:6:\"string\";}s:6:\"CEType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"MANAGED\";i:1;s:9:\"UNMANAGED\";}s:4:\"type\";s:6:\"string\";}s:6:\"CRType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:3:\"EC2\";i:1;s:4:\"SPOT\";}s:4:\"type\";s:6:\"string\";}s:16:\"CancelJobRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"jobId\";s:36:\"1d828f65-7a4d-42e8-996d-3b900ed59dc4\";s:6:\"reason\";s:15:\"Cancelling
  job.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"The
  AWS Batch job ID of the job to cancel.\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:214:\"A
  message to attach to the job that explains the reason for canceling it. This message
  is returned by future <a>DescribeJobs</a> operations on the job. This message is
  also recorded in the AWS Batch activity logs. \";}}s:8:\"required\";a:2:{i:0;s:5:\"jobId\";i:1;s:6:\"reason\";}s:4:\"type\";s:6:\"object\";}s:17:\"CancelJobResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"ClientException\";O:8:\"stdClass\":3:{s:11:\"description\";s:216:\"These
  errors are usually caused by a client action, such as using an action or resource
  on behalf of a user that doesn't have permissions to use the action or resource,
  or specifying an identifier that is not valid. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ComputeEnvironmentDetail\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"An
  object representing an AWS Batch compute environment.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:21:\"computeEnvironmentArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  Amazon Resource Name (ARN) of the compute environment. \";}s:22:\"computeEnvironmentName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:37:\"The
  name of the compute environment. \";}s:16:\"computeResources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComputeResource\";s:11:\"description\";s:59:\"The
  compute resources defined for the compute environment. \";}s:13:\"ecsClusterArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:101:\"The
  Amazon Resource Name (ARN) of the underlying Amazon ECS cluster used by the compute
  environment. \";}s:11:\"serviceRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:130:\"The
  service role associated with the compute environment that allows AWS Batch to make
  calls to AWS API operations on your behalf.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/CEState\";s:11:\"description\";s:258:\"The
  state of the compute environment. The valid values are <code>ENABLED</code> or <code>DISABLED</code>.
  An <code>ENABLED</code> state indicates that you can register instances with the
  compute environment and that the associated instances can accept jobs. \";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CEStatus\";s:11:\"description\";s:105:\"The
  current status of the compute environment (for example, <code>CREATING</code> or
  <code>VALID</code>).\";}s:12:\"statusReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:113:\"A
  short, human-readable string to provide additional details about the current status
  of the compute environment.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/CEType\";s:11:\"description\";s:36:\"The
  type of the compute environment.\";}}s:8:\"required\";a:3:{i:0;s:22:\"computeEnvironmentName\";i:1;s:21:\"computeEnvironmentArn\";i:2;s:13:\"ecsClusterArn\";}s:4:\"type\";s:6:\"object\";}s:28:\"ComputeEnvironmentDetailList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ComputeEnvironmentDetail\";}s:4:\"type\";s:5:\"array\";}s:23:\"ComputeEnvironmentOrder\";O:8:\"stdClass\":4:{s:11:\"description\";s:299:\"The
  order in which compute environments are tried for job placement within a queue.
  Compute environments are tried in ascending order. For example, if two compute environments
  are associated with a job queue, the compute environment with a lower order integer
  value is tried for job placement first.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"computeEnvironment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:58:\"The
  Amazon Resource Name (ARN) of the compute environment.\";}s:5:\"order\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:37:\"The
  order of the compute environment.\";}}s:8:\"required\";a:2:{i:0;s:5:\"order\";i:1;s:18:\"computeEnvironment\";}s:4:\"type\";s:6:\"object\";}s:24:\"ComputeEnvironmentOrders\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ComputeEnvironmentOrder\";}s:4:\"type\";s:5:\"array\";}s:15:\"ComputeResource\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"An
  object representing an AWS Batch compute resource.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"bidPercentage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:286:\"The
  minimum percentage that a Spot Instance price must be when compared with the On-Demand
  price for that instance type before instances are launched. For example, if your
  bid percentage is 20%, then the Spot price must be below 20% of the current On-Demand
  price for that EC2 instance.\";}s:12:\"desiredvCpus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:60:\"The
  desired number of EC2 vCPUS in the compute environment. \";}s:10:\"ec2KeyPair\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:80:\"The
  EC2 key pair that is used for instances launched in the compute environment.\";}s:7:\"imageId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:89:\"The
  Amazon Machine Image (AMI) ID used for instances launched in the compute environment.\";}s:12:\"instanceRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:481:\"The
  Amazon ECS instance profile applied to Amazon EC2 instances in a compute environment.
  You can specify the short name or full Amazon Resource Name (ARN) of an instance
  profile. For example, <code>ecsInstanceRole</code> or <code>arn:aws:iam::&lt;aws_account_id&gt;:instance-profile/ecsInstanceRole</code>.
  For more information, see <a href=\"http://docs.aws.amazon.com/batch/latest/userguide/instance_IAM_role.html\">Amazon
  ECS Instance Role</a> in the <i>AWS Batch User Guide</i>.\";}s:13:\"instanceTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:426:\"The
  instances types that may be launched. You can specify instance families to launch
  any instance type within those families (for example, <code>c4</code> or <code>p3</code>),
  or you can specify specific sizes within a family (such as <code>c4.8xlarge</code>).
  You can also choose <code>optimal</code> to pick instance types (from the latest
  C, M, and R instance families) on the fly that match the demand of your job queues.\";}s:8:\"maxvCpus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:63:\"The
  maximum number of EC2 vCPUs that an environment can reach. \";}s:8:\"minvCpus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:69:\"The
  minimum number of EC2 vCPUs that an environment should maintain. \";}s:16:\"securityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:94:\"The
  EC2 security group that is associated with instances launched in the compute environment.
  \";}s:16:\"spotIamFleetRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:120:\"The
  Amazon Resource Name (ARN) of the Amazon EC2 Spot Fleet IAM role applied to a <code>SPOT</code>
  compute environment.\";}s:7:\"subnets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:63:\"The
  VPC subnets into which the compute resources are launched. \";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagsMap\";s:11:\"description\";s:93:\"Key-value
  pair tags to be applied to resources that are launched in the compute environment.
  \";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/CRType\";s:11:\"description\";s:32:\"The
  type of compute environment.\";}}s:8:\"required\";a:7:{i:0;s:4:\"type\";i:1;s:8:\"minvCpus\";i:2;s:8:\"maxvCpus\";i:3;s:13:\"instanceTypes\";i:4;s:7:\"subnets\";i:5;s:16:\"securityGroupIds\";i:6;s:12:\"instanceRole\";}s:4:\"type\";s:6:\"object\";}s:21:\"ComputeResourceUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"An
  object representing the attributes of a compute environment that can be updated.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"desiredvCpus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:59:\"The
  desired number of EC2 vCPUS in the compute environment.\";}s:8:\"maxvCpus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:62:\"The
  maximum number of EC2 vCPUs that an environment can reach.\";}s:8:\"minvCpus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:68:\"The
  minimum number of EC2 vCPUs that an environment should maintain.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ContainerDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"An
  object representing the details of a container that is part of a job.\";s:10:\"properties\";O:8:\"stdClass\":17:{s:7:\"command\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:45:\"The
  command that is passed to the container. \";}s:20:\"containerInstanceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:91:\"The
  Amazon Resource Name (ARN) of the container instance on which the container is running.\";}s:11:\"environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EnvironmentVariables\";s:11:\"description\";s:232:\"<p>The
  environment variables to pass to a container.</p> <note> <p>Environment variables
  must not start with <code>AWS_BATCH</code>; this naming convention is reserved for
  variables that are set by the AWS Batch service.</p> </note>\";}s:8:\"exitCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:40:\"The
  exit code to return upon completion.\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"The
  image used to start the container.\";}s:10:\"jobRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:71:\"The
  Amazon Resource Name (ARN) associated with the job upon execution. \";}s:13:\"logStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:237:\"The
  name of the CloudWatch Logs log stream associated with the container. The log group
  for AWS Batch jobs is <code>/aws/batch/job</code>. Each container attempt receives
  a log stream name when they reach the <code>RUNNING</code> status.\";}s:6:\"memory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:49:\"The
  number of MiB of memory reserved for the job.\";}s:11:\"mountPoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MountPoints\";s:11:\"description\";s:52:\"The
  mount points for data volumes in your container.\";}s:10:\"privileged\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:143:\"When
  this parameter is true, the container is given elevated privileges on the host container
  instance (similar to the <code>root</code> user).\";}s:22:\"readonlyRootFilesystem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:93:\"When
  this parameter is true, the container is given read-only access to its root file
  system.\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:118:\"A
  short (255 max characters) human-readable string to provide additional details about
  a running or stopped container.\";}s:7:\"taskArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:189:\"The
  Amazon Resource Name (ARN) of the Amazon ECS task that is associated with the container
  job. Each container attempt receives a task ARN when they reach the <code>STARTING</code>
  status.\";}s:7:\"ulimits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Ulimits\";s:11:\"description\";s:61:\"A
  list of <code>ulimit</code> values to set in the container.\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:42:\"The
  user name to use inside the container.\";}s:5:\"vcpus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:43:\"The
  number of VCPUs allocated for the job. \";}s:7:\"volumes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Volumes\";s:11:\"description\";s:42:\"A
  list of volumes associated with the job.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ContainerOverrides\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  overrides that should be sent to a container.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"command\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:116:\"The
  command to send to the container that overrides the default command from the Docker
  image or the job definition.\";}s:11:\"environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EnvironmentVariables\";s:11:\"description\";s:417:\"<p>The
  environment variables to send to the container. You can add new environment variables,
  which are added to the container at launch, or you can override the existing environment
  variables from the Docker image or the job definition.</p> <note> <p>Environment
  variables must not start with <code>AWS_BATCH</code>; this naming convention is
  reserved for variables that are set by the AWS Batch service.</p> </note>\";}s:6:\"memory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:107:\"The
  number of MiB of memory reserved for the job. This value overrides the value set
  in the job definition.\";}s:5:\"vcpus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:107:\"The
  number of vCPUs to reserve for the container. This value overrides the value set
  in the job definition.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ContainerProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:109:\"Container
  properties are used in job definitions to describe the container that is launched
  as part of a job.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"command\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:593:\"The
  command that is passed to the container. This parameter maps to <code>Cmd</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker
  Remote API</a> and the <code>COMMAND</code> parameter to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>. For more information, see <a href=\"https://docs.docker.com/engine/reference/builder/#cmd\">https://docs.docker.com/engine/reference/builder/#cmd</a>.\";}s:11:\"environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EnvironmentVariables\";s:11:\"description\";s:769:\"<p>The
  environment variables to pass to a container. This parameter maps to <code>Env</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker
  Remote API</a> and the <code>--env</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.</p> <important> <p>We do not recommend using plaintext environment variables
  for sensitive information, such as credential data.</p> </important> <note> <p>Environment
  variables must not start with <code>AWS_BATCH</code>; this naming convention is
  reserved for variables that are set by the AWS Batch service.</p> </note>\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1453:\"<p>The
  image used to start a container. This string is passed directly to the Docker daemon.
  Images in the Docker Hub registry are available by default. Other repositories are
  specified with <code> <i>repository-url</i>/<i>image</i>:<i>tag</i> </code>. Up
  to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons,
  periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker
  Remote API</a> and the <code>IMAGE</code> parameter of <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.</p> <ul> <li> <p>Images in Amazon ECR repositories use the full registry
  and repository URI (for example, <code>012345678910.dkr.ecr.&lt;region-name&gt;.amazonaws.com/&lt;repository-name&gt;</code>).
  </p> </li> <li> <p>Images in official repositories on Docker Hub use a single name
  (for example, <code>ubuntu</code> or <code>mongo</code>).</p> </li> <li> <p>Images
  in other repositories on Docker Hub are qualified with an organization name (for
  example, <code>amazon/amazon-ecs-agent</code>).</p> </li> <li> <p>Images in other
  online repositories are qualified further by a domain name (for example, <code>quay.io/assemblyline/ubuntu</code>).</p>
  </li> </ul>\";}s:10:\"jobRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:97:\"The
  Amazon Resource Name (ARN) of the IAM role that the container can assume for AWS
  permissions.\";}s:6:\"memory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:917:\"<p>The
  hard limit (in MiB) of memory to present to the container. If your container attempts
  to exceed the memory specified here, the container is killed. This parameter maps
  to <code>Memory</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker
  Remote API</a> and the <code>--memory</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>. You must specify at least 4 MiB of memory for a job.</p> <note> <p>If you
  are trying to maximize your resource utilization by providing your jobs as much
  memory as possible for a particular instance type, see <a href=\"http://docs.aws.amazon.com/batch/latest/userguide/memory-management.html\">Memory
  Management</a> in the <i>AWS Batch User Guide</i>.</p> </note>\";}s:11:\"mountPoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MountPoints\";s:11:\"description\";s:454:\"The
  mount points for data volumes in your container. This parameter maps to <code>Volumes</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker
  Remote API</a> and the <code>--volume</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.\";}s:10:\"privileged\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:552:\"When
  this parameter is true, the container is given elevated privileges on the host container
  instance (similar to the <code>root</code> user). This parameter maps to <code>Privileged</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker
  Remote API</a> and the <code>--privileged</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.\";}s:22:\"readonlyRootFilesystem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:458:\"When
  this parameter is true, the container is given read-only access to its root file
  system. This parameter maps to <code>ReadonlyRootfs</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker
  Remote API</a> and the <code>--read-only</code> option to <code>docker run</code>.\";}s:7:\"ulimits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Ulimits\";s:11:\"description\";s:457:\"A
  list of <code>ulimits</code> to set in the container. This parameter maps to <code>Ulimits</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker
  Remote API</a> and the <code>--ulimit</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:439:\"The
  user name to use inside the container. This parameter maps to <code>User</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker
  Remote API</a> and the <code>--user</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.\";}s:5:\"vcpus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:536:\"The
  number of vCPUs reserved for the container. This parameter maps to <code>CpuShares</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/\">Docker
  Remote API</a> and the <code>--cpu-shares</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>. Each vCPU is equivalent to 1,024 CPU shares. You must specify at least
  one vCPU.\";}s:7:\"volumes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Volumes\";s:11:\"description\";s:37:\"A
  list of data volumes used in a job.\";}}s:8:\"required\";a:3:{i:0;s:5:\"image\";i:1;s:5:\"vcpus\";i:2;s:6:\"memory\";}s:4:\"type\";s:6:\"object\";}s:16:\"ContainerSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"An
  object representing summary details of a container within a job.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"exitCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:40:\"The
  exit code to return upon completion.\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:118:\"A
  short (255 max characters) human-readable string to provide additional details about
  a running or stopped container.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CreateComputeEnvironmentRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":5:{s:22:\"computeEnvironmentName\";s:6:\"M4Spot\";s:16:\"computeResources\";O:8:\"stdClass\":12:{s:13:\"bidPercentage\";i:20;s:12:\"desiredvCpus\";i:4;s:10:\"ec2KeyPair\";s:6:\"id_rsa\";s:12:\"instanceRole\";s:15:\"ecsInstanceRole\";s:13:\"instanceTypes\";a:1:{i:0;s:2:\"m4\";}s:8:\"maxvCpus\";i:128;s:8:\"minvCpus\";i:0;s:16:\"securityGroupIds\";a:1:{i:0;s:11:\"sg-cf5093b2\";}s:16:\"spotIamFleetRole\";s:54:\"arn:aws:iam::012345678910:role/aws-ec2-spot-fleet-role\";s:7:\"subnets\";a:3:{i:0;s:15:\"subnet-220c0e0a\";i:1;s:15:\"subnet-1a95556d\";i:2;s:15:\"subnet-978f6dce\";}s:4:\"tags\";O:8:\"stdClass\":1:{s:4:\"Name\";s:23:\"Batch
  Instance - M4Spot\";}s:4:\"type\";s:4:\"SPOT\";}s:11:\"serviceRole\";s:50:\"arn:aws:iam::012345678910:role/AWSBatchServiceRole\";s:5:\"state\";s:7:\"ENABLED\";s:4:\"type\";s:7:\"MANAGED\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:22:\"computeEnvironmentName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:130:\"The
  name for your compute environment. Up to 128 letters (uppercase and lowercase),
  numbers, hyphens, and underscores are allowed.\";}s:16:\"computeResources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComputeResource\";s:11:\"description\";s:129:\"Details
  of the compute resources managed by the compute environment. This parameter is required
  for managed compute environments.\";}s:11:\"serviceRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:710:\"<p>The
  full Amazon Resource Name (ARN) of the IAM role that allows AWS Batch to make calls
  to other AWS services on your behalf.</p> <p>If your specified role has a path other
  than <code>/</code>, then you must either specify the full role ARN (this is recommended)
  or prefix the role name with the path.</p> <note> <p>Depending on how you created
  your AWS Batch service role, its ARN may contain the <code>service-role</code> path
  prefix. When you only specify the name of the service role, AWS Batch assumes that
  your ARN does not use the <code>service-role</code> path prefix. Because of this,
  we recommend that you specify the full ARN of your service role when you create
  compute environments.</p> </note>\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/CEState\";s:11:\"description\";s:179:\"The
  state of the compute environment. If the state is <code>ENABLED</code>, then the
  compute environment accepts jobs from a queue and can scale out automatically based
  on queues.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/CEType\";s:11:\"description\";s:37:\"The
  type of the compute environment. \";}}s:8:\"required\";a:3:{i:0;s:22:\"computeEnvironmentName\";i:1;s:4:\"type\";i:2;s:11:\"serviceRole\";}s:4:\"type\";s:6:\"object\";}s:32:\"CreateComputeEnvironmentResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:21:\"computeEnvironmentArn\";s:63:\"arn:aws:batch:us-east-1:012345678910:compute-environment/M4Spot\";s:22:\"computeEnvironmentName\";s:6:\"M4Spot\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"computeEnvironmentArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  Amazon Resource Name (ARN) of the compute environment. \";}s:22:\"computeEnvironmentName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:36:\"The
  name of the compute environment.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreateJobQueueRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":4:{s:23:\"computeEnvironmentOrder\";a:2:{i:0;O:8:\"stdClass\":2:{s:18:\"computeEnvironment\";s:10:\"C4OnDemand\";s:5:\"order\";i:1;}i:1;O:8:\"stdClass\":2:{s:18:\"computeEnvironment\";s:6:\"M4Spot\";s:5:\"order\";i:2;}}s:12:\"jobQueueName\";s:12:\"HighPriority\";s:8:\"priority\";i:10;s:5:\"state\";s:7:\"ENABLED\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:23:\"computeEnvironmentOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ComputeEnvironmentOrders\";s:11:\"description\";s:376:\"The
  set of compute environments mapped to a job queue and their order relative to each
  other. The job scheduler uses this parameter to determine which compute environment
  should execute a given job. Compute environments must be in the <code>VALID</code>
  state before you can associate them with a job queue. You can associate up to three
  compute environments with a job queue.\";}s:12:\"jobQueueName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:26:\"The
  name of the job queue.\";}s:8:\"priority\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:398:\"The
  priority of the job queue. Job queues with a higher priority (or a higher integer
  value for the <code>priority</code> parameter) are evaluated first when associated
  with same compute environment. Priority is determined in descending order, for example,
  a job queue with a priority value of <code>10</code> is given scheduling preference
  over a job queue with a priority value of <code>1</code>.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JQState\";s:11:\"description\";s:102:\"The
  state of the job queue. If the job queue state is <code>ENABLED</code>, it is able
  to accept jobs.\";}}s:8:\"required\";a:3:{i:0;s:12:\"jobQueueName\";i:1;s:8:\"priority\";i:2;s:23:\"computeEnvironmentOrder\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateJobQueueResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:11:\"jobQueueArn\";s:59:\"arn:aws:batch:us-east-1:012345678910:job-queue/HighPriority\";s:12:\"jobQueueName\";s:12:\"HighPriority\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"jobQueueArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"The
  Amazon Resource Name (ARN) of the job queue.\";}s:12:\"jobQueueName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:26:\"The
  name of the job queue.\";}}s:8:\"required\";a:2:{i:0;s:12:\"jobQueueName\";i:1;s:11:\"jobQueueArn\";}s:4:\"type\";s:6:\"object\";}s:31:\"DeleteComputeEnvironmentRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:18:\"computeEnvironment\";s:10:\"P2OnDemand\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"computeEnvironment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:77:\"The
  name or Amazon Resource Name (ARN) of the compute environment to delete. \";}}s:8:\"required\";a:1:{i:0;s:18:\"computeEnvironment\";}s:4:\"type\";s:6:\"object\";}s:32:\"DeleteComputeEnvironmentResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteJobQueueRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"jobQueue\";s:5:\"GPGPU\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"jobQueue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:74:\"The
  short name or full Amazon Resource Name (ARN) of the queue to delete. \";}}s:8:\"required\";a:1:{i:0;s:8:\"jobQueue\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteJobQueueResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"DeregisterJobDefinitionRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:13:\"jobDefinition\";s:7:\"sleep10\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"jobDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:123:\"The
  name and revision (<code>name:revision</code>) or full Amazon Resource Name (ARN)
  of the job definition to deregister. \";}}s:8:\"required\";a:1:{i:0;s:13:\"jobDefinition\";}s:4:\"type\";s:6:\"object\";}s:31:\"DeregisterJobDefinitionResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"DescribeComputeEnvironmentsRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:19:\"computeEnvironments\";a:1:{i:0;s:10:\"P2OnDemand\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"computeEnvironments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:90:\"A
  list of up to 100 compute environment names or full Amazon Resource Name (ARN) entries.
  \";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:660:\"The
  maximum number of cluster results returned by <code>DescribeComputeEnvironments</code>
  in paginated output. When this parameter is used, <code>DescribeComputeEnvironments</code>
  only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code>
  response element. The remaining results of the initial request can be seen by sending
  another <code>DescribeComputeEnvironments</code> request with the returned <code>nextToken</code>
  value. This value can be between 1 and 100. If this parameter is not used, then
  <code>DescribeComputeEnvironments</code> returns up to 100 results and a <code>nextToken</code>
  value if applicable.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:567:\"<p>The
  <code>nextToken</code> value returned from a previous paginated <code>DescribeComputeEnvironments</code>
  request where <code>maxResults</code> was used and the results exceeded the value
  of that parameter. Pagination continues from the end of the previous results that
  returned the <code>nextToken</code> value. This value is <code>null</code> when
  there are no more results to return.</p> <note> <p>This token should be treated
  as an opaque identifier that is only used to retrieve the next items in a list and
  not for other programmatic purposes.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeComputeEnvironmentsResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:19:\"computeEnvironments\";a:1:{i:0;O:8:\"stdClass\":9:{s:21:\"computeEnvironmentArn\";s:67:\"arn:aws:batch:us-east-1:012345678910:compute-environment/P2OnDemand\";s:22:\"computeEnvironmentName\";s:10:\"P2OnDemand\";s:16:\"computeResources\";O:8:\"stdClass\":10:{s:12:\"desiredvCpus\";i:48;s:10:\"ec2KeyPair\";s:6:\"id_rsa\";s:12:\"instanceRole\";s:15:\"ecsInstanceRole\";s:13:\"instanceTypes\";a:1:{i:0;s:2:\"p2\";}s:8:\"maxvCpus\";i:128;s:8:\"minvCpus\";i:0;s:16:\"securityGroupIds\";a:1:{i:0;s:11:\"sg-cf5093b2\";}s:7:\"subnets\";a:3:{i:0;s:15:\"subnet-220c0e0a\";i:1;s:15:\"subnet-1a95556d\";i:2;s:15:\"subnet-978f6dce\";}s:4:\"tags\";O:8:\"stdClass\":1:{s:4:\"Name\";s:27:\"Batch
  Instance - P2OnDemand\";}s:4:\"type\";s:3:\"EC2\";}s:13:\"ecsClusterArn\";s:96:\"arn:aws:ecs:us-east-1:012345678910:cluster/P2OnDemand_Batch_2c06f29d-d1fe-3a49-879d-42394c86effc\";s:11:\"serviceRole\";s:50:\"arn:aws:iam::012345678910:role/AWSBatchServiceRole\";s:5:\"state\";s:7:\"ENABLED\";s:6:\"status\";s:5:\"VALID\";s:12:\"statusReason\";s:26:\"ComputeEnvironment
  Healthy\";s:4:\"type\";s:7:\"MANAGED\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"computeEnvironments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ComputeEnvironmentDetailList\";s:11:\"description\";s:33:\"The
  list of compute environments.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:338:\"The
  <code>nextToken</code> value to include in a future <code>DescribeComputeEnvironments</code>
  request. When the results of a <code>DescribeJobDefinitions</code> request exceed
  <code>maxResults</code>, this value can be used to retrieve the next page of results.
  This value is <code>null</code> when there are no more results to return.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeJobDefinitionsRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"status\";s:6:\"ACTIVE\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"jobDefinitionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:43:\"The
  name of the job definition to describe.\";}s:14:\"jobDefinitions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:100:\"A
  space-separated list of up to 100 job definition names or full Amazon Resource Name
  (ARN) entries.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:632:\"The
  maximum number of results returned by <code>DescribeJobDefinitions</code> in paginated
  output. When this parameter is used, <code>DescribeJobDefinitions</code> only returns
  <code>maxResults</code> results in a single page along with a <code>nextToken</code>
  response element. The remaining results of the initial request can be seen by sending
  another <code>DescribeJobDefinitions</code> request with the returned <code>nextToken</code>
  value. This value can be between 1 and 100. If this parameter is not used, then
  <code>DescribeJobDefinitions</code> returns up to 100 results and a <code>nextToken</code>
  value if applicable.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:562:\"<p>The
  <code>nextToken</code> value returned from a previous paginated <code>DescribeJobDefinitions</code>
  request where <code>maxResults</code> was used and the results exceeded the value
  of that parameter. Pagination continues from the end of the previous results that
  returned the <code>nextToken</code> value. This value is <code>null</code> when
  there are no more results to return.</p> <note> <p>This token should be treated
  as an opaque identifier that is only used to retrieve the next items in a list and
  not for other programmatic purposes.</p> </note>\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"The
  status with which to filter job definitions.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeJobDefinitionsResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"jobDefinitions\";a:1:{i:0;O:8:\"stdClass\":6:{s:19:\"containerProperties\";O:8:\"stdClass\":8:{s:7:\"command\";a:2:{i:0;s:5:\"sleep\";i:1;s:2:\"60\";}s:11:\"environment\";a:0:{}s:5:\"image\";s:7:\"busybox\";s:6:\"memory\";i:128;s:11:\"mountPoints\";a:0:{}s:7:\"ulimits\";a:0:{}s:5:\"vcpus\";i:1;s:7:\"volumes\";a:0:{}}s:16:\"jobDefinitionArn\";s:61:\"arn:aws:batch:us-east-1:012345678910:job-definition/sleep60:1\";s:17:\"jobDefinitionName\";s:7:\"sleep60\";s:8:\"revision\";i:1;s:6:\"status\";s:6:\"ACTIVE\";s:4:\"type\";s:9:\"container\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"jobDefinitions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/JobDefinitionList\";s:11:\"description\";s:29:\"The
  list of job definitions. \";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:333:\"The
  <code>nextToken</code> value to include in a future <code>DescribeJobDefinitions</code>
  request. When the results of a <code>DescribeJobDefinitions</code> request exceed
  <code>maxResults</code>, this value can be used to retrieve the next page of results.
  This value is <code>null</code> when there are no more results to return.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeJobQueuesRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"jobQueues\";a:1:{i:0;s:12:\"HighPriority\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"jobQueues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:81:\"A
  list of up to 100 queue names or full queue Amazon Resource Name (ARN) entries.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:612:\"The
  maximum number of results returned by <code>DescribeJobQueues</code> in paginated
  output. When this parameter is used, <code>DescribeJobQueues</code> only returns
  <code>maxResults</code> results in a single page along with a <code>nextToken</code>
  response element. The remaining results of the initial request can be seen by sending
  another <code>DescribeJobQueues</code> request with the returned <code>nextToken</code>
  value. This value can be between 1 and 100. If this parameter is not used, then
  <code>DescribeJobQueues</code> returns up to 100 results and a <code>nextToken</code>
  value if applicable.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:557:\"<p>The
  <code>nextToken</code> value returned from a previous paginated <code>DescribeJobQueues</code>
  request where <code>maxResults</code> was used and the results exceeded the value
  of that parameter. Pagination continues from the end of the previous results that
  returned the <code>nextToken</code> value. This value is <code>null</code> when
  there are no more results to return.</p> <note> <p>This token should be treated
  as an opaque identifier that is only used to retrieve the next items in a list and
  not for other programmatic purposes.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeJobQueuesResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"jobQueues\";a:1:{i:0;O:8:\"stdClass\":7:{s:23:\"computeEnvironmentOrder\";a:1:{i:0;O:8:\"stdClass\":2:{s:18:\"computeEnvironment\";s:67:\"arn:aws:batch:us-east-1:012345678910:compute-environment/C4OnDemand\";s:5:\"order\";i:1;}}s:11:\"jobQueueArn\";s:59:\"arn:aws:batch:us-east-1:012345678910:job-queue/HighPriority\";s:12:\"jobQueueName\";s:12:\"HighPriority\";s:8:\"priority\";i:1;s:5:\"state\";s:7:\"ENABLED\";s:6:\"status\";s:5:\"VALID\";s:12:\"statusReason\";s:16:\"JobQueue
  Healthy\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"jobQueues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/JobQueueDetailList\";s:11:\"description\";s:24:\"The
  list of job queues. \";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:323:\"The
  <code>nextToken</code> value to include in a future <code>DescribeJobQueues</code>
  request. When the results of a <code>DescribeJobQueues</code> request exceed <code>maxResults</code>,
  this value can be used to retrieve the next page of results. This value is <code>null</code>
  when there are no more results to return.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeJobsRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"jobs\";a:1:{i:0;s:36:\"24fa2d7a-64c4-49d2-8b47-f8da4fbde8e9\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"jobs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:44:\"A
  space-separated list of up to 100 job IDs.\";}}s:8:\"required\";a:1:{i:0;s:4:\"jobs\";}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeJobsResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"jobs\";a:1:{i:0;O:8:\"stdClass\":11:{s:9:\"container\";O:8:\"stdClass\":10:{s:7:\"command\";a:2:{i:0;s:5:\"sleep\";i:1;s:2:\"60\";}s:20:\"containerInstanceArn\";s:90:\"arn:aws:ecs:us-east-1:012345678910:container-instance/5406d7cd-58bd-4b8f-9936-48d7c6b1526c\";s:11:\"environment\";a:0:{}s:8:\"exitCode\";i:0;s:5:\"image\";s:7:\"busybox\";s:6:\"memory\";i:128;s:11:\"mountPoints\";a:0:{}s:7:\"ulimits\";a:0:{}s:5:\"vcpus\";i:1;s:7:\"volumes\";a:0:{}}s:9:\"createdAt\";i:1480460782010;s:9:\"dependsOn\";a:0:{}s:13:\"jobDefinition\";s:7:\"sleep60\";s:5:\"jobId\";s:36:\"24fa2d7a-64c4-49d2-8b47-f8da4fbde8e9\";s:7:\"jobName\";s:7:\"example\";s:8:\"jobQueue\";s:59:\"arn:aws:batch:us-east-1:012345678910:job-queue/HighPriority\";s:10:\"parameters\";O:8:\"stdClass\":0:{}s:9:\"startedAt\";i:1480460816500;s:6:\"status\";s:9:\"SUCCEEDED\";s:9:\"stoppedAt\";i:1480460880699;}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"jobs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/JobDetailList\";s:11:\"description\";s:18:\"The
  list of jobs. \";}}s:4:\"type\";s:6:\"object\";}s:20:\"EnvironmentVariables\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/KeyValuePair\";}s:4:\"type\";s:5:\"array\";}s:4:\"Host\";O:8:\"stdClass\":3:{s:11:\"description\";s:339:\"The
  contents of the <code>host</code> parameter determine whether your data volume persists
  on the host container instance and where it is stored. If the host parameter is
  empty, then the Docker daemon assigns a host path for your data volume, but the
  data is not guaranteed to persist after the containers associated with it stop running.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"sourcePath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:557:\"The
  path on the host container instance that is presented to the container. If this
  parameter is empty, then the Docker daemon has assigned a host path for you. If
  the <code>host</code> parameter contains a <code>sourcePath</code> file location,
  then the data volume persists at the specified location on the host container instance
  until you delete it manually. If the <code>sourcePath</code> value does not exist
  on the host container instance, the Docker daemon creates it. If the location does
  exist, the contents of the source path folder are exported.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"JQState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"ENABLED\";i:1;s:8:\"DISABLED\";}s:4:\"type\";s:6:\"string\";}s:8:\"JQStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:8:\"CREATING\";i:1;s:8:\"UPDATING\";i:2;s:8:\"DELETING\";i:3;s:7:\"DELETED\";i:4;s:5:\"VALID\";i:5;s:7:\"INVALID\";}s:4:\"type\";s:6:\"string\";}s:13:\"JobDefinition\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"An
  object representing an AWS Batch job definition.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:19:\"containerProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ContainerProperties\";s:11:\"description\";s:68:\"An
  object with various properties specific to container-based jobs. \";}s:16:\"jobDefinitionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:55:\"The
  Amazon Resource Name (ARN) for the job definition. \";}s:17:\"jobDefinitionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  name of the job definition. \";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ParametersMap\";s:11:\"description\";s:265:\"Default
  parameters or parameter substitution placeholders that are set in the job definition.
  Parameters are specified as a key-value pair mapping. Parameters in a <code>SubmitJob</code>
  request override any corresponding parameter defaults from the job definition.\";}s:13:\"retryStrategy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RetryStrategy\";s:11:\"description\";s:86:\"The
  retry strategy to use for failed jobs that are submitted with this job definition.\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:35:\"The
  revision of the job definition.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:33:\"The
  status of the job definition.\";}s:7:\"timeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JobTimeout\";s:11:\"description\";s:184:\"The
  timeout configuration for jobs that are submitted with this job definition. You
  can specify a timeout duration after which AWS Batch terminates your jobs if they
  have not finished.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"The
  type of job definition.\";}}s:8:\"required\";a:4:{i:0;s:17:\"jobDefinitionName\";i:1;s:16:\"jobDefinitionArn\";i:2;s:8:\"revision\";i:3;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:17:\"JobDefinitionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/JobDefinition\";}s:4:\"type\";s:5:\"array\";}s:17:\"JobDefinitionType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:9:\"container\";}s:4:\"type\";s:6:\"string\";}s:13:\"JobDependency\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"An
  object representing an AWS Batch job dependency.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:64:\"The
  job ID of the AWS Batch job associated with this dependency.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ArrayJobDependency\";s:11:\"description\";s:31:\"The
  type of the job dependency.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"JobDependencyList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/JobDependency\";}s:4:\"type\";s:5:\"array\";}s:9:\"JobDetail\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"An
  object representing an AWS Batch job.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:15:\"arrayProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ArrayPropertiesDetail\";s:11:\"description\";s:55:\"The
  array properties of the job, if it is an array job.\";}s:8:\"attempts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AttemptDetails\";s:11:\"description\";s:48:\"A
  list of job attempts associated with this job.\";}s:9:\"container\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ContainerDetail\";s:11:\"description\";s:84:\"An
  object representing the details of the container that is associated with the job.\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:345:\"The
  Unix time stamp (in seconds and milliseconds) for when the job was created. For
  non-array jobs and parent array jobs, this is when the job entered the <code>SUBMITTED</code>
  state (at the time <a>SubmitJob</a> was called). For array child jobs, this is when
  the child job was spawned by its parent and entered the <code>PENDING</code> state.\";}s:9:\"dependsOn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/JobDependencyList\";s:11:\"description\";s:53:\"A
  list of job names or IDs on which this job depends.\";}s:13:\"jobDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:44:\"The
  job definition that is used by this job.\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:19:\"The
  ID for the job.\";}s:7:\"jobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:20:\"The
  name of the job.\";}s:8:\"jobQueue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:81:\"The
  Amazon Resource Name (ARN) of the job queue with which the job is associated.\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ParametersMap\";s:11:\"description\";s:163:\"Additional
  parameters passed to the job that replace parameter substitution placeholders or
  override any corresponding parameter defaults from the job definition. \";}s:13:\"retryStrategy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RetryStrategy\";s:11:\"description\";s:59:\"The
  retry strategy to use for this job if an attempt fails.\";}s:9:\"startedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:178:\"The
  Unix time stamp (in seconds and milliseconds) for when the job was started (when
  the job transitioned from the <code>STARTING</code> state to the <code>RUNNING</code>
  state).\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:31:\"The
  current status for the job.\";}s:12:\"statusReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:98:\"A
  short, human-readable string to provide additional details about the current status
  of the job. \";}s:9:\"stoppedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:218:\"The
  Unix time stamp (in seconds and milliseconds) for when the job was stopped (when
  the job transitioned from the <code>RUNNING</code> state to a terminal state, such
  as <code>SUCCEEDED</code> or <code>FAILED</code>).\";}s:7:\"timeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JobTimeout\";s:11:\"description\";s:39:\"The
  timeout configuration for the job. \";}}s:8:\"required\";a:6:{i:0;s:7:\"jobName\";i:1;s:5:\"jobId\";i:2;s:8:\"jobQueue\";i:3;s:6:\"status\";i:4;s:9:\"startedAt\";i:5;s:13:\"jobDefinition\";}s:4:\"type\";s:6:\"object\";}s:13:\"JobDetailList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/JobDetail\";}s:4:\"type\";s:5:\"array\";}s:14:\"JobQueueDetail\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"An
  object representing the details of an AWS Batch job queue.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:23:\"computeEnvironmentOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ComputeEnvironmentOrders\";s:11:\"description\";s:182:\"The
  compute environments that are attached to the job queue and the order in which job
  placement is preferred. Compute environments are selected for job placement in ascending
  order.\";}s:11:\"jobQueueArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"The
  Amazon Resource Name (ARN) of the job queue.\";}s:12:\"jobQueueName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:26:\"The
  name of the job queue.\";}s:8:\"priority\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:31:\"The
  priority of the job queue. \";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JQState\";s:11:\"description\";s:54:\"Describes
  the ability of the queue to accept new jobs.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/JQStatus\";s:11:\"description\";s:87:\"The
  status of the job queue (for example, <code>CREATING</code> or <code>VALID</code>).\";}s:12:\"statusReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:103:\"A
  short, human-readable string to provide additional details about the current status
  of the job queue.\";}}s:8:\"required\";a:5:{i:0;s:12:\"jobQueueName\";i:1;s:11:\"jobQueueArn\";i:2;s:5:\"state\";i:3;s:8:\"priority\";i:4;s:23:\"computeEnvironmentOrder\";}s:4:\"type\";s:6:\"object\";}s:18:\"JobQueueDetailList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/JobQueueDetail\";}s:4:\"type\";s:5:\"array\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:9:\"SUBMITTED\";i:1;s:7:\"PENDING\";i:2;s:8:\"RUNNABLE\";i:3;s:8:\"STARTING\";i:4;s:7:\"RUNNING\";i:5;s:9:\"SUCCEEDED\";i:6;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:10:\"JobSummary\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"An
  object representing summary details of a job.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:15:\"arrayProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ArrayPropertiesSummary\";s:11:\"description\";s:55:\"The
  array properties of the job, if it is an array job.\";}s:9:\"container\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ContainerSummary\";s:11:\"description\";s:84:\"An
  object representing the details of the container that is associated with the job.\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:315:\"The
  Unix time stamp for when the job was created. For non-array jobs and parent array
  jobs, this is when the job entered the <code>SUBMITTED</code> state (at the time
  <a>SubmitJob</a> was called). For array child jobs, this is when the child job was
  spawned by its parent and entered the <code>PENDING</code> state.\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:18:\"The
  ID of the job.\";}s:7:\"jobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:20:\"The
  name of the job.\";}s:9:\"startedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:148:\"The
  Unix time stamp for when the job was started (when the job transitioned from the
  <code>STARTING</code> state to the <code>RUNNING</code> state).\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:31:\"The
  current status for the job.\";}s:12:\"statusReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:97:\"A
  short, human-readable string to provide additional details about the current status
  of the job.\";}s:9:\"stoppedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:188:\"The
  Unix time stamp for when the job was stopped (when the job transitioned from the
  <code>RUNNING</code> state to a terminal state, such as <code>SUCCEEDED</code> or
  <code>FAILED</code>).\";}}s:8:\"required\";a:2:{i:0;s:5:\"jobId\";i:1;s:7:\"jobName\";}s:4:\"type\";s:6:\"object\";}s:14:\"JobSummaryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/JobSummary\";}s:4:\"type\";s:5:\"array\";}s:10:\"JobTimeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"An
  object representing a job timeout configuration.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"attemptDurationSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:165:\"The
  time duration in seconds (measured from the job attempt's <code>startedAt</code>
  timestamp) after which AWS Batch terminates your jobs if they have not finished.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"KeyValuePair\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  key-value pair object.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:104:\"The
  name of the key-value pair. For environment variables, this is the name of the environment
  variable.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:106:\"The
  value of the key-value pair. For environment variables, this is the value of the
  environment variable.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ListJobsRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"jobQueue\";s:12:\"HighPriority\";s:9:\"jobStatus\";s:9:\"SUBMITTED\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"arrayJobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:129:\"The
  job ID for an array job. Specifying an array job ID with this parameter lists all
  child jobs from within the specified array.\";}s:8:\"jobQueue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:85:\"The
  name or full Amazon Resource Name (ARN) of the job queue with which to list jobs.\";}s:9:\"jobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:141:\"The
  job status with which to filter jobs in the specified queue. If you do not specify
  a status, only <code>RUNNING</code> jobs are returned.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:576:\"The
  maximum number of results returned by <code>ListJobs</code> in paginated output.
  When this parameter is used, <code>ListJobs</code> only returns <code>maxResults</code>
  results in a single page along with a <code>nextToken</code> response element. The
  remaining results of the initial request can be seen by sending another <code>ListJobs</code>
  request with the returned <code>nextToken</code> value. This value can be between
  1 and 100. If this parameter is not used, then <code>ListJobs</code> returns up
  to 100 results and a <code>nextToken</code> value if applicable.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:548:\"<p>The
  <code>nextToken</code> value returned from a previous paginated <code>ListJobs</code>
  request where <code>maxResults</code> was used and the results exceeded the value
  of that parameter. Pagination continues from the end of the previous results that
  returned the <code>nextToken</code> value. This value is <code>null</code> when
  there are no more results to return.</p> <note> <p>This token should be treated
  as an opaque identifier that is only used to retrieve the next items in a list and
  not for other programmatic purposes.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListJobsResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"jobSummaryList\";a:1:{i:0;O:8:\"stdClass\":2:{s:5:\"jobId\";s:36:\"68f0c163-fbd4-44e6-9fd1-25b14a434786\";s:7:\"jobName\";s:7:\"example\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"jobSummaryList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/JobSummaryList\";s:11:\"description\";s:47:\"A
  list of job summaries that match the request.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:305:\"The
  <code>nextToken</code> value to include in a future <code>ListJobs</code> request.
  When the results of a <code>ListJobs</code> request exceed <code>maxResults</code>,
  this value can be used to retrieve the next page of results. This value is <code>null</code>
  when there are no more results to return.\";}}s:8:\"required\";a:1:{i:0;s:14:\"jobSummaryList\";}s:4:\"type\";s:6:\"object\";}s:4:\"Long\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"MountPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Details
  on a Docker volume mount point that is used in a job's container properties.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"containerPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:60:\"The
  path on the container at which to mount the host volume.\";}s:8:\"readOnly\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:176:\"If
  this value is <code>true</code>, the container has read-only access to the volume;
  otherwise, the container can write to the volume. The default value is <code>false</code>.\";}s:12:\"sourceVolume\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  name of the volume to mount.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"MountPoints\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MountPoint\";}s:4:\"type\";s:5:\"array\";}s:13:\"ParametersMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:28:\"RegisterJobDefinitionRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:19:\"containerProperties\";O:8:\"stdClass\":4:{s:7:\"command\";a:2:{i:0;s:5:\"sleep\";i:1;s:2:\"10\";}s:5:\"image\";s:7:\"busybox\";s:6:\"memory\";i:128;s:5:\"vcpus\";i:1;}s:17:\"jobDefinitionName\";s:7:\"sleep10\";s:4:\"type\";s:9:\"container\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:19:\"containerProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ContainerProperties\";s:11:\"description\";s:157:\"An
  object with various properties specific for container-based jobs. This parameter
  is required if the <code>type</code> parameter is <code>container</code>.\";}s:17:\"jobDefinitionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:135:\"The
  name of the job definition to register. Up to 128 letters (uppercase and lowercase),
  numbers, hyphens, and underscores are allowed.\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ParametersMap\";s:11:\"description\";s:245:\"Default
  parameter substitution placeholders to set in the job definition. Parameters are
  specified as a key-value pair mapping. Parameters in a <code>SubmitJob</code> request
  override any corresponding parameter defaults from the job definition.\";}s:13:\"retryStrategy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RetryStrategy\";s:11:\"description\";s:263:\"The
  retry strategy to use for failed jobs that are submitted with this job definition.
  Any retry strategy that is specified during a <a>SubmitJob</a> operation overrides
  the retry strategy defined here. If a job is terminated due to a timeout, it is
  not retried. \";}s:7:\"timeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JobTimeout\";s:11:\"description\";s:582:\"The
  timeout configuration for jobs that are submitted with this job definition, after
  which AWS Batch terminates your jobs if they have not finished. If a job is terminated
  due to a timeout, it is not retried. The minimum value for the timeout is 60 seconds.
  Any timeout configuration that is specified during a <a>SubmitJob</a> operation
  overrides the timeout configuration defined here. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/job_timeouts.html\">Job
  Timeouts</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/JobDefinitionType\";s:11:\"description\";s:27:\"The
  type of job definition.\";}}s:8:\"required\";a:2:{i:0;s:17:\"jobDefinitionName\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:29:\"RegisterJobDefinitionResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:16:\"jobDefinitionArn\";s:61:\"arn:aws:batch:us-east-1:012345678910:job-definition/sleep10:1\";s:17:\"jobDefinitionName\";s:7:\"sleep10\";s:8:\"revision\";i:1;}s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"jobDefinitionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:54:\"The
  Amazon Resource Name (ARN) of the job definition. \";}s:17:\"jobDefinitionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:31:\"The
  name of the job definition.\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:35:\"The
  revision of the job definition.\";}}s:8:\"required\";a:3:{i:0;s:17:\"jobDefinitionName\";i:1;s:16:\"jobDefinitionArn\";i:2;s:8:\"revision\";}s:4:\"type\";s:6:\"object\";}s:13:\"RetryStrategy\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  retry strategy associated with a job.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"attempts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:264:\"The
  number of times to move a job to the <code>RUNNABLE</code> status. You may specify
  between 1 and 10 attempts. If the value of <code>attempts</code> is greater than
  one, the job is retried if it fails until it has moved to <code>RUNNABLE</code>
  that many times.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ServerException\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"These
  errors are usually caused by a server issue.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"StringList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:16:\"SubmitJobRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:13:\"jobDefinition\";s:7:\"sleep60\";s:7:\"jobName\";s:7:\"example\";s:8:\"jobQueue\";s:12:\"HighPriority\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:15:\"arrayProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ArrayProperties\";s:11:\"description\";s:339:\"The
  array properties for the submitted job, such as the size of the array. The array
  size can be between 2 and 10,000. If you specify array properties for a job, it
  becomes an array job. For more information, see <a href=\"http://docs.aws.amazon.com/batch/latest/userguide/array_jobs.html\">Array
  Jobs</a> in the <i>AWS Batch User Guide</i>.\";}s:18:\"containerOverrides\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ContainerOverrides\";s:11:\"description\";s:512:\"A
  list of container overrides in JSON format that specify the name of a container
  in the specified job definition and the overrides it should receive. You can override
  the default command for a container (that is specified in the job definition or
  the Docker image) with a <code>command</code> override. You can also override existing
  environment variables (that are specified in the job definition or Docker image)
  on a container or add new environment variables to it with an <code>environment</code>
  override.\";}s:9:\"dependsOn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/JobDependencyList\";s:11:\"description\";s:476:\"A
  list of dependencies for the job. A job can depend upon a maximum of 20 jobs. You
  can specify a <code>SEQUENTIAL</code> type dependency without specifying a job ID
  for array jobs so that each child array job completes sequentially, starting at
  index 0. You can also specify an <code>N_TO_N</code> type dependency with a job
  ID for array jobs so that each index child of this job must wait for the corresponding
  index child of each dependency to complete before it can begin.\";}s:13:\"jobDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:148:\"The
  job definition used by this job. This value can be either a <code>name:revision</code>
  or the Amazon Resource Name (ARN) for the job definition.\";}s:7:\"jobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:159:\"The
  name of the job. The first character must be alphanumeric, and up to 128 letters
  (uppercase and lowercase), numbers, hyphens, and underscores are allowed. \";}s:8:\"jobQueue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:127:\"The
  job queue into which the job is submitted. You can specify either the name or the
  Amazon Resource Name (ARN) of the queue. \";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ParametersMap\";s:11:\"description\";s:300:\"Additional
  parameters passed to the job that replace parameter substitution placeholders that
  are set in the job definition. Parameters are specified as a key and value pair
  mapping. Parameters in a <code>SubmitJob</code> request override any corresponding
  parameter defaults from the job definition.\";}s:13:\"retryStrategy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RetryStrategy\";s:11:\"description\";s:183:\"The
  retry strategy to use for failed jobs from this <a>SubmitJob</a> operation. When
  a retry strategy is specified here, it overrides the retry strategy defined in the
  job definition.\";}s:7:\"timeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JobTimeout\";s:11:\"description\";s:640:\"The
  timeout configuration for this <a>SubmitJob</a> operation. You can specify a timeout
  duration after which AWS Batch terminates your jobs if they have not finished. If
  a job is terminated due to a timeout, it is not retried. The minimum value for the
  timeout is 60 seconds. This configuration overrides any timeout configuration specified
  in the job definition. For array jobs, child jobs have the same timeout configuration
  as the parent job. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/job_timeouts.html\">Job
  Timeouts</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.\";}}s:8:\"required\";a:3:{i:0;s:7:\"jobName\";i:1;s:8:\"jobQueue\";i:2;s:13:\"jobDefinition\";}s:4:\"type\";s:6:\"object\";}s:17:\"SubmitJobResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"jobId\";s:36:\"876da822-4198-45f2-a252-6cea32512ea8\";s:7:\"jobName\";s:7:\"example\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"The
  unique identifier for the job.\";}s:7:\"jobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:21:\"The
  name of the job. \";}}s:8:\"required\";a:2:{i:0;s:7:\"jobName\";i:1;s:5:\"jobId\";}s:4:\"type\";s:6:\"object\";}s:7:\"TagsMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:19:\"TerminateJobRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"jobId\";s:36:\"61e743ed-35e4-48da-b2de-5c8333821c84\";s:6:\"reason\";s:16:\"Terminating
  job.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:45:\"The
  AWS Batch job ID of the job to terminate.\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:214:\"A
  message to attach to the job that explains the reason for canceling it. This message
  is returned by future <a>DescribeJobs</a> operations on the job. This message is
  also recorded in the AWS Batch activity logs. \";}}s:8:\"required\";a:2:{i:0;s:5:\"jobId\";i:1;s:6:\"reason\";}s:4:\"type\";s:6:\"object\";}s:20:\"TerminateJobResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:6:\"Ulimit\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"The
  <code>ulimit</code> settings to pass to the container.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"hardLimit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:48:\"The
  hard limit for the <code>ulimit</code> type.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"The
  <code>type</code> of the <code>ulimit</code>.\";}s:9:\"softLimit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:48:\"The
  soft limit for the <code>ulimit</code> type.\";}}s:8:\"required\";a:3:{i:0;s:9:\"hardLimit\";i:1;s:4:\"name\";i:2;s:9:\"softLimit\";}s:4:\"type\";s:6:\"object\";}s:7:\"Ulimits\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Ulimit\";}s:4:\"type\";s:5:\"array\";}s:31:\"UpdateComputeEnvironmentRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:18:\"computeEnvironment\";s:10:\"P2OnDemand\";s:5:\"state\";s:8:\"DISABLED\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"computeEnvironment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:81:\"The
  name or full Amazon Resource Name (ARN) of the compute environment to update.\";}s:16:\"computeResources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ComputeResourceUpdate\";s:11:\"description\";s:112:\"Details
  of the compute resources managed by the compute environment. Required for a managed
  compute environment.\";}s:11:\"serviceRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:710:\"<p>The
  full Amazon Resource Name (ARN) of the IAM role that allows AWS Batch to make calls
  to other AWS services on your behalf.</p> <p>If your specified role has a path other
  than <code>/</code>, then you must either specify the full role ARN (this is recommended)
  or prefix the role name with the path.</p> <note> <p>Depending on how you created
  your AWS Batch service role, its ARN may contain the <code>service-role</code> path
  prefix. When you only specify the name of the service role, AWS Batch assumes that
  your ARN does not use the <code>service-role</code> path prefix. Because of this,
  we recommend that you specify the full ARN of your service role when you create
  compute environments.</p> </note>\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/CEState\";s:11:\"description\";s:210:\"The
  state of the compute environment. Compute environments in the <code>ENABLED</code>
  state can accept jobs from a queue and scale in or out automatically based on the
  workload demand of its associated queues.\";}}s:8:\"required\";a:1:{i:0;s:18:\"computeEnvironment\";}s:4:\"type\";s:6:\"object\";}s:32:\"UpdateComputeEnvironmentResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:21:\"computeEnvironmentArn\";s:67:\"arn:aws:batch:us-east-1:012345678910:compute-environment/P2OnDemand\";s:22:\"computeEnvironmentName\";s:10:\"P2OnDemand\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"computeEnvironmentArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:59:\"The
  Amazon Resource Name (ARN) of the compute environment. \";}s:22:\"computeEnvironmentName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  name of compute environment.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"UpdateJobQueueRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"jobQueue\";s:5:\"GPGPU\";s:5:\"state\";s:8:\"DISABLED\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:23:\"computeEnvironmentOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ComputeEnvironmentOrders\";s:11:\"description\";s:225:\"Details
  the set of compute environments mapped to a job queue and their order relative to
  each other. This is one of the parameters used by the job scheduler to determine
  which compute environment should execute a given job. \";}s:8:\"jobQueue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:60:\"The
  name or the Amazon Resource Name (ARN) of the job queue.\";}s:8:\"priority\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:398:\"The
  priority of the job queue. Job queues with a higher priority (or a higher integer
  value for the <code>priority</code> parameter) are evaluated first when associated
  with same compute environment. Priority is determined in descending order, for example,
  a job queue with a priority value of <code>10</code> is given scheduling preference
  over a job queue with a priority value of <code>1</code>.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JQState\";s:11:\"description\";s:49:\"Describes
  the queue's ability to accept new jobs.\";}}s:8:\"required\";a:1:{i:0;s:8:\"jobQueue\";}s:4:\"type\";s:6:\"object\";}s:22:\"UpdateJobQueueResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:11:\"jobQueueArn\";s:52:\"arn:aws:batch:us-east-1:012345678910:job-queue/GPGPU\";s:12:\"jobQueueName\";s:5:\"GPGPU\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"jobQueueArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"The
  Amazon Resource Name (ARN) of the job queue.\";}s:12:\"jobQueueName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:26:\"The
  name of the job queue.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Volume\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"A
  data volume used in a job's container properties.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"host\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Host\";s:11:\"description\";s:344:\"The
  contents of the <code>host</code> parameter determine whether your data volume persists
  on the host container instance and where it is stored. If the host parameter is
  empty, then the Docker daemon assigns a host path for your data volume. However,
  the data is not guaranteed to persist after the containers associated with it stop
  running.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:232:\"The
  name of the volume. Up to 255 letters (uppercase and lowercase), numbers, hyphens,
  and underscores are allowed. This name is referenced in the <code>sourceVolume</code>
  parameter of container definition <code>mountPoints</code>.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Volumes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Volume\";}s:4:\"type\";s:5:\"array\";}}"
...
