---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:8:\"AGCOcorp\";}s:5:\"title\";s:8:\"AGCO
  API\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_AGCOcorp_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:47:\"https://secure.agco-ats.com:443/swagger/docs/v1\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:12:\"agco-ats.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"agco_ats\";s:4:\"type\";s:7:\"openapi\";}}"
host: secure.agco-ats.com
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":114:{s:28:\"AGCOPowerServices.Models.ECU\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"An
  AGCO Power ECU\";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"ActivationCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  code used to activate the ECU. May not be modified. Returned only on activation.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:18:\"DamagedDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"A
  description why the ECU cannot be deactivated.\";s:7:\"pattern\";s:21:\"^[a-zA-Z0-9]{0,4096}$\";s:4:\"type\";s:6:\"string\";}s:18:\"EngineSerialNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  serial number of the ECU\u2019s engine\";s:7:\"pattern\";s:85:\"(^[A-Z][0-9]+$)|(^[ABCDEFGHJKLMNPRSTVWX1-9][5CMB][ED][0-5][0-9][0-7][0-9][0-9][0-9]$)\";s:4:\"type\";s:6:\"string\";}s:23:\"ReplacesECUSerialNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  serial number of the ECU that this ECU replaces. Required if activating an ECU..\";s:7:\"pattern\";s:10:\"^0?\\d{23}$\";s:4:\"type\";s:6:\"string\";}s:12:\"SerialNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  serial number of the ECU\";s:7:\"pattern\";s:10:\"^0?\\d{23}$\";s:4:\"type\";s:6:\"string\";}s:5:\"State\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  state of the ECU\";s:4:\"enum\";a:3:{i:0;s:6:\"Active\";i:1;s:8:\"Inactive\";i:2;s:7:\"Damaged\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:12:\"SerialNumber\";i:1;s:18:\"EngineSerialNumber\";i:2;s:5:\"State\";}s:4:\"type\";s:6:\"object\";}s:39:\"AGCOPowerServices.Models.ProductionData\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Production
  data for an AGCO Power engine.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"DataType\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Type
  of data. Valid types are (but not limited to)\r\n            'PowerCalibration'\";s:4:\"type\";s:6:\"string\";}s:10:\"DataValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Raw
  values of the calibration data\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"DataType\";i:1;s:10:\"DataValues\";}s:4:\"type\";s:6:\"object\";}s:35:\"AGCOPowerServices.Models.UserStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Status
  of a voucher in the AGCO Power system\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"DealerCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  dealer code of the voucher\";s:4:\"type\";s:6:\"string\";}s:5:\"State\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  state of the voucher\";s:4:\"enum\";a:3:{i:0;s:6:\"Active\";i:1;s:8:\"Inactive\";i:2;s:4:\"None\";}s:4:\"type\";s:6:\"string\";}s:11:\"VoucherCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  voucher code\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"VoucherCode\";i:1;s:10:\"DealerCode\";}s:4:\"type\";s:6:\"object\";}s:80:\"API.IPagedResponse[AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:74:\"#/definitions/AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}s:70:\"API.IPagedResponse[AuthorizationCodes.Shared.Models.AuthorizationCode]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/AuthorizationCodes.Shared.Models.AuthorizationCode\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}s:19:\"API.Models.ApiError\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"DeveloperMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"MoreInfo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"UserMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"API.Models.AuthenticatedUser\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"Email\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  user's email address\";s:4:\"type\";s:6:\"string\";}s:5:\"MACId\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  MAC identifier to use for API access\";s:4:\"type\";s:6:\"string\";}s:8:\"MACToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  MAC token to use for API access\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  user's name\";s:4:\"type\";s:6:\"string\";}s:5:\"Token\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  token to use for API access\";s:4:\"type\";s:6:\"string\";}s:6:\"UserID\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  user ID\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  username used for authentication\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"API.Models.Credentials\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"BearerAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  action to perform on the bearer token. Optional. Defaults to \u2018None\u2019.\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:5:\"Reset\";i:2;s:7:\"Disable\";}s:4:\"type\";s:6:\"string\";}s:9:\"MACAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  action to perform on the MAC token. Optional. Defaults to \u2018None\u2019.\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:5:\"Reset\";i:2;s:7:\"Disable\";}s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"A
  secret word or phrase that must be used to gain admission\";s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"A
  unique ID a user needs to login with\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"username\";i:1;s:8:\"password\";}s:4:\"type\";s:6:\"object\";}s:14:\"API.Models.Log\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"TimeStamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"API.Models.Notification\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"CC_Addresses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"IsBodyHtml\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"MessageBody\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"To_Addresses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:4:{i:0;s:12:\"To_Addresses\";i:1;s:7:\"Subject\";i:2;s:11:\"MessageBody\";i:3;s:10:\"IsBodyHtml\";}s:4:\"type\";s:6:\"object\";}s:24:\"API.Models.PasswordReset\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"NewPassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  new password\";s:4:\"type\";s:6:\"string\";}s:5:\"Token\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  password reset token\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"Token\";i:1;s:11:\"NewPassword\";}s:4:\"type\";s:6:\"object\";}s:31:\"API.Models.PasswordResetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"ParameterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  query string parameter name to use for supplying the password reset token\";s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  URL to direct the user to reset the password.\";s:4:\"type\";s:6:\"string\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  username to reset the password for\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:8:\"Username\";i:1;s:3:\"Url\";i:2;s:13:\"ParameterName\";}s:4:\"type\";s:6:\"object\";}s:21:\"API.Models.Permission\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"DataDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Description
  of data to be provided with Role Authorization\";s:4:\"type\";s:6:\"string\";}s:12:\"DataRequired\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Indicates
  if data is required or optional\";s:4:\"enum\";a:3:{i:0;s:3:\"Yes\";i:1;s:2:\"No\";i:2;s:8:\"Optional\";}s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  identifier of the permission.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  name of the permission.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:12:\"DataRequired\";}s:4:\"type\";s:6:\"object\";}s:15:\"API.Models.Role\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Defines
  an API Role\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Role
  description\";s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  role's identifier.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  name of the role. Must be alpha-numeric strings separated by a period (.).\";s:7:\"pattern\";s:31:\"^[0-9a-zA-Z]+(\\.[0-9a-zA-Z]+)*$\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:11:\"Description\";}s:4:\"type\";s:6:\"object\";}s:31:\"API.Models.RolePermissionChange\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Change
  to the Permissions that a Role is given.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Action\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  action to take.\";s:4:\"enum\";a:2:{i:0;s:5:\"Grant\";i:1;s:6:\"Revoke\";}s:4:\"type\";s:6:\"string\";}s:10:\"Permission\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  name of the permission to grant or revoke.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"Permission\";i:1;s:6:\"Action\";}s:4:\"type\";s:6:\"object\";}s:25:\"API.Models.RoleUserChange\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Action\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  action to take with the user\";s:4:\"enum\";a:2:{i:0;s:5:\"Grant\";i:1;s:6:\"Revoke\";}s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  Id of the User\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:2:\"Id\";i:1;s:6:\"Action\";}s:4:\"type\";s:6:\"object\";}s:23:\"API.Models.TokenOptions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"BearerAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  action to perform on the bearer token. Optional. Defaults to \u2018None\u2019.\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:5:\"Reset\";i:2;s:7:\"Disable\";}s:4:\"type\";s:6:\"string\";}s:9:\"MACAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  action to perform on the MAC token. Optional. Defaults to \u2018None\u2019.\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:5:\"Reset\";i:2;s:7:\"Disable\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"API.Models.User\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"ChangePassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Never
  Returned.  When changing a user's password, this field must contain the new password.\";s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  user's email address\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  user's name\";s:4:\"type\";s:6:\"string\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"Never
  Returned.  Required when creating a new user or updating a user.  When changing
  a user's password this field must contain the current password.\";s:4:\"type\";s:6:\"string\";}s:6:\"UserID\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  user ID\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  username used for authentication\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"API.Models.UserEffectivePermission\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"PermissionId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"PermissionName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"UserID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:25:\"API.Models.UserRoleChange\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Action\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  action to take with the role\";s:4:\"enum\";a:2:{i:0;s:5:\"Grant\";i:1;s:6:\"Revoke\";}s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  name of the role\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:6:\"Action\";}s:4:\"type\";s:6:\"object\";}s:25:\"API.PagedResponseMetadata\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Metadata
  for the paged response\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  number of entities this paged response is limited to.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:6:\"Offset\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  number of entities prior to this page of items.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:10:\"TotalCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  total number of entities matching the request.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:10:\"TotalCount\";i:1;s:5:\"Limit\";i:2;s:6:\"Offset\";}s:4:\"type\";s:6:\"object\";}s:33:\"API.PagedResponse[API.Models.Log]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/API.Models.Log\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:40:\"API.PagedResponse[API.Models.Permission]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/API.Models.Permission\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:34:\"API.PagedResponse[API.Models.Role]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/API.Models.Role\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:53:\"API.PagedResponse[API.Models.UserEffectivePermission]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/API.Models.UserEffectivePermission\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:34:\"API.PagedResponse[API.Models.User]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/API.Models.User\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:53:\"API.PagedResponse[BuildSystem.Shared.DTO.ActivityRun]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/BuildSystem.Shared.DTO.ActivityRun\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:50:\"API.PagedResponse[BuildSystem.Shared.DTO.Activity]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/BuildSystem.Shared.DTO.Activity\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:47:\"API.PagedResponse[BuildSystem.Shared.DTO.Agent]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/BuildSystem.Shared.DTO.Agent\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:48:\"API.PagedResponse[BuildSystem.Shared.DTO.JobRun]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/BuildSystem.Shared.DTO.JobRun\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:45:\"API.PagedResponse[BuildSystem.Shared.DTO.Job]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BuildSystem.Shared.DTO.Job\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:46:\"API.PagedResponse[BuildSystem.Shared.DTO.Step]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/BuildSystem.Shared.DTO.Step\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:78:\"API.PagedResponse[ContentSubmission.Shared.BusinessEntities.ContentDefinition]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentDefinition\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:82:\"API.PagedResponse[ContentSubmission.Shared.BusinessEntities.ContentReleaseVersion]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:77:\"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentReleaseVersion\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:78:\"API.PagedResponse[ContentSubmission.Shared.BusinessEntities.ContentSubmission]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/ContentSubmission.Shared.BusinessEntities.ContentSubmission\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:68:\"API.PagedResponse[ContentSubmission.Shared.BusinessEntities.Release]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:63:\"#/definitions/ContentSubmission.Shared.BusinessEntities.Release\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:82:\"API.PagedResponse[ContentSubmission.Shared.BusinessEntities.UserContentDefinition]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:77:\"#/definitions/ContentSubmission.Shared.BusinessEntities.UserContentDefinition\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:41:\"API.PagedResponse[DealerDB.Models.Dealer]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DealerDB.Models.Dealer\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:52:\"API.PagedResponse[DealerDB.Models.DealersPerCountry]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/DealerDB.Models.DealersPerCountry\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:42:\"API.PagedResponse[DealerDB.Models.License]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/DealerDB.Models.License\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:49:\"API.PagedResponse[DealerDB.Models.VoucherHistory]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/DealerDB.Models.VoucherHistory\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:42:\"API.PagedResponse[DealerDB.Models.Voucher]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/DealerDB.Models.Voucher\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:71:\"API.PagedResponse[UpdateSystem.Models.AvailableUpdateGroupSubscription]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/UpdateSystem.Models.AvailableUpdateGroupSubscription\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:45:\"API.PagedResponse[UpdateSystem.Models.Bundle]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/UpdateSystem.Models.Bundle\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:97:\"API.PagedResponse[UpdateSystem.Models.ClientStatus,UpdateSystem.Models.PagedClientStatusMetadata]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/UpdateSystem.Models.ClientStatus\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:59:\"#/definitions/UpdateSystem.Models.PagedClientStatusMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:45:\"API.PagedResponse[UpdateSystem.Models.Client]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/UpdateSystem.Models.Client\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:59:\"API.PagedResponse[UpdateSystem.Models.PackageStatusSummary]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/UpdateSystem.Models.PackageStatusSummary\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:60:\"API.PagedResponse[UpdateSystem.Models.PackageTypeIDtoBundle]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/UpdateSystem.Models.PackageTypeIDtoBundle\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:50:\"API.PagedResponse[UpdateSystem.Models.PackageType]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/UpdateSystem.Models.PackageType\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:46:\"API.PagedResponse[UpdateSystem.Models.Package]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/UpdateSystem.Models.Package\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:54:\"API.PagedResponse[UpdateSystem.Models.PriorityPackage]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/UpdateSystem.Models.PriorityPackage\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:68:\"API.PagedResponse[UpdateSystem.Models.UpdateGroupClientRelationship]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:63:\"#/definitions/UpdateSystem.Models.UpdateGroupClientRelationship\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:62:\"API.PagedResponse[UpdateSystem.Models.UpdateGroupSubscription]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/UpdateSystem.Models.UpdateGroupSubscription\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:50:\"API.PagedResponse[UpdateSystem.Models.UpdateGroup]\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"A
  response containing a page of results and metadata concerning the results\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/UpdateSystem.Models.UpdateGroup\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/API.PagedResponseMetadata\";s:8:\"readOnly\";b:1;}}s:8:\"required\";a:2:{i:0;s:8:\"Metadata\";i:1;s:8:\"Entities\";}s:4:\"type\";s:6:\"object\";}s:50:\"AuthorizationCodes.Shared.Models.AuthorizationCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Represents
  the model containing an authorization code used to unlock a feature in machines
  and EDT\";s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"Code\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  code to enter to unlock a feature. Read only.\";s:4:\"type\";s:6:\"string\";}s:15:\"CreatedByUserID\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  ID of the user that created this authorization code. Read only.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"CreatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  timestamp of when this code was created. Read only.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"DataParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  parameters and values contained as data in this authorization code. May not be updated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/AuthorizationCodes.Shared.Models.Parameter\";}s:4:\"type\";s:5:\"array\";}s:12:\"DefinitionID\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  id of the definition for this authorization code. May not be updated.\";s:4:\"type\";s:6:\"string\";}s:15:\"DeletedByUserID\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  ID of the user that deleted this authorization code. Read only.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"DeletedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  timestamp of when this authorization code was deleted. Read only.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  identifier for the authorization code. Read only.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"IsDeleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Indicates
  whether this code is deleted.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"ValidationParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  parameters and values used to validate this authorization code. May not be updated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/AuthorizationCodes.Shared.Models.Parameter\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:60:\"AuthorizationCodes.Shared.Models.AuthorizationCodeDefinition\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"Represents
  the model used to define how a type of authorization code is generated.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:15:\"CreatedByUserID\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  ID of the user that created this definition. Read only.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"CreatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  timestamp of when this definition was created. Read only.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"DataFields\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  defined fields to include in authorization codes generated from this definition.
  May not be updated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/AuthorizationCodes.Shared.Models.DataField\";}s:4:\"type\";s:5:\"array\";}s:15:\"DeletedByUserID\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  ID of the user that deleted this definition. Read only.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"DeletedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  timestamp of when this definition was deleted. Read only.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"A
  description of this definition. May not be updated.\";s:4:\"type\";s:6:\"string\";}s:16:\"DurationAccuracy\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  number of bits used for timestamp verification. Defaults to 5. May not be updated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"DurationAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"The
  amount of duration for the specified duration unit used to calculate the Authorization
  Code. Defaults to 1. May not be updated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"DurationUnits\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  units of duration used to calculate the Authorization Code. Defaults to 'Days'.
  May not be updated.\";s:4:\"enum\";a:4:{i:0;s:5:\"Weeks\";i:1;s:4:\"Days\";i:2;s:5:\"Hours\";i:3;s:7:\"Minutes\";}s:4:\"type\";s:6:\"string\";}s:10:\"HashLength\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"The
  bit length of the hash data which will be used for the authorization code. Defaults
  to 20. May not be updated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  ID of the authorization code definition. Read only.\";s:4:\"type\";s:6:\"string\";}s:9:\"IsDeleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Indicates
  whether this definition is enabled. True if generating codes is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  name of the authorization code definition. May not be updated.\";s:4:\"type\";s:6:\"string\";}s:12:\"RandomLength\";O:8:\"stdClass\":3:{s:11:\"description\";s:217:\"The
  bit length of random data which will be included in the authorization code.  This
  is necessary to allow creation of \"identical\" authorization codes containing the
  same timestamp. Defaults to 5. May not be updated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"ValidationFields\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"The
  defined fields to verify when reading authorization codes generated from this definition.
  May not be updated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/AuthorizationCodes.Shared.Models.ValidationField\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:42:\"AuthorizationCodes.Shared.Models.DataField\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:15:\"DigitsPrecision\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"The
  number of decimal digits to be used by this data field. Required only by the 'Float'
  data type. Must be in range 1 - 15.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"MaxExponent\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"The
  maximum exponent to be used by this data field. Required only by the 'Float' data
  type. May not be greater than 307.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"MaxValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  maximum value that can be represented by this data field. Required only by the 'Decimal'
  data type.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"MinExponent\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"The
  minimum exponent to be used by this data field. Required only by the 'Float' data
  type. May not be less than -292.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"MinValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  minimum value that can be represented by this data field. Required only by the 'Decimal'
  data type.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the field.\";s:4:\"type\";s:6:\"string\";}s:11:\"ScaleFactor\";O:8:\"stdClass\":3:{s:11:\"description\";s:175:\"The
  resolution of values that can be represented by this data field. The base value
  is multiplied by this to compute the final value. Required only by the 'Decimal'
  data type.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"Signed\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Indicates
  whether this value is signed. Required only by the 'Float' data type.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  type of this data field.\";s:4:\"enum\";a:4:{i:0;s:7:\"Boolean\";i:1;s:7:\"Decimal\";i:2;s:5:\"Float\";i:3;s:23:\"VariableLengthByteArray\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"Type\";i:1;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:42:\"AuthorizationCodes.Shared.Models.Parameter\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"A
  parameter used to create an authorization code.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  name of the parameter. May not be updated.\";s:4:\"type\";s:6:\"string\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  value of the parameter. May not be updated.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:48:\"AuthorizationCodes.Shared.Models.ValidationField\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the field.\";s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  type for this validation field.\";s:4:\"enum\";a:5:{i:0;s:7:\"Boolean\";i:1;s:5:\"Float\";i:2;s:3:\"Int\";i:3;s:21:\"StringCaseInsensitive\";i:4;s:19:\"StringCaseSensitive\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"Type\";i:1;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:31:\"BuildSystem.Shared.DTO.Activity\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  DTO for an IActivity\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"ActivityID\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  ID of the activity\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"Deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  name of the activity\";s:4:\"type\";s:6:\"string\";}s:10:\"Parameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  parameters for this activity\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/BuildSystem.Shared.DTO.Parameter\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:5:\"Steps\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  steps which are performed for this activity\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/BuildSystem.Shared.DTO.ActivityStep\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:34:\"BuildSystem.Shared.DTO.ActivityRun\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"A
  DTO for an IActivityRun\";s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"ActivityRunID\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  identifier for the ActivityRun\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"EndDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Read
  Only. The UTC date and time when the activity completed\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"JobActivityID\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Read
  Only. The ID of the Job Activity that defines this activity run\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"JobRunID\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Read
  Only. The ID of the JobRun under which this ActivityRun is executing\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"Parameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:133:\"The
  parameters used for this run of the activity.  Parameters cannot be added or removed,
  but output parameter values may be updated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/BuildSystem.Shared.DTO.ParameterValue\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:9:\"StartDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Read
  Only. The UTC date and time when the activity started\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:54:\"#/definitions/BuildSystem.Shared.DTO.ActivityRunStatus\";s:11:\"description\";s:30:\"The
  status of this ActivityRun\";}s:5:\"Steps\";O:8:\"stdClass\":4:{s:11:\"description\";s:134:\"Read
  Only. The steps to be executed for the activity.  These steps come from the relationship
  through JobActivity down to ActivityStep\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/BuildSystem.Shared.DTO.ActivityStep\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:40:\"BuildSystem.Shared.DTO.ActivityRunStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  DTO for an IActivityRunStatus\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"CurrentStep\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  activity step currently executing, indicated by numeric order\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  status of the ActivityRun\";s:4:\"enum\";a:5:{i:0;s:5:\"Ready\";i:1;s:10:\"InProgress\";i:2;s:9:\"Succeeded\";i:3;s:9:\"Cancelled\";i:4;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}s:12:\"StepProgress\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"The
  percent progress from the currently executing step.  This value shall be null if
  progress is not available\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"StepStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  status text from the currently executing step\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"BuildSystem.Shared.DTO.ActivityStep\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"A
  DTO for an IActivityStep\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"ActivityID\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  id of the activity this activity step belongs to\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"ActivityStepID\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  id of this activity step\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"ImplementationID\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  implementation id which is used to look up the step implementation\";s:4:\"type\";s:6:\"string\";}s:17:\"ParameterMappings\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"The
  mapping of values from a source to be used for the step parameters\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/BuildSystem.Shared.DTO.ParameterMapping\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"RunOrder\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  order of this activity step relative to other activity steps\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"StepID\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  id of the step\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"StepName\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  name of the step\";s:4:\"type\";s:6:\"string\";}s:9:\"UseConfig\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Indicates
  the configuration for the ActivityStep to use at runtime.  The build agent must
  provide this configuration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"BuildSystem.Shared.DTO.Agent\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"A
  DTO for an IAgent\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"AgentID\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  id of the Agent\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"KeepAliveInterval\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  'Heartbeat Interval' used by the Build Agent.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"MachineName\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  machine name of the computer the agent is running on\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/BuildSystem.Shared.DTO.AgentStatus\";s:11:\"description\";s:17:\"The
  agent status.\";}s:18:\"StepConfigurations\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"The
  agent's step configurations\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/BuildSystem.Shared.DTO.StepConfiguration\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:6:\"UserID\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  UserID of the Agent\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:4:{i:0;s:6:\"UserID\";i:1;s:11:\"MachineName\";i:2;s:6:\"Status\";i:3;s:17:\"KeepAliveInterval\";}s:4:\"type\";s:6:\"object\";}s:34:\"BuildSystem.Shared.DTO.AgentStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"A
  DTO for an IAgentStatus\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"LastStatusUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"ReadOnly.
  The UTC date and time of the last status update\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"Online\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Indicates
  if the agent is online\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:6:\"Online\";}s:4:\"type\";s:6:\"object\";}s:26:\"BuildSystem.Shared.DTO.Job\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"A
  DTO for an IJob\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"Activities\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  activities which are performed for the job\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/BuildSystem.Shared.DTO.JobActivity\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:7:\"Deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Indicates
  if the job has been deleted.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"JobID\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  ID of the job\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  name of the job\";s:4:\"type\";s:6:\"string\";}s:10:\"Parameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"The
  parameters for the job\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/BuildSystem.Shared.DTO.Parameter\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:34:\"BuildSystem.Shared.DTO.JobActivity\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  DTO for an IJobActivity\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"ActivityID\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  ID of the activity to be run as part of the job\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"JobActivityID\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  ID of this job activity\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"JobID\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  ID of the job this job activity belongs to\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"ParameterMappings\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"The
  mapping of values from a source to be used for the activity parameters\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/BuildSystem.Shared.DTO.ParameterMapping\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"RunOrder\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  order of this job activity relative to others in the job\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:29:\"BuildSystem.Shared.DTO.JobRun\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  DTO for an IJobRun\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"ActivityRuns\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  activity runs belonging to this JobRun\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/BuildSystem.Shared.DTO.ActivityRun\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:7:\"EndDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  UTC date and time when the job completed\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"JobID\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  ID of the job that defines the run\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"JobRunID\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  ID of this JobRun\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"Parameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"The
  parameters used for this run of the job\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/BuildSystem.Shared.DTO.ParameterValue\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:9:\"StartDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  UTC date and time when the job started\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  status of this JobRun\";s:4:\"enum\";a:5:{i:0;s:5:\"Ready\";i:1;s:10:\"InProgress\";i:2;s:9:\"Succeeded\";i:3;s:9:\"Cancelled\";i:4;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"BuildSystem.Shared.DTO.Parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"A
  DTO for an IParameter\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"Direction\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  parameter direction (Input or Output)\";s:4:\"enum\";a:2:{i:0;s:5:\"Input\";i:1;s:6:\"Output\";}s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the parameter\";s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  data type of the parameter\";s:4:\"enum\";a:5:{i:0;s:6:\"String\";i:1;s:7:\"Boolean\";i:2;s:7:\"Integer\";i:3;s:5:\"Float\";i:4;s:16:\"StringDictionary\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:39:\"BuildSystem.Shared.DTO.ParameterMapping\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  DTO for an IParameterMapping\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  name of the parameter this mapping applies to\";s:4:\"type\";s:6:\"string\";}s:6:\"Source\";O:8:\"stdClass\":2:{s:11:\"description\";s:257:\"The
  source of the value.  The meaning of this value is determined by the source type.
  \ When the source type is \u201CConstant\u201D then source is the value formatted
  as a string.  When the source type is \u201CVariable\u201D then the source is the
  name of the variable\";s:4:\"type\";s:6:\"string\";}s:10:\"SourceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  source type used for supplying the parameter\";s:4:\"enum\";a:2:{i:0;s:8:\"Constant\";i:1;s:8:\"Variable\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:37:\"BuildSystem.Shared.DTO.ParameterValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"A
  DTO for an IParameterValue\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"Direction\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  parameter direction (Input or Output)\";s:4:\"enum\";a:2:{i:0;s:5:\"Input\";i:1;s:6:\"Output\";}s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  name of the parameter this value is for\";s:4:\"type\";s:6:\"string\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  parameter value in string representation\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"BuildSystem.Shared.DTO.Step\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"Step\";s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"ConfigRequired\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"Indicates
  if the step requires configuration values to be provided by the build agent\";s:4:\"type\";s:7:\"boolean\";}s:7:\"Deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Read
  Only.  Indicates if the record is deleted.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"A
  description of the step to be presented to a user\";s:4:\"type\";s:6:\"string\";}s:16:\"ImplementationID\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  implementation ID used to lookup the step implementation when it is executed\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  name of the step\";s:4:\"type\";s:6:\"string\";}s:10:\"Parameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"The
  parameters for this step\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/BuildSystem.Shared.DTO.Parameter\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:6:\"StepID\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  ID of the step\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:4:\"Name\";i:1;s:14:\"ConfigRequired\";i:2;s:16:\"ImplementationID\";}s:4:\"type\";s:6:\"object\";}s:40:\"BuildSystem.Shared.DTO.StepConfiguration\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Step
  Configuration\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"Configurations\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"The
  configuration names supported.  The configurations collection is empty for steps
  which do not require configuration.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"StepImplementationID\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  Implementation ID of the step this configuration is for\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:20:\"StepImplementationID\";}s:4:\"type\";s:6:\"object\";}s:59:\"ContentSubmission.Shared.BusinessEntities.ContentDefinition\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"ContentDefinitionID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"PackageTypeID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TypeID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:63:\"ContentSubmission.Shared.BusinessEntities.ContentReleaseVersion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"ContentDefinitionID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"ContentReleaseID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"Deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"PublisherUserID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"ReleaseID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"TestReportUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"UpdatedDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:59:\"ContentSubmission.Shared.BusinessEntities.ContentSubmission\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:19:\"ContentDefinitionID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"ContentSubmissionID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"JobRunID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"PackageID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ReleaseNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Repository\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Revision\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"SubmissionDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"UserID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:63:\"ContentSubmission.Shared.BusinessEntities.ContentSubmissionType\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"AttributeTemplate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"CategoryTemplate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"InventoryPackageID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"JobID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"ReleaseNotesDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:11:\"Description\";}s:4:\"type\";s:6:\"object\";}s:49:\"ContentSubmission.Shared.BusinessEntities.Release\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"BuildDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"ReleaseDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"ReleaseID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"ReleaseNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Visible\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:63:\"ContentSubmission.Shared.BusinessEntities.UserContentDefinition\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"ContentDefinitionID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:23:\"UserContentDefinitionID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"UserID\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DealerDB.Models.Dealer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":31:{s:14:\"BillingAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"BillingAddress2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"BillingAddress3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"BillingAddress4\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"BillingCity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"BillingCountry\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"BillingCountryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"BillingState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"BillingZip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Brands\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:10:\"DealerCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"DealerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"DealerStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"DealerStatusUpdateDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Filler\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"IsValid\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:18:\"LanguagePreference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Region1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Region2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"RegionMapping\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"RoleBrand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ShippingAddress2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ShippingAddress3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ShippingAddress4\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ShippingCity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ShippingCountry\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"ShippingState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ShippingStreet\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ShippingZip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Telephone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"VATCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DealerDB.Models.DealersPerCountry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DealerDB.Models.EDTLiteRegistration\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Registration
  for an EDT Lite\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"DealerCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  dealer code with which the EDT Lite was created.\";s:4:\"type\";s:6:\"string\";}s:14:\"ExpirationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  date at which the content of the EDT Lite expires.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"InstanceID\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  identifier for the EDT Lite.\";s:4:\"type\";s:6:\"string\";}s:11:\"VoucherCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  voucher code with which the EDT Lite was created.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:10:\"InstanceID\";i:1;s:11:\"VoucherCode\";i:2;s:14:\"ExpirationDate\";}s:4:\"type\";s:6:\"object\";}s:23:\"DealerDB.Models.License\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"Active\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"True
  if license is active.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"CreatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  date the license was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"DeactivatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  date the license was deactivated.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:21:\"LicenseActivationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  type of license (e.g. EDT, EDT Lite)\";s:4:\"enum\";a:2:{i:0;s:3:\"EDT\";i:1;s:7:\"EDTLite\";}s:4:\"type\";s:6:\"string\";}s:9:\"LicenseID\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  LicenseID\";s:4:\"type\";s:6:\"string\";}s:14:\"LicenseVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  version of the license.\";s:4:\"type\";s:6:\"string\";}s:11:\"RefreshDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  date the license was refreshed.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"SystemInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Information
  about the system which is licensed.\";s:4:\"type\";s:6:\"string\";}s:21:\"UpdatedLicenseVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  updated version of the license.  A value in this field indicates that the update
  has not been confirmed.\";s:4:\"type\";s:6:\"string\";}s:11:\"VoucherCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  voucher code that generated the license.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DealerDB.Models.LicenseActivation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  license key in base64 format.  This is only provided when the LicenseData is a new
  license.\";s:4:\"type\";s:6:\"string\";}s:11:\"LicenseData\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  license data in base64 format.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:40:\"DealerDB.Models.LicenseActivationConfirm\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"LicenseVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  license version to confirm\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:14:\"LicenseVersion\";}s:4:\"type\";s:6:\"object\";}s:39:\"DealerDB.Models.LicenseActivationCreate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"DealerCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  Dealer Code of the dealer activating the license\";s:4:\"type\";s:6:\"string\";}s:21:\"LicenseActivationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  type of license to create (e.g. EDT, EDT Lite)\";s:4:\"enum\";a:2:{i:0;s:3:\"EDT\";i:1;s:7:\"EDTLite\";}s:4:\"type\";s:6:\"string\";}s:10:\"PostalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  dealer's postal code (zip code)\";s:4:\"type\";s:6:\"string\";}s:10:\"SystemInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Information
  about  the system being activated\";s:4:\"type\";s:6:\"string\";}s:11:\"VoucherCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  Voucher Code to use for activation\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:11:\"VoucherCode\";i:1;s:10:\"DealerCode\";i:2;s:10:\"PostalCode\";i:3;s:10:\"SystemInfo\";}s:4:\"type\";s:6:\"object\";}s:39:\"DealerDB.Models.LicenseActivationUpdate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"LicenseVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  license version to update\";s:4:\"type\";s:6:\"string\";}s:10:\"SystemInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Information
  about  the system being activated\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:14:\"LicenseVersion\";}s:4:\"type\";s:6:\"object\";}s:23:\"DealerDB.Models.Voucher\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"A
  voucher for EDT activation\";s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"CreatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Read-Only.
  The date the voucher was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"DealerCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  dealer code the voucher is assigned to.  Required for commercial vouchers.\";s:4:\"type\";s:6:\"string\";}s:7:\"Deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Read-Only.
  True if voucher has been deleted.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  email address. Required for Internal Vouchers\";s:4:\"type\";s:6:\"string\";}s:14:\"ExpirationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  expiration date of the voucher. Required for Temporary Vouchers.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"LicenseTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Required
  for Internal Vouchers\";s:4:\"type\";s:6:\"string\";}s:10:\"ModifiedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Read-Only.
  The user that made the last modification to the voucher.\";s:4:\"type\";s:6:\"string\";}s:11:\"OrderNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"The
  order number of a commercial license. Required for Commercial Vouchers. Not supported
  for other Vouchers.\";s:4:\"type\";s:6:\"string\";}s:7:\"Punched\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"True
  if voucher has aleady been used.  False if the voucher has not been used.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"PunchedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Read-Only.
  The date the voucher was punched.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"Purpose\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Required
  for Internal Vouchers\";s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  type of voucher. Commercial is the default if not specified.\";s:4:\"enum\";a:3:{i:0;s:10:\"Commercial\";i:1;s:8:\"Internal\";i:2;s:9:\"Temporary\";}s:4:\"type\";s:6:\"string\";}s:11:\"VoucherCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  voucher code.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DealerDB.Models.VoucherHistory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:11:\"ChangedDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"CreatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Read-Only.
  The date the voucher was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"DealerCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  dealer code the voucher is assigned to.  Required for commercial vouchers.\";s:4:\"type\";s:6:\"string\";}s:7:\"Deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Read-Only.
  True if voucher has been deleted.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  email address. Required for Internal Vouchers\";s:4:\"type\";s:6:\"string\";}s:14:\"ExpirationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  expiration date of the voucher. Required for Temporary Vouchers.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  id of the voucher history item\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"LicenseTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Required
  for Internal Vouchers\";s:4:\"type\";s:6:\"string\";}s:10:\"ModifiedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Read-Only.
  The user that made the last modification to the voucher.\";s:4:\"type\";s:6:\"string\";}s:11:\"OrderNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"The
  order number of a commercial license. Required for Commercial Vouchers. Not supported
  for other Vouchers.\";s:4:\"type\";s:6:\"string\";}s:7:\"Punched\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"True
  if voucher has aleady been used.  False if the voucher has not been used.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"PunchedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Read-Only.
  The date the voucher was punched.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"Purpose\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Required
  for Internal Vouchers\";s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  type of voucher.\";s:4:\"enum\";a:3:{i:0;s:10:\"Commercial\";i:1;s:8:\"Internal\";i:2;s:9:\"Temporary\";}s:4:\"type\";s:6:\"string\";}s:11:\"VoucherCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  voucher code.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"System.Object\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"UpdateSystem.Models.AttributeValue\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"Key\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  attribute name\";s:4:\"type\";s:6:\"string\";}s:9:\"TimeStamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Read
  Only. The timestamp.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"The
  value\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:3:\"Key\";}s:4:\"type\";s:6:\"object\";}s:41:\"UpdateSystem.Models.AvailableSubscription\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"PackageType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/UpdateSystem.Models.PackageType\";s:11:\"description\";s:41:\"The
  PackageType this subscription is for.\";}s:16:\"SubscriptionType\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  type of subscription supported.\";s:4:\"enum\";a:3:{i:0;s:8:\"Required\";i:1;s:16:\"IncludeByDefault\";i:2;s:16:\"ExcludeByDefault\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:52:\"UpdateSystem.Models.AvailableUpdateGroupSubscription\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"AvailableSubscriptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  available subscriptions for this update group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/UpdateSystem.Models.AvailableSubscription\";}s:4:\"type\";s:5:\"array\";}s:11:\"UpdateGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/UpdateSystem.Models.UpdateGroup\";s:11:\"description\";s:42:\"The
  Update Group this subscription is for.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"UpdateSystem.Models.Bundle\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"Active\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Default
  Value: false. During the creation of the Bundle, this field must be false.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"BundleID\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Read-Only.\";s:4:\"type\";s:6:\"string\";}s:12:\"BundleNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  bundle number\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  Bundle description.\";s:4:\"type\";s:6:\"string\";}s:13:\"UpdateGroupID\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  update group this bundle belongs to.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:11:\"Description\";i:1;s:13:\"UpdateGroupID\";i:2;s:12:\"BundleNumber\";}s:4:\"type\";s:6:\"object\";}s:28:\"UpdateSystem.Models.Category\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Values\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/UpdateSystem.Models.AttributeValue\";}s:4:\"type\";s:5:\"array\";}s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  category name\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"category\";}s:4:\"type\";s:6:\"object\";}s:33:\"UpdateSystem.Models.CheckinResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Packages\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  packages for the client to run.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/UpdateSystem.Models.Package\";}s:4:\"type\";s:5:\"array\";}s:14:\"RemovePackages\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  package ids for the client to remove.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"UpdateSystem.Models.Client\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"ClientID\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Read
  Only. The id of the client\";s:4:\"type\";s:6:\"string\";}s:11:\"LastCheckin\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Read
  Only. The time of the client's last checkin with the server.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"Tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"A
  description of the client that can be used for easy reference\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"UpdateSystem.Models.ClientInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"ClientID\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  id of the client\";s:4:\"type\";s:6:\"string\";}s:7:\"Package\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  packages\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/UpdateSystem.Models.PackageReport\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:32:\"UpdateSystem.Models.ClientStatus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"ClientID\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  Client ID\";s:4:\"type\";s:6:\"string\";}s:11:\"LastCheckin\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  time of the client's last check-in\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"MinutesElapsed\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  number of minutes that have passed since the last check-in\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ReportResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  result for the client included in the UpdateGroup's report\";s:4:\"type\";s:6:\"string\";}s:19:\"ReportResultIsValid\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"True
  if the result for the client matches what is expected for the UpdateGroup\";s:4:\"type\";s:7:\"boolean\";}s:11:\"ReportValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  value for the client included in the UpdateGroup's report\";s:4:\"type\";s:6:\"string\";}s:3:\"Tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"A
  descriptive name for the client\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"UpdateSystem.Models.Package\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"Autorun\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Value
  is true if package should run automatically. Default value is false.\";s:4:\"type\";s:7:\"boolean\";}s:3:\"CRC\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  CRC used to validate the download.\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  package description\";s:4:\"type\";s:6:\"string\";}s:13:\"LocalizedName\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Optional.
  The StringID used to localize the name of the Package\";s:4:\"type\";s:6:\"string\";}s:5:\"Notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Notes
  about the package\";s:4:\"type\";s:6:\"string\";}s:9:\"PackageID\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Read
  Only. The package ID\";s:4:\"type\";s:6:\"string\";}s:13:\"PackageTypeID\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  id of the package type this package belongs to.\";s:4:\"type\";s:6:\"string\";}s:15:\"PreviousVersion\";O:8:\"stdClass\":5:{s:11:\"description\";s:123:\"For
  delta packages, the previous version required.  For non-delta packages, the Previous
  version is 0.  Default value is 0.\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:2147483647;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:11:\"ReleaseDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  date the package was released\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"Released\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"True
  if the package is released.  Default value is False.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"RemoveOnSuccess\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"True
  to remove the package after successful execution.  Default value is False.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"Size\";O:8:\"stdClass\":3:{s:11:\"description\";s:259:\"The
  size of the file at the specified URL.  If a size is not supplied at creation time,
  the size will be determined by the response from the URL.\r\n            If the
  size provided does not match the size in the response from the URL an error will
  be returned.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"Switches\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  command line arguments for the package.  Default value is an empty string.\";s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  Url to download the package from.\";s:4:\"type\";s:6:\"string\";}s:7:\"Version\";O:8:\"stdClass\":5:{s:11:\"description\";s:12:\"The
  version.\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:2147483647;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:6:{i:0;s:13:\"PackageTypeID\";i:1;s:3:\"Url\";i:2;s:3:\"CRC\";i:3;s:7:\"Version\";i:4;s:11:\"Description\";i:5;s:11:\"ReleaseDate\";}s:4:\"type\";s:6:\"object\";}s:33:\"UpdateSystem.Models.PackageReport\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"Categories\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  package report's categories.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/UpdateSystem.Models.Category\";}s:4:\"type\";s:5:\"array\";}s:18:\"PackageDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Read
  Only. The package description\";s:4:\"type\";s:6:\"string\";}s:9:\"PackageID\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  PackageID.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"UpdateSystem.Models.PackageStatus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"ClientID\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  id of the client\";s:4:\"type\";s:6:\"string\";}s:9:\"ClientKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  client's tag\";s:4:\"type\";s:6:\"string\";}s:12:\"DownloadTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  amount of time spent downloading\";s:4:\"type\";s:6:\"string\";}s:10:\"Downloaded\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  number of bytes downloaded\";s:4:\"type\";s:6:\"string\";}s:16:\"InstallCompleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  time the package completed\";s:4:\"type\";s:6:\"string\";}s:13:\"InstallResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  package result\";s:4:\"type\";s:6:\"string\";}s:14:\"InstallStarted\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  time the package was started\";s:4:\"type\";s:6:\"string\";}s:11:\"InstallTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  amount of time required to run the package\";s:4:\"type\";s:6:\"string\";}s:10:\"Percentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  download completion percentage\";s:4:\"type\";s:6:\"string\";}s:4:\"Size\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  total size of the package\";s:4:\"type\";s:6:\"string\";}s:9:\"Timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  time the status was last updated\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:40:\"UpdateSystem.Models.PackageStatusSummary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"AverageDownloadTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  average time required to complete the download\";s:4:\"type\";s:6:\"string\";}s:18:\"AverageInstallTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  average time required to complete the install\";s:4:\"type\";s:6:\"string\";}s:10:\"Downloaded\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  number of clients that have completed the download\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"Error\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  result of the install\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"Installed\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  number of clients that have completed the install\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"Package\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the package\";s:4:\"type\";s:6:\"string\";}s:9:\"PackageID\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  ID of the package\";s:4:\"type\";s:6:\"string\";}s:18:\"PackageStatusItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  individual package status items\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/UpdateSystem.Models.PackageStatus\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:31:\"UpdateSystem.Models.PackageType\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"Attribute\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"The
  inventory attribute (from the InventoryPackage) used to determine what version of
  this package type is installed.\";s:4:\"type\";s:6:\"string\";}s:8:\"Category\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"The
  inventory category (from the InventoryPackage) used to determine what version of
  this package type is installed.\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  description of the package type\";s:4:\"type\";s:6:\"string\";}s:4:\"Icon\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Optional.
  \ The icon to use for the PackageType, in base 64\";s:4:\"type\";s:6:\"string\";}s:18:\"InventoryFrequency\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"The
  number of minutes to wait before requesting another inventory.  The default value
  is 1440 (24 hours).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"InventoryPackage\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  inventory package used to determine what version of this package type is installed.\";s:4:\"type\";s:6:\"string\";}s:20:\"LocalizedDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Optional.
  The StringID used to localize the description of the PackageType\";s:4:\"type\";s:6:\"string\";}s:13:\"LocalizedName\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Optional.
  The StringID used to localize the name of the PackageType\";s:4:\"type\";s:6:\"string\";}s:16:\"MaxDeltaPackages\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  maximum number of \"chained\" delta packages to use when updating the client\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"PackageTypeID\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Read
  Only. The package type id.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"Description\";}s:4:\"type\";s:6:\"object\";}s:41:\"UpdateSystem.Models.PackageTypeIDtoBundle\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"BundleID\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  bundle to include the package in.\";s:4:\"type\";s:6:\"string\";}s:13:\"PackageTypeID\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  package type id of the package to include\";s:4:\"type\";s:6:\"string\";}s:14:\"PackageVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  package version of the package to include\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Priority\";O:8:\"stdClass\":5:{s:11:\"description\";s:134:\"The
  execution priority of the package relative to other packages in the bundle. Range
  1 - 100, lower value indication higher priority.\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:16:\"SubscriptionType\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Optional.
  The type of subscription supported.  The default subscription type is Required.\";s:4:\"enum\";a:3:{i:0;s:8:\"Required\";i:1;s:16:\"IncludeByDefault\";i:2;s:16:\"ExcludeByDefault\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:8:\"BundleID\";i:1;s:13:\"PackageTypeID\";i:2;s:14:\"PackageVersion\";}s:4:\"type\";s:6:\"object\";}s:45:\"UpdateSystem.Models.PagedClientStatusMetadata\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"Limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  number of entities this paged response is limited to.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:6:\"Offset\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  number of entities prior to this page of items.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:20:\"ReportResultExpected\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  label for data contained in ClientStatus.ReportResults\";s:4:\"type\";s:6:\"string\";}s:17:\"ReportResultLabel\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  label for data contained in ClientStatus.ReportResults\";s:4:\"type\";s:6:\"string\";}s:16:\"ReportValueLabel\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  label for data contained in ClientStatus.ReportValue\";s:4:\"type\";s:6:\"string\";}s:10:\"TotalCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  total number of entities matching the request.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:6:{i:0;s:10:\"TotalCount\";i:1;s:5:\"Limit\";i:2;s:6:\"Offset\";i:3;s:16:\"ReportValueLabel\";i:4;s:17:\"ReportResultLabel\";i:5;s:20:\"ReportResultExpected\";}s:4:\"type\";s:6:\"object\";}s:35:\"UpdateSystem.Models.PriorityPackage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":17:{s:7:\"Autorun\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"Read
  Only. From the package specified by package ID.\r\n            Value is true if
  package should run automatically. Default value is false.\";s:4:\"type\";s:7:\"boolean\";}s:3:\"CRC\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Read
  Only. From the package specified by package ID.\";s:4:\"type\";s:6:\"string\";}s:8:\"ClientID\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  ID of the client to receive the priority package\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Read
  Only. From the package specified by package ID.\";s:4:\"type\";s:6:\"string\";}s:5:\"Notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Read
  Only. From the package specified by package ID.\";s:4:\"type\";s:6:\"string\";}s:9:\"PackageID\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  ID of the package to push as a priority package.\";s:4:\"type\";s:6:\"string\";}s:13:\"PackageTypeID\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Read
  Only. From the package specified by package ID.\";s:4:\"type\";s:6:\"string\";}s:15:\"PreviousVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Read
  Only. From the package specified by package ID.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"PriorityPackageID\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Read
  Only. The ID of the priority package.\";s:4:\"type\";s:6:\"string\";}s:11:\"ReleaseDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Read
  Only. From the package specified by package ID.\r\n            The date the package
  was released\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"Released\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Read
  Only. From the package specified by package ID.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"RemoveOnSuccess\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Read
  Only. From the package specified by package ID.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"Size\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Read
  Only. From the package specified by package ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"Switches\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
[...]
