---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:14:\"data@gov.bc.ca\";s:4:\"name\";s:7:\"Data
  BC\";s:3:\"url\";s:22:\"http://data.gov.bc.ca/\";}s:11:\"description\";s:271:\"This
  API provides live access to the BC Data Catalogue. Further documentation on the
  API is available from http://docs.ckan.org/en/latest/ Confirm the version of the
  API available from the catalogue by requesting https://catalogue.data.gov.bc.ca/api/3/action/status_show
  \";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:42:\"Open Government License
  - British Columbia\";s:3:\"url\";s:113:\"http://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/databc/open-data/open-government-license-bc\";}s:14:\"termsOfService\";s:123:\"http://www2.gov.bc.ca/gov/content/governments/about-the-bc-government/databc/open-data/api-terms-of-use-for-ogl-information\";s:5:\"title\";s:17:\"BC
  Data Catalogue\";s:7:\"version\";s:5:\"3.0.1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:86:\"https://api.apis.guru/v2/cache/logo/https_avatars1.githubusercontent.com_u_916280.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:71:\"https://raw.githubusercontent.com/bcgov/api-specs/master/bcdc/bcdc.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"gov.bc.ca\";s:13:\"x-serviceName\";s:4:\"bcdc\";}"
host: catalogue.data.gov.bc.ca
basePath: /api/3
paths: ~
produces:
- application/json
schemes:
- https
...
