---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:9:\"microsoft\";}s:11:\"description\";s:526:\"The
  Video Search API lets you search on Bing for video that are relevant to the user's
  search query, for insights about a video or for videos that are trending based on
  search requests made by others. This section provides technical details about the
  query parameters and headers that you use to request videos and the JSON response
  objects that contain them. For examples that show how to make requests, see [Searching
  the Web for Videos](https://docs.microsoft.com/azure/cognitive-services/bing-video-search/search-the-web).\";s:5:\"title\";s:12:\"Video
  Search\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:151:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/VideoSearch/stable/v1.0/VideoSearch.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"microsoft.com\";s:13:\"x-serviceName\";s:29:\"cognitiveservices-VideoSearch\";s:6:\"x-tags\";a:1:{i:0;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:39:\"microsoft_cognitiveservices_videosearch\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.cognitive.microsoft.com
basePath: /bing/v7.0
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":22:{s:6:\"Answer\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"followUpQueries\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CreativeWork\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"provider\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  source of the creative work.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"text\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"thumbnailUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  URL to a thumbnail of the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Defines
  the error that occurred.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"code\";O:8:\"stdClass\":5:{s:7:\"default\";s:4:\"None\";s:11:\"description\";s:53:\"The
  error code that identifies the category of error.\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:11:\"ServerError\";i:2;s:14:\"InvalidRequest\";i:3;s:17:\"RateLimitExceeded\";i:4;s:20:\"InvalidAuthorization\";i:5;s:25:\"InsufficientAuthorization\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:9:\"ErrorCode\";}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  description of the error.\";s:4:\"type\";s:6:\"string\";}s:11:\"moreDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  description that provides additional information about the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  parameter in the request that caused the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"subCode\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"The
  error code that further helps to identify the error.\";s:4:\"enum\";a:11:{i:0;s:15:\"UnexpectedError\";i:1;s:13:\"ResourceError\";i:2;s:14:\"NotImplemented\";i:3;s:16:\"ParameterMissing\";i:4;s:21:\"ParameterInvalidValue\";i:5;s:14:\"HttpNotAllowed\";i:6;s:7:\"Blocked\";i:7;s:20:\"AuthorizationMissing\";i:8;s:23:\"AuthorizationRedundancy\";i:9;s:21:\"AuthorizationDisabled\";i:10;s:20:\"AuthorizationExpired\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:12:\"ErrorSubCode\";}}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  parameter's value in the request that was not valid.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:4:\"type\";s:6:\"object\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:11:\"description\";s:56:\"The
  top-level response that represents a failed request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  list of errors that describe the reasons why the request failed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:6:\"errors\";}s:4:\"type\";s:6:\"object\";}s:12:\"Identifiable\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResponseBase\";}}s:11:\"description\";s:35:\"Defines
  the identity of a resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  String identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ImageObject\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MediaObject\";}}s:11:\"description\";s:16:\"Defines
  an image\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"thumbnail\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:11:\"description\";s:35:\"The
  URL to a thumbnail of the image\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}s:11:\"MediaObject\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreativeWork\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"contentUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Original
  URL to retrieve the source (file) for the media object (e.g the source URL for the
  image).\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  height of the source media object, in pixels.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:11:\"hostPageUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"URL
  of the page that hosts the media object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  width of the source media object, in pixels.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:16:\"PivotSuggestions\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"pivot\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"suggestions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:5:\"pivot\";i:1;s:11:\"suggestions\";}s:4:\"type\";s:6:\"object\";}s:5:\"Query\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Defines
  a search query.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayText\";O:8:\"stdClass\":3:{s:11:\"description\";s:249:\"The
  display version of the query term. This version of the query term may contain special
  characters that highlight the search term found in the query string. The string
  contains the highlighting characters only if the query enabled hit highlighting\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"searchLink\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  query string. Use this string as the query term in a new search request.\";s:4:\"type\";s:6:\"string\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}s:12:\"webSearchUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"The
  URL that takes the user to the Bing search results page for the query.Only related
  search results include this field.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"text\";}s:4:\"type\";s:6:\"object\";}s:12:\"QueryContext\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Defines
  the query context that Bing used for the request.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"adultIntent\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"A
  Boolean value that indicates whether the specified query has adult intent. The value
  is true if the query has adult intent; otherwise, false.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:23:\"alterationOverrideQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:335:\"The
  query string to use to force Bing to use the original string. For example, if the
  query string is \"saling downwind\", the override query string will be \"+saling
  downwind\". Remember to encode the query string which results in \"%2Bsaling+downwind\".
  This field is included only if the original query string contains a spelling mistake.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"alteredQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:338:\"The
  query string used by Bing to perform the query. Bing uses the altered query string
  if the original query string contained spelling mistakes. For example, if the query
  string is \"saling downwind\", the altered query string will be \"sailing downwind\".
  This field is included only if the original query string contains a spelling mistake.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"askUserForLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:604:\"A
  Boolean value that indicates whether Bing requires the user's location to provide
  accurate results. If you specified the user's location by using the X-MSEdge-ClientIP
  and X-Search-Location headers, you can ignore this field. For location aware queries,
  such as \"today's weather\" or \"restaurants near me\" that need the user's location
  to provide accurate results, this field is set to true. For location aware queries
  that include the location (for example, \"Seattle weather\"), this field is set
  to false. This field is also set to false for queries that are not location aware,
  such as \"best sellers\".\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:15:\"isTransactional\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:13:\"originalQuery\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  query string as specified in the request.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:13:\"originalQuery\";}s:4:\"type\";s:6:\"object\";}s:8:\"Response\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Identifiable\";}}s:11:\"description\";s:105:\"Defines
  a response. All schemas that could be returned at the root of a response should
  inherit from this\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"webSearchUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  URL To Bing's search result for this item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ResponseBase\";O:8:\"stdClass\":4:{s:13:\"discriminator\";s:5:\"_type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"_type\";}s:4:\"type\";s:6:\"object\";}s:19:\"SearchResultsAnswer\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Answer\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"isFamilyFriendly\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:21:\"totalEstimatedMatches\";O:8:\"stdClass\":4:{s:11:\"description\";s:150:\"The
  estimated number of webpages that are relevant to the query. Use this number along
  with the count and offset query parameters to page the results.\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Thing\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"alternateName\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"bingId\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  ID that uniquely identifies this item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  short description of the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  name of the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  URL to get more information about the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"TrendingVideos\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"bannerTiles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TrendingVideosTile\";}s:4:\"type\";s:5:\"array\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TrendingVideosCategory\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:11:\"bannerTiles\";i:1;s:10:\"categories\";}s:4:\"type\";s:6:\"object\";}s:22:\"TrendingVideosCategory\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"subcategories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/TrendingVideosSubcategory\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"title\";i:1;s:13:\"subcategories\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:23:\"TrendingVideos/Category\";}s:25:\"TrendingVideosSubcategory\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"tiles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TrendingVideosTile\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"title\";i:1;s:5:\"tiles\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:26:\"TrendingVideos/Subcategory\";}s:18:\"TrendingVideosTile\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}}s:8:\"required\";a:2:{i:0;s:5:\"query\";i:1;s:5:\"image\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:19:\"TrendingVideos/Tile\";}s:12:\"VideoDetails\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"relatedVideos\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/VideosModule\";s:8:\"readOnly\";b:1;}s:11:\"videoResult\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/VideoObject\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}s:11:\"VideoObject\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MediaObject\";}}s:11:\"description\";s:53:\"Defines
  a video object that is relevant to the query.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:15:\"allowHttpsEmbed\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:16:\"allowMobileEmbed\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:9:\"embedHtml\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"isSuperfresh\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:17:\"motionThumbnailId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"motionThumbnailUrl\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}s:7:\"videoId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"viewCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Videos\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";}}s:11:\"description\";s:23:\"Defines
  a video answer.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"nextOffset\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:16:\"pivotSuggestions\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PivotSuggestions\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:15:\"queryExpansions\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"scenario\";O:8:\"stdClass\":4:{s:4:\"enum\";a:2:{i:0;s:4:\"List\";i:1;s:19:\"SingleDominantVideo\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:0;s:4:\"name\";s:18:\"VideoQueryScenario\";}}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  list of video objects that are relevant to the query.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VideoObject\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:12:\"VideosModule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VideoObject\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
