---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:20:\"Visual Search Client\";s:11:\"description\";s:416:\"Visual
  Search API lets you discover insights about an image such as visually similar images,
  shopping sources, and related searches. The API can also perform text recognition,
  identify entities (people, places, things), return other topical content for the
  user to explore, and more. For more information, see [Visual Search Overview](https://docs.microsoft.com/azure/cognitive-services/bing-visual-search/overview).\";s:7:\"version\";s:3:\"1.0\";}"
host: api.cognitive.microsoft.com
basePath: /bing/v7.0
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":41:{s:14:\"ImageKnowledge\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Defines
  a visual search API response.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"tags\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"A
  list of visual search tags.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ImageTag\";}}s:5:\"image\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Image
  object containing metadata about the requested image.\";s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}}}s:8:\"Response\";O:8:\"stdClass\":4:{s:11:\"description\";s:102:\"Defines
  a response. All schemas that return at the root of the response must inherit from
  this object.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Identifiable\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"readLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"The
  URL that returns this resource. To use the URL, append query parameters as appropriate
  and include the Ocp-Apim-Subscription-Key header.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"webSearchUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  URL to Bing's search result for this item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:8:\"ImageTag\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"A
  visual search tag.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Display
  name for this tag. For the default tag, the display name is empty.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"boundingBox\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  bounding box for this tag. For the default tag, there is no bounding box.\";s:4:\"$ref\";s:28:\"#/definitions/ImageTagRegion\";s:8:\"readOnly\";b:1;}s:7:\"actions\";O:8:\"stdClass\":4:{s:11:\"description\";s:156:\"Actions
  within this tag. The order of the items denotes the default ranking order of these
  actions, with the first action being the most likely user intent.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageAction\";}}}}s:11:\"ImageObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Defines
  an image.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MediaObject\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"thumbnail\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  URL to a thumbnail of the image.\";s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}s:18:\"imageInsightsToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:231:\"The
  token that you use in a subsequent call to Visual Search API to get additional information
  about the image. For information about using this token, see the imageInsightsToken
  field inside the knowledgeRequest request parameter.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"insightsMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:481:\"A
  count of the number of websites where you can shop or perform other actions related
  to the image. For example, if the image is of an apple pie, this object includes
  a count of the number of websites where you can buy an apple pie. To indicate the
  number of offers in your UX, include badging such as a shopping cart icon that contains
  the count. When the user clicks on the icon, use imageInisghtsToken in a subsequent
  Visual Search API call to get the list of shopping websites.\";s:4:\"$ref\";s:33:\"#/definitions/ImagesImageMetadata\";s:8:\"readOnly\";b:1;}s:7:\"imageId\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Unique
  Id for the image.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"accentColor\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"A
  three-byte hexadecimal number that represents the color that dominates the image.
  Use the color as the temporary background in your client until the image is loaded.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"visualWords\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"For
  interal use only.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:12:\"Identifiable\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Defines
  the identity of a resource.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResponseBase\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  String identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"The
  top-level response that represents a failed request.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"errors\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  list of errors that describe the reasons why the request failed.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}}s:5:\"Thing\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Defines
  a thing.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  name of the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  URL to get more information about the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"An
  image of the item.\";s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  short description of the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"alternateName\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"An
  alias for the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"bingId\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  ID that uniquely identifies this item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:6:\"Action\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Defines
  an action.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreativeWork\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"result\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  result produced in the action.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  display name for the action.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"isTopAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  Boolean representing whether this result is the top action.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:10:\"serviceUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"Use
  this URL to get additional data to determine how to take the appropriate action.
  For example, the serviceUrl might return JSON along with an image URL.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:14:\"ImageTagRegion\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Defines
  an image region relevant to the ImageTag.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:14:\"queryRectangle\";i:1;s:16:\"displayRectangle\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"queryRectangle\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  rectangle that outlines the area of interest for this tag.\";s:4:\"$ref\";s:37:\"#/definitions/NormalizedQuadrilateral\";}s:16:\"displayRectangle\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"A
  recommended rectangle to show to the user.\";s:4:\"$ref\";s:37:\"#/definitions/NormalizedQuadrilateral\";}}}s:11:\"ImageAction\";O:8:\"stdClass\":5:{s:11:\"description\";s:24:\"Defines
  an image action.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Action\";}}s:4:\"type\";s:6:\"object\";s:13:\"discriminator\";s:5:\"_type\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"actionType\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  string representing the type of action.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Specifies
  the sub-class of the action.\";s:4:\"enum\";a:5:{i:0;s:17:\"ImageEntityAction\";i:1;s:17:\"ImageModuleAction\";i:2;s:18:\"ImageRecipesAction\";i:3;s:26:\"ImageRelatedSearchesAction\";i:4;s:26:\"ImageShoppingSourcesAction\";}}}}s:11:\"MediaObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Defines
  a media object.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreativeWork\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"contentUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Original
  URL to retrieve the source (file) for the media object (e.g., the source URL for
  the image).\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"hostPageUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"URL
  of the page that hosts the media object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"contentSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Size
  of the media object content. Use format \"value unit\" (e.g., \"1024 B\").\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"encodingFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Encoding
  format (e.g., png, gif, jpeg, etc).\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"hostPageDisplayUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Display
  URL of the page that hosts the media object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  width of the media object, in pixels.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"height\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  height of the media object, in pixels.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:19:\"ImagesImageMetadata\";O:8:\"stdClass\":4:{s:11:\"description\";s:107:\"Defines
  a count of the number of websites where you can shop or perform other actions related
  to the image.\";s:24:\"x-ms-discriminator-value\";s:20:\"Images/ImageMetadata\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"shoppingSourcesCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"The
  number of websites that sell the products seen in the image.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:18:\"recipeSourcesCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"The
  number of websites that offer recipes of the food seen in the image.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:14:\"aggregateOffer\";O:8:\"stdClass\":3:{s:11:\"description\";s:327:\"A
  summary of the online offers of products found in the image. For example, if the
  image is of a dress, the offer might identify the lowest price and the number of
  offers found. Only visually similar products insights include this field. The offer
  includes the following fields: Name, AggregateRating, OfferCount, and LowPrice.\";s:4:\"$ref\";s:28:\"#/definitions/AggregateOffer\";s:8:\"readOnly\";b:1;}}}s:12:\"ResponseBase\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Response
  base.\";s:13:\"discriminator\";s:5:\"_type\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Error\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Defines
  the error that occurred.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"code\";O:8:\"stdClass\":5:{s:11:\"description\";s:53:\"The
  error code that identifies the category of error.\";s:4:\"type\";s:6:\"string\";s:7:\"default\";s:4:\"None\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:11:\"ServerError\";i:2;s:14:\"InvalidRequest\";i:3;s:17:\"RateLimitExceeded\";i:4;s:20:\"InvalidAuthorization\";i:5;s:25:\"InsufficientAuthorization\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"ErrorCode\";s:13:\"modelAsString\";b:1;}}s:7:\"subCode\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"The
  error code that further helps to identify the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:11:{i:0;s:15:\"UnexpectedError\";i:1;s:13:\"ResourceError\";i:2;s:14:\"NotImplemented\";i:3;s:16:\"ParameterMissing\";i:4;s:21:\"ParameterInvalidValue\";i:5;s:14:\"HttpNotAllowed\";i:6;s:7:\"Blocked\";i:7;s:20:\"AuthorizationMissing\";i:8;s:23:\"AuthorizationRedundancy\";i:9;s:21:\"AuthorizationDisabled\";i:10;s:20:\"AuthorizationExpired\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"ErrorSubCode\";s:13:\"modelAsString\";b:1;}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  description of the error.\";s:4:\"type\";s:6:\"string\";}s:11:\"moreDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  description that provides additional information about the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  parameter in the request that caused the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  parameter's value in the request that was not valid.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:12:\"CreativeWork\";O:8:\"stdClass\":4:{s:11:\"description\";s:101:\"The
  most generic kind of creative work, including books, movies, photographs, software
  programs, etc.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"thumbnailUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  URL to a thumbnail of the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  source of the creative work.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:13:\"datePublished\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  date on which the CreativeWork was published.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Text
  content of this creative work.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:5:\"Offer\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Defines
  a merchant's offer.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"seller\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Seller
  for this offer.\";s:4:\"$ref\";s:26:\"#/definitions/Organization\";s:8:\"readOnly\";b:1;}s:5:\"price\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"The
  item's price.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:13:\"priceCurrency\";O:8:\"stdClass\":6:{s:11:\"description\";s:40:\"The
  monetary currency. For example, USD.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"USD\";s:4:\"enum\";a:161:{i:0;s:3:\"USD\";i:1;s:3:\"CAD\";i:2;s:3:\"GBP\";i:3;s:3:\"EUR\";i:4;s:3:\"COP\";i:5;s:3:\"JPY\";i:6;s:3:\"CNY\";i:7;s:3:\"AUD\";i:8;s:3:\"INR\";i:9;s:3:\"AED\";i:10;s:3:\"AFN\";i:11;s:3:\"ALL\";i:12;s:3:\"AMD\";i:13;s:3:\"ANG\";i:14;s:3:\"AOA\";i:15;s:3:\"ARS\";i:16;s:3:\"AWG\";i:17;s:3:\"AZN\";i:18;s:3:\"BAM\";i:19;s:3:\"BBD\";i:20;s:3:\"BDT\";i:21;s:3:\"BGN\";i:22;s:3:\"BHD\";i:23;s:3:\"BIF\";i:24;s:3:\"BMD\";i:25;s:3:\"BND\";i:26;s:3:\"BOB\";i:27;s:3:\"BOV\";i:28;s:3:\"BRL\";i:29;s:3:\"BSD\";i:30;s:3:\"BTN\";i:31;s:3:\"BWP\";i:32;s:3:\"BYR\";i:33;s:3:\"BZD\";i:34;s:3:\"CDF\";i:35;s:3:\"CHE\";i:36;s:3:\"CHF\";i:37;s:3:\"CHW\";i:38;s:3:\"CLF\";i:39;s:3:\"CLP\";i:40;s:3:\"COU\";i:41;s:3:\"CRC\";i:42;s:3:\"CUC\";i:43;s:3:\"CUP\";i:44;s:3:\"CVE\";i:45;s:3:\"CZK\";i:46;s:3:\"DJF\";i:47;s:3:\"DKK\";i:48;s:3:\"DOP\";i:49;s:3:\"DZD\";i:50;s:3:\"EGP\";i:51;s:3:\"ERN\";i:52;s:3:\"ETB\";i:53;s:3:\"FJD\";i:54;s:3:\"FKP\";i:55;s:3:\"GEL\";i:56;s:3:\"GHS\";i:57;s:3:\"GIP\";i:58;s:3:\"GMD\";i:59;s:3:\"GNF\";i:60;s:3:\"GTQ\";i:61;s:3:\"GYD\";i:62;s:3:\"HKD\";i:63;s:3:\"HNL\";i:64;s:3:\"HRK\";i:65;s:3:\"HTG\";i:66;s:3:\"HUF\";i:67;s:3:\"IDR\";i:68;s:3:\"ILS\";i:69;s:3:\"IQD\";i:70;s:3:\"IRR\";i:71;s:3:\"ISK\";i:72;s:3:\"JMD\";i:73;s:3:\"JOD\";i:74;s:3:\"KES\";i:75;s:3:\"KGS\";i:76;s:3:\"KHR\";i:77;s:3:\"KMF\";i:78;s:3:\"KPW\";i:79;s:3:\"KRW\";i:80;s:3:\"KWD\";i:81;s:3:\"KYD\";i:82;s:3:\"KZT\";i:83;s:3:\"LAK\";i:84;s:3:\"LBP\";i:85;s:3:\"LKR\";i:86;s:3:\"LRD\";i:87;s:3:\"LSL\";i:88;s:3:\"LYD\";i:89;s:3:\"MAD\";i:90;s:3:\"MDL\";i:91;s:3:\"MGA\";i:92;s:3:\"MKD\";i:93;s:3:\"MMK\";i:94;s:3:\"MNT\";i:95;s:3:\"MOP\";i:96;s:3:\"MRO\";i:97;s:3:\"MUR\";i:98;s:3:\"MVR\";i:99;s:3:\"MWK\";i:100;s:3:\"MXN\";i:101;s:3:\"MXV\";i:102;s:3:\"MYR\";i:103;s:3:\"MZN\";i:104;s:3:\"NAD\";i:105;s:3:\"NGN\";i:106;s:3:\"NIO\";i:107;s:3:\"NOK\";i:108;s:3:\"NPR\";i:109;s:3:\"NZD\";i:110;s:3:\"OMR\";i:111;s:3:\"PAB\";i:112;s:3:\"PEN\";i:113;s:3:\"PGK\";i:114;s:3:\"PHP\";i:115;s:3:\"PKR\";i:116;s:3:\"PLN\";i:117;s:3:\"PYG\";i:118;s:3:\"QAR\";i:119;s:3:\"RON\";i:120;s:3:\"RSD\";i:121;s:3:\"RUB\";i:122;s:3:\"RWF\";i:123;s:3:\"SAR\";i:124;s:3:\"SBD\";i:125;s:3:\"SCR\";i:126;s:3:\"SDG\";i:127;s:3:\"SEK\";i:128;s:3:\"SGD\";i:129;s:3:\"SHP\";i:130;s:3:\"SLL\";i:131;s:3:\"SOS\";i:132;s:3:\"SRD\";i:133;s:3:\"SSP\";i:134;s:3:\"STD\";i:135;s:3:\"SYP\";i:136;s:3:\"SZL\";i:137;s:3:\"THB\";i:138;s:3:\"TJS\";i:139;s:3:\"TMT\";i:140;s:3:\"TND\";i:141;s:3:\"TOP\";i:142;s:3:\"TRY\";i:143;s:3:\"TTD\";i:144;s:3:\"TWD\";i:145;s:3:\"TZS\";i:146;s:3:\"UAH\";i:147;s:3:\"UGX\";i:148;s:3:\"UYU\";i:149;s:3:\"UZS\";i:150;s:3:\"VEF\";i:151;s:3:\"VND\";i:152;s:3:\"VUV\";i:153;s:3:\"WST\";i:154;s:3:\"XAF\";i:155;s:3:\"XCD\";i:156;s:3:\"XOF\";i:157;s:3:\"XPF\";i:158;s:3:\"YER\";i:159;s:3:\"ZAR\";i:160;s:3:\"ZMW\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"Currency\";s:13:\"modelAsString\";b:1;}}s:12:\"availability\";O:8:\"stdClass\":5:{s:11:\"description\";s:163:\"The
  item's availability. The following are the possible values: Discontinued, InStock,
  InStoreOnly, LimitedAvailability, OnlineOnly, OutOfStock, PreOrder, SoldOut.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:12:\"Discontinued\";i:1;s:7:\"InStock\";i:2;s:11:\"InStoreOnly\";i:3;s:19:\"LimitedAvailability\";i:4;s:10:\"OnlineOnly\";i:5;s:10:\"OutOfStock\";i:6;s:8:\"PreOrder\";i:7;s:7:\"SoldOut\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"ItemAvailability\";s:13:\"modelAsString\";b:1;}}s:15:\"aggregateRating\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"An
  aggregated rating that indicates how well the product has been rated by others.\";s:4:\"$ref\";s:29:\"#/definitions/AggregateRating\";s:8:\"readOnly\";b:1;}s:11:\"lastUpdated\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  last date that the offer was updated. The date is in the form YYYY-MM-DD.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:12:\"Organization\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Defines
  an organization.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:6:\"Person\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Defines
  a person.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"jobTitle\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  person's job title.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"twitterProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  URL of the person's twitter profile.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:10:\"Intangible\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"A
  utility class that serves as the umbrella for a number of 'intangible' things such
  as quantities, structured values, etc.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:4:\"type\";s:6:\"object\";}s:23:\"NormalizedQuadrilateral\";O:8:\"stdClass\":5:{s:11:\"description\";s:264:\"Defines
  a region of an image. The region is a convex quadrilateral defined by coordinates
  of its top left, top right, bottom left, and bottom right points. The coordinates
  are fractional values of the original image's width and height in the range 0.0
  through 1.0.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StructuredValue\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:7:\"topLeft\";i:1;s:8:\"topRight\";i:2;s:11:\"bottomRight\";i:3;s:10:\"bottomLeft\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"topLeft\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  top left corner coordinate.\";s:4:\"$ref\";s:21:\"#/definitions/Point2D\";}s:8:\"topRight\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  top right corner coordinate.\";s:4:\"$ref\";s:21:\"#/definitions/Point2D\";}s:11:\"bottomRight\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  bottom right corner coordinate.\";s:4:\"$ref\";s:21:\"#/definitions/Point2D\";}s:10:\"bottomLeft\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  bottom left corner coordinate.\";s:4:\"$ref\";s:21:\"#/definitions/Point2D\";}}}s:17:\"ImageEntityAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Defines
  an entity action.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageAction\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:17:\"ImageEntityAction\";}s:17:\"ImageModuleAction\";O:8:\"stdClass\":5:{s:11:\"description\";s:29:\"Defines
  an image list action.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageAction\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:17:\"ImageModuleAction\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"A
  list of images.\";s:4:\"$ref\";s:26:\"#/definitions/ImagesModule\";s:8:\"readOnly\";b:1;}}}s:18:\"ImageRecipesAction\";O:8:\"stdClass\":5:{s:11:\"description\";s:25:\"Defines
  an recipe action.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageAction\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:18:\"ImageRecipesAction\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"A
  list of recipes related to the image.\";s:4:\"$ref\";s:27:\"#/definitions/RecipesModule\";s:8:\"readOnly\";b:1;}}}s:26:\"ImageRelatedSearchesAction\";O:8:\"stdClass\":5:{s:11:\"description\";s:33:\"Defines
  an related search action.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageAction\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:26:\"ImageRelatedSearchesAction\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"A
  list of queries related to the image.\";s:4:\"$ref\";s:35:\"#/definitions/RelatedSearchesModule\";s:8:\"readOnly\";b:1;}}}s:26:\"ImageShoppingSourcesAction\";O:8:\"stdClass\":5:{s:11:\"description\";s:34:\"Defines
  a shopping sources action.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageAction\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:26:\"ImageShoppingSourcesAction\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  list of merchants that offer items related to the image.\";s:4:\"$ref\";s:28:\"#/definitions/AggregateOffer\";s:8:\"readOnly\";b:1;}}}s:14:\"AggregateOffer\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"Defines
  a list of offers from merchants that are related to the image.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Offer\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"offers\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"A
  list of offers from merchants that have offerings related to the image.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Offer\";}}}}s:5:\"Query\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Defines
  a search query.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"text\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  query string. Use this string as the query term in a new search request.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayText\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  display version of the query term.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"webSearchUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  URL that takes the user to the Bing search results page for the query.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"searchLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:293:\"The
  URL that you use to get the results of the related search. Before using the URL,
  you must append query parameters as appropriate and include the Ocp-Apim-Subscription-Key
  header. Use this URL if you're displaying the results in your own user interface.
  Otherwise, use the webSearchUrl URL.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"thumbnail\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  URL to a thumbnail of a related image.\";s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}}}s:6:\"Recipe\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Defines
  a cooking recipe.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreativeWork\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"cookTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:154:\"The
  amount of time the food takes to cook. For example, PT25M. For information about
  the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"prepTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"The
  amount of time required to prepare the ingredients. For example, PT15M. For information
  about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"totalTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:177:\"The
  total amount of time it takes to prepare and cook the recipe. For example, PT45M.
  For information about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:15:\"AggregateRating\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"Defines
  the metrics that indicate how well an item was rated by others.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Rating\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"reviewCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"The
  number of times the recipe has been rated or reviewed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:15:\"StructuredValue\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Intangible\";}}s:4:\"type\";s:6:\"object\";}s:14:\"PropertiesItem\";O:8:\"stdClass\":6:{s:11:\"description\";s:16:\"Defines
  an item.\";s:24:\"x-ms-discriminator-value\";s:15:\"Properties/Item\";s:13:\"discriminator\";s:5:\"_type\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"_type\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Text
  representation of an item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Point2D\";O:8:\"stdClass\":5:{s:11:\"description\";s:44:\"Defines
  a 2D point with X and Y coordinates.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StructuredValue\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:1:\"x\";i:1;s:1:\"y\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:1:\"x\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  x-coordinate of the point.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:1:\"y\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  y-coordinate of the point.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}}}s:12:\"ImagesModule\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Defines
  a list of images.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"A
  list of images.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";}}}}s:13:\"RecipesModule\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Defines
  a list of recipes.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"A
  list of recipes.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Recipe\";}}}}s:21:\"RelatedSearchesModule\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Defines
  a list of related searches.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"A
  list of related searches.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}}}}s:6:\"Rating\";O:8:\"stdClass\":5:{s:11:\"description\";s:17:\"Defines
  a rating.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PropertiesItem\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"ratingValue\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ratingValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  mean (average) rating. The possible values are 1.0 through 5.0.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:10:\"bestRating\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"The
  highest rated review. The possible values are 1.0 through 5.0.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}}}s:19:\"VisualSearchRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"A
  JSON object that contains information about the image to get insights of. Specify
  this object only in a knowledgeRequest form data.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"imageInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"A
  JSON object that identities the image to get insights of.\";s:4:\"$ref\";s:23:\"#/definitions/ImageInfo\";}s:16:\"knowledgeRequest\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"A
  JSON object containing information about the request, such as filters, or a description.\";s:4:\"$ref\";s:30:\"#/definitions/KnowledgeRequest\";}}}s:9:\"ImageInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"A
  JSON object that identities the image to get insights of . It also includes the
  optional crop area that you use to identify the region of interest in the image.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"imageInsightsToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:575:\"An
  image insights token. To get the insights token, call one of the Image Search APIs
  (for example, /images/search). In the search results, the [Image](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#image)
  object's [imageInsightsToken](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#image-imageinsightstoken)
  field contains the token. The imageInsightsToken and url fields mutually exclusive;
  do not specify both. Do not specify an insights token if the request includes the
  image form data.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:178:\"The
  URL of the input image. The imageInsightsToken and url fields are mutually exclusive;
  do not specify both. Do not specify the URL if the request includes the image form
  data.\";s:4:\"type\";s:6:\"string\";}s:8:\"cropArea\";O:8:\"stdClass\":2:{s:11:\"description\";s:329:\"A
  JSON object consisting of coordinates specifying the four corners of a cropped rectangle
  within the input image. Use the crop area to identify the region of interest in
  the image. You can apply the crop area to the images specified using the imageInsightsToken
  or url fields, or an image binary specified in an image form data.\";s:4:\"$ref\";s:22:\"#/definitions/CropArea\";}}}s:8:\"CropArea\";O:8:\"stdClass\":4:{s:11:\"description\";s:114:\"A
  JSON object consisting of coordinates specifying the four corners of a cropped rectangle
  within the input image.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:3:\"top\";i:1;s:6:\"bottom\";i:2;s:4:\"left\";i:3;s:5:\"right\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"top\";O:8:\"stdClass\":3:{s:11:\"description\";s:219:\"The
  top coordinate of the region to be cropped. The coordinate is a fractional value
  of the original image's height and is measured from the top edge of the image. Specify
  the coordinate as a value from 0.0 through 1.0.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:6:\"bottom\";O:8:\"stdClass\":3:{s:11:\"description\";s:222:\"The
  bottom coordinate of the region to be cropped. The coordinate is a fractional value
  of the original image's height and is measured from the top edge of the image. Specify
  the coordinate as a value from 0.0 through 1.0.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:4:\"left\";O:8:\"stdClass\":3:{s:11:\"description\";s:220:\"The
  left coordinate of the region to be cropped. The coordinate is a fractional value
  of the original image's width and is measured from the left edge of the image. Specify
  the coordinate as a value from 0.0 through 1.0.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}s:5:\"right\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"The
  right coordinate of the region to be cropped. The coordinate is a fractional value
  of the original image's width and is measured from the left edge of the image. Specify
  the coordinate as a value from 0.0 through 1.0.\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";}}}s:16:\"KnowledgeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"A
  JSON object containing information about the request, such as filters for the resulting
  actions.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"filters\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"A
  key-value object consisting of filters that may be specified to limit the results
  returned by the API.\";s:4:\"$ref\";s:21:\"#/definitions/Filters\";}}}s:7:\"Filters\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"A
  key-value object consisting of filters that may be specified to limit the results
  returned by the API. Current available filters: site.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"site\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"The
  URL of the site to return similar images and similar products from. (e.g., \"www.bing.com\",
  \"bing.com\").\";s:4:\"type\";s:6:\"string\";}}}}"
...
