---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:9:\"microsoft\";}s:11:\"description\";s:141:\"The
  Bing Custom Search API lets you send a search query to Bing and get back search
  results customized to meet your custom search definition.\";s:5:\"title\";s:13:\"Custom
  Search\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:153:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomSearch/stable/v1.0/CustomSearch.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"microsoft.com\";s:13:\"x-serviceName\";s:30:\"cognitiveservices-CustomSearch\";s:6:\"x-tags\";a:1:{i:0;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:40:\"microsoft_cognitiveservices_customsearch\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.cognitive.microsoft.com
basePath: /bingcustomsearch/v7.0
paths:
  /search:
    get:
      operationId: CustomInstance_Search
      parameters:
      - $ref: '#/parameters/x-bingapis-sdk'
      - description: The default media type is application/json. To specify that the
          response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
        in: header
        name: Accept
        required: false
        type: string
      - description: A comma-delimited list of one or more languages to use for user
          interface strings. The list is in decreasing order of preference. For additional
          information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          This header and the setLang query parameter are mutually exclusive; do not
          specify both. If you set this header, you must also specify the cc query
          parameter. Bing will use the first supported language it finds from the
          list, and combine that language with the cc parameter value to determine
          the market to return results for. If the list does not include a supported
          language, Bing will find the closest language and market that supports the
          request, and may use an aggregated or default market for the results instead
          of a specified one. You should use this header and the cc query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. A user interface string is a string that's
          used as a label in a user interface. There are very few user interface strings
          in the JSON response objects. Any links in the response objects to Bing.com
          properties will apply the specified language.
        in: header
        name: Accept-Language
        required: false
        type: string
        x-ms-client-name: AcceptLanguage
      - description: The user agent originating the request. Bing uses the user agent
          to provide mobile users with an optimized experience. Although optional,
          you are strongly encouraged to always specify this header. The user-agent
          should be the same string that any commonly used browser would send. For
          information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
        in: header
        name: User-Agent
        required: false
        type: string
        x-ms-client-name: UserAgent
      - description: 'Bing uses this header to provide users with consistent behavior
          across Bing API calls. Bing often flights new features and improvements,
          and it uses the client ID as a key for assigning traffic on different flights.
          If you do not use the same client ID for a user across multiple requests,
          then Bing may assign the user to multiple conflicting flights. Being assigned
          to multiple conflicting flights can lead to an inconsistent user experience.
          For example, if the second request has a different flight assignment than
          the first, the experience may be unexpected. Also, Bing can use the client
          ID to tailor web results to that client IDu2019s search history, providing
          a richer experience for the user. Bing also uses this header to help improve
          result rankings by analyzing the activity generated by a client ID. The
          relevance improvements help with better quality of results delivered by
          Bing APIs and in turn enables higher click-through rates for the API consumer.
          IMPORTANT: Although optional, you should consider this header required.
          Persisting the client ID across multiple requests for the same end user
          and device combination enables 1) the API consumer to receive a consistent
          user experience, and 2) higher click-through rates via better quality of
          results from the Bing APIs. Each user that uses your application on the
          device must have a unique, Bing generated client ID. If you do not include
          this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID
          response header. The only time that you should NOT include this header in
          a request is the first time the user uses your app on that device. Use the
          client ID for each Bing API request that your app makes for this user on
          the device. Persist the client ID. To persist the ID in a browser app, use
          a persistent HTTP cookie to ensure the ID is used across all sessions. Do
          not use a session cookie. For other apps such as mobile apps, use the device''s
          persistent storage to persist the ID. The next time the user uses your app
          on that device, get the client ID that you persisted. Bing responses may
          or may not include this header. If the response includes this header, capture
          the client ID and use it for all subsequent Bing requests for the user on
          that device. If you include the X-MSEdge-ClientID, you must not include
          cookies in the request.'
        in: header
        name: X-MSEdge-ClientID
        required: false
        type: string
        x-ms-client-name: ClientId
      - description: The IPv4 or IPv6 address of the client device. The IP address
          is used to discover the user's location. Bing uses the location information
          to determine safe search behavior. Although optional, you are encouraged
          to always specify this header and the X-Search-Location header. Do not obfuscate
          the address (for example, by changing the last octet to 0). Obfuscating
          the address results in the location not being anywhere near the device's
          actual location, which may result in Bing serving erroneous results.
        in: header
        name: X-MSEdge-ClientIP
        required: false
        type: string
        x-ms-client-name: ClientIp
      - description: 'A semicolon-delimited list of key/value pairs that describe
          the client''s geographical location. Bing uses the location information
          to determine safe search behavior and to return relevant local content.
          Specify the key/value pair as <key>:<value>. The following are the keys
          that you use to specify the user''s location. lat (required): The latitude
          of the client''s location, in degrees. The latitude must be greater than
          or equal to -90.0 and less than or equal to +90.0. Negative values indicate
          southern latitudes and positive values indicate northern latitudes. long
          (required): The longitude of the client''s location, in degrees. The longitude
          must be greater than or equal to -180.0 and less than or equal to +180.0.
          Negative values indicate western longitudes and positive values indicate
          eastern longitudes. re (required): The radius, in meters, which specifies
          the horizontal accuracy of the coordinates. Pass the value returned by the
          device''s location service. Typical values might be 22m for GPS/Wi-Fi, 380m
          for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional):
          The UTC UNIX timestamp of when the client was at the location. (The UNIX
          timestamp is the number of seconds since January 1, 1970.) head (optional):
          The client''s relative heading or direction of travel. Specify the direction
          of travel as degrees from 0 through 360, counting clockwise relative to
          true north. Specify this key only if the sp key is nonzero. sp (optional):
          The horizontal velocity (speed), in meters per second, that the client device
          is traveling. alt (optional): The altitude of the client device, in meters.
          are (optional): The radius, in meters, that specifies the vertical accuracy
          of the coordinates. Specify this key only if you specify the alt key. Although
          many of the keys are optional, the more information that you provide, the
          more accurate the location results are. Although optional, you are encouraged
          to always specify the user''s geographical location. Providing the location
          is especially important if the client''s IP address does not accurately
          reflect the user''s physical location (for example, if the client uses VPN).
          For optimal results, you should include this header and the X-MSEdge-ClientIP
          header, but at a minimum, you should include this header.'
        in: header
        name: X-Search-Location
        required: false
        type: string
        x-ms-client-name: Location
      - description: The identifier for the custom search configuration
        format: int64
        in: query
        minimum: 0
        name: customConfig
        required: true
        type: integer
        x-ms-client-name: CustomConfig
      - description: A 2-character country code of the country where the results come
          from. This API supports only the United States market. If you specify this
          query parameter, it must be set to us. If you set this parameter, you must
          also specify the Accept-Language header. Bing uses the first supported language
          it finds from the languages list, and combine that language with the country
          code that you specify to determine the market to return results for. If
          the languages list does not include a supported language, Bing finds the
          closest language and market that supports the request, or it may use an
          aggregated or default market for the results instead of a specified one.
          You should use this query parameter and the Accept-Language query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. This parameter and the mkt query parameter
          are mutually exclusiveu2014do not specify both.
        in: query
        name: cc
        required: false
        type: string
        x-ms-client-name: CountryCode
      - description: The number of search results to return in the response. The default
          is 10 and the maximum value is 50. The actual number delivered may be less
          than requested.Use this parameter along with the offset parameter to page
          results.For example, if your user interface displays 10 search results per
          page, set count to 10 and offset to 0 to get the first page of results.
          For each subsequent page, increment offset by 10 (for example, 0, 10, 20).
          It is possible for multiple pages to include some overlap in results.
        format: int32
        in: query
        name: count
        required: false
        type: integer
        x-ms-client-name: Count
      - default: en-us
        description: The market where the results come from. Typically, mkt is the
          country where the user is making the request from. However, it could be
          a different country if the user is not located in a country where Bing delivers
          results. The market must be in the form <language code>-<country code>.
          For example, en-US. The string is case insensitive. If known, you are encouraged
          to always specify the market. Specifying the market helps Bing route the
          request and return an appropriate and optimal response. If you specify a
          market that is not listed in Market Codes, Bing uses a best fit market code
          based on an internal mapping that is subject to change. This parameter and
          the cc query parameter are mutually exclusiveu2014do not specify both.
        in: query
        name: mkt
        required: false
        type: string
        x-ms-client-name: Market
      - description: The zero-based offset that indicates the number of search results
          to skip before returning results. The default is 0. The offset should be
          less than (totalEstimatedMatches - count). Use this parameter along with
          the count parameter to page results. For example, if your user interface
          displays 10 search results per page, set count to 10 and offset to 0 to
          get the first page of results. For each subsequent page, increment offset
          by 10 (for example, 0, 10, 20). it is possible for multiple pages to include
          some overlap in results.
        format: int32
        in: query
        name: offset
        required: false
        type: integer
        x-ms-client-name: Offset
      - description: 'The user''s search query term. The term may not be empty. The
          term may contain Bing Advanced Operators. For example, to limit results
          to a specific domain, use the site: operator.'
        in: query
        name: q
        required: true
        type: string
        x-ms-client-name: Query
      - description: 'A filter used to filter adult content. Off: Return webpages
          with adult text, images, or videos. Moderate: Return webpages with adult
          text, but not adult images or videos. Strict: Do not return webpages with
          adult text, images, or videos. The default is Moderate. If the request comes
          from a market that Bing''s adult policy requires that safeSearch is set
          to Strict, Bing ignores the safeSearch value and uses Strict. If you use
          the site: query operator, there is the chance that the response may contain
          adult content regardless of what the safeSearch query parameter is set to.
          Use site: only if you are aware of the content on the site and your scenario
          supports the possibility of adult content.'
        enum:
        - "Off"
        - Moderate
        - Strict
        in: query
        name: safeSearch
        required: false
        type: string
        x-ms-client-name: SafeSearch
        x-ms-enum:
          modelAsString: true
          name: SafeSearch
      - description: The language to use for user interface strings. Specify the language
          using the ISO 639-1 2-letter language code. For example, the language code
          for English is EN. The default is EN (English). Although optional, you should
          always specify the language. Typically, you set setLang to the same language
          specified by mkt unless the user wants the user interface strings displayed
          in a different language. This parameter and the Accept-Language header are
          mutually exclusive; do not specify both. A user interface string is a string
          that's used as a label in a user interface. There are few user interface
          strings in the JSON response objects. Also, any links to Bing.com properties
          in the response objects apply the specified language.
        in: query
        name: setLang
        required: false
        type: string
        x-ms-client-name: SetLang
      - description: A Boolean value that determines whether display strings should
          contain decoration markers such as hit highlighting characters. If true,
          the strings may include markers. The default is false. To specify whether
          to use Unicode characters or HTML tags as the markers, see the textFormat
          query parameter.
        in: query
        name: textDecorations
        required: false
        type: boolean
        x-ms-client-name: TextDecorations
      - description: The type of markers to use for text decorations (see the textDecorations
          query parameter). Possible values are Rawu2014Use Unicode characters to
          mark content that needs special formatting. The Unicode characters are in
          the range E000 through E019. For example, Bing uses E000 and E001 to mark
          the beginning and end of query terms for hit highlighting. HTMLu2014Use
          HTML tags to mark content that needs special formatting. For example, use
          <b> tags to highlight query terms in display strings. The default is Raw.
          For display strings that contain escapable HTML characters such as <, >,
          and &, if textFormat is set to HTML, Bing escapes the characters as appropriate
          (for example, < is escaped to &lt;).
        enum:
        - Raw
        - Html
        in: query
        name: textFormat
        required: false
        type: string
        x-ms-client-name: TextFormat
        x-ms-enum:
          modelAsString: true
          name: TextFormat
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/SearchResponse'
        default:
          description: An error has occurred. Check the response type and/or status
            code for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: The Custom Search API lets you send a search query to Bing and get
        back web pages found in your custom view of the web.
      tags:
      - CustomSearch
      x-ms-examples:
        Successful query:
          parameters:
            Ocp-Apim-Subscription-Key: '{API key}'
            X-BingApis-SDK: "true"
            customConfig: 123456
            q: cortana
          responses:
            200:
              body:
                _type: SearchResponse
                webPages:
                  _type: Web/WebAnswer
                  totalEstimatedMatches: 1
                  value:
                  - _type: WebPage
                    dateLastCrawled: "2017-11-27T14:12:00.0000000Z"
                    displayUrl: https://www.microsoft.com/en-us/cortana/skills/all
                    id: https://api.cognitive.microsoft.com/api/v7/#WebPages.0
                    name: Cortana Skills - microsoft.com
                    snippet: u201cHey Cortana, ask Akinator to guess who I am thinking
                      of.u201d u201cHey Cortana, ask Akinator to start.u201d u201cHey
                      Cortana, ask Akinator to play a new round.u201d u201cHey ...
                    url: https://www.microsoft.com/en-us/cortana/skills/all
                  webSearchUrl: https://www.bing.com/search?q=cortana
              headers: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":15:{s:6:\"Answer\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"followUpQueries\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CreativeWork\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"provider\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  source of the creative work.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"text\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"thumbnailUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  URL to a thumbnail of the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Defines
  the error that occurred.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"code\";O:8:\"stdClass\":5:{s:7:\"default\";s:4:\"None\";s:11:\"description\";s:53:\"The
  error code that identifies the category of error.\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:11:\"ServerError\";i:2;s:14:\"InvalidRequest\";i:3;s:17:\"RateLimitExceeded\";i:4;s:20:\"InvalidAuthorization\";i:5;s:25:\"InsufficientAuthorization\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"ErrorCode\";}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  description of the error.\";s:4:\"type\";s:6:\"string\";}s:11:\"moreDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  description that provides additional information about the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  parameter in the request that caused the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"subCode\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"The
  error code that further helps to identify the error.\";s:4:\"enum\";a:11:{i:0;s:15:\"UnexpectedError\";i:1;s:13:\"ResourceError\";i:2;s:14:\"NotImplemented\";i:3;s:16:\"ParameterMissing\";i:4;s:21:\"ParameterInvalidValue\";i:5;s:14:\"HttpNotAllowed\";i:6;s:7:\"Blocked\";i:7;s:20:\"AuthorizationMissing\";i:8;s:23:\"AuthorizationRedundancy\";i:9;s:21:\"AuthorizationDisabled\";i:10;s:20:\"AuthorizationExpired\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"ErrorSubCode\";}}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  parameter's value in the request that was not valid.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:4:\"type\";s:6:\"object\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:11:\"description\";s:56:\"The
  top-level response that represents a failed request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  list of errors that describe the reasons why the request failed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:6:\"errors\";}s:4:\"type\";s:6:\"object\";}s:12:\"Identifiable\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResponseBase\";}}s:11:\"description\";s:35:\"Defines
  the identity of a resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  String identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Query\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Defines
  a search query.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayText\";O:8:\"stdClass\":3:{s:11:\"description\";s:249:\"The
  display version of the query term. This version of the query term may contain special
  characters that highlight the search term found in the query string. The string
  contains the highlighting characters only if the query enabled hit highlighting\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"searchLink\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  query string. Use this string as the query term in a new search request.\";s:4:\"type\";s:6:\"string\";}s:12:\"webSearchUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"The
  URL that takes the user to the Bing search results page for the query.Only related
  search results include this field.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"text\";}s:4:\"type\";s:6:\"object\";}s:12:\"QueryContext\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Defines
  the query context that Bing used for the request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"adultIntent\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"A
  Boolean value that indicates whether the specified query has adult intent. The value
  is true if the query has adult intent; otherwise, false.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:23:\"alterationOverrideQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:335:\"The
  query string to use to force Bing to use the original string. For example, if the
  query string is \"saling downwind\", the override query string will be \"+saling
  downwind\". Remember to encode the query string which results in \"%2Bsaling+downwind\".
  This field is included only if the original query string contains a spelling mistake.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"alteredQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:338:\"The
  query string used by Bing to perform the query. Bing uses the altered query string
  if the original query string contained spelling mistakes. For example, if the query
  string is \"saling downwind\", the altered query string will be \"sailing downwind\".
  This field is included only if the original query string contains a spelling mistake.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"originalQuery\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  query string as specified in the request.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:13:\"originalQuery\";}s:4:\"type\";s:6:\"object\";}s:8:\"Response\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Identifiable\";}}s:11:\"description\";s:105:\"Defines
  a response. All schemas that could be returned at the root of a response should
  inherit from this\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"webSearchUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  URL To Bing's search result for this item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ResponseBase\";O:8:\"stdClass\":4:{s:13:\"discriminator\";s:5:\"_type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"_type\";}s:4:\"type\";s:6:\"object\";}s:14:\"SearchResponse\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:11:\"description\";s:82:\"Defines
  the top-level object that the response includes when the request succeeds.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"queryContext\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/QueryContext\";s:11:\"description\";s:257:\"An
  object that contains the query string that Bing used for the request. This object
  contains the query string as entered by the user. It may also contain an altered
  query string that Bing used for the query if the query string contained a spelling
  mistake.\";s:8:\"readOnly\";b:1;}s:8:\"webPages\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/WebWebAnswer\";s:11:\"description\";s:57:\"A
  list of webpages that are relevant to the search query.\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}s:19:\"SearchResultsAnswer\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Answer\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"isFamilyFriendly\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:12:\"queryContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/QueryContext\";s:8:\"readOnly\";b:1;}s:21:\"totalEstimatedMatches\";O:8:\"stdClass\":4:{s:11:\"description\";s:150:\"The
  estimated number of webpages that are relevant to the query. Use this number along
  with the count and offset query parameters to page the results.\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Thing\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"bingId\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  ID that uniquely identifies this item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  short description of the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  name of the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  URL to get more information about the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"WebMetaTag\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Defines
  a webpage's metadata.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"content\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  name of the metadata.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  metadata.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"WebPage\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreativeWork\";}}s:11:\"description\";s:48:\"Defines
  a webpage that is relevant to the query.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"dateLastCrawled\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"The
  last time that Bing crawled the webpage. The date is in the form, YYYY-MM-DDTHH:MM:SS.
  For example, 2015-04-13T05:23:39.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"deepLinks\";O:8:\"stdClass\":4:{s:11:\"description\";s:192:\"A
  list of links to related content that Bing found in the website that contains this
  webpage. The Webpage object in this context includes only the name, url, urlPingSuffix,
  and snippet fields.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/WebPage\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:10:\"displayUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  display URL of the webpage. The URL is meant for display purposes only and is not
  well formed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"searchTags\";O:8:\"stdClass\":4:{s:11:\"description\";s:289:\"A
  list of search tags that the webpage owner specified on the webpage. The API returns
  only indexed search tags. The name field of the MetaTag object contains the indexed
  search tag. Search tags begin with search.* (for example, search.assetId). The content
  field contains the tag's value.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/WebMetaTag\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:7:\"snippet\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"A
  snippet of text from the webpage that describes its contents.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"WebWebAnswer\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";}}s:11:\"description\";s:41:\"Defines
  a list of relevant webpage links.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"someResultsRemoved\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"A
  Boolean value that indicates whether the response excluded some results from the
  answer. If Bing excluded some results, the value is true.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"A
  list of webpages that are relevant to the query.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/WebPage\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:13:\"Web/WebAnswer\";}}"
...
