---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:9:\"microsoft\";}s:11:\"description\";s:450:\"The
  News Search API lets you send a search query to Bing and get back a list of news
  that are relevant to the search query. This section provides technical details about
  the query parameters and headers that you use to request news and the JSON response
  objects that contain them. For examples that show how to make requests, see [Searching
  the web for news](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-news-search/search-the-web).\";s:5:\"title\";s:11:\"News
  Search\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:149:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/NewsSearch/stable/v1.0/NewsSearch.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"microsoft.com\";s:13:\"x-serviceName\";s:28:\"cognitiveservices-NewsSearch\";s:6:\"x-tags\";a:1:{i:0;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:38:\"microsoft_cognitiveservices_newssearch\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.cognitive.microsoft.com
basePath: /bing/v7.0
paths:
  /news:
    get:
      operationId: News_Category
      parameters:
      - $ref: '#/parameters/x-bingapis-sdk'
      - description: The default media type is application/json. To specify that the
          response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
        in: header
        name: Accept
        required: false
        type: string
      - description: A comma-delimited list of one or more languages to use for user
          interface strings. The list is in decreasing order of preference. For additional
          information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          This header and the [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#setlang)
          query parameter are mutually exclusive; do not specify both. If you set
          this header, you must also specify the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#cc)
          query parameter. To determine the market to return results for, Bing uses
          the first supported language it finds from the list and combines it with
          the cc parameter value. If the list does not include a supported language,
          Bing finds the closest language and market that supports the request or
          it uses an aggregated or default market for the results. To determine the
          market that Bing used, see the BingAPIs-Market header. Use this header and
          the cc query parameter only if you specify multiple languages. Otherwise,
          use the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#mkt)
          and [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#setlang)
          query parameters. A user interface string is a string that's used as a label
          in a user interface. There are few user interface strings in the JSON response
          objects. Any links to Bing.com properties in the response objects apply
          the specified language.
        in: header
        name: Accept-Language
        required: false
        type: string
        x-ms-client-name: AcceptLanguage
      - description: 'The user agent originating the request. Bing uses the user agent
          to provide mobile users with an optimized experience. Although optional,
          you are encouraged to always specify this header. The user-agent should
          be the same string that any commonly used browser sends. For information
          about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          The following are examples of user-agent strings. Windows Phone: Mozilla/5.0
          (compatible; MSIE 10.0; Windows Phone 8.0; Trident/6.0; IEMobile/10.0; ARM;
          Touch; NOKIA; Lumia 822). Android: Mozilla / 5.0 (Linux; U; Android 2.3.5;
          en - us; SCH - I500 Build / GINGERBREAD) AppleWebKit / 533.1 (KHTML; like
          Gecko) Version / 4.0 Mobile Safari / 533.1. iPhone: Mozilla / 5.0 (iPhone;
          CPU iPhone OS 6_1 like Mac OS X) AppleWebKit / 536.26 (KHTML; like Gecko)
          Mobile / 10B142 iPhone4; 1 BingWeb / 3.03.1428.20120423. PC: Mozilla / 5.0
          (Windows NT 6.3; WOW64; Trident / 7.0; Touch; rv:11.0) like Gecko. iPad:
          Mozilla / 5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit / 537.51.1 (KHTML,
          like Gecko) Version / 7.0 Mobile / 11A465 Safari / 9537.53'
        in: header
        name: User-Agent
        required: false
        type: string
        x-ms-client-name: UserAgent
      - description: 'Bing uses this header to provide users with consistent behavior
          across Bing API calls. Bing often flights new features and improvements,
          and it uses the client ID as a key for assigning traffic on different flights.
          If you do not use the same client ID for a user across multiple requests,
          then Bing may assign the user to multiple conflicting flights. Being assigned
          to multiple conflicting flights can lead to an inconsistent user experience.
          For example, if the second request has a different flight assignment than
          the first, the experience may be unexpected. Also, Bing can use the client
          ID to tailor web results to that client IDu2019s search history, providing
          a richer experience for the user. Bing also uses this header to help improve
          result rankings by analyzing the activity generated by a client ID. The
          relevance improvements help with better quality of results delivered by
          Bing APIs and in turn enables higher click-through rates for the API consumer.
          IMPORTANT: Although optional, you should consider this header required.
          Persisting the client ID across multiple requests for the same end user
          and device combination enables 1) the API consumer to receive a consistent
          user experience, and 2) higher click-through rates via better quality of
          results from the Bing APIs. Each user that uses your application on the
          device must have a unique, Bing generated client ID. If you do not include
          this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID
          response header. The only time that you should NOT include this header in
          a request is the first time the user uses your app on that device. Use the
          client ID for each Bing API request that your app makes for this user on
          the device. Persist the client ID. To persist the ID in a browser app, use
          a persistent HTTP cookie to ensure the ID is used across all sessions. Do
          not use a session cookie. For other apps such as mobile apps, use the device''s
          persistent storage to persist the ID. The next time the user uses your app
          on that device, get the client ID that you persisted. Bing responses may
          or may not include this header. If the response includes this header, capture
          the client ID and use it for all subsequent Bing requests for the user on
          that device. If you include the X-MSEdge-ClientID, you must not include
          cookies in the request.'
        in: header
        name: X-MSEdge-ClientID
        required: false
        type: string
        x-ms-client-name: ClientId
      - description: The IPv4 or IPv6 address of the client device. The IP address
          is used to discover the user's location. Bing uses the location information
          to determine safe search behavior. Although optional, you are encouraged
          to always specify this header and the X-Search-Location header. Do not obfuscate
          the address (for example, by changing the last octet to 0). Obfuscating
          the address results in the location not being anywhere near the device's
          actual location, which may result in Bing serving erroneous results.
        in: header
        name: X-MSEdge-ClientIP
        required: false
        type: string
        x-ms-client-name: ClientIp
      - description: 'A semicolon-delimited list of key/value pairs that describe
          the client''s geographical location. Bing uses the location information
          to determine safe search behavior and to return relevant local content.
          Specify the key/value pair as <key>:<value>. The following are the keys
          that you use to specify the user''s location. lat (required): The latitude
          of the client''s location, in degrees. The latitude must be greater than
          or equal to -90.0 and less than or equal to +90.0. Negative values indicate
          southern latitudes and positive values indicate northern latitudes. long
          (required): The longitude of the client''s location, in degrees. The longitude
          must be greater than or equal to -180.0 and less than or equal to +180.0.
          Negative values indicate western longitudes and positive values indicate
          eastern longitudes. re (required): The radius, in meters, which specifies
          the horizontal accuracy of the coordinates. Pass the value returned by the
          device''s location service. Typical values might be 22m for GPS/Wi-Fi, 380m
          for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional):
          The UTC UNIX timestamp of when the client was at the location. (The UNIX
          timestamp is the number of seconds since January 1, 1970.) head (optional):
          The client''s relative heading or direction of travel. Specify the direction
          of travel as degrees from 0 through 360, counting clockwise relative to
          true north. Specify this key only if the sp key is nonzero. sp (optional):
          The horizontal velocity (speed), in meters per second, that the client device
          is traveling. alt (optional): The altitude of the client device, in meters.
          are (optional): The radius, in meters, that specifies the vertical accuracy
          of the coordinates. Specify this key only if you specify the alt key. Although
          many of the keys are optional, the more information that you provide, the
          more accurate the location results are. Although optional, you are encouraged
          to always specify the user''s geographical location. Providing the location
          is especially important if the client''s IP address does not accurately
          reflect the user''s physical location (for example, if the client uses VPN).
          For optimal results, you should include this header and the X-MSEdge-ClientIP
          header, but at a minimum, you should include this header.'
        in: header
        name: X-Search-Location
        required: false
        type: string
        x-ms-client-name: Location
      - description: A 2-character country code of the country where the results come
          from. This API supports only the United States market. If you specify this
          query parameter, it must be set to us. If you set this parameter, you must
          also specify the Accept-Language header. Bing uses the first supported language
          it finds from the languages list, and combine that language with the country
          code that you specify to determine the market to return results for. If
          the languages list does not include a supported language, Bing finds the
          closest language and market that supports the request, or it may use an
          aggregated or default market for the results instead of a specified one.
          You should use this query parameter and the Accept-Language query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. This parameter and the mkt query parameter
          are mutually exclusiveu2014do not specify both.
        in: query
        name: cc
        required: false
        type: string
        x-ms-client-name: CountryCode
      - description: 'The category of articles to return. For example, Sports articles
          or Entertainment articles. For a list of possible categories, see [News
          Categories by Market](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#categories-by-market).
          Use this parameter only with News Category API. If you do not specify this
          parameter, the response includes both: Headline articles typically published
          in the last 24 hours from any category and articles from each parent category
          (up to four articles). If the article is a headline, the article''s headline
          field is set to true. By default, the response includes up to 12 headline
          articles. To specify the number of headline articles to return, set the
          [headlineCount](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#headlineCount)
          query parameter.'
        in: query
        name: category
        required: false
        type: string
        x-ms-client-name: Category
      - description: The number of news articles to return in the response. The actual
          number delivered may be less than requested. The default is 10 and the maximum
          value is 100. The actual number delivered may be less than requested.You
          may use this parameter along with the offset parameter to page results.
          For example, if your user interface displays 20 articles per page, set count
          to 20 and offset to 0 to get the first page of results. For each subsequent
          page, increment offset by 20 (for example, 0, 20, 40). It is possible for
          multiple pages to include some overlap in results. If you do not specify
          the [category](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#category)
          parameter, Bing ignores this parameter.
        format: int32
        in: query
        name: count
        required: false
        type: integer
        x-ms-client-name: Count
      - description: The number of headline articles to return in the response. The
          default is 12. Specify this parameter only if you do not specify the [category](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#category)
          parameter.
        format: int32
        in: query
        name: headlineCount
        required: false
        type: integer
        x-ms-client-name: HeadlineCount
      - description: 'The market where the results come from. Typically, mkt is the
          country where the user is making the request from. However, it could be
          a different country if the user is not located in a country where Bing delivers
          results. The market must be in the form <language code>-<country code>.
          For example, en-US. The string is case insensitive. For a list of possible
          market values, see [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#market-codes).
          NOTE: If known, you are encouraged to always specify the market. Specifying
          the market helps Bing route the request and return an appropriate and optimal
          response. If you specify a market that is not listed in [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#market-codes),
          Bing uses a best fit market code based on an internal mapping that is subject
          to change. This parameter and the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#cc)
          query parameter are mutually exclusiveu2014do not specify both.'
        in: query
        name: mkt
        required: false
        type: string
        x-ms-client-name: Market
      - description: The zero-based offset that indicates the number of news to skip
          before returning news. The default is 0. The offset should be less than
          ([totalEstimatedMatches](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#news-totalmatches)
          - count). Use this parameter along with the count parameter to page results.
          For example, if your user interface displays 20 news per page, set count
          to 20 and offset to 0 to get the first page of results. For each subsequent
          page, increment offset by 20 (for example, 0, 20, 40). It is possible for
          multiple pages to include some overlap in results. If you do not specify
          the [category](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#category)
          parameter, Bing ignores this parameter.
        format: int32
        in: query
        name: offset
        required: false
        type: integer
        x-ms-client-name: Offset
      - description: A Boolean value that determines whether the image's contentUrl
          contains a URL that points to a thumbnail of the original article's image
          or the image itself. If the article includes an image, and this parameter
          is set to true, the image's contentUrl property contains a URL that you
          may use to download the original image from the publisher's website. Otherwise,
          if this parameter is false, the image's contentUrl and thumbnailUrl URLs
          both point to the same thumbnail image. Use this parameter only with the
          News Search API or News Category API. Trending Topics API ignore this parameter.
        in: query
        name: originalImg
        required: false
        type: boolean
        x-ms-client-name: OriginalImage
      - description: 'Filter news for adult content. The following are the possible
          filter values. Off: Return news articles with adult text, images, or videos.
          Moderate: Return news articles with adult text but not adult images or videos.
          Strict: Do not return news articles with adult text, images, or videos.
          If the request comes from a market that Bing''s adult policy requires that
          safeSearch is set to Strict, Bing ignores the safeSearch value and uses
          Strict. If you use the site: query operator, there is the chance that the
          response may contain adult content regardless of what the safeSearch query
          parameter is set to. Use site: only if you are aware of the content on the
          site and your scenario supports the possibility of adult content.'
        enum:
        - "Off"
        - Moderate
        - Strict
        in: query
        name: safeSearch
        required: false
        type: string
        x-ms-client-name: SafeSearch
        x-ms-enum:
          modelAsString: true
          name: SafeSearch
      - description: The language to use for user interface strings. Specify the language
          using the ISO 639-1 2-letter language code. For example, the language code
          for English is EN. The default is EN (English). Although optional, you should
          always specify the language. Typically, you set setLang to the same language
          specified by mkt unless the user wants the user interface strings displayed
          in a different language. This parameter and the [Accept-Language](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#acceptlanguage)
          header are mutually exclusive; do not specify both. A user interface string
          is a string that's used as a label in a user interface. There are few user
          interface strings in the JSON response objects. Also, any links to Bing.com
          properties in the response objects apply the specified language.
        in: query
        name: setLang
        required: false
        type: string
        x-ms-client-name: SetLang
      - description: A Boolean value that determines whether display strings contain
          decoration markers such as hit highlighting characters. If true, the strings
          may include markers. The default is false. To specify whether to use Unicode
          characters or HTML tags as the markers, see the [textFormat](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#textformat)
          query parameter. For information about hit highlighting, see [Hit Highlighting](https://docs.microsoft.com/azure/cognitive-services/bing-news-search/hit-highlighting).
        in: query
        name: textDecorations
        required: false
        type: boolean
        x-ms-client-name: TextDecorations
      - description: The type of markers to use for text decorations (see the textDecorations
          query parameter). Possible values are Rawu2014Use Unicode characters to
          mark content that needs special formatting. The Unicode characters are in
          the range E000 through E019. For example, Bing uses E000 and E001 to mark
          the beginning and end of query terms for hit highlighting. HTMLu2014Use
          HTML tags to mark content that needs special formatting. For example, use
          <b> tags to highlight query terms in display strings. The default is Raw.
          For display strings that contain escapable HTML characters such as <, >,
          and &, if textFormat is set to HTML, Bing escapes the characters as appropriate
          (for example, < is escaped to &lt;).
        enum:
        - Raw
        - Html
        in: query
        name: textFormat
        required: false
        type: string
        x-ms-client-name: TextFormat
        x-ms-enum:
          modelAsString: true
          name: TextFormat
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/News'
        default:
          description: An error has occurred. Check the response type and/or status
            code for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: The News Category API lets lets you search on Bing and get back a list
        of top news articles by category. This section provides technical details
        about the query parameters and headers that you use to request news and the
        JSON response objects that contain them.  For examples that show how to make
        requests, see [Searching the web for news](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-news-search/search-the-web).
      tags:
      - NewsCategory
      x-ms-examples:
        Successful query:
          parameters:
            Accept: application/json
            Accept-language: en-us
            Ocp-Apim-Subscription-Key: '{API key}'
            User-Agent: '{User Agent}'
            X-BingApis-SDK: "true"
            X-MS-EdgeClientIP: '{IP AddresS}'
            X-MSEdge-ClientID: '{Client ID}'
            category: sports
            cc: US
            mkt: en-us
            setLang: en
          responses:
            200:
              body:
                _type: News
                value:
                - _type: NewsArticle
                  category: Sports
                  datePublished: "2017-11-17T07:19:00.0000000Z"
                  description: The sixth question on the same subject pushed Fred
                    Hoiberg over the edge. u201cGuys, Iu2019m going to try to get
                    our guys ready to play a game,u201d the Bulls coach said Tuesday.
                    Until Nikola Mirotic speaks to Bobby Portis u2014 or at least
                    to reporters to ...
                  image:
                    _type: ImageObject
                    thumbnail:
                      _type: ImageObject
                      contentUrl: https://www.bing.com/th?id=ON.372546C0684230BBFABBE735B0D85E0E&pid=News
                      height: 393
                      width: 700
                  name: '''Itu2019s a very difficult situation:'' Bulls try to focus
                    as Nikola Mirotic-Bobby Portis drama continues'
                  provider:
                  - _type: Organization
                    image:
                      _type: ImageObject
                      thumbnail:
                        _type: ImageObject
                        contentUrl: https://www.bing.com/th?id=ON.SIR111219528389e4ac0552cd50a9f07f86e23462e7&pid=News
                    name: Chicago Tribune
                  url: http://www.chicagotribune.com/sports/basketball/bulls/ct-spt-bulls-nikola-mirotic-bobby-portis-fallout-20171115-story.html
                - _type: NewsArticle
                  category: Sports
                  datePublished: "2017-11-16T19:15:00.0000000Z"
                  description: The ratings for NBCu2019s Sunday Night Football broadcasts
                    are down 8 percent compared to last year. And while there are
                    several explanations for the decline (i.e. cord cutting), NFL
                    player protests of racial injustice during the national anthem
                    continue to ...
                  image:
                    _type: ImageObject
                    thumbnail:
                      _type: ImageObject
                      contentUrl: https://www.bing.com/th?id=ON.C88D0D1DA5DB60A88B6E2062EC498ACE&pid=News
                      height: 393
                      width: 700
                  name: 'Al Michaels: Player protests and Donald Trump contributed
                    to NFL ratings decline'
                  provider:
                  - _type: Organization
                    image:
                      _type: ImageObject
                      thumbnail:
                        _type: ImageObject
                        contentUrl: https://www.bing.com/th?id=ON.SIR111219423d8564095bc699fb54aa46bd19819288&pid=News
                    name: USA Today Sports For The Win
                  url: http://ftw.usatoday.com/2017/11/al-michaels-nbc-nfl-ratings-sunday-night-football-player-protests-donald-trump-decline
                - _type: NewsArticle
                  category: Sports
                  datePublished: "2017-11-17T00:35:00.0000000Z"
                  description: Dallas Cowboys owner Jerry Jones has asked for a special
                    league meeting with NFL owners to talk about commissioner Roger
                    Goodell's contract extension negotiations, but an ownership source
                    told ESPN's Jim Trotter that owners currently have no plans to
                    act ...
                  image:
                    _type: ImageObject
                    thumbnail:
                      _type: ImageObject
                      contentUrl: https://www.bing.com/th?id=ON.0D5611D738B0DE113E9EE80CC2A26BDD&pid=News
                      height: 324
                      width: 576
                  name: 'Source: Owners don''t plan to act on Jerry Jones'' sit-down
                    request'
                  provider:
                  - _type: Organization
                    image:
                      _type: ImageObject
                      thumbnail:
                        _type: ImageObject
                        contentUrl: https://www.bing.com/th?id=ON.SIR11122011f8b32789f686c3f36f3ef26bff413db4&pid=News
                    name: ABC News
                  url: http://abcnews.go.com/Sports/source-owners-plan-act-jerry-jones-sit-request/story?id=51210517
                webSearchUrl: https://www.bing.com/news/search?q=sports+news&form=TNSA02
              headers: []
  /news/search:
    get:
      operationId: News_Search
      parameters:
      - $ref: '#/parameters/x-bingapis-sdk'
      - description: The default media type is application/json. To specify that the
          response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
        in: header
        name: Accept
        required: false
        type: string
      - description: A comma-delimited list of one or more languages to use for user
          interface strings. The list is in decreasing order of preference. For additional
          information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          This header and the [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#setlang)
          query parameter are mutually exclusive; do not specify both. If you set
          this header, you must also specify the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#cc)
          query parameter. To determine the market to return results for, Bing uses
          the first supported language it finds from the list and combines it with
          the cc parameter value. If the list does not include a supported language,
          Bing finds the closest language and market that supports the request or
          it uses an aggregated or default market for the results. To determine the
          market that Bing used, see the BingAPIs-Market header. Use this header and
          the cc query parameter only if you specify multiple languages. Otherwise,
          use the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#mkt)
          and [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#setlang)
          query parameters. A user interface string is a string that's used as a label
          in a user interface. There are few user interface strings in the JSON response
          objects. Any links to Bing.com properties in the response objects apply
          the specified language.
        in: header
        name: Accept-Language
        required: false
        type: string
        x-ms-client-name: AcceptLanguage
      - description: 'The user agent originating the request. Bing uses the user agent
          to provide mobile users with an optimized experience. Although optional,
          you are encouraged to always specify this header. The user-agent should
          be the same string that any commonly used browser sends. For information
          about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          The following are examples of user-agent strings. Windows Phone: Mozilla/5.0
          (compatible; MSIE 10.0; Windows Phone 8.0; Trident/6.0; IEMobile/10.0; ARM;
          Touch; NOKIA; Lumia 822). Android: Mozilla / 5.0 (Linux; U; Android 2.3.5;
          en - us; SCH - I500 Build / GINGERBREAD) AppleWebKit / 533.1 (KHTML; like
          Gecko) Version / 4.0 Mobile Safari / 533.1. iPhone: Mozilla / 5.0 (iPhone;
          CPU iPhone OS 6_1 like Mac OS X) AppleWebKit / 536.26 (KHTML; like Gecko)
          Mobile / 10B142 iPhone4; 1 BingWeb / 3.03.1428.20120423. PC: Mozilla / 5.0
          (Windows NT 6.3; WOW64; Trident / 7.0; Touch; rv:11.0) like Gecko. iPad:
          Mozilla / 5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit / 537.51.1 (KHTML,
          like Gecko) Version / 7.0 Mobile / 11A465 Safari / 9537.53'
        in: header
        name: User-Agent
        required: false
        type: string
        x-ms-client-name: UserAgent
      - description: 'Bing uses this header to provide users with consistent behavior
          across Bing API calls. Bing often flights new features and improvements,
          and it uses the client ID as a key for assigning traffic on different flights.
          If you do not use the same client ID for a user across multiple requests,
          then Bing may assign the user to multiple conflicting flights. Being assigned
          to multiple conflicting flights can lead to an inconsistent user experience.
          For example, if the second request has a different flight assignment than
          the first, the experience may be unexpected. Also, Bing can use the client
          ID to tailor web results to that client IDu2019s search history, providing
          a richer experience for the user. Bing also uses this header to help improve
          result rankings by analyzing the activity generated by a client ID. The
          relevance improvements help with better quality of results delivered by
          Bing APIs and in turn enables higher click-through rates for the API consumer.
          IMPORTANT: Although optional, you should consider this header required.
          Persisting the client ID across multiple requests for the same end user
          and device combination enables 1) the API consumer to receive a consistent
          user experience, and 2) higher click-through rates via better quality of
          results from the Bing APIs. Each user that uses your application on the
          device must have a unique, Bing generated client ID. If you do not include
          this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID
          response header. The only time that you should NOT include this header in
          a request is the first time the user uses your app on that device. Use the
          client ID for each Bing API request that your app makes for this user on
          the device. Persist the client ID. To persist the ID in a browser app, use
          a persistent HTTP cookie to ensure the ID is used across all sessions. Do
          not use a session cookie. For other apps such as mobile apps, use the device''s
          persistent storage to persist the ID. The next time the user uses your app
          on that device, get the client ID that you persisted. Bing responses may
          or may not include this header. If the response includes this header, capture
          the client ID and use it for all subsequent Bing requests for the user on
          that device. If you include the X-MSEdge-ClientID, you must not include
          cookies in the request.'
        in: header
        name: X-MSEdge-ClientID
        required: false
        type: string
        x-ms-client-name: ClientId
      - description: The IPv4 or IPv6 address of the client device. The IP address
          is used to discover the user's location. Bing uses the location information
          to determine safe search behavior. Although optional, you are encouraged
          to always specify this header and the X-Search-Location header. Do not obfuscate
          the address (for example, by changing the last octet to 0). Obfuscating
          the address results in the location not being anywhere near the device's
          actual location, which may result in Bing serving erroneous results.
        in: header
        name: X-MSEdge-ClientIP
        required: false
        type: string
        x-ms-client-name: ClientIp
      - description: 'A semicolon-delimited list of key/value pairs that describe
          the client''s geographical location. Bing uses the location information
          to determine safe search behavior and to return relevant local content.
          Specify the key/value pair as <key>:<value>. The following are the keys
          that you use to specify the user''s location. lat (required): The latitude
          of the client''s location, in degrees. The latitude must be greater than
          or equal to -90.0 and less than or equal to +90.0. Negative values indicate
          southern latitudes and positive values indicate northern latitudes. long
          (required): The longitude of the client''s location, in degrees. The longitude
          must be greater than or equal to -180.0 and less than or equal to +180.0.
          Negative values indicate western longitudes and positive values indicate
          eastern longitudes. re (required): The radius, in meters, which specifies
          the horizontal accuracy of the coordinates. Pass the value returned by the
          device''s location service. Typical values might be 22m for GPS/Wi-Fi, 380m
          for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional):
          The UTC UNIX timestamp of when the client was at the location. (The UNIX
          timestamp is the number of seconds since January 1, 1970.) head (optional):
          The client''s relative heading or direction of travel. Specify the direction
          of travel as degrees from 0 through 360, counting clockwise relative to
          true north. Specify this key only if the sp key is nonzero. sp (optional):
          The horizontal velocity (speed), in meters per second, that the client device
          is traveling. alt (optional): The altitude of the client device, in meters.
          are (optional): The radius, in meters, that specifies the vertical accuracy
          of the coordinates. Specify this key only if you specify the alt key. Although
          many of the keys are optional, the more information that you provide, the
          more accurate the location results are. Although optional, you are encouraged
          to always specify the user''s geographical location. Providing the location
          is especially important if the client''s IP address does not accurately
          reflect the user''s physical location (for example, if the client uses VPN).
          For optimal results, you should include this header and the X-MSEdge-ClientIP
          header, but at a minimum, you should include this header.'
        in: header
        name: X-Search-Location
        required: false
        type: string
        x-ms-client-name: Location
      - description: A 2-character country code of the country where the results come
          from. This API supports only the United States market. If you specify this
          query parameter, it must be set to us. If you set this parameter, you must
          also specify the Accept-Language header. Bing uses the first supported language
          it finds from the languages list, and combine that language with the country
          code that you specify to determine the market to return results for. If
          the languages list does not include a supported language, Bing finds the
          closest language and market that supports the request, or it may use an
          aggregated or default market for the results instead of a specified one.
          You should use this query parameter and the Accept-Language query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. This parameter and the mkt query parameter
          are mutually exclusiveu2014do not specify both.
        in: query
        name: cc
        required: false
        type: string
        x-ms-client-name: CountryCode
      - description: The number of news articles to return in the response. The actual
          number delivered may be less than requested. The default is 10 and the maximum
          value is 100. The actual number delivered may be less than requested.You
          may use this parameter along with the offset parameter to page results.
          For example, if your user interface displays 20 articles per page, set count
          to 20 and offset to 0 to get the first page of results. For each subsequent
          page, increment offset by 20 (for example, 0, 20, 40). It is possible for
          multiple pages to include some overlap in results.
        format: int32
        in: query
        name: count
        required: false
        type: integer
        x-ms-client-name: Count
      - description: 'Filter news by the date and time that Bing discovered the news.
          The following are the possible filter values. Day: Return news discovered
          within the last 24 hours. Week: Return news discovered within the last 7
          days. Month: Return news discovered within the last 30 days. Use this parameter
          only with the News Search API. Do not specify this parameter when calling
          the News Category API or the Trending Topics API.'
        enum:
        - Day
        - Week
        - Month
        in: query
        name: freshness
        required: false
        type: string
        x-ms-client-name: Freshness
        x-ms-enum:
          modelAsString: true
          name: Freshness
      - description: 'The market where the results come from. Typically, mkt is the
          country where the user is making the request from. However, it could be
          a different country if the user is not located in a country where Bing delivers
          results. The market must be in the form <language code>-<country code>.
          For example, en-US. The string is case insensitive. For a list of possible
          market values, see [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#market-codes).
          NOTE: If known, you are encouraged to always specify the market. Specifying
          the market helps Bing route the request and return an appropriate and optimal
          response. If you specify a market that is not listed in [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#market-codes),
          Bing uses a best fit market code based on an internal mapping that is subject
          to change. This parameter and the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#cc)
          query parameter are mutually exclusiveu2014do not specify both.'
        in: query
        name: mkt
        required: false
        type: string
        x-ms-client-name: Market
      - description: The zero-based offset that indicates the number of news to skip
          before returning news. The default is 0. The offset should be less than
          ([totalEstimatedMatches](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#news-totalmatches)
          - count). Use this parameter along with the count parameter to page results.
          For example, if your user interface displays 20 news per page, set count
          to 20 and offset to 0 to get the first page of results. For each subsequent
          page, increment offset by 20 (for example, 0, 20, 40). It is possible for
          multiple pages to include some overlap in results.
        format: int32
        in: query
        name: offset
        required: false
        type: integer
        x-ms-client-name: Offset
      - description: A Boolean value that determines whether the image's contentUrl
          contains a URL that points to a thumbnail of the original article's image
          or the image itself. If the article includes an image, and this parameter
          is set to true, the image's contentUrl property contains a URL that you
          may use to download the original image from the publisher's website. Otherwise,
          if this parameter is false, the image's contentUrl and thumbnailUrl URLs
          both point to the same thumbnail image. Use this parameter only with the
          News Search API. Do not specify this parameter when calling the Trending
          Topics API or News Category API.
        in: query
        name: originalImg
        required: false
        type: boolean
        x-ms-client-name: OriginalImage
      - description: The user's search query string. The query string cannot be empty.
          The query string may contain [Bing Advanced Operators](http://msdn.microsoft.com/library/ff795620.aspx).
          For example, to limit news to a specific domain, use the [site:](http://msdn.microsoft.com/library/ff795613.aspx)
          operator. Use this parameter only with the News Search API. Do not specify
          this parameter when calling the Trending Topics API or News Category API.
        in: query
        name: q
        required: true
        type: string
        x-ms-client-name: Query
      - description: 'Filter news for adult content. The following are the possible
          filter values. Off: Return news articles with adult text, images, or videos.
          Moderate: Return news articles with adult text but not adult images or videos.
          Strict: Do not return news articles with adult text, images, or videos.
          If the request comes from a market that Bing''s adult policy requires that
          safeSearch is set to Strict, Bing ignores the safeSearch value and uses
          Strict. If you use the site: query operator, there is the chance that the
          response may contain adult content regardless of what the safeSearch query
          parameter is set to. Use site: only if you are aware of the content on the
          site and your scenario supports the possibility of adult content.'
        enum:
        - "Off"
        - Moderate
        - Strict
        in: query
        name: safeSearch
        required: false
        type: string
        x-ms-client-name: SafeSearch
        x-ms-enum:
          modelAsString: true
          name: SafeSearch
      - description: The language to use for user interface strings. Specify the language
          using the ISO 639-1 2-letter language code. For example, the language code
          for English is EN. The default is EN (English). Although optional, you should
          always specify the language. Typically, you set setLang to the same language
          specified by mkt unless the user wants the user interface strings displayed
          in a different language. This parameter and the [Accept-Language](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#acceptlanguage)
          header are mutually exclusive; do not specify both. A user interface string
          is a string that's used as a label in a user interface. There are few user
          interface strings in the JSON response objects. Also, any links to Bing.com
          properties in the response objects apply the specified language.
        in: query
        name: setLang
        required: false
        type: string
        x-ms-client-name: SetLang
      - description: 'The order to return the news in. The following are the possible
          case-insensitive values. Date: If the request is through the News Search
          API, the response returns news articles sorted by date from the most recent
          to the oldest. If the request is through the News Trending Topics API, the
          response returns trending topics sorted by date from the most recent to
          the oldest.'
        in: query
        name: sortBy
        required: false
        type: string
        x-ms-client-name: SortBy
      - description: A Boolean value that determines whether display strings contain
          decoration markers such as hit highlighting characters. If true, the strings
          may include markers. The default is false. To specify whether to use Unicode
          characters or HTML tags as the markers, see the [textFormat](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#textformat)
          query parameter. For information about hit highlighting, see [Hit Highlighting](https://docs.microsoft.com/azure/cognitive-services/bing-news-search/hit-highlighting).
        in: query
        name: textDecorations
        required: false
        type: boolean
        x-ms-client-name: TextDecorations
      - description: The type of markers to use for text decorations (see the textDecorations
          query parameter). Possible values are Rawu2014Use Unicode characters to
          mark content that needs special formatting. The Unicode characters are in
          the range E000 through E019. For example, Bing uses E000 and E001 to mark
          the beginning and end of query terms for hit highlighting. HTMLu2014Use
          HTML tags to mark content that needs special formatting. For example, use
          <b> tags to highlight query terms in display strings. The default is Raw.
          For display strings that contain escapable HTML characters such as <, >,
          and &, if textFormat is set to HTML, Bing escapes the characters as appropriate
          (for example, < is escaped to &lt;).
        enum:
        - Raw
        - Html
        in: query
        name: textFormat
        required: false
        type: string
        x-ms-client-name: TextFormat
        x-ms-enum:
          modelAsString: true
          name: TextFormat
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/News'
        default:
          description: An error has occurred. Check the response type and/or status
            code for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: The News Search API lets you send a search query to Bing and get back
        a list of news that are relevant to the search query. This section provides
        technical details about the query parameters and headers that you use to request
        news and the JSON response objects that contain them.  For examples that show
        how to make requests, see [Searching the web for news](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-news-search/search-the-web).
      tags:
      - NewsSearch
      x-ms-examples:
        Successful query:
          parameters:
            Accept: application/json
            Accept-language: en-us
            Ocp-Apim-Subscription-Key: '{API key}'
            User-Agent: '{User Agent}'
            X-BingApis-SDK: "true"
            X-MS-EdgeClientIP: '{IP AddresS}'
            X-MSEdge-ClientID: '{Client ID}'
            cc: US
            mkt: en-us
            q: microsoft
            setLang: en
          responses:
            200:
              body:
                _type: News
                totalEstimatedMatches: 46
                value:
                - _type: NewsArticle
                  category: ScienceAndTechnology
                  datePublished: "2017-11-16T14:15:00Z"
                  description: Don&#39;t call it Surface Pro 5. The latest iteration
                    of the Surface Pro loses the model number, keeps the kickstand,
                    and adds mostly subtle refinements. Read More For the past five
                    days, I&#39;ve been using a Surface Book 2 in place of my everyday
                    PC, a first ...
                  name: 'Surface Book 2 (15-inch): <b>Microsoft</b> supersizes its
                    most powerful portable PC'
                  provider:
                  - _type: Organization
                    name: ZDNet
                  url: http://www.zdnet.com/product/microsoft-surface-book-2/
                - _type: NewsArticle
                  category: ScienceAndTechnology
                  datePublished: "2017-11-17T06:13:00Z"
                  description: <b>Microsoft</b> Surface Book 2 - 15&quot; - Core i7
                    8650U - 16 GB RAM - 512 GB SSD - English - North America fux00001
                    $2,899.00 <b>Microsoft</b> Surface Book 2 - 15&quot; - Core i7
                    8650U - 16 GB RAM - 256 GB SSD - English - North America hnr00001
                    $2,499.00 <b>Microsoft</b> Surface Book ...
                  image:
                    _type: ImageObject
                    thumbnail:
                      _type: ImageObject
                      contentUrl: https://www.bing.com/th?id=ON.4A5C3F257DA120C0D7778A4A764A0292&pid=News
                      height: 393
                      width: 700
                  name: '<b>Microsoft</b> Surface Book 2 (15-inch) review:'
                  provider:
                  - _type: Organization
                    name: CNET
                  url: https://www.cnet.com/products/microsoft-surface-book-2/review/
                  video:
                    _type: VideoObject
                    allowHttpsEmbed: true
                    name: Microsoft Surface Book 2 (15-inch)
                    thumbnail:
                      _type: ImageObject
                      height: 269
                      width: 480
                    thumbnailUrl: https://www.bing.com/th?id=ON.C362047C8A293C48E4DBF9FCF1C99DD2&pid=News
                - _type: NewsArticle
                  category: ScienceAndTechnology
                  datePublished: "2017-11-17T04:27:00Z"
                  description: At just two years old, Edge is the new kid on the web
                    browser block, but what it lacks in maturity, it makes up for
                    in speed and convenience. Development has been swift. With each
                    major Windows 10 release, Edge improves. Windows 10 Fall Creators
                    Update ...
                  image:
                    _type: ImageObject
                    thumbnail:
                      _type: ImageObject
                      contentUrl: https://www.bing.com/th?id=ON.D6CC6169ECD49465AACCC1327B37283E&pid=News
                      height: 394
                      width: 700
                  name: 12 Reasons <b>Microsoft</b>&#39;s Edge Browser Rocks (No,
                    Really)
                  provider:
                  - _type: Organization
                    name: PC Magazine
                  url: https://www.pcmag.com/feature/357262/12-reasons-microsoft-s-edge-browser-rocks-no-really
                - _type: NewsArticle
                  category: ScienceAndTechnology
                  clusteredArticles:
                  - _type: NewsArticle
                    category: ScienceAndTechnology
                    datePublished: "2017-11-17T01:59:00Z"
                    description: It may have been the company&#39;s first-ever laptop,
                      but when I tested it last year a few months after it debuted,
                      I immediately liked it better than any of Apple&#39;s MacBooks
                      that I&#39;d ever used. I now have a new favorite computer,
                      and it&#39;s the successor to my ...
                    name: 'REVIEW: <b>Microsoft</b>&#39;s newest laptop is my new
                      favorite computer (MSFT)'
                    provider:
                    - _type: Organization
                      name: Business Insider on MSN.com
                    url: https://www.msn.com/en-us/money/other/review-microsofts-newest-laptop-is-my-new-favorite-computer-msft/ar-BBF2svf
                  datePublished: "2017-11-16T23:58:00Z"
                  description: <b>Microsoft</b>&#39;s original Surface Book was my
                    favorite computer. It may have been the company&#39;s first-ever
                    laptop, but when I tested it last year a few months after it debuted,
                    I immediately liked it better than any of Apple&#39;s MacBooks
                    that I&#39;d ever used.
                  image:
                    _type: ImageObject
                    thumbnail:
                      _type: ImageObject
                      contentUrl: https://www.bing.com/th?id=ON.7CEEFC996C222EA79BC65ABFE9356D63&pid=News
                      height: 524
                      width: 700
                  name: 'REVIEW: <b>Microsoft</b>&#39;s newest laptop is a powerful
                    alternative to any of Apple&#39;s MacBooks or iPads'
                  provider:
                  - _type: Organization
                    name: Business Insider
                  url: http://www.businessinsider.com/microsoft-surface-book-2-review-2017-11
              headers: []
  /news/trendingtopics:
    get:
      operationId: News_Trending
      parameters:
      - $ref: '#/parameters/x-bingapis-sdk'
      - description: The default media type is application/json. To specify that the
          response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
        in: header
        name: Accept
        required: false
        type: string
      - description: A comma-delimited list of one or more languages to use for user
          interface strings. The list is in decreasing order of preference. For additional
          information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          This header and the [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#setlang)
          query parameter are mutually exclusive; do not specify both. If you set
          this header, you must also specify the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#cc)
          query parameter. To determine the market to return results for, Bing uses
          the first supported language it finds from the list and combines it with
          the cc parameter value. If the list does not include a supported language,
          Bing finds the closest language and market that supports the request or
          it uses an aggregated or default market for the results. To determine the
          market that Bing used, see the BingAPIs-Market header. Use this header and
          the cc query parameter only if you specify multiple languages. Otherwise,
          use the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#mkt)
          and [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#setlang)
          query parameters. A user interface string is a string that's used as a label
          in a user interface. There are few user interface strings in the JSON response
          objects. Any links to Bing.com properties in the response objects apply
          the specified language.
        in: header
        name: Accept-Language
        required: false
        type: string
        x-ms-client-name: AcceptLanguage
      - description: 'The user agent originating the request. Bing uses the user agent
          to provide mobile users with an optimized experience. Although optional,
          you are encouraged to always specify this header. The user-agent should
          be the same string that any commonly used browser sends. For information
          about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          The following are examples of user-agent strings. Windows Phone: Mozilla/5.0
          (compatible; MSIE 10.0; Windows Phone 8.0; Trident/6.0; IEMobile/10.0; ARM;
          Touch; NOKIA; Lumia 822). Android: Mozilla / 5.0 (Linux; U; Android 2.3.5;
          en - us; SCH - I500 Build / GINGERBREAD) AppleWebKit / 533.1 (KHTML; like
          Gecko) Version / 4.0 Mobile Safari / 533.1. iPhone: Mozilla / 5.0 (iPhone;
          CPU iPhone OS 6_1 like Mac OS X) AppleWebKit / 536.26 (KHTML; like Gecko)
          Mobile / 10B142 iPhone4; 1 BingWeb / 3.03.1428.20120423. PC: Mozilla / 5.0
          (Windows NT 6.3; WOW64; Trident / 7.0; Touch; rv:11.0) like Gecko. iPad:
          Mozilla / 5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit / 537.51.1 (KHTML,
          like Gecko) Version / 7.0 Mobile / 11A465 Safari / 9537.53'
        in: header
        name: User-Agent
        required: false
        type: string
        x-ms-client-name: UserAgent
      - description: 'Bing uses this header to provide users with consistent behavior
          across Bing API calls. Bing often flights new features and improvements,
          and it uses the client ID as a key for assigning traffic on different flights.
          If you do not use the same client ID for a user across multiple requests,
          then Bing may assign the user to multiple conflicting flights. Being assigned
          to multiple conflicting flights can lead to an inconsistent user experience.
          For example, if the second request has a different flight assignment than
          the first, the experience may be unexpected. Also, Bing can use the client
          ID to tailor web results to that client IDu2019s search history, providing
          a richer experience for the user. Bing also uses this header to help improve
          result rankings by analyzing the activity generated by a client ID. The
          relevance improvements help with better quality of results delivered by
          Bing APIs and in turn enables higher click-through rates for the API consumer.
          IMPORTANT: Although optional, you should consider this header required.
          Persisting the client ID across multiple requests for the same end user
          and device combination enables 1) the API consumer to receive a consistent
          user experience, and 2) higher click-through rates via better quality of
          results from the Bing APIs. Each user that uses your application on the
          device must have a unique, Bing generated client ID. If you do not include
          this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID
          response header. The only time that you should NOT include this header in
          a request is the first time the user uses your app on that device. Use the
          client ID for each Bing API request that your app makes for this user on
          the device. Persist the client ID. To persist the ID in a browser app, use
          a persistent HTTP cookie to ensure the ID is used across all sessions. Do
          not use a session cookie. For other apps such as mobile apps, use the device''s
          persistent storage to persist the ID. The next time the user uses your app
          on that device, get the client ID that you persisted. Bing responses may
          or may not include this header. If the response includes this header, capture
          the client ID and use it for all subsequent Bing requests for the user on
          that device. If you include the X-MSEdge-ClientID, you must not include
          cookies in the request.'
        in: header
        name: X-MSEdge-ClientID
        required: false
        type: string
        x-ms-client-name: ClientId
      - description: The IPv4 or IPv6 address of the client device. The IP address
          is used to discover the user's location. Bing uses the location information
          to determine safe search behavior. Although optional, you are encouraged
          to always specify this header and the X-Search-Location header. Do not obfuscate
          the address (for example, by changing the last octet to 0). Obfuscating
          the address results in the location not being anywhere near the device's
          actual location, which may result in Bing serving erroneous results.
        in: header
        name: X-MSEdge-ClientIP
        required: false
        type: string
        x-ms-client-name: ClientIp
      - description: 'A semicolon-delimited list of key/value pairs that describe
          the client''s geographical location. Bing uses the location information
          to determine safe search behavior and to return relevant local content.
          Specify the key/value pair as <key>:<value>. The following are the keys
          that you use to specify the user''s location. lat (required): The latitude
          of the client''s location, in degrees. The latitude must be greater than
          or equal to -90.0 and less than or equal to +90.0. Negative values indicate
          southern latitudes and positive values indicate northern latitudes. long
          (required): The longitude of the client''s location, in degrees. The longitude
          must be greater than or equal to -180.0 and less than or equal to +180.0.
          Negative values indicate western longitudes and positive values indicate
          eastern longitudes. re (required): The radius, in meters, which specifies
          the horizontal accuracy of the coordinates. Pass the value returned by the
          device''s location service. Typical values might be 22m for GPS/Wi-Fi, 380m
          for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional):
          The UTC UNIX timestamp of when the client was at the location. (The UNIX
          timestamp is the number of seconds since January 1, 1970.) head (optional):
          The client''s relative heading or direction of travel. Specify the direction
          of travel as degrees from 0 through 360, counting clockwise relative to
          true north. Specify this key only if the sp key is nonzero. sp (optional):
          The horizontal velocity (speed), in meters per second, that the client device
          is traveling. alt (optional): The altitude of the client device, in meters.
          are (optional): The radius, in meters, that specifies the vertical accuracy
          of the coordinates. Specify this key only if you specify the alt key. Although
          many of the keys are optional, the more information that you provide, the
          more accurate the location results are. Although optional, you are encouraged
          to always specify the user''s geographical location. Providing the location
          is especially important if the client''s IP address does not accurately
          reflect the user''s physical location (for example, if the client uses VPN).
          For optimal results, you should include this header and the X-MSEdge-ClientIP
          header, but at a minimum, you should include this header.'
        in: header
        name: X-Search-Location
        required: false
        type: string
        x-ms-client-name: Location
      - description: A 2-character country code of the country where the results come
          from. This API supports only the United States market. If you specify this
          query parameter, it must be set to us. If you set this parameter, you must
          also specify the Accept-Language header. Bing uses the first supported language
          it finds from the languages list, and combine that language with the country
          code that you specify to determine the market to return results for. If
          the languages list does not include a supported language, Bing finds the
          closest language and market that supports the request, or it may use an
          aggregated or default market for the results instead of a specified one.
          You should use this query parameter and the Accept-Language query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. This parameter and the mkt query parameter
          are mutually exclusiveu2014do not specify both.
        in: query
        name: cc
        required: false
        type: string
        x-ms-client-name: CountryCode
      - description: The number of news articles to return in the response. The actual
          number delivered may be less than requested. The default is 10 and the maximum
          value is 100. The actual number delivered may be less than requested.You
          may use this parameter along with the offset parameter to page results.
          For example, if your user interface displays 20 articles per page, set count
          to 20 and offset to 0 to get the first page of results. For each subsequent
          page, increment offset by 20 (for example, 0, 20, 40). It is possible for
          multiple pages to include some overlap in results.
        format: int32
        in: query
        name: count
        required: false
        type: integer
        x-ms-client-name: Count
      - description: 'The market where the results come from. Typically, mkt is the
          country where the user is making the request from. However, it could be
          a different country if the user is not located in a country where Bing delivers
          results. The market must be in the form <language code>-<country code>.
          For example, en-US. The string is case insensitive. For a list of possible
          market values, see [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#market-codes).
          NOTE: If known, you are encouraged to always specify the market. Specifying
          the market helps Bing route the request and return an appropriate and optimal
          response. If you specify a market that is not listed in [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#market-codes),
          Bing uses a best fit market code based on an internal mapping that is subject
          to change. This parameter and the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#cc)
          query parameter are mutually exclusiveu2014do not specify both.'
        in: query
        name: mkt
        required: false
        type: string
        x-ms-client-name: Market
      - description: The zero-based offset that indicates the number of news to skip
          before returning news. The default is 0. The offset should be less than
          ([totalEstimatedMatches](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#news-totalmatches)
          - count). Use this parameter along with the count parameter to page results.
          For example, if your user interface displays 20 news per page, set count
          to 20 and offset to 0 to get the first page of results. For each subsequent
          page, increment offset by 20 (for example, 0, 20, 40). It is possible for
          multiple pages to include some overlap in results.
        format: int32
        in: query
        name: offset
        required: false
        type: integer
        x-ms-client-name: Offset
      - description: 'Filter news for adult content. The following are the possible
          filter values. Off: Return news articles with adult text, images, or videos.
          Moderate: Return news articles with adult text but not adult images or videos.
          Strict: Do not return news articles with adult text, images, or videos.
          If the request comes from a market that Bing''s adult policy requires that
          safeSearch is set to Strict, Bing ignores the safeSearch value and uses
          Strict. If you use the site: query operator, there is the chance that the
          response may contain adult content regardless of what the safeSearch query
          parameter is set to. Use site: only if you are aware of the content on the
          site and your scenario supports the possibility of adult content.'
        enum:
        - "Off"
        - Moderate
        - Strict
        in: query
        name: safeSearch
        required: false
        type: string
        x-ms-client-name: SafeSearch
        x-ms-enum:
          modelAsString: true
          name: SafeSearch
      - description: The language to use for user interface strings. Specify the language
          using the ISO 639-1 2-letter language code. For example, the language code
          for English is EN. The default is EN (English). Although optional, you should
          always specify the language. Typically, you set setLang to the same language
          specified by mkt unless the user wants the user interface strings displayed
          in a different language. This parameter and the [Accept-Language](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#acceptlanguage)
          header are mutually exclusive; do not specify both. A user interface string
          is a string that's used as a label in a user interface. There are few user
          interface strings in the JSON response objects. Also, any links to Bing.com
          properties in the response objects apply the specified language.
        in: query
        name: setLang
        required: false
        type: string
        x-ms-client-name: SetLang
      - description: The Unix epoch time (Unix timestamp) that Bing uses to select
          the trending topics. Bing returns trending topics that it discovered on
          or after the specified date and time, not the date the topic was published.
          To use this parameter, also specify the sortBy parameter. Use this parameter
          only with the News Trending Topics API. Do not specify this parameter when
          calling the News Search API or News Category API.
        format: int64
        in: query
        name: since
        required: false
        type: integer
        x-ms-client-name: Since
      - description: 'The order to return the news in. The following are the possible
          case-insensitive values. Date: If the request is through the News Search
          API, the response returns news articles sorted by date from the most recent
          to the oldest. If the request is through the News Trending Topics API, the
          response returns trending topics sorted by date from the most recent to
          the oldest.'
        in: query
        name: sortBy
        required: false
        type: string
        x-ms-client-name: SortBy
      - description: A Boolean value that determines whether display strings contain
          decoration markers such as hit highlighting characters. If true, the strings
          may include markers. The default is false. To specify whether to use Unicode
          characters or HTML tags as the markers, see the [textFormat](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#textformat)
          query parameter. For information about hit highlighting, see [Hit Highlighting](https://docs.microsoft.com/azure/cognitive-services/bing-news-search/hit-highlighting).
        in: query
        name: textDecorations
        required: false
        type: boolean
        x-ms-client-name: TextDecorations
      - description: The type of markers to use for text decorations (see the textDecorations
          query parameter). Possible values are Rawu2014Use Unicode characters to
          mark content that needs special formatting. The Unicode characters are in
          the range E000 through E019. For example, Bing uses E000 and E001 to mark
          the beginning and end of query terms for hit highlighting. HTMLu2014Use
          HTML tags to mark content that needs special formatting. For example, use
          <b> tags to highlight query terms in display strings. The default is Raw.
          For display strings that contain escapable HTML characters such as <, >,
          and &, if textFormat is set to HTML, Bing escapes the characters as appropriate
          (for example, < is escaped to &lt;).
        enum:
        - Raw
        - Html
        in: query
        name: textFormat
        required: false
        type: string
        x-ms-client-name: TextFormat
        x-ms-enum:
          modelAsString: true
          name: TextFormat
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/TrendingTopics'
        default:
          description: An error has occurred. Check the response type and/or status
            code for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: The News Trending Topics API lets lets you search on Bing and get back
        a list of trending news topics that are currently trending on Bing. This section
        provides technical details about the query parameters and headers that you
        use to request news and the JSON response objects that contain them.  For
        examples that show how to make requests, see [Searching the web for news](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-news-search/search-the-web).
      tags:
      - NewsTrendingTopics
      x-ms-examples:
        Successful query:
          parameters:
            Accept: application/json
            Accept-language: en-us
            Ocp-Apim-Subscription-Key: '{API key}'
            User-Agent: '{User Agent}'
            X-BingApis-SDK: "true"
            X-MS-EdgeClientIP: '{IP AddresS}'
            X-MSEdge-ClientID: '{Client ID}'
            cc: US
            mkt: en-us
            setLang: en
          responses:
            200:
              body:
                _type: TrendingTopics
                value:
                - _type: News/Topic
                  image:
                    _type: ImageObject
                    provider:
                    - _type: Organization
                      name: u00a9 Leon Neal/AFP/Getty Images
                    url: https://www.bing.com/th?id=OPN.RTNews_ffDPbGlga7auVKMCVRmYdA&c=7&rs=2&qlt=80&pcl=f9f9f9&pid=News
                  isBreakingNews: false
                  name: 1st fatal overdose?
                  newsSearchUrl: https://www.bing.com/news/search?q=First+marijuana+overdose&form=TNSA02&filters=tnTID%3a%22DF2B2270-F7AB-4b6d-B6C2-E6705CAC121F%22+tnVersion%3a%222214682%22+Segment%3a%22popularnow.carousel%22+tnCol%3a%220%22+tnScenario%3a%22TrendingTopicsAPI%22+tnOrder%3a%229b3211c9-158e-4564-8899-6f758d123e84%22
                  query:
                    text: First marijuana overdose
                  webSearchUrl: https://www.bing.com/search?q=First+marijuana+overdose&form=TNSA01&filters=tnTID%3a%22DF2B2270-F7AB-4b6d-B6C2-E6705CAC121F%22+tnVersion%3a%222214682%22+Segment%3a%22popularnow.carousel%22+tnCol%3a%220%22+tnScenario%3a%22TrendingTopicsAPI%22+tnOrder%3a%229b3211c9-158e-4564-8899-6f758d123e84%22
                - _type: News/Topic
                  image:
                    _type: ImageObject
                    provider:
                    - _type: Organization
                      name: u00a9 Ilya S. Savenok/FEHSF/Getty Images
                    url: https://www.bing.com/th?id=OPN.RTNews_gDx8xMp4ozOfAPvxuddEdw&c=7&rs=2&qlt=80&pcl=f9f9f9&pid=News
                  isBreakingNews: false
                  name: Suffers cardiac event
                  newsSearchUrl: https://www.bing.com/news/search?q=Tom+Ridge&form=TNSA02&filters=tnTID%3a%22211EE3BA-A994-4533-864F-D1AA669AADE4%22+tnVersion%3a%222214682%22+Segment%3a%22popularnow.carousel%22+tnCol%3a%221%22+tnScenario%3a%22TrendingTopicsAPI%22+tnOrder%3a%229b3211c9-158e-4564-8899-6f758d123e84%22
                  query:
                    text: Tom Ridge
                  webSearchUrl: https://www.bing.com/search?q=Tom+Ridge&form=TNSA01&filters=tnTID%3a%22211EE3BA-A994-4533-864F-D1AA669AADE4%22+tnVersion%3a%222214682%22+Segment%3a%22popularnow.carousel%22+tnCol%3a%221%22+tnScenario%3a%22TrendingTopicsAPI%22+tnOrder%3a%229b3211c9-158e-4564-8899-6f758d123e84%22
                - _type: News/Topic
                  image:
                    _type: ImageObject
                    provider:
                    - _type: Organization
                      name: u00a9 AP Photo
                    url: https://www.bing.com/th?id=OPN.RTNews_TY9fYHZVSzGqcqECHNgpyQ&c=7&rs=2&qlt=80&pcl=f9f9f9&pid=News
                  isBreakingNews: false
                  name: Manson still alive
                  newsSearchUrl: https://www.bing.com/news/search?q=Charles+Manson+Bakersfield+still+alive&form=TNSA02&filters=tnTID%3a%22A2638A2E-154F-41d0-A306-6B20062D4494%22+tnVersion%3a%222214682%22+Segment%3a%22popularnow.carousel%22+tnCol%3a%222%22+tnScenario%3a%22TrendingTopicsAPI%22+tnOrder%3a%229b3211c9-158e-4564-8899-6f758d123e84%22
                  query:
                    text: Charles Manson Bakersfield still alive
                  webSearchUrl: https://www.bing.com/search?q=Charles+Manson+Bakersfield+still+alive&form=TNSA01&filters=tnTID%3a%22A2638A2E-154F-41d0-A306-6B20062D4494%22+tnVersion%3a%222214682%22+Segment%3a%22popularnow.carousel%22+tnCol%3a%222%22+tnScenario%3a%22TrendingTopicsAPI%22+tnOrder%3a%229b3211c9-158e-4564-8899-6f758d123e84%22
                - _type: News/Topic
                  image:
                    _type: ImageObject
                    provider:
                    - _type: Organization
                      name: u00a9 Carlo Allegri/Reuters
                    url: https://www.bing.com/th?id=OPN.RTNews_Vy3FSPV-k2W269NnPf7i5Q&c=7&rs=2&qlt=80&pcl=f9f9f9&pid=News
                  isBreakingNews: false
                  name: Kochs backing sale
                  newsSearchUrl: https://www.bing.com/news/search?q=Koch+Brothers&form=TNSA02&filters=tnTID%3a%22178FD502-59BD-4a17-89D3-49CF96025DF0%22+tnVersion%3a%222214682%22+Segment%3a%22popularnow.carousel%22+tnCol%3a%223%22+tnScenario%3a%22TrendingTopicsAPI%22+tnOrder%3a%229b3211c9-158e-4564-8899-6f758d123e84%22
                  query:
                    text: Koch Brothers
                  webSearchUrl: https://www.bing.com/search?q=Koch+Brothers&form=TNSA01&filters=tnTID%3a%22178FD502-59BD-4a17-89D3-49CF96025DF0%22+tnVersion%3a%222214682%22+Segment%3a%22popularnow.carousel%22+tnCol%3a%223%22+tnScenario%3a%22TrendingTopicsAPI%22+tnOrder%3a%229b3211c9-158e-4564-8899-6f758d123e84%22
                - _type: News/Topic
                  image:
                    _type: ImageObject
                    provider:
                    - _type: Organization
                      name: u00a9 AP
                    url: https://www.bing.com/th?id=OPN.RTNews_hE_gEJxcXVPPkBRYdra44A&c=7&rs=2&qlt=80&pcl=f9f9f9&pid=News
                  isBreakingNews: false
                  name: Democratic mega-donor
                  newsSearchUrl: https://www.bing.com/news/search?q=Steve+Mostyn&form=TNSA02&filters=tnTID%3a%22B105C6CD-6361-47fc-B063-7C35458B7D41%22+tnVersion%3a%222214682%22+Segment%3a%22popularnow.carousel%22+tnCol%3a%224%22+tnScenario%3a%22TrendingTopicsAPI%22+tnOrder%3a%229b3211c9-158e-4564-8899-6f758d123e84%22
                  query:
                    text: Steve Mostyn
                  webSearchUrl: https://www.bing.com/search?q=Steve+Mostyn&form=TNSA01&filters=tnTID%3a%22B105C6CD-6361-47fc-B063-7C35458B7D41%22+tnVersion%3a%222214682%22+Segment%3a%22popularnow.carousel%22+tnCol%3a%224%22+tnScenario%3a%22TrendingTopicsAPI%22+tnOrder%3a%229b3211c9-158e-4564-8899-6f758d123e84%22
              headers: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":19:{s:6:\"Answer\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:11:\"description\";s:18:\"Defines
  an answer.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"followUpQueries\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Article\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreativeWork\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"wordCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  number of words in the text of the Article.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CreativeWork\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:11:\"description\";s:101:\"The
  most generic kind of creative work, including books, movies, photographs, software
  programs, etc.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"datePublished\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  date on which the CreativeWork was published.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  source of the creative work.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:12:\"thumbnailUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  URL to a thumbnail of the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"video\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/VideoObject\";s:11:\"description\";s:20:\"A
  video of the item.\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Defines
  the error that occurred.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"code\";O:8:\"stdClass\":5:{s:7:\"default\";s:4:\"None\";s:11:\"description\";s:53:\"The
  error code that identifies the category of error.\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:11:\"ServerError\";i:2;s:14:\"InvalidRequest\";i:3;s:17:\"RateLimitExceeded\";i:4;s:20:\"InvalidAuthorization\";i:5;s:25:\"InsufficientAuthorization\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"ErrorCode\";}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  description of the error.\";s:4:\"type\";s:6:\"string\";}s:11:\"moreDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  description that provides additional information about the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  parameter in the request that caused the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"subCode\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"The
  error code that further helps to identify the error.\";s:4:\"enum\";a:11:{i:0;s:15:\"UnexpectedError\";i:1;s:13:\"ResourceError\";i:2;s:14:\"NotImplemented\";i:3;s:16:\"ParameterMissing\";i:4;s:21:\"ParameterInvalidValue\";i:5;s:14:\"HttpNotAllowed\";i:6;s:7:\"Blocked\";i:7;s:20:\"AuthorizationMissing\";i:8;s:23:\"AuthorizationRedundancy\";i:9;s:21:\"AuthorizationDisabled\";i:10;s:20:\"AuthorizationExpired\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"ErrorSubCode\";}}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  parameter's value in the request that was not valid.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:4:\"type\";s:6:\"object\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:11:\"description\";s:56:\"The
  top-level response that represents a failed request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  list of errors that describe the reasons why the request failed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:6:\"errors\";}s:4:\"type\";s:6:\"object\";}s:12:\"Identifiable\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResponseBase\";}}s:11:\"description\";s:35:\"Defines
  the identity of a resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  String identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ImageObject\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MediaObject\";}}s:11:\"description\";s:16:\"Defines
  an image\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"thumbnail\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:11:\"description\";s:35:\"The
  URL to a thumbnail of the image\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}s:11:\"MediaObject\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreativeWork\";}}s:11:\"description\";s:23:\"Defines
  a media object.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"contentUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Original
  URL to retrieve the source (file) for the media object (e.g the source URL for the
  image).\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  height of the source media object, in pixels.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:5:\"width\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  width of the source media object, in pixels.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"News\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";}}s:11:\"description\";s:22:\"Defines
  a news answer.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Location
  of local news\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"An
  array of NewsArticle objects that contain information about news articles that are
  relevant to the query. If there are no results to return for the request, the array
  is empty.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/NewsArticle\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:11:\"NewsArticle\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Article\";}}s:11:\"description\";s:23:\"Defines
  a news article.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"category\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"The
  news category that the article belongs to. For example, Sports. If the news category
  cannot be determined, the article does not include this field.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"clusteredArticles\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"A
  list of related news articles.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/NewsArticle\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"headline\";O:8:\"stdClass\":3:{s:11:\"description\";s:222:\"A
  Boolean value that indicates whether the news article is a headline. If true, the
  article is a headline. The article includes this field only for news categories
  requests that do not specify the category query parameter.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:9:\"NewsTopic\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"isBreakingNews\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"A
  Boolean value that indicates whether the topic is considered breaking news. If the
  topic is considered breaking news, the value is true.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:13:\"newsSearchUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  URL to the Bing News search results for the search query term\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:19:\"#/definitions/Query\";s:11:\"description\";s:53:\"A
  search query term that returns this trending topic.\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:10:\"News/Topic\";}s:12:\"Organization\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:11:\"description\";s:24:\"Defines
  an organization.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"Query\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Defines
  a search query.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayText\";O:8:\"stdClass\":3:{s:11:\"description\";s:249:\"The
  display version of the query term. This version of the query term may contain special
  characters that highlight the search term found in the query string. The string
  contains the highlighting characters only if the query enabled hit highlighting\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"searchLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:293:\"The
  URL that you use to get the results of the related search. Before using the URL,
  you must append query parameters as appropriate and include the Ocp-Apim-Subscription-Key
  header. Use this URL if you're displaying the results in your own user interface.
  Otherwise, use the webSearchUrl URL.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  query string. Use this string as the query term in a new search request.\";s:4:\"type\";s:6:\"string\";}s:9:\"thumbnail\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:11:\"description\";s:42:\"The
  URL to a thumbnail of a related image.\";s:8:\"readOnly\";b:1;}s:12:\"webSearchUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"The
  URL that takes the user to the Bing search results page for the query.Only related
  search results include this field.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"text\";}s:4:\"type\";s:6:\"object\";}s:8:\"Response\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Identifiable\";}}s:11:\"description\";s:105:\"Defines
  a response. All schemas that could be returned at the root of a response should
  inherit from this\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"webSearchUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  URL To Bing's search result for this item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ResponseBase\";O:8:\"stdClass\":5:{s:11:\"description\";s:13:\"Response
  base\";s:13:\"discriminator\";s:5:\"_type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"_type\";}s:4:\"type\";s:6:\"object\";}s:19:\"SearchResultsAnswer\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Answer\";}}s:11:\"description\";s:31:\"Defines
  a search result answer.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"totalEstimatedMatches\";O:8:\"stdClass\":4:{s:11:\"description\";s:150:\"The
  estimated number of webpages that are relevant to the query. Use this number along
  with the count and offset query parameters to page the results.\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Thing\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:11:\"description\";s:16:\"Defines
  a thing.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"alternateName\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"An
  alias for the item\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"bingId\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  ID that uniquely identifies this item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  short description of the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:11:\"description\";s:21:\"An
  image of the item.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  name of the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  URL to get more information about the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"TrendingTopics\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Answer\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"A
  list of trending news topics on Bing\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NewsTopic\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:11:\"VideoObject\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MediaObject\";}}s:11:\"description\";s:53:\"Defines
  a video object that is relevant to the query.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:15:\"allowHttpsEmbed\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:16:\"allowMobileEmbed\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:9:\"embedHtml\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"isSuperfresh\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:17:\"motionThumbnailId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"motionThumbnailUrl\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}s:7:\"videoId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"viewCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}"
...
