---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:9:\"microsoft\";}s:11:\"description\";s:303:\"The
  Local Search client lets you send a search query to Bing and get back search results
  that include local businesses such as restaurants, hotels, retail stores, or other
  local businesses. The query can specify the name of the local business or it can
  ask for a list (for example, restaurants near me).\";s:5:\"title\";s:19:\"Local
  Search Client\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:151:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/LocalSearch/stable/v1.0/LocalSearch.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"microsoft.com\";s:13:\"x-serviceName\";s:29:\"cognitiveservices-LocalSearch\";s:6:\"x-tags\";a:1:{i:0;s:9:\"Microsoft\";}}"
host: api.cognitive.microsoft.com
basePath: /localbusinesses/v7.0/search
paths:
  /localbusinesses/v7.0/search:
    get:
      operationId: Local_Search
      parameters:
      - $ref: '#/parameters/x-bingapis-sdk'
      - description: The default media type is application/json. To specify that the
          response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
        in: header
        name: Accept
        required: false
        type: string
      - description: A comma-delimited list of one or more languages to use for user
          interface strings. The list is in decreasing order of preference. For additional
          information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          This header and the setLang query parameter are mutually exclusive; do not
          specify both. If you set this header, you must also specify the cc query
          parameter. Bing will use the first supported language it finds from the
          list, and combine that language with the cc parameter value to determine
          the market to return results for. If the list does not include a supported
          language, Bing will find the closest language and market that supports the
          request, and may use an aggregated or default market for the results instead
          of a specified one. You should use this header and the cc query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. A user interface string is a string that's
          used as a label in a user interface. There are very few user interface strings
          in the JSON response objects. Any links in the response objects to Bing.com
          properties will apply the specified language.
        in: header
        name: Accept-Language
        required: false
        type: string
        x-ms-client-name: AcceptLanguage
      - description: 'By default, Bing returns cached content, if available. To prevent
          Bing from returning cached content, set the Pragma header to no-cache (for
          example, Pragma: no-cache).'
        in: header
        name: Pragma
        required: false
        type: string
      - description: The user agent originating the request. Bing uses the user agent
          to provide mobile users with an optimized experience. Although optional,
          you are strongly encouraged to always specify this header. The user-agent
          should be the same string that any commonly used browser would send. For
          information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
        in: header
        name: User-Agent
        required: false
        type: string
        x-ms-client-name: UserAgent
      - description: 'Bing uses this header to provide users with consistent behavior
          across Bing API calls. Bing often flights new features and improvements,
          and it uses the client ID as a key for assigning traffic on different flights.
          If you do not use the same client ID for a user across multiple requests,
          then Bing may assign the user to multiple conflicting flights. Being assigned
          to multiple conflicting flights can lead to an inconsistent user experience.
          For example, if the second request has a different flight assignment than
          the first, the experience may be unexpected. Also, Bing can use the client
          ID to tailor web results to that client IDu2019s search history, providing
          a richer experience for the user. Bing also uses this header to help improve
          result rankings by analyzing the activity generated by a client ID. The
          relevance improvements help with better quality of results delivered by
          Bing APIs and in turn enables higher click-through rates for the API consumer.
          IMPORTANT: Although optional, you should consider this header required.
          Persisting the client ID across multiple requests for the same end user
          and device combination enables 1) the API consumer to receive a consistent
          user experience, and 2) higher click-through rates via better quality of
          results from the Bing APIs. Each user that uses your application on the
          device must have a unique, Bing generated client ID. If you do not include
          this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID
          response header. The only time that you should NOT include this header in
          a request is the first time the user uses your app on that device. Use the
          client ID for each Bing API request that your app makes for this user on
          the device. Persist the client ID. To persist the ID in a browser app, use
          a persistent HTTP cookie to ensure the ID is used across all sessions. Do
          not use a session cookie. For other apps such as mobile apps, use the device''s
          persistent storage to persist the ID. The next time the user uses your app
          on that device, get the client ID that you persisted. Bing responses may
          or may not include this header. If the response includes this header, capture
          the client ID and use it for all subsequent Bing requests for the user on
          that device. If you include the X-MSEdge-ClientID, you must not include
          cookies in the request.'
        in: header
        name: X-MSEdge-ClientID
        required: false
        type: string
        x-ms-client-name: ClientId
      - description: The IPv4 or IPv6 address of the client device. The IP address
          is used to discover the user's location. Bing uses the location information
          to determine safe search behavior. Although optional, you are encouraged
          to always specify this header and the X-Search-Location header. Do not obfuscate
          the address (for example, by changing the last octet to 0). Obfuscating
          the address results in the location not being anywhere near the device's
          actual location, which may result in Bing serving erroneous results.
        in: header
        name: X-MSEdge-ClientIP
        required: false
        type: string
        x-ms-client-name: ClientIp
      - description: 'A semicolon-delimited list of key/value pairs that describe
          the client''s geographical location. Bing uses the location information
          to determine safe search behavior and to return relevant local content.
          Specify the key/value pair as <key>:<value>. The following are the keys
          that you use to specify the user''s location. lat (required): The latitude
          of the client''s location, in degrees. The latitude must be greater than
          or equal to -90.0 and less than or equal to +90.0. Negative values indicate
          southern latitudes and positive values indicate northern latitudes. long
          (required): The longitude of the client''s location, in degrees. The longitude
          must be greater than or equal to -180.0 and less than or equal to +180.0.
          Negative values indicate western longitudes and positive values indicate
          eastern longitudes. re (required): The radius, in meters, which specifies
          the horizontal accuracy of the coordinates. Pass the value returned by the
          device''s location service. Typical values might be 22m for GPS/Wi-Fi, 380m
          for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional):
          The UTC UNIX timestamp of when the client was at the location. (The UNIX
          timestamp is the number of seconds since January 1, 1970.) head (optional):
          The client''s relative heading or direction of travel. Specify the direction
          of travel as degrees from 0 through 360, counting clockwise relative to
          true north. Specify this key only if the sp key is nonzero. sp (optional):
          The horizontal velocity (speed), in meters per second, that the client device
          is traveling. alt (optional): The altitude of the client device, in meters.
          are (optional): The radius, in meters, that specifies the vertical accuracy
          of the coordinates. Specify this key only if you specify the alt key. Although
          many of the keys are optional, the more information that you provide, the
          more accurate the location results are. Although optional, you are encouraged
          to always specify the user''s geographical location. Providing the location
          is especially important if the client''s IP address does not accurately
          reflect the user''s physical location (for example, if the client uses VPN).
          For optimal results, you should include this header and the X-MSEdge-ClientIP
          header, but at a minimum, you should include this header.'
        in: header
        name: X-Search-Location
        required: false
        type: string
        x-ms-client-name: Location
      - description: A 2-character country code of the country where the results come
          from. This API supports only the United States market. If you specify this
          query parameter, it must be set to us. If you set this parameter, you must
          also specify the Accept-Language header. Bing uses the first supported language
          it finds from the languages list, and combine that language with the country
          code that you specify to determine the market to return results for. If
          the languages list does not include a supported language, Bing finds the
          closest language and market that supports the request, or it may use an
          aggregated or default market for the results instead of a specified one.
          You should use this query parameter and the Accept-Language query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. This parameter and the mkt query parameter
          are mutually exclusiveu2014do not specify both.
        in: query
        name: cc
        required: false
        type: string
        x-ms-client-name: CountryCode
      - default: en-us
        description: The market where the results come from. You are strongly encouraged
          to always specify the market, if known. Specifying the market helps Bing
          route the request and return an appropriate and optimal response. This parameter
          and the cc query parameter are mutually exclusiveu2014do not specify both.
        in: query
        name: mkt
        required: false
        type: string
        x-ms-client-name: Market
      - description: The user's search term.
        in: query
        name: q
        required: true
        type: string
        x-ms-client-name: Query
      - description: comma-delimiated list of business categories to search for. Supported
          categories can be high-level such as EatDrink, Shop, SeeDo.
        in: query
        name: localcategories
        required: false
        type: string
        x-ms-client-name: LocalCategories
      - description: Preferred location to search around, expressed as Latitude, longitude
          and radius in meters. For example 47.61503,-122.1719,5000. Note that circular
          view should only be used to indicate a search around a point on the map,
          not as an approximation for a view port of a map rectangle.
        in: query
        name: localcircularview
        required: false
        type: string
        x-ms-client-name: localCircularView
      - description: Preferred bounding box for results, specified in NW_latitude,
          NW_Longitude, SE_Latitude, SE_Longitude format. For example 47.64,-122.13,47.63,-122.12.
          These values are lat, long pairs for the Northwest corner and the Southeast
          corner of a rectangle.
        in: query
        name: localmapview
        required: false
        type: string
        x-ms-client-name: localMapView
      - description: Preferred number of results to return. If not specified, then
          Bing returns 1-20 of the most relevant results.
        in: query
        name: count
        required: false
        type: string
        x-ms-client-name: Count
      - description: First result to return. zero-based. default is 0.
        in: query
        name: first
        required: false
        type: string
        x-ms-client-name: First
      - collectionFormat: csv
        description: 'The media type to use for the response. The following are the
          possible case-insensitive values: JSON, JSONLD. The default is JSON. If
          you specify JSONLD, the response body includes JSON-LD objects that contain
          the search results.'
        in: query
        items:
          enum:
          - Json
          - JsonLd
          type: string
          x-ms-enum:
            modelAsString: true
            name: ResponseFormat
        name: ResponseFormat
        required: false
        type: array
      - description: 'A filter used to filter adult content. Off: Return webpages
          with adult text, images, or videos. Moderate: Return webpages with adult
          text, but not adult images or videos. Strict: Do not return webpages with
          adult text, images, or videos. The default is Moderate. If the request comes
          from a market that Bing''s adult policy requires that safeSearch is set
          to Strict, Bing ignores the safeSearch value and uses Strict. If you use
          the site: query operator, there is the chance that the response may contain
          adult content regardless of what the safeSearch query parameter is set to.
          Use site: only if you are aware of the content on the site and your scenario
          supports the possibility of adult content.'
        enum:
        - "Off"
        - Moderate
        - Strict
        in: query
        name: SafeSearch
        required: false
        type: string
        x-ms-enum:
          modelAsString: true
          name: SafeSearch
      - description: The language to use for user interface strings. Specify the language
          using the ISO 639-1 2-letter language code. For example, the language code
          for English is EN. The default is EN (English). Although optional, you should
          always specify the language. Typically, you set setLang to the same language
          specified by mkt unless the user wants the user interface strings displayed
          in a different language. This parameter and the Accept-Language header are
          mutually exclusive; do not specify both. A user interface string is a string
          that's used as a label in a user interface. There are few user interface
          strings in the JSON response objects. Also, any links to Bing.com properties
          in the response objects apply the specified language.
        in: query
        name: SetLang
        required: false
        type: string
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/SearchResponse'
        default:
          description: An error has occurred. Check the response type and/or status
            code for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: The Local Search API lets you send a search query to Bing and get back
        search results that include local businesses such as restaurants, hotels,
        retail stores, or other local businesses. The query can specify the name of
        the local business or it can ask for a list (for example, restaurants near
        me).
      tags:
      - LocalSearch
      x-ms-examples:
        Successful query:
          parameters:
            Accept: application/json
            Ocp-Apim-Subscription-Key: '{API key}'
            User-Agent: '{User Agent}'
            X-MSEdge-ClientID: '{Client ID}'
            mkt: en-us
            q: restaurants in seattle
          responses:
            200:
              body:
                _type: SearchResponse
                places:
                  searchAction: []
                  totalEstimatedMatches: 10
                  value:
                  - _type: LocalBusiness
                    address:
                      addressCountry: US
                      addressLocality: Seattle
                      addressRegion: WA
                      neighborhood: 'Queen Anne: Lower'
                      postalCode: "98109"
                      streetAddress: 400 Broad St
                      text: 400 Broad St, Seattle, WA, 98109
                    entityPresentationInfo:
                      entityScenario: ListItem
                      entityTypeHints:
                      - Place
                      - LocalBusiness
                      - Restaurant
                    geo:
                      latitude: 47.620491
                      longitude: -122.349228
                    id: https://api.cognitive.microsoft.com/api/v7/#Places.0
                    name: SkyCity Restaurant
                    routablePoint:
                      latitude: 47.620045
                      longitude: -122.348488
                    telephone: (206) 905-2100
                    url: http://www.spaceneedle.com/
                  - _type: LocalBusiness
                    address:
                      addressCountry: US
                      addressLocality: Seattle
                      addressRegion: WA
                      neighborhood: Belltown
                      postalCode: "98121"
                      streetAddress: 2401 2nd Ave
                      text: 2401 2nd Ave, Seattle, WA, 98121
                    entityPresentationInfo:
                      entityScenario: ListItem
                      entityTypeHints:
                      - Place
                      - LocalBusiness
                      - Restaurant
                    geo:
                      latitude: 47.614799
                      longitude: -122.347298
                    id: https://api.cognitive.microsoft.com/api/v7/#Places.1
                    name: Shiro's Sushi Restaurant
                    routablePoint:
                      latitude: 47.614918
                      longitude: -122.347145
                    telephone: (206) 443-9844
                    url: http://shiros.com/
                  - _type: LocalBusiness
                    address:
                      addressCountry: US
                      addressLocality: Seattle
                      addressRegion: WA
                      neighborhood: Japantown, Chinatown International District
                      postalCode: "98104"
                      streetAddress: 304 6th Ave S
                      text: 304 6th Ave S, Seattle, WA, 98104
                    entityPresentationInfo:
                      entityScenario: ListItem
                      entityTypeHints:
                      - Place
                      - LocalBusiness
                      - Restaurant
                    geo:
                      latitude: 47.599739
                      longitude: -122.326141
                    id: https://api.cognitive.microsoft.com/api/v7/#Places.2
                    name: Maneki Restaurant
                    routablePoint:
                      latitude: 47.599739
                      longitude: -122.326363
                    telephone: (206) 622-2631
                    url: http://www.manekirestaurant.com/
                  - _type: LocalBusiness
                    address:
                      addressCountry: US
                      addressLocality: Seattle
                      addressRegion: WA
                      neighborhood: Downtown
                      postalCode: "98101"
                      streetAddress: 1420 5th Ave
                      text: 1420 5th Ave, Seattle, WA, 98101
                    entityPresentationInfo:
                      entityScenario: ListItem
                      entityTypeHints:
                      - Place
                      - LocalBusiness
                      - Restaurant
                    geo:
                      latitude: 47.610538
                      longitude: -122.334686
                    id: https://api.cognitive.microsoft.com/api/v7/#Places.3
                    name: Palomino
                    routablePoint:
                      latitude: 47.610298
                      longitude: -122.335258
                    telephone: (206) 623-1300
                    url: http://palomino.com/
                  - _type: LocalBusiness
                    address:
                      addressCountry: US
                      addressLocality: Seattle
                      addressRegion: WA
                      neighborhood: Downtown
                      postalCode: "98101"
                      streetAddress: 1519 Pike Pl
                      text: 1519 Pike Pl, Seattle, WA, 98101
                    entityPresentationInfo:
                      entityScenario: ListItem
                      entityTypeHints:
                      - Place
                      - LocalBusiness
                      - Restaurant
                    geo:
                      latitude: 47.608711
                      longitude: -122.340912
                    id: https://api.cognitive.microsoft.com/api/v7/#Places.4
                    name: Lowell's Restaurant
                    routablePoint:
                      latitude: 47.608826
                      longitude: -122.340767
                    telephone: (206) 622-2036
                    url: http://eatatlowells.com/
                  - _type: LocalBusiness
                    address:
                      addressCountry: US
                      addressLocality: Seattle
                      addressRegion: WA
                      neighborhood: Downtown
                      postalCode: "98101"
                      streetAddress: ""
                      text: Seattle, WA, 98101
                    entityPresentationInfo:
                      entityScenario: ListItem
                      entityTypeHints:
                      - Place
                      - LocalBusiness
                      - Restaurant
                    id: https://api.cognitive.microsoft.com/api/v7/#Places.5
                    name: The Athenian Seafood Restaurant and Bar
                    telephone: (206) 624-7166
                    url: http://www.athenianseattle.com/
                  - _type: LocalBusiness
                    address:
                      addressCountry: US
                      addressLocality: Seattle
                      addressRegion: WA
                      neighborhood: Downtown
                      postalCode: "98121"
                      streetAddress: 2001 Western Ave
                      text: 2001 Western Ave, Seattle, WA, 98121
                    entityPresentationInfo:
                      entityScenario: ListItem
                      entityTypeHints:
                      - Place
                      - LocalBusiness
                      - Restaurant
                    geo:
                      latitude: 47.610519
                      longitude: -122.344391
                    id: https://api.cognitive.microsoft.com/api/v7/#Places.6
                    name: Cutters Crabhouse
                    routablePoint:
                      latitude: 47.610767
                      longitude: -122.344070
                    telephone: (206) 448-4884
                    url: http://cutterscrabhouse.com/
                  - _type: LocalBusiness
                    address:
                      addressCountry: US
                      addressLocality: Seattle
                      addressRegion: WA
                      neighborhood: Capitol Hill
                      postalCode: "98102"
                      streetAddress: 219 Broadway E
                      text: 219 Broadway E, Seattle, WA, 98102
                    entityPresentationInfo:
                      entityScenario: ListItem
                      entityTypeHints:
                      - Place
                      - LocalBusiness
                      - Restaurant
                    geo:
                      latitude: 47.620628
                      longitude: -122.321342
                    id: https://api.cognitive.microsoft.com/api/v7/#Places.7
                    name: Americana Restaurant
                    routablePoint:
                      latitude: 47.620632
                      longitude: -122.320915
                    telephone: (206) 328-4604
                    url: http://www.americanaseattle.com/
                  - _type: LocalBusiness
                    address:
                      addressCountry: US
                      addressLocality: Seattle
                      addressRegion: WA
                      neighborhood: Interbay
                      postalCode: "98121"
                      streetAddress: 2411 Alaskan Way
                      text: 2411 Alaskan Way, Seattle, WA, 98121
                    entityPresentationInfo:
                      entityScenario: ListItem
                      entityTypeHints:
                      - Place
                      - LocalBusiness
                      - Restaurant
                    geo:
                      latitude: 47.612511
                      longitude: -122.352020
                    id: https://api.cognitive.microsoft.com/api/v7/#Places.8
                    name: Six Seven Restaurant
                    routablePoint:
                      latitude: 47.612965
                      longitude: -122.351547
                    telephone: (206) 269-4575
                    url: http://www.edgewaterhotel.com/seattle-six-seven-restaurant.aspx
                  - _type: LocalBusiness
                    address:
                      addressCountry: US
                      addressLocality: Seattle
                      addressRegion: WA
                      neighborhood: Waterfront
                      postalCode: "98101"
                      streetAddress: 1301 Alaskan Way
                      text: 1301 Alaskan Way, Seattle, WA, 98101
                    entityPresentationInfo:
                      entityScenario: ListItem
                      entityTypeHints:
                      - Place
                      - LocalBusiness
                      - Restaurant
                    geo:
                      latitude: 47.606079
                      longitude: -122.341049
                    id: https://api.cognitive.microsoft.com/api/v7/#Places.9
                    name: Fisherman's Restaurant
                    routablePoint:
                      latitude: 47.606331
                      longitude: -122.340446
                    telephone: (206) 623-3500
                    url: http://thefishermansrestaurant.com/
                queryContext:
                  originalQuery: restaurants in seattle
              headers: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":20:{s:6:\"Action\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreativeWork\";}}s:11:\"description\";s:18:\"Defines
  an action.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  display name for the action.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"isTopAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  Boolean representing whether this result is the top action.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:8:\"location\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Place\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:6:\"result\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  result produced in the action.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:10:\"serviceUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"Use
  this URL to get additional data to determine how to take the appropriate action.
  For example, the serviceUrl might return JSON along with an image URL.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Answer\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:11:\"description\";s:18:\"Defines
  an answer.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"CreativeWork\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:11:\"description\";s:101:\"The
  most generic kind of creative work, including books, movies, photographs, software
  programs, etc.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:5:\"about\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"For
  internal use only.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:12:\"commentCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:15:\"copyrightHolder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";s:8:\"readOnly\";b:1;}s:13:\"copyrightYear\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:7:\"creator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";s:8:\"readOnly\";b:1;}s:10:\"disclaimer\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"discussionUrl\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"genre\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"headLine\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"isAccessibleForFree\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:16:\"isFamilyFriendly\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:10:\"mainEntity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";s:8:\"readOnly\";b:1;}s:8:\"mentions\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"For
  internal use only.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:8:\"provider\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  source of the creative work.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"text\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Text
  content of this creative work\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"thumbnailUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  URL to a thumbnail of the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"EntitiesEntityPresentationInfo\";O:8:\"stdClass\":6:{s:11:\"description\";s:66:\"Defines
  additional information about an entity such as type hints.\";s:13:\"discriminator\";s:5:\"_type\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"entityScenario\";O:8:\"stdClass\":5:{s:7:\"default\";s:14:\"DominantEntity\";s:11:\"description\";s:23:\"The
  supported scenario.\";s:4:\"enum\";a:3:{i:0;s:14:\"DominantEntity\";i:1;s:18:\"DisambiguationItem\";i:2;s:8:\"ListItem\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:14:\"EntityScenario\";}}s:18:\"entitySubTypeHints\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:21:\"entityTypeDisplayHint\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"A
  display version of the entity hint. For example, if entityTypeHints is Artist, this
  field may be set to American Singer.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"entityTypeHints\";O:8:\"stdClass\":4:{s:11:\"description\";s:221:\"A
  list of hints that indicate the entity's type. The list could contain a single hint
  such as Movie or a list of hints such as Place, LocalBusiness, Restaurant. Each
  successive hint in the array narrows the entity's type.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:5:\"Place\";i:1;s:13:\"LocalBusiness\";i:2;s:10:\"Restaurant\";i:3;s:5:\"Hotel\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"EntityType\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:5:\"query\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:14:\"entityScenario\";i:1;s:5:\"_type\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:31:\"Entities/EntityPresentationInfo\";}s:5:\"Error\";O:8:\"stdClass\":5:{s:11:\"description\";s:32:\"Defines
  the error that occurred.\";s:13:\"discriminator\";s:5:\"_type\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":5:{s:7:\"default\";s:4:\"None\";s:11:\"description\";s:53:\"The
  error code that identifies the category of error.\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:11:\"ServerError\";i:2;s:14:\"InvalidRequest\";i:3;s:17:\"RateLimitExceeded\";i:4;s:20:\"InvalidAuthorization\";i:5;s:25:\"InsufficientAuthorization\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"ErrorCode\";}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  description of the error.\";s:4:\"type\";s:6:\"string\";}s:11:\"moreDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  description that provides additional information about the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  parameter in the request that caused the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"subCode\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"The
  error code that further helps to identify the error.\";s:4:\"enum\";a:11:{i:0;s:15:\"UnexpectedError\";i:1;s:13:\"ResourceError\";i:2;s:14:\"NotImplemented\";i:3;s:16:\"ParameterMissing\";i:4;s:21:\"ParameterInvalidValue\";i:5;s:14:\"HttpNotAllowed\";i:6;s:7:\"Blocked\";i:7;s:20:\"AuthorizationMissing\";i:8;s:23:\"AuthorizationRedundancy\";i:9;s:21:\"AuthorizationDisabled\";i:10;s:20:\"AuthorizationExpired\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"ErrorSubCode\";}}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  parameter's value in the request that was not valid.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"code\";i:1;s:7:\"message\";i:2;s:5:\"_type\";}s:4:\"type\";s:6:\"object\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:11:\"description\";s:56:\"The
  top-level response that represents a failed request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  list of errors that describe the reasons why the request failed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:6:\"errors\";}s:4:\"type\";s:6:\"object\";}s:14:\"GeoCoordinates\";O:8:\"stdClass\":4:{s:13:\"discriminator\";s:5:\"_type\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"elevation\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:3:{i:0;s:8:\"latitude\";i:1;s:9:\"longitude\";i:2;s:5:\"_type\";}s:4:\"type\";s:6:\"object\";}s:12:\"Identifiable\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResponseBase\";}}s:11:\"description\";s:35:\"Defines
  the identity of a resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  String identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Intangible\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:11:\"description\";s:123:\"A
  utility class that serves as the umbrella for a number of 'intangible' things such
  as quantities, structured values, etc.\";s:4:\"type\";s:6:\"object\";}s:5:\"Place\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:11:\"description\";s:72:\"Defines
  information about a local entity, such as a restaurant or hotel.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"address\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/PostalAddress\";s:11:\"description\";s:49:\"The
  postal address of where the entity is located\";s:8:\"readOnly\";b:1;}s:3:\"geo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GeoCoordinates\";s:8:\"readOnly\";b:1;}s:13:\"routablePoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GeoCoordinates\";s:8:\"readOnly\";b:1;}s:9:\"telephone\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  entity's telephone number\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Places\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";}}s:11:\"description\";s:30:\"Defines
  a local entity answer.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  list of local entities, such as restaurants or hotels.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:13:\"PostalAddress\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StructuredValue\";}}s:11:\"description\";s:25:\"Defines
  a postal address.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:14:\"addressCountry\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"The
  country/region where the street address is located. This could be the two-letter
  ISO code. For example, US, or the full name, United States.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"addressLocality\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  city where the street address is located. For example, Seattle.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"addressRegion\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"The
  state or province code where the street address is located. This could be the two-letter
  code. For example, WA, or the full name , Washington.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:25:\"addressRegionAbbreviation\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Region
  Abbreviation. For example, WA.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"addressSubregion\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"countryIso\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  two letter ISO code of this countr. For example, US.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"formattingRuleId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"houseNumber\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"neighborhood\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  neighborhood where the street address is located. For example, Westlake.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"postOfficeBoxNumber\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  zip code or postal code where the street address is located. For example, 98052.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"streetAddress\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"streetName\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  complete address. For example, 2100 Westlake Ave N, Bellevue, WA 98052.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"QueryContext\";O:8:\"stdClass\":5:{s:11:\"description\";s:57:\"Defines
  the query context that Bing used for the request.\";s:13:\"discriminator\";s:5:\"_type\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"adultIntent\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"A
  Boolean value that indicates whether the specified query has adult intent. The value
  is true if the query has adult intent; otherwise, false.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:22:\"alterationDisplayQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"AlteredQuery
  that is formatted for display purpose. The query string in the AlterationDisplayQuery
  can be html-escaped and can contain hit-highlighting characters\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:23:\"alterationOverrideQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:335:\"The
  query string to use to force Bing to use the original string. For example, if the
  query string is \"saling downwind\", the override query string will be \"+saling
  downwind\". Remember to encode the query string which results in \"%2Bsaling+downwind\".
  This field is included only if the original query string contains a spelling mistake.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"alteredQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:338:\"The
  query string used by Bing to perform the query. Bing uses the altered query string
  if the original query string contained spelling mistakes. For example, if the query
  string is \"saling downwind\", the altered query string will be \"sailing downwind\".
  This field is included only if the original query string contains a spelling mistake.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"askUserForLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:604:\"A
  Boolean value that indicates whether Bing requires the user's location to provide
  accurate results. If you specified the user's location by using the X-MSEdge-ClientIP
  and X-Search-Location headers, you can ignore this field. For location aware queries,
  such as \"today's weather\" or \"restaurants near me\" that need the user's location
  to provide accurate results, this field is set to true. For location aware queries
  that include the location (for example, \"Seattle weather\"), this field is set
  to false. This field is also set to false for queries that are not location aware,
  such as \"best sellers\".\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:15:\"isTransactional\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:13:\"originalQuery\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  query string as specified in the request.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:13:\"originalQuery\";i:1;s:5:\"_type\";}s:4:\"type\";s:6:\"object\";}s:8:\"Response\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Identifiable\";}}s:11:\"description\";s:102:\"Defines
  a response. All schemas that return at the root of the response must inherit from
  this object.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"adaptiveCard\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"immediateAction\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Action\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:15:\"potentialAction\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Action\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:24:\"preferredClickthroughUrl\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"readLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  URL that returns this resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"webSearchUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  URL to Bing's search result for this item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ResponseBase\";O:8:\"stdClass\":5:{s:11:\"description\";s:13:\"Response
  base\";s:13:\"discriminator\";s:5:\"_type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"_type\";}s:4:\"type\";s:6:\"object\";}s:12:\"SearchAction\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Action\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayText\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"formattingRuleId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"richContent\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Answer\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SearchResponse\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:11:\"description\";s:82:\"Defines
  the top-level object that the response includes when the request succeeds.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"lottery\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";s:8:\"readOnly\";b:1;}s:6:\"places\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Places\";s:11:\"description\";s:86:\"A
  list of local entities such as restaurants or hotels that are relevant to the query.\";s:8:\"readOnly\";b:1;}s:12:\"queryContext\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/QueryContext\";s:11:\"description\";s:257:\"An
  object that contains the query string that Bing used for the request. This object
  contains the query string as entered by the user. It may also contain an altered
  query string that Bing used for the query if the query string contained a spelling
  mistake.\";s:8:\"readOnly\";b:1;}s:28:\"searchResultsConfidenceScore\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SearchResultsAnswer\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Answer\";}}s:11:\"description\";s:31:\"Defines
  a search result answer.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"isFamilyFriendly\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:12:\"queryContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/QueryContext\";s:8:\"readOnly\";b:1;}s:21:\"totalEstimatedMatches\";O:8:\"stdClass\":4:{s:11:\"description\";s:150:\"The
  estimated number of webpages that are relevant to the query. Use this number along
  with the count and offset query parameters to page the results.\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"StructuredValue\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Intangible\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Thing\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:11:\"description\";s:16:\"Defines
  a thing.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"entityPresentationInfo\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:44:\"#/definitions/EntitiesEntityPresentationInfo\";s:11:\"description\";s:184:\"Additional
  information about the entity such as hints that you can use to determine the entity's
  type. To determine the entity's type, use the entityScenario and entityTypeHint
  fields.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  name of the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  URL to get more information about the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
