---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:9:\"microsoft\";}s:11:\"description\";s:86:\"The
  Spell Check API - V7 lets you check a text string for spelling and grammar errors.\";s:5:\"title\";s:11:\"Spell
  Check\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:149:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/SpellCheck/stable/V1.0/SpellCheck.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"microsoft.com\";s:13:\"x-serviceName\";s:28:\"cognitiveservices-SpellCheck\";s:6:\"x-tags\";a:1:{i:0;s:9:\"Microsoft\";}}"
host: api.cognitive.microsoft.com
basePath: /bing/v7.0
paths:
  /spellcheck:
    post:
      operationId: SpellChecker
      parameters:
      - $ref: '#/parameters/x-bingapis-sdk'
      - description: The default media type is application/json. To specify that the
          response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
        in: header
        name: Accept
        required: false
        type: string
      - description: A comma-delimited list of one or more languages to use for user
          interface strings. The list is in decreasing order of preference. For additional
          information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          This header and the setLang query parameter are mutually exclusive; do not
          specify both. If you set this header, you must also specify the cc query
          parameter. Bing will use the first supported language it finds from the
          list, and combine that language with the cc parameter value to determine
          the market to return results for. If the list does not include a supported
          language, Bing will find the closest language and market that supports the
          request, and may use an aggregated or default market for the results instead
          of a specified one. You should use this header and the cc query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. A user interface string is a string that's
          used as a label in a user interface. There are very few user interface strings
          in the JSON response objects. Any links in the response objects to Bing.com
          properties will apply the specified language.
        in: header
        name: Accept-Language
        required: false
        type: string
        x-ms-client-name: AcceptLanguage
      - description: 'By default, Bing returns cached content, if available. To prevent
          Bing from returning cached content, set the Pragma header to no-cache (for
          example, Pragma: no-cache).'
        in: header
        name: Pragma
        required: false
        type: string
      - description: The user agent originating the request. Bing uses the user agent
          to provide mobile users with an optimized experience. Although optional,
          you are strongly encouraged to always specify this header. The user-agent
          should be the same string that any commonly used browser would send. For
          information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
        in: header
        name: User-Agent
        required: false
        type: string
        x-ms-client-name: UserAgent
      - description: 'Bing uses this header to provide users with consistent behavior
          across Bing API calls. Bing often flights new features and improvements,
          and it uses the client ID as a key for assigning traffic on different flights.
          If you do not use the same client ID for a user across multiple requests,
          then Bing may assign the user to multiple conflicting flights. Being assigned
          to multiple conflicting flights can lead to an inconsistent user experience.
          For example, if the second request has a different flight assignment than
          the first, the experience may be unexpected. Also, Bing can use the client
          ID to tailor web results to that client IDu2019s search history, providing
          a richer experience for the user. Bing also uses this header to help improve
          result rankings by analyzing the activity generated by a client ID. The
          relevance improvements help with better quality of results delivered by
          Bing APIs and in turn enables higher click-through rates for the API consumer.
          IMPORTANT: Although optional, you should consider this header required.
          Persisting the client ID across multiple requests for the same end user
          and device combination enables 1) the API consumer to receive a consistent
          user experience, and 2) higher click-through rates via better quality of
          results from the Bing APIs. Each user that uses your application on the
          device must have a unique, Bing generated client ID. If you do not include
          this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID
          response header. The only time that you should NOT include this header in
          a request is the first time the user uses your app on that device. Use the
          client ID for each Bing API request that your app makes for this user on
          the device. Persist the client ID. To persist the ID in a browser app, use
          a persistent HTTP cookie to ensure the ID is used across all sessions. Do
          not use a session cookie. For other apps such as mobile apps, use the device''s
          persistent storage to persist the ID. The next time the user uses your app
          on that device, get the client ID that you persisted. Bing responses may
          or may not include this header. If the response includes this header, capture
          the client ID and use it for all subsequent Bing requests for the user on
          that device. If you include the X-MSEdge-ClientID, you must not include
          cookies in the request.'
        in: header
        name: X-MSEdge-ClientID
        required: false
        type: string
        x-ms-client-name: ClientId
      - description: The IPv4 or IPv6 address of the client device. The IP address
          is used to discover the user's location. Bing uses the location information
          to determine safe search behavior. Although optional, you are encouraged
          to always specify this header and the X-Search-Location header. Do not obfuscate
          the address (for example, by changing the last octet to 0). Obfuscating
          the address results in the location not being anywhere near the device's
          actual location, which may result in Bing serving erroneous results.
        in: header
        name: X-MSEdge-ClientIP
        required: false
        type: string
        x-ms-client-name: ClientIp
      - description: 'A semicolon-delimited list of key/value pairs that describe
          the client''s geographical location. Bing uses the location information
          to determine safe search behavior and to return relevant local content.
          Specify the key/value pair as <key>:<value>. The following are the keys
          that you use to specify the user''s location. lat (required): The latitude
          of the client''s location, in degrees. The latitude must be greater than
          or equal to -90.0 and less than or equal to +90.0. Negative values indicate
          southern latitudes and positive values indicate northern latitudes. long
          (required): The longitude of the client''s location, in degrees. The longitude
          must be greater than or equal to -180.0 and less than or equal to +180.0.
          Negative values indicate western longitudes and positive values indicate
          eastern longitudes. re (required): The radius, in meters, which specifies
          the horizontal accuracy of the coordinates. Pass the value returned by the
          device''s location service. Typical values might be 22m for GPS/Wi-Fi, 380m
          for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional):
          The UTC UNIX timestamp of when the client was at the location. (The UNIX
          timestamp is the number of seconds since January 1, 1970.) head (optional):
          The client''s relative heading or direction of travel. Specify the direction
          of travel as degrees from 0 through 360, counting clockwise relative to
          true north. Specify this key only if the sp key is nonzero. sp (optional):
          The horizontal velocity (speed), in meters per second, that the client device
          is traveling. alt (optional): The altitude of the client device, in meters.
          are (optional): The radius, in meters, that specifies the vertical accuracy
          of the coordinates. Specify this key only if you specify the alt key. Although
          many of the keys are optional, the more information that you provide, the
          more accurate the location results are. Although optional, you are encouraged
          to always specify the user''s geographical location. Providing the location
          is especially important if the client''s IP address does not accurately
          reflect the user''s physical location (for example, if the client uses VPN).
          For optimal results, you should include this header and the  X-Search-ClientIP
          header, but at a minimum, you should include this header.'
        in: header
        name: X-Search-Location
        required: false
        type: string
        x-ms-client-name: Location
      - description: A string that's used by logging to determine whether the request
          is coming from an interactive session or a page load. The following are
          the possible values. 1) Editu2014The request is from an interactive session
          2) Loadu2014The request is from a page load
        enum:
        - Edit
        - Load
        in: query
        name: ActionType
        required: false
        type: string
        x-ms-enum:
          modelAsString: true
          name: ActionType
      - description: The unique name of your app. The name must be known by Bing.
          Do not include this parameter unless you have previously contacted Bing
          to get a unique app name. To get a unique name, contact your Bing Business
          Development manager.
        in: query
        name: AppName
        required: false
        type: string
      - description: A 2-character country code of the country where the results come
          from. This API supports only the United States market. If you specify this
          query parameter, it must be set to us. If you set this parameter, you must
          also specify the Accept-Language header. Bing uses the first supported language
          it finds from the languages list, and combine that language with the country
          code that you specify to determine the market to return results for. If
          the languages list does not include a supported language, Bing finds the
          closest language and market that supports the request, or it may use an
          aggregated or default market for the results instead of a specified one.
          You should use this query parameter and the Accept-Language query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. This parameter and the mkt query parameter
          are mutually exclusiveu2014do not specify both.
        in: query
        name: cc
        required: false
        type: string
        x-ms-client-name: CountryCode
      - description: A unique name of the device that the request is being made from.
          Generate a unique value for each device (the value is unimportant). The
          service uses the ID to help debug issues and improve the quality of corrections.
        in: query
        name: ClientMachineName
        required: false
        type: string
      - description: A unique ID that identifies the document that the text belongs
          to. Generate a unique value for each document (the value is unimportant).
          The service uses the ID to help debug issues and improve the quality of
          corrections.
        in: query
        name: DocId
        required: false
        type: string
      - description: The market where the results come from. You are strongly encouraged
          to always specify the market, if known. Specifying the market helps Bing
          route the request and return an appropriate and optimal response. This parameter
          and the cc query parameter are mutually exclusiveu2014do not specify both.
        in: query
        name: mkt
        required: false
        type: string
        x-ms-client-name: Market
      - description: A unique ID that identifies this user session. Generate a unique
          value for each user session (the value is unimportant). The service uses
          the ID to help debug issues and improve the quality of corrections
        in: query
        name: SessionId
        required: false
        type: string
      - description: The language to use for user interface strings. Specify the language
          using the ISO 639-1 2-letter language code. For example, the language code
          for English is EN. The default is EN (English). Although optional, you should
          always specify the language. Typically, you set setLang to the same language
          specified by mkt unless the user wants the user interface strings displayed
          in a different language. This parameter and the Accept-Language header are
          mutually exclusiveu2014do not specify both. A user interface string is a
          string that's used as a label in a user interface. There are few user interface
          strings in the JSON response objects. Also, any links to Bing.com properties
          in the response objects apply the specified language.
        in: query
        name: SetLang
        required: false
        type: string
      - description: A unique ID that identifies the user. Generate a unique value
          for each user (the value is unimportant). The service uses the ID to help
          debug issues and improve the quality of corrections.
        in: query
        name: UserId
        required: false
        type: string
      - description: The type of spelling and grammar checks to perform. The following
          are the possible values (the values are case insensitive). The default is
          Proof. 1) Proofu2014Finds most spelling and grammar mistakes. 2) Spellu2014Finds
          most spelling mistakes but does not find some of the grammar errors that
          Proof catches (for example, capitalization and repeated words)
        enum:
        - proof
        - spell
        in: formData
        name: Mode
        required: false
        type: string
        x-ms-enum:
          modelAsString: true
          name: Mode
      - description: A string that gives context to the text string. For example,
          the text string petal is valid. However, if you set preContextText to bike,
          the context changes and the text string becomes not valid. In this case,
          the API suggests that you change petal to pedal (as in bike pedal). This
          text is not checked for grammar or spelling errors. The combined length
          of the text string, preContextText string, and postContextText string may
          not exceed 10,000 characters. You may specify this parameter in the query
          string of a GET request or in the body of a POST request.
        in: formData
        name: PreContextText
        required: false
        type: string
      - description: A string that gives context to the text string. For example,
          the text string read is valid. However, if you set postContextText to carpet,
          the context changes and the text string becomes not valid. In this case,
          the API suggests that you change read to red (as in red carpet). This text
          is not checked for grammar or spelling errors. The combined length of the
          text string, preContextText string, and postContextText string may not exceed
          10,000 characters. You may specify this parameter in the query string of
          a GET request or in the body of a POST request.
        in: formData
        name: PostContextText
        required: false
        type: string
      - description: The text string to check for spelling and grammar errors. The
          combined length of the text string, preContextText string, and postContextText
          string may not exceed 10,000 characters. You may specify this parameter
          in the query string of a GET request or in the body of a POST request. Because
          of the query string length limit, you'll typically use a POST request unless
          you're checking only short strings.
        in: formData
        name: Text
        required: true
        type: string
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/SpellCheck'
        default:
          description: An error has occurred. Check the response type and/or status
            code for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: The Bing Spell Check API lets you perform contextual grammar and spell
        checking. Bing has developed a web-based spell-checker that leverages machine
        learning and statistical machine translation to dynamically train a constantly
        evolving and highly contextual algorithm. The spell-checker is based on a
        massive corpus of web searches and documents.
      tags:
      - SpellCheck
      x-ms-examples:
        Successful Proof Mode query:
          parameters:
            Accept: application/json
            Accept-language: en-gb
            ActionType: Edit
            CountryCode: US
            Ocp-Apim-Subscription-Key: '{API key}'
            PostContextText: paper
            Pragma: no-cache
            PreContextText: daily
            SetLang: en
            Text: nws
            User-Agent: '{User Agent}'
            X-BingApis-SDK: "true"
            X-MS-EdgeClientIP: '{IP AddresS}'
            mkt: en-us
          responses:
            200:
              body:
                _type: SpellCheck
                flaggedTokens:
                - offset: 0
                  suggestions:
                  - score: 0.846819
                    suggestion: news
                  token: nws
                  type: UnknownToken
              headers: []
        Successful query:
          parameters:
            Mode: Spell
            Ocp-Apim-Subscription-Key: '{API key}'
            Text: micosoft
            X-BingApis-SDK: "true"
            mkt: en-US
          responses:
            200:
              body:
                _type: SpellCheck
                flaggedTokens:
                - offset: 0
                  suggestions:
                  - score: 1
                    suggestion: microsoft
                  token: micosoft
                  type: UnknownToken
              headers: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:6:\"Answer\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Defines
  the error that occurred.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"code\";O:8:\"stdClass\":5:{s:7:\"default\";s:4:\"None\";s:11:\"description\";s:53:\"The
  error code that identifies the category of error.\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:11:\"ServerError\";i:2;s:14:\"InvalidRequest\";i:3;s:17:\"RateLimitExceeded\";i:4;s:20:\"InvalidAuthorization\";i:5;s:25:\"InsufficientAuthorization\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"ErrorCode\";}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  description of the error.\";s:4:\"type\";s:6:\"string\";}s:11:\"moreDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  description that provides additional information about the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  parameter in the request that caused the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"subCode\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"The
  error code that further helps to identify the error.\";s:4:\"enum\";a:11:{i:0;s:15:\"UnexpectedError\";i:1;s:13:\"ResourceError\";i:2;s:14:\"NotImplemented\";i:3;s:16:\"ParameterMissing\";i:4;s:21:\"ParameterInvalidValue\";i:5;s:14:\"HttpNotAllowed\";i:6;s:7:\"Blocked\";i:7;s:20:\"AuthorizationMissing\";i:8;s:23:\"AuthorizationRedundancy\";i:9;s:21:\"AuthorizationDisabled\";i:10;s:20:\"AuthorizationExpired\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"ErrorSubCode\";}}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  parameter's value in the request that was not valid.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:4:\"type\";s:6:\"object\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:11:\"description\";s:56:\"The
  top-level response that represents a failed request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  list of errors that describe the reasons why the request failed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:6:\"errors\";}s:4:\"type\";s:6:\"object\";}s:12:\"Identifiable\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResponseBase\";}}s:11:\"description\";s:35:\"Defines
  the identity of a resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  String identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Response\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Identifiable\";}}s:11:\"description\";s:105:\"Defines
  a response. All schemas that could be returned at the root of a response should
  inherit from this\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"ResponseBase\";O:8:\"stdClass\":4:{s:13:\"discriminator\";s:5:\"_type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"_type\";}s:4:\"type\";s:6:\"object\";}s:10:\"SpellCheck\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Answer\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"flaggedTokens\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/SpellingFlaggedToken\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:13:\"flaggedTokens\";}s:4:\"type\";s:6:\"object\";}s:20:\"SpellingFlaggedToken\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"offset\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"pingUrlSuffix\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"suggestions\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/SpellingTokenSuggestion\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:7:\"default\";s:12:\"UnknownToken\";s:4:\"enum\";a:2:{i:0;s:12:\"UnknownToken\";i:1;s:13:\"RepeatedToken\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"ErrorType\";}}}s:8:\"required\";a:3:{i:0;s:6:\"offset\";i:1;s:5:\"token\";i:2;s:4:\"type\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:21:\"Spelling/FlaggedToken\";}s:23:\"SpellingTokenSuggestion\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"pingUrlSuffix\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:10:\"suggestion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"suggestion\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:24:\"Spelling/TokenSuggestion\";}}"
...
