---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:9:\"microsoft\";}s:11:\"description\";s:436:\"The
  Entity Search API lets you send a search query to Bing and get back search results
  that include entities and places. Place results include restaurants, hotel, or other
  local businesses. For places, the query can specify the name of the local business
  or it can ask for a list (for example, restaurants near me). Entity results include
  persons, places, or things. Place in this context is tourist attractions, states,
  countries, etc.\";s:5:\"title\";s:13:\"Entity Search\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:153:\"https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/EntitySearch/stable/v1.0/EntitySearch.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"microsoft.com\";s:13:\"x-serviceName\";s:30:\"cognitiveservices-EntitySearch\";s:6:\"x-tags\";a:1:{i:0;s:9:\"Microsoft\";}s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:40:\"microsoft_cognitiveservices_entitysearch\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.cognitive.microsoft.com
basePath: /bing/v7.0
paths:
  /entities:
    get:
      operationId: Entities_Search
      parameters:
      - $ref: '#/parameters/x-bingapis-sdk'
      - description: The default media type is application/json. To specify that the
          response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
        in: header
        name: Accept
        required: false
        type: string
      - description: A comma-delimited list of one or more languages to use for user
          interface strings. The list is in decreasing order of preference. For additional
          information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          This header and the setLang query parameter are mutually exclusive; do not
          specify both. If you set this header, you must also specify the cc query
          parameter. Bing will use the first supported language it finds from the
          list, and combine that language with the cc parameter value to determine
          the market to return results for. If the list does not include a supported
          language, Bing will find the closest language and market that supports the
          request, and may use an aggregated or default market for the results instead
          of a specified one. You should use this header and the cc query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. A user interface string is a string that's
          used as a label in a user interface. There are very few user interface strings
          in the JSON response objects. Any links in the response objects to Bing.com
          properties will apply the specified language.
        in: header
        name: Accept-Language
        required: false
        type: string
        x-ms-client-name: AcceptLanguage
      - description: 'By default, Bing returns cached content, if available. To prevent
          Bing from returning cached content, set the Pragma header to no-cache (for
          example, Pragma: no-cache).'
        in: header
        name: Pragma
        required: false
        type: string
      - description: The user agent originating the request. Bing uses the user agent
          to provide mobile users with an optimized experience. Although optional,
          you are strongly encouraged to always specify this header. The user-agent
          should be the same string that any commonly used browser would send. For
          information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
        in: header
        name: User-Agent
        required: false
        type: string
        x-ms-client-name: UserAgent
      - description: 'Bing uses this header to provide users with consistent behavior
          across Bing API calls. Bing often flights new features and improvements,
          and it uses the client ID as a key for assigning traffic on different flights.
          If you do not use the same client ID for a user across multiple requests,
          then Bing may assign the user to multiple conflicting flights. Being assigned
          to multiple conflicting flights can lead to an inconsistent user experience.
          For example, if the second request has a different flight assignment than
          the first, the experience may be unexpected. Also, Bing can use the client
          ID to tailor web results to that client IDu2019s search history, providing
          a richer experience for the user. Bing also uses this header to help improve
          result rankings by analyzing the activity generated by a client ID. The
          relevance improvements help with better quality of results delivered by
          Bing APIs and in turn enables higher click-through rates for the API consumer.
          IMPORTANT: Although optional, you should consider this header required.
          Persisting the client ID across multiple requests for the same end user
          and device combination enables 1) the API consumer to receive a consistent
          user experience, and 2) higher click-through rates via better quality of
          results from the Bing APIs. Each user that uses your application on the
          device must have a unique, Bing generated client ID. If you do not include
          this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID
          response header. The only time that you should NOT include this header in
          a request is the first time the user uses your app on that device. Use the
          client ID for each Bing API request that your app makes for this user on
          the device. Persist the client ID. To persist the ID in a browser app, use
          a persistent HTTP cookie to ensure the ID is used across all sessions. Do
          not use a session cookie. For other apps such as mobile apps, use the device''s
          persistent storage to persist the ID. The next time the user uses your app
          on that device, get the client ID that you persisted. Bing responses may
          or may not include this header. If the response includes this header, capture
          the client ID and use it for all subsequent Bing requests for the user on
          that device. If you include the X-MSEdge-ClientID, you must not include
          cookies in the request.'
        in: header
        name: X-MSEdge-ClientID
        required: false
        type: string
        x-ms-client-name: ClientId
      - description: The IPv4 or IPv6 address of the client device. The IP address
          is used to discover the user's location. Bing uses the location information
          to determine safe search behavior. Although optional, you are encouraged
          to always specify this header and the X-Search-Location header. Do not obfuscate
          the address (for example, by changing the last octet to 0). Obfuscating
          the address results in the location not being anywhere near the device's
          actual location, which may result in Bing serving erroneous results.
        in: header
        name: X-MSEdge-ClientIP
        required: false
        type: string
        x-ms-client-name: ClientIp
      - description: 'A semicolon-delimited list of key/value pairs that describe
          the client''s geographical location. Bing uses the location information
          to determine safe search behavior and to return relevant local content.
          Specify the key/value pair as <key>:<value>. The following are the keys
          that you use to specify the user''s location. lat (required): The latitude
          of the client''s location, in degrees. The latitude must be greater than
          or equal to -90.0 and less than or equal to +90.0. Negative values indicate
          southern latitudes and positive values indicate northern latitudes. long
          (required): The longitude of the client''s location, in degrees. The longitude
          must be greater than or equal to -180.0 and less than or equal to +180.0.
          Negative values indicate western longitudes and positive values indicate
          eastern longitudes. re (required): The radius, in meters, which specifies
          the horizontal accuracy of the coordinates. Pass the value returned by the
          device''s location service. Typical values might be 22m for GPS/Wi-Fi, 380m
          for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional):
          The UTC UNIX timestamp of when the client was at the location. (The UNIX
          timestamp is the number of seconds since January 1, 1970.) head (optional):
          The client''s relative heading or direction of travel. Specify the direction
          of travel as degrees from 0 through 360, counting clockwise relative to
          true north. Specify this key only if the sp key is nonzero. sp (optional):
          The horizontal velocity (speed), in meters per second, that the client device
          is traveling. alt (optional): The altitude of the client device, in meters.
          are (optional): The radius, in meters, that specifies the vertical accuracy
          of the coordinates. Specify this key only if you specify the alt key. Although
          many of the keys are optional, the more information that you provide, the
          more accurate the location results are. Although optional, you are encouraged
          to always specify the user''s geographical location. Providing the location
          is especially important if the client''s IP address does not accurately
          reflect the user''s physical location (for example, if the client uses VPN).
          For optimal results, you should include this header and the X-MSEdge-ClientIP
          header, but at a minimum, you should include this header.'
        in: header
        name: X-Search-Location
        required: false
        type: string
        x-ms-client-name: Location
      - description: A 2-character country code of the country where the results come
          from. This API supports only the United States market. If you specify this
          query parameter, it must be set to us. If you set this parameter, you must
          also specify the Accept-Language header. Bing uses the first supported language
          it finds from the languages list, and combine that language with the country
          code that you specify to determine the market to return results for. If
          the languages list does not include a supported language, Bing finds the
          closest language and market that supports the request, or it may use an
          aggregated or default market for the results instead of a specified one.
          You should use this query parameter and the Accept-Language query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. This parameter and the mkt query parameter
          are mutually exclusiveu2014do not specify both.
        in: query
        name: cc
        required: false
        type: string
        x-ms-client-name: CountryCode
      - default: en-us
        description: The market where the results come from. You are strongly encouraged
          to always specify the market, if known. Specifying the market helps Bing
          route the request and return an appropriate and optimal response. This parameter
          and the cc query parameter are mutually exclusiveu2014do not specify both.
        in: query
        name: mkt
        required: false
        type: string
        x-ms-client-name: Market
      - description: The user's search term.
        in: query
        name: q
        required: true
        type: string
        x-ms-client-name: Query
      - collectionFormat: csv
        description: A comma-delimited list of answers to include in the response.
          If you do not specify this parameter, the response includes all search answers
          for which there's relevant data.
        in: query
        items:
          enum:
          - Entities
          - Places
          type: string
          x-ms-enum:
            modelAsString: true
            name: AnswerType
        name: ResponseFilter
        required: false
        type: array
      - collectionFormat: csv
        description: 'The media type to use for the response. The following are the
          possible case-insensitive values: JSON, JSONLD. The default is JSON. If
          you specify JSONLD, the response body includes JSON-LD objects that contain
          the search results.'
        in: query
        items:
          enum:
          - Json
          - JsonLd
          type: string
          x-ms-enum:
            modelAsString: true
            name: ResponseFormat
        name: ResponseFormat
        required: false
        type: array
      - description: 'A filter used to filter adult content. Off: Return webpages
          with adult text, images, or videos. Moderate: Return webpages with adult
          text, but not adult images or videos. Strict: Do not return webpages with
          adult text, images, or videos. The default is Moderate. If the request comes
          from a market that Bing''s adult policy requires that safeSearch is set
          to Strict, Bing ignores the safeSearch value and uses Strict. If you use
          the site: query operator, there is the chance that the response may contain
          adult content regardless of what the safeSearch query parameter is set to.
          Use site: only if you are aware of the content on the site and your scenario
          supports the possibility of adult content.'
        enum:
        - "Off"
        - Moderate
        - Strict
        in: query
        name: SafeSearch
        required: false
        type: string
        x-ms-enum:
          modelAsString: true
          name: SafeSearch
      - description: The language to use for user interface strings. Specify the language
          using the ISO 639-1 2-letter language code. For example, the language code
          for English is EN. The default is EN (English). Although optional, you should
          always specify the language. Typically, you set setLang to the same language
          specified by mkt unless the user wants the user interface strings displayed
          in a different language. This parameter and the Accept-Language header are
          mutually exclusive; do not specify both. A user interface string is a string
          that's used as a label in a user interface. There are few user interface
          strings in the JSON response objects. Also, any links to Bing.com properties
          in the response objects apply the specified language.
        in: query
        name: SetLang
        required: false
        type: string
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/SearchResponse'
        default:
          description: An error has occurred. Check the response type and/or status
            code for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: The Entity Search API lets you send a search query to Bing and get
        back search results that include entities and places. Place results include
        restaurants, hotel, or other local businesses. For places, the query can specify
        the name of the local business or it can ask for a list (for example, restaurants
        near me). Entity results include persons, places, or things. Place in this
        context is tourist attractions, states, countries, etc.
      tags:
      - EntitySearch
      x-ms-examples:
        Successful query:
          parameters:
            Ocp-Apim-Subscription-Key: '{API key}'
            q: tom cruise
          responses:
            200:
              body:
                _type: SearchResponse
                entities:
                  _type: Entities
                  value:
                  - _type: Thing
                    bingId: fdc9ba0e-f198-b3c3-3cad-cf81595a654c
                    contractualRules:
                    - _type: ContractualRules/LicenseAttribution
                      license:
                        _type: License
                        name: CC-BY-SA
                        url: http://creativecommons.org/licenses/by-sa/3.0/
                      licenseNotice: Text under CC-BY-SA license
                      mustBeCloseToContent: true
                      targetPropertyName: description
                    - _type: ContractualRules/LinkAttribution
                      mustBeCloseToContent: true
                      targetPropertyName: description
                      text: Wikipedia
                      url: http://en.wikipedia.org/wiki/Tom_Cruise
                    - _type: ContractualRules/MediaAttribution
                      mustBeCloseToContent: true
                      targetPropertyName: image
                      url: http://www.imdb.com/name/nm0000129/
                    description: Thomas Cruise Mapother IV, known professionally as
                      Tom Cruise, is an American actor and producer. He has been nominated
                      for three Academy Awards and has won three Golden Globe Awards.
                      He started his career at age 19 in the film Endless Love.
                    entityPresentationInfo:
                      entityScenario: DominantEntity
                      entityTypeDisplayHint: Actor
                      entityTypeHints:
                      - Actor
                    id: https://localhost/api/v7/#Entities.0
                    image:
                      _type: ImageObject
                      height: 110
                      hostPageUrl: https://images-na.ssl-images-amazon.com/images/M/MV5BMTk1MjM3NTU5M15BMl5BanBnXkFtZTcwMTMyMjAyMg@@._V1_UY317_CR14,0,214,317_AL_.jpg
                      name: The thing about filmmaking is I give it everything, that's
                        why I work so hard. I always tell young actors to take charge.
                        It's not that hard. Sign your own checks, be responsible.
                      provider:
                      - _type: Organization
                        url: http://www.imdb.com/name/nm0000129/
                      thumbnailUrl: https://www.bing.com/th?id=Acf56e67b7cc2c2cbff9de810b1c93e0c&w=110&h=110&c=12&rs=1&qlt=80&cdv=1&pid=16.2
                      width: 110
                    name: Tom Cruise
                    url: http://www.tomcruise.com/
                    webSearchUrl: https://www.bing.com/search?q=Tom+Cruise&filters=sid:%22fdc9ba0e-f198-b3c3-3cad-cf81595a654c%22&elv=AXXfrEiqqD9r3GuelwApulp!j8eybyJ2oV2pcNg*iHI!c9smB16spplYx9SWZMALokr6sIq4plb6PjOE7tvZdFBHYf6fDwegyoSg0f2We0Lf
                queryContext:
                  originalQuery: tom cruise
              headers: []
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":38:{s:7:\"Airport\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CivicStructure\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"iataCode\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"icaoCode\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Answer\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"CivicStructure\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Place\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ContractualRulesAttribution\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/ContractualRulesContractualRule\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"mustBeCloseToContent\";O:8:\"stdClass\":3:{s:11:\"description\";s:289:\"A
  Boolean value that determines whether the contents of the rule must be placed in
  close proximity to the field that the rule applies to. If true, the contents must
  be placed in close proximity. If false, or this field does not exist, the contents
  may be placed at the caller's discretion.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:28:\"ContractualRules/Attribution\";}s:31:\"ContractualRulesContractualRule\";O:8:\"stdClass\":5:{s:13:\"discriminator\";s:5:\"_type\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"targetPropertyName\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  name of the field that the rule applies to.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"_type\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:32:\"ContractualRules/ContractualRule\";}s:34:\"ContractualRulesLicenseAttribution\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ContractualRulesAttribution\";}}s:11:\"description\";s:51:\"Defines
  a contractual rule for license attribution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"license\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:21:\"#/definitions/License\";s:11:\"description\";s:48:\"The
  license under which the content may be used.\";s:8:\"readOnly\";b:1;}s:13:\"licenseNotice\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  license to display next to the targeted field.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:35:\"ContractualRules/LicenseAttribution\";}s:31:\"ContractualRulesLinkAttribution\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ContractualRulesAttribution\";}}s:11:\"description\";s:48:\"Defines
  a contractual rule for link attribution.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"optionalForListDisplay\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Indicates
  whether this provider's attribution is optional.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  attribution text.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  URL to the provider's website. Use text and URL to create the hyperlink.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"text\";i:1;s:3:\"url\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:32:\"ContractualRules/LinkAttribution\";}s:32:\"ContractualRulesMediaAttribution\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ContractualRulesAttribution\";}}s:11:\"description\";s:49:\"Defines
  a contractual rule for media attribution.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"The
  URL that you use to create of hyperlink of the media content. For example, if the
  target is an image, you would use the URL to make the image clickable.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:33:\"ContractualRules/MediaAttribution\";}s:31:\"ContractualRulesTextAttribution\";O:8:\"stdClass\":6:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ContractualRulesAttribution\";}}s:11:\"description\";s:48:\"Defines
  a contractual rule for text attribution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"optionalForListDisplay\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Indicates
  whether this provider's attribution is optional.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:298:\"The
  attribution text. Text attribution applies to the entity as a whole and should be
  displayed immediately following the entity presentation. If there are multiple text
  or link attribution rules that do not specify a target, you should concatenate them
  and display them using a \"Data from:\" label.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"text\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:32:\"ContractualRules/TextAttribution\";}s:12:\"CreativeWork\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"provider\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  source of the creative work.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"text\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"thumbnailUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  URL to a thumbnail of the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"EntertainmentBusiness\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LocalBusiness\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Entities\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";}}s:11:\"description\";s:25:\"Defines
  an entity answer.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"queryScenario\";O:8:\"stdClass\":6:{s:7:\"default\";s:14:\"DominantEntity\";s:11:\"description\";s:574:\"The
  supported query scenario. This field is set to DominantEntity or DisambiguationItem.
  The field is set to DominantEntity if Bing determines that only a single entity
  satisfies the request. For example, a book, movie, person, or attraction. If multiple
  entities could satisfy the request, the field is set to DisambiguationItem. For
  example, if the request uses the generic title of a movie franchise, the entity's
  type would likely be DisambiguationItem. But, if the request specifies a specific
  title from the franchise, the entity's type would likely be DominantEntity.\";s:4:\"enum\";a:5:{i:0;s:14:\"DominantEntity\";i:1;s:32:\"DominantEntityWithDisambiguation\";i:2;s:14:\"Disambiguation\";i:3;s:4:\"List\";i:4;s:13:\"ListWithPivot\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:19:\"EntityQueryScenario\";}}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"A
  list of entities.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:30:\"EntitiesEntityPresentationInfo\";O:8:\"stdClass\":5:{s:11:\"description\";s:66:\"Defines
  additional information about an entity such as type hints.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"entityScenario\";O:8:\"stdClass\":5:{s:7:\"default\";s:14:\"DominantEntity\";s:11:\"description\";s:23:\"The
  supported scenario.\";s:4:\"enum\";a:3:{i:0;s:14:\"DominantEntity\";i:1;s:18:\"DisambiguationItem\";i:2;s:8:\"ListItem\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:14:\"EntityScenario\";}}s:21:\"entityTypeDisplayHint\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"A
  display version of the entity hint. For example, if entityTypeHints is Artist, this
  field may be set to American Singer.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"entityTypeHints\";O:8:\"stdClass\":4:{s:11:\"description\";s:221:\"A
  list of hints that indicate the entity's type. The list could contain a single hint
  such as Movie or a list of hints such as Place, LocalBusiness, Restaurant. Each
  successive hint in the array narrows the entity's type.\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"enum\";a:49:{i:0;s:7:\"Generic\";i:1;s:6:\"Person\";i:2;s:5:\"Place\";i:3;s:5:\"Media\";i:4;s:12:\"Organization\";i:5;s:13:\"LocalBusiness\";i:6;s:10:\"Restaurant\";i:7;s:5:\"Hotel\";i:8;s:17:\"TouristAttraction\";i:9;s:6:\"Travel\";i:10;s:4:\"City\";i:11;s:7:\"Country\";i:12;s:10:\"Attraction\";i:13;s:5:\"House\";i:14;s:5:\"State\";i:15;s:12:\"RadioStation\";i:16;s:13:\"StreetAddress\";i:17;s:12:\"Neighborhood\";i:18;s:8:\"Locality\";i:19;s:10:\"PostalCode\";i:20;s:6:\"Region\";i:21;s:9:\"SubRegion\";i:22;s:11:\"MinorRegion\";i:23;s:9:\"Continent\";i:24;s:15:\"PointOfInterest\";i:25;s:5:\"Other\";i:26;s:5:\"Movie\";i:27;s:4:\"Book\";i:28;s:14:\"TelevisionShow\";i:29;s:16:\"TelevisionSeason\";i:30;s:9:\"VideoGame\";i:31;s:10:\"MusicAlbum\";i:32;s:14:\"MusicRecording\";i:33;s:10:\"MusicGroup\";i:34;s:11:\"Composition\";i:35;s:11:\"TheaterPlay\";i:36;s:5:\"Event\";i:37;s:5:\"Actor\";i:38;s:6:\"Artist\";i:39;s:8:\"Attorney\";i:40;s:10:\"Speciality\";i:41;s:19:\"CollegeOrUniversity\";i:42;s:6:\"School\";i:43;s:4:\"Food\";i:44;s:4:\"Drug\";i:45;s:6:\"Animal\";i:46;s:10:\"SportsTeam\";i:47;s:7:\"Product\";i:48;s:3:\"Car\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:10:\"EntityType\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:14:\"entityScenario\";}s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:31:\"Entities/EntityPresentationInfo\";}s:5:\"Error\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Defines
  the error that occurred.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"code\";O:8:\"stdClass\":5:{s:7:\"default\";s:4:\"None\";s:11:\"description\";s:53:\"The
  error code that identifies the category of error.\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:11:\"ServerError\";i:2;s:14:\"InvalidRequest\";i:3;s:17:\"RateLimitExceeded\";i:4;s:20:\"InvalidAuthorization\";i:5;s:25:\"InsufficientAuthorization\";}s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:9:\"ErrorCode\";}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  description of the error.\";s:4:\"type\";s:6:\"string\";}s:11:\"moreDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  description that provides additional information about the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  parameter in the request that caused the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"subCode\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"The
  error code that further helps to identify the error.\";s:4:\"enum\";a:11:{i:0;s:15:\"UnexpectedError\";i:1;s:13:\"ResourceError\";i:2;s:14:\"NotImplemented\";i:3;s:16:\"ParameterMissing\";i:4;s:21:\"ParameterInvalidValue\";i:5;s:14:\"HttpNotAllowed\";i:6;s:7:\"Blocked\";i:7;s:20:\"AuthorizationMissing\";i:8;s:23:\"AuthorizationRedundancy\";i:9;s:21:\"AuthorizationDisabled\";i:10;s:20:\"AuthorizationExpired\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:12:\"ErrorSubCode\";}}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  parameter's value in the request that was not valid.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:4:\"type\";s:6:\"object\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:11:\"description\";s:56:\"The
  top-level response that represents a failed request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  list of errors that describe the reasons why the request failed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:6:\"errors\";}s:4:\"type\";s:6:\"object\";}s:17:\"FoodEstablishment\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LocalBusiness\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Hotel\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LodgingBusiness\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"amenities\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:10:\"hotelClass\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Identifiable\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResponseBase\";}}s:11:\"description\";s:35:\"Defines
  the identity of a resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  String identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ImageObject\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MediaObject\";}}s:11:\"description\";s:16:\"Defines
  an image\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"thumbnail\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:11:\"description\";s:35:\"The
  URL to a thumbnail of the image\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}s:10:\"Intangible\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:4:\"type\";s:6:\"object\";}s:7:\"License\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreativeWork\";}}s:11:\"description\";s:62:\"Defines
  the license under which the text or photo may be used.\";s:4:\"type\";s:6:\"object\";}s:13:\"LocalBusiness\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Place\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"isPermanentlyClosed\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:9:\"panoramas\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:10:\"priceRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:3:\"$$.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"tagLine\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"LodgingBusiness\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LocalBusiness\";}}s:4:\"type\";s:6:\"object\";}s:11:\"MediaObject\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreativeWork\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"contentUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Original
  URL to retrieve the source (file) for the media object (e.g the source URL for the
  image).\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  height of the source media object, in pixels.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:11:\"hostPageUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"URL
  of the page that hosts the media object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  width of the source media object, in pixels.\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"MovieTheater\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/EntertainmentBusiness\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"screenCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Organization\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:11:\"description\";s:24:\"Defines
  an organization.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"Place\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:11:\"description\";s:72:\"Defines
  information about a local entity, such as a restaurant or hotel.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:27:\"#/definitions/PostalAddress\";s:11:\"description\";s:49:\"The
  postal address of where the entity is located\";s:8:\"readOnly\";b:1;}s:9:\"telephone\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  entity's telephone number\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Places\";O:8:\"stdClass\":5:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";}}s:11:\"description\";s:30:\"Defines
  a local entity answer.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  list of local entities, such as restaurants or hotels.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:13:\"PostalAddress\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StructuredValue\";}}s:11:\"description\";s:25:\"Defines
  a postal address.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:14:\"addressCountry\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"The
  country/region where the street address is located. This could be the two-letter
  ISO code. For example, US, or the full name, United States.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"addressLocality\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  city where the street address is located. For example, Seattle.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"addressRegion\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"The
  state or province code where the street address is located. This could be the two-letter
  code. For example, WA, or the full name , Washington.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:25:\"addressRegionAbbreviation\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Region
  Abbreviation. For example, WA.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"addressSubregion\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"countryIso\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  two letter ISO code of this countr. For example, US.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"neighborhood\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  neighborhood where the street address is located. For example, Westlake.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"postOfficeBoxNumber\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  zip code or postal code where the street address is located. For example, 98052.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"streetAddress\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  complete address. For example, 2100 Westlake Ave N, Bellevue, WA 98052.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"QueryContext\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Defines
  the query context that Bing used for the request.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"adultIntent\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"A
  Boolean value that indicates whether the specified query has adult intent. The value
  is true if the query has adult intent; otherwise, false.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:23:\"alterationOverrideQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:335:\"The
  query string to use to force Bing to use the original string. For example, if the
  query string is \"saling downwind\", the override query string will be \"+saling
  downwind\". Remember to encode the query string which results in \"%2Bsaling+downwind\".
  This field is included only if the original query string contains a spelling mistake.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"alteredQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:338:\"The
  query string used by Bing to perform the query. Bing uses the altered query string
  if the original query string contained spelling mistakes. For example, if the query
  string is \"saling downwind\", the altered query string will be \"sailing downwind\".
  This field is included only if the original query string contains a spelling mistake.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"askUserForLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:604:\"A
  Boolean value that indicates whether Bing requires the user's location to provide
  accurate results. If you specified the user's location by using the X-MSEdge-ClientIP
  and X-Search-Location headers, you can ignore this field. For location aware queries,
  such as \"today's weather\" or \"restaurants near me\" that need the user's location
  to provide accurate results, this field is set to true. For location aware queries
  that include the location (for example, \"Seattle weather\"), this field is set
  to false. This field is also set to false for queries that are not location aware,
  such as \"best sellers\".\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:13:\"originalQuery\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  query string as specified in the request.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:13:\"originalQuery\";}s:4:\"type\";s:6:\"object\";}s:8:\"Response\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Identifiable\";}}s:11:\"description\";s:105:\"Defines
  a response. All schemas that could be returned at the root of a response should
  inherit from this\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"contractualRules\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"A
  list of rules that you must adhere to if you display the item.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/ContractualRulesContractualRule\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:12:\"webSearchUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  URL To Bing's search result for this item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ResponseBase\";O:8:\"stdClass\":4:{s:13:\"discriminator\";s:5:\"_type\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"_type\";}s:4:\"type\";s:6:\"object\";}s:10:\"Restaurant\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FoodEstablishment\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"acceptsReservations\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:7:\"menuUrl\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:14:\"reservationUrl\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"servesCuisine\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SearchResponse\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:11:\"description\";s:82:\"Defines
  the top-level object that the response includes when the request succeeds.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"entities\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:22:\"#/definitions/Entities\";s:11:\"description\";s:57:\"A
  list of entities that are relevant to the search query.\";s:8:\"readOnly\";b:1;}s:6:\"places\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/Places\";s:11:\"description\";s:86:\"A
  list of local entities such as restaurants or hotels that are relevant to the query.\";s:8:\"readOnly\";b:1;}s:12:\"queryContext\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/QueryContext\";s:11:\"description\";s:257:\"An
  object that contains the query string that Bing used for the request. This object
  contains the query string as entered by the user. It may also contain an altered
  query string that Bing used for the query if the query string contained a spelling
  mistake.\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}s:19:\"SearchResultsAnswer\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Answer\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"queryContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/QueryContext\";s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}s:15:\"StructuredValue\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Intangible\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Thing\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"bingId\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  ID that uniquely identifies this item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  short description of the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:22:\"entityPresentationInfo\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:44:\"#/definitions/EntitiesEntityPresentationInfo\";s:11:\"description\";s:184:\"Additional
  information about the entity such as hints that you can use to determine the entity's
  type. To determine the entity's type, use the entityScenario and entityTypeHint
  fields.\";s:8:\"readOnly\";b:1;}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  name of the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  URL to get more information about the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"TouristAttraction\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Place\";}}s:4:\"type\";s:6:\"object\";}}"
...
