---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"Video Search Client\";s:11:\"description\";s:526:\"The
  Video Search API lets you search on Bing for video that are relevant to the user's
  search query, for insights about a video or for videos that are trending based on
  search requests made by others. This section provides technical details about the
  query parameters and headers that you use to request videos and the JSON response
  objects that contain them. For examples that show how to make requests, see [Searching
  the Web for Videos](https://docs.microsoft.com/azure/cognitive-services/bing-video-search/search-the-web).\";s:7:\"version\";s:3:\"1.0\";}"
host: api.cognitive.microsoft.com
basePath: /bing/v7.0
paths:
  /videos/search:
    get:
      summary: The Video Search API lets you send a search query to Bing and get back
        a list of videos that are relevant to the search query. This section provides
        technical details about the query parameters and headers that you use to request
        videos and the JSON response objects that contain them. For examples that
        show how to make requests, see [Searching the Web for Videos](https://docs.microsoft.com/azure/cognitive-services/bing-video-search/search-the-web).
      operationId: Videos_Search
      tags:
      - VideoSearch
      parameters:
      - $ref: '#/parameters/x-bingapis-sdk'
      - name: Accept
        in: header
        description: The default media type is application/json. To specify that the
          response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
        required: false
        type: string
      - name: Accept-Language
        x-ms-client-name: AcceptLanguage
        in: header
        description: A comma-delimited list of one or more languages to use for user
          interface strings. The list is in decreasing order of preference. For additional
          information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          This header and the [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#setlang)
          query parameter are mutually exclusive; do not specify both. If you set
          this header, you must also specify the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#cc)
          query parameter. To determine the market to return results for, Bing uses
          the first supported language it finds from the list and combines it with
          the cc parameter value. If the list does not include a supported language,
          Bing finds the closest language and market that supports the request or
          it uses an aggregated or default market for the results. To determine the
          market that Bing used, see the BingAPIs-Market header. Use this header and
          the cc query parameter only if you specify multiple languages. Otherwise,
          use the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#mkt)
          and [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#setlang)
          query parameters. A user interface string is a string that's used as a label
          in a user interface. There are few user interface strings in the JSON response
          objects. Any links to Bing.com properties in the response objects apply
          the specified language.
        required: false
        type: string
      - name: User-Agent
        x-ms-client-name: UserAgent
        in: header
        description: 'The user agent originating the request. Bing uses the user agent
          to provide mobile users with an optimized experience. Although optional,
          you are encouraged to always specify this header. The user-agent should
          be the same string that any commonly used browser sends. For information
          about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          The following are examples of user-agent strings. Windows Phone: Mozilla/5.0
          (compatible; MSIE 10.0; Windows Phone 8.0; Trident/6.0; IEMobile/10.0; ARM;
          Touch; NOKIA; Lumia 822). Android: Mozilla / 5.0 (Linux; U; Android 2.3.5;
          en - us; SCH - I500 Build / GINGERBREAD) AppleWebKit / 533.1 (KHTML; like
          Gecko) Version / 4.0 Mobile Safari / 533.1. iPhone: Mozilla / 5.0 (iPhone;
          CPU iPhone OS 6_1 like Mac OS X) AppleWebKit / 536.26 (KHTML; like Gecko)
          Mobile / 10B142 iPhone4; 1 BingWeb / 3.03.1428.20120423. PC: Mozilla / 5.0
          (Windows NT 6.3; WOW64; Trident / 7.0; Touch; rv:11.0) like Gecko. iPad:
          Mozilla / 5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit / 537.51.1 (KHTML,
          like Gecko) Version / 7.0 Mobile / 11A465 Safari / 9537.53'
        required: false
        type: string
      - name: X-MSEdge-ClientID
        x-ms-client-name: ClientId
        in: header
        description: 'Bing uses this header to provide users with consistent behavior
          across Bing API calls. Bing often flights new features and improvements,
          and it uses the client ID as a key for assigning traffic on different flights.
          If you do not use the same client ID for a user across multiple requests,
          then Bing may assign the user to multiple conflicting flights. Being assigned
          to multiple conflicting flights can lead to an inconsistent user experience.
          For example, if the second request has a different flight assignment than
          the first, the experience may be unexpected. Also, Bing can use the client
          ID to tailor web results to that client IDu2019s search history, providing
          a richer experience for the user. Bing also uses this header to help improve
          result rankings by analyzing the activity generated by a client ID. The
          relevance improvements help with better quality of results delivered by
          Bing APIs and in turn enables higher click-through rates for the API consumer.
          IMPORTANT: Although optional, you should consider this header required.
          Persisting the client ID across multiple requests for the same end user
          and device combination enables 1) the API consumer to receive a consistent
          user experience, and 2) higher click-through rates via better quality of
          results from the Bing APIs. Each user that uses your application on the
          device must have a unique, Bing generated client ID. If you do not include
          this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID
          response header. The only time that you should NOT include this header in
          a request is the first time the user uses your app on that device. Use the
          client ID for each Bing API request that your app makes for this user on
          the device. Persist the client ID. To persist the ID in a browser app, use
          a persistent HTTP cookie to ensure the ID is used across all sessions. Do
          not use a session cookie. For other apps such as mobile apps, use the device''s
          persistent storage to persist the ID. The next time the user uses your app
          on that device, get the client ID that you persisted. Bing responses may
          or may not include this header. If the response includes this header, capture
          the client ID and use it for all subsequent Bing requests for the user on
          that device. If you include the X-MSEdge-ClientID, you must not include
          cookies in the request.'
        required: false
        type: string
      - name: X-MSEdge-ClientIP
        x-ms-client-name: ClientIp
        in: header
        description: The IPv4 or IPv6 address of the client device. The IP address
          is used to discover the user's location. Bing uses the location information
          to determine safe search behavior. Although optional, you are encouraged
          to always specify this header and the X-Search-Location header. Do not obfuscate
          the address (for example, by changing the last octet to 0). Obfuscating
          the address results in the location not being anywhere near the device's
          actual location, which may result in Bing serving erroneous results.
        required: false
        type: string
      - name: X-Search-Location
        x-ms-client-name: Location
        in: header
        description: 'A semicolon-delimited list of key/value pairs that describe
          the client''s geographical location. Bing uses the location information
          to determine safe search behavior and to return relevant local content.
          Specify the key/value pair as <key>:<value>. The following are the keys
          that you use to specify the user''s location. lat (required): The latitude
          of the client''s location, in degrees. The latitude must be greater than
          or equal to -90.0 and less than or equal to +90.0. Negative values indicate
          southern latitudes and positive values indicate northern latitudes. long
          (required): The longitude of the client''s location, in degrees. The longitude
          must be greater than or equal to -180.0 and less than or equal to +180.0.
          Negative values indicate western longitudes and positive values indicate
          eastern longitudes. re (required): The radius, in meters, which specifies
          the horizontal accuracy of the coordinates. Pass the value returned by the
          device''s location service. Typical values might be 22m for GPS/Wi-Fi, 380m
          for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional):
          The UTC UNIX timestamp of when the client was at the location. (The UNIX
          timestamp is the number of seconds since January 1, 1970.) head (optional):
          The client''s relative heading or direction of travel. Specify the direction
          of travel as degrees from 0 through 360, counting clockwise relative to
          true north. Specify this key only if the sp key is nonzero. sp (optional):
          The horizontal velocity (speed), in meters per second, that the client device
          is traveling. alt (optional): The altitude of the client device, in meters.
          are (optional): The radius, in meters, that specifies the vertical accuracy
          of the coordinates. Specify this key only if you specify the alt key. Although
          many of the keys are optional, the more information that you provide, the
          more accurate the location results are. Although optional, you are encouraged
          to always specify the user''s geographical location. Providing the location
          is especially important if the client''s IP address does not accurately
          reflect the user''s physical location (for example, if the client uses VPN).
          For optimal results, you should include this header and the X-MSEdge-ClientIP
          header, but at a minimum, you should include this header.'
        required: false
        type: string
      - name: cc
        x-ms-client-name: CountryCode
        in: query
        description: A 2-character country code of the country where the results come
          from. This API supports only the United States market. If you specify this
          query parameter, it must be set to us. If you set this parameter, you must
          also specify the Accept-Language header. Bing uses the first supported language
          it finds from the languages list, and combine that language with the country
          code that you specify to determine the market to return results for. If
          the languages list does not include a supported language, Bing finds the
          closest language and market that supports the request, or it may use an
          aggregated or default market for the results instead of a specified one.
          You should use this query parameter and the Accept-Language query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. This parameter and the mkt query parameter
          are mutually exclusiveu2014do not specify both.
        required: false
        type: string
      - name: count
        x-ms-client-name: Count
        in: query
        description: The number of videos to return in the response. The actual number
          delivered may be less than requested. The default is 35. The maximum is
          105. You may use this parameter along with the offset parameter to page
          results. For example, if your user interface presents 20 videos per page,
          set count to 20 and offset to 0 to get the first page of results. For each
          subsequent page, increment offset by 20 (for example, 0, 20, 40). Use this
          parameter only with the Video Search API. Do not specify this parameter
          when calling the Trending Videos API or the Web Search API.
        required: false
        type: integer
        format: int32
      - name: freshness
        x-ms-client-name: Freshness
        in: query
        description: 'Filter videos by the date and time that Bing discovered the
          video. The following are the possible filter values. Day: Return videos
          discovered within the last 24 hours. Week: Return videos discovered within
          the last 7 days. Month: Return videos discovered within the last 30 days.'
        required: false
        type: string
        enum:
        - Day
        - Week
        - Month
        x-ms-enum:
          name: Freshness
          modelAsString: false
      - name: id
        x-ms-client-name: Id
        in: query
        description: An ID that uniquely identifies a video. The [Video](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#video)
          object's videoId field contains the ID that you set this parameter to. You
          use this parameter to ensure that the specified video is the first video
          in the list of videos that Bing returns.
        required: false
        type: string
      - name: length
        x-ms-client-name: Length
        in: query
        description: 'Filter videos by the following lengths: Short: Return videos
          that are less than 5 minutes. Medium: Return videos that are between 5 and
          20 minutes, inclusive. Long: Return videos that are longer than 20 minutes.
          All: Do not filter by length.Specifying this value is the same as not specifying
          the videoLength parameter.'
        required: false
        type: string
        enum:
        - All
        - Short
        - Medium
        - Long
        x-ms-enum:
          name: VideoLength
          modelAsString: false
      - name: mkt
        x-ms-client-name: Market
        in: query
        description: 'The market where the results come from. Typically, mkt is the
          country where the user is making the request from. However, it could be
          a different country if the user is not located in a country where Bing delivers
          results. The market must be in the form <language code>-<country code>.
          For example, en-US. The string is case insensitive. For a list of possible
          market values, see [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#market-codes).
          NOTE: If known, you are encouraged to always specify the market. Specifying
          the market helps Bing route the request and return an appropriate and optimal
          response. If you specify a market that is not listed in [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#market-codes),
          Bing uses a best fit market code based on an internal mapping that is subject
          to change. This parameter and the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#cc)
          query parameter are mutually exclusiveu2014do not specify both.'
        required: false
        type: string
      - name: offset
        x-ms-client-name: Offset
        in: query
        description: The zero-based offset that indicates the number of videos to
          skip before returning videos. The default is 0. The offset should be less
          than ([totalEstimatedMatches](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#videos-totalmatches)
          - count). Use this parameter along with the count parameter to page results.
          For example, if your user interface displays 20 videos per page, set count
          to 20 and offset to 0 to get the first page of results. For each subsequent
          page, increment offset by 20 (for example, 0, 20, 40). It is possible for
          multiple pages to include some overlap in results. To prevent duplicates,
          see [nextOffset](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#videos-nextoffset).
          Use this parameter only with the Video Search API.
        required: false
        type: integer
        format: int32
      - name: pricing
        x-ms-client-name: Pricing
        in: query
        description: 'Filter videos by the following pricing options: Free: Return
          videos that are free to view. Paid: Return videos that require a subscription
          or payment to view. All: Do not filter by pricing.Specifying this value
          is the same as not specifying the pricing parameter.'
        required: false
        type: string
        enum:
        - All
        - Free
        - Paid
        x-ms-enum:
          name: VideoPricing
          modelAsString: false
      - name: q
        x-ms-client-name: Query
        in: query
        description: The user's search query string. The query string cannot be empty.
          The query string may contain [Bing Advanced Operators](http://msdn.microsoft.com/library/ff795620.aspx).
          For example, to limit videos to a specific domain, use the [site:](http://msdn.microsoft.com/library/ff795613.aspx)
          operator. Use this parameter only with the Video Search API. Do not specify
          this parameter when calling the Trending Videos API.
        required: true
        type: string
      - name: resolution
        x-ms-client-name: Resolution
        in: query
        description: 'Filter videos by the following resolutions: SD480p: Return videos
          with a 480p or higher resolution. HD720p: Return videos with a 720p or higher
          resolution. HD1080p: Return videos with a 1080p or higher resolution. All:
          Do not filter by resolution.Specifying this value is the same as not specifying
          the resolution parameter.'
        required: false
        type: string
        enum:
        - All
        - SD480p
        - HD720p
        - HD1080p
        x-ms-enum:
          name: VideoResolution
          modelAsString: false
      - name: safeSearch
        x-ms-client-name: SafeSearch
        in: query
        description: 'Filter videos for adult content. The following are the possible
          filter values. Off: If the request is through the Video Search API, the
          response includes adult videos and the thumbnail images of the videos are
          clear (non-fuzzy). If the request is through the Web Search API, the response
          includes adult videos but the thumbnail images of the videos are pixelated
          (fuzzy). Moderate: If the request is through the Video Search API, the response
          does not include videos with adult content. If the request is through the
          Web Search API, the response may include videos with adult content but the
          thumbnail images of the videos are pixelated (fuzzy). Strict: Does not return
          videos with adult content. The default is Moderate. If the request comes
          from a market that Bing''s adult policy requires that safeSearch is set
          to Strict, Bing ignores the safeSearch value and uses Strict. If you use
          the site: query operator, there is the chance that the response may contain
          adult content regardless of what the safeSearch query parameter is set to.
          Use site: only if you are aware of the content on the site and your scenario
          supports the possibility of adult content.'
        required: false
        type: string
        enum:
        - "Off"
        - Moderate
        - Strict
        x-ms-enum:
          name: SafeSearch
          modelAsString: false
      - name: setLang
        x-ms-client-name: SetLang
        in: query
        description: The language to use for user interface strings. Specify the language
          using the ISO 639-1 2-letter language code. For example, the language code
          for English is EN. The default is EN (English). Although optional, you should
          always specify the language. Typically, you set setLang to the same language
          specified by mkt unless the user wants the user interface strings displayed
          in a different language. This parameter and the [Accept-Language](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#acceptlanguage)
          header are mutually exclusive; do not specify both. A user interface string
          is a string that's used as a label in a user interface. There are few user
          interface strings in the JSON response objects. Also, any links to Bing.com
          properties in the response objects apply the specified language.
        required: false
        type: string
      - name: textDecorations
        x-ms-client-name: TextDecorations
        in: query
        description: A Boolean value that determines whether display strings contain
          decoration markers such as hit highlighting characters. If true, the strings
          may include markers. The default is false. To specify whether to use Unicode
          characters or HTML tags as the markers, see the [textFormat](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#textformat)
          query parameter. For information about hit highlighting, see [Hit Highlighting](https://docs.microsoft.com/azure/cognitive-services/bing-news-search/hit-highlighting).
        required: false
        type: boolean
      - name: textFormat
        x-ms-client-name: TextFormat
        in: query
        description: The type of markers to use for text decorations (see the textDecorations
          query parameter). Possible values are Rawu2014Use Unicode characters to
          mark content that needs special formatting. The Unicode characters are in
          the range E000 through E019. For example, Bing uses E000 and E001 to mark
          the beginning and end of query terms for hit highlighting. HTMLu2014Use
          HTML tags to mark content that needs special formatting. For example, use
          <b> tags to highlight query terms in display strings. The default is Raw.
          For display strings that contain escapable HTML characters such as <, >,
          and &, if textFormat is set to HTML, Bing escapes the characters as appropriate
          (for example, < is escaped to &lt;).
        required: false
        type: string
        enum:
        - Raw
        - Html
        x-ms-enum:
          name: TextFormat
          modelAsString: false
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/Videos'
        default:
          description: An error has occurred. Check the response type and/or status
            code for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        Successful video search:
          $ref: ./examples/SuccessfulVideoSearchRequest.json
  /videos/details:
    get:
      summary: The Video Detail Search API lets you search on Bing and get back insights
        about a video, such as related videos. This section provides technical details
        about the query parameters and headers that you use to request insights of
        videos and the JSON response objects that contain them. For examples that
        show how to make requests, see [Searching the Web for Videos](https://docs.microsoft.com/azure/cognitive-services/bing-video-search/search-the-web).
      operationId: Videos_Details
      tags:
      - VideoDetailSearch
      parameters:
      - $ref: '#/parameters/x-bingapis-sdk'
      - name: Accept
        in: header
        description: The default media type is application/json. To specify that the
          response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
        required: false
        type: string
      - name: Accept-Language
        x-ms-client-name: AcceptLanguage
        in: header
        description: A comma-delimited list of one or more languages to use for user
          interface strings. The list is in decreasing order of preference. For additional
          information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          This header and the [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#setlang)
          query parameter are mutually exclusive; do not specify both. If you set
          this header, you must also specify the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#cc)
          query parameter. To determine the market to return results for, Bing uses
          the first supported language it finds from the list and combines it with
          the cc parameter value. If the list does not include a supported language,
          Bing finds the closest language and market that supports the request or
          it uses an aggregated or default market for the results. To determine the
          market that Bing used, see the BingAPIs-Market header. Use this header and
          the cc query parameter only if you specify multiple languages. Otherwise,
          use the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#mkt)
          and [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#setlang)
          query parameters. A user interface string is a string that's used as a label
          in a user interface. There are few user interface strings in the JSON response
          objects. Any links to Bing.com properties in the response objects apply
          the specified language.
        required: false
        type: string
      - name: User-Agent
        x-ms-client-name: UserAgent
        in: header
        description: 'The user agent originating the request. Bing uses the user agent
          to provide mobile users with an optimized experience. Although optional,
          you are encouraged to always specify this header. The user-agent should
          be the same string that any commonly used browser sends. For information
          about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          The following are examples of user-agent strings. Windows Phone: Mozilla/5.0
          (compatible; MSIE 10.0; Windows Phone 8.0; Trident/6.0; IEMobile/10.0; ARM;
          Touch; NOKIA; Lumia 822). Android: Mozilla / 5.0 (Linux; U; Android 2.3.5;
          en - us; SCH - I500 Build / GINGERBREAD) AppleWebKit / 533.1 (KHTML; like
          Gecko) Version / 4.0 Mobile Safari / 533.1. iPhone: Mozilla / 5.0 (iPhone;
          CPU iPhone OS 6_1 like Mac OS X) AppleWebKit / 536.26 (KHTML; like Gecko)
          Mobile / 10B142 iPhone4; 1 BingWeb / 3.03.1428.20120423. PC: Mozilla / 5.0
          (Windows NT 6.3; WOW64; Trident / 7.0; Touch; rv:11.0) like Gecko. iPad:
          Mozilla / 5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit / 537.51.1 (KHTML,
          like Gecko) Version / 7.0 Mobile / 11A465 Safari / 9537.53'
        required: false
        type: string
      - name: X-MSEdge-ClientID
        x-ms-client-name: ClientId
        in: header
        description: 'Bing uses this header to provide users with consistent behavior
          across Bing API calls. Bing often flights new features and improvements,
          and it uses the client ID as a key for assigning traffic on different flights.
          If you do not use the same client ID for a user across multiple requests,
          then Bing may assign the user to multiple conflicting flights. Being assigned
          to multiple conflicting flights can lead to an inconsistent user experience.
          For example, if the second request has a different flight assignment than
          the first, the experience may be unexpected. Also, Bing can use the client
          ID to tailor web results to that client IDu2019s search history, providing
          a richer experience for the user. Bing also uses this header to help improve
          result rankings by analyzing the activity generated by a client ID. The
          relevance improvements help with better quality of results delivered by
          Bing APIs and in turn enables higher click-through rates for the API consumer.
          IMPORTANT: Although optional, you should consider this header required.
          Persisting the client ID across multiple requests for the same end user
          and device combination enables 1) the API consumer to receive a consistent
          user experience, and 2) higher click-through rates via better quality of
          results from the Bing APIs. Each user that uses your application on the
          device must have a unique, Bing generated client ID. If you do not include
          this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID
          response header. The only time that you should NOT include this header in
          a request is the first time the user uses your app on that device. Use the
          client ID for each Bing API request that your app makes for this user on
          the device. Persist the client ID. To persist the ID in a browser app, use
          a persistent HTTP cookie to ensure the ID is used across all sessions. Do
          not use a session cookie. For other apps such as mobile apps, use the device''s
          persistent storage to persist the ID. The next time the user uses your app
          on that device, get the client ID that you persisted. Bing responses may
          or may not include this header. If the response includes this header, capture
          the client ID and use it for all subsequent Bing requests for the user on
          that device. If you include the X-MSEdge-ClientID, you must not include
          cookies in the request.'
        required: false
        type: string
      - name: X-MSEdge-ClientIP
        x-ms-client-name: ClientIp
        in: header
        description: The IPv4 or IPv6 address of the client device. The IP address
          is used to discover the user's location. Bing uses the location information
          to determine safe search behavior. Although optional, you are encouraged
          to always specify this header and the X-Search-Location header. Do not obfuscate
          the address (for example, by changing the last octet to 0). Obfuscating
          the address results in the location not being anywhere near the device's
          actual location, which may result in Bing serving erroneous results.
        required: false
        type: string
      - name: X-Search-Location
        x-ms-client-name: Location
        in: header
        description: 'A semicolon-delimited list of key/value pairs that describe
          the client''s geographical location. Bing uses the location information
          to determine safe search behavior and to return relevant local content.
          Specify the key/value pair as <key>:<value>. The following are the keys
          that you use to specify the user''s location. lat (required): The latitude
          of the client''s location, in degrees. The latitude must be greater than
          or equal to -90.0 and less than or equal to +90.0. Negative values indicate
          southern latitudes and positive values indicate northern latitudes. long
          (required): The longitude of the client''s location, in degrees. The longitude
          must be greater than or equal to -180.0 and less than or equal to +180.0.
          Negative values indicate western longitudes and positive values indicate
          eastern longitudes. re (required): The radius, in meters, which specifies
          the horizontal accuracy of the coordinates. Pass the value returned by the
          device''s location service. Typical values might be 22m for GPS/Wi-Fi, 380m
          for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional):
          The UTC UNIX timestamp of when the client was at the location. (The UNIX
          timestamp is the number of seconds since January 1, 1970.) head (optional):
          The client''s relative heading or direction of travel. Specify the direction
          of travel as degrees from 0 through 360, counting clockwise relative to
          true north. Specify this key only if the sp key is nonzero. sp (optional):
          The horizontal velocity (speed), in meters per second, that the client device
          is traveling. alt (optional): The altitude of the client device, in meters.
          are (optional): The radius, in meters, that specifies the vertical accuracy
          of the coordinates. Specify this key only if you specify the alt key. Although
          many of the keys are optional, the more information that you provide, the
          more accurate the location results are. Although optional, you are encouraged
          to always specify the user''s geographical location. Providing the location
          is especially important if the client''s IP address does not accurately
          reflect the user''s physical location (for example, if the client uses VPN).
          For optimal results, you should include this header and the X-MSEdge-ClientIP
          header, but at a minimum, you should include this header.'
        required: false
        type: string
      - name: cc
        x-ms-client-name: CountryCode
        in: query
        description: A 2-character country code of the country where the results come
          from. This API supports only the United States market. If you specify this
          query parameter, it must be set to us. If you set this parameter, you must
          also specify the Accept-Language header. Bing uses the first supported language
          it finds from the languages list, and combine that language with the country
          code that you specify to determine the market to return results for. If
          the languages list does not include a supported language, Bing finds the
          closest language and market that supports the request, or it may use an
          aggregated or default market for the results instead of a specified one.
          You should use this query parameter and the Accept-Language query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. This parameter and the mkt query parameter
          are mutually exclusiveu2014do not specify both.
        required: false
        type: string
      - name: id
        x-ms-client-name: Id
        in: query
        description: An ID that uniquely identifies a video. The [Video](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#video)
          object's videoId field contains the ID that you set this parameter to. You
          use this parameter to identify the video to get insights of.
        required: false
        type: string
      - name: modules
        x-ms-client-name: Modules
        in: query
        description: 'A comma-delimited list of insights to request. The following
          are the possible case-insensitive values. All: Return all available insights.
          RelatedVideos: Return a list of videos that are similar to the video specified
          by the id query parameter. VideoResult: Return the video that you''re requesting
          insights of (this is the video that you set the id query parameter to in
          your insights request). If you specify an insight and there is no data for
          it, the response object does not include the related field. For example,
          if you specify RelatedVideos and none exist, the response does not include
          the relatedVideos field. Although the user''s query term is not required,
          you should always include it because it helps to improve relevance and the
          results.'
        required: false
        type: array
        items:
          type: string
          enum:
          - All
          - RelatedVideos
          - VideoResult
          x-ms-enum:
            name: VideoInsightModule
            modelAsString: false
        collectionFormat: csv
      - name: mkt
        x-ms-client-name: Market
        in: query
        description: 'The market where the results come from. Typically, mkt is the
          country where the user is making the request from. However, it could be
          a different country if the user is not located in a country where Bing delivers
          results. The market must be in the form <language code>-<country code>.
          For example, en-US. The string is case insensitive. For a list of possible
          market values, see [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#market-codes).
          NOTE: If known, you are encouraged to always specify the market. Specifying
          the market helps Bing route the request and return an appropriate and optimal
          response. If you specify a market that is not listed in [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#market-codes),
          Bing uses a best fit market code based on an internal mapping that is subject
          to change. This parameter and the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#cc)
          query parameter are mutually exclusiveu2014do not specify both.'
        required: false
        type: string
      - name: q
        x-ms-client-name: Query
        in: query
        description: The user's search query string. The query string cannot be empty.
          The query string may contain [Bing Advanced Operators](http://msdn.microsoft.com/library/ff795620.aspx).
          For example, to limit videos to a specific domain, use the [site:](http://msdn.microsoft.com/library/ff795613.aspx)
          operator. Use this parameter only with the Video Search API. Do not specify
          this parameter when calling the Trending Videos API.
        required: true
        type: string
      - name: resolution
        x-ms-client-name: Resolution
        in: query
        description: 'Filter videos by the following resolutions: SD480p: Return videos
          with a 480p or higher resolution. HD720p: Return videos with a 720p or higher
          resolution. HD1080p: Return videos with a 1080p or higher resolution. All:
          Do not filter by resolution.Specifying this value is the same as not specifying
          the resolution parameter.'
        required: false
        type: string
        enum:
        - All
        - SD480p
        - HD720p
        - HD1080p
        x-ms-enum:
          name: VideoResolution
          modelAsString: false
      - name: safeSearch
        x-ms-client-name: SafeSearch
        in: query
        description: 'Filter videos for adult content. The following are the possible
          filter values. Off: If the request is through the Video Search API, the
          response includes adult videos and the thumbnail images of the videos are
          clear (non-fuzzy). If the request is through the Web Search API, the response
          includes adult videos but the thumbnail images of the videos are pixelated
          (fuzzy). Moderate: If the request is through the Video Search API, the response
          does not include videos with adult content. If the request is through the
          Web Search API, the response may include videos with adult content but the
          thumbnail images of the videos are pixelated (fuzzy). Strict: Does not return
          videos with adult content. The default is Moderate. If the request comes
          from a market that Bing''s adult policy requires that safeSearch is set
          to Strict, Bing ignores the safeSearch value and uses Strict. If you use
          the site: query operator, there is the chance that the response may contain
          adult content regardless of what the safeSearch query parameter is set to.
          Use site: only if you are aware of the content on the site and your scenario
          supports the possibility of adult content.'
        required: false
        type: string
        enum:
        - "Off"
        - Moderate
        - Strict
        x-ms-enum:
          name: SafeSearch
          modelAsString: false
      - name: setLang
        x-ms-client-name: SetLang
        in: query
        description: The language to use for user interface strings. Specify the language
          using the ISO 639-1 2-letter language code. For example, the language code
          for English is EN. The default is EN (English). Although optional, you should
          always specify the language. Typically, you set setLang to the same language
          specified by mkt unless the user wants the user interface strings displayed
          in a different language. This parameter and the [Accept-Language](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#acceptlanguage)
          header are mutually exclusive; do not specify both. A user interface string
          is a string that's used as a label in a user interface. There are few user
          interface strings in the JSON response objects. Also, any links to Bing.com
          properties in the response objects apply the specified language.
        required: false
        type: string
      - name: textDecorations
        x-ms-client-name: TextDecorations
        in: query
        description: A Boolean value that determines whether display strings contain
          decoration markers such as hit highlighting characters. If true, the strings
          may include markers. The default is false. To specify whether to use Unicode
          characters or HTML tags as the markers, see the [textFormat](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#textformat)
          query parameter. For information about hit highlighting, see [Hit Highlighting](https://docs.microsoft.com/azure/cognitive-services/bing-news-search/hit-highlighting).
        required: false
        type: boolean
      - name: textFormat
        x-ms-client-name: TextFormat
        in: query
        description: The type of markers to use for text decorations (see the textDecorations
          query parameter). Possible values are Rawu2014Use Unicode characters to
          mark content that needs special formatting. The Unicode characters are in
          the range E000 through E019. For example, Bing uses E000 and E001 to mark
          the beginning and end of query terms for hit highlighting. HTMLu2014Use
          HTML tags to mark content that needs special formatting. For example, use
          <b> tags to highlight query terms in display strings. The default is Raw.
          For display strings that contain escapable HTML characters such as <, >,
          and &, if textFormat is set to HTML, Bing escapes the characters as appropriate
          (for example, < is escaped to &lt;).
        required: false
        type: string
        enum:
        - Raw
        - Html
        x-ms-enum:
          name: TextFormat
          modelAsString: false
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/VideoDetails'
        default:
          description: An error has occurred. Check the response type and/or status
            code for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        Successful video detail:
          $ref: ./examples/SuccessfulVideoDetailRequest.json
  /videos/trending:
    get:
      summary: The Video Trending Search API lets you search on Bing and get back
        a list of videos that are trending based on search requests made by others.
        The videos are broken out into different categories. For example, Top Music
        Videos. For a list of markets that support trending videos, see [Trending
        Videos](https://docs.microsoft.com/azure/cognitive-services/bing-video-search/trending-videos).
      operationId: Videos_Trending
      tags:
      - VideoTrendingSearch
      parameters:
      - $ref: '#/parameters/x-bingapis-sdk'
      - name: Accept
        in: header
        description: The default media type is application/json. To specify that the
          response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
        required: false
        type: string
      - name: Accept-Language
        x-ms-client-name: AcceptLanguage
        in: header
        description: A comma-delimited list of one or more languages to use for user
          interface strings. The list is in decreasing order of preference. For additional
          information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          This header and the [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#setlang)
          query parameter are mutually exclusive; do not specify both. If you set
          this header, you must also specify the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#cc)
          query parameter. To determine the market to return results for, Bing uses
          the first supported language it finds from the list and combines it with
          the cc parameter value. If the list does not include a supported language,
          Bing finds the closest language and market that supports the request or
          it uses an aggregated or default market for the results. To determine the
          market that Bing used, see the BingAPIs-Market header. Use this header and
          the cc query parameter only if you specify multiple languages. Otherwise,
          use the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#mkt)
          and [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#setlang)
          query parameters. A user interface string is a string that's used as a label
          in a user interface. There are few user interface strings in the JSON response
          objects. Any links to Bing.com properties in the response objects apply
          the specified language.
        required: false
        type: string
      - name: User-Agent
        x-ms-client-name: UserAgent
        in: header
        description: 'The user agent originating the request. Bing uses the user agent
          to provide mobile users with an optimized experience. Although optional,
          you are encouraged to always specify this header. The user-agent should
          be the same string that any commonly used browser sends. For information
          about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          The following are examples of user-agent strings. Windows Phone: Mozilla/5.0
          (compatible; MSIE 10.0; Windows Phone 8.0; Trident/6.0; IEMobile/10.0; ARM;
          Touch; NOKIA; Lumia 822). Android: Mozilla / 5.0 (Linux; U; Android 2.3.5;
          en - us; SCH - I500 Build / GINGERBREAD) AppleWebKit / 533.1 (KHTML; like
          Gecko) Version / 4.0 Mobile Safari / 533.1. iPhone: Mozilla / 5.0 (iPhone;
          CPU iPhone OS 6_1 like Mac OS X) AppleWebKit / 536.26 (KHTML; like Gecko)
          Mobile / 10B142 iPhone4; 1 BingWeb / 3.03.1428.20120423. PC: Mozilla / 5.0
          (Windows NT 6.3; WOW64; Trident / 7.0; Touch; rv:11.0) like Gecko. iPad:
          Mozilla / 5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit / 537.51.1 (KHTML,
          like Gecko) Version / 7.0 Mobile / 11A465 Safari / 9537.53'
        required: false
        type: string
      - name: X-MSEdge-ClientID
        x-ms-client-name: ClientId
        in: header
        description: 'Bing uses this header to provide users with consistent behavior
          across Bing API calls. Bing often flights new features and improvements,
          and it uses the client ID as a key for assigning traffic on different flights.
          If you do not use the same client ID for a user across multiple requests,
          then Bing may assign the user to multiple conflicting flights. Being assigned
          to multiple conflicting flights can lead to an inconsistent user experience.
          For example, if the second request has a different flight assignment than
          the first, the experience may be unexpected. Also, Bing can use the client
          ID to tailor web results to that client IDu2019s search history, providing
          a richer experience for the user. Bing also uses this header to help improve
          result rankings by analyzing the activity generated by a client ID. The
          relevance improvements help with better quality of results delivered by
          Bing APIs and in turn enables higher click-through rates for the API consumer.
          IMPORTANT: Although optional, you should consider this header required.
          Persisting the client ID across multiple requests for the same end user
          and device combination enables 1) the API consumer to receive a consistent
          user experience, and 2) higher click-through rates via better quality of
          results from the Bing APIs. Each user that uses your application on the
          device must have a unique, Bing generated client ID. If you do not include
          this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID
          response header. The only time that you should NOT include this header in
          a request is the first time the user uses your app on that device. Use the
          client ID for each Bing API request that your app makes for this user on
          the device. Persist the client ID. To persist the ID in a browser app, use
          a persistent HTTP cookie to ensure the ID is used across all sessions. Do
          not use a session cookie. For other apps such as mobile apps, use the device''s
          persistent storage to persist the ID. The next time the user uses your app
          on that device, get the client ID that you persisted. Bing responses may
          or may not include this header. If the response includes this header, capture
          the client ID and use it for all subsequent Bing requests for the user on
          that device. If you include the X-MSEdge-ClientID, you must not include
          cookies in the request.'
        required: false
        type: string
      - name: X-MSEdge-ClientIP
        x-ms-client-name: ClientIp
        in: header
        description: The IPv4 or IPv6 address of the client device. The IP address
          is used to discover the user's location. Bing uses the location information
          to determine safe search behavior. Although optional, you are encouraged
          to always specify this header and the X-Search-Location header. Do not obfuscate
          the address (for example, by changing the last octet to 0). Obfuscating
          the address results in the location not being anywhere near the device's
          actual location, which may result in Bing serving erroneous results.
        required: false
        type: string
      - name: X-Search-Location
        x-ms-client-name: Location
        in: header
        description: 'A semicolon-delimited list of key/value pairs that describe
          the client''s geographical location. Bing uses the location information
          to determine safe search behavior and to return relevant local content.
          Specify the key/value pair as <key>:<value>. The following are the keys
          that you use to specify the user''s location. lat (required): The latitude
          of the client''s location, in degrees. The latitude must be greater than
          or equal to -90.0 and less than or equal to +90.0. Negative values indicate
          southern latitudes and positive values indicate northern latitudes. long
          (required): The longitude of the client''s location, in degrees. The longitude
          must be greater than or equal to -180.0 and less than or equal to +180.0.
          Negative values indicate western longitudes and positive values indicate
          eastern longitudes. re (required): The radius, in meters, which specifies
          the horizontal accuracy of the coordinates. Pass the value returned by the
          device''s location service. Typical values might be 22m for GPS/Wi-Fi, 380m
          for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional):
          The UTC UNIX timestamp of when the client was at the location. (The UNIX
          timestamp is the number of seconds since January 1, 1970.) head (optional):
          The client''s relative heading or direction of travel. Specify the direction
          of travel as degrees from 0 through 360, counting clockwise relative to
          true north. Specify this key only if the sp key is nonzero. sp (optional):
          The horizontal velocity (speed), in meters per second, that the client device
          is traveling. alt (optional): The altitude of the client device, in meters.
          are (optional): The radius, in meters, that specifies the vertical accuracy
          of the coordinates. Specify this key only if you specify the alt key. Although
          many of the keys are optional, the more information that you provide, the
          more accurate the location results are. Although optional, you are encouraged
          to always specify the user''s geographical location. Providing the location
          is especially important if the client''s IP address does not accurately
          reflect the user''s physical location (for example, if the client uses VPN).
          For optimal results, you should include this header and the X-MSEdge-ClientIP
          header, but at a minimum, you should include this header.'
        required: false
        type: string
      - name: cc
        x-ms-client-name: CountryCode
        in: query
        description: A 2-character country code of the country where the results come
          from. This API supports only the United States market. If you specify this
          query parameter, it must be set to us. If you set this parameter, you must
          also specify the Accept-Language header. Bing uses the first supported language
          it finds from the languages list, and combine that language with the country
          code that you specify to determine the market to return results for. If
          the languages list does not include a supported language, Bing finds the
          closest language and market that supports the request, or it may use an
          aggregated or default market for the results instead of a specified one.
          You should use this query parameter and the Accept-Language query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. This parameter and the mkt query parameter
          are mutually exclusiveu2014do not specify both.
        required: false
        type: string
      - name: mkt
        x-ms-client-name: Market
        in: query
        description: 'The market where the results come from. Typically, mkt is the
          country where the user is making the request from. However, it could be
          a different country if the user is not located in a country where Bing delivers
          results. The market must be in the form <language code>-<country code>.
          For example, en-US. The string is case insensitive. For a list of possible
          market values, see [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#market-codes).
          NOTE: If known, you are encouraged to always specify the market. Specifying
          the market helps Bing route the request and return an appropriate and optimal
          response. If you specify a market that is not listed in [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#market-codes),
          Bing uses a best fit market code based on an internal mapping that is subject
          to change. This parameter and the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#cc)
          query parameter are mutually exclusiveu2014do not specify both.'
        required: false
        type: string
      - name: safeSearch
        x-ms-client-name: SafeSearch
        in: query
        description: 'Filter videos for adult content. The following are the possible
          filter values. Off: If the request is through the Video Search API, the
          response includes adult videos and the thumbnail images of the videos are
          clear (non-fuzzy). If the request is through the Web Search API, the response
          includes adult videos but the thumbnail images of the videos are pixelated
          (fuzzy). Moderate: If the request is through the Video Search API, the response
          does not include videos with adult content. If the request is through the
          Web Search API, the response may include videos with adult content but the
          thumbnail images of the videos are pixelated (fuzzy). Strict: Does not return
          videos with adult content. The default is Moderate. If the request comes
          from a market that Bing''s adult policy requires that safeSearch is set
          to Strict, Bing ignores the safeSearch value and uses Strict. If you use
          the site: query operator, there is the chance that the response may contain
          adult content regardless of what the safeSearch query parameter is set to.
          Use site: only if you are aware of the content on the site and your scenario
          supports the possibility of adult content.'
        required: false
        type: string
        enum:
        - "Off"
        - Moderate
        - Strict
        x-ms-enum:
          name: SafeSearch
          modelAsString: false
      - name: setLang
        x-ms-client-name: SetLang
        in: query
        description: The language to use for user interface strings. Specify the language
          using the ISO 639-1 2-letter language code. For example, the language code
          for English is EN. The default is EN (English). Although optional, you should
          always specify the language. Typically, you set setLang to the same language
          specified by mkt unless the user wants the user interface strings displayed
          in a different language. This parameter and the [Accept-Language](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#acceptlanguage)
          header are mutually exclusive; do not specify both. A user interface string
          is a string that's used as a label in a user interface. There are few user
          interface strings in the JSON response objects. Also, any links to Bing.com
          properties in the response objects apply the specified language.
        required: false
        type: string
      - name: textDecorations
        x-ms-client-name: TextDecorations
        in: query
        description: A Boolean value that determines whether display strings contain
          decoration markers such as hit highlighting characters. If true, the strings
          may include markers. The default is false. To specify whether to use Unicode
          characters or HTML tags as the markers, see the [textFormat](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#textformat)
          query parameter. For information about hit highlighting, see [Hit Highlighting](https://docs.microsoft.com/azure/cognitive-services/bing-news-search/hit-highlighting).
        required: false
        type: boolean
      - name: textFormat
        x-ms-client-name: TextFormat
        in: query
        description: The type of markers to use for text decorations (see the textDecorations
          query parameter). Possible values are Rawu2014Use Unicode characters to
          mark content that needs special formatting. The Unicode characters are in
          the range E000 through E019. For example, Bing uses E000 and E001 to mark
          the beginning and end of query terms for hit highlighting. HTMLu2014Use
          HTML tags to mark content that needs special formatting. For example, use
          <b> tags to highlight query terms in display strings. The default is Raw.
          For display strings that contain escapable HTML characters such as <, >,
          and &, if textFormat is set to HTML, Bing escapes the characters as appropriate
          (for example, < is escaped to &lt;).
        required: false
        type: string
        enum:
        - Raw
        - Html
        x-ms-enum:
          name: TextFormat
          modelAsString: false
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/TrendingVideos'
        default:
          description: An error has occurred. Check the response type and/or status
            code for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        Successful video trending:
          $ref: ./examples/SuccessfulVideoTrendingRequest.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":22:{s:6:\"Videos\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"Defines
  a video answer.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  list of video objects that are relevant to the query.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VideoObject\";}}s:10:\"nextOffset\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"scenario\";O:8:\"stdClass\":4:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"List\";i:1;s:19:\"SingleDominantVideo\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"VideoQueryScenario\";s:13:\"modelAsString\";b:0;}}s:15:\"queryExpansions\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}}s:16:\"pivotSuggestions\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PivotSuggestions\";}}}}s:19:\"SearchResultsAnswer\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Answer\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"totalEstimatedMatches\";O:8:\"stdClass\":4:{s:11:\"description\";s:150:\"The
  estimated number of webpages that are relevant to the query. Use this number along
  with the count and offset query parameters to page the results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:16:\"isFamilyFriendly\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}}}s:11:\"VideoObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Defines
  a video object that is relevant to the query.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MediaObject\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:18:\"motionThumbnailUrl\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"motionThumbnailId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"embedHtml\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"allowHttpsEmbed\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:9:\"viewCount\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}s:7:\"videoId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"allowMobileEmbed\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:12:\"isSuperfresh\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}}}s:5:\"Query\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Defines
  a search query.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"text\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  query string. Use this string as the query term in a new search request.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayText\";O:8:\"stdClass\":3:{s:11:\"description\";s:249:\"The
  display version of the query term. This version of the query term may contain special
  characters that highlight the search term found in the query string. The string
  contains the highlighting characters only if the query enabled hit highlighting\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"webSearchUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"The
  URL that takes the user to the Bing search results page for the query.Only related
  search results include this field.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"searchLink\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}}}s:16:\"PivotSuggestions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"pivot\";i:1;s:11:\"suggestions\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"pivot\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"suggestions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}}}}s:6:\"Answer\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"followUpQueries\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}}}}s:12:\"QueryContext\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Defines
  the query context that Bing used for the request.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:13:\"originalQuery\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"originalQuery\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  query string as specified in the request.\";s:4:\"type\";s:6:\"string\";}s:12:\"alteredQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:338:\"The
  query string used by Bing to perform the query. Bing uses the altered query string
  if the original query string contained spelling mistakes. For example, if the query
  string is \"saling downwind\", the altered query string will be \"sailing downwind\".
  This field is included only if the original query string contains a spelling mistake.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:23:\"alterationOverrideQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:335:\"The
  query string to use to force Bing to use the original string. For example, if the
  query string is \"saling downwind\", the override query string will be \"+saling
  downwind\". Remember to encode the query string which results in \"%2Bsaling+downwind\".
  This field is included only if the original query string contains a spelling mistake.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"adultIntent\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"A
  Boolean value that indicates whether the specified query has adult intent. The value
  is true if the query has adult intent; otherwise, false.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:18:\"askUserForLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:604:\"A
  Boolean value that indicates whether Bing requires the user's location to provide
  accurate results. If you specified the user's location by using the X-MSEdge-ClientIP
  and X-Search-Location headers, you can ignore this field. For location aware queries,
  such as \"today's weather\" or \"restaurants near me\" that need the user's location
  to provide accurate results, this field is set to true. For location aware queries
  that include the location (for example, \"Seattle weather\"), this field is set
  to false. This field is also set to false for queries that are not location aware,
  such as \"best sellers\".\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:15:\"isTransactional\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}}}s:11:\"MediaObject\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreativeWork\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"contentUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Original
  URL to retrieve the source (file) for the media object (e.g the source URL for the
  image).\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"hostPageUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"URL
  of the page that hosts the media object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  width of the source media object, in pixels.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"height\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  height of the source media object, in pixels.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:11:\"ImageObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Defines
  an image\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MediaObject\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"thumbnail\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  URL to a thumbnail of the image\";s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}}}s:8:\"Response\";O:8:\"stdClass\":4:{s:11:\"description\";s:105:\"Defines
  a response. All schemas that could be returned at the root of a response should
  inherit from this\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Identifiable\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"webSearchUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  URL To Bing's search result for this item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:5:\"Thing\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  name of the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  URL to get more information about the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  short description of the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"alternateName\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"bingId\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  ID that uniquely identifies this item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:12:\"CreativeWork\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"thumbnailUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  URL to a thumbnail of the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  source of the creative work.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:4:\"text\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:12:\"Identifiable\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Defines
  the identity of a resource.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResponseBase\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  String identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"The
  top-level response that represents a failed request.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"errors\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  list of errors that describe the reasons why the request failed.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}}s:14:\"TrendingVideos\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:11:\"bannerTiles\";i:1;s:10:\"categories\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"bannerTiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TrendingVideosTile\";}}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TrendingVideosCategory\";}}}}s:12:\"VideoDetails\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"relatedVideos\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/VideosModule\";s:8:\"readOnly\";b:1;}s:11:\"videoResult\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/VideoObject\";s:8:\"readOnly\";b:1;}}}s:12:\"ResponseBase\";O:8:\"stdClass\":4:{s:13:\"discriminator\";s:5:\"_type\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"_type\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Error\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Defines
  the error that occurred.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"code\";O:8:\"stdClass\":5:{s:11:\"description\";s:53:\"The
  error code that identifies the category of error.\";s:4:\"type\";s:6:\"string\";s:7:\"default\";s:4:\"None\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:11:\"ServerError\";i:2;s:14:\"InvalidRequest\";i:3;s:17:\"RateLimitExceeded\";i:4;s:20:\"InvalidAuthorization\";i:5;s:25:\"InsufficientAuthorization\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"ErrorCode\";s:13:\"modelAsString\";b:0;}}s:7:\"subCode\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"The
  error code that further helps to identify the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:11:{i:0;s:15:\"UnexpectedError\";i:1;s:13:\"ResourceError\";i:2;s:14:\"NotImplemented\";i:3;s:16:\"ParameterMissing\";i:4;s:21:\"ParameterInvalidValue\";i:5;s:14:\"HttpNotAllowed\";i:6;s:7:\"Blocked\";i:7;s:20:\"AuthorizationMissing\";i:8;s:23:\"AuthorizationRedundancy\";i:9;s:21:\"AuthorizationDisabled\";i:10;s:20:\"AuthorizationExpired\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"ErrorSubCode\";s:13:\"modelAsString\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  description of the error.\";s:4:\"type\";s:6:\"string\";}s:11:\"moreDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  description that provides additional information about the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  parameter in the request that caused the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  parameter's value in the request that was not valid.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:18:\"TrendingVideosTile\";O:8:\"stdClass\":4:{s:24:\"x-ms-discriminator-value\";s:19:\"TrendingVideos/Tile\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"query\";i:1;s:5:\"image\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";}}}s:22:\"TrendingVideosCategory\";O:8:\"stdClass\":4:{s:24:\"x-ms-discriminator-value\";s:23:\"TrendingVideos/Category\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"title\";i:1;s:13:\"subcategories\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"subcategories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/TrendingVideosSubcategory\";}}}}s:12:\"VideosModule\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VideoObject\";}}}}s:25:\"TrendingVideosSubcategory\";O:8:\"stdClass\":4:{s:24:\"x-ms-discriminator-value\";s:26:\"TrendingVideos/Subcategory\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"title\";i:1;s:5:\"tiles\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"tiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TrendingVideosTile\";}}}}}"
...
