---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:18:\"AutoSuggest Client\";s:11:\"description\";s:398:\"Autosuggest
  supplies search terms derived from a root text sent to the service.  The terms Autosuggest
  supplies are related to the root text based on similarity and their frequency or
  ratings of usefulness in other searches. For examples that show how to use Autosuggest,
  see [Search using AutoSuggest](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-autosuggest-api-v7-reference).\";s:7:\"version\";s:3:\"1.0\";}"
host: api.cognitive.microsoft.com
basePath: /bing/v7.0
paths:
  /Suggestions:
    get:
      summary: The AutoSuggest API lets you send a search query to Bing and get back
        a list of query suggestions. This section provides technical details about
        the query parameters and headers that you use to request suggestions and the
        JSON response objects that contain them.
      operationId: AutoSuggest
      tags:
      - AutoSuggest
      parameters:
      - $ref: '#/parameters/x-bingapis-sdk'
      - name: Accept
        in: header
        description: The default media type is application/json. To specify that the
          response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
        required: false
        type: string
      - name: Accept-Language
        x-ms-client-name: AcceptLanguage
        in: header
        description: A comma-delimited list of one or more languages to use for user
          interface strings. The list is in decreasing order of preference. For additional
          information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          This header and the setLang query parameter are mutually exclusive; do not
          specify both. If you set this header, you must also specify the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-autosuggest-api-v7-reference#cc)
          query parameter. To determine the market to return results for, Bing uses
          the first supported language it finds from the list and combines it with
          the cc parameter value. If the list does not include a supported language,
          Bing finds the closest language and market that supports the request or
          it uses an aggregated or default market for the results. To determine the
          market that Bing used, see the BingAPIs-Market header. Use this header and
          the cc query parameter only if you specify multiple languages. Otherwise,
          use the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-autosuggest-api-v7-reference#mkt)
          and [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-autosuggest-api-v7-reference#setlang)
          query parameters. A user interface string is a string that's used as a label
          in a user interface. There are few user interface strings in the JSON response
          objects. Any links to Bing.com properties in the response objects apply
          the specified language.
        required: false
        type: string
      - name: Pragma
        in: header
        description: 'By default, Bing returns cached content, if available. To prevent
          Bing from returning cached content, set the Pragma header to no-cache (for
          example, Pragma: no-cache).'
        required: false
        type: string
      - name: User-Agent
        x-ms-client-name: UserAgent
        in: header
        description: 'The user agent originating the request. Bing uses the user agent
          to provide mobile users with an optimized experience. Although optional,
          you are encouraged to always specify this header. The user-agent should
          be the same string that any commonly used browser sends. For information
          about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          The following are examples of user-agent strings. Windows Phone: Mozilla/5.0
          (compatible; MSIE 10.0; Windows Phone 8.0; Trident/6.0; IEMobile/10.0; ARM;
          Touch; NOKIA; Lumia 822). Android: Mozilla / 5.0 (Linux; U; Android 2.3.5;
          en - us; SCH - I500 Build / GINGERBREAD) AppleWebKit / 533.1 (KHTML; like
          Gecko) Version / 4.0 Mobile Safari / 533.1. iPhone: Mozilla / 5.0 (iPhone;
          CPU iPhone OS 6_1 like Mac OS X) AppleWebKit / 536.26 (KHTML; like Gecko)
          Mobile / 10B142 iPhone4; 1 BingWeb / 3.03.1428.20120423. PC: Mozilla / 5.0
          (Windows NT 6.3; WOW64; Trident / 7.0; Touch; rv:11.0) like Gecko. iPad:
          Mozilla / 5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit / 537.51.1 (KHTML,
          like Gecko) Version / 7.0 Mobile / 11A465 Safari / 9537.53'
        required: false
        type: string
      - name: X-MSEdge-ClientID
        x-ms-client-name: ClientId
        in: header
        description: 'Bing uses this header to provide users with consistent behavior
          across Bing API calls. Bing often flights new features and improvements,
          and it uses the client ID as a key for assigning traffic on different flights.
          If you do not use the same client ID for a user across multiple requests,
          then Bing may assign the user to multiple conflicting flights. Being assigned
          to multiple conflicting flights can lead to an inconsistent user experience.
          For example, if the second request has a different flight assignment than
          the first, the experience may be unexpected. Also, Bing can use the client
          ID to tailor web results to that client IDu2019s search history, providing
          a richer experience for the user. Bing also uses this header to help improve
          result rankings by analyzing the activity generated by a client ID. The
          relevance improvements help with better quality of results delivered by
          Bing APIs and in turn enables higher click-through rates for the API consumer.
          IMPORTANT: Although optional, you should consider this header required.
          Persisting the client ID across multiple requests for the same end user
          and device combination enables 1) the API consumer to receive a consistent
          user experience, and 2) higher click-through rates via better quality of
          results from the Bing APIs. Each user that uses your application on the
          device must have a unique, Bing generated client ID. If you do not include
          this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID
          response header. The only time that you should NOT include this header in
          a request is the first time the user uses your app on that device. Use the
          client ID for each Bing API request that your app makes for this user on
          the device. Persist the client ID. To persist the ID in a browser app, use
          a persistent HTTP cookie to ensure the ID is used across all sessions. Do
          not use a session cookie. For other apps such as mobile apps, use the device''s
          persistent storage to persist the ID. The next time the user uses your app
          on that device, get the client ID that you persisted. Bing responses may
          or may not include this header. If the response includes this header, capture
          the client ID and use it for all subsequent Bing requests for the user on
          that device. If you include the X-MSEdge-ClientID, you must not include
          cookies in the request.'
        required: false
        type: string
      - name: X-MSEdge-ClientIP
        x-ms-client-name: ClientIp
        in: header
        description: The IPv4 or IPv6 address of the client device. The IP address
          is used to discover the user's location. Bing uses the location information
          to determine safe search behavior. Although optional, you are encouraged
          to always specify this header and the X-Search-Location header. Do not obfuscate
          the address (for example, by changing the last octet to 0). Obfuscating
          the address results in the location not being anywhere near the device's
          actual location, which may result in Bing serving erroneous results.
        required: false
        type: string
      - name: X-Search-Location
        x-ms-client-name: Location
        in: header
        description: 'A semicolon-delimited list of key/value pairs that describe
          the client''s geographical location. Bing uses the location information
          to determine safe search behavior and to return relevant local content.
          Specify the key/value pair as <key>:<value>. The following are the keys
          that you use to specify the user''s location. lat (required): The latitude
          of the client''s location, in degrees. The latitude must be greater than
          or equal to -90.0 and less than or equal to +90.0. Negative values indicate
          southern latitudes and positive values indicate northern latitudes. long
          (required): The longitude of the client''s location, in degrees. The longitude
          must be greater than or equal to -180.0 and less than or equal to +180.0.
          Negative values indicate western longitudes and positive values indicate
          eastern longitudes. re (required): The radius, in meters, which specifies
          the horizontal accuracy of the coordinates. Pass the value returned by the
          device''s location service. Typical values might be 22m for GPS/Wi-Fi, 380m
          for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional):
          The UTC UNIX timestamp of when the client was at the location. (The UNIX
          timestamp is the number of seconds since January 1, 1970.) head (optional):
          The client''s relative heading or direction of travel. Specify the direction
          of travel as degrees from 0 through 360, counting clockwise relative to
          true north. Specify this key only if the sp key is nonzero. sp (optional):
          The horizontal velocity (speed), in meters per second, that the client device
          is traveling. alt (optional): The altitude of the client device, in meters.
          are (optional): The radius, in meters, that specifies the vertical accuracy
          of the coordinates. Specify this key only if you specify the alt key. Although
          many of the keys are optional, the more information that you provide, the
          more accurate the location results are. Although optional, you are encouraged
          to always specify the user''s geographical location. Providing the location
          is especially important if the client''s IP address does not accurately
          reflect the user''s physical location (for example, if the client uses VPN).
          For optimal results, you should include this header and the X-MSEdge-ClientIP
          header, but at a minimum, you should include this header.'
        required: false
        type: string
      - name: cc
        x-ms-client-name: CountryCode
        in: query
        description: A 2-character country code of the country where the results come
          from. This API supports only the United States market. If you specify this
          query parameter, it must be set to us. If you set this parameter, you must
          also specify the Accept-Language header. Bing uses the first supported language
          it finds from the languages list, and combine that language with the country
          code that you specify to determine the market to return results for. If
          the languages list does not include a supported language, Bing finds the
          closest language and market that supports the request, or it may use an
          aggregated or default market for the results instead of a specified one.
          You should use this query parameter and the Accept-Language query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. This parameter and the mkt query parameter
          are mutually exclusiveu2014do not specify both.
        required: false
        type: string
      - name: mkt
        x-ms-client-name: Market
        in: query
        description: The market where the results come from. You are strongly encouraged
          to always specify the market, if known. Specifying the market helps Bing
          route the request and return an appropriate and optimal response. This parameter
          and the cc query parameter are mutually exclusiveu2014do not specify both.
        required: false
        type: string
        default: en-us
      - name: q
        x-ms-client-name: Query
        in: query
        description: The user's search term.
        required: true
        type: string
      - name: safeSearch
        x-ms-client-name: SafeSearch
        in: query
        description: 'Filter suggestions for adult content. The following are the
          possible filter values. Off: Return suggestions with adult text, images,
          or videos. Moderate: Return suggestion with adult text but not adult images
          or videos. Strict: Do not return news articles with adult text, images,
          or videos. If the request comes from a market that Bing''s adult policy
          requires that safeSearch is set to Strict, Bing ignores the safeSearch value
          and uses Strict. If you use the site: query operator, there is the chance
          that the response may contain adult content regardless of what the safeSearch
          query parameter is set to. Use site: only if you are aware of the content
          on the site and your scenario supports the possibility of adult content.'
        required: false
        type: string
        enum:
        - "Off"
        - Moderate
        - Strict
        x-ms-enum:
          name: SafeSearch
          modelAsString: true
      - name: setLang
        x-ms-client-name: SetLang
        in: query
        description: The language to use for user interface strings. Specify the language
          using the ISO 639-1 2-letter language code. For example, the language code
          for English is EN. The default is EN (English). Although optional, you should
          always specify the language. Typically, you set setLang to the same language
          specified by mkt unless the user wants the user interface strings displayed
          in a different language. This parameter and the Accept-Language header are
          mutually exclusive; do not specify both. A user interface string is a string
          that's used as a label in a user interface. There are few user interface
          strings in the JSON response objects. Also, any links to Bing.com properties
          in the response objects apply the specified language.
        required: false
        type: string
      - name: ResponseFormat
        in: query
        description: 'The media type to use for the response. The following are the
          possible case-insensitive values: JSON, JSONLD. The default is JSON. If
          you specify JSONLD, the response body includes JSON-LD objects that contain
          the search results.'
        required: false
        type: array
        items:
          type: string
          enum:
          - Json
          - JsonLd
          x-ms-enum:
            name: ResponseFormat
            modelAsString: true
        collectionFormat: csv
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/Suggestions'
        default:
          description: An error has occurred. Check the response type and/or status
            code for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        Successful query:
          $ref: ./examples/SuccessfulQueryRequest.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":14:{s:11:\"Suggestions\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:16:\"suggestionGroups\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"suggestionGroups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/SuggestionsSuggestionGroup\";}}}}s:19:\"SearchResultsAnswer\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Defines
  a search result answer.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Answer\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"queryContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/QueryContext\";s:8:\"readOnly\";b:1;}}}s:26:\"SuggestionsSuggestionGroup\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:27:\"Suggestions/SuggestionGroup\";s:13:\"discriminator\";s:5:\"_type\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:17:\"searchSuggestions\";i:2;s:5:\"_type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"Unknown\";s:4:\"enum\";a:7:{i:0;s:7:\"Unknown\";i:1;s:3:\"Web\";i:2;s:9:\"StoreApps\";i:3;s:13:\"SearchHistory\";i:4;s:23:\"PersonalSearchDocuments\";i:5;s:18:\"PersonalSearchTags\";i:6;s:6:\"Custom\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"ScenarioType\";s:13:\"modelAsString\";b:1;}}s:17:\"searchSuggestions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SearchAction\";}}s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Answer\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Defines
  an answer.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:12:\"QueryContext\";O:8:\"stdClass\":5:{s:11:\"description\";s:57:\"Defines
  the query context that Bing used for the request.\";s:13:\"discriminator\";s:5:\"_type\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:13:\"originalQuery\";i:1;s:5:\"_type\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"originalQuery\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  query string as specified in the request.\";s:4:\"type\";s:6:\"string\";}s:12:\"alteredQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:338:\"The
  query string used by Bing to perform the query. Bing uses the altered query string
  if the original query string contained spelling mistakes. For example, if the query
  string is \"saling downwind\", the altered query string will be \"sailing downwind\".
  This field is included only if the original query string contains a spelling mistake.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:23:\"alterationOverrideQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:335:\"The
  query string to use to force Bing to use the original string. For example, if the
  query string is \"saling downwind\", the override query string will be \"+saling
  downwind\". Remember to encode the query string which results in \"%2Bsaling+downwind\".
  This field is included only if the original query string contains a spelling mistake.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"adultIntent\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"A
  Boolean value that indicates whether the specified query has adult intent. The value
  is true if the query has adult intent; otherwise, false.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:18:\"askUserForLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:604:\"A
  Boolean value that indicates whether Bing requires the user's location to provide
  accurate results. If you specified the user's location by using the X-MSEdge-ClientIP
  and X-Search-Location headers, you can ignore this field. For location aware queries,
  such as \"today's weather\" or \"restaurants near me\" that need the user's location
  to provide accurate results, this field is set to true. For location aware queries
  that include the location (for example, \"Seattle weather\"), this field is set
  to false. This field is also set to false for queries that are not location aware,
  such as \"best sellers\".\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:15:\"isTransactional\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"SearchAction\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Action\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayText\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"searchKind\";O:8:\"stdClass\":5:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:7:\"default\";s:9:\"WebSearch\";s:4:\"enum\";a:6:{i:0;s:9:\"WebSearch\";i:1;s:13:\"HistorySearch\";i:2;s:14:\"DocumentSearch\";i:3;s:9:\"TagSearch\";i:4;s:14:\"LocationSearch\";i:5;s:12:\"CustomSearch\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"SearchKind\";s:13:\"modelAsString\";b:1;}}}}s:8:\"Response\";O:8:\"stdClass\":4:{s:11:\"description\";s:105:\"Defines
  a response. All schemas that could be returned at the root of a response should
  inherit from this\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Identifiable\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"readLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  URL that returns this resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"webSearchUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  URL To Bing's search result for this item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"potentialAction\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Action\";}}s:15:\"immediateAction\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Action\";}}s:24:\"preferredClickthroughUrl\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"adaptiveCard\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:6:\"Action\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreativeWork\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"result\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:11:\"displayName\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"isTopAction\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:10:\"serviceUrl\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:12:\"Identifiable\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Defines
  the identity of a resource.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResponseBase\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  String identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"The
  top-level response that represents a failed request.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"errors\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  list of errors that describe the reasons why the request failed.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}}s:5:\"Thing\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Defines
  a thing.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  URL to get more information about the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:12:\"CreativeWork\";O:8:\"stdClass\":4:{s:11:\"description\";s:101:\"The
  most generic kind of creative work, including books, movies, photographs, software
  programs, etc.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:12:\"thumbnailUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  URL to a thumbnail of the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"about\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"For
  internal use only.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:8:\"mentions\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"For
  internal use only.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:8:\"provider\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  source of the creative work.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:7:\"creator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";s:8:\"readOnly\";b:1;}s:4:\"text\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Text
  content of this creative work\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"discussionUrl\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"commentCount\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"mainEntity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";s:8:\"readOnly\";b:1;}s:8:\"headLine\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"copyrightHolder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";s:8:\"readOnly\";b:1;}s:13:\"copyrightYear\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"disclaimer\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:19:\"isAccessibleForFree\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:5:\"genre\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:16:\"isFamilyFriendly\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}}}s:12:\"ResponseBase\";O:8:\"stdClass\":5:{s:11:\"description\";s:13:\"Response
  base\";s:13:\"discriminator\";s:5:\"_type\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"_type\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Error\";O:8:\"stdClass\":5:{s:11:\"description\";s:32:\"Defines
  the error that occurred.\";s:13:\"discriminator\";s:5:\"_type\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"code\";i:1;s:7:\"message\";i:2;s:5:\"_type\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"code\";O:8:\"stdClass\":5:{s:11:\"description\";s:53:\"The
  error code that identifies the category of error.\";s:4:\"type\";s:6:\"string\";s:7:\"default\";s:4:\"None\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:11:\"ServerError\";i:2;s:14:\"InvalidRequest\";i:3;s:17:\"RateLimitExceeded\";i:4;s:20:\"InvalidAuthorization\";i:5;s:25:\"InsufficientAuthorization\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"ErrorCode\";s:13:\"modelAsString\";b:1;}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  description of the error.\";s:4:\"type\";s:6:\"string\";}s:11:\"moreDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  description that provides additional information about the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  parameter in the request that caused the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  parameter's value in the request that was not valid.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
