---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:14:\"Web Search API\";s:11:\"description\";s:133:\"The
  Web Search API lets you send a search query to Bing and get back search results
  that include links to webpages, images, and more.\";s:7:\"version\";s:3:\"1.0\";}"
host: api.cognitive.microsoft.com
basePath: /bing/v7.0
paths:
  /search:
    get:
      summary: The Web Search API lets you send a search query to Bing and get back
        search results that include links to webpages, images, and more.
      operationId: Web_Search
      tags:
      - WebSearch
      parameters:
      - $ref: '#/parameters/x-bingapis-sdk'
      - name: Accept
        in: header
        description: The default media type is application/json. To specify that the
          response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
        required: false
        type: string
      - name: Accept-Language
        x-ms-client-name: AcceptLanguage
        in: header
        description: A comma-delimited list of one or more languages to use for user
          interface strings. The list is in decreasing order of preference. For additional
          information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          This header and the setLang query parameter are mutually exclusive; do not
          specify both. If you set this header, you must also specify the cc query
          parameter. Bing will use the first supported language it finds from the
          list, and combine that language with the cc parameter value to determine
          the market to return results for. If the list does not include a supported
          language, Bing will find the closest language and market that supports the
          request, and may use an aggregated or default market for the results instead
          of a specified one. You should use this header and the cc query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. A user interface string is a string that's
          used as a label in a user interface. There are very few user interface strings
          in the JSON response objects. Any links in the response objects to Bing.com
          properties will apply the specified language.
        required: false
        type: string
      - name: Pragma
        in: header
        description: 'By default, Bing returns cached content, if available. To prevent
          Bing from returning cached content, set the Pragma header to no-cache (for
          example, Pragma: no-cache).'
        required: false
        type: string
      - name: User-Agent
        x-ms-client-name: UserAgent
        in: header
        description: The user agent originating the request. Bing uses the user agent
          to provide mobile users with an optimized experience. Although optional,
          you are strongly encouraged to always specify this header. The user-agent
          should be the same string that any commonly used browser would send. For
          information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
        required: false
        type: string
      - name: X-MSEdge-ClientID
        x-ms-client-name: ClientId
        in: header
        description: 'Bing uses this header to provide users with consistent behavior
          across Bing API calls. Bing often flights new features and improvements,
          and it uses the client ID as a key for assigning traffic on different flights.
          If you do not use the same client ID for a user across multiple requests,
          then Bing may assign the user to multiple conflicting flights. Being assigned
          to multiple conflicting flights can lead to an inconsistent user experience.
          For example, if the second request has a different flight assignment than
          the first, the experience may be unexpected. Also, Bing can use the client
          ID to tailor web results to that client IDu2019s search history, providing
          a richer experience for the user. Bing also uses this header to help improve
          result rankings by analyzing the activity generated by a client ID. The
          relevance improvements help with better quality of results delivered by
          Bing APIs and in turn enables higher click-through rates for the API consumer.
          IMPORTANT: Although optional, you should consider this header required.
          Persisting the client ID across multiple requests for the same end user
          and device combination enables 1) the API consumer to receive a consistent
          user experience, and 2) higher click-through rates via better quality of
          results from the Bing APIs. Each user that uses your application on the
          device must have a unique, Bing generated client ID. If you do not include
          this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID
          response header. The only time that you should NOT include this header in
          a request is the first time the user uses your app on that device. Use the
          client ID for each Bing API request that your app makes for this user on
          the device. Persist the client ID. To persist the ID in a browser app, use
          a persistent HTTP cookie to ensure the ID is used across all sessions. Do
          not use a session cookie. For other apps such as mobile apps, use the device''s
          persistent storage to persist the ID. The next time the user uses your app
          on that device, get the client ID that you persisted. Bing responses may
          or may not include this header. If the response includes this header, capture
          the client ID and use it for all subsequent Bing requests for the user on
          that device. If you include the X-MSEdge-ClientID, you must not include
          cookies in the request.'
        required: false
        type: string
      - name: X-MSEdge-ClientIP
        x-ms-client-name: ClientIp
        in: header
        description: The IPv4 or IPv6 address of the client device. The IP address
          is used to discover the user's location. Bing uses the location information
          to determine safe search behavior. Although optional, you are encouraged
          to always specify this header and the X-Search-Location header. Do not obfuscate
          the address (for example, by changing the last octet to 0). Obfuscating
          the address results in the location not being anywhere near the device's
          actual location, which may result in Bing serving erroneous results.
        required: false
        type: string
      - name: X-Search-Location
        x-ms-client-name: Location
        in: header
        description: 'A semicolon-delimited list of key/value pairs that describe
          the client''s geographical location. Bing uses the location information
          to determine safe search behavior and to return relevant local content.
          Specify the key/value pair as <key>:<value>. The following are the keys
          that you use to specify the user''s location. lat (required): The latitude
          of the client''s location, in degrees. The latitude must be greater than
          or equal to -90.0 and less than or equal to +90.0. Negative values indicate
          southern latitudes and positive values indicate northern latitudes. long
          (required): The longitude of the client''s location, in degrees. The longitude
          must be greater than or equal to -180.0 and less than or equal to +180.0.
          Negative values indicate western longitudes and positive values indicate
          eastern longitudes. re (required): The radius, in meters, which specifies
          the horizontal accuracy of the coordinates. Pass the value returned by the
          device''s location service. Typical values might be 22m for GPS/Wi-Fi, 380m
          for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional):
          The UTC UNIX timestamp of when the client was at the location. (The UNIX
          timestamp is the number of seconds since January 1, 1970.) head (optional):
          The client''s relative heading or direction of travel. Specify the direction
          of travel as degrees from 0 through 360, counting clockwise relative to
          true north. Specify this key only if the sp key is nonzero. sp (optional):
          The horizontal velocity (speed), in meters per second, that the client device
          is traveling. alt (optional): The altitude of the client device, in meters.
          are (optional): The radius, in meters, that specifies the vertical accuracy
          of the coordinates. Specify this key only if you specify the alt key. Although
          many of the keys are optional, the more information that you provide, the
          more accurate the location results are. Although optional, you are encouraged
          to always specify the user''s geographical location. Providing the location
          is especially important if the client''s IP address does not accurately
          reflect the user''s physical location (for example, if the client uses VPN).
          For optimal results, you should include this header and the X-MSEdge-ClientIP
          header, but at a minimum, you should include this header.'
        required: false
        type: string
      - name: answerCount
        x-ms-client-name: AnswerCount
        in: query
        description: The number of answers that you want the response to include.
          The answers that Bing returns are based on ranking. For example, if Bing
          returns webpages, images, videos, and relatedSearches for a request and
          you set this parameter to two (2), the response includes webpages and images.If
          you included the responseFilter query parameter in the same request and
          set it to webpages and news, the response would include only webpages.
        required: false
        type: integer
        format: int32
      - name: cc
        x-ms-client-name: CountryCode
        in: query
        description: A 2-character country code of the country where the results come
          from. This API supports only the United States market. If you specify this
          query parameter, it must be set to us. If you set this parameter, you must
          also specify the Accept-Language header. Bing uses the first supported language
          it finds from the languages list, and combine that language with the country
          code that you specify to determine the market to return results for. If
          the languages list does not include a supported language, Bing finds the
          closest language and market that supports the request, or it may use an
          aggregated or default market for the results instead of a specified one.
          You should use this query parameter and the Accept-Language query parameter
          only if you specify multiple languages; otherwise, you should use the mkt
          and setLang query parameters. This parameter and the mkt query parameter
          are mutually exclusiveu2014do not specify both.
        required: false
        type: string
      - name: count
        x-ms-client-name: Count
        in: query
        description: The number of search results to return in the response. The default
          is 10 and the maximum value is 50. The actual number delivered may be less
          than requested.Use this parameter along with the offset parameter to page
          results.For example, if your user interface displays 10 search results per
          page, set count to 10 and offset to 0 to get the first page of results.
          For each subsequent page, increment offset by 10 (for example, 0, 10, 20).
          It is possible for multiple pages to include some overlap in results.
        required: false
        type: integer
        format: int32
      - name: freshness
        x-ms-client-name: Freshness
        in: query
        description: 'Filter search results by the following age values: Dayu2014Return
          webpages that Bing discovered within the last 24 hours. Weeku2014Return
          webpages that Bing discovered within the last 7 days. Monthu2014Return webpages
          that discovered within the last 30 days. This filter applies only to webpage
          results and not to the other results such as news and images.'
        required: false
        type: string
        enum:
        - Day
        - Week
        - Month
        x-ms-enum:
          name: Freshness
          modelAsString: true
      - name: mkt
        x-ms-client-name: Market
        in: query
        description: The market where the results come from. Typically, mkt is the
          country where the user is making the request from. However, it could be
          a different country if the user is not located in a country where Bing delivers
          results. The market must be in the form <language code>-<country code>.
          For example, en-US. The string is case insensitive. If known, you are encouraged
          to always specify the market. Specifying the market helps Bing route the
          request and return an appropriate and optimal response. If you specify a
          market that is not listed in Market Codes, Bing uses a best fit market code
          based on an internal mapping that is subject to change. This parameter and
          the cc query parameter are mutually exclusiveu2014do not specify both.
        required: false
        type: string
        default: en-us
      - name: offset
        x-ms-client-name: Offset
        in: query
        description: The zero-based offset that indicates the number of search results
          to skip before returning results. The default is 0. The offset should be
          less than (totalEstimatedMatches - count). Use this parameter along with
          the count parameter to page results. For example, if your user interface
          displays 10 search results per page, set count to 10 and offset to 0 to
          get the first page of results. For each subsequent page, increment offset
          by 10 (for example, 0, 10, 20). it is possible for multiple pages to include
          some overlap in results.
        required: false
        type: integer
        format: int32
      - name: promote
        x-ms-client-name: Promote
        in: query
        description: A comma-delimited list of answers that you want the response
          to include regardless of their ranking. For example, if you set answerCount)
          to two (2) so Bing returns the top two ranked answers, but you also want
          the response to include news, you'd set promote to news. If the top ranked
          answers are webpages, images, videos, and relatedSearches, the response
          includes webpages and images because news is not a ranked answer. But if
          you set promote to video, Bing would promote the video answer into the response
          and return webpages, images, and videos. The answers that you want to promote
          do not count against the answerCount limit. For example, if the ranked answers
          are news, images, and videos, and you set answerCount to 1 and promote to
          news, the response contains news and images. Or, if the ranked answers are
          videos, images, and news, the response contains videos and news. Possible
          values are Computation, Images, News, RelatedSearches, SpellSuggestions,
          TimeZone, Videos, Webpages. Use only if you specify answerCount.
        required: false
        type: array
        items:
          type: string
          enum:
          - WebPages
          - Images
          - SpellSuggestions
          - News
          - RelatedSearches
          - Videos
          - Computation
          - TimeZone
          x-ms-enum:
            name: AnswerType
            modelAsString: true
        collectionFormat: csv
      - name: q
        x-ms-client-name: Query
        in: query
        description: 'The user''s search query term. The term may not be empty. The
          term may contain Bing Advanced Operators. For example, to limit results
          to a specific domain, use the site: operator.'
        required: true
        type: string
      - name: responseFilter
        x-ms-client-name: ResponseFilter
        in: query
        description: A comma-delimited list of answers to include in the response.
          If you do not specify this parameter, the response includes all search answers
          for which there's relevant data. Possible filter values are Computation,
          Images, News, RelatedSearches, SpellSuggestions, TimeZone, Videos, Webpages.
          Although you may use this filter to get a single answer, you should instead
          use the answer-specific endpoint in order to get richer results. For example,
          to receive only images, send the request to one of the Image Search API
          endpoints. The RelatedSearches and SpellSuggestions answers do not support
          a separate endpoint like the Image Search API does (only the Web Search
          API returns them). To include answers that would otherwise be excluded because
          of ranking, see the promote query parameter.
        required: false
        type: array
        items:
          type: string
          enum:
          - WebPages
          - Images
          - SpellSuggestions
          - News
          - RelatedSearches
          - Videos
          - Computation
          - TimeZone
          x-ms-enum:
            name: AnswerType
            modelAsString: true
        collectionFormat: csv
      - name: safeSearch
        x-ms-client-name: SafeSearch
        in: query
        description: 'A filter used to filter adult content. Off: Return webpages
          with adult text, images, or videos. Moderate: Return webpages with adult
          text, but not adult images or videos. Strict: Do not return webpages with
          adult text, images, or videos. The default is Moderate. If the request comes
          from a market that Bing''s adult policy requires that safeSearch is set
          to Strict, Bing ignores the safeSearch value and uses Strict. If you use
          the site: query operator, there is the chance that the response may contain
          adult content regardless of what the safeSearch query parameter is set to.
          Use site: only if you are aware of the content on the site and your scenario
          supports the possibility of adult content.'
        required: false
        type: string
        enum:
        - "Off"
        - Moderate
        - Strict
        x-ms-enum:
          name: SafeSearch
          modelAsString: true
      - name: setLang
        x-ms-client-name: SetLang
        in: query
        description: The language to use for user interface strings. Specify the language
          using the ISO 639-1 2-letter language code. For example, the language code
          for English is EN. The default is EN (English). Although optional, you should
          always specify the language. Typically, you set setLang to the same language
          specified by mkt unless the user wants the user interface strings displayed
          in a different language. This parameter and the Accept-Language header are
          mutually exclusive; do not specify both. A user interface string is a string
          that's used as a label in a user interface. There are few user interface
          strings in the JSON response objects. Also, any links to Bing.com properties
          in the response objects apply the specified language.
        required: false
        type: string
      - name: textDecorations
        x-ms-client-name: TextDecorations
        in: query
        description: A Boolean value that determines whether display strings should
          contain decoration markers such as hit highlighting characters. If true,
          the strings may include markers. The default is false. To specify whether
          to use Unicode characters or HTML tags as the markers, see the textFormat
          query parameter.
        required: false
        type: boolean
      - name: textFormat
        x-ms-client-name: TextFormat
        in: query
        description: The type of markers to use for text decorations (see the textDecorations
          query parameter). Possible values are Rawu2014Use Unicode characters to
          mark content that needs special formatting. The Unicode characters are in
          the range E000 through E019. For example, Bing uses E000 and E001 to mark
          the beginning and end of query terms for hit highlighting. HTMLu2014Use
          HTML tags to mark content that needs special formatting. For example, use
          <b> tags to highlight query terms in display strings. The default is Raw.
          For display strings that contain escapable HTML characters such as <, >,
          and &, if textFormat is set to HTML, Bing escapes the characters as appropriate
          (for example, < is escaped to &lt;).
        required: false
        type: string
        enum:
        - Raw
        - Html
        x-ms-enum:
          name: TextFormat
          modelAsString: true
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/SearchResponse'
        default:
          description: An error has occurred. Check the response type and/or status
            code for more details.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        Successful query:
          $ref: ./examples//SuccessfulQueryRequest.json
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":35:{s:14:\"SearchResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"Defines
  the top-level object that the response includes when the request succeeds.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"queryContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:257:\"An
  object that contains the query string that Bing used for the request. This object
  contains the query string as entered by the user. It may also contain an altered
  query string that Bing used for the query if the query string contained a spelling
  mistake.\";s:4:\"$ref\";s:26:\"#/definitions/QueryContext\";s:8:\"readOnly\";b:1;}s:8:\"webPages\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"A
  list of webpages that are relevant to the search query.\";s:4:\"$ref\";s:26:\"#/definitions/WebWebAnswer\";s:8:\"readOnly\";b:1;}s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  list of images that are relevant to the search query.\";s:4:\"$ref\";s:20:\"#/definitions/Images\";s:8:\"readOnly\";b:1;}s:4:\"news\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  list of news articles that are relevant to the search query.\";s:4:\"$ref\";s:18:\"#/definitions/News\";s:8:\"readOnly\";b:1;}s:15:\"relatedSearches\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  list of related queries made by others.\";s:4:\"$ref\";s:48:\"#/definitions/RelatedSearchesRelatedSearchAnswer\";s:8:\"readOnly\";b:1;}s:16:\"spellSuggestions\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  query string that likely represents the user's intent.\";s:4:\"$ref\";s:30:\"#/definitions/SpellSuggestions\";s:8:\"readOnly\";b:1;}s:8:\"timeZone\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  date and time of one or more geographic locations.\";s:4:\"$ref\";s:22:\"#/definitions/TimeZone\";s:8:\"readOnly\";b:1;}s:6:\"videos\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  list of videos that are relevant to the search query.\";s:4:\"$ref\";s:20:\"#/definitions/Videos\";s:8:\"readOnly\";b:1;}s:11:\"computation\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  answer to a math expression or units conversion expression.\";s:4:\"$ref\";s:25:\"#/definitions/Computation\";s:8:\"readOnly\";b:1;}s:15:\"rankingResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  order that Bing suggests that you display the search results in.\";s:4:\"$ref\";s:36:\"#/definitions/RankingRankingResponse\";s:8:\"readOnly\";b:1;}}}s:8:\"Response\";O:8:\"stdClass\":4:{s:11:\"description\";s:105:\"Defines
  a response. All schemas that could be returned at the root of a response should
  inherit from this\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Identifiable\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"webSearchUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  URL To Bing's search result for this item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:12:\"QueryContext\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Defines
  the query context that Bing used for the request.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:13:\"originalQuery\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"originalQuery\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  query string as specified in the request.\";s:4:\"type\";s:6:\"string\";}s:12:\"alteredQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:338:\"The
  query string used by Bing to perform the query. Bing uses the altered query string
  if the original query string contained spelling mistakes. For example, if the query
  string is \"saling downwind\", the altered query string will be \"sailing downwind\".
  This field is included only if the original query string contains a spelling mistake.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:23:\"alterationOverrideQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:335:\"The
  query string to use to force Bing to use the original string. For example, if the
  query string is \"saling downwind\", the override query string will be \"+saling
  downwind\". Remember to encode the query string which results in \"%2Bsaling+downwind\".
  This field is included only if the original query string contains a spelling mistake.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"adultIntent\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"A
  Boolean value that indicates whether the specified query has adult intent. The value
  is true if the query has adult intent; otherwise, false.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:18:\"askUserForLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:604:\"A
  Boolean value that indicates whether Bing requires the user's location to provide
  accurate results. If you specified the user's location by using the X-MSEdge-ClientIP
  and X-Search-Location headers, you can ignore this field. For location aware queries,
  such as \"today's weather\" or \"restaurants near me\" that need the user's location
  to provide accurate results, this field is set to true. For location aware queries
  that include the location (for example, \"Seattle weather\"), this field is set
  to false. This field is also set to false for queries that are not location aware,
  such as \"best sellers\".\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:15:\"isTransactional\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}}}s:12:\"WebWebAnswer\";O:8:\"stdClass\":6:{s:11:\"description\";s:41:\"Defines
  a list of relevant webpage links.\";s:24:\"x-ms-discriminator-value\";s:13:\"Web/WebAnswer\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"A
  list of webpages that are relevant to the query.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/WebPage\";}}s:18:\"someResultsRemoved\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"A
  Boolean value that indicates whether the response excluded some results from the
  answer. If Bing excluded some results, the value is true.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}}}s:6:\"Images\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"Defines
  an image answer\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"nextOffset\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"A
  list of image objects that are relevant to the query. If there are no results, the
  List is empty.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";}}s:15:\"queryExpansions\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}}s:12:\"similarTerms\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}}s:15:\"relatedSearches\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}}}}s:4:\"News\";O:8:\"stdClass\":5:{s:11:\"description\";s:22:\"Defines
  a news answer.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"An
  array of NewsArticle objects that contain information about news articles that are
  relevant to the query. If there are no results to return for the request, the array
  is empty.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/NewsArticle\";}}s:8:\"location\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:6:\"Places\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"Defines
  a local entity answer.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  list of local entities, such as restaurants or hotels.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}}}s:34:\"RelatedSearchesRelatedSearchAnswer\";O:8:\"stdClass\":6:{s:11:\"description\";s:49:\"Defines
  a list of related queries made by others.\";s:24:\"x-ms-discriminator-value\";s:35:\"RelatedSearches/RelatedSearchAnswer\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"A
  list of related queries that were made by others.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}}}}s:16:\"SpellSuggestions\";O:8:\"stdClass\":5:{s:11:\"description\";s:384:\"Defines
  a suggested query string that likely represents the user's intent. The search results
  include this response if Bing determines that the user may have intended to search
  for something different. For example, if the user searches for alon brown, Bing
  may determine that the user likely intended to search for Alton Brown instead (based
  on past searches by others of Alon Brown).\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"A
  list of suggested query strings that may represent the user's intention. The list
  contains only one Query object.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}}}}s:8:\"TimeZone\";O:8:\"stdClass\":5:{s:11:\"description\";s:62:\"Defines
  the data and time of one or more geographic locations.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:15:\"primaryCityTime\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"primaryCityTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:610:\"The
  data and time, in UTC, of the geographic location specified in the query. If the
  query specified a specific geographic location (for example, a city), this object
  contains the name of the geographic location and the current date and time of the
  location, in UTC. If the query specified a general geographic location, such as
  a state or country, this object contains the date and time of the primary city or
  state found in the specified state or country. If the location contains additional
  time zones, the otherCityTimes field contains the data and time of cities or states
  located in the other time zones.\";s:4:\"$ref\";s:41:\"#/definitions/TimeZoneTimeZoneInformation\";}s:14:\"otherCityTimes\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"A
  list of dates and times of nearby time zones.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/TimeZoneTimeZoneInformation\";}}}}s:6:\"Videos\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"Defines
  a video answer.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SearchResultsAnswer\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  list of video objects that are relevant to the query.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VideoObject\";}}s:10:\"nextOffset\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"queryExpansions\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}}s:15:\"relatedSearches\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}}}}s:11:\"Computation\";O:8:\"stdClass\":5:{s:11:\"description\";s:36:\"Defines
  an expression and its answer\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Answer\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"expression\";i:1;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"expression\";O:8:\"stdClass\":2:{s:11:\"description\";s:766:\"The
  math or conversion expression. If the query contains a request to convert units
  of measure (for example, meters to feet), this field contains the from units and
  value contains the to units. If the query contains a mathematical expression such
  as 2+2, this field contains the expression and value contains the answer. Note that
  mathematical expressions may be normalized. For example, if the query was sqrt(4^2+8^2),
  the normalized expression may be sqrt((4^2)+(8^2)). If the user's query is a math
  question and the textDecorations query parameter is set to true, the expression
  string may include formatting markers. For example, if the user's query is log(2),
  the normalized expression includes the subscript markers. For more information,
  see Hit Highlighting.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  expression's answer.\";s:4:\"type\";s:6:\"string\";}}}s:19:\"SearchResultsAnswer\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Answer\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"queryContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/QueryContext\";s:8:\"readOnly\";b:1;}s:21:\"totalEstimatedMatches\";O:8:\"stdClass\":4:{s:11:\"description\";s:150:\"The
  estimated number of webpages that are relevant to the query. Use this number along
  with the count and offset query parameters to page the results.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:16:\"isFamilyFriendly\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}}}s:22:\"RankingRankingResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"Defines
  where on the search results page content should be placed and in what order.\";s:24:\"x-ms-discriminator-value\";s:23:\"Ranking/RankingResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"pole\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"The
  search results that should be afforded the most visible treatment (for example,
  displayed above the mainline and sidebar).\";s:4:\"$ref\";s:33:\"#/definitions/RankingRankingGroup\";s:8:\"readOnly\";b:1;}s:8:\"mainline\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  search results to display in the mainline.\";s:4:\"$ref\";s:33:\"#/definitions/RankingRankingGroup\";s:8:\"readOnly\";b:1;}s:7:\"sidebar\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  search results to display in the sidebar.\";s:4:\"$ref\";s:33:\"#/definitions/RankingRankingGroup\";s:8:\"readOnly\";b:1;}}}s:12:\"Identifiable\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Defines
  the identity of a resource.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResponseBase\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  String identifier.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:6:\"Answer\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"followUpQueries\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"The
  top-level response that represents a failed request.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"errors\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  list of errors that describe the reasons why the request failed.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}}s:5:\"Thing\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  name of the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  URL to get more information about the thing represented by this object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  short description of the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"bingId\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  ID that uniquely identifies this item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:11:\"ImageObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Defines
  an image\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MediaObject\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"thumbnail\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  URL to a thumbnail of the image\";s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}}}s:7:\"WebPage\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Defines
  a webpage that is relevant to the query.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreativeWork\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"displayUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  display URL of the webpage. The URL is meant for display purposes only and is not
  well formed.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"snippet\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"A
  snippet of text from the webpage that describes its contents.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"deepLinks\";O:8:\"stdClass\":4:{s:11:\"description\";s:192:\"A
  list of links to related content that Bing found in the website that contains this
  webpage. The Webpage object in this context includes only the name, url, urlPingSuffix,
  and snippet fields.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/WebPage\";}}s:15:\"dateLastCrawled\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"The
  last time that Bing crawled the webpage. The date is in the form, YYYY-MM-DDTHH:MM:SS.
  For example, 2015-04-13T05:23:39.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"searchTags\";O:8:\"stdClass\":4:{s:11:\"description\";s:289:\"A
  list of search tags that the webpage owner specified on the webpage. The API returns
  only indexed search tags. The name field of the MetaTag object contains the indexed
  search tag. Search tags begin with search.* (for example, search.assetId). The content
  field contains the tag's value.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/WebMetaTag\";}}s:18:\"primaryImageOfPage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}}}s:5:\"Query\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Defines
  a search query.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"text\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  query string. Use this string as the query term in a new search request.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayText\";O:8:\"stdClass\":3:{s:11:\"description\";s:249:\"The
  display version of the query term. This version of the query term may contain special
  characters that highlight the search term found in the query string. The string
  contains the highlighting characters only if the query enabled hit highlighting\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"webSearchUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"The
  URL that takes the user to the Bing search results page for the query.Only related
  search results include this field.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"searchLink\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}}}s:11:\"NewsArticle\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Defines
  a news article.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Article\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:27:\"TimeZoneTimeZoneInformation\";O:8:\"stdClass\":5:{s:11:\"description\";s:52:\"Defines
  a date and time for a geographical location.\";s:24:\"x-ms-discriminator-value\";s:28:\"TimeZone/TimeZoneInformation\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:8:\"location\";i:1;s:4:\"time\";i:2;s:9:\"utcOffset\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"The
  name of the geographical location.For example, County; City; City, State; City,
  State, Country; or Time Zone.\";s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  data and time specified in the form, YYYY-MM-DDThh;mm:ss.ssssssZ.\";s:4:\"type\";s:6:\"string\";}s:9:\"utcOffset\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  offset from UTC. For example, UTC-7.\";s:4:\"type\";s:6:\"string\";}}}s:11:\"VideoObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Defines
  a video object that is relevant to the query.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MediaObject\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:18:\"motionThumbnailUrl\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"motionThumbnailId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"embedHtml\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"allowHttpsEmbed\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:9:\"viewCount\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageObject\";s:8:\"readOnly\";b:1;}s:7:\"videoId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"allowMobileEmbed\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:12:\"isSuperfresh\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}}}s:14:\"WebWebGrouping\";O:8:\"stdClass\":5:{s:24:\"x-ms-discriminator-value\";s:15:\"Web/WebGrouping\";s:13:\"discriminator\";s:5:\"_type\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:8:\"webPages\";i:1;s:5:\"_type\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"webPages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/WebPage\";}}s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"RankingRankingGroup\";O:8:\"stdClass\":5:{s:11:\"description\";s:49:\"Defines
  a search results group, such as mainline.\";s:24:\"x-ms-discriminator-value\";s:20:\"Ranking/RankingGroup\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"items\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"A
  list of search result items to display in the group.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RankingRankingItem\";}}}}s:12:\"ResponseBase\";O:8:\"stdClass\":4:{s:13:\"discriminator\";s:5:\"_type\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"_type\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Error\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Defines
  the error that occurred.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"code\";O:8:\"stdClass\":5:{s:11:\"description\";s:53:\"The
  error code that identifies the category of error.\";s:4:\"type\";s:6:\"string\";s:7:\"default\";s:4:\"None\";s:4:\"enum\";a:6:{i:0;s:4:\"None\";i:1;s:11:\"ServerError\";i:2;s:14:\"InvalidRequest\";i:3;s:17:\"RateLimitExceeded\";i:4;s:20:\"InvalidAuthorization\";i:5;s:25:\"InsufficientAuthorization\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"ErrorCode\";s:13:\"modelAsString\";b:1;}}s:7:\"subCode\";O:8:\"stdClass\":5:{s:11:\"description\";s:56:\"The
  error code that further helps to identify the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:11:{i:0;s:15:\"UnexpectedError\";i:1;s:13:\"ResourceError\";i:2;s:14:\"NotImplemented\";i:3;s:16:\"ParameterMissing\";i:4;s:21:\"ParameterInvalidValue\";i:5;s:14:\"HttpNotAllowed\";i:6;s:7:\"Blocked\";i:7;s:20:\"AuthorizationMissing\";i:8;s:23:\"AuthorizationRedundancy\";i:9;s:21:\"AuthorizationDisabled\";i:10;s:20:\"AuthorizationExpired\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"ErrorSubCode\";s:13:\"modelAsString\";b:1;}}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  description of the error.\";s:4:\"type\";s:6:\"string\";}s:11:\"moreDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  description that provides additional information about the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  parameter in the request that caused the error.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  parameter's value in the request that was not valid.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:12:\"CreativeWork\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"thumbnailUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  URL to a thumbnail of the item.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  source of the creative work.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:4:\"text\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:10:\"Intangible\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Thing\";}}s:4:\"type\";s:6:\"object\";}s:11:\"MediaObject\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreativeWork\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"contentUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Original
  URL to retrieve the source (file) for the media object (e.g the source URL for the
  image).\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"hostPageUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"URL
  of the page that hosts the media object.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  width of the source media object, in pixels.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"height\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  height of the source media object, in pixels.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:10:\"WebMetaTag\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Defines
  a webpage's metadata.\";s:24:\"x-ms-discriminator-value\";s:11:\"Web/MetaTag\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  metadata.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  name of the metadata.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}}s:7:\"Article\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreativeWork\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"wordCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  number of words in the text of the Article.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:18:\"RankingRankingItem\";O:8:\"stdClass\":5:{s:11:\"description\";s:39:\"Defines
  a search result item to display\";s:24:\"x-ms-discriminator-value\";s:19:\"Ranking/RankingItem\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"answerType\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"answerType\";O:8:\"stdClass\":5:{s:11:\"description\";s:155:\"The
  answer that contains the item to display. Use the type to find the answer in the
  SearchResponse object. The type is the name of a SearchResponse field.\";s:4:\"type\";s:6:\"string\";s:7:\"default\";s:8:\"WebPages\";s:4:\"enum\";a:8:{i:0;s:8:\"WebPages\";i:1;s:6:\"Images\";i:2;s:16:\"SpellSuggestions\";i:3;s:4:\"News\";i:4;s:15:\"RelatedSearches\";i:5;s:6:\"Videos\";i:6;s:11:\"Computation\";i:7;s:8:\"TimeZone\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"AnswerType\";s:13:\"modelAsString\";b:1;}}s:11:\"resultIndex\";O:8:\"stdClass\":4:{s:11:\"description\";s:177:\"A
  zero-based index of the item in the answer.If the item does not include this field,
  display all items in the answer. For example, display all news articles in the News
  answer.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"The
  ID that identifies either an answer to display or an item of an answer to display.
  If the ID identifies an answer, display all items of the answer.\";s:4:\"$ref\";s:26:\"#/definitions/Identifiable\";s:8:\"readOnly\";b:1;}s:9:\"htmlIndex\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"textualIndex\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"screenshotIndex\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:15:\"StructuredValue\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Intangible\";}}s:4:\"type\";s:6:\"object\";}}"
...
