---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"This is a NBSO
  Wordpress server\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:13:\"Wordpress
  API\";s:14:\"termsOfService\";s:18:\"http://wavelabs.in\";}"
host: wavelabs.in
basePath: /wp-json
paths:
  /wp/v2/categories:
    get:
      tags:
      - module:wordpress.Category
      summary: Get list of categories of Blog
      description: ""
      operationId: category
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: per_page
        description: No of Categories Count per request
        required: false
        type: number
      responses:
        405:
          description: Invalid input
      security:
      - Bearer: []
  /wp/v2/posts:
    get:
      tags:
      - module:wordpress.CategoryPost
      summary: Get Category Post
      description: ""
      operationId: categoryPost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: filter[category_name]
        description: Category Name
        required: false
        type: string
      - in: query
        name: filter[cat]
        description: Category Id
        required: false
        type: number
      responses:
        400:
          description: Invalid ID supplied
        404:
          description: Post not found
  /wp/v2/posts?:
    get:
      tags:
      - module:wordpress.posts
      summary: Get  Post
      description: ""
      operationId: allPost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: per_page
        description: Page size
        required: false
        type: number
      - in: query
        name: page
        description: Page Number
        required: false
        type: number
      responses:
        400:
          description: Invalid ID supplied
        404:
          description: Post not found
  /wp/v2/posts?q:
    get:
      tags:
      - module:wordpress.search
      summary: Search all Posts
      description: Search post by keyword
      operationId: searchPost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: search
        description: Search Keyword
        required: false
        type: string
      responses:
        400:
          description: Invalid ID supplied
        404:
          description: Post not found
  /wp/v2/posts/postID:
    get:
      tags:
      - module:wordpress.post
      summary: Get single Post
      description: Get post by Id
      operationId: singlePost
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: successful operation
        400:
          description: Invalid status value
schemes:
- http
...
