---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"This is API documentation
  for Oktagon E-Commerce Projects\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:7:\"Oktagon\";}"
host: api-oktagon.stagingapps.net
basePath: /core/api/v1
paths: ~
produces:
- application/json
definitions: !php/object "O:8:\"stdClass\":174:{s:14:\"BannerIndexAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BannerIndex\";}}}}s:11:\"BannerIndex\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"BannerShowAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:24:\"#/definitions/BannerShow\";}}}s:10:\"BannerShow\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"banner_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"BannerSaveRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"banner_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"BannerSaveAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/BannerSave\";}}}s:10:\"BannerSave\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"banner_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"BannerUpdateRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"banner_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"BannerUpdateAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BannerUpdate\";}}}s:12:\"BannerUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"banner_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"BannerDeleteRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"BannerDeleteAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:18:\"BannertypeIndexAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BannertypeIndex\";}}}}s:15:\"BannertypeIndex\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"BannertypeSaveRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"BannertypeSaveAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:28:\"#/definitions/BannertypeSave\";}}}s:14:\"BannertypeSave\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"BannertypeShowAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:28:\"#/definitions/BannertypeShow\";}}}s:14:\"BannertypeShow\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"BannertypeUpdateRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"BannertypeUpdateAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:30:\"#/definitions/BannertypeUpdate\";}}}s:16:\"BannertypeUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"BannertypeDeleteRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"BannertypeDeleteAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"PageIndexAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/PageIndex\";}}}}s:9:\"PageIndex\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"page_category_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"PageShowAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:22:\"#/definitions/PageShow\";}}}s:8:\"PageShow\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"page_category_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"PageSaveRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"page_category_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"PageSaveAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/PageSave\";}}}s:8:\"PageSave\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"page_category_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"PageUpdateRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"page_category_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"PageUpdateAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PageUpdate\";}}}s:10:\"PageUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"page_category_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"PageDeleteRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"PageDeleteAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:22:\"pageCategoriesIndexAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/pageCategoriesIndex\";}}}}s:19:\"pageCategoriesIndex\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"pageCategoriesShowAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:32:\"#/definitions/pageCategoriesShow\";}}}s:18:\"pageCategoriesShow\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:25:\"pageCategoriesSaveRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"pageCategoriesSaveAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/pageCategoriesSave\";}}}s:18:\"pageCategoriesSave\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:27:\"pageCategoriesUpdateRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"pageCategoriesUpdateAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/pageCategoriesUpdate\";}}}s:20:\"pageCategoriesUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:27:\"pageCategoriesDeleteRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"pageCategoriesDeleteAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:24:\"newsletterEmailsIndexAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/newsletterEmailsIndex\";}}}}s:21:\"newsletterEmailsIndex\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:23:\"newsletterEmailsShowAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:34:\"#/definitions/newsletterEmailsShow\";}}}s:20:\"newsletterEmailsShow\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:27:\"newsletterEmailsSaveRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:23:\"newsletterEmailsSaveAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/newsletterEmailsSave\";}}}s:20:\"newsletterEmailsSave\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:29:\"newsletterEmailsUpdateRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:25:\"newsletterEmailsUpdateAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/newsletterEmailsUpdate\";}}}s:22:\"newsletterEmailsUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:29:\"newsletterEmailsDeleteRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:25:\"newsletterEmailsDeleteAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"MenuIndexAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/MenuIndex\";}}}}s:9:\"MenuIndex\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"parent_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:11:\"MenuShowAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:22:\"#/definitions/MenuShow\";}}}s:8:\"MenuShow\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"parent_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"MenuSaveRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"parent_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:11:\"MenuSaveAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/MenuSave\";}}}s:8:\"MenuSave\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"parent_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"MenuUpdateRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"parent_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:13:\"MenuUpdateAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MenuUpdate\";}}}s:10:\"MenuUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"parent_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"MenuDeleteRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"MenuDeleteAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:15:\"ProductIndexAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ProductIndex\";}}}}s:12:\"ProductIndex\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"item_no\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"brand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"stock\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ProductIndexDetail\";}}s:12:\"created_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"web_active\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"ProductIndexDetail\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"ProductShowAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:25:\"#/definitions/ProductShow\";}}}s:11:\"ProductShow\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"item_no\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"brand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"stock\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ProductIndexDetail\";}}s:12:\"created_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"web_active\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:22:\"ProductLastviewRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Produt
  Item no\";}}}}s:18:\"ProductCategoryAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ProductCategory\";}}}}s:15:\"ProductCategory\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"web_active\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"parent_cat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProductCategoryItem\";}}}}s:19:\"ProductCategoryItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"web_active\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"parent_cat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"staffSaveRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"item_no\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"staffSaveResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/staffSave\";}}}}s:9:\"staffSave\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"item_no\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"priceCategoriesIndexAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/priceCategoriesIndex\";}}}}s:20:\"priceCategoriesIndex\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"price_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"price1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"price2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"accessToken\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"grant_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"client_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"client_secret\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Email\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"authResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"token_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"expired_in\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:19:\"shippingProvinceAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"rajaongkir\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:30:\"#/definitions/shippingProvince\";}s:7:\"results\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/shippingProvinceResults\";}}}}s:16:\"shippingProvince\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:23:\"shippingProvinceResults\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"province_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"province\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"shippingCityAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"rajaongkir\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/shippingCity\";}s:7:\"results\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/shippingCityResults\";}}}}s:12:\"shippingCity\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:19:\"shippingCityResults\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"city_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"province_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"province\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"city_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"shippingCostAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"rajaongkir\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/shippingCost\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:32:\"#/definitions/shippingCostStatus\";}s:14:\"origin_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:32:\"#/definitions/shippingCostOrigin\";}s:19:\"destination_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:37:\"#/definitions/shippingCostDestination\";}s:7:\"results\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/shippingCostResults\";}}}}s:12:\"shippingCost\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"origin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"destination\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"courier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:18:\"shippingCostStatus\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"shippingCostOrigin\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"city_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"province_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"province\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"city_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"shippingCostDestination\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"city_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"province_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"province\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"city_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"shippingCostResults\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"costs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"etd\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:16:\"shippingTrackAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"rajaongkir\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:27:\"#/definitions/shippingTrack\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:33:\"#/definitions/shippingTrackStatus\";}s:7:\"results\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:34:\"#/definitions/shippingTrackResults\";}}}s:13:\"shippingTrack\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:19:\"shippingTrackStatus\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"shippingTrackResults\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"delivered\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"courier_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"courier_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"waybill_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"shipper_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"receiver_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"destination\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:14:\"waybill_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"waybill_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"waybill_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"destination\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"shippper_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipper_address1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipper_address2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipper_address3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"shipper_city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"receiver_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"receiver_address1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"receiver_address2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"receiver_address3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"receiver_city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"delivery_status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"pod_receiver\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pod_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pod_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"manifest\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"manifest_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"manifest_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"manifest_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"manifest_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"city_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:21:\"productPointsIndexAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/productPointsIndex\";}}}}s:18:\"productPointsIndex\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"point\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"created_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"productPointsSaveRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"point\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:25:\"productPointsSaveResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/productPointsSave\";}}}s:17:\"productPointsSave\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:28:\"productPointsBulkSaveRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"point\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:29:\"productPointsBulkSaveResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/productPointsBulkSave\";}}}}s:21:\"productPointsBulkSave\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"OrderIndexAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/OrderIndex\";}}}}s:10:\"OrderIndex\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":19:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shipping_address_1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shipping_address_2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"shipping_postcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"shipping_city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"shipping_state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"payment_method_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"order_total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"special_request\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"order_status_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"shipping_courier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"shipping_courier_service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"tracking_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"OrderSaveRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":20:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shipping_address_1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shipping_address_2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"shipping_postcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"shipping_city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"shipping_state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"payment_method_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"order_total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"special_request\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"order_status_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"shipping_courier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"shipping_courier_service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"tracking_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"OrderSaveAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OrderSave\";}}}s:9:\"OrderSave\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":19:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shipping_address_1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shipping_address_2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"shipping_postcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"shipping_city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"shipping_state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"payment_method_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"order_total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"special_request\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"order_status_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"shipping_courier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"shipping_courier_service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"tracking_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"OrdersUpdateRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"order_status_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:15:\"OrdersUpdateAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OrdersUpdate\";}}}s:12:\"OrdersUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"order_status_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:13:\"OrdersShowAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:24:\"#/definitions/OrdersShow\";}}}s:10:\"OrdersShow\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"address_1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"address_2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"postcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"OrdersDeleteRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"OrdersDeleteAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:16:\"CommentsIndexAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CommentsIndex\";}}}}s:13:\"CommentsIndex\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"messages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"vote\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"upvote\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"downvote\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"CommentsSaveRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"messages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"vote\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"upvote\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"downvote\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"CommentsSaveAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CommentsSave\";}}}s:12:\"CommentsSave\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"messages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"vote\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"upvote\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"downvote\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"CommentsVoteSaveAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CommentsVoteSave\";}}}s:16:\"CommentsVoteSave\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"messages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"vote\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"upvote\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"downvote\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:25:\"CommentsVoteUpdateRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"comment_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"vote\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:19:\"rewardTypesIndexAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/rewardTypesIndex\";}}}}s:16:\"rewardTypesIndex\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"point\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:22:\"rewardTypesSaveRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"point\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:18:\"rewardTypesSaveAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:29:\"#/definitions/rewardTypesSave\";}}}s:15:\"rewardTypesSave\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"point\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"rewardTypesShowAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:29:\"#/definitions/rewardTypesShow\";}}}s:15:\"rewardTypesShow\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"point\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"rewardTypesUpdateRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"point\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:20:\"rewardTypesUpdateAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:31:\"#/definitions/rewardTypesUpdate\";}}}s:17:\"rewardTypesUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"point\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"rewardTypesDeleteRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"rewardTypesDeleteAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:18:\"rewardLogsIndexAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/rewardLogsIndex\";}}}}s:15:\"rewardLogsIndex\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"reward_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"reference_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"point\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"rewardLogsSaveRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"reward_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"reference_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"point\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:17:\"rewardLogsSaveAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:28:\"#/definitions/rewardLogsSave\";}}}s:14:\"rewardLogsSave\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"reward_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"reference_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"point\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"rewardLogsShowAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:28:\"#/definitions/rewardLogsShow\";}}}s:14:\"rewardLogsShow\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"reward_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"reference_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"point\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"rewardLogsUpdateRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"reward_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"reference_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"point\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:19:\"rewardLogsUpdateAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:30:\"#/definitions/rewardLogsUpdate\";}}}s:16:\"rewardLogsUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"reward_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"reference_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"point\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"rewardLogsDeleteRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"rewardLogsDeleteAPI\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"MetaResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"last_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"UnsubscribeRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"unsubscribe_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"UnsubscribeSuccess\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:22:\"CustomerInvitationList\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:40:\"#/definitions/CustomerInvitationListData\";}}}s:26:\"CustomerInvitationListData\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"invitation_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"batch_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"is_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"is_active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"CustomerInvitationImport\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"CustomerInvitationEmails\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:29:\"CustomerInvitationContentList\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:47:\"#/definitions/CustomerInvitationContentListData\";}}}s:33:\"CustomerInvitationContentListData\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"logs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:28:\"CustomerInvitationContentAdd\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:47:\"#/definitions/CustomerInvitationContentListData\";}}}s:31:\"CustomerInvitationContentUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:47:\"#/definitions/CustomerInvitationContentListData\";}}}s:31:\"CustomerInvitationContentDelete\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:18:\"DisallowedWordList\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:36:\"#/definitions/DisallowedWordListData\";}}}s:22:\"DisallowedWordListData\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"word\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"DisallowedWordAdd\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:36:\"#/definitions/DisallowedWordListData\";}}}s:20:\"DisallowedWordUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:36:\"#/definitions/DisallowedWordListData\";}}}s:20:\"DisallowedWordDelete\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:26:\"#/definitions/MetaResponse\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
