---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:2924:\"## Overview\n\nThe
  JSON REST API allows you to submit and receive [BulkSMS](https://www.bulksms.com/)
  messages. You can also get access to past messages and see your account profile.\n\nThe
  base URL to use for this service is `https://api.bulksms.com/v1`.  The base URL
  cannot be used on its own; you must append a path that identifies an operation and
  you may have to specify some path parameters as well.\n\n**The insecure base URL
  `http://api.bulksms.com/v1` is deprecated** and may in future result in a `301`
  redirect response, or insecure requests may be rejected outright. Please use the
  secure (`https`) URI above.\n\n[Click here](/) to go to the main BulkSMS developer
  site.\n\n### HTTP Content Type\n\nAll API methods expect requests to supply a `Content-Type`
  header with the value `application/json`. All responses will have the `Content-Type`
  header set to `application/json`.\n\n### JSON Formatting\n\nYou are advised to format
  your JSON resources according to strict JSON format rules. While the API does attempt
  to parse strictly invalid JSON documents, doing so may lead to incorrect interpretation
  and unexpected results.\n\nGood JSON libraries will produce valid JSON suitable
  for submission, but if you are manually generating the JSON text, be careful to
  follow the JSON format. This include correct escaping of control characters and
  double quoting of property names.\n\nSee the [JSON specification](https://tools.ietf.org/html/rfc4627)
  for further information.\n\n### Date Formatting\n\nDates are formatted according
  to ISO-8601, such as `1970-01-01T10:00:00+01:00` for 1st January 1970, 10AM UTC+1.\n\nSee
  the [Wikipedia ISO 8601 reference](https://en.wikipedia.org/wiki/ISO_8601) for further
  information.\n\nSpecifically, calendar dates are formatted with the 'extended' format
  `YYYY-MM-DD`. Basic format, week dates and ordinal dates are not supported. Times
  are also formatted in the 'extended' format `hh:mm:ss`. Hours, minutes and seconds
  are mandatory. Offset from UTC must be provided; this is to ensure that there is
  no misunderstanding regarding times provided to the API.\n\nThe format we look for
  is `yyyy-MM-ddThh:mm:ss[Z|[+-]hh:mm]`\n\nExamples of valid date/times are`2011-12-31T12:00:00Z`
  `2011-12-31T12:00:00+02:00`\n\n### Entity Format Modifications\n\nIt is expected
  that over time some changes will be made to the request and response formats of
  various methods available in the API.\nWhere possible, these will be implemented
  in a backwards compatible way.\nTo make this possible you are required to ignore
  unknown properties.\nThis enables the addition of information in response documents
  while maintaining compatibility with older clients.\n\n### Optional Request Entity
  Properties\n\nThere are many instances where requests can be made without having
  to specify every single property allowable in the request format.\nAny such optional
  properties are noted as such in the documentation and their default value is noted.\n\";s:5:\"title\";s:12:\"BulkSMS
  JSON\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"telecom\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:91:\"https://api.apis.guru/v2/cache/logo/https_www.bulksms.com_img_homegraphics_bulksms-logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:49:\"http://developer.bulksms.com/json/v1/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"bulksms.com\";}"
host: api.bulksms.com
basePath: /v1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:5:\"Error\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"See
  the [errors page](errors/) for more detail on what kind of errors you can get.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"detail\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"More
  information about why the error occurred.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  HTTP status code\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"A
  short description of the type\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"A
  URL to one of the [error types](errors/).\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:5:\"title\";i:2;s:6:\"status\";}s:4:\"type\";s:6:\"object\";}s:7:\"Message\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":14:{s:4:\"body\";O:8:\"stdClass\":1:{s:11:\"description\";s:26:\"The
  content of the message\";}s:10:\"creditCost\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"The
  cost of the message (in credits).   Note that this field does not have a value in
  the submission response.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"encoding\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  type of the content.  See the `encoding` field for more information.\";s:4:\"enum\";a:3:{i:0;s:4:\"TEXT\";i:1;s:7:\"UNICODE\";i:2;s:6:\"BINARY\";}s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  address part of the sender id\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"A
  unique identifier that is assigned when the message is created.\";s:4:\"type\";s:6:\"string\";}s:12:\"messageClass\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"See
  the `messageClass` field for more information.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"numberOfParts\";O:8:\"stdClass\":3:{s:11:\"description\";s:169:\"The
  number of parts.  If this is a concatenated message, the number of parts will be
  more than 1.  Note that this field does not have a value in the submission response.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"protocolId\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"See
  the `protocolId` field for more information.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"relatedSentMessageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:759:\"This
  field has a value only if the type is RECEIVED.\nWith SMS messages, it is not possible
  to link a reply directly with a specific sent message.  However, if you specified
  `REPLIABLE` in the `from` property, BulkSMS will link any reply to the most recent
  message sent to a given phone number.\n\nThe `relatedSentMessageId` property keeps
  the information about this link.\n\nYou can use this property to derive an implicit
  conversation from a set of messages.\n  - If a received reply message has a `relatedSentMessageId`,
  you can use it to retrieve the last message that was sent before the reply was received.\n
  \ - If you have the `id` of the sent message and you want all the received messages
  that relate to it, you can use the List Related Messages Operation.\n\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  status of the message\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"A
  unique identifier for the status\";s:4:\"type\";s:6:\"string\";}s:7:\"subtype\";O:8:\"stdClass\":3:{s:11:\"description\";s:476:\"Has
  a value only if the `type` is FAILED.\n\nEXPIRED  Delivery failed because message
  expired before delivery was possible.\n\nHANDSET_ERROR  Delivery failed because
  of a problem related to the phone (e.g. message storage area full).\n\nBLOCKED  Your
  account has been blocked from sending to this phone (e.g. recipient replied STOP
  to block communication).\n\nNOT_SENT  Message delivery was not attempted (e.g. because
  we were not able to find a route for the supplied phone number).\n\";s:4:\"enum\";a:4:{i:0;s:7:\"EXPIRED\";i:1;s:13:\"HANDSET_ERROR\";i:2;s:7:\"BLOCKED\";i:3;s:8:\"NOT_SENT\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:364:\"\nACCEPTED
  \ Message accepted for delivery. Only returned for initial message submissions.\n\nSCHEDULED
  \ Message accepted for delivery as a later date. Only returned for initial message
  \ submissions.\n\nSENT  Message has been relayed away from our systems.\n\nDELIVERED
  \ Successfully delivered to phone.\n\nUNKNOWN  Message is in an unknown state.\n\nFAILED
  \ Delivery failed.\n\";s:4:\"enum\";a:6:{i:0;s:8:\"ACCEPTED\";i:1;s:9:\"SCHEDULED\";i:2;s:4:\"SENT\";i:3;s:9:\"DELIVERED\";i:4;s:7:\"UNKNOWN\";i:5;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:10:\"submission\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"Identifies
  the submission.\nThis field has a value only if the `type` is SENT.\n\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  date and time the submission was processed.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"A
  unique identity shared by all messages that were created from the same submission.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"date\";}s:4:\"type\";s:6:\"object\";}s:2:\"to\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  phone number of the recipient\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  message direction\";s:4:\"enum\";a:2:{i:0;s:4:\"SENT\";i:1;s:8:\"RECEIVED\";}s:4:\"type\";s:6:\"string\";}s:14:\"userSuppliedId\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"This
  is the value you supplied in the `userSuppliedId` field.\nHas a value only if the
  `type` is SENT.\n\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:2:\"to\";i:3;s:4:\"body\";i:4;s:6:\"status\";}s:4:\"type\";s:6:\"object\";}s:7:\"Profile\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"commerce\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"street\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"bankPaymentReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"company\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"taxReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"credits\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"balance\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:17:\"isTransferAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"originAddresses\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"allowed\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"isFullControlAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:5:\"quota\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"remaining\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  number of messages you can still send today.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  setting that limits the number of messages you can send in a day.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:4:\"size\";i:1;s:9:\"remaining\";}s:4:\"type\";s:6:\"object\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:8:\"username\";i:2;s:7:\"created\";i:3;s:7:\"credits\";i:4;s:5:\"quota\";}s:4:\"type\";s:6:\"object\";}s:15:\"SubmissionEntry\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"An
  object that you use when posting messages.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"body\";O:8:\"stdClass\":3:{s:11:\"description\";s:1027:\"The
  message content as described in the `encoding`.\n\nIf the `from` field contains
  groups, you can use a simple template system to use the contact's first name or
  surname in the message body.\nThe template names currently available are `fn` and
  `sn` for first name and surname respectively. Surround the template name with curly
  braces to use it.\n\nSince names can be of variable length, the template system
  allows you to pad the template with the `#` symbol to limit the amount of text the
  replacement value can consume within the content. Note that the maximum length allowed
  for the value includes the space taken by the braces, template name and hash symbol.\n\nFor
  example, the text `Hello {fn###} {sn#####}` takes 7 characters from the first name
  and 9 characters from the surname of the contact.\nIf the `encoding` is BINARY,
  the body must contain only hexadecimal digits where one byte is represented as two
  digits. For example, if you want to send two bytes '0x05' and '0x1F', the message
  body must contain the text '051F'.\n\";s:7:\"example\";s:9:\"Hi there!\";s:4:\"type\";s:6:\"string\";}s:15:\"deliveryReports\";O:8:\"stdClass\":3:{s:11:\"description\";s:254:\"The
  type of delivery reports to request from the delivering network.\nThe default value
  \ is `ALL`. Please note that not all networks support delivery reports.\nALL. All
  possible delivery reports\nERRORS. Only error delivery reports\nNONE. No delivery
  reports\";s:4:\"enum\";a:3:{i:0;s:3:\"ALL\";i:1;s:6:\"ERRORS\";i:2;s:4:\"NONE\";}s:4:\"type\";s:6:\"string\";}s:8:\"encoding\";O:8:\"stdClass\":3:{s:11:\"description\";s:405:\"Describes
  the content of the message body.\n\nTypically this is TEXT, which is the default
  if no value is provided.\n\nIf you need to send characters that are not covered
  by the [GSM 03.38](https://en.wikipedia.org/wiki/GSM_03.38) character set you will
  need to specify UNICODE or use the `auto-unicode` parameter of the Send Messages
  Operation.\n\nIf you want to send a sequence of bytes, you must use BINARY.\n\";s:4:\"enum\";a:3:{i:0;s:4:\"TEXT\";i:1;s:7:\"UNICODE\";i:2;s:6:\"BINARY\";}s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":4:{s:11:\"description\";s:481:\"Identifies
  the sender.\n\nThe value of this property is ignored if your account profile does
  not allow you to specify the sender.\nInstead of a structured object, you can supply
  a string value here.  If you do this, the `type` of the sender is derived to be
  either INTERNATIONAL or ALPHANUMERIC.  If the value does not begin with a `+` and
  it contains at least one character that is not a digit, the type is detected as
  ALPHANUMERIC. Otherwise, the type is detected as INTERNATIONAL.\n\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":3:{s:11:\"description\";s:344:\"The
  address of the sender id.\n\nThe validation for this field depends on the value
  of the `type`.\nINTERNATIONAL can start with `+`. It has a maximum length of 15
  digits, and has to be longer than 6 digits.\nALPHANUMERIC has a maximum length of
  11 characters.\nSHORTCODE has a maximum length of 6 digits.\nREPLIABLE should not
  specify a value here.\n\";s:7:\"example\";s:7:\"1111111\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:445:\"The
  type of the sender id.\n\nIf you want BulkSMS to collect replies to this message
  on your behalf, specify the type as REPLIABLE.  If the recipient is in a country
  where BulkSMS does not have a local reply number, the reply may incur costs that
  are more expensive than sending a local SMS in that country.\nIf you operate a service
  from a shortcode in a locale that allows messaging from such a shortcode, you can
  specify SHORTCODE for the type.\n\";s:4:\"enum\";a:4:{i:0;s:13:\"INTERNATIONAL\";i:1;s:12:\"ALPHANUMERIC\";i:2;s:9:\"SHORTCODE\";i:3;s:9:\"REPLIABLE\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:19:\"longMessageMaxParts\";O:8:\"stdClass\":4:{s:11:\"description\";s:151:\"The
  maximum number of message parts that can be used for a [concatenated message](https://en.wikipedia.org/wiki/Concatenated_SMS).\nThe
  default is `3`.\n\";s:7:\"example\";i:99;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"messageClass\";O:8:\"stdClass\":3:{s:11:\"description\";s:320:\"The
  class of the message, as specified by \xA74 of the GSM 03.38 specification.\n\nYou
  can provide either an integer value, or a mnemonic string.\n\nThe default value
  is SIM_SPECIFIC.\nNumeric values are\n| Name | Value|\n|------|------|\n| FLASH_SMS
  | 0      |\n| ME_SPECIFIC | 1    |\n| SIM_SPECIFIC | 2   |\n| TE_SPECIFIC | 3   |\n\";s:4:\"enum\";a:4:{i:0;s:9:\"FLASH_SMS\";i:1;s:11:\"ME_SPECIFIC\";i:2;s:12:\"SIM_SPECIFIC\";i:3;s:11:\"TE_SPECIFIC\";}s:4:\"type\";s:6:\"string\";}s:10:\"protocolId\";O:8:\"stdClass\":3:{s:11:\"description\";s:664:\"The
  TP-PID value from GSM 03.40[.750] \xA79.2.3.9.\n\nYou can provide either an integer
  value, or a mnemonic string.\n\nIf unspecified, this property defaults to `0`, representing
  the IMPLICIT value.\nNumeric values are listed below\n| Name | Value|\n|----- |------|\n|
  IMPLICIT              | 00 |\n| SHORT_MESSAGE_TYPE_0  | 64 |\n| REPLACE_MESSAGE_1
  \    | 65 |\n| REPLACE_MESSAGE_2     | 66 |\n| REPLACE_MESSAGE_3     | 67 |\n| REPLACE_MESSAGE_4
  \    | 68 |\n| REPLACE_MESSAGE_5     | 69 |\n| REPLACE_MESSAGE_6     | 70 |\n| REPLACE_MESSAGE_7
  \    | 71 |\n| RETURN_CALL           | 95 |\n| ME_DOWNLOAD           | 125 |\n|
  ME_DEPERSONALIZE      | 126 |\n| SIM_DOWNLOAD          | 127 |\n\";s:4:\"enum\";a:13:{i:0;s:8:\"IMPLICIT\";i:1;s:20:\"SHORT_MESSAGE_TYPE_0\";i:2;s:17:\"REPLACE_MESSAGE_1\";i:3;s:17:\"REPLACE_MESSAGE_2\";i:4;s:17:\"REPLACE_MESSAGE_3\";i:5;s:17:\"REPLACE_MESSAGE_4\";i:6;s:17:\"REPLACE_MESSAGE_5\";i:7;s:17:\"REPLACE_MESSAGE_6\";i:8;s:17:\"REPLACE_MESSAGE_7\";i:9;s:11:\"RETURN_CALL\";i:10;s:11:\"ME_DOWNLOAD\";i:11;s:16:\"ME_DEPERSONALIZE\";i:12;s:12:\"SIM_DOWNLOAD\";}s:4:\"type\";s:6:\"string\";}s:12:\"routingGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Allows
  you to choose routing. The default is STANDARD.\n\";s:4:\"enum\";a:3:{i:0;s:7:\"ECONOMY\";i:1;s:8:\"STANDARD\";i:2;s:7:\"PREMIUM\";}s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":3:{s:11:\"description\";s:210:\"Identifies
  the recipients\n\nInstead of an array of structured objects, you can also provide
  a single object, a simple string or an array of strings.\nIf you supply a string,
  the `type` is taken as INTERNATIONAL.\n\";s:5:\"items\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"address\";s:7:\"1111111\";s:4:\"type\";s:13:\"INTERNATIONAL\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  phone number of the recipient.  It must be supplied if the `type` is INTERNATIONAL\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"The
  id of a group in your phonebook.  A value can be given if the `type` is GROUP.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  name of a group in your phonebook. A value can be given if the `type` is GROUP.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Type
  of the recipient. The default value is INTERNATIONAL.\";s:4:\"enum\";a:2:{i:0;s:13:\"INTERNATIONAL\";i:1;s:5:\"GROUP\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:14:\"userSuppliedId\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"Correlate
  the messages created from this submission to your data.\n\nThe value can contain
  no more than 20 characters.\n\";s:7:\"example\";s:16:\"submission-12765\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"to\";i:1;s:4:\"body\";}s:4:\"type\";s:6:\"object\";}s:7:\"Webhook\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"active\";O:8:\"stdClass\":2:{s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:19:\"contactEmailAddress\";O:8:\"stdClass\":2:{s:7:\"example\";s:21:\"tech_team@example.com\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:7:\"example\";i:234;s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":2:{s:7:\"example\";s:13:\"My
  MT Webhook\";s:4:\"type\";s:6:\"string\";}s:8:\"onWebApp\";O:8:\"stdClass\":2:{s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:12:\"triggerScope\";O:8:\"stdClass\":2:{s:7:\"example\";s:4:\"SENT\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:7:\"example\";s:23:\"https://www.example.com\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"WebhookEntry\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"active\";O:8:\"stdClass\":3:{s:11:\"description\";s:462:\"Indicates
  whether you want the webhook activated.\n\nIf the value is `true`, the webhook at
  the given `url` will be invoked with an empty array (`[]`) as part of the validation
  process.\nIf the webhook responds with a `2xx` status code, the submission is accepted;
  if not the webhook is not created (or updated).\n\nIf the value is `false` the webhook
  will be inactive, and it will not be invoked when messages are `SENT` or `RECEIVED`.\n\nThe
  default value is `true`.\n\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:19:\"contactEmailAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:211:\"The
  email address to which emails will be sent if there are problem with invoking the
  webhook.\n\nThe value must be a valid email address.\nIf this value is `null`, no
  email will be sent.\n\nIt is `null` by default.\n\";s:7:\"example\";s:21:\"tech_team@example.com\";s:4:\"type\";s:6:\"string\";}s:11:\"lastUpdated\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"Indicates
  when the webhook information has been created or updated.\n\nIt is the number of
  milliseconds that have elapsed since January 1, 1970.\n\";s:7:\"example\";i:1518095132000;s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"A
  text identifier for the webhook.\nMore than one webhook cannot have the same name.\n\";s:7:\"example\";s:13:\"My
  MT Webhook\";s:4:\"type\";s:6:\"string\";}s:8:\"onWebApp\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"Indicates
  whether you want to show this webhook on the Web App.\n\nWebhooks shown there can
  be updated by the user that use the public Web site.\n\nThe default value is `true`.\n\";s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:12:\"triggerScope\";O:8:\"stdClass\":4:{s:11:\"description\";s:504:\"Specifies
  when the webhook will be triggered.\n\nIf the value is `SENT`, the webhook will
  be called when a status update becomes available for a message you sent (i.e. a
  mobile terminating (MT) message).\nIf the value is `RECEIVED`, the webhook will
  be called when a message is received (i.e. a mobile originating (MO) message).\n\nNote
  that this field forces you to create two separate webhook entries if you want to
  collect all messages.  However,  you can use the same `url` for both webhooks if
  you want.\n\";s:4:\"enum\";a:2:{i:0;s:4:\"SENT\";i:1;s:8:\"RECEIVED\";}s:7:\"example\";s:4:\"SENT\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:180:\"The
  location of the webhook.\n\nIn addition to being a [valid URI](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#Syntax),
  the url must also start with `http` or `https`.\n\";s:7:\"example\";s:23:\"https://www.example.com\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:3:\"url\";i:2;s:12:\"triggerScope\";}s:4:\"type\";s:6:\"object\";}}"
...
