---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:19:\"Health Atlas - v2.0\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:42:\"https://developer.hthworldwide.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:75:\"Test
  our API services using I/O Docs. You can also view our API overviews. \";s:12:\"x-mashery-id\";s:4:\"2431\";}"
host: api.hthworldwide.com
basePath: /
paths:
  /hcaratings/countries/:
    get:
      operationId: GetCountrieswithHealthcareAtlasRatingsHealthcareAtlasRatings
      summary: Retrieves the list of countries that have Healthca...
      description: Retrieves the list of countries that have Healthcare Atlas ratings
        available.
      tags:
      - Healthcare Atlas Ratings
      parameters: []
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /hcaratings/groups/:
    get:
      operationId: GetRatingGroupsHealthcareAtlasRatings
      summary: Retrieves all available rating groups
      tags:
      - Healthcare Atlas Ratings
      parameters: []
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /hcaratings/groups/{group_id}/categories/:
    get:
      operationId: GetRatingCategoriesHealthcareAtlasRatings
      summary: Retrieves the rating categories for a given rating...
      description: Retrieves the rating categories for a given rating group
      tags:
      - Healthcare Atlas Ratings
      parameters:
      - name: group_id
        type: number
        description: The ID for the rating group
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /hcaratings/country/{country_id}/:
    get:
      operationId: GetRatingsByCountryHealthcareAtlasRatings
      summary: Retrieves the available ratings for a given countr...
      description: Retrieves the available ratings for a given country
      tags:
      - Healthcare Atlas Ratings
      parameters:
      - name: country_id
        type: string
        description: The required name, ID, or ISO code for the country
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /hcaratings/destination/{destination_id}/:
    get:
      operationId: GetRatingsByDestinationHealthcareAtlasRatings
      summary: Retrieves the available ratings for a given destin...
      description: Retrieves the available ratings for a given destination
      tags:
      - Healthcare Atlas Ratings
      parameters:
      - name: destination_id
        type: number
        description: The required ID for the destination
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
