---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:197:\"The
  AWS Migration Hub API methods help to obtain server and application migration status
  and integrate your resource-specific migration tool by providing a programmatic
  interface to Migration Hub. \";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:17:\"AWS
  Migration Hub\";s:7:\"version\";s:10:\"2017-05-31\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:99:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/AWSMigrationHub-2017-05-31.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:15:\"AWSMigrationHub\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"amazonaws_mgh\";s:4:\"type\";s:7:\"openapi\";}}"
host: mgh.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":75:{s:21:\"AccessDeniedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"You
  do not have sufficient access to perform this action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ApplicationId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1600;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:17:\"ApplicationStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:11:\"NOT_STARTED\";i:1;s:11:\"IN_PROGRESS\";i:2;s:9:\"COMPLETED\";}s:4:\"type\";s:6:\"string\";}s:31:\"AssociateCreatedArtifactRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"CreatedArtifact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CreatedArtifact\";s:11:\"description\";s:98:\"An
  ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance,
  etc.) \";}s:6:\"DryRun\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/DryRun\";s:11:\"description\";s:131:\"Optional
  boolean flag to indicate whether any effect should take place. Used to test if the
  caller has permission to make the call.\";}s:17:\"MigrationTaskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MigrationTaskName\";s:11:\"description\";s:53:\"Unique
  identifier that references the migration task.\";}s:20:\"ProgressUpdateStream\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProgressUpdateStream\";s:11:\"description\";s:38:\"The
  name of the ProgressUpdateStream. \";}}s:8:\"required\";a:3:{i:0;s:20:\"ProgressUpdateStream\";i:1;s:17:\"MigrationTaskName\";i:2;s:15:\"CreatedArtifact\";}s:4:\"type\";s:6:\"object\";}s:30:\"AssociateCreatedArtifactResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"AssociateDiscoveredResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"DiscoveredResource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DiscoveredResource\";s:11:\"description\";s:31:\"Object
  representing a Resource.\";}s:6:\"DryRun\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/DryRun\";s:11:\"description\";s:131:\"Optional
  boolean flag to indicate whether any effect should take place. Used to test if the
  caller has permission to make the call.\";}s:17:\"MigrationTaskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MigrationTaskName\";s:11:\"description\";s:42:\"The
  identifier given to the MigrationTask.\";}s:20:\"ProgressUpdateStream\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProgressUpdateStream\";s:11:\"description\";s:37:\"The
  name of the ProgressUpdateStream.\";}}s:8:\"required\";a:3:{i:0;s:20:\"ProgressUpdateStream\";i:1;s:17:\"MigrationTaskName\";i:2;s:18:\"DiscoveredResource\";}s:4:\"type\";s:6:\"object\";}s:33:\"AssociateDiscoveredResourceResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"ConfigurationId\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:33:\"CreateProgressUpdateStreamRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"DryRun\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/DryRun\";s:11:\"description\";s:131:\"Optional
  boolean flag to indicate whether any effect should take place. Used to test if the
  caller has permission to make the call.\";}s:24:\"ProgressUpdateStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProgressUpdateStream\";s:11:\"description\";s:38:\"The
  name of the ProgressUpdateStream. \";}}s:8:\"required\";a:1:{i:0;s:24:\"ProgressUpdateStreamName\";}s:4:\"type\";s:6:\"object\";}s:32:\"CreateProgressUpdateStreamResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"CreatedArtifact\";O:8:\"stdClass\":4:{s:11:\"description\";s:110:\"An
  ARN of the AWS cloud resource target receiving the migration (e.g., AMI, EC2 instance,
  RDS instance, etc.).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/CreatedArtifactDescription\";s:11:\"description\";s:123:\"A
  description that can be free-form text to record additional detail about the artifact
  for clarity or for later reference.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/CreatedArtifactName\";s:11:\"description\";s:63:\"An
  ARN that uniquely identifies the result of a migration task.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:26:\"CreatedArtifactDescription\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:500;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:19:\"CreatedArtifactList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CreatedArtifact\";}s:4:\"type\";s:5:\"array\";}s:19:\"CreatedArtifactName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:1600;s:9:\"minLength\";i:1;s:7:\"pattern\";s:56:\"arn:[a-z-]+:[a-z0-9-]+:(?:[a-z0-9-]+|):(?:[0-9]{12}|):.*\";s:4:\"type\";s:6:\"string\";}s:33:\"DeleteProgressUpdateStreamRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"DryRun\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/DryRun\";s:11:\"description\";s:131:\"Optional
  boolean flag to indicate whether any effect should take place. Used to test if the
  caller has permission to make the call.\";}s:24:\"ProgressUpdateStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProgressUpdateStream\";s:11:\"description\";s:38:\"The
  name of the ProgressUpdateStream. \";}}s:8:\"required\";a:1:{i:0;s:24:\"ProgressUpdateStreamName\";}s:4:\"type\";s:6:\"object\";}s:32:\"DeleteProgressUpdateStreamResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeApplicationStateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ApplicationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ApplicationId\";s:11:\"description\";s:76:\"The
  configurationId in ADS that uniquely identifies the grouped application.\";}}s:8:\"required\";a:1:{i:0;s:13:\"ApplicationId\";}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeApplicationStateResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ApplicationStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ApplicationStatus\";s:11:\"description\";s:63:\"Status
  of the application - Not Started, In-Progress, Complete.\";}s:15:\"LastUpdatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UpdateDateTime\";s:11:\"description\";s:59:\"The
  timestamp when the application status was last updated.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeMigrationTaskRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"MigrationTaskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MigrationTaskName\";s:11:\"description\";s:42:\"The
  identifier given to the MigrationTask.\";}s:20:\"ProgressUpdateStream\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProgressUpdateStream\";s:11:\"description\";s:38:\"The
  name of the ProgressUpdateStream. \";}}s:8:\"required\";a:2:{i:0;s:20:\"ProgressUpdateStream\";i:1;s:17:\"MigrationTaskName\";}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeMigrationTaskResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"MigrationTask\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MigrationTask\";s:11:\"description\";s:58:\"Object
  encapsulating information about the migration task.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"DisassociateCreatedArtifactRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"CreatedArtifactName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/CreatedArtifactName\";s:11:\"description\";s:97:\"An
  ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS instance,
  etc.)\";}s:6:\"DryRun\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/DryRun\";s:11:\"description\";s:131:\"Optional
  boolean flag to indicate whether any effect should take place. Used to test if the
  caller has permission to make the call.\";}s:17:\"MigrationTaskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MigrationTaskName\";s:11:\"description\";s:91:\"Unique
  identifier that references the migration task to be disassociated with the artifact.\";}s:20:\"ProgressUpdateStream\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProgressUpdateStream\";s:11:\"description\";s:38:\"The
  name of the ProgressUpdateStream. \";}}s:8:\"required\";a:3:{i:0;s:20:\"ProgressUpdateStream\";i:1;s:17:\"MigrationTaskName\";i:2;s:19:\"CreatedArtifactName\";}s:4:\"type\";s:6:\"object\";}s:33:\"DisassociateCreatedArtifactResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:37:\"DisassociateDiscoveredResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"ConfigurationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConfigurationId\";s:11:\"description\";s:56:\"ConfigurationId
  of the ADS resource to be disassociated.\";}s:6:\"DryRun\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/DryRun\";s:11:\"description\";s:131:\"Optional
  boolean flag to indicate whether any effect should take place. Used to test if the
  caller has permission to make the call.\";}s:17:\"MigrationTaskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MigrationTaskName\";s:11:\"description\";s:42:\"The
  identifier given to the MigrationTask.\";}s:20:\"ProgressUpdateStream\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProgressUpdateStream\";s:11:\"description\";s:37:\"The
  name of the ProgressUpdateStream.\";}}s:8:\"required\";a:3:{i:0;s:20:\"ProgressUpdateStream\";i:1;s:17:\"MigrationTaskName\";i:2;s:15:\"ConfigurationId\";}s:4:\"type\";s:6:\"object\";}s:36:\"DisassociateDiscoveredResourceResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DiscoveredResource\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Object
  representing the on-premises resource being migrated.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"ConfigurationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConfigurationId\";s:11:\"description\";s:76:\"The
  configurationId in ADS that uniquely identifies the on-premise resource.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/DiscoveredResourceDescription\";s:11:\"description\";s:130:\"A
  description that can be free-form text to record additional detail about the discovered
  resource for clarity or later reference.\";}}s:8:\"required\";a:1:{i:0;s:15:\"ConfigurationId\";}s:4:\"type\";s:6:\"object\";}s:29:\"DiscoveredResourceDescription\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:500;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:22:\"DiscoveredResourceList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DiscoveredResource\";}s:4:\"type\";s:5:\"array\";}s:6:\"DryRun\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"DryRunOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"Exception
  raised to indicate a successfully authorized action when the <code>DryRun</code>
  flag is set to \"true\".\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"ImportMigrationTaskRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"DryRun\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/DryRun\";s:11:\"description\";s:131:\"Optional
  boolean flag to indicate whether any effect should take place. Used to test if the
  caller has permission to make the call.\";}s:17:\"MigrationTaskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MigrationTaskName\";s:11:\"description\";s:53:\"Unique
  identifier that references the migration task.\";}s:20:\"ProgressUpdateStream\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProgressUpdateStream\";s:11:\"description\";s:38:\"The
  name of the ProgressUpdateStream. \";}}s:8:\"required\";a:2:{i:0;s:20:\"ProgressUpdateStream\";i:1;s:17:\"MigrationTaskName\";}s:4:\"type\";s:6:\"object\";}s:25:\"ImportMigrationTaskResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"InternalServerError\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Exception
  raised when there is an internal, configuration, or dependency error encountered.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InvalidInputException\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"Exception
  raised when the provided input violates a policy constraint or is entered in the
  wrong format or data type.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:27:\"LatestResourceAttributeList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ResourceAttribute\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:27:\"ListCreatedArtifactsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/MaxResultsCreatedArtifacts\";s:11:\"description\";s:50:\"Maximum
  number of results to be returned per page.\";}s:17:\"MigrationTaskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MigrationTaskName\";s:11:\"description\";s:53:\"Unique
  identifier that references the migration task.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Token\";s:11:\"description\";s:204:\"If
  a <code>NextToken</code> was returned by a previous call, there are more results
  available. To retrieve the next page of results, make the call again using the returned
  token in <code>NextToken</code>.\";}s:20:\"ProgressUpdateStream\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProgressUpdateStream\";s:11:\"description\";s:38:\"The
  name of the ProgressUpdateStream. \";}}s:8:\"required\";a:2:{i:0;s:20:\"ProgressUpdateStream\";i:1;s:17:\"MigrationTaskName\";}s:4:\"type\";s:6:\"object\";}s:26:\"ListCreatedArtifactsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"CreatedArtifactList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/CreatedArtifactList\";s:11:\"description\";s:87:\"List
  of created artifacts up to the maximum number of results specified in the request.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Token\";s:11:\"description\";s:146:\"If
  there are more created artifacts than the max result, return the next token to be
  passed to the next call as a bookmark of where to start from.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ListDiscoveredResourcesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MaxResultsResources\";s:11:\"description\";s:48:\"The
  maximum number of results returned per page.\";}s:17:\"MigrationTaskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MigrationTaskName\";s:11:\"description\";s:30:\"The
  name of the MigrationTask.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Token\";s:11:\"description\";s:204:\"If
  a <code>NextToken</code> was returned by a previous call, there are more results
  available. To retrieve the next page of results, make the call again using the returned
  token in <code>NextToken</code>.\";}s:20:\"ProgressUpdateStream\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProgressUpdateStream\";s:11:\"description\";s:37:\"The
  name of the ProgressUpdateStream.\";}}s:8:\"required\";a:2:{i:0;s:20:\"ProgressUpdateStream\";i:1;s:17:\"MigrationTaskName\";}s:4:\"type\";s:6:\"object\";}s:29:\"ListDiscoveredResourcesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"DiscoveredResourceList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/DiscoveredResourceList\";s:11:\"description\";s:78:\"Returned
  list of discovered resources associated with the given MigrationTask.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Token\";s:11:\"description\";s:149:\"If
  there are more discovered resources than the max result, return the next token to
  be passed to the next call as a bookmark of where to start from.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListMigrationTasksRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:56:\"Value
  to specify how many results are returned per page.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Token\";s:11:\"description\";s:204:\"If
  a <code>NextToken</code> was returned by a previous call, there are more results
  available. To retrieve the next page of results, make the call again using the returned
  token in <code>NextToken</code>.\";}s:12:\"ResourceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:51:\"Filter
  migration tasks by discovered resource name.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListMigrationTasksResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"MigrationTaskSummaryList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/MigrationTaskSummaryList\";s:11:\"description\";s:219:\"Lists
  the migration task's summary which includes: <code>MigrationTaskName</code>, <code>ProgressPercent</code>,
  <code>ProgressUpdateStream</code>, <code>Status</code>, and the <code>UpdateDateTime</code>
  for each task.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Token\";s:11:\"description\";s:144:\"If
  there are more migration tasks than the max result, return the next token to be
  passed to the next call as a bookmark of where to start from.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ListProgressUpdateStreamsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:63:\"Filter
  to limit the maximum number of results to list per page.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Token\";s:11:\"description\";s:204:\"If
  a <code>NextToken</code> was returned by a previous call, there are more results
  available. To retrieve the next page of results, make the call again using the returned
  token in <code>NextToken</code>.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ListProgressUpdateStreamsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Token\";s:11:\"description\";s:144:\"If
  there are more streams created than the max result, return the next token to be
  passed to the next call as a bookmark of where to start from.\";}s:31:\"ProgressUpdateStreamSummaryList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ProgressUpdateStreamSummaryList\";s:11:\"description\";s:84:\"List
  of progress update streams up to the max number of results passed in the input.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:26:\"MaxResultsCreatedArtifacts\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:10;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:19:\"MaxResultsResources\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:10;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:13:\"MigrationTask\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  a migration task in a migration tool.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"MigrationTaskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MigrationTaskName\";s:11:\"description\";s:53:\"Unique
  identifier that references the migration task.\";}s:20:\"ProgressUpdateStream\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProgressUpdateStream\";s:11:\"description\";s:67:\"A
  name that identifies the vendor of the migration tool being used.\";}s:21:\"ResourceAttributeList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/LatestResourceAttributeList\";s:11:\"description\";s:4:\"<p/>\";}s:4:\"Task\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Task\";s:11:\"description\";s:43:\"Task
  object encapsulating task information.\";}s:14:\"UpdateDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UpdateDateTime\";s:11:\"description\";s:41:\"The
  timestamp when the task was gathered.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MigrationTaskName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:7:\"pattern\";s:6:\"[^:|]+\";s:4:\"type\";s:6:\"string\";}s:20:\"MigrationTaskSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:194:\"MigrationTaskSummary
  includes <code>MigrationTaskName</code>, <code>ProgressPercent</code>, <code>ProgressUpdateStream</code>,
  <code>Status</code>, and <code>UpdateDateTime</code> for each task.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"MigrationTaskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MigrationTaskName\";s:11:\"description\";s:53:\"Unique
  identifier that references the migration task.\";}s:15:\"ProgressPercent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ProgressPercent\";s:11:\"description\";s:4:\"<p/>\";}s:20:\"ProgressUpdateStream\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProgressUpdateStream\";s:11:\"description\";s:135:\"An
  AWS resource used for access control. It should uniquely identify the migration
  tool as it is used for all updates made by the tool.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:19:\"Status
  of the task.\";}s:12:\"StatusDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StatusDetail\";s:11:\"description\";s:73:\"Detail
  information of what is being done within the overall status state.\";}s:14:\"UpdateDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UpdateDateTime\";s:11:\"description\";s:41:\"The
  timestamp when the task was gathered.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"MigrationTaskSummaryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/MigrationTaskSummary\";}s:4:\"type\";s:5:\"array\";}s:17:\"NextUpdateSeconds\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:29:\"NotifyApplicationStateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"ApplicationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ApplicationId\";s:11:\"description\";s:76:\"The
  configurationId in ADS that uniquely identifies the grouped application.\";}s:6:\"DryRun\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/DryRun\";s:11:\"description\";s:131:\"Optional
  boolean flag to indicate whether any effect should take place. Used to test if the
  caller has permission to make the call.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ApplicationStatus\";s:11:\"description\";s:63:\"Status
  of the application - Not Started, In-Progress, Complete.\";}}s:8:\"required\";a:2:{i:0;s:13:\"ApplicationId\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:28:\"NotifyApplicationStateResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"NotifyMigrationTaskStateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"DryRun\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/DryRun\";s:11:\"description\";s:131:\"Optional
  boolean flag to indicate whether any effect should take place. Used to test if the
  caller has permission to make the call.\";}s:17:\"MigrationTaskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MigrationTaskName\";s:11:\"description\";s:53:\"Unique
  identifier that references the migration task.\";}s:17:\"NextUpdateSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NextUpdateSeconds\";s:11:\"description\";s:220:\"Number
  of seconds after the UpdateDateTime within which the Migration Hub can expect an
  update. If Migration Hub does not receive an update within the specified interval,
  then the migration task will be considered stale.\";}s:20:\"ProgressUpdateStream\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProgressUpdateStream\";s:11:\"description\";s:38:\"The
  name of the ProgressUpdateStream. \";}s:4:\"Task\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Task\";s:11:\"description\";s:49:\"Information
  about the task's progress and status.\";}s:14:\"UpdateDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UpdateDateTime\";s:11:\"description\";s:41:\"The
  timestamp when the task was gathered.\";}}s:8:\"required\";a:5:{i:0;s:20:\"ProgressUpdateStream\";i:1;s:17:\"MigrationTaskName\";i:2;s:4:\"Task\";i:3;s:14:\"UpdateDateTime\";i:4;s:17:\"NextUpdateSeconds\";}s:4:\"type\";s:6:\"object\";}s:30:\"NotifyMigrationTaskStateResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"PolicyErrorException\";O:8:\"stdClass\":3:{s:11:\"description\";s:217:\"Exception
  raised when there are problems accessing ADS (Application Discovery Service); most
  likely due to a misconfigured policy or the <code>migrationhub-discovery</code>
  role is missing or not configured correctly.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ProgressPercent\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:20:\"ProgressUpdateStream\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:50;s:9:\"minLength\";i:1;s:7:\"pattern\";s:16:\"[^/:|\\000-\\037]+\";s:4:\"type\";s:6:\"string\";}s:27:\"ProgressUpdateStreamSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Summary
  of the AWS resource used for access control that is implicitly linked to your AWS
  account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"ProgressUpdateStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProgressUpdateStream\";s:11:\"description\";s:38:\"The
  name of the ProgressUpdateStream. \";}}s:4:\"type\";s:6:\"object\";}s:31:\"ProgressUpdateStreamSummaryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ProgressUpdateStreamSummary\";}s:4:\"type\";s:5:\"array\";}s:28:\"PutResourceAttributesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"DryRun\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/DryRun\";s:11:\"description\";s:131:\"Optional
  boolean flag to indicate whether any effect should take place. Used to test if the
  caller has permission to make the call.\";}s:17:\"MigrationTaskName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MigrationTaskName\";s:11:\"description\";s:53:\"Unique
  identifier that references the migration task.\";}s:20:\"ProgressUpdateStream\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProgressUpdateStream\";s:11:\"description\";s:38:\"The
  name of the ProgressUpdateStream. \";}s:21:\"ResourceAttributeList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ResourceAttributeList\";s:11:\"description\";s:1438:\"<p>Information
  about the resource that is being migrated. This data will be used to map the task
  to a resource in the Application Discovery Service (ADS)'s repository.</p> <note>
  <p>Takes the object array of <code>ResourceAttribute</code> where the <code>Type</code>
  field is reserved for the following values: <code>IPV4_ADDRESS | IPV6_ADDRESS |
  MAC_ADDRESS | FQDN | VM_MANAGER_ID | VM_MANAGED_OBJECT_REFERENCE | VM_NAME | VM_PATH
  | BIOS_ID | MOTHERBOARD_SERIAL_NUMBER</code> where the identifying value can be
  a string up to 256 characters.</p> </note> <important> <ul> <li> <p>If any \"VM\"
  related value is set for a <code>ResourceAttribute</code> object, it is required
  that <code>VM_MANAGER_ID</code>, as a minimum, is always set. If <code>VM_MANAGER_ID</code>
  is not set, then all \"VM\" fields will be discarded and \"VM\" fields will not
  be used for matching the migration task to a server in Application Discovery Service
  (ADS)'s repository. See the <a href=\"https://docs.aws.amazon.com/migrationhub/latest/ug/API_PutResourceAttributes.html#API_PutResourceAttributes_Examples\">Example</a>
  section below for a use case of specifying \"VM\" related values.</p> </li> <li>
  <p> If a server you are trying to match has multiple IP or MAC addresses, you should
  provide as many as you know in separate type/value pairs passed to the <code>ResourceAttributeList</code>
  parameter to maximize the chances of matching.</p> </li> </ul> </important>\";}}s:8:\"required\";a:3:{i:0;s:20:\"ProgressUpdateStream\";i:1;s:17:\"MigrationTaskName\";i:2;s:21:\"ResourceAttributeList\";}s:4:\"type\";s:6:\"object\";}s:27:\"PutResourceAttributesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"ResourceAttribute\";O:8:\"stdClass\":4:{s:11:\"description\";s:570:\"<p>Attribute
  associated with a resource.</p> <p>Note the corresponding format required per type
  listed below:</p> <dl> <dt>IPV4</dt> <dd> <p> <code>x.x.x.x</code> </p> <p> <i>where
  x is an integer in the range [0,255]</i> </p> </dd> <dt>IPV6</dt> <dd> <p> <code>y
  : y : y : y : y : y : y : y</code> </p> <p> <i>where y is a hexadecimal between
  0 and FFFF. [0, FFFF]</i> </p> </dd> <dt>MAC_ADDRESS</dt> <dd> <p> <code>^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$</code>
  </p> </dd> <dt>FQDN</dt> <dd> <p> <code>^[^&lt;&gt;{}\\\\\\\\/?,=\\\\p{Cntrl}]{1,256}$</code>
  </p> </dd> </dl>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ResourceAttributeType\";s:11:\"description\";s:17:\"Type
  of resource.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceAttributeValue\";s:11:\"description\";s:27:\"Value
  of the resource type.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Type\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:21:\"ResourceAttributeList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ResourceAttribute\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:21:\"ResourceAttributeType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:12:\"IPV4_ADDRESS\";i:1;s:12:\"IPV6_ADDRESS\";i:2;s:11:\"MAC_ADDRESS\";i:3;s:4:\"FQDN\";i:4;s:13:\"VM_MANAGER_ID\";i:5;s:27:\"VM_MANAGED_OBJECT_REFERENCE\";i:6;s:7:\"VM_NAME\";i:7;s:7:\"VM_PATH\";i:8;s:7:\"BIOS_ID\";i:9;s:25:\"MOTHERBOARD_SERIAL_NUMBER\";}s:4:\"type\";s:6:\"string\";}s:22:\"ResourceAttributeValue\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:12:\"ResourceName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1600;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:205:\"Exception
  raised when the request references a resource (ADS configuration, update stream,
  migration task, etc.) that does not exist in ADS (Application Discovery Service)
  or in Migration Hub's repository.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ServiceUnavailableException\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Exception
  raised when there is an internal, configuration, or dependency error encountered.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:11:\"NOT_STARTED\";i:1;s:11:\"IN_PROGRESS\";i:2;s:6:\"FAILED\";i:3;s:9:\"COMPLETED\";}s:4:\"type\";s:6:\"string\";}s:12:\"StatusDetail\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:500;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:4:\"Task\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Task
  object encapsulating task information.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"ProgressPercent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ProgressPercent\";s:11:\"description\";s:52:\"Indication
  of the percentage completion of the task.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:56:\"Status
  of the task - Not Started, In-Progress, Complete.\";}s:12:\"StatusDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StatusDetail\";s:11:\"description\";s:195:\"Details
  of task status as notified by a migration tool. A tool might use this field to provide
  clarifying information about the status that is unique to that tool or that explains
  an error state.\";}}s:8:\"required\";a:1:{i:0;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:5:\"Token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"UnauthorizedOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"Exception
  raised to indicate a request was not authorized when the <code>DryRun</code> flag
  is set to \"true\".\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:14:\"UpdateDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}"
...
