---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:103:\"This is a Native
  Ads Publisher API it provides same functionality as Native Ads Publisher Account
  GUI.\n\";s:5:\"title\";s:20:\"Native Ads Publisher\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"marketing\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:100:\"https://api.apis.guru/v2/cache/logo/https_api.nativeads.com_docs_publisher_images_nativeads-logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:53:\"https://api.nativeads.com/docs/publisher/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"nativeads.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"nativeads\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.nativeads.com
paths:
  /auth/default/login:
    post:
      description: Returns Native Ads Publisher API token
      parameters:
      - description: Native Ads Publisher username
        in: formData
        name: username
        required: true
        type: string
      - description: Native Ads Publisher password
        in: formData
        name: password
        required: true
        type: string
      responses:
        200:
          description: authentication response
          schema:
            $ref: '#/definitions/authResponse'
        400:
          description: error message
          schema:
            $ref: '#/definitions/modelError'
      tags:
      - auth
      operationId: auth.default.login.post
  /publisher/reports/daily:
    get:
      description: Returns publisher statistics split by date
      parameters:
      - description: Native Ads Publisher API authentication token
        in: query
        name: token
        required: true
        type: string
      - description: start date in format YYYY-MM-DD
        format: date
        in: query
        name: startDate
        required: true
        type: string
      - description: end date in format YYYY-MM-DD
        format: date
        in: query
        name: endDate
        required: true
        type: string
      - default: 100
        description: maximum number of results per page
        format: int32
        in: query
        name: limit
        required: true
        type: integer
      - default: 1
        description: page number
        format: int32
        in: query
        name: page
        required: true
        type: integer
      responses:
        200:
          description: report response
          schema:
            $ref: '#/definitions/reportsDailyResponse'
        400:
          description: error message
          schema:
            $ref: '#/definitions/modelError'
      tags:
      - reports
      operationId: publisher.reports.daily.get
  /publisher/reports/website:
    get:
      description: Returns publisher statistics split by website
      parameters:
      - description: Native Ads Publisher API authentication token
        in: query
        name: token
        required: true
        type: string
      - description: start date in format YYYY-MM-DD
        format: date
        in: query
        name: startDate
        required: true
        type: string
      - description: end date in format YYYY-MM-DD
        format: date
        in: query
        name: endDate
        required: true
        type: string
      - default: 100
        description: maximum number of results per page
        format: int32
        in: query
        name: limit
        required: true
        type: integer
      - default: 1
        description: page number
        format: int32
        in: query
        name: page
        required: true
        type: integer
      responses:
        200:
          description: report response
          schema:
            $ref: '#/definitions/reportsWebsiteResponse'
        400:
          description: authentication error
          schema:
            $ref: '#/definitions/modelError'
      tags:
      - reports
      operationId: publisher.reports.website.get
  /publisher/reports/widget:
    get:
      description: Returns publisher statistics split by widget
      parameters:
      - description: Native Ads Publisher API authentication token
        in: query
        name: token
        required: true
        type: string
      - description: start date in format YYYY-MM-DD
        format: date
        in: query
        name: startDate
        required: true
        type: string
      - description: end date in format YYYY-MM-DD
        format: date
        in: query
        name: endDate
        required: true
        type: string
      - default: 100
        description: maximum number of results per page
        format: int32
        in: query
        name: limit
        required: true
        type: integer
      - default: 1
        description: page number
        format: int32
        in: query
        name: page
        required: true
        type: integer
      responses:
        200:
          description: report response
          schema:
            $ref: '#/definitions/reportsWidgetResponse'
        400:
          description: authentication error
          schema:
            $ref: '#/definitions/modelError'
      tags:
      - reports
      operationId: publisher.reports.widget.get
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:12:\"authResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"modelError\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:16:\"reportsDailyItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"cpc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ctr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"earnings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"impressions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"net_ecpm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"rpm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"reportsDailyResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/reportsDailyItem\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"total_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"totals\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/totals\";s:4:\"type\";s:6:\"object\";}}}s:18:\"reportsWebsiteItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"cpc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ctr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"earnings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"impressions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"net_ecpm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"rpm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:22:\"reportsWebsiteResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/reportsWebsiteItem\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"total_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"totals\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/totals\";s:4:\"type\";s:6:\"object\";}}}s:17:\"reportsWidgetItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"campaign\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"widget
  name\";s:4:\"type\";s:6:\"string\";}s:11:\"campaign_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"widget
  id\";s:4:\"type\";s:6:\"string\";}s:6:\"clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"cpc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ctr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"earnings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"impressions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"net_ecpm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"rpm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"reportsWidgetResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/reportsWidgetItem\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"total_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"totals\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/totals\";s:4:\"type\";s:6:\"object\";}}}s:6:\"totals\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"total_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"total_cpc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"total_ctr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"total_earnings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"total_impressions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"total_net_ecpm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"total_rpm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
