---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:16:\"Article Analysis\";s:11:\"description\";s:710:\"100%
  Free API. Extract and analyse articles from: links, RSS feeds or text.  Partial
  to full-text RSS, article classification, summaries, author, content wrapper extraction,
  keywords, entities and more.\r\n\r\nThis API intends to extract relevant features
  from articles so you can enhance your applications. Particularly, the features that
  we extract from articles are:  title, author, published date (only RSS),  category/ies
  of the articles, keywords and bigrams, entities, main content (HTML wrapper and
  cleaned text), main image, summary (4-5 most relevant sentences) and language detection
  (97 languages).\r\n\r\nResearch paper: http://arxiv.org/abs/1504.01433\r\nCode:
  https://github.com/webeng/feature_engineering\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"adlegant\";s:3:\"url\";s:19:\"http://adlegant.com\";}s:7:\"version\";N;s:6:\"x-logo\";s:86:\"https://s3.amazonaws.com/mashape-production-logos/apis/54357633e4b0fd571973da77_medium\";s:20:\"x-mashape-categories\";a:2:{i:0;s:4:\"Data\";i:1;s:11:\"Advertising\";}s:8:\"x-origin\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"mashape\";s:3:\"url\";s:52:\"https://market.mashape.com/adlegant/article-analysis\";}}"
host: joanfihu-article-analysis-v1.p.mashape.com
basePath: ""
paths:
  /link:
    get:
      description: 'Extract features from the given url: title, text, summary, main
        image, keywords, entities, etc. Note: if you use the unirest library, you
        will have to change the timeout to 240+. Python example: unirest.timeout(240)'
      operationId: article-analysis
      produces:
      - application/json
      parameters:
      - name: entity_description
        in: query
        description: Look up entities on DBPedia. It will take a little longer to
          analyse the article.
      - name: link
        in: query
        description: Link of the article you want to analyse. Use /text if you want
          to analyse text
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /author:
    get:
      description: Extracts the author of an article
      operationId: author
      parameters:
      - name: link
        in: query
        description: ""
        required: true
  /text_classification:
    post:
      description: Classifies an article according to the IPTC news taxonomy.
      operationId: classification
      consumes:
      - application/json
  /detect_rss:
    get:
      description: Detect RSS feeds in a page
      operationId: detect-rss-feed
      parameters:
      - name: link
        in: query
        description: Link of the page you want to find feeds
        required: true
  /entity_extraction:
    post:
      description: Extract entities from a piece of text or link.
      operationId: entity-extraction
      consumes:
      - application/json
  /full_text:
    get:
      description: 'Improves the data quality of a RSS feed. Extracts missing values
        such as: keywords, categories, full content, author, etc. Be patient, this
        task might take a few minutes to complete. Set a sensible timeout e.g -> 240
        seconds. if you use the unirest library, you will have to change the timeout
        to 240+. Python example: unirest.timeout(240)'
      operationId: full-text-rss
      produces:
      - application/json
      parameters:
      - name: feed
        in: query
        description: Feed URL to improve data quality.
        required: true
      - name: format
        in: query
        description: 'Format of the output: rss or json'
      - name: limit
        in: query
        description: Number of items you want to extract from the feed. If omitted,
          up to 50 items will be processed.
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /language_detection:
    post:
      description: This method detects the language of a text. It detects up to 98
        languages.
      operationId: language-detection
      consumes:
      - application/json
  /summarize:
    post:
      description: Summarize an article into the most relevant sentences. The results
        are order by relevance, thus top sentences are more important.
      operationId: summarize
      consumes:
      - application/json
  /text:
    post:
      description: 'This method analyses a piece of text and returns relevant features
        such as: keywords and bigrams, language, category/ies and summary.  Note:
        if you use the unirest library, you will have to change the timeout to 240+.
        Python example: unirest.timeout(240)'
      operationId: text-analysis
      consumes:
      - application/json
definitions: !php/object "O:8:\"stdClass\":11:{s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:1:\"0\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"#/definitions/0\";}s:1:\"1\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"#/definitions/1\";}s:1:\"2\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"#/definitions/2\";}s:1:\"3\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"#/definitions/3\";}s:1:\"4\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"#/definitions/4\";}s:1:\"5\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"#/definitions/5\";}s:1:\"6\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"#/definitions/6\";}s:1:\"7\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"#/definitions/7\";}s:1:\"8\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"#/definitions/8\";}s:1:\"9\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:15:\"#/definitions/9\";}}}s:1:\"3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"content_cleaned\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"qualityScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"summaries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:1:\"2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"content_cleaned\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"qualityScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"summaries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:1:\"1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"content_cleaned\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"qualityScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"summaries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:1:\"0\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"content_cleaned\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"qualityScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"summaries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:1:\"7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"content_cleaned\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"qualityScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"summaries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:1:\"6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"content_cleaned\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"qualityScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"summaries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:1:\"5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"content_cleaned\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"qualityScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"summaries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:1:\"4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"content_cleaned\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"qualityScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"summaries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:1:\"9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"content_cleaned\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"qualityScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"summaries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:1:\"8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"content_cleaned\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"qualityScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"summaries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
