---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:37:\"Builds
  container images in the cloud.\";s:5:\"title\";s:23:\"Cloud Container Builder\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:60:\"https://cloudbuild.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:10:\"cloudbuild\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"google_cloudbuild\";s:4:\"type\";s:7:\"openapi\";}}"
host: cloudbuild.googleapis.com
basePath: /
paths:
  /v1/projects/{projectId}/builds:
    get:
      description: Lists previously requested builds.nnPreviously requested builds
        may still be in-progress, or may have finishednsuccessfully or unsuccessfully.
      operationId: projects.builds.list
      parameters:
      - description: The raw filter text to constrain the results.
        in: query
        name: filter
        type: string
      - description: Number of results to return in the list.
        in: query
        name: pageSize
        type: integer
      - description: Token to provide to skip to a particular spot in the list.
        in: query
        name: pageToken
        type: string
      - description: ID of the project.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListBuildsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Starts a build with the specified configuration.nnThis method returns
        a long-running `Operation`, which includes the buildnID. Pass the build ID
        to `GetBuild` to determine the build status (such asn`SUCCESS` or `FAILURE`).
      operationId: projects.builds.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Build'
      - description: ID of the project.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /v1/projects/{projectId}/builds/{id}:
    get:
      description: Returns information about a previously requested build.nnThe `Build`
        that is returned includes its status (such as `SUCCESS`,n`FAILURE`, or `WORKING`),
        and timing information.
      operationId: projects.builds.get
      parameters:
      - description: ID of the build.
        in: path
        name: id
        required: true
        type: string
      - description: ID of the project.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Build'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1/projects/{projectId}/builds/{id}:cancel:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Cancels a build in progress.
      operationId: projects.builds.cancel
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CancelBuildRequest'
      - description: ID of the build.
        in: path
        name: id
        required: true
        type: string
      - description: ID of the project.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Build'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /v1/projects/{projectId}/builds/{id}:retry:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a new build based on the specified build.nnThis method
        creates a new build using the original build request, which maynor may not
        result in an identical build.nnFor triggered builds:nn* Triggered builds resolve
        to a precise revision; therefore a retry of antriggered build will result
        in a build that uses the same revision.nnFor non-triggered builds that specify
        `RepoSource`:nn* If the original build built from the tip of a branch, the
        retried buildnwill build from the tip of that branch, which may not be the
        same revisionnas the original build.n* If the original build specified a commit
        sha or revision ID, the retriednbuild will use the identical source.nnFor
        builds that specify `StorageSource`:nn* If the original build pulled source
        from Google Cloud Storage withoutnspecifying the generation of the object,
        the new build will use the currentnobject, which may be different from the
        original build source.n* If the original build pulled source from Cloud Storage
        and specified thengeneration of the object, the new build will attempt to
        use the samenobject, which may or may not be available depending on the bucket'snlifecycle
        management settings.
      operationId: projects.builds.retry
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/RetryBuildRequest'
      - description: Build ID of the original build.
        in: path
        name: id
        required: true
        type: string
      - description: ID of the project.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /v1/projects/{projectId}/triggers:
    get:
      description: Lists existing `BuildTrigger`s.nnThis API is experimental.
      operationId: projects.triggers.list
      parameters:
      - description: ID of the project for which to list BuildTriggers.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListBuildTriggersResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a new `BuildTrigger`.nnThis API is experimental.
      operationId: projects.triggers.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/BuildTrigger'
      - description: ID of the project for which to configure automatic builds.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/BuildTrigger'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /v1/projects/{projectId}/triggers/{triggerId}:
    delete:
      description: Deletes a `BuildTrigger` by its project ID and trigger ID.nnThis
        API is experimental.
      operationId: projects.triggers.delete
      parameters:
      - description: ID of the project that owns the trigger.
        in: path
        name: projectId
        required: true
        type: string
      - description: ID of the `BuildTrigger` to delete.
        in: path
        name: triggerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    get:
      description: Returns information about a `BuildTrigger`.nnThis API is experimental.
      operationId: projects.triggers.get
      parameters:
      - description: ID of the project that owns the trigger.
        in: path
        name: projectId
        required: true
        type: string
      - description: ID of the `BuildTrigger` to get.
        in: path
        name: triggerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/BuildTrigger'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    patch:
      description: Updates a `BuildTrigger` by its project ID and trigger ID.nnThis
        API is experimental.
      operationId: projects.triggers.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/BuildTrigger'
      - description: ID of the project that owns the trigger.
        in: path
        name: projectId
        required: true
        type: string
      - description: ID of the `BuildTrigger` to update.
        in: path
        name: triggerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/BuildTrigger'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /v1/projects/{projectId}/triggers/{triggerId}:run:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Runs a `BuildTrigger` at a particular source revision.
      operationId: projects.triggers.run
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/RepoSource'
      - description: ID of the project.
        in: path
        name: projectId
        required: true
        type: string
      - description: ID of the trigger.
        in: path
        name: triggerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /v1/{name}:
    get:
      description: Gets the latest state of a long-running operation.  Clients can
        use thisnmethod to poll the operation result at intervals as recommended by
        the APInservice.
      operationId: operations.get
      parameters:
      - description: The name of the operation resource.
        in: path
        name: name
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - operations
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1/{name}:cancel:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Starts asynchronous cancellation on a long-running operation.  The
        servernmakes a best effort to cancel the operation, but success is notnguaranteed.  If
        the server doesn't support this method, it returnsn`google.rpc.Code.UNIMPLEMENTED`.  Clients
        can usenOperations.GetOperation ornother methods to check whether the cancellation
        succeeded or whether thenoperation completed despite cancellation. On successful
        cancellation,nthe operation is not deleted; instead, it becomes an operation
        withnan Operation.error value with a google.rpc.Status.code of 1,ncorresponding
        to `Code.CANCELLED`.
      operationId: operations.cancel
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CancelOperationRequest'
      - description: The name of the operation resource to be cancelled.
        in: path
        name: name
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - operations
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":28:{s:15:\"ArtifactObjects\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Files
  in the workspace to upload to Cloud Storage upon successful\ncompletion of all build
  steps.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:308:\"Cloud
  Storage bucket and optional object path, in the form\n\"gs://bucket/path/to/somewhere/\".
  (see [Bucket Name\nRequirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).\n\nFiles
  in the workspace matching any path pattern will be uploaded to\nCloud Storage with
  this location as a prefix.\";s:4:\"type\";s:6:\"string\";}s:5:\"paths\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Path
  globs used to match files in the build's workspace.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"timing\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TimeSpan\";s:11:\"description\";s:71:\"Stores
  timing information for pushing all artifact objects.\n@OutputOnly\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ArtifactResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"An
  artifact that was uploaded during a build. This\nis a single record in the artifact
  manifest JSON file.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"fileHash\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  file hash of the artifact.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FileHashes\";}s:4:\"type\";s:5:\"array\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"The
  path of an artifact in a Google Cloud Storage bucket, with the\ngeneration number.
  For example,\n`gs://mybucket/path/to/output.jar#generation`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Artifacts\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Artifacts
  produced by a build that should be uploaded upon\nsuccessful completion of all build
  steps.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:314:\"A
  list of images to be pushed upon the successful completion of all build\nsteps.\n\nThe
  images will be pushed using the builder service account's credentials.\n\nThe digests
  of the pushed images will be stored in the Build resource's\nresults field.\n\nIf
  any of the images fail to be pushed, the build is marked FAILURE.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"objects\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ArtifactObjects\";s:11:\"description\";s:428:\"A
  list of objects to be uploaded to Cloud Storage upon successful\ncompletion of all
  build steps.\n\nFiles in the workspace matching specified paths globs will be uploaded
  to\nthe specified Cloud Storage location using the builder service account's\ncredentials.\n\nThe
  location and generation of the uploaded objects will be stored in the\nBuild resource's
  results field.\n\nIf any objects fail to be pushed, the build is marked FAILURE.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Build\";O:8:\"stdClass\":3:{s:11:\"description\";s:767:\"A
  build resource in the Container Builder API.\n\nAt a high level, a `Build` describes
  where to find source code, how to build\nit (for example, the builder image to run
  on the source), and where to store\nthe built artifacts.\n\nFields can include the
  following variables, which will be expanded when the\nbuild is created:\n\n- $PROJECT_ID:
  the project ID of the build.\n- $BUILD_ID: the autogenerated ID of the build.\n-
  $REPO_NAME: the source repository name specified by RepoSource.\n- $BRANCH_NAME:
  the branch name specified by RepoSource.\n- $TAG_NAME: the tag name specified by
  RepoSource.\n- $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource
  or\n  resolved from the specified branch or tag.\n- $SHORT_SHA: first 7 characters
  of $REVISION_ID or $COMMIT_SHA.\";s:10:\"properties\";O:8:\"stdClass\":22:{s:9:\"artifacts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Artifacts\";s:11:\"description\";s:102:\"Artifacts
  produced by the build that should be uploaded upon\nsuccessful completion of all
  build steps.\";}s:14:\"buildTriggerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"The
  ID of the `BuildTrigger` that triggered this build, if it was\ntriggered automatically.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Time
  at which the request to create the build was received.\n@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:10:\"finishTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"Time
  at which execution of the build was finished.\n\nThe difference between finish_time
  and start_time is the duration of the\nbuild's execution.\n@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Unique
  identifier of the build.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:321:\"A
  list of images to be pushed upon the successful completion of all build\nsteps.\n\nThe
  images are pushed using the builder service account's credentials.\n\nThe digests
  of the pushed images will be stored in the `Build` resource's\nresults field.\n\nIf
  any of the images fail to be pushed, the build status is marked\n`FAILURE`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"logUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"URL
  to logs for this build in Google Cloud Console.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:10:\"logsBucket\";O:8:\"stdClass\":2:{s:11:\"description\";s:232:\"Google
  Cloud Storage bucket where logs should be written (see\n[Bucket Name\nRequirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).\nLogs
  file names will be of the format `${logs_bucket}/log-${build_id}.txt`.\";s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BuildOptions\";s:11:\"description\";s:31:\"Special
  options for this build.\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"ID
  of the project.\n@OutputOnly.\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Results\";s:11:\"description\";s:33:\"Results
  of the build.\n@OutputOnly\";}s:7:\"secrets\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Secrets
  to decrypt using Cloud Key Management Service.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Secret\";}s:4:\"type\";s:5:\"array\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Source\";s:11:\"description\";s:42:\"The
  location of the source files to build.\";}s:16:\"sourceProvenance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SourceProvenance\";s:11:\"description\";s:52:\"A
  permanent fixed identifier for source.\n@OutputOnly\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Time
  at which execution of the build was started.\n@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Status
  of the build.\n@OutputOnly\";s:4:\"enum\";a:8:{i:0;s:14:\"STATUS_UNKNOWN\";i:1;s:6:\"QUEUED\";i:2;s:7:\"WORKING\";i:3;s:7:\"SUCCESS\";i:4;s:7:\"FAILURE\";i:5;s:14:\"INTERNAL_ERROR\";i:6;s:7:\"TIMEOUT\";i:7;s:9:\"CANCELLED\";}s:4:\"type\";s:6:\"string\";}s:12:\"statusDetail\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Customer-readable
  message about the current status.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:5:\"steps\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Required.
  The operations to be performed on the workspace.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/BuildStep\";}s:4:\"type\";s:5:\"array\";}s:13:\"substitutions\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:40:\"Substitutions
  data for `Build` resource.\";s:4:\"type\";s:6:\"object\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Tags
  for annotation of a `Build`. These are not docker tags.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"timeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:210:\"Amount
  of time that this build should be allowed to run, to second\ngranularity. If this
  amount of time elapses, work on the build will cease\nand the build status will
  be `TIMEOUT`.\n\nDefault time is ten minutes.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:6:\"timing\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TimeSpan\";}s:11:\"description\";s:282:\"Stores
  timing information for phases of the build. Valid keys are:\n\n* BUILD: time to
  execute all build steps\n* PUSH: time to push all specified images.\n* FETCHSOURCE:
  time to fetch source.\n\nIf the build does not specify source or images,\nthese
  keys will not be included.\n@OutputOnly\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:22:\"BuildOperationMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Metadata
  for build operations.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"build\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Build\";s:11:\"description\";s:41:\"The
  build that the operation is tracking.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"BuildOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Optional
  arguments to enable specific features of builds.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"diskSizeGb\";O:8:\"stdClass\":3:{s:11:\"description\";s:417:\"Requested
  disk size for the VM that runs the build. Note that this is *NOT*\n\"disk free\";
  some of the space will be used by the operating system and\nbuild utilities. Also
  note that this is the minimum disk size that will be\nallocated for the build --
  the build may run with a larger disk than\nrequested. At present, the maximum disk
  size is 1000GB; builds that request\nmore than the maximum are rejected with an
  error.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:18:\"logStreamingOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Option
  to define build log streaming behavior to Google Cloud\nStorage.\";s:4:\"enum\";a:3:{i:0;s:14:\"STREAM_DEFAULT\";i:1;s:9:\"STREAM_ON\";i:2;s:10:\"STREAM_OFF\";}s:4:\"type\";s:6:\"string\";}s:11:\"machineType\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Compute
  Engine machine type on which to run the build.\";s:4:\"enum\";a:3:{i:0;s:11:\"UNSPECIFIED\";i:1;s:12:\"N1_HIGHCPU_8\";i:2;s:13:\"N1_HIGHCPU_32\";}s:4:\"type\";s:6:\"string\";}s:21:\"requestedVerifyOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Requested
  verifiability options.\";s:4:\"enum\";a:2:{i:0;s:12:\"NOT_VERIFIED\";i:1;s:8:\"VERIFIED\";}s:4:\"type\";s:6:\"string\";}s:20:\"sourceProvenanceHash\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Requested
  hash for SourceProvenance.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"NONE\";i:1;s:6:\"SHA256\";i:2;s:3:\"MD5\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:18:\"substitutionOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Option
  to specify behavior when there is an error in the substitution\nchecks.\";s:4:\"enum\";a:2:{i:0;s:10:\"MUST_MATCH\";i:1;s:11:\"ALLOW_LOOSE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"BuildStep\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  step in the build pipeline.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"args\";O:8:\"stdClass\":3:{s:11:\"description\";s:335:\"A
  list of arguments that will be presented to the step when it is started.\n\nIf the
  image used to run the step's container has an entrypoint, the `args`\nare used as
  arguments to that entrypoint. If the image does not define\nan entrypoint, the first
  element in args is used as the entrypoint,\nand the remainder will be used as arguments.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"dir\";O:8:\"stdClass\":2:{s:11:\"description\";s:525:\"Working
  directory to use when running this step's container.\n\nIf this value is a relative
  path, it is relative to the build's working\ndirectory. If this value is absolute,
  it may be outside the build's working\ndirectory, in which case the contents of
  the path may not be persisted\nacross build step executions, unless a `volume` for
  that path is specified.\n\nIf the build specifies a `RepoSource` with `dir` and
  a step with a `dir`,\nwhich specifies an absolute path, the `RepoSource` `dir` is
  ignored for\nthe step's execution.\";s:4:\"type\";s:6:\"string\";}s:10:\"entrypoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"Entrypoint
  to be used instead of the build step image's default entrypoint.\nIf unset, the
  image's default entrypoint is used.\";s:4:\"type\";s:6:\"string\";}s:3:\"env\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"A
  list of environment variable definitions to be used when running a step.\n\nThe
  elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\"\nbeing
  given the value \"VALUE\".\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Unique
  identifier for this build step, used in `wait_for` to\nreference this build step
  as a dependency.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:851:\"Required.
  The name of the container image that will run this particular\nbuild step.\n\nIf
  the image is available in the host's Docker daemon's cache, it\nwill be run directly.
  If not, the host will attempt to pull the image\nfirst, using the builder service
  account's credentials if necessary.\n\nThe Docker daemon's cache will already have
  the latest versions of all of\nthe officially supported build steps\n([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)).\nThe
  Docker daemon will also have cached many of the layers for some popular\nimages,
  like \"ubuntu\", \"debian\", but they will be refreshed at the time you\nattempt
  to use them.\n\nIf you built an image in a previous build step, it will be stored
  in the\nhost's Docker daemon's cache and is available to use as the name for a\nlater
  build step.\";s:4:\"type\";s:6:\"string\";}s:9:\"secretEnv\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"A
  list of environment variables which are encrypted using a Cloud Key\nManagement
  Service crypto key. These values must be specified in the\nbuild's `Secret`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"Status
  of the build step. At this time, build step status is only updated\non build completion;
  step status is not updated in real-time as the build\nprogresses.\n@OutputOnly\";s:4:\"enum\";a:8:{i:0;s:14:\"STATUS_UNKNOWN\";i:1;s:6:\"QUEUED\";i:2;s:7:\"WORKING\";i:3;s:7:\"SUCCESS\";i:4;s:7:\"FAILURE\";i:5;s:14:\"INTERNAL_ERROR\";i:6;s:7:\"TIMEOUT\";i:7;s:9:\"CANCELLED\";}s:4:\"type\";s:6:\"string\";}s:7:\"timeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:180:\"Time
  limit for executing this build step. If not defined, the step has no\ntime limit
  and will be allowed to continue to run until either it completes\nor the build itself
  times out.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:6:\"timing\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TimeSpan\";s:11:\"description\";s:68:\"Stores
  timing information for executing this build step.\n@OutputOnly\";}s:7:\"volumes\";O:8:\"stdClass\":3:{s:11:\"description\";s:314:\"List
  of volumes to mount into the build step.\n\nEach volume will be created as an empty
  volume prior to execution of the\nbuild step. Upon completion of the build, volumes
  and their contents will\nbe discarded.\n\nUsing a named volume in only one step
  is not valid as it is indicative\nof a mis-configured build request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Volume\";}s:4:\"type\";s:5:\"array\";}s:7:\"waitFor\";O:8:\"stdClass\":3:{s:11:\"description\";s:293:\"The
  ID(s) of the step(s) that this build step depends on.\nThis build step will not
  start until all the build steps in `wait_for`\nhave completed successfully. If `wait_for`
  is empty, this build step will\nstart when all previous build steps in the `Build.Steps`
  list have\ncompleted successfully.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"BuildTrigger\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Configuration
  for an automated build in response to source repository\nchanges.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"build\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Build\";s:11:\"description\";s:31:\"Contents
  of the build template.\";}s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Time
  when the trigger was created.\n\n@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Human-readable
  description of this trigger.\";s:4:\"type\";s:6:\"string\";}s:8:\"disabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"If
  true, the trigger will never result in a build.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"filename\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Path,
  from the source root, to a file whose contents is used for the\ntemplate.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Unique
  identifier of the trigger.\n\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:13:\"substitutions\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:38:\"Substitutions
  data for Build resource.\";s:4:\"type\";s:6:\"object\";}s:15:\"triggerTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RepoSource\";s:11:\"description\";s:234:\"Template
  describing the types of source changes to trigger a build.\n\nBranch and tag names
  in trigger templates are interpreted as regular\nexpressions. Any branch or tag
  change that matches that regular expression\nwill trigger a build.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"BuiltImage\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"An
  image built by the pipeline.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"digest\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Docker
  Registry 2.0 digest.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Name
  used to push the container image to Google Container Registry, as\npresented to
  `docker push`.\";s:4:\"type\";s:6:\"string\";}s:10:\"pushTiming\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TimeSpan\";s:11:\"description\";s:70:\"Stores
  timing information for pushing the specified image.\n@OutputOnly\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CancelBuildRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Request
  to cancel an ongoing build.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"CancelOperationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  request message for Operations.CancelOperation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is
  empty JSON object `{}`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"FileHashes\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"Container
  message for hashes of byte content of files, used in\nSourceProvenance messages
  to verify integrity of source input to the build.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"fileHash\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Collection
  of file hashes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Hash\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Hash\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Container
  message for hash values.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  type of hash that was performed.\";s:4:\"enum\";a:3:{i:0;s:4:\"NONE\";i:1;s:6:\"SHA256\";i:2;s:3:\"MD5\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  hash value.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListBuildTriggersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Response
  containing existing `BuildTriggers`.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"triggers\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"`BuildTriggers`
  for the project, sorted by `create_time` descending.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BuildTrigger\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListBuildsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Response
  including listed builds.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"builds\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Builds
  will be sorted by `create_time`, descending.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Token
  to receive the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListOperationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  response message for Operations.ListOperations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  standard List next-page token.\";s:4:\"type\";s:6:\"string\";}s:10:\"operations\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  list of operations that matches the specified filter in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"This
  resource represents a long-running operation that is the result of a\nnetwork API
  call.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"done\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"If
  the value is `false`, it means the operation is still in progress.\nIf `true`, the
  operation is completed, and either `error` or `response` is\navailable.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:69:\"The
  error result of the operation in case of failure or cancellation.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:281:\"Service-specific
  metadata associated with the operation.  It typically\ncontains progress information
  and common metadata such as create time.\nSome services might not provide such metadata.
  \ Any method that returns a\nlong-running operation should document the metadata
  type, if any.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:203:\"The
  server-assigned name, which is only unique within the same service that\noriginally
  returns it. If you use the default HTTP mapping, the\n`name` should have the format
  of `operations/some/unique/name`.\";s:4:\"type\";s:6:\"string\";}s:8:\"response\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:492:\"The
  normal response of the operation in case of success.  If the original\nmethod returns
  no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.
  \ If the original method is standard\n`Get`/`Create`/`Update`, the response should
  be the resource.  For other\nmethods, the response should have the type `XxxResponse`,
  where `Xxx`\nis the original method name.  For example, if the original method name\nis
  `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:10:\"RepoSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Location
  of the source in a Google Cloud Source Repository.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"branchName\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Name
  of the branch to build.\";s:4:\"type\";s:6:\"string\";}s:9:\"commitSha\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Explicit
  commit SHA to build.\";s:4:\"type\";s:6:\"string\";}s:3:\"dir\";O:8:\"stdClass\":2:{s:11:\"description\";s:202:\"Directory,
  relative to the source root, in which to run the build.\n\nThis must be a relative
  path. If a step's `dir` is specified and is an\nabsolute path, this value is ignored
  for that step's execution.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"ID
  of the project that owns the Cloud Source Repository. If omitted, the\nproject ID
  requesting the build is assumed.\";s:4:\"type\";s:6:\"string\";}s:8:\"repoName\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Name
  of the Cloud Source Repository. If omitted, the name \"default\" is\nassumed.\";s:4:\"type\";s:6:\"string\";}s:7:\"tagName\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Name
  of the tag to build.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Results\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Artifacts
  created by the build pipeline.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"artifactManifest\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Path
  to the artifact manifest. Only populated when artifacts are uploaded.\";s:4:\"type\";s:6:\"string\";}s:15:\"buildStepImages\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"List
  of build step digests, in the order corresponding to build step\nindices.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Container
  images that were built as a part of the build.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/BuiltImage\";}s:4:\"type\";s:5:\"array\";}s:12:\"numArtifacts\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Number
  of artifacts uploaded. Only populated when artifacts are uploaded.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"RetryBuildRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Specifies
  a build to retry.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:6:\"Secret\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Pairs
  a set of secret environment variables containing encrypted\nvalues with the Cloud
  KMS key to use to decrypt the value.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"kmsKeyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Cloud
  KMS key name to use to decrypt these envs.\";s:4:\"type\";s:6:\"string\";}s:9:\"secretEnv\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:287:\"Map
  of environment variable name to its encrypted value.\n\nSecret environment variables
  must be unique across all of a build's\nsecrets, and must be used by at least one
  build step. Values can be at most\n1 KB in size. There can be at most ten secret
  values across all of a\nbuild's secrets.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Source\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Location
  of the source in a supported storage service.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"repoSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RepoSource\";s:11:\"description\";s:76:\"If
  provided, get the source from this location in a Cloud Source\nRepository.\";}s:13:\"storageSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StorageSource\";s:11:\"description\";s:71:\"If
  provided, get the source from this location in Google Cloud Storage.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"SourceProvenance\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"Provenance
  of the source. Ways to find the original source, or verify that\nsome source was
  used for this build.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"fileHashes\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FileHashes\";}s:11:\"description\";s:493:\"Hash(es)
  of the build source, which can be used to verify that the original\nsource integrity
  was maintained in the build. Note that `FileHashes` will\nonly be populated if `BuildOptions`
  has requested a `SourceProvenanceHash`.\n\nThe keys to this map are file paths used
  as build source and the values\ncontain the hash values for those files.\n\nIf the
  build source came in a single package such as a gzipped tarfile\n(`.tar.gz`), the
  `FileHash` will be for the single path to that file.\n@OutputOnly\";s:4:\"type\";s:6:\"object\";}s:18:\"resolvedRepoSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RepoSource\";s:11:\"description\";s:83:\"A
  copy of the build's `source.repo_source`, if exists, with any\nrevisions resolved.\";}s:21:\"resolvedStorageSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StorageSource\";s:11:\"description\";s:88:\"A
  copy of the build's `source.storage_source`, if exists, with any\ngenerations resolved.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2437:\"The
  `Status` type defines a logical error model that is suitable for different\nprogramming
  environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc).
  The error model is designed to be:\n\n- Simple to use and understand for most users\n-
  Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains
  three pieces of data: error code, error message,\nand error details. The error code
  should be an enum value of\ngoogle.rpc.Code, but it may accept additional error
  codes if needed.  The\nerror message should be a developer-facing English message
  that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror
  message is needed, put the localized message in the error details or\nlocalize it
  in the client. The optional error details may contain arbitrary\ninformation about
  the error. There is a predefined set of error detail types\nin the package `google.rpc`
  that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status`
  message is the logical representation of the error model, but it\nis not necessarily
  the actual wire format. When the `Status` message is\nexposed in different client
  libraries and different wire protocols, it can be\nmapped differently. For example,
  it will likely be mapped to some exceptions\nin Java, but more likely mapped to
  some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message
  can be used in a variety of\nenvironments, either with or without APIs, to provide
  a\nconsistent developer experience across different environments.\n\nExample uses
  of this error model include:\n\n- Partial errors. If a service needs to return partial
  errors to the client,\n    it may embed the `Status` in the normal response to indicate
  the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps.
  Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations.
  If a client uses batch request and batch response, the\n    `Status` message should
  be used directly inside batch response, one for\n    each error sub-response.\n\n-
  Asynchronous operations. If an API call embeds asynchronous operation\n    results
  in its response, the status of those operations should be\n    represented directly
  using the `Status` message.\n\n- Logging. If some API errors are stored in logs,
  the message `Status` could\n    be used directly after any stripping needed for
  security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"A
  list of messages that carry the error details.  There is a common set of\nmessage
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any\nuser-facing error
  message should be localized and sent in the\ngoogle.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"StorageSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Location
  of the source in an archive file in Google Cloud Storage.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"bucket\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"Google
  Cloud Storage bucket containing the source (see\n[Bucket Name\nRequirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).\";s:4:\"type\";s:6:\"string\";}s:10:\"generation\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"Google
  Cloud Storage generation for the object. If the generation is\nomitted, the latest
  generation will be used.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"object\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Google
  Cloud Storage object containing the source.\n\nThis object must be a gzipped archive
  file (`.tar.gz`) containing source to\nbuild.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"TimeSpan\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Start
  and end times for a build execution phase.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"End
  of time span.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Start
  of time span.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Volume\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Volume
  describes a Docker container volume which is mounted into build steps\nin order
  to persist files across build step execution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"Name
  of the volume to mount.\n\nVolume names must be unique per build step and must be
  valid names for\nDocker volumes. Each named volume must be used by at least two
  build steps.\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"Path
  at which to mount the volume.\n\nPaths must be absolute and cannot conflict with
  other volume paths on the\nsame build step or with certain reserved volume paths.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
