---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:15:\"Clinical Trials\";s:11:\"description\";s:187:\"An
  auto generated OpenAPISpec from clinical_trials. This API is currently 100% publicly
  available, while we are in a beta phase, but will soon be requiring a key for heavier
  rates of use.\";s:14:\"termsOfService\";s:20:\"Going to need a TOS!\";s:7:\"version\";s:2:\"v1\";}"
host: clinical.trials.api.adopta.agency
basePath: /
paths:
  /arm_groups/:
    get:
      summary: get arm_groups
      description: Needs a description.
      operationId: getArmGroups
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: arm_groups response
          schema:
            type: array
            items:
              $ref: '#/definitions/arm_groups'
      tags:
      - Arm Groups
    post:
      summary: add arm_groups
      description: Needs a description.
      operationId: addArmGroups
      parameters:
      - name: arm_group_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: arm_group_label
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: arm_group_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: description
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: group_id
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: arm_groups response
          schema:
            type: array
            items:
              $ref: '#/definitions/arm_groups'
      tags:
      - Arm Groups
  /arm_groups/{id}/:
    get:
      summary: get arm_groups
      description: Needs a description.
      operationId: getIndividualArmGroups
      parameters:
      - name: id
        in: path
        description: the id for the arm_groups
        required: true
        type: integer
      responses:
        200:
          description: arm_groups response
          schema:
            type: array
            items:
              $ref: '#/definitions/arm_groups'
      tags:
      - Arm Groups
    put:
      summary: update arm_groups
      description: Needs a description.
      operationId: updateArmGroups
      parameters:
      - name: id
        in: path
        description: the id for the arm_groups
        required: true
        type: integer
      - name: arm_group_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: arm_group_label
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: arm_group_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: description
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: group_id
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: arm_groups response
          schema:
            type: array
            items:
              $ref: '#/definitions/arm_groups'
      tags:
      - Arm Groups
    delete:
      summary: delete arm_groups
      description: Needs a description.
      operationId: deleteArmGroups
      parameters:
      - name: id
        in: path
        description: the id for the arm_groups
        required: true
        type: integer
      responses:
        200:
          description: arm_groups response
          schema:
            type: array
            items:
              $ref: '#/definitions/arm_groups'
      tags:
      - Arm Groups
  /authorities/:
    get:
      summary: get authorities
      description: Needs a description.
      operationId: getAuthorities
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: authorities response
          schema:
            type: array
            items:
              $ref: '#/definitions/authorities'
      tags:
      - Authorities
    post:
      summary: add authorities
      description: Needs a description.
      operationId: addAuthorities
      parameters:
      - name: authority_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: authority
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: authorities response
          schema:
            type: array
            items:
              $ref: '#/definitions/authorities'
      tags:
      - Authorities
  /authorities/{id}/:
    get:
      summary: get authorities
      description: Needs a description.
      operationId: getIndividualAuthorities
      parameters:
      - name: id
        in: path
        description: the id for the authorities
        required: true
        type: integer
      responses:
        200:
          description: authorities response
          schema:
            type: array
            items:
              $ref: '#/definitions/authorities'
      tags:
      - Authorities
    put:
      summary: update authorities
      description: Needs a description.
      operationId: updateAuthorities
      parameters:
      - name: id
        in: path
        description: the id for the authorities
        required: true
        type: integer
      - name: authority_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: authority
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: authorities response
          schema:
            type: array
            items:
              $ref: '#/definitions/authorities'
      tags:
      - Authorities
    delete:
      summary: delete authorities
      description: Needs a description.
      operationId: deleteAuthorities
      parameters:
      - name: id
        in: path
        description: the id for the authorities
        required: true
        type: integer
      responses:
        200:
          description: authorities response
          schema:
            type: array
            items:
              $ref: '#/definitions/authorities'
      tags:
      - Authorities
  /central_contacts/:
    get:
      summary: get central_contacts
      description: Needs a description.
      operationId: getCentralContacts
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: central_contacts response
          schema:
            type: array
            items:
              $ref: '#/definitions/central_contacts'
      tags:
      - Central Contacts
    post:
      summary: add central_contacts
      description: Needs a description.
      operationId: addCentralContacts
      parameters:
      - name: central_contact_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: contact_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: name_degree
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: phone
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: phone_ext
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: email
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: central_contacts response
          schema:
            type: array
            items:
              $ref: '#/definitions/central_contacts'
      tags:
      - Central Contacts
  /central_contacts/{id}/:
    get:
      summary: get central_contacts
      description: Needs a description.
      operationId: getIndividualCentralContacts
      parameters:
      - name: id
        in: path
        description: the id for the central_contacts
        required: true
        type: integer
      responses:
        200:
          description: central_contacts response
          schema:
            type: array
            items:
              $ref: '#/definitions/central_contacts'
      tags:
      - Central Contacts
    put:
      summary: update central_contacts
      description: Needs a description.
      operationId: updateCentralContacts
      parameters:
      - name: id
        in: path
        description: the id for the central_contacts
        required: true
        type: integer
      - name: central_contact_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: contact_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: name_degree
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: phone
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: phone_ext
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: email
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: central_contacts response
          schema:
            type: array
            items:
              $ref: '#/definitions/central_contacts'
      tags:
      - Central Contacts
    delete:
      summary: delete central_contacts
      description: Needs a description.
      operationId: deleteCentralContacts
      parameters:
      - name: id
        in: path
        description: the id for the central_contacts
        required: true
        type: integer
      responses:
        200:
          description: central_contacts response
          schema:
            type: array
            items:
              $ref: '#/definitions/central_contacts'
      tags:
      - Central Contacts
  /clinical_study/:
    get:
      summary: get clinical_study
      description: Needs a description.
      operationId: getClinicalStudy
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: clinical_study response
          schema:
            type: array
            items:
              $ref: '#/definitions/clinical_study'
      tags:
      - Clinical Study
    post:
      summary: add clinical_study
      description: Needs a description.
      operationId: addClinicalStudy
      parameters:
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: download_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: download_date_dt
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: org_study_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: brief_title
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: official_title
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: acronym
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: source
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: has_dmc
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: brief_summary
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: detailed_description
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: overall_status
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: start_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: completion_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: completion_date_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: primary_completion_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: primary_completion_date_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: phase
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: study_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: study_design
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: number_of_arms
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: number_of_groups
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: enrollment_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: enrollment
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: biospec_retention
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: biospec_descr
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: criteria
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: gender
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: minimum_age
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: maximum_age
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: healthy_volunteers
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: sampling_method
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: study_pop
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: verification_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: lastchanged_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: firstreceived_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: is_section_801
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: is_fda_regulated
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: why_stopped
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: has_expanded_access
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: firstreceived_results_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: url
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: target_duration
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: study_rank
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: limitations_and_caveats
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: clinical_study response
          schema:
            type: array
            items:
              $ref: '#/definitions/clinical_study'
      tags:
      - Clinical Study
  /clinical_study/{id}/:
    get:
      summary: get clinical_study
      description: Needs a description.
      operationId: getIndividualClinicalStudy
      parameters:
      - name: id
        in: path
        description: the id for the clinical_study
        required: true
        type: integer
      responses:
        200:
          description: clinical_study response
          schema:
            type: array
            items:
              $ref: '#/definitions/clinical_study'
      tags:
      - Clinical Study
    put:
      summary: update clinical_study
      description: Needs a description.
      operationId: updateClinicalStudy
      parameters:
      - name: id
        in: path
        description: the id for the clinical_study
        required: true
        type: integer
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: download_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: download_date_dt
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: org_study_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: brief_title
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: official_title
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: acronym
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: source
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: has_dmc
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: brief_summary
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: detailed_description
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: overall_status
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: start_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: completion_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: completion_date_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: primary_completion_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: primary_completion_date_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: phase
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: study_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: study_design
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: number_of_arms
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: number_of_groups
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: enrollment_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: enrollment
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: biospec_retention
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: biospec_descr
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: criteria
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: gender
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: minimum_age
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: maximum_age
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: healthy_volunteers
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: sampling_method
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: study_pop
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: verification_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: lastchanged_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: firstreceived_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: is_section_801
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: is_fda_regulated
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: why_stopped
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: has_expanded_access
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: firstreceived_results_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: url
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: target_duration
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: study_rank
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: limitations_and_caveats
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: clinical_study response
          schema:
            type: array
            items:
              $ref: '#/definitions/clinical_study'
      tags:
      - Clinical Study
    delete:
      summary: delete clinical_study
      description: Needs a description.
      operationId: deleteClinicalStudy
      parameters:
      - name: id
        in: path
        description: the id for the clinical_study
        required: true
        type: integer
      responses:
        200:
          description: clinical_study response
          schema:
            type: array
            items:
              $ref: '#/definitions/clinical_study'
      tags:
      - Clinical Study
  /clinical_study_noclob/:
    get:
      summary: get clinical_study_noclob
      description: Needs a description.
      operationId: getClinicalStudyNoclob
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: clinical_study_noclob response
          schema:
            type: array
            items:
              $ref: '#/definitions/clinical_study_noclob'
      tags:
      - Clinical Study Noclob
    post:
      summary: add clinical_study_noclob
      description: Needs a description.
      operationId: addClinicalStudyNoclob
      parameters:
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: download_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: download_date_dt
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: org_study_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: brief_title
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: official_title
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: acronym
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: source
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: has_dmc
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: overall_status
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: start_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: completion_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: completion_date_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: primary_completion_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: primary_completion_date_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: phase
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: study_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: study_design
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: number_of_arms
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: number_of_groups
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: enrollment_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: enrollment
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: biospec_retention
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: biospec_descr
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: gender
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: minimum_age
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: maximum_age
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: healthy_volunteers
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: sampling_method
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: study_pop
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: verification_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: lastchanged_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: firstreceived_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: is_section_801
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: is_fda_regulated
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: why_stopped
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: has_expanded_access
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: firstreceived_results_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: url
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: target_duration
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: study_rank
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: limitations_and_caveats
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: clinical_study_noclob response
          schema:
            type: array
            items:
              $ref: '#/definitions/clinical_study_noclob'
      tags:
      - Clinical Study Noclob
  /clinical_study_noclob/{id}/:
    get:
      summary: get clinical_study_noclob
      description: Needs a description.
      operationId: getIndividualClinicalStudyNoclob
      parameters:
      - name: id
        in: path
        description: the id for the clinical_study_noclob
        required: true
        type: integer
      responses:
        200:
          description: clinical_study_noclob response
          schema:
            type: array
            items:
              $ref: '#/definitions/clinical_study_noclob'
      tags:
      - Clinical Study Noclob
    put:
      summary: update clinical_study_noclob
      description: Needs a description.
      operationId: updateClinicalStudyNoclob
      parameters:
      - name: id
        in: path
        description: the id for the clinical_study_noclob
        required: true
        type: integer
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: download_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: download_date_dt
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: org_study_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: brief_title
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: official_title
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: acronym
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: source
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: has_dmc
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: overall_status
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: start_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: completion_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: completion_date_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: primary_completion_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: primary_completion_date_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: phase
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: study_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: study_design
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: number_of_arms
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: number_of_groups
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: enrollment_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: enrollment
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: biospec_retention
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: biospec_descr
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: gender
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: minimum_age
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: maximum_age
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: healthy_volunteers
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: sampling_method
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: study_pop
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: verification_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: lastchanged_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: firstreceived_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: is_section_801
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: is_fda_regulated
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: why_stopped
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: has_expanded_access
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: firstreceived_results_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: url
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: target_duration
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: study_rank
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: limitations_and_caveats
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: clinical_study_noclob response
          schema:
            type: array
            items:
              $ref: '#/definitions/clinical_study_noclob'
      tags:
      - Clinical Study Noclob
    delete:
      summary: delete clinical_study_noclob
      description: Needs a description.
      operationId: deleteClinicalStudyNoclob
      parameters:
      - name: id
        in: path
        description: the id for the clinical_study_noclob
        required: true
        type: integer
      responses:
        200:
          description: clinical_study_noclob response
          schema:
            type: array
            items:
              $ref: '#/definitions/clinical_study_noclob'
      tags:
      - Clinical Study Noclob
  /condition_browse/:
    get:
      summary: get condition_browse
      description: Needs a description.
      operationId: getConditionBrowse
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: condition_browse response
          schema:
            type: array
            items:
              $ref: '#/definitions/condition_browse'
      tags:
      - Condition Browse
    post:
      summary: add condition_browse
      description: Needs a description.
      operationId: addConditionBrowse
      parameters:
      - name: mesh_condition_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: mesh_term
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: condition_browse response
          schema:
            type: array
            items:
              $ref: '#/definitions/condition_browse'
      tags:
      - Condition Browse
  /condition_browse/{id}/:
    get:
      summary: get condition_browse
      description: Needs a description.
      operationId: getIndividualConditionBrowse
      parameters:
      - name: id
        in: path
        description: the id for the condition_browse
        required: true
        type: integer
      responses:
        200:
          description: condition_browse response
          schema:
            type: array
            items:
              $ref: '#/definitions/condition_browse'
      tags:
      - Condition Browse
    put:
      summary: update condition_browse
      description: Needs a description.
      operationId: updateConditionBrowse
      parameters:
      - name: id
        in: path
        description: the id for the condition_browse
        required: true
        type: integer
      - name: mesh_condition_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: mesh_term
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: condition_browse response
          schema:
            type: array
            items:
              $ref: '#/definitions/condition_browse'
      tags:
      - Condition Browse
    delete:
      summary: delete condition_browse
      description: Needs a description.
      operationId: deleteConditionBrowse
      parameters:
      - name: id
        in: path
        description: the id for the condition_browse
        required: true
        type: integer
      responses:
        200:
          description: condition_browse response
          schema:
            type: array
            items:
              $ref: '#/definitions/condition_browse'
      tags:
      - Condition Browse
  /conditions/:
    get:
      summary: get conditions
      description: Needs a description.
      operationId: getConditions
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: conditions response
          schema:
            type: array
            items:
              $ref: '#/definitions/conditions'
      tags:
      - Conditions
    post:
      summary: add conditions
      description: Needs a description.
      operationId: addConditions
      parameters:
      - name: condition_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: condition
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: conditions response
          schema:
            type: array
            items:
              $ref: '#/definitions/conditions'
      tags:
      - Conditions
  /conditions/{id}/:
    get:
      summary: get conditions
      description: Needs a description.
      operationId: getIndividualConditions
      parameters:
      - name: id
        in: path
        description: the id for the conditions
        required: true
        type: integer
      responses:
        200:
          description: conditions response
          schema:
            type: array
            items:
              $ref: '#/definitions/conditions'
      tags:
      - Conditions
    put:
      summary: update conditions
      description: Needs a description.
      operationId: updateConditions
      parameters:
      - name: id
        in: path
        description: the id for the conditions
        required: true
        type: integer
      - name: condition_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: condition
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: conditions response
          schema:
            type: array
            items:
              $ref: '#/definitions/conditions'
      tags:
      - Conditions
    delete:
      summary: delete conditions
      description: Needs a description.
      operationId: deleteConditions
      parameters:
      - name: id
        in: path
        description: the id for the conditions
        required: true
        type: integer
      responses:
        200:
          description: conditions response
          schema:
            type: array
            items:
              $ref: '#/definitions/conditions'
      tags:
      - Conditions
  /delayed_results/:
    get:
      summary: get delayed_results
      description: Needs a description.
      operationId: getDelayedResults
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: delayed_results response
          schema:
            type: array
            items:
              $ref: '#/definitions/delayed_results'
      tags:
      - Delayed Results
    post:
      summary: add delayed_results
      description: Needs a description.
      operationId: addDelayedResults
      parameters:
      - name: firstreceived_disposition_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: firstreceived_results_date
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: delayed_results response
          schema:
            type: array
            items:
              $ref: '#/definitions/delayed_results'
      tags:
      - Delayed Results
  /delayed_results/{id}/:
    get:
      summary: get delayed_results
      description: Needs a description.
      operationId: getIndividualDelayedResults
      parameters:
      - name: id
        in: path
        description: the id for the delayed_results
        required: true
        type: integer
      responses:
        200:
          description: delayed_results response
          schema:
            type: array
            items:
              $ref: '#/definitions/delayed_results'
      tags:
      - Delayed Results
    put:
      summary: update delayed_results
      description: Needs a description.
      operationId: updateDelayedResults
      parameters:
      - name: id
        in: path
        description: the id for the delayed_results
        required: true
        type: integer
      - name: firstreceived_disposition_date
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: firstreceived_results_date
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: delayed_results response
          schema:
            type: array
            items:
              $ref: '#/definitions/delayed_results'
      tags:
      - Delayed Results
    delete:
      summary: delete delayed_results
      description: Needs a description.
      operationId: deleteDelayedResults
      parameters:
      - name: id
        in: path
        description: the id for the delayed_results
        required: true
        type: integer
      responses:
        200:
          description: delayed_results response
          schema:
            type: array
            items:
              $ref: '#/definitions/delayed_results'
      tags:
      - Delayed Results
  /designs/:
    get:
      summary: get designs
      description: Needs a description.
      operationId: getDesigns
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: designs response
          schema:
            type: array
            items:
              $ref: '#/definitions/designs'
      tags:
      - Designs
    post:
      summary: add designs
      description: Needs a description.
      operationId: addDesigns
      parameters:
      - name: design_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: design_name
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: design_value
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: masked_role
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: designs response
          schema:
            type: array
            items:
              $ref: '#/definitions/designs'
      tags:
      - Designs
  /designs/{id}/:
    get:
      summary: get designs
      description: Needs a description.
      operationId: getIndividualDesigns
      parameters:
      - name: id
        in: path
        description: the id for the designs
        required: true
        type: integer
      responses:
        200:
          description: designs response
          schema:
            type: array
            items:
              $ref: '#/definitions/designs'
      tags:
      - Designs
    put:
      summary: update designs
      description: Needs a description.
      operationId: updateDesigns
      parameters:
      - name: id
        in: path
        description: the id for the designs
        required: true
        type: integer
      - name: design_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: design_name
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: design_value
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: masked_role
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: designs response
          schema:
            type: array
            items:
              $ref: '#/definitions/designs'
      tags:
      - Designs
    delete:
      summary: delete designs
      description: Needs a description.
      operationId: deleteDesigns
      parameters:
      - name: id
        in: path
        description: the id for the designs
        required: true
        type: integer
      responses:
        200:
          description: designs response
          schema:
            type: array
            items:
              $ref: '#/definitions/designs'
      tags:
      - Designs
  /facilities/:
    get:
      summary: get facilities
      description: Needs a description.
      operationId: getFacilities
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: facilities response
          schema:
            type: array
            items:
              $ref: '#/definitions/facilities'
      tags:
      - Facilities
    post:
      summary: add facilities
      description: Needs a description.
      operationId: addFacilities
      parameters:
      - name: facility_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: status
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: facility_name
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: city
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: state
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: zip
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: country
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: facilities response
          schema:
            type: array
            items:
              $ref: '#/definitions/facilities'
      tags:
      - Facilities
  /facilities/{id}/:
    get:
      summary: get facilities
      description: Needs a description.
      operationId: getIndividualFacilities
      parameters:
      - name: id
        in: path
        description: the id for the facilities
        required: true
        type: integer
      responses:
        200:
          description: facilities response
          schema:
            type: array
            items:
              $ref: '#/definitions/facilities'
      tags:
      - Facilities
    put:
      summary: update facilities
      description: Needs a description.
      operationId: updateFacilities
      parameters:
      - name: id
        in: path
        description: the id for the facilities
        required: true
        type: integer
      - name: facility_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: status
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: facility_name
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: city
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: state
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: zip
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: country
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: facilities response
          schema:
            type: array
            items:
              $ref: '#/definitions/facilities'
      tags:
      - Facilities
    delete:
      summary: delete facilities
      description: Needs a description.
      operationId: deleteFacilities
      parameters:
      - name: id
        in: path
        description: the id for the facilities
        required: true
        type: integer
      responses:
        200:
          description: facilities response
          schema:
            type: array
            items:
              $ref: '#/definitions/facilities'
      tags:
      - Facilities
  /facility_contacts/:
    get:
      summary: get facility_contacts
      description: Needs a description.
      operationId: getFacilityContacts
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: facility_contacts response
          schema:
            type: array
            items:
              $ref: '#/definitions/facility_contacts'
      tags:
      - Facility Contacts
    post:
      summary: add facility_contacts
      description: Needs a description.
      operationId: addFacilityContacts
      parameters:
      - name: facility_contact_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: facility_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: contact_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: name_degree
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: phone
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: phone_ext
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: email
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: facility_contacts response
          schema:
            type: array
            items:
              $ref: '#/definitions/facility_contacts'
      tags:
      - Facility Contacts
  /facility_contacts/{id}/:
    get:
      summary: get facility_contacts
      description: Needs a description.
      operationId: getIndividualFacilityContacts
      parameters:
      - name: id
        in: path
        description: the id for the facility_contacts
        required: true
        type: integer
      responses:
        200:
          description: facility_contacts response
          schema:
            type: array
            items:
              $ref: '#/definitions/facility_contacts'
      tags:
      - Facility Contacts
    put:
      summary: update facility_contacts
      description: Needs a description.
      operationId: updateFacilityContacts
      parameters:
      - name: id
        in: path
        description: the id for the facility_contacts
        required: true
        type: integer
      - name: facility_contact_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: facility_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: contact_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: name_degree
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: phone
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: phone_ext
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: email
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: facility_contacts response
          schema:
            type: array
            items:
              $ref: '#/definitions/facility_contacts'
      tags:
      - Facility Contacts
    delete:
      summary: delete facility_contacts
      description: Needs a description.
      operationId: deleteFacilityContacts
      parameters:
      - name: id
        in: path
        description: the id for the facility_contacts
        required: true
        type: integer
      responses:
        200:
          description: facility_contacts response
          schema:
            type: array
            items:
              $ref: '#/definitions/facility_contacts'
      tags:
      - Facility Contacts
  /intervention_arm_groups/:
    get:
      summary: get intervention_arm_groups
      description: Needs a description.
      operationId: getInterventionArmGroups
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: intervention_arm_groups response
          schema:
            type: array
            items:
              $ref: '#/definitions/intervention_arm_groups'
      tags:
      - Intervention Arm Groups
    post:
      summary: add intervention_arm_groups
      description: Needs a description.
      operationId: addInterventionArmGroups
      parameters:
      - name: int_arm_group_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: intervention_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: arm_group_label
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: intervention_arm_groups response
          schema:
            type: array
            items:
              $ref: '#/definitions/intervention_arm_groups'
      tags:
      - Intervention Arm Groups
  /intervention_arm_groups/{id}/:
    get:
      summary: get intervention_arm_groups
      description: Needs a description.
      operationId: getIndividualInterventionArmGroups
      parameters:
      - name: id
        in: path
        description: the id for the intervention_arm_groups
        required: true
        type: integer
      responses:
        200:
          description: intervention_arm_groups response
          schema:
            type: array
            items:
              $ref: '#/definitions/intervention_arm_groups'
      tags:
      - Intervention Arm Groups
    put:
      summary: update intervention_arm_groups
      description: Needs a description.
      operationId: updateInterventionArmGroups
      parameters:
      - name: id
        in: path
        description: the id for the intervention_arm_groups
        required: true
        type: integer
      - name: int_arm_group_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: intervention_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: arm_group_label
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: intervention_arm_groups response
          schema:
            type: array
            items:
              $ref: '#/definitions/intervention_arm_groups'
      tags:
      - Intervention Arm Groups
    delete:
      summary: delete intervention_arm_groups
      description: Needs a description.
      operationId: deleteInterventionArmGroups
      parameters:
      - name: id
        in: path
        description: the id for the intervention_arm_groups
        required: true
        type: integer
      responses:
        200:
          description: intervention_arm_groups response
          schema:
            type: array
            items:
              $ref: '#/definitions/intervention_arm_groups'
      tags:
      - Intervention Arm Groups
  /intervention_browse/:
    get:
      summary: get intervention_browse
      description: Needs a description.
      operationId: getInterventionBrowse
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: intervention_browse response
          schema:
            type: array
            items:
              $ref: '#/definitions/intervention_browse'
      tags:
      - Intervention Browse
    post:
      summary: add intervention_browse
      description: Needs a description.
      operationId: addInterventionBrowse
      parameters:
      - name: mesh_intervention_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: mesh_term
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: intervention_browse response
          schema:
            type: array
            items:
              $ref: '#/definitions/intervention_browse'
      tags:
      - Intervention Browse
  /intervention_browse/{id}/:
    get:
      summary: get intervention_browse
      description: Needs a description.
      operationId: getIndividualInterventionBrowse
      parameters:
      - name: id
        in: path
        description: the id for the intervention_browse
        required: true
        type: integer
      responses:
        200:
          description: intervention_browse response
          schema:
            type: array
            items:
              $ref: '#/definitions/intervention_browse'
      tags:
      - Intervention Browse
    put:
      summary: update intervention_browse
      description: Needs a description.
      operationId: updateInterventionBrowse
      parameters:
      - name: id
        in: path
        description: the id for the intervention_browse
        required: true
        type: integer
      - name: mesh_intervention_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: mesh_term
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: intervention_browse response
          schema:
            type: array
            items:
              $ref: '#/definitions/intervention_browse'
      tags:
      - Intervention Browse
    delete:
      summary: delete intervention_browse
      description: Needs a description.
      operationId: deleteInterventionBrowse
      parameters:
      - name: id
        in: path
        description: the id for the intervention_browse
        required: true
        type: integer
      responses:
        200:
          description: intervention_browse response
          schema:
            type: array
            items:
              $ref: '#/definitions/intervention_browse'
      tags:
      - Intervention Browse
  /intervention_other_names/:
    get:
      summary: get intervention_other_names
      description: Needs a description.
      operationId: getInterventionOtherNames
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: intervention_other_names response
          schema:
            type: array
            items:
              $ref: '#/definitions/intervention_other_names'
      tags:
      - Intervention Other Names
    post:
      summary: add intervention_other_names
      description: Needs a description.
      operationId: addInterventionOtherNames
      parameters:
      - name: int_other_name_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: intervention_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: other_name
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: intervention_other_names response
          schema:
            type: array
            items:
              $ref: '#/definitions/intervention_other_names'
      tags:
      - Intervention Other Names
  /intervention_other_names/{id}/:
    get:
      summary: get intervention_other_names
      description: Needs a description.
      operationId: getIndividualInterventionOtherNames
      parameters:
      - name: id
        in: path
        description: the id for the intervention_other_names
        required: true
        type: integer
      responses:
        200:
          description: intervention_other_names response
          schema:
            type: array
            items:
              $ref: '#/definitions/intervention_other_names'
      tags:
      - Intervention Other Names
    put:
      summary: update intervention_other_names
      description: Needs a description.
      operationId: updateInterventionOtherNames
      parameters:
      - name: id
        in: path
        description: the id for the intervention_other_names
        required: true
        type: integer
      - name: int_other_name_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: intervention_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: other_name
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: intervention_other_names response
          schema:
            type: array
            items:
              $ref: '#/definitions/intervention_other_names'
      tags:
      - Intervention Other Names
    delete:
      summary: delete intervention_other_names
      description: Needs a description.
      operationId: deleteInterventionOtherNames
      parameters:
      - name: id
        in: path
        description: the id for the intervention_other_names
        required: true
        type: integer
      responses:
        200:
          description: intervention_other_names response
          schema:
            type: array
            items:
              $ref: '#/definitions/intervention_other_names'
      tags:
      - Intervention Other Names
  /interventions/:
    get:
      summary: get interventions
      description: Needs a description.
      operationId: getInterventions
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: interventions response
          schema:
            type: array
            items:
              $ref: '#/definitions/interventions'
      tags:
      - Interventions
    post:
      summary: add interventions
      description: Needs a description.
      operationId: addInterventions
      parameters:
      - name: intervention_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: intervention_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: intervention_name
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: description
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: interventions response
          schema:
            type: array
            items:
              $ref: '#/definitions/interventions'
      tags:
      - Interventions
  /interventions/{id}/:
    get:
      summary: get interventions
      description: Needs a description.
      operationId: getIndividualInterventions
      parameters:
      - name: id
        in: path
        description: the id for the interventions
        required: true
        type: integer
      responses:
        200:
          description: interventions response
          schema:
            type: array
            items:
              $ref: '#/definitions/interventions'
      tags:
      - Interventions
    put:
      summary: update interventions
      description: Needs a description.
      operationId: updateInterventions
      parameters:
      - name: id
        in: path
        description: the id for the interventions
        required: true
        type: integer
      - name: intervention_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: intervention_type
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: intervention_name
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: description
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: interventions response
          schema:
            type: array
            items:
              $ref: '#/definitions/interventions'
      tags:
      - Interventions
    delete:
      summary: delete interventions
      description: Needs a description.
      operationId: deleteInterventions
      parameters:
      - name: id
        in: path
        description: the id for the interventions
        required: true
        type: integer
      responses:
        200:
          description: interventions response
          schema:
            type: array
            items:
              $ref: '#/definitions/interventions'
      tags:
      - Interventions
  /investigators/:
    get:
      summary: get investigators
      description: Needs a description.
      operationId: getInvestigators
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: investigators response
          schema:
            type: array
            items:
              $ref: '#/definitions/investigators'
      tags:
      - Investigators
    post:
      summary: add investigators
      description: Needs a description.
      operationId: addInvestigators
      parameters:
      - name: investigator_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: facility_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: name_degree
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: role
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: affiliation
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: investigators response
          schema:
            type: array
            items:
              $ref: '#/definitions/investigators'
      tags:
      - Investigators
  /investigators/{id}/:
    get:
      summary: get investigators
      description: Needs a description.
      operationId: getIndividualInvestigators
      parameters:
      - name: id
        in: path
        description: the id for the investigators
        required: true
        type: integer
      responses:
        200:
          description: investigators response
          schema:
            type: array
            items:
              $ref: '#/definitions/investigators'
      tags:
      - Investigators
    put:
      summary: update investigators
      description: Needs a description.
      operationId: updateInvestigators
      parameters:
      - name: id
        in: path
        description: the id for the investigators
        required: true
        type: integer
      - name: investigator_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: facility_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: name_degree
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: role
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: affiliation
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: investigators response
          schema:
            type: array
            items:
              $ref: '#/definitions/investigators'
      tags:
      - Investigators
    delete:
      summary: delete investigators
      description: Needs a description.
      operationId: deleteInvestigators
      parameters:
      - name: id
        in: path
        description: the id for the investigators
        required: true
        type: integer
      responses:
        200:
          description: investigators response
          schema:
            type: array
            items:
              $ref: '#/definitions/investigators'
      tags:
      - Investigators
  /keywords/:
    get:
      summary: get keywords
      description: Needs a description.
      operationId: getKeywords
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: keywords response
          schema:
            type: array
            items:
              $ref: '#/definitions/keywords'
      tags:
      - Keywords
    post:
      summary: add keywords
      description: Needs a description.
      operationId: addKeywords
      parameters:
      - name: keyword_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: keyword
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: keywords response
          schema:
            type: array
            items:
              $ref: '#/definitions/keywords'
      tags:
      - Keywords
  /keywords/{id}/:
    get:
      summary: get keywords
      description: Needs a description.
      operationId: getIndividualKeywords
      parameters:
      - name: id
        in: path
        description: the id for the keywords
        required: true
        type: integer
      responses:
        200:
          description: keywords response
          schema:
            type: array
            items:
              $ref: '#/definitions/keywords'
      tags:
      - Keywords
    put:
      summary: update keywords
      description: Needs a description.
      operationId: updateKeywords
      parameters:
      - name: id
        in: path
        description: the id for the keywords
        required: true
        type: integer
      - name: keyword_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: keyword
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: keywords response
          schema:
            type: array
            items:
              $ref: '#/definitions/keywords'
      tags:
      - Keywords
    delete:
      summary: delete keywords
      description: Needs a description.
      operationId: deleteKeywords
      parameters:
      - name: id
        in: path
        description: the id for the keywords
        required: true
        type: integer
      responses:
        200:
          description: keywords response
          schema:
            type: array
            items:
              $ref: '#/definitions/keywords'
      tags:
      - Keywords
  /links/:
    get:
      summary: get links
      description: Needs a description.
      operationId: getLinks
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: links response
          schema:
            type: array
            items:
              $ref: '#/definitions/links'
      tags:
      - Links
    post:
      summary: add links
      description: Needs a description.
      operationId: addLinks
      parameters:
      - name: link_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: url
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: description
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: links response
          schema:
            type: array
            items:
              $ref: '#/definitions/links'
      tags:
      - Links
  /links/{id}/:
    get:
      summary: get links
      description: Needs a description.
      operationId: getIndividualLinks
      parameters:
      - name: id
        in: path
        description: the id for the links
        required: true
        type: integer
      responses:
        200:
          description: links response
          schema:
            type: array
            items:
              $ref: '#/definitions/links'
      tags:
      - Links
    put:
      summary: update links
      description: Needs a description.
      operationId: updateLinks
      parameters:
      - name: id
        in: path
        description: the id for the links
        required: true
        type: integer
      - name: link_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: url
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: description
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: links response
          schema:
            type: array
            items:
              $ref: '#/definitions/links'
      tags:
      - Links
    delete:
      summary: delete links
      description: Needs a description.
      operationId: deleteLinks
      parameters:
      - name: id
        in: path
        description: the id for the links
        required: true
        type: integer
      responses:
        200:
          description: links response
          schema:
            type: array
            items:
              $ref: '#/definitions/links'
      tags:
      - Links
  /location_countries/:
    get:
      summary: get location_countries
      description: Needs a description.
      operationId: getLocationCountries
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: location_countries response
          schema:
            type: array
            items:
              $ref: '#/definitions/location_countries'
      tags:
      - Location Countries
    post:
      summary: add location_countries
      description: Needs a description.
      operationId: addLocationCountries
      parameters:
      - name: location_countries_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: country
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: location_countries response
          schema:
            type: array
            items:
              $ref: '#/definitions/location_countries'
      tags:
      - Location Countries
  /location_countries/{id}/:
    get:
      summary: get location_countries
      description: Needs a description.
      operationId: getIndividualLocationCountries
      parameters:
      - name: id
        in: path
        description: the id for the location_countries
        required: true
        type: integer
      responses:
        200:
          description: location_countries response
          schema:
            type: array
            items:
              $ref: '#/definitions/location_countries'
      tags:
      - Location Countries
    put:
      summary: update location_countries
      description: Needs a description.
      operationId: updateLocationCountries
      parameters:
      - name: id
        in: path
        description: the id for the location_countries
        required: true
        type: integer
      - name: location_countries_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: country
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: location_countries response
          schema:
            type: array
            items:
              $ref: '#/definitions/location_countries'
      tags:
      - Location Countries
    delete:
      summary: delete location_countries
      description: Needs a description.
      operationId: deleteLocationCountries
      parameters:
      - name: id
        in: path
        description: the id for the location_countries
        required: true
        type: integer
      responses:
        200:
          description: location_countries response
          schema:
            type: array
            items:
              $ref: '#/definitions/location_countries'
      tags:
      - Location Countries
  /mesh_thesaurus/:
    get:
      summary: get mesh_thesaurus
      description: Needs a description.
      operationId: getMeshThesaurus
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: mesh_thesaurus response
          schema:
            type: array
            items:
              $ref: '#/definitions/mesh_thesaurus'
      tags:
      - Mesh Thesaurus
    post:
      summary: add mesh_thesaurus
      description: Needs a description.
      operationId: addMeshThesaurus
      parameters:
      - name: mesh_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: mesh_term
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: mesh_thesaurus response
          schema:
            type: array
            items:
              $ref: '#/definitions/mesh_thesaurus'
      tags:
      - Mesh Thesaurus
  /mesh_thesaurus/{id}/:
    get:
      summary: get mesh_thesaurus
      description: Needs a description.
      operationId: getIndividualMeshThesaurus
      parameters:
      - name: id
        in: path
        description: the id for the mesh_thesaurus
        required: true
        type: integer
      responses:
        200:
          description: mesh_thesaurus response
          schema:
            type: array
            items:
              $ref: '#/definitions/mesh_thesaurus'
      tags:
      - Mesh Thesaurus
    put:
      summary: update mesh_thesaurus
      description: Needs a description.
      operationId: updateMeshThesaurus
      parameters:
      - name: id
        in: path
        description: the id for the mesh_thesaurus
        required: true
        type: integer
      - name: mesh_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: mesh_term
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: mesh_thesaurus response
          schema:
            type: array
            items:
              $ref: '#/definitions/mesh_thesaurus'
      tags:
      - Mesh Thesaurus
    delete:
      summary: delete mesh_thesaurus
      description: Needs a description.
      operationId: deleteMeshThesaurus
      parameters:
      - name: id
        in: path
        description: the id for the mesh_thesaurus
        required: true
        type: integer
      responses:
        200:
          description: mesh_thesaurus response
          schema:
            type: array
            items:
              $ref: '#/definitions/mesh_thesaurus'
      tags:
      - Mesh Thesaurus
  /nct_aliases/:
    get:
      summary: get nct_aliases
      description: Needs a description.
      operationId: getNctAliases
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: nct_aliases response
          schema:
            type: array
            items:
              $ref: '#/definitions/nct_aliases'
      tags:
      - Nct Aliases
    post:
      summary: add nct_aliases
      description: Needs a description.
      operationId: addNctAliases
      parameters:
      - name: nct_alias_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_alias
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: nct_aliases response
          schema:
            type: array
            items:
              $ref: '#/definitions/nct_aliases'
      tags:
      - Nct Aliases
  /nct_aliases/{id}/:
    get:
      summary: get nct_aliases
      description: Needs a description.
      operationId: getIndividualNctAliases
      parameters:
      - name: id
        in: path
        description: the id for the nct_aliases
        required: true
        type: integer
      responses:
        200:
          description: nct_aliases response
          schema:
            type: array
            items:
              $ref: '#/definitions/nct_aliases'
      tags:
      - Nct Aliases
    put:
      summary: update nct_aliases
      description: Needs a description.
      operationId: updateNctAliases
      parameters:
      - name: id
        in: path
        description: the id for the nct_aliases
        required: true
        type: integer
      - name: nct_alias_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_alias
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: nct_aliases response
          schema:
            type: array
            items:
              $ref: '#/definitions/nct_aliases'
      tags:
      - Nct Aliases
    delete:
      summary: delete nct_aliases
      description: Needs a description.
      operationId: deleteNctAliases
      parameters:
      - name: id
        in: path
        description: the id for the nct_aliases
        required: true
        type: integer
      responses:
        200:
          description: nct_aliases response
          schema:
            type: array
            items:
              $ref: '#/definitions/nct_aliases'
      tags:
      - Nct Aliases
  /overall_officials/:
    get:
      summary: get overall_officials
      description: Needs a description.
      operationId: getOverallOfficials
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
          description: overall_officials response
          schema:
            type: array
            items:
              $ref: '#/definitions/overall_officials'
      tags:
      - Overall Officials
    post:
      summary: add overall_officials
      description: Needs a description.
      operationId: addOverallOfficials
      parameters:
      - name: overall_official_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: roles
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: name_degree
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: affiliation
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: overall_officials response
          schema:
            type: array
            items:
              $ref: '#/definitions/overall_officials'
      tags:
      - Overall Officials
  /overall_officials/{id}/:
    get:
      summary: get overall_officials
      description: Needs a description.
      operationId: getIndividualOverallOfficials
      parameters:
      - name: id
        in: path
        description: the id for the overall_officials
        required: true
        type: integer
      responses:
        200:
          description: overall_officials response
          schema:
            type: array
            items:
              $ref: '#/definitions/overall_officials'
      tags:
      - Overall Officials
    put:
      summary: update overall_officials
      description: Needs a description.
      operationId: updateOverallOfficials
      parameters:
      - name: id
        in: path
        description: the id for the overall_officials
        required: true
        type: integer
      - name: overall_official_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: nct_id
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: roles
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: name_degree
        in: query
        description: Needs a description.
        required: false
        type: string
      - name: affiliation
        in: query
        description: Needs a description.
        required: false
        type: string
      responses:
        200:
          description: overall_officials response
          schema:
            type: array
            items:
              $ref: '#/definitions/overall_officials'
      tags:
      - Overall Officials
    delete:
      summary: delete overall_officials
      description: Needs a description.
      operationId: deleteOverallOfficials
      parameters:
      - name: id
        in: path
        description: the id for the overall_officials
        required: true
        type: integer
      responses:
        200:
          description: overall_officials response
          schema:
            type: array
            items:
              $ref: '#/definitions/overall_officials'
      tags:
      - Overall Officials
  /references/:
    get:
      summary: get references
      description: Needs a description.
      operationId: getReferences
      parameters:
      - name: query
        in: query
        description: A query parameter to search with.
        required: false
        type: string
      responses:
        200:
[...]
