---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:3217:\"<fullname>AWS
  Security Token Service</fullname> <p>The AWS Security Token Service (STS) is a web
  service that enables you to request temporary, limited-privilege credentials for
  AWS Identity and Access Management (IAM) users or for users that you authenticate
  (federated users). This guide provides descriptions of the STS API. For more detailed
  information about using this service, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html\">Temporary
  Security Credentials</a>. </p> <note> <p> As an alternative to using the API, you
  can use one of the AWS SDKs, which consist of libraries and sample code for various
  programming languages and platforms (Java, Ruby, .NET, iOS, Android, etc.). The
  SDKs provide a convenient way to create programmatic access to STS. For example,
  the SDKs take care of cryptographically signing requests, managing errors, and retrying
  requests automatically. For information about the AWS SDKs, including how to download
  and install them, see the <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon
  Web Services page</a>. </p> </note> <p>For information about setting up signatures
  and authorization through the API, go to <a href=\"http://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html\">Signing
  AWS API Requests</a> in the <i>AWS General Reference</i>. For general information
  about the Query API, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/IAM_UsingQueryAPI.html\">Making
  Query Requests</a> in <i>Using IAM</i>. For information about using security tokens
  with other AWS products, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/reference_aws-services-that-work-with-iam.html\">AWS
  Services That Work with IAM</a> in the <i>IAM User Guide</i>. </p> <p>If you're
  new to AWS and need additional technical information about a specific AWS product,
  you can find the product's technical documentation at <a href=\"http://aws.amazon.com/documentation/\">http://aws.amazon.com/documentation/</a>.
  </p> <p> <b>Endpoints</b> </p> <p>The AWS Security Token Service (STS) has a default
  endpoint of https://sts.amazonaws.com that maps to the US East (N. Virginia) region.
  Additional regions are available and are activated by default. For more information,
  see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating
  and Deactivating AWS STS in an AWS Region</a> in the <i>IAM User Guide</i>.</p>
  <p>For information about STS endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#sts_region\">Regions
  and Endpoints</a> in the <i>AWS General Reference</i>.</p> <p> <b>Recording API
  requests</b> </p> <p>STS supports AWS CloudTrail, which is a service that records
  AWS calls for your AWS account and delivers log files to an Amazon S3 bucket. By
  using information collected by CloudTrail, you can determine what requests were
  successfully made to STS, who made the request, when it was made, and so on. To
  learn more about CloudTrail, including how to turn it on and find your log files,
  see the <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/what_is_cloud_trail_top_level.html\">AWS
  CloudTrail User Guide</a>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:26:\"AWS
  Security Token Service\";s:7:\"version\";s:10:\"2011-06-15\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:87:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/sts-2011-06-15.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:3:\"sts\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"amazonaws_sts\";s:4:\"type\";s:7:\"openapi\";}}"
host: sts.amazonaws.com
basePath: /
paths: ~
produces: []
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":62:{s:17:\"AssumeRoleRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":5:{s:15:\"DurationSeconds\";i:3600;s:10:\"ExternalId\";s:6:\"123ABC\";s:6:\"Policy\";s:102:\"{\"Version\":\"2012-10-17\",\"Statement\":[{\"Sid\":\"Stmt1\",\"Effect\":\"Allow\",\"Action\":\"s3:*\",\"Resource\":\"*\"}]}\";s:7:\"RoleArn\";s:35:\"arn:aws:iam::123456789012:role/demo\";s:15:\"RoleSessionName\";s:3:\"Bob\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"DurationSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/roleDurationSecondsType\";s:11:\"description\";s:1337:\"<p>The
  duration, in seconds, of the role session. The value can range from 900 seconds
  (15 minutes) up to the maximum session duration setting for the role. This setting
  can have a value from 1 hour to 12 hours. If you specify a value higher than this
  setting, the operation fails. For example, if you specify a session duration of
  12 hours, but your administrator set the maximum session duration to 6 hours, your
  operation fails. To learn how to view the maximum value for your role, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html#id_roles_use_view-role-max-session\">View
  the Maximum Session Duration Setting for a Role</a> in the <i>IAM User Guide</i>.</p>
  <p>By default, the value is set to 3600 seconds. </p> <note> <p>The <code>DurationSeconds</code>
  parameter is separate from the duration of a console session that you might request
  using the returned credentials. The request to the federation endpoint for a console
  sign-in token takes a <code>SessionDuration</code> parameter that specifies the
  maximum length of the console session. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_enable-console-custom-url.html\">Creating
  a URL that Enables Federated Users to Access the AWS Management Console</a> in the
  <i>IAM User Guide</i>.</p> </note>\";}s:10:\"ExternalId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/externalIdType\";s:11:\"description\";s:969:\"<p>A
  unique identifier that is used by third parties when assuming roles in their customers'
  accounts. For each role that the third party can assume, they should instruct their
  customers to ensure the role's trust policy checks for the external ID that the
  third party generated. Each time the third party assumes the role, they should pass
  the customer's external ID. The external ID is useful in order to help third parties
  bind a role to the customer who created it. For more information about the external
  ID, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_create_for-user_externalid.html\">How
  to Use an External ID When Granting Access to Your AWS Resources to a Third Party</a>
  in the <i>IAM User Guide</i>.</p> <p>The regex used to validated this parameter
  is a string of characters consisting of upper- and lower-case alphanumeric characters
  with no spaces. You can also include underscores or any of the following characters:
  =,.@:/-</p>\";}s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/sessionPolicyDocumentType\";s:11:\"description\";s:1502:\"<p>An
  IAM policy in JSON format.</p> <p>This parameter is optional. If you pass a policy,
  the temporary security credentials that are returned by the operation have the permissions
  that are allowed by both (the intersection of) the access policy of the role that
  is being assumed, <i>and</i> the policy that you pass. This gives you a way to further
  restrict the permissions for the resulting temporary security credentials. You cannot
  use the passed policy to grant permissions that are in excess of those allowed by
  the access policy of the role that is being assumed. For more information, see <a
  href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_control-access_assumerole.html\">Permissions
  for AssumeRole, AssumeRoleWithSAML, and AssumeRoleWithWebIdentity</a> in the <i>IAM
  User Guide</i>.</p> <p>The format for this parameter, as described by its regex
  pattern, is a string of characters up to 2048 characters in length. The characters
  can be any ASCII character from the space character to the end of the valid character
  list (\\u0020-\\u00FF). It can also include the tab (\\u0009), linefeed (\\u000A),
  and carriage return (\\u000D) characters.</p> <note> <p>The policy plain text must
  be 2048 bytes or shorter. However, an internal conversion compresses it into a packed
  binary format with a separate limit. The PackedPolicySize response element indicates
  by percentage how close to the upper size limit the policy is, with 100% equaling
  the maximum allowed size.</p> </note>\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/arnType\";s:11:\"description\";s:53:\"The
  Amazon Resource Name (ARN) of the role to assume.\";}s:15:\"RoleSessionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/roleSessionNameType\";s:11:\"description\";s:794:\"<p>An
  identifier for the assumed role session.</p> <p>Use the role session name to uniquely
  identify a session when the same role is assumed by different principals or for
  different reasons. In cross-account scenarios, the role session name is visible
  to, and can be logged by the account that owns the role. The role session name is
  also used in the ARN of the assumed role principal. This means that subsequent cross-account
  API requests using the temporary security credentials will expose the role session
  name to the external account in their CloudTrail logs.</p> <p>The regex used to
  validate this parameter is a string of characters consisting of upper- and lower-case
  alphanumeric characters with no spaces. You can also include underscores or any
  of the following characters: =,.@-</p>\";}s:12:\"SerialNumber\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/serialNumberType\";s:11:\"description\";s:686:\"<p>The
  identification number of the MFA device that is associated with the user who is
  making the <code>AssumeRole</code> call. Specify this value if the trust policy
  of the role being assumed includes a condition that requires MFA authentication.
  The value is either the serial number for a hardware device (such as <code>GAHT12345678</code>)
  or an Amazon Resource Name (ARN) for a virtual device (such as <code>arn:aws:iam::123456789012:mfa/user</code>).</p>
  <p>The regex used to validate this parameter is a string of characters consisting
  of upper- and lower-case alphanumeric characters with no spaces. You can also include
  underscores or any of the following characters: =,.@-</p>\";}s:9:\"TokenCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/tokenCodeType\";s:11:\"description\";s:448:\"<p>The
  value provided by the MFA device, if the trust policy of the role being assumed
  requires MFA (that is, if the policy includes a condition that tests for MFA). If
  the role being assumed requires MFA and if the <code>TokenCode</code> value is missing
  or expired, the <code>AssumeRole</code> call returns an \"access denied\" error.</p>
  <p>The format for this parameter, as described by its regex pattern, is a sequence
  of six numeric digits.</p>\";}}s:8:\"required\";a:2:{i:0;s:7:\"RoleArn\";i:1;s:15:\"RoleSessionName\";}s:4:\"type\";s:6:\"object\";}s:18:\"AssumeRoleResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:140:\"Contains
  the response to a successful <a>AssumeRole</a> request, including temporary AWS
  credentials that can be used to make AWS requests. \";s:7:\"example\";O:8:\"stdClass\":3:{s:15:\"AssumedRoleUser\";O:8:\"stdClass\":2:{s:3:\"Arn\";s:47:\"arn:aws:sts::123456789012:assumed-role/demo/Bob\";s:13:\"AssumedRoleId\";s:20:\"ARO123EXAMPLE123:Bob\";}s:11:\"Credentials\";O:8:\"stdClass\":4:{s:11:\"AccessKeyId\";s:20:\"AKIAIOSFODNN7EXAMPLE\";s:10:\"Expiration\";s:24:\"2011-07-15T23:28:33.359Z\";s:15:\"SecretAccessKey\";s:41:\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYzEXAMPLEKEY\";s:12:\"SessionToken\";s:336:\"AQoDYXdzEPT//////////wEXAMPLEtc764bNrC9SAPBSM22wDOk4x4HIZ8j4FZTwdQWLWsKWHGBuFqwAeMicRXmxfpSPfIeoIYRqTflfKD8YUuwthAx7mSEI/qkPpKPi/kMcGdQrmGdeehM4IC1NtBmUpp2wUE8phUZampKsburEDy0KPkyQDYwT7WZ0wq5VSXDvp75YU9HFvlRd8Tx6q6fE8YQcHNVXAkiY9q6d+xo0rKwT38xVqr7ZD0u0iPPkUL64lIZbqBAz+scqKmlzm8FDrypNC9Yjc8fPOLn9FX9KSYvKTr4rvx3iSIlTJabIQwj2ICCR/oLxBA==\";}s:16:\"PackedPolicySize\";i:6;}s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"AssumedRoleUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AssumedRoleUser\";s:11:\"description\";s:397:\"The
  Amazon Resource Name (ARN) and the assumed role ID, which are identifiers that you
  can use to refer to the resulting temporary security credentials. For example, you
  can reference these credentials as a principal in a resource-based policy by using
  the ARN or assumed role ID. The ARN and ID include the <code>RoleSessionName</code>
  that you specified when you called <code>AssumeRole</code>. \";}s:11:\"Credentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Credentials\";s:11:\"description\";s:429:\"<p>The
  temporary security credentials, which include an access key ID, a secret access
  key, and a security (or session) token.</p> <p> <b>Note:</b> The size of the security
  token that STS APIs return is not fixed. We strongly recommend that you make no
  assumptions about the maximum size. As of this writing, the typical size is less
  than 4096 bytes, but that can vary. Also, future updates to AWS might require larger
  sizes.</p>\";}s:16:\"PackedPolicySize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/nonNegativeIntegerType\";s:11:\"description\";s:199:\"A
  percentage value that indicates the size of the policy in packed form. The service
  rejects any policy with a packed size greater than 100 percent, which means the
  policy exceeded the allowed space.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"AssumeRoleWithSAMLRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"DurationSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/roleDurationSecondsType\";s:11:\"description\";s:1604:\"<p>The
  duration, in seconds, of the role session. Your role session lasts for the duration
  that you specify for the <code>DurationSeconds</code> parameter, or until the time
  specified in the SAML authentication response's <code>SessionNotOnOrAfter</code>
  value, whichever is shorter. You can provide a <code>DurationSeconds</code> value
  from 900 seconds (15 minutes) up to the maximum session duration setting for the
  role. This setting can have a value from 1 hour to 12 hours. If you specify a value
  higher than this setting, the operation fails. For example, if you specify a session
  duration of 12 hours, but your administrator set the maximum session duration to
  6 hours, your operation fails. To learn how to view the maximum value for your role,
  see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html#id_roles_use_view-role-max-session\">View
  the Maximum Session Duration Setting for a Role</a> in the <i>IAM User Guide</i>.</p>
  <p>By default, the value is set to 3600 seconds. </p> <note> <p>The <code>DurationSeconds</code>
  parameter is separate from the duration of a console session that you might request
  using the returned credentials. The request to the federation endpoint for a console
  sign-in token takes a <code>SessionDuration</code> parameter that specifies the
  maximum length of the console session. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_enable-console-custom-url.html\">Creating
  a URL that Enables Federated Users to Access the AWS Management Console</a> in the
  <i>IAM User Guide</i>.</p> </note>\";}s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/sessionPolicyDocumentType\";s:11:\"description\";s:1492:\"<p>An
  IAM policy in JSON format.</p> <p>The policy parameter is optional. If you pass
  a policy, the temporary security credentials that are returned by the operation
  have the permissions that are allowed by both the access policy of the role that
  is being assumed, <i> <b>and</b> </i> the policy that you pass. This gives you a
  way to further restrict the permissions for the resulting temporary security credentials.
  You cannot use the passed policy to grant permissions that are in excess of those
  allowed by the access policy of the role that is being assumed. For more information,
  <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_control-access_assumerole.html\">Permissions
  for AssumeRole, AssumeRoleWithSAML, and AssumeRoleWithWebIdentity</a> in the <i>IAM
  User Guide</i>. </p> <p>The format for this parameter, as described by its regex
  pattern, is a string of characters up to 2048 characters in length. The characters
  can be any ASCII character from the space character to the end of the valid character
  list (\\u0020-\\u00FF). It can also include the tab (\\u0009), linefeed (\\u000A),
  and carriage return (\\u000D) characters.</p> <note> <p>The policy plain text must
  be 2048 bytes or shorter. However, an internal conversion compresses it into a packed
  binary format with a separate limit. The PackedPolicySize response element indicates
  by percentage how close to the upper size limit the policy is, with 100% equaling
  the maximum allowed size.</p> </note>\";}s:12:\"PrincipalArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/arnType\";s:11:\"description\";s:82:\"The
  Amazon Resource Name (ARN) of the SAML provider in IAM that describes the IdP.\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/arnType\";s:11:\"description\";s:71:\"The
  Amazon Resource Name (ARN) of the role that the caller is assuming.\";}s:13:\"SAMLAssertion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SAMLAssertionType\";s:11:\"description\";s:281:\"<p>The
  base-64 encoded SAML authentication response provided by the IdP.</p> <p>For more
  information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/create-role-saml-IdP-tasks.html\">Configuring
  a Relying Party and Adding Claims</a> in the <i>Using IAM</i> guide. </p>\";}}s:8:\"required\";a:3:{i:0;s:7:\"RoleArn\";i:1;s:12:\"PrincipalArn\";i:2;s:13:\"SAMLAssertion\";}s:4:\"type\";s:6:\"object\";}s:26:\"AssumeRoleWithSAMLResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"Contains
  the response to a successful <a>AssumeRoleWithSAML</a> request, including temporary
  AWS credentials that can be used to make AWS requests. \";s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"AssumedRoleUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AssumedRoleUser\";s:11:\"description\";s:82:\"The
  identifiers for the temporary security credentials that the operation returns.\";}s:8:\"Audience\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Audience\";s:11:\"description\";s:126:\"
  The value of the <code>Recipient</code> attribute of the <code>SubjectConfirmationData</code>
  element of the SAML assertion. \";}s:11:\"Credentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Credentials\";s:11:\"description\";s:429:\"<p>The
  temporary security credentials, which include an access key ID, a secret access
  key, and a security (or session) token.</p> <p> <b>Note:</b> The size of the security
  token that STS APIs return is not fixed. We strongly recommend that you make no
  assumptions about the maximum size. As of this writing, the typical size is less
  than 4096 bytes, but that can vary. Also, future updates to AWS might require larger
  sizes.</p>\";}s:6:\"Issuer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Issuer\";s:11:\"description\";s:67:\"The
  value of the <code>Issuer</code> element of the SAML assertion.\";}s:13:\"NameQualifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NameQualifier\";s:11:\"description\";s:483:\"<p>A
  hash value based on the concatenation of the <code>Issuer</code> response value,
  the AWS account ID, and the friendly name (the last part of the ARN) of the SAML
  provider in IAM. The combination of <code>NameQualifier</code> and <code>Subject</code>
  can be used to uniquely identify a federated user. </p> <p>The following pseudocode
  shows how the hash value is calculated:</p> <p> <code>BASE64 ( SHA1 ( \"https://example.com/saml\"
  + \"123456789012\" + \"/MySAMLIdP\" ) )</code> </p>\";}s:16:\"PackedPolicySize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/nonNegativeIntegerType\";s:11:\"description\";s:199:\"A
  percentage value that indicates the size of the policy in packed form. The service
  rejects any policy with a packed size greater than 100 percent, which means the
  policy exceeded the allowed space.\";}s:7:\"Subject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Subject\";s:11:\"description\";s:103:\"The
  value of the <code>NameID</code> element in the <code>Subject</code> element of
  the SAML assertion.\";}s:11:\"SubjectType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SubjectType\";s:11:\"description\";s:553:\"<p>
  The format of the name ID, as defined by the <code>Format</code> attribute in the
  <code>NameID</code> element of the SAML assertion. Typical examples of the format
  are <code>transient</code> or <code>persistent</code>. </p> <p> If the format includes
  the prefix <code>urn:oasis:names:tc:SAML:2.0:nameid-format</code>, that prefix is
  removed. For example, <code>urn:oasis:names:tc:SAML:2.0:nameid-format:transient</code>
  is returned as <code>transient</code>. If the format includes any other prefix,
  the format is returned with no modifications.</p>\";}}s:4:\"type\";s:6:\"object\";}s:32:\"AssumeRoleWithWebIdentityRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":5:{s:15:\"DurationSeconds\";i:3600;s:10:\"ProviderId\";s:14:\"www.amazon.com\";s:7:\"RoleArn\";s:55:\"arn:aws:iam::123456789012:role/FederatedWebIdentityRole\";s:15:\"RoleSessionName\";s:4:\"app1\";s:16:\"WebIdentityToken\";s:353:\"Atza%7CIQEBLjAsAhRFiXuWpUXuRvQ9PZL3GMFcYevydwIUFAHZwXZXXXXXXXXJnrulxKDHwy87oGKPznh0D6bEQZTSCzyoCtL_8S07pLpr0zMbn6w1lfVZKNTBdDansFBmtGnIsIapjI6xKR02Yc_2bQ8LZbUXSGm6Ry6_BG7PrtLZtj_dfCTj92xNGed-CrKqjG7nPBjNIL016GGvuS5gSvPRUxWES3VYfm1wl7WTI7jn-Pcb6M-buCgHhFOzTQxod27L9CqnOLio7N3gZAGpsp6n1-AJBOCJckcyXe2c6uD0srOJeZlKUm2eTDVMf8IehDVI0r1QOnTV6KzzAI3OY87Vd_cVMQ\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"DurationSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/roleDurationSecondsType\";s:11:\"description\";s:1337:\"<p>The
  duration, in seconds, of the role session. The value can range from 900 seconds
  (15 minutes) up to the maximum session duration setting for the role. This setting
  can have a value from 1 hour to 12 hours. If you specify a value higher than this
  setting, the operation fails. For example, if you specify a session duration of
  12 hours, but your administrator set the maximum session duration to 6 hours, your
  operation fails. To learn how to view the maximum value for your role, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html#id_roles_use_view-role-max-session\">View
  the Maximum Session Duration Setting for a Role</a> in the <i>IAM User Guide</i>.</p>
  <p>By default, the value is set to 3600 seconds. </p> <note> <p>The <code>DurationSeconds</code>
  parameter is separate from the duration of a console session that you might request
  using the returned credentials. The request to the federation endpoint for a console
  sign-in token takes a <code>SessionDuration</code> parameter that specifies the
  maximum length of the console session. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_enable-console-custom-url.html\">Creating
  a URL that Enables Federated Users to Access the AWS Management Console</a> in the
  <i>IAM User Guide</i>.</p> </note>\";}s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/sessionPolicyDocumentType\";s:11:\"description\";s:1460:\"<p>An
  IAM policy in JSON format.</p> <p>The policy parameter is optional. If you pass
  a policy, the temporary security credentials that are returned by the operation
  have the permissions that are allowed by both the access policy of the role that
  is being assumed, <i> <b>and</b> </i> the policy that you pass. This gives you a
  way to further restrict the permissions for the resulting temporary security credentials.
  You cannot use the passed policy to grant permissions that are in excess of those
  allowed by the access policy of the role that is being assumed. For more information,
  see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_control-access_assumerole.html\">Permissions
  for AssumeRoleWithWebIdentity</a> in the <i>IAM User Guide</i>. </p> <p>The format
  for this parameter, as described by its regex pattern, is a string of characters
  up to 2048 characters in length. The characters can be any ASCII character from
  the space character to the end of the valid character list (\\u0020-\\u00FF). It
  can also include the tab (\\u0009), linefeed (\\u000A), and carriage return (\\u000D)
  characters.</p> <note> <p>The policy plain text must be 2048 bytes or shorter. However,
  an internal conversion compresses it into a packed binary format with a separate
  limit. The PackedPolicySize response element indicates by percentage how close to
  the upper size limit the policy is, with 100% equaling the maximum allowed size.</p>
  </note>\";}s:10:\"ProviderId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/urlType\";s:11:\"description\";s:399:\"<p>The
  fully qualified host component of the domain name of the identity provider.</p>
  <p>Specify this value only for OAuth 2.0 access tokens. Currently <code>www.amazon.com</code>
  and <code>graph.facebook.com</code> are the only supported identity providers for
  OAuth 2.0 access tokens. Do not include URL schemes and port numbers.</p> <p>Do
  not specify this value for OpenID Connect ID tokens.</p>\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/arnType\";s:11:\"description\";s:71:\"The
  Amazon Resource Name (ARN) of the role that the caller is assuming.\";}s:15:\"RoleSessionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/roleSessionNameType\";s:11:\"description\";s:613:\"<p>An
  identifier for the assumed role session. Typically, you pass the name or identifier
  that is associated with the user who is using your application. That way, the temporary
  security credentials that your application will use are associated with that user.
  This session name is included as part of the ARN and assumed role ID in the <code>AssumedRoleUser</code>
  response element.</p> <p>The regex used to validate this parameter is a string of
  characters consisting of upper- and lower-case alphanumeric characters with no spaces.
  You can also include underscores or any of the following characters: =,.@-</p>\";}s:16:\"WebIdentityToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/clientTokenType\";s:11:\"description\";s:297:\"The
  OAuth 2.0 access token or OpenID Connect ID token that is provided by the identity
  provider. Your application must get this token by authenticating the user who is
  using your application with a web identity provider before the application makes
  an <code>AssumeRoleWithWebIdentity</code> call. \";}}s:8:\"required\";a:3:{i:0;s:7:\"RoleArn\";i:1;s:15:\"RoleSessionName\";i:2;s:16:\"WebIdentityToken\";}s:4:\"type\";s:6:\"object\";}s:33:\"AssumeRoleWithWebIdentityResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:155:\"Contains
  the response to a successful <a>AssumeRoleWithWebIdentity</a> request, including
  temporary AWS credentials that can be used to make AWS requests. \";s:7:\"example\";O:8:\"stdClass\":6:{s:15:\"AssumedRoleUser\";O:8:\"stdClass\":2:{s:3:\"Arn\";s:68:\"arn:aws:sts::123456789012:assumed-role/FederatedWebIdentityRole/app1\";s:13:\"AssumedRoleId\";s:26:\"AROACLKWSDQRAOEXAMPLE:app1\";}s:8:\"Audience\";s:48:\"client.5498841531868486423.1548@apps.example.com\";s:11:\"Credentials\";O:8:\"stdClass\":4:{s:11:\"AccessKeyId\";s:20:\"AKIAIOSFODNN7EXAMPLE\";s:10:\"Expiration\";s:20:\"2014-10-24T23:00:23Z\";s:15:\"SecretAccessKey\";s:41:\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYzEXAMPLEKEY\";s:12:\"SessionToken\";s:46:\"AQoDYXdzEE0a8ANXXXXXXXXNO1ewxE5TijQyp+IEXAMPLE\";}s:16:\"PackedPolicySize\";i:123;s:8:\"Provider\";s:14:\"www.amazon.com\";s:27:\"SubjectFromWebIdentityToken\";s:42:\"amzn1.account.AF6RHO7KZU5XRVQJGXK6HEXAMPLE\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"AssumedRoleUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AssumedRoleUser\";s:11:\"description\";s:397:\"The
  Amazon Resource Name (ARN) and the assumed role ID, which are identifiers that you
  can use to refer to the resulting temporary security credentials. For example, you
  can reference these credentials as a principal in a resource-based policy by using
  the ARN or assumed role ID. The ARN and ID include the <code>RoleSessionName</code>
  that you specified when you called <code>AssumeRole</code>. \";}s:8:\"Audience\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Audience\";s:11:\"description\";s:183:\"The
  intended audience (also known as client ID) of the web identity token. This is traditionally
  the client identifier issued to the application that requested the web identity
  token.\";}s:11:\"Credentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Credentials\";s:11:\"description\";s:416:\"<p>The
  temporary security credentials, which include an access key ID, a secret access
  key, and a security token.</p> <p> <b>Note:</b> The size of the security token that
  STS APIs return is not fixed. We strongly recommend that you make no assumptions
  about the maximum size. As of this writing, the typical size is less than 4096 bytes,
  but that can vary. Also, future updates to AWS might require larger sizes.</p>\";}s:16:\"PackedPolicySize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/nonNegativeIntegerType\";s:11:\"description\";s:199:\"A
  percentage value that indicates the size of the policy in packed form. The service
  rejects any policy with a packed size greater than 100 percent, which means the
  policy exceeded the allowed space.\";}s:8:\"Provider\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Issuer\";s:11:\"description\";s:308:\"
  The issuing authority of the web identity token presented. For OpenID Connect ID
  Tokens this contains the value of the <code>iss</code> field. For OAuth 2.0 access
  tokens, this contains the value of the <code>ProviderId</code> parameter that was
  passed in the <code>AssumeRoleWithWebIdentity</code> request.\";}s:27:\"SubjectFromWebIdentityToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/webIdentitySubjectType\";s:11:\"description\";s:493:\"The
  unique user identifier that is returned by the identity provider. This identifier
  is associated with the <code>WebIdentityToken</code> that was submitted with the
  <code>AssumeRoleWithWebIdentity</code> call. The identifier is typically unique
  to the user and the application that acquired the <code>WebIdentityToken</code>
  (pairwise identifier). For OpenID Connect ID tokens, this field contains the value
  returned by the identity provider as the token's <code>sub</code> (Subject) claim.
  \";}}s:4:\"type\";s:6:\"object\";}s:15:\"AssumedRoleUser\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"The
  identifiers for the temporary security credentials that the operation returns.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/arnType\";s:11:\"description\";s:294:\"The
  ARN of the temporary security credentials that are returned from the <a>AssumeRole</a>
  action. For more information about ARNs and how to use them in policies, see <a
  href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html\">IAM
  Identifiers</a> in <i>Using IAM</i>. \";}s:13:\"AssumedRoleId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/assumedRoleIdType\";s:11:\"description\";s:164:\"A
  unique identifier that contains the role ID and the role session name of the role
  that is being assumed. The role ID is generated by AWS when the role is created.\";}}s:8:\"required\";a:2:{i:0;s:13:\"AssumedRoleId\";i:1;s:3:\"Arn\";}s:4:\"type\";s:6:\"object\";}s:8:\"Audience\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Credentials\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"AWS
  credentials for API authentication.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"AccessKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/accessKeyIdType\";s:11:\"description\";s:69:\"The
  access key ID that identifies the temporary security credentials.\";}s:10:\"Expiration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/dateType\";s:11:\"description\";s:49:\"The
  date on which the current credentials expire.\";}s:15:\"SecretAccessKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/accessKeySecretType\";s:11:\"description\";s:56:\"The
  secret access key that can be used to sign requests.\";}s:12:\"SessionToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/tokenType\";s:11:\"description\";s:83:\"The
  token that users must pass to the service API to use the temporary credentials.\";}}s:8:\"required\";a:4:{i:0;s:11:\"AccessKeyId\";i:1;s:15:\"SecretAccessKey\";i:2;s:12:\"SessionToken\";i:3;s:10:\"Expiration\";}s:4:\"type\";s:6:\"object\";}s:33:\"DecodeAuthorizationMessageRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"EncodedMessage\";s:17:\"<encoded-message>\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"EncodedMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/encodedMessageType\";s:11:\"description\";s:56:\"The
  encoded message that was returned with the response.\";}}s:8:\"required\";a:1:{i:0;s:14:\"EncodedMessage\";}s:4:\"type\";s:6:\"object\";}s:34:\"DecodeAuthorizationMessageResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:163:\"A
  document that contains additional information about the authorization status of
  a request from an encoded message that is returned in response to an AWS request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"DecodedMessage\";s:496:\"{\"allowed\":
  \"false\",\"explicitDeny\": \"false\",\"matchedStatements\": \"\",\"failures\":
  \"\",\"context\": {\"principal\": {\"id\": \"AIDACKCEVSQ6C2EXAMPLE\",\"name\": \"Bob\",\"arn\":
  \"arn:aws:iam::123456789012:user/Bob\"},\"action\": \"ec2:StopInstances\",\"resource\":
  \"arn:aws:ec2:us-east-1:123456789012:instance/i-dd01c9bd\",\"conditions\": [{\"item\":
  {\"key\": \"ec2:Tenancy\",\"values\": [\"default\"]},{\"item\": {\"key\": \"ec2:ResourceTag/elasticbeanstalk:environment-name\",\"values\":
  [\"Default-Environment\"]}},(Additional items ...)]}}\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"DecodedMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/decodedMessageType\";s:11:\"description\";s:50:\"An
  XML document that contains the decoded message.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ExpiredTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"The
  web identity token that was passed is expired or is not valid. Get a new identity
  token from the identity provider and then retry the request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/expiredIdentityTokenMessage\";}}s:4:\"type\";s:6:\"object\";}s:13:\"FederatedUser\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"Identifiers
  for the federated user that is associated with the credentials.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/arnType\";s:11:\"description\";s:278:\"The
  ARN that specifies the federated user that is associated with the credentials. For
  more information about ARNs and how to use them in policies, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html\">IAM
  Identifiers</a> in <i>Using IAM</i>. \";}s:15:\"FederatedUserId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/federatedIdType\";s:11:\"description\";s:119:\"The
  string that identifies the federated user associated with the credentials, similar
  to the unique ID of an IAM user.\";}}s:8:\"required\";a:2:{i:0;s:15:\"FederatedUserId\";i:1;s:3:\"Arn\";}s:4:\"type\";s:6:\"object\";}s:24:\"GetCallerIdentityRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"GetCallerIdentityResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:130:\"Contains
  the response to a successful <a>GetCallerIdentity</a> request, including information
  about the entity making the request.\";s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"Account\";s:12:\"123456789012\";s:3:\"Arn\";s:63:\"arn:aws:sts::123456789012:federated-user/my-federated-user-name\";s:6:\"UserId\";s:35:\"123456789012:my-federated-user-name\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Account\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/accountType\";s:11:\"description\";s:82:\"The
  AWS account ID number of the account that owns or contains the calling entity.\";}s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/arnType\";s:11:\"description\";s:47:\"The
  AWS ARN associated with the calling entity.\";}s:6:\"UserId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/userIdType\";s:11:\"description\";s:392:\"The
  unique identifier of the calling entity. The exact value depends on the type of
  entity making the call. The values returned are those listed in the <b>aws:userid</b>
  column in the <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_variables.html#principaltable\">Principal
  table</a> found on the <b>Policy Variables</b> reference page in the <i>IAM User
  Guide</i>.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GetFederationTokenRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:15:\"DurationSeconds\";i:3600;s:4:\"Name\";s:3:\"Bob\";s:6:\"Policy\";s:102:\"{\"Version\":\"2012-10-17\",\"Statement\":[{\"Sid\":\"Stmt1\",\"Effect\":\"Allow\",\"Action\":\"s3:*\",\"Resource\":\"*\"}]}\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"DurationSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/durationSecondsType\";s:11:\"description\";s:457:\"The
  duration, in seconds, that the session should last. Acceptable durations for federation
  sessions range from 900 seconds (15 minutes) to 129600 seconds (36 hours), with
  43200 seconds (12 hours) as the default. Sessions obtained using AWS account (root)
  credentials are restricted to a maximum of 3600 seconds (one hour). If the specified
  duration is longer than one hour, the session obtained by using AWS account (root)
  credentials defaults to one hour.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/userNameType\";s:11:\"description\";s:487:\"<p>The
  name of the federated user. The name is used as an identifier for the temporary
  security credentials (such as <code>Bob</code>). For example, you can reference
  the federated user name in a resource-based policy, such as in an Amazon S3 bucket
  policy.</p> <p>The regex used to validate this parameter is a string of characters
  consisting of upper- and lower-case alphanumeric characters with no spaces. You
  can also include underscores or any of the following characters: =,.@-</p>\";}s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/sessionPolicyDocumentType\";s:11:\"description\";s:1850:\"<p>An
  IAM policy in JSON format that is passed with the <code>GetFederationToken</code>
  call and evaluated along with the policy or policies that are attached to the IAM
  user whose credentials are used to call <code>GetFederationToken</code>. The passed
  policy is used to scope down the permissions that are available to the IAM user,
  by allowing only a subset of the permissions that are granted to the IAM user. The
  passed policy cannot grant more permissions than those granted to the IAM user.
  The final permissions for the federated user are the most restrictive set based
  on the intersection of the passed policy and the IAM user policy.</p> <p>If you
  do not pass a policy, the resulting temporary security credentials have no effective
  permissions. The only exception is when the temporary security credentials are used
  to access a resource that has a resource-based policy that specifically allows the
  federated user to access the resource.</p> <p>The format for this parameter, as
  described by its regex pattern, is a string of characters up to 2048 characters
  in length. The characters can be any ASCII character from the space character to
  the end of the valid character list (\\u0020-\\u00FF). It can also include the tab
  (\\u0009), linefeed (\\u000A), and carriage return (\\u000D) characters.</p> <note>
  <p>The policy plain text must be 2048 bytes or shorter. However, an internal conversion
  compresses it into a packed binary format with a separate limit. The PackedPolicySize
  response element indicates by percentage how close to the upper size limit the policy
  is, with 100% equaling the maximum allowed size.</p> </note> <p>For more information
  about how permissions work, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_control-access_getfederationtoken.html\">Permissions
  for GetFederationToken</a>.</p>\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:26:\"GetFederationTokenResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:148:\"Contains
  the response to a successful <a>GetFederationToken</a> request, including temporary
  AWS credentials that can be used to make AWS requests. \";s:7:\"example\";O:8:\"stdClass\":3:{s:11:\"Credentials\";O:8:\"stdClass\":4:{s:11:\"AccessKeyId\";s:20:\"AKIAIOSFODNN7EXAMPLE\";s:10:\"Expiration\";s:24:\"2011-07-15T23:28:33.359Z\";s:15:\"SecretAccessKey\";s:41:\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYzEXAMPLEKEY\";s:12:\"SessionToken\";s:336:\"AQoDYXdzEPT//////////wEXAMPLEtc764bNrC9SAPBSM22wDOk4x4HIZ8j4FZTwdQWLWsKWHGBuFqwAeMicRXmxfpSPfIeoIYRqTflfKD8YUuwthAx7mSEI/qkPpKPi/kMcGdQrmGdeehM4IC1NtBmUpp2wUE8phUZampKsburEDy0KPkyQDYwT7WZ0wq5VSXDvp75YU9HFvlRd8Tx6q6fE8YQcHNVXAkiY9q6d+xo0rKwT38xVqr7ZD0u0iPPkUL64lIZbqBAz+scqKmlzm8FDrypNC9Yjc8fPOLn9FX9KSYvKTr4rvx3iSIlTJabIQwj2ICCR/oLxBA==\";}s:13:\"FederatedUser\";O:8:\"stdClass\":2:{s:3:\"Arn\";s:44:\"arn:aws:sts::123456789012:federated-user/Bob\";s:15:\"FederatedUserId\";s:16:\"123456789012:Bob\";}s:16:\"PackedPolicySize\";i:6;}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Credentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Credentials\";s:11:\"description\";s:429:\"<p>The
  temporary security credentials, which include an access key ID, a secret access
  key, and a security (or session) token.</p> <p> <b>Note:</b> The size of the security
  token that STS APIs return is not fixed. We strongly recommend that you make no
  assumptions about the maximum size. As of this writing, the typical size is less
  than 4096 bytes, but that can vary. Also, future updates to AWS might require larger
  sizes.</p>\";}s:13:\"FederatedUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FederatedUser\";s:11:\"description\";s:275:\"Identifiers
  for the federated user associated with the credentials (such as <code>arn:aws:sts::123456789012:federated-user/Bob</code>
  or <code>123456789012:Bob</code>). You can use the federated user's ARN in your
  resource-based policies, such as an Amazon S3 bucket policy. \";}s:16:\"PackedPolicySize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/nonNegativeIntegerType\";s:11:\"description\";s:173:\"A
  percentage value indicating the size of the policy in packed form. The service rejects
  policies for which the packed size is greater than 100 percent of the allowed value.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GetSessionTokenRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:15:\"DurationSeconds\";i:3600;s:12:\"SerialNumber\";s:19:\"YourMFASerialNumber\";s:9:\"TokenCode\";s:6:\"123456\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"DurationSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/durationSecondsType\";s:11:\"description\";s:408:\"The
  duration, in seconds, that the credentials should remain valid. Acceptable durations
  for IAM user sessions range from 900 seconds (15 minutes) to 129600 seconds (36
  hours), with 43200 seconds (12 hours) as the default. Sessions for AWS account owners
  are restricted to a maximum of 3600 seconds (one hour). If the duration is longer
  than one hour, the session for AWS account owners defaults to one hour.\";}s:12:\"SerialNumber\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/serialNumberType\";s:11:\"description\";s:785:\"<p>The
  identification number of the MFA device that is associated with the IAM user who
  is making the <code>GetSessionToken</code> call. Specify this value if the IAM user
  has a policy that requires MFA authentication. The value is either the serial number
  for a hardware device (such as <code>GAHT12345678</code>) or an Amazon Resource
  Name (ARN) for a virtual device (such as <code>arn:aws:iam::123456789012:mfa/user</code>).
  You can find the device for an IAM user by going to the AWS Management Console and
  viewing the user's security credentials. </p> <p>The regex used to validated this
  parameter is a string of characters consisting of upper- and lower-case alphanumeric
  characters with no spaces. You can also include underscores or any of the following
  characters: =,.@:/-</p>\";}s:9:\"TokenCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/tokenCodeType\";s:11:\"description\";s:491:\"<p>The
  value provided by the MFA device, if MFA is required. If any policy requires the
  IAM user to submit an MFA code, specify this value. If MFA authentication is required,
  and the user does not provide a code when requesting a set of temporary security
  credentials, the user will receive an \"access denied\" response when requesting
  resources that require MFA authentication.</p> <p>The format for this parameter,
  as described by its regex pattern, is a sequence of six numeric digits.</p>\";}}s:4:\"type\";s:6:\"object\";}s:23:\"GetSessionTokenResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:145:\"Contains
  the response to a successful <a>GetSessionToken</a> request, including temporary
  AWS credentials that can be used to make AWS requests. \";s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"Credentials\";O:8:\"stdClass\":4:{s:11:\"AccessKeyId\";s:20:\"AKIAIOSFODNN7EXAMPLE\";s:10:\"Expiration\";s:24:\"2011-07-11T19:55:29.611Z\";s:15:\"SecretAccessKey\";s:41:\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYzEXAMPLEKEY\";s:12:\"SessionToken\";s:239:\"AQoEXAMPLEH4aoAH0gNCAPyJxz4BlCFFxWNE1OPTgk5TthT+FvwqnKwRcOIfrRh3c/LTo6UDdyJwOOvEVPvLXCrrrUtdnniCEXAMPLE/IvU1dYUg2RVAJBanLiHb4IgRmpRV3zrkuWJOgQs8IZZaIv2BXIa2R4OlgkBN9bkUDNCJiBeb/AXlzBBko7b15fjrBs2+cTQtpZ3CYWFXG8C5zqx37wnOE49mRl/+OtkIKGO7fAE\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"Credentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Credentials\";s:11:\"description\";s:429:\"<p>The
  temporary security credentials, which include an access key ID, a secret access
  key, and a security (or session) token.</p> <p> <b>Note:</b> The size of the security
  token that STS APIs return is not fixed. We strongly recommend that you make no
  assumptions about the maximum size. As of this writing, the typical size is less
  than 4096 bytes, but that can vary. Also, future updates to AWS might require larger
  sizes.</p>\";}}s:4:\"type\";s:6:\"object\";}s:30:\"IDPCommunicationErrorException\";O:8:\"stdClass\":3:{s:11:\"description\";s:388:\"The
  request could not be fulfilled because the non-AWS identity provider (IDP) that
  was asked to verify the incoming identity token could not be reached. This is often
  a transient error caused by network conditions. Retry the request a limited number
  of times so that you don't exceed the request rate. If the error persists, the non-AWS
  identity provider might be down or not responding.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/idpCommunicationErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:25:\"IDPRejectedClaimException\";O:8:\"stdClass\":3:{s:11:\"description\";s:283:\"<p>The
  identity provider (IdP) reported that authentication failed. This might be because
  the claim is invalid.</p> <p>If this error is returned for the <code>AssumeRoleWithWebIdentity</code>
  operation, it can also mean that the claim has expired or has been explicitly revoked.
  </p>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/idpRejectedClaimMessage\";}}s:4:\"type\";s:6:\"object\";}s:36:\"InvalidAuthorizationMessageException\";O:8:\"stdClass\":3:{s:11:\"description\";s:175:\"The
  error returned if the message passed to <code>DecodeAuthorizationMessage</code>
  was invalid. This can happen if the token contains invalid characters, such as linebreaks.
  \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/invalidAuthorizationMessage\";}}s:4:\"type\";s:6:\"object\";}s:29:\"InvalidIdentityTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"The
  web identity token that was passed could not be validated by AWS. Get a new identity
  token from the identity provider and then retry the request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/invalidIdentityTokenMessage\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Issuer\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:32:\"MalformedPolicyDocumentException\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  request was rejected because the policy document was malformed. The error message
  describes the specific error.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/malformedPolicyDocumentMessage\";}}s:4:\"type\";s:6:\"object\";}s:13:\"NameQualifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"PackedPolicyTooLargeException\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"The
  request was rejected because the policy document was too large. The error message
  describes how big the policy document is, in packed form, as a percentage of what
  the API allows.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/packedPolicyTooLargeMessage\";}}s:4:\"type\";s:6:\"object\";}s:23:\"RegionDisabledException\";O:8:\"stdClass\":3:{s:11:\"description\";s:399:\"STS
  is not activated in the requested region for the account that is being asked to
  generate credentials. The account administrator must use the IAM console to activate
  STS in that region. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating
  and Deactivating AWS STS in an AWS Region</a> in the <i>IAM User Guide</i>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/regionDisabledMessage\";}}s:4:\"type\";s:6:\"object\";}s:17:\"SAMLAssertionType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100000;s:9:\"minLength\";i:4;s:4:\"type\";s:6:\"string\";}s:7:\"Subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"SubjectType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"accessKeyIdType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:16;s:7:\"pattern\";s:5:\"[\\w]*\";s:4:\"type\";s:6:\"string\";}s:19:\"accessKeySecretType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"accountType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"arnType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:20;s:7:\"pattern\";s:82:\"[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]+\";s:4:\"type\";s:6:\"string\";}s:17:\"assumedRoleIdType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:193;s:9:\"minLength\";i:2;s:7:\"pattern\";s:12:\"[\\w+=,.@:-]*\";s:4:\"type\";s:6:\"string\";}s:15:\"clientTokenType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:4;s:4:\"type\";s:6:\"string\";}s:8:\"dateType\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"decodedMessageType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"durationSecondsType\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:129600;s:7:\"minimum\";i:900;s:4:\"type\";s:7:\"integer\";}s:18:\"encodedMessageType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:10240;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:27:\"expiredIdentityTokenMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"externalIdType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:1224;s:9:\"minLength\";i:2;s:7:\"pattern\";s:14:\"[\\w+=,.@:\\/-]*\";s:4:\"type\";s:6:\"string\";}s:15:\"federatedIdType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:193;s:9:\"minLength\";i:2;s:7:\"pattern\";s:13:\"[\\w+=,.@\\:-]*\";s:4:\"type\";s:6:\"string\";}s:28:\"idpCommunicationErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"idpRejectedClaimMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"invalidAuthorizationMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"invalidIdentityTokenMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:30:\"malformedPolicyDocumentMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"nonNegativeIntegerType\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:27:\"packedPolicyTooLargeMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"regionDisabledMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"roleDurationSecondsType\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:43200;s:7:\"minimum\";i:900;s:4:\"type\";s:7:\"integer\";}s:19:\"roleSessionNameType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:2;s:7:\"pattern\";s:11:\"[\\w+=,.@-]*\";s:4:\"type\";s:6:\"string\";}s:16:\"serialNumberType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:9;s:7:\"pattern\";s:13:\"[\\w+=/:,.@-]*\";s:4:\"type\";s:6:\"string\";}s:25:\"sessionPolicyDocumentType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:1;s:7:\"pattern\";s:34:\"[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+\";s:4:\"type\";s:6:\"string\";}s:13:\"tokenCodeType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:6;s:9:\"minLength\";i:6;s:7:\"pattern\";s:5:\"[\\d]*\";s:4:\"type\";s:6:\"string\";}s:9:\"tokenType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"urlType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:4;s:4:\"type\";s:6:\"string\";}s:10:\"userIdType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"userNameType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:32;s:9:\"minLength\";i:2;s:7:\"pattern\";s:11:\"[\\w+=,.@-]*\";s:4:\"type\";s:6:\"string\";}s:22:\"webIdentitySubjectType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:6;s:4:\"type\";s:6:\"string\";}}"
...
