---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:11:\"NetData API\";s:11:\"description\";s:39:\"Real
  time data collection and graphs...\";s:7:\"version\";s:14:\"1.9.11_rolling\";}"
host: registry.my-netdata.io
basePath: /api/v1
paths: ~
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":4:{s:13:\"chart_summary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"hostname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  hostname of the netdata server.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"netdata
  version of the server.\";}s:2:\"os\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  netdata server host operating system.\";s:4:\"enum\";a:3:{i:0;s:5:\"macos\";i:1;s:5:\"linux\";i:2;s:7:\"freebsd\";}}s:7:\"history\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:76:\"The
  duration, in seconds, of the round robin database maintained by netdata.\";}s:12:\"update_every\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:114:\"The
  default update frequency of the netdata server. All charts have an update frequency
  equal or bigger than this.\";}s:6:\"charts\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:162:\"An
  object containing all the chart objects available at the netdata server. This is
  used as an indexed array. The key of each chart object is the id of the chart.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/chart\";}}}s:12:\"charts_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:21:\"The
  number of charts.\";}s:16:\"dimensions_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:31:\"The
  total number of dimensions.\";}s:12:\"alarms_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:21:\"The
  number of alarms.\";}s:16:\"rrd_memory_bytes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:46:\"The
  size of the round robin database in bytes.\";}}}s:5:\"chart\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  unique id of the chart\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  name of the chart\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:102:\"The
  type of the chart. Types are not handled by netdata. You can use this field for
  anything you like.\";}s:6:\"family\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"The
  family of the chart. Families are not handled by netdata. You can use this field
  for anything you like.\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  title of the chart.\";}s:8:\"priority\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:284:\"The
  relative priority of the chart. NetData does not care about priorities. This is
  just an indication of importance for the chart viewers to sort charts of higher
  priority (lower number) closer to the top. Priority sorting should only be used
  among charts of the same type or family.\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:127:\"True
  when the chart is enabled. Disabled charts do not currently collect values, but
  they may have historical values available.\";}s:5:\"units\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"The
  unit of measurement for the values of all dimensions of the chart.\";}s:8:\"data_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:161:\"The
  absolute path to get data values for this chart. You are expected to use this path
  as the base when constructing the URL to fetch data values for this chart.\";}s:10:\"chart_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  chart type.\";s:4:\"enum\";a:3:{i:0;s:4:\"line\";i:1;s:4:\"area\";i:2;s:7:\"stacked\";}}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:76:\"The
  duration, in seconds, of the round robin database maintained by netdata.\";}s:11:\"first_entry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:79:\"The
  UNIX timestamp of the first entry (the oldest) in the round robin database.\";}s:10:\"last_entry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:67:\"The
  UNIX timestamp of the latest entry in the round robin database.\";}s:12:\"update_every\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:120:\"The
  update frequency of this chart, in seconds. One value every this amount of time
  is kept in the round robin database.\";}s:10:\"dimensions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:151:\"An
  object containing all the chart dimensions available for the chart. This is used
  as an indexed array. The key of the object the id of the dimension.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/dimension\";}}}s:5:\"green\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:28:\"Chart
  health green threshold\";}s:3:\"red\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:26:\"Chart
  health red trheshold\";}}}s:9:\"dimension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  name of the dimension\";}}}s:9:\"json_wrap\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:3:\"api\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:45:\"The
  API version this conforms to, currently 1\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  unique id of the chart\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  name of the chart\";}s:12:\"update_every\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:155:\"The
  update frequency of this chart, in seconds. One value every this amount of time
  is kept in the round robin database (indepedently of the current view).\";}s:17:\"view_update_every\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:170:\"The
  current view appropriate update frequency of this chart, in seconds. There is no
  point to request chart refreshes, using the same settings, more frequently than
  this.\";}s:11:\"first_entry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:114:\"The
  UNIX timestamp of the first entry (the oldest) in the round robin database (indepedently
  of the current view).\";}s:10:\"last_entry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:102:\"The
  UNIX timestamp of the latest entry in the round robin database (indepedently of
  the current view).\";}s:5:\"after\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:77:\"The
  UNIX timestamp of the first entry (the oldest) returned in this response.\";}s:6:\"before\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:65:\"The
  UNIX timestamp of the latest entry returned in this response.\";}s:3:\"min\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:99:\"The
  minimum value returned in the current view. This can be used to size the y-series
  of the chart.\";}s:3:\"max\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:99:\"The
  maximum value returned in the current view. This can be used to size the y-series
  of the chart.\";}s:15:\"dimension_names\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  dimension names of the chart as returned in the current view.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"dimension_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  dimension IDs of the chart as returned in the current view.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"latest_values\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  latest values collected for the chart (indepedently of the current view).\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:18:\"view_latest_values\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  latest values returned with this response.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"dimensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:34:\"The
  number of dimensions returned.\";}s:6:\"points\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:37:\"The
  number of rows / points returned.\";}s:6:\"format\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  format of the result returned.\";}s:6:\"result\";O:8:\"stdClass\":1:{s:11:\"description\";s:46:\"The
  result requested, in the format requested.\";}}}}"
...
