---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:20:\"info@spectrocoin.com\";}s:11:\"description\";s:110:\"This
  is an API designed for merchants who are using SpectroCoin services and wishes to
  integrate them locally.\";s:5:\"title\";s:20:\"SpectroCoin Merchant\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:3:{i:0;s:9:\"ecommerce\";i:1;s:9:\"financial\";i:2;s:7:\"payment\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:94:\"https://api.apis.guru/v2/cache/logo/https_d1ryrugmrhsb54.cloudfront.net_assets_images_logo.svg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:44:\"https://spectrocoin.com/api-docs/merchant/1/\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"spectrocoin.com\";}"
host: spectrocoin.com
basePath: /api/merchant/1
paths:
  /api/createOrder:
    post:
      description: ""
      operationId: createOrder
      parameters:
      - description: Request to create order
        in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/Order_request_class_used_to_provide_order_specific_information'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Order_information_class'
      summary: Create merchant order
      tags:
      - createOrder
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:23:\"Order_information_class\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"depositAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Payment
  deposit address\";s:4:\"type\";s:6:\"string\";}s:7:\"orderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Merchant
  provided or generated order id\";s:4:\"type\";s:6:\"string\";}s:14:\"orderRequestId\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Generated
  unique order request id\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"payAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Amount
  of payment currency to be paid by merchant customer\";s:4:\"type\";s:6:\"number\";}s:11:\"payCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Currency
  to be paid with\";s:4:\"type\";s:6:\"string\";}s:13:\"receiveAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Amount
  of receive currency to be funded to merchant account\";s:4:\"type\";s:6:\"number\";}s:15:\"receiveCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Currency
  to be funded to merchant account\";s:4:\"type\";s:6:\"string\";}s:11:\"redirectUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"SpectroCoin
  payment window url where merchant customer may be redirected\";s:4:\"type\";s:6:\"string\";}s:10:\"validUntil\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Timestamp
  until when order is valid\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:9:{i:0;s:14:\"depositAddress\";i:1;s:7:\"orderId\";i:2;s:14:\"orderRequestId\";i:3;s:9:\"payAmount\";i:4;s:11:\"payCurrency\";i:5;s:13:\"receiveAmount\";i:6;s:15:\"receiveCurrency\";i:7;s:11:\"redirectUrl\";i:8;s:10:\"validUntil\";}s:4:\"type\";s:6:\"object\";}s:62:\"Order_request_class_used_to_provide_order_specific_information\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":16:{s:5:\"apiId\";O:8:\"stdClass\":5:{s:11:\"description\";s:67:\"API
  ID of specific API you have configured on your merchant account\";s:6:\"format\";s:5:\"int64\";s:7:\"maximum\";d:9.2233720368547758E+18;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:11:\"callbackUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Url
  of merchant endpoint callback about order status to be returned\";s:4:\"type\";s:6:\"string\";}s:7:\"culture\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Merchant
  customer culture payment window to be presented\";s:4:\"enum\";a:4:{i:0;s:2:\"en\";i:1;s:2:\"lt\";i:2;s:2:\"ru\";i:3;s:2:\"de\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Order
  description. Will be presented for merchant customer at payment window\";s:4:\"type\";s:6:\"string\";}s:10:\"failureUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Url
  of merchant page customer should be redirected after unsuccessful payment\";s:4:\"type\";s:6:\"string\";}s:10:\"merchantId\";O:8:\"stdClass\":5:{s:11:\"description\";s:36:\"Merchant
  ID assigned to your account\";s:6:\"format\";s:5:\"int64\";s:7:\"maximum\";d:9.2233720368547758E+18;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:7:\"orderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Custom
  order ID. Must be unique per API. If not provided it will be generated.\";s:4:\"type\";s:6:\"string\";}s:9:\"payAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"Pay
  amount in pay currency of value which should be paid by merchant customer. If not
  provided receive amount will be used to calculate pay amount\";s:4:\"type\";s:6:\"number\";}s:11:\"payCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Currency
  of pay amount\";s:4:\"type\";s:6:\"string\";}s:10:\"payerEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Specified
  payer email.\";s:4:\"type\";s:6:\"string\";}s:9:\"payerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Specified
  payer name.\";s:4:\"type\";s:6:\"string\";}s:12:\"payerSurname\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Specified
  payer surname.\";s:4:\"type\";s:6:\"string\";}s:13:\"receiveAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:183:\"Receive
  amount in receive currency of value that merchant will be funded after merchant
  customers payment approval. If not provided pay amount will be used to calculate
  receive amount\";s:4:\"type\";s:6:\"number\";}s:15:\"receiveCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Currency
  of receive amount\";s:4:\"type\";s:6:\"string\";}s:4:\"sign\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Signature
  required for signing create order request\";s:4:\"type\";s:6:\"string\";}s:10:\"successUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Url
  of merchant page customer should be redirected after successful payment\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:5:\"apiId\";i:1;s:10:\"merchantId\";i:2;s:11:\"payCurrency\";i:3;s:15:\"receiveCurrency\";i:4;s:4:\"sign\";}s:4:\"type\";s:6:\"object\";}}"
...
