---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:62:\"Upload,
  process, query, and search Genomics data in the cloud.\";s:5:\"title\";s:8:\"Genomics\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:58:\"https://genomics.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:8:\"genomics\";}"
host: genomics.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":84:{s:10:\"Annotation\";O:8:\"stdClass\":3:{s:11:\"description\";s:360:\"An
  annotation describes a region of reference genome. The value of an\nannotation may
  be one of several canonical types, supplemented by arbitrary\ninfo tags. An annotation
  is not inherently associated with a specific\nsample or individual (though a client
  could choose to use annotations in\nthis way). Example canonical annotation types
  are `GENE` and\n`VARIANT`.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:15:\"annotationSetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  annotation set to which this annotation belongs.\";s:4:\"type\";s:6:\"string\";}s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  end position of the range on the reference, 0-based exclusive.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  server-generated annotation ID, unique across all annotations.\";s:4:\"type\";s:6:\"string\";}s:4:\"info\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:11:\"description\";s:143:\"A
  map of additional read alignment information. This must be of the form\nmap<string,
  string[]> (string key mapping to a list of string values).\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  display name of this annotation.\";s:4:\"type\";s:6:\"string\";}s:11:\"referenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  ID of the Google Genomics reference associated with this range.\";s:4:\"type\";s:6:\"string\";}s:13:\"referenceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"The
  display name corresponding to the reference specified by\n`referenceId`, for example
  `chr1`, `1`, or `chrX`.\";s:4:\"type\";s:6:\"string\";}s:13:\"reverseStrand\";O:8:\"stdClass\":2:{s:11:\"description\";s:190:\"Whether
  this range refers to the reverse strand, as opposed to the forward\nstrand. Note
  that regardless of this field, the start/end position of the\nrange always refer
  to the forward strand.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  start position of the range on the reference, 0-based inclusive.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"transcript\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Transcript\";s:11:\"description\";s:266:\"A
  transcript value represents the assertion that a particular region of\nthe reference
  genome may be transcribed as RNA. An alternative splicing\npattern would be represented
  as a separate transcript object. This field\nis only set for annotations of type
  `TRANSCRIPT`.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  data type for this annotation. Must match the containing annotation\nset's type.\";s:4:\"enum\";a:5:{i:0;s:27:\"ANNOTATION_TYPE_UNSPECIFIED\";i:1;s:7:\"GENERIC\";i:2;s:7:\"VARIANT\";i:3;s:4:\"GENE\";i:4;s:10:\"TRANSCRIPT\";}s:4:\"type\";s:6:\"string\";}s:7:\"variant\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/VariantAnnotation\";s:11:\"description\";s:230:\"A
  variant annotation, which describes the effect of a variant on the\ngenome, the
  coding sequence, and/or higher level consequences at the\norganism level e.g. pathogenicity.
  This field is only set for annotations\nof type `VARIANT`.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AnnotationSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:214:\"An
  annotation set is a logical grouping of annotations that share consistent\ntype
  information and provenance. Examples of annotation sets include 'all\ngenes from
  refseq', and 'all variant annotations from ClinVar'.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"datasetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  dataset to which this annotation set belongs.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  server-generated annotation set ID, unique across all annotation sets.\";s:4:\"type\";s:6:\"string\";}s:4:\"info\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:11:\"description\";s:143:\"A
  map of additional read alignment information. This must be of the form\nmap<string,
  string[]> (string key mapping to a list of string values).\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  display name for this annotation set.\";s:4:\"type\";s:6:\"string\";}s:14:\"referenceSetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  ID of the reference set that defines the coordinate space for this\nset's annotations.\";s:4:\"type\";s:6:\"string\";}s:9:\"sourceUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  source URI describing the file from which this annotation set was\ngenerated, if
  any.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  type of annotations contained within this set.\";s:4:\"enum\";a:5:{i:0;s:27:\"ANNOTATION_TYPE_UNSPECIFIED\";i:1;s:7:\"GENERIC\";i:2;s:7:\"VARIANT\";i:3;s:4:\"GENE\";i:4;s:10:\"TRANSCRIPT\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"BatchCreateAnnotationsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"annotations\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  annotations to be created. At most 4096 can be specified in a single\nrequest.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Annotation\";}s:4:\"type\";s:5:\"array\";}s:9:\"requestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:510:\"A
  unique request ID which enables the server to detect duplicated requests.\nIf provided,
  duplicated requests will result in the same response; if not\nprovided, duplicated
  requests may result in duplicated data. For a given\nannotation set, callers should
  not reuse `request_id`s when writing\ndifferent batches of annotations - behavior
  in this case is undefined.\nA common approach is to use a UUID. For batch jobs where
  worker crashes are\na possibility, consider using some unique variant of a worker
  or run ID.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"BatchCreateAnnotationsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  resulting per-annotation entries, ordered consistently with the\noriginal request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Entry\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Binding\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Associates
  `members` with a `role`.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:888:\"Specifies
  the identities requesting access for a Cloud Platform resource.\n`members` can have
  the following values:\n\n* `allUsers`: A special identifier that represents anyone
  who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`:
  A special identifier that represents anyone\n   who is authenticated with a Google
  account or a service account.\n\n* `user:{emailid}`: An email address that represents
  a specific Google\n   account. For example, `alice@gmail.com` .\n\n\n* `serviceAccount:{emailid}`:
  An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n*
  `group:{emailid}`: An email address that represents a Google group.\n   For example,
  `admins@example.com`.\n\n\n* `domain:{domain}`: A Google Apps domain name that represents
  all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Role
  that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or
  `roles/owner`.\nRequired\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"CallSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"A
  call set is a collection of variant calls, typically for one sample. It\nbelongs
  to a variant set.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  date this call set was created in milliseconds from the epoch.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  server-generated call set ID, unique across all call sets.\";s:4:\"type\";s:6:\"string\";}s:4:\"info\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:11:\"description\";s:137:\"A
  map of additional call set information. This must be of the form\nmap<string, string[]>
  (string key mapping to a list of string values).\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  call set name.\";s:4:\"type\";s:6:\"string\";}s:8:\"sampleId\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  sample ID this call set corresponds to.\";s:4:\"type\";s:6:\"string\";}s:13:\"variantSetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:298:\"The
  IDs of the variant sets this call set belongs to. This field must\nhave exactly
  length one, as a call set belongs to a single variant set.\nThis field is repeated
  for compatibility with the\n[GA4GH 0.5.1\nAPI](https://github.com/ga4gh/schemas/blob/v0.5.1/src/main/resources/avro/variants.avdl#L76).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CancelOperationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  request message for Operations.CancelOperation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"CigarUnit\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  single CIGAR operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:21:\"OPERATION_UNSPECIFIED\";i:1;s:15:\"ALIGNMENT_MATCH\";i:2;s:6:\"INSERT\";i:3;s:6:\"DELETE\";i:4;s:4:\"SKIP\";i:5;s:9:\"CLIP_SOFT\";i:6;s:9:\"CLIP_HARD\";i:7;s:3:\"PAD\";i:8;s:14:\"SEQUENCE_MATCH\";i:9;s:17:\"SEQUENCE_MISMATCH\";}s:4:\"type\";s:6:\"string\";}s:15:\"operationLength\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  number of genomic bases that the operation runs for. Required.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:17:\"referenceSequence\";O:8:\"stdClass\":2:{s:11:\"description\";s:203:\"`referenceSequence`
  is only used at mismatches\n(`SEQUENCE_MISMATCH`) and deletions (`DELETE`).\nFilling
  this field replaces SAM's MD tag. If the relevant information is\nnot available,
  this field is unset.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ClinicalCondition\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"conceptId\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  MedGen concept id associated with this gene.\nSearch for these IDs at http://www.ncbi.nlm.nih.gov/medgen/\";s:4:\"type\";s:6:\"string\";}s:11:\"externalIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  set of external IDs for this condition.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ExternalId\";}s:4:\"type\";s:5:\"array\";}s:5:\"names\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  set of names for the condition.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"omimId\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  OMIM id for this condition.\nSearch for these IDs at http://omim.org/\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CodingSequence\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:193:\"The
  end of the coding sequence on this annotation's reference sequence,\n0-based exclusive.
  Note that this position is relative to the reference\nstart, and *not* the containing
  annotation start.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:195:\"The
  start of the coding sequence on this annotation's reference sequence,\n0-based inclusive.
  Note that this position is relative to the reference\nstart, and *not* the containing
  annotation start.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ComputeEngine\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Describes
  a Compute Engine resource that is being managed by a running\npipeline.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"diskNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  names of the disks that were created for this pipeline.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"instanceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  instance on which the operation is running.\";s:4:\"type\";s:6:\"string\";}s:11:\"machineType\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  machine type of the instance.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  availability zone in which the instance resides.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ContainerStartedEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"This
  event is generated when a container starts.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"actionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  numeric ID of the action that started this container.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:246:\"The
  public IP address that can be used to connect to the container.  This\nfield is
  only populated when at least one port mapping is present.  If the\ninstance was
  created with a private address this field will be empty even\nif port mappings exist.\";s:4:\"type\";s:6:\"string\";}s:12:\"portMappings\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"description\";s:194:\"The
  container to host port mappings installed for this container.  This\nset will contain
  any ports exposed using the PUBLISH_EXPOSED_PORTS flag as\nwell as any specified
  in the Action definition.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ContainerStoppedEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"This
  event is generated when a container exits.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"actionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  numeric ID of the action that started this container.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"exitStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  exit status of the container.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"stderr\";O:8:\"stdClass\":2:{s:11:\"description\";s:458:\"The
  tail end of any content written to standard error by the container.\nTo prevent
  this from being recorded if the action is known to emit\nlarge amounts of debugging
  noise or sensitive information, set the\nDISABLE_STANDARD_ERROR_CAPTURE flag.\n\nNote
  that only a small amount of the end of the stream is captured here.\nThe entire
  stream is stored in the /google/logs directory mounted into\neach action, and may
  be copied off the machine as described elsewhere.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CoverageBucket\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"A
  bucket over which read coverage has been precomputed. A bucket corresponds\nto a
  specific range of the reference sequence.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"meanCoverage\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"The
  average number of reads which are aligned to each individual\nreference base in
  this bucket.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"range\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Range\";s:11:\"description\";s:52:\"The
  genomic coordinate range spanned by this bucket.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Dataset\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  Dataset is a collection of genomic data.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  time this dataset was created, in seconds from the epoch.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  server-generated dataset ID, unique across all datasets.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  dataset name.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  Google Cloud project ID that this dataset belongs to.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DelayedEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"This
  event is generated whenever a resource limitation or transient error\ndelays execution
  of a pipeline that was otherwise ready to run.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:11:\"description\";s:159:\"A
  textual description of the cause of the delay.  The string may change\nwithout notice
  since it is often generated by another service (such as\nCompute Engine).\";s:4:\"type\";s:6:\"string\";}s:7:\"metrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:254:\"If
  the delay was caused by a resource shortage, this field lists the\nCompute Engine
  metrics that are preventing this operation from running\n(for example, CPUS or INSTANCES).
  \ If the particular metric is not known,\na single UNKNOWN metric will be present.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is
  empty JSON object `{}`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"Entry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"annotation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Annotation\";s:11:\"description\";s:51:\"The
  created annotation, if creation was successful.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:20:\"The
  creation status.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Event\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Event
  carries information about events that occur during pipeline execution.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"A
  human readable description of the event.  Note that these strings may\nchange at
  any time without notice.  Any application logic must use the\ninformation in the
  details field.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:41:\"Machine
  readable details about the event.\";s:4:\"type\";s:6:\"object\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  time that the event occurred.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Exon\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"The
  end position of the exon on this annotation's reference sequence,\n0-based exclusive.
  Note that this is relative to the reference start, and\n*not* the containing annotation
  start.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"frame\";O:8:\"stdClass\":3:{s:11:\"description\";s:588:\"The
  frame of this exon. Contains a value of 0, 1, or 2, which indicates\nthe offset
  of the first coding base of the exon within the reading frame\nof the coding DNA
  sequence, if any. This field is dependent on the\nstrandedness of this annotation
  (see\nAnnotation.reverse_strand).\nFor forward stranded annotations, this offset
  is relative to the\nexon.start. For reverse\nstrand annotations, this offset is
  relative to the\nexon.end `- 1`.\n\nUnset if this exon does not intersect the coding
  sequence. Upon creation\nof a transcript, the frame must be populated for all or
  none of the\ncoding exons.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:186:\"The
  start position of the exon on this annotation's reference sequence,\n0-based inclusive.
  Note that this is relative to the reference start, and\n**not** the containing annotation
  start.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Experiment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"instrumentModel\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"The
  instrument model used as part of this experiment. This maps to\nsequencing technology
  in the SAM spec.\";s:4:\"type\";s:6:\"string\";}s:9:\"libraryId\";O:8:\"stdClass\":2:{s:11:\"description\";s:241:\"A
  client-supplied library identifier; a library is a collection of DNA\nfragments
  which have been prepared for sequencing from a sample. This\nfield is important
  for quality control as error or bias can be introduced\nduring sample preparation.\";s:4:\"type\";s:6:\"string\";}s:12:\"platformUnit\";O:8:\"stdClass\":2:{s:11:\"description\";s:166:\"The
  platform unit used as part of this experiment, for example\nflowcell-barcode.lane
  for Illumina or slide for SOLiD. Corresponds to the\n@RG PU field in the SAM spec.\";s:4:\"type\";s:6:\"string\";}s:16:\"sequencingCenter\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  sequencing center used as part of this experiment.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ExportReadGroupSetRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  read group set export request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"exportUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:196:\"Required.
  A Google Cloud Storage URI for the exported BAM file.\nThe currently authenticated
  user must have write access to the new file.\nAn error will be returned if the URI
  already contains data.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Required.
  The Google Cloud project ID that owns this\nexport. The caller must have WRITE access
  to this project.\";s:4:\"type\";s:6:\"string\";}s:14:\"referenceNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"The
  reference names to export. If this is not specified, all reference\nsequences, including
  unmapped reads, are exported.\nUse `*` to export only unmapped reads.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ExportVariantSetRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  variant data export request.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"bigqueryDataset\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"Required.
  The BigQuery dataset to export data to. This dataset must already\nexist. Note that
  this is distinct from the Genomics concept of \"dataset\".\";s:4:\"type\";s:6:\"string\";}s:13:\"bigqueryTable\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"Required.
  The BigQuery table to export data to.\nIf the table doesn't exist, it will be created.
  If it already exists, it\nwill be overwritten.\";s:4:\"type\";s:6:\"string\";}s:10:\"callSetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"If
  provided, only variant call information from the specified call sets\nwill be exported.
  By default all variant calls are exported.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"format\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  format for the exported data.\";s:4:\"enum\";a:2:{i:0;s:18:\"FORMAT_UNSPECIFIED\";i:1;s:15:\"FORMAT_BIGQUERY\";}s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:186:\"Required.
  The Google Cloud project ID that owns the destination\nBigQuery dataset. The caller
  must have WRITE access to this project.  This\nproject will also own the resulting
  export job.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ExternalId\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  id used by the source of this data.\";s:4:\"type\";s:6:\"string\";}s:10:\"sourceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  name of the source of this data.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"FailedEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"This
  event is generated when the execution of a pipeline has failed.  Note\nthat other
  events may continue to occur after this event.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cause\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  human readable description of the cause of the failure.\";s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  Google standard error code that best describes this failure.\";s:4:\"enum\";a:17:{i:0;s:2:\"OK\";i:1;s:9:\"CANCELLED\";i:2;s:7:\"UNKNOWN\";i:3;s:16:\"INVALID_ARGUMENT\";i:4;s:17:\"DEADLINE_EXCEEDED\";i:5;s:9:\"NOT_FOUND\";i:6;s:14:\"ALREADY_EXISTS\";i:7;s:17:\"PERMISSION_DENIED\";i:8;s:15:\"UNAUTHENTICATED\";i:9;s:18:\"RESOURCE_EXHAUSTED\";i:10;s:19:\"FAILED_PRECONDITION\";i:11;s:7:\"ABORTED\";i:12;s:12:\"OUT_OF_RANGE\";i:13;s:13:\"UNIMPLEMENTED\";i:14;s:8:\"INTERNAL\";i:15;s:11:\"UNAVAILABLE\";i:16;s:9:\"DATA_LOSS\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetIamPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  message for `GetIamPolicy` method.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"ImportReadGroupSetsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  read group set import request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"datasetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"Required.
  The ID of the dataset these read group sets will belong to. The\ncaller must have
  WRITE permissions to this dataset.\";s:4:\"type\";s:6:\"string\";}s:17:\"partitionStrategy\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  partition strategy describes how read groups are partitioned into read\ngroup sets.\";s:4:\"enum\";a:3:{i:0;s:30:\"PARTITION_STRATEGY_UNSPECIFIED\";i:1;s:19:\"PER_FILE_PER_SAMPLE\";i:2;s:9:\"MERGE_ALL\";}s:4:\"type\";s:6:\"string\";}s:14:\"referenceSetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:287:\"The
  reference set to which the imported read group sets are aligned to, if\nany. The
  reference names of this reference set must be a superset of those\nfound in the
  imported file headers. If no reference set id is provided, a\nbest effort is made
  to associate with a matching reference set.\";s:4:\"type\";s:6:\"string\";}s:10:\"sourceUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:463:\"A
  list of URIs pointing at [BAM\nfiles](https://samtools.github.io/hts-specs/SAMv1.pdf)\nin
  Google Cloud Storage.\nThose URIs can include wildcards (*), but do not add or remove\nmatching
  files before import has completed.\n\nNote that Google Cloud Storage object listing
  is only eventually\nconsistent: files added may be not be immediately visible to\neveryone.
  Thus, if using a wildcard it is preferable not to start\nthe import immediately
  after the files are created.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ImportReadGroupSetsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  read group set import response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"readGroupSetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"IDs
  of the read group sets that were created.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ImportVariantsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  variant data import request.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"format\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  format of the variant data being imported. If unspecified, defaults to\nto `VCF`.\";s:4:\"enum\";a:3:{i:0;s:18:\"FORMAT_UNSPECIFIED\";i:1;s:10:\"FORMAT_VCF\";i:2;s:24:\"FORMAT_COMPLETE_GENOMICS\";}s:4:\"type\";s:6:\"string\";}s:15:\"infoMergeConfig\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:32:\"INFO_MERGE_OPERATION_UNSPECIFIED\";i:1;s:10:\"IGNORE_NEW\";i:2;s:13:\"MOVE_TO_CALLS\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:174:\"A
  mapping between info field keys and the InfoMergeOperations to\nbe performed on
  them. This is plumbed down to the MergeVariantRequests\ngenerated by the resulting
  import job.\";s:4:\"type\";s:6:\"object\";}s:23:\"normalizeReferenceNames\";O:8:\"stdClass\":2:{s:11:\"description\";s:441:\"Convert
  reference names to the canonical representation.\nhg19 haploytypes (those reference
  names containing \"_hap\")\nare not modified in any way.\nAll other reference names
  are modified according to the following rules:\nThe reference name is capitalized.\nThe
  \"chr\" prefix is dropped for all autosomes and sex chromsomes.\nFor example \"chr17\"
  becomes \"17\" and \"chrX\" becomes \"X\".\nAll mitochondrial chromosomes (\"chrM\",
  \"chrMT\", etc) become \"MT\".\";s:4:\"type\";s:7:\"boolean\";}s:10:\"sourceUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:238:\"A
  list of URIs referencing variant files in Google Cloud Storage. URIs can\ninclude
  wildcards [as described\nhere](https://cloud.google.com/storage/docs/gsutil/addlhelp/WildcardNames).\nNote
  that recursive wildcards ('**') are not supported.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"variantSetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Required.
  The variant set to which variant data should be imported.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ImportVariantsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  variant data import response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"callSetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"IDs
  of the call sets created during the import.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"LinearAlignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"A
  linear alignment can be represented by one CIGAR string. Describes the\nmapped position
  and local alignment of the read to the reference.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"cigar\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Represents
  the local alignment of this sequence (alignment matches, indels,\netc) against the
  reference.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/CigarUnit\";}s:4:\"type\";s:5:\"array\";}s:14:\"mappingQuality\";O:8:\"stdClass\":3:{s:11:\"description\";s:218:\"The
  mapping quality of this alignment. Represents how likely\nthe read maps to this
  position as opposed to other locations.\n\nSpecifically, this is -10 log10 Pr(mapping
  position is wrong), rounded to\nthe nearest integer.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"position\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Position\";s:11:\"description\";s:31:\"The
  position of this alignment.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListBasesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  continuation token, which is used to page through large result sets.\nProvide this
  value in a subsequent request to return the next page of\nresults. This field will
  be empty if there aren't any additional results.\";s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"The
  offset position (0-based) of the given `sequence` from the\nstart of this `Reference`.
  This value will differ for each page\nin a paginated request.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"sequence\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"A
  substring of the bases that make up this reference.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ListCoverageBucketsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"bucketWidth\";O:8:\"stdClass\":3:{s:11:\"description\";s:235:\"The
  length of each coverage bucket in base pairs. Note that buckets at the\nend of a
  reference sequence may be shorter. This value is omitted if the\nbucket width is
  infinity (the default behaviour, with no range or\n`targetBucketWidth`).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"coverageBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:250:\"The
  coverage buckets. The list of buckets is sparse; a bucket with 0\noverlapping reads
  is not returned. A bucket never crosses more than one\nreference sequence. Each
  bucket has width `bucketWidth`, unless\nits end is the end of the reference sequence.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CoverageBucket\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  continuation token, which is used to page through large result sets.\nProvide this
  value in a subsequent request to return the next page of\nresults. This field will
  be empty if there aren't any additional results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListDatasetsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  dataset list response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"datasets\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  list of matching Datasets.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Dataset\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  continuation token, which is used to page through large result sets.\nProvide this
  value in a subsequent request to return the next page of\nresults. This field will
  be empty if there aren't any additional results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListOperationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  response message for Operations.ListOperations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  standard List next-page token.\";s:4:\"type\";s:6:\"string\";}s:10:\"operations\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  list of operations that matches the specified filter in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"MergeVariantsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"infoMergeConfig\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:32:\"INFO_MERGE_OPERATION_UNSPECIFIED\";i:1;s:10:\"IGNORE_NEW\";i:2;s:13:\"MOVE_TO_CALLS\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:86:\"A
  mapping between info field keys and the InfoMergeOperations to\nbe performed on
  them.\";s:4:\"type\";s:6:\"object\";}s:12:\"variantSetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  destination variant set.\";s:4:\"type\";s:6:\"string\";}s:8:\"variants\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  variants to be merged with existing variants.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Variant\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"This
  resource represents a long-running operation that is the result of a\nnetwork API
  call.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"done\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"If
  the value is `false`, it means the operation is still in progress.\nIf `true`, the
  operation is completed, and either `error` or `response` is\navailable.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:69:\"The
  error result of the operation in case of failure or cancellation.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:89:\"An
  OperationMetadata or Metadata object. This will always be returned with the Operation.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:160:\"The
  server-assigned name, which is only unique within the same service that originally
  returns it. For example&#58; `operations/CJHU7Oi_ChDrveSpBRjfuL-qzoWAgEw`\";s:4:\"type\";s:6:\"string\";}s:8:\"response\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:191:\"If
  importing ReadGroupSets, an ImportReadGroupSetsResponse is returned. If importing
  Variants, an ImportVariantsResponse is returned. For pipelines and exports, an Empty
  response is returned.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:14:\"OperationEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"An
  event that occurred during an Operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Required
  description of event.\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"Optional
  time of when event finished. An event can have a start time and no\nfinish time.
  If an event has a finish time, there must be a start time.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Optional
  time of when event started.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"OperationMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Metadata
  describing an Operation.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"This
  field is deprecated. Use `labels` instead. Optionally provided by the\ncaller when
  submitting the request that creates the operation.\";s:4:\"type\";s:6:\"string\";}s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  time at which the job was submitted to the Genomics service.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  time at which the job stopped running.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"events\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"Optional
  event messages that were generated during the job's execution.\nThis also contains
  any warnings that were generated during import\nor export.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OperationEvent\";}s:4:\"type\";s:5:\"array\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:89:\"Optionally
  provided by the caller when submitting the request that creates\nthe operation.\";s:4:\"type\";s:6:\"object\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  Google Cloud Project in which the job is scoped.\";s:4:\"type\";s:6:\"string\";}s:7:\"request\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:222:\"The
  original request that started the operation. Note that this will be in\ncurrent
  version of the API. If the operation was started with v1beta2 API\nand a GetOperation
  is performed on v1 API, a v1 request will be returned.\";s:4:\"type\";s:6:\"object\";}s:15:\"runtimeMetadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:35:\"Runtime
  metadata on this Operation.\";s:4:\"type\";s:6:\"object\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  time at which the job began to run.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:1215:\"Defines
  an Identity and Access Management (IAM) policy. It is used to\nspecify access control
  policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`.
  A `binding` binds a list of\n`members` to a `role`, where the members can be user
  accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named
  list of permissions\ndefined by IAM.\n\n**JSON Example**\n\n    {\n      \"bindings\":
  [\n        {\n          \"role\": \"roles/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n
  \           \"group:admins@example.com\",\n            \"domain:google.com\",\n
  \           \"serviceAccount:my-other-app@appspot.gserviceaccount.com\"\n          ]\n
  \       },\n        {\n          \"role\": \"roles/viewer\",\n          \"members\":
  [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\n**YAML Example**\n\n    bindings:\n
  \   - members:\n      - user:mike@example.com\n      - group:admins@example.com\n
  \     - domain:google.com\n      - serviceAccount:my-other-app@appspot.gserviceaccount.com\n
  \     role: roles/owner\n    - members:\n      - user:sean@example.com\n      role:
  roles/viewer\n\n\nFor a description of IAM and its features, see the\n[IAM developer's
  guide](https://cloud.google.com/iam/docs).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"bindings\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Associates
  a list of `members` to a `role`.\n`bindings` with no members will result in an error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Binding\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:606:\"`etag`
  is used for optimistic concurrency control as a way to help\nprevent simultaneous
  updates of a policy from overwriting each other.\nIt is strongly suggested that
  systems make use of the `etag` in the\nread-modify-write cycle to perform policy
  updates in order to avoid race\nconditions: An `etag` is returned in the response
  to `getIamPolicy`, and\nsystems are expected to put that etag in the request to
  `setIamPolicy` to\nensure that their change will be applied to the same version
  of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the
  existing\npolicy is overwritten blindly.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Deprecated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Position\";O:8:\"stdClass\":3:{s:11:\"description\";s:249:\"An
  abstraction for referring to a genomic position, in relation to some\nalready known
  reference. For now, represents a genomic position as a\nreference name, a base number
  on that reference (0-based), and a\ndetermination of forward or reverse strand.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"position\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  0-based offset from the start of the forward strand for that reference.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"referenceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  name of the reference in whatever reference set is being used.\";s:4:\"type\";s:6:\"string\";}s:13:\"reverseStrand\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Whether
  this position is on the reverse strand, as opposed to the forward\nstrand.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Program\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"commandLine\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  command line used to run this program.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"The
  user specified locally unique ID of the program. Used along with\n`prevProgramId`
  to define an ordering between programs.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"The
  display name of the program. This is typically the colloquial name of\nthe tool
  used, for example 'bwa' or 'picard'.\";s:4:\"type\";s:6:\"string\";}s:13:\"prevProgramId\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  ID of the program run before this one.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  version of the program run.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"PullStartedEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"This
  event is generated when the worker starts pulling an image.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"imageUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  URI of the image that was pulled.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"PullStoppedEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"This
  event is generated when the worker stops pulling an image.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"imageUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  URI of the image that was pulled.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Range\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"A
  0-based half-open genomic coordinate range for search requests.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  end position of the range on the reference, 0-based exclusive.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"referenceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  reference sequence name, for example `chr1`,\n`1`, or `chrX`.\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  start position of the range on the reference, 0-based inclusive.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Read\";O:8:\"stdClass\":3:{s:11:\"description\";s:2819:\"A
  read alignment describes a linear alignment of a string of DNA to a\nreference sequence,
  in addition to metadata\nabout the fragment (the molecule of DNA sequenced) and
  the read (the bases\nwhich were read by the sequencer). A read is equivalent to
  a line in a SAM\nfile. A read belongs to exactly one read group and exactly one\nread
  group set.\n\n### Reverse-stranded reads\n\nMapped reads (reads having a non-null
  `alignment`) can be aligned to either\nthe forward or the reverse strand of their
  associated reference. Strandedness\nof a mapped read is encoded by `alignment.position.reverseStrand`.\n\nIf
  we consider the reference to be a forward-stranded coordinate space of\n`[0, reference.length)`
  with `0` as the left-most position and\n`reference.length` as the right-most position,
  reads are always aligned left\nto right. That is, `alignment.position.position`
  always refers to the\nleft-most reference coordinate and `alignment.cigar` describes
  the alignment\nof this read to the reference from left to right. All per-base fields
  such as\n`alignedSequence` and `alignedQuality` share this same left-to-right\norientation;
  this is true of reads which are aligned to either strand. For\nreverse-stranded
  reads, this means that `alignedSequence` is the reverse\ncomplement of the bases
  that were originally reported by the sequencing\nmachine.\n\n### Generating a reference-aligned
  sequence string\n\nWhen interacting with mapped reads, it's often useful to produce
  a string\nrepresenting the local alignment of the read to reference. The following\npseudocode
  demonstrates one way of doing this:\n\n    out = \"\"\n    offset = 0\n    for c
  in read.alignment.cigar {\n      switch c.operation {\n      case \"ALIGNMENT_MATCH\",
  \"SEQUENCE_MATCH\", \"SEQUENCE_MISMATCH\":\n        out += read.alignedSequence[offset:offset+c.operationLength]\n
  \       offset += c.operationLength\n        break\n      case \"CLIP_SOFT\", \"INSERT\":\n
  \       offset += c.operationLength\n        break\n      case \"PAD\":\n        out
  += repeat(\"*\", c.operationLength)\n        break\n      case \"DELETE\":\n        out
  += repeat(\"-\", c.operationLength)\n        break\n      case \"SKIP\":\n        out
  += repeat(\" \", c.operationLength)\n        break\n      case \"CLIP_HARD\":\n
  \       break\n      }\n    }\n    return out\n\n### Converting to SAM's CIGAR string\n\nThe
  following pseudocode generates a SAM CIGAR string from the\n`cigar` field. Note
  that this is a lossy conversion\n(`cigar.referenceSequence` is lost).\n\n    cigarMap
  = {\n      \"ALIGNMENT_MATCH\": \"M\",\n      \"INSERT\": \"I\",\n      \"DELETE\":
  \"D\",\n      \"SKIP\": \"N\",\n      \"CLIP_SOFT\": \"S\",\n      \"CLIP_HARD\":
  \"H\",\n      \"PAD\": \"P\",\n      \"SEQUENCE_MATCH\": \"=\",\n      \"SEQUENCE_MISMATCH\":
  \"X\",\n    }\n    cigarStr = \"\"\n    for c in read.alignment.cigar {\n      cigarStr
  += c.operationLength + cigarMap[c.operation]\n    }\n    return cigarStr\";s:10:\"properties\";O:8:\"stdClass\":17:{s:14:\"alignedQuality\";O:8:\"stdClass\":3:{s:11:\"description\";s:423:\"The
  quality of the read sequence contained in this alignment record\n(equivalent to
  QUAL in SAM).\n`alignedSequence` and `alignedQuality` may be shorter than the full
  read\nsequence and quality. This will occur if the alignment is part of a\nchimeric
  alignment, or if the read was trimmed. When this occurs, the CIGAR\nfor this read
  will begin/end with a hard clip operator that will indicate\nthe length of the excised
  sequence.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:15:\"alignedSequence\";O:8:\"stdClass\":2:{s:11:\"description\";s:458:\"The
  bases of the read sequence contained in this alignment record,\n**without CIGAR
  operations applied** (equivalent to SEQ in SAM).\n`alignedSequence` and `alignedQuality`
  may be\nshorter than the full read sequence and quality. This will occur if the\nalignment
  is part of a chimeric alignment, or if the read was trimmed. When\nthis occurs,
  the CIGAR for this read will begin/end with a hard clip\noperator that will indicate
  the length of the excised sequence.\";s:4:\"type\";s:6:\"string\";}s:9:\"alignment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/LinearAlignment\";s:11:\"description\";s:86:\"The
  linear alignment for this alignment record. This field is null for\nunmapped reads.\";}s:17:\"duplicateFragment\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  fragment is a PCR or optical duplicate (SAM flag 0x400).\";s:4:\"type\";s:7:\"boolean\";}s:25:\"failedVendorQualityChecks\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Whether
  this read did not pass filters, such as platform or vendor quality\ncontrols (SAM
  flag 0x200).\";s:4:\"type\";s:7:\"boolean\";}s:14:\"fragmentLength\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  observed length of the fragment, equivalent to TLEN in SAM.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"fragmentName\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  fragment name. Equivalent to QNAME (query template name) in SAM.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"The
  server-generated read ID, unique across all reads. This is different\nfrom the `fragmentName`.\";s:4:\"type\";s:6:\"string\";}s:4:\"info\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:11:\"description\";s:143:\"A
  map of additional read alignment information. This must be of the form\nmap<string,
  string[]> (string key mapping to a list of string values).\";s:4:\"type\";s:6:\"object\";}s:16:\"nextMatePosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Position\";s:11:\"description\";s:144:\"The
  mapping of the primary alignment of the\n`(readNumber+1)%numberReads` read in the
  fragment. It replaces\nmate position and mate strand in SAM.\";}s:11:\"numberReads\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  number of reads in the fragment (extension to SAM flag 0x1).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"properPlacement\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"The
  orientation and the distance between reads from the fragment are\nconsistent with
  the sequencing protocol (SAM flag 0x2).\";s:4:\"type\";s:7:\"boolean\";}s:11:\"readGroupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:192:\"The
  ID of the read group this read belongs to. A read belongs to exactly\none read group.
  This is a server-generated ID which is distinct from SAM's\nRG tag (for that value,
  see\nReadGroup.name).\";s:4:\"type\";s:6:\"string\";}s:14:\"readGroupSetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  ID of the read group set this read belongs to. A read belongs to\nexactly one read
  group set.\";s:4:\"type\";s:6:\"string\";}s:10:\"readNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"The
  read number in sequencing. 0-based and less than numberReads. This\nfield replaces
  SAM flag 0x40 and 0x80.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"secondaryAlignment\";O:8:\"stdClass\":2:{s:11:\"description\";s:392:\"Whether
  this alignment is secondary. Equivalent to SAM flag 0x100.\nA secondary alignment
  represents an alternative to the primary alignment\nfor this read. Aligners may
  return secondary alignments if a read can map\nambiguously to multiple coordinates
  in the genome. By convention, each read\nhas one and only one alignment where both
  `secondaryAlignment`\nand `supplementaryAlignment` are false.\";s:4:\"type\";s:7:\"boolean\";}s:22:\"supplementaryAlignment\";O:8:\"stdClass\":2:{s:11:\"description\";s:718:\"Whether
  this alignment is supplementary. Equivalent to SAM flag 0x800.\nSupplementary alignments
  are used in the representation of a chimeric\nalignment. In a chimeric alignment,
  a read is split into multiple\nlinear alignments that map to different reference
  contigs. The first\nlinear alignment in the read will be designated as the representative\nalignment;
  the remaining linear alignments will be designated as\nsupplementary alignments.
  These alignments may have different mapping\nquality scores. In each linear alignment
  in a chimeric alignment, the read\nwill be hard clipped. The `alignedSequence` and\n`alignedQuality`
  fields in the alignment record will only\nrepresent the bases for its respective
  linear alignment.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ReadGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  read group is all the data that's processed the same way by the sequencer.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"datasetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  dataset to which this read group belongs.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"A
  free-form text description of this read group.\";s:4:\"type\";s:6:\"string\";}s:10:\"experiment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Experiment\";s:11:\"description\";s:48:\"The
  experiment used to generate this read group.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"The
  server-generated read group ID, unique for all read groups.\nNote: This is different
  than the @RG ID field in the SAM spec. For that\nvalue, see name.\";s:4:\"type\";s:6:\"string\";}s:4:\"info\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:11:\"description\";s:139:\"A
  map of additional read group information. This must be of the form\nmap<string,
  string[]> (string key mapping to a list of string values).\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  read group name. This corresponds to the @RG ID field in the SAM spec.\";s:4:\"type\";s:6:\"string\";}s:19:\"predictedInsertSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"The
  predicted insert size of this read group. The insert size is the length\nthe sequenced
  DNA fragment from end-to-end, not including the adapters.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"programs\";O:8:\"stdClass\":3:{s:11:\"description\";s:214:\"The
  programs used to generate this read group. Programs are always\nidentical for all
  read groups within a read group set. For this reason,\nonly the first read group
  in a returned set will have this field\npopulated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Program\";}s:4:\"type\";s:5:\"array\";}s:14:\"referenceSetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  reference set the reads in this read group are aligned to.\";s:4:\"type\";s:6:\"string\";}s:8:\"sampleId\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  client-supplied sample identifier for the reads in this read group.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ReadGroupSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:347:\"A
  read group set is a logical collection of read groups, which are\ncollections of
  reads produced by a sequencer. A read group set typically\nmodels reads corresponding
  to one sample, sequenced one way, and aligned one\nway.\n\n* A read group set belongs
  to one dataset.\n* A read group belongs to one read group set.\n* A read belongs
  to one read group.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"datasetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  dataset to which this read group set belongs.\";s:4:\"type\";s:6:\"string\";}s:8:\"filename\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  filename of the original source file for this read group set, if any.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  server-generated read group set ID, unique for all read group sets.\";s:4:\"type\";s:6:\"string\";}s:4:\"info\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:11:\"description\";s:47:\"A
  map of additional read group set information.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"The
  read group set name. By default this will be initialized to the sample\nname of
  the sequenced data contained in this set.\";s:4:\"type\";s:6:\"string\";}s:10:\"readGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  read groups in this set. There are typically 1-10 read groups in a read\ngroup set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ReadGroup\";}s:4:\"type\";s:5:\"array\";}s:14:\"referenceSetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  reference set to which the reads in this read group set are aligned.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Reference\";O:8:\"stdClass\":3:{s:11:\"description\";s:274:\"A
  reference is a canonical assembled DNA sequence, intended to act as a\nreference
  coordinate space for other genomic annotations. A single reference\nmight represent
  the human chromosome 1 or mitochandrial DNA, for instance. A\nreference belongs
  to one or more reference sets.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  server-generated reference ID, unique across all references.\";s:4:\"type\";s:6:\"string\";}s:6:\"length\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  length of this reference's sequence.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"md5checksum\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"MD5
  of the upper-case sequence excluding all whitespace characters (this\nis equivalent
  to SQ:M5 in SAM). This value is represented in lower case\nhexadecimal format.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  name of this reference, for example `22`.\";s:4:\"type\";s:6:\"string\";}s:11:\"ncbiTaxonId\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"ID
  from http://www.ncbi.nlm.nih.gov/taxonomy. For example, 9606 for human.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"sourceAccessions\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"All
  known corresponding accession IDs in INSDC (GenBank/ENA/DDBJ) ideally\nwith a version
  number, for example `GCF_000001405.26`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"sourceUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  URI from which the sequence was obtained. Typically specifies a FASTA\nformat file.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ReferenceBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"ReferenceBound
  records an upper bound for the starting coordinate of\nvariants in a particular
  reference.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"referenceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  name of the reference associated with this reference bound.\";s:4:\"type\";s:6:\"string\";}s:10:\"upperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"An
  upper bound (inclusive) on the starting coordinate of any\nvariant in the reference
  sequence.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ReferenceSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:309:\"A
  reference set is a set of references which typically comprise a reference\nassembly
  for a species, such as `GRCh38` which is representative\nof the human genome. A
  reference set defines a common coordinate space for\ncomparing reference-aligned
  experimental data. A reference set contains 1 or\nmore references.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"assemblyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Public
  id of this reference set, such as `GRCh37`.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Free
  text description of this reference set.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  server-generated reference set ID, unique across all reference sets.\";s:4:\"type\";s:6:\"string\";}s:11:\"md5checksum\";O:8:\"stdClass\":2:{s:11:\"description\";s:345:\"Order-independent
  MD5 checksum which identifies this reference set. The\nchecksum is computed by sorting
  all lower case hexidecimal string\n`reference.md5checksum` (for all reference in
  this set) in\nascending lexicographic order, concatenating, and taking the MD5 of
  that\nvalue. The resulting value is represented in lower case hexadecimal format.\";s:4:\"type\";s:6:\"string\";}s:11:\"ncbiTaxonId\";O:8:\"stdClass\":3:{s:11:\"description\";s:349:\"ID
  from http://www.ncbi.nlm.nih.gov/taxonomy (for example, 9606 for human)\nindicating
  the species which this reference set is intended to model. Note\nthat contained
  references may specify a different `ncbiTaxonId`, as\nassemblies may contain reference
  sequences which do not belong to the\nmodeled species, for example EBV in a human
  reference genome.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"referenceIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  IDs of the reference objects that are part of this set.\n`Reference.md5checksum`
  must be unique within this set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"sourceAccessions\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"All
  known corresponding accession IDs in INSDC (GenBank/ENA/DDBJ) ideally\nwith a version
  number, for example `NC_000001.11`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"sourceUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  URI from which the references were obtained.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RuntimeMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"Runtime
  metadata that will be populated in the\nruntimeMetadata\nfield of the Operation
  associated with a RunPipeline execution.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"computeEngine\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ComputeEngine\";s:11:\"description\";s:56:\"Execution
  information specific to Google Compute Engine.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"SearchAnnotationSetsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"datasetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Required.
  The dataset IDs to search within. Caller must have `READ` access\nto these datasets.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Only
  return annotations sets for which a substring of the name matches this\nstring (case
  insensitive).\";s:4:\"type\";s:6:\"string\";}s:8:\"pageSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"The
  maximum number of results to return in a single page. If unspecified,\ndefaults
  to 128. The maximum value is 1024.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"The
  continuation token, which is used to page through large result sets.\nTo get the
  next page of results, set this parameter to the value of\n`nextPageToken` from the
  previous response.\";s:4:\"type\";s:6:\"string\";}s:14:\"referenceSetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"If
  specified, only annotation sets associated with the given reference set\nare returned.\";s:4:\"type\";s:6:\"string\";}s:5:\"types\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"If
  specified, only annotation sets that have any of these types are\nreturned.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:27:\"ANNOTATION_TYPE_UNSPECIFIED\";i:1;s:7:\"GENERIC\";i:2;s:7:\"VARIANT\";i:3;s:4:\"GENE\";i:4;s:10:\"TRANSCRIPT\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:28:\"SearchAnnotationSetsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"annotationSets\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  matching annotation sets.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AnnotationSet\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  continuation token, which is used to page through large result sets.\nProvide this
  value in a subsequent request to return the next page of\nresults. This field will
  be empty if there aren't any additional results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"SearchAnnotationsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"annotationSetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"Required.
  The annotation sets to search within. The caller must have\n`READ` access to these
  annotation sets.\nAll queried annotation sets must have the same type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:158:\"The
  end position of the range on the reference, 0-based exclusive. If\nreferenceId or\nreferenceName\nmust
  be specified, Defaults to the length of the reference.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"pageSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"The
  maximum number of results to return in a single page. If unspecified,\ndefaults
  to 256. The maximum value is 2048.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"The
  continuation token, which is used to page through large result sets.\nTo get the
  next page of results, set this parameter to the value of\n`nextPageToken` from the
  previous response.\";s:4:\"type\";s:6:\"string\";}s:11:\"referenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  ID of the reference to query.\";s:4:\"type\";s:6:\"string\";}s:13:\"referenceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  name of the reference to query, within the reference set associated\nwith this query.\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"The
  start position of the range on the reference, 0-based inclusive. If\nspecified,\nreferenceId
  or\nreferenceName\nmust be specified. Defaults to 0.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"SearchAnnotationsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"annotations\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  matching annotations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Annotation\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  continuation token, which is used to page through large result sets.\nProvide this
  value in a subsequent request to return the next page of\nresults. This field will
  be empty if there aren't any additional results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"SearchCallSetsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  call set search request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Only
  return call sets for which a substring of the name matches this\nstring.\";s:4:\"type\";s:6:\"string\";}s:8:\"pageSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  maximum number of results to return in a single page. If unspecified,\ndefaults
  to 1024.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"The
  continuation token, which is used to page through large result sets.\nTo get the
  next page of results, set this parameter to the value of\n`nextPageToken` from the
  previous response.\";s:4:\"type\";s:6:\"string\";}s:13:\"variantSetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Restrict
  the query to call sets within the given variant sets. At least one\nID must be provided.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"SearchCallSetsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  call set search response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"callSets\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  list of matching call sets.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/CallSet\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  continuation token, which is used to page through large result sets.\nProvide this
  value in a subsequent request to return the next page of\nresults. This field will
  be empty if there aren't any additional results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"SearchReadGroupSetsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  read group set search request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"datasetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Restricts
  this query to read group sets within the given datasets. At least\none ID must be
  provided.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Only
  return read group sets for which a substring of the name matches this\nstring.\";s:4:\"type\";s:6:\"string\";}s:8:\"pageSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"The
  maximum number of results to return in a single page. If unspecified,\ndefaults
  to 256. The maximum value is 1024.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"The
  continuation token, which is used to page through large result sets.\nTo get the
  next page of results, set this parameter to the value of\n`nextPageToken` from the
  previous response.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"SearchReadGroupSetsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  read group set search response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  continuation token, which is used to page through large result sets.\nProvide this
  value in a subsequent request to return the next page of\nresults. This field will
  be empty if there aren't any additional results.\";s:4:\"type\";s:6:\"string\";}s:13:\"readGroupSets\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  list of matching read group sets.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ReadGroupSet\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"SearchReadsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  read search request.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"The
  end position of the range on the reference, 0-based exclusive. If\nspecified, `referenceName`
  must also be specified.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"pageSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"The
  maximum number of results to return in a single page. If unspecified,\ndefaults
  to 256. The maximum value is 2048.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"The
  continuation token, which is used to page through large result sets.\nTo get the
  next page of results, set this parameter to the value of\n`nextPageToken` from the
  previous response.\";s:4:\"type\";s:6:\"string\";}s:12:\"readGroupIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:184:\"The
  IDs of the read groups within which to search for reads. All specified\nread groups
  must belong to the same read group sets. Must specify one of\n`readGroupSetIds`
  or `readGroupIds`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"readGroupSetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:265:\"The
  IDs of the read groups sets within which to search for reads. All\nspecified read
  group sets must be aligned against a common set of reference\nsequences; this defines
  the genomic coordinates for the query. Must specify\none of `readGroupSetIds` or
  `readGroupIds`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"referenceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"The
  reference sequence name, for example `chr1`, `1`, or `chrX`. If set to\n`*`, only
  unmapped reads are returned. If unspecified, all reads (mapped\nand unmapped) are
  returned.\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"The
  start position of the range on the reference, 0-based inclusive. If\nspecified,
  `referenceName` must also be specified.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SearchReadsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  read search response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"alignments\";O:8:\"stdClass\":3:{s:11:\"description\";s:257:\"The
  list of matching alignments sorted by mapped genomic coordinate,\nif any, ascending
  in position within the same reference. Unmapped reads,\nwhich have no position,
  are returned contiguously and are sorted in\nascending lexicographic order by fragment
  name.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Read\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  continuation token, which is used to page through large result sets.\nProvide this
  value in a subsequent request to return the next page of\nresults. This field will
  be empty if there aren't any additional results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"SearchReferenceSetsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"accessions\";O:8:\"stdClass\":3:{s:11:\"description\";s:197:\"If
  present, return reference sets for which a prefix of any of\nsourceAccessions\nmatch
  any of these strings. Accession numbers typically have a main number\nand a version,
  for example `NC_000001.11`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"assemblyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"If
  present, return reference sets for which a substring of their\n`assemblyId` matches
  this string (case insensitive).\";s:4:\"type\";s:6:\"string\";}s:12:\"md5checksums\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"If
  present, return reference sets for which the\nmd5checksum matches exactly.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"pageSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"The
  maximum number of results to return in a single page. If unspecified,\ndefaults
  to 1024. The maximum value is 4096.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"The
  continuation token, which is used to page through large result sets.\nTo get the
  next page of results, set this parameter to the value of\n`nextPageToken` from the
  previous response.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"SearchReferenceSetsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  continuation token, which is used to page through large result sets.\nProvide this
  value in a subsequent request to return the next page of\nresults. This field will
  be empty if there aren't any additional results.\";s:4:\"type\";s:6:\"string\";}s:13:\"referenceSets\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  matching references sets.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ReferenceSet\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"SearchReferencesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"accessions\";O:8:\"stdClass\":3:{s:11:\"description\";s:197:\"If
  present, return references for which a prefix of any of\nsourceAccessions match\nany
  of these strings. Accession numbers typically have a main number and a\nversion,
  for example `GCF_000001405.26`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"md5checksums\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"If
  present, return references for which the\nmd5checksum matches exactly.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"pageSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"The
  maximum number of results to return in a single page. If unspecified,\ndefaults
  to 1024. The maximum value is 4096.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"The
  continuation token, which is used to page through large result sets.\nTo get the
  next page of results, set this parameter to the value of\n`nextPageToken` from the
  previous response.\";s:4:\"type\";s:6:\"string\";}s:14:\"referenceSetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"If
  present, return only references which belong to this reference set.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"SearchReferencesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  continuation token, which is used to page through large result sets.\nProvide this
  value in a subsequent request to return the next page of\nresults. This field will
  be empty if there aren't any additional results.\";s:4:\"type\";s:6:\"string\";}s:10:\"references\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  matching references.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"SearchVariantSetsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  search variant sets request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"datasetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Exactly
  one dataset ID must be provided here. Only variant sets which\nbelong to this dataset
  will be returned.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"pageSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  maximum number of results to return in a single page. If unspecified,\ndefaults
  to 1024.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"The
  continuation token, which is used to page through large result sets.\nTo get the
  next page of results, set this parameter to the value of\n`nextPageToken` from the
  previous response.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"SearchVariantSetsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  search variant sets response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  continuation token, which is used to page through large result sets.\nProvide this
  value in a subsequent request to return the next page of\nresults. This field will
  be empty if there aren't any additional results.\";s:4:\"type\";s:6:\"string\";}s:11:\"variantSets\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  variant sets belonging to the requested dataset.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/VariantSet\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"SearchVariantsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  variant search request.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"callSetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:205:\"Only
  return variant calls which belong to call sets with these ids.\nLeaving this blank
  returns all variant calls. If a variant has no\ncalls belonging to any of these
  call sets, it won't be returned at all.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  end of the window, 0-based exclusive. If unspecified or 0, defaults to\nthe length
  of the reference.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"maxCalls\";O:8:\"stdClass\":3:{s:11:\"description\";s:239:\"The
  maximum number of calls to return in a single page. Note that this\nlimit may be
  exceeded in the event that a matching variant contains more\ncalls than the requested
  maximum. If unspecified, defaults to 5000. The\nmaximum value is 10000.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"pageSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"The
  maximum number of variants to return in a single page. If unspecified,\ndefaults
  to 5000. The maximum value is 10000.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"The
  continuation token, which is used to page through large result sets.\nTo get the
  next page of results, set this parameter to the value of\n`nextPageToken` from the
  previous response.\";s:4:\"type\";s:6:\"string\";}s:13:\"referenceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Required.
  Only return variants in this reference sequence.\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"The
  beginning of the window (0-based, inclusive) for which\noverlapping variants should
  be returned. If unspecified, defaults to 0.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"variantName\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Only
  return variants which have exactly this name.\";s:4:\"type\";s:6:\"string\";}s:13:\"variantSetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"At
  most one variant set ID must be provided. Only variants from this\nvariant set will
  be returned. If omitted, a call set id must be included in\nthe request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"SearchVariantsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  variant search response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  continuation token, which is used to page through large result sets.\nProvide this
  value in a subsequent request to return the next page of\nresults. This field will
  be empty if there aren't any additional results.\";s:4:\"type\";s:6:\"string\";}s:8:\"variants\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  list of matching Variants.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Variant\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SetIamPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  message for `SetIamPolicy` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Policy\";s:11:\"description\";s:224:\"REQUIRED:
  The complete policy to be applied to the `resource`. The size of\nthe policy is
  limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud
  Platform services (such as Projects)\nmight reject them.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2437:\"The
  `Status` type defines a logical error model that is suitable for different\nprogramming
  environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc).
  The error model is designed to be:\n\n- Simple to use and understand for most users\n-
  Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains
  three pieces of data: error code, error message,\nand error details. The error code
  should be an enum value of\ngoogle.rpc.Code, but it may accept additional error
  codes if needed.  The\nerror message should be a developer-facing English message
  that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror
  message is needed, put the localized message in the error details or\nlocalize it
  in the client. The optional error details may contain arbitrary\ninformation about
  the error. There is a predefined set of error detail types\nin the package `google.rpc`
  that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status`
  message is the logical representation of the error model, but it\nis not necessarily
  the actual wire format. When the `Status` message is\nexposed in different client
  libraries and different wire protocols, it can be\nmapped differently. For example,
  it will likely be mapped to some exceptions\nin Java, but more likely mapped to
  some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message
  can be used in a variety of\nenvironments, either with or without APIs, to provide
  a\nconsistent developer experience across different environments.\n\nExample uses
  of this error model include:\n\n- Partial errors. If a service needs to return partial
  errors to the client,\n    it may embed the `Status` in the normal response to indicate
  the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps.
  Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations.
  If a client uses batch request and batch response, the\n    `Status` message should
  be used directly inside batch response, one for\n    each error sub-response.\n\n-
  Asynchronous operations. If an API call embeds asynchronous operation\n    results
  in its response, the status of those operations should be\n    represented directly
  using the `Status` message.\n\n- Logging. If some API errors are stored in logs,
  the message `Status` could\n    be used directly after any stripping needed for
  security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"A
  list of messages that carry the error details.  There is a common set of\nmessage
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any\nuser-facing error
  message should be localized and sent in the\ngoogle.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"TestIamPermissionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Request
  message for `TestIamPermissions` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:374:\"REQUIRED:
  The set of permissions to check for the 'resource'.\nPermissions with wildcards
  (such as '*' or 'storage.*') are not allowed.\nAllowed permissions are&#58;\n\n*
  `genomics.datasets.create`\n* `genomics.datasets.delete`\n* `genomics.datasets.get`\n*
  `genomics.datasets.list`\n* `genomics.datasets.update`\n* `genomics.datasets.getIamPolicy`\n*
  `genomics.datasets.setIamPolicy`\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"TestIamPermissionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Response
  message for `TestIamPermissions` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Transcript\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"A
  transcript represents the assertion that a particular region of the\nreference genome
  may be transcribed as RNA.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"codingSequence\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CodingSequence\";s:11:\"description\";s:596:\"The
  range of the coding sequence for this transcript, if any. To determine\nthe exact
  ranges of coding sequence, intersect this range with those of the\nexons, if any.
  If there are any\nexons, the\ncodingSequence must start\nand end within them.\n\nNote
  that in some cases, the reference genome will not exactly match the\nobserved mRNA
  transcript e.g. due to variance in the source genome from\nreference. In these cases,\nexon.frame
  will not necessarily\nmatch the expected reference reading frame and coding exon
  reference bases\ncannot necessarily be concatenated to produce the original transcript
  mRNA.\";}s:5:\"exons\";O:8:\"stdClass\":3:{s:11:\"description\";s:645:\"The <a href=\"http://en.wikipedia.org/wiki/Exon\">exons</a>
  that compose\nthis transcript. This field should be unset for genomes where transcript\nsplicing
  does not occur, for example prokaryotes.\n\nIntrons are regions of the transcript
  that are not included in the\nspliced RNA product. Though not explicitly modeled
  here, intron ranges can\nbe deduced; all regions of this transcript that are not
  exons are introns.\n\nExonic sequences do not necessarily code for a translational
  product\n(amino acids). Only the regions of exons bounded by the\ncodingSequence
  correspond\nto coding DNA sequence.\n\nExons are ordered by start position and may
  not overlap.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Exon\";}s:4:\"type\";s:5:\"array\";}s:6:\"geneId\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  annotation ID of the gene from which this transcript is transcribed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"UndeleteDatasetRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"UnexpectedExitStatusEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:246:\"This
  event is generated when the execution of a container results in a\nnon-zero exit
  status that was not otherwise ignored.  Execution will\ncontinue, but only actions
  that are flagged as ALWAYS_RUN will be executed:\nother actions will be skipped.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"actionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  numeric ID of the action that started the container.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"exitStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  exit status of the container.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Variant\";O:8:\"stdClass\":3:{s:11:\"description\";s:481:\"A
  variant represents a change in DNA sequence relative to a reference\nsequence. For
  example, a variant could represent a SNP or an insertion.\nVariants belong to a
  variant set.\n\nEach of the calls on a variant represent a determination of genotype
  with\nrespect to that variant. For example, a call might assign probability of 0.32\nto
  the occurrence of a SNP named rs1234 in a sample named NA12345. A call\nbelongs
  to a call set, which contains related calls typically from one\nsample.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:14:\"alternateBases\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  bases that appear instead of the reference bases.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"calls\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"The
  variant calls for this particular variant. Each one represents the\ndetermination
  of genotype with respect to this variant.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VariantCall\";}s:4:\"type\";s:5:\"array\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  date this variant was created, in milliseconds from the epoch.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:281:\"The
  end position (0-based) of this variant. This corresponds to the first\nbase after
  the last base in the reference allele. So, the length of\nthe reference allele is
  (end - start). This is useful for variants\nthat don't explicitly give alternate
  bases, for example large deletions.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"filter\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"A
  list of filters (normally quality filters) this variant has failed.\n`PASS` indicates
  this variant has passed all filters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  server-generated variant ID, unique across all variants.\";s:4:\"type\";s:6:\"string\";}s:4:\"info\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:11:\"description\";s:136:\"A
[...]
