---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:32:\"OpenBankProject-Account-Firehose\";s:11:\"description\";s:107:\"An
  Open Source API for Banks. (c) TESOBE Ltd. 2011 - 2018. Licensed under the AGPL
  and commercial licences.\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:31:\"TESOBE
  Ltd. / Open Bank Project\";s:3:\"url\";s:27:\"https://openbankproject.com\";s:5:\"email\";s:18:\"contact@tesobe.com\";}s:7:\"version\";s:6:\"v3_1_0\";}"
host: api.openbankproject.com
basePath: /obp-account-firehose
paths:
  /obp/v3.0.0/banks/{BANK_ID}/firehose/accounts/{ACCOUNT_ID}/views/{VIEW_ID}/transactions:
    get:
      tags:
      - Account-Firehose
      summary: Get Firehose Transactions for Account
      security:
      - directLogin: []
        gatewayLogin: []
      description: <p>Get Transactions for an Account that has a firehose View.</p><p>Allows
        bulk access to an account's transactions. User must have the CanUseFirehoseAtAnyBank
        Role</p><p>To find ACCOUNT_IDs, use the getFirehoseAccountsAtOneBank call.</p><p>For
        VIEW_ID try 'firehose'</p><p>Authentication is Mandatory</p>
      operationId: vv3_0_0-getFirehoseTransactionsForBankAccount
      parameters:
      - in: path
        name: VIEW_ID
        description: The view id
        required: true
        type: string
      - in: path
        name: ACCOUNT_ID
        description: The account id
        required: true
        type: string
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/TransactionsJsonV300'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  /obp/v3.0.0/banks/{BANK_ID}/firehose/accounts/views/{VIEW_ID}:
    get:
      tags:
      - Account-Firehose
      summary: Get Firehose Accounts at Bank
      security:
      - directLogin: []
        gatewayLogin: []
      description: <p>Get Accounts which have a firehose view assigned to them.</p><p>This
        endpoint allows bulk access to accounts.</p><p>Requires the CanUseFirehoseAtAnyBank
        Role</p><p>To be shown on the list, each Account must have a firehose View
        linked to it.</p><p>For VIEW_ID try 'firehose'</p><p>Authentication is Mandatory</p>
      operationId: vv3_0_0-getFirehoseAccountsAtOneBank
      parameters:
      - in: path
        name: VIEW_ID
        description: The view id
        required: true
        type: string
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ModeratedCoreAccountsJsonV300'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  /obp/v3.1.0/banks/{BANK_ID}/firehose/customers:
    get:
      tags:
      - Account-Firehose
      summary: Get Firehose Customers
      security:
      - directLogin: []
        gatewayLogin: []
      description: '<p>Get Customers that has a firehose View.</p><p>Allows bulk access
        to customers. User must have the CanUseFirehoseAtAnyBank Role</p><p>For VIEW_ID
        try ''firehose''</p><p>Possible custom URL parameters for pagination:</p><ul>  <li>sort_direction=ASC/DESC</li>  <li>limit=NUMBER
        ==&gt; default value: 50</li>  <li>offset=NUMBER ==&gt; default value: 0</li>  <li>from_date=DATE
        =&gt; default value: date of the oldest customer created (format below)</li>  <li>to_date=DATE
        =&gt; default value: date of the newest customer created (format below)</li></ul><p><strong>Date
        format parameter</strong>: yyyy-MM-dd''T''HH:mm:ss.SSS''Z''(2017-09-19T02:31:05.000Z)
        ==&gt; time zone is UTC.</p><p>Authentication is Mandatory</p>'
      operationId: vv3_1_0-getFirehoseCustomers
      parameters:
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/TransactionsJsonV300'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":20:{s:20:\"TransactionsJsonV300\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:12:\"transactions\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"transactions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/TransactionJsonV300\";}}}}s:19:\"TransactionJsonV300\";O:8:\"stdClass\":2:{s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:12:\"this_account\";i:2;s:13:\"other_account\";i:3;s:7:\"details\";i:4;s:8:\"metadata\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"this_account\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ThisAccountJsonV300\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TransactionDetailsJSON\";}s:8:\"metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/TransactionMetadataJSON\";}s:13:\"other_account\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/OtherAccountJsonV300\";}}}s:19:\"ThisAccountJsonV300\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:12:\"bank_routing\";i:2;s:16:\"account_routings\";i:3;s:7:\"holders\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"holders\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AccountHolderJSON\";}}s:16:\"account_routings\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AccountRoutingJsonV121\";}}s:12:\"bank_routing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BankRoutingJsonV121\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}}}s:17:\"AccountHolderJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:8:\"is_alias\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"is_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"OBP\";}}}s:22:\"AccountRoutingJsonV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:6:\"scheme\";i:1;s:7:\"address\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"4930396\";}s:6:\"scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"AccountNumber\";}}}s:19:\"BankRoutingJsonV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:6:\"scheme\";i:1;s:7:\"address\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"gh.29.uk\";}s:6:\"scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Bank_ID\";}}}s:22:\"TransactionDetailsJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:6:{i:0;s:4:\"type\";i:1;s:11:\"description\";i:2;s:6:\"posted\";i:3;s:9:\"completed\";i:4;s:11:\"new_balance\";i:5;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"new_balance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AmountOfMoneyJsonV121\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"this
  is for family\";}s:9:\"completed\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"AC\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AmountOfMoneyJsonV121\";}s:6:\"posted\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}}}s:21:\"AmountOfMoneyJsonV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:6:\"amount\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"10\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"EUR\";}}}s:23:\"TransactionMetadataJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:5:{i:0;s:9:\"narrative\";i:1;s:8:\"comments\";i:2;s:4:\"tags\";i:3;s:6:\"images\";i:4;s:5:\"where\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"narrative\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"NONE\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TransactionTagJSON\";}}s:5:\"where\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/LocationJSONV121\";}s:6:\"images\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TransactionImageJSON\";}}s:8:\"comments\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TransactionCommentJSON\";}}}}s:18:\"TransactionTagJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:5:\"value\";i:2;s:4:\"date\";i:3;s:4:\"user\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/UserJSONV121\";}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"OBP\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"5995d6a2-01b3-423c-a173-5481df49bdaf\";}}}s:12:\"UserJSONV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:8:\"provider\";i:2;s:12:\"display_name\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"display_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"OBP\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"OBP\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"5995d6a2-01b3-423c-a173-5481df49bdaf\";}}}s:16:\"LocationJSONV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:8:\"latitude\";i:1;s:9:\"longitude\";i:2;s:4:\"date\";i:3;s:4:\"user\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/UserJSONV121\";}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";s:5:\"1.231\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";s:5:\"1.231\";}}}s:20:\"TransactionImageJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:5:\"label\";i:2;s:3:\"URL\";i:3;s:4:\"date\";i:4;s:4:\"user\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"URL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"www.openbankproject.com\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"NONE\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"5995d6a2-01b3-423c-a173-5481df49bdaf\";}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/UserJSONV121\";}}}s:22:\"TransactionCommentJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:5:\"value\";i:2;s:4:\"date\";i:3;s:4:\"user\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/UserJSONV121\";}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"OBP\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"5995d6a2-01b3-423c-a173-5481df49bdaf\";}}}s:20:\"OtherAccountJsonV300\";O:8:\"stdClass\":2:{s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:6:\"holder\";i:2;s:12:\"bank_routing\";i:3;s:16:\"account_routings\";i:4;s:8:\"metadata\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"account_routings\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AccountRoutingJsonV121\";}}s:6:\"holder\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AccountHolderJSON\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"5995d6a2-01b3-423c-a173-5481df49bdaf\";}s:8:\"metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/OtherAccountMetadataJSON\";}s:12:\"bank_routing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BankRoutingJsonV121\";}}}s:24:\"OtherAccountMetadataJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:8:{i:0;s:12:\"public_alias\";i:1;s:13:\"private_alias\";i:2;s:9:\"more_info\";i:3;s:3:\"URL\";i:4;s:9:\"image_URL\";i:5;s:19:\"open_corporates_URL\";i:6;s:18:\"corporate_location\";i:7;s:17:\"physical_location\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"public_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"NONE\";}s:9:\"image_URL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"www.openbankproject.com\";}s:17:\"physical_location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/LocationJSONV121\";}s:13:\"private_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"NONE\";}s:3:\"URL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"www.openbankproject.com\";}s:9:\"more_info\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"www.openbankproject.com\";}s:18:\"corporate_location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/LocationJSONV121\";}s:19:\"open_corporates_URL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"www.openbankproject.com\";}}}s:20:\"ErrorUserNotLoggedIn\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:58:\"OBP-20001:
  User not logged in. Authentication is required!\";}}}s:29:\"ModeratedCoreAccountsJsonV300\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:8:\"accounts\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"accounts\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ModeratedCoreAccountJsonV300\";}}}}s:28:\"ModeratedCoreAccountJsonV300\";O:8:\"stdClass\":2:{s:8:\"required\";a:9:{i:0;s:2:\"id\";i:1;s:7:\"bank_id\";i:2;s:5:\"label\";i:3;s:6:\"number\";i:4;s:6:\"owners\";i:5;s:4:\"type\";i:6;s:7:\"balance\";i:7;s:16:\"account_routings\";i:8;s:13:\"account_rules\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:16:\"account_routings\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AccountRoutingJsonV121\";}}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:6:\"owners\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/UserJSONV121\";}}s:7:\"balance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AmountOfMoneyJsonV121\";}s:7:\"bank_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"5995d6a2-01b3-423c-a173-5481df49bdaf\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:13:\"account_rules\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AccountRuleJsonV300\";}}}}s:19:\"AccountRuleJsonV300\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:6:\"scheme\";i:1;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"10\";}s:6:\"scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"OVERDRAFT\";}}}}"
...
