---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:28:\"OpenBankProject-Account-View\";s:11:\"description\";s:107:\"An
  Open Source API for Banks. (c) TESOBE Ltd. 2011 - 2018. Licensed under the AGPL
  and commercial licences.\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:31:\"TESOBE
  Ltd. / Open Bank Project\";s:3:\"url\";s:27:\"https://openbankproject.com\";s:5:\"email\";s:18:\"contact@tesobe.com\";}s:7:\"version\";s:6:\"v3_1_0\";}"
host: api.openbankproject.com
basePath: /obp-account-view
paths: ~
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":17:{s:11:\"ViewIdsJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:5:\"views\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"views\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:13:\"ViewsJSONV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:5:\"views\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"views\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ViewJSONV121\";}}}}s:12:\"ViewJSONV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:65:{i:0;s:2:\"id\";i:1;s:10:\"short_name\";i:2;s:11:\"description\";i:3;s:9:\"is_public\";i:4;s:5:\"alias\";i:5;s:27:\"hide_metadata_if_alias_used\";i:6;s:15:\"can_add_comment\";i:7;s:26:\"can_add_corporate_location\";i:8;s:13:\"can_add_image\";i:9;s:17:\"can_add_image_url\";i:10;s:17:\"can_add_more_info\";i:11;s:27:\"can_add_open_corporates_url\";i:12;s:25:\"can_add_physical_location\";i:13;s:21:\"can_add_private_alias\";i:14;s:20:\"can_add_public_alias\";i:15;s:11:\"can_add_tag\";i:16;s:11:\"can_add_url\";i:17;s:17:\"can_add_where_tag\";i:18;s:18:\"can_delete_comment\";i:19;s:29:\"can_delete_corporate_location\";i:20;s:16:\"can_delete_image\";i:21;s:28:\"can_delete_physical_location\";i:22;s:14:\"can_delete_tag\";i:23;s:20:\"can_delete_where_tag\";i:24;s:22:\"can_edit_owner_comment\";i:25;s:28:\"can_see_bank_account_balance\";i:26;s:30:\"can_see_bank_account_bank_name\";i:27;s:29:\"can_see_bank_account_currency\";i:28;s:25:\"can_see_bank_account_iban\";i:29;s:26:\"can_see_bank_account_label\";i:30;s:40:\"can_see_bank_account_national_identifier\";i:31;s:27:\"can_see_bank_account_number\";i:32;s:27:\"can_see_bank_account_owners\";i:33;s:30:\"can_see_bank_account_swift_bic\";i:34;s:25:\"can_see_bank_account_type\";i:35;s:16:\"can_see_comments\";i:36;s:26:\"can_see_corporate_location\";i:37;s:17:\"can_see_image_url\";i:38;s:14:\"can_see_images\";i:39;s:17:\"can_see_more_info\";i:40;s:27:\"can_see_open_corporates_url\";i:41;s:31:\"can_see_other_account_bank_name\";i:42;s:26:\"can_see_other_account_iban\";i:43;s:26:\"can_see_other_account_kind\";i:44;s:30:\"can_see_other_account_metadata\";i:45;s:41:\"can_see_other_account_national_identifier\";i:46;s:28:\"can_see_other_account_number\";i:47;s:31:\"can_see_other_account_swift_bic\";i:48;s:21:\"can_see_owner_comment\";i:49;s:25:\"can_see_physical_location\";i:50;s:21:\"can_see_private_alias\";i:51;s:20:\"can_see_public_alias\";i:52;s:12:\"can_see_tags\";i:53;s:26:\"can_see_transaction_amount\";i:54;s:27:\"can_see_transaction_balance\";i:55;s:28:\"can_see_transaction_currency\";i:56;s:31:\"can_see_transaction_description\";i:57;s:31:\"can_see_transaction_finish_date\";i:58;s:28:\"can_see_transaction_metadata\";i:59;s:38:\"can_see_transaction_other_bank_account\";i:60;s:30:\"can_see_transaction_start_date\";i:61;s:37:\"can_see_transaction_this_bank_account\";i:62;s:24:\"can_see_transaction_type\";i:63;s:11:\"can_see_url\";i:64;s:17:\"can_see_where_tag\";}s:10:\"properties\";O:8:\"stdClass\":65:{s:30:\"can_see_transaction_start_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:11:\"can_add_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:17:\"can_add_where_tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:37:\"can_see_transaction_this_bank_account\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"can_see_bank_account_owners\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:21:\"can_see_private_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:22:\"can_edit_owner_comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:41:\"can_see_other_account_national_identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:20:\"can_see_public_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:25:\"can_see_physical_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:21:\"can_see_owner_comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:25:\"can_see_bank_account_iban\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_see_corporate_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"can_see_bank_account_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:31:\"can_see_other_account_bank_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"description\";}s:38:\"can_see_transaction_other_bank_account\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:29:\"can_delete_corporate_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:16:\"can_see_comments\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:30:\"can_see_bank_account_bank_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:17:\"can_add_more_info\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:28:\"can_see_other_account_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:31:\"can_see_other_account_swift_bic\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"can_add_open_corporates_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_see_other_account_kind\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:28:\"can_delete_physical_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_see_bank_account_label\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:28:\"can_see_transaction_currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:9:\"is_public\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:31:\"can_see_transaction_finish_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:11:\"can_add_tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:14:\"can_see_images\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:29:\"can_see_bank_account_currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"hide_metadata_if_alias_used\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:20:\"can_delete_where_tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:5:\"alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"None\";}s:17:\"can_add_image_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:15:\"can_add_comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:17:\"can_see_image_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"123\";}s:40:\"can_see_bank_account_national_identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:12:\"can_see_tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"can_see_open_corporates_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:10:\"short_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"short_name\";}s:14:\"can_delete_tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:17:\"can_see_more_info\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:28:\"can_see_transaction_metadata\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:18:\"can_delete_comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:17:\"can_see_where_tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:21:\"can_add_private_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:20:\"can_add_public_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:30:\"can_see_bank_account_swift_bic\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:13:\"can_add_image\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:24:\"can_see_transaction_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_see_other_account_iban\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:25:\"can_add_physical_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_add_corporate_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:16:\"can_delete_image\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:11:\"can_see_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:28:\"can_see_bank_account_balance\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"can_see_transaction_balance\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_see_transaction_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:30:\"can_see_other_account_metadata\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:25:\"can_see_bank_account_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:31:\"can_see_transaction_description\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}}}s:20:\"ErrorUserNotLoggedIn\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:58:\"OBP-20001:
  User not logged in. Authentication is required!\";}}}s:14:\"EmptyClassJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:10:\"jsonString\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"jsonString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"{}\";}}}s:15:\"PermissionsJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:11:\"permissions\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PermissionJSON\";}}}}s:14:\"PermissionJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:4:\"user\";i:1;s:5:\"views\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"views\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ViewJSONV121\";}}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/UserJSONV121\";}}}s:12:\"UserJSONV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:8:\"provider\";i:2;s:12:\"display_name\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"display_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"OBP\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"OBP\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"5995d6a2-01b3-423c-a173-5481df49bdaf\";}}}s:24:\"CoreAccountsHeldJsonV300\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:8:\"accounts\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"accounts\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AccountHeldJson\";}}}}s:15:\"AccountHeldJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:7:\"bank_id\";i:2;s:6:\"number\";i:3;s:16:\"account_routings\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"account_routings\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AccountRoutingJsonV121\";}}s:6:\"number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"123\";}s:7:\"bank_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"123\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"12314\";}}}s:22:\"AccountRoutingJsonV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:6:\"scheme\";i:1;s:7:\"address\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"4930396\";}s:6:\"scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"AccountNumber\";}}}s:17:\"ErrorUnknownError\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"OBP-50000:
  Unknown Error.\";}}}s:13:\"ViewsJsonV300\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:5:\"views\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"views\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ViewJsonV300\";}}}}s:12:\"ViewJsonV300\";O:8:\"stdClass\":2:{s:8:\"required\";a:78:{i:0;s:2:\"id\";i:1;s:10:\"short_name\";i:2;s:11:\"description\";i:3;s:13:\"metadata_view\";i:4;s:9:\"is_public\";i:5;s:5:\"alias\";i:6;s:27:\"hide_metadata_if_alias_used\";i:7;s:15:\"can_add_comment\";i:8;s:26:\"can_add_corporate_location\";i:9;s:13:\"can_add_image\";i:10;s:17:\"can_add_image_url\";i:11;s:17:\"can_add_more_info\";i:12;s:27:\"can_add_open_corporates_url\";i:13;s:25:\"can_add_physical_location\";i:14;s:21:\"can_add_private_alias\";i:15;s:20:\"can_add_public_alias\";i:16;s:11:\"can_add_tag\";i:17;s:11:\"can_add_url\";i:18;s:17:\"can_add_where_tag\";i:19;s:18:\"can_delete_comment\";i:20;s:20:\"can_add_counterparty\";i:21;s:29:\"can_delete_corporate_location\";i:22;s:16:\"can_delete_image\";i:23;s:28:\"can_delete_physical_location\";i:24;s:14:\"can_delete_tag\";i:25;s:20:\"can_delete_where_tag\";i:26;s:22:\"can_edit_owner_comment\";i:27;s:28:\"can_see_bank_account_balance\";i:28;s:30:\"can_see_bank_account_bank_name\";i:29;s:29:\"can_see_bank_account_currency\";i:30;s:25:\"can_see_bank_account_iban\";i:31;s:26:\"can_see_bank_account_label\";i:32;s:40:\"can_see_bank_account_national_identifier\";i:33;s:27:\"can_see_bank_account_number\";i:34;s:27:\"can_see_bank_account_owners\";i:35;s:30:\"can_see_bank_account_swift_bic\";i:36;s:25:\"can_see_bank_account_type\";i:37;s:16:\"can_see_comments\";i:38;s:26:\"can_see_corporate_location\";i:39;s:17:\"can_see_image_url\";i:40;s:14:\"can_see_images\";i:41;s:17:\"can_see_more_info\";i:42;s:27:\"can_see_open_corporates_url\";i:43;s:31:\"can_see_other_account_bank_name\";i:44;s:26:\"can_see_other_account_iban\";i:45;s:26:\"can_see_other_account_kind\";i:46;s:30:\"can_see_other_account_metadata\";i:47;s:41:\"can_see_other_account_national_identifier\";i:48;s:28:\"can_see_other_account_number\";i:49;s:31:\"can_see_other_account_swift_bic\";i:50;s:21:\"can_see_owner_comment\";i:51;s:25:\"can_see_physical_location\";i:52;s:21:\"can_see_private_alias\";i:53;s:20:\"can_see_public_alias\";i:54;s:12:\"can_see_tags\";i:55;s:26:\"can_see_transaction_amount\";i:56;s:27:\"can_see_transaction_balance\";i:57;s:28:\"can_see_transaction_currency\";i:58;s:31:\"can_see_transaction_description\";i:59;s:31:\"can_see_transaction_finish_date\";i:60;s:28:\"can_see_transaction_metadata\";i:61;s:38:\"can_see_transaction_other_bank_account\";i:62;s:30:\"can_see_transaction_start_date\";i:63;s:37:\"can_see_transaction_this_bank_account\";i:64;s:24:\"can_see_transaction_type\";i:65;s:11:\"can_see_url\";i:66;s:17:\"can_see_where_tag\";i:67;s:27:\"can_see_bank_routing_scheme\";i:68;s:28:\"can_see_bank_routing_address\";i:69;s:35:\"can_see_bank_account_routing_scheme\";i:70;s:36:\"can_see_bank_account_routing_address\";i:71;s:33:\"can_see_other_bank_routing_scheme\";i:72;s:34:\"can_see_other_bank_routing_address\";i:73;s:36:\"can_see_other_account_routing_scheme\";i:74;s:37:\"can_see_other_account_routing_address\";i:75;s:42:\"can_add_transaction_request_to_own_account\";i:76;s:42:\"can_add_transaction_request_to_any_account\";i:77;s:33:\"can_see_bank_account_credit_limit\";}s:10:\"properties\";O:8:\"stdClass\":78:{s:30:\"can_see_transaction_start_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:11:\"can_add_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:17:\"can_add_where_tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:37:\"can_see_transaction_this_bank_account\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"can_see_bank_account_owners\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:28:\"can_see_bank_routing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:21:\"can_see_private_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:22:\"can_edit_owner_comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:41:\"can_see_other_account_national_identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"can_see_bank_routing_scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:20:\"can_see_public_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:25:\"can_see_physical_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:21:\"can_see_owner_comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:25:\"can_see_bank_account_iban\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_see_corporate_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"can_see_bank_account_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:31:\"can_see_other_account_bank_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"description\";}s:35:\"can_see_bank_account_routing_scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:38:\"can_see_transaction_other_bank_account\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:29:\"can_delete_corporate_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:16:\"can_see_comments\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:30:\"can_see_bank_account_bank_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:17:\"can_add_more_info\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:28:\"can_see_other_account_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:31:\"can_see_other_account_swift_bic\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"can_add_open_corporates_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_see_other_account_kind\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:42:\"can_add_transaction_request_to_own_account\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:28:\"can_delete_physical_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_see_bank_account_label\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:28:\"can_see_transaction_currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:9:\"is_public\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:31:\"can_see_transaction_finish_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:36:\"can_see_bank_account_routing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:11:\"can_add_tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:14:\"can_see_images\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:33:\"can_see_bank_account_credit_limit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:29:\"can_see_bank_account_currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"hide_metadata_if_alias_used\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:20:\"can_delete_where_tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:5:\"alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"No\";}s:17:\"can_add_image_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:15:\"can_add_comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:17:\"can_see_image_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"1234\";}s:40:\"can_see_bank_account_national_identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:20:\"can_add_counterparty\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:42:\"can_add_transaction_request_to_any_account\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:12:\"can_see_tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"can_see_open_corporates_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:10:\"short_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"short_name\";}s:14:\"can_delete_tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:36:\"can_see_other_account_routing_scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:17:\"can_see_more_info\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:28:\"can_see_transaction_metadata\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:18:\"can_delete_comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:17:\"can_see_where_tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:21:\"can_add_private_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:20:\"can_add_public_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:30:\"can_see_bank_account_swift_bic\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:13:\"can_add_image\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:24:\"can_see_transaction_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:37:\"can_see_other_account_routing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_see_other_account_iban\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:25:\"can_add_physical_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_add_corporate_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:16:\"can_delete_image\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:11:\"can_see_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:28:\"can_see_bank_account_balance\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:34:\"can_see_other_bank_routing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"can_see_transaction_balance\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:13:\"metadata_view\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"owner\";}s:26:\"can_see_transaction_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:30:\"can_see_other_account_metadata\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:25:\"can_see_bank_account_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:33:\"can_see_other_bank_routing_scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:31:\"can_see_transaction_description\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}}}s:14:\"CreateViewJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:7:{i:0;s:4:\"name\";i:1;s:11:\"description\";i:2;s:13:\"metadata_view\";i:3;s:9:\"is_public\";i:4;s:18:\"which_alias_to_use\";i:5;s:27:\"hide_metadata_if_alias_used\";i:6;s:15:\"allowed_actions\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"_test\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"This
  view is for family\";}s:9:\"is_public\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"hide_metadata_if_alias_used\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:5:\"false\";}s:18:\"which_alias_to_use\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"family\";}s:13:\"metadata_view\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"owner\";}s:15:\"allowed_actions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:14:\"UpdateViewJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:6:{i:0;s:11:\"description\";i:1;s:13:\"metadata_view\";i:2;s:9:\"is_public\";i:3;s:18:\"which_alias_to_use\";i:4;s:27:\"hide_metadata_if_alias_used\";i:5;s:15:\"allowed_actions\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"this
  is for family\";}s:9:\"is_public\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"hide_metadata_if_alias_used\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:18:\"which_alias_to_use\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"family\";}s:13:\"metadata_view\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"owner\";}s:15:\"allowed_actions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:22:\"ErrorInvalidJsonFormat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:33:\"OBP-10001:
  Incorrect json format.\";}}}}"
...
