---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:20:\"OpenBankProject-Card\";s:11:\"description\";s:107:\"An
  Open Source API for Banks. (c) TESOBE Ltd. 2011 - 2018. Licensed under the AGPL
  and commercial licences.\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:31:\"TESOBE
  Ltd. / Open Bank Project\";s:3:\"url\";s:27:\"https://openbankproject.com\";s:5:\"email\";s:18:\"contact@tesobe.com\";}s:7:\"version\";s:6:\"v3_1_0\";}"
host: api.openbankproject.com
basePath: /obp-card
paths:
  /obp/v1.3.0/banks/{BANK_ID}/cards:
    get:
      tags:
      - Card
      summary: Get cards for the specified bank
      security:
      - directLogin: []
        gatewayLogin: []
      description: ""
      operationId: vv1_3_0-getCardsForBank
      parameters:
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PhysicalCardsJSON'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  /obp/v1.3.0/cards:
    get:
      tags:
      - Card
      summary: Get cards for the current user
      security:
      - directLogin: []
        gatewayLogin: []
      description: <p>Returns data about all the physical cards a user has been issued.
        These could be debit cards, credit cards, etc.</p>
      operationId: vv1_3_0-getCards
      parameters: []
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PhysicalCardsJSON'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  /obp/v2.1.0/banks/{BANK_ID}/cards:
    post:
      tags:
      - Card
      summary: Create Card
      security:
      - directLogin: []
        gatewayLogin: []
      description: <p>Create Card at bank specified by BANK_ID .</p><p>Authentication
        is Mandatory</p>
      operationId: vv2_1_0-addCardsForBank
      parameters:
      - in: body
        name: body
        description: BANK_BODY
        required: true
        schema:
          $ref: '#/definitions/PostPhysicalCardJSON'
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/PhysicalCardJSON'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":8:{s:17:\"PhysicalCardsJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:5:\"cards\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"cards\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PhysicalCardJSON\";}}}}s:16:\"PhysicalCardJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:18:{i:0;s:7:\"bank_id\";i:1;s:16:\"bank_card_number\";i:2;s:12:\"name_on_card\";i:3;s:12:\"issue_number\";i:4;s:13:\"serial_number\";i:5;s:15:\"valid_from_date\";i:6;s:12:\"expires_date\";i:7;s:7:\"enabled\";i:8;s:9:\"cancelled\";i:9;s:11:\"on_hot_list\";i:10;s:10:\"technology\";i:11;s:8:\"networks\";i:12;s:6:\"allows\";i:13;s:7:\"account\";i:14;s:11:\"replacement\";i:15;s:9:\"pin_reset\";i:16;s:9:\"collected\";i:17;s:6:\"posted\";}s:10:\"properties\";O:8:\"stdClass\":18:{s:6:\"allows\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"expires_date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}s:8:\"networks\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"issue_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:11:\"replacement\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ReplacementJSON\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:9:\"collected\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}s:10:\"technology\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:9:\"cancelled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:7:\"bank_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"gh.29.uk\";}s:9:\"pin_reset\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PinResetJSON\";}}s:13:\"serial_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:7:\"account\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AccountJSON\";}s:15:\"valid_from_date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}s:16:\"bank_card_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:12:\"name_on_card\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:6:\"posted\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}s:11:\"on_hot_list\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}}}s:15:\"ReplacementJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:14:\"requested_date\";i:1;s:16:\"reason_requested\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"reason_requested\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"RENEW\";}s:14:\"requested_date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}}}s:12:\"PinResetJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:14:\"requested_date\";i:1;s:16:\"reason_requested\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"reason_requested\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"GOOD_SECURITY_PRACTICE\";}s:14:\"requested_date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}}}s:11:\"AccountJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:5:\"label\";i:2;s:15:\"views_available\";i:3;s:7:\"bank_id\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"bank_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"gh.uk.db\";}s:15:\"views_available\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ViewJSONV121\";}}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"OBP\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"123\";}}}s:12:\"ViewJSONV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:65:{i:0;s:2:\"id\";i:1;s:10:\"short_name\";i:2;s:11:\"description\";i:3;s:9:\"is_public\";i:4;s:5:\"alias\";i:5;s:27:\"hide_metadata_if_alias_used\";i:6;s:15:\"can_add_comment\";i:7;s:26:\"can_add_corporate_location\";i:8;s:13:\"can_add_image\";i:9;s:17:\"can_add_image_url\";i:10;s:17:\"can_add_more_info\";i:11;s:27:\"can_add_open_corporates_url\";i:12;s:25:\"can_add_physical_location\";i:13;s:21:\"can_add_private_alias\";i:14;s:20:\"can_add_public_alias\";i:15;s:11:\"can_add_tag\";i:16;s:11:\"can_add_url\";i:17;s:17:\"can_add_where_tag\";i:18;s:18:\"can_delete_comment\";i:19;s:29:\"can_delete_corporate_location\";i:20;s:16:\"can_delete_image\";i:21;s:28:\"can_delete_physical_location\";i:22;s:14:\"can_delete_tag\";i:23;s:20:\"can_delete_where_tag\";i:24;s:22:\"can_edit_owner_comment\";i:25;s:28:\"can_see_bank_account_balance\";i:26;s:30:\"can_see_bank_account_bank_name\";i:27;s:29:\"can_see_bank_account_currency\";i:28;s:25:\"can_see_bank_account_iban\";i:29;s:26:\"can_see_bank_account_label\";i:30;s:40:\"can_see_bank_account_national_identifier\";i:31;s:27:\"can_see_bank_account_number\";i:32;s:27:\"can_see_bank_account_owners\";i:33;s:30:\"can_see_bank_account_swift_bic\";i:34;s:25:\"can_see_bank_account_type\";i:35;s:16:\"can_see_comments\";i:36;s:26:\"can_see_corporate_location\";i:37;s:17:\"can_see_image_url\";i:38;s:14:\"can_see_images\";i:39;s:17:\"can_see_more_info\";i:40;s:27:\"can_see_open_corporates_url\";i:41;s:31:\"can_see_other_account_bank_name\";i:42;s:26:\"can_see_other_account_iban\";i:43;s:26:\"can_see_other_account_kind\";i:44;s:30:\"can_see_other_account_metadata\";i:45;s:41:\"can_see_other_account_national_identifier\";i:46;s:28:\"can_see_other_account_number\";i:47;s:31:\"can_see_other_account_swift_bic\";i:48;s:21:\"can_see_owner_comment\";i:49;s:25:\"can_see_physical_location\";i:50;s:21:\"can_see_private_alias\";i:51;s:20:\"can_see_public_alias\";i:52;s:12:\"can_see_tags\";i:53;s:26:\"can_see_transaction_amount\";i:54;s:27:\"can_see_transaction_balance\";i:55;s:28:\"can_see_transaction_currency\";i:56;s:31:\"can_see_transaction_description\";i:57;s:31:\"can_see_transaction_finish_date\";i:58;s:28:\"can_see_transaction_metadata\";i:59;s:38:\"can_see_transaction_other_bank_account\";i:60;s:30:\"can_see_transaction_start_date\";i:61;s:37:\"can_see_transaction_this_bank_account\";i:62;s:24:\"can_see_transaction_type\";i:63;s:11:\"can_see_url\";i:64;s:17:\"can_see_where_tag\";}s:10:\"properties\";O:8:\"stdClass\":65:{s:30:\"can_see_transaction_start_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:11:\"can_add_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:17:\"can_add_where_tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:37:\"can_see_transaction_this_bank_account\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"can_see_bank_account_owners\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:21:\"can_see_private_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:22:\"can_edit_owner_comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:41:\"can_see_other_account_national_identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:20:\"can_see_public_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:25:\"can_see_physical_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:21:\"can_see_owner_comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:25:\"can_see_bank_account_iban\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_see_corporate_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"can_see_bank_account_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:31:\"can_see_other_account_bank_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"description\";}s:38:\"can_see_transaction_other_bank_account\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:29:\"can_delete_corporate_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:16:\"can_see_comments\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:30:\"can_see_bank_account_bank_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:17:\"can_add_more_info\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:28:\"can_see_other_account_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:31:\"can_see_other_account_swift_bic\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"can_add_open_corporates_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_see_other_account_kind\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:28:\"can_delete_physical_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_see_bank_account_label\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:28:\"can_see_transaction_currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:9:\"is_public\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:31:\"can_see_transaction_finish_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:11:\"can_add_tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:14:\"can_see_images\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:29:\"can_see_bank_account_currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"hide_metadata_if_alias_used\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:20:\"can_delete_where_tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:5:\"alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"None\";}s:17:\"can_add_image_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:15:\"can_add_comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:17:\"can_see_image_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"123\";}s:40:\"can_see_bank_account_national_identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:12:\"can_see_tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"can_see_open_corporates_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:10:\"short_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"short_name\";}s:14:\"can_delete_tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:17:\"can_see_more_info\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:28:\"can_see_transaction_metadata\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:18:\"can_delete_comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:17:\"can_see_where_tag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:21:\"can_add_private_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:20:\"can_add_public_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:30:\"can_see_bank_account_swift_bic\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:13:\"can_add_image\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:24:\"can_see_transaction_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_see_other_account_iban\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:25:\"can_add_physical_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_add_corporate_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:16:\"can_delete_image\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:11:\"can_see_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:28:\"can_see_bank_account_balance\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:27:\"can_see_transaction_balance\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:26:\"can_see_transaction_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:30:\"can_see_other_account_metadata\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:25:\"can_see_bank_account_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:31:\"can_see_transaction_description\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}}}s:20:\"ErrorUserNotLoggedIn\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:58:\"OBP-20001:
  User not logged in. Authentication is required!\";}}}s:20:\"PostPhysicalCardJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:15:{i:0;s:16:\"bank_card_number\";i:1;s:12:\"name_on_card\";i:2;s:12:\"issue_number\";i:3;s:13:\"serial_number\";i:4;s:15:\"valid_from_date\";i:5;s:12:\"expires_date\";i:6;s:7:\"enabled\";i:7;s:10:\"technology\";i:8;s:8:\"networks\";i:9;s:6:\"allows\";i:10;s:10:\"account_id\";i:11;s:11:\"replacement\";i:12;s:9:\"pin_reset\";i:13;s:9:\"collected\";i:14;s:6:\"posted\";}s:10:\"properties\";O:8:\"stdClass\":15:{s:6:\"allows\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"expires_date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}s:8:\"networks\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"issue_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:11:\"replacement\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ReplacementJSON\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:9:\"collected\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}s:10:\"technology\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:10:\"account_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:9:\"pin_reset\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PinResetJSON\";}}s:13:\"serial_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:15:\"valid_from_date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}s:16:\"bank_card_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:12:\"name_on_card\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:6:\"posted\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}}}}"
...
