---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:23:\"OpenBankProject-Bank-FX\";s:11:\"description\";s:107:\"An
  Open Source API for Banks. (c) TESOBE Ltd. 2011 - 2018. Licensed under the AGPL
  and commercial licences.\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:31:\"TESOBE
  Ltd. / Open Bank Project\";s:3:\"url\";s:27:\"https://openbankproject.com\";s:5:\"email\";s:18:\"contact@tesobe.com\";}s:7:\"version\";s:6:\"v3_1_0\";}"
host: api.openbankproject.com
basePath: /obp-bank-fx
paths:
  /obp/v2.2.0/banks/{BANK_ID}/fx:
    put:
      tags:
      - Bank-FX
      summary: Create Fx
      security:
      - directLogin: []
        gatewayLogin: []
      description: '<p>Create or Update Fx for the Bank.</p><p>Authentication is Mandatory</p><p>OBP-20006:
        User is missing one or more roles: CanCreateFxRate OR CanCreateFxRateAtAnyBank</p>'
      operationId: vv2_2_0-createFx
      parameters:
      - in: body
        name: body
        description: BANK_BODY
        required: true
        schema:
          $ref: '#/definitions/FXRateJsonV220'
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/FXRateJsonV220'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  /obp/v2.2.0/banks/{BANK_ID}/fx/{FROM_CURRENCY_CODE}/{TO_CURRENCY_CODE}:
    get:
      tags:
      - Bank-FX
      summary: Get Current FxRate
      security:
      - directLogin: []
        gatewayLogin: []
      description: <p>Get the latest FXRate specified by BANK_ID, FROM_CURRENCY_CODE
        and TO_CURRENCY_CODE </p>
      operationId: vv2_2_0-getCurrentFxRate
      parameters:
      - in: path
        name: TO_CURRENCY_CODE
        description: The to currency code
        required: true
        type: string
      - in: path
        name: FROM_CURRENCY_CODE
        description: The from currency code
        required: true
        type: string
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/FXRateJsonV220'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorInvalidISOCurrencyCode'
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:14:\"FXRateJsonV220\";O:8:\"stdClass\":2:{s:8:\"required\";a:6:{i:0;s:7:\"bank_id\";i:1;s:18:\"from_currency_code\";i:2;s:16:\"to_currency_code\";i:3;s:16:\"conversion_value\";i:4;s:24:\"inverse_conversion_value\";i:5;s:14:\"effective_date\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:24:\"inverse_conversion_value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";s:3:\"1.0\";}s:16:\"to_currency_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"USD\";}s:14:\"effective_date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}s:16:\"conversion_value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";s:3:\"1.0\";}s:7:\"bank_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"bankid123\";}s:18:\"from_currency_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"EUR\";}}}s:20:\"ErrorUserNotLoggedIn\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:58:\"OBP-20001:
  User not logged in. Authentication is required!\";}}}s:27:\"ErrorInvalidISOCurrencyCode\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:81:\"OBP-10003:
  Invalid Currency Value. It should be three letters ISO Currency Code. \";}}}}"
...
