---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:20:\"OpenBankProject-Bank\";s:11:\"description\";s:107:\"An
  Open Source API for Banks. (c) TESOBE Ltd. 2011 - 2018. Licensed under the AGPL
  and commercial licences.\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:31:\"TESOBE
  Ltd. / Open Bank Project\";s:3:\"url\";s:27:\"https://openbankproject.com\";s:5:\"email\";s:18:\"contact@tesobe.com\";}s:7:\"version\";s:6:\"v3_1_0\";}"
host: api.openbankproject.com
basePath: /obp-bank
paths:
  /obp/v2.0.0/banks/{BANK_ID}/transaction-types:
    get:
      tags:
      - Bank
      summary: Get Transaction Types at Bank
      security:
      - directLogin: []
        gatewayLogin: []
      description: '<p>Get Transaction Types for the bank specified by BANK_ID:</p><p>Lists
        the possible Transaction Types available at the bank (as opposed to Transaction
        Request Types which are the possible ways Transactions can be created by this
        API Server).</p><ul>  <li>id : Unique transaction type id across the API instance.
        SHOULD be a UUID. MUST be unique.</li>  <li>bank_id : The bank that supports
        this TransactionType</li>  <li>short_code : A short code (SHOULD have no-spaces)
        which MUST be unique across the bank. May be stored with Transactions to link
        here</li>  <li>summary : A succinct summary</li>  <li>description : A longer
        description</li>  <li>charge : The charge to the customer for each one of
        these</li></ul><p>Authentication is Optional</p>'
      operationId: vv2_0_0-getTransactionTypes
      parameters:
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/TransactionTypesJsonV200'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorBankNotFound'
  /obp/v2.1.0/banks/{BANK_ID}/transaction-request-types:
    get:
      tags:
      - Bank
      summary: Get supported Transaction Request Types
      security:
      - directLogin: []
        gatewayLogin: []
      description: <p>Get the list of the Transaction Request Types supported by the
        bank.</p><p>Authentication is Optional</p>
      operationId: vv2_1_0-getTransactionRequestTypesSupportedByBank
      parameters:
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/TransactionRequestTypesJSON'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  /obp/v2.1.0/banks/{BANK_ID}/transaction-types:
    put:
      tags:
      - Bank
      summary: Create Transaction Type at bank
      security:
      - directLogin: []
        gatewayLogin: []
      description: '<p>Create Transaction Types for the bank specified by BANK_ID:</p><ul>  <li>id
        : Unique transaction type id across the API instance. SHOULD be a UUID. MUST
        be unique.</li>  <li>bank_id : The bank that supports this TransactionType</li>  <li>short_code
        : A short code (SHOULD have no-spaces) which MUST be unique across the bank.
        May be stored with Transactions to link here</li>  <li>summary : A succinct
        summary</li>  <li>description : A longer description</li>  <li>charge : The
        charge to the customer for each one of these</li></ul><p>Authentication is
        Mandatory</p>'
      operationId: vv2_1_0-createTransactionType
      parameters:
      - in: body
        name: body
        description: BANK_BODY
        required: true
        schema:
          $ref: '#/definitions/TransactionTypeJsonV200'
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/TransactionType'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  /obp/v2.2.0/banks:
    post:
      tags:
      - Bank
      summary: Create Bank
      security:
      - directLogin: []
        gatewayLogin: []
      description: <p>Create a new bank (Authenticated access). Authentication is
        Mandatory</p>
      operationId: vv2_2_0-createBank
      parameters:
      - in: body
        name: body
        description: BANK_BODY
        required: true
        schema:
          $ref: '#/definitions/BankJSONV220'
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/BankJSONV220'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorInvalidJsonFormat'
  /obp/v3.0.0/banks:
    get:
      tags:
      - Bank
      summary: Get Banks
      security:
      - directLogin: []
        gatewayLogin: []
      description: <p>Get banks on this API instance Returns a list of banks supported
        on this server:</p><ul>  <li>ID used as parameter in URLs</li>  <li>Short
        and full name of bank</li>  <li>Logo URL</li>  <li>Website</li></ul>
      operationId: vv3_0_0-getBanks
      parameters: []
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BanksJSON'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUnknownError'
  /obp/v3.0.0/banks/{BANK_ID}:
    get:
      tags:
      - Bank
      summary: Get Bank
      security:
      - directLogin: []
        gatewayLogin: []
      description: <p>Get the bank specified by BANK_ID Returns information about
        a single bank specified by BANK_ID including:</p><ul>  <li>Short and full
        name of bank</li>  <li>Logo URL</li>  <li>Website</li></ul>
      operationId: vv3_0_0-bankById
      parameters:
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BankJSON'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  /obp/v3.0.0/banks/{BANK_ID}/branches:
    get:
      tags:
      - Bank
      summary: Get Branches for a Bank
      security:
      - directLogin: []
        gatewayLogin: []
      description: <p>Returns information about branches for a single bank specified
        by BANK_ID including:</p><ul>  <li>Name</li>  <li>Address</li>  <li>Geo Location</li>  <li>License
        the data under this endpoint is released under</li>  <li>Structured opening
        hours</li>  <li>Accessible flag</li>  <li>Branch Type</li>  <li>More Info</li></ul><p>Pagination:</p><p>By
        default, 50 records are returned.</p><p>You can use the url query parameters
        <em>limit</em> and <em>offset</em> for pagination</p><p>Authentication is
        Optional</p>
      operationId: vv3_0_0-getBranches
      parameters:
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BranchesJsonV300'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  /obp/v3.0.0/banks/{BANK_ID}/branches/{BRANCH_ID}:
    get:
      tags:
      - Bank
      summary: Get Branch
      security:
      - directLogin: []
        gatewayLogin: []
      description: <p>Returns information about a single Branch specified by BANK_ID
        and BRANCH_ID including:</p><ul>  <li>Name</li>  <li>Address</li>  <li>Geo
        Location</li>  <li>License the data under this endpoint is released under.</li></ul><p>Authentication
        is Optional</p>
      operationId: vv3_0_0-getBranch
      parameters:
      - in: path
        name: BRANCH_ID
        description: The branch id
        required: true
        type: string
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BranchJsonV300'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  /obp/v3.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/checkbook/orders:
    get:
      tags:
      - Bank
      summary: get Checkbook orders
      security:
      - directLogin: []
        gatewayLogin: []
      description: <p>Get all checkbook orders</p>
      operationId: vv3_1_0-getCheckbookOrders
      parameters:
      - in: path
        name: VIEW_ID
        description: The view id
        required: true
        type: string
      - in: path
        name: ACCOUNT_ID
        description: The account id
        required: true
        type: string
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CheckbookOrdersJson'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  /obp/v3.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/credit_cards/orders:
    get:
      tags:
      - Bank
      summary: 'Get status of Credit Card order '
      security:
      - directLogin: []
        gatewayLogin: []
      description: <p>Get status of Credit Card orders Get all orders</p>
      operationId: vv3_1_0-getStatusOfCreditCardOrder
      parameters:
      - in: path
        name: VIEW_ID
        description: The view id
        required: true
        type: string
      - in: path
        name: ACCOUNT_ID
        description: The account id
        required: true
        type: string
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreditCardOrderStatusResponseJson'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  /obp/v3.1.0/banks/{BANK_ID}/customers/{CUSTOMER_ID}/credit_limit/requests:
    get:
      tags:
      - Bank
      summary: 'Get Credit Limit Order Requests '
      security:
      - directLogin: []
        gatewayLogin: []
      description: <p>Get Credit Limit Order Requests </p>
      operationId: vv3_1_0-getCreditLimitOrderRequests
      parameters:
      - in: path
        name: CUSTOMER_ID
        description: The customer id
        required: true
        type: string
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreditLimitOrderJson'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
    post:
      tags:
      - Bank
      summary: Create Credit Limit Order Request
      security:
      - directLogin: []
        gatewayLogin: []
      description: <p>Create credit limit order request</p>
      operationId: vv3_1_0-createCreditLimitOrderRequest
      parameters:
      - in: body
        name: body
        description: BANK_BODY
        required: true
        schema:
          $ref: '#/definitions/CreditLimitOrderRequestJson'
      - in: path
        name: CUSTOMER_ID
        description: The customer id
        required: true
        type: string
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/CreditLimitOrderResponseJson'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
  /obp/v3.1.0/banks/{BANK_ID}/customers/{CUSTOMER_ID}/credit_limit/requests/REQUEST_ID:
    get:
      tags:
      - Bank
      summary: Get Creadit Limit Order Request By Request Id
      security:
      - directLogin: []
        gatewayLogin: []
      description: <p>Get Creadit Limit Order Request By Request Id</p>
      operationId: vv3_1_0-getCreditLimitOrderRequestByRequestId
      parameters:
      - in: path
        name: CUSTOMER_ID
        description: The customer id
        required: true
        type: string
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreditLimitOrderJson'
        400:
          description: Error
          schema:
            $ref: '#/definitions/ErrorUserNotLoggedIn'
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":37:{s:24:\"TransactionTypesJsonV200\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:17:\"transaction_types\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"transaction_types\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/TransactionTypeJsonV200\";}}}}s:23:\"TransactionTypeJsonV200\";O:8:\"stdClass\":2:{s:8:\"required\";a:6:{i:0;s:2:\"id\";i:1;s:7:\"bank_id\";i:2;s:10:\"short_code\";i:3;s:7:\"summary\";i:4;s:11:\"description\";i:5;s:6:\"charge\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"PlaceholderString\";}s:10:\"short_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"PlaceholderString\";}s:7:\"bank_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"PlaceholderString\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TransactionTypeId\";}s:6:\"charge\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AmountOfMoneyJsonV121\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"PlaceholderString\";}}}s:17:\"TransactionTypeId\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"123\";}}}s:21:\"AmountOfMoneyJsonV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:6:\"amount\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"10\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"EUR\";}}}s:17:\"ErrorBankNotFound\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:68:\"OBP-30001:
  Bank not found. Please specify a valid value for BANK_ID.\";}}}s:27:\"TransactionRequestTypesJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:25:\"transaction_request_types\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:25:\"transaction_request_types\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/TransactionRequestTypeJSONV210\";}}}}s:30:\"TransactionRequestTypeJSONV210\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:24:\"transaction_request_type\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"transaction_request_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"SandboxTan\";}}}s:20:\"ErrorUserNotLoggedIn\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:58:\"OBP-20001:
  User not logged in. Authentication is required!\";}}}s:15:\"TransactionType\";O:8:\"stdClass\":2:{s:8:\"required\";a:6:{i:0;s:2:\"id\";i:1;s:6:\"bankId\";i:2;s:9:\"shortCode\";i:3;s:7:\"summary\";i:4;s:11:\"description\";i:5;s:6:\"charge\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"shortCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"80080\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:48:\"This
  is the sandbox mode, charging litter money.\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TransactionTypeId\";}s:6:\"charge\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AmountOfMoney\";}s:6:\"bankId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/BankId\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"SANSANDBOX_TAN\";}}}s:13:\"AmountOfMoney\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:6:\"amount\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"100\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"EUR\";}}}s:6:\"BankId\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"gh.uk.9j\";}}}s:12:\"BankJSONV220\";O:8:\"stdClass\":2:{s:8:\"required\";a:8:{i:0;s:2:\"id\";i:1;s:9:\"full_name\";i:2;s:10:\"short_name\";i:3;s:8:\"logo_url\";i:4;s:11:\"website_url\";i:5;s:9:\"swift_bic\";i:6;s:19:\"national_identifier\";i:7;s:12:\"bank_routing\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"national_identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"UK97ZZZ1234567890\";}s:9:\"full_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"uk\";}s:9:\"swift_bic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"IIIGGB22\";}s:8:\"logo_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:60:\"https://static.openbankproject.com/images/sandbox/bank_x.png\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"gh.29.uk.x\";}s:10:\"short_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"uk\";}s:12:\"bank_routing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BankRoutingJsonV121\";}s:11:\"website_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"https://www.example.com\";}}}s:19:\"BankRoutingJsonV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:6:\"scheme\";i:1;s:7:\"address\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"gh.29.uk\";}s:6:\"scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Bank_ID\";}}}s:22:\"ErrorInvalidJsonFormat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:33:\"OBP-10001:
  Incorrect json format.\";}}}s:9:\"BanksJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:5:\"banks\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"banks\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/BankJSON\";}}}}s:8:\"BankJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:6:{i:0;s:2:\"id\";i:1;s:10:\"short_name\";i:2;s:9:\"full_name\";i:3;s:4:\"logo\";i:4;s:7:\"website\";i:5;s:12:\"bank_routing\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"website\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"www.openbankproject.com\";}s:9:\"full_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"full_name\";}s:4:\"logo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"logo\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"gh.29.uk\";}s:10:\"short_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"short_name
  \";}s:12:\"bank_routing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BankRoutingJsonV121\";}}}s:17:\"ErrorUnknownError\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"OBP-50000:
  Unknown Error.\";}}}s:16:\"BranchesJsonV300\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:8:\"branches\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"branches\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BranchJsonV300\";}}}}s:14:\"BranchJsonV300\";O:8:\"stdClass\":2:{s:8:\"required\";a:14:{i:0;s:2:\"id\";i:1;s:7:\"bank_id\";i:2;s:4:\"name\";i:3;s:7:\"address\";i:4;s:8:\"location\";i:5;s:4:\"meta\";i:6;s:5:\"lobby\";i:7;s:8:\"drive_up\";i:8;s:14:\"branch_routing\";i:9;s:13:\"is_accessible\";i:10;s:18:\"accessibleFeatures\";i:11;s:11:\"branch_type\";i:12;s:9:\"more_info\";i:13;s:12:\"phone_number\";}s:10:\"properties\";O:8:\"stdClass\":14:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"Branch
  by the Lake\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"+381631954907\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/LocationJsonV140\";}s:11:\"branch_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"Full
  service store\";}s:14:\"branch_routing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/BranchRoutingJsonV141\";}s:8:\"drive_up\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DriveUpJsonV330\";}s:9:\"more_info\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:32:\"short
  walk to the lake from here\";}s:7:\"bank_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"bank-id-123\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"branch-id-123\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MetaJsonV140\";}s:5:\"lobby\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LobbyJsonV330\";}s:18:\"accessibleFeatures\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:48:\"wheelchair,
  atm usuable by the visually impaired\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AddressJsonV300\";}s:13:\"is_accessible\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"true\";}}}s:16:\"LocationJsonV140\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:8:\"latitude\";i:1;s:9:\"longitude\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"longitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";s:5:\"11.45\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";s:5:\"11.45\";}}}s:21:\"BranchRoutingJsonV141\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:6:\"scheme\";i:1;s:7:\"address\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"678\";}s:6:\"scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"BranchNumber\";}}}s:15:\"DriveUpJsonV330\";O:8:\"stdClass\":2:{s:8:\"required\";a:7:{i:0;s:6:\"monday\";i:1;s:7:\"tuesday\";i:2;s:9:\"wednesday\";i:3;s:8:\"thursday\";i:4;s:6:\"friday\";i:5;s:8:\"saturday\";i:6;s:6:\"sunday\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"sunday\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OpeningTimesV300\";}s:7:\"tuesday\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OpeningTimesV300\";}s:9:\"wednesday\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OpeningTimesV300\";}s:6:\"monday\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OpeningTimesV300\";}s:6:\"friday\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OpeningTimesV300\";}s:8:\"thursday\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OpeningTimesV300\";}s:8:\"saturday\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OpeningTimesV300\";}}}s:16:\"OpeningTimesV300\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:12:\"opening_time\";i:1;s:12:\"closing_time\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"closing_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"18:00\";}s:12:\"opening_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"10:00\";}}}s:12:\"MetaJsonV140\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:7:\"license\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"license\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LicenseJsonV140\";}}}s:15:\"LicenseJsonV140\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"TESOBE\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"5\";}}}s:13:\"LobbyJsonV330\";O:8:\"stdClass\":2:{s:8:\"required\";a:7:{i:0;s:6:\"monday\";i:1;s:7:\"tuesday\";i:2;s:9:\"wednesday\";i:3;s:8:\"thursday\";i:4;s:6:\"friday\";i:5;s:8:\"saturday\";i:6;s:6:\"sunday\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"sunday\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OpeningTimesV300\";}}s:7:\"tuesday\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OpeningTimesV300\";}}s:9:\"wednesday\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OpeningTimesV300\";}}s:6:\"monday\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OpeningTimesV300\";}}s:6:\"friday\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OpeningTimesV300\";}}s:8:\"thursday\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OpeningTimesV300\";}}s:8:\"saturday\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OpeningTimesV300\";}}}}s:15:\"AddressJsonV300\";O:8:\"stdClass\":2:{s:8:\"required\";a:8:{i:0;s:6:\"line_1\";i:1;s:6:\"line_2\";i:2;s:6:\"line_3\";i:3;s:4:\"city\";i:4;s:6:\"county\";i:5;s:5:\"state\";i:6;s:8:\"postcode\";i:7;s:12:\"country_code\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Berlin\";}s:6:\"line_2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"The
  Place\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Brandenburg\";}s:8:\"postcode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"13359\";}s:6:\"county\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:12:\"country_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"DE\";}s:6:\"line_3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"The
  Hill\";}s:6:\"line_1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"No
  1 the Road\";}}}s:19:\"CheckbookOrdersJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:7:\"account\";i:1;s:6:\"orders\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"orders\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OrderJson\";}}s:7:\"account\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AccountV310Json\";}}}s:9:\"OrderJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:5:\"order\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/OrderObjectJson\";}}}s:15:\"OrderObjectJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:7:{i:0;s:8:\"order_id\";i:1;s:10:\"order_date\";i:2;s:20:\"number_of_checkbooks\";i:3;s:20:\"distribution_channel\";i:4;s:6:\"status\";i:5;s:18:\"first_check_number\";i:6;s:13:\"shipping_code\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"order_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"xjksajfkj\";}s:20:\"number_of_checkbooks\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"4\";}s:18:\"first_check_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"5165276\";}s:10:\"order_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"07082013\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";}s:13:\"shipping_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";}s:20:\"distribution_channel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"1201\";}}}s:15:\"AccountV310Json\";O:8:\"stdClass\":2:{s:8:\"required\";a:5:{i:0;s:7:\"bank_id\";i:1;s:10:\"account_id\";i:2;s:12:\"account_type\";i:3;s:16:\"account_routings\";i:4;s:15:\"branch_routings\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"account_routings\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AccountRoutingJsonV121\";}}s:12:\"account_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"330\";}s:7:\"bank_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"10\";}s:10:\"account_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"xjfsafjj\";}s:15:\"branch_routings\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/BranchRoutingJsonV141\";}}}}s:22:\"AccountRoutingJsonV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:6:\"scheme\";i:1;s:7:\"address\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"4930396\";}s:6:\"scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"AccountNumber\";}}}s:33:\"CreditCardOrderStatusResponseJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:5:\"cards\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"cards\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CardObjectJson\";}}}}s:14:\"CardObjectJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:9:\"card_type\";i:1;s:16:\"card_description\";i:2;s:8:\"use_type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"use_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"3\";}s:16:\"card_description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"good\";}s:9:\"card_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"5\";}}}s:20:\"CreditLimitOrderJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:13:\"rank_amount_1\";i:1;s:18:\"nominal_interest_1\";i:2;s:13:\"rank_amount_2\";i:3;s:18:\"nominal_interest_2\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"nominal_interest_2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:13:\"rank_amount_2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:18:\"nominal_interest_1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:13:\"rank_amount_1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}}}s:27:\"CreditLimitOrderRequestJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:7:{i:0;s:30:\"requested_current_rate_amount1\";i:1;s:30:\"requested_current_rate_amount2\";i:2;s:32:\"requested_current_valid_end_date\";i:3;s:28:\"current_credit_documentation\";i:4;s:34:\"temporary_requested_current_amount\";i:5;s:34:\"requested_temporary_valid_end_date\";i:6;s:30:\"temporary_credit_documentation\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:30:\"requested_current_rate_amount1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:30:\"temporary_credit_documentation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:32:\"requested_current_valid_end_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:34:\"temporary_requested_current_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:30:\"requested_current_rate_amount2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:34:\"requested_temporary_valid_end_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:28:\"current_credit_documentation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}}}s:28:\"CreditLimitOrderResponseJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:14:\"execution_time\";i:1;s:14:\"execution_date\";i:2;s:5:\"token\";i:3;s:15:\"short_reference\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"short_reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:5:\"token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:14:\"execution_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}s:14:\"execution_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}}}}"
...
