---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:26:\"OpenBankProject-API-Metric\";s:11:\"description\";s:107:\"An
  Open Source API for Banks. (c) TESOBE Ltd. 2011 - 2018. Licensed under the AGPL
  and commercial licences.\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:31:\"TESOBE
  Ltd. / Open Bank Project\";s:3:\"url\";s:27:\"https://openbankproject.com\";s:5:\"email\";s:18:\"contact@tesobe.com\";}s:7:\"version\";s:6:\"v3_1_0\";}"
host: api.openbankproject.com
basePath: /obp-api-metric
paths: ~
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:14:\"EmptyClassJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:10:\"jsonString\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"jsonString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"{}\";}}}s:20:\"ErrorUserNotLoggedIn\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:58:\"OBP-20001:
  User not logged in. Authentication is required!\";}}}s:11:\"MetricsJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:7:\"metrics\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"metrics\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/MetricJson\";}}}}s:10:\"MetricJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:12:{i:0;s:7:\"user_id\";i:1;s:3:\"url\";i:2;s:4:\"date\";i:3;s:9:\"user_name\";i:4;s:8:\"app_name\";i:5;s:15:\"developer_email\";i:6;s:31:\"implemented_by_partial_function\";i:7;s:22:\"implemented_in_version\";i:8;s:11:\"consumer_id\";i:9;s:4:\"verb\";i:10;s:14:\"correlation_id\";i:11;s:8:\"duration\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:8:\"duration\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";s:2:\"39\";}s:22:\"implemented_in_version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"v210\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"www.openbankproject.com\";}s:14:\"correlation_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"v8ho6h5ivel3uq7a5zcnv0w1\";}s:31:\"implemented_by_partial_function\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"getBanks\";}s:7:\"user_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"134\";}s:15:\"developer_email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"contact@tesobe.ocm\";}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}s:11:\"consumer_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"123\";}s:4:\"verb\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"get\";}s:8:\"app_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"SOFI\";}s:9:\"user_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"OBP\";}}}s:20:\"ConnectorMetricsJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:7:\"metrics\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"metrics\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ConnectorMetricJson\";}}}}s:19:\"ConnectorMetricJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:5:{i:0;s:14:\"connector_name\";i:1;s:13:\"function_name\";i:2;s:14:\"correlation_id\";i:3;s:4:\"date\";i:4;s:8:\"duration\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"connector_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"mapper\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";s:4:\"1000\";}s:13:\"function_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"getBanks\";}s:14:\"correlation_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"12345\";}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}}}s:22:\"ErrorInvalidDateFormat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:66:\"OBP-10005:
  Invalid Date Format. Could not convert value to a Date.\";}}}s:19:\"AggregateMetricJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:5:\"count\";i:1;s:21:\"average_response_time\";i:2;s:21:\"minimum_response_time\";i:3;s:21:\"maximum_response_time\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"maximum_response_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";s:6:\"9039.0\";}s:21:\"minimum_response_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";s:3:\"1.0\";}s:21:\"average_response_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";s:5:\"65.21\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";s:4:\"7076\";}}}s:12:\"$colon$colon\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:16:\"serialVersionUID\";i:1;s:4:\"head\";i:2;s:2:\"tl\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"tl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Nil$\";}s:4:\"head\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TopConsumerJson\";}}}s:15:\"TopConsumerJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:5:\"count\";i:1;s:11:\"consumer_id\";i:2;s:8:\"app_name\";i:3;s:15:\"developer_email\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"developer_email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"tesobe@tesobe.com\";}s:8:\"app_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"Api
  Explorer\";}s:11:\"consumer_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"12312312\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";s:4:\"7076\";}}}}"
...
