---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:28:\"OpenBankProject-Counterparty\";s:11:\"description\";s:107:\"An
  Open Source API for Banks. (c) TESOBE Ltd. 2011 - 2018. Licensed under the AGPL
  and commercial licences.\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:31:\"TESOBE
  Ltd. / Open Bank Project\";s:3:\"url\";s:27:\"https://openbankproject.com\";s:5:\"email\";s:18:\"contact@tesobe.com\";}s:7:\"version\";s:6:\"v3_1_0\";}"
host: api.openbankproject.com
basePath: /obp-counterparty
paths: ~
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":29:{s:24:\"OtherAccountMetadataJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:8:{i:0;s:12:\"public_alias\";i:1;s:13:\"private_alias\";i:2;s:9:\"more_info\";i:3;s:3:\"URL\";i:4;s:9:\"image_URL\";i:5;s:19:\"open_corporates_URL\";i:6;s:18:\"corporate_location\";i:7;s:17:\"physical_location\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"public_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"NONE\";}s:9:\"image_URL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"www.openbankproject.com\";}s:17:\"physical_location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/LocationJSONV121\";}s:13:\"private_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"NONE\";}s:3:\"URL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"www.openbankproject.com\";}s:9:\"more_info\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"www.openbankproject.com\";}s:18:\"corporate_location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/LocationJSONV121\";}s:19:\"open_corporates_URL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"www.openbankproject.com\";}}}s:16:\"LocationJSONV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:8:\"latitude\";i:1;s:9:\"longitude\";i:2;s:4:\"date\";i:3;s:4:\"user\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/UserJSONV121\";}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:28:\"Tue
  Sep 19 00:00:00 UTC 2017\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";s:5:\"1.231\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";s:5:\"1.231\";}}}s:12:\"UserJSONV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:8:\"provider\";i:2;s:12:\"display_name\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"display_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"OBP\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"OBP\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"5995d6a2-01b3-423c-a173-5481df49bdaf\";}}}s:20:\"ErrorUserNotLoggedIn\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:58:\"OBP-20001:
  User not logged in. Authentication is required!\";}}}s:14:\"EmptyClassJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:10:\"jsonString\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"jsonString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"{}\";}}}s:21:\"CorporateLocationJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:18:\"corporate_location\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"corporate_location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LocationPlainJSON\";}}}s:17:\"LocationPlainJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:8:\"latitude\";i:1;s:9:\"longitude\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"longitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";s:5:\"1.535\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";s:5:\"1.532\";}}}s:14:\"SuccessMessage\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:7:\"success\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Success\";}}}s:17:\"ErrorUnknownError\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"OBP-50000:
  Unknown Error.\";}}}s:12:\"ImageUrlJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:9:\"image_URL\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"image_URL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}}}s:24:\"ErrorBankAccountNotFound\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:91:\"OBP-30018:
  Bank Account not found. Please specify valid values for BANK_ID and ACCOUNT_ID.
  \";}}}s:12:\"MoreInfoJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:9:\"more_info\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"more_info\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}}}s:20:\"OpenCorporateUrlJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:19:\"open_corporates_URL\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"open_corporates_URL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}}}s:20:\"PhysicalLocationJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:17:\"physical_location\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"physical_location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LocationPlainJSON\";}}}s:7:\"UrlJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:3:\"URL\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"URL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}}}s:9:\"AliasJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:5:\"alias\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}}}s:16:\"OtherAccountJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:8:{i:0;s:2:\"id\";i:1;s:6:\"holder\";i:2;s:6:\"number\";i:3;s:4:\"kind\";i:4;s:4:\"IBAN\";i:5;s:9:\"swift_bic\";i:6;s:4:\"bank\";i:7;s:8:\"metadata\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"123\";}s:4:\"IBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"UK234DB\";}s:9:\"swift_bic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"UK12321DB\";}s:6:\"holder\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AccountHolderJSON\";}s:4:\"bank\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MinimalBankJSON\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"5995d6a2-01b3-423c-a173-5481df49bdaf\";}s:8:\"metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/OtherAccountMetadataJSON\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"3456\";}}}s:17:\"AccountHolderJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:8:\"is_alias\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"is_alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"OBP\";}}}s:15:\"MinimalBankJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:19:\"national_identifier\";i:1;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"OBP\";}s:19:\"national_identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"OBP\";}}}s:22:\"CounterpartiesJsonV220\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:14:\"counterparties\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"counterparties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CounterpartyJsonV220\";}}}}s:20:\"CounterpartyJsonV220\";O:8:\"stdClass\":2:{s:8:\"required\";a:17:{i:0;s:4:\"name\";i:1;s:11:\"description\";i:2;s:18:\"created_by_user_id\";i:3;s:12:\"this_bank_id\";i:4;s:15:\"this_account_id\";i:5;s:12:\"this_view_id\";i:6;s:15:\"counterparty_id\";i:7;s:25:\"other_bank_routing_scheme\";i:8;s:26:\"other_bank_routing_address\";i:9;s:27:\"other_branch_routing_scheme\";i:10;s:28:\"other_branch_routing_address\";i:11;s:28:\"other_account_routing_scheme\";i:12;s:29:\"other_account_routing_address\";i:13;s:38:\"other_account_secondary_routing_scheme\";i:14;s:39:\"other_account_secondary_routing_address\";i:15;s:14:\"is_beneficiary\";i:16;s:7:\"bespoke\";}s:10:\"properties\";O:8:\"stdClass\":17:{s:29:\"other_account_routing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"7987987-2348987-234234\";}s:28:\"other_account_routing_scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"accountNumber\";}s:18:\"created_by_user_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"49e1e147-64c1-4823-ad9f-89efcd02a9fa\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"CounterpartyName\";}s:39:\"other_account_secondary_routing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"8ca8a7e4-6d02-48e3-a029-0b2bf89de9f0\";}s:14:\"is_beneficiary\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"My
  landlord\";}s:28:\"other_branch_routing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"10010\";}s:7:\"bespoke\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/PostCounterpartyBespokeJson\";}}s:25:\"other_bank_routing_scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"bankCode\";}s:27:\"other_branch_routing_scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"branchNumber\";}s:15:\"this_account_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"8ca8a7e4-6d02-48e3-a029-0b2bf89de9f0\";}s:12:\"this_view_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"owner\";}s:26:\"other_bank_routing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"10\";}s:12:\"this_bank_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"gh.29.uk\";}s:15:\"counterparty_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"1d65db7c-a7b2-4839-af41-958276ab7790\";}s:38:\"other_account_secondary_routing_scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"accountId\";}}}s:27:\"PostCounterpartyBespokeJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:3:\"key\";i:1;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"english
  Name\";}s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"englishName\";}}}s:20:\"PostCounterpartyJSON\";O:8:\"stdClass\":2:{s:8:\"required\";a:12:{i:0;s:4:\"name\";i:1;s:11:\"description\";i:2;s:28:\"other_account_routing_scheme\";i:3;s:29:\"other_account_routing_address\";i:4;s:38:\"other_account_secondary_routing_scheme\";i:5;s:39:\"other_account_secondary_routing_address\";i:6;s:25:\"other_bank_routing_scheme\";i:7;s:26:\"other_bank_routing_address\";i:8;s:27:\"other_branch_routing_scheme\";i:9;s:28:\"other_branch_routing_address\";i:10;s:14:\"is_beneficiary\";i:11;s:7:\"bespoke\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:29:\"other_account_routing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"7987987-2348987-234234\";}s:28:\"other_account_routing_scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"accountNumber\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"CounterpartyName\";}s:39:\"other_account_secondary_routing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"DE89370400440532013000\";}s:14:\"is_beneficiary\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"My
  landlord\";}s:28:\"other_branch_routing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"10010\";}s:7:\"bespoke\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/PostCounterpartyBespokeJson\";}}s:25:\"other_bank_routing_scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"bankCode\";}s:27:\"other_branch_routing_scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"branchNumber\";}s:26:\"other_bank_routing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"10\";}s:38:\"other_account_secondary_routing_scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"IBAN\";}}}s:28:\"CounterpartyWithMetadataJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:18:{i:0;s:4:\"name\";i:1;s:11:\"description\";i:2;s:18:\"created_by_user_id\";i:3;s:12:\"this_bank_id\";i:4;s:15:\"this_account_id\";i:5;s:12:\"this_view_id\";i:6;s:15:\"counterparty_id\";i:7;s:25:\"other_bank_routing_scheme\";i:8;s:26:\"other_bank_routing_address\";i:9;s:27:\"other_branch_routing_scheme\";i:10;s:28:\"other_branch_routing_address\";i:11;s:28:\"other_account_routing_scheme\";i:12;s:29:\"other_account_routing_address\";i:13;s:38:\"other_account_secondary_routing_scheme\";i:14;s:39:\"other_account_secondary_routing_address\";i:15;s:14:\"is_beneficiary\";i:16;s:7:\"bespoke\";i:17;s:8:\"metadata\";}s:10:\"properties\";O:8:\"stdClass\":18:{s:29:\"other_account_routing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"7987987-2348987-234234\";}s:28:\"other_account_routing_scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"accountNumber\";}s:18:\"created_by_user_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"49e1e147-64c1-4823-ad9f-89efcd02a9fa\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"CounterpartyName\";}s:39:\"other_account_secondary_routing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"8ca8a7e4-6d02-48e3-a029-0b2bf89de9f0\";}s:14:\"is_beneficiary\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:4:\"true\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"My
  landlord\";}s:28:\"other_branch_routing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"10010\";}s:7:\"bespoke\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/PostCounterpartyBespokeJson\";}}s:25:\"other_bank_routing_scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"bankCode\";}s:27:\"other_branch_routing_scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"branchNumber\";}s:15:\"this_account_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"8ca8a7e4-6d02-48e3-a029-0b2bf89de9f0\";}s:12:\"this_view_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"owner\";}s:8:\"metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CounterpartyMetadataJson\";}s:26:\"other_bank_routing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"10\";}s:12:\"this_bank_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"gh.29.uk\";}s:15:\"counterparty_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"1d65db7c-a7b2-4839-af41-958276ab7790\";}s:38:\"other_account_secondary_routing_scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"accountId\";}}}s:24:\"CounterpartyMetadataJson\";O:8:\"stdClass\":2:{s:8:\"required\";a:8:{i:0;s:11:\"publicAlias\";i:1;s:8:\"moreInfo\";i:2;s:3:\"url\";i:3;s:8:\"imageURL\";i:4;s:17:\"openCorporatesURL\";i:5;s:17:\"corporateLocation\";i:6;s:16:\"physicalLocation\";i:7;s:12:\"privateAlias\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"publicAlias\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"String\";}}}s:21:\"OtherAccountsJsonV300\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:14:\"other_accounts\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"other_accounts\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/OtherAccountJsonV300\";}}}}s:20:\"OtherAccountJsonV300\";O:8:\"stdClass\":2:{s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:6:\"holder\";i:2;s:12:\"bank_routing\";i:3;s:16:\"account_routings\";i:4;s:8:\"metadata\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"account_routings\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AccountRoutingJsonV121\";}}s:6:\"holder\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AccountHolderJSON\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"5995d6a2-01b3-423c-a173-5481df49bdaf\";}s:8:\"metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/OtherAccountMetadataJSON\";}s:12:\"bank_routing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BankRoutingJsonV121\";}}}s:22:\"AccountRoutingJsonV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:6:\"scheme\";i:1;s:7:\"address\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"4930396\";}s:6:\"scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"AccountNumber\";}}}s:19:\"BankRoutingJsonV121\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:6:\"scheme\";i:1;s:7:\"address\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"gh.29.uk\";}s:6:\"scheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Bank_ID\";}}}}"
...
