---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:90:\"<fullname>AWS
  Glue</fullname> <p>Defines the public endpoint for the AWS Glue service.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:8:\"AWS
  Glue\";s:7:\"version\";s:10:\"2017-03-31\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:88:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/glue-2017-03-31.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:4:\"glue\";}"
host: glue.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":425:{s:21:\"AccessDeniedException\";O:8:\"stdClass\":0:{}s:6:\"Action\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Defines
  an action to be initiated by a trigger.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"Arguments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/GenericMap\";s:11:\"description\";s:694:\"<p>Arguments
  to be passed to the job run.</p> <p>You can specify arguments here that your own
  job-execution script consumes, as well as arguments that AWS Glue itself consumes.</p>
  <p>For information about how to specify and consume your own Job arguments, see
  the <a href=\"http://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-python-calling.html\">Calling
  AWS Glue APIs in Python</a> topic in the developer guide.</p> <p>For information
  about the key-value pairs that AWS Glue consumes to set up your job, see the <a
  href=\"http://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-etl-glue-arguments.html\">Special
  Parameters Used by AWS Glue</a> topic in the developer guide.</p>\";}s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:33:\"The
  name of a job to be executed.\";}s:20:\"NotificationProperty\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/NotificationProperty\";s:11:\"description\";s:61:\"Specifies
  configuration properties of a job run notification.\";}s:21:\"SecurityConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:76:\"The
  name of the SecurityConfiguration structure to be used with this action.\";}s:7:\"Timeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Timeout\";s:11:\"description\";s:253:\"The
  JobRun timeout in minutes. This is the maximum time that a job run can consume resources
  before it is terminated and enters <code>TIMEOUT</code> status. The default is 2,880
  minutes (48 hours). This overrides the timeout value set in the parent job.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ActionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Action\";}s:4:\"type\";s:5:\"array\";}s:22:\"AlreadyExistsException\";O:8:\"stdClass\":0:{}s:12:\"AttemptCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:27:\"BatchCreatePartitionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:106:\"The
  ID of the catalog in which the partion is to be created. Currently, this should
  be the AWS account ID.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:74:\"The
  name of the metadata database in which the partition is to be created.\";}s:18:\"PartitionInputList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PartitionInputList\";s:11:\"description\";s:90:\"A
  list of <code>PartitionInput</code> structures that define the partitions to be
  created.\";}s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:71:\"The
  name of the metadata table in which the partition is to be created.\";}}s:8:\"required\";a:3:{i:0;s:12:\"DatabaseName\";i:1;s:9:\"TableName\";i:2;s:18:\"PartitionInputList\";}s:4:\"type\";s:6:\"object\";}s:28:\"BatchCreatePartitionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PartitionErrors\";s:11:\"description\";s:66:\"Errors
  encountered when trying to create the requested partitions.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"BatchDeleteConnectionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:119:\"The
  ID of the Data Catalog in which the connections reside. If none is supplied, the
  AWS account ID is used by default.\";}s:18:\"ConnectionNameList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/DeleteConnectionNameList\";s:11:\"description\";s:45:\"A
  list of names of the connections to delete.\";}}s:8:\"required\";a:1:{i:0;s:18:\"ConnectionNameList\";}s:4:\"type\";s:6:\"object\";}s:29:\"BatchDeleteConnectionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ErrorByName\";s:11:\"description\";s:86:\"A
  map of the names of connections that were not successfully deleted to error details.\";}s:9:\"Succeeded\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NameStringList\";s:11:\"description\";s:77:\"A
  list of names of the connection definitions that were successfully deleted.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"BatchDeletePartitionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:129:\"The
  ID of the Data Catalog where the partition to be deleted resides. If none is supplied,
  the AWS account ID is used by default.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:72:\"The
  name of the catalog database in which the table in question resides.\";}s:18:\"PartitionsToDelete\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/BatchDeletePartitionValueList\";s:11:\"description\";s:90:\"A
  list of <code>PartitionInput</code> structures that define the partitions to be
  deleted.\";}s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:68:\"The
  name of the table where the partitions to be deleted is located.\";}}s:8:\"required\";a:3:{i:0;s:12:\"DatabaseName\";i:1;s:9:\"TableName\";i:2;s:18:\"PartitionsToDelete\";}s:4:\"type\";s:6:\"object\";}s:28:\"BatchDeletePartitionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PartitionErrors\";s:11:\"description\";s:66:\"Errors
  encountered when trying to delete the requested partitions.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"BatchDeletePartitionValueList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PartitionValueList\";}s:8:\"maxItems\";i:25;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:24:\"BatchDeleteTableNameList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:23:\"BatchDeleteTableRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:111:\"The
  ID of the Data Catalog where the table resides. If none is supplied, the AWS account
  ID is used by default.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:124:\"The
  name of the catalog database where the tables to delete reside. For Hive compatibility,
  this name is entirely lowercase.\";}s:14:\"TablesToDelete\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/BatchDeleteTableNameList\";s:11:\"description\";s:30:\"A
  list of the table to delete.\";}}s:8:\"required\";a:2:{i:0;s:12:\"DatabaseName\";i:1;s:14:\"TablesToDelete\";}s:4:\"type\";s:6:\"object\";}s:24:\"BatchDeleteTableResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TableErrors\";s:11:\"description\";s:74:\"A
  list of errors encountered in attempting to delete the specified tables.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"BatchDeleteTableVersionList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/VersionString\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:30:\"BatchDeleteTableVersionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:111:\"The
  ID of the Data Catalog where the tables reside. If none is supplied, the AWS account
  ID is used by default.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:112:\"The
  database in the catalog in which the table resides. For Hive compatibility, this
  name is entirely lowercase.\";}s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:79:\"The
  name of the table. For Hive compatibility, this name is entirely lowercase.\";}s:10:\"VersionIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/BatchDeleteTableVersionList\";s:11:\"description\";s:145:\"A
  list of the IDs of versions to be deleted. A <code>VersionId</code> is a string
  representation of an integer. Each version is incremented by 1.\";}}s:8:\"required\";a:3:{i:0;s:12:\"DatabaseName\";i:1;s:9:\"TableName\";i:2;s:10:\"VersionIds\";}s:4:\"type\";s:6:\"object\";}s:31:\"BatchDeleteTableVersionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TableVersionErrors\";s:11:\"description\";s:81:\"A
  list of errors encountered while trying to delete the specified table versions.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BatchGetPartitionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:127:\"The
  ID of the Data Catalog where the partitions in question reside. If none is supplied,
  the AWS account ID is used by default.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:61:\"The
  name of the catalog database where the partitions reside.\";}s:15:\"PartitionsToGet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/BatchGetPartitionValueList\";s:11:\"description\";s:66:\"A
  list of partition values identifying the partitions to retrieve.\";}s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:34:\"The
  name of the partitions' table.\";}}s:8:\"required\";a:3:{i:0;s:12:\"DatabaseName\";i:1;s:9:\"TableName\";i:2;s:15:\"PartitionsToGet\";}s:4:\"type\";s:6:\"object\";}s:25:\"BatchGetPartitionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Partitions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PartitionList\";s:11:\"description\";s:35:\"A
  list of the requested partitions.\";}s:15:\"UnprocessedKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/BatchGetPartitionValueList\";s:11:\"description\";s:83:\"A
  list of the partition values in the request for which partions were not returned.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"BatchGetPartitionValueList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PartitionValueList\";}s:8:\"maxItems\";i:1000;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:20:\"BatchStopJobRunError\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Records
  an error that occurred when attempting to stop a specified job run.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"ErrorDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ErrorDetail\";s:11:\"description\";s:55:\"Specifies
  details about the error that was encountered.\";}s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:63:\"The
  name of the job definition used in the job run in question.\";}s:8:\"JobRunId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/IdString\";s:11:\"description\";s:40:\"The
  JobRunId of the job run in question.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BatchStopJobRunErrorList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/BatchStopJobRunError\";}s:4:\"type\";s:5:\"array\";}s:27:\"BatchStopJobRunJobRunIdList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/IdString\";}s:8:\"maxItems\";i:25;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:22:\"BatchStopJobRunRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:58:\"The
  name of the job definition for which to stop job runs.\";}s:9:\"JobRunIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/BatchStopJobRunJobRunIdList\";s:11:\"description\";s:71:\"A
  list of the JobRunIds that should be stopped for that job definition.\";}}s:8:\"required\";a:2:{i:0;s:7:\"JobName\";i:1;s:9:\"JobRunIds\";}s:4:\"type\";s:6:\"object\";}s:23:\"BatchStopJobRunResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/BatchStopJobRunErrorList\";s:11:\"description\";s:157:\"A
  list of the errors that were encountered in tryng to stop JobRuns, including the
  JobRunId for which each error was encountered and details about the error.\";}s:21:\"SuccessfulSubmissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/BatchStopJobRunSuccessfulSubmissionList\";s:11:\"description\";s:68:\"A
  list of the JobRuns that were successfully submitted for stopping.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"BatchStopJobRunSuccessfulSubmission\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Records
  a successful request to stop a specified JobRun.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:68:\"The
  name of the job definition used in the job run that was stopped.\";}s:8:\"JobRunId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/IdString\";s:11:\"description\";s:45:\"The
  JobRunId of the job run that was stopped.\";}}s:4:\"type\";s:6:\"object\";}s:39:\"BatchStopJobRunSuccessfulSubmissionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/BatchStopJobRunSuccessfulSubmission\";}s:4:\"type\";s:5:\"array\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"BooleanNullable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"BooleanValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:25:\"BoundedPartitionValueList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ValueString\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:21:\"CatalogEncryptionMode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:8:\"DISABLED\";i:1;s:7:\"SSE-KMS\";}s:4:\"type\";s:6:\"string\";}s:14:\"CatalogEntries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CatalogEntry\";}s:4:\"type\";s:5:\"array\";}s:12:\"CatalogEntry\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Specifies
  a table definition in the Data Catalog.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:49:\"The
  database in which the table metadata resides.\";}s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:34:\"The
  name of the table in question.\";}}s:8:\"required\";a:2:{i:0;s:12:\"DatabaseName\";i:1;s:9:\"TableName\";}s:4:\"type\";s:6:\"object\";}s:15:\"CatalogIdString\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:56:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*\";}s:19:\"CatalogImportStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"A
  structure containing migration status information.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"ImportCompleted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:56:\"True
  if the migration has completed, or False otherwise.\";}s:10:\"ImportTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:40:\"The
  time that the migration was started.\";}s:10:\"ImportedBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:51:\"The
  name of the person who initiated the migration.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Classification\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Classifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:637:\"<p>Classifiers
  are triggered during a crawl task. A classifier checks whether a given file is in
  a format it can handle, and if it is, the classifier creates a schema in the form
  of a <code>StructType</code> object that matches that data format.</p> <p>You can
  use the standard classifiers that AWS Glue supplies, or you can write your own classifiers
  to best categorize your data sources and specify the appropriate schemas to use
  for them. A classifier can be a <code>grok</code> classifier, an <code>XML</code>
  classifier, or a <code>JSON</code> classifier, as specified in one of the fields
  in the <code>Classifier</code> object.</p>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"GrokClassifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GrokClassifier\";s:11:\"description\";s:37:\"A
  <code>GrokClassifier</code> object.\";}s:14:\"JsonClassifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/JsonClassifier\";s:11:\"description\";s:37:\"A
  <code>JsonClassifier</code> object.\";}s:13:\"XMLClassifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/XMLClassifier\";s:11:\"description\";s:37:\"An
  <code>XMLClassifier</code> object.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ClassifierList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Classifier\";}s:4:\"type\";s:5:\"array\";}s:18:\"ClassifierNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";}s:4:\"type\";s:5:\"array\";}s:20:\"CloudWatchEncryption\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Specifies
  how CloudWatch data should be encrypted.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"CloudWatchEncryptionMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CloudWatchEncryptionMode\";s:11:\"description\";s:47:\"The
  encryption mode to use for CloudWatch data.\";}s:9:\"KmsKeyArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KmsKeyArn\";s:11:\"description\";s:58:\"The
  AWS ARN of the KMS key to be used to encrypt the data.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CloudWatchEncryptionMode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:8:\"DISABLED\";i:1;s:7:\"SSE-KMS\";}s:4:\"type\";s:6:\"string\";}s:14:\"CodeGenArgName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"CodeGenArgValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"CodeGenEdge\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Represents
  a directional edge in a directed acyclic graph (DAG).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CodeGenIdentifier\";s:11:\"description\";s:44:\"The
  ID of the node at which the edge starts.\";}s:6:\"Target\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CodeGenIdentifier\";s:11:\"description\";s:42:\"The
  ID of the node at which the edge ends.\";}s:15:\"TargetParameter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CodeGenArgName\";s:11:\"description\";s:23:\"The
  target of the edge.\";}}s:8:\"required\";a:2:{i:0;s:6:\"Source\";i:1;s:6:\"Target\";}s:4:\"type\";s:6:\"object\";}s:17:\"CodeGenIdentifier\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:7:\"pattern\";s:22:\"[A-Za-z_][A-Za-z0-9_]*\";s:4:\"type\";s:6:\"string\";}s:11:\"CodeGenNode\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Represents
  a node in a directed acyclic graph (DAG)\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Args\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CodeGenNodeArgs\";s:11:\"description\";s:56:\"Properties
  of the node, in the form of name-value pairs.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CodeGenIdentifier\";s:11:\"description\";s:57:\"A
  node identifier that is unique within the node's graph.\";}s:10:\"LineNumber\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:28:\"The
  line number of the node.\";}s:8:\"NodeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CodeGenNodeType\";s:11:\"description\";s:25:\"The
  type of node this is.\";}}s:8:\"required\";a:3:{i:0;s:2:\"Id\";i:1;s:8:\"NodeType\";i:2;s:4:\"Args\";}s:4:\"type\";s:6:\"object\";}s:14:\"CodeGenNodeArg\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"An
  argument or property of a node.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CodeGenArgName\";s:11:\"description\";s:37:\"The
  name of the argument or property.\";}s:5:\"Param\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:41:\"True
  if the value is used as a parameter.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CodeGenArgValue\";s:11:\"description\";s:38:\"The
  value of the argument or property.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:15:\"CodeGenNodeArgs\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CodeGenNodeArg\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:15:\"CodeGenNodeType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Column\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"A
  column in a <code>Table</code>.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Comment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CommentString\";s:11:\"description\";s:23:\"Free-form
  text comment.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:36:\"The
  name of the <code>Column</code>.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ColumnTypeString\";s:11:\"description\";s:48:\"The
  datatype of data in the <code>Column</code>.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:10:\"ColumnList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Column\";}s:4:\"type\";s:5:\"array\";}s:16:\"ColumnTypeString\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:131072;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:56:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*\";}s:21:\"ColumnValueStringList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ColumnValuesString\";}s:4:\"type\";s:5:\"array\";}s:18:\"ColumnValuesString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"CommentString\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:56:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*\";}s:31:\"ConcurrentModificationException\";O:8:\"stdClass\":0:{}s:31:\"ConcurrentRunsExceededException\";O:8:\"stdClass\":0:{}s:9:\"Condition\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Defines
  a condition under which a trigger fires.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:92:\"The
  name of the Job to whose JobRuns this condition applies and on which this trigger
  waits.\";}s:15:\"LogicalOperator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/LogicalOperator\";s:11:\"description\";s:19:\"A
  logical operator.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/JobRunState\";s:11:\"description\";s:96:\"The
  condition state. Currently, the values supported are SUCCEEDED, STOPPED, TIMEOUT
  and FAILED.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ConditionCheckFailureException\";O:8:\"stdClass\":0:{}s:13:\"ConditionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Condition\";}s:4:\"type\";s:5:\"array\";}s:10:\"Connection\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Defines
  a connection to a data source.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:20:\"ConnectionProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConnectionProperties\";s:11:\"description\";s:1722:\"<p>These
  key-value pairs define parameters for the connection:</p> <ul> <li> <p> <code>HOST</code>
  - The host URI: either the fully qualified domain name (FQDN) or the IPv4 address
  of the database host.</p> </li> <li> <p> <code>PORT</code> - The port number, between
  1024 and 65535, of the port on which the database host is listening for database
  connections.</p> </li> <li> <p> <code>USER_NAME</code> - The name under which to
  log in to the database. The value string for <code>USER_NAME</code> is \"<code>USERNAME</code>\".</p>
  </li> <li> <p> <code>PASSWORD</code> - A password, if one is used, for the user
  name.</p> </li> <li> <p> <code>ENCRYPTED_PASSWORD</code> - When you enable connection
  password protection by setting <code>ConnectionPasswordEncryption</code> in the
  Data Catalog encryption settings, this field stores the key you designate to encrypt
  the password.</p> </li> <li> <p> <code>JDBC_DRIVER_JAR_URI</code> - The S3 path
  of the a jar file that contains the JDBC driver to use.</p> </li> <li> <p> <code>JDBC_DRIVER_CLASS_NAME</code>
  - The class name of the JDBC driver to use.</p> </li> <li> <p> <code>JDBC_ENGINE</code>
  - The name of the JDBC engine to use.</p> </li> <li> <p> <code>JDBC_ENGINE_VERSION</code>
  - The version of the JDBC engine to use.</p> </li> <li> <p> <code>CONFIG_FILES</code>
  - (Reserved for future use).</p> </li> <li> <p> <code>INSTANCE_ID</code> - The instance
  ID to use.</p> </li> <li> <p> <code>JDBC_CONNECTION_URL</code> - The URL for the
  JDBC connection.</p> </li> <li> <p> <code>JDBC_ENFORCE_SSL</code> - A Boolean string
  (true, false) specifying whether SSL with hostname matching will be enforced for
  the JDBC connection on the client. The default is false.</p> </li> </ul>\";}s:14:\"ConnectionType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ConnectionType\";s:11:\"description\";s:85:\"The
  type of the connection. Currently, only JDBC is supported; SFTP is not supported.\";}s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:48:\"The
  time this connection definition was created.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DescriptionString\";s:11:\"description\";s:30:\"Description
  of the connection.\";}s:13:\"LastUpdatedBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:69:\"The
  user, group or role that last updated this connection definition.\";}s:15:\"LastUpdatedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:53:\"The
  last time this connection definition was updated.\";}s:13:\"MatchCriteria\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MatchCriteria\";s:11:\"description\";s:65:\"A
  list of criteria that can be used in selecting this connection.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:38:\"The
  name of the connection definition.\";}s:30:\"PhysicalConnectionRequirements\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/PhysicalConnectionRequirements\";s:11:\"description\";s:121:\"A
  map of physical connection requirements, such as VPC and SecurityGroup, needed for
  making this connection successfully.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ConnectionInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"A
  structure used to specify a connection to create or update.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"ConnectionProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConnectionProperties\";s:11:\"description\";s:59:\"These
  key-value pairs define parameters for the connection.\";}s:14:\"ConnectionType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ConnectionType\";s:11:\"description\";s:85:\"The
  type of the connection. Currently, only JDBC is supported; SFTP is not supported.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DescriptionString\";s:11:\"description\";s:30:\"Description
  of the connection.\";}s:13:\"MatchCriteria\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MatchCriteria\";s:11:\"description\";s:65:\"A
  list of criteria that can be used in selecting this connection.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:27:\"The
  name of the connection.\";}s:30:\"PhysicalConnectionRequirements\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/PhysicalConnectionRequirements\";s:11:\"description\";s:121:\"A
  map of physical connection requirements, such as VPC and SecurityGroup, needed for
  making this connection successfully.\";}}s:8:\"required\";a:3:{i:0;s:4:\"Name\";i:1;s:14:\"ConnectionType\";i:2;s:20:\"ConnectionProperties\";}s:4:\"type\";s:6:\"object\";}s:14:\"ConnectionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Connection\";}s:4:\"type\";s:5:\"array\";}s:14:\"ConnectionName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"ConnectionPasswordEncryption\";O:8:\"stdClass\":4:{s:11:\"description\";s:786:\"<p>The
  data structure used by the Data Catalog to encrypt the password as part of <code>CreateConnection</code>
  or <code>UpdateConnection</code> and store it in the <code>ENCRYPTED_PASSWORD</code>
  field in the connection properties. You can enable catalog encryption or only password
  encryption.</p> <p>When a <code>CreationConnection</code> request arrives containing
  a password, the Data Catalog first encrypts the password using your KMS key, and
  then encrypts the whole connection object again if catalog encryption is also enabled.</p>
  <p>This encryption requires that you set KMS key permissions to enable or restrict
  access on the password key according to your security requirements. For example,
  you may want only admin users to have decrypt permission on the password key.</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"AwsKmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:395:\"<p>A
  KMS key used to protect access to the JDBC source. </p> <p>All users in your account
  should be granted the <code>kms:encrypt</code> permission to encrypt passwords before
  storing them in the Data Catalog (through the AWS Glue <code>CreateConnection</code>
  operation).</p> <p>The decrypt permission should be granted only to KMS key admins
  and IAM roles designated for AWS Glue crawlers.</p>\";}s:33:\"ReturnConnectionPasswordEncrypted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:254:\"When
  the <code>ReturnConnectionPasswordEncrypted</code> flag is set to \"true\", passwords
  remain encrypted in the responses of <code>GetConnection</code> and <code>GetConnections</code>.
  This encryption takes effect independently from catalog encryption. \";}}s:8:\"required\";a:1:{i:0;s:33:\"ReturnConnectionPasswordEncrypted\";}s:4:\"type\";s:6:\"object\";}s:20:\"ConnectionProperties\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ConnectionPropertyKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ValueString\";}}s:4:\"type\";s:6:\"object\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:21:\"ConnectionPropertyKey\";O:8:\"stdClass\":2:{s:4:\"enum\";a:13:{i:0;s:4:\"HOST\";i:1;s:4:\"PORT\";i:2;s:8:\"USERNAME\";i:3;s:8:\"PASSWORD\";i:4;s:18:\"ENCRYPTED_PASSWORD\";i:5;s:19:\"JDBC_DRIVER_JAR_URI\";i:6;s:22:\"JDBC_DRIVER_CLASS_NAME\";i:7;s:11:\"JDBC_ENGINE\";i:8;s:19:\"JDBC_ENGINE_VERSION\";i:9;s:12:\"CONFIG_FILES\";i:10;s:11:\"INSTANCE_ID\";i:11;s:19:\"JDBC_CONNECTION_URL\";i:12;s:16:\"JDBC_ENFORCE_SSL\";}s:4:\"type\";s:6:\"string\";}s:14:\"ConnectionType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"JDBC\";i:1;s:4:\"SFTP\";}s:4:\"type\";s:6:\"string\";}s:15:\"ConnectionsList\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Specifies
  the connections used by a job.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"Connections\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:38:\"A
  list of connections used by the job.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Crawler\";O:8:\"stdClass\":3:{s:11:\"description\";s:209:\"Specifies
  a crawler program that examines a data source and uses classifiers to try to determine
  its schema. If successful, the crawler records metadata concerning the data source
  in the AWS Glue Data Catalog.\";s:10:\"properties\";O:8:\"stdClass\":17:{s:11:\"Classifiers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClassifierNameList\";s:11:\"description\";s:57:\"A
  list of custom classifiers associated with the crawler.\";}s:13:\"Configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/CrawlerConfiguration\";s:11:\"description\";s:250:\"Crawler
  configuration information. This versioned JSON string allows users to specify aspects
  of a crawler's behavior. For more information, see <a href=\"http://docs.aws.amazon.com/glue/latest/dg/crawler-configuration.html\">Configuring
  a Crawler</a>.\";}s:16:\"CrawlElapsedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MillisecondsCount\";s:11:\"description\";s:86:\"If
  the crawler is running, contains the total time elapsed since the last crawl began.\";}s:28:\"CrawlerSecurityConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/CrawlerSecurityConfiguration\";s:11:\"description\";s:75:\"The
  name of the SecurityConfiguration structure to be used by this Crawler.\";}s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:38:\"The
  time when the crawler was created.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DatabaseName\";s:11:\"description\";s:55:\"The
  database where metadata is written by this crawler.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DescriptionString\";s:11:\"description\";s:29:\"A
  description of the crawler.\";}s:9:\"LastCrawl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LastCrawlInfo\";s:11:\"description\";s:85:\"The
  status of the last crawl, and potentially error information if an error occurred.\";}s:11:\"LastUpdated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:38:\"The
  time the crawler was last updated.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:17:\"The
  crawler name.\";}s:4:\"Role\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Role\";s:11:\"description\";s:98:\"The
  IAM role (or ARN of an IAM role) used to access customer resources, such as data
  in Amazon S3.\";}s:8:\"Schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Schedule\";s:11:\"description\";s:59:\"For
  scheduled crawlers, the schedule when the crawler runs.\";}s:18:\"SchemaChangePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SchemaChangePolicy\";s:11:\"description\";s:69:\"Sets
  the behavior when the crawler finds a changed or deleted object.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CrawlerState\";s:11:\"description\";s:70:\"Indicates
  whether the crawler is running, or whether a run is pending.\";}s:11:\"TablePrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TablePrefix\";s:11:\"description\";s:57:\"The
  prefix added to the names of tables that are created.\";}s:7:\"Targets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CrawlerTargets\";s:11:\"description\";s:33:\"A
  collection of targets to crawl.\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VersionId\";s:11:\"description\";s:27:\"The
  version of the crawler.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CrawlerConfiguration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"CrawlerList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Crawler\";}s:4:\"type\";s:5:\"array\";}s:14:\"CrawlerMetrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Metrics
  for a specified crawler.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"CrawlerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:24:\"The
  name of the crawler.\";}s:18:\"LastRuntimeSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NonNegativeDouble\";s:11:\"description\";s:58:\"The
  duration of the crawler's most recent run, in seconds.\";}s:20:\"MedianRuntimeSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NonNegativeDouble\";s:11:\"description\";s:55:\"The
  median duration of this crawler's runs, in seconds.\";}s:15:\"StillEstimating\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:83:\"True
  if the crawler is still estimating how long it will take to complete this run.\";}s:13:\"TablesCreated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NonNegativeInteger\";s:11:\"description\";s:45:\"The
  number of tables created by this crawler.\";}s:13:\"TablesDeleted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NonNegativeInteger\";s:11:\"description\";s:45:\"The
  number of tables deleted by this crawler.\";}s:13:\"TablesUpdated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NonNegativeInteger\";s:11:\"description\";s:45:\"The
  number of tables updated by this crawler.\";}s:15:\"TimeLeftSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NonNegativeDouble\";s:11:\"description\";s:52:\"The
  estimated time left to complete a running crawl.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CrawlerMetricsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CrawlerMetrics\";}s:4:\"type\";s:5:\"array\";}s:15:\"CrawlerNameList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:26:\"CrawlerNotRunningException\";O:8:\"stdClass\":0:{}s:23:\"CrawlerRunningException\";O:8:\"stdClass\":0:{}s:28:\"CrawlerSecurityConfiguration\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:12:\"CrawlerState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:5:\"READY\";i:1;s:7:\"RUNNING\";i:2;s:8:\"STOPPING\";}s:4:\"type\";s:6:\"string\";}s:24:\"CrawlerStoppingException\";O:8:\"stdClass\":0:{}s:14:\"CrawlerTargets\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Specifies
  data stores to crawl.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"DynamoDBTargets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DynamoDBTargetList\";s:11:\"description\";s:27:\"Specifies
  DynamoDB targets.\";}s:11:\"JdbcTargets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/JdbcTargetList\";s:11:\"description\";s:23:\"Specifies
  JDBC targets.\";}s:9:\"S3Targets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/S3TargetList\";s:11:\"description\";s:28:\"Specifies
  Amazon S3 targets.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreateClassifierRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"GrokClassifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/CreateGrokClassifierRequest\";s:11:\"description\";s:73:\"A
  <code>GrokClassifier</code> object specifying the classifier to create.\";}s:14:\"JsonClassifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/CreateJsonClassifierRequest\";s:11:\"description\";s:73:\"A
  <code>JsonClassifier</code> object specifying the classifier to create.\";}s:13:\"XMLClassifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/CreateXMLClassifierRequest\";s:11:\"description\";s:73:\"An
  <code>XMLClassifier</code> object specifying the classifier to create.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CreateClassifierResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"CreateConnectionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:121:\"The
  ID of the Data Catalog in which to create the connection. If none is supplied, the
  AWS account ID is used by default.\";}s:15:\"ConnectionInput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConnectionInput\";s:11:\"description\";s:72:\"A
  <code>ConnectionInput</code> object defining the connection to create.\";}}s:8:\"required\";a:1:{i:0;s:15:\"ConnectionInput\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateConnectionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"CreateCrawlerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"Classifiers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClassifierNameList\";s:11:\"description\";s:217:\"A
  list of custom classifiers that the user has registered. By default, all built-in
  classifiers are included in a crawl, but these custom classifiers always override
  the default classifiers for a given classification.\";}s:13:\"Configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/CrawlerConfiguration\";s:11:\"description\";s:250:\"Crawler
  configuration information. This versioned JSON string allows users to specify aspects
  of a crawler's behavior. For more information, see <a href=\"http://docs.aws.amazon.com/glue/latest/dg/crawler-configuration.html\">Configuring
  a Crawler</a>.\";}s:28:\"CrawlerSecurityConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/CrawlerSecurityConfiguration\";s:11:\"description\";s:75:\"The
  name of the SecurityConfiguration structure to be used by this Crawler.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DatabaseName\";s:11:\"description\";s:120:\"The
  AWS Glue database where results are written, such as: <code>arn:aws:daylight:us-east-1::database/sometable/*</code>.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DescriptionString\";s:11:\"description\";s:33:\"A
  description of the new crawler.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:24:\"Name
  of the new crawler.\";}s:4:\"Role\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Role\";s:11:\"description\";s:90:\"The
  IAM role (or ARN of an IAM role) used by the new crawler to access customer resources.\";}s:8:\"Schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CronExpression\";s:11:\"description\";s:308:\"A
  <code>cron</code> expression used to specify the schedule (see <a href=\"http://docs.aws.amazon.com/glue/latest/dg/monitor-data-warehouse-schedule.html\">Time-Based
  Schedules for Jobs and Crawlers</a>. For example, to run something every day at
  12:15 UTC, you would specify: <code>cron(15 12 * * ? *)</code>.\";}s:18:\"SchemaChangePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SchemaChangePolicy\";s:11:\"description\";s:54:\"Policy
  for the crawler's update and deletion behavior.\";}s:11:\"TablePrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TablePrefix\";s:11:\"description\";s:58:\"The
  table prefix used for catalog tables that are created.\";}s:7:\"Targets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CrawlerTargets\";s:11:\"description\";s:41:\"A
  list of collection of targets to crawl.\";}}s:8:\"required\";a:4:{i:0;s:4:\"Name\";i:1;s:4:\"Role\";i:2;s:12:\"DatabaseName\";i:3;s:7:\"Targets\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreateCrawlerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"CreateDatabaseRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:119:\"The
  ID of the Data Catalog in which to create the database. If none is supplied, the
  AWS account ID is used by default.\";}s:13:\"DatabaseInput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DatabaseInput\";s:11:\"description\";s:92:\"A
  <code>DatabaseInput</code> object defining the metadata database to create in the
  catalog.\";}}s:8:\"required\";a:1:{i:0;s:13:\"DatabaseInput\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateDatabaseResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"CreateDevEndpointRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"EndpointName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:47:\"The
  name to be assigned to the new DevEndpoint.\";}s:15:\"ExtraJarsS3Path\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:88:\"Path
  to one or more Java Jars in an S3 bucket that should be loaded in your DevEndpoint.\";}s:21:\"ExtraPythonLibsS3Path\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:406:\"<p>Path(s)
  to one or more Python libraries in an S3 bucket that should be loaded in your DevEndpoint.
  Multiple values must be complete paths separated by a comma.</p> <p>Please note
  that only pure Python libraries can currently be used on a DevEndpoint. Libraries
  that rely on C extensions, such as the <a href=\"http://pandas.pydata.org/\">pandas</a>
  Python data analysis library, are not yet supported.</p>\";}s:13:\"NumberOfNodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IntegerValue\";s:11:\"description\";s:84:\"The
  number of AWS Glue Data Processing Units (DPUs) to allocate to this DevEndpoint.\";}s:9:\"PublicKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:172:\"The
  public key to be used by this DevEndpoint for authentication. This attribute is
  provided for backward compatibility, as the recommended attribute to use is public
  keys.\";}s:10:\"PublicKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PublicKeysList\";s:11:\"description\";s:556:\"<p>A
  list of public keys to be used by the DevEndpoints for authentication. The use of
  this attribute is preferred over a single public key because the public keys allow
  you to have a different private key per client.</p> <note> <p>If you previously
  created an endpoint with a public key, you must remove that key to be able to set
  a list of public keys: call the <code>UpdateDevEndpoint</code> API with the public
  key content in the <code>deletePublicKeys</code> attribute, and the list of new
  keys in the <code>addPublicKeys</code> attribute.</p> </note>\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:33:\"The
  IAM role for the DevEndpoint.\";}s:21:\"SecurityConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:81:\"The
  name of the SecurityConfiguration structure to be used with this DevEndpoint.\";}s:16:\"SecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:77:\"Security
  group IDs for the security groups to be used by the new DevEndpoint.\";}s:8:\"SubnetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:45:\"The
  subnet ID for the new DevEndpoint to use.\";}}s:8:\"required\";a:2:{i:0;s:12:\"EndpointName\";i:1;s:7:\"RoleArn\";}s:4:\"type\";s:6:\"object\";}s:25:\"CreateDevEndpointResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:60:\"The
  AWS availability zone where this DevEndpoint is located.\";}s:16:\"CreatedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TimestampValue\";s:11:\"description\";s:56:\"The
  point in time at which this DevEndpoint was created.\";}s:12:\"EndpointName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:41:\"The
  name assigned to the new DevEndpoint.\";}s:15:\"ExtraJarsS3Path\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:86:\"Path
  to one or more Java Jars in an S3 bucket that will be loaded in your DevEndpoint.\";}s:21:\"ExtraPythonLibsS3Path\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:96:\"Path(s)
  to one or more Python libraries in an S3 bucket that will be loaded in your DevEndpoint.\";}s:13:\"FailureReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:53:\"The
  reason for a current failure in this DevEndpoint.\";}s:13:\"NumberOfNodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IntegerValue\";s:11:\"description\";s:82:\"The
  number of AWS Glue Data Processing Units (DPUs) allocated to this DevEndpoint.\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:56:\"The
  AWS ARN of the role assigned to the new DevEndpoint.\";}s:21:\"SecurityConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:81:\"The
  name of the SecurityConfiguration structure being used with this DevEndpoint.\";}s:16:\"SecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:52:\"The
  security groups assigned to the new DevEndpoint.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:42:\"The
  current status of the new DevEndpoint.\";}s:8:\"SubnetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:46:\"The
  subnet ID assigned to the new DevEndpoint.\";}s:5:\"VpcId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:43:\"The
  ID of the VPC used by this DevEndpoint.\";}s:19:\"YarnEndpointAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:58:\"The
  address of the YARN endpoint used by this DevEndpoint.\";}s:34:\"ZeppelinRemoteSparkInterpreterPort\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IntegerValue\";s:11:\"description\";s:65:\"The
  Apache Zeppelin port for the remote Apache Spark interpreter.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CreateGrokClassifierRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"Specifies
  a <code>grok</code> classifier for <code>CreateClassifier</code> to create.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"Classification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/Classification\";s:11:\"description\";s:134:\"An
  identifier of the data format that the classifier matches, such as Twitter, JSON,
  Omniture logs, Amazon CloudWatch Logs, and so on.\";}s:14:\"CustomPatterns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CustomPatterns\";s:11:\"description\";s:54:\"Optional
  custom grok patterns used by this classifier.\";}s:11:\"GrokPattern\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/GrokPattern\";s:11:\"description\";s:41:\"The
  grok pattern used by this classifier.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:31:\"The
  name of the new classifier.\";}}s:8:\"required\";a:3:{i:0;s:14:\"Classification\";i:1;s:4:\"Name\";i:2;s:11:\"GrokPattern\";}s:4:\"type\";s:6:\"object\";}s:16:\"CreateJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":13:{s:17:\"AllocatedCapacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IntegerValue\";s:11:\"description\";s:350:\"The
  number of AWS Glue data processing units (DPUs) to allocate to this Job. From 2
  to 100 DPUs can be allocated; the default is 10. A DPU is a relative measure of
  processing power that consists of 4 vCPUs of compute capacity and 16 GB of memory.
  For more information, see the <a href=\"https://aws.amazon.com/glue/pricing/\">AWS
  Glue pricing page</a>.\";}s:7:\"Command\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JobCommand\";s:11:\"description\";s:38:\"The
  JobCommand that executes this job.\";}s:11:\"Connections\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConnectionsList\";s:11:\"description\";s:34:\"The
  connections used for this job.\";}s:16:\"DefaultArguments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/GenericMap\";s:11:\"description\";s:691:\"<p>The
  default arguments for this job.</p> <p>You can specify arguments here that your
  own job-execution script consumes, as well as arguments that AWS Glue itself consumes.</p>
  <p>For information about how to specify and consume your own Job arguments, see
  the <a href=\"http://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-python-calling.html\">Calling
  AWS Glue APIs in Python</a> topic in the developer guide.</p> <p>For information
  about the key-value pairs that AWS Glue consumes to set up your job, see the <a
  href=\"http://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-etl-glue-arguments.html\">Special
  Parameters Used by AWS Glue</a> topic in the developer guide.</p>\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DescriptionString\";s:11:\"description\";s:37:\"Description
  of the job being defined.\";}s:17:\"ExecutionProperty\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ExecutionProperty\";s:11:\"description\";s:91:\"An
  ExecutionProperty specifying the maximum number of concurrent runs allowed for this
  job.\";}s:6:\"LogUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/UriString\";s:11:\"description\";s:38:\"This
  field is reserved for future use.\";}s:10:\"MaxRetries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxRetries\";s:11:\"description\";s:58:\"The
  maximum number of times to retry this job if it fails.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:78:\"The
  name you assign to this job definition. It must be unique in your account.\";}s:20:\"NotificationProperty\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/NotificationProperty\";s:11:\"description\";s:57:\"Specifies
  configuration properties of a job notification.\";}s:4:\"Role\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RoleString\";s:11:\"description\";s:57:\"The
  name or ARN of the IAM role associated with this job.\";}s:21:\"SecurityConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:73:\"The
  name of the SecurityConfiguration structure to be used with this job.\";}s:7:\"Timeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Timeout\";s:11:\"description\";s:194:\"The
  job timeout in minutes. This is the maximum time that a job run can consume resources
  before it is terminated and enters <code>TIMEOUT</code> status. The default is 2,880
  minutes (48 hours).\";}}s:8:\"required\";a:3:{i:0;s:4:\"Name\";i:1;s:4:\"Role\";i:2;s:7:\"Command\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:58:\"The
  unique name that was provided for this job definition.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CreateJsonClassifierRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"Specifies
  a JSON classifier for <code>CreateClassifier</code> to create.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"JsonPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/JsonPath\";s:11:\"description\";s:281:\"A
  <code>JsonPath</code> string defining the JSON data for the classifier to classify.
  AWS Glue supports a subset of JsonPath, as described in <a href=\"https://docs.aws.amazon.com/glue/latest/dg/custom-classifier.html#custom-classifier-json\">Writing
  JsonPath Custom Classifiers</a>.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:27:\"The
  name of the classifier.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:8:\"JsonPath\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreatePartitionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:106:\"The
  ID of the catalog in which the partion is to be created. Currently, this should
  be the AWS account ID.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:74:\"The
  name of the metadata database in which the partition is to be created.\";}s:14:\"PartitionInput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PartitionInput\";s:11:\"description\";s:77:\"A
  <code>PartitionInput</code> structure defining the partition to be created.\";}s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:71:\"The
  name of the metadata table in which the partition is to be created.\";}}s:8:\"required\";a:3:{i:0;s:12:\"DatabaseName\";i:1;s:9:\"TableName\";i:2;s:14:\"PartitionInput\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreatePartitionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"CreateScriptRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"DagEdges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DagEdges\";s:11:\"description\";s:31:\"A
  list of the edges in the DAG.\";}s:8:\"DagNodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DagNodes\";s:11:\"description\";s:31:\"A
  list of the nodes in the DAG.\";}s:8:\"Language\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Language\";s:11:\"description\";s:60:\"The
  programming language of the resulting code from the DAG.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CreateScriptResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"PythonScript\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PythonScript\";s:11:\"description\";s:41:\"The
  Python script generated from the DAG.\";}s:9:\"ScalaCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ScalaCode\";s:11:\"description\";s:38:\"The
  Scala code generated from the DAG.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"CreateSecurityConfigurationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"EncryptionConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EncryptionConfiguration\";s:11:\"description\";s:64:\"The
  encryption configuration for the new security configuration.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:44:\"The
  name for the new security configuration.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:23:\"EncryptionConfiguration\";}s:4:\"type\";s:6:\"object\";}s:35:\"CreateSecurityConfigurationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"CreatedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TimestampValue\";s:11:\"description\";s:61:\"The
  time at which the new security configuration was created.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:52:\"The
  name assigned to the new security configuration.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateTableRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:129:\"The
  ID of the Data Catalog in which to create the <code>Table</code>. If none is supplied,
  the AWS account ID is used by default.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:111:\"The
  catalog database in which to create the new table. For Hive compatibility, this
  name is entirely lowercase.\";}s:10:\"TableInput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TableInput\";s:11:\"description\";s:92:\"The
  <code>TableInput</code> object that defines the metadata table to create in the
  catalog.\";}}s:8:\"required\";a:2:{i:0;s:12:\"DatabaseName\";i:1;s:10:\"TableInput\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateTableResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"CreateTriggerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"Actions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ActionList\";s:11:\"description\";s:52:\"The
  actions initiated by this trigger when it fires.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DescriptionString\";s:11:\"description\";s:33:\"A
  description of the new trigger.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:24:\"The
  name of the trigger.\";}s:9:\"Predicate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Predicate\";s:11:\"description\";s:131:\"<p>A
  predicate to specify when the new trigger should fire.</p> <p>This field is required
  when the trigger type is CONDITIONAL.</p>\";}s:8:\"Schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:381:\"<p>A
  <code>cron</code> expression used to specify the schedule (see <a href=\"http://docs.aws.amazon.com/glue/latest/dg/monitor-data-warehouse-schedule.html\">Time-Based
  Schedules for Jobs and Crawlers</a>. For example, to run something every day at
  12:15 UTC, you would specify: <code>cron(15 12 * * ? *)</code>.</p> <p>This field
  is required when the trigger type is SCHEDULED.</p>\";}s:15:\"StartOnCreation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BooleanValue\";s:11:\"description\";s:112:\"Set
  to true to start SCHEDULED and CONDITIONAL triggers when created. True not supported
  for ON_DEMAND triggers.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TriggerType\";s:11:\"description\";s:28:\"The
  type of the new trigger.\";}}s:8:\"required\";a:3:{i:0;s:4:\"Name\";i:1;s:4:\"Type\";i:2;s:7:\"Actions\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreateTriggerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:24:\"The
  name of the trigger.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CreateUserDefinedFunctionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:119:\"The
  ID of the Data Catalog in which to create the function. If none is supplied, the
  AWS account ID is used by default.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:65:\"The
  name of the catalog database in which to create the function.\";}s:13:\"FunctionInput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/UserDefinedFunctionInput\";s:11:\"description\";s:92:\"A
  <code>FunctionInput</code> object that defines the function to create in the Data
  Catalog.\";}}s:8:\"required\";a:2:{i:0;s:12:\"DatabaseName\";i:1;s:13:\"FunctionInput\";}s:4:\"type\";s:6:\"object\";}s:33:\"CreateUserDefinedFunctionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"CreateXMLClassifierRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"Specifies
  an XML classifier for <code>CreateClassifier</code> to create.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"Classification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/Classification\";s:11:\"description\";s:61:\"An
  identifier of the data format that the classifier matches.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:27:\"The
  name of the classifier.\";}s:6:\"RowTag\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/RowTag\";s:11:\"description\";s:427:\"The
  XML tag designating the element that contains each record in an XML document being
  parsed. Note that this cannot identify a self-closing element (closed by <code>/&gt;</code>).
  An empty row element that contains only attributes can be parsed as long as it ends
  with a closing tag (for example, <code>&lt;row item_a=\"A\" item_b=\"B\"&gt;&lt;/row&gt;</code>
  is okay, but <code>&lt;row item_a=\"A\" item_b=\"B\" /&gt;</code> is not).\";}}s:8:\"required\";a:2:{i:0;s:14:\"Classification\";i:1;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:14:\"CronExpression\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"CustomPatterns\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:16000;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:60:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*\";}s:8:\"DagEdges\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CodeGenEdge\";}s:4:\"type\";s:5:\"array\";}s:8:\"DagNodes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CodeGenNode\";}s:4:\"type\";s:5:\"array\";}s:29:\"DataCatalogEncryptionSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Contains
  configuration information for maintaining Data Catalog security.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:28:\"ConnectionPasswordEncryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ConnectionPasswordEncryption\";s:11:\"description\";s:331:\"When
  password protection is enabled, the Data Catalog uses a customer-provided key to
  encrypt the password as part of <code>CreateConnection</code> or <code>UpdateConnection</code>
  and store it in the <code>ENCRYPTED_PASSWORD</code> field in the connection properties.
  You can enable catalog encryption or only password encryption.\";}s:16:\"EncryptionAtRest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EncryptionAtRest\";s:11:\"description\";s:64:\"Specifies
  encryption-at-rest configuration for the Data Catalog.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Database\";O:8:\"stdClass\":4:{s:11:\"description\";s:121:\"The
  <code>Database</code> object represents a logical grouping of tables that may reside
  in a Hive metastore or an RDBMS.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"CreateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:67:\"The
  time at which the metadata database was created in the catalog.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DescriptionString\";s:11:\"description\";s:28:\"Description
  of the database.\";}s:11:\"LocationUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/URI\";s:11:\"description\";s:57:\"The
  location of the database (for example, an HDFS path).\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:92:\"Name
  of the database. For Hive compatibility, this is folded to lowercase when it is
  stored.\";}s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ParametersMap\";s:11:\"description\";s:71:\"These
  key-value pairs define parameters and properties of the database.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:13:\"DatabaseInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  structure used to create or update a database.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DescriptionString\";s:11:\"description\";s:27:\"Description
  of the database\";}s:11:\"LocationUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/URI\";s:11:\"description\";s:57:\"The
  location of the database (for example, an HDFS path).\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:92:\"Name
  of the database. For Hive compatibility, this is folded to lowercase when it is
  stored.\";}s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ParametersMap\";s:11:\"description\";s:70:\"Thes
  key-value pairs define parameters and properties of the database.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:12:\"DatabaseList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Database\";}s:4:\"type\";s:5:\"array\";}s:12:\"DatabaseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"DeleteBehavior\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"LOG\";i:1;s:20:\"DELETE_FROM_DATABASE\";i:2;s:21:\"DEPRECATE_IN_DATABASE\";}s:4:\"type\";s:6:\"string\";}s:23:\"DeleteClassifierRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:33:\"Name
  of the classifier to remove.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteClassifierResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteConnectionNameList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";}s:8:\"maxItems\";i:25;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:23:\"DeleteConnectionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:119:\"The
  ID of the Data Catalog in which the connection resides. If none is supplied, the
  AWS account ID is used by default.\";}s:14:\"ConnectionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:37:\"The
  name of the connection to delete.\";}}s:8:\"required\";a:1:{i:0;s:14:\"ConnectionName\";}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteConnectionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteCrawlerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:30:\"Name
  of the crawler to remove.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteCrawlerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteDatabaseRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:117:\"The
  ID of the Data Catalog in which the database resides. If none is supplied, the AWS
  account ID is used by default.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:87:\"The
  name of the Database to delete. For Hive compatibility, this must be all lowercase.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteDatabaseResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteDevEndpointRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"EndpointName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:28:\"The
  name of the DevEndpoint.\";}}s:8:\"required\";a:1:{i:0;s:12:\"EndpointName\";}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteDevEndpointResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"DeleteJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:41:\"The
  name of the job definition to delete.\";}}s:8:\"required\";a:1:{i:0;s:7:\"JobName\";}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:48:\"The
  name of the job definition that was deleted.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DeletePartitionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:129:\"The
  ID of the Data Catalog where the partition to be deleted resides. If none is supplied,
  the AWS account ID is used by default.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:72:\"The
  name of the catalog database in which the table in question resides.\";}s:15:\"PartitionValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ValueStringList\";s:11:\"description\";s:37:\"The
  values that define the partition.\";}s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:67:\"The
  name of the table where the partition to be deleted is located.\";}}s:8:\"required\";a:3:{i:0;s:12:\"DatabaseName\";i:1;s:9:\"TableName\";i:2;s:15:\"PartitionValues\";}s:4:\"type\";s:6:\"object\";}s:23:\"DeletePartitionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteResourcePolicyRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"PolicyHashCondition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/HashString\";s:11:\"description\";s:49:\"The
  hash value returned when this policy was set.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteResourcePolicyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"DeleteSecurityConfigurationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:49:\"The
  name of the security configuration to delete.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:35:\"DeleteSecurityConfigurationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteTableRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:111:\"The
  ID of the Data Catalog where the table resides. If none is supplied, the AWS account
  ID is used by default.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:117:\"The
  name of the catalog database in which the table resides. For Hive compatibility,
  this name is entirely lowercase.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:93:\"The
  name of the table to be deleted. For Hive compatibility, this name is entirely lowercase.\";}}s:8:\"required\";a:2:{i:0;s:12:\"DatabaseName\";i:1;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteTableResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteTableVersionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:111:\"The
  ID of the Data Catalog where the tables reside. If none is supplied, the AWS account
  ID is used by default.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:112:\"The
  database in the catalog in which the table resides. For Hive compatibility, this
  name is entirely lowercase.\";}s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:79:\"The
  name of the table. For Hive compatibility, this name is entirely lowercase.\";}s:9:\"VersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/VersionString\";s:11:\"description\";s:143:\"The
  ID of the table version to be deleted. A <code>VersionID</code> is a string representation
  of an integer. Each version is incremented by 1.\";}}s:8:\"required\";a:3:{i:0;s:12:\"DatabaseName\";i:1;s:9:\"TableName\";i:2;s:9:\"VersionId\";}s:4:\"type\";s:6:\"object\";}s:26:\"DeleteTableVersionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteTriggerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:34:\"The
  name of the trigger to delete.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteTriggerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:41:\"The
  name of the trigger that was deleted.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DeleteUserDefinedFunctionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:131:\"The
  ID of the Data Catalog where the function to be deleted is located. If none is supplied,
  the AWS account ID is used by default.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:63:\"The
  name of the catalog database where the function is located.\";}s:12:\"FunctionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:50:\"The
  name of the function definition to be deleted.\";}}s:8:\"required\";a:2:{i:0;s:12:\"DatabaseName\";i:1;s:12:\"FunctionName\";}s:4:\"type\";s:6:\"object\";}s:33:\"DeleteUserDefinedFunctionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"DescriptionString\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:60:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*\";}s:26:\"DescriptionStringRemovable\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:60:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*\";}s:11:\"DevEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"A
  development endpoint where a developer can remotely debug ETL scripts.\";s:10:\"properties\";O:8:\"stdClass\":21:{s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:60:\"The
  AWS availability zone where this DevEndpoint is located.\";}s:16:\"CreatedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TimestampValue\";s:11:\"description\";s:56:\"The
  point in time at which this DevEndpoint was created.\";}s:12:\"EndpointName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:28:\"The
  name of the DevEndpoint.\";}s:15:\"ExtraJarsS3Path\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:190:\"<p>Path
  to one or more Java Jars in an S3 bucket that should be loaded in your DevEndpoint.</p>
  <p>Please note that only pure Java/Scala libraries can currently be used on a DevEndpoint.</p>\";}s:21:\"ExtraPythonLibsS3Path\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:406:\"<p>Path(s)
  to one or more Python libraries in an S3 bucket that should be loaded in your DevEndpoint.
  Multiple values must be complete paths separated by a comma.</p> <p>Please note
  that only pure Python libraries can currently be used on a DevEndpoint. Libraries
  that rely on C extensions, such as the <a href=\"http://pandas.pydata.org/\">pandas</a>
  Python data analysis library, are not yet supported.</p>\";}s:13:\"FailureReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:53:\"The
  reason for a current failure in this DevEndpoint.\";}s:21:\"LastModifiedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TimestampValue\";s:11:\"description\";s:62:\"The
  point in time at which this DevEndpoint was last modified.\";}s:16:\"LastUpdateStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:30:\"The
  status of the last update.\";}s:13:\"NumberOfNodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IntegerValue\";s:11:\"description\";s:82:\"The
  number of AWS Glue Data Processing Units (DPUs) allocated to this DevEndpoint.\";}s:14:\"PrivateAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:216:\"A
  private IP address to access the DevEndpoint within a VPC, if the DevEndpoint is
  created within one. The PrivateAddress field is present only when you create the
  DevEndpoint within your virtual private cloud (VPC).\";}s:13:\"PublicAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:150:\"The
  public IP address used by this DevEndpoint. The PublicAddress field is present only
  when you create a non-VPC (virtual private cloud) DevEndpoint.\";}s:9:\"PublicKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:172:\"The
  public key to be used by this DevEndpoint for authentication. This attribute is
  provided for backward compatibility, as the recommended attribute to use is public
  keys.\";}s:10:\"PublicKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PublicKeysList\";s:11:\"description\";s:556:\"<p>A
  list of public keys to be used by the DevEndpoints for authentication. The use of
  this attribute is preferred over a single public key because the public keys allow
  you to have a different private key per client.</p> <note> <p>If you previously
  created an endpoint with a public key, you must remove that key to be able to set
  a list of public keys: call the <code>UpdateDevEndpoint</code> API with the public
  key content in the <code>deletePublicKeys</code> attribute, and the list of new
  keys in the <code>addPublicKeys</code> attribute.</p> </note>\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:53:\"The
  AWS ARN of the IAM role used in this DevEndpoint.\";}s:21:\"SecurityConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:81:\"The
  name of the SecurityConfiguration structure to be used with this DevEndpoint.\";}s:16:\"SecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:62:\"A
  list of security group identifiers used in this DevEndpoint.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:39:\"The
  current status of this DevEndpoint.\";}s:8:\"SubnetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:35:\"The
  subnet ID for this DevEndpoint.\";}s:5:\"VpcId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:67:\"The
  ID of the virtual private cloud (VPC) used by this DevEndpoint.\";}s:19:\"YarnEndpointAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:51:\"The
  YARN endpoint address used by this DevEndpoint.\";}s:34:\"ZeppelinRemoteSparkInterpreterPort\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IntegerValue\";s:11:\"description\";s:65:\"The
  Apache Zeppelin port for the remote Apache Spark interpreter.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DevEndpointCustomLibraries\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Custom
  libraries to be loaded into a DevEndpoint.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"ExtraJarsS3Path\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:190:\"<p>Path
  to one or more Java Jars in an S3 bucket that should be loaded in your DevEndpoint.</p>
  <p>Please note that only pure Java/Scala libraries can currently be used on a DevEndpoint.</p>\";}s:21:\"ExtraPythonLibsS3Path\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";s:11:\"description\";s:406:\"<p>Path(s)
  to one or more Python libraries in an S3 bucket that should be loaded in your DevEndpoint.
  Multiple values must be complete paths separated by a comma.</p> <p>Please note
  that only pure Python libraries can currently be used on a DevEndpoint. Libraries
  that rely on C extensions, such as the <a href=\"http://pandas.pydata.org/\">pandas</a>
  Python data analysis library, are not yet supported.</p>\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DevEndpointList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DevEndpoint\";}s:4:\"type\";s:5:\"array\";}s:14:\"DynamoDBTarget\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Specifies
  a DynamoDB table to crawl.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Path\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Path\";s:11:\"description\";s:40:\"The
  name of the DynamoDB table to crawl.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DynamoDBTargetList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DynamoDBTarget\";}s:4:\"type\";s:5:\"array\";}s:16:\"EncryptionAtRest\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Specifies
  encryption-at-rest configuration for the Data Catalog.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"CatalogEncryptionMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/CatalogEncryptionMode\";s:11:\"description\";s:61:\"The
  encryption-at-rest mode for encrypting Data Catalog data.\";}s:14:\"SseAwsKmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:56:\"The
  ID of the AWS KMS key to use for encryption at rest.\";}}s:8:\"required\";a:1:{i:0;s:21:\"CatalogEncryptionMode\";}s:4:\"type\";s:6:\"object\";}s:23:\"EncryptionConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Specifies
  an encryption configuration.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"CloudWatchEncryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/CloudWatchEncryption\";s:11:\"description\";s:44:\"The
  encryption configuration for CloudWatch.\";}s:22:\"JobBookmarksEncryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/JobBookmarksEncryption\";s:11:\"description\";s:47:\"The
  encryption configuration for Job Bookmarks.\";}s:12:\"S3Encryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/S3EncryptionList\";s:11:\"description\";s:41:\"The
  encryption configuration for S3 data.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"EntityNotFoundException\";O:8:\"stdClass\":0:{}s:11:\"ErrorByName\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorDetail\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:11:\"ErrorDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Contains
  details about an error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:36:\"The
  code associated with this error.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DescriptionString\";s:11:\"description\";s:31:\"A
  message describing the error.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ErrorString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ExecutionProperty\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"An
  execution property of a job.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"MaxConcurrentRuns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MaxConcurrentRuns\";s:11:\"description\";s:197:\"The
  maximum number of concurrent runs allowed for the job. The default is 1. An error
  is returned when this threshold is reached. The maximum value you can specify is
  controlled by a service limit.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ExecutionTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"ExistCondition\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:10:\"MUST_EXIST\";i:1;s:9:\"NOT_EXIST\";i:2;s:4:\"NONE\";}s:4:\"type\";s:6:\"string\";}s:9:\"FieldType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"FilterString\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:56:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*\";}s:12:\"FormatString\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:4:\"type\";s:6:\"string\";s:9:\"x-pattern\";s:56:\"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*\";}s:10:\"GenericMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:13:\"GenericString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"GetCatalogImportStatusRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:79:\"The
  ID of the catalog to migrate. Currently, this should be the AWS account ID.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"GetCatalogImportStatusResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"ImportStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/CatalogImportStatus\";s:11:\"description\";s:46:\"The
  status of the specified catalog migration.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GetClassifierRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:35:\"Name
  of the classifier to retrieve.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:21:\"GetClassifierResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Classifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Classifier\";s:11:\"description\";s:25:\"The
  requested classifier.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"GetClassifiersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:38:\"Size
  of the list to return (optional).\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Token\";s:11:\"description\";s:31:\"An
  optional continuation token.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GetClassifiersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Classifiers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ClassifierList\";s:11:\"description\";s:41:\"The
  requested list of classifier objects.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Token\";s:11:\"description\";s:21:\"A
  continuation token.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GetConnectionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:119:\"The
  ID of the Data Catalog in which the connection resides. If none is supplied, the
  AWS account ID is used by default.\";}s:12:\"HidePassword\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:418:\"Allow
  you to retrieve the connection metadata without displaying the password. For instance,
  the AWS Glue console uses this flag to retrieve connections, since the console does
  not display passwords. Set this parameter where the caller may not have permission
  to use the KMS key to decrypt the password, but does have permission to access the
  rest of the connection metadata (that is, the other connection properties).\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NameString\";s:11:\"description\";s:50:\"The
  name of the connection definition to retrieve.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:21:\"GetConnectionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Connection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Connection\";s:11:\"description\";s:36:\"The
  requested connection definition.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GetConnectionsFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Filters
  the connection definitions returned by the <code>GetConnections</code> API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"ConnectionType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ConnectionType\";s:11:\"description\";s:92:\"The
  type of connections to return. Currently, only JDBC is supported; SFTP is not supported.\";}s:13:\"MatchCriteria\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MatchCriteria\";s:11:\"description\";s:131:\"A
  criteria string that must match the criteria recorded in the connection definition
  for that connection definition to be returned.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"GetConnectionsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"CatalogId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CatalogIdString\";s:11:\"description\";s:119:\"The
  ID of the Data Catalog in which the connections reside. If none is supplied, the
  AWS account ID is used by default.\";}s:6:\"Filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/GetConnectionsFilter\";s:11:\"description\";s:58:\"A
  filter that controls which connections will be returned.\";}s:12:\"HidePassword\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:418:\"Allow
  you to retrieve the connection metadata without displaying the password. For instance,
  the AWS Glue console uses this flag to retrieve connections, since the console does
  not display passwords. Set this parameter where the caller may not have permission
  to use the KMS key to decrypt the password, but does have permission to access the
  rest of the connection metadata (that is, the other connection properties).\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:60:\"The
  maximum number of connections to return in one response.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Token\";s:11:\"description\";s:53:\"A
  continuation token, if this is a continuation call.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GetConnectionsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"ConnectionList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ConnectionList\";s:11:\"description\";s:43:\"A
  list of requested connection definitions.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Token\";s:11:\"description\";s:112:\"A
  continuation token, if the list of connections returned does not include the last
  of the filtered connections.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetCrawlerMetricsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"CrawlerNameList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CrawlerNameList\";s:11:\"description\";s:64:\"A
  list of the names of crawlers about which to retrieve metrics.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageSize\";s:11:\"description\";s:37:\"The
  maximum size of a list to return.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Token\";s:11:\"description\";s:53:\"A
  continuation token, if this is a continuation call.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GetCrawlerMetricsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"CrawlerMetricsList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CrawlerMetricsList\";s:11:\"description\";s:44:\"A
[...]
