---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:142:\"Manages
  encryption for your cloud services the same way you do on-premises. You can generate,
  use, rotate, and destroy AES256 encryption keys.\";s:5:\"title\";s:34:\"Cloud Key
  Management Service (KMS)\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:8:\"security\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:58:\"https://cloudkms.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:8:\"cloudkms\";}"
host: cloudkms.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":22:{s:11:\"AuditConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:1479:\"Specifies
  the audit configuration for a service.\nThe configuration determines which permission
  types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig
  must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices`
  and a specific service,\nthe union of the two AuditConfigs is used for that service:
  the log_types\nspecified in each AuditConfig are enabled, and the exempted_members
  in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n
  \   {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\"\n
  \         \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n
  \             \"exempted_members\": [\n                \"user:foo@gmail.com\"\n
  \             ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n
  \           },\n            {\n              \"log_type\": \"ADMIN_READ\",\n            }\n
  \         ]\n        },\n        {\n          \"service\": \"fooservice.googleapis.com\"\n
  \         \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n
  \           },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\":
  [\n                \"user:bar@gmail.com\"\n              ]\n            }\n          ]\n
  \       }\n      ]\n    }\n\nFor fooservice, this policy enables DATA_READ, DATA_WRITE
  and ADMIN_READ\nlogging. It also exempts foo@gmail.com from DATA_READ logging, and\nbar@gmail.com
  from DATA_WRITE logging.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"auditLogConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  configuration for logging of each type of permission.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AuditLogConfig\";}s:4:\"type\";s:5:\"array\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"Specifies
  a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`,
  `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AuditLogConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:415:\"Provides
  the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\":
  [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\":
  [\n            \"user:foo@gmail.com\"\n          ]\n        },\n        {\n          \"log_type\":
  \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE'
  logging, while exempting\nfoo@gmail.com from DATA_READ logging.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"exemptedMembers\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Specifies
  the identities that do not cause logging for this type of\npermission.\nFollows
  the same format of Binding.members.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"logType\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  log type that this config enables.\";s:4:\"enum\";a:4:{i:0;s:20:\"LOG_TYPE_UNSPECIFIED\";i:1;s:10:\"ADMIN_READ\";i:2;s:10:\"DATA_WRITE\";i:3;s:9:\"DATA_READ\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Binding\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Associates
  `members` with a `role`.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:888:\"Specifies
  the identities requesting access for a Cloud Platform resource.\n`members` can have
  the following values:\n\n* `allUsers`: A special identifier that represents anyone
  who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`:
  A special identifier that represents anyone\n   who is authenticated with a Google
  account or a service account.\n\n* `user:{emailid}`: An email address that represents
  a specific Google\n   account. For example, `alice@gmail.com` .\n\n\n* `serviceAccount:{emailid}`:
  An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n*
  `group:{emailid}`: An email address that represents a Google group.\n   For example,
  `admins@example.com`.\n\n\n* `domain:{domain}`: A Google Apps domain name that represents
  all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Role
  that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or
  `roles/owner`.\nRequired\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"CryptoKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:206:\"A
  CryptoKey represents a logical key that can be used for cryptographic\noperations.\n\nA
  CryptoKey is made up of one or more versions, which\nrepresent the actual key material
  used in cryptographic operations.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Output
  only. The time at which this CryptoKey was created.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:102:\"Labels
  with user-defined metadata. For more information, see\n[Labeling Keys](/kms/docs/labeling-keys).\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Output
  only. The resource name for this CryptoKey in the format\n`projects/*/locations/*/keyRings/*/cryptoKeys/*`.\";s:4:\"type\";s:6:\"string\";}s:16:\"nextRotationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:278:\"At
  next_rotation_time, the Key Management Service will automatically:\n\n1. Create
  a new version of this CryptoKey.\n2. Mark the new version as primary.\n\nKey rotations
  performed manually via\nCreateCryptoKeyVersion and\nUpdateCryptoKeyPrimaryVersion\ndo
  not affect next_rotation_time.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CryptoKeyVersion\";s:11:\"description\";s:219:\"Output
  only. A copy of the \"primary\" CryptoKeyVersion that will be used\nby Encrypt when
  this CryptoKey is given\nin EncryptRequest.name.\n\nThe CryptoKey's primary version
  can be updated via\nUpdateCryptoKeyPrimaryVersion.\n\";}s:7:\"purpose\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  immutable purpose of this CryptoKey. Currently, the only acceptable\npurpose is
  ENCRYPT_DECRYPT.\";s:4:\"enum\";a:2:{i:0;s:30:\"CRYPTO_KEY_PURPOSE_UNSPECIFIED\";i:1;s:15:\"ENCRYPT_DECRYPT\";}s:4:\"type\";s:6:\"string\";}s:14:\"rotationPeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:187:\"next_rotation_time
  will be advanced by this period when the service\nautomatically rotates a key. Must
  be at least one day.\n\nIf rotation_period is set, next_rotation_time must also
  be set.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CryptoKeyVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:496:\"A
  CryptoKeyVersion represents an individual cryptographic key, and the\nassociated
  key material.\n\nIt can be used for cryptographic operations either directly, or
  via its\nparent CryptoKey, in which case the server will choose the appropriate\nversion
  for the operation.\n\nFor security reasons, the raw cryptographic key material represented
  by a\nCryptoKeyVersion can never be viewed or exported. It can only be used to\nencrypt
  or decrypt data when an authorized user or application invokes Cloud\nKMS.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Output
  only. The time at which this CryptoKeyVersion was created.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:16:\"destroyEventTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"Output
  only. The time this CryptoKeyVersion's key material was\ndestroyed. Only present
  if state is\nDESTROYED.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:11:\"destroyTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"Output
  only. The time this CryptoKeyVersion's key material is scheduled\nfor destruction.
  Only present if state is\nDESTROY_SCHEDULED.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"Output
  only. The resource name for this CryptoKeyVersion in the format\n`projects/*/locations/*/keyRings/*/cryptoKeys/*/cryptoKeyVersions/*`.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  current state of the CryptoKeyVersion.\";s:4:\"enum\";a:5:{i:0;s:36:\"CRYPTO_KEY_VERSION_STATE_UNSPECIFIED\";i:1;s:7:\"ENABLED\";i:2;s:8:\"DISABLED\";i:3;s:9:\"DESTROYED\";i:4;s:17:\"DESTROY_SCHEDULED\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DecryptRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Request
  message for KeyManagementService.Decrypt.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:27:\"additionalAuthenticatedData\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Optional
  data that must match the data originally supplied in\nEncryptRequest.additional_authenticated_data.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:10:\"ciphertext\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Required.
  The encrypted data originally returned in\nEncryptResponse.ciphertext.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DecryptResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Response
  message for KeyManagementService.Decrypt.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"plaintext\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  decrypted data originally supplied in EncryptRequest.plaintext.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"DestroyCryptoKeyVersionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Request
  message for KeyManagementService.DestroyCryptoKeyVersion.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"EncryptRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Request
  message for KeyManagementService.Encrypt.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:27:\"additionalAuthenticatedData\";O:8:\"stdClass\":3:{s:11:\"description\";s:158:\"Optional
  data that, if specified, must also be provided during decryption\nthrough DecryptRequest.additional_authenticated_data.
  \ Must be no\nlarger than 64KiB.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:9:\"plaintext\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Required.
  The data to encrypt. Must be no larger than 64KiB.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"EncryptResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Response
  message for KeyManagementService.Encrypt.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ciphertext\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  encrypted data.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  resource name of the CryptoKeyVersion used in encryption.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"KeyRing\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  KeyRing is a toplevel logical grouping of CryptoKeys.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Output
  only. The time at which this KeyRing was created.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Output
  only. The resource name for the KeyRing in the format\n`projects/*/locations/*/keyRings/*`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListCryptoKeyVersionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Response
  message for KeyManagementService.ListCryptoKeyVersions.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"cryptoKeyVersions\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  list of CryptoKeyVersions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CryptoKeyVersion\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"A
  token to retrieve next page of results. Pass this value in\nListCryptoKeyVersionsRequest.page_token
  to retrieve the next page of\nresults.\";s:4:\"type\";s:6:\"string\";}s:9:\"totalSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  total number of CryptoKeyVersions that matched the\nquery.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListCryptoKeysResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Response
  message for KeyManagementService.ListCryptoKeys.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"cryptoKeys\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  list of CryptoKeys.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/CryptoKey\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"A
  token to retrieve next page of results. Pass this value in\nListCryptoKeysRequest.page_token
  to retrieve the next page of results.\";s:4:\"type\";s:6:\"string\";}s:9:\"totalSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  total number of CryptoKeys that matched the query.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListKeyRingsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Response
  message for KeyManagementService.ListKeyRings.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"keyRings\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  list of KeyRings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/KeyRing\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"A
  token to retrieve next page of results. Pass this value in\nListKeyRingsRequest.page_token
  to retrieve the next page of results.\";s:4:\"type\";s:6:\"string\";}s:9:\"totalSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  total number of KeyRings that matched the query.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListLocationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  response message for Locations.ListLocations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"A
  list of locations that matches the specified filter in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  standard List next-page token.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Location\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  resource that represents Google Cloud Platform location.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:103:\"Cross-service
  attributes for the location. For example\n\n    {\"cloud.googleapis.com/region\":
  \"us-east1\"}\";s:4:\"type\";s:6:\"object\";}s:10:\"locationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  canonical id for this location. For example: `\"us-east1\"`.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:84:\"Service-specific
  metadata. For example the available capacity at the given\nlocation.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Resource
  name for the location, which may vary between implementations.\nFor example: `\"projects/example-project/locations/us-east1\"`\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:1215:\"Defines
  an Identity and Access Management (IAM) policy. It is used to\nspecify access control
  policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`.
  A `binding` binds a list of\n`members` to a `role`, where the members can be user
  accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named
  list of permissions\ndefined by IAM.\n\n**JSON Example**\n\n    {\n      \"bindings\":
  [\n        {\n          \"role\": \"roles/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n
  \           \"group:admins@example.com\",\n            \"domain:google.com\",\n
  \           \"serviceAccount:my-other-app@appspot.gserviceaccount.com\"\n          ]\n
  \       },\n        {\n          \"role\": \"roles/viewer\",\n          \"members\":
  [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\n**YAML Example**\n\n    bindings:\n
  \   - members:\n      - user:mike@example.com\n      - group:admins@example.com\n
  \     - domain:google.com\n      - serviceAccount:my-other-app@appspot.gserviceaccount.com\n
  \     role: roles/owner\n    - members:\n      - user:sean@example.com\n      role:
  roles/viewer\n\n\nFor a description of IAM and its features, see the\n[IAM developer's
  guide](https://cloud.google.com/iam/docs).\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"auditConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Specifies
  cloud audit logging configuration for this policy.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AuditConfig\";}s:4:\"type\";s:5:\"array\";}s:8:\"bindings\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Associates
  a list of `members` to a `role`.\n`bindings` with no members will result in an error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Binding\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:606:\"`etag`
  is used for optimistic concurrency control as a way to help\nprevent simultaneous
  updates of a policy from overwriting each other.\nIt is strongly suggested that
  systems make use of the `etag` in the\nread-modify-write cycle to perform policy
  updates in order to avoid race\nconditions: An `etag` is returned in the response
  to `getIamPolicy`, and\nsystems are expected to put that etag in the request to
  `setIamPolicy` to\nensure that their change will be applied to the same version
  of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the
  existing\npolicy is overwritten blindly.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Deprecated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:30:\"RestoreCryptoKeyVersionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Request
  message for KeyManagementService.RestoreCryptoKeyVersion.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"SetIamPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  message for `SetIamPolicy` method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Policy\";s:11:\"description\";s:224:\"REQUIRED:
  The complete policy to be applied to the `resource`. The size of\nthe policy is
  limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud
  Platform services (such as Projects)\nmight reject them.\";}s:10:\"updateMask\";O:8:\"stdClass\":3:{s:11:\"description\";s:238:\"OPTIONAL:
  A FieldMask specifying which fields of the policy to modify. Only\nthe fields in
  the mask will be modified. If no mask is provided, the\nfollowing default mask is
  used:\npaths: \"bindings, etag\"\nThis field is only used by Cloud IAM.\";s:6:\"format\";s:16:\"google-fieldmask\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"TestIamPermissionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Request
  message for `TestIamPermissions` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"The
  set of permissions to check for the `resource`. Permissions with\nwildcards (such
  as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"TestIamPermissionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Response
  message for `TestIamPermissions` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:36:\"UpdateCryptoKeyPrimaryVersionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Request
  message for KeyManagementService.UpdateCryptoKeyPrimaryVersion.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"cryptoKeyVersionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  id of the child CryptoKeyVersion to use as primary.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
