---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:2150:\"<fullname>AWS
  CodeStar</fullname> <p>This is the API reference for AWS CodeStar. This reference
  provides descriptions of the operations and data types for the AWS CodeStar API
  along with usage examples.</p> <p>You can use the AWS CodeStar API to work with:</p>
  <p>Projects and their resources, by calling the following:</p> <ul> <li> <p> <code>DeleteProject</code>,
  which deletes a project.</p> </li> <li> <p> <code>DescribeProject</code>, which
  lists the attributes of a project.</p> </li> <li> <p> <code>ListProjects</code>,
  which lists all projects associated with your AWS account.</p> </li> <li> <p> <code>ListResources</code>,
  which lists the resources associated with a project.</p> </li> <li> <p> <code>ListTagsForProject</code>,
  which lists the tags associated with a project.</p> </li> <li> <p> <code>TagProject</code>,
  which adds tags to a project.</p> </li> <li> <p> <code>UntagProject</code>, which
  removes tags from a project.</p> </li> <li> <p> <code>UpdateProject</code>, which
  updates the attributes of a project.</p> </li> </ul> <p>Teams and team members,
  by calling the following:</p> <ul> <li> <p> <code>AssociateTeamMember</code>, which
  adds an IAM user to the team for a project.</p> </li> <li> <p> <code>DisassociateTeamMember</code>,
  which removes an IAM user from the team for a project.</p> </li> <li> <p> <code>ListTeamMembers</code>,
  which lists all the IAM users in the team for a project, including their roles and
  attributes.</p> </li> <li> <p> <code>UpdateTeamMember</code>, which updates a team
  member's attributes in a project.</p> </li> </ul> <p>Users, by calling the following:</p>
  <ul> <li> <p> <code>CreateUserProfile</code>, which creates a user profile that
  contains data associated with the user across all projects.</p> </li> <li> <p> <code>DeleteUserProfile</code>,
  which deletes all user profile information across all projects.</p> </li> <li> <p>
  <code>DescribeUserProfile</code>, which describes the profile of a user.</p> </li>
  <li> <p> <code>ListUserProfiles</code>, which lists all user profiles.</p> </li>
  <li> <p> <code>UpdateUserProfile</code>, which updates the profile for a user.</p>
  </li> </ul>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache 2.0
  License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:12:\"AWS
  CodeStar\";s:7:\"version\";s:10:\"2017-04-19\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:92:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codestar-2017-04-19.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:8:\"codestar\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"amazonaws_codestar\";s:4:\"type\";s:7:\"openapi\";}}"
host: codestar.amazonaws.com
basePath: /
paths:
  /:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds an IAM user to the team for an AWS CodeStar project.
      operationId: AssociateTeamMember
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AssociateTeamMemberRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AssociateTeamMemberResult'
        480:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        481:
          description: ProjectNotFoundException
          schema:
            $ref: '#/definitions/ProjectNotFoundException'
        482:
          description: TeamMemberAlreadyAssociatedException
          schema:
            $ref: '#/definitions/TeamMemberAlreadyAssociatedException'
        483:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        484:
          description: InvalidServiceRoleException
          schema:
            $ref: '#/definitions/InvalidServiceRoleException'
        485:
          description: ProjectConfigurationException
          schema:
            $ref: '#/definitions/ProjectConfigurationException'
        486:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  /#CreateProject:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Reserved for future use. To create a project, use the AWS CodeStar
        console.
      operationId: CreateProject
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateProjectRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateProjectResult'
        480:
          description: ProjectAlreadyExistsException
          schema:
            $ref: '#/definitions/ProjectAlreadyExistsException'
        481:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        482:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        483:
          description: ProjectCreationFailedException
          schema:
            $ref: '#/definitions/ProjectCreationFailedException'
        484:
          description: InvalidServiceRoleException
          schema:
            $ref: '#/definitions/InvalidServiceRoleException'
        485:
          description: ProjectConfigurationException
          schema:
            $ref: '#/definitions/ProjectConfigurationException'
        486:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  /#CreateUserProfile:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a profile for a user that includes user preferences, such
        as the display name and email address assocciated with the user, in AWS CodeStar.
        The user profile is not project-specific. Information in the user profile
        is displayed wherever the user's information appears to other users in AWS
        CodeStar.
      operationId: CreateUserProfile
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateUserProfileRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateUserProfileResult'
        480:
          description: UserProfileAlreadyExistsException
          schema:
            $ref: '#/definitions/UserProfileAlreadyExistsException'
        481:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  /#DeleteProject:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a project, including project resources. Does not delete
        users associated with the project, but does delete the IAM roles that allowed
        access to the project.
      operationId: DeleteProject
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteProjectRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteProjectResult'
        480:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        481:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        482:
          description: InvalidServiceRoleException
          schema:
            $ref: '#/definitions/InvalidServiceRoleException'
  /#DeleteUserProfile:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a user profile in AWS CodeStar, including all personal
        preference data associated with that profile, such as display name and email
        address. It does not delete the history of that user, for example the history
        of commits made by that user.
      operationId: DeleteUserProfile
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteUserProfileRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteUserProfileResult'
        480:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  /#DescribeProject:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes a project and its resources.
      operationId: DescribeProject
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeProjectRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeProjectResult'
        480:
          description: ProjectNotFoundException
          schema:
            $ref: '#/definitions/ProjectNotFoundException'
        481:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        482:
          description: InvalidServiceRoleException
          schema:
            $ref: '#/definitions/InvalidServiceRoleException'
        483:
          description: ProjectConfigurationException
          schema:
            $ref: '#/definitions/ProjectConfigurationException'
        484:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  /#DescribeUserProfile:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes a user in AWS CodeStar and the user attributes across
        all projects.
      operationId: DescribeUserProfile
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeUserProfileRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeUserProfileResult'
        480:
          description: UserProfileNotFoundException
          schema:
            $ref: '#/definitions/UserProfileNotFoundException'
        481:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  /#DisassociateTeamMember:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes a user from a project. Removing a user from a project also
        removes the IAM policies from that user that allowed access to the project
        and its resources. Disassociating a team member does not remove that user's
        profile from AWS CodeStar. It does not remove the user from IAM.
      operationId: DisassociateTeamMember
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DisassociateTeamMemberRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DisassociateTeamMemberResult'
        480:
          description: ProjectNotFoundException
          schema:
            $ref: '#/definitions/ProjectNotFoundException'
        481:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        482:
          description: InvalidServiceRoleException
          schema:
            $ref: '#/definitions/InvalidServiceRoleException'
        483:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  /#ListProjects:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists all projects in AWS CodeStar associated with your AWS account.
      operationId: ListProjects
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListProjectsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListProjectsResult'
        480:
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        481:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  /#ListResources:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists resources associated with a project in AWS CodeStar.
      operationId: ListResources
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListResourcesRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListResourcesResult'
        480:
          description: ProjectNotFoundException
          schema:
            $ref: '#/definitions/ProjectNotFoundException'
        481:
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        482:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  /#ListTagsForProject:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the tags for a project.
      operationId: ListTagsForProject
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListTagsForProjectRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForProjectResult'
        480:
          description: ProjectNotFoundException
          schema:
            $ref: '#/definitions/ProjectNotFoundException'
        481:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        482:
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
  /#ListTeamMembers:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists all team members associated with a project.
      operationId: ListTeamMembers
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListTeamMembersRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListTeamMembersResult'
        480:
          description: ProjectNotFoundException
          schema:
            $ref: '#/definitions/ProjectNotFoundException'
        481:
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        482:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  /#ListUserProfiles:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists all the user profiles configured for your AWS account in
        AWS CodeStar.
      operationId: ListUserProfiles
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListUserProfilesRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListUserProfilesResult'
        480:
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        481:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  /#TagProject:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds tags to a project.
      operationId: TagProject
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/TagProjectRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/TagProjectResult'
        480:
          description: ProjectNotFoundException
          schema:
            $ref: '#/definitions/ProjectNotFoundException'
        481:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        482:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        483:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  /#UntagProject:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes tags from a project.
      operationId: UntagProject
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UntagProjectRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UntagProjectResult'
        480:
          description: ProjectNotFoundException
          schema:
            $ref: '#/definitions/ProjectNotFoundException'
        481:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        482:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        483:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  /#UpdateProject:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates a project in AWS CodeStar.
      operationId: UpdateProject
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateProjectRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateProjectResult'
        480:
          description: ProjectNotFoundException
          schema:
            $ref: '#/definitions/ProjectNotFoundException'
        481:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  /#UpdateTeamMember:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates a team member's attributes in an AWS CodeStar project.
        For example, you can change a team member's role in the project, or change
        whether they have remote access to project resources.
      operationId: UpdateTeamMember
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateTeamMemberRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateTeamMemberResult'
        480:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        481:
          description: ProjectNotFoundException
          schema:
            $ref: '#/definitions/ProjectNotFoundException'
        482:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        483:
          description: InvalidServiceRoleException
          schema:
            $ref: '#/definitions/InvalidServiceRoleException'
        484:
          description: ProjectConfigurationException
          schema:
            $ref: '#/definitions/ProjectConfigurationException'
        485:
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        486:
          description: TeamMemberNotFoundException
          schema:
            $ref: '#/definitions/TeamMemberNotFoundException'
  /#UpdateUserProfile:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Updates a user''s profile in AWS CodeStar. The user profile is
        not project-specific. Information in the user profile is displayed wherever
        the user''s information appears to other users in AWS CodeStar. '
      operationId: UpdateUserProfile
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateUserProfileRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateUserProfileResult'
        480:
          description: UserProfileNotFoundException
          schema:
            $ref: '#/definitions/UserProfileNotFoundException'
        481:
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":80:{s:26:\"AssociateTeamMemberRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"clientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:165:\"A
  user- or system-generated token that identifies the entity that requested the team
  member association to the project. This token can be used to repeat the request.\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ProjectId\";s:11:\"description\";s:57:\"The
  ID of the project to which you will add the IAM user.\";}s:11:\"projectRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Role\";s:11:\"description\";s:137:\"The
  AWS CodeStar project role that will apply to this user. This role determines what
  actions a user can take in an AWS CodeStar project.\";}s:19:\"remoteAccessAllowed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/RemoteAccessAllowed\";s:11:\"description\";s:144:\"Whether
  the team member is allowed to use an SSH public/private key pair to remotely access
  project resources, for example Amazon EC2 instances.\";}s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:92:\"The
  Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar
  project.\";}}s:8:\"required\";a:3:{i:0;s:9:\"projectId\";i:1;s:7:\"userArn\";i:2;s:11:\"projectRole\";}s:4:\"type\";s:6:\"object\";}s:25:\"AssociateTeamMemberResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"clientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:100:\"The
  user- or system-generated token from the initial request that can be used to repeat
  the request.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ClientRequestToken\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:7:\"pattern\";s:10:\"^[\\w:/-]+$\";s:4:\"type\";s:6:\"string\";}s:31:\"ConcurrentModificationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Another
  modification is being made. That modification must complete before you can make
  your change.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"CreateProjectRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"clientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ProjectDescription\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ProjectId\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProjectName\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateProjectResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ProjectArn\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}s:18:\"clientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ProjectId\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}s:17:\"projectTemplateId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ProjectTemplateId\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:3:\"arn\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateUserProfileRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/UserProfileDisplayName\";s:11:\"description\";s:83:\"The
  name that will be displayed as the friendly name for the user in AWS CodeStar. \";}s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Email\";s:11:\"description\";s:87:\"The
  email address that will be displayed as part of the user's profile in AWS CodeStar.\";}s:12:\"sshPublicKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SshPublicKey\";s:11:\"description\";s:210:\"The
  SSH public key associated with the user in AWS CodeStar. If a project owner allows
  the user remote access to project resources, this public key will be used along
  with the user's private key for SSH access.\";}s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:50:\"The
  Amazon Resource Name (ARN) of the user in IAM.\";}}s:8:\"required\";a:3:{i:0;s:7:\"userArn\";i:1;s:11:\"displayName\";i:2;s:12:\"emailAddress\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreateUserProfileResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"createdTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CreatedTimestamp\";s:11:\"description\";s:59:\"The
  date the user profile was created, in timestamp format.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/UserProfileDisplayName\";s:11:\"description\";s:77:\"The
  name that is displayed as the friendly name for the user in AWS CodeStar.\";}s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Email\";s:11:\"description\";s:82:\"The
  email address that is displayed as part of the user's profile in AWS CodeStar.\";}s:21:\"lastModifiedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/LastModifiedTimestamp\";s:11:\"description\";s:65:\"The
  date the user profile was last modified, in timestamp format.\";}s:12:\"sshPublicKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SshPublicKey\";s:11:\"description\";s:231:\"The
  SSH public key associated with the user in AWS CodeStar. This is the public portion
  of the public/private keypair the user can use to access project resources if a
  project owner allows the user remote access to those resources.\";}s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:50:\"The
  Amazon Resource Name (ARN) of the user in IAM.\";}}s:8:\"required\";a:1:{i:0;s:7:\"userArn\";}s:4:\"type\";s:6:\"object\";}s:16:\"CreatedTimestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:20:\"DeleteProjectRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"clientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:140:\"A
  user- or system-generated token that identifies the entity that requested project
  deletion. This token can be used to repeat the request. \";}s:11:\"deleteStack\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DeleteStack\";s:11:\"description\";s:303:\"Whether
  to send a delete request for the primary stack in AWS CloudFormation originally
  used to generate the project and its resources. This option will delete all AWS
  resources for the project (except for any buckets in Amazon S3) as well as deleting
  the project itself. Recommended for most use cases.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ProjectId\";s:11:\"description\";s:52:\"The
  ID of the project to be deleted in AWS CodeStar.\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteProjectResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"projectArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ProjectArn\";s:11:\"description\";s:54:\"The
  Amazon Resource Name (ARN) of the deleted project.\";}s:7:\"stackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/StackId\";s:11:\"description\";s:121:\"The
  ID of the primary stack in AWS CloudFormation that will be deleted as part of deleting
  the project and its resources.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"DeleteStack\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:24:\"DeleteUserProfileRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:71:\"The
  Amazon Resource Name (ARN) of the user to delete from AWS CodeStar.\";}}s:8:\"required\";a:1:{i:0;s:7:\"userArn\";}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteUserProfileResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:69:\"The
  Amazon Resource Name (ARN) of the user deleted from AWS CodeStar.\";}}s:8:\"required\";a:1:{i:0;s:7:\"userArn\";}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeProjectRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ProjectId\";s:11:\"description\";s:22:\"The
  ID of the project.\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeProjectResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ProjectArn\";s:11:\"description\";s:47:\"The
  Amazon Resource Name (ARN) for the project.\";}s:18:\"clientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:94:\"A
  user- or system-generated token that identifies the entity that requested project
  creation. \";}s:16:\"createdTimeStamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CreatedTimestamp\";s:11:\"description\";s:63:\"The
  date and time the project was created, in timestamp format.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ProjectDescription\";s:11:\"description\";s:39:\"The
  description of the project, if any.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ProjectId\";s:11:\"description\";s:22:\"The
  ID of the project.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProjectName\";s:11:\"description\";s:33:\"The
  display name for the project.\";}s:17:\"projectTemplateId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ProjectTemplateId\";s:11:\"description\";s:72:\"The
  ID for the AWS CodeStar project template used to create the project.\";}s:7:\"stackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/StackId\";s:11:\"description\";s:93:\"The
  ID of the primary stack in AWS CloudFormation used to generate resources for the
  project.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeUserProfileRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:43:\"The
  Amazon Resource Name (ARN) of the user.\";}}s:8:\"required\";a:1:{i:0;s:7:\"userArn\";}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeUserProfileResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"createdTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CreatedTimestamp\";s:11:\"description\";s:89:\"The
  date and time when the user profile was created in AWS CodeStar, in timestamp format.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/UserProfileDisplayName\";s:11:\"description\";s:673:\"The
  display name shown for the user in AWS CodeStar projects. For example, this could
  be set to both first and last name (\"Mary Major\") or a single name (\"Mary\").
  The display name is also used to generate the initial icon associated with the user
  in AWS CodeStar projects. If spaces are included in the display name, the first
  character that appears after the space will be used as the second character in the
  user initial icon. The initial icon displays a maximum of two characters, so a display
  name with more than one space (for example \"Mary Jane Major\") would generate an
  initial icon using the first character and the first character after the space (\"MJ\",
  not \"MM\").\";}s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Email\";s:11:\"description\";s:41:\"The
  email address for the user. Optional.\";}s:21:\"lastModifiedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/LastModifiedTimestamp\";s:11:\"description\";s:79:\"The
  date and time when the user profile was last modified, in timestamp format.\";}s:12:\"sshPublicKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SshPublicKey\";s:11:\"description\";s:287:\"The
  SSH public key associated with the user. This SSH public key is associated with
  the user profile, and can be used in conjunction with the associated private key
  for access to project resources, such as Amazon EC2 instances, if a project owner
  grants remote access to those resources.\";}s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:43:\"The
  Amazon Resource Name (ARN) of the user.\";}}s:8:\"required\";a:3:{i:0;s:7:\"userArn\";i:1;s:16:\"createdTimestamp\";i:2;s:21:\"lastModifiedTimestamp\";}s:4:\"type\";s:6:\"object\";}s:29:\"DisassociateTeamMemberRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"projectId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ProjectId\";s:11:\"description\";s:79:\"The
  ID of the AWS CodeStar project from which you want to remove a team member.\";}s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:97:\"The
  Amazon Resource Name (ARN) of the IAM user or group whom you want to remove from
  the project.\";}}s:8:\"required\";a:2:{i:0;s:9:\"projectId\";i:1;s:7:\"userArn\";}s:4:\"type\";s:6:\"object\";}s:28:\"DisassociateTeamMemberResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"Email\";O:8:\"stdClass\":5:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:128;s:9:\"minLength\";i:3;s:7:\"pattern\";s:19:\"^[\\w-.+]+@[\\w-.+]+$\";s:4:\"type\";s:6:\"string\";}s:25:\"InvalidNextTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  next token is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"InvalidServiceRoleException\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  service role is not valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"LastModifiedTimestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"A
  resource limit has been exceeded.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"ListProjectsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:76:\"The
  maximum amount of data that can be contained in a single set of results.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:119:\"The
  continuation token to be used to return the next set of results, if the results
  cannot be returned in one response.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListProjectsResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:112:\"The
  continuation token to use when requesting the next set of results, if there are
  more results to be returned.\";}s:8:\"projects\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ProjectsList\";s:11:\"description\";s:19:\"A
  list of projects.\";}}s:8:\"required\";a:1:{i:0;s:8:\"projects\";}s:4:\"type\";s:6:\"object\";}s:20:\"ListResourcesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:76:\"The
  maximum amount of data that can be contained in a single set of results.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:102:\"The
  continuation token for the next set of results, if the results cannot be returned
  in one response.\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ProjectId\";s:11:\"description\";s:22:\"The
  ID of the project.\";}}s:8:\"required\";a:1:{i:0;s:9:\"projectId\";}s:4:\"type\";s:6:\"object\";}s:19:\"ListResourcesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:112:\"The
  continuation token to use when requesting the next set of results, if there are
  more results to be returned.\";}s:9:\"resources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ResourcesResult\";s:11:\"description\";s:51:\"An
  array of resources associated with the project. \";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListTagsForProjectRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ProjectId\";s:11:\"description\";s:38:\"The
  ID of the project to get tags for.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:24:\"ListTagsForProjectResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:25:\"The
  tags for the project.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListTeamMembersRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:67:\"The
  maximum number of team members you want returned in a response.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:102:\"The
  continuation token for the next set of results, if the results cannot be returned
  in one response.\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ProjectId\";s:11:\"description\";s:62:\"The
  ID of the project for which you want to list team members.\";}}s:8:\"required\";a:1:{i:0;s:9:\"projectId\";}s:4:\"type\";s:6:\"object\";}s:21:\"ListTeamMembersResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:112:\"The
  continuation token to use when requesting the next set of results, if there are
  more results to be returned.\";}s:11:\"teamMembers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TeamMemberResult\";s:11:\"description\";s:46:\"A
  list of team member objects for the project.\";}}s:8:\"required\";a:1:{i:0;s:11:\"teamMembers\";}s:4:\"type\";s:6:\"object\";}s:23:\"ListUserProfilesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:54:\"The
  maximum number of results to return in a response.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:102:\"The
  continuation token for the next set of results, if the results cannot be returned
  in one response.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListUserProfilesResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:112:\"The
  continuation token to use when requesting the next set of results, if there are
  more results to be returned.\";}s:12:\"userProfiles\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/UserProfilesList\";s:11:\"description\";s:68:\"All
  the user profiles configured in AWS CodeStar for an AWS account.\";}}s:8:\"required\";a:1:{i:0;s:12:\"userProfiles\";}s:4:\"type\";s:6:\"object\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:15:\"PaginationToken\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:512;s:9:\"minLength\";i:1;s:7:\"pattern\";s:10:\"^[\\w/+=]+$\";s:4:\"type\";s:6:\"string\";}s:29:\"ProjectAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:168:\"An
  AWS CodeStar project with the same ID already exists in this region for the AWS
  account. AWS CodeStar project IDs must be unique within a region for the AWS account.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"ProjectArn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:71:\"^arn:aws[^:\\s]*:codestar:[^:\\s]+:[0-9]{12}:project\\/[a-z]([a-z0-9|-])+$\";s:4:\"type\";s:6:\"string\";}s:29:\"ProjectConfigurationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Project
  configuration information is required but not specified.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"ProjectCreationFailedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"The
  project creation request was valid, but a nonspecific exception or error occurred
  during project creation. The project could not be created in AWS CodeStar.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"ProjectDescription\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:1024;s:7:\"pattern\";s:14:\"^$|^\\S(.*\\S)?$\";s:4:\"type\";s:6:\"string\";}s:9:\"ProjectId\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:15;s:9:\"minLength\";i:2;s:7:\"pattern\";s:17:\"^[a-z][a-z0-9-]+$\";s:4:\"type\";s:6:\"string\";}s:11:\"ProjectName\";O:8:\"stdClass\":5:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:100;s:9:\"minLength\";i:1;s:7:\"pattern\";s:11:\"^\\S(.*\\S)?$\";s:4:\"type\";s:6:\"string\";}s:24:\"ProjectNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  specified AWS CodeStar project was not found.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"ProjectSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Information
  about the metadata for a project.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"projectArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ProjectArn\";s:11:\"description\";s:46:\"The
  Amazon Resource Name (ARN) of the project.\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ProjectId\";s:11:\"description\";s:22:\"The
  ID of the project.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ProjectTemplateId\";O:8:\"stdClass\":3:{s:9:\"minLength\";i:1;s:7:\"pattern\";s:67:\"^arn:aws[^:\\s]{0,5}:codestar:[^:\\s]+::project-template\\/[a-z0-9-]+$\";s:4:\"type\";s:6:\"string\";}s:12:\"ProjectsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ProjectSummary\";}s:4:\"type\";s:5:\"array\";}s:19:\"RemoteAccessAllowed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"Resource\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Information
  about a resource for a project.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:47:\"The
  Amazon Resource Name (ARN) of the resource.\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:10:\"ResourceId\";O:8:\"stdClass\":3:{s:9:\"minLength\";i:11;s:7:\"pattern\";s:19:\"^arn\\:aws\\:\\S.*\\:.*\";s:4:\"type\";s:6:\"string\";}s:15:\"ResourcesResult\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}s:4:\"type\";s:5:\"array\";}s:4:\"Role\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:28:\"^(Owner|Viewer|Contributor)$\";s:4:\"type\";s:6:\"string\";}s:12:\"SshPublicKey\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:16384;s:7:\"pattern\";s:24:\"^[\\t\\r\\n\\u0020-\\u00FF]*$\";s:4:\"type\";s:6:\"string\";}s:7:\"StackId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:73:\"^arn:aws[^:\\s]*:cloudformation:[^:\\s]+:[0-9]{12}:stack\\/[^:\\s]+\\/[^:\\s]+$\";s:4:\"type\";s:6:\"string\";}s:6:\"TagKey\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:31:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$\";s:4:\"type\";s:6:\"string\";}s:7:\"TagKeys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:4:\"type\";s:5:\"array\";}s:17:\"TagProjectRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ProjectId\";s:11:\"description\";s:47:\"The
  ID of the project you want to add a tag to.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:40:\"The
  tags you want to add to the project.\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"tags\";}s:4:\"type\";s:6:\"object\";}s:16:\"TagProjectResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:25:\"The
  tags for the project.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"TagValue\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:7:\"pattern\";s:31:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$\";s:4:\"type\";s:6:\"string\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:10:\"TeamMember\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Information
  about a team member in a project.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"projectRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Role\";s:11:\"description\";s:268:\"The
  role assigned to the user in the project. Project roles have different levels of
  access. For more information, see <a href=\"http://docs.aws.amazon.com/codestar/latest/userguide/working-with-teams.html\">Working
  with Teams</a> in the <i>AWS CodeStar User Guide</i>. \";}s:19:\"remoteAccessAllowed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/RemoteAccessAllowed\";s:11:\"description\";s:102:\"Whether
  the user is allowed to remotely access project resources using an SSH public/private
  key pair.\";}s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:50:\"The
  Amazon Resource Name (ARN) of the user in IAM.\";}}s:8:\"required\";a:2:{i:0;s:7:\"userArn\";i:1;s:11:\"projectRole\";}s:4:\"type\";s:6:\"object\";}s:36:\"TeamMemberAlreadyAssociatedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  team member is already associated with a role in this project.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"TeamMemberNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  specified team member was not found.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"TeamMemberResult\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TeamMember\";}s:4:\"type\";s:5:\"array\";}s:19:\"UntagProjectRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ProjectId\";s:11:\"description\";s:42:\"The
  ID of the project to remove tags from.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagKeys\";s:11:\"description\";s:36:\"The
  tags to remove from the project.\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"tags\";}s:4:\"type\";s:6:\"object\";}s:18:\"UntagProjectResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"UpdateProjectRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ProjectDescription\";s:11:\"description\";s:39:\"The
  description of the project, if any.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ProjectId\";s:11:\"description\";s:41:\"The
  ID of the project you want to update.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProjectName\";s:11:\"description\";s:43:\"The
  name of the project you want to update.\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:19:\"UpdateProjectResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"UpdateTeamMemberRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"projectId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ProjectId\";s:11:\"description\";s:22:\"The
  ID of the project.\";}s:11:\"projectRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Role\";s:11:\"description\";s:267:\"The
  role assigned to the user in the project. Project roles have different levels of
  access. For more information, see <a href=\"http://docs.aws.amazon.com/codestar/latest/userguide/working-with-teams.html\">Working
  with Teams</a> in the <i>AWS CodeStar User Guide</i>.\";}s:19:\"remoteAccessAllowed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/RemoteAccessAllowed\";s:11:\"description\";s:253:\"Whether
  a team member is allowed to remotely access project resources using the SSH public
  key associated with the user's profile. Even if this is set to True, the user must
  associate a public key with their profile before the user can access resources.\";}s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:98:\"The
  Amazon Resource Name (ARN) of the user for whom you want to change team membership
  attributes.\";}}s:8:\"required\";a:2:{i:0;s:9:\"projectId\";i:1;s:7:\"userArn\";}s:4:\"type\";s:6:\"object\";}s:22:\"UpdateTeamMemberResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"projectRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Role\";s:11:\"description\";s:37:\"The
  project role granted to the user.\";}s:19:\"remoteAccessAllowed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/RemoteAccessAllowed\";s:11:\"description\";s:130:\"Whether
  a team member is allowed to remotely access project resources using the SSH public
  key associated with the user's profile.\";}s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:89:\"The
  Amazon Resource Name (ARN) of the user whose team membership attributes were updated.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"UpdateUserProfileRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/UserProfileDisplayName\";s:11:\"description\";s:77:\"The
  name that is displayed as the friendly name for the user in AWS CodeStar.\";}s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Email\";s:11:\"description\";s:82:\"The
  email address that is displayed as part of the user's profile in AWS CodeStar.\";}s:12:\"sshPublicKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SshPublicKey\";s:11:\"description\";s:210:\"The
  SSH public key associated with the user in AWS CodeStar. If a project owner allows
  the user remote access to project resources, this public key will be used along
  with the user's private key for SSH access.\";}s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:82:\"The
  name that will be displayed as the friendly name for the user in AWS CodeStar.\";}}s:8:\"required\";a:1:{i:0;s:7:\"userArn\";}s:4:\"type\";s:6:\"object\";}s:23:\"UpdateUserProfileResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"createdTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CreatedTimestamp\";s:11:\"description\";s:59:\"The
  date the user profile was created, in timestamp format.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/UserProfileDisplayName\";s:11:\"description\";s:77:\"The
  name that is displayed as the friendly name for the user in AWS CodeStar.\";}s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Email\";s:11:\"description\";s:82:\"The
  email address that is displayed as part of the user's profile in AWS CodeStar.\";}s:21:\"lastModifiedTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/LastModifiedTimestamp\";s:11:\"description\";s:65:\"The
  date the user profile was last modified, in timestamp format.\";}s:12:\"sshPublicKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SshPublicKey\";s:11:\"description\";s:231:\"The
  SSH public key associated with the user in AWS CodeStar. This is the public portion
  of the public/private keypair the user can use to access project resources if a
  project owner allows the user remote access to those resources.\";}s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:50:\"The
  Amazon Resource Name (ARN) of the user in IAM.\";}}s:8:\"required\";a:1:{i:0;s:7:\"userArn\";}s:4:\"type\";s:6:\"object\";}s:7:\"UserArn\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:95;s:9:\"minLength\";i:32;s:7:\"pattern\";s:80:\"^arn:aws:iam::\\d{12}:user(?:(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F))[\\w+=,.@-]+$\";s:4:\"type\";s:6:\"string\";}s:33:\"UserProfileAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:165:\"A
  user profile with that name already exists in this region for the AWS account. AWS
  CodeStar user profile names must be unique within a region for the AWS account.
  \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"UserProfileDisplayName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:11:\"^\\S(.*\\S)?$\";s:4:\"type\";s:6:\"string\";}s:28:\"UserProfileNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  user profile was not found.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"UserProfileSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Information
  about a user's profile in AWS CodeStar.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/UserProfileDisplayName\";s:11:\"description\";s:655:\"The
  display name of a user in AWS CodeStar. For example, this could be set to both first
  and last name (\"Mary Major\") or a single name (\"Mary\"). The display name is
  also used to generate the initial icon associated with the user in AWS CodeStar
  projects. If spaces are included in the display name, the first character that appears
  after the space will be used as the second character in the user initial icon. The
  initial icon displays a maximum of two characters, so a display name with more than
  one space (for example \"Mary Jane Major\") would generate an initial icon using
  the first character and the first character after the space (\"MJ\", not \"MM\").\";}s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Email\";s:11:\"description\";s:43:\"The
  email address associated with the user.\";}s:12:\"sshPublicKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SshPublicKey\";s:11:\"description\";s:210:\"The
  SSH public key associated with the user in AWS CodeStar. If a project owner allows
  the user remote access to project resources, this public key will be used along
  with the user's private key for SSH access.\";}s:7:\"userArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/UserArn\";s:11:\"description\";s:50:\"The
  Amazon Resource Name (ARN) of the user in IAM.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"UserProfilesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/UserProfileSummary\";}s:4:\"type\";s:5:\"array\";}s:19:\"ValidationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  specified input is either not valid, or it could not be validated.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}"
...
