---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";}s:11:\"description\";s:676:\"<fullname>AWS
  IoT</fullname> <p>AWS IoT provides secure, bi-directional communication between
  Internet-connected things (such as sensors, actuators, embedded devices, or smart
  appliances) and the AWS cloud. You can discover your custom IoT-Data endpoint to
  communicate with, configure rules for data processing and integration with other
  services, organize resources associated with each thing (Thing Registry), configure
  logging, and create and manage policies and credentials to authenticate things.</p>
  <p>For more information about how AWS IoT works, see the <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/aws-iot-how-it-works.html\">Developer
  Guide</a>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:7:\"AWS
  IoT\";s:7:\"version\";s:10:\"2015-05-28\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:104:\"https://api.apis.guru/v2/cache/logo/https_media.amazonwebservices.com_blog_2007_big_pbaws_logo_300px.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:87:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iot-2015-05-28.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:3:\"iot\";}"
host: iot.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":257:{s:32:\"AcceptCertificateTransferRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  input for the AcceptCertificateTransfer operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:6:\"Action\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Describes
  the actions associated with a rule.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:15:\"cloudwatchAlarm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/CloudwatchAlarmAction\";s:11:\"description\";s:39:\"Change
  the state of a CloudWatch alarm.\";}s:16:\"cloudwatchMetric\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/CloudwatchMetricAction\";s:11:\"description\";s:28:\"Capture
  a CloudWatch metric.\";}s:8:\"dynamoDB\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DynamoDBAction\";s:11:\"description\";s:26:\"Write
  to a DynamoDB table.\";}s:10:\"dynamoDBv2\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DynamoDBv2Action\";s:11:\"description\";s:170:\"Write
  to a DynamoDB table. This is a new version of the DynamoDB action. It allows you
  to write each attribute in an MQTT message payload into a separate DynamoDB column.\";}s:13:\"elasticsearch\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ElasticsearchAction\";s:11:\"description\";s:53:\"Write
  data to an Amazon Elasticsearch Service domain.\";}s:8:\"firehose\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FirehoseAction\";s:11:\"description\";s:43:\"Write
  to an Amazon Kinesis Firehose stream.\";}s:7:\"kinesis\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/KinesisAction\";s:11:\"description\";s:39:\"Write
  data to an Amazon Kinesis stream.\";}s:6:\"lambda\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LambdaAction\";s:11:\"description\";s:25:\"Invoke
  a Lambda function.\";}s:9:\"republish\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RepublishAction\";s:11:\"description\";s:30:\"Publish
  to another MQTT topic.\";}s:2:\"s3\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/S3Action\";s:11:\"description\";s:29:\"Write
  to an Amazon S3 bucket.\";}s:10:\"salesforce\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SalesforceAction\";s:11:\"description\";s:54:\"Send
  a message to a Salesforce IoT Cloud Input Stream.\";}s:3:\"sns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SnsAction\";s:11:\"description\";s:31:\"Publish
  to an Amazon SNS topic.\";}s:3:\"sqs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SqsAction\";s:11:\"description\";s:31:\"Publish
  to an Amazon SQS queue.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ActionList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Action\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:9:\"AlarmName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"AllowAutoRegistration\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"AscendingOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:28:\"AttachPrincipalPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  input for the AttachPrincipalPolicy operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"AttachThingPrincipalRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  input for the AttachThingPrincipal operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"AttachThingPrincipalResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  output from the AttachThingPrincipal operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"AttributeName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:7:\"pattern\";s:20:\"[a-zA-Z0-9_.,@/:#-]+\";s:4:\"type\";s:6:\"string\";}s:16:\"AttributePayload\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  attribute payload.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:152:\"<p>A
  JSON string containing up to three key-value pair in JSON format. For example:</p>
  <p> <code>{\\\"attributes\\\":{\\\"string1\\\":\\\"string2\\\"}}</code> </p>\";}s:5:\"merge\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Flag\";s:11:\"description\";s:376:\"<p>Specifies
  whether the list of attributes provided in the <code>AttributePayload</code> is
  merged with the attributes stored in the registry, instead of overwriting them.</p>
  <p>To remove an attribute, call <code>UpdateThing</code> with an empty attribute
  value.</p> <note> <p>The <code>merge</code> attribute is only valid when calling
  <code>UpdateThing</code>.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AttributeValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:174:\"An
  attribute value for an Thing. An empty or null value in Update means that existing
  value for that attribute should be deleted. Empty and null values in create are
  ignored.\";s:9:\"maxLength\";i:800;s:7:\"pattern\";s:20:\"[a-zA-Z0-9_.,@/:#-]*\";s:4:\"type\";s:6:\"string\";}s:10:\"Attributes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeName\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AttributeValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:22:\"AutoRegistrationStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"ENABLE\";i:1;s:7:\"DISABLE\";}s:4:\"type\";s:6:\"string\";}s:12:\"AwsAccountId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:9:\"[0-9]{12}\";s:4:\"type\";s:6:\"string\";}s:6:\"AwsArn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"AwsIotSqlVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"BucketName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"CACertificate\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"A
  CA certificate.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"certificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificateArn\";s:11:\"description\";s:30:\"The
  ARN of the CA certificate.\";}s:13:\"certificateId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CertificateId\";s:11:\"description\";s:29:\"The
  ID of the CA certificate.\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:40:\"The
  date the CA certificate was created.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/CACertificateStatus\";s:11:\"description\";s:120:\"<p>The
  status of the CA certificate.</p> <p>The status value REGISTER_INACTIVE is deprecated
  and should not be used.</p>\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CACertificateDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Describes
  a CA certificate.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:22:\"autoRegistrationStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/AutoRegistrationStatus\";s:11:\"description\";s:123:\"Whether
  the CA certificate configured for auto registration of device certificates. Valid
  values are \"ENABLE\" and \"DISABLE\"\";}s:14:\"certificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificateArn\";s:11:\"description\";s:23:\"The
  CA certificate ARN.\";}s:13:\"certificateId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CertificateId\";s:11:\"description\";s:22:\"The
  CA certificate ID.\";}s:14:\"certificatePem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificatePem\";s:11:\"description\";s:39:\"The
  CA certificate data, in PEM format.\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:40:\"The
  date the CA certificate was created.\";}s:7:\"ownedBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AwsAccountId\";s:11:\"description\";s:32:\"The
  owner of the CA certificate.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/CACertificateStatus\";s:11:\"description\";s:31:\"The
  status of a CA certificate.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CACertificateStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"ACTIVE\";i:1;s:8:\"INACTIVE\";}s:4:\"type\";s:6:\"string\";}s:14:\"CACertificates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CACertificate\";}s:4:\"type\";s:5:\"array\";}s:32:\"CancelCertificateTransferRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  input for the CancelCertificateTransfer operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"CannedAccessControlList\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:7:\"private\";i:1;s:11:\"public-read\";i:2;s:17:\"public-read-write\";i:3;s:13:\"aws-exec-read\";i:4;s:18:\"authenticated-read\";i:5;s:17:\"bucket-owner-read\";i:6;s:25:\"bucket-owner-full-control\";i:7;s:18:\"log-delivery-write\";}s:4:\"type\";s:6:\"string\";}s:11:\"Certificate\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Information
  about a certificate.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"certificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificateArn\";s:11:\"description\";s:27:\"The
  ARN of the certificate.\";}s:13:\"certificateId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CertificateId\";s:11:\"description\";s:26:\"The
  ID of the certificate.\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:46:\"The
  date and time the certificate was created.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CertificateStatus\";s:11:\"description\";s:117:\"<p>The
  status of the certificate.</p> <p>The status value REGISTER_INACTIVE is deprecated
  and should not be used.</p>\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CertificateArn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"CertificateConflictException\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"Unable
  to verify the CA certificate used to sign the device certificate you are attempting
  to register. This is happens when you have registered more than one CA certificate
  that has the same subject field and public key.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CertificateDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Describes
  a certificate.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:15:\"caCertificateId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CertificateId\";s:11:\"description\";s:71:\"The
  certificate ID of the CA certificate used to sign this certificate.\";}s:14:\"certificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificateArn\";s:11:\"description\";s:27:\"The
  ARN of the certificate.\";}s:13:\"certificateId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CertificateId\";s:11:\"description\";s:26:\"The
  ID of the certificate.\";}s:14:\"certificatePem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificatePem\";s:11:\"description\";s:36:\"The
  certificate data, in PEM format.\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:46:\"The
  date and time the certificate was created.\";}s:16:\"lastModifiedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:52:\"The
  date and time the certificate was last modified.\";}s:7:\"ownedBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AwsAccountId\";s:11:\"description\";s:52:\"The
  ID of the AWS account that owns the certificate.\";}s:15:\"previousOwnedBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AwsAccountId\";s:11:\"description\";s:67:\"The
  ID of the AWS account of the previous owner of the certificate.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CertificateStatus\";s:11:\"description\";s:30:\"The
  status of the certificate.\";}s:12:\"transferData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TransferData\";s:11:\"description\";s:18:\"The
  transfer data.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CertificateId\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:64;s:7:\"pattern\";s:17:\"(0x)?[a-fA-F0-9]+\";s:4:\"type\";s:6:\"string\";}s:14:\"CertificatePem\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:65536;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:25:\"CertificateSigningRequest\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:25:\"CertificateStateException\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  certificate operation is not allowed.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CertificateStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:6:\"ACTIVE\";i:1;s:8:\"INACTIVE\";i:2;s:7:\"REVOKED\";i:3;s:16:\"PENDING_TRANSFER\";i:4;s:17:\"REGISTER_INACTIVE\";i:5;s:18:\"PENDING_ACTIVATION\";}s:4:\"type\";s:6:\"string\";}s:30:\"CertificateValidationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  certificate is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:43:\"Additional
  information about the exception.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Certificates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Certificate\";}s:4:\"type\";s:5:\"array\";}s:8:\"ClientId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"CloudwatchAlarmAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Describes
  an action that updates a CloudWatch alarm.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"alarmName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AlarmName\";s:11:\"description\";s:26:\"The
  CloudWatch alarm name.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/AwsArn\";s:11:\"description\";s:56:\"The
  IAM role that allows access to the CloudWatch alarm.\";}s:11:\"stateReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StateReason\";s:11:\"description\";s:32:\"The
  reason for the alarm change.\";}s:10:\"stateValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StateValue\";s:11:\"description\";s:82:\"The
  value of the alarm state. Acceptable values are: OK, ALARM, INSUFFICIENT_DATA.\";}}s:8:\"required\";a:4:{i:0;s:7:\"roleArn\";i:1;s:9:\"alarmName\";i:2;s:11:\"stateReason\";i:3;s:10:\"stateValue\";}s:4:\"type\";s:6:\"object\";}s:22:\"CloudwatchMetricAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Describes
  an action that captures a CloudWatch metric.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"metricName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:27:\"The
  CloudWatch metric name.\";}s:15:\"metricNamespace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MetricNamespace\";s:11:\"description\";s:37:\"The
  CloudWatch metric namespace name.\";}s:15:\"metricTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MetricTimestamp\";s:11:\"description\";s:148:\"An
  optional <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/cloudwatch_concepts.html#about_timestamp\">Unix
  timestamp</a>.\";}s:10:\"metricUnit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricUnit\";s:11:\"description\";s:150:\"The
  <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/cloudwatch_concepts.html#Unit\">metric
  unit</a> supported by CloudWatch.\";}s:11:\"metricValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:28:\"The
  CloudWatch metric value.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/AwsArn\";s:11:\"description\";s:57:\"The
  IAM role that allows access to the CloudWatch metric.\";}}s:8:\"required\";a:5:{i:0;s:7:\"roleArn\";i:1;s:15:\"metricNamespace\";i:2;s:10:\"metricName\";i:3;s:11:\"metricValue\";i:4;s:10:\"metricUnit\";}s:4:\"type\";s:6:\"object\";}s:31:\"CreateCertificateFromCsrRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"The
  input for the CreateCertificateFromCsr operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:25:\"certificateSigningRequest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/CertificateSigningRequest\";s:11:\"description\";s:38:\"The
  certificate signing request (CSR).\";}}s:8:\"required\";a:1:{i:0;s:25:\"certificateSigningRequest\";}s:4:\"type\";s:6:\"object\";}s:32:\"CreateCertificateFromCsrResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  output from the CreateCertificateFromCsr operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"certificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificateArn\";s:11:\"description\";s:108:\"The
  Amazon Resource Name (ARN) of the certificate. You can use the ARN as a principal
  for policy operations.\";}s:13:\"certificateId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CertificateId\";s:11:\"description\";s:87:\"The
  ID of the certificate. Certificate management operations only take a certificateId.\";}s:14:\"certificatePem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificatePem\";s:11:\"description\";s:36:\"The
  certificate data, in PEM format.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CreateKeysAndCertificateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  input for the CreateKeysAndCertificate operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"CreateKeysAndCertificateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  output of the CreateKeysAndCertificate operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"certificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificateArn\";s:11:\"description\";s:27:\"The
  ARN of the certificate.\";}s:13:\"certificateId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CertificateId\";s:11:\"description\";s:120:\"The
  ID of the certificate. AWS IoT issues a default subject name for the certificate
  (for example, AWS IoT Certificate).\";}s:14:\"certificatePem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificatePem\";s:11:\"description\";s:36:\"The
  certificate data, in PEM format.\";}s:7:\"keyPair\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/KeyPair\";s:11:\"description\";s:23:\"The
  generated key pair.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreatePolicyRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  input for the CreatePolicy operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"policyDocument\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyDocument\";s:11:\"description\";s:152:\"The
  JSON document that describes the policy. <b>policyDocument</b> must have a minimum
  length of 1, with a maximum length of 2048, excluding whitespace.\";}}s:8:\"required\";a:1:{i:0;s:14:\"policyDocument\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreatePolicyResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  output from the CreatePolicy operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"policyArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PolicyArn\";s:11:\"description\";s:15:\"The
  policy ARN.\";}s:14:\"policyDocument\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyDocument\";s:11:\"description\";s:44:\"The
  JSON document that describes the policy.\";}s:10:\"policyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PolicyName\";s:11:\"description\";s:16:\"The
  policy name.\";}s:15:\"policyVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PolicyVersionId\";s:11:\"description\";s:22:\"The
  policy version ID.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"CreatePolicyVersionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  input for the CreatePolicyVersion operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"policyDocument\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyDocument\";s:11:\"description\";s:111:\"The
  JSON document that describes the policy. Minimum length of 1. Maximum length of
  2048, excluding whitespaces\";}}s:8:\"required\";a:1:{i:0;s:14:\"policyDocument\";}s:4:\"type\";s:6:\"object\";}s:27:\"CreatePolicyVersionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  output of the CreatePolicyVersion operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"isDefaultVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IsDefaultVersion\";s:11:\"description\";s:52:\"Specifies
  whether the policy version is the default.\";}s:9:\"policyArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PolicyArn\";s:11:\"description\";s:15:\"The
  policy ARN.\";}s:14:\"policyDocument\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyDocument\";s:11:\"description\";s:44:\"The
  JSON document that describes the policy.\";}s:15:\"policyVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PolicyVersionId\";s:11:\"description\";s:22:\"The
  policy version ID.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateThingRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  input for the CreateThing operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"attributePayload\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AttributePayload\";s:11:\"description\";s:174:\"<p>The
  attribute payload, which consists of up to three name/value pairs in a JSON document.
  For example:</p> <p> <code>{\\\"attributes\\\":{\\\"string1\\\":\\\"string2\\\"}}</code>
  </p>\";}s:13:\"thingTypeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ThingTypeName\";s:11:\"description\";s:57:\"The
  name of the thing type associated with the new thing.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateThingResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  output of the CreateThing operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"thingArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ThingArn\";s:11:\"description\";s:25:\"The
  ARN of the new thing.\";}s:9:\"thingName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ThingName\";s:11:\"description\";s:26:\"The
  name of the new thing.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CreateThingTypeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  input for the CreateThingType operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"thingTypeProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ThingTypeProperties\";s:11:\"description\";s:175:\"The
  ThingTypeProperties for the thing type to create. It contains information about
  the new thing type including a description, and a list of searchable thing attribute
  names.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreateThingTypeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  output of the CreateThingType operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"thingTypeArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ThingTypeArn\";s:11:\"description\";s:49:\"The
  Amazon Resource Name (ARN) of the thing type.\";}s:13:\"thingTypeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ThingTypeName\";s:11:\"description\";s:27:\"The
  name of the thing type.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CreateTopicRuleRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"The
  input for the CreateTopicRule operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"topicRulePayload\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TopicRulePayload\";s:11:\"description\";s:17:\"The
  rule payload.\";}}s:8:\"required\";a:1:{i:0;s:16:\"topicRulePayload\";}s:4:\"type\";s:6:\"object\";}s:13:\"CreatedAtDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"DateType\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:26:\"DeleteCACertificateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Input
  for the DeleteCACertificate operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteCACertificateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  output for the DeleteCACertificate operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteCertificateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  input for the DeleteCertificate operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteConflictException\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"You
  can't delete the resource because it is attached to one or more resources.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DeletePolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  input for the DeletePolicy operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"DeletePolicyVersionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  input for the DeletePolicyVersion operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteRegistrationCodeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  input for the DeleteRegistrationCode operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"DeleteRegistrationCodeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  output for the DeleteRegistrationCode operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteThingRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  input for the DeleteThing operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteThingResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  output of the DeleteThing operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteThingTypeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  input for the DeleteThingType operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteThingTypeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  output for the DeleteThingType operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteTopicRuleRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  input for the DeleteTopicRule operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DeliveryStreamName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"DeprecateThingTypeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  input for the DeprecateThingType operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"undoDeprecate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UndoDeprecate\";s:11:\"description\";s:147:\"Whether
  to undeprecate a deprecated thing type. If <b>true</b>, the thing type will not
  be deprecated anymore and you can associate it with things.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DeprecateThingTypeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  output for the DeprecateThingType operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"DeprecationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:28:\"DescribeCACertificateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  input for the DescribeCACertificate operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeCACertificateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  output from the DescribeCACertificate operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"certificateDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CACertificateDescription\";s:11:\"description\";s:31:\"The
  CA certificate description.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeCertificateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  input for the DescribeCertificate operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeCertificateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  output of the DescribeCertificate operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"certificateDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/CertificateDescription\";s:11:\"description\";s:35:\"The
  description of the certificate.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeEndpointRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  input for the DescribeEndpoint operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeEndpointResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  output from the DescribeEndpoint operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"endpointAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/EndpointAddress\";s:11:\"description\";s:106:\"The
  endpoint. The format of the endpoint is as follows: <i>identifier</i>.iot.<i>region</i>.amazonaws.com.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeThingRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  input for the DescribeThing operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeThingResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  output from the DescribeThing operation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:21:\"The
  thing attributes.\";}s:15:\"defaultClientId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ClientId\";s:11:\"description\";s:22:\"The
  default client ID.\";}s:9:\"thingName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ThingName\";s:11:\"description\";s:22:\"The
  name of the thing.\";}s:13:\"thingTypeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ThingTypeName\";s:11:\"description\";s:20:\"The
  thing type name.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:303:\"<p>The
  current version of the thing record in the registry.</p> <note> <p>To avoid unintentional
  changes to the information in the registry, you can pass the version information
  in the <code>expectedVersion</code> parameter of the <code>UpdateThing</code> and
  <code>DeleteThing</code> calls.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeThingTypeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  input for the DescribeThingType operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeThingTypeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  output for the DescribeThingType operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"thingTypeMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ThingTypeMetadata\";s:11:\"description\";s:210:\"The
  ThingTypeMetadata contains additional information about the thing type including:
  creation date and time, a value indicating whether the thing type is deprecated,
  and a date and time when it was deprecated.\";}s:13:\"thingTypeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ThingTypeName\";s:11:\"description\";s:27:\"The
  name of the thing type.\";}s:19:\"thingTypeProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ThingTypeProperties\";s:11:\"description\";s:136:\"The
  ThingTypeProperties contains information about the thing type including description,
  and a list of searchable thing attribute names.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"DetachPrincipalPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  input for the DetachPrincipalPolicy operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"DetachThingPrincipalRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  input for the DetachThingPrincipal operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"DetachThingPrincipalResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  output from the DetachThingPrincipal operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DisableTopicRuleRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  input for the DisableTopicRuleRequest operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"DynamoDBAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:780:\"<p>Describes
  an action to write to a DynamoDB table.</p> <p>The <code>tableName</code>, <code>hashKeyField</code>,
  and <code>rangeKeyField</code> values must match the values used when you created
  the table.</p> <p>The <code>hashKeyValue</code> and <code>rangeKeyvalue</code> fields
  use a substitution template syntax. These templates provide data at runtime. The
  syntax is as follows: ${<i>sql-expression</i>}.</p> <p>You can specify any valid
  expression in a WHERE or SELECT clause, including JSON properties, comparisons,
  calculations, and functions. For example, the following field uses the third level
  of the topic:</p> <p> <code>\"hashKeyValue\": \"${topic(3)}\"</code> </p> <p>The
  following field uses the timestamp:</p> <p> <code>\"rangeKeyValue\": \"${timestamp()}\"</code>
  </p>\";s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"hashKeyField\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/HashKeyField\";s:11:\"description\";s:18:\"The
  hash key name.\";}s:11:\"hashKeyType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DynamoKeyType\";s:11:\"description\";s:56:\"The
  hash key type. Valid values are \"STRING\" or \"NUMBER\"\";}s:12:\"hashKeyValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/HashKeyValue\";s:11:\"description\";s:19:\"The
  hash key value.\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DynamoOperation\";s:11:\"description\";s:242:\"The
  type of operation to be performed. This follows the substitution template, so it
  can be <code>${operation}</code>, but the substitution must result in one of the
  following: <code>INSERT</code>, <code>UPDATE</code>, or <code>DELETE</code>.\";}s:12:\"payloadField\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PayloadField\";s:11:\"description\";s:48:\"The
  action payload. This name can be customized.\";}s:13:\"rangeKeyField\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RangeKeyField\";s:11:\"description\";s:19:\"The
  range key name.\";}s:12:\"rangeKeyType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DynamoKeyType\";s:11:\"description\";s:57:\"The
  range key type. Valid values are \"STRING\" or \"NUMBER\"\";}s:13:\"rangeKeyValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RangeKeyValue\";s:11:\"description\";s:20:\"The
  range key value.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/AwsArn\";s:11:\"description\";s:65:\"The
  ARN of the IAM role that grants access to the DynamoDB table.\";}s:9:\"tableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";s:11:\"description\";s:31:\"The
  name of the DynamoDB table.\";}}s:8:\"required\";a:4:{i:0;s:9:\"tableName\";i:1;s:7:\"roleArn\";i:2;s:12:\"hashKeyField\";i:3;s:12:\"hashKeyValue\";}s:4:\"type\";s:6:\"object\";}s:16:\"DynamoDBv2Action\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"<p>Describes
  an action to write to a DynamoDB table.</p> <p>This DynamoDB action writes each
  attribute in the message payload into it's own column in the DynamoDB table.</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"putItem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PutItemInput\";s:11:\"description\";s:320:\"<p>Specifies
  the DynamoDB table to which the message data will be written. For example:</p> <p>
  <code>{ \"dynamoDBv2\": { \"roleArn\": \"aws:iam:12341251:my-role\" \"putItem\":
  { \"tableName\": \"my-table\" } } }</code> </p> <p>Each attribute in the message
  payload will be written to a separate column in the DynamoDB database.</p>\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/AwsArn\";s:11:\"description\";s:65:\"The
  ARN of the IAM role that grants access to the DynamoDB table.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DynamoKeyType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"STRING\";i:1;s:6:\"NUMBER\";}s:4:\"type\";s:6:\"string\";}s:15:\"DynamoOperation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"ElasticsearchAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:79:\"Describes
  an action that writes data to an Amazon Elasticsearch Service domain.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"endpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ElasticsearchEndpoint\";s:11:\"description\";s:42:\"The
  endpoint of your Elasticsearch domain.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ElasticsearchId\";s:11:\"description\";s:55:\"The
  unique identifier for the document you are storing.\";}s:5:\"index\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ElasticsearchIndex\";s:11:\"description\";s:58:\"The
  Elasticsearch index where you want to store your data.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/AwsArn\";s:11:\"description\";s:50:\"The
  IAM role ARN that has access to Elasticsearch.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ElasticsearchType\";s:11:\"description\";s:37:\"The
  type of document you are storing.\";}}s:8:\"required\";a:5:{i:0;s:7:\"roleArn\";i:1;s:8:\"endpoint\";i:2;s:5:\"index\";i:3;s:4:\"type\";i:4;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:21:\"ElasticsearchEndpoint\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:11:\"https?://.*\";s:4:\"type\";s:6:\"string\";}s:15:\"ElasticsearchId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"ElasticsearchIndex\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ElasticsearchType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"EnableTopicRuleRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  input for the EnableTopicRuleRequest operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"EndpointAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"FirehoseAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Describes
  an action that writes data to an Amazon Kinesis Firehose stream.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"deliveryStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryStreamName\";s:11:\"description\";s:25:\"The
  delivery stream name.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/AwsArn\";s:11:\"description\";s:70:\"The
  IAM role that grants access to the Amazon Kinesis Firehost stream.\";}s:9:\"separator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/FirehoseSeparator\";s:11:\"description\";s:176:\"A
  character separator that will be used to separate records written to the Firehose
  stream. Valid values are: '\\n' (newline), '\\t' (tab), '\\r\\n' (Windows newline),
  ',' (comma).\";}}s:8:\"required\";a:2:{i:0;s:7:\"roleArn\";i:1;s:18:\"deliveryStreamName\";}s:4:\"type\";s:6:\"object\";}s:17:\"FirehoseSeparator\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:19:\"([\\n\\t])|(\\r\\n)|(,)\";s:4:\"type\";s:6:\"string\";}s:4:\"Flag\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"FunctionArn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"GetLoggingOptionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  input for the GetLoggingOptions operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"GetLoggingOptionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  output from the GetLoggingOptions operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"logLevel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LogLevel\";s:11:\"description\";s:18:\"The
  logging level.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/AwsArn\";s:11:\"description\";s:43:\"The
  ARN of the IAM role that grants access.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GetPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  input for the GetPolicy operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"GetPolicyResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  output from the GetPolicy operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"defaultVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PolicyVersionId\";s:11:\"description\";s:30:\"The
  default policy version ID.\";}s:9:\"policyArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PolicyArn\";s:11:\"description\";s:15:\"The
  policy ARN.\";}s:14:\"policyDocument\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyDocument\";s:11:\"description\";s:44:\"The
  JSON document that describes the policy.\";}s:10:\"policyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PolicyName\";s:11:\"description\";s:16:\"The
  policy name.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"GetPolicyVersionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  input for the GetPolicyVersion operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"GetPolicyVersionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  output from the GetPolicyVersion operation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"isDefaultVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IsDefaultVersion\";s:11:\"description\";s:52:\"Specifies
  whether the policy version is the default.\";}s:9:\"policyArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PolicyArn\";s:11:\"description\";s:15:\"The
  policy ARN.\";}s:14:\"policyDocument\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyDocument\";s:11:\"description\";s:44:\"The
  JSON document that describes the policy.\";}s:10:\"policyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PolicyName\";s:11:\"description\";s:16:\"The
  policy name.\";}s:15:\"policyVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PolicyVersionId\";s:11:\"description\";s:22:\"The
  policy version ID.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"GetRegistrationCodeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  input to the GetRegistrationCode operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"GetRegistrationCodeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  output from the GetRegistrationCode operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"registrationCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RegistrationCode\";s:11:\"description\";s:37:\"The
  CA certificate registration code.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetTopicRuleRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  input for the GetTopicRule operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"GetTopicRuleResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  output from the GetTopicRule operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"rule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TopicRule\";s:11:\"description\";s:9:\"The
  rule.\";}s:7:\"ruleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RuleArn\";s:11:\"description\";s:13:\"The
  rule ARN.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"HashKeyField\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"HashKeyValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"InternalException\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"An
  unexpected error has occurred.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"InternalFailureException\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"An
  unexpected error has occurred.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InvalidRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  request is not valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"IsDefaultVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"IsDisabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"Key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"KeyPair\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Describes
  a key pair.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"PrivateKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PrivateKey\";s:11:\"description\";s:16:\"The
  private key.\";}s:9:\"PublicKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PublicKey\";s:11:\"description\";s:15:\"The
  public key.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"KinesisAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Describes
  an action to write data to an Amazon Kinesis stream.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"partitionKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PartitionKey\";s:11:\"description\";s:18:\"The
  partition key.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/AwsArn\";s:11:\"description\";s:72:\"The
  ARN of the IAM role that grants access to the Amazon Kinesis stream.\";}s:10:\"streamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StreamName\";s:11:\"description\";s:38:\"The
  name of the Amazon Kinesis stream.\";}}s:8:\"required\";a:2:{i:0;s:7:\"roleArn\";i:1;s:10:\"streamName\";}s:4:\"type\";s:6:\"object\";}s:12:\"LambdaAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Describes
  an action to invoke a Lambda function.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"functionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FunctionArn\";s:11:\"description\";s:31:\"The
  ARN of the Lambda function.\";}}s:8:\"required\";a:1:{i:0;s:11:\"functionArn\";}s:4:\"type\";s:6:\"object\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  number of attached entities exceeds the limit.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListCACertificatesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Input
  for the ListCACertificates operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"ListCACertificatesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  output from the ListCACertificates operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"certificates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CACertificates\";s:11:\"description\";s:51:\"The
  CA certificates registered in your AWS account.\";}s:10:\"nextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:56:\"The
  current position within the list of CA certificates.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ListCertificatesByCARequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  input to the ListCertificatesByCA operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"ListCertificatesByCAResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  output of the ListCertificatesByCA operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"certificates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Certificates\";s:11:\"description\";s:63:\"The
  device certificates signed by the specified CA certificate.\";}s:10:\"nextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:83:\"The
  marker for the next set of results, or null if there are no additional results.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListCertificatesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  input for the ListCertificates operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"ListCertificatesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  output of the ListCertificates operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"certificates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Certificates\";s:11:\"description\";s:37:\"The
  descriptions of the certificates.\";}s:10:\"nextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:83:\"The
  marker for the next set of results, or null if there are no additional results.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ListOutgoingCertificatesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  input to the ListOutgoingCertificates operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"ListOutgoingCertificatesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  output from the ListOutgoingCertificates operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"nextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:39:\"The
  marker for the next set of results.\";}s:20:\"outgoingCertificates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/OutgoingCertificates\";s:11:\"description\";s:64:\"The
  certificates that are being transfered but not yet accepted.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListPoliciesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  input for the ListPolicies operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"ListPoliciesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  output from the ListPolicies operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"nextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:83:\"The
  marker for the next set of results, or null if there are no additional results.\";}s:8:\"policies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Policies\";s:11:\"description\";s:33:\"The
  descriptions of the policies.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ListPolicyPrincipalsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  input for the ListPolicyPrincipals operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"ListPolicyPrincipalsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  output from the ListPolicyPrincipals operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"nextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:83:\"The
  marker for the next set of results, or null if there are no additional results.\";}s:10:\"principals\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Principals\";s:11:\"description\";s:35:\"The
  descriptions of the principals.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListPolicyVersionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  input for the ListPolicyVersions operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"ListPolicyVersionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  output from the ListPolicyVersions operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"policyVersions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyVersions\";s:11:\"description\";s:20:\"The
  policy versions.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ListPrincipalPoliciesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  input for the ListPrincipalPolicies operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"ListPrincipalPoliciesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  output from the ListPrincipalPolicies operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"nextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";s:11:\"description\";s:83:\"The
  marker for the next set of results, or null if there are no additional results.\";}s:8:\"policies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Policies\";s:11:\"description\";s:13:\"The
  policies.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListPrincipalThingsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  input for the ListPrincipalThings operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"ListPrincipalThingsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  output from the ListPrincipalThings operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:89:\"The
  token for the next set of results, or <b>null</b> if there are no additional results.\";}s:6:\"things\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ThingNameList\";s:11:\"description\";s:11:\"The
  things.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListThingPrincipalsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  input for the ListThingPrincipal operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"ListThingPrincipalsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  output from the ListThingPrincipals operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"principals\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Principals\";s:11:\"description\";s:41:\"The
  principals associated with the thing.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListThingTypesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  input for the ListThingTypes operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"ListThingTypesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  output for the ListThingTypes operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:89:\"The
  token for the next set of results, or <b>null</b> if there are no additional results.\";}s:10:\"thingTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ThingTypeList\";s:11:\"description\";s:16:\"The
  thing types.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListThingsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  input for the ListThings operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"ListThingsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  output from the ListThings operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:89:\"The
  token for the next set of results, or <b>null</b> if there are no additional results.\";}s:6:\"things\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ThingAttributeList\";s:11:\"description\";s:11:\"The
  things.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListTopicRulesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  input for the ListTopicRules operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"ListTopicRulesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  output from the ListTopicRules operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:40:\"A
  token used to retrieve the next value.\";}s:5:\"rules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TopicRuleList\";s:11:\"description\";s:10:\"The
  rules.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"LogLevel\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:5:\"DEBUG\";i:1;s:4:\"INFO\";i:2;s:5:\"ERROR\";i:3;s:4:\"WARN\";i:4;s:8:\"DISABLED\";}s:4:\"type\";s:6:\"string\";}s:21:\"LoggingOptionsPayload\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Describes
  the logging options payload.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"logLevel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/LogLevel\";s:11:\"description\";s:18:\"The
  logging level.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/AwsArn\";s:11:\"description\";s:43:\"The
  ARN of the IAM role that grants access.\";}}s:8:\"required\";a:1:{i:0;s:7:\"roleArn\";}s:4:\"type\";s:6:\"object\";}s:24:\"MalformedPolicyException\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  policy documentation is not valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Marker\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:10000;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:128;s:4:\"type\";s:6:\"string\";}s:13:\"MessageFormat\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:3:\"RAW\";i:1;s:4:\"JSON\";}s:4:\"type\";s:6:\"string\";}s:10:\"MetricName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"MetricNamespace\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"MetricTimestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"MetricUnit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"MetricValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"OptionalVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"OutgoingCertificate\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"A
  certificate that has been transfered but not yet accepted.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"certificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificateArn\";s:11:\"description\";s:20:\"The
  certificate ARN.\";}s:13:\"certificateId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CertificateId\";s:11:\"description\";s:19:\"The
  certificate ID.\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:30:\"The
  certificate creation date.\";}s:12:\"transferDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:36:\"The
  date the transfer was initiated.\";}s:15:\"transferMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:21:\"The
  transfer message.\";}s:13:\"transferredTo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AwsAccountId\";s:11:\"description\";s:47:\"The
  AWS account to which the transfer was made.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"OutgoingCertificates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/OutgoingCertificate\";}s:4:\"type\";s:5:\"array\";}s:8:\"PageSize\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:250;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:12:\"PartitionKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"PayloadField\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Policies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Policy\";}s:4:\"type\";s:5:\"array\";}s:6:\"Policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Describes
  an AWS IoT policy.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"policyArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PolicyArn\";s:11:\"description\";s:15:\"The
  policy ARN.\";}s:10:\"policyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PolicyName\";s:11:\"description\";s:16:\"The
  policy name.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"PolicyArn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"PolicyDocument\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"PolicyName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:11:\"[\\w+=,.@-]+\";s:4:\"type\";s:6:\"string\";}s:13:\"PolicyVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Describes
  a policy version.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"createDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:41:\"The
  date and time the policy was created.\";}s:16:\"isDefaultVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IsDefaultVersion\";s:11:\"description\";s:52:\"Specifies
  whether the policy version is the default.\";}s:9:\"versionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PolicyVersionId\";s:11:\"description\";s:22:\"The
  policy version ID.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"PolicyVersionId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:6:\"[0-9]+\";s:4:\"type\";s:6:\"string\";}s:14:\"PolicyVersions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PolicyVersion\";}s:4:\"type\";s:5:\"array\";}s:9:\"Principal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"PrincipalArn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Principals\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PrincipalArn\";}s:4:\"type\";s:5:\"array\";}s:10:\"PrivateKey\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"password\";s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:9:\"PublicKey\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:12:\"PutItemInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:116:\"The
  input for the DynamoActionVS action that specifies the DynamoDB table to which the
  message data will be written.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"tableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TableName\";s:11:\"description\";s:48:\"The
  table where the message data will be written\";}}s:8:\"required\";a:1:{i:0;s:9:\"tableName\";}s:4:\"type\";s:6:\"object\";}s:8:\"QueueUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"RangeKeyField\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"RangeKeyValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"RegisterCACertificateRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  input to the RegisterCACertificate operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"caCertificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificatePem\";s:11:\"description\";s:19:\"The
  CA certificate.\";}s:23:\"verificationCertificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificatePem\";s:11:\"description\";s:41:\"The
  private key verification certificate.\";}}s:8:\"required\";a:2:{i:0;s:13:\"caCertificate\";i:1;s:23:\"verificationCertificate\";}s:4:\"type\";s:6:\"object\";}s:29:\"RegisterCACertificateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  output from the RegisterCACertificateResponse operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"certificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificateArn\";s:11:\"description\";s:23:\"The
  CA certificate ARN.\";}s:13:\"certificateId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CertificateId\";s:11:\"description\";s:30:\"The
  CA certificate identifier.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"RegisterCertificateRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  input to the RegisterCertificate operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"caCertificatePem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificatePem\";s:11:\"description\";s:72:\"The
  CA certificate used to sign the device certificate being registered.\";}s:14:\"certificatePem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificatePem\";s:11:\"description\";s:36:\"The
  certificate data, in PEM format.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CertificateStatus\";s:11:\"description\";s:47:\"The
  status of the register certificate request.\";}}s:8:\"required\";a:1:{i:0;s:14:\"certificatePem\";}s:4:\"type\";s:6:\"object\";}s:27:\"RegisterCertificateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  output from the RegisterCertificate operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"certificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificateArn\";s:11:\"description\";s:20:\"The
  certificate ARN.\";}s:13:\"certificateId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CertificateId\";s:11:\"description\";s:27:\"The
  certificate identifier.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"RegistrationCode\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:64;s:7:\"pattern\";s:17:\"(0x)?[a-fA-F0-9]+\";s:4:\"type\";s:6:\"string\";}s:35:\"RegistrationCodeValidationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  registration code is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:43:\"Additional
  information about the exception.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"RegistryMaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:250;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:32:\"RejectCertificateTransferRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  input for the RejectCertificateTransfer operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"rejectReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:49:\"The
  reason the certificate transfer was rejected.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RemoveThingType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:23:\"ReplaceTopicRuleRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  input for the ReplaceTopicRule operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"topicRulePayload\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TopicRulePayload\";s:11:\"description\";s:17:\"The
  rule payload.\";}}s:8:\"required\";a:1:{i:0;s:16:\"topicRulePayload\";}s:4:\"type\";s:6:\"object\";}s:15:\"RepublishAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Describes
  an action to republish to another topic.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/AwsArn\";s:11:\"description\";s:43:\"The
  ARN of the IAM role that grants access.\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TopicPattern\";s:11:\"description\";s:27:\"The
  name of the MQTT topic.\";}}s:8:\"required\";a:2:{i:0;s:7:\"roleArn\";i:1;s:5:\"topic\";}s:4:\"type\";s:6:\"object\";}s:30:\"ResourceAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  resource already exists.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}s:11:\"resourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/resourceArn\";s:11:\"description\";s:50:\"The
  ARN of the resource that caused the exception.\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/resourceId\";s:11:\"description\";s:49:\"The
  ID of the resource that caused the exception.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  specified resource does not exist.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"RuleArn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"RuleName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:15:\"^[a-zA-Z0-9_]+$\";s:4:\"type\";s:6:\"string\";}s:8:\"S3Action\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Describes
  an action to write data to an Amazon S3 bucket.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"bucketName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BucketName\";s:11:\"description\";s:21:\"The
  Amazon S3 bucket.\";}s:9:\"cannedAcl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/CannedAccessControlList\";s:11:\"description\";s:221:\"The
  Amazon S3 canned ACL that controls access to the object identified by the object
  key. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html#canned-acl\">S3
  canned ACLs</a>.\";}s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Key\";s:11:\"description\";s:15:\"The
  object key.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/AwsArn\";s:11:\"description\";s:43:\"The
  ARN of the IAM role that grants access.\";}}s:8:\"required\";a:3:{i:0;s:7:\"roleArn\";i:1;s:10:\"bucketName\";i:2;s:3:\"key\";}s:4:\"type\";s:6:\"object\";}s:3:\"SQL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"SalesforceAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"Describes
  an action to write a message to a Salesforce IoT Cloud Input Stream.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"token\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SalesforceToken\";s:11:\"description\";s:177:\"The
  token used to authenticate access to the Salesforce IoT Cloud Input Stream. The
  token is available from the Salesforce IoT Cloud platform after creation of the
  Input Stream.\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SalesforceEndpoint\";s:11:\"description\";s:153:\"The
  URL exposed by the Salesforce IoT Cloud Input Stream. The URL is available from
  the Salesforce IoT Cloud platform after creation of the Input Stream.\";}}s:8:\"required\";a:2:{i:0;s:5:\"token\";i:1;s:3:\"url\";}s:4:\"type\";s:6:\"object\";}s:18:\"SalesforceEndpoint\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2000;s:7:\"pattern\";s:118:\"https://ingestion-[a-zA-Z0-9]{1,12}\\.[a-zA-Z0-9]+\\.((sfdc-matrix\\.net)|(sfdcnow\\.com))/streams/\\w{1,20}/\\w{1,20}/event\";s:4:\"type\";s:6:\"string\";}s:15:\"SalesforceToken\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:40;s:4:\"type\";s:6:\"string\";}s:20:\"SearchableAttributes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeName\";}s:4:\"type\";s:5:\"array\";}s:27:\"ServiceUnavailableException\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  service is temporarily unavailable.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"SetAsActive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"SetAsActiveFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"SetAsDefault\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:30:\"SetDefaultPolicyVersionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  input for the SetDefaultPolicyVersion operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"SetLoggingOptionsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"The
  input for the SetLoggingOptions operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"loggingOptionsPayload\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/LoggingOptionsPayload\";s:11:\"description\";s:28:\"The
  logging options payload.\";}}s:8:\"required\";a:1:{i:0;s:21:\"loggingOptionsPayload\";}s:4:\"type\";s:6:\"object\";}s:9:\"SnsAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Describes
  an action to publish to an Amazon SNS topic.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"messageFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MessageFormat\";s:11:\"description\";s:492:\"The
  message format of the message to publish. Optional. Accepted values are \"JSON\"
  and \"RAW\". The default value of the attribute is \"RAW\". SNS uses this setting
  to determine if the payload should be parsed and relevant platform-specific bits
  of the payload should be extracted. To read more about SNS message formats, see
  <a href=\"http://docs.aws.amazon.com/sns/latest/dg/json-formats.html\">http://docs.aws.amazon.com/sns/latest/dg/json-formats.html</a>
  refer to their official documentation.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/AwsArn\";s:11:\"description\";s:43:\"The
  ARN of the IAM role that grants access.\";}s:9:\"targetArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/AwsArn\";s:11:\"description\";s:25:\"The
  ARN of the SNS topic.\";}}s:8:\"required\";a:2:{i:0;s:9:\"targetArn\";i:1;s:7:\"roleArn\";}s:4:\"type\";s:6:\"object\";}s:17:\"SqlParseException\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  Rule-SQL expression can't be parsed correctly.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"SqsAction\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Describes
  an action to publish data to an Amazon SQS queue.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"queueUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/QueueUrl\";s:11:\"description\";s:32:\"The
  URL of the Amazon SQS queue.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/AwsArn\";s:11:\"description\";s:43:\"The
  ARN of the IAM role that grants access.\";}s:9:\"useBase64\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/UseBase64\";s:11:\"description\";s:41:\"Specifies
  whether to use Base64 encoding.\";}}s:8:\"required\";a:2:{i:0;s:7:\"roleArn\";i:1;s:8:\"queueUrl\";}s:4:\"type\";s:6:\"object\";}s:11:\"StateReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"StateValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"StreamName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"TableName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ThingArn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ThingAttribute\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  properties of the thing, including thing name, thing type name, and a list of thing
  attributes.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:54:\"A
  list of thing attributes which are name-value pairs.\";}s:9:\"thingName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ThingName\";s:11:\"description\";s:22:\"The
  name of the thing.\";}s:13:\"thingTypeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ThingTypeName\";s:11:\"description\";s:73:\"The
  name of the thing type, if the thing has been associated with a type.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:48:\"The
  version of the thing record in the registry.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ThingAttributeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ThingAttribute\";}s:4:\"type\";s:5:\"array\";}s:9:\"ThingName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:15:\"[a-zA-Z0-9:_-]+\";s:4:\"type\";s:6:\"string\";}s:13:\"ThingNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ThingName\";}s:4:\"type\";s:5:\"array\";}s:12:\"ThingTypeArn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"ThingTypeDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  definition of the thing type, including thing type name and description.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"thingTypeMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ThingTypeMetadata\";s:11:\"description\";s:210:\"The
  ThingTypeMetadata contains additional information about the thing type including:
  creation date and time, a value indicating whether the thing type is deprecated,
  and a date and time when it was deprecated.\";}s:13:\"thingTypeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ThingTypeName\";s:11:\"description\";s:27:\"The
  name of the thing type.\";}s:19:\"thingTypeProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ThingTypeProperties\";s:11:\"description\";s:43:\"The
  ThingTypeProperties for the thing type.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ThingTypeDescription\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2028;s:7:\"pattern\";s:16:\"[\\p{Graph}\\x20]*\";s:4:\"type\";s:6:\"string\";}s:13:\"ThingTypeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ThingTypeDefinition\";}s:4:\"type\";s:5:\"array\";}s:17:\"ThingTypeMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:212:\"The
  ThingTypeMetadata contains additional information about the thing type including:
  creation date and time, a value indicating whether the thing type is deprecated,
  and a date and time when time was deprecated.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CreationDate\";s:11:\"description\";s:50:\"The
  date and time when the thing type was created.\";}s:15:\"deprecationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DeprecationDate\";s:11:\"description\";s:53:\"The
  date and time when the thing type was deprecated.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ThingTypeName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:15:\"[a-zA-Z0-9:_-]+\";s:4:\"type\";s:6:\"string\";}s:19:\"ThingTypeProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"The
  ThingTypeProperties contains information about the thing type including: a thing
  type description, and a list of searchable thing attribute names.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"searchableAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/SearchableAttributes\";s:11:\"description\";s:43:\"A
  list of searchable thing attribute names.\";}s:20:\"thingTypeDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ThingTypeDescription\";s:11:\"description\";s:34:\"The
  description of the thing type.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ThrottlingException\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  rate exceeds the limit.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Topic\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"TopicPattern\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"TopicRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Describes
  a rule.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"actions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ActionList\";s:11:\"description\";s:37:\"The
  actions associated with the rule.\";}s:16:\"awsIotSqlVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AwsIotSqlVersion\";s:11:\"description\";s:68:\"The
  version of the SQL rules engine to use when evaluating the rule.\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CreatedAtDate\";s:11:\"description\";s:39:\"The
  date and time the rule was created.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:28:\"The
  description of the rule.\";}s:12:\"ruleDisabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IsDisabled\";s:11:\"description\";s:39:\"Specifies
  whether the rule is disabled.\";}s:8:\"ruleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RuleName\";s:11:\"description\";s:21:\"The
  name of the rule.\";}s:3:\"sql\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/SQL\";s:11:\"description\";s:128:\"The
  SQL statement used to query the topic. When using a SQL query with multiple lines,
  be sure to escape the newline characters.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"TopicRuleList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TopicRuleListItem\";}s:4:\"type\";s:5:\"array\";}s:17:\"TopicRuleListItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Describes
  a rule.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CreatedAtDate\";s:11:\"description\";s:39:\"The
  date and time the rule was created.\";}s:7:\"ruleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RuleArn\";s:11:\"description\";s:13:\"The
  rule ARN.\";}s:12:\"ruleDisabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IsDisabled\";s:11:\"description\";s:39:\"Specifies
  whether the rule is disabled.\";}s:8:\"ruleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/RuleName\";s:11:\"description\";s:21:\"The
  name of the rule.\";}s:12:\"topicPattern\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TopicPattern\";s:11:\"description\";s:43:\"The
  pattern for the topic names that apply.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"TopicRulePayload\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"Describes
  a rule.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"actions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ActionList\";s:11:\"description\";s:37:\"The
  actions associated with the rule.\";}s:16:\"awsIotSqlVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AwsIotSqlVersion\";s:11:\"description\";s:68:\"The
  version of the SQL rules engine to use when evaluating the rule.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:28:\"The
  description of the rule.\";}s:12:\"ruleDisabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IsDisabled\";s:11:\"description\";s:39:\"Specifies
  whether the rule is disabled.\";}s:3:\"sql\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/SQL\";s:11:\"description\";s:233:\"The
  SQL statement used to query the topic. For more information, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/iot-rules.html#aws-iot-sql-reference\">AWS
  IoT SQL Reference</a> in the <i>AWS IoT Developer Guide</i>.\";}}s:8:\"required\";a:2:{i:0;s:3:\"sql\";i:1;s:7:\"actions\";}s:4:\"type\";s:6:\"object\";}s:33:\"TransferAlreadyCompletedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"You
  can't revert the certificate transfer because the transfer is already complete.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"TransferCertificateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  input for the TransferCertificate operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"transferMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:21:\"The
  transfer message.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"TransferCertificateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  output from the TransferCertificate operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:25:\"transferredCertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificateArn\";s:11:\"description\";s:27:\"The
  ARN of the certificate.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"TransferConflictException\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"You
  can't transfer the certificate because authorization policies are still attached.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"TransferData\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Data
  used to transfer a certificate to an AWS account.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"acceptDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:35:\"The
  date the transfer was accepted.\";}s:10:\"rejectDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:35:\"The
  date the transfer was rejected.\";}s:12:\"rejectReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:41:\"The
  reason why the transfer was rejected.\";}s:12:\"transferDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:33:\"The
  date the transfer took place.\";}s:15:\"transferMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:21:\"The
  transfer message.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"UnauthorizedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"You
  are not authorized to perform this operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"UndoDeprecate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:26:\"UpdateCACertificateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  input to the UpdateCACertificate operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"UpdateCertificateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  input for the UpdateCertificate operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"UpdateThingRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  input for the UpdateThing operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"attributePayload\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AttributePayload\";s:11:\"description\";s:230:\"<p>A
  list of thing attributes, a JSON string containing name-value pairs. For example:</p>
  <p> <code>{\\\"attributes\\\":{\\\"name1\\\":\\\"value2\\\"}}</code> </p> <p>This
  data is used to add new attributes or update existing attributes.</p>\";}s:15:\"expectedVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/OptionalVersion\";s:11:\"description\";s:259:\"The
  expected version of the thing record in the registry. If the version of the record
  in the registry does not match the expected version specified in the request, the
  <code>UpdateThing</code> request is rejected with a <code>VersionConflictException</code>.\";}s:15:\"removeThingType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RemoveThingType\";s:11:\"description\";s:75:\"Remove
  a thing type association. If <b>true</b>, the assocation is removed.\";}s:13:\"thingTypeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ThingTypeName\";s:11:\"description\";s:27:\"The
  name of the thing type.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"UpdateThingResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  output from the UpdateThing operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"UseBase64\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"Version\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"VersionConflictException\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"An
  exception thrown when the version of a thing passed to a command is different than
  the version specified with the --version parameter.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"VersionsLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  number of policy versions exceeds the limit.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";s:11:\"description\";s:30:\"The
  message for the exception.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"errorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"resourceArn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"resourceId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}"
...
