---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:15:\"help@data.world\";s:4:\"name\";s:10:\"data.world\";s:3:\"url\";s:18:\"https://data.world\";}s:11:\"description\";s:1980:\"#
  data.world in a nutshell\n\ndata.world is a productive, secure platform for modern
  data teamwork.\n\nWe bring together your data practitioners, subject matter experts,
  and other stakeholders by removing costly barriers to data discovery, comprehension,
  integration, and sharing. \n\nEverything your team needs to quickly understand and
  use data stays with it. \n\nSocial features and integrations encourage collaborators
  to ask and answer questions, share discoveries, and coordinate closely while still
  using their preferred tools.\n\nOur focus on interoperability helps you enhance
  your own data with data from any source, including our vast and growing library
  of free public datasets. \n\nSophisticated permissions, auditing features, and more
  make it easy to manage who views your data and what they do with it.\n\n# Conventions\n\n##
  Authentication\n\nAll data.world API calls require an API token. \n\nOAuth2 is the
  preferred and most secure method for authenticating users of your data.world applications.
  Visit our [oauth documentation](https://apidocs.data.world/toolkit/oauth) for additional
  information. Alternatively, you can obtain a token for _personal use or testing_
  by navigating to your profile settings, under the Advanced tab ([https://data.world/settings/advanced](https://data.world/settings/advanced)).\n\nAuthentication
  must be provided in API requests via the `Authorization` header. For example, for
  a user whose API token is `my_api_token`, the request header should be `Authorization:
  Bearer my_api_token` (note the `Bearer` prefix).\n\n## Content type  \nBy default,
  `application/json` is the content type used in request and response bodies. Exceptions
  are noted in respective endpoint documentation.\n\n## HTTPS only  \nOur APIs can
  only be accessed via HTTPS.\n\n# Interested in building data.world apps?\n\nCheck
  out our [developer portal](https://apidocs.data.world) for tips on how to get started,
  tutorials, and to interact with the API endpoints right within your browser.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:43:\"https://www.apache.org/licenses/LICENSE-2.0\";}s:14:\"termsOfService\";s:24:\"https://data.world/terms\";s:5:\"title\";s:14:\"data.world
  API\";s:7:\"version\";s:6:\"0.21.0\";s:11:\"x-stoplight\";O:8:\"stdClass\":1:{s:2:\"id\";s:27:\"data-world/specs/data-world\";}}"
host: api.data.world
basePath: /v0
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":51:{s:21:\"CreateDatasetResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"URI
  of newly created dataset.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:3:\"uri\";}s:5:\"title\";s:23:\"Dataset
  Create Response\";s:4:\"type\";s:6:\"object\";}s:21:\"CreateInsightResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"URI
  of newly created insight.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:3:\"uri\";}s:5:\"title\";s:23:\"Insight
  Create Response\";s:4:\"type\";s:6:\"object\";}s:21:\"CreateProjectResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"URI
  of newly created project.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:3:\"uri\";}s:5:\"title\";s:23:\"Project
  Create Response\";s:4:\"type\";s:6:\"object\";}s:18:\"CreateQueryRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Query
  name.\";s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  actual query text to be executed.\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  language in which this query is written. Can be either 'SPARQL' or 'SQL'.\";s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"Indicates
  if this query should be visible to anyone with access to its dataset or project.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:3:{i:0;s:7:\"content\";i:1;s:4:\"name\";i:2;s:8:\"language\";}}s:20:\"DatasetCreateRequest\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Short
  dataset description.\";s:9:\"maxLength\";i:120;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:5:\"files\";O:8:\"stdClass\":4:{s:11:\"description\";s:136:\"Initial
  set of files. At dataset creation time, file uploads are not supported. However,
  this property can be used to add files via URL.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FileCreateRequest\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:0;}s:7:\"license\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Dataset
  license. Find additional info for allowed values [here](https://data.world/license-help).\";s:4:\"enum\";a:14:{i:0;s:13:\"Public
  Domain\";i:1;s:4:\"PDDL\";i:2;s:4:\"CC-0\";i:3;s:5:\"CC-BY\";i:4;s:19:\"CDLA-Permissive-1.0\";i:5;s:6:\"ODC-BY\";i:6;s:8:\"CC-BY-SA\";i:7;s:16:\"CDLA-Sharing-1.0\";i:8;s:8:\"ODC-ODbL\";i:9;s:8:\"CC
  BY-NC\";i:10;s:8:\"CC BY-ND\";i:11;s:11:\"CC BY-NC-ND\";i:12;s:11:\"CC BY-NC-SA\";i:13;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Long-form
  dataset summary (Markdown supported).\";s:9:\"maxLength\";i:25000;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Dataset
  tags. Letters numbers and spaces only (max 25 characters).\";s:5:\"items\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:25;s:7:\"pattern\";s:15:\"^[a-zA-Z0-9\\s]*\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:5:\"title\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Dataset
  name.\";s:9:\"maxLength\";i:60;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"Dataset
  visibility. `OPEN` if the dataset can be seen by any member of data.world. `PRIVATE`
  if the dataset can be seen by its owner and authorized collaborators.\";s:4:\"enum\";a:2:{i:0;s:4:\"OPEN\";i:1;s:7:\"PRIVATE\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"title\";i:1;s:10:\"visibility\";}s:5:\"title\";s:22:\"Dataset
  Create Request\";s:4:\"type\";s:6:\"object\";}s:17:\"DatasetIdentifier\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:29:\"Dataset
  or Project Identifier\";s:11:\"description\";s:78:\"Fully qualified unique identifier,
  including owner and dataset or project IDs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Unique
  identifier of project or dataset\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"Name
  and unique identifier of account that owns the dataset or project.\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:5:\"owner\";}}s:19:\"DatasetPatchRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Short
  dataset description.\";s:9:\"maxLength\";i:120;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:5:\"files\";O:8:\"stdClass\":4:{s:11:\"description\";s:180:\"Updated
  set of files. At dataset update time, file uploads are not supported. However, this
  property can be used to add files from URL or update metadata related to existing
  files.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/FileCreateOrUpdateRequest\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:0;}s:7:\"license\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Dataset
  license. Find additional info for allowed values [here](https://data.world/license-help).\";s:4:\"enum\";a:14:{i:0;s:13:\"Public
  Domain\";i:1;s:4:\"PDDL\";i:2;s:4:\"CC-0\";i:3;s:5:\"CC-BY\";i:4;s:19:\"CDLA-Permissive-1.0\";i:5;s:6:\"ODC-BY\";i:6;s:8:\"CC-BY-SA\";i:7;s:16:\"CDLA-Sharing-1.0\";i:8;s:8:\"ODC-ODbL\";i:9;s:8:\"CC
  BY-NC\";i:10;s:8:\"CC BY-ND\";i:11;s:11:\"CC BY-NC-ND\";i:12;s:11:\"CC BY-NC-SA\";i:13;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Long-form
  dataset summary (Markdown supported).\";s:9:\"maxLength\";i:25000;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Dataset
  tags. Letters numbers and spaces only (max 25 characters).\";s:5:\"items\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:25;s:7:\"pattern\";s:15:\"^[a-zA-Z0-9\\s]*\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:5:\"title\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Dataset
  name.\";s:9:\"maxLength\";i:60;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"Dataset
  visibility. `OPEN` if the dataset can be seen by any member of data.world. `PRIVATE`
  if the dataset can be seen by its owner and authorized collaborators.\";s:4:\"enum\";a:2:{i:0;s:4:\"OPEN\";i:1;s:7:\"PRIVATE\";}s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:22:\"Dataset
  Update Request\";s:4:\"type\";s:6:\"object\";}s:17:\"DatasetPutRequest\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Short
  dataset description.\";s:9:\"maxLength\";i:120;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:5:\"files\";O:8:\"stdClass\":4:{s:11:\"description\";s:136:\"Initial
  set of files. At dataset creation time, file uploads are not supported. However,
  this property can be used to add files via URL.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FileCreateRequest\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:0;}s:7:\"license\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Dataset
  license. Find additional info for allowed values [here](https://data.world/license-help).\";s:4:\"enum\";a:14:{i:0;s:13:\"Public
  Domain\";i:1;s:4:\"PDDL\";i:2;s:4:\"CC-0\";i:3;s:5:\"CC-BY\";i:4;s:19:\"CDLA-Permissive-1.0\";i:5;s:6:\"ODC-BY\";i:6;s:8:\"CC-BY-SA\";i:7;s:16:\"CDLA-Sharing-1.0\";i:8;s:8:\"ODC-ODbL\";i:9;s:8:\"CC
  BY-NC\";i:10;s:8:\"CC BY-ND\";i:11;s:11:\"CC BY-NC-ND\";i:12;s:11:\"CC BY-NC-SA\";i:13;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Long-form
  dataset summary (Markdown supported).\";s:9:\"maxLength\";i:25000;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Dataset
  tags. Letters numbers and spaces only (max 25 characters).\";s:5:\"items\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:25;s:7:\"pattern\";s:15:\"^[a-zA-Z0-9\\s]*\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:5:\"title\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Dataset
  name.\";s:9:\"maxLength\";i:60;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"Dataset
  visibility. `OPEN` if the dataset can be seen by any member of data.world. `PRIVATE`
  if the dataset can be seen by its owner and authorized collaborators.\";s:4:\"enum\";a:2:{i:0;s:4:\"OPEN\";i:1;s:7:\"PRIVATE\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"title\";i:1;s:10:\"visibility\";}s:5:\"title\";s:23:\"Dataset
  Replace Request\";s:4:\"type\";s:6:\"object\";}s:22:\"DatasetSummaryResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":17:{s:11:\"accessLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:355:\"The
  level of access the authenticated user is allowed with respect to dataset: \n\n*
  `NONE` Not allowed any access.  \n* `READ` Allowed to know that the dataset exists,
  view and download data and metadata. \n* `WRITE` Allowed to update data and metadata,
  in addition to what READ allows. \n* `ADMIN` Allowed to delete dataset, in addition
  to what WRITE allows.\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Date
  and time when the dataset was created.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Short
  dataset description.\";s:4:\"type\";s:6:\"string\";}s:4:\"dois\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Doi\";}s:4:\"type\";s:5:\"array\";}s:5:\"files\";O:8:\"stdClass\":4:{s:11:\"description\";s:136:\"Initial
  set of files. At dataset creation time, file uploads are not supported. However,
  this property can be used to add files via URL.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/FileSummaryResponse\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:0;}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Unique
  identifier of dataset.\";s:4:\"type\";s:6:\"string\";}s:9:\"isProject\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"Every
  data project on data.world comes with a default dataset linked to it. This flag
  indicates if the dataset is a project's default dataset. \";s:4:\"type\";s:7:\"boolean\";}s:7:\"license\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Dataset
  license. Find additional info for allowed values [here](https://data.world/license-help).\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"User
  name and unique identifier of the creator of the dataset.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:338:\"Processing
  status of dataset.  This status can be checked periodically after changes are made
  to the dataset to determine the status of asynchronous processing.\n\n* `NEW`: Just
  created. Not yet processed.\n* `INPROGRESS`: Currently being processed.\n* `LOADED`:
  Successfully processed.\n* `SYSTEMERROR`: Error state due to processing failure.\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Long-form
  dataset summary (Markdown supported).\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Dataset
  tags. Letters numbers and spaces only (max 25 characters).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Dataset
  name.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Date
  and time when the dataset was last updated.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Dataset
  version\";s:4:\"type\";s:6:\"string\";}s:11:\"versionDois\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Doi\";}s:4:\"type\";s:5:\"array\";}s:10:\"visibility\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"Dataset
  visibility. `OPEN` if the dataset can be seen by any member of data.world. `PRIVATE`
  if the dataset can be seen by its owner and authorized collaborators.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:10:{i:0;s:5:\"owner\";i:1;s:2:\"id\";i:2;s:5:\"title\";i:3;s:10:\"visibility\";i:4;s:6:\"status\";i:5;s:7:\"created\";i:6;s:7:\"updated\";i:7;s:9:\"isProject\";i:8;s:11:\"accessLevel\";i:9;s:7:\"version\";}s:5:\"title\";s:24:\"Dataset
  Summary Response\";s:4:\"type\";s:6:\"object\";}s:3:\"Doi\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Data
  and time when this DOI was associated with the dataset or dataset version.\";s:4:\"type\";s:6:\"string\";}s:3:\"doi\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"[Digital
  Object Identifier](https://www.doi.org)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:3:\"doi\";i:1;s:7:\"created\";}s:5:\"title\";s:25:\"Digital
  Object Identifier\";s:4:\"type\";s:6:\"object\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"HTTP
  Error Code\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Underlying
  error cause.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Human-readable
  error message.\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:22:\"Error Message
  Response\";s:4:\"type\";s:6:\"object\";}s:22:\"FileBatchUpdateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"files\";O:8:\"stdClass\":3:{s:11:\"description\";s:185:\"Updated
  set of files. When updating a set of files, file uploads are not supported. However,
  this property can be used to add files via URL or update metadata related to existing
  files.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/FileCreateOrUpdateRequest\";}s:4:\"type\";s:5:\"array\";}}s:5:\"title\";s:27:\"File
  Create or Update Batch\";s:4:\"type\";s:6:\"object\";}s:25:\"FileCreateOrUpdateRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:154:\"This
  model is utilized where sets of files can be specified to be added or updated (e.g.
  `PATCH:/dataset/{owner}` and `POST:/dataset/{owner}/{id}/files`).\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"File
  description.\";s:9:\"maxLength\";i:240;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"File
  labels.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:8:\"raw data\";i:1;s:13:\"documentation\";i:2;s:13:\"visualization\";i:3;s:10:\"clean
  data\";i:4;s:6:\"script\";i:5;s:6:\"report\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:4:\"name\";O:8:\"stdClass\":5:{s:11:\"description\";s:88:\"File
  name. Should include type extension always when possible. Must not include slashes.\";s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:7:\"^[^/]+$\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/FileSourceCreateOrUpdateRequest\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:5:\"title\";s:29:\"File
  Create Or Update Request\";s:4:\"type\";s:6:\"object\";}s:17:\"FileCreateRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:108:\"This
  model is utilized where sets of files can be specified only to be added (e.g. `POST:/dataset/{owner}`).\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"File
  description.\";s:9:\"maxLength\";i:240;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"File
  labels.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:8:\"raw data\";i:1;s:13:\"documentation\";i:2;s:13:\"visualization\";i:3;s:10:\"clean
  data\";i:4;s:6:\"script\";i:5;s:6:\"report\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:4:\"name\";O:8:\"stdClass\":5:{s:11:\"description\";s:88:\"File
  name. Should include type extension always when possible. Must not include slashes.\";s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:7:\"^[^/]+$\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/FileSourceCreateRequest\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:6:\"source\";}s:5:\"title\";s:19:\"File
  Create Request\";s:4:\"type\";s:6:\"object\";}s:31:\"FileSourceCreateOrUpdateRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:91:\"This
  model is utilized where source URLs can be specified for files to be added or updated.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"authorization\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/WebAuthorization\";}s:11:\"credentials\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/WebCredentials\";}s:13:\"expandArchive\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:66:\"Indicates
  whether compressed files should be expanded upon upload.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"method\";O:8:\"stdClass\":3:{s:7:\"default\";s:3:\"GET\";s:4:\"enum\";a:2:{i:0;s:3:\"GET\";i:1;s:4:\"POST\";}s:4:\"type\";s:6:\"string\";}s:10:\"oauthToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/OauthTokenReference\";}s:13:\"requestEntity\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:10000;s:4:\"type\";s:6:\"string\";}s:14:\"requestHeaders\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:421:\"A
  map of custom HTTP header name/value pairs to pass with the request.\n\nIf a `requestEntity`
  string is specified, this must contain a `Content-Type` header.\n\nAn `Authorization`
  header value will be converted to a `WebAuthorization` object and the credentials
  will be encrypted.\n\nThe total size of the url and custom headers must not exceed
  4096 bytes in the HTTP request, including whitespace, colons and CRLF characters.\";s:4:\"type\";s:6:\"object\";}s:3:\"url\";O:8:\"stdClass\":6:{s:11:\"description\";s:68:\"Source
  URL of file. Must be an http, https, ftp, ftps or stream URL.\";s:6:\"format\";s:3:\"uri\";s:9:\"maxLength\";i:4096;s:9:\"minLength\";i:1;s:7:\"pattern\";s:25:\"^(https?|ftps?|stream):.*\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:36:\"File
  Source Create Or Update Request\";s:4:\"type\";s:6:\"object\";}s:23:\"FileSourceCreateRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"This
  model is utilized where source URLs can be specified for files only to be added.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"authorization\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/WebAuthorization\";}s:11:\"credentials\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/WebCredentials\";}s:13:\"expandArchive\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:66:\"Indicates
  whether compressed files should be expanded upon upload.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"method\";O:8:\"stdClass\":3:{s:7:\"default\";s:3:\"GET\";s:4:\"enum\";a:2:{i:0;s:3:\"GET\";i:1;s:4:\"POST\";}s:4:\"type\";s:6:\"string\";}s:10:\"oauthToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/OauthTokenReference\";}s:13:\"requestEntity\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:10000;s:4:\"type\";s:6:\"string\";}s:14:\"requestHeaders\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:421:\"A
  map of custom HTTP header name/value pairs to pass with the request.\n\nIf a `requestEntity`
  string is specified, this must contain a `Content-Type` header.\n\nAn `Authorization`
  header value will be converted to a `WebAuthorization` object and the credentials
  will be encrypted.\n\nThe total size of the url and custom headers must not exceed
  4096 bytes in the HTTP request, including whitespace, colons and CRLF characters.\";s:4:\"type\";s:6:\"object\";}s:3:\"url\";O:8:\"stdClass\":6:{s:11:\"description\";s:61:\"Source
  URL of file. Must be an http, https, ftp, or ftps URL.\";s:6:\"format\";s:3:\"uri\";s:9:\"maxLength\";i:4096;s:9:\"minLength\";i:1;s:7:\"pattern\";s:18:\"^(https?|ftps?):.*\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:19:\"File
  Create Request\";s:4:\"type\";s:6:\"object\";}s:25:\"FileSourceSummaryResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"authorization\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/WebAuthorization\";}s:11:\"credentials\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/WebCredentials\";}s:13:\"expandArchive\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:15:\"lastSyncFailure\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Date
  and time when synchronization last failed.\";s:4:\"type\";s:6:\"string\";}s:13:\"lastSyncStart\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Date
  and time when synchronization last started.\";s:4:\"type\";s:6:\"string\";}s:15:\"lastSyncSuccess\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Date
  and time when synchronization last finished successfully.\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"oauthToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/OauthTokenReference\";}s:13:\"requestEntity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"requestHeaders\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:156:\"A
  map of custom HTTP header name/value pairs to pass with the request.\n\nIf a `requestEntity`
  string is specified, this must contain a `Content-Type` header.\";s:4:\"type\";s:6:\"object\";}s:10:\"syncStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:362:\"Synchronization
  status of the file.  This status can be checked periodically after changes are made
  to the dataset to determine the status of asynchronous syncronization.\n\n* `NEW`:
  Just created. Not yet synchronized.\n* `INPROGRESS`: Currently being synchronized.\n*
  `LOADED`: Successfully synchronized.\n* `SYSTEMERROR`: Error state due to synchronization
  failure.\";s:4:\"type\";s:6:\"string\";}s:11:\"syncSummary\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Human-readable
  message detailing status of last failed sync.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Source
  URL of file. Must be an http, https, or stream URL.\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"syncStatus\";}s:5:\"title\";s:20:\"File
  Source Response\";s:4:\"type\";s:6:\"object\";}s:19:\"FileSummaryResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Date
  and time when file was created.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"File
  description.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"File
  labels.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"File
  name. Should include type extension always when possible. Must not include slashes.\";s:4:\"type\";s:6:\"string\";}s:11:\"sizeInBytes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/FileSourceSummaryResponse\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Date
  and time when file was last updated.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:7:\"created\";i:2;s:7:\"updated\";}s:5:\"title\";s:21:\"File
  Summary Response\";s:4:\"type\";s:6:\"object\";}s:11:\"InsightBody\";O:8:\"stdClass\":4:{s:11:\"description\";s:121:\"Defines
  the body of an insight. Must contain one, and only one of: `imageUrl`, `embedUrl`
  or `markdownBody` (deprecated).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"embedUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"oEmbed
  URL.\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Image
  URL\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:12:\"markdownBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Markdown
  (deprecated)\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:12:\"Insight Body\";s:4:\"type\";s:6:\"object\";}s:20:\"InsightCreateRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:22:\"Insight
  Create Request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/InsightBody\";}s:15:\"dataSourceLinks\";O:8:\"stdClass\":4:{s:11:\"description\";s:146:\"One
  or more permalinks to the data sources used to generate this insight. Allows others
  to access the data originally used to produce the insight.\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Insight
  description.\";s:9:\"maxLength\";i:25000;s:4:\"type\";s:6:\"string\";}s:10:\"sourceLink\";O:8:\"stdClass\":3:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:146:\"Permalink
  to source code or platform this insight was generated with. Allows others to replicate
  the steps originally used to produce the insight.\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Insight
  title.\";s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"body\";i:1;s:5:\"title\";}}s:19:\"InsightPatchRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:22:\"Insight
  Update Request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/InsightBody\";}s:15:\"dataSourceLinks\";O:8:\"stdClass\":4:{s:11:\"description\";s:146:\"One
  or more permalinks to the data sources used to generate this insight. Allows others
  to access the data originally used to produce the insight.\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Insight
  description.\";s:9:\"maxLength\";i:25000;s:4:\"type\";s:6:\"string\";}s:10:\"sourceLink\";O:8:\"stdClass\":3:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:146:\"Permalink
  to source code or platform this insight was generated with. Allows others to replicate
  the steps originally used to produce the insight.\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Insight
  title.\";s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}}s:17:\"InsightPutRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:23:\"Insight
  Replace Request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/InsightBody\";}s:15:\"dataSourceLinks\";O:8:\"stdClass\":4:{s:11:\"description\";s:146:\"One
  or more permalinks to the data sources used to generate this insight. Allows others
  to access the data originally used to produce the insight.\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Insight
  description.\";s:9:\"maxLength\";i:25000;s:4:\"type\";s:6:\"string\";}s:10:\"sourceLink\";O:8:\"stdClass\":3:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:146:\"Permalink
  to source code or platform this insight was generated with. Allows others to replicate
  the steps originally used to produce the insight.\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Insight
  title.\";s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"body\";i:1;s:5:\"title\";}}s:22:\"InsightSummaryResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"author\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"User
  name of the author of the insight.\";s:4:\"type\";s:6:\"string\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/InsightBody\";}s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Date
  and time when insight was created.\";s:4:\"type\";s:6:\"string\";}s:15:\"dataSourceLinks\";O:8:\"stdClass\":4:{s:11:\"description\";s:146:\"One
  or more permalinks to the data sources used to generate this insight. Allows others
  to access the data originally used to produce the insight.\";s:6:\"format\";s:3:\"uri\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Insight
  description.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Unique
  Insight id.\";s:4:\"type\";s:6:\"string\";}s:10:\"sourceLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"Permalink
  to source code or platform this insight was generated with. Allows others to replicate
  the steps originally used to produce the insight.\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"URL
  of insight thumbnai\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Insight
  title.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Date
  and time when insight was last updated.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Insight
  version\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:2:\"id\";i:1;s:5:\"title\";i:2;s:4:\"body\";i:3;s:6:\"author\";i:4;s:7:\"created\";i:5;s:7:\"updated\";i:6;s:7:\"version\";}s:5:\"title\";s:24:\"Insight
  Summary Response\";s:4:\"type\";s:6:\"object\";}s:34:\"LinkedDatasetCreateOrUpdateRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:39:\"Linked
  Dataset Create or Update Request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Unique
  identifier of dataset.\";s:7:\"pattern\";s:36:\"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"User
  name and unique identifier of the creator of the dataset.\";s:7:\"pattern\";s:36:\"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:5:\"owner\";}}s:28:\"LinkedDatasetSummaryResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"accessLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:355:\"The
  level of access the authenticated user is allowed with respect to dataset: \n\n*
  `NONE` Not allowed any access.  \n* `READ` Allowed to know that the dataset exists,
  view and download data and metadata. \n* `WRITE` Allowed to update data and metadata,
  in addition to what READ allows. \n* `ADMIN` Allowed to delete dataset, in addition
  to what WRITE allows.\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Date
  and time when the dataset was created.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Short
  dataset description.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Unique
  identifier of dataset.\";s:4:\"type\";s:6:\"string\";}s:7:\"license\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Dataset
  license. Find additional info for allowed values [here](https://data.world/license-help).\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"User
  name and unique identifier of the creator of the dataset.\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Long-form
  dataset summary (Markdown supported).\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Dataset
  tags. Letters numbers and spaces only (max 25 characters).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Dataset
  name.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Date
  and time when the dataset was last updated.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Dataset
  version\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"Dataset
  visibility. `OPEN` if the dataset can be seen by any member of data.world. `PRIVATE`
  if the dataset can be seen by its owner and authorized collaborators.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:5:\"owner\";i:1;s:2:\"id\";i:2;s:5:\"title\";i:3;s:10:\"visibility\";i:4;s:7:\"created\";i:5;s:7:\"updated\";i:6;s:11:\"accessLevel\";}s:5:\"title\";s:31:\"Linked
  Dataset Summary Response\";s:4:\"type\";s:6:\"object\";}s:19:\"OauthTokenReference\";O:8:\"stdClass\":5:{s:11:\"description\";s:170:\"A
  reference to a 3rd-party OAuth 2.0 token stored by data.world.\n\nWhen creating
  or updating an OAuth token reference, the token must belong to the user making the
  update.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":5:{s:11:\"description\";s:60:\"User
  name of the owner of the OAuth token within data.world.\";s:9:\"maxLength\";i:31;s:9:\"minLength\";i:3;s:7:\"pattern\";s:36:\"[a-z0-9](?:-(?!-)|[a-z0-9])+[a-z0-9]\";s:4:\"type\";s:6:\"string\";}s:4:\"site\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:3;s:7:\"pattern\";s:98:\"(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?\\.)+[a-z]{2,}(?:@[a-z0-9](?:[-.](?=[a-z0-9])|[a-z0-9]){0,29})?\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"owner\";i:1;s:4:\"site\";i:2;s:2:\"id\";}s:5:\"title\";s:21:\"OAuth
  Token Reference\";s:4:\"type\";s:6:\"object\";}s:23:\"PaginatedDatasetResults\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:13:\"nextPageToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"records\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DatasetSummaryResponse\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:5:\"count\";i:1;s:7:\"records\";}s:5:\"title\";s:25:\"Paginated
  Dataset Results\";s:4:\"type\";s:6:\"object\";}s:23:\"PaginatedInsightResults\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"nextPageToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"records\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/InsightSummaryResponse\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:5:\"count\";i:1;s:7:\"records\";}s:5:\"title\";s:25:\"Paginated
  Insight Results\";s:4:\"type\";s:6:\"object\";}s:23:\"PaginatedProjectResults\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"nextPageToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"records\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ProjectSummaryResponse\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:5:\"count\";i:1;s:7:\"records\";}s:5:\"title\";s:25:\"Paginated
  Project Results\";s:4:\"type\";s:6:\"object\";}s:21:\"PaginatedQueryResults\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:13:\"nextPageToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"records\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/QuerySummaryResponse\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:5:\"count\";i:1;s:7:\"records\";}s:5:\"title\";s:23:\"Paginated
  Query Results\";s:4:\"type\";s:6:\"object\";}s:28:\"PaginatedSubscriptionResults\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:30:\"Paginated
  Subscription Results\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:13:\"nextPageToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"records\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Subscription\";}}}s:8:\"required\";a:2:{i:0;s:5:\"count\";i:1;s:7:\"records\";}}s:20:\"ProjectCreateRequest\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"files\";O:8:\"stdClass\":4:{s:11:\"description\";s:137:\"Initial
  set of files. At project creation time, file uploads are not supported. However,
  this property can be used to add files from URL.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FileCreateRequest\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:0;}s:7:\"license\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Project
  license. Find additional info for allowed values [here](https://data.world/license-help).\";s:4:\"enum\";a:14:{i:0;s:13:\"Public
  Domain\";i:1;s:4:\"PDDL\";i:2;s:4:\"CC-0\";i:3;s:5:\"CC-BY\";i:4;s:19:\"CDLA-Permissive-1.0\";i:5;s:6:\"ODC-BY\";i:6;s:8:\"CC-BY-SA\";i:7;s:16:\"CDLA-Sharing-1.0\";i:8;s:8:\"ODC-ODbL\";i:9;s:8:\"CC
  BY-NC\";i:10;s:8:\"CC BY-ND\";i:11;s:11:\"CC BY-NC-ND\";i:12;s:11:\"CC BY-NC-SA\";i:13;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:14:\"linkedDatasets\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Initial
  set of linked datasets.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/LinkedDatasetCreateOrUpdateRequest\";}s:4:\"type\";s:5:\"array\";}s:9:\"objective\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Short
  project objective.\";s:9:\"maxLength\";i:120;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Long-form
  project summary (Markdown supported).\";s:9:\"maxLength\";i:25000;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Project
  tags. Letters numbers and spaces only (max 25 characters).\";s:5:\"items\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:25;s:7:\"pattern\";s:15:\"^[a-zA-Z0-9\\s]*\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:5:\"title\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Project
  title.\";s:9:\"maxLength\";i:60;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"Project
  visibility. `OPEN` if the project can be seen by any member of data.world. `PRIVATE`
  if the project can be seen by its owner and authorized collaborators.\";s:4:\"enum\";a:2:{i:0;s:4:\"OPEN\";i:1;s:7:\"PRIVATE\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"title\";i:1;s:10:\"visibility\";}s:5:\"title\";s:22:\"Project
  Create Request\";s:4:\"type\";s:6:\"object\";}s:19:\"ProjectPatchRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:22:\"Project
  Update Request\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"files\";O:8:\"stdClass\":4:{s:11:\"description\";s:289:\"Updated
  set of files. At project update time, file uploads are not supported. However, this
  property can be used to add files from URL or update metadata related to existing
  files. Files included in this request will be added. Previously added files will
  be preserved without modification.\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:0;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/FileCreateOrUpdateRequest\";}}s:7:\"license\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Project
  license. Find additional info for allowed values [here](https://data.world/license-help).\";s:4:\"enum\";a:14:{i:0;s:13:\"Public
  Domain\";i:1;s:4:\"PDDL\";i:2;s:4:\"CC-0\";i:3;s:5:\"CC-BY\";i:4;s:19:\"CDLA-Permissive-1.0\";i:5;s:6:\"ODC-BY\";i:6;s:8:\"CC-BY-SA\";i:7;s:16:\"CDLA-Sharing-1.0\";i:8;s:8:\"ODC-ODbL\";i:9;s:8:\"CC
  BY-NC\";i:10;s:8:\"CC BY-ND\";i:11;s:11:\"CC BY-NC-ND\";i:12;s:11:\"CC BY-NC-SA\";i:13;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:14:\"linkedDatasets\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:145:\"Updated
  set of linked datasets. Datasets linked in this request will be added. Previously
  linked datasets will be preserved without modification.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/LinkedDatasetCreateOrUpdateRequest\";}}s:9:\"objective\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Short
  project objective.\";s:9:\"maxLength\";i:120;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Long-form
  project summary (Markdown supported).\";s:9:\"maxLength\";i:25000;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Project
  tags. Letters numbers and spaces only (max 25 characters).\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:25;s:7:\"pattern\";s:15:\"^[a-zA-Z0-9\\s]*\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Project
  title.\";s:9:\"maxLength\";i:60;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"Project
  visibility. `OPEN` if the project can be seen by any member of data.world. `PRIVATE`
  if the project can be seen by its owner and authorized collaborators.\";s:4:\"enum\";a:2:{i:0;s:4:\"OPEN\";i:1;s:7:\"PRIVATE\";}s:4:\"type\";s:6:\"string\";}}}s:17:\"ProjectPutRequest\";O:8:\"stdClass\":4:{s:5:\"title\";s:32:\"Project
  Create or Update Request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"files\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FileCreateRequest\";}}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"enum\";a:14:{i:0;s:13:\"Public
  Domain\";i:1;s:4:\"PDDL\";i:2;s:4:\"CC-0\";i:3;s:5:\"CC-BY\";i:4;s:19:\"CDLA-Permissive-1.0\";i:5;s:6:\"ODC-BY\";i:6;s:8:\"CC-BY-SA\";i:7;s:16:\"CDLA-Sharing-1.0\";i:8;s:8:\"ODC-ODbL\";i:9;s:8:\"CC
  BY-NC\";i:10;s:8:\"CC BY-ND\";i:11;s:11:\"CC BY-NC-ND\";i:12;s:11:\"CC BY-NC-SA\";i:13;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:14:\"linkedDatasets\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"Updated
  set of linked datasets. Datasets linked in this request will be added. Previously
  linked datasets will be preserved without modification.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/LinkedDatasetCreateOrUpdateRequest\";}}s:9:\"objective\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Short
  project objective.\";s:9:\"maxLength\";i:120;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Long-form
  project summary (Markdown supported).\";s:9:\"maxLength\";i:25000;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Project
  tags. Letters numbers and spaces only (max 25 characters).\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:25;s:7:\"pattern\";s:15:\"^[a-zA-Z0-9\\s]*\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Project
  title.\";s:9:\"maxLength\";i:60;s:9:\"minLength\";i:1;}s:10:\"visibility\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:162:\"Project
  visibility. `OPEN` if the project can be seen by any member of data.world. `PRIVATE`
  if the project can be seen by its owner and authorized collaborators.\";s:4:\"enum\";a:2:{i:0;s:4:\"OPEN\";i:1;s:7:\"PRIVATE\";}}}s:8:\"required\";a:2:{i:0;s:5:\"title\";i:1;s:10:\"visibility\";}}s:22:\"ProjectSummaryResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":15:{s:11:\"accessLevel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"files\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/FileSummaryResponse\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"license\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"linkedDatasets\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/LinkedDatasetSummaryResponse\";}s:4:\"type\";s:5:\"array\";}s:9:\"objective\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:337:\"Processing
  status of project. This status can be checked periodically after changes are made
  to the project to determine the status of asynchronous processing.\n\n* `NEW`: Just
  created. Not yet processed.\n* `INPROGRESS`: Currently being processed.\n* `LOADED`:
  Successfully processed.\n* `SYSTEMERROR`: Error state due to processing failure.\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Project
  version\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:9:{i:0;s:5:\"title\";i:1;s:10:\"visibility\";i:2;s:6:\"status\";i:3;s:5:\"owner\";i:4;s:2:\"id\";i:5;s:7:\"version\";i:6;s:7:\"created\";i:7;s:7:\"updated\";i:8;s:11:\"accessLevel\";}s:5:\"title\";s:24:\"Project
  Summary Response\";s:4:\"type\";s:6:\"object\";}s:14:\"QueryParameter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Parameter
  type. Can be either 'literal' or 'iri'\";s:4:\"type\";s:6:\"string\";}s:8:\"datatype\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Parameter
  datatype XML schema link. Can be empty if type is 'iri'\";s:4:\"type\";s:6:\"string\";}}}s:15:\"QueryPutRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Query
  name\";s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  actual query text to be executed.\";s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"Indicates
  if this query should be visible to anyone with access to its dataset or project.\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:2:{i:0;s:7:\"content\";i:1;s:4:\"name\";}}s:26:\"SavedQueryExecutionRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"parameters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:219:\"Specifies
  values for named query parameters. parameters must be map-like object (key-value
  pairs), where keys are the names of the parameters and values what those parameters
  should be set to when the query is executed.\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"example\";O:8:\"stdClass\":5:{s:2:\"p1\";i:1;s:2:\"p2\";d:3.1400000000000001;s:2:\"p3\";s:3:\"val\";s:2:\"p4\";b:1;s:2:\"p5\";O:8:\"stdClass\":3:{s:5:\"value\";s:5:\"false\";s:4:\"type\";s:7:\"literal\";s:8:\"datatype\";s:40:\"http://www.w3.org/2001/XMLSchema#boolean\";}}}s:18:\"includeTableSchema\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:7:\"maxRows\";O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"long\";s:11:\"description\";s:35:\"Limits
  the number of rows returned.\";}}}s:20:\"QuerySummaryResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Query
  body.\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Date
  and time when the query was created.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"query
  unique identifier\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Type
  of language in which this query is written. Can be either 'SPARQL' or 'SQL'.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Query
  name.\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"User
  name and unique identifier of the creator of the dataset.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Date
  and time when the query was updated.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Query
  version id.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Parameters
  declared in the query body\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/QueryParameter\";}}}s:4:\"type\";s:6:\"object\";s:5:\"title\";s:22:\"Query
  Summary Response\";}s:15:\"SqlQueryRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:17:\"SQL
  Query Request\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"SQL
  query text\";}s:18:\"includeTableSchema\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;s:11:\"description\";s:69:\"Specifies
  whether or not schema should be included with the response.\";}}s:8:\"required\";a:1:{i:0;s:5:\"query\";}}s:12:\"StreamSchema\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:13:\"Stream
  Schema\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"primaryKeyFields\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:59:\"One
  or more fields that make up the primary key of a record\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"sequenceField\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"A
  numeric or datetime field by which to sort records for the purpose of deduplication\n\";}}}s:24:\"StreamSchemaPatchRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:28:\"Stream
  Schema Update Request\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"primaryKeyFields\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:59:\"One
  or more fields that make up the primary key of a record\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"sequenceField\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:235:\"A
  numeric or datetime field by which to sort records for the purpose of deduplication.\n\nNumeric
  fields must fit in a 64-bit signed integer\ndatetime fields must use an ISO-8601
  compatible format  (https://www.ietf.org/rfc/rfc3339.txt).\n\";}s:12:\"updateMethod\";O:8:\"stdClass\":3:{s:4:\"enum\";a:1:{i:0;s:8:\"TRUNCATE\";}s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Specifies
  how pre-existing records should be affected by a schema change.\n\";}}s:8:\"required\";a:1:{i:0;s:12:\"updateMethod\";}}s:12:\"Subscription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"dataset\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DatasetIdentifier\";}s:6:\"events\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:205:\"Specifies
  which events should trigger API calls. Currently, only `ALL` is supported. Clients
  are free to ignore irrelevant events. For all supported events, see: https://apidocs.data.world/toolkit/webhooks\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:3:\"ALL\";}s:4:\"type\";s:6:\"string\";}}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DatasetIdentifier\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/UserIdentifier\";}}s:8:\"required\";a:1:{i:0;s:6:\"events\";}}s:20:\"SubscriptionApiLinks\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:20:\"Subscription
  API URI\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"self\";O:8:\"stdClass\":3:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"Subscription
  URI, to be used in API requests relative to an existing subscription.\";}}s:8:\"required\";a:1:{i:0;s:4:\"self\";}}s:25:\"SubscriptionCreateRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:27:\"Subscription
  Create Request\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"events\";O:8:\"stdClass\":5:{s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";s:11:\"description\";s:205:\"Specifies
  which events should trigger API calls. Currently, only `ALL` is supported. Clients
  are free to ignore irrelevant events. For all supported events, see: https://apidocs.data.world/toolkit/webhooks\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:3:\"ALL\";}s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:1:{i:0;s:6:\"events\";}}s:17:\"SubscriptionLinks\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"api\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/SubscriptionApiLinks\";}}s:8:\"required\";a:1:{i:0;s:3:\"api\";}s:4:\"type\";s:6:\"object\";s:5:\"title\";s:17:\"Subscription
  URIs\";}s:14:\"SuccessMessage\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:24:\"Success
  Message Response\";s:4:\"type\";s:6:\"object\";}s:16:\"UserDataResponse\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"avatarUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"URL
  of profile image.\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Date
  and time when account was created.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"User's
  name.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"User
  name and unique identifier.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Date
  and time when account was last updated.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:7:\"created\";i:2;s:7:\"updated\";}s:5:\"title\";s:18:\"User
  Data Response\";s:4:\"type\";s:6:\"object\";}s:14:\"UserIdentifier\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";s:5:\"title\";s:15:\"User
  Identifier\";}s:16:\"WebAuthorization\";O:8:\"stdClass\":5:{s:11:\"description\";s:299:\"An
  authorization type and credentials suitable for use in an HTTP `Authorization` header.\n\nWhen
  used with a File Source this causes the HTTP request to include the following header:\n```\nAuthorization:
  <type> <credentials>\n```\nThe `credentials` field is write-only.  It is omitted
  by read operations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"credentials\";O:8:\"stdClass\":5:{s:11:\"description\";s:404:\"The
  confidential portion of the `Authorization` header that follows the `type` field.\n\nThis
  field is write-only. It is omitted by read operations.\n\nIf authorization is required,
  the `credentials` value must be provided whenever a File Source is created or modified.
  An update to a dataset that does not change the File Source may omit the `credentials`
  field--the update will preserve the previous value.\";s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:7:\"pattern\";s:15:\"[\\x21-\\x7E
  \\t]*\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:11:\"description\";s:109:\"The
  authorization scheme.\n\nUsually this is \"Bearer\" but it could be other values
  like \"Token\" or \"Basic\" etc.\";s:9:\"maxLength\";i:50;s:7:\"pattern\";s:15:\"[\\x21-\\x7E
  \\t]*\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:5:\"title\";s:17:\"Web
  Authorization\";s:4:\"type\";s:6:\"object\";}s:14:\"WebCredentials\";O:8:\"stdClass\":5:{s:11:\"description\";s:301:\"A
  username and password suitable for use with HTTP Basic authentication.\n\nWhen used
  with a File Source this causes the HTTP request to include the following header:\n```\nAuthorization:
  Basic <base64-encoding-of(user:password)>\n```\n\nThe `password` field is write-only.
  \ It is omitted by read operations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"password\";O:8:\"stdClass\":3:{s:11:\"description\";s:333:\"The
  secret password.\n\nThis field is write-only. It is omitted by read operations.\n\nIf
  authorization is required, the `password` value must be provided whenever a File
  Source is created or modified. An update to a dataset that does not change the File
  Source may omit the `password` field--the update will preserve the previous value.\";s:9:\"maxLength\";i:1024;s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  name of the account to login to.\";s:9:\"maxLength\";i:1024;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"user\";}s:5:\"title\";s:15:\"Web
  Credentials\";s:4:\"type\";s:6:\"object\";}}"
...
