---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:62:\"Manages
  classes, rosters, and invitations in Google Classroom.\";s:5:\"title\";s:16:\"Google
  Classroom\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"education\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:6:\"2.7.11\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:59:\"https://classroom.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:9:\"classroom\";}"
host: classroom.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":57:{s:12:\"Announcement\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Announcement
  created by a teacher for students of the course\";s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"alternateLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"Absolute
  link to this announcement in the Classroom web UI.\nThis is only populated if `state`
  is `PUBLISHED`.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:12:\"assigneeMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Assignee
  mode of the announcement.\nIf unspecified, the default value is `ALL_STUDENTS`.\";s:4:\"enum\";a:3:{i:0;s:25:\"ASSIGNEE_MODE_UNSPECIFIED\";i:1;s:12:\"ALL_STUDENTS\";i:2;s:19:\"INDIVIDUAL_STUDENTS\";}s:4:\"type\";s:6:\"string\";}s:8:\"courseId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Identifier
  of the course.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Timestamp
  when this announcement was created.\n\nRead-only.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:13:\"creatorUserId\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Identifier
  for the user that created the announcement.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Classroom-assigned
  identifier of this announcement, unique per course.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:25:\"individualStudentsOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/IndividualStudentsOptions\";s:11:\"description\";s:252:\"Identifiers
  of students with access to the announcement.\nThis field is set only if `assigneeMode`
  is `INDIVIDUAL_STUDENTS`.\nIf the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then
  only students specified in this\nfield will be able to see the announcement.\";}s:9:\"materials\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Additional
  materials.\n\nAnnouncements must have no more than 20 material items.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Material\";}s:4:\"type\";s:5:\"array\";}s:13:\"scheduledTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Optional
  timestamp when this announcement is scheduled to be published.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Status
  of this announcement.\nIf unspecified, the default state is `DRAFT`.\";s:4:\"enum\";a:4:{i:0;s:30:\"ANNOUNCEMENT_STATE_UNSPECIFIED\";i:1;s:9:\"PUBLISHED\";i:2;s:5:\"DRAFT\";i:3;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Description
  of this announcement.\nThe text must be a valid UTF-8 string containing no more\nthan
  30,000 characters.\";s:4:\"type\";s:6:\"string\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Timestamp
  of the most recent change to this announcement.\n\nRead-only.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Assignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Additional
  details for assignments.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"studentWorkFolder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DriveFolder\";s:11:\"description\";s:130:\"Drive
  folder where attachments from student submissions are placed.\nThis is only populated
  for course teachers and administrators.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AssignmentSubmission\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Student
  work for an assignment.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:378:\"Attachments
  added by the student.\nDrive files that correspond to materials with a share mode
  of\nSTUDENT_COPY may not exist yet if the student has not accessed the\nassignment
  in Classroom.\n\nSome attachment metadata is only populated if the requesting user
  has\npermission to access it. Identifier and alternate_link fields are always\navailable,
  but others (e.g. title) may not be.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Attachment\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Attachment
  added to student assignment work.\n\nWhen creating attachments, setting the `form`
  field is not supported.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"driveFile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DriveFile\";s:11:\"description\";s:29:\"Google
  Drive file attachment.\";}s:4:\"form\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Form\";s:11:\"description\";s:24:\"Google
  Forms attachment.\";}s:4:\"link\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Link\";s:11:\"description\";s:16:\"Link
  attachment.\";}s:12:\"youTubeVideo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/YouTubeVideo\";s:11:\"description\";s:25:\"Youtube
  video attachment.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CloudPubsubTopic\";O:8:\"stdClass\":3:{s:11:\"description\";s:199:\"A
  reference to a Cloud Pub/Sub topic.\n\nTo register for notifications, the owner
  of the topic must grant\n`classroom-notifications@system.gserviceaccount.com` the\n
  `projects.topics.publish` permission.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"topicName\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"The
  `name` field of a Cloud Pub/Sub\n[Topic](https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Course\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  Course in Classroom.\";s:10:\"properties\";O:8:\"stdClass\":18:{s:13:\"alternateLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Absolute
  link to this course in the Classroom web UI.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:10:\"calendarId\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"The
  Calendar ID for a calendar that all course members can see, to which\nClassroom
  adds events for course work and announcements in the course.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:16:\"courseGroupEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:156:\"The
  email address of a Google group containing all members of the course.\nThis group
  does not accept email and can only be used for permissions.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:18:\"courseMaterialSets\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Sets
  of materials that appear on the \"about\" page of this course.\n\nRead-only.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CourseMaterialSet\";}s:4:\"type\";s:5:\"array\";}s:11:\"courseState\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"State
  of the course.\nIf unspecified, the default state is `PROVISIONED`.\";s:4:\"enum\";a:6:{i:0;s:24:\"COURSE_STATE_UNSPECIFIED\";i:1;s:6:\"ACTIVE\";i:2;s:8:\"ARCHIVED\";i:3;s:11:\"PROVISIONED\";i:4;s:8:\"DECLINED\";i:5;s:9:\"SUSPENDED\";}s:4:\"type\";s:6:\"string\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Creation
  time of the course.\nSpecifying this field in a course update mask results in an
  error.\n\nRead-only.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:265:\"Optional
  description.\nFor example, \"We'll be learning about the structure of living\ncreatures
  from a combination of textbooks, guest lectures, and lab work.\nExpect to be excited!\"\nIf
  set, this field must be a valid UTF-8 string and no longer than 30,000\ncharacters.\";s:4:\"type\";s:6:\"string\";}s:18:\"descriptionHeading\";O:8:\"stdClass\":2:{s:11:\"description\";s:167:\"Optional
  heading for the description.\nFor example, \"Welcome to 10th Grade Biology.\"\nIf
  set, this field must be a valid UTF-8 string and no longer than 3600\ncharacters.\";s:4:\"type\";s:6:\"string\";}s:14:\"enrollmentCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"Enrollment
  code to use when joining this course.\nSpecifying this field in a course update
  mask results in an error.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:16:\"guardiansEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Whether
  or not guardian notifications are enabled for this course.\n\nRead-only.\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:339:\"Identifier
  for this course assigned by Classroom.\n\nWhen\ncreating a course,\nyou may optionally
  set this identifier to an\nalias string in the\nrequest to create a corresponding
  alias. The `id` is still assigned by\nClassroom and cannot be updated after the
  course is created.\n\nSpecifying this field in a course update mask results in an
  error.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"Name
  of the course.\nFor example, \"10th Grade Biology\".\nThe name is required. It must
  be between 1 and 750 characters and a valid\nUTF-8 string.\";s:4:\"type\";s:6:\"string\";}s:7:\"ownerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:457:\"The
  identifier of the owner of a course.\n\nWhen specified as a parameter of a\ncreate
  course request, this\nfield is required.\nThe identifier can be one of the following:\n\n*
  the numeric identifier for the user\n* the email address of the user\n* the string
  literal `\"me\"`, indicating the requesting user\n\nThis must be set in a create
  request. Admins can also specify this field\nin a patch course request to\ntransfer
  ownership. In other contexts, it is read-only.\";s:4:\"type\";s:6:\"string\";}s:4:\"room\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"Optional
  room location.\nFor example, \"301\".\nIf set, this field must be a valid UTF-8
  string and no longer than 650\ncharacters.\";s:4:\"type\";s:6:\"string\";}s:7:\"section\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"Section
  of the course.\nFor example, \"Period 2\".\nIf set, this field must be a valid UTF-8
  string and no longer than 2800\ncharacters.\";s:4:\"type\";s:6:\"string\";}s:13:\"teacherFolder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DriveFolder\";s:11:\"description\";s:175:\"Information
  about a Drive Folder that is shared with all teachers of the\ncourse.\n\nThis field
  will only be set for teachers of the course and domain administrators.\n\nRead-only.\";}s:17:\"teacherGroupEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:157:\"The
  email address of a Google group containing all teachers of the course.\nThis group
  does not accept email and can only be used for permissions.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"Time
  of the most recent update to this course.\nSpecifying this field in a course update
  mask results in an error.\n\nRead-only.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CourseAlias\";O:8:\"stdClass\":3:{s:11:\"description\";s:801:\"Alternative
  identifier for a course.\n\nAn alias uniquely identifies a course. It must be unique
  within one of the\nfollowing scopes:\n\n* domain: A domain-scoped alias is visible
  to all users within the alias\ncreator's domain and can be created only by a domain
  admin. A domain-scoped\nalias is often used when a course has an identifier external
  to Classroom.\n\n* project: A project-scoped alias is visible to any request from
  an\napplication using the Developer Console project ID that created the alias\nand
  can be created by any project. A project-scoped alias is often used when\nan application
  has alternative identifiers. A random value can also be used\nto avoid duplicate
  courses in the event of transmission failures, as retrying\na request will return
  `ALREADY_EXISTS` if a previous one has succeeded.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"alias\";O:8:\"stdClass\":2:{s:11:\"description\";s:267:\"Alias
  string. The format of the string indicates the desired alias scoping.\n\n* `d:<name>`
  indicates a domain-scoped alias.\n  Example: `d:math_101`\n* `p:<name>` indicates
  a project-scoped alias.\n  Example: `p:abc123`\n\nThis field has a maximum length
  of 256 characters.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CourseMaterial\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  material attached to a course as part of a material set.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"driveFile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DriveFile\";s:11:\"description\";s:29:\"Google
  Drive file attachment.\";}s:4:\"form\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Form\";s:11:\"description\";s:24:\"Google
  Forms attachment.\";}s:4:\"link\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Link\";s:11:\"description\";s:16:\"Link
  atatchment.\";}s:12:\"youTubeVideo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/YouTubeVideo\";s:11:\"description\";s:25:\"Youtube
  video attachment.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CourseMaterialSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:185:\"A
  set of materials that appears on the \"About\" page of the course.\nThese materials
  might include a syllabus, schedule, or other background\ninformation relating to
  the course as a whole.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"materials\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Materials
  attached to this set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CourseMaterial\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Title
  for this set.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CourseRosterChangesInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Information
  about a `Feed` with a `feed_type` of `COURSE_ROSTER_CHANGES`.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"courseId\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  `course_id` of the course to subscribe to roster changes for.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CourseWork\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Course
  work created by a teacher for students of the course.\";s:10:\"properties\";O:8:\"stdClass\":21:{s:13:\"alternateLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"Absolute
  link to this course work in the Classroom web UI.\nThis is only populated if `state`
  is `PUBLISHED`.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:12:\"assigneeMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Assignee
  mode of the coursework.\nIf unspecified, the default value is `ALL_STUDENTS`.\";s:4:\"enum\";a:3:{i:0;s:25:\"ASSIGNEE_MODE_UNSPECIFIED\";i:1;s:12:\"ALL_STUDENTS\";i:2;s:19:\"INDIVIDUAL_STUDENTS\";}s:4:\"type\";s:6:\"string\";}s:10:\"assignment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Assignment\";s:11:\"description\";s:88:\"Assignment
  details.\nThis is populated only when `work_type` is `ASSIGNMENT`.\n\nRead-only.\";}s:23:\"associatedWithDeveloper\";O:8:\"stdClass\":2:{s:11:\"description\";s:172:\"Whether
  this course work item is associated with the Developer Console\nproject making the
  request.\n\nSee google.classroom.Work.CreateCourseWork for more\ndetails.\n\nRead-only.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"courseId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Identifier
  of the course.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Timestamp
  when this course work was created.\n\nRead-only.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:13:\"creatorUserId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Identifier
  for the user that created the coursework.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Optional
  description of this course work.\nIf set, the description must be a valid UTF-8
  string containing no more\nthan 30,000 characters.\";s:4:\"type\";s:6:\"string\";}s:7:\"dueDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:125:\"Optional
  date, in UTC, that submissions for this this course work are due.\nThis must be
  specified if `due_time` is specified.\";}s:7:\"dueTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TimeOfDay\";s:11:\"description\";s:132:\"Optional
  time of day, in UTC, that submissions for this this course work\nare due.\nThis
  must be specified if `due_date` is specified.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Classroom-assigned
  identifier of this course work, unique per course.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:25:\"individualStudentsOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/IndividualStudentsOptions\";s:11:\"description\";s:245:\"Identifiers
  of students with access to the coursework.\nThis field is set only if `assigneeMode`
  is `INDIVIDUAL_STUDENTS`.\nIf the `assigneeMode` is `INDIVIDUAL_STUDENTS`, then
  only students\nspecified in this field will be assigned the coursework.\";}s:9:\"materials\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Additional
  materials.\n\nCourseWork must have no more than 20 material items.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Material\";}s:4:\"type\";s:5:\"array\";}s:9:\"maxPoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"Maximum
  grade for this course work.\nIf zero or unspecified, this assignment is considered
  ungraded.\nThis must be a non-negative integer value.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:22:\"multipleChoiceQuestion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/MultipleChoiceQuestion\";s:11:\"description\";s:292:\"Multiple
  choice question details.\nFor read operations, this field is populated only when
  `work_type` is\n`MULTIPLE_CHOICE_QUESTION`.\nFor write operations, this field must
  be specified when creating course\nwork with a `work_type` of `MULTIPLE_CHOICE_QUESTION`,
  and it must not be\nset otherwise.\";}s:13:\"scheduledTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Optional
  timestamp when this course work is scheduled to be published.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Status
  of this course work.\nIf unspecified, the default state is `DRAFT`.\";s:4:\"enum\";a:4:{i:0;s:29:\"COURSE_WORK_STATE_UNSPECIFIED\";i:1;s:9:\"PUBLISHED\";i:2;s:5:\"DRAFT\";i:3;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:26:\"submissionModificationMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"Setting
  to determine when students are allowed to modify submissions.\nIf unspecified, the
  default value is `MODIFIABLE_UNTIL_TURNED_IN`.\";s:4:\"enum\";a:3:{i:0;s:40:\"SUBMISSION_MODIFICATION_MODE_UNSPECIFIED\";i:1;s:26:\"MODIFIABLE_UNTIL_TURNED_IN\";i:2;s:10:\"MODIFIABLE\";}s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Title
  of this course work.\nThe title must be a valid UTF-8 string containing between
  1 and 3000\ncharacters.\";s:4:\"type\";s:6:\"string\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Timestamp
  of the most recent change to this course work.\n\nRead-only.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:8:\"workType\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Type
  of this course work.\n\nThe type is set when the course work is created and cannot
  be changed.\";s:4:\"enum\";a:4:{i:0;s:28:\"COURSE_WORK_TYPE_UNSPECIFIED\";i:1;s:10:\"ASSIGNMENT\";i:2;s:21:\"SHORT_ANSWER_QUESTION\";i:3;s:24:\"MULTIPLE_CHOICE_QUESTION\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CourseWorkChangesInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Information
  about a `Feed` with a `feed_type` of `COURSE_WORK_CHANGES`.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"courseId\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  `course_id` of the course to subscribe to work changes for.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:475:\"Represents
  a whole calendar date, e.g. date of birth. The time of day and\ntime zone are either
  specified elsewhere or are not significant. The date\nis relative to the Proleptic
  Gregorian Calendar. The day may be 0 to\nrepresent a year and month where the day
  is not significant, e.g. credit card\nexpiration date. The year may be 0 to represent
  a month and day independent\nof year, e.g. anniversary date. Related types are google.type.TimeOfDay\nand
  `google.protobuf.Timestamp`.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"day\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Day
  of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying
  a year/month where the day is not significant.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"month\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Month
  of year. Must be from 1 to 12, or 0 if specifying a date without a\nmonth.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"year\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Year
  of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"DriveFile\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Representation
  of a Google Drive file.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"alternateLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"URL
  that can be used to access the Drive item.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Drive
  API resource ID.\";s:4:\"type\";s:6:\"string\";}s:12:\"thumbnailUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"URL
  of a thumbnail image of the Drive item.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Title
  of the Drive item.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"DriveFolder\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Representation
  of a Google Drive folder.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"alternateLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"URL
  that can be used to access the Drive folder.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Drive
  API resource ID.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Title
  of the Drive folder.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is
  empty JSON object `{}`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:4:\"Feed\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"A
  class of notifications that an application can register to receive.\nFor example:
  \"all roster changes for a domain\".\";s:10:\"properties\";O:8:\"stdClass\":3:{s:23:\"courseRosterChangesInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/CourseRosterChangesInfo\";s:11:\"description\";s:145:\"Information
  about a `Feed` with a `feed_type` of `COURSE_ROSTER_CHANGES`.\nThis field must be
  specified if `feed_type` is `COURSE_ROSTER_CHANGES`.\";}s:21:\"courseWorkChangesInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/CourseWorkChangesInfo\";s:11:\"description\";s:141:\"Information
  about a `Feed` with a `feed_type` of `COURSE_WORK_CHANGES`.\nThis field must be
  specified if `feed_type` is `COURSE_WORK_CHANGES`.\";}s:8:\"feedType\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  type of feed.\";s:4:\"enum\";a:4:{i:0;s:21:\"FEED_TYPE_UNSPECIFIED\";i:1;s:21:\"DOMAIN_ROSTER_CHANGES\";i:2;s:21:\"COURSE_ROSTER_CHANGES\";i:3;s:19:\"COURSE_WORK_CHANGES\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Form\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Google
  Forms item.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"formUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"URL
  of the form.\";s:4:\"type\";s:6:\"string\";}s:11:\"responseUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"URL
  of the form responses document.\nOnly set if respsonses have been recorded and only
  when the\nrequesting user is an editor of the form.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:12:\"thumbnailUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"URL
  of a thumbnail image of the Form.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Title
  of the Form.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GlobalPermission\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Global
  user permission description.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"permission\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Permission
  value.\";s:4:\"enum\";a:2:{i:0;s:22:\"PERMISSION_UNSPECIFIED\";i:1;s:13:\"CREATE_COURSE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"GradeHistory\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  history of each grade on this submission.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"actorUserId\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  teacher who made the grade change.\";s:4:\"type\";s:6:\"string\";}s:15:\"gradeChangeType\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  type of grade change at this time in the submission grade history.\";s:4:\"enum\";a:4:{i:0;s:25:\"UNKNOWN_GRADE_CHANGE_TYPE\";i:1;s:32:\"DRAFT_GRADE_POINTS_EARNED_CHANGE\";i:2;s:35:\"ASSIGNED_GRADE_POINTS_EARNED_CHANGE\";i:3;s:17:\"MAX_POINTS_CHANGE\";}s:4:\"type\";s:6:\"string\";}s:14:\"gradeTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"When
  the grade of the submission was changed.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"maxPoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  denominator of the grade at this time in the submission grade\nhistory.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"pointsEarned\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  numerator of the grade at this time in the submission grade history.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Guardian\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Association
  between a student and a guardian of that student. The guardian\nmay receive information
  about the student's course work.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"guardianId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Identifier
  for the guardian.\";s:4:\"type\";s:6:\"string\";}s:15:\"guardianProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/UserProfile\";s:11:\"description\";s:30:\"User
  profile for the guardian.\";}s:19:\"invitedEmailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"The
  email address to which the initial guardian invitation was sent.\nThis field is
  only visible to domain administrators.\";s:4:\"type\";s:6:\"string\";}s:9:\"studentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Identifier
  for the student to whom the guardian relationship applies.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GuardianInvitation\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"An
  invitation to become the guardian of a specified user, sent to a specified\nemail
  address.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  time that this invitation was created.\n\nRead-only.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:12:\"invitationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Unique
  identifier for this invitation.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:19:\"invitedEmailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Email
  address that the invitation was sent to.\nThis field is only visible to domain administrators.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  state that this invitation is in.\";s:4:\"enum\";a:3:{i:0;s:37:\"GUARDIAN_INVITATION_STATE_UNSPECIFIED\";i:1;s:7:\"PENDING\";i:2;s:8:\"COMPLETE\";}s:4:\"type\";s:6:\"string\";}s:9:\"studentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"ID
  of the student (in standard format)\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"IndividualStudentsOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Assignee
  details about a coursework/announcement.\nThis field is set if and only if `assigneeMode`
  is `INDIVIDUAL_STUDENTS`.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"studentIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Identifiers
  for the students that have access to the\ncoursework/announcement.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Invitation\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"An
  invitation to join a course.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"courseId\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Identifier
  of the course to invite the user to.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Identifier
  assigned by Classroom.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Role
  to invite the user to have.\nMust not be `COURSE_ROLE_UNSPECIFIED`.\";s:4:\"enum\";a:4:{i:0;s:23:\"COURSE_ROLE_UNSPECIFIED\";i:1;s:7:\"STUDENT\";i:2;s:7:\"TEACHER\";i:3;s:5:\"OWNER\";}s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:259:\"Identifier
  of the invited user.\n\nWhen specified as a parameter of a request, this identifier
  can be set to\none of the following:\n\n* the numeric identifier for the user\n*
  the email address of the user\n* the string literal `\"me\"`, indicating the requesting
  user\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Link\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"URL
  item.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"thumbnailUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"URL
  of a thumbnail image of the target URL.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Title
  of the target of the URL.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"URL
  to link to.\nThis must be a valid UTF-8 string containing between 1 and 2024 characters.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListAnnouncementsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Response
  when listing course work.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"announcements\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Announcement
  items that match the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Announcement\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Token
  identifying the next page of results to return. If empty, no further\nresults are
  available.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListCourseAliasesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Response
  when listing course aliases.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"aliases\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  course aliases.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CourseAlias\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Token
  identifying the next page of results to return. If empty, no further\nresults are
  available.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListCourseWorkResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Response
  when listing course work.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"courseWork\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Course
  work items that match the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CourseWork\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Token
  identifying the next page of results to return. If empty, no further\nresults are
  available.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListCoursesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Response
  when listing courses.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"courses\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Courses
  that match the list request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Course\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Token
  identifying the next page of results to return. If empty, no further\nresults are
  available.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ListGuardianInvitationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Response
  when listing guardian invitations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"guardianInvitations\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Guardian
  invitations that matched the list request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/GuardianInvitation\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Token
  identifying the next page of results to return. If empty, no further\nresults are
  available.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListGuardiansResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Response
  when listing guardians.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"guardians\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Guardians
  on this page of results that met the criteria specified in\nthe request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Guardian\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Token
  identifying the next page of results to return. If empty, no further\nresults are
  available.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListInvitationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Response
  when listing invitations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"invitations\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Invitations
  that match the list request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Invitation\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Token
  identifying the next page of results to return. If empty, no further\nresults are
  available.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ListStudentSubmissionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Response
  when listing student submissions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Token
  identifying the next page of results to return. If empty, no further\nresults are
  available.\";s:4:\"type\";s:6:\"string\";}s:18:\"studentSubmissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Student
  work that matches the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StudentSubmission\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListStudentsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Response
  when listing students.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Token
  identifying the next page of results to return. If empty, no further\nresults are
  available.\";s:4:\"type\";s:6:\"string\";}s:8:\"students\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Students
  who match the list request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Student\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListTeachersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Response
  when listing teachers.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Token
  identifying the next page of results to return. If empty, no further\nresults are
  available.\";s:4:\"type\";s:6:\"string\";}s:8:\"teachers\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Teachers
  who match the list request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Teacher\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Material\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"Material
  attached to course work.\n\nWhen creating attachments, setting the `form` field
  is not supported.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"driveFile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SharedDriveFile\";s:11:\"description\";s:27:\"Google
  Drive file material.\";}s:4:\"form\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Form\";s:11:\"description\";s:22:\"Google
  Forms material.\";}s:4:\"link\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Link\";s:11:\"description\";s:128:\"Link
  material. On creation, will be upgraded to a more appropriate type\nif possible,
  and this will be reflected in the response.\";}s:12:\"youtubeVideo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/YouTubeVideo\";s:11:\"description\";s:23:\"YouTube
  video material.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"ModifyAnnouncementAssigneesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Request
  to modify assignee mode and options of an announcement.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"assigneeMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Mode
  of the announcement describing whether it will be accessible by all\nstudents or
  specified individual students.\";s:4:\"enum\";a:3:{i:0;s:25:\"ASSIGNEE_MODE_UNSPECIFIED\";i:1;s:12:\"ALL_STUDENTS\";i:2;s:19:\"INDIVIDUAL_STUDENTS\";}s:4:\"type\";s:6:\"string\";}s:31:\"modifyIndividualStudentsOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ModifyIndividualStudentsOptions\";s:11:\"description\";s:129:\"Set
  which students can view or cannot view the announcement.\nMust be specified only
  when `assigneeMode` is `INDIVIDUAL_STUDENTS`.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ModifyAttachmentsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Request
  to modify the attachments of a student submission.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"addAttachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"Attachments
  to add.\nA student submission may not have more than 20 attachments.\n\nForm attachments
  are not supported.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ModifyCourseWorkAssigneesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Request
  to modify assignee mode and options of a coursework.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"assigneeMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"Mode
  of the coursework describing whether it will be assigned to all\nstudents or specified
  individual students.\";s:4:\"enum\";a:3:{i:0;s:25:\"ASSIGNEE_MODE_UNSPECIFIED\";i:1;s:12:\"ALL_STUDENTS\";i:2;s:19:\"INDIVIDUAL_STUDENTS\";}s:4:\"type\";s:6:\"string\";}s:31:\"modifyIndividualStudentsOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ModifyIndividualStudentsOptions\";s:11:\"description\";s:135:\"Set
  which students are assigned or not assigned to the coursework.\nMust be specified
  only when `assigneeMode` is `INDIVIDUAL_STUDENTS`.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ModifyIndividualStudentsOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Contains
  fields to add or remove students from a course work or announcement\nwhere the `assigneeMode`
  is set to `INDIVIDUAL_STUDENTS`.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"addStudentIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Ids
  of students to be added as having access to this\ncoursework/announcement.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"removeStudentIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Ids
  of students to be removed from having access to this\ncoursework/announcement.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"MultipleChoiceQuestion\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Additional
  details for multiple-choice questions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"choices\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Possible
  choices.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"MultipleChoiceSubmission\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Student
  work for a multiple-choice question.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"answer\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Student's
  select choice.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Details
  of the user's name.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"familyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  user's last name.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  user's full name formed by concatenating the first and last name\nvalues.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:9:\"givenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  user's first name.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ReclaimStudentSubmissionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Request
  to reclaim a student submission.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"Registration\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"An
  instruction to Classroom to send notifications from the `feed` to the\nprovided
  destination.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"cloudPubsubTopic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CloudPubsubTopic\";s:11:\"description\";s:61:\"The
  Cloud Pub/Sub topic that notifications are to be sent to.\";}s:10:\"expiryTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  time until which the `Registration` is effective.\n\nThis is a read-only field assigned
  by the server.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:4:\"feed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Feed\";s:11:\"description\";s:94:\"Specification
  for the class of notifications that Classroom should deliver\nto the destination.\";}s:14:\"registrationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"A
  server-generated unique identifier for this `Registration`.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ReturnStudentSubmissionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Request
  to return a student submission.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"SharedDriveFile\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Drive
  file that is used as material for course work.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"driveFile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DriveFile\";s:11:\"description\";s:19:\"Drive
  file details.\";}s:9:\"shareMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Mechanism
  by which students access the Drive item.\";s:4:\"enum\";a:4:{i:0;s:18:\"UNKNOWN_SHARE_MODE\";i:1;s:4:\"VIEW\";i:2;s:4:\"EDIT\";i:3;s:12:\"STUDENT_COPY\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ShortAnswerSubmission\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Student
  work for a short answer question.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"answer\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Student
  response to a short-answer question.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"StateHistory\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  history of each state this submission has been in.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"actorUserId\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  teacher or student who made the change\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  workflow pipeline stage.\";s:4:\"enum\";a:6:{i:0;s:17:\"STATE_UNSPECIFIED\";i:1;s:7:\"CREATED\";i:2;s:9:\"TURNED_IN\";i:3;s:8:\"RETURNED\";i:4;s:20:\"RECLAIMED_BY_STUDENT\";i:5;s:28:\"STUDENT_EDITED_AFTER_TURN_IN\";}s:4:\"type\";s:6:\"string\";}s:14:\"stateTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"When
  the submission entered this state.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Student\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Student
  in a course.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"courseId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Identifier
  of the course.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:7:\"profile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/UserProfile\";s:11:\"description\";s:52:\"Global
  user information for the student.\n\nRead-only.\";}s:17:\"studentWorkFolder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DriveFolder\";s:11:\"description\";s:139:\"Information
  about a Drive Folder for this student's work in this course.\nOnly visible to the
  student and domain administrators.\n\nRead-only.\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:244:\"Identifier
  of the user.\n\nWhen specified as a parameter of a request, this identifier can
  be one of\nthe following:\n\n* the numeric identifier for the user\n* the email
  address of the user\n* the string literal `\"me\"`, indicating the requesting user\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"StudentSubmission\";O:8:\"stdClass\":3:{s:11:\"description\";s:230:\"Student
  submission for course work.\n\nStudentSubmission items are generated when a CourseWork
  item is created.\n\nStudentSubmissions that have never been accessed (i.e. with
  `state` = NEW)\nmay not have a creation time or update time.\";s:10:\"properties\";O:8:\"stdClass\":17:{s:13:\"alternateLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Absolute
  link to the submission in the Classroom web UI.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:13:\"assignedGrade\";O:8:\"stdClass\":3:{s:11:\"description\";s:213:\"Optional
  grade. If unset, no grade was set.\nThis value must be non-negative. Decimal (i.e.
  non-integer) values are\nallowed, but will be rounded to two decimal places.\n\nThis
  may be modified only by course teachers.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:20:\"assignmentSubmission\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AssignmentSubmission\";s:11:\"description\";s:136:\"Submission
  content when course_work_type is ASSIGNMENT.\n\nStudents can modify this content
  using\ngoogle.classroom.Work.ModifyAttachments.\";}s:23:\"associatedWithDeveloper\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"Whether
  this student submission is associated with the Developer Console\nproject making
  the request.\n\nSee google.classroom.Work.CreateCourseWork for more\ndetails.\n\nRead-only.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"courseId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Identifier
  of the course.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:12:\"courseWorkId\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Identifier
  for the course work this corresponds to.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:14:\"courseWorkType\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Type
  of course work this submission is for.\n\nRead-only.\";s:4:\"enum\";a:4:{i:0;s:28:\"COURSE_WORK_TYPE_UNSPECIFIED\";i:1;s:10:\"ASSIGNMENT\";i:2;s:21:\"SHORT_ANSWER_QUESTION\";i:3;s:24:\"MULTIPLE_CHOICE_QUESTION\";}s:4:\"type\";s:6:\"string\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Creation
  time of this submission.\nThis may be unset if the student has not accessed this
  item.\n\nRead-only.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:10:\"draftGrade\";O:8:\"stdClass\":3:{s:11:\"description\";s:234:\"Optional
  pending grade. If unset, no grade was set.\nThis value must be non-negative. Decimal
  (i.e. non-integer) values are\nallowed, but will be rounded to two decimal places.\n\nThis
  is only visible to and modifiable by course teachers.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Classroom-assigned
  Identifier for the student submission.\nThis is unique among submissions for the
  relevant course work.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:4:\"late\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Whether
  this submission is late.\n\nRead-only.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"multipleChoiceSubmission\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/MultipleChoiceSubmission\";s:11:\"description\";s:69:\"Submission
  content when course_work_type is MULTIPLE_CHOICE_QUESTION.\";}s:21:\"shortAnswerSubmission\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ShortAnswerSubmission\";s:11:\"description\";s:66:\"Submission
  content when course_work_type is SHORT_ANSWER_QUESTION.\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"State
  of this submission.\n\nRead-only.\";s:4:\"enum\";a:6:{i:0;s:28:\"SUBMISSION_STATE_UNSPECIFIED\";i:1;s:3:\"NEW\";i:2;s:7:\"CREATED\";i:3;s:9:\"TURNED_IN\";i:4;s:8:\"RETURNED\";i:5;s:20:\"RECLAIMED_BY_STUDENT\";}s:4:\"type\";s:6:\"string\";}s:17:\"submissionHistory\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  history of the submission (includes state and grade histories).\n\nRead-only.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SubmissionHistory\";}s:4:\"type\";s:5:\"array\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"Last
  update time of this submission.\nThis may be unset if the student has not accessed
  this item.\n\nRead-only.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Identifier
  for the student that owns this submission.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"SubmissionHistory\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  history of the submission. This currently includes state and grade\nhistories.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"gradeHistory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/GradeHistory\";s:11:\"description\";s:60:\"The
  grade history information of the submission, if present.\";}s:12:\"stateHistory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StateHistory\";s:11:\"description\";s:60:\"The
  state history information of the submission, if present.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Teacher\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Teacher
  of a course.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"courseId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Identifier
  of the course.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:7:\"profile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/UserProfile\";s:11:\"description\";s:52:\"Global
  user information for the teacher.\n\nRead-only.\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:244:\"Identifier
  of the user.\n\nWhen specified as a parameter of a request, this identifier can
  be one of\nthe following:\n\n* the numeric identifier for the user\n* the email
  address of the user\n* the string literal `\"me\"`, indicating the requesting user\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"TimeOfDay\";O:8:\"stdClass\":3:{s:11:\"description\";s:212:\"Represents
  a time of day. The date and time zone are either not significant\nor are specified
  elsewhere. An API may choose to allow leap seconds. Related\ntypes are google.type.Date
  and `google.protobuf.Timestamp`.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"hours\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"Hours
  of day in 24 hour format. Should be from 0 to 23. An API may choose\nto allow the
  value \"24:00:00\" for scenarios like business closing time.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"minutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Minutes
  of hour of day. Must be from 0 to 59.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"nanos\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Fractions
  of seconds in nanoseconds. Must be from 0 to 999,999,999.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"seconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"Seconds
  of minutes of the time. Must normally be from 0 to 59. An API may\nallow the value
  60 if it allows leap-seconds.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:30:\"TurnInStudentSubmissionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Request
  to turn in a student submission.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"UserProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Global
  information for a user.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Email
  address of the user.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Identifier
  of the user.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:11:\"description\";s:29:\"Name
  of the user.\n\nRead-only.\";}s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Global
  permissions of the user.\n\nRead-only.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/GlobalPermission\";}s:4:\"type\";s:5:\"array\";}s:8:\"photoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"URL
  of user's profile photo.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:15:\"verifiedTeacher\";O:8:\"stdClass\":2:{s:11:\"description\";s:231:\"Represents
  whether a G Suite for Education user's domain administrator has\nexplicitly verified
  them as being a teacher. If the user is not a member of\na G Suite for Education
  domain, than this field will always be false.\n\nRead-only\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:12:\"YouTubeVideo\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"YouTube
  video item.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"alternateLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"URL
  that can be used to view the YouTube video.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"YouTube
  API resource ID.\";s:4:\"type\";s:6:\"string\";}s:12:\"thumbnailUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"URL
  of a thumbnail image of the YouTube video.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Title
  of the YouTube video.\n\nRead-only.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
