---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":13:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:24:\"Amazon
  Kinesis Analytics\";s:7:\"version\";s:10:\"2015-08-14\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:100:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/kinesisanalytics-2015-08-14.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:16:\"kinesisanalytics\";}"
host: kinesisanalytics.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":145:{s:44:\"AddApplicationCloudWatchLoggingOptionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:39:\"The
  Kinesis Analytics application name.\";}s:23:\"CloudWatchLoggingOption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/CloudWatchLoggingOption\";s:11:\"description\";s:223:\"Provides
  the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note:
  To write application messages to CloudWatch, the IAM role that is used must have
  the <code>PutLogEvents</code> policy action enabled.\";}s:27:\"CurrentApplicationVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ApplicationVersionId\";s:11:\"description\";s:52:\"The
  version ID of the Kinesis Analytics application.\";}}s:8:\"required\";a:3:{i:0;s:15:\"ApplicationName\";i:1;s:27:\"CurrentApplicationVersionId\";i:2;s:23:\"CloudWatchLoggingOption\";}s:4:\"type\";s:6:\"object\";}s:45:\"AddApplicationCloudWatchLoggingOptionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:49:\"AddApplicationInputProcessingConfigurationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:84:\"Name
  of the application to which you want to add the input processing configuration.\";}s:27:\"CurrentApplicationVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ApplicationVersionId\";s:11:\"description\";s:295:\"Version
  of the application to which you want to add the input processing configuration.
  You can use the <a>DescribeApplication</a> operation to get the current application
  version. If the version specified is not the current version, the <code>ConcurrentModificationException</code>
  is returned.\";}s:7:\"InputId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:182:\"The
  ID of the input configuration to add the input processing configuration to. You
  can get a list of the input IDs for an application using the <a>DescribeApplication</a>
  operation.\";}s:28:\"InputProcessingConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/InputProcessingConfiguration\";s:11:\"description\";s:66:\"The
  <a>InputProcessingConfiguration</a> to add to the application.\";}}s:8:\"required\";a:4:{i:0;s:15:\"ApplicationName\";i:1;s:27:\"CurrentApplicationVersionId\";i:2;s:7:\"InputId\";i:3;s:28:\"InputProcessingConfiguration\";}s:4:\"type\";s:6:\"object\";}s:50:\"AddApplicationInputProcessingConfigurationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"AddApplicationInputRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:105:\"Name
  of your existing Amazon Kinesis Analytics application to which you want to add the
  streaming source.\";}s:27:\"CurrentApplicationVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ApplicationVersionId\";s:11:\"description\";s:155:\"Current
  version of your Amazon Kinesis Analytics application. You can use the <a>DescribeApplication</a>
  operation to find the current application version.\";}s:5:\"Input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Input\";s:11:\"description\";s:24:\"The
  <a>Input</a> to add.\";}}s:8:\"required\";a:3:{i:0;s:15:\"ApplicationName\";i:1;s:27:\"CurrentApplicationVersionId\";i:2;s:5:\"Input\";}s:4:\"type\";s:6:\"object\";}s:27:\"AddApplicationInputResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"AddApplicationOutputRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:74:\"Name
  of the application to which you want to add the output configuration.\";}s:27:\"CurrentApplicationVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ApplicationVersionId\";s:11:\"description\";s:286:\"Version
  of the application to which you want to add the output configuration. You can use
  the <a>DescribeApplication</a> operation to get the current application version.
  If the version specified is not the current version, the <code>ConcurrentModificationException</code>
  is returned. \";}s:6:\"Output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Output\";s:11:\"description\";s:328:\"An
  array of objects, each describing one output configuration. In the output configuration,
  you specify the name of an in-application stream, a destination (that is, an Amazon
  Kinesis stream, an Amazon Kinesis Firehose delivery stream, or an AWS Lambda function),
  and record the formation to use when writing to the destination.\";}}s:8:\"required\";a:3:{i:0;s:15:\"ApplicationName\";i:1;s:27:\"CurrentApplicationVersionId\";i:2;s:6:\"Output\";}s:4:\"type\";s:6:\"object\";}s:28:\"AddApplicationOutputResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:40:\"AddApplicationReferenceDataSourceRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:32:\"Name
  of an existing application.\";}s:27:\"CurrentApplicationVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ApplicationVersionId\";s:11:\"description\";s:286:\"Version
  of the application for which you are adding the reference data source. You can use
  the <a>DescribeApplication</a> operation to get the current application version.
  If the version specified is not the current version, the <code>ConcurrentModificationException</code>
  is returned.\";}s:19:\"ReferenceDataSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ReferenceDataSource\";s:11:\"description\";s:437:\"The
  reference data source can be an object in your Amazon S3 bucket. Amazon Kinesis
  Analytics reads the object and copies the data into the in-application table that
  is created. You provide an S3 bucket, object key name, and the resulting in-application
  table that is created. You must also provide an IAM role with the necessary permissions
  that Amazon Kinesis Analytics can assume to read the object from your S3 bucket
  on your behalf.\";}}s:8:\"required\";a:3:{i:0;s:15:\"ApplicationName\";i:1;s:27:\"CurrentApplicationVersionId\";i:2;s:19:\"ReferenceDataSource\";}s:4:\"type\";s:6:\"object\";}s:41:\"AddApplicationReferenceDataSourceResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"ApplicationCode\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:102400;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:22:\"ApplicationDescription\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:17:\"ApplicationDetail\";O:8:\"stdClass\":4:{s:11:\"description\";s:156:\"Provides
  a description of the application, including the application Amazon Resource Name
  (ARN), status, latest version, and input and output configuration.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:14:\"ApplicationARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:23:\"ARN
  of the application.\";}s:15:\"ApplicationCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationCode\";s:11:\"description\";s:129:\"Returns
  the application code that you provided to perform data analysis on any of the in-application
  streams in your application.\";}s:22:\"ApplicationDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ApplicationDescription\";s:11:\"description\";s:31:\"Description
  of the application.\";}s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:24:\"Name
  of the application.\";}s:17:\"ApplicationStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ApplicationStatus\";s:11:\"description\";s:26:\"Status
  of the application.\";}s:20:\"ApplicationVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ApplicationVersionId\";s:11:\"description\";s:41:\"Provides
  the current application version.\";}s:35:\"CloudWatchLoggingOptionDescriptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/CloudWatchLoggingOptionDescriptions\";s:11:\"description\";s:321:\"Describes
  the CloudWatch log streams that are configured to receive application messages.
  For more information about using CloudWatch log streams with Amazon Kinesis Analytics
  applications, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/cloudwatch-logs.html\">Working
  with Amazon CloudWatch Logs</a>. \";}s:15:\"CreateTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:52:\"Time
  stamp when the application version was created.\";}s:17:\"InputDescriptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/InputDescriptions\";s:11:\"description\";s:197:\"Describes
  the application input configuration. For more information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring
  Application Input</a>. \";}s:19:\"LastUpdateTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:49:\"Time
  stamp when the application was last updated.\";}s:18:\"OutputDescriptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/OutputDescriptions\";s:11:\"description\";s:200:\"Describes
  the application output configuration. For more information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Configuring
  Application Output</a>. \";}s:31:\"ReferenceDataSourceDescriptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ReferenceDataSourceDescriptions\";s:11:\"description\";s:215:\"Describes
  reference data sources configured for the application. For more information, see
  <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring
  Application Input</a>. \";}}s:8:\"required\";a:4:{i:0;s:15:\"ApplicationName\";i:1;s:14:\"ApplicationARN\";i:2;s:17:\"ApplicationStatus\";i:3;s:20:\"ApplicationVersionId\";}s:4:\"type\";s:6:\"object\";}s:15:\"ApplicationName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:15:\"[a-zA-Z0-9_.-]+\";s:4:\"type\";s:6:\"string\";}s:17:\"ApplicationStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:8:\"DELETING\";i:1;s:8:\"STARTING\";i:2;s:8:\"STOPPING\";i:3;s:5:\"READY\";i:4;s:7:\"RUNNING\";i:5;s:8:\"UPDATING\";}s:4:\"type\";s:6:\"string\";}s:20:\"ApplicationSummaries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ApplicationSummary\";}s:4:\"type\";s:5:\"array\";}s:18:\"ApplicationSummary\";O:8:\"stdClass\":4:{s:11:\"description\";s:113:\"Provides
  application summary information, including the application Amazon Resource Name
  (ARN), name, and status.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"ApplicationARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:23:\"ARN
  of the application.\";}s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:24:\"Name
  of the application.\";}s:17:\"ApplicationStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ApplicationStatus\";s:11:\"description\";s:26:\"Status
  of the application.\";}}s:8:\"required\";a:3:{i:0;s:15:\"ApplicationName\";i:1;s:14:\"ApplicationARN\";i:2;s:17:\"ApplicationStatus\";}s:4:\"type\";s:6:\"object\";}s:17:\"ApplicationUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Describes
  updates to apply to an existing Amazon Kinesis Analytics application.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:21:\"ApplicationCodeUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationCode\";s:11:\"description\";s:35:\"Describes
  application code updates.\";}s:30:\"CloudWatchLoggingOptionUpdates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/CloudWatchLoggingOptionUpdates\";s:11:\"description\";s:56:\"Describes
  application CloudWatch logging option updates.\";}s:12:\"InputUpdates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/InputUpdates\";s:11:\"description\";s:50:\"Describes
  application input configuration updates.\";}s:13:\"OutputUpdates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OutputUpdates\";s:11:\"description\";s:51:\"Describes
  application output configuration updates.\";}s:26:\"ReferenceDataSourceUpdates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ReferenceDataSourceUpdates\";s:11:\"description\";s:52:\"Describes
  application reference data source updates.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ApplicationVersionId\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:999999999;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:13:\"BooleanObject\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"BucketARN\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:1;s:7:\"pattern\";s:6:\"arn:.*\";s:4:\"type\";s:6:\"string\";}s:20:\"CSVMappingParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:344:\"<p>Provides
  additional mapping information when the record format uses delimiters, such as CSV.
  For example, the following sample records use CSV format, where the records use
  the <i>'\\n'</i> as the row delimiter and a comma (\",\") as the column delimiter:
  </p> <p> <code>\"name1\", \"address1\"</code> </p> <p> <code>\"name2\", \"address2\"</code>
  </p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"RecordColumnDelimiter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/RecordColumnDelimiter\";s:11:\"description\";s:94:\"Column
  delimiter. For example, in a CSV format, a comma (\",\") is the typical column delimiter.\";}s:18:\"RecordRowDelimiter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/RecordRowDelimiter\";s:11:\"description\";s:86:\"Row
  delimiter. For example, in a CSV format, <i>'\\n'</i> is the typical row delimiter.\";}}s:8:\"required\";a:2:{i:0;s:18:\"RecordRowDelimiter\";i:1;s:21:\"RecordColumnDelimiter\";}s:4:\"type\";s:6:\"object\";}s:23:\"CloudWatchLoggingOption\";O:8:\"stdClass\":4:{s:11:\"description\";s:123:\"Provides
  a description of CloudWatch logging options, including the log stream Amazon Resource
  Name (ARN) and the role ARN.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LogStreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogStreamARN\";s:11:\"description\";s:58:\"ARN
  of the CloudWatch log to receive application messages.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:196:\"IAM
  ARN of the role to use to send application messages. Note: To write application
  messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code>
  policy action enabled.\";}}s:8:\"required\";a:2:{i:0;s:12:\"LogStreamARN\";i:1;s:7:\"RoleARN\";}s:4:\"type\";s:6:\"object\";}s:34:\"CloudWatchLoggingOptionDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Description
  of the CloudWatch logging option.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:25:\"CloudWatchLoggingOptionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:48:\"ID
  of the CloudWatch logging option description.\";}s:12:\"LogStreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogStreamARN\";s:11:\"description\";s:58:\"ARN
  of the CloudWatch log to receive application messages.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:188:\"IAM
  ARN of the role to use to send application messages. Note: To write application
  messages to CloudWatch, the IAM role used must have the <code>PutLogEvents</code>
  policy action enabled.\";}}s:8:\"required\";a:2:{i:0;s:12:\"LogStreamARN\";i:1;s:7:\"RoleARN\";}s:4:\"type\";s:6:\"object\";}s:35:\"CloudWatchLoggingOptionDescriptions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/CloudWatchLoggingOptionDescription\";}s:4:\"type\";s:5:\"array\";}s:29:\"CloudWatchLoggingOptionUpdate\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Describes
  CloudWatch logging option updates.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:25:\"CloudWatchLoggingOptionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:45:\"ID
  of the CloudWatch logging option to update\";}s:18:\"LogStreamARNUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogStreamARN\";s:11:\"description\";s:58:\"ARN
  of the CloudWatch log to receive application messages.\";}s:13:\"RoleARNUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:188:\"IAM
  ARN of the role to use to send application messages. Note: To write application
  messages to CloudWatch, the IAM role used must have the <code>PutLogEvents</code>
  policy action enabled.\";}}s:8:\"required\";a:1:{i:0;s:25:\"CloudWatchLoggingOptionId\";}s:4:\"type\";s:6:\"object\";}s:30:\"CloudWatchLoggingOptionUpdates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/CloudWatchLoggingOptionUpdate\";}s:4:\"type\";s:5:\"array\";}s:24:\"CloudWatchLoggingOptions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CloudWatchLoggingOption\";}s:4:\"type\";s:5:\"array\";}s:23:\"CodeValidationException\";O:8:\"stdClass\":0:{}s:31:\"ConcurrentModificationException\";O:8:\"stdClass\":0:{}s:24:\"CreateApplicationRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:3:\"TBD\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"ApplicationCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationCode\";s:11:\"description\";s:1018:\"<p>One
  or more SQL statements that read input data, transform it, and generate output.
  For example, you can write a SQL statement that reads data from one in-application
  stream, generates a running average of the number of advertisement clicks by vendor,
  and insert resulting rows in another in-application stream using pumps. For more
  information about the typical pattern, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-app-code.html\">Application
  Code</a>. </p> <p>You can provide such series of SQL statements, where output of
  one statement can be used as the input for the next statement. You store intermediate
  results by creating in-application streams and pumps.</p> <p>Note that the application
  code must create the streams with names specified in the <code>Outputs</code>. For
  example, if your <code>Outputs</code> defines output streams named <code>ExampleOutputStream1</code>
  and <code>ExampleOutputStream2</code>, then your application code must create these
  streams. </p>\";}s:22:\"ApplicationDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ApplicationDescription\";s:11:\"description\";s:39:\"Summary
  description of the application.\";}s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:89:\"Name
  of your Amazon Kinesis Analytics application (for example, <code>sample-app</code>).\";}s:24:\"CloudWatchLoggingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CloudWatchLoggingOptions\";s:11:\"description\";s:253:\"Use
  this parameter to configure a CloudWatch log stream to monitor application configuration
  errors. For more information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/cloudwatch-logs.html\">Working
  with Amazon CloudWatch Logs</a>.\";}s:6:\"Inputs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Inputs\";s:11:\"description\";s:902:\"<p>Use
  this parameter to configure the application input.</p> <p>You can configure your
  application to receive input from a single streaming source. In this configuration,
  you map this streaming source to an in-application stream that is created. Your
  application code can then query the in-application stream like a table (you can
  think of it as a constantly updating table).</p> <p>For the streaming source, you
  provide its Amazon Resource Name (ARN) and format of data on the stream (for example,
  JSON, CSV, etc.). You also must provide an IAM role that Amazon Kinesis Analytics
  can assume to read this stream on your behalf.</p> <p>To create the in-application
  stream, you need to specify a schema to transform your data into a schematized version
  used in SQL. In the schema, you provide the necessary mapping of the data elements
  in the streaming source to record columns in the in-app stream.</p>\";}s:7:\"Outputs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Outputs\";s:11:\"description\";s:935:\"<p>You
  can configure application output to write data from any of the in-application streams
  to up to three destinations.</p> <p>These destinations can be Amazon Kinesis streams,
  Amazon Kinesis Firehose delivery streams, AWS Lambda destinations, or any combination
  of the three.</p> <p>In the configuration, you specify the in-application stream
  name, the destination stream or Lambda function Amazon Resource Name (ARN), and
  the format to use when writing data. You must also provide an IAM role that Amazon
  Kinesis Analytics can assume to write to the destination stream or Lambda function
  on your behalf.</p> <p>In the output configuration, you also provide the output
  stream or Lambda function ARN. For stream destinations, you provide the format of
  data in the stream (for example, JSON, CSV). You also must provide an IAM role that
  Amazon Kinesis Analytics can assume to write to the stream or Lambda function on
  your behalf.</p>\";}}s:8:\"required\";a:1:{i:0;s:15:\"ApplicationName\";}s:4:\"type\";s:6:\"object\";}s:25:\"CreateApplicationResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:3:\"TBD\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"ApplicationSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ApplicationSummary\";s:11:\"description\";s:221:\"In
  response to your <code>CreateApplication</code> request, Amazon Kinesis Analytics
  returns a response with a summary of the application it created, including the application
  Amazon Resource Name (ARN), name, and status.\";}}s:8:\"required\";a:1:{i:0;s:18:\"ApplicationSummary\";}s:4:\"type\";s:6:\"object\";}s:47:\"DeleteApplicationCloudWatchLoggingOptionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:39:\"The
  Kinesis Analytics application name.\";}s:25:\"CloudWatchLoggingOptionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:193:\"The
  <code>CloudWatchLoggingOptionId</code> of the CloudWatch logging option to delete.
  You can get the <code>CloudWatchLoggingOptionId</code> by using the <a>DescribeApplication</a>
  operation. \";}s:27:\"CurrentApplicationVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ApplicationVersionId\";s:11:\"description\";s:52:\"The
  version ID of the Kinesis Analytics application.\";}}s:8:\"required\";a:3:{i:0;s:15:\"ApplicationName\";i:1;s:27:\"CurrentApplicationVersionId\";i:2;s:25:\"CloudWatchLoggingOptionId\";}s:4:\"type\";s:6:\"object\";}s:48:\"DeleteApplicationCloudWatchLoggingOptionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:52:\"DeleteApplicationInputProcessingConfigurationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:39:\"The
  Kinesis Analytics application name.\";}s:27:\"CurrentApplicationVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ApplicationVersionId\";s:11:\"description\";s:52:\"The
  version ID of the Kinesis Analytics application.\";}s:7:\"InputId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:196:\"The
  ID of the input configuration from which to delete the input processing configuration.
  You can get a list of the input IDs for an application by using the <a>DescribeApplication</a>
  operation.\";}}s:8:\"required\";a:3:{i:0;s:15:\"ApplicationName\";i:1;s:27:\"CurrentApplicationVersionId\";i:2;s:7:\"InputId\";}s:4:\"type\";s:6:\"object\";}s:53:\"DeleteApplicationInputProcessingConfigurationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"DeleteApplicationOutputRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:42:\"Amazon
  Kinesis Analytics application name.\";}s:27:\"CurrentApplicationVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ApplicationVersionId\";s:11:\"description\";s:254:\"Amazon
  Kinesis Analytics application version. You can use the <a>DescribeApplication</a>
  operation to get the current application version. If the version specified is not
  the current version, the <code>ConcurrentModificationException</code> is returned.
  \";}s:8:\"OutputId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:442:\"The
  ID of the configuration to delete. Each output configuration that is added to the
  application, either when the application is created or later using the <a>AddApplicationOutput</a>
  operation, has a unique ID. You need to provide the ID to uniquely identify the
  output configuration that you want to delete from the application configuration.
  You can use the <a>DescribeApplication</a> operation to get the specific <code>OutputId</code>.
  \";}}s:8:\"required\";a:3:{i:0;s:15:\"ApplicationName\";i:1;s:27:\"CurrentApplicationVersionId\";i:2;s:8:\"OutputId\";}s:4:\"type\";s:6:\"object\";}s:31:\"DeleteApplicationOutputResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:43:\"DeleteApplicationReferenceDataSourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:32:\"Name
  of an existing application.\";}s:27:\"CurrentApplicationVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ApplicationVersionId\";s:11:\"description\";s:235:\"Version
  of the application. You can use the <a>DescribeApplication</a> operation to get
  the current application version. If the version specified is not the current version,
  the <code>ConcurrentModificationException</code> is returned.\";}s:11:\"ReferenceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:260:\"ID
  of the reference data source. When you add a reference data source to your application
  using the <a>AddApplicationReferenceDataSource</a>, Amazon Kinesis Analytics assigns
  an ID. You can use the <a>DescribeApplication</a> operation to get the reference
  ID. \";}}s:8:\"required\";a:3:{i:0;s:15:\"ApplicationName\";i:1;s:27:\"CurrentApplicationVersionId\";i:2;s:11:\"ReferenceId\";}s:4:\"type\";s:6:\"object\";}s:44:\"DeleteApplicationReferenceDataSourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteApplicationRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:59:\"Name
  of the Amazon Kinesis Analytics application to delete.\";}s:15:\"CreateTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:79:\"
  You can use the <code>DescribeApplication</code> operation to get this value. \";}}s:8:\"required\";a:2:{i:0;s:15:\"ApplicationName\";i:1;s:15:\"CreateTimestamp\";}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteApplicationResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeApplicationRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:24:\"Name
  of the application.\";}}s:8:\"required\";a:1:{i:0;s:15:\"ApplicationName\";}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeApplicationResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"ApplicationDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ApplicationDetail\";s:11:\"description\";s:162:\"Provides
  a description of the application, such as the application Amazon Resource Name (ARN),
  status, latest version, and input and output configuration details.\";}}s:8:\"required\";a:1:{i:0;s:17:\"ApplicationDetail\";}s:4:\"type\";s:6:\"object\";}s:17:\"DestinationSchema\";O:8:\"stdClass\":4:{s:11:\"description\";s:223:\"Describes
  the data format when records are written to the destination. For more information,
  see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Configuring
  Application Output</a>. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"RecordFormatType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RecordFormatType\";s:11:\"description\";s:57:\"Specifies
  the format of the records on the output stream.\";}}s:8:\"required\";a:1:{i:0;s:16:\"RecordFormatType\";}s:4:\"type\";s:6:\"object\";}s:26:\"DiscoverInputSchemaRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:28:\"InputProcessingConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/InputProcessingConfiguration\";s:11:\"description\";s:118:\"The
  <a>InputProcessingConfiguration</a> to use to preprocess the records before discovering
  the schema of the records.\";}s:34:\"InputStartingPositionConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/InputStartingPositionConfiguration\";s:11:\"description\";s:129:\"Point
  at which you want Amazon Kinesis Analytics to start reading records from the specified
  streaming source discovery purposes.\";}s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:51:\"Amazon
  Resource Name (ARN) of the streaming source.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:97:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to access the stream on
  your behalf.\";}s:15:\"S3Configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/S3Configuration\";s:11:\"description\";s:77:\"Specify
  this parameter to discover a schema from data in an Amazon S3 object.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DiscoverInputSchemaResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"InputSchema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SourceSchema\";s:11:\"description\";s:209:\"Schema
  inferred from the streaming source. It identifies the format of the data in the
  streaming source and how each data element maps to corresponding columns in the
  in-application stream that you can create.\";}s:18:\"ParsedInputRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ParsedInputRecords\";s:11:\"description\";s:126:\"An
  array of elements, where each element corresponds to a row in a stream record (a
  stream record can have more than one row).\";}s:21:\"ProcessedInputRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ProcessedInputRecords\";s:11:\"description\";s:116:\"Stream
  data that was modified by the processor specified in the <code>InputProcessingConfiguration</code>
  parameter.\";}s:15:\"RawInputRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RawInputRecords\";s:11:\"description\";s:53:\"Raw
  stream data that was sampled to infer the schema.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"FileKey\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:50;s:9:\"minLength\";i:1;s:7:\"pattern\";s:15:\"[a-zA-Z0-9_.-]+\";s:4:\"type\";s:6:\"string\";}s:15:\"InAppStreamName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:32;s:9:\"minLength\";i:1;s:7:\"pattern\";s:21:\"[a-zA-Z][a-zA-Z0-9_]+\";s:4:\"type\";s:6:\"string\";}s:16:\"InAppStreamNames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/InAppStreamName\";}s:4:\"type\";s:5:\"array\";}s:14:\"InAppTableName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:32;s:9:\"minLength\";i:1;s:7:\"pattern\";s:21:\"[a-zA-Z][a-zA-Z0-9_]+\";s:4:\"type\";s:6:\"string\";}s:5:\"Input\";O:8:\"stdClass\":4:{s:11:\"description\";s:307:\"When
  you configure the application input, you specify the streaming source, the in-application
  stream name that is created, and the mapping between the two. For more information,
  see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring
  Application Input</a>. \";s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"InputParallelism\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InputParallelism\";s:11:\"description\";s:280:\"<p>Describes
  the number of in-application streams to create. </p> <p>Data from your source is
  routed to these in-application input streams.</p> <p> (see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring
  Application Input</a>.</p>\";}s:28:\"InputProcessingConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/InputProcessingConfiguration\";s:11:\"description\";s:267:\"The
  <a>InputProcessingConfiguration</a> for the input. An input processor transforms
  records as they are received from the stream, before the application's SQL code
  executes. Currently, the only input processing configuration available is <a>InputLambdaProcessor</a>.\";}s:11:\"InputSchema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SourceSchema\";s:11:\"description\";s:242:\"<p>Describes
  the format of the data in the streaming source, and how each data element maps to
  corresponding columns in the in-application stream that is being created.</p> <p>Also
  used to describe the format of the reference data source.</p>\";}s:20:\"KinesisFirehoseInput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/KinesisFirehoseInput\";s:11:\"description\";s:308:\"<p>If
  the streaming source is an Amazon Kinesis Firehose delivery stream, identifies the
  delivery stream's ARN and an IAM role that enables Amazon Kinesis Analytics to access
  the stream on your behalf.</p> <p>Note: Either <code>KinesisStreamsInput</code>
  or <code>KinesisFirehoseInput</code> is required.</p>\";}s:19:\"KinesisStreamsInput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/KinesisStreamsInput\";s:11:\"description\";s:304:\"<p>If
  the streaming source is an Amazon Kinesis stream, identifies the stream's Amazon
  Resource Name (ARN) and an IAM role that enables Amazon Kinesis Analytics to access
  the stream on your behalf.</p> <p>Note: Either <code>KinesisStreamsInput</code>
  or <code>KinesisFirehoseInput</code> is required.</p>\";}s:10:\"NamePrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InAppStreamName\";s:11:\"description\";s:334:\"Name
  prefix to use when creating an in-application stream. Suppose that you specify a
  prefix \"MyInApplicationStream.\" Amazon Kinesis Analytics then creates one or more
  (as per the <code>InputParallelism</code> count you specified) in-application streams
  with names \"MyInApplicationStream_001,\" \"MyInApplicationStream_002,\" and so
  on. \";}}s:8:\"required\";a:2:{i:0;s:10:\"NamePrefix\";i:1;s:11:\"InputSchema\";}s:4:\"type\";s:6:\"object\";}s:18:\"InputConfiguration\";O:8:\"stdClass\":4:{s:11:\"description\";s:195:\"When
  you start your application, you provide this configuration, which identifies the
  input source and the point in the input source at which you want the application
  to start processing records.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:89:\"Input
  source ID. You can get this ID by calling the <a>DescribeApplication</a> operation.\";}s:34:\"InputStartingPositionConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/InputStartingPositionConfiguration\";s:11:\"description\";s:94:\"Point
  at which you want the application to start processing records from the streaming
  source.\";}}s:8:\"required\";a:2:{i:0;s:2:\"Id\";i:1;s:34:\"InputStartingPositionConfiguration\";}s:4:\"type\";s:6:\"object\";}s:19:\"InputConfigurations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/InputConfiguration\";}s:4:\"type\";s:5:\"array\";}s:16:\"InputDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:197:\"Describes
  the application input configuration. For more information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring
  Application Input</a>. \";s:10:\"properties\";O:8:\"stdClass\":9:{s:16:\"InAppStreamNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InAppStreamNames\";s:11:\"description\";s:77:\"Returns
  the in-application stream names that are mapped to the stream source.\";}s:7:\"InputId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:158:\"Input
  ID associated with the application input. This is the ID that Amazon Kinesis Analytics
  assigns to each input configuration you add to your application. \";}s:16:\"InputParallelism\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InputParallelism\";s:11:\"description\";s:103:\"Describes
  the configured parallelism (number of in-application streams mapped to the streaming
  source).\";}s:39:\"InputProcessingConfigurationDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/InputProcessingConfigurationDescription\";s:11:\"description\";s:112:\"The
  description of the preprocessor that executes on records in this input before the
  application's code is run.\";}s:11:\"InputSchema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SourceSchema\";s:11:\"description\";s:166:\"Describes
  the format of the data in the streaming source, and how each data element maps to
  corresponding columns in the in-application stream that is being created. \";}s:34:\"InputStartingPositionConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/InputStartingPositionConfiguration\";s:11:\"description\";s:75:\"Point
  at which the application is configured to read from the input stream.\";}s:31:\"KinesisFirehoseInputDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/KinesisFirehoseInputDescription\";s:11:\"description\";s:208:\"If
  an Amazon Kinesis Firehose delivery stream is configured as a streaming source,
  provides the delivery stream's ARN and an IAM role that enables Amazon Kinesis Analytics
  to access the stream on your behalf.\";}s:30:\"KinesisStreamsInputDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/KinesisStreamsInputDescription\";s:11:\"description\";s:213:\"If
  an Amazon Kinesis stream is configured as streaming source, provides Amazon Kinesis
  stream's Amazon Resource Name (ARN) and an IAM role that enables Amazon Kinesis
  Analytics to access the stream on your behalf.\";}s:10:\"NamePrefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InAppStreamName\";s:11:\"description\";s:27:\"In-application
  name prefix.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"InputDescriptions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/InputDescription\";}s:4:\"type\";s:5:\"array\";}s:20:\"InputLambdaProcessor\";O:8:\"stdClass\":4:{s:11:\"description\";s:267:\"An
  object that contains the Amazon Resource Name (ARN) of the <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS
  Lambda</a> function that is used to preprocess records in the stream, and the ARN
  of the IAM role that is used to access the AWS Lambda function. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:133:\"The
  ARN of the <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS Lambda</a>
  function that operates on records in the stream.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:71:\"The
  ARN of the IAM role that is used to access the AWS Lambda function.\";}}s:8:\"required\";a:2:{i:0;s:11:\"ResourceARN\";i:1;s:7:\"RoleARN\";}s:4:\"type\";s:6:\"object\";}s:31:\"InputLambdaProcessorDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:268:\"An
  object that contains the Amazon Resource Name (ARN) of the <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS
  Lambda</a> function that is used to preprocess records in the stream, and the ARN
  of the IAM role that is used to access the AWS Lambda expression.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:147:\"The
  ARN of the <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS Lambda</a>
  function that is used to preprocess the records in the stream.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:71:\"The
  ARN of the IAM role that is used to access the AWS Lambda function.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"InputLambdaProcessorUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"Represents
  an update to the <a>InputLambdaProcessor</a> that is used to preprocess the records
  in the stream.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ResourceARNUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:174:\"The
  Amazon Resource Name (ARN) of the new <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS
  Lambda</a> function that is used to preprocess the records in the stream.\";}s:13:\"RoleARNUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:75:\"The
  ARN of the new IAM role that is used to access the AWS Lambda function.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"InputParallelism\";O:8:\"stdClass\":3:{s:11:\"description\";s:250:\"Describes
  the number of in-application streams to create for a given streaming source. For
  information about parallelism, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring
  Application Input</a>. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Count\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/InputParallelismCount\";s:11:\"description\";s:159:\"Number
  of in-application streams to create. For more information, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html\">Limits</a>.
  \";}}s:4:\"type\";s:6:\"object\";}s:21:\"InputParallelismCount\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:64;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:22:\"InputParallelismUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Provides
  updates to the parallelism count.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"CountUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/InputParallelismCount\";s:11:\"description\";s:78:\"Number
  of in-application streams to create for the specified streaming source.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"InputProcessingConfiguration\";O:8:\"stdClass\":4:{s:11:\"description\";s:259:\"Provides
  a description of a processor that is used to preprocess the records in the stream
  before being processed by your application code. Currently, the only input processor
  available is <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS Lambda</a>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"InputLambdaProcessor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/InputLambdaProcessor\";s:11:\"description\";s:133:\"The
  <a>InputLambdaProcessor</a> that is used to preprocess the records in the stream
  before being processed by your application code.\";}}s:8:\"required\";a:1:{i:0;s:20:\"InputLambdaProcessor\";}s:4:\"type\";s:6:\"object\";}s:39:\"InputProcessingConfigurationDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:180:\"Provides
  configuration information about an input processor. Currently, the only input processor
  available is <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS Lambda</a>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:31:\"InputLambdaProcessorDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/InputLambdaProcessorDescription\";s:11:\"description\";s:95:\"Provides
  configuration information about the associated <a>InputLambdaProcessorDescription</a>.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"InputProcessingConfigurationUpdate\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Describes
  updates to an <a>InputProcessingConfiguration</a>. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:26:\"InputLambdaProcessorUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/InputLambdaProcessorUpdate\";s:11:\"description\";s:63:\"Provides
  update information for an <a>InputLambdaProcessor</a>.\";}}s:8:\"required\";a:1:{i:0;s:26:\"InputLambdaProcessorUpdate\";}s:4:\"type\";s:6:\"object\";}s:17:\"InputSchemaUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Describes
  updates for the application's input schema.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"RecordColumnUpdates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordColumns\";s:11:\"description\";s:169:\"A
  list of <code>RecordColumn</code> objects. Each object describes the mapping of
  the streaming source element to the corresponding column in the in-application stream.
  \";}s:20:\"RecordEncodingUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RecordEncoding\";s:11:\"description\";s:82:\"Specifies
  the encoding of the records in the streaming source. For example, UTF-8.\";}s:18:\"RecordFormatUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/RecordFormat\";s:11:\"description\";s:60:\"Specifies
  the format of the records on the streaming source.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InputStartingPosition\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"NOW\";i:1;s:12:\"TRIM_HORIZON\";i:2;s:18:\"LAST_STOPPED_POINT\";}s:4:\"type\";s:6:\"string\";}s:34:\"InputStartingPositionConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Describes
  the point at which the application reads from the streaming source.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"InputStartingPosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/InputStartingPosition\";s:11:\"description\";s:564:\"<p>The
  starting position on the stream.</p> <ul> <li> <p> <code>NOW</code> - Start reading
  just after the most recent record in the stream, start at the request time stamp
  that the customer issued.</p> </li> <li> <p> <code>TRIM_HORIZON</code> - Start reading
  at the last untrimmed record in the stream, which is the oldest record available
  in the stream. This option is not available for an Amazon Kinesis Firehose delivery
  stream.</p> </li> <li> <p> <code>LAST_STOPPED_POINT</code> - Resume reading from
  where the application last stopped reading.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:11:\"InputUpdate\";O:8:\"stdClass\":4:{s:11:\"description\";s:112:\"Describes
  updates to a specific input configuration (identified by the <code>InputId</code>
  of an application). \";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"InputId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:48:\"Input
  ID of the application input to be updated.\";}s:22:\"InputParallelismUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/InputParallelismUpdate\";s:11:\"description\";s:137:\"Describes
  the parallelism updates (the number in-application streams Amazon Kinesis Analytics
  creates for the specific streaming source).\";}s:34:\"InputProcessingConfigurationUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/InputProcessingConfigurationUpdate\";s:11:\"description\";s:56:\"Describes
  updates for an input processing configuration.\";}s:17:\"InputSchemaUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/InputSchemaUpdate\";s:11:\"description\";s:159:\"Describes
  the data format on the streaming source, and how record elements on the streaming
  source map to columns of the in-application stream that is created.\";}s:26:\"KinesisFirehoseInputUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/KinesisFirehoseInputUpdate\";s:11:\"description\";s:133:\"If
  an Amazon Kinesis Firehose delivery stream is the streaming source to be updated,
  provides an updated stream ARN and IAM role ARN.\";}s:25:\"KinesisStreamsInputUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/KinesisStreamsInputUpdate\";s:11:\"description\";s:138:\"If
  an Amazon Kinesis stream is the streaming source to be updated, provides an updated
  stream Amazon Resource Name (ARN) and IAM role ARN.\";}s:16:\"NamePrefixUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InAppStreamName\";s:11:\"description\";s:111:\"Name
  prefix for in-application streams that Amazon Kinesis Analytics creates for the
  specific streaming source.\";}}s:8:\"required\";a:1:{i:0;s:7:\"InputId\";}s:4:\"type\";s:6:\"object\";}s:12:\"InputUpdates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/InputUpdate\";}s:4:\"type\";s:5:\"array\";}s:6:\"Inputs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Input\";}s:4:\"type\";s:5:\"array\";}s:40:\"InvalidApplicationConfigurationException\";O:8:\"stdClass\":0:{}s:24:\"InvalidArgumentException\";O:8:\"stdClass\":0:{}s:21:\"JSONMappingParameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"Provides
  additional mapping information when JSON is the record format on the streaming source.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"RecordRowPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordRowPath\";s:11:\"description\";s:55:\"Path
  to the top-level parent that contains the records.\";}}s:8:\"required\";a:1:{i:0;s:13:\"RecordRowPath\";}s:4:\"type\";s:6:\"object\";}s:20:\"KinesisFirehoseInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:235:\"
  Identifies an Amazon Kinesis Firehose delivery stream as the streaming source. You
  provide the delivery stream's Amazon Resource Name (ARN) and an IAM role ARN that
  enables Amazon Kinesis Analytics to access the stream on your behalf.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:33:\"ARN
  of the input delivery stream.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:185:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to access the stream on
  your behalf. You need to make sure that the role has the necessary permissions to
  access the stream.\";}}s:8:\"required\";a:2:{i:0;s:11:\"ResourceARN\";i:1;s:7:\"RoleARN\";}s:4:\"type\";s:6:\"object\";}s:31:\"KinesisFirehoseInputDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"
  Describes the Amazon Kinesis Firehose delivery stream that is configured as the
  streaming source in the application input configuration. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:74:\"Amazon
  Resource Name (ARN) of the Amazon Kinesis Firehose delivery stream.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:79:\"ARN
  of the IAM role that Amazon Kinesis Analytics assumes to access the stream.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"KinesisFirehoseInputUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"When
  updating application input configuration, provides information about an Amazon Kinesis
  Firehose delivery stream as the streaming source.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ResourceARNUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:88:\"Amazon
  Resource Name (ARN) of the input Amazon Kinesis Firehose delivery stream to read.\";}s:13:\"RoleARNUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:155:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to access the stream on
  your behalf. You need to grant the necessary permissions to this role.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"KinesisFirehoseOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:253:\"When
  configuring application output, identifies an Amazon Kinesis Firehose delivery stream
  as the destination. You provide the stream Amazon Resource Name (ARN) and an IAM
  role that enables Amazon Kinesis Analytics to write to the stream on your behalf.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:75:\"ARN
  of the destination Amazon Kinesis Firehose delivery stream to write to.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:169:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to write to the destination
  stream on your behalf. You need to grant the necessary permissions to this role.\";}}s:8:\"required\";a:2:{i:0;s:11:\"ResourceARN\";i:1;s:7:\"RoleARN\";}s:4:\"type\";s:6:\"object\";}s:32:\"KinesisFirehoseOutputDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"
  For an application output, describes the Amazon Kinesis Firehose delivery stream
  configured as its destination. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:74:\"Amazon
  Resource Name (ARN) of the Amazon Kinesis Firehose delivery stream.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:82:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to access the stream.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"KinesisFirehoseOutputUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:186:\"
  When updating an output configuration using the <a>UpdateApplication</a> operation,
  provides information about an Amazon Kinesis Firehose delivery stream configured
  as the destination. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ResourceARNUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:86:\"Amazon
  Resource Name (ARN) of the Amazon Kinesis Firehose delivery stream to write to.\";}s:13:\"RoleARNUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:155:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to access the stream on
  your behalf. You need to grant the necessary permissions to this role.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"KinesisStreamsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:208:\"
  Identifies an Amazon Kinesis stream as the streaming source. You provide the stream's
  Amazon Resource Name (ARN) and an IAM role ARN that enables Amazon Kinesis Analytics
  to access the stream on your behalf.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:47:\"ARN
  of the input Amazon Kinesis stream to read.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:155:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to access the stream on
  your behalf. You need to grant the necessary permissions to this role.\";}}s:8:\"required\";a:2:{i:0;s:11:\"ResourceARN\";i:1;s:7:\"RoleARN\";}s:4:\"type\";s:6:\"object\";}s:30:\"KinesisStreamsInputDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"
  Describes the Amazon Kinesis stream that is configured as the streaming source in
  the application input configuration. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:56:\"Amazon
  Resource Name (ARN) of the Amazon Kinesis stream.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:82:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to access the stream.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"KinesisStreamsInputUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"When
  updating application input configuration, provides information about an Amazon Kinesis
  stream as the streaming source.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ResourceARNUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:70:\"Amazon
  Resource Name (ARN) of the input Amazon Kinesis stream to read.\";}s:13:\"RoleARNUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:155:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to access the stream on
  your behalf. You need to grant the necessary permissions to this role.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"KinesisStreamsOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:244:\"When
  configuring application output, identifies an Amazon Kinesis stream as the destination.
  You provide the stream Amazon Resource Name (ARN) and also an IAM role ARN that
  Amazon Kinesis Analytics can use to write to the stream on your behalf.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:57:\"ARN
  of the destination Amazon Kinesis stream to write to.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:169:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to write to the destination
  stream on your behalf. You need to grant the necessary permissions to this role.\";}}s:8:\"required\";a:2:{i:0;s:11:\"ResourceARN\";i:1;s:7:\"RoleARN\";}s:4:\"type\";s:6:\"object\";}s:31:\"KinesisStreamsOutputDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"
  For an application output, describes the Amazon Kinesis stream configured as its
  destination. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:56:\"Amazon
  Resource Name (ARN) of the Amazon Kinesis stream.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:82:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to access the stream.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"KinesisStreamsOutputUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:168:\"
  When updating an output configuration using the <a>UpdateApplication</a> operation,
  provides information about an Amazon Kinesis stream configured as the destination.
  \";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ResourceARNUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:91:\"Amazon
  Resource Name (ARN) of the Amazon Kinesis stream where you want to write the output.\";}s:13:\"RoleARNUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:155:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to access the stream on
  your behalf. You need to grant the necessary permissions to this role.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"LambdaOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:247:\"When
  configuring application output, identifies an AWS Lambda function as the destination.
  You provide the function Amazon Resource Name (ARN) and also an IAM role ARN that
  Amazon Kinesis Analytics can use to write to the function on your behalf. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:74:\"Amazon
  Resource Name (ARN) of the destination Lambda function to write to.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:172:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to write to the destination
  function on your behalf. You need to grant the necessary permissions to this role.
  \";}}s:8:\"required\";a:2:{i:0;s:11:\"ResourceARN\";i:1;s:7:\"RoleARN\";}s:4:\"type\";s:6:\"object\";}s:23:\"LambdaOutputDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"For
  an application output, describes the AWS Lambda function configured as its destination.
  \";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:62:\"Amazon
  Resource Name (ARN) of the destination Lambda function.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:98:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to write to the destination
  function.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"LambdaOutputUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:164:\"When
  updating an output configuration using the <a>UpdateApplication</a> operation, provides
  information about an AWS Lambda function configured as the destination.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"ResourceARNUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:62:\"Amazon
  Resource Name (ARN) of the destination Lambda function.\";}s:13:\"RoleARNUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:172:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to write to the destination
  function on your behalf. You need to grant the necessary permissions to this role.
  \";}}s:4:\"type\";s:6:\"object\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":0:{}s:26:\"ListApplicationsInputLimit\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:50;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:23:\"ListApplicationsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:29:\"ExclusiveStartApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:286:\"Name
  of the application to start the list with. When using pagination to retrieve the
  list, you don't need to specify this parameter in the first request. However, in
  subsequent requests, you add the last application name from the previous response
  to get the next page of applications.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ListApplicationsInputLimit\";s:11:\"description\";s:39:\"Maximum
  number of applications to list.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListApplicationsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"ApplicationSummaries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ApplicationSummaries\";s:11:\"description\";s:49:\"List
  of <code>ApplicationSummary</code> objects. \";}s:19:\"HasMoreApplications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:56:\"Returns
  true if there are more applications to retrieve.\";}}s:8:\"required\";a:2:{i:0;s:20:\"ApplicationSummaries\";i:1;s:19:\"HasMoreApplications\";}s:4:\"type\";s:6:\"object\";}s:12:\"LogStreamARN\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:1;s:7:\"pattern\";s:6:\"arn:.*\";s:4:\"type\";s:6:\"string\";}s:17:\"MappingParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:247:\"When
  configuring application input at the time of creating or updating an application,
  provides additional mapping information specific to the record format (such as JSON,
  CSV, or record fields delimited by some delimiter) on the streaming source.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"CSVMappingParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/CSVMappingParameters\";s:11:\"description\";s:98:\"Provides
  additional mapping information when the record format uses delimiters (for example,
  CSV).\";}s:21:\"JSONMappingParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/JSONMappingParameters\";s:11:\"description\";s:95:\"Provides
  additional mapping information when JSON is the record format on the streaming source.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Output\";O:8:\"stdClass\":4:{s:11:\"description\";s:462:\"<p>
  Describes application output configuration in which you identify an in-application
  stream and a destination where you want the in-application stream data to be written.
  The destination can be an Amazon Kinesis stream or an Amazon Kinesis Firehose delivery
  stream. </p> <p/> <p>For limits on how many destinations an application can write
  and other limitations, see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html\">Limits</a>.
  </p>\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"DestinationSchema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DestinationSchema\";s:11:\"description\";s:222:\"Describes
  the data format when records are written to the destination. For more information,
  see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Configuring
  Application Output</a>.\";}s:21:\"KinesisFirehoseOutput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/KinesisFirehoseOutput\";s:11:\"description\";s:73:\"Identifies
  an Amazon Kinesis Firehose delivery stream as the destination.\";}s:20:\"KinesisStreamsOutput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/KinesisStreamsOutput\";s:11:\"description\";s:55:\"Identifies
  an Amazon Kinesis stream as the destination.\";}s:12:\"LambdaOutput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LambdaOutput\";s:11:\"description\";s:53:\"Identifies
  an AWS Lambda function as the destination.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InAppStreamName\";s:11:\"description\";s:34:\"Name
  of the in-application stream.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:17:\"DestinationSchema\";}s:4:\"type\";s:6:\"object\";}s:17:\"OutputDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:243:\"Describes
  the application output configuration, which includes the in-application stream name
  and the destination where the stream data is written. The destination can be an
  Amazon Kinesis stream or an Amazon Kinesis Firehose delivery stream. \";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"DestinationSchema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DestinationSchema\";s:11:\"description\";s:53:\"Data
  format used for writing data to the destination.\";}s:32:\"KinesisFirehoseOutputDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/KinesisFirehoseOutputDescription\";s:11:\"description\";s:108:\"Describes
  the Amazon Kinesis Firehose delivery stream configured as the destination where
  output is written.\";}s:31:\"KinesisStreamsOutputDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/KinesisStreamsOutputDescription\";s:11:\"description\";s:86:\"Describes
  Amazon Kinesis stream configured as the destination where output is written.\";}s:23:\"LambdaOutputDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/LambdaOutputDescription\";s:11:\"description\";s:88:\"Describes
  the AWS Lambda function configured as the destination where output is written.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InAppStreamName\";s:11:\"description\";s:55:\"Name
  of the in-application stream configured as output.\";}s:8:\"OutputId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:49:\"A
  unique identifier for the output configuration.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"OutputDescriptions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OutputDescription\";}s:4:\"type\";s:5:\"array\";}s:12:\"OutputUpdate\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"
  Describes updates to the output configuration identified by the <code>OutputId</code>.
  \";s:10:\"properties\";O:8:\"stdClass\":6:{s:23:\"DestinationSchemaUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DestinationSchema\";s:11:\"description\";s:222:\"Describes
  the data format when records are written to the destination. For more information,
  see <a href=\"http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Configuring
  Application Output</a>.\";}s:27:\"KinesisFirehoseOutputUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/KinesisFirehoseOutputUpdate\";s:11:\"description\";s:87:\"Describes
  an Amazon Kinesis Firehose delivery stream as the destination for the output.\";}s:26:\"KinesisStreamsOutputUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/KinesisStreamsOutputUpdate\";s:11:\"description\";s:69:\"Describes
  an Amazon Kinesis stream as the destination for the output.\";}s:18:\"LambdaOutputUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/LambdaOutputUpdate\";s:11:\"description\";s:67:\"Describes
  an AWS Lambda function as the destination for the output.\";}s:10:\"NameUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InAppStreamName\";s:11:\"description\";s:149:\"If
  you want to specify a different in-application stream for this output configuration,
  use this field to specify the new in-application stream name.\";}s:8:\"OutputId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:69:\"Identifies
  the specific output configuration that you want to update.\";}}s:8:\"required\";a:1:{i:0;s:8:\"OutputId\";}s:4:\"type\";s:6:\"object\";}s:13:\"OutputUpdates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OutputUpdate\";}s:4:\"type\";s:5:\"array\";}s:7:\"Outputs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Output\";}s:4:\"type\";s:5:\"array\";}s:17:\"ParsedInputRecord\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ParsedInputRecordField\";}s:4:\"type\";s:5:\"array\";}s:22:\"ParsedInputRecordField\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"ParsedInputRecords\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ParsedInputRecord\";}s:4:\"type\";s:5:\"array\";}s:20:\"ProcessedInputRecord\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"ProcessedInputRecords\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProcessedInputRecord\";}s:4:\"type\";s:5:\"array\";}s:14:\"RawInputRecord\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"RawInputRecords\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RawInputRecord\";}s:4:\"type\";s:5:\"array\";}s:12:\"RecordColumn\";O:8:\"stdClass\":4:{s:11:\"description\";s:201:\"<p>Describes
  the mapping of each data element in the streaming source to the corresponding column
  in the in-application stream.</p> <p>Also used to describe the format of the reference
  data source.</p>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Mapping\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/RecordColumnMapping\";s:11:\"description\";s:82:\"Reference
  to the data element in the streaming input of the reference data source.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RecordColumnName\";s:11:\"description\";s:81:\"Name
  of the column created in the in-application input stream or reference table.\";}s:7:\"SqlType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/RecordColumnSqlType\";s:11:\"description\";s:77:\"Type
  of column created in the in-application input stream or reference table.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:7:\"SqlType\";}s:4:\"type\";s:6:\"object\";}s:21:\"RecordColumnDelimiter\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:19:\"RecordColumnMapping\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"RecordColumnName\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:22:\"[a-zA-Z_][a-zA-Z0-9_]*\";s:4:\"type\";s:6:\"string\";}s:19:\"RecordColumnSqlType\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"RecordColumns\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/RecordColumn\";}s:8:\"maxItems\";i:1000;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:14:\"RecordEncoding\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:5:\"UTF-8\";s:4:\"type\";s:6:\"string\";}s:12:\"RecordFormat\";O:8:\"stdClass\":4:{s:11:\"description\";s:126:\"
  Describes the record format and relevant mapping information that should be applied
  to schematize the records on the stream. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"MappingParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MappingParameters\";s:11:\"description\";s:247:\"When
  configuring application input at the time of creating or updating an application,
  provides additional mapping information specific to the record format (such as JSON,
  CSV, or record fields delimited by some delimiter) on the streaming source.\";}s:16:\"RecordFormatType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RecordFormatType\";s:11:\"description\";s:26:\"The
  type of record format.\";}}s:8:\"required\";a:1:{i:0;s:16:\"RecordFormatType\";}s:4:\"type\";s:6:\"object\";}s:16:\"RecordFormatType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"JSON\";i:1;s:3:\"CSV\";}s:4:\"type\";s:6:\"string\";}s:18:\"RecordRowDelimiter\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"RecordRowPath\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:19:\"ReferenceDataSource\";O:8:\"stdClass\":4:{s:11:\"description\";s:269:\"Describes
  the reference data source by providing the source information (S3 bucket name and
  object key name), the resulting in-application table name that is created, and the
  necessary schema to map the data elements in the Amazon S3 object to the in-application
  table.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"ReferenceSchema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SourceSchema\";s:11:\"description\";s:151:\"Describes
  the format of the data in the streaming source, and how each data element maps to
  corresponding columns created in the in-application stream.\";}s:21:\"S3ReferenceDataSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/S3ReferenceDataSource\";s:11:\"description\";s:364:\"Identifies
  the S3 bucket and object that contains the reference data. Also identifies the IAM
  role Amazon Kinesis Analytics can assume to read this object on your behalf. An
  Amazon Kinesis Analytics application loads reference data only once. If the data
  changes, you call the <a>UpdateApplication</a> operation to trigger reloading of
  data into your application. \";}s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/InAppTableName\";s:11:\"description\";s:43:\"Name
  of the in-application table to create.\";}}s:8:\"required\";a:2:{i:0;s:9:\"TableName\";i:1;s:15:\"ReferenceSchema\";}s:4:\"type\";s:6:\"object\";}s:30:\"ReferenceDataSourceDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Describes
  the reference data source configured for an application.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"ReferenceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:206:\"ID
  of the reference data source. This is the ID that Amazon Kinesis Analytics assigns
  when you add the reference data source to your application using the <a>AddApplicationReferenceDataSource</a>
  operation.\";}s:15:\"ReferenceSchema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SourceSchema\";s:11:\"description\";s:151:\"Describes
  the format of the data in the streaming source, and how each data element maps to
  corresponding columns created in the in-application stream.\";}s:32:\"S3ReferenceDataSourceDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/S3ReferenceDataSourceDescription\";s:11:\"description\";s:265:\"Provides
  the S3 bucket name, the object key name that contains the reference data. It also
  provides the Amazon Resource Name (ARN) of the IAM role that Amazon Kinesis Analytics
  can assume to read the Amazon S3 object and populate the in-application reference
  table.\";}s:9:\"TableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/InAppTableName\";s:11:\"description\";s:90:\"The
  in-application table name created by the specific reference data source configuration.\";}}s:8:\"required\";a:3:{i:0;s:11:\"ReferenceId\";i:1;s:9:\"TableName\";i:2;s:32:\"S3ReferenceDataSourceDescription\";}s:4:\"type\";s:6:\"object\";}s:31:\"ReferenceDataSourceDescriptions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/ReferenceDataSourceDescription\";}s:4:\"type\";s:5:\"array\";}s:25:\"ReferenceDataSourceUpdate\";O:8:\"stdClass\":4:{s:11:\"description\";s:348:\"When
  you update a reference data source configuration for an application, this object
  provides all the updated values (such as the source bucket name and object key name),
  the in-application table name that is created, and updated mapping information that
  maps the data in the Amazon S3 object to the in-application reference table that
  is created.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"ReferenceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:16:\"#/definitions/Id\";s:11:\"description\";s:118:\"ID
  of the reference data source being updated. You can use the <a>DescribeApplication</a>
  operation to get this value.\";}s:21:\"ReferenceSchemaUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SourceSchema\";s:11:\"description\";s:152:\"Describes
  the format of the data in the streaming source, and how each data element maps to
  corresponding columns created in the in-application stream. \";}s:27:\"S3ReferenceDataSourceUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/S3ReferenceDataSourceUpdate\";s:11:\"description\";s:193:\"Describes
  the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics
  can assume to read the Amazon S3 object on your behalf and populate the in-application
  reference table.\";}s:15:\"TableNameUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/InAppTableName\";s:11:\"description\";s:57:\"In-application
  table name that is created by this update.\";}}s:8:\"required\";a:1:{i:0;s:11:\"ReferenceId\";}s:4:\"type\";s:6:\"object\";}s:26:\"ReferenceDataSourceUpdates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ReferenceDataSourceUpdate\";}s:4:\"type\";s:5:\"array\";}s:11:\"ResourceARN\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:1;s:7:\"pattern\";s:6:\"arn:.*\";s:4:\"type\";s:6:\"string\";}s:22:\"ResourceInUseException\";O:8:\"stdClass\":0:{}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":0:{}s:46:\"ResourceProvisionedThroughputExceededException\";O:8:\"stdClass\":0:{}s:7:\"RoleARN\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:1;s:7:\"pattern\";s:48:\"arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+\";s:4:\"type\";s:6:\"string\";}s:15:\"S3Configuration\";O:8:\"stdClass\":4:{s:11:\"description\";s:230:\"Provides
  a description of an Amazon S3 data source, including the Amazon Resource Name (ARN)
  of the S3 bucket, the ARN of the IAM role that is used to access the bucket, and
  the name of the Amazon S3 object that contains the data.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"BucketARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BucketARN\";s:11:\"description\";s:44:\"ARN
  of the S3 bucket that contains the data.\";}s:7:\"FileKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/FileKey\";s:11:\"description\";s:46:\"The
  name of the object that contains the data.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:44:\"IAM
  ARN of the role used to access the data.\";}}s:8:\"required\";a:3:{i:0;s:7:\"RoleARN\";i:1;s:9:\"BucketARN\";i:2;s:7:\"FileKey\";}s:4:\"type\";s:6:\"object\";}s:21:\"S3ReferenceDataSource\";O:8:\"stdClass\":4:{s:11:\"description\";s:377:\"<p>Identifies
  the S3 bucket and object that contains the reference data. Also identifies the IAM
  role Amazon Kinesis Analytics can assume to read this object on your behalf.</p>
  <p>An Amazon Kinesis Analytics application loads reference data only once. If the
  data changes, you call the <a>UpdateApplication</a> operation to trigger reloading
  of data into your application.</p>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"BucketARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BucketARN\";s:11:\"description\";s:44:\"Amazon
  Resource Name (ARN) of the S3 bucket.\";}s:7:\"FileKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/FileKey\";s:11:\"description\";s:42:\"Object
  key name containing reference data.\";}s:16:\"ReferenceRoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:255:\"ARN
  of the IAM role that the service can assume to read data on your behalf. This role
  must have permission for the <code>s3:GetObject</code> action on the object and
  trust policy that allows Amazon Kinesis Analytics service principal to assume this
  role.\";}}s:8:\"required\";a:3:{i:0;s:9:\"BucketARN\";i:1;s:7:\"FileKey\";i:2;s:16:\"ReferenceRoleARN\";}s:4:\"type\";s:6:\"object\";}s:32:\"S3ReferenceDataSourceDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Provides
  the bucket name and object key name that stores the reference data.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"BucketARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BucketARN\";s:11:\"description\";s:44:\"Amazon
  Resource Name (ARN) of the S3 bucket.\";}s:7:\"FileKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/FileKey\";s:11:\"description\";s:26:\"Amazon
  S3 object key name.\";}s:16:\"ReferenceRoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:152:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object
  on your behalf to populate the in-application reference table.\";}}s:8:\"required\";a:3:{i:0;s:9:\"BucketARN\";i:1;s:7:\"FileKey\";i:2;s:16:\"ReferenceRoleARN\";}s:4:\"type\";s:6:\"object\";}s:27:\"S3ReferenceDataSourceUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:193:\"Describes
  the S3 bucket name, object key name, and IAM role that Amazon Kinesis Analytics
  can assume to read the Amazon S3 object on your behalf and populate the in-application
  reference table.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"BucketARNUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BucketARN\";s:11:\"description\";s:44:\"Amazon
  Resource Name (ARN) of the S3 bucket.\";}s:13:\"FileKeyUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/FileKey\";s:11:\"description\";s:16:\"Object
  key name.\";}s:22:\"ReferenceRoleARNUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:122:\"ARN
  of the IAM role that Amazon Kinesis Analytics can assume to read the Amazon S3 object
  and populate the in-application.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ServiceUnavailableException\";O:8:\"stdClass\":0:{}s:12:\"SourceSchema\";O:8:\"stdClass\":4:{s:11:\"description\";s:151:\"Describes
  the format of the data in the streaming source, and how each data element maps to
  corresponding columns created in the in-application stream.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"RecordColumns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordColumns\";s:11:\"description\";s:44:\"A
  list of <code>RecordColumn</code> objects.\";}s:14:\"RecordEncoding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RecordEncoding\";s:11:\"description\";s:82:\"Specifies
  the encoding of the records in the streaming source. For example, UTF-8.\";}s:12:\"RecordFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/RecordFormat\";s:11:\"description\";s:60:\"Specifies
  the format of the records on the streaming source.\";}}s:8:\"required\";a:2:{i:0;s:12:\"RecordFormat\";i:1;s:13:\"RecordColumns\";}s:4:\"type\";s:6:\"object\";}s:23:\"StartApplicationRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:24:\"Name
  of the application.\";}s:19:\"InputConfigurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/InputConfigurations\";s:11:\"description\";s:267:\"Identifies
  the specific input, by ID, that the application starts consuming. Amazon Kinesis
  Analytics starts reading the streaming source associated with the input. You can
  also specify where in the streaming source you want Amazon Kinesis Analytics to
  start reading.\";}}s:8:\"required\";a:2:{i:0;s:15:\"ApplicationName\";i:1;s:19:\"InputConfigurations\";}s:4:\"type\";s:6:\"object\";}s:24:\"StartApplicationResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"StopApplicationRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:40:\"Name
  of the running application to stop.\";}}s:8:\"required\";a:1:{i:0;s:15:\"ApplicationName\";}s:4:\"type\";s:6:\"object\";}s:23:\"StopApplicationResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:29:\"UnableToDetectSchemaException\";O:8:\"stdClass\":0:{}s:29:\"UnsupportedOperationException\";O:8:\"stdClass\":0:{}s:24:\"UpdateApplicationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"ApplicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:59:\"Name
  of the Amazon Kinesis Analytics application to update.\";}s:17:\"ApplicationUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ApplicationUpdate\";s:11:\"description\";s:30:\"Describes
  application updates.\";}s:27:\"CurrentApplicationVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ApplicationVersionId\";s:11:\"description\";s:107:\"The
  current application version ID. You can use the <a>DescribeApplication</a> operation
  to get this value.\";}}s:8:\"required\";a:3:{i:0;s:15:\"ApplicationName\";i:1;s:27:\"CurrentApplicationVersionId\";i:2;s:17:\"ApplicationUpdate\";}s:4:\"type\";s:6:\"object\";}s:25:\"UpdateApplicationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}"
...
