---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"An OpenAPI for
  EVE Online\";s:5:\"title\";s:21:\"EVE Swagger Interface\";s:7:\"version\";s:5:\"0.8.3\";}"
host: esi.evetech.net
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:11:\"bad_request\";O:8:\"stdClass\":6:{s:11:\"description\";s:17:\"Bad
  request model\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Bad
  request message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:5:\"title\";s:11:\"Bad
  request\";s:4:\"type\";s:6:\"object\";s:7:\"x-model\";s:11:\"Bad request\";}s:13:\"error_limited\";O:8:\"stdClass\":6:{s:11:\"description\";s:19:\"Error
  limited model\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Error
  limited message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:5:\"title\";s:13:\"Error
  limited\";s:4:\"type\";s:6:\"object\";s:7:\"x-model\";s:13:\"Error limited\";}s:9:\"forbidden\";O:8:\"stdClass\":6:{s:11:\"description\";s:15:\"Forbidden
  model\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Forbidden
  message\";s:4:\"type\";s:6:\"string\";}s:10:\"sso_status\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"status
  code received from SSO\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:5:\"title\";s:9:\"Forbidden\";s:4:\"type\";s:6:\"object\";s:7:\"x-model\";s:9:\"Forbidden\";}s:15:\"gateway_timeout\";O:8:\"stdClass\":6:{s:11:\"description\";s:21:\"Gateway
  timeout model\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Gateway
  timeout message\";s:4:\"type\";s:6:\"string\";}s:7:\"timeout\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"number
  of seconds the request was given\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:5:\"title\";s:15:\"Gateway
  timeout\";s:4:\"type\";s:6:\"object\";s:7:\"x-model\";s:15:\"Gateway timeout\";}s:21:\"internal_server_error\";O:8:\"stdClass\":6:{s:11:\"description\";s:27:\"Internal
  server error model\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Internal
  server error message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:5:\"title\";s:21:\"Internal
  server error\";s:4:\"type\";s:6:\"object\";s:7:\"x-model\";s:21:\"Internal server
  error\";}s:19:\"service_unavailable\";O:8:\"stdClass\":6:{s:11:\"description\";s:25:\"Service
  unavailable model\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Service
  unavailable message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:5:\"title\";s:19:\"Service
  unavailable\";s:4:\"type\";s:6:\"object\";s:7:\"x-model\";s:19:\"Service unavailable\";}s:12:\"unauthorized\";O:8:\"stdClass\":6:{s:11:\"description\";s:18:\"Unauthorized
  model\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Unauthorized
  message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:5:\"title\";s:12:\"Unauthorized\";s:4:\"type\";s:6:\"object\";s:7:\"x-model\";s:12:\"Unauthorized\";}}"
...
