---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"An OpenAPI for
  EVE Online\";s:5:\"title\";s:21:\"EVE Swagger Interface\";s:7:\"version\";s:5:\"0.8.3\";}"
host: esi.evetech.net
paths:
  /v1/alliances/{alliance_id}/corporations/:
    get:
      description: List all current member corporations of an alliancenn---nnThis
        route is cached for up to 3600 seconds
      operationId: get_alliances_alliance_id_corporations
      parameters:
      - $ref: '#/parameters/alliance_id'
        x-scope:
        - https://esi.evetech.net/_latest/swagger.json
      - $ref: '#/parameters/datasource'
        x-scope:
        - https://esi.evetech.net/_latest/swagger.json
      - $ref: '#/parameters/If-None-Match'
        x-scope:
        - https://esi.evetech.net/_latest/swagger.json
      responses:
        200:
          description: List of corporation IDs
          examples:
            application/json:
            - 98000001
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok array
            items:
              description: 200 ok integer
              format: int32
              minimum: 0
              title: get_alliances_alliance_id_corporations_200_ok
              type: integer
              uniqueItems: true
            maxItems: 1000
            title: get_alliances_alliance_id_corporations_ok
            type: array
        304:
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        400:
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        420:
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        500:
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        503:
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        504:
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
      summary: List alliance's corporations
      tags:
      - Alliance
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
  /v3/alliances/{alliance_id}/:
    get:
      description: Public information about an alliancenn---nnThis route is cached
        for up to 3600 seconds
      operationId: get_alliances_alliance_id
      parameters:
      - $ref: '#/parameters/alliance_id'
        x-scope:
        - https://esi.evetech.net/_latest/swagger.json
      - $ref: '#/parameters/datasource'
        x-scope:
        - https://esi.evetech.net/_latest/swagger.json
      - $ref: '#/parameters/If-None-Match'
        x-scope:
        - https://esi.evetech.net/_latest/swagger.json
      responses:
        200:
          description: Public data about an alliance
          examples:
            application/json:
              creator_corporation_id: 45678
              creator_id: 12345
              date_founded: "2016-06-26T21:00:00Z"
              executor_corporation_id: 98356193
              name: C C P Alliance
              ticker: <C C P>
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              creator_corporation_id:
                description: ID of the corporation that created the alliance
                format: int32
                title: get_alliances_alliance_id_creator_corporation_id
                type: integer
              creator_id:
                description: ID of the character that created the alliance
                format: int32
                title: get_alliances_alliance_id_creator_id
                type: integer
              date_founded:
                description: date_founded string
                format: date-time
                title: get_alliances_alliance_id_date_founded
                type: string
              executor_corporation_id:
                description: the executor corporation ID, if this alliance is not
                  closed
                format: int32
                title: get_alliances_alliance_id_executor_corporation_id
                type: integer
              faction_id:
                description: Faction ID this alliance is fighting for, if this alliance
                  is enlisted in factional warfare
                format: int32
                title: get_alliances_alliance_id_faction_id
                type: integer
              name:
                description: the full name of the alliance
                title: get_alliances_alliance_id_name
                type: string
              ticker:
                description: the short name of the alliance
                title: get_alliances_alliance_id_ticker
                type: string
            required:
            - name
            - creator_id
            - creator_corporation_id
            - ticker
            - date_founded
            title: get_alliances_alliance_id_ok
            type: object
            x-model: get_alliances_alliance_id_ok
        304:
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        400:
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        404:
          description: Alliance not found
          examples:
            application/json:
              error: Not found message
          schema:
            description: Not found
            properties:
              error:
                description: Not found message
                title: get_alliances_alliance_id_404_not_found
                type: string
            title: get_alliances_alliance_id_not_found
            type: object
            x-model: get_alliances_alliance_id_not_found
        420:
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        500:
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        503:
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        504:
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
      summary: Get alliance information
      tags:
      - Alliance
      x-alternate-versions:
      - dev
      - v3
      x-cached-seconds: 3600
  /v3/universe/types/{type_id}/:
    get:
      description: Get information on a typenn---nnThis route expires daily at 11:05
      operationId: get_universe_types_type_id
      parameters:
      - $ref: '#/parameters/Accept-Language'
        x-scope:
        - https://esi.evetech.net/_latest/swagger.json
      - $ref: '#/parameters/datasource'
        x-scope:
        - https://esi.evetech.net/_latest/swagger.json
      - $ref: '#/parameters/If-None-Match'
        x-scope:
        - https://esi.evetech.net/_latest/swagger.json
      - $ref: '#/parameters/language'
        x-scope:
        - https://esi.evetech.net/_latest/swagger.json
      - description: An Eve item type ID
        format: int32
        in: path
        name: type_id
        required: true
        type: integer
      responses:
        200:
          description: Information about a type
          examples:
            application/json:
              description: The Rifter is a...
              group_id: 25
              name: Rifter
              published: true
              type_id: 587
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            Content-Language:
              description: The language used in the response
              enum:
              - de
              - en-us
              - fr
              - ja
              - ru
              - zh
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              capacity:
                description: capacity number
                format: float
                title: get_universe_types_type_id_capacity
                type: number
              description:
                description: description string
                title: get_universe_types_type_id_description
                type: string
              dogma_attributes:
                description: dogma_attributes array
                items:
                  description: dogma_attribute object
                  properties:
                    attribute_id:
                      description: attribute_id integer
                      format: int32
                      title: get_universe_types_type_id_attribute_id
                      type: integer
                    value:
                      description: value number
                      format: float
                      title: get_universe_types_type_id_value
                      type: number
                  required:
                  - attribute_id
                  - value
                  title: get_universe_types_type_id_dogma_attribute
                  type: object
                  x-model: get_universe_types_type_id_dogma_attribute
                maxItems: 1000
                title: get_universe_types_type_id_dogma_attributes
                type: array
              dogma_effects:
                description: dogma_effects array
                items:
                  description: dogma_effect object
                  properties:
                    effect_id:
                      description: effect_id integer
                      format: int32
                      title: get_universe_types_type_id_effect_id
                      type: integer
                    is_default:
                      description: is_default boolean
                      title: get_universe_types_type_id_is_default
                      type: boolean
                  required:
                  - effect_id
                  - is_default
                  title: get_universe_types_type_id_dogma_effect
                  type: object
                  x-model: get_universe_types_type_id_dogma_effect
                maxItems: 1000
                title: get_universe_types_type_id_dogma_effects
                type: array
              graphic_id:
                description: graphic_id integer
                format: int32
                title: get_universe_types_type_id_graphic_id
                type: integer
              group_id:
                description: group_id integer
                format: int32
                title: get_universe_types_type_id_group_id
                type: integer
              icon_id:
                description: icon_id integer
                format: int32
                title: get_universe_types_type_id_icon_id
                type: integer
              market_group_id:
                description: This only exists for types that can be put on the market
                format: int32
                title: get_universe_types_type_id_market_group_id
                type: integer
              mass:
                description: mass number
                format: float
                title: get_universe_types_type_id_mass
                type: number
              name:
                description: name string
                title: get_universe_types_type_id_name
                type: string
              packaged_volume:
                description: packaged_volume number
                format: float
                title: get_universe_types_type_id_packaged_volume
                type: number
              portion_size:
                description: portion_size integer
                format: int32
                title: get_universe_types_type_id_portion_size
                type: integer
              published:
                description: published boolean
                title: get_universe_types_type_id_published
                type: boolean
              radius:
                description: radius number
                format: float
                title: get_universe_types_type_id_radius
                type: number
              type_id:
                description: type_id integer
                format: int32
                title: get_universe_types_type_id_type_id
                type: integer
              volume:
                description: volume number
                format: float
                title: get_universe_types_type_id_volume
                type: number
            required:
            - type_id
            - name
            - description
            - published
            - group_id
            title: get_universe_types_type_id_ok
            type: object
            x-model: get_universe_types_type_id_ok
        304:
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        400:
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        404:
          description: Type not found
          examples:
            application/json:
              error: Not found message
          schema:
            description: Not found
            properties:
              error:
                description: Not found message
                title: get_universe_types_type_id_404_not_found
                type: string
            title: get_universe_types_type_id_not_found
            type: object
            x-model: get_universe_types_type_id_not_found
        420:
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        500:
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        503:
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        504:
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
      summary: Get type information
      tags:
      - Universe
      x-alternate-versions:
      - dev
      - v3
  /v4/characters/{character_id}/:
    get:
      description: Public information about a characternn---nnThis route is cached
        for up to 3600 seconds
      operationId: get_characters_character_id
      parameters:
      - $ref: '#/parameters/character_id'
        x-scope:
        - https://esi.evetech.net/_latest/swagger.json
      - $ref: '#/parameters/datasource'
        x-scope:
        - https://esi.evetech.net/_latest/swagger.json
      - $ref: '#/parameters/If-None-Match'
        x-scope:
        - https://esi.evetech.net/_latest/swagger.json
      responses:
        200:
          description: Public data for the given character
          examples:
            application/json:
              ancestry_id: 19
              birthday: "2015-03-24T11:37:00Z"
              bloodline_id: 3
              corporation_id: 109299958
              description: ""
              gender: male
              name: CCP Bartender
              race_id: 2
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              alliance_id:
                description: The character's alliance ID
                format: int32
                title: get_characters_character_id_alliance_id
                type: integer
              ancestry_id:
                description: ancestry_id integer
                format: int32
                title: get_characters_character_id_ancestry_id
                type: integer
              birthday:
                description: Creation date of the character
                format: date-time
                title: get_characters_character_id_birthday
                type: string
              bloodline_id:
                description: bloodline_id integer
                format: int32
                title: get_characters_character_id_bloodline_id
                type: integer
              corporation_id:
                description: The character's corporation ID
                format: int32
                title: get_characters_character_id_corporation_id
                type: integer
              description:
                description: description string
                title: get_characters_character_id_description
                type: string
              faction_id:
                description: ID of the faction the character is fighting for, if the
                  character is enlisted in Factional Warfare
                format: int32
                title: get_characters_character_id_faction_id
                type: integer
              gender:
                description: gender string
                enum:
                - female
                - male
                title: get_characters_character_id_gender
                type: string
              name:
                description: name string
                title: get_characters_character_id_name
                type: string
              race_id:
                description: race_id integer
                format: int32
                title: get_characters_character_id_race_id
                type: integer
              security_status:
                description: security_status number
                format: float
                maximum: 10
                minimum: -10
                title: get_characters_character_id_security_status
                type: number
            required:
            - corporation_id
            - birthday
            - name
            - gender
            - race_id
            - bloodline_id
            title: get_characters_character_id_ok
            type: object
            x-model: get_characters_character_id_ok
        304:
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        400:
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        404:
          description: Character not found
          examples:
            application/json:
              error: Not found message
          schema:
            description: Not found
            properties:
              error:
                description: Not found message
                title: get_characters_character_id_404_not_found
                type: string
            title: get_characters_character_id_not_found
            type: object
            x-model: get_characters_character_id_not_found
        420:
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        500:
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        503:
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        504:
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
      summary: Get character's public information
      tags:
      - Character
      x-alternate-versions:
      - dev
      - v4
      x-cached-seconds: 3600
  /v4/corporations/{corporation_id}/:
    get:
      description: Public information about a corporationnn---nnThis route is cached
        for up to 3600 seconds
      operationId: get_corporations_corporation_id
      parameters:
      - $ref: '#/parameters/corporation_id'
        x-scope:
        - https://esi.evetech.net/_latest/swagger.json
      - $ref: '#/parameters/datasource'
        x-scope:
        - https://esi.evetech.net/_latest/swagger.json
      - $ref: '#/parameters/If-None-Match'
        x-scope:
        - https://esi.evetech.net/_latest/swagger.json
      responses:
        200:
          description: Public information about a corporation
          examples:
            application/json:
              alliance_id: 434243723
              ceo_id: 180548812
              creator_id: 180548812
              date_founded: "2004-11-28T16:42:51Z"
              description: This is a corporation description, it's basically just
                a string
              member_count: 656
              name: C C P
              tax_rate: 0.256000
              ticker: -CCP-
              url: http://www.eveonline.com
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              alliance_id:
                description: ID of the alliance that corporation is a member of, if
                  any
                format: int32
                title: get_corporations_corporation_id_alliance_id
                type: integer
              ceo_id:
                description: ceo_id integer
                format: int32
                title: get_corporations_corporation_id_ceo_id
                type: integer
              creator_id:
                description: creator_id integer
                format: int32
                title: get_corporations_corporation_id_creator_id
                type: integer
              date_founded:
                description: date_founded string
                format: date-time
                title: get_corporations_corporation_id_date_founded
                type: string
              description:
                description: description string
                title: get_corporations_corporation_id_description
                type: string
              faction_id:
                description: faction_id integer
                format: int32
                title: get_corporations_corporation_id_faction_id
                type: integer
              home_station_id:
                description: home_station_id integer
                format: int32
                title: get_corporations_corporation_id_home_station_id
                type: integer
              member_count:
                description: member_count integer
                format: int32
                title: get_corporations_corporation_id_member_count
                type: integer
              name:
                description: the full name of the corporation
                title: get_corporations_corporation_id_name
                type: string
              shares:
                description: shares integer
                format: int64
                title: get_corporations_corporation_id_shares
                type: integer
              tax_rate:
                description: tax_rate number
                format: float
                maximum: 1
                minimum: 0
                title: get_corporations_corporation_id_tax_rate
                type: number
              ticker:
                description: the short name of the corporation
                title: get_corporations_corporation_id_ticker
                type: string
              url:
                description: url string
                title: get_corporations_corporation_id_url
                type: string
            required:
            - name
            - ticker
            - member_count
            - ceo_id
            - tax_rate
            - creator_id
            title: get_corporations_corporation_id_ok
            type: object
            x-model: get_corporations_corporation_id_ok
        304:
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        400:
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        404:
          description: Corporation not found
          examples:
            application/json:
              error: Not found message
          schema:
            description: Not found
            properties:
              error:
                description: Not found message
                title: get_corporations_corporation_id_404_not_found
                type: string
            title: get_corporations_corporation_id_not_found
            type: object
            x-model: get_corporations_corporation_id_not_found
        420:
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        500:
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        503:
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
        504:
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
            x-scope:
            - https://esi.evetech.net/_latest/swagger.json
      summary: Get corporation information
      tags:
      - Corporation
      x-alternate-versions:
      - dev
      - v4
      x-cached-seconds: 3600
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:11:\"bad_request\";O:8:\"stdClass\":6:{s:11:\"description\";s:17:\"Bad
  request model\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Bad
  request message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:5:\"title\";s:11:\"Bad
  request\";s:4:\"type\";s:6:\"object\";s:7:\"x-model\";s:11:\"Bad request\";}s:13:\"error_limited\";O:8:\"stdClass\":6:{s:11:\"description\";s:19:\"Error
  limited model\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Error
  limited message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:5:\"title\";s:13:\"Error
  limited\";s:4:\"type\";s:6:\"object\";s:7:\"x-model\";s:13:\"Error limited\";}s:9:\"forbidden\";O:8:\"stdClass\":6:{s:11:\"description\";s:15:\"Forbidden
  model\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Forbidden
  message\";s:4:\"type\";s:6:\"string\";}s:10:\"sso_status\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"status
  code received from SSO\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:5:\"title\";s:9:\"Forbidden\";s:4:\"type\";s:6:\"object\";s:7:\"x-model\";s:9:\"Forbidden\";}s:15:\"gateway_timeout\";O:8:\"stdClass\":6:{s:11:\"description\";s:21:\"Gateway
  timeout model\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Gateway
  timeout message\";s:4:\"type\";s:6:\"string\";}s:7:\"timeout\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"number
  of seconds the request was given\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:5:\"title\";s:15:\"Gateway
  timeout\";s:4:\"type\";s:6:\"object\";s:7:\"x-model\";s:15:\"Gateway timeout\";}s:21:\"internal_server_error\";O:8:\"stdClass\":6:{s:11:\"description\";s:27:\"Internal
  server error model\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Internal
  server error message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:5:\"title\";s:21:\"Internal
  server error\";s:4:\"type\";s:6:\"object\";s:7:\"x-model\";s:21:\"Internal server
  error\";}s:19:\"service_unavailable\";O:8:\"stdClass\":6:{s:11:\"description\";s:25:\"Service
  unavailable model\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Service
  unavailable message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:5:\"title\";s:19:\"Service
  unavailable\";s:4:\"type\";s:6:\"object\";s:7:\"x-model\";s:19:\"Service unavailable\";}s:12:\"unauthorized\";O:8:\"stdClass\":6:{s:11:\"description\";s:18:\"Unauthorized
  model\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Unauthorized
  message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:5:\"title\";s:12:\"Unauthorized\";s:4:\"type\";s:6:\"object\";s:7:\"x-model\";s:12:\"Unauthorized\";}}"
...
