---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:27:\"Lastwall
  RISC and SAVE APIs\";s:11:\"description\";s:838:\"Use the advanced artificial intelligence
  in Lastwall RISC to detect bots, accurately identify users, and evaluate the trustworthiness
  of your user logins.\n\nUser Lastwall SAVE for a host of built-in second factor
  authentication options to ensure the authenticity of any high-risk logins.\n\nNOTE:
  The user management API is largely unnecessary for most customers, as the main RISC
  and SAVE calls will automatically create a user account for the given username,
  if one does not exist. These API calls are provided mainly for fringe cases and
  for your convenience. For a typical implementation, you can skip down to the RISC
  and SAVE API methods.\n\nThe preferred integration method is to have RISC automatically
  create a SAVE session for you. In this case, you don't need to use any of the SAVE
  API calls below in order to create SAVE sessions.\";}"
host: risc.lastwall.com
basePath: /api
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:4:\"User\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:7:\"user_id\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"user_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  unique user identifier\";s:11:\"uniqueItems\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  user's display name\";}s:5:\"email\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";s:11:\"description\";s:24:\"The
  user's email address\";s:11:\"uniqueItems\";b:1;}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  user's phone number\";}s:8:\"is_setup\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;s:11:\"description\";s:75:\"Boolean
  value indicating whether or not the user account has been setup    \";}s:8:\"disabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;s:11:\"description\";s:71:\"Boolean
  value indicating whether the user account has been disabled    \";}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"The
  date/time when the user account was created    \";}}}s:10:\"RiscResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":20:{s:7:\"user_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  user ID for this login\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"success\";i:1;s:7:\"failure\";}s:11:\"description\";s:71:\"Whether
  or not the RISC engine was able to effectively score this login\";}s:5:\"score\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:30:\"The
  RISC score between 0 and 1\";}s:11:\"trust_level\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:8:\"critical\";i:1;s:3:\"low\";i:2;s:6:\"medium\";i:3;s:4:\"high\";i:4;s:5:\"ultra\";i:5;s:7:\"unknown\";}s:11:\"description\";s:30:\"The
  trust level for this login\";}s:10:\"risk_level\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:8:\"critical\";i:1;s:4:\"high\";i:2;s:6:\"medium\";i:3;s:3:\"low\";i:4;s:7:\"minimal\";i:5;s:7:\"unknown\";}s:11:\"description\";s:29:\"The
  risk level for this login\";}s:10:\"ip_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"he
  IP address of the client, as passed in\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  city where the login took place\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  state where the login took place\";}s:12:\"country_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  2-letter country code for the country where the login took place\";}s:10:\"user_agent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  user agent string for the client web browser\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:21:\"The
  location latitude\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:22:\"The
  location longitude\";}s:11:\"login_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:82:\"The
  number of logins seen before for this user on this specific browser and device\";}s:11:\"cookie_data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"json\";s:11:\"description\";s:60:\"The
  resulting cookie data to store in the client web browser\";}s:12:\"storage_data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"json\";s:11:\"description\";s:67:\"The
  resulting local storage data to store in the client web browser\";}s:5:\"notes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:71:\"An
  array of strings indicating useful features of this particular login\";}s:10:\"session_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"The
  session ID for the created SAVE session, or \"N/A\" if not setup for SAVE integration\";}s:12:\"session_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  type of SAVE session, if one was created\";}s:14:\"session_status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:6:\"passed\";i:1;s:6:\"failed\";i:2;s:7:\"pending\";i:3;s:7:\"timeout\";}s:11:\"description\";s:50:\"The
  status of the SAVE session, if one was created\";}s:14:\"session_result\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:80:\"True
  or false indicating whether the SAVE session was passed, if one was created\";}}}s:11:\"SaveSession\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"session_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"The
  unique identifier for this session. Cache this to try session codes later on.\";}s:12:\"session_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:3:\"sms\";i:1;s:4:\"totp\";i:2;s:5:\"email\";i:3;s:5:\"video\";i:4;s:4:\"none\";}s:11:\"description\";s:16:\"The
  session type\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:6:\"passed\";i:1;s:6:\"failed\";i:2;s:7:\"pending\";i:3;s:7:\"timeout\";}s:11:\"description\";s:26:\"The
  current session status\";}}}s:12:\"SaveResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:6:\"passed\";i:1;s:6:\"failed\";i:2;s:7:\"pending\";i:3;s:7:\"timeout\";}s:11:\"description\";s:26:\"The
  current session status\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:92:\"A
  boolean - true if the session has been passed, or false if it was failed or is still
  open.\";}}}s:12:\"TOTPResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"image_data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";s:11:\"description\";s:165:\"The
  image data (in url format) representing a QR Code for the TOTP shared secret. Set
  this string as the source of an HTML \"img\" tag to allow the user to capture it.\";}}}}"
...
