---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:4:\"Task\";s:11:\"description\";s:182:\"This
  is an task for all my task entries. I use a single task system to manage all my
  sites. Based upon tagging, I then publish each post out to its respective Github
  Page based repo.\";s:14:\"termsOfService\";s:42:\"http://stack.network/terms-of-service.html\";s:7:\"version\";N;}"
host: task.api.kinlane.com
basePath: /
paths:
  /task/:
    get:
      summary: all tasks
      description: all tasks
      operationId: getTasks
      parameters:
      - in: query
        name: appid
        description: your appid for accessing the task
      - in: query
        name: appkey
        description: your appkey for accessing the task
      - in: query
        name: query
        description: a text query to search across task
      responses:
        200:
          description: OK
      tags:
      - Tasks
      security: []
    post:
      summary: add a task post
      description: add a task post
      operationId: addTask
      parameters:
      - in: query
        name: appid
        description: your appid for accessing the task
      - in: query
        name: appkey
        description: your appkey for accessing the task
      - in: query
        name: author
        description: author of the task
      - in: query
        name: body
        description: full text for the task
      - in: query
        name: curated_id
        description: full text for the task
      - in: query
        name: footer
        description: curated id the task originated from
      - in: query
        name: post_date
        description: date the task was posted
      - in: query
        name: status
        description: status of the task
      - in: query
        name: summary
        description: summary for the task
      - in: query
        name: title
        description: ttle for the task
      responses:
        200:
          description: OK
      tags:
      - Tasks
      security: []
  /task/tags/{tag}/task/:
    get:
      summary: task tags by week tasks
      description: task tags by week tasks
      operationId: getTaskTagCTask
      parameters:
      - in: path
        name: tag
        description: the tag to filter by
      - in: query
        name: week
        description: the week to filter by, defaults to this week
      responses:
        200:
          description: OK
      tags:
      - Tags
      security: []
  /task/{task_id}/:
    delete:
      summary: delete task
      description: delete task
      operationId: deleteTask
      parameters:
      - in: query
        name: appid
        description: your appid for accessing the task
      - in: query
        name: appkey
        description: your appkey for accessing the task
      - in: path
        name: task_id
        description: the unique id for task entry
      responses:
        200:
          description: OK
      tags:
      - Tasks
      security: []
    get:
      summary: get task using id
      description: Returns the task detail
      operationId: getTask
      parameters:
      - in: query
        name: appid
        description: your appid for accessing the task
      - in: query
        name: appkey
        description: your appkey for accessing the task
      - in: path
        name: task_id
        description: the unique id for task entry
      responses:
        200:
          description: OK
      tags:
      - Tasks
      security: []
    put:
      summary: update task
      description: update task
      operationId: updateTask
      parameters:
      - in: query
        name: appid
        description: your appid for accessing the task
      - in: query
        name: appkey
        description: your appkey for accessing the task
      - in: query
        name: author
        description: author of the task
      - in: query
        name: body
        description: full text for the task
      - in: query
        name: curated_id
        description: full text for the task
      - in: query
        name: footer
        description: curated id the task originated from
      - in: query
        name: post_date
        description: date the task was posted
      - in: query
        name: status
        description: status of the task
      - in: query
        name: summary
        description: summary for the task
      - in: path
        name: task_id
        description: the unique id for task entry
      - in: query
        name: title
        description: ttle for the task
      responses:
        200:
          description: OK
      tags:
      - Tasks
      security: []
  /task/{task_id}/tags/:
    get:
      summary: task tags
      description: task tags
      operationId: gettaskTags
      parameters:
      - in: query
        name: appid
        description: your appid for accessing the task
      - in: query
        name: appkey
        description: your appkey for accessing the task
      - in: path
        name: task_id
        description: id for task
      responses:
        200:
          description: OK
      tags:
      - Tasks
      security: []
    post:
      summary: add tag to task
      description: add tag to task
      operationId: addTaskTag
      parameters:
      - in: query
        name: appid
        description: your appid for accessing the task
      - in: query
        name: appkey
        description: your appkey for accessing the task
      - in: query
        name: tag
        description: tag name
      - in: path
        name: task_id
        description: id for the task
      responses:
        200:
          description: OK
      tags:
      - Tasks
      security: []
  /task/{task_id}/tags/{tag}:
    delete:
      summary: delete task tag
      description: delete task tag
      operationId: deletetaskTag
      parameters:
      - in: query
        name: appid
        description: your appid for accessing the task
      - in: query
        name: appkey
        description: your appkey for accessing the task
      - in: path
        name: tag
        description: tag to remove from task
      - in: path
        name: task_id
        description: id for the task
      responses:
        200:
          description: OK
      tags:
      - Tasks
      security: []
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":2:{s:4:\"task\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"task_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:9:\"post_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:6:\"author\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:6:\"footer\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:10:\"curated_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}}}s:3:\"tag\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"tag_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:3:\"tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}s:9:\"api_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:3:\"get\";}}}}"
...
