---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:18:\"Zatar's Client API\";s:11:\"description\";s:60:\"Interactive
  Documentation for Zatar's Client Application API\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:20:\"developers@zatar.com\";}}"
host: integration.zatar.com
basePath: /v1
paths:
  /users:
    post:
      summary: Create a new user account
      description: A user (or end user) is a consumer of Zatar that either has an
        active account or is in the process of setting one up. A user can be created,
        retrieved, and updated.
      parameters:
      - name: User Profile Object
        in: body
        description: A User object to be added to Zatar
        required: true
        schema:
          $ref: '#/definitions/UserProfileObject'
      security:
      - OAuth:
        - create
      tags:
      - Users
      responses:
        201:
          description: The new resource was created. Payload contains newly created
            user.
        400:
          description: Bad request
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    get:
      summary: Retrieve your user account data
      description: Retrieve the meta-data associated with your user profile.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      security:
      - OAuth:
        - read
      tags:
      - Users
      responses:
        201:
          description: Created
          examples:
            application/json:
              '[object Object]': ~
        401:
          description: Unauthorized
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /users/{user_id}:
    put:
      summary: Change the profile data in your account.
      description: Change the profile data in your account.
      operationId: putUserID
      parameters:
      - name: user_id
        in: path
        required: true
        type: string
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: User Profile Object
        in: body
        description: A User object to be added to Zatar
        required: true
        schema:
          $ref: '#/definitions/UserProfileObject'
      security:
      - OAuth:
        - update
      tags:
      - Users
      responses:
        204:
          description: No content
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    get:
      summary: Retrieve your user account data
      description: Retrieve the meta-data associated with your user profile.
      operationId: getUserID
      parameters:
      - name: user_id
        in: path
        required: true
        type: string
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      security:
      - OAuth:
        - read
      tags:
      - Users
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /authentokens:
    post:
      summary: Create a new authentication token
      description: Create a new authentication token by doing an HTTP POST.
      operationId: getAuthentoken
      parameters:
      - name: Login Object
        in: body
        description: Your login credentials
        required: true
        schema:
          $ref: '#/definitions/LoginObject'
      security:
      - OAuth:
        - create
      tags:
      - Authentication
      responses:
        201:
          description: The new resource was created. Payload contains newly created
            user.
        400:
          description: Bad request
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /authentokens/{token_resource_id}:
    get:
      summary: Verify that a token is valid (not expired)
      description: Verify that a token is valid (not expired).
      operationId: getAuthentoken
      parameters:
      - name: token_resource_id
        in: path
        required: true
        type: string
      security:
      - OAuth:
        - read
      tags:
      - Authentication
      responses:
        200:
          description: OK
        401:
          description: Unathorized
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /passwordtokens:
    post:
      summary: Reset your password
      description: Reset your password
      operationId: postPasswordTokenoken
      parameters:
      - name: Password Token Object
        in: body
        description: Password token object
        required: true
        schema:
          $ref: '#/definitions/PasswordTokenObject'
      security:
      - OAuth:
        - create
      tags:
      - Users
      - Authentication
      responses:
        201:
          description: Created
        400:
          description: Bad request
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /passwordtokens/{password_token_id}:
    get:
      summary: Verify a password reset token is still valid and has not expired
      description: Verify a password reset token is still valid and has not expired
      operationId: getInvitationToken
      parameters:
      - name: password_token_id
        in: path
        required: true
        type: string
      security:
      - OAuth:
        - read
      tags:
      - Users
      - Authentication
      responses:
        201:
          description: Created
        404:
          description: Not Found
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /invitetokens:
    post:
      summary: Create an invitation token
      description: Create an invitation token
      operationId: postInvitationYoken
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: Invitation Object
        in: body
        description: Invitation object
        required: true
        schema:
          $ref: '#/definitions/InvitationObject'
      security:
      - OAuth:
        - create
      tags:
      - Users
      responses:
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /invitetokens/{invitation_token_id}:
    get:
      summary: Verify the invtation is still valid and has not expired
      description: Verify the invtation is still valid and has not expired
      operationId: getInvitationToken
      parameters:
      - name: invitation_token_id
        in: path
        required: true
        type: string
      security:
      - OAuth:
        - read
      tags:
      - Users
      responses:
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds:
    get:
      summary: Retrieve a collection of worlds
      description: Retrieve a collection of worlds via HTTP GET
      operationId: getWorlds
      parameters:
      - name: token
        in: query
        required: true
        type: string
      security:
      - OAuth:
        - read
      tags:
      - Worlds
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}:
    put:
      summary: Change some of the resources the world can contain
      description: Currently only name of the world can be changed. Invite a user
        to join a world does not use PUT. Transferring ownership of a world is currently
        not supported. The creator of the world remains the only owner.
      parameters:
      - name: token
        in: query
        required: true
        type: string
      - name: world_id
        in: path
        required: true
        type: string
      - name: World Object
        in: body
        description: World Object
        required: true
        schema:
          $ref: '#/definitions/WorldObject'
      security:
      - OAuth:
        - update
      tags:
      - Worlds
      responses:
        204:
          description: No Content
        400:
          description: Ban Request
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        415:
          description: Unsupported Media Type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    get:
      summary: Retrieve a specific world
      description: Retrieves a world resource and its associated resources.
      parameters:
      - name: token
        in: query
        required: true
        type: string
      - name: world_id
        in: path
        required: true
        type: string
      tags:
      - Worlds
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        404:
          description: Not Found
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /avatardefinitions:
    post:
      operationId: avatarDefinitions
      tags:
      - Avatars
      summary: NEED SUMMARY
      description: NEED DESCRIPTION
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: Avatar Definition Object
        in: body
        description: Avatar Definition Object
        required: true
        schema:
          $ref: '#/definitions/RequiredAvatarDefinitionAttributesObject'
      security:
      - OAuth:
        - create
      responses:
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    get:
      summary: Retrieve a collection of avatardefinitions
      description: 'Retrieve a collection of avatardefinitions with an HTTP GET.This
        would retrieve all the publicly available avatar definitions and the avatar
        definitions from all the worlds that the user has read permissions on. '
      operationId: getAvatarDefinition
      parameters:
      - name: token
        in: query
        required: true
        type: string
      tags:
      - Avatars
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        400:
          description: Bad request
        401:
          description: Unauthorized
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /avatardefinitions/required:
    get:
      summary: List of required items in an Avatar defintions.
      description: 'Retrieve a list of the required attributes that must exist in
        new Avatar defintions. '
      operationId: AvatarDefinitionsRequiredGet
      parameters:
      - name: token
        in: query
        required: true
        type: string
      tags:
      - Avatars
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        400:
          description: Bad request
        401:
          description: Unauthorized
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /avatardefinitions/{avatar_defintion_id}:
    get:
      summary: Retrieve a specific avatar definition
      description: Retrieve a specific avatar definition with an HTTP GET. The user
        only has access to public avatar definitions and the avatar definitions belonging
        to worlds that the user has read permissions on.
      operationId: getAvatarDefinition
      parameters:
      - name: token
        in: query
        required: true
        type: string
      - name: avatar_defintion_id
        in: path
        required: true
        type: string
      tags:
      - Avatars
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        400:
          description: Bad request
        401:
          description: Unauthorized
        404:
          description: Not Found
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    delete:
      summary: Deletes a specific avatar definition
      description: Deletes a specific avatar definition with an HTTP GET. The user
        only has access to public avatar definitions and the avatar definitions belonging
        to worlds that the user has read permissions on.
      operationId: getAvatarDefinition
      parameters:
      - name: token
        in: query
        required: true
        type: string
      - name: avatar_defintion_id
        in: path
        required: true
        type: string
      security:
      - OAuth:
        - delete
      tags:
      - Avatars
      responses:
        200:
          description: OK
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbitdden
        404:
          description: Not Found
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatars:
    post:
      operationId: avatars
      tags:
      - Avatars
      summary: Create a new device avatar
      description: Create a new device avatar by registering a source and automatically
        pairing it to an avatar definition with an HTTP POST
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: Avatar Object
        in: body
        description: Avatar Object
        required: true
        schema:
          $ref: '#/definitions/AvatarObject'
      security:
      - OAuth:
        - create
      responses:
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    get:
      summary: Retrieve a collection of avatars in specific world
      description: Retrieve a collection of avatars from a user's account private
        world by performing an HTTP GET.
      parameters:
      - name: world_id
        in: path
        required: true
        type: string
      - name: token
        in: query
        required: true
        type: string
      - name: limit
        in: query
        required: false
        type: string
      - name: offset
        in: query
        required: false
        type: string
      - name: sort
        in: query
        required: false
        type: string
      - name: fields
        in: query
        required: false
        type: string
      tags:
      - Avatars
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatars/{avatar_id}:
    put:
      operationId: avatar
      tags:
      - Avatars
      summary: Change properties or send commands to an avatar
      description: Some of the properties of an avatar can be changed using PUT. Sending
        commands is also possible doing a PUT
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatar_id
        in: path
        description: The resource ID of the avatar being updated.
        required: true
        type: string
      - name: Avatar Object
        in: body
        description: Avatar Object
        required: true
        schema:
          $ref: '#/definitions/AvatarObject'
      security:
      - OAuth:
        - update
      responses:
        202:
          description: Accepted
        204:
          description: No Content
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    get:
      summary: Retrieve an avatar for a single device
      description: Retrieve an avatar for a single device by performing an HTTP GETand
        including the avatarId.
      parameters:
      - name: world_id
        in: path
        required: true
        type: string
      - name: avatar_id
        in: path
        required: true
        type: string
      - name: token
        in: query
        required: true
        type: string
      - name: fields
        in: query
        required: false
        type: string
      - name: refresh
        in: query
        required: false
        type: boolean
      tags:
      - Avatars
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
    delete:
      operationId: avatarDelete
      tags:
      - Avatars
      summary: Permanently delete a device avatar
      description: Permanently delete a device avatar and remove it from the database
        by performing an HTTP DELETE and including the avatar_id
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatar_id
        in: path
        description: The resource ID of the avatar being updated.
        required: true
        type: string
      security:
      - OAuth:
        - delete
      responses:
        204:
          description: No Content
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatars/{avatar_id}/history:
    get:
      summary: Retrieve history of an avatar for a single device
      description: Retrieve the history of an avatar for a single device by performing
        an HTTP GET and including the avatar_id.
      parameters:
      - name: world_id
        in: path
        required: true
        type: string
      - name: avatar_id
        in: path
        required: true
        type: string
      - name: token
        in: query
        required: true
        type: string
      - name: limit
        in: query
        required: false
        type: string
      - name: offset
        in: query
        required: false
        type: string
      - name: sort
        in: query
        required: false
        type: string
      - name: lastUpdated
        in: query
        required: false
        type: string
      - name: fields
        in: query
        required: false
        type: string
      tags:
      - Avatars
      - Avatar History
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatars/{avatar_id}/jobs:
    get:
      summary: Retrieve a collection of jobs of an avatar
      description: Retrieves all the non expired jobs associated with an avatar by
        performing an HTTP GET.
      parameters:
      - name: world_id
        in: path
        required: true
        type: string
      - name: avatar_id
        in: path
        required: true
        type: string
      - name: token
        in: query
        required: true
        type: string
      tags:
      - Avatars
      - Jobs
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatars/{avatar_id}/jobs/{job_id}:
    get:
      summary: Retrieve a specific jobs of an avatar
      description: Retrieves a specific non expired job associated with an avatar
        by performing an HTTP GET.
      parameters:
      - name: world_id
        in: path
        required: true
        type: string
      - name: avatar_id
        in: path
        required: true
        type: string
      - name: job_id
        in: path
        required: true
        type: string
      - name: token
        in: query
        required: true
        type: string
      tags:
      - Avatars
      - Jobs
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatars/eventdefinitions:
    post:
      operationId: avatarsEventDefinitionsPost
      tags:
      - Avatars
      - Events
      summary: ??
      description: ??
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: Avatar Event Definition Object
        in: body
        description: Avatar Event Definition Object
        required: true
        schema:
          $ref: '#/definitions/AvatarEventDefinitionObject'
      security:
      - OAuth:
        - create
      responses:
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    get:
      operationId: avatarsEventDefinitionsGet
      tags:
      - Avatars
      - Events
      security:
      - OAuth:
        - read
      summary: ??
      description: ??
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      responses:
        200:
          description: OK
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatars/eventdefinitions/{event_definition_id}:
    delete:
      operationId: avatarsEventDefinitionDeleteGet
      tags:
      - Avatars
      - Events
      summary: Delete a specific avatar event defintion within a specific world.
      description: Delete a specific avatar event defintion within a specific world.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: event_definition_id
        in: path
        description: The resource ID of the avatar event profile to delete.
        required: true
        type: string
      security:
      - OAuth:
        - delete
      responses:
        200:
          description: OK
        400:
          description: Unauthorized
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
    get:
      operationId: avatarsEventDefinitionGet
      tags:
      - Avatars
      - Events
      summary: ??
      description: ??
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: event_definition_id
        in: path
        description: The resource ID of the event defintion.
        required: true
        type: string
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
    put:
      operationId: avatarsEventDefinitionPut
      tags:
      - Avatars
      - Events
      summary: ??
      description: ??
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: event_definition_id
        in: path
        description: The resource ID of the event defintion.
        required: true
        type: string
      - name: Avatar Event Definition Object
        in: body
        description: Avatar Event Definition Object
        required: true
        schema:
          $ref: '#/definitions/AvatarEventDefinitionObject'
      security:
      - OAuth:
        - update
      responses:
        204:
          description: No Content
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        415:
          description: Unsupported Media Type
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatars/{avatar_id}/eventdefinitions:
    post:
      operationId: avatarEventDefinitionsPost
      tags:
      - Avatars
      - Events
      summary: ??
      description: ??
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatar_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: Avatar Event Definition Object
        in: body
        description: Avatar Event Definition Object
        required: true
        schema:
          $ref: '#/definitions/AvatarEventDefinitionObject'
      security:
      - OAuth:
        - create
      responses:
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    get:
      operationId: avatarEventDefinitionsGet
      tags:
      - Avatars
      - Events
      summary: ??
      description: ??
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatar_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatars/{avatar_id}/eventdefinitions/{event_definition_id}:
    delete:
      operationId: avatarEventDefinitionDeleteGet
      tags:
      - Avatars
      - Events
      summary: Delete a specific avatar event defintion within a specific world.
      description: Delete a specific avatar event defintion within a specific world.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatar_id
        in: path
        description: The resource ID of the avatar.
        required: true
        type: string
      - name: event_definition_id
        in: path
        description: The resource ID of the avatar event profile to delete.
        required: true
        type: string
      security:
      - OAuth:
        - delete
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Forbidden
        406:
          description: Not acceptable
        415:
          description: Unsupported Media Type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    get:
      operationId: avatarEventDefinitionGet
      tags:
      - Avatars
      - Events
      summary: ??
      description: ??
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatar_id
        in: path
        description: The resource ID of the avatar.
        required: true
        type: string
      - name: event_definition_id
        in: path
        description: The resource ID of the event defintion.
        required: true
        type: string
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
    put:
      operationId: avatarEventDefinitionPut
      tags:
      - Avatars
      - Events
      summary: ??
      description: ??
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatar_id
        in: path
        description: The resource ID of the avatar.
        required: true
        type: string
      - name: event_definition_id
        in: path
        description: The resource ID of the event defintion.
        required: true
        type: string
      - name: Avatar Event Definition Object
        in: body
        description: Avatar Event Definition Object
        required: true
        schema:
          $ref: '#/definitions/AvatarEventDefinitionObject'
      security:
      - OAuth:
        - update
      responses:
        204:
          description: No Content
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        415:
          description: Unsupported Media Type
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatars/events:
    get:
      operationId: avatarsEventsGet
      tags:
      - Avatars
      - Events
      summary: Get events across all the avatars in a world.
      description: Displays events of event definitions that are defined at the scope
        avatars.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: limit
        in: query
        description: Limits events returned to exact number. If not specified, defaults
          to 2.
        required: false
        type: string
      - name: offset
        in: query
        description: Defines offset for pagination of results and returns value as
          integer. If not specified, defaults to 0.
        required: false
        type: string
      - name: sort
        in: query
        description: Gives user ability to sort events in ascending or descending
          order based on triggerDate. Expected values are asc for ascending and desc
          for descending. If not specified defaults to desc.
        required: false
        type: string
      - name: eventEndDate
        in: query
        description: Defines the offset in terms of ISO8601 date format. Expected
          value is an ISO8601 date format string and it should not be greater than
          current time. Only the events that have a eventDate before the specified
          eventEndDate will be included.
        required: false
        type: string
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatars/{avatar_id}/events:
    get:
      operationId: avatarEventsGet
      tags:
      - Avatars
      - Events
      summary: Display events that are triggered on a specific avatar.
      description: Display events that are triggered on a specific avatar.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatar_id
        in: path
        description: The resource ID of the avatar.
        required: true
        type: string
      - name: limit
        in: query
        description: Limits events returned to exact number. If not specified, defaults
          to 2.
        required: false
        type: string
      - name: offset
        in: query
        description: Defines offset for pagination of results and returns value as
          integer. If not specified, defaults to 0.
        required: false
        type: string
      - name: sort
        in: query
        description: Gives user ability to sort events in ascending or descending
          order based on triggerDate. Expected values are asc for ascending and desc
          for descending. If not specified defaults to desc.
        required: false
        type: string
      - name: eventEndDate
        in: query
        description: Defines the offset in terms of ISO8601 date format. Expected
          value is an ISO8601 date format string and it should not be greater than
          current time. Only the events that have a eventDate before the specified
          eventEndDate will be included.
        required: false
        type: string
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatars/{avatar_id}/events/{event_id}:
    get:
      operationId: avatarEventGet
      tags:
      - Avatars
      - Events
      summary: Retrieve a specific event that was triggered on a specific avatar.
      description: Retrieve a specific event that was triggered on a specific avatar.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatar_id
        in: path
        description: The resource ID of the avatar.
        required: true
        type: string
      - name: event_id
        in: path
        description: The resource ID of the event.
        required: true
        type: string
      - name: limit
        in: query
        description: Limits events returned to exact number. If not specified, defaults
          to 2.
        required: false
        type: string
      - name: offset
        in: query
        description: Defines offset for pagination of results and returns value as
          integer. If not specified, defaults to 0.
        required: false
        type: string
      - name: sort
        in: query
        description: Gives user ability to sort events in ascending or descending
          order based on triggerDate. Expected values are asc for ascending and desc
          for descending. If not specified defaults to desc.
        required: false
        type: string
      - name: eventEndDate
        in: query
        description: Defines the offset in terms of ISO8601 date format. Expected
          value is an ISO8601 date format string and it should not be greater than
          current time. Only the events that have a eventDate before the specified
          eventEndDate will be included.
        required: false
        type: string
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/notifications:
    post:
      operationId: notificationsPost
      tags:
      - Notifications
      summary: Creates a Notification of the specified type.
      description: Creates a Notification of the specified type.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: Notification Object
        in: body
        description: Notification Object
        required: true
        schema:
          $ref: '#/definitions/NotificationObject'
      security:
      - OAuth:
        - create
      responses:
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    get:
      operationId: notificationsGet
      tags:
      - Notifications
      summary: Retrieves all notifications in the specified world.
      description: Retrieves all notifications in the specified world.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: eventdefinition
        in: query
        description: Includes the notifications associated with the specified event_definition_id.
        required: false
        type: string
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/notifications/{notification_id}:
    get:
      operationId: notificationGet
      tags:
      - Notifications
      summary: Retrieves the specified notification.
      description: Retrieves the specified notification.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: notification_id
        in: path
        description: The resource ID of the notification.
        required: true
        type: string
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
    put:
      operationId: notificationPut
      tags:
      - Notifications
      summary: Updates the specified Notification.
      description: Updates the specified Notification.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: notification_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: Notification Object
        in: body
        description: Notification Object
        required: true
        schema:
          $ref: '#/definitions/NotificationObject'
      security:
      - OAuth:
        - update
      responses:
        204:
          description: No Content
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    delete:
      operationId: notificationDelete
      tags:
      - Notifications
      summary: Delete the specified notification.
      description: Delete the specified notification.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: notification_id
        in: path
        description: The resource ID of the notification.
        required: true
        type: string
      security:
      - OAuth:
        - delete
      responses:
        200:
          description: OK
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatargroups:
    post:
      operationId: avatarGroupsPost
      tags:
      - Avatars
      - Groups
      summary: Creates an avatar group
      description: Creates an avatar group (static or dynamic based on the content
        of the payload) with an HTTP POST
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: Avatar Group Object
        in: body
        description: Avatar Group Object
        required: true
        schema:
          $ref: '#/definitions/AvatarGroupObject'
      security:
      - OAuth:
        - create
      responses:
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    get:
      operationId: avatarGroupsPost
      tags:
      - Avatars
      - Groups
      summary: Retrieve a collection of avatar groups
      description: Retrieve a collection of avatar groups via a HTTP GET
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatargroups/{avatargroup_id}:
    put:
      operationId: avatarGroupPut
      tags:
      - Avatars
      - Groups
      summary: Change the name of a group
      description: Change the name of a group with an HTTP PUT
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatargroup_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: Avatar Group Object
        in: body
        description: Avatar Group Object
        required: true
        schema:
          $ref: '#/definitions/AvatarGroupObject'
      security:
      - OAuth:
        - update
      responses:
        204:
          description: No Content
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    get:
      operationId: avatarGroupGet
      tags:
      - Avatars
      - Groups
      summary: Retrieve a specific Avatar group
      description: Retrieve a specific Avatar group with an HTTP PUT
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatargroup_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      security:
      - OAuth:
        - read
      responses:
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    delete:
      operationId: avatarGroupDelete
      tags:
      - Avatars
      - Groups
      summary: Delete a specific Avatar group
      description: Delete a specific Avatar group with an HTTP DELETE
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatargroup_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      security:
      - OAuth:
        - delete
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not FOund
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatargroups/{avatargroup_id}/avatars:
    post:
      operationId: avatarGroupAvatarPost
      tags:
      - Avatars
      - Groups
      summary: Adds an avatar to an avatar group
      description: Adds an avatar to an avatar group by performing an HTTP POST.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatargroup_id
        in: path
        description: The resource ID of the intended avatar group to contain the avatar.
        required: true
        type: string
      security:
      - OAuth:
        - create
      responses:
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
    get:
      operationId: avatarGroupAvatarsGet
      tags:
      - Avatars
      - Groups
      summary: Retrieve all the Avatars associated with an Avatar group
      description: Retrieve all the avatars associated with an Avatar Group with an
        HTTP GET.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatargroup_id
        in: path
        description: The resource ID of the intended avatar group to contain the avatar.
        required: true
        type: string
      - name: fields
        in: query
        description: Filters result to only show requested properties as well as avatarDefinitionId,
          homeWorld, href, sysPrefix.
        required: false
        type: string
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/{avatargroup_id}/avatars/{avatar_id}:
    delete:
      operationId: avatarGroupDelete
      tags:
      - Avatars
      - Groups
      summary: Delete an Avatar from a group
      description: Deletes a device permanently from a group by performing an HTTP
        DELETE
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatargroup_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatar_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      security:
      - OAuth:
        - delete
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not FOund
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatarprofiles:
    post:
      operationId: avatarProfilesPost
      tags:
      - Avatars
      - Profiles
      summary: Create a new avatar profile
      description: Create a new avatar profile by performing an HTTP POST
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: Avatar Profile Object
        in: body
        description: Avatar Profile Object
        required: true
        schema:
          $ref: '#/definitions/AvatarProfileObject'
      security:
      - OAuth:
        - create
      responses:
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    get:
      operationId: avatarProfilesGet
      tags:
      - Avatars
      - Profiles
      summary: Get all avatar profiles within a world
      description: Get all avatar profiles within a specific world by performing an
        HTTP GET.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatarprofiles/{avatarprofile_id}:
    put:
      operationId: avatarProfilePut
      tags:
      - Avatars
      - Profiles
      summary: Modify an existing avatar profile
      description: Modify an existing avatar profile by doing an HTTP PUT. Only existing
        settings can be modified. No new settings can be added with a PUT. The user
        issuing this request requires Update permission within the world the avatar
        profile has been created. This operation will issue an implicit 'apply settings'
        command to all avatars currently associated to this avatar profile. This is
        required to maintain consistency between avatars and the associated avatar
        profile.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatarprofile_id
        in: path
        description: The resource ID of the avatar profile to update.
        required: true
        type: string
      - name: Avatar Profile Object
        in: body
        description: Avatar Profile Object
        required: true
        schema:
          $ref: '#/definitions/AvatarProfileObject'
      security:
      - OAuth:
        - update
      responses:
        204:
          description: No Content
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not acceptable
        415:
          description: Unsupported media type
        500:
          description: Internal server error
        default:
          description: Unexpected error
    get:
      operationId: avatarProfileGet
      tags:
      - Avatars
      - Profiles
      summary: Retrieve a specific avatar profile within a specific world.
      description: Retrieve a specific avatar profile within a specific world.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatarprofile_id
        in: path
        description: The resource ID of the avatar profile to retrieve.
        required: true
        type: string
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
    delete:
      operationId: avatarProfileGet
      tags:
      - Avatars
      - Profiles
      summary: Delete a specific avatar profile within a specific world.
      description: Delete a specific avatar profile within a specific world.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatarprofile_id
        in: path
        description: The resource ID of the avatar profile to retrieve.
        required: true
        type: string
      security:
      - OAuth:
        - delete
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/avatarprofiles/{avatarprofile_id}/avatars:
    get:
      operationId: avatarProfileAvatarGet
      tags:
      - Avatars
      - Profiles
      summary: Retrieve all avatars in a profile within a specific world.
      description: Retrieves all the avatars associated with an Avatar Profile with
        an HTTP GET.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: avatarprofile_id
        in: path
        description: The resource ID of the avatar profile to retrieve.
        required: true
        type: string
      - name: fields
        in: query
        description: Filters result to only show requested properties as well as avatarDefinitionId,
          homeWorld, href, sysPrefix.
        required: false
        type: string
      security:
      - OAuth:
        - read
      responses:
        200:
          description: OK
        400:
          description: Bad Request
        401:
          description: Unauthorized
        404:
          description: Forbidden
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /avatardefinitions/{avatar_defintion_id}/firmware:
    get:
      summary: Retrieve a collection of avatar definition firmware
      description: All existing firmwares for an avatar definition Id can be retrieved
        by performing an HTTP GET.
      operationId: getAvatarDefinitionFirmwares
      parameters:
      - name: token
        in: query
        required: true
        type: string
      - name: avatar_defintion_id
        in: path
        required: true
        type: string
      security:
      - OAuth:
        - read
      tags:
      - Avatars
      - Firmware
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        404:
          description: Not Found
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /avatardefinitions/{avatar_definition_id}/firmware/{firmware_id}:
    get:
      summary: Retrieve a specific avatar definition firmware
      description: Specific firmware versions associated with an avatar definition
        Id can be retrieved by performing an HTTP GET.
      operationId: getAvatarDefinitionFirmware
      parameters:
      - name: token
        in: query
        required: true
        type: string
      - name: avatar_definition_id
        in: path
        required: true
        type: string
      - name: firmware_id
        in: path
        required: true
        type: string
      security:
      - OAuth:
        - read
      tags:
      - Avatars
      - Firmware
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        404:
          description: Not Found
        406:
          description: Not acceptable
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/discoverabledevices:
    post:
      operationId: discoverabledevicesPost
      tags:
      - Discoverable Devices
      summary: Create a new discoverable device resource by performing an HTTP POST.
      description: Create a new discoverable device resource by performing an HTTP
        POST.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: Discoverable Devices Object
        in: body
        description: Discoverable Devices Object
        required: true
        schema:
          $ref: '#/definitions/DiscoverableDevicesObject'
      security:
      - OAuth:
        - create
      responses:
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        500:
          description: Internal server error
        default:
          description: Unexpected error
  /worlds/{world_id}/discoverabledevices/{discoverabledevice_id}:
    get:
      operationId: discoverabledeviceGet
      tags:
      - Discoverable Devices
      summary: Retrieve discoverable device resource.
      description: Retrieve discoverable device resource.
      parameters:
      - name: token
        in: query
        description: Your login token
        required: true
        type: string
      - name: world_id
        in: path
        description: The resource ID of the world containing the avatar.
        required: true
        type: string
      - name: discoverabledevice_id
        in: path
        description: The resource ID of the discoverable device.
        required: true
        type: string
      security:
      - OAuth:
        - read
      responses:
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        406:
          description: Not Acceptible
        500:
          description: Internal server error
        default:
          description: Unexpected error
produces:
- application/json; charset=utf-8
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:17:\"UserProfileObject\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"first_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:142:\"First
  name of the Zatar user. Support for alphabet characters only (a-z)(A-Z), support
  for special character space [ ], maximum 64 characters.\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:221:\"Last
  name of the Zatar user. Support for alphabet characters only (a-z)(A-Z), support
  for special character apostrophe', support for special character dash-, support
  for special character space [ ], maximum 64 characters.\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:93:\"Email
  address of the Zatar user. Must meet minimum email format requirements according
  to RFC\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Alphanumeric
  string (a-z, 0-9), maximum 64 characters\";}s:15:\"cellPhoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:143:\"Support
  for numeric characters (0-9), support for additional phone number special characters,
  format: +country code - area code - phone number.\";}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Alphanumeric
  string (a-z, 0-9), maximum 64 characters.\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:234:\"alphanumeric
  string (a-z, 0-9), case sensitive, must contain one upper case letter, must contain
  one lower case letter, must contain one number, must contain one special character
  (@#$%^&+), minimum 8 characters, maximum 16 characters\";}}s:8:\"required\";a:2:{i:0;s:5:\"email\";i:1;s:8:\"password\";}}s:11:\"LoginObject\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:93:\"Email
  address of the Zatar user. Must meet minimum email format requirements according
  to RFC\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:234:\"alphanumeric
  string (a-z, 0-9), case sensitive, must contain one upper case letter, must contain
  one lower case letter, must contain one number, must contain one special character
  (@#$%^&+), minimum 8 characters, maximum 16 characters\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"email\";s:20:\"myUserName@gmail.com\";s:8:\"password\";s:11:\"P@ssword123\";}}s:16:\"InvitationObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Email
  address of the Zatar user you wish to invite to a world.\";}s:5:\"world\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  URI of the world you are inviting the user to join.\";}}}s:19:\"PasswordTokenObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"Your
  registered Zatar email address which we will use to send you a password reset link.\";}}}s:11:\"WorldObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:169:\"alphanumeric
  string (a-z, 0-9), characters -, _, and . supported, not case sensitive, must be
  between 8-64 characters long, cannot contain two periods next to each other\";}}}s:12:\"AvatarObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"avatarDefinitionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"The
  URI of the Avatar Definition you wish to use to make this Avatar from.\";}s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:119:\"The
  JSON object providing the initial attribute values of this Avatar. The only required
  attribute is the device's UDI.\";}}}s:17:\"AvatarGroupObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"alphanumeric
  string (a-z, 0-9)\";}}}s:19:\"AvatarProfileObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:261:\"Alphanumeric
  string (a-z, 0-9), special character support for dashes -, special character support
  for underscores _, special character support for periods ., not case sensitive,
  must be between 8-64 characters long, cannot contain two periods next to each other\";}s:18:\"avatarDefinitionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"alphanumeric
  string (a-z, 0-9) value identifying the avatar definition to be used for this avatar
  profile\";}s:8:\"settings\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"a
  collection of setting names that are related to the provided avatarDefinitionId\";}}}s:18:\"NotificationObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"MANDATORY
  Type of notification. Valid type is EMAIL, it's case insensitive.\";}s:10:\"recipients\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"MANDATORY
  List of emails associated with this notification. It should include at least one
  email.\";}s:16:\"eventDefinitions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:190:\"MANDATORY
  List of eventDefinition url's associated with this notification. It should include
  at least one eventDefinition URL and eventDefinition should be existing within the
  current world.\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"Optional
  true activates notification and false de-activates notification. Default is true.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"MANDATORY
  Name of the notification which is not unique.\";}}}s:25:\"DiscoverableDevicesObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  full URI of the avatar.\";}}}s:27:\"AvatarEventDefinitionObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Name
  of the event defintion\";}s:10:\"expression\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:252:\"Parameters
  and conditions. Valid operators are >, <, =, ==, >=, <=, !=, and, or '=' and '=='
  both do the same equals comparison. Valid keywords are attribute, avatar, avatardefinition,
  Boolean values true or false can also be used for value comparison.\";}}}s:25:\"AttributePropertiesObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  name of the attribute.\";}s:2:\"dt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Data
  Type: possible values are STRING.\";}s:4:\"perm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:235:\"Permission:
  0 = Client application cannot upate, 1 = Client application updates the avatar but
  does not trigger an update to happen to the Avatar's device, 2 = Client application
  updates trigger an update to be sent to Avatar's device.\";}s:2:\"pt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Property
  Type: Deprecated\";}s:3:\"uom\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Unit
  of Measurement: Reserved for future use\";}s:3:\"prc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Precision:
  Reserved for future use\";}s:3:\"rng\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Range:
  Reserved for future use\";}s:3:\"acc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Accuracy:
  Reserved for future use\";}s:4:\"stpk\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:143:\"NEED
  NAME: The key of the key/value pair representing this attribute in the code of the
  device driver running on this Avatar's physical device.\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Data:
  The value of this attribute.\";}}}s:40:\"RequiredAvatarDefinitionAttributesObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AttributePropertiesObject\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AttributePropertiesObject\";}s:12:\"Manufacturer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AttributePropertiesObject\";}s:5:\"Model\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AttributePropertiesObject\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AttributePropertiesObject\";}s:3:\"UDI\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AttributePropertiesObject\";}s:9:\"Locations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AttributePropertiesObject\";}s:8:\"Firmware\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AttributePropertiesObject\";}s:11:\"avataruidef\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AttributePropertiesObject\";}}}}"
...
