---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:13:\"Company Check\";s:11:\"description\";s:321:\"Use
  the Company Check API platform to integrate company, director, financial and credit
  data from over 20 million records, in to your own software and bespoke applications.
  Full coverage across the UK and Ireland. For data outside of the UK check out our
  EU API: https://market.mashape.com/companycheck/company-check-euro\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"companycheck\";s:3:\"url\";s:25:\"http://companycheck.co.uk\";}s:7:\"version\";N;s:6:\"x-logo\";s:86:\"https://s3.amazonaws.com/mashape-production-logos/apis/547d82e4e4b051cc0a840d77_medium\";s:20:\"x-mashape-categories\";a:2:{i:0;s:8:\"Business\";i:1;s:4:\"Data\";}s:8:\"x-origin\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"mashape\";s:3:\"url\";s:53:\"https://market.mashape.com/companycheck/company-check\";}}"
host: companycheck.p.mashape.com
basePath: ""
paths:
  /company:
    get:
      operationId: company
      produces:
      - application/json
      parameters:
      - name: id
        in: query
        description: This is the Companies House ID of the company you want to look
          up.
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /companyBasic:
    get:
      operationId: company-basic
      produces:
      - application/json
      parameters:
      - name: id
        in: query
        description: This is the Companies House ID of the company you want to look
          up.
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /companySearch:
    get:
      operationId: company-search
      produces:
      - application/json
      parameters:
      - name: active
        in: query
        description: Only return active companies (must not also supply 'dissolved'
          flag)
      - name: address
        in: query
        description: A full or partial address for the company
      - name: assets
        in: query
        description: 'Assets in most recent accounts. Accepts number, or range in
          this format: 1234..4321'
      - name: cashatbank
        in: query
        description: 'Cash at Bank in most recent accounts. Accepts number, or range
          in this format: 1234..4321'
      - name: creditors
        in: query
        description: 'Creditors in most recent accounts. Accepts number, or range
          in this format: 1234..4321'
      - name: debtors
        in: query
        description: 'Debtors in most recent accounts. Accepts number, or range in
          this format: 1234..4321'
      - name: dissolved
        in: query
        description: Only return dissolved companies (must not also supply 'active'
          flag)
      - name: fixedassets
        in: query
        description: 'Fixed Assets in most recent accounts. Accepts number, or range
          in this format: 1234..4321'
      - name: liabilities
        in: query
        description: 'Liabilities in most recent accounts. Accepts number, or range
          in this format: 1234..4321'
      - name: name
        in: query
        description: The full or partial name of the company you want to look up
      - name: networth
        in: query
        description: 'Net Worth in most recent accounts. Accepts number, or range
          in this format: 1234..4321'
      - name: postcode
        in: query
        description: A full or partial postcode for the company
      - name: siccode
        in: query
        description: 'SIC code, or range of acceptable numbers. Accepts number, or
          range in this format: 1234..4321'
      - name: turnover
        in: query
        description: 'Turnover in most recent accounts. Accepts number, or range in
          this format: 1234..4321'
      responses:
        200:
          description: ~
          schema:
            type: array
  /director:
    get:
      operationId: director
      produces:
      - application/json
      parameters:
      - name: id
        in: query
        description: This is the Companies House ID of the director you want to look
          up.
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /directorBasic:
    get:
      operationId: director-basic
      produces:
      - application/json
      parameters:
      - name: id
        in: query
        description: This is the Companies House ID of the director you want to look
          up.
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /directorSearch:
    get:
      operationId: director-search
      produces:
      - application/json
      parameters:
      - name: birthyear
        in: query
        description: The year that the director was born in
      - name: name
        in: query
        description: The full or partial name of the director you want to look up
        required: true
      - name: postcode
        in: query
        description: A full or partial postcode for the director
      responses:
        200:
          description: ~
          schema:
            type: array
definitions: !php/object "O:8:\"stdClass\":37:{s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:14:\"companySummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CompanySummary\";}s:21:\"companyIdentification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CompanyIdentification\";}s:11:\"creditScore\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CreditScore\";}s:18:\"contactInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContactInformation\";}s:21:\"shareCapitalStructure\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ShareCapitalStructure\";}s:9:\"directors\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Director\";}s:14:\"groupStructure\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/GroupStructure\";}s:19:\"financialStatements\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FinancialStatement\";}}s:21:\"countyCourtJudgements\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CountyCourtJudgement\";}s:11:\"paymentData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PaymentData\";}s:14:\"companyHistory\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CompanyHistory\";}}s:19:\"mortgageInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/MortgageInformation\";}s:12:\"commentaries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Commentarie\";}}s:12:\"shareDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ShareDetail\";}}s:13:\"secondaryData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SecondaryData\";}s:22:\"companyRatingHistories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CompanyRatingHistorie\";}}s:21:\"companyLimitHistories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CompanyLimitHistorie\";}}}}s:13:\"LatestAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"accountRefDay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"accountRefMonth\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"accountNextDueDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"accountLastMadeUpDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"accountCategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"CompanySummary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"businessName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"registrationNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"latestTurnoverFigure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:30:\"latestShareholdersEquityFigure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"creditRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"creditLimit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ratingDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"returnLastMadeUpDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"alpha\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"mainActivity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MainActivity\";}s:13:\"latestAccount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LatestAccount\";}}}s:7:\"SicCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"sicCode2003\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"sicCode2003Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"sicCode2007\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"sicCode2007Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"ShareCapitalStructure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"nominalShareCapital\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"issuedShareCapital\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"shareHolders\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ShareHolder\";}}}}s:16:\"RegisteredAddres\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address4\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"postcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"telephone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"ShareHolder\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"sharePercent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"ShareDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:13:\"companyNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"forename\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"surname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"add1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"add2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"add3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"add4\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"add5\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"post\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"shareType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"shareClass\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"shareholderType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"OtherFinancial\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"netWorth\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"workingCapital\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"totalAssets\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"totalLiabilities\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"netAssets\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"PaymentData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:26:\"totalNoofInvoicesAvailable\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:36:\"totalNoofInvoicesPaidBefore30DaysDue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:35:\"totalNoofInvoicesPaidAfter30DaysDue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:37:\"totalNoofInvoicesOwingBefore30DaysDue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:36:\"totalNoofInvoicesOwingAfter30DaysDue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"averageDBT\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:18:\"ContactInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"websites\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"registeredAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RegisteredAddres\";}s:16:\"tradingAddresses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TradingAddresse\";}}}}s:21:\"CompanyRatingHistorie\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"companyNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ratingDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ratingDateOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shortDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"BalanceSheet\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:16:\"tangibleAccounts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"IntangibleAssets\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"totalFixedAssets\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"stock\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"tradeDebtors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"cash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"otherDebtors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"miscellaneousCurrentAssets\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"totalCurrentAssets\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"tradeCreditors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"bankLoansAndOverdrafts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"otherShortTermFinance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:31:\"miscellaneousCurrentLiabilities\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"totalCurrentLiabilities\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"bankLoansAndOverdraftsAndLTL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"otherLongTermFinance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"totalLongTermFinance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"CurrentDirector\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"appointmentDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"dateOfBirth\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"resignationDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"pnr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"currentDirectorships\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"previousDirectorships\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"totalDirectorships\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Ratio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:18:\"preTaxProfitMargin\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"currentRatio\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"gearing\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"salesOrNetWorkingCapital\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"equityInPercentage\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"creditorDays\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"debtorDays\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"liquidityRatioOrAcidTest\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"returnOnCapitalEmployed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:27:\"returnOnTotalAssetsEmployed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"currentDebtRatio\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"totalDebtRatio\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"stockTurnoverRatio\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"returnOnNetAssetsEmployed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:11:\"CreditScore\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:19:\"currentCreditRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"currentRatingDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"currentCreditLimit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"previousCreditRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"previousCreditLimit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"previousRatingDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"dateOfLatestRatingChange\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Cash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:25:\"netCashFlowFromOperations\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"netCashFlowBeforeFinancing\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"netCashFlowFromFinancing\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"increaseInCash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Director\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"currentDirectors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CurrentDirector\";}}s:17:\"previousDirectors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PreviousDirector\";}}}}s:18:\"FinancialStatement\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:16:\"yearEndDateOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"yearEndDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Summary\";}s:13:\"profitAndLoss\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ProfitAndLos\";}s:12:\"balanceSheet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BalanceSheet\";}s:18:\"capitalAndReserves\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CapitalAndReserve\";}s:15:\"otherFinancials\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OtherFinancial\";}s:4:\"cash\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Cash\";}s:13:\"miscellaneous\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Miscellaneou\";}s:6:\"ratios\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Ratio\";}}}s:11:\"Commentarie\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"commentaryText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"positiveOrNegative\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"GroupStructure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"subsidiaries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"ultimateParent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/UltimateParent\";}}}s:16:\"BasicInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"businessName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"companyRegistrationNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"companyRegistrationDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"startOperationsDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"legalForm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"companyStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"principalActivity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"contactAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"contactTelephoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"MainActivity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"activityCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"activityDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"CompanyHistory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"PreviousName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"dateChanged\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"CompanyIdentification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"previousLegalForms\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:16:\"basicInformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BasicInformation\";}s:8:\"sicCodes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/SicCode\";}}s:13:\"previousNames\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PreviousName\";}}}}s:7:\"Summary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"numberOfWeeks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"consolidatedAccounts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"CountyCourtJudgement\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"possible\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"exact\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:19:\"MortgageInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"mortgageSummary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"mortgageDetails\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"UltimateParent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"Miscellaneou\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:19:\"contingentLiability\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"capitalEmployed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"numberOfEmployees\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"auditors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"auditorComments\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"bankers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"bankBranchCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"CapitalAndReserve\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:21:\"calledUpSharedCapital\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"PAndLAccountReserve\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"revaluationReserve\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"sundryReserves\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shareholderFunds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"ProfitAndLos\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:8:\"turnover\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"export\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"costOfSales\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"grossProfit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"wagesAndSalaries\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"directorsEmoluments\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"operatingProfit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"depreciation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"auditFees\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"interestPayments\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"preTaxProfit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"taxation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"profitAfterTax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"dividends\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"retainedProfit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"CompanyLimitHistorie\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"companyNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"limitDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"limitDateOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"SecondaryData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:15:\"telephoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"faxNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"emailAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"webAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"twitter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"facebook\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"googlePlus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"linkedIn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"contactName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"businessClassification\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"TradingAddresse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address4\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"postcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"telephone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"PreviousDirector\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"appointmentDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"dateOfBirth\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"resignationDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"pnr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"currentDirectorships\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"previousDirectorships\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"totalDirectorships\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
