---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:14:\"MVP Production\";s:7:\"version\";s:3:\"1.0\";}"
host: mvpapi.azure-api.net
basePath: /mvp
paths:
  /api/contributions/contributionareas:
    get:
      summary: GetContributionAreas
      description: Gets a list of Contribution areas grouped by Award Names
      operationId: GetContributionAreas
      x-ms-visibility: advanced
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      responses:
        200:
          description: IEnumerable ContributionAreaViewModel
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
  /api/contributions/contributiontypes:
    get:
      summary: GetContributionTypes
      description: Gets a list of Contribution Types
      operationId: GetContributionTypes
      x-ms-visibility: advanced
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      responses:
        200:
          description: IOrderedEnumerable object.
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
  /api/contributions/{offset}/{limit}:
    get:
      summary: GetContributions
      description: Supports pagination
      operationId: GetContributions
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      - name: offset
        in: path
        description: Format - int32. Page skip integer
        required: true
        type: integer
      - name: limit
        in: path
        description: Format - int32. Page take integer
        required: true
        type: integer
      responses:
        200:
          description: OK. ContributionViewModel object
          schema:
            $ref: '#/definitions/ContributionViewModel'
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
  /api/contributions/{id}:
    get:
      summary: GetContributionById
      description: Gets a Contribution item by id
      operationId: GetContributionById
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      - name: id
        in: path
        description: Format - int32. ContributionId
        required: true
        type: integer
      responses:
        200:
          description: OK. Contribution object
          schema:
            $ref: '#/definitions/ContributionsModel'
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
  /api/contributions:
    put:
      summary: PutContribution
      description: Updates a Contribution item
      operationId: PutContribution
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      - name: contributionsModel
        in: body
        schema:
          $ref: '#/definitions/ContributionsModel'
        description: ContributionsModel object
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      responses:
        200:
          description: OK
        500:
          description: InternalServerError
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
    post:
      summary: PostContribution
      description: Creates a new Contribution item
      operationId: PostContribution
      x-ms-visibility: advanced
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      - name: contributionsModel
        in: body
        schema:
          $ref: '#/definitions/ContributionsModel'
        description: ContributionsModel object
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApiContributionsPost200ApplicationJsonResponse'
        201:
          description: Newly created ContributionsModel item
          schema:
            $ref: '#/definitions/ContributionsModel'
        400:
          description: BadRequest
        500:
          description: InternalServerError
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
    delete:
      summary: DeleteContribution
      description: Deletes a Contribution item
      operationId: DeleteContribution
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      - name: id
        in: query
        description: Format - int32. Contribution ID (model PrivateSiteId value)
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApiContributionsDelete200ApplicationJsonResponse'
        204:
          description: NoContent
        404:
          description: NotFound
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
  /api/onlineidentities:
    get:
      summary: GetOnlineIdentities
      description: Retricted to the current user
      operationId: GetOnlineIdentities
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      responses:
        200:
          description: OK. IEnumberable object.
          schema:
            $ref: '#/definitions/OnlineIdentityViewModelArray'
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
    put:
      summary: PutOnlineIdentity
      description: Set PrivateSiteId in model to identity id
      operationId: PutOnlineIdentity
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      - name: onlineIdentityViewModel
        in: body
        schema:
          $ref: '#/definitions/OnlineIdentityViewModel'
        description: OnlineIdentityViewModel model
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      responses:
        200:
          description: OK
        500:
          description: InternalServerError
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
    post:
      summary: PostOnlineIdentity
      description: Keep PrivateSiteId == 0 and Retricted to the current user
      operationId: PostOnlineIdentity
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      - name: onlineIdentityViewModel
        in: body
        schema:
          $ref: '#/definitions/OnlineIdentityViewModel'
        description: OnlineIdentityViewModel object
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApiOnlineidentitiesPost200ApplicationJsonResponse'
        201:
          description: Newly created OnlineIdentity item
          schema:
            $ref: '#/definitions/OnlineIdentity'
        500:
          description: InternalServerError
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
    delete:
      summary: DeleteOnlineIdentity
      description: Delete Online Identity
      operationId: DeleteOnlineIdentity
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      - name: id
        in: query
        description: Format - int32. The items identity id (PrivateSiteId)
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApiOnlineidentitiesDelete200ApplicationJsonResponse'
        204:
          description: NoContent
        400:
          description: BadRequest
        404:
          description: NotFound
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
  /api/onlineidentities/{nominationsId}:
    get:
      summary: GetOnlineIdentitiesByNominationsId
      description: Retricted to the current user
      operationId: GetOnlineIdentitiesByNominationsId
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      - name: nominationsId
        in: path
        description: Format - uuid. Guid nominationsId
        required: true
        type: string
      responses:
        200:
          description: OK. IEnumberable object.
          schema:
            $ref: '#/definitions/OnlineIdentityViewModelArray'
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
  /api/onlineidentities/{id}:
    get:
      summary: GetOnlineIdentityById
      description: Retricted to the current user
      operationId: GetOnlineIdentityById
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      - name: id
        in: path
        description: Format - int32. id of item to be retrieved
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OnlineIdentity'
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
  /api/profile:
    get:
      summary: GetMVPProfile
      description: Gets the current logged on user profile summary
      operationId: GetMVPProfile
      x-ms-visibility: important
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProfileViewModel'
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
  /api/profile/{mvpid}:
    get:
      summary: GetMVPProfileById
      description: Gets a users public profile
      operationId: GetMVPProfileById
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      - name: mvpid
        in: path
        description: Users mvpid
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProfileViewModel'
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
  /api/profile/photo:
    get:
      summary: GetMVPProfileImage
      description: Gets the MVP Profile Image
      operationId: GetMVPProfileImage
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      responses:
        200:
          description: OK
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
  /api/contributions/sharingpreferences:
    get:
      summary: GetSharingPreferences
      description: Gets a list of Sharing Preference / Visibility Types for Contributions
      operationId: GetSharingPreferences
      parameters:
      - $ref: '#/parameters/apiKeyHeader'
      responses:
        200:
          description: OK. IEnumerable object.
          schema:
            $ref: '#/definitions/VisibilityViewModelArray'
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":38:{s:19:\"VisibilityViewModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  visibility.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"Id\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:20:\"Gets
  or sets the id.\";s:4:\"type\";s:7:\"integer\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets the description.\";s:4:\"type\";s:6:\"string\";}s:11:\"LocalizeKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"ContributionTypeModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"Id\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:20:\"Gets
  or sets the id.\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Gets
  or sets the localized name.\";s:4:\"type\";s:6:\"string\";}s:11:\"EnglishName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets the english name\";s:4:\"type\";s:6:\"string\";}}}s:21:\"ContributionViewModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"Contributions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContributionsModel\";}}s:18:\"TotalContributions\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"PagingIndex\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:18:\"ContributionsModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:14:\"ContributionId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:39:\"Gets
  or sets the Contribution table id.\";s:4:\"type\";s:7:\"integer\";}s:20:\"ContributionTypeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Name
  of the contribution type\";s:4:\"type\";s:6:\"string\";}s:16:\"ContributionType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ContributionTypeModel\";s:11:\"description\";s:35:\"Gets
  or sets the contribution type.\";}s:22:\"ContributionTechnology\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ContributionTechnologyModel\";s:11:\"description\";s:41:\"Gets
  or sets the contribution technology.\";}s:9:\"StartDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"Gets
  or sets the start date.\";s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Gets
  or sets the title.\";s:4:\"type\";s:6:\"string\";}s:12:\"ReferenceUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Gets
  or sets the url.\";s:4:\"type\";s:6:\"string\";}s:10:\"Visibility\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/VisibilityViewModel\";s:11:\"description\";s:28:\"Gets
  or sets the visibility.\";}s:14:\"AnnualQuantity\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:33:\"Gets
  or sets the annual quantity.\";s:4:\"type\";s:7:\"integer\";}s:20:\"SecondAnnualQuantity\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Gets
  or sets the second annual quantity.\";s:4:\"type\";s:7:\"integer\";}s:11:\"AnnualReach\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Gets
  or sets the reach score.\";s:4:\"type\";s:7:\"integer\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets the description.\";s:4:\"type\";s:6:\"string\";}}}s:27:\"ContributionTechnologyModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"Id\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:20:\"Gets
  or sets the id.\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Gets
  or sets the name.\";s:4:\"type\";s:6:\"string\";}s:9:\"AwardName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"AwardCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Property
  to hold the Award Category value\";s:4:\"type\";s:6:\"string\";}}}s:23:\"OnlineIdentityViewModel\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:13:\"SocialNetwork\";i:1;s:3:\"Url\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"PrivateSiteId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"SocialNetwork\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/SocialNetworkViewModel\";}s:3:\"Url\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:490;s:9:\"minLength\";i:0;s:7:\"pattern\";s:1263:\"^((https?|ftp):\\/\\/)?(((([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(%[\\da-fA-F]{2})|[!\\$&amp;'\\(\\)\\*\\+,;=]|:)*@)?(((\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5])\\.(\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5])\\.(\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5])\\.(\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5]))|((([a-zA-Z]|\\d|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(([a-zA-Z]|\\d|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])*([a-zA-Z]|\\d|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])))\\.)+(([a-zA-Z]|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(([a-zA-Z]|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])*([a-zA-Z]|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])))\\.?)(:\\d*)?)(\\/((([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(%[\\da-fA-F]{2})|[!\\$&amp;'\\(\\)\\*\\+,;=]|:|@)+(\\/(([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(%[\\da-fA-F]{2})|[!\\$&amp;'\\(\\)\\*\\+,;=]|:|@)*)*)?)?(\\?((([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(%[\\da-fA-F]{2})|[!\\$&amp;'\\(\\)\\*\\+,;=]|:|@)|[\\uE000-\\uF8FF]|\\/|\\?)*)?(\\#((([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(%[\\da-fA-F]{2})|[!\\$&amp;'\\(\\)\\*\\+,;=]|:|@)|\\/|\\?)*)?$\";s:4:\"type\";s:6:\"string\";}s:24:\"OnlineIdentityVisibility\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/VisibilityViewModel\";}s:21:\"ContributionCollected\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"DisplayName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:500;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:6:\"UserId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:500;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:16:\"MicrosoftAccount\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:500;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:20:\"PrivacyConsentStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:25:\"PrivacyConsentCheckStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:23:\"PrivacyConsentCheckDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:25:\"PrivacyConsentUnCheckDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"Submitted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:22:\"SocialNetworkViewModel\";O:8:\"stdClass\":3:{s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"Id\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"IconUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"SystemCollectionEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:14:\"OnlineIdentity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:16:\"OnlineIdentityId\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:7:\"MvpGuid\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"PrivateSiteId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:24:\"OnlineIdentityVisibility\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SharingPreference\";}s:13:\"SocialNetwork\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SocialNetwork\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"DisplayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"UserId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"MicrosoftAccount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"ContributionCollected\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"PrivacyConsentStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"Submitted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:17:\"SharingPreference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"SocialNetwork\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"SocialNetworkId\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"StatusCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/SocialNetworkStatusCode\";}s:23:\"SystemCollectionEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:23:\"SocialNetworkStatusCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"ProfileViewModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:8:\"Metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ContentMetadata\";}s:5:\"MvpId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"YearsAsMvp\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"FirstAwardYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"AwardCategoryDisplay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"TechnicalExpertise\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"InTheSpotlight\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"Headline\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Biography\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"DisplayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"FullName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"PrimaryEmailAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ShippingCountry\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ShippingStateCity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Languages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OnlineIdentities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/OnlineIdentityViewModel\";}}s:14:\"Certifications\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/CertificationViewModel\";}}s:10:\"Activities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ActivityViewModel\";}}s:15:\"CommunityAwards\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AwardRecognitionViewModel\";}}s:14:\"NewsHighlights\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/MvpHighlightViewModel\";}}s:13:\"UpcomingEvent\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/MvpHighlightViewModel\";}}}}s:15:\"ContentMetadata\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"PageTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"TemplateName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Keywords\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:22:\"CertificationViewModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  account certification view model for edit.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"PrivateSiteId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:33:\"Gets
  or sets the private site id.\";s:4:\"type\";s:7:\"integer\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:20:\"Gets
  or sets the id.\";s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Gets
  or sets the title.\";s:9:\"maxLength\";i:100;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:23:\"CertificationVisibility\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/VisibilityViewModel\";s:11:\"description\";s:42:\"Gets
  or sets the certification visibility.\";}}}s:17:\"ActivityViewModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:1672:\"The
  activity view model.\r\nNote:\r\nThe logic of acticity is a little complicate.\r\nWhile
  edit activity, the ActivityType should be non-editable;\r\nWhile add activity, the
  dispalyname of AnnualQuantity/SecondAnnualQuantity/ReachScore should change with
  ActivityType changing,\r\nand validation rule is different while ActivityType change.\r\nFollowing
  is the logic details.\r\n<remarks>\r\nBook (Author):\r\n    [msft_title: required,
  'Title']\r\n    [msft_startdate: required,'Start Date']\r\n    [msft_annualquantity:
  required, 'Books']\r\nBook (Co-Author): same as Book (Author)\r\nConference (booth
  presenter):\r\n    [msft_title: required, 'Title']\r\n    [msft_startdate: required,'Start
  Date']\r\n    [msft_annualquantity: required, 'Conferences']\r\nConference (organizer):
  same as Conference (booth presenter)\r\nSpeaking (Conference):\r\n    [msft_title:
  required, 'Title']\r\n    [msft_startdate: required,'Start Date']\r\n    [msft_annualquantity:
  required, 'Talks']\r\nSpeaking (Local):Same as Speaking (Conference)\r\nSpeaking
  (User group):Same as Speaking (Conference)\r\nForum Moderator:\r\n    [msft_title:
  required, 'Title']\r\n    [msft_startdate: required,'Start Date']\r\n    [msft_annualquantity:
  required, 'Threads Moderated']\r\nForum Participation (Microsoft Forums):\r\n    [msft_title:
  recommend, 'Title']\r\n    [msft_startdate: required,'Start Date']\r\n    [msft_url:
  required, 'Url']\r\n    [msft_annualquantity: required, 'Answers']\r\nForum Participation
  (3rd Party forums):\r\n    [msft_title: recommend, 'Title']\r\n    [msft_startdate:
  required,'Start Date']\r\n    [msft_url: required, 'Url']\r\n    [msft_annualquantity:
  required, 'Answers']\r\n    [msft_secondannualquantity: required, 'Posts']\r\n</remarks>\";s:8:\"required\";a:4:{i:0;s:12:\"ActivityType\";i:1;s:20:\"ApplicableTechnology\";i:2;s:14:\"DateOfActivity\";i:3;s:15:\"TitleOfActivity\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":29:{s:13:\"PrivateSiteId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:33:\"Gets
  or sets the private site id.\";s:4:\"type\";s:7:\"integer\";}s:12:\"ActivityType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ActivityTypeViewModel\";s:11:\"description\";s:35:\"Gets
  or sets the contribution type.\";}s:20:\"ApplicableTechnology\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ActivityTechnologyViewModel\";s:11:\"description\";s:41:\"Gets
  or sets the contribution technology.\";}s:14:\"DateOfActivity\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"Gets
  or sets the start date.\";s:4:\"type\";s:6:\"string\";}s:23:\"DateOfActivityFormatted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"EndDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:37:\"End
  Date for system auto contribution\";s:4:\"type\";s:6:\"string\";}s:16:\"EndDateFormatted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"TitleOfActivity\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Gets
  or sets the title.\";s:4:\"type\";s:6:\"string\";}s:12:\"ReferenceUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Gets
  or sets the url.\";s:7:\"pattern\";s:1263:\"^((https?|ftp):\\/\\/)?(((([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(%[\\da-fA-F]{2})|[!\\$&amp;'\\(\\)\\*\\+,;=]|:)*@)?(((\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5])\\.(\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5])\\.(\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5])\\.(\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5]))|((([a-zA-Z]|\\d|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(([a-zA-Z]|\\d|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])*([a-zA-Z]|\\d|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])))\\.)+(([a-zA-Z]|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(([a-zA-Z]|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])*([a-zA-Z]|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])))\\.?)(:\\d*)?)(\\/((([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(%[\\da-fA-F]{2})|[!\\$&amp;'\\(\\)\\*\\+,;=]|:|@)+(\\/(([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(%[\\da-fA-F]{2})|[!\\$&amp;'\\(\\)\\*\\+,;=]|:|@)*)*)?)?(\\?((([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(%[\\da-fA-F]{2})|[!\\$&amp;'\\(\\)\\*\\+,;=]|:|@)|[\\uE000-\\uF8FF]|\\/|\\?)*)?(\\#((([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(%[\\da-fA-F]{2})|[!\\$&amp;'\\(\\)\\*\\+,;=]|:|@)|\\/|\\?)*)?$\";s:4:\"type\";s:6:\"string\";}s:18:\"ActivityVisibility\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/VisibilityViewModel\";s:11:\"description\";s:28:\"Gets
  or sets the visibility.\";}s:14:\"AnnualQuantity\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:33:\"Gets
  or sets the annual quantity.\";s:7:\"pattern\";s:8:\"^[0-9]*$\";s:4:\"type\";s:7:\"integer\";}s:20:\"SecondAnnualQuantity\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Gets
  or sets the second annual quantity.\";s:7:\"pattern\";s:8:\"^[0-9]*$\";s:4:\"type\";s:7:\"integer\";}s:11:\"AnnualReach\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Gets
  or sets the reach score.\";s:7:\"pattern\";s:8:\"^[0-9]*$\";s:4:\"type\";s:7:\"integer\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets the description.\";s:4:\"type\";s:6:\"string\";}s:14:\"OnlineIdentity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/OnlineIdentityViewModel\";s:11:\"description\";s:117:\"Online
  identity by which this contribution was collected. Should be null if the contribution
  was not system collected\";}s:13:\"SocialNetwork\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/SocialNetworkViewModel\";s:11:\"description\";s:78:\"Social
  network. Should be null or ignore for non system collected contribution\";}s:13:\"AllAnswersUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"AllAnswersUrl\";s:4:\"type\";s:6:\"string\";}s:11:\"AllPostsUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"AllAnswersUrl\";s:4:\"type\";s:6:\"string\";}s:17:\"IsSystemCollected\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"If
  this contribution is system collected\";s:4:\"type\";s:7:\"boolean\";}s:26:\"IsBelongToLatestAwardCycle\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"If
  this contribution belongs to latest award cycle.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"DisplayMode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"ChartColumnIndexes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:24:\"DescriptionSummaryFormat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"DataTableTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"SubtitleHeader\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"IsAllowEdit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"IsAllowDelete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"IsFromBookmarklet\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"IsBookmarklet:
  If the call is initiated from bookmarklet\";s:4:\"type\";s:7:\"boolean\";}s:9:\"Submitted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:25:\"AwardRecognitionViewModel\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:5:\"Title\";i:1;s:10:\"DateEarned\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"PrivateSiteId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"Title\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2000;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:10:\"DateEarned\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"ReferenceUrl\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:1263:\"^((https?|ftp):\\/\\/)?(((([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(%[\\da-fA-F]{2})|[!\\$&amp;'\\(\\)\\*\\+,;=]|:)*@)?(((\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5])\\.(\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5])\\.(\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5])\\.(\\d|[1-9]\\d|1\\d\\d|2[0-4]\\d|25[0-5]))|((([a-zA-Z]|\\d|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(([a-zA-Z]|\\d|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])*([a-zA-Z]|\\d|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])))\\.)+(([a-zA-Z]|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(([a-zA-Z]|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])*([a-zA-Z]|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])))\\.?)(:\\d*)?)(\\/((([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(%[\\da-fA-F]{2})|[!\\$&amp;'\\(\\)\\*\\+,;=]|:|@)+(\\/(([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(%[\\da-fA-F]{2})|[!\\$&amp;'\\(\\)\\*\\+,;=]|:|@)*)*)?)?(\\?((([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(%[\\da-fA-F]{2})|[!\\$&amp;'\\(\\)\\*\\+,;=]|:|@)|[\\uE000-\\uF8FF]|\\/|\\?)*)?(\\#((([a-zA-Z]|\\d|-|\\.|_|~|[\\u00A0-\\uD7FF\\uF900-\\uFDCF\\uFDF0-\\uFFEF])|(%[\\da-fA-F]{2})|[!\\$&amp;'\\(\\)\\*\\+,;=]|:|@)|\\/|\\?)*)?$\";s:4:\"type\";s:6:\"string\";}s:26:\"AwardRecognitionVisibility\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/VisibilityViewModel\";}}}s:21:\"MvpHighlightViewModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"DateFormatted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"ActivityTypeViewModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  activity type.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"Id\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:20:\"Gets
  or sets the id.\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Gets
  or sets the name.\";s:4:\"type\";s:6:\"string\";}s:11:\"EnglishName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Gets
  or sets the english name\";s:4:\"type\";s:6:\"string\";}}}s:27:\"ActivityTechnologyViewModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  activity technology model.\";s:8:\"required\";a:1:{i:0;s:2:\"Id\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"Id\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:20:\"Gets
  or sets the id.\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Gets
  or sets the name.\";s:4:\"type\";s:6:\"string\";}s:9:\"AwardName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"AwardCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Property
  to hold the Award Category value\";s:4:\"type\";s:6:\"string\";}s:10:\"Statuscode\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"Active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:24:\"VisibilityViewModelArray\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/VisibilityViewModel\";}}s:26:\"ContributionTypeModelArray\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ContributionTypeModel\";}}s:46:\"ApiContributionsPost200ApplicationJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:39:\"ApiContributionsPost200TextJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:45:\"ApiContributionsPost200ApplicationXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:38:\"ApiContributionsPost200TextXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:48:\"ApiContributionsDelete200ApplicationJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:41:\"ApiContributionsDelete200TextJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:47:\"ApiContributionsDelete200ApplicationXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:40:\"ApiContributionsDelete200TextXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:28:\"OnlineIdentityViewModelArray\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/OnlineIdentityViewModel\";}}s:49:\"ApiOnlineidentitiesPost200ApplicationJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:42:\"ApiOnlineidentitiesPost200TextJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:48:\"ApiOnlineidentitiesPost200ApplicationXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:41:\"ApiOnlineidentitiesPost200TextXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:51:\"ApiOnlineidentitiesDelete200ApplicationJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:44:\"ApiOnlineidentitiesDelete200TextJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:50:\"ApiOnlineidentitiesDelete200ApplicationXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:43:\"ApiOnlineidentitiesDelete200TextXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}"
...
