---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:115:\"View
  Abusive Experience Report data, and get a list of sites that have a significant
  number of abusive experiences.\";s:5:\"title\";s:25:\"Abusive Experience Report\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:73:\"https://abusiveexperiencereport.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:23:\"abusiveexperiencereport\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:30:\"google_abusiveexperiencereport\";s:4:\"type\";s:7:\"openapi\";}}"
host: abusiveexperiencereport.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:19:\"SiteSummaryResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Response
  message for GetSiteSummary.\nDo not confuse with same message in google.ads.experiencereport.v1\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"abusiveStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  status of the site reviewed for the abusive experiences.\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:7:\"PASSING\";i:2;s:7:\"FAILING\";}s:4:\"type\";s:6:\"string\";}s:15:\"enforcementTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  date on which enforcement begins.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:12:\"filterStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  abusive experience enforcement status of the site.\";s:4:\"enum\";a:5:{i:0;s:7:\"UNKNOWN\";i:1;s:2:\"ON\";i:2;s:3:\"OFF\";i:3;s:6:\"PAUSED\";i:4;s:7:\"PENDING\";}s:4:\"type\";s:6:\"string\";}s:14:\"lastChangeTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  last time that the site changed status.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"reportUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"A
  link that leads to a full abusive experience report.\";s:4:\"type\";s:6:\"string\";}s:12:\"reviewedSite\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the site reviewed.\";s:4:\"type\";s:6:\"string\";}s:11:\"underReview\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Whether
  the site is currently under review.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ViolatingSitesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Response
  message for ListViolatingSites.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"violatingSites\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"A
  list of summaries of violating sites.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SiteSummaryResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
