---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:2:\"v1\";s:5:\"title\";s:15:\"NxtPort
  VGM API\";s:11:\"description\";s:155:\"The VGM API provides information about the
  verified gross mass of a container currently used in an export flow, as provided
  by certified weighing stations.\";}"
host: api-sb.nxtport.eu
basePath: /VGM/v1
paths:
  /nxtportdocument/{bookingnumber}/{containernumber}:
    get:
      tags:
      - Document
      summary: Returns the VERMAS files with the according bookingnumber and containernumber
      operationId: NxtportdocumentByBookingnumberByContainernumberGet
      consumes: []
      produces:
      - application/json
      - application/xml
      parameters:
      - name: bookingnumber
        in: path
        description: bookingnumber
        required: true
        type: string
      - name: containernumber
        in: path
        description: containernumber
        required: true
        type: string
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ContainerWeightInfo'
definitions: !php/object "O:8:\"stdClass\":8:{s:19:\"ContainerWeightInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"disclaimer\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Gets
  or Sets Disclaimer\";s:4:\"type\";s:6:\"string\";}s:10:\"references\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/References\";s:11:\"description\";s:23:\"Gets
  or Sets References\";}s:9:\"submitter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Submitter\";s:11:\"description\";s:22:\"Gets
  or Sets Submitter\";}s:17:\"verifiedGrossMass\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/VerifiedGrossMass\";s:11:\"description\";s:30:\"Gets
  or Sets VerifiedGrossMass\";}s:5:\"seals\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Gets
  or Sets Seals\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Seal\";}}s:7:\"parties\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Gets
  or Sets Parties\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Party\";}}}}s:10:\"References\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"bookingId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Gets
  or Sets BookingId\";s:4:\"type\";s:6:\"string\";}s:11:\"containerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or Sets ContainerId\";s:4:\"type\";s:6:\"string\";}s:14:\"parentDocument\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ParentDocument\";s:11:\"description\";s:27:\"Gets
  or Sets ParentDocument\";}}}s:9:\"Submitter\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"party\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Party\";s:11:\"description\";s:18:\"Gets
  or Sets Party\";}}}s:17:\"VerifiedGrossMass\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Gets
  or Sets Value\";s:4:\"type\";s:6:\"string\";}s:3:\"uom\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Gets
  or Sets Uom\";s:4:\"type\";s:6:\"string\";}s:12:\"weighingDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or Sets WeighingDate\";s:4:\"type\";s:6:\"string\";}s:12:\"weighingTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Gets
  or Sets WeighingTime\";s:4:\"type\";s:6:\"string\";}s:18:\"verificationMethod\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Gets
  or Sets VerificationMethod\";s:4:\"type\";s:6:\"string\";}}}s:4:\"Seal\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"sealPartyTypeCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Gets
  or Sets SealPartyTypeCode\";s:4:\"type\";s:6:\"string\";}s:10:\"sealNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Gets
  or Sets SealNumber\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Party\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"partyTypeCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Gets
  or Sets PartyTypeCode\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Gets
  or Sets Name\";s:4:\"type\";s:6:\"string\";}s:4:\"scac\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Gets
  or Sets Scac\";s:4:\"type\";s:6:\"string\";}s:4:\"eori\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Gets
  or Sets Eori\";s:4:\"type\";s:6:\"string\";}s:15:\"streetAndNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Gets
  or Sets StreetAndNumber\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Gets
  or Sets PostalCode\";s:4:\"type\";s:6:\"string\";}s:5:\"place\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Gets
  or Sets Place\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Gets
  or Sets CountryCode\";s:4:\"type\";s:6:\"string\";}s:19:\"unstructuredAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Gets
  or Sets UnstructuredAddress\";s:4:\"type\";s:6:\"string\";}s:8:\"contacts\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Gets
  or Sets Contacts\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}}}}s:14:\"ParentDocument\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Gets
  or Sets Id\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Gets
  or Sets Type\";s:4:\"type\";s:6:\"string\";}s:8:\"senderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Gets
  or Sets SenderId\";s:4:\"type\";s:6:\"string\";}}}s:7:\"Contact\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"contactTypeCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Gets
  or Sets ContactTypeCode\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Gets
  or Sets Name\";s:4:\"type\";s:6:\"string\";}}}}"
...
