---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:5:\"title\";s:20:\"Digital Registry Api\";s:11:\"description\";s:0:\"\";s:14:\"termsOfService\";s:0:\"\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:18:\"contact@mysite.com\";}s:7:\"version\";s:5:\"1.0.0\";}"
host: api.digital-registry.dk
basePath: /
paths:
  /contact/{identifier}:
    get:
      tags:
      - contact
      summary: Get contact by identifier, either CPR or CVR
      description: Return contact.
      operationId: contact
      produces:
      - application/json
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Contact'
        404:
          description: Invalid tag value
      security:
      - nemId:
        - write:contact
        - read:contact
        basic-auth:
        - read:contact
  /contact:
    post:
      tags:
      - contact
      summary: Create contact.
      description: Create a contact.
      operationId: contact-create
      produces:
      - application/json
      responses:
        201:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Contact'
        401:
          description: Unauthorized
      security:
      - nemId:
        - write:contact
        - read:contact
        basic-auth:
        - read:contact
  /search:
    get:
      tags:
      - contact
      summary: Get contact by identifier, either CPR or CVR
      description: Return list of contacts.
      operationId: search
      produces:
      - application/json
      parameters:
      - name: filter
        in: query
        description: Filter for subscription types.
        required: false
        type: string
        enum:
        - sms
        - notification
      responses:
        200:
          description: successful operation
          schema:
            type: array
        401:
          description: Unauthorized
      security:
      - basic-auth:
        - read:contact
  /contact/register:
    post:
      tags:
      - contact
      summary: Create contact resource.
      description: Register a contact including media and subscription values.
      operationId: contact-register
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        201:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Contact'
        401:
          description: Unauthorized
      security:
      - nemId:
        - write:contact
        - read:contact
        basic-auth:
        - read:contact
  /contact/{identifier}/logs:
    get:
      tags:
      - contact
      summary: Get contact logs.
      description: Get contact logs.
      operationId: contact-logs
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/contact'
        401:
          description: Unauthorized
      security:
      - nemId:
        - write:contact
        - read:contact
        basic-auth:
        - read:contact
  /contact/{identifier}/medias:
    get:
      tags:
      - contact:media
      summary: Get contact medias
      description: Get contact medias.
      operationId: contact-medias
      produces:
      - application/json
      responses:
        201:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Contact'
        401:
          description: Unauthorized
      security:
      - nemId:
        - write:contact
        - read:contact
        basic-auth:
        - read:contact
    post:
      tags:
      - contact:media
      summary: Create a contact media
      description: Create contact media.
      operationId: contact-medias-create
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        201:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Contact'
        401:
          description: Unauthorized
      security:
      - nemId:
        - write:contact
        - read:contact
        basic-auth:
        - read:contact
  /contact/{identifier}/medias/{media_id}:
    delete:
      tags:
      - contact:media
      summary: Delete a contact media
      description: Delete contact media.
      operationId: contact-medias-delete
      responses:
        204:
          description: ""
        401:
          description: Unauthorized
      security:
      - nemId:
        - write:contact
        - read:contact
        basic-auth:
        - read:contact
  /contact/{identifier}/medias/{media_id}/:
    put:
      tags:
      - contact:media
      summary: Update a contact media
      description: Update contact media.
      operationId: contact-medias-update
      responses:
        200:
          description: ""
        401:
          description: Unauthorized
          schema:
            type: array
            items:
              $ref: '#/definitions/Media'
      security:
      - nemId:
        - write:contact
        - read:contact
        basic-auth:
        - read:contact
  /contact/{identifier}/media-subscriptions:
    post:
      tags:
      - contact:media-subscription
      summary: Create a contact media subscriptions
      description: Create contact media.
      operationId: contact-medias-create
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        201:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Contact'
        401:
          description: Unauthorized
      security:
      - nemId:
        - write:contact
        - read:contact
        basic-auth:
        - read:contact
  /contact/{identifier}/media-subscriptions/{media_subscription_id}:
    delete:
      tags:
      - contact:media-subscription
      summary: Delete a contact media subscriptions
      description: Delete contact media.
      operationId: contact-medias-delete
      responses:
        204:
          description: ""
        401:
          description: Unauthorized
      security:
      - nemId:
        - write:contact
        - read:contact
        basic-auth:
        - read:contact
  /contact/{identifier}/subscriptions:
    get:
      tags:
      - contact:subscription
      summary: Get contact subscriptions
      description: Get contact subscriptions.
      operationId: contact-subscription
      produces:
      - application/json
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Subscription'
        401:
          description: Unauthorized
      security:
      - nemId:
        - write:contact
        - read:contact
        basic-auth:
        - read:contact
    post:
      tags:
      - contact:subscription
      summary: Create a contact subscription
      description: Create contact subscription.
      operationId: contact-subscription-create
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        201:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Subscription'
        401:
          description: Unauthorized
      security:
      - nemId:
        - write:contact
        - read:contact
        basic-auth:
        - read:contact
  /contact/{identifier}/subscriptions/{subscription_id}:
    get:
      tags:
      - contact:subscription
      summary: Get contact subscriptions
      description: Get contact subscriptions.
      operationId: contact-subscription-get
      produces:
      - application/json
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Subscription'
        401:
          description: Unauthorized
      security:
      - nemId:
        - write:contact
        - read:contact
        basic-auth:
        - read:contact
    put:
      tags:
      - contact:subscription
      summary: Update a contact subscription
      description: Create contact subscription.
      operationId: contact-subscription-update
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        201:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Subscription'
        401:
          description: Unauthorized
      security:
      - nemId:
        - write:contact
        - read:contact
        basic-auth:
        - read:contact
    delete:
      tags:
      - contact:subscription
      summary: Delete a contact subscription
      description: Delete contact subscription.
      operationId: contact-medias-delete
      responses:
        204:
          description: ""
        401:
          description: Unauthorized
      security:
      - nemId:
        - write:contact
        - read:contact
        basic-auth:
        - read:contact
  /contact/{identifier}/subscriptions/{subscription_id}/accept-terms:
    put:
      tags:
      - contact:subscription
      summary: Accept subscription terms.
      description: Accept subscription terms.
      operationId: contact-subscription-accept-terms
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        201:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Subscription'
        401:
          description: Unauthorized
      security:
      - nemId:
        - write:contact
        - read:contact
        basic-auth:
        - read:contact
  /subscription-types:
    get:
      tags:
      - subscription-types
      summary: List subscription types.
      description: List subscription types.
      operationId: subscription-types
      produces:
      - application/json
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/SubscriptionType'
        401:
          description: Unauthorized
      security:
      - nemId:
        - read:contact
        basic-auth:
        - read:contact
  /terms:
    get:
      tags:
      - term
      summary: Get terms
      description: Get terms.
      operationId: terms
      produces:
      - application/json
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Term'
        401:
          description: Unauthorized
      security:
      - nemId:
        - read:contact
        basic-auth:
        - read:contact
  /terms/{term_id}:
    get:
      tags:
      - term
      summary: Get term
      description: Get term.
      operationId: term
      produces:
      - application/json
      responses:
        200:
          description: ""
          schema:
            type: object
            items:
              $ref: '#/definitions/Term'
        401:
          description: Unauthorized
      security:
      - nemId:
        - read:contact
        basic-auth:
        - read:contact
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":27:{s:14:\"contact-create\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Contact
  type, company or person.\";s:4:\"type\";s:6:\"string\";}s:10:\"identifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Contact
  unique identifier, their cvr or cpr number.\";s:4:\"type\";s:6:\"string\";}}}s:7:\"contact\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"contact\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Contact
  model.\";s:4:\"$ref\";s:21:\"#/definitions/Contact\";}}}s:12:\"contact-logs\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#definitions/Contact\";}s:5:\"start\";O:8:\"stdClass\":1:{s:11:\"description\";s:35:\"Filter
  search logs by a start date.\";}s:3:\"end\";O:8:\"stdClass\":1:{s:11:\"description\";s:34:\"Filter
  search logs by an end date.\";}s:4:\"type\";O:8:\"stdClass\":1:{s:11:\"description\";s:22:\"Filter
  search by type.\";}}}s:16:\"contact-register\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#definitions/Contact\";}s:5:\"media\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#definitions/Media\";}s:12:\"subscription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#definitions/Subscription\";}}}s:6:\"search\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"query\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Query,
  this can be cpr/cvr numbers.\";s:4:\"type\";s:6:\"string\";}s:7:\"filters\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Filter
  to be applied in search.\";s:4:\"type\";s:5:\"array\";}}}s:12:\"media-create\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#definitions/Contact\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Media
  type.\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Contact
  media data.\";s:4:\"type\";s:5:\"array\";}}}s:13:\"media-destroy\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#definitions/Contact\";}s:5:\"media\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Media
  resource.\";s:4:\"$ref\";s:19:\"#/definitions/Media\";}}}s:5:\"media\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#definitions/Contact\";}}}s:12:\"media-update\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#definitions/Contact\";}s:5:\"media\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#definitions/Media\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Media
  type.\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Information
  data.\";s:4:\"type\";s:5:\"array\";}}}s:25:\"media-subscription-create\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#definitions/Contact\";}s:15:\"subscription_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Subscription
  id.\";s:4:\"type\";s:7:\"integer\";}s:8:\"media_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Media
  id.\";s:4:\"type\";s:7:\"integer\";}}}s:26:\"media-subscription-destroy\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#definitions/Contact\";}s:15:\"subscription_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Subscription
  id.\";s:4:\"type\";s:7:\"integer\";}s:8:\"media_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Media
  id.\";s:4:\"type\";s:7:\"integer\";}}}s:17:\"subscription-type\";O:8:\"stdClass\":0:{}s:25:\"subscription-accept-terms\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"subscription\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"$subscription\";s:4:\"$ref\";s:25:\"#definitions/Subscription\";}s:7:\"term_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Term
  id.\";s:4:\"type\";s:7:\"integer\";}}}s:19:\"subscription-create\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#definitions/Contact\";}s:20:\"subscription_type_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Subscription
  type.\";s:4:\"type\";s:7:\"integer\";}s:17:\"source_contact_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Source
  contact id.\";s:4:\"type\";s:7:\"integer\";}s:8:\"start_at\";O:8:\"stdClass\":1:{s:11:\"description\";s:35:\"When
  the subscription should start.\";}s:6:\"end_at\";O:8:\"stdClass\":1:{s:11:\"description\";s:33:\"When
  the subscription should end.\";}}}s:20:\"subscription-destroy\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#definitions/Contact\";}s:12:\"subscription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#definitions/Subscription\";}}}s:16:\"subscription-get\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#definitions/Contact\";}s:12:\"subscription\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Subscription
  resource.\";s:4:\"$ref\";s:26:\"#/definitions/Subscription\";}}}s:12:\"subscription\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#definitions/Contact\";}}}s:19:\"subscription-update\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"subscription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#definitions/Subscription\";}s:6:\"end_at\";O:8:\"stdClass\":1:{s:11:\"description\";s:33:\"When
  the subscription should end.\";}}}s:9:\"terms-get\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"term\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Term.\";s:4:\"$ref\";s:18:\"#/definitions/Term\";}}}s:12:\"AcceptedTerm\";O:8:\"stdClass\":0:{}s:7:\"Contact\";O:8:\"stdClass\":0:{}s:3:\"Log\";O:8:\"stdClass\":0:{}s:5:\"Media\";O:8:\"stdClass\":0:{}s:17:\"MediaSubscription\";O:8:\"stdClass\":0:{}s:12:\"Subscription\";O:8:\"stdClass\":0:{}s:16:\"SubscriptionType\";O:8:\"stdClass\":0:{}s:4:\"Term\";O:8:\"stdClass\":0:{}}"
...
