---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:97:\"The platform for
  modern developers\nGitLab unifies issues, code review, CI and CD into a single UI\";s:5:\"title\";s:6:\"Gitlab\";s:7:\"version\";s:2:\"v3\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:15:\"developer_tools\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:98:\"https://cloud.githubusercontent.com/assets/21603/24521837/642e411c-1585-11e7-817f-61082580b6f6.png\";}s:8:\"x-origin\";a:2:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:53:\"https://axil.gitlab.io/swaggerapi/static/swagger.json\";s:7:\"version\";s:3:\"2.0\";}i:1;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:88:\"https://raw.githubusercontent.com/Mermade/openapi-definitions/master/gitlab/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:10:\"gitlab.com\";s:11:\"x-preferred\";b:1;}"
host: gitlab.com
basePath: /api
paths: ~
produces:
- application/json
- text/plain
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":68:{s:15:\"AccessRequester\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"This
  feature was introduced in GitLab 8.11.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"avatar_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"requested_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ApplicationSetting\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Modify
  application settings\";s:10:\"properties\";O:8:\"stdClass\":29:{s:19:\"after_sign_out_path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"after_sign_up_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:37:\"container_registry_token_expire_delay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"default_branch_protection\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"default_group_visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"default_project_visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"default_projects_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"default_snippet_visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"domain_blacklist\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"domain_blacklist_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"domain_whitelist\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"gravatar_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"home_page_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"koding_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"koding_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"max_attachment_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"plantuml_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"plantuml_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"repository_storage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"repository_storages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"restricted_visibility_levels\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"session_expire_delay\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"sign_in_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"signin_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"signup_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"user_oauth_applications\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"AwardEmoji\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"This
  feature was introduced in 8.9\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"awardable_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"awardable_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}}s:4:\"type\";s:6:\"object\";}s:19:\"BasicProjectDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Get
  all projects for admin user\";s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"http_url_to_repo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"name_with_namespace\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"path_with_namespace\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Board\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"This
  feature was introduced in 8.13\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"lists\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/List\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Build\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"This
  feature was added in GitLab 8.11\";s:10:\"properties\";O:8:\"stdClass\":15:{s:14:\"artifacts_file\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BuildArtifactFile\";}s:6:\"commit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/RepoCommit\";}s:8:\"coverage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"finished_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pipeline\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PipelineBasic\";}s:3:\"ref\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"runner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Runner\";}s:5:\"stage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"started_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}s:4:\"type\";s:6:\"object\";}s:17:\"BuildArtifactFile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"filename\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CommitNote\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Post
  comment to commit\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"line\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"line_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CommitStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Post
  status to a commit\";s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"allow_failure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"finished_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ref\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sha\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"started_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"target_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Compare\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Compare
  two branches, tags, or commits\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"commit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/RepoCommit\";}s:7:\"commits\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/RepoCommit\";}s:16:\"compare_same_ref\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"compare_timeout\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"diffs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RepoDiff\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Contributor\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Get
  repository contributors\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"additions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"commits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"deletions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Deployment\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"This
  feature was introduced in GitLab 8.11.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deployable\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}s:11:\"environment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EnvironmentBasic\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"iid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ref\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sha\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Email\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Add
  new email address to the currently authenticated user\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Environment\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"This
  feature was introduced in GitLab 8.11.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"external_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"EnvironmentBasic\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"external_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Event\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"This
  feature was introduced in GitLab 8.13.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"action_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:9:\"author_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"author_username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Note\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"target_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"target_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"target_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GlobalNotificationSetting\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"This
  feature was introduced in GitLab 8.12\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"level\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"notification_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Group\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Update
  a group. Available only for users who can administrate groups.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"avatar_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"lfs_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"request_access_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"statistics\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"visibility_level\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"GroupDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Transfer
  a project to the group namespace. Available only for admin.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"avatar_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"lfs_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"projects\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}s:22:\"request_access_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"shared_projects\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}s:10:\"statistics\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"visibility_level\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Hook\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Delete
  a hook\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"enable_ssl_verification\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"push_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"tag_push_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Identity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"extern_uid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Issue\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Get
  currently authenticated user's issues\";s:10:\"properties\";O:8:\"stdClass\":19:{s:8:\"assignee\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:12:\"confidential\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"downvotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"due_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"iid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"milestone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Milestone\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"subscribed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"upvotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"user_notes_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Label\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Unsubscribe
  from a resource\";s:10:\"properties\";O:8:\"stdClass\":9:{s:19:\"closed_issues_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"open_issues_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"open_merge_requests_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"subscribed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"LabelBasic\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"List\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"This
  feature was introduced in 8.13\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LabelBasic\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"MRNote\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"List
  issues that will be closed on merge\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:4:\"note\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Member\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Updates
  a member of a group or project.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"access_level\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"avatar_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"expires_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"MergeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Unsubscribe
  from a resource\";s:10:\"properties\";O:8:\"stdClass\":28:{s:8:\"assignee\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"downvotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"force_remove_source_branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"iid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"merge_commit_sha\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"merge_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"merge_when_build_succeeds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"milestone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Milestone\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sha\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"should_remove_source_branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"source_branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"source_project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"subscribed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"target_branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"target_project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"upvotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"user_notes_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"work_in_progress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"MergeRequestChanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Show
  the merge request changes\";s:10:\"properties\";O:8:\"stdClass\":29:{s:8:\"assignee\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:7:\"changes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RepoDiff\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"downvotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"force_remove_source_branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"iid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"merge_commit_sha\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"merge_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"merge_when_build_succeeds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"milestone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Milestone\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sha\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"should_remove_source_branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"source_branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"source_project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"subscribed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"target_branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"target_project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"upvotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"user_notes_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"work_in_progress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"MergeRequestDiff\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"This
  feature was introduced in GitLab 8.12.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"base_commit_sha\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"head_commit_sha\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"merge_request_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"real_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"start_commit_sha\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"MergeRequestDiffFull\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"This
  feature was introduced in GitLab 8.12.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:15:\"base_commit_sha\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"commits\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/RepoCommit\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"diffs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RepoDiff\";}s:15:\"head_commit_sha\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"merge_request_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"real_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"start_commit_sha\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Milestone\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Update
  an existing project milestone\";s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"due_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"iid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"start_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Namespace\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Get
  a namespaces list\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Note\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Delete
  a +noteable+ note\";s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"attachment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"downvote?\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"noteable_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"noteable_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"system\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"upvote?\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"NotificationSetting\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"This
  feature was introduced in GitLab 8.12\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"level\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"PersonalSnippet\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"This
  feature was introduced in GitLab 8.15.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"file_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"raw_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Pipeline\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"This
  feature was introduced in GitLab 8.11.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:10:\"before_sha\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"committed_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"coverage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"finished_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ref\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sha\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"started_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:11:\"yaml_errors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"PipelineBasic\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ref\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sha\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Project\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Unstar
  a project\";s:10:\"properties\";O:8:\"stdClass\":39:{s:8:\"archived\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"avatar_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"builds_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"container_registry_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"creator_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"default_branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"forked_from_project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BasicProjectDetails\";}s:11:\"forks_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"http_url_to_repo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"issues_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"last_activity_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"lfs_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"merge_requests_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"name_with_namespace\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"namespace\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Namespace\";}s:48:\"only_allow_merge_if_all_discussions_are_resolved\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"only_allow_merge_if_build_succeeds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"open_issues_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"path_with_namespace\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"public\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"public_builds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"request_access_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"runners_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"shared_runners_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shared_with_groups\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"snippets_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ssh_url_to_repo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"star_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"statistics\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProjectStatistics\";}s:8:\"tag_list\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"visibility_level\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"wiki_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ProjectGroupLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Share
  the project with a group\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"expires_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"group_access\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ProjectHook\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Deletes
  project hook\";s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"build_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"enable_ssl_verification\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"issues_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"merge_requests_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"note_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"pipeline_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"push_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"tag_push_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"wiki_page_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ProjectService\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Get
  the service settings for project\";s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"build_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"issues_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"merge_requests_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"note_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"pipeline_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"push_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"tag_push_events\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ProjectSnippet\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Update
  an existing project snippet\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"expires_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"file_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ProjectStatistics\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"build_artifacts_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"commit_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"lfs_objects_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"repository_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"storage_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ProjectWithAccess\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Get
  a single project\";s:10:\"properties\";O:8:\"stdClass\":40:{s:8:\"archived\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"avatar_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"builds_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"container_registry_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"creator_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"default_branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"forked_from_project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BasicProjectDetails\";}s:11:\"forks_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"http_url_to_repo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"issues_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"last_activity_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"lfs_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"merge_requests_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"name_with_namespace\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"namespace\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Namespace\";}s:48:\"only_allow_merge_if_all_discussions_are_resolved\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"only_allow_merge_if_build_succeeds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"open_issues_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"path_with_namespace\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"permissions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"public\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"public_builds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"request_access_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"runners_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"shared_runners_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"shared_with_groups\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"snippets_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ssh_url_to_repo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"star_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"statistics\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProjectStatistics\";}s:8:\"tag_list\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"visibility_level\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"wiki_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Release\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Update
  a tag's release note\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"tag_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"RepoBranch\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Create
  branch\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"commit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"developers_can_merge\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"developers_can_push\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"merged\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"protected\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"RepoCommit\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Get
  the commits of a merge request\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"author_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"author_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"committer_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"committer_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"short_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"RepoCommitDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Get
  a specific commit of a project\";s:10:\"properties\";O:8:\"stdClass\":14:{s:12:\"author_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"author_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"authored_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"committed_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"committer_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"committer_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"parent_ids\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"short_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"stats\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RepoCommitStats\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RepoCommitStats\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"additions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"deletions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"RepoDiff\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"a_mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"b_mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"deleted_file\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"diff\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"new_file\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"new_path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"old_path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"renamed_file\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"RepoLicense\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"This
  feature was introduced in GitLab 8.7.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"conditions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"html_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"limitations\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"nickname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"permissions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"popular\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"source_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"RepoTag\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Create
  a new repository tag\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"commit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"release\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Release\";}}s:4:\"type\";s:6:\"object\";}s:14:\"RepoTreeObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Get
  a project repository tree\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Runner\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Remove
  a runner\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"is_shared\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"RunnerDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Update
  runner's details\";s:10:\"properties\";O:8:\"stdClass\":15:{s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"architecture\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"contacted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"is_shared\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"locked\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"platform\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"projects\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BasicProjectDetails\";}s:8:\"revision\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"run_untagged\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"tag_list\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"SSHKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Delete
  an SSH key from the currently authenticated user\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"can_push\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SSHKeyWithUser\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Get
  single ssh key by id. Only available to admin users\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"can_push\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/UserPublic\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Template\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"This
  feature was introduced in GitLab 8.15. This endpoint is deprecated and will be removed
  in GitLab 9.0.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"TemplatesList\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"This
  feature was introduced in GitLab 8.15. This endpoint is deprecated and will be removed
  in GitLab 9.0.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Todo\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Mark
  a todo as done\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"action_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserBasic\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BasicProjectDetails\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"target_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"target_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Trigger\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Delete
  a trigger\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deleted_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_used\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"TriggerRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Trigger
  a GitLab project build\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"variables\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:10:\"avatar_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"bio\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"is_admin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"linkedin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"skype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"twitter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"website_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"UserBasic\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Get
  a single user\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"avatar_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"UserPublic\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Get
  the currently authenticated user\";s:10:\"properties\";O:8:\"stdClass\":27:{s:10:\"avatar_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"bio\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"can_create_group\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"can_create_project\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"color_scheme_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"confirmed_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"current_sign_in_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"external\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"identities\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Identity\";}s:8:\"is_admin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"last_sign_in_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"linkedin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"projects_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"skype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"theme_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"twitter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"two_factor_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"website_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"UserWithPrivateToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Login
  to get token\";s:10:\"properties\";O:8:\"stdClass\":28:{s:10:\"avatar_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"bio\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"can_create_group\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"can_create_project\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"color_scheme_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"confirmed_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"current_sign_in_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"external\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"identities\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Identity\";}s:8:\"is_admin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"last_sign_in_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"linkedin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"private_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"projects_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"skype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"theme_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"twitter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"two_factor_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"website_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Variable\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Delete
  an existing variable from a project\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
