---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:15:\"Recommendations\";s:7:\"version\";s:3:\"1.0\";s:11:\"description\";s:357:\"The
  Recommendations API identifies consumption patterns from your transaction information
  in order to provide recommendations. These recommendations can help your customers
  more easily discover items that they may be interested in.<br> By showing your customers
  products that they are more likely to be interested in, you will, in turn, increase
  your sales.\";}"
host: westus.api.cognitive.microsoft.com
basePath: /recommendations/v4.0
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":63:{s:20:\"BatchJobsRequestInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/StorageBlobInfo\";s:11:\"description\";s:27:\"The
  input storage blob info\";}s:6:\"output\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/StorageBlobInfo\";s:11:\"description\";s:28:\"The
  output storage blob info\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/StorageBlobInfo\";s:11:\"description\";s:27:\"The
  error storage blob info\";}s:3:\"job\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobInfo\";s:11:\"description\";s:12:\"The
  job info\";}}}s:15:\"StorageBlobInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"authenticationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Authentication
  Type\r\n            value \"PublicOrSas\"\";s:4:\"type\";s:6:\"string\";}s:12:\"baseLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Base
  Location\r\n            ex: \"https://{storage name}.blob.core.windows.net/\"\";s:4:\"type\";s:6:\"string\";}s:16:\"relativeLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  relative location, including the container name\";s:4:\"type\";s:6:\"string\";}s:12:\"sasBlobToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  sasToken to access the file\";s:4:\"type\";s:6:\"string\";}}}s:7:\"JobInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"apiName\";O:8:\"stdClass\":2:{s:11:\"description\";s:186:\"Api
  Name\r\n            The ApiName is internally an enum (see SupportedApis in BatchScoringManager)\r\n
  \           The valid values should be: ItemRecommend, UserRecommend, ItemFbtRecommend\";s:4:\"type\";s:6:\"string\";}s:7:\"modelId\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"The
  Model Id\r\n            ModelId is the model id which batch scoring is requested
  to\";s:4:\"type\";s:6:\"string\";}s:7:\"buildId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:170:\"The
  build Id\r\n            BuildId is the build id which batch scoring is requested
  to\r\n            It is optional. If it is not provided, the active build id will
  be used\";s:4:\"type\";s:7:\"integer\";}s:15:\"numberOfResults\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:173:\"Number
  of recommendations\r\n            It indicates the number of results (recommended
  items) each request should return\r\n            It is optional. The default value
  is 10\";s:4:\"type\";s:7:\"integer\";}s:15:\"includeMetadata\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"Include
  Metadata\r\n            it indicates whether the result should include metadata
  or not\r\n            It is optional. The default value is false\";s:4:\"type\";s:7:\"boolean\";}s:12:\"minimalScore\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:165:\"The
  minimum score. Currently only supported for FbtBuilds\r\n            It indicates
  the minimal score to return\r\n            It is optional. The default value is
  0.1\";s:4:\"type\";s:6:\"number\";}}}s:6:\"Object\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:13:\"ErrorResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Unique
  error code identifying the error\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Error
  message\";s:4:\"type\";s:6:\"string\";}s:10:\"innerError\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/InternalError\";s:11:\"description\";s:13:\"Error
  details\";}}}s:13:\"InternalError\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"innerError\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/InternalError\";}}}s:16:\"BatchJobInfoList\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"batchJobs\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"List
  of batch jobs for the user\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BatchJobInfo\";}}}}s:12:\"BatchJobInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Unique
  batch identifier\";s:4:\"type\";s:6:\"string\";}s:11:\"requestinfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/BatchJobsRequestInfo\";s:11:\"description\";s:32:\"Description
  of the batch request\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"Status
  of the batch job (it is actually the job status: Registered, Ready, InProgress,
  Canceling, Canceled, Succeeded, Failed)\";s:4:\"type\";s:6:\"string\";}}}s:12:\"BuildMetrics\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"precisionItemRecommend\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/PrecisionItemRecommend\";s:11:\"description\";s:69:\"Precision
  metrics for the build based on single item recommendations.\";}s:22:\"precisionUserRecommend\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/PrecisionUserRecommend\";s:11:\"description\";s:72:\"Precision
  metrics for the build based on user's history recommendations.\";}s:22:\"diversityItemRecommend\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/DiversityItemRecommend\";s:11:\"description\";s:69:\"Diversity
  metrics for the build based on single item recommendations.\";}s:22:\"diversityUserRecommend\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/DiversityUserRecommend\";s:11:\"description\";s:72:\"Diversity
  metrics for the build based on user's history recommendations.\";}}}s:22:\"PrecisionItemRecommend\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"precisionMetrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Precision
  metrics that are computed for the test/train dataset.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PrecisionMetric\";}}s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message to indicate reason in failure cases.\";s:4:\"type\";s:6:\"string\";}}}s:22:\"PrecisionUserRecommend\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"precisionMetrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Precision
  metrics that are computed for the test/train dataset.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PrecisionMetric\";}}s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message to indicate reason in failure cases.\";s:4:\"type\";s:6:\"string\";}}}s:22:\"DiversityItemRecommend\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"percentileBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"Each
  percentile bucket is represented by a span (min/max values \r\n            that
  range between 0 and 100). The items close to 100 are the \r\n            most popular
  items, and the items close to 0 are the least popular.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PercentileBucket\";}}s:21:\"totalItemsRecommended\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:63:\"The
  total number of items recommended. (some may be duplicates)\";s:4:\"type\";s:7:\"integer\";}s:22:\"uniqueItemsRecommended\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:59:\"Number
  of distinct items that were returned for evaluation.\";s:4:\"type\";s:7:\"integer\";}s:21:\"uniqueItemsInTrainSet\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:46:\"Number
  of distinct items in the train dataset.\";s:4:\"type\";s:7:\"integer\";}s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message to indicate reason in failure cases.\";s:4:\"type\";s:6:\"string\";}}}s:22:\"DiversityUserRecommend\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"percentileBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"Each
  percentile bucket is represented by a span (min/max values \r\n            that
  range between 0 and 100). The items close to 100 are the \r\n            most popular
  items, and the items close to 0 are the least popular.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PercentileBucket\";}}s:21:\"totalItemsRecommended\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:63:\"The
  total number of items recommended. (some may be duplicates)\";s:4:\"type\";s:7:\"integer\";}s:22:\"uniqueItemsRecommended\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:59:\"Number
  of distinct items that were returned for evaluation.\";s:4:\"type\";s:7:\"integer\";}s:21:\"uniqueItemsInTrainSet\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:46:\"Number
  of distinct items in the train dataset.\";s:4:\"type\";s:7:\"integer\";}s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Error
  message to indicate reason in failure cases.\";s:4:\"type\";s:6:\"string\";}}}s:15:\"PrecisionMetric\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:1:\"k\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:48:\"The
  value K used to calculate the metric values.\";s:4:\"type\";s:7:\"integer\";}s:10:\"percentage\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"Precision@K
  percentage.\";s:4:\"type\";s:6:\"number\";}s:11:\"usersInTest\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:46:\"The
  total number of users in the test dataset.\";s:4:\"type\";s:7:\"integer\";}s:15:\"usersConsidered\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:125:\"A
  user is only considered if the system recommended at least K items based on the
  model generated using the training dataset.\";s:4:\"type\";s:7:\"integer\";}s:18:\"usersNotConsidered\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:86:\"Any
  users not considered; the users that did not receive at least K recommended items.\";s:4:\"type\";s:7:\"integer\";}}}s:16:\"PercentileBucket\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"min\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:62:\"The
  beginning percentile of the popularity bucket (inclusive).\";s:4:\"type\";s:7:\"integer\";}s:3:\"max\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:103:\"The
  ending percentile of the popularity bucket (exclusive except 100 \r\n            which
  is inclusive).\";s:4:\"type\";s:7:\"integer\";}s:10:\"percentage\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:85:\"The
  fraction of all recommended users that belong to the specified popularity bucket.\";s:4:\"type\";s:6:\"number\";}}}s:16:\"BuildRequestInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Build
  description\";s:4:\"type\";s:6:\"string\";}s:9:\"buildType\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Type
  of build: Ranking, Recommendation or Fbt\";s:4:\"type\";s:6:\"string\";}s:15:\"buildParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BuildParameters\";s:11:\"description\";s:20:\"Parameters
  for build\";}}}s:15:\"BuildParameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"ranking\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/RankingBuildParameters\";s:11:\"description\";s:44:\"Build
  parameters for build of type \"Ranking\"\";}s:14:\"recommendation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/RecommendationBuildParameters\";s:11:\"description\";s:51:\"Build
  parameters for build of type \"Recommendation\"\";}s:3:\"fbt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/FbtBuildParameters\";s:11:\"description\";s:40:\"Build
  parameters for build of type \"Fbt\"\";}}}s:22:\"RankingBuildParameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:23:\"numberOfModelIterations\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:135:\"The
  number of iterations the model performs. \r\n            The higher the number,
  the better accuracy, but compute time will be higher.\";s:4:\"type\";s:7:\"integer\";}s:23:\"numberOfModelDimensions\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:330:\"The
  number of dimensions relates to the number of 'features' the model will try to find
  within your data. \r\n            Increasing the number of dimensions will allow
  better fine-tuning of the results into smaller clusters. \r\n            However,
  too many dimensions will prevent the model from finding correlations between items.\";s:4:\"type\";s:7:\"integer\";}s:20:\"itemCutOffLowerBound\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:49:\"Defines
  the item lower bound for usage condenser.\";s:4:\"type\";s:7:\"integer\";}s:20:\"itemCutOffUpperBound\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:49:\"Defines
  the item upper bound for usage condenser.\";s:4:\"type\";s:7:\"integer\";}s:20:\"userCutOffLowerBound\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:49:\"Defines
  the user lower bound for usage condenser.\";s:4:\"type\";s:7:\"integer\";}s:20:\"userCutOffUpperBound\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:49:\"Defines
  the user upper bound for usage condenser.\";s:4:\"type\";s:7:\"integer\";}}}s:29:\"RecommendationBuildParameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:23:\"numberOfModelIterations\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:135:\"The
  number of iterations the model performs. \r\n            The higher the number,
  the better accuracy, but compute time will be higher.\";s:4:\"type\";s:7:\"integer\";}s:23:\"numberOfModelDimensions\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:330:\"The
  number of dimensions relates to the number of 'features' the model will try to find
  within your data. \r\n            Increasing the number of dimensions will allow
  better fine-tuning of the results into smaller clusters. \r\n            However,
  too many dimensions will prevent the model from finding correlations between items.\";s:4:\"type\";s:7:\"integer\";}s:20:\"itemCutOffLowerBound\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:49:\"Defines
  the item lower bound for usage condenser.\";s:4:\"type\";s:7:\"integer\";}s:20:\"itemCutOffUpperBound\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:49:\"Defines
  the item upper bound for usage condenser.\";s:4:\"type\";s:7:\"integer\";}s:20:\"userCutOffLowerBound\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:49:\"Defines
  the user lower bound for usage condenser.\";s:4:\"type\";s:7:\"integer\";}s:20:\"userCutOffUpperBound\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:49:\"Defines
  the user upper bound for usage condenser.\";s:4:\"type\";s:7:\"integer\";}s:22:\"enableModelingInsights\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Enable
  or disable metrics computation for the model.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"splitterStrategy\";O:8:\"stdClass\":2:{s:11:\"description\";s:327:\"Defines
  the splitter strategy to be used by the build.\r\n            RandomSplitter splits
  the usage data in train and test sets based on the given\r\n            randomSplitterParameters
  value.\r\n            LastEventSplitter splits the usage data in train and test
  sets based on the last\r\n            transaction for a each user.\";s:4:\"type\";s:6:\"string\";}s:24:\"randomSplitterParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/RandomSplitterParameters\";s:11:\"description\";s:56:\"Specifies
  the parameters to be used for random splitter.\";}s:18:\"useFeaturesInModel\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Indicates
  if features can be used in order to enhance the recommendation model.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"modelingFeatureList\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Comma-separated
  list of feature names to be used during build.\";s:4:\"type\";s:6:\"string\";}s:22:\"allowColdItemPlacement\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Indicates
  if the recommendation should also push cold items via feature similarity.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"enableFeatureCorrelation\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Indicates
  if features can be used in reasoning.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"reasoningFeatureList\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"Comma-separated
  list of feature names to be used for reasoning sentences (e.g. recommendation explanations).\";s:4:\"type\";s:6:\"string\";}s:9:\"enableU2I\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Allow
  the personalized recommendation a.k.a. U2I (user to item recommendations).\";s:4:\"type\";s:7:\"boolean\";}}}s:18:\"FbtBuildParameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"supportThreshold\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:64:\"Number
  of co-occurrences of items to be considered for modeling.\";s:4:\"type\";s:7:\"integer\";}s:14:\"maxItemSetSize\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:44:\"Bound
  for number of items in a frequent set.\";s:4:\"type\";s:7:\"integer\";}s:12:\"minimalScore\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:94:\"Minimal
  score that a frequent set should have in order to be included in the returned results.\";s:4:\"type\";s:6:\"number\";}s:18:\"similarityFunction\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"Defines
  the similarity function to be used by the build. \r\n            Lift favors serendipity,
  Co-occurrence favors predictability, and Jaccard is a nice compromise between the
  two.\";s:4:\"type\";s:6:\"string\";}s:22:\"enableModelingInsights\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Enable
  or disable metrics computation for the model.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"splitterStrategy\";O:8:\"stdClass\":2:{s:11:\"description\";s:327:\"Defines
  the splitter strategy to be used by the build.\r\n            RandomSplitter splits
  the usage data in train and test sets based on the given\r\n            randomSplitterParameters
  value.\r\n            LastEventSplitter splits the usage data in train and test
  sets based on the last\r\n            transaction for a each user.\";s:4:\"type\";s:6:\"string\";}s:24:\"randomSplitterParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/RandomSplitterParameters\";s:11:\"description\";s:56:\"Specifies
  the parameters to be used for random splitter.\";}}}s:24:\"RandomSplitterParameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"testPercent\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:106:\"The
  percentage of data from the usage file that will be put in the test set\r\n            during
  splitting.\";s:4:\"type\";s:7:\"integer\";}s:10:\"randomSeed\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:116:\"Number
  used to calculate the startig value of random sequence based on which\r\n            test
  set data is selected.\";s:4:\"type\";s:7:\"integer\";}}}s:18:\"BuildModelResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"buildId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:23:\"Unique
  build identifier\";s:4:\"type\";s:7:\"integer\";}}}s:13:\"BuildInfoList\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"builds\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"List
  of build details for a model\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/BuildInfo\";}}}}s:9:\"BuildInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:23:\"Unique
  build identifier\";s:4:\"type\";s:7:\"integer\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Description
  provided by user (BuildRequestInfo.Description)\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Type
  of build: Recommendation - 1, Ranking - 2, Fbt - 3\";s:4:\"type\";s:6:\"string\";}s:9:\"modelName\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Name
  of the Model associated this build\";s:4:\"type\";s:6:\"string\";}s:7:\"modelId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"ID
  of the Model associated this build\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Status
  of the build: NotStarted, Running, Cancelling, Cancelled, Succeeded, Failed\";s:4:\"type\";s:6:\"string\";}s:13:\"statusMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Details
  if available about build status\";s:4:\"type\";s:6:\"string\";}s:13:\"startDateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Build
  start time\";s:4:\"type\";s:6:\"string\";}s:11:\"endDateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Build
  end time\";s:4:\"type\";s:6:\"string\";}s:16:\"modifiedDateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Last
  build modified time\";s:4:\"type\";s:6:\"string\";}s:15:\"buildParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BuildParameters\";s:11:\"description\";s:20:\"Parameters
  for build\";}}}s:19:\"BuildDataStatistics\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"numberOfCatalogItems\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:31:\"Number
  of items in the catalog.\";s:4:\"type\";s:7:\"integer\";}s:27:\"numberOfCatalogItemsInUsage\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:70:\"Number
  of unique items from usage data (which are present in catalog).\";s:4:\"type\";s:7:\"integer\";}s:13:\"numberOfUsers\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:56:\"Number
  of unique users in usage data before any pruning.\";s:4:\"type\";s:7:\"integer\";}s:20:\"numberOfUsageRecords\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:104:\"Total
  number of usage points before any pruning, and after removing duplicate user id
  / item id records.\";s:4:\"type\";s:7:\"integer\";}s:15:\"catalogCoverage\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:204:\"NumberOfCatalogItemsForModeling/
  NumberOfCatalogItems\r\n            This property indicates what part of the catalog
  can be modelled with usage data. The rest of the items will need content-based features.\";s:4:\"type\";s:6:\"number\";}}}s:18:\"CatalogImportStats\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"processedLineCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:56:\"Number
  of total processed lines in uploaded catalog file\";s:4:\"type\";s:7:\"integer\";}s:14:\"errorLineCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:52:\"Number
  of total error lines in uploaded catalog file\";s:4:\"type\";s:7:\"integer\";}s:17:\"importedLineCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:72:\"Number
  of successfully imported catalog items from uploaded catalog file\";s:4:\"type\";s:7:\"integer\";}s:12:\"errorSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Details
  of errors during catalog import\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ImportErrorStats\";}}}}s:16:\"ImportErrorStats\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"errorCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Error
  code for error catalog lines\";s:4:\"type\";s:6:\"string\";}s:14:\"errorCodeCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:48:\"Count
  of catalog lines with specified error code\";s:4:\"type\";s:7:\"integer\";}}}s:16:\"CatalogItemsPage\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"A
  data object representing a paginated list of catalog items, used as the return type
  in API4's catalog API\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Gets
  or sets the catalog items in this page\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ICatalogLine\";}}s:9:\"@nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Gets
  or sets a link to the next page of catalog items, if available\";s:4:\"type\";s:6:\"string\";}}}s:12:\"ICatalogLine\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"features\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ItemFeature\";}s:8:\"readOnly\";b:1;}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:11:\"ItemFeature\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"FeatureInfoResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"rankBuildId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:11:\"RankBuildId\";s:4:\"type\";s:7:\"integer\";}s:13:\"rankBuildDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:148:\"last
  update date of the rank of this feature or score freshness : in case no rank exists,
  the historical date is returned {System.DateTime.MinValue}\";s:4:\"type\";s:6:\"string\";}s:8:\"features\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"List
  of feature details for a model\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FeatureInfo\";}}}}s:11:\"FeatureInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"featureName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  feature name\";s:4:\"type\";s:6:\"string\";}s:4:\"rank\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"float\";s:11:\"description\";s:57:\"The
  rank of this feature, -1 if no rank was assigned yet.\";s:4:\"type\";s:6:\"number\";}}}s:26:\"RecommendedItemSetInfoList\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Result
  of FBT, I2I or U2I recommendation scoring requests.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"recommendedItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Set
  of recommended items\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/RecommendedItemSetInfo\";}}}}s:22:\"RecommendedItemSetInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Holds
  a recommendation result, which is a set of recommended items with reasoning and
  rating/score.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"List
  of recommended items\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/RecommendedItemInfo\";}}s:6:\"rating\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:36:\"Rating/score
  for this recommendation\";s:4:\"type\";s:6:\"number\";}s:9:\"reasoning\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Reasoning/explanation
  about recommended items.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:19:\"RecommendedItemInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Recommmended
  item ID\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Recommended
  item name\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Optional
  recommended item metadata\";s:4:\"type\";s:6:\"string\";}}}s:16:\"ModelRequestInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"modelName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"ModelInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Unique
  identifier for Model\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Model
  name, limit 20 characters\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Optional
  model description\";s:4:\"type\";s:6:\"string\";}s:15:\"createdDateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Model
  creation date time\";s:4:\"type\";s:6:\"string\";}s:13:\"activeBuildId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:30:\"Active
  build ID for this model\";s:4:\"type\";s:7:\"integer\";}s:18:\"catalogDisplayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Active
  build ID for this model\";s:4:\"type\";s:6:\"string\";}}}s:13:\"ModelInfoList\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"models\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"List
  of Models for a given user\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ModelInfo\";}}}}s:22:\"UpdateModelRequestInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Model
  description\";s:4:\"type\";s:6:\"string\";}s:13:\"activeBuildId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:21:\"Model
  active build ID\";s:4:\"type\";s:7:\"integer\";}}}s:24:\"OperationInfo[BuildInfo]\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Type
  of operation, currently 'BuildModel' is the only supported value\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"Description
  for operation status. \r\n            e.g. For 'BuildModel' operation type, this
  can be one of: NotStarted, Running, Cancelling, Cancelled, Succeeded, Failed.\";s:4:\"type\";s:6:\"string\";}s:15:\"createdDateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Operation
  creation time\";s:4:\"type\";s:6:\"string\";}s:18:\"lastActionDateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Operation
  last updated time\";s:4:\"type\";s:6:\"string\";}s:15:\"percentComplete\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:18:\"Operation
  progress\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Description
  for operation.\";s:4:\"type\";s:6:\"string\";}s:16:\"resourceLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"A
  unique resource location for this operation\";s:4:\"type\";s:6:\"string\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BuildInfo\";s:11:\"description\";s:55:\"An
  object reprsenting the final result of the operation\";}}}s:15:\"RuleRequestInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Type
  of rule\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RuleParameters\";s:11:\"description\";s:19:\"Parameters
  for rule\";}}}s:14:\"RuleParameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"blockList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BlockListParameters\";}s:9:\"whiteList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/WhiteListParameters\";}s:6:\"upsale\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/UpsaleParameters\";}s:16:\"perSeedBlockList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/PerSeedBlockListParameters\";}s:16:\"featureBlockList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/FeatureBlockListParameters\";}s:16:\"featureWhiteList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/FeatureWhiteListParameters\";}}}s:19:\"BlockListParameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"itemIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:19:\"WhiteListParameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"itemIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:16:\"UpsaleParameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"itemIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:21:\"numberOfItemsToUpsale\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:26:\"PerSeedBlockListParameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"seedItemIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"itemIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:26:\"FeatureBlockListParameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:26:\"FeatureWhiteListParameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:8:\"RuleInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"the
  business rule response object definition\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:26:\"Unique
  identifier for Rule\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Type
  of the rule\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RuleParameters\";s:11:\"description\";s:16:\"Rule
  Parameteres\";}}}s:12:\"RuleInfoList\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"response
  object for GetAllRules API\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"rules\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"List
  of Rules for a given user\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RuleInfo\";}}}}s:16:\"UsageImportStats\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"fileId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Unique
  identifier for usage file\";s:4:\"type\";s:6:\"string\";}s:18:\"processedLineCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:56:\"Number
  of total processed lines in uploaded catalog file\";s:4:\"type\";s:7:\"integer\";}s:14:\"errorLineCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:52:\"Number
  of total error lines in uploaded catalog file\";s:4:\"type\";s:7:\"integer\";}s:17:\"importedLineCount\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:72:\"Number
  of successfully imported catalog items from uploaded catalog file\";s:4:\"type\";s:7:\"integer\";}s:12:\"errorSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Details
  of errors during catalog import\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ImportErrorStats\";}}}}s:9:\"UsageInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Usage
  data file information\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"fileId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  usage data file id\";s:4:\"type\";s:6:\"string\";}s:16:\"usageDisplayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  display name of the usage data file\";s:4:\"type\";s:6:\"string\";}s:15:\"sizeInMegabytes\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:37:\"The
  usage data file size in megabytes\";s:4:\"type\";s:6:\"number\";}s:12:\"dateModified\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:49:\"The
  last modification date of the usage data file\";s:4:\"type\";s:6:\"string\";}s:11:\"usedInModel\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Indicates
  whether this usage file is used in the model\";s:4:\"type\";s:7:\"boolean\";}}}s:10:\"UsageEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Usage
  event\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  id of the user that created the events\";s:4:\"type\";s:6:\"string\";}s:7:\"buildId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:39:\"The
  build id associated with the events\";s:4:\"type\";s:7:\"integer\";}s:6:\"events\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  events information\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/UsageEventInfo\";}}}}s:14:\"UsageEventInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Information
  describing a usage event\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"eventType\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  type of the event\";s:4:\"enum\";a:5:{i:0;s:5:\"Click\";i:1;s:19:\"RecommendationClick\";i:2;s:11:\"AddShopCart\";i:3;s:14:\"RemoveShopCart\";i:4;s:8:\"Purchase\";}s:4:\"type\";s:6:\"string\";}s:6:\"itemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  id of the item in context\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  time of the event\";s:4:\"type\";s:6:\"string\";}s:5:\"count\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:19:\"The
  number of items\";s:4:\"type\";s:7:\"integer\";}s:9:\"unitPrice\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"float\";s:11:\"description\";s:32:\"The
  price of the item in context\";s:4:\"type\";s:6:\"number\";}}}s:28:\"ModelUsageStatisticsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"interval\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  input interval for this response\";s:4:\"type\";s:6:\"string\";}s:10:\"statistics\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  usage statistics\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/UsageStatistics\";}}}}s:15:\"UsageStatistics\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"eventType\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  event type of the usage statistics event\";s:4:\"type\";s:6:\"string\";}s:5:\"count\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"The
  event type of the usage statistics event\";s:4:\"type\";s:7:\"integer\";}}}s:23:\"UsageStatisticsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"interval\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  input interval for this response\";s:4:\"type\";s:6:\"string\";}s:7:\"buildId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:46:\"The
  input buildId (note that this is optional)\";s:4:\"type\";s:7:\"integer\";}s:10:\"statistics\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  usage statistics\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/UsageStatistics\";}}}}s:14:\"UsageInfoArray\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UsageInfo\";}}s:57:\"Models{modelId}Usage{fileId}Get200ApplicationJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:50:\"Models{modelId}Usage{fileId}Get200TextJsonResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:56:\"Models{modelId}Usage{fileId}Get200ApplicationXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:49:\"Models{modelId}Usage{fileId}Get200TextXmlResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}"
...
