---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:21:\"LUIS Programmatic API\";s:7:\"version\";s:12:\"v2.0
  preview\";}"
host: westus.api.cognitive.microsoft.com
basePath: /luis/api/v2.0
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":133:{s:17:\"EntityLabelObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Defines
  the entity type and position of the extracted entity within the example.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"entityName\";i:1;s:14:\"startCharIndex\";i:2;s:12:\"endCharIndex\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"entityName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  entity type.\";s:4:\"type\";s:6:\"string\";}s:14:\"startCharIndex\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  index within the utterance where the extracted entity starts.\";s:4:\"type\";s:7:\"integer\";}s:12:\"endCharIndex\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  index within the utterance where the extracted entity ends.\";s:4:\"type\";s:7:\"integer\";}}}s:23:\"ApplicationCreateObject\";O:8:\"stdClass\":5:{s:11:\"description\";s:46:\"Properties
  for creating a new LUIS Application\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:7:\"culture\";i:1;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"culture\";O:8:\"stdClass\":2:{s:11:\"description\";s:170:\"The
  culture for the new application. It is the language that your app understands and
  speaks. E.g.: \"en-us\". Note: the culture cannot be changed after the app is created.\";s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  domain for the new application. Optional. E.g.: Comics.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Description
  of the new application. Optional.\";s:4:\"type\";s:6:\"string\";}s:16:\"initialVersionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  initial version ID. Optional. Default value is: \"0.1\"\";s:4:\"type\";s:6:\"string\";}s:13:\"usageScenario\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Defines
  the scenario for the new application. Optional. E.g.: IoT.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  name for the new application.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":6:{s:4:\"name\";s:15:\"MyFirstDummyApp\";s:11:\"description\";s:35:\"This
  is my first dummy application.\";s:7:\"culture\";s:5:\"en-us\";s:13:\"usageScenario\";s:3:\"IoT\";s:6:\"domain\";s:6:\"Comics\";s:16:\"initialVersionId\";s:3:\"1.0\";}}s:30:\"PrebuiltDomainCreateBaseObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:120:\"A
  model object containing the name of the custom prebuilt entity and the name of the
  domain to which this model belongs.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"domainName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  domain name.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"domainName\";s:6:\"Camera\";}}s:26:\"PrebuiltDomainCreateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"A
  prebuilt domain create object containing the name and culture of the domain.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"domainName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  domain name.\";s:4:\"type\";s:6:\"string\";}s:7:\"culture\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  culture of the new domain.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:10:\"domainName\";s:3:\"Web\";s:7:\"culture\";s:5:\"en-US\";}}s:31:\"PrebuiltDomainModelCreateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:130:\"A
  model object containing the name of the custom prebuilt intent or entity and the
  name of the domain to which this model belongs.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"domainName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  domain name.\";s:4:\"type\";s:6:\"string\";}s:9:\"modelName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  intent name or entity name.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:10:\"domainName\";s:6:\"Camera\";s:9:\"modelName\";s:7:\"AppName\";}}s:23:\"HierarchicalEntityModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"A
  Hierarchical Entity Extractor.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"children\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Child
  entities.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Entity
  name.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"Reservation\";s:8:\"children\";a:1:{i:0;s:12:\"Location::To\";}}}s:20:\"CompositeEntityModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"A
  composite entity.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"children\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Child
  entities.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Entity
  name.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"Reservation\";s:8:\"children\";a:2:{i:0;s:5:\"Class\";i:1;s:8:\"Location\";}}}s:10:\"JSONEntity\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Exported
  Model - Extracted Entity from utterance.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:8:\"startPos\";i:1;s:6:\"endPos\";i:2;s:6:\"entity\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"startPos\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  index within the utterance where the extracted entity starts.\";s:4:\"type\";s:7:\"integer\";}s:6:\"endPos\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  index within the utterance where the extracted entity ends.\";s:4:\"type\";s:7:\"integer\";}s:6:\"entity\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  entity name.\";s:4:\"type\";s:6:\"string\";}}}s:30:\"ApplicationSettingUpdateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Object
  model for updating an application's settings.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"public\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"Setting
  your application as public allows other people to use your application's endpoint
  using their own keys.\";s:4:\"type\";s:7:\"boolean\";s:10:\"x-nullable\";b:0;}}s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"public\";b:1;}}s:18:\"ExampleLabelObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"A
  labeled example.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  sample's utterance.\";s:4:\"type\";s:6:\"string\";}s:12:\"entityLabels\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  idenfied entities within the utterance.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:31:\"#/definitions/EntityLabelObject\";}s:4:\"type\";s:5:\"array\";}s:10:\"intentName\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  idenfitied intent representing the utterance.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"text\";s:34:\"whats
  the weather in buenos aires?\";s:10:\"intentName\";s:14:\"WeatherInPlace\";s:12:\"entityLabels\";a:1:{i:0;O:8:\"stdClass\":3:{s:10:\"entityName\";s:5:\"Place\";s:14:\"startCharIndex\";i:21;s:12:\"endCharIndex\";i:34;}}}}s:22:\"PhraselistCreateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Object
  model for creating a phraselist model.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"phrases\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"List
  of comma-separated phrases that represent the Phraselist.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  Phraselist name.\";s:4:\"type\";s:6:\"string\";}s:14:\"isExchangeable\";O:8:\"stdClass\":3:{s:11:\"description\";s:739:\"An
  exchangeable phrase list feature are serves as single feature to the LUIS underlying
  training algorithm. It is used as a lexicon lookup feature where its value is 1
  if the lexicon contains a given word or 0 if it doesn\u2019t. Think of an exchangeable
  as a synonyms list. A non-exchangeable phrase list feature has all the phrases in
  the list serve as separate features to the underlying training algorithm. So, if
  you your phrase list feature contains 5 phrases, they will be mapped to 5 separate
  features. You can think of the non-exchangeable phrase list feature as an additional
  bag of words that you are willing to add to LUIS existing vocabulary features. Think
  of a non-exchangeable as set of different words. Default value is true.\";s:7:\"default\";b:1;s:4:\"type\";s:7:\"boolean\";}}s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"name\";s:10:\"DaysOfWeek\";s:7:\"phrases\";s:56:\"monday,tuesday,wednesday,thursday,friday,saturday,sunday\";s:14:\"isExchangeable\";b:0;}}s:13:\"SubClosedList\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Sublist
  of items for a Closed list.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"canonicalForm\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  standard form that the list represents.\";s:4:\"type\";s:6:\"string\";}s:4:\"list\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  of synonym words.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:13:\"canonicalForm\";s:8:\"BankName\";s:4:\"list\";a:2:{i:0;s:4:\"HSBC\";i:1;s:8:\"CitiBank\";}}}s:21:\"SubClosedListResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Sublist
  of items for a Closed list.\";s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SubClosedList\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"The
  sublist ID\";s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:0;s:7:\"example\";s:6:\"123456\";}}}s:23:\"ApplicationUpdateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Object
  model for updating the name or description of an application.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  application's new name.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  application's new description.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"MyFirstRenamedDummyAp\";s:11:\"description\";s:44:\"This
  is my first modified dummy description.\";}}s:22:\"PrebuiltExtractorNames\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Objet
  model for adding a prebuilt entity to the application.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:2:{i:0;s:6:\"number\";i:1;s:7:\"ordinal\";}}s:16:\"JSONRegexFeature\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Exported
  Model - A Pattern feature.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"pattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  Regular Expression to match.\";s:4:\"type\";s:6:\"string\";}s:9:\"activated\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Indicates
  if the Pattern feature is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the feature.\";s:4:\"type\";s:6:\"string\";}}}s:19:\"PatternUpdateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Object
  model for updating an existing Pattern feature.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"pattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  Regular Expression to match.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the feature.\";s:4:\"type\";s:6:\"string\";}s:8:\"isActive\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Indicates
  if the Pattern feature is enabled.\";s:7:\"default\";b:1;s:4:\"type\";s:7:\"boolean\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"ModifiedEmailPattern\";s:7:\"pattern\";s:41:\"\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}\\b\";}}s:10:\"ClosedList\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Exported
  Model - A Closed List.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Name
  of the closed list feature.\";s:4:\"type\";s:6:\"string\";}s:8:\"subLists\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Sublists
  for the feature.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:27:\"#/definitions/SubClosedList\";}s:4:\"type\";s:5:\"array\";}s:5:\"roles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:26:\"ClosedListModelPatchObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"Object
  model for adding a batch of sublists to an existing closedlist.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"subLists\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Sublists
  to add.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:28:\"#/definitions/WordListObject\";}s:4:\"type\";s:5:\"array\";}}s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"subLists\";a:1:{i:0;O:8:\"stdClass\":2:{s:13:\"canonicalForm\";s:4:\"Ohio\";s:4:\"list\";a:2:{i:0;s:4:\"Ohio\";i:1;s:2:\"OH\";}}}}}s:16:\"JSONModelFeature\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Exported
  Model - Phraselist Model Feature.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"activated\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Indicates
  if the feature is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  Phraselist name.\";s:4:\"type\";s:6:\"string\";}s:5:\"words\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"List
  of comma-separated phrases that represent the Phraselist.\";s:4:\"type\";s:6:\"string\";}s:4:\"mode\";O:8:\"stdClass\":2:{s:11:\"description\";s:739:\"An
  exchangeable phrase list feature are serves as single feature to the LUIS underlying
  training algorithm. It is used as a lexicon lookup feature where its value is 1
  if the lexicon contains a given word or 0 if it doesn\u2019t. Think of an exchangeable
  as a synonyms list. A non-exchangeable phrase list feature has all the phrases in
  the list serve as separate features to the underlying training algorithm. So, if
  you your phrase list feature contains 5 phrases, they will be mapped to 5 separate
  features. You can think of the non-exchangeable phrase list feature as an additional
  bag of words that you are willing to add to LUIS existing vocabulary features. Think
  of a non-exchangeable as set of different words. Default value is true.\";s:4:\"type\";s:7:\"boolean\";}}}s:17:\"ModelCreateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Object
  model for creating a new entity extractor.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Name
  of the new entity extractor.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"DayOfWeek\";}}s:19:\"PatternCreateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Object
  model for creating a Pattern feature.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"pattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  Regular Expression to match.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the feature.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"EmailPattern\";s:7:\"pattern\";s:41:\"\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}\\b\";}}s:14:\"WordListObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Sublist
  of items for a Closed list.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"canonicalForm\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  standard form that the list represents.\";s:4:\"type\";s:6:\"string\";}s:4:\"list\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  of synonym words.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:13:\"canonicalForm\";s:10:\"California\";s:4:\"list\";a:4:{i:0;s:10:\"California\";i:1;s:2:\"CA\";i:2;s:6:\"Calif.\";i:3;s:4:\"Cal.\";}}}s:24:\"WordListBaseUpdateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Object
  model for updating one of the closed list's sublists.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"canonicalForm\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  standard form that the list represents.\";s:4:\"type\";s:6:\"string\";}s:4:\"list\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  of synonym words.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:13:\"canonicalForm\";s:10:\"California\";s:4:\"list\";a:4:{i:0;s:10:\"California\";i:1;s:2:\"CA\";i:2;s:6:\"Calif.\";i:3;s:4:\"Cal.\";}}}s:13:\"JSONUtterance\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Exported
  Model - Utterance that was used to train the model.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  utterance.\";s:4:\"type\";s:6:\"string\";}s:6:\"intent\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  matched intent.\";s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  matched entities.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:24:\"#/definitions/JSONEntity\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"ModelUpdateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Object
  model for updating an intent classifier.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  entity's new name.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"New
  Name\";}}s:27:\"ClosedListModelUpdateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Object
  model for updating a closed list.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"subLists\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  new sublists for the feature.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:28:\"#/definitions/WordListObject\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  new name of the closed list feature.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"States\";s:8:\"subLists\";a:4:{i:0;O:8:\"stdClass\":2:{s:13:\"canonicalForm\";s:8:\"new
  york\";s:4:\"list\";a:2:{i:0;s:2:\"ny\";i:1;s:8:\"new york\";}}i:1;O:8:\"stdClass\":2:{s:13:\"canonicalForm\";s:10:\"washington\";s:4:\"list\";a:2:{i:0;s:10:\"washington\";i:1;s:2:\"wa\";}}i:2;O:8:\"stdClass\":2:{s:13:\"canonicalForm\";s:10:\"california\";s:4:\"list\";a:4:{i:0;s:10:\"california\";i:1;s:2:\"ca\";i:2;s:6:\"calif.\";i:3;s:4:\"cal.\";}}i:3;O:8:\"stdClass\":2:{s:13:\"canonicalForm\";s:5:\"Texas\";s:4:\"list\";a:2:{i:0;s:5:\"Texas\";i:1;s:2:\"TX\";}}}}}s:27:\"ClosedListModelCreateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Object
  model for creating a closed list.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"subLists\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Sublists
  for the feature.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:28:\"#/definitions/WordListObject\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Name
  of the closed list feature.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"States\";s:8:\"subLists\";a:3:{i:0;O:8:\"stdClass\":2:{s:13:\"canonicalForm\";s:8:\"New
  York\";s:4:\"list\";a:2:{i:0;s:2:\"NY\";i:1;s:8:\"New York\";}}i:1;O:8:\"stdClass\":2:{s:13:\"canonicalForm\";s:10:\"Washington\";s:4:\"list\";a:2:{i:0;s:10:\"Washington\";i:1;s:2:\"WA\";}}i:2;O:8:\"stdClass\":2:{s:13:\"canonicalForm\";s:10:\"California\";s:4:\"list\";a:4:{i:0;s:10:\"California\";i:1;s:2:\"CA\";i:2;s:6:\"Calif.\";i:3;s:4:\"Cal.\";}}}}}s:23:\"ExampleLabelObjectArray\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Object
  model for adding a batch of labeled examples.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:32:\"#/definitions/ExampleLabelObject\";}s:4:\"type\";s:5:\"array\";s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":3:{s:4:\"text\";s:52:\"Book
  me a flight from Cairo to Redmond next Thursday\";s:10:\"intentName\";s:10:\"BookFlight\";s:12:\"entityLabels\";a:2:{i:0;O:8:\"stdClass\":3:{s:10:\"entityName\";s:14:\"Location::From\";s:14:\"startCharIndex\";i:22;s:12:\"endCharIndex\";i:26;}i:1;O:8:\"stdClass\":3:{s:10:\"entityName\";s:12:\"Location::To\";s:14:\"startCharIndex\";i:31;s:12:\"endCharIndex\";i:37;}}}i:1;O:8:\"stdClass\":3:{s:4:\"text\";s:35:\"What's
  the weather like in Seattle?\";s:10:\"intentName\";s:10:\"GetWeather\";s:12:\"entityLabels\";a:1:{i:0;O:8:\"stdClass\":3:{s:10:\"entityName\";s:8:\"Location\";s:14:\"startCharIndex\";i:27;s:12:\"endCharIndex\";i:33;}}}}}s:11:\"VersionInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Object
  model of an application version.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:7:\"version\";i:1;s:14:\"trainingStatus\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  version ID. E.g.: \"0.1\"\";s:4:\"type\";s:6:\"string\";}s:15:\"createdDateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  version's creation timestamp.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:20:\"lastModifiedDateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Timestamp
  of the last update.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:19:\"lastTrainedDateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Timestamp
  of the last time the model was trained.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:21:\"lastPublishedDateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Timestamp
  when was last published.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"endpointUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  Runtime endpoint URL for this model version.\";s:4:\"type\";s:6:\"string\";}s:19:\"assignedEndpointKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  endpoint key.\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"externalApiKeys\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"External
  keys.\";s:4:\"type\";s:6:\"object\";}s:12:\"intentsCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Number
  of intents in this model.\";s:4:\"type\";s:7:\"integer\";}s:13:\"entitiesCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Number
  of entities in this model.\";s:4:\"type\";s:7:\"integer\";}s:17:\"endpointHitsCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Number
  of calls made to this endpoint.\";s:4:\"type\";s:7:\"integer\";}s:14:\"trainingStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"The
  current training status.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:13:\"NeedsTraining\";i:1;s:10:\"InProgress\";i:2;s:7:\"Trained\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":1:{s:4:\"name\";s:14:\"TrainingStatus\";}}}}s:16:\"TaskUpdateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Object
  model for cloning an application's version.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  new version for the cloned model.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"version\";s:3:\"1.0\";}}s:22:\"PhraselistUpdateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Object
  model for updating a Phraselist.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"phrases\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"List
  of comma-separated phrases that represent the Phraselist.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  Phraselist name.\";s:4:\"type\";s:6:\"string\";}s:8:\"isActive\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Indicates
  if the Phraselist is enabled.\";s:7:\"default\";b:1;s:4:\"type\";s:7:\"boolean\";}s:14:\"isExchangeable\";O:8:\"stdClass\":3:{s:11:\"description\";s:739:\"An
  exchangeable phrase list feature are serves as single feature to the LUIS underlying
  training algorithm. It is used as a lexicon lookup feature where its value is 1
  if the lexicon contains a given word or 0 if it doesn\u2019t. Think of an exchangeable
  as a synonyms list. A non-exchangeable phrase list feature has all the phrases in
  the list serve as separate features to the underlying training algorithm. So, if
  you your phrase list feature contains 5 phrases, they will be mapped to 5 separate
  features. You can think of the non-exchangeable phrase list feature as an additional
  bag of words that you are willing to add to LUIS existing vocabulary features. Think
  of a non-exchangeable as set of different words. Default value is true.\";s:7:\"default\";b:1;s:4:\"type\";s:7:\"boolean\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"DaysOfWeek\";s:7:\"phrases\";s:56:\"monday,tuesday,wednesday,thursday,friday,saturday,sunday\";}}s:20:\"PrebuiltDomainObject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"domain_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"model_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"HierarchicalModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"children\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"inherits\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:34:\"#/definitions/PrebuiltDomainObject\";}s:5:\"roles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:24:\"ApplicationPublishObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Object
  model for publishing a specific application version.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"versionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  version ID to publish.\";s:4:\"type\";s:6:\"string\";}s:9:\"isStaging\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Indicates
  if the staging slot should be used, instead of the Production one.\";s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  target region that the application is published to.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"versionId\";s:3:\"0.1\";s:9:\"isStaging\";b:0;s:6:\"region\";s:6:\"westus\";}}s:7:\"LuisApp\";O:8:\"stdClass\":5:{s:11:\"description\";s:46:\"Exported
  Model - An exported LUIS Application.\";s:20:\"additionalProperties\";b:1;s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  name of the application.\";s:4:\"type\";s:6:\"string\";}s:9:\"versionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  version ID of the application that was exported.\";s:4:\"type\";s:6:\"string\";}s:4:\"desc\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  description of the application.\";s:4:\"type\";s:6:\"string\";}s:7:\"culture\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  culture of the application. E.g.: en-us.\";s:4:\"type\";s:6:\"string\";}s:7:\"intents\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"List
  of intents.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:31:\"#/definitions/HierarchicalModel\";}s:4:\"type\";s:5:\"array\";}s:8:\"entities\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"List
  of entities.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:31:\"#/definitions/HierarchicalModel\";}s:4:\"type\";s:5:\"array\";}s:11:\"closedLists\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"List
  of closed lists.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:24:\"#/definitions/ClosedList\";}s:4:\"type\";s:5:\"array\";}s:10:\"composites\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  of composite entities.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:31:\"#/definitions/HierarchicalModel\";}s:4:\"type\";s:5:\"array\";}s:18:\"patternAnyEntities\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"List
  of Pattern.Any entities.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:24:\"#/definitions/PatternAny\";}s:4:\"type\";s:5:\"array\";}s:14:\"regex_entities\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"List
  of regular expression entities.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:25:\"#/definitions/RegexEntity\";}s:4:\"type\";s:5:\"array\";}s:16:\"prebuiltEntities\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of prebuilt entities.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:28:\"#/definitions/PrebuiltEntity\";}s:4:\"type\";s:5:\"array\";}s:14:\"regex_features\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"List
  of pattern features.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:30:\"#/definitions/JSONRegexFeature\";}s:4:\"type\";s:5:\"array\";}s:14:\"model_features\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"List
  of model features.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:30:\"#/definitions/JSONModelFeature\";}s:4:\"type\";s:5:\"array\";}s:8:\"patterns\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"List
  of patterns.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:21:\"#/definitions/Pattern\";}s:4:\"type\";s:5:\"array\";}s:10:\"utterances\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of sample utterances.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:27:\"#/definitions/JSONUtterance\";}s:4:\"type\";s:5:\"array\";}}s:7:\"example\";O:8:\"stdClass\":13:{s:19:\"luis_schema_version\";s:5:\"2.1.0\";s:9:\"versionId\";s:3:\"0.1\";s:4:\"name\";s:7:\"LuisBot\";s:4:\"desc\";s:0:\"\";s:7:\"culture\";s:5:\"en-us\";s:7:\"intents\";a:5:{i:0;O:8:\"stdClass\":1:{s:4:\"name\";s:10:\"dateintent\";}i:1;O:8:\"stdClass\":1:{s:4:\"name\";s:4:\"Help\";}i:2;O:8:\"stdClass\":1:{s:4:\"name\";s:4:\"None\";}i:3;O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"SearchHotels\";}i:4;O:8:\"stdClass\":1:{s:4:\"name\";s:17:\"ShowHotelsReviews\";}}s:8:\"entities\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"AirportCode\";}i:1;O:8:\"stdClass\":1:{s:4:\"name\";s:5:\"Hotel\";}}s:10:\"composites\";a:0:{}s:11:\"closedLists\";a:0:{}s:13:\"bing_entities\";a:2:{i:0;s:10:\"datetimeV2\";i:1;s:9:\"geography\";}s:14:\"model_features\";a:2:{i:0;O:8:\"stdClass\":4:{s:4:\"name\";s:4:\"Near\";s:4:\"mode\";b:1;s:5:\"words\";s:24:\"near,around,close,nearby\";s:9:\"activated\";b:1;}i:1;O:8:\"stdClass\":4:{s:4:\"name\";s:4:\"Show\";s:4:\"mode\";b:1;s:5:\"words\";s:21:\"show,find,look,search\";s:9:\"activated\";b:1;}}s:14:\"regex_features\";a:1:{i:0;O:8:\"stdClass\":3:{s:4:\"name\";s:16:\"AirportCodeRegex\";s:7:\"pattern\";s:8:\"[a-z]{3}\";s:9:\"activated\";b:1;}}s:10:\"utterances\";a:25:{i:0;O:8:\"stdClass\":3:{s:4:\"text\";s:11:\"i
  need help\";s:6:\"intent\";s:4:\"Help\";s:8:\"entities\";a:0:{}}i:1;O:8:\"stdClass\":3:{s:4:\"text\";s:7:\"help
  me\";s:6:\"intent\";s:4:\"Help\";s:8:\"entities\";a:0:{}}i:2;O:8:\"stdClass\":3:{s:4:\"text\";s:8:\"tomorrow\";s:6:\"intent\";s:10:\"dateintent\";s:8:\"entities\";a:0:{}}i:3;O:8:\"stdClass\":3:{s:4:\"text\";s:28:\"search
  for hotels in seattle\";s:6:\"intent\";s:12:\"SearchHotels\";s:8:\"entities\";a:0:{}}i:4;O:8:\"stdClass\":3:{s:4:\"text\";s:14:\"what
  can i do?\";s:6:\"intent\";s:4:\"Help\";s:8:\"entities\";a:0:{}}i:5;O:8:\"stdClass\":3:{s:4:\"text\";s:11:\"next
  monday\";s:6:\"intent\";s:10:\"dateintent\";s:8:\"entities\";a:0:{}}i:6;O:8:\"stdClass\":3:{s:4:\"text\";s:9:\"next
  year\";s:6:\"intent\";s:10:\"dateintent\";s:8:\"entities\";a:0:{}}i:7;O:8:\"stdClass\":3:{s:4:\"text\";s:24:\"look
  for hotels in miami\";s:6:\"intent\";s:12:\"SearchHotels\";s:8:\"entities\";a:0:{}}i:8;O:8:\"stdClass\":3:{s:4:\"text\";s:28:\"show
  me hotels in california\";s:6:\"intent\";s:12:\"SearchHotels\";s:8:\"entities\";a:0:{}}i:9;O:8:\"stdClass\":3:{s:4:\"text\";s:45:\"show
  me the reviews of the amazing bot resort\";s:6:\"intent\";s:17:\"ShowHotelsReviews\";s:8:\"entities\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"entity\";s:5:\"Hotel\";s:8:\"startPos\";i:23;s:6:\"endPos\";i:44;}}}i:10;O:8:\"stdClass\":3:{s:4:\"text\";s:44:\"can
  i see the reviews of extended bot hotel?\";s:6:\"intent\";s:17:\"ShowHotelsReviews\";s:8:\"entities\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"entity\";s:5:\"Hotel\";s:8:\"startPos\";i:25;s:6:\"endPos\";i:42;}}}i:11;O:8:\"stdClass\":3:{s:4:\"text\";s:24:\"find
  reviews of hotelxya\";s:6:\"intent\";s:17:\"ShowHotelsReviews\";s:8:\"entities\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"entity\";s:5:\"Hotel\";s:8:\"startPos\";i:16;s:6:\"endPos\";i:23;}}}i:12;O:8:\"stdClass\":3:{s:4:\"text\";s:36:\"show
  me reviews of the amazing hotel\";s:6:\"intent\";s:17:\"ShowHotelsReviews\";s:8:\"entities\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"entity\";s:5:\"Hotel\";s:8:\"startPos\";i:19;s:6:\"endPos\";i:35;}}}i:13;O:8:\"stdClass\":3:{s:4:\"text\";s:31:\"what
  are the available options?\";s:6:\"intent\";s:4:\"Help\";s:8:\"entities\";a:0:{}}i:14;O:8:\"stdClass\":3:{s:4:\"text\";s:22:\"best
  hotels in seattle\";s:6:\"intent\";s:12:\"SearchHotels\";s:8:\"entities\";a:0:{}}i:15;O:8:\"stdClass\":3:{s:4:\"text\";s:21:\"hotels
  in los angeles\";s:6:\"intent\";s:12:\"SearchHotels\";s:8:\"entities\";a:0:{}}i:16;O:8:\"stdClass\":3:{s:4:\"text\";s:40:\"can
  you show me hotels from los angeles?\";s:6:\"intent\";s:12:\"SearchHotels\";s:8:\"entities\";a:0:{}}i:17;O:8:\"stdClass\":3:{s:4:\"text\";s:57:\"can
  you show me the reviews of the amazing resort & hotel\";s:6:\"intent\";s:17:\"ShowHotelsReviews\";s:8:\"entities\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"entity\";s:5:\"Hotel\";s:8:\"startPos\";i:31;s:6:\"endPos\";i:56;}}}i:18;O:8:\"stdClass\":3:{s:4:\"text\";s:48:\"what
  are the reviews of the hotel bot framework?\";s:6:\"intent\";s:17:\"ShowHotelsReviews\";s:8:\"entities\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"entity\";s:5:\"Hotel\";s:8:\"startPos\";i:24;s:6:\"endPos\";i:46;}}}i:19;O:8:\"stdClass\":3:{s:4:\"text\";s:20:\"find
  hotels near eze\";s:6:\"intent\";s:12:\"SearchHotels\";s:8:\"entities\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"entity\";s:11:\"AirportCode\";s:8:\"startPos\";i:17;s:6:\"endPos\";i:19;}}}i:20;O:8:\"stdClass\":3:{s:4:\"text\";s:26:\"where
  can i stay near nnn?\";s:6:\"intent\";s:12:\"SearchHotels\";s:8:\"entities\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"entity\";s:11:\"AirportCode\";s:8:\"startPos\";i:22;s:6:\"endPos\";i:24;}}}i:21;O:8:\"stdClass\":3:{s:4:\"text\";s:28:\"show
  hotels near att airport\";s:6:\"intent\";s:12:\"SearchHotels\";s:8:\"entities\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"entity\";s:11:\"AirportCode\";s:8:\"startPos\";i:17;s:6:\"endPos\";i:19;}}}i:22;O:8:\"stdClass\":3:{s:4:\"text\";s:20:\"find
  hotels near agl\";s:6:\"intent\";s:12:\"SearchHotels\";s:8:\"entities\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"entity\";s:11:\"AirportCode\";s:8:\"startPos\";i:17;s:6:\"endPos\";i:19;}}}i:23;O:8:\"stdClass\":3:{s:4:\"text\";s:30:\"find
  hotels around eze airport\";s:6:\"intent\";s:12:\"SearchHotels\";s:8:\"entities\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"entity\";s:11:\"AirportCode\";s:8:\"startPos\";i:19;s:6:\"endPos\";i:21;}}}i:24;O:8:\"stdClass\":3:{s:4:\"text\";s:4:\"01/7\";s:6:\"intent\";s:10:\"dateintent\";s:8:\"entities\";a:0:{}}}}}s:12:\"GuidResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"The
  ID (GUID) returned by an operation.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:7:\"example\";s:36:\"363187f1-c573-46b3-bc4c-ae01d686e68e\";}s:15:\"VersionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  new version ID returned by when importing a model version.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"0.1\";}s:17:\"FeatureIDResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  ID of the created feature.\";s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:0;s:7:\"example\";i:398102;}s:17:\"LabeledUtterances\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"A
  list of predictions and label pairs for every example in the application.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/LabeledUtterance\";}}s:16:\"LabeledUtterance\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  prediction and label pair of an example.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"ID
  of Labeled Utterance.\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  utterance. E.g.: what's the weather like in seattle?\";}s:13:\"tokenizedText\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"The
  utterance tokenized.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"intentLabel\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  intent matching the example.\";s:4:\"type\";s:6:\"string\";}s:12:\"entityLabels\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  entities matching the example.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EntityLabel\";}}s:17:\"intentPredictions\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of suggested intents.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/IntentPrediction\";}}s:17:\"entityPredictions\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  of suggested entities.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EntityPrediction\";}}}}s:25:\"IntentsSuggestionExamples\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"List
  of predicted/suggested intents.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/IntentsSuggestionExample\";}}s:24:\"IntentsSuggestionExample\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Predicted/suggested
  intent.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  utterance. E.g.: what's the weather like in seattle?\";}s:13:\"tokenizedText\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"The
  utterance tokenized.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"intentPredictions\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Predicted/suggested
  intents.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/IntentPrediction\";}}s:17:\"entityPredictions\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Predicted/suggested
  entities.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EntityPrediction\";}}}}s:26:\"EntitiesSuggestionExamples\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"List
  of predicted/suggested entities.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/EntitiesSuggestionExample\";}}s:25:\"EntitiesSuggestionExample\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Predicted/suggested
  entity.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  utterance. E.g.: what's the weather like in seattle?\";}s:13:\"tokenizedText\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"The
  utterance tokenized.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"intentPredictions\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Predicted/suggested
  intents.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/IntentPrediction\";}}s:17:\"entityPredictions\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Predicted/suggested
  entities.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EntityPrediction\";}}}}s:11:\"EntityLabel\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Defines
  the entity type and position of the extracted entity within the example.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"entityName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  entity type.\";s:4:\"type\";s:6:\"string\";}s:15:\"startTokenIndex\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  index within the utterance where the extracted entity starts.\";s:4:\"type\";s:7:\"integer\";}s:13:\"endTokenIndex\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  index within the utterance where the extracted entity ends.\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:10:\"entityName\";i:1;s:15:\"startTokenIndex\";i:2;s:13:\"endTokenIndex\";}}s:16:\"IntentPrediction\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"A
  suggested intent.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  intent's name\";s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  intent's score, based on the prediction model.\";s:4:\"type\";s:6:\"number\";}}}s:16:\"EntityPrediction\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"A
  suggested entity.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:10:\"entityName\";i:1;s:15:\"startTokenIndex\";i:2;s:13:\"endTokenIndex\";i:3;s:6:\"phrase\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"entityName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  entity's name\";s:4:\"type\";s:6:\"string\";}s:15:\"startTokenIndex\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  index within the utterance where the extracted entity starts.\";s:4:\"type\";s:7:\"integer\";}s:13:\"endTokenIndex\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  index within the utterance where the extracted entity ends.\";s:4:\"type\";s:7:\"integer\";}s:6:\"phrase\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  actual token(s) that comprise the entity.\";}}}s:26:\"PersonalAssistantsResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:100:\"Response
  containing user's endpoint keys and the endpoint URLs of the prebuilt Cortana applications.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"endpointKeys\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/EndpointKeys\";}s:12:\"endpointUrls\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PersonalAssistantUrls\";}}}s:12:\"EndpointKeys\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:83:\"An
  a array of GUIDs, comprised of Azure Endpoint Keys and the Programmatic API key.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}s:21:\"PersonalAssistantUrls\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:48:\"Endpoint
  URLs for prebuilt Cortana applications.\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"ModelInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Base
  type used in entity types.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:27:\"The
  ID of the Entity Model.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Name
  of the Entity Model.\";}s:6:\"typeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:32:\"The
  type ID of the Entity Model.\";}s:12:\"readableType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ReadableType\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:12:\"readableType\";}}s:24:\"ModelsInfoResponseObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"A
  list of application model infos.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ModelInfoResponse\";}}s:17:\"ModelInfoResponse\";O:8:\"stdClass\":5:{s:11:\"description\";s:26:\"An
  application model info.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:27:\"The
  ID of the Entity Model.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Name
  of the Entity Model.\";}s:6:\"typeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:32:\"The
  type ID of the Entity Model.\";}s:12:\"readableType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ReadableType\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:12:\"readableType\";}s:5:\"allOf\";a:7:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/HierarchicalEntityExtractor\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CompositeEntityExtractor\";}i:2;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ClosedListEntityExtractor\";}i:3;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/IntentClassifier\";}i:4;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EntityExtractor\";}i:5;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/RegexEntityExtractor\";}i:6;O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/PatternAnyEntityExtractor\";}}}s:15:\"EntityModelInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"An
  Entity Extractor model info.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"roles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EntityRoleList\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ModelInfo\";}}}s:12:\"ReadableType\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Full
  name of the entity type.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:16:\"Entity
  Extractor\";i:1;s:29:\"Hierarchical Entity Extractor\";i:2;s:35:\"Hierarchical Child
  Entity Extractor\";i:3;s:26:\"Composite Entity Extractor\";i:4;s:28:\"Closed List
  Entity Extractor\";i:5;s:25:\"Prebuilt Entity Extractor\";i:6;s:17:\"Intent Classifier\";i:7;s:28:\"Pattern.Any
  Entity Extractor\";i:8;s:22:\"Regex Entity Extractor\";}}s:27:\"HierarchicalEntityExtractor\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"Hierarchical
  Entity Extractor.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:29:\"Hierarchical
  Entity Extractor\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ModelInfo\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EntityModelInfo\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"children\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"List
  of child entities.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ChildEntity\";}}}}s:32:\"HierarchicalEntityExtractorsList\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"List
  of Hierarchical Entity Extractors.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/HierarchicalEntityExtractor\";}}s:24:\"CompositeEntityExtractor\";O:8:\"stdClass\":5:{s:11:\"description\";s:29:\"A
  Composite Entity Extractor.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:26:\"Composite
  Entity Extractor\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ModelInfo\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EntityModelInfo\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"children\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"List
  of child entities.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ChildEntity\";}}}}s:29:\"CompositeEntityExtractorsList\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"List
  of Composite Entity Extractors.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CompositeEntityExtractor\";}}s:25:\"ClosedListEntityExtractor\";O:8:\"stdClass\":5:{s:11:\"description\";s:29:\"Closed
  List Entity Extractor.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:28:\"Closed
  List Entity Extractor\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ModelInfo\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EntityModelInfo\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"subLists\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of sub-lists.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/SubClosedListResponse\";}}}}s:30:\"ClosedListEntityExtractorsList\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"List
  of Closed List Entity Extractors.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ClosedListEntityExtractor\";}}s:23:\"PrebuiltEntityExtractor\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Prebuilt
  Entity Extractor.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:25:\"Prebuilt
  Entity Extractor\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ModelInfo\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EntityModelInfo\";}}}s:28:\"PrebuiltEntityExtractorsList\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"List
  of Prebuilt Entity Extractors.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/PrebuiltEntityExtractor\";}}s:11:\"ChildEntity\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"The
  base child entity type.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:42:\"The
  ID (GUID) belonging to a child entity.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  name of a child entity.\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:23:\"HierarchicalChildEntity\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"A
  Hierarchical Child Entity.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"typeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  type ID of the Entity Model.\";s:4:\"type\";s:7:\"integer\";}s:12:\"readableType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ReadableType\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ChildEntity\";}}}s:19:\"CustomPrebuiltModel\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"A
  Custom Prebuilt model.\";s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ModelInfo\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/IntentClassifier\";}i:2;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EntityExtractor\";}}}s:23:\"CustomPrebuiltModelList\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  List of Custom Prebuilt models.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/CustomPrebuiltModel\";}}s:16:\"IntentClassifier\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Intent
  Classifier.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:17:\"Intent
  Classifier\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ModelInfo\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"customPrebuiltDomainName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  domain name.\";s:4:\"type\";s:6:\"string\";}s:23:\"customPrebuiltModelName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  intent name or entity name.\";s:4:\"type\";s:6:\"string\";}}}s:15:\"EntityExtractor\";O:8:\"stdClass\":5:{s:11:\"description\";s:17:\"Entity
  Extractor.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:16:\"Entity
  Extractor\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ModelInfo\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EntityModelInfo\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"customPrebuiltDomainName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  domain name.\";s:4:\"type\";s:6:\"string\";}s:23:\"customPrebuiltModelName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  intent name or entity name.\";s:4:\"type\";s:6:\"string\";}}}s:21:\"IntentClassifiersList\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  of Intent Classifiers.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/IntentClassifier\";}}s:20:\"EntityExtractorsList\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of Entity Extractors.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EntityExtractor\";}}s:22:\"FeaturesResponseObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Model
  Features, including Patterns and Phraselists.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"phraselistFeatures\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/PhraseListFeatureInfoList\";}s:15:\"patternFeatures\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/PatternFeatureInfoList\";}}}s:17:\"FeatureInfoObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  base class Features-related response objects inherit from.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:33:\"A
  six-digit ID used for Features.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  name of the Feature.\";}s:8:\"isActive\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Indicates
  if the feature is enabled.\";s:4:\"type\";s:7:\"boolean\";}}}s:18:\"PatternFeatureInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Pattern
  feature.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"pattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  Regular Expression to match.\";s:4:\"type\";s:6:\"string\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FeatureInfoObject\";}}}s:22:\"PatternFeatureInfoList\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"List
  of Pattern features.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PatternFeatureInfo\";}}s:21:\"PhraseListFeatureInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Phraselist
  Feature.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"phrases\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"A
  list of comma-separated values.\";}s:14:\"isExchangeable\";O:8:\"stdClass\":2:{s:11:\"description\";s:739:\"An
  exchangeable phrase list feature are serves as single feature to the LUIS underlying
  training algorithm. It is used as a lexicon lookup feature where its value is 1
  if the lexicon contains a given word or 0 if it doesn\u2019t. Think of an exchangeable
  as a synonyms list. A non-exchangeable phrase list feature has all the phrases in
  the list serve as separate features to the underlying training algorithm. So, if
  you your phrase list feature contains 5 phrases, they will be mapped to 5 separate
  features. You can think of the non-exchangeable phrase list feature as an additional
  bag of words that you are willing to add to LUIS existing vocabulary features. Think
  of a non-exchangeable as set of different words. Default value is true.\";s:4:\"type\";s:7:\"boolean\";}}s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FeatureInfoObject\";}}}s:25:\"PhraseListFeatureInfoList\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"List
  of Phraselist Features.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PhraseListFeatureInfo\";}}s:20:\"LabelExampleResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Response
  when adding a labeled example.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"UtteranceText\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  sample's utterance.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:52:\"book me
  a flight from cairo to redmond next thursday\";}s:9:\"ExampleId\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  newly created sample ID.\";s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:-6830368;}}}s:17:\"BatchLabelExample\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Response
  when adding a batch of labeled examples.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/LabelExampleResponse\";}s:8:\"hasError\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/OperationStatus\";}}}s:25:\"BatchLabelExampleResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Response
  when adding a batch of labeled examples.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BatchLabelExample\";}}s:23:\"ApplicationInfoResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Response
  containing the Application Info.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:33:\"The
  ID (GUID) of the application.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  name of the application.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  description of the application.\";s:4:\"type\";s:6:\"string\";}s:7:\"culture\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  culture of the application. E.g.: en-us.\";s:4:\"type\";s:6:\"string\";}s:13:\"usageScenario\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Defines
  the scenario for the new application. Optional. E.g.: IoT.\";s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  domain for the new application. Optional. E.g.: Comics.\";s:4:\"type\";s:6:\"string\";}s:13:\"versionsCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Amount
  of model versions within the application.\";s:4:\"type\";s:7:\"integer\";}s:15:\"createdDateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  version's creation timestamp.\";s:4:\"type\";s:6:\"string\";}s:9:\"endpoints\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  Runtime endpoint URL for this model version.\";s:4:\"type\";s:6:\"object\";}s:17:\"endpointHitsCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Number
  of calls made to this endpoint.\";s:4:\"type\";s:7:\"integer\";}s:13:\"activeVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  version ID currently marked as active.\";s:4:\"type\";s:6:\"string\";}}}s:20:\"ApplicationsInfoList\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of Application Infos.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ApplicationInfoResponse\";}}s:31:\"ProductionOrStagingEndpointInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/EndpointInfo\";}}}s:12:\"EndpointInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:63:\"The
  base class \"ProductionOrStagingEndpointInfo\" inherits from.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"versionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  version ID to publish.\";s:4:\"type\";s:6:\"string\";}s:9:\"isStaging\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Indicates
  if the staging slot should be used, instead of the Production one.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"endpointUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  Runtime endpoint URL for this model version.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  target region that the application is published to.\";s:4:\"type\";s:6:\"string\";}s:19:\"assignedEndpointKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  endpoint key.\";s:4:\"type\";s:6:\"string\";}s:14:\"endpointRegion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  endpoint's region.\";}s:17:\"publishedDateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Timestamp
  when was last published.\";s:4:\"type\";s:6:\"string\";}}}s:18:\"AvailableEndpoints\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:74:\"Collection
  of endpoint URLs where the selected application is deployed to.\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:16:\"AvailableCulture\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Available
  culture for using in a new application.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  language name.\";s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  ISO value for the language.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"AvailableCultures\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"A
  list of available application cultures.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AvailableCulture\";}}s:16:\"AvailableDomains\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"A
  list of available application domains.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:25:\"ApplicationUsageScenarios\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  list of possible application usage scenarios.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:19:\"ApplicationSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"The
  application settings.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  application ID.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:6:\"public\";O:8:\"stdClass\":4:{s:11:\"description\";s:111:\"Setting
  your application as public allows other people to use your application's endpoint
  using their own keys.\";s:4:\"type\";s:7:\"boolean\";s:10:\"x-nullable\";b:0;s:16:\"x-ms-client-name\";s:8:\"isPublic\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:6:\"public\";}}s:28:\"AvailablePrebuiltEntityModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Available
  Prebuilt entity model for using in an application.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  entity name.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  entity description and usage information.\";s:4:\"type\";s:6:\"string\";}s:8:\"examples\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Usage
  examples.\";s:4:\"type\";s:6:\"string\";}}}s:29:\"AvailablePrebuiltEntityModels\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"List
  of Available Prebuilt entity models.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/AvailablePrebuiltEntityModel\";}}s:23:\"EnqueueTrainingResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Response
  model when requesting to train the model.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"statusId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  train request status ID.\";s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TrainingStatus\";}}}s:14:\"TrainingStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  Trainning status.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:6:\"Queued\";i:1;s:10:\"InProgress\";i:2;s:8:\"UpToDate\";i:3;s:4:\"Fail\";i:4;s:7:\"Success\";}}s:17:\"ModelTrainingInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Model
  Training Info.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"modelId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:27:\"The
  ID (GUID) of the model.\";}s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ModelTrainingDetails\";}}}s:20:\"ModelTrainingDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Model
  Training Details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"statusId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  train request status ID.\";s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TrainingStatus\";}s:12:\"exampleCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  count of examples used to train the model.\";s:4:\"type\";s:7:\"integer\";}s:16:\"trainingDateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"When
  the model was trained.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:13:\"failureReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Reason
  for the training failure.\";s:4:\"type\";s:6:\"string\";}}}s:21:\"ModelTrainingInfoList\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"List
  of Model Training Infos.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ModelTrainingInfo\";}}s:14:\"UserAccessList\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"List
  of user permissions.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"owner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  email address of owner of the application.\";}s:6:\"emails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:16:\"UserCollaborator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  email address of the user.\";}}}s:18:\"CollaboratorsArray\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"emails\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:31:\"The
  email address of the users.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:15:\"OperationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Response
  of an Operation status.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Status
  Code.\";s:4:\"enum\";a:3:{i:0;s:6:\"Failed\";i:1;s:6:\"FAILED\";i:2;s:7:\"Success\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:13:\"modelAsString\";b:1;s:4:\"name\";s:19:\"OperationStatusType\";}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Status
  details.\";}}}s:13:\"ErrorResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Error
  response when invoking an operation on the API.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"errorType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:14:\"OperationError\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Operation
  error details when invoking an operation on the API.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"PrebuiltDomainsList\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"List
  of Prebuilt Domains.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PrebuiltDomain\";}}s:14:\"PrebuiltDomain\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Prebuilt
  Domain.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"culture\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"examples\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"intents\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PrebuiltDomainItem\";}}s:8:\"entities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PrebuiltDomainItem\";}}}}s:18:\"PrebuiltDomainItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"examples\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"GuidList\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"List
  of IDs (GUID)\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GuidResponse\";}s:7:\"example\";a:3:{i:0;s:36:\"2639049a-e41d-4285-a3c6-8a17ed299473\";i:1;s:36:\"200d6173-ecfa-4967-bf95-3c319902dc52\";i:2;s:36:\"f80aa9ba-64c8-4a36-8cc5-92010d0aadf1\";}}s:22:\"EntityRoleCreateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Object
  model for creating an entity role.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  entity role name.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"name\";s:18:\"sample
  entity role\";}}s:22:\"RegexModelCreateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Model
  object for creating a regex entity model.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"regexPattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  regex entity pattern.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  model name.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"AirportCodeRegex\";s:12:\"regexPattern\";s:8:\"[a-z]{3}\";}}s:27:\"PatternAnyModelCreateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Model
  object for creating a Pattern.Any entity model.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  model name.\";s:4:\"type\";s:6:\"string\";}s:12:\"explicitList\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  Pattern.Any explicit list.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"any\";s:12:\"explicitList\";a:2:{i:0;s:6:\"item
  1\";i:1;s:6:\"item 2\";}}}s:28:\"ExplicitListItemCreateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Object
  model for creating an explicit list item.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"explicitListItem\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  explicit list item.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"explicitListItem\";s:6:\"item
  1\";}}s:22:\"RegexModelUpdateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Model
  object for updating a regex entity model.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"regexPattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  regex entity pattern.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  model name.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"AirportCodeRegex\";s:12:\"regexPattern\";s:8:\"[a-z]{3}\";}}s:27:\"PatternAnyModelUpdateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Model
  object for updating a Pattern.Any entity model.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  model name.\";s:4:\"type\";s:6:\"string\";}s:12:\"explicitList\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  Pattern.Any explicit list.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"any\";s:12:\"explicitList\";a:2:{i:0;s:6:\"item
  1\";i:1;s:6:\"item 2\";}}}s:22:\"EntityRoleUpdateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Object
  model for updating an entity role.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  entity role name.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"name\";s:18:\"sample
  entity role\";}}s:28:\"ExplicitListItemUpdateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Model
  object for updating an explicit list item.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"explicitListItem\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  explicit list item.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"explicitListItem\";s:6:\"item
  1\";}}s:23:\"PatternRuleCreateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Object
  model for creating a pattern\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"pattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  pattern text.\";s:4:\"type\";s:6:\"string\";}s:6:\"intent\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  intent's name which the pattern belongs to.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:26:\"this
  is a [sample] pattern\";s:6:\"intent\";s:12:\"SampleIntent\";}}s:23:\"PatternRuleUpdateObject\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Object
  model for updating a pattern.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:15:\"The
  pattern ID.\";s:4:\"type\";s:6:\"string\";}s:7:\"pattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  pattern text.\";s:4:\"type\";s:6:\"string\";}s:6:\"intent\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  intent's name which the pattern belongs to.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":3:{s:2:\"id\";s:36:\"363187f1-c573-46b3-bc4c-ae01d686e68e\";s:7:\"pattern\";s:26:\"this
  is a [sample] pattern\";s:6:\"intent\";s:12:\"SampleIntent\";}}s:20:\"RegexEntityExtractor\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"Regex
  Entity Extractor.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:22:\"Regex
  Entity Extractor\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ModelInfo\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EntityModelInfo\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"regexPattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  Regex entity pattern.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"RegexEntityExtractorList\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"List
  of Regex Entity Extractors.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/RegexEntityExtractor\";}}s:25:\"PatternAnyEntityExtractor\";O:8:\"stdClass\":5:{s:11:\"description\";s:29:\"Pattern.Any
  Entity Extractor.\";s:4:\"type\";s:6:\"object\";s:24:\"x-ms-discriminator-value\";s:28:\"Pattern.Any
  Entity Extractor\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ModelInfo\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EntityModelInfo\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"explicitList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ExplicitListItemList\";}}}s:29:\"PatternAnyEntityExtractorList\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"List
  of Pattern.Any Entity Extractors.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/PatternAnyEntityExtractor\";}}s:10:\"EntityRole\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Entity
  extractor role\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:19:\"The
  entity role ID.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  entity role name.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"sample
  entity role\";s:2:\"id\";s:36:\"363187f1-c573-46b3-bc4c-ae01d686e68e\";}}s:14:\"EntityRoleList\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"List
  of Pattern.Any Entity Extractors.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/EntityRole\";}}s:16:\"ExplicitListItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Explicit
  list item\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:26:\"The
  explicit list item ID.\";s:4:\"type\";s:7:\"integer\";}s:16:\"explicitListItem\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  explicit list item value.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:2:\"id\";i:10;s:16:\"explicitListItem\";s:5:\"value\";}}s:20:\"ExplicitListItemList\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  of explicit list items\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExplicitListItem\";}}s:26:\"ExplicitListItemIDResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  ID of the created explicit list item.\";s:4:\"type\";s:7:\"integer\";s:10:\"x-nullable\";b:0;s:7:\"example\";i:398102;}s:11:\"PatternRule\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Pattern
  rule\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:15:\"The
  pattern ID.\";s:4:\"type\";s:6:\"string\";}s:7:\"pattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  pattern text.\";s:4:\"type\";s:6:\"string\";}s:6:\"intent\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  intent's name where the pattern belongs to.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":3:{s:2:\"id\";s:36:\"363187f1-c573-46b3-bc4c-ae01d686e68e\";s:7:\"pattern\";s:26:\"this
  is a [sample] pattern\";s:6:\"intent\";s:12:\"SampleIntent\";}}s:15:\"PatternRuleList\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"List
  of patterns\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PatternRule\";}}s:10:\"PatternAny\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Pattern.Any
  Entity Extractor.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"explicitList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"roles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:11:\"RegexEntity\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Regular
  Expression Entity Extractor.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"regexPattern\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"roles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:14:\"PrebuiltEntity\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Prebuilt
  Entity Extractor.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"roles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:7:\"Pattern\";O:8:\"stdClass\":4:{s:11:\"description\";s:7:\"Pattern\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"pattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  pattern text.\";s:4:\"type\";s:6:\"string\";}s:6:\"intent\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  intent's name where the pattern belongs to.\";s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:26:\"this
  is a [sample] pattern\";s:6:\"intent\";s:12:\"SampleIntent\";}}}"
...
