---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:20:\"Google
  Dataflow API.\";s:5:\"title\";s:19:\"Google Dataflow API\";s:7:\"version\";s:4:\"v1b3\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"google\";s:3:\"url\";s:63:\"https://www.googleapis.com/discovery/v1/apis/dataflow/v1b3/rest\";s:7:\"version\";s:2:\"v1\";}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:8:\"dataflow\";}"
host: dataflow.googleapis.com
basePath: /
paths:
  /v1b3/projects/{projectId}/jobs:
    get:
      description: List the jobs of a project
      operationId: dataflow.projects.jobs.list
      parameters:
      - description: The project which owns the jobs.
        in: path
        name: projectId
        required: true
        type: string
      - description: Level of information requested in response. Default is SUMMARY.
        enum:
        - JOB_VIEW_UNKNOWN
        - JOB_VIEW_SUMMARY
        - JOB_VIEW_ALL
        in: query
        name: view
        type: string
      - description: If there are many jobs, limit response to at most this many.
          The actual number of jobs returned will be the lesser of max_responses and
          an unspecified server-defined limit.
        in: query
        name: pageSize
        type: integer
      - description: Set this to the 'next_page_token' field of a previous response
          to request additional results in a long list.
        in: query
        name: pageToken
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListJobsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    post:
      description: Creates a dataflow job.
      operationId: dataflow.projects.jobs.create
      parameters:
      - description: The project which owns the job.
        in: path
        name: projectId
        required: true
        type: string
      - description: Level of information requested in response.
        enum:
        - JOB_VIEW_UNKNOWN
        - JOB_VIEW_SUMMARY
        - JOB_VIEW_ALL
        in: query
        name: view
        type: string
      - description: DEPRECATED. This field is now on the Job message.
        in: query
        name: replaceJobId
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Job'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/jobs/{jobId}:
    get:
      description: Gets the state of the specified dataflow job.
      operationId: dataflow.projects.jobs.get
      parameters:
      - description: The project which owns the job.
        in: path
        name: projectId
        required: true
        type: string
      - description: Identifies a single job.
        in: path
        name: jobId
        required: true
        type: string
      - description: Level of information requested in response.
        enum:
        - JOB_VIEW_UNKNOWN
        - JOB_VIEW_SUMMARY
        - JOB_VIEW_ALL
        in: query
        name: view
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    put:
      description: Updates the state of an existing dataflow job.
      operationId: dataflow.projects.jobs.update
      parameters:
      - description: The project which owns the job.
        in: path
        name: projectId
        required: true
        type: string
      - description: Identifies a single job.
        in: path
        name: jobId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Job'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/jobs/{jobId}/messages:
    get:
      description: Request the job status.
      operationId: dataflow.projects.jobs.messages.list
      parameters:
      - description: A project id.
        in: path
        name: projectId
        required: true
        type: string
      - description: The job to get messages about.
        in: path
        name: jobId
        required: true
        type: string
      - description: Filter to only get messages with importance >= level
        enum:
        - JOB_MESSAGE_IMPORTANCE_UNKNOWN
        - JOB_MESSAGE_DEBUG
        - JOB_MESSAGE_DETAILED
        - JOB_MESSAGE_BASIC
        - JOB_MESSAGE_WARNING
        - JOB_MESSAGE_ERROR
        in: query
        name: minimumImportance
        type: string
      - description: If specified, determines the maximum number of messages to return.
          If unspecified, the service may choose an appropriate default, or may return
          an arbitrarily large number of results.
        in: query
        name: pageSize
        type: integer
      - description: If supplied, this should be the value of next_page_token returned
          by an earlier call. This will cause the next page of results to be returned.
        in: query
        name: pageToken
        type: string
      - description: If specified, return only messages with timestamps >= start_time.
          The default is the job creation time (i.e. beginning of messages).
        in: query
        name: startTime
        type: string
      - description: Return only messages with timestamps < end_time. The default
          is now (i.e. return up to the latest messages available).
        in: query
        name: endTime
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListJobMessagesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
  /v1b3/projects/{projectId}/jobs/{jobId}/metrics:
    get:
      description: Request the job status.
      operationId: dataflow.projects.jobs.getMetrics
      parameters:
      - description: A project id.
        in: path
        name: projectId
        required: true
        type: string
      - description: The job to get messages for.
        in: path
        name: jobId
        required: true
        type: string
      - description: Return only metric data that has changed since this time. Default
          is to return all information about all metrics for the job.
        in: query
        name: startTime
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/JobMetrics'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
  /v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease:
    parameters:
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    post:
      description: Leases a dataflow WorkItem to run.
      operationId: dataflow.projects.jobs.workItems.lease
      parameters:
      - description: Identifies the project this worker belongs to.
        in: path
        name: projectId
        required: true
        type: string
      - description: Identifies the workflow job this worker belongs to.
        in: path
        name: jobId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/LeaseWorkItemRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/LeaseWorkItemResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus:
    parameters:
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    post:
      description: Reports the status of dataflow WorkItems leased by a worker.
      operationId: dataflow.projects.jobs.workItems.reportStatus
      parameters:
      - description: The project which owns the WorkItem's job.
        in: path
        name: projectId
        required: true
        type: string
      - description: The job which the WorkItem is part of.
        in: path
        name: jobId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ReportWorkItemStatusRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ReportWorkItemStatusResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":71:{s:19:\"ApproximateProgress\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  progress measurement of a WorkItem by a worker.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"percentComplete\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"Completion
  as percentage of the work, from 0.0 (beginning, nothing complete), to 1.0 (end of
  the work range, entire WorkItem complete).\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"position\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Position\";s:11:\"description\";s:51:\"A
  Position within the work to represent a progress.\";}s:13:\"remainingTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Completion
  as an estimated time remaining.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"AutoscalingSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Settings
  for WorkerPool autoscaling.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"algorithm\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  algorithm to use for autoscaling.\";s:4:\"enum\";a:3:{i:0;s:29:\"AUTOSCALING_ALGORITHM_UNKNOWN\";i:1;s:26:\"AUTOSCALING_ALGORITHM_NONE\";i:2;s:27:\"AUTOSCALING_ALGORITHM_BASIC\";}s:4:\"type\";s:6:\"string\";}s:13:\"maxNumWorkers\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  maximum number of workers to cap scaling at.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ComputationTopology\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"All
  configuration data for a particular Computation.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"computationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  ID of the computation.\";s:4:\"type\";s:6:\"string\";}s:6:\"inputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  inputs to the computation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/StreamLocation\";}s:4:\"type\";s:5:\"array\";}s:9:\"keyRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  key ranges processed by the computation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/KeyRangeLocation\";}s:4:\"type\";s:5:\"array\";}s:7:\"outputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  outputs from the computation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/StreamLocation\";}s:4:\"type\";s:5:\"array\";}s:13:\"stateFamilies\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  state family values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StateFamilyConfig\";}s:4:\"type\";s:5:\"array\";}s:15:\"systemStageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  system stage name.\";s:4:\"type\";s:6:\"string\";}s:13:\"userStageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  user stage name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ConcatPosition\";O:8:\"stdClass\":3:{s:11:\"description\";s:178:\"A
  position that encapsulates an inner position and an index for the inner position.
  A ConcatPosition can be used by a reader of a source that encapsulates a set of
  other sources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"index\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Index
  of the inner source.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"position\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Position\";s:11:\"description\";s:33:\"Position
  within the inner source.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CustomSourceLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Identifies
  the location of a custom souce.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"stateful\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Whether
  this source is stateful.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DataDiskAssignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Data
  disk assignment for a given VM instance.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"dataDisks\";O:8:\"stdClass\":3:{s:11:\"description\";s:266:\"Mounted
  data disks. The order is important a data disk's 0-based index in this list defines
  which persistent directory the disk is mounted to, for example the list of { \"myproject-1014-104817-4c2-harness-0-disk-0\"
  }, { \"myproject-1014-104817-4c2-harness-0-disk-1\" }.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"vmInstance\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"VM
  instance name the data disks mounted to, for example \"myproject-1014-104817-4c2-harness-0\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DerivedSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:234:\"Specification
  of one of the bundles produced as a result of splitting a Source (e.g. when executing
  a SourceSplitRequest, or when splitting an active task using WorkItemStatus.dynamic_source_split),
  relative to the source being split.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"derivationMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"What
  source to base the produced source on (if any).\";s:4:\"enum\";a:4:{i:0;s:30:\"SOURCE_DERIVATION_MODE_UNKNOWN\";i:1;s:34:\"SOURCE_DERIVATION_MODE_INDEPENDENT\";i:2;s:39:\"SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT\";i:3;s:41:\"SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT\";}s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Source\";s:11:\"description\";s:28:\"Specification
  of the source.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Disk\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Describes
  the data disk used by a workflow job.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"diskType\";O:8:\"stdClass\":2:{s:11:\"description\";s:883:\"Disk
  storage type, as defined by Google Compute Engine. This must be a disk type appropriate
  to the project and zone in which the workers will run. If unknown or unspecified,
  the service will attempt to choose a reasonable default. For example, the standard
  persistent disk type is a resource name typically ending in \"pd-standard\". If
  SSD persistent disks are available, the resource name typically ends with \"pd-ssd\".
  The actual valid values are defined the Google Compute Engine API, not by the Dataflow
  API; consult the Google Compute Engine documentation for more information about
  determining the set of available disk types for a particular project and zone. Google
  Compute Engine Disk types are local to a particular project in a particular zone,
  and so the resource name will typically look something like this: compute.googleapis.com/projects/\n/zones//diskTypes/pd-standard\";s:4:\"type\";s:6:\"string\";}s:10:\"mountPoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Directory
  in a VM where disk is mounted.\";s:4:\"type\";s:6:\"string\";}s:6:\"sizeGb\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Size
  of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable
  default.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DynamicSourceSplit\";O:8:\"stdClass\":3:{s:11:\"description\";s:168:\"When
  a task splits using WorkItemStatus.dynamic_source_split, this message describes
  the two parts of the split relative to the description of the current task's input.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"primary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DerivedSource\";s:11:\"description\";s:121:\"Primary
  part (continued to be processed by worker). Specified relative to the previously-current
  source. Becomes current.\";}s:8:\"residual\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DerivedSource\";s:11:\"description\";s:98:\"Residual
  part (returned to the pool of work). Specified relative to the previously-current
  source.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Environment\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Describes
  the environment in which a Dataflow Job runs.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:24:\"clusterManagerApiService\";O:8:\"stdClass\":2:{s:11:\"description\";s:206:\"The
  type of cluster manager API to use. If unknown or unspecified, the service will
  attempt to choose a reasonable default. This should be in the form of the API service
  name, e.g. \"compute.googleapis.com\".\";s:4:\"type\";s:6:\"string\";}s:7:\"dataset\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"The
  dataset for the current project where various workflow related tables are stored.
  The supported resource type is: Google BigQuery: bigquery.googleapis.com/{dataset}\";s:4:\"type\";s:6:\"string\";}s:11:\"experiments\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  list of experiments to enable.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"internalExperiments\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:60:\"Properties
  of the object. Contains field @ype with type URL.\";}s:11:\"description\";s:22:\"Experimental
  settings.\";s:4:\"type\";s:6:\"object\";}s:18:\"sdkPipelineOptions\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:218:\"The Dataflow SDK pipeline options
  specified by the user. These options are passed through the service and are used
  to recreate the SDK pipeline options on the worker in a language agnostic and platform
  independent way.\";s:4:\"type\";s:6:\"object\";}s:17:\"tempStoragePrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:533:\"The
  prefix of the resources the system should use for temporary storage. The system
  will append the suffix \"/temp-{JOBNAME} to this resource prefix, where {JOBNAME}
  is the value of the job_name field. The resulting bucket and object prefix is used
  as the prefix of the resources used to store temporary data needed during the job
  execution. NOTE: This will override the value in taskrunner_settings. The supported
  resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object}
  bucket.storage.googleapis.com/{object}\";s:4:\"type\";s:6:\"string\";}s:9:\"userAgent\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:56:\"A description of the process that
  generated the request.\";s:4:\"type\";s:6:\"object\";}s:7:\"version\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:111:\"A structure describing which components
  and their versions of the service are required in order to run the job.\";s:4:\"type\";s:6:\"object\";}s:11:\"workerPools\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"Worker
  pools. At least one \"harness\" worker pool must be specified in order for the job
  to have workers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/WorkerPool\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"FlattenInstruction\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"An
  instruction that copies its inputs (zero or more) to its (single) output.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"inputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Describes
  the inputs to the flatten instruction.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/InstructionInput\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"InstructionInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"An
  input of an instruction, as a reference to an output of a producer instruction.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"outputNum\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  output index (origin zero) within the producer.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:24:\"producerInstructionIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"The
  index (origin zero) of the parallel instruction that produces the output to be consumed
  by this input. This index is relative to the list of instructions in this input's
  instruction's containing MapTask.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"InstructionOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"An
  output of an instruction.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"codec\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:62:\"The codec to use to encode data being
  written via this output.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  user-provided name of this output.\";s:4:\"type\";s:6:\"string\";}s:10:\"systemName\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"System-defined
  name of this output. Unique across the workflow.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Job\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Defines
  a job to be run by the Dataflow service.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:483:\"Client's
  unique identifier of the job, re-used by SDK across retried attempts. If this field
  is set, the service will ensure its uniqueness. That is, the request to create a
  job will fail if the service has knowledge of a previously submitted job with the
  same client's id and job name. The caller may, for example, use this field to ensure
  idempotence of job creation across retried attempts to create a job. By default,
  the field is empty and, in that case, the service ignores it.\";s:4:\"type\";s:6:\"string\";}s:10:\"createTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Timestamp
  when job was initially created. Immutable, set by the Dataflow service.\";s:4:\"type\";s:6:\"string\";}s:12:\"currentState\";O:8:\"stdClass\":3:{s:11:\"description\";s:341:\"The
  current state of the job. Jobs are created in the JOB_STATE_STOPPED state unless
  otherwise specified. A job in the JOB_STATE_RUNNING state may asynchronously enter
  a terminal state. Once a job has reached a terminal state, no further state updates
  may be made. This field may be mutated by the Dataflow service; callers cannot mutate
  it.\";s:4:\"enum\";a:7:{i:0;s:17:\"JOB_STATE_UNKNOWN\";i:1;s:17:\"JOB_STATE_STOPPED\";i:2;s:17:\"JOB_STATE_RUNNING\";i:3;s:14:\"JOB_STATE_DONE\";i:4;s:16:\"JOB_STATE_FAILED\";i:5;s:19:\"JOB_STATE_CANCELLED\";i:6;s:17:\"JOB_STATE_UPDATED\";}s:4:\"type\";s:6:\"string\";}s:16:\"currentStateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  timestamp associated with the current state.\";s:4:\"type\";s:6:\"string\";}s:11:\"environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Environment\";s:11:\"description\";s:24:\"Environment
  for the job.\";}s:13:\"executionInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/JobExecutionInfo\";s:11:\"description\";s:69:\"Information
  about how the Dataflow service will actually run the job.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"The
  unique ID of this job. This field is set by the Dataflow service when the Job is
  created, and is immutable for the life of the Job.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:311:\"The
  user-specified Dataflow job name. Only one Job with a given name may exist in a
  project at any given time. If a caller attempts to create a Job with the same name
  as an already-existing Job, the attempt will return the existing Job. The name must
  match the regular expression [a-z]([-a-z0-9]{0,38}[a-z0-9])?\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  project which owns the job.\";s:4:\"type\";s:6:\"string\";}s:15:\"replacedByJobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"If
  another job is an update of this job (and thus, this job is in JOB_STATE_UPDATED),
  this field will contain the ID of that job.\";s:4:\"type\";s:6:\"string\";}s:12:\"replaceJobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:259:\"If
  this job is an update of an existing job, this field will be the ID of the job it
  replaced. When sending a CreateJobRequest, you can update a job by specifying it
  here. The job named here will be stopped, and its intermediate state transferred
  to this job.\";s:4:\"type\";s:6:\"string\";}s:14:\"requestedState\";O:8:\"stdClass\":3:{s:11:\"description\";s:335:\"The
  job's requested state. UpdateJob may be used to switch between the JOB_STATE_STOPPED
  and JOB_STATE_RUNNING states, by setting requested_state. UpdateJob may also be
  used to directly set a job's requested state to JOB_STATE_CANCELLED or JOB_STATE_DONE,
  irrevocably terminating the job if it has not already reached a terminal state.\";s:4:\"enum\";a:7:{i:0;s:17:\"JOB_STATE_UNKNOWN\";i:1;s:17:\"JOB_STATE_STOPPED\";i:2;s:17:\"JOB_STATE_RUNNING\";i:3;s:14:\"JOB_STATE_DONE\";i:4;s:16:\"JOB_STATE_FAILED\";i:5;s:19:\"JOB_STATE_CANCELLED\";i:6;s:17:\"JOB_STATE_UPDATED\";}s:4:\"type\";s:6:\"string\";}s:5:\"steps\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  top-level steps that constitute the entire job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Step\";}s:4:\"type\";s:5:\"array\";}s:9:\"tempFiles\";O:8:\"stdClass\":3:{s:11:\"description\";s:324:\"A
  set of files the system should be aware of that are used for temporary storage.
  These temporary files will be removed on job completion. No duplicates are allowed.
  No file patterns are supported. The supported files are: Google Cloud Storage: storage.googleapis.com/{bucket}/{object}
  bucket.storage.googleapis.com/{object}\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"transformNameMapping\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:107:\"Map
  of transform name prefixes of the job to be replaced to the corresponding name prefixes
  of the new job.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of dataflow job.\";s:4:\"enum\";a:3:{i:0;s:16:\"JOB_TYPE_UNKNOWN\";i:1;s:14:\"JOB_TYPE_BATCH\";i:2;s:18:\"JOB_TYPE_STREAMING\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"JobExecutionInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Additional
  information about how a Dataflow job will be executed which isn\u2019t contained
  in the submitted job.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"stages\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/JobExecutionStageInfo\";}s:11:\"description\";s:62:\"A
  mapping from each stage to the information about that stage.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:21:\"JobExecutionStageInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Contains
  information about how a particular google.dataflow.v1beta3.Step will be executed.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"stepName\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"The
  steps associated with the execution stage. Note that stages may have several steps,
  and that a given step might be run by more than one stage.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"JobMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"A
  particular message pertaining to a Dataflow job.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"Identifies
  the message. This is automatically generated by the service; the caller should treat
  it as an opaque string.\";s:4:\"type\";s:6:\"string\";}s:17:\"messageImportance\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Importance
  level of the message.\";s:4:\"enum\";a:6:{i:0;s:30:\"JOB_MESSAGE_IMPORTANCE_UNKNOWN\";i:1;s:17:\"JOB_MESSAGE_DEBUG\";i:2;s:20:\"JOB_MESSAGE_DETAILED\";i:3;s:17:\"JOB_MESSAGE_BASIC\";i:4;s:19:\"JOB_MESSAGE_WARNING\";i:5;s:17:\"JOB_MESSAGE_ERROR\";}s:4:\"type\";s:6:\"string\";}s:11:\"messageText\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  text of the message.\";s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  timestamp of the message.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"JobMetrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:329:\"JobMetrics
  contains a collection of metrics descibing the detailed progress of a Dataflow job.
  Metrics correspond to user-defined and system-defined metrics in the job. This resource
  captures only the most recent values of each metric; time-series data can be queried
  for them (under the same metric names) from Cloud Monitoring.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"metrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"All
  metrics for this job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MetricUpdate\";}s:4:\"type\";s:5:\"array\";}s:10:\"metricTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Timestamp
  as of which metric values are current.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"KeyRangeDataDiskAssignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:164:\"Data
  disk assignment information for a specific key-range of a sharded computation. Currently
  we only support UTF-8 character splits to simplify encoding into JSON.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"dataDisk\";O:8:\"stdClass\":2:{s:11:\"description\";s:230:\"The
  name of the data disk where data for this range is stored. This name is local to
  the Google Cloud Platform project and uniquely identifies the disk within that project,
  for example \"myproject-1014-104817-4c2-harness-0-disk-1\".\";s:4:\"type\";s:6:\"string\";}s:3:\"end\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  end (exclusive) of the key range.\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  start (inclusive) of the key range.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"KeyRangeLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:152:\"Location
  information for a specific key-range of a sharded computation. Currently we only
  support UTF-8 character splits to simplify encoding into JSON.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"dataDisk\";O:8:\"stdClass\":2:{s:11:\"description\";s:230:\"The
  name of the data disk where data for this range is stored. This name is local to
  the Google Cloud Platform project and uniquely identifies the disk within that project,
  for example \"myproject-1014-104817-4c2-harness-0-disk-1\".\";s:4:\"type\";s:6:\"string\";}s:16:\"deliveryEndpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  physical location of this range assignment to be used for streaming computation
  cross-worker message delivery.\";s:4:\"type\";s:6:\"string\";}s:3:\"end\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  end (exclusive) of the key range.\";s:4:\"type\";s:6:\"string\";}s:19:\"persistentDirectory\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  location of the persistent state for this range, as a persistent directory in the
  worker local filesystem.\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  start (inclusive) of the key range.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"LeaseWorkItemRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Request
  to lease WorkItems.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"currentWorkerTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  current timestamp at the worker.\";s:4:\"type\";s:6:\"string\";}s:22:\"requestedLeaseDuration\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  initial lease period.\";s:4:\"type\";s:6:\"string\";}s:18:\"workerCapabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Worker
  capabilities. WorkItems might be limited to workers with specific capabilities.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"workerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Identifies
  the worker leasing work -- typically the ID of the virtual machine running the worker.\";s:4:\"type\";s:6:\"string\";}s:13:\"workItemTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Filter
  for WorkItem type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"LeaseWorkItemResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Response
  to a request to lease WorkItems.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"workItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  list of the leased WorkItems.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/WorkItem\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListJobMessagesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Response
  to a request to list job messages.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"jobMessages\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Messages
  in ascending timestamp order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/JobMessage\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  token to obtain the next page of results if there are more.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListJobsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"Response
  to a request to list Dataflow jobs. This may be a partial response, depending on
  the page size in the ListJobsRequest.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"jobs\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  subset of the requested job information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Set
  if there may be more results than fit in this response.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"MapTask\";O:8:\"stdClass\":3:{s:11:\"description\";s:277:\"MapTask
  consists of an ordered set of instructions, each of which describes one particular
  low-level operation for the worker to perform in order to accomplish the MapTask's
  WorkItem. Each instruction must appear in the list before any instructions which
  depends on its output.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"instructions\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  instructions in the MapTask.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ParallelInstruction\";}s:4:\"type\";s:5:\"array\";}s:9:\"stageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"System-defined
  name of the stage containing this MapTask. Unique across the workflow.\";s:4:\"type\";s:6:\"string\";}s:10:\"systemName\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"System-defined
  name of this MapTask. Unique across the workflow.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"MetricStructuredName\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Identifies
  a metric, by describing the source which generated the metric.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"context\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:305:\"Zero
  or more labeled fields which identify the part of the job this metric is associated
  with, such as the name of a step or collection. For example, built-in counters associated
  with steps will have context['step'] = . Counters associated with PCollections in
  the SDK will have context['pcollection'] =\n.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Worker-defined
  metric name.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"Origin
  (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\"
  for metrics defined by the Dataflow service or SDK.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"MetricUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Describes
  the state of a metric.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"cumulative\";O:8:\"stdClass\":2:{s:11:\"description\";s:253:\"True
  if this metric is reported as the total cumulative aggregate value accumulated since
  the worker started working on this WorkItem. By default this is false, indicating
  that this metric is reported as a delta that is not associated with any WorkItem.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"internal\";O:8:\"stdClass\":1:{s:11:\"description\";s:73:\"Worker-computed
  aggregate value for internal use by the Dataflow service.\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:257:\"Metric
  aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\",
  \"Mean\", \"Set\", \"And\", and \"Or\". The specified aggregation kind is case-insensitive.
  If omitted, this is not an aggregated value but instead a single metric sample value.\";s:4:\"type\";s:6:\"string\";}s:9:\"meanCount\";O:8:\"stdClass\":1:{s:11:\"description\";s:238:\"Worker-computed
  aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated
  values and is used in combination with mean_sum above to obtain the actual mean
  aggregate value. The only possible value type is Long.\";}s:7:\"meanSum\";O:8:\"stdClass\":1:{s:11:\"description\";s:251:\"Worker-computed
  aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated
  values and is used in combination with mean_count below to obtain the actual mean
  aggregate value. The only possible value types are Long and Double.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/MetricStructuredName\";s:11:\"description\";s:19:\"Name
  of the metric.\";}s:6:\"scalar\";O:8:\"stdClass\":1:{s:11:\"description\";s:147:\"Worker-computed
  aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\".
  The possible value types are Long, Double, and Boolean.\";}s:3:\"set\";O:8:\"stdClass\":1:{s:11:\"description\";s:236:\"Worker-computed
  aggregate value for the \"Set\" aggregation kind. The only possible value type is
  a list of Values whose type can be Long, Double, or String, according to the metric's
  type. All Values in the list must be of the same type.\";}s:10:\"updateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"Timestamp
  associated with the metric value. Optional when workers are reporting work progress;
  it will be filled in responses from the metrics API.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"MountedDataDisk\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Describes
  mounted data disk.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"dataDisk\";O:8:\"stdClass\":2:{s:11:\"description\";s:194:\"The
  name of the data disk. This name is local to the Google Cloud Platform project and
  uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"MultiOutputInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Information
  about an output of a multi-output DoFn.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"The
  id of the tag the user code will emit to this output by; this should correspond
  to the tag of some SideInputInfo.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Package\";O:8:\"stdClass\":3:{s:11:\"description\";s:416:\"Packages
  that need to be installed in order for a worker to run the steps of the Dataflow
  job which will be assigned to its worker pool. This is the mechanism by which the
  SDK causes code to be loaded onto the workers. For example, the Dataflow Java SDK
  might use this to install jars containing the user's code and all of the various
  dependencies (libraries, data files, etc) required in order for that code to run.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"The
  resource to read the package from. The supported resource type is: Google Cloud
  Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  name of the package.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ParallelInstruction\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Describes
  a particular operation comprising a MapTask.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"flatten\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/FlattenInstruction\";s:11:\"description\";s:48:\"Additional
  information for Flatten instructions.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"User-provided
  name of this operation.\";s:4:\"type\";s:6:\"string\";}s:7:\"outputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Describes
  the outputs of the instruction.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/InstructionOutput\";}s:4:\"type\";s:5:\"array\";}s:5:\"parDo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ParDoInstruction\";s:11:\"description\";s:46:\"Additional
  information for ParDo instructions.\";}s:17:\"partialGroupByKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/PartialGroupByKeyInstruction\";s:11:\"description\";s:58:\"Additional
  information for PartialGroupByKey instructions.\";}s:4:\"read\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ReadInstruction\";s:11:\"description\";s:45:\"Additional
  information for Read instructions.\";}s:10:\"systemName\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"System-defined
  name of this operation. Unique across the workflow.\";s:4:\"type\";s:6:\"string\";}s:5:\"write\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/WriteInstruction\";s:11:\"description\";s:46:\"Additional
  information for Write instructions.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ParDoInstruction\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"An
  instruction that does a ParDo operation. Takes one main input and zero or more side
  inputs, and produces zero or more outputs. Runs user code.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InstructionInput\";s:11:\"description\";s:10:\"The
  input.\";}s:16:\"multiOutputInfos\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Information
  about each of the outputs, if user_fn is a MultiDoFn.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MultiOutputInfo\";}s:4:\"type\";s:5:\"array\";}s:10:\"numOutputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  number of outputs.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"sideInputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Zero
  or more side inputs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SideInputInfo\";}s:4:\"type\";s:5:\"array\";}s:6:\"userFn\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:28:\"The user function to invoke.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:28:\"PartialGroupByKeyInstruction\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"An
  instruction that does a partial group-by-key. One input and one output.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InstructionInput\";s:11:\"description\";s:60:\"Describes
  the input to the partial group-by-key instruction.\";}s:17:\"inputElementCodec\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:65:\"The codec to use for interpreting
  an element in the input PTable.\";s:4:\"type\";s:6:\"object\";}s:16:\"valueCombiningFn\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:39:\"The value combining function to invoke.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Position\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"Position
  defines a position within a collection of data. The value can be either the end
  position, a key (used with ordered collections), a byte offset, or a record index.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"byteOffset\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Position
  is a byte offset.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:14:\"concatPosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ConcatPosition\";s:11:\"description\";s:35:\"CloudPosition
  is a concat position.\";}s:3:\"end\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Position
  is past all other positions. Also useful for the end position of an unbounded range.\";s:4:\"type\";s:7:\"boolean\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Position
  is a string key, ordered lexicographically.\";s:4:\"type\";s:6:\"string\";}s:11:\"recordIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Position
  is a record index.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"shufflePosition\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"CloudPosition
  is a base64 encoded BatchShufflePosition (with FIXED sharding).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"PubsubLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Identifies
  a pubsub location to use for transferring data into or out of a streaming Dataflow
  job.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"dropLateData\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Indicates
  whether the pipeline allows late-arriving data.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"idLabel\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"If
  set, contains a pubsub label from which to extract record ids. If left empty, record
  deduplication will be strictly best effort.\";s:4:\"type\";s:6:\"string\";}s:12:\"subscription\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"A
  pubsub subscription, in the form of \"pubsub.googleapis.com/subscriptions/\n/\"\";s:4:\"type\";s:6:\"string\";}s:14:\"timestampLabel\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"If
  set, contains a pubsub label from which to extract record timestamps. If left empty,
  record timestamps will be generated upon arrival.\";s:4:\"type\";s:6:\"string\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"A
  pubsub topic, in the form of \"pubsub.googleapis.com/topics/\n/\"\";s:4:\"type\";s:6:\"string\";}s:20:\"trackingSubscription\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"If
  set, specifies the pubsub subscription that will be used for tracking custom time
  timestamps for watermark estimation.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ReadInstruction\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"An
  instruction that reads records. Takes no inputs, produces one output.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Source\";s:11:\"description\";s:24:\"The
  source to read from.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ReportWorkItemStatusRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  to report the status of WorkItems.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"currentWorkerTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  current timestamp at the worker.\";s:4:\"type\";s:6:\"string\";}s:8:\"workerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:225:\"The
  ID of the worker reporting the WorkItem status. If this does not match the ID of
  the worker which the Dataflow service believes currently has the lease on the WorkItem,
  the report will be dropped (with an error response).\";s:4:\"type\";s:6:\"string\";}s:16:\"workItemStatuses\";O:8:\"stdClass\":3:{s:11:\"description\";s:178:\"The
  order is unimportant, except that the order of the WorkItemServiceState messages
  in the ReportWorkItemStatusResponse corresponds to the order of WorkItemStatus messages
  here.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/WorkItemStatus\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ReportWorkItemStatusResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Response
  from a request to report the status of WorkItems.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"workItemServiceStates\";O:8:\"stdClass\":3:{s:11:\"description\";s:214:\"A
  set of messages indicating the service-side state for each WorkItem whose status
  was reported, in the same order as the WorkItemStatus messages in the ReportWorkItemStatusRequest
  which resulting in this response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/WorkItemServiceState\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"SeqMapTask\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Describes
  a particular function to invoke.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"inputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Information
  about each of the inputs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SideInputInfo\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  user-provided name of the SeqDo operation.\";s:4:\"type\";s:6:\"string\";}s:11:\"outputInfos\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Information
  about each of the outputs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/SeqMapTaskOutputInfo\";}s:4:\"type\";s:5:\"array\";}s:9:\"stageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"System-defined
  name of the stage containing the SeqDo operation. Unique across the workflow.\";s:4:\"type\";s:6:\"string\";}s:10:\"systemName\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"System-defined
  name of the SeqDo operation. Unique across the workflow.\";s:4:\"type\";s:6:\"string\";}s:6:\"userFn\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:28:\"The user function to invoke.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:20:\"SeqMapTaskOutputInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Information
  about an output of a SeqMapTask.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"sink\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Sink\";s:11:\"description\";s:38:\"The
  sink to write the output value to.\";}s:3:\"tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  id of the TupleTag the user code will tag the output value by.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ShellTask\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  task which consists of a shell command for the worker to execute.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"command\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  shell command to run.\";s:4:\"type\";s:6:\"string\";}s:8:\"exitCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Exit
  code for the task.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SideInputInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Information
  about a side input of a DoFn or an input of a SeqDoFn.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:61:\"How to interpret the source element(s)
  as a side input value.\";s:4:\"type\";s:6:\"object\";}s:7:\"sources\";O:8:\"stdClass\":3:{s:11:\"description\";s:219:\"The
  source(s) to read element(s) from to get the value of this side input. If more than
  one source, then the elements are taken from the sources, in the specified order
  if order matters. At least one source is required.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:4:\"type\";s:5:\"array\";}s:3:\"tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"The
  id of the tag the user code will access this side input by; this should correspond
  to the tag of some MultiOutputInfo.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Sink\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"A
  sink that records can be encoded and written to.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"codec\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:52:\"The codec to use to encode data written
  to the sink.\";s:4:\"type\";s:6:\"object\";}s:4:\"spec\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:42:\"The sink to write to, plus its parameters.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Source\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"A
  source that records can be read and decoded from.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"baseSpecs\";O:8:\"stdClass\":3:{s:11:\"description\";s:433:\"While
  splitting, sources may specify the produced bundles as differences against another
  source, in order to save backend-side memory and allow bigger jobs. For details,
  see SourceSplitRequest. To support this use case, the full set of parameters of
  the source is logically obtained by taking the latest explicitly specified value
  of each parameter in the order: base_specs (later items win), spec (overrides anything
  in base_specs).\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"codec\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:53:\"The codec to use to decode data read
  from the source.\";s:4:\"type\";s:6:\"object\";}s:20:\"doesNotNeedSplitting\";O:8:\"stdClass\":2:{s:11:\"description\";s:768:\"Setting
  this value to true hints to the framework that the source doesn't need splitting,
  and using SourceSplitRequest on it would yield SOURCE_SPLIT_OUTCOME_USE_CURRENT.
  E.g. a file splitter may set this to true when splitting a single file into a set
  of byte ranges of appropriate size, and set this to false when splitting a filepattern
  into individual files. However, for efficiency, a file splitter may decide to produce
  file subranges directly from the filepattern to avoid a splitting round-trip. See
  SourceSplitRequest for an overview of the splitting process. This field is meaningful
  only in the Source objects populated by the user (e.g. when filling in a DerivedSource).
  Source objects supplied by the framework to the user don't have this field populated.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SourceMetadata\";s:11:\"description\";s:342:\"Optionally,
  metadata for this source can be supplied right away, avoiding a SourceGetMetadataOperation
  roundtrip (see SourceOperationRequest). This field is meaningful only in the Source
  objects populated by the user (e.g. when filling in a DerivedSource). Source objects
  supplied by the framework to the user don't have this field populated.\";}s:4:\"spec\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:45:\"The source to read from, plus its
  parameters.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:10:\"SourceFork\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"DEPRECATED
  in favor of DynamicSourceSplit.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"primary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SourceSplitShard\";s:11:\"description\";s:10:\"DEPRECATED\";}s:13:\"primarySource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DerivedSource\";s:11:\"description\";s:10:\"DEPRECATED\";}s:8:\"residual\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SourceSplitShard\";s:11:\"description\";s:10:\"DEPRECATED\";}s:14:\"residualSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DerivedSource\";s:11:\"description\";s:10:\"DEPRECATED\";}}s:4:\"type\";s:6:\"object\";}s:24:\"SourceGetMetadataRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"A
  request to compute the SourceMetadata of a Source.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Source\";s:11:\"description\";s:62:\"Specification
  of the source whose metadata should be computed.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"SourceGetMetadataResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  result of a SourceGetMetadataOperation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SourceMetadata\";s:11:\"description\";s:22:\"The
  computed metadata.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SourceMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Metadata
  about a Source useful for automatically optimizing and tuning the pipeline, etc.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"estimatedSizeBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:206:\"An
  estimate of the total size (in bytes) of the data that would be read from this source.
  This estimate is in terms of external storage size, before any decompression or
  other processing done by the reader.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"infinite\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Specifies
  that the size of this source is known to be infinite (this is a streaming source).\";s:4:\"type\";s:7:\"boolean\";}s:18:\"producesSortedKeys\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Whether
  this source is known to produce key/value pairs with the (encoded) keys in lexicographically
  sorted order.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:22:\"SourceOperationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"A
  work item that represents the different operations that can be performed on a user-defined
  Source specification.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"getMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/SourceGetMetadataRequest\";s:11:\"description\";s:59:\"Information
  about a request to get metadata about a source.\";}s:5:\"split\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SourceSplitRequest\";s:11:\"description\";s:46:\"Information
  about a request to split a source.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"SourceOperationResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"The
  result of a SourceOperationRequest, specified in ReportWorkItemStatusRequest.source_operation
  when the work item is completed.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"getMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/SourceGetMetadataResponse\";s:11:\"description\";s:55:\"A
  response to a request to get metadata about a source.\";}s:5:\"split\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SourceSplitResponse\";s:11:\"description\";s:42:\"A
  response to a request to split a source.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"SourceSplitOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Hints
  for splitting a Source into bundles (parts for parallel processing) using SourceSplitRequest.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"desiredBundleSizeBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  source should be split into a set of bundles where the estimated size of each is
  approximately this many bytes.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:21:\"desiredShardSizeBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"DEPRECATED
  in favor of desired_bundle_size_bytes.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"SourceSplitRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:715:\"Represents
  the operation to split a high-level Source specification into bundles (parts for
  parallel processing). At a high level, splitting of a source into bundles happens
  as follows: SourceSplitRequest is applied to the source. If it returns SOURCE_SPLIT_OUTCOME_USE_CURRENT,
  no further splitting happens and the source is used \"as is\". Otherwise, splitting
  is applied recursively to each produced DerivedSource. As an optimization, for any
  Source, if its does_not_need_splitting is true, the framework assumes that splitting
  this source would return SOURCE_SPLIT_OUTCOME_USE_CURRENT, and doesn't initiate
  a SourceSplitRequest. This applies both to the initial source being split and to
  bundles produced from it.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SourceSplitOptions\";s:11:\"description\";s:39:\"Hints
  for tuning the splitting process.\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Source\";s:11:\"description\";s:40:\"Specification
  of the source to be split.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SourceSplitResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  response to a SourceSplitRequest.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"bundles\";O:8:\"stdClass\":3:{s:11:\"description\";s:204:\"If
  outcome is SPLITTING_HAPPENED, then this is a list of bundles into which the source
  was split. Otherwise this field is ignored. This list can be empty, which means
  the source represents an empty input.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DerivedSource\";}s:4:\"type\";s:5:\"array\";}s:7:\"outcome\";O:8:\"stdClass\":3:{s:11:\"description\";s:312:\"Indicates
  whether splitting happened and produced a list of bundles. If this is USE_CURRENT_SOURCE_AS_IS,
  the current source should be processed \"as is\" without splitting. \"bundles\"
  is ignored in this case. If this is SPLITTING_HAPPENED, then \"bundles\" contains
  a list of bundles into which the source was split.\";s:4:\"enum\";a:3:{i:0;s:28:\"SOURCE_SPLIT_OUTCOME_UNKNOWN\";i:1;s:32:\"SOURCE_SPLIT_OUTCOME_USE_CURRENT\";i:2;s:39:\"SOURCE_SPLIT_OUTCOME_SPLITTING_HAPPENED\";}s:4:\"type\";s:6:\"string\";}s:6:\"shards\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"DEPRECATED
  in favor of bundles.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/SourceSplitShard\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"SourceSplitShard\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"DEPRECATED
  in favor of DerivedSource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"derivationMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"DEPRECATED\";s:4:\"enum\";a:4:{i:0;s:30:\"SOURCE_DERIVATION_MODE_UNKNOWN\";i:1;s:34:\"SOURCE_DERIVATION_MODE_INDEPENDENT\";i:2;s:39:\"SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT\";i:3;s:41:\"SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT\";}s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Source\";s:11:\"description\";s:10:\"DEPRECATED\";}}s:4:\"type\";s:6:\"object\";}s:17:\"StateFamilyConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"State
  family configuration.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"isRead\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"If
  true, this family corresponds to a read operation.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"stateFamily\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  state family value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2400:\"The
  `Status` type defines a logical error model that is suitable for different programming
  environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc).
  The error model is designed to be: - Simple to use and understand for most users
  - Flexible enough to meet unexpected needs # Overview The `Status` message contains
  three pieces of data: error code, error message, and error details. The error code
  should be an enum value of google.rpc.Code, but it may accept additional error codes
  if needed. The error message should be a developer-facing English message that helps
  developers *understand* and *resolve* the error. If a localized user-facing error
  message is needed, put the localized message in the error details or localize it
  in the client. The optional error details may contain arbitrary information about
  the error. There is a predefined set of error detail types in the package `google.rpc`
  which can be used for common error conditions. # Language mapping The `Status` message
  is the logical representation of the error model, but it is not necessarily the
  actual wire format. When the `Status` message is exposed in different client libraries
  and different wire protocols, it can be mapped differently. For example, it will
  likely be mapped to some exceptions in Java, but more likely mapped to some error
  codes in C. # Other uses The error model and the `Status` message can be used in
  a variety of environments, either with or without APIs, to provide a consistent
  developer experience across different environments. Example uses of this error model
  include: - Partial errors. If a service needs to return partial errors to the client,
  it may embed the `Status` in the normal response to indicate the partial errors.
  - Workflow errors. A typical workflow has multiple steps. Each step may have a `Status`
  message for error reporting purpose. - Batch operations. If a client uses batch
  request and batch response, the `Status` message should be used directly inside
  batch response, one for each error sub-response. - Asynchronous operations. If an
  API call embeds asynchronous operation results in its response, the status of those
  operations should be represented directly using the `Status` message. - Logging.
  If some API errors are stored in logs, the message `Status` could be used directly
  after any stripping needed for security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"A
  list of messages that carry the error details. There will be a common set of message
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:60:\"Properties
  of the object. Contains field @ype with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any user-facing error
  message should be localized and sent in the google.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Step\";O:8:\"stdClass\":3:{s:11:\"description\";s:820:\"Defines
  a particular step within a Dataflow job. A job consists of multiple steps, each
  of which performs some specific operation as part of the overall job. Data is typically
  passed from one step to another as part of the job. Here's an example of a sequence
  of steps which together implement a Map-Reduce job: * Read a collection of data
  from some source, parsing the collection's elements. * Validate the elements. *
  Apply a user-defined function to map each element to some value and extract an element-specific
  key value. * Group elements with the same key into a single element with that key,
  transforming a multiply-keyed collection into a uniquely-keyed collection. * Write
  the elements out to some data sink. (Note that the Dataflow service may be used
  to run many different types of jobs, not just Map-Reduce).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  kind of step in the dataflow Job.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Name
  identifying the step. This must be unique for each step with respect to all other
  steps in the dataflow Job.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:111:\"Named properties associated with
  the step. Each kind of predefined step has its own required set of properties.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:26:\"StreamingComputationRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Describes
  full or partial data disk assignment information of the computation ranges.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"computationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  ID of the computation.\";s:4:\"type\";s:6:\"string\";}s:16:\"rangeAssignments\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Data
  disk assignments for ranges from this computation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/KeyRangeDataDiskAssignment\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"StreamingComputationTask\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"A
  task which describes what action should be performed for the specified streaming
  computation ranges.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"computationRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Contains
  ranges of a streaming computation this task should apply to.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/StreamingComputationRanges\";}s:4:\"type\";s:5:\"array\";}s:9:\"dataDisks\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Describes
  the set of data disks this task should apply to.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MountedDataDisk\";}s:4:\"type\";s:5:\"array\";}s:8:\"taskType\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"A
  type of streaming computation task.\";s:4:\"enum\";a:3:{i:0;s:34:\"STREAMING_COMPUTATION_TASK_UNKNOWN\";i:1;s:31:\"STREAMING_COMPUTATION_TASK_STOP\";i:2;s:32:\"STREAMING_COMPUTATION_TASK_START\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"StreamingSetupTask\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  task which initializes part of a streaming Dataflow job.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"receiveWorkPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"The
  TCP port on which the worker should listen for messages from other streaming computation
  workers.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:28:\"streamingComputationTopology\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TopologyConfig\";s:11:\"description\";s:50:\"The
  global topology of the streaming Dataflow job.\";}s:17:\"workerHarnessPort\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  TCP port used by the worker to communicate with the Dataflow worker harness.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:26:\"StreamingSideInputLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Identifies
  the location of a streaming side input.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"stateFamily\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Identifies
  the state family where this side input is stored.\";s:4:\"type\";s:6:\"string\";}s:3:\"tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Identifies
  the particular side input within the streaming Dataflow job.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"StreamingStageLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Identifies
  the location of a streaming computation stage, for stage-to-stage communication.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"streamId\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Identifies
  the particular stream within the streaming Dataflow job.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"StreamLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Describes
  a stream of data, either as input to be processed or as output of a streaming Dataflow
  job.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"customSourceLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/CustomSourceLocation\";s:11:\"description\";s:30:\"The
  stream is a custom source.\";}s:14:\"pubsubLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PubsubLocation\";s:11:\"description\";s:30:\"The
  stream is a pubsub stream.\";}s:17:\"sideInputLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/StreamingSideInputLocation\";s:11:\"description\";s:37:\"The
  stream is a streaming side input.\";}s:22:\"streamingStageLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/StreamingStageLocation\";s:11:\"description\";s:84:\"The
  stream is part of another computation within the current streaming Dataflow job.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"TaskRunnerSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Taskrunner
  configuration settings.\";s:10:\"properties\";O:8:\"stdClass\":19:{s:15:\"alsologtostderr\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Also
  send taskrunner log info to stderr?\";s:4:\"type\";s:7:\"boolean\";}s:11:\"baseTaskDir\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Location
  on the worker for task-specific subdirectories.\";s:4:\"type\";s:6:\"string\";}s:7:\"baseUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:405:\"The
  base URL for the taskrunner to use when accessing Google Cloud APIs. When workers
  access Google Cloud APIs, they logically do so via relative URLs. If this field
  is specified, it supplies the base URL to use for resolving these relative URLs.
  The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource
  Locators\". If not specified, the default value is \"http://www.googleapis.com/\"\";s:4:\"type\";s:6:\"string\";}s:20:\"commandlinesFileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Store
  preprocessing commands in this file.\";s:4:\"type\";s:6:\"string\";}s:19:\"continueOnException\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Do
  we continue taskrunner if an exception is hit?\";s:4:\"type\";s:7:\"boolean\";}s:18:\"dataflowApiVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"API
  version of endpoint, e.g. \"v1b3\"\";s:4:\"type\";s:6:\"string\";}s:14:\"harnessCommand\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Command
  to launch the worker harness.\";s:4:\"type\";s:6:\"string\";}s:12:\"languageHint\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Suggested
  backend language.\";s:4:\"type\";s:6:\"string\";}s:6:\"logDir\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Directory
  on the VM to store logs.\";s:4:\"type\";s:6:\"string\";}s:18:\"logToSerialconsole\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Send
  taskrunner log into to Google Compute Engine VM serial console?\";s:4:\"type\";s:7:\"boolean\";}s:17:\"logUploadLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:219:\"Indicates
  where to put logs. If this is not specified, the logs will not be uploaded. The
  supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object}
  bucket.storage.googleapis.com/{object}\";s:4:\"type\";s:6:\"string\";}s:11:\"oauthScopes\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"OAuth2
  scopes to be requested by the taskrunner in order to access the dataflow API.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:22:\"parallelWorkerSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/WorkerSettings\";s:11:\"description\";s:48:\"Settings
  to pass to the parallel worker harness.\";}s:24:\"streamingWorkerMainClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Streaming
  worker main class name.\";s:4:\"type\";s:6:\"string\";}s:9:\"taskGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  UNIX group ID on the worker VM to use for tasks launched by taskrunner; e.g. \"wheel\".\";s:4:\"type\";s:6:\"string\";}s:8:\"taskUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  UNIX user ID on the worker VM to use for tasks launched by taskrunner; e.g. \"root\".\";s:4:\"type\";s:6:\"string\";}s:17:\"tempStoragePrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:210:\"The
  prefix of the resources the taskrunner should use for temporary storage. The supported
  resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object}
  bucket.storage.googleapis.com/{object}\";s:4:\"type\";s:6:\"string\";}s:4:\"vmId\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"ID
  string of VM.\";s:4:\"type\";s:6:\"string\";}s:16:\"workflowFileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Store
  the workflow in this file.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"TopologyConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"Global
  topology of the streaming Dataflow job, including all computations and their sharded
  locations.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"computations\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  computations associated with a streaming Dataflow job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ComputationTopology\";}s:4:\"type\";s:5:\"array\";}s:19:\"dataDiskAssignments\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  disks assigned to a streaming Dataflow job.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DataDiskAssignment\";}s:4:\"type\";s:5:\"array\";}s:29:\"userStageToComputationNameMap\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:50:\"Maps
  user stage names to stable computation names.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:10:\"WorkerPool\";O:8:\"stdClass\":3:{s:11:\"description\";s:288:\"Describes
  one particular pool of Dataflow workers to be instantiated by the Dataflow service
  in order to perform the computations required by a job. Note that a workflow job
  may use multiple pools, in order to match the various computational requirements
  of the various stages of the job.\";s:10:\"properties\";O:8:\"stdClass\":17:{s:19:\"autoscalingSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AutoscalingSettings\";s:11:\"description\";s:44:\"Settings
  for autoscaling of this WorkerPool.\";}s:9:\"dataDisks\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Data
  disks that are used by a VM in this workflow.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Disk\";}s:4:\"type\";s:5:\"array\";}s:17:\"defaultPackageSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"The
  default package set to install. This allows the service to select a default set
  of packages which are useful to worker harnesses written in a particular language.\";s:4:\"enum\";a:4:{i:0;s:27:\"DEFAULT_PACKAGE_SET_UNKNOWN\";i:1;s:24:\"DEFAULT_PACKAGE_SET_NONE\";i:2;s:24:\"DEFAULT_PACKAGE_SET_JAVA\";i:3;s:26:\"DEFAULT_PACKAGE_SET_PYTHON\";}s:4:\"type\";s:6:\"string\";}s:10:\"diskSizeGb\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"Size
  of root disk for VMs, in GB. If zero or unspecified, the service will attempt to
  choose a reasonable default.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"diskSourceImage\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Fully
  qualified source image for disks.\";s:4:\"type\";s:6:\"string\";}s:8:\"diskType\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"Type
  of root disk for VMs. If empty or unspecified, the service will attempt to choose
  a reasonable default.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"The
  kind of the worker pool; currently only 'harness' and 'shuffle' are supported.\";s:4:\"type\";s:6:\"string\";}s:11:\"machineType\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"Machine
  type (e.g. \"n1-standard-1\"). If empty or unspecified, the service will attempt
  to choose a reasonable default.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:49:\"Metadata
  to set on the Google Compute Engine VMs.\";s:4:\"type\";s:6:\"object\";}s:7:\"network\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Network
  to which VMs will be assigned. If empty or unspecified, the service will use the
  network \"default\".\";s:4:\"type\";s:6:\"string\";}s:10:\"numWorkers\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"Number
  of Google Compute Engine workers in this pool needed to execute the job. If zero
  or unspecified, the service will attempt to choose a reasonable default.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"onHostMaintenance\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"The
  action to take on host maintenance, as defined by the Google Compute Engine API.\";s:4:\"type\";s:6:\"string\";}s:8:\"packages\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Packages
  to be installed on workers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Package\";}s:4:\"type\";s:5:\"array\";}s:8:\"poolArgs\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:60:\"Properties
  of the object. Contains field @ype with type URL.\";}s:11:\"description\";s:37:\"Extra
  arguments for this worker pool.\";s:4:\"type\";s:6:\"object\";}s:18:\"taskrunnerSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TaskRunnerSettings\";s:11:\"description\";s:134:\"Settings
  passed through to Google Compute Engine workers when using the standard Dataflow
  task runner. Users should ignore this field.\";}s:14:\"teardownPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:744:\"Sets
  the policy for determining when to turndown worker pool. Allowed values are: TEARDOWN_ALWAYS,
  TEARDOWN_ON_SUCCESS, and TEARDOWN_NEVER. TEARDOWN_ALWAYS means workers are always
  torn down regardless of whether the job succeeds. TEARDOWN_ON_SUCCESS means workers
  are torn down if the job succeeds. TEARDOWN_NEVER means the workers are never torn
  down. If the workers are not torn down by the service, they will continue to run
  and use Google Compute Engine VM resources in the user's project until they are
  explicitly terminated by the user. Because of this, Google recommends using the
  TEARDOWN_ALWAYS policy except for small, manually supervised test jobs. If unknown
  or unspecified, the service will attempt to choose a reasonable default.\";s:4:\"enum\";a:4:{i:0;s:23:\"TEARDOWN_POLICY_UNKNOWN\";i:1;s:15:\"TEARDOWN_ALWAYS\";i:2;s:19:\"TEARDOWN_ON_SUCCESS\";i:3;s:14:\"TEARDOWN_NEVER\";}s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Zone
  to run the worker pools in (e.g. \"us-central1-b\"). If empty or unspecified, the
  service will attempt to choose a reasonable default.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"WorkerSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Provides
  data to pass through to the worker harness.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"baseUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:378:\"The
  base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs,
  they logically do so via relative URLs. If this field is specified, it supplies
  the base URL to use for resolving these relative URLs. The normative algorithm used
  is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified,
  the default value is \"http://www.googleapis.com/\"\";s:4:\"type\";s:6:\"string\";}s:16:\"reportingEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Send
  work progress updates to service.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"servicePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\".\";s:4:\"type\";s:6:\"string\";}s:18:\"shuffleServicePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"The
  Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\".\";s:4:\"type\";s:6:\"string\";}s:17:\"tempStoragePrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:206:\"The
  prefix of the resources the system should use for temporary storage. The supported
  resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object}
  bucket.storage.googleapis.com/{object}\";s:4:\"type\";s:6:\"string\";}s:8:\"workerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"ID
  of the worker running this pipeline.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"WorkItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"WorkItem
  represents basic information about a WorkItem to be executed in the cloud.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:13:\"configuration\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Work
  item-specific configuration as an opaque blob.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Identifies
  this WorkItem.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:18:\"initialReportIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  initial index to use when reporting the status of the WorkItem.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Identifies
  the workflow job this WorkItem belongs to.\";s:4:\"type\";s:6:\"string\";}s:15:\"leaseExpireTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Time
  when the lease on this Work will expire.\";s:4:\"type\";s:6:\"string\";}s:7:\"mapTask\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/MapTask\";s:11:\"description\";s:45:\"Additional
  information for MapTask WorkItems.\";}s:8:\"packages\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Any
  required packages that need to be fetched in order to execute this WorkItem.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Package\";}s:4:\"type\";s:5:\"array\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Identifies
  the cloud project this WorkItem belongs to.\";s:4:\"type\";s:6:\"string\";}s:20:\"reportStatusInterval\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Recommended
  reporting interval.\";s:4:\"type\";s:6:\"string\";}s:10:\"seqMapTask\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SeqMapTask\";s:11:\"description\";s:48:\"Additional
  information for SeqMapTask WorkItems.\";}s:9:\"shellTask\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ShellTask\";s:11:\"description\";s:47:\"Additional
  information for ShellTask WorkItems.\";}s:19:\"sourceOperationTask\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/SourceOperationRequest\";s:11:\"description\";s:54:\"Additional
  information for source operation WorkItems.\";}s:24:\"streamingComputationTask\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/StreamingComputationTask\";s:11:\"description\";s:62:\"Additional
  information for StreamingComputationTask WorkItems.\";}s:18:\"streamingSetupTask\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/StreamingSetupTask\";s:11:\"description\";s:56:\"Additional
  information for StreamingSetupTask WorkItems.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"WorkItemServiceState\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  Dataflow service's idea of the current state of a WorkItem being processed by a
  worker.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"harnessData\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:78:\"Other data returned by the service,
  specific to the particular worker harness.\";s:4:\"type\";s:6:\"object\";}s:15:\"leaseExpireTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Time
  at which the current lease will expire.\";s:4:\"type\";s:6:\"string\";}s:15:\"nextReportIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:181:\"The
  index value to use for the next report sent by the worker. Note: If the report call
  fails for whatever reason, the worker should reuse this index for subsequent report
  attempts.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:20:\"reportStatusInterval\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"New
  recommended reporting interval.\";s:4:\"type\";s:6:\"string\";}s:18:\"suggestedStopPoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ApproximateProgress\";s:11:\"description\";s:105:\"The
  progress point in the WorkItem where the Dataflow service suggests that the worker
  truncate the task.\";}s:21:\"suggestedStopPosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Position\";s:11:\"description\";s:23:\"Obsolete,
  always empty.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"WorkItemStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Conveys
  a worker's progress through the work described by a WorkItem.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"completed\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"True
  if the WorkItem was completed (successfully or unsuccessfully).\";s:4:\"type\";s:7:\"boolean\";}s:18:\"dynamicSourceSplit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DynamicSourceSplit\";s:11:\"description\";s:35:\"See
  documentation of stop_position.\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"Specifies
  errors which occurred during processing. If errors are provided, and completed =
  true, then the WorkItem is considered to have failed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Status\";}s:4:\"type\";s:5:\"array\";}s:13:\"metricUpdates\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Worker
  output metrics (counters) for this WorkItem.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MetricUpdate\";}s:4:\"type\";s:5:\"array\";}s:8:\"progress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ApproximateProgress\";s:11:\"description\";s:36:\"The
  WorkItem's approximate progress.\";}s:11:\"reportIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:666:\"The
  report index. When a WorkItem is leased, the lease will contain an initial report
  index. When a WorkItem's status is reported to the system, the report should be
  sent with that report index, and the response will contain the index the worker
  should use for the next report. Reports received with unexpected index values will
  be rejected by the service. In order to preserve idempotency, the worker should
  not alter the contents of a report, even if the worker must submit the same report
  multiple times before getting back a response. The worker should not submit a subsequent
  report until the response for the previous report had been received from the service.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:22:\"requestedLeaseDuration\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Amount
  of time the worker requests for its lease.\";s:4:\"type\";s:6:\"string\";}s:10:\"sourceFork\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SourceFork\";s:11:\"description\";s:44:\"DEPRECATED
  in favor of dynamic_source_split.\";}s:23:\"sourceOperationResponse\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/SourceOperationResponse\";s:11:\"description\";s:119:\"If
  the work item represented a SourceOperationRequest, and the work is completed, contains
  the result of the operation.\";}s:12:\"stopPosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Position\";s:11:\"description\";s:1633:\"A
  worker may split an active map task in two parts, \"primary\" and \"residual\",
  continuing to process the primary part and returning the residual part into the
  pool of available work. This event is called a \"dynamic split\" and is critical
  to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\"
  of the split. The parts, if concatenated, must represent the same input as would
  be read by the current task if the split did not happen. The exact way in which
  the original task is decomposed into the two parts is specified either as a position
  demarcating them (stop_position), or explicitly as two DerivedSources, if this task
  consumes a user-defined source type (dynamic_source_split). The \"current\" task
  is adjusted as a result of the split: after a task with range [A, B) sends a stop_position
  update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted
  relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\"
  * The worker should interpret proposed_stop_position relative to the new range,
  e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If
  the worker chooses to split again using stop_position, only stop_positions in [A,
  C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if
  a task with source S splits using dynamic_source_split into {P, R} (where P and
  R must be together equivalent to S), then subsequent progress and proposed_stop_position
  should be interpreted relative to P, and in a potential subsequent dynamic_source_split
[...]
