---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:64:\"Manages
  Google Cloud Dataflow projects on Google Cloud Platform.\";s:5:\"title\";s:8:\"Dataflow\";s:7:\"version\";s:4:\"v1b3\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:60:\"https://dataflow.googleapis.com/$discovery/rest?version=v1b3\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:8:\"dataflow\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"google_dataflow\";s:4:\"type\";s:7:\"openapi\";}}"
host: dataflow.googleapis.com
basePath: /
paths:
  /v1b3/projects/{projectId}/WorkerMessages:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Send a worker_message to the service.
      operationId: projects.workerMessages
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/SendWorkerMessagesRequest'
      - description: The project to send the WorkerMessages to.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SendWorkerMessagesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/jobs:
    get:
      description: List the jobs of a project in a given region.
      operationId: projects.jobs.list
      parameters:
      - description: The kind of filter to use.
        enum:
        - UNKNOWN
        - ALL
        - TERMINATED
        - ACTIVE
        in: query
        name: filter
        type: string
      - description: The location that contains this job.
        in: query
        name: location
        type: string
      - description: If there are many jobs, limit response to at most this many.nThe
          actual number of jobs returned will be the lesser of max_responsesnand an
          unspecified server-defined limit.
        in: query
        name: pageSize
        type: integer
      - description: Set this to the 'next_page_token' field of a previous responsento
          request additional results in a long list.
        in: query
        name: pageToken
        type: string
      - description: The project which owns the jobs.
        in: path
        name: projectId
        required: true
        type: string
      - description: Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.
        enum:
        - JOB_VIEW_UNKNOWN
        - JOB_VIEW_SUMMARY
        - JOB_VIEW_ALL
        - JOB_VIEW_DESCRIPTION
        in: query
        name: view
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListJobsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a Cloud Dataflow job.
      operationId: projects.jobs.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Job'
      - description: The location that contains this job.
        in: query
        name: location
        type: string
      - description: The ID of the Cloud Platform project that the job belongs to.
        in: path
        name: projectId
        required: true
        type: string
      - description: Deprecated. This field is now in the Job message.
        in: query
        name: replaceJobId
        type: string
      - description: The level of information requested in response.
        enum:
        - JOB_VIEW_UNKNOWN
        - JOB_VIEW_SUMMARY
        - JOB_VIEW_ALL
        - JOB_VIEW_DESCRIPTION
        in: query
        name: view
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/jobs/{jobId}:
    get:
      description: Gets the state of the specified Cloud Dataflow job.
      operationId: projects.jobs.get
      parameters:
      - description: The job ID.
        in: path
        name: jobId
        required: true
        type: string
      - description: The location that contains this job.
        in: query
        name: location
        type: string
      - description: The ID of the Cloud Platform project that the job belongs to.
        in: path
        name: projectId
        required: true
        type: string
      - description: The level of information requested in response.
        enum:
        - JOB_VIEW_UNKNOWN
        - JOB_VIEW_SUMMARY
        - JOB_VIEW_ALL
        - JOB_VIEW_DESCRIPTION
        in: query
        name: view
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    put:
      description: Updates the state of an existing Cloud Dataflow job.
      operationId: projects.jobs.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Job'
      - description: The job ID.
        in: path
        name: jobId
        required: true
        type: string
      - description: The location that contains this job.
        in: query
        name: location
        type: string
      - description: The ID of the Cloud Platform project that the job belongs to.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Get encoded debug configuration for component. Not cacheable.
      operationId: projects.jobs.debug.getConfig
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/GetDebugConfigRequest'
      - description: The job id.
        in: path
        name: jobId
        required: true
        type: string
      - description: The project id.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/GetDebugConfigResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Send encoded debug capture data for component.
      operationId: projects.jobs.debug.sendCapture
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/SendDebugCaptureRequest'
      - description: The job id.
        in: path
        name: jobId
        required: true
        type: string
      - description: The project id.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SendDebugCaptureResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/jobs/{jobId}/messages:
    get:
      description: Request the job status.
      operationId: projects.jobs.messages.list
      parameters:
      - description: Return only messages with timestamps < end_time. The default
          is nown(i.e. return up to the latest messages available).
        in: query
        name: endTime
        type: string
      - description: The job to get messages about.
        in: path
        name: jobId
        required: true
        type: string
      - description: The location which contains the job specified by job_id.
        in: query
        name: location
        type: string
      - description: Filter to only get messages with importance >= level
        enum:
        - JOB_MESSAGE_IMPORTANCE_UNKNOWN
        - JOB_MESSAGE_DEBUG
        - JOB_MESSAGE_DETAILED
        - JOB_MESSAGE_BASIC
        - JOB_MESSAGE_WARNING
        - JOB_MESSAGE_ERROR
        in: query
        name: minimumImportance
        type: string
      - description: If specified, determines the maximum number of messages tonreturn.  If
          unspecified, the service may choose an appropriatendefault, or may return
          an arbitrarily large number of results.
        in: query
        name: pageSize
        type: integer
      - description: If supplied, this should be the value of next_page_token returnednby
          an earlier call. This will cause the next page of results tonbe returned.
        in: query
        name: pageToken
        type: string
      - description: A project id.
        in: path
        name: projectId
        required: true
        type: string
      - description: If specified, return only messages with timestamps >= start_time.nThe
          default is the job creation time (i.e. beginning of messages).
        in: query
        name: startTime
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListJobMessagesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1b3/projects/{projectId}/jobs/{jobId}/metrics:
    get:
      description: Request the job status.
      operationId: projects.jobs.getMetrics
      parameters:
      - description: The job to get messages for.
        in: path
        name: jobId
        required: true
        type: string
      - description: The location which contains the job specified by job_id.
        in: query
        name: location
        type: string
      - description: A project id.
        in: path
        name: projectId
        required: true
        type: string
      - description: Return only metric data that has changed since this time.nDefault
          is to return all information about all metrics for the job.
        in: query
        name: startTime
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/JobMetrics'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Leases a dataflow WorkItem to run.
      operationId: projects.jobs.workItems.lease
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/LeaseWorkItemRequest'
      - description: Identifies the workflow job this worker belongs to.
        in: path
        name: jobId
        required: true
        type: string
      - description: Identifies the project this worker belongs to.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/LeaseWorkItemResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Reports the status of dataflow WorkItems leased by a worker.
      operationId: projects.jobs.workItems.reportStatus
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ReportWorkItemStatusRequest'
      - description: The job which the WorkItem is part of.
        in: path
        name: jobId
        required: true
        type: string
      - description: The project which owns the WorkItem's job.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ReportWorkItemStatusResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/jobs:aggregated:
    get:
      description: List the jobs of a project across all regions.
      operationId: projects.jobs.aggregated
      parameters:
      - description: The kind of filter to use.
        enum:
        - UNKNOWN
        - ALL
        - TERMINATED
        - ACTIVE
        in: query
        name: filter
        type: string
      - description: The location that contains this job.
        in: query
        name: location
        type: string
      - description: If there are many jobs, limit response to at most this many.nThe
          actual number of jobs returned will be the lesser of max_responsesnand an
          unspecified server-defined limit.
        in: query
        name: pageSize
        type: integer
      - description: Set this to the 'next_page_token' field of a previous responsento
          request additional results in a long list.
        in: query
        name: pageToken
        type: string
      - description: The project which owns the jobs.
        in: path
        name: projectId
        required: true
        type: string
      - description: Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.
        enum:
        - JOB_VIEW_UNKNOWN
        - JOB_VIEW_SUMMARY
        - JOB_VIEW_ALL
        - JOB_VIEW_DESCRIPTION
        in: query
        name: view
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListJobsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1b3/projects/{projectId}/locations/{location}/WorkerMessages:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Send a worker_message to the service.
      operationId: projects.locations.workerMessages
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/SendWorkerMessagesRequest'
      - description: The location which contains the job
        in: path
        name: location
        required: true
        type: string
      - description: The project to send the WorkerMessages to.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SendWorkerMessagesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/locations/{location}/jobs:
    get:
      description: List the jobs of a project in a given region.
      operationId: projects.locations.jobs.list
      parameters:
      - description: The kind of filter to use.
        enum:
        - UNKNOWN
        - ALL
        - TERMINATED
        - ACTIVE
        in: query
        name: filter
        type: string
      - description: The location that contains this job.
        in: path
        name: location
        required: true
        type: string
      - description: If there are many jobs, limit response to at most this many.nThe
          actual number of jobs returned will be the lesser of max_responsesnand an
          unspecified server-defined limit.
        in: query
        name: pageSize
        type: integer
      - description: Set this to the 'next_page_token' field of a previous responsento
          request additional results in a long list.
        in: query
        name: pageToken
        type: string
      - description: The project which owns the jobs.
        in: path
        name: projectId
        required: true
        type: string
      - description: Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.
        enum:
        - JOB_VIEW_UNKNOWN
        - JOB_VIEW_SUMMARY
        - JOB_VIEW_ALL
        - JOB_VIEW_DESCRIPTION
        in: query
        name: view
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListJobsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a Cloud Dataflow job.
      operationId: projects.locations.jobs.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Job'
      - description: The location that contains this job.
        in: path
        name: location
        required: true
        type: string
      - description: The ID of the Cloud Platform project that the job belongs to.
        in: path
        name: projectId
        required: true
        type: string
      - description: Deprecated. This field is now in the Job message.
        in: query
        name: replaceJobId
        type: string
      - description: The level of information requested in response.
        enum:
        - JOB_VIEW_UNKNOWN
        - JOB_VIEW_SUMMARY
        - JOB_VIEW_ALL
        - JOB_VIEW_DESCRIPTION
        in: query
        name: view
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:
    get:
      description: Gets the state of the specified Cloud Dataflow job.
      operationId: projects.locations.jobs.get
      parameters:
      - description: The job ID.
        in: path
        name: jobId
        required: true
        type: string
      - description: The location that contains this job.
        in: path
        name: location
        required: true
        type: string
      - description: The ID of the Cloud Platform project that the job belongs to.
        in: path
        name: projectId
        required: true
        type: string
      - description: The level of information requested in response.
        enum:
        - JOB_VIEW_UNKNOWN
        - JOB_VIEW_SUMMARY
        - JOB_VIEW_ALL
        - JOB_VIEW_DESCRIPTION
        in: query
        name: view
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    put:
      description: Updates the state of an existing Cloud Dataflow job.
      operationId: projects.locations.jobs.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Job'
      - description: The job ID.
        in: path
        name: jobId
        required: true
        type: string
      - description: The location that contains this job.
        in: path
        name: location
        required: true
        type: string
      - description: The ID of the Cloud Platform project that the job belongs to.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Get encoded debug configuration for component. Not cacheable.
      operationId: projects.locations.jobs.debug.getConfig
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/GetDebugConfigRequest'
      - description: The job id.
        in: path
        name: jobId
        required: true
        type: string
      - description: The location which contains the job specified by job_id.
        in: path
        name: location
        required: true
        type: string
      - description: The project id.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/GetDebugConfigResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Send encoded debug capture data for component.
      operationId: projects.locations.jobs.debug.sendCapture
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/SendDebugCaptureRequest'
      - description: The job id.
        in: path
        name: jobId
        required: true
        type: string
      - description: The location which contains the job specified by job_id.
        in: path
        name: location
        required: true
        type: string
      - description: The project id.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SendDebugCaptureResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages:
    get:
      description: Request the job status.
      operationId: projects.locations.jobs.messages.list
      parameters:
      - description: Return only messages with timestamps < end_time. The default
          is nown(i.e. return up to the latest messages available).
        in: query
        name: endTime
        type: string
      - description: The job to get messages about.
        in: path
        name: jobId
        required: true
        type: string
      - description: The location which contains the job specified by job_id.
        in: path
        name: location
        required: true
        type: string
      - description: Filter to only get messages with importance >= level
        enum:
        - JOB_MESSAGE_IMPORTANCE_UNKNOWN
        - JOB_MESSAGE_DEBUG
        - JOB_MESSAGE_DETAILED
        - JOB_MESSAGE_BASIC
        - JOB_MESSAGE_WARNING
        - JOB_MESSAGE_ERROR
        in: query
        name: minimumImportance
        type: string
      - description: If specified, determines the maximum number of messages tonreturn.  If
          unspecified, the service may choose an appropriatendefault, or may return
          an arbitrarily large number of results.
        in: query
        name: pageSize
        type: integer
      - description: If supplied, this should be the value of next_page_token returnednby
          an earlier call. This will cause the next page of results tonbe returned.
        in: query
        name: pageToken
        type: string
      - description: A project id.
        in: path
        name: projectId
        required: true
        type: string
      - description: If specified, return only messages with timestamps >= start_time.nThe
          default is the job creation time (i.e. beginning of messages).
        in: query
        name: startTime
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListJobMessagesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics:
    get:
      description: Request the job status.
      operationId: projects.locations.jobs.getMetrics
      parameters:
      - description: The job to get messages for.
        in: path
        name: jobId
        required: true
        type: string
      - description: The location which contains the job specified by job_id.
        in: path
        name: location
        required: true
        type: string
      - description: A project id.
        in: path
        name: projectId
        required: true
        type: string
      - description: Return only metric data that has changed since this time.nDefault
          is to return all information about all metrics for the job.
        in: query
        name: startTime
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/JobMetrics'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Leases a dataflow WorkItem to run.
      operationId: projects.locations.jobs.workItems.lease
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/LeaseWorkItemRequest'
      - description: Identifies the workflow job this worker belongs to.
        in: path
        name: jobId
        required: true
        type: string
      - description: The location which contains the WorkItem's job.
        in: path
        name: location
        required: true
        type: string
      - description: Identifies the project this worker belongs to.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/LeaseWorkItemResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Reports the status of dataflow WorkItems leased by a worker.
      operationId: projects.locations.jobs.workItems.reportStatus
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ReportWorkItemStatusRequest'
      - description: The job which the WorkItem is part of.
        in: path
        name: jobId
        required: true
        type: string
      - description: The location which contains the WorkItem's job.
        in: path
        name: location
        required: true
        type: string
      - description: The project which owns the WorkItem's job.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ReportWorkItemStatusResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/locations/{location}/templates:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a Cloud Dataflow job from a template.
      operationId: projects.locations.templates.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CreateJobFromTemplateRequest'
      - description: The location to which to direct the request.
        in: path
        name: location
        required: true
        type: string
      - description: Required. The ID of the Cloud Platform project that the job belongs
          to.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/locations/{location}/templates:get:
    get:
      description: Get the template associated with a template.
      operationId: projects.locations.templates.get
      parameters:
      - description: Required. A Cloud Storage path to the template from which toncreate
          the job.nMust be a valid Cloud Storage URL, beginning with `gs://`.
        in: query
        name: gcsPath
        type: string
      - description: The location to which to direct the request.
        in: path
        name: location
        required: true
        type: string
      - description: Required. The ID of the Cloud Platform project that the job belongs
          to.
        in: path
        name: projectId
        required: true
        type: string
      - description: The view to retrieve. Defaults to METADATA_ONLY.
        enum:
        - METADATA_ONLY
        in: query
        name: view
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/GetTemplateResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1b3/projects/{projectId}/locations/{location}/templates:launch:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Launch a template.
      operationId: projects.locations.templates.launch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/LaunchTemplateParameters'
      - description: Required. A Cloud Storage path to the template from which to
          createnthe job.nMust be valid Cloud Storage URL, beginning with 'gs://'.
        in: query
        name: gcsPath
        type: string
      - description: The location to which to direct the request.
        in: path
        name: location
        required: true
        type: string
      - description: Required. The ID of the Cloud Platform project that the job belongs
          to.
        in: path
        name: projectId
        required: true
        type: string
      - description: If true, the request is validated but not actually executed.nDefaults
          to false.
        in: query
        name: validateOnly
        type: boolean
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/LaunchTemplateResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/templates:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a Cloud Dataflow job from a template.
      operationId: projects.templates.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CreateJobFromTemplateRequest'
      - description: Required. The ID of the Cloud Platform project that the job belongs
          to.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
  /v1b3/projects/{projectId}/templates:get:
    get:
      description: Get the template associated with a template.
      operationId: projects.templates.get
      parameters:
      - description: Required. A Cloud Storage path to the template from which toncreate
          the job.nMust be a valid Cloud Storage URL, beginning with `gs://`.
        in: query
        name: gcsPath
        type: string
      - description: The location to which to direct the request.
        in: query
        name: location
        type: string
      - description: Required. The ID of the Cloud Platform project that the job belongs
          to.
        in: path
        name: projectId
        required: true
        type: string
      - description: The view to retrieve. Defaults to METADATA_ONLY.
        enum:
        - METADATA_ONLY
        in: query
        name: view
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/GetTemplateResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1b3/projects/{projectId}/templates:launch:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Launch a template.
      operationId: projects.templates.launch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/LaunchTemplateParameters'
      - description: Required. A Cloud Storage path to the template from which to
          createnthe job.nMust be valid Cloud Storage URL, beginning with 'gs://'.
        in: query
        name: gcsPath
        type: string
      - description: The location to which to direct the request.
        in: query
        name: location
        type: string
      - description: Required. The ID of the Cloud Platform project that the job belongs
          to.
        in: path
        name: projectId
        required: true
        type: string
      - description: If true, the request is validated but not actually executed.nDefaults
          to false.
        in: query
        name: validateOnly
        type: boolean
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/LaunchTemplateResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/compute
      - Oauth2:
        - https://www.googleapis.com/auth/compute.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      tags:
      - projects
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":127:{s:19:\"ApproximateProgress\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Obsolete
  in favor of ApproximateReportedProgress and ApproximateSplitRequest.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"percentComplete\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Obsolete.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"position\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Position\";s:11:\"description\";s:9:\"Obsolete.\";}s:13:\"remainingTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Obsolete.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ApproximateReportedProgress\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  progress measurement of a WorkItem by a worker.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"consumedParallelism\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ReportedParallelism\";s:11:\"description\";s:377:\"Total
  amount of parallelism in the portion of input of this task that has\nalready been
  consumed and is no longer active. In the first two examples\nabove (see remaining_parallelism),
  the value should be 29 or 2\nrespectively.  The sum of remaining_parallelism and
  consumed_parallelism\nshould equal the total amount of parallelism in this work
  item.  If\nspecified, must be finite.\";}s:16:\"fractionConsumed\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"Completion
  as fraction of the input consumed, from 0.0 (beginning, nothing\nconsumed), to 1.0
  (end of the input, entire input consumed).\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"position\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Position\";s:11:\"description\";s:51:\"A
  Position within the work to represent a progress.\";}s:20:\"remainingParallelism\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ReportedParallelism\";s:11:\"description\";s:1320:\"Total
  amount of parallelism in the input of this task that remains,\n(i.e. can be delegated
  to this task and any new tasks via dynamic\nsplitting). Always at least 1 for non-finished
  work items and 0 for\nfinished.\n\n\"Amount of parallelism\" refers to how many
  non-empty parts of the input\ncan be read in parallel. This does not necessarily
  equal number\nof records. An input that can be read in parallel down to the\nindividual
  records is called \"perfectly splittable\".\nAn example of non-perfectly parallelizable
  input is a block-compressed\nfile format where a block of records has to be read
  as a whole,\nbut different blocks can be read in parallel.\n\nExamples:\n* If we
  are processing record #30 (starting at 1) out of 50 in a perfectly\n  splittable
  50-record input, this value should be 21 (20 remaining + 1\n  current).\n* If we
  are reading through block 3 in a block-compressed file consisting\n  of 5 blocks,
  this value should be 3 (since blocks 4 and 5 can be\n  processed in parallel by
  new tasks via dynamic splitting and the current\n  task remains processing block
  3).\n* If we are reading through the last block in a block-compressed file,\n  or
  reading or processing the last record in a perfectly splittable\n  input, this value
  should be 1, because apart from the current task, no\n  additional remainder can
  be split off.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ApproximateSplitRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  suggestion by the service to the worker to dynamically split the WorkItem.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"fractionConsumed\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"A
  fraction at which to split the work item, from 0.0 (beginning of the\ninput) to
  1.0 (end of the input).\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"position\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Position\";s:11:\"description\";s:43:\"A
  Position at which to split the work item.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AutoscalingEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"A
  structured message reporting an autoscaling decision made by the Dataflow\nservice.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"currentNumWorkers\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  current number of workers the job has.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/StructuredMessage\";s:11:\"description\";s:175:\"A
  message describing why the system decided to adjust the current\nnumber of workers,
  why it failed, or why the system decided to\nnot make any changes to the number
  of workers.\";}s:9:\"eventType\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  type of autoscaling event to report.\";s:4:\"enum\";a:5:{i:0;s:12:\"TYPE_UNKNOWN\";i:1;s:26:\"TARGET_NUM_WORKERS_CHANGED\";i:2;s:27:\"CURRENT_NUM_WORKERS_CHANGED\";i:3;s:17:\"ACTUATION_FAILURE\";i:4;s:9:\"NO_CHANGE\";}s:4:\"type\";s:6:\"string\";}s:16:\"targetNumWorkers\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  target number of workers the worker pool wants to resize to use.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  time this event was emitted to indicate a new target or current\nnum_workers value.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:10:\"workerPool\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"A
  short and friendly name for the worker pool this event refers to,\npopulated from
  the value of PoolStageRelation::user_pool_name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"AutoscalingSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Settings
  for WorkerPool autoscaling.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"algorithm\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  algorithm to use for autoscaling.\";s:4:\"enum\";a:3:{i:0;s:29:\"AUTOSCALING_ALGORITHM_UNKNOWN\";i:1;s:26:\"AUTOSCALING_ALGORITHM_NONE\";i:2;s:27:\"AUTOSCALING_ALGORITHM_BASIC\";}s:4:\"type\";s:6:\"string\";}s:13:\"maxNumWorkers\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  maximum number of workers to cap scaling at.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"CPUTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Modeled
  after information exposed by /proc/stat.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"rate\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Average
  CPU utilization rate (% non-idle cpu / second) since previous\nsample.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Timestamp
  of the measurement.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:7:\"totalMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Total
  active CPU time across all cores (ie., non-idle) in milliseconds\nsince start-up.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ComponentSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Description
  of an interstitial value between transforms in an execution\nstage.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Dataflow
  service generated name for this source.\";s:4:\"type\";s:6:\"string\";}s:29:\"originalTransformOrCollection\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"User
  name for the original user transform or collection with which this\nsource is most
  closely associated.\";s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Human-readable
  name for this transform; may be user or system generated.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ComponentTransform\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Description
  of a transform executed as part of an execution stage.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Dataflow
  service generated name for this source.\";s:4:\"type\";s:6:\"string\";}s:17:\"originalTransform\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"User
  name for the original user transform with which this transform is\nmost closely
  associated.\";s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Human-readable
  name for this transform; may be user or system generated.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ComputationTopology\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"All
  configuration data for a particular Computation.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"computationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  ID of the computation.\";s:4:\"type\";s:6:\"string\";}s:6:\"inputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  inputs to the computation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/StreamLocation\";}s:4:\"type\";s:5:\"array\";}s:9:\"keyRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  key ranges processed by the computation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/KeyRangeLocation\";}s:4:\"type\";s:5:\"array\";}s:7:\"outputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  outputs from the computation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/StreamLocation\";}s:4:\"type\";s:5:\"array\";}s:13:\"stateFamilies\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  state family values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StateFamilyConfig\";}s:4:\"type\";s:5:\"array\";}s:15:\"systemStageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  system stage name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ConcatPosition\";O:8:\"stdClass\":3:{s:11:\"description\";s:178:\"A
  position that encapsulates an inner position and an index for the inner\nposition.
  A ConcatPosition can be used by a reader of a source that\nencapsulates a set of
  other sources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"index\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Index
  of the inner source.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"position\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Position\";s:11:\"description\";s:33:\"Position
  within the inner source.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CounterMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"CounterMetadata
  includes all static non-name non-value counter attributes.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Human-readable
  description of the counter semantics.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Counter
  aggregation kind.\";s:4:\"enum\";a:10:{i:0;s:7:\"INVALID\";i:1;s:3:\"SUM\";i:2;s:3:\"MAX\";i:3;s:3:\"MIN\";i:4;s:4:\"MEAN\";i:5;s:2:\"OR\";i:6;s:3:\"AND\";i:7;s:3:\"SET\";i:8;s:12:\"DISTRIBUTION\";i:9;s:12:\"LATEST_VALUE\";}s:4:\"type\";s:6:\"string\";}s:10:\"otherUnits\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"A
  string referring to the unit type.\";s:4:\"type\";s:6:\"string\";}s:13:\"standardUnits\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"System
  defined Units, see above enum.\";s:4:\"enum\";a:8:{i:0;s:5:\"BYTES\";i:1;s:13:\"BYTES_PER_SEC\";i:2;s:12:\"MILLISECONDS\";i:3;s:12:\"MICROSECONDS\";i:4;s:11:\"NANOSECONDS\";i:5;s:14:\"TIMESTAMP_MSEC\";i:6;s:14:\"TIMESTAMP_USEC\";i:7;s:14:\"TIMESTAMP_NSEC\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CounterStructuredName\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"Identifies
  a counter within a per-job namespace. Counters whose structured\nnames are the same
  get merged into a single value for the job.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:17:\"componentStepName\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Name
  of the optimized step being executed by the workers.\";s:4:\"type\";s:6:\"string\";}s:17:\"executionStepName\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Name
  of the stage. An execution step contains multiple component steps.\";s:4:\"type\";s:6:\"string\";}s:10:\"inputIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:327:\"Index
  of an input collection that's being read from/written to as a side\ninput.\nThe
  index identifies a step's side inputs starting by 1 (e.g. the first\nside input
  has input_index 1, the third has input_index 3).\nSide inputs are identified by
  a pair of (original_step_name, input_index).\nThis field helps uniquely identify
  them.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Counter
  name. Not necessarily globally-unique, but unique within the\ncontext of the other
  fields.\nRequired.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"One
  of the standard Origins defined above.\";s:4:\"enum\";a:2:{i:0;s:6:\"SYSTEM\";i:1;s:4:\"USER\";}s:4:\"type\";s:6:\"string\";}s:15:\"originNamespace\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"A
  string containing a more specific namespace of the counter's origin.\";s:4:\"type\";s:6:\"string\";}s:26:\"originalRequestingStepName\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"The
  step name requesting an operation, such as GBK.\nI.e. the ParDo causing a read/write
  from shuffle to occur, or a\nread from side inputs.\";s:4:\"type\";s:6:\"string\";}s:16:\"originalStepName\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"System
  generated name of the original step in the user's graph, before\noptimization.\";s:4:\"type\";s:6:\"string\";}s:7:\"portion\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Portion
  of this counter, either key or value.\";s:4:\"enum\";a:3:{i:0;s:3:\"ALL\";i:1;s:3:\"KEY\";i:2;s:5:\"VALUE\";}s:4:\"type\";s:6:\"string\";}s:8:\"workerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"ID
  of a particular worker.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CounterStructuredNameAndMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"A
  single message which encapsulates structured name and metadata for a given\ncounter.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CounterMetadata\";s:11:\"description\";s:34:\"Metadata
  associated with a counter\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/CounterStructuredName\";s:11:\"description\";s:31:\"Structured
  name of the counter.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CounterUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"An
  update to a Counter sent from a worker.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"boolean\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Boolean
  value for And, Or.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"cumulative\";O:8:\"stdClass\":2:{s:11:\"description\";s:214:\"True
  if this counter is reported as the total cumulative aggregate\nvalue accumulated
  since the worker started working on this WorkItem.\nBy default this is false, indicating
  that this counter is reported\nas a delta.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"distribution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DistributionUpdate\";s:11:\"description\";s:17:\"Distribution
  data\";}s:13:\"floatingPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Floating
  point value for Sum, Max, Min.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:17:\"floatingPointList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/FloatingPointList\";s:11:\"description\";s:40:\"List
  of floating point numbers, for Set.\";}s:17:\"floatingPointMean\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/FloatingPointMean\";s:11:\"description\";s:47:\"Floating
  point mean aggregation value for Mean.\";}s:7:\"integer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SplitInt64\";s:11:\"description\";s:32:\"Integer
  value for Sum, Max, Min.\";}s:12:\"integerGauge\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IntegerGauge\";s:11:\"description\";s:10:\"Gauge
  data\";}s:11:\"integerList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/IntegerList\";s:11:\"description\";s:26:\"List
  of integers, for Set.\";}s:11:\"integerMean\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/IntegerMean\";s:11:\"description\";s:40:\"Integer
  mean aggregation value for Mean.\";}s:8:\"internal\";O:8:\"stdClass\":1:{s:11:\"description\";s:67:\"Value
  for internally-defined counters used by the Dataflow service.\";}s:11:\"nameAndKind\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/NameAndKind\";s:11:\"description\";s:34:\"Counter
  name and aggregation type.\";}s:7:\"shortId\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"The
  service-generated short identifier for this counter.\nThe short_id -> (name, metadata)
  mapping is constant for the lifetime of\na job.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"stringList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:25:\"List
  of strings, for Set.\";}s:25:\"structuredNameAndMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/CounterStructuredNameAndMetadata\";s:11:\"description\";s:37:\"Counter
  structured name and metadata.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"CreateJobFromTemplateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"A
  request to create a Cloud Dataflow job from a template.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/RuntimeEnvironment\";s:11:\"description\";s:36:\"The
  runtime environment for the job.\";}s:7:\"gcsPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"Required.
  A Cloud Storage path to the template from which to\ncreate the job.\nMust be a valid
  Cloud Storage URL, beginning with `gs://`.\";s:4:\"type\";s:6:\"string\";}s:7:\"jobName\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Required.
  The job name to use for the created job.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  location to which to direct the request.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:42:\"The
  runtime parameters to pass to the job.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CustomSourceLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Identifies
  the location of a custom souce.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"stateful\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Whether
  this source is stateful.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DataDiskAssignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Data
  disk assignment for a given VM instance.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"dataDisks\";O:8:\"stdClass\":3:{s:11:\"description\";s:266:\"Mounted
  data disks. The order is important a data disk's 0-based index in\nthis list defines
  which persistent directory the disk is mounted to, for\nexample the list of { \"myproject-1014-104817-4c2-harness-0-disk-0\"
  },\n{ \"myproject-1014-104817-4c2-harness-0-disk-1\" }.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"vmInstance\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"VM
  instance name the data disks mounted to, for example\n\"myproject-1014-104817-4c2-harness-0\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DerivedSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:234:\"Specification
  of one of the bundles produced as a result of splitting\na Source (e.g. when executing
  a SourceSplitRequest, or when\nsplitting an active task using WorkItemStatus.dynamic_source_split),\nrelative
  to the source being split.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"derivationMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"What
  source to base the produced source on (if any).\";s:4:\"enum\";a:4:{i:0;s:30:\"SOURCE_DERIVATION_MODE_UNKNOWN\";i:1;s:34:\"SOURCE_DERIVATION_MODE_INDEPENDENT\";i:2;s:39:\"SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT\";i:3;s:41:\"SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT\";}s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Source\";s:11:\"description\";s:28:\"Specification
  of the source.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Disk\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Describes
  the data disk used by a workflow job.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"diskType\";O:8:\"stdClass\":2:{s:11:\"description\";s:909:\"Disk
  storage type, as defined by Google Compute Engine.  This\nmust be a disk type appropriate
  to the project and zone in which\nthe workers will run.  If unknown or unspecified,
  the service\nwill attempt to choose a reasonable default.\n\nFor example, the standard
  persistent disk type is a resource name\ntypically ending in \"pd-standard\".  If
  SSD persistent disks are\navailable, the resource name typically ends with \"pd-ssd\".
  \ The\nactual valid values are defined the Google Compute Engine API,\nnot by the
  Cloud Dataflow API; consult the Google Compute Engine\ndocumentation for more information
  about determining the set of\navailable disk types for a particular project and
  zone.\n\nGoogle Compute Engine Disk types are local to a particular\nproject in
  a particular zone, and so the resource name will\ntypically look something like
  this:\n\ncompute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard\";s:4:\"type\";s:6:\"string\";}s:10:\"mountPoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Directory
  in a VM where disk is mounted.\";s:4:\"type\";s:6:\"string\";}s:6:\"sizeGb\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Size
  of disk in GB.  If zero or unspecified, the service will\nattempt to choose a reasonable
  default.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"DisplayData\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Data
  provided with a pipeline or transform to provide descriptive info.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:9:\"boolValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Contains
  value if the data is of a boolean type.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"durationValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Contains
  value if the data is of duration type.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:10:\"floatValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Contains
  value if the data is of float type.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:10:\"int64Value\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Contains
  value if the data is of int64 type.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:14:\"javaClassValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Contains
  value if the data is of java class type.\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"The
  key identifying the display data.\nThis is intended to be used as a label for the
  display data\nwhen viewed in a dax monitoring system.\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"An
  optional label to display in a dax UI for the element.\";s:4:\"type\";s:6:\"string\";}s:9:\"namespace\";O:8:\"stdClass\":2:{s:11:\"description\";s:237:\"The
  namespace for the key. This is usually a class name or programming\nlanguage namespace
  (i.e. python module) which defines the display data.\nThis allows a dax monitoring
  system to specially handle the data\nand perform custom rendering.\";s:4:\"type\";s:6:\"string\";}s:13:\"shortStrValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:303:\"A
  possible additional shorter value to display.\nFor example a java_class_name_value
  of com.mypackage.MyDoFn\nwill be stored with MyDoFn as the short_str_value and\ncom.mypackage.MyDoFn
  as the java_class_name value.\nshort_str_value can be displayed and java_class_name_value\nwill
  be displayed as a tooltip.\";s:4:\"type\";s:6:\"string\";}s:8:\"strValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Contains
  value if the data is of string type.\";s:4:\"type\";s:6:\"string\";}s:14:\"timestampValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Contains
  value if the data is of timestamp type.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"An
  optional full URL.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DistributionUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"A
  metric value representing a distribution.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SplitInt64\";s:11:\"description\";s:64:\"The
  count of the number of elements present in the distribution.\";}s:9:\"histogram\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Histogram\";s:11:\"description\";s:58:\"(Optional)
  Histogram of value counts for the distribution.\";}s:3:\"max\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SplitInt64\";s:11:\"description\";s:46:\"The
  maximum value present in the distribution.\";}s:3:\"min\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SplitInt64\";s:11:\"description\";s:46:\"The
  minimum value present in the distribution.\";}s:3:\"sum\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SplitInt64\";s:11:\"description\";s:141:\"Use
  an int64 since we'd prefer the added precision. If overflow is a common\nproblem
  we can detect it and use an additional int64 or a double.\";}s:12:\"sumOfSquares\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Use
  a double since the sum of squares is likely to overflow int64.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DynamicSourceSplit\";O:8:\"stdClass\":3:{s:11:\"description\";s:168:\"When
  a task splits using WorkItemStatus.dynamic_source_split, this\nmessage describes
  the two parts of the split relative to the\ndescription of the current task's input.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"primary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DerivedSource\";s:11:\"description\";s:121:\"Primary
  part (continued to be processed by worker).\nSpecified relative to the previously-current
  source.\nBecomes current.\";}s:8:\"residual\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DerivedSource\";s:11:\"description\";s:98:\"Residual
  part (returned to the pool of work).\nSpecified relative to the previously-current
  source.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Environment\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Describes
  the environment in which a Dataflow Job runs.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:24:\"clusterManagerApiService\";O:8:\"stdClass\":2:{s:11:\"description\";s:208:\"The
  type of cluster manager API to use.  If unknown or\nunspecified, the service will
  attempt to choose a reasonable\ndefault.  This should be in the form of the API
  service name,\ne.g. \"compute.googleapis.com\".\";s:4:\"type\";s:6:\"string\";}s:7:\"dataset\";O:8:\"stdClass\":2:{s:11:\"description\";s:172:\"The
  dataset for the current project where various workflow\nrelated tables are stored.\n\nThe
  supported resource type is:\n\nGoogle BigQuery:\n  bigquery.googleapis.com/{dataset}\";s:4:\"type\";s:6:\"string\";}s:11:\"experiments\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  list of experiments to enable.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"internalExperiments\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:22:\"Experimental
  settings.\";s:4:\"type\";s:6:\"object\";}s:18:\"sdkPipelineOptions\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:224:\"The Cloud Dataflow SDK pipeline options
  specified by the user. These\noptions are passed through the service and are used
  to recreate the\nSDK pipeline options on the worker in a language agnostic and platform\nindependent
  way.\";s:4:\"type\";s:6:\"object\";}s:19:\"serviceAccountEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Identity
  to run virtual machines as. Defaults to the default account.\";s:4:\"type\";s:6:\"string\";}s:17:\"tempStoragePrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:542:\"The
  prefix of the resources the system should use for temporary\nstorage.  The system
  will append the suffix \"/temp-{JOBNAME} to\nthis resource prefix, where {JOBNAME}
  is the value of the\njob_name field.  The resulting bucket and object prefix is
  used\nas the prefix of the resources used to store temporary data\nneeded during
  the job execution.  NOTE: This will override the\nvalue in taskrunner_settings.\nThe
  supported resource type is:\n\nGoogle Cloud Storage:\n\n  storage.googleapis.com/{bucket}/{object}\n
  \ bucket.storage.googleapis.com/{object}\";s:4:\"type\";s:6:\"string\";}s:9:\"userAgent\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:56:\"A description of the process that
  generated the request.\";s:4:\"type\";s:6:\"object\";}s:7:\"version\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:111:\"A structure describing which components
  and their versions of the service\nare required in order to run the job.\";s:4:\"type\";s:6:\"object\";}s:11:\"workerPools\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  worker pools. At least one \"harness\" worker pool must be\nspecified in order for
  the job to have workers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/WorkerPool\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ExecutionStageState\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"A
  message describing the state of a particular execution stage.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"currentStateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  time at which the stage transitioned to this state.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:18:\"executionStageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  name of the execution stage.\";s:4:\"type\";s:6:\"string\";}s:19:\"executionStageState\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Executions
  stage states allow the same set of values as JobState.\";s:4:\"enum\";a:11:{i:0;s:17:\"JOB_STATE_UNKNOWN\";i:1;s:17:\"JOB_STATE_STOPPED\";i:2;s:17:\"JOB_STATE_RUNNING\";i:3;s:14:\"JOB_STATE_DONE\";i:4;s:16:\"JOB_STATE_FAILED\";i:5;s:19:\"JOB_STATE_CANCELLED\";i:6;s:17:\"JOB_STATE_UPDATED\";i:7;s:18:\"JOB_STATE_DRAINING\";i:8;s:17:\"JOB_STATE_DRAINED\";i:9;s:17:\"JOB_STATE_PENDING\";i:10;s:20:\"JOB_STATE_CANCELLING\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ExecutionStageSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:208:\"Description
  of the composing transforms, names/ids, and input/outputs of a\nstage of execution.
  \ Some composing transforms and sources may have been\ngenerated by the Dataflow
  service during execution planning.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"componentSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Collections
  produced and consumed by component transforms of this stage.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ComponentSource\";}s:4:\"type\";s:5:\"array\";}s:18:\"componentTransform\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Transforms
  that comprise this execution stage.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ComponentTransform\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Dataflow
  service generated id for this stage.\";s:4:\"type\";s:6:\"string\";}s:11:\"inputSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Input
  sources for this stage.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StageSource\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Type
  of tranform this stage is executing.\";s:4:\"enum\";a:9:{i:0;s:12:\"UNKNOWN_KIND\";i:1;s:11:\"PAR_DO_KIND\";i:2;s:17:\"GROUP_BY_KEY_KIND\";i:3;s:12:\"FLATTEN_KIND\";i:4;s:9:\"READ_KIND\";i:5;s:10:\"WRITE_KIND\";i:6;s:13:\"CONSTANT_KIND\";i:7;s:14:\"SINGLETON_KIND\";i:8;s:12:\"SHUFFLE_KIND\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Dataflow
  service generated name for this stage.\";s:4:\"type\";s:6:\"string\";}s:12:\"outputSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Output
  sources for this stage.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StageSource\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"FailedLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Indicates
  which location failed to respond to a request for data.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  name of the failed location.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"FlattenInstruction\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"An
  instruction that copies its inputs (zero or more) to its (single) output.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"inputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Describes
  the inputs to the flatten instruction.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/InstructionInput\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"FloatingPointList\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  metric value representing a list of floating point numbers.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"elements\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Elements
  of the list.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"FloatingPointMean\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  representation of a floating point mean metric contribution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SplitInt64\";s:11:\"description\";s:38:\"The
  number of values being aggregated.\";}s:3:\"sum\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  sum of all values being aggregated.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:21:\"GetDebugConfigRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Request
  to get updated debug configuration for component.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"componentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  internal component id for which debug configuration is\nrequested.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  location which contains the job specified by job_id.\";s:4:\"type\";s:6:\"string\";}s:8:\"workerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  worker id, i.e., VM hostname.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GetDebugConfigResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Response
  to a get debug configuration request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"config\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  encoded debug configuration for the requested component.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetTemplateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  response to a GetTemplate request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TemplateMetadata\";s:11:\"description\";s:78:\"The
  template metadata describing the template name, available\nparameters, etc.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:109:\"The
  status of the get template request. Any problems with the\nrequest will be indicated
  in the error_details.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Histogram\";O:8:\"stdClass\":3:{s:11:\"description\";s:367:\"Histogram
  of value counts for a distribution.\n\nBuckets have an inclusive lower bound and
  exclusive upper bound and use\n\"1,2,5 bucketing\": The first bucket range is from
  [0,1) and all subsequent\nbucket boundaries are powers of ten multiplied by 1, 2,
  or 5. Thus, bucket\nboundaries are 0, 1, 2, 5, 10, 20, 50, 100, 200, 500, 1000,
  ...\nNegative values are not supported.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"bucketCounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:237:\"Counts
  of values in each bucket. For efficiency, prefix and trailing\nbuckets with count
  = 0 are elided. Buckets can store the full range of\nvalues of an unsigned long,
  with ULLONG_MAX falling into the 59th bucket\nwith range [1e19, 2e19).\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"firstBucketOffset\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"Starting
  index of first stored bucket. The non-inclusive upper-bound of\nthe ith bucket is
  given by:\n  pow(10,(i-first_bucket_offset)/3) * (1,2,5)[(i-first_bucket_offset)%3]\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:16:\"InstructionInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"An
  input of an instruction, as a reference to an output of a\nproducer instruction.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"outputNum\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  output index (origin zero) within the producer.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:24:\"producerInstructionIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:208:\"The
  index (origin zero) of the parallel instruction that produces\nthe output to be
  consumed by this input.  This index is relative\nto the list of instructions in
  this input's instruction's\ncontaining MapTask.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"InstructionOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"An
  output of an instruction.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"codec\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:62:\"The codec to use to encode data being
  written via this output.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  user-provided name of this output.\";s:4:\"type\";s:6:\"string\";}s:17:\"onlyCountKeyBytes\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"For
  system-generated byte and mean byte metrics, certain instructions\nshould only report
  the key size.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"onlyCountValueBytes\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"For
  system-generated byte and mean byte metrics, certain instructions\nshould only report
  the value size.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"originalName\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"System-defined
  name for this output in the original workflow graph.\nOutputs that do not contribute
  to an original instruction do not set this.\";s:4:\"type\";s:6:\"string\";}s:10:\"systemName\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"System-defined
  name of this output.\nUnique across the workflow.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"IntegerGauge\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  metric value representing temporal values of a variable.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  time at which this value was measured. Measured as msecs from epoch.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SplitInt64\";s:11:\"description\";s:52:\"The
  value of the variable represented by this gauge.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"IntegerList\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  metric value representing a list of integers.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"elements\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Elements
  of the list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SplitInt64\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"IntegerMean\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  representation of an integer mean metric contribution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SplitInt64\";s:11:\"description\";s:38:\"The
  number of values being aggregated.\";}s:3:\"sum\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SplitInt64\";s:11:\"description\";s:39:\"The
  sum of all values being aggregated.\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Job\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Defines
  a job to be run by the Cloud Dataflow service.\";s:10:\"properties\";O:8:\"stdClass\":20:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:457:\"The
  client's unique identifier of the job, re-used across retried attempts.\nIf this
  field is set, the service will ensure its uniqueness.\nThe request to create a job
  will fail if the service has knowledge of a\npreviously submitted job with the same
  client's ID and job name.\nThe caller may use this field to ensure idempotence of
  job\ncreation across retried attempts to create a job.\nBy default, the field is
  empty and, in that case, the service ignores it.\";s:4:\"type\";s:6:\"string\";}s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  timestamp when the job was initially created. Immutable and set by the\nCloud Dataflow
  service.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:12:\"currentState\";O:8:\"stdClass\":3:{s:11:\"description\";s:355:\"The
  current state of the job.\n\nJobs are created in the `JOB_STATE_STOPPED` state unless
  otherwise\nspecified.\n\nA job in the `JOB_STATE_RUNNING` state may asynchronously
  enter a\nterminal state. After a job has reached a terminal state, no\nfurther state
  updates may be made.\n\nThis field may be mutated by the Cloud Dataflow service;\ncallers
  cannot mutate it.\";s:4:\"enum\";a:11:{i:0;s:17:\"JOB_STATE_UNKNOWN\";i:1;s:17:\"JOB_STATE_STOPPED\";i:2;s:17:\"JOB_STATE_RUNNING\";i:3;s:14:\"JOB_STATE_DONE\";i:4;s:16:\"JOB_STATE_FAILED\";i:5;s:19:\"JOB_STATE_CANCELLED\";i:6;s:17:\"JOB_STATE_UPDATED\";i:7;s:18:\"JOB_STATE_DRAINING\";i:8;s:17:\"JOB_STATE_DRAINED\";i:9;s:17:\"JOB_STATE_PENDING\";i:10;s:20:\"JOB_STATE_CANCELLING\";}s:4:\"type\";s:6:\"string\";}s:16:\"currentStateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  timestamp associated with the current state.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:11:\"environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Environment\";s:11:\"description\";s:28:\"The
  environment for the job.\";}s:13:\"executionInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/JobExecutionInfo\";s:11:\"description\";s:11:\"Deprecated.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"The
  unique ID of this job.\n\nThis field is set by the Cloud Dataflow service when the
  Job is\ncreated, and is immutable for the life of the job.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:369:\"User-defined
  labels for this job.\n\nThe labels map can contain no more than 64 entries.  Entries
  of the labels\nmap are UTF8 strings that comply with the following restrictions:\n\n*
  Keys must conform to regexp:  \\p{Ll}\\p{Lo}{0,62}\n* Values must conform to regexp:
  \ [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}\n* Both keys and values are additionally constrained
  to be <= 128 bytes in\nsize.\";s:4:\"type\";s:6:\"object\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  location that contains this job.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:317:\"The
  user-specified Cloud Dataflow job name.\n\nOnly one Job with a given name may exist
  in a project at any\ngiven time. If a caller attempts to create a Job with the same\nname
  as an already-existing Job, the attempt returns the\nexisting Job.\n\nThe name must
  match the regular expression\n`[a-z]([-a-z0-9]{0,38}[a-z0-9])?`\";s:4:\"type\";s:6:\"string\";}s:19:\"pipelineDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PipelineDescription\";s:11:\"description\";s:236:\"Preliminary
  field: The format of this data may change at any time.\nA description of the user
  pipeline and stages through which it is executed.\nCreated by Cloud Dataflow service.
  \ Only retrieved with\nJOB_VIEW_DESCRIPTION or JOB_VIEW_ALL.\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  ID of the Cloud Platform project that the job belongs to.\";s:4:\"type\";s:6:\"string\";}s:12:\"replaceJobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:259:\"If
  this job is an update of an existing job, this field is the job ID\nof the job it
  replaced.\n\nWhen sending a `CreateJobRequest`, you can update a job by specifying
  it\nhere. The job named here is stopped, and its intermediate state is\ntransferred
  to this job.\";s:4:\"type\";s:6:\"string\";}s:15:\"replacedByJobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"If
[...]
