---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:14:\"CarbonDoomsday\";}s:11:\"description\";s:64:\"A
  real-time RESTish web API for worldwide carbon dioxide levels.\";s:5:\"title\";s:14:\"CarbonDoomsDay\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:87:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_CarbonDoomsday_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:46:\"https://api.carbondoomsday.com/?format=openapi\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:18:\"carbondoomsday.com\";}"
host: api.carbondoomsday.com
basePath: /api
paths:
  /co2/:
    get:
      description: 'CO2 measurements from the Mauna Loa observatory.nnThis data is
        made available through the good work of the people at thenMauna Loa observatory.
        Their release notes say:nn    These data are made freely available to the
        public and the scientificn    community in the belief that their wide dissemination
        will lead to greatern    understanding and new scientific insights.nnWe currently
        scrape the following sources:nn  * [co2_mlo_weekly.csv]n  * [co2_mlo_surface-insitu_1_ccgg_DailyData.txt]n  *
        [weekly_mlo.csv]nnWe have daily CO2 measurements as far back as 1958.nnLearn
        about using pagination via [the 3rd party documentation].nn[co2_mlo_weekly.csv]:
        https://www.esrl.noaa.gov/gmd/webdata/ccgg/trends/co2_mlo_weekly.csvn[co2_mlo_surface-insitu_1_ccgg_DailyData.txt]:
        ftp://aftp.cmdl.noaa.gov/data/trace_gases/co2/in-situ/surface/mlo/co2_mlo_surface-insitu_1_ccgg_DailyData.txtn[weekly_mlo.csv]:
        http://scrippsco2.ucsd.edu/sites/default/files/data/in_situ_co2/weekly_mlo.csvn[the
        3rd party documentation]: http://www.django-rest-framework.org/api-guide/pagination/#pagenumberpagination'
      operationId: co2_list
      parameters:
      - description: ""
        in: query
        name: ppm
        required: false
        type: number
      - description: ""
        in: query
        name: date
        required: false
        type: string
      - description: Multiple values may be separated by commas.
        in: query
        name: date__range
        required: false
        type: string
      - description: Which field to use when ordering the results.
        in: query
        name: ordering
        required: false
        type: string
      - description: A page number within the paginated result set.
        in: query
        name: page
        required: false
        type: integer
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        type: integer
      produces:
      - application/json
      - text/csv
      responses:
        200:
          description: ""
          schema:
            properties:
              count:
                type: integer
              next:
                format: uri
                type: string
              previous:
                format: uri
                type: string
              results:
                items:
                  $ref: '#/definitions/CO2'
                type: array
            required:
            - count
            - results
            type: object
      tags:
      - co2
    parameters: []
  /co2/{date}/:
    get:
      description: 'CO2 measurements from the Mauna Loa observatory.nnThis data is
        made available through the good work of the people at thenMauna Loa observatory.
        Their release notes say:nn    These data are made freely available to the
        public and the scientificn    community in the belief that their wide dissemination
        will lead to greatern    understanding and new scientific insights.nnWe currently
        scrape the following sources:nn  * [co2_mlo_weekly.csv]n  * [co2_mlo_surface-insitu_1_ccgg_DailyData.txt]n  *
        [weekly_mlo.csv]nnWe have daily CO2 measurements as far back as 1958.nnLearn
        about using pagination via [the 3rd party documentation].nn[co2_mlo_weekly.csv]:
        https://www.esrl.noaa.gov/gmd/webdata/ccgg/trends/co2_mlo_weekly.csvn[co2_mlo_surface-insitu_1_ccgg_DailyData.txt]:
        ftp://aftp.cmdl.noaa.gov/data/trace_gases/co2/in-situ/surface/mlo/co2_mlo_surface-insitu_1_ccgg_DailyData.txtn[weekly_mlo.csv]:
        http://scrippsco2.ucsd.edu/sites/default/files/data/in_situ_co2/weekly_mlo.csvn[the
        3rd party documentation]: http://www.django-rest-framework.org/api-guide/pagination/#pagenumberpagination'
      operationId: co2_read
      parameters: []
      produces:
      - application/json
      - text/csv
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/CO2'
      tags:
      - co2
    parameters:
    - format: date
      in: path
      name: date
      required: true
      type: string
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:3:\"CO2\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"date\";s:5:\"title\";s:4:\"Date\";s:4:\"type\";s:6:\"string\";}s:3:\"ppm\";O:8:\"stdClass\":2:{s:5:\"title\";s:3:\"Ppm\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:3:\"ppm\";i:1;s:4:\"date\";}s:4:\"type\";s:6:\"object\";}}"
...
