---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:103:\"Searches
  certified companies and creates contact leads with them, and also audits the usage
  of clients.\";s:5:\"title\";s:15:\"Google Partners\";s:7:\"version\";s:2:\"v2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:58:\"https://partners.googleapis.com/$discovery/rest?version=v2\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:8:\"partners\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"google_partners\";s:4:\"type\";s:7:\"openapi\";}}"
host: partners.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":48:{s:25:\"AdWordsManagerAccountInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"Information
  about a particular AdWords Manager Account.\nRead more at https://support.google.com/adwords/answer/6139186\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"customerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Name
  of the customer this account represents.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  AdWords Manager Account id.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Analytics\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Analytics
  data for a `Company` within a single day.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"contacts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AnalyticsDataPoint\";s:11:\"description\";s:66:\"Instances
  of users contacting the `Company`\non the specified date.\";}s:9:\"eventDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:36:\"Date
  on which these events occurred.\";}s:12:\"profileViews\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AnalyticsDataPoint\";s:11:\"description\";s:71:\"Instances
  of users viewing the `Company` profile\non the specified date.\";}s:11:\"searchViews\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AnalyticsDataPoint\";s:11:\"description\";s:96:\"Instances
  of users seeing the `Company` in Google Partners Search results\non the specified
  date.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AnalyticsDataPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Details
  of the analytics events for a `Company` within a single day.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"eventCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"Number
  of times the type of event occurred.\nMeaning depends on context (e.g. profile views,
  contacts, etc.).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"eventLocations\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Location
  information of where these events occurred.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/LatLng\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AnalyticsSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Analytics
  aggregated data for a `Company` for a given date range.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"contactsCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Aggregated
  number of times users contacted the `Company`\nfor given date range.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"profileViewsCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Aggregated
  number of profile views for the `Company` for given date range.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"searchViewsCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Aggregated
  number of times users saw the `Company`\nin Google Partners Search results for given
  date range.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AvailableOffer\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Available
  Offers to be distributed.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:9:\"available\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  number of codes for this offer that are available for distribution.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"countryOfferInfos\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Offer
  info by country.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CountryOfferInfo\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Description
  of the offer.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"ID
  of this offer.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"maxAccountAge\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  maximum age of an account [in days] to be eligible.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the offer.\";s:4:\"type\";s:6:\"string\";}s:10:\"offerLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Level
  of this offer.\";s:4:\"enum\";a:8:{i:0;s:23:\"OFFER_LEVEL_UNSPECIFIED\";i:1;s:24:\"OFFER_LEVEL_DENY_PROBLEM\";i:2;s:25:\"OFFER_LEVEL_DENY_CONTRACT\";i:3;s:18:\"OFFER_LEVEL_MANUAL\";i:4;s:19:\"OFFER_LEVEL_LIMIT_0\";i:5;s:19:\"OFFER_LEVEL_LIMIT_5\";i:6;s:20:\"OFFER_LEVEL_LIMIT_15\";i:7;s:20:\"OFFER_LEVEL_LIMIT_50\";}s:4:\"type\";s:6:\"string\";}s:9:\"offerType\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Type
  of offer.\";s:4:\"enum\";a:4:{i:0;s:22:\"OFFER_TYPE_UNSPECIFIED\";i:1;s:24:\"OFFER_TYPE_SPEND_X_GET_Y\";i:2;s:16:\"OFFER_TYPE_VIDEO\";i:3;s:22:\"OFFER_TYPE_SPEND_MATCH\";}s:4:\"type\";s:6:\"string\";}s:17:\"qualifiedCustomer\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Customers
  who qualify for this offer.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/OfferCustomer\";}s:4:\"type\";s:5:\"array\";}s:26:\"qualifiedCustomersComplete\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Whether
  or not the list of qualified customers is definitely complete.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"showSpecialOfferCopy\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Should
  special text be shown on the offers page.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"terms\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Terms
  of the offer.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"Certification\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  user's information on a specific certification.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"achieved\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Whether
  this certification has been achieved.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"certificationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  type of certification, the area of expertise.\";s:4:\"enum\";a:12:{i:0;s:30:\"CERTIFICATION_TYPE_UNSPECIFIED\";i:1;s:10:\"CT_ADWORDS\";i:2;s:10:\"CT_YOUTUBE\";i:3;s:11:\"CT_VIDEOADS\";i:4;s:12:\"CT_ANALYTICS\";i:5;s:14:\"CT_DOUBLECLICK\";i:6;s:11:\"CT_SHOPPING\";i:7;s:9:\"CT_MOBILE\";i:8;s:16:\"CT_DIGITAL_SALES\";i:9;s:17:\"CT_ADWORDS_SEARCH\";i:10;s:18:\"CT_ADWORDS_DISPLAY\";i:11;s:15:\"CT_MOBILE_SITES\";}s:4:\"type\";s:6:\"string\";}s:10:\"expiration\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Date
  this certification is due to expire.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:12:\"lastAchieved\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  date the user last achieved certification.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:7:\"warning\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Whether
  this certification is in the state of warning.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CertificationExamStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Status
  for a Google Partners certification exam.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"numberUsersPass\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  number of people who have passed the certification exam.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  type of certification exam.\";s:4:\"enum\";a:11:{i:0;s:35:\"CERTIFICATION_EXAM_TYPE_UNSPECIFIED\";i:1;s:24:\"CET_ADWORDS_FUNDAMENTALS\";i:2;s:27:\"CET_ADWORDS_ADVANCED_SEARCH\";i:3;s:28:\"CET_ADWORDS_ADVANCED_DISPLAY\";i:4;s:13:\"CET_VIDEO_ADS\";i:5;s:15:\"CET_DOUBLECLICK\";i:6;s:13:\"CET_ANALYTICS\";i:7;s:12:\"CET_SHOPPING\";i:8;s:10:\"CET_MOBILE\";i:9;s:17:\"CET_DIGITAL_SALES\";i:10;s:16:\"CET_MOBILE_SITES\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CertificationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Google
  Partners certification status.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"examStatuses\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"List
  of certification exam statuses.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CertificationExamStatus\";}s:4:\"type\";s:5:\"array\";}s:11:\"isCertified\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Whether
  certification is passing.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  type of the certification.\";s:4:\"enum\";a:12:{i:0;s:30:\"CERTIFICATION_TYPE_UNSPECIFIED\";i:1;s:10:\"CT_ADWORDS\";i:2;s:10:\"CT_YOUTUBE\";i:3;s:11:\"CT_VIDEOADS\";i:4;s:12:\"CT_ANALYTICS\";i:5;s:14:\"CT_DOUBLECLICK\";i:6;s:11:\"CT_SHOPPING\";i:7;s:9:\"CT_MOBILE\";i:8;s:16:\"CT_DIGITAL_SALES\";i:9;s:17:\"CT_ADWORDS_SEARCH\";i:10;s:18:\"CT_ADWORDS_DISPLAY\";i:11;s:15:\"CT_MOBILE_SITES\";}s:4:\"type\";s:6:\"string\";}s:9:\"userCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Number
  of people who are certified,\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Company\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"A
  company resource in the Google Partners API. Once certified, it qualifies\nfor being
  searched by advertisers.\";s:10:\"properties\";O:8:\"stdClass\":22:{s:18:\"additionalWebsites\";O:8:\"stdClass\":3:{s:11:\"description\";s:188:\"URL
  of the company's additional websites used to verify the dynamic badges.\nThese are
  stored as full URLs as entered by the user, but only the TLD will\nbe used for the
  actual verification.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:24:\"autoApprovalEmailDomains\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"Email
  domains that allow users with a matching email address to get\nauto-approved for
  associating with this company.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"badgeAuthorityInAwn\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Whether
  the company's badge authority is in AWN\";s:4:\"type\";s:7:\"boolean\";}s:9:\"badgeTier\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Partner
  badge tier\";s:4:\"enum\";a:3:{i:0;s:15:\"BADGE_TIER_NONE\";i:1;s:18:\"BADGE_TIER_REGULAR\";i:2;s:18:\"BADGE_TIER_PREMIER\";}s:4:\"type\";s:6:\"string\";}s:21:\"certificationStatuses\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  list of Google Partners certification statuses for the company.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/CertificationStatus\";}s:4:\"type\";s:5:\"array\";}s:12:\"companyTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Company
  type labels listed on the company's profile.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:11:{i:0;s:24:\"COMPANY_TYPE_UNSPECIFIED\";i:1;s:19:\"FULL_SERVICE_AGENCY\";i:2;s:12:\"MEDIA_AGENCY\";i:3;s:15:\"CREATIVE_AGENCY\";i:4;s:15:\"CDIGITAL_AGENCY\";i:5;s:7:\"SEM_SEO\";i:6;s:21:\"PERFORMANCE_MARKETING\";i:7;s:28:\"ADVERTISING_TOOL_DEVELOPMENT\";i:8;s:2:\"PR\";i:9;s:12:\"SELF_MANAGED\";i:10;s:8:\"RESELLER\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:25:\"convertedMinMonthlyBudget\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:115:\"The
  minimum monthly budget that the company accepts for partner business,\nconverted
  to the requested currency code.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  ID of the company.\";s:4:\"type\";s:6:\"string\";}s:10:\"industries\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Industries
  the company can help with.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:11:{i:0;s:20:\"INDUSTRY_UNSPECIFIED\";i:1;s:12:\"I_AUTOMOTIVE\";i:2;s:22:\"I_BUSINESS_TO_BUSINESS\";i:3;s:25:\"I_CONSUMER_PACKAGED_GOODS\";i:4;s:11:\"I_EDUCATION\";i:5;s:9:\"I_FINANCE\";i:6;s:12:\"I_HEALTHCARE\";i:7;s:25:\"I_MEDIA_AND_ENTERTAINMENT\";i:8;s:8:\"I_RETAIL\";i:9;s:12:\"I_TECHNOLOGY\";i:10;s:8:\"I_TRAVEL\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"localizedInfos\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  list of localized info for the company.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/LocalizedCompanyInfo\";}s:4:\"type\";s:5:\"array\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"The
  list of all company locations.\nIf set, must include the\nprimary_location\nin the
  list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  name of the company.\";s:4:\"type\";s:6:\"string\";}s:24:\"originalMinMonthlyBudget\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:85:\"The
  unconverted minimum monthly budget that the company accepts for partner\nbusiness.\";}s:30:\"primaryAdwordsManagerAccountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  Primary AdWords Manager Account id.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:19:\"primaryLanguageCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:159:\"The
  primary language code of the company, as defined by\n<a href=\"https://tools.ietf.org/html/bcp47\">BCP
  47</a>\n(IETF BCP 47, \"Tags for Identifying Languages\").\";s:4:\"type\";s:6:\"string\";}s:15:\"primaryLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:11:\"description\";s:36:\"The
  primary location of the company.\";}s:13:\"profileStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  public viewability status of the company's profile.\";s:4:\"enum\";a:4:{i:0;s:34:\"COMPANY_PROFILE_STATUS_UNSPECIFIED\";i:1;s:6:\"HIDDEN\";i:2;s:9:\"PUBLISHED\";i:3;s:10:\"SEARCHABLE\";}s:4:\"type\";s:6:\"string\";}s:13:\"publicProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PublicProfile\";s:11:\"description\";s:52:\"Basic
  information from the company's public profile.\";}s:5:\"ranks\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Information
  related to the ranking of the company within the list of\ncompanies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Rank\";}s:4:\"type\";s:5:\"array\";}s:8:\"services\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Services
  the company can help with.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:19:\"SERVICE_UNSPECIFIED\";i:1;s:26:\"S_ADVANCED_ADWORDS_SUPPORT\";i:2;s:23:\"S_ADVERTISING_ON_GOOGLE\";i:3;s:21:\"S_AN_ENHANCED_WEBSITE\";i:4;s:26:\"S_AN_ONLINE_MARKETING_PLAN\";i:5;s:22:\"S_MOBILE_AND_VIDEO_ADS\";i:6;s:25:\"S_MOBILE_WEBSITE_SERVICES\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"specializationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  list of Google Partners specialization statuses for the company.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/SpecializationStatus\";}s:4:\"type\";s:5:\"array\";}s:10:\"websiteUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"URL
  of the company's website.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CompanyRelation\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"A
  CompanyRelation resource representing information about a user's\naffiliation and
  standing with a company in Partners.\";s:10:\"properties\";O:8:\"stdClass\":19:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  primary address for this company.\";s:4:\"type\";s:6:\"string\";}s:9:\"badgeTier\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Whether
  the company is a Partner.\";s:4:\"enum\";a:3:{i:0;s:15:\"BADGE_TIER_NONE\";i:1;s:18:\"BADGE_TIER_REGULAR\";i:2;s:18:\"BADGE_TIER_PREMIER\";}s:4:\"type\";s:6:\"string\";}s:12:\"companyAdmin\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Indicates
  if the user is an admin for this company.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"companyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  ID of the company. There may be no id if this is a\npending company.5\";s:4:\"type\";s:6:\"string\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  timestamp of when affiliation was requested.\n@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:17:\"internalCompanyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  internal company ID.\nOnly available for a whitelisted set of api clients.\";s:4:\"type\";s:6:\"string\";}s:9:\"isPending\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  flag that indicates if the company is pending verification.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"logoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"A
  URL to a profile photo, e.g. a G+ profile photo.\";s:4:\"type\";s:6:\"string\";}s:14:\"managerAccount\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  AdWords manager account # associated this company.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  name (in the company's primary language) for the company.\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  phone number for the company's primary address.\";s:4:\"type\";s:6:\"string\";}s:14:\"primaryAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:11:\"description\";s:36:\"The
  primary location of the company.\";}s:18:\"primaryCountryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  primary country code of the company.\";s:4:\"type\";s:6:\"string\";}s:19:\"primaryLanguageCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  primary language code of the company.\";s:4:\"type\";s:6:\"string\";}s:17:\"resolvedTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  timestamp when the user was approved.\n@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:7:\"segment\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  segment the company is classified as.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:23:\"COMPANY_SEGMENT_UNKNOWN\";i:1;s:19:\"COMPANY_SEGMENT_NAL\";i:2;s:19:\"COMPANY_SEGMENT_PSP\";i:3;s:20:\"COMPANY_SEGMENT_PPSP\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"specializationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  list of Google Partners specialization statuses for the company.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/SpecializationStatus\";}s:4:\"type\";s:5:\"array\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  state of relationship, in terms of approvals.\";s:4:\"enum\";a:4:{i:0;s:41:\"USER_COMPANY_REATION_STATE_NONE_SPECIFIED\";i:1;s:39:\"USER_COMPANY_RELATION_STATE_AWAIT_EMAIL\";i:2;s:39:\"USER_COMPANY_RELATION_STATE_AWAIT_ADMIN\";i:3;s:36:\"USER_COMPANY_RELATION_STATE_APPROVED\";}s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  website URL for this company.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CountryOfferInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Offer
  info by country.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"getYAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"(localized)
  Get Y amount for that country's offer.\";s:4:\"type\";s:6:\"string\";}s:16:\"offerCountryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Country
  code for which offer codes may be requested.\";s:4:\"type\";s:6:\"string\";}s:9:\"offerType\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Type
  of offer country is eligible for.\";s:4:\"enum\";a:4:{i:0;s:22:\"OFFER_TYPE_UNSPECIFIED\";i:1;s:24:\"OFFER_TYPE_SPEND_X_GET_Y\";i:2;s:16:\"OFFER_TYPE_VIDEO\";i:3;s:22:\"OFFER_TYPE_SPEND_MATCH\";}s:4:\"type\";s:6:\"string\";}s:12:\"spendXAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"(localized)
  Spend X amount for that country's offer.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CreateLeadRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Request
  message for CreateLead.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"lead\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Lead\";s:11:\"description\";s:124:\"The
  lead resource. The `LeadType` must not be `LEAD_TYPE_UNSPECIFIED`\nand either `email`
  or `phone_number` must be provided.\";}s:18:\"recaptchaChallenge\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/RecaptchaChallenge\";s:11:\"description\";s:73:\"<a
  href=\"https://www.google.com/recaptcha/\">reCaptcha</a> challenge info.\";}s:15:\"requestMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RequestMetadata\";s:11:\"description\";s:25:\"Current
  request metadata.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateLeadResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Response
  message for CreateLead.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"lead\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Lead\";s:11:\"description\";s:119:\"Lead
  that was created depending on the outcome of\n<a href=\"https://www.google.com/recaptcha/\">reCaptcha</a>
  validation.\";}s:15:\"recaptchaStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  outcome of <a href=\"https://www.google.com/recaptcha/\">reCaptcha</a>\nvalidation.\";s:4:\"enum\";a:4:{i:0;s:28:\"RECAPTCHA_STATUS_UNSPECIFIED\";i:1;s:13:\"RS_NOT_NEEDED\";i:2;s:9:\"RS_PASSED\";i:3;s:9:\"RS_FAILED\";}s:4:\"type\";s:6:\"string\";}s:16:\"responseMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResponseMetadata\";s:11:\"description\";s:26:\"Current
  response metadata.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:475:\"Represents
  a whole calendar date, e.g. date of birth. The time of day and\ntime zone are either
  specified elsewhere or are not significant. The date\nis relative to the Proleptic
  Gregorian Calendar. The day may be 0 to\nrepresent a year and month where the day
  is not significant, e.g. credit card\nexpiration date. The year may be 0 to represent
  a month and day independent\nof year, e.g. anniversary date. Related types are google.type.TimeOfDay\nand
  `google.protobuf.Timestamp`.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"day\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Day
  of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying
  a year/month where the day is not significant.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"month\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Month
  of year. Must be from 1 to 12, or 0 if specifying a date without a\nmonth.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"year\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Year
  of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"DebugInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Debug
  information about this request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"serverInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Info
  about the server that serviced this request.\";s:4:\"type\";s:6:\"string\";}s:15:\"serverTraceInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Server-side
  debug stack trace.\";s:4:\"type\";s:6:\"string\";}s:10:\"serviceUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"URL
  of the service that handled this request.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is
  empty JSON object `{}`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"EventData\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Key
  value data pair for an event.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Data
  type.\";s:4:\"enum\";a:38:{i:0;s:27:\"EVENT_DATA_TYPE_UNSPECIFIED\";i:1;s:6:\"ACTION\";i:2;s:9:\"AGENCY_ID\";i:3;s:11:\"AGENCY_NAME\";i:4;s:19:\"AGENCY_PHONE_NUMBER\";i:5;s:14:\"AGENCY_WEBSITE\";i:6;s:6:\"BUDGET\";i:7;s:12:\"CENTER_POINT\";i:8;s:13:\"CERTIFICATION\";i:9;s:7:\"COMMENT\";i:10;s:7:\"COUNTRY\";i:11;s:8:\"CURRENCY\";i:12;s:26:\"CURRENTLY_VIEWED_AGENCY_ID\";i:13;s:8:\"DISTANCE\";i:14;s:13:\"DISTANCE_TYPE\";i:15;s:4:\"EXAM\";i:16;s:13:\"HISTORY_TOKEN\";i:17;s:2:\"ID\";i:18;s:8:\"INDUSTRY\";i:19;s:11:\"INSIGHT_TAG\";i:20;s:8:\"LANGUAGE\";i:21;s:8:\"LOCATION\";i:22;s:16:\"MARKETING_OPT_IN\";i:23;s:5:\"QUERY\";i:24;s:18:\"SEARCH_START_INDEX\";i:25;s:7:\"SERVICE\";i:26;s:8:\"SHOW_VOW\";i:27;s:8:\"SOLUTION\";i:28;s:17:\"TRAFFIC_SOURCE_ID\";i:29;s:14:\"TRAFFIC_SUB_ID\";i:30;s:9:\"VIEW_PORT\";i:31;s:7:\"WEBSITE\";i:32;s:7:\"DETAILS\";i:33;s:13:\"EXPERIMENT_ID\";i:34;s:14:\"GPS_MOTIVATION\";i:35;s:3:\"URL\";i:36;s:13:\"ELEMENT_FOCUS\";i:37;s:8:\"PROGRESS\";}s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Data
  values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ExamStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"A
  user's information on a specific exam.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"examType\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  type of the exam.\";s:4:\"enum\";a:11:{i:0;s:35:\"CERTIFICATION_EXAM_TYPE_UNSPECIFIED\";i:1;s:24:\"CET_ADWORDS_FUNDAMENTALS\";i:2;s:27:\"CET_ADWORDS_ADVANCED_SEARCH\";i:3;s:28:\"CET_ADWORDS_ADVANCED_DISPLAY\";i:4;s:13:\"CET_VIDEO_ADS\";i:5;s:15:\"CET_DOUBLECLICK\";i:6;s:13:\"CET_ANALYTICS\";i:7;s:12:\"CET_SHOPPING\";i:8;s:10:\"CET_MOBILE\";i:9;s:17:\"CET_DIGITAL_SALES\";i:10;s:16:\"CET_MOBILE_SITES\";}s:4:\"type\";s:6:\"string\";}s:10:\"expiration\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Date
  this exam is due to expire.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:10:\"lastPassed\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  date the user last passed this exam.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"passed\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Whether
  this exam has been passed and not expired.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"taken\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  date the user last taken this exam.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:7:\"warning\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Whether
  this exam is in the state of warning.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetCompanyResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Response
  message for GetCompany.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Company\";s:11:\"description\";s:12:\"The
  company.\";}s:16:\"responseMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResponseMetadata\";s:11:\"description\";s:26:\"Current
  response metadata.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GetPartnersStatusResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Response
  message for\nGetPartnersStatus.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"responseMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResponseMetadata\";s:11:\"description\";s:26:\"Current
  response metadata.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"HistoricalOffer\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Historical
  information about a Google Partners Offer.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"adwordsUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Client's
  AdWords page URL.\";s:4:\"type\";s:6:\"string\";}s:11:\"clientEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Email
  address for client.\";s:4:\"type\";s:6:\"string\";}s:8:\"clientId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"ID
  of client.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"clientName\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Name
  of the client.\";s:4:\"type\";s:6:\"string\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Time
  offer was first created.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:14:\"expirationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Time
  this offer expires.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Time
  last action was taken.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"offerCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Offer
  code.\";s:4:\"type\";s:6:\"string\";}s:16:\"offerCountryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Country
  Code for the offer country.\";s:4:\"type\";s:6:\"string\";}s:9:\"offerType\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Type
  of offer.\";s:4:\"enum\";a:4:{i:0;s:22:\"OFFER_TYPE_UNSPECIFIED\";i:1;s:24:\"OFFER_TYPE_SPEND_X_GET_Y\";i:2;s:16:\"OFFER_TYPE_VIDEO\";i:3;s:22:\"OFFER_TYPE_SPEND_MATCH\";}s:4:\"type\";s:6:\"string\";}s:10:\"senderName\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Name
  (First + Last) of the partners user to whom the incentive is allocated.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Status
  of the offer.\";s:4:\"enum\";a:5:{i:0;s:24:\"OFFER_STATUS_UNSPECIFIED\";i:1;s:24:\"OFFER_STATUS_DISTRIBUTED\";i:2;s:21:\"OFFER_STATUS_REDEEMED\";i:3;s:20:\"OFFER_STATUS_AWARDED\";i:4;s:20:\"OFFER_STATUS_EXPIRED\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"LatLng\";O:8:\"stdClass\":3:{s:11:\"description\";s:320:\"An
  object representing a latitude/longitude pair. This is expressed as a pair\nof doubles
  representing degrees latitude and degrees longitude. Unless\nspecified otherwise,
  this must conform to the\n<a href=\"http://www.unoosa.org/pdf/icg/2012/template/WGS_84.pdf\">WGS84\nstandard</a>.
  Values must be within normalized ranges.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  latitude in degrees. It must be in the range [-90.0, +90.0].\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  longitude in degrees. It must be in the range [-180.0, +180.0].\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Lead\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"A
  lead resource that represents an advertiser contact for a `Company`. These\nare
  usually generated via Google Partner Search (the advertiser portal).\";s:10:\"properties\";O:8:\"stdClass\":15:{s:17:\"adwordsCustomerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  AdWords Customer ID of the lead.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Comments
  lead source gave.\";s:4:\"type\";s:6:\"string\";}s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Timestamp
  of when this lead was created.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Email
  address of lead source.\";s:4:\"type\";s:6:\"string\";}s:10:\"familyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Last
  name of lead source.\";s:4:\"type\";s:6:\"string\";}s:9:\"givenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"First
  name of lead source.\";s:4:\"type\";s:6:\"string\";}s:14:\"gpsMotivations\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"List
  of reasons for using Google Partner Search and creating a lead.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:26:\"GPS_MOTIVATION_UNSPECIFIED\";i:1;s:26:\"GPSM_HELP_WITH_ADVERTISING\";i:2;s:22:\"GPSM_HELP_WITH_WEBSITE\";i:3;s:15:\"GPSM_NO_WEBSITE\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ID
  of the lead.\";s:4:\"type\";s:6:\"string\";}s:12:\"languageCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:166:\"Language
  code of the lead's language preference, as defined by\n<a href=\"https://tools.ietf.org/html/bcp47\">BCP
  47</a>\n(IETF BCP 47, \"Tags for Identifying Languages\").\";s:4:\"type\";s:6:\"string\";}s:14:\"marketingOptIn\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Whether
  or not the lead signed up for marketing emails\";s:4:\"type\";s:7:\"boolean\";}s:16:\"minMonthlyBudget\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:59:\"The
  minimum monthly budget lead source is willing to spend.\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Phone
  number of lead source.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  lead's state in relation to the company.\";s:4:\"enum\";a:5:{i:0;s:22:\"LEAD_STATE_UNSPECIFIED\";i:1;s:4:\"LEAD\";i:2;s:9:\"CONTACTED\";i:3;s:6:\"CLIENT\";i:4;s:5:\"OTHER\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Type
  of lead.\";s:4:\"enum\";a:2:{i:0;s:21:\"LEAD_TYPE_UNSPECIFIED\";i:1;s:6:\"LT_GPS\";}s:4:\"type\";s:6:\"string\";}s:10:\"websiteUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Website
  URL of lead source.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListAnalyticsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Response
  message for\nListAnalytics.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"analytics\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  list of analytics.\nSorted in ascending order of\nAnalytics.event_date.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Analytics\";}s:4:\"type\";s:5:\"array\";}s:16:\"analyticsSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AnalyticsSummary\";s:11:\"description\";s:55:\"Aggregated
  information across the response's\nanalytics.\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"A
  token to retrieve next page of results.\nPass this value in the `ListAnalyticsRequest.page_token`
  field in the\nsubsequent call to\nListAnalytics to retrieve the\nnext page of results.\";s:4:\"type\";s:6:\"string\";}s:16:\"responseMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResponseMetadata\";s:11:\"description\";s:26:\"Current
  response metadata.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListCompaniesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Response
  message for\nListCompanies.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"companies\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  list of companies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Company\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"A
  token to retrieve next page of results.\nPass this value in the `ListCompaniesRequest.page_token`
  field in the\nsubsequent call to\nListCompanies to retrieve the\nnext page of results.\";s:4:\"type\";s:6:\"string\";}s:16:\"responseMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResponseMetadata\";s:11:\"description\";s:26:\"Current
  response metadata.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListLeadsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Response
  message for ListLeads.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"leads\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  list of leads.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Lead\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"A
  token to retrieve next page of results.\nPass this value in the `ListLeadsRequest.page_token`
  field in the\nsubsequent call to\nListLeads to retrieve the\nnext page of results.\";s:4:\"type\";s:6:\"string\";}s:16:\"responseMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResponseMetadata\";s:11:\"description\";s:26:\"Current
  response metadata.\";}s:9:\"totalSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  total count of leads for the given company.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListOffersHistoryResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Response
  for ListOfferHistory.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"canShowEntireCompany\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"True
  if the user has the option to show entire company history.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Supply
  this token in a ListOffersHistoryRequest to retrieve the next page.\";s:4:\"type\";s:6:\"string\";}s:6:\"offers\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Historical
  offers meeting request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/HistoricalOffer\";}s:4:\"type\";s:5:\"array\";}s:16:\"responseMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResponseMetadata\";s:11:\"description\";s:26:\"Current
  response metadata.\";}s:20:\"showingEntireCompany\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"True
  if this response is showing entire company history.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"totalResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Number
  of results across all pages.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListOffersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Response
  for ListOffer.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"availableOffers\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Available
  Offers to be distributed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AvailableOffer\";}s:4:\"type\";s:5:\"array\";}s:13:\"noOfferReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Reason
  why no Offers are available.\";s:4:\"enum\";a:4:{i:0;s:27:\"NO_OFFER_REASON_UNSPECIFIED\";i:1;s:22:\"NO_OFFER_REASON_NO_MCC\";i:2;s:29:\"NO_OFFER_REASON_LIMIT_REACHED\";i:3;s:26:\"NO_OFFER_REASON_INELIGIBLE\";}s:4:\"type\";s:6:\"string\";}s:16:\"responseMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResponseMetadata\";s:11:\"description\";s:26:\"Current
  response metadata.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListUserStatesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Response
  message for\nListUserStates.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"responseMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResponseMetadata\";s:11:\"description\";s:26:\"Current
  response metadata.\";}s:10:\"userStates\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"User's
  states.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:22:\"USER_STATE_UNSPECIFIED\";i:1;s:37:\"US_REQUIRES_RECAPTCHA_FOR_GPS_CONTACT\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"LocalizedCompanyInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  localized company information.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"countryCodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"List
  of country codes for the localized company info.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Localized
  display name.\";s:4:\"type\";s:6:\"string\";}s:12:\"languageCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"Language
  code of the localized company info, as defined by\n<a href=\"https://tools.ietf.org/html/bcp47\">BCP
  47</a>\n(IETF BCP 47, \"Tags for Identifying Languages\").\";s:4:\"type\";s:6:\"string\";}s:8:\"overview\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Localized
  brief description that the company uses to advertise themselves.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Location\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"A
  location with address and geographic coordinates. May optionally contain a\ndetailed
  (multi-field) version of the address.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  single string version of the address.\";s:4:\"type\";s:6:\"string\";}s:11:\"addressLine\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  following address lines represent the most specific part of any\naddress.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:18:\"administrativeArea\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Top-level
  administrative subdivision of this country.\";s:4:\"type\";s:6:\"string\";}s:17:\"dependentLocality\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"Dependent
  locality or sublocality. Used for UK dependent localities, or\nneighborhoods or
  boroughs in other locations.\";s:4:\"type\";s:6:\"string\";}s:12:\"languageCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Language
  code of the address. Should be in BCP 47 format.\";s:4:\"type\";s:6:\"string\";}s:6:\"latLng\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/LatLng\";s:11:\"description\";s:55:\"The
  latitude and longitude of the location, in degrees.\";}s:8:\"locality\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Generally
  refers to the city/town portion of an address.\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Values
  are frequently alphanumeric.\";s:4:\"type\";s:6:\"string\";}s:10:\"regionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"CLDR
  (Common Locale Data Repository) region code .\";s:4:\"type\";s:6:\"string\";}s:11:\"sortingCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Use
  of this code is very country-specific, but will refer to a secondary\nclassification
  code for sorting mail.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"LogMessageRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Request
  message for\nLogClientMessage.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"clientInfo\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:74:\"Map
  of client info, such as URL, browser navigator, browser platform, etc.\";s:4:\"type\";s:6:\"object\";}s:7:\"details\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Details
  about the client message.\";s:4:\"type\";s:6:\"string\";}s:5:\"level\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Message
  level of client message.\";s:4:\"enum\";a:5:{i:0;s:25:\"MESSAGE_LEVEL_UNSPECIFIED\";i:1;s:7:\"ML_FINE\";i:2;s:7:\"ML_INFO\";i:3;s:10:\"ML_WARNING\";i:4;s:9:\"ML_SEVERE\";}s:4:\"type\";s:6:\"string\";}s:15:\"requestMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RequestMetadata\";s:11:\"description\";s:25:\"Current
  request metadata.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"LogMessageResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Response
  message for\nLogClientMessage.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"responseMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResponseMetadata\";s:11:\"description\";s:26:\"Current
  response metadata.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"LogUserEventRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Request
  message for\nLogUserEvent.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"eventAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  action that occurred.\";s:4:\"enum\";a:159:{i:0;s:24:\"EVENT_ACTION_UNSPECIFIED\";i:1;s:40:\"SMB_CLICKED_FIND_A_PARTNER_BUTTON_BOTTOM\";i:2;s:37:\"SMB_CLICKED_FIND_A_PARTNER_BUTTON_TOP\";i:3;s:37:\"AGENCY_CLICKED_JOIN_NOW_BUTTON_BOTTOM\";i:4;s:34:\"AGENCY_CLICKED_JOIN_NOW_BUTTON_TOP\";i:5;s:33:\"SMB_CANCELED_PARTNER_CONTACT_FORM\";i:6;s:29:\"SMB_CLICKED_CONTACT_A_PARTNER\";i:7;s:34:\"SMB_COMPLETED_PARTNER_CONTACT_FORM\";i:8;s:41:\"SMB_ENTERED_EMAIL_IN_CONTACT_PARTNER_FORM\";i:9;s:40:\"SMB_ENTERED_NAME_IN_CONTACT_PARTNER_FORM\";i:10;s:41:\"SMB_ENTERED_PHONE_IN_CONTACT_PARTNER_FORM\";i:11;s:44:\"SMB_FAILED_RECAPTCHA_IN_CONTACT_PARTNER_FORM\";i:12;s:21:\"PARTNER_VIEWED_BY_SMB\";i:13;s:40:\"SMB_CANCELED_PARTNER_CONTACT_FORM_ON_GPS\";i:14;s:34:\"SMB_CHANGED_A_SEARCH_PARAMETER_TOP\";i:15;s:36:\"SMB_CLICKED_CONTACT_A_PARTNER_ON_GPS\";i:16;s:44:\"SMB_CLICKED_SHOW_MORE_PARTNERS_BUTTON_BOTTOM\";i:17;s:41:\"SMB_COMPLETED_PARTNER_CONTACT_FORM_ON_GPS\";i:18;s:46:\"SMB_NO_PARTNERS_AVAILABLE_WITH_SEARCH_CRITERIA\";i:19;s:27:\"SMB_PERFORMED_SEARCH_ON_GPS\";i:20;s:27:\"SMB_VIEWED_A_PARTNER_ON_GPS\";i:21;s:49:\"SMB_CANCELED_PARTNER_CONTACT_FORM_ON_PROFILE_PAGE\";i:22;s:45:\"SMB_CLICKED_CONTACT_A_PARTNER_ON_PROFILE_PAGE\";i:23;s:27:\"SMB_CLICKED_PARTNER_WEBSITE\";i:24;s:50:\"SMB_COMPLETED_PARTNER_CONTACT_FORM_ON_PROFILE_PAGE\";i:25;s:28:\"SMB_VIEWED_A_PARTNER_PROFILE\";i:26;s:32:\"AGENCY_CLICKED_ACCEPT_TOS_BUTTON\";i:27;s:26:\"AGENCY_CHANGED_TOS_COUNTRY\";i:28;s:41:\"AGENCY_ADDED_ADDRESS_IN_MY_PROFILE_PORTAL\";i:29;s:46:\"AGENCY_ADDED_PHONE_NUMBER_IN_MY_PROFILE_PORTAL\";i:30;s:42:\"AGENCY_CHANGED_PRIMARY_ACCOUNT_ASSOCIATION\";i:31;s:42:\"AGENCY_CHANGED_PRIMARY_COUNTRY_ASSOCIATION\";i:32;s:55:\"AGENCY_CLICKED_AFFILIATE_BUTTON_IN_MY_PROFILE_IN_PORTAL\";i:33;s:52:\"AGENCY_CLICKED_GIVE_EDIT_ACCESS_IN_MY_PROFILE_PORTAL\";i:34;s:43:\"AGENCY_CLICKED_LOG_OUT_IN_MY_PROFILE_PORTAL\";i:35;s:44:\"AGENCY_CLICKED_MY_PROFILE_LEFT_NAV_IN_PORTAL\";i:36;s:59:\"AGENCY_CLICKED_SAVE_AND_CONTINUE_AT_BOT_OF_COMPLETE_PROFILE\";i:37;s:47:\"AGENCY_CLICKED_UNAFFILIATE_IN_MY_PROFILE_PORTAL\";i:38;s:55:\"AGENCY_FILLED_OUT_COMP_AFFILIATION_IN_MY_PROFILE_PORTAL\";i:39;s:56:\"AGENCY_SUCCESSFULLY_CONNECTED_WITH_COMPANY_IN_MY_PROFILE\";i:40;s:46:\"AGENCY_CLICKED_CREATE_MCC_IN_MY_PROFILE_PORTAL\";i:41;s:55:\"AGENCY_DIDNT_HAVE_AN_MCC_ASSOCIATED_ON_COMPLETE_PROFILE\";i:42;s:48:\"AGENCY_HAD_AN_MCC_ASSOCIATED_ON_COMPLETE_PROFILE\";i:43;s:46:\"AGENCY_ADDED_JOB_FUNCTION_IN_MY_PROFILE_PORTAL\";i:44;s:39:\"AGENCY_LOOKED_AT_JOB_FUNCTION_DROP_DOWN\";i:45;s:47:\"AGENCY_SELECTED_ACCOUNT_MANAGER_AS_JOB_FUNCTION\";i:46;s:47:\"AGENCY_SELECTED_ACCOUNT_PLANNER_AS_JOB_FUNCTION\";i:47;s:41:\"AGENCY_SELECTED_ANALYTICS_AS_JOB_FUNCTION\";i:48;s:40:\"AGENCY_SELECTED_CREATIVE_AS_JOB_FUNCTION\";i:49;s:43:\"AGENCY_SELECTED_MEDIA_BUYER_AS_JOB_FUNCTION\";i:50;s:45:\"AGENCY_SELECTED_MEDIA_PLANNER_AS_JOB_FUNCTION\";i:51;s:37:\"AGENCY_SELECTED_OTHER_AS_JOB_FUNCTION\";i:52;s:42:\"AGENCY_SELECTED_PRODUCTION_AS_JOB_FUNCTION\";i:53;s:35:\"AGENCY_SELECTED_SEO_AS_JOB_FUNCTION\";i:54;s:41:\"AGENCY_SELECTED_SALES_REP_AS_JOB_FUNCTION\";i:55;s:49:\"AGENCY_SELECTED_SEARCH_SPECIALIST_AS_JOB_FUNCTION\";i:56;s:42:\"AGENCY_ADDED_CHANNELS_IN_MY_PROFILE_PORTAL\";i:57;s:38:\"AGENCY_LOOKED_AT_ADD_CHANNEL_DROP_DOWN\";i:58;s:46:\"AGENCY_SELECTED_CROSS_CHANNEL_FROM_ADD_CHANNEL\";i:59;s:40:\"AGENCY_SELECTED_DISPLAY_FROM_ADD_CHANNEL\";i:60;s:39:\"AGENCY_SELECTED_MOBILE_FROM_ADD_CHANNEL\";i:61;s:39:\"AGENCY_SELECTED_SEARCH_FROM_ADD_CHANNEL\";i:62;s:39:\"AGENCY_SELECTED_SOCIAL_FROM_ADD_CHANNEL\";i:63;s:38:\"AGENCY_SELECTED_TOOLS_FROM_ADD_CHANNEL\";i:64;s:40:\"AGENCY_SELECTED_YOUTUBE_FROM_ADD_CHANNEL\";i:65;s:44:\"AGENCY_ADDED_INDUSTRIES_IN_MY_PROFILE_PORTAL\";i:66;s:39:\"AGENCY_CHANGED_ADD_INDUSTRIES_DROP_DOWN\";i:67;s:41:\"AGENCY_ADDED_MARKETS_IN_MY_PROFILE_PORTAL\";i:68;s:36:\"AGENCY_CHANGED_ADD_MARKETS_DROP_DOWN\";i:69;s:48:\"AGENCY_CHECKED_RECIEVE_MAIL_PROMOTIONS_MYPROFILE\";i:70;s:45:\"AGENCY_CHECKED_RECIEVE_MAIL_PROMOTIONS_SIGNUP\";i:71;s:50:\"AGENCY_SELECTED_OPT_IN_BETA_TESTS_AND_MKT_RESEARCH\";i:72;s:54:\"AGENCY_SELECTED_OPT_IN_BETA_TESTS_IN_MY_PROFILE_PORTAL\";i:73;s:48:\"AGENCY_SELECTED_OPT_IN_NEWS_IN_MY_PROFILE_PORTAL\";i:74;s:50:\"AGENCY_SELECTED_OPT_IN_NEWS_INVITATIONS_AND_PROMOS\";i:75;s:59:\"AGENCY_SELECTED_OPT_IN_PERFORMANCE_SUG_IN_MY_PROFILE_PORTAL\";i:76;s:46:\"AGENCY_SELECTED_OPT_IN_PERFORMANCE_SUGGESTIONS\";i:77;s:53:\"AGENCY_SELECTED_OPT_IN_SELECT_ALL_EMAIL_NOTIFICATIONS\";i:78;s:55:\"AGENCY_SELECTED_SELECT_ALL_OPT_INS_IN_MY_PROFILE_PORTAL\";i:79;s:50:\"AGENCY_CLICKED_BACK_BUTTON_ON_CONNECT_WITH_COMPANY\";i:80;s:59:\"AGENCY_CLICKED_CONTINUE_TO_OVERVIEW_ON_CONNECT_WITH_COMPANY\";i:81;s:56:\"AGECNY_CLICKED_CREATE_MCC_CONNECT_WITH_COMPANY_NOT_FOUND\";i:82;s:62:\"AGECNY_CLICKED_GIVE_EDIT_ACCESS_CONNECT_WITH_COMPANY_NOT_FOUND\";i:83;s:53:\"AGECNY_CLICKED_LOG_OUT_CONNECT_WITH_COMPANY_NOT_FOUND\";i:84;s:56:\"AGENCY_CLICKED_SKIP_FOR_NOW_ON_CONNECT_WITH_COMPANY_PAGE\";i:85;s:57:\"AGENCY_CLOSED_CONNECTED_TO_COMPANY_X_BUTTON_WRONG_COMPANY\";i:86;s:43:\"AGENCY_COMPLETED_FIELD_CONNECT_WITH_COMPANY\";i:87;s:36:\"AGECNY_FOUND_COMPANY_TO_CONNECT_WITH\";i:88;s:35:\"AGENCY_SUCCESSFULLY_CREATED_COMPANY\";i:89;s:33:\"AGENCY_ADDED_NEW_COMPANY_LOCATION\";i:90;s:62:\"AGENCY_CLICKED_COMMUNITY_JOIN_NOW_LINK_IN_PORTAL_NOTIFICATIONS\";i:91;s:62:\"AGENCY_CLICKED_CONNECT_TO_COMPANY_LINK_IN_PORTAL_NOTIFICATIONS\";i:92;s:57:\"AGENCY_CLICKED_GET_CERTIFIED_LINK_IN_PORTAL_NOTIFICATIONS\";i:93;s:67:\"AGENCY_CLICKED_GET_VIDEO_ADS_CERTIFIED_LINK_IN_PORTAL_NOTIFICATIONS\";i:94;s:55:\"AGENCY_CLICKED_LINK_TO_MCC_LINK_IN_PORTAL_NOTIFICATIONS\";i:95;s:40:\"AGENCY_CLICKED_INSIGHT_CONTENT_IN_PORTAL\";i:96;s:54:\"AGENCY_CLICKED_INSIGHTS_VIEW_NOW_PITCH_DECKS_IN_PORTAL\";i:97;s:42:\"AGENCY_CLICKED_INSIGHTS_LEFT_NAV_IN_PORTAL\";i:98;s:38:\"AGENCY_CLICKED_INSIGHTS_UPLOAD_CONTENT\";i:99;s:41:\"AGENCY_CLICKED_INSIGHTS_VIEWED_DEPRECATED\";i:100;s:43:\"AGENCY_CLICKED_COMMUNITY_LEFT_NAV_IN_PORTAL\";i:101;s:53:\"AGENCY_CLICKED_JOIN_COMMUNITY_BUTTON_COMMUNITY_PORTAL\";i:102;s:48:\"AGENCY_CLICKED_CERTIFICATIONS_LEFT_NAV_IN_PORTAL\";i:103;s:56:\"AGENCY_CLICKED_CERTIFICATIONS_PRODUCT_LEFT_NAV_IN_PORTAL\";i:104;s:48:\"AGENCY_CLICKED_PARTNER_STATUS_LEFT_NAV_IN_PORTAL\";i:105;s:56:\"AGENCY_CLICKED_PARTNER_STATUS_PRODUCT_LEFT_NAV_IN_PORTAL\";i:106;s:40:\"AGENCY_CLICKED_OFFERS_LEFT_NAV_IN_PORTAL\";i:107;s:41:\"AGENCY_CLICKED_SEND_BUTTON_ON_OFFERS_PAGE\";i:108;s:48:\"AGENCY_CLICKED_EXAM_DETAILS_ON_CERT_ADWORDS_PAGE\";i:109;s:48:\"AGENCY_CLICKED_SEE_EXAMS_CERTIFICATION_MAIN_PAGE\";i:110;s:42:\"AGENCY_CLICKED_TAKE_EXAM_ON_CERT_EXAM_PAGE\";i:111;s:31:\"AGENCY_OPENED_LAST_ADMIN_DIALOG\";i:112;s:34:\"AGENCY_OPENED_DIALOG_WITH_NO_USERS\";i:113;s:29:\"AGENCY_PROMOTED_USER_TO_ADMIN\";i:114;s:19:\"AGENCY_UNAFFILIATED\";i:115;s:20:\"AGENCY_CHANGED_ROLES\";i:116;s:40:\"SMB_CLICKED_COMPANY_NAME_LINK_TO_PROFILE\";i:117;s:30:\"SMB_VIEWED_ADWORDS_CERTIFICATE\";i:118;s:37:\"SMB_VIEWED_ADWORDS_SEARCH_CERTIFICATE\";i:119;s:38:\"SMB_VIEWED_ADWORDS_DISPLAY_CERTIFICATE\";i:120;s:41:\"SMB_CLICKED_ADWORDS_CERTIFICATE_HELP_ICON\";i:121;s:32:\"SMB_VIEWED_ANALYTICS_CERTIFICATE\";i:122;s:34:\"SMB_VIEWED_DOUBLECLICK_CERTIFICATE\";i:123;s:35:\"SMB_VIEWED_MOBILE_SITES_CERTIFICATE\";i:124;s:32:\"SMB_VIEWED_VIDEO_ADS_CERTIFICATE\";i:125;s:31:\"SMB_VIEWED_SHOPPING_CERTIFICATE\";i:126;s:43:\"SMB_CLICKED_VIDEO_ADS_CERTIFICATE_HELP_ICON\";i:127;s:36:\"SMB_VIEWED_DIGITAL_SALES_CERTIFICATE\";i:128;s:22:\"CLICKED_HELP_AT_BOTTOM\";i:129;s:19:\"CLICKED_HELP_AT_TOP\";i:130;s:12:\"CLIENT_ERROR\";i:131;s:31:\"AGENCY_CLICKED_LEFT_NAV_STORIES\";i:132;s:7:\"CLICKED\";i:133;s:29:\"SMB_VIEWED_MOBILE_CERTIFICATE\";i:134;s:34:\"AGENCY_FAILED_COMPANY_VERIFICATION\";i:135;s:15:\"VISITED_LANDING\";i:136;s:11:\"VISITED_GPS\";i:137;s:21:\"VISITED_AGENCY_PORTAL\";i:138;s:28:\"CANCELLED_INDIVIDUAL_SIGN_UP\";i:139;s:25:\"CANCELLED_COMPANY_SIGN_UP\";i:140;s:33:\"AGENCY_CLICKED_SIGN_IN_BUTTON_TOP\";i:141;s:61:\"AGENCY_CLICKED_SAVE_AND_CONTINUE_AT_BOT_OF_INCOMPLETE_PROFILE\";i:142;s:52:\"AGENCY_UNSELECTED_OPT_IN_NEWS_INVITATIONS_AND_PROMOS\";i:143;s:52:\"AGENCY_UNSELECTED_OPT_IN_BETA_TESTS_AND_MKT_RESEARCH\";i:144;s:48:\"AGENCY_UNSELECTED_OPT_IN_PERFORMANCE_SUGGESTIONS\";i:145;s:56:\"AGENCY_SELECTED_OPT_OUT_UNSELECT_ALL_EMAIL_NOTIFICATIONS\";i:146;s:28:\"AGENCY_LINKED_INDIVIDUAL_MCC\";i:147;s:24:\"AGENCY_SUGGESTED_TO_USER\";i:148;s:46:\"AGENCY_IGNORED_SUGGESTED_AGENCIES_AND_SEARCHED\";i:149;s:30:\"AGENCY_PICKED_SUGGESTED_AGENCY\";i:150;s:28:\"AGENCY_SEARCHED_FOR_AGENCIES\";i:151;s:29:\"AGENCY_PICKED_SEARCHED_AGENCY\";i:152;s:35:\"AGENCY_DISMISSED_AFFILIATION_WIDGET\";i:153;s:40:\"AGENCY_CLICKED_INSIGHTS_DOWNLOAD_CONTENT\";i:154;s:37:\"AGENCY_PROGRESS_INSIGHTS_VIEW_CONTENT\";i:155;s:39:\"AGENCY_CLICKED_CANCEL_ACCEPT_TOS_BUTTON\";i:156;s:43:\"SMB_ENTERED_WEBSITE_IN_CONTACT_PARTNER_FORM\";i:157;s:36:\"AGENCY_SELECTED_OPT_IN_AFA_MIGRATION\";i:158;s:37:\"AGENCY_SELECTED_OPT_OUT_AFA_MIGRATION\";}s:4:\"type\";s:6:\"string\";}s:13:\"eventCategory\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  category the action belongs to.\";s:4:\"enum\";a:16:{i:0;s:26:\"EVENT_CATEGORY_UNSPECIFIED\";i:1;s:21:\"GOOGLE_PARTNER_SEARCH\";i:2;s:26:\"GOOGLE_PARTNER_SIGNUP_FLOW\";i:3;s:21:\"GOOGLE_PARTNER_PORTAL\";i:4;s:32:\"GOOGLE_PARTNER_PORTAL_MY_PROFILE\";i:5;s:36:\"GOOGLE_PARTNER_PORTAL_CERTIFICATIONS\";i:6;s:31:\"GOOGLE_PARTNER_PORTAL_COMMUNITY\";i:7;s:30:\"GOOGLE_PARTNER_PORTAL_INSIGHTS\";i:8;s:29:\"GOOGLE_PARTNER_PORTAL_CLIENTS\";i:9;s:34:\"GOOGLE_PARTNER_PUBLIC_USER_PROFILE\";i:10;s:20:\"GOOGLE_PARTNER_PANEL\";i:11;s:39:\"GOOGLE_PARTNER_PORTAL_LAST_ADMIN_DIALOG\";i:12;s:21:\"GOOGLE_PARTNER_CLIENT\";i:13;s:37:\"GOOGLE_PARTNER_PORTAL_COMPANY_PROFILE\";i:14;s:14:\"EXTERNAL_LINKS\";i:15;s:22:\"GOOGLE_PARTNER_LANDING\";}s:4:\"type\";s:6:\"string\";}s:10:\"eventDatas\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"List
  of event data for the event.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EventData\";}s:4:\"type\";s:5:\"array\";}s:10:\"eventScope\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  scope of the event.\";s:4:\"enum\";a:4:{i:0;s:23:\"EVENT_SCOPE_UNSPECIFIED\";i:1;s:7:\"VISITOR\";i:2;s:7:\"SESSION\";i:3;s:4:\"PAGE\";}s:4:\"type\";s:6:\"string\";}s:4:\"lead\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Lead\";s:11:\"description\";s:28:\"Advertiser
  lead information.\";}s:15:\"requestMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RequestMetadata\";s:11:\"description\";s:25:\"Current
  request metadata.\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  URL where the event occurred.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"LogUserEventResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Response
  message for\nLogUserEvent.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"responseMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResponseMetadata\";s:11:\"description\";s:26:\"Current
  response metadata.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Money\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Represents
  an amount of money with its currency type.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"currencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  3-letter currency code defined in ISO 4217.\";s:4:\"type\";s:6:\"string\";}s:5:\"nanos\";O:8:\"stdClass\":3:{s:11:\"description\";s:364:\"Number
  of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and
  +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf
  `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative,
  `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1
  and `nanos`=-750,000,000.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"units\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"The
  whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit
  is one US dollar.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"OfferCustomer\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Customers
  qualified for an offer.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"adwordsUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"URL
  to the customer's AdWords page.\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Country
  code of the customer.\";s:4:\"type\";s:6:\"string\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Time
  the customer was created.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:19:\"eligibilityDaysLeft\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Days
  the customer is still eligible.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"externalCid\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"External
  CID for the customer.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"getYAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Formatted
  Get Y amount with currency code.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of the customer.\";s:4:\"type\";s:6:\"string\";}s:9:\"offerType\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Type
  of the offer\";s:4:\"enum\";a:4:{i:0;s:22:\"OFFER_TYPE_UNSPECIFIED\";i:1;s:24:\"OFFER_TYPE_SPEND_X_GET_Y\";i:2;s:16:\"OFFER_TYPE_VIDEO\";i:3;s:22:\"OFFER_TYPE_SPEND_MATCH\";}s:4:\"type\";s:6:\"string\";}s:12:\"spendXAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Formatted
  Spend X amount with currency code.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"OptIns\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"A
  set of opt-ins for a user.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"marketComm\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"An
  opt-in about receiving email from Partners marketing teams. Includes\nmember-only
  events and special promotional offers for Google products.\";s:4:\"type\";s:7:\"boolean\";}s:22:\"performanceSuggestions\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"An
  opt-in about receiving email with customized AdWords campaign management\ntips.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"phoneContact\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"An
  opt-in to allow recieivng phone calls about their Partners account.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"physicalMail\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"An
  opt-in to receive special promotional gifts and material in the mail.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"specialOffers\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"An
  opt-in about receiving email regarding new features and products.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"PublicProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Basic
  information from a public profile.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"displayImageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  URL to the main display image of the public profile. Being deprecated.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  display name of the public profile.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"The
  ID which can be used to retrieve more details about the public profile.\";s:4:\"type\";s:6:\"string\";}s:12:\"profileImage\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  URL to the main profile image of the public profile.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  URL of the public profile.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Rank\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Information
  related to ranking of results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  type of rank.\";s:4:\"enum\";a:2:{i:0;s:21:\"RANK_TYPE_UNSPECIFIED\";i:1;s:14:\"RT_FINAL_SCORE\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  numerical value of the rank.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:18:\"RecaptchaChallenge\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"<a
  href=\"https://www.google.com/recaptcha/\">reCaptcha</a> challenge info.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  ID of the reCaptcha challenge.\";s:4:\"type\";s:6:\"string\";}s:8:\"response\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  response to the reCaptcha challenge.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RequestMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Common
  data that is in each API request.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"experimentIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Experiment
  IDs the current request belongs to.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Locale
  to use for the current request.\";s:4:\"type\";s:6:\"string\";}s:17:\"partnersSessionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Google
  Partners session ID.\";s:4:\"type\";s:6:\"string\";}s:13:\"trafficSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TrafficSource\";s:11:\"description\";s:42:\"Source
  of traffic for the current request.\";}s:13:\"userOverrides\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserOverrides\";s:11:\"description\";s:128:\"Values
  to use instead of the user's respective defaults for the current\nrequest. These
  are only honored by whitelisted products.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ResponseMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Common
  data that is in each API response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"debugInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DebugInfo\";s:11:\"description\";s:37:\"Debug
  information about this request.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"SpecializationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Agency
  specialization status\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"badgeSpecialization\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  specialization this status is for.\";s:4:\"enum\";a:6:{i:0;s:28:\"BADGE_SPECIALIZATION_UNKNOWN\";i:1;s:35:\"BADGE_SPECIALIZATION_ADWORDS_SEARCH\";i:2;s:36:\"BADGE_SPECIALIZATION_ADWORDS_DISPLAY\";i:3;s:35:\"BADGE_SPECIALIZATION_ADWORDS_MOBILE\";i:4;s:34:\"BADGE_SPECIALIZATION_ADWORDS_VIDEO\";i:5;s:37:\"BADGE_SPECIALIZATION_ADWORDS_SHOPPING\";}s:4:\"type\";s:6:\"string\";}s:24:\"badgeSpecializationState\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"State
  of agency specialization.\";s:4:\"enum\";a:4:{i:0;s:34:\"BADGE_SPECIALIZATION_STATE_UNKNOWN\";i:1;s:33:\"BADGE_SPECIALIZATION_STATE_PASSED\";i:2;s:37:\"BADGE_SPECIALIZATION_STATE_NOT_PASSED\";i:3;s:35:\"BADGE_SPECIALIZATION_STATE_IN_GRACE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"TrafficSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Source
  of traffic for the current request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"trafficSourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"Identifier
  to indicate where the traffic comes from.\nAn identifier has multiple letters created
  by a team which redirected the\ntraffic to us.\";s:4:\"type\";s:6:\"string\";}s:12:\"trafficSubId\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"Second
  level identifier to indicate where the traffic comes from.\nAn identifier has multiple
  letters created by a team which redirected the\ntraffic to us.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  resource representing a user of the Partners platform.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"afaInfoShared\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Whether
  or not the user has opted to share their Academy for Ads info with\nGoogle Partners.\";s:4:\"type\";s:7:\"boolean\";}s:31:\"availableAdwordsManagerAccounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:285:\"This
  is the list of AdWords Manager Accounts the user has edit access to.\nIf the user
  has edit access to multiple accounts, the user can choose the\npreferred account
  and we use this when a personal account is needed. Can\nbe empty meaning the user
  has access to no accounts.\n@OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AdWordsManagerAccountInfo\";}s:4:\"type\";s:5:\"array\";}s:19:\"certificationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  list of achieved certifications. These are calculated based on exam\nresults and
  other requirements.\n@OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Certification\";}s:4:\"type\";s:5:\"array\";}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CompanyRelation\";s:11:\"description\";s:106:\"The
  company that the user is associated with.\nIf not present, the user is not associated
  with any company.\";}s:24:\"companyVerificationEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  email address used by the user used for company verification.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:10:\"examStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  list of exams the user ever taken. For each type of exam, only one\nentry is listed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ExamStatus\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  ID of the user.\";s:4:\"type\";s:6:\"string\";}s:10:\"internalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  internal user ID.\nOnly available for a whitelisted set of api clients.\";s:4:\"type\";s:6:\"string\";}s:14:\"lastAccessTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  most recent time the user interacted with the Partners site.\n@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:13:\"primaryEmails\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  list of emails the user has access to/can select as primary.\n@OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"profile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/UserProfile\";s:11:\"description\";s:96:\"The
  profile information of a Partners user, contains all the directly\neditable user
  information.\";}s:13:\"publicProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PublicProfile\";s:11:\"description\";s:75:\"Information
  about a user's external public profile outside Google Partners.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"UserOverrides\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"Values
  to use instead of the user's respective defaults. These are only\nhonored by whitelisted
  products.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"IP
  address to use instead of the user's geo-located IP address.\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Logged-in
  user ID to impersonate instead of the user's ID.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"UserProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  profile information of a Partners user.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:11:\"description\";s:53:\"The
  user's mailing address, contains multiple fields.\";}s:21:\"adwordsManagerAccount\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"If
  the user has edit access to multiple accounts, the user can choose the\npreferred
  account and it is used when a personal account is needed. Can\nbe empty.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"channels\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"A
  list of ids representing which channels the user selected they were in.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  email address the user has selected on the Partners site as primary.\";s:4:\"type\";s:6:\"string\";}s:11:\"emailOptIns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/OptIns\";s:11:\"description\";s:71:\"The
  list of opt-ins for the user, related to communication preferences.\";}s:10:\"familyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  user's family name.\";s:4:\"type\";s:6:\"string\";}s:9:\"givenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  user's given name.\";s:4:\"type\";s:6:\"string\";}s:10:\"industries\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  list of ids representing which industries the user selected.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"jobFunctions\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"A
  list of ids represnting which job categories the user selected.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"languages\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  list of languages this user understands.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"markets\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"A
  list of ids representing which markets the user was interested in.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"migrateToAfa\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Whether
  or not to migrate the user's exam data to Academy for Ads.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  user's phone number.\";s:4:\"type\";s:6:\"string\";}s:18:\"primaryCountryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  user's primary country, an ISO 2-character code.\";s:4:\"type\";s:6:\"string\";}s:13:\"profilePublic\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Whether
  the user's public profile is visible to anyone with the URL.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}"
...
