---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:24:\"Prototype City Pairs API\";s:11:\"description\";s:82:\"Prototype
  project to demonstrate GSA API Standards and API Documentation Template.\";s:7:\"version\";s:5:\"0.0.0\";}"
host: api.gsa.gov
basePath: /travel/citypairs/v0
paths:
  /airfares:
    get:
      summary: Negotiated airfares
      description: This endpoint returns negotiated airfaires.n
      parameters:
      - name: award_year
        in: query
        description: 'Year of airfare award. Example: ''2017'''
        required: true
        type: string
        format: string
      - name: origin_airport_abbrev
        in: query
        description: 'Origin airport abbreviation. Example: ''ABQ''. Must include
          either this or the destination airport abbreviation.'
        required: false
        type: string
        format: string
      - name: destination_airport_abbrev
        in: query
        description: 'Destination airport abbreviation. Example: ''BWI''. Must include
          either this or the origination airport abbreviation.'
        required: false
        type: string
        format: string
      - name: api_key
        in: query
        description: API key for api.data.gov platform.
        required: true
        type: string
        format: string
        default: DEMO_KEY
      tags:
      - ""
      responses:
        200:
          description: An array of airfares
          schema:
            type: array
            items:
              $ref: '#/definitions/Airfare'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /airfares/{id}:
    get:
      summary: Individual airfare by ID
      description: This endpoint returns one airfare by ID. (This is just for demonstration
        purpose. For City Pairs, the ID does not have meaning.)n
      parameters:
      - name: id
        in: path
        description: Unique identifier
        required: true
        type: integer
        format: int32
      - name: api_key
        in: query
        description: API key for api.data.gov platform.
        required: true
        type: string
        format: string
        default: DEMO_KEY
      tags:
      - ""
      responses:
        200:
          description: An array of airfares
          schema:
            type: array
            items:
              $ref: '#/definitions/Airfare'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:7:\"Airfare\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:28:\"Generated
  unique identifier.\";}s:8:\"ITEM_NUM\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Item
  number.\";}s:10:\"AWARD_YEAR\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Award
  Year.\";}s:21:\"ORIGIN_AIRPORT_ABBREV\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Origin
  Airport Abbreviation.\";}s:26:\"DESTINATION_AIRPORT_ABBREV\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Destinatoin
  Airport Abbreviation.\";}s:16:\"ORIGIN_CITY_NAME\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Original
  City Name.\";}s:12:\"ORIGIN_STATE\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Origin
  State.\";}s:14:\"ORIGIN_COUNTRY\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Origin
  Country.\";}s:21:\"DESTINATION_CITY_NAME\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Destination
  City Name.\";}s:17:\"DESTINATION_STATE\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Destination
  State.\";}s:19:\"DESTINATION_COUNTRY\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Destination
  Country.\";}s:14:\"AIRLINE_ABBREV\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Airline
  Abbreviation.\";}s:12:\"AWARDED_SERV\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Awarded
  Serv.\";}s:9:\"PAX_COUNT\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"PAX
  Count.\";}s:8:\"YCA_FARE\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:9:\"YCA
  Fare.\";}s:8:\"XCA_FARE\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:9:\"XCA
  Fare.\";}s:13:\"BUSINESS_FARE\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:14:\"Business
  Fare.\";}s:23:\"ORIGIN_AIRPORT_LOCATION\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Origin
  Airport Location.\";}s:28:\"DESTINATION_AIRPORT_LOCATION\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Destination
  Airport Location.\";}s:25:\"ORIGIN_CITY_STATE_AIRPORT\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Origin
  City State Airport.\";}s:30:\"DESTINATION_CITY_STATE_AIRPORT\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:31:\"Destination
  City State Airport.\";}s:14:\"EFFECTIVE_DATE\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:16:\"Expiration
  Date.\";}s:15:\"EXPIRATION_DATE\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:16:\"Expiration
  Date.\";}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"required_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
