---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:12:\"justeat_tech\";}s:5:\"title\";s:19:\"Just
  Eat Tenant API\";s:7:\"version\";s:7:\"2.0.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:85:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_justeat_tech_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:36:\"https://public.je-apis.com/api-docs/\";s:7:\"version\";s:3:\"1.2\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"je-apis.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"je_apis\";s:4:\"type\";s:7:\"openapi\";}}"
host: public.je-apis.com
basePath: /
paths:
  /application/onlinestatus:
    get:
      description: Uri template /application/onlinestatus
      operationId: GetOnlineStatus
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.Core.Model.OrderOnlineState'
      summary: Gets the status
      tags:
      - application
  /application/{applicationId}/versionstatus/{versionId}:
    get:
      description: Uri template /application/{applicationId}/versionstatus/{versionId}
      operationId: GetVersionAndStatus
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: applicationId
        required: true
        type: string
      - in: path
        name: versionId
        required: true
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.Core.Model.VersionOnlineStatus'
      summary: Gets the application version and status
      tags:
      - application
  /application/{applicationId}/versionupdate/{versionId}:
    get:
      description: Uri template /application/{applicationId}/versionupdate/{versionId}
      operationId: GetApplicationVersion
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: applicationId
        required: true
        type: string
      - in: path
        name: versionId
        required: true
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.Core.Model.ApplicationVersion'
      summary: Gets the application version [Obsolete (As verified by Android/Ios
        on 23-02-2016)]
      tags:
      - application
  /baskets:
    post:
      description: Uri template /baskets
      operationId: CreateBasket
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: body
        name: createBasketRequest
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.CreateBasketRequest'
          maximum: 0
          minimum: 0
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.BasketCreateResponse'
        400:
          description: Bad request
      summary: Creates a Basket
      tags:
      - baskets
  /baskets/{basketId}:
    get:
      description: Uri template /baskets/{basketId}
      operationId: GetBasket
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: basketId
        required: true
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.BasketDetailsResponse'
        400:
          description: Bad request
      summary: Gets a Basket
      tags:
      - baskets
  /baskets/{basketId}/contactdetails/:
    put:
      description: Uri template /baskets/{basketId}/contactdetails/
      operationId: SetOrderContactDetails
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: basketId
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Basket.OrderContactDetailsRequest'
          maximum: 0
          minimum: 0
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Basket.SetOrderContactDetailsResult'
      summary: Set order contact details
      tags:
      - baskets
  /baskets/{basketId}/fulfilmenttime:
    put:
      description: Uri template /baskets/{basketId}/fulfilmenttime?time={time}&asap={asap}
      operationId: SetRequestedFulfilmentTime
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: basketId
        required: true
        type: string
      - in: query
        name: time
        required: false
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/System.Object'
          maximum: 0
          minimum: 0
      - in: query
        name: asap
        required: false
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Basket.SetRequestedFulfilmentTimeResult'
            items:
              $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Basket.SetRequestedFulfilmentTimeResult'
      summary: Set preferred order fulfilment time. We're expecting the time to be
        one of the choices that you got back from the GET, unadjusted for timezone.
      tags:
      - baskets
  /baskets/{basketId}/fulfilmenttimeslots/:
    get:
      description: Uri template /baskets/{basketId}/fulfilmenttimeslots/
      operationId: GetFulfilmentTimeslots
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: basketId
        required: true
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Basket.GetFulfilmentTimeSlotsResult'
      summary: Get available fulfilment times for basket
      tags:
      - baskets
  /baskets/{basketId}/notes:
    put:
      description: Uri template /baskets/{basketId}/notes
      operationId: SetOrderNotes
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: basketId
        required: true
        type: string
      - in: body
        name: notes
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Basket.SetOrderNotesRequest'
          maximum: 0
          minimum: 0
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Basket.SetOrderNotesResult'
      summary: '***STUB*** Set order notes'
      tags:
      - baskets
  /baskets/{basketId}/orderitems:
    post:
      description: Uri template /baskets/{basketId}/orderitems
      operationId: AddProductToBasket
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: basketId
        required: true
        type: string
      - in: body
        name: addProductRequest
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.AddProductRequest'
          maximum: 0
          minimum: 0
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.OrderItemInsertResponse'
        400:
          description: Bad request
      summary: Add products into a given basket
      tags:
      - baskets
  /baskets/{basketId}/orderitems/{orderItemId}:
    delete:
      description: Uri template /baskets/{basketId}/orderitems/{orderItemId}
      operationId: RemoveProductFromBasket
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: basketId
        required: true
        type: string
      - in: path
        name: orderItemId
        required: true
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.OrderItemRemoveResponse'
        400:
          description: Bad request
      summary: Remove products from a given basket
      tags:
      - baskets
  /baskets/{basketId}/orderitems/{orderItemId}/mealparts:
    post:
      description: Uri template /baskets/{basketId}/orderitems/{orderItemId}/mealparts
      operationId: UpdateProductsMealParts
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: basketId
        required: true
        type: string
      - in: path
        name: orderItemId
        required: true
        type: string
      - in: body
        name: updateMealPartsRequest
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.UpdateMealPartsRequest'
          maximum: 0
          minimum: 0
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.MealPartsResponse'
        400:
          description: Bad request
      summary: Add meal parts into a given product inside a given basket
      tags:
      - baskets
  /baskets/{basketId}/orderitems/{orderItemId}/optionalaccessories:
    post:
      description: Uri template /baskets/{basketId}/orderitems/{orderItemId}/optionalaccessories
      operationId: UpdateProductsOptionalAccessories
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: basketId
        required: true
        type: string
      - in: path
        name: orderItemId
        required: true
        type: string
      - in: body
        name: updateOptionalAccessoriesRequest
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.UpdateOptionalAccessoriesRequest'
          maximum: 0
          minimum: 0
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.OptionalAccessoriesResponse'
        400:
          description: Bad request
      summary: Add optional accessories into a given product inside a given basket
      tags:
      - baskets
  /baskets/{basketId}/orderitems/{orderItemId}/requiredaccessories:
    post:
      description: Uri template /baskets/{basketId}/orderitems/{orderItemId}/requiredaccessories
      operationId: UpdateProductsRequiredAccessories
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: basketId
        required: true
        type: string
      - in: path
        name: orderItemId
        required: true
        type: string
      - in: body
        name: updateRequiredAccessoriesRequest
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.UpdateRequiredAccessoriesRequest'
          maximum: 0
          minimum: 0
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.RequiredAccessoriesResponse'
        400:
          description: Bad request
      summary: Add required accessories into a given product inside a given basket
      tags:
      - baskets
  /baskets/{basketId}/paymentoptions:
    get:
      description: Uri template /baskets/{basketId}/paymentoptions?applePay={applePay}&androidPay={androidPay}&platform={platform}&voucherCode={voucherCode}
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: basketId
        required: true
        type: string
      - in: query
        name: platform
        required: false
        type: string
      - in: query
        maximum: 0
        minimum: 0
        name: applePay
        required: false
        type: boolean
      - in: query
        maximum: 0
        minimum: 0
        name: androidPay
        required: false
        type: boolean
      - in: query
        name: voucherCode
        required: false
        type: string
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Payments.BasketPaymentOptionsResult'
        400:
          description: Bad request
      summary: Get payment options for a basket
      tags:
      - baskets
      operationId: baskets.basketId.paymentoptions.get
  /baskets/{basketId}/serviceoptions:
    put:
      description: Uri template /baskets/{basketId}/serviceoptions
      operationId: UpdateBasketServiceOptions
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: basketId
        required: true
        type: string
      - in: body
        name: basketServiceOptionsRequest
        required: false
        schema:
          $ref: '#/definitions/JE.Api.Basket.DTOs.BasketServiceOptionsRequest'
          maximum: 0
          minimum: 0
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JE.Api.Basket.DTOs.OrderBasketResponse'
        400:
          description: Bad request
      summary: Change service options for Basket
      tags:
      - baskets
  /baskets/{basketId}/user:
    put:
      description: Uri template /baskets/{basketId}/user
      operationId: UpdateBasket
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: basketId
        required: true
        type: string
      - in: body
        name: request
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.UpdateUserRequest'
          maximum: 0
          minimum: 0
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.BasketUserUpdateResponse'
        400:
          description: Bad request
      summary: Updates a user of a basket
      tags:
      - baskets
  /baskets/{basketId}/zipcode:
    post:
      description: Uri template /baskets/{basketId}/zipcode
      operationId: UpdateZipCode
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: basketId
        required: true
        type: string
      - in: body
        name: zipCodeRequest
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.ZipCodeRequest'
          maximum: 0
          minimum: 0
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.ZipCodeResponse'
        400:
          description: Bad request
      summary: Update zipcode from a given basket
      tags:
      - baskets
  /consumer:
    get:
      description: Uri template /consumer
      operationId: GetConsumerDetails
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Retrieve successful
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerDetailsResponse'
        403:
          description: There is no auth token supplied, or the auth token is invalid
            or expired
      summary: Gets a consumer via either Basic Authorization/Auth-Token or a Bearer
        token
      tags:
      - consumer
    patch:
      description: Uri template /consumer
      operationId: UpdateConsumer
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: body
        name: updateRequest
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.ConsumerUpdateRequest'
          maximum: 0
          minimum: 0
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Update successful
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerDetailsUpdateResponse'
        404:
          description: Could not identify the consumer from the auth token or no auth
            token supplied
      summary: Updates a consumer
      tags:
      - consumer
    post:
      description: Uri template /consumer
      operationId: CreateConsumer
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: body
        name: consumerDetails
        required: false
        schema:
          $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerDetailsCreateRequest'
          maximum: 0
          minimum: 0
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.ConsumerLoginResponse'
        201:
          description: Creation successful
        403:
          description: Forbidden
      summary: Creates a consumer
      tags:
      - consumer
  /consumer/addresses:
    get:
      description: Uri template /consumer/addresses
      operationId: GetConsumerAddresses
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Addresses retrieval successful
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerAddressesResponse'
        403:
          description: There is no auth token supplied, or the auth token is invalid
            or expired
      summary: Gets a consumers addresses by the Auth-Token header
      tags:
      - consumer
  /consumer/devicetokens:
    delete:
      description: Uri template /consumer/devicetokens
      operationId: DeActivateDeviceToken
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: body
        name: deviceTokenRequest
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.DeviceTokenRequest'
          maximum: 0
          minimum: 0
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Delete successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.ConsumerDeviceTokenResponse'
            items:
              $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.ConsumerDeviceTokenResponse'
        400:
          description: No device token
        401:
          description: There is no auth token supplied, or the auth token is invalid
            or expired
      summary: Delete a device token for a consumer
      tags:
      - consumer
    put:
      description: Uri template /consumer/devicetokens
      operationId: ActivateDeviceToken
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: body
        name: deviceTokenRequest
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.DeviceTokenRequest'
          maximum: 0
          minimum: 0
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Activation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.ConsumerDeviceTokenResponse'
        400:
          description: No device token
        401:
          description: There is no auth token supplied, or the auth token is invalid
            or expired
      summary: Activate a device token for a consumer
      tags:
      - consumer
  /consumer/inflight-order-status:
    get:
      description: 'Uri template /consumer/inflight-order-status<br/><br/>Accept-Version:1
        StatusNames: <br/>[''AwaitingPayment'' or ''Processing'' or ''Completed''
        or ''Canceled'' or ''Declined'' or ''Accepted'' or ''OnItsWay'' or ''DueDateChanged'']<br/><br/>Accept-Version:2
        StatusNames: <br/>[''DueDateDelayed'']<br/><br/>Accept-Version:3 StatusNames:
        <br/>[''OrderReady'']<br/><br/>Accept-Version:4 StatusNames: <br/>[''PreOrderPending'']'
      operationId: GetInFlightOrderStatuses
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: header
        name: Auth-Token
        required: false
        type: string
      - in: header
        name: Accept-Version
        required: true
        type: string
      responses:
        200:
          description: Retrieve successful
          schema:
            $ref: '#/definitions/JE.Api.InFlightOrderStatus.DTOs.InFlightOrderResponse'
        400:
          description: Bad Request
        403:
          description: User not authorised
        404:
          description: User not found
      summary: Returns statuses for InFlight orders for a given consumer
      tags:
      - consumer
  /consumer/order-history:
    get:
      description: Uri template /consumer/order-history?page={page}&pageSize={pageSize}
      operationId: GetOrderHistory
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - format: int32
        in: query
        maximum: 0
        minimum: 0
        name: page
        required: false
        type: integer
      - format: int32
        in: query
        maximum: 0
        minimum: 0
        name: pageSize
        required: false
        type: integer
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Retrieve successful
          schema:
            $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.OrderHistoryDto'
        401:
          description: User not authorised
      summary: Return order history by Auth-Token
      tags:
      - consumer
  /consumer/password:
    put:
      description: Uri template /consumer/password
      operationId: UpdateConsumerPassword
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: body
        name: credentialsRequest
        required: false
        schema:
          $ref: '#/definitions/JE.Api.Consumer.DTOs.UpdatePasswordRequest'
          maximum: 0
          minimum: 0
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Changed and logged in
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ConsumerOperations.ChangePasswordLoginResponse'
        403:
          description: Invalid auth token - reset password or consumer auth token
            required
      summary: Changes a consumer password and logs in
      tags:
      - consumer
  /consumer/preferences:
    get:
      description: Uri template /consumer/preferences
      operationId: GetConsumerPreferences
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Preference retrieved successful
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerPreferencesResponse'
        403:
          description: There is no auth token supplied, or the auth token is invalid
            or expired
      summary: Get a consumers preferences by the Auth-Token header
      tags:
      - consumer
    post:
      description: Uri template /consumer/preferences
      operationId: SetConsumerPreferences
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: body
        name: updateRequest
        required: false
        schema:
          $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerPreferencesUpdateRequest'
          maximum: 0
          minimum: 0
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Preference successfully posted
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.ConsumerPreferencesUpdateResponse'
        400:
          description: Preference have duplicates or invalid keys
        403:
          description: There is no auth token supplied, or the auth token is invalid
            or expired
      summary: Update a consumers preferences by the Auth-Token header
      tags:
      - consumer
  /consumer/serviceable-addresses/restaurant/{restaurantId}:
    get:
      description: Uri template /consumer/serviceable-addresses/restaurant/{restaurantId}
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - format: int32
        in: path
        maximum: 0
        minimum: 0
        name: restaurantId
        required: true
        type: integer
      - format: int32
        in: query
        maximum: 0
        minimum: 0
        name: maxAmount
        required: false
        type: integer
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Addresses retrieval successful
          schema:
            $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.ServiceableAddresses.ServiceableAddressesResponse'
        401:
          description: User not authorised
        404:
          description: Parameters out of bounds
      summary: Returns the consumers serviceable addresses based the Auth-Token and
        the TR id
      tags:
      - consumer
      operationId: consumer.serviceable_addresses.restaurant.restaurantId.get
  /consumer/serviceable-addresses/restaurant/{restaurantId}/{maxAmount}:
    get:
      description: Uri template /consumer/serviceable-addresses/restaurant/{restaurantId}/{maxAmount}
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - format: int32
        in: path
        maximum: 0
        minimum: 0
        name: restaurantId
        required: true
        type: integer
      - format: int32
        in: path
        maximum: 0
        minimum: 0
        name: maxAmount
        required: true
        type: integer
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Addresses retrieval successful
          schema:
            $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.ServiceableAddresses.ServiceableAddressesResponse'
            items:
              $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.ServiceableAddresses.ServiceableAddressesResponse'
        401:
          description: User not authorised
        404:
          description: Parameters out of bounds
      summary: Returns the consumers serviceable addresses based the Auth-Token and
        the TR id
      tags:
      - consumer
      operationId: consumer.serviceable_addresses.restaurant.restaurantId.maxAmount.get
  /consumerhelp/customisation:
    get:
      description: Uri template /consumerhelp/customisation?orderid={orderid}&requestcontext={requestcontext}
      operationId: GetCustomisation
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: query
        name: orderId
        required: false
        type: string
      - in: query
        name: requestContext
        required: false
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.ConsumerHelpApi.Contracts.Customisation.HelpCustomisation'
        400:
          description: Bad request
      summary: Get customisation info for Consumer Help
      tags:
      - consumerhelp
  /consumerhelp/flows/{flow}/{orderId}/{action}:
    get:
      description: Uri template /consumerhelp/flows/{flow}/{orderId}/{action}
      operationId: GetFlowStep1
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: flow
        required: true
        type: string
      - in: path
        name: orderId
        required: true
        type: string
      - in: path
        name: action
        required: true
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.ConsumerHelpApi.Contracts.Flows.FlowResponse'
        400:
          description: Bad request
      summary: Get the next flow step in a Consumer Help flow
      tags:
      - consumerhelp
    post:
      description: Uri template /consumerhelp/flows/{flow}/{orderId}/{action}
      operationId: PostFlowStep1
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: flow
        required: true
        type: string
      - in: path
        name: orderId
        required: true
        type: string
      - in: path
        name: action
        required: true
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.ConsumerHelpApi.Contracts.Flows.FlowResponse'
            items:
              $ref: '#/definitions/JustEat.ConsumerHelpApi.Contracts.Flows.FlowResponse'
        400:
          description: Bad request
      summary: Post to a Consumer Help flow and get the next step
      tags:
      - consumerhelp
  /consumerhelp/flows/{flow}/{orderId}/{action}/{subaction}:
    get:
      description: Uri template /consumerhelp/flows/{flow}/{orderId}/{action}/{subaction}
      operationId: GetFlowStep2
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: flow
        required: true
        type: string
      - in: path
        name: orderId
        required: true
        type: string
      - in: path
        name: action
        required: true
        type: string
      - in: path
        name: subaction
        required: true
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.ConsumerHelpApi.Contracts.Flows.FlowResponse'
            items:
              $ref: '#/definitions/JustEat.ConsumerHelpApi.Contracts.Flows.FlowResponse'
        400:
          description: Bad request
      summary: Get the next flow step in a Consumer Help flow; extra URL segment
      tags:
      - consumerhelp
    post:
      description: Uri template /consumerhelp/flows/{flow}/{orderId}/{action}/{subaction}
      operationId: PostFlowStep2
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: flow
        required: true
        type: string
      - in: path
        name: orderId
        required: true
        type: string
      - in: path
        name: action
        required: true
        type: string
      - in: path
        name: subaction
        required: true
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.ConsumerHelpApi.Contracts.Flows.FlowResponse'
            items:
              $ref: '#/definitions/JustEat.ConsumerHelpApi.Contracts.Flows.FlowResponse'
        400:
          description: Bad request
      summary: Post to a Consumer Help flow and get the next step; extra URL segment
      tags:
      - consumerhelp
  /countries:
    get:
      description: Uri template /countries
      operationId: GetCountries
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      responses:
        200:
          description: Retrieval sucessful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.CountryResponse'
      summary: Get all country codes - response is an array of strings
      tags:
      - countries
  /experiments/active:
    post:
      description: Uri template /experiments/active
      operationId: GetActiveExperiments
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: body
        name: context
        required: false
        schema:
          $ref: '#/definitions/JE.Api.Experiment.Contract.ExperimentContext'
          maximum: 0
          minimum: 0
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JE.Api.Experiment.Contract.ExperimentResults'
      summary: Get active experiments
      tags:
      - experiments
  /health/check:
    get:
      description: Uri template /health/check
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.HealthResponse'
      summary: HealthHandler.Check
      tags:
      - health
      operationId: health.check.get
  /health/validate:
    get:
      description: Uri template /health/validate
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.HealthResponse'
            items:
              $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.HealthResponse'
      summary: HealthHandler.Check
      tags:
      - health
      operationId: health.validate.get
  /internal/for-testing/{basketId}/contactdetails/:
    put:
      description: Uri template /internal/for-testing/{basketId}/contactdetails/
      operationId: Put
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: basketId
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Basket.OrderContactDetailsRequest'
          maximum: 0
          minimum: 0
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.ForTestsResponse'
      summary: Testing validation
      tags:
      - internal
  /internal/health/all:
    get:
      description: Uri template /internal/health/all
      operationId: GetHealth
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      responses:
        200:
          description: API is healthy; all checks good
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.HealthCheckResponse'
        500:
          description: Something went wrong with running 1 or more tests (but not
            test failure)
        502:
          description: 1 or more tests actively failed
      summary: Runs all known health checks - response is array of HealthCheckResult
      tags:
      - internal
  /logins:
    post:
      description: Uri template /logins
      operationId: CreateLoginToken
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: body
        name: credentialsRequest
        required: false
        schema:
          $ref: '#/definitions/JE.Api.Consumer.DTOs.CredentialsRequest'
          maximum: 0
          minimum: 0
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.LoginResponse'
        401:
          description: reCaptcha challenge must be completed before proceeding. Add
            x-recaptcha-answer header to request after user solves it and then re-run.
        403:
          description: A user with the given username and password does not exist
        429:
          description: Too many login attempts for username. Temporarily throttled
            (see ThrottleTimeoutSeconds header / response body)
      summary: Login a user and return an Auth-Token
      tags:
      - logins
  /menus/{menuId}/deliveryareas:
    get:
      description: Uri template /menus/{menuId}/deliveryareas
      operationId: GetDeliveryAreas
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - format: int32
        in: path
        maximum: 0
        minimum: 0
        name: menuId
        required: true
        type: integer
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.DeliveryAreasResponse'
      summary: Gets delivery areas from a given menu
      tags:
      - menus
  /menus/{menuId}/productcategories:
    get:
      description: Uri template /menus/{menuId}/productcategories
      operationId: GetCategoriesForMenu
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - format: int32
        in: path
        maximum: 0
        minimum: 0
        name: menuId
        required: true
        type: integer
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.ResponseData.ProductCategoryResult'
      summary: Gets categories for a given menu
      tags:
      - menus
  /menus/{menuId}/productcategories/{categoryId}/products:
    get:
      description: Uri template /menus/{menuId}/productcategories/{categoryId}/products
      operationId: GetProducts
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - format: int32
        in: path
        maximum: 0
        minimum: 0
        name: menuId
        required: true
        type: integer
      - format: int32
        in: path
        maximum: 0
        minimum: 0
        name: categoryId
        required: true
        type: integer
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.ResponseData.ProductResults'
      summary: Gets all products from a given category
      tags:
      - menus
  /menus/{menuId}/products/{productId}:
    get:
      description: Uri template /menus/{menuId}/products/{productId}
      operationId: GetProduct
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - format: int32
        in: path
        maximum: 0
        minimum: 0
        name: menuId
        required: true
        type: integer
      - format: int32
        in: path
        maximum: 0
        minimum: 0
        name: productId
        required: true
        type: integer
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.ResponseData.ProductResult'
            items:
              $ref: '#/definitions/JustEat.PublicApi.Site.ResponseData.ProductResult'
      summary: Gets product from a given menu (Deprecated, do not use)
      tags:
      - menus
  /orders/:
    post:
      description: 'SuccessState values are: Unknown = 0, Successful, InvalidBasket,
        BasketNotOrderable, PotentialDuplicate, BasketDoesNotExist, BasketTooBig,
        InvalidContactDetails, GuestAccountCannotBeCreated, InvalidAuthToken'
      operationId: CreateOrderFromBasket
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: body
        name: createOrderRequest
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.CreateOrderRequest'
          maximum: 0
          minimum: 0
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.OrderCreatedResponse'
        400:
          description: Order creation prerequisite not met, see response body for
            details.
        401:
          description: Consumer unauthorized (invalid or expired Auth-Token)
        429:
          description: Too many requests
      summary: Create an Order from a Basket
      tags:
      - orders
  /orders/{orderId}:
    get:
      description: Uri template /orders/{orderId}
      operationId: GetOrderDetails
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: orderId
        required: true
        type: string
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Retrieve successful
          schema:
            $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.ConsumerOrderDto'
        401:
          description: Not a valid consumer auth token
        404:
          description: OrderId or User Token invalid
      summary: Gets an order by OrderId
      tags:
      - orders
  /orders/{orderId}/campaigncontent:
    get:
      description: Uri template /orders/{orderId}/campaigncontent
      operationId: GetOrderGivenAway
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: orderId
        required: true
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.CampaignContentResponse'
        400:
          description: Bad request
      summary: Get campaign content details of orders that have been given away
      tags:
      - orders
  /orders/{orderId}/pay/accountcredit:
    post:
      description: Uri template /orders/{orderId}/pay/accountcredit
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: orderId
        required: true
        type: string
      - in: body
        name: request
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Payments.CashCheckoutPaymentRequest'
          maximum: 0
          minimum: 0
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JE.Api.Payments.Contracts.CheckingOut.CheckoutAttemptResponse'
        400:
          description: Bad request
        403:
          description: Forbidden
      summary: Pay for an order using account credit
      tags:
      - orders
      operationId: orders.orderId.pay.accountcredit.post
  /orders/{orderId}/pay/android/:
    post:
      description: Uri template /orders/{orderId}/pay/android/
      operationId: MakePaymentUsingAndroidPay
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: orderId
        required: true
        type: string
      - in: body
        name: androidPayPaymentRequest
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.AndroidPay.AndroidPayPaymentRequest'
          maximum: 0
          minimum: 0
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.AndroidPay.AndroidPayPaymentResponse'
        400:
          description: BadRequest
        401:
          description: UnAuthorized
        500:
          description: InternalServerError
      summary: Pay using Android Pay
      tags:
      - orders
  /orders/{orderId}/pay/apple/:
    post:
      description: Uri template /orders/{orderId}/pay/apple/
      operationId: MakePaymentUsingApplePay
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: orderId
        required: true
        type: string
      - in: body
        name: applePayPaymentRequest
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ApplePay.ApplePayPaymentRequest'
          maximum: 0
          minimum: 0
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.ApplePay.ApplePayPaymentResponse'
        400:
          description: BadRequest
        401:
          description: UnAuthorized
      summary: Pay using Apple Pay
      tags:
      - orders
  /orders/{orderId}/pay/cash:
    post:
      description: Uri template /orders/{orderId}/pay/cash
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: orderId
        required: true
        type: string
      - in: body
        name: request
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Payments.CashCheckoutPaymentRequest'
          maximum: 0
          minimum: 0
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JE.Api.Payments.Contracts.CheckingOut.Cash.CashPaymentResponse'
        400:
          description: Bad request
        403:
          description: There is no auth token supplied, or the auth token is invalid
            or expired
      summary: Pay for an order using cash
      tags:
      - orders
      operationId: orders.orderId.pay.cash.post
  /orders/{orderId}/pay/savedcard:
    post:
      description: Uri template /orders/{orderId}/pay/savedcard
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: orderId
        required: true
        type: string
      - in: body
        name: request
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Payments.SavedCardCheckoutPaymentRequest'
          maximum: 0
          minimum: 0
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Payments.SavedCardCheckoutPaymentResponse'
        400:
          description: Bad request
        403:
          description: There is no auth token supplied, or the auth token is invalid
            or expired
      summary: Pay for an order using a saved card
      tags:
      - orders
      operationId: orders.orderId.pay.savedcard.post
  /orders/{orderId}/payment/status/:
    get:
      description: Uri template /orders/{orderId}/payment/status/
      operationId: GetOrderPaymentStatus
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: orderId
        required: true
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Payments.GetOrderPaymentStatusResult'
        400:
          description: Bad request
      summary: Gets the current status of the payment for an order
      tags:
      - orders
  /orders/{orderId}/paymentoptions:
    get:
      description: Uri template /orders/{orderId}/paymentoptions?applePay={applePay}&androidPay={androidPay}&platform={platform}&voucherCode={voucherCode}
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: orderId
        required: true
        type: string
      - in: query
        name: platform
        required: false
        type: string
      - in: query
        maximum: 0
        minimum: 0
        name: applePay
        required: false
        type: boolean
      - in: query
        maximum: 0
        minimum: 0
        name: androidPay
        required: false
        type: boolean
      - in: query
        name: voucherCode
        required: false
        type: string
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.Payments.OrderPaymentOptionsResult'
        400:
          description: Bad request
      summary: Get payment options for an order
      tags:
      - orders
      operationId: orders.orderId.paymentoptions.get
  /orders/{orderId}/reorder:
    post:
      description: Uri template /orders/{orderId}/reorder
      operationId: CreateBasketFromOrder
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: orderId
        required: true
        type: string
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/JE.Api.ConsumerOrder.DTOs.Reorder.ReorderBasketDto'
        201:
          description: Creation successful
        400:
          description: The requested order is not reorderable
        401:
          description: Auth-Token invalid
        404:
          description: OrderId not found
      summary: Creates a new basket from a previous order
      tags:
      - orders
  /ratings:
    post:
      description: Uri template /ratings
      operationId: PostReview
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: body
        name: postRatingData
        required: false
        schema:
          $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.PostRatingsRequest'
          maximum: 0
          minimum: 0
      - in: header
        name: Auth-Token
        required: false
        type: string
      responses:
        200:
          description: review submitted
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.PostReviewResponse'
        403:
          description: There is no auth token supplied, or the auth token is invalid
            or expired
      summary: Submits a user review for a given order
      tags:
      - ratings
  /reset-password-tokens:
    post:
      description: Uri template /reset-password-tokens
      operationId: CreateResetToken
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: body
        name: forgottenPasswordRequest
        required: false
        schema:
          $ref: '#/definitions/JE.Api.Consumer.DTOs.ResetPasswordTokenRequest'
          maximum: 0
          minimum: 0
      responses:
        200:
          description: Reset password token created, forgotten password email is being
            sent
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.ResetPasswordTokenResponse'
      summary: Creates a reset password token, initiates sending an email to the consumer
        with a link to reset their password. Device type will currently allow for
        customisation of email links; include if the calling device requires custom
        templates.
      tags:
      - reset-password-tokens
  /restaurants:
    get:
      description: Uri template /restaurants?freetext={freeText}&cuisine={cuisine}&name={restaurantName}
      operationId: GetRestaurantsByFreeText
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: query
        name: freeText
        required: false
        type: string
      - in: query
        name: cuisine
        required: false
        type: string
      - in: query
        name: restaurantName
        required: false
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.DTOs.Responses.ConsumerSearchResponseFreeText'
      summary: Search restaurants by free text
      tags:
      - restaurants
  /restaurants/available_badges:
    get:
      description: Uri template restaurants/available_badges
      operationId: GetAvailableBadges
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.BadgesResponse'
        400:
          description: Bad request
      summary: Gets available badges
      tags:
      - restaurants
  /restaurants/v3:
    get:
      description: Uri template /restaurants/v3?q={postCode}&c={cuisine}&name={restaurantName}
      operationId: SearchVersion3
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: query
        name: postCode
        required: false
        type: string
      - in: query
        name: cuisine
        required: false
        type: string
      - in: query
        name: restaurantName
        required: false
        type: string
      - in: header
        name: Accept-Version
        required: true
        type: string
      - in: header
        maximum: 0
        minimum: 0
        name: UseSearchOrchestrator
        required: false
        type: boolean
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JE.Api.RestaurantMenu.DTOs.Restaurants.Version2.ConsumerSearchResponse'
      summary: Search V3 restaurants by postcode and/or cuisine type, version header
        kept for backwards compatibility
      tags:
      - restaurants
  /restaurants/{restaurantId}/details:
    get:
      description: Uri template /restaurants/{restaurantId}/details
      operationId: GetRestaurantDetails
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: path
        name: restaurantId
        required: true
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.DataAccess.InternalApiClients.ClientModels.RestaurantDetailResult'
      summary: Gets restaurant details
      tags:
      - restaurants
  /restaurants/{restaurantId}/menus:
    get:
      description: Uri template /restaurants/{restaurantId}/menus?delivery={delivery}&current={current}&postcode={postcode}
      operationId: GetMenus
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - format: int32
        in: path
        maximum: 0
        minimum: 0
        name: restaurantId
        required: true
        type: integer
      - in: query
        maximum: 0
        minimum: 0
        name: current
        required: false
        type: boolean
      - in: query
        maximum: 0
        minimum: 0
        name: delivery
        required: false
        type: boolean
      - in: query
        name: postcode
        required: false
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.ResponseData.MenuResult'
      summary: Gets menus of a restaurant
      tags:
      - restaurants
  /restaurants/{restaurantId}/menus/available:
    get:
      description: Uri template /restaurants/{restaurantId}/menus/available?time={utcTime}
      operationId: GetAvailableMenus
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - format: int32
        in: path
        maximum: 0
        minimum: 0
        name: restaurantId
        required: true
        type: integer
      - in: query
        name: utcTime
        required: false
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.DataAccess.InternalApiClients.ClientModels.AvailableMenusResult'
      summary: Gets all available menus for a given restaurant and time
      tags:
      - restaurants
  /restaurants/{restaurantId}/productcategories:
    get:
      description: Uri template /restaurants/{restaurantId}/productcategories?type={serviceType}&time={utcTime}&zipcode={zipcode}
      operationId: GetProductCategories
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - format: int32
        in: path
        maximum: 0
        minimum: 0
        name: restaurantId
        required: true
        type: integer
      - in: query
        name: serviceType
        required: false
        type: string
      - in: query
        name: utcTime
        required: false
        type: string
      - in: query
        name: zipcode
        required: false
        type: string
      - in: header
        name: Accept-Version
        required: true
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.DataAccess.InternalApiClients.ClientModels.ProductCategoriesResult'
      summary: Gets all product categories for a given restaurant
      tags:
      - restaurants
  /restaurants/{restaurantId}/reviews:
    get:
      description: Uri template /restaurants/{restaurantId}/reviews?p={pageNumber}&s={pageSize}
      operationId: GetRestaurantReviews
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - format: int32
        in: path
        maximum: 0
        minimum: 0
        name: restaurantId
        required: true
        type: integer
      - format: int32
        in: query
        maximum: 0
        minimum: 0
        name: pageNumber
        required: false
        type: integer
      - format: int32
        in: query
        maximum: 0
        minimum: 0
        name: pageSize
        required: false
        type: integer
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.RestaurantReview.RestaurantReviewResponse'
      summary: Get paged list of reviews for a given restaurant
      tags:
      - restaurants
  /terms:
    get:
      description: Uri template /terms
      operationId: GetLatestTermsAndConditions
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      responses:
        200:
          description: Retrieve successful
          schema:
            $ref: '#/definitions/JE.Api.Consumer.DTOs.TermsAndConditionsResponse'
      summary: Gets the latest terms and conditions
      tags:
      - terms
  /zipcodeautocomplete:
    get:
      description: Uri template /zipcodeautocomplete?term={term}&resultsCount={resultsCount}
      operationId: GetZipCodeAutoCompleteSuggestions
      parameters:
      - description: uk
        in: header
        name: Accept-Tenant
        required: true
        type: string
      - in: header
        name: Authorization
        required: true
        type: string
      - in: query
        name: term
        required: false
        type: string
      - in: query
        name: resultsCount
        required: false
        type: string
      responses:
        200:
          description: Operation successful
          schema:
            $ref: '#/definitions/JustEat.PublicApi.Site.Handlers.DTOs.ZipCodeAutoCompleteResponse'
      summary: Gets zipcode autocomplete suggestions
      tags:
      - zipcodeautocomplete
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":218:{s:46:\"JE.Api.Basket.DTOs.BasketServiceOptionsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"IsReorder\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Boolean\";s:4:\"type\";s:7:\"boolean\";}s:11:\"ServiceTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"DateTime\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"ServiceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"DeliveryServiceType\";s:4:\"enum\";a:3:{i:0;s:8:\"Delivery\";i:1;s:10:\"Collection\";i:2;s:21:\"NoDeliveryServiceType\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"ServiceType\";}}s:27:\"JE.Api.Basket.DTOs.MealPart\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"GroupId\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"OptionalAccessories\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"IEnumerable[JE.Api.Basket.DTOs.OptionalAccessory]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/JE.Api.Basket.DTOs.OptionalAccessory\";}s:4:\"type\";s:5:\"array\";}s:19:\"RequiredAccessories\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"IEnumerable[JE.Api.Basket.DTOs.RequiredAccessory]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/JE.Api.Basket.DTOs.RequiredAccessory\";}s:4:\"type\";s:5:\"array\";}}}s:34:\"JE.Api.Basket.DTOs.MessageKeyValue\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"DisplayValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:7:\"KeyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}}}s:35:\"JE.Api.Basket.DTOs.MultiBuyDiscount\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"Amount\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}s:12:\"DiscountType\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:11:\"OrderItemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:13:\"ProductTypeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:31:\"JE.Api.Basket.DTOs.OfferDetails\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"Discount\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}s:12:\"DiscountType\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"QualifyingValue\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}}}s:36:\"JE.Api.Basket.DTOs.OptionalAccessory\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"UnitPrice\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}}}s:38:\"JE.Api.Basket.DTOs.OrderBasketResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":19:{s:14:\"DeliveryCharge\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}s:8:\"Discount\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}s:9:\"Discounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"IEnumerable[JE.Api.Basket.DTOs.OfferDetails]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/JE.Api.Basket.DTOs.OfferDetails\";}s:4:\"type\";s:5:\"array\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:6:\"MenuId\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"MultiBuyDiscount\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}s:17:\"MultiBuyDiscounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"IEnumerable[JE.Api.Basket.DTOs.MultiBuyDiscount]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/JE.Api.Basket.DTOs.MultiBuyDiscount\";}s:4:\"type\";s:5:\"array\";}s:10:\"OrderItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"IEnumerable[JE.Api.Basket.DTOs.OrderItemView]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/JE.Api.Basket.DTOs.OrderItemView\";}s:4:\"type\";s:5:\"array\";}s:9:\"Orderable\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Boolean\";s:4:\"type\";s:7:\"boolean\";}s:12:\"RestaurantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"ServiceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:8:\"SubTotal\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}s:5:\"Taxes\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"IEnumerable[JE.Api.Basket.DTOs.Tax]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/JE.Api.Basket.DTOs.Tax\";}s:4:\"type\";s:5:\"array\";}s:7:\"ToSpend\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}s:5:\"Total\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}s:15:\"TotalTipsAmount\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}s:6:\"Totals\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"IEnumerable[JE.Api.Basket.DTOs.User]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/JE.Api.Basket.DTOs.User\";}s:4:\"type\";s:5:\"array\";}s:10:\"UserPrompt\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"IEnumerable[JE.Api.Basket.DTOs.UserPrompt]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/JE.Api.Basket.DTOs.UserPrompt\";}s:4:\"type\";s:5:\"array\";}s:7:\"ZipCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}}}s:32:\"JE.Api.Basket.DTOs.OrderItemView\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:13:\"CombinedPrice\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}s:9:\"MealParts\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"IEnumerable[JE.Api.Basket.DTOs.MealPart]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/JE.Api.Basket.DTOs.MealPart\";}s:4:\"type\";s:5:\"array\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:19:\"OptionalAccessories\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"IEnumerable[JE.Api.Basket.DTOs.OptionalAccessory]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/JE.Api.Basket.DTOs.OptionalAccessory\";}s:4:\"type\";s:5:\"array\";}s:11:\"OrderItemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:9:\"ProductId\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"ProductTypeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"RequiredAccessories\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"IEnumerable[JE.Api.Basket.DTOs.RequiredAccessory]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/JE.Api.Basket.DTOs.RequiredAccessory\";}s:4:\"type\";s:5:\"array\";}s:7:\"Synonym\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:9:\"UnitPrice\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}s:15:\"UserDisplayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}}}s:36:\"JE.Api.Basket.DTOs.RequiredAccessory\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"GroupId\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"UnitPrice\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}}}s:40:\"JE.Api.Basket.DTOs.SimpleProductResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}}}s:22:\"JE.Api.Basket.DTOs.Tax\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"TaxName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:7:\"TaxRate\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}s:13:\"TaxRateAmount\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}}}s:23:\"JE.Api.Basket.DTOs.User\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:5:\"Total\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}}}s:29:\"JE.Api.Basket.DTOs.UserPrompt\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"DefaultMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:13:\"MessageValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"IEnumerable[JE.Api.Basket.DTOs.MessageKeyValue]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/JE.Api.Basket.DTOs.MessageKeyValue\";}s:4:\"type\";s:5:\"array\";}s:10:\"StatusCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}}}s:49:\"JE.Api.Consumer.DTOs.ConsumerAddressCreateRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"AddressName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:4:\"City\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:5:\"Line1\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:5:\"Line2\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:5:\"Line3\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:7:\"ZipCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:5:\"Line1\";i:1;s:4:\"City\";i:2;s:7:\"ZipCode\";i:3;s:11:\"AddressName\";}}s:44:\"JE.Api.Consumer.DTOs.ConsumerAddressResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"AddressName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:4:\"City\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:9:\"IsDefault\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Boolean\";s:4:\"type\";s:7:\"boolean\";}s:5:\"Line1\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:5:\"Line2\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:5:\"Line3\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:7:\"ZipCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}}}s:46:\"JE.Api.Consumer.DTOs.ConsumerAddressesResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Addresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"IEnumerable[JE.Api.Consumer.DTOs.ConsumerAddressResponse]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/JE.Api.Consumer.DTOs.ConsumerAddressResponse\";}s:4:\"type\";s:5:\"array\";}}}s:49:\"JE.Api.Consumer.DTOs.ConsumerDetailsCreateRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:11:\"AccountType\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:14:\"AddressRequest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:63:\"#/definitions/JE.Api.Consumer.DTOs.ConsumerAddressCreateRequest\";s:11:\"description\";s:28:\"ConsumerAddressCreateRequest\";}s:11:\"DateOfBirth\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"DateTime\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"DeviceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:10:\"DeviceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:11:\"DeviceToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:10:\"DeviceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:12:\"EmailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:9:\"FirstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:8:\"LastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:11:\"PhoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:20:\"TermsAndConditionsId\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"WantsNewsletter\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Boolean\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:8:{i:0;s:8:\"Password\";i:1;s:8:\"DeviceId\";i:2;s:10:\"DeviceName\";i:3;s:10:\"DeviceType\";i:4;s:12:\"EmailAddress\";i:5;s:9:\"FirstName\";i:6;s:8:\"LastName\";i:7;s:20:\"TermsAndConditionsId\";}}s:44:\"JE.Api.Consumer.DTOs.ConsumerDetailsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"AccountType\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:10:\"ConsumerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"ConsumerStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:11:\"CreatedDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"DateTime\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"DateOfBirth\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"DateTime\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"EmailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:9:\"FirstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:8:\"LastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:11:\"PhoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:20:\"TermsAndConditionsId\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"WantsNewsletter\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Boolean\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:6:{i:0;s:10:\"ConsumerId\";i:1;s:2:\"Id\";i:2;s:12:\"EmailAddress\";i:3;s:9:\"FirstName\";i:4;s:8:\"LastName\";i:5;s:20:\"TermsAndConditionsId\";}}s:50:\"JE.Api.Consumer.DTOs.ConsumerDetailsUpdateResponse\";O:8:\"stdClass\":0:{}s:39:\"JE.Api.Consumer.DTOs.ConsumerPreference\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"Email\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Boolean\";s:4:\"type\";s:7:\"boolean\";}s:3:\"Key\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:4:\"Push\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Boolean\";s:4:\"type\";s:7:\"boolean\";}s:3:\"Sms\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Boolean\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:4:{i:0;s:3:\"Key\";i:1;s:4:\"Push\";i:2;s:5:\"Email\";i:3;s:3:\"Sms\";}}s:48:\"JE.Api.Consumer.DTOs.ConsumerPreferencesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"PreferenceVersionViewed\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"Preferences\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"IEnumerable[JE.Api.Consumer.DTOs.DisplayConsumerPreference]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/JE.Api.Consumer.DTOs.DisplayConsumerPreference\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:11:\"Preferences\";i:1;s:23:\"PreferenceVersionViewed\";}}s:53:\"JE.Api.Consumer.DTOs.ConsumerPreferencesUpdateRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"DeviceToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:10:\"DeviceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:12:\"EmailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:11:\"PhoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:23:\"PreferenceVersionViewed\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"Preferences\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"IEnumerable[JE.Api.Consumer.DTOs.ConsumerPreference]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/JE.Api.Consumer.DTOs.ConsumerPreference\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:11:\"Preferences\";i:1;s:23:\"PreferenceVersionViewed\";}}s:54:\"JE.Api.Consumer.DTOs.ConsumerPreferencesUpdateResponse\";O:8:\"stdClass\":0:{}s:39:\"JE.Api.Consumer.DTOs.CredentialsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"DeviceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:10:\"DeviceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:11:\"DeviceToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:10:\"DeviceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:8:\"Username\";i:1;s:8:\"Password\";i:2;s:8:\"DeviceId\";i:3;s:10:\"DeviceName\";i:4;s:10:\"DeviceType\";}}s:46:\"JE.Api.Consumer.DTOs.DisplayConsumerPreference\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Boolean\";s:4:\"type\";s:7:\"boolean\";}s:3:\"Key\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:4:\"Push\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Boolean\";s:4:\"type\";s:7:\"boolean\";}s:3:\"Sms\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Boolean\";s:4:\"type\";s:7:\"boolean\";}s:4:\"Sort\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:5:{i:0;s:11:\"DisplayName\";i:1;s:3:\"Key\";i:2;s:4:\"Push\";i:3;s:5:\"Email\";i:4;s:3:\"Sms\";}}s:34:\"JE.Api.Consumer.DTOs.LoginResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Token\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"Token\";}}s:39:\"JE.Api.Consumer.DTOs.PasswordValidation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"Enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Boolean\";s:4:\"type\";s:7:\"boolean\";}s:9:\"ErrorText\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:8:\"InfoText\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:5:\"Regex\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:7:\"Enabled\";i:1;s:9:\"ErrorText\";i:2;s:8:\"InfoText\";i:3;s:5:\"Regex\";}}s:46:\"JE.Api.Consumer.DTOs.ResetPasswordTokenRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"DeviceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:12:\"EmailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"EmailAddress\";}}s:47:\"JE.Api.Consumer.DTOs.ResetPasswordTokenResponse\";O:8:\"stdClass\":0:{}s:47:\"JE.Api.Consumer.DTOs.TermsAndConditionsResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int32\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Link\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}}}s:42:\"JE.Api.Consumer.DTOs.UpdatePasswordRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"DeviceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:10:\"DeviceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:10:\"DeviceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:8:\"Password\";i:1;s:8:\"DeviceId\";i:2;s:10:\"DeviceName\";i:3;s:10:\"DeviceType\";}}s:42:\"JE.Api.ConsumerOrder.DTOs.ConsumerOrderDto\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:15:\"AskUserToReview\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Boolean\";s:4:\"type\";s:7:\"boolean\";}s:6:\"Basket\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:63:\"#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.BasketInfo\";s:11:\"description\";s:10:\"BasketInfo\";}s:8:\"Consumer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:65:\"#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.ConsumerInfo\";s:11:\"description\";s:12:\"ConsumerInfo\";}s:8:\"Delivery\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/JE.Api.ConsumerOrder.DTOs.DeliveryDto\";s:11:\"description\";s:11:\"DeliveryDto\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:7:\"IsFixed\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Boolean\";s:4:\"type\";s:7:\"boolean\";}s:8:\"IsLocked\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Boolean\";s:4:\"type\";s:7:\"boolean\";}s:13:\"IsReorderable\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Boolean\";s:4:\"type\";s:7:\"boolean\";}s:8:\"LegacyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Int64\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"Order\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:62:\"#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.OrderInfo\";s:11:\"description\";s:9:\"OrderInfo\";}s:7:\"Payment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:64:\"#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.PaymentInfo\";s:11:\"description\";s:11:\"PaymentInfo\";}s:6:\"Rating\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/JE.Api.ConsumerOrder.DTOs.RatingMeta\";s:11:\"description\";s:10:\"RatingMeta\";}s:10:\"Restaurant\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/JE.Api.ConsumerOrder.DTOs.RestaurantDto\";s:11:\"description\";s:13:\"RestaurantDto\";}s:6:\"Review\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/JE.Api.ConsumerOrder.DTOs.Review\";s:11:\"description\";s:6:\"Review\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}}}s:37:\"JE.Api.ConsumerOrder.DTOs.DeliveryDto\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"Address\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:4:\"City\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:11:\"Geoposition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/JE.Api.ConsumerOrder.DTOs.Geoposition\";s:11:\"description\";s:11:\"Geoposition\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:11:\"PhoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:8:\"Postcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}}}s:37:\"JE.Api.ConsumerOrder.DTOs.Geoposition\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"AccuracyDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:16:\"AccuracyInMetres\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Double\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"Latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Double\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"Longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Double\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"Source\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}}}s:49:\"JE.Api.ConsumerOrder.DTOs.OrderDetails.BasketInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"BasketId\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"String\";s:4:\"type\";s:6:\"string\";}s:14:\"DeliveryCharge\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}s:8:\"Discount\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";s:11:\"description\";s:7:\"Decimal\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/System.Decimal\";}}s:9:\"Discounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"IEnumerable[JE.Api.ConsumerOrder.DTOs.OrderDetails.OfferDetails]\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:65:\"#/definitions/JE.Api.ConsumerOrder.DTOs.OrderDetails.OfferDetails\";}s:4:\"type\";s:5:\"array\";}s:5:\"Items\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"IEnumerable[JE.Api.ConsumerOrder.DTOs.O
[...]
