---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:20:\"hello@getsandbox.com\";s:4:\"name\";s:15:\"Sandbox
  Support\";s:3:\"url\";s:22:\"https://getsandbox.com\";}s:11:\"description\";s:11:\"Sandbox
  API\";s:14:\"termsOfService\";s:48:\"https://getsandbox.com/policy/customer-agreement\";s:5:\"title\";s:7:\"Sandbox\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:15:\"developer_tools\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#161924\";s:3:\"url\";s:85:\"https://api.apis.guru/v2/cache/logo/https_getsandbox.com_lib_img_logo-white-72dpi.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:57:\"https://getsandbox.com/lib/js/vendor/swagger/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"getsandbox.com\";s:6:\"x-tags\";a:6:{i:0;s:7:\"sandbox\";i:1;s:3:\"API\";i:2;s:4:\"REST\";i:3;s:4:\"SOAP\";i:4;s:7:\"Swagger\";i:5;s:7:\"OpenAPI\";}}"
host: getsandbox.com
basePath: /api/
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:15:\"ActivityMessage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"createdTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Epoch
  time in milliseconds when the message was created\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  details of the message when type is 'log'\";s:4:\"type\";s:6:\"string\";}s:13:\"messageObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/RuntimeTransaction\";s:11:\"description\";s:49:\"The
  details of the message when type is 'request'\";}s:11:\"messageType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"request\";i:1;s:3:\"log\";}s:4:\"type\";s:6:\"string\";}s:9:\"sandboxId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  ID of the sandbox that generated this message\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ConfiguredRouteDetails\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:19:\"activeErrorOverride\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:43:\"Whether
  error overrides are enabled or not.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"activeLatency\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:42:\"Whether
  latency delays are enabled or not.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"defaultLatency\";O:8:\"stdClass\":5:{s:11:\"description\";s:64:\"A
  delay in milliseconds applied to requests at a 'normal' level.\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:30000;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:17:\"errorOverrideType\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  type of error override applied to this route.\";s:4:\"enum\";a:3:{i:0;s:4:\"NONE\";i:1;s:7:\"TIMEOUT\";i:2;s:12:\"SERVICE_DOWN\";}s:4:\"type\";s:6:\"string\";}s:11:\"loadLatency\";O:8:\"stdClass\":5:{s:11:\"description\";s:62:\"A
  delay in milliseconds applied to requests at a 'high' level.\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:30000;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:13:\"loadThreshold\";O:8:\"stdClass\":5:{s:11:\"description\";s:59:\"The
  threshold in transactions/second to signify 'high' load\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:6:\"method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:11:\"routeConfig\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/RouteConfig\";}s:9:\"transport\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:17:\"errorOverrideType\";}s:4:\"type\";s:6:\"object\";}s:13:\"CreateSandbox\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"commitBaseTemplate\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:63:\"Whether
  to commit the example Sandbox definition upon creation.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":5:{s:11:\"description\";s:29:\"Text
  describing this Sandbox.\";s:9:\"maxLength\";i:255;s:9:\"minLength\";i:0;s:7:\"pattern\";s:17:\"^[A-Za-z-_
  0-9]*$\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Optional
  name to give the Sandbox, will be generated if omitted.\";s:7:\"pattern\";s:17:\"^[A-Za-z-_
  0-9]*$\";s:4:\"type\";s:6:\"string\";}s:21:\"ownerOrganisationName\";O:8:\"stdClass\":5:{s:11:\"description\";s:54:\"Name
  of the team this Sandbox should be created under.\";s:9:\"maxLength\";i:36;s:9:\"minLength\";i:2;s:7:\"pattern\";s:16:\"^[a-zA-Z-_0-9]*$\";s:4:\"type\";s:6:\"string\";}s:17:\"parentSandboxName\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Name
  of the Sandbox this should be created under, if exists will be a 'clone'.\";s:7:\"pattern\";s:17:\"^[A-Za-z-_
  0-9]*$\";s:4:\"type\";s:6:\"string\";}s:13:\"transportType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"HTTP\";i:1;s:3:\"JMS\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"detailedMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Longer
  message describing the error.\";s:4:\"type\";s:6:\"string\";}s:5:\"field\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Message
  describing which field the error relates to.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Short
  message describing the error.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"RouteConfig\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"errorStrategy\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"NONE\";i:1;s:7:\"TIMEOUT\";i:2;s:12:\"SERVICE_DOWN\";}s:4:\"type\";s:6:\"string\";}s:9:\"latencyMs\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"latencyMultiplier\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"latencyType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"NONE\";i:1;s:8:\"CONSTANT\";i:2;s:6:\"LINEAR\";}s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"RuntimeRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  body of the given request.\";s:4:\"type\";s:6:\"string\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  content type of the body, for example 'application/json'.\";s:4:\"type\";s:6:\"string\";}s:13:\"fullSandboxId\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  parent ID of the Sandbox that received the request.\";s:4:\"type\";s:6:\"string\";}s:15:\"fullSandboxName\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  parent name of the Sandbox that received the request.\";s:4:\"type\";s:6:\"string\";}s:7:\"headers\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:40:\"Transport
  headers for the given request.\";s:4:\"type\";s:6:\"object\";}s:2:\"ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  requestor IP address.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:17:\"receivedTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  epoch time in milliseconds when the request was received.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"sandboxId\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  ID of the Sandbox that received the request.\";s:4:\"type\";s:6:\"string\";}s:11:\"sandboxName\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  name of the Sandbox that received the request.\";s:4:\"type\";s:6:\"string\";}s:9:\"transport\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Which
  transport the request was for, 'HTTP' or 'JMS'.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RuntimeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  body of the given response.\";s:4:\"type\";s:6:\"string\";}s:14:\"durationMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Duration
  in milliseconds of the processing time in Sandbox.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Error\";s:11:\"description\";s:53:\"Error
  if there is a problem during Sandbox execution.\";}s:7:\"headers\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:41:\"Transport
  headers for the given response.\";s:4:\"type\";s:6:\"object\";}s:18:\"respondedTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  epoch time in milliseconds when the response was sent.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"transport\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Which
  transport the request was for, 'HTTP' or 'JMS'.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"RuntimeTransaction\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RuntimeRequest\";}s:9:\"responses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RuntimeResponse\";}s:4:\"type\";s:5:\"array\";}s:11:\"sandboxName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  source sandbox name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Sandbox\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":17:{s:13:\"apiDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  import source of this Sandbox.\";s:4:\"enum\";a:5:{i:0;s:4:\"None\";i:1;s:6:\"Apiary\";i:2;s:15:\"Swagger_V2_Json\";i:3;s:8:\"RAML_V08\";i:4;s:4:\"WSDL\";}s:4:\"type\";s:6:\"string\";}s:14:\"childSandboxes\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Clones
  of this Sandbox.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Sandbox\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:16:\"configuredRoutes\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Extra
  configuration applied to some routes, delays, overrides etc.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ConfiguredRouteDetails\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:11:\"description\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:0;s:7:\"pattern\";s:18:\"^[A-Za-z0-9
  _\\-]*$\";s:4:\"type\";s:6:\"string\";}s:14:\"gitAccessToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"gitUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  git clone URL.\";s:4:\"type\";s:6:\"string\";}s:13:\"hasRepository\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:49:\"Whether
  this Sandbox has a git repository or not.\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  ID of the Sandbox.\";s:4:\"type\";s:6:\"string\";}s:11:\"ipWhitelist\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"The
  list of IPs allowed to make requests, all allowed if omitted.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:13:\"^[a-z0-9\\-]*$\";s:4:\"type\";s:6:\"string\";}s:13:\"parentSandbox\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Sandbox\";s:11:\"description\";s:50:\"If
  the Sandbox is a clone, which is it a clone of.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:6:\"object\";}s:11:\"proxyStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  listener status.\";s:4:\"enum\";a:2:{i:0;s:7:\"STARTED\";i:1;s:7:\"STOPPED\";}s:4:\"type\";s:6:\"string\";}s:14:\"runtimeVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  library version of this Sandbox.\";s:4:\"enum\";a:2:{i:0;s:9:\"VERSION_1\";i:1;s:9:\"VERSION_2\";}s:4:\"type\";s:6:\"string\";}s:10:\"sandboxUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  request URL for this Sandbox.\";s:4:\"type\";s:6:\"string\";}s:9:\"stackType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:10:\"JavaScript\";}s:4:\"type\";s:6:\"string\";}s:13:\"transportType\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  listener transport.\";s:4:\"enum\";a:2:{i:0;s:4:\"HTTP\";i:1;s:3:\"JMS\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}}"
...
