---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:56:\"Digital
  Capability Locator (DCL) interface specification\";s:11:\"description\";s:156:\"The
  \"Digital Capability Lookup\" (DCL) specification defines a DNS based method to
  discover which DCP(SMP) is the authoritative source for a given business \n\";}"
host: dcl.testpoint.io
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":14:{s:17:\"ParticipantEntity\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"TODO\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"participantIdentifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  unique identifier for the Participant.\";}s:27:\"participantIdentifierScheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"The
  Identifier Scheme which applied to the participantIdentifier.\";}s:21:\"capabilityPublisherID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"The
  unique ID assigned to the Digital Capability Publisher during the accreditation
  process.\";}}s:8:\"required\";a:3:{i:0;s:21:\"participantIdentifier\";i:1;s:27:\"participantIdentifierScheme\";i:2;s:21:\"capabilityPublisherID\";}s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"application/json\";s:170:\"{\n
  \   \"participantIdentifier\": \"51824753556\",\n    \"participantIdentifierScheme\":
  \"urn:oasis:names:tx:ebcore:partyid-type:iso6523:0151\",\n    \"capabilityPublisherID\":
  \"1\"\n}\";}}s:23:\"UpdateParticipantEntity\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"TODO\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"capabilityPublisherID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"The
  unique ID assigned to the Digital Capability Publisher during the accreditation
  process.\";}s:10:\"domainName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  DNS Domain Name for the Digital Capability Publisher.\";}}s:8:\"required\";a:2:{i:0;s:21:\"capabilityPublisherID\";i:1;s:10:\"domainName\";}s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"application/json\";s:74:\"{\n
  \   \"capabilityPublisherID\": \"1\",\n    \"domainName\": \"www.mysmp.com.au\"\n}\";}}s:19:\"accreditedProviders\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"TODO\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"An
  array containing ResultSet metadata.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"resultSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"An
  object containing information on the result set returned by the API.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Total
  number of records matching the request criteria.\";s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"The
  offset of the first record contained in the result set within the total number of
  records matching the request criteria.\";s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  maximum number of records returned in the result set.\";s:4:\"type\";s:7:\"integer\";}}}}}s:7:\"results\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"TODO\";s:10:\"properties\";O:8:\"stdClass\":6:{s:21:\"capabilityPublisherID\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  unique id for the Digital Capability Publisher issued by the accreditation authority.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"http://json-schema.org/schema#/definitions/name\";}s:12:\"contactEmail\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"http://json-schema.org/schema#/definitions/contactEmail\";}s:3:\"URL\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"http://json-schema.org/schema#/definitions/URL\";}s:18:\"clientCertificates\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"http://json-schema.org/schema#/definitions/clientCertificates\";}s:18:\"serverCertificates\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"http://json-schema.org/schema#/definitions/serverCertificates\";}}}}}}s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"An
  array containing ResultSet metadata.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"resultSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"An
  object containing information on the result set returned by the API.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Total
  number of records matching the request criteria.\";s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"The
  offset of the first record contained in the result set within the total number of
  records matching the request criteria.\";s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  maximum number of records returned in the result set.\";s:4:\"type\";s:7:\"integer\";}}}}}s:18:\"accreditedProvider\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"TODO\";s:10:\"properties\";O:8:\"stdClass\":6:{s:21:\"capabilityPublisherID\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  unique id for the Digital Capability Publisher issued by the accreditation authority.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  trading name of the provider listed on the accreditation record.\";s:4:\"type\";s:6:\"string\";}s:12:\"contactEmail\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  contact email for the provider.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";}s:3:\"URL\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  URL for the provider\u2019s registration website.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";}s:18:\"clientCertificates\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"A
  list of PEM base 64 encoded DER formatted X509 client certificates. One or two client\u2019s
  certificates may be returned to support rollover of certificates.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:18:\"serverCertificates\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"A
  list of PEM base 64 encoded DER formatted X509 server certificates. One or two server
  certificates may be returned to support rollover of certificates.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:22:\"accreditedAccessPoints\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"TODO\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"An
  array containing ResultSet metadata.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"resultSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"An
  object containing information on the result set returned by the API.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Total
  number of records matching the request criteria.\";s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"The
  offset of the first record contained in the result set within the total number of
  records matching the request criteria.\";s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  maximum number of records returned in the result set.\";s:4:\"type\";s:7:\"integer\";}}}}}s:7:\"results\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"TODO\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"accessPointID\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  unique id for the Access Point issued by the accreditation authority.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"http://json-schema.org/schema#/definitions/name\";}s:12:\"contactEmail\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"http://json-schema.org/schema#/definitions/contactEmail\";}s:3:\"URL\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"http://json-schema.org/schema#/definitions/URL\";}s:18:\"clientCertificates\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"http://json-schema.org/schema#/definitions/clientCertificates\";}s:18:\"serverCertificates\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"http://json-schema.org/schema#/definitions/serverCertificates\";}}}}}}s:21:\"accreditedAccessPoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"TODO\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"accessPointID\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  unique id for the Access Point issued by the accreditation authority.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  trading name of the provider listed on the accreditation record.\";s:4:\"type\";s:6:\"string\";}s:12:\"contactEmail\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  contact email for the provider.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";}s:3:\"URL\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  URL for the provider\u2019s registration website.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";}s:18:\"clientCertificates\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"A
  list of PEM base 64 encoded DER formatted X509 client certificates. One or two client\u2019s
  certificates may be returned to support rollover of certificates.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:18:\"serverCertificates\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"A
  list of PEM base 64 encoded DER formatted X509 server certificates. One or two server
  certificates may be returned to support rollover of certificates.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  trading name of the provider listed on the accreditation record.\";s:4:\"type\";s:6:\"string\";}s:12:\"contactEmail\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  contact email for the provider.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";}s:3:\"URL\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  URL for the provider\u2019s registration website.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";}s:18:\"clientCertificates\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"A
  list of PEM base 64 encoded DER formatted X509 client certificates. One or two client\u2019s
  certificates may be returned to support rollover of certificates.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:18:\"serverCertificates\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"A
  list of PEM base 64 encoded DER formatted X509 server certificates. One or two server
  certificates may be returned to support rollover of certificates.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"standard
  error response srtucture as per jsonapi.org/format/#errors\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  code associated with the error.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  name category for the error.\";}s:11:\"userMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  human readable error message.\";}}}}}}s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"standard
  error response srtucture as per jsonapi.org/format/#errors\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  code associated with the error.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  name category for the error.\";}s:11:\"userMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  human readable error message.\";}}}}"
...
