---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:23:\"apisupport@storecove.nl\";}s:11:\"description\";s:13:\"Storecove
  API\";s:5:\"title\";s:9:\"Storecove\";s:7:\"version\";s:5:\"2.0.1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"financial\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:143:\"https://api.apis.guru/v2/cache/logo/https_www.storecove.com_assets_v2_logo-b0d52166b7aedce1c08416e14480dcefd5db3f8a68704a6b802c37b189dd8894.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:45:\"https://www.storecove.com/api/v2/openapi.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"storecove.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"storecove\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.storecove.com
basePath: /api/v2
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":37:{s:18:\"AccountingCostCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"The
  code in the chart of accounts used by the receiver of the invoice.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:9:\"minLength\";i:1;s:5:\"title\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"list\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:9:\"minLength\";i:1;s:5:\"title\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"listAgency\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:9:\"minLength\";i:1;s:5:\"title\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"listVersion\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:9:\"minLength\";i:1;s:5:\"title\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:20:\"Accounting
  cost code\";s:4:\"type\";s:6:\"object\";}s:23:\"AccountingCustomerParty\";O:8:\"stdClass\":5:{s:11:\"description\";s:35:\"The
  customer receiving the invoice.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"accountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  account id you assigned to the customer.\";s:5:\"title\";s:10:\"Account id\";s:4:\"type\";s:6:\"string\";}s:5:\"party\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Party\";}}s:8:\"required\";a:1:{i:0;s:5:\"party\";}s:5:\"title\";s:8:\"Customer\";s:4:\"type\";s:6:\"object\";}s:15:\"AllowanceCharge\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"amountExcludingVat\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  amount for the allowance charge, excluding VAT\";s:5:\"title\";s:6:\"Amount\";s:4:\"type\";s:6:\"number\";}s:6:\"reason\";O:8:\"stdClass\":4:{s:7:\"default\";s:17:\"Agreed
  settlement\";s:11:\"description\";s:46:\"The reason for the allowance charge, free
  text\";s:5:\"title\";s:6:\"Reason\";s:4:\"type\";s:6:\"string\";}s:10:\"reasonCode\";O:8:\"stdClass\":4:{s:7:\"default\";s:1:\"1\";s:11:\"description\";s:144:\"The
  reason code for the allowance charge. Uses list http://www.unece.org/trade/untdid/d12a/tred/tred4465.htm
  , defaults to 1 - Agreed settlement\";s:5:\"title\";s:11:\"Reason Code\";s:4:\"type\";s:6:\"string\";}s:3:\"tax\";O:8:\"stdClass\":5:{s:11:\"description\";s:34:\"The
  tax for this allowance charge.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:158:\"The
  amount of VAT. Should equal percentage x amountExcludingVat. A difference of 5 cents
  or 1% between the calculated value and the provided value is allowed.\";s:5:\"title\";s:38:\"Amount
  of VAT for the allowance charge\";s:4:\"type\";s:6:\"number\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Country\";}s:10:\"percentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"The
  percentage VAT. This should be a valid VAT percentage in the country at the time
  of the issueDate of this invoice.\";s:5:\"title\";s:14:\"Percentage VAT\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:3:{i:0;s:6:\"amount\";i:1;s:10:\"percentage\";i:2;s:7:\"country\";}s:5:\"title\";s:3:\"Tax\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:18:\"amountExcludingVat\";i:1;s:3:\"tax\";}s:5:\"title\";s:16:\"Allowance
  Charge\";s:4:\"type\";s:6:\"object\";}s:7:\"Country\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"An
  ISO 3166-1 alpha-2 country code.\";s:4:\"enum\";a:249:{i:0;s:2:\"AD\";i:1;s:2:\"AE\";i:2;s:2:\"AF\";i:3;s:2:\"AG\";i:4;s:2:\"AI\";i:5;s:2:\"AL\";i:6;s:2:\"AM\";i:7;s:2:\"AO\";i:8;s:2:\"AQ\";i:9;s:2:\"AR\";i:10;s:2:\"AS\";i:11;s:2:\"AT\";i:12;s:2:\"AU\";i:13;s:2:\"AW\";i:14;s:2:\"AX\";i:15;s:2:\"AZ\";i:16;s:2:\"BA\";i:17;s:2:\"BB\";i:18;s:2:\"BD\";i:19;s:2:\"BE\";i:20;s:2:\"BF\";i:21;s:2:\"BG\";i:22;s:2:\"BH\";i:23;s:2:\"BI\";i:24;s:2:\"BJ\";i:25;s:2:\"BL\";i:26;s:2:\"BM\";i:27;s:2:\"BN\";i:28;s:2:\"BO\";i:29;s:2:\"BQ\";i:30;s:2:\"BR\";i:31;s:2:\"BS\";i:32;s:2:\"BT\";i:33;s:2:\"BV\";i:34;s:2:\"BW\";i:35;s:2:\"BY\";i:36;s:2:\"BZ\";i:37;s:2:\"CA\";i:38;s:2:\"CC\";i:39;s:2:\"CD\";i:40;s:2:\"CF\";i:41;s:2:\"CG\";i:42;s:2:\"CH\";i:43;s:2:\"CI\";i:44;s:2:\"CK\";i:45;s:2:\"CL\";i:46;s:2:\"CM\";i:47;s:2:\"CN\";i:48;s:2:\"CO\";i:49;s:2:\"CR\";i:50;s:2:\"CU\";i:51;s:2:\"CV\";i:52;s:2:\"CW\";i:53;s:2:\"CX\";i:54;s:2:\"CY\";i:55;s:2:\"CZ\";i:56;s:2:\"DE\";i:57;s:2:\"DJ\";i:58;s:2:\"DK\";i:59;s:2:\"DM\";i:60;s:2:\"DO\";i:61;s:2:\"DZ\";i:62;s:2:\"EC\";i:63;s:2:\"EE\";i:64;s:2:\"EG\";i:65;s:2:\"EH\";i:66;s:2:\"ER\";i:67;s:2:\"ES\";i:68;s:2:\"ET\";i:69;s:2:\"FI\";i:70;s:2:\"FJ\";i:71;s:2:\"FK\";i:72;s:2:\"FM\";i:73;s:2:\"FO\";i:74;s:2:\"FR\";i:75;s:2:\"GA\";i:76;s:2:\"GB\";i:77;s:2:\"GD\";i:78;s:2:\"GE\";i:79;s:2:\"GF\";i:80;s:2:\"GG\";i:81;s:2:\"GH\";i:82;s:2:\"GI\";i:83;s:2:\"GL\";i:84;s:2:\"GM\";i:85;s:2:\"GN\";i:86;s:2:\"GP\";i:87;s:2:\"GQ\";i:88;s:2:\"GR\";i:89;s:2:\"GS\";i:90;s:2:\"GT\";i:91;s:2:\"GU\";i:92;s:2:\"GW\";i:93;s:2:\"GY\";i:94;s:2:\"HK\";i:95;s:2:\"HM\";i:96;s:2:\"HN\";i:97;s:2:\"HR\";i:98;s:2:\"HT\";i:99;s:2:\"HU\";i:100;s:2:\"ID\";i:101;s:2:\"IE\";i:102;s:2:\"IL\";i:103;s:2:\"IM\";i:104;s:2:\"IN\";i:105;s:2:\"IO\";i:106;s:2:\"IQ\";i:107;s:2:\"IR\";i:108;s:2:\"IS\";i:109;s:2:\"IT\";i:110;s:2:\"JE\";i:111;s:2:\"JM\";i:112;s:2:\"JO\";i:113;s:2:\"JP\";i:114;s:2:\"KE\";i:115;s:2:\"KG\";i:116;s:2:\"KH\";i:117;s:2:\"KI\";i:118;s:2:\"KM\";i:119;s:2:\"KN\";i:120;s:2:\"KP\";i:121;s:2:\"KR\";i:122;s:2:\"KW\";i:123;s:2:\"KY\";i:124;s:2:\"KZ\";i:125;s:2:\"LA\";i:126;s:2:\"LB\";i:127;s:2:\"LC\";i:128;s:2:\"LI\";i:129;s:2:\"LK\";i:130;s:2:\"LR\";i:131;s:2:\"LS\";i:132;s:2:\"LT\";i:133;s:2:\"LU\";i:134;s:2:\"LV\";i:135;s:2:\"LY\";i:136;s:2:\"MA\";i:137;s:2:\"MC\";i:138;s:2:\"MD\";i:139;s:2:\"ME\";i:140;s:2:\"MF\";i:141;s:2:\"MG\";i:142;s:2:\"MH\";i:143;s:2:\"MK\";i:144;s:2:\"ML\";i:145;s:2:\"MM\";i:146;s:2:\"MN\";i:147;s:2:\"MO\";i:148;s:2:\"MP\";i:149;s:2:\"MQ\";i:150;s:2:\"MR\";i:151;s:2:\"MS\";i:152;s:2:\"MT\";i:153;s:2:\"MU\";i:154;s:2:\"MV\";i:155;s:2:\"MW\";i:156;s:2:\"MX\";i:157;s:2:\"MY\";i:158;s:2:\"MZ\";i:159;s:2:\"NA\";i:160;s:2:\"NC\";i:161;s:2:\"NE\";i:162;s:2:\"NF\";i:163;s:2:\"NG\";i:164;s:2:\"NI\";i:165;s:2:\"NL\";i:166;s:2:\"NO\";i:167;s:2:\"NP\";i:168;s:2:\"NR\";i:169;s:2:\"NU\";i:170;s:2:\"NZ\";i:171;s:2:\"OM\";i:172;s:2:\"PA\";i:173;s:2:\"PE\";i:174;s:2:\"PF\";i:175;s:2:\"PG\";i:176;s:2:\"PH\";i:177;s:2:\"PK\";i:178;s:2:\"PL\";i:179;s:2:\"PM\";i:180;s:2:\"PN\";i:181;s:2:\"PR\";i:182;s:2:\"PS\";i:183;s:2:\"PT\";i:184;s:2:\"PW\";i:185;s:2:\"PY\";i:186;s:2:\"QA\";i:187;s:2:\"RE\";i:188;s:2:\"RO\";i:189;s:2:\"RS\";i:190;s:2:\"RU\";i:191;s:2:\"RW\";i:192;s:2:\"SA\";i:193;s:2:\"SB\";i:194;s:2:\"SC\";i:195;s:2:\"SD\";i:196;s:2:\"SE\";i:197;s:2:\"SG\";i:198;s:2:\"SH\";i:199;s:2:\"SI\";i:200;s:2:\"SJ\";i:201;s:2:\"SK\";i:202;s:2:\"SL\";i:203;s:2:\"SM\";i:204;s:2:\"SN\";i:205;s:2:\"SO\";i:206;s:2:\"SR\";i:207;s:2:\"SS\";i:208;s:2:\"ST\";i:209;s:2:\"SV\";i:210;s:2:\"SX\";i:211;s:2:\"SY\";i:212;s:2:\"SZ\";i:213;s:2:\"TC\";i:214;s:2:\"TD\";i:215;s:2:\"TF\";i:216;s:2:\"TG\";i:217;s:2:\"TH\";i:218;s:2:\"TJ\";i:219;s:2:\"TK\";i:220;s:2:\"TL\";i:221;s:2:\"TM\";i:222;s:2:\"TN\";i:223;s:2:\"TO\";i:224;s:2:\"TR\";i:225;s:2:\"TT\";i:226;s:2:\"TV\";i:227;s:2:\"TW\";i:228;s:2:\"TZ\";i:229;s:2:\"UA\";i:230;s:2:\"UG\";i:231;s:2:\"UM\";i:232;s:2:\"US\";i:233;s:2:\"UY\";i:234;s:2:\"UZ\";i:235;s:2:\"VA\";i:236;s:2:\"VC\";i:237;s:2:\"VE\";i:238;s:2:\"VG\";i:239;s:2:\"VI\";i:240;s:2:\"VN\";i:241;s:2:\"VU\";i:242;s:2:\"WF\";i:243;s:2:\"WS\";i:244;s:2:\"YE\";i:245;s:2:\"YT\";i:246;s:2:\"ZA\";i:247;s:2:\"ZM\";i:248;s:2:\"ZW\";}s:5:\"title\";s:7:\"Country\";s:4:\"type\";s:6:\"string\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"The
  ISO 4217 currency code.\";s:4:\"enum\";a:178:{i:0;s:3:\"AED\";i:1;s:3:\"AFN\";i:2;s:3:\"ALL\";i:3;s:3:\"AMD\";i:4;s:3:\"ANG\";i:5;s:3:\"AOA\";i:6;s:3:\"ARS\";i:7;s:3:\"AUD\";i:8;s:3:\"AWG\";i:9;s:3:\"AZN\";i:10;s:3:\"BAM\";i:11;s:3:\"BBD\";i:12;s:3:\"BDT\";i:13;s:3:\"BGN\";i:14;s:3:\"BHD\";i:15;s:3:\"BIF\";i:16;s:3:\"BMD\";i:17;s:3:\"BND\";i:18;s:3:\"BOB\";i:19;s:3:\"BOV\";i:20;s:3:\"BRL\";i:21;s:3:\"BSD\";i:22;s:3:\"BTN\";i:23;s:3:\"BWP\";i:24;s:3:\"BYN\";i:25;s:3:\"BYR\";i:26;s:3:\"BZD\";i:27;s:3:\"CAD\";i:28;s:3:\"CDF\";i:29;s:3:\"CHE\";i:30;s:3:\"CHF\";i:31;s:3:\"CHW\";i:32;s:3:\"CLF\";i:33;s:3:\"CLP\";i:34;s:3:\"CNY\";i:35;s:3:\"COP\";i:36;s:3:\"COU\";i:37;s:3:\"CRC\";i:38;s:3:\"CUC\";i:39;s:3:\"CUP\";i:40;s:3:\"CVE\";i:41;s:3:\"CZK\";i:42;s:3:\"DJF\";i:43;s:3:\"DKK\";i:44;s:3:\"DOP\";i:45;s:3:\"DZD\";i:46;s:3:\"EGP\";i:47;s:3:\"ERN\";i:48;s:3:\"ETB\";i:49;s:3:\"EUR\";i:50;s:3:\"FJD\";i:51;s:3:\"FKP\";i:52;s:3:\"GBP\";i:53;s:3:\"GEL\";i:54;s:3:\"GHS\";i:55;s:3:\"GIP\";i:56;s:3:\"GMD\";i:57;s:3:\"GNF\";i:58;s:3:\"GTQ\";i:59;s:3:\"GYD\";i:60;s:3:\"HKD\";i:61;s:3:\"HNL\";i:62;s:3:\"HRK\";i:63;s:3:\"HTG\";i:64;s:3:\"HUF\";i:65;s:3:\"IDR\";i:66;s:3:\"ILS\";i:67;s:3:\"INR\";i:68;s:3:\"IQD\";i:69;s:3:\"IRR\";i:70;s:3:\"ISK\";i:71;s:3:\"JMD\";i:72;s:3:\"JOD\";i:73;s:3:\"JPY\";i:74;s:3:\"KES\";i:75;s:3:\"KGS\";i:76;s:3:\"KHR\";i:77;s:3:\"KMF\";i:78;s:3:\"KPW\";i:79;s:3:\"KRW\";i:80;s:3:\"KWD\";i:81;s:3:\"KYD\";i:82;s:3:\"KZT\";i:83;s:3:\"LAK\";i:84;s:3:\"LBP\";i:85;s:3:\"LKR\";i:86;s:3:\"LRD\";i:87;s:3:\"LSL\";i:88;s:3:\"LYD\";i:89;s:3:\"MAD\";i:90;s:3:\"MDL\";i:91;s:3:\"MGA\";i:92;s:3:\"MKD\";i:93;s:3:\"MMK\";i:94;s:3:\"MNT\";i:95;s:3:\"MOP\";i:96;s:3:\"MRO\";i:97;s:3:\"MUR\";i:98;s:3:\"MVR\";i:99;s:3:\"MWK\";i:100;s:3:\"MXN\";i:101;s:3:\"MXV\";i:102;s:3:\"MYR\";i:103;s:3:\"MZN\";i:104;s:3:\"NAD\";i:105;s:3:\"NGN\";i:106;s:3:\"NIO\";i:107;s:3:\"NOK\";i:108;s:3:\"NPR\";i:109;s:3:\"NZD\";i:110;s:3:\"OMR\";i:111;s:3:\"PAB\";i:112;s:3:\"PEN\";i:113;s:3:\"PGK\";i:114;s:3:\"PHP\";i:115;s:3:\"PKR\";i:116;s:3:\"PLN\";i:117;s:3:\"PYG\";i:118;s:3:\"QAR\";i:119;s:3:\"RON\";i:120;s:3:\"RSD\";i:121;s:3:\"RUB\";i:122;s:3:\"RWF\";i:123;s:3:\"SAR\";i:124;s:3:\"SBD\";i:125;s:3:\"SCR\";i:126;s:3:\"SDG\";i:127;s:3:\"SEK\";i:128;s:3:\"SGD\";i:129;s:3:\"SHP\";i:130;s:3:\"SLL\";i:131;s:3:\"SOS\";i:132;s:3:\"SRD\";i:133;s:3:\"SSP\";i:134;s:3:\"STD\";i:135;s:3:\"SYP\";i:136;s:3:\"SZL\";i:137;s:3:\"THB\";i:138;s:3:\"TJS\";i:139;s:3:\"TMT\";i:140;s:3:\"TND\";i:141;s:3:\"TOP\";i:142;s:3:\"TRY\";i:143;s:3:\"TTD\";i:144;s:3:\"TWD\";i:145;s:3:\"TZS\";i:146;s:3:\"UAH\";i:147;s:3:\"UGX\";i:148;s:3:\"USD\";i:149;s:3:\"USN\";i:150;s:3:\"UYI\";i:151;s:3:\"UYU\";i:152;s:3:\"UZS\";i:153;s:3:\"VEF\";i:154;s:3:\"VND\";i:155;s:3:\"VUV\";i:156;s:3:\"WST\";i:157;s:3:\"XAF\";i:158;s:3:\"XAG\";i:159;s:3:\"XAU\";i:160;s:3:\"XBA\";i:161;s:3:\"XBB\";i:162;s:3:\"XBC\";i:163;s:3:\"XBD\";i:164;s:3:\"XCD\";i:165;s:3:\"XDR\";i:166;s:3:\"XFU\";i:167;s:3:\"XOF\";i:168;s:3:\"XPD\";i:169;s:3:\"XPF\";i:170;s:3:\"XPT\";i:171;s:3:\"XSU\";i:172;s:3:\"XTS\";i:173;s:3:\"XUA\";i:174;s:3:\"XXX\";i:175;s:3:\"YER\";i:176;s:3:\"ZAR\";i:177;s:3:\"ZMW\";}s:5:\"title\";s:8:\"Currency\";s:4:\"type\";s:6:\"string\";}s:10:\"ErrorModel\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"InvoiceLine\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":21:{s:18:\"accountingCostCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AccountingCostCode\";}s:15:\"allowanceCharge\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  discount or surcharge on this item. Should be negative for discounts\";s:5:\"title\";s:15:\"allowanceCharge\";s:4:\"type\";s:6:\"number\";}s:18:\"amountExcludingVat\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"The
  amount excluding VAT. Should equal quantity x itemPrice + allowanceCharge. A difference
  of 5 cents or 1% between the calculated value and the provided value is allowed.\";s:5:\"title\";s:18:\"amountExcludingVat\";s:4:\"type\";s:6:\"number\";}s:11:\"description\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  description for this invoice line.\";s:9:\"minLength\";i:1;s:5:\"title\";s:11:\"Description\";s:4:\"type\";s:6:\"string\";}s:24:\"groupArticlegroupAccount\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  articlegroup account number.\";s:9:\"minLength\";i:1;s:5:\"title\";s:20:\"Articlegroup
  Account\";s:4:\"type\";s:6:\"string\";}s:21:\"groupArticlegroupCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  articlegroup code.\";s:9:\"minLength\";i:1;s:5:\"title\";s:17:\"Articlegroup Code\";s:4:\"type\";s:6:\"string\";}s:28:\"groupArticlegroupDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  description of the acticlegroup.\";s:9:\"minLength\";i:1;s:5:\"title\";s:24:\"Acticlegroup
  Description\";s:4:\"type\";s:6:\"string\";}s:20:\"groupCustomerAccount\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"The
  account number the customer assigned to this customer code.\";s:9:\"minLength\";i:1;s:5:\"title\";s:16:\"Customer
  Account\";s:4:\"type\";s:6:\"string\";}s:17:\"groupCustomerCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"The
  code the customer gave this item.\";s:9:\"minLength\";i:1;s:5:\"title\";s:13:\"Customer
  Code\";s:4:\"type\";s:6:\"string\";}s:24:\"groupCustomerDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"The
  description for the code the customer gave this item.\";s:9:\"minLength\";i:1;s:5:\"title\";s:25:\"Customer
  Code Description\";s:4:\"type\";s:6:\"string\";}s:15:\"groupNziAccount\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  NZI account number.\";s:9:\"minLength\";i:1;s:5:\"title\";s:16:\"NZI Account Code\";s:4:\"type\";s:6:\"string\";}s:12:\"groupNziCode\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  NZI (Nationale Zorg Instelling) code.\";s:9:\"minLength\";i:1;s:5:\"title\";s:8:\"NZI
  Code\";s:4:\"type\";s:6:\"string\";}s:19:\"groupNziDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"The
  description of the NZI code.\";s:9:\"minLength\";i:1;s:5:\"title\";s:20:\"NZI Code
  Description\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Your
  id for this invoice line.\";s:9:\"minLength\";i:1;s:5:\"title\";s:2:\"Id\";s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"A
  URL to an image for the product in the invoice line.\";s:6:\"format\";s:3:\"uri\";s:5:\"title\";s:9:\"Image
  URL\";s:4:\"type\";s:6:\"string\";}s:13:\"invoicePeriod\";O:8:\"stdClass\":4:{s:11:\"description\";s:97:\"The
  period (or specific date) to which the invoice line applies. Format: yyyy-mm-dd
  - yyyy-mm-dd.\";s:7:\"pattern\";s:57:\"^[0-9]{4}-[0-9]{2}-[0-9]{2} - [0-9]{4}-[0-9]{2}-[0-9]{2}$\";s:5:\"title\";s:14:\"Invoice
  period\";s:4:\"type\";s:6:\"string\";}s:9:\"itemPrice\";O:8:\"stdClass\":4:{s:7:\"default\";i:1;s:11:\"description\";s:38:\"The
  price per item (may be fractional)\";s:5:\"title\";s:10:\"Item price\";s:4:\"type\";s:6:\"number\";}s:8:\"quantity\";O:8:\"stdClass\":4:{s:7:\"default\";i:1;s:11:\"description\";s:40:\"The
  number of items (may be fractional).\";s:5:\"title\";s:8:\"Quantity\";s:4:\"type\";s:6:\"number\";}s:25:\"sellersItemIdentification\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  ID the seller assigned to this item.\";s:9:\"minLength\";i:1;s:5:\"title\";s:27:\"Sellers
  Item Identification\";s:4:\"type\";s:6:\"string\";}s:26:\"standardItemIdentification\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Standardized
  ID for the item. Identifiers based on GTIN.\";s:9:\"minLength\";i:1;s:5:\"title\";s:28:\"Standard
  Item Identification\";s:4:\"type\";s:6:\"string\";}s:3:\"tax\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"The
  tax for this invoice line.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:158:\"The
  amount of VAT. Should equal percentage x amountExcludingVat. A difference of 5 cents
  or 1% between the calculated value and the provided value is allowed.\";s:5:\"title\";s:13:\"Amount
  of VAT\";s:4:\"type\";s:6:\"number\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Country\";}s:10:\"percentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"The
  percentage VAT. This should be a valid VAT percentage in the country at the time
  of the issueDate of this invoice.\";s:5:\"title\";s:14:\"Percentage VAT\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:3:{i:0;s:6:\"amount\";i:1;s:10:\"percentage\";i:2;s:7:\"country\";}s:5:\"title\";s:3:\"Tax\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:11:\"description\";i:1;s:18:\"amountExcludingVat\";}s:5:\"title\";s:12:\"Invoice
  line\";s:4:\"type\";s:6:\"object\";}s:16:\"InvoiceRecipient\";O:8:\"stdClass\":4:{s:11:\"description\";s:223:\"Ids
  that identify this invoice recipient. The list of identifiers should match with
  the accountingCustomerParty. I.e., you should not be sending an invoice for one
  accountingCustomerParty to the publicIdentifier of another.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"emails\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"The
  email addresses the invoice should be sent to if none of the other identifiers can
  be used\";s:5:\"items\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The email
  address the invoice should be sent to\";s:6:\"format\";s:5:\"email\";s:5:\"title\";s:5:\"Email\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";s:14:\"Fallback
  email\";s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"DEPRECATED.
  Use widgetIdentification.id\";s:9:\"minLength\";i:2;s:5:\"title\";s:9:\"Entity id\";s:4:\"type\";s:6:\"string\";}s:17:\"publicIdentifiers\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/PublicIdentifiers\";s:11:\"description\";s:104:\"The
  public identifiers for this invoice recipient. These are the identifiers used on
  the Peppol network.\";s:5:\"title\";s:18:\"Public Identifiers\";}s:20:\"widgetIdentification\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:34:\"#/definitions/WidgetIdentification\";s:11:\"description\";s:96:\"The
  identification for the identifier related to the Storecove Destination Configuration
  widget.\";s:5:\"title\";s:21:\"Widget Identification\";}}s:5:\"title\";s:13:\"Recipient
  ids\";s:4:\"type\";s:6:\"object\";}s:25:\"InvoiceRecipientPreflight\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Identifies
  the invoice recipient to preflight\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"publicIdentifiers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PublicIdentifiers\";s:11:\"description\";s:50:\"The
  public identifiers for this invoice recipient.\";}s:10:\"supplierId\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"DEPRECATED.\";s:5:\"title\";s:11:\"Supplier
  id\";s:4:\"type\";s:7:\"integer\";}s:20:\"widgetIdentification\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:34:\"#/definitions/WidgetIdentification\";s:11:\"description\";s:96:\"The
  identification for the identifier related to the Storecove Destination Configuration
  widget.\";s:5:\"title\";s:21:\"Widget Identification\";}}s:5:\"title\";s:27:\"Invoice
  recipient preflight\";s:4:\"type\";s:6:\"object\";}s:17:\"InvoiceSubmission\";O:8:\"stdClass\":5:{s:11:\"description\";s:63:\"The
  invoice you want Storecove to process, with some meta-data.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"document\";O:8:\"stdClass\":4:{s:11:\"description\";s:131:\"The
  invoice in PDF form. The document should be base64 encoded and the enocded string
  length should not exceed 2MB (2097152 bytes).\";s:9:\"minLength\";i:5;s:5:\"title\";s:8:\"Document\";s:4:\"type\";s:6:\"string\";}s:11:\"documentUrl\";O:8:\"stdClass\":4:{s:11:\"description\";s:111:\"A
  URL to retrieve the PDF document via HTTP GET. If the link expires, please allow
  at least 7 days of validity.\";s:6:\"format\";s:3:\"uri\";s:5:\"title\";s:12:\"Document
  Url\";s:4:\"type\";s:6:\"string\";}s:7:\"invoice\";O:8:\"stdClass\":5:{s:11:\"description\";s:19:\"The
  invoice to send\";s:10:\"properties\";O:8:\"stdClass\":21:{s:18:\"accountingCostCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AccountingCostCode\";}s:23:\"accountingCustomerParty\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/AccountingCustomerParty\";s:11:\"description\";s:19:\"The
  receiving party\";}s:16:\"allowanceCharges\";O:8:\"stdClass\":5:{s:11:\"description\";s:30:\"An
  array of allowance charges.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AllowanceCharge\";}s:8:\"minItems\";i:0;s:5:\"title\";s:17:\"Allowance
  Charges\";s:4:\"type\";s:5:\"array\";}s:18:\"amountIncludingVat\";O:8:\"stdClass\":3:{s:11:\"description\";s:402:\"amountIncludingVat
  is important because of rounding differences. In many invoices, the sum of the line
  item amounts excluding VAT and the VAT amounts is not equal to first summing the
  line items without VAT, and then applying VAT. The difference is automatically calculated
  and included in the electronic invoice, so the receiving accounting package can
  process the electronic invoice without problems.\";s:5:\"title\";s:20:\"Amount including
  VAT\";s:4:\"type\";s:6:\"number\";}s:16:\"billingReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"A
  reference to a commercial invoice or corrective invoice of which the current invoice
  is a correction.\";s:5:\"title\";s:17:\"Billing reference\";s:4:\"type\";s:6:\"string\";}s:14:\"buyerReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  reference provided by the buyer used for internal routing of the document.\";s:5:\"title\";s:15:\"Buyer
  reference\";s:4:\"type\";s:6:\"string\";}s:25:\"contractDocumentReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"A
  reference to a contract or framework agreement that this invoice relates to.\";s:5:\"title\";s:27:\"Contract
  document reference\";s:4:\"type\";s:6:\"string\";}s:20:\"documentCurrencyCode\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/CurrencyCode\";s:7:\"default\";s:3:\"EUR\";s:11:\"description\";s:158:\"The
  documentCurrencyCode is the currency for the entire invoice. We currently do not
  support invoices in multiple currencies. If left out, will default to EUR\";}s:7:\"dueDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Format:
  yyyy-mm-dd.\";s:7:\"pattern\";s:28:\"^[0-9]{4}-[0-9]{2}-[0-9]{2}$\";s:5:\"title\";s:8:\"Due
  date\";s:4:\"type\";s:6:\"string\";}s:12:\"invoiceLines\";O:8:\"stdClass\":5:{s:11:\"description\";s:26:\"An
  array of invoice lines.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/InvoiceLine\";}s:8:\"minItems\";i:1;s:5:\"title\";s:13:\"Invoice
  lines\";s:4:\"type\";s:5:\"array\";}s:13:\"invoiceNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:227:\"The
  invoice number you assigned to the invoice. The invoiceNumber should be unique for
  the legalEntityId and year of the issueDate. This means invoice numbers can be reused
  in different years, as is customary in some countries.\";s:9:\"minLength\";i:1;s:5:\"title\";s:14:\"Invoice
  number\";s:4:\"type\";s:6:\"string\";}s:13:\"invoicePeriod\";O:8:\"stdClass\":4:{s:11:\"description\";s:92:\"The
  period (or specific date) to which the invoice applies. Format: yyyy-mm-dd - yyyy-mm-dd.\";s:7:\"pattern\";s:57:\"^[0-9]{4}-[0-9]{2}-[0-9]{2}
  - [0-9]{4}-[0-9]{2}-[0-9]{2}$\";s:5:\"title\";s:14:\"Invoice period\";s:4:\"type\";s:6:\"string\";}s:11:\"invoiceType\";O:8:\"stdClass\":5:{s:7:\"default\";s:3:\"380\";s:11:\"description\";s:60:\"Use
  380 for a regular invoice, 384 for a Corrective invoice.\";s:4:\"enum\";a:2:{i:0;s:3:\"380\";i:1;s:3:\"384\";}s:5:\"title\";s:15:\"Type
  of invoice\";s:4:\"type\";s:6:\"string\";}s:9:\"issueDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Format:
  yyyy-mm-dd.\";s:7:\"pattern\";s:28:\"^[0-9]{4}-[0-9]{2}-[0-9]{2}$\";s:5:\"title\";s:18:\"Invoice
  issue date\";s:4:\"type\";s:6:\"string\";}s:14:\"orderReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  reference to an order for this invoice.\";s:5:\"title\";s:15:\"Order reference\";s:4:\"type\";s:6:\"string\";}s:16:\"paymentMeansCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Leave
  empty. Defaults to 31 if an IBAN is provided, otherwise defaults to 1. But leave
  empty.\";s:5:\"title\";s:18:\"Payment Means Code\";s:4:\"type\";s:6:\"string\";}s:16:\"paymentMeansIban\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  IBAN the amount payable should be transferred to\";s:5:\"title\";s:4:\"IBAN\";s:4:\"type\";s:6:\"string\";}s:21:\"paymentMeansPaymentId\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  payment id that you will use to match the payment against the invoice.\";s:5:\"title\";s:10:\"Payment
  Id\";s:4:\"type\";s:6:\"string\";}s:16:\"projectReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Information
  about the project this invoice relates to.\";s:5:\"title\";s:17:\"Project Reference\";s:4:\"type\";s:6:\"string\";}s:12:\"taxPointDate\";O:8:\"stdClass\":4:{s:11:\"description\";s:357:\"The
  tax date is the date on which the supply of goods or of services was made or completed
  or the date on which the payment on account was made insofar as that date can be
  determined and differs from the date of the issue of the invoice. EU 2006-112 Article
  226 Point 7. Note: For the Dutch TAX authorities the tac date should be the same
  as the issue date.\";s:7:\"pattern\";s:28:\"^[0-9]{4}-[0-9]{2}-[0-9]{2}$\";s:5:\"title\";s:8:\"Tax
  date\";s:4:\"type\";s:6:\"string\";}s:16:\"vatReverseCharge\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:45:\"Whether
  or not the invoice is reverse charged\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:5:{i:0;s:13:\"invoiceNumber\";i:1;s:9:\"issueDate\";i:2;s:23:\"accountingCustomerParty\";i:3;s:12:\"invoiceLines\";i:4;s:18:\"amountIncludingVat\";}s:5:\"title\";s:7:\"Invoice\";s:4:\"type\";s:6:\"object\";}s:16:\"invoiceRecipient\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/InvoiceRecipient\";}s:13:\"legalEntityId\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  id of the LegalEntity this invoice should be sent for.\";s:5:\"title\";s:18:\"The
  LegalEntity id\";s:4:\"type\";s:7:\"integer\";}s:15:\"legalSupplierId\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"DEPRECATED.
  Use legalEntityId\";s:5:\"title\";s:21:\"The legal supplier id\";s:4:\"type\";s:7:\"integer\";}s:4:\"mode\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  mode in which to run this invoice submission.\";s:4:\"enum\";a:1:{i:0;s:6:\"direct\";}s:5:\"title\";s:4:\"Mode\";s:4:\"type\";s:6:\"string\";}s:10:\"supplierId\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"DEPRECATED.\";s:5:\"title\";s:11:\"Supplier
  id\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:4:\"mode\";i:1;s:16:\"invoiceRecipient\";i:2;s:7:\"invoice\";}s:5:\"title\";s:18:\"Invoice
  submission\";s:4:\"type\";s:6:\"object\";}s:23:\"InvoiceSubmissionResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  result of an invoice submission\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"guid\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"A
  (V4) GUID for the invoice submission\";s:5:\"title\";s:4:\"GUID\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:25:\"Invoice
  submission result\";s:4:\"type\";s:6:\"object\";}s:11:\"LegalEntity\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LegalEntityUpdate\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"peppol_identifiers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PeppolIdentifier\";}s:4:\"type\";s:5:\"array\";}}}}}s:17:\"LegalEntityCreate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"city\";O:8:\"stdClass\":5:{s:11:\"description\";s:9:\"The
  city.\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:2;s:5:\"title\";s:4:\"City\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Country\";}s:6:\"county\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"County,
  if applicable\";s:9:\"maxLength\";i:64;s:5:\"title\";s:6:\"County\";s:4:\"type\";s:6:\"string\";}s:5:\"line1\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"The
  first address line.\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:2;s:5:\"title\";s:14:\"Address
  line 1\";s:4:\"type\";s:6:\"string\";}s:5:\"line2\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  second address line, if applicable\";s:9:\"maxLength\";i:64;s:5:\"title\";s:14:\"Address
  line 2\";s:4:\"type\";s:6:\"string\";}s:10:\"party_name\";O:8:\"stdClass\":5:{s:11:\"description\";s:24:\"The
  name of the company.\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:2;s:5:\"title\";s:12:\"Company
  name\";s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":5:{s:11:\"description\";s:12:\"The
  zipcode.\";s:9:\"maxLength\";i:32;s:9:\"minLength\";i:2;s:5:\"title\";s:7:\"Zipcode\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:10:\"party_name\";i:1;s:5:\"line1\";i:2;s:4:\"city\";i:3;s:3:\"zip\";i:4;s:7:\"country\";}}s:21:\"LegalEntityIdentifier\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"identifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"scheme\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"scheme_agency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"LegalEntityShop\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"county\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"identifiers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/LegalEntityIdentifier\";}s:4:\"type\";s:5:\"array\";}s:5:\"line1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"line2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"LegalEntityUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"city\";O:8:\"stdClass\":5:{s:11:\"description\";s:9:\"The
  city.\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:2;s:5:\"title\";s:4:\"City\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Country\";}s:6:\"county\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"County,
  if applicable\";s:9:\"maxLength\";i:64;s:5:\"title\";s:6:\"County\";s:4:\"type\";s:6:\"string\";}s:5:\"line1\";O:8:\"stdClass\":5:{s:11:\"description\";s:23:\"The
  first address line.\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:2;s:5:\"title\";s:14:\"Address
  line 1\";s:4:\"type\";s:6:\"string\";}s:5:\"line2\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"The
  second address line, if applicable\";s:9:\"maxLength\";i:64;s:5:\"title\";s:14:\"Address
  line 2\";s:4:\"type\";s:6:\"string\";}s:10:\"party_name\";O:8:\"stdClass\":5:{s:11:\"description\";s:24:\"The
  name of the company.\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:2;s:5:\"title\";s:12:\"Company
  name\";s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":5:{s:11:\"description\";s:12:\"The
  zipcode.\";s:9:\"maxLength\";i:32;s:9:\"minLength\";i:2;s:5:\"title\";s:7:\"Zipcode\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Logos\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"thumb\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Party\";O:8:\"stdClass\":5:{s:11:\"description\";s:41:\"A
  party that can receive or send invoices\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"address\";O:8:\"stdClass\":5:{s:11:\"description\";s:19:\"The
  company address\";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"city\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"The
  name of the city.\";s:9:\"minLength\";i:2;s:5:\"title\";s:4:\"City\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Country\";}s:6:\"county\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"An
  optional county name.\";s:5:\"title\";s:6:\"County\";s:4:\"type\";s:6:\"string\";}s:10:\"department\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  department the invoice is addressed to\";s:5:\"title\";s:10:\"Department\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"This
  number will be added to the street1 element. The number can be provided in this
  field OR in the street1 field, but not in both.\";s:5:\"title\";s:15:\"Building
  number\";s:4:\"type\";s:6:\"string\";}s:7:\"postbox\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  postbox number\";s:5:\"title\";s:7:\"Postbox\";s:4:\"type\";s:6:\"string\";}s:7:\"street1\";O:8:\"stdClass\":4:{s:11:\"description\";s:98:\"The
  street name. The number can be provided in this fiedl OR in the number field, but
  not in both.\";s:9:\"minLength\";i:2;s:5:\"title\";s:8:\"Street 1\";s:4:\"type\";s:6:\"string\";}s:7:\"street2\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  second street field. Use this if you used the first field for the building name.\";s:5:\"title\";s:8:\"Street
  2\";s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  zipcode/postalzone.\";s:9:\"minLength\";i:2;s:5:\"title\";s:7:\"Zipcode\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"country\";}s:5:\"title\";s:7:\"Address\";s:4:\"type\";s:6:\"object\";}s:11:\"companyName\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  name of the company receiving the invoice\";s:9:\"minLength\";i:2;s:5:\"title\";s:12:\"Company
  name\";s:4:\"type\";s:6:\"string\";}s:7:\"contact\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"The
  billing contact\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"email\";s:5:\"title\";s:9:\"Last
  name\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:5:\"title\";s:10:\"First
  name\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:5:\"title\";s:9:\"Last
  name\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:7:\"Contact\";s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:11:\"companyName\";i:1;s:7:\"address\";}s:5:\"title\";s:5:\"Party\";s:4:\"type\";s:6:\"object\";}s:16:\"PeppolIdentifier\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"identifier\";O:8:\"stdClass\":5:{s:11:\"description\";s:15:\"The
  identifier.\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:2;s:5:\"title\";s:10:\"Identifier\";s:4:\"type\";s:6:\"string\";}s:6:\"scheme\";O:8:\"stdClass\":5:{s:11:\"description\";s:58:\"The
  scheme of the identifier. See <<_company>> for a list.\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:2;s:5:\"title\";s:4:\"Type\";s:4:\"type\";s:6:\"string\";}s:11:\"superscheme\";O:8:\"stdClass\":5:{s:11:\"description\";s:75:\"The
  superscheme of the identifier. Should always be \"iso6523-actorid-upis\".\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:2;s:5:\"title\";s:4:\"Type\";s:4:\"type\";s:6:\"string\";}}}s:22:\"PeppolIdentifierCreate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"identifier\";O:8:\"stdClass\":5:{s:11:\"description\";s:15:\"The
  identifier.\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:2;s:5:\"title\";s:10:\"Identifier\";s:4:\"type\";s:6:\"string\";}s:6:\"scheme\";O:8:\"stdClass\":5:{s:11:\"description\";s:58:\"The
  scheme of the identifier. See <<_company>> for a list.\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:2;s:5:\"title\";s:4:\"Type\";s:4:\"type\";s:6:\"string\";}s:11:\"superscheme\";O:8:\"stdClass\":5:{s:11:\"description\";s:75:\"The
  superscheme of the identifier. Should always be \"iso6523-actorid-upis\".\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:2;s:5:\"title\";s:4:\"Type\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:10:\"identifier\";i:1;s:6:\"scheme\";i:2;s:11:\"superscheme\";}}s:31:\"PreflightInvoiceRecipientResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  result of preflighting an invoice recipient\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"code\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  result code of the preflight request\";s:4:\"enum\";a:2:{i:0;s:2:\"ok\";i:1;s:3:\"nok\";}s:5:\"title\";s:11:\"Result
  code\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:34:\"Preflight invoice recipient
  result\";s:4:\"type\";s:6:\"object\";}s:16:\"PublicIdentifier\";O:8:\"stdClass\":5:{s:11:\"description\";s:38:\"A
  public identifier for this customer.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"The
  actual identifier.\";s:9:\"minLength\";i:2;s:5:\"title\";s:10:\"Identifier\";s:4:\"type\";s:6:\"string\";}s:6:\"scheme\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"The
  scheme of the identifier. See <<_company>> for a list.\";s:9:\"minLength\";i:3;s:5:\"title\";s:6:\"Scheme\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:6:\"scheme\";i:1;s:2:\"id\";}s:5:\"title\";s:17:\"Public
  identifier\";s:4:\"type\";s:6:\"object\";}s:17:\"PublicIdentifiers\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"A
  list of public identifiers that uniquely identifiy this customer.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PublicIdentifier\";}s:5:\"title\";s:18:\"Public
  identifiers\";s:4:\"type\";s:5:\"array\";}s:15:\"PurchaseInvoice\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":24:{s:10:\"accounting\";O:8:\"stdClass\":4:{s:4:\"$ref\";s:46:\"#/definitions/PurchaseInvoiceAccountingDetails\";s:11:\"description\";s:39:\"The
  accounting details for the invoice.\";s:5:\"title\";s:18:\"Accounting Details\";s:4:\"type\";s:6:\"object\";}s:16:\"allowance_charge\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"A
  correction on the amount to pay, for instance if the invoice has been prepaid, in
  which case it will be negative.\";s:5:\"title\";s:16:\"Allowance Charge\";s:4:\"type\";s:6:\"number\";}s:20:\"amount_including_vat\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"The
  total invoice amount payable, including VAT. This is equal to the sum of the invoice_lines
  (amount_excluding_vat + vat.amount)\";s:5:\"title\";s:20:\"Amount Including VAT\";s:4:\"type\";s:6:\"number\";}s:17:\"billing_reference\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  end date of the period this invoice relates to. Format \"YYYY-MM-DD\".\";s:5:\"title\";s:13:\"End
  of Period\";s:4:\"type\";s:6:\"string\";}s:15:\"buyer_reference\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  end date of the period this invoice relates to. Format \"YYYY-MM-DD\".\";s:5:\"title\";s:13:\"End
  of Period\";s:4:\"type\";s:6:\"string\";}s:27:\"contract_document_reference\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  end date of the period this invoice relates to. Format \"YYYY-MM-DD\".\";s:5:\"title\";s:13:\"End
  of Period\";s:4:\"type\";s:6:\"string\";}s:8:\"document\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  Base64 encoded PDF document associated with the invoice.\";s:5:\"title\";s:8:\"Document\";s:4:\"type\";s:6:\"string\";}s:22:\"document_currency_code\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  ISO 4217 currency for the invoice.\";s:5:\"title\";s:8:\"Currency\";s:4:\"type\";s:6:\"string\";}s:8:\"due_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  date the invoice must be payed by. Format \"YYYY-MM-DD\".\";s:5:\"title\";s:8:\"Due
  Date\";s:4:\"type\";s:6:\"string\";}s:4:\"guid\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  GUID of the invoice\";s:6:\"format\";s:4:\"uuid\";s:5:\"title\";s:4:\"GUID\";s:4:\"type\";s:6:\"string\";}s:13:\"invoice_lines\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/PurchaseInvoiceInvoiceLine\";}s:4:\"type\";s:5:\"array\";}s:14:\"invoice_number\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  invoicenumber.\";s:5:\"title\";s:13:\"Invoicenumber\";s:4:\"type\";s:6:\"string\";}s:12:\"invoice_type\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  type of invoice.\";s:4:\"enum\";a:3:{i:0;s:7:\"invoice\";i:1;s:10:\"creditnote\";i:2;s:17:\"correctioninvoice\";}s:5:\"title\";s:12:\"Invoice
  Type\";s:4:\"type\";s:6:\"string\";}s:10:\"issue_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  date the invoice was issued. Format \"YYYY-MM-DD\".\";s:5:\"title\";s:10:\"Issue
  Date\";s:4:\"type\";s:6:\"string\";}s:15:\"legal_entity_id\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  id of the LegalEntity the invoice was received for.\";s:6:\"format\";s:5:\"int64\";s:5:\"title\";s:14:\"LegalEntity
  id\";s:4:\"type\";s:7:\"integer\";}s:14:\"payable_amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:297:\"The
  total invoice amount payable including VAT. This is equal to amount_including_vat
  + allowance_charge + payable_rounding_amount. This property is redundant and provided
  only to make invoice processing more easy. You can also choose to only store this
  property, instead of the underlying fields.\";s:5:\"title\";s:27:\"Amount to Pay
  Including VAT\";s:4:\"type\";s:6:\"number\";}s:23:\"payable_rounding_amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  difference between the invoice total and the sum of the invoice lines.\";s:5:\"title\";s:23:\"Payable
  Rounding Amount\";s:4:\"type\";s:6:\"number\";}s:13:\"payment_means\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"How
  the invoice can be paid.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"iban\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  IBAN to which to transfer.\";s:5:\"title\";s:4:\"IBAN\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"An
  id to mention in the transfer.\";s:5:\"title\";s:2:\"Id\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:13:\"Payment
  Means\";s:4:\"type\";s:6:\"object\";}s:10:\"period_end\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  end date of the period this invoice relates to. Format \"YYYY-MM-DD\".\";s:5:\"title\";s:13:\"End
  of Period\";s:4:\"type\";s:6:\"string\";}s:12:\"period_start\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  start date of the period this invoice relates to. Format \"YYYY-MM-DD\".\";s:5:\"title\";s:15:\"Start
  of Period\";s:4:\"type\";s:6:\"string\";}s:6:\"sender\";O:8:\"stdClass\":4:{s:4:\"$ref\";s:35:\"#/definitions/PurchaseInvoiceSender\";s:11:\"description\";s:38:\"The
  organzation that sent the invoice.\";s:5:\"title\";s:14:\"Invoice Sender\";s:4:\"type\";s:6:\"object\";}s:6:\"source\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"The
  source the invoice was received from.\";s:4:\"enum\";a:4:{i:0;s:6:\"peppol\";i:1;s:6:\"script\";i:2;s:8:\"supplier\";i:3;s:5:\"email\";}s:5:\"title\";s:14:\"Invoice
  Source\";s:4:\"type\";s:6:\"string\";}s:14:\"tax_point_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  date the invoice was issued for tax purposes. In most countries MUST match the issue_date.
  Format \"YYYY-MM-DD\".\";s:5:\"title\";s:14:\"Tax Point Date\";s:4:\"type\";s:6:\"string\";}s:18:\"vat_reverse_charge\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Whether
  or not the invoice is reverse charged.\";s:5:\"title\";s:18:\"VAT Reverse Charge\";s:4:\"type\";s:7:\"boolean\";}}}s:32:\"PurchaseInvoiceAccountingDetails\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  the code of the general ledger account.\";s:5:\"title\";s:4:\"Code\";s:4:\"type\";s:6:\"string\";}s:4:\"list\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  name of the list for the code, e.g. \"RGS\".\";s:5:\"title\";s:4:\"List\";s:4:\"type\";s:6:\"string\";}s:12:\"list_version\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  version of the list for the code, e.g. \"1.1\".\";s:5:\"title\";s:12:\"List Version\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"A
  textual descroption of the code.\";s:5:\"title\";s:4:\"Name\";s:4:\"type\";s:6:\"string\";}}}s:26:\"PurchaseInvoiceInvoiceLine\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"accounting\";O:8:\"stdClass\":4:{s:4:\"$ref\";s:46:\"#/definitions/PurchaseInvoiceAccountingDetails\";s:11:\"description\";s:44:\"The
  accounting details for the invoice line.\";s:5:\"title\";s:18:\"Accounting Details\";s:4:\"type\";s:6:\"object\";}s:16:\"allowance_charge\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  adjustment to the price, for instance a discount.\";s:5:\"title\";s:16:\"Allowance
  Charge\";s:4:\"type\";s:6:\"number\";}s:20:\"amount_excluding_vat\";O:8:\"stdClass\":3:{s:11:\"description\";s:252:\"The
  amount excluding VAT. This is equal to quantity x price_amount + allowance_charge.
  This property is redundant and provided only to make invoice processing more easy.
  You can also choose to only store this property, instead of the underlying fields.\";s:5:\"title\";s:20:\"Amount
  Excluding VAT\";s:4:\"type\";s:6:\"number\";}s:11:\"description\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  description for the invoice line.\";s:5:\"title\";s:11:\"Description\";s:4:\"type\";s:6:\"string\";}s:12:\"price_amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  price for one item, excluding VAT.\";s:5:\"title\";s:12:\"Price Amount\";s:4:\"type\";s:6:\"number\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  quantity of the item.\";s:5:\"title\";s:8:\"Quantity\";s:4:\"type\";s:6:\"number\";}s:3:\"vat\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"The
  VAT details for the invoice line.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  amount of VAT for the invoice line.\";s:5:\"title\";s:6:\"Amount\";s:4:\"type\";s:6:\"number\";}s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  ISO 3166 country of the VAT for the invoice line.\";s:5:\"title\";s:7:\"Country\";s:4:\"type\";s:6:\"string\";}s:10:\"percentage\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  percentage of VAT for the invoice line.\";s:5:\"title\";s:10:\"Percentage\";s:4:\"type\";s:6:\"number\";}}s:5:\"title\";s:11:\"VAT
  Details\";s:4:\"type\";s:6:\"object\";}}}s:21:\"PurchaseInvoiceSender\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:15:\"billing_contact\";O:8:\"stdClass\":4:{s:4:\"$ref\";s:49:\"#/definitions/PurchaseInvoiceSenderBillingContact\";s:11:\"description\";s:36:\"The
  billing contact for the invoice.\";s:5:\"title\";s:15:\"Billing Contact\";s:4:\"type\";s:6:\"object\";}s:4:\"city\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"The
  city.\";s:5:\"title\";s:4:\"City\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  country.\";s:5:\"title\";s:7:\"Country\";s:4:\"type\";s:6:\"string\";}s:6:\"county\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  county.\";s:5:\"title\";s:6:\"County\";s:4:\"type\";s:6:\"string\";}s:10:\"department\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  department who sent the invoice.\";s:5:\"title\";s:10:\"Department\";s:4:\"type\";s:6:\"string\";}s:5:\"line1\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  address\";s:5:\"title\";s:14:\"Address Line 1\";s:4:\"type\";s:6:\"string\";}s:5:\"line2\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  address, line 2\";s:5:\"title\";s:14:\"Address Line 2\";s:4:\"type\";s:6:\"string\";}s:10:\"party_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  party who sent the invoice.\";s:5:\"title\";s:10:\"Party Name\";s:4:\"type\";s:6:\"string\";}s:18:\"peppol_identifiers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PeppolIdentifier\";}s:4:\"type\";s:5:\"array\";}s:3:\"zip\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"The
  zip code.\";s:5:\"title\";s:3:\"Zip\";s:4:\"type\";s:6:\"string\";}}}s:35:\"PurchaseInvoiceSenderBillingContact\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  email of the billing contact.\";s:5:\"title\";s:5:\"Email\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  first name of the billing contact.\";s:5:\"title\";s:10:\"First Name\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  last name of the billing contact.\";s:5:\"title\";s:9:\"Last Name\";s:4:\"type\";s:6:\"string\";}}}s:18:\"PurchaseInvoiceUbl\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"guid\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"The
  GUID of the invoice\";s:6:\"format\";s:4:\"uuid\";s:5:\"title\";s:4:\"GUID\";s:4:\"type\";s:6:\"string\";}s:15:\"legal_entity_id\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  id of the LegalEntity the invoice was received for.\";s:6:\"format\";s:5:\"int64\";s:5:\"title\";s:14:\"LegalEntity
  id\";s:4:\"type\";s:7:\"integer\";}s:3:\"ubl\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  Base64 encoded UBL invoice.\";s:5:\"title\";s:11:\"UBL invoice\";s:4:\"type\";s:6:\"string\";}}}s:4:\"Shop\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"legal_entities\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LegalEntityShop\";}s:4:\"type\";s:5:\"array\";}s:4:\"logo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Logos\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"purpose\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  purpose of the shop. Either \"invoice\" or \"statement\"\";s:5:\"title\";s:7:\"Purpose\";s:4:\"type\";s:6:\"string\";}}}s:16:\"ShopAccountInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:690:\"This
  is email address determines where the invoices for all ShopAccounts\nin the same
  _external_user_id_ group are sent. Each time you create or\nupdate a ShopAccount
  for an _external_user_id_ and also provide\n__email__, the email destination for
  all the ShopAccounts in the\n_external_user_id_ group are updated at the same time.\n\nWe
  suggest you provide an immutable email address. If your user can\nchange the email
  address to which the invoices are to be sent, then you\nwill need to do an update
  for one of the ShopAccounts for that user in\norder for Storecove to start using
  the new email address.\n\nNote that this field is mandatory for the first ShopAccount
  that you create for an entity.\n\";s:4:\"type\";s:6:\"string\";}s:16:\"external_user_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:430:\"The
  _external_user_id_ is what identifies the entity for which you create\nthis ShopAccount.
  This could be a user, however, if your\nusers can manage multiple organizations/administrations,
  then it is a\nbetter idea to put the organization/administration identifier in this\nfield,
  because the _external_user_id_ groups the ShopAccounts into a set\nthat all deliver
  their invoices to the same destination (typically an\nemail address).\n\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  password for the account.\";s:4:\"type\";s:6:\"string\";}s:7:\"shop_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  id of the Shop the account is for.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  username for the account. The username needs to be unique in combination with the
  shop_id.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:8:\"username\";i:1;s:8:\"password\";i:2;s:16:\"external_user_id\";i:3;s:7:\"shop_id\";}}s:23:\"ShopAccountRequestInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"external_user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"request_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"request_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:8:\"username\";i:1;s:8:\"password\";i:2;s:16:\"external_user_id\";i:3;s:12:\"request_name\";i:4;s:11:\"request_url\";}}s:24:\"ShopAccountRequestResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"external_user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"request_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"request_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"ShopAccountRequestUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"request_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"request_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"ShopAccountResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"See
  <<_openapi_shopaccountinput>>.\";s:4:\"type\";s:6:\"string\";}s:16:\"external_user_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"See
  <<_openapi_shopaccountinput>>.\";s:4:\"type\";s:6:\"string\";}s:9:\"from_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"The
  date from invoices will be collected. This field defaults to the first day of the
  month\n                         the ShopAccount was created in.\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  Storecove id for the ShopAccount\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"shop\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Shop\";s:11:\"description\";s:34:\"See
  <<_openapi_shopaccountinput>>.\";}s:23:\"sign_in_error_confirmed\";O:8:\"stdClass\":2:{s:11:\"description\";s:201:\"Whether
  or not Storecove has detected and confirmed a sign-in failure. This field is reset\n
  \                        to false each time a ShopAccount is updated and the username
  or password has changed.\";s:4:\"type\";s:7:\"boolean\";}s:26:\"sign_in_error_confirmed_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  date on which the sign-in error was confirmed.\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"See
  <<_openapi_shopaccountinput>>.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"ShopAccountUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"See
  <<_openapi_shopaccountinput>>.\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"See
  <<_openapi_shopaccountinput>>.\";s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"See
  <<_openapi_shopaccountinput>>.\";s:4:\"type\";s:6:\"string\";}}}s:20:\"WidgetIdentification\";O:8:\"stdClass\":5:{s:11:\"description\";s:96:\"The
  identification for the identifier related to the Storecove Destination Configuration
  widget.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:112:\"Your
  id for this organization. This should match the id that you use for the Storecove
  widget (if you use that).\";s:9:\"minLength\";i:2;s:5:\"title\";s:9:\"Entity id\";s:4:\"type\";s:6:\"string\";}s:13:\"legalEntityId\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  id of the LegalEntity this invoice should be sent for.\";s:5:\"title\";s:14:\"LegalEntity
  Id\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:13:\"legalEntityId\";i:1;s:2:\"id\";}s:5:\"title\";s:21:\"Widget
  Identification\";s:4:\"type\";s:6:\"object\";}}"
...
