---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:11:\"description\";s:8:\"News API\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:43:\"https://www.apache.org/licenses/LICENSE-2.0\";}s:5:\"title\";s:27:\"BC
  Gov News API Service 1.0\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:86:\"https://api.apis.guru/v2/cache/logo/https_avatars1.githubusercontent.com_u_916280.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:7:\"openapi\";s:3:\"url\";s:76:\"https://raw.githubusercontent.com/bcgov/api-specs/master/news/news-oas3.json\";s:7:\"version\";s:3:\"3.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"gov.bc.ca\";s:13:\"x-serviceName\";s:4:\"news\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"gov_bc_ca_news\";s:4:\"type\";s:7:\"openapi\";}}"
host: news.api.gov.bc.ca
basePath: /
paths:
  /api/FacebookPosts/ByUri:
    get:
      produces:
      - application/json
      parameters:
      - description: ""
        in: query
        name: uri
        required: false
        type: string
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/FacebookPost'
      tags:
      - FacebookPosts
      operationId: FacebookPosts_GetByUri
      summary: Get a Facebook post based on a Uri
  /api/Home:
    get:
      produces:
      - application/json
      parameters:
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Home'
      tags:
      - Home
      operationId: Home_Get
      summary: Returns the top level content for the home page
  /api/Ministries:
    get:
      produces:
      - application/json
      parameters:
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            items:
              $ref: '#/definitions/Ministry'
            type: array
      tags:
      - Ministries
      operationId: Ministries_GetAll
      summary: Get all ministries
  /api/Ministries/{key}:
    get:
      produces:
      - application/json
      parameters:
      - description: ""
        in: path
        name: key
        required: true
        type: string
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Ministry'
      tags:
      - Ministries
      operationId: Ministries_GetOne
      summary: Get the Ministry associated with the ministry key
  /api/Ministries/{key}/Minister:
    get:
      produces:
      - application/json
      parameters:
      - description: ""
        in: path
        name: key
        required: true
        type: string
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Minister'
      tags:
      - Ministries
      operationId: Ministries_GetMinister
      summary: Get the Minister associated with the ministry key
  /api/Newsletters:
    get:
      produces:
      - application/json
      parameters:
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            items:
              $ref: '#/definitions/Newsletter'
            type: array
      tags:
      - Newsletters
      operationId: Newsletters_GetAll
      summary: Get all newsletters
  /api/Newsletters/Images/{guid}:
    get:
      produces:
      - application/json
      parameters:
      - description: ""
        in: path
        name: guid
        required: true
        type: string
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/EditionImage'
      tags:
      - Newsletters
      operationId: Newsletters_GetImage
      summary: Get the image object reference by of a Newsletter Edition associated
        with the image guid
  /api/Newsletters/{newsletterKey}:
    get:
      produces:
      - application/json
      parameters:
      - in: path
        name: newsletterKey
        required: true
        type: string
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Newsletter'
      tags:
      - Newsletters
      operationId: Newsletters_GetOne
      summary: Get a specific newsletter
  /api/Newsletters/{newsletterKey}/Editions/{editionKey}:
    get:
      produces:
      - application/json
      parameters:
      - description: ""
        in: path
        name: newsletterKey
        required: true
        type: string
      - description: ""
        in: path
        name: editionKey
        required: true
        type: string
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Edition'
      tags:
      - Newsletters
      operationId: Newsletters_GetEdition
      summary: Returns a specific edition of a newsletter
  /api/Newsletters/{newsletterKey}/Editions/{editionKey}/Articles/{articleKey}:
    get:
      produces:
      - application/json
      parameters:
      - description: ""
        in: path
        name: newsletterKey
        required: true
        type: string
      - description: ""
        in: path
        name: editionKey
        required: true
        type: string
      - description: ""
        in: path
        name: articleKey
        required: true
        type: string
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Article'
      tags:
      - Newsletters
      operationId: Newsletters_GetArticle
      summary: Get an article belonging to a Newsletter edition
  /api/Posts:
    get:
      produces:
      - application/json
      parameters:
      - description: ""
        explode: true
        in: query
        items:
          type: string
        name: postKeys
        required: false
        type: array
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            items:
              $ref: '#/definitions/Post'
            type: array
      tags:
      - Posts
      operationId: Posts_Get
      summary: Get the posts associated with the keys in the list passed in.
  /api/Posts/Keys/{indexKind}/{indexKey}:
    get:
      produces:
      - application/json
      parameters:
      - description: home or one of categories
        in: path
        name: indexKind
        required: true
        type: string
      - description: default or one key of the categories (ministries, sectors, services,
          tags, themes)
        in: path
        name: indexKey
        required: true
        type: string
      - description: 'One of: releases, stories, factsheets, updates or default (releases+stories+factsheets)'
        in: query
        name: postKind
        required: false
        type: string
      - description: number of posts to return
        format: int32
        in: query
        name: count
        required: false
        type: integer
      - description: number of posts to skip
        format: int32
        in: query
        name: skip
        required: false
        type: integer
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            items:
              $ref: '#/definitions/KeyValuePair_2'
            type: array
      tags:
      - Posts
      operationId: Posts_GetAllKeys
      summary: Get all keys for the specified index (newsroom or category)
  /api/Posts/Keys/{reference}:
    get:
      produces:
      - application/json
      parameters:
      - description: ""
        in: path
        name: reference
        required: true
        type: string
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/KeyValuePair_2'
      tags:
      - Posts
      operationId: Posts_GetKeyFromReference
      summary: Get the post key associated with the reference.
  /api/Posts/Latest/{indexKind}/{indexKey}:
    get:
      produces:
      - application/json
      parameters:
      - description: home or one of categories
        in: path
        name: indexKind
        required: true
        type: string
      - description: default or one key of the categories (ministries, sectors, services,
          tags, themes)
        in: path
        name: indexKey
        required: true
        type: string
      - description: 'One of: releases, stories, factsheets, updates or default (releases+stories
          except top/feature)'
        in: query
        name: postKind
        required: false
        type: string
      - description: number of posts to return
        format: int32
        in: query
        name: count
        required: false
        type: integer
      - description: number of posts to skip
        format: int32
        in: query
        name: skip
        required: false
        type: integer
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            items:
              $ref: '#/definitions/Post'
            type: array
      tags:
      - Posts
      operationId: Posts_GetLatest
      summary: Get the latest posts of postKind for the specified index (default or
        category)
  /api/Posts/LatestMediaUri/{mediaType}:
    get:
      produces:
      - application/json
      parameters:
      - description: ""
        in: path
        name: mediaType
        required: true
        type: string
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            type: string
      tags:
      - Posts
      operationId: Posts_GetLatestMediaUri
      summary: Gets the latest Social Media post for the social media type passed
        in.
  /api/Posts/{key}:
    get:
      produces:
      - application/json
      parameters:
      - description: ""
        in: path
        name: key
        required: true
        type: string
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Post'
      tags:
      - Posts
      operationId: Posts_GetOne
      summary: Get the post associated with the key
  /api/ResourceLinks:
    get:
      produces:
      - application/json
      parameters:
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            items:
              $ref: '#/definitions/ResourceLink'
            type: array
      tags:
      - ResourceLinks
      operationId: ResourceLinks_GetAll
      summary: Get all resource links
  /api/Sectors:
    get:
      produces:
      - application/json
      parameters:
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            items:
              $ref: '#/definitions/Sector'
            type: array
      tags:
      - Sectors
      operationId: Sectors_GetAll
      summary: Get all Sectors
  /api/Sectors/{key}:
    get:
      produces:
      - application/json
      parameters:
      - description: ""
        in: path
        name: key
        required: true
        type: string
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Sector'
      tags:
      - Sectors
      operationId: Sectors_GetOne
      summary: Get the sector associated with the key
  /api/Services:
    get:
      produces:
      - application/json
      parameters:
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            items:
              $ref: '#/definitions/Service'
            type: array
      tags:
      - Services
      operationId: Services_GetAll
      summary: Get all Services
  /api/Services/{key}:
    get:
      produces:
      - application/json
      parameters:
      - description: ""
        in: path
        name: key
        required: true
        type: string
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Service'
      tags:
      - Services
      operationId: Services_GetOne
      summary: Get the service associated with the passed key
  /api/Slides:
    get:
      produces:
      - application/json
      parameters:
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            items:
              $ref: '#/definitions/Slide'
            type: array
      tags:
      - Slides
      operationId: Slides_GetAll
      summary: Get all Slides
  /api/Slides/{id}:
    get:
      produces:
      - application/json
      parameters:
      - description: ""
        in: path
        name: id
        required: true
        type: string
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Slide'
      tags:
      - Slides
      operationId: Slides_GetOne
      summary: Get the slide associated to the id
  /api/Tags:
    get:
      produces:
      - application/json
      parameters:
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            items:
              $ref: '#/definitions/Tag'
            type: array
      tags:
      - Tags
      operationId: Tags_GetAll
      summary: Get all Tags
  /api/Tags/{key}:
    get:
      produces:
      - application/json
      parameters:
      - description: ""
        in: path
        name: key
        required: true
        type: string
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Tag'
      tags:
      - Tags
      operationId: Tags_GetOne
      summary: Get the Tag associated with the key
  /api/Themes:
    get:
      produces:
      - application/json
      parameters:
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            items:
              $ref: '#/definitions/Theme'
            type: array
      tags:
      - Themes
      operationId: Themes_GetAll
      summary: Get all Themes
  /api/Themes/{key}:
    get:
      produces:
      - application/json
      parameters:
      - description: ""
        in: path
        name: key
        required: true
        type: string
      - default: "1.0"
        description: The requested API version
        in: query
        name: api-version
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Theme'
      tags:
      - Themes
      operationId: Themes_GetOne
      summary: Get the Theme associated with the key
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":23:{s:7:\"Article\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DataModel\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"editionName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"htmlBody\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Asset\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"length\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Category\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DataIndex\";}}s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"audioUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"featurePostKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"flickrUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"isActive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"topPostKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"twitterFeedUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"youtubeUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Contact\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"emailAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fullName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"mobileNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"DataIndex\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DataModel\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"featurePostKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"topPostKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"DataModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Document\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"byline\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"contacts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DocumentContact\";}s:4:\"type\";s:5:\"array\";}s:11:\"detailsHtml\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"headline\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"languageId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"pageTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"subheadline\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DocumentContact\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Edition\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DataModel\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"htmlBody\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"EditionImage\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DataModel\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"fileName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"imageBytes\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:9:\"imageType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"FacebookPost\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DataModel\";}}s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"facebookObjectId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"pictureUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"postComments\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"postLikes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"postShares\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"poster\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"posterLikes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"posterLogo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"posterSubtitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Home\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DataIndex\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"featurePostKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:32:\"liveWebcastFlashMediaManifestUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"liveWebcastM3uPlaylist\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"topPostKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"KeyValuePair_2\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Minister\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DataModel\";}}s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"emailHtml\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"headline\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"photo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"post\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Ministry\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Category\";}}s:10:\"properties\";O:8:\"stdClass\":19:{s:8:\"audioUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"childMinistryKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"contactUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:21:\"displayAdditionalName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"featurePostKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"flickrUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"isActive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"ministerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ministryUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"newsletterLinks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceLink\";}s:4:\"type\";s:5:\"array\";}s:17:\"parentMinistryKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"secondContactUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:12:\"serviceLinks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceLink\";}s:4:\"type\";s:5:\"array\";}s:10:\"topPostKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"topicLinks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResourceLink\";}s:4:\"type\";s:5:\"array\";}s:19:\"twitterFeedUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"weekendContactNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"youtubeUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Newsletter\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DataModel\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"editions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/KeyValuePair_2\";}s:4:\"type\";s:5:\"array\";}s:12:\"ministryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Post\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DataModel\";}}s:10:\"properties\";O:8:\"stdClass\":20:{s:8:\"assetUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"atomId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"azureAssets\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Asset\";}s:4:\"type\";s:5:\"array\";}s:9:\"documents\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Document\";}s:4:\"type\";s:5:\"array\";}s:18:\"facebookPictureUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"hasMediaAssets\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"isNewsOnDemand\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"keywords\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"leadMinistryKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ministryKeys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"publishDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"redirectUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"reference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"sectorKeys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"serviceKeys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"socialMediaHeadline\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"socialMediaSummary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ResourceLink\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DataModel\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Sector\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Category\";}}s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"audioUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"featurePostKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"flickrUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"isActive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"topPostKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"twitterFeedUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"youtubeUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Service\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Category\";}}s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"audioUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"featurePostKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"flickrUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"isActive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"topPostKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"twitterFeedUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"youtubeUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Slide\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DataModel\";}}s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"actionLabel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"actionUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"facebookPostUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"headline\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:9:\"imageType\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"justify\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"slideId\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Tag\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Category\";}}s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"audioUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"featurePostKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"flickrUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"isActive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"topPostKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"twitterFeedUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"youtubeUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Theme\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Category\";}}s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"audioUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"featurePostKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"flickrUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"isActive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"topPostKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"twitterFeedUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"youtubeUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
