---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:3:\"0.6\";s:5:\"title\";s:29:\"SEP_API_Messages_Provisioning\";s:11:\"description\";s:30:\"SEP
  API ICD V2.0-7, SEP 2.0.3B\";}"
host: sdpapi.inmarsat.com
paths:
  /catalog/{id}:
    get:
      description: Retrieves the catalog entry having the specified id.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Catalog
      parameters:
      - name: id
        in: path
        description: marketable package id
        required: true
        type: integer
      - name: context_buyerId
        in: query
        description: VAR id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/catalog'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /catalog/query/{queryName}:
    get:
      description: Returns marketable package details for packages matching the query
        criteria.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Catalog
      parameters:
      - name: queryName
        in: path
        description: name of query
        required: true
        type: string
        enum:
        - CatalogQuery
        - AllCatalogQuery
        - DowngradePackagesQuery
      - name: externalCustomerId
        in: query
        description: external customer id of customer or reseller
        required: true
        type: string
      - name: mpID
        in: query
        description: marketable package instance id
        required: false
        type: integer
      - name: mpName
        in: query
        description: marketable package name
        required: false
        type: string
      - name: context_type
        in: query
        description: sales or purchase (default)
        required: false
        type: string
        enum:
        - sales
        - purchase
        default: purchase
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/queryResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /catalog/getContentAppItem/{id}:
    post:
      description: Returns the list of catalog items to be retrieved for a customer,
        based on id.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Catalog
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      - name: Request Body
        in: body
        description: TBD
        required: true
        schema:
          $ref: '#/definitions/contentAppInfo'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/contentAppItems'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /customer/{id}:
    get:
      description: Returns the customer information for the specified id.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Customer
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/customer'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /customer/getByLogin/{id}:
    get:
      description: Returns the customer information for the specified login name.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Customer
      parameters:
      - name: id
        in: path
        description: login id of the customer
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/customers'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /customer/{id}/getBalances/{date}:
    get:
      description: Retrieves pre-paid balance of private end user.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Customer
      - Balances
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      - name: date
        in: path
        description: balance as of date.  Format = MM-DD-YYYY.
        required: true
        type: string
      - name: startIndex
        in: query
        description: start index
        required: false
        type: integer
      - name: maxResponseSize
        in: query
        description: maximum response size.
        required: false
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/balances'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /customer/{id}/UsageData/{startDate}/{endDate}/{type}:
    get:
      description: Retrieves usage data for a specific customer based on start date
        and end date range and specified type.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Customer
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      - name: startDate
        in: path
        description: start date of usage inquiry.  Format = YYYY-MM-DD.
        required: true
        type: string
      - name: endDate
        in: path
        description: end date of usage inquiry.  Format = YYYY-MM-DD.
        required: true
        type: string
      - name: type
        in: path
        description: type of usage data.
        required: true
        type: string
        enum:
        - Billed
        - unbilled
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/usageInfoes'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /customer/{id}/subscriptions/{key}:
    get:
      description: Retrieves the details of a marketable package subscribed by a customer.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Customer
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      - name: key
        in: path
        description: subscription id.
        required: true
        type: string
      - name: context_adminVARid
        in: query
        description: admin VAR's customer id, only for VAR2VAR customer.
        required: false
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/subscriptionSpecs'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /customer/{id}/parent:
    get:
      description: Returns the parent entity of the entity represented by id.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Customer
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/customer'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /customer/getIdsByLogin/{id}:
    get:
      description: Returns an array of mapped customer IDs by login name.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Customer
      parameters:
      - name: id
        in: path
        description: customer login name
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/responseData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /customer/{id}/childrenHierarchy/{depth}:
    get:
      description: Returns a child hierarchy tree for a customer.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Customer
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      - name: depth
        in: path
        description: depth of the hierarchy tree.  0 = complete hierarchy, 1 = reseller/customer
          only, 2 = reseller/customer and immediate child
        required: true
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/childHierarchies'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /customer/{id}/users:
    get:
      description: Returns a set of users for a customer id.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Customer
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/userInfoes'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /customer/{id}/getSubscribedContentAppItems/{date}:
    get:
      description: Returns subscribed content details for a specific customer for
        a specified date.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Customer
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      - name: date
        in: path
        description: timestamp format = DD-MM-YYYY HH:MM:SS
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/subscribedContentAppItems'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /customer/{id}/cancelSubscribedContentApp:
    post:
      description: Cancels the app and content for a specific customer.  Returns the
        details about the cancellation.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Customer
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      - name: contentID
        in: query
        description: id to identify the content
        required: false
        type: string
      - name: effectiveDate
        in: query
        description: date on which the charges will be created
        required: false
        type: string
      - name: Id
        in: query
        description: mapped with purchase id
        required: false
        type: string
      - name: provider
        in: query
        description: external customer id of content provider
        required: false
        type: string
      - name: subscription
        in: query
        description: YES or NO
        required: false
        type: string
        enum:
        - "YES"
        - "NO"
      - name: applicationId
        in: query
        description: id to identify the application
        required: false
        type: string
      - name: Request Body
        in: body
        description: TBD
        required: true
        schema:
          $ref: '#/definitions/contentAppInfo'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/cancelledContentAppItem'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /customer/query/{queryName}:
    get:
      description: Returns managed entity objects matching the query criteria.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Customer
      parameters:
      - name: queryName
        in: path
        description: name of the query to be executed
        required: true
        type: string
      - name: externalCustomerId
        in: query
        description: customer id
        required: true
        type: string
      - name: context_refresh
        in: query
        description: yes or no
        required: false
        type: string
        enum:
        - "yes"
        - "no"
      - name: lastModified
        in: query
        required: false
        type: string
      - name: startIndex
        in: query
        required: false
        type: string
      - name: maxResponseSize
        in: query
        required: false
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/queryResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /reseller/{id}:
    get:
      description: Returns the reseller information for the specified id.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Reseller
      parameters:
      - name: id
        in: path
        description: reseller id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/reseller'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /reseller/query/{queryName}:
    get:
      description: Returns managed entity objects matching the query criteria.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Reseller
      parameters:
      - name: queryName
        in: path
        description: name of the query to be executed
        required: true
        type: string
      - name: externalCustomerId
        in: query
        description: reseller id
        required: true
        type: string
      - name: context_refresh
        in: query
        description: yes or no
        required: false
        type: string
        enum:
        - "yes"
        - "no"
      - name: lastModified
        in: query
        required: false
        type: string
      - name: startIndex
        in: query
        required: false
        type: string
      - name: maxResponseSize
        in: query
        required: false
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/queryResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /reseller/{id}/UsageData/{startDate}/{endDate}/{type}:
    get:
      description: Retrieves usage data for a specific reseller based on start date
        and end date range and specified type.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Reseller
      parameters:
      - name: id
        in: path
        description: reseller id
        required: true
        type: string
      - name: startDate
        in: path
        description: start date of usage inquiry.  Format = DD-MM-YYYY.
        required: true
        type: string
      - name: endDate
        in: path
        description: end date of usage inquiry.  Format = DD-MM-YYYY.
        required: true
        type: string
      - name: type
        in: path
        description: type of usage data.
        required: true
        type: string
        enum:
        - Billed
        - unbilled
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/usageInfoes'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /reseller/{id}/subscriptions/{key}:
    get:
      description: Retrieves the details of a marketable package subscribed by a reseller.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Reseller
      parameters:
      - name: id
        in: path
        description: reseller id
        required: true
        type: string
      - name: key
        in: path
        description: subscription id.
        required: true
        type: string
      - name: context_adminVARid
        in: query
        description: admin VAR's customer id, only for VAR2VAR customer.
        required: false
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/subscriptionSpecs'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /reseller/getIdsByLogin/{id}:
    get:
      description: Returns an array of mapped reseller IDs by login name.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Reseller
      parameters:
      - name: id
        in: path
        description: reseller login name
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/responseData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /reseller/{id}/childrenHierarchy/{depth}:
    get:
      description: Returns a child hierarchy tree for a reseller.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Reseller
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      - name: depth
        in: path
        description: depth of the hierarchy tree.  0 = complete hierarchy, 1 = reseller/customer
          only, 2 = reseller/customer and immediate child
        required: true
        type: integer
      - name: startIndex
        in: query
        description: starting index of the query
        required: false
        type: string
      - name: maxResponseSize
        in: query
        description: maximum number of items in the response
        required: false
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/childHierarchies'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /reseller/{id}/users:
    get:
      description: Returns a set of users for a reseller id.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Reseller
      parameters:
      - name: id
        in: path
        description: reseller id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/userInfoes'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /reseller/{id}/getSubscribedContentAppItems/{date}:
    get:
      description: Returns subscribed content details for a specific reseller for
        a specified date.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Reseller
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      - name: date
        in: path
        description: timestamp format = DD-MM-YYYY
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/subscribedContentAppItems'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /reseller/{id}/cancelSubscribedContentApp:
    post:
      description: Cancels the app and content for a specific reseller.  Returns the
        details about the cancellation.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Reseller
      parameters:
      - name: id
        in: path
        description: reseller id
        required: true
        type: string
      - name: contentID
        in: query
        description: id to identify the content
        required: false
        type: string
      - name: effectiveDate
        in: query
        description: date on which the charges will be created
        required: false
        type: string
      - name: Id
        in: query
        description: mapped with purchase id
        required: false
        type: string
      - name: provider
        in: query
        description: external customer id of content provider
        required: false
        type: string
      - name: subscription
        in: query
        description: YES or NO
        required: false
        type: string
        enum:
        - "YES"
        - "NO"
      - name: applicationId
        in: query
        description: id to identify the application
        required: false
        type: string
      - name: Request Body
        in: body
        description: TBD
        required: true
        schema:
          $ref: '#/definitions/contentAppInfo'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/cancelledContentAppItem'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /customer/{id}/allowances:
    get:
      description: Returns all the allowances allocated to the customer id.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Customer
      - Allowances
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/allowances'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /customer/{id}/allocatedAllowances:
    get:
      description: Returns all the allowances allocated to the corporate end user
        identified by the customer id.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Customer
      - Allowances
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/allowances'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /customer/{assignee}/assignAllowances/{assigner}:
    post:
      description: Assigner (remote site) assigns allowances to assignee (corporate
        end user).
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Customer
      - Allowances
      parameters:
      - name: assigner
        in: path
        description: customer id
        required: true
        type: string
      - name: assignee
        in: path
        description: corporate end user id
        required: true
        type: string
      - name: Request Body
        in: body
        description: TBD
        required: true
        schema:
          $ref: '#/definitions/allowances'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/assignedAllowances'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /customer/{assignee}/updateAllowances/{assigner}:
    post:
      description: Assigner (remote site) updates allowances to assignee (corporate
        end user).
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Customer
      - Allowances
      parameters:
      - name: assigner
        in: path
        description: customer id
        required: true
        type: string
      - name: assignee
        in: path
        description: corporate end user id
        required: true
        type: string
      - name: Request Body
        in: body
        description: TBD
        required: true
        schema:
          $ref: '#/definitions/allowances'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/allowances'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /invoice/{id}/invoiceFile:
    post:
      description: Retrieve invoice file for specified customer id.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Invoice
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      - name: Request Body
        in: body
        description: TBD
        required: true
        schema:
          $ref: '#/definitions/fileInfo'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/responseData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /invoice/{id}/calculateTax:
    post:
      description: Calculates the tax for a specified customer.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Invoice
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      - name: Request Body
        in: body
        description: TBD
        required: true
        schema:
          $ref: '#/definitions/taxInput'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/taxes'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /invoice/invoiceLocation/{id}/{dateRange}:
    get:
      description: Retrieves invoice location per specified customer id and date range.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Invoice
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      - name: dateRange
        in: path
        description: date range format = DD-MM-YYYY|DD-MM-YYYY
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/responseData'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /invoice/{id}/charges/{startDate}/{endDate}:
    get:
      description: Retrieves charge details for a customer over a specified date range.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Invoice
      parameters:
      - name: id
        in: path
        description: customer id
        required: true
        type: string
      - name: startDate
        in: path
        description: date format = DD-MM-YYYY
        required: true
        type: string
      - name: endDate
        in: path
        description: date format = DD-MM-YYYY
        required: true
        type: string
      - name: context_adminVARid
        in: query
        description: customer id, for VAR2VAR customer only
        required: false
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/charges'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /voucher/{id}/reserveVoucher/{batchid}/{quantity}:
    post:
      description: Assign already created vouchers to the specified VAR.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Voucher
      parameters:
      - name: id
        in: path
        description: customer (VAR) id
        required: true
        type: string
      - name: batchid
        in: path
        description: batch id for which vouchers need to be reserved
        required: true
        type: string
      - name: quantity
        in: path
        description: total number of vouchers to be reserved
        required: true
        type: string
      - name: context_voucherType
        in: query
        description: voucher type
        required: false
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/reservedVouchers'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /voucher/{id}/updateVouchers/{startId}/{endId}/{action}:
    post:
      description: Deactivate vouchers that have already been created.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Voucher
      parameters:
      - name: id
        in: path
        description: customer (VAR) id
        required: true
        type: string
      - name: startId
        in: path
        description: start id for the vouchers to be updated
        required: true
        type: string
      - name: endId
        in: path
        description: end id for the vouchers to be updated
        required: true
        type: string
      - name: action
        in: path
        description: update action to be performed
        required: true
        type: string
        enum:
        - DEACTIVATE
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/deactivatedVouchers'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /crmCase/{id}:
    get:
      description: Returns the CRM case represented by the parameter key.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Case Management
      parameters:
      - name: id
        in: path
        description: case id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/crmCase'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
    post:
      description: Update properties of the CRM case.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Case Management
      parameters:
      - name: id
        in: path
        description: case id
        required: true
        type: string
      - name: Request Body
        in: body
        description: TBD
        required: true
        schema:
          $ref: '#/definitions/crmCase'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ns3:response'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /crmCase:
    post:
      description: Create an instance of a CRM case.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Case Management
      parameters:
      - name: Request Body
        in: body
        description: TBD
        required: true
        schema:
          $ref: '#/definitions/crmCase'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ns2:response'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /order/{id}:
    get:
      description: Returns the order details represented by the order id.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Order
      parameters:
      - name: id
        in: path
        description: order id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ns2:order'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /order:
    post:
      description: Create an order.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Order
      parameters:
      - name: Request Body
        in: body
        description: TBD
        required: true
        schema:
          $ref: '#/definitions/ns3:order'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ns3:response'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
    put:
      description: Update an order.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Order
      parameters:
      - name: Request Body
        in: body
        description: TBD
        required: true
        schema:
          $ref: '#/definitions/ns3:order'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ns3:response'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /order/queriesList:
    get:
      description: Returns the list of queries supported.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Order
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/queryImpls'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /order/query/{queryName}:
    get:
      description: Query for order objects matching the query criteria.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Order
      parameters:
      - name: queryName
        in: path
        description: query name
        required: true
        type: string
        enum:
        - AllClosedOrderQuery
        - AllOpenOrderQuery
        - AllCancelledOrderQuery
        - AllOrderQuery
      - name: ownedBy
        in: query
        required: false
        type: string
      - name: orderName
        in: query
        required: false
        type: string
      - name: orderStatus
        in: query
        required: false
        type: string
      - name: orderType
        in: query
        required: false
        type: string
      - name: tag
        in: query
        required: false
        type: string
      - name: id
        in: query
        required: false
        type: string
      - name: onBehalfOf
        in: query
        required: false
        type: string
      - name: placedBy
        in: query
        required: false
        type: string
      - name: transaction
        in: query
        required: false
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/queryResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /activity/{id}:
    get:
      description: Returns the activity details represented by the activity id.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Activity
      parameters:
      - name: id
        in: path
        description: activity id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/activity'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /activity/query/{queryName}:
    get:
      description: Query for activity objects matching the query criteria.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Activity
      parameters:
      - name: queryName
        in: path
        description: query name
        required: true
        type: string
        enum:
        - AllActivityQuery
      - name: startIndex
        in: query
        required: false
        type: string
      - name: maxResponseSize
        in: query
        required: false
        type: string
      - name: manualActivity
        in: query
        required: false
        type: boolean
      - name: orderId
        in: query
        required: false
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/queryResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /activity:
    post:
      description: Update the details of a given activity.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Activity
      parameters:
      - name: Request Body
        in: body
        description: TBD
        required: true
        schema:
          $ref: '#/definitions/activity'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ns3:response'
        500:
          description: Soap error
          schema:
            $ref: '#/definitions/Envelope'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /activity/queriesList:
    get:
      description: Returns the list of queries supported.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Activity
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/queryImpls'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /orderdef/list:
    get:
      description: Used to list order definitions.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Orderdef
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/orderDefinitions'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /orderdef/{name}:
    get:
      description: Used to list transactions for a particular order name.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Orderdef
      parameters:
      - name: name
        in: path
        description: order name
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/orderDefinition'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /orderdef/template/{name}/{transaction}:
    get:
      description: Generates an order template based on the name/transaction combination.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Orderdef
      parameters:
      - name: name
        in: path
        description: order name
        required: true
        type: string
      - name: transaction
        in: path
        description: transaction name for the order
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/orderTemplate'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /orderdef/listitems:
    get:
      description: Used to list all order items.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Orderdef
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/orderItems'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /orderdef/transactions/{name}:
    get:
      description: Returns all transactions associated with order name.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Orderdef
      parameters:
      - name: name
        in: path
        description: order name
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/stringList'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /orderdef/bundletemplate/{name}/{transaction}:
    get:
      description: Returns the order template including the bundled items.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Orderdef
      parameters:
      - name: name
        in: path
        description: order name
        required: true
        type: string
      - name: transaction
        in: path
        description: transaction name
        required: true
        type: string
      - name: itemNames
        in: query
        description: item names, comma separated
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/orderTemplate'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /orderdef/bundletemplate/{name}/{transaction}/{externalBundleRef}:
    get:
      description: Returns the order template including the external bundled items.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Orderdef
      parameters:
      - name: name
        in: path
        description: order name
        required: true
        type: string
      - name: transaction
        in: path
        description: transaction name
        required: true
        type: string
      - name: externalBundleRef
        in: path
        description: name of the external bundle
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/orderTemplate'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /inventory/{id}:
    get:
      description: Returns the inventory object details.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Inventory
      parameters:
      - name: id
        in: path
        description: inventory object id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/invObject'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /inventory/query/{queryName}:
    get:
      description: Returns the entity objects matching the query criteria.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Inventory
      parameters:
      - name: queryName
        in: path
        description: query name
        required: true
        type: string
        enum:
        - RemoteSiteTechnicalDetails
      - name: EXTERNAL_CUSTOMER_ID
        in: query
        description: customer id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/queryResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /referencedata/query/{queryName}:
    get:
      description: Returns the entity objects matching the query criteria.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Reference Data
      parameters:
      - name: queryName
        in: path
        description: query name
        required: true
        type: string
        enum:
        - ValidateVertexCountryZipCodeQuery
      - name: zipcode
        in: query
        description: zip code, US format = XXXXXX or XXXXX-XXXX, Canada format = XXX
          YYY
        required: true
        type: string
      - name: city
        in: query
        description: city name
        required: false
        type: string
      - name: country
        in: query
        description: country name
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/queryResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /messageInbox/getMessage/user/{userid}/message/{messageid}:
    get:
      description: Returns the message specified by the userid and messageid.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Message Inbox
      parameters:
      - name: userid
        in: path
        description: user id
        required: true
        type: string
      - name: messageid
        in: path
        description: message id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/message'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /messageInbox/getMessageList/user/{userid}:
    get:
      description: Returns the list of messages for the specified userid.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Message Inbox
      parameters:
      - name: userid
        in: path
        description: user id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/messages'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /messageInbox/getMessageSummaryList/user/{userid}:
    get:
      description: Returns the list of message summaries for the specified userid.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Message Inbox
      parameters:
      - name: userid
        in: path
        description: user id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/messageSummaries'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /messageInbox/getUnreadMessageCount/user/{userid}:
    get:
      description: Returns the unread message count for the specified userid.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Message Inbox
      parameters:
      - name: userid
        in: path
        description: user id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/count'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /messageInbox/getMessageCount/user/{userid}:
    get:
      description: Returns the total message count for the specified userid.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Message Inbox
      parameters:
      - name: userid
        in: path
        description: user id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/count'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /messageInbox/setMarkRead/user/{userid}/message/{messageid}:
    post:
      description: Sets the message id for recipient user id to read.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Message Inbox
      parameters:
      - name: userid
        in: path
        description: user id
        required: true
        type: string
      - name: messageid
        in: path
        description: message id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/status'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /messageInbox/setMarkReadAll/user/{userid}:
    post:
      description: Sets all messages for recipient user id to read.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Message Inbox
      parameters:
      - name: userid
        in: path
        description: user id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/status'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /userroles:
    post:
      description: Assigns one or more new roles to the location ids.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Userroles
      parameters:
      - name: Request Body
        in: body
        description: TBD
        required: true
        schema:
          $ref: '#/definitions/userRoles'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ns2:response'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
    get:
      description: Returns the list of role - location associations assigned to the
        current logged-in user.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Userroles
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/userRoles'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /user:
    post:
      description: Creates a new user.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - User
      parameters:
      - name: Request Body
        in: body
        description: TBD
        required: true
        schema:
          $ref: '#/definitions/ns2:user'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ns2:user'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /user/{id}:
    post:
      description: Updates the user specified by id.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - User
      parameters:
      - name: id
        in: path
        description: user id
        required: true
        type: string
      - name: Request Body
        in: body
        description: TBD
        required: true
        schema:
          $ref: '#/definitions/ns2:user'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ns2:user'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
    get:
      description: Returns the user info specified by id.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - User
      parameters:
      - name: id
        in: path
        description: user id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ns3:user'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /user/@{name}:
    get:
      description: Returns the user info specified by login name.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - User
      parameters:
      - name: name
        in: path
        description: login name
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ns3:user'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /user/@myself/roles:
    get:
      description: Returns the list of roles assigned to the current user.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - User
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/roleInfoes'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /user/@myself/locations:
    get:
      description: Returns the list of locations at which the current user can exercise
        the specified role.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - User
      parameters:
      - name: roleId
        in: query
        description: role id
        required: true
        type: string
      - name: permissionKey
        in: query
        description: key of the authorization resource
        required: false
        type: string
      - name: resourceKey
        in: query
        description: rkey of the authorization resource
        required: false
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/locationInfoes'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /user/@myself/resources:
    get:
      description: Returns the list of resources assigned to the current user.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - User
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/authResources'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /user/{userid}/roles:
    get:
      description: Returns the list of roles assigned to the specified user.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - User
      parameters:
      - name: userid
        in: path
        description: user id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/roleInfoes'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /user/{userid}/locations:
    get:
      description: Returns the list of locations at which the specified user can exercise
        the specified role.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - User
      parameters:
      - name: userid
        in: path
        description: user id
        required: true
        type: string
      - name: roleId
        in: query
        description: role id
        required: true
        type: string
      - name: permissionKey
        in: query
        description: key of the authorization resource
        required: false
        type: string
      - name: resourceKey
        in: query
        description: rkey of the authorization resource
        required: false
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/locationInfoes'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /user/{userid}/resources:
    get:
      description: Returns the list of resources assigned to the specified user.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - User
      parameters:
      - name: userid
        in: path
        description: user id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/authResources'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /user/{userid}/changePassword:
    post:
      description: Allows the current user to change their password.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - User
      parameters:
      - name: userid
        in: path
        description: user id
        required: true
        type: string
      - name: Request Body
        in: body
        description: TBD
        required: true
        schema:
          $ref: '#/definitions/userAuthResource'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ns2:response'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /user/resetPassword/{userName}:
    post:
      description: Resets the password for the given user.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - User
      parameters:
      - name: userName
        in: path
        description: login id
        required: true
        type: string
      responses:
        200:
          description: Successful response
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
  /resellers/{id}/users/{userIds}:
    post:
      description: Associates the given set of users to a given reseller.
      consumes:
      - application/xml
      produces:
      - application/xml
      tags:
      - Resellers
      parameters:
      - name: id
        in: path
        description: reseller id
        required: true
        type: string
      - name: userIds
        in: path
        description: user ids, comma separated
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ns2:response'
        default:
          description: Error
          schema:
            $ref: '#/definitions/error'
produces:
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":164:{s:8:\"Envelope\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:7:\"soapenv\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"soapenv\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:41:\"http://schemas.xmlsoap.org/soap/envelope/\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:4:\"Body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/SoapBody\";}}}s:8:\"SoapBody\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:7:\"soapenv\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Fault\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/SoapFault\";}}}s:9:\"SoapFault\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:7:\"soapenv\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"faultcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"faultstring\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"faultactor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"detail\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SoapDetail\";}}}s:10:\"SoapDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"policyResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/SoapPolicyResult\";}}}s:16:\"SoapPolicyResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:2:\"l7\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:2:\"l7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:6:\"prefix\";s:5:\"xmlns\";s:9:\"attribute\";b:1;}}}}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"namespace\";s:31:\"http://sdp.cisco.com/oss/common\";s:6:\"prefix\";s:3:\"ns2\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"ns2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:31:\"http://sdp.cisco.com/oss/common\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:9:\"className\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"errorCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"nestedError\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Address\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:8:\"address1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"entityContactNumbers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EntityContactNumbers\";}s:11:\"entityEmail\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EntityEmail\";}s:21:\"entityPersonalProfile\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/EntityPersonalProfile\";}s:13:\"entityPhoneNo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/EntityPhoneNo\";}s:10:\"postalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"street\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Addresses\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"address\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AllowedValueList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"function\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Function\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Attribute\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-xsi-attribute\";s:41:\"http://www.w3.org/2001/XMLSchema-instance\";s:14:\"x-xs-attribute\";s:32:\"http://www.w3.org/2001/XMLSchema\";s:16:\"x-type-attribute\";s:9:\"xs:string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"AttributeArgument\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"object\";}s:13:\"AttributeList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"attribute\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Attribute\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AttributeNamespace\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:9:\"parameter\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AttributeParameter\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AttributeParameter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:16:\"allowedValueList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AllowedValueList\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:14:\"expressionType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ExpressionType\";}s:6:\"hidden\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:9:\"mandatory\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:9:\"maxLength\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:7:\"maxSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:8:\"maxValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:9:\"minLength\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:7:\"minSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:8:\"minValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:9:\"parameter\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AttributeParameter\";}s:4:\"type\";s:5:\"array\";}s:7:\"pattern\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:8:\"readonly\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"object\";}s:6:\"Bundle\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:17:\"bundleDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"bundleId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"bundleName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"childBundles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ChildBundles\";}s:16:\"companionIndCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"mandatoryIndNode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"maximumChildBundles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"maximumProducts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"minimumChildBundles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"minimumProducts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"prodOfferNodeId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"productIds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ProductIds\";}s:8:\"required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"selectedIndNode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"serviceSpecificIndNode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Bundles\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"bundle\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Bundle\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CatalogCharge\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:6:\"charge\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"chargeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"chargeType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"currencyId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"effectiveEndDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"effectiveStartDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"period\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"unitOfMeasure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CatalogCharges\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"catalogCharge\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CatalogCharge\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ChildBundle\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:10:\"bundleName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"childBundles\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ChildBundles\";}s:16:\"companionIndCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"mandatoryIndNode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"maximumChildBundles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"maximumProducts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"minimumChildBundles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"minimumProducts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"prodOfferNodeId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"productIds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ProductIds\";}s:8:\"required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"selectedIndNode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"serviceSpecificIndNode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ChildBundles\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"childBundle\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ChildBundle\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ChildContentAppItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:13:\"applicationID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:9:\"contentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"createdDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"entityType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"gracePeriod\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"installationCharge\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"modifiedDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"recurringCharge\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"recurringPeriod\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"searchableCacheKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"subscription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"terminationCharge\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ChildContentAppItems\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"childContentAppItem\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ChildContentAppItem\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ChildList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"invObjectTree\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/InvObjectTree\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ContentAppItem\";O:8:\"stdClass\":3:{s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"namespace\";s:44:\"http://sdp.cisco.com/oss/billing/entity/data\";s:6:\"prefix\";s:3:\"ns3\";}s:10:\"properties\";O:8:\"stdClass\":23:{s:13:\"applicationID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:20:\"childContentAppItems\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ChildContentAppItems\";}s:9:\"contentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"createdDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"entityType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"gracePeriod\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"installationCharge\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"modifiedDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ns2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:31:\"http://sdp.cisco.com/oss/common\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns3\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:44:\"http://sdp.cisco.com/oss/billing/entity/data\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:8:\"provider\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"recurringCharge\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"recurringPeriod\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"searchableCacheKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"subscription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"terminationCharge\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ContentAppItem_NoNamespace\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":23:{s:13:\"applicationID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:20:\"childContentAppItems\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ChildContentAppItems\";}s:9:\"contentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"createdDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"entityType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"gracePeriod\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"installationCharge\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"modifiedDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ns2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:31:\"http://sdp.cisco.com/oss/common\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns3\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:44:\"http://sdp.cisco.com/oss/billing/entity/data\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:8:\"provider\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"recurringCharge\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"recurringPeriod\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"searchableCacheKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"subscription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"terminationCharge\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Contract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:10:\"contractId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"slaInfo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"termsAndCondition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:3:\"xsi\";}}s:9:\"validFrom\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"validTo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"xs\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"xsi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}}s:4:\"type\";s:6:\"object\";}s:9:\"Contracts\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"contract\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Contract\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DefaultValues\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:14:\"catalogCharges\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CatalogCharges\";}s:13:\"configPenalty\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"penalties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Penalties\";}s:7:\"scopeId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Entity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":61:{s:12:\"activityName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"activityType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"addresses\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Addresses\";}s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:17:\"billingEntityName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"billingStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"bundleDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"bundleId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"bundleName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"catalogId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"childList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ChildList\";}s:5:\"close\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"correlationID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdOn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"creditLimit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"depth\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"entityState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"entityType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"invClass\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"item\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}s:4:\"type\";s:5:\"array\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"lastModified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"manualActivity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"market\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"minimumBilling\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"mutable\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"onBehalfOf\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"orderId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"orderItemId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"orderItemName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"orderName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"orderStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"orderType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"ownedBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"ownerID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ownerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"parentActivityId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"parentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"parentName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"paymentDue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"paymentMethodType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"placedBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"primarySequence\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"resellerOf\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"secondarySequence\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"sector\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"transaction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:3:\"xsi\";}}s:9:\"updatedBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"updatedOn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"voucherLimit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"xsi\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}s:7:\"default\";s:41:\"http://www.w3.org/2001/XMLSchema-instance\";}}s:4:\"type\";s:6:\"object\";}s:19:\"EntityContactNumber\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:4:\"flag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"EntityContactNumbers\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"entityContactNumber\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/EntityContactNumber\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"EntityEmail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:7:\"default\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"mailID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"primary\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"priority\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"EntityName\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"salutation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"EntityPersonalProfile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:10:\"entityName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/EntityName\";}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"married\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"EntityPhoneNo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ExpressionType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"argument\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AttributeArgument\";}s:4:\"type\";s:5:\"array\";}s:10:\"expression\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"object\";}s:14:\"FilterCriteria\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"dataType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Function\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"api\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"argument\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AttributeArgument\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"InvObjectTree\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":22:{s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:9:\"childList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ChildList\";}s:5:\"depth\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"invClass\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ns1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:4:\"ns10\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:4:\"ns11\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:4:\"ns12\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:4:\"ns13\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:4:\"ns14\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:4:\"ns15\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:4:\"ns16\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}}s:4:\"type\";s:6:\"object\";}s:4:\"Item\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:9:\"namespace\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AttributeNamespace\";}s:4:\"type\";s:5:\"array\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"object\";}s:9:\"Penalties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"penalty\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Penalty\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Penalty\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:10:\"currencyId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"penaltyAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Product\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"attributeList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";}s:14:\"catalogCharges\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CatalogCharges\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"defaultValues\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DefaultValues\";}s:16:\"effectiveEndDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"effectiveStartDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"productDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"productName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"productType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"threshold\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ProductIds\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"productId\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Products\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"product\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Query\";O:8:\"stdClass\":3:{s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"namespace\";s:31:\"http://sdp.cisco.com/oss/common\";s:6:\"prefix\";s:3:\"ns2\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"ns2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:31:\"http://sdp.cisco.com/oss/common\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:14:\"filterCriteria\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FilterCriteria\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"sortCriteria\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SortCriteria\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"queryImpls\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"query\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ns2:response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"ns2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:31:\"http://sdp.cisco.com/oss/common\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:6:\"entity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Entity\";}s:8:\"entityID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ns3:response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:3:\"ns2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:45:\"http://sdp.cisco.com/oss/billing/payment/data\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns3\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:31:\"http://sdp.cisco.com/oss/common\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns4\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:33:\"http://sdp.cisco.com/oss/crm/data\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns5\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:43:\"http://sdp.cisco.com/oss/common/entity/data\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns6\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:44:\"http://sdp.cisco.com/oss/billing/entity/data\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns7\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:46:\"http://sdp.cisco.com/oss/billing/customer/data\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns8\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:46:\"http://sdp.cisco.com/oss/billing/reseller/data\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:3:\"ns9\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:45:\"http://sdp.cisco.com/oss/billing/invoice/data\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:4:\"ns10\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:51:\"http://sdp.cisco.com/oss/generic/referencedata/data\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:4:\"ns11\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:46:\"http://sdp.cisco.com/oss/billing/contract/data\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:4:\"ns12\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:45:\"http://sdp.cisco.com/oss/billing/voucher/data\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:4:\"ns13\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:45:\"http://sdp.cisco.com/oss/billing/catalog/data\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:4:\"ns14\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:45:\"http://sdp.cisco.com/oss/billing/account/data\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:4:\"ns15\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:36:\"http://sdp.cisco.com/oss/fulfillment\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:4:\"ns16\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:37:\"http://sdp.cisco.com/oss/generic/data\";s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"attribute\";b:1;s:6:\"prefix\";s:5:\"xmlns\";}}s:6:\"entity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Entity\";}s:8:\"entityID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"responseData\";O:8:\"stdClass\":3:{s:3:\"xml\";O:8:\"stdClass\":2:{s:9:\"namespace\";s:31:\"http://sdp.cisco.com/oss/common\";s:6:\"prefix\";s:3:\"ns2\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"ns2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";
[...]
