---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:5:\"2.1.0\";s:5:\"title\";s:25:\"Ready!
  API TestServer API\";s:11:\"description\";s:1470:\"A REST API based API testing
  framework; submit JSON test recipes using your favorite HTTP client or one of the
  existing open-source clients/tools on GitHub  to run API tests either asynchronously
  or synchronously:\n- Java Client: https://github.com/SmartBear/swagger-assert4j/tree/master/modules/testserver\n-
  Groovy DSL: https://github.com/SmartBear/swagger-assert4j/tree/master/modules/groovy-dsl\n-
  Maven Plugin: https://github.com/SmartBear/swagger-assert4j/tree/master/modules/maven-plugin\n-
  Nodejs CLI: https://github.com/olensmar/ready-api-testserver-cli\n- Test-Recipe
  from Swagger generator: https://github.com/olensmar/testserver-swagger-codegen\n-
  Cucumber integration: https://github.com/SmartBear/swagger-assert4j/tree/master/modules/cucumber\n\nCheck
  out samples at https://github.com/SmartBear/swagger-assert4j/tree/master/modules/samples
  and the documentation at http://readyapi.smartbear.com/testserver/start.\n\n###
  Try it out!\n\nA use-at-your-own-risk sandbox is provided at http://testserver.readyapi.io:8080
  - feel free to try it out using Swagger-UI or any other tool of your liking (use
  demoUser/demoPassword as your basic authentication credentials). The sandbox is
  currently configured to support only REST requests and PropertyTransfers - if you
  want to try DataSources/DataSinks/Scripts in your API tests you will need to install
  and run your own instance of the TestServer - download it from https://smartbear.com/product/ready-api/testserver/overview/\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"SmartBear
  Software\";s:3:\"url\";s:31:\"http://smartbear.com/testserver\";}}"
host: testserver.readyapi.io:8080
basePath: /v1
paths: ~
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":92:{s:18:\"NonNegativeInteger\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"minimum\";i:1;}s:24:\"JsonPathContentAssertion\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/json/match/introduction\">JsonPath
  Match</a> assertion.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:141:\"Properties
  of the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/json/match/introduction\">JsonPath
  Match</a> assertion.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"jsonPath\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  path expression to use in matching.\";}s:15:\"expectedContent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Expected
  result.\";}s:14:\"allowWildcards\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:85:\"Specifies
  if asterisks  (<code>*</code>) in expectedContent are handled as wildcards.\";s:7:\"default\";b:0;}}}}}s:26:\"JsonPathExistenceAssertion\";O:8:\"stdClass\":2:{s:11:\"description\";s:156:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/json/exist/introduction\">JsonPath
  Existence Match</a> assertion.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:141:\"Properties
  of the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/json/match/introduction\">JsonPath
  Match</a> assertion.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"jsonPath\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  path expression to use in matching.\";}s:15:\"expectedContent\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Expected
  result.\";s:7:\"default\";s:4:\"true\";}s:14:\"allowWildcards\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:85:\"Specifies
  if asterisks  (<code>*</code>) in expectedContent are handled as wildcards.\";s:7:\"default\";b:0;}}}}}s:9:\"MultiPart\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:18:\"contentDisposition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContentDisposition\";}s:6:\"entity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:13:\"Entity
  items.\";}s:7:\"headers\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:14:\"Headers
  array.\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"mediaType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/MediaType\";}s:18:\"messageBodyWorkers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/MessageBodyWorkers\";}s:6:\"parent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/MultiPart\";}s:9:\"providers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Providers\";}s:9:\"bodyParts\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/BodyPart\";}}s:20:\"parameterizedHeaders\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ParameterizedHeader\";}}}}}s:9:\"MediaType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"subtype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"Request
  parameters.\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"wildcardType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:15:\"wildcardSubtype\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}}}s:19:\"JdbcRequestTestStep\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/steps/request/jdbc/properties\">JDBC
  Request</a> test step.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TestStep\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:125:\"Properties
  of the <a href=\"http://readyapi.smartbear.com/structure/steps/request/jdbc/properties\">JDBC
  Request</a> test step.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"driver\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  name of the driver used to connect to the database.\";}s:16:\"connectionString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"Full
  database URI including username and password as query parameters.\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Password
  used to connect to the database.\";}s:8:\"sqlQuery\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Query
  used to search the database.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:48:\"Properties
  used to store received query results.\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:10:\"assertions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:53:\"Array
  of assertions used to verify test step results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}}s:15:\"storedProcedure\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:57:\"Specifies
  if the sqlQuery refers to the stored procedure.\";s:7:\"default\";b:0;}}}}}s:19:\"ProjectResultReport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:44:\"Data
  structure for recipe execution results.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"projectName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  name of the executed project.\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"Current
  execution status. If the assertion fail, the test is also FAILED.\";s:4:\"enum\";a:7:{i:0;s:11:\"INITIALIZED\";i:1;s:7:\"PENDING\";i:2;s:7:\"RUNNING\";i:3;s:8:\"CANCELED\";i:4;s:8:\"FINISHED\";i:5;s:6:\"FAILED\";i:6;s:7:\"WARNING\";}}s:22:\"testSuiteResultReports\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:56:\"The
  array of reports for test suites in the test recipe.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/TestSuiteResultReport\";}}s:9:\"timeTaken\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:68:\"The
  number of milliseconds it took the TestServer to run the recipe.\";s:6:\"format\";s:5:\"int64\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:37:\"The
  timestamp of the execution start.\";s:6:\"format\";s:5:\"int64\";}s:11:\"executionID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  identifier of the test run.\";}s:15:\"unresolvedFiles\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:234:\"List
  of unresolved files needed to execute the recipe. It can be data sources, attachment
  or client certificates mentioned in recipe but not provided yet. These files should
  be send in another request to be able to execute the recipe.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/UnresolvedFile\";}}}}s:14:\"UnresolvedFile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"fileName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Name
  fo the unresolved file\";}}}s:16:\"FormDataBodyPart\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"contentDisposition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContentDisposition\";}s:6:\"entity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"headers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"mediaType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/MediaType\";}s:18:\"messageBodyWorkers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/MessageBodyWorkers\";}s:6:\"parent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/MultiPart\";}s:9:\"providers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Providers\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"formDataContentDisposition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/FormDataContentDisposition\";}s:6:\"simple\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:20:\"parameterizedHeaders\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ParameterizedHeader\";}}}}}s:11:\"InputStream\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:24:\"PropertyTransferTestStep\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TestStep\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:32:\"The
  array of property transfers.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"transfers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PropertyTransfer\";}}}}}}s:14:\"Authentication\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:50:\"Data
  structure for authentication in test recipes.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:103:\"Authentication
  type. Possible values: <ul><li>Basic</li><li>SPNEGO/Kerberos</li><li>OAuth 2.0</li></ul>\";}s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Username
  used for authentication.\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Password
  used for authentication.\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"Domain
  the user belongs to. Required for Kerberos authentication.\";}s:11:\"accessToken\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"For
  OAuth 2.0 only. Access token attached to the user.\";}s:19:\"accessTokenPosition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"For
  OAuth 2.0 only. The position of the access token.\";}s:14:\"accessTokenUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"For
  OAuth 2.0 only. The URI used to retrieve the access token.\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"For
  OAuth 2.0 only. The client ID attached to the user.\";}s:12:\"clientSecret\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"For
  OAuth 2.0 only. The client secret key attached to the user.\";}s:12:\"refreshToken\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"For
  OAuth 2.0 only. Specifies the refresh token used.\";}}}s:23:\"XQueryContainsAssertion\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/xpath/xquery/match\">XQuery
  Match</a> assertion.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:134:\"Properties
  of the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/xpath/xquery/match\">XQuery
  Match</a> assertion.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"xquery\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"XQuery
  expression used to validate the message.\";}s:15:\"expectedContent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Expected
  content returned by the XQuery expression.\";}s:14:\"allowWildcards\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:85:\"Specifies
  if asterisks  (<code>*</code>) in expectedContent are handled as wildcards.\";s:7:\"default\";b:0;}}}}}s:20:\"TestStepResultReport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:51:\"Data
  structure for test step results in the report.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"testStepName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  name of the test step\";}s:15:\"assertionStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Specifies
  if the assertions failed or succeeded.\";s:4:\"enum\";a:4:{i:0;s:7:\"UNKNOWN\";i:1;s:2:\"OK\";i:2;s:6:\"FAILED\";i:3;s:8:\"CANCELED\";}}s:9:\"timeTaken\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:71:\"The
  number of milliseconds it took the TestServer to run the test step.\";s:6:\"format\";s:5:\"int64\";}s:13:\"transactionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"The
  transaction id to identify a particular execution of a test step.\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:42:\"Error
  messages returned by the assertions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:10:\"DataSource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:121:\"Data
  structure for specifying a <a href=\"http://readyapi.smartbear.com/structure/steps/data/source/start\">DataSource</a>.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:53:\"The
  array of properties used to store retrieved data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"grid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:109:\"Data
  structure for <a href=\"http://readyapi.smartbear.com/structure/sources/grid/start\">Grid
  Data Source</a>.\";s:20:\"additionalProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:47:\"The
  array of comma-separated data source items.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"excel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ExcelDataSource\";}s:4:\"file\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FileDataSource\";}s:7:\"dataGen\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DataGenDataSource\";}}}s:22:\"PropertyTransferTarget\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:66:\"Data
  structure for specifying the target of the property transfer.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"targetName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  full name of the target test step.\";}s:8:\"property\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Property
  name to transfer the values to.\";}s:12:\"pathLanguage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:122:\"The
  language used to specify the path expression. Possible values: <ul><li>XPath</li><li>XQuery</li><li>JSONPath</li></ul>\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"The
  expression in the specified language that specifies the exact element to which the
  data is be written.\";}}}s:22:\"PropertyTransferSource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:66:\"Data
  structure for specifying the source of the property transfer.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"sourceName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  full name of the source test step.\";}s:8:\"property\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Property
  name to get the values from.\";}s:12:\"pathLanguage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:122:\"The
  language used to specify the path expression. Possible values: <ul><li>XPath</li><li>XQuery</li><li>JSONPath</li></ul>\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:115:\"The
  expression in the specified language that specifies the exact element from which
  the data source gets the data.\";}}}s:8:\"TestStep\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:51:\"Data
  structure for specifying test step properties.\";s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:167:\"Test
  step type. Possible values: <ul><li>DataSource</li><li>Groovy</li><li>JDBC Request</li><li>Property
  Transfer</li><li>REST Request</li><li>TestStepStruct</li></ul>\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"Test
  step name. This name is used to refer to the test step in the test recipe.\";}}}s:14:\"FileDataSource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:137:\"Data
  structure for specifying <a href=\"http://readyapi.smartbear.com/structure/sources/file/introduction\">File
  Data Source</a> test step.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"file\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  name of the file used for the data source.\";}s:7:\"charset\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Character
  set used in the data file.\";}s:9:\"separator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Character
  used in the file to separate the values.\";}s:4:\"trim\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:28:\"Removes
  excess blank spaces.\";s:7:\"default\";b:0;}s:12:\"quotedValues\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:41:\"Set
  this to true if values are in quotes.\";s:7:\"default\";b:0;}}}s:17:\"FormDataMultiPart\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:18:\"contentDisposition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContentDisposition\";}s:6:\"entity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"headers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"mediaType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/MediaType\";}s:18:\"messageBodyWorkers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/MessageBodyWorkers\";}s:6:\"parent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/MultiPart\";}s:9:\"providers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Providers\";}s:9:\"bodyParts\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/BodyPart\";}}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FormDataBodyPart\";}}}s:20:\"parameterizedHeaders\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ParameterizedHeader\";}}}}}s:31:\"InvalidHttpStatusCodesAssertion\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"Data
  structure for <a href=\"http://readyapi.smartbear.com/structure/assertions/compliance/http/invalid/start\">Invalid
  HTTP Status Codes</a> assertion.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"invalidStatusCodes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:82:\"A
  comma-separated list of HTTP codes receiving which causes the assertion to fail.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:149:\"Properties
  of the <a href=\"http://readyapi.smartbear.com/structure/assertions/compliance/http/invalid/start\">Invalid
  HTTP Status Codes</a> assertion.\";}}}s:20:\"TestCaseResultReport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:70:\"Data
  structure for the test results report of the test case execution.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"testCaseName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  name of the test case the report is for.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:21:\"testStepResultReports\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:38:\"The
  array of test step result reports.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TestStepResultReport\";}}}}s:13:\"RestParameter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:4:\"PATH\";i:1;s:5:\"QUERY\";i:2;s:6:\"HEADER\";i:3;s:6:\"MATRIX\";}s:7:\"default\";s:5:\"QUERY\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:26:\"REST
  Parameter definition.\";}s:13:\"SoapParameter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:26:\"SOAP
  Parameter definition.\";}s:26:\"FormDataContentDisposition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"fileName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:16:\"modificationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"readDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:22:\"XPathContainsAssertion\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/xpath/xpath/match\">XPath
  Match</a> assertion.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"xpath\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"XPath
  expression used to select content from the test step results.\";}s:15:\"expectedContent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Expected
  match results.\";}s:14:\"allowWildcards\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:44:\"Treat
  <code>*</code> as wildcard in a match.\";s:7:\"default\";b:0;}s:16:\"ignoreNamespaces\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:24:\"Match
  in all namespaces.\";s:7:\"default\";b:0;}s:14:\"ignoreComments\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:32:\"Skip
  XML comments when matching.\";s:7:\"default\";b:0;}}s:11:\"description\";s:132:\"Properties
  of the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/xpath/xpath/match\">XPath
  Match</a> assertion.\";}}}s:20:\"ResponseSLAAssertion\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/sla/response\">Response
  SLA</a> assertion.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"maxResponseTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Maximum
  accepted response time.\";}}s:11:\"description\";s:119:\"Properties of the <a href=\"http://readyapi.smartbear.com/structure/assertions/sla/response\">Response
  SLA</a> assertion.\";}}}s:18:\"DataSourceTestStep\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/steps/data/source/start\">Data
  Source</a> test step.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TestStep\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"dataSource\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DataSource\";}s:9:\"testSteps\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:73:\"Array
  of test steps using the data source and forming a data source loop.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TestStep\";}}s:12:\"restartOnRun\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:111:\"If
  <code>true</code>, the iterator is set to the first row each time the test reaches
  the DataSource test step.\";s:8:\"readOnly\";b:1;s:7:\"default\";b:0;}s:7:\"preload\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:87:\"If
  <code>true</code>, the TestServer tries to preload the data before running the test.\";s:7:\"default\";b:0;}s:11:\"failOnEmpty\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:70:\"If
  <code>true</code>, the test step fails if the data source is empty.\";s:7:\"default\";b:0;}s:15:\"skipLoopOnEmpty\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:77:\"If
  <code>true</code>, skips the data source loop if the data source is empty.\";s:7:\"default\";b:0;}s:10:\"trimValues\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:66:\"If
  <code>true</code>, all leading and trailing spaces are removed.\";s:7:\"default\";b:0;}s:14:\"entitizeValues\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:78:\"If
  <code>true</code>, all HTML symbols are replaced with appropriate entities.\";s:7:\"default\";b:0;}s:16:\"expandProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:92:\"If
  <code>true</code>, TestServer expands property expansion expressions in retrieved
  values.\";s:7:\"default\";b:0;}s:6:\"shared\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:87:\"If
  <code>true</code>, the data source iterator is used by all concurrent virtual users.\";s:7:\"default\";b:0;}s:13:\"restartShared\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:131:\"If
  <code>true</code> and <code>shared</code> is also <code>true</code>, resets the
  iterator when it reaches the end of data source.\";s:7:\"default\";b:0;}s:8:\"startRow\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Zero-based
  index of the initial row that the data source uses.\";}s:6:\"endRow\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Zero-based
  index of the last row that the data source uses\";}}s:11:\"description\";s:118:\"Properties
  of the <a href=\"http://readyapi.smartbear.com/structure/steps/data/source/start\">Data
  Source</a> test step.\";}}}s:19:\"ParameterizedHeader\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:19:\"JdbcStatusAssertion\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/jdbc/status\">JDBC
  Status</a> assertion.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:117:\"Properties
  of the <a href=\"http://readyapi.smartbear.com/structure/assertions/jdbc/status\">JDBC
  Status</a> test step.\";s:10:\"properties\";O:8:\"stdClass\":0:{}}}}s:16:\"PropertyTransfer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:140:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/steps/property/transfer/intro/step\">Property
  Transfer</a> test step.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"transferName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  name of the property transfer test step.\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/PropertyTransferSource\";}s:6:\"target\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/PropertyTransferTarget\";}s:19:\"failTransferOnError\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:81:\"If
  <code>true</code>, the property transfer test step fails when an error occurs.\";s:7:\"default\";b:0;}s:22:\"setNullOnMissingSource\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:80:\"If
  <code>true</code>, sets target to <code>null</code> if the source is missing.\";s:7:\"default\";b:0;}s:19:\"transferTextContent\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:50:\"If
  <code>true</code>, only transfers text content.\";s:7:\"default\";b:0;}s:16:\"ignoreEmptyValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:64:\"If
  <code>true</code>, does not transfer empty or missing values.\";s:7:\"default\";b:0;}s:13:\"transferToAll\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:68:\"If
  <code>true</code>, transfers to all matching transfer selections.\";s:7:\"default\";b:0;}s:18:\"transferChildNodes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:94:\"If
  <code>true</code>, transfers child nodes of the source node as children of the target
  node.\";s:7:\"default\";b:0;}s:25:\"entitizeTransferredValues\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:78:\"If
  <code>true</code>, all HTML symbols are replaced with appropriate entities.\";s:7:\"default\";b:0;}}}s:18:\"MessageBodyWorkers\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:15:\"ExcelDataSource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:118:\"Data
  structure for <a href=\"http://readyapi.smartbear.com/structure/sources/excel/introduction\">Excel
  Data Source</a>.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"file\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  name of the file used for the data source.\";}s:9:\"worksheet\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  name of the excel worksheet the test step gets data from.\";}s:11:\"startAtCell\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  cell from which the iterator starts gathering data.\";}s:11:\"ignoreEmpty\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:46:\"If
  <code>true</code>, skips rows without data.\";s:7:\"default\";b:0;}}}s:20:\"GroovyScriptTestStep\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/steps/script/groovy/step\">Groovy
  Script</a> test step.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TestStep\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"script\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"A
  string holding the groovy script to execute.\";}}s:11:\"description\";s:121:\"Properties
  of the <a href=\"http://readyapi.smartbear.com/structure/steps/script/groovy/step\">Groovy
  Script</a> test step.\";}}}s:13:\"DelayTestStep\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/steps/exec/delay/step\">Delay</a>
  test step.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TestStep\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"delay\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"An
  integer holding the value of delay in milliseconds.\";}}s:11:\"description\";s:110:\"Properties
  of the <a href=\"http://readyapi.smartbear.com/structure/steps/exec/delay/step\">Delay</a>
  test step.\";}}}s:22:\"JsonPathCountAssertion\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/json/count/introduction\">JSONPath
  Count</a> assertion.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:141:\"Properties
  of the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/json/count/introduction\">JSONPath
  Count</a> assertion.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"jsonPath\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"JSONPath
  expression used to select content from the test step results.\";}s:13:\"expectedCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Expected
  number of matched results.\";}s:14:\"allowWildcards\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:44:\"Treat
  <code>*</code> as wildcard in a match.\";s:7:\"default\";b:0;}}}}}s:20:\"ProjectResultReports\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:42:\"Data
  structure for a project level report.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"projectResultReports\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:35:\"The
  array of executed test recipes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProjectResultReport\";}}}}s:9:\"Assertion\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:49:\"Data
  Structure for specifying the assertion type.\";s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:358:\"Assertion
  type. Possible values: <ul><li>AssertionStruct</li>  <li>Contains</li> <li>Invalid
  HTTP Status Codes</li> <li>JDBC Status</li> <li>JDBC Timeout</li> <li>JsonPath Count</li>
  <li>JsonPath Match</li> <li>Not Contains</li> <li>Response SLA</li> <li>Script Assertion</li>
  <li>Valid HTTP Status Codes</li> <li>XPath Match</li> <li>XQuery Match</li> </ul>\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"Providers\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:21:\"GroovyScriptAssertion\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/script/groovy\"
  \ target=\"_blank\">Groovy Script</a> assertion.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"script\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"The
  desired Groovy script code. You can use the log, context and messageExchange variables.\";}}s:11:\"description\";s:44:\"Properties
  of the \"Groovy Script\" assertion.\";}}}s:26:\"SimpleNotContainsAssertion\";O:8:\"stdClass\":2:{s:11:\"description\";s:157:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/content/not_contains\"
  target=\"_blank\">Not Contains</a> assertion.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  sought-for text or regular expression.\";}s:10:\"ignoreCase\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;s:11:\"description\";s:113:\"Specifies
  if the search is case-sensitive (false) or not (true). Ignored, if you search with
  regular expressions.\";}s:9:\"useRegexp\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;s:11:\"description\";s:85:\"Specifies
  if the token property is a regular expression (true) or plain text (false).\";}}s:11:\"description\";s:43:\"Properties
  of the \"Not Contains\" assertion.\";}}}s:18:\"ContentDisposition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"fileName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:16:\"modificationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"readDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:8:\"BodyPart\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:18:\"contentDisposition\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContentDisposition\";}s:6:\"entity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"headers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"mediaType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/MediaType\";}s:18:\"messageBodyWorkers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/MessageBodyWorkers\";}s:6:\"parent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/MultiPart\";}s:9:\"providers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Providers\";}s:20:\"parameterizedHeaders\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ParameterizedHeader\";}}}}}s:20:\"JdbcTimeoutAssertion\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/jdbc/timeout\"
  target=\"_blank\">JDBC Timeout</a> assertion.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"timeout\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  sought-for text or regular expression.\";}}}}}s:8:\"TestCase\";O:8:\"stdClass\":4:{s:11:\"description\";s:253:\"Properties
  of the test recipe. Analogues of the <a href=\"http://readyapi.smartbear.com/structure/cases/options/basic\">test
  case options</a>.<br/>See also <a href=\"http://readyapi.smartbear.com/testserver/howto/text/modifying\">Modifying
  Test Options</a>.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:16:\"searchProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;s:11:\"description\";s:3:\"???\";}s:15:\"maintainSession\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;s:11:\"description\";s:3:\"???\";}s:12:\"abortOnError\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;s:11:\"description\";s:70:\"Specifies
  if TestServer stops the recipe execution if an error occurs.\";}s:19:\"failTestCaseOnError\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;s:11:\"description\";s:71:\"Specifies
  if TestServer logs the test run as failed if an error occurs.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Recipe
  name\";}s:16:\"discardOkResults\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;s:11:\"description\";s:136:\"Specifies
  if TestServer logs messages on successful test step execution (false) or not (true).
  Set this property to true to save memory.\";}s:13:\"socketTimeout\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"???\";}s:15:\"testCaseTimeout\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:94:\"Sets
  the maximum execution time for the test in milliseconds. Default: 0 = timeout is
  not set.\";}s:18:\"clientCertFileName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Client
  certificate file name\";}s:18:\"clientCertPassword\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Client
  certificate password\";}s:9:\"testSteps\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"An
  array of test steps to be executed.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TestStep\";}}}s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"testSteps\";a:1:{i:0;O:8:\"stdClass\":4:{s:4:\"type\";s:12:\"REST
  Request\";s:6:\"method\";s:3:\"GET\";s:3:\"URI\";s:31:\"https://api.swaggerhub.com/apis\";s:10:\"assertions\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"type\";s:23:\"Valid
  HTTP Status Codes\";s:16:\"validStatusCodes\";a:1:{i:0;i:200;}}}}}}}s:23:\"SimpleContainsAssertion\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/property/content/contains\"
  target=\"_blank\">Contains</a> assertion.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  sought-for text or regular expression.\";}s:10:\"ignoreCase\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;s:11:\"description\";s:115:\"Specifies
  if the search is case-sensitive (false) or not (true). Ignored, if you search with
  a regular expressions.\";}s:9:\"useRegexp\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;s:11:\"description\";s:85:\"Specifies
  if the token property is a regular expression (true) or plain text (false).\";}}s:11:\"description\";s:39:\"Properties
  of the \"Contains\" assertion.\";}}}s:19:\"SoapRequestTestStep\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"A
  SOAP request\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/RequestTestStepBase\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"wsdl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"the
  location of the WSDL for the target SOAP Service\";}s:7:\"binding\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"the
  WSDL binding defining the target operation\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"the
  WSDL operation for the target operation\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:31:\"An
  array of request parameters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/SoapParameter\";}}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:4:\"wsdl\";i:2;s:9:\"operation\";}}}}s:24:\"SoapMockResponseTestStep\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"A
  SOAP mock response test step\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TestStep\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"wsdl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"the
  location of the WSDL for the target SOAP Service\";}s:7:\"binding\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"the
  WSDL binding defining the target operation\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"the
  WSDL operation for the target operation\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"path
  for accessing the mock response. Endpoint will be the host on which it is run.\";}s:4:\"port\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:32:\"port
  to which mock service bind.\";}s:14:\"createResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:75:\"Boolean
  parameter to indicate whether a default response should be created.\";}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:4:\"wsdl\";i:2;s:9:\"operation\";}}}}s:19:\"RequestTestStepBase\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Base
  for HTTP test steps (REST and SOAP)\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TestStep\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"URI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  URL, to which TestServer send the request.\";}s:11:\"requestBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  request body contents.\";}s:14:\"authentication\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Authentication\";}s:10:\"assertions\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"An
  array of assertions that verify the response to the request.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}}s:7:\"headers\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:42:\"Custom
  headers to be added to the request.\";}s:11:\"attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"an
  array of attached files\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/RequestAttachment\";}}s:8:\"encoding\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  request data encoding, for example, utf-8.\";}s:7:\"timeout\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  maximum allowed execution time for the request in milliseconds.\";}s:15:\"followRedirects\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;s:11:\"description\";s:210:\"Specifies
  how TestServer handles redirects. If this property is false and a redirect occurs,
  TestServer processes the response as it is. If the property is true, it waits for
  the response from the new location.\";}s:18:\"entitizeParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;s:11:\"description\";s:145:\"Specifies
  if TestServer escapes special characters like &gt; or &amp; in the request body.
  Set this property to false if data is already escaped.\";}s:25:\"clientCertificateFileName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Path
  of the test step specific client certificate file\";}s:25:\"clientCertificatePassword\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Password
  of the test step specific client certificate\";}}}}}s:19:\"RestTestRequestStep\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/requests/rest/step/start\"
  target=\"_blank\">REST Request</a> test step.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/RequestTestStepBase\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"method\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  request type: GET, POST, DELETE, PUT and so on.\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:31:\"An
  array of request parameters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RestParameter\";}}s:9:\"mediaType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"The
  request data media type, for example, multipart/form-data.\";}s:15:\"postQueryString\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;s:11:\"description\";s:92:\"Specifies
  if the TestServer includes the query string parameters to the request body or not.\";}}s:8:\"required\";a:2:{i:0;s:3:\"URI\";i:1;s:6:\"method\";}}}}s:17:\"RequestAttachment\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"content
  attached to either a REST or SOAP request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"contentType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"contentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"base64
  encoded attachment content\";s:6:\"format\";s:4:\"byte\";}}s:8:\"required\";a:2:{i:0;s:11:\"contentType\";i:1;s:7:\"content\";}}s:14:\"PluginTestStep\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"data
  structure for defining a test step which is part of a Ready! API/TestServer plugin\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TestStep\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"configuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}}}}s:18:\"PropertiesTestStep\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"data
  structure for defining a Properties test step in recipe.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TestStep\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:21:\"TestSuiteResultReport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:34:\"Results
  of a test suite execution.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"testSuiteName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  test suite name.\";}s:21:\"testCaseResultReports\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:40:\"An
  array of test case execution results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TestCaseResultReport\";}}}}s:29:\"ValidHttpStatusCodesAssertion\";O:8:\"stdClass\":2:{s:11:\"description\";s:166:\"Data
  structure for the <a href=\"http://readyapi.smartbear.com/structure/assertions/compliance/http/valid/start\"
  target=\"_blank\">Valid HTTP Status Codes</a> assertion.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"validStatusCodes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:66:\"An
  array of HTTP status codes which the assertion considers valid.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"An
  individual HTTP status code.\";}}}s:11:\"description\";s:54:\"Properties of the
  \"Valid HTTP Status Codes\" assertion.\";}}}s:25:\"SchemaComplianceAssertion\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Schema
  Compliance Assertion\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}}s:20:\"additionalProperties\";b:0;}s:18:\"SoapFaultAssertion\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"SOAP
  Fault Assertion\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}}s:20:\"additionalProperties\";b:0;}s:21:\"NotSoapFaultAssertion\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Not
  SOAP Fault Assertion\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Assertion\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}}s:20:\"additionalProperties\";b:0;}s:10:\"HarLogRoot\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"log\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/HarLog\";}}}s:6:\"HarLog\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/HarCreator\";}s:7:\"browser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/HarBrowser\";}s:5:\"pages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/HarPage\";}}s:7:\"entries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/HarEntry\";}}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"HarCreator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"HarBrowser\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"HarPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"startedDateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"pageTimings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/HarPageTimings\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"HarPageTimings\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"onContentLoad\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"onLoad\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"HarEntry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"pageref\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"startedDateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/HarRequest\";}s:8:\"response\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/HarResponse\";}s:5:\"cache\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/HarCache\";}s:7:\"timings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/HarTimings\";}s:15:\"serverIPAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"connection\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"HarRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"httpVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"cookies\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/HarCookie\";}}s:7:\"headers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/HarHeader\";}}s:11:\"queryString\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/HarQueryString\";}}s:8:\"postData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/HarPostData\";}s:11:\"headersSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"bodySize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"HarResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"statusText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"httpVersion\"\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"cookies\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/HarCookie\";}}s:7:\"headers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/HarHeader\";}}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/HarContent\";}s:11:\"redirectURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"headersSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"bodySize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"HarCache\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"beforeRequest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/HarCacheRequest\";}s:12:\"afterRequest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/HarCacheRequest\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"HarTimings\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"blocked\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:3:\"dns\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"connect\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"send\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"wait\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"receive\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:3:\"ssl\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"HarCookie\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"expires\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"httpOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:6:\"secure\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"HarHeader\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"HarContent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"compression\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"mimeType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"HarQueryString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"HarCacheRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"expires\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"lastAccess\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"hitCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"HarPostData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"mimeType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"params\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/HarParam\";}}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"HarParam\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fileName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"contentType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"DataGenDataSource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:58:\"Data
  structure for specifying Data Generator data sources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"numberOfRows\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Number
  of rows to generate\";s:7:\"default\";s:2:\"10\";}s:14:\"dataGenerators\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataGenerator\";}s:11:\"description\";s:39:\"Data
  generators for various properties.\";}}}s:13:\"DataGenerator\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:68:\"Data
  structure for specifying Data Generator data source properties.\";s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:142:\"Test
  data generator type. Possible values: <ul><li>Boolean</li><li>State</li><li>Integer</li><li>Real</li><li>Date
  and Time</li><li></li></ul>\";}s:12:\"propertyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Property
  name for which data generator should generate the values.\";}s:17:\"duplicationFactor\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"default\";i:1;s:7:\"minimum\";i:1;}}}s:20:\"BooleanDataGenerator\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Data
  structure for the BooleanDataGenerator data source.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataGenerator\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"format\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:10:\"True/False\";i:1;s:6:\"Yes/No\";i:2;s:3:\"1/0\";}s:7:\"default\";s:10:\"True/False\";s:11:\"description\";s:52:\"A
  string holding the format of the generated values.\";}}}}}s:28:\"ComputerAddressDataGenerator\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Data
  structure for the Computer Address data generator data source.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataGenerator\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"addressType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"IPv4\";i:1;s:5:\"Mac48\";}s:7:\"default\";s:4:\"IPv4\";s:11:\"description\";s:62:\"A
  string holding the format of the generated computer addeses.\";}}}}}s:25:\"CustomStringDataGenerator\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Data
  structure for the Custom String data generator data source.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataGenerator\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"A
  string holding the value or expression for the generating the custom string values.\";}}}}}s:19:\"StringDataGenerator\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Data
  structure for the String data generator data source.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataGenerator\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"minimumCharacters\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"default\";i:5;s:11:\"description\";s:86:\"An
  integer holding the value for minimum number of characters in the generated string.\";}s:17:\"maximumCharacters\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"default\";i:10;s:11:\"description\";s:86:\"An
  integer holding the value for maximum number of characters in the generated string.\";}s:10:\"useLetters\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;s:11:\"description\";s:84:\"An
  boolean holding the value whether generated string should contain letters or not.\";}s:9:\"useDigits\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;s:11:\"description\";s:83:\"An
  boolean holding the value whether generated string should contain digits or not.\";}s:9:\"useSpaces\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;s:11:\"description\";s:89:\"An
  boolean holding the value whether generated string should contain white spaces or
  not.\";}s:19:\"usePunctuationMarks\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;s:11:\"description\";s:94:\"An
  boolean holding the value whether generated string should contain punctuation marks
  or not.\";}}}}}s:22:\"StateNameDataGenerator\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Data
  structure for the State Name data generator data source.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataGenerator\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"nameFormat\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"Full\";i:1;s:11:\"Abbreviated\";}s:7:\"default\";s:4:\"Full\";s:11:\"description\";s:57:\"A
  string holding the format of the generated state names.\";}}}}}s:17:\"NameDataGenerator\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Data
  structure for the Name data generator data source.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataGenerator\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"gender\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:3:\"Any\";i:1;s:4:\"Male\";i:2;s:6:\"Female\";}s:7:\"default\";s:3:\"Any\";s:11:\"description\";s:52:\"A
  string holding the gender for the generated names.\";}s:8:\"nameType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:4:\"Full\";i:1;s:9:\"FirstName\";i:2;s:8:\"LastName\";}s:7:\"default\";s:4:\"Full\";s:11:\"description\";s:51:\"A
  string holding the format of the generated names.\";}}}}}s:20:\"IntegerDataGenerator\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Data
  structure for the Integer data generator data source.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataGenerator\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"minimumValue\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"default\";i:1;s:11:\"description\";s:64:\"An
  integer holding the minimum value for Integer data generator.\";}s:12:\"maximumValue\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"default\";i:100;s:11:\"description\";s:64:\"An
  integer holding the maximum value for Integer data generator.\";}s:14:\"generationMode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"Random\";i:1;s:10:\"Sequential\";}s:7:\"default\";s:6:\"Random\";s:11:\"description\";s:66:\"A
  string holding the value of how to generate the integer numbers.\";}s:11:\"incrementBy\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"default\";i:1;s:11:\"description\";s:118:\"Increment
  value for generating sequential values if generationMode is Sequential. Ignored
  if generationMode is Random.\";}}}}}s:23:\"RealNumberDataGenerator\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Data
  structure for the Integer data generator data source.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataGenerator\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"minimumValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:7:\"default\";i:1;s:11:\"description\";s:67:\"An
  double holding the minimum value for Real Number data generator.\";}s:12:\"maximumValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:7:\"default\";i:100;s:11:\"description\";s:67:\"An
  double holding the maximum value for Real Number data generator.\";}s:13:\"decimalPlaces\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"default\";i:2;s:11:\"description\";s:78:\"An
  integer holding the value for number of decimal places in generated values.\";}s:14:\"generationMode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"Random\";i:1;s:10:\"Sequential\";}s:7:\"default\";s:6:\"Random\";s:11:\"description\";s:69:\"A
  string holding the value of how to generate the Real number values.\";}s:11:\"incrementBy\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:7:\"default\";i:1;s:11:\"description\";s:118:\"Increment
  value for generating sequential values if generationMode is Sequential. Ignored
  if generationMode is Random.\";}}}}}s:26:\"ValuesFromSetDataGenerator\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Data
  structure for the Values from Set data generator data source.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataGenerator\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"generationMode\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"Random\";i:1;s:10:\"Sequential\";}s:7:\"default\";s:6:\"Random\";s:11:\"description\";s:65:\"A
  string holding the value of how to produce values from the set.\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"An
  array containing the string values from which data generator should distribute.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:23:\"UKPostCodeDataGenerator\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Data
  structure for the United Kingdom Postcode data generator data source.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataGenerator\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"codeFormat\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:3:\"All\";i:1;s:6:\"A9
  9AA\";i:2;s:7:\"A99 9AA\";i:3;s:7:\"AA9 9AA\";i:4;s:7:\"A9A 9AA\";i:5;s:8:\"AA99
  9AA\";i:6;s:8:\"AA9A 9AA\";}s:7:\"default\";s:3:\"All\";s:11:\"description\";s:54:\"A
  string holding the format of the produced postcodes.\";}}}}}s:22:\"USZIPCodeDataGenerator\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Data
  structure for the United States Postcode data generator data source.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataGenerator\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"codeFormat\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:3:\"All\";i:1;s:5:\"XXXXX\";i:2;s:10:\"XXXXX-XXXX\";}s:7:\"default\";s:3:\"All\";s:11:\"description\";s:54:\"A
  string holding the format of the produced ZIP codes.\";}}}}}s:24:\"PhoneNumberDataGenerator\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Data
  structure for the United States Postcode data generator data source.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataGenerator\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"numberFormat\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:12:\"XXX-XXX-XXXX\";s:11:\"description\";s:162:\"A
  string holding the number format of the produced ZIP codes. Allowed values: XXX-XXX-XXXX,
  +1 XXX-XXX-XXXX, +1 (XXX)-XXX-XXXX, +X XXX-XXX-XXXX, +X (XXX)-XXX-XXXX\";}}}}}s:24:\"DateAndTimeDataGenerator\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Data
  structure for the Date and Time data generator data source.\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataGenerator\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:14:\"dateTimeFormat\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:10:{i:0;s:11:\"HH:MM
  AM/PM\";i:1;s:15:\"HH:MM (24-hour)\";i:2;s:14:\"HH:MM:SS AM/PM\";i:3;s:18:\"HH:MM:SS
  (24-hour)\";i:4;s:23:\"M/D/YYYY HH:MM:SS AM/PM\";i:5;s:27:\"M/D/YYYY HH:MM:SS (24-hour)\";i:6;s:8:\"M/D/YYYY\";i:7;s:12:\"D
  Month YYYY\";i:8;s:22:\"DayOfWeek D Month YYYY\";i:9;s:31:\"YYYY-MM-DDTHH:mm:ssZ
  (ISO-8601)\";}s:7:\"default\";s:11:\"HH:MM AM/PM\";s:11:\"description\";s:72:\"String
  value containing the format of the generated date and time values\";}s:12:\"minimumValue\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:7:\"default\";O:8:\"stdClass\":0:{}s:11:\"description\";s:58:\"String
  containing the start date value in ISO-8601 format.\";}s:12:\"maximumValue\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:7:\"default\";O:8:\"stdClass\":0:{}s:11:\"description\";s:87:\"String
  containing the end date value in ISO-8601 format. Default willl be current date.\";}s:14:\"generationMode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"Random\";i:1;s:10:\"Sequential\";}s:7:\"default\";s:6:\"Random\";}s:17:\"incrementValueDay\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"default\";i:1;s:11:\"description\";s:130:\"Integer
  value containing the incremental step for day used for generating sequential values.
  Ignored if generation mode is Random.\";}s:18:\"incrementValueHour\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"default\";i:1;s:11:\"description\";s:131:\"Integer
  value containing the incremental step for hour used for generating sequential values.
  Ignored if generation mode is Random.\";}s:20:\"incrementValueMinute\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"default\";i:1;s:11:\"description\";s:133:\"Integer
  value containing the incremental step for minute used for generating sequential
  values. Ignored if generation mode is Random.\";}s:20:\"incrementValueSecond\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"default\";i:1;s:11:\"description\";s:134:\"Integer
  value containing the incremental step for seconds used for generating sequential
  values. Ignored if generation mode is Random.\";}}}}}s:16:\"CustomProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:305:\"Entity
  representing a custom property of Test Suite or a Test Case. This should be send
  along with XML project execution request to set the custom values for these properties.
  Value will be updated if property exists otherwise a property will be created with
  the provided name and value, before execution.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"targetName\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"targetName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Name
  of the target Test Suite or Test Case\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}"
...
