---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:12:\"clever_cloud\";}s:11:\"description\";s:54:\"Public
  API for managing Clever-Cloud data and products\";s:5:\"title\";s:12:\"Clever-Cloud\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:84:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_clever_cloud_profile_image.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:49:\"https://www.clever-cloud.com/doc/api/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:16:\"clever-cloud.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"clever_cloud\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.clever-cloud.com
basePath: /v2
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":56:{s:5:\"Addon\";O:8:\"stdClass\":4:{s:11:\"description\";s:8:\"An
  addon\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"configKeys\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Environments
  variables link to the addon.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  creation timestamp of the addon\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"`addon_${uuid}`\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Plan\";}s:8:\"provider\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Provider\";}s:6:\"realId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"`${provider}_${uuid2}`\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:10:\"configKeys\";i:1;s:12:\"creationDate\";i:2;s:2:\"id\";i:3;s:4:\"name\";i:4;s:4:\"plan\";i:5;s:8:\"provider\";i:6;s:6:\"realId\";i:7;s:6:\"region\";}s:4:\"type\";s:6:\"object\";}s:16:\"AddonProviderSso\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"macaroon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"macaroon\";i:1;s:3:\"url\";}s:4:\"type\";s:6:\"object\";}s:11:\"AppInstance\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"appId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"appPort\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"commit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"deployNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"flavor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Flavor\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Application\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":23:{s:8:\"archived\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:6:\"branch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"buildFlavor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Flavor\";}s:12:\"cancelOnPush\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:8:\"commitId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:9:\"deployUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deployment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Deployment\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"favourite\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:11:\"homogeneous\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"instance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Instance\";}s:11:\"last_deploy\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"ownerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"separateBuild\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"stickySessions\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:6:\"vhosts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Vhost\";}s:4:\"type\";s:5:\"array\";}s:13:\"webhookSecret\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"webhookUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"`par`
  ou `mtl`\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:23:{i:0;s:8:\"archived\";i:1;s:6:\"branch\";i:2;s:11:\"buildFlavor\";i:3;s:12:\"cancelOnPush\";i:4;s:8:\"commitId\";i:5;s:12:\"creationDate\";i:6;s:9:\"deployUrl\";i:7;s:10:\"deployment\";i:8;s:11:\"description\";i:9;s:9:\"favourite\";i:10;s:11:\"homogeneous\";i:11;s:2:\"id\";i:12;s:8:\"instance\";i:13;s:11:\"last_deploy\";i:14;s:4:\"name\";i:15;s:7:\"ownerId\";i:16;s:13:\"separateBuild\";i:17;s:5:\"state\";i:18;s:14:\"stickySessions\";i:19;s:6:\"vhosts\";i:20;s:13:\"webhookSecret\";i:21;s:10:\"webhookUrl\";i:22;s:4:\"zone\";}s:4:\"type\";s:6:\"object\";}s:6:\"Avatar\";O:8:\"stdClass\":4:{s:11:\"description\";s:115:\"If
  you want to upload an image from your computer, send the image in the body of the
  request without anything else.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"source\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"github
  or gravatar\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/URL\";}}s:8:\"required\";a:2:{i:0;s:6:\"source\";i:1;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:6:\"source\";}s:4:\"type\";s:6:\"object\";}s:4:\"Body\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"body\";}s:4:\"type\";s:6:\"object\";}s:15:\"Change
  Password\";O:8:\"stdClass\":0:{}s:15:\"Change_Password\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"newPassword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"oldPassword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"newPassword\";i:1;s:11:\"oldPassword\";}s:4:\"type\";s:6:\"object\";}s:5:\"Conso\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"appId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"conso\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"conso\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"One
  day consumption\";s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"conso\";i:1;s:4:\"date\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:5:\"appId\";i:1;s:5:\"conso\";}s:4:\"type\";s:6:\"object\";}s:8:\"Consumer\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"baseUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"picture\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"rights\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ConsumerRights\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:7:\"baseUrl\";i:1;s:11:\"description\";i:2;s:4:\"name\";i:3;s:6:\"rights\";i:4;s:3:\"url\";}s:4:\"type\";s:6:\"object\";}s:14:\"ConsumerRights\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:12:\"access_bills\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:29:\"access_consumption_statistics\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:19:\"access_credit_count\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:20:\"access_organisations\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:26:\"access_organisations_bills\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:43:\"access_organisations_consumption_statistics\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:33:\"access_organisations_credit_count\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:27:\"access_personal_information\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:8:\"almighty\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:19:\"manage_applications\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:20:\"manage_organisations\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:33:\"manage_organisations_applications\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:28:\"manage_organisations_members\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:29:\"manage_organisations_services\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:27:\"manage_personal_information\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:15:\"manage_services\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:15:\"manage_ssh_keys\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Country\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Code
  ISO 3166\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:7:\"Credits\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"dropPrice\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:7:\"ownerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"count\";i:1;s:9:\"dropPrice\";i:2;s:7:\"ownerId\";}s:4:\"type\";s:6:\"object\";}s:10:\"Deployment\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"httpUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"repoState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"shutdownable\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:9:\"repoState\";i:1;s:12:\"shutdownable\";i:2;s:4:\"type\";i:3;s:3:\"url\";}s:4:\"type\";s:6:\"object\";}s:3:\"Env\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"addon_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"addon_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"env\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/WannabeEnv\";}s:4:\"type\";s:5:\"array\";}s:11:\"provider_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:8:\"addon_id\";i:1;s:10:\"addon_name\";i:2;s:3:\"env\";i:3;s:11:\"provider_id\";}s:4:\"type\";s:6:\"object\";}s:7:\"Feature\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the properties\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  type of the feature\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  value of the feature\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:6:\"Flavor\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"available\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:4:\"cpus\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"disk\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"mem\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"microservice\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"nice\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"price\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:4:{i:0;s:4:\"cpus\";i:1;s:3:\"mem\";i:2;s:4:\"name\";i:3;s:5:\"price\";}s:4:\"type\";s:6:\"object\";}s:8:\"Instance\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":19:{s:11:\"buildFlavor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Flavor\";}s:10:\"comingSoon\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:10:\"defaultEnv\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Map\";}s:13:\"defaultFlavor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Flavor\";}s:11:\"deployments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:7:\"flavors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Flavor\";}s:4:\"type\";s:5:\"array\";}s:18:\"instanceAndVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"maxAllowedInstances\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"maxFlavor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Flavor\";}s:12:\"maxInstances\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"minFlavor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Flavor\";}s:12:\"minInstances\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"variant\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Variant\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:11:{i:0;s:10:\"defaultEnv\";i:1;s:7:\"flavors\";i:2;s:18:\"instanceAndVersion\";i:3;s:19:\"maxAllowedInstances\";i:4;s:9:\"maxFlavor\";i:5;s:12:\"maxInstances\";i:6;s:9:\"minFlavor\";i:7;s:12:\"minInstances\";i:8;s:4:\"type\";i:9;s:7:\"variant\";i:10;s:7:\"version\";}s:4:\"type\";s:6:\"object\";}s:3:\"Key\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"fingerprint\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:11:\"fingerprint\";i:1;s:3:\"key\";i:2;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:12:\"LinkedAppEnv\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"app_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"app_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"env\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/WannabeEnv\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:6:\"app_id\";i:1;s:8:\"app_name\";i:2;s:3:\"env\";}s:4:\"type\";s:6:\"object\";}s:7:\"ListEnv\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Map\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:6:\"Member\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"job\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"member\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"avatar\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"email\";i:1;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:3:\"job\";i:1;s:6:\"member\";i:2;s:4:\"role\";}s:4:\"type\";s:6:\"object\";}s:12:\"Organisation\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:3:\"VAT\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"avatar\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"vatState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"zipcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:11:{i:0;s:3:\"VAT\";i:1;s:7:\"address\";i:2;s:6:\"avatar\";i:3;s:4:\"city\";i:4;s:7:\"company\";i:5;s:7:\"country\";i:6;s:11:\"description\";i:7;s:2:\"id\";i:8;s:4:\"name\";i:9;s:8:\"vatState\";i:10;s:7:\"zipcode\";}s:4:\"type\";s:6:\"object\";}s:16:\"Payment
  Provider\";O:8:\"stdClass\":0:{}s:11:\"PaymentData\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"deviceData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:8:\"NEW_CARD\";i:1;s:13:\"EXISTING_CARD\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"token\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:16:\"Payment_Provider\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"comingSoon\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:6:\"imgUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:10:\"comingSoon\";i:1;s:6:\"imgUrl\";i:2;s:4:\"name\";i:3;s:5:\"title\";}s:4:\"type\";s:6:\"object\";}s:4:\"Plan\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"features\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  list of the feature in the addon\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Feature\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"`plan_${uuid}`\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Name
  of the pan\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:8:\"features\";i:1;s:2:\"id\";i:2;s:4:\"name\";i:3;s:5:\"price\";i:4;s:4:\"slug\";}s:4:\"type\";s:6:\"object\";}s:8:\"Provider\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"A
  provider\";s:10:\"properties\";O:8:\"stdClass\":16:{s:11:\"analyticsId\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  id of the analytics page link to this addon\";s:4:\"type\";s:6:\"string\";}s:10:\"canUpgrade\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:25:\"Can
  the addon be upgraded\";s:4:\"type\";s:7:\"boolean\";}s:8:\"features\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Feature\";}s:4:\"type\";s:5:\"array\";}s:14:\"googlePlusName\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  name of the google + page link to this addon (could be empty)\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  id of the provider\";s:4:\"type\";s:6:\"string\";}s:7:\"logoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  url of the addon's logo\";s:4:\"type\";s:6:\"string\";}s:8:\"longDesc\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"A
  less concise description of the addon\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"openInNewTab\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:49:\"Does
  the addon panel need to be open in a new tab\";s:4:\"type\";s:7:\"boolean\";}s:5:\"plans\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Plan\";}s:4:\"type\";s:5:\"array\";}s:7:\"regions\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  differents regions where the addon is available\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"shortDesc\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"A
  short description of the addon\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  status of this addon (RELEASE, BETA, ...)\";s:4:\"type\";s:6:\"string\";}s:12:\"supportEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  mail to contact in case of issue with this addon\";s:4:\"type\";s:6:\"string\";}s:11:\"twitterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  name of the user to contact on twitter for this addon (could be empty)\";s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"The
  website of the provider. If the addon is developped by clever-cloud, the site is
  \"http://www.clever-cloud.com/\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:14:{i:0;s:11:\"analyticsId\";i:1;s:10:\"canUpgrade\";i:2;s:14:\"googlePlusName\";i:3;s:2:\"id\";i:4;s:7:\"logoUrl\";i:5;s:8:\"longDesc\";i:6;s:4:\"name\";i:7;s:12:\"openInNewTab\";i:8;s:7:\"regions\";i:9;s:9:\"shortDesc\";i:10;s:6:\"status\";i:11;s:12:\"supportEmail\";i:12;s:11:\"twitterName\";i:13;s:7:\"website\";}s:4:\"type\";s:6:\"object\";}s:6:\"Rights\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"description\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:6:\"Secret\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"secret\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:6:\"secret\";i:1;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:3:\"Sso\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"nav-data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:5:\"email\";i:1;s:2:\"id\";i:2;s:8:\"nav-data\";i:3;s:9:\"timestamp\";i:4;s:5:\"token\";i:5;s:3:\"url\";}s:4:\"type\";s:6:\"object\";}s:7:\"Summary\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"organisations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"addons\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"logoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"providerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"applications\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"archived\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:6:\"commit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"instanceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"instanceVariant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"variantSlug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"avatar\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"consumers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"picture\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"providers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"user\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"addons\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"logoUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"providerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"admin\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:12:\"applications\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"archived\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:6:\"commit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"instanceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"instanceVariant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"variantSlug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"avatar\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"consumers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"picture\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:6:\"addons\";i:1;s:5:\"admin\";i:2;s:12:\"applications\";i:3;s:6:\"avatar\";i:4;s:2:\"id\";i:5;s:4:\"lang\";i:6;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:13:\"organisations\";i:1;s:4:\"user\";}s:4:\"type\";s:6:\"object\";}s:5:\"Token\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"consumer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Consumer\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"lastUtilisation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"rights\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Rights\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:8:\"consumer\";i:1;s:12:\"creationDate\";i:2;s:15:\"lastUtilisation\";i:3;s:6:\"rights\";i:4;s:5:\"token\";}s:4:\"type\";s:6:\"object\";}s:14:\"Transaction
  Id\";O:8:\"stdClass\":0:{}s:14:\"Transaction_Id\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"A
  simple transaction id\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"transactionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  transaction Id\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:13:\"transactionId\";}s:4:\"type\";s:6:\"object\";}s:3:\"URL\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Must
  be a valid HTTP URL\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:3:\"url\";}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"A
  user representation\";s:10:\"properties\";O:8:\"stdClass\":17:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  address of the user\";s:4:\"type\";s:6:\"string\";}s:5:\"admin\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:30:\"Is
  the user an administrator ?\";s:4:\"type\";s:7:\"boolean\";}s:6:\"avatar\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  location of the user's avatar\";s:4:\"type\";s:6:\"string\";}s:6:\"canPay\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:23:\"Does
  the user can pay ?\";s:4:\"type\";s:7:\"boolean\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  city of the user\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  country of the user\";s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  creation timestamp of the user\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  email of the user\";s:4:\"type\";s:6:\"string\";}s:14:\"emailValidated\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:31:\"Does
  the user email is validate\";s:4:\"type\";s:7:\"boolean\";}s:11:\"hasPassword\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  id of the user : `user_${uuid}`\";s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  lang of the user\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  name of the user\";s:4:\"type\";s:6:\"string\";}s:9:\"oauthApps\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  list of token oauth\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  phone of the user\";s:4:\"type\";s:6:\"string\";}s:12:\"preferredMFA\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"zipcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  zipcode of the user\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:15:{i:0;s:7:\"address\";i:1;s:5:\"admin\";i:2;s:6:\"avatar\";i:3;s:6:\"canPay\";i:4;s:4:\"city\";i:5;s:7:\"country\";i:6;s:12:\"creationDate\";i:7;s:5:\"email\";i:8;s:14:\"emailValidated\";i:9;s:2:\"id\";i:10;s:4:\"lang\";i:11;s:4:\"name\";i:12;s:9:\"oauthApps\";i:13;s:5:\"phone\";i:14;s:7:\"zipcode\";}s:4:\"type\";s:6:\"object\";}s:7:\"Variant\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"deployType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"logo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:10:\"deployType\";i:1;s:2:\"id\";i:2;s:4:\"logo\";i:3;s:4:\"name\";i:4;s:4:\"slug\";}s:4:\"type\";s:6:\"object\";}s:5:\"Vhost\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"fqdn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"fqdn\";}s:4:\"type\";s:6:\"object\";}s:12:\"WannabeAddon\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"payment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PaymentData\";}s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"providerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:4:\"name\";i:1;s:7:\"payment\";i:2;s:4:\"plan\";i:3;s:10:\"providerId\";i:4;s:6:\"region\";}s:4:\"type\";s:6:\"object\";}s:19:\"WannabeAddonBilling\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"cost\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:4:\"cost\";}s:4:\"type\";s:6:\"object\";}s:20:\"WannabeAddonProvider\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"api\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/WannabeAddonProviderAPI\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:3:\"api\";i:1;s:2:\"id\";i:2;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:23:\"WannabeAddonProviderAPI\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"config_vars\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"production\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/WannabeAddonProviderAPIUrl\";}s:7:\"regions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"sso_salt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"test\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/WannabeAddonProviderAPIUrl\";}}s:8:\"required\";a:3:{i:0;s:11:\"config_vars\";i:1;s:8:\"password\";i:2;s:8:\"sso_salt\";}s:4:\"type\";s:6:\"object\";}s:26:\"WannabeAddonProviderAPIUrl\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"base_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"sso_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"base_url\";i:1;s:7:\"sso_url\";}s:4:\"type\";s:6:\"object\";}s:18:\"WannabeApplication\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":23:{s:8:\"archived\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:12:\"cancelOnPush\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:6:\"deploy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:9:\"favourite\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:11:\"homogeneous\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:12:\"instanceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"instanceVariant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"instanceVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"maxFlavor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"maxInstances\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"minFlavor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"minInstances\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"oauthApp\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/WannabeOauthApp\";}s:10:\"oauthAppId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"oauthService\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"separateBuild\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:12:\"shutdownable\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:14:\"stickySessions\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:6:\"deploy\";i:1;s:7:\"enabled\";i:2;s:12:\"maxInstances\";i:3;s:12:\"minInstances\";i:4;s:4:\"name\";i:5;s:4:\"zone\";}s:4:\"type\";s:6:\"object\";}s:15:\"WannabeConsumer\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"baseUrl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/URL\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"picture\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"rights\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"activated\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:5:\"right\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"activated\";i:1;s:5:\"right\";}s:4:\"type\";s:6:\"object\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/URL\";}}s:8:\"required\";a:4:{i:0;s:7:\"baseUrl\";i:1;s:4:\"name\";i:2;s:6:\"rights\";i:3;s:3:\"url\";}s:4:\"type\";s:6:\"object\";}s:10:\"WannabeEnv\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:14:\"WannabeFeature\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"BOOLEAN,
  INTERVAL, FILESIZE, NUMBER, PERCENTAGE\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:13:\"WannabeMember\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"job\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"email\";i:1;s:4:\"role\";}s:4:\"type\";s:6:\"object\";}s:15:\"WannabeOauthApp\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"WannabeOrganisation\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"VAT\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  address of the organisation.\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  city of the organisation.\";s:4:\"type\";s:6:\"string\";}s:7:\"company\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  company's name of the organisation.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  country of the organisation.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  description of the organisation.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  name of the organisation.\";s:4:\"type\";s:6:\"string\";}s:7:\"zipcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  zipcode of the city's organisation.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"description\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:11:\"WannabePlan\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"features\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/WannabePlanFeature\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:8:\"features\";i:1;s:4:\"name\";i:2;s:5:\"price\";i:3;s:4:\"slug\";}s:4:\"type\";s:6:\"object\";}s:18:\"WannabePlanFeature\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:11:\"WannabeUser\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"terms\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:7:\"zipcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"email\";i:1;s:8:\"password\";i:2;s:5:\"terms\";}s:4:\"type\";s:6:\"object\";}s:4:\"Zone\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"correspondingRegion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"internal\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:19:\"correspondingRegion\";i:1;s:8:\"internal\";i:2;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}}"
...
