---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:5:\"title\";s:10:\"shinobiapi\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:76:\"https://api.apis.guru/v2/cache/logo/https_hillbillysoftware.com_img_logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:49:\"https://api.hillbillysoftware.com/swagger/docs/v1\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:21:\"hillbillysoftware.com\";s:13:\"x-serviceName\";s:7:\"shinobi\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"hillbillysoftware_shinobi\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.hillbillysoftware.com
paths:
  /Actors/Search/{accesstoken}/{Query}:
    get:
      operationId: Actor_Get
      parameters:
      - description: ""
        in: path
        name: accesstoken
        required: true
        type: string
      - description: ""
        in: path
        name: Query
        required: true
        type: string
      responses:
        200:
          description: List of Actors
          schema:
            items:
              $ref: '#/definitions/Actor'
            type: array
      summary: Returns data on queried actor/actress. Result set limited to 5 records
      tags:
      - Cast & Crew
  /Awards/ByWinner/{AccessToken}/{Nominee}:
    get:
      operationId: AwardsbyWinner_Get
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      - description: ""
        in: path
        name: Nominee
        required: true
        type: string
      responses:
        200:
          description: List of awards
          schema:
            items:
              $ref: '#/definitions/_Awards'
            type: array
      summary: Gets all awards by nominiee
      tags:
      - Awards
  /Awards/ByYear/{Year}:
    get:
      operationId: awards_Get
      parameters:
      - description: ""
        in: path
        name: Year
        required: true
        type: string
      responses:
        200:
          description: List of awards
          schema:
            items:
              $ref: '#/definitions/_Awards'
            type: array
      summary: Gets all awards for requested year
      tags:
      - Awards
  /Calendar/ByDate/{AccessToken}/{Date}/{Country}:
    get:
      operationId: ScheduleByDate_Get
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      - description: date format year-month-day
        in: path
        name: Date
        required: true
        type: string
      - description: US / CA / NL / BE / DE / GB or FR
        in: path
        name: Country
        required: true
        type: string
      responses:
        200:
          description: List of schedules/calendar entries
          schema:
            items:
              $ref: '#/definitions/schedule'
            type: array
      summary: Gets TV Schedule for selected data
      tags:
      - Calendar
  /Calendar/Countries/{AccessToken}:
    get:
      operationId: CalendarCountries_Get
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      responses:
        200:
          description: List of countries
          schema:
            items:
              $ref: '#/definitions/Country'
            type: array
      summary: Returns list of available countries in calendar database
      tags:
      - Calendar
  /Calendar/Networks/{AccessToken}:
    get:
      operationId: CalendarNetworks_Get
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      responses:
        200:
          description: List of networks
          schema:
            items:
              $ref: '#/definitions/Networks'
            type: array
      summary: Gets a list of available networks
      tags:
      - Calendar
  /Calendar/Today/{AccessToken}:
    get:
      operationId: CalendarToday_Get
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      responses:
        200:
          description: List of schedules/calendar entries
          schema:
            items:
              $ref: '#/definitions/schedule'
            type: array
      summary: Will return show schedule for today for all countries in database
      tags:
      - Calendar
  /Cast/ByTVShow/{accesstoken}/{ShowName}:
    get:
      operationId: ActorsInTVShow_Get
      parameters:
      - description: ""
        in: path
        name: accesstoken
        required: true
        type: string
      - description: ""
        in: path
        name: ShowName
        required: true
        type: string
      responses:
        200:
          description: List of actors in show
          schema:
            items:
              $ref: '#/definitions/TVShowActor'
            type: array
      summary: Returns all actors in queried tvshow
      tags:
      - Cast & Crew
  /Cast/InTVShow/{accesstoken}/{Actor}:
    get:
      operationId: ActorInShows_Get
      parameters:
      - description: ""
        in: path
        name: accesstoken
        required: true
        type: string
      - description: ""
        in: path
        name: Actor
        required: true
        type: string
      responses:
        200:
          description: List of actors in show
          schema:
            items:
              $ref: '#/definitions/TVShowActor'
            type: array
      summary: Returns all shows queried actor/actress is or has been in
      tags:
      - Cast & Crew
  /Crew/Search/{AccessToken}/{ShowName}:
    get:
      operationId: Crew_Get
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      - description: ""
        in: path
        name: ShowName
        required: true
        type: string
      responses:
        200:
          description: List of crew
          schema:
            items:
              $ref: '#/definitions/Crew'
            type: array
      summary: Returns crew for queried show.
      tags:
      - Cast & Crew
  /Episodes/ByID/{AccessToken}/{ID}:
    get:
      operationId: EpisodesByID_Get
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      - description: ""
        in: path
        name: ID
        required: true
        type: string
      responses:
        200:
          description: List of episodes
          schema:
            items:
              $ref: '#/definitions/Episode'
            type: array
      summary: Gets all episodes for selected ID
      tags:
      - TVShows
  /Episodes/ByShowName/{AccessToken}/{Showname}:
    get:
      operationId: Episodes_Get
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      - description: ""
        in: path
        name: Showname
        required: true
        type: string
      responses:
        200:
          description: List of episodes
          schema:
            items:
              $ref: '#/definitions/Episode'
            type: array
      summary: Gets all episodes for selected show
      tags:
      - TVShows
  /GetIMDBid/ByID/{AccessToken}/{Query}:
    get:
      operationId: GetIMDBid_GetAsync
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      - description: ""
        in: path
        name: Query
        required: true
        type: string
      responses:
        200:
          description: List of imdb ID's
          schema:
            items:
              $ref: '#/definitions/imdbID'
            type: array
      summary: Gets list of avaiable IMDB ids from Movies and TV Show databases, you
        can use those to query other end points that need ID's
      tags:
      - Miscellaneous
  /Images/ByID/{AccessToken}/{imdbID}:
    get:
      operationId: Images_Get
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      - description: ""
        in: path
        name: imdbID
        required: true
        type: string
      responses:
        200:
          description: List of images
          schema:
            items:
              $ref: '#/definitions/imdbImages'
            type: array
      summary: Get images available for movie/tv show with passed imdbID
      tags:
      - Images
  /Images/Search/{Accesstoken}/{Query}:
    get:
      operationId: ImageSearch_Get
      parameters:
      - description: ""
        in: path
        name: Accesstoken
        required: true
        type: string
      - description: ""
        in: path
        name: Query
        required: true
        type: string
      - in: query
        name: Strictmatch
        required: false
        type: boolean
      responses:
        200:
          description: List of images
          schema:
            items:
              $ref: '#/definitions/Images'
            type: array
      summary: Get images available for movie/tv show with passed query
      tags:
      - Images
  /Magnets/ByDate/{AccessToken}/{Date}:
    get:
      operationId: MagnetsByDate_GetAsync
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      - description: ""
        in: path
        name: Date
        required: true
        type: string
      responses:
        200:
          description: List of magnet hashes
          schema:
            items:
              $ref: '#/definitions/Magnets'
            type: array
      summary: Gets available magnet hashes on passed date (yyyy-mm-dd)
      tags:
      - Magnets
  /Magnets/Movie/{AccessToken}/{Movie}:
    get:
      operationId: magnetsMovieByID_GetAsync
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      - description: ""
        in: path
        name: Movie
        required: true
        type: string
      responses:
        200:
          description: List of magnet hashes
          schema:
            items:
              $ref: '#/definitions/Magnets'
            type: array
      summary: Try and find magnet links for queried movie.  Feature not available
        on free plan, please donate to be able to use this feature
      tags:
      - Magnets
  /Magnets/TVShow/{AccessToken}/{TVShow}:
    get:
      operationId: magnetsTVShowSearch_GetAsync
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      - description: ""
        in: path
        name: TVShow
        required: true
        type: string
      responses:
        200:
          description: List of magnet hashes
          schema:
            items:
              $ref: '#/definitions/Magnets'
            type: array
      summary: Returns results based on query, Feature not available on free plan,
        please donate to be able to use this feature.
      tags:
      - Magnets
  /Movie/ByID/{accesstoken}/{imdbID}:
    get:
      operationId: MovieID_Get
      parameters:
      - in: path
        name: accesstoken
        required: true
        type: string
      - in: path
        name: imdbID
        required: true
        type: string
      responses:
        200:
          description: Movie information
          schema:
            $ref: '#/definitions/MovieInformation'
      tags:
      - Movies
  /Movie/Search/{AccessToken}/{Query}:
    get:
      operationId: MovieSearch_GetAsync
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      - description: ""
        in: path
        name: Query
        required: true
        type: string
      responses:
        200:
          description: List of information about queried movie(s)
          schema:
            items:
              $ref: '#/definitions/MovieInformation'
            type: array
      summary: Searches for movies, result set limited to 5 records
      tags:
      - Movies
  /Rating/ByID/{AccessToken}/{imdbID}:
    get:
      operationId: Rating_Get
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      - description: ""
        in: path
        name: imdbID
        required: true
        type: string
      responses:
        200:
          description: Ratings
          schema:
            $ref: '#/definitions/RatingItem'
      summary: Returns ratings from various resources(IMDB,Rotten Tomatoes, metaCritics,
        TVMaze etc) of passed IMDBid
      tags:
      - Miscellaneous
  /Status/{AccessToken}/{Query}:
    get:
      operationId: ShowStatus_Get
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      - description: Query can be IMDB, TVDB, or Show name
        in: path
        name: Query
        required: true
        type: string
      responses:
        200:
          description: List of statuses
          schema:
            items:
              $ref: '#/definitions/_ShowStatus'
            type: array
      summary: Returns status of queried show (query can be IMDB, TVDB, or showname)
      tags:
      - TVShows
  /TV/ByID/{accesstoken}/{imdbID}:
    get:
      operationId: TVShowID_Get
      parameters:
      - description: ""
        in: path
        name: accesstoken
        required: true
        type: string
      - description: imdbID of show you want info on
        in: query
        name: id
        required: true
        type: string
      - in: path
        name: imdbID
        required: true
        type: string
      responses:
        200:
          description: Television show information
          schema:
            $ref: '#/definitions/TVInformation'
      summary: Returns TVShow information based on IMDBid
      tags:
      - TVShows
  /TV/Search/{accesstoken}/{query}:
    get:
      operationId: TVShowSearch_GetAsync
      parameters:
      - description: ""
        in: path
        name: accesstoken
        required: true
        type: string
      - description: ""
        in: path
        name: query
        required: true
        type: string
      responses:
        200:
          description: List of television show information
          schema:
            items:
              $ref: '#/definitions/TVInformation'
            type: array
      summary: Returns results based on query, result set limited to 5 records
      tags:
      - TVShows
  /Trailers/ByID/{AccessToken}/{imdbID}:
    get:
      operationId: TrailersbyID_Get
      parameters:
      - description: ""
        in: path
        name: AccessToken
        required: true
        type: string
      - description: ""
        in: path
        name: imdbID
        required: true
        type: string
      responses:
        200:
          description: List of trailers
          schema:
            items:
              $ref: '#/definitions/Trailer'
            type: array
      summary: Get Trailers for passed imdbID
      tags:
      - Trailers
produces:
- application/json
- text/json
- application/xml
- text/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":18:{s:5:\"Actor\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"Bio\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"BirthYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"DeathYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"PopularityIndex\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ProfileImage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Country\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Crew\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ShowName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Episode\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"Airdate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Airtime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"EpisodeNo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ImageHash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Season\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Synopsis\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"imdbID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"tvdbID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"tvmazeID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Images\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ImageURI\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"imdbID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"isValidated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Magnet\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Magnets\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"Hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"MovieInformation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"ImdbID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ReleaseYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Runtime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Synopsis\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Urls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Networks\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Network\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"RatingItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"MetaCritics\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Rating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"RottenTomatoes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TVMaze\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"imdbID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"TVInformation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:12:\"EpisodeCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"EpisodeRuntime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"ImdbID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ReleaseYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Seasons\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ShowImage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ShowStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Synopsis\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Urls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Links\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"TVShowActor\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"ShowID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ShowName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Trailer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"Key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"MediaType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Site\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"TrailerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"TrailerSize\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"TrailerType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"YouTubeEmbeddedCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"YouTubeURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"_Awards\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"Category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Nominee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Winner\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Year\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"_ShowStatus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"Enddate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"YearsOn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"imdbID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"tvdbID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"imdbID\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ShinobiID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"imdbImages\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"Backdrops\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"Posters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"imdbID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"AirDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"AirTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"DaysOn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Network\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"PremiereDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Runtime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ShowName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Summary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
