---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:7:\"version\";s:2:\"v1\";s:5:\"title\";s:18:\"FastTrack.Services\";}"
host: c43-fasttrackapi.ttlnonprod.com
paths:
  /v1/Booking:
    post:
      tags:
      - Booking
      summary: Initiates Booking process for given booking request.
      operationId: Booking_Post
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: bookingRequest
        in: body
        required: true
        schema:
          $ref: '#/definitions/FastTrackApi.Contracts.Requests.Booking.BookingRequest'
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      - name: X-TTL-Customer-Authorization
        in: header
        description: SSO user token header parameter
        required: true
        type: string
        default: 'Bearer '
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.Booking.BookingResponse'
  /diagnostics/healthcheck:
    get:
      tags:
      - HealthCheck
      summary: Returns service-name, app-name and app version.
      operationId: HealthCheck_Get
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            type: object
  /v1/logout:
    post:
      tags:
      - Login
      summary: Initiates logout.
      operationId: Login_Logout
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: ssoValidationRequest
        in: body
        required: true
        schema:
          $ref: '#/definitions/FastTrackApi.Contracts.Requests.Login.SsoValidationRequest'
      responses:
        200:
          description: OK
  /v1/Login:
    post:
      tags:
      - Login
      summary: Initiates SSO login and returns token
      operationId: Login_Post
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: loginRequest
        in: body
        required: true
        schema:
          $ref: '#/definitions/FastTrackApi.Contracts.Requests.Login.LoginRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.Login.LoggedInCustomer'
  /v1/mobile/tickets:
    get:
      tags:
      - MobileTicket
      summary: Returns tickets for given transaction id.
      operationId: MobileTicket_GetByTransactionIds
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: transactionIds
        in: query
        required: true
        type: string
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      - name: X-TTL-Customer-Authorization
        in: header
        description: SSO user token header parameter
        required: true
        type: string
        default: 'Bearer '
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.MobileTickets.RestApiResponse[FastTrackApi.Contracts.MobileTickets.TicketsResponse]'
  /v1/mobile/devices/{deviceId}/ticketbarcodesbytransactions:
    get:
      tags:
      - MobileTicket
      summary: Fetches barcoded-tickets by transactionIds.
      operationId: MobileTicket_GetTicketBarcodesByTransactions
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: deviceId
        in: path
        required: true
        type: string
      - name: transactionIds
        in: query
        required: true
        type: string
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      - name: X-TTL-Customer-Authorization
        in: header
        description: SSO user token header parameter
        required: true
        type: string
        default: 'Bearer '
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.MobileTickets.RestApiResponse[FastTrackApi.Contracts.MobileTickets.TicketBarcodesResponse]'
  /v1/mobile/devices/{deviceId}/ticketbarcodesbytickets:
    get:
      tags:
      - MobileTicket
      summary: Fetches barcoded-tickets by ticket ids.
      operationId: MobileTicket_GetTicketBarcodesByTickets
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: deviceId
        in: path
        required: true
        type: string
      - name: ticketIds
        in: query
        required: true
        type: string
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      - name: X-TTL-Customer-Authorization
        in: header
        description: SSO user token header parameter
        required: true
        type: string
        default: 'Bearer '
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.MobileTickets.RestApiResponse[FastTrackApi.Contracts.MobileTickets.TicketBarcodesResponse]'
  /v1/mobile/devices/{deviceId}/tickets/barcode:
    post:
      tags:
      - MobileTicket
      summary: Fetches barcoded-tickets by transactionIds.
      operationId: MobileTicket_GetBarcodedTicketOnDeviceByTransactionIds
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: deviceId
        in: path
        required: true
        type: string
      - name: transactionIds
        in: query
        required: true
        type: string
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      - name: X-TTL-Customer-Authorization
        in: header
        description: SSO user token header parameter
        required: true
        type: string
        default: 'Bearer '
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.MobileTickets.RestApiResponse[FastTrackApi.Contracts.MobileTickets.TicketBarcodesResponse]'
      deprecated: true
  /v1/mobile/devices/{deviceId}/tickets/activate:
    post:
      tags:
      - MobileTicket
      summary: Activates ticket by ticketIds.
      operationId: MobileTicket_ActivateTicketOnDeviceByTicketIds
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: deviceId
        in: path
        required: true
        type: string
      - name: ticketStatusModificationRequests
        in: body
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/FastTrackApi.Contracts.Requests.MobileTickets.TicketStatusModificationRequest'
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      - name: X-TTL-Customer-Authorization
        in: header
        description: SSO user token header parameter
        required: true
        type: string
        default: 'Bearer '
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.MobileTickets.RestApiResponse[FastTrackApi.Contracts.MobileTickets.EmptyTicketResponse]'
  /v1/mobile/devices/{deviceId}/tickets/delete:
    post:
      tags:
      - MobileTicket
      summary: Delete ticket on device by ticketIds.
      operationId: MobileTicket_ObsoleteDeleteTicketOnDeviceByTicketIds
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: deviceId
        in: path
        required: true
        type: string
      - name: ticketStatusModificationRequests
        in: body
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/FastTrackApi.Contracts.Requests.MobileTickets.TicketStatusModificationRequest'
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      - name: X-TTL-Customer-Authorization
        in: header
        description: SSO user token header parameter
        required: true
        type: string
        default: 'Bearer '
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.MobileTickets.RestApiResponse[FastTrackApi.Contracts.MobileTickets.EmptyTicketResponse]'
      deprecated: true
    delete:
      tags:
      - MobileTicket
      summary: Delete ticket on device by ticketIds.
      operationId: MobileTicket_DeleteTicketOnDeviceByTicketIds
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: deviceId
        in: path
        required: true
        type: string
      - name: ticketStatusModificationRequests
        in: body
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/FastTrackApi.Contracts.Requests.MobileTickets.TicketStatusModificationRequest'
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      - name: X-TTL-Customer-Authorization
        in: header
        description: SSO user token header parameter
        required: true
        type: string
        default: 'Bearer '
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.MobileTickets.RestApiResponse[FastTrackApi.Contracts.MobileTickets.EmptyTicketResponse]'
  /v1/PayPalToken:
    get:
      tags:
      - PayPalToken
      operationId: PayPalToken_Get
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.PayPal.PayPalTokenResponse'
  /v1/PostCodeLookUp:
    get:
      tags:
      - PostCodeLookUp
      summary: Returns the address for provided postcode.
      operationId: PostCodeLookUp_Get
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: postcode
        in: query
        required: true
        type: string
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.PostCodeLookUp.PostcodeLookUpResponse'
  /v1/promotion/{promotionCode}:
    get:
      tags:
      - Promotion
      summary: Returns promotion info based on provided promotion code
      operationId: Promotion_Get
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: promotionCode
        in: path
        description: Promotion code
        required: true
        type: string
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.Promotions.PromoInfoResponse'
        404:
          description: NotFound
  /v1/RealTime:
    get:
      tags:
      - RealTime
      summary: Returns realtime data against list of journeys legs with [train Id,
        Date, Origin,Destination]
      operationId: RealTime_Get
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: query
        in: query
        required: true
        type: string
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/FastTrackApi.Contracts.RealTime.CallingPatternResponse'
  /v1/referenceData/stations:
    get:
      tags:
      - ReferenceData
      summary: Fetches a list of all Stations.
      operationId: ReferenceData_GetStationList
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/FastTrackApi.Contracts.Responses.ReferenceData.Station'
  /v1/referenceData/smartStations:
    get:
      tags:
      - ReferenceData
      summary: Gets smart fulfillment stations and valid operators list for a TOC
      operationId: ReferenceData_GetSmartStationsWithOperators
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.ReferenceData.SmartStationsResponse'
  /v1/referenceData/countries:
    get:
      tags:
      - ReferenceData
      summary: Fetches a list of all countries.
      operationId: ReferenceData_GetCountryList
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/FastTrackApi.Contracts.Responses.ReferenceData.Country'
  /v1/referenceData/hash:
    get:
      tags:
      - ReferenceData
      summary: Fetches Reference Data hash (combined list of stations and countries).
      operationId: ReferenceData_GetReferenceDataHash
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.ReferenceData.ReferenceDataHash'
  /v1/Registration:
    post:
      tags:
      - Registration
      summary: Registers given customer and returns the logged in customer, if registeration
        is successfull.
      operationId: Registration_Post
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: customerRegistrationRequest
        in: body
        required: true
        schema:
          $ref: '#/definitions/FastTrackApi.Contracts.Requests.Registration.CustomerRegistrationRequest'
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.Login.LoggedInCustomer'
  /v1/SavedPaymentCards:
    get:
      tags:
      - SavedPaymentCards
      summary: Provides a list of available saved payments cards based on SSO token
      operationId: SavedPaymentCards_Get
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      - name: X-TTL-Customer-Authorization
        in: header
        description: SSO user token header parameter
        required: true
        type: string
        default: 'Bearer '
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.Payments.SavedPaymentCardsResponse'
  /v1/Search:
    get:
      tags:
      - Search
      summary: Performs Search Based on provided criteria and returns JourneyPlan
      operationId: Search_Get
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: journeyRequest.origin
        in: query
        required: true
        type: string
      - name: journeyRequest.destination
        in: query
        required: true
        type: string
      - name: journeyRequest.outboundDate
        in: query
        required: false
        type: string
      - name: journeyRequest.outboundTime
        in: query
        required: false
        type: string
      - name: journeyRequest.numberOfAdults
        in: query
        required: false
        type: integer
        format: int32
        maximum: 9
        minimum: 0
      - name: journeyRequest.numberOfChildren
        in: query
        required: false
        type: integer
        format: int32
        maximum: 9
        minimum: 0
      - name: journeyRequest.returnDate
        in: query
        required: false
        type: string
      - name: journeyRequest.returnTime
        in: query
        required: false
        type: string
      - name: journeyRequest.isReturn
        in: query
        required: false
        type: boolean
      - name: journeyRequest.railcards
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        maxLength: 5
        minLength: 0
      - name: journeyRequest.outboundSearchType
        in: query
        required: false
        type: string
      - name: journeyRequest.returnSearchType
        in: query
        required: false
        type: string
      - name: journeyRequest.promotionCode
        in: query
        required: false
        type: string
      - name: journeyRequest.promotionPin
        in: query
        required: false
        type: string
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.Search.JourneyPlan'
  /v1/SeasonsDeliveryOptions:
    post:
      tags:
      - SeasonsDeliveryOptions
      summary: Returns Seasons delivery options availbale for a journey based on the
        request and toc identifier.
      operationId: SeasonsDeliveryOptions_Post
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: deliveryOptionsRequest
        in: body
        required: true
        schema:
          $ref: '#/definitions/FastTrackApi.Contracts.Requests.Seasons.DeliveryOptionsRequest'
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      - name: X-TTL-Customer-Authorization
        in: header
        description: SSO user token header parameter
        required: true
        type: string
        default: 'Bearer '
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.Seasons.DeliveryOptions.DeliveryOptionsResponse'
  /v1/SeasonsSearch:
    get:
      tags:
      - SeasonsSearch
      summary: Returns Seasons search results based on the journey request and the
        toc identifier.
      operationId: SeasonsSearch_Get
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: query
        in: query
        required: true
        type: string
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.Seasons.Search.JourneyResponse'
  /v1/customer/smartcards:
    get:
      tags:
      - SmartCard
      summary: Get smart cards for logged in customer against his token and TocId
        headers
      operationId: SmartCard_GetSmartCardsForCustomer
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      - name: X-TTL-Customer-Authorization
        in: header
        description: SSO user token header parameter
        required: true
        type: string
        default: 'Bearer '
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.SmartCard.SmartCardResponse'
    post:
      tags:
      - SmartCard
      summary: Registers Smartcard
      operationId: SmartCard_Post
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: smartCardRegistrationRequest
        in: body
        required: true
        schema:
          $ref: '#/definitions/FastTrackApi.Contracts.Requests.SmartCards.SmartCardRegistrationRequest'
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      - name: X-TTL-Customer-Authorization
        in: header
        description: SSO user token header parameter
        required: true
        type: string
        default: 'Bearer '
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.SmartCard.SmartCardRegistrationResponse'
  /v1/customer/smartcards/{smartcardId}/setdefault:
    post:
      tags:
      - SmartCard
      summary: Sets Smartcard to be default
      operationId: SmartCard_Post
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: smartcardId
        in: path
        description: ""
        required: true
        type: string
        format: uuid
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      - name: X-TTL-Customer-Authorization
        in: header
        description: SSO user token header parameter
        required: true
        type: string
        default: 'Bearer '
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.SmartCard.SmartCardRegistrationResponse'
  /v1/TicketType:
    get:
      tags:
      - TicketType
      summary: Returns ticket type details for a given ticket-type.
      operationId: TicketType_Get
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: ticketTypeRequest.type
        in: query
        required: false
        type: string
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.TicketType.TicketTypeResponse'
  /v1/customers/{customerId}/transactionHistory:
    get:
      tags:
      - TransactionHistory
      summary: Fetches transaction history for a given customer for the requested
        time period.
      operationId: TransactionHistory_GetTransactionHistory
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: customerId
        in: path
        required: true
        type: string
      - name: startDate
        in: query
        required: true
        type: string
        format: date-time
      - name: endDate
        in: query
        required: true
        type: string
        format: date-time
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      - name: X-TTL-Customer-Authorization
        in: header
        description: SSO user token header parameter
        required: true
        type: string
        default: 'Bearer '
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.TransactionHistory.TransactionHistoryResponse'
  /v1/customers/{customerId}/transaction/{transactionReference}:
    get:
      tags:
      - TransactionHistory
      summary: Fetches corresponding transaction for a given customer and transaction
        reference.
      operationId: TransactionHistory_GetTransaction
      consumes: []
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: customerId
        in: path
        required: true
        type: string
      - name: transactionReference
        in: path
        required: true
        type: string
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      - name: X-TTL-Customer-Authorization
        in: header
        description: SSO user token header parameter
        required: true
        type: string
        default: 'Bearer '
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.TransactionHistory.TransactionHistoryResponse'
  /v1/ValidateToken:
    post:
      tags:
      - ValidateToken
      summary: Checks the validity of provided SSO token and if valid, returns the
        logged in customer.
      operationId: ValidateToken_Post
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: ssoValidationRequest
        in: body
        required: true
        schema:
          $ref: '#/definitions/FastTrackApi.Contracts.Requests.Login.SsoValidationRequest'
      - name: TocIdentifier
        in: header
        description: TOC identifier header parameter
        required: true
        type: string
        default: ""
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/FastTrackApi.Contracts.Responses.Login.LoggedInCustomer'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":120:{s:54:\"FastTrackApi.Contracts.Requests.Booking.BookingRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:14:\"JourneyRequest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/FastTrackApi.Contracts.Requests.Search.JourneyRequest\";}s:23:\"SelectedOutboundJourney\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:69:\"#/definitions/FastTrackApi.Contracts.Requests.Booking.SelectedJourney\";}s:22:\"SelectedInboundJourney\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:69:\"#/definitions/FastTrackApi.Contracts.Requests.Booking.SelectedJourney\";}s:22:\"SelectedOutboundTicket\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"#/definitions/FastTrackApi.Contracts.Requests.Booking.SelectedTicket\";}s:21:\"SelectedInboundTicket\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"#/definitions/FastTrackApi.Contracts.Requests.Booking.SelectedTicket\";}s:8:\"Customer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/FastTrackApi.Contracts.Requests.Booking.Customer\";}s:14:\"DeliveryOption\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"#/definitions/FastTrackApi.Contracts.Requests.Booking.DeliveryOption\";}s:19:\"DeviceFingerPrintId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"LoyaltyCardInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:69:\"#/definitions/FastTrackApi.Contracts.Requests.Booking.LoyaltyCardInfo\";}s:18:\"ReservationRequest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:72:\"#/definitions/FastTrackApi.Contracts.Requests.Booking.ReservationRequest\";}s:13:\"PaymentMethod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:80:\"#/definitions/FastTrackApi.Contracts.Requests.Booking.Payments.PaymentMethodBase\";}s:16:\"HasReturnJourney\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:15:\"PaymentCardInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:98:\"#/definitions/FastTrackApi.Contracts.Requests.Booking.Payments.Obsolete.ObsoletePaymentCardDetails\";}s:10:\"PayPalInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:93:\"#/definitions/FastTrackApi.Contracts.Requests.Booking.Payments.Obsolete.ObsoletePayPalPayment\";}s:20:\"SavedPaymentCardInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:92:\"#/definitions/FastTrackApi.Contracts.Requests.Booking.Payments.Obsolete.SavedPaymentCardInfo\";}s:11:\"PaymentType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"example\";O:8:\"stdClass\":8:{s:14:\"JourneyRequest\";O:8:\"stdClass\":9:{s:6:\"Origin\";s:3:\"EUS\";s:11:\"Destination\";s:3:\"MAN\";s:12:\"OutboundDate\";s:10:\"2017-07-27\";s:12:\"OutboundTime\";s:5:\"12-20\";s:14:\"NumberOfAdults\";i:2;s:16:\"NumberOfChildren\";i:0;s:8:\"IsReturn\";b:0;s:13:\"PromotionCode\";s:0:\"\";s:12:\"PromotionPin\";s:0:\"\";}s:23:\"SelectedOutboundJourney\";O:8:\"stdClass\":3:{s:17:\"DepartureDateTime\";s:19:\"2017-07-27T12:20:00\";s:15:\"ArrivalDateTime\";s:19:\"2017-07-27T14:28:00\";s:4:\"Legs\";a:1:{i:0;O:8:\"stdClass\":8:{s:15:\"OperatorCompany\";s:13:\"Virgin
  Trains\";s:4:\"Mode\";s:5:\"Train\";s:8:\"FromName\";s:13:\"London Euston\";s:6:\"ToName\";s:21:\"Manchester
  Piccadilly\";s:8:\"Duration\";s:9:\"2hr 8mins\";s:22:\"DestinationArrivalTime\";s:5:\"14:28\";s:19:\"OriginDepartureTime\";s:5:\"12:20\";s:7:\"TrainId\";s:6:\"P51666\";}}}s:22:\"SelectedOutboundTicket\";O:8:\"stdClass\":4:{s:9:\"TotalFare\";i:16580;s:4:\"Type\";s:3:\"SVS\";s:11:\"RteRestrict\";s:5:\"00000\";s:7:\"FareSrc\";s:1:\"O\";}s:8:\"Customer\";O:8:\"stdClass\":4:{s:8:\"ForeName\";s:4:\"John\";s:7:\"SurName\";s:4:\"Snow\";s:12:\"EmailAddress\";s:26:\"JOHN.SNOW@THETRAINLINE.COM\";s:7:\"Address\";O:8:\"stdClass\":5:{s:5:\"Line1\";s:13:\"TRAINLINE.COM\";s:5:\"Line2\";s:18:\"50,FARRINGDON
  ROAD\";s:5:\"Line3\";s:6:\"London\";s:8:\"Postcode\";s:8:\"SW1A 2AA\";s:7:\"Country\";s:2:\"Z0\";}}s:14:\"DeliveryOption\";O:8:\"stdClass\":1:{s:18:\"DeliveryOptionType\";s:5:\"Kiosk\";}s:19:\"DeviceFingerPrintId\";s:45:\"431687b58c6c44ac8b1c0daa354e36961498471653000\";s:13:\"PaymentMethod\";O:8:\"stdClass\":2:{s:18:\"PaymentCardDetails\";O:8:\"stdClass\":6:{s:8:\"CardType\";s:4:\"VISA\";s:7:\"CardNum\";s:16:\"4242424242424242\";s:11:\"ExpiryMonth\";s:2:\"11\";s:10:\"ExpiryYear\";s:2:\"22\";s:3:\"CV2\";s:3:\"111\";s:14:\"CardholderName\";s:11:\"John
  Watson\";}s:14:\"BillingAddress\";O:8:\"stdClass\":7:{s:5:\"Line1\";s:13:\"TRAINLINE.COM\";s:5:\"Line2\";s:18:\"50,FARRINGDON
  ROAD\";s:5:\"Line3\";s:6:\"London\";s:5:\"Line4\";s:0:\"\";s:5:\"Line5\";s:0:\"\";s:8:\"Postcode\";s:8:\"SW1A
  2AA\";s:7:\"Country\";s:2:\"Z0\";}}s:16:\"HasReturnJourney\";b:0;}}s:53:\"FastTrackApi.Contracts.Requests.Search.JourneyRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:6:\"Origin\";i:1;s:11:\"Destination\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"Origin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Destination\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"OutboundDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"OutboundTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"NumberOfAdults\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:9;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:16:\"NumberOfChildren\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:9;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:10:\"ReturnDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ReturnTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"IsReturn\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"Railcards\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:5;s:9:\"minLength\";i:0;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:18:\"OutboundSearchType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ReturnSearchType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"PromotionCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"PromotionPin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:55:\"FastTrackApi.Contracts.Requests.Booking.SelectedJourney\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"DepartureDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"ArrivalDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"Legs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/FastTrackApi.Contracts.CommonTypes.Leg\";}}}}s:54:\"FastTrackApi.Contracts.Requests.Booking.SelectedTicket\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"TotalFare\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"RteRestrict\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"FareSrc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Origin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Destination\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:48:\"FastTrackApi.Contracts.Requests.Booking.Customer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"ForeName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:30;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"SurName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:30;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:12:\"EmailAddress\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"Address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/FastTrackApi.Contracts.CommonTypes.Address\";}}}s:54:\"FastTrackApi.Contracts.Requests.Booking.DeliveryOption\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"DeliveryOptionType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"SmartDeliveryInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:71:\"#/definitions/FastTrackApi.Contracts.Requests.Booking.SmartDeliveryInfo\";}}}s:55:\"FastTrackApi.Contracts.Requests.Booking.LoyaltyCardInfo\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:8:\"CardType\";i:1;s:7:\"CardNum\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"CardType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:50;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"CardNum\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:30;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}}s:58:\"FastTrackApi.Contracts.Requests.Booking.ReservationRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"SeatPreferences\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:66:\"FastTrackApi.Contracts.Requests.Booking.Payments.PaymentMethodBase\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:84:\"FastTrackApi.Contracts.Requests.Booking.Payments.Obsolete.ObsoletePaymentCardDetails\";O:8:\"stdClass\":3:{s:8:\"required\";a:4:{i:0;s:8:\"CardType\";i:1;s:7:\"CardNum\";i:2;s:11:\"ExpiryMonth\";i:3;s:10:\"ExpiryYear\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"CardType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:50;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"CardNum\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:30;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"ExpiryMonth\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2;s:9:\"minLength\";i:2;s:4:\"type\";s:6:\"string\";}s:10:\"ExpiryYear\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2;s:9:\"minLength\";i:2;s:4:\"type\";s:6:\"string\";}s:3:\"CV2\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:4;s:9:\"minLength\";i:3;s:7:\"pattern\";s:6:\"[0-9]*\";s:4:\"type\";s:6:\"string\";}}}s:79:\"FastTrackApi.Contracts.Requests.Booking.Payments.Obsolete.ObsoletePayPalPayment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Nonce\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"EmailId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:78:\"FastTrackApi.Contracts.Requests.Booking.Payments.Obsolete.SavedPaymentCardInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"CardAlias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"CV2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:38:\"FastTrackApi.Contracts.CommonTypes.Leg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:15:\"OperatorCompany\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"FromName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"ToName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"DestinationArrivalTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"OriginDepartureTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"TrainId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Seats\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:19:\"ServiceProviderName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:42:\"FastTrackApi.Contracts.CommonTypes.Address\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:5:\"Line1\";i:1;s:8:\"Postcode\";i:2;s:7:\"Country\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"Line1\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:30;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:5:\"Line2\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:30;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:5:\"Line3\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:30;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:5:\"Line4\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:30;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:5:\"Line5\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:30;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:8:\"Postcode\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:10;s:9:\"minLength\";i:3;s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}}}s:57:\"FastTrackApi.Contracts.Requests.Booking.SmartDeliveryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"SmartCardNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"FulfilmentLocation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:56:\"FastTrackApi.Contracts.Responses.Booking.BookingResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"HasErrors\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"TransactionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ReferenceNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:58:\"FastTrackApi.Contracts.Requests.Login.SsoValidationRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"TokenField\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/FastTrackApi.Contracts.CommonTypes.TokenField\";}s:10:\"ConsumerId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:45:\"FastTrackApi.Contracts.CommonTypes.TokenField\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"TokenExpiryTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:50:\"FastTrackApi.Contracts.Requests.Login.LoginRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"UserName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ManagedGroupId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:55:\"FastTrackApi.Contracts.Responses.Login.LoggedInCustomer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"DeviceFingerPrint\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:70:\"#/definitions/FastTrackApi.Contracts.Responses.Login.DeviceFingerPrint\";}s:8:\"Customer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/FastTrackApi.Contracts.Responses.Login.Customer\";}s:10:\"IsLoggedIn\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"DeviceFingerPrintData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:74:\"#/definitions/FastTrackApi.Contracts.Responses.Login.DeviceFingerPrintData\";}s:9:\"HasErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:9:\"WsgErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/FastTrackApi.Contracts.Responses.ErrorResponse\";}}}}s:56:\"FastTrackApi.Contracts.Responses.Login.DeviceFingerPrint\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:47:\"FastTrackApi.Contracts.Responses.Login.Customer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"ForeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"SurName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"CustomerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"EmailAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Token\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/FastTrackApi.Contracts.CommonTypes.TokenField\";}s:7:\"Address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/FastTrackApi.Contracts.CommonTypes.Address\";}s:9:\"HasErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:9:\"WsgErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/FastTrackApi.Contracts.Responses.ErrorResponse\";}}}}s:60:\"FastTrackApi.Contracts.Responses.Login.DeviceFingerPrintData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"Hostname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"OriginId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"MerchantId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"TransactionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"TransactionDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:46:\"FastTrackApi.Contracts.Responses.ErrorResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ErrorDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"AdditionalInfo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:106:\"FastTrackApi.Contracts.MobileTickets.RestApiResponse[FastTrackApi.Contracts.MobileTickets.TicketsResponse]\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"StatusCode\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:42:{i:0;i:100;i:1;i:101;i:2;i:200;i:3;i:201;i:4;i:202;i:5;i:203;i:6;i:204;i:7;i:205;i:8;i:206;i:9;i:300;i:10;i:301;i:11;i:302;i:12;i:303;i:13;i:304;i:14;i:305;i:15;i:306;i:16;i:307;i:17;i:400;i:18;i:401;i:19;i:402;i:20;i:403;i:21;i:404;i:22;i:405;i:23;i:406;i:24;i:407;i:25;i:408;i:26;i:409;i:27;i:410;i:28;i:411;i:29;i:412;i:30;i:413;i:31;i:414;i:32;i:415;i:33;i:416;i:34;i:417;i:35;i:426;i:36;i:500;i:37;i:501;i:38;i:502;i:39;i:503;i:40;i:504;i:41;i:505;}s:4:\"type\";s:7:\"integer\";}s:6:\"Result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/FastTrackApi.Contracts.MobileTickets.TicketsResponse\";}}}s:52:\"FastTrackApi.Contracts.MobileTickets.TicketsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Tickets\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/FastTrackApi.Contracts.MobileTickets.Ticket\";}}s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/FastTrackApi.Contracts.MobileTickets.Error\";}}}}s:43:\"FastTrackApi.Contracts.MobileTickets.Ticket\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":26:{s:2:\"Id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"TransactionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"BookingId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"BookedDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"Passenger\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/FastTrackApi.Contracts.MobileTickets.TicketPassengerDetails\";}s:7:\"NrsCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"FareOrigin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"FareDestination\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"TicketNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"SequenceNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"Price\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"Railcard\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Retailer\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Routing\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"SecurityKeyword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"TicketType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"TravelClass\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"ValidFromDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"AdvancePurchaseIndicator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"DirectionOfTravel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"JourneyPart\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ArrivalDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"DepartureDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"ValidUntilDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Legs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/FastTrackApi.Contracts.MobileTickets.Leg\";}}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:63:\"#/definitions/FastTrackApi.Contracts.MobileTickets.TicketStatus\";}}}s:42:\"FastTrackApi.Contracts.MobileTickets.Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"TransactionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"TicketId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:42:{i:0;i:100;i:1;i:101;i:2;i:200;i:3;i:201;i:4;i:202;i:5;i:203;i:6;i:204;i:7;i:205;i:8;i:206;i:9;i:300;i:10;i:301;i:11;i:302;i:12;i:303;i:13;i:304;i:14;i:305;i:15;i:306;i:16;i:307;i:17;i:400;i:18;i:401;i:19;i:402;i:20;i:403;i:21;i:404;i:22;i:405;i:23;i:406;i:24;i:407;i:25;i:408;i:26;i:409;i:27;i:410;i:28;i:411;i:29;i:412;i:30;i:413;i:31;i:414;i:32;i:415;i:33;i:416;i:34;i:417;i:35;i:426;i:36;i:500;i:37;i:501;i:38;i:502;i:39;i:503;i:40;i:504;i:41;i:505;}s:4:\"type\";s:7:\"integer\";}}}s:59:\"FastTrackApi.Contracts.MobileTickets.TicketPassengerDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"IdLastDigits\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"IdTypeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:40:\"FastTrackApi.Contracts.MobileTickets.Leg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:5:\"Order\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"DepartureDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"ArrivalDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"FromStation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ToStation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Coach\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Seat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Berth\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"TrainNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"ReservationRequired\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"ModeOfTransport\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:49:\"FastTrackApi.Contracts.MobileTickets.TicketStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"IsAvailable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"UpdatedOn\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:113:\"FastTrackApi.Contracts.MobileTickets.RestApiResponse[FastTrackApi.Contracts.MobileTickets.TicketBarcodesResponse]\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"StatusCode\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:42:{i:0;i:100;i:1;i:101;i:2;i:200;i:3;i:201;i:4;i:202;i:5;i:203;i:6;i:204;i:7;i:205;i:8;i:206;i:9;i:300;i:10;i:301;i:11;i:302;i:12;i:303;i:13;i:304;i:14;i:305;i:15;i:306;i:16;i:307;i:17;i:400;i:18;i:401;i:19;i:402;i:20;i:403;i:21;i:404;i:22;i:405;i:23;i:406;i:24;i:407;i:25;i:408;i:26;i:409;i:27;i:410;i:28;i:411;i:29;i:412;i:30;i:413;i:31;i:414;i:32;i:415;i:33;i:416;i:34;i:417;i:35;i:426;i:36;i:500;i:37;i:501;i:38;i:502;i:39;i:503;i:40;i:504;i:41;i:505;}s:4:\"type\";s:7:\"integer\";}s:6:\"Result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/FastTrackApi.Contracts.MobileTickets.TicketBarcodesResponse\";}}}s:59:\"FastTrackApi.Contracts.MobileTickets.TicketBarcodesResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Tickets\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/FastTrackApi.Contracts.MobileTickets.TicketBarcode\";}}s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/FastTrackApi.Contracts.MobileTickets.Error\";}}}}s:50:\"FastTrackApi.Contracts.MobileTickets.TicketBarcode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"TicketId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Barcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:77:\"FastTrackApi.Contracts.Requests.MobileTickets.TicketStatusModificationRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:72:\"#/definitions/FastTrackApi.Contracts.Requests.MobileTickets.UpdateStatus\";}}}s:58:\"FastTrackApi.Contracts.Requests.MobileTickets.UpdateStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"UpdatedOn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:110:\"FastTrackApi.Contracts.MobileTickets.RestApiResponse[FastTrackApi.Contracts.MobileTickets.EmptyTicketResponse]\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"StatusCode\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:42:{i:0;i:100;i:1;i:101;i:2;i:200;i:3;i:201;i:4;i:202;i:5;i:203;i:6;i:204;i:7;i:205;i:8;i:206;i:9;i:300;i:10;i:301;i:11;i:302;i:12;i:303;i:13;i:304;i:14;i:305;i:15;i:306;i:16;i:307;i:17;i:400;i:18;i:401;i:19;i:402;i:20;i:403;i:21;i:404;i:22;i:405;i:23;i:406;i:24;i:407;i:25;i:408;i:26;i:409;i:27;i:410;i:28;i:411;i:29;i:412;i:30;i:413;i:31;i:414;i:32;i:415;i:33;i:416;i:34;i:417;i:35;i:426;i:36;i:500;i:37;i:501;i:38;i:502;i:39;i:503;i:40;i:504;i:41;i:505;}s:4:\"type\";s:7:\"integer\";}s:6:\"Result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:70:\"#/definitions/FastTrackApi.Contracts.MobileTickets.EmptyTicketResponse\";}}}s:56:\"FastTrackApi.Contracts.MobileTickets.EmptyTicketResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/FastTrackApi.Contracts.MobileTickets.Error\";}}}}s:59:\"FastTrackApi.Contracts.Responses.PayPal.PayPalTokenResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"clientToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"errorReport\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:65:\"#/definitions/FastTrackApi.Contracts.Responses.PayPal.ErrorReport\";}s:9:\"HasErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:9:\"WsgErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/FastTrackApi.Contracts.Responses.ErrorResponse\";}}}}s:51:\"FastTrackApi.Contracts.Responses.PayPal.ErrorReport\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"ResponseError\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/FastTrackApi.Contracts.Responses.ErrorResponse\";}}s:6:\"MsgNum\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"MsgNumSpecified\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:70:\"FastTrackApi.Contracts.Responses.PostCodeLookUp.PostcodeLookUpResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"Addresses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/FastTrackApi.Contracts.CommonTypes.Address\";}}s:9:\"HasErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:9:\"WsgErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/FastTrackApi.Contracts.Responses.ErrorResponse\";}}}}s:61:\"FastTrackApi.Contracts.Responses.Promotions.PromoInfoResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"PinRequired\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:54:\"FastTrackApi.Contracts.RealTime.CallingPatternResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"RequestId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"IsRealTimeDataAvailable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"Service\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/FastTrackApi.Contracts.RealTime.TripService\";}s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/FastTrackApi.Contracts.RealTime.ErrorMessage\";}}s:9:\"HasErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}}}s:43:\"FastTrackApi.Contracts.RealTime.TripService\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"ServiceUid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ServiceOperator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"TransportMode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ServiceOrigins\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:19:\"ServiceDestinations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:16:\"IsReplacementBus\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"Stops\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/FastTrackApi.Contracts.RealTime.TrainStop\";}}}}s:44:\"FastTrackApi.Contracts.RealTime.ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:41:\"FastTrackApi.Contracts.RealTime.TrainStop\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"Location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/FastTrackApi.Contracts.RealTime.SearchLocation\";}s:7:\"Arrival\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/FastTrackApi.Contracts.RealTime.TrainBoardInformation\";}s:9:\"Departure\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/FastTrackApi.Contracts.RealTime.TrainBoardInformation\";}s:11:\"CallingType\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:6:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;}s:4:\"type\";s:7:\"integer\";}s:18:\"AssociatedServices\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/FastTrackApi.Contracts.RealTime.AssociatedTripService\";}}}}s:46:\"FastTrackApi.Contracts.RealTime.SearchLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Crs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Nlc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:53:\"FastTrackApi.Contracts.RealTime.TrainBoardInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"NotApplicable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"Scheduled\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/FastTrackApi.Contracts.RealTime.ScheduledInfo\";}s:8:\"RealTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/FastTrackApi.Contracts.RealTime.RealTimeUpdate\";}}}s:53:\"FastTrackApi.Contracts.RealTime.AssociatedTripService\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:3:{i:0;i:0;i:1;i:1;i:2;i:2;}s:4:\"type\";s:7:\"integer\";}s:7:\"Service\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/FastTrackApi.Contracts.RealTime.TripService\";}}}s:45:\"FastTrackApi.Contracts.RealTime.ScheduledInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"ScheduledTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"ScheduledPlatform\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:46:\"FastTrackApi.Contracts.RealTime.RealTimeUpdate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"Cancelled\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/FastTrackApi.Contracts.RealTime.CancellationInfo\";}s:19:\"RealTimeServiceInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:65:\"#/definitions/FastTrackApi.Contracts.RealTime.RealTimeServiceInfo\";}s:11:\"DelayReason\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/FastTrackApi.Contracts.RealTime.DelayedInfo\";}}}s:48:\"FastTrackApi.Contracts.RealTime.CancellationInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"IsCancelled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ReasonText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:51:\"FastTrackApi.Contracts.RealTime.RealTimeServiceInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"HasArrived\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"HasDeparted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"RealTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"RealTimePlatform\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"RealTimeFlag\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:4:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;}s:4:\"type\";s:7:\"integer\";}}}s:43:\"FastTrackApi.Contracts.RealTime.DelayedInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ReasonText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:54:\"FastTrackApi.Contracts.Responses.ReferenceData.Station\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"SeqNo\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"IsKioskAvailable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"KioskLocation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"KioskDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:68:\"FastTrackApi.Contracts.Responses.ReferenceData.SmartStationsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"OperatorIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"SmartStations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:76:\"#/definitions/FastTrackApi.Contracts.Responses.ReferenceData.TocSmartStation\";}}}}s:62:\"FastTrackApi.Contracts.Responses.ReferenceData.TocSmartStation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Nlc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"OperatorId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:54:\"FastTrackApi.Contracts.Responses.ReferenceData.Country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:64:\"FastTrackApi.Contracts.Responses.ReferenceData.ReferenceDataHash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Stations\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Countries\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:72:\"FastTrackApi.Contracts.Requests.Registration.CustomerRegistrationRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:14:\"BillingAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/FastTrackApi.Contracts.CommonTypes.Address\";}s:18:\"HasOptInPromotions\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"Lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"EmailAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"DaytimePhoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:67:\"FastTrackApi.Contracts.Responses.Payments.SavedPaymentCardsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Cards\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:72:\"#/definitions/FastTrackApi.Contracts.Responses.Payments.SavedPaymentCard\";}}s:9:\"HasErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:9:\"WsgErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/FastTrackApi.Contracts.Responses.ErrorResponse\";}}}}s:58:\"FastTrackApi.Contracts.Responses.Payments.SavedPaymentCard\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"Alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"IsDefault\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"ExpiryMonth\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"ExpiryYear\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"CardholderName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"PaymentCardNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Warning\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:51:\"FastTrackApi.Contracts.Responses.Search.JourneyPlan\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:16:\"OutboundJournies\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/FastTrackApi.Contracts.Responses.Search.Journey\";}}s:14:\"ReturnJournies\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/FastTrackApi.Contracts.Responses.Search.Journey\";}}s:16:\"CurrentSearchUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"EarlierSingles\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"OutboundEarlierUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OutboundLaterUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"InboundEarlierUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"InboundLaterUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"DeliveryOption\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"#/definitions/FastTrackApi.Contracts.Responses.Search.DeliveryOption\";}}s:12:\"RelativeUrls\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/FastTrackApi.Contracts.Responses.Search.UrlInfo\";}s:9:\"HasErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:9:\"WsgErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/FastTrackApi.Contracts.Responses.ErrorResponse\";}}}}s:47:\"FastTrackApi.Contracts.Responses.Search.Journey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:14:\"JourneyInDoubt\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"OriginName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"DestinationName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"JourneyId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"DepartureDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"ArrivalDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"DepartureTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ArrivalTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"KioskPrinterAvailable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"IsReservable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"Legs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/FastTrackApi.Contracts.CommonTypes.Leg\";}}s:7:\"Tickets\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/FastTrackApi.Contracts.Responses.Search.Ticket\";}}s:8:\"DeptDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"ChangeDetails\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}s:18:\"IsJourneyCancelled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"RunningTimeInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:69:\"#/definitions/FastTrackApi.Contracts.Responses.Search.RunningTimeInfo\";}s:14:\"OriginPlatform\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Disruptions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/FastTrackApi.Contracts.Responses.Search.Disruption\";}}}}s:54:\"FastTrackApi.Contracts.Responses.Search.DeliveryOption\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"DeliveryOptionType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:47:\"FastTrackApi.Contracts.Responses.Search.UrlInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"CurrentSearchUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"OutboundEarlierUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"OutboundLaterUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"InboundEarlierUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"InboundLaterUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:46:\"FastTrackApi.Contracts.Responses.Search.Ticket\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":30:{s:2:\"Id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"FareClass\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"IsStandardTicket\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"TicketType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"RouteCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"FareOriginNlc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"FareDestinationNlc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Journey\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/FastTrackApi.Contracts.Responses.Search.Journey\";}s:6:\"Origin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Destination\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"XLond\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"Promo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Total\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Fare\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"NonPromoFare\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"FareSrc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"RteRest\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"RteRestDesc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"SeatAvCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Adults\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/FastTrackApi.Contracts.Responses.Search.AdultResponse\";}s:8:\"Children\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/FastTrackApi.Contracts.Responses.Search.ChildResponse\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"TicketCost\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"Railcards\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/FastTrackApi.Contracts.Responses.Search.Railcard\";}}s:15:\"NameFareRteRest\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"DeliveryOptions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:19:\"ReservationRequired\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"SeatsLeft\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:55:\"FastTrackApi.Contracts.Responses.Search.RunningTimeInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"DepartureInfo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ArrivalInfo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:50:\"FastTrackApi.Contracts.Responses.Search.Disruption\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Stations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"Category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Severity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:53:\"FastTrackApi.Contracts.Responses.Search.AdultResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Fare\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"NonPromoFare\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"Number\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:53:\"FastTrackApi.Contracts.Responses.Search.ChildResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Fare\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"NonPromoFare\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"Number\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:48:\"FastTrackApi.Contracts.Responses.Search.Railcard\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"AdultsDiscountCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"ChildrenDiscountCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"AdultDiscountFare\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"ChildrenDiscountFare\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"AdultDiscountNonPromoFare\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:28:\"ChildrenDiscountNonPromoFare\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:62:\"FastTrackApi.Contracts.Requests.Seasons.DeliveryOptionsRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"SelectedFare\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/FastTrackApi.Contracts.Requests.Seasons.SelectedFare\";}s:13:\"CorpReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:52:\"FastTrackApi.Contracts.Requests.Seasons.SelectedFare\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:13:\"DeliveryTypes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"TicketType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"TypeRestriction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"OriginCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"DestinationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Adult\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"Child\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"CrossLondonIndicator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"FareSetter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"AdultFare\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ChildFare\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"RouteCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"PeriodType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Cost\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"StartDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"EndDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"PromoCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:80:\"FastTrackApi.Contracts.Responses.Seasons.DeliveryOptions.DeliveryOptionsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"FulfilmentDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:100:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.DeliveryOptions.SeasonDeliveryOptionsResponse\";}s:14:\"BillingDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:85:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.DeliveryOptions.BillingDetails\";}}}s:86:\"FastTrackApi.Contracts.Responses.Seasons.DeliveryOptions.SeasonDeliveryOptionsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"Deliveryoptions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:82:\"#/definitions/System.Collections.Generic.KeyValuePair[System.String,System.String]\";}}s:16:\"SmartCardDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:87:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.DeliveryOptions.SmartCardDetails\";}s:5:\"Error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.Error\";}s:15:\"PhotoCardNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"TransactionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:71:\"FastTrackApi.Contracts.Responses.Seasons.DeliveryOptions.BillingDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Customer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:79:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.DeliveryOptions.Customer\";}s:12:\"PaymentCards\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:82:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.DeliveryOptions.PaymentCard\";}}}}s:68:\"System.Collections.Generic.KeyValuePair[System.String,System.String]\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}}}s:73:\"FastTrackApi.Contracts.Responses.Seasons.DeliveryOptions.SmartCardDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"Smartcards\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/PrintYourOwn.Contracts.Smartcard.ISmartcard\";}}s:19:\"CollectionLocations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:90:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.DeliveryOptions.CollectionLocations\";}}s:14:\"FulfilmentDays\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:46:\"FastTrackApi.Contracts.Responses.Seasons.Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:65:\"FastTrackApi.Contracts.Responses.Seasons.DeliveryOptions.Customer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"SurName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ForeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:78:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.DeliveryOptions.Address\";}}}s:68:\"FastTrackApi.Contracts.Responses.Seasons.DeliveryOptions.PaymentCard\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:43:\"PrintYourOwn.Contracts.Smartcard.ISmartcard\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:2:\"Id\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:4:\"Isrn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:5:\"Alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:10:\"NameOnCard\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"IsDefault\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:6:\"Status\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:5:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;}s:4:\"type\";s:7:\"integer\";s:8:\"readOnly\";b:1;}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Surname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"OtherNames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"CompanyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Postcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"DateOfBirth\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"DaytimePhoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ManagedGroupId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:31:\"OriginatingTransactionReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:76:\"FastTrackApi.Contracts.Responses.Seasons.DeliveryOptions.CollectionLocations\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"StationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"ThreeCharStationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:64:\"FastTrackApi.Contracts.Responses.Seasons.DeliveryOptions.Address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"Line1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Line2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Line3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Line4\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Line5\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"PostCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"CountryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:63:\"FastTrackApi.Contracts.Responses.Seasons.Search.JourneyResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:14:\"JourneyDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"#/definitions/FastTrackApi.Contracts.Requests.Seasons.JourneyRequest\";}s:6:\"Weekly\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:72:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.Search.SeasonFare\";}s:7:\"Monthly\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:72:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.Search.SeasonFare\";}s:6:\"Annual\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:72:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.Search.SeasonFare\";}s:9:\"OddPeriod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:75:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.Search.OddSeasonFare\";}s:17:\"OriginStationName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"DestinationStationName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:75:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.Search.ContractError\";}}}}s:54:\"FastTrackApi.Contracts.Requests.Seasons.JourneyRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"Origin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Destination\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"StartDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"ReturnDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"Travellers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/FastTrackApi.Contracts.Requests.Seasons.Travellers\";}}}s:58:\"FastTrackApi.Contracts.Responses.Seasons.Search.SeasonFare\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"StartDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"EndDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Fares\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.Search.Fare\";}}}}s:61:\"FastTrackApi.Contracts.Responses.Seasons.Search.OddSeasonFare\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"Months\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Days\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"StartDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"EndDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Fares\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.Search.Fare\";}}}}s:61:\"FastTrackApi.Contracts.Responses.Seasons.Search.ContractError\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:50:\"FastTrackApi.Contracts.Requests.Seasons.Travellers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"PromoCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Adult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/FastTrackApi.Contracts.Requests.Seasons.Traveler\";}s:5:\"Child\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/FastTrackApi.Contracts.Requests.Seasons.Child\";}}}s:52:\"FastTrackApi.Contracts.Responses.Seasons.Search.Fare\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"Ticket\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.Search.Ticket\";}s:5:\"Route\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:77:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.Search.CodeDescription\";}s:4:\"Cost\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.Search.Money\";}s:15:\"DeliveryOptions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:76:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.Search.DeliveryOption\";}}}}s:48:\"FastTrackApi.Contracts.Requests.Seasons.Traveler\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Quantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:45:\"FastTrackApi.Contracts.Requests.Seasons.Child\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DateOfBirth\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"Quantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:54:\"FastTrackApi.Contracts.Responses.Seasons.Search.Ticket\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:77:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.Search.CodeDescription\";}s:6:\"Origin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:77:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.Search.CodeDescription\";}s:11:\"Destination\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:77:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.Search.CodeDescription\";}s:5:\"Adult\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"Child\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"TypeRestriction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"CroosLondonIndicator\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:77:\"#/definitions/FastTrackApi.Contracts.Responses.Seasons.Search.CodeDescription\";}s:10:\"FareSetter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"AdultFare\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ChildFare\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"PeriodType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:63:\"FastTrackApi.Contracts.Responses.Seasons.Search.CodeDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:53:\"FastTrackApi.Contracts.Responses.Seasons.Search.Money\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Amount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"Currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:62:\"FastTrackApi.Contracts.Responses.Seasons.Search.DeliveryOption\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:60:\"FastTrackApi.Contracts.Responses.SmartCard.SmartCardResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"SmartCards\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/FastTrackApi.Contracts.Responses.SmartCard.Smartcard\";}}s:14:\"ManagedGroupId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"CustomerId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:52:\"FastTrackApi.Contracts.Responses.SmartCard.Smartcard\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"Id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Isrn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"IsDefault\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:71:\"FastTrackApi.Contracts.Requests.SmartCards.SmartCardRegistrationRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:1:{i:0;s:4:\"Isrn\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Isrn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"IsDefault\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:72:\"FastTrackApi.Contracts.Responses.SmartCard.SmartCardRegistrationResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"SmartCardId\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}}}s:60:\"FastTrackApi.Contracts.Requests.TicketType.TicketTypeRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:62:\"FastTrackApi.Contracts.Responses.TicketType.TicketTypeResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"TicketTypeDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:75:\"#/definitions/FastTrackApi.Contracts.Responses.TicketType.TicketTypeDetails\";}s:9:\"HasErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:9:\"WsgErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/FastTrackApi.Contracts.Responses.ErrorResponse\";}}}}s:61:\"FastTrackApi.Contracts.Responses.TicketType.TicketTypeDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ShortDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Terms\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/FastTrackApi.Contracts.Responses.TicketType.Term\";}}}}s:48:\"FastTrackApi.Contracts.Responses.TicketType.Term\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:78:\"FastTrackApi.Contracts.Responses.TransactionHistory.TransactionHistoryResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"Transactions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:77:\"#/definitions/FastTrackApi.Contracts.Responses.TransactionHistory.Transaction\";}}s:9:\"HasErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:9:\"WsgErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/FastTrackApi.Contracts.Responses.ErrorResponse\";}}}}s:63:\"FastTrackApi.Contracts.Responses.TransactionHistory.Transaction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"booking\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/FastTrackApi.Contracts.Responses.TransactionHistory.Booking\";}}s:14:\"PriceBreakdown\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:80:\"#/definitions/FastTrackApi.Contracts.Responses.TransactionHistory.PriceBreakdown\";}s:15:\"TransactionDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"TransactionId\";O:8:\"stdClass\":1:{s:
[...]
