---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:59:\"Provides
  access to information about profiles and contacts.\";s:5:\"title\";s:13:\"Google
  People\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:56:\"https://people.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:6:\"people\";}"
host: people.googleapis.com
basePath: /
paths:
  /v1/contactGroups:
    get:
      description: List all contact groups owned by the authenticated user. Members
        of thencontact groups are not populated.
      operationId: people.contactGroups.list
      parameters:
      - description: The maximum number of resources to return.
        in: query
        name: pageSize
        type: integer
      - description: The next_page_token value returned from a previous call ton[ListContactGroups](/people/api/rest/v1/contactgroups/list).nRequests
          the next page of resources.
        in: query
        name: pageToken
        type: string
      - description: A sync token, returned by a previous call to `contactgroups.list`.nOnly
          resources changed since the sync token was created will be returned.
        in: query
        name: syncToken
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListContactGroupsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/contacts
      - Oauth2:
        - https://www.googleapis.com/auth/contacts.readonly
      tags:
      - contactGroups
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Create a new contact group owned by the authenticated user.
      operationId: people.contactGroups.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CreateContactGroupRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ContactGroup'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/contacts
      tags:
      - contactGroups
  /v1/contactGroups:batchGet:
    get:
      description: Get a list of contact groups owned by the authenticated user by
        specifyingna list of contact group resource names.
      operationId: people.contactGroups.batchGet
      parameters:
      - description: Specifies the maximum number of members to return for each group.
        in: query
        name: maxMembers
        type: integer
      - collectionFormat: multi
        description: The resource names of the contact groups to get.
        in: query
        items:
          type: string
        name: resourceNames
        type: array
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/BatchGetContactGroupsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/contacts
      - Oauth2:
        - https://www.googleapis.com/auth/contacts.readonly
      tags:
      - contactGroups
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1/people:batchGet:
    get:
      description: Provides information about a list of specific people by specifying
        a listnof requested resource names. Use `people/me` to indicate the authenticatednuser.n<br>nThe
        request throws a 400 error if 'personFields' is not specified.
      operationId: people.people.getBatchGet
      parameters:
      - description: '**Required.** A field mask to restrict which fields on each
          person arenreturned. Valid values are:nn* addressesn* ageRangesn* biographiesn*
          birthdaysn* braggingRightsn* coverPhotosn* emailAddressesn* eventsn* gendersn*
          imClientsn* interestsn* localesn* membershipsn* metadatan* namesn* nicknamesn*
          occupationsn* organizationsn* phoneNumbersn* photosn* relationsn* relationshipInterestsn*
          relationshipStatusesn* residencesn* skillsn* taglinesn* urls'
        in: query
        name: personFields
        type: string
      - description: '**Required.** Comma-separated list of person fields to be included
          in thenresponse. Each path should start with `person.`: for example,n`person.names`
          or `person.photos`.'
        in: query
        name: requestMask.includeField
        type: string
      - collectionFormat: multi
        description: The resource names of the people to provide information about.nn-
          To get information about the authenticated user, specify `people/me`.n-
          To get information about a google account, specifyn  `people/`<var>account_id</var>.n-
          To get information about a contact, specify the resource name thatn  identifies
          the contact as returned byn[`people.connections.list`](/people/api/rest/v1/people.connections/list).nnYou
          can include up to 50 resource names in one request.
        in: query
        items:
          type: string
        name: resourceNames
        type: array
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/GetPeopleResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/contacts
      - Oauth2:
        - https://www.googleapis.com/auth/contacts.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      - Oauth2:
        - https://www.googleapis.com/auth/user.addresses.read
      - Oauth2:
        - https://www.googleapis.com/auth/user.birthday.read
      - Oauth2:
        - https://www.googleapis.com/auth/user.emails.read
      - Oauth2:
        - https://www.googleapis.com/auth/user.phonenumbers.read
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.profile
      tags:
      - people
    parameters:
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/alt'
  /v1/people:createContact:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Create a new contact and return the person resource for that contact.
      operationId: people.people.createContact
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Person'
      - description: The resource name of the owning person resource.
        in: query
        name: parent
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Person'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/contacts
      tags:
      - people
  /v1/{resourceName}:
    delete:
      description: Delete an existing contact group owned by the authenticated user
        bynspecifying a contact group resource name.
      operationId: people.contactGroups.delete
      parameters:
      - description: Set to true to also delete the contacts in the specified group.
        in: query
        name: deleteContacts
        type: boolean
      - description: The resource name of the contact group to delete.
        in: path
        name: resourceName
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/contacts
      tags:
      - contactGroups
    get:
      description: Get a specific contact group owned by the authenticated user by
        specifyingna contact group resource name.
      operationId: people.contactGroups.get
      parameters:
      - description: Specifies the maximum number of members to return.
        in: query
        name: maxMembers
        type: integer
      - description: '**Required.** Comma-separated list of person fields to be included
          in thenresponse. Each path should start with `person.`: for example,n`person.names`
          or `person.photos`.'
        in: query
        name: requestMask.includeField
        type: string
      - description: The resource name of the contact group to get.
        in: path
        name: resourceName
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ContactGroup'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/contacts
      - Oauth2:
        - https://www.googleapis.com/auth/contacts.readonly
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      - Oauth2:
        - https://www.googleapis.com/auth/user.addresses.read
      - Oauth2:
        - https://www.googleapis.com/auth/user.birthday.read
      - Oauth2:
        - https://www.googleapis.com/auth/user.emails.read
      - Oauth2:
        - https://www.googleapis.com/auth/user.phonenumbers.read
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.email
      - Oauth2:
        - https://www.googleapis.com/auth/userinfo.profile
      tags:
      - contactGroups
    parameters:
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/alt'
    put:
      description: Update the name of an existing contact group owned by the authenticatednuser.
      operationId: people.contactGroups.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/UpdateContactGroupRequest'
      - description: The resource name for the contact group, assigned by the server.
          An ASCIInstring, in the form of `contactGroups/`<var>contact_group_id</var>.
        in: path
        name: resourceName
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ContactGroup'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/contacts
      tags:
      - contactGroups
  /v1/{resourceName}/connections:
    get:
      description: Provides a list of the authenticated user's contacts merged with
        anynconnected profiles.n<br>nThe request throws a 400 error if 'personFields'
        is not specified.
      operationId: people.people.connections.list
      parameters:
      - description: The number of connections to include in the response. Valid values
          arenbetween 1 and 2000, inclusive. Defaults to 100.
        in: query
        name: pageSize
        type: integer
      - description: The token of the page to be returned.
        in: query
        name: pageToken
        type: string
      - description: '**Required.** A field mask to restrict which fields on each
          person arenreturned. Valid values are:nn* addressesn* ageRangesn* biographiesn*
          birthdaysn* braggingRightsn* coverPhotosn* emailAddressesn* eventsn* gendersn*
          imClientsn* interestsn* localesn* membershipsn* metadatan* namesn* nicknamesn*
          occupationsn* organizationsn* phoneNumbersn* photosn* relationsn* relationshipInterestsn*
          relationshipStatusesn* residencesn* skillsn* taglinesn* urls'
        in: query
        name: personFields
        type: string
      - description: '**Required.** Comma-separated list of person fields to be included
          in thenresponse. Each path should start with `person.`: for example,n`person.names`
          or `person.photos`.'
        in: query
        name: requestMask.includeField
        type: string
      - description: Whether the response should include a sync token, which can be
          used to getnall changes since the last request.
        in: query
        name: requestSyncToken
        type: boolean
      - description: The resource name to return connections for. Only `people/me`
          is valid.
        in: path
        name: resourceName
        required: true
        type: string
        x-reservedExpansion: true
      - description: The order in which the connections should be sorted. Defaults
          ton`LAST_MODIFIED_ASCENDING`.
        enum:
        - LAST_MODIFIED_ASCENDING
        - FIRST_NAME_ASCENDING
        - LAST_NAME_ASCENDING
        in: query
        name: sortOrder
        type: string
      - description: A sync token, returned by a previous call to `people.connections.list`.nOnly
          resources changed since the sync token was created will be returned.
        in: query
        name: syncToken
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListConnectionsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/contacts
      - Oauth2:
        - https://www.googleapis.com/auth/contacts.readonly
      tags:
      - people
    parameters:
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/alt'
  /v1/{resourceName}/members:modify:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Modify the members of a contact group owned by the authenticated
        user.
      operationId: people.contactGroups.members.modify
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ModifyContactGroupMembersRequest'
      - description: The resource name of the contact group to modify.
        in: path
        name: resourceName
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ModifyContactGroupMembersResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/contacts
      tags:
      - contactGroups
  /v1/{resourceName}:deleteContact:
    delete:
      description: Delete a contact person. Any non-contact data will not be deleted.
      operationId: people.people.deleteContact
      parameters:
      - description: The resource name of the contact to delete.
        in: path
        name: resourceName
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/contacts
      tags:
      - people
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1/{resourceName}:updateContact:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    patch:
      description: Update contact data for an existing contact person. Any non-contact
        datanwill not be modified.nnThe request throws a 400 error if `updatePersonFields`
        is not specified.n<br>nThe request throws a 400 error if `person.metadata.sources`
        is notnspecified for the contact to be updated.n<br>nThe request throws a
        412 error if `person.metadata.sources.etag` isndifferent than the contact's
        etag, which indicates the contact has changednsince its data was read. Clients
        should get the latest person and re-applyntheir updates to the latest person.
      operationId: people.people.updateContact
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Person'
      - description: The resource name for the person, assigned by the server. An
          ASCII stringnwith a max length of 27 characters, in the form ofn`people/`<var>person_id</var>.
        in: path
        name: resourceName
        required: true
        type: string
        x-reservedExpansion: true
      - description: '**Required.** A field mask to restrict which fields on the person
          arenupdated. Valid values are:nn* addressesn* biographiesn* birthdaysn*
          braggingRightsn* emailAddressesn* eventsn* gendersn* imClientsn* interestsn*
          localesn* namesn* nicknamesn* occupationsn* organizationsn* phoneNumbersn*
          relationsn* residencesn* skillsn* urls'
        in: query
        name: updatePersonFields
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Person'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/contacts
      tags:
      - people
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":49:{s:7:\"Address\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"A
  person's physical address. May be a P.O. box or street address. All fields\nare
  optional.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  city of the address.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  country of the address.\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country\ncode of
  the address.\";s:4:\"type\";s:6:\"string\";}s:15:\"extendedAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  extended address of the address; for example, the apartment number.\";s:4:\"type\";s:6:\"string\";}s:13:\"formattedType\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"The
  read-only type of the address translated and formatted in the viewer's\naccount
  locale or the `Accept-Language` HTTP header locale.\";s:4:\"type\";s:6:\"string\";}s:14:\"formattedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"The
  unstructured value of the address. If this is not set by the user it\nwill be automatically
  constructed from structured values.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:27:\"Metadata
  about the address.\";}s:5:\"poBox\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  P.O. box of the address.\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  postal code of the address.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  region of the address; for example, the state or province.\";s:4:\"type\";s:6:\"string\";}s:13:\"streetAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  street address.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"The
  type of the address. The type can be custom or predefined.\nPossible values include,
  but are not limited to, the following:\n\n* `home`\n* `work`\n* `other`\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"AgeRangeType\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"A
  person's age range.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"ageRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  age range.\";s:4:\"enum\";a:4:{i:0;s:21:\"AGE_RANGE_UNSPECIFIED\";i:1;s:18:\"LESS_THAN_EIGHTEEN\";i:2;s:18:\"EIGHTEEN_TO_TWENTY\";i:3;s:19:\"TWENTY_ONE_OR_OLDER\";}s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:29:\"Metadata
  about the age range.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"BatchGetContactGroupsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  response to a batch get contact groups request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"responses\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  list of responses for each requested contact group resource.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ContactGroupResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Biography\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  person's short biography.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"contentType\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  content type of the biography.\";s:4:\"enum\";a:3:{i:0;s:24:\"CONTENT_TYPE_UNSPECIFIED\";i:1;s:10:\"TEXT_PLAIN\";i:2;s:9:\"TEXT_HTML\";}s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:29:\"Metadata
  about the biography.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  short biography.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Birthday\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"A
  person's birthday. At least one of the `date` and `text` fields are\nspecified.
  The `date` and `text` fields typically represent the same\ndate, but are not guaranteed
  to.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:25:\"The
  date of the birthday.\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:28:\"Metadata
  about the birthday.\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"A
  free-form string representing the user's birthday.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"BraggingRights\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  person's bragging rights.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:35:\"Metadata
  about the bragging rights.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  bragging rights; for example, `climbed mount everest`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ContactGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"A
  contact group.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the\nresource. Used
  for web cache validation.\";s:4:\"type\";s:6:\"string\";}s:13:\"formattedName\";O:8:\"stdClass\":2:{s:11:\"description\";s:194:\"The
  read-only name translated and formatted in the viewer's account locale\nor the `Accept-Language`
  HTTP header locale for system groups names.\nGroup names set by the owner are the
  same as name.\";s:4:\"type\";s:6:\"string\";}s:9:\"groupType\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  read-only contact group type.\";s:4:\"enum\";a:3:{i:0;s:22:\"GROUP_TYPE_UNSPECIFIED\";i:1;s:18:\"USER_CONTACT_GROUP\";i:2;s:20:\"SYSTEM_CONTACT_GROUP\";}s:4:\"type\";s:6:\"string\";}s:11:\"memberCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  total number of contacts in the group irrespective of max members in\nspecified
  in the request.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"memberResourceNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:240:\"The
  list of contact person resource names that are members of the contact\ngroup. The
  field is not populated for LIST requests and can only be updated\nthrough the\n[ModifyContactGroupMembers](/people/api/rest/v1/contactgroups/members/modify).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ContactGroupMetadata\";s:11:\"description\";s:33:\"Metadata
  about the contact group.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  contact group name set by the group owner or a system provided name\nfor system
  groups.\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"The
  resource name for the contact group, assigned by the server. An ASCII\nstring, in
  the form of `contactGroups/`<var>contact_group_id</var>.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ContactGroupMembership\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"A
  Google contact group membership.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"contactGroupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:241:\"The
  contact group ID for the contact group membership. The contact group\nID can be
  custom or predefined. Possible values include, but are not\nlimited to, the following:\n\n*
  \ `myContacts`\n*  `starred`\n*  A numerical ID for user-created groups.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ContactGroupMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  read-only metadata about a contact group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"True
  if the contact group resource has been deleted. Populated only for\n[`ListContactGroups`](/people/api/rest/v1/contactgroups/list)
  requests\nthat include a sync token.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  time the group was last updated.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ContactGroupResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  response for a specific contact group.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"contactGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ContactGroup\";s:11:\"description\";s:18:\"The
  contact group.\";}s:21:\"requestedResourceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  original requested resource name.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:27:\"The
  status of the response.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CoverPhoto\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"A
  person's read-only cover photo. A large image shown on the person's\nprofile page
  that represents who they are or what they care about.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"default\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"True
  if the cover photo is the default cover photo;\nfalse if the cover photo is a user-provided
  cover photo.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:31:\"Metadata
  about the cover photo.\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  URL of the cover photo.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CreateContactGroupRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"A
  request to create a new contact group.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"contactGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ContactGroup\";s:11:\"description\";s:28:\"The
  contact group to create.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:447:\"Represents
  a whole calendar date, for example a date of birth. The time\nof day and time zone
  are either specified elsewhere or are not\nsignificant. The date is relative to
  the\n[Proleptic Gregorian Calendar](https://en.wikipedia.org/wiki/Proleptic_Gregorian_calendar).\nThe
  day may be 0 to represent a year and month where the day is not\nsignificant. The
  year may be 0 to represent a month and day independent\nof year; for example, anniversary
  date.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"day\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Day
  of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying
  a year/month where the day is not significant.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"month\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Month
  of year. Must be from 1 to 12.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"year\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Year
  of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DomainMembership\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  Google Apps Domain membership.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"inViewerDomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"True
  if the person is in the viewer's Google Apps domain.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:12:\"EmailAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  person's email address.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  display name of the email.\";s:4:\"type\";s:6:\"string\";}s:13:\"formattedType\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"The
  read-only type of the email address translated and formatted in the\nviewer's account
  locale or the `Accept-Language` HTTP header locale.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:33:\"Metadata
  about the email address.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"The
  type of the email address. The type can be custom or predefined.\nPossible values
  include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `other`\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  email address.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is
  empty JSON object `{}`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"Event\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"An
  event related to the person.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:22:\"The
  date of the event.\";}s:13:\"formattedType\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"The
  read-only type of the event translated and formatted in the\nviewer's account locale
  or the `Accept-Language` HTTP header locale.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:25:\"Metadata
  about the event.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"The
  type of the event. The type can be custom or predefined.\nPossible values include,
  but are not limited to, the following:\n\n* `anniversary`\n* `other`\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"FieldMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Metadata
  about a field.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"True
  if the field is the primary field; false if the field is a secondary\nfield.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Source\";s:11:\"description\";s:24:\"The
  source of the field.\";}s:8:\"verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:193:\"True
  if the field is verified; false if the field is unverified. A\nverified field is
  typically a name, email address, phone number, or\nwebsite that has been confirmed
  to be owned by the person.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Gender\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"A
  person's gender.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"formattedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"The
  read-only value of the gender translated and formatted in the viewer's\naccount
  locale or the `Accept-Language` HTTP header locale.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:26:\"Metadata
  about the gender.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:173:\"The
  gender for the person. The gender can be custom or predefined.\nPossible values
  include, but are not limited to, the\nfollowing:\n\n* `male`\n* `female`\n* `other`\n*
  `unknown`\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GetPeopleResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"responses\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  response for each requested resource name.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PersonResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"ImClient\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"A
  person's instant messaging client.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"formattedProtocol\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"The
  read-only protocol of the IM client formatted in the viewer's account\nlocale or
  the `Accept-Language` HTTP header locale.\";s:4:\"type\";s:6:\"string\";}s:13:\"formattedType\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"The
  read-only type of the IM client translated and formatted in the\nviewer's account
  locale or the `Accept-Language` HTTP header locale.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:29:\"Metadata
  about the IM client.\";}s:8:\"protocol\";O:8:\"stdClass\":2:{s:11:\"description\";s:229:\"The
  protocol of the IM client. The protocol can be custom or predefined.\nPossible values
  include, but are not limited to, the following:\n\n* `aim`\n* `msn`\n* `yahoo`\n*
  `skype`\n* `qq`\n* `googleTalk`\n* `icq`\n* `jabber`\n* `netMeeting`\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:157:\"The
  type of the IM client. The type can be custom or predefined.\nPossible values include,
  but are not limited to, the following:\n\n* `home`\n* `work`\n* `other`\";s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  user name used in the IM client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Interest\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"One
  of the person's interests.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:28:\"Metadata
  about the interest.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  interest; for example, `stargazing`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListConnectionsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"connections\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  list of people that the requestor is connected to.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Person\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  token that can be used to retrieve the next page of results.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextSyncToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  token that can be used to retrieve changes since the last request.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  total number of items in the list without pagination.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"totalPeople\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"**DEPRECATED**
  (Please use totalItems)\nThe total number of people in the list without pagination.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListContactGroupsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  response to a list contact groups request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"contactGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  list of contact groups. Members of the contact groups are not\npopulated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ContactGroup\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  token that can be used to retrieve the next page of results.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextSyncToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  token that can be used to retrieve changes since the last request.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  total number of items in the list without pagination.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Locale\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  person's locale preference.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:26:\"Metadata
  about the locale.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"The
  well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47)\nlanguage tag representing
  the locale.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Membership\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"A
  person's read-only membership in a group.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"contactGroupMembership\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ContactGroupMembership\";s:11:\"description\";s:29:\"The
  contact group membership.\";}s:16:\"domainMembership\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DomainMembership\";s:11:\"description\";s:22:\"The
  domain membership.\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:30:\"Metadata
  about the membership.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ModifyContactGroupMembersRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  request to modify an existing contact group's members.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"resourceNamesToAdd\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"The
  resource names of the contact people to add in the form of in the form\n`people/`<var>person_id</var>.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:21:\"resourceNamesToRemove\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  resource names of the contact people to remove in the form of in the\nform of `people/`<var>person_id</var>.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ModifyContactGroupMembersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  response to a modify contact group members request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"notFoundResourceNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  contact people resource names that were not found.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Name\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"A
  person's name. If the name is a mononym, the family name is empty.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"The
  read-only display name formatted according to the locale specified by\nthe viewer's
  account or the `Accept-Language` HTTP header.\";s:4:\"type\";s:6:\"string\";}s:20:\"displayNameLastFirst\";O:8:\"stdClass\":2:{s:11:\"description\";s:157:\"The
  read-only display name with the last name first formatted according to\nthe locale
  specified by the viewer's account or the\n`Accept-Language` HTTP header.\";s:4:\"type\";s:6:\"string\";}s:10:\"familyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  family name.\";s:4:\"type\";s:6:\"string\";}s:9:\"givenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  given name.\";s:4:\"type\";s:6:\"string\";}s:15:\"honorificPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  honorific prefixes, such as `Mrs.` or `Dr.`\";s:4:\"type\";s:6:\"string\";}s:15:\"honorificSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  honorific suffixes, such as `Jr.`\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:24:\"Metadata
  about the name.\";}s:10:\"middleName\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  middle name(s).\";s:4:\"type\";s:6:\"string\";}s:18:\"phoneticFamilyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  family name spelled as it sounds.\";s:4:\"type\";s:6:\"string\";}s:16:\"phoneticFullName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  full name spelled as it sounds.\";s:4:\"type\";s:6:\"string\";}s:17:\"phoneticGivenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  given name spelled as it sounds.\";s:4:\"type\";s:6:\"string\";}s:23:\"phoneticHonorificPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  honorific prefixes spelled as they sound.\";s:4:\"type\";s:6:\"string\";}s:23:\"phoneticHonorificSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  honorific suffixes spelled as they sound.\";s:4:\"type\";s:6:\"string\";}s:18:\"phoneticMiddleName\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  middle name(s) spelled as they sound.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Nickname\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  person's nickname.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:28:\"Metadata
  about the nickname.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of the nickname.\";s:4:\"enum\";a:5:{i:0;s:7:\"DEFAULT\";i:1;s:11:\"MAIDEN_NAME\";i:2;s:8:\"INITIALS\";i:3;s:5:\"GPLUS\";i:4;s:10:\"OTHER_NAME\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  nickname.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Occupation\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  person's occupation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:30:\"Metadata
  about the occupation.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  occupation; for example, `carpenter`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Organization\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"A
  person's past or current organization. Overlapping date ranges are\npermitted.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:7:\"current\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"True
  if the organization is the person's current organization;\nfalse if the organization
  is a past organization.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"department\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  person's department at the organization.\";s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  domain name associated with the organization; for example, `google.com`.\";s:4:\"type\";s:6:\"string\";}s:7:\"endDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:51:\"The
  end date when the person left the organization.\";}s:13:\"formattedType\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"The
  read-only type of the organization translated and formatted in the\nviewer's account
  locale or the `Accept-Language` HTTP header locale.\";s:4:\"type\";s:6:\"string\";}s:14:\"jobDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  person's job description at the organization.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  location of the organization office the person works at.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:32:\"Metadata
  about the organization.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  name of the organization.\";s:4:\"type\";s:6:\"string\";}s:12:\"phoneticName\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  phonetic name of the organization.\";s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:55:\"The
  start date when the person joined the organization.\";}s:6:\"symbol\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"The
  symbol associated with the organization; for example, a stock ticker\nsymbol, abbreviation,
  or acronym.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  person's job title at the organization.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"The
  type of the organization. The type can be custom or predefined.\nPossible values
  include, but are not limited to, the following:\n\n* `work`\n* `school`\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Person\";O:8:\"stdClass\":3:{s:11:\"description\";s:306:\"Information
  about a person merged from various data sources such as the\nauthenticated user's
  contacts and profile data.\n\nMost fields can have multiple items. The items in
  a field have no guaranteed\norder, but each non-empty field is guaranteed to have
  exactly one field with\n`metadata.primary` set to true.\";s:10:\"properties\";O:8:\"stdClass\":31:{s:9:\"addresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  person's street addresses.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:4:\"type\";s:5:\"array\";}s:8:\"ageRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"**DEPRECATED**
  (Please use `person.ageRanges` instead)**\n\nThe person's read-only age range.\";s:4:\"enum\";a:4:{i:0;s:21:\"AGE_RANGE_UNSPECIFIED\";i:1;s:18:\"LESS_THAN_EIGHTEEN\";i:2;s:18:\"EIGHTEEN_TO_TWENTY\";i:3;s:19:\"TWENTY_ONE_OR_OLDER\";}s:4:\"type\";s:6:\"string\";}s:9:\"ageRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  person's read-only age ranges.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AgeRangeType\";}s:4:\"type\";s:5:\"array\";}s:11:\"biographies\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  person's biographies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Biography\";}s:4:\"type\";s:5:\"array\";}s:9:\"birthdays\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  person's birthdays.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Birthday\";}s:4:\"type\";s:5:\"array\";}s:14:\"braggingRights\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  person's bragging rights.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BraggingRights\";}s:4:\"type\";s:5:\"array\";}s:11:\"coverPhotos\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  person's read-only cover photos.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CoverPhoto\";}s:4:\"type\";s:5:\"array\";}s:14:\"emailAddresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  person's email addresses.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/EmailAddress\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the\nresource. Used
  for web cache validation.\";s:4:\"type\";s:6:\"string\";}s:6:\"events\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  person's events.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}s:4:\"type\";s:5:\"array\";}s:7:\"genders\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  person's genders.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Gender\";}s:4:\"type\";s:5:\"array\";}s:9:\"imClients\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  person's instant messaging clients.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ImClient\";}s:4:\"type\";s:5:\"array\";}s:9:\"interests\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  person's interests.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Interest\";}s:4:\"type\";s:5:\"array\";}s:7:\"locales\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  person's locale preferences.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Locale\";}s:4:\"type\";s:5:\"array\";}s:11:\"memberships\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  person's read-only group memberships.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Membership\";}s:4:\"type\";s:5:\"array\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PersonMetadata\";s:11:\"description\";s:36:\"Read-only
  metadata about the person.\";}s:5:\"names\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  person's names.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Name\";}s:4:\"type\";s:5:\"array\";}s:9:\"nicknames\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  person's nicknames.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Nickname\";}s:4:\"type\";s:5:\"array\";}s:11:\"occupations\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  person's occupations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Occupation\";}s:4:\"type\";s:5:\"array\";}s:13:\"organizations\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  person's past or current organizations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Organization\";}s:4:\"type\";s:5:\"array\";}s:12:\"phoneNumbers\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  person's phone numbers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PhoneNumber\";}s:4:\"type\";s:5:\"array\";}s:6:\"photos\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  person's read-only photos.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Photo\";}s:4:\"type\";s:5:\"array\";}s:9:\"relations\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  person's relations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Relation\";}s:4:\"type\";s:5:\"array\";}s:21:\"relationshipInterests\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  person's read-only relationship interests.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/RelationshipInterest\";}s:4:\"type\";s:5:\"array\";}s:20:\"relationshipStatuses\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  person's read-only relationship statuses.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RelationshipStatus\";}s:4:\"type\";s:5:\"array\";}s:10:\"residences\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  person's residences.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Residence\";}s:4:\"type\";s:5:\"array\";}s:12:\"resourceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"The
  resource name for the person, assigned by the server. An ASCII string\nwith a max
  length of 27 characters, in the form of\n`people/`<var>person_id</var>.\";s:4:\"type\";s:6:\"string\";}s:6:\"skills\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  person's skills.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Skill\";}s:4:\"type\";s:5:\"array\";}s:8:\"taglines\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  person's read-only taglines.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Tagline\";}s:4:\"type\";s:5:\"array\";}s:4:\"urls\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  person's associated URLs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Url\";}s:4:\"type\";s:5:\"array\";}s:11:\"userDefined\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  person's user defined data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UserDefined\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"PersonMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  read-only metadata about a person.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:166:\"True
  if the person resource has been deleted. Populated only for\n[`connections.list`](/people/api/rest/v1/people.connections/list)
  requests\nthat include a sync token.\";s:4:\"type\";s:7:\"boolean\";}s:25:\"linkedPeopleResourceNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Resource
  names of people linked to this resource.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"objectType\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"**DEPRECATED**
  (Please use\n`person.metadata.sources.profileMetadata.objectType` instead)\n\nThe
  type of the person object.\";s:4:\"enum\";a:3:{i:0;s:23:\"OBJECT_TYPE_UNSPECIFIED\";i:1;s:6:\"PERSON\";i:2;s:4:\"PAGE\";}s:4:\"type\";s:6:\"string\";}s:21:\"previousResourceNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:325:\"Any
  former resource names this person has had. Populated only for\n[`connections.list`](/people/api/rest/v1/people.connections/list)
  requests\nthat include a sync token.\n\nThe resource name may change when adding
  or removing fields that link a\ncontact and profile such as a verified email, verified
  phone number, or\nprofile URL.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"sources\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  sources of data for the person.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"PersonResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  response for a single person\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"httpStatusCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"**DEPRECATED**
  (Please use status instead)\n\n[HTTP 1.1 status code]\n(http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"person\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Person\";s:11:\"description\";s:11:\"The
  person.\";}s:21:\"requestedResourceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:261:\"The
  original requested resource name. May be different than the resource\nname on the
  returned person.\n\nThe resource name can change when adding or removing fields
  that link a\ncontact and profile such as a verified email, verified phone number,
  or a\nprofile URL.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:27:\"The
  status of the response.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PhoneNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  person's phone number.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"canonicalForm\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"The
  read-only canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf)\nform
  of the phone number.\";s:4:\"type\";s:6:\"string\";}s:13:\"formattedType\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"The
  read-only type of the phone number translated and formatted in the\nviewer's account
  locale or the `Accept-Language` HTTP header locale.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:32:\"Metadata
  about the phone number.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:272:\"The
  type of the phone number. The type can be custom or predefined.\nPossible values
  include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `mobile`\n*
  `homeFax`\n* `workFax`\n* `otherFax`\n* `pager`\n* `workMobile`\n* `workPager`\n*
  `main`\n* `googleVoice`\n* `other`\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  phone number.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Photo\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"A
  person's read-only photo. A picture shown next to the person's name to\nhelp others
  recognize the person.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"default\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"True
  if the photo is a default photo;\nfalse if the photo is a user-provided photo.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:25:\"Metadata
  about the photo.\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:243:\"The
  URL of the photo. You can change the desired size by appending a query\nparameter
  `sz=`<var>size</var> at the end of the url. Example:\n`https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50`\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ProfileMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  read-only metadata about a profile.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"objectType\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  profile object type.\";s:4:\"enum\";a:3:{i:0;s:23:\"OBJECT_TYPE_UNSPECIFIED\";i:1;s:6:\"PERSON\";i:2;s:4:\"PAGE\";}s:4:\"type\";s:6:\"string\";}s:9:\"userTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  user types.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:17:\"USER_TYPE_UNKNOWN\";i:1;s:11:\"GOOGLE_USER\";i:2;s:10:\"GPLUS_USER\";i:3;s:16:\"GOOGLE_APPS_USER\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Relation\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"A
  person's relation to another person.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"formattedType\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"The
  type of the relation translated and formatted in the viewer's account\nlocale or
  the locale specified in the Accept-Language HTTP header.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:28:\"Metadata
  about the relation.\";}s:6:\"person\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  name of the other person this relation refers to.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:326:\"The
  person's relation to the other person. The type can be custom or predefined.\nPossible
  values include, but are not limited to, the following values:\n\n* `spouse`\n* `child`\n*
  `mother`\n* `father`\n* `parent`\n* `brother`\n* `sister`\n* `friend`\n* `relative`\n*
  `domesticPartner`\n* `manager`\n* `assistant`\n* `referredBy`\n* `partner`\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"RelationshipInterest\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"A
  person's read-only relationship interest .\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"formattedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"The
  value of the relationship interest translated and formatted in the\nviewer's account
  locale or the locale specified in the Accept-Language\nHTTP header.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:41:\"Metadata
  about the relationship interest.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:214:\"The
  kind of relationship the person is looking for. The value can be custom\nor predefined.
  Possible values include, but are not limited to, the\nfollowing values:\n\n* `friend`\n*
  `date`\n* `relationship`\n* `networking`\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"RelationshipStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  person's read-only relationship status.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"formattedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"The
  read-only value of the relationship status translated and formatted in\nthe viewer's
  account locale or the `Accept-Language` HTTP header locale.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:39:\"Metadata
  about the relationship status.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:278:\"The
  relationship status. The value can be custom or predefined.\nPossible values include,
  but are not limited to, the following:\n\n* `single`\n* `inARelationship`\n* `engaged`\n*
  `married`\n* `itsComplicated`\n* `openRelationship`\n* `widowed`\n* `inDomesticPartnership`\n*
  `inCivilUnion`\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Residence\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"A
  person's past or current residence.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"current\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"True
  if the residence is the person's current residence;\nfalse if the residence is a
  past residence.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:29:\"Metadata
  about the residence.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  address of the residence.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Skill\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"A
  skill that the person has.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:25:\"Metadata
  about the skill.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  skill; for example, `underwater basket weaving`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Source\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  source of a field.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:158:\"**Only
  populated in `person.metadata.sources`.**\n\nThe [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag)
  of the\nsource. Used for web cache validation.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  unique identifier within the source type generated by the server.\";s:4:\"type\";s:6:\"string\";}s:15:\"profileMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ProfileMetadata\";s:11:\"description\";s:90:\"**Only
  populated in `person.metadata.sources`.**\n\nMetadata about a source of type PROFILE.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  source type.\";s:4:\"enum\";a:5:{i:0;s:23:\"SOURCE_TYPE_UNSPECIFIED\";i:1;s:7:\"ACCOUNT\";i:2;s:7:\"PROFILE\";i:3;s:14:\"DOMAIN_PROFILE\";i:4;s:7:\"CONTACT\";}s:4:\"type\";s:6:\"string\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"**Only
  populated in `person.metadata.sources`.**\n\nLast update timestamp of this source.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2437:\"The
  `Status` type defines a logical error model that is suitable for different\nprogramming
  environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc).
  The error model is designed to be:\n\n- Simple to use and understand for most users\n-
  Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains
  three pieces of data: error code, error message,\nand error details. The error code
  should be an enum value of\ngoogle.rpc.Code, but it may accept additional error
  codes if needed.  The\nerror message should be a developer-facing English message
  that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror
  message is needed, put the localized message in the error details or\nlocalize it
  in the client. The optional error details may contain arbitrary\ninformation about
  the error. There is a predefined set of error detail types\nin the package `google.rpc`
  that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status`
  message is the logical representation of the error model, but it\nis not necessarily
  the actual wire format. When the `Status` message is\nexposed in different client
  libraries and different wire protocols, it can be\nmapped differently. For example,
  it will likely be mapped to some exceptions\nin Java, but more likely mapped to
  some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message
  can be used in a variety of\nenvironments, either with or without APIs, to provide
  a\nconsistent developer experience across different environments.\n\nExample uses
  of this error model include:\n\n- Partial errors. If a service needs to return partial
  errors to the client,\n    it may embed the `Status` in the normal response to indicate
  the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps.
  Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations.
  If a client uses batch request and batch response, the\n    `Status` message should
  be used directly inside batch response, one for\n    each error sub-response.\n\n-
  Asynchronous operations. If an API call embeds asynchronous operation\n    results
  in its response, the status of those operations should be\n    represented directly
  using the `Status` message.\n\n- Logging. If some API errors are stored in logs,
  the message `Status` could\n    be used directly after any stripping needed for
  security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"A
  list of messages that carry the error details.  There is a common set of\nmessage
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any\nuser-facing error
  message should be localized and sent in the\ngoogle.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Tagline\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  read-only brief one-line description of the person.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:27:\"Metadata
  about the tagline.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"The
  tagline.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"UpdateContactGroupRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  request to update an existing contact group. Only the name can be updated.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"contactGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ContactGroup\";s:11:\"description\";s:28:\"The
  contact group to update.\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Url\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  person's associated URLs.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"formattedType\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"The
  read-only type of the URL translated and formatted in the viewer's\naccount locale
  or the `Accept-Language` HTTP header locale.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:23:\"Metadata
  about the URL.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:265:\"The
  type of the URL. The type can be custom or predefined.\nPossible values include,
  but are not limited to, the following:\n\n* `home`\n* `work`\n* `blog`\n* `profile`\n*
  `homePage`\n* `ftp`\n* `reservations`\n* `appInstallPage`: website for a Google+
  application.\n* `other`\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"The
  URL.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"UserDefined\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Arbitrary
  user data that is populated by the end users.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  end user specified key of the user defined data.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldMetadata\";s:11:\"description\";s:37:\"Metadata
  about the user defined data.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  end user specified value of the user defined data.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
