---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"Bandsintown\";s:3:\"url\";s:24:\"https://bandsintown.com/\";s:9:\"x-twitter\";s:11:\"Bandsintown\";}s:11:\"description\";s:1465:\"#
  What is the Bandsintown API?\nThe Bandsintown API is designed for enterprise partners
  and artists with websites, media players, and/or mobile applications that would
  like to list an artist's events and provide their users with the ability to buy
  tickets and RSVP to these events.\n\nIt offers read-only access to artist info and
  artist events:\n- artist info: returns the link to the Bandsintown artist page,
  the link to the artist photo, the current number of trackers and more\n- artist
  events: returns the list of upcoming events including their date and time, venue
  name and location, ticket links, lineup, description and the link to the Bandsintown
  event page\n\nNote you can also search for events on a given date or within a given
  date range, including past dates.\n\n# Getting Started\n- In order to use the Bandsintown
  API, you must have written consent from Bandsintown Inc. Any other use of the Bandsintown
  API is prohibited. [Contact Bandsintown](http://help.bandsintown.com/) to tell us
  what you plan to do and request your personal application ID.\n- Find out about
  the API methods available and the format of the API responses below. Select the
  method you wish to use and try it out online with the app ID provided to you.\n-
  Call our Bandsintown API with the app ID provided straight from your website or
  back-end platform and choose which element of the API response you wish to display.
  Scroll to the bottom of this page to find out about the Models used.\n\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"Terms
  and Conditions\";s:3:\"url\";s:38:\"http://corp.bandsintown.com/api-terms/\";}s:5:\"title\";s:11:\"Bandsintown\";s:7:\"version\";s:5:\"3.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:6:\"social\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:84:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_Bandsintown_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:72:\"https://api.swaggerhub.com/apis/Bandsintown/PublicAPI/3.0.0/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"bandsintown.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"bandsintown\";s:4:\"type\";s:7:\"openapi\";}}"
host: rest.bandsintown.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:10:\"ArtistData\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"facebook_page_url\";O:8:\"stdClass\":3:{s:7:\"example\";s:32:\"https://www.facebook.com/maroon5\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:7:\"example\";i:510;s:4:\"type\";s:7:\"integer\";}s:9:\"image_url\";O:8:\"stdClass\":3:{s:7:\"example\";s:54:\"https://s3.amazonaws.com/bit-photos/large/7481529.jpeg\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}s:4:\"mbid\";O:8:\"stdClass\":2:{s:7:\"example\";s:36:\"0ab49580-c84f-44d4-875f-d83760ea2cfe\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:7:\"example\";s:8:\"Maroon
  5\";s:4:\"type\";s:6:\"string\";}s:9:\"thumb_url\";O:8:\"stdClass\":3:{s:7:\"example\";s:54:\"https://s3.amazonaws.com/bit-photos/thumb/7481529.jpeg\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}s:13:\"tracker_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"upcoming_event_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":3:{s:7:\"example\";s:47:\"http://www.bandsintown.com/Maroon5?came_from=67\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:4:\"name\";i:1;s:3:\"url\";i:2;s:9:\"image_url\";i:3;s:9:\"thumb_url\";i:4;s:17:\"facebook_page_url\";i:5;s:4:\"mbid\";i:6;s:13:\"tracker_count\";i:7;s:20:\"upcoming_event_count\";}s:4:\"type\";s:6:\"object\";}s:9:\"EventData\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"artist_id\";O:8:\"stdClass\":3:{s:7:\"example\";s:6:\"438314\";s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"string\";}s:8:\"datetime\";O:8:\"stdClass\":3:{s:7:\"example\";s:19:\"2017-03-19T11:00:00\";s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:7:\"example\";s:21:\"This
  is a description\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:7:\"example\";s:8:\"13722599\";s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"string\";}s:6:\"lineup\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"offers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OfferData\";}s:4:\"type\";s:5:\"array\";}s:16:\"on_sale_datetime\";O:8:\"stdClass\":3:{s:7:\"example\";s:19:\"2017-03-01T18:00:00\";s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:7:\"example\";s:81:\"http://www.bandsintown.com/event/13722599?app_id=foo&artist=Skrillex&came_from=67\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}s:5:\"venue\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/VenueData\";}}s:8:\"required\";a:8:{i:0;s:2:\"id\";i:1;s:9:\"artist_id\";i:2;s:3:\"url\";i:3;s:16:\"on_sale_datetime\";i:4;s:8:\"datetime\";i:5;s:5:\"venue\";i:6;s:6:\"offers\";i:7;s:6:\"lineup\";}s:4:\"type\";s:6:\"object\";}s:9:\"OfferData\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"status\";O:8:\"stdClass\":2:{s:7:\"example\";s:9:\"available\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:7:\"example\";s:7:\"Tickets\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:7:\"example\";s:93:\"http://www.bandsintown.com/event/13722599/buy_tickets?app_id=foo&artist=Skrillex&came_from=67\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:3:\"url\";i:2;s:6:\"status\";}s:4:\"type\";s:6:\"object\";}s:9:\"VenueData\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"city\";O:8:\"stdClass\":2:{s:7:\"example\";s:9:\"Las
  Vegas\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:7:\"example\";s:13:\"United
  States\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:7:\"example\";s:8:\"36.12714\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:7:\"example\";s:12:\"-115.1629562\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:7:\"example\";s:17:\"Encore
  Beach Club\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:7:\"example\";s:2:\"NV\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:4:\"name\";i:1;s:8:\"latitude\";i:2;s:9:\"longitude\";i:3;s:4:\"city\";i:4;s:6:\"region\";i:5;s:7:\"country\";}s:4:\"type\";s:6:\"object\";}}"
...
