---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:330:\"Headline : Twitter
  is an online social networking and microblogging service that enables users to send
  and read short 140-character text messages, called \\\"tweets\\\". Registered users
  can read and post tweets, but unregistered users can only read them. Users access
  Twitter through the website interface, SMS, or mobile device app.\";s:7:\"version\";s:3:\"1.1\";s:5:\"title\";s:11:\"Twitter
  API\";}"
host: api.twitter.com
basePath: /1.1/
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":21:{s:16:\"user-suggestions\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"privacy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"privacy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:29:\"account-update_profile_colors\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":39:{s:20:\"contributors_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"default_profile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"default_profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"urls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"display_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"expanded_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"indices\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}}s:16:\"favourites_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"follow_request_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"followers_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"following\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"friends_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"geo_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"is_translator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"listed_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:24:\"profile_background_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_background_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"profile_background_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"profile_background_tile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"profile_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"profile_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_link_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_sidebar_border_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"profile_sidebar_fill_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_text_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_use_background_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"protected\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"show_all_inline_media\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"statuses_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"time_zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"utc_offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"verified\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:11:\"rate_limits\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"rate_limit_context\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"resources\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"help\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"/help/configuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:15:\"/help/languages\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:13:\"/help/privacy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:9:\"/help/tos\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}}s:6:\"search\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"/search/tweets\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}}s:8:\"statuses\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:23:\"/statuses/home_timeline\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:27:\"/statuses/mentions_timeline\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:16:\"/statuses/oembed\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:22:\"/statuses/retweets/:id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:18:\"/statuses/show/:id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:23:\"/statuses/user_timeline\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}}s:5:\"users\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"/users/contributees\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:19:\"/users/contributors\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:13:\"/users/lookup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:13:\"/users/search\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:11:\"/users/show\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:32:\"/users/suggestions/:slug/members\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:24:\"/users/suggestions/:slug\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:18:\"/users/suggestions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}}}}}}s:16:\"users-suggestion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"users\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":38:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_sidebar_border_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"profile_sidebar_fill_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"profile_background_tile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"profile_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_link_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"follow_request_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"is_translator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"default_profile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"favourites_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"contributors_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"utc_offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"profile_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"listed_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"profile_use_background_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"profile_text_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"protected\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"followers_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"geo_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"time_zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"verified\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:34:\"profile_background_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"profile_background_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_background_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friends_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"statuses_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"default_profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"show_all_inline_media\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"following\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}}}}s:6:\"geo-id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"162834:id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"bounding_box\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"coordinates\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"array\";}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"contained_within\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:12:\"bounding_box\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"coordinates\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"array\";}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"country_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"full_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"place_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:12:\"country_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"full_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"geometry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"coordinates\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"array\";}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"place_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"polylines\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"help-config\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:29:\"characters_reserved_per_media\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"max_media_per_upload\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"non_username_paths\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:16:\"photo_size_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"short_url_length_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"short_url_length\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:20:\"users-profile-banner\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:16:\"trends-available\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"parentid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"placeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"woeid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:5:\"lists\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"following\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"full_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"member_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"subscriber_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":38:{s:23:\"profile_background_tile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:28:\"profile_sidebar_border_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"profile_sidebar_fill_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"profile_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"is_translator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_link_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"follow_request_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"favourites_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"contributors_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"default_profile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:23:\"profile_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"utc_offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"profile_banner_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"profile_use_background_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"listed_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"profile_text_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"protected\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"followers_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"geo_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"verified\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"time_zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"profile_background_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"profile_background_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"statuses_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"friends_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"default_profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:28:\"profile_background_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"following\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:28:\"account-update_profile_image\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":38:{s:20:\"contributors_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"default_profile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"default_profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"favourites_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"follow_request_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"followers_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"following\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"friends_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"geo_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"is_translator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"listed_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:24:\"profile_background_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_background_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"profile_background_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"profile_background_tile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"profile_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"profile_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_link_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_sidebar_border_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"profile_sidebar_fill_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_text_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_use_background_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"protected\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"show_all_inline_media\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"statuses_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"time_zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"utc_offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"verified\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:16:\"account-settings\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:16:\"always_use_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"discoverable_by_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"geo_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"protected\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"show_all_inline_media\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"sleep_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"end_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"start_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"time_zone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"tzinfo_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"utc_offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:14:\"trend_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"parentid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"placeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"woeid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:26:\"use_cookie_personalization\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:3:\"ids\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"previous_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"ids\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:19:\"previous_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"next_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"next_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:3:\"tos\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"privacy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"blocks-ids\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"previous_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"ids\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:19:\"previous_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"next_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"next_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"help-languages\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:27:\"friendships-no_retweets-ids\";O:8:\"stdClass\":0:{}s:26:\"account-verify_credentials\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":39:{s:20:\"contributors_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"default_profile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"default_profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"favourites_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"follow_request_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"followers_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"following\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friends_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"geo_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"is_translator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"listed_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"profile_background_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_background_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"profile_background_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"profile_background_tile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"profile_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"profile_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_link_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_sidebar_border_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"profile_sidebar_fill_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_text_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_use_background_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"protected\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"show_all_inline_media\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:12:\"contributors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"coordinates\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"coordinates\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"favorited\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"geo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"coordinates\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"in_reply_to_screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"in_reply_to_status_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"in_reply_to_status_id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"in_reply_to_user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"in_reply_to_user_id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"place\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"bounding_box\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"country_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"full_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"place_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"retweet_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"retweeted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"truncated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:14:\"statuses_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"time_zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"utc_offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"verified\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:6:\"trends\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"as_of\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"locations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"woeid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}s:6:\"trends\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:14:\"saved_searches\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:25:\"account-update_background\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":38:{s:20:\"contributors_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"default_profile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"default_profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"favourites_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"follow_request_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"followers_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"following\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"friends_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"geo_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"is_translator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"listed_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:24:\"profile_background_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_background_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"profile_background_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"profile_background_tile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"profile_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"profile_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_link_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_sidebar_border_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"profile_sidebar_fill_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_text_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_use_background_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"protected\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"show_all_inline_media\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"statuses_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"time_zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"utc_offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"verified\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}}"
...
