---
swagger: "2.0"
info: This is the information of the API
host: api.twitter.com
paths: ~
produces: application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":103:{s:9:\"123456789\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"favorites\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"replies\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"retweets\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"url_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"detail_expands\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"engagements\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"impressions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Engagement\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Engagement\";}s:10:\"Impression\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Impression\";}}}s:9:\"223456789\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"favorites\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"replies\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"retweets\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"url_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"detail_expands\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"engagements\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"impressions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"323456789\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"url_clicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"detail_expands\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"engagements\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"impressions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Unkown\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Request\";}s:4:\"Data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Data\";}}}s:7:\"Request\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Param\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Param\";}}}s:5:\"Param\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":22:{s:16:\"website_dest_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"video_height\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"video_poster_width\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"video_width\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"video_poster_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"card_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"website_display_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"content_duration_seconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"video_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"account_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"website_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"video_poster_height\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"video_hls_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"video_owner_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"video_content_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"autocomplete\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"granularity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"trim_place\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"accuracy\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:4:\"Data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:16:\"website_dest_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"video_height\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"video_poster_width\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"video_width\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"video_poster_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"card_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"website_display_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"video_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"account_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"website_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"video_poster_height\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"video_hls_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"card_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"video_owner_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"video_content_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Users\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":52:{s:10:\"utc_offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"friends_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"profile_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"listed_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"profile_background_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"default_profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"favourites_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"is_translator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"profile_background_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"protected\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_link_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"show_all_inline_media\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"profile_background_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"geo_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_sidebar_border_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_text_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"verified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"profile_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"contributors_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"profile_background_tile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"follow_request_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"statuses_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"default_profile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_use_background_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"followers_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"following\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"profile_sidebar_fill_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Entitie\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Entitie\";}s:5:\"Statu\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Statu\";}s:22:\"is_translation_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"muting\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_banner_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"/users/show/:id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions//users/show/:id\";}s:21:\"/users/profile_banner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions//users/profile_banner\";}s:13:\"/users/lookup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions//users/lookup\";}s:18:\"/users/contributor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions//users/contributor\";}s:18:\"/users/contributee\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions//users/contributee\";}s:13:\"/users/search\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions//users/search\";}s:24:\"/users/suggestions/:slug\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions//users/suggestions/:slug\";}s:31:\"/users/suggestions/:slug/member\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions//users/suggestions/:slug/member\";}s:17:\"/users/suggestion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions//users/suggestion\";}}}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"urls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:7:\"Entitie\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"hashtags\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Description\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Url\";}s:4:\"urls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"user_mentions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"symbols\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:5:\"Statu\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:25:\"in_reply_to_status_id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"in_reply_to_status_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"possibly_sensitive\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"truncated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"in_reply_to_user_id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"possibly_sensitive_editable\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"retweet_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"retweeted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"in_reply_to_screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"in_reply_to_user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"favorited\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Entitie\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Entitie\";}s:14:\"favorite_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"User_mention\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"indices\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:11:\"screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:3:\"Url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"indices\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"display_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"expanded_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"urls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Url\";}}}}s:4:\"List\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:15:\"previous_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"next_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"previous_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"next_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"users\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"full_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"subscriber_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"following\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"member_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"User\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}}s:8:\"Statuses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"Statuse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":24:{s:9:\"truncated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"in_reply_to_user_id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"retweet_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"retweeted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"in_reply_to_screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"in_reply_to_user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"favorited\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Entitie\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Entitie\";}s:4:\"User\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:8:\"Metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Metadata\";}s:27:\"/statuses/mentions_timeline\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions//statuses/mentions_timeline\";}s:18:\"/statuses/show/:id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions//statuses/show/:id\";}s:23:\"/statuses/user_timeline\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions//statuses/user_timeline\";}s:22:\"/statuses/retweets/:id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions//statuses/retweets/:id\";}s:23:\"/statuses/retweeters/id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions//statuses/retweeters/id\";}s:23:\"/statuses/home_timeline\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions//statuses/home_timeline\";}s:16:\"/statuses/lookup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions//statuses/lookup\";}s:16:\"/statuses/oembed\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions//statuses/oembed\";}s:24:\"/statuses/retweets_of_me\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions//statuses/retweets_of_me\";}}}s:8:\"Settings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"PlaceType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Setting\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:21:\"discoverable_by_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"protected\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"show_all_inline_media\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"use_cookie_personalization\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"always_use_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"geo_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Sleep_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Sleep_time\";}s:14:\"trend_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Trend_location\";}}}}s:14:\"Trend_location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"woeid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"parentid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"PlaceType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/PlaceType\";}}}s:10:\"Sleep_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Show\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:3:\"New\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"Ownerships\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"Ownership\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"previous_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"next_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"previous_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"next_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"lists\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/List\";}}}}s:7:\"Members\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:6:\"Member\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"previous_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"next_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"previous_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"next_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"users\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}}}s:3:\"Ids\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"previous_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"next_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"previous_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ids\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"next_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Create\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":40:{s:10:\"utc_offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"friends_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"profile_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"listed_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"profile_background_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"default_profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"favourites_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"is_translator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"profile_background_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"protected\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_link_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"is_translation_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"geo_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"profile_background_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_sidebar_border_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_text_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"verified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"profile_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"contributors_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"profile_background_tile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"muting\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"statuses_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"follow_request_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"followers_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"profile_use_background_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"default_profile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"following\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"profile_sidebar_fill_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Entitie\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Entitie\";}s:5:\"Statu\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Statu\";}}}s:6:\"Totals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:6:\"Group1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"123456789\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/123456789\";}s:9:\"223456789\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/223456789\";}}}s:5:\"Total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Group1\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Group1\";}}}s:7:\"Twitter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"users\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}}}s:6:\"Update\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"truncated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"retweet_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"retweeted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"favorited\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Entitie\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Entitie\";}s:4:\"User\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}}s:7:\"Hashtag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"indices\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"Available\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"Closest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"woeid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"parentid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"PlaceType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/PlaceType\";}}}s:5:\"Place\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:5:\"as_of\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"locations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}}s:6:\"trends\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Trend\";}}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"country_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"full_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"place_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"contained_within\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Contained_within\";}}s:12:\"Bounding_box\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Bounding_box\";}s:9:\"Attribute\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Attribute\";}}}s:5:\"Trend\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"tweet_volume\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"woeid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:7:\"Destroy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":40:{s:10:\"utc_offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"friends_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"profile_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"listed_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"profile_background_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"default_profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"favourites_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"is_translator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"profile_background_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"protected\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_link_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"is_translation_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"geo_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"profile_background_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_sidebar_border_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_text_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"verified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"profile_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"contributors_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"profile_background_tile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"muting\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"statuses_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"follow_request_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"followers_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"profile_use_background_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"default_profile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"following\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"profile_sidebar_fill_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Entitie\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Entitie\";}s:5:\"Statu\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Statu\";}}}s:8:\"Incoming\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"previous_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"next_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"previous_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ids\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"next_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"Historical\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"Types-by-tweet-id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Types-by-tweet-id\";}}}s:17:\"Types-by-tweet-id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"123456789\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/123456789\";}s:9:\"223456789\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/223456789\";}s:9:\"323456789\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/323456789\";}}}s:6:\"Lookup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":39:{s:10:\"utc_offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"friends_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"profile_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"listed_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"profile_background_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"default_profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"favourites_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"is_translator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"profile_background_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"protected\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_link_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"show_all_inline_media\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"geo_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"profile_background_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_sidebar_border_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_text_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"verified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"profile_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"contributors_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"profile_background_tile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"follow_request_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"statuses_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"default_profile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_use_background_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"followers_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"following\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"profile_sidebar_fill_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Statu\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Statu\";}}}s:7:\"Account\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":38:{s:10:\"utc_offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"friends_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"profile_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"listed_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"profile_background_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"default_profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"favourites_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"is_translator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"profile_background_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"protected\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_link_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"show_all_inline_media\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"geo_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"profile_background_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_sidebar_border_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_text_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"verified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"profile_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"contributors_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"profile_background_tile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"follow_request_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"statuses_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"default_profile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"followers_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"following\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_use_background_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"profile_sidebar_fill_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Entries\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"Memberships\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"Membership\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"previous_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"next_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"previous_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"next_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"lists\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/List\";}}}}s:6:\"Tweets\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"Tweet\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"statuses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Statuse\";}}s:15:\"Search_metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Search_metadata\";}}}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"result_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"iso_language_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"Search_metadata\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"next_results\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"since_id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"max_id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"max_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"since_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"refresh_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"completed_in\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:11:\"Subscribers\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"Subscriber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"previous_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"next_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"previous_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"next_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"users\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}}}s:4:\"Sent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:21:\"recipient_screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"sender_screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"sender_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"recipient_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Entitie\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Entitie\";}s:6:\"Sender\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Sender\";}s:9:\"Recipient\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Recipient\";}}}s:6:\"Sender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":38:{s:10:\"utc_offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"friends_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"profile_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"listed_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"profile_background_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"default_profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"favourites_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"is_translator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"profile_background_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"protected\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_link_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"show_all_inline_media\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"geo_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"profile_background_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_sidebar_border_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_text_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"verified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"profile_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"contributors_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"profile_background_tile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"follow_request_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"statuses_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"default_profile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"followers_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"following\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_use_background_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"profile_sidebar_fill_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"Recipient\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":37:{s:10:\"utc_offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"friends_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"profile_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"listed_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"profile_background_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"default_profile_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"favourites_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"is_translator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"profile_background_image_url_https\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"protected\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"screen_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"id_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_link_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"show_all_inline_media\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"geo_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"profile_background_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_sidebar_border_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"profile_text_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"verified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"profile_image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"contributors_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"profile_background_tile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"follow_request_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"statuses_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"default_profile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"followers_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"following\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"profile_use_background_image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"profile_sidebar_fill_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Upload\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"media_id_string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"media_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"expires_after_secs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}}s:5:\"Image\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:1:\"w\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:1:\"h\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"image_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"Subscriptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"Subscription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"previous_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"next_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"previous_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"next_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"lists\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/List\";}}}}s:8:\"Outgoing\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"previous_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"next_cursor\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"previous_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ids\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:15:\"next_cursor_str\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"Engagement\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"2015-09-15\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/2015-09-15\";}s:10:\"2015-09-14\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/2015-09-14\";}s:17:\"Hourly-time-serie\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Hourly-time-serie\";}}}s:10:\"2015-09-15\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":22:{s:2:\"10\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"11\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"12\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"13\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"14\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"15\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"16\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"17\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"18\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"19\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"20\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"21\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"00\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"01\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"02\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"03\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"04\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"05\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"06\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"07\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"08\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"09\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"2015-09-14\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"17\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"18\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"19\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"20\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"21\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"22\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"23\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"Hourly-time-serie\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"123456789\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/123456789\";}}}s:10:\"Impression\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"2015-09-15\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/2015-09-15\";}s:10:\"2015-09-14\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/2015-09-14\";}}}s:6:\"Search\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Result\";}s:5:\"Query\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}s:13:\"/search/tweet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions//search/tweet\";}}}s:5:\"Query\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Param\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Param\";}}}s:9:\"Attribute\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:16:\"Contained_within\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"country_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"full_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"place_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Bounding_box\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Bounding_box\";}s:9:\"Attribute\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Attribute\";}}}s:6:\"Result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"places\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Place\";}}}}s:12:\"Bounding_box\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"coordinates\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"Application\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Resource\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}s:18:\"Rate_limit_context\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Rate_limit_context\";}}}s:4:\"Help\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"/help/privacy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions//help/privacy\";}s:14:\"/help/language\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions//help/language\";}s:19:\"/help/configuration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions//help/configuration\";}s:8:\"/help/to\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions//help/to\";}}}s:23:\"/statuses/retweeters/id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:18:\"/statuses/show/:id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:18:\"/users/contributee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:18:\"/users/contributor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:13:\"/help/privacy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:19:\"/help/configuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:18:\"Rate_limit_context\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"/users/suggestions/:slug\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:16:\"/statuses/oembed\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:24:\"/statuses/retweets_of_me\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:14:\"/help/language\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:15:\"/users/show/:id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:8:\"/help/to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:23:\"/statuses/user_timeline\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:13:\"/users/lookup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Help\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Help\";}s:6:\"Search\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Search\";}s:7:\"Statuse\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Statuse\";}s:4:\"User\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}}s:17:\"/users/suggestion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:13:\"/users/search\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:31:\"/users/suggestions/:slug/member\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:23:\"/statuses/home_timeline\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:21:\"/users/profile_banner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:13:\"/search/tweet\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:27:\"/statuses/mentions_timeline\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:22:\"/statuses/retweets/:id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:16:\"/statuses/lookup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"reset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}"
...
