---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:26:\"support@cloud-elements.com\";}s:5:\"title\";s:9:\"Instances\";s:7:\"version\";s:6:\"api-v2\";}"
host: api.openconnectors.ext.hanatrial.ondemand.com
basePath: /elements/api-v2
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":28:{s:22:\"AccountAnalyticsRecord\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"accountId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InstanceAnalyticsRecord\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"instanceId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:21:\"AccountAnalyticsEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AccountAnalyticsRecord\";}}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InstanceAnalyticsEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/InstanceAnalyticsRecord\";}}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AnalyticsEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"Configuration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ConfigurationProperty\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ConfigurationProperty\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"<key>\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ConfigurationPropertyMap\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:35:\"<replace_your_config_property_name>\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Definition\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"fields\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Field\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Dictionary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"<object_name>\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Definition\";}s:5:\"level\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Element\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"authenticationType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"configDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"createdDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"existingAccountDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"hub\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"signupURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"transformationsEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"trialAccount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:23:\"trialAccountDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"typeOauth\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"updatedDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ElementInstance\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":18:{s:15:\"cacheTimeToLive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"cachingEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"channelName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"configuration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ConfigurationPropertyMap\";}s:11:\"createdDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"disabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"element\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Element\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"maxCacheSize\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"providerData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProviderPropertyMap\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"token\";O:8:\"stdClass\":0:{}s:11:\"updatedDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"traceLoggingEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"valid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}s:8:\"required\";a:1:{i:0;s:14:\"cachingEnabled\";}s:4:\"type\";s:6:\"object\";}s:21:\"ElementInstanceConfig\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"hideFromConsole\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"propertyValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ElementInstanceConfigUpdate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"propertyValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Field\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ProviderPropertyMap\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:37:\"<replace_your_provider_property_name>\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"emailAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Transformation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"configuration\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Configuration\";}s:4:\"type\";s:5:\"array\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/TransformationField\";}s:4:\"type\";s:5:\"array\";}s:5:\"level\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"vendorName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"TransformationField\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"configuration\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Configuration\";}s:4:\"type\";s:5:\"array\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"vendorPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"vendorType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"TraceLoggingConfig\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:84:\"The
  duration, in minutes, to enable trace-level logging for. Defaults to 30 minutes.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"TransformationLibrary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"<object_name>\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Transformation\";}}s:4:\"type\";s:6:\"object\";}s:20:\"EventElementInstance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"eventId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"elementInstanceId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"notificationId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"notifiedData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"createdDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"updatedDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Event\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"eventElementInstances\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EventElementInstance\";}}s:12:\"providerData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"notifiedData\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:9:\"eventDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"BulkStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Status
  of the bulk upload.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"batchId\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Contact/Leads
  loaded\";s:4:\"type\";s:6:\"number\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"numOfLeadsProcessed\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Contact/Leads
  loaded\";s:4:\"type\";s:6:\"number\";}s:15:\"numOfRowsFailed\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Failed
  count\";s:4:\"type\";s:6:\"number\";}s:20:\"numOfRowsWithWarning\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Contact/Leads
  that had warnings\";s:4:\"type\";s:6:\"number\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Status
  of the bulk job\";s:4:\"type\";s:6:\"string\";}}}s:8:\"BulkLoad\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"BulkLoad
  response of bulk upload.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Id
  of the bulk job\";s:4:\"type\";s:6:\"number\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Status
  of the bulk job\";s:4:\"type\";s:6:\"string\";}}}s:9:\"BulkQuery\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"BulkLoad
  response of bulk download.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Id
  of the bulk job\";s:4:\"type\";s:6:\"number\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Status
  of the bulk job\";s:4:\"type\";s:6:\"string\";}}}s:4:\"Pong\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"dateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"endpoint\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"ModelDate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
