---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1794:\"<fullname>AWS
  Resource Groups</fullname> <p>AWS Resource Groups lets you organize AWS resources
  such as Amazon EC2 instances, Amazon Relational Database Service databases, and
  Amazon S3 buckets into groups using criteria that you define as tags. A resource
  group is a collection of resources that match the resource types specified in a
  query, and share one or more tags or portions of tags. You can create a group of
  resources based on their roles in your cloud infrastructure, lifecycle stages, regions,
  application layers, or virtually any criteria. Resource groups enable you to automate
  management tasks, such as those in AWS Systems Manager Automation documents, on
  tag-related resources in AWS Systems Manager. Groups of tagged resources also let
  you quickly view a custom console in AWS Systems Manager that shows AWS Config compliance
  and other monitoring data about member resources.</p> <p>To create a resource group,
  build a resource query, and specify tags that identify the criteria that members
  of the group have in common. Tags are key-value pairs.</p> <p>For more information
  about Resource Groups, see the <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/welcome.html\">AWS
  Resource Groups User Guide</a>.</p> <p>AWS Resource Groups uses a REST-compliant
  API that you can use to perform the following types of operations.</p> <ul> <li>
  <p>Create, Read, Update, and Delete (CRUD) operations on resource groups and resource
  query entities</p> </li> <li> <p>Applying, editing, and removing tags from resource
  groups</p> </li> <li> <p>Resolving resource group member ARNs so they can be returned
  as search results</p> </li> <li> <p>Getting data about resources that are members
  of a group</p> </li> <li> <p>Searching AWS resources based on a resource query</p>
  </li> </ul>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache 2.0
  License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:19:\"AWS
  Resource Groups\";s:7:\"version\";s:10:\"2017-11-27\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:99:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/resource-groups-2017-11-27.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:15:\"resource-groups\";}"
host: resource-groups.amazonaws.com
basePath: /
paths:
  /groups:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a group with a specified name, description, and resource
        query.
      operationId: CreateGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateGroupInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupOutput'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        482:
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        483:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        484:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /groups-list:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of existing resource groups in your account.
      operationId: ListGroups
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListGroupsInput'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListGroupsOutput'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        482:
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        483:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        484:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /groups/{GroupName}:
    delete:
      description: Deletes a specified resource group. Deleting a resource group does
        not delete resources that are members of the group; it only deletes the group
        structure.
      operationId: DeleteGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteGroupInput'
      - in: path
        name: GroupName
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteGroupOutput'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    get:
      description: Returns information about a specified resource group.
      operationId: GetGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetGroupInput'
      - in: path
        name: GroupName
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetGroupOutput'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates an existing group with a new or changed description. You
        cannot update the name of a resource group.
      operationId: UpdateGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateGroupInput'
      - in: path
        name: GroupName
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateGroupOutput'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /groups/{GroupName}/query:
    get:
      description: Returns the resource query associated with the specified resource
        group.
      operationId: GetGroupQuery
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetGroupQueryInput'
      - in: path
        name: GroupName
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetGroupQueryOutput'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the resource query of a group.
      operationId: UpdateGroupQuery
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateGroupQueryInput'
      - in: path
        name: GroupName
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateGroupQueryOutput'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /groups/{GroupName}/resource-identifiers-list:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of ARNs of resources that are members of a specified
        resource group.
      operationId: ListGroupResources
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListGroupResourcesInput'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      - in: path
        name: GroupName
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListGroupResourcesOutput'
        480:
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        486:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /resources/search:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of AWS resource identifiers that matches a specified
        query. The query uses the same format as a resource query in a CreateGroup
        or UpdateGroupQuery operation.
      operationId: SearchResources
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/SearchResourcesInput'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SearchResourcesOutput'
        480:
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  /resources/{Arn}/tags:
    get:
      description: Returns a list of tags that are associated with a resource, specified
        by an ARN.
      operationId: GetTags
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetTagsInput'
      - in: path
        name: Arn
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetTagsOutput'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Deletes specified tags from a specified resource.
      operationId: Untag
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UntagInput'
      - in: path
        name: Arn
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UntagOutput'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    put:
      description: Adds specified tags to a resource with the specified ARN. Existing
        tags on a resource are not changed if they are not specified in the request
        parameters.
      operationId: Tag
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/TagInput'
      - in: path
        name: Arn
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/TagOutput'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        482:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        483:
          description: MethodNotAllowedException
          schema:
            $ref: '#/definitions/MethodNotAllowedException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":66:{s:19:\"BadRequestException\";O:8:\"stdClass\":0:{}s:16:\"CreateGroupInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/GroupDescription\";s:11:\"description\";s:164:\"The
  description of the resource group. Descriptions can have a maximum of 511 characters,
  including letters, numbers, hyphens, underscores, punctuation, and spaces.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GroupName\";s:11:\"description\";s:404:\"The
  name of the group, which is the identifier of the group in other operations. A resource
  group name cannot be updated after it is created. A resource group name can have
  a maximum of 128 characters, including letters, numbers, hyphens, dots, and underscores.
  The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved.
  A resource group name must be unique within your account.\";}s:13:\"ResourceQuery\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResourceQuery\";s:11:\"description\";s:81:\"The
  resource query that determines which AWS resources are members of this group.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:205:\"The
  tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag
  keys can have a maximum character length of 128 characters, and tag values can have
  a maximum length of 256 characters.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:13:\"ResourceQuery\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateGroupOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Group\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Group\";s:11:\"description\";s:61:\"A
  full description of the resource group after it is created.\";}s:13:\"ResourceQuery\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResourceQuery\";s:11:\"description\";s:45:\"The
  resource query associated with the group.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:35:\"The
  tags associated with the group.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DeleteGroupInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteGroupOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Group\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Group\";s:11:\"description\";s:49:\"A
  full description of the deleted resource group.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ForbiddenException\";O:8:\"stdClass\":0:{}s:13:\"GetGroupInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"GetGroupOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Group\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Group\";s:11:\"description\";s:41:\"A
  full description of the resource group.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetGroupQueryInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"GetGroupQueryOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GroupQuery\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/GroupQuery\";s:11:\"description\";s:55:\"The
  resource query associated with the specified group.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"GetTagsInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"GetTagsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/GroupArn\";s:11:\"description\";s:31:\"The
  ARN of the tagged resource.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:48:\"The
  tags associated with the specified resource.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Group\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"A
  resource group.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/GroupDescription\";s:11:\"description\";s:38:\"The
  description of the resource group.\";}s:8:\"GroupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/GroupArn\";s:11:\"description\";s:28:\"The
  ARN of a resource group.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GroupName\";s:11:\"description\";s:29:\"The
  name of a resource group.\";}}s:8:\"required\";a:2:{i:0;s:8:\"GroupArn\";i:1;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:8:\"GroupArn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:84:\"arn:aws:resource-groups:[a-z]{2}-[a-z]+-\\d{1}:[0-9]{12}:group/[a-zA-Z0-9_\\.-]{1,128}\";s:4:\"type\";s:6:\"string\";}s:16:\"GroupDescription\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:512;s:7:\"pattern\";s:18:\"[\\sa-zA-Z0-9_\\.-]*\";s:4:\"type\";s:6:\"string\";}s:11:\"GroupFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:96:\"A
  filter name and value pair that is used to obtain more specific results from a list
  of groups.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/GroupFilterName\";s:11:\"description\";s:56:\"The
  name of the filter. Filter names are case-sensitive.\";}s:6:\"Values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/GroupFilterValues\";s:11:\"description\";s:99:\"One
  or more filter values. Allowed filter values vary by group filter name, and are
  case-sensitive.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:6:\"Values\";}s:4:\"type\";s:6:\"object\";}s:15:\"GroupFilterList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GroupFilter\";}s:4:\"type\";s:5:\"array\";}s:15:\"GroupFilterName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:13:\"resource-type\";}s:4:\"type\";s:6:\"string\";}s:16:\"GroupFilterValue\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:17:\"GroupFilterValues\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/GroupFilterValue\";}s:8:\"maxItems\";i:5;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:15:\"GroupIdentifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  ARN and group name of a group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"GroupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/GroupArn\";s:11:\"description\";s:28:\"The
  ARN of a resource group.\";}s:9:\"GroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GroupName\";s:11:\"description\";s:29:\"The
  name of a resource group.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GroupIdentifierList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/GroupIdentifier\";}s:4:\"type\";s:5:\"array\";}s:9:\"GroupList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:4:\"type\";s:5:\"array\";}s:9:\"GroupName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:16:\"[a-zA-Z0-9_\\.-]+\";s:4:\"type\";s:6:\"string\";}s:10:\"GroupQuery\";O:8:\"stdClass\":4:{s:11:\"description\";s:108:\"The
  underlying resource query of a resource group. Resources that match query results
  are part of the group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"GroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GroupName\";s:11:\"description\";s:79:\"The
  name of a resource group that is associated with a specific resource query.\";}s:13:\"ResourceQuery\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResourceQuery\";s:11:\"description\";s:101:\"The
  resource query which determines which AWS resources are members of the associated
  resource group.\";}}s:8:\"required\";a:2:{i:0;s:9:\"GroupName\";i:1;s:13:\"ResourceQuery\";}s:4:\"type\";s:6:\"object\";}s:28:\"InternalServerErrorException\";O:8:\"stdClass\":0:{}s:23:\"ListGroupResourcesInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ResourceFilterList\";s:11:\"description\";s:334:\"<p>Filters,
  formatted as ResourceFilter objects, that you want to apply to a ListGroupResources
  operation.</p> <ul> <li> <p> <code>resource-type</code> - Filter resources by their
  type. Specify up to five resource types in the format AWS::ServiceCode::ResourceType.
  For example, AWS::EC2::Instance, or AWS::S3::Bucket.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListGroupResourcesOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:108:\"The
  NextToken value to include in a subsequent <code>ListGroupResources</code> request,
  to get more results.\";}s:11:\"QueryErrors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/QueryErrorList\";s:11:\"description\";s:282:\"A
  list of <code>QueryError</code> objects. Each error is an object that contains <code>ErrorCode</code>
  and <code>Message</code> structures. Possible values for <code>ErrorCode</code>
  are <code>CLOUDFORMATION_STACK_INACTIVE</code> and <code>CLOUDFORMATION_STACK_NOT_EXISTING</code>.\";}s:19:\"ResourceIdentifiers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceIdentifierList\";s:11:\"description\";s:90:\"The
  ARNs and resource types of resources that are members of the group that you specified.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ListGroupsInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/GroupFilterList\";s:11:\"description\";s:323:\"<p>Filters,
  formatted as GroupFilter objects, that you want to apply to a ListGroups operation.</p>
  <ul> <li> <p> <code>resource-type</code> - Filter groups by resource type. Specify
  up to five resource types in the format AWS::ServiceCode::ResourceType. For example,
  AWS::EC2::Instance, or AWS::S3::Bucket.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListGroupsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"GroupIdentifiers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/GroupIdentifierList\";s:11:\"description\";s:114:\"A
  list of GroupIdentifier objects. Each identifier is an object that contains both
  the GroupName and the GroupArn.\";}s:6:\"Groups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GroupList\";s:11:\"description\";s:81:\"A
  list of resource groups.This field is deprecated, use GroupIdentifiers instead.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:100:\"The
  NextToken value to include in a subsequent <code>ListGroups</code> request, to get
  more results.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:50;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:25:\"MethodNotAllowedException\";O:8:\"stdClass\":0:{}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"NotFoundException\";O:8:\"stdClass\":0:{}s:5:\"Query\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:2048;s:4:\"type\";s:6:\"string\";}s:10:\"QueryError\";O:8:\"stdClass\":3:{s:11:\"description\";s:481:\"A
  two-part error structure that can occur in <code>ListGroupResources</code> or <code>SearchResources</code>
  operations on CloudFormation stack-based queries. The error occurs if the CloudFormation
  stack on which the query is based either does not exist, or has a status that renders
  the stack inactive. A <code>QueryError</code> occurrence does not necessarily mean
  that AWS Resource Groups could not complete the operation, but the resulting group
  might have no member resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/QueryErrorCode\";s:11:\"description\";s:114:\"Possible
  values are <code>CLOUDFORMATION_STACK_INACTIVE</code> and <code>CLOUDFORMATION_STACK_NOT_EXISTING</code>.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/QueryErrorMessage\";s:11:\"description\";s:347:\"A
  message that explains the <code>ErrorCode</code> value. Messages might state that
  the specified CloudFormation stack does not exist (or no longer exists). For <code>CLOUDFORMATION_STACK_INACTIVE</code>,
  the message typically states that the CloudFormation stack has a status that is
  not (or no longer) active, such as <code>CREATE_FAILED</code>.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"QueryErrorCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:29:\"CLOUDFORMATION_STACK_INACTIVE\";i:1;s:33:\"CLOUDFORMATION_STACK_NOT_EXISTING\";}s:4:\"type\";s:6:\"string\";}s:14:\"QueryErrorList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/QueryError\";}s:4:\"type\";s:5:\"array\";}s:17:\"QueryErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"QueryType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:15:\"TAG_FILTERS_1_0\";i:1;s:24:\"CLOUDFORMATION_STACK_1_0\";}s:4:\"type\";s:6:\"string\";}s:11:\"ResourceArn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:60:\"arn:aws:[a-z0-9\\-]*:([a-z]{2}-[a-z]+-\\d{1})?:([0-9]{12})?:.+\";s:4:\"type\";s:6:\"string\";}s:14:\"ResourceFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:99:\"A
  filter name and value pair that is used to obtain more specific results from a list
  of resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ResourceFilterName\";s:11:\"description\";s:56:\"The
  name of the filter. Filter names are case-sensitive.\";}s:6:\"Values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ResourceFilterValues\";s:11:\"description\";s:102:\"One
  or more filter values. Allowed filter values vary by resource filter name, and are
  case-sensitive.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:6:\"Values\";}s:4:\"type\";s:6:\"object\";}s:18:\"ResourceFilterList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResourceFilter\";}s:4:\"type\";s:5:\"array\";}s:18:\"ResourceFilterName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:13:\"resource-type\";}s:4:\"type\";s:6:\"string\";}s:19:\"ResourceFilterValue\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:31:\"AWS::[a-zA-Z0-9]+::[a-zA-Z0-9]+\";s:4:\"type\";s:6:\"string\";}s:20:\"ResourceFilterValues\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ResourceFilterValue\";}s:8:\"maxItems\";i:5;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:18:\"ResourceIdentifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  ARN of a resource, and its resource type.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceArn\";s:11:\"description\";s:22:\"The
  ARN of a resource.\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceType\";s:11:\"description\";s:73:\"The
  resource type of a resource, such as <code>AWS::EC2::Instance</code>.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ResourceIdentifierList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceIdentifier\";}s:4:\"type\";s:5:\"array\";}s:13:\"ResourceQuery\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"The
  query that is used to define a resource group or a search for resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Query\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Query\";s:11:\"description\";s:43:\"The
  query that defines a group or a search.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/QueryType\";s:11:\"description\";s:2104:\"<p>The
  type of the query. The valid values in this release are <code>TAG_FILTERS_1_0</code>
  and <code>CLOUDFORMATION_STACK_1_0</code>.</p> <p> <i> <code>TAG_FILTERS_1_0:</code>
  </i> A JSON syntax that lets you specify a collection of simple tag filters for
  resource types and tags, as supported by the AWS Tagging API <a href=\"https://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/API_GetResources.html\">GetResources</a>
  operation. If you specify more than one tag key, only resources that match all tag
  keys, and at least one value of each specified tag key, are returned in your query.
  If you specify more than one value for a tag key, a resource matches the filter
  if it has a tag key value that matches <i>any</i> of the specified values.</p> <p>For
  example, consider the following sample query for resources that have two tags, <code>Stage</code>
  and <code>Version</code>, with two values each. (<code>[{\"Key\":\"Stage\",\"Values\":[\"Test\",\"Deploy\"]},{\"Key\":\"Version\",\"Values\":[\"1\",\"2\"]}]</code>)
  The results of this query might include the following.</p> <ul> <li> <p>An EC2 instance
  that has the following two tags: <code>{\"Key\":\"Stage\",\"Values\":[\"Deploy\"]}</code>,
  and <code>{\"Key\":\"Version\",\"Values\":[\"2\"]}</code> </p> </li> <li> <p>An
  S3 bucket that has the following two tags: {\"Key\":\"Stage\",\"Values\":[\"Test\",\"Deploy\"]},
  and {\"Key\":\"Version\",\"Values\":[\"1\"]}</p> </li> </ul> <p>The query would
  not return the following results, however. The following EC2 instance does not have
  all tag keys specified in the filter, so it is rejected. The RDS database has all
  of the tag keys, but no values that match at least one of the specified tag key
  values in the filter.</p> <ul> <li> <p>An EC2 instance that has only the following
  tag: <code>{\"Key\":\"Stage\",\"Values\":[\"Deploy\"]}</code>.</p> </li> <li> <p>An
  RDS database that has the following two tags: <code>{\"Key\":\"Stage\",\"Values\":[\"Archived\"]}</code>,
  and <code>{\"Key\":\"Version\",\"Values\":[\"4\"]}</code> </p> </li> </ul> <p> <i>
  <code>CLOUDFORMATION_STACK_1_0:</code> </i> A JSON syntax that lets you specify
  a CloudFormation stack ARN.</p>\";}}s:8:\"required\";a:2:{i:0;s:4:\"Type\";i:1;s:5:\"Query\";}s:4:\"type\";s:6:\"object\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:22:\"AWS::[a-zA-Z0-9]+::\\w+\";s:4:\"type\";s:6:\"string\";}s:20:\"SearchResourcesInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:132:\"The
  maximum number of group member ARNs returned by <code>SearchResources</code> in
  paginated output. By default, this number is 50.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:204:\"The
  NextToken value that is returned in a paginated <code>SearchResources</code> request.
  To get the next page of results, run the call again, add the NextToken parameter,
  and specify the NextToken value.\";}s:13:\"ResourceQuery\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResourceQuery\";s:11:\"description\";s:90:\"The
  search query, using the same formats that are supported for resource group definition.\";}}s:8:\"required\";a:1:{i:0;s:13:\"ResourceQuery\";}s:4:\"type\";s:6:\"object\";}s:21:\"SearchResourcesOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:105:\"The
  NextToken value to include in a subsequent <code>SearchResources</code> request,
  to get more results.\";}s:11:\"QueryErrors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/QueryErrorList\";s:11:\"description\";s:282:\"A
  list of <code>QueryError</code> objects. Each error is an object that contains <code>ErrorCode</code>
  and <code>Message</code> structures. Possible values for <code>ErrorCode</code>
  are <code>CLOUDFORMATION_STACK_INACTIVE</code> and <code>CLOUDFORMATION_STACK_NOT_EXISTING</code>.\";}s:19:\"ResourceIdentifiers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceIdentifierList\";s:11:\"description\";s:90:\"The
  ARNs and resource types of resources that are members of the group that you specified.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"TagInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:218:\"The
  tags to add to the specified resource. A tag is a string-to-string map of key-value
  pairs. Tag keys can have a maximum character length of 128 characters, and tag values
  can have a maximum length of 256 characters.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:6:\"TagKey\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:31:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$\";s:4:\"type\";s:6:\"string\";}s:10:\"TagKeyList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:4:\"type\";s:5:\"array\";}s:9:\"TagOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/GroupArn\";s:11:\"description\";s:31:\"The
  ARN of the tagged resource.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:56:\"The
  tags that have been added to the specified resource.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"TagValue\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:7:\"pattern\";s:31:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$\";s:4:\"type\";s:6:\"string\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:24:\"TooManyRequestsException\";O:8:\"stdClass\":0:{}s:21:\"UnauthorizedException\";O:8:\"stdClass\":0:{}s:10:\"UntagInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Keys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TagKeyList\";s:11:\"description\";s:35:\"The
  keys of the tags to be removed.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Keys\";}s:4:\"type\";s:6:\"object\";}s:11:\"UntagOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/GroupArn\";s:11:\"description\";s:58:\"The
  ARN of the resource from which tags have been removed.\";}s:4:\"Keys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TagKeyList\";s:11:\"description\";s:40:\"The
  keys of tags that have been removed.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"UpdateGroupInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/GroupDescription\";s:11:\"description\";s:164:\"The
  description of the resource group. Descriptions can have a maximum of 511 characters,
  including letters, numbers, hyphens, underscores, punctuation, and spaces.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"UpdateGroupOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Group\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Group\";s:11:\"description\";s:69:\"The
  full description of the resource group after it has been updated.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"UpdateGroupQueryInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"ResourceQuery\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResourceQuery\";s:11:\"description\";s:89:\"The
  resource query that determines which AWS resources are members of the resource group.\";}}s:8:\"required\";a:1:{i:0;s:13:\"ResourceQuery\";}s:4:\"type\";s:6:\"object\";}s:22:\"UpdateGroupQueryOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"GroupQuery\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/GroupQuery\";s:11:\"description\";s:71:\"The
  resource query associated with the resource group after the update.\";}}s:4:\"type\";s:6:\"object\";}}"
...
