---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:24:\"info@moderatecontent.com\";}s:11:\"description\";s:118:\"Our
  FREE API blocks images with nudity. Build from the ground up, accurate models, best
  in class support, great price.\";s:14:\"termsOfService\";s:51:\"https://www.moderatecontent.com/documentation/terms\";s:5:\"title\";s:16:\"Image
  Moderation\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:99:\"https://api.apis.guru/v2/cache/logo/https_www.moderatecontent.com_img_moderate_content_com_logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:48:\"https://www.moderatecontent.com/api/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:19:\"moderatecontent.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"moderatecontent\";s:4:\"type\";s:7:\"openapi\";}}"
host: moderatecontent.com
basePath: /api
paths:
  /v2:
    get:
      description: ""
      parameters:
      - description: ""
        in: query
        name: url
        required: true
        type: string
      responses:
        200:
          description: Success
      summary: Blocks images with nudity
      tags:
      - Inappropriate Content
      operationId: v2.get
produces:
- application/json
schemes:
- https
...
