---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:60:\"Postmark makes
  sending and receiving email\nincredibly easy.\n\";s:5:\"title\";s:8:\"Postmark\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"email\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_879295889185157120_ZYlwxzeY_400x400.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:42:\"https://postmarkapp.com/swagger/server.yml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"postmarkapp.com\";s:13:\"x-serviceName\";s:6:\"server\";}"
host: api.postmarkapp.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":43:{s:10:\"Attachment\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"An
  attachment for an email message.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"Content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ContentID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ContentType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"AttachmentCollection\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}s:4:\"type\";s:5:\"array\";}s:24:\"BounceActivationResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Bounce\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BounceInfoResponse\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"BounceCountElement\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"BounceDumpResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Body\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Raw
  source of bounce. If no dump is available this will return an empty string.\";s:4:\"type\";s:6:\"string\";}}}s:18:\"BounceInfoResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:9:\"BouncedAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"CanActivate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"Content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Details\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"DumpAvailable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Inactive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"MessageID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"TypeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:20:\"BounceSearchResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Bounces\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BounceInfoResponse\";}s:4:\"type\";s:5:\"array\";}s:10:\"TotalCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:24:\"CreateInboundRuleRequest\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Rule\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}}}s:21:\"CreateTemplateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  contents required for creating a new template.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"HtmlBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  HTML template definition for this Template.\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  friendly display name for the template.\";s:4:\"type\";s:6:\"string\";}s:7:\"Subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  Subject template definition for this Template.\";s:4:\"type\";s:6:\"string\";}s:8:\"TextBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  Text template definition for this Template.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:7:\"Subject\";}}s:21:\"DeliveryStatsResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Bounces\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BounceCountElement\";}s:4:\"type\";s:5:\"array\";}s:13:\"InactiveMails\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:15:\"DynamicResponse\";O:8:\"stdClass\":1:{s:11:\"description\";s:65:\"The
  properties of this object will vary based request parameters.\";}s:30:\"EditServerConfigurationRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"BounceHookUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Color\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:6:\"purple\";i:1;s:4:\"blue\";i:2;s:8:\"turqoise\";i:3;s:5:\"green\";i:4;s:3:\"red\";i:5;s:6:\"yellow\";i:6;s:4:\"grey\";}s:4:\"type\";s:6:\"string\";}s:15:\"DeliveryHookUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"InboundDomain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"InboundHookUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"InboundSpamThreshold\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"OpenHookUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"PostFirstOpenOnly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"RawEmailEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"SmtpApiActivated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"TrackLinks\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:4:\"None\";i:1;s:11:\"HtmlAndText\";i:2;s:8:\"HtmlOnly\";i:3;s:8:\"TextOnly\";}s:4:\"type\";s:6:\"string\";}s:10:\"TrackOpens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:21:\"EditTagTriggerRequest\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"MatchName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"TrackOpens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:19:\"EditTemplateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  contents required for creating a new template.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"HtmlBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  HTML template definition for this Template.\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  friendly display name for the template.\";s:4:\"type\";s:6:\"string\";}s:7:\"Subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  Subject template definition for this Template.\";s:4:\"type\";s:6:\"string\";}s:10:\"TemplateId\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  ID for the template you wish to modify.\";s:4:\"type\";s:7:\"integer\";}s:8:\"TextBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  Text template definition for this Template.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"TemplateId\";}}s:20:\"EmailNameAddressPair\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"EmailWithTemplateRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:3:\"Bcc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"From\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"InlineCss\";O:8:\"stdClass\":2:{s:7:\"default\";b:1;s:4:\"type\";s:7:\"boolean\";}s:7:\"ReplyTo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"TemplateId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"TemplateModel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:2:\"To\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"TrackLinks\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"Replace
  links in content to enable \"click tracking\" stats. Default is 'null', which uses
  the server's LinkTracking setting'.\";s:4:\"enum\";a:4:{i:0;s:4:\"None\";i:1;s:11:\"HtmlAndText\";i:2;s:8:\"HtmlOnly\";i:3;s:8:\"TextOnly\";}s:4:\"type\";s:6:\"string\";}s:10:\"TrackOpens\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Activate
  open tracking for this email.\";s:4:\"type\";s:7:\"boolean\";}}}s:35:\"ExtendedMessageOpenEventInformation\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"Client\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Family\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"FirstOpen\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"Geo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Coords\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"CountryISOCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"IP\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"RegionISOCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"MessageID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"OS\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Family\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Platform\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ReadSeconds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ReceivedAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"Recipient\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:3:\"Tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"UserAgent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"HeaderCollection\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/MessageHeader\";}s:4:\"type\";s:5:\"array\";}s:20:\"InboundMessageDetail\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":16:{s:11:\"Attachments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AttachmentCollection\";}s:2:\"Cc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"CcFull\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EmailNameAddressPair\";}s:4:\"type\";s:5:\"array\";}s:4:\"Date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"From\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"FromFull\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"FromName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"MailboxHash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"MessageID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"OriginalRecipient\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"ReplyTo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"To\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"ToFull\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EmailNameAddressPair\";}s:4:\"type\";s:5:\"array\";}}}s:33:\"InboundMessageFullDetailsResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":20:{s:11:\"Attachments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AttachmentCollection\";}s:13:\"BlockedReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"Cc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"CcFull\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EmailNameAddressPair\";}s:4:\"type\";s:5:\"array\";}s:4:\"Date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"From\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"FromFull\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"FromName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Headers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/HeaderCollection\";}s:8:\"HtmlBody\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"MailboxHash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"MessageID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"OriginalRecipient\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"ReplyTo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"TextBody\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"To\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"ToFull\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EmailNameAddressPair\";}s:4:\"type\";s:5:\"array\";}}}s:21:\"InboundSearchResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"InboundMessages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/InboundMessageDetail\";}s:4:\"type\";s:5:\"array\";}s:10:\"TotalCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:19:\"MessageEventDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"Details\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"BounceID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"DeliveryMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"DestinationIP\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"DestinationServer\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Summary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"ReceivedAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"Recipient\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"MessageHeader\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"A
  single header for an email message.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  header's name.\";s:4:\"type\";s:6:\"string\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  header's value.\";s:4:\"type\";s:6:\"string\";}}}s:25:\"MessageOpenSearchResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Opens\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/ExtendedMessageOpenEventInformation\";}s:4:\"type\";s:5:\"array\";}s:10:\"TotalCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:21:\"OutboundMessageDetail\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"Attachments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AttachmentCollection\";}s:3:\"Bcc\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EmailNameAddressPair\";}s:4:\"type\";s:5:\"array\";}s:2:\"Cc\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EmailNameAddressPair\";}s:4:\"type\";s:5:\"array\";}s:4:\"From\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"MessageID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ReceivedAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"Recipients\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"To\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EmailNameAddressPair\";}s:4:\"type\";s:5:\"array\";}s:10:\"TrackLinks\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:4:\"None\";i:1;s:11:\"HtmlAndText\";i:2;s:8:\"HtmlOnly\";i:3;s:8:\"TextOnly\";}s:4:\"type\";s:6:\"string\";}s:10:\"TrackOpens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:30:\"OutboundMessageDetailsResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":17:{s:11:\"Attachments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AttachmentCollection\";}s:3:\"Bcc\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EmailNameAddressPair\";}s:4:\"type\";s:5:\"array\";}s:4:\"Body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"Cc\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EmailNameAddressPair\";}s:4:\"type\";s:5:\"array\";}s:4:\"From\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"HtmlBody\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"MessageEvents\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/MessageEventDetails\";}s:4:\"type\";s:5:\"array\";}s:9:\"MessageID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ReceivedAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"Recipients\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"TextBody\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"To\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EmailNameAddressPair\";}s:4:\"type\";s:5:\"array\";}s:10:\"TrackLinks\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:4:\"None\";i:1;s:11:\"HtmlAndText\";i:2;s:8:\"HtmlOnly\";i:3;s:8:\"TextOnly\";}s:4:\"type\";s:6:\"string\";}s:10:\"TrackOpens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:27:\"OutboundMessageDumpResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Body\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Raw
  source of message. If no dump is available this will return an empty string.\";s:4:\"type\";s:6:\"string\";}}}s:29:\"OutboundOverviewStatsResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":17:{s:10:\"BounceRate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Bounced\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Opens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"SMTPAPIErrors\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"SpamComplaints\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"SpamComplaintsRate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"TotalClicks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"TotalTrackedLinksSent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Tracked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"UniqueLinksClicked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"UniqueOpens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"WithClientRecorded\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"WithLinkTracking\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"WithOpenTracking\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"WithPlatformRecorded\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"WithReadTimeRecorded\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:22:\"OutboundSearchResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Messages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/OutboundMessageDetail\";}s:4:\"type\";s:5:\"array\";}s:10:\"TotalCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:21:\"SendEmailBatchRequest\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/SendEmailRequest\";}s:4:\"type\";s:5:\"array\";}s:22:\"SendEmailBatchResponse\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SendEmailResponse\";}s:4:\"type\";s:5:\"array\";}s:16:\"SendEmailRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"Attachments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AttachmentCollection\";}s:3:\"Bcc\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Bcc
  recipient email address. Multiple addresses are comma seperated. Max 50.\";s:4:\"type\";s:6:\"string\";}s:2:\"Cc\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Recipient
  email address. Multiple addresses are comma seperated. Max 50.\";s:4:\"type\";s:6:\"string\";}s:4:\"From\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  sender email address. Must have a registered and confirmed Sender Signature.\";s:4:\"type\";s:6:\"string\";}s:7:\"Headers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/HeaderCollection\";}s:8:\"HtmlBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"If
  no TextBody specified HTML email message\";s:4:\"type\";s:6:\"string\";}s:7:\"ReplyTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Reply
  To override email address. Defaults to the Reply To set in the sender signature.\";s:4:\"type\";s:6:\"string\";}s:7:\"Subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Email
  Subject\";s:4:\"type\";s:6:\"string\";}s:3:\"Tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Email
  tag that allows you to categorize outgoing emails and get detailed statistics.\";s:4:\"type\";s:6:\"string\";}s:8:\"TextBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"If
  no HtmlBody specified Plain text email message\";s:4:\"type\";s:6:\"string\";}s:2:\"To\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Recipient
  email address. Multiple addresses are comma seperated. Max 50.\";s:4:\"type\";s:6:\"string\";}s:10:\"TrackLinks\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"Replace
  links in content to enable \"click tracking\" stats. Default is 'null', which uses
  the server's LinkTracking setting'.\";s:4:\"enum\";a:4:{i:0;s:4:\"None\";i:1;s:11:\"HtmlAndText\";i:2;s:8:\"HtmlOnly\";i:3;s:8:\"TextOnly\";}s:4:\"type\";s:6:\"string\";}s:10:\"TrackOpens\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Activate
  open tracking for this email.\";s:4:\"type\";s:7:\"boolean\";}}}s:17:\"SendEmailResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  standard response when a postmark message is sent\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"MessageID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"SubmittedAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"To\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"SentCountsResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  result of a get sent counts operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Days\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:4:\"type\";s:5:\"array\";}s:4:\"Sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:27:\"ServerConfigurationResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":18:{s:9:\"ApiTokens\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"BounceHookUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Color\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:6:\"purple\";i:1;s:4:\"blue\";i:2;s:8:\"turqoise\";i:3;s:5:\"green\";i:4;s:3:\"red\";i:5;s:6:\"yellow\";i:6;s:4:\"grey\";}s:4:\"type\";s:6:\"string\";}s:15:\"DeliveryHookUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"InboundAddress\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:13:\"InboundDomain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"InboundHash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"InboundHookUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"InboundSpamThreshold\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"OpenHookUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"PostFirstOpenOnly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"RawEmailEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"ServerLink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"SmtpApiActivated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"TrackLinks\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:4:\"None\";i:1;s:11:\"HtmlAndText\";i:2;s:8:\"HtmlOnly\";i:3;s:8:\"TextOnly\";}s:4:\"type\";s:6:\"string\";}s:10:\"TrackOpens\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:24:\"StandardPostmarkResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"A
  Postmark API error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:22:\"TemplateDetailResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"Active\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Indicates
  that this template may be used for sending email.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"AssociatedServerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  ID of the Server with which this template is associated.\";s:4:\"type\";s:7:\"integer\";}s:8:\"HtmlBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  content to use for the HtmlBody when this template is used to send email.\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  display name for the template.\";s:4:\"type\";s:6:\"string\";}s:7:\"Subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  content to use for the Subject when this template is used to send email.\";s:4:\"type\";s:6:\"string\";}s:10:\"TemplateID\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  ID associated with the template.\";s:4:\"type\";s:7:\"integer\";}s:8:\"TextBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  content to use for the TextBody when this template is used to send email.\";s:4:\"type\";s:6:\"string\";}}}s:23:\"TemplateListingResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"Templates
  API\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Basic information for each
  Template returned from the query.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TemplateRecordResponse\";}s:4:\"type\";s:5:\"array\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  total number of Templates API associated with this server.\";s:4:\"type\";s:6:\"number\";}}}s:22:\"TemplateRecordResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Active\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"True
  if this template is currently available for use.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  display name for this template.\";s:4:\"type\";s:6:\"string\";}s:10:\"TemplateId\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  associated ID for this template.\";s:6:\"format\";s:3:\"int\";s:4:\"type\";s:6:\"number\";}}}s:23:\"TemplateValidationError\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"CharacterPosition\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"Line\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:25:\"TemplateValidationRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"HtmlBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"The
  html body content to validate. Must be specified if Subject or\nTextBody are not.
  See our template language documentation for more\ninformation on the syntax for
  this field.\n\";s:4:\"type\";s:6:\"string\";}s:26:\"InlineCssForHtmlTestRender\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:201:\"When
  HtmlBody is specified, the test render will have style blocks\ninlined as style
  attributes on matching html elements. You may disable\nthe css inlining behavior
  by passing false for this parameter.\n\";s:4:\"type\";s:7:\"boolean\";}s:7:\"Subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"The
  subject content to validate. Must be specified if HtmlBody or\nTextBody are not.
  See our template language documentation for more\ninformation on the syntax for
  this field.\n\";s:4:\"type\";s:6:\"string\";}s:8:\"TextBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"The
  text body content to validate. Must be specified if HtmlBody or\nSubject are not.
  See our template language documentation for more\ninformation on the syntax for
  this field.\n\";s:4:\"type\";s:6:\"string\";}s:15:\"TextRenderModel\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  model to be used when rendering test content.\";s:4:\"type\";s:6:\"object\";}}}s:26:\"TemplateValidationResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"AllContentIsValid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"HtmlBody\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/TemplateValidationResult\";}s:7:\"Subject\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/TemplateValidationResult\";}s:22:\"SuggestedTemplateModel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"TextBody\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/TemplateValidationResult\";}}}s:24:\"TemplateValidationResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"ContentIsValid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"RenderedContent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ValidationErrors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/TemplateValidationError\";}s:4:\"type\";s:5:\"array\";}}}}"
...
