---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:153:\"Accesses
  the latest features for managing Ad Exchange accounts, Real-Time Bidding configurations
  and auction metrics, and Marketplace programmatic deals.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:32:\"Creative
  Commons Attribution 3.0\";s:3:\"url\";s:43:\"http://creativecommons.org/licenses/by/3.0/\";}s:14:\"termsOfService\";s:36:\"https://developers.google.com/terms/\";s:5:\"title\";s:24:\"Ad
  Exchange Buyer API II\";s:7:\"version\";s:7:\"v2beta1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:70:\"https://adexchangebuyer.googleapis.com/$discovery/rest?version=v2beta1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:16:\"adexchangebuyer2\";}"
host: adexchangebuyer.googleapis.com
basePath: /
paths:
  /v2beta1/accounts/{accountId}/clients:
    get:
      description: Lists all the clients for the current sponsor buyer.
      operationId: adexchangebuyer2.accounts.clients.list
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListClientsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
    post:
      description: Creates a new client buyer.
      operationId: adexchangebuyer2.accounts.clients.create
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Client'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
  /v2beta1/accounts/{accountId}/clients/{clientAccountId}:
    get:
      description: Gets a client buyer with a given client account ID.
      operationId: adexchangebuyer2.accounts.clients.get
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      - in: path
        name: clientAccountId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Client'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
    put:
      description: Updates an existing client buyer.
      operationId: adexchangebuyer2.accounts.clients.update
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      - in: path
        name: clientAccountId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Client'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
  /v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations:
    get:
      description: Lists all the client users invitations for a clientnwith a given
        account ID.
      operationId: adexchangebuyer2.accounts.clients.invitations.list
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      - in: path
        name: clientAccountId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListClientUserInvitationsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
    post:
      description: Creates and sends out an email invitation to accessnan Ad Exchange
        client buyer account.
      operationId: adexchangebuyer2.accounts.clients.invitations.create
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      - in: path
        name: clientAccountId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ClientUserInvitation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
  /v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}:
    get:
      description: Retrieves an existing client user invitation.
      operationId: adexchangebuyer2.accounts.clients.invitations.get
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      - in: path
        name: clientAccountId
        required: true
        type: string
      - in: path
        name: invitationId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ClientUserInvitation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
  /v2beta1/accounts/{accountId}/clients/{clientAccountId}/users:
    get:
      description: Lists all the known client users for a specifiednsponsor buyer
        account ID.
      operationId: adexchangebuyer2.accounts.clients.users.list
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      - in: path
        name: clientAccountId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListClientUsersResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
  /v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}:
    get:
      description: Retrieves an existing client user.
      operationId: adexchangebuyer2.accounts.clients.users.get
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      - in: path
        name: clientAccountId
        required: true
        type: string
      - in: path
        name: userId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ClientUser'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
    put:
      description: Updates an existing client user.nOnly the user status can be changed
        on update.
      operationId: adexchangebuyer2.accounts.clients.users.update
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      - in: path
        name: clientAccountId
        required: true
        type: string
      - in: path
        name: userId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ClientUser'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
  /v2beta1/accounts/{accountId}/creatives:
    get:
      description: Lists creatives.
      operationId: adexchangebuyer2.accounts.creatives.list
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListCreativesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
    post:
      description: Creates a creative.
      operationId: adexchangebuyer2.accounts.creatives.create
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Creative'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
  /v2beta1/accounts/{accountId}/creatives/{creativeId}:
    get:
      description: Gets a creative.
      operationId: adexchangebuyer2.accounts.creatives.get
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      - in: path
        name: creativeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Creative'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
    put:
      description: Updates a creative.
      operationId: adexchangebuyer2.accounts.creatives.update
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      - in: path
        name: creativeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Creative'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
  /v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:
    get:
      description: List all creative-deal associations.
      operationId: adexchangebuyer2.accounts.creatives.dealAssociations.list
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      - in: path
        name: creativeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListDealAssociationsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
  /v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:add:
    parameters:
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
    post:
      description: Associate an existing deal with a creative.
      operationId: adexchangebuyer2.accounts.creatives.dealAssociations.add
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      - in: path
        name: creativeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
  /v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:remove:
    parameters:
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
    post:
      description: Remove the association between a deal and a creative.
      operationId: adexchangebuyer2.accounts.creatives.dealAssociations.remove
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      - in: path
        name: creativeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
  /v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching:
    parameters:
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
    post:
      description: Stops watching a creative. Will stop push notifications being sent
        to thentopics when the creative changes status.
      operationId: adexchangebuyer2.accounts.creatives.stopWatching
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      - in: path
        name: creativeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
  /v2beta1/accounts/{accountId}/creatives/{creativeId}:watch:
    parameters:
    - $ref: '#/parameters/upload_protocol'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/bearer_token'
    post:
      description: Watches a creative. Will result in push notifications being sent
        to thentopic when the creative changes status.
      operationId: adexchangebuyer2.accounts.creatives.watch
      parameters:
      - in: path
        name: accountId
        required: true
        type: string
      - in: path
        name: creativeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - accounts
  /v2beta1/{filterSetName}/bidMetrics:
    get:
      description: Lists all metrics that are measured in terms of number of bids.
      operationId: adexchangebuyer2.bidders.accounts.filterSets.bidMetrics.list
      parameters:
      - in: path
        name: filterSetName
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListBidMetricsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - bidders
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v2beta1/{filterSetName}/bidResponseErrors:
    get:
      description: List all errors that occurred in bid responses, with the number
        of bidnresponses affected for each reason.
      operationId: adexchangebuyer2.bidders.accounts.filterSets.bidResponseErrors.list
      parameters:
      - in: path
        name: filterSetName
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListBidResponseErrorsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - bidders
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v2beta1/{filterSetName}/bidResponsesWithoutBids:
    get:
      description: List all reasons for which bid responses were considered to have
        nonapplicable bids, with the number of bid responses affected for each reason.
      operationId: adexchangebuyer2.bidders.accounts.filterSets.bidResponsesWithoutBids.list
      parameters:
      - in: path
        name: filterSetName
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListBidResponsesWithoutBidsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - bidders
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v2beta1/{filterSetName}/filteredBidRequests:
    get:
      description: List all reasons that caused a bid request not to be sent for annimpression,
        with the number of bid requests not sent for each reason.
      operationId: adexchangebuyer2.bidders.accounts.filterSets.filteredBidRequests.list
      parameters:
      - in: path
        name: filterSetName
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListFilteredBidRequestsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - bidders
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v2beta1/{filterSetName}/filteredBids:
    get:
      description: List all reasons for which bids were filtered, with the number
        of bidsnfiltered for each reason.
      operationId: adexchangebuyer2.bidders.accounts.filterSets.filteredBids.list
      parameters:
      - in: path
        name: filterSetName
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListFilteredBidsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - bidders
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v2beta1/{filterSetName}/filteredBids/{creativeStatusId}/creatives:
    get:
      description: List all creatives associated with a specific reason for which
        bids werenfiltered, with the number of bids filtered for each creative.
      operationId: adexchangebuyer2.bidders.accounts.filterSets.filteredBids.creatives.list
      parameters:
      - in: path
        name: creativeStatusId
        required: true
        type: string
      - in: path
        name: filterSetName
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListCreativeStatusBreakdownByCreativeResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - bidders
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v2beta1/{filterSetName}/filteredBids/{creativeStatusId}/details:
    get:
      description: List all details associated with a specific reason for which bids
        werenfiltered, with the number of bids filtered for each detail.
      operationId: adexchangebuyer2.bidders.accounts.filterSets.filteredBids.details.list
      parameters:
      - in: path
        name: creativeStatusId
        required: true
        type: string
      - in: path
        name: filterSetName
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListCreativeStatusBreakdownByDetailResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - bidders
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v2beta1/{filterSetName}/impressionMetrics:
    get:
      description: Lists all metrics that are measured in terms of number of impressions.
      operationId: adexchangebuyer2.bidders.accounts.filterSets.impressionMetrics.list
      parameters:
      - in: path
        name: filterSetName
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListImpressionMetricsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - bidders
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v2beta1/{filterSetName}/losingBids:
    get:
      description: List all reasons for which bids lost in the auction, with the number
        ofnbids that lost for each reason.
      operationId: adexchangebuyer2.bidders.accounts.filterSets.losingBids.list
      parameters:
      - in: path
        name: filterSetName
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListLosingBidsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - bidders
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v2beta1/{filterSetName}/nonBillableWinningBids:
    get:
      description: List all reasons for which winning bids were not billable, with
        the numbernof bids not billed for each reason.
      operationId: adexchangebuyer2.bidders.accounts.filterSets.nonBillableWinningBids.list
      parameters:
      - in: path
        name: filterSetName
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListNonBillableWinningBidsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - bidders
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v2beta1/{name}:
    delete:
      description: Deletes the requested filter set from the account with the given
        accountnID.
      operationId: adexchangebuyer2.bidders.accounts.filterSets.delete
      parameters:
      - in: path
        name: name
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - bidders
    get:
      description: Retrieves the requested filter set for the account with the given
        accountnID.
      operationId: adexchangebuyer2.bidders.accounts.filterSets.get
      parameters:
      - in: path
        name: name
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/FilterSet'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - bidders
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v2beta1/{ownerName}/filterSets:
    get:
      description: Lists all filter sets for the account with the given account ID.
      operationId: adexchangebuyer2.bidders.accounts.filterSets.list
      parameters:
      - in: path
        name: ownerName
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListFilterSetsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - bidders
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates the specified filter set for the account with the given
        account ID.
      operationId: adexchangebuyer2.bidders.accounts.filterSets.create
      parameters:
      - in: path
        name: ownerName
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/FilterSet'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/adexchange.buyer
        Oauth2c:
        - https://www.googleapis.com/auth/adexchange.buyer
      tags:
      - bidders
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":57:{s:17:\"AbsoluteDateRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:298:\"An
  absolute date range, specified by its start date and end date.\nThe supported range
  of dates begins 30 days before today and ends today.\nValidity checked upon filter
  set creation. If a filter set with an absolute\ndate range is run at a later date
  more than 30 days after start_date, it will\nfail.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"endDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:135:\"The
  end date of the range (inclusive).\nMust be within the 30 days leading up to current
  date, and must be equal to\nor after start_date.\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:136:\"The
  start date of the range (inclusive).\nMust be within the 30 days leading up to current
  date, and must be equal to\nor before end_date.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"AddDealAssociationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"A
  request for associating a deal and a creative.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"association\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/CreativeDealAssociation\";s:11:\"description\";s:67:\"The
  association between a creative and a deal that should be added.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"AppContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"@OutputOnly
  The app type the restriction applies to for mobile device.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"appTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  app types this restriction applies to.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"NATIVE\";i:1;s:3:\"WEB\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AuctionContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"@OutputOnly
  The auction type the restriction applies to.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"auctionTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  auction types this restriction applies to.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:12:\"OPEN_AUCTION\";i:1;s:12:\"DIRECT_DEALS\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"BidMetricsRow\";O:8:\"stdClass\":3:{s:11:\"description\";s:181:\"The
  set of metrics that are measured in numbers of bids, representing how\nmany bids
  with the specified dimension values were considered eligible at\neach stage of the
  bidding funnel;\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"bids\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:60:\"The
  number of bids that Ad Exchange received from the buyer.\";}s:13:\"bidsInAuction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:65:\"The
  number of bids that were permitted to compete in the auction.\";}s:17:\"billedImpressions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:50:\"The
  number of bids for which the buyer was billed.\";}s:14:\"impressionsWon\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:42:\"The
  number of bids that won an impression.\";}s:21:\"measurableImpressions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:117:\"The
  number of bids for which the corresponding impression was measurable\nfor viewability
  (as defined by Active View).\";}s:13:\"rowDimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RowDimensions\";s:11:\"description\";s:71:\"The
  values of all dimensions associated with metric values in this row.\";}s:19:\"viewableImpressions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:99:\"The
  number of bids for which the corresponding impression was viewable (as\ndefined
  by Active View).\";}}s:4:\"type\";s:6:\"object\";}s:31:\"BidResponseWithoutBidsStatusRow\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"The
  number of impressions with the specified dimension values that were\nconsidered
  to have no applicable bids, as described by the specified status.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"impressionCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:87:\"The
  number of impressions for which there was a bid response with the\nspecified status.\";}s:13:\"rowDimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RowDimensions\";s:11:\"description\";s:71:\"The
  values of all dimensions associated with metric values in this row.\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  status specifying why the bid responses were considered to have no\napplicable bids.\";s:4:\"enum\";a:4:{i:0;s:18:\"STATUS_UNSPECIFIED\";i:1;s:22:\"RESPONSES_WITHOUT_BIDS\";i:2;s:34:\"RESPONSES_WITHOUT_BIDS_FOR_ACCOUNT\";i:3;s:31:\"RESPONSES_WITHOUT_BIDS_FOR_DEAL\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CalloutStatusRow\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"The
  number of impressions with the specified dimension values where the\ncorresponding
  bid request or bid response was not successful, as described by\nthe specified callout
  status.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"calloutStatusId\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"The
  ID of the callout status.\nSee [callout-status-codes](https://developers.google.com/ad-exchange/rtb/downloads/callout-status-codes).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"impressionCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:110:\"The
  number of impressions for which there was a bid request or bid response\nwith the
  specified callout status.\";}s:13:\"rowDimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RowDimensions\";s:11:\"description\";s:71:\"The
  values of all dimensions associated with metric values in this row.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Client\";O:8:\"stdClass\":3:{s:11:\"description\";s:364:\"A
  client resource represents a client buyer&mdash;an agency,\na brand, or an advertiser
  customer of the sponsor buyer.\nUsers associated with the client buyer have restricted
  access to\nthe Ad Exchange Marketplace and certain other sections\nof the Ad Exchange
  Buyer UI based on the role\ngranted to the client buyer.\nAll fields are required
  unless otherwise specified.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"clientAccountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  globally-unique numerical ID of the client.\nThe value of this field is ignored
  in create and update operations.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"clientName\";O:8:\"stdClass\":2:{s:11:\"description\";s:224:\"Name
  used to represent this client to publishers.\nYou may have multiple clients that
  map to the same entity,\nbut for each client the combination of `clientName` and
  entity\nmust be unique.\nYou can specify this field as empty.\";s:4:\"type\";s:6:\"string\";}s:8:\"entityId\";O:8:\"stdClass\":3:{s:11:\"description\";s:650:\"Numerical
  identifier of the client entity.\nThe entity can be an advertiser, a brand, or an
  agency.\nThis identifier is unique among all the entities with the same type.\n\nA
  list of all known advertisers with their identifiers is available in the\n[advertisers.txt](https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt)\nfile.\n\nA
  list of all known brands with their identifiers is available in the\n[brands.txt](https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt)\nfile.\n\nA
  list of all known agencies with their identifiers is available in the\n[agencies.txt](https://storage.googleapis.com/adx-rtb-dictionaries/agencies.txt)\nfile.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"entityName\";O:8:\"stdClass\":2:{s:11:\"description\";s:153:\"The
  name of the entity. This field is automatically fetched based on\nthe type and ID.\nThe
  value of this field is ignored in create and update operations.\";s:4:\"type\";s:6:\"string\";}s:10:\"entityType\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  type of the client entity: `ADVERTISER`, `BRAND`, or `AGENCY`.\";s:4:\"enum\";a:4:{i:0;s:23:\"ENTITY_TYPE_UNSPECIFIED\";i:1;s:10:\"ADVERTISER\";i:2;s:5:\"BRAND\";i:3;s:6:\"AGENCY\";}s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":3:{s:11:\"description\";s:198:\"The
  role which is assigned to the client buyer. Each role implies a set of\npermissions
  granted to the client. Must be one of `CLIENT_DEAL_VIEWER`,\n`CLIENT_DEAL_NEGOTIATOR`
  or `CLIENT_DEAL_APPROVER`.\";s:4:\"enum\";a:4:{i:0;s:23:\"CLIENT_ROLE_UNSPECIFIED\";i:1;s:18:\"CLIENT_DEAL_VIEWER\";i:2;s:22:\"CLIENT_DEAL_NEGOTIATOR\";i:3;s:20:\"CLIENT_DEAL_APPROVER\";}s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  status of the client buyer.\";s:4:\"enum\";a:3:{i:0;s:25:\"CLIENT_STATUS_UNSPECIFIED\";i:1;s:8:\"DISABLED\";i:2;s:6:\"ACTIVE\";}s:4:\"type\";s:6:\"string\";}s:15:\"visibleToSeller\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Whether
  the client buyer will be visible to sellers.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ClientUser\";O:8:\"stdClass\":3:{s:11:\"description\";s:406:\"A
  client user is created under a client buyer and has restricted access to\nthe Ad
  Exchange Marketplace and certain other sections\nof the Ad Exchange Buyer UI based
  on the role\ngranted to the associated client buyer.\n\nThe only way a new client
  user can be created is via accepting an\nemail invitation\n(see the\naccounts.clients.invitations.create\nmethod).\n\nAll
  fields are required unless otherwise specified.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"clientAccountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:191:\"Numerical
  account ID of the client buyer\nwith which the user is associated; the\nbuyer must
  be a client of the current sponsor buyer.\nThe value of this field is ignored in
  an update operation.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"User's
  email address. The value of this field\nis ignored in an update operation.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  status of the client user.\";s:4:\"enum\";a:4:{i:0;s:23:\"USER_STATUS_UNSPECIFIED\";i:1;s:7:\"PENDING\";i:2;s:6:\"ACTIVE\";i:3;s:8:\"DISABLED\";}s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"The
  unique numerical ID of the client user\nthat has accepted an invitation.\nThe value
  of this field is ignored in an update operation.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ClientUserInvitation\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"An
  invitation for a new client user to get access to the Ad Exchange\nBuyer UI.\nAll
  fields are required unless otherwise specified.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"clientAccountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"Numerical
  account ID of the client buyer\nthat the invited user is associated with.\nThe value
  of this field is ignored in create operations.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"The
  email address to which the invitation is sent. Email\naddresses should be unique
  among all client users under each sponsor\nbuyer.\";s:4:\"type\";s:6:\"string\";}s:12:\"invitationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"The
  unique numerical ID of the invitation that is sent to the user.\nThe value of this
  field is ignored in create operations.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Correction\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"@OutputOnly
  Shows any corrections that were applied to this creative.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"contexts\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  contexts for the correction.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ServingContext\";}s:4:\"type\";s:5:\"array\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Additional
  details about what was corrected.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  type of correction that was applied to the creative.\";s:4:\"enum\";a:12:{i:0;s:27:\"CORRECTION_TYPE_UNSPECIFIED\";i:1;s:16:\"VENDOR_IDS_ADDED\";i:2;s:21:\"SSL_ATTRIBUTE_REMOVED\";i:3;s:28:\"FLASH_FREE_ATTRIBUTE_REMOVED\";i:4;s:26:\"FLASH_FREE_ATTRIBUTE_ADDED\";i:5;s:24:\"REQUIRED_ATTRIBUTE_ADDED\";i:6;s:21:\"REQUIRED_VENDOR_ADDED\";i:7;s:19:\"SSL_ATTRIBUTE_ADDED\";i:8;s:31:\"IN_BANNER_VIDEO_ATTRIBUTE_ADDED\";i:9;s:21:\"MRAID_ATTRIBUTE_ADDED\";i:10;s:23:\"FLASH_ATTRIBUTE_REMOVED\";i:11;s:32:\"VIDEO_IN_SNIPPET_ATTRIBUTE_ADDED\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Creative\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"A
  creative and its classification data.\";s:10:\"properties\";O:8:\"stdClass\":25:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"The
  account that this creative belongs to.\nCan be used to filter the response of the\ncreatives.list\nmethod.\";s:4:\"type\";s:6:\"string\";}s:23:\"adChoicesDestinationUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  link to AdChoices destination page.\";s:4:\"type\";s:6:\"string\";}s:14:\"advertiserName\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  name of the company being advertised in the creative.\";s:4:\"type\";s:6:\"string\";}s:8:\"agencyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  agency ID for this creative.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"apiUpdateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"@OutputOnly
  The last update timestamp of the creative via API.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:10:\"attributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"All
  attributes for the ads that may be shown from this creative.\nCan be used to filter
  the response of the\ncreatives.list\nmethod.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:24:{i:0;s:21:\"ATTRIBUTE_UNSPECIFIED\";i:1;s:9:\"IS_TAGGED\";i:2;s:18:\"IS_COOKIE_TARGETED\";i:3;s:25:\"IS_USER_INTEREST_TARGETED\";i:4;s:24:\"EXPANDING_DIRECTION_NONE\";i:5;s:22:\"EXPANDING_DIRECTION_UP\";i:6;s:24:\"EXPANDING_DIRECTION_DOWN\";i:7;s:24:\"EXPANDING_DIRECTION_LEFT\";i:8;s:25:\"EXPANDING_DIRECTION_RIGHT\";i:9;s:27:\"EXPANDING_DIRECTION_UP_LEFT\";i:10;s:28:\"EXPANDING_DIRECTION_UP_RIGHT\";i:11;s:29:\"EXPANDING_DIRECTION_DOWN_LEFT\";i:12;s:30:\"EXPANDING_DIRECTION_DOWN_RIGHT\";i:13;s:30:\"EXPANDING_DIRECTION_UP_OR_DOWN\";i:14;s:33:\"EXPANDING_DIRECTION_LEFT_OR_RIGHT\";i:15;s:32:\"EXPANDING_DIRECTION_ANY_DIAGONAL\";i:16;s:35:\"EXPANDING_ACTION_ROLLOVER_TO_EXPAND\";i:17;s:36:\"INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH\";i:18;s:32:\"RICH_MEDIA_CAPABILITY_TYPE_MRAID\";i:19;s:30:\"RICH_MEDIA_CAPABILITY_TYPE_SSL\";i:20;s:39:\"RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL\";i:21;s:27:\"NATIVE_ELIGIBILITY_ELIGIBLE\";i:22;s:31:\"NATIVE_ELIGIBILITY_NOT_ELIGIBLE\";i:23;s:22:\"RENDERING_SIZELESS_ADX\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"clickThroughUrls\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  set of destination URLs for the creative.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"corrections\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"@OutputOnly
  Shows any corrections that were applied to this creative.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Correction\";}s:4:\"type\";s:5:\"array\";}s:10:\"creativeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"The
  buyer-defined creative ID of this creative.\nCan be used to filter the response
  of the\ncreatives.list\nmethod.\";s:4:\"type\";s:6:\"string\";}s:11:\"dealsStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:375:\"@OutputOnly
  The top-level deals status of this creative.\nIf disapproved, an entry for 'auctionType=DIRECT_DEALS'
  (or 'ALL') in\nserving_restrictions will also exist. Note\nthat this may be nuanced
  with other contextual restrictions, in which case,\nit may be preferable to read
  from serving_restrictions directly.\nCan be used to filter the response of the\ncreatives.list\nmethod.\";s:4:\"enum\";a:5:{i:0;s:18:\"STATUS_UNSPECIFIED\";i:1;s:11:\"NOT_CHECKED\";i:2;s:22:\"CONDITIONALLY_APPROVED\";i:3;s:8:\"APPROVED\";i:4;s:11:\"DISAPPROVED\";}s:4:\"type\";s:6:\"string\";}s:21:\"detectedAdvertiserIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"@OutputOnly
  Detected advertiser IDs, if any.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"detectedDomains\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"@OutputOnly\nThe
  detected domains for this creative.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"detectedLanguages\";O:8:\"stdClass\":3:{s:11:\"description\";s:202:\"@OutputOnly\nThe
  detected languages for this creative. The order is arbitrary. The codes\nare 2 or
  5 characters and are documented at\nhttps://developers.google.com/adwords/api/docs/appendix/languagecodes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:25:\"detectedProductCategories\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"@OutputOnly
  Detected product categories, if any.\nSee the ad-product-categories.txt file in
  the technical documentation\nfor a list of IDs.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:27:\"detectedSensitiveCategories\";O:8:\"stdClass\":3:{s:11:\"description\";s:255:\"@OutputOnly
  Detected sensitive categories, if any.\nSee the ad-sensitive-categories.txt file
  in the technical documentation for\na list of IDs. You should use these IDs along
  with the\nexcluded-sensitive-category field in the bid request to filter your bids.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:14:\"filteringStats\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FilteringStats\";s:11:\"description\";s:50:\"@OutputOnly
  The filtering stats for this creative.\";}s:4:\"html\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/HtmlContent\";s:11:\"description\";s:17:\"An
  HTML creative.\";}s:22:\"impressionTrackingUrls\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  set of URLs to be called to record an impression.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"native\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NativeContent\";s:11:\"description\";s:18:\"A
  native creative.\";}s:17:\"openAuctionStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:384:\"@OutputOnly
  The top-level open auction status of this creative.\nIf disapproved, an entry for
  'auctionType = OPEN_AUCTION' (or 'ALL') in\nserving_restrictions will also exist.
  Note\nthat this may be nuanced with other contextual restrictions, in which case,\nit
  may be preferable to read from serving_restrictions directly.\nCan be used to filter
  the response of the\ncreatives.list\nmethod.\";s:4:\"enum\";a:5:{i:0;s:18:\"STATUS_UNSPECIFIED\";i:1;s:11:\"NOT_CHECKED\";i:2;s:22:\"CONDITIONALLY_APPROVED\";i:3;s:8:\"APPROVED\";i:4;s:11:\"DISAPPROVED\";}s:4:\"type\";s:6:\"string\";}s:20:\"restrictedCategories\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"All
  restricted categories for the ads that may be shown from this creative.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:24:\"NO_RESTRICTED_CATEGORIES\";i:1;s:7:\"ALCOHOL\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"servingRestrictions\";O:8:\"stdClass\":3:{s:11:\"description\";s:222:\"@OutputOnly
  The granular status of this ad in specific contexts.\nA context here relates to
  where something ultimately serves (for example,\na physical location, a platform,
  an HTTPS vs HTTP request, or the type\nof auction).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ServingRestriction\";}s:4:\"type\";s:5:\"array\";}s:9:\"vendorIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"All
  vendor IDs for the ads that may be shown from this creative.\nSee https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt\nfor
  possible values.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"@OutputOnly
  The version of this creative.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"video\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/VideoContent\";s:11:\"description\";s:17:\"A
  video creative.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreativeDealAssociation\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  association between a creative and a deal.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  account the creative belongs to.\";s:4:\"type\";s:6:\"string\";}s:10:\"creativeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  ID of the creative associated with the deal.\";s:4:\"type\";s:6:\"string\";}s:7:\"dealsId\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  externalDealId for the deal associated with the creative.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CreativeStatusRow\";O:8:\"stdClass\":3:{s:11:\"description\";s:186:\"The
  number of bids with the specified dimension values that did not win the\nauction
  (either were filtered pre-auction or lost the auction), as described\nby the specified
  creative status.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"bidCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:45:\"The
  number of bids with the specified status.\";}s:16:\"creativeStatusId\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"The
  ID of the creative status.\nSee [creative-status-codes](https://developers.google.com/ad-exchange/rtb/downloads/creative-status-codes).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"rowDimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RowDimensions\";s:11:\"description\";s:71:\"The
  values of all dimensions associated with metric values in this row.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:475:\"Represents
  a whole calendar date, e.g. date of birth. The time of day and\ntime zone are either
  specified elsewhere or are not significant. The date\nis relative to the Proleptic
  Gregorian Calendar. The day may be 0 to\nrepresent a year and month where the day
  is not significant, e.g. credit card\nexpiration date. The year may be 0 to represent
  a month and day independent\nof year, e.g. anniversary date. Related types are google.type.TimeOfDay\nand
  `google.protobuf.Timestamp`.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"day\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Day
  of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying
  a year/month where the day is not significant.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"month\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Month
  of year. Must be from 1 to 12.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"year\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Year
  of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Disapproval\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"@OutputOnly
  The reason and details for a disapproval.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Additional
  details about the reason for disapproval.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"reason\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  categorized reason for disapproval.\";s:4:\"enum\";a:94:{i:0;s:25:\"LENGTH_OF_IMAGE_ANIMATION\";i:1;s:10:\"BROKEN_URL\";i:2;s:20:\"MEDIA_NOT_FUNCTIONAL\";i:3;s:25:\"INVALID_FOURTH_PARTY_CALL\";i:4;s:33:\"INCORRECT_REMARKETING_DECLARATION\";i:5;s:18:\"LANDING_PAGE_ERROR\";i:6;s:30:\"AD_SIZE_DOES_NOT_MATCH_AD_SLOT\";i:7;s:9:\"NO_BORDER\";i:8;s:28:\"FOURTH_PARTY_BROWSER_COOKIES\";i:9;s:11:\"LSO_OBJECTS\";i:10;s:14:\"BLANK_CREATIVE\";i:11;s:27:\"DESTINATION_URLS_UNDECLARED\";i:12;s:24:\"PROBLEM_WITH_CLICK_MACRO\";i:13;s:35:\"INCORRECT_AD_TECHNOLOGY_DECLARATION\";i:14;s:37:\"INCORRECT_DESTINATION_URL_DECLARATION\";i:15;s:30:\"EXPANDABLE_INCORRECT_DIRECTION\";i:16;s:34:\"EXPANDABLE_DIRECTION_NOT_SUPPORTED\";i:17;s:25:\"EXPANDABLE_INVALID_VENDOR\";i:18;s:24:\"EXPANDABLE_FUNCTIONALITY\";i:19;s:20:\"VIDEO_INVALID_VENDOR\";i:20;s:24:\"VIDEO_UNSUPPORTED_LENGTH\";i:21;s:24:\"VIDEO_UNSUPPORTED_FORMAT\";i:22;s:19:\"VIDEO_FUNCTIONALITY\";i:23;s:21:\"LANDING_PAGE_DISABLED\";i:24;s:17:\"MALWARE_SUSPECTED\";i:25;s:20:\"ADULT_IMAGE_OR_VIDEO\";i:26;s:18:\"INACCURATE_AD_TEXT\";i:27;s:26:\"COUNTERFEIT_DESIGNER_GOODS\";i:28;s:6:\"POP_UP\";i:29;s:26:\"INVALID_RTB_PROTOCOL_USAGE\";i:30;s:25:\"RAW_IP_ADDRESS_IN_SNIPPET\";i:31;s:29:\"UNACCEPTABLE_CONTENT_SOFTWARE\";i:32;s:36:\"UNAUTHORIZED_COOKIE_ON_GOOGLE_DOMAIN\";i:33;s:24:\"UNDECLARED_FLASH_OBJECTS\";i:34;s:23:\"INVALID_SSL_DECLARATION\";i:35;s:21:\"DIRECT_DOWNLOAD_IN_AD\";i:36;s:30:\"MAXIMUM_DOWNLOAD_SIZE_EXCEEDED\";i:37;s:34:\"DESTINATION_URL_SITE_NOT_CRAWLABLE\";i:38;s:25:\"BAD_URL_LEGAL_DISAPPROVAL\";i:39;s:35:\"PHARMA_GAMBLING_ALCOHOL_NOT_ALLOWED\";i:40;s:30:\"DYNAMIC_DNS_AT_DESTINATION_URL\";i:41;s:27:\"POOR_IMAGE_OR_VIDEO_QUALITY\";i:42;s:26:\"UNACCEPTABLE_IMAGE_CONTENT\";i:43;s:22:\"INCORRECT_IMAGE_LAYOUT\";i:44;s:25:\"IRRELEVANT_IMAGE_OR_VIDEO\";i:45;s:42:\"DESTINATION_SITE_DOES_NOT_ALLOW_GOING_BACK\";i:46;s:23:\"MISLEADING_CLAIMS_IN_AD\";i:47;s:19:\"RESTRICTED_PRODUCTS\";i:48;s:20:\"UNACCEPTABLE_CONTENT\";i:49;s:21:\"AUTOMATED_AD_CLICKING\";i:50;s:20:\"INVALID_URL_PROTOCOL\";i:51;s:29:\"UNDECLARED_RESTRICTED_CONTENT\";i:52;s:30:\"INVALID_REMARKETING_LIST_USAGE\";i:53;s:41:\"DESTINATION_SITE_NOT_CRAWLABLE_ROBOTS_TXT\";i:54;s:28:\"CLICK_TO_DOWNLOAD_NOT_AN_APP\";i:55;s:27:\"INACCURATE_REVIEW_EXTENSION\";i:56;s:25:\"SEXUALLY_EXPLICIT_CONTENT\";i:57;s:27:\"GAINING_AN_UNFAIR_ADVANTAGE\";i:58;s:25:\"GAMING_THE_GOOGLE_NETWORK\";i:59;s:25:\"DANGEROUS_PRODUCTS_KNIVES\";i:60;s:29:\"DANGEROUS_PRODUCTS_EXPLOSIVES\";i:61;s:23:\"DANGEROUS_PRODUCTS_GUNS\";i:62;s:24:\"DANGEROUS_PRODUCTS_DRUGS\";i:63;s:26:\"DANGEROUS_PRODUCTS_TOBACCO\";i:64;s:26:\"DANGEROUS_PRODUCTS_WEAPONS\";i:65;s:24:\"UNCLEAR_OR_IRRELEVANT_AD\";i:66;s:22:\"PROFESSIONAL_STANDARDS\";i:67;s:23:\"DYSFUNCTIONAL_PROMOTION\";i:68;s:25:\"INVALID_INTEREST_BASED_AD\";i:69;s:30:\"MISUSE_OF_PERSONAL_INFORMATION\";i:70;s:32:\"OMISSION_OF_RELEVANT_INFORMATION\";i:71;s:22:\"UNAVAILABLE_PROMOTIONS\";i:72;s:21:\"MISLEADING_PROMOTIONS\";i:73;s:21:\"INAPPROPRIATE_CONTENT\";i:74;s:16:\"SENSITIVE_EVENTS\";i:75;s:16:\"SHOCKING_CONTENT\";i:76;s:27:\"ENABLING_DISHONEST_BEHAVIOR\";i:77;s:22:\"TECHNICAL_REQUIREMENTS\";i:78;s:28:\"RESTRICTED_POLITICAL_CONTENT\";i:79;s:19:\"UNSUPPORTED_CONTENT\";i:80;s:22:\"INVALID_BIDDING_METHOD\";i:81;s:14:\"VIDEO_TOO_LONG\";i:82;s:30:\"VIOLATES_JAPANESE_PHARMACY_LAW\";i:83;s:25:\"UNACCREDITED_PET_PHARMACY\";i:84;s:8:\"ABORTION\";i:85;s:14:\"CONTRACEPTIVES\";i:86;s:39:\"NEED_CERTIFICATES_TO_ADVERTISE_IN_CHINA\";i:87;s:18:\"KCDSP_REGISTRATION\";i:88;s:15:\"NOT_FAMILY_SAFE\";i:89;s:26:\"CLINICAL_TRIAL_RECRUITMENT\";i:90;s:37:\"MAXIMUM_NUMBER_OF_HTTP_CALLS_EXCEEDED\";i:91;s:34:\"MAXIMUM_NUMBER_OF_COOKIES_EXCEEDED\";i:92;s:14:\"PERSONAL_LOANS\";i:93;s:25:\"UNSUPPORTED_FLASH_CONTENT\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is
  empty JSON object `{}`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"FilterSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:342:\"A
  set of filters that is applied to a request for data.\nWithin a filter set, an AND
  operation is performed across the filters\nrepresented by each field. An OR operation
  is performed across the filters\nrepresented by the multiple values of a repeated
  field. E.g.\n\"format=VIDEO AND deal_id=12 AND (seller_network_id=34 OR\nseller_network_id=56)\"\";s:10:\"properties\";O:8:\"stdClass\":14:{s:17:\"absoluteDateRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AbsoluteDateRange\";s:11:\"description\";s:107:\"An
  absolute date range, defined by a start date and an end date.\nInterpreted relative
  to Pacific time zone.\";}s:14:\"buyerAccountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  ID of the buyer account on which to filter; optional.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"creativeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  ID of the creative on which to filter; optional.\";s:4:\"type\";s:6:\"string\";}s:6:\"dealId\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  ID of the deal on which to filter; optional.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"environment\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  environment on which to filter; optional.\";s:4:\"enum\";a:3:{i:0;s:23:\"ENVIRONMENT_UNSPECIFIED\";i:1;s:3:\"WEB\";i:2;s:3:\"APP\";}s:4:\"type\";s:6:\"string\";}s:11:\"filterSetId\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"The
  ID of the filter set; unique within the account of the filter set\nowner.\nThe value
  of this field is ignored in create operations.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  format on which to filter; optional.\";s:4:\"enum\";a:3:{i:0;s:18:\"FORMAT_UNSPECIFIED\";i:1;s:7:\"DISPLAY\";i:2;s:5:\"VIDEO\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:275:\"A
  user-defined name of the filter set. Filter set names must be unique\nglobally and
  match one of the patterns:\n\n- `bidders/*/filterSets/*` (for accessing bidder-level
  troubleshooting\ndata)\n- `bidders/*/accounts/*/filterSets/*` (for accessing buyer-level\ntroubleshooting
  data)\";s:4:\"type\";s:6:\"string\";}s:14:\"ownerAccountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"The
  account ID of the buyer who owns this filter set.\nThe value of this field is ignored
  in create operations.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"platforms\";O:8:\"stdClass\":3:{s:11:\"description\";s:185:\"The
  list of platforms on which to filter; may be empty. The filters\nrepresented by
  multiple platforms are ORed together (i.e. if non-empty,\nresults must match any
  one of the platforms).\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:20:\"PLATFORM_UNSPECIFIED\";i:1;s:7:\"DESKTOP\";i:2;s:6:\"TABLET\";i:3;s:6:\"MOBILE\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"realtimeTimeRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RealtimeTimeRange\";s:11:\"description\";s:78:\"An
  open-ended realtime time range, defined by the aggregation start\ntimestamp.\";}s:17:\"relativeDateRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RelativeDateRange\";s:11:\"description\";s:113:\"A
  relative date range, defined by an offset from today and a duration.\nInterpreted
  relative to Pacific time zone.\";}s:16:\"sellerNetworkIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:382:\"The
  list of IDs of the seller (publisher) networks on which to filter;\nmay be empty.
  The filters represented by multiple seller network IDs are\nORed together (i.e.
  if non-empty, results must match any one of the\npublisher networks).\nSee [seller-network-ids](https://developers.google.com/ad-exchange/rtb/downloads/seller-network-ids)\nfile
  for the set of existing seller network IDs.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:21:\"timeSeriesGranularity\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"The
  granularity of time intervals if a time series breakdown is desired;\noptional.\";s:4:\"enum\";a:3:{i:0;s:35:\"TIME_SERIES_GRANULARITY_UNSPECIFIED\";i:1;s:6:\"HOURLY\";i:2;s:5:\"DAILY\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"FilteredBidCreativeRow\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"The
  number of filtered bids with the specified dimension values that have the\nspecified
  creative.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"bidCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:47:\"The
  number of bids with the specified creative.\";}s:10:\"creativeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  ID of the creative.\";s:4:\"type\";s:6:\"string\";}s:13:\"rowDimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RowDimensions\";s:11:\"description\";s:71:\"The
  values of all dimensions associated with metric values in this row.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"FilteredBidDetailRow\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"The
  number of filtered bids with the specified dimension values, among those\nfiltered
  due to the requested filtering reason (i.e. creative status), that\nhave the specified
  detail.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"bidCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:45:\"The
  number of bids with the specified detail.\";}s:8:\"detailId\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"The
  ID of the detail. The associated value can be looked up in the\ndictionary file
  corresponding to the DetailType in the response message.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"rowDimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RowDimensions\";s:11:\"description\";s:71:\"The
  values of all dimensions associated with metric values in this row.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"FilteringStats\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"@OutputOnly
  Filtering reasons for this creative during a period of a single\nday (from midnight
  to midnight Pacific).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:206:\"The
  day during which the data was collected.\nThe data is collected from 00:00:00 to
  23:59:59 PT.\nDuring switches from PST to PDT and back, the day may\ncontain 23
  or 25 hours of data instead of the usual 24.\";}s:7:\"reasons\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  set of filtering reasons for this date.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Reason\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"HtmlContent\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"HTML
  content for a creative.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  height of the HTML snippet in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"snippet\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  HTML snippet that displays the ad when inserted in the web page.\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  width of the HTML snippet in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Image\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"An
  image resource. You may provide a larger image than was requested,\nso long as the
  aspect ratio is preserved.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Image
  height in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  URL of the image.\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Image
  width in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ImpressionMetricsRow\";O:8:\"stdClass\":3:{s:11:\"description\";s:195:\"The
  set of metrics that are measured in numbers of impressions, representing\nhow many
  impressions with the specified dimension values were considered\neligible at each
  stage of the bidding funnel.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"availableImpressions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:109:\"The
  number of impressions available to the buyer on Ad Exchange.\nIn some cases this
  value may be unavailable.\";}s:11:\"bidRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:77:\"The
  number of impressions for which Ad Exchange sent the buyer a bid\nrequest.\";}s:16:\"inventoryMatches\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:72:\"The
  number of impressions that match the buyer's inventory pretargeting.\";}s:17:\"responsesWithBids\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:126:\"The
  number of impressions for which Ad Exchange received a response from\nthe buyer
  that contained at least one applicable bid.\";}s:13:\"rowDimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RowDimensions\";s:11:\"description\";s:71:\"The
  values of all dimensions associated with metric values in this row.\";}s:19:\"successfulResponses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:90:\"The
  number of impressions for which the buyer successfully sent a response\nto Ad Exchange.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListBidMetricsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Response
  message for listing the metrics that are measured in number of bids.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"bidMetricsRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"List
  of rows, each containing a set of bid metrics.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BidMetricsRow\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"A
  token to retrieve the next page of results.\nPass this value in the\nListBidMetricsRequest.pageToken\nfield
  in the subsequent call to the bidMetrics.list\nmethod to retrieve the next page
  of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListBidResponseErrorsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Response
  message for listing all reasons that bid responses resulted in an\nerror.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"calloutStatusRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"List
  of rows, with counts of bid responses aggregated by callout status.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CalloutStatusRow\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:211:\"A
  token to retrieve the next page of results.\nPass this value in the\nListBidResponseErrorsRequest.pageToken\nfield
  in the subsequent call to the bidResponseErrors.list\nmethod to retrieve the next
  page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"ListBidResponsesWithoutBidsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Response
  message for listing all reasons that bid responses were considered\nto have no applicable
  bids.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:32:\"bidResponseWithoutBidsStatusRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"List
  of rows, with counts of bid responses without bids aggregated by\nstatus.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/BidResponseWithoutBidsStatusRow\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:223:\"A
  token to retrieve the next page of results.\nPass this value in the\nListBidResponsesWithoutBidsRequest.pageToken\nfield
  in the subsequent call to the bidResponsesWithoutBids.list\nmethod to retrieve the
  next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ListClientUserInvitationsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"invitations\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  returned list of client users.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ClientUserInvitation\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:217:\"A
  token to retrieve the next page of results.\nPass this value in the\nListClientUserInvitationsRequest.pageToken\nfield
  in the subsequent call to the\nclients.invitations.list\nmethod to retrieve the
  next\npage of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListClientUsersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:207:\"A
  token to retrieve the next page of results.\nPass this value in the\nListClientUsersRequest.pageToken\nfield
  in the subsequent call to the\nclients.invitations.list\nmethod to retrieve the
  next\npage of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"users\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  returned list of client users.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ClientUser\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListClientsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"clients\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  returned list of clients.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Client\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:200:\"A
  token to retrieve the next page of results.\nPass this value in the\nListClientsRequest.pageToken\nfield
  in the subsequent call to the\naccounts.clients.list method\nto retrieve the next
  page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:45:\"ListCreativeStatusBreakdownByCreativeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Response
  message for listing all creatives associated with a given filtered\nbid reason.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"filteredBidCreativeRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"List
  of rows, with counts of bids with a given creative status aggregated\nby creative.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/FilteredBidCreativeRow\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:232:\"A
  token to retrieve the next page of results.\nPass this value in the\nListCreativeStatusBreakdownByCreativeRequest.pageToken\nfield
  in the subsequent call to the filteredBids.creatives.list\nmethod to retrieve the
  next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:43:\"ListCreativeStatusBreakdownByDetailResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Response
  message for listing all details associated with a given filtered bid\nreason.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"detailType\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  type of detail that the detail IDs represent.\";s:4:\"enum\";a:6:{i:0;s:23:\"DETAIL_TYPE_UNSPECIFIED\";i:1;s:18:\"CREATIVE_ATTRIBUTE\";i:2;s:6:\"VENDOR\";i:3;s:18:\"SENSITIVE_CATEGORY\";i:4;s:16:\"PRODUCT_CATEGORY\";i:5;s:18:\"DISAPPROVAL_REASON\";}s:4:\"type\";s:6:\"string\";}s:21:\"filteredBidDetailRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"List
  of rows, with counts of bids with a given creative status aggregated\nby detail.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/FilteredBidDetailRow\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:228:\"A
  token to retrieve the next page of results.\nPass this value in the\nListCreativeStatusBreakdownByDetailRequest.pageToken\nfield
  in the subsequent call to the filteredBids.details.list\nmethod to retrieve the
  next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListCreativesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  response for listing creatives.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"creatives\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  list of creatives.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Creative\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:193:\"A
  token to retrieve the next page of results.\nPass this value in the\nListCreativesRequest.page_token\nfield
  in the subsequent call to `ListCreatives` method to retrieve the next\npage of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ListDealAssociationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  response for listing creative and deal associations\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"associations\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  list of associations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CreativeDealAssociation\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:206:\"A
  token to retrieve the next page of results.\nPass this value in the\nListDealAssociationsRequest.page_token\nfield
  in the subsequent call to 'ListDealAssociation' method to retrieve\nthe next page
  of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListFilterSetsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Response
  message for listing filter sets.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"filterSets\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  filter sets belonging to the buyer.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/FilterSet\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:206:\"A
  token to retrieve the next page of results.\nPass this value in the\nListFilterSetsRequest.pageToken\nfield
  in the subsequent call to the\naccounts.filterSets.list\nmethod to retrieve the
  next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ListFilteredBidRequestsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Response
  message for listing all reasons that bid requests were filtered and\nnot sent to
  the buyer.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"calloutStatusRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"List
  of rows, with counts of filtered bid requests aggregated by callout\nstatus.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CalloutStatusRow\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:215:\"A
  token to retrieve the next page of results.\nPass this value in the\nListFilteredBidRequestsRequest.pageToken\nfield
  in the subsequent call to the filteredBidRequests.list\nmethod to retrieve the next
  page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListFilteredBidsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Response
  message for listing all reasons that bids were filtered from the\nauction.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"creativeStatusRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"List
  of rows, with counts of filtered bids aggregated by filtering reason\n(i.e. creative
  status).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CreativeStatusRow\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:201:\"A
  token to retrieve the next page of results.\nPass this value in the\nListFilteredBidsRequest.pageToken\nfield
  in the subsequent call to the filteredBids.list\nmethod to retrieve the next page
  of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListImpressionMetricsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Response
  message for listing the metrics that are measured in number of\nimpressions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"impressionMetricsRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"List
  of rows, each containing a set of impression metrics.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ImpressionMetricsRow\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:211:\"A
  token to retrieve the next page of results.\nPass this value in the\nListImpressionMetricsRequest.pageToken\nfield
  in the subsequent call to the impressionMetrics.list\nmethod to retrieve the next
  page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListLosingBidsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Response
  message for listing all reasons that bids lost in the auction.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"creativeStatusRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"List
  of rows, with counts of losing bids aggregated by loss reason (i.e.\ncreative status).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CreativeStatusRow\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"A
  token to retrieve the next page of results.\nPass this value in the\nListLosingBidsRequest.pageToken\nfield
  in the subsequent call to the losingBids.list\nmethod to retrieve the next page
  of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"ListNonBillableWinningBidsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Response
  message for listing all reasons for which a buyer was not billed for\na winning
  bid.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:221:\"A
  token to retrieve the next page of results.\nPass this value in the\nListNonBillableWinningBidsRequest.pageToken\nfield
  in the subsequent call to the nonBillableWinningBids.list\nmethod to retrieve the
  next page of results.\";s:4:\"type\";s:6:\"string\";}s:31:\"nonBillableWinningBidStatusRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"List
  of rows, with counts of bids not billed aggregated by reason.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/NonBillableWinningBidStatusRow\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"LocationContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"@OutputOnly
  The Geo criteria the restriction applies to.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"geoCriteriaIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:191:\"IDs
  representing the geo location for this context.\nPlease refer to the\n[geo-table.csv](https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv)\nfile
  for different geo criteria IDs.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"MetricValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"A
  metric value, with an expected value and a variance; represents a count\nthat may
  be either exact or estimated (i.e. when sampled).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  expected value of the metric.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"variance\";O:8:\"stdClass\":3:{s:11:\"description\";s:399:\"The
  variance (i.e. square of the standard deviation) of the metric value.\nIf value
  is exact, variance is 0.\nCan be used to calculate margin of error as a percentage
  of value, using\nthe following formula, where Z is the standard constant that depends
  on the\ndesired size of the confidence interval (e.g. for 90% confidence interval,\nuse
  Z = 1.645):\n\n  marginOfError = 100 * Z * sqrt(variance) / value\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"NativeContent\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Native
  content for a creative.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:14:\"advertiserName\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  name of the advertiser or sponsor, to be displayed in the ad creative.\";s:4:\"type\";s:6:\"string\";}s:7:\"appIcon\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Image\";s:11:\"description\";s:35:\"The
  app icon, for app download ads.\";}s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"A
  long description of the ad.\";s:4:\"type\";s:6:\"string\";}s:12:\"callToAction\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"A
  label for the button that the user is supposed to click.\";s:4:\"type\";s:6:\"string\";}s:12:\"clickLinkUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  URL that the browser/SDK will load when the user clicks the ad.\";s:4:\"type\";s:6:\"string\";}s:16:\"clickTrackingUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  URL to use for click tracking.\";s:4:\"type\";s:6:\"string\";}s:8:\"headline\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"A
  short title for the ad.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Image\";s:11:\"description\";s:14:\"A
  large image.\";}s:4:\"logo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Image\";s:11:\"description\";s:43:\"A
  smaller image, for the advertiser's logo.\";}s:16:\"priceDisplayText\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  price of the promoted app including currency info.\";s:4:\"type\";s:6:\"string\";}s:10:\"starRating\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  app rating in the app store. Must be in the range [0-5].\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"storeUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  URL to the app store to purchase/download the promoted app.\";s:4:\"type\";s:6:\"string\";}s:8:\"videoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  URL to fetch a native video ad.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"NonBillableWinningBidStatusRow\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"The
  number of winning bids with the specified dimension values for which the\nbuyer
  was not billed, as described by the specified status.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"bidCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MetricValue\";s:11:\"description\";s:45:\"The
  number of bids with the specified status.\";}s:13:\"rowDimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RowDimensions\";s:11:\"description\";s:71:\"The
  values of all dimensions associated with metric values in this row.\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  status specifying why the winning bids were not billed.\";s:4:\"enum\";a:3:{i:0;s:18:\"STATUS_UNSPECIFIED\";i:1;s:15:\"AD_NOT_RENDERED\";i:2;s:18:\"INVALID_IMPRESSION\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"PlatformContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"@OutputOnly
  The type of platform the restriction applies to.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"platforms\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  platforms this restriction applies to.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"DESKTOP\";i:1;s:7:\"ANDROID\";i:2;s:3:\"IOS\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"RealtimeTimeRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:199:\"An
  open-ended realtime time range specified by the start timestamp.\nFor filter sets
  that specify a realtime time range RTB metrics continue to\nbe aggregated throughout
  the lifetime of the filter set.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"startTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  start timestamp of the real-time RTB metrics aggregation.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Reason\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  specific filtering status and how many times it occurred.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"The
  number of times the creative was filtered for the status. The\ncount is aggregated
  across all publishers on the exchange.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"The
  filtering status code. Please refer to the\n[creative-status-codes.txt](https://storage.googleapis.com/adx-rtb-dictionaries/creative-status-codes.txt)\nfile
  for different statuses.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"RelativeDateRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:242:\"A
  relative date range, specified by an offset and a duration.\nThe supported range
  of dates begins 30 days before today and ends today.\nI.e. the limits for these
  values are:\noffset_days >= 0\nduration_days >= 1\noffset_days + duration_days <=
  30\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"durationDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"The
  number of days in the requested date range. E.g. for a range spanning\ntoday, 1.
  For a range spanning the last 7 days, 7.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"offsetDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"The
  end date of the filter set, specified as the number of days before\ntoday. E.g.
  for a range where the last date is today, 0.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:28:\"RemoveDealAssociationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"A
  request for removing the association between a deal and a creative.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"association\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/CreativeDealAssociation\";s:11:\"description\";s:69:\"The
  association between a creative and a deal that should be removed.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"RowDimensions\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"A
  response may include multiple rows, breaking down along various dimensions.\nEncapsulates
  the values of all dimensions for a given row.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"timeInterval\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";s:11:\"description\";s:43:\"The
  time interval that this row represents.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"SecurityContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"@OutputOnly
  A security context.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"securities\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  security types in this context.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:8:\"INSECURE\";i:1;s:3:\"SSL\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ServingContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  serving context for this restriction.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"all\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Matches
  all contexts.\";s:4:\"enum\";a:1:{i:0;s:14:\"SIMPLE_CONTEXT\";}s:4:\"type\";s:6:\"string\";}s:7:\"appType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AppContext\";s:11:\"description\";s:46:\"Matches
  impressions for a particular app type.\";}s:11:\"auctionType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AuctionContext\";s:11:\"description\";s:50:\"Matches
  impressions for a particular auction type.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/LocationContext\";s:11:\"description\";s:77:\"Matches
  impressions coming from users *or* publishers in a specific\nlocation.\";}s:8:\"platform\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PlatformContext\";s:11:\"description\";s:54:\"Matches
  impressions coming from a particular platform.\";}s:12:\"securityType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SecurityContext\";s:11:\"description\";s:51:\"Matches
  impressions for a particular security type.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ServingRestriction\";O:8:\"stdClass\":3:{s:11:\"description\";s:236:\"@OutputOnly
  A representation of the status of an ad in a\nspecific context. A context here relates
[...]
