---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:15:\"Amazon
  Route 53\";s:7:\"version\";s:10:\"2013-04-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:91:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/route53-2013-04-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:7:\"route53\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"amazonaws_route53\";s:4:\"type\";s:7:\"openapi\";}}"
host: route53.amazonaws.com
basePath: /
paths: ~
produces:
- text/xml
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":311:{s:12:\"AccountLimit\";O:8:\"stdClass\":4:{s:11:\"description\";s:118:\"A
  complex type that contains the type of limit that you specified in the request and
  the current value for that limit.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AccountLimitType\";s:11:\"description\";s:922:\"<p>The
  limit that you requested. Valid values include the following:</p> <ul> <li> <p>
  <b>MAX_HEALTH_CHECKS_BY_OWNER</b>: The maximum number of health checks that you
  can create using the current account.</p> </li> <li> <p> <b>MAX_HOSTED_ZONES_BY_OWNER</b>:
  The maximum number of hosted zones that you can create using the current account.</p>
  </li> <li> <p> <b>MAX_REUSABLE_DELEGATION_SETS_BY_OWNER</b>: The maximum number
  of reusable delegation sets that you can create using the current account.</p> </li>
  <li> <p> <b>MAX_TRAFFIC_POLICIES_BY_OWNER</b>: The maximum number of traffic policies
  that you can create using the current account.</p> </li> <li> <p> <b>MAX_TRAFFIC_POLICY_INSTANCES_BY_OWNER</b>:
  The maximum number of traffic policy instances that you can create using the current
  account. (Traffic policy instances are referred to as traffic flow policy records
  in the Amazon Route 53 console.)</p> </li> </ul>\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/LimitValue\";s:11:\"description\";s:78:\"The
  current value for the limit that is specified by <a>AccountLimit$Type</a>.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Type\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:16:\"AccountLimitType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:26:\"MAX_HEALTH_CHECKS_BY_OWNER\";i:1;s:25:\"MAX_HOSTED_ZONES_BY_OWNER\";i:2;s:37:\"MAX_TRAFFIC_POLICY_INSTANCES_BY_OWNER\";i:3;s:37:\"MAX_REUSABLE_DELEGATION_SETS_BY_OWNER\";i:4;s:29:\"MAX_TRAFFIC_POLICIES_BY_OWNER\";}s:4:\"type\";s:6:\"string\";}s:15:\"AlarmIdentifier\";O:8:\"stdClass\":4:{s:11:\"description\";s:155:\"A
  complex type that identifies the CloudWatch alarm that you want Amazon Route 53
  health checkers to use to determine whether this health check is healthy.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AlarmName\";s:11:\"description\";s:136:\"The
  name of the CloudWatch alarm that you want Amazon Route 53 health checkers to use
  to determine whether this health check is healthy.\";}s:6:\"Region\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CloudWatchRegion\";s:11:\"description\";s:416:\"<p>A
  complex type that identifies the CloudWatch alarm that you want Amazon Route 53
  health checkers to use to determine whether this health check is healthy.</p> <p>For
  the current list of CloudWatch regions, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#cw_region\">Amazon
  CloudWatch</a> in the <i>AWS Regions and Endpoints</i> chapter of the <i>Amazon
  Web Services General Reference</i>.</p>\";}}s:8:\"required\";a:2:{i:0;s:6:\"Region\";i:1;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:9:\"AlarmName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:18:\"AliasHealthEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"AliasTarget\";O:8:\"stdClass\":4:{s:11:\"description\";s:928:\"<p>
  <i>Alias resource record sets only:</i> Information about the CloudFront distribution,
  Elastic Beanstalk environment, ELB load balancer, Amazon S3 bucket, or Amazon Route
  53 resource record set that you're redirecting queries to. An Elastic Beanstalk
  environment must have a regionalized subdomain.</p> <p>When creating resource record
  sets for a private hosted zone, note the following:</p> <ul> <li> <p>Resource record
  sets can't be created for CloudFront distributions in a private hosted zone.</p>
  </li> <li> <p>Creating geolocation alias resource record sets or latency alias resource
  record sets in a private hosted zone is unsupported.</p> </li> <li> <p>For information
  about creating failover resource record sets in a private hosted zone, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-private-hosted-zones.html\">Configuring
  Failover in a Private Hosted Zone</a>.</p> </li> </ul>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"DNSName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/DNSName\";s:11:\"description\";s:4564:\"<p>
  <i>Alias resource record sets only:</i> The value that you specify depends on where
  you want to route queries:</p> <dl> <dt>CloudFront distribution</dt> <dd> <p>Specify
  the domain name that CloudFront assigned when you created your distribution.</p>
  <p>Your CloudFront distribution must include an alternate domain name that matches
  the name of the resource record set. For example, if the name of the resource record
  set is <i>acme.example.com</i>, your CloudFront distribution must include <i>acme.example.com</i>
  as one of the alternate domain names. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html\">Using
  Alternate Domain Names (CNAMEs)</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>
  </dd> <dt>Elastic Beanstalk environment</dt> <dd> <p>Specify the <code>CNAME</code>
  attribute for the environment. (The environment must have a regionalized domain
  name.) You can use the following methods to get the value of the CNAME attribute:</p>
  <ul> <li> <p> <i>AWS Management Console</i>: For information about how to get the
  value by using the console, see <a href=\"http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customdomains.html\">Using
  Custom Domains with AWS Elastic Beanstalk</a> in the <i>AWS Elastic Beanstalk Developer
  Guide</i>.</p> </li> <li> <p> <i>Elastic Beanstalk API</i>: Use the <code>DescribeEnvironments</code>
  action to get the value of the <code>CNAME</code> attribute. For more information,
  see <a href=\"http://docs.aws.amazon.com/elasticbeanstalk/latest/api/API_DescribeEnvironments.html\">DescribeEnvironments</a>
  in the <i>AWS Elastic Beanstalk API Reference</i>.</p> </li> <li> <p> <i>AWS CLI</i>:
  Use the <code>describe-environments</code> command to get the value of the <code>CNAME</code>
  attribute. For more information, see <a href=\"http://docs.aws.amazon.com/cli/latest/reference/elasticbeanstalk/describe-environments.html\">describe-environments</a>
  in the <i>AWS Command Line Interface Reference</i>.</p> </li> </ul> </dd> <dt>ELB
  load balancer</dt> <dd> <p>Specify the DNS name that is associated with the load
  balancer. Get the DNS name by using the AWS Management Console, the ELB API, or
  the AWS CLI. </p> <ul> <li> <p> <b>AWS Management Console</b>: Go to the EC2 page,
  choose <b>Load Balancers</b> in the navigation pane, choose the load balancer, choose
  the <b>Description</b> tab, and get the value of the <b>DNS name</b> field. (If
  you're routing traffic to a Classic Load Balancer, get the value that begins with
  <b>dualstack</b>.) </p> </li> <li> <p> <b>Elastic Load Balancing API</b>: Use <code>DescribeLoadBalancers</code>
  to get the value of <code>DNSName</code>. For more information, see the applicable
  guide:</p> <ul> <li> <p>Classic Load Balancers: <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/2012-06-01/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a>
  </p> </li> <li> <p>Application and Network Load Balancers: <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a>
  </p> </li> </ul> </li> <li> <p> <b>AWS CLI</b>: Use <code>describe-load-balancers</code>
  to get the value of <code>DNSName</code>. For more information, see the applicable
  guide:</p> <ul> <li> <p>Classic Load Balancers: <a href=\"http://docs.aws.amazon.com/cli/latest/reference/elb/describe-load-balancers.html\">describe-load-balancers</a>
  </p> </li> <li> <p>Application and Network Load Balancers: <a href=\"http://docs.aws.amazon.com/cli/latest/reference/elbv2/describe-load-balancers.html\">describe-load-balancers</a>
  </p> </li> </ul> </li> </ul> </dd> <dt>Amazon S3 bucket that is configured as a
  static website</dt> <dd> <p>Specify the domain name of the Amazon S3 website endpoint
  in which you created the bucket, for example, <code>s3-website-us-east-2.amazonaws.com</code>.
  For more information about valid values, see the table <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region\">Amazon
  Simple Storage Service (S3) Website Endpoints</a> in the <i>Amazon Web Services
  General Reference</i>. For more information about using S3 buckets for websites,
  see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/getting-started.html\">Getting
  Started with Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide.</i>
  </p> </dd> <dt>Another Amazon Route 53 resource record set</dt> <dd> <p>Specify
  the value of the <code>Name</code> element for a resource record set in the current
  hosted zone.</p> </dd> </dl>\";}s:20:\"EvaluateTargetHealth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AliasHealthEnabled\";s:11:\"description\";s:3203:\"<p>
  <i>Applies only to alias, failover alias, geolocation alias, latency alias, and
  weighted alias resource record sets:</i> When <code>EvaluateTargetHealth</code>
  is <code>true</code>, an alias resource record set inherits the health of the referenced
  AWS resource, such as an ELB load balancer, or the referenced resource record set.</p>
  <p>Note the following:</p> <ul> <li> <p>You can't set <code>EvaluateTargetHealth</code>
  to <code>true</code> when the alias target is a CloudFront distribution.</p> </li>
  <li> <p>If the AWS resource that you specify in <code>AliasTarget</code> is a resource
  record set or a group of resource record sets (for example, a group of weighted
  resource record sets), but it is not another alias resource record set, we recommend
  that you associate a health check with all of the resource record sets in the alias
  target. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-complex-configs.html#dns-failover-complex-configs-hc-omitting\">What
  Happens When You Omit Health Checks?</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>
  </li> <li> <p>If you specify an Elastic Beanstalk environment in <code>HostedZoneId</code>
  and <code>DNSName</code>, and if the environment contains an ELB load balancer,
  Elastic Load Balancing routes queries only to the healthy Amazon EC2 instances that
  are registered with the load balancer. (An environment automatically contains an
  ELB load balancer if it includes more than one EC2 instance.) If you set <code>EvaluateTargetHealth</code>
  to <code>true</code> and either no EC2 instances are healthy or the load balancer
  itself is unhealthy, Amazon Route 53 routes queries to other available resources
  that are healthy, if any.</p> <p>If the environment contains a single EC2 instance,
  there are no special requirements.</p> </li> <li> <p>If you specify an ELB load
  balancer in <code> <a>AliasTarget</a> </code>, ELB routes queries only to the healthy
  EC2 instances that are registered with the load balancer. If no EC2 instances are
  healthy or if the load balancer itself is unhealthy, and if <code>EvaluateTargetHealth</code>
  is true for the corresponding alias resource record set, Amazon Route 53 routes
  queries to other resources. When you create a load balancer, you configure settings
  for ELB health checks; they're not Amazon Route 53 health checks, but they perform
  a similar function. Do not create Amazon Route 53 health checks for the EC2 instances
  that you register with an ELB load balancer.</p> <p>For more information, see <a
  href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-complex-configs.html\">How
  Health Checks Work in More Complex Amazon Route 53 Configurations</a> in the <i>Amazon
  Route 53 Developer Guide</i>.</p> </li> <li> <p>We recommend that you set <code>EvaluateTargetHealth</code>
  to true only when you have enough idle capacity to handle the failure of one or
  more endpoints.</p> </li> </ul> <p>For more information and examples, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover.html\">Amazon
  Route 53 Health Checks and DNS Failover</a> in the <i>Amazon Route 53 Developer
  Guide</i>.</p>\";}s:12:\"HostedZoneId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:3579:\"<p>
  <i>Alias resource records sets only</i>: The value used depends on where you want
  to route traffic:</p> <dl> <dt>CloudFront distribution</dt> <dd> <p>Specify <code>Z2FDTNDATAQYW2</code>.</p>
  <note> <p>Alias resource record sets for CloudFront can't be created in a private
  zone.</p> </note> </dd> <dt>Elastic Beanstalk environment</dt> <dd> <p>Specify the
  hosted zone ID for the region in which you created the environment. The environment
  must have a regionalized subdomain. For a list of regions and the corresponding
  hosted zone IDs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticbeanstalk_region\">AWS
  Elastic Beanstalk</a> in the \"AWS Regions and Endpoints\" chapter of the <i>Amazon
  Web Services General Reference</i>.</p> </dd> <dt>ELB load balancer</dt> <dd> <p>Specify
  the value of the hosted zone ID for the load balancer. Use the following methods
  to get the hosted zone ID:</p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elb_region\">Elastic
  Load Balancing</a> table in the \"AWS Regions and Endpoints\" chapter of the <i>Amazon
  Web Services General Reference</i>: Use the value that corresponds with the region
  that you created your load balancer in. Note that there are separate columns for
  Application and Classic Load Balancers and for Network Load Balancers.</p> </li>
  <li> <p> <b>AWS Management Console</b>: Go to the Amazon EC2 page, choose <b>Load
  Balancers</b> in the navigation pane, select the load balancer, and get the value
  of the <b>Hosted zone</b> field on the <b>Description</b> tab.</p> </li> <li> <p>
  <b>Elastic Load Balancing API</b>: Use <code>DescribeLoadBalancers</code> to get
  the applicable value. For more information, see the applicable guide:</p> <ul> <li>
  <p>Classic Load Balancers: Use <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/2012-06-01/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a>
  to get the value of <code>CanonicalHostedZoneNameId</code>.</p> </li> <li> <p>Application
  and Network Load Balancers: Use <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a>
  to get the value of <code>CanonicalHostedZoneId</code>.</p> </li> </ul> </li> <li>
  <p> <b>AWS CLI</b>: Use <code>describe-load-balancers</code> to get the applicable
  value. For more information, see the applicable guide:</p> <ul> <li> <p>Classic
  Load Balancers: Use <a href=\"http://docs.aws.amazon.com/cli/latest/reference/elb/describe-load-balancers.html\">describe-load-balancers</a>
  to get the value of <code>CanonicalHostedZoneNameId</code>.</p> </li> <li> <p>Application
  and Network Load Balancers: Use <a href=\"http://docs.aws.amazon.com/cli/latest/reference/elbv2/describe-load-balancers.html\">describe-load-balancers</a>
  to get the value of <code>CanonicalHostedZoneId</code>.</p> </li> </ul> </li> </ul>
  </dd> <dt>An Amazon S3 bucket configured as a static website</dt> <dd> <p>Specify
  the hosted zone ID for the region that you created the bucket in. For more information
  about valid values, see the <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region\">Amazon
  Simple Storage Service Website Endpoints</a> table in the \"AWS Regions and Endpoints\"
  chapter of the <i>Amazon Web Services General Reference</i>.</p> </dd> <dt>Another
  Amazon Route 53 resource record set in your hosted zone</dt> <dd> <p>Specify the
  hosted zone ID of your hosted zone. (An alias resource record set can't reference
  a resource record set in a different hosted zone.)</p> </dd> </dl>\";}}s:8:\"required\";a:3:{i:0;s:12:\"HostedZoneId\";i:1;s:7:\"DNSName\";i:2;s:20:\"EvaluateTargetHealth\";}s:4:\"type\";s:6:\"object\";}s:19:\"AssociateVPCComment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:33:\"AssociateVPCWithHostedZoneRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:105:\"A
  complex type that contains information about the request to associate a VPC with
  a private hosted zone.\";s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"Comment\";s:0:\"\";s:12:\"HostedZoneId\";s:14:\"Z3M3LMPEXAMPLE\";s:3:\"VPC\";O:8:\"stdClass\":2:{s:5:\"VPCId\";s:12:\"vpc-1a2b3c4d\";s:9:\"VPCRegion\";s:9:\"us-east-2\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Comment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AssociateVPCComment\";s:11:\"description\";s:58:\"
  <i>Optional:</i> A comment about the association request.\";}s:3:\"VPC\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/VPC\";s:11:\"description\";s:109:\"A
  complex type that contains information about the VPC that you want to associate
  with a private hosted zone.\";}}s:8:\"required\";a:1:{i:0;s:3:\"VPC\";}s:4:\"type\";s:6:\"object\";}s:34:\"AssociateVPCWithHostedZoneResponse\";O:8:\"stdClass\":5:{s:11:\"description\";s:110:\"A
  complex type that contains the response information for the <code>AssociateVPCWithHostedZone</code>
  request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"ChangeInfo\";O:8:\"stdClass\":4:{s:7:\"Comment\";s:0:\"\";s:2:\"Id\";s:22:\"/change/C3HC6WDB2UANE2\";s:6:\"Status\";s:6:\"INSYNC\";s:11:\"SubmittedAt\";s:24:\"2017-01-31T01:36:41.958Z\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"ChangeInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ChangeInfo\";s:11:\"description\";s:67:\"A
  complex type that describes the changes made to your hosted zone.\";}}s:8:\"required\";a:1:{i:0;s:10:\"ChangeInfo\";}s:4:\"type\";s:6:\"object\";}s:6:\"Change\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"The
  information for each resource record set that you want to change.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Action\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ChangeAction\";s:11:\"description\";s:909:\"<p>The
  action to perform:</p> <ul> <li> <p> <code>CREATE</code>: Creates a resource record
  set that has the specified values.</p> </li> <li> <p> <code>DELETE</code>: Deletes
  a existing resource record set.</p> <important> <p>To delete the resource record
  set that is associated with a traffic policy instance, use <code> <a>DeleteTrafficPolicyInstance</a>
  </code>. Amazon Route 53 will delete the resource record set automatically. If you
  delete the resource record set by using <code>ChangeResourceRecordSets</code>, Amazon
  Route 53 doesn't automatically delete the traffic policy instance, and you'll continue
  to be charged for it even though it's no longer in use. </p> </important> </li>
  <li> <p> <code>UPSERT</code>: If a resource record set doesn't already exist, Amazon
  Route 53 creates it. If a resource record set does exist, Amazon Route 53 updates
  it with the values in the request.</p> </li> </ul>\";}s:17:\"ResourceRecordSet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ResourceRecordSet\";s:11:\"description\";s:71:\"Information
  about the resource record set to create, delete, or update.\";}}s:8:\"required\";a:2:{i:0;s:6:\"Action\";i:1;s:17:\"ResourceRecordSet\";}s:4:\"type\";s:6:\"object\";}s:12:\"ChangeAction\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:6:\"CREATE\";i:1;s:6:\"DELETE\";i:2;s:6:\"UPSERT\";}s:4:\"type\";s:6:\"string\";}s:11:\"ChangeBatch\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"The
  information for a change request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Changes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Changes\";s:11:\"description\";s:57:\"Information
  about the changes to make to the record sets.\";}s:7:\"Comment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ResourceDescription\";s:11:\"description\";s:80:\"
  <i>Optional:</i> Any comments you want to include about a change batch request.\";}}s:8:\"required\";a:1:{i:0;s:7:\"Changes\";}s:4:\"type\";s:6:\"object\";}s:10:\"ChangeInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"A
  complex type that describes change information about changes made to your hosted
  zone.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"Comment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ResourceDescription\";s:11:\"description\";s:231:\"<p>A
  complex type that describes change information about changes made to your hosted
  zone.</p> <p>This element contains an ID that you use when performing a <a>GetChange</a>
  action to get detailed information about the change.</p>\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:22:\"The
  ID of the request.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ChangeStatus\";s:11:\"description\";s:143:\"The
  current state of the request. <code>PENDING</code> indicates that this request has
  not yet been applied to all Amazon Route 53 DNS servers.\";}s:11:\"SubmittedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TimeStamp\";s:11:\"description\";s:273:\"The
  date and time that the change request was submitted in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO
  8601 format</a> and Coordinated Universal Time (UTC). For example, the value <code>2017-03-27T17:48:16.751Z</code>
  represents March 27, 2017 at 17:48:16.751 UTC.\";}}s:8:\"required\";a:3:{i:0;s:2:\"Id\";i:1;s:6:\"Status\";i:2;s:11:\"SubmittedAt\";}s:4:\"type\";s:6:\"object\";}s:31:\"ChangeResourceRecordSetsRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:76:\"A
  complex type that contains change information for the resource record set.\";s:7:\"example\";O:8:\"stdClass\":2:{s:11:\"ChangeBatch\";O:8:\"stdClass\":2:{s:7:\"Changes\";a:4:{i:0;O:8:\"stdClass\":2:{s:6:\"Action\";s:6:\"CREATE\";s:17:\"ResourceRecordSet\";O:8:\"stdClass\":5:{s:11:\"AliasTarget\";O:8:\"stdClass\":3:{s:7:\"DNSName\";s:50:\"example-com-123456789.us-east-2.elb.amazonaws.com
  \";s:20:\"EvaluateTargetHealth\";b:1;s:12:\"HostedZoneId\";s:14:\"Z3AADJGX6KTTL2\";}s:11:\"GeoLocation\";O:8:\"stdClass\":1:{s:13:\"ContinentCode\";s:2:\"NA\";}s:4:\"Name\";s:11:\"example.com\";s:13:\"SetIdentifier\";s:13:\"North
  America\";s:4:\"Type\";s:1:\"A\";}}i:1;O:8:\"stdClass\":2:{s:6:\"Action\";s:6:\"CREATE\";s:17:\"ResourceRecordSet\";O:8:\"stdClass\":5:{s:11:\"AliasTarget\";O:8:\"stdClass\":3:{s:7:\"DNSName\";s:50:\"example-com-234567890.sa-east-1.elb.amazonaws.com
  \";s:20:\"EvaluateTargetHealth\";b:1;s:12:\"HostedZoneId\";s:14:\"Z2P70J7HTTTPLU\";}s:11:\"GeoLocation\";O:8:\"stdClass\":1:{s:13:\"ContinentCode\";s:2:\"SA\";}s:4:\"Name\";s:11:\"example.com\";s:13:\"SetIdentifier\";s:13:\"South
  America\";s:4:\"Type\";s:1:\"A\";}}i:2;O:8:\"stdClass\":2:{s:6:\"Action\";s:6:\"CREATE\";s:17:\"ResourceRecordSet\";O:8:\"stdClass\":5:{s:11:\"AliasTarget\";O:8:\"stdClass\":3:{s:7:\"DNSName\";s:53:\"example-com-234567890.eu-central-1.elb.amazonaws.com
  \";s:20:\"EvaluateTargetHealth\";b:1;s:12:\"HostedZoneId\";s:14:\"Z215JYRZR1TBD5\";}s:11:\"GeoLocation\";O:8:\"stdClass\":1:{s:13:\"ContinentCode\";s:2:\"EU\";}s:4:\"Name\";s:11:\"example.com\";s:13:\"SetIdentifier\";s:6:\"Europe\";s:4:\"Type\";s:1:\"A\";}}i:3;O:8:\"stdClass\":2:{s:6:\"Action\";s:6:\"CREATE\";s:17:\"ResourceRecordSet\";O:8:\"stdClass\":5:{s:11:\"AliasTarget\";O:8:\"stdClass\":3:{s:7:\"DNSName\";s:55:\"example-com-234567890.ap-southeast-1.elb.amazonaws.com
  \";s:20:\"EvaluateTargetHealth\";b:1;s:12:\"HostedZoneId\";s:14:\"Z1LMS91P8CMLE5\";}s:11:\"GeoLocation\";O:8:\"stdClass\":1:{s:11:\"CountryCode\";s:1:\"*\";}s:4:\"Name\";s:11:\"example.com\";s:13:\"SetIdentifier\";s:15:\"Other
  locations\";s:4:\"Type\";s:1:\"A\";}}}s:7:\"Comment\";s:47:\"Geolocation alias configuration
  for example.com\";}s:12:\"HostedZoneId\";s:14:\"Z3M3LMPEXAMPLE\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"ChangeBatch\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ChangeBatch\";s:11:\"description\";s:86:\"A
  complex type that contains an optional comment and the <code>Changes</code> element.\";}}s:8:\"required\";a:1:{i:0;s:11:\"ChangeBatch\";}s:4:\"type\";s:6:\"object\";}s:32:\"ChangeResourceRecordSetsResponse\";O:8:\"stdClass\":5:{s:11:\"description\";s:55:\"A
  complex type containing the response for the request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"ChangeInfo\";O:8:\"stdClass\":4:{s:7:\"Comment\";s:47:\"Geolocation
  alias configuration for example.com\";s:2:\"Id\";s:22:\"/change/C2682N5HXP0BZ4\";s:6:\"Status\";s:7:\"PENDING\";s:11:\"SubmittedAt\";s:24:\"2017-02-10T01:36:41.958Z\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"ChangeInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ChangeInfo\";s:11:\"description\";s:223:\"<p>A
  complex type that contains information about changes made to your hosted zone.</p>
  <p>This element contains an ID that you use when performing a <a>GetChange</a> action
  to get detailed information about the change.</p>\";}}s:8:\"required\";a:1:{i:0;s:10:\"ChangeInfo\";}s:4:\"type\";s:6:\"object\";}s:12:\"ChangeStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"PENDING\";i:1;s:6:\"INSYNC\";}s:4:\"type\";s:6:\"string\";}s:28:\"ChangeTagsForResourceRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"A
  complex type that contains information about the tags that you want to add, edit,
  or delete.\";s:7:\"example\";O:8:\"stdClass\":4:{s:7:\"AddTags\";a:2:{i:0;O:8:\"stdClass\":2:{s:3:\"Key\";s:4:\"apex\";s:5:\"Value\";s:4:\"3874\";}i:1;O:8:\"stdClass\":2:{s:3:\"Key\";s:4:\"acme\";s:5:\"Value\";s:4:\"4938\";}}s:13:\"RemoveTagKeys\";a:1:{i:0;s:5:\"Nadir\";}s:10:\"ResourceId\";s:14:\"Z3M3LMPEXAMPLE\";s:12:\"ResourceType\";s:10:\"hostedzone\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"AddTags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:258:\"<p>A
  complex type that contains a list of the tags that you want to add to the specified
  health check or hosted zone and/or the tags that you want to edit <code>Value</code>
  for.</p> <p>You can add a maximum of 10 tags to a health check or a hosted zone.</p>\";}s:13:\"RemoveTagKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TagKeyList\";s:11:\"description\";s:150:\"A
  complex type that contains a list of the tags that you want to delete from the specified
  health check or hosted zone. You can specify up to 10 keys.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ChangeTagsForResourceResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Empty
  response for the request.\";s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:7:\"Changes\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Change\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:15:\"CheckerIpRanges\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/IPAddressCidr\";}s:4:\"type\";s:5:\"array\";}s:20:\"ChildHealthCheckList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/HealthCheckId\";}s:8:\"maxItems\";i:256;s:4:\"type\";s:5:\"array\";}s:28:\"CloudWatchAlarmConfiguration\";O:8:\"stdClass\":4:{s:11:\"description\";s:125:\"A
  complex type that contains information about the CloudWatch alarm that Amazon Route
  53 is monitoring for this health check.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:18:\"ComparisonOperator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ComparisonOperator\";s:11:\"description\";s:118:\"For
  the metric that the CloudWatch alarm is associated with, the arithmetic operation
  that is used for the comparison.\";}s:10:\"Dimensions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DimensionList\";s:11:\"description\";s:371:\"For
  the metric that the CloudWatch alarm is associated with, a complex type that contains
  information about the dimensions for the metric. For information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/CW_Support_For_AWS.html\">Amazon
  CloudWatch Namespaces, Dimensions, and Metrics Reference</a> in the <i>Amazon CloudWatch
  User Guide</i>.\";}s:17:\"EvaluationPeriods\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EvaluationPeriods\";s:11:\"description\";s:128:\"For
  the metric that the CloudWatch alarm is associated with, the number of periods that
  the metric is compared to the threshold.\";}s:10:\"MetricName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MetricName\";s:11:\"description\";s:68:\"The
  name of the CloudWatch metric that the alarm is associated with.\";}s:9:\"Namespace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Namespace\";s:11:\"description\";s:300:\"The
  namespace of the metric that the alarm is associated with. For more information,
  see <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/CW_Support_For_AWS.html\">Amazon
  CloudWatch Namespaces, Dimensions, and Metrics Reference</a> in the <i>Amazon CloudWatch
  User Guide</i>.\";}s:6:\"Period\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Period\";s:11:\"description\";s:110:\"For
  the metric that the CloudWatch alarm is associated with, the duration of one evaluation
  period in seconds.\";}s:9:\"Statistic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Statistic\";s:11:\"description\";s:105:\"For
  the metric that the CloudWatch alarm is associated with, the statistic that is applied
  to the metric.\";}s:9:\"Threshold\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Threshold\";s:11:\"description\";s:99:\"For
  the metric that the CloudWatch alarm is associated with, the value the metric is
  compared with.\";}}s:8:\"required\";a:7:{i:0;s:17:\"EvaluationPeriods\";i:1;s:9:\"Threshold\";i:2;s:18:\"ComparisonOperator\";i:3;s:6:\"Period\";i:4;s:10:\"MetricName\";i:5;s:9:\"Namespace\";i:6;s:9:\"Statistic\";}s:4:\"type\";s:6:\"object\";}s:25:\"CloudWatchLogsLogGroupArn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"CloudWatchRegion\";O:8:\"stdClass\":4:{s:4:\"enum\";a:16:{i:0;s:9:\"us-east-1\";i:1;s:9:\"us-east-2\";i:2;s:9:\"us-west-1\";i:3;s:9:\"us-west-2\";i:4;s:12:\"ca-central-1\";i:5;s:12:\"eu-central-1\";i:6;s:9:\"eu-west-1\";i:7;s:9:\"eu-west-2\";i:8;s:9:\"eu-west-3\";i:9;s:10:\"ap-south-1\";i:10;s:14:\"ap-southeast-1\";i:11;s:14:\"ap-southeast-2\";i:12;s:14:\"ap-northeast-1\";i:13;s:14:\"ap-northeast-2\";i:14;s:14:\"ap-northeast-3\";i:15;s:9:\"sa-east-1\";}s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:18:\"ComparisonOperator\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:29:\"GreaterThanOrEqualToThreshold\";i:1;s:20:\"GreaterThanThreshold\";i:2;s:17:\"LessThanThreshold\";i:3;s:26:\"LessThanOrEqualToThreshold\";}s:4:\"type\";s:6:\"string\";}s:22:\"ConcurrentModification\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Another
  user submitted a request to create, update, or delete the object at the same time
  that you did. Retry the request. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:43:\"Descriptive
  message for the error response.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ConflictingDomainExists\";O:8:\"stdClass\":3:{s:11:\"description\";s:994:\"<p>The
  cause of this error depends on whether you're trying to create a public or a private
  hosted zone:</p> <ul> <li> <p> <b>Public hosted zone:</b> Two hosted zones that
  have the same name or that have a parent/child relationship (example.com and test.example.com)
  can't have any common name servers. You tried to create a hosted zone that has the
  same name as an existing hosted zone or that's the parent or child of an existing
  hosted zone, and you specified a delegation set that shares one or more name servers
  with the existing hosted zone. For more information, see <a>CreateReusableDelegationSet</a>.</p>
  </li> <li> <p> <b>Private hosted zone:</b> You specified an Amazon VPC that you're
  already using for another hosted zone, and the domain that you specified for one
  of the hosted zones is a subdomain of the domain that you specified for the other
  hosted zone. For example, you can't use the same Amazon VPC for the hosted zones
  for example.com and test.example.com.</p> </li> </ul>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ConflictingTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:285:\"You
  tried to update a traffic policy instance by using a traffic policy version that
  has a different DNS type than the current type for the instance. You specified the
  type in the JSON document in the <code>CreateTrafficPolicy</code> or <code>CreateTrafficPolicyVersion</code>request.
  \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:43:\"Descriptive
  message for the error response.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CreateHealthCheckRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"A
  complex type that contains the health check request information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"CallerReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/HealthCheckNonce\";s:11:\"description\";s:1217:\"<p>A
  unique string that identifies the request and that allows you to retry a failed
  <code>CreateHealthCheck</code> request without the risk of creating two identical
  health checks:</p> <ul> <li> <p>If you send a <code>CreateHealthCheck</code> request
  with the same <code>CallerReference</code> and settings as a previous request, and
  if the health check doesn't exist, Amazon Route 53 creates the health check. If
  the health check does exist, Amazon Route 53 returns the settings for the existing
  health check.</p> </li> <li> <p>If you send a <code>CreateHealthCheck</code> request
  with the same <code>CallerReference</code> as a deleted health check, regardless
  of the settings, Amazon Route 53 returns a <code>HealthCheckAlreadyExists</code>
  error.</p> </li> <li> <p>If you send a <code>CreateHealthCheck</code> request with
  the same <code>CallerReference</code> as an existing health check but with different
  settings, Amazon Route 53 returns a <code>HealthCheckAlreadyExists</code> error.</p>
  </li> <li> <p>If you send a <code>CreateHealthCheck</code> request with a unique
  <code>CallerReference</code> but settings identical to an existing health check,
  Amazon Route 53 creates the health check.</p> </li> </ul>\";}s:17:\"HealthCheckConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/HealthCheckConfig\";s:11:\"description\";s:87:\"A
  complex type that contains the response to a <code>CreateHealthCheck</code> request.
  \";}}s:8:\"required\";a:2:{i:0;s:15:\"CallerReference\";i:1;s:17:\"HealthCheckConfig\";}s:4:\"type\";s:6:\"object\";}s:25:\"CreateHealthCheckResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"A
  complex type containing the response information for the new health check.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"HealthCheck\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/HealthCheck\";s:11:\"description\";s:76:\"A
  complex type that contains identifying information about the health check.\";}}s:8:\"required\";a:1:{i:0;s:11:\"HealthCheck\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreateHostedZoneRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:83:\"A
  complex type that contains information about the request to create a hosted zone.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"CallerReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Nonce\";s:11:\"description\";s:378:\"A
  unique string that identifies the request and that allows failed <code>CreateHostedZone</code>
  requests to be retried without the risk of executing the operation twice. You must
  use a unique <code>CallerReference</code> string every time you submit a <code>CreateHostedZone</code>
  request. <code>CallerReference</code> can be any unique string, for example, a date/time
  stamp.\";}s:15:\"DelegationSetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:255:\"If
  you want to associate a reusable delegation set with this hosted zone, the ID that
  Amazon Route 53 assigned to the reusable delegation set when you created it. For
  more information about reusable delegation sets, see <a>CreateReusableDelegationSet</a>.\";}s:16:\"HostedZoneConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/HostedZoneConfig\";s:11:\"description\";s:390:\"<p>(Optional)
  A complex type that contains the following optional values:</p> <ul> <li> <p>For
  public and private hosted zones, an optional comment</p> </li> <li> <p>For private
  hosted zones, an optional <code>PrivateZone</code> element</p> </li> </ul> <p>If
  you don't specify a comment or the <code>PrivateZone</code> element, omit <code>HostedZoneConfig</code>
  and the other elements.</p>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/DNSName\";s:11:\"description\";s:748:\"<p>The
  name of the domain. For resource record types that include a domain name, specify
  a fully qualified domain name, for example, <i>www.example.com</i>. The trailing
  dot is optional; Amazon Route 53 assumes that the domain name is fully qualified.
  This means that Amazon Route 53 treats <i>www.example.com</i> (without a trailing
  dot) and <i>www.example.com.</i> (with a trailing dot) as identical.</p> <p>If you're
  creating a public hosted zone, this is the name you have registered with your DNS
  registrar. If your domain name is registered with a registrar other than Amazon
  Route 53, change the name servers for your domain to the set of <code>NameServers</code>
  that <code>CreateHostedZone</code> returns in <code>DelegationSet</code>.</p>\";}s:3:\"VPC\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/VPC\";s:11:\"description\";s:353:\"<p>(Private
  hosted zones only) A complex type that contains information about the Amazon VPC
  that you're associating with this hosted zone.</p> <p>You can specify only one Amazon
  VPC when you create a private hosted zone. To associate additional Amazon VPCs with
  the hosted zone, use <a>AssociateVPCWithHostedZone</a> after you create a hosted
  zone.</p>\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:15:\"CallerReference\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateHostedZoneResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"A
  complex type containing the response information for the hosted zone.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"ChangeInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ChangeInfo\";s:11:\"description\";s:89:\"A
  complex type that contains information about the <code>CreateHostedZone</code> request.\";}s:13:\"DelegationSet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DelegationSet\";s:11:\"description\";s:68:\"A
  complex type that describes the name servers for this hosted zone.\";}s:10:\"HostedZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/HostedZone\";s:11:\"description\";s:71:\"A
  complex type that contains general information about the hosted zone.\";}s:3:\"VPC\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/VPC\";s:11:\"description\";s:103:\"A
  complex type that contains information about an Amazon VPC that you associated with
  this hosted zone.\";}}s:8:\"required\";a:3:{i:0;s:10:\"HostedZone\";i:1;s:10:\"ChangeInfo\";i:2;s:13:\"DelegationSet\";}s:4:\"type\";s:6:\"object\";}s:31:\"CreateQueryLoggingConfigRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:25:\"CloudWatchLogsLogGroupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/CloudWatchLogsLogGroupArn\";s:11:\"description\";s:620:\"<p>The
  Amazon Resource Name (ARN) for the log group that you want to Amazon Route 53 to
  send query logs to. This is the format of the ARN:</p> <p>arn:aws:logs:<i>region</i>:<i>account-id</i>:log-group:<i>log_group_name</i>
  </p> <p>To get the ARN for a log group, you can use the CloudWatch console, the
  <a href=\"http://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DescribeLogGroups.html\">DescribeLogGroups</a>
  API action, the <a href=\"http://docs.aws.amazon.com/cli/latest/reference/logs/describe-log-groups.html\">describe-log-groups</a>
  command, or the applicable command in one of the AWS SDKs.</p>\";}s:12:\"HostedZoneId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:109:\"The
  ID of the hosted zone that you want to log queries for. You can log queries only
  for public hosted zones.\";}}s:8:\"required\";a:2:{i:0;s:12:\"HostedZoneId\";i:1;s:25:\"CloudWatchLogsLogGroupArn\";}s:4:\"type\";s:6:\"object\";}s:32:\"CreateQueryLoggingConfigResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"QueryLoggingConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/QueryLoggingConfig\";s:11:\"description\";s:213:\"A
  complex type that contains the ID for a query logging configuration, the ID of the
  hosted zone that you want to log queries for, and the ARN for the log group that
  you want Amazon Route 53 to send query logs to.\";}}s:8:\"required\";a:1:{i:0;s:18:\"QueryLoggingConfig\";}s:4:\"type\";s:6:\"object\";}s:34:\"CreateReusableDelegationSetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"CallerReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Nonce\";s:11:\"description\";s:399:\"A
  unique string that identifies the request, and that allows you to retry failed <code>CreateReusableDelegationSet</code>
  requests without the risk of executing the operation twice. You must use a unique
  <code>CallerReference</code> string every time you submit a <code>CreateReusableDelegationSet</code>
  request. <code>CallerReference</code> can be any unique string, for example a date/time
  stamp.\";}s:12:\"HostedZoneId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:108:\"If
  you want to mark the delegation set for an existing hosted zone as reusable, the
  ID for that hosted zone.\";}}s:8:\"required\";a:1:{i:0;s:15:\"CallerReference\";}s:4:\"type\";s:6:\"object\";}s:35:\"CreateReusableDelegationSetResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"DelegationSet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DelegationSet\";s:11:\"description\";s:53:\"A
  complex type that contains name server information.\";}}s:8:\"required\";a:1:{i:0;s:13:\"DelegationSet\";}s:4:\"type\";s:6:\"object\";}s:34:\"CreateTrafficPolicyInstanceRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:132:\"A
  complex type that contains information about the resource record sets that you want
  to create based on a specified traffic policy.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"HostedZoneId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:138:\"The
  ID of the hosted zone in which you want Amazon Route 53 to create resource record
  sets by using the configuration in a traffic policy.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/DNSName\";s:11:\"description\";s:228:\"The
  domain name (such as example.com) or subdomain name (such as www.example.com) for
  which Amazon Route 53 responds to DNS queries by using the resource record sets
  that Amazon Route 53 creates for this traffic policy instance.\";}s:3:\"TTL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/TTL\";s:11:\"description\";s:139:\"(Optional)
  The TTL that you want Amazon Route 53 to assign to all of the resource record sets
  that it creates in the specified hosted zone.\";}s:15:\"TrafficPolicyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/TrafficPolicyId\";s:11:\"description\";s:110:\"The
  ID of the traffic policy that you want to use to create resource record sets in
  the specified hosted zone.\";}s:20:\"TrafficPolicyVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TrafficPolicyVersion\";s:11:\"description\";s:115:\"The
  version of the traffic policy that you want to use to create resource record sets
  in the specified hosted zone.\";}}s:8:\"required\";a:5:{i:0;s:12:\"HostedZoneId\";i:1;s:4:\"Name\";i:2;s:3:\"TTL\";i:3;s:15:\"TrafficPolicyId\";i:4;s:20:\"TrafficPolicyVersion\";}s:4:\"type\";s:6:\"object\";}s:35:\"CreateTrafficPolicyInstanceResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:111:\"A
  complex type that contains the response information for the <code>CreateTrafficPolicyInstance</code>
  request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"TrafficPolicyInstance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/TrafficPolicyInstance\";s:11:\"description\";s:74:\"A
  complex type that contains settings for the new traffic policy instance.\";}}s:8:\"required\";a:1:{i:0;s:21:\"TrafficPolicyInstance\";}s:4:\"type\";s:6:\"object\";}s:26:\"CreateTrafficPolicyRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:90:\"A
  complex type that contains information about the traffic policy that you want to
  create.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Comment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TrafficPolicyComment\";s:11:\"description\";s:74:\"(Optional)
  Any comments that you want to include about the traffic policy.\";}s:8:\"Document\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/TrafficPolicyDocument\";s:11:\"description\";s:229:\"The
  definition of this traffic policy in JSON format. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/APIReference/api-policies-traffic-policy-document-format.html\">Traffic
  Policy Document Format</a>.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TrafficPolicyName\";s:11:\"description\";s:31:\"The
  name of the traffic policy.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:8:\"Document\";}s:4:\"type\";s:6:\"object\";}s:27:\"CreateTrafficPolicyResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:103:\"A
  complex type that contains the response information for the <code>CreateTrafficPolicy</code>
  request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"TrafficPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TrafficPolicy\";s:11:\"description\";s:65:\"A
  complex type that contains settings for the new traffic policy.\";}}s:8:\"required\";a:1:{i:0;s:13:\"TrafficPolicy\";}s:4:\"type\";s:6:\"object\";}s:33:\"CreateTrafficPolicyVersionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:108:\"A
  complex type that contains information about the traffic policy that you want to
  create a new version for.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Comment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TrafficPolicyComment\";s:11:\"description\";s:94:\"The
  comment that you specified in the <code>CreateTrafficPolicyVersion</code> request,
  if any.\";}s:8:\"Document\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/TrafficPolicyDocument\";s:11:\"description\";s:224:\"The
  definition of this version of the traffic policy, in JSON format. You specified
  the JSON in the <code>CreateTrafficPolicyVersion</code> request. For more information
  about the JSON format, see <a>CreateTrafficPolicy</a>.\";}}s:8:\"required\";a:1:{i:0;s:8:\"Document\";}s:4:\"type\";s:6:\"object\";}s:34:\"CreateTrafficPolicyVersionResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:110:\"A
  complex type that contains the response information for the <code>CreateTrafficPolicyVersion</code>
  request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"TrafficPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TrafficPolicy\";s:11:\"description\";s:80:\"A
  complex type that contains settings for the new version of the traffic policy.\";}}s:8:\"required\";a:1:{i:0;s:13:\"TrafficPolicy\";}s:4:\"type\";s:6:\"object\";}s:40:\"CreateVPCAssociationAuthorizationRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:230:\"A
  complex type that contains information about the request to authorize associating
  a VPC with your private hosted zone. Authorization is only required when a private
  hosted zone and a VPC were created by using different accounts.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"VPC\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/VPC\";s:11:\"description\";s:124:\"A
  complex type that contains the VPC ID and region for the VPC that you want to authorize
  associating with your hosted zone.\";}}s:8:\"required\";a:1:{i:0;s:3:\"VPC\";}s:4:\"type\";s:6:\"object\";}s:41:\"CreateVPCAssociationAuthorizationResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:116:\"A
  complex type that contains the response information from a <code>CreateVPCAssociationAuthorization</code>
  request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"HostedZoneId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:69:\"The
  ID of the hosted zone that you authorized associating a VPC with.\";}s:3:\"VPC\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/VPC\";s:11:\"description\";s:59:\"The
  VPC that you authorized associating with a hosted zone.\";}}s:8:\"required\";a:2:{i:0;s:12:\"HostedZoneId\";i:1;s:3:\"VPC\";}s:4:\"type\";s:6:\"object\";}s:7:\"DNSName\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:1024;s:4:\"type\";s:6:\"string\";}s:8:\"DNSRCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"DelegationSet\";O:8:\"stdClass\":4:{s:11:\"description\";s:155:\"A
  complex type that lists the name servers in a delegation set, as well as the <code>CallerReference</code>
  and the <code>ID</code> for the delegation set.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"CallerReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Nonce\";s:11:\"description\";s:107:\"The
  value that you specified for <code>CallerReference</code> when you created the reusable
  delegation set.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:65:\"The
  ID that Amazon Route 53 assigns to a reusable delegation set.\";}s:11:\"NameServers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/DelegationSetNameServers\";s:11:\"description\";s:121:\"A
  complex type that contains a list of the authoritative name servers for a hosted
  zone or for a reusable delegation set.\";}}s:8:\"required\";a:1:{i:0;s:11:\"NameServers\";}s:4:\"type\";s:6:\"object\";}s:27:\"DelegationSetAlreadyCreated\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"A
  delegation set with the same owner and caller reference combination has already
  been created.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:43:\"Descriptive
  message for the error response.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DelegationSetAlreadyReusable\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  specified delegation set has already been marked as reusable.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:43:\"Descriptive
  message for the error response.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DelegationSetInUse\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"The
  specified delegation contains associated hosted zones which must be deleted before
  the reusable delegation set can be deleted.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:43:\"Descriptive
  message for the error response.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DelegationSetNameServers\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/DNSName\";}s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:25:\"DelegationSetNotAvailable\";O:8:\"stdClass\":3:{s:11:\"description\";s:337:\"You
  can create a hosted zone that has the same name as an existing hosted zone (example.com
  is common), but there is a limit to the number of hosted zones that have the same
  name. If you get this error, Amazon Route 53 has reached that limit. If you own
  the domain name and Amazon Route 53 generates this error, contact Customer Support.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:43:\"Descriptive
  message for the error response.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DelegationSetNotReusable\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"A
  reusable delegation set with the specified ID does not exist.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:43:\"Descriptive
  message for the error response.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DelegationSets\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DelegationSet\";}s:4:\"type\";s:5:\"array\";}s:24:\"DeleteHealthCheckRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"This
  action deletes a health check.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteHealthCheckResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"An
  empty element.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteHostedZoneRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"A
  request to delete a hosted zone.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteHostedZoneResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"A
  complex type that contains the response to a <code>DeleteHostedZone</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"ChangeInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ChangeInfo\";s:11:\"description\";s:108:\"A
  complex type that contains the ID, the status, and the date and time of a request
  to delete a hosted zone.\";}}s:8:\"required\";a:1:{i:0;s:10:\"ChangeInfo\";}s:4:\"type\";s:6:\"object\";}s:31:\"DeleteQueryLoggingConfigRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"DeleteQueryLoggingConfigResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"DeleteReusableDelegationSetRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"A
  request to delete a reusable delegation set.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:35:\"DeleteReusableDelegationSetResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"An
  empty element.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"DeleteTrafficPolicyInstanceRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  request to delete a specified traffic policy instance.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:35:\"DeleteTrafficPolicyInstanceResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"An
  empty element.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"DeleteTrafficPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  request to delete a specified traffic policy version.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteTrafficPolicyResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"An
  empty element.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:40:\"DeleteVPCAssociationAuthorizationRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:204:\"A
  complex type that contains information about the request to remove authorization
  to associate a VPC that was created by one AWS account with a hosted zone that was
  created with a different AWS account. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"VPC\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/VPC\";s:11:\"description\";s:207:\"When
  removing authorization to associate a VPC that was created by one AWS account with
  a hosted zone that was created with a different AWS account, a complex type that
  includes the ID and region of the VPC.\";}}s:8:\"required\";a:1:{i:0;s:3:\"VPC\";}s:4:\"type\";s:6:\"object\";}s:41:\"DeleteVPCAssociationAuthorizationResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Empty
  response for the request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"Dimension\";O:8:\"stdClass\":4:{s:11:\"description\";s:122:\"For
  the metric that the CloudWatch alarm is associated with, a complex type that contains
  information about one dimension.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DimensionField\";s:11:\"description\";s:87:\"For
  the metric that the CloudWatch alarm is associated with, the name of one dimension.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DimensionField\";s:11:\"description\";s:88:\"For
  the metric that the CloudWatch alarm is associated with, the value of one dimension.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:14:\"DimensionField\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"DimensionList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Dimension\";}s:8:\"maxItems\";i:10;s:4:\"type\";s:5:\"array\";}s:22:\"DisassociateVPCComment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:36:\"DisassociateVPCFromHostedZoneRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:122:\"A
  complex type that contains information about the VPC that you want to disassociate
  from a specified private hosted zone.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Comment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/DisassociateVPCComment\";s:11:\"description\";s:61:\"
  <i>Optional:</i> A comment about the disassociation request.\";}s:3:\"VPC\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/VPC\";s:11:\"description\";s:113:\"A
  complex type that contains information about the VPC that you're disassociating
  from the specified hosted zone.\";}}s:8:\"required\";a:1:{i:0;s:3:\"VPC\";}s:4:\"type\";s:6:\"object\";}s:37:\"DisassociateVPCFromHostedZoneResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:83:\"A
  complex type that contains the response information for the disassociate request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"ChangeInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ChangeInfo\";s:11:\"description\";s:84:\"A
  complex type that describes the changes made to the specified private hosted zone.\";}}s:8:\"required\";a:1:{i:0;s:10:\"ChangeInfo\";}s:4:\"type\";s:6:\"object\";}s:9:\"EnableSNI\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"ErrorMessages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}s:4:\"type\";s:5:\"array\";}s:17:\"EvaluationPeriods\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:16:\"FailureThreshold\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:10;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:24:\"FullyQualifiedDomainName\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:11:\"GeoLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  complex type that contains information about a geo location.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"ContinentCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/GeoLocationContinentCode\";s:11:\"description\";s:361:\"<p>The
  two-letter code for the continent.</p> <p>Valid values: <code>AF</code> | <code>AN</code>
  | <code>AS</code> | <code>EU</code> | <code>OC</code> | <code>NA</code> | <code>SA</code>
  </p> <p>Constraint: Specifying <code>ContinentCode</code> with either <code>CountryCode</code>
  or <code>SubdivisionCode</code> returns an <code>InvalidInput</code> error.</p>\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/GeoLocationCountryCode\";s:11:\"description\";s:36:\"The
  two-letter code for the country.\";}s:15:\"SubdivisionCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/GeoLocationSubdivisionCode\";s:11:\"description\";s:96:\"The
  code for the subdivision, for example, a state in the United States or a province
  in Canada.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GeoLocationContinentCode\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2;s:9:\"minLength\";i:2;s:4:\"type\";s:6:\"string\";}s:24:\"GeoLocationContinentName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:32;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:22:\"GeoLocationCountryCode\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:22:\"GeoLocationCountryName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:18:\"GeoLocationDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"A
  complex type that contains the codes and full continent, country, and subdivision
  names for the specified <code>geolocation</code> code.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"ContinentCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/GeoLocationContinentCode\";s:11:\"description\";s:38:\"The
  two-letter code for the continent.\";}s:13:\"ContinentName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/GeoLocationContinentName\";s:11:\"description\";s:31:\"The
  full name of the continent.\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/GeoLocationCountryCode\";s:11:\"description\";s:36:\"The
  two-letter code for the country.\";}s:11:\"CountryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/GeoLocationCountryName\";s:11:\"description\";s:24:\"The
  name of the country.\";}s:15:\"SubdivisionCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/GeoLocationSubdivisionCode\";s:11:\"description\";s:96:\"The
  code for the subdivision, for example, a state in the United States or a province
  in Canada.\";}s:15:\"SubdivisionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/GeoLocationSubdivisionName\";s:11:\"description\";s:100:\"The
  full name of the subdivision, for example, a state in the United States or a province
  in Canada.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GeoLocationDetailsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/GeoLocationDetails\";}s:4:\"type\";s:5:\"array\";}s:26:\"GeoLocationSubdivisionCode\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:3;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:26:\"GeoLocationSubdivisionName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:22:\"GetAccountLimitRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"A
  complex type that contains information about the request to create a hosted zone.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"GetAccountLimitResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"A
  complex type that contains the requested limit. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/UsageCount\";s:11:\"description\";s:316:\"The
  current number of entities that you have created of the specified type. For example,
  if you specified <code>MAX_HEALTH_CHECKS_BY_OWNER</code> for the value of <code>Type</code>
  in the request, the value of <code>Count</code> is the current number of health
  checks that you have created using the current account.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AccountLimit\";s:11:\"description\";s:283:\"The
  current setting for the specified limit. For example, if you specified <code>MAX_HEALTH_CHECKS_BY_OWNER</code>
  for the value of <code>Type</code> in the request, the value of <code>Limit</code>
  is the maximum number of health checks that you can create using the current account.\";}}s:8:\"required\";a:2:{i:0;s:5:\"Limit\";i:1;s:5:\"Count\";}s:4:\"type\";s:6:\"object\";}s:16:\"GetChangeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  input for a GetChange request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"GetChangeResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"A
  complex type that contains the <code>ChangeInfo</code> element.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"ChangeInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ChangeInfo\";s:11:\"description\";s:74:\"A
  complex type that contains information about the specified change batch.\";}}s:8:\"required\";a:1:{i:0;s:10:\"ChangeInfo\";}s:4:\"type\";s:6:\"object\";}s:25:\"GetCheckerIpRangesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"GetCheckerIpRangesResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"CheckerIpRanges\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CheckerIpRanges\";}}s:8:\"required\";a:1:{i:0;s:15:\"CheckerIpRanges\";}s:4:\"type\";s:6:\"object\";}s:21:\"GetGeoLocationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"A
  request for information about whether a specified geographic location is supported
  for Amazon Route 53 geolocation resource record sets.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"GetGeoLocationResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:89:\"A
  complex type that contains the response information for the specified geolocation
  code.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"GeoLocationDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/GeoLocationDetails\";s:11:\"description\";s:125:\"A
  complex type that contains the codes and full continent, country, and subdivision
  names for the specified geolocation code.\";}}s:8:\"required\";a:1:{i:0;s:18:\"GeoLocationDetails\";}s:4:\"type\";s:6:\"object\";}s:26:\"GetHealthCheckCountRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"A
  request for the number of health checks that are associated with the current AWS
  account.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"GetHealthCheckCountResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"A
  complex type that contains the response to a <code>GetHealthCheckCount</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"HealthCheckCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/HealthCheckCount\";s:11:\"description\";s:68:\"The
  number of health checks associated with the current AWS account.\";}}s:8:\"required\";a:1:{i:0;s:16:\"HealthCheckCount\";}s:4:\"type\";s:6:\"object\";}s:38:\"GetHealthCheckLastFailureReasonRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  request for the reason that a health check failed most recently.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:39:\"GetHealthCheckLastFailureReasonResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:100:\"A
  complex type that contains the response to a <code>GetHealthCheckLastFailureReason</code>
  request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"HealthCheckObservations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/HealthCheckObservations\";s:11:\"description\";s:139:\"A
  list that contains one <code>Observation</code> element for each Amazon Route 53
  health checker that is reporting a last failure reason. \";}}s:8:\"required\";a:1:{i:0;s:23:\"HealthCheckObservations\";}s:4:\"type\";s:6:\"object\";}s:21:\"GetHealthCheckRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  request to get information about a specified health check. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"GetHealthCheckResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:83:\"A
  complex type that contains the response to a <code>GetHealthCheck</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"HealthCheck\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/HealthCheck\";s:11:\"description\";s:112:\"A
  complex type that contains information about one health check that is associated
  with the current AWS account.\";}}s:8:\"required\";a:1:{i:0;s:11:\"HealthCheck\";}s:4:\"type\";s:6:\"object\";}s:27:\"GetHealthCheckStatusRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  request to get the status for a health check.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"GetHealthCheckStatusResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:83:\"A
  complex type that contains the response to a <code>GetHealthCheck</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"HealthCheckObservations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/HealthCheckObservations\";s:11:\"description\";s:168:\"A
  list that contains one <code>HealthCheckObservation</code> element for each Amazon
  Route 53 health checker that is reporting a status about the health check endpoint.\";}}s:8:\"required\";a:1:{i:0;s:23:\"HealthCheckObservations\";}s:4:\"type\";s:6:\"object\";}s:25:\"GetHostedZoneCountRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"A
  request to retrieve a count of all the hosted zones that are associated with the
  current AWS account.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"GetHostedZoneCountResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"A
  complex type that contains the response to a <code>GetHostedZoneCount</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"HostedZoneCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/HostedZoneCount\";s:11:\"description\";s:101:\"The
  total number of public and private hosted zones that are associated with the current
  AWS account.\";}}s:8:\"required\";a:1:{i:0;s:15:\"HostedZoneCount\";}s:4:\"type\";s:6:\"object\";}s:25:\"GetHostedZoneLimitRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"A
  complex type that contains information about the request to create a hosted zone.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"GetHostedZoneLimitResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"A
  complex type that contains the requested limit. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/UsageCount\";s:11:\"description\";s:305:\"The
  current number of entities that you have created of the specified type. For example,
  if you specified <code>MAX_RRSETS_BY_ZONE</code> for the value of <code>Type</code>
  in the request, the value of <code>Count</code> is the current number of records
  that you have created in the specified hosted zone.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/HostedZoneLimit\";s:11:\"description\";s:272:\"The
  current setting for the specified limit. For example, if you specified <code>MAX_RRSETS_BY_ZONE</code>
  for the value of <code>Type</code> in the request, the value of <code>Limit</code>
  is the maximum number of records that you can create in the specified hosted zone.\";}}s:8:\"required\";a:2:{i:0;s:5:\"Limit\";i:1;s:5:\"Count\";}s:4:\"type\";s:6:\"object\";}s:20:\"GetHostedZoneRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"A
  request to get information about a specified hosted zone. \";s:7:\"example\";O:8:\"stdClass\":1:{s:2:\"Id\";s:14:\"Z3M3LMPEXAMPLE\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"GetHostedZoneResponse\";O:8:\"stdClass\":5:{s:11:\"description\";s:81:\"A
  complex type that contain the response to a <code>GetHostedZone</code> request.\";s:7:\"example\";O:8:\"stdClass\":2:{s:13:\"DelegationSet\";O:8:\"stdClass\":1:{s:11:\"NameServers\";a:4:{i:0;s:21:\"ns-2048.awsdns-64.com\";i:1;s:21:\"ns-2049.awsdns-65.net\";i:2;s:21:\"ns-2050.awsdns-66.org\";i:3;s:23:\"ns-2051.awsdns-67.co.uk\";}}s:10:\"HostedZone\";O:8:\"stdClass\":5:{s:15:\"CallerReference\";s:36:\"C741617D-04E4-F8DE-B9D7-0D150FC61C2E\";s:6:\"Config\";O:8:\"stdClass\":1:{s:11:\"PrivateZone\";b:0;}s:2:\"Id\";s:26:\"/hostedzone/Z3M3LMPEXAMPLE\";s:4:\"Name\";s:16:\"myawsbucket.com.\";s:22:\"ResourceRecordSetCount\";i:8;}}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"DelegationSet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DelegationSet\";s:11:\"description\";s:89:\"A
  complex type that lists the Amazon Route 53 name servers for the specified hosted
  zone.\";}s:10:\"HostedZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/HostedZone\";s:11:\"description\";s:81:\"A
  complex type that contains general information about the specified hosted zone.\";}s:4:\"VPCs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/VPCs\";s:11:\"description\";s:107:\"A
  complex type that contains information about the VPCs that are associated with the
  specified hosted zone.\";}}s:8:\"required\";a:1:{i:0;s:10:\"HostedZone\";}s:4:\"type\";s:6:\"object\";}s:28:\"GetQueryLoggingConfigRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"GetQueryLoggingConfigResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"QueryLoggingConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/QueryLoggingConfig\";s:11:\"description\";s:140:\"A
  complex type that contains information about the query logging configuration that
  you specified in a <a>GetQueryLoggingConfig</a> request.\";}}s:8:\"required\";a:1:{i:0;s:18:\"QueryLoggingConfig\";}s:4:\"type\";s:6:\"object\";}s:36:\"GetReusableDelegationSetLimitRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"A
  complex type that contains information about the request to create a hosted zone.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:37:\"GetReusableDelegationSetLimitResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"A
  complex type that contains the requested limit. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/UsageCount\";s:11:\"description\";s:101:\"The
  current number of hosted zones that you can associate with the specified reusable
  delegation set.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ReusableDelegationSetLimit\";s:11:\"description\";s:116:\"The
  current setting for the limit on hosted zones that you can associate with the specified
  reusable delegation set.\";}}s:8:\"required\";a:2:{i:0;s:5:\"Limit\";i:1;s:5:\"Count\";}s:4:\"type\";s:6:\"object\";}s:31:\"GetReusableDelegationSetRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"A
  request to get information about a specified reusable delegation set.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"GetReusableDelegationSetResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"A
  complex type that contains the response to the <code>GetReusableDelegationSet</code>
  request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"DelegationSet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DelegationSet\";s:11:\"description\";s:75:\"A
  complex type that contains information about the reusable delegation set.\";}}s:8:\"required\";a:1:{i:0;s:13:\"DelegationSet\";}s:4:\"type\";s:6:\"object\";}s:36:\"GetTrafficPolicyInstanceCountRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Request
  to get the number of traffic policy instances that are associated with the current
  AWS account.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:37:\"GetTrafficPolicyInstanceCountResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:137:\"A
  complex type that contains information about the resource record sets that Amazon
  Route 53 created based on a specified traffic policy.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:26:\"TrafficPolicyInstanceCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/TrafficPolicyInstanceCount\";s:11:\"description\";s:88:\"The
  number of traffic policy instances that are associated with the current AWS account.\";}}s:8:\"required\";a:1:{i:0;s:26:\"TrafficPolicyInstanceCount\";}s:4:\"type\";s:6:\"object\";}s:31:\"GetTrafficPolicyInstanceRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Gets
  information about a specified traffic policy instance.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"GetTrafficPolicyInstanceResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:137:\"A
  complex type that contains information about the resource record sets that Amazon
  Route 53 created based on a specified traffic policy.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"TrafficPolicyInstance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/TrafficPolicyInstance\";s:11:\"description\";s:70:\"A
  complex type that contains settings for the traffic policy instance.\";}}s:8:\"required\";a:1:{i:0;s:21:\"TrafficPolicyInstance\";}s:4:\"type\";s:6:\"object\";}s:23:\"GetTrafficPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Gets
  information about a specific traffic policy version.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"GetTrafficPolicyResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"A
  complex type that contains the response information for the request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"TrafficPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TrafficPolicy\";s:11:\"description\";s:71:\"A
  complex type that contains settings for the specified traffic policy.\";}}s:8:\"required\";a:1:{i:0;s:13:\"TrafficPolicy\";}s:4:\"type\";s:6:\"object\";}s:11:\"HealthCheck\";O:8:\"stdClass\":4:{s:11:\"description\";s:112:\"A
  complex type that contains information about one health check that is associated
  with the current AWS account.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"CallerReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/HealthCheckNonce\";s:11:\"description\";s:69:\"A
  unique string that you specified when you created the health check.\";}s:28:\"CloudWatchAlarmConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/CloudWatchAlarmConfiguration\";s:11:\"description\";s:125:\"A
  complex type that contains information about the CloudWatch alarm that Amazon Route
  53 is monitoring for this health check.\";}s:17:\"HealthCheckConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/HealthCheckConfig\";s:11:\"description\";s:73:\"A
  complex type that contains detailed information about one health check.\";}s:18:\"HealthCheckVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/HealthCheckVersion\";s:11:\"description\";s:170:\"The
  version of the health check. You can optionally pass this value in a call to <code>UpdateHealthCheck</code>
  to prevent overwriting another change to the health check.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/HealthCheckId\";s:11:\"description\";s:231:\"The
  identifier that Amazon Route 53assigned to the health check when you created it.
  When you add or update a resource record set, you use this value to specify which
  health check to use. The value can be up to 64 characters long. \";}s:13:\"LinkedService\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LinkedService\";s:11:\"description\";s:197:\"If
  the health check was created by another service, the service that created the health
  check. When a health check is created by another service, you can't edit or delete
  it using Amazon Route 53. \";}}s:8:\"required\";a:4:{i:0;s:2:\"Id\";i:1;s:15:\"CallerReference\";i:2;s:17:\"HealthCheckConfig\";i:3;s:18:\"HealthCheckVersion\";}s:4:\"type\";s:6:\"object\";}s:24:\"HealthCheckAlreadyExists\";O:8:\"stdClass\":3:{s:11:\"description\";s:537:\"<p>
  The health check you're attempting to create already exists. Amazon Route 53 returns
  this error when you submit a request that has the following values:</p> <ul> <li>
  <p>The same value for <code>CallerReference</code> as an existing health check,
  and one or more values that differ from the existing health check that has the same
  caller reference.</p> </li> <li> <p>The same value for <code>CallerReference</code>
  as a health check that you created and later deleted, regardless of the other settings
  in the request.</p> </li> </ul>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:43:\"Descriptive
  message for the error response.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"HealthCheckConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"A
  complex type that contains information about the health check.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:15:\"AlarmIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AlarmIdentifier\";s:11:\"description\";s:155:\"A
  complex type that identifies the CloudWatch alarm that you want Amazon Route 53
  health checkers to use to determine whether this health check is healthy.\";}s:17:\"ChildHealthChecks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ChildHealthCheckList\";s:11:\"description\";s:196:\"(CALCULATED
  Health Checks Only) A complex type that contains one <code>ChildHealthCheck</code>
  element for each health check that you want to associate with a <code>CALCULATED</code>
  health check.\";}s:9:\"EnableSNI\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/EnableSNI\";s:11:\"description\";s:1423:\"<p>Specify
  whether you want Amazon Route 53 to send the value of <code>FullyQualifiedDomainName</code>
  to the endpoint in the <code>client_hello</code> message during TLS negotiation.
  This allows the endpoint to respond to <code>HTTPS</code> health check requests
  with the applicable SSL/TLS certificate.</p> <p>Some endpoints require that <code>HTTPS</code>
  requests include the host name in the <code>client_hello</code> message. If you
  don't enable SNI, the status of the health check will be <code>SSL alert handshake_failure</code>.
  A health check can also have that status for other reasons. If SNI is enabled and
  you're still getting the error, check the SSL/TLS configuration on your endpoint
  and confirm that your certificate is valid.</p> <p>The SSL/TLS certificate on your
  endpoint includes a domain name in the <code>Common Name</code> field and possibly
  several more in the <code>Subject Alternative Names</code> field. One of the domain
  names in the certificate should match the value that you specify for <code>FullyQualifiedDomainName</code>.
  If the endpoint responds to the <code>client_hello</code> message with a certificate
  that does not include the domain name that you specified in <code>FullyQualifiedDomainName</code>,
  a health checker will retry the handshake. In the second attempt, the health checker
  will omit <code>FullyQualifiedDomainName</code> from the <code>client_hello</code>
  message.</p>\";}s:16:\"FailureThreshold\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/FailureThreshold\";s:11:\"description\";s:556:\"<p>The
  number of consecutive health checks that an endpoint must pass or fail for Amazon
  Route 53 to change the current status of the endpoint from unhealthy to healthy
  or vice versa. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html\">How
  Amazon Route 53 Determines Whether an Endpoint Is Healthy</a> in the <i>Amazon Route
  53 Developer Guide</i>.</p> <p>If you don't specify a value for <code>FailureThreshold</code>,
  the default value is three health checks.</p>\";}s:24:\"FullyQualifiedDomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/FullyQualifiedDomainName\";s:11:\"description\";s:3648:\"<p>Amazon
  Route 53 behavior depends on whether you specify a value for <code>IPAddress</code>.</p>
  <p> <b>If you specify a value for</b> <code>IPAddress</code>:</p> <p>Amazon Route
  53 sends health check requests to the specified IPv4 or IPv6 address and passes
  the value of <code>FullyQualifiedDomainName</code> in the <code>Host</code> header
  for all health checks except TCP health checks. This is typically the fully qualified
  DNS name of the endpoint on which you want Amazon Route 53 to perform health checks.</p>
  <p>When Amazon Route 53 checks the health of an endpoint, here is how it constructs
  the <code>Host</code> header:</p> <ul> <li> <p>If you specify a value of <code>80</code>
  for <code>Port</code> and <code>HTTP</code> or <code>HTTP_STR_MATCH</code> for <code>Type</code>,
  Amazon Route 53 passes the value of <code>FullyQualifiedDomainName</code> to the
  endpoint in the Host header. </p> </li> <li> <p>If you specify a value of <code>443</code>
  for <code>Port</code> and <code>HTTPS</code> or <code>HTTPS_STR_MATCH</code> for
  <code>Type</code>, Amazon Route 53 passes the value of <code>FullyQualifiedDomainName</code>
  to the endpoint in the <code>Host</code> header.</p> </li> <li> <p>If you specify
  another value for <code>Port</code> and any value except <code>TCP</code> for <code>Type</code>,
  Amazon Route 53 passes <code>FullyQualifiedDomainName:Port</code> to the endpoint
  in the <code>Host</code> header.</p> </li> </ul> <p>If you don't specify a value
  for <code>FullyQualifiedDomainName</code>, Amazon Route 53 substitutes the value
  of <code>IPAddress</code> in the <code>Host</code> header in each of the preceding
  cases.</p> <p> <b>If you don't specify a value for <code>IPAddress</code> </b>:</p>
  <p>Amazon Route 53 sends a DNS request to the domain that you specify for <code>FullyQualifiedDomainName</code>
  at the interval that you specify for <code>RequestInterval</code>. Using an IPv4
  address that DNS returns, Amazon Route 53 then checks the health of the endpoint.</p>
  <note> <p>If you don't specify a value for <code>IPAddress</code>, Amazon Route
  53 uses only IPv4 to send health checks to the endpoint. If there's no resource
  record set with a type of A for the name that you specify for <code>FullyQualifiedDomainName</code>,
  the health check fails with a \"DNS resolution failed\" error.</p> </note> <p>If
  you want to check the health of weighted, latency, or failover resource record sets
  and you choose to specify the endpoint only by <code>FullyQualifiedDomainName</code>,
  we recommend that you create a separate health check for each endpoint. For example,
  create a health check for each HTTP server that is serving content for www.example.com.
  For the value of <code>FullyQualifiedDomainName</code>, specify the domain name
  of the server (such as us-east-2-www.example.com), not the name of the resource
  record sets (www.example.com).</p> <important> <p>In this configuration, if you
  create a health check for which the value of <code>FullyQualifiedDomainName</code>
  matches the name of the resource record sets and you then associate the health check
  with those resource record sets, health check results will be unpredictable.</p>
  </important> <p>In addition, if the value that you specify for <code>Type</code>
  is <code>HTTP</code>, <code>HTTPS</code>, <code>HTTP_STR_MATCH</code>, or <code>HTTPS_STR_MATCH</code>,
  Amazon Route 53 passes the value of <code>FullyQualifiedDomainName</code> in the
  <code>Host</code> header, as it does when you specify a value for <code>IPAddress</code>.
  If the value of <code>Type</code> is <code>TCP</code>, Amazon Route 53 doesn't pass
  a <code>Host</code> header.</p>\";}s:15:\"HealthThreshold\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/HealthThreshold\";s:11:\"description\";s:738:\"<p>The
  number of child health checks that are associated with a <code>CALCULATED</code>
  health that Amazon Route 53 must consider healthy for the <code>CALCULATED</code>
  health check to be considered healthy. To specify the child health checks that you
  want to associate with a <code>CALCULATED</code> health check, use the <a>HealthCheckConfig$ChildHealthChecks</a>
  and <a>HealthCheckConfig$ChildHealthChecks</a> elements.</p> <p>Note the following:</p>
  <ul> <li> <p>If you specify a number greater than the number of child health checks,
  Amazon Route 53 always considers this health check to be unhealthy.</p> </li> <li>
  <p>If you specify <code>0</code>, Amazon Route 53 always considers this health check
  to be healthy.</p> </li> </ul>\";}s:9:\"IPAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IPAddress\";s:11:\"description\";s:2066:\"<p>The
  IPv4 or IPv6 IP address of the endpoint that you want Amazon Route 53 to perform
  health checks on. If you don't specify a value for <code>IPAddress</code>, Amazon
  Route 53 sends a DNS request to resolve the domain name that you specify in <code>FullyQualifiedDomainName</code>
  at the interval that you specify in <code>RequestInterval</code>. Using an IP address
  returned by DNS, Amazon Route 53 then checks the health of the endpoint.</p> <p>Use
  one of the following formats for the value of <code>IPAddress</code>: </p> <ul>
  <li> <p> <b>IPv4 address</b>: four values between 0 and 255, separated by periods
  (.), for example, <code>192.0.2.44</code>.</p> </li> <li> <p> <b>IPv6 address</b>:
  eight groups of four hexadecimal values, separated by colons (:), for example, <code>2001:0db8:85a3:0000:0000:abcd:0001:2345</code>.
  You can also shorten IPv6 addresses as described in RFC 5952, for example, <code>2001:db8:85a3::abcd:1:2345</code>.</p>
  </li> </ul> <p>If the endpoint is an EC2 instance, we recommend that you create
  an Elastic IP address, associate it with your EC2 instance, and specify the Elastic
  IP address for <code>IPAddress</code>. This ensures that the IP address of your
  instance will never change.</p> <p>For more information, see <a>HealthCheckConfig$FullyQualifiedDomainName</a>.</p>
  <p>Constraints: Amazon Route 53 can't check the health of endpoints for which the
  IP address is in local, private, non-routable, or multicast ranges. For more information
  about IP addresses for which you can't create health checks, see the following documents:</p>
  <ul> <li> <p> <a href=\"https://tools.ietf.org/html/rfc5735\">RFC 5735, Special
  Use IPv4 Addresses</a> </p> </li> <li> <p> <a href=\"https://tools.ietf.org/html/rfc6598\">RFC
  6598, IANA-Reserved IPv4 Prefix for Shared Address Space</a> </p> </li> <li> <p>
  <a href=\"https://tools.ietf.org/html/rfc5156\">RFC 5156, Special-Use IPv6 Addresses</a>
  </p> </li> </ul> <p>When the value of <code>Type</code> is <code>CALCULATED</code>
  or <code>CLOUDWATCH_METRIC</code>, omit <code>IPAddress</code>.</p>\";}s:28:\"InsufficientDataHealthStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/InsufficientDataHealthStatus\";s:11:\"description\";s:668:\"<p>When
  CloudWatch has insufficient data about the metric to determine the alarm state,
  the status that you want Amazon Route 53 to assign to the health check:</p> <ul>
  <li> <p> <code>Healthy</code>: Amazon Route 53 considers the health check to be
  healthy.</p> </li> <li> <p> <code>Unhealthy</code>: Amazon Route 53 considers the
  health check to be unhealthy.</p> </li> <li> <p> <code>LastKnownStatus</code>: Amazon
  Route 53 uses the status of the health check from the last time that CloudWatch
  had sufficient data to determine the alarm state. For new health checks that have
  no last known status, the default status for the health check is healthy.</p> </li>
  </ul>\";}s:8:\"Inverted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Inverted\";s:11:\"description\";s:177:\"Specify
  whether you want Amazon Route 53 to invert the status of a health check, for example,
  to consider a health check unhealthy when it otherwise would be considered healthy.\";}s:14:\"MeasureLatency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/MeasureLatency\";s:11:\"description\";s:366:\"<p>Specify
  whether you want Amazon Route 53 to measure the latency between health checkers
  in multiple AWS regions and your endpoint, and to display CloudWatch latency graphs
  on the <b>Health Checks</b> page in the Amazon Route 53 console.</p> <important>
  <p>You can't change the value of <code>MeasureLatency</code> after you create a
  health check.</p> </important>\";}s:4:\"Port\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Port\";s:11:\"description\";s:180:\"The
  port on the endpoint on which you want Amazon Route 53 to perform health checks.
  Specify a value for <code>Port</code> only when you specify a value for <code>IPAddress</code>.\";}s:7:\"Regions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/HealthCheckRegionList\";s:11:\"description\";s:649:\"<p>A
  complex type that contains one <code>Region</code> element for each region from
  which you want Amazon Route 53 health checkers to check the specified endpoint.</p>
  <p>If you don't specify any regions, Amazon Route 53 health checkers automatically
  performs checks from all of the regions that are listed under <b>Valid Values</b>.</p>
  <p>If you update a health check to remove a region that has been performing health
  checks, Amazon Route 53 will briefly continue to perform checks from that region
  to ensure that some health checkers are always checking the endpoint (for example,
  if you replace three regions with four different regions). </p>\";}s:15:\"RequestInterval\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RequestInterval\";s:11:\"description\";s:468:\"<p>The
  number of seconds between the time that Amazon Route 53 gets a response from your
  endpoint and the time that it sends the next health check request. Each Amazon Route
  53 health checker makes requests at this interval.</p> <important> <p>You can't
  change the value of <code>RequestInterval</code> after you create a health check.</p>
  </important> <p>If you don't specify a value for <code>RequestInterval</code>, the
  default value is <code>30</code> seconds.</p>\";}s:12:\"ResourcePath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourcePath\";s:11:\"description\";s:271:\"The
  path, if any, that you want Amazon Route 53 to request when performing health checks.
  The path can be any value for which your endpoint will return an HTTP status code
  of 2xx or 3xx when the endpoint is healthy, for example, the file /docs/route53-health-check.html.
  \";}s:12:\"SearchString\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SearchString\";s:11:\"description\";s:393:\"<p>If
  the value of Type is <code>HTTP_STR_MATCH</code> or <code>HTTP_STR_MATCH</code>,
  the string that you want Amazon Route 53 to search for in the response body from
  the specified resource. If the string appears in the response body, Amazon Route
  53 considers the resource healthy.</p> <p>Amazon Route 53 considers case when searching
  for <code>SearchString</code> in the response body. </p>\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/HealthCheckType\";s:11:\"description\";s:2633:\"<p>The
  type of health check that you want to create, which indicates how Amazon Route 53
  determines whether an endpoint is healthy.</p> <important> <p>You can't change the
  value of <code>Type</code> after you create a health check.</p> </important> <p>You
  can create the following types of health checks:</p> <ul> <li> <p> <b>HTTP</b>:
  Amazon Route 53 tries to establish a TCP connection. If successful, Amazon Route
  53 submits an HTTP request and waits for an HTTP status code of 200 or greater and
  less than 400.</p> </li> <li> <p> <b>HTTPS</b>: Amazon Route 53 tries to establish
  a TCP connection. If successful, Amazon Route 53 submits an HTTPS request and waits
  for an HTTP status code of 200 or greater and less than 400.</p> <important> <p>If
  you specify <code>HTTPS</code> for the value of <code>Type</code>, the endpoint
  must support TLS v1.0 or later.</p> </important> </li> <li> <p> <b>HTTP_STR_MATCH</b>:
  Amazon Route 53 tries to establish a TCP connection. If successful, Amazon Route
  53 submits an HTTP request and searches the first 5,120 bytes of the response body
  for the string that you specify in <code>SearchString</code>.</p> </li> <li> <p>
  <b>HTTPS_STR_MATCH</b>: Amazon Route 53 tries to establish a TCP connection. If
  successful, Amazon Route 53 submits an <code>HTTPS</code> request and searches the
  first 5,120 bytes of the response body for the string that you specify in <code>SearchString</code>.</p>
  </li> <li> <p> <b>TCP</b>: Amazon Route 53 tries to establish a TCP connection.</p>
  </li> <li> <p> <b>CLOUDWATCH_METRIC</b>: The health check is associated with a CloudWatch
  alarm. If the state of the alarm is <code>OK</code>, the health check is considered
  healthy. If the state is <code>ALARM</code>, the health check is considered unhealthy.
  If CloudWatch doesn't have sufficient data to determine whether the state is <code>OK</code>
[...]
