---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:7:\"version\";s:2:\"v1\";s:5:\"title\";s:11:\"Plumsail
  SP\";s:11:\"description\";s:203:\"This connector provides a set of SharePoint related
  actions. For example, permissions, documents, folders, document sets management.
  Visit official site for more information https://plumsail.com/actions/\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"Support\";s:3:\"url\";s:20:\"https://plumsail.com\";s:5:\"email\";s:20:\"support@plumsail.com\";}s:19:\"x-ms-api-annotation\";O:8:\"stdClass\":1:{s:6:\"status\";s:7:\"Preview\";}}"
host: api.plumsail.com
paths:
  /flow/v1/SharePointFlow/Schema/ChangePermissions:
    post:
      tags:
      - SharePointFlowSchemaConroller
      operationId: FlowV1SharePointFlowSchemaChangePermissionsPost
      consumes: []
      produces: []
      parameters:
      - name: actionType
        in: query
        required: true
        type: string
        enum:
        - Grant
        - Remove
        - RemoveAll
        - RestoreInheritance
        x-ms-summary: Action type
        description: The type of the operation
      - name: target
        in: query
        required: true
        type: string
        enum:
        - Site
        - List
        - Item
        - Folder
        - Document
        x-ms-summary: Target
        description: The target of the operation
      responses:
        200:
          description: Success
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      x-ms-visibility: internal
      summary: ChangePermissionsSchema
      description: System
  /flow/v1/SharePointFlow/Schema/CreateModernSite:
    post:
      tags:
      - SharePointFlowSchemaConroller
      operationId: FlowV1SharePointFlowSchemaCreateModernSitePost
      consumes: []
      produces: []
      parameters:
      - name: siteType
        in: query
        required: true
        type: string
        enum:
        - TeamSite
        - CommunicationSite
        x-ms-summary: Site Type
        description: The type of the site for create
      responses:
        200:
          description: Success
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      x-ms-visibility: internal
      summary: CreateModernSiteSchema
      description: System
  /flow/v1/SharePointFlow/Schema/GetItemsByCAMLQuery:
    post:
      tags:
      - SharePointFlowSchemaConroller
      operationId: FlowV1SharePointFlowSchemaGetItemsByCAMLQueryPost
      consumes: []
      produces: []
      parameters:
      - name: camlQuery
        in: query
        required: true
        type: string
        x-ms-summary: CAML Query
        description: CAML query
      responses:
        200:
          description: Success
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      x-ms-visibility: internal
      summary: GetItemsByCAMLQueryResponseSchema
      description: System
  /flow/v1/SharePointFlow/Schema/InviteExternalUser:
    post:
      tags:
      - SharePointFlowSchemaConroller
      operationId: FlowV1SharePointFlowSchemaInviteExternalUserPost
      consumes: []
      produces: []
      parameters:
      - name: target
        in: query
        required: true
        type: string
        enum:
        - Site
        - Item
        - Group
        x-ms-summary: Target
        description: The target of the operation
      responses:
        200:
          description: Success
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      x-ms-visibility: internal
      summary: InviteExternalUserSchema
      description: System
  /flow/v1/SharePointFlow/jobs/CreateSiteFromTemplate:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsCreateSiteFromTemplatePost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreateSiteFromTemplateRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/WebUrlResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Create SharePoint Site from Template
      description: Create a new SharePoint site based on specific template
  /flow/v1/SharePointFlow/jobs/ChangePermissions:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsChangePermissionsPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: actionType
        in: query
        required: true
        type: string
        enum:
        - Grant
        - Remove
        - RemoveAll
        - RestoreInheritance
        x-ms-summary: Action type
        description: The type of the operation
      - name: target
        in: query
        required: true
        type: string
        enum:
        - Site
        - List
        - Item
        - Folder
        - Document
        x-ms-summary: Target
        description: The target of the operation
      - name: request
        in: body
        required: true
        schema:
          type: object
          additionalProperties:
            type: object
          x-ms-dynamic-schema:
            operationId: FlowV1SharePointFlowSchemaChangePermissionsPost
            value-path: items
            parameters:
              actionType:
                parameter: actionType
              target:
                parameter: target
      responses:
        200:
          description: Success
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Change SharePoint permissions
      description: Grant, remove and restore permissions for the site, the list, and
        the item
  /flow/v1/SharePointFlow/jobs/ActivateFeature:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsActivateFeaturePost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/ActivateFeatureRequest'
      responses:
        200:
          description: Success
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Activate SharePoint Feature
      description: Activate a feature with specific ID
  /flow/v1/SharePointFlow/jobs/CreateListOrLibrary:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsCreateListOrLibraryPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreateListOrLibraryRequest'
      responses:
        200:
          description: Success
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Create SharePoint List or Library
      description: Create list or library by template
  /flow/v1/SharePointFlow/jobs/SetDefaultSiteGroup:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsSetDefaultSiteGroupPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/SetDefaultSiteGroupRequest'
      responses:
        200:
          description: Success
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Set Default SharePoint Site Group
      description: Configure default groups for the site it is analog of the permsetup.aspx
        page
  /flow/v1/SharePointFlow/jobs/CopyDocumentFromLibrary:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsCopyDocumentFromLibraryPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/CopyDocumentRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DocumentInfoResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Copy SharePoint Document from Library
      description: Copies the document from the document library to the specified
        URL. You can copy the document to another document library cross-site or to
        another folder
  /flow/v1/SharePointFlow/jobs/MoveDocumentFromLibrary:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsMoveDocumentFromLibraryPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/MoveDocumentRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DocumentInfoResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Move SharePoint Document from Library
      description: Moves the document from the document library to the specified URL.
        You can copy the document to another document library cross-site or to another
        folder
  /flow/v1/SharePointFlow/jobs/RemoveDocumentByUrl:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsRemoveDocumentByUrlPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/RemoveDocumentRequest'
      responses:
        200:
          description: Success
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Remove SharePoint Document by URL
      description: Remove the document by a specific URL
  /flow/v1/SharePointFlow/jobs/CreateDocumentSet:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsCreateDocumentSetPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreateDocumentSetRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DocumentSetInfoResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Create SharePoint Document Set
      description: Creates a new document set in the document library by the specified
        URL
  /flow/v1/SharePointFlow/jobs/CopyDocumentSet:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsCopyDocumentSetPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/CopyDocumentSetRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DocumentSetInfoResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Copy SharePoint Document Set
      description: Copies the document set from the document library to the specified
        URL. You can copy the document sets to another document library cross-site
        or to another folder
  /flow/v1/SharePointFlow/jobs/MoveDocumentSet:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsMoveDocumentSetPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/MoveDocumentSetRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DocumentSetInfoResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Move SharePoint Document Set
      description: Moves the document set from the document library to the specified
        URL. You can copy the document sets to another document library cross-site
        or to another folder
  /flow/v1/SharePointFlow/jobs/CreateFolderByUrl:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsCreateFolderByUrlPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreateFolderByUrlRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/FolderInfoResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Create SharePoint Folder by URL
      description: Creates a new folder in the document library by the specified URL
  /flow/v1/SharePointFlow/jobs/CreateFolderInList:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsCreateFolderInListPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreateFolderInListRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/FolderInfoResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Create SharePoint Folder in List
      description: Creates a new folder in the document library or list using the
        specified path
  /flow/v1/SharePointFlow/jobs/RemoveFolderByUrl:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsRemoveFolderByUrlPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/RemoveFolderByUrlRequest'
      responses:
        200:
          description: Success
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Remove SharePoint Folder by URL
      description: Removes the folder from the document library or list by the specified
        URL
  /flow/v1/SharePointFlow/jobs/CopyFolderFromLibrary:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsCopyFolderFromLibraryPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/CopyFolderRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/FolderInfoResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Copy SharePoint Folder from Library
      description: Copies the folder from the document library to the specified URL.
        You can copy the folder to another document library cross-site or to another
        folder
  /flow/v1/SharePointFlow/jobs/MoveFolderFromLibrary:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsMoveFolderFromLibraryPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/MoveFolderRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/FolderInfoResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Move SharePoint Folder from Library
      description: Moves the folder from the document library to the specified URL.
        You can move the folder to another document library cross-site or to another
        folder
  /flow/v1/SharePointFlow/jobs/CheckInDocument:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsCheckInDocumentPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/CheckInDocumentRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DocumentInfoResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Check In SharePoint Document
      description: Check-in the document at the specified URL with the specified comment
  /flow/v1/SharePointFlow/jobs/CheckOutDocument:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsCheckOutDocumentPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/CheckOutDocumentRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DocumentInfoResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Check Out SharePoint Document
      description: Check-out the document at the specified URL
  /flow/v1/SharePointFlow/jobs/CreateModernSite:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsCreateModernSitePost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: siteType
        in: query
        required: true
        type: string
        enum:
        - TeamSite
        - CommunicationSite
        x-ms-summary: Site Type
        description: The type of the site for create
      - name: request
        in: body
        required: true
        schema:
          type: object
          additionalProperties:
            type: object
          x-ms-dynamic-schema:
            operationId: FlowV1SharePointFlowSchemaCreateModernSitePost
            value-path: items
            parameters:
              siteType:
                parameter: siteType
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/WebUrlResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Create Modern SharePoint Site
      description: Creates a modern SharePoint Team or Communication site
  /flow/v1/SharePointFlow/jobs/CreateSharePointGroup:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsCreateSharePointGroupPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreateSPGroupRequest'
      responses:
        200:
          description: Success
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Create SharePoint Group
      description: Creates the SharePoint group with a specified name
  /flow/v1/SharePointFlow/jobs/RemoveSharePointGroup:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsRemoveSharePointGroupPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/RemoveSPGroupRequest'
      responses:
        200:
          description: Success
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Remove SharePoint Group
      description: Removes the SharePoint group by a specified name
  /flow/v1/SharePointFlow/jobs/UpdateSharePointGroupProperties:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsUpdateSharePointGroupPropertiesPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/UpdateSPGroupPropertiesRequest'
      responses:
        200:
          description: Success
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Update SharePoint Group Properties
      description: Updates SharePoint group properties like AutoAcceptRequestToJoinLeave,
        AllowMembersEditMembership or other options described in MSDN
  /flow/v1/SharePointFlow/jobs/AddUserToSharePointGroup:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsAddUserToSharePointGroupPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/AddUserToSPGroupRequest'
      responses:
        200:
          description: Success
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Add User to SharePoint Group
      description: Adds a user to a specific SharePoint group
  /flow/v1/SharePointFlow/jobs/RemoveUserFromSharePointGroup:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsRemoveUserFromSharePointGroupPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/RemoveUserFromSPGroupRequest'
      responses:
        200:
          description: Success
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Remove User from SharePoint Group
      description: Removes a user from a specific SharePoint group
  /flow/v1/SharePointFlow/jobs/GetSharePointGroupMembers:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsGetSharePointGroupMembersPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/GetUsersFromGroupRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetSPGroupMembersResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Get Members of SharePoint Group
      description: Gets members of a specific SharePoint group
  /flow/v1/SharePointFlow/jobs/UserExistInSharePointGroup:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsUserExistInSharePointGroupPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/UserExistsInGroupRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UserExistsResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Is User Member of SharePoint Group
      description: Checks if a user is a member of a specifed SharePoint group
  /flow/v1/SharePointFlow/jobs/UpdateSharePointSiteProperties:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsUpdateSharePointSitePropertiesPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/UpdateSitePropertiesRequest'
      responses:
        200:
          description: Success
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Update SharePoint Site Properties
      description: Updates web properties like Title, Description or other string
        options described in at MSDN
  /flow/v1/SharePointFlow/jobs/DeleteSharePointSite:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsDeleteSharePointSitePost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/BaseSPRequest'
      responses:
        200:
          description: Success
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Delete SharePoint Site
      description: Deletes the SharePoint site by a specific URL
  /flow/v1/SharePointFlow/jobs/GetSharePointSiteOptionValueAsString:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsGetSharePointSiteOptionValueAsStringPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/GetSiteOptionValueRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SPSiteOptionValueResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Get SharePoint Site Option Value
      description: Reads a value from SharePoint Site Options (Property Bag)
  /flow/v1/SharePointFlow/jobs/InviteExternalUserToSharePoint:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsInviteExternalUserToSharePointPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: target
        in: query
        required: true
        type: string
        enum:
        - Site
        - Item
        - Group
        x-ms-summary: Target
        description: The target of the operation
      - name: request
        in: body
        required: true
        schema:
          type: object
          additionalProperties:
            type: object
          x-ms-dynamic-schema:
            operationId: FlowV1SharePointFlowSchemaInviteExternalUserPost
            value-path: items
            parameters:
              target:
                parameter: target
      responses:
        200:
          description: Success
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Invite External User to SharePoint
      description: Invites external users with specific permission to an SharePoint
        site, an specific SharePoint group or an item in a SharePoint list
  /flow/v1/SharePointFlow/jobs/CopyAttachmentsToUrl:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsCopyAttachmentsToUrlPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/CopyAttachmentsToUrlRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListFileUrlsResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Copy SharePoint Item Attachments to URL
      description: Copies attachments from the SharePoint list item to the library
        using the specified folder URL
  /flow/v1/SharePointFlow/jobs/MoveAttachmentsToUrl:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsMoveAttachmentsToUrlPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/MoveAttachmentsToUrlRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListFileUrlsResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Move SharePoint Item Attachments to URL
      description: Moves attachments from the SharePoint list item to the library
        using the specified folder URL
  /flow/v1/SharePointFlow/jobs/AddContentTypeToSharePointList:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsAddContentTypeToSharePointListPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/AddContentTypeToListRequest'
      responses:
        200:
          description: Success
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Add Content Type to SharePoint List
      description: Adds the specified content type to a SharePoint list
  /flow/v1/SharePointFlow/jobs/CopyListItemToSharePointList:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsCopyListItemToSharePointListPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/CopyListItemToListRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListItemIdResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Copy List Item to SharePoint List
      description: Copies the specified list item to another SharePoint list
  /flow/v1/SharePointFlow/jobs/MoveListItemToSharePointList:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsMoveListItemToSharePointListPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/MoveListItemToListRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListItemIdResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Move List Item to SharePoint List
      description: Moves the specified list item to another SharePoint list
  /flow/v1/SharePointFlow/jobs/StartListWorkflow:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsStartListWorkflowPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/StartListWorkflowRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/WorkflowGuidResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Start SharePoint List Workflow (2013)
      description: Starts a SharePoint list level workflow and pass input parameters,
        if they were specified. The action can run only 2013 workflows
  /flow/v1/SharePointFlow/jobs/StartSiteWorkflow:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsStartSiteWorkflowPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/StartSiteWorkflowRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/WorkflowGuidResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Start SharePoint Site Workflow (2013)
      description: Starts a SharePoint site level workflow and pass input parameters,
        if they were specified. The action can run only 2013 workflows
  /flow/v1/SharePointFlow/jobs/GetItemsByCamlQuery:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsGetItemsByCamlQueryPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/GetItemsByCAMLQueryRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetItemsByCAMLQuerySchemaResponseClass'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Get SharePoint Items By CAML Query
      description: Executes a CAML query on a list or on a document library and returns
        the collection of elements
  /flow/v1/SharePointFlow/jobs/GetVersionsHistory:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsGetVersionsHistoryPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces:
      - application/json
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/GetListItemVersionsHistoryRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/VersionsHistoryResponse'
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Get SharePoint Item Versions History
      description: Returns the changes history for the specific field from the SharePoint
        list item
  /flow/v1/SharePointFlow/jobs/ProvisionPnPTemplate:
    post:
      tags:
      - SharePointFlow
      operationId: FlowV1SharePointFlowJobsProvisionPnPTemplatePost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      produces: []
      parameters:
      - name: request
        in: body
        required: true
        schema:
          $ref: '#/definitions/ProvisionPnPTemplateRequest'
      responses:
        200:
          description: Success
        202:
          description: Accepted
          headers:
            Location:
              description: Contains URL where the result of job exection will be available
              type: string
        403:
          description: The request did not have the correct authorization
        404:
          description: Response not found error, please write an email to support@plumsail.com
        500:
          description: Internal server error, please write an email to support@plumsail.com
      summary: Provision PnP Template to SharePoint
      description: Applies a PnP template to a SharePoint site
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":53:{s:29:\"CreateSiteFromTemplateRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:4:{i:0;s:5:\"title\";i:1;s:8:\"template\";i:2;s:7:\"leafUrl\";i:3;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:5:\"title\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:5:\"Title\";s:11:\"description\";s:17:\"Title
  of new site\";}s:8:\"template\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:8:\"Template\";s:11:\"description\";s:61:\"Title
  of the site template that will be used for the new site\";}s:7:\"leafUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:8:\"Leaf
  URL\";s:11:\"description\";s:42:\"A string that represents the URL leaf name\";}s:11:\"description\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:11:\"Description\";s:11:\"description\";s:22:\"Description
  of the web\";}s:4:\"lcid\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:4:\"Lcid\";s:11:\"description\";s:19:\"LCID
  of the new web\";}s:18:\"inheritPermissions\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:19:\"Inherit
  Permissions\";s:11:\"description\";s:76:\"Specifies whether the new site will inherit
  permissions from its parent site\";}s:17:\"inheritNavigation\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:18:\"Inherit
  Navigation\";s:11:\"description\";s:46:\"Specifies whether the site inherits navigation\";}s:8:\"onTopNav\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:17:\"On
  Top Navigation\";s:11:\"description\";s:78:\"Display this site on the top link bar
  of the parent site. Default value is Yes\";}s:13:\"onQuickLaunch\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:15:\"On
  Quick Launch\";s:11:\"description\";s:77:\"Display this site on the Quick Launch
  of the parent site. Default value is No\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:14:\"WebUrlResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:7:\"Web
  URL\";}}}s:22:\"ActivateFeatureRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:9:\"featureId\";i:1;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"featureId\";O:8:\"stdClass\":4:{s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:10:\"Feature
  ID\";s:11:\"description\";s:19:\"Guid of the feature\";}s:5:\"force\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:12:\"x-ms-summary\";s:5:\"Force\";s:11:\"description\";s:82:\"true
  to force activation of the Feature even if there are errors; otherwise, false\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:26:\"CreateListOrLibraryRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:5:\"title\";i:1;s:8:\"template\";i:2;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"title\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:5:\"Title\";s:11:\"description\";s:17:\"Title
  of the list\";}s:8:\"template\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:8:\"Template\";s:11:\"description\";s:53:\"Title
  of the template that will be used for this list\";}s:10:\"partialUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:11:\"Partial
  URL\";s:11:\"description\";s:23:\"Partial url of the list\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:11:\"Description\";s:11:\"description\";s:23:\"Description
  of the list\";}s:13:\"onQuickLaunch\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:12:\"x-ms-summary\";s:15:\"On
  Quick Launch\";s:11:\"description\";s:37:\"Display this list on the Quick Launch\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:26:\"SetDefaultSiteGroupRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:9:\"groupType\";i:1;s:9:\"groupName\";i:2;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"groupType\";O:8:\"stdClass\":4:{s:4:\"enum\";a:3:{i:0;s:5:\"Owner\";i:1;s:6:\"Member\";i:2;s:7:\"Visitor\";}s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:10:\"Group
  Type\";s:11:\"description\";s:17:\"Type of the group\";}s:9:\"groupName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:10:\"Group
  Name\";s:11:\"description\";s:17:\"Name of the group\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:19:\"CopyDocumentRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:9:\"sourceUrl\";i:1;s:14:\"destinationUrl\";i:2;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"sourceUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:10:\"Source
  URL\";s:11:\"description\";s:89:\"The URL of the document to be copied. You can
  use full URL as well as domain relative URL\";}s:14:\"destinationUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:15:\"Destination
  URL\";s:11:\"description\";s:101:\"The URL where the source document will be copied.
  You can use full URL as well as domain relative URL\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:20:\"DocumentInfoResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:12:\"x-ms-summary\";s:11:\"Document
  ID\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:12:\"Document
  URL\";}}}s:19:\"MoveDocumentRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:9:\"sourceUrl\";i:1;s:14:\"destinationUrl\";i:2;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"sourceUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:10:\"Source
  URL\";s:11:\"description\";s:88:\"The URL of the document to be moved. You can use
  full URL as well as domain relative URL\";}s:14:\"destinationUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:15:\"Destination
  URL\";s:11:\"description\";s:100:\"The URL where the source document will be moved.
  You can use full URL as well as domain relative URL\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:21:\"RemoveDocumentRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:9:\"sourceUrl\";i:1;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"sourceUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:12:\"Document
  URL\";s:11:\"description\";s:90:\"The URL of the document to be removed. You can
  use full URL as well as domain relative URL\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:24:\"CreateDocumentSetRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:15:\"documentSetName\";i:1;s:13:\"targetListUrl\";i:2;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"documentSetName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:16:\"DocumentSet
  Name\";s:11:\"description\";s:28:\"The name of the document set\";}s:13:\"targetListUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:11:\"Target
  List\";s:11:\"description\";s:134:\"The name or the URL of a library or a list where
  the document set will be created. You can use full URL as well as domain relative
  URL\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:23:\"DocumentSetInfoResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:12:\"x-ms-summary\";s:15:\"Document
  set ID\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:16:\"Document
  set URL\";}}}s:22:\"CopyDocumentSetRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:9:\"sourceUrl\";i:1;s:14:\"destinationUrl\";i:2;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"sourceUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:10:\"Source
  URL\";s:11:\"description\";s:93:\"The URL of the document set to be copied. You
  can use full URL as well as domain relative URL\";}s:14:\"destinationUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:15:\"Destination
  URL\";s:11:\"description\";s:250:\"The URL where the source document set will be
  copied. You can use full URL as well as domain relative URL. If the URL ends with
  slash '/' the document sets will be placed in this folder without name changes.
  Otherwise the document set will be renamed\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:22:\"MoveDocumentSetRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:9:\"sourceUrl\";i:1;s:14:\"destinationUrl\";i:2;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"sourceUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:10:\"Source
  URL\";s:11:\"description\";s:92:\"The URL of the document set to be moved. You can
  use full URL as well as domain relative URL\";}s:14:\"destinationUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:15:\"Destination
  URL\";s:11:\"description\";s:249:\"The URL where the source document set will be
  moved. You can use full URL as well as domain relative URL. If the URL ends with
  slash '/' the document sets will be placed in this folder without name changes.
  Otherwise the Document set will be renamed\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:24:\"CreateFolderByUrlRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:9:\"folderUrl\";i:1;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"folderUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:10:\"Folder
  URL\";s:11:\"description\";s:79:\"The URL of the folder. If you specify full path,
  you can create several folders\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:18:\"FolderInfoResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:12:\"x-ms-summary\";s:9:\"Folder
  ID\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:10:\"Folder
  URL\";}}}s:25:\"CreateFolderInListRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:13:\"targetListUrl\";i:1;s:10:\"folderPath\";i:2;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"targetListUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:11:\"Target
  List\";s:11:\"description\";s:128:\"The name or the URL of a library or a list where
  the folder will be created. You can use full URL as well as domain relative URL\";}s:10:\"folderPath\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:11:\"Folder
  Path\";s:11:\"description\";s:100:\"The path where the folder will be created. The
  action will create all folders included into the path\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:24:\"RemoveFolderByUrlRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:9:\"sourceUrl\";i:1;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"sourceUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:10:\"Folder
  URL\";s:11:\"description\";s:115:\"The URL of the library where the source folder
  will be removed. You can use full URL as well as domain relative URL\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:17:\"CopyFolderRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:9:\"sourceUrl\";i:1;s:14:\"destinationUrl\";i:2;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"sourceUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:10:\"Source
  URL\";s:11:\"description\";s:87:\"The URL of the folder to be copied. You can use
  full URL as well as domain relative URL\";}s:14:\"destinationUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:15:\"Destination
  URL\";s:11:\"description\";s:99:\"The URL where the source folder will be copied.
  You can use full URL as well as domain relative URL\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:17:\"MoveFolderRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:9:\"sourceUrl\";i:1;s:14:\"destinationUrl\";i:2;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"sourceUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:10:\"Source
  URL\";s:11:\"description\";s:86:\"The URL of the folder to be moved. You can use
  full URL as well as domain relative URL\";}s:14:\"destinationUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:15:\"Destination
  URL\";s:11:\"description\";s:98:\"The URL where the source folder will be moved.
  You can use full URL as well as domain relative URL\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:22:\"CheckInDocumentRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:11:\"documentUrl\";i:1;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"comment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:7:\"Comment\";s:11:\"description\";s:42:\"The
  comment to accompany document check in\";}s:11:\"documentUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:12:\"Document
  URL\";s:11:\"description\";s:35:\"The URL of the document to check in\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:23:\"CheckOutDocumentRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:11:\"documentUrl\";i:1;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"documentUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:12:\"Document
  URL\";s:11:\"description\";s:35:\"The URL of the document to check in\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:20:\"CreateSPGroupRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:9:\"groupName\";i:1;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"groupName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:10:\"Group
  Name\";s:11:\"description\";s:21:\"The name of the group\";}s:16:\"groupDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:17:\"Group
  Description\";s:11:\"description\";s:28:\"The description of the group\";}s:9:\"userLogin\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:11:\"Group
  Owner\";s:11:\"description\";s:54:\"The owner of the group, can be email or the
  user login\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:20:\"RemoveSPGroupRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:9:\"groupName\";i:1;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"groupName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:10:\"Group
  Name\";s:11:\"description\";s:21:\"The name of the group\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:30:\"UpdateSPGroupPropertiesRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:9:\"groupName\";i:1;s:10:\"properties\";i:2;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"groupName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:10:\"Group
  Name\";s:11:\"description\";s:21:\"The name of the group\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SPGroupProperties\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:17:\"SPGroupProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"title\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:5:\"Title\";s:11:\"description\";s:23:\"The
  title for the group\";}s:11:\"description\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:11:\"Description\";s:11:\"description\";s:29:\"The
  description for the group\";}s:5:\"owner\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:5:\"Owner\";s:11:\"description\";s:61:\"The
  owner for the group, which can be a user or another group\";}s:26:\"allowMembersEditMembership\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:29:\"Allow
  Members Edit Membership\";s:11:\"description\";s:79:\"A value that specifies whether
  group members can modify membership in the group\";}s:23:\"allowRequestToJoinLeave\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:27:\"Allow
  Request to Join Leave\";s:11:\"description\";s:129:\"A value that specifies whether
  to allow users to request membership in the group and to allow users to request
  to leave the group\";}s:28:\"autoAcceptRequestToJoinLeave\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:33:\"Auto
  Accept Request to Join Leave\";s:11:\"description\";s:96:\"A value that specifies
  whether users are automatically added or removed when they make a request\";}s:30:\"onlyAllowMembersViewMembership\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:34:\"Only
  Allow Members View Membership\";s:11:\"description\";s:102:\"A value that specifies
  whether only group members are allowed to view the list of members in the group\";}s:30:\"requestToJoinLeaveEmailSetting\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:35:\"Request
  to Join Leave Email Setting\";s:11:\"description\";s:56:\"The e-mail address to
  which membership requests are sent\";}}}s:23:\"AddUserToSPGroupRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:9:\"groupName\";i:1;s:9:\"userLogin\";i:2;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"groupName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:10:\"Group
  Name\";s:11:\"description\";s:21:\"The name of the group\";}s:9:\"userLogin\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:4:\"User\";s:11:\"description\";s:135:\"Login
  or email of the user which will be added to the specific group. Also you can specify
  multiple items using semicolon ';' delimited\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:28:\"RemoveUserFromSPGroupRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:9:\"groupName\";i:1;s:9:\"userLogin\";i:2;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"groupName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:10:\"Group
  Name\";s:11:\"description\";s:21:\"The name of the group\";}s:9:\"userLogin\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:4:\"User\";s:11:\"description\";s:139:\"Login
  or email of the user which will be removed from the specific group. Also you can
  specify multiple items using semicolon ';' delimited\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:24:\"GetUsersFromGroupRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:9:\"groupName\";i:1;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"groupName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:10:\"Group
  Name\";s:11:\"description\";s:21:\"The name of the group\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:25:\"GetSPGroupMembersResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"users\";O:8:\"stdClass\":4:{s:11:\"uniqueItems\";b:0;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/SharePointUserResponse\";}s:12:\"x-ms-summary\";s:5:\"Users\";}}}s:22:\"SharePointUserResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:12:\"x-ms-summary\";s:7:\"User
  ID\";}s:9:\"loginName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:9:\"User
  Name\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:10:\"User
  Email\";}s:6:\"claims\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:11:\"User
  Claims\";}}}s:24:\"UserExistsInGroupRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:9:\"groupName\";i:1;s:9:\"userLogin\";i:2;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"groupName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:10:\"Group
  Name\";s:11:\"description\";s:21:\"The name of the group\";}s:9:\"userLogin\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:4:\"User\";s:11:\"description\";s:78:\"Login
  or email of a user for checking if he is a member in the specified group\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:18:\"UserExistsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"userExists\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:12:\"x-ms-summary\";s:11:\"User
  Exists\";}}}s:27:\"UpdateSitePropertiesRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:10:\"properties\";i:1;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SPWebProperties\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:15:\"SPWebProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":22:{s:5:\"title\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:5:\"Title\";s:11:\"description\";s:25:\"The
  title for the website\";}s:11:\"description\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:11:\"Description\";s:11:\"description\";s:28:\"The
  description for the site\";}s:18:\"quickLaunchEnabled\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:20:\"Quick
  Launch Enabled\";s:11:\"description\";s:78:\"A value that specifies whether the
  Quick Launch area is enabled on the website\";}s:15:\"treeViewEnabled\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:17:\"Tree
  View Enabled\";s:11:\"description\";s:123:\"A value that specifies whether the SharePoint
  Foundation TreeView is enabled in the left navigational area of website pages\";}s:11:\"siteLogoUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:13:\"Site
  Logo URL\";s:11:\"description\";s:36:\"The absolute URL of the website logo\";}s:15:\"alternateCssUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:17:\"Alternate
  Css URL\";s:11:\"description\";s:74:\"The URL for an alternate cascading style sheet
  (CSS) to use in the website\";}s:21:\"associatedMemberGroup\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:23:\"Associated
  Member Group\";s:11:\"description\";s:67:\"The users who have been given contribute
  permissions to the website\";}s:20:\"associatedOwnerGroup\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:22:\"Associated
  Owner Group\";s:11:\"description\";s:42:\"The associated owner groups of the website\";}s:22:\"associatedVisitorGroup\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:24:\"Associated
  Visitor Group\";s:11:\"description\";s:43:\"The associated visitor group of the
  website\";}s:24:\"containsConfidentialInfo\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:26:\"Contains
  Confidential Info\";s:11:\"description\";s:85:\"A value that specifies whether the
  SharePoint site contain a confidential information\";}s:15:\"customMasterUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:17:\"Custom
  Master URL\";s:11:\"description\";s:61:\"The URL for a custom master page file to
  apply to the website\";}s:21:\"enableMinimalDownload\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:23:\"Enable
  Minimal Download\";s:11:\"description\";s:80:\"A value that specifies whether the
  Web site should use Minimal Download Strategy\";}s:14:\"isMultilingual\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:15:\"Is
  Multilingual\";s:11:\"description\";s:87:\"A value that indicates whether a multilingual
  user interface is enabled for the website\";}s:9:\"masterUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:10:\"Master
  URL\";s:11:\"description\";s:55:\"The URL of the master page that is used for the
  website\";}s:15:\"membersCanShare\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:17:\"Members
  Can Share\";s:11:\"description\";s:49:\"Allow Members to share the site and invite
  others\";}s:7:\"noCrawl\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:8:\"No
  Crawl\";s:11:\"description\";s:67:\"A value that specifies whether searching is
  enabled for the website\";}s:29:\"overwriteTranslationsOnChange\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:32:\"Overwrite
  Translations on Change\";s:11:\"description\";s:175:\"A value that indicates whether
  changes made to user-specified text in the default language should automatically
  overwrite existing translations made in all alternate languages\";}s:18:\"requestAccessEmail\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:20:\"Request
  Access Email\";s:11:\"description\";s:56:\"The e-mail address to which requests
  for access are sent\";}s:25:\"saveSiteAsTemplateEnabled\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:29:\"Save
  Site as Template Enabled\";s:11:\"description\";s:75:\"A value that specifies whether
  the Web site can be saved as a site template\";}s:17:\"serverRelativeUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:19:\"Server
  Relative URL\";s:11:\"description\";s:39:\"The server-relative URL for the website\";}s:18:\"syndicationEnabled\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:19:\"Syndication
  Enabled\";s:11:\"description\";s:88:\"A value that specifies whether Really Simple
  Syndication (RSS) is enabled in the website\";}s:9:\"uiVersion\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:10:\"UI
  Version\";s:11:\"description\";s:48:\"The current version number of the user interface\";}}}s:13:\"BaseSPRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:1:{i:0;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:25:\"GetSiteOptionValueRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:10:\"optionName\";i:1;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"optionName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:11:\"Option
  Name\";s:11:\"description\";s:18:\"Name of the option\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:25:\"SPSiteOptionValueResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"optionValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-ms-summary\";s:12:\"Option
  Value\";}}}s:27:\"CopyAttachmentsToUrlRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:4:{i:0;s:7:\"listUrl\";i:1;s:6:\"itemId\";i:2;s:14:\"destinationUrl\";i:3;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"listUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:8:\"List
  URL\";s:11:\"description\";s:22:\"List name, URL or Guid\";}s:6:\"itemId\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:7:\"Item
  ID\";s:11:\"description\";s:25:\"The ID of the source item\";}s:14:\"destinationUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:22:\"Destination
  Folder URL\";s:11:\"description\";s:58:\"The URL of the folder where the attachments
  will be copied\";}s:9:\"overwrite\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:9:\"Overwrite\";s:11:\"description\";s:53:\"Overwrite
  if a file with the same name already exists\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:20:\"ListFileUrlsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"fileUrls\";O:8:\"stdClass\":4:{s:11:\"uniqueItems\";b:0;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"x-ms-summary\";s:9:\"File
  URLs\";}}}s:27:\"MoveAttachmentsToUrlRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:4:{i:0;s:7:\"listUrl\";i:1;s:6:\"itemId\";i:2;s:14:\"destinationUrl\";i:3;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"listUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:8:\"List
  URL\";s:11:\"description\";s:22:\"List name, URL or Guid\";}s:6:\"itemId\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:7:\"Item
  ID\";s:11:\"description\";s:25:\"The ID of the source item\";}s:14:\"destinationUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:22:\"Destination
  Folder URL\";s:11:\"description\";s:57:\"The URL of the folder where the attachments
  will be moved\";}s:9:\"overwrite\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:9:\"Overwrite\";s:11:\"description\";s:53:\"Overwrite
  if a file with the same name already exists\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:27:\"AddContentTypeToListRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:3:{i:0;s:7:\"listUrl\";i:1;s:15:\"contentTypeName\";i:2;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"listUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:8:\"List
  URL\";s:11:\"description\";s:22:\"List name, URL or Guid\";}s:15:\"contentTypeName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:17:\"Content
  Type Name\";s:11:\"description\";s:24:\"Name of the content type\";}s:13:\"makeItDefault\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:15:\"Make
  It Default\";s:11:\"description\";s:42:\"Make the content type default for the list\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:25:\"CopyListItemToListRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:4:{i:0;s:7:\"listUrl\";i:1;s:6:\"itemId\";i:2;s:18:\"destinationListUrl\";i:3;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"listUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:8:\"List
  URL\";s:11:\"description\";s:22:\"List name, URL or Guid\";}s:6:\"itemId\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:7:\"Item
  ID\";s:11:\"description\";s:25:\"The ID of the source item\";}s:18:\"destinationListUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:20:\"Destination
  List URL\";s:11:\"description\";s:91:\"The URL of the destination list. This list
  must contain same fields like in the source list\";}s:15:\"copyAttachments\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:15:\"x-ms-visibility\";s:8:\"advanced\";s:12:\"x-ms-summary\";s:16:\"Copy
  Attachments\";s:11:\"description\";s:40:\"Copy the item with attached files or not\";}s:5:\"spUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:19:\"SharePoint
  Site URL\";s:11:\"description\";s:105:\"This property defines the context of the
  action. The action will be executed on specified SharePoint site\";}}}s:18:\"ListItemIdResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"resultItemId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:12:\"x-ms-summary\";s:14:\"Result
  Item ID\";}}}s:25:\"MoveListItemToListRequest\";O:8:\"stdClass\":3:{s:8:\"required\";a:4:{i:0;s:7:\"listUrl\";i:1;s:6:\"itemId\";i:2;s:18:\"destinationListUrl\";i:3;s:5:\"spUrl\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"listUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:8:\"List
  URL\";s:11:\"description\";s:22:\"List name, URL or Guid\";}s:6:\"itemId\";O:8:\"stdClass\":5:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:7:\"Item
  ID\";s:11:\"description\";s:25:\"The ID of the source item\";}s:18:\"destinationListUrl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:15:\"x-ms-visibility\";s:9:\"important\";s:12:\"x-ms-summary\";s:20:\"Destination
[...]
