---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:15:\"xbrowsertesting\";}s:11:\"description\";s:352:\"What's
  in this version: \n 1. Compare two screenshots for layout differences \n 2. Compare
  a full screenshot test of browsers to a single baseline browser for layout differences.
  \n 3. Compare a screenshot test version to another test version - good for regression
  tests. \n 4. Get links to the Comparison UI for visual representation of layout
  differences\";s:5:\"title\";s:46:\"Crossbrowsertesting.com Screenshot Comparisons\";s:7:\"version\";s:5:\"3.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:15:\"developer_tools\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:88:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_xbrowsertesting_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:79:\"https://crossbrowsertesting.com/apidocs/definitions/screenshot-comparisons.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:23:\"crossbrowsertesting.com\";}"
host: crossbrowsertesting.com
basePath: /api/v3
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:10:\"comparison\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"differences\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"elements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/element\";}s:4:\"type\";s:5:\"array\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"show_comparisons_public_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"show_comparisons_web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tolerance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"element\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"difference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"full_path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"short_path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"show_difference_public_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"show_difference_web_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"full_comparison_test\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"base\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"screenshot\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/screenshot\";}}s:4:\"type\";s:6:\"object\";}s:7:\"targets\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/target\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"screenshot\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"screenshot_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:22:\"single_comparison_test\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"base\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"screenshot\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/screenshot\";}}s:4:\"type\";s:6:\"object\";}s:6:\"target\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/target\";}}s:4:\"type\";s:6:\"object\";}s:6:\"target\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"comparison\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/comparison\";}s:10:\"screenshot\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/screenshot\";}}s:4:\"type\";s:6:\"object\";}}"
...
