---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:5:\"email\";s:20:\"contact@api2cart.com\";s:9:\"x-twitter\";s:8:\"API2Cart\";}s:11:\"description\";s:8:\"API2Cart\";s:14:\"termsOfService\";s:34:\"https://api2cart.com/terms-service\";s:5:\"title\";s:16:\"Swagger
  API2Cart\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_API2Cart_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:51:\"https://app.api2cart.com/default/index/swagger-json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:12:\"api2cart.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"api2cart\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.api2cart.com
basePath: /v1.1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":66:{s:7:\"Carrier\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shipping_methods\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Order_ShippingMethod\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Cart\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"db_prefix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"shipping_zones\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Cart_ShippingZone\";}s:4:\"type\";s:5:\"array\";}s:11:\"stores_info\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Cart_StoreInfo\";}s:4:\"type\";s:5:\"array\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"warehouses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Cart_Warehouse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CartConfigUpdate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"custom_fields\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"This
  parameter sets the list of params to the shopping cart.\";s:4:\"type\";s:6:\"object\";}s:16:\"db_tables_prefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"This
  parameter is deprecated for this method. Please, use this parameter in method account.config.update\";s:4:\"type\";s:6:\"string\";}s:8:\"store_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Store
  Id\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"Cart_ShippingZone\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"country_iso2_codes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Cart_StoreInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"carrier_info\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Carrier\";}s:4:\"type\";s:5:\"array\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Currency\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:14:\"dimension_unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"multi_store_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"prices_include_tax\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"root_category_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"store_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"store_languages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Language\";}s:4:\"type\";s:5:\"array\";}s:16:\"store_owner_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Info\";}s:8:\"timezone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"weight_unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Cart_Warehouse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Customer_Address\";}s:5:\"avail\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"carriers_ids\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"stores_ids\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Category\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"avail\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}s:8:\"keywords\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"meta_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"meta_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"modified_at\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"seo_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"short_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"sort_order\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"stores_ids\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Child\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":37:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:14:\"advanced_price\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/Product_AdvancedPrice\";}s:4:\"type\";s:5:\"array\";}s:16:\"allow_backorders\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"avail_for_sale\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"combination\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"option_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"option_value_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"created_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"default_price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"default_qty_in_pack\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"dimensions_unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ean\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"full_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"gtin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}s:8:\"in_stock\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"inventory\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Product_Inventory\";}s:4:\"type\";s:5:\"array\";}s:15:\"inventory_level\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"is_qty_in_pack_fixed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"length\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"list_price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"manage_stock\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"min_quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"modified_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"mpn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"short_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"sort_order\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"tax_class_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"upc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"weight_unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"wholesale_price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"width\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Country\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"code2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"code3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Coupon\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:7:\"actions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Coupon_Action\";}s:4:\"type\";s:5:\"array\";}s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"avail\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"conditions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Coupon_Condition\";}s:4:\"type\";s:5:\"array\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"date_end\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:10:\"date_start\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"logic_operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"usage_history\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Coupon_History\";}s:4:\"type\";s:5:\"array\";}s:11:\"usage_limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"usage_limit_per_customer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"used_times\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"Coupon_Action\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"apply_to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"conditions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Coupon_Condition\";}s:4:\"type\";s:5:\"array\";}s:13:\"currency_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:22:\"discount_quantity_step\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"discounted_quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"include_tax\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"logic_operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"scope\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"Coupon_Condition\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:6:\"entity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"logic_operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"match_items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"sub-conditions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Coupon_Condition\";}s:4:\"type\";s:5:\"array\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"value_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Coupon_History\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"order_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Currency\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"avail\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"default\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"iso3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"symbol_left\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"symbol_right\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Customer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":22:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"address_book\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Customer_Address\";}s:4:\"type\";s:5:\"array\";}s:9:\"birth_day\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"created_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"fax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"group\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Customer_Group\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ip_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"last_login\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"login\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"modified_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:24:\"news_letter_subscription\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"stores_ids\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CustomerAdd\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":18:{s:7:\"address\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:21:\"address_book_address1\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Specifies
  customer's first address in the address book\";s:4:\"type\";s:6:\"string\";}s:21:\"address_book_address2\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Specifies
  customer's second address in the address book\";s:4:\"type\";s:6:\"string\";}s:17:\"address_book_city\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Specifies
  customer's city in the address book\";s:4:\"type\";s:6:\"string\";}s:20:\"address_book_company\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Specifies
  customer's company name in the address book\";s:4:\"type\";s:6:\"string\";}s:20:\"address_book_country\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"ISO
  code or name of country\";s:4:\"type\";s:6:\"string\";}s:20:\"address_book_default\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Defines
  whether the address is used by default\";s:4:\"type\";s:7:\"boolean\";}s:16:\"address_book_fax\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Specifies
  customer's fax in the address book\";s:4:\"type\";s:6:\"string\";}s:23:\"address_book_first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Specifies
  customer's first name in the address book\";s:4:\"type\";s:6:\"string\";}s:19:\"address_book_gender\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Specifies
  customer's gender\";s:4:\"enum\";a:2:{i:0;s:4:\"male\";i:1;s:6:\"female\";}s:4:\"type\";s:6:\"string\";}s:22:\"address_book_last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Specifies
  customer's last name in the address book\";s:4:\"type\";s:6:\"string\";}s:18:\"address_book_phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Specifies
  customer's phone number in the address book\";s:4:\"type\";s:6:\"string\";}s:21:\"address_book_postcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Specifies
  customer's postcode\";s:4:\"type\";s:6:\"string\";}s:19:\"address_book_region\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Specifies
  customer's region\";s:4:\"type\";s:6:\"string\";}s:18:\"address_book_state\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"ISO
  code or name of state.\";s:4:\"type\";s:6:\"string\";}s:17:\"address_book_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Specifies
  customer's address type\";s:4:\"enum\";a:2:{i:0;s:7:\"billing\";i:1;s:8:\"shipping\";}s:4:\"type\";s:6:\"string\";}s:20:\"address_book_website\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Specifies
  customer's website in the address book\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:9:\"birth_day\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Defines
  customer's birthday\";s:4:\"type\";s:6:\"string\";}s:7:\"company\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Defines
  customer's company\";s:4:\"type\";s:6:\"string\";}s:12:\"created_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Entity's
  date creation\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Defines
  customer's email\";s:4:\"type\";s:6:\"string\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Defines
  customer's fax\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Defines
  customer's first name\";s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Defines
  customer's gender\";s:4:\"enum\";a:2:{i:0;s:4:\"male\";i:1;s:6:\"female\";}s:4:\"type\";s:6:\"string\";}s:5:\"group\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Defines
  the group where the customer\";s:4:\"type\";s:6:\"string\";}s:10:\"last_login\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Defines
  customer's last login time\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Defines
  customer's last name\";s:4:\"type\";s:6:\"string\";}s:5:\"login\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Specifies
  customer's login name\";s:4:\"type\";s:6:\"string\";}s:13:\"modified_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Entity's
  date modification\";s:4:\"type\";s:6:\"string\";}s:24:\"news_letter_subscription\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:69:\"Defines
  whether the newsletter subscription is available for the user\";s:4:\"type\";s:7:\"boolean\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Defines
  customer's unique password\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Defines
  customer's phone number\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:7:\"default\";s:7:\"enabled\";s:11:\"description\";s:25:\"Defines
  customer's status\";s:4:\"enum\";a:2:{i:0;s:7:\"enabled\";i:1;s:8:\"disabled\";}s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Link
  to customer website\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"email\";i:1;s:10:\"first_name\";i:2;s:9:\"last_name\";}s:4:\"type\";s:6:\"object\";}s:16:\"Customer_Address\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"address1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Country\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"default\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"fax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"postcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/State\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Customer_Group\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"DateTime\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:6:\"format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"GiftCard\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"avail_to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"currency_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:16:\"free_product_ids\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"initial_amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"owner_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"owner_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"recipient_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"recipient_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"usage_history\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Coupon_History\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Image\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:3:\"alt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"avail\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"create_at\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"file_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"http_path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"mime-type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"modified_at\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:4:\"size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"sort_order\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Info\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"state_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"street_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"street_address_line_2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"zip_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Language\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"iso_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Order\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:15:\"billing_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Customer_Address\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"create_at\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Currency\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"customer\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"discounts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/Order_Totals_NewDiscount\";}s:4:\"type\";s:5:\"array\";}s:13:\"finished_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"modified_at\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:8:\"order_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"order_products\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Order_Item\";}s:4:\"type\";s:5:\"array\";}s:14:\"payment_method\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/Order_PaymentMethod\";}s:16:\"shipping_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Customer_Address\";}s:15:\"shipping_method\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Order_ShippingMethod\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Order_Status\";}s:8:\"store_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Order_Total\";}s:6:\"totals\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Order_Totals\";}}s:4:\"type\";s:6:\"object\";}s:14:\"OrderAbandoned\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"basket_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Currency\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"customer\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"modified_at\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:14:\"order_products\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Order_Item\";}s:4:\"type\";s:5:\"array\";}s:6:\"totals\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Order_Totals\";}}s:4:\"type\";s:6:\"object\";}s:8:\"OrderAdd\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":51:{s:13:\"admin_comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Specifies
  admin's order comment\";s:4:\"type\";s:6:\"string\";}s:14:\"bill_address_1\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Specifies
  first billing address\";s:4:\"type\";s:6:\"string\";}s:14:\"bill_address_2\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Specifies
  second billing address\";s:4:\"type\";s:6:\"string\";}s:9:\"bill_city\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Specifies
  billing city\";s:4:\"type\";s:6:\"string\";}s:12:\"bill_company\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Specifies
  billing company\";s:4:\"type\";s:6:\"string\";}s:12:\"bill_country\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Specifies
  billing country code\";s:4:\"type\";s:6:\"string\";}s:8:\"bill_fax\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Specifies
  billing fax\";s:4:\"type\";s:6:\"string\";}s:15:\"bill_first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Specifies
  billing first name\";s:4:\"type\";s:6:\"string\";}s:14:\"bill_last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Specifies
  billing last name\";s:4:\"type\";s:6:\"string\";}s:10:\"bill_phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Specifies
  billing phone\";s:4:\"type\";s:6:\"string\";}s:13:\"bill_postcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Specifies
  billing postcode\";s:4:\"type\";s:6:\"string\";}s:10:\"bill_state\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Specifies
  billing state code\";s:4:\"type\";s:6:\"string\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Specifies
  order comment\";s:4:\"type\";s:6:\"string\";}s:15:\"coupon_discount\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:33:\"Specifies
  order's coupon discount\";s:4:\"type\";s:6:\"number\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Currency
  code of order\";s:4:\"type\";s:6:\"string\";}s:17:\"customer_birthday\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Specifies
  customer\u2019s birthday\";s:4:\"type\";s:6:\"string\";}s:14:\"customer_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Defines
  the customer specified by email for whom order has to be created\";s:4:\"type\";s:6:\"string\";}s:12:\"customer_fax\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Specifies
  customer\u2019s fax\";s:4:\"type\";s:6:\"string\";}s:19:\"customer_first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Specifies
  customer's first name\";s:4:\"type\";s:6:\"string\";}s:18:\"customer_last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Specifies
  customer\u2019s last name\";s:4:\"type\";s:6:\"string\";}s:14:\"customer_phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Specifies
  customer\u2019s phone\";s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Specifies
  an order creation date in format Y-m-d H:i:s\";s:4:\"type\";s:6:\"string\";}s:13:\"date_finished\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Specifies
  order's  finished date\";s:4:\"type\";s:6:\"string\";}s:13:\"date_modified\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Specifies
  order's  modification date\";s:4:\"type\";s:6:\"string\";}s:8:\"discount\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:26:\"Specifies
  order's discount\";s:4:\"type\";s:6:\"number\";}s:16:\"financial_status\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Create
  order with financial status\";s:4:\"enum\";a:7:{i:0;s:7:\"pending\";i:1;s:10:\"authorized\";i:2;s:14:\"partially_paid\";i:3;s:4:\"paid\";i:4;s:18:\"partially_refunded\";i:5;s:8:\"refunded\";i:6;s:6:\"voided\";}s:4:\"type\";s:6:\"string\";}s:18:\"fulfillment_status\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Create
  order with fulfillment status\";s:4:\"enum\";a:3:{i:0;s:9:\"fulfilled\";i:1;s:4:\"null\";i:2;s:7:\"partial\";}s:4:\"type\";s:6:\"string\";}s:25:\"gift_certificate_discount\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:42:\"Discounts
  for order with gift certificates\";s:4:\"type\";s:6:\"number\";}s:8:\"order_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Defines
  the order id if it is supported by the cart\";s:4:\"type\";s:6:\"string\";}s:10:\"order_item\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"order_item_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Defines
  orders specified by order item id\";s:4:\"type\";s:6:\"string\";}s:16:\"order_item_model\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Defines
  orders specified by order item model\";s:4:\"type\";s:6:\"string\";}s:15:\"order_item_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Defines
  orders specified by order item name\";s:4:\"type\";s:6:\"string\";}s:17:\"order_item_option\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"order_item_option_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Ordered
  Product Option Name. Where x is order item ID, y is order item option ID\";s:4:\"type\";s:6:\"string\";}s:23:\"order_item_option_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Ordered
  product option price Where x is order item ID, y - order item option ID\";s:4:\"type\";s:6:\"number\";}s:23:\"order_item_option_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Ordered
  product option value Where x is order item ID, y - order item option ID\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:16:\"order_item_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Defines
  orders specified by order item price\";s:4:\"type\";s:6:\"number\";}s:19:\"order_item_quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Defines
  orders specified by order item quantity\";s:4:\"type\";s:7:\"integer\";}s:14:\"order_item_tax\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:35:\"Percentage
  of tax for product order\";s:4:\"type\";s:6:\"number\";}s:21:\"order_item_variant_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Ordered
  product variant. Where x is order item ID\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:20:\"order_payment_method\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Defines
  order payment method\";s:4:\"type\";s:6:\"string\";}s:21:\"order_shipping_method\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Defines
  order shipping method\";s:4:\"type\";s:6:\"string\";}s:12:\"order_status\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Defines
  order status.\";s:4:\"type\";s:6:\"string\";}s:18:\"send_notifications\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:54:\"Send
  notifications to customer after order was created\";s:4:\"type\";s:7:\"boolean\";}s:15:\"shipp_address_1\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Specifies
  first shipping address\";s:4:\"type\";s:6:\"string\";}s:15:\"shipp_address_2\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Specifies
  second shipping address\";s:4:\"type\";s:6:\"string\";}s:10:\"shipp_city\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Specifies
  shipping city\";s:4:\"type\";s:6:\"string\";}s:13:\"shipp_company\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Specifies
  shipping company\";s:4:\"type\";s:6:\"string\";}s:13:\"shipp_country\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Specifies
  shipping country code\";s:4:\"type\";s:6:\"string\";}s:9:\"shipp_fax\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Specifies
  shipping fax\";s:4:\"type\";s:6:\"string\";}s:16:\"shipp_first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Specifies
  shipping first name\";s:4:\"type\";s:6:\"string\";}s:15:\"shipp_last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Specifies
  shipping last name\";s:4:\"type\";s:6:\"string\";}s:11:\"shipp_phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Specifies
  shipping phone\";s:4:\"type\";s:6:\"string\";}s:14:\"shipp_postcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Specifies
  shipping postcode\";s:4:\"type\";s:6:\"string\";}s:11:\"shipp_state\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Specifies
  shipping state code\";s:4:\"type\";s:6:\"string\";}s:14:\"shipping_price\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:32:\"Specifies
  order's shipping price\";s:4:\"type\";s:6:\"number\";}s:8:\"store_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Defines
  store id where the order should be assigned\";s:4:\"type\";s:6:\"string\";}s:14:\"subtotal_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Total
  price of all ordered products multiplied by their number, excluding tax, shipping
  price and discounts\";s:4:\"type\";s:6:\"number\";}s:9:\"tax_price\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:31:\"The
  value of tax cost for order\";s:4:\"type\";s:6:\"number\";}s:10:\"total_paid\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Defines
  total paid amount for the order\";s:4:\"type\";s:6:\"number\";}s:11:\"total_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Defines
  order's total price\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:10:{i:0;s:12:\"order_status\";i:1;s:14:\"customer_email\";i:2;s:15:\"bill_first_name\";i:3;s:14:\"bill_last_name\";i:4;s:14:\"bill_address_1\";i:5;s:9:\"bill_city\";i:6;s:13:\"bill_postcode\";i:7;s:10:\"bill_state\";i:8;s:12:\"bill_country\";i:9;s:11:\"total_price\";}s:4:\"type\";s:6:\"object\";}s:14:\"OrderRefundAdd\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"date\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Specifies
  an order creation date in format Y-m-d H:i:s\";s:4:\"type\";s:6:\"string\";}s:9:\"fee_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Specifies
  refund's fee price\";s:4:\"type\";s:6:\"number\";}s:12:\"item_restock\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:74:\"Boolean,
  whether or not to add the line items back to the store inventory.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Defines
  items in the order that will be shipped\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"order_product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Refund
  reason, or some else message which assigned to refund.\";s:4:\"type\";s:6:\"string\";}s:8:\"order_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Defines
  the order for which the refund will be created.\";s:4:\"type\";s:6:\"string\";}s:18:\"send_notifications\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:55:\"Send
  notifications to customer after refund was created\";s:4:\"type\";s:7:\"boolean\";}s:14:\"shipping_price\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:31:\"Defines
  refund shipping amount.\";s:4:\"type\";s:6:\"number\";}s:11:\"total_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Defines
  order refund amount.\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:8:\"order_id\";}s:4:\"type\";s:6:\"object\";}s:16:\"OrderShipmentAdd\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Defines
  items in the order that will be shipped\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"order_product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"order_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Defines
  the order for which the shipment will be created\";s:4:\"type\";s:6:\"string\";}s:18:\"send_notifications\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:57:\"Send
  notifications to customer after shipment was created\";s:4:\"type\";s:7:\"boolean\";}s:17:\"shipment_provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Defines
  company name that provide tracking of shipment\";s:4:\"type\";s:6:\"string\";}s:16:\"tracking_numbers\";O:8:\"stdClass\":3:{s:11:\"description\";s:410:\"Defines
  shipment's tracking numbers that have to be added</br> How set tracking numbers
  to appropriate carrier:<ul><li>tracking_numbers[]=a2c.demo1,a2c.demo2 - set default
  carrier</li><li>tracking_numbers[<b>carrier_id</b>]=a2c.demo - set appropriate carrier</li></ul>To
  get the list of carriers IDs that are available in your store, use the <a href =
  \"http://docs.api2cart.com/cart-info\">cart.info</a > method\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"carrier_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"tracking_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"order_id\";}s:4:\"type\";s:6:\"object\";}s:19:\"OrderShipmentUpdate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"order_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Defines
  the order that will be updated\";s:4:\"type\";s:6:\"string\";}s:7:\"replace\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:31:\"Allows
  rewrite tracking numbers\";s:4:\"type\";s:7:\"boolean\";}s:11:\"shipment_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Shipment
  id indicates the number of delivery\";s:4:\"type\";s:6:\"string\";}s:16:\"tracking_numbers\";O:8:\"stdClass\":3:{s:11:\"description\";s:410:\"Defines
  shipment's tracking numbers that have to be added</br> How set tracking numbers
  to appropriate carrier:<ul><li>tracking_numbers[]=a2c.demo1,a2c.demo2 - set default
  carrier</li><li>tracking_numbers[<b>carrier_id</b>]=a2c.demo - set appropriate carrier</li></ul>To
  get the list of carriers IDs that are available in your store, use the <a href =
  \"http://docs.api2cart.com/cart-info\">cart.info</a > method\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"carrier_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"tracking_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:11:\"shipment_id\";i:1;s:8:\"order_id\";}s:4:\"type\";s:6:\"object\";}s:10:\"Order_Item\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Order_Item_Option\";}s:4:\"type\";s:5:\"array\";}s:16:\"order_product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"tax_percent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"tax_value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"total_price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"variant_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"weight_unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"Order_Item_Option\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"option_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:23:\"product_option_value_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:19:\"Order_PaymentMethod\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"Order_ShippingMethod\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Order_Status\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"history\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/Order_Status_HistoryItem\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"refund_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/Order_Status_Refund\";}}s:4:\"type\";s:6:\"object\";}s:24:\"Order_Status_HistoryItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"modified_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"notify\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:19:\"Order_Status_Refund\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:3:\"fee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"refunded_items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/Order_Status_Refund_Item\";}s:4:\"type\";s:5:\"array\";}s:8:\"shipping\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"tax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:14:\"total_refunded\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:24:\"Order_Status_Refund_Item\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"qty\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"refund\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"variant_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Order_Total\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:15:\"shipping_ex_tax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"subtotal_ex_tax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"total_discount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"total_paid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"total_tax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"wrapping_ex_tax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Order_Totals\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"discount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"shipping\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"subtotal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"tax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:24:\"Order_Totals_NewDiscount\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Plugin\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"PluginList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"all_plugins\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"plugins\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Plugin\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Product\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":44:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"avail_sale\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"avail_view\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"backorders\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"categories_ids\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"create_at\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"dimensions_unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"group_price\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Product_GroupPrice\";}s:4:\"type\";s:5:\"array\";}s:6:\"height\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}s:9:\"inventory\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Product_Inventory\";}s:4:\"type\";s:5:\"array\";}s:15:\"is_downloadable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"is_virtual\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"length\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"manage_stock\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"meta_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"meta_keywords\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"meta_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"modified_at\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"product_options\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Product_Option\";}s:4:\"type\";s:5:\"array\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"related_products_ids\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"seo_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"short_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"sort_order\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"special_price\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SpecialPrice\";}s:10:\"stores_ids\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"tax_class_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"tier_price\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/Product_TierPrice\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"u_brand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"u_model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"u_mpn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"u_sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"u_upc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"weight_unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ProductAdd\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":47:{s:14:\"attribute_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Defines
  product\u2019s attribute name separated with a comma in Magento\";s:4:\"type\";s:6:\"string\";}s:18:\"attribute_set_name\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"Default\";s:11:\"description\";s:49:\"Defines
  product\u2019s attribute set name in Magento\";s:4:\"type\";s:6:\"string\";}s:18:\"available_for_sale\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:56:\"Specifies
  the set of visible/invisible products for sale\";s:4:\"type\";s:7:\"boolean\";}s:18:\"available_for_view\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:57:\"Specifies
  the set of visible/invisible products for users\";s:4:\"type\";s:7:\"boolean\";}s:10:\"best_offer\";O:8:\"stdClass\":3:{s:11:\"description\";s:349:\"The
  price at which Best Offers are automatically accepted.<hr><div style=\"font-style:normal\">Param
  structure:<div style=\"margin-left: 2%;\"><code style=\"padding:0; background-color:#ffffff;font-size:85%;font-family:monospace;\">best_offer[<b>minimum_offer_price</b>]
  = decimal</br>best_offer[<b>auto_accept_price</b>] = decimal</br></code></div></div>\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"categories_ids\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Defines
  product add that is specified by comma-separated categories id\";s:4:\"type\";s:6:\"string\";}s:9:\"condition\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  human-readable label for the condition (e.g., \"New\").\";s:4:\"enum\";a:5:{i:0;s:9:\"Brand
  New\";i:1;s:8:\"Like New\";i:2;s:9:\"Very Good\";i:3;s:4:\"Good\";i:4;s:10:\"Acceptable\";}s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Defines
  the date of entity creation\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Defines
  product's description that has to be added\";s:4:\"type\";s:6:\"string\";}s:12:\"downloadable\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:43:\"Defines
  whether the product is downloadable\";s:4:\"type\";s:7:\"boolean\";}s:3:\"ean\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"European
  Article Number. An EAN is a unique 8 or 13-digit identifier that many industries
  (such as book publishers) use to identify products.\";s:4:\"type\";s:6:\"string\";}s:12:\"group_prices\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Defines
  product's group prices\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"isbn\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"International
  Standard Book Number. An ISBN is a unique identifier for books.\";s:4:\"type\";s:6:\"string\";}s:7:\"lang_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Language
  id\";s:4:\"type\";s:7:\"integer\";}s:16:\"listing_duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Describes
  the number of days the seller wants the listing to be active.\";s:4:\"enum\";a:1:{i:0;s:46:\"See
  cart.info method, param `listing_duration`\";}s:4:\"type\";s:6:\"string\";}s:12:\"listing_type\";O:8:\"stdClass\":4:{s:7:\"default\";s:10:\"FixedPrice\";s:11:\"description\";s:49:\"Indicates
  the selling format of the eBay listing.\";s:4:\"enum\";a:2:{i:0;s:7:\"Auction\";i:1;s:10:\"FixedPrice\";}s:4:\"type\";s:6:\"string\";}s:12:\"manufacturer\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Defines
  product's manufacturer\";s:4:\"type\";s:6:\"string\";}s:16:\"meta_description\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Defines
  unique meta description of a entity\";s:4:\"type\";s:6:\"string\";}s:13:\"meta_keywords\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Defines
  unique meta keywords for each entity\";s:4:\"type\";s:6:\"string\";}s:10:\"meta_title\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Defines
  unique meta title for each entity\";s:4:\"type\";s:6:\"string\";}s:5:\"model\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Defines
  product's model that has to be added\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Defines
  product's name that has to be added\";s:4:\"type\";s:6:\"string\";}s:13:\"ordered_count\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:46:\"Defines
  how many times the product was ordered\";s:4:\"type\";s:7:\"integer\";}s:15:\"package_details\";O:8:\"stdClass\":3:{s:11:\"description\";s:935:\"If
  the seller is subscribed to \"Business Policies\", use the seller_profiles instead
  of the shipping_details, payment_methods and return_accepted params.<hr><div style=\"font-style:normal\">Param
  structure:<div style=\"margin-left: 2%;\"><code style=\"padding:0; background-color:#ffffff;font-size:85%;font-family:monospace;\">package_details[<b>measure_unit</b>]
  = string</br> Allowed measure_unit values: [English or Metric] </br> Default: Metric</br>package_details[<b>weigh_unit</b>]
  = string</br> Allowed weigh_unit values: [kg, g, lbs, oz]</br>package_details[<b>package_depth</b>]
  = decimal</br>package_details[<b>package_length</b>] = decimal</br>package_details[<b>package_width</b>]
  = decimal</br>package_details[<b>weight_major</b>] = decimal</br>package_details[<b>weight_minor</b>]
  = decimal</br>package_details[<b>shipping_package</b>] = string</br> See cart.info
  method, param `eBay_shipping_package_details`</code></div></div>\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"payment_methods\";O:8:\"stdClass\":4:{s:11:\"description\";s:359:\"Identifies
  the payment method (such as PayPal) that the seller will accept when the buyer pays
  for the item.<hr><div style=\"font-style:normal\">Param structure:<div style=\"margin-left:
  2%;\"><code style=\"padding:0; background-color:#ffffff;font-size:85%;font-family:monospace;\">payment_methods[0]
  = string</br>payment_methods[1] = string</br></code></div></div>\";s:4:\"enum\";a:1:{i:0;s:45:\"See
  cart.info method, param `payment_methods`\";}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"paypal_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Valid
  PayPal email address for the PayPal account that the seller will use if they offer
  PayPal as a payment method for the listing.\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Defines
  product's price that has to be added\";s:4:\"type\";s:6:\"number\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:47:\"Defines
  product's quantity that has to be added\";s:4:\"type\";s:6:\"number\";}s:15:\"return_accepted\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Indicates
  whether the seller allows the buyer to return the item.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"sales_tax\";O:8:\"stdClass\":4:{s:11:\"description\";s:402:\"Percent
  of an item's price to be charged as the sales tax for the order.<hr><div style=\"font-style:normal\">Param
  structure:<div style=\"margin-left: 2%;\"><code style=\"padding:0; background-color:#ffffff;font-size:85%;font-family:monospace;\">sales_tax[<b>tax_percent</b>]
  = decimal (##.###)</br>sales_tax[<b>tax_state</b>] = string</br>sales_tax[<b>shipping_inc_in_tax</b>]
  = bool</br></code></div></div>\";s:4:\"enum\";a:1:{i:0;s:45:\"See cart.info method,
  param `eBay_tax_states`\";}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"shipping_details\";O:8:\"stdClass\":4:{s:11:\"description\";s:564:\"The
  shipping details, including flat and calculated shipping costs and shipping insurance
  costs.<hr><div style=\"font-style:normal\">Param structure:<div style=\"margin-left:
  2%;\"><code style=\"padding:0; background-color:#ffffff;font-size:85%;font-family:monospace;\">shipping_details[<b>shipping_type</b>]
  = string </br>shipping_details[0][<b>shipping_service</b>] = string</br>shipping_details[0][<b>shipping_cost</b>]
  = decimal</br>shipping_details[1][<b>shipping_service</b>] = string</br>shipping_details[1][<b>shipping_cost</b>]
  = decimal</br></code></div></div>\";s:4:\"enum\";a:1:{i:0;s:52:\"See cart.info method,
  param `eBay_shipping_services`\";}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"shipping_template_id\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:77:\"The
  numeric ID of the shipping template associated with the products in Etsy.\";s:4:\"type\";s:7:\"integer\";}s:17:\"short_description\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Defines
  short description\";s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Defines
  product's sku that has to be added\";s:4:\"type\";s:6:\"string\";}s:13:\"special_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Defines
  product's model that has to be added\";s:4:\"type\";s:6:\"number\";}s:13:\"sprice_create\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Defines
  the date of special price creation\";s:4:\"type\";s:6:\"string\";}s:13:\"sprice_expire\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Defines
  the term of special price offer duration\";s:4:\"type\";s:6:\"string\";}s:15:\"sprice_modified\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Defines
  the date of special price modification\";s:4:\"type\";s:6:\"string\";}s:12:\"tax_class_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Defines
  tax classes where entity has to be added\";s:4:\"type\";s:7:\"integer\";}s:11:\"tier_prices\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Defines
  product's tier prices\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":4:{s:7:\"default\";s:6:\"simple\";s:11:\"description\";s:22:\"Defines
  product's type\";s:4:\"enum\";a:2:{i:0;s:6:\"simple\";i:1;s:12:\"configurable\";}s:4:\"type\";s:6:\"string\";}s:3:\"upc\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Universal
  Product Code. A UPC (UPC-A) is a commonly used identifer for many different products.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Defines
  unique product's URL\";s:4:\"type\";s:6:\"string\";}s:12:\"viewed_count\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:41:\"Specifies
  the number of product's reviews\";s:4:\"type\";s:7:\"integer\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:7:\"default\";i:0;s:11:\"description\";s:6:\"Weight\";s:4:\"type\";s:6:\"number\";}s:11:\"weight_unit\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Weight
  Unit\";s:4:\"enum\";a:4:{i:0;s:1:\"g\";i:1;s:2:\"kg\";i:2;s:2:\"oz\";i:3;s:2:\"lb\";}s:4:\"type\";s:6:\"string\";}s:15:\"wholesale_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Defines
  product's sale price\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:11:{i:0;s:4:\"name\";i:1;s:5:\"model\";i:2;s:11:\"description\";i:3;s:5:\"price\";i:4;s:20:\"shipping_template_id\";i:5;s:9:\"condition\";i:6;s:16:\"listing_duration\";i:7;s:15:\"payment_methods\";i:8;s:15:\"return_accepted\";i:9;s:16:\"shipping_details\";i:10;s:12:\"paypal_email\";}s:4:\"type\";s:6:\"object\";}s:15:\"ProductPriceAdd\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"group_prices\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Defines
  product's group prices\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:10:\"product_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Defines
  the product to which the price has to be added\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"product_id\";}s:4:\"type\";s:6:\"object\";}s:18:\"ProductPriceUpdate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"group_prices\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Defines
  product's group prices\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:10:\"product_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Defines
  the product where the price has to be updated\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"product_id\";}s:4:\"type\";s:6:\"object\";}s:13:\"ProductTaxAdd\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Defines
  tax class name where tax has to be added\";s:4:\"type\";s:6:\"string\";}s:10:\"product_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Defines
  products specified by product id\";s:4:\"type\";s:6:\"string\";}s:9:\"tax_rates\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Defines
  tax rates of specified tax classes\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:10:\"product_id\";i:1;s:4:\"name\";i:2;s:9:\"tax_rates\";}s:4:\"type\";s:6:\"object\";}s:22:\"ProductVariantPriceAdd\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"group_prices\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Defines
  variants's group prices\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Defines
  the variant to which the price has to be added\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:25:\"ProductVariantPriceUpdate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"group_prices\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Defines
  variants's group prices\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Defines
  the variant where the price has to be updated\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:21:\"Product_AdvancedPrice\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"avail\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"expire_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:8:\"group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"quantity_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"start_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:17:\"Product_Attribute\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:18:\"attribute_group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"attribute_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"lang_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"store_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"visible\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:18:\"Product_GroupPrice\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"expire_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"start_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"store_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"Product_Inventory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"in_stock\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"priority\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"warehouse_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Product_Option\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"option_items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/Product_Option_Item\";}s:4:\"type\";s:5:\"array\";}s:17:\"product_option_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"sort_order\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"Product_Option_Item\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"product_option_item_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"sort_order\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"type_price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Product_Review\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"created_time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"customer_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"nick_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"Product_TierPrice\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"qty\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Shipment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"order_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"shipment_provider\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"tracking_numbers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/Shipment_TrackingNumber\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"Shipment_TrackingNumber\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"carrier_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:15:\"tracking_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"SpecialPrice\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"avail\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"expired_at\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:11:\"modified_at\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:5:\"State\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"StoreAttribute\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:14:\"default_values\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"lang_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"store_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"system\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"visible\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:20:\"StoreAttribute_Group\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:22:\"assigned_attribute_ids\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"attribute_set_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"TaxClass\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"avail\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"tax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"tax_rates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Tax_Rate\";}s:4:\"type\";s:5:\"array\";}s:8:\"tax_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Tax_Rate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"modified_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Webhook\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"action\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"additional_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"callback\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"custom_fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:6:\"entity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"store_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
