---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:368:\"Headline : Tracker
  is a simple, story-based project planning tool that allows teams to collaborate
  and react instantly to real-world changes. It's based on agile software development
  methods, but it can be used on a variety of types of projects. Tracker frees you
  up to focus on getting things done, without getting bogged down keeping your plans
  in sync with reality.\";s:7:\"version\";s:2:\"v5\";s:5:\"title\";s:15:\"Pivotal
  Tracker\";}"
host: www.pivotaltracker.com
basePath: /services/v5
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":51:{s:15:\"updateMemberReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"project_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"workspace\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"person_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:7:\"webhook\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"webhook_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"webhook_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"projects\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":25:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"iteration_length\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"week_start_day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"point_scale\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"point_scale_is_custom\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:31:\"bugs_and_chores_are_estimatable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"automatic_planning\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"enable_tasks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"time_zone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"olson_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:22:\"velocity_averaged_over\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:33:\"number_of_done_iterations_to_show\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"has_google_domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"enable_incoming_emails\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"initial_velocity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"public\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"atom_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"start_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"account_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:24:\"current_iteration_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"enable_following\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}}}}s:7:\"taskReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"complete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:7:\"project\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":28:{s:10:\"account_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"atom_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"automatic_planning\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:31:\"bugs_and_chores_are_estimatable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"current_iteration_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"enable_following\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"enable_incoming_emails\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"enable_tasks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"has_google_domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"initial_velocity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"iteration_length\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:33:\"number_of_done_iterations_to_show\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"point_scale\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"point_scale_is_custom\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"profile_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"public\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"start_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"start_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"olson_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"velocity_averaged_over\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"week_start_day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"notificationTimeStamp\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"http_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"storyReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"current_state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"accountsMembership\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"person\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"initials\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"account_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"admin\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"project_creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"timekeeper\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"time_enterer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}}}}s:14:\"integrationReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"base_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"notification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"action\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"new_attachment_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"notification_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"performer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"project\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"read_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"story\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"membershipPerson\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"account_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"admin\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"person\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"initials\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"project_creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"time_enterer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"timekeeper\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"workspaces\";O:8:\"stdClass\":0:{}s:10:\"epicUpdate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"tasks\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"complete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"story_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"google_attachments\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"google_kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:10:\"commentReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"epic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"iterations\";O:8:\"stdClass\":0:{}s:10:\"webhookReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"webhook_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"webhook_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"persons\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"initials\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:4:\"task\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"complete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"story_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"epicReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"person\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"initials\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"activity_types\";O:8:\"stdClass\":0:{}s:15:\"saved_searchReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"integration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"import_api_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"can_import\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"base_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"is_other\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"story_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"iterationOverrideReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"length\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"team_strength\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:8:\"labelReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"lables\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:12:\"integrations\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"import_api_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"can_import\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"base_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"is_other\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"story_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:13:\"notifications\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"http_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"last_notification_timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:8:\"ownerReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:5:\"epics\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}}s:12:\"saved_search\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"file_attachment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"big_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"content_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"download_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"filename\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"thumbnail_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"thumbnailable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"uploaded\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"uploader_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:10:\"projectReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:10:\"account_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"atom_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"automatic_planning\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:31:\"bugs_and_chores_are_estimatable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"enable_incoming_emails\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"enable_tasks\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"initial_velocity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"iteration_length\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:33:\"number_of_done_iterations_to_show\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"point_scale\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"public\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"start_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"olson_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:22:\"velocity_averaged_over\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"week_start_day\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"member\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"last_viewed_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"person\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"initials\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"project_color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:33:\"wants_comment_notification_emails\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:44:\"will_receive_mention_notifications_or_emails\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:16:\"accountCreateReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"initials\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"person_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:12:\"workspaceReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"workspaceUpdate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"stories\";O:8:\"stdClass\":0:{}s:8:\"comments\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"epic_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"person_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"source_commitReq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"source_commit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"commit_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:8:\"webhooks\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"webhook_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"webhook_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:17:\"iterationOverride\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"length\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"team_strength\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:7:\"comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"epic_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"person_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"accounts\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:7:\"account\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"story\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"current_state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"estimate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"owned_by_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"owner_ids\";O:8:\"stdClass\":1:{s:4:\"type\";s:5:\"array\";}s:10:\"project_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"requested_by_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"story_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
