---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:46:\"Medical Devices Active
  Licence Listing (MDALL)\";s:11:\"description\";s:990:\"Health Canada is the federal
  regulator of therapeutic products, including medical devices. We do not provide
  medical advice on the use of the products identified in this listing.\n\nThe Medical
  Devices Bureau (Bureau) of the Therapeutic Products Directorate, Health Canada is
  the Canadian federal regulator responsible for licensing medical devices in accordance
  with the Food and Drugs Act and Regulations and the Medical Devices Regulations.\n\nThe
  Bureau maintains a database of all licensed Class II, III, and IV medical devices
  offered for sale in Canada. Class I medical devices do not require a medical device
  licence and are monitored by the Regulatory Operations and Regions Branch (Compliance
  and Enforcement) through Establishment Licensing.\n\nOnly products which appear
  in this database listing may be offered for general marketing purposes in Canada.
  Class I Devices, or devices which relate to Investigational Testing Authorization
  or Special Access do not appear in this listing.\n\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:0:\"\";s:5:\"email\";s:25:\"open-ouvert@tbs-sct.gc.ca\";}}"
host: mdall-hc-sc-apicast-production.api.canada.ca
basePath: /v1/
paths:
  /licence:
    get:
      tags:
      - Licence
      description: Returns all licences.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Limit results to those with matching licence number
      - $ref: '#/parameters/QueryState'
      - name: licence_name
        in: query
        type: string
        description: Limit results to those with a matching licence name
      - name: company_id
        in: query
        type: string
        description: Limit results to those with a matching company ID
      responses:
        200:
          description: Returns a list of all licences, or if an ID is provided, the
            list of all licences that correspond to the given licence number
          schema:
            type: array
            items:
              $ref: '#/definitions/Licence'
            xml:
              name: Licences
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /company:
    get:
      tags:
      - Company
      description: Returns all companies.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Limit results to those with matching company ID
      - name: status
        in: query
        type: string
        enum:
        - A
        - I
        description: Limit results to those with a specific status
      - name: company_name
        in: query
        type: string
        description: Limit results to those with a matching company name
      responses:
        200:
          description: Returns a list of all companies, or if an ID is provided, the
            list of all companies that correspond to the given company ID
          schema:
            type: array
            items:
              $ref: '#/definitions/Company'
            xml:
              name: Licences
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /device:
    get:
      tags:
      - Device
      description: Returns all devices.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Limit results to those with matching device identification number
      - $ref: '#/parameters/QueryState'
      - name: device_name
        in: query
        type: string
        description: Limit results to those with a matching device name
      responses:
        200:
          description: Returns a list of all devices, or if an ID is provided, the
            list of all devices that correspond to the given device identification
            number
          schema:
            type: array
            items:
              $ref: '#/definitions/Device'
            xml:
              name: Devices
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /deviceidentifier:
    get:
      tags:
      - Device
      description: Returns all device identifiers.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Limit results to those with matching device identification number
      - $ref: '#/parameters/QueryState'
      - name: device_identifier
        in: query
        type: string
        description: Limit results to those with a matching device identifier
      responses:
        200:
          description: Returns a list of all device identifiers, or if an ID is provided,
            the list of all device identifiers that correspond to the given device
            identifier
          schema:
            type: array
            items:
              $ref: '#/definitions/DeviceIdentifier'
            xml:
              name: DeviceIdentifiers
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /licencetype:
    get:
      tags:
      - Licence
      description: Returns all licence types.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: code
        in: query
        type: string
        description: Limit results to those with matching licence type code
      responses:
        200:
          description: Returns a list of all licence types, or if a code is provided,
            the list of all licence types that correspond to the given code
          schema:
            type: array
            items:
              $ref: '#/definitions/LicenceType'
            xml:
              name: LicenceTypes
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /sbdlocation:
    get:
      tags:
      - Summary Basis Decision Location
      description: Returns all summary basis decision locations.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Limit results to those with matching licence number
      responses:
        200:
          description: Returns a list of all locations, or if an ID is provided, the
            list of all locations that correspond to the given licence number
          schema:
            type: array
            items:
              $ref: '#/definitions/SummaryBasisDecisionLocation'
            xml:
              name: SummaryBasisDecisionLocations
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:3:\"204\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"404\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"DeviceIdentifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"CompanyIdentifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"LicenceNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Licence\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:62:\"This
  is the permit that is delivered for a device to a company\";s:10:\"properties\";O:8:\"stdClass\":10:{s:19:\"original_licence_no\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  licence number.\";}s:14:\"licence_status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:258:\"The
  licence status\n\n- C=Cancelled\n- D=Issued/Conditional\n- I=Issued/Active\n- M=Merge\n-
  O=Discontinued at Renewal\n- P=Pending signature\n- R=Cancelled Renowal No Response\n-
  S=Suspended\n- W=Withdrawn\n- Q=Suspended/Invalid QS Certification\n- X=Cancelled
  QS/2003\n\";}s:15:\"appl_risk_class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  application risk class.\";}s:12:\"licence_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  licence name.\";}s:23:\"first_licence_status_dt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  date of the first issued licence.\";}s:15:\"last_refresh_dt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  refresh date of the mdall database.\";}s:8:\"end_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"The
  date of cancellation of the licence (if active then null).\";}s:15:\"licence_type_cd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  licence type code.\";}s:10:\"company_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  company identification number.\";}s:17:\"licence_type_desc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  licence type description\";}}}s:7:\"Company\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:42:\"This
  contains the company name and address\";s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"company_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  company identification number.\";}s:12:\"company_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  company name.\";}s:11:\"addr_line_1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  address line 1.\";}s:11:\"addr_line_2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  address line 2.\";}s:11:\"addr_line_3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  address line 3.\";}s:11:\"postal_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  postal code.\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  city in the address.\";}s:10:\"country_cd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  country code (2 digit).\";}s:9:\"region_cd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  region code (2 digit).\";}s:14:\"company_status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  company status. (A=Active, I=Inactive)\";}}}s:6:\"Device\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:30:\"This
  is the device information\";s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"original_licence_no\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  licence number.\";}s:9:\"device_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  device identification number.\";}s:16:\"first_licence_dt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  date the device was added in the licence.\";}s:8:\"end_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  date of removal of the device (if active then null).\";}s:10:\"trade_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  name of the device.\";}}}s:17:\"DeviceIndentifier\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:83:\"This
  is the list of all identifiers that uniquely identify a device (on the label).\";s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"original_licence_no\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  licence number.\";}s:9:\"device_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  device identification number.\";}s:16:\"first_licence_dt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  date the identifier was added in the licence.\";}s:8:\"end_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  date the identifier was removed from the licence.\";}s:17:\"device_identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  identifier.\";}}}s:11:\"LicenceType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:70:\"This
  contains the list of all licence type codes and their definitions\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"licence_type_cd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  licence type code.\";}s:17:\"licence_type_desc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  definition of the code.\";}}}s:28:\"SummaryBasisDecisionLocation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:68:\"This
  contains the web site address of the summary basis of decisions\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"original_licence_no\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  licence number.\";}s:18:\"sbd_notice_web_loc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  notice of decision web site address.\";}s:11:\"sbd_web_loc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  notice of decision web site address.\";}}}}"
...
