---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"version\";s:10:\"2016-04-18\";s:9:\"x-release\";s:2:\"v4\";s:5:\"title\";s:32:\"Amazon
  Cognito Identity Provider\";s:11:\"description\";s:359:\"<p>Using the Amazon Cognito
  User Pools API, you can create a user pool to manage directories and users. You
  can authenticate a user to obtain tokens related to user identity and access policies.</p>
  <p>This API reference provides information about user pools in Amazon Cognito User
  Pools.</p> <p>For more information, see the Amazon Cognito Documentation.</p>\";s:6:\"x-logo\";O:8:\"stdClass\":2:{s:3:\"url\";s:70:\"https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg\";s:15:\"backgroundColor\";s:7:\"#FFFFFF\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:13:\"x-serviceName\";s:11:\"cognito-idp\";s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:3:\"url\";s:95:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cognito-idp-2016-04-18.normal.json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:17:\"x-apisguru-direct\";b:1;}}s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:11:\"x-preferred\";b:1;}"
host: cognito-idp.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":345:{s:16:\"AWSAccountIdType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"AddCustomAttributesRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:16:\"CustomAttributes\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:75:\"The
  user pool ID for the user pool where you want to add custom attributes.\";}s:16:\"CustomAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CustomAttributesListType\";s:11:\"description\";s:56:\"An
  array of custom attributes, such as Mutable and Name.\";}}s:11:\"description\";s:48:\"Represents
  the request to add custom attributes.\";}s:27:\"AddCustomAttributesResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:81:\"Represents
  the response from the server for the request to add custom attributes.\";}s:26:\"AdminAddUserToGroupRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"Username\";i:2;s:9:\"GroupName\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:35:\"The
  user pool ID for the user pool.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:26:\"The
  username for the user.\";}s:9:\"GroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GroupNameType\";s:11:\"description\";s:15:\"The
  group name.\";}}}s:25:\"AdminConfirmSignUpRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"Username\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:65:\"The
  user pool ID for which you want to confirm user registration.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:62:\"The
  user name for which you want to confirm user registration.\";}}s:11:\"description\";s:52:\"Represents
  the request to confirm user registration.\";}s:26:\"AdminConfirmSignUpResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:80:\"Represents
  the response from the server for the request to confirm registration.\";}s:25:\"AdminCreateUserConfigType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:24:\"AllowAdminCreateUserOnly\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanType\";s:11:\"description\";s:156:\"Set
  to <code>True</code> if only the administrator is allowed to create user profiles.
  Set to <code>False</code> if users can sign themselves up via an app.\";}s:25:\"UnusedAccountValidityDays\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:58:\"#/definitions/AdminCreateUserUnusedAccountValidityDaysType\";s:11:\"description\";s:304:\"The
  user account expiration limit, in days, after which the account is no longer usable.
  To reset the account after that time limit, you must call <code>AdminCreateUser</code>
  again, specifying <code>\"RESEND\"</code> for the <code>MessageAction</code> parameter.
  The default value for this parameter is 7.\";}s:21:\"InviteMessageTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MessageTemplateType\";s:11:\"description\";s:69:\"The
  message template to be used for the welcome message to new users.\";}}s:11:\"description\";s:58:\"The
  type of configuration for creating a new user profile.\";}s:22:\"AdminCreateUserRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"Username\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:66:\"The
  user pool ID for the user pool where the user will be created.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:175:\"The
  username for the user. Must be unique within the user pool. Must be a UTF-8 string
  between 1 and 128 characters. After the user is created, the username cannot be
  changed.\";}s:14:\"UserAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AttributeListType\";s:11:\"description\";s:1847:\"<p>An
  array of name-value pairs that contain user attributes and attribute values to be
  set for the user to be created. You can create a user without specifying any attributes
  other than <code>Username</code>. However, any attributes that you specify as required
  (in <a href=\"API_CreateUserPool.html\">CreateUserPool</a> or in the <b>Attributes</b>
  tab of the console) must be supplied either by you (in your call to <code>AdminCreateUser</code>)
  or by the user (when he or she signs up in response to your welcome message).</p>
  <p>For custom attributes, you must prepend the <code>custom:</code> prefix to the
  attribute name.</p> <p>To send a message inviting the user to sign up, you must
  specify the user's email address or phone number. This can be done in your call
  to AdminCreateUser or in the <b>Users</b> tab of the Amazon Cognito console for
  managing your user pools.</p> <p>In your call to <code>AdminCreateUser</code>, you
  can set the <code>email_verified</code> attribute to <code>True</code>, and you
  can set the <code>phone_number_verified</code> attribute to <code>True</code>. (You
  can also do this by calling <a href=\"API_AdminUpdateUserAttributes.html\">AdminUpdateUserAttributes</a>.)</p>
  <ul> <li> <p> <b>email</b>: The email address of the user to whom the message that
  contains the code and username will be sent. Required if the <code>email_verified</code>
  attribute is set to <code>True</code>, or if <code>\"EMAIL\"</code> is specified
  in the <code>DesiredDeliveryMediums</code> parameter.</p> </li> <li> <p> <b>phone_number</b>:
  The phone number of the user to whom the message that contains the code and username
  will be sent. Required if the <code>phone_number_verified</code> attribute is set
  to <code>True</code>, or if <code>\"SMS\"</code> is specified in the <code>DesiredDeliveryMediums</code>
  parameter.</p> </li> </ul>\";}s:14:\"ValidationData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AttributeListType\";s:11:\"description\";s:617:\"<p>The
  user's validation data. This is an array of name-value pairs that contain user attributes
  and attribute values that you can use for custom validation, such as restricting
  the types of user accounts that can be registered. For example, you might choose
  to allow or disallow user sign-up based on the user's domain.</p> <p>To configure
  custom validation, you must create a Pre Sign-up Lambda trigger for the user pool
  as described in the Amazon Cognito Developer Guide. The Lambda trigger receives
  the validation data and uses it in the validation process.</p> <p>The user's validation
  data is not persisted.</p>\";}s:17:\"TemporaryPassword\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PasswordType\";s:11:\"description\";s:771:\"<p>The
  user's temporary password. This password must conform to the password policy that
  you specified when you created the user pool.</p> <p>The temporary password is valid
  only once. To complete the Admin Create User flow, the user must enter the temporary
  password in the sign-in page along with a new password to be used in all future
  sign-ins.</p> <p>This parameter is not required. If you do not specify a value,
  Amazon Cognito generates one for you.</p> <p>The temporary password can only be
  used until the user account expiration limit that you specified when you created
  the user pool. To reset the account after that time limit, you must call <code>AdminCreateUser</code>
  again, specifying <code>\"RESEND\"</code> for the <code>MessageAction</code> parameter.</p>\";}s:18:\"ForceAliasCreation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ForceAliasCreation\";s:11:\"description\";s:693:\"<p>This
  parameter is only used if the <code>phone_number_verified</code> or <code>email_verified</code>
  attribute is set to <code>True</code>. Otherwise, it is ignored.</p> <p>If this
  parameter is set to <code>True</code> and the phone number or email address specified
  in the UserAttributes parameter already exists as an alias with a different user,
  the API call will migrate the alias from the previous user to the newly created
  user. The previous user will no longer be able to log in using that alias.</p> <p>If
  this parameter is set to <code>False</code>, the API throws an <code>AliasExistsException</code>
  error if the alias already exists. The default value is <code>False</code>.</p>\";}s:13:\"MessageAction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MessageActionType\";s:11:\"description\";s:242:\"Set
  to <code>\"RESEND\"</code> to resend the invitation message to a user that already
  exists and reset the expiration limit on the user's account. Set to <code>\"SUPPRESS\"</code>
  to suppress sending the message. Only one value can be specified.\";}s:22:\"DesiredDeliveryMediums\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/DeliveryMediumListType\";s:11:\"description\";s:219:\"Specify
  <code>\"EMAIL\"</code> if email will be used to send the welcome message. Specify
  <code>\"SMS\"</code> if the phone number will be used. The default value is <code>\"SMS\"</code>.
  More than one value can be specified.\";}}s:11:\"description\";s:67:\"Represents
  the request to create a user in the specified user pool.\";}s:23:\"AdminCreateUserResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"User\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserType\";s:11:\"description\";s:23:\"The
  newly created user.\";}}s:11:\"description\";s:74:\"Represents the response from
  the server to the request to create the user.\";}s:44:\"AdminCreateUserUnusedAccountValidityDaysType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:0;s:7:\"maximum\";i:90;}s:32:\"AdminDeleteUserAttributesRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"Username\";i:2;s:18:\"UserAttributeNames\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:76:\"The
  user pool ID for the user pool where you want to delete user attributes.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:73:\"The
  user name of the user from which you would like to delete attributes.\";}s:18:\"UserAttributeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AttributeNameListType\";s:11:\"description\";s:186:\"<p>An
  array of strings representing the user attribute names you wish to delete.</p> <p>For
  custom attributes, you must prepend the <code>custom:</code> prefix to the attribute
  name.</p>\";}}s:11:\"description\";s:69:\"Represents the request to delete user
  attributes as an administrator.\";}s:33:\"AdminDeleteUserAttributesResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:89:\"Represents
  the response received from the server for a request to delete user attributes.\";}s:22:\"AdminDeleteUserRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"Username\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:69:\"The
  user pool ID for the user pool where you want to delete the user.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:45:\"The
  user name of the user you wish to delete.\";}}s:11:\"description\";s:60:\"Represents
  the request to delete a user as an administrator.\";}s:34:\"AdminDisableProviderForUserRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:4:\"User\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";s:11:\"description\";s:35:\"The
  user pool ID for the user pool.\";}s:4:\"User\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ProviderUserIdentifierType\";s:11:\"description\";s:24:\"The
  user to be disabled.\";}}}s:35:\"AdminDisableProviderForUserResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:23:\"AdminDisableUserRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"Username\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:70:\"The
  user pool ID for the user pool where you want to disable the user.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:46:\"The
  user name of the user you wish to disable.\";}}s:11:\"description\";s:63:\"Represents
  the request to disable any user as an administrator.\";}s:24:\"AdminDisableUserResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:89:\"Represents
  the response received from the server to disable the user as an administrator.\";}s:22:\"AdminEnableUserRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"Username\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:69:\"The
  user pool ID for the user pool where you want to enable the user.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:45:\"The
  user name of the user you wish to enable.\";}}s:11:\"description\";s:65:\"Represents
  the request that enables the user as an administrator.\";}s:23:\"AdminEnableUserResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:93:\"Represents
  the response from the server for the request to enable a user as an administrator.\";}s:24:\"AdminForgetDeviceRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"Username\";i:2;s:9:\"DeviceKey\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:17:\"The
  user pool ID.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:14:\"The
  user name.\";}s:9:\"DeviceKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DeviceKeyType\";s:11:\"description\";s:15:\"The
  device key.\";}}s:11:\"description\";s:53:\"Sends the forgot device request, as
  an administrator.\";}s:21:\"AdminGetDeviceRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:9:\"DeviceKey\";i:1;s:10:\"UserPoolId\";i:2;s:8:\"Username\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"DeviceKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DeviceKeyType\";s:11:\"description\";s:15:\"The
  device key.\";}s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:17:\"The
  user pool ID.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:14:\"The
  user name.\";}}s:11:\"description\";s:62:\"Represents the request to get the device,
  as an administrator.\";}s:22:\"AdminGetDeviceResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"Device\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Device\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DeviceType\";s:11:\"description\";s:11:\"The
  device.\";}}s:11:\"description\";s:46:\"Gets the device response, as an administrator.\";}s:19:\"AdminGetUserRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"Username\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:84:\"The
  user pool ID for the user pool where you want to get information about the user.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:47:\"The
  user name of the user you wish to retrieve.\";}}s:11:\"description\";s:69:\"Represents
  the request to get the specified user as an administrator.\";}s:20:\"AdminGetUserResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:8:\"Username\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:67:\"The
  user name of the user about whom you are receiving information.\";}s:14:\"UserAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AttributeListType\";s:11:\"description\";s:58:\"An
  array of name-value pairs representing user attributes.\";}s:14:\"UserCreateDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:30:\"The
  date the user was created.\";}s:20:\"UserLastModifiedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:36:\"The
  date the user was last modified.\";}s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanType\";s:11:\"description\";s:37:\"Indicates
  that the status is enabled.\";}s:10:\"UserStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserStatusType\";s:11:\"description\";s:385:\"<p>The
  user status. Can be one of the following:</p> <ul> <li> <p>UNCONFIRMED - User has
  been created but not confirmed.</p> </li> <li> <p>CONFIRMED - User has been confirmed.</p>
  </li> <li> <p>ARCHIVED - User is no longer active.</p> </li> <li> <p>COMPROMISED
  - User is disabled due to a potential security threat.</p> </li> <li> <p>UNKNOWN
  - User status is not known.</p> </li> </ul>\";}s:10:\"MFAOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MFAOptionListType\";s:11:\"description\";s:60:\"Specifies
  the options for MFA (e.g., email or phone number).\";}}s:11:\"description\";s:103:\"Represents
  the response from the server from the request to get the specified user as an administrator.\";}s:24:\"AdminInitiateAuthRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"ClientId\";i:2;s:8:\"AuthFlow\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:39:\"The
  ID of the Amazon Cognito user pool.\";}s:8:\"ClientId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ClientIdType\";s:11:\"description\";s:18:\"The
  app client ID.\";}s:8:\"AuthFlow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AuthFlowType\";s:11:\"description\";s:994:\"<p>The
  authentication flow for this call to execute. The API action will depend on this
  value. For example:</p> <ul> <li> <p> <code>REFRESH_TOKEN_AUTH</code> will take
  in a valid refresh token and return new tokens.</p> </li> <li> <p> <code>USER_SRP_AUTH</code>
  will take in <code>USERNAME</code> and <code>SRP_A</code> and return the SRP variables
  to be used for next challenge execution.</p> </li> </ul> <p>Valid values include:</p>
  <ul> <li> <p> <code>USER_SRP_AUTH</code>: Authentication flow for the Secure Remote
  Password (SRP) protocol.</p> </li> <li> <p> <code>REFRESH_TOKEN_AUTH</code>/<code>REFRESH_TOKEN</code>:
  Authentication flow for refreshing the access token and ID token by supplying a
  valid refresh token.</p> </li> <li> <p> <code>CUSTOM_AUTH</code>: Custom authentication
  flow.</p> </li> <li> <p> <code>ADMIN_NO_SRP_AUTH</code>: Non-SRP authentication
  flow; you can pass in the USERNAME and PASSWORD directly if the flow is enabled
  for calling the app client.</p> </li> </ul>\";}s:14:\"AuthParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AuthParametersType\";s:11:\"description\";s:1088:\"<p>The
  authentication parameters. These are inputs corresponding to the <code>AuthFlow</code>
  that you are invoking. The required values depend on the value of <code>AuthFlow</code>:</p>
  <ul> <li> <p>For <code>USER_SRP_AUTH</code>: <code>USERNAME</code> (required), <code>SRP_A</code>
  (required), <code>SECRET_HASH</code> (required if the app client is configured with
  a client secret), <code>DEVICE_KEY</code> </p> </li> <li> <p>For <code>REFRESH_TOKEN_AUTH/REFRESH_TOKEN</code>:
  <code>USERNAME</code> (required), <code>SECRET_HASH</code> (required if the app
  client is configured with a client secret), <code>REFRESH_TOKEN</code> (required),
  <code>DEVICE_KEY</code> </p> </li> <li> <p>For <code>ADMIN_NO_SRP_AUTH</code>: <code>USERNAME</code>
  (required), <code>SECRET_HASH</code> (if app client is configured with client secret),
  <code>PASSWORD</code> (required), <code>DEVICE_KEY</code> </p> </li> <li> <p>For
  <code>CUSTOM_AUTH</code>: <code>USERNAME</code> (required), <code>SECRET_HASH</code>
  (if app client is configured with client secret), <code>DEVICE_KEY</code> </p> </li>
  </ul>\";}s:14:\"ClientMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientMetadataType\";s:11:\"description\";s:202:\"This
  is a random key-value pair map which can contain any key and will be passed to your
  PreAuthentication Lambda trigger as-is. It can be used to implement additional validations
  around authentication.\";}}s:11:\"description\";s:57:\"Initiates the authorization
  request, as an administrator.\";}s:25:\"AdminInitiateAuthResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"ChallengeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ChallengeNameType\";s:11:\"description\";s:1514:\"<p>The
  name of the challenge which you are responding to with this call. This is returned
  to you in the <code>AdminInitiateAuth</code> response if you need to pass another
  challenge.</p> <ul> <li> <p> <code>SMS_MFA</code>: Next challenge is to supply an
  <code>SMS_MFA_CODE</code>, delivered via SMS.</p> </li> <li> <p> <code>PASSWORD_VERIFIER</code>:
  Next challenge is to supply <code>PASSWORD_CLAIM_SIGNATURE</code>, <code>PASSWORD_CLAIM_SECRET_BLOCK</code>,
  and <code>TIMESTAMP</code> after the client-side SRP calculations.</p> </li> <li>
  <p> <code>CUSTOM_CHALLENGE</code>: This is returned if your custom authentication
  flow determines that the user should pass another challenge before tokens are issued.</p>
  </li> <li> <p> <code>DEVICE_SRP_AUTH</code>: If device tracking was enabled on your
  user pool and the previous challenges were passed, this challenge is returned so
  that Amazon Cognito can start tracking this device.</p> </li> <li> <p> <code>DEVICE_PASSWORD_VERIFIER</code>:
  Similar to <code>PASSWORD_VERIFIER</code>, but for devices only.</p> </li> <li>
  <p> <code>ADMIN_NO_SRP_AUTH</code>: This is returned if you need to authenticate
  with <code>USERNAME</code> and <code>PASSWORD</code> directly. An app client must
  be enabled to use this flow.</p> </li> <li> <p> <code>NEW_PASSWORD_REQUIRED</code>:
  For users which are required to change their passwords after successful first login.
  This challenge should be passed with <code>NEW_PASSWORD</code> and any other required
  attributes.</p> </li> </ul>\";}s:7:\"Session\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SessionType\";s:11:\"description\";s:398:\"The
  session which should be passed both ways in challenge-response calls to the service.
  If <code>AdminInitiateAuth</code> or <code>AdminRespondToAuthChallenge</code> API
  call determines that the caller needs to go through another challenge, they return
  a session with other challenge parameters. This session should be passed as it is
  to the next <code>AdminRespondToAuthChallenge</code> API call.\";}s:19:\"ChallengeParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ChallengeParametersType\";s:11:\"description\";s:758:\"<p>The
  challenge parameters. These are returned to you in the <code>AdminInitiateAuth</code>
  response if you need to pass another challenge. The responses in this parameter
  should be used to compute inputs to the next call (<code>AdminRespondToAuthChallenge</code>).</p>
  <p>All challenges require <code>USERNAME</code> and <code>SECRET_HASH</code> (if
  applicable).</p> <p>The value of the <code>USER_IF_FOR_SRP</code> attribute will
  be the user's actual username, not an alias (such as email address or phone number),
  even if you specified an alias in your call to <code>AdminInitiateAuth</code>. This
  is because, in the <code>AdminRespondToAuthChallenge</code> API <code>ChallengeResponses</code>,
  the <code>USERNAME</code> attribute cannot be an alias.</p>\";}s:20:\"AuthenticationResult\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AuthenticationResultType\";s:11:\"description\";s:293:\"The
  result of the authentication response. This is only returned if the caller does
  not need to pass another challenge. If the caller does need to pass another challenge
  before it gets tokens, <code>ChallengeName</code>, <code>ChallengeParameters</code>,
  and <code>Session</code> are returned.\";}}s:11:\"description\";s:59:\"Initiates
  the authentication response, as an administrator.\";}s:31:\"AdminLinkProviderForUserRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"UserPoolId\";i:1;s:15:\"DestinationUser\";i:2;s:10:\"SourceUser\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";s:11:\"description\";s:35:\"The
  user pool ID for the user pool.\";}s:15:\"DestinationUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ProviderUserIdentifierType\";s:11:\"description\";s:585:\"<p>The
  existing user in the user pool to be linked to the external identity provider user
  account. Can be a native (Username + Password) Cognito User Pools user or a federated
  user (for example, a SAML or Facebook user). If the user doesn't exist, an exception
  is thrown. This is the user that is returned when the new user (with the linked
  identity provider attribute) signs in.</p> <p>The <code>ProviderAttributeValue</code>
  for the <code>DestinationUser</code> must match the username for the user in the
  user pool. The <code>ProviderAttributeName</code> will always be ignored.</p>\";}s:10:\"SourceUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ProviderUserIdentifierType\";s:11:\"description\";s:1446:\"<p>An
  external identity provider account for a user who does not currently exist yet in
  the user pool. This user must be a federated user (for example, a SAML or Facebook
  user), not another native user.</p> <p>If the <code>SourceUser</code> is a federated
  social identity provider user (Facebook, Google, or Login with Amazon), you must
  set the <code>ProviderAttributeName</code> to <code>Cognito_Subject</code>. For
  social identity providers, the <code>ProviderName</code> will be <code>Facebook</code>,
  <code>Google</code>, or <code>LoginWithAmazon</code>, and Cognito will automatically
  parse the Facebook, Google, and Login with Amazon tokens for <code>id</code>, <code>sub</code>,
  and <code>user_id</code>, respectively. The <code>ProviderAttributeValue</code>
  for the user must be the same value as the <code>id</code>, <code>sub</code>, or
  <code>user_id</code> value found in the social identity provider token.</p> <p/>
  <p>For SAML, the <code>ProviderAttributeName</code> can be any value that matches
  a claim in the SAML assertion. If you wish to link SAML users based on the subject
  of the SAML assertion, you should map the subject to a claim through the SAML identity
  provider and submit that claim name as the <code>ProviderAttributeName</code>. If
  you set <code>ProviderAttributeName</code> to <code>Cognito_Subject</code>, Cognito
  will automatically parse the default unique identifier found in the subject from
  the SAML token.</p>\";}}}s:32:\"AdminLinkProviderForUserResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:23:\"AdminListDevicesRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"Username\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:17:\"The
  user pool ID.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:14:\"The
  user name.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/QueryLimitType\";s:11:\"description\";s:33:\"The
  limit of the devices request.\";}s:15:\"PaginationToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/SearchPaginationTokenType\";s:11:\"description\";s:21:\"The
  pagination token.\";}}s:11:\"description\";s:60:\"Represents the request to list
  devices, as an administrator.\";}s:24:\"AdminListDevicesResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Devices\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DeviceListType\";s:11:\"description\";s:44:\"The
  devices in the list of devices response.\";}s:15:\"PaginationToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/SearchPaginationTokenType\";s:11:\"description\";s:21:\"The
  pagination token.\";}}s:11:\"description\";s:49:\"Lists the device's response, as
  an administrator.\";}s:29:\"AdminListGroupsForUserRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:8:\"Username\";i:1;s:10:\"UserPoolId\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:26:\"The
  username for the user.\";}s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:35:\"The
  user pool ID for the user pool.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/QueryLimitType\";s:11:\"description\";s:40:\"The
  limit of the request to list groups.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PaginationKey\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}}}s:30:\"AdminListGroupsForUserResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Groups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GroupListType\";s:11:\"description\";s:36:\"The
  groups that the user belongs to.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PaginationKey\";s:11:\"description\";s:136:\"An
  identifier that was returned from the previous call to this operation, which can
  be used to return the next set of items in the list.\";}}}s:31:\"AdminRemoveUserFromGroupRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"Username\";i:2;s:9:\"GroupName\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:35:\"The
  user pool ID for the user pool.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:26:\"The
  username for the user.\";}s:9:\"GroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GroupNameType\";s:11:\"description\";s:15:\"The
  group name.\";}}}s:29:\"AdminResetUserPasswordRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"Username\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:79:\"The
  user pool ID for the user pool where you want to reset the user's password.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:59:\"The
  user name of the user whose password you wish to reset.\";}}s:11:\"description\";s:70:\"Represents
  the request to reset a user's password as an administrator.\";}s:30:\"AdminResetUserPasswordResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:85:\"Represents
  the response from the server to reset a user password as an administrator.\";}s:34:\"AdminRespondToAuthChallengeRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"ClientId\";i:2;s:13:\"ChallengeName\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:39:\"The
  ID of the Amazon Cognito user pool.\";}s:8:\"ClientId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ClientIdType\";s:11:\"description\";s:18:\"The
  app client ID.\";}s:13:\"ChallengeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ChallengeNameType\";s:11:\"description\";s:105:\"The
  challenge name. For more information, see <a href=\"API_AdminInitiateAuth.html\">AdminInitiateAuth</a>.\";}s:18:\"ChallengeResponses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ChallengeResponsesType\";s:11:\"description\";s:1315:\"<p>The
  challenge responses. These are inputs corresponding to the value of <code>ChallengeName</code>,
  for example:</p> <ul> <li> <p> <code>SMS_MFA</code>: <code>SMS_MFA_CODE</code>,
  <code>USERNAME</code>, <code>SECRET_HASH</code> (if app client is configured with
  client secret).</p> </li> <li> <p> <code>PASSWORD_VERIFIER</code>: <code>PASSWORD_CLAIM_SIGNATURE</code>,
  <code>PASSWORD_CLAIM_SECRET_BLOCK</code>, <code>TIMESTAMP</code>, <code>USERNAME</code>,
  <code>SECRET_HASH</code> (if app client is configured with client secret).</p> </li>
  <li> <p> <code>ADMIN_NO_SRP_AUTH</code>: <code>PASSWORD</code>, <code>USERNAME</code>,
  <code>SECRET_HASH</code> (if app client is configured with client secret). </p>
  </li> <li> <p> <code>NEW_PASSWORD_REQUIRED</code>: <code>NEW_PASSWORD</code>, any
  other required attributes, <code>USERNAME</code>, <code>SECRET_HASH</code> (if app
  client is configured with client secret). </p> </li> </ul> <p>The value of the <code>USERNAME</code>
  attribute must be the user's actual username, not an alias (such as email address
  or phone number). To make this easier, the <code>AdminInitiateAuth</code> response
  includes the actual username value in the <code>USERNAMEUSER_ID_FOR_SRP</code> attribute,
  even if you specified an alias in your call to <code>AdminInitiateAuth</code>.</p>\";}s:7:\"Session\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SessionType\";s:11:\"description\";s:383:\"The
  session which should be passed both ways in challenge-response calls to the service.
  If <code>InitiateAuth</code> or <code>RespondToAuthChallenge</code> API call determines
  that the caller needs to go through another challenge, they return a session with
  other challenge parameters. This session should be passed as it is to the next <code>RespondToAuthChallenge</code>
  API call.\";}}s:11:\"description\";s:76:\"The request to respond to the authentication
  challenge, as an administrator.\";}s:35:\"AdminRespondToAuthChallengeResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"ChallengeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ChallengeNameType\";s:11:\"description\";s:112:\"The
  name of the challenge. For more information, see <a href=\"API_AdminInitiateAuth.html\">AdminInitiateAuth</a>.\";}s:7:\"Session\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SessionType\";s:11:\"description\";s:443:\"The
  session which should be passed both ways in challenge-response calls to the service.
  If the <a href=\"API_InitiateAuth.html\">InitiateAuth</a> or <a href=\"API_RespondToAuthChallenge.html\">RespondToAuthChallenge</a>
  API call determines that the caller needs to go through another challenge, they
  return a session with other challenge parameters. This session should be passed
  as it is to the next <code>RespondToAuthChallenge</code> API call.\";}s:19:\"ChallengeParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ChallengeParametersType\";s:11:\"description\";s:111:\"The
  challenge parameters. For more information, see <a href=\"API_AdminInitiateAuth.html\">AdminInitiateAuth</a>.\";}s:20:\"AuthenticationResult\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AuthenticationResultType\";s:11:\"description\";s:76:\"The
  result returned by the server in response to the authentication request.\";}}s:11:\"description\";s:62:\"Responds
  to the authentication challenge, as an administrator.\";}s:27:\"AdminSetUserSettingsRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"Username\";i:2;s:10:\"MFAOptions\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:98:\"The
  user pool ID for the user pool where you want to set the user's settings, such as
  MFA options.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:65:\"The
  user name of the user for whom you wish to set user settings.\";}s:10:\"MFAOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MFAOptionListType\";s:11:\"description\";s:60:\"Specifies
  the options for MFA (e.g., email or phone number).\";}}s:11:\"description\";s:64:\"Represents
  the request to set user settings as an administrator.\";}s:28:\"AdminSetUserSettingsResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:81:\"Represents
  the response from the server to set user settings as an administrator.\";}s:30:\"AdminUpdateDeviceStatusRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"Username\";i:2;s:9:\"DeviceKey\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:17:\"The
  user pool ID.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:14:\"The
  user name.\";}s:9:\"DeviceKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DeviceKeyType\";s:11:\"description\";s:15:\"The
  device key.\";}s:22:\"DeviceRememberedStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/DeviceRememberedStatusType\";s:11:\"description\";s:66:\"The
  status indicating whether a device has been remembered or not.\";}}s:11:\"description\";s:61:\"The
  request to update the device status, as an administrator.\";}s:31:\"AdminUpdateDeviceStatusResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:79:\"The
  status response from the request to update the device, as an administrator.\";}s:32:\"AdminUpdateUserAttributesRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"Username\";i:2;s:14:\"UserAttributes\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:76:\"The
  user pool ID for the user pool where you want to update user attributes.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:70:\"The
  user name of the user for whom you want to update user attributes.\";}s:14:\"UserAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AttributeListType\";s:11:\"description\";s:167:\"<p>An
  array of name-value pairs representing user attributes.</p> <p>For custom attributes,
  you must prepend the <code>custom:</code> prefix to the attribute name.</p>\";}}s:11:\"description\";s:75:\"Represents
  the request to update the user's attributes as an administrator.\";}s:33:\"AdminUpdateUserAttributesResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:102:\"Represents
  the response from the server for the request to update user attributes as an administrator.\";}s:29:\"AdminUserGlobalSignOutRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"Username\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:17:\"The
  user pool ID.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:14:\"The
  user name.\";}}s:11:\"description\";s:60:\"The request to sign out of all devices,
  as an administrator.\";}s:30:\"AdminUserGlobalSignOutResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:50:\"The
  global sign-out response, as an administrator.\";}s:18:\"AliasAttributeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:12:\"phone_number\";i:1;s:5:\"email\";i:2;s:18:\"preferred_username\";}}s:23:\"AliasAttributesListType\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AliasAttributeType\";}}s:20:\"AliasExistsException\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MessageType\";s:11:\"description\";s:50:\"The
  message sent to the user when an alias exists.\";}}s:11:\"description\";s:247:\"This
  exception is thrown when a user tries to confirm the account with an email or phone
  number that has already been supplied as an alias from a different account. This
  exception tells user that an account with this email or phone already exists.\";}s:7:\"ArnType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:97:\"arn:[\\w+=/,.@-]+:[\\w+=/,.@-]+:([\\w+=/,.@-]*)?:[0-9]+:[\\w+=/,.@-]+(:[\\w+=/,.@-]+)?(:[\\w+=/,.@-]+)?\";s:9:\"minLength\";i:20;s:9:\"maxLength\";i:2048;}s:17:\"AttributeDataType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:6:\"String\";i:1;s:6:\"Number\";i:2;s:8:\"DateTime\";i:3;s:7:\"Boolean\";}}s:17:\"AttributeListType\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AttributeType\";}}s:23:\"AttributeMappingKeyType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:32;}s:20:\"AttributeMappingType\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/AttributeMappingKeyType\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";}}}}s:21:\"AttributeNameListType\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AttributeNameType\";}}s:17:\"AttributeNameType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:28:\"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:32;}s:13:\"AttributeType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AttributeNameType\";s:11:\"description\";s:26:\"The
  name of the attribute.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AttributeValueType\";s:11:\"description\";s:27:\"The
  value of the attribute.\";}}s:11:\"description\";s:54:\"Specifies whether the attribute
  is standard or custom.\";}s:18:\"AttributeValueType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2048;s:6:\"format\";s:8:\"password\";}s:12:\"AuthFlowType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:13:\"USER_SRP_AUTH\";i:1;s:18:\"REFRESH_TOKEN_AUTH\";i:2;s:13:\"REFRESH_TOKEN\";i:3;s:11:\"CUSTOM_AUTH\";i:4;s:17:\"ADMIN_NO_SRP_AUTH\";}}s:18:\"AuthParametersType\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";}}}}s:24:\"AuthenticationResultType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"AccessToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TokenModelType\";s:11:\"description\";s:46:\"The
  access token of the authentication result.\";}s:9:\"ExpiresIn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/IntegerType\";s:11:\"description\";s:51:\"The
  expiration period of the authentication result.\";}s:9:\"TokenType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";s:11:\"description\";s:44:\"The
  token type of the authentication result.\";}s:12:\"RefreshToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TokenModelType\";s:11:\"description\";s:47:\"The
  refresh token of the authentication result.\";}s:7:\"IdToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TokenModelType\";s:11:\"description\";s:42:\"The
  ID token of the authentication result.\";}s:17:\"NewDeviceMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/NewDeviceMetadataType\";s:11:\"description\";s:54:\"The
  new device metadata from an authentication result.\";}}s:11:\"description\";s:45:\"The
  result type of the authentication result.\";}s:11:\"BooleanType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"CSSType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"CSSVersionType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"CallbackURLsListType\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RedirectUrlType\";}s:8:\"minItems\";i:0;s:8:\"maxItems\";i:100;}s:17:\"ChallengeNameType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:7:\"SMS_MFA\";i:1;s:17:\"PASSWORD_VERIFIER\";i:2;s:16:\"CUSTOM_CHALLENGE\";i:3;s:15:\"DEVICE_SRP_AUTH\";i:4;s:24:\"DEVICE_PASSWORD_VERIFIER\";i:5;s:17:\"ADMIN_NO_SRP_AUTH\";i:6;s:21:\"NEW_PASSWORD_REQUIRED\";}}s:23:\"ChallengeParametersType\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";}}}}s:22:\"ChallengeResponsesType\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";}}}}s:21:\"ChangePasswordRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:16:\"PreviousPassword\";i:1;s:16:\"ProposedPassword\";i:2;s:11:\"AccessToken\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"PreviousPassword\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PasswordType\";s:11:\"description\";s:48:\"The
  old password in the change password request.\";}s:16:\"ProposedPassword\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PasswordType\";s:11:\"description\";s:48:\"The
  new password in the change password request.\";}s:11:\"AccessToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TokenModelType\";s:11:\"description\";s:48:\"The
  access token in the change password request.\";}}s:11:\"description\";s:49:\"Represents
  the request to change a user password.\";}s:22:\"ChangePasswordResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:60:\"The
  response from the server to the change password request.\";}s:12:\"ClientIdType\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:6:\"[\\w+]+\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;s:6:\"format\";s:8:\"password\";}s:18:\"ClientMetadataType\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";}}}}s:14:\"ClientNameType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:13:\"[\\w\\s+=,.@-]+\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:24:\"ClientPermissionListType\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ClientPermissionType\";}}s:20:\"ClientPermissionType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:2048;}s:16:\"ClientSecretType\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:6:\"[\\w+]+\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:64;s:6:\"format\";s:8:\"password\";}s:27:\"CodeDeliveryDetailsListType\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CodeDeliveryDetailsType\";}}s:23:\"CodeDeliveryDetailsType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";s:11:\"description\";s:46:\"The
  destination for the code delivery details.\";}s:14:\"DeliveryMedium\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryMediumType\";s:11:\"description\";s:52:\"The
  delivery medium (email message or phone number).\";}s:13:\"AttributeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AttributeNameType\";s:11:\"description\";s:60:\"The
  name of the attribute in the code delivery details type.\";}}s:11:\"description\";s:65:\"The
  type of code delivery details being returned from the server.\";}s:28:\"CodeDeliveryFailureException\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MessageType\";s:11:\"description\";s:72:\"The
  message sent when a verification code fails to deliver successfully.\";}}s:11:\"description\";s:80:\"This
  exception is thrown when a verification code fails to deliver successfully.\";}s:21:\"CodeMismatchException\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MessageType\";s:11:\"description\";s:64:\"The
  message provided when the code mismatch exception is thrown.\";}}s:11:\"description\";s:91:\"This
  exception is thrown if the provided code does not match what the server was expecting.\";}s:21:\"CompletionMessageType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:5:\"[\\w]+\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:31:\"ConcurrentModificationException\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MessageType\";s:11:\"description\";s:61:\"The
  message provided when the concurrent exception is thrown.\";}}s:11:\"description\";s:81:\"This
  exception is thrown if two or more modifications are happening concurrently.\";}s:20:\"ConfirmDeviceRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:11:\"AccessToken\";i:1;s:9:\"DeviceKey\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"AccessToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TokenModelType\";s:11:\"description\";s:17:\"The
  access token.\";}s:9:\"DeviceKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DeviceKeyType\";s:11:\"description\";s:15:\"The
  device key.\";}s:26:\"DeviceSecretVerifierConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/DeviceSecretVerifierConfigType\";s:11:\"description\";s:48:\"The
  configuration of the device secret verifier.\";}s:10:\"DeviceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DeviceNameType\";s:11:\"description\";s:16:\"The
  device name.\";}}s:11:\"description\";s:28:\"Confirms the device request.\";}s:21:\"ConfirmDeviceResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:25:\"UserConfirmationNecessary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanType\";s:11:\"description\";s:84:\"Indicates
  whether the user confirmation is necessary to confirm the device response.\";}}s:11:\"description\";s:29:\"Confirms
  the device response.\";}s:28:\"ConfirmForgotPasswordRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:8:\"ClientId\";i:1;s:8:\"Username\";i:2;s:16:\"ConfirmationCode\";i:3;s:8:\"Password\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"ClientId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ClientIdType\";s:11:\"description\";s:59:\"The
  app client ID of the app associated with the user pool.\";}s:10:\"SecretHash\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecretHashType\";s:11:\"description\";s:149:\"A
  keyed-hash message authentication code (HMAC) calculated using the secret key of
  a user pool client and username plus the client ID in the message.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:93:\"The
  user name of the user for whom you want to enter a code to retrieve a forgotten
  password.\";}s:16:\"ConfirmationCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConfirmationCodeType\";s:11:\"description\";s:160:\"The
  confirmation code sent by a user's request to retrieve a forgotten password. For
  more information, see <a href=\"API_ForgotPassword.html\">ForgotPassword</a> \";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PasswordType\";s:11:\"description\";s:71:\"The
  password sent by a user's request to retrieve a forgotten password.\";}}s:11:\"description\";s:63:\"The
  request representing the confirmation for a password reset.\";}s:29:\"ConfirmForgotPasswordResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:97:\"The
  response from the server that results from a user's request to retrieve a forgotten
  password.\";}s:20:\"ConfirmSignUpRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:8:\"ClientId\";i:1;s:8:\"Username\";i:2;s:16:\"ConfirmationCode\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"ClientId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ClientIdType\";s:11:\"description\";s:55:\"The
  ID of the app client associated with the user pool.\";}s:10:\"SecretHash\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecretHashType\";s:11:\"description\";s:149:\"A
  keyed-hash message authentication code (HMAC) calculated using the secret key of
  a user pool client and username plus the client ID in the message.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:65:\"The
  user name of the user whose registration you wish to confirm.\";}s:16:\"ConfirmationCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ConfirmationCodeType\";s:11:\"description\";s:71:\"The
  confirmation code sent by a user's request to confirm registration.\";}s:18:\"ForceAliasCreation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ForceAliasCreation\";s:11:\"description\";s:462:\"Boolean
  to be specified to force user confirmation irrespective of existing alias. By default
  set to <code>False</code>. If this parameter is set to <code>True</code> and the
  phone number/email used for sign up confirmation already exists as an alias with
  a different user, the API call will migrate the alias from the previous user to
  the newly created user being confirmed. If set to <code>False</code>, the API will
  throw an <b>AliasExistsException</b> error.\";}}s:11:\"description\";s:57:\"Represents
  the request to confirm registration of a user.\";}s:21:\"ConfirmSignUpResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:74:\"Represents
  the response from the server for the registration confirmation.\";}s:20:\"ConfirmationCodeType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:5:\"[\\S]+\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:2048;}s:18:\"CreateGroupRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:9:\"GroupName\";i:1;s:10:\"UserPoolId\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"GroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GroupNameType\";s:11:\"description\";s:38:\"The
  name of the group. Must be unique.\";}s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:35:\"The
  user pool ID for the user pool.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DescriptionType\";s:11:\"description\";s:49:\"A
  string containing the description of the group.\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/ArnType\";s:11:\"description\";s:27:\"The
  role ARN for the group.\";}s:10:\"Precedence\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PrecedenceType\";s:11:\"description\";s:1025:\"<p>A
  nonnegative integer value that specifies the precedence of this group relative to
  the other groups that a user can belong to in the user pool. Zero is the highest
  precedence value. Groups with lower <code>Precedence</code> values take precedence
  over groups with higher or null <code>Precedence</code> values. If a user belongs
  to two or more groups, it is the group with the lowest precedence value whose role
  ARN will be used in the <code>cognito:roles</code> and <code>cognito:preferred_role</code>
  claims in the user's tokens.</p> <p>Two groups can have the same <code>Precedence</code>
  value. If this happens, neither group takes precedence over the other. If two groups
  with the same <code>Precedence</code> have the same role ARN, that role is used
  in the <code>cognito:preferred_role</code> claim in tokens for users in each group.
  If the two groups have different role ARNs, the <code>cognito:preferred_role</code>
  claim is not set in users' tokens.</p> <p>The default <code>Precedence</code> value
  is null.</p>\";}}}s:19:\"CreateGroupResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Group\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GroupType\";s:11:\"description\";s:31:\"The
  group object for the group.\";}}}s:29:\"CreateIdentityProviderRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:10:\"UserPoolId\";i:1;s:12:\"ProviderName\";i:2;s:12:\"ProviderType\";i:3;s:15:\"ProviderDetails\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:17:\"The
  user pool ID.\";}s:12:\"ProviderName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ProviderNameTypeV1\";s:11:\"description\";s:27:\"The
  identity provider name.\";}s:12:\"ProviderType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/IdentityProviderTypeType\";s:11:\"description\";s:27:\"The
  identity provider type.\";}s:15:\"ProviderDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ProviderDetailsType\";s:11:\"description\";s:94:\"The
  identity provider details, such as <code>MetadataURL</code> and <code>MetadataFile</code>.\";}s:16:\"AttributeMapping\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AttributeMappingType\";s:11:\"description\";s:86:\"A
  mapping of identity provider attributes to standard and custom user pool attributes.\";}s:14:\"IdpIdentifiers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/IdpIdentifiersListType\";s:11:\"description\";s:40:\"A
  list of identity provider identifiers.\";}}}s:30:\"CreateIdentityProviderResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:16:\"IdentityProvider\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"IdentityProvider\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/IdentityProviderType\";s:11:\"description\";s:43:\"The
  newly created identity provider object.\";}}}s:27:\"CreateResourceServerRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"UserPoolId\";i:1;s:10:\"Identifier\";i:2;s:4:\"Name\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:35:\"The
  user pool ID for the user pool.\";}s:10:\"Identifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ResourceServerIdentifierType\";s:11:\"description\";s:192:\"A
  unique resource server identifier for the resource server. This could be an HTTPS
  endpoint where the resource server is located. For example, <code>https://my-weather-api.example.com</code>.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceServerNameType\";s:11:\"description\";s:40:\"A
  friendly name for the resource server.\";}s:6:\"Scopes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ResourceServerScopeListType\";s:11:\"description\";s:103:\"A
  list of scopes. Each scope is map, where the keys are <code>name</code> and <code>description</code>.\";}}}s:28:\"CreateResourceServerResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"ResourceServer\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"ResourceServer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ResourceServerType\";s:11:\"description\";s:34:\"The
  newly created resource server.\";}}}s:26:\"CreateUserImportJobRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:7:\"JobName\";i:1;s:10:\"UserPoolId\";i:2;s:21:\"CloudWatchLogsRoleArn\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/UserImportJobNameType\";s:11:\"description\";s:37:\"The
  job name for the user import job.\";}s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:74:\"The
  user pool ID for the user pool that the users are being imported into.\";}s:21:\"CloudWatchLogsRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/ArnType\";s:11:\"description\";s:76:\"The
  role ARN for the Amazon CloudWatch Logging role for the user import job.\";}}s:11:\"description\";s:53:\"Represents
  the request to create the user import job.\";}s:27:\"CreateUserImportJobResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"UserImportJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/UserImportJobType\";s:11:\"description\";s:51:\"The
  job object that represents the user import job.\";}}s:11:\"description\";s:85:\"Represents
  the response from the server to the request to create the user import job.\";}s:27:\"CreateUserPoolClientRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:10:\"ClientName\";}s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:79:\"The
  user pool ID for the user pool where you want to create a user pool client.\";}s:10:\"ClientName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ClientNameType\";s:11:\"description\";s:66:\"The
  client name for the user pool client you would like to create.\";}s:14:\"GenerateSecret\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GenerateSecret\";s:11:\"description\";s:96:\"Boolean
  to specify whether you want to generate a secret for the user pool client being
  created.\";}s:20:\"RefreshTokenValidity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/RefreshTokenValidityType\";s:11:\"description\";s:93:\"The
  time limit, in days, after which the refresh token is no longer valid and cannot
  be used.\";}s:14:\"ReadAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ClientPermissionListType\";s:11:\"description\";s:20:\"The
  read attributes.\";}s:15:\"WriteAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ClientPermissionListType\";s:11:\"description\";s:21:\"The
  write attributes.\";}s:17:\"ExplicitAuthFlows\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ExplicitAuthFlowsListType\";s:11:\"description\";s:34:\"The
  explicit authentication flows.\";}s:26:\"SupportedIdentityProviders\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/SupportedIdentityProvidersListType\";s:11:\"description\";s:86:\"A
  list of provider names for the identity providers that are supported on this client.\";}s:12:\"CallbackURLs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/CallbackURLsListType\";s:11:\"description\";s:59:\"A
  list of allowed callback URLs for the identity providers.\";}s:10:\"LogoutURLs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/LogoutURLsListType\";s:11:\"description\";s:57:\"A
  list of allowed logout URLs for the identity providers.\";}s:18:\"DefaultRedirectURI\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RedirectUrlType\";s:11:\"description\";s:72:\"The
  default redirect URI. Must be in the <code>CallbackURLs</code> list.\";}s:17:\"AllowedOAuthFlows\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OAuthFlowsType\";s:11:\"description\";s:329:\"<p>Set
  to <code>code</code> to initiate a code grant flow, which provides an authorization
  code as the response. This code can be exchanged for access tokens with the token
  endpoint.</p> <p>Set to <code>token</code> to specify that the client should get
  the access token (and, optionally, ID token, based on scopes) directly.</p>\";}s:18:\"AllowedOAuthScopes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ScopeListType\";s:11:\"description\";s:170:\"A
  list of allowed <code>OAuth</code> scopes. Currently supported values are <code>\"phone\"</code>,
  <code>\"email\"</code>, <code>\"openid\"</code>, and <code>\"Cognito\"</code>.\";}s:31:\"AllowedOAuthFlowsUserPoolClient\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanType\";s:11:\"description\";s:120:\"Set
  to <code>True</code> if the client is allowed to follow the OAuth protocol when
  interacting with Cognito user pools.\";}}s:11:\"description\";s:52:\"Represents
  the request to create a user pool client.\";}s:28:\"CreateUserPoolClientResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"UserPoolClient\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/UserPoolClientType\";s:11:\"description\";s:43:\"The
  user pool client that was just created.\";}}s:11:\"description\";s:69:\"Represents
  the response from the server to create a user pool client.\";}s:27:\"CreateUserPoolDomainRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:6:\"Domain\";i:1;s:10:\"UserPoolId\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Domain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainType\";s:11:\"description\";s:18:\"The
  domain string.\";}s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:17:\"The
  user pool ID.\";}}}s:28:\"CreateUserPoolDomainResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:21:\"CreateUserPoolRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:8:\"PoolName\";}s:10:\"properties\";O:8:\"stdClass\":18:{s:8:\"PoolName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/UserPoolNameType\";s:11:\"description\";s:36:\"A
  string used to name the user pool.\";}s:8:\"Policies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/UserPoolPolicyType\";s:11:\"description\";s:47:\"The
  policies associated with the new user pool.\";}s:12:\"LambdaConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/LambdaConfigType\";s:11:\"description\";s:67:\"The
  Lambda trigger configuration information for the new user pool.\";}s:22:\"AutoVerifiedAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/VerifiedAttributesListType\";s:11:\"description\";s:87:\"The
  attributes to be auto-verified. Possible values: <b>email</b>, <b>phone_number</b>.\";}s:15:\"AliasAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/AliasAttributesListType\";s:11:\"description\";s:134:\"Attributes
  supported as an alias for this user pool. Possible values: <b>phone_number</b>,
  <b>email</b>, or <b>preferred_username</b>.\";}s:18:\"UsernameAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/UsernameAttributesListType\";s:11:\"description\";s:102:\"Specifies
  whether email addresses or phone numbers can be specified as usernames when a user
  signs up.\";}s:22:\"SmsVerificationMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/SmsVerificationMessageType\";s:11:\"description\";s:51:\"A
  string representing the SMS verification message.\";}s:24:\"EmailVerificationMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/EmailVerificationMessageType\";s:11:\"description\";s:53:\"A
  string representing the email verification message.\";}s:24:\"EmailVerificationSubject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/EmailVerificationSubjectType\";s:11:\"description\";s:53:\"A
  string representing the email verification subject.\";}s:27:\"VerificationMessageTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/VerificationMessageTemplateType\";s:11:\"description\";s:127:\"The
  template for the verification message that the user sees when the app requests permission
  to access the user's information.\";}s:24:\"SmsAuthenticationMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/SmsVerificationMessageType\";s:11:\"description\";s:53:\"A
  string representing the SMS authentication message.\";}s:16:\"MfaConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/UserPoolMfaType\";s:11:\"description\";s:36:\"Specifies
  MFA configuration details.\";}s:19:\"DeviceConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/DeviceConfigurationType\";s:11:\"description\";s:25:\"The
  device configuration.\";}s:18:\"EmailConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/EmailConfigurationType\";s:11:\"description\";s:24:\"The
  email configuration.\";}s:16:\"SmsConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/SmsConfigurationType\";s:11:\"description\";s:22:\"The
  SMS configuration.\";}s:12:\"UserPoolTags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/UserPoolTagsType\";s:11:\"description\";s:235:\"The
  cost allocation tags for the user pool. For more information, see <a href=\"http://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-cost-allocation-tagging.html\">Adding
  Cost Allocation Tags to Your User Pool</a> \";}s:21:\"AdminCreateUserConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/AdminCreateUserConfigType\";s:11:\"description\";s:60:\"The
  configuration for <code>AdminCreateUser</code> requests.\";}s:6:\"Schema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/SchemaAttributesListType\";s:11:\"description\";s:107:\"An
  array of schema attributes for the new user pool. These attributes can be standard
  or custom attributes.\";}}s:11:\"description\";s:45:\"Represents the request to
  create a user pool.\";}s:22:\"CreateUserPoolResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"UserPool\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UserPoolType\";s:11:\"description\";s:38:\"A
  container for the user pool details.\";}}s:11:\"description\";s:78:\"Represents
  the response from the server for the request to create a user pool.\";}s:23:\"CustomAttributeNameType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:28:\"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:20;}s:24:\"CustomAttributesListType\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SchemaAttributeType\";}s:8:\"minItems\";i:1;s:8:\"maxItems\";i:25;}s:8:\"DateType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:22:\"DefaultEmailOptionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:17:\"CONFIRM_WITH_LINK\";i:1;s:17:\"CONFIRM_WITH_CODE\";}}s:18:\"DeleteGroupRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:9:\"GroupName\";i:1;s:10:\"UserPoolId\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"GroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GroupNameType\";s:11:\"description\";s:22:\"The
  name of the group.\";}s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:35:\"The
  user pool ID for the user pool.\";}}}s:29:\"DeleteIdentityProviderRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:12:\"ProviderName\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:17:\"The
  user pool ID.\";}s:12:\"ProviderName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ProviderNameType\";s:11:\"description\";s:27:\"The
  identity provider name.\";}}}s:27:\"DeleteResourceServerRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:10:\"Identifier\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:66:\"The
  user pool ID for the user pool that hosts the resource server.\";}s:10:\"Identifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ResourceServerIdentifierType\";s:11:\"description\";s:39:\"The
  identifier for the resource server.\";}}}s:27:\"DeleteUserAttributesRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:18:\"UserAttributeNames\";i:1;s:11:\"AccessToken\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"UserAttributeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AttributeNameListType\";s:11:\"description\";s:186:\"<p>An
  array of strings representing the user attribute names you wish to delete.</p> <p>For
  custom attributes, you must prepend the <code>custom:</code> prefix to the attribute
  name.</p>\";}s:11:\"AccessToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TokenModelType\";s:11:\"description\";s:63:\"The
  access token used in the request to delete user attributes.\";}}s:11:\"description\";s:49:\"Represents
  the request to delete user attributes.\";}s:28:\"DeleteUserAttributesResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:66:\"Represents
  the response from the server to delete user attributes.\";}s:27:\"DeleteUserPoolClientRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"ClientId\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:71:\"The
  user pool ID for the user pool where you want to delete the client.\";}s:8:\"ClientId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ClientIdType\";s:11:\"description\";s:59:\"The
  app client ID of the app associated with the user pool.\";}}s:11:\"description\";s:52:\"Represents
  the request to delete a user pool client.\";}s:27:\"DeleteUserPoolDomainRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:6:\"Domain\";i:1;s:10:\"UserPoolId\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Domain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainType\";s:11:\"description\";s:18:\"The
  domain string.\";}s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:17:\"The
  user pool ID.\";}}}s:28:\"DeleteUserPoolDomainResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:21:\"DeleteUserPoolRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"UserPoolId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:54:\"The
  user pool ID for the user pool you want to delete.\";}}s:11:\"description\";s:45:\"Represents
  the request to delete a user pool.\";}s:17:\"DeleteUserRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"AccessToken\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"AccessToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TokenModelType\";s:11:\"description\";s:49:\"The
  access token from a request to delete a user.\";}}s:11:\"description\";s:40:\"Represents
  the request to delete a user.\";}s:22:\"DeliveryMediumListType\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryMediumType\";}}s:18:\"DeliveryMediumType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"SMS\";i:1;s:5:\"EMAIL\";}}s:31:\"DescribeIdentityProviderRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:12:\"ProviderName\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:17:\"The
  user pool ID.\";}s:12:\"ProviderName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ProviderNameType\";s:11:\"description\";s:27:\"The
  identity provider name.\";}}}s:32:\"DescribeIdentityProviderResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:16:\"IdentityProvider\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"IdentityProvider\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/IdentityProviderType\";s:11:\"description\";s:39:\"The
  identity provider that was deleted.\";}}}s:29:\"DescribeResourceServerRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:10:\"Identifier\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:66:\"The
  user pool ID for the user pool that hosts the resource server.\";}s:10:\"Identifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ResourceServerIdentifierType\";s:11:\"description\";s:38:\"The
  identifier for the resource server\";}}}s:30:\"DescribeResourceServerResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"ResourceServer\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"ResourceServer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ResourceServerType\";s:11:\"description\";s:20:\"The
  resource server.\";}}}s:28:\"DescribeUserImportJobRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:5:\"JobId\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:74:\"The
  user pool ID for the user pool that the users are being imported into.\";}s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/UserImportJobIdType\";s:11:\"description\";s:35:\"The
  job ID for the user import job.\";}}s:11:\"description\";s:55:\"Represents the request
  to describe the user import job.\";}s:29:\"DescribeUserImportJobResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"UserImportJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/UserImportJobType\";s:11:\"description\";s:51:\"The
  job object that represents the user import job.\";}}s:11:\"description\";s:87:\"Represents
  the response from the server to the request to describe the user import job.\";}s:29:\"DescribeUserPoolClientRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:8:\"ClientId\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:56:\"The
  user pool ID for the user pool you want to describe.\";}s:8:\"ClientId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ClientIdType\";s:11:\"description\";s:59:\"The
  app client ID of the app associated with the user pool.\";}}s:11:\"description\";s:54:\"Represents
  the request to describe a user pool client.\";}s:30:\"DescribeUserPoolClientResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"UserPoolClient\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/UserPoolClientType\";s:11:\"description\";s:77:\"The
  user pool client from a server response to describe the user pool client.\";}}s:11:\"description\";s:88:\"Represents
  the response from the server from a request to describe the user pool client.\";}s:29:\"DescribeUserPoolDomainRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"Domain\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Domain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainType\";s:11:\"description\";s:18:\"The
  domain string.\";}}}s:30:\"DescribeUserPoolDomainResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"DomainDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/DomainDescriptionType\";s:11:\"description\";s:68:\"A
  domain description object containing information about the domain.\";}}}s:23:\"DescribeUserPoolRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"UserPoolId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:56:\"The
  user pool ID for the user pool you want to describe.\";}}s:11:\"description\";s:49:\"Represents
  the request to describe the user pool.\";}s:24:\"DescribeUserPoolResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"UserPool\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UserPoolType\";s:11:\"description\";s:70:\"The
  container of metadata returned by the server to describe the pool.\";}}s:11:\"description\";s:50:\"Represents
  the response to describe the user pool.\";}s:15:\"DescriptionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2048;}s:23:\"DeviceConfigurationType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:28:\"ChallengeRequiredOnNewDevice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanType\";s:11:\"description\";s:91:\"Indicates
  whether a challenge is required on a new device. Only applicable to a new device.\";}s:32:\"DeviceOnlyRememberedOnUserPrompt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanType\";s:11:\"description\";s:52:\"If
  true, a device is only remembered on user prompt.\";}}s:11:\"description\";s:62:\"The
  type of configuration for the user pool's device tracking.\";}s:13:\"DeviceKeyType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:17:\"[\\w-]+_[0-9a-f-]+\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:55;}s:14:\"DeviceListType\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DeviceType\";}}s:14:\"DeviceNameType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:1024;}s:26:\"DeviceRememberedStatusType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:10:\"remembered\";i:1;s:14:\"not_remembered\";}}s:30:\"DeviceSecretVerifierConfigType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"PasswordVerifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";s:11:\"description\";s:22:\"The
  password verifier.\";}s:4:\"Salt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringType\";s:11:\"description\";s:9:\"The
  salt.\";}}s:11:\"description\";s:59:\"The device verifier against which it will
  be authenticated.\";}s:10:\"DeviceType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"DeviceKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DeviceKeyType\";s:11:\"description\";s:15:\"The
  device key.\";}s:16:\"DeviceAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AttributeListType\";s:11:\"description\";s:22:\"The
  device attributes.\";}s:16:\"DeviceCreateDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:32:\"The
  creation date of the device.\";}s:22:\"DeviceLastModifiedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:37:\"The
  last modified date of the device.\";}s:27:\"DeviceLastAuthenticatedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:52:\"The
  date in which the device was last authenticated.\";}}s:11:\"description\";s:16:\"The
  device type.\";}s:21:\"DomainDescriptionType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:17:\"The
  user pool ID.\";}s:12:\"AWSAccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AWSAccountIdType\";s:11:\"description\";s:43:\"The
  AWS account ID for the user pool owner.\";}s:6:\"Domain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainType\";s:11:\"description\";s:18:\"The
  domain string.\";}s:8:\"S3Bucket\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/S3BucketType\";s:11:\"description\";s:64:\"The
  S3 bucket where the static files for this domain are stored.\";}s:22:\"CloudFrontDistribution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/ArnType\";s:11:\"description\";s:39:\"The
  ARN of the CloudFront distribution.\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DomainVersionType\";s:11:\"description\";s:16:\"The
  app version.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DomainStatusType\";s:11:\"description\";s:18:\"The
  domain status.\";}}s:11:\"description\";s:43:\"A container for information about
  a domain.\";}s:16:\"DomainStatusType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:8:\"CREATING\";i:1;s:8:\"DELETING\";i:2;s:8:\"UPDATING\";i:3;s:6:\"ACTIVE\";i:4;s:6:\"FAILED\";}}s:10:\"DomainType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:39:\"^[a-z0-9](?:[a-z0-9\\-]{0,61}[a-z0-9])?$\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:63;}s:17:\"DomainVersionType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:20;}s:26:\"DuplicateProviderException\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MessageType\";}}s:11:\"description\";s:81:\"This
  exception is thrown when the provider is already supported by the user pool.\";}s:16:\"EmailAddressType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:57:\"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+@[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+\";}s:22:\"EmailConfigurationType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"SourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/ArnType\";s:11:\"description\";s:51:\"The
  Amazon Resource Name (ARN) of the email source.\";}s:19:\"ReplyToEmailAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EmailAddressType\";s:11:\"description\";s:27:\"The
  REPLY-TO email address.\";}}s:11:\"description\";s:29:\"The email configuration
  type.\";}s:34:\"EmailVerificationMessageByLinkType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:101:\"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s*]*\\{##[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s*]*##\\}[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s*]*\";s:9:\"minLength\";i:6;s:9:\"maxLength\";i:20000;}s:28:\"EmailVerificationMessageType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:70:\"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s*]*\\{####\\}[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s*]*\";s:9:\"minLength\";i:6;s:9:\"maxLength\";i:20000;}s:34:\"EmailVerificationSubjectByLinkType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:30:\"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s]+\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:140;}s:28:\"EmailVerificationSubjectType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:30:\"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\s]+\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:140;}s:20:\"ExpiredCodeException\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MessageType\";s:11:\"description\";s:63:\"The
  message returned when the expired code exception is thrown.\";}}s:11:\"description\";s:47:\"This
  exception is thrown if a code has expired.\";}s:25:\"ExplicitAuthFlowsListType\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ExplicitAuthFlowsType\";}}s:21:\"ExplicitAuthFlowsType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:17:\"ADMIN_NO_SRP_AUTH\";i:1;s:21:\"CUSTOM_AUTH_FLOW_ONLY\";}}s:18:\"ForceAliasCreation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"ForgetDeviceRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:9:\"DeviceKey\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"AccessToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TokenModelType\";s:11:\"description\";s:50:\"The
  access token for the forgotten device request.\";}s:9:\"DeviceKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DeviceKeyType\";s:11:\"description\";s:15:\"The
  device key.\";}}s:11:\"description\";s:44:\"Represents the request to forget the
  device.\";}s:21:\"ForgotPasswordRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:8:\"ClientId\";i:1;s:8:\"Username\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"ClientId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ClientIdType\";s:11:\"description\";s:51:\"The
  ID of the client associated with the user pool.\";}s:10:\"SecretHash\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecretHashType\";s:11:\"description\";s:149:\"A
  keyed-hash message authentication code (HMAC) calculated using the secret key of
  a user pool client and username plus the client ID in the message.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UsernameType\";s:11:\"description\";s:90:\"The
  user name of the user for whom you want to enter a code to reset a forgotten password.\";}}s:11:\"description\";s:50:\"Represents
  the request to reset a user's password.\";}s:22:\"ForgotPasswordResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"CodeDeliveryDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/CodeDeliveryDetailsType\";s:11:\"description\";s:96:\"The
  code delivery details returned by the server in response to the request to reset
  a password.\";}}s:11:\"description\";s:83:\"Respresents the response from the server
  regarding the request to reset a password.\";}s:14:\"GenerateSecret\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"GetCSVHeaderRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"UserPoolId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:74:\"The
  user pool ID for the user pool that the users are to be imported into.\";}}s:11:\"description\";s:95:\"Represents
  the request to get the header information for the .csv file for the user import
  job.\";}s:20:\"GetCSVHeaderResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:74:\"The
  user pool ID for the user pool that the users are to be imported into.\";}s:9:\"CSVHeader\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ListOfStringTypes\";s:11:\"description\";s:65:\"The
  header information for the .csv file for the user import job.\";}}s:11:\"description\";s:127:\"Represents
  the response from the server to the request to get the header information for the
  .csv file for the user import job.\";}s:16:\"GetDeviceRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:9:\"DeviceKey\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"DeviceKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DeviceKeyType\";s:11:\"description\";s:15:\"The
  device key.\";}s:11:\"AccessToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TokenModelType\";s:11:\"description\";s:17:\"The
  access token.\";}}s:11:\"description\";s:41:\"Represents the request to get the
  device.\";}s:17:\"GetDeviceResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"Device\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Device\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DeviceType\";s:11:\"description\";s:11:\"The
  device.\";}}s:11:\"description\";s:25:\"Gets the device response.\";}s:15:\"GetGroupRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:9:\"GroupName\";i:1;s:10:\"UserPoolId\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"GroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GroupNameType\";s:11:\"description\";s:22:\"The
  name of the group.\";}s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:35:\"The
  user pool ID for the user pool.\";}}}s:16:\"GetGroupResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Group\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GroupType\";s:11:\"description\";s:31:\"The
  group object for the group.\";}}}s:38:\"GetIdentityProviderByIdentifierRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"UserPoolId\";i:1;s:13:\"IdpIdentifier\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"UserPoolId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/UserPoolIdType\";s:11:\"description\";s:17:\"The
  user pool ID.\";}s:13:\"IdpIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/IdpIdentifierType\";s:11:\"description\";s:25:\"The
[...]
