---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:4:\"DMOZ\";s:11:\"description\";s:51:\"This
  API retrieves DMOZ category for a given domain\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"enclout\";s:3:\"url\";s:22:\"http://www.enclout.com\";}s:7:\"version\";N;s:6:\"x-logo\";s:86:\"https://s3.amazonaws.com/mashape-production-logos/apis/53aa32e3e4b0a9b1348d8efa_medium\";s:20:\"x-mashape-categories\";a:1:{i:0;s:5:\"Other\";}s:8:\"x-origin\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"mashape\";s:3:\"url\";s:39:\"https://market.mashape.com/enclout/dmoz\";}}"
host: enclout-dmoz.p.mashape.com
basePath: ""
paths:
  /show.json:
    get:
      description: dmoz
      operationId: dmoz
      produces:
      - application/json
      parameters:
      - name: url
        in: query
        description: URL or domain
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
definitions: !php/object "O:8:\"stdClass\":2:{s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"dmoz_copyright\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"dmoz_categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Dmoz_categorie\";}}}}s:14:\"Dmoz_categorie\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"URL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
