---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:81:\"Query our database
  of State and Federal Laws and Incentives for Alternative Fuels\";s:5:\"title\";s:34:\"Transportation
  Laws and Incentives\";s:7:\"version\";s:5:\"0.1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#0079C5\";s:3:\"url\";s:80:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_NRELdev_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.0.1\";}s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:93:\"http://developer.nrel.gov/docs/transportation/transportation-incentives-laws-v1/api-docs.json\";s:7:\"version\";s:3:\"1.2\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:8:\"nrel.gov\";s:13:\"x-serviceName\";s:30:\"transportation-incentives-laws\";}"
host: developer.nrel.gov
basePath: /api/transportation-incentives-laws
paths:
  /v1.{output_format}:
    get:
      parameters:
      - default: json
        description: Response format
        enum:
        - json
        - xml
        - csv
        in: path
        name: output_format
        required: true
        type: string
      - default: 10
        description: Limit the number of laws returned
        in: query
        name: limit
        type: integer
      - description: Return laws for the given Jurisdiction. Jurisdiction must be
          given as a two character state code (eg, 'CO' for Colorado). A single jurisdiction,
          or a comma-separate list of multiple jurisdiction, may be given.  Use the
          code 'US' for federal laws and the code 'DC' for Washington D.C.
        in: query
        name: jurisdiction
        type: string
      - description: 'Search by the technology type. A single type, or a comma-separate
          list of multiple types, may be given. Values and what they stand for are
          as follows: ''BIOD'' for Biodiesel, ''ETH'' for Ethanol, ''NG'' for Natural
          Gas, ''LPG'' for Propane (LPG), ''HY'' for Hydrogen Fuel Cells, ''EFFEC''
          for Fuel Economy / Efficiency, ''IR'' for Idle Reduction, ''ELEC'' for EVs,
          ''HEV'' for HEVs, ''PHEV'' for PHEVs, ''OTHER'' for Other, ''AFTMKTCONV''
          for Aftermarket Conversions, and ''NEVS'' for NEVs'
        in: query
        name: technology
        type: string
      - description: 'Search by the incentive type. A single type, or a comma-separate
          list of multiple types, may be given. Values and what they stand for are
          as follows: ''GNT'' for Grants, ''TAX'' for Tax Incentives, ''LOANS'' for
          Loans and Leases, ''RBATE'' for Rebates, ''EXEM'' for Exemptions, and ''OTHER''
          for Other.'
        in: query
        name: incentive_type
        type: string
      - description: 'Search by the regulation type. A single type, or a comma-separate
          list of multiple types, may be given. Values and what they stand for are
          as follows: ''REGIS'' for Registration / Licensing, ''STD'' for Fuel Production
          / Quality, ''DREST'' for Driving / Idling, ''REQ'' for Acquisition / Fuel
          Use, ''FUEL'' for Fuel Taxes, ''RFS'' for Renewable Fuel Standard / Mandate,
          ''OTHER'' for Other, ''AIRQEMISSIONS'' for Air Quality / Emissions, and
          ''CCEINIT'' for Climate Change / Energy Initiatives'
        in: query
        name: regulation_type
        type: string
      - description: 'Search by the user type. A single type, or a comma-separate
          list of multiple types, may be given. Values and what they stand for are
          as follows: ''IND'' for Vehicle Owner/Driver, ''FLEET'' for Fleet Purchaser/Manager,
          ''STATION'' for Fueling / TSE Infrastructure Owner, ''AFP'' for Alternative
          Fuel Producer, ''AFS'' for Alternative Fuel Dealer, ''PURCH'' for Alternative
          Fuel Purchaser, ''MAN'' for AFV Manufacturer/Retrofitter, and ''OTHER''
          for Other'
        in: query
        name: user_type
        type: string
      - default: false
        description: Include points of contacts in the return value.
        in: query
        name: poc
        type: boolean
      - default: false
        description: Return only recently added or updated laws and incentives
        in: query
        name: recent
        type: boolean
      - default: false
        description: Show only expired, repealed or archived laws and incentives.
        in: query
        name: expired
        type: boolean
      - description: 'Search by the law type. A single type, or a comma-separate list
          of multiple types, may be given. Values are as follows: ''STATEINC'' for
          State Incentives, ''UPINC '' for Utility/Private Incentives, ''LAWREG''
          for Laws and Regulations, ''INC'' for Incentives, ''PROG'' for Programs,
          ''LUP'' for Last Updated, ''OVIEW'' for Overview, and ''HILITE'' for Highlights'
        in: query
        name: law_type
        type: string
      - description: Search laws by keyword in title or text.
        in: query
        name: keyword
        type: string
      - default: false
        description: Show only local examples of laws and incentives.
        in: query
        name: local
        type: boolean
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/LawsResponse'
      summary: Return a full list of laws and incentives that match your query.
      tags:
      - v1
  /v1/category-list.{output_format}:
    get:
      parameters:
      - default: json
        description: Response format
        enum:
        - json
        - xml
        in: path
        name: output_format
        required: true
        type: string
      - description: Search by the category type.
        enum:
        - tech
        - user
        - regulation
        - incentive
        in: query
        name: type
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/CategoryResults'
      summary: Return the law categories for a given category type.
      tags:
      - v1
  /v1/pocs.{output_format}:
    get:
      parameters:
      - default: json
        description: Response format
        enum:
        - json
        - xml
        in: path
        name: output_format
        required: true
        type: string
      - description: Return the points of contact for the given Jurisdiction. Jurisdiction
          must be given as a two character state code (eg, 'CO' for Colorado). A single
          jurisdiction, or a comma-separate list of multiple jurisdiction, may be
          given.  Use the code 'US' for federal laws and the code 'DC' for Washington
          D.C.
        in: query
        name: jurisdiction
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/PocResults'
      summary: Get the points of contact for a given jurisdiction.
      tags:
      - v1
  /v1/{id}.{output_format}:
    get:
      parameters:
      - default: json
        description: Response format
        enum:
        - json
        - xml
        in: path
        name: output_format
        required: true
        type: string
      - description: The id of the law that you are searching
        in: path
        name: id
        required: true
        type: integer
      - default: false
        description: Include points of contacts in the return value.
        in: query
        name: poc
        type: boolean
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/LawResult'
      summary: Fetch the details of a specific law given the law's ID.
      tags:
      - v1
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:8:\"Category\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"A
  category that the law applies to\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"category_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  type of category. (E.g. tech, incentive, regulation, user)\";s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  code used to identify the category\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  full name of the category\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"code\";i:1;s:5:\"title\";i:2;s:13:\"category_type\";}}s:15:\"CategoryResults\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"inputs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Inputs\";s:11:\"description\";s:47:\"The
  parameters that were passed to the api call\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Metadata\";s:11:\"description\";s:60:\"The
  api version number, and the count of categories returned\";}s:6:\"result\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  array of law categories returned\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FullCategory\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:8:\"metadata\";i:1;s:6:\"inputs\";i:2;s:6:\"result\";}}s:12:\"FullCategory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"category_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  type of category. (E.g. tech, incentive, regulation, user)\";s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  code used to identify the category\";s:4:\"type\";s:6:\"string\";}s:9:\"help_text\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"A
  short description of what the law category encompasses\";s:4:\"type\";s:6:\"string\";}s:10:\"sort_order\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  sort order for the categories\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  full name of the category\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"code\";i:1;s:5:\"title\";i:2;s:13:\"category_type\";i:3;s:10:\"sort_order\";}}s:6:\"Inputs\";O:8:\"stdClass\":1:{s:11:\"description\";s:42:\"The
  parameters that were passed to the API\";}s:3:\"Law\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"This
  is a Law\";s:10:\"properties\";O:8:\"stdClass\":21:{s:6:\"agency\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  agency with primary responsibility for federal incentives/regulations.\";s:4:\"type\";s:6:\"string\";}s:12:\"amended_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  date the incentive/law/regulation was updated through new legislation or rulemaking.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"archived_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:191:\"The
  date that an incentive/law/regulation is no longer relevant to the database. This
  may include longstanding Executive Orders or laws requiring legislative studies
  that have been completed.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  various law categories that apply to this law\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Category\";}s:4:\"type\";s:5:\"array\";}s:8:\"contacts\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  contacts for the given law, returned only if the parameter poc is true\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Poc\";}s:4:\"type\";s:5:\"array\";}s:12:\"enacted_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  date the enacting legislation (if applicable) was signed into law.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"expired_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  date the incentive/law/regulation is set to end.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"A
  unique identifier for this specific incentive/law/regulation.\";s:4:\"type\";s:7:\"integer\";}s:9:\"is_recent\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"The
  true or false value used to distinguish between recent federal executive actions
  (TRUE) and active incentives/laws/regulations (FALSE).\";s:4:\"type\";s:7:\"boolean\";}s:9:\"plaintext\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"Description
  of the incentive/law/regulation, including applicable legislative references, in
  <a href=\"https://guides.github.com/features/mastering-markdown/\">markdown formatting</a>\";s:4:\"type\";s:6:\"string\";}s:20:\"recent_update_or_new\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"An
  indicator if the last significant update was an update or the laws creation.\";s:4:\"type\";s:6:\"string\";}s:10:\"references\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  URL associated with any bill or legislative reference included in the description.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LawReference\";}s:4:\"type\";s:5:\"array\";}s:13:\"repealed_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  date legislation is enacted or a rulemaking is finalized to repeal the incentive/law/regulation.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"seq_num\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"The
  numerical value assigned to a description to show the order in which it is displayed
  online within a jurisdiction (state).\";s:4:\"type\";s:7:\"integer\";}s:23:\"significant_update_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"When
  the last significant update to the law was made.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  state in which the incentive/law/regulation was enacted and is active.\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"Description
  of the incentive/law/regulation, including applicable legislative references, html
  formated.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  brief title assigned to the incentive/law/regulation description.\";s:4:\"type\";s:6:\"string\";}s:6:\"topics\";O:8:\"stdClass\":3:{s:11:\"description\";s:394:\"For
  local incentive/regulation descriptions, the category that the incentive/regulation
  falls under, described below: Infrastructure Requirements, Vehicle Purchase and
  Infrastructure Development Incentives, Fuel Use Incentives, Parking Incentives,
  Technical Assistance, Vehicle Acquisition Requirements, Promotion Initiatives, Idle
  Reduction Requirements, Renewable Fuels Mandates and Standards\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/LawTopics\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"The
  category that the incentive/law/regulation falls under, described below: -State
  Incentives, -Laws and Regulations, -Utility/Private Incentives\";s:4:\"type\";s:6:\"string\";}s:5:\"types\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  types that apply to this law\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/LawType\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:10:{i:0;s:2:\"id\";i:1;s:5:\"state\";i:2;s:5:\"title\";i:3;s:4:\"text\";i:4;s:9:\"plaintext\";i:5;s:4:\"type\";i:6;s:10:\"categories\";i:7;s:5:\"types\";i:8;s:10:\"references\";i:9;s:6:\"topics\";}}s:12:\"LawReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  URL associated with any bill or legislative reference included in the description.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  context of the reference\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  url linking to the reference.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"description\";i:1;s:3:\"url\";}}s:9:\"LawResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"inputs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Inputs\";s:11:\"description\";s:47:\"The
  parameters that were passed to the api call\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Metadata\";s:11:\"description\";s:22:\"The
  api version number\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Law\";s:11:\"description\";s:17:\"The
  law requested\";}}s:8:\"required\";a:3:{i:0;s:8:\"metadata\";i:1;s:6:\"inputs\";i:2;s:6:\"result\";}}s:9:\"LawTopics\";O:8:\"stdClass\":3:{s:11:\"description\";s:394:\"For
  local incentive/regulation descriptions, the category that the incentive/regulation
  falls under, described below: Infrastructure Requirements, Vehicle Purchase and
  Infrastructure Development Incentives, Fuel Use Incentives, Parking Incentives,
  Technical Assistance, Vehicle Acquisition Requirements, Promotion Initiatives, Idle
  Reduction Requirements, Renewable Fuels Mandates and Standards\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  database id of the law topic\";s:4:\"type\";s:7:\"integer\";}s:10:\"sort_order\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  sort order of the law topic\";s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the law topic\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:5:\"title\";i:2;s:10:\"sort_order\";}}s:7:\"LawType\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"The
  category that the incentive/law/regulation falls under, described below: -State
  Incentives, -Laws and Regulations, -Utility/Private Incentives\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  code used to identify the law type\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  id of the law type\";s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  name of the law type\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:5:\"title\";i:2;s:4:\"code\";}}s:12:\"LawsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"inputs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Inputs\";s:11:\"description\";s:47:\"The
  parameters that were passed to the api call\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Metadata\";s:11:\"description\";s:54:\"The
  api version number, and the count of laws returned\";}s:6:\"result\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  array of laws returned\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Law\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:8:\"metadata\";i:1;s:6:\"inputs\";i:2;s:6:\"result\";}}s:8:\"Metadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  identifying metadata.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"If
  the request returns an array of results, this is the number of results returned
  in the array\";s:4:\"type\";s:7:\"integer\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is the version of the api\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"version\";}}s:3:\"Poc\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"agency\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  agency that the contact represents\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  contacts email address\";s:4:\"type\";s:6:\"string\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  contacts fax number\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the contact\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"The
  state in which the contact is based ('US' for Federal laws and 'DC' for the District
  of Columbia)\";s:4:\"type\";s:6:\"string\";}s:9:\"telephone\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  contacts phone number\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  job title of the contact\";s:4:\"type\";s:6:\"string\";}s:8:\"web_page\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  contacts webpage\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"state\";}}s:10:\"PocResults\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"inputs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Inputs\";s:11:\"description\";s:47:\"The
  parameters that were passed to the api call\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Metadata\";s:11:\"description\";s:58:\"The
  api version number, and the count of contacts returned\";}s:6:\"result\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  array of Points of Contacts for the state requested\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Poc\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:8:\"metadata\";i:1;s:6:\"inputs\";i:2;s:6:\"result\";}}}"
...
