---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:328:\"The Buildings
  Database is a shared resource for the building industry. The Database, developed
  by the U.S. Department of Energy and the National Renewable Energy Laboratory (NREL),
  is a unique central repository of in-depth information and data on high-performance,
  green building projects across the United States and abroad.  \";s:5:\"title\";s:34:\"High
  Performance Building Database\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#0079C5\";s:3:\"url\";s:80:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_NRELdev_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.0.1\";}s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:76:\"http://developer.nrel.gov/docs/buildings/building-case-studies/api-docs.json\";s:7:\"version\";s:3:\"1.2\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:8:\"nrel.gov\";s:13:\"x-serviceName\";s:21:\"building-case-studies\";}"
host: developer.nrel.gov
basePath: /api/building-case-studies
paths:
  /project.{output_format}:
    get:
      operationId: project
      parameters:
      - default: xml
        description: Response Format
        enum:
        - json
        - xml
        in: path
        name: output_format
        required: true
        type: string
      - description: Search Text
        in: query
        name: search
        required: false
        type: string
      - description: Portal ID
        in: query
        name: portal
        required: false
        type: string
      - description: Page Number
        in: query
        name: page
        required: false
        type: integer
      - description: City
        in: query
        name: city
        required: false
        type: string
      - description: 'State or Province (ex: ''CO'', ''AZ'')'
        in: query
        name: province
        required: false
        type: string
      - description: 'Climate Region.  Use integer from mapping (256: ''1A: Very Hot
          - Humid'', 257: ''1B: Very Hot - Dry'', 258: ''2A: Hot - Humid'', 259: ''2B:
          Hot - Dry'', 260: ''3A: Warm - Humid'', 261: ''3B: Warm - Dry'', 262: ''3C:
          Warm - Marine'', 263: ''4A: Mixed - Humid'', 264: ''4B: Mixed - Dry'', 265:
          ''4C: Mixed - Marine'', 266: ''5A: Cool - Humid'', 267: ''5B: Cool - Dry'',
          268: ''5C: Cool - Marine'', 269: ''6A: Cold - Humid'', 270: ''6B: Cold -
          Dry'', 271: ''7: Very Cold'', 272: ''8: Subarctic'')'
        in: query
        name: region
        required: false
        type: string
      responses:
        200:
          description: No response was specified
      summary: A filterable list of projects.
      tags:
      - project
  /project/{project_id}.{output_format}:
    get:
      description: This API allows users to request metadata associated with the specific
        Document.
      operationId: document
      parameters:
      - default: json
        description: Response Format
        enum:
        - json
        - xml
        in: path
        name: output_format
        required: true
        type: string
      - description: Project ID
        in: path
        name: project_id
        required: true
        type: integer
      responses:
        200:
          description: No response was specified
      summary: Project Details
      tags:
      - project
produces:
- text/xml
schemes:
- https
...
