---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:24:\"support@transitfeeds.com\";s:4:\"name\";s:16:\"TransitFeeds.com\";s:3:\"url\";s:31:\"https://transitfeeds.com/issues\";s:9:\"x-twitter\";s:12:\"TransitFeeds\";}s:11:\"description\";s:70:\"API
  to view feed information and download feeds from TransitFeeds.com\n\";s:5:\"title\";s:12:\"TransitFeeds\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:8:\"location\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:84:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_TransitFeeds_profile_image.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:50:\"https://transitfeeds.com/api/transitfeeds-api.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:16:\"transitfeeds.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"transitfeeds\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.transitfeeds.com
basePath: /v1
paths:
  /getFeedVersions:
    get:
      description: This API call allows you to easily see every single feed update
        in the TranstiFeeds.com system. Since this can be quitenlong, it's also possible
        to filter this list by a single feed ID.n
      operationId: getFeedVersions
      parameters:
      - default: YOUR_API_KEY
        description: Your personal API key, used for authentication.
        in: query
        name: key
        required: true
        type: string
      - description: If you only want to retrieve feed versions for a particular feed,
          include its ID here. You can use the `/getFeeds` call to discover feed IDs.
        in: query
        name: feed
        required: false
        type: string
      - default: 1
        description: The page number of results to return. For example, if you specify
          a `page` of `2` with a `limit` of 10, then results 11-20 are returned.nThe
          number of pages available is included in the response.n
        in: query
        name: page
        required: false
        type: integer
      - default: 10
        description: The maximum number of results to return..
        in: query
        name: limit
        required: false
        type: integer
      - default: 1
        description: To include any errors detected when importing this feed in the
          response, specify a valud of `1`.
        enum:
        - 0
        - 1
        in: query
        name: err
        required: false
        type: integer
      - default: 1
        description: To include any warnings detected when importing this feed in
          the response, specify a valud of `1`.
        enum:
        - 0
        - 1
        in: query
        name: warn
        required: false
        type: integer
      responses:
        200:
          description: The response for a valid `/getFeedVersions` API call.
          schema:
            $ref: '#/definitions/GetFeedVersionsResponse'
      summary: Retrieve a list of versions of specified (or all) feeds.
  /getFeeds:
    get:
      description: Used this API to retrieve a list of feeds in the system. Doing
        so can be usedful to discover feed IDs thatncan be used in other API calls.n
      operationId: getFeeds
      parameters:
      - default: YOUR_API_KEY
        description: Your personal API key, used for authentication.
        in: query
        name: key
        required: true
        type: string
      - description: This is the unique ID of a location. If specified, feeds will
          only be returned that belong to this locationn(and perhaps sub-locations
          too, depending on the `descendants` value). You can use the `/getLocations`
          APInendpoint to determine location IDs.n
        in: query
        name: location
        required: false
        type: integer
      - default: 1
        description: If a location is specified in `location`, this flag can be used
          to control if returned feeds must be assigned directly to the location,
          or if feeds belonging to sub-locations can also be returned. If `0`, then
          feeds must be assigned directly to the specified location.
        enum:
        - 0
        - 1
        in: query
        name: descendants
        required: false
        type: integer
      - default: 1
        description: The page number of results to return. For example, if you specify
          a `page` of `2` with a `limit` of 10, then results 11-20 are returned.nThe
          number of pages available is included in the response.n
        in: query
        name: page
        required: false
        type: integer
      - default: 10
        description: The maximum number of results to return..
        in: query
        name: limit
        required: false
        type: integer
      - description: The type of feeds to return. If unspecified, feeds of all types
          are returned.
        enum:
        - gtfs
        - gtfsrealtime
        in: query
        name: type
        required: false
        type: string
      responses:
        200:
          description: The response for a valid `/getFeeds` API call.
          schema:
            $ref: '#/definitions/GetFeedsResponse'
      summary: Retrieve a list of feeds.
  /getLatestFeedVersion:
    get:
      description: Once you have used `/getFeeds` to discover a feed's URL, you can
        use this endpoint to download its latest version from TranstiFeeds.nIt will
        be unmodified in the original format from the provider.n
      operationId: getLatestFeedVersion
      parameters:
      - default: YOUR_API_KEY
        description: Your personal API key, used for authentication.
        in: query
        name: key
        required: true
        type: string
      - description: The ID of the feed to retrieve the latest feed version for. You
          can use the `/getFeeds` call to discover feed IDs.
        in: query
        name: feed
        required: true
        type: string
      responses:
        200:
          description: The response for a `/getLatestFeedVersion` API call that includes
            invalid request parameters.
          schema:
            $ref: '#/definitions/GetLatestFeedVersionResponse'
        302:
          description: If a `/getLatestFeedVersion` request is valid, then a HTTP
            302 Temporary Redirect is issued to the download location.nFor example,
            if the requested feed is a GTFS feed, then this will redirect to the URL
            of the latest zip file fornthis feed.n
          headers:
            Location:
              type: string
      summary: Retrieve the download URL for the latest version of a feed.
  /getLocations:
    get:
      description: Retrieve a list of locations. Each location (except for the root)
        has a parent location, and eachnlocation has zero or more child locations.
        This hierarchy is generally structured so countries containnstates, states
        contain cities (although this typically depends on the country).n
      operationId: getLocations
      parameters:
      - default: YOUR_API_KEY
        description: Your personal API key, used for authentication.
        in: query
        name: key
        required: true
        type: string
      responses:
        200:
          description: The response for a valid `getLocations` API call.
          schema:
            $ref: '#/definitions/GetLocationsResponse'
        401:
          description: The response for invalid key or permission denied.
          schema:
            $ref: '#/definitions/API401Response'
        404:
          description: The response for invalid API method.
          schema:
            $ref: '#/definitions/API404Response'
      summary: Retrieve a list of locations.
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:14:\"API401Response\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"This
  eleent contains information about a 401 Unauthorized error.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"msg\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Description
  of the error.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Indicates
  the status of this request.\";s:4:\"enum\";a:2:{i:0;s:10:\"INVALIDKEY\";i:1;s:16:\"PERMISSIONDENIED\";}s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Indicates
  the timestamp (in number of seconds since the epoch (January 1 1970 00:00:00 GMT).\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"API404Response\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"This
  eleent contains information about a 404 File Not Found error.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"msg\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Description
  of the error.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Indicates
  the status of this request.\";s:4:\"enum\";a:1:{i:0;s:13:\"INVALIDMETHOD\";}s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Indicates
  the timestamp (in number of seconds since the epoch (January 1 1970 00:00:00 GMT).\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Feed\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Contains
  the information about a single feed.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:196:\"The
  unique ID for this feed. This is constructed using the ID of the feed's provider
  and an internal ID. This ID\ncan be used in other calls, such as `/getFeedVersions`
  or `/getLatestFeedVersion`.\n\";s:4:\"type\";s:6:\"string\";}s:1:\"l\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:11:\"description\";s:110:\"The
  location to which this feed is assigned. The location ID can subsequently be used
  in calls to `/getFeeds`.\";}s:6:\"latest\";O:8:\"stdClass\":3:{s:11:\"description\";s:184:\"If
  available, contains information about the latest version of this feed. This can
  help to determine if you need to call\n`/getLatestFeedVersion` to retrieve a newer
  version of a feed.\n\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"ts\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"Indicates
  the timestamp of the latest feed version (in number of seconds since the epoch (January
  1 1970 00:00:00 GMT).\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:1:\"t\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  title of the feed as it appears on TransitFeeds.com\";s:4:\"type\";s:6:\"string\";}s:2:\"ty\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  type of feed (such as GTFS or GTFS-realtime).\";s:4:\"enum\";a:2:{i:0;s:4:\"gtfs\";i:1;s:12:\"gtfsrealtime\";}s:4:\"type\";s:6:\"string\";}s:1:\"u\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Contains
  URLs with additional information about this feed.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:1:\"d\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"If
  available, this contains a URL to download the feed directly from the provider (as
  opposed to downloading from TransitFeeds.com).\n\";s:4:\"type\";s:6:\"string\";}s:1:\"i\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"If
  available, this contains a URL with additional information about registering or
  downloading the feed from the provider.\n\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:2:\"ty\";i:2;s:1:\"t\";i:3;s:1:\"l\";}s:4:\"type\";s:6:\"object\";}s:11:\"FeedVersion\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Contains
  the information about a single feed version.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:1:\"d\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Contains
  the start/finish dates for this feed version, if available.\n\";s:10:\"properties\";O:8:\"stdClass\":2:{s:1:\"f\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  start date of the feed version, in `YYYYMMDD` format.\";s:4:\"type\";s:6:\"string\";}s:1:\"s\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  start date of the feed version, in `YYYYMMDD` format.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"err\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"If
  you have included an `err` value of `1` in your request, then any errors detected
  when importing this feed version are included.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FeedVersionIssue\";}s:4:\"type\";s:5:\"array\";}s:1:\"f\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Feed\";s:11:\"description\";s:44:\"The
  feed to which this feed version belongs.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:163:\"The
  unique ID for this feed. This is constructed using the feed ID and an internal ID
  (generally the date it was imported, but not always, so do not rely on this).\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  filesize in bytes of the feed version when compressed.\";s:4:\"type\";s:7:\"integer\";}s:2:\"ts\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"The
  timestamp of when this feed version was registered in the TransitFeeds.com system
  (in number of seconds since the epoch (January 1 1970 00:00:00 GMT).\";s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:199:\"This
  is the URL to directly download the feed version via the TranstiFeeds.com web site
  (and not via the API). In other words,\nyou can provide a download URL without exposing
  your API key to others.\n\";s:4:\"type\";s:6:\"string\";}s:4:\"warn\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"If
  you have included a `warn` value of `1` in your request, then any warnings detected
  when importing this feed version are included.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FeedVersionIssue\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:1:\"f\";i:2;s:2:\"ts\";i:3;s:4:\"size\";i:4;s:3:\"url\";}s:4:\"type\";s:6:\"object\";}s:16:\"FeedVersionIssue\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"Contains
  the information about a single error or warning associated with a feed version.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:1:\"c\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  column name (if referring to a GTFS file / CSV file) associated with the issue.\";s:4:\"type\";s:6:\"string\";}s:1:\"f\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  filename associated with this issue.\";s:4:\"type\";s:6:\"string\";}s:1:\"l\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  line number in the given file associated with the issue.\";s:4:\"type\";s:6:\"string\";}s:1:\"m\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  description of the issue.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"GetFeedVersionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"This
  element contains the response for a `/getFeedVersions` request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"msg\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Description
  of the error, if the `status` value was not `OK`.\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Contains
  requested data for a valid request.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"feeds\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"An
  array of zero or more feed versions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FeedVersion\";}s:4:\"type\";s:5:\"array\";}s:5:\"input\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"If
  the status value is `MISSINGINPUT` or `INVALIDINPUT`, this field contains the name
  of the offending field.\";s:4:\"type\";s:6:\"string\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:200:\"The
  maximum number of feed versions that can be returned in this response. If the final
  page is being\nrequested then this number may be larger than the number of feed
  versions returned in `versions`.\n\";s:4:\"type\";s:7:\"integer\";}s:8:\"numPages\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  number of pages available, based on the `total` and `limit`.\";s:4:\"type\";s:7:\"integer\";}s:4:\"page\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  page number being requested, based on the maximum number than can be returned from
  in `limit`.\";s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:205:\"The
  total number of feed versions found based on the request input. Note that this number
  may be larger\nthan the number of feed versions returned in `versions`, based on
  the values for `limit` and `page`.\n\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:267:\"Indicates
  the success status of this request. The following values are possible:\n\n* `OK`
  - Request was valid.\n* `EMPTYKEY` - Request was missing API key.\n* `MISSINGINPUT`
  - A required request parameter was missing.\n* `INVALIDINPUT` - A request parameter
  was invalid.\n\";s:4:\"enum\";a:4:{i:0;s:2:\"OK\";i:1;s:8:\"EMPTYKEY\";i:2;s:12:\"MISSINGINPUT\";i:3;s:12:\"INVALIDINPUT\";}s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Indicates
  the timestamp (in number of seconds since the epoch (January 1 1970 00:00:00 GMT).\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GetFeedsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"This
  element contains the response for a `/getFeeds` request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"msg\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Description
  of the error, if the `status` value was not `OK`.\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Contains
  requested data for a valid request.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"feeds\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"An
  array of zero or more feeds.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Feed\";}s:4:\"type\";s:5:\"array\";}s:5:\"input\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"If
  the status value is `MISSINGINPUT` or `INVALIDINPUT`, this field contains the name
  of the offending field.\";s:4:\"type\";s:6:\"string\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:7:\"default\";i:10;s:11:\"description\";s:181:\"The
  maximum number of feeds that can be returned in this response. If the final page
  is being\nrequested then this number may be larger than the number of feeds returned
  in `feeds`.\n\";s:4:\"type\";s:7:\"integer\";}s:8:\"numPages\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  number of pages available, based on the `total` and `limit`.\";s:4:\"type\";s:7:\"integer\";}s:4:\"page\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  page number being requested, based on the maximum number than can be returned from
  in `limit`.\";s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:186:\"The
  total number of feeds found based on the request input. Note that this number may
  be larger\nthan the number of feeds returned in `feeds`, based on the values for
  `limit` and `page`.\n\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:267:\"Indicates
  the success status of this request. The following values are possible:\n\n* `OK`
  - Request was valid.\n* `EMPTYKEY` - Request was missing API key.\n* `MISSINGINPUT`
  - A required request parameter was missing.\n* `INVALIDINPUT` - A request parameter
  was invalid.\n\";s:4:\"enum\";a:4:{i:0;s:2:\"OK\";i:1;s:8:\"EMPTYKEY\";i:2;s:12:\"MISSINGINPUT\";i:3;s:12:\"INVALIDINPUT\";}s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Indicates
  the timestamp (in number of seconds since the epoch (January 1 1970 00:00:00 GMT).\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:28:\"GetLatestFeedVersionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"This
  element contains the response for a `/getLatestFeedVersion` request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"msg\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Description
  of the error, if the `status` value was not `OK`.\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Contains
  requested data for a valid request.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"feeds\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"An
  array of zero or more feed versions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FeedVersion\";}s:4:\"type\";s:5:\"array\";}s:5:\"input\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"If
  the status value is `MISSINGINPUT` or `INVALIDINPUT`, this field contains the name
  of the offending field.\";s:4:\"type\";s:6:\"string\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:7:\"default\";i:10;s:11:\"description\";s:200:\"The
  maximum number of feed versions that can be returned in this response. If the final
  page is being\nrequested then this number may be larger than the number of feed
  versions returned in `versions`.\n\";s:4:\"type\";s:7:\"integer\";}s:8:\"numPages\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  number of pages available, based on the `total` and `limit`.\";s:4:\"type\";s:7:\"integer\";}s:4:\"page\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  page number being requested, based on the maximum number than can be returned from
  in `limit`.\";s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:205:\"The
  total number of feed versions found based on the request input. Note that this number
  may be larger\nthan the number of feed versions returned in `versions`, based on
  the values for `limit` and `page`.\n\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:306:\"Indicates
  the success status of this request. The following values are possible:\n\n* `OK`
  - Request was valid.\n* `EMPTYKEY` - Request was missing API key.\n* `MISSINGINPUT`
  - A required request parameter was missing.\n* `INVALIDINPUT` - A request parameter
  was invalid.\n* `OTHER` - Some other error occurred.\n\";s:4:\"enum\";a:5:{i:0;s:2:\"OK\";i:1;s:8:\"EMPTYKEY\";i:2;s:12:\"MISSINGINPUT\";i:3;s:12:\"INVALIDINPUT\";i:4;s:5:\"OTHER\";}s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Indicates
  the timestamp (in number of seconds since the epoch (January 1 1970 00:00:00 GMT).\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GetLocationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"This
  element contains the response for a `/getLocations` request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"msg\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Description
  of the error, if the `status` value was not `OK`.\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Contains
  requested data for a valid request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"input\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"If
  the status value is `MISSINGINPUT` or `INVALIDINPUT`, this field contains the name
  of the offending field.\";s:4:\"type\";s:6:\"string\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"An
  array of zero or more locations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:267:\"Indicates
  the success status of this request. The following values are possible:\n\n* `OK`
  - Request was valid.\n* `EMPTYKEY` - Request was missing API key.\n* `MISSINGINPUT`
  - A required request parameter was missing.\n* `INVALIDINPUT` - A request parameter
  was invalid.\n\";s:4:\"enum\";a:4:{i:0;s:2:\"OK\";i:1;s:8:\"EMPTYKEY\";i:2;s:12:\"MISSINGINPUT\";i:3;s:12:\"INVALIDINPUT\";}s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Indicates
  the timestamp (in number of seconds since the epoch (January 1 1970 00:00:00 GMT).\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Location\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Contains
  the information about a single location.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  unique ID for this location.\";s:4:\"type\";s:7:\"integer\";}s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  latitude of the approximate point of this location.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"lng\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  longitude of the approximate point of this location.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"n\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  title of this location on its own (i.e. without any state or country information).\";s:4:\"type\";s:6:\"string\";}s:3:\"pid\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  ID for the parent location. If a location has no parent this value is `0`.\";s:4:\"type\";s:7:\"integer\";}s:1:\"t\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"The
  title of this location. This may include state/province and country, depending\n
  on the location of type it refers to.\n\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:2:\"id\";i:1;s:3:\"pid\";i:2;s:1:\"t\";i:3;s:1:\"n\";i:4;s:3:\"lat\";i:5;s:3:\"lng\";}s:4:\"type\";s:6:\"object\";}}"
...
