---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:11:\"description\";s:383:\"How people build
  software<p>Millions of developers use GitHub to build personal projects, support
  their businesses, and work together on open source technologies. You must currently
  be enrolled in the [Early Access programme](https://github.com/prerelease/agreement)
  to use this API. See [more example queries](https://github.com/github/platform-samples/tree/master/graphql/queries).\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:14:\"GitHub
  GraphQL\";s:14:\"termsOfService\";s:69:\"https://help.github.com/articles/github-terms-of-service/#b-api-terms\";s:7:\"contact\";O:8:\"stdClass\":2:{s:5:\"email\";s:18:\"support@github.com\";s:3:\"url\";s:52:\"https://github.com/contact?form%5Bsubject%5D=GraphQL\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:3:\"url\";s:71:\"https://assets-cdn.github.com/images/modules/logos_page/GitHub-Logo.png\";s:15:\"backgroundColor\";s:7:\"#FFFFFF\";}}"
host: api.github.com
basePath: /
paths:
  /graphql:
    post:
      tags:
      - GraphQL Query
      summary: Submit GraphQL query
      description: You can make a GraphQL query by issuing a <b>POST</b> request with
        a JSON payload. The payload must have a string called <b>query</b>, and may
        optionally have a <b>variables</b> object. If the <b>query</b> parameter contains
        multiple queries, the <b>operationName</b> parameter must be sent to indicate
        which query to execute.
      operationId: postQuery
      parameters:
      - name: body
        in: body
        description: GraphQL query parameter
        schema:
          $ref: '#/definitions/Query'
        required: true
      security:
      - api_key: []
      - oauth_flow:
        - repo
        - repo:status
        - repo_deployment
        - public_repo
        - admin:org
        - write:org
        - read:org
        - admin:public_key
        - write:public_key
        - read:public_key
        - admin:repo_hook
        - write:repo_hook
        - read:repo_hook
        - admin:org_hook
        - gist
        - notifications
        - user
        - user:email
        - user:follow
        - delete_repo
        - admin:gpg_key
        - write:gpg_key
        - read:gpg_key
      consumes:
      - application/json
      - application/graphql
      produces:
      - application/json
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Response'
          examples:
            application/json:
              data:
                viewer:
                  login: MikeRalphson
                  email: mike.ralphson@gmail.com
        404:
          description: Not found
        500:
          description: Internal server error
    get:
      tags:
      - GraphQL Query
      summary: Submit GraphQL query
      description: You can make a GraphQL query by issuing a <b>GET</b> request to
        retrieve the GitHub GraphQL schema.
      operationId: getQuery
      security:
      - api_key: []
      - oauth_flow:
        - repo
        - repo:status
        - repo_deployment
        - public_repo
        - admin:org
        - write:org
        - read:org
        - admin:public_key
        - write:public_key
        - read:public_key
        - admin:repo_hook
        - write:repo_hook
        - read:repo_hook
        - admin:org_hook
        - gist
        - notifications
        - user
        - user:email
        - user:follow
        - delete_repo
        - admin:gpg_key
        - write:gpg_key
        - read:gpg_key
      produces:
      - application/json
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Response'
          examples:
            application/json:
              data:
                __schema:
                  queryType:
                    name: Query
                  mutationType:
                    name: Mutation
                  subscriptionType: ~
                  types: []
        404:
          description: Not found
        500:
          description: Internal server error
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:5:\"Query\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"variables\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:13:\"operationName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"query\";}s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"query\";s:32:\"query
  { viewer { login email } }\";}}s:8:\"Response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  returned data\";s:4:\"type\";s:6:\"object\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"locations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}}}}s:8:\"Location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"line\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"column\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}"
...
