---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:9:\"GithubApi\";s:11:\"description\";s:400:\"GitHub
  is a web-based Git or version control repository and Internet hosting service. It
  is mostly used for code. It offers all of the distributed version control and source
  code management (SCM) functionality of Git as well as adding its own features. It
  provides access control and several collaboration features such as bug tracking,
  feature requests, task management, and wikis for every project.\";}"
host: api.github.com
paths:
  /search/users:
    get:
      operationId: GET_search-users
      parameters:
      - name: q
        in: query
        required: true
        type: string
      - name: page
        in: query
        required: false
        type: number
      - name: per_page
        in: query
        required: false
        type: number
      - name: sort
        in: query
        required: false
        type: string
      - name: order
        in: query
        required: false
        type: string
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              total_count:
                type: integer
              incomplete_results:
                type: boolean
              items:
                type: array
                items:
                  type: object
                  properties:
                    login:
                      type: string
                    id:
                      type: integer
                    avatar_url:
                      type: string
                    gravatar_id:
                      type: string
                    url:
                      type: string
                    html_url:
                      type: string
                    followers_url:
                      type: string
                    following_url:
                      type: string
                    gists_url:
                      type: string
                    starred_url:
                      type: string
                    subscriptions_url:
                      type: string
                    organizations_url:
                      type: string
                    repos_url:
                      type: string
                    events_url:
                      type: string
                    received_events_url:
                      type: string
                    type:
                      type: string
                    site_admin:
                      type: boolean
                    score:
                      type: number
        422:
          description: ""
          schema:
            type: object
            properties:
              message:
                type: string
              errors:
                type: array
                items:
                  type: object
                  properties:
                    resource:
                      type: string
                    field:
                      type: string
                    code:
                      type: string
              documentation_url:
                type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /users/{user}/repos:
    parameters:
    - name: user
      in: path
      required: true
      type: string
    get:
      operationId: GET_users-user-repos
      parameters:
      - name: type
        in: query
        type: string
      - name: page
        in: query
        type: string
      - name: per_page
        in: query
        type: string
      - name: sort
        in: query
        type: string
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                full_name:
                  type: string
                owner:
                  type: object
                  properties:
                    login:
                      type: string
                    id:
                      type: integer
                    avatar_url:
                      type: string
                    gravatar_id:
                      type: string
                    url:
                      type: string
                    html_url:
                      type: string
                    followers_url:
                      type: string
                    following_url:
                      type: string
                    gists_url:
                      type: string
                    starred_url:
                      type: string
                    subscriptions_url:
                      type: string
                    organizations_url:
                      type: string
                    repos_url:
                      type: string
                    events_url:
                      type: string
                    received_events_url:
                      type: string
                    type:
                      type: string
                    site_admin:
                      type: boolean
                private:
                  type: boolean
                html_url:
                  type: string
                description:
                  type: "null"
                fork:
                  type: boolean
                url:
                  type: string
                forks_url:
                  type: string
                keys_url:
                  type: string
                collaborators_url:
                  type: string
                teams_url:
                  type: string
                hooks_url:
                  type: string
                issue_events_url:
                  type: string
                events_url:
                  type: string
                assignees_url:
                  type: string
                branches_url:
                  type: string
                tags_url:
                  type: string
                blobs_url:
                  type: string
                git_tags_url:
                  type: string
                git_refs_url:
                  type: string
                trees_url:
                  type: string
                statuses_url:
                  type: string
                languages_url:
                  type: string
                stargazers_url:
                  type: string
                contributors_url:
                  type: string
                subscribers_url:
                  type: string
                subscription_url:
                  type: string
                commits_url:
                  type: string
                git_commits_url:
                  type: string
                comments_url:
                  type: string
                issue_comment_url:
                  type: string
                contents_url:
                  type: string
                compare_url:
                  type: string
                merges_url:
                  type: string
                archive_url:
                  type: string
                downloads_url:
                  type: string
                issues_url:
                  type: string
                pulls_url:
                  type: string
                milestones_url:
                  type: string
                notifications_url:
                  type: string
                labels_url:
                  type: string
                releases_url:
                  type: string
                deployments_url:
                  type: string
                created_at:
                  type: string
                updated_at:
                  type: string
                pushed_at:
                  type: string
                git_url:
                  type: string
                ssh_url:
                  type: string
                clone_url:
                  type: string
                svn_url:
                  type: string
                homepage:
                  type: "null"
                size:
                  type: integer
                stargazers_count:
                  type: integer
                watchers_count:
                  type: integer
                language:
                  type: string
                has_issues:
                  type: boolean
                has_downloads:
                  type: boolean
                has_wiki:
                  type: boolean
                has_pages:
                  type: boolean
                forks_count:
                  type: integer
                mirror_url:
                  type: "null"
                open_issues_count:
                  type: integer
                forks:
                  type: integer
                open_issues:
                  type: integer
                watchers:
                  type: integer
                default_branch:
                  type: string
        404:
          description: ""
          schema:
            type: object
            properties:
              message:
                type: string
              documentation_url:
                type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /users/{user}:
    parameters:
    - name: user
      in: path
      required: true
      type: string
    get:
      operationId: GET_users-user
      summary: user_url
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              login:
                type: string
              id:
                type: integer
              avatar_url:
                type: string
              gravatar_id:
                type: string
              url:
                type: string
              html_url:
                type: string
              followers_url:
                type: string
              following_url:
                type: string
              gists_url:
                type: string
              starred_url:
                type: string
              subscriptions_url:
                type: string
              organizations_url:
                type: string
              repos_url:
                type: string
              events_url:
                type: string
              received_events_url:
                type: string
              type:
                type: string
              site_admin:
                type: boolean
              name:
                type: string
              company:
                type: "null"
              blog:
                type: "null"
              location:
                type: "null"
              email:
                type: string
              hireable:
                type: "null"
              bio:
                type: "null"
              public_repos:
                type: integer
              public_gists:
                type: integer
              followers:
                type: integer
              following:
                type: integer
              created_at:
                type: string
              updated_at:
                type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /search/code:
    get:
      operationId: GET_search-code
      parameters:
      - name: access_token
        in: query
        required: true
        type: string
      - name: q
        in: query
        required: true
        type: string
      - name: page
        in: query
        required: false
        type: integer
      - name: per_page
        in: query
        required: false
        type: integer
      - name: sort
        in: query
        required: false
        type: string
      - name: order
        in: query
        required: false
        type: string
      responses:
        200:
          description: ""
          schema:
            type: object
            properties:
              total_count:
                type: integer
              incomplete_results:
                type: boolean
              items:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    path:
                      type: string
                    sha:
                      type: string
                    url:
                      type: string
                    git_url:
                      type: string
                    html_url:
                      type: string
                    repository:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        full_name:
                          type: string
                        owner:
                          type: object
                          properties:
                            login:
                              type: string
                            id:
                              type: integer
                            avatar_url:
                              type: string
                            gravatar_id:
                              type: string
                            url:
                              type: string
                            html_url:
                              type: string
                            followers_url:
                              type: string
                            following_url:
                              type: string
                            gists_url:
                              type: string
                            starred_url:
                              type: string
                            subscriptions_url:
                              type: string
                            organizations_url:
                              type: string
                            repos_url:
                              type: string
                            events_url:
                              type: string
                            received_events_url:
                              type: string
                            type:
                              type: string
                            site_admin:
                              type: boolean
                        private:
                          type: boolean
                        html_url:
                          type: string
                        description:
                          type: string
                        fork:
                          type: boolean
                        url:
                          type: string
                        forks_url:
                          type: string
                        keys_url:
                          type: string
                        collaborators_url:
                          type: string
                        teams_url:
                          type: string
                        hooks_url:
                          type: string
                        issue_events_url:
                          type: string
                        events_url:
                          type: string
                        assignees_url:
                          type: string
                        branches_url:
                          type: string
                        tags_url:
                          type: string
                        blobs_url:
                          type: string
                        git_tags_url:
                          type: string
                        git_refs_url:
                          type: string
                        trees_url:
                          type: string
                        statuses_url:
                          type: string
                        languages_url:
                          type: string
                        stargazers_url:
                          type: string
                        contributors_url:
                          type: string
                        subscribers_url:
                          type: string
                        subscription_url:
                          type: string
                        commits_url:
                          type: string
                        git_commits_url:
                          type: string
                        comments_url:
                          type: string
                        issue_comment_url:
                          type: string
                        contents_url:
                          type: string
                        compare_url:
                          type: string
                        merges_url:
                          type: string
                        archive_url:
                          type: string
                        downloads_url:
                          type: string
                        issues_url:
                          type: string
                        pulls_url:
                          type: string
                        milestones_url:
                          type: string
                        notifications_url:
                          type: string
                        labels_url:
                          type: string
                        releases_url:
                          type: string
                        deployments_url:
                          type: string
                    score:
                      type: number
        422:
          description: ""
          schema:
            type: object
            properties:
              message:
                type: string
              errors:
                type: array
                items:
                  type: object
                  properties:
                    message:
                      type: string
                    resource:
                      type: string
                    field:
                      type: string
                    code:
                      type: string
              documentation_url:
                type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /user:
    get:
      operationId: GET_user
      parameters:
      - name: access_token
        in: query
        type: string
      responses:
        401:
          description: ""
          schema:
            type: object
            properties:
              message:
                type: string
              documentation_url:
                type: string
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
