---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:20:\"support@callfire.com\";s:4:\"name\";s:8:\"CallFire\";s:3:\"url\";s:24:\"https://www.callfire.com\";}s:11:\"description\";s:8:\"CallFire\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}s:14:\"termsOfService\";s:36:\"https://www.callfire.com/legal/terms\";s:5:\"title\";s:8:\"CallFire\";s:7:\"version\";s:2:\"V2\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"telecom\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_537371596508258305_zP_eP2ec_400x400.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:49:\"https://www.callfire.com/v2/api-docs/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:12:\"callfire.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"callfire\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.callfire.com
basePath: /v2
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":91:{s:7:\"Account\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Object
  represents user account in Callfire system\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Email
  address associated with an account\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"First
  name of an account holder\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"An
  id of an account\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Last
  name of an account holder\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Name
  associated with an account\";s:4:\"type\";s:6:\"string\";}s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"User
  permissions (API, ACCOUNT_HOLDER, AGENT)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"AddContactListContactsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Request
  object for adding new contacts to an existing contact list\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"contactIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  list of ids of existing contacts in Callfire system\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:14:\"contactNumbers\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"A
  phone number in E.164 format (11-digit). Examples: 12132000384\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"contactNumbersField\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"A
  type of phone number (homePhone, workPhone, mobilePhone). This parameter works together
  with contactNumbers and specifies which types of numbers are included to a list\";s:4:\"type\";s:6:\"string\";}s:8:\"contacts\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"A
  list of new contact objects which need to be added\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:4:\"type\";s:5:\"array\";}s:15:\"useCustomFields\";O:8:\"stdClass\":2:{s:11:\"description\";s:190:\"A
  flag to indicate how to define property names for contacts. If true, uses the field
  and property names exactly as defined. If false will assign custom properties and
  fields to A, B, C, etc\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:22:\"AddDoNotContactRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Request
  object for adding new Do-Not-Contact records to account.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"call\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"If
  set to true add all given numbers to Do-Not-Call list. Default value: true\";s:4:\"type\";s:7:\"boolean\";}s:7:\"numbers\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"A
  list of phone numbers in E.164 format (11-digit), example: 12132000384, 14142777322\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"A
  list of new contact objects which need to be added. Default value: Api V2\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"If
  set to true add all given numbers to Do-Not-Text list. Default value: true\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ApiCredential\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"An
  object represents API user in CallFire system. Use /me/api/credentials endpoint
  to manage API users on your account\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Is
  credential enabled\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"An
  id of an API credential\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  name of an API credential\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  password for credential\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Username
  for credential\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ApiCredentialPage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ApiCredential\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:5:\"Batch\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"A
  batch represents a group of contacts which can be dialed or texted via call/text
  broadcast\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"broadcastId\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  id of broadcast which batch belongs to\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"created\";O:8:\"stdClass\":4:{s:11:\"description\";s:133:\"A
  date and time when batch was created, formatted in unix time milliseconds. Example:
  1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"An
  enabled batch. If batch is disabled its contacts remain undialed/untexted\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"A
  id of a batch\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"A
  batch name\";s:4:\"type\";s:6:\"string\";}s:9:\"remaining\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"A
  number of contacts remaining undialed/untexted\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:4:\"size\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"A
  total number of contacts in batch\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:337:\"A
  status of batch (NEW, VALIDATING, ERRORS, SOURCE_ERROR, ACTIVE). NEW - batch is
  queued for validation; VALIDATING - batch is currently validating; ERRORS - batch
  is processed, some validation errors occurred; SOURCE_ERROR - if contact source
  is contact list in Callfire system and it has an error; ACTIVE - batch is processed
  and ready\";s:4:\"enum\";a:5:{i:0;s:3:\"NEW\";i:1;s:10:\"VALIDATING\";i:2;s:6:\"ERRORS\";i:3;s:12:\"SOURCE_ERROR\";i:4;s:6:\"ACTIVE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"BatchPage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Batch\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:12:\"BatchRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Request
  object is used for adding new batch to an existing broadcast\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"contactListId\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"An
  id of existing contact list\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"A
  name of batch\";s:4:\"type\";s:6:\"string\";}s:10:\"recipients\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"A
  list of Recipient objects. For each recipient you can set its phone number or existing
  contact id to use contact which already exists in account\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Recipient\";}s:4:\"type\";s:5:\"array\";}s:15:\"scrubDuplicates\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Removes
  duplicate recipients from batch if true\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:16:\"BillingPlanUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Contains
  statistics of billing plan usage\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"intervalEnd\";O:8:\"stdClass\":4:{s:11:\"description\";s:113:\"End
  of usage period formatted in unix time milliseconds. Example: 1473781817000 for
  Sat, 05 Jan 1985 14:03:37 GMT\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:13:\"intervalStart\";O:8:\"stdClass\":4:{s:11:\"description\";s:115:\"Start
  of usage period formatted in unix time milliseconds. Example: 1473781817000 for
  Sat, 05 Jan 1985 14:03:37 GMT\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:26:\"remainingPayAsYouGoCredits\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Remaining
  pay as you go credits are rounded to nearest whole value\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:20:\"remainingPlanCredits\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Remaining
  credits are rounded to nearest whole value associated with a plan\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:21:\"totalRemainingCredits\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Total
  number of remaining credits (remainingPlanCredits + remainingPayAsYouGoCredits)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Call\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Represents
  a call action sent or received by Callfire platform\";s:10:\"properties\";O:8:\"stdClass\":16:{s:9:\"agentCall\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"An
  internal call to an agent\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:10:\"attributes\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:63:\"Map
  of user-defined string attributes associated with an action\";s:4:\"type\";s:6:\"object\";}s:7:\"batchId\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"An
  id of contact batch associated with an action\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:10:\"campaignId\";O:8:\"stdClass\":4:{s:11:\"description\";s:86:\"An
  id of broadcast associated with an action if call is sent as part of call broadcast\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";s:11:\"description\";s:79:\"Existing
  contact in account, which was selected as a recipient for a given call\";}s:7:\"created\";O:8:\"stdClass\":4:{s:11:\"description\";s:152:\"The
  time when the given resource was created, formatted in unix time milliseconds (read
  only). Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT \";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:15:\"finalCallResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:250:\"Result
  of a call (LA, AM, BUSY, DNC, XFER, NO_ANS, XFER_LEG, INTERNAL_ERROR, CARRIER_ERROR,
  CARRIER_TEMP_ERROR, UNDIALED, SD, POSTPONED, ABANDONED, SKIPPED). See [call states
  and results](https://developers.callfire.com/results-responses-errors.html)\";s:4:\"enum\";a:15:{i:0;s:2:\"LA\";i:1;s:2:\"AM\";i:2;s:4:\"BUSY\";i:3;s:3:\"DNC\";i:4;s:4:\"XFER\";i:5;s:6:\"NO_ANS\";i:6;s:8:\"XFER_LEG\";i:7;s:14:\"INTERNAL_ERROR\";i:8;s:13:\"CARRIER_ERROR\";i:9;s:18:\"CARRIER_TEMP_ERROR\";i:10;s:8:\"UNDIALED\";i:11;s:2:\"SD\";i:12;s:9:\"POSTPONED\";i:13;s:9:\"ABANDONED\";i:14;s:7:\"SKIPPED\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"fromNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"A
  sender's phone number in E.164 (11-digit) format\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"An
  id of  an action\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"inbound\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Is
  action inbound\";s:4:\"type\";s:7:\"boolean\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Labels
  associated with action or broadcast for this action\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"modified\";O:8:\"stdClass\":4:{s:11:\"description\";s:153:\"The
  time when the given resource was modified, formatted in unix time milliseconds (read
  only). Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT \";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:5:\"notes\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Notes
  of call added by an agent\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Note\";}s:4:\"type\";s:5:\"array\";}s:7:\"records\";O:8:\"stdClass\":3:{s:11:\"description\";s:325:\"List
  of call records, each record contains call details like originate time, duration,
  cost, notes made by agents. A single contact may have a multiple phone numbers.
  In this case if given call was sent as a part of broadcast with configured retry
  logic then each call record will contain details about attempted phone number\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CallRecord\";}s:4:\"type\";s:5:\"array\";}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:202:\"State
  of an action (READY, SELECTED, CALLBACK, DISABLED, FINISHED, DNC, DUP, INVALID,
  TIMEOUT, PERIOD_LIMIT). See [call states and results](https://developers.callfire.com/results-responses-errors.html)\";s:4:\"enum\";a:11:{i:0;s:5:\"READY\";i:1;s:8:\"SELECTED\";i:2;s:8:\"CALLBACK\";i:3;s:8:\"FINISHED\";i:4;s:8:\"DISABLED\";i:5;s:7:\"SKIPPED\";i:6;s:3:\"DNC\";i:7;s:3:\"DUP\";i:8;s:7:\"INVALID\";i:9;s:7:\"TIMEOUT\";i:10;s:12:\"PERIOD_LIMIT\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"toNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"A
  recipient's phone number in E.164 (11-digit) format\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CallBroadcast\";O:8:\"stdClass\":3:{s:11:\"description\";s:186:\"Call
  broadcast can be used to send out a voice message to a group of numbers. It supports
  IVR scripting, scheduling, retry logic, playing pre-recorded sounds, answering machine
  detection\";s:10:\"properties\";O:8:\"stdClass\":16:{s:22:\"answeringMachineConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:363:\"Specifies
  which action should be taken if answering machine was detected, default value: AM_AND_LIVE.
  Available values: AM_ONLY - run AMD (Answering Machine Detection), hang up if LA
  (Live Answer); AM_AND_LIVE - run AMD, play separate live vs. machine sound; LIVE_WITH_AMD,
  run AMD, hang up if machine answers; LIVE_IMMEDIATE - no AMD, play live sound immediately\";s:4:\"enum\";a:4:{i:0;s:7:\"AM_ONLY\";i:1;s:11:\"AM_AND_LIVE\";i:2;s:13:\"LIVE_WITH_AMD\";i:3;s:14:\"LIVE_IMMEDIATE\";}s:4:\"type\";s:6:\"string\";}s:11:\"dialplanXml\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"IVR
  xml is a document which describes the dialplan to setup the IVR broadcast\";s:4:\"type\";s:6:\"string\";}s:10:\"fromNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Phone
  number in E.164 format (11-digit) or short code for text. Example: 12132000384,
  67076\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"A
  unique id of broadcast (readonly)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Labels
  of a broadcast\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"lastModified\";O:8:\"stdClass\":4:{s:11:\"description\";s:150:\"The
  time when a given resource was updated, formatted in unix time milliseconds (read
  only). Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT \";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:20:\"localTimeRestriction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LocalTimeRestriction\";s:11:\"description\";s:154:\"Specifies
  a range of time during which Callfire will send a call or text to recipients. Please
  note that range of time applies to the recipient's timezone\";}s:9:\"maxActive\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Sets
  a maximum number of calls to be dialed by Callfire at once\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"maxActiveTransfers\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"A
  maximum number of active transfers\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"A
  name of a broadcast\";s:4:\"type\";s:6:\"string\";}s:10:\"recipients\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Recipients
  of a call broadcast, can be either existing contacts or a new ones\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Recipient\";}s:4:\"type\";s:5:\"array\";}s:13:\"resumeNextDay\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"If
  true resumes the unfinished campaign to the next day\";s:4:\"type\";s:7:\"boolean\";}s:11:\"retryConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/RetryConfig\";s:11:\"description\";s:192:\"Retry
  configuration allows system to retry the numbers which were not reached the first
  time. Designate the number of retries, the length between them, and which dispositions
  you want to retry\";}s:9:\"schedules\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"A
  list of schedule objects which specifies a range of time when broadcast should be
  started and stopped. Supports the scheduling per day of week\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Schedule\";}s:4:\"type\";s:5:\"array\";}s:6:\"sounds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/CallBroadcastSounds\";s:11:\"description\";s:98:\"A
  set of sounds assigned to a voice broadcast to play depending on answering machine
  configuration\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:257:\"A
  status of a broadcast (read only). SETUP - campaign isn't configured yet; START_PENDING
  - waiting for contact batch population; RUNNING - campaign is running; STOPPED -
  campaign is stopped; FINISHED - campaign is finished; ARCHIVED - campaign was archived\";s:4:\"enum\";a:11:{i:0;s:4:\"TEST\";i:1;s:5:\"SETUP\";i:2;s:13:\"START_PENDING\";i:3;s:7:\"RUNNING\";i:4;s:9:\"SCHEDULED\";i:5;s:7:\"STOPPED\";i:6;s:9:\"SUSPENDED\";i:7;s:8:\"FINISHED\";i:8;s:8:\"ARCHIVED\";i:9;s:16:\"VALIDATING_START\";i:10;s:16:\"VALIDATING_EMAIL\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CallBroadcastPage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CallBroadcast\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:19:\"CallBroadcastSounds\";O:8:\"stdClass\":3:{s:11:\"description\";s:297:\"A
  set of sounds assigned to a voice broadcast to play according to an answering machine
  configuration. You can add the existing sounds from the account's sound library
  or to provide a text which will be converted into a speech. There are four sound
  options available for a Voice Broadcast campaign\";s:10:\"properties\";O:8:\"stdClass\":15:{s:8:\"dncDigit\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Digit
  pressed to place contact in DNC list\";s:4:\"type\";s:6:\"string\";}s:10:\"dncSoundId\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"An
  id of sound file to play when recipient decided to opt out and pressed DNC digit\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"dncSoundText\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"Text
  to be turned into sound, plays to notify that Do Not Call digit has been pressed
  and inform your contact of their placement on the Do Not Call list\";s:4:\"type\";s:6:\"string\";}s:17:\"dncSoundTextVoice\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  voice to be used (MALE1, FEMALE1, FEMALE2, SPANISH1, FRENCHCANADIAN1)\";s:4:\"enum\";a:5:{i:0;s:5:\"MALE1\";i:1;s:7:\"FEMALE1\";i:2;s:7:\"FEMALE2\";i:3;s:8:\"SPANISH1\";i:4;s:15:\"FRENCHCANADIAN1\";}s:4:\"type\";s:6:\"string\";}s:11:\"liveSoundId\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"An
  id of sound file to play if phone is answered\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"liveSoundText\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Text
  to be used to turned into a sound. This text will be played when the phone is answered\";s:4:\"type\";s:6:\"string\";}s:18:\"liveSoundTextVoice\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"The
  voice to be used (MALE1, FEMALE1, FEMALE2, SPANISH1, FRENCHCANADIAN1) for a live
  sound\";s:4:\"enum\";a:5:{i:0;s:5:\"MALE1\";i:1;s:7:\"FEMALE1\";i:2;s:7:\"FEMALE2\";i:3;s:8:\"SPANISH1\";i:4;s:15:\"FRENCHCANADIAN1\";}s:4:\"type\";s:6:\"string\";}s:14:\"machineSoundId\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"An
  id of a sound file to play if answering machine is detected\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:16:\"machineSoundText\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Text
  to be turned into a sound. This text will be played when answering machine is detected\";s:4:\"type\";s:6:\"string\";}s:21:\"machineSoundTextVoice\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  voice to be used (MALE1, FEMALE1 , FEMALE2, SPANISH1, FRENCHCANADIAN1) for a machine
  sound\";s:4:\"enum\";a:5:{i:0;s:5:\"MALE1\";i:1;s:7:\"FEMALE1\";i:2;s:7:\"FEMALE2\";i:3;s:8:\"SPANISH1\";i:4;s:15:\"FRENCHCANADIAN1\";}s:4:\"type\";s:6:\"string\";}s:13:\"transferDigit\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Digit
  pressed to initiate a transfer\";s:4:\"type\";s:6:\"string\";}s:14:\"transferNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Phone
  number in E.164 format (11-digit) to transfer call to.  Example: 12132000384, 67076\";s:4:\"type\";s:6:\"string\";}s:15:\"transferSoundId\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"An
  id of a file to play if call is transferred\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"transferSoundText\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"Text
  to be turned into a sound. This text will be played when the transfer digit is played\";s:4:\"type\";s:6:\"string\";}s:22:\"transferSoundTextVoice\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  voice to be used (MALE1, FEMALE1, FEMALE2, SPANISH1, FRENCHCANADIAN1) for a sound
  transfer\";s:4:\"enum\";a:5:{i:0;s:5:\"MALE1\";i:1;s:7:\"FEMALE1\";i:2;s:7:\"FEMALE2\";i:3;s:8:\"SPANISH1\";i:4;s:15:\"FRENCHCANADIAN1\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CallBroadcastStats\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:10:\"properties\";O:8:\"stdClass\":21:{s:21:\"answeringMachineCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"billedAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"number\";}s:14:\"billedDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"busyCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"callsAttempted\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"callsAwaitingRedial\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"callsDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"callsLiveAnswer\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"callsPlaced\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"callsRemaining\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"dialedCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"doNotCallCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"errorCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"liveCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"miscCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"noAnswerCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:22:\"remainingOutboundCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"responseRatePercent\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"totalCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"totalOutboundCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"transferCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CallCreateSound\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"Request
  object is used for creating sound via a phone call. This sound will appear in account's
  sound library\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Name
  of a sound to create\";s:4:\"type\";s:6:\"string\";}s:8:\"toNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Phone
  number in E.164 11-digit format to call to record a sound.  Example: 12132000384\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"CallList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ItemList\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Call\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:8:\"CallPage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Call\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:13:\"CallRecipient\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"Recipient
  of a campaign action. Can be a phone number, contact, or contact list with attributes
  added to action. It is required to specify one of this values\";s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"attributes\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:63:\"Map
  of user-defined string attributes associated with recipient\";s:4:\"type\";s:6:\"object\";}s:9:\"contactId\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"An
  id of existing contact used as recipient\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"dialplanXml\";O:8:\"stdClass\":2:{s:11:\"description\";s:159:\"An
  IVR xml document describing dialplan to setup an IVR broadcast. If dialplan is set
  there is no need to set live, machine and transfer sounds (or vice versa)\";s:4:\"type\";s:6:\"string\";}s:10:\"fromNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"string\";}s:11:\"liveMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Text
  to be turned into a sound, this text will be played when the phone is answered\";s:4:\"type\";s:6:\"string\";}s:18:\"liveMessageSoundId\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  id of a sound file to play if phone is answered\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"machineMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Text
  to be used to turn into sound, this text will be played when answering machine is
  detected\";s:4:\"type\";s:6:\"string\";}s:21:\"machineMessageSoundId\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"An
  id of a sound file to play if answering machine is detected\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Recipient's
  phone number in E.164 format (11-digit) or short code. Example: 12132000384\";s:4:\"type\";s:6:\"string\";}s:13:\"transferDigit\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"A
  digit pressed to initiate the transfer\";s:4:\"type\";s:6:\"string\";}s:15:\"transferMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"Text
  to be turned into sound, this text will be played when the transfer digit is played\";s:4:\"type\";s:6:\"string\";}s:22:\"transferMessageSoundId\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"An
  id of a sound file to play if call is transferred\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"transferNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"Phone
  number in E.164 format (11-digit) to transfer the call to. Example: 12132000384\";s:4:\"type\";s:6:\"string\";}s:5:\"voice\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  voice to be used (MALE1, FEMALE1, FEMALE2, SPANISH1, FRENCHCANADIAN1)\";s:4:\"enum\";a:5:{i:0;s:5:\"MALE1\";i:1;s:7:\"FEMALE1\";i:2;s:7:\"FEMALE2\";i:3;s:8:\"SPANISH1\";i:4;s:15:\"FRENCHCANADIAN1\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CallRecord\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Represents
  a call sent to a contact's number\";s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"answerTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:139:\"Timestamp
  when call was answered, formatted in unix time milliseconds (read only). Example:
  1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:12:\"billedAmount\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"A
  cost of the call\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:10:\"callerName\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Duration
  of the call in seconds\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:10:\"finishTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:139:\"Timestamp
  when call was finished, formatted in unix time milliseconds (read only). Example:
  1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"An
  id of a call record\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Labels
  associated with a call action\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"notes\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Notes
  of call added by agent\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Note\";}s:4:\"type\";s:5:\"array\";}s:13:\"originateTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:179:\"A
  date and time (timestamp) when call was originated by Callfire platform and went
  to downstream provider, formatted in unix time milliseconds (read only). Example:
  1473781817000 \";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:17:\"questionResponses\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Notes
  of call added by an agent\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/QuestionResponse\";}s:4:\"type\";s:5:\"array\";}s:10:\"recordings\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"A
  list of voice recordings of the call\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CallRecording\";}s:4:\"type\";s:5:\"array\";}s:6:\"result\";O:8:\"stdClass\":4:{s:11:\"description\";s:1:\"~\";s:4:\"enum\";a:15:{i:0;s:2:\"LA\";i:1;s:2:\"AM\";i:2;s:4:\"BUSY\";i:3;s:3:\"DNC\";i:4;s:4:\"XFER\";i:5;s:6:\"NO_ANS\";i:6;s:8:\"XFER_LEG\";i:7;s:14:\"INTERNAL_ERROR\";i:8;s:13:\"CARRIER_ERROR\";i:9;s:18:\"CARRIER_TEMP_ERROR\";i:10;s:8:\"UNDIALED\";i:11;s:2:\"SD\";i:12;s:9:\"POSTPONED\";i:13;s:9:\"ABANDONED\";i:14;s:7:\"SKIPPED\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"switchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"toNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"A
  phone number to which a call was addressed. Phone number in E.164 format (11-digit).
  Example: 12132000384\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CallRecording\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Represents
  a recording of a voice call\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"callId\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"An
  id of a call action\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"campaignId\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Contains
  broadcast id if call was sent as a part of voice broadcast\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"The
  time when the given resource was created, formatted in unix time milliseconds (read
  only). Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"hash\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"A
  unique string hash identifier of a recording\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"An
  id of a call recording\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"lengthInBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"A
  size of a recording file in bytes\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"lengthInSeconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Duration
  of a recording in seconds\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"mp3Url\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"A
  public URL of a call recording\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"A
  name of a recording\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:168:\"Current
  state of a recording, available values: RECORDING - recording is in progress, READY
  - recording is ready, ERROR - error has occurred and recording can be broken\";s:4:\"enum\";a:3:{i:0;s:9:\"RECORDING\";i:1;s:5:\"READY\";i:2;s:5:\"ERROR\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CallRecordingList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ItemList\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CallRecording\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:18:\"CallTrackingConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:213:\"Call
  tracking configuration allows you track incoming calls, analyze, respond to customers
  using sms or voice replies. For more information see [call tracking page](https://www.callfire.com/products/call-tracking)\";s:10:\"properties\";O:8:\"stdClass\":10:{s:21:\"failedTransferSoundId\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"An
  id of sound file, played if caller can not be connected to transfer number for any
  reason\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"googleAnalytics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/GoogleAnalytics\";s:11:\"description\";s:66:\"Adds
  Google Analytics to track and analyze the phone call activity\";}s:12:\"introSoundId\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"An
  id of sound file, played if call is answered\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"recorded\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Records
  all inbound calls\";s:4:\"type\";s:7:\"boolean\";}s:6:\"screen\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Screens
  the incoming calls\";s:4:\"type\";s:7:\"boolean\";}s:15:\"transferNumbers\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"List
  of phone numbers in E.164 format (11-digit) are used for transfer. Example: 12132000384\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"voicemail\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Enables
  voicemail if call is not transferred\";s:4:\"type\";s:7:\"boolean\";}s:16:\"voicemailSoundId\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"An
  id of sound file, played if voicemail is enabled and a call isn't transferred\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"weeklySchedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/WeeklySchedule\";s:11:\"description\";s:57:\"Sets
  schedule when inbound calls are allowed for transfer\";}s:14:\"whisperSoundId\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"An
  id of sound file, played if call is screened\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"CallerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CallerIdList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ItemList\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/CallerId\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:27:\"CallerIdVerificationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Request
  which is used to verify a new caller id number\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"verificationCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  code used to verify a caller id number\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CampaignSound\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Represents
  a sound recording from account's sound library which can be used in different API
  operations\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"created\";O:8:\"stdClass\":4:{s:11:\"description\";s:151:\"The
  time when the given resource was created, formatted in unix time milliseconds (read
  only). Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:9:\"duplicate\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"True
  if the same sound file exists in a sound library of account\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"An
  id of a sound file\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"lengthInSeconds\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Length
  of a sound in seconds\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"A
  name of a sound file\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:223:\"A
  current status of a sound, available values: UPLOAD - uploading is in progress,
  RECORDING - recording of sound is in progress, ACTIVE - sound is ready, FAILED,
  ARCHIVED - sound was archived, SCRUBBED - sound was scrubbed \";s:4:\"enum\";a:7:{i:0;s:6:\"UPLOAD\";i:1;s:9:\"RECORDING\";i:2;s:6:\"ACTIVE\";i:3;s:13:\"ACTIVE_SYSTEM\";i:4;s:6:\"FAILED\";i:5;s:8:\"ARCHIVED\";i:6;s:8:\"SCRUBBED\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CampaignSoundPage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CampaignSound\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:7:\"Contact\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"Represents
  a contact in CallFire platform. Contains info about the people you want to contact.
  It allows you to store a user-defined properties for each contact\";s:10:\"properties\";O:8:\"stdClass\":14:{s:7:\"deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"A
  deleted contact, deleted contacts are hidden from search results\";s:4:\"type\";s:7:\"boolean\";}s:10:\"externalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"An
  external id of a contact for syncing with external sources\";s:4:\"type\";s:6:\"string\";}s:14:\"externalSystem\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"External
  system that external id refers to\";s:4:\"type\";s:6:\"string\";}s:11:\"extraPhone1\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Phone
  number in E.164 format (11-digit). Example: 12132000384\";s:4:\"type\";s:6:\"string\";}s:11:\"extraPhone2\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Phone
  number in E.164 format (11-digit). Example: 12132000384\";s:4:\"type\";s:6:\"string\";}s:11:\"extraPhone3\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Phone
  number in E.164 format (11-digit). Example: 12132000384\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"A
  first name of a contact\";s:4:\"type\";s:6:\"string\";}s:9:\"homePhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Phone
  number in E.164 format (11-digit). Example: 12132000384\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"An
  id of a contact\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"A
  last name of a contact\";s:4:\"type\";s:6:\"string\";}s:11:\"mobilePhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Phone
  number in E.164 format (11-digit). Example: 12132000384\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:49:\"Map
  of user-defined string properties for contact\";s:4:\"type\";s:6:\"object\";}s:9:\"workPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Phone
  number in E.164 format (11-digit). Example: 12132000384\";s:4:\"type\";s:6:\"string\";}s:7:\"zipcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"A
  Zip code of a contact\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ContactHistory\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Contains
  history of all calls and texts addressed to a given contact\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"calls\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"List
  of Call objects addressed to a given contact\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Call\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"An
  id of a contact\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"texts\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"List
  of Text objects addressed to a given contact\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Text\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ContactList\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Represents
  a contact list in CallFire system\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"A
  time when a given resource was created, formatted in unix time milliseconds (read
  only). Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"An
  Id of a contact list\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"A
  name of a contact list\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"A
  number of contacts in a contact list\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:450:\"A
  current status of a contact list, available values: ACTIVE - contact list is ready,
  VALIDATING - contact list validation is in progress, IMPORTING - importing is in
  progress, IMPORT_FAILED - in case of errors occurred during the importing, ERRORS
  - contact list has validation errors, DELETED - contact list was deleted, PARSE_FAILED
  - contacts cannot be parsed, COLUMN_TOO_LARGE - if size of phone number or any other
  column exceeds 255 characters\";s:4:\"enum\";a:8:{i:0;s:6:\"ACTIVE\";i:1;s:10:\"VALIDATING\";i:2;s:9:\"IMPORTING\";i:3;s:13:\"IMPORT_FAILED\";i:4;s:6:\"ERRORS\";i:5;s:7:\"DELETED\";i:6;s:12:\"PARSE_FAILED\";i:7;s:16:\"COLUMN_TOO_LARGE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ContactListPage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ContactList\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:11:\"ContactPage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:24:\"CreateContactListRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"A
  request object is used to create a contact list from one of available contact sources\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"contactIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  list of ids of existing contacts in Callfire system\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:14:\"contactNumbers\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"List
  of numbers in E.164 format (11-digit). Example: 12132000384\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"contactNumbersField\";O:8:\"stdClass\":2:{s:11:\"description\";s:178:\"A
  type of a phone number (homePhone, workPhone, mobilePhone). This parameter is used
  with contactNumbers and specifies which types of phone numbers are included to a
  contact list\";s:4:\"type\";s:6:\"string\";}s:8:\"contacts\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  list of new contact objects to be added\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"A
  name of a contact list\";s:4:\"type\";s:6:\"string\";}s:15:\"useCustomFields\";O:8:\"stdClass\":2:{s:11:\"description\";s:190:\"A
  flag to indicate how to define property names for contacts. If true, uses the field
  and property names exactly as defined. If false will assign custom properties and
  fields to A, B, C, etc\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CreditUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Contains
  statistics of billing plan usage\";s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"callsDurationMinutes\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Sum
  of calls duration rounded to nearest whole minute\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:11:\"creditsUsed\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Total
  credits used calls and texts.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:13:\"intervalBegin\";O:8:\"stdClass\":4:{s:11:\"description\";s:115:\"Start
  of usage period formatted in unix time milliseconds. Example: 1473781817000 for
  Sat, 05 Jan 1985 14:03:37 GMT\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:11:\"intervalEnd\";O:8:\"stdClass\":4:{s:11:\"description\";s:113:\"End
  of usage period formatted in unix time milliseconds. Example: 1473781817000 for
  Sat, 05 Jan 1985 14:03:37 GMT\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:9:\"textsSent\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Number
  of texts sent\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:10:\"DncListDto\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ItemList\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DoNotContact\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:12:\"DoNotContact\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Represents
  an opted out contact\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"call\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"A
  number on Do-Not-Call list\";s:4:\"type\";s:7:\"boolean\";}s:10:\"campaignId\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"An
  Id of a campaign which was used to send a message to DNC number\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:7:\"created\";O:8:\"stdClass\":4:{s:11:\"description\";s:147:\"A
  time when a given resource was created, formatted in unix time milliseconds (read
  only). Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"A
  single DNC number in E.164 format (11-digit). Example: 12132000384\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"The
  name of DNC source (can be the name of DNC list that user uploads to CallFire)\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"A
  number on Do-Not-Text list\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DoNotContactPage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DoNotContact\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:13:\"ErrorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Error
  response containing error info\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"developerMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"string\";}s:8:\"helpLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"string\";}s:14:\"httpStatusCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"internalCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"GoogleAnalytics\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Google
  Analytics for Call Tracking\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"A
  category to group. For example: Sales or Support\";s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  domain name for analytics\";s:4:\"type\";s:6:\"string\";}s:15:\"googleAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"An
  id of a Google account, example: UA-XXXXX-2X\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"InputStream\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"object\";}s:8:\"ItemList\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"IvrInboundConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"dialplanXml\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"JResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"entity\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"statusType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StatusType\";s:11:\"description\";s:1:\"~\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Type\";s:11:\"description\";s:1:\"~\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Keyword\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"keyword\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"string\";}s:9:\"shortCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"KeywordLease\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Represents
  a lease object for a given keyword\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"autoRenew\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Enables
  the auto renewal of a keyword lease at the end of each billing cycle\";s:4:\"type\";s:7:\"boolean\";}s:7:\"keyword\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"A
  text used as a keyword\";s:4:\"type\";s:6:\"string\";}s:10:\"leaseBegin\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"A
  time of a lease timestamp, formatted in unix time milliseconds (read only). Example:
  1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"leaseEnd\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"A
  date and time when the keyword lease is finishes. Timestamp, formatted in unix time
  milliseconds (read only). Example: 1473781817000\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"shortCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"A
  short code assigned to keyword. Example: 67076\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"A
  lease status. Available values: PENDING, ACTIVE, RELEASED, UNAVAILABLE\";s:4:\"enum\";a:4:{i:0;s:7:\"PENDING\";i:1;s:6:\"ACTIVE\";i:2;s:8:\"RELEASED\";i:3;s:11:\"UNAVAILABLE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"KeywordLeasePage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/KeywordLease\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:11:\"KeywordList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ItemList\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Keyword\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:22:\"KeywordPurchaseRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Request
  object is used to purchase keywords\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"keywords\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"A
  list of keywords\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"LocalDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Represents
  a date object (without time part)\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"day\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  day of the month. Available values: 1-31\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"month\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"A
  month of the year. Available values: 1-12\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"year\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"A
  year. Example: 2020\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"LocalTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Represents
  a time part of a given date\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"hour\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"An
  hour of the day. Available values: 0-23\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"minute\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  minutes. Available values: 0-59\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"second\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  seconds.  Available values: 0-59\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:20:\"LocalTimeRestriction\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"Represents
  a range of time during which Callfire will send a call or text to recipients. Timeframe
  uses the local timezone of recipient's number\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"beginHour\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"An
  hour of restriction start\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"beginMinute\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  minutes to start a restriction\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"A
  restriction enabled\";s:4:\"type\";s:7:\"boolean\";}s:7:\"endHour\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"An
  hour of restriction end\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"endMinute\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  minutes of restriction end\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Media\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Represents
  a media file which can be added to a text message\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"accountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"The
  time when the given resource was created, formatted in unix time milliseconds (read
  only). Example: 1473781817000 \";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"An
  id of a media file\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"lengthInBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  size of a media file in bytes\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"mediaType\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"A
  MIME type of media file, ex: image/jpeg, image/png, video/mp4, audio/mp3, etc\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"A
  name of a media file\";s:4:\"type\";s:6:\"string\";}s:9:\"publicUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"A
  public URL of a media file\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Note\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Represents
  a note which can be added to a call\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"The
  time when the given resource was created, formatted in unix time milliseconds (read
  only). Example: 1473781817000\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"A
  text of a note\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Number\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"nationalFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Region\";s:11:\"description\";s:1:\"~\";}s:8:\"tollFree\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:12:\"NumberConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:278:\"Represents
  the configuration of a phone number purchased by user. You can configure number
  to accept inbound calls, play sounds to customer, make a transfer or setup an IVR
  script to interact with customer. See [CallFire IVR](https://www.callfire.com/products/ivr)
  for more info\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"callTrackingConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CallTrackingConfig\";s:11:\"description\";s:66:\"Call
  tracking configuration, must be set if configType is TRACKING\";}s:10:\"configType\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  type of config. Available values: TRACKING, IVR\";s:4:\"enum\";a:2:{i:0;s:3:\"IVR\";i:1;s:8:\"TRACKING\";}s:4:\"type\";s:6:\"string\";}s:16:\"ivrInboundConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IvrInboundConfig\";s:11:\"description\";s:51:\"IVR
  configuration, must be set if configType is IVR\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Phone
  number in E.164 format (11-digit). Example: 12132000384\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"NumberConfigPage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/NumberConfig\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:11:\"NumberLease\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Represents
  a lease object for a given phone number\";s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"autoRenew\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Enables
  the auto renewal of number lease at end of each billing cycle\";s:4:\"type\";s:7:\"boolean\";}s:17:\"callFeatureStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"A
  status of a call feature. Available values: DISABLED, ENABLED\";s:4:\"enum\";a:4:{i:0;s:11:\"UNSUPPORTED\";i:1;s:7:\"PENDING\";i:2;s:8:\"DISABLED\";i:3;s:7:\"ENABLED\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"leaseBegin\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"A
  date and time of a lease start. Timestamp, formatted in unix time milliseconds (read
  only). Example: 1473781817000\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"leaseEnd\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"A
  data and time of a lease finish. Timestamp, formatted in unix time milliseconds
  (read only). Example: 1473781817000\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"nationalFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Formatted
  number with a country code\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"A
  phone number in E.164 format (11-digit). Example: 12132000384\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Region\";s:11:\"description\";s:33:\"A
  region object of a given number\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"A
  lease status. Available values: PENDING, ACTIVE, RELEASED, UNAVAILABLE\";s:4:\"enum\";a:4:{i:0;s:7:\"PENDING\";i:1;s:6:\"ACTIVE\";i:2;s:8:\"RELEASED\";i:3;s:11:\"UNAVAILABLE\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"textFeatureStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"A
  status of a text feature. Available values: DISABLED, ENABLED\";s:4:\"enum\";a:4:{i:0;s:11:\"UNSUPPORTED\";i:1;s:7:\"PENDING\";i:2;s:8:\"DISABLED\";i:3;s:7:\"ENABLED\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"tollFree\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"A
  \ toll-free number\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:15:\"NumberLeasePage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/NumberLease\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:10:\"NumberList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ItemList\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Number\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:11:\"NumberOrder\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Represents
  an order created on the CallFire platform\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"created\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"The
  time when the given resource was created, formatted in unix time milliseconds (read
  only). Example: 1473781817000\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"An
  id of an order\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NumberOrderItem\";s:11:\"description\";s:48:\"A
  list of the order items for purchased keywords\";}s:12:\"localNumbers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NumberOrderItem\";s:11:\"description\";s:53:\"A
  list of the order items for purchased local numbers\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:116:\"A
  current status of an order. Available values: NEW, PROCESSING, FINISHED, ERRORED,
  VOID, WAIT_FOR_PAYMENT, REJECTED\";s:4:\"enum\";a:10:{i:0;s:3:\"NEW\";i:1;s:10:\"PROCESSING\";i:2;s:8:\"FINISHED\";i:3;s:7:\"ERRORED\";i:4;s:4:\"VOID\";i:5;s:16:\"WAIT_FOR_PAYMENT\";i:6;s:8:\"ADJUSTED\";i:7;s:16:\"APPROVE_TIER_ONE\";i:8;s:16:\"APPROVE_TIER_TWO\";i:9;s:8:\"REJECTED\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"tollFreeNumbers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NumberOrderItem\";s:11:\"description\";s:57:\"A
  list of the order items for purchased toll-free numbers\";}s:9:\"totalCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"A
  total cost of an order\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:15:\"NumberOrderItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Represents
  an order item of a particular order\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"fulfilled\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"List
  of fulfilled items, e.g. phone numbers, keywords\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"ordered\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"A
  total number of items bought within a single order item\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"unitCost\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"A
  cost of unit\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:21:\"NumberPurchaseRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Request
  object is used to order a local or toll-free numbers\";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"City
  of requested numbers\";s:4:\"type\";s:6:\"string\";}s:4:\"lata\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Local
  access and transport area of requested numbers \";s:4:\"type\";s:6:\"string\";}s:10:\"localCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Total
  count of local numbers requested\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"numbers\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"A
  list of phone numbers in E.164 format (11-digit) to buy. Example: 12132000384\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"prefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Country
  prefix of requested numbers\";s:4:\"type\";s:6:\"string\";}s:10:\"rateCenter\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"A
  rate center of requested numbers\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"A
  two-letter state code of requested numbers\";s:4:\"type\";s:6:\"string\";}s:13:\"tollFreeCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Total
  count of toll-free numbers requested\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"zipcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"A
  five-digit Zip code of requested numbers\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Page\";O:8:\"stdClass\":3:{s:11:\"description\";s:192:\"Represents
  a page with results returned by query operation. Check [pagination](https://developers.callfire.com/docs.html#pagination)
  page for more information about pagination in CallFire API.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  list of returned items\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"A
  maximum number of returned items. If items.size() < limit assume no more items\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"An
  offset from a start of paging source\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"totalCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Total
  count of available results. -1 if unknown\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:16:\"QuestionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Object
  represents the question and client's answer, used in cloud call center / IVR campaign\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"question\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"A
  text of a question\";s:4:\"type\";s:6:\"string\";}s:8:\"response\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Client's
  answer\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Recipient\";O:8:\"stdClass\":3:{s:11:\"description\";s:154:\"A
  recipient of a campaign action. It can be a phone number, contact, or contact list
  with attributes added to an action, one of these values should be set\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:63:\"Map
  of user-defined string attributes associated with recipient\";s:4:\"type\";s:6:\"object\";}s:9:\"contactId\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"An
  id of existing contact used as recipient\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"fromNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"A
  recipient's phone number in E.164 format (11-digit) or short code. Example: 12132000384,
  67076\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Region\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Every
  local number associated with a region. You can query regions to use them in subsequent
  purchase requests\";s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"A
  city of a region\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"A
  country of a region\";s:4:\"type\";s:6:\"string\";}s:4:\"lata\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"A
  local access and transport area of region\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  latitude of a region\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"A
  longitude of a region\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:6:\"prefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"A
  country prefix of a region. 4-7 digit\";s:4:\"type\";s:6:\"string\";}s:10:\"rateCenter\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"A
  rate center of a region\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"A
  two-letter state code of region\";s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"A
  timezone of a region\";s:4:\"type\";s:6:\"string\";}s:7:\"zipcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"A
  five-digit zip code of a region\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"RegionPage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Region\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:10:\"ResourceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"An
  id of a resource\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"An
  id of a resource\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ResourceIdList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ItemList\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:11:\"RetryConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Retry
  configuration will help you to resend a call or text if it was not delivered first
  time\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"maxAttempts\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Maximum
  number of retry attempts. Default value: 1\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:22:\"minutesBetweenAttempts\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  number of minutes between retry attempts. Default value: 60\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"retryPhoneTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"A
  list of phone number types to retry. Available values: FIRST_NUMBER, HOME_PHONE,
  WORK_PHONE, MOBILE_PHONE\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"retryResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:285:\"List
  of result states when a call/text should be addressed to this contact again. Supports
  any combination of result statuses. Available values: LA, BUSY, AM, NO_ANS, SENT,
  RECEIVED, etc. See [call/text states and results](https://developers.callfire.com/results-responses-errors.html)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Schedule\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"A
  campaign schedule\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"campaignId\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"daysOfWeek\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LocalDate\";s:11:\"description\";s:38:\"A
  date when campaign should be started\";}s:14:\"startTimeOfDay\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LocalTime\";s:11:\"description\";s:1:\"~\";}s:8:\"stopDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LocalDate\";s:11:\"description\";s:38:\"A
  date when campaign should be stopped\";}s:13:\"stopTimeOfDay\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LocalTime\";s:11:\"description\";s:1:\"~\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"StatusType\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"family\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Family\";s:4:\"enum\";a:6:{i:0;s:13:\"INFORMATIONAL\";i:1;s:10:\"SUCCESSFUL\";i:2;s:11:\"REDIRECTION\";i:3;s:12:\"CLIENT_ERROR\";i:4;s:12:\"SERVER_ERROR\";i:5;s:5:\"OTHER\";}s:4:\"type\";s:6:\"string\";}s:12:\"reasonPhrase\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Reason
  phrase\";s:4:\"type\";s:6:\"string\";}s:10:\"statusCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Status
  code\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"StreamingOutput\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"object\";}s:10:\"StringList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ItemList\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:4:\"Text\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Represents
  a text action sent or received by Callfire platform\";s:10:\"properties\";O:8:\"stdClass\":16:{s:10:\"attributes\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:63:\"Map
  of user-defined string attributes associated with an action\";s:4:\"type\";s:6:\"object\";}s:7:\"batchId\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"An
  id of contact batch associated with an action\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:10:\"campaignId\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"An
  id of broadcast if given text was sent as a part of text broadcast\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";s:11:\"description\";s:79:\"Existing
  contact in account, which was selected as a recipient for a given text\";}s:7:\"created\";O:8:\"stdClass\":4:{s:11:\"description\";s:151:\"The
  time when the given resource was created, formatted in unix time milliseconds (read
  only). Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:15:\"finalTextResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:200:\"Result
  of text (SENT, RECEIVED, DNT, TOO_BIG, INTERNAL_ERROR, CARRIER_ERROR, CARRIER_TEMP_ERROR,
  UNDIALED). See [call states and results](https://developers.callfire.com/results-responses-errors.html)\";s:4:\"enum\";a:8:{i:0;s:4:\"SENT\";i:1;s:8:\"RECEIVED\";i:2;s:3:\"DNT\";i:3;s:7:\"TOO_BIG\";i:4;s:14:\"INTERNAL_ERROR\";i:5;s:13:\"CARRIER_ERROR\";i:6;s:18:\"CARRIER_TEMP_ERROR\";i:7;s:8:\"UNDIALED\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"fromNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Sender's
  phone number in E.164 format (11-digit) or short code. Example: 12132000384, 67076\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"An
  id of an action\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"inbound\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"An
  action inbound\";s:4:\"type\";s:7:\"boolean\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Labels
  associated with an action\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"media\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Media\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"A
  text message\";s:4:\"type\";s:6:\"string\";}s:8:\"modified\";O:8:\"stdClass\":4:{s:11:\"description\";s:152:\"The
  time when the given resource was modified, formatted in unix time milliseconds (read
  only). Example: 1473781817000 for Sat, 05 Jan 1985 14:03:37 GMT\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:7:\"records\";O:8:\"stdClass\":3:{s:11:\"description\";s:283:\"List
  of text records, each record contains additional details: time of sending, cost,
  current state.  A single contact may have multiple numbers. If given text was sent
  as part of broadcast with configured retry logic then each text record will contain
  details about attempted number\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TextRecord\";}s:4:\"type\";s:5:\"array\";}s:5:\"state\";O:8:\"stdClass\":4:{s:11:\"description\";s:210:\"Current
  state of an action (READY, SELECTED, CALLBACK, DISABLED, FINISHED, DNC, DUP, INVALID,
  TIMEOUT, PERIOD_LIMIT). See [call states and results](https://developers.callfire.com/results-responses-errors.html)\";s:4:\"enum\";a:11:{i:0;s:5:\"READY\";i:1;s:8:\"SELECTED\";i:2;s:8:\"CALLBACK\";i:3;s:8:\"FINISHED\";i:4;s:8:\"DISABLED\";i:5;s:7:\"SKIPPED\";i:6;s:3:\"DNC\";i:7;s:3:\"DUP\";i:8;s:7:\"INVALID\";i:9;s:7:\"TIMEOUT\";i:10;s:12:\"PERIOD_LIMIT\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"toNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Recipient's
  phone number in E.164 format (11-digit) or short code. Example: 12132000384, 67076\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"TextAutoReply\";O:8:\"stdClass\":3:{s:11:\"description\";s:353:\"CallFire
  allows you to set up auto reply messages for your numbers CallFire allows you to
  set up auto reply messages for your numbers and keywords. You can set a general
  auto reply for anyone who texts your number (keyword). Also you can include a text
  to match, so that the auto reply would be sent only to those recipients whose texts
  the matched text\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"An
  id of a text auto reply\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"keyword\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Setup
  autoreply for a given keyword\";s:4:\"type\";s:6:\"string\";}s:5:\"match\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"Text
  to match. If it is set then autoreply will be sent to a person who texted message
  with matched text. Case insensitive, if parameter is not specified then all texts
  will be matched\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"A
  text message to return as an auto reply\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Setup
  autoreply for a given phone number, E.164 format (11-digit). Example: 12132000384\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"TextAutoReplyPage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TextAutoReply\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:13:\"TextBroadcast\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"A
  text campaign allows you to send a text message to a number of recipients. It supports
  scheduling, retry logic and pattern-based messages\";s:10:\"properties\";O:8:\"stdClass\":14:{s:18:\"bigMessageStrategy\";O:8:\"stdClass\":3:{s:11:\"description\";s:289:\"If
  message length exceeds 160 characters, multiple messages will be sent, SEND_MULTIPLE
  strategy is chosen by default. Available values: SEND_MULTIPLE - send text as multiple
  messages, DO_NOT_SEND - do not send text if it exceeds 160 characters, TRIM - trims
  text message to 160 characters\";s:4:\"enum\";a:4:{i:0;s:13:\"SEND_MULTIPLE\";i:1;s:11:\"DO_NOT_SEND\";i:2;s:4:\"TRIM\";i:3;s:3:\"MMS\";}s:4:\"type\";s:6:\"string\";}s:10:\"fromNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"A
  phone number in E.164 format (11-digit) or short code. Example: 12132000384, 67076,
  etc\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"A
  unique id of a broadcast\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"A
  labels of a broadcast\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"lastModified\";O:8:\"stdClass\":4:{s:11:\"description\";s:115:\"A
  time when the given resource was updated, formatted in unix time milliseconds (read
  only). Example: 1473781817000\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:20:\"localTimeRestriction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LocalTimeRestriction\";s:11:\"description\";s:132:\"Specifies
  a range of time when Callfire sends a text to recipients. Please note that a range
  of time applies to recipient's timezone\";}s:9:\"maxActive\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  maximum number of calls that CallFire dials at once\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"media\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Media\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"A
  text message\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"A
  name of a broadcast\";s:4:\"type\";s:6:\"string\";}s:10:\"recipients\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Recipients
  of a text campaign, can be an existing contacts or a new one\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TextRecipient\";}s:4:\"type\";s:5:\"array\";}s:13:\"resumeNextDay\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:7:\"boolean\";}s:9:\"schedules\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Schedule\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:245:\"A
  status of a broadcast. SETUP - campaign isn't configured yet; START_PENDING - waiting
  for contact batch population; RUNNING - campaign is running; STOPPED - campaign
  is stopped; FINISHED - campaign is finished; ARCHIVED - campaign was archived\";s:4:\"enum\";a:11:{i:0;s:4:\"TEST\";i:1;s:5:\"SETUP\";i:2;s:13:\"START_PENDING\";i:3;s:7:\"RUNNING\";i:4;s:9:\"SCHEDULED\";i:5;s:7:\"STOPPED\";i:6;s:9:\"SUSPENDED\";i:7;s:8:\"FINISHED\";i:8;s:8:\"ARCHIVED\";i:9;s:16:\"VALIDATING_START\";i:10;s:16:\"VALIDATING_EMAIL\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"TextBroadcastPage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TextBroadcast\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:21:\"TextBroadcastStatsDto\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"billedAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"number\";}s:14:\"doNotTextCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"errorCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"recievedCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:22:\"remainingOutboundCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"sentCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"tooBigCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"totalOutboundCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"unsentCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"TextList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ItemList\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Text\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:8:\"TextPage\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Page\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Text\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:1:\"~\";}s:13:\"TextRecipient\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"A
  recipient of a text message. You should provide either phone number or contact id
  of existing contact\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"attributes\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:54:\"A
  map of string attributes associated with a recipient\";s:4:\"type\";s:6:\"object\";}s:9:\"contactId\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"An
  id of existing contact in account\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"fromNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:1:\"~\";s:4:\"type\";s:6:\"string\";}s:5:\"media\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  list of media objects' ids associated with a text message\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Media\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"A
  text message\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Phone
  number in E.164 format (11-digit) or short code. Example: 12132000384, 67076\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TextRecord\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Represents
  a text message sent to a contact's number\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"billedAmount\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"A
  cost of a sent text\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:10:\"callerName\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"finishTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:115:\"A
  time when the given resource was updated, formatted in unix time milliseconds (read
  only). Example: 1473781817000\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"An
  id of a text record\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Labels
  associated with a text action\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"A
  text message\";s:4:\"type\";s:6:\"string\";}s:8:\"switchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"textResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:202:\"Result
  of a text (SENT, RECEIVED, DNT, TOO_BIG, INTERNAL_ERROR, CARRIER_ERROR, CARRIER_TEMP_ERROR,
  UNDIALED). See [call states and results](https://developers.callfire.com/results-responses-errors.html)\";s:4:\"enum\";a:8:{i:0;s:4:\"SENT\";i:1;s:8:\"RECEIVED\";i:2;s:3:\"DNT\";i:3;s:7:\"TOO_BIG\";i:4;s:14:\"INTERNAL_ERROR\";i:5;s:13:\"CARRIER_ERROR\";i:6;s:18:\"CARRIER_TEMP_ERROR\";i:7;s:8:\"UNDIALED\";}s:4:\"type\";s:6:\"string\";}s:8:\"toNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"An
  attempted phone number\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"TextToSpeech\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Request
  object is used to create a sound from provided text using text to speech engine\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"A
  text to be turned into sound\";s:4:\"type\";s:6:\"string\";}s:5:\"voice\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"A
  voice to be used. Available values: MALE1, FEMALE1 , FEMALE2, SPANISH1, FRENCHCANADIAN1\";s:4:\"enum\";a:5:{i:0;s:5:\"MALE1\";i:1;s:7:\"FEMALE1\";i:2;s:7:\"FEMALE2\";i:3;s:8:\"SPANISH1\";i:4;s:15:\"FRENCHCANADIAN1\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"~\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"typeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"A
  name of a type\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"UpdateContactListRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  request object which is used to update a contact list\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"A
  name of a contact list\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Webhook\";O:8:\"stdClass\":3:{s:11:\"description\";s:308:\"Webhook
  is a user-defined callback, which can be maintained via API. Callfire will send
  POST request to a client's endpoint defined in webhook once one of assigned events
  is triggered. See [webhooks guide](https://developers.callfire.com/webhooks-guide.html)
  for more information about CallFire Webhooks API.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:8:\"callback\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"URL
[...]
