---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:9:\"semantria\";}s:11:\"description\";s:112:\"Semantria
  applies Text and Sentiment Analysis to tweets, facebook posts, surveys, reviews
  or enterprise content.\";s:5:\"title\";s:9:\"Semantria\";s:7:\"version\";s:3:\"4.0\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:6:\"social\";i:1;s:4:\"text\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_semantria_profile_image.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:45:\"https://semantria.com/developer/api-docs-prod\";s:7:\"version\";s:3:\"1.2\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"semantria.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"semantria\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.semantria.com
basePath: /
paths:
  /blacklist.{content_type}:
    delete:
      description: This method removes certain blacklisted items by their values on
        Semantria side.
      operationId: deleteBlacklistItems
      parameters:
      - description: Identifier of configuration blacklist items linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of unique blacklisted item identifiers (string).
        in: body
        name: Blacklisted item IDs
        required: true
        schema:
          items:
            type: string
          type: array
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        403:
          description: Forbidden. Server responds if client tries to remove primary
            configuration.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Remove items from blacklist
      tags:
      - Blacklist
    get:
      description: This method retrieves all backlisted items available on Semantria
        side.
      operationId: getBlacklist
      parameters:
      - description: Identifier of configuration blacklist linked to.
        in: query
        name: config_id
        required: false
        type: string
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted and queued. Server responds with the
            blacklist.
          schema:
            items:
              $ref: '#/definitions/BlacklistItem_ResponseVersion'
            type: array
        202:
          description: Client request accepted, no blacklist found. Server responds
            with empty body.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve blacklisted items
      tags:
      - Blacklist
    post:
      description: This method adds new unique items to the backlist on Semantria
        side.
      operationId: addBlacklist
      parameters:
      - description: Identifier of configuration blacklist linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of parametrized JSON or XML objects.
        in: body
        name: Blacklisted items
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/BlacklistItem_ResponseVersion'
            type: array
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        406:
          description: Number of allowed blacklisted items per configuration achieved.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Add items to blacklist
      tags:
      - Blacklist
    put:
      description: This method updates existing items by unique IDs in the backlist
        on Semantria side.
      operationId: updateBlacklist
      parameters:
      - description: Identifier of configuration blacklist linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of parametrized JSON or XML objects.
        in: body
        name: Blacklisted items
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/BlacklistItem_ResponseVersion'
            type: array
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        406:
          description: Number of allowed blacklisted items per configuration achieved.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Update items in blacklist
      tags:
      - Blacklist
  /categories.{content_type}:
    delete:
      description: This method removes certain user categories by their IDs on Semantria
        side.
      operationId: deleteCategories
      parameters:
      - description: Identifier of configuration user categories linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of user category identifiers.
        in: body
        name: Category IDs
        required: true
        schema:
          items:
            type: string
          type: array
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        403:
          description: Forbidden. Server responds if client tries to remove primary
            configuration.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Remove user categories
      tags:
      - Categories
    get:
      description: This method retrieves list of user categories available on Semantria
        side.
      operationId: getCategories
      parameters:
      - description: Identifier of configuration user categories linked to.
        in: query
        name: config_id
        required: false
        type: string
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted and queued. Server responds with the
            categories list.
          schema:
            items:
              $ref: '#/definitions/Category_ResponseVersion'
            type: array
        202:
          description: Client request accepted, no categories found. Server responds
            with empty body.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve user categories
      tags:
      - Categories
    post:
      description: This method adds user categories on Semantria side.
      operationId: addCategories
      parameters:
      - description: Identifier of configuration user categories linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of parametrized JSON or XML objects.
        in: body
        name: Categories
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Category_ResponseVersion'
            type: array
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        406:
          description: Number of allowed categories per configuration or samples per
            category achieved.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Add user categories
      tags:
      - Categories
    put:
      description: This method updates user categories by unique IDs on Semantria
        side.
      operationId: updateCategories
      parameters:
      - description: Identifier of configuration user categories linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of parametrized JSON or XML objects.
        in: body
        name: Categories
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Category_ResponseVersion'
            type: array
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        406:
          description: Number of allowed categories per configuration or samples per
            category achieved.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Updates user categories
      tags:
      - Categories
  /collection.{content_type}:
    post:
      description: This method queues collection of documents onto the server for
        analysis. Queued collection of documents analyzes in common context as entire
        thing. If unique configuration ID provided, Semantria uses settings of that
        configuration during analysis, in opposite the primary configuration uses.
        Collection IDs are unique in scope of configuration. If the same ID appears
        twice, Semantria overrides existing collection with the new Data
      operationId: queueCollection
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        required: false
        type: string
      - description: Parametrized JSON or XML object.
        in: body
        name: Collection
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted and queued. Server responds with the
            sentiment-bearing phrases list.
          schema:
            $ref: '#/definitions/Collection'
        202:
          description: Client request accepted and queued for processing.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        406:
          description: Documents limit per collection is achieved.
        413:
          description: Characters limit for single document exceeded.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Queue collection for analysis
      tags:
      - ProcessingCollections
  /collection/processed.{content_type}:
    get:
      description: This method retrieves analysis results for processed collections
        from Semantria. FAILED collections will have FAILED status in response. Semantria
        responds with limited amount of results per API call. If configuration ID
        provided, Semantria responds with the collections, which were queued using
        the same configuration ID, in opposite Primary configuration uses.
      operationId: retrieveProcessedCollections
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        required: false
        type: string
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted and queued. Server responds with processed
            collections.
          schema:
            $ref: '#/definitions/CollectionAnalyticData'
        202:
          description: Client request accepted, no processed collections found on
            the server.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve collections analysis
      tags:
      - ProcessingCollections
  /collection/{collection_id}.{content_type}:
    delete:
      description: This method cancels collection analysis by unique ID on Semantria
        side if it is waiting for analysis in queue.
      operationId: cancelCollection
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        required: false
        type: string
      - description: Collection ID
        in: path
        name: collection_id
        required: true
        type: string
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted. Document canceled from processing
            on the server.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        404:
          description: No collections with provided ID found on server.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Cancel collection analysis
      tags:
      - ProcessingCollections
    get:
      description: This method retrieves analysis results for documents collection
        by its unique ID or the collectionu2019s status in queue if it did not analyzed
        yet. Semantria guarantees delivering of all collections back to the client
        even if they FAILED on Semantria side due to some reason.
      operationId: receiveCollectionAnalyticData
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        required: false
        type: string
      - description: Collection ID
        in: path
        name: collection_id
        required: true
        type: string
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted. Server responds with processed document
            or its status.
          schema:
            $ref: '#/definitions/CollectionAnalyticData'
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        404:
          description: No collections with provided ID found on server.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve collection analysis or its status in queue
      tags:
      - ProcessingCollections
  /configurations.{content_type}:
    delete:
      description: This method removes certain configuration by unique ID on Semantria
        side.
      operationId: deleteConfigurations
      parameters:
      - description: List of configuration identifiers.
        in: body
        name: Configuration IDs
        required: true
        schema:
          items:
            type: string
          type: array
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        403:
          description: Forbidden. Server responds if client tries to remove primary
            configuration.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Remove user configurations
      tags:
      - Configuration
    get:
      description: This method retrieves all user configurations available on Semantria
        side.
      operationId: getConfigurations
      parameters:
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted. Server responds with status object.
          schema:
            items:
              $ref: '#/definitions/Configuration_ResponseVersion'
            type: array
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve user configurations
      tags:
      - Configuration
    post:
      description: This method creates configurations on Semantria side.
      operationId: addConfigurations
      parameters:
      - description: List of parametrized JSON or XML objects.
        in: body
        name: Configurations
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Configuration_ResponseVersion'
            type: array
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        406:
          description: Number of allowed configurations for user subscription is reached.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Create user configurations
      tags:
      - Configuration
    put:
      description: This method updates specific configurations by unique IDs on Semantria
        side.
      operationId: updateConfigurations
      parameters:
      - description: List of parametrized JSON or XML objects.
        in: body
        name: Configurations
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Configuration_ResponseVersion'
            type: array
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        406:
          description: Number of allowed configurations for user subscription is reached.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Update user configurations
      tags:
      - Configuration
  /document.{content_type}:
    post:
      description: This method queues document onto the server for analysis. Queued
        document analyzes individually and will have its own set of results. If unique
        configuration ID provided, Semantria uses settings of that configuration during
        analysis, in opposite the primary configuration uses. Document IDs are unique
        in scope of configuration. If the same ID appears twice, Semantria overrides
        existing document with the new Data.
      operationId: queueDocument
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        required: false
        type: string
      - description: Parametrized JSON or XML object.
        in: body
        name: Document
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted and queued. Server responds with the
            sentiment-bearing phrases list.
          schema:
            $ref: '#/definitions/Document'
        202:
          description: Client request accepted and queued for processing.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        413:
          description: Characters limit for the document exceeded.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Queue document for analysis
      tags:
      - ProcessingDocuments
  /document/batch.{content_type}:
    post:
      description: This method queues batch of documents for analysis. The rules are
        the same as for single document mode but here the documents ordered into the
        batch.
      operationId: queueBatchOfDocuments
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of parametrized JSON or XML objects.
        in: body
        name: Batch of Documents
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted and queued. Server responds with the
            sentiment-bearing phrases list.
          schema:
            $ref: '#/definitions/Document'
        202:
          description: Client request accepted and queued for processing.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        403:
          description: Request is forbidden for selected processing mode.
        406:
          description: Documents limit per batch is achieved.
        413:
          description: Characters limit for the document exceeded.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Queue batch of documents for analysis
      tags:
      - ProcessingDocuments
  /document/processed.{content_type}:
    get:
      description: This method retrieves analysis results for processed documents
        from Semantria. FAILED documents will have FAILED status in response. Semantria
        responds with limited amount of results per API call. If configuration ID
        provided, Semantria responds with the document, which were queued using the
        same configuration ID, in opposite Primary.
      operationId: retrieveProcessedDocuments
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        required: false
        type: string
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted and queued. Server responds with processed
            documents.
          schema:
            $ref: '#/definitions/DocumentAnalyticData'
        202:
          description: Client request accepted, no processed documents found on the
            server.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve documents analysis
      tags:
      - ProcessingDocuments
  /document/{document_id}.{content_type}:
    delete:
      description: This method cancels document analysis by unique ID on Semantria
        side if it is waiting for analysis in queue.
      operationId: cancelDocument
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        required: false
        type: string
      - description: Document ID
        in: path
        name: document_id
        required: true
        type: string
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted. Document canceled from processing
            on the server.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        404:
          description: No documents with provided ID found on server.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Cancel document analysis
      tags:
      - ProcessingDocuments
    get:
      description: This method retrieves analysis results for the single document
        by its unique ID or the documentu2019s status in queue if it did not analyzed
        yet. Semantria guarantees delivering of all documents back to the client even
        if they FAILED on Semantria side due to some reason.
      operationId: receiveDocumentAnalyticData
      parameters:
      - description: Identifier of configuration used for analysis.
        in: query
        name: config_id
        required: false
        type: string
      - description: Document ID
        in: path
        name: document_id
        required: true
        type: string
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted. Server responds with processed document
            or its status.
          schema:
            $ref: '#/definitions/DocumentAnalyticData'
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        404:
          description: No documents with provided ID found on server.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve document analysis or its status in queue
      tags:
      - ProcessingDocuments
  /entities.{content_type}:
    delete:
      description: This method removes certain user entities by their names on Semantria
        side.
      operationId: deleteEntities
      parameters:
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        403:
          description: Forbidden. Server responds if client tries to remove primary
            configuration.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Remove user entities
      tags:
      - Entities
    get:
      description: This method retrieves list of user entities available on Semantria
        side.
      operationId: getEntities
      parameters:
      - description: Identifier of configuration user entities linked to.
        in: query
        name: config_id
        required: false
        type: string
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted and queued. Server responds with the
            entities list.
          schema:
            items:
              $ref: '#/definitions/Entity_ResponseVersion'
            type: array
        202:
          description: Client request accepted and no entities found. Server responds
            with empty body.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve user entities
      tags:
      - Entities
    post:
      description: This method adds user entities on Semantria side.
      operationId: addEntities
      parameters:
      - description: Identifier of configuration user entities linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of parametrized JSON or XML objects.
        in: body
        name: User entities
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Entity_ResponseVersion'
            type: array
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        406:
          description: Number of allowed entities per configuration achieved.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Add user entities
      tags:
      - Entities
    put:
      description: This method updates user entities by unique IDs on Semantria side.
      operationId: updateEntities
      parameters:
      - description: Identifier of configuration user entities linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of parametrized JSON or XML objects.
        in: body
        name: User entities
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Entity_ResponseVersion'
            type: array
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        406:
          description: Number of allowed entities per configuration achieved.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Update user entities
      tags:
      - Entities
  /features.{content_type}:
    get:
      description: This method returns list of supported features per languages supported
        by Semantria API. Let the users know about API capabilities.
      operationId: getFeatures
      parameters:
      - description: Filter features by specified language
        in: query
        name: language
        required: false
        type: string
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted and queued. Server responds with subscription
            details.
          schema:
            items:
              $ref: '#/definitions/Feature'
            type: array
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve supported features
      tags:
      - Features
  /phrases.{content_type}:
    delete:
      description: This method removes certain sentiment-bearing phrases by their
        names on Semantria side.
      operationId: deletePhrases
      parameters:
      - description: Identifier of configuration phrases linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of sentiment-bearing phrase identifiers.
        in: body
        name: Sentiment phrase IDs
        required: true
        schema:
          items:
            type: string
          type: array
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        403:
          description: Forbidden. Server responds if client tries to remove primary
            configuration.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Remove sentiment-bearing phrases
      tags:
      - Phrases
    get:
      description: This method retrieves list of sentiment-bearing phrases available
        on Semantria side.
      operationId: getPhrases
      parameters:
      - description: Identifier of configuration phrases linked to.
        in: query
        name: config_id
        required: false
        type: string
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted and queued. Server responds with the
            sentiment-bearing phrases list.
          schema:
            items:
              $ref: '#/definitions/Phrase_ResponseVersion'
            type: array
        202:
          description: Client request accepted and no sentiment-bearing phrases found.
            Server responds with empty body.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve sentiment-bearing phrases
      tags:
      - Phrases
    post:
      description: This method adds sentiment-bearing phrases on Semantria side.
      operationId: addPhrases
      parameters:
      - description: Identifier of configuration phrases linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of parametrized JSON or XML objects.
        in: body
        name: Sentiment phrases
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Phrase_ResponseVersion'
            type: array
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        406:
          description: Number of allowed sentiment-bearing phrases per configuration
            achieved.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Add sentiment-bearing phrases
      tags:
      - Phrases
    put:
      description: This method updates sentiment-bearing phrases by unique IDs on
        Semantria side.
      operationId: updatePhrases
      parameters:
      - description: Identifier of configuration phrases linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of parametrized JSON or XML objects.
        in: body
        name: Sentiment phrases
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Phrase_ResponseVersion'
            type: array
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        406:
          description: Number of allowed sentiment-bearing phrases per configuration
            achieved.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Updates sentiment-bearing phrases
      tags:
      - Phrases
  /queries.{content_type}:
    delete:
      description: This method removes certain queries by their IDs on Semantria side.
      operationId: deleteQueries
      parameters:
      - description: Identifier of configuration queries linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of query identifiers.
        in: body
        name: Query IDs
        required: true
        schema:
          items:
            type: string
          type: array
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        403:
          description: Forbidden. Server responds if client tries to remove primary
            configuration.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Remove queries
      tags:
      - Queries
    get:
      description: This method retrieves list of queries available on Semantria side.
      operationId: getQueries
      parameters:
      - description: Identifier of configuration queries linked to.
        in: query
        name: config_id
        required: false
        type: string
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted and queued. Server responds with the
            queries list.
          schema:
            items:
              $ref: '#/definitions/Query_ResponseVersion'
            type: array
        202:
          description: Client request accepted and no queries found. Server responds
            with empty body.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve queries
      tags:
      - Queries
    post:
      description: This method adds queries on Semantria side.
      operationId: addQueries
      parameters:
      - description: Identifier of configuration queries linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of parametrized JSON or XML objects.
        in: body
        name: Queries
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Query_ResponseVersion'
            type: array
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        406:
          description: Number of allowed queries per configuration achieved.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Add or update queries
      tags:
      - Queries
    put:
      description: This method updates queries by unique IDs on Semantria side.
      operationId: updateQueries
      parameters:
      - description: Identifier of configuration queries linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of parametrized JSON or XML objects.
        in: body
        name: Queries
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Query_ResponseVersion'
            type: array
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        406:
          description: Number of allowed queries per configuration achieved.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Update queries
      tags:
      - Queries
  /statistics.{content_type}:
    get:
      description: This method retrieves overall and per configuration usage statistics
        for specific timeframe. Statistics ordered per available configurations. Available
        interval values are current <b>hour</b>, <b>day</b>, <b>week</b>, <b>month</b>
        and <b>year</b>.
      operationId: getStatistic
      parameters:
      - description: Configuration identifier for usage statistics retrieving.
        in: query
        name: config_id
        required: false
        type: string
      - description: Hour, Day, Week, Month, Year values are supported.
        in: query
        name: interval
        required: false
        type: string
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted. Server responds with statistics details.
          schema:
            $ref: '#/definitions/Statistic'
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve usage statistics
      tags:
      - Statistics
  /status.{content_type}:
    get:
      description: This method retrieves API status information such as the app version,
        current API version, supported languages and encodings, the overall service
        status, etc.
      operationId: getStatus
      parameters:
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted. Server responds with status object.
          schema:
            $ref: '#/definitions/Status'
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve API status
      tags:
      - Status
  /subscription.{content_type}:
    get:
      description: This method retrieves user's subscription details that consist
        of the list of allowed features, configured limits and options on Semantria
        side.
      operationId: getSubscription
      parameters:
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted and queued. Server responds with subscription
            details.
          schema:
            $ref: '#/definitions/Subscription'
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve subscription details
      tags:
      - Subscription
  /taxonomy.{content_type}:
    delete:
      description: This method removes certain taxonomy nodes by their IDs on Semantria
        side.
      operationId: deleteTaxonomy
      parameters:
      - description: Identifier of configuration queries linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of taxonomy node identifiers.
        in: body
        name: Taxonomy node IDs
        required: true
        schema:
          items:
            type: string
          type: array
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        403:
          description: Forbidden. Server responds if client tries to remove primary
            configuration.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Remove taxonomy nodes
      tags:
      - Taxonomy
    get:
      description: This method retrieves list of taxonomy available on Semantria side.
      operationId: getTaxonomy
      parameters:
      - description: Identifier of configuration taxonomy linked to.
        in: query
        name: config_id
        required: false
        type: string
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: Client request accepted and queued. Server responds with the
            taxonomy list.
          schema:
            items:
              $ref: '#/definitions/TaxonomyNode_ResponseVersion'
            type: array
        202:
          description: Client request accepted and no taxonomy found. Server responds
            with empty body.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Retrieve taxonomy
      tags:
      - Taxonomy
    post:
      description: This method adds taxonomy nodes on Semantria side.
      operationId: addTaxonomy
      parameters:
      - description: Identifier of configuration queries linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of parametrized JSON or XML objects.
        in: body
        name: Taxonomy
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/TaxonomyNode_ResponseVersion'
            type: array
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        406:
          description: Number of allowed queries per configuration achieved.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Add taxonomy nodes
      tags:
      - Taxonomy
    put:
      description: This method updates taxonomy nodes on Semantria side.
      operationId: updateTaxonomy
      parameters:
      - description: Identifier of configuration queries linked to.
        in: query
        name: config_id
        required: false
        type: string
      - description: List of parametrized JSON or XML objects.
        in: body
        name: Taxonomy
        required: true
        schema:
          $ref: '#/definitions/Request%20class'
      - in: path
        name: content_type
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/TaxonomyNode_ResponseVersion'
            type: array
        202:
          description: Client request accepted and queued.
        400:
          description: Incoming request body is incorrect. Server responds with details.
        401:
          description: Authentication failed.
        402:
          description: Unauthorized. Limit of system calls is reached or subscription
            is expired.
        406:
          description: Number of allowed queries per configuration achieved.
        500:
          description: Server side issue. Server may respond with the details in response
            body.
      summary: Update taxonomy nodes
      tags:
      - Taxonomy
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":64:{s:9:\"Attribute\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  count of occurrences of the attribute across the documents\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  text of the attribute\";s:4:\"type\";s:6:\"string\";}s:8:\"mentions\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Returns
  genuine forms of attribute mentioned across the documents\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Mention\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:5:\"count\";i:1;s:5:\"label\";i:2;s:8:\"mentions\";}}s:12:\"AutoCategory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"categories\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"List
  of sub-categories of the current category if applicable\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SubCategory\";}s:4:\"type\";s:5:\"array\";}s:18:\"sentiment_polarity\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Verbal
  representation of sentiment score. Can be \"negative\", \"positive\" or \"neutral\"\";s:4:\"enum\";a:3:{i:0;s:8:\"negative\";i:1;s:8:\"positive\";i:2;s:7:\"neutral\";}s:4:\"type\";s:6:\"string\";}s:15:\"sentiment_score\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  sentiment score associated with this category\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:14:\"strength_score\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Strength
  of the category matches with the document content\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  category title, which is its label in the text\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Type
  of category; can be either \"node\" (root level) or \"leaf\" (nested) value\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:10:\"categories\";i:1;s:18:\"sentiment_polarity\";i:2;s:15:\"sentiment_score\";i:3;s:14:\"strength_score\";i:4;s:5:\"title\";i:5;s:4:\"type\";}}s:27:\"BlacklistItem_InsertVersion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Blacklist
  item name\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:29:\"BlacklistItem_ResponseVersion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Unique
  blacklist item identifier\";s:4:\"type\";s:6:\"string\";}s:8:\"modified\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  timestamp of the latest update of the record. Creation date of update didn't occur\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Blacklist
  item name\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:8:\"modified\";i:2;s:4:\"name\";}}s:27:\"BlacklistItem_UpdateVersion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Unique
  blacklist item identifier\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Blacklist
  item name\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}}s:22:\"Category_InsertVersion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Category
  name\";s:4:\"type\";s:6:\"string\";}s:7:\"samples\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Category
  samples\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Category
  weight\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:7:\"samples\";i:2;s:6:\"weight\";}}s:24:\"Category_ResponseVersion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Unique
  category identifier\";s:4:\"type\";s:6:\"string\";}s:8:\"modified\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  timestamp of the latest update of the record. Creation date of update didn't occur\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Category
  name\";s:4:\"type\";s:6:\"string\";}s:7:\"samples\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Category
  samples\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Category
  weight\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:8:\"modified\";i:2;s:4:\"name\";i:3;s:7:\"samples\";i:4;s:6:\"weight\";}}s:22:\"Category_UpdateVersion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Unique
  category identifier\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Category
  name\";s:4:\"type\";s:6:\"string\";}s:7:\"samples\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Category
  samples\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Category
  weight\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:7:\"samples\";i:3;s:6:\"weight\";}}s:10:\"Collection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"documents\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"List
  of documents text that need to be analyzed by the service\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Up
  to 32 symbols unique identifier of document assigned and tracked by client\";s:4:\"type\";s:6:\"string\";}s:6:\"job_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Specific
  marker of incoming job that can be used then for collections retrieving\";s:4:\"type\";s:6:\"string\";}s:3:\"tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Any
  text of up to 50 characters used like marker\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:9:\"documents\";i:1;s:2:\"id\";i:2;s:6:\"job_id\";i:3;s:3:\"tag\";}}s:22:\"CollectionAnalyticData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"config_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Unique
  configuration identifier. Usually 36 alphanumeric characters\";s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Returns
  the named entities and user defined entities from the text\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Entity\";}s:4:\"type\";s:5:\"array\";}s:6:\"facets\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Returns
  the facets extracted across all documents in the collection\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Facet\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Unique
  collection identifier. Can be up to 36 alphanumeric characters\";s:4:\"type\";s:6:\"string\";}s:6:\"job_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Specific
  marker of a job collection belongs to, can be used for collections ordering on client
  side.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Status
  of the collection\";s:4:\"enum\";a:3:{i:0;s:6:\"queued\";i:1;s:9:\"processed\";i:2;s:6:\"failed\";}s:4:\"type\";s:6:\"string\";}s:3:\"tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Any
  text of up to 50 characters used like marker\";s:4:\"type\";s:6:\"string\";}s:8:\"taxonomy\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Returns
  the taxonomy determined for the text\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Topic\";}s:4:\"type\";s:5:\"array\";}s:6:\"themes\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Returns
  themes across the documents\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Theme\";}s:4:\"type\";s:5:\"array\";}s:6:\"topics\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Returns
  the concept and query defined topics determined for the text\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Topic\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:10:{i:0;s:9:\"config_id\";i:1;s:8:\"entities\";i:2;s:6:\"facets\";i:3;s:2:\"id\";i:4;s:6:\"job_id\";i:5;s:6:\"status\";i:6;s:3:\"tag\";i:7;s:8:\"taxonomy\";i:8;s:6:\"themes\";i:9;s:6:\"topics\";}}s:30:\"ConfigurationCollectionSection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:24:\"attribute_mentions_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Limits
  the number of mentions of attribute responded from the server. Default: 0\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:20:\"concept_topics_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Limits
  the number of concept topics responded from the service. Default: 5\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:16:\"facet_atts_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:79:\"Limits
  the number of facets which will be responded from the server. Default: 5\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:20:\"facet_mentions_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Limits
  the number of mentions of facet responded from the server. Default: 0\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:12:\"facets_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"Limits
  the number of facets which will be responded from the server.  Default: 15\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:20:\"named_entities_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Limits
  the number of named entities responded from the service. Default: 5\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:20:\"named_mentions_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Limits
  the number of mentions of theme responded from the server. Default: 0\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:18:\"query_topics_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"Limits
  the number of query topics responded from the service. Default: 5\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:20:\"theme_mentions_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Limits
  the number of entity mentions responded from the server. Default: 0\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:12:\"themes_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Limits
  the number of themes responded from the service. Default: 5\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:19:\"user_entities_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Limits
  the number of user entities the service responds. Default: 15\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:19:\"user_mentions_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Limits
  the number of user entity mentions the service responds. Default: 0\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:12:{i:0;s:24:\"attribute_mentions_limit\";i:1;s:20:\"concept_topics_limit\";i:2;s:16:\"facet_atts_limit\";i:3;s:20:\"facet_mentions_limit\";i:4;s:12:\"facets_limit\";i:5;s:20:\"named_entities_limit\";i:6;s:20:\"named_mentions_limit\";i:7;s:18:\"query_topics_limit\";i:8;s:20:\"theme_mentions_limit\";i:9;s:12:\"themes_limit\";i:10;s:19:\"user_entities_limit\";i:11;s:19:\"user_mentions_limit\";}}s:28:\"ConfigurationDocumentSection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:21:\"auto_categories_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"Limits
  the number of auto categories the service responds. Default: 5\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:20:\"concept_topics_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Limits
  the number of concept topics the service responds. Default: 5\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:15:\"detect_language\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Switches
  on language detection feature. Default: true\";s:4:\"type\";s:7:\"boolean\";}s:19:\"entity_themes_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"Limits
  the number of entity themes the service responds. Default: 0\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:10:\"intentions\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Switches
  on intentions detection feature. Default: false\";s:4:\"type\";s:7:\"boolean\";}s:15:\"model_sentiment\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Switches
  on/off model-based sentiment feature. Default: false\";s:4:\"type\";s:7:\"boolean\";}s:20:\"named_entities_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Limits
  the number of named entities the service responds. Default: 5\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:20:\"named_mentions_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Limits
  the number of named entity related mentions. Default: 0\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:20:\"named_opinions_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"Limits
  the number of named entity opinions the service responds. Default: 0\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:21:\"named_relations_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"Limits
  the number of named entity relations the service responds. Default: 0\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:13:\"phrases_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"Limits
  the number of responded sentiment-bearing phrases for document. Default: 0\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:9:\"pos_types\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Defines
  parts-of-speech which will be responded by the server\";s:4:\"enum\";a:8:{i:0;s:3:\"All\";i:1;s:4:\"Noun\";i:2;s:4:\"Verb\";i:3;s:9:\"Adjective\";i:4;s:10:\"Determiner\";i:5;s:4:\"Misc\";i:6;s:7:\"Twitter\";i:7;s:7:\"Chinese\";}s:4:\"type\";s:6:\"string\";}s:22:\"possible_phrases_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:106:\"Limits
  the number of responded possible phrases which may affect on sentiment score extraction.
  Default: 0\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:18:\"query_topics_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Limits
  the number of query topics the service responds. Default: 5\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:13:\"summary_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"Limits
  the number of sentences for the document summary feature. Default: 3\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:20:\"theme_mentions_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"Limits
  the number of document and entity related theme mentions. Default: 0\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:12:\"themes_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"Limits
  the number of document themes the service responds. Default: 0\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:19:\"user_entities_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"Limits
  the number of user entities the service responds. Default: 5\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:19:\"user_mentions_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Limits
  the number of user entity related mentions. Default: 0\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:19:\"user_opinions_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Limits
  the number of concept topics the service responds. Default: 0\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:20:\"user_relations_limit\";O:8:\"stdClass\":4:{s:11:\"description\";s:75:\"Limits
  the number of user entity relations the service responds. Default: 0\";s:7:\"maximum\";i:20;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:21:{i:0;s:21:\"auto_categories_limit\";i:1;s:20:\"concept_topics_limit\";i:2;s:15:\"detect_language\";i:3;s:19:\"entity_themes_limit\";i:4;s:10:\"intentions\";i:5;s:15:\"model_sentiment\";i:6;s:20:\"named_entities_limit\";i:7;s:20:\"named_mentions_limit\";i:8;s:20:\"named_opinions_limit\";i:9;s:21:\"named_relations_limit\";i:10;s:13:\"phrases_limit\";i:11;s:9:\"pos_types\";i:12;s:22:\"possible_phrases_limit\";i:13;s:18:\"query_topics_limit\";i:14;s:13:\"summary_limit\";i:15;s:20:\"theme_mentions_limit\";i:16;s:12:\"themes_limit\";i:17;s:19:\"user_entities_limit\";i:18;s:19:\"user_mentions_limit\";i:19;s:19:\"user_opinions_limit\";i:20;s:20:\"user_relations_limit\";}}s:27:\"Configuration_InsertVersion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"auto_response\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Defines
  whether or not the service should respond with processed results automatically.
  Default: false\";s:4:\"type\";s:7:\"boolean\";}s:8:\"callback\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Defines
  a callback URL for automatic data responding\";s:4:\"type\";s:6:\"string\";}s:20:\"categories_threshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Defines
  low threshold for strength score of user categories to be reported in the output.
  Default: 0.45\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"chars_threshold\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"Defines
  the threshold for alphanumeric characters in the text in percent. Default: 80\";s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:10:\"collection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ConfigurationCollectionSection\";s:11:\"description\";s:54:\"Includes
  options related to collection processing mode\";}s:8:\"document\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ConfigurationDocumentSection\";s:11:\"description\";s:52:\"Includes
  options related to document processing mode\";}s:18:\"entities_threshold\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Defines
  low threshold for evidence score of named and user entities to be reported in the
  output.\";s:4:\"type\";s:7:\"integer\";}s:10:\"is_primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Identifies
  whether the current configuration is primary or not. Default: false\";s:4:\"type\";s:7:\"boolean\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Defines
  target language that will be used for task processing. Default: English\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Configuration
  name\";s:4:\"type\";s:6:\"string\";}s:12:\"one_sentence\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Leads
  the service to consider the entire document as single sentence. Default: false\";s:4:\"type\";s:7:\"boolean\";}s:12:\"process_html\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Leads
  the service to clean HTML tags before processing. Default: false\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:12:{i:0;s:13:\"auto_response\";i:1;s:8:\"callback\";i:2;s:20:\"categories_threshold\";i:3;s:15:\"chars_threshold\";i:4;s:10:\"collection\";i:5;s:8:\"document\";i:6;s:18:\"entities_threshold\";i:7;s:10:\"is_primary\";i:8;s:8:\"language\";i:9;s:4:\"name\";i:10;s:12:\"one_sentence\";i:11;s:12:\"process_html\";}}s:29:\"Configuration_ResponseVersion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:13:\"auto_response\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Defines
  whether or not the service should respond with processed results automatically.
  Default: false\";s:4:\"type\";s:7:\"boolean\";}s:8:\"callback\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Defines
  a callback URL for automatic data responding\";s:4:\"type\";s:6:\"string\";}s:20:\"categories_threshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Defines
  low threshold for strength score of user categories to be reported in the output.
  Default: 0.45\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"chars_threshold\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"Defines
  the threshold for alphanumeric characters in the text in percent. Default: 80\";s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:10:\"collection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ConfigurationCollectionSection\";s:11:\"description\";s:54:\"Includes
  options related to collection processing mode\";}s:9:\"config_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Unique
  configuration identifier\";s:4:\"type\";s:6:\"string\";}s:8:\"document\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ConfigurationDocumentSection\";s:11:\"description\";s:52:\"Includes
  options related to document processing mode\";}s:18:\"entities_threshold\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Defines
  low threshold for evidence score of named and user entities to be reported in the
  output. Default: 55\";s:4:\"type\";s:7:\"integer\";}s:23:\"from_template_config_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Unique
  identifier of configuration (template) the current configuration has been clonned
  from\";s:4:\"type\";s:6:\"string\";}s:10:\"is_primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Identifies
  whether the current configuration is primary or not. Default: false\";s:4:\"type\";s:7:\"boolean\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Defines
  target language that will be used for task processing. Default: English\";s:4:\"type\";s:6:\"string\";}s:8:\"modified\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  timestamp of the latest update of the record. Creation date of update didn't occur\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Configuration
  name\";s:4:\"type\";s:6:\"string\";}s:12:\"one_sentence\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Leads
  the service to consider the entire document as single sentence. Default: false\";s:4:\"type\";s:7:\"boolean\";}s:12:\"process_html\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Leads
  the service to clean HTML tags before processing. Default: false\";s:4:\"type\";s:7:\"boolean\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Version
  of the vertical pack, for versioning purposes\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:16:{i:0;s:13:\"auto_response\";i:1;s:8:\"callback\";i:2;s:20:\"categories_threshold\";i:3;s:15:\"chars_threshold\";i:4;s:10:\"collection\";i:5;s:9:\"config_id\";i:6;s:8:\"document\";i:7;s:18:\"entities_threshold\";i:8;s:23:\"from_template_config_id\";i:9;s:10:\"is_primary\";i:10;s:8:\"language\";i:11;s:8:\"modified\";i:12;s:4:\"name\";i:13;s:12:\"one_sentence\";i:14;s:12:\"process_html\";i:15;s:7:\"version\";}}s:27:\"Configuration_UpdateVersion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"auto_response\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Defines
  whether or not the service should respond with processed results automatically.
  Default: false\";s:4:\"type\";s:7:\"boolean\";}s:8:\"callback\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Defines
  a callback URL for automatic data responding\";s:4:\"type\";s:6:\"string\";}s:20:\"categories_threshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Defines
  low threshold for strength score of user categories to be reported in the output.
  Default: 0.45\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"chars_threshold\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"Defines
  the threshold for alphanumeric characters in the text in percent. Default: 80\";s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:10:\"collection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ConfigurationCollectionSection\";s:11:\"description\";s:54:\"Includes
  options related to collection processing mode\";}s:9:\"config_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Unique
  configuration identifier\";s:4:\"type\";s:6:\"string\";}s:8:\"document\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ConfigurationDocumentSection\";s:11:\"description\";s:52:\"Includes
  options related to document processing mode\";}s:18:\"entities_threshold\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Defines
  low threshold for evidence score of named and user entities to be reported in the
  output. Default: 55\";s:4:\"type\";s:7:\"integer\";}s:10:\"is_primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Identifies
  whether the current configuration is primary or not. Default: false\";s:4:\"type\";s:7:\"boolean\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Defines
  target language that will be used for task processing. Default: English\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Configuration
  name\";s:4:\"type\";s:6:\"string\";}s:12:\"one_sentence\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Leads
  the service to consider the entire document as single sentence. Default: false\";s:4:\"type\";s:7:\"boolean\";}s:12:\"process_html\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Leads
  the service to clean HTML tags before processing. Default: false\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:13:{i:0;s:13:\"auto_response\";i:1;s:8:\"callback\";i:2;s:20:\"categories_threshold\";i:3;s:15:\"chars_threshold\";i:4;s:10:\"collection\";i:5;s:9:\"config_id\";i:6;s:8:\"document\";i:7;s:18:\"entities_threshold\";i:8;s:10:\"is_primary\";i:9;s:8:\"language\";i:10;s:4:\"name\";i:11;s:12:\"one_sentence\";i:12;s:12:\"process_html\";}}s:7:\"Details\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"is_imperative\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Represents
  whether sentence (group of words) is imperative or not\";s:4:\"type\";s:7:\"boolean\";}s:8:\"is_polar\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Represents
  whether or not sentence content contains sentiment polarity\";s:4:\"type\";s:7:\"boolean\";}s:5:\"words\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Returns
  list of words grouped by the parent sentence\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Word\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:13:\"is_imperative\";i:1;s:8:\"is_polar\";i:2;s:5:\"words\";}}s:8:\"Document\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Up
  to 32 symbols unique identifier of document assigned and tracked by client.\";s:4:\"type\";s:6:\"string\";}s:6:\"job_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Specific
  marker of incoming job that can be used then for documents retrieving\";s:4:\"type\";s:6:\"string\";}s:3:\"tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Any
  text of up to 50 characters used like marker.\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Document
  text that needs to be analyzed by the service.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:6:\"job_id\";i:2;s:3:\"tag\";i:3;s:4:\"text\";}}s:20:\"DocumentAnalyticData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:15:\"auto_categories\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Auto-generated
  categories applicable for the document\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AutoCategory\";}s:4:\"type\";s:5:\"array\";}s:9:\"config_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Unique
  configuration identifier. Usually 36 alphanumeric characters\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Returns
  sentences from the original document with POS tags within\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Details\";}s:4:\"type\";s:5:\"array\";}s:8:\"entities\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Returns
  the named entities and user defined entities from the text\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Entity\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Unique
  document identifier. Can be up to 36 alphanumeric characters\";s:4:\"type\";s:6:\"string\";}s:10:\"intentions\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Returns
  intentions list detected by the engine\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Intention\";}s:4:\"type\";s:5:\"array\";}s:6:\"job_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Specific
  marker of a job document belongs to, can be used for documents ordering on client
  side\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Determined
  language of source text\";s:4:\"type\";s:6:\"string\";}s:14:\"language_score\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  percentage score of the best match of language among detected languages\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"model_sentiment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ModelSentiment\";s:11:\"description\";s:66:\"Returns
  details of model-based sentiment analysis for the document\";}s:8:\"opinions\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Returns
  the list of opinions extracted from the source text\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Opinion\";}s:4:\"type\";s:5:\"array\";}s:7:\"phrases\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Returns
  sentiment-bearing phrases of the document\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Phrase\";}s:4:\"type\";s:5:\"array\";}s:9:\"relations\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Returns
  relations which represent a connection between one or more Entity objects\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Relation\";}s:4:\"type\";s:5:\"array\";}s:18:\"sentiment_polarity\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Verbal
  representation of sentiment score. Can be \"negative\", \"positive\" or \"neutral\"\";s:4:\"enum\";a:3:{i:0;s:8:\"negative\";i:1;s:8:\"positive\";i:2;s:7:\"neutral\";}s:4:\"type\";s:6:\"string\";}s:15:\"sentiment_score\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  sentiment analysis of the document text\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"source_text\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Original
  source text passed by client for this document\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Status
  of the document\";s:4:\"enum\";a:3:{i:0;s:6:\"queued\";i:1;s:9:\"processed\";i:2;s:6:\"failed\";}s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"A
  summary of the document text\";s:4:\"type\";s:6:\"string\";}s:8:\"taxonomy\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Returns
  the taxonomy determined for the text\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Topic\";}s:4:\"type\";s:5:\"array\";}s:6:\"themes\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Returns
  themes of the document\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Theme\";}s:4:\"type\";s:5:\"array\";}s:6:\"topics\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Returns
  the concept and query defined topics determined for the text\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Topic\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:21:{i:0;s:15:\"auto_categories\";i:1;s:9:\"config_id\";i:2;s:7:\"details\";i:3;s:8:\"entities\";i:4;s:2:\"id\";i:5;s:10:\"intentions\";i:6;s:6:\"job_id\";i:7;s:8:\"language\";i:8;s:14:\"language_score\";i:9;s:15:\"model_sentiment\";i:10;s:8:\"opinions\";i:11;s:7:\"phrases\";i:12;s:9:\"relations\";i:13;s:18:\"sentiment_polarity\";i:14;s:15:\"sentiment_score\";i:15;s:11:\"source_text\";i:16;s:6:\"status\";i:17;s:7:\"summary\";i:18;s:8:\"taxonomy\";i:19;s:6:\"themes\";i:20;s:6:\"topics\";}}s:6:\"Entity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  count of occurrences of the entity across the documents\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:11:\"entity_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Type
  of the entity (Company, Person, Place, Product, etc.)\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Descriptive
  label for the entity, if applicable\";s:4:\"type\";s:6:\"string\";}s:8:\"mentions\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Returns
  the genuine forms of entity mentioned across the documents\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Mention\";}s:4:\"type\";s:5:\"array\";}s:14:\"negative_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  count of negative occurrences of the entity across the documents\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:13:\"neutral_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  count of neutral occurrences of the entity across the documents\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:14:\"positive_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  count of positive occurrences of the entity across the documents\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Normalized
  form of the entity. It is the normalized entity title\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Type
  of the entity; can be either \u201Cnamed\u201D or \u201Cuser\u201D (reserved for
  future usage)\";s:4:\"enum\";a:2:{i:0;s:5:\"named\";i:1;s:4:\"user\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:9:{i:0;s:5:\"count\";i:1;s:11:\"entity_type\";i:2;s:5:\"label\";i:3;s:8:\"mentions\";i:4;s:14:\"negative_count\";i:5;s:13:\"neutral_count\";i:6;s:14:\"positive_count\";i:7;s:5:\"title\";i:8;s:4:\"type\";}}s:20:\"Entity_InsertVersion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Descriptive
  label for the entity, e.g. Wikipedia URL\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Entity
  name\";s:4:\"type\";s:6:\"string\";}s:10:\"normalized\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Normalized
  form of the entity. Will replace entity name in the output\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Type
  of the entity (Company, Person, any custom type)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:5:\"label\";i:1;s:4:\"name\";i:2;s:10:\"normalized\";i:3;s:4:\"type\";}}s:22:\"Entity_ResponseVersion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Unique
  user entity identifier\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Descriptive
  label for the entity, e.g. Wikipedia URL\";s:4:\"type\";s:6:\"string\";}s:8:\"modified\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  timestamp of the latest update of the record. Creation date of update didn't occur\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Entity
  name\";s:4:\"type\";s:6:\"string\";}s:10:\"normalized\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Normalized
  form of the entity. Will replace entity name in the output\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Type
  of the entity (Company, Person, any custom type)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:2:\"id\";i:1;s:5:\"label\";i:2;s:8:\"modified\";i:3;s:4:\"name\";i:4;s:10:\"normalized\";i:5;s:4:\"type\";}}s:20:\"Entity_UpdateVersion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Unique
  user entity identifier\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Descriptive
  label for the entity, e.g. Wikipedia URL\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Entity
  name\";s:4:\"type\";s:6:\"string\";}s:10:\"normalized\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Normalized
  form of the entity. Will replace entity name in the output\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Type
  of the entity (Company, Person, any custom type)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:5:\"label\";i:2;s:4:\"name\";i:3;s:10:\"normalized\";i:4;s:4:\"type\";}}s:5:\"Facet\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"attributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Returns
  the attributes associated with this facet\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Attribute\";}s:4:\"type\";s:5:\"array\";}s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  count of occurrences of the facet in the text\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  text of the facet\";s:4:\"type\";s:6:\"string\";}s:8:\"mentions\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Returns
  genuine forms of facet mentioned across the documents\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Mention\";}s:4:\"type\";s:5:\"array\";}s:14:\"negative_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  count of negative occurrences of the facet across the documents\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:13:\"neutral_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  count of neutral occurrences of the facet across the documents\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:14:\"positive_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  count of positive occurrences of the facet across the documents\";s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:7:{i:0;s:10:\"attributes\";i:1;s:5:\"count\";i:2;s:5:\"label\";i:3;s:8:\"mentions\";i:4;s:14:\"negative_count\";i:5;s:13:\"neutral_count\";i:6;s:14:\"positive_count\";}}s:7:\"Feature\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"detailed_mode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/FeatureDetailedModeSection\";s:11:\"description\";s:50:\"Includes
  detailed mode output for certain language\";}s:14:\"discovery_mode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/FeatureDiscoveryModeSection\";s:11:\"description\";s:51:\"Includes
  discovery mode output for certain language\";}s:15:\"html_processing\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Represents
  whether HTML processing supported for certain language or not\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Unique
  language identifier\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Represents
  language following options relevant to\";s:4:\"type\";s:6:\"string\";}s:17:\"one_sentence_mode\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Considers
  entire text as one sentence and uses optimized chunker for short content like tweets.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"settings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/FeatureSettingsSection\";s:11:\"description\";s:57:\"Includes
  analysis adjustment options for certain language\";}s:9:\"templates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/FeatureTemplateSection\";s:11:\"description\";s:31:\"Includes
  all existing templates\";}}s:8:\"required\";a:8:{i:0;s:13:\"detailed_mode\";i:1;s:14:\"discovery_mode\";i:2;s:15:\"html_processing\";i:3;s:2:\"id\";i:4;s:8:\"language\";i:5;s:17:\"one_sentence_mode\";i:6;s:8:\"settings\";i:7;s:9:\"templates\";}}s:26:\"FeatureDetailedModeSection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:15:\"auto_categories\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Represents
  whether auto-categories of entities supported for certain language or not\";s:4:\"type\";s:7:\"boolean\";}s:15:\"entity_mentions\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Represents
  whether mentions of entities supported for certain language or not\";s:4:\"type\";s:7:\"boolean\";}s:15:\"entity_opinions\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Represents
  whether opinions of entities supported for certain language or not\";s:4:\"type\";s:7:\"boolean\";}s:16:\"entity_relations\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Represents
  whether relations of entities supported for certain language or not\";s:4:\"type\";s:7:\"boolean\";}s:13:\"entity_themes\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Represents
  whether themes of entities supported for certain language or not\";s:4:\"type\";s:7:\"boolean\";}s:10:\"intentions\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Represents
  whether intentions detection supported for certain language or not\";s:4:\"type\";s:7:\"boolean\";}s:18:\"language_detection\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Represents
  whether language detection feature supported or not\";s:4:\"type\";s:7:\"boolean\";}s:15:\"model_sentiment\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Represents
  whether model-based sentiment supported for certain language or not\";s:4:\"type\";s:7:\"boolean\";}s:14:\"named_entities\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Represents
  whether named entities extraction supported for certain language or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"pos_tagging\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Represents
  whether POS tagging supported for certain language or not\";s:4:\"type\";s:7:\"boolean\";}s:7:\"queries\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Represents
  whether queries of entities supported for certain language or not\";s:4:\"type\";s:7:\"boolean\";}s:9:\"sentiment\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Represents
  whether sentiment detection supported for certain language or not\";s:4:\"type\";s:7:\"boolean\";}s:17:\"sentiment_phrases\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Represents
  whether sentiment phrases detection supported for certain language or not\";s:4:\"type\";s:7:\"boolean\";}s:13:\"summarization\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Represents
[...]
