---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:4200:\"### The Internet
  of Things for Everyone\n\nThe Adafruit IO HTTP API provides access to your Adafruit
  IO data from any programming language or hardware environment that can speak HTTP.
  The easiest way to get started is with [an Adafruit IO learn guide](https://learn.adafruit.com/series/adafruit-io-basics)
  and [a simple Internet of Things capable device like the Feather Huzzah](https://www.adafruit.com/product/2821).\n\nThis
  API documentation is hosted on GitHub Pages and is available at [https://github.com/adafruit/io-api](https://github.com/adafruit/io-api).
  For questions or comments visit the [Adafruit IO Forums](https://forums.adafruit.com/viewforum.php?f=56)
  or the [adafruit-io channel on the Adafruit Discord server](https://discord.gg/adafruit).\n\n####
  Authentication\n\nAuthentication for every API request happens through the `X-AIO-Key`
  header or query parameter and your IO API key. A simple cURL request to get all
  available feeds for a user with the username \"io_username\" and the key \"io_key_12345\"
  could look like this:\n\n    $ curl -H \"X-AIO-Key: io_key_12345\" https://io.adafruit.com/api/v2/io_username/feeds\n\nOr
  like this:\n\n    $ curl \"https://io.adafruit.com/api/v2/io_username/feeds?X-AIO-Key=io_key_12345\n\nUsing
  the node.js [request](https://github.com/request/request) library, IO HTTP requests
  are as easy as:\n\n```js\nvar request = require('request');\n\nvar options = {\n
  \ url: 'https://io.adafruit.com/api/v2/io_username/feeds',\n  headers: {\n    'X-AIO-Key':
  'io_key_12345',\n    'Content-Type': 'application/json'\n  }\n};\n\nfunction callback(error,
  response, body) {\n  if (!error && response.statusCode == 200) {\n    var feeds
  = JSON.parse(body);\n    console.log(feeds.length + \" FEEDS AVAILABLE\");\n\n    feeds.forEach(function
  (feed) {\n      console.log(feed.name, feed.key);\n    })\n  }\n}\n\nrequest(options,
  callback);\n```\n\nUsing the ESP8266 Arduino HTTPClient library, an HTTPS GET request
  would look like this (replacing `---` with your own values in the appropriate locations):\n\n```arduino\n///
  based on\n/// https://github.com/esp8266/Arduino/blob/master/libraries/ESP8266HTTPClient/examples/Authorization/Authorization.ino\n\n#include
  <Arduino.h>\n#include <ESP8266WiFi.h>\n#include <ESP8266WiFiMulti.h>\n#include <ESP8266HTTPClient.h>\n\nESP8266WiFiMulti
  WiFiMulti;\n\nconst char* ssid = \"---\";\nconst char* password = \"---\";\n\nconst
  char* host = \"io.adafruit.com\";\n\nconst char* io_key = \"---\";\nconst char*
  path_with_username = \"/api/v2/---/dashboards\";\n\n// Use web browser to view and
  copy\n// SHA1 fingerprint of the certificate\nconst char* fingerprint = \"77 00
  54 2D DA E7 D8 03 27 31 23 99 EB 27 DB CB A5 4C 57 18\";\n\nvoid setup() {\n  Serial.begin(115200);\n\n
  \ for(uint8_t t = 4; t > 0; t--) {\n    Serial.printf(\"[SETUP] WAIT %d...\\n\",
  t);\n    Serial.flush();\n    delay(1000);\n  }\n\n  WiFi.mode(WIFI_STA);\n  WiFiMulti.addAP(ssid,
  password);\n\n  // wait for WiFi connection\n  while(WiFiMulti.run() != WL_CONNECTED)
  {\n    Serial.print('.');\n    delay(1000);\n  }\n\n  Serial.println(\"[WIFI] connected!\");\n\n
  \ HTTPClient http;\n\n  // start request with URL and TLS cert fingerprint for verification\n
  \ http.begin(\"https://\" + String(host) + String(path_with_username), fingerprint);\n\n
  \ // IO API authentication\n  http.addHeader(\"X-AIO-Key\", io_key);\n\n  // start
  connection and send HTTP header\n  int httpCode = http.GET();\n\n  // httpCode will
  be negative on error\n  if(httpCode > 0) {\n    // HTTP header has been send and
  Server response header has been handled\n    Serial.printf(\"[HTTP] GET response:
  %d\\n\", httpCode);\n\n    // HTTP 200 OK\n    if(httpCode == HTTP_CODE_OK) {\n
  \     String payload = http.getString();\n      Serial.println(payload);\n    }\n\n
  \   http.end();\n  }\n}\n\nvoid loop() {}\n```\n\n#### Client Libraries\n\nWe have
  client libraries to help you get started with your project: [Python](https://github.com/adafruit/io-client-python),
  [Ruby](https://github.com/adafruit/io-client-ruby), [Arduino C++](https://github.com/adafruit/Adafruit_IO_Arduino),
  [Javascript](https://github.com/adafruit/adafruit-io-node), and [Go](https://github.com/adafruit/io-client-go)
  are available. They're all open source, so if they don't already do what you want,
  you can fork and add any feature you'd like.\n\n\";s:5:\"title\";s:11:\"Adafruit
  IO\";s:7:\"version\";s:5:\"2.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:3:\"iot\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:91:\"https://api.apis.guru/v2/cache/logo/https_io.adafruit.com_api_docs_adafruit-flower-left.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:66:\"https://raw.githubusercontent.com/adafruit/io-api/gh-pages/v2.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:12:\"adafruit.com\";}"
host: io.adafruit.com
basePath: /api/v2
paths: ~
produces:
- application/json
- text/csv
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":14:{s:8:\"Activity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"action\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"dateTime\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:5:\"model\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"dateTime\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Block\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"block_feeds\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/BlockFeed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:6:\"column\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"row\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"size_x\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"size_y\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"visual_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"BlockFeed\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"feed\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Feed\";}s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Dashboard\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"blocks\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Block\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"completed_at\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"created_epoch\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:3:\"ele\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"expiration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"feed_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"group_id\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:3:\"lat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DataResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"completed_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"created_epoch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"ele\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"expiration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"feed_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"lat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"updated_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Feed\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:10:\"created_at\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Additional
  details about this feed.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Number
  of data points stored by this feed.\";s:4:\"type\";s:7:\"integer\";}s:5:\"first\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Data\";}s:4:\"type\";s:6:\"object\";}s:4:\"last\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Data\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:11:\"shared_with\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Access
  control list for this feed\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:5:\"group\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ShallowGroup\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:6:\"groups\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ShallowGroup\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:7:\"history\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"last_value\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"license\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"status_notify\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Is
  status notification active?\";s:4:\"type\";s:7:\"boolean\";}s:14:\"status_timeout\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Status
  notification timeout in minutes.\";s:4:\"type\";s:7:\"integer\";}s:11:\"unit_symbol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"unit_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"private\";s:4:\"enum\";a:2:{i:0;s:7:\"private\";i:1;s:6:\"public\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Group\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"created_at\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"feeds\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Feed\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Permission\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"created_at\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:5:\"model\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"feed\";s:4:\"enum\";a:3:{i:0;s:4:\"feed\";i:1;s:5:\"group\";i:2;s:9:\"dashboard\";}s:4:\"type\";s:6:\"string\";}s:9:\"object_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"scope\";O:8:\"stdClass\":3:{s:7:\"default\";s:6:\"public\";s:4:\"enum\";a:4:{i:0;s:6:\"secret\";i:1;s:6:\"public\";i:2;s:4:\"user\";i:3;s:12:\"organization\";}s:4:\"type\";s:6:\"string\";}s:11:\"scope_value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ShallowGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"created_at\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Token\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Trigger\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"color\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"dateTime\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"updated_at\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"dateTime\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
