---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:11:\"description\";s:35:\"Certified Health
  IT Product Listing\";s:7:\"version\";s:5:\"8.1.0\";s:5:\"title\";s:4:\"CHPL\";s:14:\"termsOfService\";s:27:\"http://terms/of/service.url\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:13:\"CHPL@ainq.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"License
  Text\";s:3:\"url\";s:58:\"https://github.com/chpladmin/chpl-api/blob/staging/LICENSE\";}}"
host: chpl.healthit.gov
basePath: /rest
paths:
  /acbs/:
    get:
      tags:
      - certification-body-controller
      summary: List all certification bodies (ACBs).
      description: Setting the 'editable' parameter to true will return all ACBs that
        the logged in user has edit permissions on.Setting 'showDeleted' to true will
        include even those ACBs that have been deleted. The logged in user must have
        ROLE_ADMIN to see deleted ACBs. The default behavior of this service is to
        list all of the ACBs in the system that are not deleted.
      operationId: getAcbsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: editable
        in: query
        description: editable
        required: false
        type: boolean
      - name: showDeleted
        in: query
        description: showDeleted
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CertificationBodyResults'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /acbs/add_user:
    post:
      tags:
      - certification-body-controller
      summary: Add a user to an ACB.
      description: The logged in user must have ROLE_ADMIN or ROLE_ACB_ADMIN and have
        administrative authority on the  specified ACB. It is recommended to pass
        'ADMIN' in as the 'authority' field to guarantee maximum compatibility although
        'READ' and 'DELETE' are also valid choices.  Note that this method gives special
        permission on a specific ACB and is not the  equivalent of assigning the ROLE_ACB_ADMIN
        role. Please view /users/grant_role  request for more information on that.
      operationId: addUserToAcbUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - in: body
        name: updateRequest
        description: updateRequest
        required: true
        schema:
          $ref: '#/definitions/UpdateUserAndAcbRequest'
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /acbs/create:
    post:
      tags:
      - certification-body-controller
      summary: Create a new ACB.
      description: The logged in user must have ROLE_ADMIN to create a new ACB.
      operationId: createAcbUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - in: body
        name: acbInfo
        description: acbInfo
        required: true
        schema:
          $ref: '#/definitions/CertificationBody'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CertificationBody'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /acbs/update:
    post:
      tags:
      - certification-body-controller
      summary: Update an existing ACB.
      description: The logged in user must either have ROLE_ADMIN or have ROLE_ACB_ADMIN  to
        update an existing ACB.
      operationId: updateAcbUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - in: body
        name: acbInfo
        description: acbInfo
        required: true
        schema:
          $ref: '#/definitions/CertificationBody'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CertificationBody'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /acbs/{acbId}:
    get:
      tags:
      - certification-body-controller
      summary: Get details about a specific certification body (ACB).
      description: The logged in user must either have ROLE_ADMIN or have ROLE_ACB_ADMIN
        or ROLE_ACB_STAFF  for the ACB with the provided ID.
      operationId: getAcbByIdUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: acbId
        in: path
        description: acbId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CertificationBody'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /acbs/{acbId}/delete:
    post:
      tags:
      - certification-body-controller
      summary: Delete an ACB.
      description: The logged in user must have ROLE_ADMIN.
      operationId: deleteAcbUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: acbId
        in: path
        description: acbId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /acbs/{acbId}/remove_user/{userId}:
    post:
      tags:
      - certification-body-controller
      summary: Remove user permissions from an ACB.
      description: The logged in user must have ROLE_ADMIN or ROLE_ACB_ADMIN and have
        administrative authority on the  specified ACB. The user specified in the
        request will have all authorities  removed that are associated with the specified
        ACB.
      operationId: deleteUserFromAcbUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: acbId
        in: path
        description: acbId
        required: true
        type: integer
        format: int64
      - name: userId
        in: path
        description: userId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /acbs/{acbId}/undelete:
    post:
      tags:
      - certification-body-controller
      summary: Restore a deleted ACB.
      description: ACBs are unique in the CHPL in that they can be restored after
        a delete. The logged in user must have ROLE_ADMIN.
      operationId: undeleteAcbUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: acbId
        in: path
        description: acbId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /acbs/{acbId}/users:
    get:
      tags:
      - certification-body-controller
      summary: List users with permissions on a specified ACB.
      description: The logged in user must have ROLE_ADMIN or have administrative
        or read authority on the  specified ACB.
      operationId: getUsersUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: acbId
        in: path
        description: acbId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PermittedUserResults'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/acbs:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for certification bodies.
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. Only users calling this API with ROLE_ADMIN
        may set the 'showDeleted' flag to true. Those users are allowed to see activity
        for all certification bodies including that have been deleted. The default
        behavior is to show all activity for non-deleted ACBs.
      operationId: activityForACBsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      - name: showDeleted
        in: query
        description: showDeleted
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/acbs/{id}:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for a specific certification body.
      description: 'Users can optionally specify ''start'' and ''end'' parameters
        to restrict the date range of the results. Only users calling this API with
        ROLE_ADMIN may set the ''showDeleted'' flag to true and should do so if the
        certification body specified in the path has been deleted. '
      operationId: activityForACBByIdUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      - name: showDeleted
        in: query
        description: showDeleted
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/announcements:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for all announcements
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. The default behavior is to return announcement
        activity across all dates.
      operationId: activityForAnnoucementsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/announcements/{id}:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for a specific announcement
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. The default behavior is to return all activity
        for the specified announcement across all dates.
      operationId: activityForAnnouncementByIdUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/api_keys:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for all API keys
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. The default behavior is to return API key activity
        across all dates.
      operationId: activityForApiKeysUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/atls:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for testing labs.
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. Only users calling this API with ROLE_ADMIN
        may set the 'showDeleted' flag to true. Those users are allowed to see activity
        for all testing labs including that have been deleted. The default behavior
        is to show all activity for non-deleted ATLs.
      operationId: activityforATLsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      - name: showDeleted
        in: query
        description: showDeleted
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/atls/{id}:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for a specific testing lab.
      description: 'Users can optionally specify ''start'' and ''end'' parameters
        to restrict the date range of the results. Only users calling this API with
        ROLE_ADMIN may set the ''showDeleted'' flag to true and should do so if the
        testing lab specified in the path has been deleted. '
      operationId: activityForATLByIdUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      - name: showDeleted
        in: query
        description: showDeleted
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/certifications:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for all certifications
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. The default behavior is to return activity
        for all certifications across all dates.
      operationId: activityForCertificationsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/certifications/{id}:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for a specific certification
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. The default behavior is to return activity
        for the specified certification across all dates.
      operationId: activityForCertificationByIdUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/certified_products:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for certified products
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. The default behavior is to return certified
        product activity across all dates.
      operationId: activityForCertifiedProductsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/certified_products/{id}:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for a specific certified product
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. The default behavior is to return activity
        for the specified certified product across all dates.
      operationId: activityForCertifiedProductByIdUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/developers:
    get:
      tags:
      - activity-controller
      summary: Get auditable data about all developers
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. The default behavior is to return the all developer
        activity across all dates.
      operationId: activityForDevelopersUsingGET_1
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/developers/{id}:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for a specific developer
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. The default behavior is to return activity
        for the specified developer across all dates.
      operationId: activityForDevelopersUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/pending_certified_products:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for all pending certified products
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. The default behavior is to return activity
        for all pending certified products across all dates.
      operationId: activityForPendingCertifiedProductsUsingGET_1
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/pending_certified_products/{id}:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for a specific pending certified product
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. The default behavior is to return activity
        for the specified pending certified product across all dates.
      operationId: activityForPendingCertifiedProductsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/products:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for all products
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. The default behavior is to return activity
        for all products across all dates.
      operationId: activityForProductsUsingGET_1
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/products/{id}:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for a specific product
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. The default behavior is to return activity
        for the specified product across all dates.
      operationId: activityForProductsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/user_activities:
    get:
      tags:
      - activity-controller
      summary: Track the actions of all users in the system
      description: The authenticated user calling this method must have ROLE_ADMIN.
        Users can optionally specify 'start' and 'end' parameters to restrict the
        date range of the results. The default behavior is to return the all user
        activity across all dates.
      operationId: activityByUserUsingGET_1
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/UserActivity'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/user_activities/{id}:
    get:
      tags:
      - activity-controller
      summary: Track the actions of a specific user in the system
      description: The authenticated user calling this method must have ROLE_ADMIN.
        Users can optionally specify 'start' and 'end' parameters to restrict the
        date range of the results. The default behavior is to return the specified
        user's activity across all dates.
      operationId: activityByUserUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/users:
    get:
      tags:
      - activity-controller
      summary: Get auditable data about all CHPL user accounts
      description: API users can optionally specify to only get activity a certain
        number of days into the past with the 'lastNDays' parameter. The default behavior
        is to return activity for all CHPL user across all dates.
      operationId: activityForUsersUsingGET_1
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/users/{id}:
    get:
      tags:
      - activity-controller
      summary: Get auditable data about a specific CHPL user account
      description: API users can optionally specify to only get activity a certain
        number of days into the past with the 'lastNDays' parameter. The default behavior
        is to return activity for the specified CHPL user across all dates.
      operationId: activityForUsersUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/versions:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for all versions
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. The default behavior is to return activity
        for all versions across all dates.
      operationId: activityForVersionsUsingGET_1
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /activity/versions/{id}:
    get:
      tags:
      - activity-controller
      summary: Get auditable data for a specific version
      description: Users can optionally specify 'start' and 'end' parameters to restrict
        the date range of the results. The default behavior is to return activity
        for the specified version across all dates.
      operationId: activityForVersionsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      - name: start
        in: query
        description: start
        required: false
        type: integer
        format: int64
      - name: end
        in: query
        description: end
        required: false
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityEvent'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /announcements/:
    get:
      tags:
      - announcement-controller
      summary: Get all announcements.
      description: The announcement listing is open to anyone, however announcements
        may be both public and private and  only public announcements will be returned
        if a non-authenticated user calls this method.  Both public and private announcements
        will be returned to an authenticated user. Scheduled future announcements
        can be retrieved by setting the 'future' flag to true  and only CHPL users
        with ROLE_ADMIN will be granted access to that data.
      operationId: getAnnouncementsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: future
        in: query
        description: future
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AnnouncementResults'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /announcements/create:
    post:
      tags:
      - announcement-controller
      summary: Create a new announcement.
      description: Only CHPL users with ROLE_ADMIN are able to create announcements.
      operationId: createAnnouncementUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - in: body
        name: announcementInfo
        description: announcementInfo
        required: true
        schema:
          $ref: '#/definitions/Announcement'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Announcement'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /announcements/update:
    post:
      tags:
      - announcement-controller
      summary: Change an existing announcement.
      description: Only CHPL users with ROLE_ADMIN are able to update announcements.
      operationId: updateAnnouncementUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - in: body
        name: announcementInfo
        description: announcementInfo
        required: true
        schema:
          $ref: '#/definitions/Announcement'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Announcement'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /announcements/{announcementId}:
    get:
      tags:
      - announcement-controller
      summary: Get a specific announcement.
      operationId: getAnnouncementByIdUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: announcementId
        in: path
        description: announcementId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Announcement'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /announcements/{announcementId}/delete:
    post:
      tags:
      - announcement-controller
      summary: Delete an existing announcement.
      description: Only CHPL users with ROLE_ADMIN are able to delete announcements.
      operationId: deleteAnnouncementUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: announcementId
        in: path
        description: announcementId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /atls/:
    get:
      tags:
      - testing-lab-controller
      summary: List all testing labs (ATLs).
      description: Setting the 'editable' parameter to true will return all ATLs that
        the logged in user has edit permissions on.Setting 'showDeleted' to true will
        include even those ATLs that have been deleted. The logged in user must have
        ROLE_ADMIN to see deleted ATLs. The default behavior of this service is to
        list all of the ATLs in the system that are not deleted.
      operationId: getAtlsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: editable
        in: query
        description: editable
        required: false
        type: boolean
      - name: showDeleted
        in: query
        description: showDeleted
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TestingLabResults'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /atls/add_user:
    post:
      tags:
      - testing-lab-controller
      summary: Add a user to an ATL.
      description: The logged in user must have ROLE_ADMIN or ROLE_ATL_ADMIN and have
        administrative authority on the  specified ATL. It is recommended to pass
        'ADMIN' in as the 'authority' field to guarantee maximum compatibility although
        'READ' and 'DELETE' are also valid choices.  Note that this method gives special
        permission on a specific ATL and is not the  equivalent of assigning the ROLE_ATL_ADMIN
        role. Please view /users/grant_role  request for more information on that.
      operationId: addUserToAtlUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - in: body
        name: updateRequest
        description: updateRequest
        required: true
        schema:
          $ref: '#/definitions/UpdateUserAndAtlRequest'
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /atls/create:
    post:
      tags:
      - testing-lab-controller
      summary: Create a new testing lab.
      description: The logged in user must have ROLE_ADMIN to create a new testing
        lab.
      operationId: createUsingPOST_1
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - in: body
        name: atlInfo
        description: atlInfo
        required: true
        schema:
          $ref: '#/definitions/TestingLab'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TestingLab'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /atls/update:
    post:
      tags:
      - testing-lab-controller
      summary: Update an existing ATL.
      description: The logged in user must either have ROLE_ADMIN or have administrative
        authority on the testing lab whose data is being updated.
      operationId: updateUsingPOST_1
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - in: body
        name: atlInfo
        description: atlInfo
        required: true
        schema:
          $ref: '#/definitions/TestingLab'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TestingLab'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /atls/{atlId}:
    get:
      tags:
      - testing-lab-controller
      summary: Get details about a specific testing lab (ATL).
      description: The logged in user must have ROLE_ADMIN or have either read oradministrative
        authority on the testing lab with the ID specified.
      operationId: getAtlByIdUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: atlId
        in: path
        description: atlId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TestingLab'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /atls/{atlId}/delete:
    post:
      tags:
      - testing-lab-controller
      summary: Delete an ATL.
      description: The logged in user must have ROLE_ADMIN.
      operationId: deleteAtlUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: atlId
        in: path
        description: atlId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /atls/{atlId}/remove_user/{userId}:
    post:
      tags:
      - testing-lab-controller
      summary: Remove user permissions from an ATL.
      description: The logged in user must have ROLE_ADMIN or ROLE_ATL_ADMIN and have
        administrative authority on the  specified ATL. The user specified in the
        request will have all authorities  removed that are associated with the specified
        ATL.
      operationId: deleteUserFromAtlUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: atlId
        in: path
        description: atlId
        required: true
        type: integer
        format: int64
      - name: userId
        in: path
        description: userId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /atls/{atlId}/undelete:
    post:
      tags:
      - testing-lab-controller
      summary: Restore a deleted ATL.
      description: ATLs are unique in the CHPL in that they can be restored after
        a delete. The logged in user must have ROLE_ADMIN.
      operationId: undeleteAtlUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: atlId
        in: path
        description: atlId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /atls/{atlId}/users:
    get:
      tags:
      - testing-lab-controller
      summary: List users with permissions on a specified ATL.
      description: The logged in user must have ROLE_ADMIN or have administrative
        or read authority on the  specified ATL.
      operationId: getUsersUsingGET_1
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: atlId
        in: path
        description: atlId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PermittedUserResults'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /auth/authenticate:
    post:
      tags:
      - authentication-controller
      summary: Log in.
      description: Call this method to authenticate a user. The value returned is
        that user's token which must be passed on all subsequent requests in the Authorization
        header. Specifically, the Authorization header must have a value of 'Bearer
        token-that-gets-returned'.
      operationId: authenticateJSONUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - in: body
        name: credentials
        description: credentials
        required: true
        schema:
          $ref: '#/definitions/LoginCredentials'
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /auth/change_password:
    post:
      tags:
      - authentication-controller
      summary: Change password.
      description: Change the logged in user's password as long as the old password
        passed in matches what is stored in the database.
      operationId: changePasswordUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/UpdatePasswordRequest'
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /auth/reset_password:
    post:
      tags:
      - authentication-controller
      summary: Reset a user's password.
      description: This service generates a new password, saves it to the user's account  and
        sends an email to the address associated with the user's account  containing
        the new password.
      operationId: resetPasswordUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - in: body
        name: userInfo
        description: userInfo
        required: true
        schema:
          $ref: '#/definitions/UserResetPasswordJSONObject'
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /certification_ids/:
    get:
      tags:
      - certification-id-controller
      summary: Retrieves a list of all CMS EHR Certification IDs along with the date
        they were created.
      operationId: getAllUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/SimpleCertificationId'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /certification_ids/create:
    post:
      tags:
      - certification-id-controller
      summary: Creates a new CMS EHR Certification ID for a collection of products
        if one does not already exist.
      description: Retrieves a CMS EHR Certification ID for a collection of products
        or creates a new one if one does not already exist. Returns a list of basic
        product information, Criteria and CQM calculations, and the associated CMS
        EHR Certification ID if one exists.
      operationId: createCertificationIdUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: ids
        in: query
        description: ids
        required: true
        type: array
        items:
          type: integer
          format: int64
        collectionFormat: multi
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CertificationIdResults'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /certification_ids/search:
    get:
      tags:
      - certification-id-controller
      summary: Retrieves a CMS EHR Certification ID for a collection of products.
      description: Retrieves a CMS EHR Certification ID for a collection of products.
        Returns a list of basic product information, Criteria and CQM calculations,
        and the associated CMS EHR Certification ID if one exists.
      operationId: searchCertificationIdUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: ids
        in: query
        description: ids
        required: false
        type: array
        items:
          type: integer
          format: int64
        collectionFormat: multi
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CertificationIdResults'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /certification_ids/verify:
    get:
      tags:
      - certification-id-controller
      summary: Verify whether one or more specific EHR Certification IDs are valid
        or not.
      description: Returns true or false for each EHR Certification ID specified.
      operationId: verifyCertificationIdUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: ids
        in: query
        description: ids
        required: true
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CertificationIdVerifyResults'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - certification-id-controller
      summary: Verify whether one or more specific EHR Certification IDs are valid
        or not.
      description: Returns a boolean value for each EHR Certification ID specified.
      operationId: verifyCertificationIdUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: body
        required: true
        schema:
          $ref: '#/definitions/CertificationIdVerificationBody'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CertificationIdVerifyResults'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /certification_ids/{certificationId}:
    get:
      tags:
      - certification-id-controller
      summary: Get information about a specific EHR Certification ID.
      description: Retrieves detailed information about a specific EHR Certification
        ID including the list of products that make it up.
      operationId: getCertificationIdUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: certificationId
        in: path
        description: certificationId
        required: true
        type: string
      - name: includeCriteria
        in: query
        description: includeCriteria
        required: false
        type: boolean
      - name: includeCqms
        in: query
        description: includeCqms
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CertificationIdLookupResults'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /certified_product_details:
    get:
      tags:
      - search-view-controller
      summary: Get all data about a certified product.
      operationId: getCertifiedProductDetailsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: productId
        in: query
        description: productId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CertifiedProductSearchDetails'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /certified_products:
    get:
      tags:
      - search-view-controller
      summary: Get basic data about all certified products in the system.
      operationId: getAllCertifiedProductsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BasicSearchResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /certified_products/:
    get:
      tags:
      - certified-product-controller
      summary: List all certified products
      description: Default behavior is to return all certified products in the system.  The
        optional 'versionId' parameter filters the certified products to those assigned
        to that version. The 'editable' parameter will return only those certified
        products that the logged in user has permission to edit as  determined by
        ACB roles and authorities. Not all information about  every certified product
        is returned. Call the /details service for more information.
      operationId: getCertifiedProductsByVersionUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: versionId
        in: query
        description: versionId
        required: false
        type: integer
        format: int64
      - name: editable
        in: query
        description: editable
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/CertifiedProduct'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /certified_products/meaningful_use_users/upload:
    post:
      tags:
      - certified-product-controller
      summary: DEPRECATED. Upload a file to update the number of meaningful use users
        for each CHPL Product Number
      description: 'Accepts a CSV file with chpl_product_number and num_meaningful_use_users
        to update the number of meaningful use users for each CHPL Product Number.
        The user uploading the file must have ROLE_ADMIN or ROLE_ONC_STAFF '
      operationId: uploadMeaningfulUseUsersUsingPOST
      consumes:
      - multipart/form-data
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: file
        in: formData
        description: file
        required: true
        type: file
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/MeaningfulUseUserResults'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      deprecated: true
  /certified_products/pending:
    get:
      tags:
      - certified-product-controller
      summary: List pending certified products.
      description: Pending certified products are created via CSV file upload and
        are left in the 'pending' state  until validated and approved by an appropriate
        ACB administrator.
      operationId: getPendingCertifiedProductsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PendingCertifiedProductResults'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /certified_products/pending/confirm:
    post:
      tags:
      - certified-product-controller
      summary: Confirm a pending certified product.
      description: Creates a new certified product in the system based on all of the
        information  passed in on the request. This information may differ from what
        was previously  entered for the pending certified product during upload. It
        will first be validated  to check for errors, then a new certified product
        is created, and the old pending certified product will be removed. ROLE_ACB_ADMIN
        or ROLE_ACB_STAFF  and administrative authority on the ACB is required.
      operationId: confirmPendingCertifiedProductUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - in: body
        name: pendingCp
        description: pendingCp
        required: true
        schema:
          $ref: '#/definitions/PendingCertifiedProductDetails'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CertifiedProductSearchDetails'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /certified_products/pending/{pcpId}:
    get:
      tags:
      - certified-product-controller
      summary: List a specific pending certified product.
      operationId: getPendingCertifiedProductByIdUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: pcpId
        in: path
        description: pcpId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PendingCertifiedProductDetails'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /certified_products/pending/{pcpId}/reject:
    post:
      tags:
      - certified-product-controller
      summary: Reject a pending certified product.
      description: Essentially deletes a pending certified product. ROLE_ACB_ADMIN,
        ROLE_ACB_STAFF  and administrative authority on the ACB is required.
      operationId: rejectPendingCertifiedProductsUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: pcpId
        in: path
        description: pcpId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /certified_products/update:
    post:
      tags:
      - certified-product-controller
      summary: Update an existing certified product.
      description: Updates the certified product after first validating the request.
        The logged in user must have ROLE_ADMIN or ROLE_ACB_ADMIN and have administrative  authority
        on the ACB that certified the product. If a different ACB is passed in as
        part of the request, an ownership change will take place and the logged in  user
        must have ROLE_ADMIN.
      operationId: updateCertifiedProductUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - in: body
        name: updateRequest
        description: updateRequest
        required: true
        schema:
          $ref: '#/definitions/CertifiedProductSearchDetails'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CertifiedProductSearchDetails'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /certified_products/upload:
    post:
      tags:
      - certified-product-controller
      summary: Upload a file with certified products
      description: Accepts a CSV file with very specific fields to create pending
        certified products.  The user uploading the file must have ROLE_ACB_ADMIN
        or ROLE_ACB_STAFF  and administrative authority on the ACB(s) specified in
        the file.
      operationId: uploadUsingPOST
      consumes:
      - multipart/form-data
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: file
        in: formData
        description: file
        required: true
        type: file
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PendingCertifiedProductResults'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /certified_products/{certifiedProductId}/details:
    get:
      tags:
      - certified-product-controller
      summary: Get all details for a specified certified product.
      description: Returns all information in the CHPL related to the specified certified
        product.
      operationId: getCertifiedProductByIdUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: certifiedProductId
        in: path
        description: certifiedProductId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CertifiedProductSearchDetails'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /corrective_action_plan/:
    get:
      tags:
      - corrective-action-plan-controller
      summary: DEPRECATED. Use surveillance API methods.<br/>List corrective action
        plans for a certified product.
      description: List all corrective action plans, both open and resolved, for a
        certified product.
      operationId: getCorrectiveActionPlansForCertifiedProductUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: certifiedProductId
        in: query
        description: certifiedProductId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CorrectiveActionPlanResults'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      deprecated: true
  /corrective_action_plan/create:
    post:
      tags:
      - corrective-action-plan-controller
      summary: DEPRECATED. Use surveillance API methods. <br/>Create a new corrective
        action plan.
      description: The logged in user must have either ROLE_ADMIN or ROLE_ACB_ADMIN
        and administrative  authority on the associated ACB.
      operationId: createUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - in: body
        name: createRequest
        description: createRequest
        required: true
        schema:
          $ref: '#/definitions/CorrectiveActionPlanDetails'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CorrectiveActionPlanDetails'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      deprecated: true
  /corrective_action_plan/documentation/{capDocId}:
    get:
      tags:
      - corrective-action-plan-controller
      summary: DEPRECATED. Use surveillance API methods.<br/> Download CAP supporting
        documentation.
      description: Download a specific file that was previously uploaded to a corrective
        action plan.
      operationId: getCorrectiveActionPlanDocumentationByIdUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: capDocId
        in: path
        description: capDocId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      deprecated: true
  /corrective_action_plan/documentation/{docId}/delete:
    post:
      tags:
      - corrective-action-plan-controller
      summary: DEPRECATED. Use surveillance API methods.<br/>Remove documentation
        from a corrective action plan.
      description: The logged in user must have either ROLE_ADMIN or ROLE_ACB_ADMIN
        and administrative  authority on the associated ACB.
      operationId: deleteDocumentationByIdUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: docId
        in: path
        description: docId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      deprecated: true
  /corrective_action_plan/update:
    post:
      tags:
      - corrective-action-plan-controller
      summary: DEPRECATED. Use surveillance API methods.<br/>Update a corrective action
        plan.
      description: The logged in user must have ROLE_ADMIN or ROLE_ACB_ADMIN and administrative
        authority on the ACB associated with the corrective action plan.
      operationId: updateUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - in: body
        name: updateRequest
        description: updateRequest
        required: true
        schema:
          $ref: '#/definitions/CorrectiveActionPlanDetails'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CorrectiveActionPlanDetails'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      deprecated: true
  /corrective_action_plan/{capId}:
    get:
      tags:
      - corrective-action-plan-controller
      summary: DEPRECATED. Use surveillance API methods.<br/> Get corrective action
        plan details.
      description: Get all of the information about a specific corrective action plan.
        These details  include the presence and associated id's of any uploaded supporting  documentation
        but not the contents of those documents. Use /documentation/{capDocId} to  view
        the files.
      operationId: getCorrectiveActionPlanByIdUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: capId
        in: path
        description: capId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CorrectiveActionPlanDetails'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      deprecated: true
  /corrective_action_plan/{capId}/documentation:
    post:
      tags:
      - corrective-action-plan-controller
      summary: DEPRECATED. Use surveillance API methods.<br/>Add documentation to
        an existing CAP.
      description: Upload a file of any kind (current size limit 5MB) as supporting  documentation
        to an existing CAP. The logged in user uploading the file  must have either
        ROLE_ADMIN or ROLE_ACB_ADMIN and administrative  authority on the associated
        ACB.
      operationId: uploadUsingPOST_1
      consumes:
      - multipart/form-data
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: capId
        in: path
        description: capId
        required: true
        type: integer
        format: int64
      - name: file
        in: formData
        description: file
        required: true
        type: file
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      deprecated: true
  /corrective_action_plan/{planId}/delete:
    post:
      tags:
      - corrective-action-plan-controller
      summary: DEPRECATED. Use surveillance API methods.<br/>Delete a corrective action
        plan.
      description: The logged in user must have either ROLE_ADMIN or ROLE_ACB_ADMIN
        and administrative  authority on the associated ACB.
      operationId: deleteAcbUsingPOST_1
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: planId
        in: path
        description: planId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: string
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      deprecated: true
  /data/accessibility_standards:
    get:
      tags:
      - search-view-controller
      summary: Get all possible accessibility standard options in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getAccessibilityStandardsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchOption'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/age_ranges:
    get:
      tags:
      - search-view-controller
      summary: Get all possible test participant age ranges in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getAgeRangesUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchOption'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/certification_bodies:
    get:
      tags:
      - search-view-controller
      summary: Get all possible ACBs in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getCertBodyNamesUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/KeyValueModel'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/certification_editions:
    get:
      tags:
      - search-view-controller
      summary: Get all possible certificaiton editions in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getEditionNamesUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/KeyValueModel'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/certification_statuses:
    get:
      tags:
      - search-view-controller
      summary: Get all possible certification statuses in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getCertificationStatusesUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/KeyValueModel'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/classification_types:
    get:
      tags:
      - search-view-controller
      summary: Get all possible classifications in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getClassificationNamesUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/KeyValueModel'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/developer_statuses:
    get:
      tags:
      - search-view-controller
      summary: Get all possible developer status options in the CHPL
      operationId: getDeveloperStatusesUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchOption'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/developers:
    get:
      tags:
      - search-view-controller
      summary: Get all possible developer names in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getDeveloperNamesUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/KeyValueModelStatuses'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/education_types:
    get:
      tags:
      - search-view-controller
      summary: Get all possible education types in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getEducationTypesUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchOption'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/macra_measures:
    get:
      tags:
      - search-view-controller
      summary: Get all possible macra measure options in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getMacraMeasuresUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchOption'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/nonconformity_status_types:
    get:
      tags:
      - search-view-controller
      summary: Get all possible nonconformity status type options in the CHPL
      operationId: getNonconformityStatusTypesUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchOption'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/nonconformity_types:
    get:
      tags:
      - search-view-controller
      summary: Get all possible nonconformity type options in the CHPL
      operationId: getNonconformityTypeOptionsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchOption'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/practice_types:
    get:
      tags:
      - search-view-controller
      summary: Get all possible practice types in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getPracticeTypeNamesUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/KeyValueModel'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/products:
    get:
      tags:
      - search-view-controller
      summary: Get all possible product names in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getProductNamesUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/KeyValueModelStatuses'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/qms_standards:
    get:
      tags:
      - search-view-controller
      summary: Get all possible qms standard options in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getQmsStandardsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchOption'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/search_options:
    get:
      tags:
      - search-view-controller
      summary: Get all search options in the CHPL
      description: This returns all of the other /data/{something} results in one
        single response.
      operationId: getPopulateSearchDataUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: simple
        in: query
        description: simple
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PopulateSearchOptions'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/surveillance_requirement_types:
    get:
      tags:
      - search-view-controller
      summary: Get all possible surveillance requirement type options in the CHPL
      operationId: getSurveillanceRequirementTypesUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchOption'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/surveillance_requirements:
    get:
      tags:
      - search-view-controller
      summary: Get all possible surveillance requirement options in the CHPL
      operationId: getSurveillanceRequirementOptionsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SurveillanceRequirementOptions'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/surveillance_result_types:
    get:
      tags:
      - search-view-controller
      summary: Get all possible surveillance result type options in the CHPL
      operationId: getSurveillanceResultTypesUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchOption'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/surveillance_types:
    get:
      tags:
      - search-view-controller
      summary: Get all possible surveillance type options in the CHPL
      operationId: getSurveillanceTypesUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchOption'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/targeted_users:
    get:
      tags:
      - search-view-controller
      summary: Get all possible targeted user options in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getTargetedUsersUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchOption'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/test_functionality:
    get:
      tags:
      - search-view-controller
      summary: Get all possible test functionality options in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getTestFunctionalityUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchOption'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/test_standards:
    get:
      tags:
      - search-view-controller
      summary: Get all possible test standard options in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getTestStandardsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchOption'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/test_tools:
    get:
      tags:
      - search-view-controller
      summary: Get all possible test tool options in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getTestToolsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchOption'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /data/ucd_processes:
    get:
      tags:
      - search-view-controller
      summary: Get all possible UCD process options in the CHPL
      description: This is useful for knowing what values one might possibly search
        for.
      operationId: getUcdProcessesUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchOption'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /decertifications/certified_products:
    get:
      tags:
      - search-view-controller
      summary: Get all decertified certified products in the CHPL
      description: Returns all decertified certified products, their decertified statuses,
        and the total count of decertified certified products as the recordCount.
      operationId: getDecertifiedCertifiedProductsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: pageNumber
        in: query
        description: pageNumber
        required: false
        type: integer
        format: int32
      - name: pageSize
        in: query
        description: pageSize
        required: false
        type: integer
        format: int32
      - name: orderBy
        in: query
        description: orderBy
        required: false
        type: string
      - name: sortDescending
        in: query
        description: sortDescending
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /decertifications/developers:
    get:
      tags:
      - search-view-controller
      summary: Get all developer decertifications in the CHPL
      description: This returns all decertified developers.
      operationId: getDecertifiedDevelopersUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DecertifiedDeveloperResults'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /decertifications/inactive_certificates:
    get:
      tags:
      - search-view-controller
      summary: Get decertified certified products in the CHPL with inactive certificates
      description: Returns only decertified certified products with inactive certificates.
        Includes their decertified statuses and the total count of decertified certified
        products as the recordCount.
      operationId: getDecertifiedInactiveCertificateCertifiedProductsUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: pageNumber
        in: query
        description: pageNumber
        required: false
        type: integer
        format: int32
      - name: pageSize
        in: query
        description: pageSize
        required: false
        type: integer
        format: int32
      - name: orderBy
        in: query
        description: orderBy
        required: false
        type: string
      - name: sortDescending
        in: query
        description: sortDescending
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /developers/:
    get:
      tags:
      - developer-controller
      summary: List all developers in the system.
      operationId: getDevelopersUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: showDeleted
        in: query
        description: showDeleted
        required: false
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/DeveloperResults'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /developers/update:
    post:
      tags:
      - developer-controller
      summary: Update a developer or merge developers.
      description: 'This method serves two purposes: to update a single developer''s
        information and to merge two developers into one.  A user of this service
        should pass in a single developerId to update just that developer.  If multiple
        developer IDs are passed in, the service performs a merge meaning that a new
        developer  is created with all of the information provided (name, address,
        etc.) and all of the prodcuts  previously assigned to the developerId''s specified
        are reassigned to the newly created developer. The  old developers are then
        deleted.  The logged in user must have ROLE_ADMIN, ROLE_ACB_ADMIN, or ROLE_ACB_STAFF. '
      operationId: updateDeveloperUsingPOST
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - in: body
        name: developerInfo
        description: developerInfo
        required: true
        schema:
          $ref: '#/definitions/UpdateDevelopersRequest'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Developer'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /developers/{developerId}:
    get:
      tags:
      - developer-controller
      summary: Get information about a specific developer.
      operationId: getDeveloperByIdUsingGET
      consumes:
      - application/json
      produces:
      - application/json;charset=utf-8
      parameters:
      - name: developerId
        in: path
        description: developerId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Developer'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /download:
    get:
      tags:
      - search-view-controller
      summary: Download the entire CHPL as XML.
      description: Once per day, the entire certified product listing is written out
        to an XML file on the CHPL servers. This method allows any user to download
        that XML file. It is formatted in such a way that users may import it into
        Microsoft Excel or any other XML tool of their choosing.
      operationId: downloadUsingGET
      consumes:
      - application/json
      produces:
      - application/xml
      parameters:
      - name: edition
        in: query
        description: edition
        required: false
        type: string
      - name: format
        in: query
        description: format
        required: false
        type: string
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /key/:
    get:
      tags:
      - api-key-controller
      summary: List all API keys that have been created.
[...]
