---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:21:\"Interactive
  Golos API\";s:11:\"description\";s:602:\"Interactive Golos API lets you interact
  with Golos Blockchain and make a request, get output and start implementing new
  apps! APIs have default parameters set to get you started and see how request works.
  API list is compiled from [Golos Github](https://github.com/GolosChain/golos) [1](https://github.com/GolosChain/golos/blob/master/libraries/chain/include/golos/chain/database.hpp).
  If you want to contribute documenting detail of properties and output, contact [@epexa](https://telegram.me/epexa).
  You can also check full list here [Golos.js](https://github.com/GolosChain/golos-js/tree/master/doc)\";s:14:\"termsOfService\";s:0:\"\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}}"
host: api.golos.io
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:1:\"_\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:42:\"describe
  output object json and properties\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"description
  of example\";}s:8:\"example_\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"description
  of example_ etc.\";}}}s:11:\"get_version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"blockchain_version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"release
  version of blockchain\";}s:14:\"steem_revision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"golos
  revision hash\";}s:11:\"fc_revision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"fc
  library revision hash\";}}}s:17:\"get_account_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:29:\"number
  of registered accounts\";}s:8:\"Accounts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Account
  name\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Description
  of product.\";}s:13:\"json_metadata\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Json
  data of account\";}s:7:\"created\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Account
  created date and time.\";}s:10:\"reputation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Account
  reputation.\";}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
