---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:534:\"<fullname>Amazon
  Data Lifecycle Manager</fullname> <p>With Amazon Data Lifecycle Manager, you can
  manage the lifecycle of your AWS resources. You create lifecycle policies, which
  are used to automate operations on the specified resources.</p> <p>Amazon DLM supports
  Amazon EBS volumes and snapshots. For information about using Amazon DLM with Amazon
  EBS, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/snapshot-lifecycle.html\">Automating
  the Amazon EBS Snapshot Lifecycle</a> in the <i>Amazon EC2 User Guide</i>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:29:\"Amazon
  Data Lifecycle Manager\";s:7:\"version\";s:10:\"2018-01-12\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:87:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/dlm-2018-01-12.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:3:\"dlm\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"amazonaws_dlm\";s:4:\"type\";s:7:\"openapi\";}}"
host: dlm.amazonaws.com
basePath: /
paths:
  /policies:
    get:
      description: <p>Gets summary information about all or the specified data lifecycle
        policies.</p> <p>To get complete information about a policy, use <a>GetLifecyclePolicy</a>.</p>
      operationId: GetLifecyclePolicies
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetLifecyclePoliciesRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetLifecyclePoliciesResponse'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        482:
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        483:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a policy to manage the lifecycle of the specified AWS resources.
        You can create up to 100 lifecycle policies.
      operationId: CreateLifecyclePolicy
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateLifecyclePolicyRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateLifecyclePolicyResponse'
        480:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        481:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        482:
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  /policies/{policyId}:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Updates the specified lifecycle policy.
      operationId: UpdateLifecyclePolicy
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateLifecyclePolicyRequest'
      - in: path
        name: policyId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateLifecyclePolicyResponse'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        482:
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        483:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  /policies/{policyId}/:
    delete:
      description: Deletes the specified lifecycle policy and halts the automated
        operations that the policy specified.
      operationId: DeleteLifecyclePolicy
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteLifecyclePolicyRequest'
      - in: path
        name: policyId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteLifecyclePolicyResponse'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        482:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
    get:
      description: Gets detailed information about the specified lifecycle policy.
      operationId: GetLifecyclePolicy
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetLifecyclePolicyRequest'
      - in: path
        name: policyId
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetLifecyclePolicyResponse'
        480:
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        481:
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        482:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":44:{s:5:\"Count\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:1000;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:28:\"CreateLifecyclePolicyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PolicyDescription\";s:11:\"description\";s:86:\"A
  description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are supported.\";}s:16:\"ExecutionRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExecutionRoleArn\";s:11:\"description\";s:108:\"The
  Amazon Resource Name (ARN) of the IAM role used to run the operations specified
  by the lifecycle policy.\";}s:13:\"PolicyDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PolicyDetails\";s:11:\"description\";s:121:\"<p>The
  configuration details of the lifecycle policy.</p> <p>Target tags cannot be re-used
  across lifecycle policies.</p>\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/SettablePolicyStateValues\";s:11:\"description\";s:68:\"The
  desired activation state of the lifecycle policy after creation.\";}}s:8:\"required\";a:4:{i:0;s:16:\"ExecutionRoleArn\";i:1;s:11:\"Description\";i:2;s:5:\"State\";i:3;s:13:\"PolicyDetails\";}s:4:\"type\";s:6:\"object\";}s:29:\"CreateLifecyclePolicyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"PolicyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PolicyId\";s:11:\"description\";s:39:\"The
  identifier of the lifecycle policy.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CreateRule\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Specifies
  when to create snapshots of EBS volumes.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"Interval\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Interval\";s:11:\"description\";s:49:\"The
  interval. The supported values are 12 and 24.\";}s:12:\"IntervalUnit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/IntervalUnitValues\";s:11:\"description\";s:18:\"The
  interval unit.\";}s:5:\"Times\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TimesList\";s:11:\"description\";s:131:\"<p>The
  time, in UTC, to start the operation.</p> <p>The operation occurs within a one-hour
  window following the specified time.</p>\";}}s:8:\"required\";a:2:{i:0;s:8:\"Interval\";i:1;s:12:\"IntervalUnit\";}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteLifecyclePolicyRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteLifecyclePolicyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"ExecutionRoleArn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"GetLifecyclePoliciesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"GetLifecyclePoliciesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Policies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/LifecyclePolicySummaryList\";s:11:\"description\";s:49:\"Summary
  information about the lifecycle policies.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GetLifecyclePolicyRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"GetLifecyclePolicyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/LifecyclePolicy\";s:11:\"description\";s:48:\"Detailed
  information about the lifecycle policy.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GettablePolicyStateValues\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"ENABLED\";i:1;s:8:\"DISABLED\";i:2;s:5:\"ERROR\";}s:4:\"type\";s:6:\"string\";}s:23:\"InternalServerException\";O:8:\"stdClass\":0:{}s:8:\"Interval\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:18:\"IntervalUnitValues\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:5:\"HOURS\";}s:4:\"type\";s:6:\"string\";}s:23:\"InvalidRequestException\";O:8:\"stdClass\":0:{}s:15:\"LifecyclePolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Detailed
  information about a lifecycle policy.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"DateCreated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:62:\"The
  local date and time when the lifecycle policy was created.\";}s:12:\"DateModified\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:68:\"The
  local date and time when the lifecycle policy was last modified.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PolicyDescription\";s:11:\"description\";s:40:\"The
  description of the lifecycle policy.\";}s:16:\"ExecutionRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExecutionRoleArn\";s:11:\"description\";s:108:\"The
  Amazon Resource Name (ARN) of the IAM role used to run the operations specified
  by the lifecycle policy.\";}s:13:\"PolicyDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PolicyDetails\";s:11:\"description\";s:41:\"The
  configuration of the lifecycle policy\";}s:8:\"PolicyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PolicyId\";s:11:\"description\";s:39:\"The
  identifier of the lifecycle policy.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/GettablePolicyStateValues\";s:11:\"description\";s:45:\"The
  activation state of the lifecycle policy.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"LifecyclePolicySummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Summary
  information about a lifecycle policy.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PolicyDescription\";s:11:\"description\";s:40:\"The
  description of the lifecycle policy.\";}s:8:\"PolicyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PolicyId\";s:11:\"description\";s:39:\"The
  identifier of the lifecycle policy.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/GettablePolicyStateValues\";s:11:\"description\";s:45:\"The
  activation state of the lifecycle policy.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"LifecyclePolicySummaryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/LifecyclePolicySummary\";}s:4:\"type\";s:5:\"array\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":0:{}s:17:\"PolicyDescription\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:500;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:13:\"PolicyDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Specifies
  the configuration of a lifecycle policy.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"ResourceTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceTypeValuesList\";s:11:\"description\";s:18:\"The
  resource type.\";}s:9:\"Schedules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ScheduleList\";s:11:\"description\";s:39:\"The
  schedule of policy-defined actions.\";}s:10:\"TargetTags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TargetTagList\";s:11:\"description\";s:66:\"The
  single tag that identifies targeted resources for this policy.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"PolicyId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"PolicyIdList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/PolicyId\";}s:4:\"type\";s:5:\"array\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":0:{}s:18:\"ResourceTypeValues\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:6:\"VOLUME\";}s:4:\"type\";s:6:\"string\";}s:22:\"ResourceTypeValuesList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceTypeValues\";}s:8:\"maxItems\";i:1;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:10:\"RetainRule\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Specifies
  the number of snapshots to keep for each EBS volume.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Count\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Count\";s:11:\"description\";s:73:\"The
  number of snapshots to keep for each volume, up to a maximum of 1000.\";}}s:8:\"required\";a:1:{i:0;s:5:\"Count\";}s:4:\"type\";s:6:\"object\";}s:8:\"Schedule\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Specifies
  a schedule.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"CreateRule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CreateRule\";s:11:\"description\";s:16:\"The
  create rule.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ScheduleName\";s:11:\"description\";s:25:\"The
  name of the schedule.\";}s:10:\"RetainRule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RetainRule\";s:11:\"description\";s:16:\"The
  retain rule.\";}s:9:\"TagsToAdd\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TagsToAddList\";s:11:\"description\";s:119:\"The
  tags to apply to policy-created resources. These user-defined tags are in addition
  to the AWS-added lifecycle tags.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ScheduleList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Schedule\";}s:8:\"maxItems\";i:1;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:12:\"ScheduleName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:500;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:25:\"SettablePolicyStateValues\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"ENABLED\";i:1;s:8:\"DISABLED\";}s:4:\"type\";s:6:\"string\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Tag\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Specifies
  a tag for a resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:12:\"The
  tag key.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:14:\"The
  tag value.\";}}s:8:\"required\";a:2:{i:0;s:3:\"Key\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:9:\"TagFilter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"TagsToAddFilterList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TagFilter\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:13:\"TagsToAddList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:13:\"TargetTagList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:20:\"TargetTagsFilterList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TagFilter\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:4:\"Time\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:41:\"^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$\";s:4:\"type\";s:6:\"string\";}s:9:\"TimesList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Time\";}s:8:\"maxItems\";i:1;s:4:\"type\";s:5:\"array\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:28:\"UpdateLifecyclePolicyRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PolicyDescription\";s:11:\"description\";s:38:\"A
  description of the lifecycle policy.\";}s:16:\"ExecutionRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExecutionRoleArn\";s:11:\"description\";s:108:\"The
  Amazon Resource Name (ARN) of the IAM role used to run the operations specified
  by the lifecycle policy.\";}s:13:\"PolicyDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PolicyDetails\";s:11:\"description\";s:103:\"<p>The
  configuration of the lifecycle policy.</p> <p>Target tags cannot be re-used across
  policies.</p>\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/SettablePolicyStateValues\";s:11:\"description\";s:68:\"The
  desired activation state of the lifecycle policy after creation.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"UpdateLifecyclePolicyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}"
...
