---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:57:\"Public
  API for managing Manufacturer Center related data.\";s:5:\"title\";s:19:\"Manufacturer
  Center\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"marketing\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:63:\"https://manufacturers.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:13:\"manufacturers\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"google_manufacturers\";s:4:\"type\";s:7:\"openapi\";}}"
host: manufacturers.googleapis.com
basePath: /
paths:
  /v1/{parent}/products:
    get:
      description: Lists all the products in a Manufacturer Center account.
      operationId: accounts.products.list
      parameters:
      - collectionFormat: multi
        description: The information to be included in the response. Only sections
          listed herenwill be returned.nnIf this parameter is not specified, ATTRIBUTES
          and ISSUES are returned.nThis behavior is temporary and will be removed
          once all clients are readynor at the latest end of July 2018. After that
          no sections will be returned.
        in: query
        items:
          enum:
          - UNKNOWN
          - ATTRIBUTES
          - ISSUES
          - DESTINATION_STATUSES
          type: string
        name: include
        type: array
      - description: Maximum number of product statuses to return in the response,
          used fornpaging.
        in: query
        name: pageSize
        type: integer
      - description: The token returned by the previous request.
        in: query
        name: pageToken
        type: string
      - description: Parent ID in the format `accounts/{account_id}`.nn`account_id`
          - The ID of the Manufacturer Center account.
        in: path
        name: parent
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListProductsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/manufacturercenter
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1/{parent}/products/{name}:
    delete:
      description: Deletes the product from a Manufacturer Center account.
      operationId: accounts.products.delete
      parameters:
      - description: Name in the format `{target_country}:{content_language}:{product_id}`.nn`target_country`   -
          The target country of the product as a CLDR territoryn                     code
          (for example, US).nn`content_language` - The content language of the product
          as a two-lettern                     ISO 639-1 language code (for example,
          en).nn`product_id`     -   The ID of the product. For more information,
          seen                     https://support.google.com/manufacturers/answer/6124116#id.
        in: path
        name: name
        required: true
        type: string
        x-reservedExpansion: true
      - description: Parent ID in the format `accounts/{account_id}`.nn`account_id`
          - The ID of the Manufacturer Center account.
        in: path
        name: parent
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/manufacturercenter
      tags:
      - accounts
    get:
      description: Gets the product from a Manufacturer Center account, including
        productnissues.nnA recently updated product takes around 15 minutes to process.
        Changes arenonly visible after it has been processed. While some issues may
        benavailable once the product has been processed, other issues may take daysnto
        appear.
      operationId: accounts.products.get
      parameters:
      - collectionFormat: multi
        description: The information to be included in the response. Only sections
          listed herenwill be returned.nnIf this parameter is not specified, ATTRIBUTES
          and ISSUES are returned.nThis behavior is temporary and will be removed
          once all clients are readynor at the latest end of July 2018. After that
          no sections will be returned.
        in: query
        items:
          enum:
          - UNKNOWN
          - ATTRIBUTES
          - ISSUES
          - DESTINATION_STATUSES
          type: string
        name: include
        type: array
      - description: Name in the format `{target_country}:{content_language}:{product_id}`.nn`target_country`   -
          The target country of the product as a CLDR territoryn                     code
          (for example, US).nn`content_language` - The content language of the product
          as a two-lettern                     ISO 639-1 language code (for example,
          en).nn`product_id`     -   The ID of the product. For more information,
          seen                     https://support.google.com/manufacturers/answer/6124116#id.
        in: path
        name: name
        required: true
        type: string
        x-reservedExpansion: true
      - description: Parent ID in the format `accounts/{account_id}`.nn`account_id`
          - The ID of the Manufacturer Center account.
        in: path
        name: parent
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Product'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/manufacturercenter
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    put:
      description: Inserts or updates the attributes of the product in a Manufacturer
        Centernaccount.nnCreates a product with the provided attributes. If the product
        alreadynexists, then all attributes are replaced with the new ones. The checks
        atnupload time are minimal. All required attributes need to be present for
        anproduct to be valid. Issues may show up later after the API has accepted
        annew upload for a product and it is possible to overwrite an existing validnproduct
        with an invalid product. To detect this, you should retrieve thenproduct and
        check it for issues once the new version is available.nnUploaded attributes
        first need to be processed before they can benretrieved. Until then, new products
        will be unavailable, and retrievalnof previously uploaded products will return
        the original state of thenproduct.
      operationId: accounts.products.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Attributes'
      - description: Name in the format `{target_country}:{content_language}:{product_id}`.nn`target_country`   -
          The target country of the product as a CLDR territoryn                     code
          (for example, US).nn`content_language` - The content language of the product
          as a two-lettern                     ISO 639-1 language code (for example,
          en).nn`product_id`     -   The ID of the product. For more information,
          seen                     https://support.google.com/manufacturers/answer/6124116#id.
        in: path
        name: name
        required: true
        type: string
        x-reservedExpansion: true
      - description: Parent ID in the format `accounts/{account_id}`.nn`account_id`
          - The ID of the Manufacturer Center account.
        in: path
        name: parent
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/manufacturercenter
      tags:
      - accounts
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":12:{s:10:\"Attributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"Attributes
  of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116.\";s:10:\"properties\";O:8:\"stdClass\":35:{s:19:\"additionalImageLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"The
  additional images of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#addlimage.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}s:8:\"ageGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"The
  target age group of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#agegroup.\";s:4:\"type\";s:6:\"string\";}s:5:\"brand\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"The
  brand name of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#brand.\";s:4:\"type\";s:6:\"string\";}s:8:\"capacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Capacity\";s:11:\"description\";s:120:\"The
  capacity of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#capacity.\";}s:5:\"color\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  color of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#color.\";s:4:\"type\";s:6:\"string\";}s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Count\";s:11:\"description\";s:114:\"The
  count of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#count.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"The
  description of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#description.\";s:4:\"type\";s:6:\"string\";}s:14:\"disclosureDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"The
  disclosure date of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#disclosure.\";s:4:\"type\";s:6:\"string\";}s:19:\"excludedDestination\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  list of excluded destinations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:18:\"featureDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"The
  rich format description of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#featuredesc.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FeatureDescription\";}s:4:\"type\";s:5:\"array\";}s:6:\"flavor\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"The
  flavor of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#flavor.\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"The
  format of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#format.\";s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"The
  target gender of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#gender.\";s:4:\"type\";s:6:\"string\";}s:4:\"gtin\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"The
  Global Trade Item Number (GTIN) of the product. For more information,\nsee https://support.google.com/manufacturers/answer/6124116#gtin.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"imageLink\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Image\";s:11:\"description\";s:114:\"The
  image of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#image.\";}s:19:\"includedDestination\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  list of included destinations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"itemGroupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"The
  item group id of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#itemgroupid.\";s:4:\"type\";s:6:\"string\";}s:8:\"material\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"The
  material of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#material.\";s:4:\"type\";s:6:\"string\";}s:3:\"mpn\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"The
  Manufacturer Part Number (MPN) of the product. For more information,\nsee https://support.google.com/manufacturers/answer/6124116#mpn.\";s:4:\"type\";s:6:\"string\";}s:7:\"pattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  pattern of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#pattern.\";s:4:\"type\";s:6:\"string\";}s:13:\"productDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"The
  details of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productdetail.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProductDetail\";}s:4:\"type\";s:5:\"array\";}s:11:\"productLine\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"The
  name of the group of products related to the product. For more\ninformation, see\nhttps://support.google.com/manufacturers/answer/6124116#productline.\";s:4:\"type\";s:6:\"string\";}s:11:\"productName\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"The
  canonical name of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productname.\";s:4:\"type\";s:6:\"string\";}s:14:\"productPageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"The
  URL of the detail page of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productpage.\";s:4:\"type\";s:6:\"string\";}s:11:\"productType\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"The
  type or category of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#producttype.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"releaseDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"The
  release date of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#release.\";s:4:\"type\";s:6:\"string\";}s:5:\"scent\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"The
  scent of the product. For more information, see\n https://support.google.com/manufacturers/answer/6124116#scent.\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"The
  size of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#size.\";s:4:\"type\";s:6:\"string\";}s:10:\"sizeSystem\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"The
  size system of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#sizesystem.\";s:4:\"type\";s:6:\"string\";}s:8:\"sizeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"The
  size type of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#sizetype.\";s:4:\"type\";s:6:\"string\";}s:20:\"suggestedRetailPrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:138:\"The
  suggested retail price (MSRP) of the product. For more information,\nsee https://support.google.com/manufacturers/answer/6124116#price.\";}s:14:\"targetClientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  target client id. Should only be used in the accounts of the data\npartners.\";s:4:\"type\";s:6:\"string\";}s:5:\"theme\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  theme of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#theme.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  title of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#title.\";s:4:\"type\";s:6:\"string\";}s:9:\"videoLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  videos of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#video.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Capacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"The
  capacity of a product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#capacity.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  unit of the capacity, i.e., MB, GB, or TB.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  numeric value of the capacity.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Count\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"The
  number of products in a single package. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#count.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  unit in which these products are counted.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  numeric value of the number of products in a package.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DestinationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  destination status.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"destination\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  name of the destination.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  status of the destination.\";s:4:\"enum\";a:4:{i:0;s:7:\"UNKNOWN\";i:1;s:6:\"ACTIVE\";i:2;s:7:\"PENDING\";i:3;s:11:\"DISAPPROVED\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is
  empty JSON object `{}`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"FeatureDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"A
  feature description of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#featuredesc.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"headline\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"A
  short description of the feature.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Image\";s:11:\"description\";s:41:\"An
  optional image describing the feature.\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"A
  detailed description of the feature.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Image\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"An
  image.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"imageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"The
  URL of the image. For crawled images, this is the provided URL. For\nuploaded images,
  this is a serving URL from Google if the image has been\nprocessed successfully.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  status of the image.\n@OutputOnly\";s:4:\"enum\";a:13:{i:0;s:18:\"STATUS_UNSPECIFIED\";i:1;s:18:\"PENDING_PROCESSING\";i:2;s:13:\"PENDING_CRAWL\";i:3;s:2:\"OK\";i:4;s:7:\"ROBOTED\";i:5;s:8:\"XROBOTED\";i:6;s:11:\"CRAWL_ERROR\";i:7;s:16:\"PROCESSING_ERROR\";i:8;s:14:\"DECODING_ERROR\";i:9;s:7:\"TOO_BIG\";i:10;s:13:\"CRAWL_SKIPPED\";i:11;s:10:\"HOSTLOADED\";i:12;s:8:\"HTTP_404\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  type of the image, i.e., crawled or uploaded.\n@OutputOnly\";s:4:\"enum\";a:3:{i:0;s:16:\"TYPE_UNSPECIFIED\";i:1;s:7:\"CRAWLED\";i:2;s:8:\"UPLOADED\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Issue\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Product
  issue.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"attribute\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"If
  present, the attribute that triggered the issue. For more information\nabout attributes,
  see\nhttps://support.google.com/manufacturers/answer/6124116.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Longer
  description of the issue focused on how to resolve it.\";s:4:\"type\";s:6:\"string\";}s:11:\"destination\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  destination this issue applies to.\";s:4:\"type\";s:6:\"string\";}s:10:\"resolution\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"What
  needs to happen to resolve the issue.\";s:4:\"enum\";a:3:{i:0;s:22:\"RESOLUTION_UNSPECIFIED\";i:1;s:11:\"USER_ACTION\";i:2;s:18:\"PENDING_PROCESSING\";}s:4:\"type\";s:6:\"string\";}s:8:\"severity\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  severity of the issue.\";s:4:\"enum\";a:4:{i:0;s:20:\"SEVERITY_UNSPECIFIED\";i:1;s:5:\"ERROR\";i:2;s:7:\"WARNING\";i:3;s:4:\"INFO\";}s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  timestamp when this issue appeared.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Short
  title describing the nature of the issue.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"The
  server-generated type of the issue, for example,\n\u201CINCORRECT_TEXT_FORMATTING\u201D,
  \u201CIMAGE_NOT_SERVEABLE\u201D, etc.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListProductsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  token for the retrieval of the next page of product statuses.\";s:4:\"type\";s:6:\"string\";}s:8:\"products\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"List
  of the products.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Price\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"A
  price.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  numeric value of the price.\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  currency in which the price is denoted.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Product\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Product
  data.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:62:\"Attributes
  of the product uploaded to the Manufacturer Center.\";}s:15:\"contentLanguage\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  content language of the product as a two-letter ISO 639-1 language code\n(for example,
  en).\";s:4:\"type\";s:6:\"string\";}s:19:\"destinationStatuses\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  status of the destinations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DestinationStatus\";}s:4:\"type\";s:5:\"array\";}s:15:\"finalAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:318:\"Final
  attributes of the product. The final attributes are obtained by\noverriding the
  uploaded attributes with the manually provided and deleted\nattributes. Google systems
  only process, evaluate, review, and/or use final\nattributes.\n\nThis field is deprecated
  and will be removed end of July 2018. Please use\nattributes.\";}s:6:\"issues\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  server-generated list of issues associated with the product.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Issue\";}s:4:\"type\";s:5:\"array\";}s:25:\"manuallyDeletedAttributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:174:\"Names
  of the attributes of the product deleted manually via the\nManufacturer Center UI.\n\nThis
  field is deprecated and will be removed end of July 2018. Please use\nattributes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:26:\"manuallyProvidedAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:162:\"Attributes
  of the product provided manually via the Manufacturer Center UI.\n\nThis field is
  deprecated and will be removed end of July 2018. Please use\nattributes.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:481:\"Name
  in the format `{target_country}:{content_language}:{product_id}`.\n\n`target_country`
  \  - The target country of the product as a CLDR territory\n                     code
  (for example, US).\n\n`content_language` - The content language of the product as
  a two-letter\n                     ISO 639-1 language code (for example, en).\n\n`product_id`
  \    -   The ID of the product. For more information, see\n                     https://support.google.com/manufacturers/answer/6124116#id.\";s:4:\"type\";s:6:\"string\";}s:6:\"parent\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Parent
  ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer
  Center account.\";s:4:\"type\";s:6:\"string\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  ID of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#id.\";s:4:\"type\";s:6:\"string\";}s:13:\"targetCountry\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  target country of the product as a CLDR territory code (for example,\nUS).\";s:4:\"type\";s:6:\"string\";}s:18:\"uploadedAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:167:\"Attributes
  of the product uploaded via the Manufacturer Center API or via\nfeeds.\n\nThis field
  is deprecated and will be removed end of July 2018. Please use\nattributes.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ProductDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"A
  product detail of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productdetail.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"attributeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the attribute.\";s:4:\"type\";s:6:\"string\";}s:14:\"attributeValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  value of the attribute.\";s:4:\"type\";s:6:\"string\";}s:11:\"sectionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"A
  short section name that can be reused between multiple product details.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
