---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:23:\"Talent IQ Candidate API\";s:7:\"version\";s:5:\"0.1.0\";}"
host: api.talentiq.co
basePath: /v2
paths:
  /person:
    post:
      description: Gets `Person` objects.nOptional query param of **size** determinesnsize
        of returned arrayn
      consumes:
      - application/json
      produces:
      - application/json
      operationId: personHandle
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/person'
      - type: string
        name: x-api-key
        in: header
        required: true
      responses:
        200:
          description: Successful response, Candidate Found.
          schema:
            $ref: '#/definitions/response'
          headers:
            Content-Type:
              type: string
              description: content type of the data returned, generally in the same
                format you requested
            X-RateLimit-Limit:
              type: integer
              description: The number of allowed requests in the current period
            X-RateLimit-Remaining:
              type: integer
              description: The number of remaining requests in the current period
            X-RateLimit-Reset:
              type: integer
              description: The number of seconds left in the current period
        202:
          description: Successful response, Candidate found.
          schema:
            $ref: '#/definitions/response'
          headers:
            X-Rate-Limit-Limit:
              type: integer
              description: The number of allowed requests in the current period
            X-Rate-Limit-Remaining:
              type: integer
              description: The number of remaining requests in the current period
            X-Rate-Limit-Reset:
              type: integer
              description: The number of seconds left in the current period
        206:
          description: Successful response
          schema:
            $ref: '#/definitions/response'
          headers:
            X-Rate-Limit-Limit:
              type: integer
              description: The number of allowed requests in the current period
            X-Rate-Limit-Remaining:
              type: integer
              description: The number of remaining requests in the current period
            X-Rate-Limit-Reset:
              type: integer
              description: The number of seconds left in the current period
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/response'
        401:
          description: Unauthorized or Invalid Key.
          schema:
            $ref: '#/definitions/response'
        403:
          description: Successful response
          schema:
            $ref: '#/definitions/response'
          headers:
            X-Rate-Limit-Limit:
              type: integer
              description: The number of allowed requests in the current period
            X-Rate-Limit-Remaining:
              type: integer
              description: The number of remaining requests in the current period
            X-Rate-Limit-Reset:
              type: integer
              description: The number of seconds left in the current period
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/response'
        405:
          description: Method Not Allowed
          schema:
            $ref: '#/definitions/response'
        422:
          description: Successful response
          schema:
            $ref: '#/definitions/response'
        429:
          description: Successful response
          schema:
            $ref: '#/definitions/response'
          headers:
            X-Rate-Limit-Limit:
              type: integer
              description: The number of allowed requests in the current period
            X-Rate-Limit-Remaining:
              type: integer
              description: The number of remaining requests in the current period
            X-Rate-Limit-Reset:
              type: integer
              description: The number of seconds left in the current period
        500:
          description: Successful response
          schema:
            $ref: '#/definitions/response'
        503:
          description: Service Unreachable
          schema:
            $ref: '#/definitions/response'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:6:\"region\";i:1;s:12:\"country-name\";i:2;s:8:\"locality\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"country-name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:16:\"extended-address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:8:\"locality\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:15:\"post-office-box\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:11:\"postal-code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:6:\"region\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:14:\"street-address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}}s:6:\"person\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:13:\"minProperties\";i:1;s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"aliases\";O:8:\"stdClass\":6:{s:11:\"description\";s:31:\"Other
  names the person goes by.\";s:4:\"type\";s:5:\"array\";s:8:\"maxItems\";i:5;s:8:\"minItems\";i:1;s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Other
  names the person may go by.\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}}s:9:\"education\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"maxItems\";i:5;s:8:\"minItems\";i:1;s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"degree\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"e.g.
  Bachelor\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:11:\"institution\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"e.g.
  Massachusetts Institute of Technology\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:5:\"major\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"e.g.
  Arts\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}}}s:6:\"emails\";O:8:\"stdClass\":6:{s:11:\"description\";s:55:\"Array
  containing all emails associated with the person.\";s:4:\"type\";s:5:\"array\";s:8:\"maxItems\";i:5;s:8:\"minItems\";i:1;s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Email
  addresses associated with the person.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";}}s:10:\"experience\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"company\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"e.g.
  Facebook\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:5:\"title\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"e.g.
  Software Engineer\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}s:20:\"additionalProperties\";b:1;}}s:9:\"locations\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:8:\"maxItems\";i:5;s:8:\"minItems\";i:1;s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/location\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;}s:8:\"profiles\";O:8:\"stdClass\":6:{s:11:\"description\";s:51:\"Social
  network profiles associated with the person.\";s:4:\"type\";s:5:\"array\";s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  URL to the person's social profile.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";}}s:6:\"skills\";O:8:\"stdClass\":6:{s:11:\"description\";s:27:\"Skills
  utilized in the job.\";s:4:\"type\";s:5:\"array\";s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"e.g.
  Microsoft Office\";s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}}s:10:\"webhookUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Specified
  url we will return response to\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";}s:8:\"websites\";O:8:\"stdClass\":6:{s:11:\"description\";s:45:\"Personal
  websites associated with the person.\";s:4:\"type\";s:5:\"array\";s:8:\"maxItems\";i:5;s:8:\"minItems\";i:1;s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"URL
  (as per RFC 3986) to your website, e.g. personal homepage\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"url\";}}}}s:13:\"person_object\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"basics\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":32:{s:14:\"additionalInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Requesting
  this information in a VC might be illegal in various regions\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"age\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Estimated
  age.\";s:4:\"type\";s:6:\"string\";}s:8:\"ageRange\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Estimated
  age range.\";s:4:\"type\";s:6:\"string\";}s:5:\"birth\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Information
  about the date and place of your birth\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Date
  (as per ISO 8601) e.g. 2014-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Place
  of birth e.g. New York\";s:4:\"type\";s:6:\"string\";}}}s:8:\"children\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Provide
  information about your children, e.g. number of children and their age\";s:4:\"type\";s:6:\"string\";}s:11:\"citizenship\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Information
  about your nationality, e.g. Canadian\";s:4:\"type\";s:6:\"string\";}}s:6:\"gender\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Provide
  information about your gender, e.g. male, female, other, $custom\";s:4:\"type\";s:6:\"string\";}s:15:\"homeOwnerStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Do
  they own their home?\";s:4:\"type\";s:6:\"string\";}s:15:\"householdIncome\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Do
  they own their home?\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/location\";}s:13:\"maritalStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Information
  about your civil status, e.g. married, single, divorced or widowed\";s:4:\"type\";s:6:\"string\";}s:6:\"salary\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  expected salary.\";s:4:\"type\";s:6:\"string\";}s:7:\"veteran\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Veteran
  status.\";s:4:\"type\";s:7:\"boolean\";}}}s:7:\"aliases\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Other
  names the user goes by.\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"A
  name.\";s:4:\"type\";s:6:\"string\";}}s:6:\"awards\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Specify
  any awards they have received throughout their professional career\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"awarder\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"e.g.
  Time Magazine\";s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"e.g.
  1989-06-12\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"e.g.
  Received for my work with Quantum Physics\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"e.g.
  One of the 100 greatest minds of the century\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:1;}}s:13:\"certification\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"authority\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"e.g.
  Oracle Inc., Institute of Mechanical Engineering, CIPD, United-States Immigration\";s:4:\"type\";s:6:\"string\";}s:12:\"certificates\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"expirationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Date
  (as per ISO 8601) e.g. 2014-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"e.g.
  Oracle Database 12c Administrator Certified Associate, H1B\";s:4:\"type\";s:6:\"string\";}s:9:\"permanent\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Specify
  permanency, e.g. false, true\";s:4:\"type\";s:7:\"boolean\";}s:7:\"regions\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"List
  of regions for authorization\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"e.g.
  United-States, New-York\";s:4:\"type\";s:6:\"string\";}}s:9:\"startDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Date
  (as per ISO 8601) e.g. 2014-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Thanks
  to $authorization/$certificate I am allowed to work/work as $profession/am qualified\";s:4:\"type\";s:6:\"string\";}s:12:\"verification\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"e.g.
  http://example-authority.com/verify\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:1;}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Short
  summary who this authority is\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"e.g.
  http://example-authority.com/\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:1;}}s:9:\"education\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"courses\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"List
  notable courses/subjects\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"e.g.
  H1302 - Introduction to American history\";s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"score
  point average, e.g. 1.5\";s:4:\"type\";s:6:\"string\";}s:10:\"score_best\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"best
  possible score on the scale, e.g. 1.0\";s:4:\"type\";s:6:\"string\";}s:11:\"score_worst\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"worst
  possible score on the scale, e.g. 5.0\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"e.g.
  http://example-university.com/course/example42\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:0;}}s:6:\"degree\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"e.g.
  Bachelor\";s:4:\"type\";s:6:\"string\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"e.g.
  2012-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:5:\"exams\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"List
  notable exams\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"e.g.
  year-end exam 2015\";s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"score
  point average, e.g. 1.5\";s:4:\"type\";s:6:\"string\";}s:10:\"score_best\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"best
  possible score on the scale, e.g. 1.0\";s:4:\"type\";s:6:\"string\";}s:11:\"score_worst\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"worst
  possible score on the scale, e.g. 5.0\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"e.g.
  http://example-university.com/exams/2015/year-end-exam\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:0;}}s:3:\"gpa\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"grade
  point average, e.g. 3.67/4.0\";s:4:\"type\";s:6:\"string\";}s:10:\"highlights\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Specify
  multiple accomplishments\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"e.g.
  Increased profits by 20% from 2011-2012 through viral advertising\";s:4:\"type\";s:6:\"string\";}}s:11:\"institution\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"e.g.
  Massachusetts Institute of Technology\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/location\";}s:5:\"major\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"e.g.
  Arts\";s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"e.g.
  2014-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"e.g.
  http://facebook.com\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:1;}}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"e.g.
  thomas@gmail.com\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";}s:6:\"emails\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Email
  addresses associated with the user.\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"e.g.
  thomas@gmail.com\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:5:\"email\";}s:10:\"isVerified\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Whether
  we have verified the email or not.\";s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}}s:20:\"additionalProperties\";b:1;}}s:6:\"events\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"List
  notable events attended or where they have been a speaker\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"endDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Date
  (as per ISO 8601) e.g. 2014-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/location\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"e.g.
  World Economic Forum\";s:4:\"type\";s:6:\"string\";}s:5:\"roles\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"e.g.
  attendee, visitor, coordinator, speaker, unconference_everything\";s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Date
  (as per ISO 8601) e.g. 2014-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Forum
  about world economics\";s:4:\"type\";s:6:\"string\";}s:5:\"talks\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"List
  of attended or given talks/presentations\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Date
  (as per ISO 8601) e.g. 2014-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:9:\"recording\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"e.g.
  http://google.com/84s7f8d\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";}s:6:\"slides\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"e.g.
  http://slideshare.com/a-presentation\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Awesome
  presentation about the state of the world\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"e.g.
  A state of the world\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Product
  showcase related to talk e.g. http://example.com/fancy_world_product\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:0;}}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"e.g.
  http://world-economic-forum.example.com/\";s:4:\"type\";s:6:\"string\";}}}}s:10:\"experience\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"company\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"e.g.
  Facebook\";s:4:\"type\";s:6:\"string\";}s:7:\"endDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"e.g.
  2012-06-29\";s:4:\"type\";s:6:\"string\";}s:10:\"highlights\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Specify
  multiple accomplishments\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"e.g.
  Increased profits by 20% from 2011-2012 through viral advertising\";s:4:\"type\";s:6:\"string\";}}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/location\";}s:6:\"salary\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  estimated salary for the position at the company.\";s:4:\"type\";s:6:\"string\";}s:6:\"skills\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Skills
  utilized in the job.\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"e.g.
  Microsoft Office\";s:4:\"type\";s:6:\"string\";}}s:9:\"startDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"resume.json
  uses the ISO 8601 date standard e.g. 2014-06-29\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Give
  an overview of your responsibilities at the company\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"e.g.
  Software Engineer\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"e.g.
  http://facebook.com\";s:4:\"type\";s:6:\"string\";}}}}s:8:\"industry\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"e.g.
  Software\";s:4:\"type\";s:6:\"string\";}s:9:\"interests\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"e.g.
  Friedrich Nietzsche\";s:4:\"type\";s:6:\"string\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"e.g.
  Philosophy\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:1;}}s:9:\"languages\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Languages
  the person speaks\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"level\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"e.g.
  Fluent, Beginner\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"e.g.
  English, Spanish\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:1;}}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/location\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/location\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  person's name, e.g., Daniel Amaya\";s:4:\"type\";s:6:\"string\";}s:13:\"organizations\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Organizations
  the person has been involved with.\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"endDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"e.g.
  2012-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"e.g.
  Timothy Cook\";s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"e.g.
  2014-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Give
  an overview of your responsibilities at the company\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"e.g.,
  web developer\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"e.g.,
  http://github.com/repo\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:1;}}s:7:\"patents\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Specify
  any certificates they have been awarded\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"dateIssued\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"e.g.
  2014-03-25\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  description of the patent\";s:4:\"type\";s:6:\"string\";}s:11:\"institution\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"e.g.
  MongoDB University\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"e.g.
  M101P: MongoDB for Developers\";s:4:\"type\";s:6:\"string\";}s:12:\"patentNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  patent number\";s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"e.g.
  https://s3.amazonaws.com/edu-cert.10gen.com/downloads/b5f42dc3aa1d4add9f1dc6ed290f1c81/Certificate.pdf\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:0;}}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Phone
  numbers are stored as strings so use any format you like, e.g. 712-117-2923\";s:4:\"type\";s:6:\"string\";}s:12:\"phoneNumbers\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Phone
  numbers associated with the user.\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Phone
  numbers are stored as strings so use any format you like, e.g. 712-117-2923\";s:4:\"type\";s:6:\"string\";}}s:6:\"photos\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Specify
  any number of social networks that you participate in\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"network\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"e.g.
  Facebook or Twitter\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"e.g.
  http://twitter.com/neutralthoughts\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:1;}}s:7:\"picture\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"URL
  (as per RFC 3986) to a picture in JPEG or PNG format\";s:4:\"type\";s:6:\"string\";}s:8:\"profiles\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Specify
  any number of social networks that you participate in\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"network\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"e.g.
  Facebook or Twitter\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"e.g.
  http://twitter.com/neutralthoughts\";s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"e.g.
  neutralthoughts\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:1;}}s:8:\"projects\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"activities\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"Specify
  your different projects/events for this experience\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"endDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Date
  (as per ISO 8601) e.g. 2014-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"e.g.
  Sponsor Acquisition\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"e.g.
  sponsoring officer, volunteer, contributor\";s:4:\"type\";s:6:\"string\";}s:6:\"skills\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Skills
  utilized in the job.\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"e.g.
  Microsoft Office\";s:4:\"type\";s:6:\"string\";}}s:9:\"startDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Date
  (as per ISO 8601) e.g. 2014-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Acquiring
  sponsors and maintaining the sponsorship relations\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Showcase
  your project/activity e.g. http://greenpeace.com/run-for-nature-2015\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:1;}}s:7:\"endDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Date
  (as per ISO 8601) e.g. 2014-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:6:\"entity\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"e.g.
  greenpeace\";s:4:\"type\";s:6:\"string\";}s:10:\"non-profit\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Specify
  if the project was a pure volunteer, non-profit activity\";s:4:\"type\";s:7:\"boolean\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"e.g.
  sponsorship officer, contributor\";s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Date
  (as per ISO 8601) e.g. 2014-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Give
  an overview of your non work projects such as volunteering, open-source or so\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"e.g.
  http://facebook.com\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:1;}}s:12:\"publications\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Specify
  your publications through your career\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"identifiers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"DOI\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"e.g.
  10.1000/182\";s:4:\"type\";s:6:\"string\";}s:3:\"EAN\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"e.g.
  4 003994 155486\";s:4:\"type\";s:6:\"string\";}s:4:\"GTIN\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"e.g.
  403456789012 1\";s:4:\"type\";s:6:\"string\";}s:4:\"ISBN\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"e.g.
  978-3-16-148410-0\";s:4:\"type\";s:6:\"string\";}s:4:\"ISRN\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"e.g.
  UIUCLIS--2001/9+EARCH\";s:4:\"type\";s:6:\"string\";}s:4:\"ISSN\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"e.g.
  0000-0000\";s:4:\"type\";s:6:\"string\";}s:4:\"ISTC\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"e.g.
  A02-2009-000004BE-A\";s:4:\"type\";s:6:\"string\";}}}s:20:\"additionalProperties\";b:1;}s:9:\"publisher\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"e.g.
  IEEE, Computer Magazine\";s:4:\"type\";s:6:\"string\";}s:11:\"releaseDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Date
  (as per ISO 8601) e.g. 2014-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"e.g.
  author, co-author, editor, producer\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Short
  summary of publication. e.g. Discussion of the World Wide Web, HTTP, HTML.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"e.g.
  The World Wide Web\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"e.g.
  http://www.computer.org/csdl/mags/co/1996/10/rx069-abs.html\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:1;}}s:10:\"references\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"List
  references/testimonials they have received\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"contactInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"employer\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"e.g.
  Piedpiper Inc\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"0404
  444 444\";s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"e.g.
  Master of Desaster\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:1;}s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Date
  (as per ISO 8601) e.g. 2014-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"e.g.
  Timothy Cook\";s:4:\"type\";s:6:\"string\";}s:12:\"relationship\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"e.g.
  My Mentor\";s:4:\"type\";s:6:\"string\";}s:11:\"testimonial\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"e.g.
  Joe blogs was a great employee, who turned up to work at least once a week. He exceeded
  my expectations when it came to doing nothing.\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:0;}}s:6:\"skills\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"professional
  skill-set\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"level\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"e.g.
  Master\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"e.g.
  Web Development\";s:4:\"type\";s:6:\"string\";}s:5:\"years\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Years
  experience with the skill\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:1;}}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  person's summary of themselves. E.g., Objective\";s:4:\"type\";s:6:\"string\";}s:7:\"tagline\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"e.g.
  The Best Developer, Ever.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"e.g.
  Web Developer\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"URL
  (as per RFC 3986) to your website, e.g. personal homepage\";s:4:\"type\";s:6:\"string\";}s:9:\"volunteer\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"endDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"e.g.
  2012-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:10:\"highlights\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Specify
  multiple accomplishments\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"e.g.
  Increased profits by 20% from 2011-2012 through viral advertising\";s:4:\"type\";s:6:\"string\";}}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/location\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"e.g.
  Facebook\";s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"e.g.
  Software Engineer\";s:4:\"type\";s:6:\"string\";}s:6:\"skills\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Skills
  utilized in the job.\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"e.g.
  Microsoft Office\";s:4:\"type\";s:6:\"string\";}}s:9:\"startDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"resume.json
  uses the ISO 8601 date standard e.g. 2014-06-29\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Give
  an overview of your responsibilities at the company\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"e.g.
  http://facebook.com\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:1;}}s:8:\"websites\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Websites
  associated with user.\";s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"URL
  (as per RFC 3986) to your website, e.g. personal homepage\";s:4:\"type\";s:6:\"string\";}}}s:20:\"additionalProperties\";b:1;}}}s:8:\"response\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:5:\"error\";i:1;s:7:\"message\";i:2;s:10:\"likelihood\";i:3;s:6:\"status\";i:4;s:9:\"requestId\";i:5;s:6:\"person\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"likelihood\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:3:\"int\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"person\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/person_object\";}s:9:\"requestId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:3:\"int\";}}}s:6:\"worker\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}"
...
