---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:5:\"title\";s:14:\"Online Routing\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:11:\"description\";s:467:\"Test
  our API services using our API Explorer below. Simply enter the parameters and click
  \u201CTry It\u201D. You must have a valid API key for this to work (go to My Account
  to request a key if you do not already have one). You can also view our written
  documentation for Online Maps, Online Routing, Online Traffic Flow, Online Traffic
  Incidents and MySports Cloud. Online Routing is a RESTful API designed for developers
  to use our latest scalable online routing engine.\";s:12:\"x-mashery-id\";s:4:\"2909\";}"
host: api.tomtom.com
basePath: /routing/1/calculateRoute
paths:
  /{locations}/{contentType}:
    get:
      operationId: OnlineRoutingOnlineRouting
      summary: The Online Routing service calculates a route betw...
      description: The Online Routing service calculates a route between an origin
        and a destination, optionally via waypoints, and taking into account factors
        such as traffic, day of the week and time of day.
      tags:
      - Online Routing
      parameters:
      - name: locations
        type: string
        description: 'Start point, waypoints and end point expressed in colon-delimited
          points (as latitude,longitude pairs) or circles (as circle(latitude,longitude,radius)).  For
          example: 52.509317,13.429368:52.508406,13.428789:circle(52.508410,13.428796,50000):52.502746,13.438724'
        in: path
        required: true
      - name: contentType
        type: string
        description: 'The content type of the response structure. Default: xml.'
        in: path
        required: true
        enum:
        - xml
        - json
        - jsonp
      - name: maxAlternatives
        type: integer
        description: 'Number of desired alternative routes to be calculated. Default:
          0 (only return one route).'
        in: query
        required: false
      - name: routeType
        type: string
        description: 'The type of route requested. Default: fastest.'
        in: query
        required: false
        enum:
        - fastest
        - eco
        - shortest
        - thrilling
      - name: traffic
        type: boolean
        description: 'Consider traffic during routing? Default: true'
        in: query
        required: false
      - name: computeTravelTimeFor
        type: string
        description: 'Selects the types of traffic data for which travel times should
          be calculated. Default: none'
        in: query
        required: false
        enum:
        - none
        - all
      - name: avoid
        type: string
        description: 'Specifies which things to avoid (eg: toll roads) when planning
          the route.  Default: nothing'
        in: query
        required: false
        enum:
        - tollRoads
        - motorways
        - ferries
        - unpavedRoads
        - carpools
        - alreadyUsedRoads
      - name: instructionsType
        type: string
        description: 'Specifies the form of guidance instructions that should be included
          per route in the response. By default no guidance instructions will be included
          in the response. Cannot be used in conjunction with routeRepresentation=none.
          Default: nothing'
        in: query
        required: false
        enum:
        - coded
        - text
        - tagged
      - name: language
        type: string
        description: 'The language parameter determines the language of the guidance
          messages. It does not affect proper nouns (the names of streets, plazas,
          etc). It has no effect when instructionsType coded. Allowed values are (a
          subset of) the IETF language tags. Default: en-GB'
        in: query
        required: false
        enum:
        - af-ZA
        - ar
        - bg-BG
        - cs-CZ
        - da-DK
        - de-DE
        - en-GB
        - en-US
        - el-GR
        - es-ES
        - es-MX
        - fi-FI
        - fr-FR
        - hu-HU
        - id-ID
        - it-IT
        - ko-KR
        - lt-LT
        - ms-MY
        - nb-NO
        - nl-NL
        - pl-PL
        - pt-BR
        - pt-PT
        - ru-RU
        - sk-SK
        - sl-SI
        - sv-SE
        - th-TH
        - tr-TR
        - zh-TW
      - name: departAt
        type: string
        description: 'The date and time of departure from the origin point, specified
          in RFC-3339 format, e.g. 2014-12-19T16:39:57-08:00. Cannot be used in conjunction
          with arriveAt. Default: ''now'''
        in: query
        required: false
      - name: arriveAt
        type: string
        description: 'The date and time of arrival at the destination point, specified
          in RFC-3339 format, e.g. 2014-12-19T16:39:57-08:00. Cannot be used in conjunction
          with departAt. Default: none'
        in: query
        required: false
      - name: computeBestOrder
        type: boolean
        description: 'Re-order the route waypoints to reduce the route length. Yields
          best results when used in conjunction with a routeType of ''shortest''.
          If set to ''true'' then it cannot be used in conjunction with maxAlternatives
          value greater than 0. If set to ''false'' then it cannot be used in conjunction
          with routeRepresentation ''none''. Default: false'
        in: query
        required: false
      - name: routeRepresentation
        type: string
        description: 'Specifies the representation of the set of routes provided as
          response. ''None'' can only be used in conjunction with computeBestOrder
          true. Default: polyline.'
        in: query
        required: false
        enum:
        - polyline
        - none
      - name: travelMode
        type: string
        description: 'The mode of travel for the requested route. Default: car'
        in: query
        required: false
        enum:
        - car
        - truck
        - taxi
        - bus
        - van
        - bicycle
        - pedestrian
      - name: vehicleEngineType
        type: string
        description: 'Engine type of the vehicle. Default: combustion'
        in: query
        required: false
        enum:
        - combustion
        - electric
      - name: vehicleMaxSpeed
        type: integer
        description: 'Maximum speed of the vehicle in km/hour. Default: 0 (do not
          check vehicle maximum speed in planning)'
        in: query
        required: false
      - name: vehicleWeight
        type: integer
        description: 'Weight of the vehicle in kg. Default: 0 (do not check weight
          restrictions in planning)'
        in: query
        required: false
      - name: vehicleAxleWeight
        type: integer
        description: 'Weight per axle of the vehicle in kg. Default: 0 (do not check
          axle weight restrictions in planning)'
        in: query
        required: false
      - name: vehicleLength
        type: number
        format: float
        description: 'Length of the vehicle in meters. Default: 0 (do not check length
          restrictions in planning)'
        in: query
        required: false
      - name: vehicleWidth
        type: number
        format: float
        description: 'Width of the vehicle in meters. Default: 0 (do not check width
          restrictions in planning)'
        in: query
        required: false
      - name: vehicleHeight
        type: number
        format: float
        description: 'Height of the vehicle in meters. Default: 0 (do not check height
          restrictions in planning)'
        in: query
        required: false
      - name: vehicleCommercial
        type: boolean
        description: 'Is the vehicle used for commercial purposes? Default: false'
        in: query
        required: false
      - name: vehicleLoadType
        type: string
        description: 'Hazardous cargo types that may be restricted. Default: none'
        in: query
        required: false
        enum:
        - USHazmatClass1
        - USHazmatClass2
        - USHazmatClass3
        - USHazmatClass4
        - USHazmatClass5
        - USHazmatClass6
        - USHazmatClass7
        - USHazmatClass8
        - USHazmatClass9
        - otherExplosive
        - otherGeneral
        - otherHarmWater
      - name: vehicleHeading
        type: integer
        description: The directional heading of the vehicle in degrees starting at
          true North and continuing in clockwise direction. North is 0 degrees.
        in: query
        required: false
      - name: hilliness
        type: string
        description: 'Degree of hilliness for thrilling route. Default: normal'
        in: query
        required: false
        enum:
        - low
        - normal
        - high
      - name: windingness
        type: string
        description: 'Level of turns for thrilling route. Default: normal'
        in: query
        required: false
        enum:
        - low
        - normal
        - high
      - name: report
        type: string
        description: 'Specifies which data should be reported for diagnosis purposes.
          Default: not returned'
        in: query
        required: false
        enum:
        - effectiveSettings
      - name: callback
        type: string
        description: Specifies the jsonp callback method. Only used when contentType
          is jsonp.
        in: query
        required: false
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
