---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:79:\"Enables
  bots to fetch information and perform actions in the new Hangouts Chat.\";s:5:\"title\";s:13:\"Hangouts
  Chat\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:54:\"https://chat.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:4:\"chat\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"google_chat\";s:4:\"type\";s:7:\"openapi\";}}"
host: chat.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":26:{s:15:\"ActionParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:272:\"List
  of string parameters to supply when the action method is invoked.\nFor example,
  consider three snooze buttons: snooze now, snooze 1 day,\nsnooze next week. You
  might use action method = snooze(), passing the\nsnooze type and snooze time in
  the list of string parameters.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  name of the parameter for the action script.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  value of the parameter.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ActionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Parameters
  that a bot can use to configure how it's response is posted.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of bot response.\";s:4:\"enum\";a:4:{i:0;s:16:\"TYPE_UNSPECIFIED\";i:1;s:11:\"NEW_MESSAGE\";i:2;s:14:\"UPDATE_MESSAGE\";i:3;s:14:\"REQUEST_CONFIG\";}s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"URL
  for users to auth or config. (Only for REQUEST_CONFIG response types.)\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Annotation\";O:8:\"stdClass\":3:{s:11:\"description\";s:461:\"Annotations
  associated with the plain-text body of the message.\n\nExample plain-text message
  body:\n```\nHello @FooBot how are you!\"\n```\n\nThe corresponding annotations metadata:\n```\n\"annotations\":[{\n
  \ \"type\":\"USER_MENTION\",\n  \"startIndex\":6,\n  \"length\":7,\n  \"userMention\":
  {\n    \"user\": {\n      \"name\":\"users/107946847022116401880\",\n      \"displayName\":\"FooBot\",\n
  \     \"avatarUrl\":\"https://goo.gl/aeDtrS\",\n      \"type\":\"BOT\"\n    },\n
  \   \"type\":\"MENTION\"\n   }\n}]\n```\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"length\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Length
  of the substring in the plain-text message body this annotation\ncorresponds to.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"startIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Start
  index (0-based, inclusive) in the plain-text message body this\nannotation corresponds
  to.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  type of this annotation.\";s:4:\"enum\";a:2:{i:0;s:27:\"ANNOTATION_TYPE_UNSPECIFIED\";i:1;s:12:\"USER_MENTION\";}s:4:\"type\";s:6:\"string\";}s:11:\"userMention\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/UserMentionMetadata\";s:11:\"description\";s:29:\"The
  metadata of user mention.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Button\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"A
  button. Can be a text button or an image button.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"imageButton\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageButton\";s:11:\"description\";s:39:\"A
  button with image and onclick action.\";}s:10:\"textButton\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TextButton\";s:11:\"description\";s:38:\"A
  button with text and onclick action.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Card\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"A
  card is a UI element that can contain UI widgets such as texts, images.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"cardActions\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  actions of this card.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CardAction\";}s:4:\"type\";s:5:\"array\";}s:6:\"header\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CardHeader\";s:11:\"description\";s:71:\"The
  header of the card. A header usually contains a title and an image.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  of the card.\";s:4:\"type\";s:6:\"string\";}s:8:\"sections\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Sections
  are separated by a line divider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Section\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CardAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:163:\"A
  card action is\nthe action associated with the card. For an invoice card, a\ntypical
  action would be: delete invoice, email invoice or open the\ninvoice in browser.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"actionLabel\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  label used to be displayed in the action menu item.\";s:4:\"type\";s:6:\"string\";}s:7:\"onClick\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/OnClick\";s:11:\"description\";s:40:\"The
  onclick action for this action item.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CardHeader\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"imageStyle\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  image's type (e.g. square border or circular border).\";s:4:\"enum\";a:3:{i:0;s:23:\"IMAGE_STYLE_UNSPECIFIED\";i:1;s:5:\"IMAGE\";i:2;s:6:\"AVATAR\";}s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  URL of the image in the card header.\";s:4:\"type\";s:6:\"string\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  subtitle of the card header.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"The
  title must be specified. The header has a fixed height: if both a\ntitle and subtitle
  is specified, each will take up 1 line. If only the\ntitle is specified, it will
  take up both lines.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is
  empty JSON object `{}`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"FormAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"A
  form action describes the behavior when the form is submitted.\nFor example, an
  Apps Script can be invoked to handle the form.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"actionMethodName\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Apps
  Script function to invoke when the containing element is\nclicked/activated.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of action parameters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ActionParameter\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Image\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"An
  image that is specified by a URL and can have an onclick action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"aspectRatio\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  aspect ratio of this image (width/height).\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"imageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  URL of the image.\";s:4:\"type\";s:6:\"string\";}s:7:\"onClick\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/OnClick\";s:11:\"description\";s:19:\"The
  onclick action.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ImageButton\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"An
  image button with an onclick action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"icon\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  icon specified by an enum that indices to an icon provided by Chat\nAPI.\";s:4:\"enum\";a:31:{i:0;s:16:\"ICON_UNSPECIFIED\";i:1;s:8:\"AIRPLANE\";i:2;s:8:\"BOOKMARK\";i:3;s:3:\"BUS\";i:4;s:3:\"CAR\";i:5;s:5:\"CLOCK\";i:6;s:24:\"CONFIRMATION_NUMBER_ICON\";i:7;s:6:\"DOLLAR\";i:8;s:11:\"DESCRIPTION\";i:9;s:5:\"EMAIL\";i:10;s:15:\"EVENT_PERFORMER\";i:11;s:10:\"EVENT_SEAT\";i:12;s:14:\"FLIGHT_ARRIVAL\";i:13;s:16:\"FLIGHT_DEPARTURE\";i:14;s:5:\"HOTEL\";i:15;s:15:\"HOTEL_ROOM_TYPE\";i:16;s:6:\"INVITE\";i:17;s:7:\"MAP_PIN\";i:18;s:10:\"MEMBERSHIP\";i:19;s:15:\"MULTIPLE_PEOPLE\";i:20;s:5:\"OFFER\";i:21;s:6:\"PERSON\";i:22;s:5:\"PHONE\";i:23;s:15:\"RESTAURANT_ICON\";i:24;s:13:\"SHOPPING_CART\";i:25;s:4:\"STAR\";i:26;s:5:\"STORE\";i:27;s:6:\"TICKET\";i:28;s:5:\"TRAIN\";i:29;s:12:\"VIDEO_CAMERA\";i:30;s:10:\"VIDEO_PLAY\";}s:4:\"type\";s:6:\"string\";}s:7:\"iconUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  icon specified by a URL.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"The
  name of this image_button which will be used for accessibility.\nDefault value will
  be provided if developers don't specify.\";s:4:\"type\";s:6:\"string\";}s:7:\"onClick\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/OnClick\";s:11:\"description\";s:19:\"The
  onclick action.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"KeyValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"A
  UI element contains a key (label) and a value (content). And this\nelement may also
  contain some actions such as onclick button.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"bottomLabel\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  text of the bottom label. Formatted text supported.\";s:4:\"type\";s:6:\"string\";}s:6:\"button\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Button\";s:11:\"description\";s:50:\"A
  button that can be clicked to trigger an action.\";}s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  text of the content. Formatted text supported and always required.\";s:4:\"type\";s:6:\"string\";}s:16:\"contentMultiline\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"If
  the content should be multiline.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"icon\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"An
  enum value that will be replaced by the Chat API with the\ncorresponding icon image.\";s:4:\"enum\";a:31:{i:0;s:16:\"ICON_UNSPECIFIED\";i:1;s:8:\"AIRPLANE\";i:2;s:8:\"BOOKMARK\";i:3;s:3:\"BUS\";i:4;s:3:\"CAR\";i:5;s:5:\"CLOCK\";i:6;s:24:\"CONFIRMATION_NUMBER_ICON\";i:7;s:6:\"DOLLAR\";i:8;s:11:\"DESCRIPTION\";i:9;s:5:\"EMAIL\";i:10;s:15:\"EVENT_PERFORMER\";i:11;s:10:\"EVENT_SEAT\";i:12;s:14:\"FLIGHT_ARRIVAL\";i:13;s:16:\"FLIGHT_DEPARTURE\";i:14;s:5:\"HOTEL\";i:15;s:15:\"HOTEL_ROOM_TYPE\";i:16;s:6:\"INVITE\";i:17;s:7:\"MAP_PIN\";i:18;s:10:\"MEMBERSHIP\";i:19;s:15:\"MULTIPLE_PEOPLE\";i:20;s:5:\"OFFER\";i:21;s:6:\"PERSON\";i:22;s:5:\"PHONE\";i:23;s:15:\"RESTAURANT_ICON\";i:24;s:13:\"SHOPPING_CART\";i:25;s:4:\"STAR\";i:26;s:5:\"STORE\";i:27;s:6:\"TICKET\";i:28;s:5:\"TRAIN\";i:29;s:12:\"VIDEO_CAMERA\";i:30;s:10:\"VIDEO_PLAY\";}s:4:\"type\";s:6:\"string\";}s:7:\"iconUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  icon specified by a URL.\";s:4:\"type\";s:6:\"string\";}s:7:\"onClick\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/OnClick\";s:11:\"description\";s:86:\"The
  onclick action. Only the top label, bottom label and content region\nare clickable.\";}s:8:\"topLabel\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  text of the top label. Formatted text supported.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListMembershipsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"memberships\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"List
  of memberships in the requested (or first) page.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Membership\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Continuation
  token to retrieve the next page of results. It will be empty\nfor the last page
  of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListSpacesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:179:\"Continuation
  token to retrieve the next page of results. It will be empty\nfor the last page
  of results. Tokens expire in an hour. An error is thrown\nif an expired token is
  passed.\";s:4:\"type\";s:6:\"string\";}s:6:\"spaces\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"List
  of spaces in the requested (or first) page.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Space\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Membership\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Represents
  a membership relation in Hangouts Chat.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  creation time of the membership a.k.a the time at which the member\njoined the space,
  if applicable.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"member\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/User\";s:11:\"description\";s:15:\"Member
  details.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"Resource
  name of the membership, in the form \"spaces/*/members/*\".\n\nExample: spaces/AAAAMpdlehY/members/105115627578887013105\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"State
  of the membership.\";s:4:\"enum\";a:4:{i:0;s:28:\"MEMBERSHIP_STATE_UNSPECIFIED\";i:1;s:6:\"JOINED\";i:2;s:7:\"INVITED\";i:3;s:12:\"NOT_A_MEMBER\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Message\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  message in Hangouts Chat.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:14:\"actionResponse\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ActionResponse\";s:11:\"description\";s:82:\"Input
  only. Parameters that a bot can use to configure how its response is\nposted.\";}s:11:\"annotations\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Output
  only. Annotations associated with the text in this message.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Annotation\";}s:4:\"type\";s:5:\"array\";}s:12:\"argumentText\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Plain-text
  body of the message with all bot mentions stripped out.\";s:4:\"type\";s:6:\"string\";}s:5:\"cards\";O:8:\"stdClass\":3:{s:11:\"description\";s:201:\"Rich,
  formatted and interactive cards that can be used to display UI\nelements such as:
  formatted texts, buttons, clickable images. Cards are\nnormally displayed below
  the plain-text body of the message.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Card\";}s:4:\"type\";s:5:\"array\";}s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Output
  only. The time at which the message was created in Hangouts Chat\nserver.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:12:\"fallbackText\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"A
  plain-text description of the message's cards, used when the actual cards\ncannot
  be displayed (e.g. mobile notifications).\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Resource
  name, in the form \"spaces/*/messages/*\".\n\nExample: spaces/AAAAMpdlehY/messages/UMxbHmzDlr4.UMxbHmzDlr4\";s:4:\"type\";s:6:\"string\";}s:11:\"previewText\";O:8:\"stdClass\":2:{s:11:\"description\";s:171:\"Text
  for generating preview chips. This text will not be displayed to the\nuser, but
  any links to images, web pages, videos, etc. included here will\ngenerate preview
  chips.\";s:4:\"type\";s:6:\"string\";}s:6:\"sender\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/User\";s:11:\"description\";s:33:\"The
  user who created the message.\";}s:5:\"space\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Space\";s:11:\"description\";s:33:\"The
  space the message belongs to.\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Plain-text
  body of the message.\";s:4:\"type\";s:6:\"string\";}s:6:\"thread\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Thread\";s:11:\"description\";s:34:\"The
  thread the message belongs to.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"OnClick\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"An
  onclick action (e.g. open a link).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"action\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FormAction\";s:11:\"description\";s:59:\"A
  form action will be trigger by this onclick if specified.\";}s:8:\"openLink\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/OpenLink\";s:11:\"description\";s:55:\"This
  onclick triggers an open link action if specified.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"OpenLink\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  link that opens a new window.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  URL to open.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Section\";O:8:\"stdClass\":3:{s:11:\"description\";s:232:\"A
  section contains a collection of widgets that are rendered\n(vertically) in the
  order that they are specified. Across all platforms,\ncards have a narrow fixed
  width, so\nthere is currently no need for layout properties (e.g. float).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  header of the section, text formatted supported.\";s:4:\"type\";s:6:\"string\";}s:7:\"widgets\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  section must contain at least 1 widget.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/WidgetMarkup\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Space\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  room or DM in Hangouts Chat.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Output
  only. The display name (only if the space is a room).\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Resource
  name of the space, in the form \"spaces/*\".\n\nExample: spaces/AAAAMpdlehYs\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Output
  only. The type of a space.\";s:4:\"enum\";a:3:{i:0;s:16:\"TYPE_UNSPECIFIED\";i:1;s:4:\"ROOM\";i:2;s:2:\"DM\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TextButton\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"A
  button with text and onclick action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"onClick\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/OnClick\";s:11:\"description\";s:33:\"The
  onclick action of the button.\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  text of the button.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"TextParagraph\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"A
  paragraph of text. Formatted text supported.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Thread\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"A
  thread in Hangouts Chat.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Resource
  name, in the form \"spaces/*/threads/*\".\n\nExample: spaces/AAAAMpdlehY/threads/UMxbHmzDlr4\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  user in Hangouts Chat.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  user's display name.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Resource
  name, in the format \"users/*\".\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"User
  type.\";s:4:\"enum\";a:3:{i:0;s:16:\"TYPE_UNSPECIFIED\";i:1;s:5:\"HUMAN\";i:2;s:3:\"BOT\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"UserMentionMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Annotation
  metadata for user mentions (@).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  type of user mention.\";s:4:\"enum\";a:3:{i:0;s:16:\"TYPE_UNSPECIFIED\";i:1;s:3:\"ADD\";i:2;s:7:\"MENTION\";}s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/User\";s:11:\"description\";s:19:\"The
  user mentioned.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"WidgetMarkup\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  widget is a UI element that presents texts, images, etc.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"buttons\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"A
  list of buttons. Buttons is also oneof data and only one of these\nfields should
  be set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Button\";}s:4:\"type\";s:5:\"array\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Image\";s:11:\"description\";s:32:\"Display
  an image in this widget.\";}s:8:\"keyValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/KeyValue\";s:11:\"description\";s:40:\"Display
  a key value item in this widget.\";}s:13:\"textParagraph\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TextParagraph\";s:11:\"description\";s:40:\"Display
  a text paragraph in this widget.\";}}s:4:\"type\";s:6:\"object\";}}"
...
