---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:5:\"title\";s:46:\"\u81FA\u4E2D\u5E02\u653F\u5E9C\u79D8\u66F8\u8655\u8CC7\u8A0A\u7BA1\u7406\u7CFB\u7D71
  API\";s:7:\"version\";s:5:\"1.0.0\";s:11:\"description\";s:210:\"\u9019\u662F\u81FA\u4E2D\u5E02\u653F\u5E9C\u79D8\u66F8\u8655\u96C6\u5408\u5404\u9805\u81EA\u884C\u958B\u767C\u7CFB\u7D71\u4E4BAPI\u8CC7\u6E90\uFF0C\u9664\u653F\u5E9C\u958B\u653E\u8CC7\u6599\u8CC7\u6E90\u7121\u9808\u6388\u6B0A\u5373\u53EF\u53D6\u7528\u5916\uFF0C\u5176\u9918\u8CC7\u6E90\u5982\u6709\u9700\u8981\u4ECB\u63A5\u4F7F\u7528\uFF0C\u5EFA\u8ACB\u6D3D\u672C\u8655\u806F\u7D61\u4EBA\u6797\u7BA1\u7406\u5E2B\u3002\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"Lin,
  Ying-Chin\";s:5:\"email\";s:22:\"ar0660@taichung.gov.tw\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:47:\"https://opensource.org/licenses/mit-license.php\";}}"
host: api.secret.taichung.gov.tw
basePath: /v1.0
paths:
  /users:
    get:
      tags:
      - users
      summary: u53d6u5f97u6240u6709u4f7fu7528u8005u8cc7u6599
      operationId: UserController_getUsers
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        401:
          description: Unauthorized
      security:
      - Bearer: []
    post:
      tags:
      - users
      summary: u65b0u589eu4f7fu7528u8005
      operationId: UserController_register
      parameters:
      - name: username
        in: query
        description: u5e33u865f
        required: true
        type: string
      - name: password
        in: query
        description: u5bc6u78bc
        required: true
        type: string
      - name: name
        in: query
        description: u59d3u540d
        required: true
        type: string
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Result'
        401:
          description: Unauthorized
      security:
      - Bearer: []
  /users/{uid}:
    get:
      tags:
      - users
      summary: u53d6u5f97u7279u5b9au4f7fu7528u8005u8cc7u6599
      operationId: UserController_getUsers_uid
      parameters:
      - name: uid
        in: path
        description: u4f7fu7528u8005u7de8u865f
        required: true
        type: number
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/User'
        401:
          description: Unauthorized
      security:
      - Bearer: []
    delete:
      tags:
      - users
      summary: u522au9664u7279u5b9au4f7fu7528u8005
      operationId: UserController_delete
      parameters:
      - name: uid
        in: path
        description: u4f7fu7528u8005u7de8u865f
        required: true
        type: number
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Result'
        401:
          description: Unauthorized
      security:
      - Bearer: []
  /users/login:
    patch:
      tags:
      - users
      summary: u4f7fu7528u8005u767bu5165
      operationId: UserController_login
      parameters:
      - name: username
        in: query
        description: u5e33u865f
        required: true
        type: string
      - name: password
        in: query
        description: u5bc6u78bc
        required: true
        type: string
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/Token'
  /sfc/cities:
    get:
      tags:
      - sfc
      summary: u53d6u5f97u6240u6709u81fau4e2du5e02u8207u5404u570bu969bu59cau59b9u5e02u66a8u53cbu597du57ceu5e02u7de0u7d50u8cc7u6599
      operationId: SfcController_getCities
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/City'
  /sfc/cities/refresh:
    patch:
      tags:
      - sfc
      summary: u5237u65b0/sfc/cities Redisu8cc7u6599u5febu53d6
      operationId: SfcController_refresh
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/City'
        401:
          description: Unauthorized
      security:
      - Bearer: []
  /seit/mails:
    get:
      tags:
      - seit
      summary: u53d6u5f97u6240u6709u6e2cu8a66u90f5u4ef6
      operationId: SeitController_getMails
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Mail'
      security:
      - Bearer: []
  /seit/mails/{id}:
    post:
      tags:
      - seit
      summary: u65b0u589eu7279u5b9au55aeu4f4du5167u5404u6210u54e1u7684u6e2cu8a66u90f5u4ef6
      operationId: SeitController_insertMails_did
      parameters:
      - name: id
        in: path
        description: u55aeu4f4du7de8u865f(did)
        required: true
        type: number
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            items:
              $ref: '#/definitions/Result'
      security:
      - Bearer: []
    patch:
      tags:
      - seit
      summary: u66f4u65b0u7279u5b9au6e2cu8a66u90f5u4ef6u7684u72c0u614b
      operationId: SeitController_updateMail_mid
      parameters:
      - name: id
        in: path
        description: u6e2cu8a66u90f5u4ef6u7de8u865f(mid)
        required: true
        type: number
      - name: delivery_time
        in: query
        description: u66f4u65b0u90f5u4ef6u50b3u905eu6642u9593
        type: number
      - name: mail_status
        in: query
        description: u66f4u65b0u90f5u4ef6u72c0u614b
        type: string
      - name: fail_time
        in: query
        description: u66f4u65b0u89f8u767cu90f5u4ef6u6642u9593
        type: number
      - name: test_status
        in: query
        description: u66f4u65b0u90f5u4ef6u6aa2u6e2cu72c0u614b
        type: string
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            items:
              $ref: '#/definitions/Result'
      security:
      - Bearer: []
  /seit/mails/{mid}/send:
    patch:
      tags:
      - seit
      summary: u66f4u65b0u7279u5b9au6e2cu8a66u90f5u4ef6u7684u72c0u614b
      operationId: SeitController_sendMail_mid
      parameters:
      - name: mid
        in: path
        description: u6e2cu8a66u90f5u4ef6u7de8u865f
        required: true
        type: number
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            items:
              $ref: '#/definitions/Result'
      security:
      - Bearer: []
  /seit/images/{jwt}:
    get:
      tags:
      - seit
      summary: u986fu793au6e2cu8a66u90f5u4ef6u5716u7247
      operationId: SeitController_showImage_jwt
      parameters:
      - name: jwt
        in: path
        description: u5b58u653eu65bcJWT Tokenu4e4bu6e2cu8a66u90f5u4ef6u8cc7u8a0au53cau5176u9a57u8b49u78bc
        required: true
        type: string
      produces:
      - image/png
      responses:
        200:
          description: successful operation
  /tg/gazettes:
    get:
      tags:
      - tg
      summary: u53d6u5f97u6240u6709u516cu5831u8cc7u8a0a
      operationId: TgController_getGazettes
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Gazette'
  /tg/gazettes/refresh:
    patch:
      tags:
      - tg
      summary: u5237u65b0/tg/gazettes Redisu8cc7u6599u5febu53d6
      operationId: TgController_refresh
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            items:
              $ref: '#/definitions/Result'
        401:
          description: Unauthorized
      security:
      - Bearer: []
  /tg/gazettes/{gid}/file:
    get:
      tags:
      - tg
      summary: u4e0bu8f09u7279u5b9au7684u516cu5831u96fbu5b50u6a94
      operationId: TgController_downloadFile
      parameters:
      - name: gid
        in: path
        description: u516cu5831u6d41u6c34u865f
        required: true
        type: number
      produces:
      - application/pdf
      responses:
        200:
          description: successful operation
          schema:
            type: file
    post:
      tags:
      - tg
      summary: u4e0au50b3u7279u5b9au516cu5831u96fbu5b50u6a94
      operationId: TgController_uploadFile
      consumes:
      - multipart/form-data
      parameters:
      - name: gid
        in: path
        description: u516cu5831u6d41u6c34u865f
        required: true
        type: number
      - name: gazette
        in: formData
        description: u516cu5831u96fbu5b50u6a94
        required: true
        type: file
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            items:
              $ref: '#/definitions/Result'
      security:
      - Bearer: []
    delete:
      tags:
      - tg
      summary: u522au9664u7279u5b9au516cu5831u96fbu5b50u6a94
      operationId: TgController_deleteFile
      parameters:
      - name: gid
        in: path
        description: u516cu5831u6d41u6c34u865f
        required: true
        type: number
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            items:
              $ref: '#/definitions/Result'
      security:
      - Bearer: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":12:{s:6:\"Result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"info\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:4:\"User\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"uid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"token_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Bearer\";}s:10:\"expires_in\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:4:\"City\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"cid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"city_en\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"introduction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"website\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"emblem_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"alliances\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CityAlliance\";}}s:4:\"coid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"country_en\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"caid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"category_en\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"CityAlliance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"signing_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:13:\"signing_place\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"moderator_tccg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"moderator_sfc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Mail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"mid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"create_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"delivery_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"fail_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"mail_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"test_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"mtid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"rid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"mail_template\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MailTemplate\";}}s:6:\"sender\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Sender\";}}s:9:\"recipient\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Recipient\";}}}}s:12:\"MailTemplate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"mtid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Sender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"sender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"addressor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"host\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"reply_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"reply_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"confirm_reading\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"Recipient\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"rid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"recipient\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"account\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"addressee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Gazette\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"gid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"gazette\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"issue_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:11:\"create_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";}s:7:\"enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"gvid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"giid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"volume\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Volume\";}}s:5:\"issue\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Issue\";}}}}s:6:\"Volume\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"gvid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"volume\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"year_roc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"year\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}}}s:5:\"Issue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"giid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"issue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"season\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
