---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:98:\"Allows
  developers to manage billing for their Google Cloud Platform projects\n    programmatically.\";s:5:\"title\";s:13:\"Cloud
  Billing\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:62:\"https://cloudbilling.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:12:\"cloudbilling\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"google_cloudbilling\";s:4:\"type\";s:7:\"openapi\";}}"
host: cloudbilling.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":21:{s:15:\"AggregationInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Represents
  the aggregation level and interval for pricing of a single SKU.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"aggregationCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"The
  number of intervals to aggregate over.\nExample: If aggregation_level is \"DAILY\"
  and aggregation_count is 14,\naggregation will be over 14 days.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"aggregationInterval\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:32:\"AGGREGATION_INTERVAL_UNSPECIFIED\";i:1;s:5:\"DAILY\";i:2;s:7:\"MONTHLY\";}s:4:\"type\";s:6:\"string\";}s:16:\"aggregationLevel\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:29:\"AGGREGATION_LEVEL_UNSPECIFIED\";i:1;s:7:\"ACCOUNT\";i:2;s:7:\"PROJECT\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"AuditConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:1479:\"Specifies
  the audit configuration for a service.\nThe configuration determines which permission
  types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig
  must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices`
  and a specific service,\nthe union of the two AuditConfigs is used for that service:
  the log_types\nspecified in each AuditConfig are enabled, and the exempted_members
  in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n
  \   {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\"\n
  \         \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n
  \             \"exempted_members\": [\n                \"user:foo@gmail.com\"\n
  \             ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n
  \           },\n            {\n              \"log_type\": \"ADMIN_READ\",\n            }\n
  \         ]\n        },\n        {\n          \"service\": \"fooservice.googleapis.com\"\n
  \         \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n
  \           },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\":
  [\n                \"user:bar@gmail.com\"\n              ]\n            }\n          ]\n
  \       }\n      ]\n    }\n\nFor fooservice, this policy enables DATA_READ, DATA_WRITE
  and ADMIN_READ\nlogging. It also exempts foo@gmail.com from DATA_READ logging, and\nbar@gmail.com
  from DATA_WRITE logging.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"auditLogConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  configuration for logging of each type of permission.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AuditLogConfig\";}s:4:\"type\";s:5:\"array\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"Specifies
  a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`,
  `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AuditLogConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:415:\"Provides
  the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\":
  [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\":
  [\n            \"user:foo@gmail.com\"\n          ]\n        },\n        {\n          \"log_type\":
  \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE'
  logging, while exempting\nfoo@gmail.com from DATA_READ logging.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"exemptedMembers\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Specifies
  the identities that do not cause logging for this type of\npermission.\nFollows
  the same format of Binding.members.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"logType\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  log type that this config enables.\";s:4:\"enum\";a:4:{i:0;s:20:\"LOG_TYPE_UNSPECIFIED\";i:1;s:10:\"ADMIN_READ\";i:2;s:10:\"DATA_WRITE\";i:3;s:9:\"DATA_READ\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"BillingAccount\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"A
  billing account in [GCP Console](https://console.cloud.google.com/).\nYou can assign
  a billing account to one or more projects.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"The
  display name given to the billing account, such as `My Billing\nAccount`. This name
  is displayed in the GCP Console.\";s:4:\"type\";s:6:\"string\";}s:20:\"masterBillingAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:297:\"If
  this account is a\n[subaccount](https://cloud.google.com/billing/docs/concepts),
  then this\nwill be the resource name of the master billing account that it is being\nresold
  through.\nOtherwise this will be empty.\n\n> This field is currently in\n> [Beta](https://cloud.google.com/terms/launch-stages).\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:235:\"The
  resource name of the billing account. The resource name has the form\n`billingAccounts/{billing_account_id}`.
  For example,\n`billingAccounts/012345-567890-ABCDEF` would be the resource name
  for\nbilling account `012345-567890-ABCDEF`.\";s:4:\"type\";s:6:\"string\";}s:4:\"open\";O:8:\"stdClass\":2:{s:11:\"description\";s:223:\"True
  if the billing account is open, and will therefore be charged for any\nusage on
  associated projects. False if the billing account is closed, and\ntherefore projects
  associated with it will be unable to use paid services.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Binding\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Associates
  `members` with a `role`.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:908:\"Specifies
  the identities requesting access for a Cloud Platform resource.\n`members` can have
  the following values:\n\n* `allUsers`: A special identifier that represents anyone
  who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`:
  A special identifier that represents anyone\n   who is authenticated with a Google
  account or a service account.\n\n* `user:{emailid}`: An email address that represents
  a specific Google\n   account. For example, `alice@gmail.com` or `joe@example.com`.\n\n\n*
  `serviceAccount:{emailid}`: An email address that represents a service\n   account.
  For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`:
  An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n\n*
  `domain:{domain}`: A Google Apps domain name that represents all the\n   users of
  that domain. For example, `google.com` or `example.com`.\n\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Role
  that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or
  `roles/owner`.\nRequired\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Category\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Represents
  the category hierarchy of a SKU.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"resourceFamily\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"The
  type of product the SKU refers to.\nExample: \"Compute\", \"Storage\", \"Network\",
  \"ApplicationServices\" etc.\";s:4:\"type\";s:6:\"string\";}s:13:\"resourceGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"A
  group classification for related SKUs.\nExample: \"RAM\", \"GPU\", \"Prediction\",
  \"Ops\", \"GoogleEgress\" etc.\";s:4:\"type\";s:6:\"string\";}s:18:\"serviceDisplayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  display name of the service this SKU belongs to.\";s:4:\"type\";s:6:\"string\";}s:9:\"usageType\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Represents
  how the SKU is consumed.\nExample: \"OnDemand\", \"Preemptible\", \"Commit1Mo\",
  \"Commit1Yr\" etc.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ListBillingAccountsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Response
  message for `ListBillingAccounts`.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"billingAccounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  list of billing accounts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BillingAccount\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:214:\"A
  token to retrieve the next page of results. To retrieve the next page,\ncall `ListBillingAccounts`
  again with the `page_token` field set to this\nvalue. This field is empty if there
  are no more results to retrieve.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ListProjectBillingInfoResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Request
  message for `ListProjectBillingInfoResponse`.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:217:\"A
  token to retrieve the next page of results. To retrieve the next page,\ncall `ListProjectBillingInfo`
  again with the `page_token` field set to this\nvalue. This field is empty if there
  are no more results to retrieve.\";s:4:\"type\";s:6:\"string\";}s:18:\"projectBillingInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"A
  list of `ProjectBillingInfo` resources representing the projects\nassociated with
  the billing account.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ProjectBillingInfo\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListServicesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Response
  message for `ListServices`.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:207:\"A
  token to retrieve the next page of results. To retrieve the next page,\ncall `ListServices`
  again with the `page_token` field set to this\nvalue. This field is empty if there
  are no more results to retrieve.\";s:4:\"type\";s:6:\"string\";}s:8:\"services\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"A
  list of services.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Service\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListSkusResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Response
  message for `ListSkus`.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:203:\"A
  token to retrieve the next page of results. To retrieve the next page,\ncall `ListSkus`
  again with the `page_token` field set to this\nvalue. This field is empty if there
  are no more results to retrieve.\";s:4:\"type\";s:6:\"string\";}s:4:\"skus\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  list of public SKUs of the given service.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Sku\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Money\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Represents
  an amount of money with its currency type.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"currencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  3-letter currency code defined in ISO 4217.\";s:4:\"type\";s:6:\"string\";}s:5:\"nanos\";O:8:\"stdClass\":3:{s:11:\"description\";s:364:\"Number
  of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and
  +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf
  `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative,
  `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1
  and `nanos`=-750,000,000.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"units\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"The
  whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit
  is one US dollar.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:915:\"Defines
  an Identity and Access Management (IAM) policy. It is used to\nspecify access control
  policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`.
  A `Binding` binds a list of\n`members` to a `role`, where the members can be user
  accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named
  list of permissions\ndefined by IAM.\n\n**Example**\n\n    {\n      \"bindings\":
  [\n        {\n          \"role\": \"roles/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n
  \           \"group:admins@example.com\",\n            \"domain:google.com\",\n
  \           \"serviceAccount:my-other-app@appspot.gserviceaccount.com\",\n          ]\n
  \       },\n        {\n          \"role\": \"roles/viewer\",\n          \"members\":
  [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\nFor a description of IAM
  and its features, see the\n[IAM developer's guide](https://cloud.google.com/iam/docs).\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"auditConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Specifies
  cloud audit logging configuration for this policy.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AuditConfig\";}s:4:\"type\";s:5:\"array\";}s:8:\"bindings\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Associates
  a list of `members` to a `role`.\n`bindings` with no members will result in an error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Binding\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:606:\"`etag`
  is used for optimistic concurrency control as a way to help\nprevent simultaneous
  updates of a policy from overwriting each other.\nIt is strongly suggested that
  systems make use of the `etag` in the\nread-modify-write cycle to perform policy
  updates in order to avoid race\nconditions: An `etag` is returned in the response
  to `getIamPolicy`, and\nsystems are expected to put that etag in the request to
  `setIamPolicy` to\nensure that their change will be applied to the same version
  of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the
  existing\npolicy is overwritten blindly.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Deprecated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"PricingExpression\";O:8:\"stdClass\":3:{s:11:\"description\";s:335:\"Expresses
  a mathematical pricing formula. For Example:-\n\n`usage_unit: GBy`\n`tiered_rates:`\n
  \  `[start_usage_amount: 20, unit_price: $10]`\n   `[start_usage_amount: 100, unit_price:
  $5]`\n\nThe above expresses a pricing formula where the first 20GB is free, the\nnext
  80GB is priced at $10 per GB followed by $5 per GB for additional\nusage.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"baseUnit\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  base unit for the SKU which is the unit used in usage exports.\nExample: \"By\"\";s:4:\"type\";s:6:\"string\";}s:24:\"baseUnitConversionFactor\";O:8:\"stdClass\":3:{s:11:\"description\";s:289:\"Conversion
  factor for converting from price per usage_unit to price per\nbase_unit, and start_usage_amount
  to start_usage_amount in base_unit.\nunit_price / base_unit_conversion_factor =
  price per base_unit.\nstart_usage_amount * base_unit_conversion_factor = start_usage_amount
  in\nbase_unit.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:19:\"baseUnitDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  base unit in human readable form.\nExample: \"byte\".\";s:4:\"type\";s:6:\"string\";}s:15:\"displayQuantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:451:\"The
  recommended quantity of units for displaying pricing info. When\ndisplaying pricing
  info it is recommended to display:\n(unit_price * display_quantity) per display_quantity
  usage_unit.\nThis field does not affect the pricing formula and is for display purposes\nonly.\nExample:
  If the unit_price is \"0.0001 USD\", the usage_unit is \"GB\" and\nthe display_quantity
  is \"1000\" then the recommended way of displaying the\npricing info is \"0.10 USD
  per 1000 GB\"\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"tieredRates\";O:8:\"stdClass\":3:{s:11:\"description\";s:187:\"The
  list of tiered rates for this pricing. The total cost is computed by\napplying each
  of the tiered rates on usage. This repeated list is sorted\nby ascending order of
  start_usage_amount.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TierRate\";}s:4:\"type\";s:5:\"array\";}s:9:\"usageUnit\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"The
  short hand for unit of usage this pricing is specified in.\nExample: usage_unit
  of \"GiBy\" means that usage is specified in \"Gibi Byte\".\";s:4:\"type\";s:6:\"string\";}s:20:\"usageUnitDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  unit of usage in human readable form.\nExample: \"gibi byte\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PricingInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Represents
  the pricing information for a SKU at a single point of time.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"aggregationInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AggregationInfo\";s:11:\"description\";s:101:\"Aggregation
  Info. This can be left unspecified if the pricing expression\ndoesn't require aggregation.\";}s:22:\"currencyConversionRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:281:\"Conversion
  rate used for currency conversion, from USD to the currency\nspecified in the request.
  This includes any surcharge collected for billing\nin non USD currency. If a currency
  is not specified in the request this\ndefaults to 1.0.\nExample: USD * currency_conversion_rate
  = JPY\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"effectiveTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:370:\"The
  timestamp from which this pricing was effective within the requested\ntime range.
  This is guaranteed to be greater than or equal to the\nstart_time field in the request
  and less than the end_time field in the\nrequest. If a time range was not specified
  in the request this field will\nbe equivalent to a time within the last 12 hours,
  indicating the latest\npricing info.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:17:\"pricingExpression\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PricingExpression\";s:11:\"description\";s:70:\"Expresses
  the pricing formula. See `PricingExpression` for an example.\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"An
  optional human readable summary of the pricing information, has a\nmaximum length
  of 256 characters.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ProjectBillingInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:188:\"Encapsulation
  of billing information for a GCP Console project. A project\nhas at most one associated
  billing account at a time (but a billing account\ncan be assigned to multiple projects).\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"billingAccountName\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"The
  resource name of the billing account associated with the project, if\nany. For example,
  `billingAccounts/012345-567890-ABCDEF`.\";s:4:\"type\";s:6:\"string\";}s:14:\"billingEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:266:\"True
  if the project is associated with an open billing account, to which\nusage on the
  project is charged. False if the project is associated with a\nclosed billing account,
  or no billing account at all, and therefore cannot\nuse paid services. This field
  is read-only.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:258:\"The
  resource name for the `ProjectBillingInfo`; has the form\n`projects/{project_id}/billingInfo`.
  For example, the resource name for the\nbilling information for project `tokyo-rain-123`
  would be\n`projects/tokyo-rain-123/billingInfo`. This field is read-only.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  ID of the project that this `ProjectBillingInfo` represents, such as\n`tokyo-rain-123`.
  This is a convenience field so that you don't need to\nparse the `name` field to
  obtain a project ID. This field is read-only.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Service\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Encapsulates
  a single service in Google Cloud Platform.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"A
  human readable display name for this service.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  resource name for the service.\nExample: \"services/DA34-426B-A397\"\";s:4:\"type\";s:6:\"string\";}s:9:\"serviceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  identifier for the service.\nExample: \"DA34-426B-A397\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SetIamPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  message for `SetIamPolicy` method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Policy\";s:11:\"description\";s:224:\"REQUIRED:
  The complete policy to be applied to the `resource`. The size of\nthe policy is
  limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud
  Platform services (such as Projects)\nmight reject them.\";}s:10:\"updateMask\";O:8:\"stdClass\":3:{s:11:\"description\";s:238:\"OPTIONAL:
  A FieldMask specifying which fields of the policy to modify. Only\nthe fields in
  the mask will be modified. If no mask is provided, the\nfollowing default mask is
  used:\npaths: \"bindings, etag\"\nThis field is only used by Cloud IAM.\";s:6:\"format\";s:16:\"google-fieldmask\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Sku\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Encapsulates
  a single SKU in Google Cloud Platform\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Category\";s:11:\"description\";s:70:\"The
  category hierarchy of this SKU, purely for organizational purpose.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"A
  human readable description of the SKU, has a maximum length of 256\ncharacters.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"The
  resource name for the SKU.\nExample: \"services/DA34-426B-A397/skus/AA95-CD31-42FE\"\";s:4:\"type\";s:6:\"string\";}s:11:\"pricingInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"A
  timeline of pricing info for this SKU in chronological order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PricingInfo\";}s:4:\"type\";s:5:\"array\";}s:19:\"serviceProviderName\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Identifies
  the service provider.\nThis is 'Google' for first party services in Google Cloud
  Platform.\";s:4:\"type\";s:6:\"string\";}s:14:\"serviceRegions\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"List
  of service regions this SKU is offered at.\nExample: \"asia-east1\"\nService regions
  can be found at https://cloud.google.com/about/locations/\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"skuId\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  identifier for the SKU.\nExample: \"AA95-CD31-42FE\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"TestIamPermissionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Request
  message for `TestIamPermissions` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"The
  set of permissions to check for the `resource`. Permissions with\nwildcards (such
  as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"TestIamPermissionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Response
  message for `TestIamPermissions` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"TierRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  price rate indicating starting usage and its corresponding price.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"startUsageAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:176:\"Usage
  is priced at this rate only after this amount.\nExample: start_usage_amount of 10
  indicates that the usage will be priced\nat the unit_price after the first 10 usage_units.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"unitPrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:102:\"The
  price per unit of usage.\nExample: unit_price of amount $10 indicates that each
  unit will cost $10.\";}}s:4:\"type\";s:6:\"object\";}}"
...
