---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:112:\"Accesses
  the schemaless NoSQL database to provide fully managed, robust, scalable storage
  for your application.\n\";s:5:\"title\";s:15:\"Cloud Datastore\";s:7:\"version\";s:7:\"v1beta3\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"storage\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:90:\"https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:64:\"https://datastore.googleapis.com/$discovery/rest?version=v1beta3\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:0;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:9:\"datastore\";}"
host: datastore.googleapis.com
basePath: /
paths:
  /v1beta3/projects/{projectId}:allocateIds:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Allocates IDs for the given keys, which is useful for referencing
        an entitynbefore it is inserted.
      operationId: datastore.projects.allocateIds
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/AllocateIdsRequest'
      - description: The ID of the project against which to make the request.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AllocateIdsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
  /v1beta3/projects/{projectId}:beginTransaction:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Begins a new transaction.
      operationId: datastore.projects.beginTransaction
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/BeginTransactionRequest'
      - description: The ID of the project against which to make the request.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/BeginTransactionResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
  /v1beta3/projects/{projectId}:commit:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Commits a transaction, optionally creating, deleting or modifying
        somenentities.
      operationId: datastore.projects.commit
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CommitRequest'
      - description: The ID of the project against which to make the request.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CommitResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
  /v1beta3/projects/{projectId}:lookup:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Looks up entities by key.
      operationId: datastore.projects.lookup
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/LookupRequest'
      - description: The ID of the project against which to make the request.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/LookupResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
  /v1beta3/projects/{projectId}:reserveIds:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Prevents the supplied keys' IDs from being auto-allocated by CloudnDatastore.
      operationId: datastore.projects.reserveIds
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ReserveIdsRequest'
      - description: The ID of the project against which to make the request.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ReserveIdsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
  /v1beta3/projects/{projectId}:rollback:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Rolls back a transaction.
      operationId: datastore.projects.rollback
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/RollbackRequest'
      - description: The ID of the project against which to make the request.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/RollbackResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
  /v1beta3/projects/{projectId}:runQuery:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Queries for entities.
      operationId: datastore.projects.runQuery
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/RunQueryRequest'
      - description: The ID of the project against which to make the request.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/RunQueryResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":51:{s:18:\"AllocateIdsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  request for Datastore.AllocateIds.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"keys\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"A
  list of keys with incomplete key paths for which to allocate IDs.\nNo key may be
  reserved/read-only.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Key\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"AllocateIdsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  response for Datastore.AllocateIds.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"keys\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"The
  keys specified in the request (in the same order), each with\nits key path completed
  with a newly allocated ID.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Key\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ArrayValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"An
  array value.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"Values
  in the array.\nThe order of this array may not be preserved if it contains a mix
  of\nindexed and unindexed values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Value\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"BeginTransactionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  request for Datastore.BeginTransaction.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"transactionOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TransactionOptions\";s:11:\"description\";s:30:\"Options
  for a new transaction.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BeginTransactionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  response for Datastore.BeginTransaction.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"transaction\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  transaction identifier (always present).\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CommitRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  request for Datastore.Commit.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"mode\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  type of commit to perform. Defaults to `TRANSACTIONAL`.\";s:4:\"enum\";a:3:{i:0;s:16:\"MODE_UNSPECIFIED\";i:1;s:13:\"TRANSACTIONAL\";i:2;s:17:\"NON_TRANSACTIONAL\";}s:4:\"type\";s:6:\"string\";}s:9:\"mutations\";O:8:\"stdClass\":3:{s:11:\"description\";s:434:\"The
  mutations to perform.\n\nWhen mode is `TRANSACTIONAL`, mutations affecting a single
  entity are\napplied in order. The following sequences of mutations affecting a single\nentity
  are not permitted in a single `Commit` request:\n\n- `insert` followed by `insert`\n-
  `update` followed by `insert`\n- `upsert` followed by `insert`\n- `delete` followed
  by `update`\n\nWhen mode is `NON_TRANSACTIONAL`, no two mutations may affect a single\nentity.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Mutation\";}s:4:\"type\";s:5:\"array\";}s:11:\"transaction\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"The
  identifier of the transaction associated with the commit. A\ntransaction identifier
  is returned by a call to\nDatastore.BeginTransaction.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CommitResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  response for Datastore.Commit.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"indexUpdates\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  number of index entries updated during the commit, or zero if none were\nupdated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"mutationResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"The
  result of performing the mutations.\nThe i-th mutation result corresponds to the
  i-th mutation in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MutationResult\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CompositeFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"A
  filter that merges multiple other filters using the given operator.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"filters\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  list of filters to combine.\nMust contain at least one filter.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";}s:4:\"type\";s:5:\"array\";}s:2:\"op\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  operator for combining multiple filters.\";s:4:\"enum\";a:2:{i:0;s:20:\"OPERATOR_UNSPECIFIED\";i:1;s:3:\"AND\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Entity\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"A
  Datastore data object.\n\nAn entity is limited to 1 megabyte when stored. That _roughly_\ncorresponds
  to a limit of 1 megabyte for the serialized form of this\nmessage.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Key\";s:11:\"description\";s:221:\"The
  entity's key.\n\nAn entity must have a key, unless otherwise documented (for example,\nan
  entity in `Value.entity_value` may have no key).\nAn entity's kind is its key path's
  last element's kind,\nor null if it has no key.\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Value\";}s:11:\"description\";s:259:\"The
  entity's properties.\nThe map's keys are property names.\nA property name matching
  regex `__.*__` is reserved.\nA reserved property name is forbidden in certain documented
  contexts.\nThe name must not contain more than 500 characters.\nThe name cannot
  be `\"\"`.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:12:\"EntityResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  result of fetching an entity from Datastore.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"cursor\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"A
  cursor that points to the position after the result entity.\nSet only when the `EntityResult`
  is part of a `QueryResultBatch` message.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:6:\"entity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Entity\";s:11:\"description\";s:21:\"The
  resulting entity.\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:333:\"The
  version of the entity, a strictly positive number that monotonically\nincreases
  with changes to the entity.\n\nThis field is set for `FULL` entity\nresults.\n\nFor
  missing entities in `LookupResponse`, this\nis the version of the snapshot that
  was used to look up the entity, and it\nis always set except for eventually consistent
  reads.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Filter\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  holder for any type of filter.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"compositeFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CompositeFilter\";s:11:\"description\";s:19:\"A
  composite filter.\";}s:14:\"propertyFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PropertyFilter\";s:11:\"description\";s:23:\"A
  filter on a property.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"GoogleDatastoreAdminV1CommonMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Metadata
  common to all Datastore Admin operations.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  time the operation ended, either successfully or otherwise.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:114:\"The
  client-assigned labels which were provided when the operation was\ncreated. May
  also include additional labels.\";s:4:\"type\";s:6:\"object\";}s:13:\"operationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  type of the operation. Can be used as a filter in\nListOperationsRequest.\";s:4:\"enum\";a:3:{i:0;s:26:\"OPERATION_TYPE_UNSPECIFIED\";i:1;s:15:\"EXPORT_ENTITIES\";i:2;s:15:\"IMPORT_ENTITIES\";}s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  time that work began on the operation.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  current state of the Operation.\";s:4:\"enum\";a:8:{i:0;s:17:\"STATE_UNSPECIFIED\";i:1;s:12:\"INITIALIZING\";i:2;s:10:\"PROCESSING\";i:3;s:10:\"CANCELLING\";i:4;s:10:\"FINALIZING\";i:5;s:10:\"SUCCESSFUL\";i:6;s:6:\"FAILED\";i:7;s:9:\"CANCELLED\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"GoogleDatastoreAdminV1EntityFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:584:\"Identifies
  a subset of entities in a project. This is specified as\ncombinations of kinds and
  namespaces (either or both of which may be all, as\ndescribed in the following examples).\nExample
  usage:\n\nEntire project:\n  kinds=[], namespace_ids=[]\n\nKinds Foo and Bar in
  all namespaces:\n  kinds=['Foo', 'Bar'], namespace_ids=[]\n\nKinds Foo and Bar only
  in the default namespace:\n  kinds=['Foo', 'Bar'], namespace_ids=['']\n\nKinds Foo
  and Bar in both the default and Baz namespaces:\n  kinds=['Foo', 'Bar'], namespace_ids=['',
  'Baz']\n\nThe entire Baz namespace:\n  kinds=[], namespace_ids=['Baz']\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"kinds\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"If
  empty, then this represents all kinds.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"namespaceIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:316:\"An
  empty list represents all namespaces. This is the preferred\nusage for projects
  that don't use namespaces.\n\nAn empty string element represents the default namespace.
  This should be\nused if the project has data in non-default namespaces, but doesn't
  want to\ninclude them.\nEach namespace in this list must be unique.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:44:\"GoogleDatastoreAdminV1ExportEntitiesMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Metadata
  for ExportEntities operations.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"common\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GoogleDatastoreAdminV1CommonMetadata\";s:11:\"description\";s:50:\"Metadata
  common to all Datastore Admin operations.\";}s:12:\"entityFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/GoogleDatastoreAdminV1EntityFilter\";s:11:\"description\";s:49:\"Description
  of which entities are being exported.\";}s:15:\"outputUrlPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:258:\"Location
  for the export metadata and data files. This will be the same\nvalue as the\ngoogle.datastore.admin.v1.ExportEntitiesRequest.output_url_prefix\nfield.
  The final output location is provided in\ngoogle.datastore.admin.v1.ExportEntitiesResponse.output_url.\";s:4:\"type\";s:6:\"string\";}s:13:\"progressBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GoogleDatastoreAdminV1Progress\";s:11:\"description\";s:45:\"An
  estimate of the number of bytes processed.\";}s:16:\"progressEntities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GoogleDatastoreAdminV1Progress\";s:11:\"description\";s:48:\"An
  estimate of the number of entities processed.\";}}s:4:\"type\";s:6:\"object\";}s:44:\"GoogleDatastoreAdminV1ExportEntitiesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  response for\ngoogle.datastore.admin.v1.DatastoreAdmin.ExportEntities.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"outputUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:246:\"Location
  of the output metadata file. This can be used to begin an import\ninto Cloud Datastore
  (this project or another project). See\ngoogle.datastore.admin.v1.ImportEntitiesRequest.input_url.\nOnly
  present if the operation completed successfully.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:44:\"GoogleDatastoreAdminV1ImportEntitiesMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Metadata
  for ImportEntities operations.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"common\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/GoogleDatastoreAdminV1CommonMetadata\";s:11:\"description\";s:50:\"Metadata
  common to all Datastore Admin operations.\";}s:12:\"entityFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/GoogleDatastoreAdminV1EntityFilter\";s:11:\"description\";s:49:\"Description
  of which entities are being imported.\";}s:8:\"inputUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"The
  location of the import metadata file. This will be the same value as\nthe google.datastore.admin.v1.ExportEntitiesResponse.output_url
  field.\";s:4:\"type\";s:6:\"string\";}s:13:\"progressBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GoogleDatastoreAdminV1Progress\";s:11:\"description\";s:45:\"An
  estimate of the number of bytes processed.\";}s:16:\"progressEntities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GoogleDatastoreAdminV1Progress\";s:11:\"description\";s:48:\"An
  estimate of the number of entities processed.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"GoogleDatastoreAdminV1Progress\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Measures
  the progress of a particular metric.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"workCompleted\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  amount of work that has been completed. Note that this may be greater\nthan work_estimated.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"workEstimated\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"An
  estimate of how much work needs to be performed. May be zero if the\nwork estimate
  is unavailable.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:41:\"GoogleDatastoreAdminV1beta1CommonMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Metadata
  common to all Datastore Admin operations.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  time the operation ended, either successfully or otherwise.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:114:\"The
  client-assigned labels which were provided when the operation was\ncreated. May
  also include additional labels.\";s:4:\"type\";s:6:\"object\";}s:13:\"operationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  type of the operation. Can be used as a filter in\nListOperationsRequest.\";s:4:\"enum\";a:3:{i:0;s:26:\"OPERATION_TYPE_UNSPECIFIED\";i:1;s:15:\"EXPORT_ENTITIES\";i:2;s:15:\"IMPORT_ENTITIES\";}s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  time that work began on the operation.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  current state of the Operation.\";s:4:\"enum\";a:8:{i:0;s:17:\"STATE_UNSPECIFIED\";i:1;s:12:\"INITIALIZING\";i:2;s:10:\"PROCESSING\";i:3;s:10:\"CANCELLING\";i:4;s:10:\"FINALIZING\";i:5;s:10:\"SUCCESSFUL\";i:6;s:6:\"FAILED\";i:7;s:9:\"CANCELLED\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:39:\"GoogleDatastoreAdminV1beta1EntityFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:584:\"Identifies
  a subset of entities in a project. This is specified as\ncombinations of kinds and
  namespaces (either or both of which may be all, as\ndescribed in the following examples).\nExample
  usage:\n\nEntire project:\n  kinds=[], namespace_ids=[]\n\nKinds Foo and Bar in
  all namespaces:\n  kinds=['Foo', 'Bar'], namespace_ids=[]\n\nKinds Foo and Bar only
  in the default namespace:\n  kinds=['Foo', 'Bar'], namespace_ids=['']\n\nKinds Foo
  and Bar in both the default and Baz namespaces:\n  kinds=['Foo', 'Bar'], namespace_ids=['',
  'Baz']\n\nThe entire Baz namespace:\n  kinds=[], namespace_ids=['Baz']\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"kinds\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"If
  empty, then this represents all kinds.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"namespaceIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:316:\"An
  empty list represents all namespaces. This is the preferred\nusage for projects
  that don't use namespaces.\n\nAn empty string element represents the default namespace.
  This should be\nused if the project has data in non-default namespaces, but doesn't
  want to\ninclude them.\nEach namespace in this list must be unique.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:49:\"GoogleDatastoreAdminV1beta1ExportEntitiesMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Metadata
  for ExportEntities operations.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"common\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:55:\"#/definitions/GoogleDatastoreAdminV1beta1CommonMetadata\";s:11:\"description\";s:50:\"Metadata
  common to all Datastore Admin operations.\";}s:12:\"entityFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/GoogleDatastoreAdminV1beta1EntityFilter\";s:11:\"description\";s:49:\"Description
  of which entities are being exported.\";}s:15:\"outputUrlPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:268:\"Location
  for the export metadata and data files. This will be the same\nvalue as the\ngoogle.datastore.admin.v1beta1.ExportEntitiesRequest.output_url_prefix\nfield.
  The final output location is provided in\ngoogle.datastore.admin.v1beta1.ExportEntitiesResponse.output_url.\";s:4:\"type\";s:6:\"string\";}s:13:\"progressBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/GoogleDatastoreAdminV1beta1Progress\";s:11:\"description\";s:45:\"An
  estimate of the number of bytes processed.\";}s:16:\"progressEntities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/GoogleDatastoreAdminV1beta1Progress\";s:11:\"description\";s:48:\"An
  estimate of the number of entities processed.\";}}s:4:\"type\";s:6:\"object\";}s:49:\"GoogleDatastoreAdminV1beta1ExportEntitiesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  response for\ngoogle.datastore.admin.v1beta1.DatastoreAdmin.ExportEntities.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"outputUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:251:\"Location
  of the output metadata file. This can be used to begin an import\ninto Cloud Datastore
  (this project or another project). See\ngoogle.datastore.admin.v1beta1.ImportEntitiesRequest.input_url.\nOnly
  present if the operation completed successfully.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:49:\"GoogleDatastoreAdminV1beta1ImportEntitiesMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Metadata
  for ImportEntities operations.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"common\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:55:\"#/definitions/GoogleDatastoreAdminV1beta1CommonMetadata\";s:11:\"description\";s:50:\"Metadata
  common to all Datastore Admin operations.\";}s:12:\"entityFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/GoogleDatastoreAdminV1beta1EntityFilter\";s:11:\"description\";s:49:\"Description
  of which entities are being imported.\";}s:8:\"inputUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"The
  location of the import metadata file. This will be the same value as\nthe google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url\nfield.\";s:4:\"type\";s:6:\"string\";}s:13:\"progressBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/GoogleDatastoreAdminV1beta1Progress\";s:11:\"description\";s:45:\"An
  estimate of the number of bytes processed.\";}s:16:\"progressEntities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/GoogleDatastoreAdminV1beta1Progress\";s:11:\"description\";s:48:\"An
  estimate of the number of entities processed.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"GoogleDatastoreAdminV1beta1Progress\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Measures
  the progress of a particular metric.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"workCompleted\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  amount of work that has been completed. Note that this may be greater\nthan work_estimated.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"workEstimated\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"An
  estimate of how much work needs to be performed. May be zero if the\nwork estimate
  is unavailable.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"GqlQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"A
  [GQL query](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"allowLiterals\";O:8:\"stdClass\":2:{s:11:\"description\";s:217:\"When
  false, the query string must not contain any literals and instead must\nbind all
  values. For example,\n`SELECT * FROM Kind WHERE a = 'string literal'` is not allowed,
  while\n`SELECT * FROM Kind WHERE a = @value` is.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"namedBindings\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/GqlQueryParameter\";}s:11:\"description\";s:230:\"For
  each non-reserved named binding site in the query string, there must be\na named
  parameter with that name, but not necessarily the inverse.\n\nKey must match regex
  `A-Za-z_$*`, must not match regex\n`__.*__`, and must not be `\"\"`.\";s:4:\"type\";s:6:\"object\";}s:18:\"positionalBindings\";O:8:\"stdClass\":3:{s:11:\"description\";s:252:\"Numbered
  binding site @1 references the first numbered parameter,\neffectively using 1-based
  indexing, rather than the usual 0.\n\nFor each binding site numbered i in `query_string`,
  there must be an i-th\nnumbered parameter. The inverse must also be true.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/GqlQueryParameter\";}s:4:\"type\";s:5:\"array\";}s:11:\"queryString\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"A
  string of the format described\n[here](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GqlQueryParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"A
  binding parameter for a GQL query.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"cursor\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  query cursor. Query cursors are returned in query\nresult batches.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Value\";s:11:\"description\";s:18:\"A
  value parameter.\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Key\";O:8:\"stdClass\":3:{s:11:\"description\";s:217:\"A
  unique identifier for an entity.\nIf a key's partition ID or any of its path kinds
  or names are\nreserved/read-only, the key is reserved/read-only.\nA reserved/read-only
  key is forbidden in certain documented contexts.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"partitionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PartitionId\";s:11:\"description\";s:135:\"Entities
  are partitioned into subsets, currently identified by a project\nID and namespace
  ID.\nQueries are scoped to a single partition.\";}s:4:\"path\";O:8:\"stdClass\":3:{s:11:\"description\";s:855:\"The
  entity path.\nAn entity path consists of one or more elements composed of a kind
  and a\nstring or numerical identifier, which identify entities. The first\nelement
  identifies a _root entity_, the second element identifies\na _child_ of the root
  entity, the third element identifies a child of the\nsecond entity, and so forth.
  The entities identified by all prefixes of\nthe path are called the element's _ancestors_.\n\nAn
  entity path is always fully complete: *all* of the entity's ancestors\nare required
  to be in the path along with the entity identifier itself.\nThe only exception is
  that in some documented cases, the identifier in the\nlast path element (for the
  entity) itself may be omitted. For example,\nthe last path element of the key of
  `Mutation.insert` may have no\nidentifier.\n\nA path can never be empty, and a path
  can have at most 100 elements.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PathElement\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"KindExpression\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  representation of a kind.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the kind.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"LatLng\";O:8:\"stdClass\":3:{s:11:\"description\";s:320:\"An
  object representing a latitude/longitude pair. This is expressed as a pair\nof doubles
  representing degrees latitude and degrees longitude. Unless\nspecified otherwise,
  this must conform to the\n<a href=\"http://www.unoosa.org/pdf/icg/2012/template/WGS_84.pdf\">WGS84\nstandard</a>.
  Values must be within normalized ranges.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  latitude in degrees. It must be in the range [-90.0, +90.0].\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  longitude in degrees. It must be in the range [-180.0, +180.0].\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:13:\"LookupRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  request for Datastore.Lookup.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"keys\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Keys
  of entities to look up.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Key\";}s:4:\"type\";s:5:\"array\";}s:11:\"readOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ReadOptions\";s:11:\"description\";s:36:\"The
  options for this lookup request.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"LookupResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  response for Datastore.Lookup.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"deferred\";O:8:\"stdClass\":3:{s:11:\"description\";s:174:\"A
  list of keys that were not looked up due to resource constraints. The\norder of
  results in this field is undefined and has no relation to the\norder of the keys
  in the input.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Key\";}s:4:\"type\";s:5:\"array\";}s:5:\"found\";O:8:\"stdClass\":3:{s:11:\"description\";s:152:\"Entities
  found as `ResultType.FULL` entities. The order of results in this\nfield is undefined
  and has no relation to the order of the keys in the\ninput.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/EntityResult\";}s:4:\"type\";s:5:\"array\";}s:7:\"missing\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"Entities
  not found as `ResultType.KEY_ONLY` entities. The order of results\nin this field
  is undefined and has no relation to the order of the keys\nin the input.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/EntityResult\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Mutation\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  mutation to apply to an entity.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"baseVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"The
  version of the entity that this mutation is being applied to. If this\ndoes not
  match the current version on the server, the mutation conflicts.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"delete\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Key\";s:11:\"description\";s:139:\"The
  key of the entity to delete. The entity may or may not already exist.\nMust have
  a complete key path and must not be reserved/read-only.\";}s:6:\"insert\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Entity\";s:11:\"description\";s:111:\"The
  entity to insert. The entity must not already exist.\nThe entity key's final path
  element may be incomplete.\";}s:6:\"update\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Entity\";s:11:\"description\";s:83:\"The
  entity to update. The entity must already exist.\nMust have a complete key path.\";}s:6:\"upsert\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Entity\";s:11:\"description\";s:117:\"The
  entity to upsert. The entity may or may not already exist.\nThe entity key's final
  path element may be incomplete.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"MutationResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  result of applying a mutation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"conflictDetected\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Whether
  a conflict was detected for this mutation. Always false when a\nconflict detection
  strategy field is not set in the mutation.\";s:4:\"type\";s:7:\"boolean\";}s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Key\";s:11:\"description\";s:76:\"The
  automatically allocated key.\nSet only when the mutation allocated a key.\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:345:\"The
  version of the entity on the server after processing the mutation. If\nthe mutation
  doesn't change anything on the server, then the version will\nbe the version of
  the current entity or, if no entity is present, a version\nthat is strictly greater
  than the version of any previous entity and less\nthan the version of any possible
  future entity.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PartitionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:708:\"A
  partition ID identifies a grouping of entities. The grouping is always\nby project
  and namespace, however the namespace ID may be empty.\n\nA partition ID contains
  several dimensions:\nproject ID and namespace ID.\n\nPartition dimensions:\n\n-
  May be `\"\"`.\n- Must be valid UTF-8 bytes.\n- Must have values that match regex
  `[A-Za-z\\d\\.\\-_]{1,100}`\nIf the value of any dimension matches regex `__.*__`,
  the partition is\nreserved/read-only.\nA reserved/read-only partition ID is forbidden
  in certain documented\ncontexts.\n\nForeign partition IDs (in which the project
  ID does\nnot match the context project ID ) are discouraged.\nReads and writes of
  foreign partition IDs may fail if the project is not in an active state.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"namespaceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"If
  not empty, the ID of the namespace to which the entities belong.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  ID of the project to which the entities belong.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PathElement\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"A
  (kind, ID/name) pair used to construct a key path.\n\nIf either name or ID is set,
  the element is complete.\nIf neither is set, the element is incomplete.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"The
  auto-allocated ID of the entity.\nNever equal to zero. Values less than zero are
  discouraged and may not\nbe supported in the future.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:158:\"The
  kind of the entity.\nA kind matching regex `__.*__` is reserved/read-only.\nA kind
  must not contain more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:153:\"The
  name of the entity.\nA name matching regex `__.*__` is reserved/read-only.\nA name
  must not be more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Projection\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  representation of a property in a projection.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"property\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PropertyReference\";s:11:\"description\";s:24:\"The
  property to project.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"PropertyFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  filter on a specific property.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"op\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  operator to filter by.\";s:4:\"enum\";a:7:{i:0;s:20:\"OPERATOR_UNSPECIFIED\";i:1;s:9:\"LESS_THAN\";i:2;s:18:\"LESS_THAN_OR_EQUAL\";i:3;s:12:\"GREATER_THAN\";i:4;s:21:\"GREATER_THAN_OR_EQUAL\";i:5;s:5:\"EQUAL\";i:6;s:12:\"HAS_ANCESTOR\";}s:4:\"type\";s:6:\"string\";}s:8:\"property\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PropertyReference\";s:11:\"description\";s:26:\"The
  property to filter by.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Value\";s:11:\"description\";s:37:\"The
  value to compare the property to.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"PropertyOrder\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  desired order for a specific property.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"direction\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  direction to order by. Defaults to `ASCENDING`.\";s:4:\"enum\";a:3:{i:0;s:21:\"DIRECTION_UNSPECIFIED\";i:1;s:9:\"ASCENDING\";i:2;s:10:\"DESCENDING\";}s:4:\"type\";s:6:\"string\";}s:8:\"property\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PropertyReference\";s:11:\"description\";s:25:\"The
  property to order by.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"PropertyReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  reference to a property relative to the kind expressions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  name of the property.\nIf name includes \".\"s, it may be interpreted as a property
  name path.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Query\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"A
  query for entities.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"distinctOn\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"The
  properties to make distinct. The query results will contain the first\nresult for
  each distinct combination of values for the given properties\n(if empty, all results
  are returned).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PropertyReference\";}s:4:\"type\";s:5:\"array\";}s:9:\"endCursor\";O:8:\"stdClass\":3:{s:11:\"description\";s:222:\"An
  ending point for the query results. Query cursors are\nreturned in query result
  batches and\n[can only be used to limit the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";s:11:\"description\";s:20:\"The
  filter to apply.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  kinds to query (if empty, returns entities of all kinds).\nCurrently at most 1 kind
  may be specified.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/KindExpression\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:11:\"description\";s:154:\"The
  maximum number of results to return. Applies after all other\nconstraints. Optional.\nUnspecified
  is interpreted as no limit.\nMust be >= 0 if specified.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"The
  number of results to skip. Applies before limit, but after all other\nconstraints.
  Optional. Must be >= 0 if specified.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"order\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  order to apply to the query results (if empty, order is unspecified).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PropertyOrder\";}s:4:\"type\";s:5:\"array\";}s:10:\"projection\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  projection to return. Defaults to returning all properties.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Projection\";}s:4:\"type\";s:5:\"array\";}s:11:\"startCursor\";O:8:\"stdClass\":3:{s:11:\"description\";s:226:\"A
  starting point for the query results. Query cursors are\nreturned in query result
  batches and\n[can only be used to continue the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"QueryResultBatch\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"A
  batch of results produced by a query.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"endCursor\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"A
  cursor that points to the position after the last result in the batch.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:16:\"entityResultType\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  result type for every entity in `entity_results`.\";s:4:\"enum\";a:4:{i:0;s:23:\"RESULT_TYPE_UNSPECIFIED\";i:1;s:4:\"FULL\";i:2;s:10:\"PROJECTION\";i:3;s:8:\"KEY_ONLY\";}s:4:\"type\";s:6:\"string\";}s:13:\"entityResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  results for this batch.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/EntityResult\";}s:4:\"type\";s:5:\"array\";}s:11:\"moreResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  state of the query after the current batch.\";s:4:\"enum\";a:5:{i:0;s:29:\"MORE_RESULTS_TYPE_UNSPECIFIED\";i:1;s:12:\"NOT_FINISHED\";i:2;s:24:\"MORE_RESULTS_AFTER_LIMIT\";i:3;s:25:\"MORE_RESULTS_AFTER_CURSOR\";i:4;s:15:\"NO_MORE_RESULTS\";}s:4:\"type\";s:6:\"string\";}s:13:\"skippedCursor\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"A
  cursor that points to the position after the last skipped result.\nWill be set when
  `skipped_results` != 0.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:14:\"skippedResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  number of results skipped, typically because of an offset.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"snapshotVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:494:\"The
  version number of the snapshot this batch was returned from.\nThis applies to the
  range of results from the query's `start_cursor` (or\nthe beginning of the query
  if no cursor was given) to this batch's\n`end_cursor` (not the query's `end_cursor`).\n\nIn
  a single transaction, subsequent query result batches for the same query\ncan have
  a greater snapshot version number. Each batch's snapshot version\nis valid for all
  preceding batches.\nThe value will be zero for eventually consistent queries.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"ReadOnly\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Options
  specific to read-only transactions.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"ReadOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  options shared by read requests.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"readConsistency\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"The
  non-transactional read consistency to use.\nCannot be set to `STRONG` for global
  queries.\";s:4:\"enum\";a:3:{i:0;s:28:\"READ_CONSISTENCY_UNSPECIFIED\";i:1;s:6:\"STRONG\";i:2;s:8:\"EVENTUAL\";}s:4:\"type\";s:6:\"string\";}s:11:\"transaction\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"The
  identifier of the transaction in which to read. A\ntransaction identifier is returned
  by a call to\nDatastore.BeginTransaction.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ReadWrite\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Options
  specific to read / write transactions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"previousTransaction\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  transaction identifier of the transaction being retried.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ReserveIdsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  request for Datastore.ReserveIds.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"databaseId\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"If
  not empty, the ID of the database against which to make the request.\";s:4:\"type\";s:6:\"string\";}s:4:\"keys\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"A
  list of keys with complete key paths whose numeric IDs should not be\nauto-allocated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Key\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ReserveIdsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  response for Datastore.ReserveIds.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"RollbackRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  request for Datastore.Rollback.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"transaction\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  transaction identifier, returned by a call to\nDatastore.BeginTransaction.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"RollbackResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  response for Datastore.Rollback.\n(an empty message).\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"RunQueryRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  request for Datastore.RunQuery.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"gqlQuery\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/GqlQuery\";s:11:\"description\";s:21:\"The
  GQL query to run.\";}s:11:\"partitionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PartitionId\";s:11:\"description\";s:190:\"Entities
  are partitioned into subsets, identified by a partition ID.\nQueries are scoped
  to a single partition.\nThis partition ID is normalized with the standard default
  context\npartition ID.\";}s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Query\";s:11:\"description\";s:17:\"The
  query to run.\";}s:11:\"readOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ReadOptions\";s:11:\"description\";s:27:\"The
  options for this query.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"RunQueryResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  response for Datastore.RunQuery.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"batch\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/QueryResultBatch\";s:11:\"description\";s:42:\"A
  batch of query results (always present).\";}s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Query\";s:11:\"description\";s:66:\"The
  parsed form of the `GqlQuery` from the request, if it was set.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"TransactionOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:192:\"Options
  for beginning a new transaction.\n\nTransactions can be created explicitly with
  calls to\nDatastore.BeginTransaction or implicitly by setting\nReadOptions.new_transaction
  in read requests.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"readOnly\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ReadOnly\";s:11:\"description\";s:40:\"The
  transaction should only allow reads.\";}s:9:\"readWrite\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ReadWrite\";s:11:\"description\";s:51:\"The
  transaction should allow both reads and writes.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Value\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"A
  message that can hold any of the supported value types and associated\nmetadata.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"arrayValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ArrayValue\";s:11:\"description\";s:157:\"An
  array value.\nCannot contain another array value.\nA `Value` instance that sets
  field `array_value` must not set fields\n`meaning` or `exclude_from_indexes`.\";}s:9:\"blobValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"A
  blob value.\nMay have at most 1,000,000 bytes.\nWhen `exclude_from_indexes` is false,
  may have at most 1500 bytes.\nIn JSON requests, must be base64-encoded.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:12:\"booleanValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"A
  boolean value.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"doubleValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"A
  double value.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"entityValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Entity\";s:11:\"description\";s:119:\"An
  entity value.\n\n- May have no key.\n- May have a key with an incomplete key path.\n-
  May have a reserved/read-only key.\";}s:18:\"excludeFromIndexes\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"If
  the value should be excluded from all indexes including those defined\nexplicitly.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"geoPointValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/LatLng\";s:11:\"description\";s:63:\"A
  geo point value representing a point on the surface of Earth.\";}s:12:\"integerValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"An
  integer value.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"keyValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Key\";s:11:\"description\";s:12:\"A
  key value.\";}s:7:\"meaning\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  `meaning` field should only be populated for backwards compatibility.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"nullValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"A
  null value.\";s:4:\"enum\";a:1:{i:0;s:10:\"NULL_VALUE\";}s:4:\"type\";s:6:\"string\";}s:11:\"stringValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"A
  UTF-8 encoded string value.\nWhen `exclude_from_indexes` is false (it is indexed)
  , may have at most 1500 bytes.\nOtherwise, may be set to at least 1,000,000 bytes.\";s:4:\"type\";s:6:\"string\";}s:14:\"timestampValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"A
  timestamp value.\nWhen stored in the Datastore, precise only to microseconds;\nany
  additional precision is rounded down.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
