---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:26:\"Product Catalog Management\";s:11:\"description\";s:93:\"This
  is Swagger UI environment generated for the TMF Product Catalog Management specification\";s:7:\"version\";s:3:\"3.0\";}"
host: biologeek.orange-labs.fr
basePath: /tmf-api/productCatalogManagement
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":45:{s:15:\"ProductOffering\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:116:\"Represents
  entities that are orderable from the provider of the catalog, this resource includes
  pricing information.\";s:10:\"properties\";O:8:\"stdClass\":26:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Unique
  identifier of the productOffering\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Reference
  of the ProductOffering\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Name
  of the productOffering\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Description
  of the productOffering\";}s:8:\"isBundle\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:130:\"isBundle
  determines whether a productOffering represents a single productOffering (false),
  or a bundle of productOfferings (true).\";}s:10:\"lastUpdate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:32:\"Date
  and time of the last update\";}s:15:\"lifecycleStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Used
  to indicate the current lifecycle status\";}s:8:\"validFor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";s:11:\"description\";s:49:\"The
  period for which the productOffering is valid\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"ProductOffering
  version\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Class
  type of the product offering\";}s:9:\"@baseType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Immediate
  base (class) type of the product offering\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"A
  link to the schema describing this product offerring\";}s:5:\"place\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/PlaceRef\";}}s:21:\"serviceLevelAgreement\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/SLARef\";}s:20:\"productSpecification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ProductSpecificationRef\";}s:7:\"channel\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ChannelRef\";}}s:16:\"serviceCandidate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ServiceCandidateRef\";}s:10:\"attachment\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CategoryRef\";}}s:17:\"resourceCandidate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ResourceCandidateRef\";}s:19:\"productOfferingTerm\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProductOfferingTerm\";}}s:13:\"marketSegment\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/MarketSegmentRef\";}}s:20:\"productOfferingPrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProductOfferingPrice\";}}s:9:\"agreement\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AgreementRef\";}}s:22:\"bundledProductOffering\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/BundledProductOffering\";}}s:20:\"prodSpecCharValueUse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProdSpecCharValueUse\";}}}}s:9:\"ImportJob\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:54:\"Represents
  a task used to import resources from a file\";s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Identifier
  of the import job\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Reference
  of the import job\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Indicates
  the format of the imported data\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"URL
  of the root resource where the content of the file specified by the import job must
  be applied\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Status
  of the import job (not started, running, succeeded, failed)\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"URL
  of the file containing the data to be imported\";}s:14:\"completionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:35:\"Date
  at which the job was completed\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:33:\"Date
  at which the job was created\";}s:8:\"errorLog\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Reason
  for failure if status is failed\";}}}s:16:\"ImportJob_Create\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:82:\"Represents
  a task used to import resources from a file\nSkipped properties: id,href\";s:8:\"required\";a:1:{i:0;s:3:\"url\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Indicates
  the format of the imported data\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"URL
  of the root resource where the content of the file specified by the import job must
  be applied\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Status
  of the import job (not started, running, succeeded, failed)\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"URL
  of the file containing the data to be imported\";}s:14:\"completionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:35:\"Date
  at which the job was completed\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:33:\"Date
  at which the job was created\";}s:8:\"errorLog\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Reason
  for failure if status is failed\";}}}s:20:\"ProductSpecification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:171:\"Is
  a detailed description of a tangible or intangible object made available externally
  in the form of a ProductOffering to customers or other parties playing a party role.\";s:10:\"properties\";O:8:\"stdClass\":21:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Unique
  identifier of the product specification\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Reference
  of the product specification\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Name
  of the product specification\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"A
  narrative that explains in detail what the product specification is\";}s:5:\"brand\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  manufacturer or trademark of the specification\";}s:8:\"isBundle\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:144:\"isBundle
  determines whether a productSpecification represents a single productSpecification
  (false), or a bundle of productSpecification (true).\";}s:10:\"lastUpdate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:32:\"Date
  and time of the last update\";}s:15:\"lifecycleStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Used
  to indicate the current lifecycle status\";}s:13:\"productNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"An
  identification number assigned to uniquely identity the specification\";}s:8:\"validFor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";s:11:\"description\";s:55:\"The
  period for which the product specification is valid\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Product
  specification version\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"class
  type of the product specification\";}s:9:\"@baseType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"base
  class type  (immediate parent) of the product specification\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"hyperlink
  reference to schema describing this object\";}s:12:\"relatedParty\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RelatedPartyRef\";}}s:25:\"productSpecCharacteristic\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ProductSpecCharacteristic\";}}s:20:\"serviceSpecification\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ServiceSpecificationRef\";}}s:32:\"productSpecificationRelationship\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ProductSpecificationRelationship\";}}s:21:\"resourceSpecification\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ResourceSpecificationRef\";}}s:10:\"attachment\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}}s:27:\"bundledProductSpecification\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/BundledProductSpecification\";}}}}s:7:\"Catalog\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:915:\"The
  root entity for entity catalog management. An entity catalog can be defined as a
  collection of entity catalog items and arranging them in a particular manner based
  on the need.\nIn comparison to Product, Service and Resource catalogs, the entity
  catalog is intended for the purpose of providing any SID entity to consumers via
  a catalog, with its specification and policy providing governance over its content.
  Even Entity catalog may have an overlap with Product, Service or Resource catalog,
  it doesn't replace them. It is primarily intended to address those SID entities
  which may not be addressed by any of Product, Service or Resource catalog.\nAn entity
  catalog comprises of a list of RootEntities made available through EntityCatalogItems.
  This API addresses only RootEntity extended items as EntitySpecification. An entity
  catalog typically includes name, description and time period that it is valid for.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Unique
  identifier of the Catalog\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Unique
  reference of the catalog\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of the catalog\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Description
  of this catalog\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:89:\"Indicates
  the (class) type of catalog. For entity catalogs, this will be 'EntityCatalog'.\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"This
  field provides a link to the schema describing this REST resource\";}s:9:\"@baseType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"Indicates<b>
  </b>the base (class) type of this REST resource\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Catalog
  version\";}s:8:\"validFor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";s:11:\"description\";s:41:\"The
  period for which the catalog is valid\";}s:10:\"lastUpdate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:32:\"Date
  and time of the last update\";}s:15:\"lifecycleStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Used
  to indicate the current lifecycle status\";}}}s:9:\"ExportJob\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:52:\"Represents
  a task used to export resources to a file\";s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Identifier
  of the export job\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Reference
  of the export job\";}s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Used
  to scope the exported data\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"URL
  of the root resource acting as the source for streaming content to the file specified
  by the export job\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  format of the exported data\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Status
  of the export job (not started, running, succeeded, failed)\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"URL
  of the file containing the data to be exported\";}s:14:\"completionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:35:\"Data
  at which the job was completed\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:33:\"Date
  at which the job was created\";}s:8:\"errorLog\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Reason
  for failure\";}}}s:16:\"ExportJob_Create\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:80:\"Represents
  a task used to export resources to a file\nSkipped properties: id,href\";s:8:\"required\";a:1:{i:0;s:3:\"url\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Used
  to scope the exported data\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"URL
  of the root resource acting as the source for streaming content to the file specified
  by the export job\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  format of the exported data\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Status
  of the export job (not started, running, succeeded, failed)\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"URL
  of the file containing the data to be exported\";}s:14:\"completionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:35:\"Data
  at which the job was completed\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:33:\"Date
  at which the job was created\";}s:8:\"errorLog\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Reason
  for failure\";}}}s:8:\"Category\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:210:\"The
  category resource is used to group product offerings, service and resource candidates
  in logical containers. Categories can contain other categories and/or product offerings,
  resource or service candidates.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Unique
  identifier of the category\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Reference
  of the catalog\";}s:10:\"lastUpdate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:32:\"Date
  and time of the last update\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Category
  version\";}s:15:\"lifecycleStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Used
  to indicate the current lifecycle status\";}s:8:\"validFor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";s:11:\"description\";s:42:\"The
  period for which the category is valid\";}s:8:\"parentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Unique
  identifier of the parent category\";}s:6:\"isRoot\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:73:\"If
  true, this Boolean indicates that the category is a root of categories\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Name
  of the category\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Description
  of the category\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"the
  class type of the Category\";}s:9:\"@baseType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"the
  base class type of the category\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"link
  to the schema describing this category\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CategoryRef\";}}s:16:\"productOfferings\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ProductOfferingRef\";}}}}s:20:\"ProductOfferingPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:217:\"An
  amount, usually of money, that is asked for or allowed when a ProductOffering is
  bought, rented, or leased. The price is valid for a defined period of time and may
  not represent the actual price paid by a customer.\";s:10:\"properties\";O:8:\"stdClass\":26:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"unique
  id of this resource\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Name
  of the productOfferingPrice\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Description
  of the productOfferingPrice\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"ProductOffering
  version\";}s:8:\"validFor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";s:11:\"description\";s:54:\"The
  period for which the productOfferingPrice is valid\";}s:9:\"priceType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"A
  category that describes the price, such as recurring, discount, allowance, penalty,
  and so forth.\";}s:13:\"unitOfMeasure\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:201:\"A
  number and unit representing how many (for instance 1 dozen) of an ProductOffering
  is available at the offered price. Its meaning depends on the priceType. It could
  be a price, a rate, or a discount.\";}s:25:\"recurringChargePeriodType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"The
  period to repeat the application of the price\nCould be month, week...\";}s:27:\"recurringChargePeriodLength\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:87:\"the
  period of the recurring charge:  1, 2, ... .It sets to zero if it is not applicable\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  class type of this Product offering\";}s:9:\"@baseType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"the
  immediate base class type of this product offering\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"hyperlink
  reference to the schema describing this resource\";}s:10:\"lastUpdate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:32:\"the
  last update time of this POP\";}s:8:\"isBundle\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:58:\"A
  flag indicating if this POP is composite (bundle) or not\";}s:15:\"lifecycleStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"the
  lifecycle status of this POP\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:49:\"The
  amount of money that characterizes the price.\";}s:10:\"percentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:59:\"Percentage
  to apply for ProdOfferPriceAlteration (Discount)\";}s:23:\"bundledPopRelationships\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/BundledPopRelationship\";}}s:16:\"popRelationships\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PopRelationship\";}}s:20:\"prodSpecCharValueUse\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProdSpecCharValueUse\";}}s:19:\"productOfferingTerm\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProductOfferingTerm\";}}s:5:\"place\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/PlaceRef\";}}s:10:\"constraint\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ConstraintRef\";}}s:21:\"pricingLogicAlgorithm\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PricingLogicAlgorithm\";}}s:3:\"tax\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tax\";}}}}s:10:\"TimePeriod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:89:\"A
  base / value business entity used to represent a period of time between two timepoints.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"startDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:46:\"An
  instant of time, starting at the TimePeriod\";}s:11:\"endDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:45:\"An
  instant of time, ending at the TimePeriod.\";}}}s:8:\"PlaceRef\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:83:\"Place
  reference. Place defines the places where the products are sold or delivered.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Unique
  identifier of the place\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Unique
  reference of the place\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"A
  user-friendly name for the place, such as \"Paris Store\", \"London Store\", \"Main
  Home\"\";}s:14:\"geoLocationUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"A
  url providing a map for localizing the place\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:136:\"A
  string characterizing an address (for instance a formatted address or an identifier
  taken from an address database or an address API).\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"class
  type of the Place object\";}s:4:\"role\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Role
  of the place (for instance: 'home delivery', 'shop retrieval')\";}}}s:6:\"SLARef\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:429:\"ServiceLevelAgreement
  reference: A service level agreement (SLA) is a type of agreement that represents
  a formal negotiated agreement between two parties designed to create a common understanding
  about products, services, priorities, responsibilities, and so forth. The SLA is
  a set of appropriate procedures and targets formally or informally agreed between
  parties in order to achieve and maintain specified Quality of Service.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Unique
  identifier of service level agreement\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Reference
  of the service level agreement\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Name
  of the service level agreement\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"class
  type of Service Level Agreement\";}}}s:23:\"ProductSpecificationRef\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:227:\"Product
  specification reference: A ProductSpecification is a detailed description of a tangible
  or intangible object made available externally in the form of a ProductOffering
  to customers or other parties playing a party role.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Unique
  identifier of the product specification\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Reference
  of the product specification\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Version
  of the product specification\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Name
  of the product specification\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"class
  type of Product Specification\";}}}s:10:\"ChannelRef\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:81:\"Channel
  reference. The channel defines the channel for selling product offerings.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Unique
  identifier of the channel\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Reference
  of the channel\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of the channel\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"(Class)
  type of the channel like DistributionChannel, SalesChannel and so on\";}}}s:19:\"ServiceCandidateRef\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:115:\"ServiceCandidate
  reference. ServiceCandidate is an entity that makes a ServiceSpecification available
  to a catalog.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Unique
  identifier of the service candidate\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Unique
  reference of the service candidate\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Version
  of the service candidate\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Name
  of the service candidate\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  Class type of Service Candidate\";}}}s:10:\"Attachment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:93:\"Complements
  the description of an element (for instance a product) through video, pictures...\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"A
  narrative text describing the content of the attachment\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Reference
  of the attachment\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Unique
  identifier of the attachment\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Attachment
  type such as video, picture\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"Uniform
  Resource Locator, is a web page address (a subset of URI)\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Attachment
  mime type such as extension file for video, picture and document\";}s:8:\"validFor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"the
  class type of the Attachment\";}s:9:\"@baseType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  immediate base class type of the attachment\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"A
  link to the schema describing this attachment entity\";}}}s:11:\"CategoryRef\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:230:\"Category
  reference. The category resource is used to group product offerings, service and
  resource candidates in logical containers. Categories can contain other categories
  and/or product offerings, resource or service candidates.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Unique
  reference of the category\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Unique
  reference of the category\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Category
  version\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Name
  of the category\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"the
  class type of the Category\";}}}s:20:\"ResourceCandidateRef\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:121:\"ResourceCandidate
  reference: A resource candidate is an entity that makes a ResourceSpecification
  available to a catalog.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Unique
  identifier of the resource candidate\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Reference
  of the resource candidate\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Version
  of the resource candidate\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Name
  of the resource candidate\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  Class type of Resource Candidate\";}}}s:19:\"ProductOfferingTerm\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:154:\"A
  condition under which a ProductOffering is made available to Customers. For instance,
  a productOffering can be offered with multiple commitment periods.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Name
  of the productOfferingTerm\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Description
  of the productOfferingTerm\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Quantity\";s:11:\"description\";s:35:\"Duration
  of the productOfferingTerm\";}s:8:\"validFor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";s:11:\"description\";s:53:\"The
  period for which the productOfferingterm is valid\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  class type of ProductOfferingTerm\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"A
  link to the schema describing this product offering term\";}}}s:16:\"MarketSegmentRef\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:174:\"provides
  references to the corresponding market segment as target of product offerings. A
  market segment is grouping of Parties, GeographicAreas, SalesChannels, and so forth.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Unique
  identifier of the market segment\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Reference
  of the market segment\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Name
  of the market segment\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"(Class)
  type of the market segment\";}}}s:12:\"AgreementRef\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:325:\"Agreement
  reference. An agreement represents a contract or arrangement, either written or
  verbal and sometimes enforceable by law, such as a service level agreement or a
  customer price agreement. An agreement involves a number of other business entities,
  such as products, services, and resources and/or their specifications.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Reference
  of the agreement\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Identifier
  of the agreement\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Name
  of the agreement\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"class
  type of the Agreement\";}}}s:22:\"BundledProductOffering\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:152:\"A
  type of ProductOffering that belongs to a grouping of ProductOfferings made available
  to the market. It inherits of all attributes of ProductOffering.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Unique
  identifier of the BundledProductOffering\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Unique
  reference of the BundledProductOffering\";}s:15:\"lifecycleStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Used
  to indicate the current lifecycle status\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Name
  of the BundledProductOffering\";}s:22:\"bundledProductOffering\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/BundledProdOfferOption\";}}}s:20:\"ProdSpecCharValueUse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:846:\"A
  use of the ProdSpecCharacteristicValue by a ProductOffering to which additional
  properties (attributes) apply or override the properties of similar properties contained
  in ProdSpecCharacteristicValue. It should be noted that characteristics which their
  value(s) addressed by this object must exist in corresponding product specification.
  The available characteristic values for a ProductSpecCharacteristic in a Product
  specification can be modified at the ProductOffering level. For example, a characteristic
  'Color' might have values White, Blue, Green, and Red. But, the list of values can
  be restricted to e.g. White and Blue in an associated product offering. It should
  be noted that the list of values in 'ProdSpecCharValueUse' is a strict subset of
  the list of values as defined in the corresponding product specification characteristics.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Name
  of the associated productSpecCharacteristic\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"A
  narrative that explains in detail what the productSpecCharacteristic is\";}s:9:\"valueType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"A
  kind of value that the characteristic can take on, such as numeric, text and so
  forth\";}s:14:\"minCardinality\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:179:\"The
  minimum number of instances a CharacteristicValue can take on. For example, zero
  to five phone numbers in a group calling plan, where zero is the value for the minCardinality.\";}s:14:\"maxCardinality\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:179:\"The
  maximum number of instances a CharacteristicValue can take on. For example, zero
  to five phone numbers in a group calling plan, where five is the value for the maxCardinality.\";}s:8:\"validFor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";s:11:\"description\";s:59:\"The
  period for which the productSpecCharacteristic is valid\";}s:30:\"productSpecCharacteristicValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/ProductSpecCharacteristicValue\";}}s:20:\"productSpecification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ProductSpecificationRef\";}}}s:8:\"Quantity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:51:\"A
  base / value and unit  used to represent quantity\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:107:\"A
  quantity of something, typically the total of a thing or things in number, size,
  value, extent, or money.\";}s:5:\"units\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:131:\"The
  unit of measure for the quantity, such as meters, cubic yards, kilograms [ISO 80000],
  and the currency referring to [ISO 4217].\";}}}s:5:\"Price\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:117:\"Provides
  all amounts (tax included, duty free, tax rate), used currency and percentage to
  apply for Price Alteration.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"taxIncludedAmount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:59:\"All
  taxes included amount (expressed in the given currency)\";}s:14:\"dutyFreeAmount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:59:\"All
  taxes excluded amount (expressed in the given currency)\";}s:7:\"taxRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:8:\"Tax
  rate\";}s:10:\"percentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:48:\"Percentage
  to apply for ProdOfferPriceAlteration\";}}}s:15:\"PriceAlteration\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:82:\"Is
  an amount, usually of money, that modifies the price charged for an order item.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"A
  short descriptive name such as \"Monthly discount\"\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"A
  narrative that explains in detail the semantics of this order item price alteration\";}s:9:\"priceType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"A
  category that describes the price such as recurring, one time and usage.\";}s:13:\"unitOfMeasure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Could
  be minutes, GB...\";}s:21:\"recurringChargePeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Could
  be month, week...\";}s:19:\"applicationDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:132:\"Duration
  during which the alteration applies on the order item price (for instance 2 months
  free of charge for the recurring charge)\";}s:8:\"priority\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:101:\"Priority
  level for applying this alteration among all the defined alterations on the order
  item price\";}s:14:\"priceCondition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Condition
  that triggers the price application\";}s:8:\"validFor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";s:11:\"description\";s:50:\"The
  period for which the price alteration is valid\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}}}s:5:\"Money\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:54:\"A
  base / value business entity used to represent money\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:32:\"A
  positive floating point number\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"Currency
  (ISO4217 norm uses 3 letters to define the currency)\";}}}s:22:\"BundledProdOfferOption\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:185:\"A
  set of numbers that specifies the lower and upper limits for a ProductOffering that
  can be procured as part of the related BundledProductOffering. Values can range
  from 0 to unbounded\";s:10:\"properties\";O:8:\"stdClass\":3:{s:24:\"numberRelOfferLowerLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:101:\"lower
  limit for a product offering that can be procured as part of the related BundledProductOffering\";}s:24:\"numberRelOfferUpperLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:101:\"upper
  limit for a product offering that can be procured as part of the related BundledProductOffering\";}s:21:\"numberRelOfferDefault\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:105:\"Default
  number of produc offereings that should be procured as part of the related BundledProductOffering\";}}}s:30:\"ProductSpecCharacteristicValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:69:\"A
  number or text that can be assigned to a ProductSpecCharacteristic.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"default\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:64:\"Indicates
  if the value is the default value for a characteristic\";}s:13:\"unitOfMeasure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Could
  be minutes, GB...\";}s:8:\"validFor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";s:11:\"description\";s:50:\"The
  period of time for which a value is applicable\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"A
  discrete value that the characteristic can take on. the value type is defined by
  'valueType' characteristic\";}s:9:\"valueFrom\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  low range value that a characteristic can take on\";}s:7:\"valueTo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  upper range value that a characteristic can take on\";}s:9:\"valueType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"A
  kind of value that the characteristic can take on, such as numeric, text, and so
  forth\";}s:13:\"rangeInterval\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:180:\"An
  indicator that specifies the inclusion or exclusion of the valueFrom and valueTo
  attributes. If applicable, possible values are \"open\", \"closed\", \"closedBottom\"
  and \"closedTop\".\";}s:5:\"regex\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"Regular
  expression to define constraint on the allowed value\";}}}s:15:\"RelatedPartyRef\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:96:\"RelatedParty
  reference. A related party defines party or party role linked to a specific entity.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Unique
  identifier of a related party\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"Reference
  of the related party, could be a party reference or a party role reference\";}s:4:\"role\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Role
  of the related party.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Name
  of the related party\";}s:8:\"validFor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";s:11:\"description\";s:36:\"Validity
  period of the related party\";}}}s:25:\"ProductSpecCharacteristic\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:402:\"A
  characteristic quality or distinctive feature of a ProductSpecification.  The characteristic
  can be take on a discrete value, such as color, can take on a range of values, (for
  example, sensitivity of 100-240 mV), or can be derived from a formula (for example,
  usage time (hrs) = 30 - talk time *3). Certain characteristics, such as color, may
  be configured during the ordering or some other process.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Name
  of the productSpecCharacteristic\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"A
  narrative that explains in detail what the productSpecCharacteristic is\";}s:9:\"valueType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"A
  kind of value that the characteristic can take on, such as numeric, text and so
  forth\";}s:12:\"configurable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:81:\"If
  true, the Boolean indicates that the productSpecCharacteristic is configurable\";}s:8:\"validFor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";s:11:\"description\";s:59:\"The
  period for which the productSpecCharacteristic is valid\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"the
  class type of this characteristic\";}s:15:\"@schemaLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"hyperlink
  reference to the schema describing this characteristic\";}s:27:\"productSpecCharRelationship\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ProductSpecCharRelationship\";}}s:30:\"productSpecCharacteristicValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/ProductSpecCharacteristicValue\";}}}}s:23:\"ServiceSpecificationRef\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:100:\"Service
  specification reference: ServiceSpecification(s) required to realize a ProductSpecification.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Unique
  identifier of the service specification\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Reference
  of the serviceSpecification\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Name
  of the requiredServiceSpecification\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Service
  specification version\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"the
  class type of associated service specification\";}}}s:32:\"ProductSpecificationRelationship\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:103:\"A
  migration, substitution, dependency or exclusivity relationship between/among product
  specifications.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Unique
  identifier of the productSpecification\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Reference
  of the productSpecification\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Type
  of relationship such as migration, substitution, dependency, exclusivity\";}s:8:\"validFor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";s:11:\"description\";s:66:\"The
  period for which the productSpecificationRelationship is valid\";}}}s:24:\"ResourceSpecificationRef\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:106:\"Resource
  Specification reference: The ResourceSpecification is required to realize a ProductSpecification.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Unique
  identifier of the resource specification\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Reference
  of the resource specification\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Name
  of the requiredResourceSpecification\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Resource
  specification version\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"the
  class type of associated resource specification\";}}}s:27:\"BundledProductSpecification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:167:\"A
  type of ProductSpecification that belongs to a grouping of ProductSpecifications
  made available to the market. It inherits of all attributes of ProductSpecification.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Unique
  identifier of the product specification\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Reference
  of the product specification\";}s:15:\"lifecycleStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Used
  to indicate the current lifecycle status\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Name
  of the product specification\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"the
  class type of the corresponding product specification\";}}}s:27:\"ProductSpecCharRelationship\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:121:\"An
  aggregation, migration, substitution, dependency or exclusivity relationship between/among
  productSpecCharacteristics.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"Type
  of relationship such as aggregation, migration, substitution, dependency, exclusivity\";}s:8:\"validFor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";s:11:\"description\";s:61:\"The
  period for which the productSpecCharRelationship is valid\";}s:11:\"charSpecSeq\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:302:\"The
  order in which a CharacteristicSpecification appears within another CharacteristicSpecification
  that defines a grouping of CharacteristicSpecifications.\n\nFor example, a grouping
  may represent the name of an individual. The given name is first, the middle name
  is second, and the last name is third.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"the
  identifier of the associated product specification\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Name
  of the target product specification characteristic\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Hyperlink
  reference to the target product specification\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Class
  type of target product specification\";}}}s:18:\"ProductOfferingRef\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:162:\"ProductOffering
  reference. A product offering represents entities that are orderable from the provider
  of the catalog, this resource includes pricing information.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Unique
  identifier of the product offering\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Reference
  of the product offering\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Name
  of the product offering\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"the
  class type of the product offering\";}}}s:22:\"BundledPopRelationship\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:203:\"this
  object represents a bundle relationship from a bundle product offering (parent)
  to a simple product offering (child). A simple product offering may participate
  in more than one bundle relationships.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Unique
  identifier of the associated product offering\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"hyperlink
  reference of the associated product offering\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Name
  of  the associated product offering\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"(Class)
  type of the associated product offering\";}}}s:15:\"PopRelationship\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:29:\"product
  offering relationship\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Unique
  identifier of the associated product offering\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"hyperlink
  reference of the associated product offering\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Name
  of  the associated product offering\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"(Class)
  type of the associated product offering\";}}}s:13:\"ConstraintRef\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:107:\"Constraint
  reference. The Constraint resource represents a policy/rule applied to an entity
  or entity spec.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"reference
  id to the target constraint\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Hyperlink
  reference to the target constraint\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"constraint
  version\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Name
  given to the constraint\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  (class) type of the constraint\";}}}s:21:\"PricingLogicAlgorithm\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:406:\"The
  PricingLogicAlgorithm entity represents an instantiation of an interface specification
  to external rating function (without a modeled bahavior in SID). Some of the parameters
  of the interface definiition may be already set (such as price per unit) and some
  may be gathered during the rating process from the event (such as call duration)
  or from ProductCharacteristicValues (such as assigned bandwidth)\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"unique
  id of the PLA\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"hyperlink
  reference of this PLA\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Name
  given to the PLA\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Description
  of the PLA\";}s:8:\"validFor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";s:11:\"description\";s:37:\"The
  period for which the PLA is valid\";}s:9:\"plaSpecId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"id
  of corresponding PLA specification\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  class type of this PLA\";}}}s:3:\"Tax\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:74:\"An
  amount of money levied on the price of a Product by a legislative body.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"taxAmount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:10:\"tax
  amount\";}s:11:\"taxCategory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Money\";s:11:\"description\";s:33:\"A
  categorization of the tax rate.\";}s:7:\"taxRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:8:\"Tax
  rate\";}}}s:17:\"EventSubscription\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:8:\"callback\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Id
  of the listener\";}s:8:\"callback\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  callback being registered.\";}s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"additional
  data to be passed\";}}}s:22:\"EventSubscriptionInput\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:8:\"callback\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"callback\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  callback being registered.\";}s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"additional
  data to be passed\";}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:95:\"An
  integer coding the error type. This is given to caller so he can translate them
  if required.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"A
  short localized string that describes the error.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:171:\"(optional)
  A long localized error description if needed. It can contain precise information
  about which parameter is missing, or what are the identifier acceptable values.\";}s:7:\"infoURL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"(optional)
  A URL to online documentation that provides more information about the error.\";}}}}"
...
