---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:27:\"Partnership Type Management\";s:11:\"description\";s:94:\"This
  is Swagger UI environment generated for the TMF Partnership Type Management specification\";s:7:\"version\";s:3:\"2.0\";}"
host: biologeek.orange-labs.fr
basePath: /tmf-api/partnershipTypeManagement
paths:
  /partnershipType:
    get:
      operationId: listPartnershipType
      summary: List or find 'PartnershipType' objects
      tags:
      - partnershipType
      parameters:
      - type: string
        required: false
        in: query
        name: fields
        description: Comma separated properties to display in response
      - type: string
        required: false
        in: query
        name: name
        description: 'For filtering: An identifying name for the partnership type.'
      - type: string
        required: false
        in: query
        name: roleType.name
        description: 'For filtering: The name of the role type.'
      - type: boolean
        required: false
        in: query
        name: roleType.requiresBilling
        description: 'For filtering: Indicates whether billing operations will be
          associated to parties playing the role'
      - type: boolean
        required: false
        in: query
        name: roleType.requiresSettlement
        description: 'For filtering: Indicates whether settlement operations will
          be associated to parties playing the role'
      responses:
        200:
          description: Ok
          schema:
            items:
              $ref: '#/definitions/PartnershipType'
            type: array
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
  /partnershipType/{id}:
    get:
      operationId: retrievePartnershipType
      summary: Retrieves a 'PartnershipType' by Id
      tags:
      - partnershipType
      parameters:
      - required: true
        type: string
        name: id
        in: path
        description: Identifier of the Partnership Type
      responses:
        200:
          description: Ok
          schema:
            items:
              $ref: '#/definitions/PartnershipType'
            type: array
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
  /hub:
    post:
      operationId: registerListener
      summary: Register a listener
      description: Sets the communication endpoint address the service instance must
        use to deliver information about its health state, execution state, failures
        and metrics.
      tags:
      - events subscription
      parameters:
      - name: data
        schema:
          $ref: '#/definitions/EventSubscriptionInput'
        required: true
        in: body
        description: Data containing the callback endpoint to deliver the information
      responses:
        201:
          description: Subscribed
          schema:
            $ref: '#/definitions/EventSubscription'
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/Error'
  /hub/{id}:
    delete:
      operationId: unregisterListener
      summary: Unregister a listener
      description: Resets the communication endpoint address the service instance
        must use to deliver information about its health state, execution state, failures
        and metrics.
      tags:
      - events subscription
      parameters:
      - name: id
        type: string
        required: true
        in: path
        description: The id of the registered listener
      responses:
        201:
          description: Unsubscribed
        404:
          description: Not Found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:15:\"PartnershipType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:212:\"A
  partnership type contains all the information for the setup of a partnership of
  a given kind. This includes the list of identified role types for the partnership
  with the corresponding agreement specifications.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"An
  explanatory text regarding this partnership type\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  reference url for this partnership type\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  identifier of the partnership type\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"An
  identifying name for the partnership type.\";}s:8:\"roleType\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RoleType\";}}}}s:8:\"RoleType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:124:\"A
  RoleType represents the type of a PartyRole, defined in the context of a given type
  of partnership, such as Buyer, Seller.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"An
  explanatory text documenting the role type\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  name of the role type.\";}s:15:\"requiresBilling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:83:\"Indicates
  whether billing operations will be associated to parties playing the role\";}s:18:\"requiresSettlement\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:86:\"Indicates
  whether settlement operations will be associated to parties playing the role\";}s:22:\"agreementSpecification\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AgreementSpecificationRef\";}}}}s:25:\"AgreementSpecificationRef\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:146:\"AgreementSpecification
  reference. An AgreementSpecification represents a template of an agreement that
  can be used when establishing partnerships.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"A
  narrative that explains in detail what the agreement specification is about.\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Reference
  URL of the agreement specification\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Unique
  identifier of the agreement specification\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Name
  of the agreement specification\";}}}s:17:\"EventSubscription\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:8:\"callback\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Id
  of the listener\";}s:8:\"callback\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  callback being registered.\";}s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"additional
  data to be passed\";}}}s:22:\"EventSubscriptionInput\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:8:\"callback\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"callback\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  callback being registered.\";}s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"additional
  data to be passed\";}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:95:\"An
  integer coding the error type. This is given to caller so he can translate them
  if required.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"A
  short localized string that describes the error.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:171:\"(optional)
  A long localized error description if needed. It can contain precise information
  about which parameter is missing, or what are the identifier acceptable values.\";}s:7:\"infoURL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"(optional)
  A URL to online documentation that provides more information about the error.\";}}}}"
...
