---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:2994:\"**IMPORTANT:**
  This is a work in progress, and all information may change at any time. Final APIs
  may look very different. Until there is an official release, these APIs should be
  seen as unfinished drafts.\n\n**General guidelines:**\n\n* We use camelCase, starting
  with lowercase: ```customerEngagement```, ```accountNumber```, ```creditCard```,
  etc.\n* Unless implicit by Swagger, standards are mentioned and refered to.\n* General
  rule: The response (object) determines endpoint: If the response is ```account```,
  the endpoint should be under ```/accounts```. In cases where this may be up for
  discussion, multiple endpoints may, for a limited time, be available in order to
  evaluate.\n* Versioning: Major.Minor.Patch (https://semver.org/). Major: Incompatible
  changes. Minor: New, backwards-compatible functionality. Patch: Backwards-compatible
  fixes.\n* Some endpoints start with ```/ideas``` and are marked \"DRAFT IDEA\".
  These enpoints are ideas we would like feedback on. Requests typically return ```HTTP
  501 Not Implemented``` and a ```notImplemented```response, as well as a standard
  ```error```.\n\n**Standards:**\n\nAll APIs use ISO and RFC standards:\n\n* Swagger
  specification: https://swagger.io/specification/\n* Country: ISO 3166-1 alpha-2:
  : https://www.iso.org/standard/63546.html (```NO```, ```GB```, ```US```)\n* Currency:
  ISO 4217: alpha 3-letter upcase: https://www.iso.org/iso-4217-currency-codes.html
  (```NOK```, ```EUR```, ```USD```)\n* Date: According to Swagger specification: ISO
  8601:  www.iso.org/iso/home/standards/iso8601.htm (date: ```2018-12-31```, timestamp:
  ```2018-12-31T23:59:59+01:00```)\n* SWIFT BIC: ISO 9362: https://en.wikipedia.org/wiki/ISO_9362
  (```DNBANOKKXXX```)\n* IBAN ISO 13616:2007: https://www.iso.org/standard/41031.html
  (```NO9386011117947```)\n* MCC: ISO 18245: https://www.iso.org/standard/33365.html
  (https://github.com/greggles/mcc-codes) (```3514: Hotels/Motels/Inns/Resorts```)\n\n**HTTP
  Response Codes**\n\nHTTP response are intended to be logical: If a ```customer```or
  an ```account``` does not exist, the response is ```404 Not Found```.  All errors
  return a relevant HTTP status code and response with an ``error`` containing additional
  details. The HTTP statuses returned are:\n\nSuccess\n\n* ```200: OK``` Success!
  \  \n* ```201: Created``` Resource created. Reference included.\n\nClient Error\n\n*
  ```400: Bad Request``` Your request was, somehow, not ok.  \n* ```401: Unauthorized```
  You are unknown.   \n* ```403: Forbidden``` We know who you are, but you are attempting
  something you are not allowed to.  \n* ```404: Not Found``` What you looked for
  is not here.  \n* ```429: Too Many Requests``` Settle down!\n\nServer Error\n\n*
  ```500: Server Error``` We screwed up, sorry!\n* ```501 Not Implemented``` The operation
  is not (yet) implemented. \n* ```503: Service Unavailable``` Something is very wrong.\n*
  ```504: Timeout``` We need to speed up internally,  \n\n**Github**\n\nSwagger documentation
  is (for now) available on Github: https://github.com/cloveras/dnb/\n\n\n\";s:7:\"version\";s:6:\"0.10.3\";s:5:\"title\";s:18:\"DNB
  Developer APIs\";s:14:\"termsOfService\";s:63:\"Be nice. Thanks!\nhttp://developer.dnb.no/terms
  (404 for now)\n\n\n\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:19:\"Christian
  L\xF8ver\xE5s\";s:3:\"url\";s:14:\"https://dnb.no\";s:5:\"email\";s:9:\"cl@dnb.no\";}}"
host: 1l3m2p0.restletmocks.net
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":26:{s:8:\"customer\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:7:\"address\";i:1;s:10:\"countryTax\";i:2;s:10:\"customerId\";i:3;s:12:\"customerType\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"customerId\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"SSN
  (11 digits) or organization number (9 digits).\";s:9:\"minLength\";i:9;s:9:\"maxLength\";i:11;s:7:\"pattern\";s:10:\"^\\d{9,11}$\";s:7:\"example\";s:11:\"12345678901\";}s:12:\"customerType\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"```PERSON```,
  ```COMPANY```\";s:7:\"default\";s:6:\"PERSON\";s:4:\"enum\";a:2:{i:0;s:6:\"PERSON\";i:1;s:7:\"COMPANY\";}s:7:\"example\";s:6:\"PERSON\";}s:9:\"firstName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"First
  name. May be used for the contact person if type is ```COMPANY```.\";s:7:\"example\";s:4:\"Rune\";}s:8:\"lastName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"Surname.
  May be used for the contact person if type is ```COMPANY```.\";s:7:\"example\";s:6:\"Bjerke\";}s:11:\"companyName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Company
  name, if type is ```COMPANY```.\";s:7:\"example\";s:3:\"DNB\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/address\";}s:5:\"email\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Email
  address. RFC 5322.\";s:9:\"minLength\";i:6;s:7:\"pattern\";s:140:\"^\\A[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@
  (?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\z$\";s:7:\"example\";s:19:\"example@example.com\";}s:5:\"phone\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:129:\"Including
  \"+\" and international prefix. E.164: https://www.twilio.com/docs/glossary/what-e164
  Whitespace and dashes are stripped.\";s:7:\"pattern\";s:18:\"^\\+?[1-9]\\d{1,14}$\";s:7:\"example\";s:11:\"+4791504800\";}s:14:\"countryOfBirth\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"ISO
  3166-1 alpha-2: https://www.iso.org/standard/63546.html\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;s:7:\"example\";s:2:\"NO\";}s:19:\"countryCitizenships\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:59:\"ISO
  3166-1 alpha-2: https://www.iso.org/standard/63546.html\";s:5:\"items\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;s:7:\"example\";s:2:\"NO\";}}s:10:\"countryTax\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:59:\"ISO
  3166-1 alpha-2: https://www.iso.org/standard/63546.html\";s:5:\"items\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;s:7:\"example\";s:2:\"NO\";}}s:18:\"customerEngagement\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:23:\"One
  or more engagements\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/customerEngagement\";}}}s:11:\"description\";s:360:\"One
  common ```customer```data object for all kinds of customers: Private customers,
  business customers, and others.\n\nPlease note:\n* Some updates may be required.\n*
  Should be aligned with Shared Services Layer: https://shasl.restlet.io/#type_customer\n*
  Should be aligned with CIM, while still hiding internal complexity and making it
  easy to understand and use.\";}s:18:\"customerEngagement\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:12:\"engagementId\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"engagementId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"12345\";}s:14:\"engagementType\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Types
  of engagements: To be determined. Needs to be aligned with DNB CIM, without exposing
  internal complexity.\";s:7:\"default\";s:7:\"DEPOSIT\";s:4:\"enum\";a:3:{i:0;s:7:\"DEPOSIT\";i:1;s:10:\"CREDITCARD\";i:2;s:8:\"MORTGAGE\";}s:7:\"example\";s:7:\"DEPOSIT\";}s:13:\"accountNumber\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:11;s:9:\"maxLength\";i:11;s:7:\"pattern\";s:8:\"^\\d{11}$\";s:7:\"example\";s:11:\"12345678901\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"SAGA
  MasterCard\";}s:9:\"corporate\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;s:7:\"example\";b:1;}}s:11:\"description\";s:91:\"Used
  with ```customer```. \n\nWork in progress. See https://shasl.restlet.io/#type_engagement\";}s:7:\"account\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:13:\"accountNumber\";i:1;s:16:\"balanceAvailable\";i:2;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"accountNumber\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"11
  digits. Bank, etc can be determined from this: https://no.wikipedia.org/wiki/Kontonummer\";s:9:\"minLength\";i:11;s:9:\"maxLength\";i:11;s:7:\"pattern\";s:8:\"^\\d{11}$\";s:7:\"example\";s:11:\"12345678901\";}s:4:\"type\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Any
  type of account.\";s:7:\"default\";s:7:\"DEPOSIT\";s:4:\"enum\";a:4:{i:0;s:7:\"DEPOSIT\";i:1;s:10:\"CREDITCARD\";i:2;s:3:\"ASK\";i:3;s:3:\"BSU\";}s:7:\"example\";s:7:\"DEPOSIT\";}s:11:\"accountName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Friendly
  name for the account:\";s:7:\"example\";s:16:\"Standard account\";}s:16:\"balanceAvailable\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:100.01000000000001;}s:14:\"accountDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/accountDetails\";}}s:11:\"description\";s:474:\"Same
  ```account``` data object is used for all types of accounts. The ```type``` property
  determines the type. \n\nAn ```account``` may have ```accountDetails```, which may
  again have ```accountBalance``` and  ```accountInterestDetails```.\n\nA Norwegian
  ```account```has three groups: xxxx yy zzzzc.\n* xxxx: Bank register number, identifying
  bank and branch. \n* yy: Account group. \n* zzzz: Customer account number.  \n*
  c: Control digit, modulo 11 with weight number 5432765432.\";}s:14:\"accountBalance\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:13:\"accountNumber\";i:1;s:15:\"amountAvailable\";i:2;s:12:\"amountBooked\";i:3;s:9:\"timestamp\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"accountNumber\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"11
  digits\";s:9:\"minLength\";i:11;s:9:\"maxLength\";i:11;s:7:\"pattern\";s:8:\"^\\d{11}$\";s:7:\"example\";s:11:\"12345678901\";}s:15:\"amountAvailable\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:16:\"Amount
  available\";s:7:\"example\";d:100.01000000000001;}s:12:\"amountBooked\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:23:\"Booked
  amount available\";s:7:\"example\";d:100.01000000000001;}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:7:\"example\";s:22:\"2018-12-31T23:59:59+01\";}}s:11:\"description\";s:59:\"Balances
  for an ```account```. See also: ```cardBalance```.\";}s:14:\"accountDetails\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:3:\"BIC\";i:1;s:4:\"IBAN\";i:2;s:7:\"created\";i:3;s:8:\"currency\";i:4;s:7:\"updated\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"IBAN\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"ISO
  13616:2007: https://www.iso.org/standard/41031.html No whitespace. Enjoy the regex.\";s:7:\"pattern\";s:1772:\"^((NO)[0-9A-Z]{2}[
  ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{3}|(NO)[0-9A-Z]{13}|(BE)[0-9A-Z]{2}[ ][0-9A-Z]{4}[
  ][0-9A-Z]{4}[ ][0-9A-Z]{4}|(BE)[0-9A-Z]{14}|(DK|FO|FI|GL|NL)[0-9A-Z]{2}[ ][0-9A-Z]{4}[
  ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{2}|(DK|FO|FI|GL|NL)[0-9A-Z]{16}|(MK|SI)[0-9A-Z]{2}[
  ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{3}|(MK|SI)[0-9A-Z]{17}|(BA|EE|KZ|LT|LU|AT)[0-9A-Z]{2}[
  ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}|(BA|EE|KZ|LT|LU|AT)[0-9A-Z]{18}|(HR|LI|LV|CH)[0-9A-Z]{2}[
  ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{1}|(HR|LI|LV|CH)[0-9A-Z]{19}|(BG|DE|IE|ME|RS|GB)[0-9A-Z]{2}[
  ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{2}|(BG|DE|IE|ME|RS|GB)[0-9A-Z]{20}|(GI|IL)[0-9A-Z]{2}[
  ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{3}|(GI|IL)[0-9A-Z]{21}|(AD|CZ|SA|RO|SK|ES|SE|TN)[0-9A-Z]{2}[
  ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}|(AD|CZ|SA|RO|SK|ES|SE|TN)[0-9A-Z]{22}|(PT)[0-9A-Z]{2}[
  ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{1}|(PT)[0-9A-Z]{23}|(IS|TR)[0-9A-Z]{2}[
  ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{2}|(IS|TR)[0-9A-Z]{24}|(FR|GR|IT|MC|SM)[0-9A-Z]{2}[
  ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{3}|(FR|GR|IT|MC|SM)[0-9A-Z]{25}|(AL|CY|HU|LB|PL)[0-9A-Z]{2}[
  ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}|(AL|CY|HU|LB|PL)[0-9A-Z]{26}|(MU)[0-9A-Z]{2}[
  ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[
  ][0-9A-Z]{2}|(MU)[0-9A-Z]{28}|(MT)[0-9A-Z]{2}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[
  ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{4}[ ][0-9A-Z]{3}|(MT)[0-9A-Z]{29})$\";s:7:\"example\";s:15:\"NO9386011117947\";}s:3:\"BIC\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"ISO
  9362: https://en.wikipedia.org/wiki/ISO_9362\";s:7:\"pattern\";s:48:\"^[a-z]{6}[2-9a-z][0-9a-np-z]([a-z0-9]{3}|x{3})?$\";s:7:\"example\";s:11:\"DNBANOKKXXX\";}s:8:\"currency\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Currency:
  ISO 4217: alpha 3-letter upcase. https://www.iso.org/iso-4217-currency-codes.html\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;s:7:\"example\";s:3:\"NOK\";}s:7:\"created\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:25:\"Time
  of account creation.\";s:7:\"example\";s:22:\"2018-12-31T23:59:59+01\";}s:7:\"updated\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:20:\"Time
  of last update.\";s:7:\"example\";s:22:\"2018-12-31T23:59:59+01\";}s:22:\"accountInterestDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/accountInterestDetails\";}}s:11:\"description\";s:150:\"Details
  for an ```account```, with optional reference to ```accountDetails```.\n\nIBAN help:
  http://www.xe.com/ibancalculator/sample/?ibancountry=norway\";}s:22:\"accountInterestDetails\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:28:\"accruedInterestAndFeesToDate\";i:1;s:20:\"earnedInterestToDate\";i:2;s:10:\"feesToDate\";i:3;s:12:\"interestRate\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"interestRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:2.0099999999999998;}s:20:\"earnedInterestToDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:100.01000000000001;}s:28:\"accruedInterestAndFeesToDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:1.01;}s:10:\"feesToDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:5.0099999999999998;}s:27:\"accruedInterestFromLastYear\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:500.00999999999999;}}s:11:\"description\";s:51:\"Details
  about an the interest for an ```account```.\";}s:16:\"accountStatement\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:13:\"accountNumber\";i:1;s:5:\"month\";i:2;s:12:\"transactions\";i:3;s:4:\"year\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"accountNumber\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:11;s:9:\"maxLength\";i:11;s:7:\"pattern\";s:8:\"^\\d{11}$\";s:7:\"example\";s:11:\"12345678901\";}s:4:\"year\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"YYYY\";s:7:\"example\";s:4:\"1990\";}s:5:\"month\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"MM,
  January: 01\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;s:7:\"pattern\";s:7:\"^\\d{2}$\";s:7:\"example\";s:2:\"01\";}s:12:\"transactions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/transaction\";}}}s:11:\"description\";s:33:\"Monthly
  ```account``` statement. \";}s:14:\"depositAccount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:13:\"accountNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"accountCurrency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"iban\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"bic\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"openingDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"lastTransactionDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"sourceProductId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"sourceProductSystem\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"sourceAgreementId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"salesProductId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"salesProductName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"depositInterestRates\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:25:\"interestCalculationMethod\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"overdraftInterestRate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"depositInterestRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"depositRate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"depositThreshold\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}}}s:23:\"transactionRestrictions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"blockingRestriction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"restrictedWithdrawalAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"freeWithdrawals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:24:\"remainingFreeWithdrawals\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:16:\"accountUserRoles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"roleType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"roleOwnerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"roleOwnerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:12:\"creditLimits\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"creditLimit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"creditLimitExpiryDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"creditLimitInterestRate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}s:12:\"accumulators\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:25:\"debitInterestPreviousYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"debitInterestThisYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"feesThisMonth\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"feesThisYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"creditInterestThisYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"creditInterestPreviousYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:34:\"creditNegativeInterestPreviousYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:27:\"withdrawalFeesPreviousMonth\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:26:\"withdrawalFeesPreviousYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:14:\"bsuInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"bsuStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"frozenInterestAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"frozenSavedAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"savedAmountThisYear\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:17:\"fixedDepositRates\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"debitBasisRate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"fixedRateEndDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"creditBasisRate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}s:11:\"description\";s:52:\"Generate
  from JSON example in Shared Service Layer.\n\";}s:17:\"paymentInitiation\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:6:\"amount\";i:1;s:19:\"creditAccountNumber\";i:2;s:18:\"debitAccountNumber\";i:3;s:9:\"initiator\";i:4;s:11:\"paymentDate\";i:5;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"type\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"KID,
  message (and transfer?)\";s:7:\"default\";s:3:\"KID\";s:4:\"enum\";a:3:{i:0;s:3:\"KID\";i:1;s:7:\"MESSAGE\";i:2;s:8:\"TRANSFER\";}s:7:\"example\";s:3:\"KID\";}s:18:\"debitAccountNumber\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:11;s:9:\"maxLength\";i:11;s:7:\"pattern\";s:8:\"^\\d{11}$\";s:7:\"example\";s:11:\"12345678901\";}s:19:\"creditAccountNumber\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:11;s:9:\"maxLength\";i:11;s:7:\"pattern\";s:8:\"^\\d{11}$\";s:7:\"example\";s:11:\"12345678901\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";i:1500;}s:11:\"paymentDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:7:\"example\";s:25:\"2018-12-31T23:59:59+01:00\";}s:7:\"message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Used
  for both KID and Message, based on Type.\";s:7:\"example\";s:20:\"35298562958265982749\";}s:9:\"initiator\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Nu
  phone who dis?\";s:7:\"example\";s:3:\"DNB\";}}s:11:\"description\";s:311:\"Three
  types of payments\n* KID: Customer Identification (2-25 digits, including control
  digit)\n* Message: Text message describing the payment\n\nNot including the \"straksbetaling\"
  (imediate payment) flag, as this will be the default.\n\nPayment initiator: Part
  of the contxt object, but kept here too for reference. \";}s:14:\"paymentDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"invoiceReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Used
  for eFaktura\";s:7:\"example\";s:11:\"12345678901\";}}s:11:\"description\";s:76:\"More
  details about a payment. Some payment types have more data than others.\";}s:7:\"payment\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:6:\"amount\";i:1;s:13:\"creditAccount\";i:2;s:12:\"debitAccount\";i:3;s:9:\"paymentId\";i:4;s:6:\"status\";i:5;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"paymentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"123456789\";}s:12:\"debitAccount\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:11;s:9:\"maxLength\";i:11;s:7:\"pattern\";s:8:\"^\\d{11}$\";s:7:\"example\";s:11:\"12345678901\";}s:13:\"creditAccount\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:11;s:9:\"maxLength\";i:11;s:7:\"pattern\";s:8:\"^\\d{11}$\";s:7:\"example\";s:11:\"12345678901\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:1500.01;}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"TBD\";s:7:\"example\";s:4:\"TBD1\";}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:10:\"2018-31-12\";}s:6:\"status\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Statuses\";s:7:\"default\";s:4:\"PAID\";s:4:\"enum\";a:5:{i:0;s:4:\"PAID\";i:1;s:19:\"PENDINGCONFIRMATION\";i:2;s:13:\"LIMITEXCEEDED\";i:3;s:8:\"REJECTED\";i:4;s:9:\"CONFIRMED\";}s:7:\"example\";s:4:\"PAID\";}s:14:\"paymentDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/paymentDetails\";}}s:11:\"description\";s:362:\"**NOTE:**
  May be completely merged with ```transaction```.\n\nA ```payment``` is a planned
  payment/transaction that has not yet been carried out.\n\nDetails about a payment.
  Used by:\n* /payments/due/{accountNumber}: Returning a list of payments, with _empty_
  PaymentDetails\n* /payments/due/{accountNumber}/details: Returning a list of payments,
  with PaymentDetails\n\n\";}s:11:\"transaction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:6:\"amount\";i:1;s:11:\"dateBooking\";i:2;s:6:\"status\";i:3;s:13:\"transactionId\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"transactionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"12345\";}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:7:\"minimum\";i:0;s:7:\"example\";i:1500;}s:13:\"currencyValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:40:\"Amount
  in foreign currency (if relevant)\";s:7:\"example\";i:90;}s:8:\"currency\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"If
  not the currency of the account/card.\";s:7:\"default\";s:3:\"NOK\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:3;s:7:\"example\";s:3:\"NOK\";}s:11:\"dateBooking\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:10:\"2018-12-31\";}s:9:\"dateValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:10:\"2018-12-31\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Descriptive
  text for the transaction.\";s:7:\"example\";s:50:\"Lunch at The Restaurant at the
  End of the Universe\";}s:6:\"status\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:165:\"Booked,
  reserved, and, if this is to be merged with ```payment```: Completed (or something
  similar, to indicate that this has, in fact, been processed and finalized)\";s:7:\"default\";s:6:\"BOOKED\";s:4:\"enum\";a:2:{i:0;s:6:\"BOOKED\";i:1;s:8:\"RESERVED\";}s:7:\"example\";s:6:\"BOOKED\";}s:12:\"merchantName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"Name
  of merchant. With a merhant register, this could be replaced with a (for now, non-existant)
  ```merchantId```.\";s:7:\"example\";s:37:\"Coffee Shop ChainName, shop number 10\";}s:3:\"MCC\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"MCC:
  Number and \"combined description\". ISO 18245: https://www.iso.org/standard/33365.html\";s:7:\"example\";s:32:\"3514:
  Hotels/Motels/Inns/Resorts\";}}s:11:\"description\";s:1034:\"A ```transaction```
  is a completed operation, in contrast to ```payment```, which is planned, but not
  completed.\n\nThe same ```transaction``` is used for all types of transactions:
  DNB-only account transactions, domestic transactions, international transactions,
  card transactions, etc. Some transaction types have more fields and data than others.
  A developer does not need to know about different transaction types when retrieving
  them, this is .\n\nShould have enough data to be useful both for presenting information
  to an end user, and for data analysis. Mey be extended, possibly to include ```merchantId```with
  a reference to more details about merchant, as well as ```location```data, etc.\n\nMCC
  codes: https://github.com/greggles/mcc-codes Example for a hotel:\n```\n{\n    \"mcc\":
  \"3514\",\n    \"edited_description\": \"Hotels/Motels/Inns/Resorts\",\n    \"combined_description\":
  \"Hotels/Motels/Inns/Resorts\",\n    \"usda_description\": \"\",\n    \"irs_description\":
  \"Hotels/Motels/Inns/Resorts\",\n    \"irs_reportable\": \"Yes\",\n    \"id\": 418\n}\n```\";}s:4:\"card\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:8:{i:0;s:13:\"accountNumber\";i:1;s:9:\"cardGroup\";i:2;s:6:\"cardId\";i:3;s:10:\"cardStatus\";i:4;s:8:\"cardType\";i:5;s:11:\"expiryMonth\";i:6;s:10:\"expiryYear\";i:7;s:16:\"maskedCardNumber\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"cardId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"12345\";}s:16:\"maskedCardNumber\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"16
  characters: Twelve \"X\", and the last four digits of the card number. No whitespace.\";s:9:\"minLength\";i:16;s:9:\"maxLength\";i:16;s:7:\"pattern\";s:12:\"^X{12}\\d{4}$\";s:7:\"example\";s:16:\"XXXXXXXXXXXX1234\";}s:8:\"cardType\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Visa,
  MasterCard, American Express, etc\";s:7:\"default\";s:4:\"VISA\";s:4:\"enum\";a:3:{i:0;s:4:\"VISA\";i:1;s:10:\"MASTERCARD\";i:2;s:15:\"AMERICANEXPRESS\";}s:7:\"example\";s:4:\"VISA\";}s:9:\"cardGroup\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Debit
  or credit.\";s:7:\"default\";s:5:\"DEBIT\";s:4:\"enum\";a:2:{i:0;s:5:\"DEBIT\";i:1;s:6:\"CREDIT\";}s:7:\"example\";s:5:\"DEBIT\";}s:13:\"accountNumber\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Both
  for debit and credit cards\";s:9:\"minLength\";i:11;s:9:\"maxLength\";i:11;s:7:\"pattern\";s:8:\"^\\d{11}$\";s:7:\"example\";s:11:\"12345678901\";}s:10:\"cardStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/cardStatus\";}s:9:\"blockCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"If
  blocked: Code for the blocking reason.\";s:7:\"example\";s:5:\"12345\";}s:10:\"expiryYear\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"YYYY\";s:9:\"minLength\";i:4;s:9:\"maxLength\";i:4;s:7:\"pattern\";s:7:\"^\\d{4}$\";s:7:\"example\";s:4:\"2020\";}s:11:\"expiryMonth\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:2:\"MM\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;s:7:\"pattern\";s:7:\"^\\d{4}$\";s:7:\"example\";s:2:\"01\";}s:12:\"debitBalance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/accountBalance\";}s:13:\"creditBalance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/cardBalance\";}}s:11:\"description\";s:28:\"Both
  debit and credit cards.\";}s:11:\"cardBalance\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:15:\"amountAvailable\";i:1;s:8:\"currency\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"currency\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"ISO
  4217: alpha 3-letter upcase: https://www.iso.org/iso-4217-currency-codes.html\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:3;s:7:\"example\";s:3:\"NOK\";}s:11:\"creditLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:0;s:7:\"example\";s:9:\"100000.00\";}s:15:\"amountAvailable\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:87:\"Debit:
  The amount in the ```account```.Credit: The limit minus the registered payments.\";s:7:\"example\";d:90000.009999999995;}s:10:\"amountBook\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:90000.009999999995;}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:7:\"example\";s:25:\"2018-12-31T23:59:59+01:00\";}}s:11:\"description\";s:51:\"Used
  by ```card```. See also: ```accountBalance```.\";}s:10:\"cardStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:11:\"Not
  blocked\";s:4:\"enum\";a:5:{i:0;s:11:\"Not blocked\";i:1;s:53:\"Card blocked by
  customer - card is allowed to unblock\";i:2;s:57:\"Card blocked by customer - card
  is not allowed to unblock\";i:3;s:47:\"Card blocked for e-commerce by customer service\";i:4;s:39:\"Card
  blocked for e-commerce by customer\";}s:7:\"example\";s:11:\"Not blocked\";}s:12:\"blockingType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:4:\"Card\";s:4:\"enum\";a:2:{i:0;s:4:\"Card\";i:1;s:10:\"E-commerce\";}}}}s:11:\"cardInvoice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:13:\"accountNumber\";i:1;s:6:\"amount\";i:2;s:4:\"card\";i:3;s:7:\"dueDate\";i:4;s:5:\"month\";i:5;s:12:\"transactions\";i:6;s:4:\"year\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"card\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/card\";}s:4:\"year\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"YYYY\";s:7:\"pattern\";s:7:\"^\\d{4}$\";s:7:\"example\";s:4:\"2018\";}s:5:\"month\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"MM,
  where January is 01\";s:7:\"pattern\";s:7:\"^\\d{2}$\";s:7:\"example\";s:2:\"01\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";i:100;}s:7:\"dueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:7:\"example\";s:10:\"2018-12-31\";}s:13:\"accountNumber\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Account
  to pay to. 11 digits.\";s:9:\"minLength\";i:11;s:9:\"maxLength\";i:11;s:7:\"pattern\";s:8:\"^\\d{11}$\";s:7:\"example\";s:11:\"12345678901\";}s:3:\"KID\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"2-25
  digits\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:25;s:7:\"pattern\";s:10:\"^\\d{2,25}$\";s:7:\"example\";s:2:\"42\";}s:12:\"transactions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/transaction\";}}}}s:12:\"currencyRate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:12:\"currencyRate\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"ISO
  4217: alpha 3-letter upcase: https://www.iso.org/iso-4217-currency-codes.html\";s:7:\"default\";s:3:\"NOK\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:3;s:7:\"example\";s:3:\"NOK\";}s:12:\"currencyRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";d:123.45;}}s:11:\"description\";s:349:\"Used
  by ```/currencies/list/{base}``` for a response similar to:\n\n```\n{\n    timestamp:
  1504548341,\n    base: \"NOK\",\n    rates: {\n        AED: 3.672538,\n        AFN:
  66.809999,\n        ALL: 125.716501,\n        AMD: 484.902502,\n        ANG: 1.788575,\n
  \       AOA: 135.295998,\n        ARS: 9.750101,\n        AUD: 1.390866,\n        /*
  ... */\n    }\n}\n```\";}s:7:\"address\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:8:\"postCity\";i:1;s:8:\"postCode\";i:2;s:11:\"postCountry\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"postalAddressLine1\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Street
  name and number\";s:7:\"example\";s:25:\"Dronning Eufemias gate 30\";}s:18:\"postalAddressLine2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"c/o
  CEO office\";}s:18:\"postalAddressLine3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"postCode\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Norwegian
  postcode only (for now).\";s:9:\"minLength\";i:4;s:9:\"maxLength\";i:4;s:7:\"pattern\";s:7:\"^\\d{4}$\";s:7:\"example\";s:4:\"0191\";}s:8:\"postCity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"Oslo\";}s:11:\"postCountry\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"ISO
  3166-1 alpha-2: https://www.iso.org/standard/63546.html\";s:9:\"minLength\";i:2;s:9:\"maxLength\";i:2;s:7:\"example\";s:2:\"NO\";}}s:11:\"description\";s:56:\"Corresponds
  with address fields used internally in DNB. \";}s:5:\"error\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:12:\"errorMessage\";i:1;s:11:\"errorNumber\";i:2;s:10:\"httpStatus\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"httpStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Implicit,
  but still included.\";s:7:\"pattern\";s:7:\"^\\d{3}$\";s:7:\"example\";s:3:\"400\";}s:11:\"errorNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:18:\"DNB's
  error number\";s:7:\"example\";i:1234;}s:12:\"errorMessage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Explanation\";s:7:\"example\";s:16:\"Computer
  says no\";}s:18:\"errorDocumentation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"URI
  to developer documentation for this error\";s:7:\"example\";s:48:\"https://docs.example.com/help-for-this-endpoint/\";}s:12:\"errorDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:52:\"Details
  about the cause of this error. Zero or more.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/errorDetails\";}}}s:11:\"description\";s:359:\"The
  HTTP status code (```httpStatus```) is the main classifier. A DNB-specific ```errorNumber```is
  also provided as a lookup reference. \n\nThe ```errorDocumentation``` is a URI to
  further information about the endpoint, with uesful infomration about correct usage.\n\nThe
  ```errorDetails```is specific information about the one or more errors that have
  occurred.\";}s:12:\"errorDetails\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"errorNumber\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"errorNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"DNB's
  internal error number.\";s:7:\"example\";s:4:\"1234\";}s:10:\"errorField\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Name
  of field that caused the error.\";s:7:\"example\";s:9:\"firstName\";}s:16:\"errorDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:44:\"First
  name cannot have non-Latin characters.\";}}s:11:\"description\";s:55:\"Detailed
  explanation of the error. Used by ```error```.\";}s:11:\"headerLinks\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"first\";i:1;s:4:\"self\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"first\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:39:\"https://api.example.com/something-first\";}s:4:\"self\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:33:\"https://api.example.com/something\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:42:\"https://api.example.com/something-previous\";}s:4:\"next\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:38:\"https://api.example.com/something-next\";}}s:11:\"description\";s:177:\"URIs
  for previous, this and next. Only this (self) is required, as previous and next
  may not exist).\n\nSee also global headers for pagination: ```pageNumber```and ```pageSize```.\";}s:14:\"notImplemented\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"explanation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Text
  describing that this operation is not yet implemented.\";s:7:\"default\";s:42:\"Feedback
  is very welcome: developer@dnb.no\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/error\";}}s:11:\"description\";s:62:\"Standard
  response for operations that are not yet implemented.\";}s:3:\"ATM\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"12345\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"DNB
  headquarters, lobby\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/address\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/location\";}s:12:\"openingTimes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/openingTimes\";}s:10:\"currencies\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:90:\"Array
  of ISO 4217: alpha 3-letter upcase. https://www.iso.org/iso-4217-currency-codes.html\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"NOK\";}}}}s:8:\"location\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:8:\"latitude\";i:2;s:10:\"longditude\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Internal
  id\";s:7:\"example\";s:5:\"12345\";}s:12:\"friendlyName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Descriptive
  name\";s:7:\"example\";s:16:\"DNB headquarters\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:88:\"^[-+]?([1-8]?\\d(\\.\\d+)?|90(\\.0+)?),\\s*[-+]?(180(\\.0+)?|((1[0-7]\\d)|([1-9]?\\d))(\\.\\d+)?)$\";s:7:\"example\";s:10:\"59.9075823\";}s:10:\"longditude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:88:\"^[-+]?([1-8]?\\d(\\.\\d+)?|90(\\.0+)?),\\s*[-+]?(180(\\.0+)?|((1[0-7]\\d)|([1-9]?\\d))(\\.\\d+)?)$\";s:7:\"example\";s:18:\"10.760133399999972\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"May
  be used for large areas like airports, train stations, stadiums, etc.\";s:7:\"example\";s:5:\"Lobby\";}}s:11:\"description\";s:295:\"Data
  object for physical location based on GPS coordinates. May be used for something
  that does not have a specific address, or somethjing that needs a more specific
  than an address provides, such as an ```ATM``` at a train station. A ```location```
  may be used in addition to an ```address```.\n\";}s:6:\"branch\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:7:\"address\";i:1;s:8:\"branchId\";i:2;s:5:\"email\";i:3;s:8:\"location\";i:4;s:12:\"openingTimes\";i:5;s:11:\"phoneNumber\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"branchId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"DNB
  headquarters, lobby\";}s:11:\"phoneNumber\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Including
  \"+\" and international prefix. Whitespace is stripped.\";s:7:\"pattern\";s:18:\"^\\+?[1-9]\\d{1,14}$\";s:7:\"example\";s:11:\"+4791504800\";}s:5:\"email\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"RFC
  5322\";s:7:\"pattern\";s:140:\"'\\A[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@
  (?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\z'\";s:7:\"example\";s:19:\"example@example.com\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/address\";}s:12:\"openingTimes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/openingTimes\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/location\";}}}s:12:\"openingTimes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:144:\"Opening
  times for a ```branch```, ```ATM```, or something else.\n\nIf open 24 hours, use
  \"00:00\" both for ```openingTime``` and ```closingTime```.\";s:5:\"items\";O:8:\"stdClass\":3:{s:8:\"required\";a:2:{i:0;s:11:\"closingTime\";i:1;s:11:\"openingTime\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"day\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:26:\"1:
  Monday, 2: Tuesday, etc\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:7;s:7:\"example\";i:1;}s:11:\"openingTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"HH:MM\";s:7:\"pattern\";s:13:\"^\\d{2}:\\d{2}$\";s:7:\"example\";s:5:\"09:00\";}s:11:\"closingTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"HH:MM\";s:7:\"pattern\";s:13:\"^\\d{2}:\\d{2}$\";s:7:\"example\";s:5:\"16:00\";}}}}}"
...
