---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:5:\"email\";s:21:\"support@mailsquad.com\";s:3:\"url\";s:21:\"https://mailsquad.com\";}s:11:\"description\";s:94:\"MailSquad
  offers an affordable and super easy way to create, send and track delightful emails.\";s:5:\"title\";s:9:\"Mailsquad\";s:7:\"version\";s:3:\"0.9\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:5:\"email\";i:1;s:9:\"marketing\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:102:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_528918177711796225_5tzW9XKS.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:39:\"https://api.inboxroute.com/api/api-docs\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"inboxroute.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"inboxroute\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.inboxroute.com
basePath: /api
paths:
  /contacts:
    get:
      description: Get a paged result of contacts from a list
      parameters:
      - description: Unique 16 characters ID of the contact list to get contacts of
        in: query
        name: listid
        type: string
      - description: Skip that many records
        in: query
        name: offset
        type: integer
      - description: Maximum number of items in page
        in: query
        name: limit
        type: integer
      - description: Property to sort by. Append '-' for descending order.
        in: query
        name: sort
        type: string
      responses:
        200:
          description: Page object
          schema:
            $ref: '#/definitions/ContactPage'
        401:
          $ref: '#/responses/401'
        404:
          $ref: '#/responses/404'
        422:
          $ref: '#/responses/422'
      security:
      - mqApiKey: []
      tags:
      - contacts
      operationId: contacts.get
  /contacts/lists:
    get:
      description: Get a paged result of contact lists.
      parameters:
      - description: Skip that many records
        in: query
        name: offset
        type: integer
      - description: Maximum number of items in page
        in: query
        name: limit
        type: integer
      - description: Property to sort by. Append '-' for descending order.
        in: query
        name: sort
        type: string
      responses:
        200:
          description: Page object
          schema:
            $ref: '#/definitions/ContactListPage'
        401:
          $ref: '#/responses/401'
        404:
          $ref: '#/responses/404'
        422:
          $ref: '#/responses/422'
      security:
      - mqApiKey: []
      tags:
      - lists
      operationId: contacts.lists.get
    post:
      description: Add a new contact list
      parameters:
      - description: Contact list initial properties
        in: body
        name: contactlist
        schema:
          $ref: '#/definitions/ContactListUpdate'
      responses:
        200:
          description: Page object
          schema:
            $ref: '#/definitions/NewId'
        401:
          $ref: '#/responses/401'
        422:
          $ref: '#/responses/422'
      security:
      - mqApiKey: []
      tags:
      - lists
      operationId: contacts.lists.post
  /contacts/lists/{listid}:
    delete:
      description: Delete an existing contact list
      parameters:
      - description: Unique 16 characters ID of the contact list
        in: path
        name: listid
        required: true
        type: string
      responses:
        200:
          description: Empty response
        401:
          $ref: '#/responses/401'
        404:
          $ref: '#/responses/404'
      security:
      - mqApiKey: []
      tags:
      - lists
      operationId: contacts.lists.listid.delete
    put:
      description: Update an existing contact list
      parameters:
      - description: Unique 16 characters ID of the contact list
        in: path
        name: listid
        required: true
        type: string
      - description: Contact list properties to update
        in: body
        name: contactlist
        schema:
          $ref: '#/definitions/ContactListUpdate'
      responses:
        200:
          description: Empty response
        401:
          $ref: '#/responses/401'
        404:
          $ref: '#/responses/404'
        422:
          $ref: '#/responses/422'
      security:
      - mqApiKey: []
      tags:
      - lists
      operationId: contacts.lists.listid.put
  /contacts/{contactid}:
    delete:
      description: Delete an existing contact
      parameters:
      - description: Unique 16 characters ID of the contact
        in: path
        name: contactid
        required: true
        type: string
      responses:
        200:
          description: Empty response
        401:
          $ref: '#/responses/401'
        404:
          $ref: '#/responses/404'
      security:
      - mqApiKey: []
      tags:
      - contacts
      operationId: contacts.contactid.delete
    put:
      description: Update an existing contact
      parameters:
      - description: Unique 16 characters ID of the contact
        in: path
        name: contactid
        required: true
        type: string
      - description: Contact properties to update
        in: body
        name: contact
        required: true
        schema:
          $ref: '#/definitions/ContactUpdate'
      responses:
        200:
          description: Empty response
        401:
          $ref: '#/responses/401'
        404:
          $ref: '#/responses/404'
        422:
          $ref: '#/responses/422'
      security:
      - mqApiKey: []
      tags:
      - contacts
      operationId: contacts.contactid.put
  /subscription/{listid}:
    post:
      description: Subscribe an email address to a list. This api call has the same
        behavior asna regular subscribe form. However, single opt-in is allowed for
        system integrationnpurposes.nn- If email address does not exist, a new contact
        will be added to the list.n- If email address exists custom fields will be
        updated and status will be putn  to unconfirmed or active depending of singleoptin
        value.n- If current status if Active, this operation will only update the
        custom fields.n- If singleoptin is true, no email confirmation will be sent.
        In that case,n  you must provide the subscribe's origin ip and confirmation
        date-time.n
      parameters:
      - description: Unique 16 characters ID of the contact list
        in: path
        name: listid
        required: true
        type: string
      - description: Subscription request
        in: body
        name: subscription
        required: true
        schema:
          $ref: '#/definitions/SubscriptionRequest'
      responses:
        204:
          description: Empty response
        401:
          $ref: '#/responses/401'
        404:
          $ref: '#/responses/404'
        422:
          $ref: '#/responses/422'
      security:
      - mqApiKey: []
      tags:
      - subscription
      operationId: subscription.listid.post
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:7:\"Contact\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Unique
  16 characters ID\";s:4:\"type\";s:6:\"string\";}s:8:\"clientid\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Unique
  16 characters ID of the client owner\";s:4:\"type\";s:6:\"string\";}s:9:\"confirmed\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Date+time
  subscriber confirmed his/her list opt-in\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"customfields\";O:8:\"stdClass\":1:{s:11:\"description\";s:33:\"Dictionnary
  of field key to value\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Email
  address\";s:4:\"type\";s:6:\"string\";}s:8:\"fullname\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Full
  name (Last name, First Name) of the subscriber\n\";s:4:\"type\";s:6:\"string\";}s:2:\"ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Subscriber's
  IP address when he/she confirmed list opt-in\";s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"ISO
  639-1 language code of the subscriber. When lang is one the supported system language,
  all communication\nwill be in this language. \n\";s:4:\"type\";s:6:\"string\";}s:6:\"listid\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Unique
  16 characters ID of the list owner\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Status
  (\n  1- Active,\n  2- Unconfirmed,\n  3- Unsubscribed,\n  4- Deleted,\n  5- Cleaned
  because of hard bounce or spam complaint)\n\";s:4:\"type\";s:7:\"integer\";}}}s:10:\"ContactAdd\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"confirmed\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Date+time
  subscriber confirmed his/her list opt-in\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"customfields\";O:8:\"stdClass\":1:{s:11:\"description\";s:33:\"Dictionnary
  of field key to value\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Email
  address\";s:4:\"type\";s:6:\"string\";}s:2:\"ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Subscriber's
  IP address when he/she confirmed list opt-in\";s:4:\"type\";s:6:\"string\";}s:6:\"listid\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Unique
  16 characters ID of the list owner\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Status
  (\n  1- Active,\n  2- Unconfirmed,\n  3- Unsubscribed,\n  4- Deleted,\n  5- Cleaned
  because of hard bounce or spam complaint)\n\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:6:\"listid\";i:1;s:5:\"email\";}}s:24:\"ContactCustomFieldSchema\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"equivalent
  to html form input name attribute\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"User
  friendly label describing the field\";s:4:\"type\";s:6:\"string\";}s:8:\"required\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Is
  field required\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Type
  (\n  1- String / text free form\n  2- Numeric / integer or decimal\n  3- Date /
  ISO 8601 format (YYYY/MM/DD)\n)\n\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:5:\"label\";i:1;s:3:\"key\";i:2;s:4:\"type\";}}s:11:\"ContactList\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Unique
  16 characters ID\";s:4:\"type\";s:6:\"string\";}s:8:\"clientid\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Unique
  16 characters ID of the client owner\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"customfields\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Array
  of ContactCustomFieldSchema\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ContactCustomFieldSchema\";}s:4:\"type\";s:5:\"array\";}s:19:\"eventcustomizations\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Array
  of ContactListEventCustomization\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ContactListEventCustomization\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Name
  of the contact list\";s:4:\"type\";s:6:\"string\";}}}s:29:\"ContactListEventCustomization\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"redirecturl\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"full
  url of the destination landing page\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Type
  (\n  1- Subscribe confirmation request landing page\n  2- Subscribe opt-in landing
  page\n  3- Unsubscribe confirmation landing page\n)\n\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}}s:15:\"ContactListPage\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"page\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Array
  of ContactList for that page\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ContactList\";}s:4:\"type\";s:5:\"array\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Total
  number of items in query\";s:4:\"type\";s:7:\"integer\";}}}s:17:\"ContactListUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"customfields\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Array
  of ContactCustomFieldSchema\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ContactCustomFieldSchema\";}s:4:\"type\";s:5:\"array\";}s:19:\"eventcustomizations\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Array
  of ContactListEventCustomization\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ContactListEventCustomization\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Name
  of the contact list\";s:4:\"type\";s:6:\"string\";}}}s:11:\"ContactPage\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"page\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Array
  of Contact for that page\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:4:\"type\";s:5:\"array\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Total
  number of items in query\";s:4:\"type\";s:7:\"integer\";}}}s:13:\"ContactUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"confirmed\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Date+time
  subscriber confirmed his/her list opt-in\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"customfields\";O:8:\"stdClass\":1:{s:11:\"description\";s:33:\"Dictionnary
  of field key to value\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Email
  address\";s:4:\"type\";s:6:\"string\";}s:2:\"ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Subscriber's
  IP address when he/she confirmed list opt-in\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Status
  (\n  1- Active,\n  2- Unconfirmed,\n  3- Unsubscribed,\n  4- Deleted,\n  5- Cleaned
  because of hard bounce or spam complaint)\n\";s:4:\"type\";s:7:\"integer\";}}}s:5:\"NewId\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  created ressource id\";s:4:\"type\";s:6:\"string\";}}}s:19:\"SubscriptionRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"confirmed\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Date-time
  when subscriber opted-in. Required if singleoptin is true.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Email
  address of the subscriber\";s:4:\"type\";s:6:\"string\";}s:8:\"fullname\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Full
  name (Last name, First Name) of the subscriber\n\";s:4:\"type\";s:6:\"string\";}s:2:\"ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Origin
  Ip of the subscriber when he/she opted-in. Required if singleoptin is true.\";s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"ISO
  639-1 language code of the subscriber. When lang is one the supported system language,
  all communication\nwill be in this language.\n\";s:4:\"type\";s:6:\"string\";}s:11:\"singleoptin\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"If
  true, no email will be sent asking user subscription confirmation. In that case,
  you must provide\nthe confirmation date (confirmed) and origin ip (ip) manually.\n\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:5:\"email\";}}}"
...
