---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:7:\"version\";s:2:\"v1\";s:5:\"title\";s:31:\"Application
  Insights Data Plane\";s:11:\"description\";s:70:\"This API exposes AI metric & event
  information and associated metadata\";s:14:\"termsOfService\";s:38:\"https://dev.applicationinsights.io/tos\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:10:\"AIAPI
  Team\";s:3:\"url\";s:42:\"https://dev.applicationinsights.io/support\";s:5:\"email\";s:19:\"aiapi@microsoft.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"Microsoft\";s:3:\"url\";s:42:\"https://dev.applicationinsights.io/license\";}}"
host: api.applicationinsights.io
basePath: /v1
paths:
  /apps/{appId}/metrics/{metricId}:
    get:
      operationId: Metrics_Get
      summary: Retrieve metric data
      description: Gets metric values for a single metric
      x-ms-examples:
        simpleMetric:
          $ref: examples/metric-get.json
        intervaledMetric:
          $ref: examples/metric-get-full.json
      parameters:
      - $ref: '#/parameters/appId'
      - $ref: '#/parameters/metricId'
      - $ref: '#/parameters/metricsTimespan'
      - $ref: '#/parameters/metricsInterval'
      - $ref: '#/parameters/metricsAggregation'
      - $ref: '#/parameters/metricsSegment'
      - $ref: '#/parameters/metricsTop'
      - $ref: '#/parameters/metricsOrderBy'
      - $ref: '#/parameters/metricsFilter'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/metricsResult'
        default:
          description: An error response object.
          schema:
            $ref: '#/definitions/errorResponse'
  /apps/{appId}/metrics:
    post:
      operationId: Metrics_GetMultiple
      summary: Retrieve metric data
      description: Gets metric values for multiple metrics
      x-ms-examples:
        postMetric:
          $ref: examples/metric-post.json
      parameters:
      - $ref: '#/parameters/appId'
      - $ref: '#/parameters/metricsPostBody'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/metricsResults'
        default:
          description: An error response object.
          schema:
            $ref: '#/definitions/errorResponse'
  /apps/{appId}/metrics/metadata:
    get:
      operationId: Metrics_GetMetadata
      summary: Retrieve metric metatadata
      description: Gets metadata describing the available metrics
      x-ms-examples:
        metricMetadata:
          $ref: examples/metrics-get-metadata.json
      parameters:
      - $ref: '#/parameters/appId'
      responses:
        200:
          description: Successful responses
          schema:
            type: object
        default:
          description: An error response object.
          schema:
            $ref: '#/definitions/errorResponse'
  /apps/{appId}/events/{eventType}:
    get:
      operationId: Events_GetByType
      summary: Execute OData query
      description: Executes an OData query for events
      x-ms-examples:
        eventByType:
          $ref: examples/events-get-by-type.json
      parameters:
      - $ref: '#/parameters/appId'
      - $ref: '#/parameters/eventType'
      - $ref: '#/parameters/eventsTimespan'
      - $ref: '#/parameters/eventsFilter'
      - $ref: '#/parameters/eventsSearch'
      - $ref: '#/parameters/eventsOrderBy'
      - $ref: '#/parameters/eventsSelect'
      - $ref: '#/parameters/eventsSkip'
      - $ref: '#/parameters/eventsTop'
      - $ref: '#/parameters/eventsFormat'
      - $ref: '#/parameters/eventsCount'
      - $ref: '#/parameters/eventsApply'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/eventsResults'
        default:
          description: An error response object.
          schema:
            $ref: '#/definitions/errorResponse'
  /apps/{appId}/events/{eventType}/{eventId}:
    get:
      operationId: Events_Get
      summary: Get an event
      description: Gets the data for a single event
      x-ms-examples:
        eventById:
          $ref: examples/events-get-by-id.json
      parameters:
      - $ref: '#/parameters/appId'
      - $ref: '#/parameters/eventType'
      - $ref: '#/parameters/eventsTimespan'
      - $ref: '#/parameters/eventId'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/eventsResults'
        default:
          description: An error response object.
          schema:
            $ref: '#/definitions/errorResponse'
  /apps/{appId}/events/$metadata:
    get:
      operationId: Events_GetOdataMetadata
      summary: Get OData metadata
      description: Gets OData EDMX metadata describing the event data model
      x-ms-examples:
        eventMetadata:
          $ref: examples/events-get-metadata.json
      parameters:
      - $ref: '#/parameters/appId'
      produces:
      - application/xml;charset=utf-8
      responses:
        200:
          description: Successful response
          schema:
            type: object
        default:
          description: An error response object.
          schema:
            $ref: '#/definitions/errorResponse'
  /apps/{appId}/query:
    post:
      operationId: Query_Execute
      summary: Execute an Analytics query
      description: Executes an Analytics query for data. [Here](https://dev.applicationinsights.io/documentation/Using-the-API/Query)
        is an example for using POST with an Analytics query.
      x-ms-examples:
        queryPost:
          $ref: examples/query-post.json
      parameters:
      - $ref: '#/parameters/appId'
      - $ref: '#/parameters/queryBody'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/queryResults'
        default:
          description: An error response object.
          schema:
            $ref: '#/definitions/errorResponse'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":69:{s:8:\"metricId\";O:8:\"stdClass\":4:{s:11:\"description\";s:96:\"ID
  of the metric. This is either a standard AI metric, or an application-specific custom
  metric.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:32:{i:0;s:14:\"requests/count\";i:1;s:17:\"requests/duration\";i:2;s:15:\"requests/failed\";i:3;s:11:\"users/count\";i:4;s:19:\"users/authenticated\";i:5;s:15:\"pageViews/count\";i:6;s:18:\"pageViews/duration\";i:7;s:25:\"client/processingDuration\";i:8;s:22:\"client/receiveDuration\";i:9;s:22:\"client/networkDuration\";i:10;s:19:\"client/sendDuration\";i:11;s:20:\"client/totalDuration\";i:12;s:18:\"dependencies/count\";i:13;s:19:\"dependencies/failed\";i:14;s:21:\"dependencies/duration\";i:15;s:16:\"exceptions/count\";i:16;s:18:\"exceptions/browser\";i:17;s:17:\"exceptions/server\";i:18;s:14:\"sessions/count\";i:19;s:40:\"performanceCounters/requestExecutionTime\";i:20;s:37:\"performanceCounters/requestsPerSecond\";i:21;s:35:\"performanceCounters/requestsInQueue\";i:22;s:40:\"performanceCounters/memoryAvailableBytes\";i:23;s:39:\"performanceCounters/exceptionsPerSecond\";i:24;s:40:\"performanceCounters/processCpuPercentage\";i:25;s:43:\"performanceCounters/processIOBytesPerSecond\";i:26;s:39:\"performanceCounters/processPrivateBytes\";i:27;s:42:\"performanceCounters/processorCpuPercentage\";i:28;s:42:\"availabilityResults/availabilityPercentage\";i:29;s:28:\"availabilityResults/duration\";i:30;s:22:\"billing/telemetryCount\";i:31;s:18:\"customEvents/count\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"MetricId\";s:13:\"modelAsString\";b:1;}}s:15:\"metricsTimespan\";O:8:\"stdClass\":2:{s:11:\"description\";s:327:\"The
  timespan over which to retrieve metric values. This is an ISO8601 time period value.
  If timespan is omitted, a default time range of `PT12H` (\"last 12 hours\") is used.
  The actual timespan that is queried may be adjusted by the server based. In all
  cases, the actual time span used for the query is included in the response.\";s:4:\"type\";s:6:\"string\";}s:18:\"metricsAggregation\";O:8:\"stdClass\":4:{s:11:\"description\";s:218:\"The
  aggregation to use when computing the metric values. To retrieve more than one aggregation
  at a time, separate them with a comma. If no aggregation is specified, then the
  default aggregation for the metric is used.\";s:4:\"type\";s:5:\"array\";s:8:\"minItems\";i:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:3:\"min\";i:1;s:3:\"max\";i:2;s:3:\"avg\";i:3;s:3:\"sum\";i:4;s:5:\"count\";i:5;s:6:\"unique\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"MetricsAggregation\";s:13:\"modelAsString\";b:0;}}}s:15:\"metricsInterval\";O:8:\"stdClass\":3:{s:11:\"description\";s:378:\"The
  time interval to use when retrieving metric values. This is an ISO8601 duration.
  If interval is omitted, the metric value is aggregated across the entire timespan.
  If interval is supplied, the server may adjust the interval to a more appropriate
  size based on the timespan used for the query. In all cases, the actual interval
  used for the query is included in the response.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";}s:14:\"metricsSegment\";O:8:\"stdClass\":4:{s:11:\"description\";s:312:\"The
  name of the dimension to segment the metric values by. This dimension must be applicable
  to the metric you are retrieving. To segment by more than one dimension at a time,
  separate them with a comma (,). In this case, the metric data will be segmented
  in the order the dimensions are listed in the parameter.\";s:4:\"type\";s:5:\"array\";s:8:\"minItems\";i:1;s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:16:{i:0;s:16:\"applicationBuild\";i:1;s:18:\"applicationVersion\";i:2;s:31:\"authenticatedOrAnonymousTraffic\";i:3;s:7:\"browser\";i:4;s:14:\"browserVersion\";i:5;s:4:\"city\";i:6;s:13:\"cloudRoleName\";i:7;s:16:\"cloudServiceName\";i:8;s:9:\"continent\";i:9;s:15:\"countryOrRegion\";i:10;s:12:\"deploymentId\";i:11;s:14:\"deploymentUnit\";i:12;s:10:\"deviceType\";i:13;s:11:\"environment\";i:14;s:15:\"hostingLocation\";i:15;s:12:\"instanceName\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"MetricsSegment\";s:13:\"modelAsString\";b:1;}}}s:10:\"metricsTop\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  number of segments to return.  This value is only valid when segment is specified.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:14:\"metricsOrderBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"The
  aggregation function and direction to sort the segments by.  This value is only
  valid when segment is specified.\";s:4:\"type\";s:6:\"string\";}s:13:\"metricsFilter\";O:8:\"stdClass\":2:{s:11:\"description\";s:192:\"An
  expression used to filter the results.  This value should be a valid OData filter
  expression where the keys of each clause should be applicable dimensions for the
  metric you are retrieving.\";s:4:\"type\";s:6:\"string\";}s:15:\"metricsPostBody\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Metrics
  request body\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/metricsPostBodySchema\";}}s:21:\"metricsPostBodySchema\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"A
  metric request\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:173:\"An
  identifier for this query.  Must be unique within the post body of the request.
  \ This identifier will be the 'id' property of the response object representing
  this query.\";}s:10:\"parameters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:41:\"The
  parameters for a single metrics query\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"metricId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/metricId\";}s:8:\"timespan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/metricsTimespan\";}s:11:\"aggregation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/metricsAggregation\";}s:8:\"interval\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/metricsInterval\";}s:7:\"segment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/metricsSegment\";}s:3:\"top\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/metricsTop\";}s:7:\"orderby\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/metricsOrderBy\";}s:6:\"filter\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/metricsFilter\";}}s:8:\"required\";a:1:{i:0;s:8:\"metricId\";}}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:10:\"parameters\";}}s:14:\"metricsResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  set of metric results.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  specified ID for this metric.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  HTTP status code of this metric query.\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  results of this metric query.\";s:4:\"$ref\";s:27:\"#/definitions/metricsResult\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:6:\"status\";i:2;s:4:\"body\";}}}s:13:\"metricsResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"A
  metric result.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/metricsResultInfo\";}}}s:17:\"metricsResultInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"A
  metric result data.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Start
  time of the metric.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date_time\";}s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Start
  time of the metric.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date_time\";}s:8:\"interval\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  interval used to segment the metric data.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:8:\"duration\";}s:8:\"segments\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Segmented
  metric data (if segmented).\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/metricsSegmentInfo\";}}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:18:\"metricsSegmentInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"A
  metric segment\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Start
  time of the metric segment (only when an interval was specified).\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date_time\";}s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Start
  time of the metric segment (only when an interval was specified).\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date_time\";}s:8:\"segments\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Segmented
  metric data (if further segmented).\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/metricsSegmentInfo\";}}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:9:\"eventType\";O:8:\"stdClass\":4:{s:11:\"description\";s:205:\"The
  type of events to query; either a standard event type (`traces`, `customEvents`,
  `pageViews`, `requests`, `dependencies`, `exceptions`, `availabilityResults`) or
  `$all` to query across all event types.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:11:{i:0;s:4:\"$all\";i:1;s:6:\"traces\";i:2;s:12:\"customEvents\";i:3;s:9:\"pageViews\";i:4;s:14:\"browserTimings\";i:5;s:8:\"requests\";i:6;s:12:\"dependencies\";i:7;s:10:\"exceptions\";i:8;s:19:\"availabilityResults\";i:9;s:19:\"performanceCounters\";i:10;s:13:\"customMetrics\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"EventType\";s:13:\"modelAsString\";b:1;}}s:7:\"eventId\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"ID
  of event.\";s:4:\"type\";s:6:\"string\";}s:14:\"eventsTimespan\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Optional.
  The timespan over which to retrieve events. This is an ISO8601 time period value.
  \ This timespan is applied in addition to any that are specified in the Odata expression.\";s:4:\"type\";s:6:\"string\";}s:12:\"eventsFilter\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"An
  expression used to filter the returned events\";s:4:\"type\";s:6:\"string\";}s:12:\"eventsSearch\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"A
  free-text search expression to match for whether a particular event should be returned\";s:4:\"type\";s:6:\"string\";}s:13:\"eventsOrderBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"A
  comma-separated list of properties with \\\"asc\\\" (the default) or \\\"desc\\\"
  to control the order of returned events\";s:4:\"type\";s:6:\"string\";}s:12:\"eventsSelect\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Limits
  the properties to just those requested on each returned event\";s:4:\"type\";s:6:\"string\";}s:10:\"eventsSkip\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  number of items to skip over before returning events\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"eventsTop\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  number of events to return\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"eventsFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Format
  for the returned events\";s:4:\"type\";s:6:\"string\";}s:11:\"eventsCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Request
  a count of matching items included with the returned events\";s:4:\"type\";s:7:\"boolean\";}s:11:\"eventsApply\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"An
  expression used for aggregation over returned events\";s:4:\"type\";s:6:\"string\";}s:13:\"eventsResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"An
  events query result.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"@odata.context\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"OData
  context metadata endpoint for this response\";s:4:\"type\";s:6:\"string\";}s:12:\"@ai.messages\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"OData
  messages for this response.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/errorInfo\";}}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Contents
  of the events query result.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/eventsResultData\";}}}}s:12:\"eventsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"An
  event query result.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"@ai.messages\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"OData
  messages for this response.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/errorInfo\";}}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/eventsResultData\";}}}s:16:\"eventsResultData\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Events
  query result data.\";s:4:\"type\";s:6:\"object\";s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  unique ID for this event.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  type of event.\";s:4:\"$ref\";s:23:\"#/definitions/eventType\";}s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Count
  of the event\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Timestamp
  of the event\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:16:\"customDimensions\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Custom
  dimensions of the event\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:18:\"customMeasurements\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Custom
  measurements of the event\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Operation
  info of the event\";s:4:\"$ref\";s:33:\"#/definitions/eventsOperationInfo\";}s:7:\"session\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Session
  info of the event\";s:4:\"$ref\";s:31:\"#/definitions/eventsSessionInfo\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"User
  info of the event\";s:4:\"$ref\";s:28:\"#/definitions/eventsUserInfo\";}s:5:\"cloud\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Cloud
  info of the event\";s:4:\"$ref\";s:29:\"#/definitions/eventsCloudInfo\";}s:2:\"ai\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"AI
  info of the event\";s:4:\"$ref\";s:26:\"#/definitions/eventsAiInfo\";}s:11:\"application\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Application
  info of the event\";s:4:\"$ref\";s:35:\"#/definitions/eventsApplicationInfo\";}s:6:\"client\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Client
  info of the event\";s:4:\"$ref\";s:30:\"#/definitions/eventsClientInfo\";}}}s:17:\"eventsTraceResult\";O:8:\"stdClass\":3:{s:24:\"x-ms-discriminator-value\";s:5:\"trace\";s:11:\"description\";s:14:\"A
  trace result\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/eventsResultData\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"trace\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/eventsTraceInfo\";}}}}}s:15:\"eventsTraceInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  trace information\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  trace message\";s:4:\"type\";s:6:\"string\";}s:13:\"severityLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  trace severity level\";s:4:\"type\";s:7:\"integer\";}}}s:23:\"eventsCustomEventResult\";O:8:\"stdClass\":3:{s:24:\"x-ms-discriminator-value\";s:11:\"customEvent\";s:11:\"description\";s:21:\"A
  custom event result\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/eventsResultData\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"customEvent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/eventsCustomEventInfo\";}}}}}s:21:\"eventsCustomEventInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  custom event information\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  name of the custom event\";s:4:\"type\";s:6:\"string\";}}}s:20:\"eventsPageViewResult\";O:8:\"stdClass\":3:{s:24:\"x-ms-discriminator-value\";s:8:\"pageView\";s:11:\"description\";s:18:\"A
  page view result\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/eventsResultData\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"pageView\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/eventsPageViewInfo\";}}}}}s:18:\"eventsPageViewInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  page view information\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  name of the page\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  URL of the page\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  duration of the page view\";s:4:\"type\";s:6:\"string\";}s:17:\"performanceBucket\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  performance bucket of the page view\";s:4:\"type\";s:6:\"string\";}}}s:25:\"eventsBrowserTimingResult\";O:8:\"stdClass\":3:{s:24:\"x-ms-discriminator-value\";s:13:\"browserTiming\";s:11:\"description\";s:23:\"A
  browser timing result\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/eventsResultData\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"browserTiming\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/eventsBrowserTimingInfo\";}s:17:\"clientPerformance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/eventsClientPerformanceInfo\";}}}}}s:23:\"eventsBrowserTimingInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  browser timing information\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"urlPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  path of the URL\";s:4:\"type\";s:6:\"string\";}s:7:\"urlHost\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  host of the URL\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  name of the page\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  url of the page\";s:4:\"type\";s:6:\"string\";}s:13:\"totalDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  total duration of the load\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:17:\"performanceBucket\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  performance bucket of the load\";s:4:\"type\";s:6:\"string\";}s:15:\"networkDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  network duration of the load\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"sendDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  send duration of the load\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:15:\"receiveDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  receive duration of the load\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:18:\"processingDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  processing duration of the load\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:27:\"eventsClientPerformanceInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Client
  performance information\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  name of the client performance\";s:4:\"type\";s:6:\"string\";}}}s:19:\"eventsRequestResult\";O:8:\"stdClass\":3:{s:24:\"x-ms-discriminator-value\";s:7:\"request\";s:11:\"description\";s:16:\"A
  request result\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/eventsResultData\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/eventsRequestInfo\";}}}}}s:17:\"eventsRequestInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  request info\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the request\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  URL of the request\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Indicates
  if the request was successful\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  duration of the request\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:17:\"performanceBucket\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  performance bucket of the request\";s:4:\"type\";s:6:\"string\";}s:10:\"resultCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  result code of the request\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  source of the request\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  ID of the request\";s:4:\"type\";s:6:\"string\";}}}s:22:\"eventsDependencyResult\";O:8:\"stdClass\":3:{s:24:\"x-ms-discriminator-value\";s:10:\"dependency\";s:11:\"description\";s:19:\"A
  dependency result\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/eventsResultData\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"dependency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/eventsDependencyInfo\";}}}}}s:20:\"eventsDependencyInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  dependency info\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  target of the dependency\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  data of the dependency\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Indicates
  if the dependency was successful\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  duration of the dependency\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:17:\"performanceBucket\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  performance bucket of the dependency\";s:4:\"type\";s:6:\"string\";}s:10:\"resultCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  result code of the dependency\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  type of the dependency\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the dependency\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  ID of the dependency\";s:4:\"type\";s:6:\"string\";}}}s:21:\"eventsExceptionResult\";O:8:\"stdClass\":3:{s:24:\"x-ms-discriminator-value\";s:9:\"exception\";s:11:\"description\";s:19:\"An
  exception result\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/eventsResultData\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"exception\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/eventsExceptionInfo\";}}}}}s:19:\"eventsExceptionInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  exception info\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:13:\"severityLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  severity level of the exception\";s:4:\"type\";s:7:\"integer\";}s:9:\"problemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  problem ID of the exception\";s:4:\"type\";s:6:\"string\";}s:9:\"handledAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Indicates
  where the exception was handled at\";s:4:\"type\";s:6:\"string\";}s:8:\"assembly\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  assembly which threw the exception\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  method that threw the exception\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  message of the exception\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  type of the exception\";s:4:\"type\";s:6:\"string\";}s:9:\"outerType\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  outer type of the exception\";s:4:\"type\";s:6:\"string\";}s:11:\"outerMethod\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  outer method of the exception\";s:4:\"type\";s:6:\"string\";}s:13:\"outerAssembly\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  outer assmebly of the exception\";s:4:\"type\";s:6:\"string\";}s:12:\"outerMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  outer message of the exception\";s:4:\"type\";s:6:\"string\";}s:13:\"innermostType\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  inner most type of the exception\";s:4:\"type\";s:6:\"string\";}s:16:\"innermostMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  inner most message of the exception\";s:4:\"type\";s:6:\"string\";}s:15:\"innermostMethod\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  inner most method of the exception\";s:4:\"type\";s:6:\"string\";}s:17:\"innermostAssembly\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  inner most assembly of the exception\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  details of the exception\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/eventsExceptionDetail\";}}}}s:21:\"eventsExceptionDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Exception
  details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"severityLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  severity level of the exception detail\";s:4:\"type\";s:6:\"string\";}s:7:\"outerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  outer ID of the exception detail\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  message of the exception detail\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  type of the exception detail\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  ID of the exception detail\";s:4:\"type\";s:6:\"string\";}s:11:\"parsedStack\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  parsed stack\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/eventsExceptionDetailsParsedStack\";}}}}s:33:\"eventsExceptionDetailsParsedStack\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  parsed stack entry\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"assembly\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  assembly of the stack entry\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  method of the stack entry\";s:4:\"type\";s:6:\"string\";}s:5:\"level\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  level of the stack entry\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"line\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  line of the stack entry\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:30:\"eventsAvailabilityResultResult\";O:8:\"stdClass\":3:{s:24:\"x-ms-discriminator-value\";s:18:\"availabilityResult\";s:11:\"description\";s:29:\"An
  availability result result\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/eventsResultData\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"availabilityResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/eventsAvailabilityResultInfo\";}}}}}s:28:\"eventsAvailabilityResultInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  availability result info\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  name of the availability result\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Indicates
  if the availability result was successful\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  duration of the availability result\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:17:\"performanceBucket\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  performance bucket of the availability result\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  message of the availability result\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  location of the availability result\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  ID of the availability result\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  size of the availability result\";s:4:\"type\";s:6:\"string\";}}}s:30:\"eventsPerformanceCounterResult\";O:8:\"stdClass\":3:{s:24:\"x-ms-discriminator-value\";s:18:\"performanceCounter\";s:11:\"description\";s:28:\"A
  performance counter result\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/eventsResultData\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"performanceCounter\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/eventsPerformanceCounterInfo\";}}}}}s:28:\"eventsPerformanceCounterInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  performance counter info\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  value of the performance counter\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  name of the performance counter\";s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  category of the performance counter\";s:4:\"type\";s:6:\"string\";}s:7:\"counter\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  counter of the performance counter\";s:4:\"type\";s:6:\"string\";}s:12:\"instanceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  instance name of the performance counter\";s:4:\"type\";s:6:\"string\";}s:8:\"instance\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  instance of the performance counter\";s:4:\"type\";s:6:\"string\";}}}s:24:\"eventsCustomMetricResult\";O:8:\"stdClass\":3:{s:24:\"x-ms-discriminator-value\";s:12:\"customMetric\";s:11:\"description\";s:22:\"A
  custom metric result\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/eventsResultData\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"customMetric\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/eventsCustomMetricInfo\";}}}}}s:22:\"eventsCustomMetricInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  custom metric info\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  name of the custom metric\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  value of the custom metric\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:8:\"valueSum\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  sum of the custom metric\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:10:\"valueCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  count of the custom metric\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"valueMin\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  minimum value of the custom metric\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:8:\"valueMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  maximum value of the custom metric\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:11:\"valueStdDev\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  standard deviation of the custom metric\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:19:\"eventsOperationInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Operation
  info for an event result\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of the operation\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"ID
  of the operation\";s:4:\"type\";s:6:\"string\";}s:8:\"parentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Parent
  ID of the operation\";s:4:\"type\";s:6:\"string\";}s:15:\"syntheticSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Synthetic
  source of the operation\";s:4:\"type\";s:6:\"string\";}}}s:17:\"eventsSessionInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Session
  info for an event result\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"ID
  of the session\";s:4:\"type\";s:6:\"string\";}}}s:14:\"eventsUserInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"User
  info for an event result\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"ID
  of the user\";s:4:\"type\";s:6:\"string\";}s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Account
  ID of the user\";s:4:\"type\";s:6:\"string\";}s:15:\"authenticatedId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Authenticated
  ID of the user\";s:4:\"type\";s:6:\"string\";}}}s:15:\"eventsCloudInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Cloud
  info for an event result\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"roleName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Role
  name of the cloud\";s:4:\"type\";s:6:\"string\";}s:12:\"roleInstance\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Role
  instance of the cloud\";s:4:\"type\";s:6:\"string\";}}}s:12:\"eventsAiInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"AI
  related application info for an event result\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"iKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"iKey
  of the app\";s:4:\"type\";s:6:\"string\";}s:7:\"appName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Name
  of the application\";s:4:\"type\";s:6:\"string\";}s:5:\"appId\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ID
  of the application\";s:4:\"type\";s:6:\"string\";}s:10:\"sdkVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"SDK
  version of the application\";s:4:\"type\";s:6:\"string\";}}}s:21:\"eventsApplicationInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Application
  info for an event result\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Version
  of the application\";s:4:\"type\";s:6:\"string\";}}}s:16:\"eventsClientInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Client
  info for an event result\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"model\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Model
  of the client\";s:4:\"type\";s:6:\"string\";}s:2:\"os\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Operating
  system of the client\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Type
  of the client\";s:4:\"type\";s:6:\"string\";}s:7:\"browser\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Browser
  of the client\";s:4:\"type\";s:6:\"string\";}s:2:\"ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"IP
  address of the client\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"City
  of the client\";s:4:\"type\";s:6:\"string\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"State
  or province of the client\";s:4:\"type\";s:6:\"string\";}s:15:\"countryOrRegion\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Country
  or region of the client\";s:4:\"type\";s:6:\"string\";}}}s:10:\"queryParam\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"The
  Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)\";s:4:\"type\";s:6:\"string\";}s:13:\"queryTimespan\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"Optional.
  The timespan over which to query data. This is an ISO8601 time period value.  This
  timespan is applied in addition to any that are specified in the query expression.\";s:4:\"type\";s:6:\"string\";}s:17:\"applicationsParam\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Application
  IDs to include in cross-application queries.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"queryBody\";O:8:\"stdClass\":4:{s:11:\"description\";s:152:\"The
  Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"query\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  query to execute.\";s:4:\"$ref\";s:24:\"#/definitions/queryParam\";}s:8:\"timespan\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"Optional.
  The timespan over which to query data. This is an ISO8601 time period value.  This
  timespan is applied in addition to any that are specified in the query expression.\";s:4:\"$ref\";s:27:\"#/definitions/queryTimespan\";}s:12:\"applications\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"A
  list of Application IDs for cross-application queries.\";s:4:\"$ref\";s:31:\"#/definitions/applicationsParam\";}}s:8:\"required\";a:1:{i:0;s:5:\"query\";}}s:12:\"queryResults\";O:8:\"stdClass\":5:{s:5:\"title\";s:17:\"A
  query response.\";s:11:\"description\";s:59:\"Contains the tables, columns & rows
  resulting from a query.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"tables\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  list of tables, columns and rows.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/table\";}}}s:8:\"required\";a:1:{i:0;s:6:\"tables\";}}s:5:\"table\";O:8:\"stdClass\":5:{s:5:\"title\";s:23:\"A
  query response table.\";s:11:\"description\";s:64:\"Contains the columns and rows
  for one table in a query response.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the table.\";s:4:\"type\";s:6:\"string\";}s:7:\"columns\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  list of columns in this table.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/column\";}}s:4:\"rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  resulting rows from this query.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:7:\"columns\";i:2;s:4:\"rows\";}}s:6:\"column\";O:8:\"stdClass\":4:{s:5:\"title\";s:15:\"A
  table column.\";s:11:\"description\";s:20:\"A column in a table.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  name of this column.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  data type of this column.\";s:4:\"type\";s:6:\"string\";}}}s:11:\"errorDetail\";O:8:\"stdClass\":4:{s:5:\"title\";s:14:\"Error
  details.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  error's code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"A
  human readable error message.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Indicates
  which property in the request is responsible for the error.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Indicates
  which value in 'target' is responsible for the error.\";s:4:\"type\";s:6:\"string\";}s:9:\"resources\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Indicates
  resources which were responsible for the error.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}}s:9:\"errorInfo\";O:8:\"stdClass\":4:{s:5:\"title\";s:34:\"The
  code and message for an error.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"A
  machine readable error code.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"A
  human readable error message.\";s:4:\"type\";s:6:\"string\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"error
  details.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/errorDetail\";}}s:10:\"innererror\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Inner
  error details if they exist.\";s:4:\"$ref\";s:23:\"#/definitions/errorInfo\";}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}}s:13:\"errorResponse\";O:8:\"stdClass\":5:{s:5:\"title\";s:14:\"Error
  details.\";s:11:\"description\";s:59:\"Contains details when the response code indicates
  an error.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  error details.\";s:4:\"$ref\";s:23:\"#/definitions/errorInfo\";}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}}}"
...
