---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"api.behance.net\";s:7:\"version\";s:3:\"0.0\";}"
host: api.behance.net
basePath: /v2
paths:
  /users/michaelklein548a/following:
    get:
      produces:
      - application/json
      parameters:
      - name: client_id
        in: query
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Following'
  /users/dtraytel/appreciations:
    get:
      produces:
      - application/json
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Appreciations'
  /users:
    get:
      produces:
      - application/json
      parameters:
      - name: q
        in: query
        type: string
      - name: client_id
        in: query
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Users'
  /projects/{projectsId}/comments:
    get:
      produces:
      - application/json
      parameters:
      - name: client_id
        in: query
        type: string
      - name: projectsId
        in: path
        required: true
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Comments'
  /users/michaelklein548a/followers:
    get:
      produces:
      - application/json
      parameters:
      - name: client_id
        in: query
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Followers'
  /collections/{collectionsId}:
    get:
      produces:
      - application/json
      parameters:
      - name: api_key
        in: query
        type: integer
      - name: collectionsId
        in: path
        required: true
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Collections'
  /users/cfaydi/stats:
    get:
      produces:
      - application/json
      parameters:
      - name: client_id
        in: query
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Users'
  /users/matiascorea/wips:
    get:
      produces:
      - application/json
      parameters:
      - name: client_id
        in: query
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Users'
  /users/matiascorea/work_experience:
    get:
      produces:
      - application/json
      parameters:
      - name: client_id
        in: query
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Users'
  /users/matiascorea/projects:
    get:
      produces:
      - application/json
      parameters:
      - name: client_id
        in: query
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Projects'
  /collections/{collectionsId}/projects:
    get:
      produces:
      - application/json
      parameters:
      - name: api_key
        in: query
        type: integer
      - name: collectionsId
        in: path
        required: true
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Projects'
  /users/matiascorea:
    get:
      produces:
      - application/json
      parameters:
      - name: client_id
        in: query
        type: string
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Users'
  /users/matiascorea/collections:
    get:
      produces:
      - application/json
      parameters:
      - name: api_key
        in: query
        type: integer
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Collections'
  /projects/{projectsId}:
    get:
      produces:
      - application/json
      parameters:
      - name: api_key
        in: query
        type: integer
      - name: projectsId
        in: path
        required: true
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Projects'
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":24:{s:8:\"Projects\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"Project\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"modified_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"mature_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"created_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"published_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Stat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Stat\";}s:5:\"Owner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Owner\";}s:5:\"Cover\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Cover\";}s:8:\"projects\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}}}}s:5:\"Owner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:6:\"129052\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/129052\";}s:6:\"168816\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/168816\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"occupation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}}s:4:\"Stat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"comments\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"appreciations\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"views\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"followers\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:5:\"Cover\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"115\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"202\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"230\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"404\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Image\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"32\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"50\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"78\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"115\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"129\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"138\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"129052\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"occupation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}}s:6:\"Fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"Field\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Field\";}}s:7:\"popular\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Popular\";}}}}s:7:\"Popular\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:9:\"Following\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"occupation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:9:\"following\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Following\";}}}}s:13:\"Appreciations\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"Appreciation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}s:13:\"appreciations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Appreciation\";}}}}s:6:\"168816\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"occupation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}}s:5:\"Users\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"occupation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:5:\"users\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}}}s:8:\"Comments\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"Comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"created_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"User\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";}}}}s:9:\"Followers\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"Follower\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"occupation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:9:\"followers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Follower\";}}}}s:11:\"Collections\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"Collection\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"modified_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"images\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"created_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Stat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Stat\";}s:6:\"owners\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Owner\";}}s:10:\"Collection\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Collection\";}}}s:6:\"Unkown\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"creatives_to_follow\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/Creatives_to_follow\";}}}}s:19:\"Creatives_to_follow\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"occupation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"display_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_on\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}}}"
...
