---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:18:\"receipts-lotteries\";}"
host: receipts.tech
basePath: /api
paths:
  /lotteries/{id}/trades:
    get:
      tags:
      - trades
      summary: Get lottery trades
      description: Get lottery trades
      operationId: getLotteryTradesCollection
      produces:
      - application/vnd.receipts.v1+json
      - application/vnd.receipts.v1+xml
      security:
      - bearerToken:
        - lotteries:trades:get
      parameters:
      - name: id
        in: path
        description: Lottery id
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/LotteryTradesCollectionResponse'
  /lotteries/{id}/results:
    get:
      tags:
      - results
      summary: Get lottery results
      description: Get lottery results
      operationId: getLotteryResultsCollection
      produces:
      - application/vnd.receipts.v1+json
      - application/vnd.receipts.v1+xml
      security:
      - bearerToken:
        - lotteries:results:get
      parameters:
      - name: id
        in: path
        description: Lottery id
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/LotteryResultsCollectionResponse'
  /lotteries/{id}/tickets:
    get:
      tags:
      - tickets
      summary: Find lottery tickets
      description: Get lottery tickets collection
      operationId: getLotteryTicketsCollection
      produces:
      - application/vnd.receipts.v1+json
      - application/vnd.receipts.v1+xml
      security:
      - bearerToken:
        - lotteries:tickets:get
      parameters:
      - name: id
        in: path
        description: Lottery id
        required: true
        type: string
      - name: limit
        description: limit
        required: false
        type: integer
        in: query
        default: 100
      - name: offset
        description: offset
        required: false
        type: integer
        in: query
      - name: sort
        description: sort
        required: false
        type: string
        in: query
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/LotteryTicketsCollectionResponse'
    post:
      tags:
      - tickets
      summary: Create lottery ticket
      description: Create lotteries ticket
      operationId: createLotteryTicket
      consumes:
      - application/vnd.receipts.v1+json
      produces:
      - application/vnd.receipts.v1+json
      security:
      - bearerToken:
        - lotteries:tickets:create
      parameters:
      - name: id
        in: path
        description: Lottery id
        required: true
        type: string
      - in: body
        name: ticketRequest
        description: Ticket request
        required: true
        schema:
          $ref: '#/definitions/TicketRequest'
      responses:
        201:
          description: successful operation
          schema:
            $ref: '#/definitions/TicketResponse'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: The request you made is not acceptable
        422:
          description: Invalid parameter value
  /lotteries/{id}/tickets/{ticketId}:
    get:
      tags:
      - tickets
      summary: Get lottery ticket by id
      description: Get lottery ticket by id
      operationId: getLotteryTicket
      produces:
      - application/vnd.receipts.v1+json
      - application/vnd.receipts.v1+xml
      security:
      - bearerToken:
        - lotteries:tickets:get
      parameters:
      - name: id
        in: path
        description: Lottery id
        required: true
        type: string
      - name: ticketId
        in: path
        description: Ticket id
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TicketDetailsResponse'
    put:
      tags:
      - tickets
      summary: Update lottery ticket
      description: Update lotteries ticket
      operationId: updateLotteryTicket
      consumes:
      - application/vnd.receipts.v1+json
      produces:
      - application/vnd.receipts.v1+json
      security:
      - bearerToken:
        - lotteries:tickets:update
      parameters:
      - name: id
        in: path
        description: Lottery id
        required: true
        type: string
      - name: ticketId
        in: path
        description: Ticket id
        required: true
        type: string
      - in: body
        name: ticketRequest
        description: Ticket request
        required: true
        schema:
          $ref: '#/definitions/UpdateTicketRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/TicketDetailsResponse'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        406:
          description: The request you made is not acceptable
        422:
          description: Invalid parameter value
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:14:\"AmountResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"amount
  currency\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"amount
  value\";}}s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:5:\"value\";}}s:17:\"AgreementsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"termsOfService\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:26:\"terms
  of service agreement\";}s:22:\"personalDataProcessing\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:24:\"personal
  data processing\";}s:11:\"useMyEffigy\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:13:\"use
  my effigy\";}}s:8:\"required\";a:3:{i:0;s:14:\"termsOfService\";i:1;s:22:\"personalDataProcessing\";i:2;s:11:\"useMyEffigy\";}}s:21:\"TicketDetailsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Ticekt
  id\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"ticket
  code number\";}s:19:\"purchaseOrderNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"ticket
  purchase order number\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AmountResponse\";}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"ticket
  generate date\";}s:7:\"special\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:17:\"is
  special ticket\";}s:11:\"pointOfSale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"ticket
  point of sale\";}s:21:\"taxRegistrationNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"ticket
  tax registration number\";}s:5:\"trade\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Type
  of trade\";s:7:\"default\";s:5:\"OTHER\";s:4:\"enum\";a:6:{i:0;s:5:\"OTHER\";i:1;s:12:\"HAIRDRESSING\";i:2;s:8:\"VEHICLES\";i:3;s:15:\"FOOD_AND_DRINKS\";i:4;s:4:\"TAXI\";i:5;s:20:\"PRIVATE_MEDIC_DENTAL\";}}}s:8:\"required\";a:8:{i:0;s:2:\"id\";i:1;s:19:\"purchaseOrderNumber\";i:2;s:6:\"amount\";i:3;s:4:\"date\";i:4;s:7:\"special\";i:5;s:11:\"pointOfSale\";i:6;s:21:\"taxRegistrationNumber\";i:7;s:5:\"trade\";}}s:19:\"UpdateTicketRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:19:\"purchaseOrderNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"ticket
  purchase order number\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AmountResponse\";}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"ticket
  generate date\";}s:11:\"pointOfSale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"ticket
  point of sale\";}s:21:\"taxRegistrationNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"ticket
  tax registration number\";}s:5:\"trade\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Type
  of trade\";s:7:\"default\";s:5:\"OTHER\";s:4:\"enum\";a:6:{i:0;s:5:\"OTHER\";i:1;s:12:\"HAIRDRESSING\";i:2;s:8:\"VEHICLES\";i:3;s:15:\"FOOD_AND_DRINKS\";i:4;s:4:\"TAXI\";i:5;s:20:\"PRIVATE_MEDIC_DENTAL\";}}}s:8:\"required\";a:6:{i:0;s:19:\"purchaseOrderNumber\";i:1;s:6:\"amount\";i:2;s:4:\"date\";i:3;s:11:\"pointOfSale\";i:4;s:21:\"taxRegistrationNumber\";i:5;s:5:\"trade\";}}s:14:\"TicketResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Ticekt
  id\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"ticket
  code number\";}s:19:\"purchaseOrderNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"ticket
  purchase order number\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AmountResponse\";}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"ticket
  generate date\";}s:7:\"special\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:17:\"is
  special ticket\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:19:\"purchaseOrderNumber\";i:2;s:6:\"amount\";i:3;s:4:\"date\";i:4;s:7:\"special\";}}s:13:\"TicketRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"pointOfSale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"ticket
  point of sale\";}s:19:\"purchaseOrderNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"ticket
  purchase order number\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AmountResponse\";}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"ticket
  generate date\";}s:21:\"taxRegistrationNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"ticket
  tax registration number\";}s:5:\"trade\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Type
  of trade\";s:7:\"default\";s:5:\"OTHER\";s:4:\"enum\";a:6:{i:0;s:5:\"OTHER\";i:1;s:12:\"HAIRDRESSING\";i:2;s:8:\"VEHICLES\";i:3;s:15:\"FOOD_AND_DRINKS\";i:4;s:4:\"TAXI\";i:5;s:20:\"PRIVATE_MEDIC_DENTAL\";}}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"user
  phone\";}s:10:\"agreements\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AgreementsRequest\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"user
  email\";}}s:8:\"required\";a:9:{i:0;s:11:\"pointOfSale\";i:1;s:19:\"purchaseOrderNumber\";i:2;s:6:\"amount\";i:3;s:4:\"date\";i:4;s:21:\"taxRegistrationNumber\";i:5;s:5:\"trade\";i:6;s:5:\"phone\";i:7;s:10:\"agreements\";i:8;s:5:\"email\";}}s:32:\"LotteryTicketsCollectionResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:21:\"Total
  lottery tickets\";}s:7:\"tickets\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TicketResponse\";}}}s:11:\"description\";s:26:\"Lottery
  tickets collection\";s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:7:\"tickets\";}}s:13:\"TradeResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Trade
  id\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Trade
  name\";}}s:11:\"description\";s:18:\"Lottery trade data\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}}s:31:\"LotteryTradesCollectionResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:20:\"Total
  lottery trades\";}s:6:\"trades\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TradeResponse\";}}}s:11:\"description\";s:25:\"Lottery
  trades collection\";s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:6:\"trades\";}}s:25:\"ResultPrizeWinnerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Winner
  code\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Winner
  name\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Winner
  type\";}}s:8:\"required\";a:3:{i:0;s:4:\"code\";i:1;s:4:\"name\";i:2;s:4:\"type\";}}s:19:\"ResultPrizeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Prize
  name\";}s:7:\"winners\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ResultPrizeWinnerResponse\";}}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:7:\"winners\";}}s:14:\"ResultResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Result
  name\";}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Result
  date\";}s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Result
  status\";s:7:\"default\";s:6:\"ACTIVE\";s:4:\"enum\";a:3:{i:0;s:6:\"ACTIVE\";i:1;s:7:\"PENDING\";i:2;s:8:\"FINISHED\";}}s:6:\"prizes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ResultPrizeResponse\";}}}s:11:\"description\";s:20:\"Lottery
  results data\";s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:4:\"date\";i:2;s:6:\"status\";i:3;s:6:\"prizes\";}}s:32:\"LotteryResultsCollectionResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:21:\"Total
  lottery results\";}s:7:\"results\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResultResponse\";}}}s:11:\"description\";s:26:\"Lottery
  results collection\";s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:7:\"results\";}}}"
...
