---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:11:\"description\";s:20:\"Products Information\";s:5:\"title\";s:8:\"Products\";s:7:\"version\";s:3:\"1.0\";s:14:\"termsOfService\";s:30:\"http://example.com/about/terms\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"API
  Docs\";s:3:\"url\";s:26:\"http://example.com/contact\";s:5:\"email\";s:19:\"apis-eng@apigee.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:18:\"http://example.com\";}}"
host: apibaas-trial.apigee.net
basePath: /org/app
paths:
  /products:
    get:
      description: <p>Product Detail</p> Detailed list of all Products.
      summary: 'Get All Product Details '
      operationId: Get All Products
      tags:
      - Products
      produces:
      - application/json; charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductDetails'
        400:
          description: Bad Request
        401:
          description: Unauthorized access
      parameters: []
  /products/{product_id}:
    get:
      description: <p>Product Detail</p> Detailed list of Product given the productId.
      summary: 'Product Detail '
      operationId: Get Product
      tags:
      - Products
      produces:
      - application/json; charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductDetail'
        400:
          description: Bad Request
        401:
          description: Unauthorized access
      parameters:
      - name: product_id
        in: path
        description: Product identifier
        type: string
        required: true
  /products/{product_id}/skus:
    get:
      description: <p>SKU Detail</p> for given productId.
      summary: Get SKU Detail for a given Product
      operationId: Get Product SKU
      tags:
      - Products
      produces:
      - application/json; charset=utf-8
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SKUDetail'
        400:
          description: Bad Request
        401:
          description: Unauthorized access
      parameters:
      - name: product_id
        in: path
        description: Product identifier
        type: string
        required: true
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":3:{s:14:\"ProductDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Product
  Details\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProductDetail\";}}s:13:\"ProductDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Product
  Details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"A
  unique identifier for the product\";}s:12:\"product_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Display
  name of the product\";}s:17:\"short_description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"A
  short description of the product\";}s:6:\"images\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"An
  array of image objects\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Image
  Url\";}}s:8:\"category\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:28:\"An
  array of category objects\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Product
  Categories\";}}s:14:\"overall_rating\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:39:\"Overall
  customer rating for the product\";}}}s:9:\"SKUDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"SKU
  Details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"product_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"A
  unique identifier for the product\";}s:8:\"sku_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"SKU
  name of the product\";}s:15:\"sku_description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"SKU
  description\";}s:6:\"images\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"An
  array of image objects\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Image
  Url\";}}s:14:\"inventory_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Inventory
  Type\";}s:5:\"price\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:5:\"Price\";}s:18:\"available_quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:18:\"Available
  Quantity\";}s:8:\"discount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:8:\"Discount\";}}}}"
...
