---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:17:\"RGD.Data2@mcw.edu\";s:4:\"name\";s:19:\"Rat
  Genome Database\";s:3:\"url\";s:18:\"http://rgd.mcw.edu\";s:9:\"x-twitter\";s:14:\"medicalcollege\";}s:11:\"description\";s:109:\"The
  RGD REST API provides programmatic access to information and annotation stored in
  the Rat Genome Database\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"Creative
  Commons\";s:3:\"url\";s:53:\"https://creativecommons.org/licenses/by/4.0/legalcode\";}s:14:\"termsOfService\";s:32:\"http://rgd.mcw.edu/wg/citing-rgd\";s:5:\"title\";s:19:\"Rat
  Genome Database\";s:7:\"version\";s:3:\"1.1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:87:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_medicalcollege_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:41:\"http://rest.rgd.mcw.edu/rgdws/v2/api-docs\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:7:\"mcw.edu\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"mcw_edu\";s:4:\"type\";s:7:\"openapi\";}}"
host: rest.rgd.mcw.edu
basePath: /rgdws
paths:
  /annotations/accId/{rgdId}:
    get:
      operationId: getTermAccIdsUsingGET
      parameters:
      - description: RGD ID
        format: int32
        in: path
        name: rgdId
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/MapPair'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Returns a list ontology term accession IDs annotated to an rgd object
      tags:
      - Annotation
  /annotations/count/{accId}/{includeChildren}:
    get:
      operationId: getAnnotationCountByAccIdUsingGET
      parameters:
      - description: Ontology term accession ID
        in: path
        name: accId
        required: true
        type: string
      - description: 'true: return annotations for the term and children, false: return
          annotations for the term only '
        in: path
        name: includeChildren
        required: true
        type: boolean
      responses:
        200:
          description: OK
          schema:
            format: int32
            type: integer
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Returns annotation count for ontology accession ID
      tags:
      - Annotation
  /annotations/count/{accId}/{speciesTypeKey}/{includeChildren}:
    get:
      operationId: getAnnotationCountByAccIdAndSpeciesUsingGET
      parameters:
      - description: Ontology term accession ID
        in: path
        name: accId
        required: true
        type: string
      - description: A list of species type keys can be found using the lookup service
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: 'true: return annotations for the term and children, false: return
          annotations for the term only '
        in: path
        name: includeChildren
        required: true
        type: boolean
      responses:
        200:
          description: OK
          schema:
            format: int32
            type: integer
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Returns annotation count for ontology accession ID and speicies
      tags:
      - Annotation
  /annotations/count/{accId}/{speciesTypeKey}/{includeChildren}/{objectType}:
    get:
      operationId: getAnnotationCountByAccIdAndObjectTypeUsingGET
      parameters:
      - description: Ontology term accession ID
        in: path
        name: accId
        required: true
        type: string
      - description: A list of species type keys can be found using the lookup service
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: 'true: return annotations for the term and children, false: return
          annotations for the term only '
        in: path
        name: includeChildren
        required: true
        type: boolean
      - description: A list of object types can be found using the lookup service
        format: int32
        in: path
        name: objectType
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            format: int32
            type: integer
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Returns annotation count for ontology accession ID and object type
      tags:
      - Annotation
  /annotations/reference/{refRgdId}:
    get:
      operationId: getAnnotsByRefrerenceUsingGET
      parameters:
      - description: Reference RGD ID
        format: int32
        in: path
        name: refRgdId
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Annotation'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Returns a list of annotations for a reference
      tags:
      - Annotation
  /annotations/rgdId/{rgdId}:
    get:
      operationId: getAnnotationsByRgdIdUsingGET
      parameters:
      - description: RGD ID
        format: int32
        in: path
        name: rgdId
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Annotation'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Returns a list of annotations by RGD ID
      tags:
      - Annotation
  /annotations/rgdId/{rgdId}/{ontologyPrefix}:
    get:
      operationId: getAnnotationsByRgdIdAndOntologyUsingGET
      parameters:
      - description: RGD ID
        format: int32
        in: path
        name: rgdId
        required: true
        type: integer
      - description: Ontology Prefix.  The prefix can be found left of the semicolon
          in an ontology term accession ID.  As an example, term accession PW:0000034
          has the ontology prefix PW
        in: path
        name: ontologyPrefix
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Annotation'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Returns a list of annotations by RGD ID and ontology prefix
      tags:
      - Annotation
  /annotations/{accId}/{rgdId}:
    get:
      operationId: getAnnotationsByAccIdAndRgdIdUsingGET
      parameters:
      - description: Ontology Term Accession ID
        in: path
        name: accId
        required: true
        type: string
      - description: RGD ID
        format: int32
        in: path
        name: rgdId
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Annotation'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Returns a list of annotations by RGD ID and ontology term accession
        ID
      tags:
      - Annotation
  /annotations/{accId}/{speciesTypeKey}/{includeChildren}:
    get:
      operationId: getAnnotationsUsingGET
      parameters:
      - description: Ontology term accession ID
        in: path
        name: accId
        required: true
        type: string
      - description: A list of species type keys can be found using the lookup service
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: 'true: return annotations for the term and children, false: return
          annotations for the term only '
        in: path
        name: includeChildren
        required: true
        type: boolean
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Annotation'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Returns a list annotations for an ontology term or a term and it's
        children
      tags:
      - Annotation
  /genes/affyId/{affyId}/{speciesTypeKey}:
    get:
      operationId: getGenesByAffyIdUsingGET
      parameters:
      - description: Affymetrix ID
        in: path
        name: affyId
        required: true
        type: string
      - description: A list of RGD species type keys can be found in the lookup service
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Gene'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return a list of genes for an affymetrix ID
      tags:
      - Gene
  /genes/alias/{aliasSymbol}/{speciesTypeKey}:
    get:
      operationId: getGenesByAliasSymbolUsingGET
      parameters:
      - description: Gene alias symbol
        in: path
        name: aliasSymbol
        required: true
        type: string
      - description: A list of RGD species type keys can be found in the lookup service
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Gene'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return a list of genes for an alias and species
      tags:
      - Gene
  /genes/allele/{rgdId}:
    get:
      operationId: getGeneAllelesUsingGET
      parameters:
      - description: RGD ID of gene
        format: int32
        in: path
        name: rgdId
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Gene'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return a list of gene alleles
      tags:
      - Gene
  /genes/annotation/{accId}/{speciesTypeKey}:
    get:
      operationId: getGenesAnnotatedUsingGET
      parameters:
      - description: Ontology term accession ID
        in: path
        name: accId
        required: true
        type: string
      - description: Species type key.  A list of species type keys can be found in
          the lookup service
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Gene'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return a list of genes annotated to an ontology term
      tags:
      - Gene
  /genes/keyword/{keyword}/{speciesTypeKey}:
    get:
      operationId: getGenesByKeywordUsingGET
      parameters:
      - description: Search keyword
        in: path
        name: keyword
        required: true
        type: string
      - description: Species type key.  A list of species type keys can be found in
          the lookup service
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Gene'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return a list of genes by keyword and species type key
      tags:
      - Gene
  /genes/map/{mapKey}:
    get:
      operationId: getGeneByMapKeyUsingGET
      parameters:
      - description: A list of RGD assembly map keys can be found in the lookup service
        format: int32
        in: path
        name: mapKey
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/MappedGene'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return a list of all genes with position information for an assembly
      tags:
      - Gene
  /genes/ortholog/{rgdId}:
    get:
      operationId: getGeneOrthologsUsingGET
      parameters:
      - description: RGD ID of a gene
        format: int32
        in: path
        name: rgdId
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Gene'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return a list of gene orthologs
      tags:
      - Gene
  /genes/species/{speciesTypeKey}:
    get:
      operationId: getGenesBySpeciesUsingGET
      parameters:
      - description: A list of RGD species type keys can be found in the lookup service
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Gene'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return a list of all genes for a species in RGD
      tags:
      - Gene
  /genes/{chr}/{start}/{stop}/{mapKey}:
    get:
      operationId: getGenesByPositionUsingGET
      parameters:
      - description: Chromosome
        in: path
        name: chr
        required: true
        type: string
      - description: Start Position
        format: int64
        in: path
        name: start
        required: true
        type: integer
      - description: Stop Position
        format: int64
        in: path
        name: stop
        required: true
        type: integer
      - description: A list of RGD assembly map keys can be found in the lookup service
        format: int32
        in: path
        name: mapKey
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Gene'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return a list of genes position and map key
      tags:
      - Gene
  /genes/{rgdId}:
    get:
      operationId: getGeneByRgdIdUsingGET
      parameters:
      - description: The RGD ID of a Gene in RGD
        format: int32
        in: path
        name: rgdId
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Gene'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Get a gene record by RGD ID
      tags:
      - Gene
  /genes/{symbol}/{speciesTypeKey}:
    get:
      operationId: getGeneBySymbolUsingGET
      parameters:
      - description: Gene Symbol
        in: path
        name: symbol
        required: true
        type: string
      - description: Species type key.  A list of species type keys can be found in
          the lookup service
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Gene'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Get a gene record by symbol and species type key
      tags:
      - Gene
  /lookup/geneTypes:
    get:
      operationId: getGeneTypesUsingGET
      responses:
        200:
          description: OK
          schema:
            items:
              type: string
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Returns a list of gene types avialable in RGD
      tags:
      - Lookup
  /lookup/maps/{speciesTypeKey}:
    get:
      operationId: getMapsUsingGET
      parameters:
      - description: RGD species type key. A full list of keys is available throught
          the lookup service.  1=human, 2=mouse, 3=rat,ect
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Map'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return a list assembly maps for a species
      tags:
      - Lookup
  /lookup/speciesTypeKeys:
    get:
      operationId: getSpeciesTypesUsingGET
      responses:
        200:
          description: OK
          schema:
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return a Map of species type keys available in RGD
      tags:
      - Lookup
  /pathways/diagrams/search/{searchString}:
    get:
      operationId: searchPathwaysUsingGET
      parameters:
      - description: Free text search string
        in: path
        name: searchString
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Pathway'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return a list of pathways based on search term
      tags:
      - Pathway
  /pathways/diagramsForCategory/{category}:
    get:
      operationId: getPathwaysWithDiagramsForCategoryUsingGET
      parameters:
      - description: Pathway Category
        in: path
        name: category
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Pathway'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return a list of pathways based on category provided
      tags:
      - Pathway
  /phenotype/phenominer/chart/{speciesTypeKey}/{termString}:
    get:
      operationId: getChartInfoUsingGET
      parameters:
      - description: 'Species Type Key - 3=rat 4=chinchilla '
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: List of term accession IDs
        in: path
        name: termString
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: object
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return a list of pathways based on search term and species type.  3=rat
        4=chinchilla
      tags:
      - Phenotype
  /qtls/{chr}/{start}/{stop}/{mapKey}:
    get:
      operationId: getQtlListByPositionUsingGET
      parameters:
      - description: Chromosome
        in: path
        name: chr
        required: true
        type: string
      - description: Start Position
        format: int64
        in: path
        name: start
        required: true
        type: integer
      - description: Stop Position
        format: int64
        in: path
        name: stop
        required: true
        type: integer
      - description: A list of assembly map keys can be found using the lookup service
        format: int32
        in: path
        name: mapKey
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/QTL'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Returns a list QTL for given position and assembly map
      tags:
      - QTL
  /qtls/{rgdId}:
    get:
      operationId: getQTLByRgdIdUsingGET
      parameters:
      - description: RGD ID
        format: int32
        in: path
        name: rgdId
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/QTL'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return a QTL for provided RGD ID
      tags:
      - QTL
  /stats/count/activeObject/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getActiveObjectCountUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateYYYYMMDD
        in: path
        name: dateYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count of active objects by type, for specified species and date
      tags:
      - Statistics
  /stats/count/geneType/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getGeneTypeCountUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateYYYYMMDD
        in: path
        name: dateYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count of gene types, for specified species and date
      tags:
      - Statistics
  /stats/count/objectStatus/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getObjectStatusCountUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateYYYYMMDD
        in: path
        name: dateYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count of objects with given status, for specified species and date
      tags:
      - Statistics
  /stats/count/objectWithRefSeq/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getObjectsWithRefSeqCountUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateYYYYMMDD
        in: path
        name: dateYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count of objects with reference sequence(s), by object type, for specified
        species and date
      tags:
      - Statistics
  /stats/count/objectWithReference/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getObjectsWithReferenceCountUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateYYYYMMDD
        in: path
        name: dateYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count of objects with reference, by object type, for specified species
        and date
      tags:
      - Statistics
  /stats/count/objectWithXdb/{speciesTypeKey}/{objectKey}/{dateYYYYMMDD}:
    get:
      operationId: getObjectsWithXDBsCountUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: objectKey
        format: int32
        in: path
        name: objectKey
        required: true
        type: integer
      - description: dateYYYYMMDD
        in: path
        name: dateYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count of objects with external database ids, by database id, for specified
        species, object type and date
      tags:
      - Statistics
  /stats/count/proteinInteraction/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getProteinInteractionCountUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateYYYYMMDD
        in: path
        name: dateYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count of protein interactions, for specified species and date
      tags:
      - Statistics
  /stats/count/qtlInheritanceType/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getQtlInheritanceTypeCountUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateYYYYMMDD
        in: path
        name: dateYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count of strains, by qtl inheritance type, for specified species and
        date
      tags:
      - Statistics
  /stats/count/retiredObject/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getRetiredObjectCountUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateYYYYMMDD
        in: path
        name: dateYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count of retired objects by type, for specified species and date
      tags:
      - Statistics
  /stats/count/strainType/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getStrainTypeCountUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateYYYYMMDD
        in: path
        name: dateYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count of strain types, for specified species and date
      tags:
      - Statistics
  /stats/count/withdrawnObject/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getWithdrawnObjectCountUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateYYYYMMDD
        in: path
        name: dateYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count of withdrawn objects by type, for specified species and date
      tags:
      - Statistics
  /stats/count/xdb/{speciesTypeKey}/{dateYYYYMMDD}:
    get:
      operationId: getXdbsCountUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateYYYYMMDD
        in: path
        name: dateYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count of external database ids, for specied species and date
      tags:
      - Statistics
  /stats/diff/activeObject/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getActiveObjectDiffUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateFromYYYYMMDD
        in: path
        name: dateFromYYYYMMDD
        required: true
        type: string
      - description: dateToYYYYMMDD
        in: path
        name: dateToYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count difference of active objects, by type, for specified species
        and date range
      tags:
      - Statistics
  /stats/diff/geneType/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getGeneTypeDiffUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateFromYYYYMMDD
        in: path
        name: dateFromYYYYMMDD
        required: true
        type: string
      - description: dateToYYYYMMDD
        in: path
        name: dateToYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count difference of gene types, for specified species and date range
      tags:
      - Statistics
  /stats/diff/objectStatus/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getObjectStatusDiffUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateFromYYYYMMDD
        in: path
        name: dateFromYYYYMMDD
        required: true
        type: string
      - description: dateToYYYYMMDD
        in: path
        name: dateToYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count difference of objects with given status, for specified species
        and date range
      tags:
      - Statistics
  /stats/diff/objectWithRefSeq/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getObjectsWithRefSeqDiffUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateFromYYYYMMDD
        in: path
        name: dateFromYYYYMMDD
        required: true
        type: string
      - description: dateToYYYYMMDD
        in: path
        name: dateToYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count difference of objects with reference sequence(s), by object type,
        for specified species and date range
      tags:
      - Statistics
  /stats/diff/objectWithReference/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getObjectsWithReferenceDiffUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateFromYYYYMMDD
        in: path
        name: dateFromYYYYMMDD
        required: true
        type: string
      - description: dateToYYYYMMDD
        in: path
        name: dateToYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count difference of objects with reference, by object type, for specified
        species and date range
      tags:
      - Statistics
  /stats/diff/objectWithXdb/{speciesTypeKey}/{objectKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getObjectsWithXDBsDiffUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: objectKey
        format: int32
        in: path
        name: objectKey
        required: true
        type: integer
      - description: dateFromYYYYMMDD
        in: path
        name: dateFromYYYYMMDD
        required: true
        type: string
      - description: dateToYYYYMMDD
        in: path
        name: dateToYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count difference of objects with external database ids, by database
        id, for specified species, object type and date range
      tags:
      - Statistics
  /stats/diff/proteinInteraction/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getProteinInteractionDiffUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateFromYYYYMMDD
        in: path
        name: dateFromYYYYMMDD
        required: true
        type: string
      - description: dateToYYYYMMDD
        in: path
        name: dateToYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count difference of protein interactions, for specified species and
        date range
      tags:
      - Statistics
  /stats/diff/qtlInheritanceType/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getQtlInheritanceTypeDiffUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateFromYYYYMMDD
        in: path
        name: dateFromYYYYMMDD
        required: true
        type: string
      - description: dateToYYYYMMDD
        in: path
        name: dateToYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count difference of strains, by qtl inheritance type, for specified
        species and date range
      tags:
      - Statistics
  /stats/diff/retiredObject/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getRetiredObjectDiffUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateFromYYYYMMDD
        in: path
        name: dateFromYYYYMMDD
        required: true
        type: string
      - description: dateToYYYYMMDD
        in: path
        name: dateToYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count difference of retired objects, by type, for specified species
        and date range
      tags:
      - Statistics
  /stats/diff/strainType/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getStrainTypeDiffUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateFromYYYYMMDD
        in: path
        name: dateFromYYYYMMDD
        required: true
        type: string
      - description: dateToYYYYMMDD
        in: path
        name: dateToYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count difference of strain types, for specified species and date range
      tags:
      - Statistics
  /stats/diff/withdrawnObject/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getWithdrawnObjectDiffUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateFromYYYYMMDD
        in: path
        name: dateFromYYYYMMDD
        required: true
        type: string
      - description: dateToYYYYMMDD
        in: path
        name: dateToYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count difference of withdrawn objects, by type, for specified species
        and date range
      tags:
      - Statistics
  /stats/diff/xdb/{speciesTypeKey}/{dateFromYYYYMMDD}/{dateToYYYYMMDD}:
    get:
      operationId: getXdbsDiffUsingGET
      parameters:
      - description: speciesTypeKey
        format: int32
        in: path
        name: speciesTypeKey
        required: true
        type: integer
      - description: dateFromYYYYMMDD
        in: path
        name: dateFromYYYYMMDD
        required: true
        type: string
      - description: dateToYYYYMMDD
        in: path
        name: dateToYYYYMMDD
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Count difference of external database ids, for specified species and
        date range
      tags:
      - Statistics
  /stats/term/{accId}/{filterAccId}:
    get:
      operationId: getTermStatsUsingGET
      parameters:
      - description: accId
        in: path
        name: accId
        required: true
        type: string
      - description: filterAccId
        in: path
        name: filterAccId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            additionalProperties:
              format: int32
              type: integer
            type: object
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: getTermStats
      tags:
      - Statistics
  /strains/all:
    get:
      operationId: getAllStrainsUsingGET
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Strain'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return all active strains in RGD
      tags:
      - Rat Strain
  /strains/{chr}/{start}/{stop}/{mapKey}:
    get:
      operationId: getStrainsByPositionUsingGET
      parameters:
      - description: Chromosome
        in: path
        name: chr
        required: true
        type: string
      - description: Start Position
        format: int64
        in: path
        name: start
        required: true
        type: integer
      - description: Stop Position
        format: int64
        in: path
        name: stop
        required: true
        type: integer
      - description: RGD Map Key (available through lookup service)
        format: int32
        in: path
        name: mapKey
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Strain'
            type: array
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return all active strains by position
      tags:
      - Rat Strain
  /strains/{rgdId}:
    get:
      operationId: getStrainByRgdIdUsingGET
      parameters:
      - description: RGD ID of the strain
        format: int32
        in: path
        name: rgdId
        required: true
        type: integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Strain'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
      summary: Return a strain by RGD ID
      tags:
      - Rat Strain
produces:
- '*/*'
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":11:{s:10:\"Annotation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":22:{s:20:\"annotatedObjectRgdId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"aspect\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"createdDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"dataSrc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"evidence\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"expRgdId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"key\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"lastModifiedBy\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"lastModifiedDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"objectName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"objectSymbol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"qualifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"refRgdId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"relativeTo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"rgdObjectKey\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"speciesTypeKey\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"termAcc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"withInfo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"xrefSource\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Gene\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"function\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ncbiAnnotStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"nomenReviewDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"product\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"refSeqStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"rgdId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"soAccId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"speciesTypeKey\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"symbol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"variant\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Map\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"dbsnpVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"methodKey\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"primaryRefAssembly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"rank\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"rgdId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"speciesTypeKey\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"ucscAssemblyId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"MapPair\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"keyValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"stringValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MappedGene\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"chromosome\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"gene\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Gene\";}s:6:\"mapKey\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"start\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"stop\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"strand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Pathway\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"hasAlteredPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"objectList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PathwayObject\";}s:4:\"type\";s:5:\"array\";}s:17:\"pathwayCategories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"referenceList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"PathwayObject\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"accId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"objDesc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"objName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"typeId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"typeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"xdb_key\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:3:\"QTL\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:10:\"chromosome\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"flank1RgdId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"flank2RgdId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"inheritanceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"linkageImage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"lod\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"lodImage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"mostSignificantCmoTerm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"peakOffset\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"peakRgdId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"pvalue\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"rgdId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"sourceUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"speciesTypeKey\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"symbol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"variance\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Reference\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:8:\"citation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"doi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"editors\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"issue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"pubDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"pubStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"publication\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"publisher\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"publisherCity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"refAbstract\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"referenceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"rgdId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"speciesTypeKey\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"urlWebReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"volume\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:19:\"cryopreservedEmbryo\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"cryopreservedSperm\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"cryorecovery\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"key\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"liveAnimals\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"statusDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"strainRgdId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Strain\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":23:{s:21:\"backgroundStrainRgdId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"chrAltered\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"geneticStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"genetics\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"inbredGen\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"lastStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"lastStatusObject\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Status\";}s:18:\"modificationMethod\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"researchUse\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"rgdId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"speciesTypeKey\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"statusLog\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Status\";}s:4:\"type\";s:5:\"array\";}s:6:\"strain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"strainTypeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"substrain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"symbol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
