---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1468:\"<p>AWS
  Price List Service API (AWS Price List Service) is a centralized and convenient
  way to programmatically query Amazon Web Services for services, products, and pricing
  information. The AWS Price List Service uses standardized product attributes such
  as <code>Location</code>, <code>Storage Class</code>, and <code>Operating System</code>,
  and provides prices at the SKU level. You can use the AWS Price List Service to
  build cost control and scenario planning tools, reconcile billing data, forecast
  future spend for budgeting purposes, and provide cost benefit analysis that compare
  your internal workloads with AWS.</p> <p>Use <code>GetServices</code> without a
  service code to retrieve the service codes for all AWS services, then <code>GetServices</code>
  with a service code to retreive the attribute names for that service. After you
  have the service code and attribute names, you can use <code>GetAttributeValues</code>
  to see what values are available for an attribute. With the service code and an
  attribute name and value, you can use <code>GetProducts</code> to find specific
  products that you're interested in, such as an <code>AmazonEC2</code> instance,
  with a <code>Provisioned IOPS</code> <code>volumeType</code>.</p> <p>Service Endpoint</p>
  <p>AWS Price List Service API provides the following two endpoints:</p> <ul> <li>
  <p>https://api.pricing.us-east-1.amazonaws.com</p> </li> <li> <p>https://api.pricing.ap-south-1.amazonaws.com</p>
  </li> </ul>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache 2.0
  License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:22:\"AWS
  Price List Service\";s:7:\"version\";s:10:\"2017-10-15\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:91:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/pricing-2017-10-15.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:7:\"pricing\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"amazonaws_api_pricing\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.pricing.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":24:{s:17:\"AttributeNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:14:\"AttributeValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:178:\"The
  values of a given attribute, such as <code>Throughput Optimized HDD</code> or <code>Provisioned
  IOPS</code> for the <code>Amazon EC2</code> <code>volumeType</code> attribute.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"The
  specific value of an <code>attributeName</code>.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AttributeValueList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AttributeValue\";}s:4:\"type\";s:5:\"array\";}s:12:\"BoxedInteger\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:23:\"DescribeServicesRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:13:\"FormatVersion\";s:6:\"aws_v1\";s:10:\"MaxResults\";i:1;s:11:\"ServiceCode\";s:9:\"AmazonEC2\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"FormatVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:108:\"<p>The
  format version that you want the response to be in.</p> <p>Valid values are: <code>aws_v1</code>
  </p>\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:69:\"The
  maximum number of results that you want returned in the response.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:86:\"The
  pagination token that indicates the next set of results that you want to retrieve.\";}s:11:\"ServiceCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:249:\"The
  code for the service whose information you want to retrieve, such as <code>AmazonEC2</code>.
  You can use the <code>ServiceCode</code> to filter the results in a <code>GetProducts</code>
  call. To retrieve a list of all services, leave this blank.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeServicesResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:13:\"FormatVersion\";s:6:\"aws_v1\";s:9:\"NextToken\";s:10:\"abcdefg123\";s:8:\"Services\";a:1:{i:0;O:8:\"stdClass\":2:{s:14:\"AttributeNames\";a:5:{i:0;s:10:\"volumeType\";i:1;s:13:\"maxIopsvolume\";i:2;s:24:\"instanceCapacity10xlarge\";i:3;s:12:\"locationType\";i:4;s:9:\"operation\";}s:11:\"ServiceCode\";s:9:\"AmazonEC2\";}}}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"FormatVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:69:\"The
  format version of the response. For example, <code>aws_v1</code>.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:61:\"The
  pagination token for the next set of retreivable results.\";}s:8:\"Services\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceList\";s:11:\"description\";s:65:\"The
  service metadata for the service or services in the response.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ExpiredNextTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  pagination token expired. Try again without a pagination token.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Filter\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  constraints that you want all returned products to match.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Field\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:580:\"<p>The
  product metadata field that you want to filter on. You can filter by just the service
  code to see all products for a specific service, filter by just the attribute name
  to see a specific attribute for multiple services, or use both a service code and
  an attribute name to retrieve only products that match both fields.</p> <p>Valid
  values include: <code>ServiceCode</code>, and all attribute names</p> <p>For example,
  you can filter by the <code>AmazonEC2</code> service code and the <code>volumeType</code>
  attribute name to get the prices for only Amazon EC2 volumes.</p>\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FilterType\";s:11:\"description\";s:203:\"<p>The
  type of filter that you want to use.</p> <p>Valid values are: <code>TERM_MATCH</code>.
  <code>TERM_MATCH</code> returns only products that match both the given filter field
  and the given value.</p>\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:327:\"The
  service code or attribute value that you want to filter by. If you are filtering
  by service code this is the actual service code, such as <code>AmazonEC2</code>.
  If you are filtering by attribute name, this is the attribute value that you want
  the returned products to match, such as a <code>Provisioned IOPS</code> volume.\";}}s:8:\"required\";a:3:{i:0;s:4:\"Type\";i:1;s:5:\"Field\";i:2;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:10:\"FilterType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:10:\"TERM_MATCH\";}s:4:\"type\";s:6:\"string\";}s:7:\"Filters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";}s:4:\"type\";s:5:\"array\";}s:25:\"GetAttributeValuesRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:13:\"AttributeName\";s:10:\"volumeType\";s:10:\"MaxResults\";i:2;s:11:\"ServiceCode\";s:9:\"AmazonEC2\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"AttributeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:100:\"The
  name of the attribute that you want to retrieve the values for, such as <code>volumeType</code>.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:52:\"The
  maximum number of results to return in response.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:86:\"The
  pagination token that indicates the next set of results that you want to retrieve.\";}s:11:\"ServiceCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:155:\"The
  service code for the service whose attributes you want to retrieve. For example,
  if you want the retrieve an EC2 attribute, use <code>AmazonEC2</code>.\";}}s:8:\"required\";a:2:{i:0;s:11:\"ServiceCode\";i:1;s:13:\"AttributeName\";}s:4:\"type\";s:6:\"object\";}s:26:\"GetAttributeValuesResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:15:\"AttributeValues\";a:2:{i:0;O:8:\"stdClass\":1:{s:5:\"Value\";s:24:\"Throughput
  Optimized HDD\";}i:1;O:8:\"stdClass\":1:{s:5:\"Value\";s:16:\"Provisioned IOPS\";}}s:9:\"NextToken\";s:305:\"GpgauEXAMPLEezucl5LV0w==:7GzYJ0nw0DBTJ2J66EoTIIynE6O1uXwQtTRqioJzQadBnDVgHPzI1en4BUQnPCLpzeBk9RQQAWaFieA4+DapFAGLgk+Z/9/cTw9GldnPOHN98+FdmJP7wKU3QQpQ8MQr5KOeBkIsAqvAQYdL0DkL7tHwPtE5iCEByAmg9gcC/yBU1vAOsf7R3VaNN4M5jMDv3woSWqASSIlBVB6tgW78YL22KhssoItM/jWW+aP6Jqtq4mldxp/ct6DWAl+xLFwHU/CbketimPPXyqHF3/UXDw==\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"AttributeValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AttributeValueList\";s:11:\"description\";s:202:\"The
  list of values for an attribute. For example, <code>Throughput Optimized HDD</code>
  and <code>Provisioned IOPS</code> are two available values for the <code>AmazonEC2</code>
  <code>volumeType</code>.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:72:\"The
  pagination token that indicates the next set of results to retrieve.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetProductsRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"Filters\";a:2:{i:0;O:8:\"stdClass\":3:{s:5:\"Field\";s:11:\"ServiceCode\";s:4:\"Type\";s:10:\"TERM_MATCH\";s:5:\"Value\";s:9:\"AmazonEC2\";}i:1;O:8:\"stdClass\":3:{s:5:\"Field\";s:10:\"volumeType\";s:4:\"Type\";s:10:\"TERM_MATCH\";s:5:\"Value\";s:16:\"Provisioned
  IOPS\";}}s:13:\"FormatVersion\";s:6:\"aws_v1\";s:10:\"MaxResults\";i:1;}s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Filters\";s:11:\"description\";s:104:\"The
  list of filters that limit the returned products. only products that match all filters
  are returned.\";}s:13:\"FormatVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:108:\"<p>The
  format version that you want the response to be in.</p> <p>Valid values are: <code>aws_v1</code>
  </p>\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:56:\"The
  maximum number of results to return in the response.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:86:\"The
  pagination token that indicates the next set of results that you want to retrieve.\";}s:11:\"ServiceCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:62:\"The
  code for the service whose products you want to retrieve. \";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetProductsResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:13:\"FormatVersion\";s:6:\"aws_v1\";s:9:\"NextToken\";s:262:\"57r3EXAMPLEujbzWfHF7Ciw==:ywSmZsD3mtpQmQLQ5XfOsIMkYybSj+vAT+kGmwMFq+K9DGmIoJkz7lunVeamiOPgthdWSO2a7YKojCO+zY4dJmuNl2QvbNhXs+AJ2Ufn7xGmJncNI2TsEuAsVCUfTAvAQNcwwamtk6XuZ4YdNnooV62FjkV3ZAn40d9+wAxV7+FImvhUHi/+f8afgZdGh2zPUlH8jlV9uUtj0oHp8+DhPUuHXh+WBII1E/aoKpPSm3c=\";s:9:\"PriceList\";a:1:{i:0;s:993:\"{\"product\":{\"productFamily\":\"Storage\",\"attributes\":{\"storageMedia\":\"SSD-backed\",\"maxThroughputvolume\":\"320
  MB/sec\",\"volumeType\":\"Provisioned IOPS\",\"maxIopsvolume\":\"20000\",\"servicecode\":\"AmazonEC2\",\"usagetype\":\"CAN1-EBS:VolumeUsage.piops\",\"locationType\":\"AWS
  Region\",\"location\":\"Canada (Central)\",\"servicename\":\"Amazon Elastic Compute
  Cloud\",\"maxVolumeSize\":\"16 TiB\",\"operation\":\"\"},\"sku\":\"WQGC34PB2AWS8R4U\"},\"serviceCode\":\"AmazonEC2\",\"terms\":{\"OnDemand\":{\"WQGC34PB2AWS8R4U.JRTCKXETXF\":{\"priceDimensions\":{\"WQGC34PB2AWS8R4U.JRTCKXETXF.6YS6EN2CT7\":{\"unit\":\"GB-Mo\",\"endRange\":\"Inf\",\"description\":\"$0.138
  per GB-month of Provisioned IOPS SSD (io1)  provisioned storage - Canada (Central)\",\"appliesTo\":[],\"rateCode\":\"WQGC34PB2AWS8R4U.JRTCKXETXF.6YS6EN2CT7\",\"beginRange\":\"0\",\"pricePerUnit\":{\"USD\":\"0.1380000000\"}}},\"sku\":\"WQGC34PB2AWS8R4U\",\"effectiveDate\":\"2017-08-01T00:00:00Z\",\"offerTermCode\":\"JRTCKXETXF\",\"termAttributes\":{}}}},\"version\":\"20170901182201\",\"publicationDate\":\"2017-09-01T18:22:01Z\"}\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"FormatVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:56:\"The
  format version of the response. For example, aws_v1.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:72:\"The
  pagination token that indicates the next set of results to retrieve.\";}s:9:\"PriceList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/PriceList\";s:11:\"description\";s:116:\"The
  list of products that match your filters. The list contains both the product metadata
  and the price information.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InternalErrorException\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"An
  error on the server occurred during the processing of your request. Try again later.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidNextTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  pagination token is invalid. Try again without a pagination token.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidParameterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"One
  or more parameters had an invalid value.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";}}s:4:\"type\";s:6:\"object\";}s:17:\"NotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  requested resource can't be found.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";}}s:4:\"type\";s:6:\"object\";}s:9:\"PriceList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PriceListItemJSON\";}s:4:\"type\";s:5:\"array\";}s:17:\"PriceListItemJSON\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Service\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  metadata for a service, such as the service code and available attribute names.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AttributeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AttributeNameList\";s:11:\"description\";s:51:\"The
  attributes that are available for this service.\";}s:11:\"ServiceCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:29:\"The
  code for the AWS service.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ServiceList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Service\";}s:4:\"type\";s:5:\"array\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}"
...
