---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:10:\"Healthcare\";s:7:\"version\";s:5:\"1.0.0\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:76:\"https://api.apis.guru/v2/cache/logo/https_www.healthcare.gov_images_logo.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:109:\"https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/healthcare.gov/1.0.0/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"healthcare.gov\";s:16:\"x-unofficialSpec\";b:1;}"
host: www.healthcare.gov
basePath: /
paths:
  /api/articles{mediaTypeExtension}:
    get:
      description: Returns pages content.
      parameters:
      - description: Omiting the param causes html to be returned.
        enum:
        - .json
        in: path
        name: mediaTypeExtension
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/articlesList'
        404:
          description: Resource not found.
  /api/blog{mediaTypeExtension}:
    get:
      description: Returns pages content.
      parameters:
      - description: Omiting the param causes html to be returned.
        enum:
        - .json
        in: path
        name: mediaTypeExtension
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/blogList'
        404:
          description: Resource not found.
  /api/glossary{mediaTypeExtension}:
    get:
      description: Returns pages content.
      parameters:
      - description: Omiting the param causes html to be returned.
        enum:
        - .json
        in: path
        name: mediaTypeExtension
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/glossaryList'
        404:
          description: Resource not found.
  /api/questions{mediaTypeExtension}:
    get:
      description: Returns pages content.
      parameters:
      - description: Omiting the param causes html to be returned.
        enum:
        - .json
        in: path
        name: mediaTypeExtension
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/questionsList'
        404:
          description: Resource not found.
  /api/states{mediaTypeExtension}:
    get:
      description: Returns pages content.
      parameters:
      - description: Omiting the param causes html to be returned.
        enum:
        - .json
        in: path
        name: mediaTypeExtension
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/statesList'
        404:
          description: Resource not found.
  /api/topics{mediaTypeExtension}:
    get:
      description: Returns pages content.
      parameters:
      - description: Omiting the param causes html to be returned.
        enum:
        - .json
        in: path
        name: mediaTypeExtension
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/topicsList'
        404:
          description: Resource not found.
  /blog/{pageName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      parameters:
      - description: Omiting the param causes html to be returned.
        enum:
        - .json
        in: path
        name: mediaTypeExtension
        required: true
        type: string
      - in: path
        name: pageName
        required: true
        type: string
      produces:
      - application/html
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/blogPage'
        404:
          description: Resource not found.
  /es/blog/{pageName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      parameters:
      - description: Omiting the param causes html to be returned.
        enum:
        - .json
        in: path
        name: mediaTypeExtension
        required: true
        type: string
      - in: path
        name: pageName
        required: true
        type: string
      produces:
      - application/html
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/blogPage'
        404:
          description: Resource not found.
  /es/glossary/{pageName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      parameters:
      - description: Omiting the param causes html to be returned.
        enum:
        - .json
        in: path
        name: mediaTypeExtension
        required: true
        type: string
      - in: path
        name: pageName
        required: true
        type: string
      produces:
      - application/html
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/glossaryPage'
        404:
          description: Resource not found.
  /es/question/{pageName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      parameters:
      - description: Omiting the param causes html to be returned.
        enum:
        - .json
        in: path
        name: mediaTypeExtension
        required: true
        type: string
      - in: path
        name: pageName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/questionPage'
        404:
          description: Resource not found.
  /es/{pageName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      parameters:
      - description: Omiting the param causes html to be returned.
        enum:
        - .json
        in: path
        name: mediaTypeExtension
        required: true
        type: string
      - in: path
        name: pageName
        required: true
        type: string
      produces:
      - application/html
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/page'
        404:
          description: Resource not found.
  /es/{stateName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      parameters:
      - description: Omiting the param causes html to be returned.
        enum:
        - .json
        in: path
        name: mediaTypeExtension
        required: true
        type: string
      - in: path
        name: stateName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/statePage'
        404:
          description: Resource not found.
  /glossary/{pageName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      parameters:
      - description: Omiting the param causes html to be returned.
        enum:
        - .json
        in: path
        name: mediaTypeExtension
        required: true
        type: string
      - in: path
        name: pageName
        required: true
        type: string
      produces:
      - application/html
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/glossaryPage'
        404:
          description: Resource not found.
  /question/{pageName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      parameters:
      - description: Omiting the param causes html to be returned.
        enum:
        - .json
        in: path
        name: mediaTypeExtension
        required: true
        type: string
      - in: path
        name: pageName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/questionPage'
        404:
          description: Resource not found.
  /{pageName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      parameters:
      - description: Omiting the param causes html to be returned.
        enum:
        - .json
        in: path
        name: mediaTypeExtension
        required: true
        type: string
      - in: path
        name: pageName
        required: true
        type: string
      produces:
      - application/html
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/page'
        404:
          description: Resource not found.
  /{stateName}{mediaTypeExtension}:
    get:
      description: Returns pages content.
      parameters:
      - description: Omiting the param causes html to be returned.
        enum:
        - .json
        in: path
        name: mediaTypeExtension
        required: true
        type: string
      - in: path
        name: stateName
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/statePage'
        404:
          description: Resource not found.
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:12:\"articlesList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"articles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:4:\"bite\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"excerpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"featured\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"layout\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"meta-description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"meta-title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"related\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:12:\"seo-keywords\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"title-short\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"topics\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"blogList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"blog\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"layout\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"meta-description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"meta-title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"seo-keywords\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"topics\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"blogPage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"excerpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"layout\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"meta-description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"meta-title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"seo-keywords\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"topics\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"glossaryList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"glossary\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"excerpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"layout\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"glossaryPage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"excerpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"layout\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"page\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"excerpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"experience\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"layout\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"questionPage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"excerpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"questionsList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"questions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"excerpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"statePage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"excerpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"stateurl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"statesList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"states\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"excerpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"stateurl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"topicsList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"topics\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:12:\"articleorder\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"excerpt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"layout\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"meta-description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"meta-title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
