---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:3:\"3.3\";s:5:\"title\";s:30:\"API
  de remont\xE9e d'information\";s:11:\"description\";s:171:\"Redmine expose quelqu'unes
  de ses API en mode REST. Cette page permet de sp\xE9cifier le \nformat d'entr\xE9e,
  la d\xE9finition et la r\xE9ponse \xE0 ces API pour le projet PIC'EAU.\n\";}"
host: forge-scientifique.brgm-rec.fr
basePath: /
paths: ~
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:5:\"Issue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:12:{i:0;s:2:\"id\";i:1;s:7:\"project\";i:2;s:7:\"tracker\";i:3;s:6:\"status\";i:4;s:8:\"priority\";i:5;s:6:\"author\";i:6;s:7:\"subject\";i:7;s:11:\"description\";i:8;s:10:\"start_date\";i:9;s:10:\"done_ratio\";i:10;s:10:\"created_on\";i:11;s:10:\"updated_on\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/IdName\";}s:7:\"tracker\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/IdName\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/IdName\";}s:8:\"priority\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/IdName\";}s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/IdName\";}s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"start_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"done_ratio\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_on\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"updated_on\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:6:\"IdName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
