---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:46:\"Research.and.Development.Music@mondiamedia.com\";}s:11:\"description\";s:384:\"<p>This
  is the API for building Mondia-Media-Products, like Tops.</p><p>Every call need
  a valid client or user-token.</p><p><ol><li>Client-Token can be get at our Police-API</li><li>User-Token
  can be get through a login on a customer specific Life-Cycle-Service</li><li>UseCases
  regarding Login, Register, Subscribe (incl. Payment) will be done by the Life-Cycle-Service</li></ol></p>\";s:5:\"title\";s:9:\"Queen
  API\";s:7:\"version\";s:6:\"2.9.10\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://queen.mondiamedia.com/swagger/swaggerui/images/mm_developer_schwarz.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:37:\"https://queen.mondiamedia.com/swagger\";s:7:\"version\";s:3:\"1.2\";}s:14:\"x-providerName\";s:15:\"mondiamedia.com\";}"
host: queen.mondiamedia.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":16:{s:7:\"Article\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Id
  of the item\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:15:\"ArticleDownload\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"articleId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:9:\"articleId\";}}s:13:\"ArticleReport\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"date\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Date
  when the event was happen (Use the format \"yyyy-MM-ddTHH:mm:ss.SSSZ\"\";s:4:\"type\";s:6:\"string\";}s:16:\"maxUsageDuration\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Maximal
  onblock duration in seconds (for usage-Event)\";s:4:\"type\";s:6:\"number\";}s:7:\"offline\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:78:\"Information
  if the Track was listend offline (for usage-event) (Default false)\";s:4:\"type\";s:7:\"boolean\";}s:5:\"realm\";O:8:\"stdClass\":4:{s:7:\"default\";s:3:\"app\";s:11:\"description\";s:39:\"Realm/Client
  of the event (Default app)\";s:4:\"enum\";a:2:{i:0;s:3:\"app\";i:1;s:3:\"web\";}s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Key
  of the playlist, where this event occurs - Special: MyTracks for personal Playlist\";s:4:\"type\";s:6:\"string\";}s:7:\"trigger\";O:8:\"stdClass\":4:{s:7:\"default\";s:8:\"playlist\";s:11:\"description\";s:92:\"Did
  the user trigger the play of this item (Play, Skip) (for usage-Event) (Default playlist)\";s:4:\"enum\";a:2:{i:0;s:4:\"user\";i:1;s:8:\"playlist\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Type
  of the status event (downloaded, removed, listened)\";s:4:\"enum\";a:3:{i:0;s:10:\"downloaded\";i:1;s:7:\"removed\";i:2;s:8:\"listened\";}s:4:\"type\";s:6:\"string\";}s:13:\"usageDuration\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Total
  duration in seconds (for usage-Event)\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:4:\"date\";}}s:8:\"Articles\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Ids
  of the items\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:3:\"ids\";}}s:16:\"ArticleStreaming\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"articleId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"preview\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:9:\"articleId\";}}s:6:\"Binary\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"encryption\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"used
  encryption for this song\";s:4:\"type\";s:6:\"string\";}s:7:\"preview\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"ticket\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Config\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"client_template_key\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Corresponding
  Client Template Key\";s:4:\"type\";s:6:\"string\";}s:10:\"config_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"lifecycleAPI\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Endpoint
  for the Lifecycle Service\";s:4:\"type\";s:6:\"string\";}s:5:\"pages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}}}s:21:\"CreatedEntityResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"DownloadResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"articleId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:9:\"articleId\";}}s:4:\"null\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"content\";O:8:\"stdClass\":0:{}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pageType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"titles\";O:8:\"stdClass\":0:{}}s:8:\"required\";a:2:{i:0;s:3:\"key\";i:1;s:8:\"pageType\";}}s:19:\"PersonalPlaylistIds\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Article\";}s:4:\"type\";s:5:\"array\";}}}s:8:\"playlist\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"coverUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/playlistEntity\";}s:4:\"type\";s:5:\"array\";}s:19:\"playlistDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"playlistKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"playlistName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"playlistKey\";i:1;s:12:\"playlistName\";}}s:14:\"playlistEntity\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"song\";O:8:\"stdClass\":0:{}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"PlaylistModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"coverUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"entities\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/playlistEntity\";}s:4:\"type\";s:5:\"array\";}s:19:\"playlistDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"playlistKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"playlistName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"playlistKey\";i:1;s:12:\"playlistName\";}}s:13:\"StreamingLink\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"preview\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"ticket\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"StreamingResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"articleId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"preview\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:9:\"articleId\";}}}"
...
