---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:5:\"SEPTA\";s:11:\"description\";s:186:\"Provides
  hackathon-style access to the SEPTA API.\r\n\r\nAllows introspection of the SEPTA
  locations and routes, and provides basically-realtime data on delays, alerts, vehicles,
  and routes.\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"danopia\";s:3:\"url\";s:32:\"http://www3.septa.com/hackathon/\";}s:7:\"version\";N;s:6:\"x-logo\";s:86:\"https://s3.amazonaws.com/mashape-production-logos/apis/53aa3802e4b0a705fcc30bd6_medium\";s:20:\"x-mashape-categories\";a:1:{i:0;s:6:\"Travel\";}s:8:\"x-origin\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"mashape\";s:3:\"url\";s:40:\"https://market.mashape.com/danopia/septa\";}}"
host: septa.p.mashape.com
basePath: ""
paths:
  /hackathon/BusDetours/:
    get:
      description: ""
      operationId: bus-detours
      produces:
      - application/json
      parameters:
      - name: req1
        in: query
        description: Route number
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /hackathon/TransitView/trips.php:
    get:
      description: ""
      operationId: bus-trolley-locations
      produces:
      - application/json
      parameters:
      - name: route
        in: query
        description: ""
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /hackathon/Stops/:
    get:
      description: ""
      operationId: bus-trolley-routes
      produces:
      - application/json
      parameters:
      - name: req1
        in: query
        description: Route number
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /hackathon/BusSchedules/:
    get:
      description: ""
      operationId: bus-trolley-schedules
      produces:
      - application/json
      parameters:
      - name: req1
        in: query
        description: Stop ID
        required: true
      - name: req2
        in: query
        description: Route number
      - name: req3
        in: query
        description: i for inbound, o for outbound
      - name: req6
        in: query
        description: Number of results
  /hackathon/Alerts/get_alert_data.php:
    get:
      description: ""
      operationId: get-alerts
      produces:
      - application/json
      parameters:
      - name: req1
        in: query
        description: ""
      responses:
        200:
          description: ~
          schema:
            type: array
  /hackathon/locations/get_locations.php:
    get:
      description: ""
      operationId: get-locations
      produces:
      - application/json
      parameters:
      - name: lat
        in: query
        description: Latitude
        required: true
      - name: lon
        in: query
        description: Longitude
        required: true
      - name: radius
        in: query
        description: Number of miles (accepts a decimal)
      - name: type
        in: query
        description: One of [bus_stops , rail_stations , perk_locations , trolley_stops
          , sales_locations]
      responses:
        200:
          description: ~
          schema:
            type: array
  /hackathon/NextToArrive/:
    get:
      description: Fetch a list of regional rail trains that will soon be traveling
        from point A to point B.
      operationId: next-to-arrive
      produces:
      - application/json
      parameters:
      - name: req1
        in: query
        description: Origin station
        required: true
      - name: req2
        in: query
        description: Destination station
        required: true
      - name: req3
        in: query
        description: Number of results
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /sms/:
    get:
      description: Intended for SMS.
      operationId: plain-text-bus-schedules
      parameters:
      - name: req1
        in: query
        description: Stop ID
        required: true
      - name: req2
        in: query
        description: Route number
      - name: req3
        in: query
        description: Inbound/outbound
  /hackathon/RRSchedules/:
    get:
      description: By train number, lol.
      operationId: regional-rail-schedules
      produces:
      - application/json
      parameters:
      - name: req1
        in: query
        description: ""
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /hackathon/TrainView/:
    get:
      description: Regional Rail real-time train locations
      operationId: trainview
      produces:
      - application/json
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /hackathon/Twitter/:
    get:
      description: ""
      operationId: twitter
      produces:
      - application/json
      parameters:
      - name: req1
        in: query
        description: Number of posts
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
definitions: !php/object "O:8:\"stdClass\":3:{s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"route_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"route_info\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Route_info\";}}}}s:10:\"Route_info\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"route_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"current_message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"Resource_0\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}"
...
