---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:7:\"version\";s:6:\"0.14.0\";s:5:\"title\";s:24:\"WSO2
  API Manager - Store\";s:11:\"description\";s:340:\"This specifies a **RESTful API**
  for WSO2 **API Manager** - Store.\n\nPlease see [full swagger definition](https://raw.githubusercontent.com/wso2/carbon-apimgt/v6.1.66/components/apimgt/org.wso2.carbon.apimgt.rest.api.store/src/main/resources/store-api.yaml)
  of the API which is written using [swagger 2.0](http://swagger.io/) specification.\n\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"WSO2\";s:3:\"url\";s:37:\"http://wso2.com/products/api-manager/\";s:5:\"email\";s:21:\"architecture@wso2.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}}"
host: apis.wso2.com
basePath: /api/am/store/v0.14
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":30:{s:7:\"APIList\";O:8:\"stdClass\":2:{s:5:\"title\";s:8:\"API
  List\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:25:\"Number
  of APIs returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:29:\"/apis?limit=1&offset=2&query=\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:29:\"/apis?limit=1&offset=0&query=\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/APIInfo\";}}s:10:\"pagination\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"offset\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:12;}s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:25;}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1290;}}}}}s:7:\"APIInfo\";O:8:\"stdClass\":2:{s:5:\"title\";s:39:\"API
  Info object with basic API details.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorAPI\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:47:\"A
  calculator API that supports basic operations\";}s:7:\"context\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorAPI\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"1.0.0\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"If
  the provider value is not given, the user invoking the API will be used as the provider.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"PUBLISHED\";}s:12:\"thumbnailUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:52:\"/apis/01234567-0123-0123-0123-012345678901/thumbnail\";}s:6:\"scopes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ScopeInfo\";}}}}s:3:\"API\";O:8:\"stdClass\":3:{s:5:\"title\";s:10:\"API
  object\";s:8:\"required\";a:6:{i:0;s:4:\"name\";i:1;s:7:\"context\";i:2;s:7:\"version\";i:3;s:8:\"provider\";i:4;s:6:\"status\";i:5;s:13:\"apiDefinition\";}s:10:\"properties\";O:8:\"stdClass\":21:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"UUID
  of the api registry artifact\n\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Name
  of the API\";s:7:\"example\";s:13:\"CalculatorAPI\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"A
  brief description about the API\";s:7:\"example\";s:47:\"A calculator API that supports
  basic operations\";}s:7:\"context\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"A
  string that represents thecontext of the user's request\";s:7:\"example\";s:13:\"CalculatorAPI\";}s:7:\"version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  version of the API\";s:7:\"example\";s:5:\"1.0.0\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"If
  the provider value is not given user invoking the api will be used as the provider.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:13:\"apiDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Swagger
  definition of the API which contains details about URI templates and scopes\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:586:\"{\"paths\":{\"\\/substract\":{\"get\":{\"x-auth-type\":\"Application
  & Application User\",\"x-throttling-tier\":\"Unlimited\",\"parameters\":[{\"name\":\"x\",\"required\":true,\"type\":\"string\",\"in\":\"query\"},{\"name\":\"y\",\"required\":true,\"type\":\"string\",\"in\":\"query\"}],\"responses\":{\"200\":{}}}},\"\\/add\":{\"get\":{\"x-auth-type\":\"Application
  & Application User\",\"x-throttling-tier\":\"Unlimited\",\"parameters\":[{\"name\":\"x\",\"required\":true,\"type\":\"string\",\"in\":\"query\"},{\"name\":\"y\",\"required\":true,\"type\":\"string\",\"in\":\"query\"}],\"responses\":{\"200\":{}}}}},\"swagger\":\"2.0\",\"info\":{\"title\":\"CalculatorAPI\",\"version\":\"1.0.0\"}}\";}s:7:\"wsdlUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"WSDL
  URL if the API is based on a WSDL endpoint\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:50:\"http://www.webservicex.com/globalweather.asmx?wsdl\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"This
  describes in which status of the lifecycle the API is.\";s:7:\"example\";s:9:\"PUBLISHED\";}s:16:\"isDefaultVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:9:\"transport\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Supported
  transports for the API (http and/or https).\n\";s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:2:{i:0;s:4:\"http\";i:1;s:5:\"https\";}}s:19:\"authorizationHeader\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"Name
  of the Authorization header used for invoking the API. If it is not set, Authorization
  header name specified\nin tenant or system level will be used.\n\";}s:11:\"apiSecurity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Supported
  API security for the API ( mutualssl and/or oauth2)\n\";}s:4:\"tags\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:34:\"Search
  keywords related to the API\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:2:{i:0;s:9:\"substract\";i:1;s:3:\"add\";}}s:5:\"tiers\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:54:\"The
  subscription tiers selected for the particular API\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:1:{i:0;s:9:\"Unlimited\";}}s:12:\"thumbnailUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:20:\"additionalProperties\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Custom(user
  defined) properties of API\n\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";O:8:\"stdClass\":0:{}}s:12:\"endpointURLs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"environmentName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"Production
  and Sandbox\";}s:15:\"environmentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"hybrid\";}s:15:\"environmentURLs\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"http\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"HTTP
  environment URL\";s:7:\"example\";s:39:\"http://localhost:8280/phoneverify/1.0.0\";}s:5:\"https\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"HTTPS
  environment URL\";s:7:\"example\";s:40:\"https://localhost:8243/phoneverify/1.0.0\";}}}}}}s:19:\"businessInformation\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"businessOwner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"businessowner\";}s:18:\"businessOwnerEmail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"businessowner@wso2.com\";}s:14:\"technicalOwner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"technicalowner\";}s:19:\"technicalOwnerEmail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"technicalowner@wso2.com\";}}}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Labels
  of micro-gateway environments attached to the API.\n\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Label\";}}s:15:\"environmentList\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:84:\"The
  environment list configured with non empty endpoint URLs for the particular API.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:2:{i:0;s:10:\"PRODUCTION\";i:1;s:7:\"SANDBOX\";}}}}s:5:\"Label\";O:8:\"stdClass\":3:{s:5:\"title\";s:5:\"Label\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Public\";}s:10:\"accessUrls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"http://localhost:9443/\";}}}}s:15:\"ApplicationList\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Application
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:33:\"Number
  of applications returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:39:\"/applications?limit=1&offset=2&groupId=\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:39:\"/applications?limit=1&offset=0&groupId=\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationInfo\";}}}}s:11:\"Application\";O:8:\"stdClass\":3:{s:5:\"title\";s:11:\"Application\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:14:\"throttlingTier\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"applicationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorApp\";}s:10:\"subscriber\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"If
  subscriber is not given user invoking the API will be taken as the subscriber.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:14:\"throttlingTier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Unlimited\";}s:11:\"callbackUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:29:\"Sample
  calculator application\";}s:9:\"tokenType\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"OAUTH\";i:1;s:3:\"JWT\";}s:11:\"description\";s:243:\"Type
  of the access token generated for this application.\n\n**OAUTH:** A UUID based access
  token which is issued by default.\n**JWT:** A self-contained, signed JWT based access
  token. **Note:** This can be only used in Microgateway environments.\n\";s:7:\"default\";s:5:\"OAUTH\";s:7:\"example\";s:5:\"OAUTH\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"APPROVED\";s:7:\"default\";s:0:\"\";}s:7:\"groupId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:4:\"keys\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ApplicationKey\";}s:7:\"example\";a:0:{}}s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:35:\"External
  Reference ID, Billing Tier\";}}}s:15:\"ApplicationInfo\";O:8:\"stdClass\":2:{s:5:\"title\";s:54:\"Application
  info object with basic application details\";s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"applicationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorApp\";}s:10:\"subscriber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:14:\"throttlingTier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Unlimited\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:29:\"Sample
  calculator application\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"APPROVED\";}s:7:\"groupId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:35:\"External
  Reference ID, Billing Tier\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}}}s:12:\"DocumentList\";O:8:\"stdClass\":2:{s:5:\"title\";s:13:\"Document
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:30:\"Number
  of Documents returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:69:\"/apis/01234567-0123-0123-0123-012345678901/documents?limit=1&offset=2\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:69:\"/apis/01234567-0123-0123-0123-012345678901/documents?limit=1&offset=0\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Document\";}}}}s:8:\"Document\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Document\";s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:10:\"sourceType\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"documentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorDoc\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:5:\"HOWTO\";i:1;s:7:\"SAMPLES\";i:2;s:12:\"PUBLIC_FORUM\";i:3;s:13:\"SUPPORT_FORUM\";i:4;s:18:\"API_MESSAGE_FORMAT\";i:5;s:11:\"SWAGGER_DOC\";i:6;s:5:\"OTHER\";}s:7:\"example\";s:5:\"HOWTO\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:35:\"Summary
  of Calculator Documentation\";}s:10:\"sourceType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:6:\"INLINE\";i:1;s:8:\"MARKDOWN\";i:2;s:3:\"URL\";i:3;s:4:\"FILE\";}s:7:\"example\";s:6:\"INLINE\";}s:9:\"sourceUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:13:\"otherTypeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}}}s:8:\"TierList\";O:8:\"stdClass\":2:{s:5:\"title\";s:9:\"Tier
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:26:\"Number
  of Tiers returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:27:\"/tiers/api?limit=1&offset=2\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:27:\"/tiers/api?limit=1&offset=0\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Tier\";}}}}s:4:\"Tier\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"Tier\";s:8:\"required\";a:5:{i:0;s:4:\"name\";i:1;s:8:\"tierPlan\";i:2;s:12:\"requestCount\";i:3;s:8:\"unitTime\";i:4;s:16:\"stopOnQuotaReach\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Platinum\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:32:\"Allows
  50 request(s) per minute.\";}s:9:\"tierLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"api\";i:1;s:11:\"application\";}s:7:\"example\";s:3:\"api\";}s:10:\"attributes\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Custom
  attributes added to the tier policy\n\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";O:8:\"stdClass\":0:{}}s:12:\"requestCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"Maximum
  number of requests which can be sent within a provided unit time\n\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:50;}s:8:\"unitTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:60000;}s:8:\"tierPlan\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"This
  attribute declares whether this tier is available under commercial or free\n\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"FREE\";i:1;s:10:\"COMMERCIAL\";}s:7:\"example\";s:4:\"FREE\";}s:16:\"stopOnQuotaReach\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"If
  this attribute is set to false, you are capabale of sending requests\neven if the
  request count exceeded within a unit time\n\";s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:15:\"TierPermissions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TierPermissionInfo\";}}}s:16:\"SubscriptionList\";O:8:\"stdClass\":2:{s:5:\"title\";s:17:\"Subscription
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:34:\"Number
  of Subscriptions returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:83:\"/subscriptions?limit=1&offset=2&apiId=01234567-0123-0123-0123-012345678901&groupId=\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:83:\"/subscriptions?limit=1&offset=0&apiId=01234567-0123-0123-0123-012345678901&groupId=\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Subscription\";}}}}s:12:\"Subscription\";O:8:\"stdClass\":3:{s:5:\"title\";s:12:\"Subscription\";s:8:\"required\";a:3:{i:0;s:13:\"applicationId\";i:1;s:13:\"apiIdentifier\";i:2;s:4:\"tier\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"subscriptionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  UUID of the subscription\";s:7:\"example\";s:36:\"faae5fcc-cbae-40c4-bf43-89931630d313\";}s:13:\"applicationId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  UUID of the application\";s:7:\"example\";s:36:\"b3ade481-30b0-4b38-9a67-498a40873a6d\";}s:13:\"apiIdentifier\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  unique identifier of the API.\";s:7:\"example\";s:25:\"admin-PizzaShackAPI-1.0.0\";}s:4:\"tier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Unlimited\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:7:\"BLOCKED\";i:1;s:17:\"PROD_ONLY_BLOCKED\";i:2;s:9:\"UNBLOCKED\";i:3;s:7:\"ON_HOLD\";i:4;s:8:\"REJECTED\";}s:7:\"example\";s:9:\"UNBLOCKED\";}}}s:3:\"Tag\";O:8:\"stdClass\":3:{s:5:\"title\";s:3:\"Tag\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:6:\"weight\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"tag1\";}s:6:\"weight\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:5;}}}s:7:\"TagList\";O:8:\"stdClass\":2:{s:5:\"title\";s:8:\"Tag
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:25:\"Number
  of Tags returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:22:\"/tags?limit=1&offset=2\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:22:\"/tags?limit=1&offset=0\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}}}}s:5:\"Error\";O:8:\"stdClass\":3:{s:5:\"title\";s:42:\"Error
  object returned with 4XX HTTP status\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Error
  message.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"A
  detail description about the error message.\n\";}s:8:\"moreInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Preferably
  an url with more details about the error.\n\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:103:\"If
  there are more than one error list them out.\nFor example, list out validation errors
  by each field.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ErrorListItem\";}}}}s:13:\"ErrorListItem\";O:8:\"stdClass\":3:{s:5:\"title\";s:73:\"Description
  of Individual errors that may have occurred during a request.\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Description
  about Individual errors occurred\n\";}}}s:5:\"Token\";O:8:\"stdClass\":2:{s:5:\"title\";s:31:\"Token
  details for invoking APIs\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"accessToken\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Access
  token\";s:7:\"example\";s:32:\"01234567890123456789012345678901\";}s:11:\"tokenScopes\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:33:\"Valid
  scopes for the access token\";s:7:\"example\";a:1:{i:0;s:7:\"default\";}}s:12:\"validityTime\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:42:\"Maximum
  validity time for the access token\";s:7:\"example\";i:3600;}}}s:14:\"ApplicationKey\";O:8:\"stdClass\":2:{s:5:\"title\";s:23:\"Application
  key details\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"consumerKey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"The
  consumer key associated with the application and identifying the client\";s:7:\"example\";s:28:\"vYDoc9s7IgAFdkSyNDaswBX7ejoa\";}s:14:\"consumerSecret\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"The
  client secret that is used to authenticate the client with the authentication server\";s:7:\"example\";s:28:\"TIDlOFkpzB7WjufO3OJUhy1fsvAa\";}s:19:\"supportedGrantTypes\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:53:\"The
  grant types that are supported by the application\";s:7:\"example\";a:2:{i:0;s:18:\"client_credentials\";i:1;s:8:\"password\";}}s:11:\"callbackUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Callback
  URL\";s:7:\"example\";s:30:\"http://sample.com/callback/url\";}s:8:\"keyState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Describes
  the state of the key generation.\";s:7:\"example\";s:8:\"APPROVED\";}s:7:\"keyType\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Describes
  to which endpoint the key belongs\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:10:\"PRODUCTION\";i:1;s:7:\"SANDBOX\";}s:7:\"example\";s:10:\"PRODUCTION\";}s:7:\"groupId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Application
  group id (if any).\";s:7:\"example\";i:2;}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Token\";}}}s:32:\"ApplicationKeyReGenerateResponse\";O:8:\"stdClass\":2:{s:5:\"title\";s:59:\"Application
  key details after re generating consumer secret\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"consumerKey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"The
  consumer key associated with the application, used to indetify the client\";s:7:\"example\";s:28:\"vYDoc9s7IgAFdkSyNDaswBX7ejoa\";}s:14:\"consumerSecret\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"The
  client secret that is used to authenticate the client with the authentication server\";s:7:\"example\";s:28:\"TIDlOFkpzB7WjufO3OJUhy1fsvAa\";}}}s:29:\"ApplicationKeyGenerateRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:41:\"Application
  key generation request object\";s:8:\"required\";a:3:{i:0;s:7:\"keyType\";i:1;s:12:\"validityTime\";i:2;s:18:\"accessAllowDomains\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"keyType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:10:\"PRODUCTION\";i:1;s:7:\"SANDBOX\";}s:7:\"example\";s:10:\"PRODUCTION\";}s:12:\"validityTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";i:3600;}s:19:\"supportedGrantTypes\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:53:\"The
  grant types that are supported by the application\";s:7:\"example\";a:2:{i:0;s:18:\"client_credentials\";i:1;s:8:\"password\";}}s:11:\"callbackUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Callback
  URL\";s:7:\"example\";s:0:\"\";}s:18:\"accessAllowDomains\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:36:\"Allowed
  domains for the access token\";s:7:\"example\";a:1:{i:0;s:3:\"ALL\";}}s:6:\"scopes\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:35:\"Allowed
  scopes for the access token\";s:7:\"example\";a:2:{i:0;s:20:\"am_application_scope\";i:1;s:7:\"default\";}}s:8:\"clientId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Client
  ID for generating access token.\";s:7:\"example\";s:0:\"\";}s:12:\"clientSecret\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"Client
  secret for generating access token. This is given together with the client Id.\";s:7:\"example\";s:0:\"\";}}}s:31:\"ApplicationKeyReGenerateRequest\";O:8:\"stdClass\":3:{s:5:\"title\";s:44:\"Application
  key re generation request object\";s:8:\"required\";a:1:{i:0;s:11:\"consumerKey\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"consumerKey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"The
  consumer key associated with the application, used to identify the client\";s:7:\"example\";s:28:\"vYDoc9s7IgAFdkSyNDaswBX7ejoa\";}}}s:9:\"ScopeInfo\";O:8:\"stdClass\":2:{s:5:\"title\";s:40:\"API
  Scope info object with scope details\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"admin_scope\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"admin
  scope\";}s:5:\"roles\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:27:\"Allowed
  roles for the scope\";s:7:\"example\";a:2:{i:0;s:7:\"manager\";i:1;s:9:\"developer\";}}}}s:18:\"TierPermissionInfo\";O:8:\"stdClass\":2:{s:5:\"title\";s:56:\"Tier
  Permission info object with tier permission details\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"allow\";i:1;s:4:\"deny\";}}s:5:\"roles\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:25:\"roles
  for this permission\";s:7:\"example\";a:2:{i:0;s:7:\"manager\";i:1;s:9:\"developer\";}}}}s:16:\"ApplicationScope\";O:8:\"stdClass\":2:{s:5:\"title\";s:17:\"Scope
  of the APIs\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"key\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Key
  of scope\";s:7:\"example\";s:13:\"apim:fileread\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Name
  of the scope\";s:7:\"example\";s:14:\"apim file read\";}s:5:\"roles\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Roles
  scope is bounded to\";s:7:\"example\";s:12:\"admin, role1\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Description
  of the scope\";}}}s:9:\"ScopeList\";O:8:\"stdClass\":2:{s:5:\"title\";s:10:\"Scope
  list\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ApplicationScope\";}}}}s:16:\"SearchResultList\";O:8:\"stdClass\":2:{s:5:\"title\";s:18:\"Search
  Result List\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:28:\"Number
  of results returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:30:\"/apis?limit=1&offset=2&search=\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:30:\"/apis?limit=1&offset=0&search=\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SearchResult\";}}s:10:\"pagination\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"offset\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:12;}s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:25;}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1290;}}}}}s:12:\"SearchResult\";O:8:\"stdClass\":2:{s:5:\"title\";s:13:\"Search
  Result\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"TestAPI\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"DOC\";i:1;s:3:\"API\";}s:7:\"example\";s:3:\"API\";}}}s:15:\"APISearchResult\";O:8:\"stdClass\":2:{s:5:\"title\";s:10:\"API
  Result\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SearchResult\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"A
  brief description about the API\";s:7:\"example\";s:47:\"A calculator API that supports
  basic operations\";}s:7:\"context\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"A
  string that represents the context of the user's request\";s:7:\"example\";s:13:\"CalculatorAPI\";}s:7:\"version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  version of the API\";s:7:\"example\";s:5:\"1.0.0\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"If
  the provider value is not given, the user invoking the API will be used as the provider.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"This
  describes in which status of the lifecycle the API is\";s:7:\"example\";s:7:\"CREATED\";}s:12:\"thumbnailUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:52:\"/apis/01234567-0123-0123-0123-012345678901/thumbnail\";}}}}}s:20:\"DocumentSearchResult\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Document
  Result\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SearchResult\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"docType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:5:\"HOWTO\";i:1;s:7:\"SAMPLES\";i:2;s:12:\"PUBLIC_FORUM\";i:3;s:13:\"SUPPORT_FORUM\";i:4;s:18:\"API_MESSAGE_FORMAT\";i:5;s:11:\"SWAGGER_DOC\";i:6;s:5:\"OTHER\";}s:7:\"example\";s:5:\"HOWTO\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:35:\"Summary
  of Calculator Documentation\";}s:10:\"sourceType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"INLINE\";i:1;s:3:\"URL\";i:2;s:4:\"FILE\";}s:7:\"example\";s:6:\"INLINE\";}s:9:\"sourceUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:13:\"otherTypeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:10:\"OWNER_ONLY\";i:1;s:7:\"PRIVATE\";i:2;s:9:\"API_LEVEL\";}s:7:\"example\";s:9:\"API_LEVEL\";}s:7:\"apiName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  name of the associated API\";s:7:\"example\";s:7:\"TestAPI\";}s:10:\"apiVersion\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  version of the associated API\";s:7:\"example\";s:5:\"1.0.0\";}s:11:\"apiProvider\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}}}}}}"
...
