---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:7:\"version\";s:6:\"0.11.0\";s:5:\"title\";s:32:\"WSO2
  API Manager - Publisher API\";s:11:\"description\";s:351:\"This specifies a **RESTful
  API** for WSO2 **API Manager** - Publisher.\n\nPlease see [full swagger definition](https://raw.githubusercontent.com/wso2/carbon-apimgt/v6.0.4/components/apimgt/org.wso2.carbon.apimgt.rest.api.publisher/src/main/resources/publisher-api.yaml)
  of the API which is written using [swagger 2.0](http://swagger.io/) specification.\n\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"WSO2\";s:3:\"url\";s:37:\"http://wso2.com/products/api-manager/\";s:5:\"email\";s:21:\"architecture@wso2.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}}"
host: apis.wso2.com
basePath: /api/am/publisher/v0.11
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":23:{s:7:\"APIList\";O:8:\"stdClass\":2:{s:5:\"title\";s:8:\"API
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:25:\"Number
  of APIs returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:29:\"/apis?limit=1&offset=2&query=\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:29:\"/apis?limit=1&offset=0&query=\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/APIInfo\";}}}}s:7:\"APIInfo\";O:8:\"stdClass\":2:{s:5:\"title\";s:39:\"API
  Info object with basic API details.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorAPI\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:47:\"A
  calculator API that supports basic operations\";}s:7:\"context\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorAPI\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"1.0.0\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"If
  the provider value is not given, the user invoking the API will be used as the provider.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"CREATED\";}}}s:3:\"API\";O:8:\"stdClass\":3:{s:5:\"title\";s:10:\"API
  object\";s:8:\"required\";a:9:{i:0;s:4:\"name\";i:1;s:7:\"context\";i:2;s:7:\"version\";i:3;s:5:\"tiers\";i:4;s:16:\"isDefaultVersion\";i:5;s:9:\"transport\";i:6;s:14:\"endpointConfig\";i:7;s:10:\"visibility\";i:8;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":30:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"UUID
  of the api registry artifact\n\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorAPI\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:47:\"A
  calculator API that supports basic operations\";}s:7:\"context\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorAPI\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"1.0.0\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"If
  the provider value is not given user invoking the api will be used as the provider.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:13:\"apiDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Swagger
  definition of the API which contains details about URI templates and scopes\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:584:\"{\"paths\":{\"/substract\":{\"get\":{\"x-auth-type\":\"Application
  & Application User\",\"x-throttling-tier\":\"Unlimited\",\"parameters\":[{\"name\":\"x\",\"required\":true,\"type\":\"string\",\"in\":\"query\"},{\"name\":\"y\",\"required\":true,\"type\":\"string\",\"in\":\"query\"}],\"responses\":{\"200\":{}}}},\"/add\":{\"get\":{\"x-auth-type\":\"Application
  & Application User\",\"x-throttling-tier\":\"Unlimited\",\"parameters\":[{\"name\":\"x\",\"required\":true,\"type\":\"string\",\"in\":\"query\"},{\"name\":\"y\",\"required\":true,\"type\":\"string\",\"in\":\"query\"}],\"responses\":{\"200\":{}}}}},\"swagger\":\"2.0\",\"info\":{\"title\":\"CalculatorAPI\",\"version\":\"1.0.0\"}}\";}s:7:\"wsdlUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"WSDL
  URL if the API is based on a WSDL endpoint\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:50:\"http://www.webservicex.com/globalweather.asmx?wsdl\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"CREATED\";}s:15:\"responseCaching\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Disabled\";}s:12:\"cacheTimeout\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:300;}s:23:\"destinationStatsEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Disabled\";}s:16:\"isDefaultVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:4:\"type\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"HTTP\";i:1;s:2:\"WS\";}s:7:\"example\";s:4:\"HTTP\";s:7:\"default\";s:4:\"HTTP\";}s:9:\"transport\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Supported
  transports for the API (http and/or https).\n\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:2:{i:0;s:4:\"http\";i:1;s:5:\"https\";}}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:2:{i:0;s:9:\"substract\";i:1;s:3:\"add\";}}s:5:\"tiers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:1:{i:0;s:9:\"Unlimited\";}}s:6:\"maxTps\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"production\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:1000;}s:7:\"sandbox\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:1000;}}}s:12:\"thumbnailUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:52:\"/apis/01234567-0123-0123-0123-012345678901/thumbnail\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:6:\"PUBLIC\";i:1;s:7:\"PRIVATE\";i:2;s:10:\"RESTRICTED\";i:3;s:10:\"CONTROLLED\";}s:7:\"example\";s:6:\"PUBLIC\";}s:12:\"visibleRoles\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:0:{}}s:14:\"visibleTenants\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:0:{}}s:14:\"endpointConfig\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:156:\"{\"production_endpoints\":{\"url\":\"https://127.0.0.1:9443/am/sample/calculator/v1/api\",\"config\":null},\"implementation_status\":\"managed\",\"endpoint_type\":\"http\"}\";}s:16:\"endpointSecurity\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"basic\";s:4:\"enum\";a:2:{i:0;s:5:\"basic\";i:1;s:6:\"digest\";}}s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"password\";}}}s:19:\"gatewayEnvironments\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Comma
  separated list of gateway environments.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"Production
  and Sandbox\";}s:9:\"sequences\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Sequence\";}s:7:\"example\";a:0:{}}s:24:\"subscriptionAvailability\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:14:\"current_tenant\";i:1;s:11:\"all_tenants\";i:2;s:16:\"specific_tenants\";}s:7:\"example\";s:14:\"current_tenant\";}s:28:\"subscriptionAvailableTenants\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:0:{}}s:19:\"businessInformation\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"businessOwner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"businessowner\";}s:18:\"businessOwnerEmail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"businessowner@wso2.com\";}s:14:\"technicalOwner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"technicalowner\";}s:19:\"technicalOwnerEmail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"technicalowner@wso2.com\";}}}s:17:\"corsConfiguration\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"CORS
  configuration for the API\n\";s:10:\"properties\";O:8:\"stdClass\":5:{s:24:\"corsConfigurationEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:25:\"accessControlAllowOrigins\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:29:\"accessControlAllowCredentials\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:25:\"accessControlAllowHeaders\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:25:\"accessControlAllowMethods\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:11:\"Application\";O:8:\"stdClass\":3:{s:5:\"title\";s:11:\"Application\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:14:\"throttlingTier\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"applicationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorApp\";}s:10:\"subscriber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:14:\"throttlingTier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Unlimited\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:29:\"Sample
  calculator application\";}s:7:\"groupId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}}}s:12:\"DocumentList\";O:8:\"stdClass\":2:{s:5:\"title\";s:13:\"Document
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:30:\"Number
  of Documents returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:69:\"/apis/01234567-0123-0123-0123-012345678901/documents?limit=1&offset=2\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:69:\"/apis/01234567-0123-0123-0123-012345678901/documents?limit=1&offset=0\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Document\";}}}}s:8:\"Document\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Document\";s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:10:\"sourceType\";i:3;s:10:\"visibility\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"documentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorDoc\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:5:\"HOWTO\";i:1;s:7:\"SAMPLES\";i:2;s:12:\"PUBLIC_FORUM\";i:3;s:13:\"SUPPORT_FORUM\";i:4;s:18:\"API_MESSAGE_FORMAT\";i:5;s:11:\"SWAGGER_DOC\";i:6;s:5:\"OTHER\";}s:7:\"example\";s:5:\"HOWTO\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:35:\"Summary
  of Calculator Documentation\";}s:10:\"sourceType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"INLINE\";i:1;s:3:\"URL\";i:2;s:4:\"FILE\";}s:7:\"example\";s:6:\"INLINE\";}s:9:\"sourceUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:13:\"otherTypeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:10:\"OWNER_ONLY\";i:1;s:7:\"PRIVATE\";i:2;s:9:\"API_LEVEL\";}s:7:\"example\";s:9:\"API_LEVEL\";}}}s:13:\"mediationList\";O:8:\"stdClass\":2:{s:5:\"title\";s:14:\"Mediation
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:40:\"Number
  of mediation sequences returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of sequences qualified.\nEmpty if no more sequences are to be
  returned.\n\";s:7:\"example\";s:0:\"\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of sequences qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:0:\"\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/MediationInfo\";}}}}s:13:\"MediationInfo\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"MediationInfo\";s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"json_fault.xml\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:2:\"in\";i:1;s:3:\"out\";i:2;s:5:\"fault\";}s:7:\"example\";s:2:\"in\";}}}s:9:\"Mediation\";O:8:\"stdClass\":3:{s:5:\"title\";s:9:\"Mediation\";s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:6:\"config\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"json_fault.xml\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:2:\"in\";i:1;s:3:\"out\";i:2;s:5:\"fault\";}s:7:\"example\";s:2:\"in\";}s:6:\"config\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:168:\"<sequence
  xmlns=\"http://ws.apache.org/ns/synapse\" name=\"log_in_message\"> <log level=\"full\">
  <property name=\"IN_MESSAGE\" value=\"IN_MESSAGE_21133232\"/> </log> </sequence>\";}}}s:4:\"Wsdl\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"Wsdl\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:28:\"admin--calculatorAPI2.0.wsdl\";}s:14:\"wsdlDefinition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1380:\"<definitions
  name=\"HelloService\" targetNamespace=\"http://www.examples.com/wsdl/HelloService.wsdl\"
  xmlns=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
  xmlns:tns=\"http://www.examples.com/wsdl/HelloService.wsdl\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\n<message
  name=\"SayHelloRequest\"> <part name=\"firstName\" type=\"xsd:string\"/> </message>\n<message
  name=\"SayHelloResponse\"> <part name=\"greeting\" type=\"xsd:string\"/> </message>\n<portType
  name=\"Hello_PortType\"> <operation name=\"sayHello\"> <input message=\"tns:SayHelloRequest\"/>
  <output message=\"tns:SayHelloResponse\"/> </operation> </portType>\n<binding name=\"Hello_Binding\"
  type=\"tns:Hello_PortType\"> <soap:binding style=\"rpc\" transport=\"http://schemas.xmlsoap.org/soap/http\"/>
  <operation name=\"sayHello\"> <soap:operation soapAction=\"sayHello\"/> <input>
  <soap:body encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\" namespace=\"urn:examples:helloservice\"
  use=\"encoded\"/> </input>\n<output> <soap:body encodingStyle=\"http://schemas.xmlsoap.org/soap/encoding/\"
  namespace=\"urn:examples:helloservice\" use=\"encoded\"/> </output> </operation>
  </binding>\n<service name=\"Hello_Service\"> <documentation>WSDL File for HelloService</documentation>
  <port binding=\"tns:Hello_Binding\" name=\"Hello_Port\"> <soap:address location=\"http://www.examples.com/SayHello/\"
  /> </port> </service> </definitions>\";}}}s:8:\"TierList\";O:8:\"stdClass\":2:{s:5:\"title\";s:9:\"Tier
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:26:\"Number
  of Tiers returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:27:\"/tiers/api?limit=1&offset=2\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:27:\"/tiers/api?limit=1&offset=0\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Tier\";}}}}s:4:\"Tier\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"Tier\";s:8:\"required\";a:5:{i:0;s:4:\"name\";i:1;s:8:\"tierPlan\";i:2;s:12:\"requestCount\";i:3;s:8:\"unitTime\";i:4;s:16:\"stopOnQuotaReach\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Platinum\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:32:\"Allows
  50 request(s) per minute.\";}s:9:\"tierLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:3:\"api\";i:1;s:11:\"application\";i:2;s:8:\"resource\";}s:7:\"example\";s:3:\"api\";}s:10:\"attributes\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Custom
  attributes added to the tier policy\n\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";O:8:\"stdClass\":0:{}}s:12:\"requestCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"Maximum
  number of requests which can be sent within a provided unit time\n\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:50;}s:8:\"unitTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:60000;}s:8:\"timeUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"min\";}s:8:\"tierPlan\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"This
  attribute declares whether this tier is available under commercial or free\n\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"FREE\";i:1;s:10:\"COMMERCIAL\";}s:7:\"example\";s:4:\"FREE\";}s:16:\"stopOnQuotaReach\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"By
  making this attribute to false, you are capabale of sending requests\neven if the
  request count exceeded within a unit time\n\";s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}}}s:14:\"TierPermission\";O:8:\"stdClass\":3:{s:5:\"title\";s:14:\"tierPermission\";s:8:\"required\";a:2:{i:0;s:14:\"permissionType\";i:1;s:5:\"roles\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"permissionType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"allow\";i:1;s:4:\"deny\";}s:7:\"example\";s:4:\"deny\";}s:5:\"roles\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:1:{i:0;s:17:\"Internal/everyone\";}}}}s:16:\"SubscriptionList\";O:8:\"stdClass\":2:{s:5:\"title\";s:17:\"Subscription
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:34:\"Number
  of Subscriptions returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:83:\"/subscriptions?limit=1&offset=2&apiId=01234567-0123-0123-0123-012345678901&groupId=\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:83:\"/subscriptions?limit=1&offset=0&apiId=01234567-0123-0123-0123-012345678901&groupId=\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Subscription\";}}}}s:12:\"Subscription\";O:8:\"stdClass\":3:{s:5:\"title\";s:12:\"Subscription\";s:8:\"required\";a:3:{i:0;s:13:\"applicationId\";i:1;s:13:\"apiIdentifier\";i:2;s:4:\"tier\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"subscriptionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:13:\"applicationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:13:\"apiIdentifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"tier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Unlimited\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:7:\"BLOCKED\";i:1;s:17:\"PROD_ONLY_BLOCKED\";i:2;s:9:\"UNBLOCKED\";i:3;s:7:\"ON_HOLD\";i:4;s:8:\"REJECTED\";}s:7:\"example\";s:9:\"UNBLOCKED\";}}}s:8:\"Sequence\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Sequence\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"log_in_message\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"in\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"69ea3fa6-55c6-472e-896d-e449dd34a824\";}s:6:\"shared\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}}}s:5:\"Error\";O:8:\"stdClass\":3:{s:5:\"title\";s:42:\"Error
  object returned with 4XX HTTP status\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Error
  message.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"A
  detail description about the error message.\n\";}s:8:\"moreInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Preferably
  an url with more details about the error.\n\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:103:\"If
  there are more than one error list them out.\nFor example, list out validation errors
  by each field.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ErrorListItem\";}}}}s:13:\"ErrorListItem\";O:8:\"stdClass\":3:{s:5:\"title\";s:73:\"Description
  of individual errors that may have occurred during a request.\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Description
  about individual errors occurred\n\";}}}s:11:\"Environment\";O:8:\"stdClass\":3:{s:5:\"title\";s:11:\"Environment\";s:8:\"required\";a:5:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:9:\"serverUrl\";i:3;s:9:\"endpoints\";i:4;s:16:\"showInApiConsole\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"Production
  and Sandbox\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"hybrid\";}s:9:\"serverUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:33:\"https://localhost:9443//services/\";}s:16:\"showInApiConsole\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:9:\"endpoints\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EnvironmentEndpoints\";}}}s:15:\"EnvironmentList\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Environment
  List\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:33:\"Number
  of Environments returned.\n\";s:7:\"example\";i:1;}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Environment\";}}}}s:20:\"EnvironmentEndpoints\";O:8:\"stdClass\":2:{s:5:\"title\";s:21:\"Environment
  Endpoints\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"http\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"HTTP
  environment URL\";s:7:\"example\";s:21:\"http://localhost:8280\";}s:5:\"https\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"HTTPS
  environment URL\";s:7:\"example\";s:22:\"https://localhost:8244\";}}}s:8:\"FileInfo\";O:8:\"stdClass\":2:{s:5:\"title\";s:36:\"File
  Information including meta data\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"relativePath\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"relative
  location of the file (excluding the base context and host of the Publisher API)\";s:7:\"example\";s:51:\"apis/01234567-0123-0123-0123-012345678901/thumbnail\";}s:9:\"mediaType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"media-type
  of the file\";s:7:\"example\";s:10:\"image/jpeg\";}}}s:8:\"Workflow\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"workflow\";s:8:\"required\";a:1:{i:0;s:6:\"status\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"This
  attribute declares whether this workflow task is approved or rejected.\n\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:8:\"APPROVED\";i:1;s:8:\"REJECTED\";}s:7:\"example\";s:8:\"APPROVED\";}s:10:\"attributes\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Custom
  attributes to complete the workflow task\n\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";O:8:\"stdClass\":0:{}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"Approve
  workflow request.\";}}}}"
...
