---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:7:\"version\";s:4:\"v1.0\";s:5:\"title\";s:32:\"WSO2
  API Manager - Publisher API\";s:11:\"description\";s:351:\"This specifies a **RESTful
  API** for WSO2 **API Manager** - Publisher.\n\nPlease see [full swagger definition](https://raw.githubusercontent.com/wso2/carbon-apimgt/v6.0.4/components/apimgt/org.wso2.carbon.apimgt.rest.api.publisher/src/main/resources/publisher-api.yaml)
  of the API which is written using [swagger 2.0](http://swagger.io/) specification.\n\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"WSO2\";s:3:\"url\";s:37:\"http://wso2.com/products/api-manager/\";s:5:\"email\";s:21:\"architecture@wso2.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}}"
host: apis.wso2.com
basePath: /api/am/publisher/v1.0
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":21:{s:7:\"APIList\";O:8:\"stdClass\":2:{s:5:\"title\";s:8:\"API
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:25:\"Number
  of APIs returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:29:\"/apis?limit=1&offset=2&query=\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:29:\"/apis?limit=1&offset=0&query=\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/APIInfo\";}}}}s:7:\"APIInfo\";O:8:\"stdClass\":2:{s:5:\"title\";s:39:\"API
  Info object with basic API details.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorAPI\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:47:\"A
  calculator API that supports basic operations\";}s:7:\"context\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorAPI\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"1.0.0\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"If
  the provider value is not given, the user invoking the API will be used as the provider.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:15:\"lifeCycleStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"CREATED\";}s:14:\"workflowStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"APPROVED\";}s:14:\"securityScheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:3:\"API\";O:8:\"stdClass\":3:{s:5:\"title\";s:10:\"API
  object\";s:8:\"required\";a:7:{i:0;s:4:\"name\";i:1;s:7:\"context\";i:2;s:7:\"version\";i:3;s:8:\"policies\";i:4;s:16:\"isDefaultVersion\";i:5;s:9:\"transport\";i:6;s:10:\"visibility\";}s:10:\"properties\";O:8:\"stdClass\":32:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"UUID
  of the api registry artifact\n\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorAPI\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:47:\"A
  calculator API that supports basic operations\";}s:7:\"context\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorAPI\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"1.0.0\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"If
  the provider value is not given user invoking the api will be used as the provider.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:7:\"wsdlUri\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"WSDL
  URL if the API is based on a WSDL endpoint\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:50:\"http://www.webservicex.com/globalweather.asmx?wsdl\";}s:15:\"lifeCycleStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"CREATED\";}s:14:\"workflowStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"APPROVED\";}s:11:\"createdTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2017-02-20T13:57:16.229Z\";}s:9:\"apiPolicy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"UNLIMITED\";}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2017-02-20T13:57:16.229Z\";}s:15:\"responseCaching\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Disabled\";}s:12:\"cacheTimeout\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:300;}s:23:\"destinationStatsEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Disabled\";}s:16:\"isDefaultVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:9:\"transport\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Supported
  transports for the API (http and/or https).\n\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:2:{i:0;s:4:\"http\";i:1;s:5:\"https\";}}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:2:{i:0;s:9:\"substract\";i:1;s:3:\"add\";}}s:6:\"labels\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:2:{i:0;s:6:\"public\";i:1;s:7:\"private\";}}s:8:\"policies\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:1:{i:0;s:9:\"Unlimited\";}}s:10:\"visibility\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"PUBLIC\";i:1;s:7:\"PRIVATE\";i:2;s:10:\"RESTRICTED\";}s:7:\"example\";s:6:\"PUBLIC\";}s:12:\"visibleRoles\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:0:{}}s:10:\"permission\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:107:\"[{\"groupId\"
  : 1000, \"permission\" : [\"READ\",\"UPDATE\"]},{\"groupId\" : 1001, \"permission\"
  : [\"READ\",\"UPDATE\"]}]\";}s:21:\"userPermissionsForApi\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:38:\"LoggedIn
  user permissions for the API\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:2:{i:0;s:4:\"READ\";i:1;s:6:\"UPDATE\";}}s:14:\"visibleTenants\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:0:{}}s:19:\"gatewayEnvironments\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Comma
  separated list of gateway environments.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"Production
  and Sandbox\";}s:9:\"sequences\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Sequence\";}s:7:\"example\";a:0:{}}s:19:\"businessInformation\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"businessOwner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"businessowner\";}s:18:\"businessOwnerEmail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"businessowner@wso2.com\";}s:14:\"technicalOwner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"technicalowner\";}s:19:\"technicalOwnerEmail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:23:\"technicalowner@wso2.com\";}}}s:17:\"corsConfiguration\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"CORS
  configuration for the API\n\";s:10:\"properties\";O:8:\"stdClass\":5:{s:24:\"corsConfigurationEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:25:\"accessControlAllowOrigins\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:29:\"accessControlAllowCredentials\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:25:\"accessControlAllowHeaders\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:25:\"accessControlAllowMethods\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:8:\"endpoint\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:6:\"inline\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/EndPoint\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"Production\";}}}}s:14:\"securityScheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"operations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"postapiresource\";}s:11:\"uritemplate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"/*\";}s:8:\"httpVerb\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"GET\";}s:8:\"authType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"Any\";}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Unlimited\";}s:8:\"endpoint\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:6:\"inline\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/EndPoint\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"Production\";}}}}}}}}}s:11:\"Application\";O:8:\"stdClass\":3:{s:5:\"title\";s:11:\"Application\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:14:\"throttlingTier\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"applicationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorApp\";}s:10:\"subscriber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:14:\"throttlingTier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Unlimited\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:29:\"Sample
  calculator application\";}}}s:12:\"DocumentList\";O:8:\"stdClass\":2:{s:5:\"title\";s:13:\"Document
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:30:\"Number
  of Documents returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:69:\"/apis/01234567-0123-0123-0123-012345678901/documents?limit=1&offset=2\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:69:\"/apis/01234567-0123-0123-0123-012345678901/documents?limit=1&offset=0\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Document\";}}}}s:8:\"Document\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Document\";s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:10:\"sourceType\";i:3;s:10:\"visibility\";}s:10:\"properties\";O:8:\"stdClass\":15:{s:10:\"documentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorDoc\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:5:\"HOWTO\";i:1;s:7:\"SAMPLES\";i:2;s:12:\"PUBLIC_FORUM\";i:3;s:13:\"SUPPORT_FORUM\";i:4;s:18:\"API_MESSAGE_FORMAT\";i:5;s:11:\"SWAGGER_DOC\";i:6;s:5:\"OTHER\";}s:7:\"example\";s:5:\"HOWTO\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:35:\"Summary
  of Calculator Documentation\";}s:10:\"sourceType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"INLINE\";i:1;s:3:\"URL\";i:2;s:4:\"FILE\";}s:7:\"example\";s:6:\"INLINE\";}s:9:\"sourceUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:8:\"fileName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:13:\"inlineContent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:46:\"This
  is doc content. This can have many lines.\";}s:13:\"otherTypeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:10:\"permission\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:107:\"[{\"groupId\"
  : 1000, \"permission\" : [\"READ\",\"UPDATE\"]},{\"groupId\" : 1001, \"permission\"
  : [\"READ\",\"UPDATE\"]}]\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:10:\"OWNER_ONLY\";i:1;s:7:\"PRIVATE\";i:2;s:9:\"API_LEVEL\";}s:7:\"example\";s:9:\"API_LEVEL\";}s:11:\"createdTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2017-02-20T13:57:16.229Z\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"lastUpdatedTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"2017-02-20T13:57:16.229Z\";}s:13:\"lastUpdatedBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"TierList\";O:8:\"stdClass\":2:{s:5:\"title\";s:9:\"Tier
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:26:\"Number
  of Tiers returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:30:\"/policies/api?limit=1&offset=2\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:30:\"/policies/api?limit=1&offset=0\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Tier\";}}}}s:4:\"Tier\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"Tier\";s:8:\"required\";a:5:{i:0;s:4:\"name\";i:1;s:8:\"tierPlan\";i:2;s:12:\"requestCount\";i:3;s:8:\"unitTime\";i:4;s:16:\"stopOnQuotaReach\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Platinum\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:32:\"Allows
  50 request(s) per minute.\";}s:9:\"tierLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:3:\"api\";i:1;s:11:\"application\";i:2;s:8:\"resource\";}s:7:\"example\";s:3:\"api\";}s:10:\"attributes\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Custom
  attributes added to the policy policy\n\";s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";O:8:\"stdClass\":0:{}}s:12:\"requestCount\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"Maximum
  number of requests which can be sent within a provided unit time\n\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:50;}s:8:\"unitTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:60000;}s:8:\"timeUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"min\";}s:8:\"tierPlan\";O:8:\"stdClass\":4:{s:11:\"description\";s:82:\"This
  attribute declares whether this policy is available under commercial or free\n\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"FREE\";i:1;s:10:\"COMMERCIAL\";}s:7:\"example\";s:4:\"FREE\";}s:16:\"stopOnQuotaReach\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"By
  making this attribute to false, you are capabale of sending requests\neven if the
  request count exceeded within a unit time\n\";s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}}}s:16:\"SubscriptionList\";O:8:\"stdClass\":2:{s:5:\"title\";s:17:\"Subscription
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:34:\"Number
  of Subscriptions returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:74:\"/subscriptions?limit=1&offset=2&apiId=01234567-0123-0123-0123-012345678901\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:74:\"/subscriptions?limit=1&offset=0&apiId=01234567-0123-0123-0123-012345678901\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Subscription\";}}}}s:12:\"Subscription\";O:8:\"stdClass\":3:{s:5:\"title\";s:12:\"Subscription\";s:8:\"required\";a:4:{i:0;s:14:\"subscriptionId\";i:1;s:15:\"applicationInfo\";i:2;s:6:\"policy\";i:3;s:18:\"subscriptionStatus\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"subscriptionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:15:\"applicationInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Application\";}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Unlimited\";}s:18:\"subscriptionStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:7:\"BLOCKED\";i:1;s:17:\"PROD_ONLY_BLOCKED\";i:2;s:20:\"SANDBOX_ONLY_BLOCKED\";i:3;s:6:\"ACTIVE\";i:4;s:7:\"ON_HOLD\";i:5;s:8:\"REJECTED\";}s:7:\"example\";s:7:\"BLOCKED\";}}}s:8:\"Sequence\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Sequence\";s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"log_in_message\";}s:6:\"config\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"in\";}}}s:5:\"Error\";O:8:\"stdClass\":3:{s:5:\"title\";s:51:\"Error
  object returned with 4XX HTTP lifeCycleStatus\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Error
  message.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"A
  detail description about the error message.\n\";}s:8:\"moreInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Preferably
  an url with more details about the error.\n\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:103:\"If
  there are more than one error list them out.\nFor example, list out validation errors
  by each field.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ErrorListItem\";}}}}s:13:\"ErrorListItem\";O:8:\"stdClass\":3:{s:5:\"title\";s:73:\"Description
  of individual errors that may have occurred during a request.\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Description
  about individual errors occurred\n\";}}}s:8:\"FileInfo\";O:8:\"stdClass\":2:{s:5:\"title\";s:36:\"File
  Information including meta data\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"relativePath\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"relative
  location of the file (excluding the base context and host of the Publisher API)\";s:7:\"example\";s:51:\"apis/01234567-0123-0123-0123-012345678901/thumbnail\";}s:9:\"mediaType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"media-type
  of the file\";s:7:\"example\";s:10:\"image/jpeg\";}}}s:8:\"EndPoint\";O:8:\"stdClass\":2:{s:5:\"title\";s:9:\"Endpoints\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"UUID
  of the Endpoint entry\n\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"name
  of the Endpoint entry\n\";s:7:\"example\";s:10:\"Endpoint 1\";}s:14:\"endpointConfig\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Endpoint
  Configuration\";s:7:\"example\";s:43:\"{url: http://localhost:8280, timeout: 1000}\";}s:16:\"endpointSecurity\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"basic\";}s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"basic\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"basic\";}}}s:6:\"maxTps\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:16:\"Endpoint
  max tps\";s:7:\"example\";i:1000;}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"http\";}}}s:12:\"EndPointList\";O:8:\"stdClass\":2:{s:5:\"title\";s:13:\"EndPoint
  List\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:30:\"Number
  of EndPoints returned.\n\";s:7:\"example\";i:1;}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/EndPoint\";}}}}s:5:\"Label\";O:8:\"stdClass\":3:{s:5:\"title\";s:5:\"Label\";s:8:\"required\";a:3:{i:0;s:7:\"labelId\";i:1;s:4:\"name\";i:2;s:11:\"access_urls\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"labelId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"access_urls\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:9:\"LabelList\";O:8:\"stdClass\":2:{s:5:\"title\";s:10:\"Label
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:27:\"Number
  of Labels returned.\n\";}s:4:\"next\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Label\";}}}}s:14:\"LifecycleState\";O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Lifecycle
  State\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"lcName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"API
  Lifecycle\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Created\";}s:10:\"lifecyelId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:17:\"checkItemBeanList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"permissionBeans\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"roles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"forTarget\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:44:\"Deprecate
  old versions after publish the API\";}s:15:\"validationBeans\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"classObject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"targetName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Published\";}s:13:\"customMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:21:\"Validation
  successful\";}}}}s:7:\"targets\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}}}}s:13:\"inputBeanList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"Gateways
  to be published\";}s:10:\"isRequired\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"placeHolder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"tooltip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"regex\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"forTarget\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Created\";}}}}s:18:\"customCodeBeanList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"classObject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"targetName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Published\";}s:13:\"customMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:21:\"Validation
  successful\";}}}}s:27:\"availableTransitionBeanList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"event\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Promote\";}s:11:\"targetState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Created\";}}}}s:18:\"permissionBeanList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"roles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"forTarget\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:16:\"WorkflowResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:17:\"workflow
  Response\";s:8:\"required\";a:1:{i:0;s:14:\"workflowStatus\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"workflowStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:76:\"This
  attribute declares whether this workflow task is approved or rejected.\n\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"CREATED\";i:1;s:8:\"APPROVED\";i:2;s:8:\"REJECTED\";i:3;s:10:\"REGISTERED\";}s:7:\"example\";s:8:\"APPROVED\";}s:11:\"jsonPayload\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Attributes
  that returned after the workflow execution\n\";s:4:\"type\";s:6:\"string\";}}}s:31:\"APIDefinitionValidationResponse\";O:8:\"stdClass\":3:{s:5:\"title\";s:34:\"API
  definition validation Response\";s:8:\"required\";a:1:{i:0;s:7:\"isValid\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"isValid\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"This
  attribute declares whether this definition is valid or not.\n\";s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:14:\"definitionType\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"This
  attribute declares whether this definition is a swagger or WSDL\n\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"SWAGGER\";i:1;s:4:\"WSDL\";}s:7:\"example\";s:4:\"WSDL\";}s:8:\"wsdlInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Summary
  of the WSDL including the basic information\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"WSDL
  version\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"1.1\";}s:9:\"endpoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"A
  list of endpoints the service exposes\n\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Name
  of the endpoint\";s:7:\"example\";s:14:\"StockQuoteSoap\";}s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Endpoint
  URL\";s:7:\"example\";s:42:\"http://www.webservicex.net/stockquote.asmx\";}}}}s:11:\"bindingInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"WSDL
  binding related information\n\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"hasHttpBinding\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Indicates
  whether the WSDL contains HTTP Bindings\";s:4:\"type\";s:7:\"boolean\";}s:14:\"hasSoapBinding\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Indicates
  whether the WSDL contains SOAP Bindings\";s:4:\"type\";s:7:\"boolean\";}}}}}}}}"
...
