---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:7:\"version\";s:5:\"1.1.0\";s:5:\"title\";s:32:\"WSO2
  APP Manager - Publisher API\";s:11:\"description\";s:136:\"This document specifies
  a **RESTful API** for **WSO2 APP Manager - Publisher**.\n\n\n\n\nIt is written with
  [swagger 2](http://swagger.io/).\n\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"WSO2\";s:3:\"url\";s:37:\"http://wso2.com/products/app-manager/\";s:5:\"email\";s:21:\"architecture@wso2.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}}"
host: apis.wso2.com
basePath: /api/appm/publisher/v1.1
paths: ~
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":33:{s:7:\"AppList\";O:8:\"stdClass\":2:{s:5:\"title\";s:8:\"App
  List\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Number
  of App returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:28:\"/app?limit=1&offset=2&query=\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:28:\"/app?limit=1&offset=0&query=\";}s:7:\"appList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/App\";}}s:14:\"appSummaryList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AppSummary\";}}}}s:10:\"AppSummary\";O:8:\"stdClass\":2:{s:5:\"title\";s:42:\"App
  summary object with basic App details.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorApp\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:47:\"A
  calculator App that supports basic operations\";}s:7:\"context\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorApp\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"1.0.0\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"If
  the provider value is not given, the user invoking the App will be used as the provider.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:14:\"lifecycleState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"CREATED\";}s:6:\"rating\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"User
  rating for the app\n\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:4;}}}s:3:\"App\";O:8:\"stdClass\":3:{s:5:\"title\";s:10:\"App
  object\";s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:7:\"version\";i:2;s:11:\"displayName\";}s:10:\"properties\";O:8:\"stdClass\":47:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"UUID
  of the app registry artifact\n\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorApp\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  App type (either Webapp/Mobile app)\";s:7:\"example\";s:16:\"webapp,mobileapp\";}s:7:\"appmeta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"path\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Application
  binary file API\n\";s:7:\"example\";s:105:\"/publisher/api/mobileapp/getfile/XURc4DnX0LEfRBm.apk,/publisher/api/mobileapp/getfile/OUGc8DnX0LEGRBm.ipa\";}s:7:\"package\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  package name of the application binary\n\";s:7:\"example\";s:19:\"home.jmstudios.calc\";}s:7:\"version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  version of the application binary\n\";s:7:\"example\";s:3:\"1.0\";}s:6:\"weburl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Web
  application urk\n\";s:7:\"example\";s:17:\"http://sample.com\";}}}s:12:\"uriTemplates\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UriTemplate\";}}s:12:\"policyGroups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PolicyGroups\";}}s:10:\"marketType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"enterprise,\";}s:13:\"recentChanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"recent
  changes\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"update details\";}s:4:\"icon\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"the
  image icon of the application\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:105:\"/publisher/api/mobileapp/getfile/TJXfaEeHsdeYSFS.jpg,/publisher/api/mobileapp/getfile/aCJ1MXUXWGGHS3t.JPG\";}s:6:\"isSite\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Either
  a webapp or site\";s:7:\"example\";s:16:\"for sites - TRUE\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:47:\"A
  calculator App that supports basic operations\";}s:7:\"context\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorApp\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"1.0.0\";}s:9:\"logoutURL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"http://logout/sample\";}s:15:\"businessOwnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";}s:14:\"visibleTenants\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:2:{i:0;s:7:\"eng.com\";i:1;s:6:\"hr.com\";}}s:6:\"claims\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:2:{i:0;s:33:\"http://wso2.org/claims/otherphone\";i:1;s:30:\"http://wso2.org/claims/address\";}}s:12:\"trackingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"AM_e82dggfde7877\";}s:11:\"skipGateway\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"true/false\";}s:30:\"serviceProviderCreationEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";s:10:\"true/false\";}s:20:\"allowAnonymousAccess\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"true/false\";}s:6:\"acsUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"http://apps.wso2.com\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"If
  the provider value is not given user invoking the api will be used as the provider.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:13:\"appDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Swagger
  definition of the App which contains details about URI templates and scopes\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:586:\"{\"paths\":{\"\\/substract\":{\"get\":{\"x-auth-type\":\"Application
  & Application User\",\"x-throttling-tier\":\"Unlimited\",\"parameters\":[{\"name\":\"x\",\"required\":true,\"type\":\"string\",\"in\":\"query\"},{\"name\":\"y\",\"required\":true,\"type\":\"string\",\"in\":\"query\"}],\"responses\":{\"200\":{}}}},\"\\/add\":{\"get\":{\"x-auth-type\":\"Application
  & Application User\",\"x-throttling-tier\":\"Unlimited\",\"parameters\":[{\"name\":\"x\",\"required\":true,\"type\":\"string\",\"in\":\"query\"},{\"name\":\"y\",\"required\":true,\"type\":\"string\",\"in\":\"query\"}],\"responses\":{\"200\":{}}}}},\"swagger\":\"2.0\",\"info\":{\"title\":\"CalculatorApp\",\"version\":\"1.0.0\"}}\";}s:16:\"isDefaultVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;}s:9:\"transport\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Supported
  transports for the App (http and/or https).\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"https\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:2:{i:0;s:9:\"substract\";i:1;s:3:\"add\";}}s:12:\"thumbnailUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:12:\"visibleRoles\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:0:{}}s:4:\"path\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"path
  of asset\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:48:\"/_system/governance/mobileapps/admin/webapp/m1/1\";}s:10:\"resourceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Resource
  ID path of the asset.\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:53:\"/_system/governance/mobileapps/admin/android/test/1.0\";}s:9:\"lifecycle\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"lifecycle
  type of the asset\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"MobileAppLifeCycle\";}s:14:\"lifecycleState\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"lifecycle
  state of the asset\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Created\";}s:6:\"rating\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"User
  rating for the app\n\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:4;}s:6:\"appUrL\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"URL
  of the asset\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:52:\"/publisher/api/mobileapp/getfile/WKzeMgMhOrGvwTy.apk\";}s:13:\"bundleversion\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Bundleversion
  of the asset\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"1.0\";}s:8:\"category\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"category
  of the asset\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Business\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"displayName
  of the asset\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"testapp1\";}s:11:\"screenshots\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Screenshots
  attached to the application\n\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:3:{i:0;s:52:\"/publisher/api/mobileapp/getfile/TJXfaEeHsdeYSFS.jpg\";i:1;s:52:\"/publisher/api/mobileapp/getfile/aCJ1MXUXWGGHS3t.JPG\";i:2;s:52:\"/publisher/api/mobileapp/getfile/FcFEWkaLroetXlq.JPG\";}}s:6:\"banner\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"/publisher/api/mobileapp/getfile/uWnObGDXigTO7pl.jpg\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:158:\"/publisher/api/mobileapp/getfile/TJXfaEeHsdeYSFS.jpg,/publisher/api/mobileapp/getfile/aCJ1MXUXWGGHS3t.JPG,/publisher/api/mobileapp/getfile/FcFEWkaLroetXlq.JPG\";}s:11:\"createdtime\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"createdtime
  of the asset\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"00000001458300149192\";}s:8:\"platform\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"platform
  of the asset\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"android\";}s:7:\"appType\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"mobile
  app type (eg: webapp/ios/android)\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"android\";}s:9:\"mediaType\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"media
  yype\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:34:\"application/vnd.wso2-mobileapp+xml\";}s:25:\"lifecycleAvailableActions\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"platform
  of the asset\n\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"[Submit for
  Review]\";}s:11:\"createdTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"asset
  created timestamp\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"00000001459919490157\";}s:16:\"customProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CustomProperty\";}}}}s:12:\"DocumentList\";O:8:\"stdClass\":2:{s:5:\"title\";s:13:\"Document
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:30:\"Number
  of Documents returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:69:\"/apis/01234567-0123-0123-0123-012345678901/documents?limit=1&offset=2\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:69:\"/apis/01234567-0123-0123-0123-012345678901/documents?limit=1&offset=0\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Document\";}}}}s:8:\"Document\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Document\";s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:10:\"sourceType\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"documentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"CalculatorDoc\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:5:\"HOWTO\";i:1;s:7:\"SAMPLES\";i:2;s:12:\"PUBLIC_FORUM\";i:3;s:13:\"SUPPORT_FORUM\";i:4;s:18:\"API_MESSAGE_FORMAT\";i:5;s:11:\"SWAGGER_DOC\";i:6;s:5:\"OTHER\";}s:7:\"example\";s:5:\"HOWTO\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:35:\"Summary
  of Calculator Documentation\";}s:10:\"sourceType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"INLINE\";i:1;s:3:\"URL\";i:2;s:4:\"FILE\";}s:7:\"example\";s:6:\"INLINE\";}s:9:\"sourceUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:8:\"fileName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"SampleDoc.pdf\";}s:13:\"otherTypeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}}}s:6:\"Binary\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"upload
  binary\";s:8:\"required\";a:1:{i:0;s:4:\"path\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:27:\"/api/getFile/DTRDOIO787.apk\";}s:7:\"package\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"sample.calc\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"1.0\";}}}s:13:\"StaticContent\";O:8:\"stdClass\":3:{s:5:\"title\";s:47:\"upload
  static content like image, documentation\";s:8:\"required\";a:1:{i:0;s:4:\"path\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:28:\"/api/getFile/IUYFGF98098.jpg\";}}}s:15:\"ResponseMessage\";O:8:\"stdClass\":3:{s:5:\"title\";s:53:\"Reponse
  message returned at successful API invocation\";s:8:\"required\";a:1:{i:0;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:33:\"API
  has been successfully invoked\";}}}s:7:\"TagList\";O:8:\"stdClass\":2:{s:5:\"title\";s:8:\"Tag
  List\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"tags\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";a:3:{i:0;s:4:\"tag1\";i:1;s:4:\"tag2\";i:2;s:4:\"tag3\";}s:11:\"description\";s:12:\"List
  of Tags\";}}}s:8:\"TierList\";O:8:\"stdClass\":2:{s:5:\"title\";s:22:\"Throttle
  Tier details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"tierList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Tier\";}}}}s:4:\"Tier\";O:8:\"stdClass\":2:{s:5:\"title\";s:22:\"Throttle
  Tier details.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"tierName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"Gold\";}s:15:\"tierDisplayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"Gold\";}s:15:\"tierDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:31:\"Gold
  tier with limit 20 request\";}s:11:\"tierSortKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";s:1:\"1\";}}}s:13:\"PolicyPartial\";O:8:\"stdClass\":3:{s:5:\"title\";s:14:\"Policy
  Partial\";s:8:\"required\";a:1:{i:0;s:13:\"policyPartial\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"policyPartialId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:17:\"ID
  of the policy\n\";s:7:\"example\";s:1:\"1\";}s:17:\"policyPartialName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of the policy\n\";s:7:\"example\";s:7:\"policy1\";}s:13:\"policyPartial\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"policy
  content\n\";s:7:\"example\";s:27:\"xacml policy implementation\";}s:15:\"isSharedPartial\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:21:\"whether
  shared or not\";s:7:\"example\";s:10:\"true/false\";}s:17:\"policyPartialDesc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"description
  about the policy\";}}}s:17:\"PolicyPartialList\";O:8:\"stdClass\":2:{s:5:\"title\";s:19:\"Policy
  Partial List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Number
  of App returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of resources qualified.\nEmpty if no more resources are to be
  returned.\n\";s:7:\"example\";s:38:\"/xacmlpolicies?limit=1&offset=2&query=\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of resources qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:38:\"/xacmlpolicies?limit=1&offset=0&query=\";}s:10:\"policyList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PolicyPartialInfo\";}}}}s:17:\"PolicyPartialInfo\";O:8:\"stdClass\":2:{s:5:\"title\";s:14:\"Policy
  Partial\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"policyPartialId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:17:\"ID
  of the policy\n\";s:7:\"example\";s:1:\"1\";}s:17:\"policyPartialName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"name
  of the policy\n\";s:7:\"example\";s:7:\"policy1\";}}}s:10:\"UserIdList\";O:8:\"stdClass\":2:{s:5:\"title\";s:9:\"User
  List\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"userIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:18:\"List
  of User Names\";}}}s:10:\"RoleIdList\";O:8:\"stdClass\":2:{s:5:\"title\";s:9:\"Role
  List\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"roleIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:17:\"List
  of Role Id's\";}}}s:14:\"JavaPolicyList\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Java
  Policy List\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"policyList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/JavaPolicy\";}}}}s:10:\"JavaPolicy\";O:8:\"stdClass\":3:{s:5:\"title\";s:17:\"JavaPolicy
  object\";s:8:\"required\";a:1:{i:0;s:11:\"displayName\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:15:\"java
  policy id\n\";s:7:\"example\";s:1:\"1\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"stats
  handler\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"displayOrder\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:34:\"display
  order of the policy in UI\n\";s:7:\"example\";s:1:\"1\";}}}s:9:\"LifeCycle\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"LifeCycle
  object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"actions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"async\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:16:\"LifeCycleHistory\";O:8:\"stdClass\":2:{s:5:\"title\";s:23:\"LifeCycleHistory
  object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"order\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:19:\"Sequence
  order Id.\n\";s:7:\"example\";s:1:\"1\";}s:5:\"state\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Current
  Lifecycle state.\n\";s:7:\"example\";s:7:\"Initial\";}s:11:\"targetState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Next/target
  Lifecycle state.\n\";s:7:\"example\";s:7:\"Created\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Executed
  time.\n\";s:7:\"example\";s:23:\"2016-04-27 09:48:41.408\";}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Executed
  user.\n\";s:7:\"example\";s:5:\"admin\";}}}s:20:\"LifeCycleHistoryList\";O:8:\"stdClass\":2:{s:5:\"title\";s:35:\"List
  of lifecycle change activities\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"lifeCycleHistoryList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/LifeCycleHistory\";}}}}s:11:\"PListAssets\";O:8:\"stdClass\":2:{s:5:\"title\";s:28:\"PList
  related Asset details.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"software-package\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:151:\"http://localhost:9763/api/appm/store/v1.1/apps/publisher/api/mobileapp/getfile/XURc4DnX0LEfRBm.apk,/publisher/api/mobileapp/getfile/OUGc8DnX0LEGRBm.ipa\";}}}s:9:\"PListInfo\";O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"PList
  object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"PListAssets\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PListAssets\";}}s:16:\"bundleIdentifier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"bundleVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"PList\";O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"PList
  object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"PListAssets\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/PListInfo\";}}}}s:11:\"StatSummary\";O:8:\"stdClass\":2:{s:5:\"title\";s:20:\"Stat
  Summary details\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}}s:17:\"BusinessOwnerList\";O:8:\"stdClass\":2:{s:5:\"title\";s:26:\"BusinessOwnerList
  details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"businessOwnerList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BusinessOwner\";}}}}s:13:\"BusinessOwner\";O:8:\"stdClass\":2:{s:5:\"title\";s:20:\"BusinessOwner
  object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";s:1:\"1\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"admin\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"admin@wso2.com\";}s:4:\"site\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"www.wso2.com\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/BusinessOwnerProperties\";}}}}s:23:\"BusinessOwnerProperties\";O:8:\"stdClass\":2:{s:5:\"title\";s:30:\"BusinessOwnerProperties
  object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"age\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"20\";}s:9:\"isVisible\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:11:\"UriTemplate\";O:8:\"stdClass\":2:{s:5:\"title\";s:23:\"URI
  Template Definition\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:23:\"ID
  of the URI Template\n\";s:7:\"example\";s:1:\"1\";}s:10:\"urlPattern\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"URL
  pattern of the URI\n\";s:7:\"example\";s:13:\"/user/details\";}s:8:\"httpVerb\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Http
  verb of the uri pattern\n\";s:7:\"example\";s:26:\"GET,POST,PUT,DELETE,OPTION\";}s:15:\"policyGroupName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  name of the uri template policy group\n\";s:7:\"example\";s:7:\"default\";}s:13:\"policyGroupId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:44:\"Database
  ID of the associated policy group.\n\";s:7:\"example\";s:7:\"default\";}}}s:12:\"PolicyGroups\";O:8:\"stdClass\":2:{s:5:\"title\";s:23:\"Policy
  Group Definition\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"policyGroupId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:23:\"Id
  of the policy group\n\";s:7:\"example\";s:1:\"1\";}s:15:\"policyGroupName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Name
  of the policy group\n\";s:7:\"example\";s:7:\"default\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Description
  of the policy group\n\";s:7:\"example\";s:20:\"Default policy group\";}s:14:\"throttlingTier\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Throttling
  tier\n\";s:7:\"example\";s:28:\"Bronze,Silver,Gold,Unlimited\";}s:9:\"userRoles\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:42:\"The
  name of the uri template policy group\n\";s:7:\"example\";a:1:{i:0;s:5:\"admin\";}}s:20:\"policyPartialMapping\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:37:\"Entitlement
  policy partial name list\n\";s:7:\"example\";a:1:{i:0;s:6:\"sample\";}}s:20:\"allowAnonymousAccess\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Allow
  anonymous access to mobile\n\";s:7:\"example\";s:26:\"GET,POST,PUT,DELETE,OPTION\";}}}s:5:\"Error\";O:8:\"stdClass\":3:{s:5:\"title\";s:42:\"Error
  object returned with 4XX HTTP status\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Error
  message.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"A
  detail description about the error message.\n\";}s:8:\"moreInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Preferably
  an url with more details about the error.\n\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:103:\"If
  there are more than one error list them out.\nFor example, list out validation errors
  by each field.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ErrorListItem\";}}}}s:13:\"ErrorListItem\";O:8:\"stdClass\":3:{s:5:\"title\";s:73:\"Description
  of individual errors that may have occurred during a request.\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Description
  about individual errors occurred\n\";}}}s:14:\"CustomProperty\";O:8:\"stdClass\":3:{s:5:\"title\";s:33:\"The
  DTO for a custom app property\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
