---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:7:\"version\";s:6:\"0.11.0\";s:5:\"title\";s:24:\"WSO2
  API Manager - Admin\";s:11:\"description\";s:136:\"This document specifies a **RESTful
  API** for WSO2 **API Manager** - Admin Portal.\n\nIt is written with [swagger 2](http://swagger.io/).\n\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"WSO2\";s:3:\"url\";s:37:\"http://wso2.com/products/api-manager/\";s:5:\"email\";s:21:\"architecture@wso2.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}}"
host: apis.wso2.com
basePath: /api/am/admin/v0.11
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":27:{s:5:\"Error\";O:8:\"stdClass\":3:{s:5:\"title\";s:42:\"Error
  object returned with 4XX HTTP status\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Error
  message.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"A
  detail description about the error message.\n\";}s:8:\"moreInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Preferably
  an url with more details about the error.\n\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:103:\"If
  there are more than one error list them out.\nFor example, list out validation errors
  by each field.\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ErrorListItem\";}}}}s:13:\"ErrorListItem\";O:8:\"stdClass\":3:{s:5:\"title\";s:73:\"Description
  of individual errors that may have occurred during a request.\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Description
  about individual errors occurred\n\";}}}s:14:\"ThrottlePolicy\";O:8:\"stdClass\":3:{s:5:\"title\";s:23:\"Generic
  Throttle Policy\";s:8:\"required\";a:1:{i:0;s:10:\"policyName\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"policyId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"policyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"isDeployed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}}}s:26:\"AdvancedThrottlePolicyInfo\";O:8:\"stdClass\":3:{s:5:\"title\";s:26:\"Advanced
  Throttling Policy\";s:8:\"required\";a:1:{i:0;s:12:\"defaultLimit\";}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ThrottlePolicy\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"defaultLimit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ThrottleLimit\";}}}}}s:22:\"AdvancedThrottlePolicy\";O:8:\"stdClass\":3:{s:5:\"title\";s:26:\"Advanced
  Throttling Policy\";s:8:\"required\";a:1:{i:0;s:12:\"defaultLimit\";}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ThrottlePolicy\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"defaultLimit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ThrottleLimit\";}s:17:\"conditionalGroups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ConditionalGroup\";}}}}}}s:26:\"AdvancedThrottlePolicyList\";O:8:\"stdClass\":2:{s:5:\"title\";s:29:\"Advanced
  Throttle Policy List\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:47:\"Number
  of Advanced throttle policies returned.\n\";s:7:\"example\";i:1;}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/AdvancedThrottlePolicyInfo\";}}}}s:25:\"ApplicationThrottlePolicy\";O:8:\"stdClass\":3:{s:5:\"title\";s:27:\"Application
  Throttle Policy\";s:8:\"required\";a:1:{i:0;s:12:\"defaultLimit\";}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ThrottlePolicy\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"defaultLimit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ThrottleLimit\";}}}}}s:29:\"ApplicationThrottlePolicyList\";O:8:\"stdClass\":2:{s:5:\"title\";s:38:\"Application
  Level Throttle Policy List\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:50:\"Number
  of Application throttle policies returned.\n\";s:7:\"example\";i:1;}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ApplicationThrottlePolicy\";}}}}s:26:\"SubscriptionThrottlePolicy\";O:8:\"stdClass\":3:{s:5:\"title\";s:28:\"Subscription
  Throttle Policy\";s:8:\"required\";a:1:{i:0;s:12:\"defaultLimit\";}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ThrottlePolicy\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"defaultLimit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ThrottleLimit\";}s:14:\"rateLimitCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"default\";i:0;}s:17:\"rateLimitTimeUnit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"customAttributes\";O:8:\"stdClass\":5:{s:11:\"description\";s:60:\"Custom
  attributes added to the Subscription Throttle policy\n\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomAttribute\";}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";O:8:\"stdClass\":0:{}}s:16:\"stopOnQuotaReach\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:11:\"billingPlan\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:30:\"SubscriptionThrottlePolicyList\";O:8:\"stdClass\":2:{s:5:\"title\";s:39:\"Subscription
  Level Throttle Policy List\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:51:\"Number
  of Subscription throttle policies returned.\n\";s:7:\"example\";i:1;}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/SubscriptionThrottlePolicy\";}}}}s:10:\"CustomRule\";O:8:\"stdClass\":3:{s:5:\"title\";s:11:\"Custom
  Rule\";s:8:\"required\";a:2:{i:0;s:11:\"siddhiQuery\";i:1;s:11:\"keyTemplate\";}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ThrottlePolicy\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"siddhiQuery\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"keyTemplate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:14:\"CustomRuleList\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Custom
  Rule List\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:33:\"Number
  of Custom Rules returned.\n\";s:7:\"example\";i:1;}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CustomRule\";}}}}s:16:\"ConditionalGroup\";O:8:\"stdClass\":3:{s:5:\"title\";s:33:\"Conditional
  Groups for Throttling\";s:8:\"required\";a:2:{i:0;s:5:\"limit\";i:1;s:10:\"conditions\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"conditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ThrottleCondition\";}}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ThrottleLimit\";}}}s:17:\"ThrottleCondition\";O:8:\"stdClass\":6:{s:13:\"discriminator\";s:4:\"type\";s:15:\"x-wso2-subtypes\";a:4:{i:0;s:15:\"HeaderCondition\";i:1;s:11:\"IPCondition\";i:2;s:18:\"JWTClaimsCondition\";i:3;s:23:\"QueryParameterCondition\";}s:5:\"title\";s:30:\"Conditions
  used for Throttling\";s:11:\"description\";s:21:\"Throttling Conditions\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:15:\"HeaderCondition\";i:1;s:11:\"IPCondition\";i:2;s:18:\"JWTClaimsCondition\";i:3;s:23:\"QueryParameterCondition\";}}s:15:\"invertCondition\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}}}s:15:\"HeaderCondition\";O:8:\"stdClass\":3:{s:5:\"title\";s:36:\"HTTP
  Header based throttle condition\";s:8:\"required\";a:2:{i:0;s:10:\"headerName\";i:1;s:11:\"headerValue\";}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ThrottleCondition\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"headerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"headerValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:11:\"IPCondition\";O:8:\"stdClass\":3:{s:5:\"title\";s:27:\"IP
  based throttle condition\";s:8:\"required\";a:1:{i:0;s:10:\"specificIP\";}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ThrottleCondition\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"ipConditionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"IPRange\";i:1;s:10:\"IPSpecific\";}}s:10:\"specificIP\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"startingIP\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"endingIP\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:18:\"JWTClaimsCondition\";O:8:\"stdClass\":3:{s:5:\"title\";s:43:\"JWT
  claim attibute based throttle condition\";s:8:\"required\";a:2:{i:0;s:8:\"claimUrl\";i:1;s:9:\"attribute\";}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ThrottleCondition\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"claimUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"attribute\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:23:\"QueryParameterCondition\";O:8:\"stdClass\":3:{s:5:\"title\";s:40:\"Query
  parameter based throttle condition\";s:8:\"required\";a:2:{i:0;s:13:\"parameterName\";i:1;s:14:\"parameterValue\";}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ThrottleCondition\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"parameterName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"parameterValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:13:\"ThrottleLimit\";O:8:\"stdClass\":4:{s:13:\"discriminator\";s:4:\"type\";s:15:\"x-wso2-subtypes\";a:2:{i:0;s:17:\"RequestCountLimit\";i:1;s:14:\"BandwidthLimit\";}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:8:\"timeUnit\";i:2;s:8:\"unitTime\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:17:\"RequestCountLimit\";i:1;s:14:\"BandwidthLimit\";}}s:8:\"timeUnit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"unitTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"default\";i:0;}}}s:14:\"BandwidthLimit\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:10:\"dataAmount\";i:1;s:8:\"dataUnit\";}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ThrottleLimit\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"dataAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"default\";i:0;}s:8:\"dataUnit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:17:\"RequestCountLimit\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:12:\"requestCount\";}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ThrottleLimit\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"requestCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"default\";i:0;}}}}}s:17:\"BlockingCondition\";O:8:\"stdClass\":4:{s:5:\"title\";s:19:\"Blocking
  Conditions\";s:11:\"description\";s:19:\"Blocking Conditions\";s:8:\"required\";a:2:{i:0;s:13:\"conditionType\";i:1;s:14:\"conditionValue\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"conditionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"conditionType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"conditionValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"BlockingConditionList\";O:8:\"stdClass\":2:{s:5:\"title\";s:24:\"Blocking
  Conditions List\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:40:\"Number
  of Blocking Conditions returned.\n\";s:7:\"example\";i:1;}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BlockingCondition\";}}}}s:15:\"CustomAttribute\";O:8:\"stdClass\":3:{s:5:\"title\";s:15:\"Name-Value
  pair\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"mediationList\";O:8:\"stdClass\":2:{s:5:\"title\";s:14:\"Mediation
  List\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:40:\"Number
  of mediation sequences returned.\n\";s:7:\"example\";i:1;}s:4:\"next\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Link
  to the next subset of sequences qualified.\nEmpty if no more sequences are to be
  returned.\n\";s:7:\"example\";s:0:\"\";}s:8:\"previous\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Link
  to the previous subset of sequences qualified.\nEmpty if current subset is the first
  subset returned.\n\";s:7:\"example\";s:0:\"\";}s:4:\"list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/MediationInfo\";}}}}s:13:\"MediationInfo\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"MediationInfo\";s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"json_fault.xml\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:2:\"in\";i:1;s:3:\"out\";i:2;s:5:\"fault\";}s:7:\"example\";s:2:\"in\";}}}s:9:\"Mediation\";O:8:\"stdClass\":3:{s:5:\"title\";s:9:\"Mediation\";s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:4:\"type\";i:2;s:6:\"config\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"01234567-0123-0123-0123-012345678901\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"json_fault.xml\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:2:\"in\";i:1;s:3:\"out\";i:2;s:5:\"fault\";}s:7:\"example\";s:2:\"in\";}s:6:\"config\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:168:\"<sequence
  xmlns=\"http://ws.apache.org/ns/synapse\" name=\"log_in_message\"> <log level=\"full\">
  <property name=\"IN_MESSAGE\" value=\"IN_MESSAGE_21133232\"/> </log> </sequence>\";}}}}"
...
