---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:5:\"title\";s:26:\"Microsoft Security Updates\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:8:\"security\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:153:\"https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_thumb_9_96_Microsoft_logo_(2012).svg_200px-Microsoft_logo_(2012).svg.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:104:\"https://raw.githubusercontent.com/Microsoft/MSRC-Microsoft-Security-Updates-API/master/docs/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"microsoft.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"microsoft_security_updates\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.msrc.microsoft.com
paths:
  /Updates:
    get:
      description: Get all updates with a link to the CVRF documentn
      parameters:
      - default: "2016-08-01"
        in: query
        name: api-version
        required: true
        type: string
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: Successful responset
          schema:
            $ref: '#/definitions/UpdatesReturnTypes200'
      operationId: Updates.get
  /Updates('{id}'):
    get:
      description: 'Get updates with a link to the CVRF document for a particular
        ID.nnID can be:nn  * Update ID (ie: 2016-Aug)n  * Vulnerability ID (ie: CVE-2016-0128)n  *
        Year (ie: 2016)n'
      parameters:
      - default: "2016-08-01"
        in: query
        name: api-version
        required: true
        type: string
      - in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: Successful responset
          schema:
            $ref: '#/definitions/UpdatesReturnTypes200'
      operationId: Updates_id_.get
  /cvrf/{id}:
    get:
      description: 'Gets a CVRF document by ID (ie: 2016-Aug)nnNote: to view the correct
        XML response, please change *$ref: ''#/definitions/cvrfReturnTypes200''* to
        *$ref: ''#/definitions/cvrfReturnTypes200_xml''* in the swagger.json or swagger.yaml
        filen'
      parameters:
      - default: "2016-08-01"
        in: query
        name: api-version
        required: true
        type: string
      - in: path
        name: id
        required: true
        type: string
      produces:
      - application/xml
      - application/json
      responses:
        200:
          description: Successful responset
          schema:
            $ref: '#/definitions/cvrfReturnTypes200'
      operationId: cvrf.id.get
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:21:\"UpdatesReturnTypes200\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"@odata.context\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"array
  of files returned\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"Alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"CurrentReleaseDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"CvrfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"DocumentTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"InitialReleaseData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Severity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:5:\"title\";s:33:\"Sucessful
  returned Updates object\";s:4:\"type\";s:6:\"object\";}s:18:\"cvrfReturnTypes200\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"DocumentNotes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"Audience\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Ordinal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:17:\"DocumentPublisher\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"ContactDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"IssuingAthority\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DocumentTitle\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DocumentTracking\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"CurrentReleaseDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"Identification\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Alias\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:18:\"InitialReleaseDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"RevisionHistory\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DocumentType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ProductTree\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Branch\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ProductID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:15:\"FullProductName\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ProductID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"Vulnerability\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:16:\"Acknowledgements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"URL\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"CVE\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"CVSSScoreSets\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"BaseScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"ProductID\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"TemporalScore\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"Vector\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:22:\"DiscoveryDateSpecified\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"Notes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"Ordinal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"Ordinal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ProductStatuses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ProductID\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:20:\"ReleaseDateSpecified\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"Remediations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"AffectedFiles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"FileArchitecture\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"FileLastModified\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"FileName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"FilePath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"FileVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"ProductId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:13:\"DateSpecified\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ProductID\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"RestartRequired\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"SubType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Supercedence\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"URL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:15:\"RevisionHistory\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"Threats\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"DateSpecified\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ProductID\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"Title\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:5:\"title\";s:28:\"Sucessful
  returned cvrf json\";s:4:\"type\";s:6:\"object\";}s:22:\"cvrfReturnTypes200_xml\";O:8:\"stdClass\":4:{s:11:\"description\";s:177:\"Swagger
  has some limitations and can not display complex XML documents in a model, please
  refer to the ICASI CVRF schema online. for a more exact specification on return
  schema.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"cvrfdoc\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"DocumentNotes\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Note\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"has
  a string in <Note>...</Note>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"Audience\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:7:\"Ordinal\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:5:\"Title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:6:\"prefix\";s:4:\"cvrf\";s:7:\"wrapped\";b:0;}}s:17:\"DocumentPublisher\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"ContactDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}s:16:\"IssuingAuthority\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"object\";}s:13:\"DocumentTitle\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}s:16:\"DocumentTracking\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"CurrentReleaseDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}s:14:\"Identification\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Alias\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}s:18:\"InitialReleaseDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}s:15:\"RevisionHistory\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Revision\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Date\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}s:6:\"Number\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}s:12:\"DocumentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}s:11:\"ProductTree\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Branch\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Branch\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"FullProductName\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"ProductID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:6:\"prefix\";s:4:\"prod\";s:7:\"wrapped\";b:0;}}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Branch\";s:6:\"prefix\";s:4:\"prod\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:6:\"prefix\";s:4:\"prod\";s:7:\"wrapped\";b:0;}}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Branch\";s:6:\"prefix\";s:4:\"prod\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:6:\"prefix\";s:4:\"prod\";s:7:\"wrapped\";b:0;}}s:15:\"FullProductName\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"has
  a string in between <prod:FullProductName>...</prod:FullProductName>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"ProductID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"FullProductName\";s:6:\"prefix\";s:4:\"prod\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:6:\"prefix\";s:4:\"prod\";s:7:\"wrapped\";b:0;}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"prod\";}}s:13:\"Vulnerability\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:16:\"Acknowledgements\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:3:\"URL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"Acknowledgement\";s:6:\"prefix\";s:4:\"vuln\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:6:\"prefix\";s:4:\"vuln\";s:7:\"wrapped\";b:1;}}s:3:\"CVE\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:13:\"CVSSScoreSets\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"BaseScore\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:9:\"ProductID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:13:\"TemporalScore\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:6:\"Vector\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"ScoreSet\";s:6:\"prefix\";s:4:\"vuln\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:6:\"prefix\";s:4:\"vuln\";s:7:\"wrapped\";b:1;}}s:5:\"Notes\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Note\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"has
  a string in <Note>...</Note>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Ordianl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:5:\"Title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:7:\"Ordinal\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:15:\"ProductStatuses\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ProductID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Status\";s:6:\"prefix\";s:4:\"vuln\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:6:\"prefix\";s:4:\"vuln\";s:7:\"wrapped\";b:1;}}s:12:\"Remediations\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"AffectedFiles\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"FileArchitecture\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:16:\"FileLastModified\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:8:\"FileName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:8:\"FilePath\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:11:\"FileVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:9:\"ProductId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:6:\"prefix\";s:4:\"vuln\";s:7:\"wrapped\";b:0;}}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:9:\"ProductID\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"ProductID\";s:6:\"prefix\";s:4:\"vuln\";}}s:4:\"type\";s:5:\"array\";}s:15:\"RestartRequired\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:7:\"SubType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:12:\"Supercedence\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:3:\"URL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"Remediation\";s:6:\"prefix\";s:4:\"vuln\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:6:\"prefix\";s:4:\"vuln\";s:7:\"wrapped\";b:1;}}s:15:\"RevisionHistory\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Date\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:6:\"Number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"Revision\";s:6:\"prefix\";s:4:\"vuln\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:6:\"prefix\";s:4:\"vuln\";s:7:\"wrapped\";b:1;}}s:7:\"Threats\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Threat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:9:\"ProductID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:6:\"prefix\";s:4:\"vuln\";s:7:\"wrapped\";b:0;}}s:5:\"Title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"vuln\";}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:6:\"prefix\";s:4:\"cvrf\";}}}s:5:\"title\";s:38:\"Sucessful
  returned cvrf object __XML__\";s:4:\"type\";s:6:\"object\";}}"
...
