---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:10:\"jumpseller\";}s:11:\"description\";s:117:\"Explore
  all our endpoints with your own set of of access tokens. All changes affect your
  production Jumpseller store.\";s:5:\"title\";s:14:\"Jumpseller API\";s:7:\"version\";s:1:\"1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_jumpseller_profile_image.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:39:\"https://api.jumpseller.com/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"jumpseller.com\";}"
host: api.jumpseller.com
basePath: /v1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":78:{s:3:\"App\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"apps\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AppFields\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"AppFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"author\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Author
  of the app\";s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Code
  of the app\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Description
  of the app\";s:4:\"type\";s:6:\"string\";}s:2:\"js\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:26:\"True
  if the app is a jsapp\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Name
  of the app\";s:4:\"type\";s:6:\"string\";}s:4:\"page\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Page
  of the app\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"BillingAddress\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Address
  of the Customer's Billing Address\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"City
  of the Customer's Billing Address\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Country
  of the Customer's Billing Address\";s:4:\"type\";s:6:\"string\";}s:12:\"municipality\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Municipality
  of the Customer's Billing Address\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Name
  of the Customer's Billing Address\";s:4:\"type\";s:6:\"string\";}s:6:\"postal\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Postal
  code of the Customer's Billing Address\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Region
  of the Customer's Billing Address\";s:4:\"type\";s:6:\"string\";}s:7:\"surname\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Surname
  of the Customer's Billing Address\";s:4:\"type\";s:6:\"string\";}s:5:\"taxid\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Tax
  id of the Customer's Billing Address\";s:4:\"type\";s:6:\"string\";}}}s:8:\"Category\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CategoryFields\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CategoryEdit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CategoryEditFields\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CategoryEditFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the Category\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Unique
  identifier of the Parent Category\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CategoryFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Unique
  identifier of the Category\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the Category\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Unique
  identifier of the Parent Category\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"permalink\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Category
  unique URL path\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CheckoutCustomField\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"checkout_custom_field\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/CheckoutCustomFieldFields\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CheckoutCustomFieldEdit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"checkout_custom_field\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/CheckoutCustomFieldEditFields\";}}s:4:\"type\";s:6:\"object\";}s:29:\"CheckoutCustomFieldEditFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"area\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Area
  of the CheckoutCustomField\";s:4:\"enum\";a:3:{i:0;s:7:\"contact\";i:1;s:16:\"billing_shipping\";i:2;s:5:\"other\";}s:4:\"type\";s:6:\"string\";}s:27:\"custom_field_select_options\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  values for the CheckoutCustomField selection\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"deletable\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:61:\"True
  if the CheckoutCustomField can be removed from the store\";s:4:\"type\";s:7:\"boolean\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Label
  given to the CheckoutCustomField\";s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Position
  of the CheckoutCustomField\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"required\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:44:\"True
  if the CheckoutCustomField is mandatory\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Type
  of the CheckoutCustomField\";s:4:\"enum\";a:4:{i:0;s:4:\"text\";i:1;s:6:\"select\";i:2;s:5:\"input\";i:3;s:8:\"checkbox\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CheckoutCustomFieldFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"area\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Area
  of the CheckoutCustomField\";s:4:\"enum\";a:3:{i:0;s:7:\"contact\";i:1;s:16:\"billing_shipping\";i:2;s:5:\"other\";}s:4:\"type\";s:6:\"string\";}s:27:\"custom_field_select_options\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  values for the CheckoutCustomField selection\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"deletable\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:61:\"True
  if the CheckoutCustomField can be removed from the store\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Unique
  identifier of the CheckoutCustomField\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Label
  given to the CheckoutCustomField\";s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Position
  of the CheckoutCustomField\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"required\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:44:\"True
  if the CheckoutCustomField is mandatory\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Type
  of the CheckoutCustomField\";s:4:\"enum\";a:4:{i:0;s:4:\"text\";i:1;s:6:\"select\";i:2;s:5:\"input\";i:3;s:8:\"checkbox\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Count\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:7:\"Country\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Customer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"customer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CustomerFields\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CustomerCategory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/CustomerCategoryFields\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CustomerCategoryEdit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CustomerCategoryEditFields\";}}s:4:\"type\";s:6:\"object\";}s:26:\"CustomerCategoryEditFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Name
  of the CustomerCategory\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CustomerCategoryFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Code
  of the CustomerCategory\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Unique
  identifier of the CustomerCategory\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Name
  of the CustomerCategory\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CustomerFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"billing_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BillingAddress\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Email
  of the Customer\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Unique
  identifier of the Customer\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Phone
  of the Customer\";s:4:\"type\";s:6:\"string\";}s:16:\"shipping_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ShippingAddress\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Status
  of the Customer\";s:4:\"enum\";a:3:{i:0;s:8:\"approved\";i:1;s:7:\"pending\";i:2;s:8:\"disabled\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"CustomerFieldsWithPassword\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"billing_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BillingAddress\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Email
  of the Customer\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Unique
  identifier of the Customer\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Password\";s:4:\"type\";s:6:\"string\";}s:21:\"password_confirmation\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Password
  Confirmation\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Phone
  of the Customer\";s:4:\"type\";s:6:\"string\";}s:16:\"shipping_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ShippingAddress\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Status
  of the Customer\";s:4:\"enum\";a:3:{i:0;s:8:\"approved\";i:1;s:7:\"pending\";i:2;s:8:\"disabled\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CustomerFieldsWithPasswordNoID\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"billing_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BillingAddress\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Email
  of the Customer\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Password\";s:4:\"type\";s:6:\"string\";}s:21:\"password_confirmation\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Password
  Confirmation\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Phone
  of the Customer\";s:4:\"type\";s:6:\"string\";}s:16:\"shipping_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ShippingAddress\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Status
  of the Customer\";s:4:\"enum\";a:3:{i:0;s:8:\"approved\";i:1;s:7:\"pending\";i:2;s:8:\"disabled\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CustomerWithPassword\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"customer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CustomerFieldsWithPassword\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CustomerWithPasswordNoID\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"customer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/CustomerFieldsWithPasswordNoID\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Field\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"field\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FieldFields\";}}s:4:\"type\";s:6:\"object\";}s:11:\"FieldFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Unique
  identifier of the Field\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Label
  given to the Field\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Type
  of the Field\";s:4:\"enum\";a:3:{i:0;s:4:\"text\";i:1;s:9:\"selection\";i:2;s:5:\"input\";}s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"All
  the possible Values of the Field (for type 'selection')\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Hook\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"hook\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/HookFields\";}}s:4:\"type\";s:6:\"object\";}s:8:\"HookEdit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"hook\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/HookEditFields\";}}s:4:\"type\";s:6:\"object\";}s:14:\"HookEditFields\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"event\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Event
  associated with Hook\";s:4:\"enum\";a:12:{i:0;s:13:\"order_updated\";i:1;s:21:\"order_pending_payment\";i:2;s:10:\"order_paid\";i:3;s:13:\"order_shipped\";i:4;s:14:\"order_canceled\";i:5;s:15:\"order_abandoned\";i:6;s:15:\"product_created\";i:7;s:15:\"product_updated\";i:8;s:15:\"product_deleted\";i:9;s:16:\"customer_created\";i:10;s:16:\"customer_updated\";i:11;s:16:\"customer_deleted\";}s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Hook
  URL to be notified\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"event\";i:1;s:3:\"url\";}s:4:\"type\";s:6:\"object\";}s:10:\"HookFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Hook
  creation date\";s:4:\"type\";s:6:\"string\";}s:5:\"event\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Event
  associated with Hook\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Unique
  identifier of the Hook\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Hook
  URL to be notified\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"Id\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:5:\"Image\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageFields\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ImageEdit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ImageEditFields\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ImageEditFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Complete
  URL of the image\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ImageFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Unique
  identifier of the image\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"position\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Position
  of the image\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Complete
  URL of the image\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"JSApp\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"element\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Element
  of Template to inject HTML\";s:4:\"type\";s:6:\"string\";}s:8:\"template\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Template
  of Store Theme to inject HTML\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Url
  of the HTML to inject\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Language\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"NotFound\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Order\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OrderFields\";}}s:4:\"type\";s:6:\"object\";}s:9:\"OrderEdit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/OrderEditFields\";}}s:4:\"type\";s:6:\"object\";}s:15:\"OrderEditFields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:22:\"additional_information\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Additional
  information for the given Order\";s:4:\"type\";s:6:\"string\";}s:8:\"customer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Email
  of the customer for the given Order\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"products\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OrderProduct\";}s:4:\"type\";s:5:\"array\";}s:18:\"shipping_method_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Shipping
  method e.g. Royal Mail\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Status
  of the Order\";s:4:\"enum\";a:4:{i:0;s:9:\"Abandoned\";i:1;s:8:\"Canceled\";i:2;s:15:\"Pending
  Payment\";i:3;s:4:\"Paid\";}s:4:\"type\";s:6:\"string\";}s:16:\"tracking_company\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Shipping
  Company used for the given Order\";s:4:\"type\";s:6:\"string\";}s:15:\"tracking_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Shipping
  Tracking Number used for the given Order\";s:4:\"type\";s:6:\"string\";}}}s:11:\"OrderFields\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":23:{s:22:\"additional_information\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Additional
  information for the given Order\";s:4:\"type\";s:6:\"string\";}s:15:\"billing_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BillingAddress\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Order
  date\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Currency
  of the Order\";s:4:\"type\";s:6:\"string\";}s:8:\"customer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Customer\";}s:8:\"discount\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Discount
  value for the given Order\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Unique
  identifier of the Order\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"payment_information\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Payment
  information for the given Order\";s:4:\"type\";s:6:\"string\";}s:19:\"payment_method_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Payment
  Method name used e.g. PayPal\";s:4:\"type\";s:6:\"string\";}s:8:\"products\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OrderProduct\";}s:4:\"type\";s:5:\"array\";}s:15:\"shipment_status\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Shipment
  Status for Order Fulfillment.\";s:4:\"enum\";a:4:{i:0;s:9:\"delivered\";i:1;s:9:\"requested\";i:2;s:10:\"in_transit\";i:3;s:6:\"failed\";}s:4:\"type\";s:6:\"string\";}s:8:\"shipping\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Shipping
  value for the given Order\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:16:\"shipping_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ShippingAddress\";}s:18:\"shipping_method_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Shipping
  method e.g. Royal Mail\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"shipping_method_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Shipping
  method e.g. Royal Mail\";s:4:\"type\";s:6:\"string\";}s:12:\"shipping_tax\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Shipping
  Tax value for the given order\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Status
  of the Order\";s:4:\"enum\";a:4:{i:0;s:9:\"Abandoned\";i:1;s:8:\"Canceled\";i:2;s:15:\"Pending
  Payment\";i:3;s:4:\"Paid\";}s:4:\"type\";s:6:\"string\";}s:8:\"subtotal\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Subtotal
  value for the given Order. Excluding taxes, shipping and discounts\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:3:\"tax\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Tax
  value for the given order\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Total
  value for the given Order. Including taxes, shipping and discounts\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:16:\"tracking_company\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Company
  Used for Order Fulfillment.\";s:4:\"type\";s:6:\"string\";}s:15:\"tracking_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Tracking
  Number for Order Fulfillment.\";s:4:\"type\";s:6:\"string\";}s:12:\"tracking_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Tracking
  URL for Order Fulfillment.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"OrderHistory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"order_history\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/OrderHistoryFields\";}}s:4:\"type\";s:6:\"object\";}s:16:\"OrderHistoryEdit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"order_history\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/OrderHistoryEditFields\";}}s:4:\"type\";s:6:\"object\";}s:22:\"OrderHistoryEditFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Message
  of the Order History\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"OrderHistoryFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Creation
  date of the order history\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Unique
  identifier of the Order History\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Message
  of the Order History\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"OrderProduct\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"discount\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Discount
  of the Order Product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Unique
  identifier of the original Product\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Image
  URL of the Order Product\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Name
  of the Order Product\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Price
  of the Order Product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:3:\"qty\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Price
  of the Order Product\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Stock
  Keeping Unit of the Order Product\";s:4:\"type\";s:6:\"string\";}s:10:\"variant_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Unique
  identifier of the original Product Variant\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"weight\";O:8:\"stdClass\":4:{s:7:\"default\";i:1;s:11:\"description\";s:27:\"Weight
  of the Order Product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:13:\"PaymentMethod\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"payment_method\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PaymentMethodFields\";}}s:4:\"type\";s:6:\"object\";}s:19:\"PaymentMethodFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Unique
  identifier of the Payment Method\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Name
  of the Payment Method\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Type
  of the Payment Method\";s:4:\"enum\";a:20:{i:0;s:10:\"dineromail\";i:1;s:6:\"manual\";i:2;s:6:\"paypal\";i:3;s:9:\"pagseguro\";i:4;s:10:\"interpagos\";i:5;s:12:\"moneybookers\";i:6;s:6:\"webpay\";i:7;s:9:\"webpay_cl\";i:8;s:7:\"easypay\";i:9;s:9:\"easypaycc\";i:10;s:13:\"easypayboleto\";i:11;s:11:\"ideal_basic\";i:12;s:5:\"hipay\";i:13;s:5:\"khipu\";i:14;s:12:\"mercado_pago\";i:15;s:9:\"ifthenpay\";i:16;s:6:\"eupago\";i:17;s:6:\"stripe\";i:18;s:4:\"payu\";i:19;s:8:\"servipag\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Product\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"product\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProductFields\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ProductCustomField\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"field_value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ProductCustomFieldFields\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ProductCustomFieldFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Unique
  identifier of the ProductCustomField\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  value for the ProductCustomField\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ProductEdit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"product\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProductEditFields\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ProductEditFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CategoryFields\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Description
  of the product\";s:4:\"type\";s:6:\"string\";}s:8:\"diameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Diameter
  of the product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"featured\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:31:\"True
  if the product is featured\";s:4:\"type\";s:7:\"boolean\";}s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Height
  of the product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:6:\"length\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Length
  of the product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:16:\"meta_description\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"SEO
  meta description of the product\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Name
  of the product\";s:4:\"type\";s:6:\"string\";}s:14:\"package_format\";O:8:\"stdClass\":4:{s:7:\"default\";s:3:\"box\";s:11:\"description\";s:26:\"Format
  the product package\";s:4:\"enum\";a:2:{i:0;s:3:\"box\";i:1;s:8:\"cylinder\";}s:4:\"type\";s:6:\"string\";}s:10:\"page_title\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"SEO
  title of the product\";s:4:\"type\";s:6:\"string\";}s:9:\"permalink\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Product
  unique URL path\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Price
  of the product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Stock
  Keeping Unit of the product\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:7:\"default\";s:9:\"available\";s:11:\"description\";s:21:\"Status
  of the product\";s:4:\"enum\";a:3:{i:0;s:9:\"available\";i:1;s:13:\"not-available\";i:2;s:8:\"disabled\";}s:4:\"type\";s:6:\"string\";}s:5:\"stock\";O:8:\"stdClass\":4:{s:7:\"default\";i:100;s:11:\"description\";s:33:\"Quantity
  in stock for the product\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"stock_unlimited\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"True
  if the Product has unlimited stock\";s:4:\"type\";s:7:\"boolean\";}s:6:\"weight\";O:8:\"stdClass\":4:{s:7:\"default\";i:1;s:11:\"description\";s:21:\"Weight
  of the product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Width
  of the product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ProductFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CategoryFields\";}s:4:\"type\";s:5:\"array\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Date
  of product creation\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Description
  of the product\";s:4:\"type\";s:6:\"string\";}s:8:\"diameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Diameter
  of the product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"discount\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Discount
  of the product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"featured\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:31:\"True
  if the product is featured\";s:4:\"type\";s:7:\"boolean\";}s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Height
  of the product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Unique
  identifier of the product\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageFields\";}s:4:\"type\";s:5:\"array\";}s:6:\"length\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Length
  of the product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Name
  of the product\";s:4:\"type\";s:6:\"string\";}s:14:\"package_format\";O:8:\"stdClass\":4:{s:7:\"default\";s:3:\"box\";s:11:\"description\";s:26:\"Format
  the product package\";s:4:\"enum\";a:2:{i:0;s:3:\"box\";i:1;s:8:\"cylinder\";}s:4:\"type\";s:6:\"string\";}s:9:\"permalink\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Product
  unique URL path\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Price
  of the product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Stock
  Keeping Unit of the product\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:7:\"default\";s:9:\"available\";s:11:\"description\";s:21:\"Status
  of the product\";s:4:\"enum\";a:3:{i:0;s:9:\"available\";i:1;s:13:\"not-available\";i:2;s:8:\"disabled\";}s:4:\"type\";s:6:\"string\";}s:5:\"stock\";O:8:\"stdClass\":4:{s:7:\"default\";i:100;s:11:\"description\";s:33:\"Quantity
  in stock for the product\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"stock_unlimited\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"True
  if the Product has unlimited stock\";s:4:\"type\";s:7:\"boolean\";}s:8:\"variants\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/VariantFields\";}s:4:\"type\";s:5:\"array\";}s:6:\"weight\";O:8:\"stdClass\":4:{s:7:\"default\";i:1;s:11:\"description\";s:21:\"Weight
  of the product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Width
  of the product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ProductOption\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"option\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProductOptionFields\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ProductOptionEdit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"option\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ProductOptionEditFields\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ProductOptionEditFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Name
  of the product option\";s:4:\"type\";s:6:\"string\";}s:11:\"option_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Type
  of the product option\";s:4:\"enum\";a:4:{i:0;s:6:\"option\";i:1;s:5:\"input\";i:2;s:4:\"text\";i:3;s:4:\"file\";}s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Position
  of the product option\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ProductOptionFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Unique
  identifier of the product option\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Name
  of the product option\";s:4:\"type\";s:6:\"string\";}s:11:\"option_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Type
  of the product option\";s:4:\"enum\";a:4:{i:0;s:6:\"option\";i:1;s:5:\"input\";i:2;s:4:\"text\";i:3;s:4:\"file\";}s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Position
  of the product option\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"values\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ProductOptionValueFields\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ProductOptionValue\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ProductOptionValueFields\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ProductOptionValueEdit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ProductOptionValueEditFields\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ProductOptionValueEditFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Name
  of the product option value\";s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Position
  of the product option value\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ProductOptionValueFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Unique
  identifier of the product option value\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Name
  of the product option value\";s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Position
  of the product option value\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"product_option\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProductOption\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Promotion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"promotion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PromotionFields\";}}s:4:\"type\";s:6:\"object\";}s:13:\"PromotionEdit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"promotion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PromotionEditFields\";}}s:4:\"type\";s:6:\"object\";}s:19:\"PromotionEditFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:9:\"begins_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Creation
  date of the promotion (requires 'lasts' param - 'date')\";s:4:\"type\";s:6:\"string\";}s:13:\"buys_at_least\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Controls
  the promotion's condition ('none', 'price', 'qty')\";s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Products
  Categories where the promotion will be applied (requires 'discount_target' param
  - 'categories')\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:16:\"#/definitions/Id\";}s:4:\"type\";s:5:\"array\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Code
  of the promotion\";s:4:\"type\";s:6:\"string\";}s:15:\"condition_price\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Minimum
  order amount to validate the promotion (requires 'buys_at_least' param - 'price')\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:13:\"condition_qty\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Minimum
  quantity of ordered itens to validate the promotion (requires 'buys_at_least' param
  - 'qty')\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"cumulative\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:51:\"True
  if the promotion can be acumulated with others\";s:4:\"type\";s:7:\"boolean\";}s:19:\"customer_categories\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Customer
  Categories to whom the promotion will be applied (requires 'customers' param - 'categories')\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:16:\"#/definitions/Id\";}s:4:\"type\";s:5:\"array\";}s:9:\"customers\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Controls
  to which customers the promotion will be applied ('all', 'loggedin', 'categories')\";s:4:\"type\";s:6:\"string\";}s:19:\"discount_amount_fix\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Fixed
  discount amount of the promotion (requires 'type' param - 'fix')\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:23:\"discount_amount_percent\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Percentual
  discount amount of the promotion (requires 'type' param - 'percentage')\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:15:\"discount_target\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Where
  the promotion will be applied ('order', 'shipping', 'categories')\";s:4:\"type\";s:6:\"string\";}s:10:\"expires_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Expiration
  date of the promotion (requires 'lasts' param - 'date')\";s:4:\"type\";s:6:\"string\";}s:5:\"lasts\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Controls
  when the promotion will expire ('none', 'date', 'max_times_used')\";s:4:\"type\";s:6:\"string\";}s:14:\"max_times_used\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Maximum
  amount a promotion can be used (requires 'lasts' param - 'max_times_used')\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Name
  of the product\";s:4:\"type\";s:6:\"string\";}s:8:\"products\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Products
  where the promotion will be applied (requires 'discount_target' param - 'categories')\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:16:\"#/definitions/Id\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Controls
  if the discount will be a fixed value ('fix', 'percentage')\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"PromotionFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:9:\"begins_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Creation
  date of the promotion\";s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:16:\"#/definitions/Id\";}s:4:\"type\";s:5:\"array\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Code
  of the promotion\";s:4:\"type\";s:6:\"string\";}s:15:\"condition_price\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Minimum
  order amount to validate the promotion\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:13:\"condition_qty\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Minimum
  quantity of ordered itens to validate the promotion\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"cumulative\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:51:\"True
  if the promotion can be acumulated with others\";s:4:\"type\";s:7:\"boolean\";}s:19:\"customer_categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:16:\"#/definitions/Id\";}s:4:\"type\";s:5:\"array\";}s:19:\"discount_amount_fix\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Fixed
  discount amount of the promotion\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:23:\"discount_amount_percent\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Percentual
  discount amount of the promotion\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:15:\"discount_target\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Where
  the promotion will be applied ('order', 'shipping', 'categories')\";s:4:\"type\";s:6:\"string\";}s:10:\"expires_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Expiration
  date of the promotion\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Unique
  identifier of the product\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"max_times_used\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Maximum
  amount a promotion can be used\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Name
  of the product\";s:4:\"type\";s:6:\"string\";}s:8:\"products\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:16:\"#/definitions/Id\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Status
  of the promotion ('active', 'expired')\";s:4:\"type\";s:6:\"string\";}s:10:\"times_used\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Amount
  of times the promotion was used\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Region\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"ShippingAddress\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Address
  of the Customer's Shipping Address\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"City
  of the Customer's Shipping Address\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Country
  of the Customer's Shipping Address\";s:4:\"type\";s:6:\"string\";}s:12:\"municipality\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Municipality
  of the Customer's Shipping Address\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Name
  of the Customer's Shipping Address\";s:4:\"type\";s:6:\"string\";}s:6:\"postal\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Postal
  code of the Customer's Shipping Address\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Region
  of the Customer's Shipping Address\";s:4:\"type\";s:6:\"string\";}s:7:\"surname\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Surname
  of the Customer's Shipping Address\";s:4:\"type\";s:6:\"string\";}}}s:13:\"StatusInvalid\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Store\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Store
  Code\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Store
  Country\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Store
  Currency\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Store
  Admin Email\";s:4:\"type\";s:6:\"string\";}s:11:\"hooks_token\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Store
  Hooks Auth token\";s:4:\"type\";s:6:\"string\";}s:4:\"logo\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Store
  Logo URL\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Store
  Name\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Store
  Timezone\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Store
  URL\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Tax\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"field\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TaxFields\";}}s:4:\"type\";s:6:\"object\";}s:7:\"TaxEdit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"field\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TaxEditFields\";}}s:4:\"type\";s:6:\"object\";}s:13:\"TaxEditFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"category_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Unique
  identifier of the category of the Tax\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Country
  where the Tax applies\";s:4:\"type\";s:6:\"string\";}s:5:\"fixed\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:41:\"True
  if the tax has a fixed valued amount\";s:4:\"type\";s:7:\"boolean\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Region
  where the Tax applies\";s:4:\"type\";s:6:\"string\";}s:8:\"shipping\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:51:\"True
  if the tax should be applied to shipping costs\";s:4:\"type\";s:7:\"boolean\";}s:10:\"tax_amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Tax
  value for the given Tax\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:9:\"TaxFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"category_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Unique
  identifier of the category of the Tax\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Country
  name where the Tax applies\";s:4:\"type\";s:6:\"string\";}s:5:\"fixed\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:41:\"True
  if the tax has a fixed valued amount\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Unique
  identifier of the Tax\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Region
  name where the Tax applies\";s:4:\"type\";s:6:\"string\";}s:8:\"shipping\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:51:\"True
  if the tax should be applied to shipping costs\";s:4:\"type\";s:7:\"boolean\";}s:10:\"tax_amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Tax
  value for the given Tax\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Variant\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"variant\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/VariantFields\";}}s:4:\"type\";s:6:\"object\";}s:11:\"VariantEdit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"variant\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/VariantEditFields\";}}s:4:\"type\";s:6:\"object\";}s:17:\"VariantEditFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Unique
  identifier of the product\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"image_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Unique
  identifier of the product image to associate with this variant\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"price\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Price
  of the product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Stock
  Keeping Unit of the Product's Variant\";s:4:\"type\";s:6:\"string\";}s:5:\"stock\";O:8:\"stdClass\":4:{s:7:\"default\";i:100;s:11:\"description\";s:43:\"Quantity
  in stock for the Product's Variant\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"stock_unlimited\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"True
  if the Product's Variant has unlimited stock\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"VariantFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Unique
  identifier of the product\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"price\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Price
  of the product\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Stock
  Keeping Unit of the Product's Variant\";s:4:\"type\";s:6:\"string\";}s:5:\"stock\";O:8:\"stdClass\":4:{s:7:\"default\";i:100;s:11:\"description\";s:43:\"Quantity
  in stock for the Product's Variant\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"stock_unlimited\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"True
  if the Product's Variant has unlimited stock\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}"
...
