---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:322:\"Our unified API
  brings together data across all modes of transport into a single RESTful API. This
  API provides access to the most highly requested realtime and status infomation
  across all the modes of transport, in a single and consistent way. Access to the
  developer documentation is available at https://api.tfl.gov.uk\";s:5:\"title\";s:28:\"Transport
  for London Unified\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:9:\"transport\";i:1;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:102:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_773531056670646272_dsuVeVSg.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:38:\"https://api.tfl.gov.uk/swagger/docs/v1\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"tfl.gov.uk\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"tfl_gov_uk\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.tfl.gov.uk
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":118:{s:31:\"System.Data.Spatial.DbGeography\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"geography\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/System.Data.Spatial.DbGeographyWellKnownValue\";}}s:4:\"type\";s:6:\"object\";}s:45:\"System.Data.Spatial.DbGeographyWellKnownValue\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"coordinateSystemId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"wellKnownBinary\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:13:\"wellKnownText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"System.Object\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"Tfl.Api.Common.ApiVersionInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"assemblies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"Tfl.Api.Common.DateRange\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"endDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"Tfl.Api.Common.DateRangeNullable\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"endDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"Tfl.Api.Common.GeoPoint\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:3:\"lat\";i:1;s:3:\"lon\";}s:4:\"type\";s:6:\"object\";}s:27:\"Tfl.Api.Common.GeoPointBBox\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"neLat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"neLon\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"swLat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"swLon\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:4:{i:0;s:5:\"swLat\";i:1;s:5:\"swLon\";i:2;s:5:\"neLat\";i:3;s:5:\"neLon\";}s:4:\"type\";s:6:\"object\";}s:41:\"Tfl.Api.Common.JourneyPlanner.JpElevation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"distance\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"endLat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"endLon\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"gradient\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:23:\"heightFromPreviousPoint\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"startLat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"startLon\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:28:\"Tfl.Api.Common.PostcodeInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"postcode\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:243:\"^(([gG][iI][rR]
  {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y])))
  {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:58:\"Tfl.Api.Presentation.Entities.AccidentStats.AccidentDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"borough\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"casualties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/Tfl.Api.Presentation.Entities.AccidentStats.Casualty\";}s:4:\"type\";s:5:\"array\";}s:4:\"date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"lat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"lon\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"severity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"vehicles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:65:\"#/definitions/Tfl.Api.Presentation.Entities.AccidentStats.Vehicle\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:71:\"Tfl.Api.Presentation.Entities.AccidentStats.AccidentStatsOrderedSummary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"accidents\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"borough\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"year\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:52:\"Tfl.Api.Presentation.Entities.AccidentStats.Casualty\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"age\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"ageBand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"class\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"severity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:51:\"Tfl.Api.Presentation.Entities.AccidentStats.Vehicle\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:47:\"Tfl.Api.Presentation.Entities.ActiveServiceType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"serviceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:50:\"Tfl.Api.Presentation.Entities.AdditionalProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"modified\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"sourceSystemKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"Tfl.Api.Presentation.Entities.Bay\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"bayCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"bayType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"free\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"occupied\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:48:\"Tfl.Api.Presentation.Entities.BikePointOccupancy\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Bike
  point occupancy\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"bikesCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Total
  bike counts\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"emptyDocks\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Empty
  docks\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Id
  of the bike point such as BikePoints_1\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Name
  / Common name of the bike point\";s:4:\"type\";s:6:\"string\";}s:10:\"totalDocks\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Total
  docks available\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:46:\"Tfl.Api.Presentation.Entities.CarParkOccupancy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"bays\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/Tfl.Api.Presentation.Entities.Bay\";}s:4:\"type\";s:5:\"array\";}s:17:\"carParkDetailsUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:54:\"Tfl.Api.Presentation.Entities.ChargeConnectorOccupancy\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"sourceSystemPlaceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:40:\"Tfl.Api.Presentation.Entities.Coordinate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"easting\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"northing\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"xCoord\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"yCoord\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:38:\"Tfl.Api.Presentation.Entities.Crowding\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"passengerFlows\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Busiest
  times at a station (static information)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/Tfl.Api.Presentation.Entities.PassengerFlow\";}s:4:\"type\";s:5:\"array\";}s:13:\"trainLoadings\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"Train
  Loading on a scale 1-6, 1 being \"Very quiet\" and 6 being \"Exceptionally busy\"
  (static information)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Tfl.Api.Presentation.Entities.TrainLoading\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:47:\"Tfl.Api.Presentation.Entities.CycleSuperhighway\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"geography\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/System.Data.Spatial.DbGeography\";s:11:\"description\";s:67:\"A
  LineString or MultiLineString that forms the route of the highway\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"The
  Id\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  long label to show on maps when zoomed in\";s:4:\"type\";s:6:\"string\";}s:10:\"labelShort\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  short label to show on maps\";s:4:\"type\";s:6:\"string\";}s:8:\"modified\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"When
  the data was last updated\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"segmented\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"True
  if the route is split into segments\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:44:\"Tfl.Api.Presentation.Entities.DisruptedPoint\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:21:\"additionalInformation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"appearance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"atcoCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"commonName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fromDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"stationAtcoCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:40:\"Tfl.Api.Presentation.Entities.Disruption\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Represents
  a disruption to a route within the transport network.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:14:\"additionalInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Gets
  or sets the additionaInfo of this disruption.\";s:4:\"type\";s:6:\"string\";}s:14:\"affectedRoutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Gets
  or sets the routes affected by this disruption\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Tfl.Api.Presentation.Entities.RouteSection\";}s:4:\"type\";s:5:\"array\";}s:13:\"affectedStops\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Gets
  or sets the stops affected by this disruption\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/Tfl.Api.Presentation.Entities.StopPoint\";}s:4:\"type\";s:5:\"array\";}s:8:\"category\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Gets
  or sets the category of this dispruption.\";s:4:\"enum\";a:7:{i:0;s:9:\"Undefined\";i:1;s:8:\"RealTime\";i:2;s:11:\"PlannedWork\";i:3;s:11:\"Information\";i:4;s:5:\"Event\";i:5;s:8:\"Crowding\";i:6;s:11:\"StatusAlert\";}s:4:\"type\";s:6:\"string\";}s:19:\"categoryDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Gets
  or sets the description of the category.\";s:4:\"type\";s:6:\"string\";}s:11:\"closureText\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Text
  describing the closure type\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Gets
  or sets the date/time when this disruption was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Gets
  or sets the description of this disruption.\";s:4:\"type\";s:6:\"string\";}s:10:\"lastUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Gets
  or sets the date/time when this disruption was last updated.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Gets
  or sets the summary of this disruption.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Gets
  or sets the disruption type of this dispruption.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:40:\"Tfl.Api.Presentation.Entities.Fares.Fare\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:3:\"cap\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"cost\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"passengerType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ticketTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ticketType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"validFrom\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"validUntil\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:46:\"Tfl.Api.Presentation.Entities.Fares.FareBounds\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"displayOrder\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"isPopularFare\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"isPopularTravelCard\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"isTour\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"messages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/Tfl.Api.Presentation.Entities.Message\";}s:4:\"type\";s:5:\"array\";}s:8:\"operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"routeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"via\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:47:\"Tfl.Api.Presentation.Entities.Fares.FareDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:8:\"boundsId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"displayOrder\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"endDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"fromStation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"isTour\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"messages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/Tfl.Api.Presentation.Entities.Message\";}s:4:\"type\";s:5:\"array\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"passengerType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"routeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"routeDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"specialFare\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"throughFare\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"ticketsAvailable\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Tfl.Api.Presentation.Entities.Fares.Ticket\";}s:4:\"type\";s:5:\"array\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"toStation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"validatorInformation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"via\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:45:\"Tfl.Api.Presentation.Entities.Fares.FaresMode\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:47:\"Tfl.Api.Presentation.Entities.Fares.FaresPeriod\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"endDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"isFuture\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"viewableDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:48:\"Tfl.Api.Presentation.Entities.Fares.FaresSection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"index\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"messages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/Tfl.Api.Presentation.Entities.Message\";}s:4:\"type\";s:5:\"array\";}s:4:\"rows\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/Tfl.Api.Presentation.Entities.Fares.FareDetails\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:49:\"Tfl.Api.Presentation.Entities.Fares.PassengerType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"displayOrder\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:50:\"Tfl.Api.Presentation.Entities.Fares.Recommendation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:4:\"cost\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"discountCard\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fareType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"gettingYourTicket\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/Tfl.Api.Presentation.Entities.Message\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"keyFeatures\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/Tfl.Api.Presentation.Entities.Message\";}s:4:\"type\";s:5:\"array\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/Tfl.Api.Presentation.Entities.Message\";}s:4:\"type\";s:5:\"array\";}s:15:\"priceComparison\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"priceDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"product\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"productType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rank\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"recommendedTopUp\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rule\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"singleFare\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"ticketTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ticketType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"zones\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:58:\"Tfl.Api.Presentation.Entities.Fares.RecommendationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"recommendations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/Tfl.Api.Presentation.Entities.Fares.Recommendation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:42:\"Tfl.Api.Presentation.Entities.Fares.Ticket\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"cost\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"displayOrder\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"messages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/Tfl.Api.Presentation.Entities.Message\";}s:4:\"type\";s:5:\"array\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"passengerType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ticketTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/Tfl.Api.Presentation.Entities.Fares.TicketTime\";}s:10:\"ticketType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/Tfl.Api.Presentation.Entities.Fares.TicketType\";}}s:4:\"type\";s:6:\"object\";}s:46:\"Tfl.Api.Presentation.Entities.Fares.TicketTime\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:46:\"Tfl.Api.Presentation.Entities.Fares.TicketType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:48:\"Tfl.Api.Presentation.Entities.GeoCodeSearchMatch\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"A
  string describing the formatted address of the place. Adds additional context to
  the place's Name.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"lat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"types\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  type of the place e.g. \"street_address\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:40:\"Tfl.Api.Presentation.Entities.Identifier\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"crowding\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/Tfl.Api.Presentation.Entities.Crowding\";}s:8:\"fullName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:41:\"Tfl.Api.Presentation.Entities.Instruction\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"detailed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"steps\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/Tfl.Api.Presentation.Entities.InstructionStep\";}s:4:\"type\";s:5:\"array\";}s:7:\"summary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:45:\"Tfl.Api.Presentation.Entities.InstructionStep\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:18:\"cumulativeDistance\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"cumulativeTravelTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"descriptionHeading\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"distance\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"pathAttribute\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/Tfl.Api.Presentation.Entities.PathAttribute\";}s:12:\"skyDirection\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:23:\"skyDirectionDescription\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:5:\"North\";i:1;s:9:\"NorthEast\";i:2;s:4:\"East\";i:3;s:9:\"SouthEast\";i:4;s:5:\"South\";i:5;s:9:\"SouthWest\";i:6;s:4:\"West\";i:7;s:9:\"NorthWest\";}s:4:\"type\";s:6:\"string\";}s:10:\"streetName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"trackType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:17:\"CycleSuperHighway\";i:1;s:12:\"CanalTowpath\";i:2;s:9:\"QuietRoad\";i:3;s:20:\"ProvisionForCyclists\";i:4;s:9:\"BusyRoads\";i:5;s:4:\"None\";i:6;s:8:\"PushBike\";i:7;s:8:\"Quietway\";}s:4:\"type\";s:6:\"string\";}s:13:\"turnDirection\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:38:\"Tfl.Api.Presentation.Entities.Interval\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"stopId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"timeToArrival\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:49:\"Tfl.Api.Presentation.Entities.JourneyPlanner.Fare\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"chargeLevel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"chargeProfileName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"cost\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"highZone\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"isHopperFare\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"lowZone\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"offPeak\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"peak\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"taps\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.FareTap\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:55:\"Tfl.Api.Presentation.Entities.JourneyPlanner.FareCaveat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:52:\"Tfl.Api.Presentation.Entities.JourneyPlanner.FareTap\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"atcoCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"tapDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.FareTapDetails\";}}s:4:\"type\";s:6:\"object\";}s:59:\"Tfl.Api.Presentation.Entities.JourneyPlanner.FareTapDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"busRouteId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"hostDeviceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"modeType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"nationalLocationCode\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"tapTimestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"validationType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:60:\"Tfl.Api.Presentation.Entities.JourneyPlanner.ItineraryResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  DTO representing a list of possible journeys.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:27:\"cycleHireDockingStationData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:100:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.JourneyPlannerCycleHireDockingStationData\";}s:13:\"journeyVector\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:72:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.JourneyVector\";}s:8:\"journeys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.Journey\";}s:4:\"type\";s:5:\"array\";}s:5:\"lines\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/Tfl.Api.Presentation.Entities.Line\";}s:4:\"type\";s:5:\"array\";}s:24:\"recommendedMaxAgeMinutes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"searchCriteria\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.SearchCriteria\";}s:12:\"stopMessages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:52:\"Tfl.Api.Presentation.Entities.JourneyPlanner.Journey\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Object
  that represents an end to end journey (see schematic).\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"arrivalDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"fare\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:70:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.JourneyFare\";}s:4:\"legs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.Leg\";}s:4:\"type\";s:5:\"array\";}s:13:\"startDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:56:\"Tfl.Api.Presentation.Entities.JourneyPlanner.JourneyFare\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"caveats\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:69:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.FareCaveat\";}s:4:\"type\";s:5:\"array\";}s:5:\"fares\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:63:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.Fare\";}s:4:\"type\";s:5:\"array\";}s:9:\"totalCost\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:86:\"Tfl.Api.Presentation.Entities.JourneyPlanner.JourneyPlannerCycleHireDockingStationData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"destinationId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"destinationNumberOfBikes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:29:\"destinationNumberOfEmptySlots\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"originId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"originNumberOfBikes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:24:\"originNumberOfEmptySlots\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:58:\"Tfl.Api.Presentation.Entities.JourneyPlanner.JourneyVector\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"via\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:48:\"Tfl.Api.Presentation.Entities.JourneyPlanner.Leg\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:12:\"arrivalPoint\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/Tfl.Api.Presentation.Entities.Point\";}s:11:\"arrivalTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"departurePoint\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/Tfl.Api.Presentation.Entities.Point\";}s:13:\"departureTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"disruptions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Tfl.Api.Presentation.Entities.Disruption\";}s:4:\"type\";s:5:\"array\";}s:8:\"distance\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"hasFixedLocations\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:11:\"instruction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:55:\"#/definitions/Tfl.Api.Presentation.Entities.Instruction\";s:11:\"description\";s:106:\"Describes
  the action the user need to take for this section, E.g. \"walk to the\r\n            district
  line\"\";}s:11:\"isDisrupted\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Tfl.Api.Presentation.Entities.Identifier\";}s:9:\"obstacles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.Obstacle\";}s:4:\"type\";s:5:\"array\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:63:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.Path\";}s:12:\"plannedWorks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:70:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.PlannedWork\";}s:4:\"type\";s:5:\"array\";}s:12:\"routeOptions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:70:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.RouteOption\";}s:4:\"type\";s:5:\"array\";}s:5:\"speed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:53:\"Tfl.Api.Presentation.Entities.JourneyPlanner.Obstacle\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"incline\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"stopId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:49:\"Tfl.Api.Presentation.Entities.JourneyPlanner.Path\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"elevation\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/Tfl.Api.Common.JourneyPlanner.JpElevation\";}s:4:\"type\";s:5:\"array\";}s:10:\"lineString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"stopPoints\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Tfl.Api.Presentation.Entities.Identifier\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:56:\"Tfl.Api.Presentation.Entities.JourneyPlanner.PlannedWork\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"createdDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"lastUpdateDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:56:\"Tfl.Api.Presentation.Entities.JourneyPlanner.RouteOption\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"directions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  Id of the route\";s:4:\"type\";s:6:\"string\";}s:14:\"lineIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:54:\"#/definitions/Tfl.Api.Presentation.Entities.Identifier\";s:11:\"description\";s:137:\"The
  line identifier (e.g. District Line), from where you can obtain line status information
  e.g. the rainbow board status \"good service\".\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  such as \"72\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:59:\"Tfl.Api.Presentation.Entities.JourneyPlanner.SearchCriteria\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"dateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"dateTimeType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:8:\"Arriving\";i:1;s:9:\"Departing\";}s:4:\"type\";s:6:\"string\";}s:15:\"timeAdjustments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:74:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.TimeAdjustments\";}}s:4:\"type\";s:6:\"object\";}s:59:\"Tfl.Api.Presentation.Entities.JourneyPlanner.TimeAdjustment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"timeIs\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:60:\"Tfl.Api.Presentation.Entities.JourneyPlanner.TimeAdjustments\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"earlier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.TimeAdjustment\";}s:8:\"earliest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.TimeAdjustment\";}s:5:\"later\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.TimeAdjustment\";}s:6:\"latest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/Tfl.Api.Presentation.Entities.JourneyPlanner.TimeAdjustment\";}}s:4:\"type\";s:6:\"object\";}s:42:\"Tfl.Api.Presentation.Entities.KnownJourney\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"hour\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"intervalId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"minute\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"Tfl.Api.Presentation.Entities.Line\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"crowding\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/Tfl.Api.Presentation.Entities.Crowding\";}s:11:\"disruptions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Tfl.Api.Presentation.Entities.Disruption\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"lineStatuses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Tfl.Api.Presentation.Entities.LineStatus\";}s:4:\"type\";s:5:\"array\";}s:8:\"modeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"modified\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"routeSections\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Tfl.Api.Presentation.Entities.MatchedRoute\";}s:4:\"type\";s:5:\"array\";}s:12:\"serviceTypes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:63:\"#/definitions/Tfl.Api.Presentation.Entities.LineServiceTypeInfo\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:39:\"Tfl.Api.Presentation.Entities.LineGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"lineIdentifier\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"naptanIdReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"stationAtcoCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:43:\"Tfl.Api.Presentation.Entities.LineModeGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"lineIdentifier\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"modeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:46:\"Tfl.Api.Presentation.Entities.LineRouteSection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"destination\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"fromStation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"routeId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"serviceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"toStation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"vehicleDestinationText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:45:\"Tfl.Api.Presentation.Entities.LineServiceType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"lineName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"lineSpecificServiceTypes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/Tfl.Api.Presentation.Entities.LineSpecificServiceType\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:49:\"Tfl.Api.Presentation.Entities.LineServiceTypeInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:53:\"Tfl.Api.Presentation.Entities.LineSpecificServiceType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"serviceType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:63:\"#/definitions/Tfl.Api.Presentation.Entities.LineServiceTypeInfo\";}s:21:\"stopServesServiceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:40:\"Tfl.Api.Presentation.Entities.LineStatus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"disruption\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Tfl.Api.Presentation.Entities.Disruption\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"lineId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"modified\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"statusSeverity\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"statusSeverityDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"validityPeriods\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/Tfl.Api.Presentation.Entities.ValidityPeriod\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:42:\"Tfl.Api.Presentation.Entities.MatchedRoute\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Description
  of a Route used in Route search results.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"destination\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  Id (NaPTAN code) or the Destination StopPoint\";s:4:\"type\";s:6:\"string\";}s:15:\"destinationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  name of the Destination StopPoint\";s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Inbound
  or Outbound\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  such as \"72\"\";s:4:\"type\";s:6:\"string\";}s:15:\"originationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  name of the Origin StopPoint\";s:4:\"type\";s:6:\"string\";}s:10:\"originator\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  Id (NaPTAN code) of the Origin StopPoint\";s:4:\"type\";s:6:\"string\";}s:9:\"routeCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  route code\";s:4:\"type\";s:6:\"string\";}s:11:\"serviceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Regular
  or Night\";s:4:\"type\";s:6:\"string\";}s:9:\"validFrom\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  DateTime that the Service containing this Route is valid from.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"validTo\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  DateTime that the Service containing this Route is valid until.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:50:\"Tfl.Api.Presentation.Entities.MatchedRouteSections\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:41:\"Tfl.Api.Presentation.Entities.MatchedStop\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:20:\"accessibilitySummary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"hasDisruption\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"icsId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"lat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"lines\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Tfl.Api.Presentation.Entities.Identifier\";}s:4:\"type\";s:5:\"array\";}s:3:\"lon\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"modes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"parentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"routeId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"stationId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"stopLetter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"stopType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"topMostParentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"towards\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:37:\"Tfl.Api.Presentation.Entities.Message\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"bulletOrder\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"linkText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"messageText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"Tfl.Api.Presentation.Entities.Mode\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"isFarePaying\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"isScheduledService\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"isTflService\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"modeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:43:\"Tfl.Api.Presentation.Entities.NetworkStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Represent
  travel network status\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"statusLevel\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:42:\"Tfl.Api.Presentation.Entities.OrderedRoute\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"naptanIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"serviceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:43:\"Tfl.Api.Presentation.Entities.PassengerFlow\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"timeSlice\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Time
  in 24hr format with 15 minute intervals e.g. 0500-0515, 0515-0530 etc.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Count
  of passenger flow towards a platform\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:43:\"Tfl.Api.Presentation.Entities.PathAttribute\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:36:\"Tfl.Api.Presentation.Entities.Period\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"frequency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/Tfl.Api.Presentation.Entities.ServiceFrequency\";}s:8:\"fromTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/Tfl.Api.Presentation.Entities.TwentyFourHourClockTime\";}s:6:\"toTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/Tfl.Api.Presentation.Entities.TwentyFourHourClockTime\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:6:\"Normal\";i:1;s:14:\"FrequencyHours\";i:2;s:16:\"FrequencyMinutes\";i:3;s:7:\"Unknown\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"Tfl.Api.Presentation.Entities.Place\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:20:\"additionalProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  bag of additional key/value pairs with extra information about this place.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/Tfl.Api.Presentation.Entities.AdditionalProperties\";}s:4:\"type\";s:5:\"array\";}s:8:\"children\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/Tfl.Api.Presentation.Entities.Place\";}s:4:\"type\";s:5:\"array\";}s:12:\"childrenUrls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"commonName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"A
  human readable name.\";s:4:\"type\";s:6:\"string\";}s:8:\"distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"The
  distance of the place from its search point, if this is the result\r\n            of
  a geographical search, otherwise zero.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"A
  unique identifier.\";s:4:\"type\";s:6:\"string\";}s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"WGS84
  latitude of the location.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"WGS84
  longitude of the location.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"placeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  type of Place. See /Place/Meta/placeTypes for possible values.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  unique location of this resource.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:43:\"Tfl.Api.Presentation.Entities.PlaceCategory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"availableKeys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:42:\"Tfl.Api.Presentation.Entities.PlacePolygon\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"commonName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"geoPoints\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/Tfl.Api.Common.GeoPoint\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:35:\"Tfl.Api.Presentation.Entities.Point\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Represents
  a point located at a latitude and longitude using the WGS84 co-ordinate system.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"WGS84
  latitude of the location.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"WGS84
  longitude of the location.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:40:\"Tfl.Api.Presentation.Entities.Prediction\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"DTO
  to capture the prediction details\";s:10:\"properties\";O:8:\"stdClass\":20:{s:7:\"bearing\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Bearing
  (between 0 to 359)\";s:4:\"type\";s:6:\"string\";}s:15:\"currentLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  current location of the vehicle.\";s:4:\"type\";s:6:\"string\";}s:15:\"destinationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Name
  of the destination\";s:4:\"type\";s:6:\"string\";}s:19:\"destinationNaptanId\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Naptan
  Identifier for the prediction's destination\";s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Direction
  (unified to inbound/outbound)\";s:4:\"type\";s:6:\"string\";}s:15:\"expectedArrival\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  expected arrival time of the vehicle at the stop/station\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  identitier for the prediction\";s:4:\"type\";s:6:\"string\";}s:6:\"lineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Unique
  identifier for the Line\";s:4:\"type\";s:6:\"string\";}s:8:\"lineName\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Line
  Name\";s:4:\"type\";s:6:\"string\";}s:8:\"modeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  mode name of the station/line the prediction relates to\";s:4:\"type\";s:6:\"string\";}s:8:\"naptanId\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Identifier
  for the prediction\";s:4:\"type\";s:6:\"string\";}s:13:\"operationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"The
  type of the operation (1: is new or has been updated, 2: should be deleted from
  any client cache)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"platformName\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Platform
  name (for bus, this is the stop letter)\";s:4:\"type\";s:6:\"string\";}s:11:\"stationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Station
  name\";s:4:\"type\";s:6:\"string\";}s:10:\"timeToLive\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  expiry time for the prediction\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"timeToStation\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Prediction
  of the Time to station in seconds\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Timestamp
  for when the prediction was inserted/modified (source column drives what objects
  are broadcast on each iteration)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"timing\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:60:\"#/definitions/Tfl.Api.Presentation.Entities.PredictionTiming\";s:11:\"description\";s:62:\"Keep
  the original timestamp from MongoDb fo debugging purposes\";}s:7:\"towards\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Routing
  information or other descriptive text about the path of the vehicle towards the
  destination\";s:4:\"type\";s:6:\"string\";}s:9:\"vehicleId\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  actual vehicle in transit (for train modes, the leading car of the rolling set)\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:46:\"Tfl.Api.Presentation.Entities.PredictionTiming\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:25:\"countdownServerAdjustment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"insert\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"read\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"received\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"sent\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:38:\"Tfl.Api.Presentation.Entities.Redirect\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"longUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"shortUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:42:\"Tfl.Api.Presentation.Entities.RoadCorridor\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"bounds\";O:8:\"stdClass\":2:{s:11:\"description\";s:178:\"The
  Bounds of the Corridor, given by the south-east followed by the north-west co-ordinate\r\n
  \           pair in geoJSON format e.g. \"[[-1.241531,51.242151],[1.641223,53.765721]]\"\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  display name of the Corridor e.g. \"North Circular (A406)\". This\r\n            may
  be identical to the Id.\";s:4:\"type\";s:6:\"string\";}s:8:\"envelope\";O:8:\"stdClass\":2:{s:11:\"description\";s:226:\"The
  Envelope of the Corridor, given by the corner co-ordinates of a rectangular (four-point)
  polygon\r\n            in geoJSON format e.g. \"[[-1.241531,51.242151],[-1.241531,53.765721],[1.641223,53.765721],[1.641223,51.242151]]\"\";s:4:\"type\";s:6:\"string\";}s:5:\"group\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"The
  group name of the Corridor e.g. \"Central London\". Most corridors are not grouped,
  in which case this field can be null.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  Id of the Corridor e.g. \"A406\"\";s:4:\"type\";s:6:\"string\";}s:24:\"statusAggregationEndDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  end of the period over which status has been aggregated, or null if this is the
  current corridor status.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:26:\"statusAggregationStartDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"The
  start of the period over which status has been aggregated, or null if this is the
  current corridor status.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"statusSeverity\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Standard
  multi-mode status severity code\";s:4:\"type\";s:6:\"string\";}s:25:\"statusSeverityDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Description
  of the status severity as applied to RoadCorridors\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"URL
  to retrieve this Corridor.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:44:\"Tfl.Api.Presentation.Entities.RoadDisruption\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":31:{s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Describes
  the nature of disruption e.g. Traffic Incidents, Works\";s:4:\"type\";s:6:\"string\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"Full
  text of comments describing the disruption, including details of any road closures
  and diversions, where appropriate.\";s:4:\"type\";s:6:\"string\";}s:11:\"corridorIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  Ids of affected corridors, if any.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"currentUpdate\";O:8:\"stdClass\":2:{s:11:\"description\";s:172:\"Text
  of the most recent update from the LSTCC on the state of the\r\n             disruption,
  including the current traffic impact and any advice to\r\n             road users.\";s:4:\"type\";s:6:\"string\";}s:21:\"currentUpdateDateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"The
  time when the last CurrentUpdate description was recorded, \r\n            or null
  if no CurrentUpdate has been applied.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"endDateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:189:\"The
  date and time on which the disruption ended. For planned disruptions, this date
  will have a valid value. For unplanned \r\n            disruptions in progress,
  this field will be omitted.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"geography\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/System.Data.Spatial.DbGeography\";s:11:\"description\";s:149:\"Geography
  version of Point for output as GeoJSON.\r\n            Can not use Geometry in a
  consistent way as non-TIMS disruptions do not have a polygon\";}s:8:\"geometry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/System.Data.Spatial.DbGeography\";s:11:\"description\";s:340:\"GeoJSON
  formatted latitude/longitude (WGS84) pairs forming an enclosed polyline or polygon.
  The polygon will only be included where affected streets information\r\n            is
  not available for the disruption, would be inappropriate (e.g. a very large number
  of streets), or is centred on an area without streets (e.g. a football stadium).\";}s:11:\"hasClosures\";O:8:\"stdClass\":2:{s:11:\"description\";s:212:\"True
  if any of the affected Streets have a \"Full Closure\" status, false otherwise.
  A RoadDisruption that has HasClosures is considered a \r\n            Severe or
  Serious disruption for severity filtering purposes.\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Unique
  identifier for the road disruption\";s:4:\"type\";s:6:\"string\";}s:13:\"isProvisional\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"True
  if the disruption is planned on a future date that is open to change\";s:4:\"type\";s:7:\"boolean\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:233:\"The
  date and time on which the disruption was last modified in the system. This information
  can reliably be used by a developer to quickly\r\n            compare two instances
  of the same disruption to determine if it has been changed.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"levelOfInterest\";O:8:\"stdClass\":2:{s:11:\"description\";s:350:\"This
  describes the level of potential impact on traffic operations of the disruption.
  \r\n            High = e.g. a one-off disruption on a major or high profile route
  which will require a high level of operational attention \r\n            Medium
  = This is the default value \r\n            Low = e.g. a frequently occurring disruption
  which is well known\";s:4:\"type\";s:6:\"string\";}s:8:\"linkText\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  text of any associated link\";s:4:\"type\";s:6:\"string\";}s:7:\"linkUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  url of any associated link\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"Main
  road name / number (borough) or preset area name where the disruption is located.
  This might be useful for a map popup where space is limited.\";s:4:\"type\";s:6:\"string\";}s:7:\"ordinal\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"An
  ordinal of the disruption based on severity, level of interest and corridor.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"point\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Latitude
  and longitude (WGS84) of the centroid of the disruption, stored in a geoJSON-formatted
  string.\";s:4:\"type\";s:6:\"string\";}s:14:\"publishEndDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"publishStartDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"TDM
  Additional properties\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"recurringSchedules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/Tfl.Api.Presentation.Entities.RoadDisruptionSchedule\";}s:4:\"type\";s:5:\"array\";}s:25:\"roadDisruptionImpactAreas\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"#/definitions/Tfl.Api.Presentation.Entities.RoadDisruptionImpactArea\";}s:4:\"type\";s:5:\"array\";}s:19:\"roadDisruptionLines\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/Tfl.Api.Presentation.Entities.RoadDisruptionLine\";}s:4:\"type\";s:5:\"array\";}s:11:\"roadProject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:55:\"#/definitions/Tfl.Api.Presentation.Entities.RoadProject\";s:11:\"description\";s:27:\"Any
  associated road project\";}s:8:\"severity\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"A
  description of the severity of the disruption.\";s:4:\"type\";s:6:\"string\";}s:13:\"startDateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:282:\"The
  date and time which the disruption started. For a planned disruption (i.e. planned
  road works) this date will be in the future.\r\n            For unplanned disruptions,
  this will default to the date on which the disruption was first recorded, but may
  be adjusted by the operator.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:621:\"This
  describes the status of the disruption.  \r\n            Active = currently in progress
  \r\n            Active Long Term = currently in progress and long term\r\n            Scheduled
  = scheduled to start within the next 180 days\r\n            Recurring Works = planned
  maintenance works that follow a regular routine or pattern and whose next occurrence
  is to start within the next 180 days.\r\n            Recently Cleared = recently
  cleared in the last 24 hours\r\n            Note that the status of Scheduled or
  Recurring Works disruptions will change to Active when they start, and will change
  status again when they end.\";s:4:\"type\";s:6:\"string\";}s:7:\"streets\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"A
  collection of zero or more streets affected by the disruption.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/Tfl.Api.Presentation.Entities.Street\";}s:4:\"type\";s:5:\"array\";}s:11:\"subCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Describes
  the sub-category of disruption e.g. Collapsed Manhole, Abnormal Load\";s:4:\"type\";s:6:\"string\";}s:9:\"timeFrame\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"URL
  to retrieve this road disruption\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:54:\"Tfl.Api.Presentation.Entities.RoadDisruptionImpactArea\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"endDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"polygon\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/System.Data.Spatial.DbGeography\";}s:16:\"roadDisruptionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:48:\"Tfl.Api.Presentation.Entities.RoadDisruptionLine\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"endDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"isDiversion\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"multiLineString\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/System.Data.Spatial.DbGeography\";}s:16:\"roadDisruptionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:52:\"Tfl.Api.Presentation.Entities.RoadDisruptionSchedule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"endTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:41:\"Tfl.Api.Presentation.Entities.RoadProject\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:17:\"boroughsBenefited\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"constructionEndDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:21:\"constructionStartDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"consultationEndDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"consultationPageUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"consultationStartDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"contactEmail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"contactName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"cycleSuperhighwayId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"externalPageUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phase\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:8:\"Unscoped\";i:1;s:7:\"Concept\";i:2;s:17:\"ConsultationEnded\";i:3;s:12:\"Consultation\";i:4;s:12:\"Construction\";i:5;s:8:\"Complete\";}s:4:\"type\";s:6:\"string\";}s:18:\"projectDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"projectName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"projectPageUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"projectSummaryPageUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"schemeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:46:\"Tfl.Api.Presentation.Entities.RouteSearchMatch\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"lat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"lineId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lineName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"lineRouteSection\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/Tfl.Api.Presentation.Entities.LineRouteSection\";}s:4:\"type\";s:5:\"array\";}s:3:\"lon\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:20:\"matchedRouteSections\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/Tfl.Api.Presentation.Entities.MatchedRouteSections\";}s:4:\"type\";s:5:\"array\";}s:12:\"matchedStops\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/Tfl.Api.Presentation.Entities.MatchedStop\";}s:4:\"type\";s:5:\"array\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:49:\"Tfl.Api.Presentation.Entities.RouteSearchResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"input\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"searchMatches\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/Tfl.Api.Presentation.Entities.RouteSearchMatch\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:42:\"Tfl.Api.Presentation.Entities.RouteSection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:15:\"destinationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  name of the Destination StopPoint\";s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Inbound
  or Outbound\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  Id of the route\";s:4:\"type\";s:6:\"string\";}s:6:\"lineId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  Id of the Line\";s:4:\"type\";s:6:\"string\";}s:10:\"lineString\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  co-ordinates of the route's path as a geoJSON lineString\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  such as \"72\"\";s:4:\"type\";s:6:\"string\";}s:15:\"originationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  name of the Origin StopPoint\";s:4:\"type\";s:6:\"string\";}s:9:\"routeCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  route code\";s:4:\"type\";s:6:\"string\";}s:31:\"routeSectionNaptanEntrySequence\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:75:\"#/definitions/Tfl.Api.Presentation.Entities.RouteSectionNaptanEntrySequence\";}s:4:\"type\";s:5:\"array\";}s:9:\"validFrom\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  DateTime that the Service containing this Route is valid from.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"validTo\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  DateTime that the Service containing this Route is valid until.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:61:\"Tfl.Api.Presentation.Entities.RouteSectionNaptanEntrySequence\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"ordinal\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"stopPoint\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/Tfl.Api.Presentation.Entities.StopPoint\";}}s:4:\"type\";s:6:\"object\";}s:43:\"Tfl.Api.Presentation.Entities.RouteSequence\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"isOutboundOnly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"lineId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lineName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"lineStrings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"orderedLineRoutes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Tfl.Api.Presentation.Entities.OrderedRoute\";}s:4:\"type\";s:5:\"array\";}s:8:\"stations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/Tfl.Api.Presentation.Entities.MatchedStop\";}s:4:\"type\";s:5:\"array\";}s:18:\"stopPointSequences\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/Tfl.Api.Presentation.Entities.StopPointSequence\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:38:\"Tfl.Api.Presentation.Entities.Schedule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"firstJourney\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Tfl.Api.Presentation.Entities.KnownJourney\";}s:13:\"knownJourneys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Tfl.Api.Presentation.Entities.KnownJourney\";}s:4:\"type\";s:5:\"array\";}s:11:\"lastJourney\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Tfl.Api.Presentation.Entities.KnownJourney\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"periods\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/Tfl.Api.Presentation.Entities.Period\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:41:\"Tfl.Api.Presentation.Entities.SearchMatch\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"lat\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:44:\"Tfl.Api.Presentation.Entities.SearchResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"from\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"matches\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/Tfl.Api.Presentation.Entities.SearchMatch\";}s:4:\"type\";s:5:\"array\";}s:8:\"maxScore\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"pageSize\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"provider\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:46:\"Tfl.Api.Presentation.Entities.ServiceFrequency\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"highestFrequency\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"lowestFrequency\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:45:\"Tfl.Api.Presentation.Entities.StationInterval\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"intervals\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/Tfl.Api.Presentation.Entities.Interval\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:44:\"Tfl.Api.Presentation.Entities.StatusSeverity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"modeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"severityLevel\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:39:\"Tfl.Api.Presentation.Entities.StopPoint\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":27:{s:20:\"accessibilitySummary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"additionalProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  bag of additional key/value pairs with extra information about this place.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/Tfl.Api.Presentation.Entities.AdditionalProperties\";}s:4:\"type\";s:5:\"array\";}s:8:\"children\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/Tfl.Api.Presentation.Entities.Place\";}s:4:\"type\";s:5:\"array\";}s:12:\"childrenUrls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"commonName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"A
  human readable name.\";s:4:\"type\";s:6:\"string\";}s:8:\"distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"The
  distance of the place from its search point, if this is the result\r\n            of
  a geographical search, otherwise zero.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"fullName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"hubNaptanCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"icsCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"A
  unique identifier.\";s:4:\"type\";s:6:\"string\";}s:9:\"indicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  indicator of the stop point e.g. \"Stop K\"\";s:4:\"type\";s:6:\"string\";}s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"WGS84
  latitude of the location.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"lineGroup\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/Tfl.Api.Presentation.Entities.LineGroup\";}s:4:\"type\";s:5:\"array\";}s:14:\"lineModeGroups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/Tfl.Api.Presentation.Entities.LineModeGroup\";}s:4:\"type\";s:5:\"array\";}s:5:\"lines\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Tfl.Api.Presentation.Entities.Identifier\";}s:4:\"type\";s:5:\"array\";}s:3:\"lon\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"WGS84
  longitude of the location.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"modes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"naptanId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"naptanMode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"placeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  type of Place. See /Place/Meta/placeTypes for possible values.\";s:4:\"type\";s:6:\"string\";}s:12:\"platformName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"smsCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"stationNaptan\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"stopLetter\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  stop letter, if it could be cleansed from the Indicator e.g. \"K\"\";s:4:\"type\";s:6:\"string\";}s:8:\"stopType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  unique location of this resource.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:47:\"Tfl.Api.Presentation.Entities.StopPointCategory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"availableKeys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:51:\"Tfl.Api.Presentation.Entities.StopPointRouteSection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:15:\"destinationName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"isActive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"lineId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"lineString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"naptanId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"routeSectionName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"serviceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"validFrom\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"validTo\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:22:\"vehicleDestinationText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:47:\"Tfl.Api.Presentation.Entities.StopPointSequence\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"branchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  id of this branch.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"lineId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lineName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"nextBranchIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"The
  ids of the next branch(es) in the sequence. Note that the next and previous branch
  id can be\r\n            identical in the case of a looped route e.g. the Circle
  line.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:13:\"prevBranchIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:175:\"The
  ids of the previous branch(es) in the sequence. Note that the next and previous
  branch id can be\r\n            identical in the case of a looped route e.g. the
  Circle line.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:11:\"serviceType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"Regular\";i:1;s:5:\"Night\";}s:4:\"type\";s:6:\"string\";}s:9:\"stopPoint\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/Tfl.Api.Presentation.Entities.MatchedStop\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:48:\"Tfl.Api.Presentation.Entities.StopPointsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"A
  paged response containing StopPoints\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"centrePoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  centre latitude/longitude of this list of StopPoints\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"page\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  index of this page\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"pageSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  maximum size of the page in this response i.e. the maximum number of StopPoints\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"stopPoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Collection
  of stop points\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/Tfl.Api.Presentation.Entities.StopPoint\";}s:4:\"type\";s:5:\"array\";}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  total number of StopPoints available across all pages\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:36:\"Tfl.Api.Presentation.Entities.Street\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"closure\";O:8:\"stdClass\":2:{s:11:\"description\";s:327:\"Type
  of road closure. Some example values:\r\n            Open = road is open, not blocked,
  not closed, not restricted. It maybe that the disruption has been moved out of the
  carriageway.\r\n            Partial Closure = road is partially blocked, closed
  or restricted. \r\n            Full Closure = road is fully blocked or closed.\";s:4:\"type\";s:6:\"string\";}s:10:\"directions\";O:8:\"stdClass\":2:{s:11:\"description\";s:297:\"The
  direction of the disruption on the street. Some example values:\r\n            All
  Directions\r\n            All Approaches\r\n            Clockwise\r\n            Anti-Clockwise\r\n
  \           Northbound\r\n            Eastbound\r\n            Southbound\r\n            Westbound\r\n
  \           Both Directions\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Street
  name\";s:4:\"type\";s:6:\"string\";}s:8:\"segments\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Geographic
  description of the sections of this street that are affected.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/Tfl.Api.Presentation.Entities.StreetSegment\";}s:4:\"type\";s:5:\"array\";}s:14:\"sourceSystemId\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  ID from the source system of the disruption that this street belongs to.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"sourceSystemKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"The
  key of the source system of the disruption that this street belongs to.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:43:\"Tfl.Api.Presentation.Entities.StreetSegment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"lineString\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"geoJSON
  formatted LineString containing two latitude/longitude (WGS84) pairs that identify
  the start and end points of the street segment.\";s:4:\"type\";s:6:\"string\";}s:14:\"sourceSystemId\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  ID from the source system of the disruption that this street belongs to.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"sourceSystemKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"The
  key of the source system of the disruption that this street belongs to.\";s:4:\"type\";s:6:\"string\";}s:4:\"toid\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"A
  16 digit unique integer identifying a OS ITN (Ordnance Survey Integrated Transport
  Network) road link.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:39:\"Tfl.Api.Presentation.Entities.Timetable\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"departureStopId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"routes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/Tfl.Api.Presentation.Entities.TimetableRoute\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:47:\"Tfl.Api.Presentation.Entities.TimetableResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"disambiguation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:69:\"#/definitions/Tfl.Api.Presentation.Entities.Timetables.Disambiguation\";}s:6:\"lineId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lineName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"pdfUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"stations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/Tfl.Api.Presentation.Entities.MatchedStop\";}s:4:\"type\";s:5:\"array\";}s:18:\"statusErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"stops\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/Tfl.Api.Presentation.Entities.MatchedStop\";}s:4:\"type\";s:5:\"array\";}s:9:\"timetable\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/Tfl.Api.Presentation.Entities.Timetable\";}}s:4:\"type\";s:6:\"object\";}s:44:\"Tfl.Api.Presentation.Entities.TimetableRoute\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"schedules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/Tfl.Api.Presentation.Entities.Schedule\";}s:4:\"type\";s:5:\"array\";}s:16:\"stationIntervals\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/Tfl.Api.Presentation.Entities.StationInterval\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:55:\"Tfl.Api.Presentation.Entities.Timetables.Disambiguation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"disambiguationOptions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:75:\"#/definitions/Tfl.Api.Presentation.Entities.Timetables.DisambiguationOption\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:61:\"Tfl.Api.Presentation.Entities.Timetables.DisambiguationOption\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:42:\"Tfl.Api.Presentation.Entities.TrainLoading\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"direction\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Direction
  in regards to Journey Planner i.e. inbound or outbound\";s:4:\"type\";s:6:\"string\";}s:4:\"line\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  Line Name e.g. \"Victoria\"\";s:4:\"type\";s:6:\"string\";}s:13:\"lineDirection\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Direction
  of the Line e.g. NB, SB, WB etc.\";s:4:\"type\";s:6:\"string\";}s:8:\"naptanTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Naptan
  of the adjacent station\";s:4:\"type\";s:6:\"string\";}s:17:\"platformDirection\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Direction
  displayed on the platform e.g. NB, SB, WB etc.\";s:4:\"type\";s:6:\"string\";}s:9:\"timeSlice\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Time
  in 24hr format with 15 minute intervals e.g. 0500-0515, 0515-0530 etc.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"Scale
  between 1-6, \r\n             1 = Very quiet, 2 = Quiet, 3 = Fairly busy, 4 = Busy,
  5 = Very busy, 6 = Exceptionally busy\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:53:\"Tfl.Api.Presentation.Entities.TwentyFourHourClockTime\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"hour\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"minute\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:44:\"Tfl.Api.Presentation.Entities.ValidityPeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Represents
  a period for which a planned works is valid.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"fromDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Gets
[...]
