---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:48:\"Business
  Support System API - Customer Contracts\";s:11:\"description\";s:53:\"Specification
  of REST API for Business Support System\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"Emerge
  team\";s:5:\"email\";s:36:\"jorge.patrao@smarttank-solutions.com\";s:3:\"url\";s:43:\"https://www.linkedin.com/company/smart-tank\";}}"
host: bss.emerge.com
basePath: /bss/v1
paths:
  /bss/provision/contracts/templates/:
    post:
      description: create a new contract template
      operationId: createContractTemplate
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: umUserHash
        in: header
        description: Userhash, as returned by the User Management system
        type: string
        required: true
      - name: umSessionID
        in: header
        description: SessionID on the User Management system
        type: string
        required: true
      - name: umDomain
        in: header
        type: string
        description: Domain of the user
        required: true
      - name: contract
        in: body
        description: contract template information
        schema:
          $ref: '#/definitions/contractTemplate'
        required: true
      tags:
      - Provisioning
      responses:
        200:
          description: New contract template created
          schema:
            type: string
            description: ID of the created contract
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
    get:
      description: Gets `contract template` objects.nOptional pagination parameters
        - offset, and limit to determine the number of records to fetchn
      parameters:
      - name: umUserHash
        in: header
        description: Userhash, as returned by the User Management system
        type: string
        required: true
      - name: umSessionID
        in: header
        description: SessionID on the User Management system
        type: string
        required: true
      - name: umDomain
        in: header
        type: string
        description: Domain of the user
        required: true
      - name: offset
        in: query
        description: Page offset
        default: 0
        type: integer
        format: int64
      - name: limit
        in: query
        description: Page limit
        default: 20
        type: integer
        format: int64
        minimum: 10
        required: true
      - name: templateName
        type: string
        in: query
        description: Name of the contract template
      - name: templateDescription
        type: string
        in: query
        description: Description of the contract template
      tags:
      - Reporting
      responses:
        200:
          description: Array of contract that match the search criteria
          schema:
            title: CollectionOfContracts
            type: array
            items:
              $ref: '#/definitions/contractTemplate'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
  /bss/provision/contracts/templates/{id}:
    put:
      description: Update an existing contract template
      operationId: editContractTemplate
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: umUserHash
        in: header
        description: Userhash, as returned by the User Management system
        type: string
        required: true
      - name: umSessionID
        in: header
        description: SessionID on the User Management system
        type: string
        required: true
      - name: umDomain
        in: header
        type: string
        description: Domain of the user
        required: true
      - name: id
        in: path
        type: number
        format: int64
        description: Id of contract to update
        required: true
      - name: contract
        in: body
        description: contract template information
        schema:
          $ref: '#/definitions/contractTemplate'
        required: true
      tags:
      - Operations
      responses:
        204:
          description: Contract template edited
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
    delete:
      description: Delete a contract template
      operationId: deleteContractTemplate
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: umUserHash
        in: header
        description: Userhash, as returned by the User Management system
        type: string
        required: true
      - name: umSessionID
        in: header
        description: SessionID on the User Management system
        type: string
        required: true
      - name: umDomain
        in: header
        type: string
        description: Domain of the user
        required: true
      - name: id
        in: path
        type: string
        description: contract template id to delete
        required: true
      tags:
      - Operations
      responses:
        204:
          description: contract deleted
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
  /bss/provision/contract/prepaid/customer/{customerid}:
    post:
      description: create a new contract for a customer
      operationId: createContract
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: umUserHash
        in: header
        description: Userhash, as returned by the User Management system
        type: string
        required: true
      - name: umSessionID
        in: header
        description: SessionID on the User Management system
        type: string
        required: true
      - name: umDomain
        in: header
        type: string
        description: Domain of the user
        required: true
      - name: customerid
        in: path
        type: string
        description: customer id
        required: true
      - name: contract
        in: body
        description: contract information
        schema:
          $ref: '#/definitions/contractPrepaid'
        required: true
      tags:
      - Provisioning
      responses:
        200:
          description: New contract created
          schema:
            type: string
            description: Created contract ID
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
    get:
      description: Gets contracts for a specific customernOptional pagination parameters
        - offset, limits determine the size of the fetch bucketn
      parameters:
      - name: umUserHash
        in: header
        description: Userhash, as returned by the User Management system
        type: string
        required: true
      - name: umSessionID
        in: header
        description: SessionID on the User Management system
        type: string
        required: true
      - name: umDomain
        in: header
        type: string
        description: Domain of the user
        required: true
      - name: offset
        in: query
        description: Page offset
        default: 0
        type: integer
        format: int64
      - name: limit
        in: query
        description: Page limit
        default: 20
        type: integer
        format: int64
        minimum: 10
        maximum: 100
      - name: customerid
        in: path
        type: number
        format: int64
        description: Id of customer whose contract to fetch
        required: true
      tags:
      - Reporting
      responses:
        200:
          description: Array of contract that match the search criteria
          schema:
            title: CollectionOfContracts
            type: array
            items:
              $ref: '#/definitions/contractPrepaid'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
  /bss/provision/contract/prepaid/{id}:
    put:
      description: Update an existing contract
      operationId: editContract
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: umUserHash
        in: header
        description: Userhash, as returned by the User Management system
        type: string
        required: true
      - name: umSessionID
        in: header
        description: SessionID on the User Management system
        type: string
        required: true
      - name: umDomain
        in: header
        type: string
        description: Domain of the user
        required: true
      - name: id
        in: path
        type: number
        format: int64
        description: Id of contract to update
        required: true
      - name: contract
        in: body
        description: contract information
        schema:
          $ref: '#/definitions/contractPrepaid'
        required: true
      tags:
      - Operations
      responses:
        204:
          description: Existing contract details edited
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
    delete:
      description: (also deletes all related services)
      operationId: deleteContract
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: umUserHash
        in: header
        description: Userhash, as returned by the User Management system
        type: string
        required: true
      - name: umSessionID
        in: header
        description: SessionID on the User Management system
        type: string
        required: true
      - name: umDomain
        in: header
        type: string
        description: Domain of the user
        required: true
      - name: id
        in: path
        type: string
        description: contract id to delete
        required: true
      tags:
      - Operations
      responses:
        204:
          description: contract deleted
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
  /bss/provision/contract/postpaid/{id}/confirm:
    put:
      description: Confirm a contract, changes a contract from the new state -> pending
      operationId: confirmContract
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: umUserHash
        in: header
        description: Userhash, as returned by the User Management system
        type: string
        required: true
      - name: umSessionID
        in: header
        description: SessionID on the User Management system
        type: string
        required: true
      - name: umDomain
        in: header
        type: string
        description: Domain of the user
        required: true
      - name: id
        in: path
        type: number
        format: int64
        description: Id of contract to confirm
        required: true
      tags:
      - Operations
      responses:
        204:
          description: New contract details confirmed
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
  /bss/provision/contract/postpaid/customer/{customerid}:
    post:
      description: create a new contract for a customer
      operationId: createPostpaidContract
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: umUserHash
        in: header
        description: Userhash, as returned by the User Management system
        type: string
        required: true
      - name: umSessionID
        in: header
        description: SessionID on the User Management system
        type: string
        required: true
      - name: umDomain
        in: header
        type: string
        description: Domain of the user
        required: true
      - name: customerid
        in: path
        type: string
        description: customer id
        required: true
      - name: contract
        in: body
        description: contract information
        schema:
          $ref: '#/definitions/contractPostpaid'
        required: true
      tags:
      - Provisioning
      responses:
        200:
          description: New contract created
          schema:
            type: string
            description: Created contract ID
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
    get:
      description: Gets contracts for a specific customernOptional pagination parameters
        - offset, limits determine the size of the fetch bucketn
      parameters:
      - name: umUserHash
        in: header
        description: Userhash, as returned by the User Management system
        type: string
        required: true
      - name: umSessionID
        in: header
        description: SessionID on the User Management system
        type: string
        required: true
      - name: umDomain
        in: header
        type: string
        description: Domain of the user
        required: true
      - name: offset
        in: query
        description: Page offset
        default: 0
        type: integer
        format: int64
      - name: limit
        in: query
        description: Page limit
        default: 20
        type: integer
        format: int64
        minimum: 10
        maximum: 100
      - name: customerid
        in: path
        type: number
        format: int64
        description: Id of customer whose contract to fetch
        required: true
      tags:
      - Reporting
      responses:
        200:
          description: Array of contract that match the search criteria
          schema:
            title: CollectionOfContracts
            type: array
            items:
              $ref: '#/definitions/contractPostpaid'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
  /bss/provision/contract/postpaid/{id}:
    put:
      description: Update an existing contract
      operationId: editPostPaidContract
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: umUserHash
        in: header
        description: Userhash, as returned by the User Management system
        type: string
        required: true
      - name: umSessionID
        in: header
        description: SessionID on the User Management system
        type: string
        required: true
      - name: umDomain
        in: header
        type: string
        description: Domain of the user
        required: true
      - name: id
        in: path
        type: number
        format: int64
        description: Id of contract to update
        required: true
      - name: contract
        in: body
        description: contract information
        schema:
          $ref: '#/definitions/contractPrepaid'
        required: true
      tags:
      - Operations
      responses:
        204:
          description: Existing contract details edited
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
    delete:
      description: (also deletes all related services)
      operationId: deletePostpaidContract
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: umUserHash
        in: header
        description: Userhash, as returned by the User Management system
        type: string
        required: true
      - name: umSessionID
        in: header
        description: SessionID on the User Management system
        type: string
        required: true
      - name: umDomain
        in: header
        type: string
        description: Domain of the user
        required: true
      - name: id
        in: path
        type: string
        description: contract id to delete
        required: true
      tags:
      - Operations
      responses:
        204:
          description: contract deleted
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/errorModel'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:16:\"contractTemplate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:4:\"name\";i:1;s:11:\"description\";i:2;s:2:\"id\";i:3;s:12:\"creationDate\";i:4;s:8:\"preamble\";i:5;s:7:\"clauses\";i:6;s:20:\"expirationConditions\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"name
  of the contract template\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"description
  of the contract template\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"contractID,
  managed by the server. Ignored on DELETE, PUT and POST messages.\";}s:12:\"creationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:34:\"Date
  when the contract was created\";}s:16:\"modificationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:35:\"Date
  when the contract was modified\";}s:8:\"preamble\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Contract
  justification\";}s:7:\"clauses\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Contract
  clauses\";}s:20:\"expirationConditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  type of contract being created\";}}}s:12:\"contractBase\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/contractTemplate\";}}s:8:\"required\";a:2:{i:0;s:10:\"customerID\";i:1;s:9:\"startDate\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:58:\"Date
  when the contract effectively starts producing effect\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:57:\"Date
  when the contract effectively stops producing effect\";}s:16:\"automaticRenewal\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;s:11:\"description\";s:62:\"The
  contract will automatically renew when End Date is reached\";}s:10:\"customerID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"CustomerID
  is the secondContractor. The system will retrieve the necessary information\";}}}s:16:\"contractPostpaid\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/contractBase\";}}s:8:\"required\";a:3:{i:0;s:13:\"billingPeriod\";i:1;s:10:\"billingDay\";i:2;s:17:\"allowJointBilling\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:3:\"new\";i:1;s:7:\"pending\";i:2;s:6:\"active\";i:3;s:8:\"inactive\";i:4;s:9:\"cancelled\";i:5;s:7:\"expired\";i:6;s:6:\"closed\";}}s:17:\"allowJointBilling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:90:\"allow
  this contract to be billed together with other contracts with the same billing cycle\";}s:13:\"billingPeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"billing
  periodicity\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:7:\"monthly\";i:1;s:9:\"bimonthly\";i:2;s:9:\"quarterly\";i:3;s:11:\"semianually\";i:4;s:7:\"anually\";}}s:10:\"billingDay\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:47:\"day
  of the month when billing should take place\";}s:10:\"servicesID\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:164:\"ID
  of the services associated with contract. If it is a prepaid contract, the IDs refer
  to TEC, TELO or PSP services, and there will be only ONE object on the array\";}}}s:15:\"contractPrepaid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/contractBase\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:3:\"new\";i:1;s:6:\"active\";i:2;s:6:\"closed\";}}s:9:\"serviceID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"ID
  of the service associated with contract.\";}}}s:10:\"errorModel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
