---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:23:\"apiteam@twinehealth.com\";}s:11:\"description\";s:2943:\"#
  Overview\nThe Twine Health API is RESTful API. The requests and responses are formated
  according to the [JSON API](http://jsonapi.org/format/1.0/) specification.\n\nIn
  addition to this documentation, we also provide an [OpenAPI](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md)
  \"yaml\" file describing the API: [Twine API Specification](swagger.yaml).\n\n#
  Authentication\nAuthentication for the Twine API is based on the [OAuth 2.0 Authorization
  Framework](https://tools.ietf.org/html/rfc6749). Twine currently supports grant
  types of **client_credentials** and **refresh_token**.\n\nSee [POST /oauth/token](#operation/createToken)
  for details on the request and response formats.\n<!-- ReDoc-Inject: <security-definitions>
  -->\n\n# Paging\nThe Twine API supports two different pagination strategies for
  GET collection endpoints. \n\n#### Skip-based paging\n\nSkip-based paging uses the
  query parameters `page[size]` and `page[number]` to specify the max number of resources
  returned and the page number. We default to skip-based paging if there are no page
  parameters. The response will include a `links` object containing links to the first,
  last, prev, and next pages of data.\n\nIf the contents of the collection change
  while you are iterating through the collection, you will see duplicate or missing
  documents. For example, if you are iterating through the `calender_event` resource
  via `GET /pub/calendar_event?sort=start_at&page[size]=50&page[number]=1`, and a
  new `calendar_event` is created that has a `start_at` value before the first `calendar_event`,
  when you fetch the next page at `GET /pub/calendar_event?sort=start_at&page[size]=50&page[number]=2`,
  the first entry in the second response will be a duplicate of the last entry in
  the first response.\n\n#### Cursor-based paging\nCursor-based paging uses the query
  parameters `page[limit]` and `page[after]` to specify the max number of entries
  returned and identify where to begin the next page. Add `page[limit]` to the parameters
  to use cursor-based paging. The response will include a `links` object containing
  a link to the next page of data, if the next page exists. \n\nCursor-based paging
  is not subject to duplication if new resources are added to the collection. For
  example, if you are iterating through the `calender_event` resource via `GET /pub/calendar_event?sort=start_at&page[limit]=50`,
  and a new `calendar_event` is created that has a `start_at` value before the first
  `calendar_event`, you will not see a duplicate entry when you fetch the next page
  at `GET /pub/calendar_event?sort=start_at&page[limit]=50&page[after]=<cursor>`.
  \n\nWe encourage the use of cursor-based paging for performance reasons. \n\nIn
  either form of paging, you can determine whether any resources were missed by comparing
  the number of fetched resources against `meta.count`. Set `page[size]` or `page[limit]`
  to 0 to get only the count.\n\nIt is not valid to mix the two strategies.\n\";s:5:\"title\";s:5:\"Twine\";s:7:\"version\";s:6:\"7.18.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"support\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:99:\"https://api.apis.guru/v2/cache/logo/http_developer.twinehealth.com_images_twinehealth_hz_4color.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:89:\"https://raw.githubusercontent.com/TwineHealth/TwineDeveloperDocs/master/spec/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"twinehealth.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"twinehealth\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.twinehealth.com
basePath: /pub
paths: ~
produces:
- application/vnd.api+json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":105:{s:12:\"ActionMetric\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"goal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"metric_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"validations\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"maximum\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:7:\"minimum\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ActionResource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"_thread\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"adherence\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"complete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"due\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"streak\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:7:\"details\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";b:1;s:4:\"type\";s:6:\"object\";}s:14:\"effective_from\";O:8:\"stdClass\":2:{s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:12:\"effective_to\";O:8:\"stdClass\":2:{s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:14:\"frequency_goal\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"weeks\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"days\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:11:\"description\";s:89:\"Days
  of week that the action is scheduled for. Zero-indexed, ex 0 represents Sunday,
  etc.\";s:4:\"enum\";a:7:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;i:6;i:6;}s:8:\"maxItems\";i:7;s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:11:\"identifiers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Identifier\";}s:4:\"type\";s:5:\"array\";}s:6:\"intake\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";b:1;s:4:\"type\";s:6:\"object\";}s:15:\"metric_required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"metrics\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ActionMetric\";}s:4:\"type\";s:5:\"array\";}s:12:\"static_title\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"tracking\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:15:\"other_lifestyle\";}s:4:\"type\";s:6:\"string\";}s:7:\"windows\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ActionWindow\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:5:\"title\";i:2;s:14:\"effective_from\";}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"plan\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:12:\"ActionWindow\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:7:\"Address\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"city\";O:8:\"stdClass\":2:{s:7:\"example\";s:9:\"Cambridge\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"district\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"lines\";O:8:\"stdClass\":3:{s:7:\"example\";a:1:{i:0;s:12:\"1234
  Any St.\";}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"postal_code\";O:8:\"stdClass\":2:{s:7:\"example\";s:5:\"02138\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:7:\"example\";s:2:\"MA\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"use\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ArchiveHistory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"archived\";O:8:\"stdClass\":2:{s:7:\"example\";b:1;s:4:\"type\";s:7:\"boolean\";}s:11:\"modified_at\";O:8:\"stdClass\":3:{s:7:\"example\";s:24:\"2016-06-03T13:15:22.000Z\";s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:7:\"example\";s:45:\"Patient
  called requesting opt out of coaching\";s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:7:\"example\";s:21:\"Opted
  out of coaching\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"BundleResource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"_thread\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"effective_from\";O:8:\"stdClass\":2:{s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:12:\"effective_to\";O:8:\"stdClass\":2:{s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:5:\"title\";i:2;s:14:\"effective_from\";}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"actions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"plan\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:21:\"CalendarEventResource\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":13:{s:7:\"all_day\";b:1;s:9:\"attendees\";a:2:{i:0;O:8:\"stdClass\":3:{s:3:\"_id\";s:24:\"5ac7e74679f6868274a42e28\";s:15:\"response_status\";s:11:\"needsAction\";s:4:\"user\";s:24:\"5a0c8e27a9d454cc150997c9\";}i:1;O:8:\"stdClass\":3:{s:3:\"_id\";s:24:\"5ac7e74679f6868274a42e27\";s:15:\"response_status\";s:11:\"needsAction\";s:4:\"user\";s:24:\"5a0c8e27a9d454cc150997f7\";}}s:12:\"completed_at\";s:24:\"2017-11-03T06:17:34.652Z\";s:12:\"completed_by\";s:24:\"5a0c8e27a9d454cc150997c9\";s:10:\"created_at\";s:24:\"2017-10-20T10:59:40.000Z\";s:10:\"created_by\";s:24:\"5a0c8e27a9d454cc150997c9\";s:6:\"end_at\";s:24:\"2017-11-03T08:00:00.000Z\";s:8:\"start_at\";s:24:\"2017-11-03T04:00:00.000Z\";s:9:\"time_zone\";s:16:\"America/New_York\";s:5:\"title\";s:13:\"Plan
  Check-In\";s:4:\"type\";s:13:\"plan-check-in\";s:10:\"updated_at\";s:24:\"2017-10-20T10:59:40.000Z\";s:10:\"updated_by\";s:24:\"5a0c8e27a9d454cc150997c9\";}s:2:\"id\";s:24:\"5a0c8e2aa9d454cc1509a142\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:44:\"/pub/calendar_event/5a0c8e2aa9d454cc1509a142\";}s:13:\"relationships\";O:8:\"stdClass\":1:{s:5:\"owner\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"5a0c8e27a9d454cc150997f7\";s:4:\"type\";s:7:\"patient\";}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:50:\"/pub/calendar_event/5a0c8e2aa9d454cc1509a142/owner\";}}}s:4:\"type\";s:14:\"calendar_event\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"all_day\";O:8:\"stdClass\":2:{s:11:\"description\";s:334:\"True
  if the calendar event is an all day event, false otherwise. Must be set to true
  for `plan-check-in` event type. If it is true, then `start_at` and `end_at` must
  also be set to beginning of day, except `plan-check-in` event type does not need
  an `end_at` date. If it is false, then `start_at` and `end_at` must be on the same
  day.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"attendees\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"List
  of attendees for the calendar event\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"response_status\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Status
  of responses from attendees\";s:4:\"enum\";a:4:{i:0;s:11:\"needsAction\";i:1;s:8:\"declined\";i:2;s:9:\"tentative\";i:3;s:8:\"accepted\";}s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"completed_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:108:\"The
  date and time when the calendar event is marked as completed. Only valid for `plan-check-in`
  event type.\";s:7:\"example\";s:24:\"2017-11-03T06:17:34.652Z\";s:6:\"format\";s:7:\"ISODate\";s:4:\"type\";s:6:\"string\";}s:12:\"completed_by\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  coach who marked the calendar event as completed. Only valid for `plan-check-in`
  event type.\";s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"end_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:89:\"The
  date and time when the calendar event ends. Not valid for `plan-check-in` event
  type.\";s:7:\"example\";s:24:\"2017-11-03T08:00:00.000Z\";s:6:\"format\";s:7:\"ISODate\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"start_at\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  date and time when the calendar event starts\";s:7:\"example\";s:24:\"2017-11-03T04:00:00.000Z\";s:6:\"format\";s:7:\"ISODate\";s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  time zone in which the dates for the calendar event are specified\";s:7:\"example\";s:16:\"America/New_York\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  title of the calendar event. Must not be empty or null\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  type of calendar event. Immutable after event creation.\";s:4:\"enum\";a:5:{i:0;s:13:\"plan-check-in\";i:1;s:8:\"reminder\";i:2;s:14:\"telephone-call\";i:3;s:12:\"office-visit\";i:4;s:10:\"video-call\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"self\";O:8:\"stdClass\":3:{s:7:\"example\";s:40:\"/calendar_event/5a0c8e2aa9d454cc1509a142\";s:7:\"pattern\";s:25:\"/calendar_event/[0-9a-z]+\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"owner\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"The
  owner is the patient for whom the calendar event is created specificially for\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"related\";O:8:\"stdClass\":3:{s:7:\"example\";s:50:\"/pub/calendar_event/5a0c8e2aa9d454cc1509a142/owner\";s:7:\"pattern\";s:29:\"/pub/calendar_event/[0-9a-z]+\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:14:\"calendar_event\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"CalendarEventResponseResource\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:8:\"attendee\";s:24:\"5ac7e74679f6868274a42e28\";s:15:\"response_status\";s:8:\"accepted\";}s:2:\"id\";s:24:\"5ad0f966ceb0909e4bfa84dd\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:53:\"/pub/calendar_event_response/5ad0f966ceb0909e4bfa84dd\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:14:\"calendar_event\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"5755db2a3db4179179999acf\";s:4:\"type\";s:14:\"calendar_event\";}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:68:\"/pub/calendar_event_response/5ad0f966ceb0909e4bfa84dd/calendar_event\";}}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"5a0c8e27a9d454cc150997f7\";s:4:\"type\";s:4:\"user\";}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:58:\"/pub/calendar_event_response/5ad0f966ceb0909e4bfa84dd/user\";}}}s:4:\"type\";s:23:\"calendar_event_response\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"attendee\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  attendee in the attendees list of the calendar event.\";s:4:\"type\";s:6:\"object\";}s:15:\"response_status\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  response status for the attendee.\";s:4:\"enum\";a:3:{i:0;s:8:\"accepted\";i:1;s:8:\"declined\";i:2;s:9:\"tentative\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"self\";O:8:\"stdClass\":3:{s:7:\"example\";s:49:\"/calendar_event_response/5ad0f966ceb0909e4bfa84dd\";s:7:\"pattern\";s:34:\"/calendar_event_response/[0-9a-z]+\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"calendar_event\";O:8:\"stdClass\":4:{s:11:\"description\";s:107:\"The
  calendar_event is the calendar event for which the calendar event response is created
  specificially for\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"related\";O:8:\"stdClass\":3:{s:7:\"example\";s:68:\"/pub/calendar_event_response/5ad0f966ceb0909e4bfa84dd/calendar_event\";s:7:\"pattern\";s:38:\"/pub/calendar_event_response/[0-9a-z]+\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:4:\"user\";O:8:\"stdClass\":4:{s:11:\"description\";s:98:\"The
  user is the coach or patient for whom the calendar event response is created specificially
  for\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"related\";O:8:\"stdClass\":3:{s:7:\"example\";s:58:\"/pub/calendar_event_response/5ad0f966ceb0909e4bfa84dd/user\";s:7:\"pattern\";s:38:\"/pub/calendar_event_response/[0-9a-z]+\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:23:\"calendar_event_response\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CoachResource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"first_name\";O:8:\"stdClass\":2:{s:7:\"example\";s:7:\"Clarisa\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:7:\"example\";s:6:\"Rivera\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":2:{s:7:\"example\";s:24:\"57b36e3c04ad8c2224f2af38\";s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"self\";O:8:\"stdClass\":3:{s:7:\"example\";s:31:\"/coach/57b36e3c04ad8c2224f2af38\";s:7:\"pattern\";s:16:\"/coach/[0-9a-z]+\";s:4:\"type\";s:6:\"string\";}}s:8:\"readOnly\";b:1;s:8:\"required\";a:1:{i:0;s:4:\"self\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"enum\";a:1:{i:0;s:5:\"coach\";}s:7:\"example\";s:5:\"coach\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:10:\"attributes\";}s:4:\"type\";s:6:\"object\";}s:23:\"CollectionResponseLinks\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"last\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"next\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"prev\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateActionRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":5:{s:14:\"effective_from\";s:24:\"2017-02-20T11:12:13.000Z\";s:14:\"frequency_goal\";O:8:\"stdClass\":1:{s:5:\"weeks\";O:8:\"stdClass\":1:{s:4:\"days\";a:1:{i:0;i:0;}}}s:7:\"metrics\";a:1:{i:0;O:8:\"stdClass\":3:{s:4:\"goal\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:9:\"diastolic\";O:8:\"stdClass\":2:{s:4:\"unit\";s:4:\"mmHg\";s:5:\"value\";i:95;}s:8:\"systolic\";O:8:\"stdClass\":2:{s:4:\"unit\";s:4:\"mmHg\";s:5:\"value\";i:150;}}}s:11:\"metric_type\";s:14:\"blood_pressure\";s:4:\"unit\";s:4:\"mmHg\";}}s:5:\"title\";s:21:\"Record
  Blood Pressure\";s:4:\"type\";s:14:\"blood_pressure\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:7:\"bundles\";O:8:\"stdClass\":1:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"58aacf0d076adcef394bac30\";s:4:\"type\";s:6:\"bundle\";}}}s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"58aacf0d076adcef394bac35\";s:4:\"type\";s:20:\"patient_plan_summary\";}}}s:4:\"type\";s:6:\"action\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ActionResource\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateActionResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":17:{s:7:\"_thread\";s:14:\"blood_pressure\";s:9:\"adherence\";O:8:\"stdClass\":3:{s:8:\"complete\";i:0;s:3:\"due\";i:0;s:6:\"streak\";O:8:\"stdClass\":1:{s:5:\"count\";i:0;}}s:10:\"created_at\";s:24:\"2017-02-20T11:12:13.000Z\";s:10:\"created_by\";s:24:\"596541ec076adcef394bac2d\";s:14:\"effective_from\";s:24:\"2017-02-20T11:12:13.000Z\";s:14:\"frequency_goal\";O:8:\"stdClass\":1:{s:5:\"weeks\";O:8:\"stdClass\":1:{s:4:\"days\";a:1:{i:0;i:0;}}}s:23:\"frequency_goal_prorated\";i:0;s:11:\"identifiers\";a:0:{}s:15:\"metric_required\";b:0;s:7:\"metrics\";a:1:{i:0;O:8:\"stdClass\":5:{s:3:\"_id\";s:24:\"58aacf0d076adcef394bac37\";s:15:\"accepted_values\";a:0:{}s:4:\"goal\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:9:\"diastolic\";O:8:\"stdClass\":2:{s:4:\"unit\";s:4:\"mmHg\";s:5:\"value\";i:95;}s:8:\"systolic\";O:8:\"stdClass\":2:{s:4:\"unit\";s:4:\"mmHg\";s:5:\"value\";i:150;}}}s:11:\"metric_type\";s:14:\"blood_pressure\";s:4:\"unit\";s:4:\"mmHg\";}}s:7:\"options\";a:0:{}s:5:\"title\";s:21:\"Record
  Blood Pressure\";s:8:\"tracking\";b:1;s:4:\"type\";s:14:\"blood_pressure\";s:10:\"updated_at\";s:24:\"2017-02-20T11:12:13.000Z\";s:10:\"updated_by\";s:24:\"596541ec076adcef394bac2d\";s:7:\"windows\";a:0:{}}s:2:\"id\";s:24:\"58aacf0d076adcef394bac36\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:32:\"/action/58aacf0d076adcef394bac36\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:7:\"bundles\";O:8:\"stdClass\":2:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"58aacf0d076adcef394bac30\";s:4:\"type\";s:6:\"bundle\";}}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:40:\"/action/58aacf0d076adcef394bac36/bundles\";}}s:4:\"plan\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"58aacf0d076adcef394bac35\";s:4:\"type\";s:20:\"patient_plan_summary\";}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:37:\"/action/58aacf0d076adcef394bac36/plan\";}}}s:4:\"type\";s:6:\"action\";}s:8:\"included\";a:0:{}s:4:\"meta\";O:8:\"stdClass\":1:{s:6:\"req_id\";s:36:\"014ea6d2-4717-4915-b4bc-98454180614e\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ActionResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CreateOrUpdateMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateBundleRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BundleResource\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateBundleResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BundleResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CreateOrUpdateMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:26:\"CreateCalendarEventRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":6:{s:7:\"all_day\";b:1;s:9:\"attendees\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"user\";s:24:\"5a0c8e27a9d454cc150997c9\";}i:1;O:8:\"stdClass\":1:{s:4:\"user\";s:24:\"5a0c8e27a9d454cc150997f7\";}}s:8:\"start_at\";s:20:\"2018-02-20T00:00:00Z\";s:9:\"time_zone\";s:16:\"America/New_York\";s:5:\"title\";s:13:\"Plan
  Check-In\";s:4:\"type\";s:13:\"plan-check-in\";}s:13:\"relationships\";O:8:\"stdClass\":1:{s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"5a0c8e27a9d454cc150997f7\";s:4:\"type\";s:7:\"patient\";}}}s:4:\"type\";s:14:\"calendar_event\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/CalendarEventResource/properties/attributes\";}}s:8:\"required\";a:4:{i:0;s:4:\"type\";i:1;s:8:\"start_at\";i:2;s:5:\"title\";i:3;s:9:\"attendees\";}}s:13:\"relationships\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"owner\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:93:\"#/definitions/CalendarEventResource/properties/relationships/properties/owner/properties/data\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/CalendarEventResource/properties/type\";}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:10:\"attributes\";i:2;s:13:\"relationships\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:27:\"CreateCalendarEventResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CalendarEventResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CreateOrUpdateMetaResponse\";}}s:4:\"type\";s:6:\"object\";}s:34:\"CreateCalendarEventResponseRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:8:\"attendee\";s:24:\"5ac7e74679f6868274a42e28\";s:15:\"response_status\";s:8:\"accepted\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:14:\"calendar_event\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"5755db2a3db4179179999acf\";s:4:\"type\";s:14:\"calendar_event\";}}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"5a0c8e27a9d454cc150997f7\";s:4:\"type\";s:4:\"user\";}}}s:4:\"type\";s:23:\"calendar_event_response\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:65:\"#/definitions/CalendarEventResponseResource/properties/attributes\";}}s:8:\"required\";a:2:{i:0;s:8:\"attendee\";i:1;s:15:\"response_status\";}}s:13:\"relationships\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"calendar_event\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:110:\"#/definitions/CalendarEventResponseResource/properties/relationships/properties/calendar_event/properties/data\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:4:\"user\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:100:\"#/definitions/CalendarEventResponseResource/properties/relationships/properties/user/properties/data\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/CalendarEventResponseResource/properties/type\";}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:10:\"attributes\";i:2;s:13:\"relationships\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:18:\"CreateGroupRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"New
  Group\";}s:4:\"type\";s:5:\"group\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GroupResource\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateGroupResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"New
  Group\";}s:2:\"id\";s:24:\"5817acae6f5316c0d05ba8b8\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:35:\"/pub/group/5817acae6f5316c0d05ba8b8\";}s:4:\"type\";s:5:\"group\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:6:\"req_id\";s:36:\"6ac6d0f2-00b2-4031-8c35-97b2bfb0aced\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GroupResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CreateOrUpdateMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:27:\"CreateOrUpdateErrorResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"errors\";a:1:{i:0;O:8:\"stdClass\":3:{s:4:\"code\";s:12:\"Unauthorized\";s:6:\"detail\";s:32:\"A
  valid bearer token is required\";s:6:\"status\";s:3:\"401\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:6:\"req_id\";s:36:\"d07c8b12-c95e-4a06-8424-92aac94bb445\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CreateOrUpdateMetaResponse\";}}s:4:\"type\";s:6:\"object\";}s:26:\"CreateOrUpdateMetaResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"ignored\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"req_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CreatePatientHealthMetricRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/PatientHealthMetricCreateResource\";}s:4:\"meta\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"ignore_duplicates\";O:8:\"stdClass\":2:{s:11:\"description\";s:166:\"If
  `true`, the patient health metric will be ignored if there is an existing patient
  health metric for\nthe same patient, with the same `type` and same `occurred_at`.\n\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:33:\"CreatePatientHealthMetricResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/PatientHealthMetricResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CreateOrUpdateMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreatePatientRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:10:\"first_name\";s:4:\"Jack\";s:9:\"last_name\";s:5:\"Frost\";}s:13:\"relationships\";O:8:\"stdClass\":1:{s:6:\"groups\";O:8:\"stdClass\":1:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"5755db2a3db4179179999acf\";s:4:\"type\";s:5:\"group\";}}}}s:4:\"type\";s:7:\"patient\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PatientCreateResource\";}s:4:\"meta\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"ignore_duplicates\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:179:\"If
  `true`, patients with any conflicting identifiers (same `system` and `value`) will
  be ignored.\nUseful for gracefully skipping duplicates after errors occur during
  bulk create.\n\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreatePatientResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":8:{s:9:\"addresses\";a:0:{}s:15:\"archive_history\";a:0:{}s:8:\"archived\";b:0;s:10:\"first_name\";s:4:\"Jack\";s:11:\"identifiers\";a:0:{}s:9:\"last_name\";s:5:\"Frost\";s:13:\"phone_numbers\";a:0:{}s:10:\"updated_at\";s:24:\"2016-11-01T01:07:33.121Z\";}s:2:\"id\";s:24:\"5817ead56f5316c0d05ba8bf\";s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"self\";s:37:\"/pub/patient/5817ead56f5316c0d05ba8bf\";s:13:\"twine_web_app\";s:62:\"http://10.0.1.55:9000/#/coach/patient/5817ead56f5316c0d05ba8bf\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:7:\"coaches\";O:8:\"stdClass\":2:{s:4:\"data\";a:0:{}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:45:\"/pub/patient/5817ead56f5316c0d05ba8bf/coaches\";}}s:6:\"groups\";O:8:\"stdClass\":2:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"5755db2a3db4179179999acf\";s:4:\"type\";s:5:\"group\";}}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:44:\"/pub/patient/5817ead56f5316c0d05ba8bf/groups\";}}}s:4:\"type\";s:7:\"patient\";}s:8:\"included\";a:0:{}s:4:\"meta\";O:8:\"stdClass\":1:{s:6:\"req_id\";s:36:\"5b813ad3-cabc-418f-add4-1e53bc69f7cb\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PatientResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CreateOrUpdateMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:37:\"CreateRewardEarningFulfillmentRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/RewardEarningFulfillmentResource\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:38:\"CreateRewardEarningFulfillmentResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/RewardEarningFulfillmentResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CreateOrUpdateMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:26:\"CreateRewardEarningRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/RewardEarningResource\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:27:\"CreateRewardEarningResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/RewardEarningResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CreateOrUpdateMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:36:\"CreateRewardProgramActivationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/RewardProgramActivationResource\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:37:\"CreateRewardProgramActivationResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/RewardProgramActivationResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CreateOrUpdateMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:26:\"CreateRewardProgramRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/RewardProgramResource\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:27:\"CreateRewardProgramResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/RewardProgramResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CreateOrUpdateMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateRewardRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RewardResource\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateRewardResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RewardResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CreateOrUpdateMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:18:\"CreateTokenRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"attributes\";O:8:\"stdClass\":3:{s:9:\"client_id\";s:36:\"95c78ab2-167f-40b8-8bec-8398d4b87454\";s:13:\"client_secret\";s:36:\"35d18dc9-a3dd-4948-b787-063a490b9354\";s:10:\"grant_type\";s:18:\"client_credentials\";}s:4:\"type\";s:11:\"oauth/token\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"attributes\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"client_id\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Contact
  Twine to get a client id and secret.\";s:7:\"example\";s:36:\"19391dc5-8af8-4152-93e8-74ff9361607e\";s:4:\"type\";s:6:\"string\";}s:13:\"client_secret\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"Contact
  Twine to get a client id and secret. Secret is required if grant_type is \"client_credentials\"\";s:7:\"example\";s:36:\"63eca384-7a65-42e2-872b-afd3e8659d0a\";s:4:\"type\";s:6:\"string\";}s:10:\"grant_type\";O:8:\"stdClass\":3:{s:4:\"enum\";a:2:{i:0;s:13:\"refresh_token\";i:1;s:18:\"client_credentials\";}s:7:\"example\";s:18:\"client_credentials\";s:4:\"type\";s:6:\"string\";}s:13:\"refresh_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Required
  if grant_type is \"refresh_token\"\";s:7:\"example\";s:36:\"b7dcc4a4-593b-4410-a0c5-97ae48939396\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"client_id\";i:1;s:10:\"grant_type\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"enum\";a:1:{i:0;s:5:\"token\";}s:7:\"example\";s:5:\"token\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"attributes\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateTokenResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":4:{s:12:\"access_token\";s:36:\"c1b83534-76c1-4a27-b1d4-8140e24dd7c6\";s:10:\"expires_in\";i:3601;s:13:\"refresh_token\";s:36:\"a38d192a-76fd-4b1d-954c-893c9d29c8f4\";s:10:\"token_type\";s:6:\"bearer\";}s:2:\"id\";s:24:\"5817a24d678a7c2cbf5df3ee\";s:13:\"relationships\";O:8:\"stdClass\":1:{s:6:\"groups\";O:8:\"stdClass\":2:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"5755db2a3db4179179999acf\";s:4:\"type\";s:5:\"group\";}}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:48:\"/pub/oauth/token/5817a24d678a7c2cbf5df3ee/groups\";}}}s:4:\"type\";s:11:\"oauth/token\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:6:\"req_id\";s:36:\"2de51f1a-bafa-4e48-a0d0-cd8d4a9ffb28\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TokenResource\";}s:8:\"included\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GroupResource\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CreateOrUpdateMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:20:\"EmailHistoryResource\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":9:{s:10:\"created_at\";s:24:\"2017-07-07T19:15:56.229Z\";s:10:\"created_by\";s:24:\"595fd88ef4be5b1a797ff19b\";s:13:\"email_address\";s:16:\"tony@example.com\";s:10:\"email_type\";s:6:\"invite\";s:9:\"send_time\";s:24:\"2017-02-25T13:35:01.000Z\";s:12:\"status_times\";O:8:\"stdClass\":3:{s:9:\"delivered\";s:24:\"2017-02-25T13:35:03.000Z\";s:4:\"open\";s:24:\"2017-02-25T14:20:00.000Z\";s:9:\"processed\";s:24:\"2017-02-25T13:35:02.000Z\";}s:14:\"twine_email_id\";s:36:\"576226e5-7e25-4469-b10d-2bc6a725bfbc\";s:10:\"updated_at\";s:24:\"2017-07-07T19:15:56.229Z\";s:10:\"updated_by\";s:24:\"595fd88ef4be5b1a797ff19b\";}s:2:\"id\";s:24:\"595fddec28c5041b84467592\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:43:\"/pub/email_history/595fddec28c5041b84467592\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:8:\"receiver\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"595fddea28c5041b84466bbe\";s:4:\"type\";s:7:\"patient\";}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:52:\"/pub/email_history/595fddec28c5041b84467592/receiver\";}}s:6:\"sender\";O:8:\"stdClass\":1:{s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:50:\"/pub/email_history/595fddec28c5041b84467592/sender\";}}}s:4:\"type\";s:13:\"email_history\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"email_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Address
  email was sent to.\";s:4:\"type\";s:6:\"string\";}s:10:\"email_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Type
  of email.\";s:4:\"type\";s:6:\"string\";}s:9:\"send_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Time
  email was sent.\";s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:12:\"status_times\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Status
  of email. Multiple statuses may be defined. The current status is the one with the
  most recent date.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"bounce\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Time
  email was bounced.\";s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:5:\"click\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Time
  email was clicked.\";s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:8:\"deferred\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Time
  email was deferred.\";s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:9:\"delivered\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Time
  email was delivered.\";s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:7:\"dropped\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Time
  email was dropped.\";s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:4:\"open\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Time
  email was opened.\";s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:9:\"processed\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Time
  email was processed.\";s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:10:\"spamreport\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Time
  email was reported as spam.\";s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:11:\"unsubscribe\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Time
  email was unsubscribed from.\";s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"twine_email_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Unique
  identifier for this email.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"receiver\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:6:\"sender\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:9:\"Forbidden\";i:1;s:16:\"InvalidParameter\";i:2;s:20:\"InvalidBodyParameter\";i:3;s:16:\"ResourceNotFound\";i:4;s:12:\"Unauthorized\";i:5;s:18:\"InvalidCredentials\";i:6;s:16:\"InvalidGrantType\";}s:4:\"type\";s:6:\"string\";}s:6:\"detail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"parameter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"pointer\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"FetchActionResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":15:{s:7:\"_thread\";s:6:\"weight\";s:9:\"adherence\";O:8:\"stdClass\":3:{s:8:\"complete\";i:1;s:3:\"due\";i:1;s:6:\"streak\";O:8:\"stdClass\":2:{s:5:\"count\";i:1;s:10:\"updated_at\";s:24:\"2017-07-11T21:13:13.215Z\";}}s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"some\";s:11:\"mixed
  value\";}s:14:\"effective_from\";s:24:\"2017-07-10T21:13:13.212Z\";s:12:\"effective_to\";s:24:\"2017-07-11T21:13:13.215Z\";s:14:\"frequency_goal\";O:8:\"stdClass\":1:{s:5:\"weeks\";O:8:\"stdClass\":1:{s:4:\"days\";a:1:{i:0;i:0;}}}s:23:\"frequency_goal_prorated\";i:0;s:11:\"identifiers\";a:1:{i:0;O:8:\"stdClass\":4:{s:3:\"_id\";s:24:\"59653f699fc8be3938f04494\";s:5:\"label\";s:20:\"Super
  Health Actions\";s:6:\"system\";s:31:\"http://super.health.example.com\";s:5:\"value\";s:11:\"action-0123\";}}s:15:\"metric_required\";b:1;s:7:\"metrics\";a:1:{i:0;O:8:\"stdClass\":6:{s:3:\"_id\";s:24:\"59653f699fc8be3938f04493\";s:15:\"accepted_values\";a:0:{}s:4:\"goal\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"unit\";s:2:\"lb\";s:5:\"value\";i:210;}}s:11:\"metric_type\";s:6:\"weight\";s:4:\"unit\";s:2:\"lb\";s:11:\"validations\";O:8:\"stdClass\":2:{s:7:\"maximum\";O:8:\"stdClass\":2:{s:4:\"unit\";s:2:\"lb\";s:5:\"value\";i:999;}s:7:\"minimum\";O:8:\"stdClass\":2:{s:4:\"unit\";s:2:\"lb\";s:5:\"value\";i:0;}}}}s:7:\"options\";a:0:{}s:5:\"title\";s:14:\"Measure
  Weight\";s:8:\"tracking\";b:1;s:4:\"type\";s:6:\"weight\";s:7:\"windows\";a:1:{i:0;O:8:\"stdClass\":3:{s:3:\"_id\";s:24:\"59653f699fc8be3938f04492\";s:5:\"title\";s:7:\"Morning\";s:4:\"type\";s:7:\"morning\";}}}s:2:\"id\";s:24:\"59653f699fc8be3938f04491\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:32:\"/action/59653f699fc8be3938f04491\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:7:\"bundles\";O:8:\"stdClass\":2:{s:4:\"data\";a:0:{}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:40:\"/action/59653f699fc8be3938f04491/bundles\";}}s:4:\"plan\";O:8:\"stdClass\":1:{s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:37:\"/action/59653f699fc8be3938f04491/plan\";}}}s:4:\"type\";s:6:\"action\";}s:8:\"included\";a:0:{}s:4:\"meta\";O:8:\"stdClass\":1:{s:6:\"req_id\";s:36:\"63bf4340-f256-400e-b391-d801d2a251f6\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ActionResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:19:\"FetchBundleResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":6:{s:8:\"_actions\";a:1:{i:0;s:24:\"596535d9608f63d531b7e344\";}s:7:\"_thread\";s:3:\"123\";s:14:\"effective_from\";s:24:\"2017-07-11T20:31:25.000Z\";s:12:\"effective_to\";s:24:\"2017-07-11T20:32:25.000Z\";s:5:\"title\";s:6:\"Weight\";s:4:\"type\";s:6:\"weight\";}s:2:\"id\";s:24:\"596535d9608f63d531b7e34a\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:32:\"/bundle/596535d9608f63d531b7e34a\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:7:\"actions\";O:8:\"stdClass\":2:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"596535d9608f63d531b7e344\";s:4:\"type\";s:6:\"action\";}}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:40:\"/bundle/596535d9608f63d531b7e34a/actions\";}}s:4:\"plan\";O:8:\"stdClass\":1:{s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:37:\"/bundle/596535d9608f63d531b7e34a/plan\";}}}s:4:\"type\";s:6:\"bundle\";}s:8:\"included\";a:0:{}s:4:\"meta\";O:8:\"stdClass\":1:{s:6:\"req_id\";s:36:\"c0f8d53a-d763-4beb-b0b1-9ec6da146a14\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BundleResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:26:\"FetchCalendarEventResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CalendarEventResource\";}s:8:\"included\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"Related
  resources which are included in the response based on the `include` param.\nAttributes
  of each resource will vary depending on the type.\nSee [patient](#operation/fetchPatient)\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:4:\"type\";s:6:\"object\";}s:27:\"FetchCalendarEventsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CalendarEventResource\";}s:4:\"type\";s:5:\"array\";}s:8:\"included\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"Related
  resources which are included in the response based on the `include` param.\nAttributes
  of each resource will vary depending on the type.\nSee [patient](#operation/fetchPatient)\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CollectionResponseLinks\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:4:\"type\";s:6:\"object\";}s:18:\"FetchCoachResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:10:\"first_name\";s:7:\"Clarisa\";s:9:\"last_name\";s:6:\"Rivera\";}s:2:\"id\";s:24:\"581630c3237d84a9403533c6\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:35:\"/pub/coach/581630c3237d84a9403533c6\";}s:4:\"type\";s:5:\"coach\";}s:8:\"included\";a:0:{}s:4:\"meta\";O:8:\"stdClass\":1:{s:6:\"req_id\";s:36:\"b928037e-98ed-434f-b0c4-d74b1a38a560\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CoachResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:20:\"FetchCoachesResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":4:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:10:\"first_name\";s:7:\"Clarisa\";s:9:\"last_name\";s:6:\"Rivera\";}s:2:\"id\";s:24:\"581630c3237d84a9403533c6\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:35:\"/pub/coach/581630c3237d84a9403533c6\";}s:4:\"type\";s:5:\"coach\";}}s:8:\"included\";a:0:{}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:45:\"/pub/patient/58163112237d84a94035f78b/coaches\";}s:4:\"meta\";O:8:\"stdClass\":2:{s:5:\"count\";i:1;s:6:\"req_id\";s:36:\"48c47326-0c8b-4c5e-85da-7fc0d00f1e4d\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CoachResource\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:27:\"FetchEmailHistoriesResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EmailHistoryResource\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:25:\"FetchEmailHistoryResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EmailHistoryResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:18:\"FetchErrorResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"errors\";a:1:{i:0;O:8:\"stdClass\":3:{s:4:\"code\";s:12:\"Unauthorized\";s:6:\"detail\";s:32:\"A
  valid bearer token is required\";s:6:\"status\";s:3:\"401\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:6:\"req_id\";s:36:\"d07c8b12-c95e-4a06-8424-92aac94bb445\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:4:\"type\";s:6:\"object\";}s:18:\"FetchGroupResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"name\";s:13:\"Patients
  Lead\";}s:2:\"id\";s:24:\"5755db2a3db4179179999acf\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:35:\"/pub/group/5755db2a3db4179179999acf\";}s:4:\"type\";s:5:\"group\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:6:\"req_id\";s:36:\"2b59851e-0f6c-4a8f-a8a6-15bd7c0346e7\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GroupResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:19:\"FetchGroupsResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"name\";s:13:\"Patients
  Lead\";}s:2:\"id\";s:24:\"5755db2a3db4179179999acf\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:35:\"/pub/group/5755db2a3db4179179999acf\";}s:4:\"type\";s:5:\"group\";}}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:48:\"/pub/oauth/token/5817a24d678a7c2cbf5df3ee/groups\";}s:4:\"meta\";O:8:\"stdClass\":2:{s:5:\"count\";i:1;s:6:\"req_id\";s:36:\"ab554093-6081-4d37-aa7b-ca6312367ca4\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GroupResource\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:32:\"FetchHealthProfileAnswerResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/HealthProfileAnswerResource\";}s:8:\"included\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"Related
  resources which are included in the response based on the `include` param.\nAttributes
  of each resource will vary depending on the type.\nSee [patient](#operation/fetchPatient)\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:33:\"FetchHealthProfileAnswersResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/HealthProfileAnswerResource\";}s:4:\"type\";s:5:\"array\";}s:8:\"included\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"Related
  resources which are included in the response based on the `include` param.\nAttributes
  of each resource will vary depending on the type.\nSee [patient](#operation/fetchPatient)\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CollectionResponseLinks\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:34:\"FetchHealthProfileQuestionResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/HealthProfileQuestionResource\";}s:8:\"included\";O:8:\"stdClass\":3:{s:11:\"description\";s:259:\"Related
  resources which are included in the response based on the `include` param.\nAttributes
  of each resource will vary depending on the type.\nSee [question_definition](#operation/fetchHealthQuestionDefinition),
  [answer](#operation/fetchHealthProfileAnswer)\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:26:\"FetchHealthProfileResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/HealthProfileResource\";}s:8:\"included\";O:8:\"stdClass\":3:{s:11:\"description\";s:234:\"Related
  resources which are included in the response based on the `include` param.\nAttributes
  of each resource will vary depending on the type.\nSee [patient](#operation/fetchPatient),
  [question](#operation/fetchHealthProfileQuestion)\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:27:\"FetchHealthProfilesResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/HealthProfileResource\";}s:4:\"type\";s:5:\"array\";}s:8:\"included\";O:8:\"stdClass\":3:{s:11:\"description\";s:234:\"Related
  resources which are included in the response based on the `include` param.\nAttributes
  of each resource will vary depending on the type.\nSee [patient](#operation/fetchPatient),
  [question](#operation/fetchHealthProfileQuestion)\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CollectionResponseLinks\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:37:\"FetchHealthQuestionDefinitionResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/HealthQuestionDefinitionResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:38:\"FetchHealthQuestionDefinitionsResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/HealthQuestionDefinitionResource\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CollectionResponseLinks\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:17:\"FetchMetaResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"req_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"FetchOrganizationResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"name\";s:26:\"Health
  Activation Partners\";}s:2:\"id\";s:24:\"5873b63605376e337a89d64a\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:42:\"/pub/organization/5873b63605376e337a89d64a\";}s:4:\"type\";s:12:\"organization\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:6:\"req_id\";s:36:\"aeb94ed8-d7f9-4e72-a78f-e276c4f52c2a\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/OrganizationResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:32:\"FetchPatientHealthMetricResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/PatientHealthMetricResource\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CollectionResponseLinks\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:33:\"FetchPatientPlanSummariesResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/PatientPlanSummaryResource\";}s:4:\"type\";s:5:\"array\";}s:8:\"included\";O:8:\"stdClass\":3:{s:11:\"description\";s:254:\"Related
  resources which are included in the response based on the `include` param.\nAttributes
  of each resource will vary depending on the type.\nSee [action](#operation/fetchAction),
  [bundle](#operation/fetchBundle) and [patient](#operation/fetchPatient)\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:31:\"FetchPatientPlanSummaryResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":4:{s:9:\"adherence\";O:8:\"stdClass\":3:{s:8:\"complete\";i:0;s:3:\"due\";i:0;s:6:\"streak\";O:8:\"stdClass\":1:{s:5:\"count\";i:0;}}s:14:\"effective_from\";s:24:\"2017-07-01T04:00:00.000Z\";s:25:\"window_notification_times\";O:8:\"stdClass\":4:{s:9:\"afternoon\";i:43200;s:7:\"evening\";i:64800;s:7:\"morning\";i:25200;s:5:\"night\";i:75600;}s:12:\"window_order\";a:0:{}}s:2:\"id\";s:24:\"5964f831f65725bf25558b50\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:46:\"/patient_plan_summary/5964f831f65725bf25558b50\";}s:13:\"relationships\";O:8:\"stdClass\":4:{s:7:\"actions\";O:8:\"stdClass\":2:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"5964f831f65725bf25558b4b\";s:4:\"type\";s:6:\"action\";}}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:54:\"/patient_plan_summary/5964f831f65725bf25558b50/actions\";}}s:7:\"bundles\";O:8:\"stdClass\":2:{s:4:\"data\";a:0:{}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:54:\"/patient_plan_summary/5964f831f65725bf25558b50/bundles\";}}s:15:\"current_results\";O:8:\"stdClass\":2:{s:4:\"data\";a:0:{}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:62:\"/patient_plan_summary/5964f831f65725bf25558b50/current_results\";}}s:7:\"patient\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"5964f831f65725bf25558b4f\";s:4:\"type\";s:7:\"patient\";}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:54:\"/patient_plan_summary/5964f831f65725bf25558b50/patient\";}}}s:4:\"type\";s:20:\"patient_plan_summary\";}s:8:\"included\";a:1:{i:0;O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":13:{s:7:\"_thread\";s:14:\"blood_pressure\";s:9:\"adherence\";O:8:\"stdClass\":3:{s:8:\"complete\";i:0;s:3:\"due\";i:0;s:6:\"streak\";O:8:\"stdClass\":1:{s:5:\"count\";i:0;}}s:14:\"effective_from\";s:24:\"2017-07-01T04:00:00.000Z\";s:14:\"frequency_goal\";O:8:\"stdClass\":1:{s:5:\"weeks\";O:8:\"stdClass\":1:{s:4:\"days\";a:7:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;i:6;i:6;}}}s:23:\"frequency_goal_prorated\";i:0;s:11:\"identifiers\";a:0:{}s:15:\"metric_required\";b:0;s:7:\"metrics\";a:1:{i:0;O:8:\"stdClass\":5:{s:3:\"_id\";s:24:\"5964f831f65725bf25558b51\";s:15:\"accepted_values\";a:0:{}s:4:\"goal\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:9:\"diastolic\";O:8:\"stdClass\":2:{s:4:\"unit\";s:4:\"mmHg\";s:5:\"value\";i:95;}s:8:\"systolic\";O:8:\"stdClass\":2:{s:4:\"unit\";s:4:\"mmHg\";s:5:\"value\";i:150;}}}s:11:\"metric_type\";s:14:\"blood_pressure\";s:4:\"unit\";s:4:\"mmHg\";}}s:7:\"options\";a:0:{}s:5:\"title\";s:21:\"Record
  Blood Pressure\";s:8:\"tracking\";b:1;s:4:\"type\";s:14:\"blood_pressure\";s:7:\"windows\";a:0:{}}s:2:\"id\";s:24:\"5964f831f65725bf25558b4b\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:32:\"/action/5964f831f65725bf25558b4b\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:7:\"bundles\";O:8:\"stdClass\":2:{s:4:\"data\";a:0:{}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:40:\"/action/5964f831f65725bf25558b4b/bundles\";}}s:4:\"plan\";O:8:\"stdClass\":1:{s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:37:\"/action/5964f831f65725bf25558b4b/plan\";}}}s:4:\"type\";s:6:\"action\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:6:\"req_id\";s:36:\"e0e78ef5-c0fd-415b-9b9f-a1b5c77c1198\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/PatientPlanSummaryResource\";}s:8:\"included\";O:8:\"stdClass\":3:{s:11:\"description\";s:254:\"Related
  resources which are included in the response based on the `include` param.\nAttributes
  of each resource will vary depending on the type.\nSee [action](#operation/fetchAction),
  [bundle](#operation/fetchBundle) and [patient](#operation/fetchPatient)\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:20:\"FetchPatientResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":9:{s:9:\"addresses\";a:0:{}s:15:\"archive_history\";a:0:{}s:8:\"archived\";b:0;s:10:\"birth_date\";s:10:\"1938-10-04\";s:10:\"first_name\";s:4:\"Lucy\";s:11:\"identifiers\";a:1:{i:0;O:8:\"stdClass\":3:{s:5:\"label\";s:32:\"Twine
  Sample Data Filler Patient\";s:6:\"system\";s:20:\"twine-filler-patient\";s:5:\"value\";s:9:\"filler-92\";}}s:9:\"last_name\";s:8:\"Bernhard\";s:13:\"phone_numbers\";a:2:{i:0;O:8:\"stdClass\":2:{s:7:\"primary\";b:1;s:5:\"value\";s:18:\"880-136-7979
  x6183\";}i:1;O:8:\"stdClass\":2:{s:7:\"primary\";b:0;s:5:\"value\";s:19:\"919.814.3552
  x40123\";}}s:10:\"updated_at\";s:24:\"2016-03-16T13:32:57.000Z\";}s:2:\"id\";s:24:\"58163112237d84a94035f78b\";s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"self\";s:37:\"/pub/patient/58163112237d84a94035f78b\";s:13:\"twine_web_app\";s:76:\"http://10.0.1.55:9000/#/coach/admin/coaches/58163112237d84a94035f78b/profile\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:7:\"coaches\";O:8:\"stdClass\":2:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":3:{s:2:\"id\";s:24:\"581630c3237d84a9403533c6\";s:4:\"meta\";O:8:\"stdClass\":1:{s:7:\"primary\";b:1;}s:4:\"type\";s:5:\"coach\";}}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:45:\"/pub/patient/58163112237d84a94035f78b/coaches\";}}s:6:\"groups\";O:8:\"stdClass\":2:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"5755db2a3db4179179999acf\";s:4:\"type\";s:5:\"group\";}}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:44:\"/pub/patient/58163112237d84a94035f78b/groups\";}}}s:4:\"type\";s:7:\"patient\";}s:8:\"included\";a:0:{}s:4:\"meta\";O:8:\"stdClass\":1:{s:6:\"req_id\";s:36:\"23001d51-669b-4948-b9fa-11dbffdf8ced\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PatientResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:21:\"FetchPatientsResponse\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"data\";a:3:{i:0;O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":9:{s:9:\"addresses\";a:0:{}s:15:\"archive_history\";a:0:{}s:8:\"archived\";b:0;s:10:\"birth_date\";s:10:\"1938-10-04\";s:10:\"first_name\";s:4:\"Lucy\";s:11:\"identifiers\";a:1:{i:0;O:8:\"stdClass\":3:{s:5:\"label\";s:32:\"Twine
  Sample Data Filler Patient\";s:6:\"system\";s:20:\"twine-filler-patient\";s:5:\"value\";s:9:\"filler-92\";}}s:9:\"last_name\";s:8:\"Bernhard\";s:13:\"phone_numbers\";a:2:{i:0;O:8:\"stdClass\":2:{s:7:\"primary\";b:1;s:5:\"value\";s:18:\"880-136-7979
  x6183\";}i:1;O:8:\"stdClass\":2:{s:7:\"primary\";b:0;s:5:\"value\";s:19:\"919.814.3552
  x40123\";}}s:10:\"updated_at\";s:24:\"2016-03-16T13:32:57.000Z\";}s:2:\"id\";s:24:\"58163112237d84a94035f78b\";s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"self\";s:37:\"/pub/patient/58163112237d84a94035f78b\";s:13:\"twine_web_app\";s:76:\"http://10.0.1.55:9000/#/coach/admin/coaches/58163112237d84a94035f78b/profile\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:7:\"coaches\";O:8:\"stdClass\":2:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":3:{s:2:\"id\";s:24:\"581630c3237d84a9403533c6\";s:4:\"meta\";O:8:\"stdClass\":1:{s:7:\"primary\";b:1;}s:4:\"type\";s:5:\"coach\";}}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:45:\"/pub/patient/58163112237d84a94035f78b/coaches\";}}s:6:\"groups\";O:8:\"stdClass\":2:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"5755db2a3db4179179999acf\";s:4:\"type\";s:5:\"group\";}}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:44:\"/pub/patient/58163112237d84a94035f78b/groups\";}}}s:4:\"type\";s:7:\"patient\";}i:1;O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":8:{s:9:\"addresses\";a:0:{}s:10:\"birth_date\";s:10:\"1983-03-16\";s:13:\"email_address\";s:28:\"annette.parisian@example.com\";s:10:\"first_name\";s:7:\"Annette\";s:11:\"identifiers\";a:1:{i:0;O:8:\"stdClass\":3:{s:5:\"label\";s:32:\"Twine
  Sample Data Filler Patient\";s:6:\"system\";s:20:\"twine-filler-patient\";s:5:\"value\";s:8:\"filler-5\";}}s:9:\"last_name\";s:8:\"Parisian\";s:13:\"phone_numbers\";a:1:{i:0;O:8:\"stdClass\":2:{s:7:\"primary\";b:1;s:5:\"value\";s:18:\"044.758.5704
  x1965\";}}s:10:\"updated_at\";s:24:\"2016-02-04T12:55:03.000Z\";}s:2:\"id\";s:24:\"58163103237d84a94035f0b3\";s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"self\";s:37:\"/pub/patient/58163103237d84a94035f0b3\";s:13:\"twine_web_app\";s:76:\"http://10.0.1.55:9000/#/coach/admin/coaches/58163103237d84a94035f0b3/profile\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:7:\"coaches\";O:8:\"stdClass\":2:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":3:{s:2:\"id\";s:24:\"581630c3237d84a9403533c6\";s:4:\"meta\";O:8:\"stdClass\":1:{s:7:\"primary\";b:1;}s:4:\"type\";s:5:\"coach\";}}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:45:\"/pub/patient/58163103237d84a94035f0b3/coaches\";}}s:6:\"groups\";O:8:\"stdClass\":2:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"5755db2a3db4179179999acf\";s:4:\"type\";s:5:\"group\";}}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:44:\"/pub/patient/58163103237d84a94035f0b3/groups\";}}}s:4:\"type\";s:7:\"patient\";}i:2;O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":8:{s:9:\"addresses\";a:0:{}s:10:\"birth_date\";s:10:\"1932-04-06\";s:13:\"email_address\";s:25:\"lexi.thompson@example.com\";s:10:\"first_name\";s:4:\"Lexi\";s:11:\"identifiers\";a:1:{i:0;O:8:\"stdClass\":3:{s:5:\"label\";s:32:\"Twine
  Sample Data Filler Patient\";s:6:\"system\";s:20:\"twine-filler-patient\";s:5:\"value\";s:8:\"filler-3\";}}s:9:\"last_name\";s:8:\"Thompson\";s:13:\"phone_numbers\";a:1:{i:0;O:8:\"stdClass\":2:{s:7:\"primary\";b:1;s:5:\"value\";s:21:\"1-977-830-6179
  x26334\";}}s:10:\"updated_at\";s:24:\"2016-01-23T16:12:07.000Z\";}s:2:\"id\";s:24:\"58163103237d84a94035f043\";s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"self\";s:37:\"/pub/patient/58163103237d84a94035f043\";s:13:\"twine_web_app\";s:76:\"http://10.0.1.55:9000/#/coach/admin/coaches/58163103237d84a94035f043/profile\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:7:\"coaches\";O:8:\"stdClass\":2:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":3:{s:2:\"id\";s:24:\"581630c3237d84a9403533c6\";s:4:\"meta\";O:8:\"stdClass\":1:{s:7:\"primary\";b:1;}s:4:\"type\";s:5:\"coach\";}}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:45:\"/pub/patient/58163103237d84a94035f043/coaches\";}}s:6:\"groups\";O:8:\"stdClass\":2:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"5755db2a3db4179179999acf\";s:4:\"type\";s:5:\"group\";}}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:44:\"/pub/patient/58163103237d84a94035f043/groups\";}}}s:4:\"type\";s:7:\"patient\";}}s:5:\"links\";O:8:\"stdClass\":3:{s:4:\"last\";s:81:\"/pub/patient?filter[groups]=5755db2a3db4179179999acf&page[number]=88&page[size]=3\";s:4:\"next\";s:80:\"/pub/patient?filter[groups]=5755db2a3db4179179999acf&page[number]=2&page[size]=3\";s:4:\"self\";s:80:\"/pub/patient?filter[groups]=5755db2a3db4179179999acf&page[number]=1&page[size]=3\";}s:4:\"meta\";O:8:\"stdClass\":2:{s:5:\"count\";i:263;s:6:\"req_id\";s:36:\"155c690b-50b2-4ff2-8abe-b809a8a51e53\";}}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PatientResource\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CollectionResponseLinks\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:37:\"FetchRewardEarningFulfillmentResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/RewardEarningFulfillmentResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:38:\"FetchRewardEarningFulfillmentsResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/RewardEarningFulfillmentResource\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:26:\"FetchRewardEarningResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/RewardEarningResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:27:\"FetchRewardEarningsResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/RewardEarningResource\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:36:\"FetchRewardProgramActivationResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/RewardProgramActivationResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:37:\"FetchRewardProgramActivationsResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/RewardProgramActivationResource\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:26:\"FetchRewardProgramResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/RewardProgramResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:27:\"FetchRewardProgramsResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/RewardProgramResource\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:19:\"FetchRewardResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RewardResource\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:20:\"FetchRewardsResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RewardResource\";}s:4:\"type\";s:5:\"array\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FetchMetaResponse\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:13:\"GroupResource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"bio\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"A
  description of the group\";s:7:\"example\";s:48:\"Team Health is all about the patient
  experience.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  name of the group\";s:7:\"example\";s:11:\"Team Health\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":2:{s:7:\"example\";s:24:\"57b36e3c04ad8c2224f2af38\";s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"self\";O:8:\"stdClass\":3:{s:7:\"example\";s:31:\"/group/57b36e3c04ad8c2224f2af38\";s:7:\"pattern\";s:16:\"/group/[0-9a-z]+\";s:4:\"type\";s:6:\"string\";}}s:8:\"readOnly\";b:1;s:8:\"required\";a:1:{i:0;s:4:\"self\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"enum\";a:1:{i:0;s:5:\"group\";}s:7:\"example\";s:5:\"group\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:10:\"attributes\";}s:4:\"type\";s:6:\"object\";}s:27:\"HealthProfileAnswerResource\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":5:{s:10:\"created_at\";s:24:\"2017-07-07T19:15:56.229Z\";s:7:\"history\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"_created_by\";s:24:\"59d4d7dcd843ee01be71fcf8\";s:3:\"_id\";s:24:\"59d4d7dcd843ee01be71fcfb\";s:11:\"answered_at\";s:24:\"2017-10-03T12:45:16.720Z\";s:5:\"value\";s:1:\"2\";}}s:6:\"latest\";O:8:\"stdClass\":3:{s:11:\"_created_by\";s:24:\"59d4d7dcd843ee01be71fcf8\";s:11:\"answered_at\";s:24:\"2017-10-04T12:45:16.720Z\";s:5:\"value\";s:1:\"1\";}s:11:\"question_id\";s:1:\"4\";s:10:\"updated_at\";s:24:\"2017-07-07T19:15:56.229Z\";}s:2:\"id\";s:24:\"59d441ac21741161bbe266b5\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:51:\"/pub/health_profile_answer/59d441ac21741161bbe266b5\";}s:13:\"relationships\";O:8:\"stdClass\":1:{s:7:\"patient\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"595fddea28c5041b84466bbe\";s:4:\"type\";s:7:\"patient\";}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:59:\"/pub/health_profile_answer/59d441ac21741161bbe266b5/patient\";}}}s:4:\"type\";s:21:\"health_profile_answer\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"history\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"List
  of details of previous answers for a health profile question\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  details of a previous answer for a health profile question\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"_created_by\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  id of the patient or coach who answered the health profile question\";s:4:\"type\";s:6:\"string\";}s:11:\"answered_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  date when the health profile question is answered\";s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  value of the answer entered for the health profile question\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"latest\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  details of the latest answer for a health profile question\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"_created_by\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  id of the patient or coach who answered the health profile question\";s:4:\"type\";s:6:\"string\";}s:11:\"answered_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  date when the health profile question is answered\";s:6:\"format\";s:8:\"dateTime\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  value of the answer entered for the health profile question\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"question_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"self\";O:8:\"stdClass\":3:{s:7:\"example\";s:47:\"/health_profile_answer/59d441ac21741161bbe266b5\";s:7:\"pattern\";s:32:\"/health_profile_answer/[0-9a-z]+\";s:4:\"type\";s:6:\"string\";}}s:8:\"readOnly\";b:1;s:8:\"required\";a:1:{i:0;s:4:\"self\";}s:4:\"type\";s:6:\"object\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"patient\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"links\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"related\";O:8:\"stdClass\":3:{s:7:\"example\";s:59:\"/pub/health_profile_answer/59d441ac21741161bbe266b5/patient\";s:7:\"pattern\";s:36:\"/pub/health_profile_answer/[0-9a-z]+\";s:4:\"type\";s:6:\"string\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:29:\"HealthProfileQuestionResource\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":5:{s:9:\"attribute\";O:8:\"stdClass\":0:{}s:2:\"id\";s:24:\"52b36e3c04ad8c2224f2aa67\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:53:\"/pub/health_profile_question/59d435931d078505ba744e88\";}s:13:\"relationships\";O:8:\"stdClass\":3:{s:6:\"answer\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"595fddea28c5041b84466bbe\";s:4:\"type\";s:21:\"health_profile_answer\";}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:60:\"/pub/health_profile_question/59d435931d078505ba744e88/answer\";}}s:7:\"profile\";O:8:\"stdClass\":1:{s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:61:\"/pub/health_profile_question/59d435931d078505ba744e88/profile\";}}s:19:\"question_definition\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:2:\"id\";s:1:\"4\";s:4:\"type\";s:26:\"health_question_definition\";}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:73:\"/pub/health_profile_question/59d435931d078505ba744e88/question_definition\";}}}s:4:\"type\";s:23:\"health_profile_question\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"A
  health profile question does not have any attribute since it only relates an answer
  to the corresponding question definition.\n\";s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"self\";O:8:\"stdClass\":3:{s:7:\"example\";s:53:\"/pub/health_profile_question/59d435931d078505ba744e88\";s:7:\"pattern\";s:38:\"/pub/health_profile_question/[0-9a-z]+\";s:4:\"type\";s:6:\"string\";}}s:8:\"readOnly\";b:1;s:8:\"required\";a:1:{i:0;s:4:\"self\";}s:4:\"type\";s:6:\"object\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"answer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"links\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"related\";O:8:\"stdClass\":3:{s:7:\"example\";s:60:\"/pub/health_profile_question/59d435931d078505ba744e88/answer\";s:7:\"pattern\";s:45:\"/pub/health_profile_question/[0-9a-z]+/answer\";s:4:\"type\";s:6:\"string\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:7:\"profile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"links\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"related\";O:8:\"stdClass\":3:{s:7:\"example\";s:61:\"/pub/health_profile_question/59d435931d078505ba744e88/profile\";s:7:\"pattern\";s:46:\"/pub/health_profile_question/[0-9a-z]+/profile\";s:4:\"type\";s:6:\"string\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:19:\"question_definition\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"links\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"related\";O:8:\"stdClass\":3:{s:7:\"example\";s:73:\"/pub/health_profile_question/59d435931d078505ba744e88/question_definition\";s:7:\"pattern\";s:58:\"/pub/health_profile_question/[0-9a-z]+/question_definition\";s:4:\"type\";s:6:\"string\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}}s:8:\"readOnly\";b:1;}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:21:\"HealthProfileResource\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":3:{s:10:\"created_at\";s:24:\"2017-07-07T19:15:56.229Z\";s:5:\"stats\";a:4:{i:0;O:8:\"stdClass\":3:{s:8:\"answered\";i:5;s:8:\"category\";s:19:\"lifestyle_behaviors\";s:5:\"total\";i:11;}i:1;O:8:\"stdClass\":3:{s:8:\"answered\";i:3;s:8:\"category\";s:16:\"mental_wellbeing\";s:5:\"total\";i:5;}i:2;O:8:\"stdClass\":3:{s:8:\"answered\";i:1;s:8:\"category\";s:17:\"preventative_care\";s:5:\"total\";i:3;}i:3;O:8:\"stdClass\":3:{s:8:\"answered\";i:9;s:8:\"category\";s:7:\"overall\";s:5:\"total\";i:19;}}s:10:\"updated_at\";s:24:\"2017-07-07T19:15:56.229Z\";}s:2:\"id\";s:24:\"59d441ac21741161bbe266b5\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:44:\"/pub/health_profile/59d441ac21741161bbe266b5\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:7:\"patient\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"595fddea28c5041b84466bbe\";s:4:\"type\";s:7:\"patient\";}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:52:\"/pub/health_profile/59d441ac21741161bbe266b5/patient\";}}s:9:\"questions\";O:8:\"stdClass\":2:{s:4:\"data\";a:1:{i:0;O:8:\"stdClass\":2:{s:2:\"id\";s:24:\"595fddea28c5041b84466bbe\";s:4:\"type\";s:23:\"health_profile_question\";}}s:5:\"links\";O:8:\"stdClass\":1:{s:7:\"related\";s:54:\"/pub/health_profile/59d441ac21741161bbe266b5/questions\";}}}s:4:\"type\";s:14:\"health_profile\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"stats\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"List
  of category, answered and total counts for questions in the health profile\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  category, answered and total counts for questions in the health profile\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"answered\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:19:\"lifestyle_behaviors\";i:1;s:16:\"mental_wellbeing\";i:2;s:17:\"preventative_care\";i:3;s:7:\"overall\";}s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"self\";O:8:\"stdClass\":3:{s:7:\"example\";s:40:\"/health_profile/59d441ac21741161bbe266b5\";s:7:\"pattern\";s:25:\"/health_profile/[0-9a-z]+\";s:4:\"type\";s:6:\"string\";}}s:8:\"readOnly\";b:1;s:8:\"required\";a:1:{i:0;s:4:\"self\";}s:4:\"type\";s:6:\"object\";}s:13:\"relationships\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"patient\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"links\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"related\";O:8:\"stdClass\":3:{s:7:\"example\";s:52:\"/pub/health_profile/59d441ac21741161bbe266b5/patient\";s:7:\"pattern\";s:29:\"/pub/health_profile/[0-9a-z]+\";s:4:\"type\";s:6:\"string\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:9:\"questions\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"related\";O:8:\"stdClass\":3:{s:7:\"example\";s:54:\"/pub/health_profile/59d441ac21741161bbe266b5/questions\";s:7:\"pattern\";s:29:\"/pub/health_profile/[0-9a-z]+\";s:4:\"type\";s:6:\"string\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:32:\"HealthQuestionDefinitionResource\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":4:{s:8:\"category\";s:17:\"preventative_care\";s:6:\"format\";O:8:\"stdClass\":2:{s:4:\"data\";a:2:{i:0;O:8:\"stdClass\":2:{s:5:\"label\";s:12:\"I
  Don't know\";s:5:\"value\";s:1:\"0\";}i:1;O:8:\"stdClass\":2:{s:5:\"label\";s:28:\"I've
  never had a colonoscopy\";s:5:\"value\";s:1:\"1\";}}s:4:\"type\";s:15:\"last_occurrence\";}s:12:\"requirements\";a:1:{i:0;O:8:\"stdClass\":3:{s:8:\"property\";s:3:\"age\";s:19:\"shouldBeGreaterThan\";i:49;s:16:\"shouldBeLessThan\";i:76;}}s:4:\"text\";s:31:\"When
  was your last colonoscopy?\";}s:2:\"id\";s:2:\"21\";s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"self\";s:34:\"/pub/health_question_definition/21\";}s:4:\"type\";s:26:\"health_question_definition\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"category\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  category for the health profile definition\";s:4:\"enum\";a:3:{i:0;s:19:\"lifestyle_behaviors\";i:1;s:16:\"mental_wellbeing\";i:2;s:17:\"preventative_care\";}s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  list of formats for the health profile definition\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  label, value and icon for the answer choices for the question\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"icon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"requirements\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  lsit of age and gender requirements for the question to be included\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  age and gender requirement for the question to be included\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"property\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"shouldBeEqual\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Specifies
  if the value in property should be equal to the one in value\";s:4:\"type\";s:7:\"boolean\";}s:19:\"shouldBeGreaterThan\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Specifies
  if the value in property should be greater than the one in value\";s:4:\"type\";s:6:\"number\";}s:16:\"shouldBeLessThan\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Specifies
  if the value in property should be less than the one in value\";s:4:\"type\";s:6:\"number\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"The
  value to be compared with the one in property, based on shouldBeEqual, shouldBeGreaterThan,
  or shouldBeLessThan\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
[...]
