---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1013:\"<fullname>Amazon
  Simple Notification Service</fullname> <p>Amazon Simple Notification Service (Amazon
  SNS) is a web service that enables you to build distributed web-enabled applications.
  Applications can use Amazon SNS to easily push real-time notification messages to
  interested subscribers over multiple delivery protocols. For more information about
  this product see <a href=\"http://aws.amazon.com/sns/\">http://aws.amazon.com/sns</a>.
  For detailed information about Amazon SNS features and their associated API calls,
  see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/\">Amazon SNS Developer
  Guide</a>. </p> <p>We also provide SDKs that enable you to access Amazon SNS from
  your preferred programming language. The SDKs contain functionality that automatically
  takes care of tasks such as: cryptographically signing your service requests, retrying
  requests, and handling error responses. For a list of available SDKs, go to <a href=\"http://aws.amazon.com/tools/\">Tools
  for Amazon Web Services</a>. </p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:34:\"Amazon
  Simple Notification Service\";s:7:\"version\";s:10:\"2010-03-31\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:87:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/sns-2010-03-31.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:3:\"sns\";}"
host: sns.amazonaws.com
basePath: /
paths: ~
produces: []
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":101:{s:11:\"ActionsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/action\";}s:4:\"type\";s:5:\"array\";}s:18:\"AddPermissionInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"AWSAccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DelegatesList\";s:11:\"description\";s:180:\"The
  AWS account IDs of the users (principals) who will be given access to the specified
  actions. The users must have AWS accounts, but do not need to be signed up for this
  service.\";}s:10:\"ActionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ActionsList\";s:11:\"description\";s:116:\"<p>The
  action you want to allow for the specified principal(s).</p> <p>Valid values: any
  Amazon SNS action name.</p>\";}s:5:\"Label\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/label\";s:11:\"description\";s:49:\"A
  unique identifier for the new policy statement.\";}s:8:\"TopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/topicARN\";s:11:\"description\";s:68:\"The
  ARN of the topic whose access control policy you wish to modify.\";}}s:8:\"required\";a:4:{i:0;s:8:\"TopicArn\";i:1;s:5:\"Label\";i:2;s:12:\"AWSAccountId\";i:3;s:10:\"ActionName\";}s:4:\"type\";s:6:\"object\";}s:27:\"AuthorizationErrorException\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Indicates
  that the user has been denied access to the requested resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Binary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:33:\"CheckIfPhoneNumberIsOptedOutInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"The
  input for the <code>CheckIfPhoneNumberIsOptedOut</code> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PhoneNumber\";s:11:\"description\";s:64:\"The
  phone number for which you want to check the opt out status.\";}}s:8:\"required\";a:1:{i:0;s:11:\"phoneNumber\";}s:4:\"type\";s:6:\"object\";}s:36:\"CheckIfPhoneNumberIsOptedOutResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  response from the <code>CheckIfPhoneNumberIsOptedOut</code> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"isOptedOut\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:301:\"<p>Indicates
  whether the phone number is opted out:</p> <ul> <li> <p> <code>true</code> \u2013
  The phone number is opted out, meaning you cannot publish SMS messages to it.</p>
  </li> <li> <p> <code>false</code> \u2013 The phone number is opted in, meaning you
  can publish SMS messages to it.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ConfirmSubscriptionInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Input
  for ConfirmSubscription action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:25:\"AuthenticateOnUnsubscribe\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/authenticateOnUnsubscribe\";s:11:\"description\";s:285:\"Disallows
  unauthenticated unsubscribes of the subscription. If the value of this parameter
  is <code>true</code> and the request has an AWS signature, then only the topic owner
  and the subscription owner can unsubscribe the endpoint. The unsubscribe action
  requires AWS authentication. \";}s:5:\"Token\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/token\";s:11:\"description\";s:79:\"Short-lived
  token sent to an endpoint during the <code>Subscribe</code> action.\";}s:8:\"TopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/topicARN\";s:11:\"description\";s:66:\"The
  ARN of the topic for which you wish to confirm a subscription.\";}}s:8:\"required\";a:2:{i:0;s:8:\"TopicArn\";i:1;s:5:\"Token\";}s:4:\"type\";s:6:\"object\";}s:27:\"ConfirmSubscriptionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Response
  for ConfirmSubscriptions action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"SubscriptionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/subscriptionARN\";s:11:\"description\";s:36:\"The
  ARN of the created subscription.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CreateEndpointResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Response
  from CreateEndpoint action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"EndpointArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"EndpointArn
  returned from CreateEndpoint action.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CreatePlatformApplicationInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Input
  for CreatePlatformApplication action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MapStringToString\";s:11:\"description\";s:161:\"For
  a list of attributes, see <a href=\"http://docs.aws.amazon.com/sns/latest/api/API_SetPlatformApplicationAttributes.html\">SetPlatformApplicationAttributes</a>
  \";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:171:\"Application
  names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores,
  hyphens, and periods, and must be between 1 and 256 characters long.\";}s:8:\"Platform\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:157:\"The
  following platforms are supported: ADM (Amazon Device Messaging), APNS (Apple Push
  Notification Service), APNS_SANDBOX, and GCM (Google Cloud Messaging).\";}}s:8:\"required\";a:3:{i:0;s:4:\"Name\";i:1;s:8:\"Platform\";i:2;s:10:\"Attributes\";}s:4:\"type\";s:6:\"object\";}s:33:\"CreatePlatformApplicationResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Response
  from CreatePlatformApplication action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"PlatformApplicationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:35:\"PlatformApplicationArn
  is returned.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CreatePlatformEndpointInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Input
  for CreatePlatformEndpoint action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MapStringToString\";s:11:\"description\";s:139:\"For
  a list of attributes, see <a href=\"http://docs.aws.amazon.com/sns/latest/api/API_SetEndpointAttributes.html\">SetEndpointAttributes</a>.\";}s:14:\"CustomUserData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:138:\"Arbitrary
  user data to associate with the endpoint. Amazon SNS does not use this data. The
  data must be in UTF-8 format and less than 2KB.\";}s:22:\"PlatformApplicationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:95:\"PlatformApplicationArn
  returned from CreatePlatformApplication is used to create a an endpoint.\";}s:5:\"Token\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:353:\"Unique
  identifier created by the notification service for an app on a device. The specific
  name for Token will vary, depending on which notification service is being used.
  For example, when using APNS as the notification service, you need the device token.
  Alternatively, when using GCM or ADM, the device token equivalent is called the
  registration ID.\";}}s:8:\"required\";a:2:{i:0;s:22:\"PlatformApplicationArn\";i:1;s:5:\"Token\";}s:4:\"type\";s:6:\"object\";}s:16:\"CreateTopicInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Input
  for CreateTopic action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/topicName\";s:11:\"description\";s:225:\"<p>The
  name of the topic you want to create.</p> <p>Constraints: Topic names must be made
  up of only uppercase and lowercase ASCII letters, numbers, underscores, and hyphens,
  and must be between 1 and 256 characters long.</p>\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateTopicResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Response
  from CreateTopic action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"TopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/topicARN\";s:11:\"description\";s:61:\"The
  Amazon Resource Name (ARN) assigned to the created topic.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DelegatesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/delegate\";}s:4:\"type\";s:5:\"array\";}s:19:\"DeleteEndpointInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Input
  for DeleteEndpoint action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"EndpointArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"EndpointArn
  of endpoint to delete.\";}}s:8:\"required\";a:1:{i:0;s:11:\"EndpointArn\";}s:4:\"type\";s:6:\"object\";}s:30:\"DeletePlatformApplicationInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Input
  for DeletePlatformApplication action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"PlatformApplicationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:64:\"PlatformApplicationArn
  of platform application object to delete.\";}}s:8:\"required\";a:1:{i:0;s:22:\"PlatformApplicationArn\";}s:4:\"type\";s:6:\"object\";}s:16:\"DeleteTopicInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"TopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/topicARN\";s:11:\"description\";s:40:\"The
  ARN of the topic you want to delete.\";}}s:8:\"required\";a:1:{i:0;s:8:\"TopicArn\";}s:4:\"type\";s:6:\"object\";}s:8:\"Endpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Endpoint
  for mobile app and device.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MapStringToString\";s:11:\"description\";s:24:\"Attributes
  for endpoint.\";}s:11:\"EndpointArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"EndpointArn
  for mobile app and device.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"EndpointDisabledException\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Exception
  error indicating endpoint disabled.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:30:\"Message
  for endpoint disabled.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"FilterPolicyLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"Indicates
  that the number of filter polices in your AWS account exceeds the limit. To add
  more filter polices, submit an SNS Limit Increase case in the AWS Support Center.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"GetEndpointAttributesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Input
  for GetEndpointAttributes action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"EndpointArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:44:\"EndpointArn
  for GetEndpointAttributes input.\";}}s:8:\"required\";a:1:{i:0;s:11:\"EndpointArn\";}s:4:\"type\";s:6:\"object\";}s:29:\"GetEndpointAttributesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Response
  from GetEndpointAttributes of the EndpointArn.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MapStringToString\";s:11:\"description\";s:762:\"<p>Attributes
  include the following:</p> <ul> <li> <p> <code>CustomUserData</code> -- arbitrary
  user data to associate with the endpoint. Amazon SNS does not use this data. The
  data must be in UTF-8 format and less than 2KB.</p> </li> <li> <p> <code>Enabled</code>
  -- flag that enables/disables delivery to the endpoint. Amazon SNS will set this
  to false when a notification service indicates to Amazon SNS that the endpoint is
  invalid. Users can set it back to true, typically after updating Token.</p> </li>
  <li> <p> <code>Token</code> -- device token, also referred to as a registration
  id, for an app and mobile device. This is returned from the notification service
  when an app and mobile device are registered with the notification service.</p>
  </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:37:\"GetPlatformApplicationAttributesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Input
  for GetPlatformApplicationAttributes action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"PlatformApplicationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:65:\"PlatformApplicationArn
  for GetPlatformApplicationAttributesInput.\";}}s:8:\"required\";a:1:{i:0;s:22:\"PlatformApplicationArn\";}s:4:\"type\";s:6:\"object\";}s:40:\"GetPlatformApplicationAttributesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Response
  for GetPlatformApplicationAttributes action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MapStringToString\";s:11:\"description\";s:645:\"<p>Attributes
  include the following:</p> <ul> <li> <p> <code>EventEndpointCreated</code> -- Topic
  ARN to which EndpointCreated event notifications should be sent.</p> </li> <li>
  <p> <code>EventEndpointDeleted</code> -- Topic ARN to which EndpointDeleted event
  notifications should be sent.</p> </li> <li> <p> <code>EventEndpointUpdated</code>
  -- Topic ARN to which EndpointUpdate event notifications should be sent.</p> </li>
  <li> <p> <code>EventDeliveryFailure</code> -- Topic ARN to which DeliveryFailure
  event notifications should be sent upon Direct Publish delivery failure (permanent)
  to one of the application's endpoints.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:21:\"GetSMSAttributesInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  input for the <code>GetSMSAttributes</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ListString\";s:11:\"description\";s:330:\"<p>A
  list of the individual attribute names, such as <code>MonthlySpendLimit</code>,
  for which you want values.</p> <p>For all attribute names, see <a href=\"http://docs.aws.amazon.com/sns/latest/api/API_SetSMSAttributes.html\">SetSMSAttributes</a>.</p>
  <p>If you don't use this parameter, Amazon SNS returns all SMS attributes.</p>\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetSMSAttributesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  response from the <code>GetSMSAttributes</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MapStringToString\";s:11:\"description\";s:41:\"The
  SMS attribute names and their values.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"GetSubscriptionAttributesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Input
  for GetSubscriptionAttributes.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"SubscriptionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/subscriptionARN\";s:11:\"description\";s:61:\"The
  ARN of the subscription whose properties you want to get.\";}}s:8:\"required\";a:1:{i:0;s:15:\"SubscriptionArn\";}s:4:\"type\";s:6:\"object\";}s:33:\"GetSubscriptionAttributesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Response
  for GetSubscriptionAttributes action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/SubscriptionAttributesMap\";s:11:\"description\";s:1373:\"<p>A
  map of the subscription's attributes. Attributes in this map include the following:</p>
  <ul> <li> <p> <code>ConfirmationWasAuthenticated</code> -- <code>true</code> if
  the subscription confirmation request was authenticated.</p> </li> <li> <p> <code>DeliveryPolicy</code>
  -- The JSON serialization of the subscription's delivery policy.</p> </li> <li>
  <p> <code>EffectiveDeliveryPolicy</code> -- The JSON serialization of the effective
  delivery policy that takes into account the topic delivery policy and account system
  defaults.</p> </li> <li> <p> <code>FilterPolicy</code> -- The filter policy JSON
  that is assigned to the subscription.</p> </li> <li> <p> <code>Owner</code> -- The
  AWS account ID of the subscription's owner.</p> </li> <li> <p> <code>PendingConfirmation</code>
  -- <code>true</code> if the subscription hasn't been confirmed. To confirm a pending
  subscription, call the <code>ConfirmSubscription</code> action with a confirmation
  token.</p> </li> <li> <p> <code>RawMessageDelivery</code> -- <code>true</code> if
  raw message delivery is enabled for the subscription. Raw messages are free of JSON
  formatting and can be sent to HTTP/S and Amazon SQS endpoints.</p> </li> <li> <p>
  <code>SubscriptionArn</code> -- The subscription's ARN.</p> </li> <li> <p> <code>TopicArn</code>
  -- The topic ARN that the subscription is associated with.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:23:\"GetTopicAttributesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Input
  for GetTopicAttributes action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"TopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/topicARN\";s:11:\"description\";s:54:\"The
  ARN of the topic whose properties you want to get.\";}}s:8:\"required\";a:1:{i:0;s:8:\"TopicArn\";}s:4:\"type\";s:6:\"object\";}s:26:\"GetTopicAttributesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Response
  for GetTopicAttributes action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TopicAttributesMap\";s:11:\"description\";s:1081:\"<p>A
  map of the topic's attributes. Attributes in this map include the following:</p>
  <ul> <li> <p> <code>TopicArn</code> -- the topic's ARN</p> </li> <li> <p> <code>Owner</code>
  -- the AWS account ID of the topic's owner</p> </li> <li> <p> <code>Policy</code>
  -- the JSON serialization of the topic's access control policy</p> </li> <li> <p>
  <code>DisplayName</code> -- the human-readable name used in the \"From\" field for
  notifications to email and email-json endpoints</p> </li> <li> <p> <code>SubscriptionsPending</code>
  -- the number of subscriptions pending confirmation on this topic</p> </li> <li>
  <p> <code>SubscriptionsConfirmed</code> -- the number of confirmed subscriptions
  on this topic</p> </li> <li> <p> <code>SubscriptionsDeleted</code> -- the number
  of deleted subscriptions on this topic</p> </li> <li> <p> <code>DeliveryPolicy</code>
  -- the JSON serialization of the topic's delivery policy</p> </li> <li> <p> <code>EffectiveDeliveryPolicy</code>
  -- the JSON serialization of the effective delivery policy that takes into account
  system defaults</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InternalErrorException\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Indicates
  an internal service error.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidParameterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Indicates
  that a request parameter does not comply with the associated constraints.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"InvalidParameterValueException\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Indicates
  that a request parameter does not comply with the associated constraints.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:31:\"The
  parameter value is invalid.\";}}s:4:\"type\";s:6:\"object\";}s:39:\"ListEndpointsByPlatformApplicationInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Input
  for ListEndpointsByPlatformApplication action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:159:\"NextToken
  string is used when calling ListEndpointsByPlatformApplication action to retrieve
  additional records that are available after the first page results.\";}s:22:\"PlatformApplicationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:74:\"PlatformApplicationArn
  for ListEndpointsByPlatformApplicationInput action.\";}}s:8:\"required\";a:1:{i:0;s:22:\"PlatformApplicationArn\";}s:4:\"type\";s:6:\"object\";}s:42:\"ListEndpointsByPlatformApplicationResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Response
  for ListEndpointsByPlatformApplication action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"Endpoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ListOfEndpoints\";s:11:\"description\";s:65:\"Endpoints
  returned for ListEndpointsByPlatformApplication action.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:149:\"NextToken
  string is returned when calling ListEndpointsByPlatformApplication action if additional
  records are available after the first page results.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ListOfEndpoints\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Endpoint\";}s:4:\"type\";s:5:\"array\";}s:26:\"ListOfPlatformApplications\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PlatformApplication\";}s:4:\"type\";s:5:\"array\";}s:29:\"ListPhoneNumbersOptedOutInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  input for the <code>ListPhoneNumbersOptedOut</code> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:185:\"A
  <code>NextToken</code> string is used when you call the <code>ListPhoneNumbersOptedOut</code>
  action to retrieve additional records that are available after the first page of
  results.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ListPhoneNumbersOptedOutResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  response from the <code>ListPhoneNumbersOptedOut</code> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:175:\"A
  <code>NextToken</code> string is returned when you call the <code>ListPhoneNumbersOptedOut</code>
  action if additional records are available after the first page of results.\";}s:12:\"phoneNumbers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PhoneNumberList\";s:11:\"description\";s:143:\"A
  list of phone numbers that are opted out of receiving SMS messages. The list is
  paginated, and each page can contain up to 100 phone numbers.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListPlatformApplicationsInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Input
  for ListPlatformApplications action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:149:\"NextToken
  string is used when calling ListPlatformApplications action to retrieve additional
  records that are available after the first page results.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ListPlatformApplicationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Response
  for ListPlatformApplications action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:139:\"NextToken
  string is returned when calling ListPlatformApplications action if additional records
  are available after the first page results.\";}s:20:\"PlatformApplications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ListOfPlatformApplications\";s:11:\"description\";s:76:\"Platform
  applications returned when calling ListPlatformApplications action.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ListString\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:29:\"ListSubscriptionsByTopicInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Input
  for ListSubscriptionsByTopic action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/nextToken\";s:11:\"description\";s:77:\"Token
  returned by the previous <code>ListSubscriptionsByTopic</code> request.\";}s:8:\"TopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/topicARN\";s:11:\"description\";s:62:\"The
  ARN of the topic for which you wish to find subscriptions.\";}}s:8:\"required\";a:1:{i:0;s:8:\"TopicArn\";}s:4:\"type\";s:6:\"object\";}s:32:\"ListSubscriptionsByTopicResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Response
  for ListSubscriptionsByTopic action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/nextToken\";s:11:\"description\";s:148:\"Token
  to pass along to the next <code>ListSubscriptionsByTopic</code> request. This element
  is returned if there are more subscriptions to retrieve.\";}s:13:\"Subscriptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SubscriptionsList\";s:11:\"description\";s:24:\"A
  list of subscriptions.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListSubscriptionsInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Input
  for ListSubscriptions action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/nextToken\";s:11:\"description\";s:70:\"Token
  returned by the previous <code>ListSubscriptions</code> request.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListSubscriptionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Response
  for ListSubscriptions action\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/nextToken\";s:11:\"description\";s:141:\"Token
  to pass along to the next <code>ListSubscriptions</code> request. This element is
  returned if there are more subscriptions to retrieve.\";}s:13:\"Subscriptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SubscriptionsList\";s:11:\"description\";s:24:\"A
  list of subscriptions.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ListTopicsInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/nextToken\";s:11:\"description\";s:63:\"Token
  returned by the previous <code>ListTopics</code> request.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListTopicsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Response
  for ListTopics action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/nextToken\";s:11:\"description\";s:133:\"Token
  to pass along to the next <code>ListTopics</code> request. This element is returned
  if there are additional topics to retrieve.\";}s:6:\"Topics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TopicsList\";s:11:\"description\";s:21:\"A
  list of topic ARNs.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MapStringToString\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:19:\"MessageAttributeMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/MessageAttributeValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:21:\"MessageAttributeValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:680:\"<p>The
  user-specified message attribute value. For string data types, the value attribute
  has the same restrictions on the content as the message body. For more information,
  see <a href=\"http://docs.aws.amazon.com/sns/latest/api/API_Publish.html\">Publish</a>.</p>
  <p>Name, type, and value must not be empty or null. In addition, the message body
  should not be empty or null. All parts of the message attribute, including name,
  type, and value, are included in the message size restriction, which is currently
  256 KB (262,144 bytes). For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMessageAttributes.html\">Using
  Amazon SNS Message Attributes</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"BinaryValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Binary\";s:11:\"description\";s:106:\"Binary
  type attributes can store any binary data, for example, compressed data, encrypted
  data, or images.\";}s:8:\"DataType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:263:\"Amazon
  SNS supports the following logical data types: String, String.Array, Number, and
  Binary. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMessageAttributes.html#SNSMessageAttributes.DataTypes\">Message
  Attribute Data Types</a>.\";}s:11:\"StringValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:216:\"Strings
  are Unicode with UTF8 binary encoding. For a list of code values, see <a href=\"http://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters\">http://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters</a>.\";}}s:8:\"required\";a:1:{i:0;s:8:\"DataType\";}s:4:\"type\";s:6:\"object\";}s:17:\"NotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Indicates
  that the requested resource does not exist.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"OptInPhoneNumberInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Input
  for the OptInPhoneNumber action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PhoneNumber\";s:11:\"description\";s:27:\"The
  phone number to opt in.\";}}s:8:\"required\";a:1:{i:0;s:11:\"phoneNumber\";}s:4:\"type\";s:6:\"object\";}s:24:\"OptInPhoneNumberResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  response for the OptInPhoneNumber action.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"PhoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"PhoneNumberList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PhoneNumber\";}s:4:\"type\";s:5:\"array\";}s:19:\"PlatformApplication\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Platform
  application object.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MapStringToString\";s:11:\"description\";s:43:\"Attributes
  for platform application object.\";}s:22:\"PlatformApplicationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:55:\"PlatformApplicationArn
  for platform application object.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"PlatformApplicationDisabledException\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Exception
  error indicating platform application disabled.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:42:\"Message
  for platform application disabled.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"PublishInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Input
  for Publish action.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/message\";s:11:\"description\";s:2098:\"<p>The
  message you want to send.</p> <p>If you are publishing to a topic and you want to
  send the same message to all transport protocols, include the text of the message
  as a String value. If you want to send different messages for each transport protocol,
  set the value of the <code>MessageStructure</code> parameter to <code>json</code>
  and use a JSON object for the <code>Message</code> parameter. </p> <p/> <p>Constraints:</p>
  <ul> <li> <p>With the exception of SMS, messages must be UTF-8 encoded strings and
  at most 256 KB in size (262144 bytes, not 262144 characters).</p> </li> <li> <p>For
  SMS, each message can contain up to 140 bytes, and the character limit depends on
  the encoding scheme. For example, an SMS message can contain 160 GSM characters,
  140 ASCII characters, or 70 UCS-2 characters. If you publish a message that exceeds
  the size limit, Amazon SNS sends it as multiple messages, each fitting within the
  size limit. Messages are not cut off in the middle of a word but on whole-word boundaries.
  The total size limit for a single SMS publish action is 1600 bytes.</p> </li> </ul>
  <p>JSON-specific constraints:</p> <ul> <li> <p>Keys in the JSON object that correspond
  to supported transport protocols must have simple JSON string values.</p> </li>
  <li> <p>The values will be parsed (unescaped) before they are used in outgoing messages.</p>
  </li> <li> <p>Outbound notifications are JSON encoded (meaning that the characters
  will be reescaped for sending).</p> </li> <li> <p>Values have a minimum length of
  0 (the empty string, \"\", is allowed).</p> </li> <li> <p>Values have a maximum
  length bounded by the overall message size (so, including multiple protocols may
  limit message sizes).</p> </li> <li> <p>Non-string values will cause the key to
  be ignored.</p> </li> <li> <p>Keys that do not correspond to supported transport
  protocols are ignored.</p> </li> <li> <p>Duplicate keys are not allowed.</p> </li>
  <li> <p>Failure to parse or validate any key or value in the message will cause
  the <code>Publish</code> call to return an error (no partial delivery).</p> </li>
  </ul>\";}s:17:\"MessageAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MessageAttributeMap\";s:11:\"description\";s:38:\"Message
  attributes for Publish action.\";}s:16:\"MessageStructure\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/messageStructure\";s:11:\"description\";s:1056:\"<p>Set
  <code>MessageStructure</code> to <code>json</code> if you want to send a different
  message for each protocol. For example, using one publish action, you can send a
  short message to your SMS subscribers and a longer message to your email subscribers.
  If you set <code>MessageStructure</code> to <code>json</code>, the value of the
  <code>Message</code> parameter must: </p> <ul> <li> <p>be a syntactically valid
  JSON object; and</p> </li> <li> <p>contain at least a top-level JSON key of \"default\"
  with a value that is a string.</p> </li> </ul> <p>You can define other top-level
  keys that define the message you want to send to a specific transport protocol (e.g.,
  \"http\").</p> <p>For information about sending different messages for each protocol
  using the AWS Management Console, go to <a href=\"http://docs.aws.amazon.com/sns/latest/gsg/Publish.html#sns-message-formatting-by-protocol\">Create
  Different Messages for Each Protocol</a> in the <i>Amazon Simple Notification Service
  Getting Started Guide</i>. </p> <p>Valid value: <code>json</code> </p>\";}s:11:\"PhoneNumber\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:259:\"<p>The
  phone number to which you want to deliver an SMS message. Use E.164 format.</p>
  <p>If you don't specify a value for the <code>PhoneNumber</code> parameter, you
  must specify a value for the <code>TargetArn</code> or <code>TopicArn</code> parameters.</p>\";}s:7:\"Subject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/subject\";s:11:\"description\";s:413:\"<p>Optional
  parameter to be used as the \"Subject\" line when the message is delivered to email
  endpoints. This field will also be included, if present, in the standard JSON messages
  delivered to other endpoints.</p> <p>Constraints: Subjects must be ASCII text that
  begins with a letter, number, or punctuation mark; must not include line breaks
  or control characters; and must be less than 100 characters long.</p>\";}s:9:\"TargetArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:225:\"<p>Either
  TopicArn or EndpointArn, but not both.</p> <p>If you don't specify a value for the
  <code>TargetArn</code> parameter, you must specify a value for the <code>PhoneNumber</code>
  or <code>TopicArn</code> parameters.</p>\";}s:8:\"TopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/topicARN\";s:11:\"description\";s:213:\"<p>The
  topic you want to publish to.</p> <p>If you don't specify a value for the <code>TopicArn</code>
  parameter, you must specify a value for the <code>PhoneNumber</code> or <code>TargetArn</code>
  parameters.</p>\";}}s:8:\"required\";a:1:{i:0;s:7:\"Message\";}s:4:\"type\";s:6:\"object\";}s:15:\"PublishResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Response
  for Publish action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"MessageId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/messageId\";s:11:\"description\";s:108:\"<p>Unique
  identifier assigned to the published message.</p> <p>Length Constraint: Maximum
  100 characters</p>\";}}s:4:\"type\";s:6:\"object\";}s:21:\"RemovePermissionInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Input
  for RemovePermission action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Label\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/label\";s:11:\"description\";s:53:\"The
  unique label of the statement you want to remove.\";}s:8:\"TopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/topicARN\";s:11:\"description\";s:68:\"The
  ARN of the topic whose access control policy you wish to modify.\";}}s:8:\"required\";a:2:{i:0;s:8:\"TopicArn\";i:1;s:5:\"Label\";}s:4:\"type\";s:6:\"object\";}s:26:\"SetEndpointAttributesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Input
  for SetEndpointAttributes action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MapStringToString\";s:11:\"description\";s:808:\"<p>A
  map of the endpoint attributes. Attributes in this map include the following:</p>
  <ul> <li> <p> <code>CustomUserData</code> -- arbitrary user data to associate with
  the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format
  and less than 2KB.</p> </li> <li> <p> <code>Enabled</code> -- flag that enables/disables
  delivery to the endpoint. Amazon SNS will set this to false when a notification
  service indicates to Amazon SNS that the endpoint is invalid. Users can set it back
  to true, typically after updating Token.</p> </li> <li> <p> <code>Token</code> --
  device token, also referred to as a registration id, for an app and mobile device.
  This is returned from the notification service when an app and mobile device are
  registered with the notification service.</p> </li> </ul>\";}s:11:\"EndpointArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:50:\"EndpointArn
  used for SetEndpointAttributes action.\";}}s:8:\"required\";a:2:{i:0;s:11:\"EndpointArn\";i:1;s:10:\"Attributes\";}s:4:\"type\";s:6:\"object\";}s:37:\"SetPlatformApplicationAttributesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Input
  for SetPlatformApplicationAttributes action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MapStringToString\";s:11:\"description\";s:1639:\"<p>A
  map of the platform application attributes. Attributes in this map include the following:</p>
  <ul> <li> <p> <code>PlatformCredential</code> -- The credential received from the
  notification service. For APNS/APNS_SANDBOX, PlatformCredential is private key.
  For GCM, PlatformCredential is \"API key\". For ADM, PlatformCredential is \"client
  secret\".</p> </li> <li> <p> <code>PlatformPrincipal</code> -- The principal received
  from the notification service. For APNS/APNS_SANDBOX, PlatformPrincipal is SSL certificate.
  For GCM, PlatformPrincipal is not applicable. For ADM, PlatformPrincipal is \"client
  id\".</p> </li> <li> <p> <code>EventEndpointCreated</code> -- Topic ARN to which
  EndpointCreated event notifications should be sent.</p> </li> <li> <p> <code>EventEndpointDeleted</code>
  -- Topic ARN to which EndpointDeleted event notifications should be sent.</p> </li>
  <li> <p> <code>EventEndpointUpdated</code> -- Topic ARN to which EndpointUpdate
  event notifications should be sent.</p> </li> <li> <p> <code>EventDeliveryFailure</code>
  -- Topic ARN to which DeliveryFailure event notifications should be sent upon Direct
  Publish delivery failure (permanent) to one of the application's endpoints.</p>
  </li> <li> <p> <code>SuccessFeedbackRoleArn</code> -- IAM role ARN used to give
  Amazon SNS write access to use CloudWatch Logs on your behalf.</p> </li> <li> <p>
  <code>FailureFeedbackRoleArn</code> -- IAM role ARN used to give Amazon SNS write
  access to use CloudWatch Logs on your behalf.</p> </li> <li> <p> <code>SuccessFeedbackSampleRate</code>
  -- Sample rate percentage (0-100) of successfully delivered messages.</p> </li>
  </ul>\";}s:22:\"PlatformApplicationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:67:\"PlatformApplicationArn
  for SetPlatformApplicationAttributes action.\";}}s:8:\"required\";a:2:{i:0;s:22:\"PlatformApplicationArn\";i:1;s:10:\"Attributes\";}s:4:\"type\";s:6:\"object\";}s:21:\"SetSMSAttributesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  input for the SetSMSAttributes action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MapStringToString\";s:11:\"description\";s:3767:\"<p>The
  default settings for sending SMS messages from your account. You can set values
  for the following attribute names:</p> <p> <code>MonthlySpendLimit</code> \u2013
  The maximum amount in USD that you are willing to spend each month to send SMS messages.
  When Amazon SNS determines that sending an SMS message would incur a cost that exceeds
  this limit, it stops sending SMS messages within minutes.</p> <important> <p>Amazon
  SNS stops sending SMS messages within minutes of the limit being crossed. During
  that interval, if you continue to send SMS messages, you will incur costs that exceed
  your limit.</p> </important> <p>By default, the spend limit is set to the maximum
  allowed by Amazon SNS. If you want to raise the limit, submit an <a href=\"https://console.aws.amazon.com/support/home#/case/create?issueType=service-limit-increase&amp;limitType=service-code-sns\">SNS
  Limit Increase case</a>. For <b>New limit value</b>, enter your desired monthly
  spend limit. In the <b>Use Case Description</b> field, explain that you are requesting
  an SMS monthly spend limit increase.</p> <p> <code>DeliveryStatusIAMRole</code>
  \u2013 The ARN of the IAM role that allows Amazon SNS to write logs about SMS deliveries
  in CloudWatch Logs. For each SMS message that you send, Amazon SNS writes a log
  that includes the message price, the success or failure status, the reason for failure
  (if the message failed), the message dwell time, and other information.</p> <p>
  <code>DeliveryStatusSuccessSamplingRate</code> \u2013 The percentage of successful
  SMS deliveries for which Amazon SNS will write logs in CloudWatch Logs. The value
  can be an integer from 0 - 100. For example, to write logs only for failed deliveries,
  set this value to <code>0</code>. To write logs for 10% of your successful deliveries,
  set it to <code>10</code>.</p> <p> <code>DefaultSenderID</code> \u2013 A string,
  such as your business brand, that is displayed as the sender on the receiving device.
  Support for sender IDs varies by country. The sender ID can be 1 - 11 alphanumeric
  characters, and it must contain at least one letter.</p> <p> <code>DefaultSMSType</code>
  \u2013 The type of SMS message that you will send by default. You can assign the
  following values:</p> <ul> <li> <p> <code>Promotional</code> \u2013 (Default) Noncritical
  messages, such as marketing messages. Amazon SNS optimizes the message delivery
  to incur the lowest cost.</p> </li> <li> <p> <code>Transactional</code> \u2013 Critical
  messages that support customer transactions, such as one-time passcodes for multi-factor
  authentication. Amazon SNS optimizes the message delivery to achieve the highest
  reliability.</p> </li> </ul> <p> <code>UsageReportS3Bucket</code> \u2013 The name
  of the Amazon S3 bucket to receive daily SMS usage reports from Amazon SNS. Each
  day, Amazon SNS will deliver a usage report as a CSV file to the bucket. The report
  includes the following information for each SMS message that was successfully delivered
  by your account:</p> <ul> <li> <p>Time that the message was published (in UTC)</p>
  </li> <li> <p>Message ID</p> </li> <li> <p>Destination phone number</p> </li> <li>
  <p>Message type</p> </li> <li> <p>Delivery status</p> </li> <li> <p>Message price
  (in USD)</p> </li> <li> <p>Part number (a message is split into multiple parts if
  it is too long for a single message)</p> </li> <li> <p>Total number of parts</p>
  </li> </ul> <p>To receive the report, the bucket must have a policy that allows
  the Amazon SNS service principle to perform the <code>s3:PutObject</code> and <code>s3:GetBucketLocation</code>
  actions.</p> <p>For an example bucket policy and usage report, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/sms_stats.html\">Monitoring
  SMS Activity</a> in the <i>Amazon SNS Developer Guide</i>.</p>\";}}s:8:\"required\";a:1:{i:0;s:10:\"attributes\";}s:4:\"type\";s:6:\"object\";}s:24:\"SetSMSAttributesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  response for the SetSMSAttributes action.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"SetSubscriptionAttributesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Input
  for SetSubscriptionAttributes action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"AttributeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/attributeName\";s:11:\"description\";s:220:\"<p>The
  name of the attribute you want to set. Only a subset of the subscriptions attributes
  are mutable.</p> <p>Valid values: <code>DeliveryPolicy</code> | <code>FilterPolicy</code>
  | <code>RawMessageDelivery</code> </p>\";}s:14:\"AttributeValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/attributeValue\";s:11:\"description\";s:47:\"The
  new value for the attribute in JSON format.\";}s:15:\"SubscriptionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/subscriptionARN\";s:11:\"description\";s:38:\"The
  ARN of the subscription to modify.\";}}s:8:\"required\";a:2:{i:0;s:15:\"SubscriptionArn\";i:1;s:13:\"AttributeName\";}s:4:\"type\";s:6:\"object\";}s:23:\"SetTopicAttributesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Input
  for SetTopicAttributes action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"AttributeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/attributeName\";s:11:\"description\";s:201:\"<p>The
  name of the attribute you want to set. Only a subset of the topic's attributes are
  mutable.</p> <p>Valid values: <code>Policy</code> | <code>DisplayName</code> | <code>DeliveryPolicy</code>
  </p>\";}s:14:\"AttributeValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/attributeValue\";s:11:\"description\";s:32:\"The
  new value for the attribute.\";}s:8:\"TopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/topicARN\";s:11:\"description\";s:31:\"The
  ARN of the topic to modify.\";}}s:8:\"required\";a:2:{i:0;s:8:\"TopicArn\";i:1;s:13:\"AttributeName\";}s:4:\"type\";s:6:\"object\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"SubscribeInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Input
  for Subscribe action.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/SubscriptionAttributesMap\";s:11:\"description\";s:168:\"Assigns
  attributes to the subscription as a map of key-value pairs. You can assign any attribute
  that is supported by the <code>SetSubscriptionAttributes</code> action.\";}s:8:\"Endpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/endpoint\";s:11:\"description\";s:921:\"<p>The
  endpoint that you want to receive notifications. Endpoints vary by protocol:</p>
  <ul> <li> <p>For the <code>http</code> protocol, the endpoint is an URL beginning
  with \"http://\"</p> </li> <li> <p>For the <code>https</code> protocol, the endpoint
  is a URL beginning with \"https://\"</p> </li> <li> <p>For the <code>email</code>
  protocol, the endpoint is an email address</p> </li> <li> <p>For the <code>email-json</code>
  protocol, the endpoint is an email address</p> </li> <li> <p>For the <code>sms</code>
  protocol, the endpoint is a phone number of an SMS-enabled device</p> </li> <li>
  <p>For the <code>sqs</code> protocol, the endpoint is the ARN of an Amazon SQS queue</p>
  </li> <li> <p>For the <code>application</code> protocol, the endpoint is the EndpointArn
  of a mobile app and device.</p> </li> <li> <p>For the <code>lambda</code> protocol,
  the endpoint is the ARN of an AWS Lambda function.</p> </li> </ul>\";}s:8:\"Protocol\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/protocol\";s:11:\"description\";s:801:\"<p>The
  protocol you want to use. Supported protocols include:</p> <ul> <li> <p> <code>http</code>
  -- delivery of JSON-encoded message via HTTP POST</p> </li> <li> <p> <code>https</code>
  -- delivery of JSON-encoded message via HTTPS POST</p> </li> <li> <p> <code>email</code>
  -- delivery of message via SMTP</p> </li> <li> <p> <code>email-json</code> -- delivery
  of JSON-encoded message via SMTP</p> </li> <li> <p> <code>sms</code> -- delivery
  of message via SMS</p> </li> <li> <p> <code>sqs</code> -- delivery of JSON-encoded
  message to an Amazon SQS queue</p> </li> <li> <p> <code>application</code> -- delivery
  of JSON-encoded message to an EndpointArn for a mobile app and device.</p> </li>
  <li> <p> <code>lambda</code> -- delivery of JSON-encoded message to an AWS Lambda
  function.</p> </li> </ul>\";}s:21:\"ReturnSubscriptionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:690:\"<p>Sets
  whether the response from the <code>Subscribe</code> request includes the subscription
  ARN, even if the subscription is not yet confirmed.</p> <p>If you set this parameter
  to <code>false</code>, the response includes the ARN for confirmed subscriptions,
  but it includes an ARN value of \"pending subscription\" for subscriptions that
  are not yet confirmed. A subscription becomes confirmed when the subscriber calls
  the <code>ConfirmSubscription</code> action with a confirmation token.</p> <p>If
  you set this parameter to <code>true</code>, the response includes the ARN in all
  cases, even if the subscription is not yet confirmed.</p> <p>The default value is
  <code>false</code>.</p>\";}s:8:\"TopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/topicARN\";s:11:\"description\";s:46:\"The
  ARN of the topic you want to subscribe to.\";}}s:8:\"required\";a:2:{i:0;s:8:\"TopicArn\";i:1;s:8:\"Protocol\";}s:4:\"type\";s:6:\"object\";}s:17:\"SubscribeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Response
  for Subscribe action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"SubscriptionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/subscriptionARN\";s:11:\"description\";s:304:\"The
  ARN of the subscription if it is confirmed, or the string \"pending confirmation\"
  if the subscription requires confirmation. However, if the API request parameter
  <code>ReturnSubscriptionArn</code> is true, then the value is always the subscription
  ARN, even if the subscription requires confirmation.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Subscription\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"A
  wrapper type for the attributes of an Amazon SNS subscription.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"Endpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/endpoint\";s:11:\"description\";s:61:\"The
  subscription's endpoint (format depends on the protocol).\";}s:5:\"Owner\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/account\";s:11:\"description\";s:25:\"The
  subscription's owner.\";}s:8:\"Protocol\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/protocol\";s:11:\"description\";s:28:\"The
  subscription's protocol.\";}s:15:\"SubscriptionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/subscriptionARN\";s:11:\"description\";s:23:\"The
  subscription's ARN.\";}s:8:\"TopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/topicARN\";s:11:\"description\";s:36:\"The
  ARN of the subscription's topic.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"SubscriptionAttributesMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/attributeName\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/attributeValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:34:\"SubscriptionLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Indicates
  that the customer already owns the maximum allowed number of subscriptions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"SubscriptionsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Subscription\";}s:4:\"type\";s:5:\"array\";}s:18:\"ThrottledException\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"Indicates
  that the rate at which requests have been submitted for this action exceeds the
  limit for your account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:18:\"Throttled
  request.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Topic\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"A
  wrapper type for the topic's Amazon Resource Name (ARN). To retrieve a topic's attributes,
  use <code>GetTopicAttributes</code>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"TopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/topicARN\";s:11:\"description\";s:16:\"The
  topic's ARN.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"TopicAttributesMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/attributeName\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/attributeValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:27:\"TopicLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Indicates
  that the customer already owns the maximum allowed number of topics.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TopicsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Topic\";}s:4:\"type\";s:5:\"array\";}s:16:\"UnsubscribeInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Input
  for Unsubscribe action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"SubscriptionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/subscriptionARN\";s:11:\"description\";s:42:\"The
  ARN of the subscription to be deleted.\";}}s:8:\"required\";a:1:{i:0;s:15:\"SubscriptionArn\";}s:4:\"type\";s:6:\"object\";}s:7:\"account\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"action\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"attributeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"attributeValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"authenticateOnUnsubscribe\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"delegate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"endpoint\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"messageId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"messageStructure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"nextToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"protocol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"subscriptionARN\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"topicARN\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"topicName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}"
...
