---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:28:\"The Ethiopian Movie
  Database\";s:5:\"title\";s:26:\"REST API v1 Core Resources\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:73:\"https://etmdb.com/static/images/xprofile.png.pagespeed.ic.O-UriIYhZO.webp\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:52:\"https://etmdb.com/api/docs/endpoints/?format=openapi\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:9:\"etmdb.com\";s:11:\"x-preferred\";b:1;}"
host: etmdb.com
paths:
  /api/v1/cinema-detail/search/{cinema_name}:
    get:
      description: 'Return cinema details search resultnn### Response Class (Status
        200)nn* __{cinema_name}__: Used as a key word to search cinemas,nnFor more
        details on how cinemas are listed [see here][ref].n[ref]: https://etmdb.com/en/cinema-list/-updated_date'
      operationId: cinema-detail_search_read
      parameters:
      - description: ""
        in: path
        name: cinema_name
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return cinema details search result
      tags:
      - cinema-detail
  /api/v1/cinema-schedule/search/{movie_title}:
    get:
      description: 'Return cinema schedule search resultnn### Response Class (Status
        200)nn* __{movie_title}__: Used as a key word to search movie castn* You can
        use both Amharic or English charset/font to searchnnFor more details about
        cinema schedule, check each cinema from the cinema list [see here][ref].n[ref]:
        https://etmdb.com/en/movie-list/-updated_date'
      operationId: cinema-schedule_search_read
      parameters:
      - description: ""
        in: path
        name: movie_title
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return cinema schedule search result
      tags:
      - cinema-schedule
  /api/v1/cinema-schedule/searchall/{param}:
    get:
      description: 'Return cinema schedule search resultnn### Response Class (Status
        200)n__{param}__ argument can ben* movie titlen* cinema namen* cinema hall
        name orn* cinema technologynnFor more details about cinema schedule, check
        each cinema from the cinema list [see here][ref].n[ref]: https://etmdb.com/en/movie-list/-updated_date'
      operationId: cinema-schedule_searchall_read
      parameters:
      - description: ""
        in: path
        name: param
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return cinema schedule search result
      tags:
      - cinema-schedule
  /api/v1/cinema-shedule-showtime/search/{movie_title}:
    get:
      description: 'Return cinema schedule and showtime search resultnn### Response
        Class (Status 200)n* __{movie_title}__: Used as a key word to search movie
        castn* You can use both Amharic or English charset/font to searchnnFor more
        details about cinema schedule showtime, check each cinema from the cinema
        list [see here][ref].n[ref]: https://etmdb.com/en/movie-list/-updated_date'
      operationId: cinema-shedule-showtime_search_read
      parameters:
      - description: ""
        in: path
        name: movie_title
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return cinema schedule and showtime search result
      tags:
      - cinema-shedule-showtime
  /api/v1/cinema-shedule-showtime/searchall/{param}:
    get:
      description: 'Return cinema schedule and showtime search resultnn### Response
        Class (Status 200)n__{param}__ argument can ben* movie titlen* cinema namen*
        cinema hall namen* showtime starting daten* showtime ending date orn* cinema
        technologynnFor more details about cinema schedule, check each cinema from
        the cinema list [see here][ref].n[ref]: https://etmdb.com/en/movie-list/-updated_date'
      operationId: cinema-shedule-showtime_searchall_read
      parameters:
      - description: ""
        in: path
        name: param
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return cinema schedule and showtime search result
      tags:
      - cinema-shedule-showtime
  /api/v1/cinema/search/{id}:
    get:
      description: 'Return cinema search resultnn### Response Class (Status 200)nn*
        __{id}__: Used as a key to search cinemas,nnFor more details on how cinemas
        are listed [see here][ref].n[ref]: https://etmdb.com/en/cinema-list/-updated_date'
      operationId: cinema_search_read
      parameters:
      - description: ""
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return cinema search result
      tags:
      - cinema
  /api/v1/company-credits/search/{movie_title}:
    get:
      description: 'Return company credits search resultnn### Response Class (Status
        200)nn* __{movie_title}__: Used as a key word to search company credits for
        the movien* You can use both Amharic or English charset/font to searchnnFor
        more details on how company credits are listed [see here][ref].n[ref]: https://etmdb.com/en/movie-list/-updated_date'
      operationId: company-credits_search_read
      parameters:
      - description: ""
        in: path
        name: movie_title
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return company credits search result
      tags:
      - company-credits
  /api/v1/company-credits/searchall/{param}:
    get:
      description: 'Return company credits search resultnn### Response Class (Status
        200)n__{param}__ argument can ben* company namen* movie title orn* company
        credit description (such as production, cinematography, etc)nnFor more details
        on how company credits are listed [see here][ref].n[ref]: https://etmdb.com/en/company-list/company_name'
      operationId: company-credits_searchall_read
      parameters:
      - description: ""
        in: path
        name: param
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return company credits search result
      tags:
      - company-credits
  /api/v1/company/search/{company_name}:
    get:
      description: 'Return company search resultnn### Response Class (Status 200)nn*
        __{company_name}__: Used as a key word to search companies,nnFor more details
        on how companies are listed [see here][ref].n[ref]: https://etmdb.com/en/company-list/-updated_date'
      operationId: company_search_read
      parameters:
      - description: ""
        in: path
        name: company_name
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return company search result
      tags:
      - company
  /api/v1/filmography-type/search/{filmography_description}:
    get:
      description: 'Return filmography type search resultnn### Response Class (Status
        200)nn* __{filmography_description}__: Used as a key word to search filmography
        typesnnFor more details on how filmography types are listed [see here][ref].n[ref]:
        https://etmdb.com/en/movie-list/-updated_date'
      operationId: filmography-type_search_read
      parameters:
      - description: ""
        in: path
        name: filmography_description
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return filmography type search result
      tags:
      - filmography-type
  /api/v1/filmography/search/{movie_title}:
    get:
      description: 'Return filmography search resultnn### Response Class (Status 200)nn*
        __{movie_title}__: Used as a key word to search moviesn* You can use both
        Amharic or English charset/font to searchnnFor more details on how filmographies
        are listed [see here][ref].n[ref]: https://etmdb.com/en/movie-list/-updated_date'
      operationId: filmography_search_read
      parameters:
      - description: ""
        in: path
        name: movie_title
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return filmography search result
      tags:
      - filmography
  /api/v1/filmography/searchall/{param}:
    get:
      description: 'Return filmography search resultnn### Response Class (Status 200)n__{param}__
        argument can ben* artist first namen* artist last namen* artist usernamen*
        movie title orn* filmography description (such as director, actor, producer,
        etc)nnFor more details on how filmographies are listed [see here][ref].n[ref]:
        https://etmdb.com/en/movie-list/-updated_date'
      operationId: filmography_searchall_read
      parameters:
      - description: ""
        in: path
        name: param
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return filmography search result
      tags:
      - filmography
  /api/v1/genre-type/search/{genre_description}:
    get:
      description: 'Return genre type search resultnn### Response Class (Status 200)nn*
        __{genre_description}__: Used as a key word to search genre typesnnFor more
        details on how genre types are listed [see here][ref].n[ref]: https://etmdb.com/en/movie-list/-updated_date'
      operationId: genre-type_search_read
      parameters:
      - description: ""
        in: path
        name: genre_description
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return genre type search result
      tags:
      - genre-type
  /api/v1/genre/search/{movie_title}:
    get:
      description: 'Return movie genre search resultnn### Response Class (Status 200)nn*
        __{movie_title}__: Used as a key word to search movie genresn* You can use
        both Amharic or English charset/font to searchnnFor more details on how movies
        are listed [see here][ref].n[ref]: https://etmdb.com/en/movie-list/-updated_date'
      operationId: genre_search_read
      parameters:
      - description: ""
        in: path
        name: movie_title
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return movie genre search result
      tags:
      - genre
  /api/v1/genre/searchall/{movie_genre_type}:
    get:
      description: 'Return movie genre search resultnn### Response Class (Status 200)nn*
        __{movie_genre_type}__: Used as a key word to search movie genresnnFor more
        details on how movies are listed [see here][ref].n[ref]: https://etmdb.com/en/movie-list/-updated_date'
      operationId: genre_searchall_read
      parameters:
      - description: ""
        in: path
        name: movie_genre_type
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return movie genre search result
      tags:
      - genre
  /api/v1/job/search/{job_title}:
    get:
      description: 'Return job details search resultnn### Response Class (Status 200)nn*
        __{job_title}__: Used as a key word to search jobs,nnFor more details on how
        job are listed [see here][ref].n[ref]: https://etmdb.com/en/job-list/-updated_date'
      operationId: job_search_read
      parameters:
      - description: ""
        in: path
        name: job_title
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return job details search result
      tags:
      - job
  /api/v1/job/searchall/{company_name}:
    get:
      description: 'Return job details search resultnn### Response Class (Status 200)nn*
        __{company_name}__: Used as a key word to search jobs,nnFor more details on
        how job are listed [see here][ref].n[ref]: https://etmdb.com/en/job-list/-updated_date'
      operationId: job_searchall_read
      parameters:
      - description: ""
        in: path
        name: company_name
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return job details search result
      tags:
      - job
  /api/v1/media/search/{movie_title}:
    get:
      description: 'Return movie media search resultnn### Response Class (Status 200)nn*
        __{movie_title}__: Used as a key word to search media for moviesn* You can
        use both Amharic or English charset/font to searchnnFor more details on how
        media is listed [see here][ref].n[ref]: https://etmdb.com/en/movie-list/-updated_date'
      operationId: media_search_read
      parameters:
      - description: ""
        in: path
        name: movie_title
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return movie media search result
      tags:
      - media
  /api/v1/media/searchall/{user}:
    get:
      description: 'Return cast media search resultnn### Response Class (Status 200)n__{user}__
        argument can ben* artist first namen* artist last namen* artist usernamennFor
        more details on how cast media is listed [see here][ref].n[ref]: https://etmdb.com/en/cast-list/-updated_date'
      operationId: media_searchall_read
      parameters:
      - description: ""
        in: path
        name: user
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return cast media search result
      tags:
      - media
  /api/v1/movie-cast/search/{movie_title}:
    get:
      description: 'Return movie cast search resultnn### Response Class (Status 200)nn*
        __{movie_title}__: Used as a key word to search movie castn* You can use both
        Amharic or English charset/font to searchnnFor more details on how movie casts
        are listed [see here][ref].n[ref]: https://etmdb.com/en/movie-list/-updated_date'
      operationId: movie-cast_search_read
      parameters:
      - description: ""
        in: path
        name: movie_title
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return movie cast search result
      tags:
      - movie-cast
  /api/v1/movie-cast/searchall/{param}:
    get:
      description: 'Return movie cast search resultnn### Response Class (Status 200)n__{param}__
        argument can ben* artist first namen* artist last namen* artist usernamen*
        movie title orn* character namennFor more details on how movie casts are listed
        [see here][ref].n[ref]: https://etmdb.com/en/movie-list/-updated_date'
      operationId: movie-cast_searchall_read
      parameters:
      - description: ""
        in: path
        name: param
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return movie cast search result
      tags:
      - movie-cast
  /api/v1/movie/search/{movie_title}:
    get:
      description: 'Return movie search resultnn### Response Class (Status 200)nn*
        __{movie_title}__: Used as a key word to search moviesn* You can use both
        Amharic or English charset/font to searchnnFor more details on how movies
        are listed [see here][ref].n[ref]: https://etmdb.com/en/movie-list/-updated_date'
      operationId: movie_search_read
      parameters:
      - description: ""
        in: path
        name: movie_title
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return movie search result
      tags:
      - movie
  /api/v1/news/search/{title}:
    get:
      description: 'Return news or article search resultnn### Response Class (Status
        200)nn* __{title}__: Used as a key word to search news and articles,nnFor
        more details on how news & articles are listed [see here][ref].n[ref]: https://etmdb.com/en/news-list/-updated_date'
      operationId: news_search_read
      parameters:
      - description: ""
        in: path
        name: title
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return news or article search result
      tags:
      - news
  /api/v1/people/search/{user}:
    get:
      description: 'Return cast search resultnn### Response Class (Status 200)n__{param}__
        argument can ben* artist first namen* artist last namen* artist usernamennFor
        more details on how cast are listed [see here][ref].n[ref]: https://etmdb.com/en/cast-list/-updated_date'
      operationId: people_search_read
      parameters:
      - description: ""
        in: path
        name: user
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return cast search result
      tags:
      - people
  /api/v1/showtime/searchall/{param}:
    get:
      description: 'Return showtime search resultnn### Response Class (Status 200)n__{param}__
        argument can ben* show time orn* day of the week [Mon=1, Tue=2, Wed=3, Thu=4,
        Fri=5, Sat=6, Sun=7]nnFor more details about showtime, check each cinema from
        the cinema list [see here][ref].n[ref]: https://etmdb.com/en/movie-list/-updated_date'
      operationId: showtime_searchall_read
      parameters:
      - description: ""
        in: path
        name: param
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return showtime search result
      tags:
      - showtime
  /api/v1/watchlist/search/{movie_title}:
    get:
      description: 'Return watchlist search resultnn### Response Class (Status 200)nn*
        __{movie_title}__: Used as a key word to search movies on watchlistn* You
        can use both Amharic or English charset/font to searchnnFor more details on
        how watchlist are listed [see here][ref].n[ref]: https://etmdb.com/en/movies/watchlist/id'
      operationId: watchlist_search_read
      parameters:
      - description: ""
        in: path
        name: movie_title
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return watchlist search result
      tags:
      - watchlist
  /api/v1/watchlist/searchall/{param}:
    get:
      description: 'Return watchlist search resultnn### Response Class (Status 200)n__{param}__
        argument can ben* artist first namen* artist last namen* artist usernamen*
        movie title ornnFor more details on how watchlist are listed [see here][ref].n[ref]:
        https://etmdb.com/en/movies/watchlist/id'
      operationId: watchlist_searchall_read
      parameters:
      - description: ""
        in: path
        name: param
        required: true
        type: string
      responses:
        200:
          description: ""
      summary: Return watchlist search result
      tags:
      - watchlist
schemes:
- https
...
