---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:18:\"support@billbee.de\";s:4:\"name\";s:12:\"Billbee
  GmbH\";s:3:\"url\";s:22:\"https://www.billbee.de\";s:9:\"x-twitter\";s:9:\"billbeeio\";}s:11:\"description\";s:1004:\"Documentation
  of the Billbee REST API to connect a Billbee account to external aplications.\n\n##
  Endpoint\n\nThe Billbee API endpoint base url is https://app01.billbee.de/api/v1
  \n\n## Activation\n\nYou have to enable the API in the settings of your Billbee
  account. In addition you need a Billbee API Key identifying the application you
  develop. To get an API key, send a mail to support@billbee.de and send us a short
  note about what you are building.\n\n## Authorization & security\n\nBecause you
  can access private data with the Billbee API, every request has to be sent over
  https and must\n\n* Contain a valid API Key identifying the application/developer.
  It has to be sent as the HTTP header X-Billbee-Api-Key\n* Contain a valid user login
  with billbee username and api password in form of a basic auth HTTP header\n\n##
  Throttling\n\nEach endpoint has a throttle of max 2 requests per second per combination
  of API Key and Billbee user.\n\nWhen you exceed these 2 calls, the API will return
  a HTTP 429 status code\n\n\";s:5:\"title\";s:7:\"Billbee\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_billbeeio_profile_image.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:38:\"https://app.billbee.io/swagger/docs/v1\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"billbee.io\";}"
host: app.billbee.io
paths:
  /api/v1/automaticprovision/createaccount:
    post:
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: AutomaticProvisioning_CreateAccount
      parameters:
      - in: body
        name: model
        required: true
        schema:
          $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer'
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Creates a new Billbee user account with the data passed
      tags:
      - Provisioning
  /api/v1/automaticprovision/termsinfo:
    get:
      consumes: []
      operationId: AutomaticProvisioning_TermsInfo
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Returns infos about Billbee terms and conditions
      tags:
      - Provisioning
  /api/v1/events:
    get:
      consumes: []
      operationId: EventApi_GetList
      parameters:
      - format: date-time
        in: query
        name: minDate
        required: false
        type: string
      - format: date-time
        in: query
        name: maxDate
        required: false
        type: string
      - format: int32
        in: query
        name: page
        required: false
        type: integer
      - format: int32
        in: query
        name: pageSize
        required: false
        type: integer
      - collectionFormat: multi
        in: query
        items:
          format: int32
          type: integer
        name: typeId
        required: false
        type: array
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Get a list of all events optionally filtered by date
      tags:
      - Events
  /api/v1/orders:
    get:
      consumes: []
      operationId: OrderApi_GetList
      parameters:
      - description: Specifies the oldest order date to include in the response
        format: date-time
        in: query
        name: minOrderDate
        required: false
        type: string
      - description: Specifies the newest order date to include in the response
        format: date-time
        in: query
        name: maxOrderDate
        required: false
        type: string
      - description: Specifies the page to request
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: Specifies the pagesize. Defaults to 50, max value is 250
        format: int32
        in: query
        name: pageSize
        required: false
        type: integer
      - collectionFormat: multi
        description: Specifies a list of shop ids for which invoices should be included
        in: query
        items:
          format: int32
          type: integer
        name: shopId
        required: false
        type: array
      - collectionFormat: multi
        description: Specifies a list of state ids to include in the response
        in: query
        items:
          format: int32
          type: integer
        name: orderStateId
        required: false
        type: array
      - collectionFormat: multi
        description: Specifies a list of tags the order must have attached to be included
          in the response
        in: query
        items:
          type: string
        name: tag
        required: false
        type: array
      - description: If given, all delivered orders have an Id greater than or equal
          to the given minimumOrderId
        format: int32
        in: query
        name: minimumBillBeeOrderId
        required: false
        type: integer
      - description: If given, the last modification has to be newer than the given
          date
        format: date-time
        in: query
        name: modifiedAtMin
        required: false
        type: string
      - description: If given, the last modification has to be older or equal than
          the given date.
        format: date-time
        in: query
        name: modifiedAtMax
        required: false
        type: string
      - description: The source field for the article title. 0 = Order Position (default),
          1 = Article Title, 2 = Article Invoice Text
        enum:
        - 0
        - 1
        - 2
        - 3
        format: int32
        in: query
        name: articleTitleSource
        required: false
        type: integer
      - description: If true the list of tags passed to the call are used to filter
          orders to not include these tags
        in: query
        name: excludeTags
        required: false
        type: boolean
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Get a list of all orders optionally filtered by date
      tags:
      - Orders
    post:
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      description: To create an order POST an JSON object to the orders endpoint with
        the shown properties. rnNot all properties are required.
      operationId: OrderApi_PostNewOrder
      parameters:
      - description: ""
        in: body
        name: orderData
        required: true
        schema:
          $ref: '#/definitions/Billbee.Interfaces.Order.ApiOrder'
      - description: ""
        format: int32
        in: query
        name: shopId
        required: true
        type: integer
      produces:
      - application/json
      - text/json
      responses:
        201:
          description: The order was created successfully
          schema:
            type: object
        400:
          description: Invalid data was received in the request
        500:
          description: An internal exception occured. Order was not created
      summary: Creates a new order in the Billbee account
      tags:
      - Orders
  /api/v1/orders/CreateDeliveryNote/{id}:
    post:
      consumes: []
      operationId: OrderApi_CreateDeliveryNote
      parameters:
      - description: The internal billbee id of the order
        format: int32
        in: path
        name: id
        required: true
        type: integer
      - description: If true, the PDF is included in the response as base64 encoded
          string
        in: query
        name: includePdf
        required: false
        type: boolean
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Create an delivery note for an existing order
      tags:
      - Orders
      - DeliveryNote
  /api/v1/orders/CreateInvoice/{id}:
    post:
      consumes: []
      operationId: OrderApi_CreateInvoice
      parameters:
      - description: The internal billbee id of the order
        format: int32
        in: path
        name: id
        required: true
        type: integer
      - description: If true, the PDF is included in the response as base64 encoded
          string
        in: query
        name: includeInvoicePdf
        required: false
        type: boolean
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Create an invoice for an existing order
      tags:
      - Orders
      - Invoice
  /api/v1/orders/PatchableFields:
    get:
      consumes: []
      operationId: OrderApi_GetPatchableFields
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Returns a list of fields which can be updated with the {M:Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.PatchOrder(System.Int32,Newtonsoft.Json.Linq.JObject)}
        call
      tags:
      - Orders
  /api/v1/orders/find/{id}/{partner}:
    get:
      consumes: []
      operationId: OrderApi_Find
      parameters:
      - description: The order id from the external system
        in: path
        name: id
        required: true
        type: string
      - description: Optional the name of the shop/marketplace the order was imported
          from
        in: path
        name: partner
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Find a single order by its external id (order number)
      tags:
      - Orders
  /api/v1/orders/findbyextref/{extRef}:
    get:
      consumes: []
      operationId: OrderApi_GetByExtRef
      parameters:
      - description: The internal billbee id of the order
        in: path
        name: extRef
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Get a single order by its internal billbee id
      tags:
      - Orders
  /api/v1/orders/invoices:
    get:
      consumes: []
      operationId: OrderApi_GetInvoiceList
      parameters:
      - description: Specifies the oldest invoice date to include
        format: date-time
        in: query
        name: minInvoiceDate
        required: false
        type: string
      - description: Specifies the newest invoice date to include
        format: date-time
        in: query
        name: maxInvoiceDate
        required: false
        type: string
      - description: Specifies the page to request
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: Specifies the pagesize. Defaults to 50, max value is 250
        format: int32
        in: query
        name: pageSize
        required: false
        type: integer
      - collectionFormat: multi
        description: Specifies a list of shop ids for which invoices should be included
        in: query
        items:
          format: int32
          type: integer
        name: shopId
        required: false
        type: array
      - collectionFormat: multi
        description: Specifies a list of state ids to include in the response
        in: query
        items:
          format: int32
          type: integer
        name: orderStateId
        required: false
        type: array
      - collectionFormat: multi
        in: query
        items:
          type: string
        name: tag
        required: false
        type: array
      - format: date-time
        in: query
        name: minPayDate
        required: false
        type: string
      - format: date-time
        in: query
        name: maxPayDate
        required: false
        type: string
      - in: query
        name: includePositions
        required: false
        type: boolean
      - description: If true the list of tags passed to the call are used to filter
          orders to not include these tags
        in: query
        name: excludeTags
        required: false
        type: boolean
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Get a list of all invoices optionally filtered by date
      tags:
      - Orders
      - Invoice
  /api/v1/orders/{id}:
    get:
      consumes: []
      operationId: OrderApi_Get
      parameters:
      - description: The internal billbee id of the order
        format: int32
        in: path
        name: id
        required: true
        type: integer
      - description: The source field for the article title. 0 = Order Position (default),
          1 = Article Title, 2 = Article Invoice Text
        enum:
        - 0
        - 1
        - 2
        - 3
        format: int32
        in: query
        name: articleTitleSource
        required: false
        type: integer
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Get a single order by its internal billbee id
      tags:
      - Orders
    patch:
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      operationId: OrderApi_PatchOrder
      parameters:
      - description: The Billbee internal order id of the ORder
        format: int32
        in: path
        name: id
        required: true
        type: integer
      - description: The fields which should be updated. {M:Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.GetPatchableFields}
        in: body
        name: model
        required: true
        schema:
          type: object
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Updates one or more fields of an order
      tags:
      - Orders
  /api/v1/orders/{id}/orderstate:
    put:
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      description: '### REMARKS ###rnUse this call to change the state of an order
        to i.e. paid or sent.rnrnThe state is transfered to the external shop/marketplace
        if configured.rnThis is the list of known states:rn- 1: orderedrn- 2: confirmedrn-
        3: paidrn- 4: shippedrn- 5: reclamationrn- 6: deletedrn- 7: closedrn- 8: canceledrn-
        9: archivedrn- 10: not usedrn- 11: demand note 1rn- 12: demand note 2rn- 13:
        packedrn- 14: offeredrn- 15: payment reminder'
      operationId: OrderApi_UpdateState
      parameters:
      - description: The internal id of the order
        format: int32
        in: path
        name: id
        required: true
        type: integer
      - description: The data used to change the state
        in: body
        name: model
        required: true
        schema:
          $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate'
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Changes the main state of a single order
      tags:
      - Orders
  /api/v1/orders/{id}/shipment:
    post:
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: OrderApi_AddShipment
      parameters:
      - description: The internal billbee id of the order
        format: int32
        in: path
        name: id
        required: true
        type: integer
      - description: The shipment data to create the shipment
        in: body
        name: model
        required: true
        schema:
          $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel'
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Add a shipment to a given order
      tags:
      - Orders
  /api/v1/orders/{id}/tags:
    post:
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      description: When a tag is already attached, it is ignored. Tags are not case
        sensitive.
      operationId: OrderApi_TagsCreate
      parameters:
      - description: Tags to attach
        in: body
        name: tagData
        required: true
        schema:
          $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate'
      - description: The internal id of the order
        format: int32
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Attach one or more tags to an order
      tags:
      - Orders
    put:
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: OrderApi_TagsUpdate
      parameters:
      - description: Tags to attach
        in: body
        name: tagData
        required: true
        schema:
          $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate'
      - description: The internal id of the order
        format: int32
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Updates/Sets the tags attached to an order
      tags:
      - Orders
  /api/v1/products:
    get:
      consumes: []
      operationId: Article_GetList
      parameters:
      - description: The current page to request starting with 1
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: The pagesize for the result list. Values between 1 and 250 are
          allowed
        format: int32
        in: query
        name: pageSize
        required: false
        type: integer
      - description: Optional the oldest create date of the articles to be returned
        format: date-time
        in: query
        name: minCreatedAt
        required: false
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel]]'
      summary: Get a list of all products
      tags:
      - Products
  /api/v1/products/reservedamount:
    get:
      consumes: []
      operationId: Article_GetReservedAmount
      parameters:
      - description: The id or the sku of the article to query
        in: query
        name: id
        required: true
        type: string
      - description: Either the value id or the value sku to specify the meaning of
          the id parameter
        in: query
        name: lookupBy
        required: false
        type: string
      - description: Optional the stock id if the multi stock feature is enabled
        format: int32
        in: query
        name: stockId
        required: false
        type: integer
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData]'
      summary: Queriesthe reserved amount for a single article by id or by sku
      tags:
      - Products
  /api/v1/products/updatestock:
    post:
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      description: The article is specified by sku. You have to send the absolute
        value for the current stock
      operationId: Article_UpdateStock
      parameters:
      - description: ""
        in: body
        name: model
        required: true
        schema:
          $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel'
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData]'
      summary: Update the stock qty of an article
      tags:
      - Products
  /api/v1/products/updatestockcode:
    post:
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: Article_UpdateStockCode
      parameters:
      - description: ""
        in: body
        name: model
        required: true
        schema:
          $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeApiModel'
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData]'
      summary: Update the stock code of an article
      tags:
      - Products
  /api/v1/products/updatestockmultiple:
    post:
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: Article_UpdateStockMultiple
      parameters:
      - description: ""
        in: body
        name: models
        required: true
        schema:
          items:
            $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel'
          type: array
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData]'
            type: array
      summary: Update the stock qty for multiple articles at once
      tags:
      - Products
  /api/v1/products/{id}:
    get:
      consumes: []
      operationId: Article_GetArticle
      parameters:
      - description: The id or the sku of the article to query
        in: path
        name: id
        required: true
        type: string
      - description: Either the value id or the value sku to specify the meaning of
          the id parameter
        in: query
        name: lookupBy
        required: false
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel]'
      summary: Queries a single article by id or by sku
      tags:
      - Products
  /api/v1/shipment/ping:
    get:
      consumes: []
      operationId: Shipment_GetPing
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      tags:
      - Shipments
  /api/v1/shipment/shipment:
    post:
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: Shipment_PostShipment
      parameters:
      - description: ""
        in: body
        name: model
        required: true
        schema:
          $ref: '#/definitions/Rechnungsdruck.WebApp.Model.Api.ApiShipmentViewModel'
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Creates a new shipment with the selected Shippingprovider
      tags:
      - Shipments
  /api/v1/shipment/shippingproviders:
    get:
      consumes: []
      operationId: Shipment_GetShippingproviders
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Query all defined shipping providers
      tags:
      - Shipments
  /api/v1/shipment/shipwithlabel:
    post:
      consumes:
      - application/json
      - text/json
      - application/xml
      - text/xml
      - application/x-www-form-urlencoded
      operationId: Shipment_ShipWithLabel
      parameters:
      - description: Details on the order and the shipping methods, that should be
          used.
        in: body
        name: shipmentInformation
        required: true
        schema:
          $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabel'
      produces:
      - application/json
      - text/json
      - application/xml
      - text/xml
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabelResult]'
      summary: Creates a shipment for an order in billbee
      tags:
      - Shipments
  /api/v1/webhooks:
    delete:
      consumes: []
      operationId: WebHookManagement_DeleteAll
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Deletes all existing WebHook registrations.
      tags:
      - Webhooks
    get:
      consumes: []
      operationId: WebHookManagement_Get
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/Microsoft.AspNet.WebHooks.WebHook'
            type: array
      summary: Gets all registered WebHooks for a given user.
      tags:
      - Webhooks
    post:
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      operationId: WebHookManagement_Post
      parameters:
      - description: The {Microsoft.AspNet.WebHooks.WebHook} to create.
        in: body
        name: webHook
        required: true
        schema:
          $ref: '#/definitions/Microsoft.AspNet.WebHooks.WebHook'
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Microsoft.AspNet.WebHooks.WebHook'
      summary: Registers a new WebHook for a given user.
      tags:
      - Webhooks
  /api/v1/webhooks/filters:
    get:
      consumes: []
      operationId: WebHookManagement_GetFilters
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Returns a list of all known filters you can use to register webhooks
      tags:
      - Webhooks
  /api/v1/webhooks/{id}:
    delete:
      consumes: []
      operationId: WebHookManagement_Delete
      parameters:
      - description: The WebHook ID.
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Deletes an existing WebHook registration.
      tags:
      - Webhooks
    get:
      consumes: []
      operationId: WebHookManagement_Lookup
      parameters:
      - in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Microsoft.AspNet.WebHooks.WebHook'
      summary: Looks up a registered WebHook with the given {id} for a given user.
      tags:
      - Webhooks
    put:
      consumes:
      - application/json
      - text/json
      - application/x-www-form-urlencoded
      operationId: WebHookManagement_Put
      parameters:
      - description: The WebHook ID.
        in: path
        name: id
        required: true
        type: string
      - description: The new {Microsoft.AspNet.WebHooks.WebHook} to use.
        in: body
        name: webHook
        required: true
        schema:
          $ref: '#/definitions/Microsoft.AspNet.WebHooks.WebHook'
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            type: object
      summary: Updates an existing WebHook registration.
      tags:
      - Webhooks
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":42:{s:51:\"Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":53:{s:15:\"BasicAttributes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/Billbee.Interfaces.Order.MultiLanguageString\";}s:4:\"type\";s:5:\"array\";}s:14:\"BillOfMaterial\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:71:\"#/definitions/Billbee.Interfaces.BillbeeAPI.Model.BomSubArticleApiModel\";}s:4:\"type\";s:5:\"array\";}s:9:\"Category1\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleCategoryApiModel\";}s:9:\"Category2\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleCategoryApiModel\";}s:9:\"Category3\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleCategoryApiModel\";}s:9:\"Condition\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"CostPrice\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"CountryOfOrigin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"DeliveryTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/Billbee.Interfaces.Order.MultiLanguageString\";}s:4:\"type\";s:5:\"array\";}s:3:\"EAN\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ExportDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"HeightCm\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"Images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:70:\"#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageApiModel\";}s:4:\"type\";s:5:\"array\";}s:11:\"InvoiceText\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/Billbee.Interfaces.Order.MultiLanguageString\";}s:4:\"type\";s:5:\"array\";}s:14:\"IsCustomizable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"IsDigital\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"LengthCm\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"LowStock\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:12:\"Manufacturer\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Materials\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/Billbee.Interfaces.Order.MultiLanguageString\";}s:4:\"type\";s:5:\"array\";}s:8:\"Occasion\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"Price\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"Recipient\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"SKU\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ShippingProductId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"ShortDescription\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/Billbee.Interfaces.Order.MultiLanguageString\";}s:4:\"type\";s:5:\"array\";}s:10:\"SoldAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:20:\"SoldAmountLast30Days\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"SoldSumGross\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:22:\"SoldSumGrossLast30Days\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"SoldSumNet\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:20:\"SoldSumNetLast30Days\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"Sources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:71:\"#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleSourceApiModel\";}s:4:\"type\";s:5:\"array\";}s:9:\"StockCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"StockCurrent\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"StockDesired\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:23:\"StockReduceItemsPerSale\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"StockWarning\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"Stocks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:70:\"#/definitions/Billbee.Interfaces.BillbeeAPI.Model.StockArticleApiModel\";}s:4:\"type\";s:5:\"array\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/Billbee.Interfaces.Order.MultiLanguageString\";}s:4:\"type\";s:5:\"array\";}s:11:\"TaricNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/Billbee.Interfaces.Order.MultiLanguageString\";}s:4:\"type\";s:5:\"array\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Unit\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"UnitsPerItem\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"Vat1Rate\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"Vat2Rate\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"VatIndex\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"Weight\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"WeightNet\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"WidthCm\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:59:\"Billbee.Interfaces.BillbeeAPI.Model.ArticleCategoryApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:56:\"Billbee.Interfaces.BillbeeAPI.Model.ArticleImageApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"Id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"IsDefault\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"Position\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ThumbPathExt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ThumbUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:57:\"Billbee.Interfaces.BillbeeAPI.Model.ArticleSourceApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:12:\"ApiAccountId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"ApiAccountName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Custom\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"ExportFactor\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"Source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"SourceId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"StockSyncInactive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"StockSyncMax\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"StockSyncMin\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"UnitsPerItem\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:57:\"Billbee.Interfaces.BillbeeAPI.Model.BomSubArticleApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Amount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"ArticleId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"SKU\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:65:\"Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"ReservedAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:56:\"Billbee.Interfaces.BillbeeAPI.Model.StockArticleApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"StockCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"StockCurrent\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"StockDesired\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"StockId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"StockWarning\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:17:\"UnfulfilledAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:55:\"Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:26:\"AutosubtractReservedAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"DeltaQuantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"NewQuantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"OldQuantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"Reason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"StockId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:59:\"Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeApiModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"Sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"StockCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"StockId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:63:\"Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:59:\"Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"CurrentStock\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"SKU\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"UnfulfilledAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:32:\"Billbee.Interfaces.Order.Address\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"CountryISO2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"FirstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"HouseNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"LastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Line2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Line3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"NameAddition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"State\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Street\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"Billbee.Interfaces.Order.ApiOrder\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":50:{s:23:\"AcceptLossOfReturnRight\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"AdjustmentCost\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:16:\"AdjustmentReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"BillBeeOrderId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"BillBeeParentOrderId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"Buyer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/Billbee.Interfaces.Order.ApiOrderUser\";}s:8:\"Comments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/Billbee.Interfaces.Order.Comment\";}s:4:\"type\";s:5:\"array\";}s:11:\"ConfirmedAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"Currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"CustomInvoiceNote\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"CustomerNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"DeliverySourceCountryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"InvoiceAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/Billbee.Interfaces.Order.Address\";}s:11:\"InvoiceDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"InvoiceNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"InvoiceNumberPostfix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"InvoiceNumberPrefix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"IsCancelationFor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"IsCanceled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"LanguageCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"OrderItems\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/Billbee.Interfaces.Order.ApiOrderItem\";}s:4:\"type\";s:5:\"array\";}s:11:\"OrderNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"PaidAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"PayedAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"PaymentInstruction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"PaymentMethod\";O:8:\"stdClass\":3:{s:4:\"enum\";a:82:{i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:6;i:5;i:19;i:6;i:20;i:7;i:21;i:8;i:22;i:9;i:23;i:10;i:24;i:11;i:25;i:12;i:26;i:13;i:27;i:14;i:28;i:15;i:29;i:16;i:30;i:17;i:31;i:18;i:32;i:19;i:33;i:20;i:34;i:21;i:35;i:22;i:36;i:23;i:37;i:24;i:38;i:25;i:39;i:26;i:40;i:27;i:41;i:28;i:42;i:29;i:43;i:30;i:44;i:31;i:45;i:32;i:46;i:33;i:47;i:34;i:48;i:35;i:49;i:36;i:50;i:37;i:51;i:38;i:52;i:39;i:53;i:40;i:54;i:41;i:55;i:42;i:56;i:43;i:57;i:44;i:58;i:45;i:59;i:46;i:60;i:47;i:61;i:48;i:62;i:49;i:63;i:50;i:64;i:51;i:65;i:52;i:66;i:53;i:67;i:54;i:68;i:55;i:69;i:56;i:70;i:57;i:71;i:58;i:72;i:59;i:73;i:60;i:74;i:61;i:75;i:62;i:76;i:63;i:77;i:64;i:78;i:65;i:79;i:66;i:80;i:67;i:81;i:68;i:82;i:69;i:83;i:70;i:84;i:71;i:85;i:72;i:86;i:73;i:87;i:74;i:88;i:75;i:89;i:76;i:90;i:77;i:91;i:78;i:92;i:79;i:93;i:80;i:94;i:81;i:95;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"PaymentReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"PaymentTransactionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"RebateDifference\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"number\";}s:11:\"RestfulPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Seller\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/Billbee.Interfaces.Order.ApiOrderUser\";}s:13:\"SellerComment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ShipWeightKg\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"ShippedAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"ShippingAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/Billbee.Interfaces.Order.Address\";}s:12:\"ShippingCost\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"ShippingIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/Billbee.Interfaces.Order.ApiShippingId\";}s:4:\"type\";s:5:\"array\";}s:17:\"ShippingProfileId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"ShippingProfileName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ShippingServices\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Billbee.Interfaces.Shipping.ProductService\";}s:4:\"type\";s:5:\"array\";}s:5:\"State\";O:8:\"stdClass\":3:{s:4:\"enum\";a:15:{i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;i:6;i:6;i:7;i:7;i:8;i:8;i:9;i:9;i:10;i:10;i:11;i:11;i:12;i:12;i:13;i:13;i:14;i:14;i:15;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"TaxRate1\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"TaxRate2\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"TotalCost\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"UpdatedAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"VatId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"VatMode\";O:8:\"stdClass\":3:{s:4:\"enum\";a:6:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:37:\"Billbee.Interfaces.Order.ApiOrderItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/Billbee.Interfaces.Order.ApiOrderItemAttribute\";}s:4:\"type\";s:5:\"array\";}s:9:\"BillbeeId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Discount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"DontAdjustStock\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:24:\"GetPriceFromArticleIfAny\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"IsCoupon\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"IsDiscount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"Product\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/Billbee.Interfaces.Order.ApiSoldProduct\";}s:8:\"Quantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:17:\"ShippingProfileId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"TaxAmount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"TaxIndex\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"TotalPrice\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"TransactionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:46:\"Billbee.Interfaces.Order.ApiOrderItemAttribute\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"Id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Price\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:37:\"Billbee.Interfaces.Order.ApiOrderUser\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"BillbeeShopId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"BillbeeShopName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"FirstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"FullName\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"LastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Nick\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Platform\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:40:\"Billbee.Interfaces.Order.ApiProductImage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"ExternalId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"IsDefaultImage\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"Position\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:38:\"Billbee.Interfaces.Order.ApiShippingId\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"Shipper\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ShippingId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:39:\"Billbee.Interfaces.Order.ApiSoldProduct\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"BillbeeId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"CountryOfOrigin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"EAN\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"Id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/Billbee.Interfaces.Order.ApiProductImage\";}s:4:\"type\";s:5:\"array\";}s:9:\"IsDigital\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"OldId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"PlatformData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"SKU\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"SkuOrId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"TARICCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Weight\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:32:\"Billbee.Interfaces.Order.Comment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"Created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"FromCustomer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:44:\"Billbee.Interfaces.Order.MultiLanguageString\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:42:\"Billbee.Interfaces.Shipping.ProductService\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"DisplayValue\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"PossibleValueLists\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:169:\"#/definitions/System.Collections.Generic.KeyValuePair[System.String,System.Collections.Generic.List[System.Collections.Generic.KeyValuePair[System.Int32,System.String]]]\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:17:\"RequiresUserInput\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:11:\"ServiceName\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"typeName\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:43:\"Billbee.Interfaces.Shipping.ShipmentAddress\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:15:\"AddressAddition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"CountryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"CountryCodeISO3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"FirstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"FullName\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"FullStreet\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"Housenumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"IsExportCountry\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"LastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Name2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"State\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Street\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Telephone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:51:\"Billbee.Interfaces.Shipping.ShipmentData.Dimensions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"height\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"length\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"width\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:33:\"Microsoft.AspNet.WebHooks.WebHook\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Filters\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:7:\"Headers\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:2:\"Id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"IsPaused\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"Properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:6:\"Secret\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"WebHookUri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"WebHookUri\";}s:4:\"type\";s:6:\"object\";}s:64:\"Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"Comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"OrderId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ShippingId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"ShippingProviderId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"ShippingProviderProductId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:156:\"Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult.PagingInformation[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel]]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Page\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"PageSize\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"TotalPages\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"TotalRows\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:138:\"Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel]]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:65:\"#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel\";}s:4:\"type\";s:5:\"array\";}s:9:\"ErrorCode\";O:8:\"stdClass\":3:{s:4:\"enum\";a:23:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;i:6;i:6;i:7;i:7;i:8;i:8;i:9;i:9;i:10;i:10;i:11;i:11;i:12;i:12;i:13;i:13;i:14;i:14;i:15;i:15;i:16;i:16;i:17;i:17;i:18;i:18;i:19;i:19;i:20;i:20;i:21;i:21;i:22;i:22;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Paging\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:170:\"#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult.PagingInformation[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel]]\";}}s:4:\"type\";s:6:\"object\";}s:100:\"Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:65:\"#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel\";}s:9:\"ErrorCode\";O:8:\"stdClass\":3:{s:4:\"enum\";a:23:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;i:6;i:6;i:7;i:7;i:8;i:8;i:9;i:9;i:10;i:10;i:11;i:11;i:12;i:12;i:13;i:13;i:14;i:14;i:15;i:15;i:16;i:16;i:17;i:17;i:18;i:18;i:19;i:19;i:20;i:20;i:21;i:21;i:22;i:22;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:114:\"Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:79:\"#/definitions/Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData\";}s:9:\"ErrorCode\";O:8:\"stdClass\":3:{s:4:\"enum\";a:23:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;i:6;i:6;i:7;i:7;i:8;i:8;i:9;i:9;i:10;i:10;i:11;i:11;i:12;i:12;i:13;i:13;i:14;i:14;i:15;i:15;i:16;i:16;i:17;i:17;i:18;i:18;i:19;i:19;i:20;i:20;i:21;i:21;i:22;i:22;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:112:\"Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:77:\"#/definitions/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData\";}s:9:\"ErrorCode\";O:8:\"stdClass\":3:{s:4:\"enum\";a:23:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;i:6;i:6;i:7;i:7;i:8;i:8;i:9;i:9;i:10;i:10;i:11;i:11;i:12;i:12;i:13;i:13;i:14;i:14;i:15;i:15;i:16;i:16;i:17;i:17;i:18;i:18;i:19;i:19;i:20;i:20;i:21;i:21;i:22;i:22;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:108:\"Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData\";}s:9:\"ErrorCode\";O:8:\"stdClass\":3:{s:4:\"enum\";a:23:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;i:6;i:6;i:7;i:7;i:8;i:8;i:9;i:9;i:10;i:10;i:11;i:11;i:12;i:12;i:13;i:13;i:14;i:14;i:15;i:15;i:16;i:16;i:17;i:17;i:18;i:18;i:19;i:19;i:20;i:20;i:21;i:21;i:22;i:22;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:110:\"Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabelResult]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:75:\"#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabelResult\";}s:9:\"ErrorCode\";O:8:\"stdClass\":3:{s:4:\"enum\";a:23:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;i:6;i:6;i:7;i:7;i:8;i:8;i:9;i:9;i:10;i:10;i:11;i:11;i:12;i:12;i:13;i:13;i:14;i:14;i:15;i:15;i:16;i:16;i:17;i:17;i:18;i:18;i:19;i:19;i:20;i:20;i:21;i:21;i:22;i:22;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:92:\"Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Data
  used to create a new Billbee user account\";s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"AcceptTerms\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"Address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:118:\"#/definitions/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer.UserAddress\";s:11:\"description\";s:52:\"Gets
  or sets the invoice address of the Billbee user\";}s:19:\"AffiliateCouponCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Specifies
  an billbee affiliate code to attach to the user\";s:4:\"type\";s:6:\"string\";}s:16:\"DefaultCurrrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Optionally
  specify the default currency of the user\";s:4:\"type\";s:6:\"string\";}s:15:\"DefaultVatIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Optionally
  specify the default vat index of the user\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"DefaultVatMode\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Optionally
  specify the default vat mode of the user\";s:4:\"enum\";a:6:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"EMail\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  Email address of the user to create\";s:4:\"type\";s:6:\"string\";}s:10:\"Newsletter\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Gets
  or sets if the user is interested in the Billbee newsletter\";s:4:\"type\";s:7:\"boolean\";}s:8:\"Password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Vat1Rate\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Optionally
  specify the vat1 (normal) rate of the user\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"Vat2Rate\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Optionally
  specify the vat2 (reduced) rate of the user\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:5:\"EMail\";}s:4:\"type\";s:6:\"object\";}s:104:\"Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer.UserAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  the invoice address of a Billbee user\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"Address1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Address2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"City\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Country\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  ISO2 country code of the users country\";s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"VatId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:54:\"Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Specifies
  the parameters used to set the new state of an order\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"NewStateId\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  new state to set\";s:4:\"enum\";a:15:{i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;i:6;i:6;i:7;i:7;i:8;i:8;i:9;i:9;i:10;i:10;i:11;i:11;i:12;i:12;i:13;i:13;i:14;i:14;i:15;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:52:\"Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:55:\"Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"ChangeStateToSend\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Optional
  parameter to automatically change the orderstate to sent after creating the shipment\";s:4:\"type\";s:7:\"boolean\";}s:15:\"ClientReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"Optional
  specify a reference text to be included on the label. Works not with all carriers\";s:4:\"type\";s:6:\"string\";}s:9:\"Dimension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:65:\"#/definitions/Billbee.Interfaces.Shipping.ShipmentData.Dimensions\";s:11:\"description\";s:50:\"Option
  specify the dimensions of the package in cm\";}s:7:\"OrderId\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  Billbee internal id of the order to ship\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"PrinterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Optional
  the name of a connected cloudprinter to send the label to\";s:4:\"type\";s:6:\"string\";}s:9:\"ProductId\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"the
  id of the shipping provider product to be used\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"ProviderId\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  id of the provider. You can query all providers with the shippingproviders endpoint\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"ShipDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Optional
  specify the shipdate to be transmitted to the carrier\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"WeightInGram\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Optional
  the shipments weight in gram to override the calculated weight\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:61:\"Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabelResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"Carrier\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"ExportDocsPdf\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:12:\"LabelDataPdf\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:7:\"OrderId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"OrderReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ShippingDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"ShippingId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"TrackingUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:52:\"Rechnungsdruck.WebApp.Model.Api.ApiShipmentViewModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:15:\"ClientReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Optional
  specify a text to be included on the label. Not possible with all carriers\";s:4:\"type\";s:6:\"string\";}s:7:\"Content\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Optional
  specify a text describing the content of the shipment. Used for export shipments\";s:4:\"type\";s:6:\"string\";}s:14:\"CustomerNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Not
  used anymore\";s:4:\"type\";s:6:\"string\";}s:17:\"OrderCurrencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  Currency if the ordersum\";s:4:\"type\";s:6:\"string\";}s:8:\"OrderSum\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  value of the shipments content\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"PrinterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  name of a connected Cloudprinter to sent the label to\";s:4:\"type\";s:6:\"string\";}s:11:\"ProductCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  productcode to be used when creating the shipment. Values depends on the carrier
  used\";s:4:\"type\";s:6:\"string\";}s:12:\"ProviderName\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  name of the provider as specified in the billbee account\";s:4:\"type\";s:6:\"string\";}s:15:\"ReceiverAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:57:\"#/definitions/Billbee.Interfaces.Shipping.ShipmentAddress\";s:11:\"description\";s:27:\"The
  address of the receiver\";}s:8:\"Services\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  list of services to be used when creating the shipment\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Billbee.Interfaces.Shipping.ProductService\";}s:4:\"type\";s:5:\"array\";}s:8:\"ShipDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Optional
  overwrite the shipdate to be transferred to the carrier\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"WeightInGram\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Optional
  specify the weight in gram of the shipment\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"shippingCarrier\";O:8:\"stdClass\":3:{s:4:\"enum\";a:15:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;i:6;i:6;i:7;i:7;i:8;i:8;i:9;i:9;i:10;i:10;i:11;i:11;i:12;i:12;i:13;i:13;i:14;i:14;}s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:67:\"System.Collections.Generic.KeyValuePair[System.Int32,System.String]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:155:\"System.Collections.Generic.KeyValuePair[System.String,System.Collections.Generic.List[System.Collections.Generic.KeyValuePair[System.Int32,System.String]]]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:81:\"#/definitions/System.Collections.Generic.KeyValuePair[System.Int32,System.String]\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
