---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"ERC dEX REST API\";s:7:\"version\";s:11:\"0.0.1-alpha\";}"
host: app.ercdex.com
basePath: /api/v2
paths:
  /aggregated_orders:
    get:
      operationId: GetAggregatedOrders
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/IAggregatedOrderData'
      tags:
      - AggregatedOrders
      security: []
      parameters:
      - in: query
        name: baseSymbol
        required: true
        type: string
      - in: query
        name: quoteSymbol
        required: true
        type: string
  /asset_pairs:
    get:
      operationId: GetAssetPairs
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/IGetAssetPairsResponse'
      description: Get a list of supported asset pairs
      tags:
      - AssetPairs
      security: []
      parameters:
      - default: 1
        in: query
        name: page
        required: false
        format: double
        type: number
      - default: 100
        in: query
        name: perPage
        required: false
        format: double
        type: number
  /networks:
    get:
      operationId: GetSupportedNetwork
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/INetwork'
      description: Get supported network info
      tags:
      - Networks
      security: []
      parameters: []
  /networks/maintenance:
    get:
      operationId: IsMaintenance
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/IMaintenanceStatus'
      description: Determine if app is in maintenance mode
      tags:
      - Networks
      security: []
      parameters: []
  /networks/bulk_token_contract:
    get:
      operationId: GetBulkTokenContract
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            type: string
      description: Get contract address for bulk token utility contract
      tags:
      - Networks
      security: []
      parameters: []
  /news/cryptopanic/{symbol}:
    get:
      operationId: GetCryptoPanicNews
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/ICryptoPanicPostsResponse'
      tags:
      - News
      security: []
      parameters:
      - in: path
        name: symbol
        required: true
        type: string
  /news/ercdex:
    get:
      operationId: GetErcDexNews
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/IGetNewsItemsResponse'
      tags:
      - News
      security: []
      parameters:
      - default: 1
        in: query
        name: page
        required: false
        format: double
        type: number
      - default: 20
        in: query
        name: perPage
        required: false
        format: double
        type: number
  /notifications:
    get:
      operationId: GetNotifications
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            type: array
            items:
              $ref: '#/definitions/Notification'
      description: Get active notifications for an account
      tags:
      - Notifications
      security: []
      parameters:
      - in: query
        name: account
        required: true
        type: string
  /order:
    post:
      operationId: CreateOrder
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/Order'
      description: Submit a signed order
      tags:
      - Orders
      security: []
      parameters:
      - in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/IOrderCreationRequest'
    get:
      operationId: GetOrderById
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/IOrderData'
      description: Get a single order by ID
      tags:
      - Orders
      security: []
      parameters:
      - in: query
        name: orderId
        required: true
        format: double
        type: number
  /orders:
    get:
      operationId: GetOrders
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/IGetOrdersResponse'
      description: Get a list of orders
      tags:
      - Orders
      security: []
      parameters:
      - default: true
        description: Include orders that are open; if false, only closed orders are
          returned
        in: query
        name: open
        required: false
        type: boolean
      - default: 1
        description: Page number
        in: query
        name: page
        required: false
        format: double
        type: number
      - default: 100
        description: Page size
        in: query
        name: perPage
        required: false
        format: double
        type: number
      - description: 0x contract exchange address
        in: query
        name: exchangeAddress
        required: false
        type: string
      - description: Fee recipient address
        in: query
        name: feeRecipientAddress
        required: false
        type: string
      - description: Encoded taker asset data
        in: query
        name: takerAssetData
        required: false
        type: string
      - description: Encoded maker asset data
        in: query
        name: makerAssetData
        required: false
        type: string
      - description: Designated address to execute orders
        in: query
        name: senderAddress
        required: false
        type: string
      - description: Encoded asset data (could be maker or taker)
        in: query
        name: traderAssetData
        required: false
        type: string
      - description: Trader address (could be makerAddress or takerAddress)
        in: query
        name: traderAddress
        required: false
        type: string
      - description: Token address of taker asset
        in: query
        name: takerAssetAddress
        required: false
        type: string
      - description: Address of order taker
        in: query
        name: takerAddress
        required: false
        type: string
      - description: Token address of maker asset
        in: query
        name: makerAssetAddress
        required: false
        type: string
      - description: Address of order maker
        in: query
        name: makerAddress
        required: false
        type: string
      - description: Maker asset proxy ID (ERC20 proxy only
        in: query
        name: makerAssetProxyId
        required: false
        type: string
      - description: Taker asset proxy ID (ERC20 proxy only)
        in: query
        name: takerAssetProxyId
        required: false
        type: string
      - in: query
        name: pair
        required: false
        type: string
  /order/{orderHash}:
    get:
      operationId: GetOrderByHash
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/IOrderData'
      description: Get a single order by hash
      tags:
      - Orders
      security: []
      parameters:
      - description: Hex format hash of order parameters
        in: path
        name: orderHash
        required: true
        type: string
  /order_config:
    get:
      operationId: GetOrderConfig
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/IOrderConfig'
      tags:
      - Orders
      security: []
      parameters:
      - in: query
        name: makerAddress
        required: true
        type: string
      - in: query
        name: takerAddress
        required: true
        type: string
      - in: query
        name: makerAssetAmount
        required: true
        type: string
      - in: query
        name: takerAssetAmount
        required: true
        type: string
      - in: query
        name: makerAssetData
        required: true
        type: string
      - in: query
        name: takerAssetData
        required: true
        type: string
      - in: query
        name: exchangeAddress
        required: true
        type: string
  /fee_recipients:
    get:
      operationId: GetFeeRecipients
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/IFeeRecipientsResponse'
      tags:
      - Orders
      security: []
      parameters: []
  /orderbook:
    get:
      operationId: GetOrderbook
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/IOrderbookResponse'
      tags:
      - Orders
      security: []
      parameters:
      - in: query
        name: baseAssetData
        required: true
        type: string
      - in: query
        name: quoteAssetData
        required: true
        type: string
      - default: 100
        in: query
        name: perPage
        required: false
        format: double
        type: number
      - default: 1
        in: query
        name: page
        required: false
        format: double
        type: number
  /orders/cancel:
    post:
      operationId: CancelOrders
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            type: array
            items:
              $ref: '#/definitions/ICancelOrderResult'
      description: Cancel one or more orders
      tags:
      - Orders
      security: []
      parameters:
      - in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/ICancelOrdersRequest'
  /reports/ticker:
    get:
      operationId: GetTickerData
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            type: array
            items:
              $ref: '#/definitions/ITokenTicker'
      tags:
      - Reports
      security: []
      parameters: []
  /ticker:
    get:
      operationId: GetTicker
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            type: array
            items:
              $ref: '#/definitions/IGlobalTickerRecord'
      tags:
      - Ticker
      security: []
      parameters:
      - default: 24h
        description: 'Granularity of results: 24h (1 day), 1w (1 week), 1mo (1 month)'
        in: query
        name: granularity
        required: false
        type: string
  /token_requests:
    post:
      operationId: CreateTokenRequest
      produces:
      - application/json
      responses:
        204:
          description: No content
      tags:
      - TokenRequest
      security: []
      parameters:
      - in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/ITokenRequestRequest'
  /trade/fill:
    post:
      operationId: Fill
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/FillReceipt'
      description: Redeem a signed quote (see RequestFill to receive a quote)
      tags:
      - Trade
      security: []
      parameters:
      - in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/IFillRequest'
  /trade/request_fill:
    post:
      operationId: RequestFill
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/MarketQuote'
      description: Request to fill an order; returns a quote payload that can be signed
        and redeemed to begin execution
      tags:
      - Trade
      security: []
      parameters:
      - in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/IRequestFillRequest'
  /trade/market_quote:
    post:
      operationId: GetMarketQuote
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/IMarketOrderQuote'
      description: Get a quote for a requested quantity
      tags:
      - Trade
      security: []
      parameters:
      - in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/IGetMarketOrderQuoteRequest'
  /trade/market_quote_by_percent:
    post:
      operationId: GetMarketQuoteByPercent
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/IMarketOrderQuote'
      description: Get a quote by percentage
      tags:
      - Trade
      security: []
      parameters:
      - in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/IGetMarketOrderQuoteByPercentageRequest'
  /trade/receipt/{id}:
    get:
      operationId: GetReceipt
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/FillReceipt'
      description: Get a receipt of an attempted fill
      tags:
      - Trade
      security: []
      parameters:
      - in: path
        name: id
        required: true
        format: double
        type: number
  /trade/receipts:
    get:
      operationId: GetReceipts
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/IGetReceiptsResponse'
      tags:
      - Trade
      security: []
      parameters:
      - default: 1
        description: Page
        in: query
        name: page
        required: false
        format: double
        type: number
      - default: 100
        description: Page size
        in: query
        name: perPage
        required: false
        format: double
        type: number
      - description: Optionally provide wallet address of receipt recipient
        in: query
        name: taker_address
        required: false
        type: string
      - description: The token pair in the format BASE/QUOTE, e.g. ZRX/WETH
        in: query
        name: pair
        required: false
        type: string
      - description: Optionally provide wallet address of order maker
        in: query
        name: maker_address
        required: false
        type: string
      - in: query
        name: orderId
        required: false
        format: double
        type: number
  /trading_view:
    get:
      operationId: GetTradingViewLogs
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            type: array
            items:
              $ref: '#/definitions/ITradingViewLog'
      tags:
      - TradingView
      security: []
      parameters:
      - in: query
        name: pair
        required: true
        type: string
      - in: query
        name: resolution
        required: true
        type: string
      - in: query
        name: startDate
        required: true
        format: date-time
        type: string
      - in: query
        name: endDate
        required: true
        format: date-time
        type: string
  /trade_history_logs:
    get:
      operationId: GetTradeHistoryLogs
      produces:
      - application/json
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/IGetTradeHistoryLogsResponse'
      tags:
      - TradeHistoryLogs
      security: []
      parameters:
      - default: 1
        description: 'Page number (default: 1)'
        in: query
        name: page
        required: false
        format: double
        type: number
      - default: 20
        description: 'Page size (max 1000, default: 20)'
        in: query
        name: per_page
        required: false
        format: double
        type: number
      - default: date
        description: 'Sort order (default: ''date''). date: Sort by trade date'
        in: query
        name: sort_order
        required: false
        type: string
      - default: desc
        description: 'Sort direction (default: ''desc''). Options: asc: Ascending,
          desc: Descending'
        in: query
        name: sort_direction
        required: false
        type: string
      - description: Name of originating 0x relayer
        in: query
        name: relayer
        required: false
        type: string
      - description: Address of order maker
        in: query
        name: maker
        required: false
        type: string
      - description: Address of order feeRecipient
        in: query
        name: fee_recipient
        required: false
        type: string
      - description: Address of maker token
        in: query
        name: maker_token_address
        required: false
        type: string
      - description: Symbol of maker token
        in: query
        name: maker_token_symbol
        required: false
        type: string
      - description: Address of order taker
        in: query
        name: taker
        required: false
        type: string
      - description: Address of taker token
        in: query
        name: taker_token_address
        required: false
        type: string
      - description: Symbol of taker token
        in: query
        name: taker_token_symbol
        required: false
        type: string
      - description: Unique, generated hash representing 0x order
        in: query
        name: order_hash
        required: false
        type: string
      - description: Address of token that is either maker or taker
        in: query
        name: token_address
        required: false
        type: string
      - description: Symbol of token that is either maker or taker
        in: query
        name: token_symbol
        required: false
        type: string
      - description: Transaction hash
        in: query
        name: tx_hash
        required: false
        type: string
      - description: Address of either maker or taker
        in: query
        name: trader
        required: false
        type: string
      - description: 'Minimum trade date: format (UTC): 2017-01-01T00:00:00.000Z'
        in: query
        name: min_date
        required: false
        format: date-time
        type: string
      - description: 'Maximum trade date. Format (UTC): 2017-01-01T00:00:00.000Z'
        in: query
        name: max_date
        required: false
        format: date-time
        type: string
      - default: json
        description: 'Result format (default: ''json''). Options: ''json'', ''csv''.
          CSV: Page size limited to 10000 records'
        in: query
        name: format
        required: false
        type: string
      - description: 'Token pair. Format: base_token_symbol/quote_token_symbol. Example:
          ZRX/WETH'
        in: query
        name: pair
        required: false
        type: string
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":45:{s:11:\"IPriceLevel\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"volume\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"volumeRatio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:8:\"required\";a:3:{i:0;s:5:\"price\";i:1;s:6:\"volume\";i:2;s:11:\"volumeRatio\";}s:4:\"type\";s:6:\"object\";}s:17:\"IOrderBookListing\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"priceLevels\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IPriceLevel\";}}}s:8:\"required\";a:1:{i:0;s:11:\"priceLevels\";}s:4:\"type\";s:6:\"object\";}s:20:\"IAggregatedOrderData\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"sells\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/IOrderBookListing\";}s:4:\"buys\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/IOrderBookListing\";}}s:8:\"required\";a:2:{i:0;s:5:\"sells\";i:1;s:4:\"buys\";}s:4:\"type\";s:6:\"object\";}s:6:\"IToken\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"symbol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"decimals\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:4:\"name\";i:1;s:7:\"address\";i:2;s:6:\"symbol\";i:3;s:8:\"decimals\";i:4;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:10:\"ITokenPair\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"assetDataA\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/IToken\";}s:10:\"assetDataB\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/IToken\";}s:9:\"minAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"maxAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"precision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:10:\"baseVolume\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"quoteVolume\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:10:\"assetDataA\";i:1;s:10:\"assetDataB\";i:2;s:9:\"minAmount\";i:3;s:9:\"maxAmount\";i:4;s:9:\"precision\";i:5;s:10:\"baseVolume\";i:6;s:11:\"quoteVolume\";}s:4:\"type\";s:6:\"object\";}s:22:\"IGetAssetPairsResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:4:\"page\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"perPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"records\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ITokenPair\";}}}s:8:\"required\";a:4:{i:0;s:5:\"total\";i:1;s:4:\"page\";i:2;s:7:\"perPage\";i:3;s:7:\"records\";}s:4:\"type\";s:6:\"object\";}s:8:\"INetwork\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:5:\"label\";i:2;s:3:\"url\";}s:4:\"type\";s:6:\"object\";}s:18:\"IMaintenanceStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:308:\"To
  set maintenance status from redis-cli:\nset maintenance_status \"{ \\\"isMaintenance\\\":
  true, \\\"reason\\\": \\\"We are currently performing maintenance on our Ethereum
  nodes. Service will return as soon as possible.\\\" }\"\n\nor to turn off\n\nset
  maintenance_status \"{ \\\"isMaintenance\\\": false }\"\nCurrent status of app\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"isMaintenance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}}s:8:\"required\";a:1:{i:0;s:13:\"isMaintenance\";}s:4:\"type\";s:6:\"object\";}s:7:\"ISource\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:6:\"domain\";i:1;s:5:\"title\";i:2;s:6:\"region\";i:3;s:4:\"path\";}s:4:\"type\";s:6:\"object\";}s:9:\"ICurrency\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"code\";i:1;s:5:\"title\";i:2;s:4:\"slug\";i:3;s:3:\"url\";}s:4:\"type\";s:6:\"object\";}s:6:\"IVotes\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"negative\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:8:\"positive\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:9:\"important\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"liked\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:8:\"disliked\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:3:\"lol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"toxic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"saved\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:8:\"required\";a:8:{i:0;s:8:\"negative\";i:1;s:8:\"positive\";i:2;s:9:\"important\";i:3;s:5:\"liked\";i:4;s:8:\"disliked\";i:5;s:3:\"lol\";i:6;s:5:\"toxic\";i:7;s:5:\"saved\";}s:4:\"type\";s:6:\"object\";}s:7:\"IResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/ISource\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"published_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"currencies\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ICurrency\";}}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"votes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/IVotes\";}}s:8:\"required\";a:10:{i:0;s:6:\"domain\";i:1;s:6:\"source\";i:2;s:5:\"title\";i:3;s:12:\"published_at\";i:4;s:4:\"slug\";i:5;s:10:\"currencies\";i:6;s:2:\"id\";i:7;s:10:\"created_at\";i:8;s:3:\"url\";i:9;s:5:\"votes\";}s:4:\"type\";s:6:\"object\";}s:25:\"ICryptoPanicPostsResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:4:\"next\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"x-nullable\";b:1;}s:7:\"results\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/IResult\";}}}s:8:\"required\";a:3:{i:0;s:5:\"count\";i:1;s:4:\"next\";i:2;s:7:\"results\";}s:4:\"type\";s:6:\"object\";}s:8:\"NewsItem\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"Unique
  Identifier\";}s:11:\"dateCreated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:16:\"Date
  of creation\";}s:11:\"dateUpdated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"Date
  of updated\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"featured\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"medium\";i:1;s:7:\"twitter\";}}}s:8:\"required\";a:8:{i:0;s:2:\"id\";i:1;s:11:\"dateCreated\";i:2;s:11:\"dateUpdated\";i:3;s:3:\"url\";i:4;s:5:\"title\";i:5;s:11:\"description\";i:6;s:8:\"featured\";i:7;s:6:\"source\";}s:4:\"type\";s:6:\"object\";}s:21:\"IGetNewsItemsResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:4:\"page\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"perPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"records\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/NewsItem\";}}}s:8:\"required\";a:4:{i:0;s:5:\"total\";i:1;s:4:\"page\";i:2;s:7:\"perPage\";i:3;s:7:\"records\";}s:4:\"type\";s:6:\"object\";}s:12:\"Notification\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"A
  notification meant for consumption by clients\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"Unique
  Identifier\";}s:11:\"dateCreated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:16:\"Date
  of creation\";}s:11:\"dateUpdated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"Date
  of updated\";}s:7:\"account\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Hex
  address of account associated with notification\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Text
  label of notification\";}s:14:\"expirationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:29:\"Date
  the notification expires\";}}s:8:\"required\";a:6:{i:0;s:2:\"id\";i:1;s:11:\"dateCreated\";i:2;s:11:\"dateUpdated\";i:3;s:7:\"account\";i:4;s:5:\"label\";i:5;s:14:\"expirationDate\";}s:4:\"type\";s:6:\"object\";}s:7:\"Account\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"Unique
  Identifier\";}s:11:\"dateCreated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:16:\"Date
  of creation\";}s:11:\"dateUpdated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"Date
  of updated\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"accountType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:7:\"relayer\";i:1;s:12:\"market-maker\";i:2;s:9:\"developer\";i:3;s:6:\"trader\";i:4;s:5:\"other\";}s:10:\"x-nullable\";b:1;}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:17:\"referrerAccountId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:10:\"x-nullable\";b:1;}s:16:\"referralWalletId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:10:\"x-nullable\";b:1;}s:11:\"isConfirmed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:9:{i:0;s:2:\"id\";i:1;s:11:\"dateCreated\";i:2;s:11:\"dateUpdated\";i:3;s:4:\"name\";i:4;s:4:\"city\";i:5;s:5:\"state\";i:6;s:7:\"country\";i:7;s:7:\"address\";i:8;s:11:\"isConfirmed\";}s:4:\"type\";s:6:\"object\";}s:5:\"Order\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"An
  order that has been recorded on the ERC dEX Order Book\";s:10:\"properties\";O:8:\"stdClass\":28:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"Unique
  Identifier\";}s:11:\"dateCreated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:16:\"Date
  of creation\";}s:11:\"dateUpdated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"Date
  of updated\";}s:10:\"dateClosed\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:60:\"Date
  on which the order was closed through fill, cancel, etc\";s:10:\"x-nullable\";b:1;}s:15:\"exchangeAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"0x
  Exchange Contract Address\";}s:21:\"expirationTimeSeconds\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Unix
  timestamp of order expiration (in seconds)\";}s:19:\"feeRecipientAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Address
  of the fee recipient\";}s:12:\"makerAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Address
  of the order maker\";}s:8:\"makerFee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Fee
  due from maker on order fill\";}s:17:\"makerAssetAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Token
  address of the maker token\";}s:14:\"makerAssetData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Encoded
  maker asset data\";}s:14:\"takerAssetData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Encoded
  taker asset data\";}s:16:\"makerAssetAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Total
  amount of maker token in order\";}s:4:\"salt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Secure
  salt\";}s:9:\"signature\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Serialized
  version of the EC signature for signed orders\";}s:12:\"takerAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Taker
  address; generally a null taker\";}s:8:\"takerFee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Fee
  due from taker on order fill\";}s:17:\"takerAssetAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Token
  address of the taker token\";}s:16:\"takerAssetAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Total
  amount of taker token in order\";}s:28:\"remainingFillableTakerAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Remaining
  amount that can be filled in taker tokens\";}s:28:\"remainingFillableMakerAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Remaining
  amount that can be filled in maker tokens\";}s:9:\"orderHash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  hash of the signed order\";}s:9:\"accountId\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:24:\"Account
  ID of originator\";s:10:\"x-nullable\";b:1;}s:5:\"state\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:78:\"State
  of the order: Open (0), Canceled (1),\nFilled (2), Expired(3), Removed(4)\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"senderAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"system\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"account\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Account\";s:10:\"x-nullable\";b:1;}}s:8:\"required\";a:25:{i:0;s:2:\"id\";i:1;s:11:\"dateCreated\";i:2;s:11:\"dateUpdated\";i:3;s:15:\"exchangeAddress\";i:4;s:21:\"expirationTimeSeconds\";i:5;s:19:\"feeRecipientAddress\";i:6;s:12:\"makerAddress\";i:7;s:8:\"makerFee\";i:8;s:17:\"makerAssetAddress\";i:9;s:14:\"makerAssetData\";i:10;s:14:\"takerAssetData\";i:11;s:16:\"makerAssetAmount\";i:12;s:4:\"salt\";i:13;s:9:\"signature\";i:14;s:12:\"takerAddress\";i:15;s:8:\"takerFee\";i:16;s:17:\"takerAssetAddress\";i:17;s:16:\"takerAssetAmount\";i:18;s:28:\"remainingFillableTakerAmount\";i:19;s:28:\"remainingFillableMakerAmount\";i:20;s:9:\"orderHash\";i:21;s:5:\"state\";i:22;s:5:\"price\";i:23;s:13:\"senderAddress\";i:24;s:6:\"system\";}s:4:\"type\";s:6:\"object\";}s:21:\"IOrderCreationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":14:{s:12:\"makerAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Order
  maker\";}s:12:\"takerAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"Order
  taker; should generally be the null address (0x000...) in the case of ERC dEX\";}s:19:\"feeRecipientAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Recipient
  of owed fees\";}s:13:\"senderAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Required
  order sender\";}s:16:\"makerAssetAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Amount
  of maker token in trade\";}s:16:\"takerAssetAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Amount
  of taker token in trade\";}s:8:\"makerFee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Fee
  owed by maker\";}s:8:\"takerFee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Fee
  owed by taker\";}s:14:\"makerAssetData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Address
  of maker token\";}s:14:\"takerAssetData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Address
  of taker token\";}s:4:\"salt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Secure
  salt\";}s:15:\"exchangeAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Address
  of 0x exchange contract\";}s:21:\"expirationTimeSeconds\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Unix
  timestamp when order expires\";}s:9:\"signature\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Secure
  EC Signature\";}}s:8:\"required\";a:14:{i:0;s:12:\"makerAddress\";i:1;s:12:\"takerAddress\";i:2;s:19:\"feeRecipientAddress\";i:3;s:13:\"senderAddress\";i:4;s:16:\"makerAssetAmount\";i:5;s:16:\"takerAssetAmount\";i:6;s:8:\"makerFee\";i:7;s:8:\"takerFee\";i:8;s:14:\"makerAssetData\";i:9;s:14:\"takerAssetData\";i:10;s:4:\"salt\";i:11;s:15:\"exchangeAddress\";i:12;s:21:\"expirationTimeSeconds\";i:13;s:9:\"signature\";}s:4:\"type\";s:6:\"object\";}s:10:\"IOrderData\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"order\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Order\";}}s:8:\"required\";a:1:{i:0;s:5:\"order\";}s:4:\"type\";s:6:\"object\";}s:18:\"IGetOrdersResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:4:\"page\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"perPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"records\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/IOrderData\";}}}s:8:\"required\";a:4:{i:0;s:5:\"total\";i:1;s:4:\"page\";i:2;s:7:\"perPage\";i:3;s:7:\"records\";}s:4:\"type\";s:6:\"object\";}s:12:\"IOrderConfig\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"senderAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"feeRecipientAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"makerFee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"takerFee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:13:\"senderAddress\";i:1;s:19:\"feeRecipientAddress\";i:2;s:8:\"makerFee\";i:3;s:8:\"takerFee\";}s:4:\"type\";s:6:\"object\";}s:22:\"IFeeRecipientsResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:4:\"page\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"perPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"records\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:4:{i:0;s:5:\"total\";i:1;s:4:\"page\";i:2;s:7:\"perPage\";i:3;s:7:\"records\";}s:4:\"type\";s:6:\"object\";}s:14:\"IOrderbookSide\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:4:\"page\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"perPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"records\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/IOrderData\";}}}s:8:\"required\";a:4:{i:0;s:5:\"total\";i:1;s:4:\"page\";i:2;s:7:\"perPage\";i:3;s:7:\"records\";}s:4:\"type\";s:6:\"object\";}s:18:\"IOrderbookResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"bids\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/IOrderbookSide\";}s:4:\"asks\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/IOrderbookSide\";}}s:8:\"required\";a:2:{i:0;s:4:\"bids\";i:1;s:4:\"asks\";}s:4:\"type\";s:6:\"object\";}s:18:\"ICancelOrderResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"orderHash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:9:\"orderHash\";i:1;s:7:\"success\";i:2;s:7:\"message\";}s:4:\"type\";s:6:\"object\";}s:16:\"ICancelOrderData\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"orderHash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Computed
  unique order hash\";}s:9:\"signature\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"Signed
  message indicating intent to cancel. Sign a hex of a message with format `cancel:ORDER_HASH_GOES_HERE`\";}}s:8:\"required\";a:2:{i:0;s:9:\"orderHash\";i:1;s:9:\"signature\";}s:4:\"type\";s:6:\"object\";}s:20:\"ICancelOrdersRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"cancellations\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ICancelOrderData\";}}}s:8:\"required\";a:1:{i:0;s:13:\"cancellations\";}s:4:\"type\";s:6:\"object\";}s:12:\"ITokenTicker\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"symbol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"usdPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"dailyPercentageChange\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"dailyVolume\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"priceEth\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:6:\"symbol\";i:1;s:8:\"usdPrice\";i:2;s:21:\"dailyPercentageChange\";i:3;s:11:\"dailyVolume\";i:4;s:8:\"priceEth\";}s:4:\"type\";s:6:\"object\";}s:19:\"IGlobalTickerRecord\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:15:\"baseTokenSymbol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Base
  token of trade, e.g. 'ZRX' in 'ZRX/WETH'\";}s:16:\"quoteTokenSymbol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Quote
  token of trade, e.g. 'WETH' in 'ZRX/WETH'\";}s:10:\"baseVolume\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Volume
  in base token units\";}s:11:\"quoteVolume\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Volume
  in quote token units\";}s:3:\"ask\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Current
  best (lowest) ask price\";s:10:\"x-nullable\";b:1;}s:3:\"bid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Current
  best (highest) bid price\";s:10:\"x-nullable\";b:1;}s:3:\"low\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Lowest
  price in time period\";s:10:\"x-nullable\";b:1;}s:4:\"high\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Highest
  price in time period\";s:10:\"x-nullable\";b:1;}s:4:\"open\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Most
  recent price at beginning of time period\";s:10:\"x-nullable\";b:1;}s:4:\"last\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Most
  recent price\";s:10:\"x-nullable\";b:1;}s:13:\"percentChange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Percentage
  change of price in period\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"Unix
  timestamp of quote\";}}s:8:\"required\";a:6:{i:0;s:15:\"baseTokenSymbol\";i:1;s:16:\"quoteTokenSymbol\";i:2;s:10:\"baseVolume\";i:3;s:11:\"quoteVolume\";i:4;s:13:\"percentChange\";i:5;s:9:\"timestamp\";}s:4:\"type\";s:6:\"object\";}s:20:\"ITokenRequestRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"symbol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}}s:8:\"required\";a:1:{i:0;s:6:\"symbol\";}s:4:\"type\";s:6:\"object\";}s:11:\"FillReceipt\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"Unique
  Identifier\";}s:11:\"dateCreated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:16:\"Date
  of creation\";}s:11:\"dateUpdated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"Date
  of updated\";}s:6:\"txHash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"taker\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"success\";i:1;s:5:\"error\";i:2;s:7:\"pending\";}s:11:\"description\";s:41:\"Receipt
  status: success | error | pending\";}s:16:\"baseAssetAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"baseSymbol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"quoteSymbol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"quoteAssetAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"logs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FillReceiptLog\";}s:10:\"x-nullable\";b:1;}}s:8:\"required\";a:10:{i:0;s:2:\"id\";i:1;s:11:\"dateCreated\";i:2;s:11:\"dateUpdated\";i:3;s:6:\"txHash\";i:4;s:5:\"taker\";i:5;s:6:\"status\";i:6;s:16:\"baseAssetAddress\";i:7;s:10:\"baseSymbol\";i:8;s:11:\"quoteSymbol\";i:9;s:17:\"quoteAssetAddress\";}s:4:\"type\";s:6:\"object\";}s:14:\"FillReceiptLog\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"Unique
  Identifier\";}s:11:\"dateCreated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:16:\"Date
  of creation\";}s:11:\"dateUpdated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"Date
  of updated\";}s:7:\"orderId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:9:\"receiptId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:12:\"makerAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"side\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"buy\";i:1;s:4:\"sell\";}}s:11:\"takerAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"makerAmount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"isFeeOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"receipt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FillReceipt\";s:10:\"x-nullable\";b:1;}}s:8:\"required\";a:11:{i:0;s:2:\"id\";i:1;s:11:\"dateCreated\";i:2;s:11:\"dateUpdated\";i:3;s:7:\"orderId\";i:4;s:9:\"receiptId\";i:5;s:12:\"makerAddress\";i:6;s:4:\"side\";i:7;s:11:\"takerAmount\";i:8;s:11:\"makerAmount\";i:9;s:5:\"price\";i:10;s:10:\"isFeeOrder\";}s:4:\"type\";s:6:\"object\";}s:12:\"IFillRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"quoteId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:22:\"ID
  of a provided quote\";}s:9:\"signature\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Signed
  transaction hash\";}}s:8:\"required\";a:2:{i:0;s:7:\"quoteId\";i:1;s:9:\"signature\";}s:4:\"type\";s:6:\"object\";}s:15:\"MarketQuoteFill\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"Unique
  Identifier\";}s:11:\"dateCreated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:16:\"Date
  of creation\";}s:11:\"dateUpdated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"Date
  of updated\";}s:7:\"orderId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:53:\"Computed
  hash verifying the authenticity of the order\";}s:7:\"quoteId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:53:\"Computed
  hash verifying the authenticity of the order\";}s:9:\"orderHash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Computed
  hash verifying the authenticity of the order\";}s:11:\"takerAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Taker
  amount in base units to fill from this order\";}}s:8:\"required\";a:7:{i:0;s:2:\"id\";i:1;s:11:\"dateCreated\";i:2;s:11:\"dateUpdated\";i:3;s:7:\"orderId\";i:4;s:7:\"quoteId\";i:5;s:9:\"orderHash\";i:6;s:11:\"takerAmount\";}s:4:\"type\";s:6:\"object\";}s:11:\"MarketQuote\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":18:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"Unique
  Identifier\";}s:11:\"dateCreated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:16:\"Date
  of creation\";}s:11:\"dateUpdated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"Date
  of updated\";}s:4:\"salt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Unique
  salt\";}s:3:\"hex\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Pre-calculated
  hex to sign\";}s:12:\"takerAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Order
  taker\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Computed
  average price\";}s:11:\"takerAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Total
  taker amount\";}s:11:\"makerAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Total
  maker amount\";}s:17:\"takerAssetAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Address
  of taker token\";}s:10:\"expiration\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:38:\"Expiration
  - unix timestamp in seconds\";}s:14:\"feeTokenSymbol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Symbol
  of the token used to pay fees\";}s:9:\"feeAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Amount
  of fees paid in wei\";}s:16:\"networkFeeAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Amount
  of fees paid to cover network fees in wei\";}s:5:\"state\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:69:\"State
  of the quote (Open [0], Expired [1], Invalid [2], Redeemed [3])\";}s:10:\"feeOrderId\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:28:\"ID
  of order used to pay fees\";s:10:\"x-nullable\";b:1;}s:8:\"feeOrder\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:19:\"#/definitions/Order\";s:11:\"description\";s:22:\"Order
  used to pay fees\";s:10:\"x-nullable\";b:1;}s:5:\"fills\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MarketQuoteFill\";}s:11:\"description\";s:19:\"Collection
  of fills\";}}s:8:\"required\";a:16:{i:0;s:2:\"id\";i:1;s:11:\"dateCreated\";i:2;s:11:\"dateUpdated\";i:3;s:4:\"salt\";i:4;s:3:\"hex\";i:5;s:12:\"takerAddress\";i:6;s:5:\"price\";i:7;s:11:\"takerAmount\";i:8;s:11:\"makerAmount\";i:9;s:17:\"takerAssetAddress\";i:10;s:10:\"expiration\";i:11;s:14:\"feeTokenSymbol\";i:12;s:9:\"feeAmount\";i:13;s:16:\"networkFeeAmount\";i:14;s:5:\"state\";i:15;s:5:\"fills\";}s:4:\"type\";s:6:\"object\";}s:10:\"IOrderFill\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"orderHash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Computed
  hash verifying the authenticity of the order\";}s:11:\"takerAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Taker
  amount in base units to fill from this order\";}}s:8:\"required\";a:2:{i:0;s:9:\"orderHash\";i:1;s:11:\"takerAmount\";}s:4:\"type\";s:6:\"object\";}s:19:\"IRequestFillRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"taker\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Account
  requesting the trade\";}s:5:\"fills\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/IOrderFill\";}s:11:\"description\";s:28:\"Collection
  of trade requests\";}}s:8:\"required\";a:2:{i:0;s:5:\"taker\";i:1;s:5:\"fills\";}s:4:\"type\";s:6:\"object\";}s:17:\"IMarketOrderQuote\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"quote\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MarketQuote\";}s:9:\"isPartial\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:32:\"Can
  only provide a partial quote\";}}s:8:\"required\";a:2:{i:0;s:5:\"quote\";i:1;s:9:\"isPartial\";}s:4:\"type\";s:6:\"object\";}s:27:\"IGetMarketOrderQuoteRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"takerAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Wallet
  address of intended taker\";}s:4:\"pair\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Token
  pair in BASE/QUOTE format\";}s:4:\"side\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"buy\";i:1;s:4:\"sell\";}s:11:\"description\";s:23:\"Trade
  side: buy or sell\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Quantity
  in wei of base token to buy/sell\";}}s:8:\"required\";a:4:{i:0;s:12:\"takerAddress\";i:1;s:4:\"pair\";i:2;s:4:\"side\";i:3;s:8:\"quantity\";}s:4:\"type\";s:6:\"object\";}s:39:\"IGetMarketOrderQuoteByPercentageRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"takerAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Wallet
  address of intended taker\";}s:4:\"pair\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Token
  pair in BASE/QUOTE format\";}s:4:\"side\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"buy\";i:1;s:4:\"sell\";}s:11:\"description\";s:27:\"Trade
  side: 'buy' or 'sell'\";}s:10:\"percentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:27:\"Percentage
  (integer, 1-100)\";}}s:8:\"required\";a:4:{i:0;s:12:\"takerAddress\";i:1;s:4:\"pair\";i:2;s:4:\"side\";i:3;s:10:\"percentage\";}s:4:\"type\";s:6:\"object\";}s:20:\"IGetReceiptsResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:4:\"page\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"perPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"records\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FillReceipt\";}}}s:8:\"required\";a:4:{i:0;s:5:\"total\";i:1;s:4:\"page\";i:2;s:7:\"perPage\";i:3;s:7:\"records\";}s:4:\"type\";s:6:\"object\";}s:15:\"ITradingViewLog\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:4:\"open\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:4:\"high\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:3:\"low\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"close\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:6:\"volume\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:10:\"x-nullable\";b:1;}}s:8:\"required\";a:5:{i:0;s:4:\"time\";i:1;s:4:\"open\";i:2;s:4:\"high\";i:3;s:3:\"low\";i:4;s:5:\"close\";}s:4:\"type\";s:6:\"object\";}s:15:\"TradeHistoryLog\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":31:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"Unique
  Identifier\";}s:11:\"dateCreated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:16:\"Date
  of creation\";}s:11:\"dateUpdated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"Date
  of updated\";}s:9:\"orderHash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Unique,
  generated hash representing 0x order\";}s:6:\"txHash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Transaction
  Hash\";}s:12:\"makerAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Address
  of order maker\";}s:12:\"takerAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Address
  of order taker\";}s:19:\"feeRecipientAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Address
  of order feeRecipient\";}s:17:\"makerAssetAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Address
  of maker token\";}s:16:\"makerTokenSymbol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Symbol
  of maker token\";}s:14:\"makerTokenName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of maker token\";}s:18:\"makerTokenDecimals\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"Decimals
  of maker token\";}s:18:\"makerTokenUsdPrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Unit
  price of maker token in USD\";}s:17:\"takerAssetAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Address
  of taker token\";}s:16:\"takerTokenSymbol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Symbol
  of taker token\";}s:14:\"takerTokenName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of taker token\";}s:18:\"takerTokenDecimals\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:18:\"takerTokenUsdPrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Unit
  price of taker token in USD\";}s:22:\"filledMakerTokenAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Base
  amount of maker token filled in trade\";}s:26:\"filledMakerTokenUnitAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"Unit
  amount of maker token filled in trade (adjusted for token decimals)\";}s:25:\"filledMakerTokenAmountUsd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"USD
  value of maker amount\";}s:22:\"filledTakerTokenAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Base
  amount of taker token filled in trade\";}s:26:\"filledTakerTokenUnitAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"Unit
  amount of taker token filled in trade (adjusted for token decimals)\";}s:25:\"filledTakerTokenAmountUsd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"USD
  value of taker amount\";}s:18:\"paidMakerFeeAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Base
  amount of ZRX fees collected from maker\";}s:22:\"paidMakerFeeUnitAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Unit
  amount of ZRX fees collected from maker\";}s:15:\"paidMakerFeeUsd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"USD
  value of maker fee\";}s:18:\"paidTakerFeeAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Base
  amount of ZRX fees collected from taker\";}s:22:\"paidTakerFeeUnitAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Unit
  amount of ZRX fees collected from taker\";}s:15:\"paidTakerFeeUsd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"USD
  value of taker fee\";}s:7:\"relayer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Name
  of originating relayer (if known)\";}}s:8:\"required\";a:31:{i:0;s:2:\"id\";i:1;s:11:\"dateCreated\";i:2;s:11:\"dateUpdated\";i:3;s:9:\"orderHash\";i:4;s:6:\"txHash\";i:5;s:12:\"makerAddress\";i:6;s:12:\"takerAddress\";i:7;s:19:\"feeRecipientAddress\";i:8;s:17:\"makerAssetAddress\";i:9;s:16:\"makerTokenSymbol\";i:10;s:14:\"makerTokenName\";i:11;s:18:\"makerTokenDecimals\";i:12;s:18:\"makerTokenUsdPrice\";i:13;s:17:\"takerAssetAddress\";i:14;s:16:\"takerTokenSymbol\";i:15;s:14:\"takerTokenName\";i:16;s:18:\"takerTokenDecimals\";i:17;s:18:\"takerTokenUsdPrice\";i:18;s:22:\"filledMakerTokenAmount\";i:19;s:26:\"filledMakerTokenUnitAmount\";i:20;s:25:\"filledMakerTokenAmountUsd\";i:21;s:22:\"filledTakerTokenAmount\";i:22;s:26:\"filledTakerTokenUnitAmount\";i:23;s:25:\"filledTakerTokenAmountUsd\";i:24;s:18:\"paidMakerFeeAmount\";i:25;s:22:\"paidMakerFeeUnitAmount\";i:26;s:15:\"paidMakerFeeUsd\";i:27;s:18:\"paidTakerFeeAmount\";i:28;s:22:\"paidTakerFeeUnitAmount\";i:29;s:15:\"paidTakerFeeUsd\";i:30;s:7:\"relayer\";}s:4:\"type\";s:6:\"object\";}s:28:\"IGetTradeHistoryLogsResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"page\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"perPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"pages\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:7:\"records\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TradeHistoryLog\";}}}s:8:\"required\";a:5:{i:0;s:4:\"page\";i:1;s:7:\"perPage\";i:2;s:5:\"pages\";i:3;s:5:\"total\";i:4;s:7:\"records\";}s:4:\"type\";s:6:\"object\";}}"
...
