---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:128:\"AWS
  X-Ray provides APIs for managing debug traces and retrieving service maps and other
  data created by processing those traces.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:9:\"AWS
  X-Ray\";s:7:\"version\";s:10:\"2016-04-12\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:88:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/xray-2016-04-12.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:4:\"xray\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"amazonaws_xray\";s:4:\"type\";s:7:\"openapi\";}}"
host: xray.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":77:{s:5:\"Alias\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"An
  alias for an edge.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  canonical name of the alias.\";}s:5:\"Names\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AliasNames\";s:11:\"description\";s:60:\"A
  list of names for the alias, including the canonical name.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  type of the alias.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"AliasList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Alias\";}s:4:\"type\";s:5:\"array\";}s:10:\"AliasNames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:13:\"AnnotationKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"AnnotationValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Value
  of a segment annotation. Has one of three value types: Number, Boolean or String.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"BooleanValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableBoolean\";s:11:\"description\";s:31:\"Value
  for a Boolean annotation.\";}s:11:\"NumberValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NullableDouble\";s:11:\"description\";s:30:\"Value
  for a Number annotation.\";}s:11:\"StringValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"Value
  for a String annotation.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Annotations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AnnotationKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ValuesWithServiceIds\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:23:\"BackendConnectionErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":6:{s:22:\"ConnectionRefusedCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:4:\"<p/>\";}s:16:\"HTTPCode4XXCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:4:\"<p/>\";}s:16:\"HTTPCode5XXCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:4:\"<p/>\";}s:10:\"OtherCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:4:\"<p/>\";}s:12:\"TimeoutCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:4:\"<p/>\";}s:16:\"UnknownHostCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:21:\"BatchGetTracesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"Pagination
  token. Not used.\";}s:8:\"TraceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TraceIdList\";s:11:\"description\";s:65:\"Specify
  the trace IDs of requests for which to retrieve segments.\";}}s:8:\"required\";a:1:{i:0;s:8:\"TraceIds\";}s:4:\"type\";s:6:\"object\";}s:20:\"BatchGetTracesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"Pagination
  token. Not used.\";}s:6:\"Traces\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TraceList\";s:11:\"description\";s:39:\"Full
  traces for the specified requests.\";}s:19:\"UnprocessedTraceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/UnprocessedTraceIdList\";s:11:\"description\";s:50:\"Trace
  IDs of requests that haven't been processed.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Double\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"EC2InstanceId\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:20;s:4:\"type\";s:6:\"string\";}s:4:\"Edge\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Information
  about a connection between two services.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"Aliases\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AliasList\";s:11:\"description\";s:21:\"Aliases
  for the edge.\";}s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:45:\"The
  end time of the last segment on the edge.\";}s:11:\"ReferenceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:52:\"Identifier
  of the edge. Unique within a service map.\";}s:21:\"ResponseTimeHistogram\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Histogram\";s:11:\"description\";s:69:\"A
  histogram that maps the spread of client response times on an edge.\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:48:\"The
  start time of the first segment on the edge.\";}s:17:\"SummaryStatistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/EdgeStatistics\";s:11:\"description\";s:45:\"Response
  statistics for segments on the edge.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"EdgeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Edge\";}s:4:\"type\";s:5:\"array\";}s:14:\"EdgeStatistics\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Response
  statistics for an edge.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"ErrorStatistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ErrorStatistics\";s:11:\"description\";s:75:\"Information
  about requests that failed with a 4xx Client Error status code.\";}s:15:\"FaultStatistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FaultStatistics\";s:11:\"description\";s:75:\"Information
  about requests that failed with a 5xx Server Error status code.\";}s:7:\"OkCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NullableLong\";s:11:\"description\";s:69:\"The
  number of requests that completed with a 2xx Success status code.\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NullableLong\";s:11:\"description\";s:39:\"The
  total number of completed requests.\";}s:17:\"TotalResponseTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NullableDouble\";s:11:\"description\";s:50:\"The
  aggregate response time of completed requests.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"EncryptionConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"A
  configuration document that specifies encryption configuration settings.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:75:\"The
  ID of the customer master key (CMK) used for encryption, if applicable.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EncryptionStatus\";s:11:\"description\";s:209:\"The
  encryption status. After modifying encryption configuration with <a>PutEncryptionConfig</a>,
  the status can be <code>UPDATING</code> for up to one hour before X-Ray starts encrypting
  data with the new key.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/EncryptionType\";s:11:\"description\";s:122:\"The
  type of encryption. Set to <code>KMS</code> for encryption with CMKs. Set to <code>NONE</code>
  for default encryption.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"EncryptionKeyId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:3000;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"EncryptionStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:8:\"UPDATING\";i:1;s:6:\"ACTIVE\";}s:4:\"type\";s:6:\"string\";}s:14:\"EncryptionType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"NONE\";i:1;s:3:\"KMS\";}s:4:\"type\";s:6:\"string\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ErrorStatistics\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Information
  about requests that failed with a 4xx Client Error status code.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"OtherCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NullableLong\";s:11:\"description\";s:80:\"The
  number of requests that failed with untracked 4xx Client Error status codes.\";}s:13:\"ThrottleCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NullableLong\";s:11:\"description\";s:69:\"The
  number of requests that failed with a 419 throttling status code.\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NullableLong\";s:11:\"description\";s:77:\"The
  total number of requests that failed with a 4xx Client Error status code.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"FaultStatistics\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Information
  about requests that failed with a 5xx Server Error status code.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"OtherCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NullableLong\";s:11:\"description\";s:80:\"The
  number of requests that failed with untracked 5xx Server Error status codes.\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NullableLong\";s:11:\"description\";s:77:\"The
  total number of requests that failed with a 5xx Server Error status code.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"FilterExpression\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2000;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:26:\"GetEncryptionConfigRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"GetEncryptionConfigResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"EncryptionConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EncryptionConfig\";s:11:\"description\";s:38:\"The
  encryption configuration document.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GetServiceGraphRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:56:\"The
  end of the time frame for which to generate a graph.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"Pagination
  token. Not used.\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:58:\"The
  start of the time frame for which to generate a graph.\";}}s:8:\"required\";a:2:{i:0;s:9:\"StartTime\";i:1;s:7:\"EndTime\";}s:4:\"type\";s:6:\"object\";}s:21:\"GetServiceGraphResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:60:\"The
  end of the time frame for which the graph was generated.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"Pagination
  token. Not used.\";}s:8:\"Services\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceList\";s:11:\"description\";s:82:\"The
  services that have processed a traced request during the specified time frame.\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:62:\"The
  start of the time frame for which the graph was generated.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GetTraceGraphRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"Pagination
  token. Not used.\";}s:8:\"TraceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TraceIdList\";s:11:\"description\";s:60:\"Trace
  IDs of requests for which to generate a service graph.\";}}s:8:\"required\";a:1:{i:0;s:8:\"TraceIds\";}s:4:\"type\";s:6:\"object\";}s:19:\"GetTraceGraphResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"Pagination
  token. Not used.\";}s:8:\"Services\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceList\";s:11:\"description\";s:63:\"The
  services that have processed one of the specified requests.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetTraceSummariesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:55:\"The
  end of the time frame for which to retrieve traces.\";}s:16:\"FilterExpression\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/FilterExpression\";s:11:\"description\";s:112:\"Specify
  a filter expression to retrieve trace summaries for services or requests that meet
  certain requirements.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:97:\"Specify
  the pagination token returned by a previous request to retrieve the next page of
  results.\";}s:8:\"Sampling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableBoolean\";s:11:\"description\";s:80:\"Set
  to <code>true</code> to get summaries for only a subset of available traces.\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:57:\"The
  start of the time frame for which to retrieve traces.\";}}s:8:\"required\";a:2:{i:0;s:9:\"StartTime\";i:1;s:7:\"EndTime\";}s:4:\"type\";s:6:\"object\";}s:23:\"GetTraceSummariesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"ApproximateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:39:\"The
  start time of this page of results.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:210:\"If
  the requested time frame contained more than one page of results, you can use this
  token to retrieve the next page. The first page contains the most most recent results,
  closest to the end of the time frame.\";}s:14:\"TraceSummaries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TraceSummaryList\";s:11:\"description\";s:78:\"Trace
  IDs and metadata for traces that were found in the specified time frame.\";}s:20:\"TracesProcessedCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NullableLong\";s:11:\"description\";s:106:\"The
  total number of traces processed, including traces that did not match the specified
  filter expression.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Histogram\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/HistogramEntry\";}s:4:\"type\";s:5:\"array\";}s:14:\"HistogramEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"An
  entry in a histogram for a statistic. A histogram maps the range of observed values
  on the X axis, and the prevalence of each value on the Y axis.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Count\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:28:\"The
  prevalence of the entry.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:23:\"The
  value of the entry.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Hostname\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:255;s:4:\"type\";s:6:\"string\";}s:4:\"Http\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Information
  about an HTTP request.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"ClientIp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  IP address of the requestor.\";}s:10:\"HttpMethod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:19:\"The
  request method.\";}s:10:\"HttpStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:20:\"The
  response status.\";}s:7:\"HttpURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:16:\"The
  request URL.\";}s:9:\"UserAgent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  request's user agent string.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"InvalidRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  request is missing required parameters or has invalid parameters.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:15:\"NullableBoolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"NullableDouble\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"NullableInteger\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"NullableLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:26:\"PutEncryptionConfigRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/EncryptionKeyId\";s:11:\"description\";s:627:\"<p>An
  AWS KMS customer master key (CMK) in one of the following formats:</p> <ul> <li>
  <p> <b>Alias</b> - The name of the key. For example, <code>alias/MyKey</code>.</p>
  </li> <li> <p> <b>Key ID</b> - The KMS key ID of the key. For example, <code>ae4aa6d49-a4d8-9df9-a475-4ff6d7898456</code>.</p>
  </li> <li> <p> <b>ARN</b> - The full Amazon Resource Name of the key ID or alias.
  For example, <code>arn:aws:kms:us-east-2:123456789012:key/ae4aa6d49-a4d8-9df9-a475-4ff6d7898456</code>.
  Use this format to specify a key in a different account.</p> </li> </ul> <p>Omit
  this key if you set <code>Type</code> to <code>NONE</code>.</p>\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/EncryptionType\";s:11:\"description\";s:132:\"The
  type of encryption. Set to <code>KMS</code> to use your own key for encryption.
  Set to <code>NONE</code> for default encryption.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Type\";}s:4:\"type\";s:6:\"object\";}s:25:\"PutEncryptionConfigResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"EncryptionConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EncryptionConfig\";s:11:\"description\";s:33:\"The
  new encryption configuration.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"PutTelemetryRecordsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"EC2InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EC2InstanceId\";s:11:\"description\";s:4:\"<p/>\";}s:8:\"Hostname\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Hostname\";s:11:\"description\";s:4:\"<p/>\";}s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:4:\"<p/>\";}s:16:\"TelemetryRecords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/TelemetryRecordList\";s:11:\"description\";s:4:\"<p/>\";}}s:8:\"required\";a:1:{i:0;s:16:\"TelemetryRecords\";}s:4:\"type\";s:6:\"object\";}s:25:\"PutTelemetryRecordsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"PutTraceSegmentsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"TraceSegmentDocuments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/TraceSegmentDocumentList\";s:11:\"description\";s:81:\"A
  string containing a JSON document defining one or more segments or subsegments.\";}}s:8:\"required\";a:1:{i:0;s:21:\"TraceSegmentDocuments\";}s:4:\"type\";s:6:\"object\";}s:22:\"PutTraceSegmentsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"UnprocessedTraceSegments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/UnprocessedTraceSegmentList\";s:11:\"description\";s:32:\"Segments
  that failed processing.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:500;s:4:\"type\";s:6:\"string\";}s:7:\"Segment\";O:8:\"stdClass\":3:{s:11:\"description\";s:494:\"<p>A
  segment from a trace that has been ingested by the X-Ray service. The segment can
  be compiled from documents uploaded with <a>PutTraceSegments</a>, or an <code>inferred</code>
  segment for a downstream service, generated from a subsegment sent by the service
  that called it.</p> <p>For the full segment document schema, see <a href=\"https://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html\">AWS
  X-Ray Segment Documents</a> in the <i>AWS X-Ray Developer Guide</i>.</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Document\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SegmentDocument\";s:11:\"description\";s:21:\"The
  segment document.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SegmentId\";s:11:\"description\";s:17:\"The
  segment's ID.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"SegmentDocument\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:9:\"SegmentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"SegmentList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Segment\";}s:4:\"type\";s:5:\"array\";}s:7:\"Service\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"Information
  about an application that processed requests, users that made requests, or downstream
  services, resources and applications that an application used.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"AccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:56:\"Identifier
  of the AWS account in which the service runs.\";}s:17:\"DurationHistogram\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Histogram\";s:11:\"description\";s:54:\"A
  histogram that maps the spread of service durations.\";}s:5:\"Edges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/EdgeList\";s:11:\"description\";s:35:\"Connections
  to downstream services.\";}s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:60:\"The
  end time of the last segment that the service generated.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"The
  canonical name of the service.\";}s:5:\"Names\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ServiceNames\";s:11:\"description\";s:62:\"A
  list of names for the service, including the canonical name.\";}s:11:\"ReferenceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:58:\"Identifier
  for the service. Unique within the service map.\";}s:21:\"ResponseTimeHistogram\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Histogram\";s:11:\"description\";s:59:\"A
  histogram that maps the spread of service response times.\";}s:4:\"Root\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableBoolean\";s:11:\"description\";s:70:\"Indicates
  that the service was the first service to process a request.\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:63:\"The
  start time of the first segment that the service generated.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:20:\"The
  service's state.\";}s:17:\"SummaryStatistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ServiceStatistics\";s:11:\"description\";s:38:\"Aggregated
  statistics for the service.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:642:\"<p>The
  type of service.</p> <ul> <li> <p>AWS Resource - The type of an AWS resource. For
  example, <code>AWS::EC2::Instance</code> for a application running on Amazon EC2
  or <code>AWS::DynamoDB::Table</code> for an Amazon DynamoDB table that the application
  used.</p> </li> <li> <p>AWS Service - The type of an AWS service. For example, <code>AWS::DynamoDB</code>
  for downstream calls to Amazon DynamoDB that didn't target a specific table.</p>
  </li> <li> <p> <code>client</code> - Represents the clients that sent requests to
  a root service.</p> </li> <li> <p> <code>remote</code> - A downstream service of
  indeterminate type.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ServiceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"AccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:4:\"<p/>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:4:\"<p/>\";}s:5:\"Names\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ServiceNames\";s:11:\"description\";s:4:\"<p/>\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ServiceIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ServiceId\";}s:4:\"type\";s:5:\"array\";}s:11:\"ServiceList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Service\";}s:4:\"type\";s:5:\"array\";}s:12:\"ServiceNames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:17:\"ServiceStatistics\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Response
  statistics for a service.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"ErrorStatistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ErrorStatistics\";s:11:\"description\";s:75:\"Information
  about requests that failed with a 4xx Client Error status code.\";}s:15:\"FaultStatistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FaultStatistics\";s:11:\"description\";s:75:\"Information
  about requests that failed with a 5xx Server Error status code.\";}s:7:\"OkCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NullableLong\";s:11:\"description\";s:69:\"The
  number of requests that completed with a 2xx Success status code.\";}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NullableLong\";s:11:\"description\";s:39:\"The
  total number of completed requests.\";}s:17:\"TotalResponseTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NullableDouble\";s:11:\"description\";s:50:\"The
  aggregate response time of completed requests.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"TelemetryRecord\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":6:{s:23:\"BackendConnectionErrors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/BackendConnectionErrors\";s:11:\"description\";s:4:\"<p/>\";}s:21:\"SegmentsReceivedCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:4:\"<p/>\";}s:21:\"SegmentsRejectedCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:4:\"<p/>\";}s:17:\"SegmentsSentCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:4:\"<p/>\";}s:22:\"SegmentsSpilloverCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableInteger\";s:11:\"description\";s:4:\"<p/>\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:4:\"<p/>\";}}s:8:\"required\";a:1:{i:0;s:9:\"Timestamp\";}s:4:\"type\";s:6:\"object\";}s:19:\"TelemetryRecordList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TelemetryRecord\";}s:4:\"type\";s:5:\"array\";}s:18:\"ThrottledException\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  request exceeds the maximum number of requests per second.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"Trace\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  collection of segment documents with matching trace IDs.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"Duration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NullableDouble\";s:11:\"description\";s:125:\"The
  length of time in seconds between the start time of the root segment and the end
  time of the last segment that completed.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TraceId\";s:11:\"description\";s:90:\"The
  unique identifier for the request that generated the trace's segments and subsegments.\";}s:8:\"Segments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SegmentList\";s:11:\"description\";s:75:\"Segment
  documents for the segments and subsegments that comprise the trace.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"TraceId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:35;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"TraceIdList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TraceId\";}s:4:\"type\";s:5:\"array\";}s:9:\"TraceList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Trace\";}s:4:\"type\";s:5:\"array\";}s:20:\"TraceSegmentDocument\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"TraceSegmentDocumentList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TraceSegmentDocument\";}s:4:\"type\";s:5:\"array\";}s:12:\"TraceSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Metadata
  generated from the segment documents in a trace.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"Annotations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Annotations\";s:11:\"description\";s:47:\"Annotations
  from the trace's segment documents.\";}s:8:\"Duration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NullableDouble\";s:11:\"description\";s:125:\"The
  length of time in seconds between the start time of the root segment and the end
  time of the last segment that completed.\";}s:8:\"HasError\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableBoolean\";s:11:\"description\";s:60:\"One
  or more of the segment documents has a 400 series error.\";}s:8:\"HasFault\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableBoolean\";s:11:\"description\";s:60:\"One
  or more of the segment documents has a 500 series error.\";}s:11:\"HasThrottle\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableBoolean\";s:11:\"description\";s:64:\"One
  or more of the segment documents has a 429 throttling error.\";}s:4:\"Http\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Http\";s:11:\"description\";s:55:\"Information
  about the HTTP request served by the trace.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TraceId\";s:11:\"description\";s:90:\"The
  unique identifier for the request that generated the trace's segments and subsegments.\";}s:9:\"IsPartial\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NullableBoolean\";s:11:\"description\";s:52:\"One
  or more of the segment documents is in progress.\";}s:12:\"ResponseTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NullableDouble\";s:11:\"description\";s:294:\"The
  length of time in seconds between the start and end times of the root segment. If
  the service performs work asynchronously, the response time measures the time before
  the response is sent to the user, while the duration measures the amount of time
  before the last traced activity completes.\";}s:10:\"ServiceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServiceIds\";s:11:\"description\";s:47:\"Service
  IDs from the trace's segment documents.\";}s:5:\"Users\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TraceUsers\";s:11:\"description\";s:41:\"Users
  from the trace's segment documents.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"TraceSummaryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TraceSummary\";}s:4:\"type\";s:5:\"array\";}s:9:\"TraceUser\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Information
  about a user recorded in segment documents.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ServiceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServiceIds\";s:11:\"description\";s:37:\"Services
  that the user's request hit.\";}s:8:\"UserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:16:\"The
  user's name.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TraceUsers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TraceUser\";}s:4:\"type\";s:5:\"array\";}s:22:\"UnprocessedTraceIdList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TraceId\";}s:4:\"type\";s:5:\"array\";}s:23:\"UnprocessedTraceSegment\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Information
  about a segment that failed processing.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:41:\"The
  error that caused processing to fail.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:17:\"The
  segment's ID.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:18:\"The
  error message.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"UnprocessedTraceSegmentList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/UnprocessedTraceSegment\";}s:4:\"type\";s:5:\"array\";}s:19:\"ValueWithServiceIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Information
  about a segment annotation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"AnnotationValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AnnotationValue\";s:11:\"description\";s:25:\"Values
  of the annotation.\";}s:10:\"ServiceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ServiceIds\";s:11:\"description\";s:41:\"Services
  to which the annotation applies.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ValuesWithServiceIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ValueWithServiceIds\";}s:4:\"type\";s:5:\"array\";}}"
...
