---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:26:\"AWS
  Elemental MediaConvert\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:26:\"AWS
  Elemental MediaConvert\";s:7:\"version\";s:10:\"2017-08-29\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:96:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mediaconvert-2017-08-29.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:12:\"mediaconvert\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"amazonaws_mediaconvert\";s:4:\"type\";s:7:\"openapi\";}}"
host: mediaconvert.amazonaws.com
basePath: /
paths:
  /2017-08-29/endpoints:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Send an request with an empty body to the regional API endpoint
        to get your account API endpoint.
      operationId: DescribeEndpoints
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeEndpointsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndpointsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /2017-08-29/jobTemplates:
    get:
      description: Retrieve a JSON array of up to twenty of your job templates. This
        will return the templates themselves, not just a list of them. To retrieve
        the next twenty templates, use the nextToken string returned with the array
      operationId: ListJobTemplates
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListJobTemplatesRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListJobTemplatesResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Create a new job template. For information about job templates
        see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html
      operationId: CreateJobTemplate
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateJobTemplateRequest'
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/CreateJobTemplateResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /2017-08-29/jobTemplates/{name}:
    delete:
      description: Permanently delete a job template you have created.
      operationId: DeleteJobTemplate
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteJobTemplateRequest'
      - in: path
        name: name
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/DeleteJobTemplateResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    get:
      description: Retrieve the JSON for a specific job template.
      operationId: GetJobTemplate
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetJobTemplateRequest'
      - in: path
        name: name
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetJobTemplateResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Modify one of your existing job templates.
      operationId: UpdateJobTemplate
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateJobTemplateRequest'
      - in: path
        name: name
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateJobTemplateResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /2017-08-29/jobs:
    get:
      description: Retrieve a JSON array of up to twenty of your most recently created
        jobs. This array includes in-process, completed, and errored jobs. This will
        return the jobs themselves, not just a list of the jobs. To retrieve the twenty
        next most recent jobs, use the nextToken string returned with the array.
      operationId: ListJobs
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListJobsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListJobsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Create a new transcoding job. For information about jobs and job
        settings, see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html
      operationId: CreateJob
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateJobRequest'
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/CreateJobResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /2017-08-29/jobs/{id}:
    delete:
      description: Permanently remove a job from a queue. Once you have canceled a
        job, you can't start it again. You can't delete a running job.
      operationId: CancelJob
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CancelJobRequest'
      - in: path
        name: id
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/CancelJobResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    get:
      description: Retrieve the JSON for a specific completed transcoding job.
      operationId: GetJob
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetJobRequest'
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetJobResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2017-08-29/presets:
    get:
      description: Retrieve a JSON array of up to twenty of your presets. This will
        return the presets themselves, not just a list of them. To retrieve the next
        twenty presets, use the nextToken string returned with the array.
      operationId: ListPresets
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListPresetsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListPresetsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Create a new preset. For information about job templates see the
        User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html
      operationId: CreatePreset
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreatePresetRequest'
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/CreatePresetResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /2017-08-29/presets/{name}:
    delete:
      description: Permanently delete a preset you have created.
      operationId: DeletePreset
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeletePresetRequest'
      - in: path
        name: name
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/DeletePresetResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    get:
      description: Retrieve the JSON for a specific preset.
      operationId: GetPreset
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetPresetRequest'
      - in: path
        name: name
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetPresetResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Modify one of your existing presets.
      operationId: UpdatePreset
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdatePresetRequest'
      - in: path
        name: name
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdatePresetResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /2017-08-29/queues:
    get:
      description: Retrieve a JSON array of up to twenty of your queues. This will
        return the queues themselves, not just a list of them. To retrieve the next
        twenty queues, use the nextToken string returned with the array.
      operationId: ListQueues
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListQueuesRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListQueuesResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Create a new transcoding queue. For information about job templates
        see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html
      operationId: CreateQueue
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateQueueRequest'
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/CreateQueueResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /2017-08-29/queues/{name}:
    delete:
      description: Permanently delete a queue you have created.
      operationId: DeleteQueue
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteQueueRequest'
      - in: path
        name: name
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/DeleteQueueResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    get:
      description: Retrieve the JSON for a specific queue.
      operationId: GetQueue
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetQueueRequest'
      - in: path
        name: name
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetQueueResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Modify one of your existing queues.
      operationId: UpdateQueue
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateQueueRequest'
      - in: path
        name: name
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateQueueResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        485:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":478:{s:33:\"AacAudioDescriptionBroadcasterMix\";O:8:\"stdClass\":3:{s:11:\"description\";s:665:\"Choose
  BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description
  (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to
  downstream systems that this stream contains \"broadcaster mixed AD\". Note that
  the input received by the encoder must contain pre-mixed audio; the encoder does
  not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores
  any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when
  the input does not contain pre-mixed audio + audio description (AD). In this case,
  the encoder will use any values you provide for AudioType and FollowInputAudioType.\";s:4:\"enum\";a:2:{i:0;s:20:\"BROADCASTER_MIXED_AD\";i:1;s:6:\"NORMAL\";}s:4:\"type\";s:6:\"string\";}s:15:\"AacCodecProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"AAC
  Profile.\";s:4:\"enum\";a:3:{i:0;s:2:\"LC\";i:1;s:4:\"HEV1\";i:2;s:4:\"HEV2\";}s:4:\"type\";s:6:\"string\";}s:13:\"AacCodingMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:344:\"Mono
  (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on
  rate control mode and profile. \"1.0 - Audio Description (Receiver Mix)\" setting
  receives a stereo description plus control track and emits a mono AAC encode of
  the description track, with control data emitted in the PES header as per ETSI TS
  101 154 Annex E.\";s:4:\"enum\";a:5:{i:0;s:15:\"AD_RECEIVER_MIX\";i:1;s:15:\"CODING_MODE_1_0\";i:2;s:15:\"CODING_MODE_1_1\";i:3;s:15:\"CODING_MODE_2_0\";i:4;s:15:\"CODING_MODE_5_1\";}s:4:\"type\";s:6:\"string\";}s:18:\"AacRateControlMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Rate
  Control Mode.\";s:4:\"enum\";a:2:{i:0;s:3:\"CBR\";i:1;s:3:\"VBR\";}s:4:\"type\";s:6:\"string\";}s:12:\"AacRawFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"Enables
  LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must
  choose \"No container\" for the output container.\";s:4:\"enum\";a:2:{i:0;s:9:\"LATM_LOAS\";i:1;s:4:\"NONE\";}s:4:\"type\";s:6:\"string\";}s:11:\"AacSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:479:\"Required
  when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC.
  The service accepts one of two mutually exclusive groups of AAC settings--VBR and
  CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode)
  to \"VBR\" or \"CBR\".  In VBR mode, you control the audio quality with the setting
  VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults
  and valid values depend on the rate control mode.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:30:\"AudioDescriptionBroadcasterMix\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/AacAudioDescriptionBroadcasterMix\";}s:7:\"Bitrate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/__integerMin6000Max1024000\";s:11:\"description\";s:98:\"Average
  bitrate in bits/second. Defaults and valid values depend on rate control mode and
  profile.\";}s:12:\"CodecProfile\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AacCodecProfile\";}s:10:\"CodingMode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AacCodingMode\";}s:15:\"RateControlMode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AacRateControlMode\";}s:9:\"RawFormat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AacRawFormat\";}s:10:\"SampleRate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/__integerMin8000Max96000\";s:11:\"description\";s:72:\"Sample
  rate in Hz. Valid values depend on rate control mode and profile.\";}s:13:\"Specification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AacSpecification\";}s:10:\"VbrQuality\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AacVbrQuality\";}}s:8:\"required\";a:2:{i:0;s:10:\"CodingMode\";i:1;s:10:\"SampleRate\";}s:4:\"type\";s:6:\"object\";}s:16:\"AacSpecification\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Use
  MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.\";s:4:\"enum\";a:2:{i:0;s:5:\"MPEG2\";i:1;s:5:\"MPEG4\";}s:4:\"type\";s:6:\"string\";}s:13:\"AacVbrQuality\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"VBR
  Quality Level - Only used if rate_control_mode is VBR.\";s:4:\"enum\";a:4:{i:0;s:3:\"LOW\";i:1;s:10:\"MEDIUM_LOW\";i:2;s:11:\"MEDIUM_HIGH\";i:3;s:4:\"HIGH\";}s:4:\"type\";s:6:\"string\";}s:16:\"Ac3BitstreamMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"Specifies
  the \"Bitstream Mode\" (bsmod) for the emitted AC-3 stream. See ATSC A/52-2012 for
  background on these values.\";s:4:\"enum\";a:8:{i:0;s:13:\"COMPLETE_MAIN\";i:1;s:10:\"COMMENTARY\";i:2;s:8:\"DIALOGUE\";i:3;s:9:\"EMERGENCY\";i:4;s:16:\"HEARING_IMPAIRED\";i:5;s:17:\"MUSIC_AND_EFFECTS\";i:6;s:17:\"VISUALLY_IMPAIRED\";i:7;s:10:\"VOICE_OVER\";}s:4:\"type\";s:6:\"string\";}s:13:\"Ac3CodingMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Dolby
  Digital coding mode. Determines number of channels.\";s:4:\"enum\";a:4:{i:0;s:15:\"CODING_MODE_1_0\";i:1;s:15:\"CODING_MODE_1_1\";i:2;s:15:\"CODING_MODE_2_0\";i:3;s:19:\"CODING_MODE_3_2_LFE\";}s:4:\"type\";s:6:\"string\";}s:33:\"Ac3DynamicRangeCompressionProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"If
  set to FILM_STANDARD, adds dynamic range compression signaling to the output bitstream
  as defined in the Dolby Digital specification.\";s:4:\"enum\";a:2:{i:0;s:13:\"FILM_STANDARD\";i:1;s:4:\"NONE\";}s:4:\"type\";s:6:\"string\";}s:12:\"Ac3LfeFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Applies
  a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE
  coding mode.\";s:4:\"enum\";a:2:{i:0;s:7:\"ENABLED\";i:1;s:8:\"DISABLED\";}s:4:\"type\";s:6:\"string\";}s:18:\"Ac3MetadataControl\";O:8:\"stdClass\":3:{s:11:\"description\";s:226:\"When
  set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE
  decoder that supplied this audio data. If audio was not supplied from one of these
  streams, then the static metadata settings will be used.\";s:4:\"enum\";a:2:{i:0;s:12:\"FOLLOW_INPUT\";i:1;s:14:\"USE_CONFIGURED\";}s:4:\"type\";s:6:\"string\";}s:11:\"Ac3Settings\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Required
  when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"Bitrate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/__integerMin64000Max640000\";s:11:\"description\";s:73:\"Average
  bitrate in bits/second. Valid bitrates depend on the coding mode.\";}s:13:\"BitstreamMode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Ac3BitstreamMode\";}s:10:\"CodingMode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Ac3CodingMode\";}s:8:\"Dialnorm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__integerMin1Max31\";s:11:\"description\";s:109:\"Sets
  the dialnorm for the output. If blank and input audio is Dolby Digital, dialnorm
  will be passed through.\";}s:30:\"DynamicRangeCompressionProfile\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/Ac3DynamicRangeCompressionProfile\";}s:9:\"LfeFilter\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Ac3LfeFilter\";}s:15:\"MetadataControl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Ac3MetadataControl\";}s:10:\"SampleRate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/__integerMin48000Max48000\";s:11:\"description\";s:47:\"Sample
  rate in hz. Sample rate is always 48000.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"AfdSignaling\";O:8:\"stdClass\":3:{s:11:\"description\";s:427:\"This
  setting only applies to H.264 and MPEG2 outputs. Use Insert AFD signaling (AfdSignaling)
  to specify whether the service includes AFD values in the output video data and
  what those values are. * Choose None to remove all AFD values from this output.
  * Choose Fixed to ignore input AFD values and instead encode the value specified
  in the job. * Choose Auto to calculate output AFD values based on the input AFD
  scaler data.\";s:4:\"enum\";a:3:{i:0;s:4:\"NONE\";i:1;s:4:\"AUTO\";i:2;s:5:\"FIXED\";}s:4:\"type\";s:6:\"string\";}s:12:\"AiffSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Required
  when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"BitDepth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__integerMin16Max24\";s:11:\"description\";s:102:\"Specify
  Bit depth (BitDepth), in bits per sample, to choose the encoding quality for this
  audio track.\";}s:8:\"Channels\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/__integerMin1Max2\";s:11:\"description\";s:206:\"Set
  Channels to specify the number of channels in this output audio track. Choosing
  Mono in the console will give you 1 output channel; choosing Stereo will give you
  2. In the API, valid values are 1 and 2.\";}s:10:\"SampleRate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/__integerMin8000Max192000\";s:11:\"description\";s:18:\"Sample
  rate in hz.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"AncillarySourceSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Settings
  for ancillary captions source.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:28:\"SourceAncillaryChannelNumber\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/__integerMin1Max4\";s:11:\"description\";s:116:\"Specifies
  the 608 channel number in the ancillary data track from which to extract captions.
  Unused for passthrough.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"AntiAlias\";O:8:\"stdClass\":3:{s:11:\"description\";s:159:\"Enable
  Anti-alias (AntiAlias) to enhance sharp edges in video output when your input resolution
  is much larger than your output resolution. Default is enabled.\";s:4:\"enum\";a:2:{i:0;s:8:\"DISABLED\";i:1;s:7:\"ENABLED\";}s:4:\"type\";s:6:\"string\";}s:10:\"AudioCodec\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Type
  of Audio codec.\";s:4:\"enum\";a:7:{i:0;s:3:\"AAC\";i:1;s:3:\"MP2\";i:2;s:3:\"WAV\";i:3;s:4:\"AIFF\";i:4;s:3:\"AC3\";i:5;s:4:\"EAC3\";i:6;s:11:\"PASSTHROUGH\";}s:4:\"type\";s:6:\"string\";}s:18:\"AudioCodecSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:462:\"Audio
  codec settings (CodecSettings) under (AudioDescriptions) contains the group of settings
  related to audio encoding. The settings in this group vary depending on the value
  you choose for Audio codec (Codec). For each codec enum you choose, define the corresponding
  settings object. The following lists the codec enum, settings object pairs. * AAC,
  AacSettings * MP2, Mp2Settings * WAV, WavSettings * AIFF, AiffSettings * AC3, Ac3Settings
  * EAC3, Eac3Settings\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"AacSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AacSettings\";}s:11:\"Ac3Settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Ac3Settings\";}s:12:\"AiffSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AiffSettings\";}s:5:\"Codec\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AudioCodec\";}s:12:\"Eac3Settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Eac3Settings\";}s:11:\"Mp2Settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Mp2Settings\";}s:11:\"WavSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/WavSettings\";}}s:8:\"required\";a:1:{i:0;s:5:\"Codec\";}s:4:\"type\";s:6:\"object\";}s:21:\"AudioDefaultSelection\";O:8:\"stdClass\":3:{s:11:\"description\";s:225:\"Enable
  this setting on one audio selector to set it as the default for the job. The service
  uses this default for outputs where it can't find the specified input audio. If
  you don't set a default, those outputs have no audio.\";s:4:\"enum\";a:2:{i:0;s:7:\"DEFAULT\";i:1;s:11:\"NOT_DEFAULT\";}s:4:\"type\";s:6:\"string\";}s:16:\"AudioDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Description
  of audio output\";s:10:\"properties\";O:8:\"stdClass\":9:{s:26:\"AudioNormalizationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/AudioNormalizationSettings\";}s:15:\"AudioSourceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:729:\"Specifies
  which audio data to use from each input. In the simplest case, specify an \"Audio
  Selector\":#inputs-audio_selector by name based on its order within each input.
  For example if you specify \"Audio Selector 3\", then the third audio selector will
  be used from each input. If an input does not have an \"Audio Selector 3\", then
  the audio selector marked as \"default\" in that input will be used. If there is
  no audio selector marked as \"default\", silence will be inserted for the duration
  of that input. Alternatively, an \"Audio Selector Group\":#inputs-audio_selector_group
  name may be specified, with similar default/silence behavior. If no audio_source_name
  is specified, then \"Audio Selector 1\" will be chosen automatically.\";}s:9:\"AudioType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__integerMin0Max255\";s:11:\"description\";s:243:\"Applies
  only if Follow Input Audio Type is unchecked (false). A number between 0 and 255.
  The following are defined in ISO-IEC 13818-1: 0 = Undefined, 1 = Clean Effects,
  2 = Hearing Impaired, 3 = Visually Impaired Commentary, 4-255 = Reserved.\";}s:16:\"AudioTypeControl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AudioTypeControl\";}s:13:\"CodecSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AudioCodecSettings\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:287:\"Indicates
  the language of the audio output track. The ISO 639 language specified in the 'Language
  Code' drop down will be used when 'Follow Input Language Code' is not selected or
  when 'Follow Input Language Code' is selected but there is no ISO 639 language code
  specified by the input.\";}s:19:\"LanguageCodeControl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AudioLanguageCodeControl\";}s:13:\"RemixSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RemixSettings\";s:11:\"description\";s:33:\"Advanced
  audio remixing settings.\";}s:10:\"StreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/__stringPatternWS\";s:11:\"description\";s:182:\"Used
  for MS Smooth and Apple HLS outputs. Indicates the name displayed by the player
  (eg. English, or Director Commentary). Alphanumeric characters, spaces, and underscore
  are legal.\";}}s:8:\"required\";a:1:{i:0;s:13:\"CodecSettings\";}s:4:\"type\";s:6:\"object\";}s:24:\"AudioLanguageCodeControl\";O:8:\"stdClass\":3:{s:11:\"description\";s:303:\"Choosing
  FOLLOW_INPUT will cause the ISO 639 language code of the output to follow the ISO
  639 language code of the input. The language specified for languageCode' will be
  used when USE_CONFIGURED is selected or when FOLLOW_INPUT is selected but there
  is no ISO 639 language code specified by the input.\";s:4:\"enum\";a:2:{i:0;s:12:\"FOLLOW_INPUT\";i:1;s:14:\"USE_CONFIGURED\";}s:4:\"type\";s:6:\"string\";}s:27:\"AudioNormalizationAlgorithm\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"Audio
  normalization algorithm to use. 1770-1 conforms to the CALM Act specification, 1770-2
  conforms to the EBU R-128 specification.\";s:4:\"enum\";a:2:{i:0;s:13:\"ITU_BS_1770_1\";i:1;s:13:\"ITU_BS_1770_2\";}s:4:\"type\";s:6:\"string\";}s:34:\"AudioNormalizationAlgorithmControl\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"When
  enabled the output audio is corrected using the chosen algorithm. If disabled, the
  audio will be measured but not adjusted.\";s:4:\"enum\";a:2:{i:0;s:13:\"CORRECT_AUDIO\";i:1;s:12:\"MEASURE_ONLY\";}s:4:\"type\";s:6:\"string\";}s:33:\"AudioNormalizationLoudnessLogging\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"If
  set to LOG, log each output's audio track loudness to a CSV file.\";s:4:\"enum\";a:2:{i:0;s:3:\"LOG\";i:1;s:8:\"DONT_LOG\";}s:4:\"type\";s:6:\"string\";}s:33:\"AudioNormalizationPeakCalculation\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"If
  set to TRUE_PEAK, calculate and log the TruePeak for each output's audio track loudness.\";s:4:\"enum\";a:2:{i:0;s:9:\"TRUE_PEAK\";i:1;s:4:\"NONE\";}s:4:\"type\";s:6:\"string\";}s:26:\"AudioNormalizationSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Advanced
  audio normalization settings.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"Algorithm\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/AudioNormalizationAlgorithm\";}s:16:\"AlgorithmControl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/AudioNormalizationAlgorithmControl\";}s:19:\"CorrectionGateLevel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/__integerMinNegative70Max0\";s:11:\"description\";s:188:\"Content
  measuring above this level will be corrected to the target level. Content measuring
  below this level will not be corrected. Gating only applies when not using real_time_correction.\";}s:15:\"LoudnessLogging\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/AudioNormalizationLoudnessLogging\";}s:15:\"PeakCalculation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/AudioNormalizationPeakCalculation\";}s:10:\"TargetLkfs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/__doubleMinNegative59Max0\";s:11:\"description\";s:255:\"Target
  LKFS(loudness) to adjust volume to. If no value is entered, a default value will
  be used according to the chosen algorithm. The CALM Act (1770-1) recommends a target
  of -24 LKFS. The EBU R-128 specification (1770-2) recommends a target of -23 LKFS.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AudioSelector\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Selector
  for Audio\";s:10:\"properties\";O:8:\"stdClass\":9:{s:16:\"DefaultSelection\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AudioDefaultSelection\";}s:22:\"ExternalAudioFileInput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:314:\"#/definitions/__stringPatternS3MM2VVMMPPEEGGAAVVIIMMPP4FFLLVVMMPPTTMMPPGGMM4VVTTRRPPFF4VVMM2TTSSTTSS264HH264MMKKVVMMOOVVMMTTSSMM2TTWWMMVVAASSFFVVOOBB3GGPP3GGPPPPMMXXFFDDIIVVXXXXVVIIDDRRAAWWDDVVGGXXFFMM1VV3GG2VVMMFFMM3UU8LLCCHHGGXXFFMMPPEEGG2MMXXFFMMPPEEGG2MMXXFFHHDDWWAAVVYY4MMAAAACCAAIIFFFFMMPP2AACC3EECC3DDTTSSEE\";s:11:\"description\";s:50:\"Specifies
  audio data from an external file source.\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:61:\"Selects
  a specific language code from within an audio source.\";}s:6:\"Offset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:57:\"#/definitions/__integerMinNegative2147483648Max2147483647\";s:11:\"description\";s:80:\"Specifies
  a time delta in milliseconds to offset the audio from the input video.\";}s:4:\"Pids\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/__listOf__integerMin1Max2147483647\";s:11:\"description\";s:80:\"Selects
  a specific PID from within an audio source (e.g. 257 selects PID 0x101).\";}s:16:\"ProgramSelection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/__integerMin0Max8\";s:11:\"description\";s:633:\"Use
  this setting for input streams that contain Dolby E, to have the service extract
  specific program data from the track. To select multiple programs, create multiple
  selectors with the same Track and different Program numbers. In the console, this
  setting is visible when you set Selector type to Track. Choose the program number
  from the dropdown list. If you are sending a JSON file, provide the program ID,
  which is part of the audio metadata. If your input file has incorrect metadata,
  you can choose All channels instead of a program number to have the service ignore
  the program IDs and include all the programs in the track.\";}s:13:\"RemixSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RemixSettings\";s:11:\"description\";s:178:\"Use
  these settings to reorder the audio channels of one input to match those of another
  input. This allows you to combine the two files into a single output, one after
  the other.\";}s:12:\"SelectorType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AudioSelectorType\";}s:6:\"Tracks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/__listOf__integerMin1Max2147483647\";s:11:\"description\";s:410:\"Identify
  a track from the input audio to include in this selector by entering the track index
  number. To include several tracks in a single audio selector, specify multiple tracks
  as follows. Using the console, enter a comma-separated list. For examle, type \"1,2,3\"
  to include tracks 1 through 3. Specifying directly in your JSON job file, provide
  the track numbers in an array. For example, \"tracks\": [1,2,3].\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AudioSelectorGroup\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Group
  of Audio Selectors\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"AudioSelectorNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/__listOf__stringMin1\";s:11:\"description\";s:280:\"Name
  of an Audio Selector within the same input to include in the group.  Audio selector
  names are standardized, based on their order within the input (e.g., \"Audio Selector
  1\").  The audio selector name parameter can be repeated to add any number of audio
  selectors to the group.\";}}s:8:\"required\";a:1:{i:0;s:18:\"AudioSelectorNames\";}s:4:\"type\";s:6:\"object\";}s:17:\"AudioSelectorType\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Specifies
  the type of the audio selector.\";s:4:\"enum\";a:3:{i:0;s:3:\"PID\";i:1;s:5:\"TRACK\";i:2;s:13:\"LANGUAGE_CODE\";}s:4:\"type\";s:6:\"string\";}s:16:\"AudioTypeControl\";O:8:\"stdClass\":3:{s:11:\"description\";s:394:\"When
  set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value
  is passed through to the output. If the input contains no ISO 639 audio_type, the
  value in Audio Type is included in the output. Otherwise the value in Audio Type
  is included in the output. Note that this field and audioType are both ignored if
  audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.\";s:4:\"enum\";a:2:{i:0;s:12:\"FOLLOW_INPUT\";i:1;s:14:\"USE_CONFIGURED\";}s:4:\"type\";s:6:\"string\";}s:13:\"AvailBlanking\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Settings
  for Avail Blanking\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"AvailBlankingImage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/__stringMin14PatternS3BmpBMPPngPNG\";s:11:\"description\";s:94:\"Blanking
  image to be used. Leave empty for solid black. Only bmp and png images are supported.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"BadRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"The
  service can't process your request because of a problem in the request. Please check
  your request form and syntax.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"BurninDestinationSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Burn-In
  Destination Settings.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:9:\"Alignment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/BurninSubtitleAlignment\";}s:15:\"BackgroundColor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/BurninSubtitleBackgroundColor\";}s:17:\"BackgroundOpacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__integerMin0Max255\";s:11:\"description\";s:210:\"Specifies
  the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving
  this parameter blank is equivalent to setting it to 0 (transparent). All burn-in
  and DVB-Sub font settings must match.\";}s:9:\"FontColor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/BurninSubtitleFontColor\";}s:11:\"FontOpacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__integerMin0Max255\";s:11:\"description\";s:131:\"Specifies
  the opacity of the burned-in captions. 255 is opaque; 0 is transparent.\nAll burn-in
  and DVB-Sub font settings must match.\";}s:14:\"FontResolution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/__integerMin96Max600\";s:11:\"description\";s:108:\"Font
  resolution in DPI (dots per inch); default is 96 dpi.\nAll burn-in and DVB-Sub font
  settings must match.\";}s:8:\"FontSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__integerMin0Max96\";s:11:\"description\";s:153:\"A
  positive integer indicates the exact font size in points. Set to 0 for automatic
  font size selection. All burn-in and DVB-Sub font settings must match.\";}s:12:\"OutlineColor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/BurninSubtitleOutlineColor\";}s:11:\"OutlineSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__integerMin0Max10\";s:11:\"description\";s:244:\"Specifies
  font outline size in pixels. This option is not valid for source captions that are
  either 608/embedded or teletext. These source settings are already pre-defined by
  the caption stream. All burn-in and DVB-Sub font settings must match.\";}s:11:\"ShadowColor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/BurninSubtitleShadowColor\";}s:13:\"ShadowOpacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__integerMin0Max255\";s:11:\"description\";s:196:\"Specifies
  the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter
  blank is equivalent to setting it to 0 (transparent). All burn-in and DVB-Sub font
  settings must match.\";}s:13:\"ShadowXOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:57:\"#/definitions/__integerMinNegative2147483648Max2147483647\";s:11:\"description\";s:199:\"Specifies
  the horizontal offset of the shadow relative to the captions in pixels. A value
  of -2 would result in a shadow offset 2 pixels to the left. All burn-in and DVB-Sub
  font settings must match.\";}s:13:\"ShadowYOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:57:\"#/definitions/__integerMinNegative2147483648Max2147483647\";s:11:\"description\";s:200:\"Specifies
  the vertical offset of the shadow relative to the captions in pixels. A value of
  -2 would result in a shadow offset 2 pixels above the text. All burn-in and DVB-Sub
  font settings must match.\";}s:15:\"TeletextSpacing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/BurninSubtitleTeletextSpacing\";}s:9:\"XPosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/__integerMin0Max2147483647\";s:11:\"description\";s:512:\"Specifies
  the horizontal position of the caption relative to the left side of the output in
  pixels. A value of 10 would result in the captions starting 10 pixels from the left
  of the output. If no explicit x_position is provided, the horizontal caption position
  will be determined by the alignment parameter. This option is not valid for source
  captions that are STL, 608/embedded or teletext. These source settings are already
  pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.\";}s:9:\"YPosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/__integerMin0Max2147483647\";s:11:\"description\";s:489:\"Specifies
  the vertical position of the caption relative to the top of the output in pixels.
  A value of 10 would result in the captions starting 10 pixels from the top of the
  output. If no explicit y_position is provided, the caption will be positioned towards
  the bottom of the output. This option is not valid for source captions that are
  STL, 608/embedded or teletext. These source settings are already pre-defined by
  the caption stream. All burn-in and DVB-Sub font settings must match.\";}}s:8:\"required\";a:4:{i:0;s:12:\"OutlineColor\";i:1;s:9:\"Alignment\";i:2;s:11:\"OutlineSize\";i:3;s:11:\"FontOpacity\";}s:4:\"type\";s:6:\"object\";}s:23:\"BurninSubtitleAlignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:596:\"If
  no explicit x_position or y_position is provided, setting alignment to centered
  will place the captions at the bottom center of the output. Similarly, setting a
  left alignment will align captions to the bottom left of the output. If x and y
  positions are given in conjunction with the alignment parameter, the font will be
  justified (either left or centered) relative to those coordinates. This option is
  not valid for source captions that are STL, 608/embedded or teletext. These source
  settings are already pre-defined by the caption stream. All burn-in and DVB-Sub
  font settings must match.\";s:4:\"enum\";a:2:{i:0;s:8:\"CENTERED\";i:1;s:4:\"LEFT\";}s:4:\"type\";s:6:\"string\";}s:29:\"BurninSubtitleBackgroundColor\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Specifies
  the color of the rectangle behind the captions.\nAll burn-in and DVB-Sub font settings
  must match.\";s:4:\"enum\";a:3:{i:0;s:4:\"NONE\";i:1;s:5:\"BLACK\";i:2;s:5:\"WHITE\";}s:4:\"type\";s:6:\"string\";}s:23:\"BurninSubtitleFontColor\";O:8:\"stdClass\":3:{s:11:\"description\";s:250:\"Specifies
  the color of the burned-in captions. This option is not valid for source captions
  that are STL, 608/embedded or teletext. These source settings are already pre-defined
  by the caption stream. All burn-in and DVB-Sub font settings must match.\";s:4:\"enum\";a:6:{i:0;s:5:\"WHITE\";i:1;s:5:\"BLACK\";i:2;s:6:\"YELLOW\";i:3;s:3:\"RED\";i:4;s:5:\"GREEN\";i:5;s:4:\"BLUE\";}s:4:\"type\";s:6:\"string\";}s:26:\"BurninSubtitleOutlineColor\";O:8:\"stdClass\":3:{s:11:\"description\";s:235:\"Specifies
  font outline color. This option is not valid for source captions that are either
  608/embedded or teletext. These source settings are already pre-defined by the caption
  stream. All burn-in and DVB-Sub font settings must match.\";s:4:\"enum\";a:6:{i:0;s:5:\"BLACK\";i:1;s:5:\"WHITE\";i:2;s:6:\"YELLOW\";i:3;s:3:\"RED\";i:4;s:5:\"GREEN\";i:5;s:4:\"BLUE\";}s:4:\"type\";s:6:\"string\";}s:25:\"BurninSubtitleShadowColor\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Specifies
  the color of the shadow cast by the captions.\nAll burn-in and DVB-Sub font settings
  must match.\";s:4:\"enum\";a:3:{i:0;s:4:\"NONE\";i:1;s:5:\"BLACK\";i:2;s:5:\"WHITE\";}s:4:\"type\";s:6:\"string\";}s:29:\"BurninSubtitleTeletextSpacing\";O:8:\"stdClass\":3:{s:11:\"description\";s:374:\"Only
  applies to jobs with input captions in Teletext or STL formats. Specify whether
  the spacing between letters in your captions is set by the captions grid or varies
  depending on letter width. Choose fixed grid to conform to the spacing specified
  in the captions file more accurately. Choose proportional to make the text easier
  to read if the captions are closed caption.\";s:4:\"enum\";a:2:{i:0;s:10:\"FIXED_GRID\";i:1;s:12:\"PROPORTIONAL\";}s:4:\"type\";s:6:\"string\";}s:16:\"CancelJobRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"CancelJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"CaptionDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Description
  of Caption output\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"CaptionSelectorName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/__stringMin1\";s:11:\"description\";s:239:\"Specifies
  which \"Caption Selector\":#inputs-caption_selector to use from each input when
  generating captions. The name should be of the format \"Caption Selector <N>\",
  which denotes that the Nth Caption Selector will be used from each input.\";}s:19:\"DestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CaptionDestinationSettings\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:51:\"Indicates
  the language of the caption output track.\";}s:19:\"LanguageDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:155:\"Human
  readable information to indicate captions available for players (eg. English, or
  Spanish). Alphanumeric characters, spaces, and underscore are legal.\";}}s:8:\"required\";a:2:{i:0;s:19:\"DestinationSettings\";i:1;s:19:\"CaptionSelectorName\";}s:4:\"type\";s:6:\"object\";}s:24:\"CaptionDescriptionPreset\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Caption
  Description for preset\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"DestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CaptionDestinationSettings\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:51:\"Indicates
  the language of the caption output track.\";}s:19:\"LanguageDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:155:\"Human
  readable information to indicate captions available for players (eg. English, or
  Spanish). Alphanumeric characters, spaces, and underscore are legal.\";}}s:8:\"required\";a:1:{i:0;s:19:\"DestinationSettings\";}s:4:\"type\";s:6:\"object\";}s:26:\"CaptionDestinationSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:162:\"Specific
  settings required by destination type. Note that burnin_destination_settings are
  not available if the source of the caption data is Embedded or Teletext.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:25:\"BurninDestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/BurninDestinationSettings\";}s:15:\"DestinationType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/CaptionDestinationType\";}s:25:\"DvbSubDestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/DvbSubDestinationSettings\";}s:22:\"SccDestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/SccDestinationSettings\";}s:27:\"TeletextDestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/TeletextDestinationSettings\";}s:23:\"TtmlDestinationSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/TtmlDestinationSettings\";}}s:8:\"required\";a:1:{i:0;s:15:\"DestinationType\";}s:4:\"type\";s:6:\"object\";}s:22:\"CaptionDestinationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Type
  of Caption output, including Burn-In, Embedded, SCC, SRT, TTML, WebVTT, DVB-Sub,
  Teletext.\";s:4:\"enum\";a:8:{i:0;s:7:\"BURN_IN\";i:1;s:7:\"DVB_SUB\";i:2;s:8:\"EMBEDDED\";i:3;s:3:\"SCC\";i:4;s:3:\"SRT\";i:5;s:8:\"TELETEXT\";i:6;s:4:\"TTML\";i:7;s:6:\"WEBVTT\";}s:4:\"type\";s:6:\"string\";}s:15:\"CaptionSelector\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"Set
  up captions in your outputs by first selecting them from your input here.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:427:\"The
  specific language to extract from source. If input is SCTE-27, complete this field
  and/or PID to select the caption language to extract. If input is DVB-Sub and output
  is Burn-in or SMPTE-TT, complete this field and/or PID to select the caption language
  to extract. If input is DVB-Sub that is being passed through, omit this field (and
  PID field); there is no way to extract a specific language with pass-through captions.\";}s:14:\"SourceSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CaptionSourceSettings\";}}s:8:\"required\";a:1:{i:0;s:14:\"SourceSettings\";}s:4:\"type\";s:6:\"object\";}s:21:\"CaptionSourceSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:90:\"Source
  settings (SourceSettings) contains the group of settings for captions in the input.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:23:\"AncillarySourceSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/AncillarySourceSettings\";}s:20:\"DvbSubSourceSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DvbSubSourceSettings\";}s:22:\"EmbeddedSourceSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/EmbeddedSourceSettings\";}s:18:\"FileSourceSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FileSourceSettings\";}s:10:\"SourceType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CaptionSourceType\";}s:22:\"TeletextSourceSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TeletextSourceSettings\";}}s:8:\"required\";a:1:{i:0;s:10:\"SourceType\";}s:4:\"type\";s:6:\"object\";}s:17:\"CaptionSourceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"Use
  Source (SourceType) to identify the format of your input captions.  The service
  cannot auto-detect caption format.\";s:4:\"enum\";a:9:{i:0;s:9:\"ANCILLARY\";i:1;s:7:\"DVB_SUB\";i:2;s:8:\"EMBEDDED\";i:3;s:3:\"SCC\";i:4;s:4:\"TTML\";i:5;s:3:\"STL\";i:6;s:3:\"SRT\";i:7;s:8:\"TELETEXT\";i:8;s:11:\"NULL_SOURCE\";}s:4:\"type\";s:6:\"string\";}s:14:\"ChannelMapping\";O:8:\"stdClass\":4:{s:11:\"description\";s:298:\"Channel
  mapping (ChannelMapping) contains the group of fields that hold the remixing value
  for each channel. Units are in dB. Acceptable values are within the range from -60
  (mute) through 6. A setting of 0 passes the input channel unchanged to the output
  channel (no attenuation or amplification).\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"OutputChannels\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/__listOfOutputChannelMapping\";s:11:\"description\";s:23:\"List
  of output channels\";}}s:8:\"required\";a:1:{i:0;s:14:\"OutputChannels\";}s:4:\"type\";s:6:\"object\";}s:15:\"CmafClientCache\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"When
  set to ENABLED, sets #EXT-X-ALLOW-CACHE:no tag, which prevents client from saving
  media segments for later replay.\";s:4:\"enum\";a:2:{i:0;s:8:\"DISABLED\";i:1;s:7:\"ENABLED\";}s:4:\"type\";s:6:\"string\";}s:22:\"CmafCodecSpecification\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"Specification
  to use (RFC-6381 or the default RFC-4281) during m3u8 playlist generation.\";s:4:\"enum\";a:2:{i:0;s:8:\"RFC_6381\";i:1;s:8:\"RFC_4281\";}s:4:\"type\";s:6:\"string\";}s:22:\"CmafEncryptionSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Settings
  for CMAF encryption\";s:10:\"properties\";O:8:\"stdClass\":5:{s:28:\"ConstantInitializationVector\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/__stringMin32Max32Pattern09aFAF32\";s:11:\"description\";s:182:\"This
  is a 128-bit, 16-byte hex value represented by a 32-character text string. If this
  parameter is not set then the Initialization Vector will follow the segment number
  by default.\";}s:16:\"EncryptionMethod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CmafEncryptionType\";}s:30:\"InitializationVectorInManifest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/CmafInitializationVectorInManifest\";}s:17:\"StaticKeyProvider\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StaticKeyProvider\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/CmafKeyProviderType\";}}s:8:\"required\";a:2:{i:0;s:4:\"Type\";i:1;s:17:\"StaticKeyProvider\";}s:4:\"type\";s:6:\"object\";}s:18:\"CmafEncryptionType\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"Encrypts
  the segments with the given encryption scheme. Leave blank to disable. Selecting
  'Disabled' in the web interface also disables encryption.\";s:4:\"enum\";a:1:{i:0;s:10:\"SAMPLE_AES\";}s:4:\"type\";s:6:\"string\";}s:17:\"CmafGroupSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"Required
  when you set (Type) under (OutputGroups)>(OutputGroupSettings) to CMAF_GROUP_SETTINGS.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:7:\"BaseUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:174:\"A
  partial URI prefix that will be put in the manifest file at the top level BaseURL
  element. Can be used if streams are delivered from a different URL than the manifest
  file.\";}s:11:\"ClientCache\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CmafClientCache\";}s:18:\"CodecSpecification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/CmafCodecSpecification\";}s:11:\"Destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/__stringPatternS3\";s:11:\"description\";s:326:\"Use
  Destination (Destination) to specify the S3 output location and the output filename
  base. Destination accepts format identifiers. If you do not specify the base filename
  in the URI, the service will use the filename of the input file. If your job has
  multiple inputs, the service uses the filename of the first input file.\";}s:10:\"Encryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/CmafEncryptionSettings\";s:11:\"description\";s:13:\"DRM
  settings.\";}s:14:\"FragmentLength\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/__integerMin1Max2147483647\";s:11:\"description\";s:400:\"Length
  of fragments to generate (in seconds). Fragment length must be compatible with GOP
  size and Framerate. Note that fragments will end on the next keyframe after this
  number of seconds, so actual fragment length may be longer. When Emit Single File
  is checked, the fragmentation is internal to a single output file and it does not
  cause the creation of many output files as in other output types.\";}s:19:\"ManifestCompression\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CmafManifestCompression\";}s:22:\"ManifestDurationFormat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CmafManifestDurationFormat\";}s:13:\"MinBufferTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/__integerMin0Max2147483647\";s:11:\"description\";s:81:\"Minimum
  time of initially buffered media that is needed to ensure smooth playout.\";}s:14:\"SegmentControl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CmafSegmentControl\";}s:13:\"SegmentLength\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/__integerMin1Max2147483647\";s:11:\"description\";s:595:\"Use
  this setting to specify the length, in seconds, of each individual CMAF segment.
  This value applies to the whole package; that is, to every output in the output
  group. Note that segments end on the first keyframe after this number of seconds,
  so the actual segment length might be slightly longer. If you set Segment control
  (CmafSegmentControl) to single file, the service puts the content of each output
  in a single file that has metadata that marks these segments. If you set it to segmented
  files, the service creates multiple files for each output, each with the content
  of one segment.\";}s:19:\"StreamInfResolution\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CmafStreamInfResolution\";}s:17:\"WriteDashManifest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CmafWriteDASHManifest\";}s:16:\"WriteHlsManifest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CmafWriteHLSManifest\";}}s:8:\"required\";a:2:{i:0;s:14:\"FragmentLength\";i:1;s:13:\"SegmentLength\";}s:4:\"type\";s:6:\"object\";}s:34:\"CmafInitializationVectorInManifest\";O:8:\"stdClass\":3:{s:11:\"description\";s:225:\"The
  Initialization Vector is a 128-bit number used in conjunction with the key for encrypting
  blocks. If set to INCLUDE, Initialization Vector is listed in the manifest. Otherwise
  Initialization Vector is not in the manifest.\";s:4:\"enum\";a:2:{i:0;s:7:\"INCLUDE\";i:1;s:7:\"EXCLUDE\";}s:4:\"type\";s:6:\"string\";}s:19:\"CmafKeyProviderType\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Indicates
  which type of key provider is used for encryption.\";s:4:\"enum\";a:1:{i:0;s:10:\"STATIC_KEY\";}s:4:\"type\";s:6:\"string\";}s:23:\"CmafManifestCompression\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"When
  set to GZIP, compresses HLS playlist.\";s:4:\"enum\";a:2:{i:0;s:4:\"GZIP\";i:1;s:4:\"NONE\";}s:4:\"type\";s:6:\"string\";}s:26:\"CmafManifestDurationFormat\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Indicates
  whether the output manifest should use floating point values for segment duration.\";s:4:\"enum\";a:2:{i:0;s:14:\"FLOATING_POINT\";i:1;s:7:\"INTEGER\";}s:4:\"type\";s:6:\"string\";}s:18:\"CmafSegmentControl\";O:8:\"stdClass\":3:{s:11:\"description\";s:204:\"When
  set to SINGLE_FILE, a single output file is generated, which is internally segmented
  using the Fragment Length and Segment Length. When set to SEGMENTED_FILES, separate
  segment files will be created.\";s:4:\"enum\";a:2:{i:0;s:11:\"SINGLE_FILE\";i:1;s:15:\"SEGMENTED_FILES\";}s:4:\"type\";s:6:\"string\";}s:23:\"CmafStreamInfResolution\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Include
  or exclude RESOLUTION attribute for video in EXT-X-STREAM-INF tag of variant manifest.\";s:4:\"enum\";a:2:{i:0;s:7:\"INCLUDE\";i:1;s:7:\"EXCLUDE\";}s:4:\"type\";s:6:\"string\";}s:21:\"CmafWriteDASHManifest\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"When
  set to ENABLED, a DASH MPD manifest will be generated for this output.\";s:4:\"enum\";a:2:{i:0;s:8:\"DISABLED\";i:1;s:7:\"ENABLED\";}s:4:\"type\";s:6:\"string\";}s:20:\"CmafWriteHLSManifest\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"When
  set to ENABLED, an Apple HLS manifest will be generated for this output.\";s:4:\"enum\";a:2:{i:0;s:8:\"DISABLED\";i:1;s:7:\"ENABLED\";}s:4:\"type\";s:6:\"string\";}s:14:\"ColorCorrector\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Settings
  for color correction.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"Brightness\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__integerMin1Max100\";s:11:\"description\";s:17:\"Brightness
  level.\";}s:20:\"ColorSpaceConversion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ColorSpaceConversion\";}s:8:\"Contrast\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__integerMin1Max100\";s:11:\"description\";s:15:\"Contrast
  level.\";}s:13:\"Hdr10Metadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Hdr10Metadata\";}s:3:\"Hue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/__integerMinNegative180Max180\";s:11:\"description\";s:15:\"Hue
  in degrees.\";}s:10:\"Saturation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__integerMin1Max100\";s:11:\"description\";s:17:\"Saturation
  level.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ColorMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"Enable
  Insert color metadata (ColorMetadata) to include color metadata in this output.
  This setting is enabled by default.\";s:4:\"enum\";a:2:{i:0;s:6:\"IGNORE\";i:1;s:6:\"INSERT\";}s:4:\"type\";s:6:\"string\";}s:10:\"ColorSpace\";O:8:\"stdClass\":3:{s:11:\"description\";s:613:\"If
  your input video has accurate color space metadata, or if you don't know about color
  space, leave this set to the default value FOLLOW. The service will automatically
  detect your input color space. If your input video has metadata indicating the wrong
  color space, or if your input video is missing color space metadata that should
  be there, specify the accurate color space here. If you choose HDR10, you can also
  correct inaccurate color space coefficients, using the HDR master display information
  controls. You must also set Color space usage (ColorSpaceUsage) to FORCE for the
  service to use these values.\";s:4:\"enum\";a:5:{i:0;s:6:\"FOLLOW\";i:1;s:7:\"REC_601\";i:2;s:7:\"REC_709\";i:3;s:5:\"HDR10\";i:4;s:8:\"HLG_2020\";}s:4:\"type\";s:6:\"string\";}s:20:\"ColorSpaceConversion\";O:8:\"stdClass\":3:{s:11:\"description\";s:328:\"Determines
  if colorspace conversion will be performed. If set to _None_, no conversion will
  be performed. If _Force 601_ or _Force 709_ are selected, conversion will be performed
  for inputs with differing colorspaces. An input's colorspace can be specified explicitly
  in the \"Video Selector\":#inputs-video_selector if necessary.\";s:4:\"enum\";a:5:{i:0;s:4:\"NONE\";i:1;s:9:\"FORCE_601\";i:2;s:9:\"FORCE_709\";i:3;s:11:\"FORCE_HDR10\";i:4;s:14:\"FORCE_HLG_2020\";}s:4:\"type\";s:6:\"string\";}s:15:\"ColorSpaceUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:530:\"There
  are two sources for color metadata, the input file and the job configuration (in
  the Color space and HDR master display informaiton settings). The Color space usage
  setting controls which takes precedence. FORCE: The system will use color metadata
  supplied by user, if any. If the user does not supply color metadata, the system
  will use data from the source. FALLBACK: The system will use color metadata from
  the source. If source has no color metadata, the system will use user-supplied color
  metadata values if available.\";s:4:\"enum\";a:2:{i:0;s:5:\"FORCE\";i:1;s:8:\"FALLBACK\";}s:4:\"type\";s:6:\"string\";}s:17:\"ConflictException\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  service could not complete your request because there is a conflict with the current
  state of the resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ContainerSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Container
  specific settings.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"Container\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContainerType\";}s:11:\"F4vSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/F4vSettings\";}s:12:\"M2tsSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/M2tsSettings\";}s:12:\"M3u8Settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/M3u8Settings\";}s:11:\"MovSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MovSettings\";}s:11:\"Mp4Settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Mp4Settings\";}}s:8:\"required\";a:1:{i:0;s:9:\"Container\";}s:4:\"type\";s:6:\"object\";}s:13:\"ContainerType\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Container
  for this output. Some containers require a container settings object. If not specified,
  the default object will be created.\";s:4:\"enum\";a:10:{i:0;s:3:\"F4V\";i:1;s:4:\"ISMV\";i:2;s:4:\"M2TS\";i:3;s:4:\"M3U8\";i:4;s:4:\"CMFC\";i:5;s:3:\"MOV\";i:6;s:3:\"MP4\";i:7;s:3:\"MPD\";i:8;s:3:\"MXF\";i:9;s:3:\"RAW\";}s:4:\"type\";s:6:\"string\";}s:16:\"CreateJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:42:\"Idempotency
  token for CreateJob operation.\";}s:11:\"JobTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:109:\"When
  you create a job, you can either specify a job template or specify the transcoding
  settings individually\";}s:5:\"Queue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:246:\"Optional.
  When you create a job, you can specify a queue to send it to. If you don't specify,
  the job will go to the default queue. For more about queues, see the User Guide
  topic at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html.\";}s:4:\"Role\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:195:\"Required.
  The IAM role you use for creating this job. For details about permissions, see the
  User Guide topic at the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/iam-role.html.\";}s:8:\"Settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/JobSettings\";}s:12:\"UserMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/__mapOf__string\";s:11:\"description\";s:115:\"User-defined
  metadata that you want to associate with an MediaConvert job. You specify metadata
  in key/value pairs.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Role\";i:1;s:8:\"Settings\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"Job\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CreateJobTemplateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"Category\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:58:\"Optional.
  A category for the job template you are creating\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:61:\"Optional.
  A description of the job template you are creating.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:46:\"The
  name of the job template you are creating.\";}s:5:\"Queue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:135:\"Optional.
  The queue that jobs created from this template are assigned to. If you don't specify
  this, jobs will go to the default queue.\";}s:8:\"Settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/JobTemplateSettings\";}}s:8:\"required\";a:2:{i:0;s:8:\"Settings\";i:1;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:25:\"CreateJobTemplateResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"JobTemplate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/JobTemplate\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreatePresetRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"Category\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:53:\"Optional.
  A category for the preset you are creating.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:55:\"Optional.
  A description of the preset you are creating.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:40:\"The
  name of the preset you are creating.\";}s:8:\"Settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PresetSettings\";}}s:8:\"required\";a:2:{i:0;s:8:\"Settings\";i:1;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreatePresetResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Preset\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Preset\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateQueueRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:54:\"Optional.
  A description of the queue you are creating.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:39:\"The
  name of the queue you are creating.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateQueueResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Queue\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Queue\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DashIsoEncryptionSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Specifies
  DRM settings for DASH outputs.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"SpekeKeyProvider\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/SpekeKeyProvider\";}}s:8:\"required\";a:1:{i:0;s:16:\"SpekeKeyProvider\";}s:4:\"type\";s:6:\"object\";}s:20:\"DashIsoGroupSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:99:\"Required
  when you set (Type) under (OutputGroups)>(OutputGroupSettings) to DASH_ISO_GROUP_SETTINGS.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"BaseUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:181:\"A
  partial URI prefix that will be put in the manifest (.mpd) file at the top level
  BaseURL element. Can be used if streams are delivered from a different URL than
  the manifest file.\";}s:11:\"Destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/__stringPatternS3\";s:11:\"description\";s:326:\"Use
  Destination (Destination) to specify the S3 output location and the output filename
  base. Destination accepts format identifiers. If you do not specify the base filename
  in the URI, the service will use the filename of the input file. If your job has
  multiple inputs, the service uses the filename of the first input file.\";}s:10:\"Encryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/DashIsoEncryptionSettings\";s:11:\"description\";s:13:\"DRM
  settings.\";}s:14:\"FragmentLength\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/__integerMin1Max2147483647\";s:11:\"description\";s:400:\"Length
  of fragments to generate (in seconds). Fragment length must be compatible with GOP
  size and Framerate. Note that fragments will end on the next keyframe after this
  number of seconds, so actual fragment length may be longer. When Emit Single File
  is checked, the fragmentation is internal to a single output file and it does not
  cause the creation of many output files as in other output types.\";}s:15:\"HbbtvCompliance\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DashIsoHbbtvCompliance\";}s:13:\"MinBufferTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/__integerMin0Max2147483647\";s:11:\"description\";s:81:\"Minimum
  time of initially buffered media that is needed to ensure smooth playout.\";}s:14:\"SegmentControl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DashIsoSegmentControl\";}s:13:\"SegmentLength\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/__integerMin1Max2147483647\";s:11:\"description\";s:334:\"Length
  of mpd segments to create (in seconds). Note that segments will end on the next
  keyframe after this number of seconds, so actual segment length may be longer. When
  Emit Single File is checked, the segmentation is internal to a single output file
  and it does not cause the creation of many output files as in other output types.\";}}s:8:\"required\";a:2:{i:0;s:13:\"SegmentLength\";i:1;s:14:\"FragmentLength\";}s:4:\"type\";s:6:\"object\";}s:22:\"DashIsoHbbtvCompliance\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Supports
  HbbTV specification as indicated\";s:4:\"enum\";a:2:{i:0;s:9:\"HBBTV_1_5\";i:1;s:4:\"NONE\";}s:4:\"type\";s:6:\"string\";}s:21:\"DashIsoSegmentControl\";O:8:\"stdClass\":3:{s:11:\"description\";s:204:\"When
  set to SINGLE_FILE, a single output file is generated, which is internally segmented
  using the Fragment Length and Segment Length. When set to SEGMENTED_FILES, separate
  segment files will be created.\";s:4:\"enum\";a:2:{i:0;s:11:\"SINGLE_FILE\";i:1;s:15:\"SEGMENTED_FILES\";}s:4:\"type\";s:6:\"string\";}s:20:\"DeinterlaceAlgorithm\";O:8:\"stdClass\":3:{s:11:\"description\";s:363:\"Only
  applies when you set Deinterlacer (DeinterlaceMode) to Deinterlace (DEINTERLACE)
  or Adaptive (ADAPTIVE). Motion adaptive interpolate (INTERPOLATE) produces sharper
  pictures, while blend (BLEND) produces smoother motion. Use (INTERPOLATE_TICKER)
  OR (BLEND_TICKER) if your source file includes a ticker, such as a scrolling headline
  at the bottom of the frame.\";s:4:\"enum\";a:4:{i:0;s:11:\"INTERPOLATE\";i:1;s:18:\"INTERPOLATE_TICKER\";i:2;s:5:\"BLEND\";i:3;s:12:\"BLEND_TICKER\";}s:4:\"type\";s:6:\"string\";}s:12:\"Deinterlacer\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Settings
  for deinterlacer\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"Algorithm\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DeinterlaceAlgorithm\";}s:7:\"Control\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DeinterlacerControl\";}s:4:\"Mode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DeinterlacerMode\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DeinterlacerControl\";O:8:\"stdClass\":3:{s:11:\"description\";s:588:\"-
  When set to NORMAL (default), the deinterlacer does not convert frames that are
  tagged  in metadata as progressive. It will only convert those that are tagged as
  some other type. - When set to FORCE_ALL_FRAMES, the deinterlacer converts every
  frame to progressive - even those that are already tagged as progressive. Turn Force
  mode on only if there is  a good chance that the metadata has tagged frames as progressive
  when they are not  progressive. Do not turn on otherwise; processing frames that
  are already progressive  into progressive will probably result in lower quality
  video.\";s:4:\"enum\";a:2:{i:0;s:16:\"FORCE_ALL_FRAMES\";i:1;s:6:\"NORMAL\";}s:4:\"type\";s:6:\"string\";}s:16:\"DeinterlacerMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:283:\"Use
  Deinterlacer (DeinterlaceMode) to choose how the service will do deinterlacing.
  Default is Deinterlace. - Deinterlace converts interlaced to progressive. - Inverse
  telecine converts Hard Telecine 29.97i to progressive 23.976p. - Adaptive auto-detects
  and converts to progressive.\";s:4:\"enum\";a:3:{i:0;s:11:\"DEINTERLACE\";i:1;s:16:\"INVERSE_TELECINE\";i:2;s:8:\"ADAPTIVE\";}s:4:\"type\";s:6:\"string\";}s:24:\"DeleteJobTemplateRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteJobTemplateResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeletePresetRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DeletePresetResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteQueueRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteQueueResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeEndpointsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"DescribeEndpointsRequest\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:83:\"Optional.
  Max number of endpoints, up to twenty, that will be returned at one time.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:106:\"Use
  this string, provided with the response to a previous request, to request the next
  batch of endpoints.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeEndpointsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"Endpoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOfEndpoint\";s:11:\"description\";s:17:\"List
  of endpoints\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:55:\"Use
  this string to request the next batch of endpoints.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DropFrameTimecode\";O:8:\"stdClass\":3:{s:11:\"description\";s:303:\"Applies
  only to 29.97 fps outputs. When this feature is enabled, the service will use drop-frame
  timecode on outputs. If it is not possible to use drop-frame timecode, the system
  will fall back to non-drop-frame. This setting is enabled by default when Timecode
  insertion (TimecodeInsertion) is enabled.\";s:4:\"enum\";a:2:{i:0;s:8:\"DISABLED\";i:1;s:7:\"ENABLED\";}s:4:\"type\";s:6:\"string\";}s:14:\"DvbNitSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"Inserts
  DVB Network Information Table (NIT) at the specified table repetition interval.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"NetworkId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/__integerMin0Max65535\";s:11:\"description\";s:64:\"The
  numeric value placed in the Network Information Table (NIT).\";}s:11:\"NetworkName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__stringMin1Max256\";s:11:\"description\";s:131:\"The
  network name text placed in the network_name_descriptor inside the Network Information
  Table. Maximum length is 256 characters.\";}s:11:\"NitInterval\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/__integerMin25Max10000\";s:11:\"description\";s:90:\"The
  number of milliseconds between instances of this table in the output transport stream.\";}}s:8:\"required\";a:3:{i:0;s:11:\"NetworkName\";i:1;s:11:\"NitInterval\";i:2;s:9:\"NetworkId\";}s:4:\"type\";s:6:\"object\";}s:14:\"DvbSdtSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Inserts
  DVB Service Description Table (NIT) at the specified table repetition interval.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"OutputSdt\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OutputSdt\";}s:11:\"SdtInterval\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/__integerMin25Max2000\";s:11:\"description\";s:90:\"The
  number of milliseconds between instances of this table in the output transport stream.\";}s:11:\"ServiceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__stringMin1Max256\";s:11:\"description\";s:117:\"The
  service name placed in the service_descriptor in the Service Description Table.
  Maximum length is 256 characters.\";}s:19:\"ServiceProviderName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__stringMin1Max256\";s:11:\"description\";s:126:\"The
  service provider name placed in the service_descriptor in the Service Description
  Table. Maximum length is 256 characters.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DvbSubDestinationSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"DVB-Sub
  Destination Settings\";s:10:\"properties\";O:8:\"stdClass\":16:{s:9:\"Alignment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DvbSubtitleAlignment\";}s:15:\"BackgroundColor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/DvbSubtitleBackgroundColor\";}s:17:\"BackgroundOpacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__integerMin0Max255\";s:11:\"description\";s:210:\"Specifies
  the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving
  this parameter blank is equivalent to setting it to 0 (transparent). All burn-in
  and DVB-Sub font settings must match.\";}s:9:\"FontColor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DvbSubtitleFontColor\";}s:11:\"FontOpacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__integerMin0Max255\";s:11:\"description\";s:131:\"Specifies
  the opacity of the burned-in captions. 255 is opaque; 0 is transparent.\nAll burn-in
  and DVB-Sub font settings must match.\";}s:14:\"FontResolution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/__integerMin96Max600\";s:11:\"description\";s:108:\"Font
  resolution in DPI (dots per inch); default is 96 dpi.\nAll burn-in and DVB-Sub font
  settings must match.\";}s:8:\"FontSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__integerMin0Max96\";s:11:\"description\";s:153:\"A
  positive integer indicates the exact font size in points. Set to 0 for automatic
  font size selection. All burn-in and DVB-Sub font settings must match.\";}s:12:\"OutlineColor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/DvbSubtitleOutlineColor\";}s:11:\"OutlineSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__integerMin0Max10\";s:11:\"description\";s:244:\"Specifies
  font outline size in pixels. This option is not valid for source captions that are
  either 608/embedded or teletext. These source settings are already pre-defined by
  the caption stream. All burn-in and DVB-Sub font settings must match.\";}s:11:\"ShadowColor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DvbSubtitleShadowColor\";}s:13:\"ShadowOpacity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__integerMin0Max255\";s:11:\"description\";s:196:\"Specifies
  the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter
  blank is equivalent to setting it to 0 (transparent). All burn-in and DVB-Sub font
  settings must match.\";}s:13:\"ShadowXOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:57:\"#/definitions/__integerMinNegative2147483648Max2147483647\";s:11:\"description\";s:199:\"Specifies
  the horizontal offset of the shadow relative to the captions in pixels. A value
  of -2 would result in a shadow offset 2 pixels to the left. All burn-in and DVB-Sub
  font settings must match.\";}s:13:\"ShadowYOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:57:\"#/definitions/__integerMinNegative2147483648Max2147483647\";s:11:\"description\";s:200:\"Specifies
  the vertical offset of the shadow relative to the captions in pixels. A value of
  -2 would result in a shadow offset 2 pixels above the text. All burn-in and DVB-Sub
[...]
