---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:98:\"Learn more about
  home mortgage data, download the data yourself, or build new tools using our API.\";s:5:\"title\";s:40:\"The
  Consumer Financial Protection Bureau\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"financial\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:38:\"http://cfpb.github.io/img/logo_210.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:40:\"https://api.consumerfinance.gov/api-docs\";s:7:\"version\";s:3:\"1.2\";}}s:14:\"x-providerName\";s:19:\"consumerfinance.gov\";s:11:\"x-preferred\";b:1;}"
host: api.consumerfinance.gov:443
basePath: /
paths:
  /data:
    get:
      operationId: getDatasets
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: No response was specified
      summary: Get a list of all datasets.
      tags:
      - data
  /data/hmda:
    get:
      operationId: getDatasetHmda
      produces:
      - application/json
      - application/xml
      - text/javascript
      responses:
        200:
          description: No response was specified
      summary: Get metadata for this dataset.
      tags:
      - hmda
  /data/hmda/concept/{concept}:
    get:
      operationId: getConceptHmda
      parameters:
      - description: Name of concept
        in: path
        name: concept
        required: true
        type: string
      produces:
      - application/json
      - application/xml
      - text/javascript
      responses:
        200:
          description: No response was specified
      summary: Get information about a particular concept in this dataset.
      tags:
      - hmda
  /data/hmda/slice/{slice}:
    get:
      operationId: querySliceHmda
      parameters:
      - description: Name of slice
        in: path
        name: slice
        required: true
        type: string
      - description: Fields to return, separated by commas.
        in: query
        name: $select
        required: false
        type: string
      - description: Conditions to search for in the slice, in SQL WHERE style.
        in: query
        name: $where
        required: false
        type: string
      - description: Fields to group by, summarizing the data, separated by commas.
        in: query
        name: $group
        required: false
        type: string
      - description: Number of records to return, 100 by default. Enter 0 for no limit.
        in: query
        name: $limit
        required: false
        type: integer
      - description: Number of records to skip.
        in: query
        name: $offset
        required: false
        type: integer
      - description: Fields to order by, separated by commas. ASC and DESC can be
          used to modify the order.
        in: query
        name: $orderBy
        required: false
        type: string
      - description: JavaScript callback to invoke. Only useful with JSONP requests.
        in: query
        name: $callback
        required: false
        type: string
      produces:
      - application/json
      - application/xml
      - text/javascript
      - text/csv
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/QueryResponse'
      summary: Query a slice in this dataset.
      tags:
      - hmda
  /data/hmda/slice/{slice}/metadata:
    get:
      operationId: getSliceMetadataHmda
      parameters:
      - description: Name of slice
        in: path
        name: slice
        required: true
        type: string
      produces:
      - application/json
      - application/xml
      - text/javascript
      responses:
        200:
          description: No response was specified
      summary: Get the metadata for a slice in this dataset.
      tags:
      - hmda
  /data/{dataset}:
    get:
      operationId: getDataset
      parameters:
      - description: Name of dataset
        in: path
        name: dataset
        required: true
        type: string
      produces:
      - application/json
      - application/xml
      responses:
        200:
          description: No response was specified
      summary: Get metadata about a dataset.
      tags:
      - data
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:13:\"QueryResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Response
  to a slice query.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:4:\"size\";}}}"
...
