---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:5:\"title\";s:15:\"Cloud
  Firestore\";s:7:\"version\";s:7:\"v1beta1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"backend\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:64:\"https://firestore.googleapis.com/$discovery/rest?version=v1beta1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:9:\"firestore\";}"
host: firestore.googleapis.com
basePath: /
paths:
  /v1beta1/{database}/documents:batchGet:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Gets multiple documents.nnDocuments returned by this method are
        not guaranteed to be returned in thensame order that they were requested.
      operationId: firestore.projects.databases.documents.batchGet
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/BatchGetDocumentsRequest'
      - description: The database name. In the format:n`projects/{project_id}/databases/{database_id}`.
        in: path
        name: database
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/BatchGetDocumentsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
  /v1beta1/{database}/documents:beginTransaction:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Starts a new transaction.
      operationId: firestore.projects.databases.documents.beginTransaction
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/BeginTransactionRequest'
      - description: The database name. In the format:n`projects/{project_id}/databases/{database_id}`.
        in: path
        name: database
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/BeginTransactionResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
  /v1beta1/{database}/documents:commit:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Commits a transaction, while optionally updating documents.
      operationId: firestore.projects.databases.documents.commit
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CommitRequest'
      - description: The database name. In the format:n`projects/{project_id}/databases/{database_id}`.
        in: path
        name: database
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CommitResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
  /v1beta1/{database}/documents:listen:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Listens to changes.
      operationId: firestore.projects.databases.documents.listen
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ListenRequest'
      - description: The database name. In the format:n`projects/{project_id}/databases/{database_id}`.
        in: path
        name: database
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListenResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
  /v1beta1/{database}/documents:rollback:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Rolls back a transaction.
      operationId: firestore.projects.databases.documents.rollback
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/RollbackRequest'
      - description: The database name. In the format:n`projects/{project_id}/databases/{database_id}`.
        in: path
        name: database
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
  /v1beta1/{database}/documents:write:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Streams batches of document updates and deletes, in order.
      operationId: firestore.projects.databases.documents.write
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/WriteRequest'
      - description: The database name. In the format:n`projects/{project_id}/databases/{database_id}`.nThis
          is only required in the first message.
        in: path
        name: database
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/WriteResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
  /v1beta1/{name}:
    delete:
      description: Deletes an index.
      operationId: firestore.projects.databases.indexes.delete
      parameters:
      - description: When set to `true`, the target document must exist.nWhen set
          to `false`, the target document must not exist.
        in: query
        name: currentDocument.exists
        type: boolean
      - description: When set, the target document must exist and have been last updated
          atnthat time.
        in: query
        name: currentDocument.updateTime
        type: string
      - description: The index name. For example:n`projects/{project_id}/databases/{database_id}/indexes/{index_id}`
        in: path
        name: name
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
    get:
      description: Gets an index.
      operationId: firestore.projects.databases.indexes.get
      parameters:
      - collectionFormat: multi
        description: The list of field paths in the mask. See Document.fields for
          a fieldnpath syntax reference.
        in: query
        items:
          type: string
        name: mask.fieldPaths
        type: array
      - description: The name of the index. For example:n`projects/{project_id}/databases/{database_id}/indexes/{index_id}`
        in: path
        name: name
        required: true
        type: string
        x-reservedExpansion: true
      - description: Reads the version of the document at the given time.nThis may
          not be older than 60 seconds.
        in: query
        name: readTime
        type: string
      - description: Reads the document in a transaction.
        in: query
        name: transaction
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Index'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    patch:
      description: Updates or inserts a document.
      operationId: firestore.projects.databases.documents.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Document'
      - description: When set to `true`, the target document must exist.nWhen set
          to `false`, the target document must not exist.
        in: query
        name: currentDocument.exists
        type: boolean
      - description: When set, the target document must exist and have been last updated
          atnthat time.
        in: query
        name: currentDocument.updateTime
        type: string
      - collectionFormat: multi
        description: The list of field paths in the mask. See Document.fields for
          a fieldnpath syntax reference.
        in: query
        items:
          type: string
        name: mask.fieldPaths
        type: array
      - description: The resource name of the document, for examplen`projects/{project_id}/databases/{database_id}/documents/{document_path}`.
        in: path
        name: name
        required: true
        type: string
        x-reservedExpansion: true
      - collectionFormat: multi
        description: The list of field paths in the mask. See Document.fields for
          a fieldnpath syntax reference.
        in: query
        items:
          type: string
        name: updateMask.fieldPaths
        type: array
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Document'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
  /v1beta1/{parent}/indexes:
    get:
      description: Lists the indexes that match the specified filters.
      operationId: firestore.projects.databases.indexes.list
      parameters:
      - in: query
        name: filter
        type: string
      - description: The standard List page size.
        in: query
        name: pageSize
        type: integer
      - description: The standard List page token.
        in: query
        name: pageToken
        type: string
      - description: The database name. For example:n`projects/{project_id}/databases/{database_id}`
        in: path
        name: parent
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListIndexesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates the specified index.nA newly created index's initial state
        is `CREATING`. On completion of thenreturned google.longrunning.Operation,
        the state will be `READY`.nIf the index already exists, the call will return
        an `ALREADY_EXISTS`nstatus.nnDuring creation, the process could result in
        an error, in which case thenindex will move to the `ERROR` state. The process
        can be recovered bynfixing the data that caused the error, removing the index
        withndelete, then re-creating the index withncreate.nnIndexes with a single
        field cannot be created.
      operationId: firestore.projects.databases.indexes.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Index'
      - description: The name of the database this index will apply to. For example:n`projects/{project_id}/databases/{database_id}`
        in: path
        name: parent
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
  /v1beta1/{parent}/{collectionId}:
    get:
      description: Lists documents.
      operationId: firestore.projects.databases.documents.list
      parameters:
      - description: 'The collection ID, relative to `parent`, to list. For example:
          `chatrooms`nor `messages`.'
        in: path
        name: collectionId
        required: true
        type: string
      - collectionFormat: multi
        description: The list of field paths in the mask. See Document.fields for
          a fieldnpath syntax reference.
        in: query
        items:
          type: string
        name: mask.fieldPaths
        type: array
      - description: 'The order to sort results by. For example: `priority desc, name`.'
        in: query
        name: orderBy
        type: string
      - description: The maximum number of documents to return.
        in: query
        name: pageSize
        type: integer
      - description: The `next_page_token` value returned from a previous List request,
          if any.
        in: query
        name: pageToken
        type: string
      - description: The parent resource name. In the format:n`projects/{project_id}/databases/{database_id}/documents`
          orn`projects/{project_id}/databases/{database_id}/documents/{document_path}`.nFor
          example:n`projects/my-project/databases/my-database/documents` orn`projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`
        in: path
        name: parent
        required: true
        type: string
        x-reservedExpansion: true
      - description: Reads documents as they were at the given time.nThis may not
          be older than 60 seconds.
        in: query
        name: readTime
        type: string
      - description: If the list should show missing documents. A missing document
          is andocument that does not exist but has sub-documents. These documents
          willnbe returned with a key but will not have fields, Document.create_time,nor
          Document.update_time set.nnRequests with `show_missing` may not specify
          `where` orn`order_by`.
        in: query
        name: showMissing
        type: boolean
      - description: Reads documents in a transaction.
        in: query
        name: transaction
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListDocumentsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a new document.
      operationId: firestore.projects.databases.documents.createDocument
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Document'
      - description: 'The collection ID, relative to `parent`, to list. For example:
          `chatrooms`.'
        in: path
        name: collectionId
        required: true
        type: string
      - description: The client-assigned document ID to use for this document.nnOptional.
          If not specified, an ID will be assigned by the service.
        in: query
        name: documentId
        type: string
      - collectionFormat: multi
        description: The list of field paths in the mask. See Document.fields for
          a fieldnpath syntax reference.
        in: query
        items:
          type: string
        name: mask.fieldPaths
        type: array
      - description: The parent resource. For example:n`projects/{project_id}/databases/{database_id}/documents`
          orn`projects/{project_id}/databases/{database_id}/documents/chatrooms/{chatroom_id}`
        in: path
        name: parent
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Document'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
  /v1beta1/{parent}:listCollectionIds:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Lists all the collection IDs underneath a document.
      operationId: firestore.projects.databases.documents.listCollectionIds
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ListCollectionIdsRequest'
      - description: The parent document. In the format:n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.nFor
          example:n`projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`
        in: path
        name: parent
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListCollectionIdsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
  /v1beta1/{parent}:runQuery:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Runs a query.
      operationId: firestore.projects.databases.documents.runQuery
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/RunQueryRequest'
      - description: The parent resource name. In the format:n`projects/{project_id}/databases/{database_id}/documents`
          orn`projects/{project_id}/databases/{database_id}/documents/{document_path}`.nFor
          example:n`projects/my-project/databases/my-database/documents` orn`projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`
        in: path
        name: parent
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/RunQueryResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/datastore
      tags:
      - projects
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":54:{s:10:\"ArrayValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"An
  array value.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Values
  in the array.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Value\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BatchGetDocumentsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  request for Firestore.BatchGetDocuments.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"documents\";O:8:\"stdClass\":3:{s:11:\"description\";s:255:\"The
  names of the documents to retrieve. In the format:\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.\nThe
  request will fail if any of the document is not a child resource of the\ngiven `database`.
  Duplicate names will be elided.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"mask\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DocumentMask\";s:11:\"description\";s:163:\"The
  fields to return. If not set, returns all fields.\n\nIf a document has a field that
  is not present in this mask, that field will\nnot be returned in the response.\";}s:14:\"newTransaction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TransactionOptions\";s:11:\"description\";s:163:\"Starts
  a new transaction and reads the documents.\nDefaults to a read-only transaction.\nThe
  new transaction ID will be returned as the first response in the\nstream.\";}s:8:\"readTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Reads
  documents as they were at the given time.\nThis may not be older than 60 seconds.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:11:\"transaction\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reads
  documents in a transaction.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"BatchGetDocumentsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  streamed response for Firestore.BatchGetDocuments.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"found\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Document\";s:11:\"description\";s:30:\"A
  document that was requested.\";}s:7:\"missing\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"A
  document name that was requested but does not exist. In the format:\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.\";s:4:\"type\";s:6:\"string\";}s:8:\"readTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:206:\"The
  time at which the document was read.\nThis may be monotically increasing, in this
  case the previous documents in\nthe result stream are guaranteed not to have changed
  between their\nread_time and this one.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:11:\"transaction\";O:8:\"stdClass\":3:{s:11:\"description\";s:174:\"The
  transaction that was started as part of this request.\nWill only be set in the first
  response, and only if\nBatchGetDocumentsRequest.new_transaction was set in the request.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"BeginTransactionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  request for Firestore.BeginTransaction.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TransactionOptions\";s:11:\"description\";s:70:\"The
  options for the transaction.\nDefaults to a read-write transaction.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BeginTransactionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  response for Firestore.BeginTransaction.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"transaction\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  transaction that was started.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CollectionSelector\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"A
  selection of a collection, such as `messages as m1`.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"allDescendants\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"When
  false, selects only collections that are immediate children of\nthe `parent` specified
  in the containing `RunQueryRequest`.\nWhen true, selects all descendant collections.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"collectionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  collection ID.\nWhen set, selects only collections with this ID.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CommitRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  request for Firestore.Commit.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"transaction\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"If
  set, applies all writes in this transaction, and commits it.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:6:\"writes\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  writes to apply.\n\nAlways executed atomically and in order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Write\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CommitResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  response for Firestore.Commit.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"commitTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  time at which the commit occurred.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:12:\"writeResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  result of applying the writes.\n\nThis i-th write result corresponds to the i-th
  write in the\nrequest.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/WriteResult\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CompositeFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"A
  filter that merges multiple other filters using the given operator.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"filters\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  list of filters to combine.\nMust contain at least one filter.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";}s:4:\"type\";s:5:\"array\";}s:2:\"op\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  operator for combining multiple filters.\";s:4:\"enum\";a:2:{i:0;s:20:\"OPERATOR_UNSPECIFIED\";i:1;s:3:\"AND\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Cursor\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  position in a query result set.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"before\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"If
  the position is just before or just after the given values, relative\nto the sort
  order defined by the query.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"The
  values that represent a position, in the order they appear in\nthe order by clause
  of a query.\n\nCan contain fewer values than specified in the order by clause.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Value\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Document\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  Firestore document.\n\nMust not exceed 1 MiB - 4 bytes.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:222:\"Output
  only. The time at which the document was created.\n\nThis value increases monotonically
  when a document is deleted then\nrecreated. It can also be compared to values from
  other documents and\nthe `read_time` of a query.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Value\";}s:11:\"description\";s:1054:\"The
  document's fields.\n\nThe map keys represent field names.\n\nA simple field name
  contains only characters `a` to `z`, `A` to `Z`,\n`0` to `9`, or `_`, and must not
  start with `0` to `9`. For example,\n`foo_bar_17`.\n\nField names matching the regular
  expression `__.*__` are reserved. Reserved\nfield names are forbidden except in
  certain documented contexts. The map\nkeys, represented as UTF-8, must not exceed
  1,500 bytes and cannot be\nempty.\n\nField paths may be used in other contexts to
  refer to structured fields\ndefined here. For `map_value`, the field path is represented
  by the simple\nor quoted field names of the containing fields, delimited by `.`.
  For\nexample, the structured field\n`\"foo\" : { map_value: { \"x&y\" : { string_value:
  \"hello\" }}}` would be\nrepresented by the field path `foo.x&y`.\n\nWithin a field
  path, a quoted field name starts and ends with `` ` `` and\nmay contain any character.
  Some characters, including `` ` ``, must be\nescaped using a `\\`. For example,
  `` `x&y` `` represents `x&y` and\n`` `bak\\`tik` `` represents `` bak`tik ``.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"The
  resource name of the document, for example\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.\";s:4:\"type\";s:6:\"string\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:261:\"Output
  only. The time at which the document was last changed.\n\nThis value is initially
  set to the `create_time` then increases\nmonotonically with each change to the document.
  It can also be\ncompared to values from other documents and the `read_time` of a
  query.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DocumentChange\";O:8:\"stdClass\":3:{s:11:\"description\";s:252:\"A
  Document has changed.\n\nMay be the result of multiple writes, including deletes,
  that\nultimately resulted in a new value for the Document.\n\nMultiple DocumentChange
  messages may be returned for the same logical\nchange, if multiple targets are affected.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"document\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Document\";s:11:\"description\";s:98:\"The
  new state of the Document.\n\nIf `mask` is set, contains only fields that were updated
  or added.\";}s:16:\"removedTargetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  set of target IDs for targets that no longer match this document.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:9:\"targetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  set of target IDs of targets that match this document.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DocumentDelete\";O:8:\"stdClass\":3:{s:11:\"description\";s:239:\"A
  Document has been deleted.\n\nMay be the result of multiple writes, including updates,
  the\nlast of which deleted the Document.\n\nMultiple DocumentDelete messages may
  be returned for the same logical\ndelete, if multiple targets are affected.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"document\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  resource name of the Document that was deleted.\";s:4:\"type\";s:6:\"string\";}s:8:\"readTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  read timestamp at which the delete was observed.\n\nGreater or equal to the `commit_time`
  of the delete.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:16:\"removedTargetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"A
  set of target IDs for targets that previously matched this entity.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DocumentMask\";O:8:\"stdClass\":3:{s:11:\"description\";s:254:\"A
  set of field paths on a document.\nUsed to restrict a get or update operation on
  a document to a subset of its\nfields.\nThis is different from standard field masks,
  as this is always scoped to a\nDocument, and takes in account the dynamic nature
  of Value.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"fieldPaths\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  list of field paths in the mask. See Document.fields for a field\npath syntax reference.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DocumentRemove\";O:8:\"stdClass\":3:{s:11:\"description\";s:373:\"A
  Document has been removed from the view of the targets.\n\nSent if the document
  is no longer relevant to a target and is out of view.\nCan be sent instead of a
  DocumentDelete or a DocumentChange if the server\ncan not send the new value of
  the document.\n\nMultiple DocumentRemove messages may be returned for the same logical\nwrite
  or delete, if multiple targets are affected.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"document\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  resource name of the Document that has gone out of view.\";s:4:\"type\";s:6:\"string\";}s:8:\"readTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"The
  read timestamp at which the remove was observed.\n\nGreater or equal to the `commit_time`
  of the change/delete/remove.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:16:\"removedTargetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  set of target IDs for targets that previously matched this document.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DocumentTransform\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  transformation of a document.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"document\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  name of the document to transform.\";s:4:\"type\";s:6:\"string\";}s:15:\"fieldTransforms\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"The
  list of transformations to apply to the fields of the document, in\norder.\nThis
  must not be empty.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FieldTransform\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DocumentsTarget\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  target specified by a set of documents names.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"documents\";O:8:\"stdClass\":3:{s:11:\"description\";s:255:\"The
  names of the documents to retrieve. In the format:\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.\nThe
  request will fail if any of the document is not a child resource of\nthe given `database`.
  Duplicate names will be elided.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is
  empty JSON object `{}`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"ExistenceFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  digest of all the documents that match a given target.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:197:\"The
  total count of documents that match target_id.\n\nIf different from the count of
  documents in the client that match, the\nclient must manually determine which documents
  no longer match the target.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"targetId\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  target ID to which this filter applies.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"FieldFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  filter on a specific field.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"field\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FieldReference\";s:11:\"description\";s:23:\"The
  field to filter by.\";}s:2:\"op\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  operator to filter by.\";s:4:\"enum\";a:6:{i:0;s:20:\"OPERATOR_UNSPECIFIED\";i:1;s:9:\"LESS_THAN\";i:2;s:18:\"LESS_THAN_OR_EQUAL\";i:3;s:12:\"GREATER_THAN\";i:4;s:21:\"GREATER_THAN_OR_EQUAL\";i:5;s:5:\"EQUAL\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Value\";s:11:\"description\";s:24:\"The
  value to compare to.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"FieldReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"A
  reference to a field, such as `max(messages.time) as max_time`.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"fieldPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"FieldTransform\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"A
  transformation of a field of the document.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"fieldPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  path of the field. See Document.fields for the field path syntax\nreference.\";s:4:\"type\";s:6:\"string\";}s:16:\"setToServerValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Sets
  the field to the given server value.\";s:4:\"enum\";a:2:{i:0;s:24:\"SERVER_VALUE_UNSPECIFIED\";i:1;s:12:\"REQUEST_TIME\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Filter\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"A
  filter.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"compositeFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CompositeFilter\";s:11:\"description\";s:19:\"A
  composite filter.\";}s:11:\"fieldFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FieldFilter\";s:11:\"description\";s:29:\"A
  filter on a document field.\";}s:11:\"unaryFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/UnaryFilter\";s:11:\"description\";s:41:\"A
  filter that takes exactly one argument.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Index\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"An
  index definition.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"collectionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  collection ID to which this index applies. Required.\";s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  fields to index.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/IndexField\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  resource name of the index.\nOutput only.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  state of the index.\nOutput only.\";s:4:\"enum\";a:4:{i:0;s:17:\"STATE_UNSPECIFIED\";i:1;s:8:\"CREATING\";i:2;s:5:\"READY\";i:3;s:5:\"ERROR\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"IndexField\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  field of an index.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"fieldPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:242:\"The
  path of the field. Must match the field path specification described\nby google.firestore.v1beta1.Document.fields.\nSpecial
  field path `__name__` may be used by itself or at the end of a\npath. `__type__`
  may be used only at the end of path.\";s:4:\"type\";s:6:\"string\";}s:4:\"mode\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  field's mode.\";s:4:\"enum\";a:3:{i:0;s:16:\"MODE_UNSPECIFIED\";i:1;s:9:\"ASCENDING\";i:2;s:10:\"DESCENDING\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"LatLng\";O:8:\"stdClass\":3:{s:11:\"description\";s:320:\"An
  object representing a latitude/longitude pair. This is expressed as a pair\nof doubles
  representing degrees latitude and degrees longitude. Unless\nspecified otherwise,
  this must conform to the\n<a href=\"http://www.unoosa.org/pdf/icg/2012/template/WGS_84.pdf\">WGS84\nstandard</a>.
  Values must be within normalized ranges.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  latitude in degrees. It must be in the range [-90.0, +90.0].\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  longitude in degrees. It must be in the range [-180.0, +180.0].\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListCollectionIdsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  request for Firestore.ListCollectionIds.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"pageSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  maximum number of results to return.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"A
  page token. Must be a value from\nListCollectionIdsResponse.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListCollectionIdsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  response from Firestore.ListCollectionIds.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"collectionIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  collection ids.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"A
  page token that may be used to continue the list.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListDocumentsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  response for Firestore.ListDocuments.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"documents\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  Documents found.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Document\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  next page token.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListIndexesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  response for FirestoreAdmin.ListIndexes.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"indexes\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  indexes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Index\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  standard List next-page token.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ListenRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  request for Firestore.Listen\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"addTarget\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Target\";s:11:\"description\";s:31:\"A
  target to add to this stream.\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:42:\"Labels
  associated with this target change.\";s:4:\"type\";s:6:\"object\";}s:12:\"removeTarget\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  ID of a target to remove from this stream.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ListenResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  response for Firestore.Listen.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"documentChange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DocumentChange\";s:11:\"description\";s:23:\"A
  Document has changed.\";}s:14:\"documentDelete\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DocumentDelete\";s:11:\"description\";s:28:\"A
  Document has been deleted.\";}s:14:\"documentRemove\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DocumentRemove\";s:11:\"description\";s:92:\"A
  Document has been removed from a target (because it is no longer\nrelevant to that
  target).\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ExistenceFilter\";s:11:\"description\";s:190:\"A
  filter to apply to the set of documents previously returned for the\ngiven target.\n\nReturned
  when documents may have been removed from the given target, but\nthe exact documents
  are unknown.\";}s:12:\"targetChange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TargetChange\";s:11:\"description\";s:21:\"Targets
  have changed.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"MapValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"A
  map value.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"fields\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Value\";}s:11:\"description\";s:280:\"The
  map's fields.\n\nThe map keys represent field names. Field names matching the regular\nexpression
  `__.*__` are reserved. Reserved field names are forbidden except\nin certain documented
  contexts. The map keys, represented as UTF-8, must\nnot exceed 1,500 bytes and cannot
  be empty.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"This
  resource represents a long-running operation that is the result of a\nnetwork API
  call.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"done\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"If
  the value is `false`, it means the operation is still in progress.\nIf `true`, the
  operation is completed, and either `error` or `response` is\navailable.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:69:\"The
  error result of the operation in case of failure or cancellation.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:281:\"Service-specific
  metadata associated with the operation.  It typically\ncontains progress information
  and common metadata such as create time.\nSome services might not provide such metadata.
  \ Any method that returns a\nlong-running operation should document the metadata
  type, if any.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:203:\"The
  server-assigned name, which is only unique within the same service that\noriginally
  returns it. If you use the default HTTP mapping, the\n`name` should have the format
  of `operations/some/unique/name`.\";s:4:\"type\";s:6:\"string\";}s:8:\"response\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:492:\"The
  normal response of the operation in case of success.  If the original\nmethod returns
  no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.
  \ If the original method is standard\n`Get`/`Create`/`Update`, the response should
  be the resource.  For other\nmethods, the response should have the type `XxxResponse`,
  where `Xxx`\nis the original method name.  For example, if the original method name\nis
  `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Order\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"An
  order on a field.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"direction\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  direction to order by. Defaults to `ASCENDING`.\";s:4:\"enum\";a:3:{i:0;s:21:\"DIRECTION_UNSPECIFIED\";i:1;s:9:\"ASCENDING\";i:2;s:10:\"DESCENDING\";}s:4:\"type\";s:6:\"string\";}s:5:\"field\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FieldReference\";s:11:\"description\";s:22:\"The
  field to order by.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Precondition\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  precondition on a document, used for conditional operations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"exists\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"When
  set to `true`, the target document must exist.\nWhen set to `false`, the target
  document must not exist.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"When
  set, the target document must exist and have been last updated at\nthat time.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Projection\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  projection of document's fields to return.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"The
  fields to return.\n\nIf empty, all fields are returned. To only return the name\nof
  the document, use `['__name__']`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FieldReference\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"QueryTarget\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  target specified by a query.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"parent\";O:8:\"stdClass\":2:{s:11:\"description\";s:322:\"The
  parent resource name. In the format:\n`projects/{project_id}/databases/{database_id}/documents`
  or\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.\nFor
  example:\n`projects/my-project/databases/my-database/documents` or\n`projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`\";s:4:\"type\";s:6:\"string\";}s:15:\"structuredQuery\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/StructuredQuery\";s:11:\"description\";s:19:\"A
  structured query.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"ReadOnly\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Options
  for a transaction that can only be used to read documents.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"readTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Reads
  documents at the given time.\nThis may not be older than 60 seconds.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ReadWrite\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Options
  for a transaction that can be used to read and write documents.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"retryTransaction\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"An
  optional transaction to retry.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RollbackRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  request for Firestore.Rollback.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"transaction\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  transaction to roll back.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RunQueryRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  request for Firestore.RunQuery.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"newTransaction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TransactionOptions\";s:11:\"description\";s:163:\"Starts
  a new transaction and reads the documents.\nDefaults to a read-only transaction.\nThe
  new transaction ID will be returned as the first response in the\nstream.\";}s:8:\"readTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Reads
  documents as they were at the given time.\nThis may not be older than 60 seconds.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:15:\"structuredQuery\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/StructuredQuery\";s:11:\"description\";s:19:\"A
  structured query.\";}s:11:\"transaction\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Reads
  documents in a transaction.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"RunQueryResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  response for Firestore.RunQuery.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"document\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Document\";s:11:\"description\";s:56:\"A
  query result.\nNot set when reporting partial progress.\";}s:8:\"readTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:362:\"The
  time at which the document was read. This may be monotonically\nincreasing; in this
  case, the previous documents in the result stream are\nguaranteed not to have changed
  between their `read_time` and this one.\n\nIf the query returns no results, a response
  with `read_time` and no\n`document` will be sent, and this represents the time at
  which the query\nwas run.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:14:\"skippedResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"The
  number of results that have been skipped due to an offset between\nthe last response
  and the current response.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"transaction\";O:8:\"stdClass\":3:{s:11:\"description\";s:218:\"The
  transaction that was started as part of this request.\nCan only be set in the first
  response, and only if\nRunQueryRequest.new_transaction was set in the request.\nIf
  set, no other fields will be set in this response.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2437:\"The
  `Status` type defines a logical error model that is suitable for different\nprogramming
  environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc).
  The error model is designed to be:\n\n- Simple to use and understand for most users\n-
  Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains
  three pieces of data: error code, error message,\nand error details. The error code
  should be an enum value of\ngoogle.rpc.Code, but it may accept additional error
  codes if needed.  The\nerror message should be a developer-facing English message
  that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror
  message is needed, put the localized message in the error details or\nlocalize it
  in the client. The optional error details may contain arbitrary\ninformation about
  the error. There is a predefined set of error detail types\nin the package `google.rpc`
  that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status`
  message is the logical representation of the error model, but it\nis not necessarily
  the actual wire format. When the `Status` message is\nexposed in different client
  libraries and different wire protocols, it can be\nmapped differently. For example,
  it will likely be mapped to some exceptions\nin Java, but more likely mapped to
  some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message
  can be used in a variety of\nenvironments, either with or without APIs, to provide
  a\nconsistent developer experience across different environments.\n\nExample uses
  of this error model include:\n\n- Partial errors. If a service needs to return partial
  errors to the client,\n    it may embed the `Status` in the normal response to indicate
  the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps.
  Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations.
  If a client uses batch request and batch response, the\n    `Status` message should
  be used directly inside batch response, one for\n    each error sub-response.\n\n-
  Asynchronous operations. If an API call embeds asynchronous operation\n    results
  in its response, the status of those operations should be\n    represented directly
  using the `Status` message.\n\n- Logging. If some API errors are stored in logs,
  the message `Status` could\n    be used directly after any stripping needed for
  security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"A
  list of messages that carry the error details.  There is a common set of\nmessage
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any\nuser-facing error
  message should be localized and sent in the\ngoogle.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"StructuredQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"A
  Firestore query.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"endAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Cursor\";s:11:\"description\";s:34:\"A
  end point for the query results.\";}s:4:\"from\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  collections to query.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectionSelector\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"The
  maximum number of results to return.\n\nApplies after all other constraints.\nMust
  be >= 0 if specified.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"The
  number of results to skip.\n\nApplies before limit, but after all other constraints.
  Must be >= 0 if\nspecified.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"orderBy\";O:8:\"stdClass\":3:{s:11:\"description\";s:760:\"The
  order to apply to the query results.\n\nFirestore guarantees a stable ordering through
  the following rules:\n\n * Any field required to appear in `order_by`, that is not
  already\n   specified in `order_by`, is appended to the order in field name order\n
  \  by default.\n * If an order on `__name__` is not specified, it is appended by
  default.\n\nFields are appended with the same sort direction as the last order\nspecified,
  or 'ASCENDING' if no order was specified. For example:\n\n * `SELECT * FROM Foo
  ORDER BY A` becomes\n   `SELECT * FROM Foo ORDER BY A, __name__`\n * `SELECT * FROM
  Foo ORDER BY A DESC` becomes\n   `SELECT * FROM Foo ORDER BY A DESC, __name__ DESC`\n
  * `SELECT * FROM Foo WHERE A > 1` becomes\n   `SELECT * FROM Foo WHERE A > 1 ORDER
  BY A, __name__`\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Order\";}s:4:\"type\";s:5:\"array\";}s:6:\"select\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Projection\";s:11:\"description\";s:25:\"The
  projection to return.\";}s:7:\"startAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Cursor\";s:11:\"description\";s:39:\"A
  starting point for the query results.\";}s:5:\"where\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";s:11:\"description\";s:20:\"The
  filter to apply.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Target\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"A
  specification of a set of documents to listen to.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"documents\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DocumentsTarget\";s:11:\"description\";s:46:\"A
  target specified by a set of document names.\";}s:4:\"once\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"If
  the target should be removed once it is current and consistent.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/QueryTarget\";s:11:\"description\";s:30:\"A
  target specified by a query.\";}s:8:\"readTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"Start
  listening after a specific `read_time`.\n\nThe client must know the state of matching
  documents at this time.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:11:\"resumeToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"A
  resume token from a prior TargetChange for an identical target.\n\nUsing a resume
  token with a different target is unsupported and may fail.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:8:\"targetId\";O:8:\"stdClass\":3:{s:11:\"description\";s:325:\"A
  client provided target ID.\n\nIf not set, the server will assign an ID for the target.\n\nUsed
  for resuming a target without changing IDs. The IDs can either be\nclient-assigned
  or be server-assigned in a previous stream. All targets\nwith client provided IDs
  must be added before adding a target that needs\na server-assigned id.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"TargetChange\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Targets
  being watched have changed.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"cause\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:54:\"The
  error that resulted in this change, if applicable.\";}s:8:\"readTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:477:\"The
  consistent `read_time` for the given `target_ids` (omitted when the\ntarget_ids
  are not at a consistent snapshot).\n\nThe stream is guaranteed to send a `read_time`
  with `target_ids` empty\nwhenever the entire stream reaches a new consistent snapshot.
  ADD,\nCURRENT, and RESET messages are guaranteed to (eventually) result in a\nnew
  consistent snapshot (while NO_CHANGE and REMOVE messages are not).\n\nFor a given
  stream, `read_time` is guaranteed to be monotonically\nincreasing.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:11:\"resumeToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"A
  token that can be used to resume the stream for the given `target_ids`,\nor all
  targets if `target_ids` is empty.\n\nNot set on every target change.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:16:\"targetChangeType\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  type of change that occurred.\";s:4:\"enum\";a:5:{i:0;s:9:\"NO_CHANGE\";i:1;s:3:\"ADD\";i:2;s:6:\"REMOVE\";i:3;s:7:\"CURRENT\";i:4;s:5:\"RESET\";}s:4:\"type\";s:6:\"string\";}s:9:\"targetIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:360:\"The
  target IDs of targets that have changed.\n\nIf empty, the change applies to all
  targets.\n\nFor `target_change_type=ADD`, the order of the target IDs matches the
  order\nof the requests to add the targets. This allows clients to unambiguously\nassociate
  server-assigned target IDs with added targets.\n\nFor other states, the order of
  the target IDs is not defined.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"TransactionOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Options
  for creating a new transaction.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"readOnly\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ReadOnly\";s:11:\"description\";s:53:\"The
  transaction can only be used for read operations.\";}s:9:\"readWrite\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ReadWrite\";s:11:\"description\";s:63:\"The
  transaction can be used for both read and write operations.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"UnaryFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  filter with a single operand.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"field\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FieldReference\";s:11:\"description\";s:41:\"The
  field to which to apply the operator.\";}s:2:\"op\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  unary operator to apply.\";s:4:\"enum\";a:3:{i:0;s:20:\"OPERATOR_UNSPECIFIED\";i:1;s:6:\"IS_NAN\";i:2;s:7:\"IS_NULL\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Value\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"A
  message that can hold any of the supported value types.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"arrayValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ArrayValue\";s:11:\"description\";s:117:\"An
  array value.\n\nCannot directly contain another array value, though can contain
  an\nmap which contains another array.\";}s:12:\"booleanValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"A
  boolean value.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"bytesValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"A
  bytes value.\n\nMust not exceed 1 MiB - 89 bytes.\nOnly the first 1,500 bytes are
  considered by queries.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:11:\"doubleValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"A
  double value.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"geoPointValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/LatLng\";s:11:\"description\";s:63:\"A
  geo point value representing a point on the surface of Earth.\";}s:12:\"integerValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"An
  integer value.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"mapValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/MapValue\";s:11:\"description\";s:12:\"A
  map value.\";}s:9:\"nullValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"A
  null value.\";s:4:\"enum\";a:1:{i:0;s:10:\"NULL_VALUE\";}s:4:\"type\";s:6:\"string\";}s:14:\"referenceValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"A
  reference to a document. For example:\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.\";s:4:\"type\";s:6:\"string\";}s:11:\"stringValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:166:\"A
  string value.\n\nThe string, represented as UTF-8, must not exceed 1 MiB - 89 bytes.\nOnly
  the first 1,500 bytes of the UTF-8 representation are considered by\nqueries.\";s:4:\"type\";s:6:\"string\";}s:14:\"timestampValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"A
  timestamp value.\n\nPrecise only to microseconds. When stored, any additional precision
  is\nrounded down.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Write\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  write on a document.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"currentDocument\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Precondition\";s:11:\"description\";s:113:\"An
  optional precondition on the document.\n\nThe write will fail if this is set and
  not met by the target document.\";}s:6:\"delete\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"A
  document name to delete. In the format:\n`projects/{project_id}/databases/{database_id}/documents/{document_path}`.\";s:4:\"type\";s:6:\"string\";}s:9:\"transform\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DocumentTransform\";s:11:\"description\";s:187:\"Applies
  a tranformation to a document.\nAt most one `transform` per document is allowed
  in a given request.\nAn `update` cannot follow a `transform` on the same document
  in a given\nrequest.\";}s:6:\"update\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Document\";s:11:\"description\";s:20:\"A
  document to write.\";}s:10:\"updateMask\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DocumentMask\";s:11:\"description\";s:493:\"The
  fields to update in this write.\n\nThis field can be set only when the operation
  is `update`.\nIf the mask is not set for an `update` and the document exists, any\nexisting
  data will be overwritten.\nIf the mask is set and the document on the server has
  fields not covered by\nthe mask, they are left unchanged.\nFields referenced in
  the mask, but not present in the input document, are\ndeleted from the document
  on the server.\nThe field paths in this mask must not contain a reserved field name.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"WriteRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:410:\"The
  request for Firestore.Write.\n\nThe first request creates a stream, or resumes an
  existing one from a token.\n\nWhen creating a new stream, the server replies with
  a response containing\nonly an ID and a token, to use in the next request.\n\nWhen
  resuming a stream, the server first streams any responses later than the\ngiven
  token, then a response containing only an up-to-date token, to use in\nthe next
  request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:42:\"Labels
  associated with this write request.\";s:4:\"type\";s:6:\"object\";}s:8:\"streamId\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"The
  ID of the write stream to resume.\nThis may only be set in the first message. When
  left empty, a new write\nstream will be created.\";s:4:\"type\";s:6:\"string\";}s:11:\"streamToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:561:\"A
  stream token that was previously sent by the server.\n\nThe client should set this
  field to the token from the most recent\nWriteResponse it has received. This acknowledges
  that the client has\nreceived responses up to this token. After sending this token,
  earlier\ntokens may not be used anymore.\n\nThe server may close the stream if there
  are too many unacknowledged\nresponses.\n\nLeave this field unset when creating
  a new stream. To resume a stream at\na specific point, set this field and the `stream_id`
  field.\n\nLeave this field unset when creating a new stream.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:6:\"writes\";O:8:\"stdClass\":3:{s:11:\"description\";s:188:\"The
  writes to apply.\n\nAlways executed atomically and in order.\nThis must be empty
  on the first request.\nThis may be empty on the last request.\nThis must not be
  empty on all other requests.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Write\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"WriteResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  response for Firestore.Write.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"commitTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  time at which the commit occurred.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:8:\"streamId\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  ID of the stream.\nOnly set on the first message, when a new stream was created.\";s:4:\"type\";s:6:\"string\";}s:11:\"streamToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"A
  token that represents the position of this response in the stream.\nThis can be
  used by a client to resume the stream at this point.\n\nThis field is always set.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:12:\"writeResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  result of applying the writes.\n\nThis i-th write result corresponds to the i-th
  write in the\nrequest.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/WriteResult\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"WriteResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  result of applying a write.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"transformResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  results of applying each DocumentTransform.FieldTransform, in the\nsame order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Value\";}s:4:\"type\";s:5:\"array\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"The
  last update time of the document after applying the write. Not set\nafter a `delete`.\n\nIf
  the write did not actually change the document, this will be the\nprevious update_time.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
