---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:372:\"<fullname>AWS
  Certificate Manager</fullname> <p>Welcome to the AWS Certificate Manager (ACM) API
  documentation.</p> <p>You can use ACM to manage SSL/TLS certificates for your AWS-based
  websites and applications. For general information about using ACM, see the <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/\">
  <i>AWS Certificate Manager User Guide</i> </a>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:23:\"AWS
  Certificate Manager\";s:7:\"version\";s:10:\"2015-12-08\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:87:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/acm-2015-12-08.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:3:\"acm\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"amazonaws_acm\";s:4:\"type\";s:7:\"openapi\";}}"
host: acm.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":81:{s:27:\"AddTagsToCertificateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:412:\"<p>String
  that contains the ARN of the ACM certificate to which the tag is to be applied.
  This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code>
  </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Names (ARNs) and AWS Service Namespaces</a>. </p>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:67:\"The
  key-value pair that defines the tag. The tag value is optional.\";}}s:8:\"required\";a:2:{i:0;s:14:\"CertificateArn\";i:1;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:3:\"Arn\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:20;s:7:\"pattern\";s:76:\"arn:[\\w+=/,.@-]+:[\\w+=/,.@-]+:[\\w+=/,.@-]*:[0-9]+:[\\w+=,.@-]+(/[\\w+=,.@-]+)*\";s:4:\"type\";s:6:\"string\";}s:15:\"CertificateBody\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:32768;s:9:\"minLength\";i:1;s:7:\"pattern\";s:148:\"-{5}BEGIN
  CERTIFICATE-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END
  CERTIFICATE-{5}(\\u000D?\\u000A)?\";s:4:\"type\";s:6:\"string\";}s:19:\"CertificateBodyBlob\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:32768;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"CertificateChain\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:2097152;s:9:\"minLength\";i:1;s:7:\"pattern\";s:296:\"(-{5}BEGIN
  CERTIFICATE-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END
  CERTIFICATE-{5}\\u000D?\\u000A)*-{5}BEGIN CERTIFICATE-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END
  CERTIFICATE-{5}(\\u000D?\\u000A)?\";s:4:\"type\";s:6:\"string\";}s:20:\"CertificateChainBlob\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2097152;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:17:\"CertificateDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"Contains
  metadata about an ACM certificate. This structure is returned in the response to
  a <a>DescribeCertificate</a> request. \";s:10:\"properties\";O:8:\"stdClass\":26:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:268:\"The
  Amazon Resource Name (ARN) of the certificate. For more information about ARNs,
  see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.\";}s:23:\"CertificateAuthorityArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:260:\"<p>The
  Amazon Resource Name (ARN) of the ACM PCA private certificate authority (CA) that
  issued the certificate. This has the following format: </p> <p> <code>arn:aws:acm-pca:region:account:certificate-authority/12345678-1234-1234-1234-123456789012</code>
  </p>\";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:129:\"The
  time at which the certificate was requested. This value exists only when the certificate
  type is <code>AMAZON_ISSUED</code>. \";}s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DomainNameString\";s:11:\"description\";s:92:\"The
  fully qualified domain name for the certificate, such as www.example.com or example.com.\";}s:23:\"DomainValidationOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DomainValidationList\";s:11:\"description\";s:216:\"Contains
  information about the initial validation of each domain name that occurs as a result
  of the <a>RequestCertificate</a> request. This field exists only when the certificate
  type is <code>AMAZON_ISSUED</code>. \";}s:17:\"ExtendedKeyUsages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ExtendedKeyUsageList\";s:11:\"description\";s:202:\"Contains
  a list of Extended Key Usage X.509 v3 extension objects. Each object specifies a
  purpose for which the certificate public key can be used and consists of a name
  and an object identifier (OID). \";}s:13:\"FailureReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FailureReason\";s:11:\"description\";s:327:\"The
  reason the certificate request failed. This value exists only when the certificate
  status is <code>FAILED</code>. For more information, see <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/troubleshooting.html#troubleshooting-failed\">Certificate
  Request Failed</a> in the <i>AWS Certificate Manager User Guide</i>. \";}s:10:\"ImportedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:132:\"The
  date and time at which the certificate was imported. This value exists only when
  the certificate type is <code>IMPORTED</code>. \";}s:7:\"InUseBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/InUseList\";s:11:\"description\";s:122:\"A
  list of ARNs for the AWS resources that are using the certificate. A certificate
  can be used by multiple AWS resources. \";}s:8:\"IssuedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:126:\"The
  time at which the certificate was issued. This value exists only when the certificate
  type is <code>AMAZON_ISSUED</code>. \";}s:6:\"Issuer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:77:\"The
  name of the certificate authority that issued and signed the certificate.\";}s:12:\"KeyAlgorithm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/KeyAlgorithm\";s:11:\"description\";s:68:\"The
  algorithm that was used to generate the public-private key pair.\";}s:9:\"KeyUsages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/KeyUsageList\";s:11:\"description\";s:252:\"A
  list of Key Usage X.509 v3 extension objects. Each object is a string value that
  identifies the purpose of the public key contained in the certificate. Possible
  extension values include DIGITAL_SIGNATURE, KEY_ENCHIPHERMENT, NON_REPUDIATION,
  and more.\";}s:8:\"NotAfter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:50:\"The
  time after which the certificate is not valid.\";}s:9:\"NotBefore\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:51:\"The
  time before which the certificate is not valid.\";}s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CertificateOptions\";s:11:\"description\";s:326:\"Value
  that specifies whether to add the certificate to a transparency log. Certificate
  transparency makes it possible to detect SSL certificates that have been mistakenly
  or maliciously issued. A browser might respond to certificate that has not been
  logged by showing an error message. The logs are cryptographically secure. \";}s:18:\"RenewalEligibility\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/RenewalEligibility\";s:11:\"description\";s:58:\"Specifies
  whether the certificate is eligible for renewal.\";}s:14:\"RenewalSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RenewalSummary\";s:11:\"description\";s:242:\"Contains
  information about the status of ACM's <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed
  renewal</a> for the certificate. This field exists only when the certificate type
  is <code>AMAZON_ISSUED</code>.\";}s:16:\"RevocationReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RevocationReason\";s:11:\"description\";s:116:\"The
  reason the certificate was revoked. This value exists only when the certificate
  status is <code>REVOKED</code>. \";}s:9:\"RevokedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TStamp\";s:11:\"description\";s:123:\"The
  time at which the certificate was revoked. This value exists only when the certificate
  status is <code>REVOKED</code>. \";}s:6:\"Serial\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:37:\"The
  serial number of the certificate.\";}s:18:\"SignatureAlgorithm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"The
  algorithm that was used to sign the certificate.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CertificateStatus\";s:11:\"description\";s:30:\"The
  status of the certificate.\";}s:7:\"Subject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:91:\"The
  name of the entity that is associated with the public key contained in the certificate.\";}s:23:\"SubjectAlternativeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainList\";s:11:\"description\";s:349:\"One
  or more domain names (subject alternative names) included in the certificate. This
  list contains the domain names that are bound to the public key that is contained
  in the certificate. The subject alternative names include the canonical domain name
  (CN) of the certificate and additional domain names that can be used to connect
  to the website. \";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CertificateType\";s:11:\"description\";s:625:\"The
  source of the certificate. For certificates provided by ACM, this value is <code>AMAZON_ISSUED</code>.
  For certificates that you imported with <a>ImportCertificate</a>, this value is
  <code>IMPORTED</code>. ACM does not provide <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed
  renewal</a> for imported certificates. For more information about the differences
  between certificates that you import and those that ACM provides, see <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing
  Certificates</a> in the <i>AWS Certificate Manager User Guide</i>. \";}}s:4:\"type\";s:6:\"object\";}s:18:\"CertificateOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:623:\"Structure
  that contains options for your certificate. Currently, you can use this only to
  specify whether to opt in to or out of certificate transparency logging. Some browsers
  require that public certificates issued for your domain be recorded in a log. Certificates
  that are not logged typically generate a browser error. Transparency makes it possible
  for you to detect SSL/TLS certificates that have been mistakenly or maliciously
  issued for your domain. For general information, see <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/acm-concepts.html#concept-transparency\">Certificate
  Transparency Logging</a>. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:40:\"CertificateTransparencyLoggingPreference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:54:\"#/definitions/CertificateTransparencyLoggingPreference\";s:11:\"description\";s:143:\"You
  can opt out of certificate transparency logging by specifying the <code>DISABLED</code>
  option. Opt in by specifying <code>ENABLED</code>. \";}}s:4:\"type\";s:6:\"object\";}s:17:\"CertificateStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:18:\"PENDING_VALIDATION\";i:1;s:6:\"ISSUED\";i:2;s:8:\"INACTIVE\";i:3;s:7:\"EXPIRED\";i:4;s:20:\"VALIDATION_TIMED_OUT\";i:5;s:7:\"REVOKED\";i:6;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:19:\"CertificateStatuses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CertificateStatus\";}s:4:\"type\";s:5:\"array\";}s:18:\"CertificateSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"This
  structure is returned in the response object of <a>ListCertificates</a> action.
  \";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:367:\"<p>Amazon
  Resource Name (ARN) of the certificate. This is of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code>
  </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Names (ARNs) and AWS Service Namespaces</a>. </p>\";}s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DomainNameString\";s:11:\"description\";s:96:\"Fully
  qualified domain name (FQDN), such as www.example.com or example.com, for the certificate.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CertificateSummaryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CertificateSummary\";}s:4:\"type\";s:5:\"array\";}s:40:\"CertificateTransparencyLoggingPreference\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"ENABLED\";i:1;s:8:\"DISABLED\";}s:4:\"type\";s:6:\"string\";}s:15:\"CertificateType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:8:\"IMPORTED\";i:1;s:13:\"AMAZON_ISSUED\";i:2;s:7:\"PRIVATE\";}s:4:\"type\";s:6:\"string\";}s:24:\"DeleteCertificateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:391:\"<p>String
  that contains the ARN of the ACM certificate to be deleted. This must be of the
  form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code>
  </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Names (ARNs) and AWS Service Namespaces</a>.</p>\";}}s:8:\"required\";a:1:{i:0;s:14:\"CertificateArn\";}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeCertificateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:391:\"<p>The
  Amazon Resource Name (ARN) of the ACM certificate. The ARN must have the following
  form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code>
  </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Names (ARNs) and AWS Service Namespaces</a>.</p>\";}}s:8:\"required\";a:1:{i:0;s:14:\"CertificateArn\";}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeCertificateResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"Certificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CertificateDetail\";s:11:\"description\";s:34:\"Metadata
  about an ACM certificate.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"DomainList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DomainNameString\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:16:\"DomainNameString\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:253;s:9:\"minLength\";i:1;s:7:\"pattern\";s:86:\"^(\\*\\.)?(((?!-)[A-Za-z0-9-]{0,62}[A-Za-z0-9])\\.)+((?!-)[A-Za-z0-9-]{1,62}[A-Za-z0-9])$\";s:4:\"type\";s:6:\"string\";}s:12:\"DomainStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:18:\"PENDING_VALIDATION\";i:1;s:7:\"SUCCESS\";i:2;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:16:\"DomainValidation\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"Contains
  information about the validation of each domain name in the certificate.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DomainNameString\";s:11:\"description\";s:128:\"A
  fully qualified domain name (FQDN) in the certificate. For example, <code>www.example.com</code>
  or <code>example.com</code>. \";}s:14:\"ResourceRecord\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ResourceRecord\";s:11:\"description\";s:233:\"Contains
  the CNAME record that you add to your DNS database for domain validation. For more
  information, see <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/gs-acm-validate-dns.html\">Use
  DNS to Validate Domain Ownership</a>.\";}s:16:\"ValidationDomain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DomainNameString\";s:11:\"description\";s:63:\"The
  domain name that ACM used to send domain validation emails.\";}s:16:\"ValidationEmails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ValidationEmailList\";s:11:\"description\";s:73:\"A
  list of email addresses that ACM used to send domain validation emails.\";}s:16:\"ValidationMethod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ValidationMethod\";s:11:\"description\";s:39:\"Specifies
  the domain validation method.\";}s:16:\"ValidationStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DomainStatus\";s:11:\"description\";s:219:\"<p>The
  validation status of the domain name. This can be one of the following values:</p>
  <ul> <li> <p> <code>PENDING_VALIDATION</code> </p> </li> <li> <p> <code/>SUCCESS</p>
  </li> <li> <p> <code/>FAILED</p> </li> </ul>\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:20:\"DomainValidationList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DomainValidation\";}s:8:\"maxItems\";i:1000;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:22:\"DomainValidationOption\";O:8:\"stdClass\":4:{s:11:\"description\";s:133:\"Contains
  information about the domain names that you want ACM to use to send you emails that
  enable you to validate domain ownership.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DomainNameString\";s:11:\"description\";s:64:\"A
  fully qualified domain name (FQDN) in the certificate request.\";}s:16:\"ValidationDomain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DomainNameString\";s:11:\"description\";s:704:\"<p>The
  domain name that you want ACM to use to send you validation emails. This domain
  name is the suffix of the email addresses that you want ACM to use. This must be
  the same as the <code>DomainName</code> value or a superdomain of the <code>DomainName</code>
  value. For example, if you request a certificate for <code>testing.example.com</code>,
  you can specify <code>example.com</code> for this value. In that case, ACM sends
  domain validation emails to the following five addresses:</p> <ul> <li> <p>admin@example.com</p>
  </li> <li> <p>administrator@example.com</p> </li> <li> <p>hostmaster@example.com</p>
  </li> <li> <p>postmaster@example.com</p> </li> <li> <p>webmaster@example.com</p>
  </li> </ul>\";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:16:\"ValidationDomain\";}s:4:\"type\";s:6:\"object\";}s:26:\"DomainValidationOptionList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DomainValidationOption\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:24:\"ExportCertificateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:187:\"<p>An
  Amazon Resource Name (ARN) of the issued certificate. This must be of the form:</p>
  <p> <code>arn:aws:acm:region:account:certificate/12345678-1234-1234-1234-123456789012</code>
  </p>\";}s:10:\"Passphrase\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PassphraseBlob\";s:11:\"description\";s:295:\"<p>Passphrase
  to associate with the encrypted exported private key. If you want to later decrypt
  the private key, you must have the passphrase. You can use the following OpenSSL
  command to decrypt a private key: </p> <p> <code>openssl rsa -in encrypted_key.pem
  -out decrypted_key.pem</code> </p>\";}}s:8:\"required\";a:2:{i:0;s:14:\"CertificateArn\";i:1;s:10:\"Passphrase\";}s:4:\"type\";s:6:\"object\";}s:25:\"ExportCertificateResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Certificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CertificateBody\";s:11:\"description\";s:35:\"The
  base64 PEM-encoded certificate.\";}s:16:\"CertificateChain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CertificateChain\";s:11:\"description\";s:103:\"The
  base64 PEM-encoded certificate chain. This does not include the certificate that
  you are exporting.\";}s:10:\"PrivateKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PrivateKey\";s:11:\"description\";s:78:\"The
  PEM-encoded private key associated with the public key in the certificate.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ExtendedKeyUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:204:\"The
  Extended Key Usage X.509 v3 extension defines one or more purposes for which the
  public key can be used. This is in addition to or in place of the basic purposes
  specified by the Key Usage extension. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ExtendedKeyUsageName\";s:11:\"description\";s:40:\"The
  name of an Extended Key Usage value.\";}s:3:\"OID\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:812:\"<p>An
  object identifier (OID) for the extension value. OIDs are strings of numbers separated
  by periods. The following OIDs are defined in RFC 3280 and RFC 5280. </p> <ul> <li>
  <p> <code>1.3.6.1.5.5.7.3.1 (TLS_WEB_SERVER_AUTHENTICATION)</code> </p> </li> <li>
  <p> <code>1.3.6.1.5.5.7.3.2 (TLS_WEB_CLIENT_AUTHENTICATION)</code> </p> </li> <li>
  <p> <code>1.3.6.1.5.5.7.3.3 (CODE_SIGNING)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.4
  (EMAIL_PROTECTION)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.8 (TIME_STAMPING)</code>
  </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.9 (OCSP_SIGNING)</code> </p> </li> <li>
  <p> <code>1.3.6.1.5.5.7.3.5 (IPSEC_END_SYSTEM)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.6
  (IPSEC_TUNNEL)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.7 (IPSEC_USER)</code>
  </p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ExtendedKeyUsageFilterList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ExtendedKeyUsageName\";}s:4:\"type\";s:5:\"array\";}s:20:\"ExtendedKeyUsageList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExtendedKeyUsage\";}s:4:\"type\";s:5:\"array\";}s:20:\"ExtendedKeyUsageName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:12:{i:0;s:29:\"TLS_WEB_SERVER_AUTHENTICATION\";i:1;s:29:\"TLS_WEB_CLIENT_AUTHENTICATION\";i:2;s:12:\"CODE_SIGNING\";i:3;s:16:\"EMAIL_PROTECTION\";i:4;s:13:\"TIME_STAMPING\";i:5;s:12:\"OCSP_SIGNING\";i:6;s:16:\"IPSEC_END_SYSTEM\";i:7;s:12:\"IPSEC_TUNNEL\";i:8;s:10:\"IPSEC_USER\";i:9;s:3:\"ANY\";i:10;s:4:\"NONE\";i:11;s:6:\"CUSTOM\";}s:4:\"type\";s:6:\"string\";}s:13:\"FailureReason\";O:8:\"stdClass\":2:{s:4:\"enum\";a:12:{i:0;s:21:\"NO_AVAILABLE_CONTACTS\";i:1;s:32:\"ADDITIONAL_VERIFICATION_REQUIRED\";i:2;s:18:\"DOMAIN_NOT_ALLOWED\";i:3;s:21:\"INVALID_PUBLIC_DOMAIN\";i:4;s:9:\"CAA_ERROR\";i:5;s:18:\"PCA_LIMIT_EXCEEDED\";i:6;s:15:\"PCA_INVALID_ARN\";i:7;s:17:\"PCA_INVALID_STATE\";i:8;s:18:\"PCA_REQUEST_FAILED\";i:9;s:22:\"PCA_RESOURCE_NOT_FOUND\";i:10;s:16:\"PCA_INVALID_ARGS\";i:11;s:5:\"OTHER\";}s:4:\"type\";s:6:\"string\";}s:7:\"Filters\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"This
  structure can be used in the <a>ListCertificates</a> action to filter the output
  of the certificate list. \";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"extendedKeyUsage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ExtendedKeyUsageFilterList\";s:11:\"description\";s:61:\"Specify
  one or more <a>ExtendedKeyUsage</a> extension values.\";}s:8:\"keyTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/KeyAlgorithmList\";s:11:\"description\";s:70:\"Specify
  one or more algorithms that can be used to generate key pairs.\";}s:8:\"keyUsage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/KeyUsageFilterList\";s:11:\"description\";s:53:\"Specify
  one or more <a>KeyUsage</a> extension values.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"GetCertificateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:362:\"<p>String
  that contains a certificate ARN in the following format:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code>
  </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Names (ARNs) and AWS Service Namespaces</a>.</p>\";}}s:8:\"required\";a:1:{i:0;s:14:\"CertificateArn\";}s:4:\"type\";s:6:\"object\";}s:22:\"GetCertificateResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Certificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CertificateBody\";s:11:\"description\";s:83:\"String
  that contains the ACM certificate represented by the ARN specified at input.\";}s:16:\"CertificateChain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CertificateChain\";s:11:\"description\";s:98:\"The
  certificate chain that contains the root certificate issued by the certificate authority
  (CA).\";}}s:4:\"type\";s:6:\"object\";}s:16:\"IdempotencyToken\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:32;s:9:\"minLength\";i:1;s:7:\"pattern\";s:3:\"\\w+\";s:4:\"type\";s:6:\"string\";}s:24:\"ImportCertificateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"Certificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/CertificateBodyBlob\";s:11:\"description\";s:26:\"The
  certificate to import.\";}s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:204:\"The
  <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Name (ARN)</a> of an imported certificate to replace. To import a new certificate,
  omit this field. \";}s:16:\"CertificateChain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/CertificateChainBlob\";s:11:\"description\";s:34:\"The
  PEM encoded certificate chain.\";}s:10:\"PrivateKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PrivateKeyBlob\";s:11:\"description\";s:63:\"The
  private key that matches the public key in the certificate.\";}}s:8:\"required\";a:2:{i:0;s:11:\"Certificate\";i:1;s:10:\"PrivateKey\";}s:4:\"type\";s:6:\"object\";}s:25:\"ImportCertificateResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:147:\"The
  <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Name (ARN)</a> of the imported certificate.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"InUseList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:19:\"InvalidArnException\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  requested Amazon Resource Name (ARN) does not refer to an existing resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:39:\"InvalidDomainValidationOptionsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"One
  or more values in the <a>DomainValidationOption</a> structure is incorrect.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InvalidStateException\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Processing
  has reached an invalid state.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:19:\"InvalidTagException\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"One
  or both of the values that make up the key-value pair is not valid. For example,
  you cannot specify a tag value that begins with <code>aws:</code>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:12:\"KeyAlgorithm\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:8:\"RSA_2048\";i:1;s:8:\"RSA_1024\";i:2;s:8:\"RSA_4096\";i:3;s:13:\"EC_prime256v1\";i:4;s:12:\"EC_secp384r1\";i:5;s:12:\"EC_secp521r1\";}s:4:\"type\";s:6:\"string\";}s:16:\"KeyAlgorithmList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/KeyAlgorithm\";}s:4:\"type\";s:5:\"array\";}s:8:\"KeyUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  Key Usage X.509 v3 extension defines the purpose of the public key contained in
  the certificate.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/KeyUsageName\";s:11:\"description\";s:56:\"A
  string value that contains a Key Usage extension name.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"KeyUsageFilterList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/KeyUsageName\";}s:4:\"type\";s:5:\"array\";}s:12:\"KeyUsageList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/KeyUsage\";}s:4:\"type\";s:5:\"array\";}s:12:\"KeyUsageName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:11:{i:0;s:17:\"DIGITAL_SIGNATURE\";i:1;s:15:\"NON_REPUDIATION\";i:2;s:16:\"KEY_ENCIPHERMENT\";i:3;s:17:\"DATA_ENCIPHERMENT\";i:4;s:13:\"KEY_AGREEMENT\";i:5;s:19:\"CERTIFICATE_SIGNING\";i:6;s:11:\"CRL_SIGNING\";i:7;s:13:\"ENCIPHER_ONLY\";i:8;s:13:\"DECIPHER_ONLY\";i:9;s:3:\"ANY\";i:10;s:6:\"CUSTOM\";}s:4:\"type\";s:6:\"string\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"An
  ACM limit has been exceeded.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListCertificatesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"CertificateStatuses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/CertificateStatuses\";s:11:\"description\";s:44:\"Filter
  the certificate list by status value.\";}s:8:\"Includes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Filters\";s:11:\"description\";s:84:\"Filter
  the certificate list. For more information, see the <a>Filters</a> structure.\";}s:8:\"MaxItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/MaxItems\";s:11:\"description\";s:317:\"Use
  this parameter when paginating results to specify the maximum number of items to
  return in the response. If additional items exist beyond the number you specify,
  the <code>NextToken</code> element is sent in the response. Use this <code>NextToken</code>
  value in a subsequent request to retrieve additional items.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:216:\"Use
  this parameter only when paginating results and only in a subsequent request after
  you receive a response with truncated results. Set it to the value of <code>NextToken</code>
  from the response you just received.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListCertificatesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"CertificateSummaryList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/CertificateSummaryList\";s:11:\"description\";s:27:\"A
  list of ACM certificates.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:156:\"When
  the list is truncated, this value is present and contains the value to use for the
  <code>NextToken</code> parameter in a subsequent pagination request.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListTagsForCertificateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:423:\"<p>String
  that contains the ARN of the ACM certificate for which you want to list the tags.
  This must have the following form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code>
  </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Names (ARNs) and AWS Service Namespaces</a>. </p>\";}}s:8:\"required\";a:1:{i:0;s:14:\"CertificateArn\";}s:4:\"type\";s:6:\"object\";}s:30:\"ListTagsForCertificateResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:49:\"The
  key-value pairs that define the applied tags.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"MaxItems\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:1000;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:9:\"NextToken\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:320;s:9:\"minLength\";i:1;s:7:\"pattern\";s:34:\"[\\u0009\\u000A\\u000D\\u0020-\\u00FF]*\";s:4:\"type\";s:6:\"string\";}s:14:\"PassphraseBlob\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:128;s:9:\"minLength\";i:4;s:4:\"type\";s:6:\"string\";}s:10:\"PrivateKey\";O:8:\"stdClass\":5:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:524288;s:9:\"minLength\";i:1;s:7:\"pattern\";s:148:\"-{5}BEGIN
  PRIVATE KEY-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END
  PRIVATE KEY-{5}(\\u000D?\\u000A)?\";s:4:\"type\";s:6:\"string\";}s:14:\"PrivateKeyBlob\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:524288;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"RecordType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:5:\"CNAME\";}s:4:\"type\";s:6:\"string\";}s:32:\"RemoveTagsFromCertificateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:424:\"<p>String
  that contains the ARN of the ACM Certificate with one or more tags that you want
  to remove. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code>
  </p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Names (ARNs) and AWS Service Namespaces</a>. </p>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:50:\"The
  key-value pair that defines the tag to remove.\";}}s:8:\"required\";a:2:{i:0;s:14:\"CertificateArn\";i:1;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:18:\"RenewalEligibility\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:8:\"ELIGIBLE\";i:1;s:10:\"INELIGIBLE\";}s:4:\"type\";s:6:\"string\";}s:13:\"RenewalStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:20:\"PENDING_AUTO_RENEWAL\";i:1;s:18:\"PENDING_VALIDATION\";i:2;s:7:\"SUCCESS\";i:3;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:14:\"RenewalSummary\";O:8:\"stdClass\":4:{s:11:\"description\";s:246:\"Contains
  information about the status of ACM's <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed
  renewal</a> for the certificate. This structure exists only when the certificate
  type is <code>AMAZON_ISSUED</code>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"DomainValidationOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DomainValidationList\";s:11:\"description\";s:393:\"Contains
  information about the validation of each domain name in the certificate, as it pertains
  to ACM's <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed
  renewal</a>. This is different from the initial validation that occurs as a result
  of the <a>RequestCertificate</a> request. This field exists only when the certificate
  type is <code>AMAZON_ISSUED</code>.\";}s:13:\"RenewalStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RenewalStatus\";s:11:\"description\";s:134:\"The
  status of ACM's <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed
  renewal</a> of the certificate.\";}}s:8:\"required\";a:2:{i:0;s:13:\"RenewalStatus\";i:1;s:23:\"DomainValidationOptions\";}s:4:\"type\";s:6:\"object\";}s:25:\"RequestCertificateRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:23:\"CertificateAuthorityArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:606:\"<p>The
  Amazon Resource Name (ARN) of the private certificate authority (CA) that will be
  used to issue the certificate. If you do not provide an ARN and you are trying to
  request a private certificate, ACM will attempt to issue a public certificate. For
  more information about private CAs, see the <a href=\"http://docs.aws.amazon.com/acm-pca/latest/userguide/PcaWelcome.html\">AWS
  Certificate Manager Private Certificate Authority (PCA)</a> user guide. The ARN
  must have the following form: </p> <p> <code>arn:aws:acm-pca:region:account:certificate-authority/12345678-1234-1234-1234-123456789012</code>
  </p>\";}s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DomainNameString\";s:11:\"description\";s:491:\"<p>
  Fully qualified domain name (FQDN), such as www.example.com, that you want to secure
  with an ACM certificate. Use an asterisk (*) to create a wildcard certificate that
  protects several sites in the same domain. For example, *.example.com protects www.example.com,
  site.example.com, and images.example.com. </p> <p> The first domain name you enter
  cannot exceed 63 octets, including periods. Each subsequent Subject Alternative
  Name (SAN), however, can be up to 253 octets in length. </p>\";}s:23:\"DomainValidationOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/DomainValidationOptionList\";s:11:\"description\";s:102:\"The
  domain name that you want ACM to use to send you emails so that you can validate
  domain ownership.\";}s:16:\"IdempotencyToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IdempotencyToken\";s:11:\"description\";s:465:\"Customer
  chosen string that can be used to distinguish between calls to <code>RequestCertificate</code>.
  Idempotency tokens time out after one hour. Therefore, if you call <code>RequestCertificate</code>
  multiple times with the same idempotency token within one hour, ACM recognizes that
  you are requesting only one certificate and will issue only one. If you change the
  idempotency token for each call, ACM recognizes that you are requesting multiple
  certificates.\";}s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CertificateOptions\";s:11:\"description\";s:512:\"Currently,
  you can use this parameter to specify whether to add the certificate to a certificate
  transparency log. Certificate transparency makes it possible to detect SSL/TLS certificates
  that have been mistakenly or maliciously issued. Certificates that have not been
  logged typically produce an error message in a browser. For more information, see
  <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/acm-bestpractices.html#best-practices-transparency\">Opting
  Out of Certificate Transparency Logging</a>.\";}s:23:\"SubjectAlternativeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainList\";s:11:\"description\";s:1340:\"<p>Additional
  FQDNs to be included in the Subject Alternative Name extension of the ACM certificate.
  For example, add the name www.example.net to a certificate for which the <code>DomainName</code>
  field is www.example.com if users can reach your site by using either name. The
  maximum number of domain names that you can add to an ACM certificate is 100. However,
  the initial limit is 10 domain names. If you need more than 10 names, you must request
  a limit increase. For more information, see <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/acm-limits.html\">Limits</a>.</p>
  <p> The maximum length of a SAN DNS name is 253 octets. The name is made up of multiple
  labels separated by periods. No label can be longer than 63 octets. Consider the
  following examples: </p> <ul> <li> <p> <code>(63 octets).(63 octets).(63 octets).(61
  octets)</code> is legal because the total length is 253 octets (63+1+63+1+63+1+61)
  and no label exceeds 63 octets.</p> </li> <li> <p> <code>(64 octets).(63 octets).(63
  octets).(61 octets)</code> is not legal because the total length exceeds 253 octets
  (64+1+63+1+63+1+61) and the first label exceeds 63 octets.</p> </li> <li> <p> <code>(63
  octets).(63 octets).(63 octets).(62 octets)</code> is not legal because the total
  length of the DNS name (63+1+63+1+63+1+62) exceeds 253 octets.</p> </li> </ul>\";}s:16:\"ValidationMethod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ValidationMethod\";s:11:\"description\";s:382:\"The
  method you want to use if you are requesting a public certificate to validate that
  you own or control domain. You can <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/gs-acm-validate-dns.html\">validate
  with DNS</a> or <a href=\"http://docs.aws.amazon.com/acm/latest/userguide/gs-acm-validate-email.html\">validate
  with email</a>. We recommend that you use DNS validation. \";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:26:\"RequestCertificateResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:194:\"<p>String
  that contains the ARN of the issued certificate. This must be of the form:</p> <p>
  <code>arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012</code>
  </p>\";}}s:4:\"type\";s:6:\"object\";}s:26:\"RequestInProgressException\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  certificate request is in process and the certificate in your account has not yet
  been issued.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ResendValidationEmailRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:443:\"<p>String
  that contains the ARN of the requested certificate. The certificate ARN is generated
  and returned by the <a>RequestCertificate</a> action as soon as the request is made.
  By default, using this parameter causes email to be sent to all top-level domains
  you specified in the certificate request. The ARN must be of the form: </p> <p>
  <code>arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012</code>
  </p>\";}s:6:\"Domain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DomainNameString\";s:11:\"description\";s:85:\"The
  fully qualified domain name (FQDN) of the certificate that needs to be validated.\";}s:16:\"ValidationDomain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DomainNameString\";s:11:\"description\";s:783:\"<p>The
  base validation domain that will act as the suffix of the email addresses that are
  used to send the emails. This must be the same as the <code>Domain</code> value
  or a superdomain of the <code>Domain</code> value. For example, if you requested
  a certificate for <code>site.subdomain.example.com</code> and specify a <b>ValidationDomain</b>
  of <code>subdomain.example.com</code>, ACM sends email to the domain registrant,
  technical contact, and administrative contact in WHOIS and the following five addresses:</p>
  <ul> <li> <p>admin@subdomain.example.com</p> </li> <li> <p>administrator@subdomain.example.com</p>
  </li> <li> <p>hostmaster@subdomain.example.com</p> </li> <li> <p>postmaster@subdomain.example.com</p>
  </li> <li> <p>webmaster@subdomain.example.com</p> </li> </ul>\";}}s:8:\"required\";a:3:{i:0;s:14:\"CertificateArn\";i:1;s:6:\"Domain\";i:2;s:16:\"ValidationDomain\";}s:4:\"type\";s:6:\"object\";}s:22:\"ResourceInUseException\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  certificate is in use by another AWS service in the caller's account. Remove the
  association and try again.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  specified certificate cannot be found in the caller's account or the caller's account
  cannot be found.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ResourceRecord\";O:8:\"stdClass\":4:{s:11:\"description\";s:157:\"Contains
  a DNS record value that you can use to can use to validate ownership or control
  of a domain. This is used by the <a>DescribeCertificate</a> action. \";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:77:\"The
  name of the DNS record to create in your domain. This is supplied by ACM.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RecordType\";s:11:\"description\";s:65:\"The
  type of DNS record. Currently this can be <code>CNAME</code>.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:83:\"The
  value of the CNAME record to add to your DNS database. This is supplied by ACM.\";}}s:8:\"required\";a:3:{i:0;s:4:\"Name\";i:1;s:4:\"Type\";i:2;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:16:\"RevocationReason\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:11:\"UNSPECIFIED\";i:1;s:14:\"KEY_COMPROMISE\";i:2;s:13:\"CA_COMPROMISE\";i:3;s:19:\"AFFILIATION_CHANGED\";i:4;s:10:\"SUPERCEDED\";i:5;s:22:\"CESSATION_OF_OPERATION\";i:6;s:16:\"CERTIFICATE_HOLD\";i:7;s:15:\"REMOVE_FROM_CRL\";i:8;s:19:\"PRIVILEGE_WITHDRAWN\";i:9;s:14:\"A_A_COMPROMISE\";}s:4:\"type\";s:6:\"string\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TStamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"Tag\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"A
  key-value pair that identifies or specifies metadata about an ACM resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";s:11:\"description\";s:19:\"The
  key of the tag.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:21:\"The
  value of the tag.\";}}s:8:\"required\";a:1:{i:0;s:3:\"Key\";}s:4:\"type\";s:6:\"object\";}s:6:\"TagKey\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:28:\"[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@]*\";s:4:\"type\";s:6:\"string\";}s:7:\"TagList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:8:\"TagValue\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:7:\"pattern\";s:28:\"[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@]*\";s:4:\"type\";s:6:\"string\";}s:20:\"TooManyTagsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  request contains too many tags. Try the request again with fewer tags.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:31:\"UpdateCertificateOptionsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"CertificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:192:\"<p>ARN
  of the requested certificate to update. This must be of the form:</p> <p> <code>arn:aws:acm:us-east-1:<i>account</i>:certificate/<i>12345678-1234-1234-1234-123456789012</i>
  </code> </p>\";}s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CertificateOptions\";s:11:\"description\";s:341:\"Use
  to update the options for your certificate. Currently, you can specify whether to
  add your certificate to a transparency log. Certificate transparency makes it possible
  to detect SSL/TLS certificates that have been mistakenly or maliciously issued.
  Certificates that have not been logged typically produce an error message in a browser.
  \";}}s:8:\"required\";a:2:{i:0;s:14:\"CertificateArn\";i:1;s:7:\"Options\";}s:4:\"type\";s:6:\"object\";}s:19:\"ValidationEmailList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:16:\"ValidationMethod\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:5:\"EMAIL\";i:1;s:3:\"DNS\";}s:4:\"type\";s:6:\"string\";}}"
...
