---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:98:\"The
  App Engine Admin API enables developers to provision and manage their App Engine
  applications.\";s:5:\"title\";s:16:\"App Engine Admin\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:59:\"https://appengine.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:9:\"appengine\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"google_appengine\";s:4:\"type\";s:7:\"openapi\";}}"
host: appengine.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":68:{s:16:\"ApiConfigHandler\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"Google
  Cloud Endpoints (https://cloud.google.com/appengine/docs/python/endpoints/) configuration
  for API handlers.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"authFailAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Action
  to take when users access resources that require authentication. Defaults to redirect.\";s:4:\"enum\";a:3:{i:0;s:28:\"AUTH_FAIL_ACTION_UNSPECIFIED\";i:1;s:25:\"AUTH_FAIL_ACTION_REDIRECT\";i:2;s:29:\"AUTH_FAIL_ACTION_UNAUTHORIZED\";}s:4:\"type\";s:6:\"string\";}s:5:\"login\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Level
  of login required to access this resource. Defaults to optional.\";s:4:\"enum\";a:4:{i:0;s:17:\"LOGIN_UNSPECIFIED\";i:1;s:14:\"LOGIN_OPTIONAL\";i:2;s:11:\"LOGIN_ADMIN\";i:3;s:14:\"LOGIN_REQUIRED\";}s:4:\"type\";s:6:\"string\";}s:6:\"script\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Path
  to the script from the application root directory.\";s:4:\"type\";s:6:\"string\";}s:13:\"securityLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Security
  (HTTPS) enforcement for this URL.\";s:4:\"enum\";a:5:{i:0;s:18:\"SECURE_UNSPECIFIED\";i:1;s:14:\"SECURE_DEFAULT\";i:2;s:12:\"SECURE_NEVER\";i:3;s:15:\"SECURE_OPTIONAL\";i:4;s:13:\"SECURE_ALWAYS\";}s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"URL
  to serve the endpoint at.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ApiEndpointHandler\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Uses
  Google Cloud Endpoints to handle requests.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"scriptPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Path
  to the script from the application root directory.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Application\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"An
  Application resource contains the top-level configuration of an App Engine application.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"authDomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"Google
  Apps authentication domain that controls which users can access this application.Defaults
  to open access for any Google Account.\";s:4:\"type\";s:6:\"string\";}s:10:\"codeBucket\";O:8:\"stdClass\":2:{s:11:\"description\";s:205:\"Google
  Cloud Storage bucket that can be used for storing files associated with this application.
  This bucket is associated with the application and can be used by the gcloud deployment
  commands.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:13:\"defaultBucket\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Google
  Cloud Storage bucket that can be used by this application to store content.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:23:\"defaultCookieExpiration\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Cookie
  expiration policy for this application.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:15:\"defaultHostname\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Hostname
  used to reach this application, as resolved by App Engine.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:13:\"dispatchRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:188:\"HTTP
  path dispatch rules for requests to the application that do not explicitly target
  a service or version. Rules are order-dependent. Up to 20 dispatch rules can be
  supported.@OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/UrlDispatchRule\";}s:4:\"type\";s:5:\"array\";}s:15:\"featureSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FeatureSettings\";s:11:\"description\";s:60:\"The
  feature specific settings to be used in the application.\";}s:9:\"gcrDomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"The
  Google Container Registry domain used for storing managed build docker images for
  this application.\";s:4:\"type\";s:6:\"string\";}s:3:\"iap\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/IdentityAwareProxy\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:183:\"Identifier
  of the Application resource. This identifier is equivalent to the project ID of
  the Google Cloud Platform project where you want to deploy your application. Example:
  myapp.\";s:4:\"type\";s:6:\"string\";}s:10:\"locationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:304:\"Location
  from which this application runs. Application instances run out of the data centers
  in the specified location, which is also where all of the application's end user
  content is stored.Defaults to us-central.View the list of supported locations (https://cloud.google.com/appengine/docs/locations).\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Full
  path to the Application resource in the API. Example: apps/myapp.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:13:\"servingStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Serving
  status of this application.\";s:4:\"enum\";a:4:{i:0;s:11:\"UNSPECIFIED\";i:1;s:7:\"SERVING\";i:2;s:13:\"USER_DISABLED\";i:3;s:15:\"SYSTEM_DISABLED\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"AuthorizedCertificate\";O:8:\"stdClass\":3:{s:11:\"description\";s:165:\"An
  SSL certificate that a user has been authorized to administer. A user is authorized
  to administer any certificate that applies to one of their authorized domains.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:18:\"certificateRawData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CertificateRawData\";s:11:\"description\";s:129:\"The
  SSL certificate serving the AuthorizedCertificate resource. This must be obtained
  independently from a certificate authority.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"The
  user-specified display name of the certificate. This is not guaranteed to be unique.
  Example: My Certificate.\";s:4:\"type\";s:6:\"string\";}s:19:\"domainMappingsCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:286:\"Aggregate
  count of the domain mappings with this certificate mapped. This count includes domain
  mappings on applications for which the user does not have VIEWER permissions.Only
  returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE
  option.@OutputOnly\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"domainNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"Topmost
  applicable domains of this certificate. This certificate applies to these domains
  and their subdomains. Example: example.com.@OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"expireTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:215:\"The
  time when this certificate expires. To update the renewal time on this certificate,
  upload an SSL certificate with a different expiration time using AuthorizedCertificates.UpdateAuthorizedCertificate.@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"Relative
  name of the certificate. This is a unique value autogenerated on AuthorizedCertificate
  resource creation. Example: 12345.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"Full
  path to the AuthorizedCertificate resource in the API. Example: apps/myapp/authorizedCertificates/12345.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:21:\"visibleDomainMappings\";O:8:\"stdClass\":3:{s:11:\"description\";s:468:\"The
  full paths to user visible Domain Mapping resources that have this certificate mapped.
  Example: apps/myapp/domainMappings/example.com.This may not represent the full list
  of mapped domain mappings if the user does not have VIEWER permissions on all of
  the applications that have this certificate mapped. See domain_mappings_count for
  a complete count.Only returned by GET or LIST requests when specifically requested
  by the view=FULL_CERTIFICATE option.@OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AuthorizedDomain\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"A
  domain that a user has been authorized to administer. To authorize use of a domain,
  verify ownership via Webmaster Central (https://www.google.com/webmasters/verification/home).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Fully
  qualified domain name of the domain authorized for use. Example: example.com.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Full
  path to the AuthorizedDomain resource in the API. Example: apps/myapp/authorizedDomains/example.com.@OutputOnly\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AutomaticScaling\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Automatic
  scaling is based on request rate, response latencies, and other application metrics.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:14:\"coolDownPeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:205:\"Amount
  of time that the Autoscaler (https://cloud.google.com/compute/docs/autoscaler/)
  should wait between changes to the number of virtual machines. Only applicable in
  the App Engine flexible environment.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:14:\"cpuUtilization\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CpuUtilization\";s:11:\"description\";s:28:\"Target
  scaling by CPU usage.\";}s:15:\"diskUtilization\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DiskUtilization\";s:11:\"description\";s:29:\"Target
  scaling by disk usage.\";}s:21:\"maxConcurrentRequests\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"Number
  of concurrent requests an automatic scaling instance can accept before the scheduler
  spawns a new instance.Defaults to a runtime-specific value.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"maxIdleInstances\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Maximum
  number of idle instances that should be maintained for this version.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"maxPendingLatency\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Maximum
  amount of time that a request should wait in the pending queue before starting a
  new instance to handle it.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:17:\"maxTotalInstances\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Maximum
  number of instances that should be started to handle requests for this version.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"minIdleInstances\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"Minimum
  number of idle instances that should be maintained for this version. Only applicable
  for the default version of a service.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"minPendingLatency\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Minimum
  amount of time a request should wait in the pending queue before starting a new
  instance to handle it.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:17:\"minTotalInstances\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Minimum
  number of running instances that should be maintained for this version.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"networkUtilization\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NetworkUtilization\";s:11:\"description\";s:32:\"Target
  scaling by network usage.\";}s:18:\"requestUtilization\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/RequestUtilization\";s:11:\"description\";s:38:\"Target
  scaling by request utilization.\";}s:25:\"standardSchedulerSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/StandardSchedulerSettings\";s:11:\"description\";s:44:\"Scheduler
  settings for standard environment.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"BasicScaling\";O:8:\"stdClass\":3:{s:11:\"description\";s:234:\"A
  service with basic scaling will create an instance when the application receives
  a request. The instance will be turned down when the app becomes idle. Basic scaling
  is ideal for work that is intermittent or driven by user activity.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"idleTimeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Duration
  of time after the last request that an instance must wait before the instance is
  shut down.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:12:\"maxInstances\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Maximum
  number of instances to create for this version.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:30:\"BatchUpdateIngressRulesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Request
  message for Firewall.BatchUpdateIngressRules.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"ingressRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"A
  list of FirewallRules to replace the existing set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FirewallRule\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:31:\"BatchUpdateIngressRulesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Response
  message for Firewall.UpdateAllIngressRules.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"ingressRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  full list of ingress FirewallRules for this application.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FirewallRule\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CertificateRawData\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"An
  SSL certificate obtained from a certificate authority.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"privateKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:303:\"Unencrypted
  PEM encoded RSA private key. This field is set once on certificate creation and
  then encrypted. The key size must be 2048 bits or fewer. Must include the header
  and footer. Example: <pre> -----BEGIN RSA PRIVATE KEY----- <unencrypted_key_value>
  -----END RSA PRIVATE KEY----- </pre> @InputOnly\";s:4:\"type\";s:6:\"string\";}s:17:\"publicCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:221:\"PEM
  encoded x.509 public key certificate. This field is set once on certificate creation.
  Must include the header and footer. Example: <pre> -----BEGIN CERTIFICATE----- <certificate_value>
  -----END CERTIFICATE----- </pre>\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CloudBuildOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"Options
  for the build operations performed as a part of the version deployment. Only applicable
  for App Engine flexible environment when creating a version using source code directly.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"appYamlPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:222:\"Path
  to the yaml file used in deployment, used to determine runtime configuration details.Required
  for flexible environment builds.See https://cloud.google.com/appengine/docs/standard/python/config/appref
  for more details.\";s:4:\"type\";s:6:\"string\";}s:17:\"cloudBuildTimeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  Cloud Build timeout used as part of any dependent builds performed by version creation.
  Defaults to 10 minutes.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ContainerInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"Docker
  image that is used to create a container and start a VM instance for the version
  that you deploy. Only applicable for instances running in the App Engine flexible
  environment.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:200:\"URI
  to the hosted container image in Google Container Registry. The URI must be fully
  qualified and include a tag or digest. Examples: \"gcr.io/my-project/image:tag\"
  or \"gcr.io/my-project/image@digest\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CpuUtilization\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Target
  scaling by CPU usage.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"aggregationWindowLength\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Period
  of time over which CPU utilization is calculated.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:17:\"targetUtilization\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Target
  CPU utilization ratio to maintain when scaling. Must be between 0 and 1.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreateVersionMetadataV1\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"Metadata
  for the given google.longrunning.Operation during a google.appengine.v1.CreateVersionRequest.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"cloudBuildId\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  Cloud Build ID if one was created as part of the version create. @OutputOnly\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"CreateVersionMetadataV1Alpha\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Metadata
  for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"cloudBuildId\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  Cloud Build ID if one was created as part of the version create. @OutputOnly\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CreateVersionMetadataV1Beta\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Metadata
  for the given google.longrunning.Operation during a google.appengine.v1beta.CreateVersionRequest.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"cloudBuildId\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  Cloud Build ID if one was created as part of the version create. @OutputOnly\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DebugInstanceRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Request
  message for Instances.DebugInstance.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"sshKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:315:\"Public
  SSH key to add to the instance. Examples:\n[USERNAME]:ssh-rsa [KEY_VALUE] [USERNAME]\n[USERNAME]:ssh-rsa
  [KEY_VALUE] google-ssh {\"userName\":\"[USERNAME]\",\"expireOn\":\"[EXPIRE_TIME]\"}For
  more information, see Adding and Removing SSH Keys (https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Deployment\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Code
  and application artifacts used to deploy a version to App Engine.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"cloudBuildOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CloudBuildOptions\";s:11:\"description\";s:349:\"Options
  for any Google Cloud Container Builder builds created as a part of this deployment.Note
  that this is orthogonal to the build parameter, where the deployment depends on
  an already existing cloud build. These options will only be used if a new build
  is created, such as when deploying to the App Engine flexible environment using
  files or zip.\";}s:9:\"container\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ContainerInfo\";s:11:\"description\";s:135:\"The
  Docker image for the container that runs the version. Only applicable for instances
  running in the App Engine flexible environment.\";}s:5:\"files\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/FileInfo\";}s:11:\"description\";s:169:\"Manifest
  of the files stored in Google Cloud Storage that are included as part of this version.
  All files must be readable using the credentials supplied with this call.\";s:4:\"type\";s:6:\"object\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/ZipInfo\";s:11:\"description\";s:62:\"The
  zip file for this deployment, if this is a zip deployment.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DiskUtilization\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Target
  scaling by disk usage. Only applicable in the App Engine flexible environment.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:24:\"targetReadBytesPerSecond\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Target
  bytes read per second.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:22:\"targetReadOpsPerSecond\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Target
  ops read per seconds.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"targetWriteBytesPerSecond\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Target
  bytes written per second.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:23:\"targetWriteOpsPerSecond\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Target
  ops written per second.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DomainMapping\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"A
  domain serving an App Engine application.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Relative
  name of the domain serving the application. Example: example.com.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Full
  path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:15:\"resourceRecords\";O:8:\"stdClass\":3:{s:11:\"description\";s:195:\"The
  resource records required to configure this domain mapping. These records must be
  added to the domain's DNS configuration in order to serve the application via this
  domain mapping.@OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResourceRecord\";}s:4:\"type\";s:5:\"array\";}s:11:\"sslSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SslSettings\";s:11:\"description\";s:88:\"SSL
  configuration for this domain. If unconfigured, this domain will not serve with
  SSL.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:341:\"A
  generic empty message that you can re-use to avoid defining duplicated empty messages
  in your APIs. A typical example is to use it as the request or the response type
  of an API method. For instance:\nservice Foo {\n  rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n}\nThe JSON representation for Empty is empty
  JSON object {}.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"EndpointsApiService\";O:8:\"stdClass\":3:{s:11:\"description\";s:394:\"Cloud
  Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API
  Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy.
  Only valid for App Engine Flexible environment deployments.The fields here refer
  to the name and configuration ID of a \"service\" resource in the Service Management
  API (https://cloud.google.com/service-management/overview).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"configId\";O:8:\"stdClass\":2:{s:11:\"description\";s:637:\"Endpoints
  service configuration ID as specified by the Service Management API. For example
  \"2016-09-19r1\".By default, the rollout strategy for Endpoints is RolloutStrategy.FIXED.
  This means that Endpoints starts up with a particular configuration ID. When a new
  configuration is rolled out, Endpoints must be given the new configuration ID. The
  config_id field is used to give the configuration ID and is required in this case.Endpoints
  also has a rollout strategy called RolloutStrategy.MANAGED. When using this, Endpoints
  fetches the latest configuration and does not need the configuration ID. In this
  case, config_id must be omitted.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"Endpoints
  service name which is the name of the \"service\" resource in the Service Management
  API. For example \"myapi.endpoints.myproject.cloud.goog\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorHandler\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Custom
  static error page to be served when an error occurs.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"errorCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Error
  condition this handler applies to.\";s:4:\"enum\";a:5:{i:0;s:22:\"ERROR_CODE_UNSPECIFIED\";i:1;s:18:\"ERROR_CODE_DEFAULT\";i:2;s:21:\"ERROR_CODE_OVER_QUOTA\";i:3;s:25:\"ERROR_CODE_DOS_API_DENIAL\";i:4;s:18:\"ERROR_CODE_TIMEOUT\";}s:4:\"type\";s:6:\"string\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"MIME
  type of file. Defaults to text/html.\";s:4:\"type\";s:6:\"string\";}s:10:\"staticFile\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Static
  file content to be served for this error.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"FeatureSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  feature specific settings to be used in the application. These define behaviors
  that are user configurable.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"splitHealthChecks\";O:8:\"stdClass\":2:{s:11:\"description\";s:339:\"Boolean
  value indicating if split health checks should be used instead of the legacy health
  checks. At an app.yaml level, this means defaulting to 'readiness_check' and 'liveness_check'
  values instead of 'health_check' ones. Once the legacy 'health_check' behavior is
  deprecated, and this value is always true, this setting can be removed.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:8:\"FileInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"Single
  source file that is part of the version to be deployed. Each source file that is
  deployed must be specified separately.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  MIME type of the file.Defaults to the value from Google Cloud Storage.\";s:4:\"type\";s:6:\"string\";}s:7:\"sha1Sum\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  SHA1 hash of the file, in hex.\";s:4:\"type\";s:6:\"string\";}s:9:\"sourceUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"URL
  source to use to fetch this file. Must be a URL to a resource in Google Cloud Storage
  in the form 'http(s)://storage.googleapis.com/<bucket>/<object>'.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"FirewallRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"A
  single firewall rule that is evaluated against incoming traffic and provides an
  action to take on matched requests.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"action\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  action to take on matched requests.\";s:4:\"enum\";a:3:{i:0;s:18:\"UNSPECIFIED_ACTION\";i:1;s:5:\"ALLOW\";i:2;s:4:\"DENY\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"An
  optional string description of this rule. This field has a maximum length of 100
  characters.\";s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:305:\"A
  positive integer between 1, Int32.MaxValue-1 that defines the order of rule evaluation.
  Rules with the lowest priority are evaluated first.A default rule at priority Int32.MaxValue
  matches all IPv4 and IPv6 traffic when no previous rule matches. Only the action
  of this rule can be modified by the user.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"sourceRange\";O:8:\"stdClass\":2:{s:11:\"description\";s:531:\"IP
  address or range, defined using CIDR notation, of requests that this rule applies
  to. You can use the wildcard character \"*\" to match all IPs equivalent to \"0/0\"
  and \"::/0\" together. Examples: 192.168.1.1 or 192.168.0.0/16 or 2001:db8::/32
  \ or 2001:0db8:0000:0042:0000:8a2e:0370:7334.<p>Truncation will be silently performed
  on addresses which are not properly truncated. For example, 1.2.3.4/24 is accepted
  as the same address as 1.2.3.0/24. Similarly, for IPv6, 2001:db8::1/32 is accepted
  as the same address as 2001:db8::/32.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"HealthCheck\";O:8:\"stdClass\":3:{s:11:\"description\";s:177:\"Health
  checking configuration for VM instances. Unhealthy instances are killed and replaced
  with new instances. Only applicable for instances in App Engine flexible environment.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"checkInterval\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Interval
  between health checks.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:18:\"disableHealthCheck\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Whether
  to explicitly disable health checks for this instance.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"healthyThreshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Number
  of consecutive successful health checks required before receiving traffic.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:4:\"host\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Host
  header to send when performing an HTTP health check. Example: \"myapp.appspot.com\"\";s:4:\"type\";s:6:\"string\";}s:16:\"restartThreshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Number
  of consecutive failed health checks required before an instance is restarted.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:7:\"timeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Time
  before the health check is considered failed.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:18:\"unhealthyThreshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Number
  of consecutive failed health checks required before removing traffic.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"IdentityAwareProxy\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Identity-Aware
  Proxy\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"Whether
  the serving infrastructure will authenticate and authorize all incoming requests.If
  true, the oauth2_client_id and oauth2_client_secret fields must be non-empty.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"oauth2ClientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"OAuth2
  client ID to use for the authentication flow.\";s:4:\"type\";s:6:\"string\";}s:18:\"oauth2ClientSecret\";O:8:\"stdClass\":2:{s:11:\"description\";s:224:\"OAuth2
  client secret to use for the authentication flow.For security reasons, this value
  cannot be retrieved via the API. Instead, the SHA-256 hash of the value is returned
  in the oauth2_client_secret_sha256 field.@InputOnly\";s:4:\"type\";s:6:\"string\";}s:24:\"oauth2ClientSecretSha256\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Hex-encoded
  SHA-256 hash of the client secret.@OutputOnly\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Instance\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"An
  Instance resource is the computing unit that App Engine uses to automatically scale
  an application.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:16:\"appEngineRelease\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"App
  Engine release this instance is running on.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:12:\"availability\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Availability
  of the instance.@OutputOnly\";s:4:\"enum\";a:3:{i:0;s:11:\"UNSPECIFIED\";i:1;s:8:\"RESIDENT\";i:2;s:7:\"DYNAMIC\";}s:4:\"type\";s:6:\"string\";}s:14:\"averageLatency\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Average
  latency (ms) over the last minute.@OutputOnly\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Number
  of errors since this instance was started.@OutputOnly\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Relative
  name of the instance within the version. Example: instance-1.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:11:\"memoryUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Total
  memory in use (bytes).@OutputOnly\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Full
  path to the Instance resource in the API. Example: apps/myapp/services/default/versions/v1/instances/instance-1.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:3:\"qps\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Average
  queries per second (QPS) over the last minute.@OutputOnly\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"requests\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Number
  of requests since this instance was started.@OutputOnly\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Time
  that this instance was started.@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:14:\"vmDebugEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Whether
  this instance is in debug mode. Only applicable for instances in App Engine flexible
  environment.@OutputOnly\";s:4:\"type\";s:7:\"boolean\";}s:4:\"vmId\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Virtual
  machine ID of this instance. Only applicable for instances in App Engine flexible
  environment.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:4:\"vmIp\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"The
  IP address of this instance. Only applicable for instances in App Engine flexible
  environment.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:6:\"vmName\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"Name
  of the virtual machine where this instance lives. Only applicable for instances
  in App Engine flexible environment.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:8:\"vmStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"Status
  of the virtual machine where this instance lives. Only applicable for instances
  in App Engine flexible environment.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:10:\"vmZoneName\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"Zone
  where the virtual machine is located. Only applicable for instances in App Engine
  flexible environment.@OutputOnly\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Library\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Third-party
  Python runtime library that is required by the application.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Name
  of the library. Example: \"django\".\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Version
  of the library to select, or \"latest\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"ListAuthorizedCertificatesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Response
  message for AuthorizedCertificates.ListAuthorizedCertificates.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"certificates\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  SSL certificates the user is authorized to administer.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AuthorizedCertificate\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Continuation
  token for fetching the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListAuthorizedDomainsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Response
  message for AuthorizedDomains.ListAuthorizedDomains.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"domains\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  authorized domains belonging to the user.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AuthorizedDomain\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Continuation
  token for fetching the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListDomainMappingsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Response
  message for DomainMappings.ListDomainMappings.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"domainMappings\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  domain mappings for the application.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DomainMapping\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Continuation
  token for fetching the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListIngressRulesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Response
  message for Firewall.ListIngressRules.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"ingressRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  ingress FirewallRules for this application.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FirewallRule\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Continuation
  token for fetching the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListInstancesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Response
  message for Instances.ListInstances.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"instances\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  instances belonging to the requested version.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Instance\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Continuation
  token for fetching the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListLocationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  response message for Locations.ListLocations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"A
  list of locations that matches the specified filter in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  standard List next-page token.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListOperationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  response message for Operations.ListOperations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  standard List next-page token.\";s:4:\"type\";s:6:\"string\";}s:10:\"operations\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  list of operations that matches the specified filter in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListServicesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Response
  message for Services.ListServices.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Continuation
  token for fetching the next page of results.\";s:4:\"type\";s:6:\"string\";}s:8:\"services\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  services belonging to the requested application.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Service\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListVersionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Response
  message for Versions.ListVersions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Continuation
  token for fetching the next page of results.\";s:4:\"type\";s:6:\"string\";}s:8:\"versions\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  versions belonging to the requested service.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Version\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"LivenessCheck\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"Health
  checking configuration for VM instances. Unhealthy instances are killed and replaced
  with new instances.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"checkInterval\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Interval
  between health checks.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:16:\"failureThreshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Number
  of consecutive failed checks required before considering the VM unhealthy.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:4:\"host\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Host
  header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\"\";s:4:\"type\";s:6:\"string\";}s:12:\"initialDelay\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  initial delay before starting to execute the checks.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  request path.\";s:4:\"type\";s:6:\"string\";}s:16:\"successThreshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Number
  of consecutive successful checks required before considering the VM healthy.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:7:\"timeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Time
  before the check is considered failed.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Location\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  resource that represents Google Cloud Platform location.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  friendly name for this location, typically a nearby city name. For example, \"Tokyo\".\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:99:\"Cross-service
  attributes for the location. For example\n{\"cloud.googleapis.com/region\": \"us-east1\"}\n\";s:4:\"type\";s:6:\"object\";}s:10:\"locationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  canonical id for this location. For example: \"us-east1\".\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:84:\"Service-specific
  metadata. For example the available capacity at the given location.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"Resource
  name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"LocationMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Metadata
  for the given google.cloud.location.Location.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:28:\"flexibleEnvironmentAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"App
  Engine flexible environment is available in the given location.@OutputOnly\";s:4:\"type\";s:7:\"boolean\";}s:28:\"standardEnvironmentAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"App
  Engine standard environment is available in the given location.@OutputOnly\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ManualScaling\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"A
  service with manual scaling runs continuously, allowing you to perform complex initialization
  and rely on the state of its memory over time.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"instances\";O:8:\"stdClass\":3:{s:11:\"description\";s:213:\"Number
  of instances to assign to the service at the start. This number can later be altered
  by using the Modules API (https://cloud.google.com/appengine/docs/python/modules/functions)
  set_num_instances() function.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Network\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Extra
  network settings. Only applicable in the App Engine flexible environment.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"forwardedPorts\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"List
  of ports, or port pairs, to forward from the virtual machine to the application
  container. Only applicable in the App Engine flexible environment.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"instanceTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Tag
  to apply to the instance during creation. Only applicable in the App Engine flexible
  environment.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Google
  Compute Engine network where the virtual machines are created. Specify the short
  name, not the resource path.Defaults to default.\";s:4:\"type\";s:6:\"string\";}s:14:\"subnetworkName\";O:8:\"stdClass\":2:{s:11:\"description\";s:931:\"Google
  Cloud Platform sub-network where the virtual machines are created. Specify the short
  name, not the resource path.If a subnetwork name is specified, a network name will
  also be required unless it is for the default network.\nIf the network that the
  instance is being created in is a Legacy network, then the IP address is allocated
  from the IPv4Range.\nIf the network that the instance is being created in is an
  auto Subnet Mode Network, then only network name should be specified (not the subnetwork_name)
  and the IP address is created from the IPCidrRange of the subnetwork that exists
  in that zone for that network.\nIf the network that the instance is being created
  in is a custom Subnet Mode Network, then the subnetwork_name must be specified and
  the IP address is created from the IPCidrRange of the subnetwork.If specified, the
  subnetwork must exist in the same region as the App Engine flexible environment
  application.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"NetworkUtilization\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"Target
  scaling by network usage. Only applicable in the App Engine flexible environment.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:28:\"targetReceivedBytesPerSecond\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Target
  bytes received per second.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:30:\"targetReceivedPacketsPerSecond\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Target
  packets received per second.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:24:\"targetSentBytesPerSecond\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Target
  bytes sent per second.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:26:\"targetSentPacketsPerSecond\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Target
  packets sent per second.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"This
  resource represents a long-running operation that is the result of a network API
  call.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"done\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"If
  the value is false, it means the operation is still in progress. If true, the operation
  is completed, and either error or response is available.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:69:\"The
  error result of the operation in case of failure or cancellation.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:279:\"Service-specific
  metadata associated with the operation. It typically contains progress information
  and common metadata such as create time. Some services might not provide such metadata.
  Any method that returns a long-running operation should document the metadata type,
  if any.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:199:\"The
  server-assigned name, which is only unique within the same service that originally
  returns it. If you use the default HTTP mapping, the name should have the format
  of operations/some/unique/name.\";s:4:\"type\";s:6:\"string\";}s:8:\"response\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:470:\"The
  normal response of the operation in case of success. If the original method returns
  no data on success, such as Delete, the response is google.protobuf.Empty. If the
  original method is standard Get/Create/Update, the response should be the resource.
  For other methods, the response should have the type XxxResponse, where Xxx is the
  original method name. For example, if the original method name is TakeSnapshot(),
  the inferred response type is TakeSnapshotResponse.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:17:\"OperationMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Metadata
  for the given google.longrunning.Operation.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Timestamp
  that this operation completed.@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:10:\"insertTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Timestamp
  that this operation was created.@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"API
  method that initiated this operation. Example: google.appengine.v1beta4.Version.CreateVersion.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:13:\"operationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Type
  of this operation. Deprecated, use method field instead. Example: \"create_version\".@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Name
  of the resource that this operation is acting on. Example: apps/myapp/modules/default.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"User
  who requested this operation.@OutputOnly\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OperationMetadataV1\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Metadata
  for the given google.longrunning.Operation.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:21:\"createVersionMetadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CreateVersionMetadataV1\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Time
  that this operation completed.@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:16:\"ephemeralMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Ephemeral
  message that may change every time the operation is polled. @OutputOnly\";s:4:\"type\";s:6:\"string\";}s:10:\"insertTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Time
  that this operation was created.@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"API
  method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Name
  of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"User
  who requested this operation.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:7:\"warning\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Durable
  messages that persist on every operation poll. @OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"OperationMetadataV1Alpha\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Metadata
  for the given google.longrunning.Operation.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:21:\"createVersionMetadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/CreateVersionMetadataV1Alpha\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Time
  that this operation completed.@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:16:\"ephemeralMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Ephemeral
  message that may change every time the operation is polled. @OutputOnly\";s:4:\"type\";s:6:\"string\";}s:10:\"insertTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Time
  that this operation was created.@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"API
  method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Name
  of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"User
  who requested this operation.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:7:\"warning\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Durable
  messages that persist on every operation poll. @OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"OperationMetadataV1Beta\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Metadata
  for the given google.longrunning.Operation.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:21:\"createVersionMetadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/CreateVersionMetadataV1Beta\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Time
  that this operation completed.@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:16:\"ephemeralMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Ephemeral
  message that may change every time the operation is polled. @OutputOnly\";s:4:\"type\";s:6:\"string\";}s:10:\"insertTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Time
  that this operation was created.@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"API
  method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Name
  of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"User
  who requested this operation.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:7:\"warning\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Durable
  messages that persist on every operation poll. @OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"OperationMetadataV1Beta5\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Metadata
  for the given google.longrunning.Operation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Timestamp
  that this operation completed.@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:10:\"insertTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Timestamp
  that this operation was created.@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"API
  method name that initiated this operation. Example: google.appengine.v1beta5.Version.CreateVersion.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Name
  of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"User
  who requested this operation.@OutputOnly\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ReadinessCheck\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Readiness
  checking configuration for VM instances. Unhealthy instances are removed from traffic
  rotation.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"appStartTimeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"A
  maximum time limit on application initialization, measured from moment the application
  successfully replies to a healthcheck until it is ready to serve traffic.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:13:\"checkInterval\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Interval
  between health checks.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:16:\"failureThreshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Number
  of consecutive failed checks required before removing traffic.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:4:\"host\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"Host
  header to send when performing a HTTP Readiness check. Example: \"myapp.appspot.com\"\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  request path.\";s:4:\"type\";s:6:\"string\";}s:16:\"successThreshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Number
  of consecutive successful checks required before receiving traffic.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:7:\"timeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Time
  before the check is considered failed.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"RepairApplicationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Request
  message for 'Applications.RepairApplication'.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"RequestUtilization\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Target
  scaling by request utilization. Only applicable in the App Engine flexible environment.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"targetConcurrentRequests\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Target
  number of concurrent requests.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:27:\"targetRequestCountPerSecond\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Target
  requests per second.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ResourceRecord\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  DNS resource record.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Relative
  name of the object affected by this record. Only applicable for CNAME records. Example:
  'www'.\";s:4:\"type\";s:6:\"string\";}s:6:\"rrdata\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Data
  for this record. Values vary by record type, as defined in RFC 1035 (section 5)
  and RFC 1034 (section 3.6.1).\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Resource
  record type. Example: AAAA.\";s:4:\"enum\";a:4:{i:0;s:23:\"RECORD_TYPE_UNSPECIFIED\";i:1;s:1:\"A\";i:2;s:4:\"AAAA\";i:3;s:5:\"CNAME\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Resources\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Machine
  resources for a version.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"cpu\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Number
  of CPU cores needed.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"diskGb\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Disk
  size (GB) needed.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"memoryGb\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Memory
  (GB) needed.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"volumes\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"User
  specified volumes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Volume\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ScriptHandler\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Executes
  a script to handle the request that matches the URL pattern.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"scriptPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Path
  to the script from the application root directory.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Service\";O:8:\"stdClass\":3:{s:11:\"description\";s:441:\"A
  Service resource is a logical component of an application that can share state and
  communicate in a secure fashion with other services. For example, an application
  that handles customer requests might include separate services to handle tasks such
  as backend data analysis or API requests from mobile devices. Each service has a
  collection of versions that define a specific set of code used to implement the
  functionality of that service.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Relative
  name of the service within the application. Example: default.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Full
  path to the Service resource in the API. Example: apps/myapp/services/default.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:5:\"split\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TrafficSplit\";s:11:\"description\";s:96:\"Mapping
  that defines fractional HTTP traffic diversion to different versions within the
  service.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"SslSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"SSL
  configuration for a DomainMapping resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"certificateId\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"ID
  of the AuthorizedCertificate resource configuring SSL for the application. Clearing
  this field will remove SSL support. Example: 12345.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"StandardSchedulerSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Scheduler
  settings for standard environment.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"maxInstances\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"Maximum
  number of instances to run for this version. Set to zero to disable max_instances
  configuration.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"minInstances\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"Minimum
  number of instances to run for this version. Set to zero to disable min_instances
  configuration.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"targetCpuUtilization\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Target
  CPU utilization ratio to maintain when scaling.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:27:\"targetThroughputUtilization\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Target
  throughput utilization ratio to maintain when scaling\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:18:\"StaticFilesHandler\";O:8:\"stdClass\":3:{s:11:\"description\";s:227:\"Files
  served directly to the user for a given URL, such as images, CSS stylesheets, or
  JavaScript source files. Static file handlers describe which files in the application
  directory are static files, and which URLs serve them.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:19:\"applicationReadable\";O:8:\"stdClass\":2:{s:11:\"description\";s:300:\"Whether
  files should also be uploaded as code data. By default, files declared in static
  file handlers are uploaded as static data and are only served to end users; they
  cannot be read by the application. If enabled, uploads are charged against both
  your code and static data storage resource quotas.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"expiration\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Time
  a static file served by this handler should be cached by web proxies and browsers.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:11:\"httpHeaders\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:54:\"HTTP
  headers to use for all responses from these URLs.\";s:4:\"type\";s:6:\"object\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"MIME
  type used to serve all files served by this handler.Defaults to file-specific MIME
  types, which are derived from each file's filename extension.\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:157:\"Path
  to the static files matched by the URL pattern, from the application root directory.
  The path can refer to text matched in groupings in the URL pattern.\";s:4:\"type\";s:6:\"string\";}s:19:\"requireMatchingFile\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Whether
  this handler should match the request if the file referenced by the handler does
  not exist.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"uploadPathRegex\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Regular
  expression that matches the file paths for all files that should be referenced by
  this handler.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2337:\"The
  Status type defines a logical error model that is suitable for different programming
  environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc).
  The error model is designed to be:\nSimple to use and understand for most users\nFlexible
  enough to meet unexpected needsOverviewThe Status message contains three pieces
  of data: error code, error message, and error details. The error code should be
  an enum value of google.rpc.Code, but it may accept additional error codes if needed.
  The error message should be a developer-facing English message that helps developers
  understand and resolve the error. If a localized user-facing error message is needed,
  put the localized message in the error details or localize it in the client. The
  optional error details may contain arbitrary information about the error. There
  is a predefined set of error detail types in the package google.rpc that can be
  used for common error conditions.Language mappingThe Status message is the logical
  representation of the error model, but it is not necessarily the actual wire format.
  When the Status message is exposed in different client libraries and different wire
  protocols, it can be mapped differently. For example, it will likely be mapped to
  some exceptions in Java, but more likely mapped to some error codes in C.Other usesThe
  error model and the Status message can be used in a variety of environments, either
  with or without APIs, to provide a consistent developer experience across different
  environments.Example uses of this error model include:\nPartial errors. If a service
  needs to return partial errors to the client, it may embed the Status in the normal
  response to indicate the partial errors.\nWorkflow errors. A typical workflow has
  multiple steps. Each step may have a Status message for error reporting.\nBatch
  operations. If a client uses batch request and batch response, the Status message
  should be used directly inside batch response, one for each error sub-response.\nAsynchronous
  operations. If an API call embeds asynchronous operation results in its response,
  the status of those operations should be represented directly using the Status message.\nLogging.
  If some API errors are stored in logs, the message Status could be used directly
  after any stripping needed for security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"A
  list of messages that carry the error details. There is a common set of message
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any user-facing error
  message should be localized and sent in the google.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"TrafficSplit\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"Traffic
  routing configuration for versions within a single service. Traffic splits define
  how traffic directed to the service is assigned to versions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"allocations\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"description\";s:514:\"Mapping
  from version IDs within the service to fractional (0.000, 1] allocations of traffic
  for that version. Each version can be specified only once, but some versions in
  the service may not have any traffic allocation. Services that have traffic allocated
  cannot be deleted until either the service is deleted or their traffic allocation
  is removed. Allocations must sum to 1. Up to two decimal place precision is supported
  for IP-based splits and up to three decimal places is supported for cookie-based
  splits.\";s:4:\"type\";s:6:\"object\";}s:7:\"shardBy\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"Mechanism
  used to determine which version a request is sent to. The traffic selection algorithm
  will be stable for either type until allocations are changed.\";s:4:\"enum\";a:4:{i:0;s:11:\"UNSPECIFIED\";i:1;s:6:\"COOKIE\";i:2;s:2:\"IP\";i:3;s:6:\"RANDOM\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"UrlDispatchRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Rules
  to match an HTTP request and dispatch that request to a service.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"Domain
  name to match against. The wildcard \"*\" is supported if specified before a period:
  \"*.\".Defaults to matching all domains: \"*\".\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:177:\"Pathname
  within the host. Must start with a \"/\". A single \"*\" can be included at the
  end of the path.The sum of the lengths of the domain and path may not exceed 100
  characters.\";s:4:\"type\";s:6:\"string\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"Resource
  ID of a service in this application that should serve the matched request. The service
  must already exist. Example: default.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"UrlMap\";O:8:\"stdClass\":3:{s:11:\"description\";s:208:\"URL
  pattern and description of how the URL should be handled. App Engine can handle
  URLs by executing application code or by serving static files uploaded with the
  version, such as images, CSS, or JavaScript.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"apiEndpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ApiEndpointHandler\";s:11:\"description\";s:38:\"Uses
  API Endpoints to handle requests.\";}s:14:\"authFailAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Action
  to take when users access resources that require authentication. Defaults to redirect.\";s:4:\"enum\";a:3:{i:0;s:28:\"AUTH_FAIL_ACTION_UNSPECIFIED\";i:1;s:25:\"AUTH_FAIL_ACTION_REDIRECT\";i:2;s:29:\"AUTH_FAIL_ACTION_UNAUTHORIZED\";}s:4:\"type\";s:6:\"string\";}s:5:\"login\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Level
  of login required to access this resource.\";s:4:\"enum\";a:4:{i:0;s:17:\"LOGIN_UNSPECIFIED\";i:1;s:14:\"LOGIN_OPTIONAL\";i:2;s:11:\"LOGIN_ADMIN\";i:3;s:14:\"LOGIN_REQUIRED\";}s:4:\"type\";s:6:\"string\";}s:24:\"redirectHttpResponseCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"30x
  code to use when performing redirects for the secure field. Defaults to 302.\";s:4:\"enum\";a:5:{i:0;s:39:\"REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED\";i:1;s:31:\"REDIRECT_HTTP_RESPONSE_CODE_301\";i:2;s:31:\"REDIRECT_HTTP_RESPONSE_CODE_302\";i:3;s:31:\"REDIRECT_HTTP_RESPONSE_CODE_303\";i:4;s:31:\"REDIRECT_HTTP_RESPONSE_CODE_307\";}s:4:\"type\";s:6:\"string\";}s:6:\"script\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ScriptHandler\";s:11:\"description\";s:70:\"Executes
  a script to handle the request that matches this URL pattern.\";}s:13:\"securityLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Security
  (HTTPS) enforcement for this URL.\";s:4:\"enum\";a:5:{i:0;s:18:\"SECURE_UNSPECIFIED\";i:1;s:14:\"SECURE_DEFAULT\";i:2;s:12:\"SECURE_NEVER\";i:3;s:15:\"SECURE_OPTIONAL\";i:4;s:13:\"SECURE_ALWAYS\";}s:4:\"type\";s:6:\"string\";}s:11:\"staticFiles\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/StaticFilesHandler\";s:11:\"description\";s:66:\"Returns
  the contents of a file, such as an image, as the response.\";}s:8:\"urlRegex\";O:8:\"stdClass\":2:{s:11:\"description\";s:270:\"URL
  prefix. Uses regular expression syntax, which means regexp special characters must
  be escaped, but should not contain groupings. All URLs that begin with this prefix
  are handled by this handler, using the portion of the URL after the prefix as part
  of the file path.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Version\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"A
  Version resource is a specific set of source code and configuration files that are
  deployed into a service.\";s:10:\"properties\";O:8:\"stdClass\":34:{s:9:\"apiConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ApiConfigHandler\";s:11:\"description\";s:159:\"Serving
  configuration for Google Cloud Endpoints (https://cloud.google.com/appengine/docs/python/endpoints/).Only
  returned in GET requests if view=FULL is set.\";}s:16:\"automaticScaling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AutomaticScaling\";s:11:\"description\";s:94:\"Automatic
  scaling is based on request rate, response latencies, and other application metrics.\";}s:12:\"basicScaling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BasicScaling\";s:11:\"description\";s:234:\"A
  service with basic scaling will create an instance when the application receives
  a request. The instance will be turned down when the app becomes idle. Basic scaling
  is ideal for work that is intermittent or driven by user activity.\";}s:12:\"betaSettings\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:84:\"Metadata
  settings that are supplied to this version to enable beta runtime features.\";s:4:\"type\";s:6:\"object\";}s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Time
  that this version was created.@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Email
  address of the user who created this version.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:17:\"defaultExpiration\";O:8:\"stdClass\":3:{s:11:\"description\";s:332:\"Duration
  that static files should be cached by web proxies and browsers. Only applicable
  if the corresponding StaticFilesHandler (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#staticfileshandler)
  does not specify its own expiration time.Only returned in GET requests if view=FULL
  is set.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:10:\"deployment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Deployment\";s:11:\"description\";s:107:\"Code
  and application artifacts that make up this version.Only returned in GET requests
  if view=FULL is set.\";}s:14:\"diskUsageBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"Total
  size in bytes of all the files that are included in this version and currently hosted
  on the App Engine disk.@OutputOnly\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:19:\"endpointsApiService\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EndpointsApiService\";s:11:\"description\";s:165:\"Cloud
  Endpoints configuration.If endpoints_api_service is set, the Cloud Endpoints Extensible
  Service Proxy will be provided to serve the API implemented by the app.\";}s:3:\"env\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"App
  Engine execution environment for this version.Defaults to standard.\";s:4:\"type\";s:6:\"string\";}s:12:\"envVariables\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:101:\"Environment
  variables available to the application.Only returned in GET requests if view=FULL
  is set.\";s:4:\"type\";s:6:\"object\";}s:13:\"errorHandlers\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"Custom
  static error pages. Limited to 10KB per page.Only returned in GET requests if view=FULL
  is set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorHandler\";}s:4:\"type\";s:5:\"array\";}s:8:\"handlers\";O:8:\"stdClass\":3:{s:11:\"description\";s:224:\"An
  ordered list of URL-matching patterns that should be applied to incoming requests.
  The first matching URL handles the request and other request handlers are not attempted.Only
  returned in GET requests if view=FULL is set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/UrlMap\";}s:4:\"type\";s:5:\"array\";}s:11:\"healthCheck\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/HealthCheck\";s:11:\"description\";s:212:\"Configures
  health checking for instances. Unhealthy instances are stopped and replaced with
  new instances. Only applicable in the App Engine flexible environment.Only returned
  in GET requests if view=FULL is set.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:205:\"Relative
  name of the version within the service. Example: v1. Version names can contain only
  lowercase letters, numbers, or hyphens. Reserved names: \"default\", \"latest\",
  and any name with the prefix \"ah-\".\";s:4:\"type\";s:6:\"string\";}s:15:\"inboundServices\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Before
  an application can receive email or XMPP messages, the application must be configured
  to enable the service.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:27:\"INBOUND_SERVICE_UNSPECIFIED\";i:1;s:20:\"INBOUND_SERVICE_MAIL\";i:2;s:27:\"INBOUND_SERVICE_MAIL_BOUNCE\";i:3;s:26:\"INBOUND_SERVICE_XMPP_ERROR\";i:4;s:28:\"INBOUND_SERVICE_XMPP_MESSAGE\";i:5;s:30:\"INBOUND_SERVICE_XMPP_SUBSCRIBE\";i:6;s:29:\"INBOUND_SERVICE_XMPP_PRESENCE\";i:7;s:32:\"INBOUND_SERVICE_CHANNEL_PRESENCE\";i:8;s:22:\"INBOUND_SERVICE_WARMUP\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"instanceClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:232:\"Instance
  class that is used to run this version. Valid values are:\nAutomaticScaling: F1,
  F2, F4, F4_1G\nManualScaling or BasicScaling: B1, B2, B4, B8, B4_1GDefaults to F1
  for AutomaticScaling and B1 for ManualScaling or BasicScaling.\";s:4:\"type\";s:6:\"string\";}s:9:\"libraries\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"Configuration
  for third-party Python runtime libraries that are required by the application.Only
  returned in GET requests if view=FULL is set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Library\";}s:4:\"type\";s:5:\"array\";}s:13:\"livenessCheck\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LivenessCheck\";s:11:\"description\";s:164:\"Configures
  liveness health checking for instances. Unhealthy instances are stopped and replaced
  with new instancesOnly returned in GET requests if view=FULL is set.\";}s:13:\"manualScaling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ManualScaling\";s:11:\"description\";s:142:\"A
  service with manual scaling runs continuously, allowing you to perform complex initialization
  and rely on the state of its memory over time.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"Full
  path to the Version resource in the API. Example: apps/myapp/services/default/versions/v1.@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:7:\"network\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Network\";s:11:\"description\";s:79:\"Extra
  network settings. Only applicable in the App Engine flexible environment.\";}s:17:\"nobuildFilesRegex\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"Files
  that match this pattern will not be built into this version. Only applicable for
  Go runtimes.Only returned in GET requests if view=FULL is set.\";s:4:\"type\";s:6:\"string\";}s:14:\"readinessCheck\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ReadinessCheck\";s:11:\"description\";s:168:\"Configures
  readiness health checking for instances. Unhealthy instances are not put into the
  backend traffic rotation.Only returned in GET requests if view=FULL is set.\";}s:9:\"resources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Resources\";s:11:\"description\";s:91:\"Machine
  resources for this version. Only applicable in the App Engine flexible environment.\";}s:7:\"runtime\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Desired
  runtime. Example: python27.\";s:4:\"type\";s:6:\"string\";}s:17:\"runtimeApiVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"The
  version of the API in the given runtime environment. Please see the app.yaml reference
  for valid values at https://cloud.google.com/appengine/docs/standard/<language>/config/appref\";s:4:\"type\";s:6:\"string\";}s:14:\"runtimeChannel\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"The
  channel of the runtime to use. Only available for some runtimes. Defaults to the
  default channel.\";s:4:\"type\";s:6:\"string\";}s:13:\"servingStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"Current
  serving status of this version. Only the versions with a SERVING status create instances
  and can be billed.SERVING_STATUS_UNSPECIFIED is an invalid value. Defaults to SERVING.\";s:4:\"enum\";a:3:{i:0;s:26:\"SERVING_STATUS_UNSPECIFIED\";i:1;s:7:\"SERVING\";i:2;s:7:\"STOPPED\";}s:4:\"type\";s:6:\"string\";}s:10:\"threadsafe\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Whether
  multiple requests can be dispatched to this version at once.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"versionUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Serving
  URL for this version. Example: \"https://myversion-dot-myservice-dot-myapp.appspot.com\"@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:2:\"vm\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Whether
  to deploy this version in a container on a virtual machine.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"zones\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  Google Compute Engine zones that are supported by this version in the App Engine
  flexible environment.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Volume\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Volumes
  mounted within the app container. Only applicable in the App Engine flexible environment.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Unique
  name for the volume.\";s:4:\"type\";s:6:\"string\";}s:6:\"sizeGb\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Volume
  size in gigabytes.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"volumeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Underlying
  volume type, e.g. 'tmpfs'.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"ZipInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  zip file information for a zip deployment.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"filesCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:208:\"An
  estimate of the number of files in a zip for a zip deployment. If set, must be greater
  than or equal to the actual number of files. Used for optimizing performance; if
  not provided, deployment may be slow.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"sourceUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:153:\"URL
  of the zip file to deploy from. Must be a URL to a resource in Google Cloud Storage
  in the form 'http(s)://storage.googleapis.com/<bucket>/<object>'.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
