---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:7:\"example\";s:7:\"version\";s:2:\"v1\";}"
host: CHANGEME.api.processmaker.io
basePath: /api/v1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":107:{s:5:\"Token\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"token\";s:7:\"default\";s:5:\"token\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Token_attributes\";}}}s:13:\"TaskConnector\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"task_connector\";s:7:\"default\";s:14:\"task_connector\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/TaskConnector_attributes\";}}}s:14:\"EventConnector\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"event_connector\";s:7:\"default\";s:15:\"event_connector\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/EventConnector_attributes\";}}}s:11:\"OauthClient\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:1;}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"client\";s:7:\"default\";s:6:\"client\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/OauthClient_attributes\";}}}s:11:\"InputOutput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"input_output\";s:7:\"default\";s:12:\"input_output\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/InputOutput_attributes\";}}}s:8:\"BpmnFile\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"process\";s:7:\"default\";s:7:\"process\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BpmnFile_attributes\";}}}s:12:\"TaskInstance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"task_instance\";s:7:\"default\";s:13:\"task_instance\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/TaskInstance_attributes\";}}}s:13:\"DataModelItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"data_model\";s:7:\"default\";s:10:\"data_model\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/DataModelItem_attributes\";}}}s:9:\"DataModel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"data_model\";s:7:\"default\";s:10:\"data_model\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DataModel_attributes\";}}}s:8:\"Instance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"instance\";s:7:\"default\";s:8:\"instance\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/Instance_attributes\";}}}s:4:\"Flow\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"flow\";s:7:\"default\";s:4:\"flow\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Flow_attributes\";}}}s:7:\"Gateway\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"gateway\";s:7:\"default\";s:7:\"gateway\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Gateway_attributes\";}}}s:5:\"Event\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"event\";s:7:\"default\";s:5:\"event\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Event_attributes\";}}}s:4:\"Task\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"task\";s:7:\"default\";s:4:\"task\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Task_attributes\";}}}s:7:\"Process\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"process\";s:7:\"default\";s:7:\"process\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Process_attributes\";}}}s:5:\"Group\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"group\";s:7:\"default\";s:5:\"group\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Group_attributes\";}}}s:7:\"UserIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"users\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"users\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:14:\"User
  IDs array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}}}}s:8:\"GroupIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"groups\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"groups\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"Group
  IDs array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}}}}s:13:\"ResultSuccess\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResultSuccess_meta\";}}}s:4:\"User\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"user\";s:7:\"default\";s:4:\"user\";}s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/User_attributes\";}}}s:10:\"Pagination\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:5:\"count\";i:1;s:12:\"current_page\";i:2;s:8:\"per_page\";i:3;s:5:\"total\";i:4;s:11:\"total_pages\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:125;}s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:25;}s:8:\"per_page\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:25;}s:12:\"current_page\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:2;}s:11:\"total_pages\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"example\";i:30;}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Pagination_links\";}}}s:7:\"MetaLog\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:10:\"import_log\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"import_log\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Meta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"pagination\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}}}s:10:\"errorArray\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"errors\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}}s:5:\"Error\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"code\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"detail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"GroupCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}s:11:\"description\";s:61:\"JSON
  API response with a collection of the groups in an array\";}s:15:\"GroupCreateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}}}s:9:\"GroupItem\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}}}s:15:\"GroupUpdateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}}}s:17:\"GroupAddUsersItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/UserIds\";}}}s:18:\"GroupSyncUsersItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/UserIds\";}}}s:20:\"GroupRemoveUsersItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/UserIds\";}}}s:22:\"TaskInstanceCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TaskInstance\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}s:11:\"description\";s:68:\"JSON
  API response with the collection of task instances in an  array\";}s:17:\"ProcessCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Process\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}s:11:\"description\";s:64:\"JSON
  API response with a collection of the processes in an array\";}s:17:\"ProcessCreateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Process\";}}}s:11:\"ProcessItem\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Process\";}}}s:14:\"bpmnImportItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/BpmnFile\";}}}s:19:\"ProcessCollection_1\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Process\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/MetaLog\";}}}s:17:\"ProcessUpdateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Process\";}}}s:19:\"DataModelCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataModelItem\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}s:11:\"description\";s:63:\"JSON
  API response with the collection of DataModels in an array\";}s:15:\"EventCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}s:11:\"description\";s:61:\"JSON
  API response with a collection of the events in an array\";}s:15:\"EventCreateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}}}s:9:\"EventItem\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}}}s:15:\"EventUpdateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}}}s:25:\"EventConnectorsCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EventConnector\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}s:11:\"description\";s:51:\"JSON
  API Response with collection of Items in array\";}s:24:\"EventConnectorCreateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EventConnector\";}}}s:16:\"EventConnector_1\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EventConnector\";}}}s:24:\"EventConnectorUpdateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EventConnector\";}}}s:22:\"TriggerEventCreateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DataModel\";}}}s:15:\"DataModelItem_1\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DataModelItem\";}}}s:14:\"FlowCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Flow\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}s:11:\"description\";s:61:\"JSON
  API response with the collection of the flow in an array\";}s:14:\"FlowCreateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Flow\";}}}s:8:\"FlowItem\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Flow\";}}}s:14:\"FlowUpdateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Flow\";}}}s:17:\"GatewayCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Gateway\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}s:11:\"description\";s:51:\"JSON
  API Response with collection of Items in array\";}s:17:\"GatewayCreateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Gateway\";}}}s:11:\"GatewayItem\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Gateway\";}}}s:17:\"GatewayUpdateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Gateway\";}}}s:18:\"InstanceCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Instance\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}s:11:\"description\";s:64:\"JSON
  API response with a collection of the instances in an array\";}s:18:\"InstanceCreateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Instance\";}}}s:12:\"InstanceItem\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Instance\";}}}s:18:\"InstanceUpdateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Instance\";}}}s:15:\"TokenCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Token\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}s:11:\"description\";s:61:\"JSON
  API response with a collection of the tokens in an array\";}s:14:\"TaskCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Task\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}s:11:\"description\";s:51:\"JSON
  API Response with collection of Items in array\";}s:14:\"TaskCreateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Task\";}}}s:8:\"TaskItem\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Task\";}}}s:14:\"TaskUpdateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Task\";}}}s:24:\"TaskConnectorsCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TaskConnector\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}s:11:\"description\";s:51:\"JSON
  API Response with collection of Items in array\";}s:23:\"TaskConnectorCreateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TaskConnector\";}}}s:15:\"TaskConnector_1\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TaskConnector\";}}}s:23:\"TaskConnectorUpdateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TaskConnector\";}}}s:17:\"TaskAddGroupsItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/GroupIds\";}}}s:18:\"TaskSyncGroupsItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/GroupIds\";}}}s:20:\"TaskRemoveGroupsItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/GroupIds\";}}}s:21:\"InputOutputCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/InputOutput\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}s:11:\"description\";s:69:\"JSON
  API response with a collection of the input/outputs in the array\";}s:21:\"InputOutputCreateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/InputOutput\";}}}s:15:\"InputOutputItem\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/InputOutput\";}}}s:21:\"InputOutputUpdateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/InputOutput\";}}}s:19:\"inline_response_200\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TaskInstance\";}}}s:22:\"TaskInstanceUpdateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TaskInstance\";}}}s:14:\"UserCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}s:11:\"description\";s:58:\"JSON
  API response with the collection of users in an array\";}s:14:\"UserCreateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}}s:8:\"UserItem\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}}s:14:\"UserUpdateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}}s:21:\"OauthClientCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OauthClient\";}}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Meta\";}}s:11:\"description\";s:68:\"JSON
  API response with a collection of the Oauth clients in an array\";}s:21:\"OauthClientCreateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OauthClient\";}}}s:15:\"OauthClientItem\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OauthClient\";}}}s:21:\"OauthClientUpdateItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OauthClient\";}}}s:16:\"Token_attributes\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:11:\"instance_id\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"instance_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Instance
  ID\";}s:7:\"flow_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Flow
  ID\";}s:9:\"token_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"token_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"initiator_object_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"initiator_object_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"target_object_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"target_object_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}}}s:24:\"TaskConnector_attributes\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"task_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"connector_class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:13:\"HttpConnector\";}s:16:\"input_parameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"[]\";}s:17:\"output_parameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"[]\";}s:12:\"async_before\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}}}s:25:\"EventConnector_attributes\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"event_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"connector_class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:15:\"CorrelationKeys\";}s:16:\"input_parameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"[]\";}s:17:\"output_parameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"[]\";}s:12:\"async_before\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}}}s:22:\"OauthClient_attributes\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"secret\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:40:\"1WfPZS8TepSKgnure5FHUOyvT8340fQH8cz4ISN2\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"Oauth
  Client Name\";}s:22:\"personal_access_client\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"password_client\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"revoked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}}}s:22:\"InputOutput_attributes\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:16:\"input_parameters\";i:1;s:17:\"output_parameters\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"input_parameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:17:\"output_parameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}}}s:19:\"BpmnFile_attributes\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"bpmn\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"bpmn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:47:\"<?xml
  version=\"1.0\" encoding=\"UTF-8\"?>...</xml>\";}}}s:23:\"TaskInstance_attributes\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:11:\"instance_id\";i:1;s:8:\"priority\";i:2;s:6:\"status\";i:3;s:7:\"task_id\";}s:10:\"properties\";O:8:\"stdClass\":17:{s:7:\"task_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b11\";}s:11:\"instance_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b11\";}s:8:\"group_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b11\";}s:7:\"user_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b11\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:7:\"INITIAL\";i:1;s:9:\"DELEGATED\";i:2;s:7:\"STARTED\";i:3;s:9:\"CANCELLED\";i:4;s:8:\"FINISHED\";i:5;s:8:\"COMPLETE\";i:6;s:6:\"PAUSED\";}s:7:\"default\";s:7:\"INITIAL\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";i:4;s:1:\"5\";}s:7:\"default\";s:1:\"3\";}s:13:\"delegate_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:10:\"start_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:11:\"finish_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:13:\"task_due_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:9:\"risk_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:27:\"instance_overdue_percentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}}}s:24:\"DataModelItem_attributes\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:7:\"content\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}}}s:20:\"DataModel_attributes\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:7:\"content\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:30:\"Some
  parameters in json format\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}}}s:19:\"Instance_attributes\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:10:\"process_id\";i:1;s:6:\"status\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"process_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b11\";}s:18:\"parent_instance_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b12\";}s:12:\"init_user_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b14\";}s:3:\"pin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:7:\"RUNNING\";i:1;s:4:\"TODO\";i:2;s:6:\"PAUSED\";i:3;s:9:\"COMPLETED\";i:4;s:9:\"CANCELLED\";}s:7:\"default\";s:7:\"RUNNING\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}}}s:15:\"Flow_attributes\";O:8:\"stdClass\":2:{s:8:\"required\";a:8:{i:0;s:7:\"default\";i:1;s:14:\"from_object_id\";i:2;s:16:\"from_object_type\";i:3;s:8:\"optional\";i:4;s:10:\"process_id\";i:5;s:12:\"to_object_id\";i:6;s:14:\"to_object_type\";i:7;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":13:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Flow
  name\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"Some
  description\";}s:10:\"process_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b11\";}s:14:\"from_object_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b25\";}s:16:\"from_object_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"task\";}s:12:\"to_object_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b25\";}s:14:\"to_object_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"event\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:10:\"SEQUENTIAL\";i:1;s:8:\"EVALUATE\";i:2;s:6:\"SELECT\";i:3;s:8:\"PARALLEL\";i:4;s:22:\"PARALLEL-BY-EVALUATION\";i:5;s:8:\"SEC-JOIN\";i:6;s:13:\"DISCRIMINATOR\";}s:7:\"default\";s:10:\"SEQUENTIAL\";}s:9:\"condition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"default\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:8:\"optional\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}}}s:18:\"Gateway_attributes\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:10:\"process_id\";i:1;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"Gateway
  Title\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"Some
  description\";}s:10:\"process_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b11\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:9:\"EXCLUSIVE\";i:1;s:9:\"INCLUSIVE\";i:2;s:8:\"PARALLEL\";i:3;s:5:\"EVENT\";}}s:9:\"direction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:9:\"DIVERGENT\";i:1;s:10:\"CONVERGENT\";i:2;s:5:\"MIXED\";}}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}}}s:16:\"Event_attributes\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:10:\"definition\";i:1;s:4:\"name\";i:2;s:10:\"process_id\";i:3;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":14:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Event_Title\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"Some
  description\";}s:10:\"process_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b11\";}s:10:\"message_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:5:\"START\";i:1;s:3:\"END\";i:2;s:18:\"INTERMEDIATE_CATCH\";i:3;s:18:\"INTERMEDIATE_THROW\";i:4;s:8:\"BOUNDARY\";i:5;s:14:\"IMPLICIT_THROW\";}}s:10:\"definition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:10:{i:0;s:4:\"NONE\";i:1;s:6:\"CANCEL\";i:2;s:12:\"COMPENSATION\";i:3;s:5:\"ERROR\";i:4;s:10:\"ESCALATION\";i:5;s:7:\"MESSAGE\";i:6;s:4:\"LINK\";i:7;s:6:\"SIGNAL\";i:8;s:9:\"TERMINATE\";i:9;s:5:\"TIMER\";}}s:12:\"interrupting\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"condition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"cycle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"attached_to_task_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b11\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}}}s:15:\"Task_attributes\";O:8:\"stdClass\":2:{s:8:\"required\";a:11:{i:0;s:11:\"assign_type\";i:1;s:10:\"can_upload\";i:2;s:4:\"name\";i:3;s:10:\"process_id\";i:4;s:19:\"selfservice_timeout\";i:5;s:15:\"send_last_email\";i:6;s:5:\"start\";i:7;s:12:\"transfer_fly\";i:8;s:4:\"type\";i:9;s:29:\"view_additional_documentation\";i:10;s:11:\"view_upload\";}s:10:\"properties\";O:8:\"stdClass\":25:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"Task_Title\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"Some
  description\";}s:10:\"process_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b11\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:17:{i:0;s:6:\"NORMAL\";i:1;s:5:\"ADHOC\";i:2;s:10:\"SUBPROCESS\";i:3;s:6:\"HIDDEN\";i:4;s:16:\"GATEWAYTOGATEWAY\";i:5;s:13:\"WEBENTRYEVENT\";i:6;s:17:\"END-MESSAGE-EVENT\";i:7;s:19:\"START-MESSAGE-EVENT\";i:8;s:32:\"INTERMEDIATE-THROW-MESSAGE-EVENT\";i:9;s:32:\"INTERMEDIATE-CATCH-MESSAGE-EVENT\";i:10;s:11:\"SCRIPT-TASK\";i:11;s:12:\"SERVICE-TASK\";i:12;s:9:\"USER-TASK\";i:13;s:17:\"START-TIMER-EVENT\";i:14;s:30:\"INTERMEDIATE-CATCH-TIMER-EVENT\";i:15;s:15:\"END-EMAIL-EVENT\";i:16;s:30:\"INTERMEDIATE-THROW-EMAIL-EVENT\";}s:7:\"default\";s:6:\"NORMAL\";}s:11:\"assign_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:6:\"CYCLIC\";i:1;s:6:\"MANUAL\";i:2;s:8:\"EVALUATE\";i:3;s:9:\"REPORT_TO\";i:4;s:12:\"SELF_SERVICE\";i:5;s:9:\"STATIC_MI\";i:6;s:9:\"CANCEL_MI\";i:7;s:17:\"MULTIPLE_INSTANCE\";i:8;s:29:\"MULTIPLE_INSTANCE_VALUE_BASED\";}s:7:\"default\";s:6:\"CYCLIC\";}s:17:\"priority_variable\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"assign_variable\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"group_variable\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"mi_instance_variable\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"mi_complete_variable\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"transfer_fly\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:10:\"can_upload\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:11:\"view_upload\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:29:\"view_additional_documentation\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:5:\"start\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:15:\"send_last_email\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}s:21:\"derivation_screen_tpl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"selfservice_timeout\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"selfservice_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"selfservice_time_unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"selfservice_execution\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"last_assigned_user_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b11\";}s:6:\"script\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}}}s:18:\"Process_attributes\";O:8:\"stdClass\":2:{s:8:\"required\";a:5:{i:0;s:13:\"design_access\";i:1;s:11:\"duration_by\";i:2;s:4:\"name\";i:3;s:6:\"status\";i:4;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":19:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"Process_Title\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"Some
  description\";}s:17:\"parent_process_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b11\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"ACTIVE\";i:1;s:8:\"INACTIVE\";i:2;s:8:\"DISABLED\";}s:7:\"default\";s:6:\"ACTIVE\";}s:11:\"duration_by\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:12:\"WORKING_DAYS\";i:1;s:13:\"CALENDAR_DAYS\";}s:7:\"default\";s:12:\"WORKING_DAYS\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"NORMAL\";i:1;s:11:\"SUB_PROCESS\";}s:7:\"default\";s:6:\"NORMAL\";}s:10:\"assignment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:13:\"design_access\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"PUBLIC\";i:1;s:7:\"PRIVATE\";}s:7:\"default\";s:6:\"PUBLIC\";}s:8:\"show_map\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}s:12:\"show_message\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}s:13:\"show_delegate\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}s:13:\"show_dynaform\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:11:\"category_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b22\";}s:15:\"sub_category_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b33\";}s:14:\"create_user_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b44\";}s:5:\"debug\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:19:\"dynaform_summary_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b55\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}}}s:16:\"Group_attributes\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:5:\"title\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"GROUP_ADMIN\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Group_Title\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"Some
  description\";}s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"ACTIVE\";s:4:\"enum\";a:2:{i:0;s:6:\"ACTIVE\";i:1;s:8:\"INACTIVE\";}s:7:\"default\";s:6:\"ACTIVE\";}s:5:\"users\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:14:\"User
  IDs array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:36:\"9d705617-cc29-482a-85ff-7f7292f72b31\";}}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}}}s:18:\"ResultSuccess_meta\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"code\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"1234\";s:11:\"description\";s:36:\"Result
  code from ApiCodes dictionary\";}s:5:\"title\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:32:\"Some
  positive result description\";s:11:\"description\";s:26:\"Result textual explanation\";}}}s:15:\"User_attributes\";O:8:\"stdClass\":2:{s:8:\"required\";a:5:{i:0;s:5:\"email\";i:1;s:9:\"firstname\";i:2;s:8:\"lastname\";i:3;s:8:\"password\";i:4;s:8:\"username\";}s:10:\"properties\";O:8:\"stdClass\":24:{s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"user_name\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"some_password\";}s:9:\"firstname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"First_name\";}s:8:\"lastname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"Last_name\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:19:\"example@example.com\";}s:10:\"expires_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"ACTIVE\";s:4:\"enum\";a:4:{i:0;s:6:\"ACTIVE\";i:1;s:8:\"INACTIVE\";i:2;s:8:\"VACATION\";i:3;s:6:\"CLOSED\";}s:7:\"default\";s:6:\"ACTIVE\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"USA\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"Washington\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Location\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"USA\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"+1(99)999-99-99\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"+1(99)999-99-99\";}s:8:\"cellular\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"+1(99)999-99-99\";}s:8:\"zip_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"resume\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"birthday_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:20:\"bookmark_start_cases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"default_lang\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"en_US\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:25:\"2017-01-01T00:00:00+00:00\";}s:7:\"clients\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}s:16:\"Pagination_links\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"next\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:37:\"http://localhost/api/v1/groups?page=3\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:37:\"http://localhost/api/v1/groups?page=1\";}}}}"
...
