---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:8:\"Meta API\";s:7:\"version\";s:1:\"1\";}"
host: demo-ocapi.demandware.net
basePath: /s/-/dw/meta/v99_9
paths:
  /apps/bm/customer_group_rule_meta_data:
    get:
      description: Get meta data for customer group rules.
      operationId: getAppsBmCustomerGroupRuleMetaData
      responses:
        default:
          description: ""
          schema:
            $ref: '#/definitions/customer_group_rule_meta_data'
      security:
      - oauth2_application: []
      tags:
      - apps
  /apps/{application}/ui/{template}:
    get:
      description: Retrieves the customization description for a UI screen or template.
      operationId: getAppsByIDUiByID
      parameters:
      - description: the id of the application
        in: path
        name: application
        required: true
        type: string
      - description: the name of the template
        in: path
        name: template
        required: true
        type: string
      responses:
        default:
          description: ""
          schema:
            $ref: '#/definitions/uicustomization'
      security:
      - oauth2_application: []
      tags:
      - apps
  /rest:
    get:
      description: Lists all existing APIs and the links to their meta data.
      operationId: getRest
      responses:
        default:
          description: ""
          schema:
            $ref: '#/definitions/api_result'
      security:
      - oauth2_application: []
      tags:
      - rest
  /rest/{api_name}:
    get:
      description: Retrieves all existing versions and their status for a given API.
        Alson this will retrieve the link to the swagger document for the API and
        then version.
      operationId: getRestByID
      parameters:
      - description: the name of the API
        in: path
        name: api_name
        required: true
        type: string
      responses:
        default:
          description: ""
          schema:
            $ref: '#/definitions/version_result'
        404:
          description: in case of an invalid API name
      security:
      - oauth2_application: []
      tags:
      - rest
  /rest/{api_name}/{version}:
    get:
      description: Retrieves the swagger documentation object for an API and a version.
        Includedn are all resource descriptions and all documents which are referenced
        by them.n Note that you have to access Shop API meta data always in a site
        context, ton access resources, valid for your client.
      operationId: getRestByIDByID
      parameters:
      - description: the name of the API
        in: path
        name: api_name
        required: true
        type: string
      - description: the version to get the description for
        in: path
        name: version
        required: true
        type: string
      - in: query
        name: path
        type: string
      - in: query
        items:
          type: string
        name: methods
        type: array
      responses:
        default:
          description: ""
          schema:
            $ref: '#/definitions/swagger'
        404:
          description: in case of an invalid API identifier
      security:
      - oauth2_application: []
      tags:
      - rest
  /rest/{api_name}/{version}/documents:
    get:
      description: Retrieves a list of all documents, available for an API and version,
        and n the links to their detailed meta data.
      operationId: getRestByIDByIDDocuments
      parameters:
      - description: the name of the API
        in: path
        name: api_name
        required: true
        type: string
      - description: the version to get the description for
        in: path
        name: version
        required: true
        type: string
      responses:
        default:
          description: ""
          schema:
            $ref: '#/definitions/record_result'
        404:
          description: in case of an invalid API identifier
      security:
      - oauth2_application: []
      tags:
      - rest
  /rest/{api_name}/{version}/documents/{document_id}:
    get:
      description: Retrieves the meta data for a single document in a version and
        API. Then children query parameter will include all child documents n recursively,
        if it is set to embedded. Otherwise the meta datan will contain http links
        to the child document description.
      operationId: getRestByIDByIDDocumentsByID
      parameters:
      - description: the name of the API
        in: path
        name: api_name
        required: true
        type: string
      - description: the version to get the description for
        in: path
        name: version
        required: true
        type: string
      - description: the id of the document to get meta data for
        in: path
        name: document_id
        required: true
        type: string
      - in: query
        name: children
        type: string
      responses:
        default:
          description: ""
          schema:
            $ref: '#/definitions/document'
        404:
          description: in case of an invalid API identifier or in case of an invalid
            record ID
      security:
      - oauth2_application: []
      tags:
      - rest
produces:
- application/json
- text/xml
- application/xml
definitions: !php/object "O:8:\"stdClass\":26:{s:15:\"api_description\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Description
  for a specific API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Link
  to the meta data for the API.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Name
  of the API.\";s:4:\"type\";s:6:\"string\";}}}s:10:\"api_result\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Result,
  containing all API description objects.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"apis\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of descriptions for all existing APIs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/api_description\";}s:4:\"type\";s:5:\"array\";}}}s:29:\"customer_group_rule_meta_data\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Document
  representing meta data for customer group rules.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"groups\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  list of attribute groups.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/rule_attribute_group\";}s:4:\"type\";s:5:\"array\";}s:6:\"quotas\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  quota limits for customer group rules.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/quota\";}s:4:\"type\";s:5:\"array\";}}}s:8:\"document\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Object,
  representing a WebAPI document.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Description
  of the document.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/property\";}s:11:\"description\";s:66:\"Map
  with all properties of the document, key is the property name.\";s:4:\"type\";s:6:\"object\";}s:8:\"required\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Array
  of all mandatory properties.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:6:\"header\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Object
  to describe a header.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Description
  for the header.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  header type (it's name).\";s:4:\"type\";s:6:\"string\";}}}s:4:\"info\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Information
  object of the API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"API
  title.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"API
  version.\";s:4:\"type\";s:6:\"string\";}}}s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Object
  to describe a single HTTP method for a resource.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"consumes\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Array
  of all data types which may be consumed by this method.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Method
  description.\";s:4:\"type\";s:6:\"string\";}s:11:\"operationId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Array
  of parameters for the method.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/parameter\";}s:4:\"type\";s:5:\"array\";}s:8:\"produces\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Array
  of all data types which may be produced by this method.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"responses\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/response\";}s:11:\"description\";s:35:\"Array
  of possible method responses.\";s:4:\"type\";s:6:\"object\";}s:8:\"security\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Contains
  the names of all security definitions, used for the REST method.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Array
  of tags, to group methods which belong all together to a resource path.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:9:\"parameter\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Object
  for describing an HTTP method parameter.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Parameter
  description.\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Output
  format information.\";s:4:\"enum\";a:15:{i:0;s:5:\"int32\";i:1;s:5:\"int64\";i:2;s:5:\"float\";i:3;s:6:\"double\";i:4;s:4:\"byte\";i:5;s:4:\"date\";i:6;s:9:\"date-time\";i:7;s:4:\"time\";i:8;s:4:\"text\";i:9;s:5:\"email\";i:10;s:4:\"html\";i:11;s:8:\"password\";i:12;s:5:\"money\";i:13;s:13:\"site-specific\";i:14;s:9:\"localized\";}s:4:\"type\";s:6:\"string\";}s:2:\"in\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Type
  of the parameter.\";s:4:\"enum\";a:4:{i:0;s:6:\"header\";i:1;s:5:\"query\";i:2;s:4:\"path\";i:3;s:4:\"body\";}s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/property\";s:11:\"description\";s:44:\"Parameter
  type description for type 'array'.\";}s:9:\"maxLength\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"maximum\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Maximum
  value of the parameter.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"minLength\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"minimum\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Minimum
  value of the parameter.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Parameter
  name.\";s:4:\"type\";s:6:\"string\";}s:7:\"pattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Regular
  expression to limit string value.\";s:4:\"type\";s:6:\"string\";}s:8:\"required\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"True,
  if parameter is mandatory.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"schema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/schema\";s:11:\"description\";s:54:\"Schema
  to refer to another document as parameter type.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Data
  type, obsolete if schema is set.\";s:4:\"enum\";a:6:{i:0;s:7:\"integer\";i:1;s:6:\"number\";i:2;s:6:\"string\";i:3;s:7:\"boolean\";i:4;s:5:\"array\";i:5;s:6:\"object\";}s:4:\"type\";s:6:\"string\";}}}s:8:\"property\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Document
  property description.\";s:10:\"properties\";O:8:\"stdClass\":20:{s:4:\"$ref\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Either
  HTTP- or document-internal-link to a document as data type.\";s:4:\"type\";s:6:\"string\";}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/property\";}s:10:\"definition\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/document\";}s:11:\"description\";s:83:\"Single
  element map containing definition of a document. Obsolete if\n '$ref' is set.\";s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Property
  description.\";s:4:\"type\";s:6:\"string\";}s:4:\"enum\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Array
  of all valid property values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"format\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Output
  format information.\";s:4:\"enum\";a:15:{i:0;s:5:\"int32\";i:1;s:5:\"int64\";i:2;s:5:\"float\";i:3;s:6:\"double\";i:4;s:4:\"byte\";i:5;s:4:\"date\";i:6;s:9:\"date-time\";i:7;s:4:\"time\";i:8;s:4:\"text\";i:9;s:5:\"email\";i:10;s:4:\"html\";i:11;s:8:\"password\";i:12;s:5:\"money\";i:13;s:13:\"site-specific\";i:14;s:9:\"localized\";}s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/property\";s:11:\"description\";s:43:\"Property
  type description for type 'array'.\";}s:8:\"maxItems\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"maxLength\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"maximum\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Maximum
  property integer- or number-value.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"minItems\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"minLength\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"minimum\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Minimum
  property integer- or number-value.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"pattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Regular
  expression to limit string value.\";s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Data
  type information.\";s:4:\"enum\";a:6:{i:0;s:7:\"integer\";i:1;s:6:\"number\";i:2;s:6:\"string\";i:3;s:7:\"boolean\";i:4;s:5:\"array\";i:5;s:6:\"object\";}s:4:\"type\";s:6:\"string\";}s:13:\"x-enum-labels\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"x-label\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"format\";s:9:\"localized\";s:4:\"type\";s:6:\"object\";}s:22:\"x-sub_type_definitions\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/document\";}s:4:\"type\";s:6:\"object\";}s:11:\"x-sub_types\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}}}s:5:\"quota\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Document
  representing a quota setting.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"boolean\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"A
  flag, whether this limit doesn't require a counter and\n represents a boolean check.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"enforced\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"A
  flag whether the limit is enforced.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"hard_limit\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  hard limit for this quota.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the quota.\";s:4:\"type\";s:6:\"string\";}s:10:\"soft_limit\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  soft limit for this quota.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:18:\"record_description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Description
  object for a document.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Document
  ID.\";s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"HTTP
  link to the document meta data.\";s:4:\"type\";s:6:\"string\";}}}s:13:\"record_result\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Result,
  containing all existing document descriptions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Array
  of all existing document description objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/record_description\";}s:4:\"type\";s:5:\"array\";}}}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Resource
  meta data\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"delete\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/method\";s:11:\"description\";s:26:\"Delete
  method description.\";}s:3:\"get\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/method\";s:11:\"description\";s:23:\"Get
  method description.\";}s:5:\"patch\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/method\";s:11:\"description\";s:25:\"Patch
  method description.\";}s:4:\"post\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/method\";s:11:\"description\";s:24:\"Post
  method description.\";}s:3:\"put\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/method\";s:11:\"description\";s:23:\"Put
  method description.\";}}}s:8:\"response\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"HTTP
  method response meta data.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Response
  description.\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Response
  data format.\";s:4:\"enum\";a:15:{i:0;s:5:\"int32\";i:1;s:5:\"int64\";i:2;s:5:\"float\";i:3;s:6:\"double\";i:4;s:4:\"byte\";i:5;s:4:\"date\";i:6;s:9:\"date-time\";i:7;s:4:\"time\";i:8;s:4:\"text\";i:9;s:5:\"email\";i:10;s:4:\"html\";i:11;s:8:\"password\";i:12;s:5:\"money\";i:13;s:13:\"site-specific\";i:14;s:9:\"localized\";}s:4:\"type\";s:6:\"string\";}s:7:\"headers\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of headers, specific for the response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/header\";}s:4:\"type\";s:5:\"array\";}s:6:\"schema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/schema\";s:11:\"description\";s:35:\"Schema,
  containing return document.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Response
  data type.\";s:4:\"enum\";a:6:{i:0;s:7:\"integer\";i:1;s:6:\"number\";i:2;s:6:\"string\";i:3;s:7:\"boolean\";i:4;s:5:\"array\";i:5;s:6:\"object\";}s:4:\"type\";s:6:\"string\";}}}s:14:\"rule_attribute\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Document
  representing a customer group attribute.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"attr_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  data type of the attribute.\";s:4:\"type\";s:6:\"string\";}s:9:\"attribute\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  id of the attribute.\";s:4:\"type\";s:6:\"string\";}s:12:\"display_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  display name of the attribute.\";s:4:\"type\";s:6:\"string\";}s:9:\"max_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  maximal value, if set for the attribute.\";s:4:\"type\";s:6:\"object\";}s:9:\"min_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  minimal value, if set for the attribute.\";s:4:\"type\";s:6:\"object\";}s:9:\"operators\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  list of possible operators for the attribute.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/rule_operator\";}s:4:\"type\";s:5:\"array\";}s:10:\"value_list\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"List
  of possible values for the attribute. Is only returned if attribute values are explicily
  restricted.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/rule_attribute_value\";}s:4:\"type\";s:5:\"array\";}s:14:\"value_selector\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  value selector, if set for the attribute.\";s:4:\"type\";s:6:\"string\";}}}s:20:\"rule_attribute_group\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Document
  representing a group of customer rule attributes.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  list of attributes of this group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/rule_attribute\";}s:4:\"type\";s:5:\"array\";}s:12:\"display_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  display name of the attribute group.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  id of the attribute group.\";s:4:\"type\";s:6:\"string\";}}}s:20:\"rule_attribute_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Document
  representing a possible value for a customer group attribute.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"display_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  display name of the value.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  value of the attribute.\";s:4:\"type\";s:6:\"object\";}}}s:13:\"rule_operator\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Document
  representing an operator for a customer group attribute.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"display_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  display value of the operator.\";s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  operator of the attribute.\";s:4:\"type\";s:6:\"string\";}s:17:\"value_restriction\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Possible
  value restrictions for the operator.\";s:4:\"type\";s:6:\"string\";}s:10:\"value_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"The
  attribute type for which the operator is valid.\n This is only set if the operator
  is restricted to a specific attribute type.\";s:4:\"type\";s:6:\"string\";}}}s:6:\"schema\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Object,
  containing either a link to a document or the definition of it.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"HTTP-
  or document-internal link to the schema document.\";s:4:\"type\";s:6:\"string\";}s:10:\"definition\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/document\";}s:11:\"description\";s:43:\"Single
  element map for document definition.\";s:4:\"type\";s:6:\"object\";}}}s:19:\"security_definition\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Definition
  object for describing an authorization mechanism.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:16:\"authorizationUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"A
  short description for security scheme.\";s:4:\"type\";s:6:\"string\";}s:4:\"flow\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  flow used by the OAuth2 security scheme (required, if type = oauth2).\";s:4:\"enum\";a:4:{i:0;s:10:\"accessCode\";i:1;s:11:\"application\";i:2;s:8:\"password\";i:3;s:8:\"implicit\";}s:4:\"type\";s:6:\"string\";}s:2:\"in\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  location of the API key (required, if type = apiKey).\";s:4:\"enum\";a:2:{i:0;s:6:\"header\";i:1;s:5:\"query\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"The
  name of the header or query parameter to be used (required, if type = apiKey).\";s:4:\"type\";s:6:\"string\";}s:8:\"tokenUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  type of the security scheme.\";s:4:\"enum\";a:3:{i:0;s:6:\"apiKey\";i:1;s:5:\"basic\";i:2;s:6:\"oauth2\";}s:4:\"type\";s:6:\"string\";}s:18:\"x-authorizationUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}}s:7:\"swagger\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Swagger
  document, for swagger 2.0.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"basePath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"consumes\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Array
  of consumed content types.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"definitions\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/document\";}s:11:\"description\";s:81:\"Map
  with all document definitions for the API, where the document id\n is the key.\";s:4:\"type\";s:6:\"object\";}s:4:\"host\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Host
  name.\";s:4:\"type\";s:6:\"string\";}s:4:\"info\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/info\";s:11:\"description\";s:16:\"API
  information.\";}s:5:\"paths\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/resource\";}s:11:\"description\";s:83:\"Map
  with all resource definitions for the API, where the resource path\n is the key.\";s:4:\"type\";s:6:\"object\";}s:8:\"produces\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Array
  of produced content types.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"securityDefinitions\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/security_definition\";}s:4:\"type\";s:6:\"object\";}s:7:\"swagger\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Swagger
  specification version.\";s:4:\"type\";s:6:\"string\";}s:11:\"x-documents\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"uicustomization\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/uidata\";}s:11:\"observables\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"restricted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"template\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"validators\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/validators\";}}}s:6:\"uidata\";O:8:\"stdClass\":0:{}s:10:\"validators\";O:8:\"stdClass\":1:{s:11:\"description\";s:54:\"Validation
  uses the buist validation framework.\n\n See \";}s:19:\"version_description\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Description
  object for a version in an API.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"HTTP
  link to the swagger document for the API and the version\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Version
  name.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Version
  status.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"version_result\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Result
  containing descriptions for all valid versions in an API.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"versions\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Array
  with all valid versions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/version_description\";}s:4:\"type\";s:5:\"array\";}}}}"
...
