---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":13:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:28:\"IDDDBCLS@Victoria1.gov.bc.ca\";s:4:\"name\";s:6:\"DataBC\";s:3:\"url\";s:23:\"https://data.gov.bc.ca/\";}s:11:\"description\";s:1730:\"Finds
  shortest/fastest route between a start point and one or more stop points on British
  Columbia's public road network. The BC Route planner [webpage](https://www2.gov.bc.ca/gov/content?id=9D99E684CCD042CD88FADC51E079B4B5)
  provides additional information.  Here are some geocoded addresses to play with:<br>18
  Douglas St,Victoria -123.36962,48.40892<br>1002 Johnson St, Victoria -123.355745,48.426206<br>543
  Johnson St, Victoria, BC -123.36907,48.42770 <br>14 Centennial Sq, Victoria, BC
  -123.36564,48.42863<br>1105 Royal Ave,New Westminster  -122.92009,49.20063<br>808
  Jackson Cres, New Westminster -122.90762,49.22558<br>10810 McDonald Rd, Chilliwack
  -121.93808,49.19859<br>3950 June Springs Rd, Kelowna -119.40751,49.83960<br>1201
  Riondel Rd, Kootenay Bay -116.85402,49.74448<br>1201 Riondel Rd, Kootenay Bay -116.832759,49.730500
  (parcelPoint)<br>2499 Walbran Pl, Courtenay -124.97295,49.71518<br>2013 Smoke Bluff
  Rd, Squamish -123.13946,49.70401<br>235 Kelvin Grove Way, Lions Bay -123.23524,49.45035<br>
  \  Please see our <a href=https://github.com/bcgov/api-specs/blob/master/COLLECTION_NOTICE.md#collection-notice
  target=\"_blank\">data collection notice</a>. \n\nPlease note that you may experience
  issues when submitting requests to the delivery or test environment if using this
  [OpenAPI specification](https://github.com/bcgov/api-specs) in other API console
  viewers. \n\n[Developer API keys](https://github.com/bcgov/gwa/wiki/Developer-Guide#developer-api-keys)
  are unique and provide the ability to make up to 2 requests per second. Production
  government applications may use organization API keys which are further described
  in [the Developer guide](https://github.com/bcgov/gwa/wiki/Developer-Guide#developer-api-keys).\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:57:\"Copyright
  2018 Province of British Columbia - Access only\";s:3:\"url\";s:70:\"https://www2.gov.bc.ca/gov/content?id=1AAACC9C65754E4D89A118B875E0FBDA\";}s:14:\"termsOfService\";s:69:\"http://www2.gov.bc.ca/gov/content?id=D1EE0A405E584363B205CD4353E02C88\";s:5:\"title\";s:16:\"BC
  Route Planner\";s:7:\"version\";s:5:\"1.3.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:86:\"https://api.apis.guru/v2/cache/logo/https_avatars1.githubusercontent.com_u_916280.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:7:\"openapi\";s:3:\"url\";s:75:\"https://raw.githubusercontent.com/bcgov/api-specs/master/router/router.json\";s:7:\"version\";s:3:\"3.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"gov.bc.ca\";s:13:\"x-serviceName\";s:6:\"router\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"gov_bc_ca_router\";s:4:\"type\";s:7:\"openapi\";}}"
host: router.api.gov.bc.ca
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
