---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:33:\"https://www.beanstream.com/api/v1\";s:5:\"title\";s:19:\"Beanstream
  Payments\";s:7:\"version\";s:5:\"1.0.1\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:7:\"payment\";i:1;s:9:\"financial\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:106:\"https://api.apis.guru/v2/cache/logo/http_www.beanstream.com_wp-content_uploads_2015_08_Beanstream-logo.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:50:\"http://support.beanstream.com/restapi/swagger.json\";s:7:\"version\";s:3:\"2.0\";}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"beanstream.com\";s:6:\"x-tags\";a:3:{i:0;s:8:\"payments\";i:1;s:12:\"bank-neutral\";i:2;s:22:\"omni-channel
  reporting\";}}"
host: www.beanstream.com
basePath: /api/v1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":33:{s:7:\"Address\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"address_line1\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"alphanumeric
  (64)\";s:4:\"type\";s:6:\"string\";}s:13:\"address_line2\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"alphanumeric
  (64)\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"alphanumeric
  (32)\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"characters
  (2)\";s:4:\"type\";s:6:\"string\";}s:13:\"email_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"alphanumeric
  (32)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"alphanumeric
  (64)\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"alphanumeric
  (32)\";s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"alphanumeric
  (16)\";s:4:\"type\";s:6:\"string\";}s:8:\"province\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"characters
  (2)\";s:4:\"type\";s:6:\"string\";}}}s:10:\"Adjustment\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"amount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"approval\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  date it was created '2015-04-22T10:03:19.323-07:00'\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"BeanstreamException\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"category\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"code\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Detail\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"reference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Card\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"complete\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:62:\"set
  to false for Pre-Authorize, and true to complete a payment\";s:4:\"type\";s:7:\"boolean\";}s:3:\"cvd\";O:8:\"stdClass\":3:{s:7:\"default\";s:3:\"123\";s:11:\"description\";s:109:\"Security
  code on the back of the credit card. This can be set to mandatory in the back office.
  digits(3 or 4)\";s:4:\"type\";s:6:\"string\";}s:12:\"expiry_month\";O:8:\"stdClass\":3:{s:7:\"default\";s:2:\"02\";s:11:\"description\";s:30:\"eg.
  02 for February. digits(2)\";s:4:\"type\";s:6:\"string\";}s:11:\"expiry_year\";O:8:\"stdClass\":3:{s:7:\"default\";s:2:\"18\";s:11:\"description\";s:26:\"eg.
  15 for 2015. digits(2)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Card
  holder name. alphanumeric(64)\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"5100000010001004\";s:11:\"description\";s:36:\"Credit
  card number (PAN). digits(20)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:6:\"number\";i:2;s:12:\"expiry_month\";i:3;s:11:\"expiry_year\";}}s:26:\"CardGetTransactionResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"address_match\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"digits
  (1)\";s:4:\"type\";s:7:\"integer\";}s:10:\"avs_result\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"characters
  (1)\";s:4:\"type\";s:6:\"string\";}s:9:\"card_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"characters
  (2)\";s:4:\"type\";s:6:\"string\";}s:9:\"cvd_match\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"digits
  (2)\";s:4:\"type\";s:7:\"integer\";}s:12:\"expiry_month\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"characters
  (2)\";s:4:\"type\";s:6:\"string\";}s:11:\"expiry_year\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"characters
  (2)\";s:4:\"type\";s:6:\"string\";}s:9:\"last_four\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"digits
  (4)\";s:4:\"type\";s:6:\"string\";}}}s:20:\"CardPurchaseResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"address_match\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"digits
  (1)\";s:4:\"type\";s:7:\"integer\";}s:9:\"card_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"characters
  (2)\";s:4:\"type\";s:6:\"string\";}s:9:\"cvd_match\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"digits
  (2)\";s:4:\"type\";s:7:\"integer\";}s:9:\"last_four\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"digits
  (4)\";s:4:\"type\";s:6:\"string\";}s:13:\"postal_result\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"digits
  (1)\";s:4:\"type\";s:7:\"integer\";}}}s:17:\"CreateProfileBody\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"billing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:4:\"card\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ProfileFromCard\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"alphanumeric(256)\";s:4:\"type\";s:6:\"string\";}s:6:\"custom\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Custom\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"characters(2)\";s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProfileFromToken\";}}}s:8:\"Criteria\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"field\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"Refer
  to the table on this page for the searchable fields http://developer.beanstream.com/documentation/analyze-payments/search-specific-criteria/\";s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}s:8:\"operator\";O:8:\"stdClass\":2:{s:11:\"description\";s:220:\"URL
  encoded comparators such as less than, greater than, equals... Refer to the table
  on this page for the full list of comparators http://developer.beanstream.com/documentation/analyze-payments/search-specific-criteria/\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  value you want to match against.\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Custom\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"ref1\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"alphanumeric
  (256)\";s:4:\"type\";s:6:\"string\";}s:4:\"ref2\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"alphanumeric
  (256)\";s:4:\"type\";s:6:\"string\";}s:4:\"ref3\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"alphanumeric
  (256)\";s:4:\"type\";s:6:\"string\";}s:4:\"ref4\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"alphanumeric
  (256)\";s:4:\"type\";s:6:\"string\";}s:4:\"ref5\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"alphanumeric
  (256)\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Detail\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"field\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"GetProfileDefaultCard\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"card_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"MC,
  VI etc. characters(2)\";s:4:\"type\";s:6:\"string\";}s:12:\"expiry_month\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"digits(2)\";s:4:\"type\";s:6:\"string\";}s:11:\"expiry_year\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"digits(2)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"cardholder
  name alphanumeric(64)\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"masked
  credit card number alphanumeric(20)\";s:4:\"type\";s:6:\"string\";}}}s:4:\"Link\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"alphanumeric
  (256). Url to perform the void, return, completion etc.\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"characters
  (16). Http method. post, put, get etc.\";s:4:\"type\";s:6:\"string\";}s:3:\"ref\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"characters
  (16). Eg. \"void\" or \"return\"\";s:4:\"type\";s:6:\"string\";}}}s:14:\"PaymentProfile\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"account_ref\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"billing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:4:\"card\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/GetProfileDefaultCard\";}s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"digits(2)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"custom\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Custom\";}s:13:\"customer_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"alphanumeric(32)\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"characters(2)\";s:4:\"type\";s:6:\"string\";}s:16:\"last_transaction\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"date
  and time alphanumeric(24)\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"alphanumeric(64)\";s:4:\"type\";s:6:\"string\";}s:13:\"modified_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"date
  and time it was last modified alphanumeric(24)\";s:4:\"type\";s:6:\"string\";}s:13:\"profile_group\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"characters(1)\";s:4:\"type\";s:6:\"string\";}s:14:\"velocity_group\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"PaymentRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  decimal value in dollars, or relevant currency. digits(9)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"billing\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:19:\"The
  billing address\";}s:4:\"card\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Card\";s:11:\"description\";s:61:\"Payment
  with a credit card. The payment_method must be 'card'\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"alphanumeric
  (256)\";s:4:\"type\";s:6:\"string\";}s:6:\"custom\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Custom\";}s:11:\"customer_ip\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"alphanumeric
  (30)\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"characters
  (3)\";s:4:\"type\";s:6:\"string\";}s:12:\"order_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"A
  unique order number. alphanumeric(30)\";s:4:\"type\";s:6:\"string\";}s:14:\"payment_method\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"One
  of (card, token, payment_profile, cash, cheque). characters(20)\";s:4:\"type\";s:6:\"string\";}s:15:\"payment_profile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ProfilePurchase\";s:11:\"description\";s:76:\"Payment
  with a Payment Profile. The payment_method must be 'payment_profile'\";}s:8:\"shipping\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:20:\"The
  shipping address\";}s:8:\"term_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"alphanumeric
  (256)\";s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TokenPurchase\";s:11:\"description\";s:63:\"Payment
  with a Legato token. The payment_method must be 'token'\";}}s:8:\"required\";a:2:{i:0;s:6:\"amount\";i:1;s:14:\"payment_method\";}}s:15:\"PaymentResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"approved\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Approved
  = 1, declined = 0\";s:4:\"type\";s:7:\"integer\";}s:9:\"auth_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"alphanumeric
  (32)\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CardPurchaseResponse\";}s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"alphanumeric
  (32)\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"digits
  (9)\";s:4:\"type\";s:6:\"string\";}s:5:\"links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"alphanumeric
  (256)\";s:4:\"type\";s:6:\"string\";}s:10:\"message_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"digits
  (3)\";s:4:\"type\";s:6:\"string\";}s:12:\"order_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"alphanumeric
  (32)\";s:4:\"type\";s:6:\"string\";}s:14:\"payment_method\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"characters
  (16)\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"characters
  (16)\";s:4:\"type\";s:6:\"string\";}}}s:11:\"ProfileCard\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"expiry_month\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"digits(2)\";s:4:\"type\";s:6:\"string\";}s:11:\"expiry_year\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"digits(2)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"cardholder
  name. alphanumeric(64)\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Credit
  card number. digits(20)\";s:4:\"type\";s:6:\"string\";}}}s:12:\"ProfileCards\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"card_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"1-indexed
  card ID. Total number of cards allowed is configured in your merchant account.\";s:4:\"type\";s:6:\"string\";}s:9:\"card_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"MC,
  VI etc. characters(2)\";s:4:\"type\";s:6:\"string\";}s:12:\"expiry_month\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"digits(2)\";s:4:\"type\";s:6:\"string\";}s:11:\"expiry_year\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"digits(2)\";s:4:\"type\";s:6:\"string\";}s:8:\"function\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Will
  say DEF for the default card\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"digits(20)\";s:4:\"type\";s:6:\"string\";}}}s:15:\"ProfileFromCard\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"cvd\";O:8:\"stdClass\":3:{s:7:\"default\";s:3:\"123\";s:11:\"description\";s:104:\"Security
  code on the back of the credit card. This can be set to mandatory in the back office.
  digits(3)\";s:4:\"type\";s:6:\"string\";}s:12:\"expiry_month\";O:8:\"stdClass\":3:{s:7:\"default\";s:2:\"02\";s:11:\"description\";s:30:\"eg.
  02 for February. digits(2)\";s:4:\"type\";s:6:\"string\";}s:11:\"expiry_year\";O:8:\"stdClass\":3:{s:7:\"default\";s:2:\"18\";s:11:\"description\";s:9:\"digits(2)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"5100000010001004\";s:11:\"description\";s:34:\"Card
  holder name. alphanumeric(64)\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Credit
  card number (PAN)  digits(20)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:6:\"number\";i:2;s:12:\"expiry_month\";i:3;s:11:\"expiry_year\";}}s:16:\"ProfileFromToken\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  token received from the client-side tokenization service. alphanumeric(64)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"alphanumeric(64)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"code\";}}s:15:\"ProfileGetCards\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"card\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ProfileCards\";}s:4:\"type\";s:5:\"array\";}s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"digits(2)\";s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}s:13:\"customer_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"characters(32)\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"alphanumeric(64)\";s:4:\"type\";s:6:\"string\";}}}s:15:\"ProfilePurchase\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"card_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:167:\"Which
  credit card to use. Starts at 1 for the first card. You must configure how many
  cards can be stored by visiting the profile options in the back office. digits(1)\";s:4:\"type\";s:7:\"integer\";}s:8:\"complete\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Set
  to FALSE for pre-auth. digit(1) or boolean\";s:4:\"type\";s:7:\"boolean\";}s:13:\"customer_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  payment profile ID. alphanumeric(32)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:13:\"customer_code\";i:1;s:7:\"card_id\";}}s:15:\"ProfileResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}s:13:\"customer_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"the
  ID of the payment profile. You need to keep track of this value.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"ProfileToken\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"single
  use token associated with this account. alphanumeric(36)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Name
  of cardholder. alphanumeric(64)\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Return\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  amount of the transaction to return. Must be less than or equal to the original
  purchase amount.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"order_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"alphanumeric
  (30)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"amount\";}}s:11:\"SearchQuery\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"criteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Optional
  search criteria. All criteria are ANDed together.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Criteria\";}s:4:\"type\";s:5:\"array\";}s:8:\"end_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  end date (inclusive) '2015-04-22T10:03:19' in the timezone of your merchant account.\";s:4:\"type\";s:6:\"string\";}s:7:\"end_row\";O:8:\"stdClass\":4:{s:7:\"default\";i:2;s:11:\"description\";s:81:\"Used
  to page the results. 1-based. This should always be 1 larger than start_row.\";s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Only
  accepts 2 values. Can be either 'Search' for all fields or 'TransHistoryMinimal'
  for a subset of the fields returned in the results.\";s:4:\"type\";s:6:\"string\";}s:10:\"start_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  start date (inclusive) '2015-04-22T10:03:19' in the timezone of your merchant account.\";s:4:\"type\";s:6:\"string\";}s:9:\"start_row\";O:8:\"stdClass\":4:{s:7:\"default\";i:1;s:11:\"description\";s:33:\"Used
  to page the results. 1-based\";s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:5:{i:0;s:4:\"name\";i:1;s:10:\"start_date\";i:2;s:8:\"end_date\";i:3;s:9:\"start_row\";i:4;s:7:\"end_row\";}}s:12:\"SearchRecord\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":49:{s:10:\"b_address1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"b_address2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"b_city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"b_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"b_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"b_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"b_phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"b_postal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"b_province\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"customer_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  PaymentProfile ID used in this transaction, if appropriate.\";s:4:\"type\";s:6:\"string\";}s:10:\"message_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}s:12:\"message_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"product_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"ref1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"ref2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"ref3\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"ref4\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"ref5\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"row_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}s:10:\"s_address1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"s_address2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"s_city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"s_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"s_email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"s_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"s_phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"s_postal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"s_province\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"trn_amount\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"float32\";s:4:\"type\";s:6:\"number\";}s:17:\"trn_approval_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"trn_avs_result\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Address
  Verification Service\";s:4:\"type\";s:6:\"string\";}s:12:\"trn_batch_no\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}s:15:\"trn_card_expiry\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"trn_card_owner\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"trn_card_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"MC
  VI etc\";s:4:\"type\";s:6:\"string\";}s:15:\"trn_completions\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"float32\";s:4:\"type\";s:6:\"number\";}s:14:\"trn_cvd_result\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}s:13:\"trn_date_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"2015-04-22T10:03:19.323-07:00\";s:4:\"type\";s:6:\"string\";}s:6:\"trn_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}s:6:\"trn_ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"trn_masked_card\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  credit card with the middle digits redacted with X's\";s:4:\"type\";s:6:\"string\";}s:16:\"trn_order_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"trn_payment_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"trn_reference\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}s:12:\"trn_response\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}s:11:\"trn_returns\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"float32\";s:4:\"type\";s:6:\"number\";}s:8:\"trn_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"trn_voided\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}}}s:12:\"SearchResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"records\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SearchRecord\";}s:4:\"type\";s:5:\"array\";}}}s:13:\"TokenPurchase\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"the
  payment token you retrieved from the Legato service. alphanumeric(36)\";s:4:\"type\";s:6:\"string\";}s:8:\"complete\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Set
  to FALSE for pre-auth\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Card
  holder name. alphanumeric(64)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:4:\"name\";}}s:12:\"TokenRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"cvd\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"a
  3 to 4 digit representation of CVD/CDD. This is the number usually found on the
  back of the credit card.\";s:4:\"type\";s:6:\"string\";}s:12:\"expiry_month\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"a
  2 digit representation of the expiry month. For example March is 03.\";s:4:\"type\";s:6:\"string\";}s:11:\"expiry_year\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"a
  2 digit representation of the expiry year. For example 2016 is 16.\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  credit card number\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:6:\"number\";i:1;s:12:\"expiry_month\";i:2;s:11:\"expiry_year\";i:3;s:3:\"cvd\";}}s:13:\"TokenResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Response
  code for the message. It can be ignored.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"Response
  message with any hints as to what might have gone wrong, if something went wrong.\";s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"The
  token representing the credit card number that you will send to Beanstream for purchases.
  You will always receive a token, even if the request data is wrong or the card is
  invalid.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Message
  version number. Can be ignored.\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:5:\"token\";}}s:11:\"Transaction\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":20:{s:11:\"adjusted_by\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Adjustment\";}s:4:\"type\";s:5:\"array\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"approved\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"auth_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"batch_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"billing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:4:\"card\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/CardGetTransactionResponse\";}s:8:\"comments\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  date it was created '2015-04-22T10:03:19.323-07:00'\";s:4:\"type\";s:6:\"string\";}s:6:\"custom\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Custom\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}s:5:\"links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"message_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"integer\";s:4:\"type\";s:6:\"number\";}s:12:\"order_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"payment_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"shipping\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:17:\"total_completions\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"total_refunds\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"UpdateProfileBody\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"billing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:4:\"card\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ProfileToken\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"alphanumeric(256)\";s:4:\"type\";s:6:\"string\";}s:6:\"custom\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Custom\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"characters(2)\";s:4:\"type\";s:6:\"string\";}}}s:4:\"Void\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:214:\"The
  amount of the transaction to void. Must be equal to the original purchase amount.
  You can void purchases as well as pre-auths and returns. The amount you are voiding
  has to match the amount of that transaction.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:6:\"amount\";}}}"
...
