---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:11:\"Returns API\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://developer.fandango.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:231:\"If
  you have been assigned an API Key, you can test Fandango's API services here. You
  can also view written documentation for information on methods available via the
  Fandango API and definitions of the output associated with each. \";s:12:\"x-mashery-id\";s:5:\"11536\";}"
host: api.fandango.com
basePath: /
paths:
  /reason-codes/v1:
    get:
      operationId: reasoncodesreason-codesv1
      summary: Get list of reasons for return
      tags:
      - reason-codes v1
      parameters:
      - name: Accept
        type: string
        description: Content type of the response payload
        in: header
        required: false
        enum:
        - application/json
      produces:
      - application/json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /transactions/v1/{transactionId}/refund:
    post:
      operationId: createtransactionsv1refundtransactionsv1refund
      summary: Refund a transaction
      tags:
      - transactions v1 refund
      parameters:
      - name: Accept
        type: string
        description: Content type of the response payload
        in: header
        required: false
        enum:
        - application/json
      - name: transactionId
        type: string
        description: Pass a value for looking up transaction
        in: path
        required: true
      - name: body
        in: body
        schema:
          $ref: '#/definitions/Refund'
      produces:
      - application/json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /transactions/v1:
    get:
      operationId: searchtransactionsv1
      summary: Search for transactions to refund
      tags:
      - transactions v1
      parameters:
      - name: Accept
        type: string
        description: Content type of the response payload
        in: header
        required: false
        enum:
        - application/json
      - name: email
        type: string
        description: Customer's email address to search
        in: query
        required: false
      - name: confirmationCode
        type: string
        description: Customer's confirmation number for ticket purchase
        in: query
        required: false
      - name: chainSiteId
        type: string
        description: This is the chain's site Id and is required if the caller is
          a theater
        in: query
        required: false
      - name: offset
        type: integer
        description: Record to start search from
        in: query
        required: false
      - name: limit
        type: integer
        description: Number of records to return per request
        in: query
        required: false
      - name: transactionCutoffDate
        type: string
        description: The date limit for the current search
        in: query
        required: false
      produces:
      - application/json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":7:{s:6:\"Refund\";O:8:\"stdClass\":4:{s:5:\"title\";s:6:\"Refund\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:16:\"refundReasonCode\";i:1;s:10:\"returnType\";i:2;s:11:\"chainSiteId\";i:3;s:9:\"chainCode\";i:4;s:13:\"userAccountId\";i:5;s:11:\"affiliateId\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"refundReasonCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"returnType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"chainSiteId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"chainCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"userAccountId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"affiliateId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"ReasonCodes\";O:8:\"stdClass\":4:{s:5:\"title\";s:11:\"ReasonCodes\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:18:\"ReasonCodesFailure\";O:8:\"stdClass\":4:{s:5:\"title\";s:18:\"ReasonCodesFailure\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:8:\"required\";a:1:{i:0;s:6:\"errors\";}}s:14:\"RefundResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:14:\"RefundResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"confirmationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"returnTransactionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"inventoryReturned\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:21:\"RefundResponseFailure\";O:8:\"stdClass\":4:{s:5:\"title\";s:21:\"RefundResponseFailure\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:10:\"ruleErrors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:8:\"required\";a:2:{i:0;s:6:\"errors\";i:1;s:10:\"ruleErrors\";}}s:12:\"SearchResult\";O:8:\"stdClass\":4:{s:5:\"title\";s:12:\"SearchResult\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"page\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"confirmationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"purchaseDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:7:\"cardFee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"salesFee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"surchargeFee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"reservedFee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"shippingFee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"tax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"totalFees\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"subtotal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"tickets\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}s:8:\"payments\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"card\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastFour\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}s:11:\"performance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"movieTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"auditoriumId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"dateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"performanceId
  \";O:8:\"stdClass\":0:{}s:7:\"runtime\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"posMovieId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"movieRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"theater\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"chainSiteId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}s:8:\"required\";a:2:{i:0;s:4:\"page\";i:1;s:4:\"data\";}}s:9:\"CoreError\";O:8:\"stdClass\":4:{s:5:\"title\";s:9:\"CoreError\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}}}"
...
