---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:12:\"Fandango API\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://developer.fandango.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:315:\"If
  you have been assigned an API Key, you can test Fandango's API services here. You
  can also view written documentation for information on methods available via the
  Fandango API and definitions of the output associated with each. The Fandango API
  allows its partners to access Fandango's theater and customer data.\";s:12:\"x-mashery-id\";s:3:\"376\";}"
host: api.fandango.com
basePath: /
paths:
  /:
    get:
      operationId: ContentSearchContentSearchMethod
      summary: The content search operation will search through d...
      description: The content search operation will search through different repositories
        of data to find movies, people, and theaters based on text
      tags:
      - Content Search Method
      parameters:
      - name: op
        type: string
        description: To invoke this operation, this must always be set to the requested
          operation
        in: query
        required: false
        enum:
        - contentsearch
      - name: repos
        type: string
        description: The type of repository to search
        in: query
        required: false
        enum:
        - all
        - movies
        - people
        - theaters
      - name: q
        type: string
        description: The text to search against
        in: query
        required: true
        default: avengers
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
