---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:18:\"Fandango Discovery\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://developer.fandango.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:231:\"If
  you have been assigned an API Key, you can test Fandango's API services here. You
  can also view written documentation for information on methods available via the
  Fandango API and definitions of the output associated with each. \";s:12:\"x-mashery-id\";s:4:\"7849\";}"
host: api.fandango.com
basePath: /
paths:
  /autocomplete/v2:
    get:
      operationId: listautocompletev2autocompletev2
      summary: ""
      tags:
      - autocomplete v2
      parameters:
      - name: Accept
        type: string
        description: Content type of the response payload
        in: header
        required: false
        enum:
        - application/json
      - name: searchText
        type: string
        description: ""
        in: query
        required: true
      - name: latitude
        type: number
        description: Latitude of the user's location
        in: query
        required: false
      - name: longitude
        type: number
        description: Longitude of the user's location
        in: query
        required: false
      - name: zipCode
        type: string
        description: Zip code of the user's location
        in: query
        required: false
      - name: limit
        type: number
        description: Number of items to return
        in: query
        required: false
      produces:
      - application/json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /geolocation/v2/countries/{country}/states/{state}/cities/{city}:
    get:
      operationId: getCitygeolocationv2countriesstatescities
      summary: ""
      tags:
      - geolocation v2 countries states cities
      parameters:
      - name: country
        type: string
        description: 2-Letter country code
        in: path
        required: true
      - name: state
        type: string
        description: State code
        in: path
        required: true
      - name: city
        type: string
        description: Name of city
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /geolocation/v2/countries/{country}/postalcodes/{postalcode}:
    get:
      operationId: getPostalCodegeolocationv2countriespostalcodes
      summary: ""
      tags:
      - geolocation v2 countries postalcodes
      parameters:
      - name: country
        type: string
        description: ""
        in: path
        required: true
      - name: postalcode
        type: string
        description: ""
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /movies/v2:
    get:
      operationId: listmoviesv2moviesv2
      summary: ""
      tags:
      - movies v2
      parameters:
      - name: type
        type: string
        description: movie type
        in: query
        required: true
      - name: latitude
        type: number
        description: Latitude of the user's location
        in: query
        required: false
      - name: longitude
        type: number
        description: Longitude of the user's location
        in: query
        required: false
      - name: zipCode
        type: string
        description: Zip code of the user's location
        in: query
        required: false
      - name: radius
        type: number
        description: Search radius in miles around the user's location
        in: query
        required: false
      - name: limit
        type: integer
        description: Number of items to return. Used in pagination.
        in: query
        required: false
      - name: offset
        type: integer
        description: Offset index of the first item to return. Used in pagination.
        in: query
        required: false
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /movies/v2/{movieId}:
    get:
      operationId: getmoviesv2moviesv2
      summary: ""
      tags:
      - movies v2
      parameters:
      - name: Accept
        type: string
        description: Content type of the response payload
        in: header
        required: false
        enum:
        - application/json
      - name: movieId
        type: string
        description: The ID of the movie
        in: path
        required: true
      produces:
      - application/json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /movies/v2/{movieId}/display-dates:
    get:
      operationId: listmoviesv2display-datesmoviesv2display-dates
      summary: ""
      tags:
      - movies v2 display-dates
      parameters:
      - name: movieId
        type: string
        description: Movie ID
        in: path
        required: true
      - name: latitude
        type: number
        description: Latitude of the user's location
        in: query
        required: false
      - name: longitude
        type: number
        description: Longitude of the user's location
        in: query
        required: false
      - name: zipCode
        type: string
        description: Zip code of the user's location
        in: query
        required: false
      - name: radius
        type: number
        description: Search radius in miles around the user's location
        in: query
        required: false
      - name: startDateTime
        type: string
        description: Start datetime (ISO-8601) for the display date range. Defaults
          to UTC now.
        in: query
        required: false
      - name: endDateTime
        type: string
        description: End datetime (ISO-8601) for the display date range. Defaults
          to no end datetime.
        in: query
        required: false
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /movies/v2/{movieId}/showtime-groupings:
    get:
      operationId: getMovieShowtimeGroupingsmoviesv2showtime-groupings
      summary: ""
      tags:
      - movies v2 showtime-groupings
      parameters:
      - name: movieId
        type: string
        description: Movie Id
        in: path
        required: true
      - name: startDisplayDate
        type: string
        description: ""
        in: query
        required: false
      - name: endDisplayDate
        type: string
        description: End display date. Defaults to start display date.
        in: query
        required: false
      - name: latitude
        type: number
        description: Latitude of the user's location
        in: query
        required: false
      - name: longitude
        type: number
        description: Longitude of the user's location
        in: query
        required: false
      - name: zipCode
        type: string
        description: Zip code of the user's location
        in: query
        required: false
      - name: radius
        type: number
        description: Search radius in miles around the user's location
        in: query
        required: false
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /showtimes/v2:
    get:
      operationId: listshowtimesv2showtimesv2
      summary: ""
      tags:
      - showtimes v2
      parameters:
      - name: latitude
        type: number
        description: Latitude of the user's location
        in: query
        required: false
      - name: longitude
        type: number
        description: Longitude of the user's location
        in: query
        required: false
      - name: zipCode
        type: string
        description: Zip code of the user's location
        in: query
        required: false
      - name: radius
        type: number
        description: Search radius in miles around the user's location
        in: query
        required: false
      - name: startDateTime
        type: string
        description: Start datetime (ISO-8601) for the showtime datetime range
        in: query
        required: true
      - name: endDateTime
        type: string
        description: End datetime (ISO-8601) for the showtime datetime range. Defaults
          to the end of the day from the startDateTime value
        in: query
        required: false
      - name: movieTitle
        type: string
        description: Filter showtimes by movie title
        in: query
        required: false
      - name: theaterName
        type: string
        description: Filter showtimes by theater name
        in: query
        required: false
      - name: offset
        type: integer
        description: Offset index of the first item to return. Used in pagination.
        in: query
        required: false
      - name: limit
        type: integer
        description: Number of items to return. Used in pagination.
        in: query
        required: false
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /theaters/v2:
    get:
      operationId: listtheatersv2theatersv2
      summary: ""
      tags:
      - theaters v2
      parameters:
      - name: Accept
        type: string
        description: Content type of the response payload
        in: header
        required: false
        enum:
        - application/json
      - name: latitude
        type: number
        description: Latitude of the user's location
        in: query
        required: false
      - name: longitude
        type: number
        description: Longitude of the user's location
        in: query
        required: false
      - name: zipCode
        type: string
        description: zipCode
        in: query
        required: false
      - name: radius
        type: number
        description: Search radius in miles around the user's location
        in: query
        required: false
      - name: isTicketing
        type: string
        description: Filter by ticketing or non-ticketing theaters
        in: query
        required: false
      - name: limit
        type: integer
        description: Number of items to return. Used in pagination.
        in: query
        required: false
      - name: offset
        type: integer
        description: Offset index of the first item to return. Used in pagination.
        in: query
        required: false
      produces:
      - application/json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /theaters/v2/{theaterId}:
    get:
      operationId: gettheatersv2theatersv2
      summary: ""
      tags:
      - theaters v2
      parameters:
      - name: Accept
        type: string
        description: Content type of the response payload
        in: header
        required: false
        enum:
        - application/json
      - name: theaterId
        type: string
        description: The ID of the theater
        in: path
        required: true
      produces:
      - application/json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /theaters/v2/{theaterId}/display-dates:
    get:
      operationId: listtheatersv2display-datestheatersv2display-dates
      summary: ""
      tags:
      - theaters v2 display-dates
      parameters:
      - name: Accept
        type: string
        description: Content type of the response payload
        in: header
        required: false
        enum:
        - application/json
      - name: theaterId
        type: string
        description: The ID of the theater
        in: path
        required: true
      - name: startDateTime
        type: string
        description: Start datetime (ISO-8601) for the display date range. Defaults
          to UTC now.
        in: query
        required: false
      - name: endDateTime
        type: string
        description: End datetime (ISO-8601) for the display date range. Defaults
          to no end datetime.
        in: query
        required: false
      produces:
      - application/json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /theaters/v2/{theaterId}/showtime-groupings:
    get:
      operationId: listtheatersv2showtime-groupingstheatersv2showtime-groupings
      summary: ""
      tags:
      - theaters v2 showtime-groupings
      parameters:
      - name: Accept
        type: string
        description: Content type of the response payload
        in: header
        required: false
        enum:
        - application/json
      - name: theaterId
        type: string
        description: The ID of the theater
        in: path
        required: true
      - name: startDisplayDate
        type: string
        description: Start display date for the showtime date range.
        in: query
        required: true
      - name: endDisplayDate
        type: string
        description: End display date for the showtime date range. Defaults to start
          display date.
        in: query
        required: false
      produces:
      - application/json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":21:{s:20:\"SearchResultResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:20:\"SearchResultResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"zipcode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"cities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:6:\"movies\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:8:\"theaters\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:6:\"people\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:8:\"required\";a:5:{i:0;s:7:\"zipcode\";i:1;s:6:\"cities\";i:2;s:6:\"movies\";i:3;s:8:\"theaters\";i:4;s:6:\"people\";}}s:13:\"MovieListItem\";O:8:\"stdClass\":4:{s:5:\"title\";s:13:\"MovieListItem\";s:8:\"required\";a:7:{i:0;s:2:\"id\";i:1;s:5:\"title\";i:2;s:10:\"mpaaRating\";i:3;s:7:\"runtime\";i:4;s:4:\"cast\";i:5;s:11:\"releaseDate\";i:6;s:18:\"posterThumbnailUrl\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"mpaaRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"runtime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:31:\"Runtime
  of the movie in minutes\";}s:4:\"cast\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Person\";}}s:11:\"releaseDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:18:\"posterThumbnailUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"URL
  for the movie poster thumbnail\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MovieListResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:17:\"MovieListResponse\";s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:4:\"page\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"movies\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/MovieListItem\";}}}}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PaginationData\";}}s:4:\"type\";s:6:\"object\";}s:14:\"PaginationData\";O:8:\"stdClass\":4:{s:5:\"title\";s:14:\"PaginationData\";s:8:\"required\";a:3:{i:0;s:5:\"limit\";i:1;s:6:\"offset\";i:2;s:10:\"totalCount\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"totalCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Person\";O:8:\"stdClass\":4:{s:5:\"title\";s:6:\"Person\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"CityV2\";O:8:\"stdClass\":4:{s:5:\"title\";s:6:\"CityV2\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"radius\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:43:\"Default
  search radius in miles for the city\";}}s:8:\"required\";a:6:{i:0;s:7:\"country\";i:1;s:4:\"city\";i:2;s:5:\"state\";i:3;s:8:\"latitude\";i:4;s:9:\"longitude\";i:5;s:6:\"radius\";}}s:14:\"CityResponseV2\";O:8:\"stdClass\":4:{s:5:\"title\";s:14:\"CityResponseV2\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/CityV2\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:12:\"PostalCodeV2\";O:8:\"stdClass\":4:{s:5:\"title\";s:12:\"PostalCodeV2\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"postalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"radius\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:50:\"Default
  search radius in miles for the postal code\";}}s:8:\"required\";a:7:{i:0;s:10:\"postalCode\";i:1;s:7:\"country\";i:2;s:4:\"city\";i:3;s:5:\"state\";i:4;s:8:\"latitude\";i:5;s:9:\"longitude\";i:6;s:6:\"radius\";}}s:20:\"PostalCodeResponseV2\";O:8:\"stdClass\":4:{s:5:\"title\";s:20:\"PostalCodeResponseV2\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PostalCodeV2\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:29:\"MovieDisplayDateArrayResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:29:\"MovieDisplayDateArrayResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"displayDates\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}}}s:8:\"required\";a:1:{i:0;s:12:\"displayDates\";}}s:21:\"LocalMoviesResponseV2\";O:8:\"stdClass\":4:{s:5:\"title\";s:21:\"LocalMoviesResponseV2\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"movies\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"mpaaRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"runtime\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  movie runtime in minutes\";s:4:\"type\";s:7:\"integer\";}s:4:\"cast\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"Cast\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:11:\"releaseDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:6:\"poster\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PosterResponse\";}}}}}s:8:\"required\";a:1:{i:0;s:6:\"movies\";}}s:13:\"MovieResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:13:\"MovieResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"mpaaRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"releaseDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:7:\"runtime\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  movie runtime in minutes\";s:4:\"type\";s:7:\"integer\";}s:14:\"mediumSynopsis\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"synopsis\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"poster\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PosterResponse\";}s:9:\"directors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"title\";s:9:\"Directors\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:4:\"cast\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"Cast\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:6:\"genres\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"images\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"title\";s:5:\"Image\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"copyright\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:8:\"required\";a:12:{i:0;s:2:\"id\";i:1;s:5:\"title\";i:2;s:10:\"mpaaRating\";i:3;s:11:\"releaseDate\";i:4;s:7:\"runtime\";i:5;s:14:\"mediumSynopsis\";i:6;s:8:\"synopsis\";i:7;s:6:\"poster\";i:8;s:9:\"directors\";i:9;s:4:\"cast\";i:10;s:6:\"genres\";i:11;s:6:\"images\";}}s:18:\"PaginationResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:18:\"PaginationResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"totalCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:5:\"limit\";i:1;s:6:\"offset\";i:2;s:10:\"totalCount\";}}s:14:\"PosterResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:14:\"PosterResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"contentUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"thumbnailUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"contentUrl\";i:1;s:12:\"thumbnailUrl\";}}s:32:\"MovieShowtimeGroupingsResponseV2\";O:8:\"stdClass\":4:{s:5:\"title\";s:32:\"MovieShowtimeGroupingsResponseV2\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"displayDates\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"displayDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"theaters\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"distance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"isTicketing\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"movieVariants\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"formatId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"formatName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"movieVariantId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"amenityGroups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"amenities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shortDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:9:\"showtimes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:9:\"Available\";i:1;s:10:\"Restricted\";i:2;s:7:\"Soldout\";}}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"dateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"local\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"utc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}}}}}}}}}}}}}s:8:\"required\";a:1:{i:0;s:12:\"displayDates\";}}s:26:\"PaginatedShowtimesResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:26:\"PaginatedShowtimesResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"showtimes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"movieId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"movieTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"theaterId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"theaterName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"isTicketing\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"distance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"dateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"utc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"local\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"amenities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}}}s:4:\"page\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"totalCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:4:\"page\";}}s:27:\"TheaterDisplayDatesResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:27:\"TheaterDisplayDatesResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"displayDates\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}}}s:8:\"required\";a:1:{i:0;s:12:\"displayDates\";}}s:32:\"TheaterShowtimeGroupingsResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:32:\"TheaterShowtimeGroupingsResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"displayDates\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"displayDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"movies\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"mpaaRating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"runtime\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"releaseDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"poster\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PosterResponse\";}s:4:\"cast\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:13:\"movieVariants\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"formatId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"formatName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"movieVariantId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"amenityGroups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"amenities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shortDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:9:\"showtimes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"dateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"local\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"utc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}}}}}}}}}}}}}s:8:\"required\";a:1:{i:0;s:12:\"displayDates\";}}s:15:\"TheaterResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:15:\"TheaterResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address2\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"zipCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"chainCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"chainName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"geo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:8:\"distance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"isTicketing\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"amenities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shortDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:8:\"required\";a:14:{i:0;s:2:\"id\";i:1;s:8:\"address1\";i:2;s:8:\"address2\";i:3;s:4:\"city\";i:4;s:5:\"state\";i:5;s:4:\"name\";i:6;s:7:\"zipCode\";i:7;s:9:\"chainCode\";i:8;s:9:\"chainName\";i:9;s:5:\"phone\";i:10;s:3:\"geo\";i:11;s:8:\"distance\";i:12;s:11:\"isTicketing\";i:13;s:9:\"amenities\";}}s:25:\"PaginatedTheatersResponse\";O:8:\"stdClass\":4:{s:5:\"title\";s:25:\"PaginatedTheatersResponse\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"theaters\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"address2\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"zipCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"chainCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"chainName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"geo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:8:\"distance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"isTicketing\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"amenities\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"shortDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}}}s:4:\"page\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"totalCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}s:8:\"required\";a:2:{i:0;s:4:\"data\";i:1;s:4:\"page\";}}s:9:\"CoreError\";O:8:\"stdClass\":4:{s:5:\"title\";s:9:\"CoreError\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:8:\"required\";a:1:{i:0;s:5:\"error\";}}}"
...
