---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:3:\"1.0\";s:11:\"description\";s:20:\"A
  simple TodoMVC API\";s:5:\"title\";s:11:\"TodoMVC API\";}"
host: todo-dao.endpoints.upheld-coast-222303.cloud.goog
basePath: /
paths:
  /todos:
    post:
      tags:
      - todos
      operationId: post_todo_list
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/Todo'
      parameters:
      - required: true
        in: body
        name: payload
        schema:
          $ref: '#/definitions/Todo'
      - description: An optional fields mask
        format: mask
        type: string
        name: X-Fields
        in: header
      summary: Create a new task
    get:
      tags:
      - todos
      operationId: get_todo_list
      responses:
        200:
          description: Success
          schema:
            items:
              $ref: '#/definitions/Todo'
            type: array
      parameters:
      - description: An optional fields mask
        format: mask
        type: string
        name: X-Fields
        in: header
      summary: List all tasks
  /todos/{id}:
    put:
      tags:
      - todos
      operationId: put_todo
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Todo'
        404:
          description: Todo not found
      parameters:
      - required: true
        in: body
        name: payload
        schema:
          $ref: '#/definitions/Todo'
      - description: An optional fields mask
        format: mask
        type: string
        name: X-Fields
        in: header
      summary: Update a task given its identifier
    delete:
      operationId: delete_todo
      responses:
        204:
          description: Todo deleted
        404:
          description: Todo not found
      tags:
      - todos
      summary: Delete a task given its identifier
    parameters:
    - required: true
      type: integer
      description: The task identifier
      name: id
      in: path
    get:
      tags:
      - todos
      operationId: get_todo
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/Todo'
        404:
          description: Todo not found
      parameters:
      - description: An optional fields mask
        format: mask
        type: string
        name: X-Fields
        in: header
      summary: Fetch a given resource
produces:
- application/json
definitions: !php/object "O:8:\"stdClass\":1:{s:4:\"Todo\";O:8:\"stdClass\":3:{s:8:\"required\";a:1:{i:0;s:4:\"task\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"task\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  task details\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:26:\"The
  task unique identifier\";}}}}"
...
