---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:14:\"Trouble Ticket\";s:7:\"version\";s:6:\"14.5.1\";s:14:\"x-lastModified\";s:24:\"Oct
  17, 2017 03:13AM PST\";s:11:\"description\";s:391:\"Provides a standardized client
  interface to Trouble Ticket Management Systems for creating, tracking and managing
  trouble tickets among partners as a result of an issue or problem identified by
  a customer or another system. Examples of Trouble Ticket API clients include CRM
  applications, network management or fault management systems, or other trouble ticket
  management systems (e.g. B2B).\";}"
host: env-0693795.jelastic.servint.net
paths:
  /hub:
    get:
      tags:
      - hub
      summary: hubFind
      operationId: hubFind
      responses:
        200:
          description: List of Hub
          schema:
            type: array
            items:
              $ref: '#/definitions/Hub'
      parameters: []
    post:
      tags:
      - hub
      summary: hubCreate
      operationId: hubCreate
      parameters:
      - name: hub
        in: body
        required: true
        schema:
          $ref: '#/definitions/Hub'
      responses:
        201:
          description: Hub
          schema:
            $ref: '#/definitions/Hub'
  /hub/{hubId}:
    get:
      tags:
      - hub
      summary: hubGet
      operationId: hubGet
      parameters:
      - type: string
        name: hubId
        in: path
        required: true
      responses:
        200:
          description: Hub
          schema:
            $ref: '#/definitions/Hub'
    delete:
      tags:
      - hub
      summary: hubDelete
      operationId: hubDelete
      parameters:
      - type: string
        name: hubId
        in: path
        required: true
      responses:
        204:
          description: Success
  /troubleTicket:
    get:
      tags:
      - troubleTicket
      summary: troubleTicketFind
      operationId: troubleTicketFind
      parameters:
      - type: string
        name: fields
        in: query
      responses:
        200:
          description: List of TroubleTicket
          schema:
            type: array
            items:
              $ref: '#/definitions/TroubleTicket'
    post:
      tags:
      - troubleTicket
      summary: troubleTicketCreate
      operationId: troubleTicketCreate
      parameters:
      - name: troubleTicket
        in: body
        required: true
        schema:
          $ref: '#/definitions/TroubleTicket'
      responses:
        201:
          description: TroubleTicket
          schema:
            $ref: '#/definitions/TroubleTicket'
  /troubleTicket/{troubleTicketId}:
    get:
      tags:
      - troubleTicket
      summary: troubleTicketGet
      operationId: troubleTicketGet
      parameters:
      - type: string
        name: troubleTicketId
        in: path
        required: true
      - type: string
        name: fields
        in: query
      responses:
        200:
          description: TroubleTicket
          schema:
            $ref: '#/definitions/TroubleTicket'
    put:
      tags:
      - troubleTicket
      summary: troubleTicketUpdate
      operationId: troubleTicketUpdate
      parameters:
      - type: string
        name: troubleTicketId
        in: path
        required: true
      - name: troubleTicket
        in: body
        required: true
        schema:
          $ref: '#/definitions/TroubleTicket'
      responses:
        201:
          description: Success TroubleTicket
          schema:
            $ref: '#/definitions/TroubleTicket'
    patch:
      tags:
      - troubleTicket
      summary: troubleTicketPatch
      operationId: troubleTicketPatch
      parameters:
      - type: string
        name: troubleTicketId
        in: path
        required: true
      - name: troubleTicket
        in: body
        required: true
        schema:
          $ref: '#/definitions/TroubleTicket'
      responses:
        200:
          description: Success TroubleTicket
          schema:
            $ref: '#/definitions/TroubleTicket'
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":5:{s:3:\"Hub\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"callback\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Note\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"RelatedObject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"involvement\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"reference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"RelatedParty\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"TroubleTicket\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:18:\"statusChangeReason\";}s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"correlationId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Note\";}}s:13:\"relatedObject\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RelatedObject\";}}s:12:\"relatedParty\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/RelatedParty\";}}s:8:\"severity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:9:\"Submitted\";i:1;s:8:\"Rejected\";i:2;s:12:\"Acknowledged\";i:3;s:10:\"InProgress\";i:4;s:14:\"InProgressHeld\";i:5;s:17:\"InProgressPending\";i:6;s:8:\"Resolved\";i:7;s:6:\"Closed\";i:8;s:9:\"Cancelled\";}}s:16:\"statusChangeDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:18:\"statusChangeReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"targetResolutionDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
