---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:7:\"version\";s:3:\"2.0\";s:5:\"title\";s:19:\"API
  ProductOrdering\";}"
host: env-0693795.jelastic.servint.net
basePath: /DSProductOrdering/api/productOrdering/v2
paths:
  /productOrder:
    get:
      tags:
      - productOrder
      operationId: productOrderFind
      summary: productOrderFind
      description: ""
      deprecated: false
      parameters:
      - name: fields
        in: query
        required: false
        description: ""
        type: string
      responses:
        200:
          description: List of ProductOrder
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductOrder'
    post:
      tags:
      - productOrder
      operationId: productOrderInCreate
      summary: productOrderInCreate
      description: ""
      deprecated: false
      parameters:
      - name: productOrder
        in: body
        required: true
        schema:
          $ref: '#/definitions/ProductOrderIn'
      responses:
        201:
          description: ProductOrderIn
          schema:
            $ref: '#/definitions/ProductOrderIn'
  /productOrder/{productOrderId}:
    get:
      tags:
      - productOrder
      operationId: productOrderGet
      summary: productOrderGet
      description: ""
      deprecated: false
      parameters:
      - name: productOrderId
        in: path
        required: true
        type: string
      - name: fields
        in: query
        required: false
        description: ""
        type: string
      responses:
        200:
          description: ProductOrder
          schema:
            $ref: '#/definitions/ProductOrder'
    patch:
      tags:
      - productOrder
      operationId: productOrderPatch
      summary: productOrderPatch
      description: ""
      deprecated: false
      parameters:
      - name: productOrderId
        in: path
        required: true
        type: string
      - name: productOrder
        in: body
        required: true
        schema:
          $ref: '#/definitions/ProductOrder'
      responses:
        200:
          description: Success ProductOrder
          schema:
            $ref: '#/definitions/ProductOrder'
  /hub:
    post:
      tags:
      - hub
      operationId: hubCreate
      summary: hubCreate
      description: ""
      deprecated: false
      parameters:
      - name: hub
        in: body
        required: true
        schema:
          $ref: '#/definitions/Hub'
      responses:
        201:
          description: Hub
          schema:
            $ref: '#/definitions/Hub'
    get:
      tags:
      - hub
      operationId: hubFind
      summary: hubFind
      description: ""
      deprecated: false
      responses:
        200:
          description: List of Hub
          schema:
            type: array
            items:
              $ref: '#/definitions/Hub'
  /hub/{hubId}:
    delete:
      tags:
      - hub
      operationId: hubDelete
      summary: hubDelete
      description: ""
      deprecated: false
      parameters:
      - name: hubId
        in: path
        required: true
        type: string
      responses:
        204:
          description: Success
    get:
      tags:
      - hub
      operationId: hubGet
      summary: hubGet
      description: ""
      deprecated: false
      parameters:
      - name: hubId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Hub
          schema:
            $ref: '#/definitions/Hub'
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":10:{s:12:\"ProductOrder\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"externalId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:12:\"Acknowledged\";i:1;s:10:\"InProgress\";i:2;s:9:\"Cancelled\";i:3;s:9:\"Completed\";i:4;s:8:\"Rejected\";i:5;s:7:\"Pending\";i:6;s:4:\"Held\";i:7;s:6:\"Failed\";i:8;s:7:\"Partial\";}}s:9:\"orderDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"completionDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:18:\"requestedStartDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:23:\"requestedCompletionDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:22:\"expectedCompletionDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:19:\"notificationContact\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Note\";}}s:12:\"relatedParty\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}}s:9:\"orderItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OrderItem\";}}}}s:14:\"ProductOrderIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"externalId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:12:\"Acknowledged\";i:1;s:10:\"InProgress\";i:2;s:9:\"Cancelled\";i:3;s:9:\"Completed\";i:4;s:8:\"Rejected\";i:5;s:7:\"Pending\";i:6;s:4:\"Held\";i:7;s:6:\"Failed\";i:8;s:7:\"Partial\";}}s:9:\"orderDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:14:\"completionDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:18:\"requestedStartDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:23:\"requestedCompletionDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:22:\"expectedCompletionDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:19:\"notificationContact\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Note\";}}s:12:\"relatedParty\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}}}}s:4:\"Note\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"OrderItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"action\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:9:{i:0;s:12:\"Acknowledged\";i:1;s:10:\"InProgress\";i:2;s:9:\"Cancelled\";i:3;s:9:\"Completed\";i:4;s:8:\"Rejected\";i:5;s:7:\"Pending\";i:6;s:4:\"Held\";i:7;s:6:\"Failed\";i:8;s:7:\"Partial\";}}s:14:\"billingAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}}s:11:\"appointment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"productOffering\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ProductOffering\";}s:7:\"product\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}}}s:7:\"Product\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"place\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}s:21:\"productCharacteristic\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ProductCharacteristic\";}}s:12:\"relatedParty\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}}s:19:\"productRelationship\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProductRelationship\";}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:21:\"ProductCharacteristic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"ProductRelationship\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:8:\"reliesOn\";i:1;s:7:\"bundled\";i:2;s:7:\"targets\";i:3;s:10:\"isTargeted\";}}s:7:\"product\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}}}s:9:\"Reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"ProductOffering\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"bundledProductOffering\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}}}}s:3:\"Hub\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"callback\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
