---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:228:\"An API for managing
  a list of tasks that need to be done. \n\nDon't forget to take it for a spin by
  clicking on the **Try in Client** button next to each operation! All read operations
  are public and don't require authentication.\n\";s:7:\"version\";s:5:\"1.1.0\";s:5:\"title\";s:9:\"Tasks
  API\";s:14:\"termsOfService\";s:0:\"\";s:7:\"contact\";O:8:\"stdClass\":0:{}}"
host: tasksapi.restlet.net
basePath: /v1
paths:
  /attractions/:
    get:
      summary: Load the list of Attractions
      parameters: []
      responses:
        200:
          description: Status 200
          schema:
            $ref: '#/definitions/Attractions'
        400:
          description: Status 400
          schema:
            $ref: '#/definitions/Error'
  /services/:
    get:
      summary: Load the list of Services
      parameters: []
      responses:
        200:
          description: Status 200
          schema:
            $ref: '#/definitions/Attractions'
        400:
          description: Status 400
          schema:
            $ref: '#/definitions/Error'
  /wards/:
    get:
      summary: Load the list of Wards
      parameters: []
      responses:
        200:
          description: Status 200
          schema:
            $ref: '#/definitions/Ward'
        400:
          description: Status 400
          schema:
            $ref: '#/definitions/Error'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:5:\"Error\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"code\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:400;s:7:\"maximum\";i:599;}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:56:\"Bad
  query parameter [$size]: Invalid integer value [abc]\";}s:12:\"reasonPhrase\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"Bad
  Request\";}}s:11:\"description\";s:57:\"This general error structure is used throughout
  this API.\";s:7:\"example\";s:127:\"{\n  \"code\": 400,\n  \"description\": \"Bad
  query parameter [$size]: Invalid integer value [abc]\",\n  \"reasonPhrase\": \"Bad
  Request\"\n}\";}s:11:\"Attractions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"Sporting
  Fields\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:98:\"Object
  containing objects of each of the individual sporting fields, the park object is
  documented\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"Sporting Field\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"facilities\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"rules\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"map\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"legend\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:5:\"Parks\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:88:\"Object
  containing objects of each of the individual parks, the park object is documented\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Park\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"facilities\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"rules\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"map\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"legend\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}s:8:\"Services\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"Council
  Facilities\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:101:\"Object
  containing objects of each of the individual council facilities, the park object
  is documented\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"Facility Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Facility\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"map\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"img\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}s:17:\"Childcare
  Centres\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:89:\"Object
  containing objects of each of the childcare centres, the park object is documented\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Childcare\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"map\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"img\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}s:4:\"Ward\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Ward\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"councellors\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:55:\"**MAYBE
  OBJECT** Array of councellor id's for reference\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:3:\"map\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"img\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}"
...
