---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:184:\"Manages
  your Stackdriver Monitoring data and configurations. Most projects must be associated
  with a Stackdriver account, with a few exceptions as noted on the individual method
  pages.\";s:5:\"title\";s:22:\"Stackdriver Monitoring\";s:7:\"version\";s:2:\"v3\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:10:\"monitoring\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:60:\"https://monitoring.googleapis.com/$discovery/rest?version=v3\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:10:\"monitoring\";}"
host: monitoring.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":43:{s:19:\"BasicAuthentication\";O:8:\"stdClass\":3:{s:11:\"description\";s:178:\"A
  type of authentication to perform against the specified resource or URL that uses
  username and password. Currently, only Basic authentication is supported in Uptime
  Monitoring.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  password to authenticate.\";s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  username to authenticate.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"BucketOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:974:\"BucketOptions
  describes the bucket boundaries used to create a histogram for the distribution.
  The buckets can be in a linear sequence, an exponential sequence, or each bucket
  can be specified explicitly. BucketOptions does not include the number of values
  in each bucket.A bucket has an inclusive lower bound and exclusive upper bound for
  the values that are counted for that bucket. The upper bound of a bucket must be
  strictly greater than the lower bound. The sequence of N buckets for a distribution
  consists of an underflow bucket (number 0), zero or more finite buckets (number
  1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous:
  the lower bound of bucket i (i > 0) is the same as the upper bound of bucket i -
  1. The buckets span the whole range of finite values: lower bound of the underflow
  bucket is -infinity and the upper bound of the overflow bucket is +infinity. The
  finite buckets are so-called because both bounds are finite.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"explicitBuckets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Explicit\";s:11:\"description\";s:21:\"The
  explicit buckets.\";}s:18:\"exponentialBuckets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Exponential\";s:11:\"description\";s:24:\"The
  exponential buckets.\";}s:13:\"linearBuckets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Linear\";s:11:\"description\";s:18:\"The
  linear bucket.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CollectdPayload\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"A
  collection of data points sent from a collectd-based plugin. See the collectd documentation
  for more information.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  end time of the interval.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TypedValue\";}s:11:\"description\";s:56:\"The
  measurement metadata. Example: \"process_id\" -> 12345\";s:4:\"type\";s:6:\"object\";}s:6:\"plugin\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  name of the plugin. Example: \"disk\".\";s:4:\"type\";s:6:\"string\";}s:14:\"pluginInstance\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  instance name of the plugin Example: \"hdcl\".\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  start time of the interval.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  measurement type. Example: \"memory\".\";s:4:\"type\";s:6:\"string\";}s:12:\"typeInstance\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  measurement type instance. Example: \"used\".\";s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"The
  measured values during this time interval. Each value must have a different dataSourceName.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CollectdValue\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CollectdPayloadError\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Describes
  the error status for payloads that were not written.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:124:\"Records
  the error status for the payload. If this field is present, the partial errors for
  nested values won't be populated.\";}s:5:\"index\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  zero-based index in CreateCollectdTimeSeriesRequest.collectd_payloads.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"valueErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"Records
  the error status for values that were not written due to an error.Failed payloads
  for which nothing is written will not include partial value errors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectdValueError\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CollectdValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  single data point from a collectd-based plugin.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"dataSourceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"The
  data source for the collectd value. For example there are two data sources for network
  measurements: \"rx\" and \"tx\".\";s:4:\"type\";s:6:\"string\";}s:14:\"dataSourceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  type of measurement.\";s:4:\"enum\";a:5:{i:0;s:28:\"UNSPECIFIED_DATA_SOURCE_TYPE\";i:1;s:5:\"GAUGE\";i:2;s:7:\"COUNTER\";i:3;s:6:\"DERIVE\";i:4;s:8:\"ABSOLUTE\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TypedValue\";s:11:\"description\";s:22:\"The
  measurement value.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CollectdValueError\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Describes
  the error status for values that were not written.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:39:\"Records
  the error status for the value.\";}s:5:\"index\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  zero-based index in CollectdPayload.values within the parent CreateCollectdTimeSeriesRequest.collectd_payloads.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ContentMatcher\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"Used
  to perform string matching. Currently, this matches on the exact content. In the
  future, it can be expanded to allow for regular expressions and more complex matching.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"String
  content to match\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CreateCollectdTimeSeriesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  CreateCollectdTimeSeries request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"collectdPayloads\";O:8:\"stdClass\":3:{s:11:\"description\";s:240:\"The
  collectd payloads representing the time series data. You must not include more than
  a single point for each time series, so no two payloads can have the same values
  for all of the fields plugin, plugin_instance, type, and type_instance.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CollectdPayload\";}s:4:\"type\";s:5:\"array\";}s:15:\"collectdVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  version of collectd that collected the data. Example: \"5.3.0-192.el6\".\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MonitoredResource\";s:11:\"description\";s:55:\"The
  monitored resource associated with the time series.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CreateCollectdTimeSeriesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  CreateCollectdTimeSeries response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"payloadErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"Records
  the error status for points that were not written due to an error.Failed requests
  for which nothing is written will return an error response instead.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CollectdPayloadError\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreateTimeSeriesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  CreateTimeSeries request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"timeSeries\";O:8:\"stdClass\":3:{s:11:\"description\";s:325:\"The
  new data to be added to a list of time series. Adds at most one data point to each
  of several time series. The new data point must be more recent than any other point
  in its time series. Each TimeSeries value must fully specify a unique time series
  by supplying all label values for the metric and the monitored resource.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TimeSeries\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Distribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:773:\"Distribution
  contains summary statistics for a population of values. It optionally contains a
  histogram representing the distribution of those values across a set of buckets.The
  summary statistics are the count, mean, sum of the squared deviation from the mean,
  the minimum, and the maximum of the set of population of values. The histogram is
  based on a sequence of buckets and gives a count of values that fall into each bucket.
  The boundaries of the buckets are given either explicitly or by formulas for buckets
  of fixed or exponentially increasing widths.Although it is not forbidden, it is
  generally a bad idea to include non-finite values (infinities or NaNs) in the population
  of values, as this will render the mean and sum_of_squared_deviation fields meaningless.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"bucketCounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:576:\"Required
  in the Stackdriver Monitoring API v3. The values for each bucket specified in bucket_options.
  The sum of the values in bucketCounts must equal the value in the count field of
  the Distribution object. The order of the bucket counts follows the numbering schemes
  described for the three bucket types. The underflow bucket has number 0; the finite
  buckets, if any, have numbers 1 through N-2; and the overflow bucket has number
  N-1. The size of bucket_counts must not be greater than N. If the size is less than
  N, then the remaining buckets are assigned values of zero.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"bucketOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BucketOptions\";s:11:\"description\";s:87:\"Required
  in the Stackdriver Monitoring API v3. Defines the histogram bucket boundaries.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"The
  number of values in the population. Must be non-negative. This value must equal
  the sum of the values in bucket_counts if a histogram is provided.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"mean\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  arithmetic mean of the values in the population. If count is zero then this field
  must be zero.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"range\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Range\";s:11:\"description\";s:180:\"If
  specified, contains the range of the population values. The field must not be present
  if the count is zero. This field is presently ignored by the Stackdriver Monitoring
  API v3.\";}s:21:\"sumOfSquaredDeviation\";O:8:\"stdClass\":3:{s:11:\"description\";s:312:\"The
  sum of squared deviations from the mean of the values in the population. For values
  x_i this is:\nSum[i=1..n]((x_i - mean)^2)\nKnuth, \"The Art of Computer Programming\",
  Vol. 2, page 323, 3rd edition describes Welford's method for accumulating this sum
  in one pass.If count is zero then this field must be zero.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:341:\"A
  generic empty message that you can re-use to avoid defining duplicated empty messages
  in your APIs. A typical example is to use it as the request or the response type
  of an API method. For instance:\nservice Foo {\n  rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n}\nThe JSON representation for Empty is empty
  JSON object {}.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"Explicit\";O:8:\"stdClass\":3:{s:11:\"description\";s:406:\"Specifies
  a set of buckets with arbitrary widths.There are size(bounds) + 1 (= N) buckets.
  Bucket i has the following boundaries:Upper bound (0 <= i < N-1): boundsi  Lower
  bound (1 <= i < N); boundsi - 1The bounds field must contain at least one element.
  If bounds has only one element, then there are no finite buckets, and that single
  element is the common boundary of the overflow and underflow buckets.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"bounds\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  values must be monotonically increasing.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Exponential\";O:8:\"stdClass\":3:{s:11:\"description\";s:410:\"Specifies
  an exponential sequence of buckets that have a width that is proportional to the
  value of the lower bound. Each bucket represents a constant relative uncertainty
  on a specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets.
  Bucket i has the following boundaries:Upper bound (0 <= i < N-1): scale * (growth_factor
  ^ i).  Lower bound (1 <= i < N): scale * (growth_factor ^ (i - 1)).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"growthFactor\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Must
  be greater than 1.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:16:\"numFiniteBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Must
  be greater than 0.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"scale\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Must
  be greater than 0.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Field\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  single field of a message type.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"cardinality\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  field cardinality.\";s:4:\"enum\";a:4:{i:0;s:19:\"CARDINALITY_UNKNOWN\";i:1;s:20:\"CARDINALITY_OPTIONAL\";i:2;s:20:\"CARDINALITY_REQUIRED\";i:3;s:20:\"CARDINALITY_REPEATED\";}s:4:\"type\";s:6:\"string\";}s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  string value of the default value of this field. Proto2 syntax only.\";s:4:\"type\";s:6:\"string\";}s:8:\"jsonName\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  field JSON name.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  field type.\";s:4:\"enum\";a:19:{i:0;s:12:\"TYPE_UNKNOWN\";i:1;s:11:\"TYPE_DOUBLE\";i:2;s:10:\"TYPE_FLOAT\";i:3;s:10:\"TYPE_INT64\";i:4;s:11:\"TYPE_UINT64\";i:5;s:10:\"TYPE_INT32\";i:6;s:12:\"TYPE_FIXED64\";i:7;s:12:\"TYPE_FIXED32\";i:8;s:9:\"TYPE_BOOL\";i:9;s:11:\"TYPE_STRING\";i:10;s:10:\"TYPE_GROUP\";i:11;s:12:\"TYPE_MESSAGE\";i:12;s:10:\"TYPE_BYTES\";i:13;s:11:\"TYPE_UINT32\";i:14;s:9:\"TYPE_ENUM\";i:15;s:13:\"TYPE_SFIXED32\";i:16;s:13:\"TYPE_SFIXED64\";i:17;s:11:\"TYPE_SINT32\";i:18;s:11:\"TYPE_SINT64\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  field name.\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  field number.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"oneofIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"The
  index of the field type in Type.oneofs, for message or enumeration types. The first
  type has index 1; zero means the type is not in the list.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"options\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  protocol buffer options.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Option\";}s:4:\"type\";s:5:\"array\";}s:6:\"packed\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Whether
  to use alternative packed wire representation.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"typeUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"The
  field type URL, without the scheme, for message or enumeration types. Example: \"type.googleapis.com/google.protobuf.Timestamp\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Group\";O:8:\"stdClass\":3:{s:11:\"description\";s:1457:\"The
  description of a dynamic collection of monitored resources. Each group has a filter
  that is matched against monitored resources and their associated metadata. If a
  group's filter matches an available monitored resource, then that resource is a
  member of that group. Groups can contain any number of monitored resources, and
  each monitored resource can be a member of any number of groups.Groups can be nested
  in parent-child hierarchies. The parentName field identifies an optional parent
  for each group. If a group has a parent, then the only monitored resources available
  to be matched by the group's filter are the resources contained in the parent group.
  In other words, a group contains the monitored resources that match its filter and
  the filters of all the group's ancestors. A group without a parent can contain any
  monitored resource.For example, consider an infrastructure running a set of instances
  with two user-defined tags: \"environment\" and \"role\". A parent group has a filter,
  environment=\"production\". A child of that parent group has a filter, role=\"transcoder\".
  The parent group contains all instances in the production environment, regardless
  of their roles. The child group contains instances that have the transcoder role
  and are in the production environment.The monitored resources contained in a group
  can change at any moment, depending on what resources exist and what filters are
  associated with the group and its ancestors.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"A
  user-assigned name for this group, used only for display purposes.\";s:4:\"type\";s:6:\"string\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  filter used to determine which monitored resources belong to this group.\";s:4:\"type\";s:6:\"string\";}s:9:\"isCluster\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"If
  true, the members of this group are considered to be a cluster. The system can perform
  additional analysis on groups that are clusters.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:294:\"Output
  only. The name of this group. The format is \"projects/{project_id_or_number}/groups/{group_id}\".
  When creating a group, this field is ignored and a new name is created consisting
  of the project specified in the call to CreateGroup and a unique {group_id} that
  is generated automatically.\";s:4:\"type\";s:6:\"string\";}s:10:\"parentName\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"The
  name of the group's parent, if it has one. The format is \"projects/{project_id_or_number}/groups/{group_id}\".
  For groups with no parent, parentName is the empty string, \"\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"HttpCheck\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Information
  involved in an HTTP/HTTPS uptime check request.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"authInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/BasicAuthentication\";s:11:\"description\";s:88:\"The
  authentication information. Optional when creating an HTTP check; defaults to empty.\";}s:7:\"headers\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:427:\"The
  list of headers to send as part of the uptime check request. If two headers have
  the same key and different values, they should be entered as a single header, with
  the value being a comma-separated list of all the desired values as described at
  https://www.w3.org/Protocols/rfc2616/rfc2616.txt (page 31). Entering two separate
  headers with the same key in a Create call will cause the first to be overwritten
  by the second.\";s:4:\"type\";s:6:\"object\";}s:11:\"maskHeaders\";O:8:\"stdClass\":2:{s:11:\"description\";s:358:\"Boolean
  specifiying whether to encrypt the header information. Encryption should be specified
  for any headers related to authentication that you do not wish to be seen when retrieving
  the configuration. The server will be responsible for encrypting the headers. On
  Get/List calls, if mask_headers is set to True then the headers will be obscured
  with ******.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"The
  path to the page to run the check against. Will be combined with the host (specified
  within the MonitoredResource) and port to construct the full URL. Optional (defaults
  to \"/\").\";s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":3:{s:11:\"description\";s:206:\"The
  port to the page to run the check against. Will be combined with host (specified
  within the MonitoredResource) and path to construct the full URL. Optional (defaults
  to 80 without SSL, or 443 with SSL).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"useSsl\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"If
  true, use HTTPS instead of HTTP to run the check.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:15:\"LabelDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  description of a label.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"A
  human-readable description for the label.\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  label key.\";s:4:\"type\";s:6:\"string\";}s:9:\"valueType\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  type of data that can be assigned to the label.\";s:4:\"enum\";a:3:{i:0;s:6:\"STRING\";i:1;s:4:\"BOOL\";i:2;s:5:\"INT64\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Linear\";O:8:\"stdClass\":3:{s:11:\"description\";s:382:\"Specifies
  a linear sequence of buckets that all have the same width (except overflow and underflow).
  Each bucket represents a constant absolute uncertainty on the specific value in
  the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following
  boundaries:Upper bound (0 <= i < N-1): offset + (width * i).  Lower bound (1 <=
  i < N): offset + (width * (i - 1)).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"numFiniteBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Must
  be greater than 0.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Lower
  bound of the first bucket.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Must
  be greater than 0.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListGroupMembersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  ListGroupMembers response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  set of monitored resources in the group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/MonitoredResource\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"If
  there are more results than have been returned, then this field is set to a non-empty
  value. To see the additional results, use that value as pageToken in the next call
  to this method.\";s:4:\"type\";s:6:\"string\";}s:9:\"totalSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of elements matching this request.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListGroupsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  ListGroups response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"group\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  groups that match the specified filters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"If
  there are more results than have been returned, then this field is set to a non-empty
  value. To see the additional results, use that value as pageToken in the next call
  to this method.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListMetricDescriptorsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  ListMetricDescriptors response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"metricDescriptors\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  metric descriptors that are available to the project and that match the value of
  filter, if present.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/MetricDescriptor\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"If
  there are more results than have been returned, then this field is set to a non-empty
  value. To see the additional results, use that value as pageToken in the next call
  to this method.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:40:\"ListMonitoredResourceDescriptorsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  ListMonitoredResourceDescriptors response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"If
  there are more results than have been returned, then this field is set to a non-empty
  value. To see the additional results, use that value as pageToken in the next call
  to this method.\";s:4:\"type\";s:6:\"string\";}s:19:\"resourceDescriptors\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  monitored resource descriptors that are available to this project and that match
  filter, if present.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/MonitoredResourceDescriptor\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListTimeSeriesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  ListTimeSeries response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"If
  there are more results than have been returned, then this field is set to a non-empty
  value. To see the additional results, use that value as pageToken in the next call
  to this method.\";s:4:\"type\";s:6:\"string\";}s:10:\"timeSeries\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"One
  or more time series that match the filter included in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TimeSeries\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ListUptimeCheckConfigsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  protocol for the ListUptimeCheckConfigs response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:309:\"This
  field represents the pagination token to retrieve the next page of results. If the
  value is empty, it means no further results for the request. To retrieve the next
  page of results, the value of the next_page_token is passed to the subsequent List
  method call (in the request message's page_token field).\";s:4:\"type\";s:6:\"string\";}s:18:\"uptimeCheckConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  returned uptime check configurations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/UptimeCheckConfig\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListUptimeCheckIpsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  protocol for the ListUptimeCheckIps response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:349:\"This
  field represents the pagination token to retrieve the next page of results. If the
  value is empty, it means no further results for the request. To retrieve the next
  page of results, the value of the next_page_token is passed to the subsequent List
  method call (in the request message's page_token field). NOTE: this field is not
  yet implemented\";s:4:\"type\";s:6:\"string\";}s:14:\"uptimeCheckIps\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  returned list of IP addresses (including region and location) that the checkers
  run from.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UptimeCheckIp\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Metric\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"A
  specific metric, identified by specifying values for all of the labels of a MetricDescriptor.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:126:\"The
  set of label values that uniquely identify this metric. All labels listed in the
  MetricDescriptor must be assigned values.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"An
  existing metric type, see google.api.MetricDescriptor. For example, custom.googleapis.com/invoice/paid/amount.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"MetricDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"Defines
  a metric type and its schema. Once a metric descriptor is created, deleting or altering
  it stops data collection and makes the metric type's existing data unusable.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"A
  detailed description of the metric, which can be used in documentation.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:271:\"A
  concise name for the metric, which can be displayed in user interfaces. Use sentence
  case without an ending period, for example \"Request count\". This field is optional
  but it is recommended to be set for any metrics associated with user-visible concepts,
  such as Quota.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:316:\"The
  set of labels that can be used to describe a specific instance of this metric type.
  For example, the appengine.googleapis.com/http/server/response_latencies metric
  type has a label for the HTTP response code, response_code, so you can look at latencies
  for successful responses or just for responses that failed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LabelDescriptor\";}s:4:\"type\";s:5:\"array\";}s:10:\"metricKind\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"Whether
  the metric records instantaneous values, changes to a value, etc. Some combinations
  of metric_kind and value_type might not be supported.\";s:4:\"enum\";a:4:{i:0;s:23:\"METRIC_KIND_UNSPECIFIED\";i:1;s:5:\"GAUGE\";i:2;s:5:\"DELTA\";i:3;s:10:\"CUMULATIVE\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  resource name of the metric descriptor.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:327:\"The
  metric type, including its DNS name prefix. The type is not URL-encoded. All user-defined
  custom metric types have the DNS name custom.googleapis.com. Metric types should
  use a natural hierarchical grouping. For example:\n\"custom.googleapis.com/invoice/paid/amount\"\n\"appengine.googleapis.com/http/server/response_latencies\"\n\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:1336:\"The
  unit in which the metric value is reported. It is only applicable if the value_type
  is INT64, DOUBLE, or DISTRIBUTION. The supported units are a subset of The Unified
  Code for Units of Measure (http://unitsofmeasure.org/ucum.html) standard:Basic units
  (UNIT)\nbit bit\nBy byte\ns second\nmin minute\nh hour\nd dayPrefixes (PREFIX)\nk
  kilo (10**3)\nM mega (10**6)\nG giga (10**9)\nT tera (10**12)\nP peta (10**15)\nE
  exa (10**18)\nZ zetta (10**21)\nY yotta (10**24)\nm milli (10**-3)\nu micro (10**-6)\nn
  nano (10**-9)\np pico (10**-12)\nf femto (10**-15)\na atto (10**-18)\nz zepto (10**-21)\ny
  yocto (10**-24)\nKi kibi (2**10)\nMi mebi (2**20)\nGi gibi (2**30)\nTi tebi (2**40)GrammarThe
  grammar includes the dimensionless unit 1, such as 1/s.The grammar also includes
  these connectors:\n/ division (as an infix operator, e.g. 1/s).\n. multiplication
  (as an infix operator, e.g. GBy.d)The grammar for a unit is as follows:\nExpression
  = Component { \".\" Component } { \"/\" Component } ;\n\nComponent = [ PREFIX ]
  UNIT [ Annotation ]\n          | Annotation\n          | \"1\"\n          ;\n\nAnnotation
  = \"{\" NAME \"}\" ;\nNotes:\nAnnotation is just a comment if it follows a UNIT
  and is  equivalent to 1 if it is used alone. For examples,  {requests}/s == 1/s,
  By{transmitted}/s == By/s.\nNAME is a sequence of non-blank printable ASCII characters
  not  containing '{' or '}'.\";s:4:\"type\";s:6:\"string\";}s:9:\"valueType\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"Whether
  the measurement is an integer, a floating-point number, etc. Some combinations of
  metric_kind and value_type might not be supported.\";s:4:\"enum\";a:7:{i:0;s:22:\"VALUE_TYPE_UNSPECIFIED\";i:1;s:4:\"BOOL\";i:2;s:5:\"INT64\";i:3;s:6:\"DOUBLE\";i:4;s:6:\"STRING\";i:5;s:12:\"DISTRIBUTION\";i:6;s:5:\"MONEY\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MonitoredResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:711:\"An
  object representing a resource that can be used for monitoring, logging, billing,
  or other purposes. Examples include virtual machine instances, databases, and storage
  devices such as disks. The type field identifies a MonitoredResourceDescriptor object
  that describes the resource's schema. Information in the labels field identifies
  the actual resource and its attributes according to the schema. For example, a particular
  Compute Engine VM instance could be represented by the following object, because
  the MonitoredResourceDescriptor for \"gce_instance\" has labels \"instance_id\"
  and \"zone\":\n{ \"type\": \"gce_instance\",\n  \"labels\": { \"instance_id\": \"12345678901234\",\n
  \             \"zone\": \"us-central1-a\" }}\n\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:191:\"Required.
  Values for all of the labels listed in the associated monitored resource descriptor.
  For example, Compute Engine VM instances use the labels \"project_id\", \"instance_id\",
  and \"zone\".\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"Required.
  The monitored resource type. This field must match the type field of a MonitoredResourceDescriptor
  object. For example, the type of a Compute Engine VM instance is gce_instance.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"MonitoredResourceDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:481:\"An
  object that describes the schema of a MonitoredResource object using a type name
  and a set of labels. For example, the monitored resource descriptor for Google Compute
  Engine VM instances has a type of \"gce_instance\" and specifies the use of the
  labels \"instance_id\" and \"zone\" to identify particular VM instances.Different
  APIs can support different monitored resource types. APIs generally provide a list
  method that returns the monitored resource descriptors used by the API.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Optional.
  A detailed description of the monitored resource type that might be used in documentation.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:224:\"Optional.
  A concise name for the monitored resource type that might be displayed in user interfaces.
  It should be a Title Cased Noun Phrase, without any article or other determiners.
  For example, \"Google Cloud SQL Database\".\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:203:\"Required.
  A set of labels used to describe instances of this monitored resource type. For
  example, an individual Google Cloud SQL database is identified by values for the
  labels \"database_id\" and \"zone\".\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LabelDescriptor\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:389:\"Optional.
  The resource name of the monitored resource descriptor: \"projects/{project_id}/monitoredResourceDescriptors/{type}\"
  where {type} is the value of the type field in this object and {project_id} is a
  project ID that provides API-specific context for accessing the type. APIs that
  do not use project information can use the resource name format \"monitoredResourceDescriptors/{type}\".\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"Required.
  The monitored resource type. For example, the type \"cloudsql_database\" represents
  databases in Google Cloud SQL. The maximum length of this value is 256 characters.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Option\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"A
  protocol buffer option, which can be attached to a message, field, enumeration,
  etc.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:228:\"The
  option's name. For protobuf built-in options (options defined in descriptor.proto),
  this is the short name. For example, \"map_entry\". For custom options, it should
  be the fully-qualified name. For example, \"google.api.http\".\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:268:\"The
  option's value packed in an Any message. If the value is a primitive, the corresponding
  wrapper type defined in google/protobuf/wrappers.proto should be used. If the value
  is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value
  type.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Point\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"A
  single data point in a time series.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"interval\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";s:11:\"description\";s:532:\"The
  time interval to which the data point applies. For GAUGE metrics, only the end time
  of the interval is used. For DELTA metrics, the start and end time should specify
  a non-zero interval, with subsequent points specifying contiguous and non-overlapping
  intervals. For CUMULATIVE metrics, the start and end time should specify a non-zero
  interval, with subsequent points specifying the same start time and increasing end
  times, until an event resets the cumulative value to zero and sets a new start time
  for the following points.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TypedValue\";s:11:\"description\";s:28:\"The
  value of the data point.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Range\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  range of the population values.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"max\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  maximum of the population values.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"min\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  minimum of the population values.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ResourceGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"The
  resource submessage for group checks. It can be used instead of a monitored resource,
  when multiple resources are being monitored.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"groupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"The
  group of resources being monitored. Should be only the group_id, not projects/<project_id>/groups/<group_id>.\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  resource type of the group members.\";s:4:\"enum\";a:3:{i:0;s:25:\"RESOURCE_TYPE_UNSPECIFIED\";i:1;s:8:\"INSTANCE\";i:2;s:21:\"AWS_ELB_LOAD_BALANCER\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SourceContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"SourceContext
  represents information about the source of a protobuf element, like the file in
  which it is defined.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"fileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"The
  path-qualified name of the .proto file that contained the associated protobuf element.
  For example: \"google/protobuf/source_context.proto\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2337:\"The
  Status type defines a logical error model that is suitable for different programming
  environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc).
  The error model is designed to be:\nSimple to use and understand for most users\nFlexible
  enough to meet unexpected needsOverviewThe Status message contains three pieces
  of data: error code, error message, and error details. The error code should be
  an enum value of google.rpc.Code, but it may accept additional error codes if needed.
  The error message should be a developer-facing English message that helps developers
  understand and resolve the error. If a localized user-facing error message is needed,
  put the localized message in the error details or localize it in the client. The
  optional error details may contain arbitrary information about the error. There
  is a predefined set of error detail types in the package google.rpc that can be
  used for common error conditions.Language mappingThe Status message is the logical
  representation of the error model, but it is not necessarily the actual wire format.
  When the Status message is exposed in different client libraries and different wire
  protocols, it can be mapped differently. For example, it will likely be mapped to
  some exceptions in Java, but more likely mapped to some error codes in C.Other usesThe
  error model and the Status message can be used in a variety of environments, either
  with or without APIs, to provide a consistent developer experience across different
  environments.Example uses of this error model include:\nPartial errors. If a service
  needs to return partial errors to the client, it may embed the Status in the normal
  response to indicate the partial errors.\nWorkflow errors. A typical workflow has
  multiple steps. Each step may have a Status message for error reporting.\nBatch
  operations. If a client uses batch request and batch response, the Status message
  should be used directly inside batch response, one for each error sub-response.\nAsynchronous
  operations. If an API call embeds asynchronous operation results in its response,
  the status of those operations should be represented directly using the Status message.\nLogging.
  If some API errors are stored in logs, the message Status could be used directly
  after any stripping needed for security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"A
  list of messages that carry the error details. There is a common set of message
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any user-facing error
  message should be localized and sent in the google.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"TcpCheck\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Information
  required for a TCP uptime check request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"port\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"The
  port to the page to run the check against. Will be combined with host (specified
  within the MonitoredResource) to construct the full URL. Required.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"TimeInterval\";O:8:\"stdClass\":3:{s:11:\"description\";s:170:\"A
  time interval extending just after a start time through an end time. If the start
  time is the same as the end time, then the interval represents a single point in
  time.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Required.
  The end of the time interval.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"Optional.
  The beginning of the time interval. The default value for the start time is the
  end time. The start time must not be later than the end time.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TimeSeries\";O:8:\"stdClass\":3:{s:11:\"description\";s:255:\"A
  collection of data points that describes the time-varying values of a metric. A
  time series is identified by a combination of a fully-specified monitored resource
  and a fully-specified metric. This type is used for both listing and creating time
  series.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"metric\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Metric\";s:11:\"description\";s:81:\"The
  associated metric. A fully-specified metric used to identify the time series.\";}s:10:\"metricKind\";O:8:\"stdClass\":3:{s:11:\"description\";s:521:\"The
  metric kind of the time series. When listing time series, this metric kind might
  be different from the metric kind of the associated metric if this time series is
  an alignment or reduction of other time series.When creating a time series, this
  field is optional. If present, it must be the same as the metric kind of the associated
  metric. If the associated metric's descriptor must be auto-created, then this field
  specifies the metric kind of the new descriptor and must be either GAUGE (the default)
  or CUMULATIVE.\";s:4:\"enum\";a:4:{i:0;s:23:\"METRIC_KIND_UNSPECIFIED\";i:1;s:5:\"GAUGE\";i:2;s:5:\"DELTA\";i:3;s:10:\"CUMULATIVE\";}s:4:\"type\";s:6:\"string\";}s:6:\"points\";O:8:\"stdClass\":3:{s:11:\"description\";s:456:\"The
  data points of this time series. When listing time series, the order of the points
  is specified by the list method.When creating a time series, this field must contain
  exactly one point and the point's type must be the same as the value type of the
  associated metric. If the associated metric's descriptor must be auto-created, then
  the value type of the descriptor is determined by the point's type, which must be
  BOOL, INT64, DOUBLE, or DISTRIBUTION.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Point\";}s:4:\"type\";s:5:\"array\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MonitoredResource\";s:11:\"description\";s:122:\"The
  associated monitored resource. Custom metrics can use only certain monitored resource
  types in their time series data.\";}s:9:\"valueType\";O:8:\"stdClass\":3:{s:11:\"description\";s:340:\"The
  value type of the time series. When listing time series, this value type might be
  different from the value type of the associated metric if this time series is an
  alignment or reduction of other time series.When creating a time series, this field
  is optional. If present, it must be the same as the type of the data in the points
  field.\";s:4:\"enum\";a:7:{i:0;s:22:\"VALUE_TYPE_UNSPECIFIED\";i:1;s:4:\"BOOL\";i:2;s:5:\"INT64\";i:3;s:6:\"DOUBLE\";i:4;s:6:\"STRING\";i:5;s:12:\"DISTRIBUTION\";i:6;s:5:\"MONEY\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  protocol buffer message type.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  list of fields.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Field\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  fully qualified message name.\";s:4:\"type\";s:6:\"string\";}s:6:\"oneofs\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  list of types appearing in oneof definitions in this type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"options\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  protocol buffer options.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Option\";}s:4:\"type\";s:5:\"array\";}s:13:\"sourceContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SourceContext\";s:11:\"description\";s:19:\"The
  source context.\";}s:6:\"syntax\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  source syntax.\";s:4:\"enum\";a:2:{i:0;s:13:\"SYNTAX_PROTO2\";i:1;s:13:\"SYNTAX_PROTO3\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TypedValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  single strongly-typed value.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"boolValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"A
  Boolean value: true or false.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"distributionValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Distribution\";s:11:\"description\";s:21:\"A
  distribution value.\";}s:11:\"doubleValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:159:\"A
  64-bit double-precision floating-point number. Its magnitude is approximately &plusmn;10<sup>&plusmn;300</sup>
  and it has 16 significant digits of precision.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"int64Value\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"A
  64-bit integer. Its range is approximately &plusmn;9.2x10<sup>18</sup>.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"stringValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"A
  variable-length string value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"UptimeCheckConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"This
  message configures which resources and services to monitor for availability.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:15:\"contentMatchers\";O:8:\"stdClass\":3:{s:11:\"description\";s:321:\"The
  expected content on the page the check is run against. Currently, only the first
  entry in the list is supported, and other entries will be ignored. The server will
  look for an exact match of the string in the page response's content. This field
  is optional and should only be specified if a content match is required.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ContentMatcher\";}s:4:\"type\";s:5:\"array\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:207:\"A
  human-friendly name for the uptime check configuration. The display name should
  be unique within a Stackdriver Account in order to make it easier to identify; however,
  uniqueness is not enforced. Required.\";s:4:\"type\";s:6:\"string\";}s:9:\"httpCheck\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/HttpCheck\";s:11:\"description\";s:59:\"Contains
  information needed to make an HTTP or HTTPS check.\";}s:17:\"monitoredResource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MonitoredResource\";s:11:\"description\";s:57:\"The
  monitored resource associated with the configuration.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:283:\"A
  unique resource name for this UptimeCheckConfig. The format is:projects/[PROJECT_ID]/uptimeCheckConfigs/[UPTIME_CHECK_ID].This
  field should be omitted when creating the uptime check configuration; on create,
  the resource name is assigned by the server and included in the response.\";s:4:\"type\";s:6:\"string\";}s:6:\"period\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"How
  often the uptime check is performed. Currently, only 1, 5, 10, and 15 minutes are
  supported. Required.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:13:\"resourceGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResourceGroup\";s:11:\"description\";s:53:\"The
  group resource associated with the configuration.\";}s:15:\"selectedRegions\";O:8:\"stdClass\":3:{s:11:\"description\";s:264:\"The
  list of regions from which the check will be run. If this field is specified, enough
  regions to include a minimum of 3 locations must be provided, or an error message
  is returned. Not specifying this field will result in uptime checks running from
  all regions.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:18:\"REGION_UNSPECIFIED\";i:1;s:3:\"USA\";i:2;s:6:\"EUROPE\";i:3;s:13:\"SOUTH_AMERICA\";i:4;s:12:\"ASIA_PACIFIC\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"tcpCheck\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TcpCheck\";s:11:\"description\";s:48:\"Contains
  information needed to make a TCP check.\";}s:7:\"timeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  maximum amount of time to wait for the request to complete (must be between 1 and
  60 seconds). Required.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"UptimeCheckIp\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Contains
  the region, location, and list of IP addresses where checkers in the location run
  from.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:327:\"The
  IP address from which the uptime check originates. This is a full IP address (not
  an IP address range). Most IP addresses, as of this publication, are in IPv4 format;
  however, one should not rely on the IP addresses being in IPv4 format indefinitely
  and should support interpreting this field in either IPv4 or IPv6 format.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:186:\"A
  more specific location within the region that typically encodes a particular city/town/metro
  (and its containing state/province or country) within the broader umbrella region
  category.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  broad region category in which the IP address is located.\";s:4:\"enum\";a:5:{i:0;s:18:\"REGION_UNSPECIFIED\";i:1;s:3:\"USA\";i:2;s:6:\"EUROPE\";i:3;s:13:\"SOUTH_AMERICA\";i:4;s:12:\"ASIA_PACIFIC\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
